{
  "swagger": "2.0",
  "info": {
    "title": "Tribal",
    "description": "Tribal Edge modules, such as Tribal Admissions, provide staff and students the tools they need to succeed in the world of education. Connect to Tribal Edge modules using the Tribal Connector to manage information, create clearance checks for applications, and much more.",
    "version": "v1",
    "contact": {
      "name": "Tribal Group",
      "url": "https://www.tribalgroup.com",
      "email": "servicedesk@tribalgroup.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tribalgroup.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tribalgroup.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management"
    }
  ],
  "host": "api.tribaledge.com",
  "schemes": [
    "https"
  ],
  "basePath": "/emea/",
  "paths": {
    "/api/options/{entityCode}/{fieldCode}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of translations",
        "summary": "List of translations",
        "operationId": "GetTranslations",
        "parameters": [
          {
            "name": "entityCode",
            "x-ms-summary": "The entity code",
            "description": "The entity code",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fieldCode",
            "x-ms-summary": "The code for the field",
            "description": "The code for the field",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "take",
            "x-ms-summary": "The number of records to request",
            "description": "The number of records to request",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 999
          },
          {
            "name": "skip",
            "x-ms-summary": "The number of records to skip",
            "description": "The number of records to skip",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "required": [ "collection" ],
              "properties": {
                "collection": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Translation"
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/referencedata/{entityName}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of reference data",
        "summary": "List of reference data",
        "operationId": "GetRefDataTranslations",
        "parameters": [
          {
            "name": "entityName",
            "x-ms-summary": "The entity name",
            "description": "The entity name",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "take",
            "x-ms-summary": "The number of records to request",
            "description": "The number of records to request",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 999
          },
          {
            "name": "skip",
            "x-ms-summary": "The number of records to skip",
            "description": "The number of records to skip",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "required": [ "collection" ],
              "properties": {
                "collection": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ReferenceData"
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },

    "/actions/entities/{actionType}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of the entity types available",
        "summary": "List of the entity types available",
        "operationId": "ActionEntities",
        "parameters": [
          {
            "name": "actionType",
            "x-ms-summary": "The name of the event type",
            "description": "The name of the event type",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "parentEntity",
            "x-ms-summary": "The name of the parent entity",
            "description": "The name of the parent entity",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/actions/parents/entities/{actionType}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of the entity type parents available",
        "summary": "List of the entity type parents available",
        "operationId": "ActionParentEntities",
        "parameters": [
          {
            "name": "actionType",
            "x-ms-summary": "The name of the event type",
            "description": "The name of the event type",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/actions/schema/{actionType}/": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "Gets the dynamic schema",
        "summary": "Gets the dynamic schema",
        "operationId": "ActionSchema",
        "parameters": [
          {
            "name": "actionType",
            "x-ms-summary": "The action type being performed",
            "description": "The action type being performed",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "entity",
            "x-ms-summary": "The name of the entity type",
            "description": "The name of the entity type",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "parentEntity",
            "x-ms-summary": "The name of the parent entity",
            "description": "The name of the parent entity",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "schemaType",
            "x-ms-summary": "The type of the schema returned",
            "description": "The type of the schema returned",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },

    "/entities/parents/{entityType}/": {
      "post": {
        "description": "Create an entity",
        "x-ms-visibility": "important",
        "summary": "Create an entity",
        "operationId": "CreateEntity",
        "consumes": [ "application/json" ],
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "entityType",
            "x-ms-summary": "Entity",
            "description": "The entity being created",
            "x-ms-dynamic-values": {
              "operationId": "ActionEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "actionType": "Create"
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "x-correlation-id",
            "x-ms-summary": "Correlation Id",
            "description": "Correlation Id added in the x-correlation-id header",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "actionType": "Create",
                  "entity": {
                    "parameter": "entityType"
                  },
                  "schemaType": "Body"
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "ActionSchema",
                "parameters": {
                  "actionType": {
                    "value": "Create"
                  },
                  "entity": {
                    "parameterReference": "entityType"
                  },
                  "schemaType": {
                    "value": "Body"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "entity": {
                    "parameter": "entityType"
                  },
                  "actionType": "Create",
                  "schemaType": "Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "entity": {
                    "parameter": "entityType"
                  },
                  "actionType": "ReadCollection",
                  "parentEntity": "",
                  "schemaType": "Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "Read parent entity collection",
        "operationId": "ReadEntities",
        "description": "Read parent entity collection",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "entityType",
            "x-ms-summary": "Entity",
            "description": "The entity being read",
            "x-ms-dynamic-values": {
              "operationId": "ActionEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "actionType": "ReadCollection",
                "parentEntity": ""
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "x-ms-summary": "Records to skip",
            "x-ms-visibility": "important",
            "description": "The number of records to skip",
            "in": "query",
            "default": 0,
            "required": true,
            "type": "integer"
          },
          {
            "name": "take",
            "x-ms-summary": "Records to take",
            "x-ms-visibility": "important",
            "description": "The number of records to take",
            "in": "query",
            "default": 10,
            "required": true,
            "type": "integer"
          },
          {
            "name": "filter",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "important",
            "description": "Filter the records using Open Data Protocol syntax",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/entities/{entityType}/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "entity": {
                    "parameter": "entityType"
                  },
                  "actionType": "Read",
                  "parentEntity": "",
                  "schemaType": "Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "Read an entity",
        "operationId": "ReadEntity",
        "description": "Read an entity",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "entityType",
            "x-ms-summary": "Entity",
            "description": "The entity being read",
            "x-ms-dynamic-values": {
              "operationId": "ActionEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "actionType": "Read",
                "parentEntity": ""
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "x-ms-summary": "Id",
            "description": "The id of the entity",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "description": "Update an entity",
        "x-ms-visibility": "important",
        "summary": "Update an entity",
        "operationId": "UpdateEntity",
        "consumes": [ "application/json" ],
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "entityType",
            "x-ms-summary": "Entity",
            "description": "The entity being updated",
            "x-ms-dynamic-values": {
              "operationId": "ActionEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "actionType": "Update"
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "id",
            "x-ms-summary": "Id",
            "description": "The id of the entity",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-correlation-id",
            "x-ms-summary": "Correlation Id",
            "description": "Correlation id added in the x-correlation-id header",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "actionType": "Update",
                  "entity": {
                    "parameter": "entityType"
                  },
                  "schemaType": "Body"
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "ActionSchema",
                "parameters": {
                  "actionType": {
                    "value": "Update"
                  },
                  "entity": {
                    "parameterReference": "entityType"
                  },
                  "schemaType": {
                    "value": "Body"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "entity": {
                    "parameter": "entityType"
                  },
                  "actionType": "Update",
                  "schemaType": "Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "responses": {
          "204": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "Delete an entity",
        "operationId": "DeleteEntity",
        "description": "Delete an entity",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "entityType",
            "x-ms-summary": "Entity",
            "description": "The entity being deleted",
            "x-ms-dynamic-values": {
              "operationId": "ActionEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "actionType": "Delete",
                "parentEntity": ""
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "x-ms-summary": "Id",
            "description": "The id of the entity",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-correlation-id",
            "x-ms-summary": "Correlation Id",
            "description": "Correlation Id added in the x-correlation-id header",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/entities/children/{parentEntity}/{parentId}/{childEntity}": {
      "post": {
        "description": "Create a child entity",
        "x-ms-visibility": "important",
        "summary": "Create a child entity",
        "operationId": "CreateChildEntity",
        "consumes": [ "application/json" ],
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "parentEntity",
            "x-ms-summary": "Parent Entity",
            "description": "The parent entity the child is being created on",
            "x-ms-dynamic-values": {
              "operationId": "ActionParentEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "actionType": "Create"
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "parentId",
            "x-ms-summary": "Parent Entity Id",
            "description": "The unique identifier for the parent entity the child is being created on",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "childEntity",
            "x-ms-summary": "Child Entity",
            "description": "The child entity being created",
            "x-ms-dynamic-values": {
              "operationId": "ActionEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "actionType": "Create",
                "parentEntity": {
                  "parameter": "parentEntity"
                }
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "x-correlation-id",
            "x-ms-summary": "Correlation Id",
            "description": "Correlation Id added in the x-correlation-id header",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "actionType": "Create",
                  "entity": {
                    "parameter": "childEntity"
                  },
                  "parentEntity": {
                    "parameter": "parentEntity"
                  },
                  "schemaType": "Body"
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "ActionSchema",
                "parameters": {
                  "actionType": {
                    "value": "Create"
                  },
                  "entity": {
                    "parameterReference": "childEntity"
                  },
                  "parentEntity": {
                    "parameterReference": "parentEntity"
                  },
                  "schemaType": {
                    "value": "Body"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "entity": {
                    "parameter": "childEntity"
                  },
                  "actionType": "Create",
                  "parentEntity": {
                    "parameter": "parentEntity"
                  },
                  "schemaType": "Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "entity": {
                    "parameter": "childEntity"
                  },
                  "actionType": "ReadCollection",
                  "parentEntity": {
                    "parameter": "parentEntity"
                  },
                  "schemaType": "Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "Read child entity collection",
        "operationId": "ReadChildEntities",
        "description": "Read child entity collection",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "parentEntity",
            "x-ms-summary": "Parent Entity",
            "description": "The parent entity the child is being read",
            "x-ms-dynamic-values": {
              "operationId": "ActionParentEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "actionType": "ReadCollection"
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "parentId",
            "x-ms-summary": "Parent Entity Id",
            "description": "The unique identifier for the parent entity the child is being created on",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "childEntity",
            "x-ms-summary": "Child Entities",
            "description": "The child entities being read",
            "x-ms-dynamic-values": {
              "operationId": "ActionEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "actionType": "Read",
                "parentEntity": {
                  "parameter": "parentEntity"
                }
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "skip",
            "x-ms-summary": "Records to skip",
            "x-ms-visibility": "important",
            "description": "The number of records to skip",
            "in": "query",
            "default": 0,
            "required": true,
            "type": "integer"
          },
          {
            "name": "take",
            "x-ms-summary": "Records to take",
            "x-ms-visibility": "important",
            "description": "The number of records to take",
            "in": "query",
            "default": 10,
            "required": true,
            "type": "integer"
          },
          {
            "name": "filter",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "important",
            "description": "Filter the records using Open Data Protocol syntax",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/entities/children/{parentEntity}/{parentId}/{childEntity}/{childId}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "entity": {
                    "parameter": "childEntity"
                  },
                  "actionType": "Read",
                  "parentEntity": {
                    "parameter": "parentEntity"
                  },
                  "schemaType": "Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "Read a child entity",
        "operationId": "ReadChildEntity",
        "description": "Read a child entity",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "parentEntity",
            "x-ms-summary": "Parent Entity",
            "description": "The parent entity the child is being read",
            "x-ms-dynamic-values": {
              "operationId": "ActionParentEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "actionType": "Read"
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "parentId",
            "x-ms-summary": "Parent Entity Id",
            "description": "The unique identifier for the parent entity the child is being created on",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "childEntity",
            "x-ms-summary": "Child Entity",
            "description": "The child entity being read",
            "x-ms-dynamic-values": {
              "operationId": "ActionEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "actionType": "Read",
                "parentEntity": {
                  "parameter": "parentEntity"
                }
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "childId",
            "x-ms-summary": "Child Entity Id",
            "description": "The id of the child entity",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "Delete a child entity",
        "operationId": "DeleteChildEntity",
        "description": "Delete a child entity",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "parentEntity",
            "x-ms-summary": "Parent Entity",
            "description": "The parent entity the child is being deleted",
            "x-ms-dynamic-values": {
              "operationId": "ActionParentEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "actionType": "Delete"
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "parentId",
            "x-ms-summary": "Parent Entity Id",
            "description": "The id of the parent entity",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "childEntity",
            "x-ms-summary": "Child Entity",
            "description": "The child entity being queried",
            "x-ms-dynamic-values": {
              "operationId": "ActionEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "actionType": "Read",
                "parentEntity": {
                  "parameter": "parentEntity"
                }
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "childId",
            "x-ms-summary": "Child Entity Id",
            "description": "The id of the child entity",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-correlation-id",
            "x-ms-summary": "Correlation Id",
            "description": "Correlation id added in the x-correlation-id header",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          }
        ]
      },
      "put": {
        "description": "Update a child entity",
        "x-ms-visibility": "important",
        "summary": "Update a child entity",
        "operationId": "UpdateChildEntity",
        "consumes": [ "application/json" ],
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "parentEntity",
            "x-ms-summary": "Parent Entity",
            "description": "The parent entity which child is being updated",
            "x-ms-dynamic-values": {
              "operationId": "ActionParentEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "actionType": "Update"
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "parentId",
            "x-ms-summary": "Parent Entity Id",
            "description": "The unique identifier for the parent entity the child is being updated on",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "childEntity",
            "x-ms-summary": "Child Entity",
            "description": "The parent entity being updated",
            "x-ms-dynamic-values": {
              "operationId": "ActionEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "actionType": "Update",
                "parentEntity": {
                  "parameter": "parentEntity"
                }
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "childId",
            "x-ms-summary": "Child Entity Id",
            "description": "The id of the child entity",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-correlation-id",
            "x-ms-summary": "Correlation Id",
            "description": "Correlation id added in the x-correlation-id header",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "actionType": "Update",
                  "entity": {
                    "parameter": "childEntity"
                  },
                  "parentEntity": {
                    "parameter": "parentEntity"
                  },
                  "schemaType": "Body"
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "ActionSchema",
                "parameters": {
                  "actionType": {
                    "value": "Update"
                  },
                  "entity": {
                    "parameterReference": "childEntity"
                  },
                  "parentEntity": {
                    "parameterReference": "parentEntity"
                  },
                  "schemaType": {
                    "value": "Body"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "entity": {
                    "parameter": "childEntity"
                  },
                  "actionType": "Update",
                  "parentEntity": {
                    "parameter": "parentEntity"
                  },
                  "schemaType": "Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },

    "/api/events/entityTypes/{service}/{eventType}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of the entity types available",
        "summary": "List of the entity types available",
        "operationId": "GetEntityTypes",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "The name of the service",
            "description": "The name of the service",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "eventType",
            "x-ms-summary": "The name of the event type",
            "description": "The name of the event type",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/events/entityTypes/{service}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of the entity types available",
        "summary": "List of the entity types available",
        "operationId": "GetEntityTypesByService",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "The name of the service",
            "description": "The name of the service",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "onlyLongRunningEnabled",
            "x-ms-summary": "Get event types which only support Long running trigger",
            "description": "Get event types which only support Long running trigger",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/events/eventTypes/{service}/{entityType}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of the event types available for a service and entity",
        "summary": "List of the event types available for a service and entity",
        "operationId": "GetEventTypes",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "The name of the service",
            "description": "The name of the service",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "entityType",
            "x-ms-summary": "The name of the entity type",
            "description": "The name of the entity type",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/events/filters/{eventType}/{entityType}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of available filters",
        "summary": "List of the available filters",
        "operationId": "GetSchemaFilters",
        "parameters": [
          {
            "name": "eventType",
            "x-ms-summary": "The name of the event type",
            "description": "The name of the event type",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "entityType",
            "x-ms-summary": "The name of the entity type",
            "description": "The name of the entity type",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/events/schema/{eventType}/{entityType}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "Gets the dynamic schema",
        "summary": "Gets the dynamic schema",
        "operationId": "GetDynamicSchema",
        "parameters": [
          {
            "name": "eventType",
            "x-ms-summary": "The name of the event type",
            "description": "The name of the event type",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "entityType",
            "x-ms-summary": "The name of the entity type",
            "description": "The name of the entity type",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },

    "/webhook/created/{entityType}": {
      "x-ms-notification-content": {
        "description": "When an entity is created",
        "x-ms-summary": "When an entity is created",
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetDynamicSchema",
                "parameters": {
                  "eventType": "Created",
                  "entityType": {
                    "parameter": "entityType"
                  }
                }
              }
            },
            "id": {
              "type": "string"
            },
            "source": {
              "type": "string"
            },
            "type": {
              "type": "string"
            },
            "time": {
              "format": "date-time",
              "type": "string"
            },
            "dataSchema": {
              "type": "string"
            },
            "dataContentType": {
              "type": "string"
            },
            "extensionAttributes": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        }
      },
      "post": {
        "description": "When an entity is created",
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "summary": "When an entity is created",
        "operationId": "CreatedEvents",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "entityType",
            "x-ms-summary": "Entity",
            "description": "The entity being created",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEntityTypes",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "eventType": "Created",
                "service": "ServiceName"
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "targetUri": {
                  "type": "string",
                  "description": "TargetUri",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "TargetUri"
                },
                "filters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string",
                        "x-ms-summary": "Entity",
                        "description": "Filter entity further",
                        "title": "",
                        "x-ms-visibility": "advanced",
                        "x-ms-dynamic-values": {
                          "operationId": "GetSchemaFilters",
                          "value-path": "name",
                          "value-title": "description",
                          "parameters": {
                            "eventType": "Created",
                            "entityType": {
                              "parameter": "entityType"
                            }
                          }
                        }
                      },
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  },
                  "description": "Filters"
                }
              },
              "required": [
                "targetUri"
              ],
              "x-ms-visibility": "advanced"
            },
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "201": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/webhook/updated/{entityType}": {
      "x-ms-notification-content": {
        "description": "When an entity is updated",
        "x-ms-summary": "When an entity is updated",
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetDynamicSchema",
                "parameters": {
                  "eventType": "Updated",
                  "entityType": {
                    "parameter": "entityType"
                  }
                }
              }
            },
            "id": {
              "type": "string"
            },
            "source": {
              "type": "string"
            },
            "type": {
              "type": "string"
            },
            "time": {
              "format": "date-time",
              "type": "string"
            },
            "dataSchema": {
              "type": "string"
            },
            "dataContentType": {
              "type": "string"
            },
            "extensionAttributes": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        }
      },
      "post": {
        "description": "When an entity is updated",
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "summary": "When an entity is updated",
        "operationId": "UpdatedEvents",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "entityType",
            "x-ms-summary": "Entity",
            "description": "The entity being updated",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEntityTypes",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "eventType": "Updated",
                "service": "ServiceName"
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "targetUri": {
                  "type": "string",
                  "description": "TargetUri",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "TargetUri"
                },
                "filters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string",
                        "x-ms-summary": "Entity",
                        "description": "Filter entity further",
                        "title": "",
                        "x-ms-visibility": "advanced",
                        "x-ms-dynamic-values": {
                          "operationId": "GetSchemaFilters",
                          "value-path": "name",
                          "value-title": "description",
                          "parameters": {
                            "eventType": "Updated",
                            "entityType": {
                              "parameter": "entityType"
                            }
                          }
                        }
                      },
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  },
                  "description": "Filters"
                }
              },
              "required": [
                "targetUri"
              ],
              "x-ms-visibility": "advanced"
            },
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "201": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/webhook/deleted/{entityType}": {
      "x-ms-notification-content": {
        "description": "When an entity is deleted",
        "x-ms-summary": "When an entity is deleted",
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetDynamicSchema",
                "parameters": {
                  "eventType": "Deleted",
                  "entityType": {
                    "parameter": "entityType"
                  }
                }
              }
            },
            "id": {
              "type": "string"
            },
            "source": {
              "type": "string"
            },
            "type": {
              "type": "string"
            },
            "time": {
              "format": "date-time",
              "type": "string"
            },
            "dataSchema": {
              "type": "string"
            },
            "dataContentType": {
              "type": "string"
            },
            "extensionAttributes": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        }
      },
      "post": {
        "description": "When an entity is deleted",
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "summary": "When an entity is deleted",
        "operationId": "DeletedEvents",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "entityType",
            "x-ms-summary": "Entity",
            "description": "The entity being deleted",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEntityTypes",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "eventType": "Deleted",
                "service": "ServiceName"
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "targetUri": {
                  "type": "string",
                  "description": "TargetUri",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "TargetUri"
                },
                "filters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string",
                        "x-ms-summary": "Entity",
                        "description": "Filter entity further",
                        "title": "",
                        "x-ms-visibility": "advanced",
                        "x-ms-dynamic-values": {
                          "operationId": "GetSchemaFilters",
                          "value-path": "name",
                          "value-title": "description",
                          "parameters": {
                            "eventType": "Deleted",
                            "entityType": {
                              "parameter": "entityType"
                            }
                          }
                        }
                      },
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  },
                  "description": "Filters"
                }
              },
              "required": [
                "targetUri"
              ],
              "x-ms-visibility": "advanced"
            },
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "201": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/webhook/customevents/{eventType}/{entityType}":{
      "x-ms-notification-content": {
        "description": "When an event is triggered on an entity",
        "x-ms-summary": "When an event is triggered on an entity",
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetDynamicSchema",
                "parameters": {
                  "eventType":  {
                    "parameter": "eventType"
                  },
                  "entityType": {
                    "parameter": "entityType"
                  }
                }
              }
            },
            "id": {
              "type": "string"
            },
            "source": {
              "type": "string"
            },
            "type": {
              "type": "string"
            },
            "time": {
              "format": "date-time",
              "type": "string"
            },
            "dataSchema": {
              "type": "string"
            },
            "dataContentType": {
              "type": "string"
            },
            "extensionAttributes": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        }
      },
      "post":{
        "description": "When an event is triggered on an entity",
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "summary": "When an event is triggered on an entity",
        "operationId": "CustomEvents",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "entityType",
            "x-ms-summary": "Entity Type",
            "description": "The entity being triggered",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEntityTypesByService",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "onlyLongRunningEnabled": false,
                "service": "ServiceName"
              }
            }
          },
          {
            "name": "eventType",
            "x-ms-summary": "Event Type",
            "description": "The event type for the operation",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEventTypes",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": "ServiceName",
                "entityType": {
                  "parameter": "entityType"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "targetUri": {
                  "type": "string",
                  "description": "TargetUri",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "TargetUri"
                },
                "filters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string",
                        "x-ms-summary": "Entity",
                        "description": "Filter entity further",
                        "title": "",
                        "x-ms-visibility": "advanced",
                        "x-ms-dynamic-values": {
                          "operationId": "GetSchemaFilters",
                          "value-path": "name",
                          "value-title": "description",
                          "parameters": {
                            "eventType":  {
                              "parameter": "eventType"
                            },
                            "entityType": {
                              "parameter": "entityType"
                            }
                          }
                        }
                      },
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  },
                  "description": "Filters"
                }
              },
              "required": [
                "targetUri"
              ],
              "x-ms-visibility": "advanced"
            },
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "201": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/webhook/longrunningtrigger/{eventType}/{entityType}": {
      "x-ms-notification-content": {
        "description": "When a long running operation is performed on an entity",
        "x-ms-summary": "When a long running operation is performed on an entity",
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetDynamicSchema",
                "parameters": {
                  "eventType": {
                    "parameter": "eventType"
                  },
                  "entityType": {
                    "parameter": "entityType"
                  }
                }
              }
            },
            "id": {
              "type": "string"
            },
            "source": {
              "type": "string"
            },
            "type": {
              "type": "string"
            },
            "time": {
              "format": "date-time",
              "type": "string"
            },
            "dataSchema": {
              "type": "string"
            },
            "dataContentType": {
              "type": "string"
            },
            "extensionAttributes": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        }
      },
      "post": {
        "description": "When a long running operation is performed on an entity",
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "summary": "When a long running operation is performed on an entity",
        "operationId": "LongRunningEvents",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "entityType",
            "x-ms-summary": "Entity",
            "description": "The entity",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEntityTypesByService",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "onlyLongRunningEnabled": true,
                "service": "ServiceName"
              }
            }
          },
          {
            "name": "eventType",
            "x-ms-summary": "EventType",
            "description": "The event type",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEventTypes",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "entityType": {
                  "parameter": "entityType"
                },
                "service": "ServiceName"
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "targetUri": {
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "filters": {
                  "type": "array",
                  "description": "Must provide all filters for long running operations",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string",
                        "title": "Property",
                        "description": "Filter entity further",
                        "x-ms-summary": "Filter",
                        "x-ms-visibility": "important",
                        "x-ms-dynamic-values": {
                          "operationId": "GetSchemaFilters",
                          "value-path": "name",
                          "value-title": "description",
                          "parameters": {
                            "eventType": {
                              "parameter": "eventType"
                            },
                            "entityType": {
                              "parameter": "entityType"
                            }
                          }
                        }
                      },
                      "value": {
                        "title": "Value",
                        "type": "string",
                        "description": "Value",
                        "x-ms-visibility": "important"
                      }
                    }
                  }
                }
              },
              "required": [
                "targetUri",
                "filters"
              ],
              "x-ms-visibility": "important"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/eventsconnector/{tenant}/api/webhook/{service}/{eventType}/{entityType}/{id}": {
      "delete": {
        "x-ms-visibility": "internal",
        "tags": [
          "WebHookRegistration"
        ],
        "operationId": "Disconnect",
        "description": "Disconnects from events from Tribal Edge",
        "summary": "Disconnects from events from Tribal Edge",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "service",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "eventType",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "entityType",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {
    "DynamicValue": {
      "type": "object",
      "required": [ "name", "description" ],
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ReferenceData": {
      "type": "object",
      "required": [ "code", "description" ],
      "properties": {
        "code": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Translation": {
      "type": "object",
      "required": [ "option", "translation" ],
      "properties": {
        "option": {
          "type": "string"
        },
        "translation": {
          "type": "string"
        }
      },
      "additionalProperties": false
    }
  }
}
