{
  "swagger": "2.0",
  "info": {
    "title": "Tribal - Admissions",
    "description": "Tribal Edge modules, such as Tribal Admissions, provide staff and students the tools they need to succeed in the world of education. Connect to Tribal Edge modules using the Tribal Connector to manage information, create clearance checks for applications, and much more.",
    "version": "v1",
    "contact": {
      "name": "Tribal Group",
      "url": "https://www.tribalgroup.com",
      "email": "servicedesk@tribalgroup.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tribalgroup.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tribalgroup.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management"
    }
  ],
  "host": "api.tribaledge.com",
  "schemes": ["https"],
  "basePath": "/emea/",
  "paths": {
    "/api/services/dynamicvalues": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of the services available",
        "summary": "List of the services available",
        "operationId": "Services",
        "parameters": [
          {
              "name": "type",
              "in": "query",
              "required": false,
              "type": "string",
              "default": null
          }
      ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      }
    },
    "/{service}/api/options/{entityCode}/{fieldCode}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of translations",
        "summary": "List of translations",
        "operationId": "GetTranslations",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "action"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "entityCode",
            "x-ms-summary": "The entity code",
            "description": "The entity code",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fieldCode",
            "x-ms-summary": "The code for the field",
            "description": "The code for the field",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "take",
            "x-ms-summary": "The number of records to request",
            "description": "The number of records to request",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 999
          },
          {
            "name": "skip",
            "x-ms-summary": "The number of records to skip",
            "description": "The number of records to skip",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "required": ["collection"],
              "properties": {
                "collection": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Translation"
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      }
    },
    "/referencedata/{entityName}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of reference data",
        "summary": "List of reference data",
        "operationId": "GetRefDataTranslations",
        "parameters": [
          {
            "name": "entityName",
            "x-ms-summary": "The entity name",
            "description": "The entity name",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "take",
            "x-ms-summary": "The number of records to request",
            "description": "The number of records to request",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 999
          },
          {
            "name": "skip",
            "x-ms-summary": "The number of records to skip",
            "description": "The number of records to skip",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "required": ["collection"],
              "properties": {
                "collection": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ReferenceData"
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      }
    },
    "/actions/versions/{service}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of service API versions",
        "summary": "List of service API versions",
        "operationId": "GetVersions",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "The service name",
            "description": "The service name",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "required": ["collection"],
              "properties": {
                "collection": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/DynamicValue"
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      }
    },
    "/actions/entities/{service}/{actionType}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of the entity types available",
        "summary": "List of the entity types available",
        "operationId": "ActionEntities",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "action"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "actionType",
            "x-ms-summary": "The name of the event type",
            "description": "The name of the event type",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "parentEntity",
            "x-ms-summary": "The name of the parent entity",
            "description": "The name of the parent entity",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      }
    },
    "/actions/entities/parents/{service}/{actionType}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of the entity type parents available",
        "summary": "List of the entity type parents available",
        "operationId": "ActionParentEntities",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "action"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "actionType",
            "x-ms-summary": "The name of the event type",
            "description": "The name of the event type",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      }
    },
    "/actions/schema/{service}/{actionType}/": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "Gets the dynamic schema",
        "summary": "Gets the dynamic schema",
        "operationId": "ActionSchema",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "action"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "actionType",
            "x-ms-summary": "The action type being performed",
            "description": "The action type being performed",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "entity",
            "x-ms-summary": "The name of the entity type",
            "description": "The name of the entity type",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "parentEntity",
            "x-ms-summary": "The name of the parent entity",
            "description": "The name of the parent entity",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "schemaType",
            "x-ms-summary": "The type of the schema returned",
            "description": "The type of the schema returned",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      }
    },
    "/actions/entities/uploadDocument/{service}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of the upload document entity types available",
        "summary": "List of the upload document entity types available",
        "operationId": "UploadDocumentEntities",
        "parameters": [
          {
            "name": "parentEntity",
            "x-ms-summary": "The name of the parent entity",
            "description": "The name of the parent entity",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "action"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      }
    },
    "/actions/parents/entities/uploadDocument/{service}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of the upload document entity type parents available",
        "summary": "List of the upload document entity type parents available",
        "operationId": "UploadDocumentParentEntities",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "action"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      }
    },
    "/{service}/parents/entities/{entityType}/": {
      "post": {
        "description": "Create an entity",
        "x-ms-visibility": "important",
        "summary": "Create an entity",
        "operationId": "CreateEntity",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "action"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "api-version",
            "x-ms-summary": "API Version",
            "description": "The api version to use",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetVersions",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                }
              }
            }
          },
          {
            "name": "entityType",
            "x-ms-summary": "Entity",
            "description": "The entity being created",
            "x-ms-dynamic-values": {
              "operationId": "ActionEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                },
                "actionType": "Create"
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "x-correlation-id",
            "x-ms-summary": "Correlation Id",
            "description": "Correlation Id added in the x-correlation-id header",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "actionType": "Create",
                  "service": {
                    "parameter": "service"
                  },
                  "entity": {
                    "parameter": "entityType"
                  },
                  "schemaType": "Body"
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "ActionSchema",
                "parameters": {
                  "actionType": {
                    "value": "Create"
                  },
                  "entity": {
                    "parameterReference": "entityType"
                  },
                  "service": {
                    "parameterReference": "service"
                  },
                  "schemaType": {
                    "value": "Body"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "service": {
                    "parameter": "service"
                  },
                  "entity": {
                    "parameter": "entityType"
                  },
                  "actionType": "Create",
                  "schemaType": "Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      },
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "entity": {
                    "parameter": "entityType"
                  },
                  "service": {
                    "parameter": "service"
                  },
                  "actionType": "ReadCollection",
                  "schemaType": "Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        },
        "summary": "Read entity collection",
        "operationId": "ReadEntities",
        "description": "Read entity collection",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "action"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "api-version",
            "x-ms-summary": "API Version",
            "description": "The api version to use",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetVersions",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                }
              }
            }
          },
          {
            "name": "entityType",
            "x-ms-summary": "Entity",
            "description": "The entity being read",
            "x-ms-dynamic-values": {
              "operationId": "ActionEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                },
                "actionType": "ReadCollection"
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "x-ms-summary": "Records to skip",
            "x-ms-visibility": "important",
            "description": "The number of records to skip",
            "in": "query",
            "default": 0,
            "required": true,
            "type": "integer"
          },
          {
            "name": "take",
            "x-ms-summary": "Records to take",
            "x-ms-visibility": "important",
            "description": "The number of records to take",
            "in": "query",
            "default": 10,
            "required": true,
            "type": "integer"
          },
          {
            "name": "filter",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "important",
            "description": "Filter the records using Open Data Protocol syntax",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/{service}/entities/read/{entityType}/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "entity": {
                    "parameter": "entityType"
                  },
                  "service": {
                    "parameter": "service"
                  },
                  "actionType": "Read",
                  "schemaType": "Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        },
        "summary": "Read an entity",
        "operationId": "ReadEntity",
        "description": "Read an entity",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "action"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "api-version",
            "x-ms-summary": "API Version",
            "description": "The api version to use",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetVersions",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                }
              }
            }
          },
          {
            "name": "entityType",
            "x-ms-summary": "Entity",
            "description": "The entity being read",
            "x-ms-dynamic-values": {
              "operationId": "ActionEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                },
                "actionType": "Read"
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "x-ms-summary": "Id",
            "description": "The id of the entity",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-correlation-id",
            "x-ms-summary": "Correlation Id",
            "description": "Correlation Id added in the x-correlation-id header",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          }
        ]
      },
      "put": {
        "x-ms-visibility": "important",
        "summary": "Replace an entity",
        "description": "This replaces the contents of an entity. This will remove any properties from the entity that have not been included.",
        "operationId": "UpdateEntity",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "action"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "api-version",
            "x-ms-summary": "API Version",
            "description": "The api version to use",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetVersions",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                }
              }
            }
          },
          {
            "name": "entityType",
            "x-ms-summary": "Entity",
            "description": "The entity being updated",
            "x-ms-dynamic-values": {
              "operationId": "ActionEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                },
                "actionType": "Update"
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "id",
            "x-ms-summary": "Id",
            "description": "The id of the entity",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-correlation-id",
            "x-ms-summary": "Correlation Id",
            "description": "Correlation id added in the x-correlation-id header",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "If-Match",
            "x-ms-summary": "If-Match",
            "description": "ETag added in the If-Match header",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "actionType": "Update",
                  "entity": {
                    "parameter": "entityType"
                  },
                  "service": {
                    "parameter": "service"
                  },
                  "schemaType": "Body"
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "ActionSchema",
                "parameters": {
                  "actionType": {
                    "value": "Update"
                  },
                  "entity": {
                    "parameterReference": "entityType"
                  },
                  "service": {
                    "parameterReference": "service"
                  },
                  "schemaType": {
                    "value": "Body"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "entity": {
                    "parameter": "entityType"
                  },
                  "service": {
                    "parameter": "service"
                  },
                  "actionType": "Update",
                  "schemaType": "Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      },
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        },
        "summary": "Delete an entity",
        "operationId": "DeleteEntity",
        "description": "Delete an entity",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "action"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "api-version",
            "x-ms-summary": "API Version",
            "description": "The api version to use",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetVersions",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                }
              }
            }
          },
          {
            "name": "entityType",
            "x-ms-summary": "Entity",
            "description": "The entity being deleted",
            "x-ms-dynamic-values": {
              "operationId": "ActionEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                },
                "actionType": "Delete"
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "x-ms-summary": "Id",
            "description": "The id of the entity",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-correlation-id",
            "x-ms-summary": "Correlation Id",
            "description": "Correlation Id added in the x-correlation-id header",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/{service}/entities/{entityType}/{id}/uploaddocument": {
      "post": {
        "consumes": ["multipart/form-data"],
        "summary": "Upload a document to an entity",
        "description": "Upload a document to an entity",
        "operationId": "UploadDocument",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "action"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "api-version",
            "x-ms-summary": "API Version",
            "description": "The api version to use",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetVersions",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                }
              }
            }
          },
          {
            "name": "entityType",
            "x-ms-summary": "Entity",
            "description": "The entity being created",
            "x-ms-dynamic-values": {
              "operationId": "UploadDocumentEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                }
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "id",
            "x-ms-summary": "Id",
            "description": "The id of the entity",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "description": "Input file to perform the operation on.",
            "in": "formData",
            "name": "file",
            "required": true,
            "type": "file",
            "x-ms-summary": "Input file to perform the operation on."
          },
          {
            "name": "documentTypeName",
            "x-ms-summary": "The type of document being uploaded",
            "description": "The type of document being uploaded",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "createdBy",
            "x-ms-summary": "Who created the document",
            "description": "Who created the document",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      }
    },
    "/{service}/entities/children/{parentEntity}/{parentId}/{childEntity}": {
      "post": {
        "description": "Create a child entity",
        "x-ms-visibility": "important",
        "summary": "Create a child entity",
        "operationId": "CreateChildEntity",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "action"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "api-version",
            "x-ms-summary": "API Version",
            "description": "The api version to use",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetVersions",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                }
              }
            }
          },
          {
            "name": "parentEntity",
            "x-ms-summary": "Parent Entity",
            "description": "The parent entity the child is being created on",
            "x-ms-dynamic-values": {
              "operationId": "ActionParentEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                },
                "actionType": "Create"
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "parentId",
            "x-ms-summary": "Parent Entity Id",
            "description": "The unique identifier for the parent entity the child is being created on",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "childEntity",
            "x-ms-summary": "Child Entity",
            "description": "The child entity being created",
            "x-ms-dynamic-values": {
              "operationId": "ActionEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "actionType": "Create",
                "service": {
                  "parameter": "service"
                },
                "parentEntity": {
                  "parameter": "parentEntity"
                }
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "x-correlation-id",
            "x-ms-summary": "Correlation Id",
            "description": "Correlation Id added in the x-correlation-id header",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "actionType": "Create",
                  "entity": {
                    "parameter": "childEntity"
                  },
                  "service": {
                    "parameter": "service"
                  },
                  "parentEntity": {
                    "parameter": "parentEntity"
                  },
                  "schemaType": "Body"
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "ActionSchema",
                "parameters": {
                  "actionType": {
                    "value": "Create"
                  },
                  "entity": {
                    "parameterReference": "childEntity"
                  },
                  "service": {
                    "parameterReference": "service"
                  },
                  "parentEntity": {
                    "parameterReference": "parentEntity"
                  },
                  "schemaType": {
                    "value": "Body"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "entity": {
                    "parameter": "childEntity"
                  },
                  "service": {
                    "parameter": "service"
                  },
                  "actionType": "Create",
                  "parentEntity": {
                    "parameter": "parentEntity"
                  },
                  "schemaType": "Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      },
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "entity": {
                    "parameter": "childEntity"
                  },
                  "service": {
                    "parameter": "service"
                  },
                  "actionType": "ReadCollection",
                  "parentEntity": {
                    "parameter": "parentEntity"
                  },
                  "schemaType": "Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        },
        "summary": "Read child entity collection",
        "operationId": "ReadChildEntities",
        "description": "Read child entity collection",
        "x-ms-visibility": "important",
        "parameters": [
            {
                "name": "service",
                "x-ms-summary": "Service",
                "description": "Service containing information",
                "x-ms-dynamic-values": {
                    "operationId": "Services",
                    "parameters": {
                      "type": "action"
                      },
                    "value-path": "name",
                    "value-title": "description"
                },
                "x-ms-url-encoding": "single",
                "in": "path",
                "required": true,
                "x-ms-visibility": "important",
                "type": "string"
            },
            {
                "name": "api-version",
                "x-ms-summary": "API Version",
                "description": "The api version to use",
                "in": "header",
                "required": true,
                "type": "string",
                "x-ms-visibility": "important",
                "x-ms-dynamic-values": {
                    "operationId": "GetVersions",
                    "value-path": "name",
                    "value-title": "description",
                    "parameters": {
                        "service": {
                            "parameter": "service"
                        }
                    }
                }
            },
            {
                "name": "parentEntity",
                "x-ms-summary": "Parent Entity",
                "description": "The parent entity the child is being read",
                "x-ms-dynamic-values": {
                    "operationId": "ActionParentEntities",
                    "value-path": "name",
                    "value-title": "description",
                    "parameters": {
                        "service": {
                            "parameter": "service"
                        },
                        "actionType": "ReadCollection"
                    }
                },
                "x-ms-url-encoding": "single",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "important"
            },
            {
                "name": "parentId",
                "x-ms-summary": "Parent Entity Id",
                "description": "The unique identifier for the parent entity the child is being created on",
                "in": "path",
                "x-ms-url-encoding": "single",
                "required": true,
                "type": "string",
                "x-ms-visibility": "important"
            },
            {
                "name": "childEntity",
                "x-ms-summary": "Child Entities",
                "description": "The child entities being read",
                "x-ms-dynamic-values": {
                    "operationId": "ActionEntities",
                    "value-path": "name",
                    "value-title": "description",
                    "parameters": {
                        "actionType": "Read",
                        "service": {
                            "parameter": "service"
                        },
                        "parentEntity": {
                            "parameter": "parentEntity"
                        }
                    }
                },
                "x-ms-url-encoding": "single",
                "in": "path",
                "required": true,
                "type": "string",
                "x-ms-visibility": "important"
            },
            {
                "name": "skip",
                "x-ms-summary": "Records to skip",
                "x-ms-visibility": "important",
                "description": "The number of records to skip",
                "in": "query",
                "default": 0,
                "required": true,
                "type": "integer"
            },
            {
                "name": "take",
                "x-ms-summary": "Records to take",
                "x-ms-visibility": "important",
                "description": "The number of records to take",
                "in": "query",
                "default": 10,
                "required": true,
                "type": "integer"
            },
            {
                "name": "filter",
                "x-ms-summary": "Filter",
                "x-ms-visibility": "important",
                "description": "Filter the records using Open Data Protocol syntax",
                "in": "query",
                "required": false,
                "type": "string"
            },
            {
                "name": "x-correlation-id",
                "x-ms-summary": "Correlation Id",
                "description": "Correlation Id added in the x-correlation-id header",
                "in": "header",
                "required": false,
                "type": "string",
                "x-ms-visibility": "advanced"
            }
        ]
      }
    },
    "/{service}/entities/children/{parentEntity}/{parentId}/{childEntity}/{childId}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "entity": {
                    "parameter": "childEntity"
                  },
                  "service": {
                    "parameter": "service"
                  },
                  "actionType": "Read",
                  "parentEntity": {
                    "parameter": "parentEntity"
                  },
                  "schemaType": "Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        },
        "summary": "Read a child entity",
        "operationId": "ReadChildEntity",
        "description": "Read a child entity",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "action"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "api-version",
            "x-ms-summary": "API Version",
            "description": "The api version to use",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetVersions",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                }
              }
            }
          },
          {
            "name": "parentEntity",
            "x-ms-summary": "Parent Entity",
            "description": "The parent entity the child is being read",
            "x-ms-dynamic-values": {
              "operationId": "ActionParentEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                },
                "actionType": "Read"
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "parentId",
            "x-ms-summary": "Parent Entity Id",
            "description": "The unique identifier for the parent entity the child is being created on",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "childEntity",
            "x-ms-summary": "Child Entity",
            "description": "The child entity being read",
            "x-ms-dynamic-values": {
              "operationId": "ActionEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "actionType": "Read",
                "service": {
                  "parameter": "service"
                },
                "parentEntity": {
                  "parameter": "parentEntity"
                }
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "childId",
            "x-ms-summary": "Child Entity Id",
            "description": "The id of the child entity",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-correlation-id",
            "x-ms-summary": "Correlation Id",
            "description": "Correlation Id added in the x-correlation-id header",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        },
        "summary": "Delete a child entity",
        "operationId": "DeleteChildEntity",
        "description": "Delete a child entity",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "action"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "api-version",
            "x-ms-summary": "API Version",
            "description": "The api version to use",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetVersions",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                }
              }
            }
          },
          {
            "name": "parentEntity",
            "x-ms-summary": "Parent Entity",
            "description": "The parent entity the child is being deleted",
            "x-ms-dynamic-values": {
              "operationId": "ActionParentEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                },
                "actionType": "Delete"
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "parentId",
            "x-ms-summary": "Parent Entity Id",
            "description": "The id of the parent entity",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "childEntity",
            "x-ms-summary": "Child Entity",
            "description": "The child entity being queried",
            "x-ms-dynamic-values": {
              "operationId": "ActionEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "actionType": "Read",
                "service": {
                  "parameter": "service"
                },
                "parentEntity": {
                  "parameter": "parentEntity"
                }
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "childId",
            "x-ms-summary": "Child Entity Id",
            "description": "The id of the child entity",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-correlation-id",
            "x-ms-summary": "Correlation Id",
            "description": "Correlation id added in the x-correlation-id header",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          }
        ]
      },
      "put": {
        "summary": "Replace a child entity",
        "x-ms-visibility": "important",
        "description": "This replaces the contents of a child entity. This will remove any properties from the entity that have not been included.",
        "operationId": "UpdateChildEntity",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "action"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "api-version",
            "x-ms-summary": "API Version",
            "description": "The api version to use",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetVersions",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                }
              }
            }
          },
          {
            "name": "parentEntity",
            "x-ms-summary": "Parent Entity",
            "description": "The parent entity which child is being updated",
            "x-ms-dynamic-values": {
              "operationId": "ActionParentEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                },
                "actionType": "Update"
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "parentId",
            "x-ms-summary": "Parent Entity Id",
            "description": "The unique identifier for the parent entity the child is being updated on",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "childEntity",
            "x-ms-summary": "Child Entity",
            "description": "The parent entity being updated",
            "x-ms-dynamic-values": {
              "operationId": "ActionEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "actionType": "Update",
                "service": {
                  "parameter": "service"
                },
                "parentEntity": {
                  "parameter": "parentEntity"
                }
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "childId",
            "x-ms-summary": "Child Entity Id",
            "description": "The id of the child entity",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-correlation-id",
            "x-ms-summary": "Correlation Id",
            "description": "Correlation id added in the x-correlation-id header",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "If-Match",
            "x-ms-summary": "If-Match",
            "description": "ETag added in the If-Match header",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "actionType": "Update",
                  "entity": {
                    "parameter": "childEntity"
                  },
                  "service": {
                    "parameter": "service"
                  },
                  "parentEntity": {
                    "parameter": "parentEntity"
                  },
                  "schemaType": "Body"
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "ActionSchema",
                "parameters": {
                  "actionType": {
                    "value": "Update"
                  },
                  "entity": {
                    "parameterReference": "childEntity"
                  },
                  "service": {
                    "parameterReference": "service"
                  },
                  "parentEntity": {
                    "parameterReference": "parentEntity"
                  },
                  "schemaType": {
                    "value": "Body"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ActionSchema",
                "parameters": {
                  "entity": {
                    "parameter": "childEntity"
                  },
                  "actionType": "Update",
                  "parentEntity": {
                    "parameter": "parentEntity"
                  },
                  "service": {
                    "parameter": "service"
                  },
                  "schemaType": "Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      }
    },
    "/{service}/entities/children/{parentEntity}/{parentId}/{childEntity}/{childId}/uploadDocument": {
      "post": {
        "consumes": ["multipart/form-data"],
        "summary": "Upload a document to a child entity",
        "description": "Upload a document to a child entity",
        "operationId": "UploadChildDocument",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "action"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "api-version",
            "x-ms-summary": "API Version",
            "description": "The api version to use",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetVersions",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                }
              }
            }
          },
          {
            "name": "parentEntity",
            "x-ms-summary": "Parent Entity",
            "description": "The parent entity of the child",
            "x-ms-dynamic-values": {
              "operationId": "UploadDocumentParentEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "service": {
                  "parameter": "service"
                }
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "parentId",
            "x-ms-summary": "Parent Entity Id",
            "description": "The unique identifier for the parent entity of the child",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "childEntity",
            "x-ms-summary": "Child Entity",
            "description": "The child entity being uploaded a document on",
            "x-ms-dynamic-values": {
              "operationId": "UploadDocumentEntities",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "parentEntity": {
                  "parameter": "parentEntity"
                },
                "service": {
                  "parameter": "service"
                }
              }
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "childId",
            "x-ms-summary": "Child Entity Id",
            "description": "The id of the child entity",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "description": "Input file to perform the operation on.",
            "in": "formData",
            "name": "file",
            "required": true,
            "type": "file",
            "x-ms-summary": "Input file to perform the operation on."
          },
          {
            "name": "documentTypeName",
            "x-ms-summary": "The type of document being uploaded",
            "description": "The type of document being uploaded",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "createdBy",
            "x-ms-summary": "Who created the document",
            "description": "Who created the document",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      }
    },
    "/api/events/entityTypes/{service}/{eventType}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of the entity types available",
        "summary": "List of the entity types available",
        "operationId": "GetEntityTypes",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "The name of the service",
            "description": "The name of the service",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "eventType",
            "x-ms-summary": "The name of the event type",
            "description": "The name of the event type",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      }
    },
    "/api/events/entityTypes/{service}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of the entity types available",
        "summary": "List of the entity types available",
        "operationId": "GetEntityTypesByService",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "The name of the service",
            "description": "The name of the service",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "onlyLongRunningEnabled",
            "x-ms-summary": "Get event types which only support Long running trigger",
            "description": "Get event types which only support Long running trigger",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      }
    },
    "/api/events/eventTypes/{service}/{entityType}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of the event types available for a service and entity",
        "summary": "List of the event types available for a service and entity",
        "operationId": "GetEventTypes",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "The name of the service",
            "description": "The name of the service",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "entityType",
            "x-ms-summary": "The name of the entity type",
            "description": "The name of the entity type",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      }
    },
    "/api/events/filters/{service}/{eventType}/{entityType}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "List of available filters",
        "summary": "List of the available filters",
        "operationId": "GetSchemaFilters",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "trigger"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "eventType",
            "x-ms-summary": "The name of the event type",
            "description": "The name of the event type",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "entityType",
            "x-ms-summary": "The name of the entity type",
            "description": "The name of the entity type",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/api/events/eventSchema/{service}/{eventType}/{entityType}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "Gets the dynamic schema",
        "summary": "Gets the dynamic schema",
        "operationId": "GetDynamicSchema",
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "trigger"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "eventType",
            "x-ms-summary": "The name of the event type",
            "description": "The name of the event type",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "entityType",
            "x-ms-summary": "The name of the entity type",
            "description": "The name of the entity type",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/webhook/{service}/created/{entityType}": {
      "x-ms-notification-content": {
        "description": "When an entity is created",
        "x-ms-summary": "When an entity is created",
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetDynamicSchema",
                "parameters": {
                  "eventType": "Created",
                  "service": {
                    "parameter": "service"
                  },
                  "entityType": {
                    "parameter": "entityType"
                  }
                }
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetDynamicSchema",
                "parameters":{
                  "eventType":{
                    "value":"Created"
                  },
                  "service": {
                    "parameterReference": "service"
                  },
                  "entityType": {
                    "parameterReference": "entityType"
                  }
                }
              }
            },
            "id": {
              "type": "string"
            },
            "source": {
              "type": "string"
            },
            "type": {
              "type": "string"
            },
            "time": {
              "format": "date-time",
              "type": "string"
            },
            "dataSchema": {
              "type": "string"
            },
            "dataContentType": {
              "type": "string"
            },
            "extensionAttributes": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        }
      },
      "post": {
        "description": "When an entity is created",
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "summary": "When an entity is created",
        "operationId": "CreatedEvents",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "trigger"
                },

              "value-path": "name",
              "value-title": "description"

            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "entityType",
            "x-ms-summary": "Entity",
            "description": "The entity being created",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEntityTypes",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "eventType": "Created",
                "service": {
                  "parameter": "service"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "targetUri": {
                  "type": "string",
                  "description": "TargetUri",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "TargetUri"
                },
                "filters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string",
                        "x-ms-summary": "Entity",
                        "description": "Filter entity further",
                        "x-ms-visibility": "advanced",
                        "x-ms-dynamic-values": {
                          "operationId": "GetSchemaFilters",
                          "value-path": "name",
                          "value-title": "description",
                          "parameters": {
                            "service": {
                              "parameter": "service"
                            },
                            "eventType": "Created",
                            "entityType": {
                              "parameter": "entityType"
                            }
                          }
                        }
                      },
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  },
                  "description": "Filters"
                }
              },
              "required": ["targetUri"],
              "x-ms-visibility": "advanced"
            },
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WebHookCreateSuccess"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      }
    },
    "/webhook/{service}/updated/{entityType}": {
      "x-ms-notification-content": {
        "description": "When an entity is updated",
        "x-ms-summary": "When an entity is updated",
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetDynamicSchema",
                "parameters": {
                  "eventType": "Updated",
                  "service": {
                    "parameter": "service"
                  },
                  "entityType": {
                    "parameter": "entityType"
                  }
                }
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetDynamicSchema",
                "parameters":{
                  "eventType":{
                    "value":"Updated"
                  },
                  "service": {
                    "parameterReference": "service"
                  },
                  "entityType": {
                    "parameterReference": "entityType"
                  }
                }
              }
            },
            "id": {
              "type": "string"
            },
            "source": {
              "type": "string"
            },
            "type": {
              "type": "string"
            },
            "time": {
              "format": "date-time",
              "type": "string"
            },
            "dataSchema": {
              "type": "string"
            },
            "dataContentType": {
              "type": "string"
            },
            "extensionAttributes": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        }
      },
      "post": {
        "description": "When an entity is updated",
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "summary": "When an entity is updated",
        "operationId": "UpdatedEvents",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "trigger"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "entityType",
            "x-ms-summary": "Entity",
            "description": "The entity being updated",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEntityTypes",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "eventType": "Updated",
                "service": {
                  "parameter": "service"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "targetUri": {
                  "type": "string",
                  "description": "TargetUri",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "TargetUri"
                },
                "filters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string",
                        "x-ms-summary": "Entity",
                        "description": "Filter entity further",
                        "x-ms-visibility": "advanced",
                        "x-ms-dynamic-values": {
                          "operationId": "GetSchemaFilters",
                          "value-path": "name",
                          "value-title": "description",
                          "parameters": {
                            "eventType": "Updated",
                            "service": {
                              "parameter": "service"
                            },
                            "entityType": {
                              "parameter": "entityType"
                            }
                          }
                        }
                      },
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  },
                  "description": "Filters"
                }
              },
              "required": ["targetUri"],
              "x-ms-visibility": "advanced"
            },
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/WebHookCreateSuccess"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      }
    },
    "/webhook/{service}/deleted/{entityType}": {
      "x-ms-notification-content": {
        "description": "When an entity is deleted",
        "x-ms-summary": "When an entity is deleted",
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetDynamicSchema",
                "parameters": {
                  "eventType": "Deleted",
                  "service": {
                    "parameter": "service"
                  },
                  "entityType": {
                    "parameter": "entityType"
                  }
                }
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetDynamicSchema",
                "parameters":{
                  "eventType":{
                    "value":"Deleted"
                  },
                  "service": {
                    "parameterReference": "service"
                  },
                  "entityType": {
                    "parameterReference": "entityType"
                  }
                }
              }
            },
            "id": {
              "type": "string"
            },
            "source": {
              "type": "string"
            },
            "type": {
              "type": "string"
            },
            "time": {
              "format": "date-time",
              "type": "string"
            },
            "dataSchema": {
              "type": "string"
            },
            "dataContentType": {
              "type": "string"
            },
            "extensionAttributes": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        }
      },
      "post": {
        "description": "When an entity is deleted",
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "summary": "When an entity is deleted",
        "operationId": "DeletedEvents",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "service",
            "x-ms-summary": "Service",
            "description": "Service containing information",
            "x-ms-dynamic-values": {
              "operationId": "Services",
              "parameters": {
                "type": "trigger"
                },
              "value-path": "name",
              "value-title": "description"
            },
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
[...]
