{
  "swagger": "2.0",
  "info": {
    "title": "FCA",
    "description": "The online Financial Services Register is a public record of financial services firms, individuals and other bodies regulated by the Financial Conduct Authority (FCA) in the UK",
    "version": "1.0",
    "contact": {
      "name": "Gulshan Khurana",
      "url": "https://www.linkedin.com/in/gulshankhurana/",
      "email": "gulshankhurana@outlook.com"
    }
  },
  "host": "register.fca.org.uk",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/services/V0.1/Search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "The status of the record",
                  "title": "Status",
                  "x-ms-visibility": "internal"
                },
                "ResultInfo": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "string",
                      "description": "The page number of the request, when the data returned is in page, it returns the current page. For account details, it will be 1",
                      "title": "page",
                      "x-ms-visibility": "internal"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "The number of records returned per page",
                      "title": "per_page",
                      "x-ms-visibility": "internal"
                    },
                    "total_count": {
                      "type": "string",
                      "description": "The total number of records returned by the request. For firm details it will be only 1",
                      "title": "total_count",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "ResultInfo"
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": "Message",
                  "x-ms-visibility": "internal"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "URL": {
                        "type": "string",
                        "description": "API to fetch the detail record of the data",
                        "title": "URL"
                      },
                      "Status": {
                        "type": "string",
                        "description": "The status of the record",
                        "title": "Status",
                        "x-ms-visibility": "internal"
                      },
                      "Reference Number": {
                        "type": "string",
                        "description": "The Unique number of the record",
                        "title": "Reference Number"
                      },
                      "Type of business or Individual": {
                        "type": "string",
                        "description": "The type of data returned. Example, Firm, Individual, Collective Investment Scheme",
                        "title": "Type of business or Individual"
                      },
                      "Name": {
                        "type": "string",
                        "description": "The name of the firm or individual or collective investment scheme",
                        "title": "Name"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Common Search",
        "description": "Gets the search results for Individuals, Firms or Collective Investment Schemes",
        "operationId": "CommonSearch",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Query String",
            "x-ms-summary": "Query String",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "individual",
              "firm",
              "fund"
            ],
            "description": "type",
            "x-ms-summary": "type"
          },
          {
            "name": "X-Auth-Email",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Email address associated with your account to be passed in Header",
            "x-ms-summary": "Email address associated with your account",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/services/V0.1/Individuals/{IRN}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "The status of the record",
                  "title": "Status",
                  "x-ms-visibility": "internal"
                },
                "ResultInfo": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "string",
                      "description": "The page number of the request, when the data returned is in page, it returns the current page. For account details, it will be 1",
                      "title": "page",
                      "x-ms-visibility": "internal"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "The number of records returned per page",
                      "title": "per_page",
                      "x-ms-visibility": "internal"
                    },
                    "total_count": {
                      "type": "string",
                      "description": "The total number of records returned by the request. For firm details it will be only 1",
                      "title": "total_count",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "ResultInfo"
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": "Message",
                  "x-ms-visibility": "internal"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Details": {
                        "type": "object",
                        "properties": {
                          "Status": {
                            "type": "string",
                            "description": "The status of the record",
                            "title": "Status",
                            "x-ms-visibility": "internal"
                          },
                          "Disciplinary History": {
                            "type": "string",
                            "description": "URL to fetch the Disciplinary History",
                            "title": "Disciplinary History"
                          },
                          "Roles & Activities": {
                            "type": "string",
                            "description": "URL to fetch all the roles of an individual",
                            "title": "Roles & Activities"
                          },
                          "IRN": {
                            "type": "string",
                            "description": "Individual Reference Number",
                            "title": "IRN"
                          },
                          "Commonly Used Name": {
                            "type": "string",
                            "description": "Commonly used names of the individual",
                            "title": "Commonly Used Name"
                          },
                          "Full Name": {
                            "type": "string",
                            "description": "The name of the Individual",
                            "title": "Full Name"
                          }
                        },
                        "description": "Details"
                      },
                      "Workplace Location 1": {
                        "type": "object",
                        "properties": {
                          "Firm Name": {
                            "type": "string",
                            "description": "The firm name of an individual\u2019s workplace(s) displayed at the town/city line of the address where holding a customer-facing role",
                            "title": "Firm Name"
                          },
                          "Location 1": {
                            "type": "string",
                            "description": "The geographical location of an individual\u2019s workplace(s) displayed at the town/city line of the address where holding a customer-facing role",
                            "title": "Location 1"
                          }
                        },
                        "description": "Workplace Location 1"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Find Individuals Details",
        "description": "Get information about an Individual associated with its Individual Reference Number",
        "operationId": "IndividualsDetailsByIRN",
        "parameters": [
          {
            "name": "IRN",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual Reference Number",
            "x-ms-summary": "IRN"
          },
          {
            "name": "X-Auth-Email",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-summary": "Email address associated with your account",
            "description": "Email address associated with your account to be passed in Header",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/services/V0.1/Firm/{FRN}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "The status of the record",
                  "title": "Status",
                  "x-ms-visibility": "internal"
                },
                "ResultInfo": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "string",
                      "description": "The page number of the request, when the data returned is in page, it returns the current page. For account details, it will be 1",
                      "title": "page",
                      "x-ms-visibility": "internal"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "The number of records returned per page",
                      "title": "per_page"
                    },
                    "total_count": {
                      "type": "string",
                      "description": "The total number of records returned by the request. For firm details it will be only 1",
                      "title": "total_count",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "ResultInfo"
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": "Message"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string",
                        "description": "URL to fetch other trading name/ brand name for the firm",
                        "title": "Name"
                      },
                      "Individuals": {
                        "type": "string",
                        "description": "URL to fetch the Individuals associated with the firm",
                        "title": "Individuals"
                      },
                      "Requirements": {
                        "type": "string",
                        "description": "URL to fetch associated requirements of the firm",
                        "title": "Requirements"
                      },
                      "Permission": {
                        "type": "string",
                        "description": "URL to fetch the associated permissions of the firm",
                        "title": "Permission"
                      },
                      "Passport": {
                        "type": "string",
                        "description": "URL to fetch the associated passports of the firm",
                        "title": "Passport"
                      },
                      "Regulators": {
                        "type": "string",
                        "description": "URL to fetch the associated regulators of the firm",
                        "title": "Regulators"
                      },
                      "Appointed Representative": {
                        "type": "string",
                        "description": "URL to fetch the associated appointed representatives of the firm",
                        "title": "Appointed Representative"
                      },
                      "Address": {
                        "type": "string",
                        "description": "URL to fetch the address and contact details of the firm",
                        "title": "Address"
                      },
                      "Waivers": {
                        "type": "string",
                        "description": "URL to fetch the associated waivers of the firm",
                        "title": "Waivers"
                      },
                      "Exclusions": {
                        "type": "string",
                        "description": "URL to fetch the exclusions associated with the firm",
                        "title": "Exclusions"
                      },
                      "DisciplinaryHistory": {
                        "type": "string",
                        "description": "URL to fetch any disciplinary history against the firm",
                        "title": "DisciplinaryHistory"
                      },
                      "System Timestamp": {
                        "type": "string",
                        "description": "System Timestamp",
                        "title": "System Timestamp"
                      },
                      "Exceptional Info Details": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Exceptional Info Title": {
                              "type": "string",
                              "description": "Exceptional Info Title"
                            },
                            "Exceptional Info Body": {
                              "type": "string",
                              "description": "Exceptional Info Body"
                            }
                          }
                        },
                        "description": "Exceptional Info Details"
                      },
                      "Status Effective Date": {
                        "type": "string",
                        "description": "The effective date when the status was active from",
                        "title": "Status Effective Date",
                        "x-ms-visibility": "important"
                      },
                      "E-Money Agent Status": {
                        "type": "string",
                        "description": "Status as an E-Money Agent",
                        "title": "E-Money Agent Status"
                      },
                      "PSD / EMD Effective Date": {
                        "type": "string",
                        "description": "Date from which the PSD/EMD Status was effective",
                        "title": "PSD / EMD Effective Date"
                      },
                      "Client Money Permission": {
                        "type": "string",
                        "description": "Permission of the firm in relation to Client Money",
                        "title": "Client Money Permission"
                      },
                      "Sub Status Effective from": {
                        "type": "string",
                        "description": "Date from which the Sub-status was effective",
                        "title": "Sub Status Effective from"
                      },
                      "Sub-Status": {
                        "type": "string",
                        "description": "Related sub-status to the firms status",
                        "title": "Sub-Status"
                      },
                      "Mutual Society Number": {
                        "type": "string",
                        "description": "Registered number as a Mutual Society",
                        "title": "Mutual Society Number"
                      },
                      "Companies House Number": {
                        "type": "string",
                        "description": "Registered number with Companies House",
                        "title": "Companies House Number"
                      },
                      "MLRs Status Effective Date": {
                        "type": "string",
                        "description": "Date from which the MLRs Status was effective",
                        "title": "MLRs Status Effective Date"
                      },
                      "MLRs Status": {
                        "type": "string",
                        "description": "Status under the Money Laundering Regulations",
                        "title": "MLRs Status"
                      },
                      "E-Money Agent Effective Date": {
                        "type": "string",
                        "description": "Date from which the E-Money Agent Status was effective",
                        "title": "E-Money Agent Effective Date"
                      },
                      "PSD Agent Effective date": {
                        "type": "string",
                        "description": "Date from which the PSD Agent Status was effective",
                        "title": "PSD Agent Effective date"
                      },
                      "PSD Agent Status": {
                        "type": "string",
                        "description": "Status as a PSD Agent",
                        "title": "PSD Agent Status"
                      },
                      "PSD / EMD Status": {
                        "type": "string",
                        "description": "Status under the Payment Services Directive or the Electronic Money Directive",
                        "title": "PSD / EMD Status"
                      },
                      "Status": {
                        "type": "string",
                        "description": "Register Status for the firm /Authorised",
                        "title": "Status",
                        "x-ms-visibility": "important"
                      },
                      "Business Type": {
                        "type": "string",
                        "description": "The type of the firm /Regulated",
                        "title": "Business Type"
                      },
                      "Organisation Name": {
                        "type": "string",
                        "description": "Name of the firm",
                        "title": "Organisation Name"
                      },
                      "FRN": {
                        "type": "string",
                        "description": "FCA Firm Reference Number",
                        "title": "FRN"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Find Firm Details",
        "description": "Get information about a specific firm using its Firm Reference Number",
        "operationId": "FirmDetailsByFRN",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "FRN",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "FCA Firm Reference Number",
            "x-ms-summary": "FRN"
          },
          {
            "name": "X-Auth-Email",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Email address associated with your account to be passed in Header",
            "x-ms-summary": "Email address associated with your account",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/services/V0.1/CIS/{PRN}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "Status"
                },
                "ResultInfo": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "string",
                      "description": "The page number of the request, when the data returned is in page, it returns the current page. For account details, it will be 1",
                      "title": "page",
                      "x-ms-visibility": "internal"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "The number of records returned per page",
                      "title": "per_page"
                    },
                    "total_count": {
                      "type": "string",
                      "description": "The total number of records returned by the request. For firm details it will be only 1",
                      "title": "total_count",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "ResultInfo"
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": "Message"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Sub-funds": {
                        "type": "string",
                        "description": "Display the sub fund information",
                        "title": "Sub-funds"
                      },
                      "Other Name": {
                        "type": "string",
                        "description": "Display the other name information",
                        "title": "Other Name"
                      },
                      "CIS Depositary": {
                        "type": "string",
                        "description": "Display CIS depositary information",
                        "title": "CIS Depositary"
                      },
                      "CIS Depositary Name": {
                        "type": "string",
                        "description": "Display CIS depositary name information",
                        "title": "CIS Depositary Name"
                      },
                      "Operator Name": {
                        "type": "string",
                        "description": "Display the operator name information",
                        "title": "Operator Name"
                      },
                      "Operator": {
                        "type": "string",
                        "description": "Display the operator information",
                        "title": "Operator"
                      },
                      "MMF Term Type": {
                        "type": "string",
                        "description": "Display the MMF Term Type information",
                        "title": "MMF Term Type"
                      },
                      "MMF NAV Type": {
                        "type": "string",
                        "description": "Display the MMF NAV Type information",
                        "title": "MMF NAV Type"
                      },
                      "Effective Date": {
                        "type": "string",
                        "description": "Display the Effective Date information",
                        "title": "Effective Date"
                      },
                      "Scheme Type": {
                        "type": "string",
                        "description": "Display the Scheme Type information",
                        "title": "Scheme Type"
                      },
                      "Product Type": {
                        "type": "string",
                        "description": "Display the Product Type information",
                        "title": "Product Type"
                      },
                      "ICVC Registration No": {
                        "type": "string",
                        "description": "Display the ICVC Registration No information",
                        "title": "ICVC Registration No"
                      },
                      "Status": {
                        "type": "string",
                        "description": "Display the Status information",
                        "title": "Status"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Find Product Details",
        "description": "Get information about a product by using its Product Reference Number",
        "operationId": "ProductDetailsByPRN",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "PRN",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "FCA Product Reference Number",
            "x-ms-summary": "PRN"
          },
          {
            "name": "X-Auth-Email",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Email address associated with your account to be passed in Header",
            "x-ms-summary": "Email address associated with your account",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/services/V0.1/CIS/{PRN}/Subfund": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "The status of the record",
                  "title": "Status",
                  "x-ms-visibility": "internal"
                },
                "ResultInfo": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "string",
                      "description": "The page number of the request, when the data returned is in page, it returns the current page. For account details, it will be 1",
                      "title": "page",
                      "x-ms-visibility": "internal"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "The number of records returned per page",
                      "title": "per_page",
                      "x-ms-visibility": "internal"
                    },
                    "total_count": {
                      "type": "string",
                      "description": "The total number of records returned by the request. For firm details it will be only 1",
                      "title": "total_count",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "ResultInfo"
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": "Message",
                  "x-ms-visibility": "internal"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "URL": {
                        "type": "string",
                        "description": "Display the sub-fund product information",
                        "title": "URL"
                      },
                      "Sub-Fund Type": {
                        "type": "string",
                        "description": "Display the sub-fund type information",
                        "title": "Sub-Fund Type"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Display the sub-fund name information",
                        "title": "Name"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Subfund Details",
        "description": "Get information about subfund of a product by using its Product Reference Number",
        "operationId": "SubfundDetailsByPRN",
        "parameters": [
          {
            "name": "PRN",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "FCA Product Reference Number",
            "x-ms-summary": "PRN"
          },
          {
            "name": "X-Auth-Email",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Email address associated with your account to be passed in Header",
            "x-ms-summary": "Email address associated with your account",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/services/V0.1/CIS/{PRN}/Names": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "The status of the record",
                  "title": "Status",
                  "x-ms-visibility": "internal"
                },
                "ResultInfo": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "string",
                      "description": "The page number of the request, when the data returned is in page, it returns the current page. For account details, it will be 1",
                      "title": "page",
                      "x-ms-visibility": "internal"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "The number of records returned per page",
                      "title": "per_page",
                      "x-ms-visibility": "internal"
                    },
                    "total_count": {
                      "type": "string",
                      "description": "The total number of records returned by the request. For firm details it will be only 1",
                      "title": "total_count",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "ResultInfo"
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Effective To": {
                        "type": "string",
                        "description": "Display the other name effective to information",
                        "title": "Effective To"
                      },
                      "Effective From": {
                        "type": "string",
                        "description": "Display the other name effective from information",
                        "title": "Effective From"
                      },
                      "Product Other Name": {
                        "type": "string",
                        "description": "Display the other name information",
                        "title": "Product Other Name"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Product Other Name Details",
        "operationId": "ProductOtherNameDetailsByPRN",
        "description": "Get information about other names of a product by using its Product Reference Number",
        "parameters": [
          {
            "name": "PRN",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "FCA Product Reference Number",
            "x-ms-summary": "PRN"
          },
          {
            "name": "X-Auth-Email",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Email address associated with your account to be passed in Header",
            "x-ms-summary": "Email address associated with your account",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/services/V0.1/Individuals/{IRN}/DisciplinaryHistory": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "The status of the record",
                  "title": "Status",
                  "x-ms-visibility": "internal"
                },
                "ResultInfo": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "string",
                      "description": "The page number of the request, when the data returned is in page, it returns the current page. For account details, it will be 1",
                      "title": "page",
                      "x-ms-visibility": "internal"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "The number of records returned per page",
                      "title": "per_page",
                      "x-ms-visibility": "internal"
                    },
                    "total_count": {
                      "type": "string",
                      "description": "The total number of records returned by the request. For firm details it will be only 1",
                      "title": "total_count",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "ResultInfo"
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "TypeofDescription": {
                        "type": "string",
                        "description": "Display the final notice information of Disciplinary history",
                        "title": "TypeofDescription"
                      },
                      "TypeofAction": {
                        "type": "string",
                        "description": "Display the Type of Action information of Disciplinary history",
                        "title": "TypeofAction"
                      },
                      "EnforcementType": {
                        "type": "string",
                        "description": "Display the Enforcement Type information of Disciplinary history",
                        "title": "EnforcementType"
                      },
                      "ActionEffectiveFrom": {
                        "type": "string",
                        "description": "Display the Action Date information of Disciplinary history",
                        "title": "ActionEffectiveFrom"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Individual Disciplinary History",
        "operationId": "IndividualDisciplinaryHistoryByIRN",
        "description": "Get information about Disciplinary History on an Individual using its Individual Reference Number",
        "parameters": [
          {
            "name": "IRN",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual Reference Number",
            "x-ms-summary": "IRN"
          },
          {
            "name": "X-Auth-Email",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Email address associated with your account to be passed in Header",
            "x-ms-summary": "Email address associated with your account",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/services/V0.1/Firm/{FRN}/Names": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "The status of the record",
                  "title": "Status",
                  "x-ms-visibility": "internal"
                },
                "ResultInfo": {
                  "type": "object",
                  "properties": {
                    "Next": {
                      "type": "string",
                      "description": "Next",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "page": {
                      "type": "string",
                      "description": "The page number of the request, when the data returned is in page, it returns the current page. For account details, it will be 1",
                      "title": "page",
                      "x-ms-visibility": "internal"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "The number of records returned per page",
                      "title": "per_page",
                      "x-ms-visibility": "internal"
                    },
                    "total_count": {
                      "type": "string",
                      "description": "The total number of records returned by the request. For firm details it will be only 1",
                      "title": "total_count",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "ResultInfo"
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Current Names": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Effective From": {
                              "type": "string",
                              "description": "Effective From"
                            },
                            "Status": {
                              "type": "string",
                              "description": "Status"
                            },
                            "Name": {
                              "type": "string",
                              "description": "Name"
                            }
                          }
                        },
                        "description": "Current Names"
                      },
                      "Previous Names": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Effective To": {
                              "type": "string",
                              "description": "Effective To"
                            },
                            "Effective From": {
                              "type": "string",
                              "description": "Effective From"
                            },
                            "Status": {
                              "type": "string",
                              "description": "Status"
                            },
                            "Name": {
                              "type": "string",
                              "description": "Name"
                            }
                          }
                        },
                        "description": "Previous Names"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Firm Other Names",
        "operationId": "FirmOtherNamesByFRN",
        "description": "Get information about the other names used by the firms using its Firm Reference Number",
        "parameters": [
          {
            "name": "FRN",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "FCA Firm Reference Number",
            "x-ms-summary": "FRN"
          },
          {
            "name": "X-Auth-Email",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Email address associated with your account to be passed in Header",
            "x-ms-summary": "Email address associated with your account",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/services/V0.1/Firm/{FRN}/Address": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "The status of the record",
                  "title": "Status",
                  "x-ms-visibility": "internal"
                },
                "ResultInfo": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "string",
                      "description": "The page number of the request, when the data returned is in page, it returns the current page. For account details, it will be 1",
                      "title": "page",
                      "x-ms-visibility": "internal"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "The number of records returned per page",
                      "title": "per_page",
                      "x-ms-visibility": "internal"
                    },
                    "total_count": {
                      "type": "string",
                      "description": "The total number of records returned by the request. For firm details it will be only 1",
                      "title": "total_count",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "ResultInfo"
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "URL": {
                        "type": "string",
                        "description": "URL to fetch the specific address",
                        "title": "URL"
                      },
                      "Website Address": {
                        "type": "string",
                        "description": "Website address, if any, for the location",
                        "title": "Website Address"
                      },
                      "Phone Number": {
                        "type": "string",
                        "description": "Phone, if any, for the location",
                        "title": "Phone Number"
                      },
                      "Country": {
                        "type": "string",
                        "description": "The country of the address",
                        "title": "Country"
                      },
                      "Postcode": {
                        "type": "string",
                        "description": "The postcode of the address",
                        "title": "Postcode"
                      },
                      "County": {
                        "type": "string",
                        "description": "The county of the address",
                        "title": "County"
                      },
                      "Town": {
                        "type": "string",
                        "description": "The town of the address",
                        "title": "Town"
                      },
                      "Address Line 4": {
                        "type": "string",
                        "description": "The fourth line of the address",
                        "title": "Address Line 4"
                      },
                      "Address Line 3": {
                        "type": "string",
                        "description": "The third line of the address",
                        "title": "Address Line 3"
                      },
                      "Address Line 2": {
                        "type": "string",
                        "description": "The second line of the address",
                        "title": "Address Line 2"
                      },
                      "Address Line 1": {
                        "type": "string",
                        "description": "The first line of the address",
                        "title": "Address Line 1"
                      },
                      "Address Type": {
                        "type": "string",
                        "description": "Type of address",
                        "title": "Address Type"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Firm Address",
        "operationId": "FirmAddressByFRN",
        "description": "Get information about a specific firm's addresses using its Firm Reference Number",
        "parameters": [
          {
            "name": "FRN",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "FCA Firm Reference Number",
            "x-ms-summary": "FRN"
          },
          {
            "name": "X-Auth-Email",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Email address associated with your account to be passed in Header",
            "x-ms-summary": "Email address associated with your account",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/services/V0.1/Firm/{FRN}/Individuals": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "The status of the record",
                  "title": "Status",
                  "x-ms-visibility": "internal"
                },
                "ResultInfo": {
                  "type": "object",
                  "properties": {
                    "Next": {
                      "type": "string",
                      "description": "Next",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "page": {
                      "type": "string",
                      "description": "The page number of the request, when the data returned is in page, it returns the current page. For account details, it will be 1",
                      "title": "page",
                      "x-ms-visibility": "internal"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "The number of records returned per page",
                      "title": "per_page",
                      "x-ms-visibility": "internal"
                    },
                    "total_count": {
                      "type": "string",
                      "description": "The total number of records returned by the request. For firm details it will be only 1",
                      "title": "total_count",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "ResultInfo"
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Status": {
                        "type": "string",
                        "description": "The status of the individual",
                        "title": "Status"
                      },
                      "URL": {
                        "type": "string",
                        "description": "URL to fetch the control functions for this individual",
                        "title": "URL"
                      },
                      "IRN": {
                        "type": "string",
                        "description": "Individual Reference Number",
                        "title": "IRN"
                      },
                      "Name": {
                        "type": "string",
                        "description": "The name of the Individual",
                        "title": "Name"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Firm Individuals",
        "operationId": "FirmIndividualsByFRN",
        "description": "Get information about the Individuals associated with a firm using its Firm Reference Number",
        "parameters": [
          {
            "name": "FRN",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "FCA Firm Reference Number",
            "x-ms-summary": "FRN"
          },
          {
            "name": "X-Auth-Email",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Email address associated with your account to be passed in Header",
            "x-ms-summary": "Email address associated with your account",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/services/V0.1/Firm/{FRN}/Permissions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "The status of the record",
                  "title": "Status",
                  "x-ms-visibility": "internal"
                },
                "ResultInfo": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "string",
                      "description": "The page number of the request, when the data returned is in page, it returns the current page. For account details, it will be 1",
                      "title": "page",
                      "x-ms-visibility": "internal"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "The number of records returned per page",
                      "title": "per_page",
                      "x-ms-visibility": "internal"
                    },
                    "total_count": {
                      "type": "string",
                      "description": "The total number of records returned by the request. For firm details it will be only 1",
                      "title": "total_count",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "ResultInfo"
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "Data": {
                  "type": "object",
                  "properties": {
                    "Acting as a CBTL advisor": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Acting as a CBTL advisor": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Acting as a CBTL advisor"
                          }
                        }
                      },
                      "description": "Acting as a CBTL advisor"
                    },
                    "Acting as a CBTL administrator": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Acting as a CBTL administrator": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Acting as a CBTL administrator"
                          }
                        }
                      },
                      "description": "Acting as a CBTL administrator"
                    },
                    "CBTL Status": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CBTL Status": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "CBTL Status"
                          }
                        }
                      },
                      "description": "CBTL Status"
                    },
                    "CBTL Effective Date": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CBTL Effective Date": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "CBTL Effective Date"
                          }
                        }
                      },
                      "description": "CBTL Effective Date"
                    },
                    "Entering into Regulated Consumer Hire Agreements as owner": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Limitation": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Limitation"
                          }
                        }
                      },
                      "description": "Entering into Regulated Consumer Hire Agreements as owner"
                    },
                    "Agreeing to carry on a regulated activity": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Limitation Not Found": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Limitation Not Found"
                          }
                        }
                      },
                      "description": "Agreeing to carry on a regulated activity"
                    },
                    "Acting as a CBTL Administrator": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Limitation Not Found": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Limitation Not Found"
                          }
                        }
                      },
                      "description": "Acting as a CBTL Administrator"
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Firm Activities and Permissions",
        "operationId": "FirmActivitiesAndPermissionsByFRN",
        "description": "Get information about the activities and permissions associated with a specific firm using its Firm Reference Number",
        "parameters": [
          {
            "name": "FRN",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "FCA Firm Reference Number",
            "x-ms-summary": "FRN"
          },
          {
            "name": "X-Auth-Email",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Email address associated with your account to be passed in Header",
            "x-ms-summary": "Email address associated with your account",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/register.fca.org.uk/services/V0.1/Firm/{FRN}/Requirements": {},
    "/services/V0.1/Firm/{FRN}/Requirements/{REQREF}/InvestmentTypes": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "The status of the record",
                  "title": "Status",
                  "x-ms-visibility": "internal"
                },
                "ResultInfo": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "string",
                      "description": "The page number of the request, when the data returned is in page, it returns the current page. For account details, it will be 1",
                      "title": "page",
                      "x-ms-visibility": "internal"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "The number of records returned per page",
                      "title": "per_page",
                      "x-ms-visibility": "internal"
                    },
                    "total_count": {
                      "type": "string",
                      "description": "The total number of records returned by the request. For firm details it will be only 1",
                      "title": "total_count",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "ResultInfo"
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Investment Type Name": {
                        "type": "string",
                        "description": "Name of the Investment Type associated with the Requirement",
                        "title": "Investment Type Name"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Firm Requirements Investment Types",
        "operationId": "FirmRequirementsInvestmentTypesByFRNandREQREF",
        "description": "Get information about the investment types associated with a specific firm requirement using its Firm Reference Number and Requirement Reference",
        "parameters": [
          {
            "name": "FRN",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "FCA Firm Reference Number",
            "x-ms-summary": "FRN"
          },
          {
            "name": "REQREF",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Requirement Ref #",
            "description": "Requirement Reference Number"
          },
          {
            "name": "X-Auth-Email",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Email address associated with your account to be passed in Header",
            "x-ms-summary": "Email address associated with your account",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/services/V0.1/Firm/{FRN}/Regulators/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "The status of the record",
                  "title": "Status",
                  "x-ms-visibility": "internal"
                },
                "ResultInfo": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "string",
                      "description": "The page number of the request, when the data returned is in page, it returns the current page. For account details, it will be 1",
                      "title": "page",
                      "x-ms-visibility": "internal"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "The number of records returned per page",
                      "title": "per_page",
                      "x-ms-visibility": "internal"
                    },
                    "total_count": {
                      "type": "string",
                      "description": "The total number of records returned by the request. For firm details it will be only 1",
                      "title": "total_count",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "ResultInfo"
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Termination Date": {
                        "type": "string",
                        "description": "The date until which the regulator will be valid",
                        "title": "Termination Date"
                      },
                      "Effective Date": {
                        "type": "string",
                        "description": "The date from which the regulator was effective from",
                        "title": "Effective Date"
                      },
                      "Regulator Name": {
                        "type": "string",
                        "description": "Name of the Regulator",
                        "title": "Regulator Name"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Firm Regulators",
        "description": "Get information about a regulator on a firm using its Firm Reference Number",
        "operationId": "FirmRegulatorsByFRN",
        "parameters": [
          {
            "name": "FRN",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "FCA Firm Reference Number",
            "x-ms-summary": "FRN"
          },
          {
            "name": "X-Auth-Email",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Email address associated with your account to be passed in Header",
            "x-ms-summary": "Email address associated with your account",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/services/V0.1/Firm/{FRN}/Passports/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "The status of the record",
                  "title": "Status",
                  "x-ms-visibility": "internal"
                },
                "ResultInfo": {
                  "type": "object",
                  "properties": {
                    "Next": {
                      "type": "string",
                      "description": "Next",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "page": {
                      "type": "string",
                      "description": "The page number of the request, when the data returned is in page, it returns the current page. For account details, it will be 1",
                      "title": "page",
                      "x-ms-visibility": "internal"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "The number of records returned per page",
                      "title": "per_page",
                      "x-ms-visibility": "internal"
                    },
                    "total_count": {
                      "type": "string",
                      "description": "The total number of records returned by the request. For firm details it will be only 1",
                      "title": "total_count",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "ResultInfo"
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Passports": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "PassportDirection": {
                              "type": "string",
                              "description": "PassportDirection"
                            },
                            "Permissions": {
                              "type": "string",
                              "description": "Permissions"
                            },
                            "Country": {
                              "type": "string",
                              "description": "Country"
                            }
                          }
                        },
                        "description": "Passports"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Firm Passport",
        "operationId": "FirmPassportByFRN",
        "description": "Get information about a passport details by using its Firm Reference Number",
        "parameters": [
          {
            "name": "FRN",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "FCA Firm Reference Number",
            "x-ms-summary": "FRN"
          },
          {
            "name": "X-Auth-Email",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Email address associated with your account to be passed in Header",
            "x-ms-summary": "Email address associated with your account",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/register.fca.org.uk/services/V0.1/Firm/{FRN}/Passports/{Country}/Permission/": {},
    "/register.fca.org.uk/services/V0.1/Firm/{FRN}/Waivers": {},
    "/services/V0.1/Firm/{FRN}/Exclusions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                ";Status": {
                  "type": "string",
                  "description": "The status of the record",
                  "title": "Status",
                  "x-ms-visibility": "internal"
                },
                "ResultInfo": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "string",
                      "description": "The page number of the request, when the data returned is in page, it returns the current page. For account details, it will be 1",
                      "title": "page",
                      "x-ms-visibility": "internal"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "The number of records returned per page",
                      "title": "per_page",
                      "x-ms-visibility": "internal"
                    },
                    "total_count": {
                      "type": "string",
                      "description": "The total number of records returned by the request. For firm details it will be only 1",
                      "title": "total_count",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "ResultInfo"
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PSD2_Exclusion_Type": {
                        "type": "string",
                        "description": "Display the Exclusion type information",
                        "title": "PSD2_Exclusion_Type"
                      },
                      "Particular_Exclusion_relied_upon": {
                        "type": "string",
                        "description": "Display the Exemption Rule information",
                        "title": "Particular_Exclusion_relied_upon"
                      },
                      "Description_of_services": {
                        "type": "string",
                        "description": "Display the description information",
                        "title": "Description_of_services"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Firm Exclusions",
        "description": "Get information about an Exclusion on a firm using its Firm Reference Number",
        "operationId": "FirmExclusionsByFRN",
        "parameters": [
          {
            "name": "FRN",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "FCA Firm Reference Number",
            "x-ms-summary": "FRN"
          },
          {
            "name": "X-Auth-Email",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Email address associated with your account to be passed in Header",
            "x-ms-summary": "Email address associated with your account",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/services/V0.1/Firm/{FRN}/DisciplinaryHistory": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "The status of the record",
                  "title": "Status",
                  "x-ms-visibility": "internal"
                },
                "ResultInfo": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "string",
                      "description": "The page number of the request, when the data returned is in page, it returns the current page. For account details, it will be 1",
                      "title": "page",
                      "x-ms-visibility": "internal"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "The number of records returned per page",
                      "title": "per_page",
                      "x-ms-visibility": "internal"
                    },
                    "total_count": {
                      "type": "string",
                      "description": "The total number of records returned by the request. For firm details it will be only 1",
                      "title": "total_count",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "ResultInfo"
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "TypeofDescription": {
                        "type": "string",
                        "description": "Display the final notice information of Disciplinary history",
                        "title": "TypeofDescription"
                      },
                      "TypeofAction": {
                        "type": "string",
                        "description": "Display the Type of Action information of Disciplinary history",
                        "title": "TypeofAction"
                      },
                      "EnforcementType": {
                        "type": "string",
                        "description": "Display the Enforcement Type information of Disciplinary history",
                        "title": "EnforcementType"
                      },
                      "ActionEffectiveFrom": {
                        "type": "string",
                        "description": "Display the Action Date information of Disciplinary history",
                        "title": "ActionEffectiveFrom"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Firm Disciplinary History",
        "operationId": "FirmDisciplinaryHistoryByFRN",
        "description": "Get information about a Disciplinary History on a firm using its Firm Reference Number",
        "parameters": [
          {
            "name": "FRN",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "FCA Firm Reference Number",
            "x-ms-summary": "FRN"
          },
          {
            "name": "X-Auth-Email",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Email address associated with your account to be passed in Header",
            "x-ms-summary": "Email address associated with your account",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/services/V0.1/Firm/{FRN}/Requirements": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "The status of the record",
                  "title": "Status",
                  "x-ms-visibility": "internal"
                },
                "ResultInfo": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "string",
                      "description": "The page number of the request, when the data returned is in page, it returns the current page. For account details, it will be 1",
                      "title": "page",
                      "x-ms-visibility": "internal"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "The number of records returned per page",
                      "title": "per_page",
                      "x-ms-visibility": "internal"
                    },
                    "total_count": {
                      "type": "string",
                      "description": "The total number of records returned by the request. For firm details it will be only 1",
                      "title": "total_count",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "ResultInfo"
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Effective Date": {
                        "type": "string",
                        "description": "Date from which the Requirement became effective",
                        "title": "Effective Date"
                      },
                      "Derivatives as incidental services only.": {
                        "type": "string",
                        "description": "The description of the requirement. The requirement data is structured in large paragraphs and therefore is represented with escape sequence to identify paragraphs, tabs and new lines",
                        "title": "Value"
                      },
                      "Requirement Reference": {
                        "type": "string",
                        "description": "Requirement reference number",
                        "title": "Requirement Reference"
                      },
                      "Financial Promotions Requirement": {
                        "type": "string",
                        "description": "TRUE for financial promotions requirement, FALSE otherwise",
                        "title": "Financial Promotions Requirement"
                      },
                      "Financial Promotions Investment Types": {
                        "type": "string",
                        "description": "API URL for Investment Types for the Financial Promotions Requirement",
                        "title": "Financial Promotions Investment Types"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Firm Requirements",
        "operationId": "FirmRequirementsByFRN",
        "description": "Get information about the requirements associated with a specific firm using its Firm Reference Number",
        "parameters": [
          {
            "name": "FRN",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "FCA Firm Reference Number",
            "x-ms-summary": "FRN"
          },
          {
            "name": "X-Auth-Email",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Email address associated with your account to be passed in Header",
            "x-ms-summary": "Email address associated with your account",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/services/V0.1/Firm/{FRN}/Waivers": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "The status of the record",
                  "title": "Status",
                  "x-ms-visibility": "internal"
                },
                "ResultInfo": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "string",
                      "description": "The page number of the request, when the data returned is in page, it returns the current page. For account details, it will be 1",
                      "title": "page",
                      "x-ms-visibility": "internal"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "The number of records returned per page",
                      "title": "per_page",
                      "x-ms-visibility": "internal"
                    },
                    "total_count": {
                      "type": "string",
                      "description": "The total number of records returned by the request. For firm details it will be only 1",
                      "title": "total_count",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "ResultInfo"
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Waivers_Discretions_URL": {
                        "type": "string",
                        "description": "Display the waivers attachment URL information",
                        "title": "Waivers_Discretions_URL"
                      },
                      "Waivers_Discretions": {
                        "type": "string",
                        "description": "Display the waivers attachment name information",
                        "title": "Waivers_Discretions"
                      },
                      "Rule_ArticleNo": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Rule_ArticleNo"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Firm Waiver",
        "operationId": "FirmWaiverByFRN",
        "description": "Get information about a Waiver on a firm using its Firm Reference Number",
        "parameters": [
          {
            "name": "FRN",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "FCA Firm Reference Number",
            "x-ms-summary": "FRN"
          },
          {
            "name": "X-Auth-Email",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Email address associated with your account to be passed in Header",
            "x-ms-summary": "Email address associated with your account",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/services/V0.1/Firm/{FRN}/Passports/{Country}/Permission/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "string",
                  "description": "The status of the record",
                  "title": "Status",
                  "x-ms-visibility": "internal"
                },
                "ResultInfo": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "string",
                      "description": "The page number of the request, when the data returned is in page, it returns the current page. For account details, it will be 1",
                      "title": "page",
                      "x-ms-visibility": "internal"
                    },
                    "per_page": {
                      "type": "string",
                      "description": "The number of records returned per page",
                      "title": "per_page",
                      "x-ms-visibility": "internal"
                    },
                    "total_count": {
                      "type": "string",
                      "description": "The total number of records returned by the request. For firm details it will be only 1",
                      "title": "total_count",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "ResultInfo"
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Permissions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Name": {
                              "type": "string",
                              "description": "Name"
                            },
                            "InvestmentTypes": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "InvestmentTypes"
                            }
                          }
                        },
                        "description": "Permissions"
                      }
                    }
                  },
                  "description": "Data"
                },
                "PassportType": {
                  "type": "string",
                  "description": "Hold the passport type information like Service",
                  "title": "PassportType"
                },
                "PassportDirection": {
                  "type": "string",
                  "description": "Display the passport direction information e.g. Passporting Out or Passporting In",
                  "title": "PassportDirection"
                },
                "Directive": {
                  "type": "string",
                  "description": "Display the directive information for country specific passport",
                  "title": "Directive"
                },
                "Country": {
                  "type": "string",
                  "description": "Display the country information",
                  "title": "Country"
                }
              }
            }
          }
        },
        "summary": "Firm Passport Permission",
        "operationId": "FirmPassportPermissionByFRNandCountry",
        "description": "Get information about a passport permission by using its Firm Reference Number and Country",
        "parameters": [
          {
            "name": "FRN",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "FRN",
            "description": "FCA Firm Reference Number"
          },
          {
            "name": "Country",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Country",
            "description": "Enter the country name to get information about a passport permission of a firm"
          },
          {
            "name": "X-Auth-Email",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Email address associated with your account to be passed in Header",
            "x-ms-summary": "Email address associated with your account",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.fca.org.uk/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.fca.org.uk/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Finance"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Auth-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-openai-manifest": {
    "humanName": "",
    "modelDescription": ""
  }
}
