{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Updown",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_updown@gmail.com"
    },
    "description": "Updown is an online service that checks your website's status by periodically sending an HTTP request to the URL of your choice. It then notifies you by email, sms or even a webhook, when your website is not responding correctly."
  },
  "host": "updown.io",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/checks": {
      "get": {
        "summary": "List checks",
        "description": "List all your checks",
        "operationId": "ListChecks",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "title": "Checks",
              "description": "The resulting checks.",
              "items": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Unique identifier of the check.",
                    "title": "Token"
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL being checked.",
                    "title": "URL"
                  },
                  "alias": {
                    "type": "string",
                    "description": "Human readable name.",
                    "title": "Alias"
                  },
                  "last_status": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Last status of the check.",
                    "title": "Last status"
                  },
                  "uptime": {
                    "type": "number",
                    "format": "float",
                    "description": "Uptime of the checked website.",
                    "title": "Uptime"
                  },
                  "down": {
                    "type": "boolean",
                    "description": "Indication, whether the checked website is down.",
                    "title": "Down"
                  },
                  "down_since": {
                    "type": "string",
                    "description": "Timestamp, indicating since when the website is down.",
                    "title": "Down since"
                  },
                  "error": {
                    "type": "string",
                    "description": "Indicated error message.",
                    "title": "Error"
                  },
                  "period": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Interval in seconds (15, 30, 60, 120, 300, 600, 1800 or 3600).",
                    "title": "Period"
                  },
                  "apdex_t": {
                    "type": "number",
                    "format": "float",
                    "description": "APDEX threshold in seconds (0.125, 0.25, 0.5, 1.0, 2.0, 4.0 or 8.0).",
                    "title": "Apdex threshold"
                  },
                  "string_match": {
                    "type": "string",
                    "description": "Search for this string in the page.",
                    "title": "String match"
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Is the check enabled (true or false).",
                    "title": "Enabled"
                  },
                  "published": {
                    "type": "boolean",
                    "description": "Shall the status page be public (true or false).",
                    "title": "Published"
                  },
                  "recipients": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of recipients of the check alerts.",
                    "title": "Recipients"
                  },
                  "last_check_at": {
                    "type": "string",
                    "description": "Timestamp of the last check.",
                    "title": "Last check at"
                  },
                  "next_check_at": {
                    "type": "string",
                    "description": "Timestamp of the next check.",
                    "title": "Next check at"
                  },
                  "http_verb": {
                    "type": "string",
                    "description": "HTTP verb used for the check.",
                    "title": "HTTP verb"
                  },
                  "http_body": {
                    "type": "string",
                    "description": "HTTP body used for the check, if any.",
                    "title": "HTTP body"
                  },
                  "ssl": {
                    "type": "object",
                    "title": "SSL",
                    "description": "SSL details",
                    "properties": {
                      "tested_at": {
                        "type": "string",
                        "description": "Timestamp when SSL was tested.",
                        "title": "Tested at"
                      },
                      "expires_at": {
                        "type": "string",
                        "description": "Timestamp, when SSL expires.",
                        "title": "Expires at"
                      },
                      "valid": {
                        "type": "boolean",
                        "description": "Indication, whether SSL is valid.",
                        "title": "Valid"
                      },
                      "error": {
                        "type": "string",
                        "description": "Relevant error message.",
                        "title": "Error"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create check",
        "description": "Add a new check",
        "operationId": "CreateCheck",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL you want to monitor.",
                  "x-ms-summary": "URL",
                  "x-ms-visibility": "important"
                },
                "period": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Interval in seconds.",
                  "x-ms-summary": "Period",
                  "x-ms-visibility": "important",
                  "enum": [
                    15,
                    30,
                    60,
                    120,
                    300,
                    600,
                    1800,
                    3600
                  ]
                },
                "apdex_t": {
                  "type": "number",
                  "format": "float",
                  "description": "APDEX threshold in seconds.",
                  "x-ms-summary": "Apdex threshold",
                  "x-ms-visibility": "advanced",
                  "enum":[
                    0.125,
                    0.25,
                    0.5,
                    1.0,
                    2.0,
                    4.0,
                    8.0
                  ]
                },
                "enabled": {
                  "type": "boolean",
                  "description": "Is the check enabled (true or false).",
                  "x-ms-summary": "Enabled",
                  "x-ms-visibility": "advanced"
                },
                "published": {
                  "type": "boolean",
                  "description": "Shall the status page be public (true or false).",
                  "title": "Published",
                  "x-ms-visibility": "advanced"
                },
                "alias": {
                  "type": "string",
                  "description": "Human readable name.",
                  "title": "Alias",
                  "x-ms-visibility": "advanced"
                },
                "string_match": {
                  "type": "string",
                  "description": "Search for this string in the page.",
                  "x-ms-summary": "String match",
                  "x-ms-visibility": "advanced"
                },
                "http_verb": {
                  "type": "string",
                  "description": "The HTTP verb used to perform the request.",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "HTTP verb",
                  "enum": [
                    "GET/HEAD",
                    "POST",
                    "PUT",
                    "PATCH",
                    "DELETE",
                    "OPTIONS"
                  ]
                },
                "http_body": {
                  "type": "string",
                  "description": "The HTTP body sent alongside the request.",
                  "x-ms-summary": "HTTP body",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string",
                  "description": "Unique identifier of the check.",
                  "title": "Token"
                },
                "url": {
                  "type": "string",
                  "description": "The URL being checked.",
                  "title": "URL"
                },
                "alias": {
                  "type": "string",
                  "description": "Human readable name.",
                  "title": "Alias"
                },
                "last_status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Last status of the check.",
                  "title": "Last status"
                },
                "uptime": {
                  "type": "number",
                  "format": "float",
                  "description": "Uptime of the checked website.",
                  "title": "Uptime"
                },
                "down": {
                  "type": "boolean",
                  "description": "Indication, whether the checked website is down.",
                  "title": "Down"
                },
                "down_since": {
                  "type": "string",
                  "description": "Timestamp, indicating since when the website is down.",
                  "title": "Down since"
                },
                "error": {
                  "type": "string",
                  "description": "Indicated error message.",
                  "title": "Error"
                },
                "period": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Interval in seconds (15, 30, 60, 120, 300, 600, 1800 or 3600).",
                  "title": "Period"
                },
                "apdex_t": {
                  "type": "number",
                  "format": "float",
                  "description": "APDEX threshold in seconds (0.125, 0.25, 0.5, 1.0, 2.0, 4.0 or 8.0).",
                  "title": "Apdex threshold"
                },
                "string_match": {
                  "type": "string",
                  "description": "Search for this string in the page.",
                  "title": "String match"
                },
                "enabled": {
                  "type": "boolean",
                  "description": "Is the check enabled (true or false).",
                  "title": "Enabled"
                },
                "published": {
                  "type": "boolean",
                  "description": "Shall the status page be public (true or false).",
                  "title": "Published"
                },
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Array of recipients of the check alerts.",
                  "title": "Recipients"
                },
                "last_check_at": {
                  "type": "string",
                  "description": "Timestamp of the last check.",
                  "title": "Last check at"
                },
                "next_check_at": {
                  "type": "string",
                  "description": "Timestamp of the next check.",
                  "title": "Next check at"
                },
                "http_verb": {
                  "type": "string",
                  "description": "HTTP verb used for the check.",
                  "title": "HTTP verb"
                },
                "http_body": {
                  "type": "string",
                  "description": "HTTP body used for the check, if any.",
                  "title": "HTTP body"
                }
              }
            }
          }
        }
      }
    },
    "/nodes": {
      "get": {
        "summary": "List API nodes",
        "description": "List all updown.io monitoring nodes",
        "operationId": "ListApiNodes",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/ApiNodeRef"
              }
            }
          }
        }
      }
    },
    "/recipients": {
      "get": {
        "summary": "List Recipients",
        "description": "List all the possible alert recipients/channels on your account",
        "operationId": "ListRecipients",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RecipientRef"
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create recipient",
        "description": "Add a new recipient",
        "operationId": "CreateRecipient",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Type of the recipient. (Some values can only be set on web UI)",
                  "title": "Type",
                  "enum": [
                    "email",
                    "slack_compatible",
                    "sms",
                    "webhook"
                  ]
                },
                "name": {
                  "type": "string",
                  "description": "The optional user-friendlier label for types which support it (webhooks only at the moment).",
                  "title": "Name"
                },
                "value": {
                  "type": "string",
                  "description": "The recipient value (email address, phone number or URL).",
                  "title": "Value"
                },
                "selected": {
                  "type": "boolean",
                  "description": "Initial state for all checks: true = selected on all existing checks (default); false = not selected on any check.",
                  "title": "Selected"
                }
              },
              "required": [
                "type",
                "value"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RecipientRef"
            }
          }
        }
      }
    },
    "/recipients/{recipientId}": {
      "delete": {
        "summary": "Delete recipient",
        "description": "Delete a recipient",
        "operationId": "DeleteRecipient",
        "parameters": [
          {
            "$ref": "#/parameters/recipientIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "deleted": {
                  "type": "boolean",
                  "description": "Indication, set to true if deletion was success.",
                  "title": "Deleted"
                }
              }
            }
          }
        }
      }
    },
    "/checks/{checkId}": {
      "get": {
        "summary": "Get check",
        "description": "Show a single check",
        "operationId": "GetCheck",
        "parameters": [
          {
            "name": "metrics",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Metrics",
            "description": "Include performance metrics (last hour only)."
          },
          {
            "$ref": "#/parameters/checkIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string",
                  "description": "Unique identifier of the check.",
                  "title": "Token"
                },
                "url": {
                  "type": "string",
                  "description": "The URL being checked.",
                  "title": "URL"
                },
                "alias": {
                  "type": "string",
                  "description": "Human readable name.",
                  "title": "Alias"
                },
                "last_status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Last status of the check.",
                  "title": "Last status"
                },
                "uptime": {
                  "type": "number",
                  "format": "float",
                  "description": "Uptime of the checked website.",
                  "title": "Uptime"
                },
                "down": {
                  "type": "boolean",
                  "description": "Indication, whether the checked website is down.",
                  "title": "Down"
                },
                "down_since": {
                  "type": "string",
                  "description": "Timestamp, indicating since when the website is down.",
                  "title": "Down since"
                },
                "error": {
                  "type": "string",
                  "description": "Indicated error message.",
                  "title": "Error"
                },
                "period": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Interval in seconds (15, 30, 60, 120, 300, 600, 1800 or 3600).",
                  "title": "Period"
                },
                "apdex_t": {
                  "type": "number",
                  "format": "float",
                  "description": "APDEX threshold in seconds (0.125, 0.25, 0.5, 1.0, 2.0, 4.0 or 8.0).",
                  "title": "Apdex threshold"
                },
                "string_match": {
                  "type": "string",
                  "description": "Search for this string in the page.",
                  "title": "String match"
                },
                "enabled": {
                  "type": "boolean",
                  "description": "Is the check enabled (true or false).",
                  "title": "Enabled"
                },
                "published": {
                  "type": "boolean",
                  "description": "Shall the status page be public (true or false).",
                  "title": "Published"
                },
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Array of recipients of the check alerts.",
                  "title": "Recipients"
                },
                "last_check_at": {
                  "type": "string",
                  "description": "Timestamp of the last check.",
                  "title": "Last check at"
                },
                "next_check_at": {
                  "type": "string",
                  "description": "Timestamp of the next check.",
                  "title": "Next check at"
                },
                "http_verb": {
                  "type": "string",
                  "description": "HTTP verb used for the check.",
                  "title": "HTTP verb"
                },
                "http_body": {
                  "type": "string",
                  "description": "HTTP body used for the check, if any.",
                  "title": "HTTP body"
                },
                "ssl": {
                  "type": "object",
                  "title": "SSL",
                  "description": "SSL details",
                  "properties": {
                    "tested_at": {
                      "type": "string",
                      "description": "Timestamp when SSL was tested.",
                      "title": "Tested at"
                    },
                    "expires_at": {
                      "type": "string",
                      "description": "Timestamp, when SSL expires.",
                      "title": "Expires at"
                    },
                    "valid": {
                      "type": "boolean",
                      "description": "Indication, whether SSL is valid.",
                      "title": "Valid"
                    },
                    "error": {
                      "type": "string",
                      "description": "Relevant error message.",
                      "title": "Error"
                    }
                  }
                },
                "metrics": {
                  "type": "object",
                  "title": "Metrics",
                  "description": "Metrics details.",
                  "properties": {
                    "apdex": {
                      "type": "number",
                      "format": "float",
                      "description": "Apdex metrics of the check.",
                      "title": "Apdex"
                    },
                    "timings": {
                      "type": "object",
                      "properties": {
                        "redirect": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Redirect details.",
                          "title": "Redirect"
                        },
                        "namelookup": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Name lookup details.",
                          "title": "Name lookup"
                        },
                        "connection": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Connection details.",
                          "title": "Connection"
                        },
                        "handshake": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Handshake details.",
                          "title": "Handshake"
                        },
                        "response": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Response details.",
                          "title": "Response"
                        },
                        "total": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Total number of timings.",
                          "title": "Total"
                        }
                      },
                      "description": "Timings details.",
                      "title": "Timings"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete check",
        "description": "Delete a check",
        "operationId": "DeleteCheck",
        "parameters": [
          {
            "$ref": "#/parameters/checkIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "deleted": {
                  "type": "boolean",
                  "description": "Indication, set to true if deletion was success.",
                  "title": "Deleted"
                }
              }
            }
          }
        }
      }
    },
    "/checks/{checkId}/metrics": {
      "get": {
        "summary": "Get check metrics",
        "description": "Get detailed metrics about the check",
        "operationId": "GetCheckMetrics",
        "parameters": [
          {
            "$ref": "#/parameters/checkIdParam"
          },
          {
            "name": "from",
            "in": "query",
            "type": "string",
            "description": "Start time, default to 1 month ago. Supported formats described on 'updown.io'.",
            "x-ms-summary": "From",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "to",
            "in": "query",
            "type": "string",
            "description": "End time, default to now. Supported formats described on 'updown.io'.",
            "x-ms-summary": "To",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "apdex": {
                  "type": "number",
                  "format": "float",
                  "description": "Application Performance Index",
                  "title": "Apdex"
                },
                "timings": {
                  "type": "object",
                  "title": "Timings",
                  "description": "Timing details",
                  "properties": {
                    "redirect": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Statistical details of redirects.",
                      "title": "Redirect"
                    },
                    "namelookup": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Statistical details of name lookups.",
                      "title": "Name lookup"
                    },
                    "connection": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Statistical details of connections.",
                      "title": "Connection"
                    },
                    "handshake": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Statistical details of handshakes.",
                      "title": "Handshake"
                    },
                    "response": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Statistical details of responses.",
                      "title": "Response"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Statistical details of total timings.",
                      "title": "Total"
                    }
                  }
                },
                "requests": {
                  "type": "object",
                  "title": "Requests",
                  "description": "Requests details.",
                  "properties": {
                    "samples": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Number of samples.",
                      "title": "Samples"
                    },
                    "failures": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Number of failures.",
                      "title": "Failures"
                    },
                    "satisfied": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Number of satisfied requests.",
                      "title": "Satisfied"
                    },
                    "tolerated": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Number of tolerated requests.",
                      "title": "Tolerated"
                    },
                    "by_response_time": {
                      "type": "object",
                      "properties": {
                        "under125": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Number of responses under 125ms.",
                          "title": "Under 125ms"
                        },
                        "under250": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Number of responses under 250ms.",
                          "title": "Under 250ms"
                        },
                        "under500": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Number of responses under 500ms.",
                          "title": "Under 500ms"
                        },
                        "under1000": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Number of responses under 1000ms.",
                          "title": "Under 1000ms"
                        },
                        "under2000": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Number of responses under 2000ms.",
                          "title": "Under 2000ms"
                        },
                        "under4000": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Number of responses under 4000ms.",
                          "title": "Under 4000ms"
                        },
                        "under8000": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Number of responses under 8000ms.",
                          "title": "Under 8000ms"
                        },
                        "under16000": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Number of responses under 16000ms.",
                          "title": "Under 16000ms"
                        },
                        "under32000": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Number of responses under 32000ms.",
                          "title": "Under 32000ms"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ApiNodeRef":{
      "type": "object",
      "title": "API node",
      "description": "Details of an API node.",
      "properties": {
        "ip": {
          "type": "string",
          "description": "IPv4 address of the node.",
          "title": "IPv4"
        },
        "ip6": {
          "type": "string",
          "description": "IPv6 address of the node.",
          "title": "IPv6"
        },
        "city": {
          "type": "string",
          "description": "City of the node.",
          "title": "City"
        },
        "country": {
          "type": "string",
          "description": "Country of the node.",
          "title": "Country"
        },
        "country_code": {
          "type": "string",
          "description": "Country code of the node.",
          "title": "Country code"
        },
        "lat": {
          "type": "number",
          "format": "float",
          "description": "Latitude of the node.",
          "title": "Latitude"
        },
        "lng": {
          "type": "number",
          "format": "float",
          "description": "Longitude of the node.",
          "title": "Longitude"
        }
      }
    },
    "RecipientRef": {
      "type": "object",
      "title": "Recipient",
      "description": "Details of a recipient",
      "properties": {
        "id": {
          "type": "string",
          "title": "ID",
          "description": "Unique identifier of recipient."
        },
        "type": {
          "type": "string",
          "title": "Type",
          "description": "Type of recipient, such as email, webhook, sms, etc."
        },
        "name": {
          "type": "string",
          "title": "Name",
          "description": "Name of recipient."
        },
        "value": {
          "type": "string",
          "title": "Value",
          "description": "Value of recipient, for example URL for webhook or phone number for sms."
        }
      }
    }
  },
  "parameters": {
    "checkIdParam": {
      "name": "checkId",
      "in": "path",
      "type": "string",
      "required": true,
      "description": "The unique identifier (token) of the check.",
      "x-ms-summary": "Token",
      "x-ms-url-encoding": "single"
    },
    "recipientIdParam": {
      "name": "recipientId",
      "in": "path",
      "type": "string",
      "required": true,
      "description": "The unique identifier of the recipient.",
      "x-ms-summary": "Recipient ID",
      "x-ms-url-encoding": "single"
    }
  },
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://updown.io/api"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://updown.io/privacy_policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Website"
    }
  ]
}