{
  "swagger": "2.0",
  "info": {
    "title": "tyntec 2FA",
    "description": "Tyntec Authentication is a tool for user-friendly two-factor authentication (2FA) with SMS and voice.",
    "contact": {
      "name": "tyntec support",
      "url": "https://www.tyntec.com/get-help-support",
      "email": "support@tyntec.com"
    },

    "version": "1.0"
  },
  "host": "api.tyntec.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/2fa/v1/otp": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "otpId": {
                  "type": "string",
                  "description": "otpId"
                },
                "accountId": {
                  "type": "string",
                  "description": "accountId"
                },
                "applicationId": {
                  "type": "string",
                  "description": "applicationId"
                },
                "number": {
                  "type": "string",
                  "description": "number"
                },
                "attemptCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "attemptCount"
                },
                "otpStatus": {
                  "type": "string",
                  "description": "otpStatus"
                },
                "expire": {
                  "type": "integer",
                  "format": "int32",
                  "description": "expire"
                },
                "created": {
                  "type": "integer",
                  "format": "int32",
                  "description": "created"
                },
                "referenceId": {
                  "type": "string",
                  "description": "referenceId"
                },
                "timestampCreated": {
                  "type": "string",
                  "description": "timestampCreated"
                },
                "timestampExpire": {
                  "type": "string",
                  "description": "timestampExpire"
                }
              }
            }
          }
        },
        "summary": "Send One-Time Password",
        "description": "Sends an OTP (One-time Password) to a destination number.",
        "operationId": "SendOTP",
        "parameters": [
          {
            "name": "number",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Receiver's Phone Number",
            "x-ms-summary": "Phone Number"
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "In case you want to overwrite the application template",
            "x-ms-summary": "Text"
          },
          {
            "name": "pinLength",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Length of the auto generated PIN",
            "x-ms-summary": "Pin Lenght"
          },
          {
            "name": "via",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "AUTO",
            "description": "The delivery channel",
            "x-ms-summary": "Delivery Channel",
            "enum": [
              "AUTO",
              "VOICE",
              "SMS"
            ]
          },
          {
            "name": "applicationId",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The applicationId of the application you would like to use. If not specified, uses default one.",
            "x-ms-summary": "Application ID"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specifies the local language in ISO 639-1",
            "x-ms-summary": "Language"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The ISO 3166-1 alpha-2 code of the destination number.",
            "x-ms-summary": "Country"
          },
          {
            "name": "otpCode",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The OTP code to be delivered instead of auto generated one.",
            "x-ms-summary": "OTP Code"
            
          },
          {
            "name": "Sender",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sender name for OTP delivery via SMS (if you want to override the application template one)",
            "x-ms-summary": "Sender"
          },
          {
            "name": "Caller",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Caller id for OTP delivery via Voice (if you want to override the application template one)",
            "x-ms-summary": "Caller"
          }
        ]
      }
    },
    "/2fa/v1/otp/{otpID}": {
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "otpId": {
                  "type": "string",
                  "description": "otpId"
                },
                "accountId": {
                  "type": "string",
                  "description": "accountId"
                },
                "applicationId": {
                  "type": "string",
                  "description": "applicationId"
                },
                "number": {
                  "type": "string",
                  "description": "number"
                },
                "attemptCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "attemptCount"
                },
                "otpStatus": {
                  "type": "string",
                  "description": "otpStatus"
                },
                "expire": {
                  "type": "integer",
                  "format": "int32",
                  "description": "expire"
                },
                "created": {
                  "type": "integer",
                  "format": "int32",
                  "description": "created"
                },
                "referenceId": {
                  "type": "string",
                  "description": "referenceId"
                },
                "timestampCreated": {
                  "type": "string",
                  "description": "timestampCreated"
                },
                "timestampExpire": {
                  "type": "string",
                  "description": "timestampExpire"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "otpID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of your OTP",
            "x-ms-summary": "One-time Password ID",
            "x-ms-url-encoding":"single"
          }
        ],
        "operationId": "DeleteOTP",
        "summary": "Delete One-Time Password",
        "description": "Deletes a given One-time Password"
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "otpId": {
                  "type": "string",
                  "description": "otpId"
                },
                "accountId": {
                  "type": "string",
                  "description": "accountId"
                },
                "applicationId": {
                  "type": "string",
                  "description": "applicationId"
                },
                "number": {
                  "type": "string",
                  "description": "number"
                },
                "attemptCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "attemptCount"
                },
                "otpStatus": {
                  "type": "string",
                  "description": "otpStatus"
                },
                "expire": {
                  "type": "integer",
                  "format": "int32",
                  "description": "expire"
                },
                "created": {
                  "type": "integer",
                  "format": "int32",
                  "description": "created"
                },
                "referenceId": {
                  "type": "string",
                  "description": "referenceId"
                },
                "timestampCreated": {
                  "type": "string",
                  "description": "timestampCreated"
                },
                "timestampExpire": {
                  "type": "string",
                  "description": "timestampExpire"
                }
              }
            }
          }
        },
        "summary": "Resend One-Time Password",
        "operationId": "ResendOTP",
        "description": "Resends the given OTP (One-time Password) to a destination number.",
        "parameters": [
          {
            "name": "otpID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of your OTP",
            "x-ms-summary": "One-time Password ID",
            "x-ms-url-encoding":"single"
          },
          {
            "name": "via",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "AUTO",
            "description": "The delivery channel",
            "x-ms-summary": "Delivery Channel",
            "enum": [
              "AUTO",
              "VOICE",
              "SMS"
            ]
          },
          {
            "name": "Sender",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sender name for OTP delivery via SMS (if you want to override the application template one)",
            "x-ms-summary": "Sender"
          },
          {
            "name": "Caller",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Caller id for OTP delivery via Voice (if you want to override the application template one)",
            "x-ms-summary": "Caller"
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "otpId": {
                  "type": "string",
                  "description": "otpId"
                },
                "accountId": {
                  "type": "string",
                  "description": "accountId"
                },
                "applicationId": {
                  "type": "string",
                  "description": "applicationId"
                },
                "number": {
                  "type": "string",
                  "description": "number"
                },
                "attemptCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "attemptCount"
                },
                "otpStatus": {
                  "type": "string",
                  "description": "otpStatus"
                },
                "expire": {
                  "type": "integer",
                  "format": "int32",
                  "description": "expire"
                },
                "created": {
                  "type": "integer",
                  "format": "int32",
                  "description": "created"
                },
                "referenceId": {
                  "type": "string",
                  "description": "referenceId"
                },
                "timestampCreated": {
                  "type": "string",
                  "description": "timestampCreated"
                },
                "timestampExpire": {
                  "type": "string",
                  "description": "timestampExpire"
                }
              }
            }
          }
        },
        "operationId": "StatusOTP",
        "summary": "Get One-Time Password Status",
        "description": "Gets status report for given One-Time Password",
        "parameters": [
          {
            "name": "otpID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of your OTP",
            "x-ms-summary": "One-time Password ID",
            "x-ms-url-encoding":"single"
          }
        ]
      }
    },
    "/2fa/v1/otp/{otpID}/check": {
      "post": {
        "responses": {
          "200": {
            "description": "The code is correct",
            "schema": {
              "type": "object",
              "properties": {
                "otpId": {
                  "type": "string",
                  "description": "otpId"
                },
                "accountId": {
                  "type": "string",
                  "description": "accountId"
                },
                "applicationId": {
                  "type": "string",
                  "description": "applicationId"
                },
                "number": {
                  "type": "string",
                  "description": "number"
                },
                "attemptCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "attemptCount"
                },
                "otpStatus": {
                  "type": "string",
                  "description": "otpStatus"
                },
                "expire": {
                  "type": "integer",
                  "format": "int32",
                  "description": "expire"
                },
                "created": {
                  "type": "integer",
                  "format": "int32",
                  "description": "created"
                },
                "referenceId": {
                  "type": "string",
                  "description": "referenceId"
                },
                "timestampCreated": {
                  "type": "string",
                  "description": "timestampCreated"
                },
                "timestampExpire": {
                  "type": "string",
                  "description": "timestampExpire"
                }
              }
            }
          },
          "401": {
            "description": "The code is incorrect",
            "schema": {
            }
          }
        },
        "summary": "Verify One-Time Password",
        "operationId": "VerifyOTP",
        "parameters": [
          {
            "name": "otpID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of your OTP",
            "x-ms-summary": "One-time Password ID",
            "x-ms-url-encoding":"single"
          },
          {
            "name": "otpCode",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Input One-time password code that you want to verify",
            "x-ms-summary": "One-Time Password Code"
          }
        ],
        "description": "Verifies the given OTP code."
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "apikey"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tyntec.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tyntec.com/data-privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security;Commerce"
    }
  ]
}