{
  "swagger": "2.0",
  "info": {
    "title": "tyntec Two-Factor Authentication",
    "description": "Tyntec Authentication is a tool for user-friendly two-factor authentication (2FA) with SMS and voice.",
    "contact": {
      "name": "tyntec support",
      "url": "https://www.tyntec.com/get-help-support",
      "email": "support@tyntec.com"
    },

    "version": "1.0"
  },
  "host": "api.tyntec.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/2fa/v1/otp": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Send One-Time Password",
        "description": "Sends an OTP (One-time Password) to a destination number.",
        "operationId": "SendOTP",
        "parameters": [
          {
            "name": "number",
            "in": "query",
            "required": true,
            "type": "integer"
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pinLength",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "via",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "AUTO",
            "enum": [
              "AUTO",
              "VOICE",
              "SMS"
            ]
          },
          {
            "name": "applicationId",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "otpCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Sender",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Caller",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/2fa/v1/otp/{otpID}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "parameters": [
          {
            "name": "otpID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "operationId": "DeleteOTP",
        "summary": "Delete One-Time Password",
        "description": "Deletes a given One-time Password"
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Resend One-Time Password",
        "operationId": "ResendOTP",
        "description": "Resends the given OTP (One-time Password) to a destination number.",
        "parameters": [
          {
            "name": "otpID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "via",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sender",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "caller",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      },
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "StatusOTP",
        "summary": "Get One-Time Password Status",
        "description": "Gets status report for given One-Time Password",
        "parameters": [
          {
            "name": "otpID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/2fa/v1/otp/{otpID}/check": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Verify One-Time Password",
        "operationId": "VerifyOTP",
        "parameters": [
          {
            "name": "otpID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "otpCode",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Input One-time password code that you want to verify",
            "x-ms-summary": "One-Time Password Code"
          }
        ],
        "description": "Verifies the given OTP code."
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "apikey"
    }
  },
  "security": [],
  "tags": []
}