{
  "swagger": "2.0",
  "info": {
    "title": "SearchAPI - Google Search",
    "description": "Google Search service scrapes SERP for real-time results. Scrape organic results, ads, related searches, inline questions and more.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "www.searchapi.io",
  "basePath": "/api/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "search_metadata": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "request_time_taken": {
                      "type": "number",
                      "format": "float",
                      "description": "The request time taken.",
                      "title": "Request Time Taken"
                    },
                    "parsing_time_taken": {
                      "type": "number",
                      "format": "float",
                      "description": "The parsing time taken.",
                      "title": "Parsing Time Taken"
                    },
                    "total_time_taken": {
                      "type": "number",
                      "format": "float",
                      "description": "The total time taken.",
                      "title": "Total Time Taken"
                    },
                    "request_url": {
                      "type": "string",
                      "description": "The request URL address.",
                      "title": "Request URL"
                    },
                    "html_url": {
                      "type": "string",
                      "description": "The HTML URL address.",
                      "title": "HTML URL"
                    },
                    "json_url": {
                      "type": "string",
                      "description": "The JSON URL address.",
                      "title": "JSON URL"
                    }
                  },
                  "title": "Search Metadata"
                },
                "search_parameters": {
                  "type": "object",
                  "properties": {
                    "engine": {
                      "type": "string",
                      "description": "The engine.",
                      "title": "Engine"
                    },
                    "q": {
                      "type": "string",
                      "description": "The search query.",
                      "title": "Query"
                    },
                    "google_domain": {
                      "type": "string",
                      "description": "The Google domain.",
                      "title": "Google Domain"
                    },
                    "hl": {
                      "type": "string",
                      "description": "The interface language.",
                      "title": "Interface Language"
                    },
                    "gl": {
                      "type": "string",
                      "description": "The search country.",
                      "title": "Search Country"
                    }
                  },
                  "title": "Search Parameters"
                },
                "search_information": {
                  "type": "object",
                  "properties": {
                    "query_displayed": {
                      "type": "string",
                      "description": "The query displayed.",
                      "title": "Query Displayed"
                    },
                    "total_results": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of results.",
                      "title": "Total Results"
                    },
                    "time_taken_displayed": {
                      "type": "number",
                      "format": "float",
                      "description": "The time taken to display.",
                      "title": "Time Taken Display"
                    },
                    "detected_location": {
                      "type": "string",
                      "description": "The detected location.",
                      "title": "Detected Location"
                    }
                  },
                  "title": "Search Information"
                },
                "knowledge_graph": {
                  "type": "object",
                  "properties": {
                    "kgmid": {
                      "type": "string",
                      "description": "The KGD identifier.",
                      "title": "KGM ID"
                    },
                    "knowledge_graph_type": {
                      "type": "string",
                      "description": "The Knowledge Graph type.",
                      "title": "Knowledge Graph Type"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title.",
                      "title": "Title"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "link": {
                          "type": "string",
                          "description": "The link.",
                          "title": "Link"
                        }
                      },
                      "title": "Source"
                    },
                    "initial_release_date": {
                      "type": "string",
                      "description": "The initial release date .",
                      "title": "Initial Release Date"
                    },
                    "developers": {
                      "type": "string",
                      "description": "The developers.",
                      "title": "Developers"
                    },
                    "developers_links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "string",
                            "description": "The text.",
                            "title": "Text"
                          },
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          }
                        }
                      },
                      "title": "Developers Links"
                    },
                    "engine": {
                      "type": "string",
                      "description": "The engine.",
                      "title": "Engine"
                    },
                    "license": {
                      "type": "string",
                      "description": "The license.",
                      "title": "License"
                    },
                    "platform": {
                      "type": "string",
                      "description": "The platform.",
                      "title": "Platform"
                    },
                    "stable_release": {
                      "type": "string",
                      "description": "The stable release.",
                      "title": "Stable Release"
                    },
                    "written_in": {
                      "type": "string",
                      "description": "The language written in.",
                      "title": "Written In"
                    },
                    "written_in_links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "string",
                            "description": "The text.",
                            "title": "Text"
                          },
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          }
                        }
                      },
                      "title": "Written In Links"
                    },
                    "rating": {
                      "type": "number",
                      "format": "float",
                      "description": "The rating.",
                      "title": "Rating"
                    },
                    "reviews": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The reviews.",
                      "title": "Reviews"
                    },
                    "price": {
                      "type": "string",
                      "description": "The price.",
                      "title": "Price"
                    },
                    "price_description": {
                      "type": "string",
                      "description": "The price description.",
                      "title": "Price Description"
                    },
                    "website": {
                      "type": "string",
                      "description": "The website.",
                      "title": "Website"
                    },
                    "directions": {
                      "type": "string",
                      "description": "The directions.",
                      "title": "Directions"
                    },
                    "number_of_employees": {
                      "type": "string",
                      "description": "The number of employees.",
                      "title": "Number Of Employees"
                    },
                    "number_of_employees_links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "string",
                            "description": "The text.",
                            "title": "Text"
                          },
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          }
                        }
                      },
                      "title": "Number Of Employees Links"
                    },
                    "company_reviews": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          },
                          "rating_text": {
                            "type": "string",
                            "description": "The rating text.",
                            "title": "Rating Text"
                          },
                          "rating": {
                            "type": "number",
                            "format": "float",
                            "description": "The rating.",
                            "title": "Rating"
                          },
                          "rating_out_of": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The rating out of.",
                            "title": "Rating Out Of"
                          },
                          "reviews": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of reviews.",
                            "title": "Reviews"
                          }
                        }
                      },
                      "title": "Company Reviews"
                    },
                    "extensions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The extensions.",
                      "title": "Extensions"
                    },
                    "typical_salaries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "salary": {
                            "type": "string",
                            "description": "The salary.",
                            "title": "Salary"
                          },
                          "salary_range": {
                            "type": "string",
                            "description": "The salary range.",
                            "title": "Salary Range"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name.",
                                "title": "Name"
                              },
                              "link": {
                                "type": "string",
                                "description": "The link.",
                                "title": "Link"
                              }
                            },
                            "title": "Source"
                          }
                        }
                      },
                      "title": "Typical Salaries"
                    },
                    "image": {
                      "type": "string",
                      "description": "The image.",
                      "title": "Image"
                    },
                    "service_options": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The service options.",
                      "title": "Service Options"
                    },
                    "address": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "menu": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string",
                          "description": "The text.",
                          "title": "Text"
                        },
                        "link": {
                          "type": "string",
                          "description": "The link.",
                          "title": "Link"
                        }
                      },
                      "title": "Menu"
                    },
                    "phone": {
                      "type": "string",
                      "description": "The phone.",
                      "title": "Phone"
                    },
                    "hours": {
                      "type": "string",
                      "description": "The hours.",
                      "title": "Hours"
                    },
                    "open_hours": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          }
                        }
                      },
                      "title": "Open Hours"
                    },
                    "popular_times": {
                      "type": "object",
                      "properties": {
                        "live": {
                          "type": "object",
                          "properties": {
                            "time": {
                              "type": "string",
                              "description": "The time.",
                              "title": "Time"
                            },
                            "info": {
                              "type": "string",
                              "description": "The info.",
                              "title": "Info"
                            },
                            "typical_time_spent": {
                              "type": "string",
                              "description": "The typical time spent.",
                              "title": "Typical Time Spent"
                            }
                          },
                          "title": "Live"
                        },
                        "chart": {
                          "type": "object",
                          "properties": {
                            "monday": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "time": {
                                    "type": "string",
                                    "description": "The time.",
                                    "title": "Time"
                                  },
                                  "busyness_score": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The busyness score.",
                                    "title": "Busyness Score"
                                  },
                                  "info": {
                                    "type": "string",
                                    "description": "The information.",
                                    "title": "Info"
                                  }
                                }
                              },
                              "title": "Monday"
                            },
                            "tuesday": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "time": {
                                    "type": "string",
                                    "description": "The time.",
                                    "title": "Time"
                                  },
                                  "busyness_score": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The busyness score.",
                                    "title": "Busyness Score"
                                  },
                                  "info": {
                                    "type": "string",
                                    "description": "The information.",
                                    "title": "Info"
                                  }
                                }
                              },
                              "title": "Tuesday"
                            },
                            "wednesday": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "time": {
                                    "type": "string",
                                    "description": "The time.",
                                    "title": "Time"
                                  },
                                  "busyness_score": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The busyness score.",
                                    "title": "Busyness Score"
                                  },
                                  "info": {
                                    "type": "string",
                                    "description": "The information.",
                                    "title": "Info"
                                  }
                                }
                              },
                              "title": "Wednesday"
                            },
                            "thursday": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "time": {
                                    "type": "string",
                                    "description": "The time.",
                                    "title": "Time"
                                  },
                                  "busyness_score": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The busyness score.",
                                    "title": "Busyness Score"
                                  },
                                  "info": {
                                    "type": "string",
                                    "description": "The information.",
                                    "title": "Info"
                                  }
                                }
                              },
                              "title": "Thursday"
                            },
                            "friday": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "time": {
                                    "type": "string",
                                    "description": "The time.",
                                    "title": "Time"
                                  },
                                  "busyness_score": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The busyness score.",
                                    "title": "Busyness Score"
                                  },
                                  "info": {
                                    "type": "string",
                                    "description": "The information.",
                                    "title": "Info"
                                  }
                                }
                              },
                              "title": "Friday"
                            },
                            "saturday": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "time": {
                                    "type": "string",
                                    "description": "The time.",
                                    "title": "Time"
                                  },
                                  "busyness_score": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The busyness score.",
                                    "title": "Busyness Score"
                                  },
                                  "info": {
                                    "type": "string",
                                    "description": "The information.",
                                    "title": "Info"
                                  }
                                }
                              },
                              "title": "Saturday"
                            },
                            "sunday": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "time": {
                                    "type": "string",
                                    "description": "The time.",
                                    "title": "Time"
                                  },
                                  "busyness_score": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The busyness score.",
                                    "title": "Busyness Score"
                                  },
                                  "info": {
                                    "type": "string",
                                    "description": "The information.",
                                    "title": "Info"
                                  }
                                }
                              },
                              "title": "Sunday"
                            }
                          },
                          "title": "Chart"
                        }
                      },
                      "title": "Popular Times"
                    },
                    "web_reviews": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          },
                          "rating_text": {
                            "type": "string",
                            "description": "The rating text.",
                            "title": "Rating Text"
                          },
                          "rating": {
                            "type": "number",
                            "format": "float",
                            "description": "The rating.",
                            "title": "Rating"
                          },
                          "rating_out_of": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The rating out of.",
                            "title": "Rating Out Of"
                          },
                          "reviews": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of reviews.",
                            "title": "Reviews"
                          }
                        }
                      },
                      "title": "Web Reviews"
                    },
                    "user_reviews": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "review": {
                            "type": "string",
                            "description": "The review.",
                            "title": "Review"
                          },
                          "review_highlighted_words": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The review highlighted words.",
                            "title": "Review Highlighted Words"
                          },
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          },
                          "rating": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The rating.",
                            "title": "Rating"
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name.",
                                "title": "Name"
                              },
                              "link": {
                                "type": "string",
                                "description": "The link.",
                                "title": "Link"
                              },
                              "image": {
                                "type": "string",
                                "description": "The image.",
                                "title": "Image"
                              }
                            },
                            "title": "User"
                          }
                        }
                      },
                      "title": "User Reviews"
                    },
                    "merchant_description": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "The title.",
                          "title": "Title"
                        },
                        "description": {
                          "type": "string",
                          "description": "The description.",
                          "title": "Description"
                        }
                      },
                      "title": "Merchant Description"
                    },
                    "profiles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          },
                          "image": {
                            "type": "string",
                            "description": "The image.",
                            "title": "Image"
                          }
                        }
                      },
                      "title": "Profiles"
                    },
                    "people_also_search_for_link": {
                      "type": "string",
                      "description": "The people also search for link.",
                      "title": "People Also Search For Link"
                    },
                    "local_map": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string",
                          "description": "The link.",
                          "title": "Link"
                        },
                        "gps_coordinates": {
                          "type": "object",
                          "properties": {
                            "latitude": {
                              "type": "number",
                              "format": "float",
                              "description": "The latitude.",
                              "title": "Latitude"
                            },
                            "longitude": {
                              "type": "number",
                              "format": "float",
                              "description": "The longitude.",
                              "title": "Longitude"
                            },
                            "altitude": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The altitude.",
                              "title": "Altitude"
                            }
                          },
                          "title": "GPS Coordinates"
                        },
                        "image": {
                          "type": "string",
                          "description": "The image.",
                          "title": "Image"
                        }
                      },
                      "title": "Local Map"
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The images.",
                      "title": "Images"
                    },
                    "ludocid": {
                      "type": "string",
                      "description": "The ludocid.",
                      "title": "Ludocid"
                    },
                    "people_also_search_for": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          },
                          "image": {
                            "type": "string",
                            "description": "The image.",
                            "title": "Image"
                          }
                        }
                      },
                      "title": "People Also Search For"
                    },
                    "organic_results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The position.",
                            "title": "Position"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          },
                          "domain": {
                            "type": "string",
                            "description": "The domain.",
                            "title": "Domain"
                          },
                          "displayed_link": {
                            "type": "string",
                            "description": "The displayed link.",
                            "title": "Displayed Link"
                          },
                          "snippet": {
                            "type": "string",
                            "description": "The snippet.",
                            "title": "Snippet"
                          },
                          "snippet_highlighted_words": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The snippet highlighted words.",
                            "title": "Snippet Highlighted Words"
                          },
                          "date": {
                            "type": "string",
                            "description": "The date.",
                            "title": "Date"
                          },
                          "sitelinks": {
                            "type": "object",
                            "properties": {
                              "inline": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "title": {
                                      "type": "string",
                                      "description": "The title.",
                                      "title": "Title"
                                    },
                                    "link": {
                                      "type": "string",
                                      "description": "The link.",
                                      "title": "Link"
                                    }
                                  }
                                },
                                "title": "Inline"
                              }
                            },
                            "title": "Sitelinks"
                          },
                          "about_this_result": {
                            "type": "object",
                            "properties": {
                              "source": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "The name.",
                                    "title": "Name"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "The type.",
                                    "title": "Type"
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "The descriptions.",
                                    "title": "Description"
                                  },
                                  "link_source": {
                                    "type": "string",
                                    "description": "The link source.",
                                    "title": "Link Source"
                                  },
                                  "link": {
                                    "type": "string",
                                    "description": "The link.",
                                    "title": "Link"
                                  },
                                  "favicon": {
                                    "type": "string",
                                    "description": "The favicon.",
                                    "title": "Favicon"
                                  }
                                },
                                "title": "Source"
                              }
                            },
                            "title": "About This Result"
                          },
                          "about_page_link": {
                            "type": "string",
                            "description": "The about page link.",
                            "title": "About Page Link"
                          },
                          "cached_page_link": {
                            "type": "string",
                            "description": "The cached page link.",
                            "title": "Cached Page Link"
                          },
                          "favicon": {
                            "type": "string",
                            "description": "The favicon.",
                            "title": "Favicon"
                          },
                          "thumbnail": {
                            "type": "string",
                            "description": "The thumbnail.",
                            "title": "Thumbnail"
                          },
                          "nested_results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "position": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The position.",
                                  "title": "Position"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "The title.",
                                  "title": "Title"
                                },
                                "link": {
                                  "type": "string",
                                  "description": "The link.",
                                  "title": "Link"
                                },
                                "domain": {
                                  "type": "string",
                                  "description": "The domain.",
                                  "title": "Domain"
                                },
                                "displayed_link": {
                                  "type": "string",
                                  "description": "The displayed link.",
                                  "title": "Displayed Link"
                                },
                                "snippet": {
                                  "type": "string",
                                  "description": "The snippet.",
                                  "title": "Snippet"
                                },
                                "snippet_highlighted_words": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The snippet highlighted words.",
                                  "title": "Snippet Highlighted Words"
                                },
                                "about_this_result": {
                                  "type": "object",
                                  "properties": {
                                    "source": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "description": "The name.",
                                          "title": "Name"
                                        },
                                        "type": {
                                          "type": "string",
                                          "description": "The type.",
                                          "title": "Type"
                                        },
                                        "description": {
                                          "type": "string",
                                          "description": "The description.",
                                          "title": "Description"
                                        },
                                        "link_source": {
                                          "type": "string",
                                          "description": "The link source.",
                                          "title": "Link Source"
                                        },
                                        "link": {
                                          "type": "string",
                                          "description": "The link.",
                                          "title": "Link"
                                        },
                                        "favicon": {
                                          "type": "string",
                                          "description": "The favicon.",
                                          "title": "Favicon"
                                        }
                                      },
                                      "title": "Source"
                                    }
                                  },
                                  "title": "About This Result"
                                },
                                "about_page_link": {
                                  "type": "string",
                                  "description": "The about page link.",
                                  "title": "About Page Link"
                                },
                                "cached_page_link": {
                                  "type": "string",
                                  "description": "The cached page link.",
                                  "title": "Cached Page Link"
                                }
                              }
                            },
                            "title": "Nested Results"
                          },
                          "rich_snippet": {
                            "type": "object",
                            "properties": {
                              "detected_extensions": {
                                "type": "object",
                                "properties": {
                                  "rating": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The rating.",
                                    "title": "Rating"
                                  },
                                  "reviews": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The reviews.",
                                    "title": "Reviews"
                                  },
                                  "questions": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "question": {
                                          "type": "string",
                                          "description": "The question.",
                                          "title": "Question"
                                        },
                                        "answer": {
                                          "type": "string",
                                          "description": "The answer.",
                                          "title": "Answer"
                                        }
                                      }
                                    },
                                    "title": "Questions"
                                  }
                                },
                                "title": "Detected Extensions"
                              },
                              "extensions": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The extensions.",
                                "title": "Extensions"
                              }
                            },
                            "title": "Rich Snippet"
                          }
                        }
                      },
                      "title": "Organic Results"
                    }
                  },
                  "title": "Knowledge Graph"
                },
                "related_questions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "question": {
                        "type": "string",
                        "description": "The question.",
                        "title": "Question"
                      },
                      "answer": {
                        "type": "string",
                        "description": "The answer.",
                        "title": "Answer"
                      },
                      "answer_highlight": {
                        "type": "string",
                        "description": "The answer highlight.",
                        "title": "Answer Highlight"
                      },
                      "date": {
                        "type": "string",
                        "description": "The date.",
                        "title": "Date"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          },
                          "domain": {
                            "type": "string",
                            "description": "The domain.",
                            "title": "Domain"
                          },
                          "displayed_link": {
                            "type": "string",
                            "description": "The displayed link.",
                            "title": "Displayed Link"
                          },
                          "favicon": {
                            "type": "string",
                            "description": "The favicon.",
                            "title": "Favicon"
                          }
                        },
                        "title": "Source"
                      },
                      "search": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          }
                        },
                        "title": "Search"
                      }
                    }
                  },
                  "title": "Related Questions"
                },
                "related_searches": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "query": {
                        "type": "string",
                        "description": "The query.",
                        "title": "Query"
                      },
                      "link": {
                        "type": "string",
                        "description": "The link.",
                        "title": "Link"
                      }
                    }
                  },
                  "title": "Related Searches"
                },
                "local_map": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "string",
                      "description": "The link.",
                      "title": "Link"
                    },
                    "gps_coordinates": {
                      "type": "object",
                      "properties": {
                        "latitude": {
                          "type": "number",
                          "format": "float",
                          "description": "The latitude.",
                          "title": "Latitude"
                        },
                        "longitude": {
                          "type": "number",
                          "format": "float",
                          "description": "The longitude.",
                          "title": "Longitude"
                        },
                        "altitude": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The altitude.",
                          "title": "Altitude"
                        }
                      },
                      "title": "GPS Coordinates"
                    },
                    "thumbnail": {
                      "type": "string",
                      "description": "The thumbnail.",
                      "title": "Thumbnail"
                    }
                  },
                  "title": "Local Map"
                },
                "local_results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "position": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The position.",
                        "title": "Position"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "ludocid": {
                        "type": "string",
                        "description": "The ludocid.",
                        "title": "Ludocid"
                      },
                      "rating": {
                        "type": "number",
                        "format": "float",
                        "description": "The rating.",
                        "title": "Rating"
                      },
                      "reviews": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The reviews.",
                        "title": "Reviews"
                      },
                      "price": {
                        "type": "string",
                        "description": "The price.",
                        "title": "Price"
                      },
                      "price_description": {
                        "type": "string",
                        "description": "The price description.",
                        "title": "Price Description"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "address": {
                        "type": "string",
                        "description": "The address.",
                        "title": "Address"
                      },
                      "is_closed": {
                        "type": "boolean",
                        "description": "Whether is closed.",
                        "title": "Is Closed"
                      },
                      "service_options": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The service options.",
                        "title": "Service Options"
                      },
                      "extensions": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The extensions.",
                        "title": "Extensions"
                      },
                      "image": {
                        "type": "string",
                        "description": "The image.",
                        "title": "Image"
                      }
                    }
                  },
                  "title": "Local Results"
                },
                "local_results_more_link": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "string",
                      "description": "The link.",
                      "title": "Link"
                    }
                  },
                  "title": "Local Results More Link"
                },
                "job_results": {
                  "type": "object",
                  "properties": {
                    "location": {
                      "type": "string",
                      "description": "The location.",
                      "title": "Location"
                    },
                    "filters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          },
                          "is_trending": {
                            "type": "boolean",
                            "description": "Whether is trending.",
                            "title": "Is Trending"
                          }
                        }
                      },
                      "title": "Filters"
                    },
                    "jobs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          },
                          "company": {
                            "type": "string",
                            "description": "The company.",
                            "title": "Company"
                          },
                          "location": {
                            "type": "string",
                            "description": "The location.",
                            "title": "Location"
                          },
                          "via": {
                            "type": "string",
                            "description": "The via.",
                            "title": "Via"
                          },
                          "extensions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The extensions.",
                            "title": "Extensions"
                          }
                        }
                      },
                      "title": "Jobs"
                    },
                    "jobs_more_link": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "The title.",
                          "title": "Title"
                        },
                        "link": {
                          "type": "string",
                          "description": "The link.",
                          "title": "Link"
                        }
                      },
                      "title": "Jobs More Link"
                    }
                  },
                  "title": "Job Results"
                },
                "shopping_ads": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "position": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The position.",
                        "title": "Position"
                      },
                      "block_position": {
                        "type": "string",
                        "description": "The block position.",
                        "title": "Block Position"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "seller": {
                        "type": "string",
                        "description": "The seller.",
                        "title": "Seller"
                      },
                      "link": {
                        "type": "string",
                        "description": "The link.",
                        "title": "Link"
                      },
                      "price": {
                        "type": "string",
                        "description": "The price.",
                        "title": "Price"
                      },
                      "extracted_price": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The extracted price.",
                        "title": "Extracted Price"
                      },
                      "order_fullfillmed_method": {
                        "type": "string",
                        "description": "The order fulfillment method.",
                        "title": "Order Fullfillmed Method"
                      },
                      "rating": {
                        "type": "number",
                        "format": "float",
                        "description": "The rating.",
                        "title": "Rating"
                      },
                      "reviews": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The reviews.",
                        "title": "Reviews"
                      },
                      "image": {
                        "type": "string",
                        "description": "The image.",
                        "title": "Image"
                      },
                      "delivery": {
                        "type": "string",
                        "description": "The delivery.",
                        "title": "Delivery"
                      },
                      "durability": {
                        "type": "string",
                        "description": "The durability.",
                        "title": "Durability"
                      }
                    }
                  },
                  "title": "Shopping Ads"
                },
                "shopping_ads_more_link": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "string",
                      "description": "The link.",
                      "title": "Link"
                    }
                  },
                  "title": "Shopping Ads More Link"
                },
                "ads": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "position": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The position.",
                        "title": "Position"
                      },
                      "block_position": {
                        "type": "string",
                        "description": "The block position.",
                        "title": "Block Position"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "link": {
                        "type": "string",
                        "description": "The link.",
                        "title": "Link"
                      },
                      "domain": {
                        "type": "string",
                        "description": "The domain.",
                        "title": "Domain"
                      },
                      "displayed_link": {
                        "type": "string",
                        "description": "The displayed link.",
                        "title": "Displayed Link"
                      },
                      "snippet": {
                        "type": "string",
                        "description": "The snippet.",
                        "title": "Snippet"
                      },
                      "snippet_highlighted_words": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The snippet highlighted words.",
                        "title": "Snippet Highlighted Words"
                      },
                      "sitelinks": {
                        "type": "object",
                        "properties": {
                          "expanded": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "The title.",
                                  "title": "Title"
                                },
                                "snippet": {
                                  "type": "string",
                                  "description": "The snippet.",
                                  "title": "Snippet"
                                },
                                "link": {
                                  "type": "string",
                                  "description": "The link.",
                                  "title": "Link"
                                }
                              }
                            },
                            "title": "Expanded"
                          }
                        },
                        "title": "Sitelinks"
                      },
                      "favicon": {
                        "type": "string",
                        "description": "The favicon.",
                        "title": "Favicon"
                      }
                    }
                  },
                  "title": "Ads"
                },
                "local_ads": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "The title.",
                      "title": "Title"
                    },
                    "badge": {
                      "type": "string",
                      "description": "The badge.",
                      "title": "Badge"
                    },
                    "ads": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          },
                          "rating": {
                            "type": "number",
                            "format": "float",
                            "description": "The rating.",
                            "title": "Rating"
                          },
                          "reviews": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of reviews.",
                            "title": "Reviews"
                          },
                          "extensions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The extensions.",
                            "title": "Extensions"
                          },
                          "thumbnail": {
                            "type": "string",
                            "description": "The thumbnail.",
                            "title": "Thumbnail"
                          }
                        }
                      },
                      "title": "Ads"
                    },
                    "see_more_link": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "The title.",
                          "title": "Title"
                        },
                        "link": {
                          "type": "string",
                          "description": "The link.",
                          "title": "Link"
                        }
                      },
                      "title": "See More Link"
                    },
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          }
                        }
                      },
                      "title": "Categories"
                    }
                  },
                  "title": "Local Ads"
                },
                "inline_shopping": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "position": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The position.",
                        "title": "Position"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "source": {
                        "type": "string",
                        "description": "The source.",
                        "title": "Source"
                      },
                      "rating": {
                        "type": "number",
                        "format": "float",
                        "description": "The rating.",
                        "title": "Rating"
                      },
                      "reviews": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The reviews.",
                        "title": "Reviews"
                      },
                      "price": {
                        "type": "string",
                        "description": "The price.",
                        "title": "Price"
                      },
                      "extracted_price": {
                        "type": "number",
                        "format": "float",
                        "description": "The extracted price.",
                        "title": "Extracted Price"
                      },
                      "comments": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The comments.",
                        "title": "Comments"
                      },
                      "extensions": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The extensions.",
                        "title": "Extensions"
                      },
                      "thumbnail": {
                        "type": "string",
                        "description": "The thumbnail.",
                        "title": "Thumbnail"
                      },
                      "review": {
                        "type": "object",
                        "properties": {
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          },
                          "source": {
                            "type": "string",
                            "description": "The source.",
                            "title": "Source"
                          }
                        },
                        "title": "Review"
                      },
                      "durability": {
                        "type": "string",
                        "description": "The durability.",
                        "title": "Durability"
                      }
                    }
                  },
                  "title": "Inline Shopping"
                },
                "inline_videos": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "position": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The position.",
                        "title": "Position"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "link": {
                        "type": "string",
                        "description": "The link.",
                        "title": "Link"
                      },
                      "source": {
                        "type": "string",
                        "description": "The source.",
                        "title": "Source"
                      },
                      "channel": {
                        "type": "string",
                        "description": "The channel.",
                        "title": "Channel"
                      },
                      "date": {
                        "type": "string",
                        "description": "The date.",
                        "title": "Date"
                      },
                      "key_moments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "time": {
                              "type": "string",
                              "description": "The time.",
                              "title": "Time"
                            },
                            "seconds": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The seconds.",
                              "title": "Seconds"
                            },
                            "title": {
                              "type": "string",
                              "description": "The title.",
                              "title": "Title"
                            },
                            "link": {
                              "type": "string",
                              "description": "The link.",
                              "title": "Link"
                            },
                            "thumbnail": {
                              "type": "string",
                              "description": "The thumbnail.",
                              "title": "Thumbnail"
                            }
                          }
                        },
                        "title": "Key Moments"
                      },
                      "image": {
                        "type": "string",
                        "description": "The image.",
                        "title": "Image"
                      }
                    }
                  },
                  "title": "Inline Videos"
                },
                "inline_videos_more_link": {
                  "type": "string",
                  "description": "The inline videos more link",
                  "title": "Inline Videos More Link"
                },
                "inline_tweets": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "The title.",
                      "title": "Title"
                    },
                    "link": {
                      "type": "string",
                      "description": "The link.",
                      "title": "Link"
                    },
                    "displayed_link": {
                      "type": "string",
                      "description": "The displayed link.",
                      "title": "Displayed Link"
                    },
                    "tweets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tweet_id": {
                            "type": "string",
                            "description": "The Tweet identifier.",
                            "title": "Tweet ID"
                          },
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          },
                          "snippet": {
                            "type": "string",
                            "description": "The snippet.",
                            "title": "Snippet"
                          },
                          "date": {
                            "type": "string",
                            "description": "The date.",
                            "title": "Date"
                          },
                          "author": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name.",
                                "title": "Name"
                              },
                              "screen_name": {
                                "type": "string",
                                "description": "The screen name.",
                                "title": "Screen Name"
                              },
                              "link": {
                                "type": "string",
                                "description": "The link.",
                                "title": "Link"
                              },
                              "thumbnail": {
                                "type": "string",
                                "description": "The thumbnail.",
                                "title": "Thumbnail"
                              }
                            },
                            "title": "Author"
                          },
                          "snippet_link": {
                            "type": "string",
                            "description": "The snippet link.",
                            "title": "Snippet Link"
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The images.",
                            "title": "Images"
                          }
                        }
                      },
                      "title": "Tweets"
                    }
                  },
                  "title": "Inline Tweets"
                },
                "inline_tweets_more_link": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "string",
                      "description": "The link.",
                      "title": "Link"
                    }
                  },
                  "title": "Inline Tweets More Link"
                },
                "inline_images": {
                  "type": "object",
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "link": {
                            "type": "string",
                            "description": "The link.",
                            "title": "Link"
                          },
                          "chips": {
                            "type": "string",
                            "description": "The chips.",
                            "title": "Chips"
                          },
                          "thumbnail": {
                            "type": "string",
                            "description": "The thumbnail.",
                            "title": "Thumbnail"
                          }
                        }
                      },
                      "title": "Suggestions"
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name.",
                                "title": "Name"
                              },
                              "link": {
                                "type": "string",
                                "description": "The link.",
                                "title": "Link"
                              }
                            },
                            "title": "Source"
                          },
                          "original": {
                            "type": "object",
                            "properties": {
                              "link": {
                                "type": "string",
                                "description": "The link.",
                                "title": "Link"
                              },
                              "height": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The height.",
                                "title": "Height"
                              },
                              "width": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The width.",
                                "title": "Width"
                              },
                              "size": {
                                "type": "string",
                                "description": "The size.",
                                "title": "Size"
                              }
                            },
                            "title": "Original"
                          },
                          "thumbnail": {
                            "type": "string",
                            "description": "The thumbnail.",
                            "title": "Thumbnail"
                          },
                          "tag": {
                            "type": "string",
                            "description": "The tag.",
                            "title": "Tag"
                          }
                        }
                      },
                      "title": "Images"
                    }
                  },
                  "title": "Inline Images"
                },
                "inline_images_more_link": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "string",
                      "description": "The link.",
                      "title": "Link"
                    }
                  },
                  "title": "Inline Images More Link"
                },
                "inline_recipes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "link": {
                        "type": "string",
                        "description": "The link.",
                        "title": "Link"
                      },
                      "rating": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The rating.",
                        "title": "Rating"
                      },
                      "reviews": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The reviews.",
                        "title": "Reviews"
                      },
                      "ingredients": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The ingredients.",
                        "title": "Ingredients"
                      },
                      "source": {
                        "type": "string",
                        "description": "The source.",
                        "title": "Source"
                      },
                      "duration": {
                        "type": "string",
                        "description": "The duration.",
                        "title": "Duration"
                      },
                      "thumbnail": {
                        "type": "string",
                        "description": "The thumbnail.",
                        "title": "Thumbnail"
                      }
                    }
                  },
                  "title": "Inline Recipes"
                },
                "top_stories": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "link": {
                        "type": "string",
                        "description": "The link.",
                        "title": "Link"
                      },
                      "source": {
                        "type": "string",
                        "description": "The source.",
                        "title": "Source"
                      },
                      "date": {
                        "type": "string",
                        "description": "The date.",
                        "title": "Date"
                      },
                      "thumbnail": {
                        "type": "string",
                        "description": "The thumbnail.",
                        "title": "Thumbnail"
                      },
                      "video": {
                        "type": "boolean",
                        "description": "Whether video.",
                        "title": "Video"
                      }
                    }
                  },
                  "title": "Top Stories"
                }
              }
            }
          }
        },
        "summary": "Get Google Search",
        "description": "Retrieve the Google Search result page (SERP) for a search query.",
        "operationId": "SearchGet",
        "parameters": [
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The engine that will be used to retrieve real-time data.",
            "required": true,
            "type": "string",
            "default": "google",
            "x-ms-visibility": "internal"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Query",
            "description": "The query you want to search. You can use anything that you would use in a regular Google search. e.g. inurl:, site:, intitle:, as_dt and as_eq.",
            "required": true,
            "type": "string"
          },
          {
            "name": "device",
            "in": "query",
            "x-ms-summary": "Device",
            "description": "The device that defines the search results.",
            "required": false,
            "type": "string",
            "default": "desktop",
            "enum": [
              "desktop",
              "mobile",
              "tablet"
            ]
          },
          {
            "name": "location",
            "in": "query",
            "x-ms-summary": "Location",
            "description": "The location where the search originated.",
            "required": false,
            "type": "string"
          },
          {
            "name": "uule",
            "in": "query",
            "x-ms-summary": "Encoded Location",
            "description": "The Google encoded location where the search originated.",
            "required": false,
            "type": "string"
          },
          {
            "name": "google_domain",
            "in": "query",
            "x-ms-summary": "Google Domain",
            "description": "The Google domain of the search.",
            "required": false,
            "type": "string"
          },
          {
            "name": "gl",
            "in": "query",
            "x-ms-summary": "Country",
            "description": "The country of the search.",
            "required": false,
            "type": "string"
          },
          {
            "name": "hl",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The interface language of the search.",
            "required": false,
            "type": "string"
          },
          {
            "name": "lr",
            "in": "query",
            "x-ms-summary": "Language Restricted",
            "description": "Restricts search results to documents written in a particular language or a set of languages. The accepted format for this parameter is lang_{2-letter country code}.",
            "required": false,
            "type": "string"
          },
          {
            "name": "cr",
            "in": "query",
            "x-ms-summary": "Originating Country",
            "description": "Restricts search results to documents originating in a particular country.",
            "required": false,
            "type": "string"
          },
          {
            "name": "nfpr",
            "in": "query",
            "x-ms-summary": "Auto-corrected",
[...]
