{
  "basePath": "/secure",
  "consumes": [],
  "definitions": {},
  "host": "rest-api.d7networks.com",
  "info": {
    "description": "D7 SMS allows you to reach your customers via SMS over D7's own connectivity to global mobile networks. D7 provides reliable and cost-effective SMS services to businesses across all industries and aims to connect all countries and territories via direct connections.",
    "title": "D7SMS",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "parameters": {},
  "paths": {
    "/balance": {
      "get": {
        "description": "Check account balance",
        "operationId": "Balance",
        "deprecated": true,
        "parameters": [],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "properties": {
                "data": {
                  "description": "data",
                  "properties": {
                    "balance": {
                      "description": "balance",
                      "type": "string"
                    },
                    "sms_count": {
                      "description": "sms_count",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Check Balance"
      }
    },
    "/secure/balance": {},
    "/secure/send": {},
    "/send": {
      "post": {
        "description": "Send SMS  to recipients using D7 SMS Gateway",
        "operationId": "SendSMS",
        "deprecated": true,        
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "required": false,
            "schema": {
              "properties": {
                "content": {
                  "description": "Content",
                  "type": "string"
                },
                "from": {
                  "description": "From",
                  "type": "string"
                },
                "to": {
                  "description": "Destination Mobile Number",
                  "title": "To",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "properties": {
                "data": {
                  "description": "data",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Send SMS"
      }
    }
  },
  "produces": [],
  "responses": {},
  "schemes": [
    "https"
  ],
  "security": [
    {
      "basic_auth": []
    }
  ],
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "swagger": "2.0",
  "tags": []
}
