{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "InEight",
    "description": "InEight Connector provides an API to work with InEight objects.",
    "contact": {
      "name": "InEight Support",
      "url": "https://ineight.com/help-support/",
      "email": "support@ineight.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://ineight.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://ineight.com/privacy-statement/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Productivity"
    }
  ],
  "host": "api.ineight.com",
  "basePath": "/integrations/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "paths": {
    "/api/DailyPlan": {
      "get": {
        "description": "The Daily Plan integration allows customers to provide time keeping information for employees and equipment as recorded in InEight Plan. This integration includes summary information about the daily plan, from employee hours to cost items, equipment hours to cost items, payroll indicators, and notes. The Daily Plan integration can also be used to track and provide plan status in systems outside of InEight cloud platform. When a daily plan is used for this purpose, an optional response message can be used to trigger a status change in the daily plan to indicate the change has been successfully received by the external system.",
        "operationId": "DailyPlan_Get",
        "summary": "Get complete Daily Plan details",
        "parameters": [
          {
            "name": "X-IN8-TENANT-PREFIX",
            "in": "header",
            "description": "The tenant prefix of https://domain.hds.ineight.com/ would be \"domain\".",
            "x-ms-summary": "Tenant prefix",
            "required": true,
            "type": "string"
          },
          {
            "name": "JobCode",
            "in": "query",
            "description": "External Project ID",
            "x-ms-summary": "Job Code",
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "This is found in your APIM Profile.",
            "x-ms-summary": "APIM subscription key",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "DailyPlanCostItem": {
                    "type": "array",
                    "description": "Array header for cost item.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "DailyPlanCostItemEmployee": {
                          "type": "array",
                          "description": "Array header for employee.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ResourceId": {
                                "maxLength": 50,
                                "minLength": 0,
                                "type": "string",
                                "description": "Display Id (Employee ID in the UI) of the employee associated to the daily plan cost item. There can be many employees for each cost item."
                              },
                              "SubmittedDoubletimeHours": {
                                "format": "float",
                                "type": "number",
                                "description": "Double time hours submitted by employee."
                              },
                              "SubmittedOvertimeHours": {
                                "format": "float",
                                "type": "number",
                                "description": "Over time hours submitted by employee."
                              },
                              "SubmittedStandardHours": {
                                "format": "float",
                                "type": "number",
                                "description": "Straight time hours submitted by employee."
                              },
                              "ApprovedDoubletimeHours": {
                                "format": "float",
                                "type": "number",
                                "description": "Double time hours approved for employee and used for payroll processing."
                              },
                              "ApprovedOvertimeHours": {
                                "format": "float",
                                "type": "number",
                                "description": "Over time hours approved for employee and used for payroll processing."
                              },
                              "ApprovedStandardHours": {
                                "format": "float",
                                "type": "number",
                                "description": "Straight time hours approved for employee and used for payroll processing."
                              },
                              "PlannedDoubletimeHours": {
                                "format": "float",
                                "type": "number",
                                "description": "Double time hours planned for employee."
                              },
                              "PlannedOvertimeHours": {
                                "format": "float",
                                "type": "number",
                                "description": "Over time hours planned for employee."
                              },
                              "PlannedStandardHours": {
                                "format": "float",
                                "type": "number",
                                "description": "Straight time planned for employee."
                              },
                              "EmployeeId": {
                                "format": "int64",
                                "type": "integer",
                                "description": "Internal InEight ID for the Employee."
                              },
                              "CraftCode": {
                                "maxLength": 50,
                                "minLength": 0,
                                "type": "string",
                                "description": "Display Id of a valid craft in InEight master data."
                              },
                              "ReasonCodes": {
                                "type": "array",
                                "description": "Array header for reason codes associated to the employee and cost item combination.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "ReasonCodeId": {
                                      "maxLength": 50,
                                      "minLength": 0,
                                      "type": "string",
                                      "description": "Display Id of a reason code."
                                    },
                                    "HourType": {
                                      "type": "string",
                                      "maxLength": 250,
                                      "minLength": 0,
                                      "description": "The hour type associated with the reason code."
                                    },
                                    "Hours": {
                                      "format": "float",
                                      "type": "number",
                                      "description": "Number of hours associated to the employee and costitem and reason code."
                                    },
                                    "Premiums": {
                                      "type": "array",
                                      "description": "A comma separated list of premium codes associated with the employee and costitemand reason code.",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "DailyPlanCostItemEquipment": {
                          "type": "array",
                          "description": "Array header for equipment.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ResourceId": {
                                "maxLength": 100,
                                "minLength": 0,
                                "type": "string",
                                "description": "Display Id (Equipment Id in the UI) for each piece of equipment on the timesheet. There can be multiple records for each cost items."
                              },
                              "SubmittedStandardHours": {
                                "format": "float",
                                "type": "number",
                                "description": "Hours entered against the equipment."
                              },
                              "ApprovedStandardHours": {
                                "format": "float",
                                "type": "number",
                                "description": "Hours approved for equipment and used for final equipment hours."
                              },
                              "PlannedStandardHours": {
                                "format": "float",
                                "type": "number",
                                "description": "Planned equipment hours."
                              },
                              "EquipmentId": {
                                "format": "int64",
                                "type": "integer",
                                "description": "Internal InEight ID for the equipment record."
                              },
                              "EquipmentType": {
                                "maxLength": 250,
                                "minLength": 0,
                                "type": "string",
                                "description": "Equipment type that corresponds to the equipment."
                              },
                              "ReasonCodes": {
                                "type": "array",
                                "description": "Array header for reason codes associated to the equipment and cost item.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "OperatedEmployeeId": {
                                      "maxLength": 100,
                                      "minLength": 0,
                                      "type": "string",
                                      "description": "Display Id for operated employee"
                                    },
                                    "ReasonCodeId": {
                                      "maxLength": 100,
                                      "minLength": 0,
                                      "type": "string",
                                      "description": "Display Id of a reason code."
                                    },
                                    "Hours": {
                                      "format": "float",
                                      "type": "number",
                                      "description": "Number of hours associated to the equipment and cost item and reason code."
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "DailyPlanCostItemComponent": {
                          "type": "array",
                          "description": "Array header for component.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ResourceId": {
                                "maxLength": 200,
                                "minLength": 0,
                                "type": "string",
                                "description": "ID of the estimating resource that is displayed in the applications."
                              },
                              "ComponentId": {
                                "format": "int64",
                                "type": "integer",
                                "description": "Internal InEight ID from InEight Plan for the component."
                              },
                              "ProjectEstimatingResourceId": {
                                "format": "int64",
                                "type": "integer",
                                "description": "ID of the estimating resource, which would be the material."
                              },
                              "ProjectEstimatingResourceSourceSystemId": {
                                "maxLength": 50,
                                "minLength": 0,
                                "type": "string",
                                "description": "ID of the estimating resource in the source system."
                              },
                              "InstalledQuantity": {
                                "format": "double",
                                "type": "number",
                                "description": "Quantity of work claimed against the component."
                              },
                              "ComponentType": {
                                "maxLength": 50,
                                "minLength": 0,
                                "type": "string",
                                "description": "Component type of the component. Possible values are: Material, Activity."
                              }
                            }
                          }
                        },
                        "CostItemId": {
                          "maxLength": 50,
                          "minLength": 0,
                          "type": "string",
                          "description": "InEight ID of the cost item associated to the daily plan."
                        },
                        "TaskPriority": {
                          "format": "int64",
                          "type": "integer",
                          "description": "Order of tasks within the daily plan."
                        },
                        "PlanQuantity": {
                          "format": "double",
                          "type": "number",
                          "description": "Quantity planned for the day to complete."
                        },
                        "SubmittedQuantity": {
                          "format": "double",
                          "type": "number",
                          "description": "Quantity entered or submitted by the foreman."
                        },
                        "ApprovedQuantity": {
                          "format": "double",
                          "type": "number",
                          "description": "Quantity entered or approved."
                        },
                        "CostItemSourceSystemId": {
                          "maxLength": 50,
                          "minLength": 0,
                          "type": "string",
                          "description": "Unique ID of the cost item from the source system of cost items. For example, if cost items are imported from an external system or ERP, the ID from that system would in this field. This is for referential mapping."
                        },
                        "WBSCode": {
                          "maxLength": 50,
                          "minLength": 0,
                          "type": "string",
                          "description": "WBS phase code for the given cost item"
                        }
                      }
                    }
                  },
                  "DailyPlanNote": {
                    "type": "array",
                    "description": "Array header for the note.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "DailyPlanNoteEmployee": {
                          "type": "array",
                          "description": "Array header for the employee note.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "EmployeeDisplay": {
                                "maxLength": 50,
                                "minLength": 0,
                                "type": "string",
                                "description": "Employee associated with the note. There can be many employees associated with a note."
                              }
                            }
                          }
                        },
                        "DailyPlanNoteEquipment": {
                          "type": "array",
                          "description": "Array header for the equipment note.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "EquipmentId": {
                                "maxLength": 100,
                                "minLength": 0,
                                "type": "string",
                                "description": "InEight ID for the equipment associated with the note. There can be many equipment records associated to a note."
                              }
                            }
                          }
                        },
                        "DailyPlanNoteTag": {
                          "type": "array",
                          "description": "Array header for section for all note tags assigned to the daily plan. This section repeats for each note tag record.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "DailyPlanNoteTagId": {
                                "format": "int64",
                                "type": "integer",
                                "description": "InEight ID for the tag associated with the note. There can be many tag records associated to a note."
                              },
                              "TagCode": {
                                "maxLength": 250,
                                "minLength": 0,
                                "type": "string",
                                "description": "Tag code associated with the note. Tag codes are derived from a list provided to InEight Plan from a payroll or HR system. There can be many tag codes associated with a note."
                              }
                            }
                          }
                        },
                        "DailyPlanNoteTask": {
                          "type": "array",
                          "description": "Array header for section for all note tasks assigned to the daily plan. This section repeats for each note task record.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "CostItemId": {
                                "format": "int64",
                                "type": "integer",
                                "description": "Display ID of a cost item associated with the note. There can be many cost item records for a note."
                              }
                            }
                          }
                        },
                        "DailyPlanNoteMaintenance": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "MaintenanceEquipmentId": {
                                "type": "string"
                              },
                              "WBSPhaseCode": {
                                "type": "string"
                              },
                              "WorkOrderId": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "NoteId": {
                          "format": "int64",
                          "type": "integer",
                          "description": "Internal identifier for a specific note."
                        },
                        "Description": {
                          "maxLength": 4000,
                          "minLength": 0,
                          "type": "string",
                          "description": "Free-form text of the note."
                        }
                      }
                    }
                  },
                  "DailyPlanSignOff": {
                    "type": "array",
                    "description": "Array header for the signoff of the daily plan.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "DailyPlanSignOffResponse": {
                          "type": "array",
                          "description": "Array header for the signoff response. This section is repeated for each employee that signed off for their hours.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "EmployeeId": {
                                "maxLength": 50,
                                "minLength": 0,
                                "type": "string",
                                "description": "Employee associated with the signoff records. There can be multiple signoff records per daily plan."
                              },
                              "QuestionKey": {
                                "maxLength": 50,
                                "minLength": 0,
                                "type": "string",
                                "description": "Display value/code that is used to identify a question in the signoff questionnaire. Each question has a unique code assigned by an ERP to identify the question. For example, 2001 could represent the question 'I was injured today.' which is shown in the signoff screen."
                              },
                              "DailyPlanSignoffResponseId": {
                                "format": "int64",
                                "type": "integer",
                                "description": "Unique internal InEight ID for the responses submitted for the signoff questionnaire on that daily plan."
                              },
                              "ResponseKey": {
                                "maxLength": 50,
                                "minLength": 0,
                                "type": "string",
                                "description": "Display value/code that could be used to identify a unique response. The value represents a code that could be used by an ERP to identify a YES/NO response to any of the signoff questions."
                              },
                              "ResponseText": {
                                "maxLength": 50,
                                "minLength": 0,
                                "type": "string",
                                "description": "Actual text a user views in the UI for a response to a question."
                              }
                            }
                          }
                        },
                        "EmployeeId": {
                          "maxLength": 50,
                          "minLength": 0,
                          "type": "string",
                          "description": "InEight ID of the employee maintained by the InEight cloud platform. This is not the Display Id that users would view in the UI."
                        },
                        "QuestionnaireKey": {
                          "maxLength": 50,
                          "minLength": 0,
                          "type": "string",
                          "description": "Code that represents the questions asked when signing-off hours."
                        },
                        "SignoffEmployeeId": {
                          "maxLength": 50,
                          "minLength": 0,
                          "type": "string",
                          "description": "Employee who performed the signoff. This can be different from the Employee ID for the hours that are being signed off against."
                        },
                        "SignoffDate": {
                          "maxLength": 25,
                          "minLength": 0,
                          "type": "string",
                          "description": "Date of the signoff."
                        },
                        "SignoffStandardHours": {
                          "format": "float",
                          "type": "number",
                          "description": "Submitted hours that are being signed off against the daily plan."
                        },
                        "SignoffOvertimeHours": {
                          "format": "float",
                          "type": "number",
                          "description": "Submitted hours that are being signed off against the daily plan."
                        },
                        "SignoffDoubletimeHours": {
                          "format": "float",
                          "type": "number",
                          "description": "Submitted hours that are being signed off against the daily plan."
                        }
                      }
                    }
                  },
                  "DailyPlanSignIns": {
                    "type": "array",
                    "description": "Array header for the signIns of the daily plan.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "DailyPlanSignInResponses": {
                          "type": "array",
                          "description": "Signin response array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "DailyPlanSignInResponseId": {
                                "format": "int64",
                                "type": "integer",
                                "description": "Unique internal InEight ID for the responses submitted for the sign in questionnaire on that daily plan.",
                                "example": "6"
                              },
                              "QuestionKey": {
                                "maxLength": 50,
                                "minLength": 0,
                                "type": "string",
                                "description": "Display value/code that is used to identify a question in the sign in questionnaire. Each question has a unique code assigned by an ERP to identify the question. For example, 2001 could represent the question 'I was injured today.' which is shown in the signoff screen.",
                                "example": "1"
                              },
                              "QuestionDescription": {
                                "maxLength": 50,
                                "minLength": 0,
                                "type": "string",
                                "description": "The full text of the signin question",
                                "example": "I have received today's safety briefing"
                              },
                              "ResponseKey": {
                                "maxLength": 50,
                                "minLength": 0,
                                "type": "string",
                                "description": "Display value/code that could be used to identify a unique response. The value represents a code that could be used by an ERP to identify a YES/NO response to any of the signoff questions.",
                                "example": "1"
                              },
                              "ResponseDescription": {
                                "maxLength": 50,
                                "minLength": 0,
                                "type": "string",
                                "description": "Actual text a user views in the UI for a response to a question.",
                                "example": "Yes"
                              }
                            }
                          }
                        },
                        "EmployeeDisplay": {
                          "maxLength": 50,
                          "minLength": 0,
                          "type": "string",
                          "description": "This is the Display Id of the employee being signed in",
                          "example": "333903"
                        },
                        "SignedInByEmployeeDisplay": {
                          "maxLength": 50,
                          "minLength": 0,
                          "type": "string",
                          "description": "This is the Display ID of the employee performing the sign in",
                          "example": "333903"
                        },
                        "SignedInByUserDisplay": {
                          "maxLength": 50,
                          "minLength": 0,
                          "type": "string",
                          "description": "This is the Display ID of the Loggedin User performing the sign in using on behalf/Signout all eligible Option(value exist Only if loggedin user doesn\u2019t have Employee association)",
                          "example": "333563"
                        },
                        "SignedInDate": {
                          "maxLength": 25,
                          "minLength": 0,
                          "type": "string",
                          "description": "The datetime that the employee was signed in",
                          "example": "2021/02/04 13:26:57"
                        }
                      }
                    }
                  },
                  "DailyPlanBreaks": {
                    "type": "array",
                    "description": "Array header for the employee breaks of the daily plan.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "EmployeeDisplay": {
                          "maxLength": 50,
                          "minLength": 0,
                          "type": "string",
                          "description": "The Display ID of the employee taking a break",
                          "example": "333903"
                        },
                        "BreakNumber": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The break number for the day. There can be multiple",
                          "example": "1"
                        },
                        "BreakStartTime": {
                          "maxLength": 25,
                          "minLength": 0,
                          "type": "string",
                          "description": "The employee break start day/time",
                          "example": "2021/02/04 00:02:00"
                        },
                        "BreakInMinutes": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The duration of the break in minutes",
                          "example": "15"
                        }
                      }
                    }
                  },
                  "Executers": {
                    "type": "array",
                    "description": "Array header for the executers of the daily plan.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "DisplayId": {
                          "maxLength": 50,
                          "minLength": 0,
                          "type": "string",
                          "description": "Display ID of the user that executed the daily plan."
                        },
                        "RoleName": {
                          "maxLength": 100,
                          "minLength": 0,
                          "type": "string",
                          "description": "User role selected to represent the executor of the daily plan."
                        }
                      }
                    }
                  },
                  "Approvers": {
                    "type": "array",
                    "description": "Array header for the approvers of the daily plan.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "DisplayId": {
                          "maxLength": 50,
                          "minLength": 0,
                          "type": "string",
                          "description": "Display ID of the user that approved the daily plan."
                        },
                        "RoleName": {
                          "maxLength": 100,
                          "minLength": 0,
                          "type": "string",
                          "description": "User role selected to represent the approver of the daily plan."
                        }
                      }
                    }
                  },
                  "DailyPlanEmployeePayrollIndicator": {
                    "type": "array",
                    "description": "Array header for the employee payroll indicators in the daily plan.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "DailyPlanEmployeePayrollIndicatorId": {
                          "format": "int64",
                          "type": "integer",
                          "description": "Internal InEight ID for the payroll indicator that was assigned to the employee on a daily plan."
                        },
                        "EmployeeId": {
                          "maxLength": 50,
                          "minLength": 0,
                          "type": "string",
                          "description": "Employee display ID for who the payroll indicator was assigned."
                        },
                        "PayrollIndicatorId": {
                          "format": "int64",
                          "type": "integer",
                          "description": "Internal InEight ID of the payroll indicator."
                        },
                        "DailyPlanNoteId": {
                          "format": "int64",
                          "type": "integer",
                          "description": "Internal InEight ID for the note, if a note was created and generated for the payroll indicator assignment."
                        },
                        "CostItemId": {
                          "format": "int64",
                          "type": "integer",
                          "description": "Cost item against which the payroll indicator was assigned to on a daily plan."
                        },
                        "PayrollIdentifier": {
                          "maxLength": 50,
                          "minLength": 0,
                          "type": "string",
                          "description": "Display ID or code for the payroll indicator that was assigned."
                        },
                        "WBSPhaseCode": {
                          "maxLength": 50,
                          "minLength": 0,
                          "type": "string",
                          "description": "WBS phase code for the cost item that the payroll indicator was assigned."
                        },
                        "EmployeeSourceSystemId": {
                          "maxLength": 50,
                          "minLength": 0,
                          "type": "string",
                          "description": "The Source System Id of the Employee that the indicator was applied to."
                        }
                      }
                    }
                  },
                  "DailyPlanClientSignOff": {
                    "type": "array",
                    "description": "Array header for the client that signed off the daily plan.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Name": {
                          "maxLength": 100,
                          "minLength": 0,
                          "type": "string",
                          "description": "Name of the client that signed off on the daily plan. This is an optional configuration item."
                        },
                        "Email": {
                          "maxLength": 300,
                          "minLength": 0,
                          "type": "string",
                          "description": "Email address of the client who signed off on the daily plan."
                        }
                      }
                    }
                  },
                  "PlanId": {
                    "format": "int64",
                    "type": "integer",
                    "description": "InEight ID of the daily plan."
                  },
                  "CreatedDate": {
                    "maxLength": 25,
                    "minLength": 0,
                    "type": "string",
                    "description": "Date when the daily plan was originally created."
                  },
                  "ProjectId": {
                    "maxLength": 200,
                    "minLength": 0,
                    "type": "string",
                    "description": "Display Id of the project associated with the daily plan."
                  },
                  "LanguageKey": {
                    "maxLength": 10,
                    "minLength": 0,
                    "type": "string",
                    "description": "Display Id of the default language of the daily plan."
                  },
                  "Location": {
                    "maxLength": 100,
                    "minLength": 0,
                    "type": "string",
                    "description": "Free-form text that describes the location of the project where the work will be performed."
                  },
                  "CreatedById": {
                    "maxLength": 50,
                    "minLength": 0,
                    "type": "string",
                    "description": "Display Id of the user who created the daily plan."
                  },
                  "DeviceKey": {
                    "maxLength": 50,
                    "minLength": 0,
                    "type": "string",
                    "description": "GUID of a device (usually mobile) on which the daily plan was created."
                  },
                  "Shift": {
                    "maxLength": 100,
                    "minLength": 0,
                    "type": "string",
                    "description": "Code that represents the shift when the work was performed."
                  },
                  "PlanDate": {
                    "maxLength": 25,
                    "minLength": 0,
                    "type": "string",
                    "description": "Date the daily plan will be or was executed. This is the date that represents the hours used for payroll."
                  },
                  "PlanTitle": {
                    "maxLength": 100,
                    "minLength": 0,
                    "type": "string",
                    "description": "Free-form text to describe the name of the daily plan."
                  },
                  "PlanStatusCode": {
                    "maxLength": 100,
                    "minLength": 0,
                    "type": "string",
                    "description": "Current status of the daily plan. The following are the possible status codes of a daily plan: PLAN - Planning phase, EXEC - Execution phase, WAPP - Waiting for approval, APPR - Approved, FINL - Final, closed. Only daily plans with a status of APPR, indicating they have been approved, are made available to external systems."
                  },
                  "ModifiedById": {
                    "maxLength": 50,
                    "minLength": 0,
                    "type": "string",
                    "description": "ID of a user that modified the daily plan."
                  },
                  "ModifiedDate": {
                    "maxLength": 25,
                    "minLength": 0,
                    "type": "string",
                    "description": "Date of the last modification to the daily plan."
                  },
                  "PlannedDate": {
                    "maxLength": 25,
                    "minLength": 0,
                    "type": "string",
                    "description": "Date on which the daily plan was moved into the planning phase."
                  },
                  "PlannedById": {
                    "maxLength": 50,
                    "minLength": 0,
                    "type": "string",
                    "description": "ID of the user that moved the daily plan into the planning phase."
                  },
                  "ExecutedDate": {
                    "maxLength": 25,
                    "minLength": 0,
                    "type": "string",
                    "description": "Date on which the daily plan was moved into execution phase."
                  },
                  "ExecutedById": {
                    "maxLength": 50,
                    "minLength": 0,
                    "type": "string",
                    "description": "ID of the User that moved the daily plan into the execution phase."
                  },
                  "ApprovedDate": {
                    "maxLength": 25,
                    "minLength": 0,
                    "type": "string",
                    "description": "Date on which the daily plan was moved into the approval phase."
                  },
                  "ApprovedById": {
                    "maxLength": 50,
                    "minLength": 0,
                    "type": "string",
                    "description": "ID of the User that moved the daily plan into the approval phase."
                  },
                  "ErrorHandlingToken": {
                    "maxLength": 50,
                    "minLength": 0,
                    "type": "string",
                    "description": "Unique token that can be used to either retrieve or report issues related to the integration instance."
                  },
                  "CommitmentCode": {
                    "maxLength": 100,
                    "minLength": 0,
                    "type": "string",
                    "description": "Display number of the commitment/purchase order that was assigned to the daily plan."
                  },
                  "ExternalSyncStatus": {
                    "format": "int64",
                    "type": "integer",
                    "description": "Allowed values are: 0 = Ready to send, 1 = Success, 2 = FAIL"
                  },
                  "CommitmentId": {
                    "format": "int64",
                    "type": "integer",
                    "description": "InEight ID for a commitment/purchase order assigned to the daily plan."
                  },
                  "DailyPlanMaintenance": {
                    "type": "array",
                    "description": "Array header for maintenance.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "EmployeeId": {
                          "maxLength": 50,
                          "minLength": 0,
                          "type": "string",
                          "description": "Display ID of the employee whose time was recorded for the work order."
                        },
                        "WorkOrderId": {
                          "maxLength": 100,
                          "minLength": 0,
                          "type": "string",
                          "description": "Source System ID of the work order (see Daily Plan Work Orders for details)."
                        },
                        "WBSPhaseCode": {
                          "maxLength": 50,
                          "minLength": 0,
                          "type": "string",
                          "description": "WBS phase code of the associated cost item."
                        },
                        "CostItemSourceSystemId": {
                          "maxLength": 50,
                          "minLength": 0,
                          "type": "string",
                          "description": "Source System Id of the associated cost item."
                        },
                        "TotalHours": {
                          "format": "double",
                          "type": "number",
                          "description": "Hours associated to the cost item or work order. If there are multiple reason codes against the maintenance hours entered, this would contain the total of all hours entered against different reason codes, against that specific work order or cost item, and for the employee and equipment."
                        },
                        "MaintenanceEquipmentId": {
                          "maxLength": 100,
                          "minLength": 0,
                          "type": "string",
                          "description": "Source System ID of the associated equipment."
                        },
                        "Segment1": {
                          "maxLength": 250,
                          "minLength": 0,
                          "type": "string",
                          "description": "First segment of the cost item associated with the hours."
                        },
                        "Segment2": {
                          "maxLength": 250,
                          "minLength": 0,
                          "type": "string",
                          "description": "Second segment of the cost item associated with the hours."
                        },
                        "Segment3": {
                          "maxLength": 250,
                          "minLength": 0,
                          "type": "string",
                          "description": "Third segment of the cost item associated with the hours."
                        },
                        "Segment4": {
                          "maxLength": 250,
                          "minLength": 0,
                          "type": "string",
                          "description": "Fourth segment of the cost item associated with the hours."
                        },
                        "ReasonCodes": {
                          "type": "array",
                          "description": "Array header for reason codes associated to the equipment maintenance.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ReasonCodeId": {
                                "maxLength": 50,
                                "minLength": 0,
                                "type": "string",
                                "description": "Abbreviated code for a specific reason."
                              },
                              "HourType": {
                                "type": "string",
                                "maxLength": 250,
                                "minLength": 0,
                                "description": "The hour type associated with the reason code."
                              },
                              "Hours": {
                                "format": "float",
                                "type": "number",
                                "description": "Number of hours associated to the equipment maintenance record."
                              },
                              "Premiums": {
                                "type": "array",
                                "description": "Comma separated list of premium codes associated with the equipment maintenance/reason code.",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "ShiftDetail": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Shift": {
                          "maxLength": 200,
                          "minLength": 0,
                          "type": "string",
                          "description": "The name of the shift"
                        },
                        "ShiftStartDateTime": {
                          "maxLength": 25,
                          "minLength": 0,
                          "type": "string",
                          "description": "The start date and time of the shift"
                        },
                        "ShiftEndDateTime": {
                          "maxLength": 25,
                          "minLength": 0,
                          "type": "string",
                          "description": "The end date and time of the shift"
                        },
                        "EmployeeShiftDetails": {
                          "type": "array",
                          "description": "Array of employees that worked within the shift on the daily plan",
                          "items": {
                            "type": "object",
                            "properties": {
                              "EmployeeId": {
                                "maxLength": 50,
                                "minLength": 0,
                                "type": "string",
                                "description": "The Display Id of the employee that worked"
                              },
                              "ShiftStartDateTime": {
                                "maxLength": 25,
                                "minLength": 0,
                                "type": "string",
                                "description": "The start date and time of the shift"
                              },
                              "ShiftEndDateTime": {
                                "maxLength": 25,
                                "minLength": 0,
                                "type": "string",
                                "description": "The end date and time of the shift"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "ClientSignoffReportRecipients": {
                    "type": "array",
                    "description": "List of email addresses of people to receive a copy of the Client Signoff Report.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/TimeCard": {
      "get": {
        "description": "The Time Card integration provides payroll or pre-payroll processing systems with a detailed breakdown of hours for employees along with the type of work performed and custom-defined that are applied for blocks of hours or for the entire day. This integration is available if Time Center has been enabled within the customer environment. Time Center is an application within InEight Plan that generates time cards of individual employees or equipment for each combination that is entered on a daily plan. The application allows an administrator to review the hours before sending it to an ERP for further processing of actual hours for other business processes such as payroll. All time cards, when required, can be sent through the Time Card integration to an ERP or other system for further business process workflows.",
        "operationId": "TimeCard_Get",
        "summary": "Get complete Time Card details",
        "parameters": [
          {
            "name": "X-IN8-TENANT-PREFIX",
            "in": "header",
            "description": "The tenant prefix of https://domain.hds.ineight.com/ would be \"domain\".",
            "x-ms-summary": "Tenant prefix",
            "required": true,
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "This is found in your APIM Profile.",
            "x-ms-summary": "APIM subscription key",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "PlanId": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Unique identifier of the daily plan where the hours were reported for the employee.",
                    "example": "1234"
                  },
                  "PlanDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date on which the daily plan hours were performed.",
                    "example": "2018-05-31T00:00:00Z"
                  },
                  "PlanTitle": {
                    "type": "string",
                    "maxLength": 100,
                    "minLength": 0,
                    "description": "Name given to the daily plan where the hours were entered.",
                    "example": "Excavation - Mike\u2019s crew"
                  },
                  "TimecardId": {
                    "type": "string",
                    "maxLength": 21,
                    "minLength": 0,
                    "description": "Unique identifier of the time card record.",
                    "example": "RD1234"
                  },
                  "TimeCardType": {
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 0,
                    "description": "Indicates what type of timecard is being sent. Labor, Equipment, Labor-Equipment, Administrative, Maintenance",
                    "example": "Labor"
                  },
                  "CreatedDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date when this specific time card version, was originally created.",
                    "example": "2018-02-20T14:47:05.9833049Z"
                  },
                  "ModifiedDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date when the this specific time card version was last modified.",
                    "example": "2018-02-20T14:58:47.4779635Z"
                  },
                  "Executor": {
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 0,
                    "description": "Unique identifier of the employee representing the role of Executor on the daily plan.",
                    "example": "foreman@company.com"
                  },
                  "ShiftDetails": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Shift": {
                          "type": "string",
                          "maxLength": 100,
                          "minLength": 0,
                          "description": "Name or abbreviated code of the shift represented by the daily plan. Shift names are custom-defined in Plan application settings.",
                          "example": "Day"
                        },
                        "ShiftStartDateTime": {
                          "format": "date-time",
                          "type": "string",
                          "description": "The default datetime that the crew began work for a specific daily plan.",
                          "example": "2018-06-29T00:00:00Z"
                        },
                        "ShiftEndDateTime": {
                          "format": "date-time",
                          "type": "string",
                          "description": "The default datetime that the crew completed work for a specific daily plan.",
                          "example": "2018-06-30T00:00:00Z"
                        },
                        "EmployeeShiftDetails": {
                          "type": "array",
                          "description": "Array of employees that worked within the shift on the daily plan.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ShiftStartDateTime": {
                                "format": "date-time",
                                "type": "string",
                                "description": "The datetime that a specific employee began work for a specific daily plan.",
                                "example": "2018-06-29T00:00:00Z"
                              },
                              "ShiftEndDateTime": {
                                "format": "date-time",
                                "type": "string",
                                "description": "The datetime that a specific employee completed work for a specific daily plan.",
                                "example": "2018-06-30T00:00:00Z"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "Trade": {
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 0,
                    "description": "Unique identifier from the trade system of record for the employee/time card.  The system will evaluate Project Employee Trade first (if present), and Employee Trade second",
                    "example": "CARP"
                  },
                  "Craft": {
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 0,
                    "description": "Unique identifier from the craft system of record for the employee/time card.  The system will evaluate Project Employee Craft first (if present), and Employee Craft second",
                    "example": "APP1"
                  },
                  "EmployeeId": {
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 0,
                    "description": "Unique identifier from the HR system of record of the employee. This must match the employee\u2019s Source System Id.",
                    "example": "301847"
                  },
                  "EquipmentId": {
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 0,
                    "description": "Equipment that was operated while performing labor operations for reported hours. This value is based on the Source System Id received from an external system.",
                    "example": "478933"
                  },
                  "EmployeeReasonCode": {
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 0,
                    "description": "One of the following:\u2022 Reason code for labor hours, \u2022 Reason code for allowances, if the time card is for allowance only.Each allowance given to an employee for the day will be on a separate time card with zero hours.Each reason code/hours combination for an employee are on a separate time card. NOTE: The exception is when there are hours worked and equipment operated (linked). In this case, the employee reason code is in this field and the equipment reason code is in the equipment reason code field on the same time card.",
                    "example": "AWK"
                  },
                  "EquipmentReasonCode": {
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 0,
                    "description": "If the hours entered in a daily plan are for operated equipment and a reason code was selected for the block of hours, the reason code will be reported here.",
                    "example": "OPT"
                  },
                  "LaborHourType": {
                    "type": "string",
                    "maxLength": 250,
                    "minLength": 0,
                    "description": "The hour type associated with the reason code on the timecard.",
                    "example": "Standard time"
                  },
                  "EmployeeHours": {
                    "type": "number",
                    "format": "double",
                    "description": "This field is used to for employee activities hours that are entered on the time card. When the time card represents work against a work order, the hours spent on the work order is shown here.",
                    "example": "7.50"
                  },
                  "EquipmentHours": {
                    "type": "number",
                    "format": "double",
                    "description": "Hours reported for equipment being operated during labor operations.",
                    "example": "7.50"
                  },
                  "Version": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Current version of the Time Card. Versioning starts at 0 and is incremented each time it is resent to the receiving system.",
                    "example": "1"
                  },
                  "Segment1": {
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 0,
                    "description": "First segment of the cost item associated with the hours.",
                    "example": "104354"
                  },
                  "Segment2": {
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 0,
                    "description": "Second segment of the cost item associated with the hours.",
                    "example": "104354A"
                  },
                  "Segment3": {
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 0,
                    "description": "Third segment of the cost item associated with the hours.",
                    "example": "4093"
                  },
                  "Segment4": {
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 0,
                    "description": "Fourth segment of the cost item associated with the hours.",
                    "example": "1234"
                  },
                  "WorkOrder": {
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 0,
                    "description": "Unique identifier for a work order if one was selected for the hours. This value is based on the Source System Id received from an external system.",
                    "example": "EQ12387"
                  },
                  "MaintenanceEquipmentId": {
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 0,
                    "description": "Unique identifier for the equipment that was either specified by a work order, or the selected equipment for maintenance hours. A value for this field is only present if a work order was selected for the hours. This value is based on the Source System Id received from an external system.",
                    "example": "834698"
                  },
                  "OverrideTrade": {
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 0,
                    "description": "If the trade has been overridden on the time card from the default trade assigned to the employee, this field will show the overridden TradeId value.",
                    "example": "ELECT"
                  },
                  "OverrideCraft": {
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 0,
                    "description": "If the craft has been overridden on the time card from the default craft assigned to the employee, this field will show the overridden CraftId value.",
                    "example": "APP1"
                  },
                  "Premiums": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Array for the list of all premium code payroll indicators belonging to the premiums category that were assigned to this specific time card version.",
                      "example": "D/N"
                    }
                  },
                  "TimeCardCharacteristics": {
                    "type": "array",
                    "description": "Array header for the custom-defined fields used in the daily plan and associated with the hours in the time card. Within this array, any characteristic name/value pair may be repeated if there are hours in the time card for multiple resource types (e.g. Labor and Equipment).",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Name": {
                          "type": "string",
                          "maxLength": 50,
                          "minLength": 0,
                          "description": "Name of the time card characteristic for which the value is being set. This field may be repeated as needed within the TimeCardCharacteristic list. Available options for name are EmployeeCostType and EquipmentCostType.",
                          "example": "EquipmentCostType"
                        },
                        "Value": {
                          "type": "string",
                          "maxLength": 50,
                          "minLength": 0,
                          "description": "Value of the time card characteristic name. This field may be repeated for each characteristic name provided.",
                          "example": "1940"
                        }
                      }
                    }
                  },
                  "AdditionalPayrollInstructionCodeOverridden": {
                    "type": "boolean",
                    "description": "If the Allow Additional Payroll Instruction Code for the employee has been modified (changed or removed) for the time card for any reason, this field will show as true.",
                    "example": "false"
                  },
                  "IsActive": {
                    "type": "boolean",
                    "description": "If the timecard is active, this field will show true",
                    "example": "true"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/TimeCardConfirmation": {
      "post": {
        "description": "The Time Card Confirmation integration allows external systems to report on the success or failure to process time cards obtained from Time Center and update a status to support a business workflow.",
        "operationId": "TimeCardConfirmation_Import",
        "summary": "Confirm the status of Time Cards",
        "parameters": [
          {
            "name": "X-IN8-TENANT-PREFIX",
            "in": "header",
            "description": "The tenant prefix of https://domain.hds.ineight.com/ would be \"domain\".",
            "x-ms-summary": "Tenant prefix",
            "required": true,
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "This is found in your APIM Profile.",
            "x-ms-summary": "APIM subscription key",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "TimeCardId": {
                    "type": "string",
                    "description": "TimeCardId"
                  },
                  "Version": {
                    "type": "string",
                    "description": "Version"
                  },
                  "Status": {
                    "type": "string",
                    "description": "Status"
                  },
                  "Errors": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Errors"
                  }
                }
              }
            }
          }
        ],
        "consumes": [
          "application/json",
          "text/plain"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/Crafts/Import": {
      "post": {
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "type": "string"
            },
            "headers": {
              "cache-control": {
                "description": "cache-control",
                "type": "string"
              },
              "content-length": {
                "description": "content-length",
                "type": "string"
              },
              "content-type": {
                "description": "content-type",
                "type": "string"
              },
              "date": {
                "description": "date",
                "type": "string"
              },
              "expires": {
                "description": "expires",
                "type": "string"
              },
              "location": {
                "description": "location",
                "type": "string"
              },
              "pragma": {
                "description": "pragma",
                "type": "string"
              },
              "request-context": {
                "description": "request-context",
                "type": "string"
              },
              "retry-after": {
                "description": "retry-after",
                "type": "string"
              },
              "x-ms-apihub-cached-response": {
                "description": "x-ms-apihub-cached-response",
                "type": "string"
              },
              "x-powered-by": {
                "description": "x-powered-by",
                "type": "string"
              },
              "x-requestid": {
                "description": "x-requestid",
                "type": "string"
              }
            }
          }
        },
        "summary": "Import Crafts",
        "description": "Crafts Integration allows InEight customers to provide a list of crafts for their organization. Within the application, Crafts records are found in the Account level menu options under  \"Master data libraries > Operational resources\" or from within the Project level menu under  \"Assigned operational resources\".",
        "operationId": "Crafts_Import",
        "parameters": [
          {
            "name": "X-IN8-TENANT-PREFIX",
            "in": "header",
            "description": "The tenant prefix of https://domain.hds.ineight.com/ would be \"domain\".",
            "x-ms-summary": "Tenant prefix",
            "required": true,
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "This is found in your APIM Profile.",
            "x-ms-summary": "APIM subscription key",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "CraftId",
                  "CraftDescription",
                  "TradeId"
                ],
                "properties": {
                  "CraftId": {
                    "type": "string",
                    "description": "Craft Id"
                  },
                  "CraftDescription": {
                    "type": "string",
                    "description": "Craft Description"
                  },
                  "TradeId": {
                    "type": "string",
                    "description": "Trade Id"
                  },
                  "CurrencyCode": {
                    "type": "string",
                    "description": "Currency Code"
                  },
                  "VendorCode": {
                    "type": "string",
                    "description": "Vendor Code"
                  },
                  "SourceSystemId": {
                    "type": "string",
                    "description": "Source System Id"
                  },
                  "SourceSystemName": {
                    "type": "string",
                    "description": "Source System Name"
                  },
                  "UnionSourceSystemId": {
                    "type": "string",
                    "description": "Union Source System Id"
                  },
                  "UoMName": {
                    "type": "string",
                    "description": "UoM Name"
                  },
                  "UseBaseWageFactors": {
                    "type": "boolean",
                    "description": "Use Base Wage Factors"
                  },
                  "StraightTimeRate": {
                    "type": "number",
                    "format": "double",
                    "description": "Straight Time Rate"
                  },
                  "OverTimeFactor": {
                    "type": "number",
                    "format": "double",
                    "description": "Over Time Factor"
                  },
                  "OverTimeRate": {
                    "type": "number",
                    "format": "double",
                    "description": "Over Time Rate"
                  },
                  "DoubleTimeFactor": {
                    "type": "number",
                    "format": "double",
                    "description": "Double Time Factor"
                  },
                  "DoubleTimeRate": {
                    "type": "number",
                    "format": "double",
                    "description": "Double Time Rate"
                  },
                  "IsActive": {
                    "type": "boolean",
                    "description": "IsActive"
                  }
                }
              }
            }
          }
        ],
        "consumes": [
          "application/json",
          "text/plain"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ]
      }
    },
    "/DailyPlanStatus/Import": {
      "post": {
        "description": "If approved daily plans are sent to an external system, the external system can optionally process the daily plan data and return a message informing the InEight cloud platform that the status should be updated to Final Processing Complete.",
        "operationId": "DailyPlanStatus_Import",
        "summary": "Confirm status of Daily Plans",
        "parameters": [
          {
            "name": "X-IN8-TENANT-PREFIX",
            "in": "header",
            "description": "The tenant prefix of https://domain.hds.ineight.com/ would be \"domain\".",
            "x-ms-summary": "Tenant prefix",
            "required": true,
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "This is found in your APIM Profile.",
            "x-ms-summary": "APIM subscription key",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "DailyPlanId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Daily Plan Id"
                  },
                  "PlanStatusCode": {
                    "type": "string",
                    "description": "Plan Status Code"
                  },
                  "ModifiedById": {
                    "type": "string",
                    "description": "Modified By Id"
                  },
                  "ModifiedDate": {
                    "type": "string",
                    "description": "Modified Date"
                  },
                  "DtModifiedDate": {
                    "type": "string",
                    "description": "Modified Date"
                  },
                  "ReleasedDate": {
                    "type": "string",
                    "description": "Released Date"
                  },
                  "DtReleasedDate": {
                    "type": "string",
                    "description": "Released Date"
                  },
                  "ReleasedById": {
                    "type": "string",
                    "description": "Released By Id"
                  },
                  "Errors": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Errors"
                  }
                }
              }
            }
          }
        ],
        "consumes": [
          "application/json",
          "text/plain"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Employees/Import": {
      "post": {
        "description": "The Employees Integration allows InEight customers to provide a list of all employee resources  for their entire organization, and to maintain the list as employees are hired, terminated, or  details of their employment change. Within the application, Employee records are  found in the Account level menu options under ''Master data libraries'' > ''Operational resources''.",
        "operationId": "Employees_Import",
        "summary": "Import Employees",
        "parameters": [
          {
            "name": "X-IN8-TENANT-PREFIX",
            "in": "header",
            "description": "The tenant prefix of https://domain.hds.ineight.com/ would be \"domain\".",
            "x-ms-summary": "Tenant prefix",
            "required": true,
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "This is found in your APIM Profile.",
            "x-ms-summary": "APIM subscription key",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "CraftId",
                  "EmployeeId",
                  "FirstName",
                  "LastName"
                ],
                "properties": {
                  "CraftId": {
                    "type": "string",
                    "description": "Craft Id"
                  },
                  "VendorCode": {
                    "type": "string",
                    "description": "Vendor Code"
                  },
                  "EmployeeId": {
                    "type": "string",
                    "description": "Employee Id"
                  },
                  "FirstName": {
                    "type": "string",
                    "description": "First Name"
                  },
                  "LastName": {
                    "type": "string",
                    "description": "Last Name"
                  },
                  "IsActive": {
                    "type": "boolean",
                    "description": "Is Active"
                  },
                  "EmployeePIN": {
                    "type": "string",
                    "description": "Employee PIN"
                  },
                  "CanReportTime": {
                    "type": "boolean",
                    "description": "Can Report Time"
                  },
                  "SourceSystemId": {
                    "type": "string",
                    "description": "Source System Id"
                  },
                  "SourceSystemName": {
                    "type": "string",
                    "description": "Source System Name"
                  },
                  "StartDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start Date"
                  },
                  "EndDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End Date"
                  },
                  "CurrencyCode": {
                    "type": "string",
                    "description": "Currency Code"
                  },
                  "UOMName": {
                    "type": "string",
                    "description": "UOM Name"
                  },
                  "StraightTimeRate": {
                    "type": "number",
                    "format": "double",
                    "description": "Straight Time Rate"
                  },
                  "OverTimeFactor": {
                    "type": "number",
                    "format": "double",
                    "description": "Over Time Factor"
                  },
                  "OverTimeRate": {
                    "type": "number",
                    "format": "double",
                    "description": "Over Time Rate"
                  },
                  "DoubleTimeFactor": {
                    "type": "number",
                    "format": "double",
                    "description": "Double Time Factor"
                  },
                  "DoubleTimeRate": {
                    "type": "number",
                    "format": "double",
                    "description": "Double Time Rate"
                  },
                  "UseBaseWageFactors": {
                    "type": "boolean",
                    "description": "Use Base Wage Factors"
                  },
                  "UnionSourceSystemId": {
                    "type": "string",
                    "description": "Union Source System Id"
                  },
                  "PrimaryCompany": {
                    "type": "string",
                    "description": "Primary Company"
                  },
                  "JobTitle": {
                    "type": "string",
                    "description": "Job Title"
                  },
                  "UnionJobTitle": {
                    "type": "string",
                    "description": "Union Job Title"
                  },
                  "SupervisorId": {
                    "type": "string",
                    "description": "Supervisor Id"
                  },
                  "CountryISOCode": {
                    "type": "string",
                    "description": "Country ISO Code"
                  },
                  "DefaultCostCenterSourceSystemId": {
                    "type": "string",
                    "description": "Default Cost Center Source System Id"
                  },
                  "AdditionalPayrollInstructionCode": {
                    "type": "string",
                    "description": "Additional Payroll Instruction Code"
                  },
                  "IsOverrideAdditionalPayrollInstructionCodeAllowed": {
                    "type": "boolean",
                    "description": "Is Override Additional Payroll Instruction Code Allowed"
                  },
                  "IsAvailableWeeklyTimeSheet": {
                    "type": "boolean",
                    "description": "Is Available Weekly Time Sheet"
                  }
                }
              }
            }
          }
        ],
        "consumes": [
          "application/json",
          "text/plain"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "type": "string"
            },
            "headers": {
              "cache-control": {
                "description": "cache-control",
                "type": "string"
              },
              "content-length": {
                "description": "content-length",
                "type": "string"
              },
              "content-type": {
                "description": "content-type",
                "type": "string"
              },
              "date": {
                "description": "date",
                "type": "string"
              },
              "expires": {
                "description": "expires",
                "type": "string"
              },
              "location": {
                "description": "location",
                "type": "string"
              },
              "pragma": {
                "description": "pragma",
                "type": "string"
              },
              "request-context": {
                "description": "request-context",
                "type": "string"
              },
              "retry-after": {
                "description": "retry-after",
                "type": "string"
              },
              "x-ms-apihub-cached-response": {
                "description": "x-ms-apihub-cached-response",
                "type": "string"
              },
              "x-powered-by": {
                "description": "x-powered-by",
                "type": "string"
              },
              "x-requestid": {
                "description": "x-requestid",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/Equipments/Import": {
      "post": {
        "description": "The Equipment Integration allows InEight customers to provide and maintain a  complete list of equipment that can be used on any given project. In this integration,  it is expected that ''Equipment'' refers to items that are mobile, have an estimated  usage rate, and can be tracked by hours of usage. Equipment can include cranes,  backhoes, generators, trucks used for transportation, and any other tracked resource.  This integration includes specific details about the equipment such as manufacturer,  model, serial number, and whether the equipment is owned or rented. Within  the application, Equipment records are found in the Account level menu options under  ''Master data libraries'' > ''Operational resources''.",
        "operationId": "Equipments_Import",
        "summary": "Import Equipments",
        "parameters": [
          {
            "name": "X-IN8-TENANT-PREFIX",
            "in": "header",
            "description": "The tenant prefix of https://domain.hds.ineight.com/ would be \"domain\".",
            "x-ms-summary": "Tenant prefix",
            "required": true,
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "This is found in your APIM Profile.",
            "x-ms-summary": "APIM subscription key",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "EquipmentNumber",
                  "OwnershipType",
                  "EquipmentType",
                  "EquipmentDescription"
                ],
                "properties": {
                  "EquipmentSystemStatus": {
                    "description": "Availability or current state of the equipment. Allowed values for this field are 'Available' and 'Unavailable'. If not specifically provided, the value of 'Available' will assumed.",
                    "maxLength": 50,
                    "minLength": 0,
                    "type": "string"
                  },
                  "EquipmentNumber": {
                    "description": "Equipment item system of record identifier, which must be unique for each piece of equipment.",
                    "maxLength": 100,
                    "minLength": 0,
                    "type": "string"
                  },
                  "OwnershipType": {
                    "description": "Indicates whether the equipment item is either owned or rented by the customer. Valid options for this field are 'Owned' and 'Rented'.",
                    "maxLength": 100,
                    "minLength": 0,
                    "type": "string"
                  },
                  "EquipmentType": {
                    "description": "Associates equipment item to an Equipment Type. Value must match that of an existing EquipmentTypeId.",
                    "maxLength": 250,
                    "minLength": 0,
                    "type": "string"
                  },
                  "VendorCode": {
                    "description": "Identifies a Vendor that exists in InEight. Equipment with a Vendor Code are managed by the associated Vendor and their availability is limited to that Vendor.",
                    "maxLength": 250,
                    "minLength": 0,
                    "type": "string"
                  },
                  "SerialNumber": {
                    "description": "Physical Serial Number or Vehicle Identification Number (VIN) of the equipment.",
                    "maxLength": 50,
                    "minLength": 0,
                    "type": "string"
                  },
                  "Manufacturer": {
                    "description": "The name of the equipment manufacturer.",
                    "maxLength": 200,
                    "minLength": 0,
                    "type": "string"
                  },
                  "Dot": {
                    "description": "Indicates if the equipment is Department of Transportation (DOT) regulated.",
                    "type": "boolean"
                  },
                  "EquipmentDescription": {
                    "description": "User-defined field that is typically describes or give details about the Category or model/type of specific equipment.",
                    "maxLength": 255,
                    "minLength": 0,
                    "type": "string"
                  },
                  "IsActive": {
                    "description": "This field is not recommended for use. Sending a value of false within this field will cause the record to be soft deleted from InEight and unrecoverable without assistance from InEight Professional Services.",
                    "type": "boolean"
                  },
                  "SourceSystemId": {
                    "description": "The identification of the equipment used within the external system. In most cases, this matches the Equipment Number field. This field is used by InEight to match equipment records to other entities (e.g. Project Equipment) where an Equipment is cross-referenced.",
                    "maxLength": 100,
                    "minLength": 0,
                    "type": "string"
                  },
                  "SourceSystemName": {
                    "description": "The name of the external system providing the data.",
                    "maxLength": 50,
                    "minLength": 0,
                    "type": "string"
                  },
                  "CurrencyCode": {
                    "description": "Identifies the currency type associated with the equipment.",
                    "maxLength": 50,
                    "minLength": 0,
                    "type": "string"
                  },
                  "CostCenterSourceSystemId": {
                    "description": "The cost center the equipment belongs to.",
                    "maxLength": 50,
                    "minLength": 0,
                    "type": "string"
                  },
                  "Location": {
                    "description": "Free-text field that is used to display a location of where the equipment may be found.",
                    "maxLength": 250,
                    "minLength": 0,
                    "type": "string"
                  },
                  "UnitCost": {
                    "format": "double",
                    "description": "Cost associated with operating the equipment. The value entered here corresponds with the Unit of Measure (UoMName).",
                    "type": "number"
                  },
                  "UoMName": {
                    "description": "Identifies the Unit of Measure associated with the equipment. The value provided here must match the Name OR Source System Id of an existing Unit of Measure record.",
                    "maxLength": 255,
                    "minLength": 0,
                    "type": "string"
                  },
                  "IsAvailableDailyPlan": {
                    "description": "Determines if the record may be used for Daily Planning in the Plan and Progress applications",
                    "default": true,
                    "type": "boolean"
                  }
                }
              }
            }
          }
        ],
        "consumes": [
          "application/json",
          "text/plain"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "type": "string"
            },
            "headers": {
              "cache-control": {
                "description": "cache-control",
                "type": "string"
              },
              "content-length": {
                "description": "content-length",
                "type": "string"
              },
              "content-type": {
                "description": "content-type",
                "type": "string"
              },
              "date": {
                "description": "date",
                "type": "string"
              },
              "expires": {
                "description": "expires",
                "type": "string"
              },
              "location": {
                "description": "location",
                "type": "string"
              },
              "pragma": {
                "description": "pragma",
                "type": "string"
              },
              "request-context": {
                "description": "request-context",
                "type": "string"
              },
              "retry-after": {
                "description": "retry-after",
                "type": "string"
              },
              "x-ms-apihub-cached-response": {
                "description": "x-ms-apihub-cached-response",
                "type": "string"
              },
              "x-powered-by": {
                "description": "x-powered-by",
                "type": "string"
              },
              "x-requestid": {
                "description": "x-requestid",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/EquipmentCategories/Import": {
      "post": {
[...]
