{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Blackbaud Altru Constituent",
    "description": "Altru is a comprehensive enterprise-grade ticketing software solution built specifically for nonprofits and the entire social good community. Use the Constituents connector to manage constituent biographical details, contact information, and relationships.",
    "contact": {
      "name": "Blackbaud Support",
      "url": "https://www.blackbaud.com/support",
      "email": "skyapi@blackbaud.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.blackbaud.com/products/blackbaud-altru"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.blackbaud.com/privacy-shield"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Productivity"
    }
  ],
  "host": "api.sky.blackbaud.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "skyApiOAuth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://oauth2.sky.blackbaud.com/authorization",
      "tokenUrl": "https://oauth2.sky.blackbaud.com/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "skyApiOAuth": []
    }
  ],
  "paths": {
    "/alt-adnmg/codetables/{code_table_name}/entries": {
      "get": {
        "operationId": "ListCodeTableEntries",
        "summary": "List table entries",
        "description": "Returns table entries for the specified code table.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "code_table_name",
            "in": "path",
            "description": "The code table name.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Code table name",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Adnmg.CodeTableEntryCollection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view the table entries."
          },
          "404": {
            "description": "Returned when the specified code table was not found."
          }
        }
      }
    },
    "/alt-adnmg/simplelists/{simple_list_id}": {
      "get": {
        "operationId": "SimpleListLoad",
        "summary": "List simple list results",
        "description": "Returns result rows from the specified simple list.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "simple_list_id",
            "in": "path",
            "description": "The simple list identifier.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Simple list ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "paramKey1",
            "in": "query",
            "description": "For parameterized simple lists, this represents the first parameter key.",
            "type": "string",
            "x-ms-summary": "Parameter key 1",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "paramValue1",
            "in": "query",
            "description": "For parameterized simple lists, this represents the first parameter value.",
            "type": "string",
            "x-ms-summary": "Parameter value 1",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "paramSourceType1",
            "in": "query",
            "description": "For parameterized simple lists, this represents the source type for translating paramValue1.",
            "type": "string",
            "x-ms-summary": "Parameter translation source 1",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "paramSource1",
            "in": "query",
            "description": "For parameterized simple lists, this represents the source for translating paramValue1.",
            "type": "string",
            "x-ms-summary": "Parameter translation source 1",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "paramKey2",
            "in": "query",
            "description": "For parameterized simple lists, this represents the second parameter key.",
            "type": "string",
            "x-ms-summary": "Parameter key 2",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "paramValue2",
            "in": "query",
            "description": "For parameterized simple lists, this represents the second parameter value.",
            "type": "string",
            "x-ms-summary": "Parameter value 2",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "paramSourceType2",
            "in": "query",
            "description": "For parameterized simple lists, this represents the source type for translating paramValue2.",
            "type": "string",
            "x-ms-summary": "Parameter translation source 2",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "paramSource2",
            "in": "query",
            "description": "For parameterized simple lists, this represents the source for translating paramValue2.",
            "type": "string",
            "x-ms-summary": "Parameter translation source 2",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Adnmg.SimpleListResult"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view the simple list results."
          },
          "404": {
            "description": "Returned when the specified simple list was not found."
          }
        }
      }
    },

    "/alt-conmg/addresses": {
      "post": {
        "operationId": "CreateConstituentAddress",
        "summary": "Create a constituent address",
        "description": "Creates a new constituent address.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.NewConstituentAddress"
            },
            "description": "An object that represents the constituent address to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a constituent address. The response body contains the ID of the new constituent address.",
            "schema": {
              "$ref": "#/definitions/Conmg.CreatedConstituentAddress"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the constituent address."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/addresses/{constituent_address_id}": {
      "delete": {
        "operationId": "DeleteConstituentAddress",
        "summary": "Delete a constituent address",
        "description": "Deletes a constituent address.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_address_id",
            "in": "path",
            "description": "The system record ID of the constituent address to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent address ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the constituent address."
          },
          "400": {
            "description": "Returned when the specified address ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the constituent address."
          }
        }
      },
      "patch": {
        "operationId": "EditConstituentAddress",
        "summary": "Update a constituent address",
        "description": "Updates a constituent address.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_address_id",
            "in": "path",
            "description": "The system record ID of the constituent address to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent address ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.UpdateConstituentAddress"
            },
            "description": "An object that represent properties of the constituent address to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the constituent address."
          },
          "400": {
            "description": "Returned when the specified constituent address ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the constituent address."
          },
          "404": {
            "description": "Returned when the specified constituent address is not found."
          }
        }
      }
    },
    "/alt-conmg/alternatelookupids": {
      "post": {
        "operationId": "CreateConstituentAlternateLookupID",
        "summary": "Create a constituent alternate lookup ID",
        "description": "Creates a new constituent alternate lookup ID.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.NewConstituentAlternateLookupID"
            },
            "description": "An object that represents the alternate lookup ID to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an alternate lookup ID. The response body contains the ID of the new alternate lookup ID.",
            "schema": {
              "$ref": "#/definitions/Conmg.CreatedConstituentAlternateLookupID"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the alternate lookup ID."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/alternatelookupids/{alternate_lookup_id}": {
      "delete": {
        "operationId": "DeleteConstituentAlternateLookupID",
        "summary": "Delete a constituent alternate lookup ID",
        "description": "Deletes a constituent alternate lookup ID.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "alternate_lookup_id",
            "in": "path",
            "description": "The system record ID of the constituent alternate lookup ID to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Alternate lookup ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the constituent alternate lookup ID."
          },
          "400": {
            "description": "Returned when the specified constituent alternate lookup ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the constituent alternate lookup ID."
          }
        }
      },
      "patch": {
        "operationId": "EditConstituentAlternateLookupID",
        "summary": "Update a constituent alternate lookup ID",
        "description": "Updates a constituent alternate lookup ID.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "alternate_lookup_id",
            "in": "path",
            "description": "The system record ID of the constituent alternate lookup ID to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Alternate lookup ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.UpdateConstituentAlternateLookupID"
            },
            "description": "An object that represent properties of the constituent alternate lookup ID to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the constituent alternate lookup ID."
          },
          "400": {
            "description": "Returned when the specified constituent alternate lookup ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the constituent alternate lookup ID."
          },
          "404": {
            "description": "Returned when the specified constituent alternate lookup ID is not found."
          }
        }
      }
    },
    "/alt-conmg/constituentappealresponses": {
      "post": {
        "operationId": "CreateConstituentAppealResponse",
        "summary": "Create a constituent appeal response",
        "description": "Creates a new constituent appeal response.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.NewConstituentAppealResponse"
            },
            "description": "An object that represents the constituent appeal response to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an alternate lookup ID. The response body contains the ID of the new constituent appeal response.",
            "schema": {
              "$ref": "#/definitions/Conmg.CreatedConstituentAppealResponse"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the constituent appeal response."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/constituentappeals": {
      "post": {
        "operationId": "CreateConstituentAppeal",
        "summary": "Create a constituent appeal",
        "description": "Creates a new constituent appeal.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.NewConstituentAppeal"
            },
            "description": "An object that represents the constituent appeal to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a constituent appeal. The response body contains the ID of the new constituent appeal.",
            "schema": {
              "$ref": "#/definitions/Conmg.CreatedConstituentAppeal"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the constituent appeal."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/constituentappeals/{constituent_appeal_id}": {
      "delete": {
        "operationId": "DeleteConstituentAppeal",
        "summary": "Delete a constituent appeal",
        "description": "Deletes a constituent appeal.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_appeal_id",
            "in": "path",
            "description": "The system record ID of the constituent appeal to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent appeal ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the constituent appeal."
          },
          "400": {
            "description": "Returned when the specified constituent appeal ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the constituent appeal."
          }
        }
      },
      "patch": {
        "operationId": "EditConstituentAppeal",
        "summary": "Update a constituent appeal",
        "description": "Updates a constituent appeal.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_appeal_id",
            "in": "path",
            "description": "The system record ID of the constituent appeal to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent appeal ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.UpdateConstituentAppeal"
            },
            "description": "An object that represent properties of the constituent appeal to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the constituent appeal."
          },
          "400": {
            "description": "Returned when the specified constituent appeal ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the constituent appeal."
          },
          "404": {
            "description": "Returned when the specified constituent appeal is not found."
          }
        }
      }
    },
    "/alt-conmg/constituentappeals/{constituent_id}/appeals": {
      "get": {
        "operationId": "ListConstituentAppeals",
        "summary": "List constituent appeals",
        "description": "Lists the appeals sent to a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Conmg.ConstituentAppealCollection"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameter is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the constituent appeals."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/constituentattributes/{constituent_attribute_id}": {
      "delete": {
        "operationId": "DeleteConstituentAttribute",
        "summary": "Delete a constituent attribute",
        "description": "Deletes a constituent attribute.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_attribute_id",
            "in": "path",
            "description": "The system record ID of the constituent attribute to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent attribute ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the constituent attribute."
          },
          "400": {
            "description": "Returned when the specified constituent attribute ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the constituent attribute."
          }
        }
      }
    },
    "/alt-conmg/constituentnotes": {
      "post": {
        "operationId": "CreateConstituentNote",
        "summary": "Create a constituent note",
        "description": "Creates a new constituent note.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.NewConstituentNote"
            },
            "description": "An object that represents the constituent note to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a constituent note. The response body contains the ID of the new constituent note.",
            "schema": {
              "$ref": "#/definitions/Conmg.CreatedConstituentNote"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the constituent note."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/constituentnotes/{constituent_note_id}": {
      "delete": {
        "operationId": "DeleteConstituentNote",
        "summary": "Delete a constituent note",
        "description": "Deletes a constituent note.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_note_id",
            "in": "path",
            "description": "The system record ID of the constituent note to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent note ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the constituent note."
          },
          "400": {
            "description": "Returned when the specified constituent note ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the constituent note."
          }
        }
      },
      "patch": {
        "operationId": "EditConstituentNote",
        "summary": "Update a constituent note",
        "description": "Updates a constituent note.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_note_id",
            "in": "path",
            "description": "The system record ID of the constituent note to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent note ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.UpdateConstituentNote"
            },
            "description": "An object that represent properties of the constituent note to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the constituent note."
          },
          "400": {
            "description": "Returned when the specified constituent note ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the constituent note."
          },
          "404": {
            "description": "Returned when the specified constituent note is not found."
          }
        }
      }
    },
    "/alt-conmg/constituents/search": {
      "get": {
        "operationId": "SearchConstituent",
        "summary": "Search for a constituent",
        "description": "Searches for constituent records using the given filter criteria.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key_name",
            "in": "query",
            "description": "The constituent key name (last name for individuals, organization name for organizations).",
            "type": "string",
            "x-ms-summary": "Key name"
          },
          {
            "name": "first_name",
            "in": "query",
            "description": "The constituent first name.",
            "type": "string",
            "x-ms-summary": "First name"
          },
          {
            "name": "lookup_id",
            "in": "query",
            "description": "The constituent lookup ID.",
            "type": "string",
            "x-ms-summary": "Lookup ID"
          },
          {
            "name": "email_address",
            "in": "query",
            "description": "The constituent email address.",
            "type": "string",
            "x-ms-summary": "Email address"
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "The constituent phone number.",
            "type": "string",
            "x-ms-summary": "Phone number"
          },
          {
            "name": "country",
            "in": "query",
            "description": "A filter for the constituent address country.",
            "type": "string",
            "x-ms-summary": "Country",
            "x-ms-dynamic-values": {
              "operationId": "SimpleListLoad",
              "value-collection": "rows",
              "value-path": "label",
              "value-title": "label",
              "parameters": {
                "simple_list_id": "c9649672-353d-42e8-8c25-4d34bbabfbba"
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "SimpleListLoad",
              "itemsPath": "rows",
              "itemValuePath": "label",
              "itemTitlePath": "label",
              "parameters": {
                "simple_list_id": {
                  "value": "c9649672-353d-42e8-8c25-4d34bbabfbba"
                }
              }
            }
          },
          {
            "name": "address_block",
            "in": "query",
            "description": "A filter for the constituent address block.",
            "type": "string",
            "x-ms-summary": "Address"
          },
          {
            "name": "city",
            "in": "query",
            "description": "A filter for the constituent address city.",
            "type": "string",
            "x-ms-summary": "City"
          },
          {
            "name": "state",
            "in": "query",
            "description": "A filter for the constituent address state.",
            "type": "string",
            "x-ms-summary": "State",
            "x-ms-dynamic-values": {
              "operationId": "SimpleListLoad",
              "value-collection": "rows",
              "value-path": "label",
              "value-title": "description",
              "parameters": {
                "simple_list_id": "7fa91401-596c-4f7c-936d-6e41683121d7"
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "SimpleListLoad",
              "itemsPath": "rows",
              "itemValuePath": "label",
              "itemTitlePath": "description",
              "parameters": {
                "simple_list_id": {
                  "value": "7fa91401-596c-4f7c-936d-6e41683121d7"
                }
              }
            }
          },
          {
            "name": "post_code",
            "in": "query",
            "description": "A filter for the constituent address postal code.",
            "type": "string",
            "x-ms-summary": "Postal code"
          },
          {
            "name": "classof",
            "in": "query",
            "description": "A filter for the primary class year of the constituent.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Class of"
          },
          {
            "name": "exact_match_only",
            "in": "query",
            "description": "Match all criteria exactly?",
            "type": "boolean",
            "x-ms-summary": "Match exactly?"
          },
          {
            "name": "middle_name",
            "in": "query",
            "description": "The constituent middle name.",
            "type": "string",
            "x-ms-summary": "Middle name",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "constituency",
            "in": "query",
            "description": "A filter for the constituency of the constituent.",
            "type": "string",
            "x-ms-summary": "Constituency",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "SimpleListLoad",
              "value-collection": "rows",
              "value-path": "label",
              "value-title": "label",
              "parameters": {
                "simple_list_id": "7821c1ab-3001-485b-aec7-f55749f959e6"
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "SimpleListLoad",
              "itemsPath": "rows",
              "itemValuePath": "label",
              "itemTitlePath": "label",
              "parameters": {
                "simple_list_id": {
                  "value": "7821c1ab-3001-485b-aec7-f55749f959e6"
                }
              }
            }
          },
          {
            "name": "sourcecode",
            "in": "query",
            "description": "A filter for the constituent appeal source code.",
            "type": "string",
            "x-ms-summary": "Source code",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "include_individuals",
            "in": "query",
            "description": "Include individual constituents?",
            "type": "boolean",
            "x-ms-summary": "Include individuals?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "include_organizations",
            "in": "query",
            "description": "Include organization constituents?",
            "type": "boolean",
            "x-ms-summary": "Include organizations?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "include_groups",
            "in": "query",
            "description": "Include groups when searching?",
            "type": "boolean",
            "x-ms-summary": "Include groups?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "exclude_households",
            "in": "query",
            "description": "Exclude households when searching?",
            "type": "boolean",
            "x-ms-summary": "Exclude households?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "check_nickname",
            "in": "query",
            "description": "Check nickname when searching?",
            "type": "boolean",
            "x-ms-summary": "Check nickname?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "check_aliases",
            "in": "query",
            "description": "Check aliases when searching?",
            "type": "boolean",
            "x-ms-summary": "Check aliases?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "check_alternate_lookup_ids",
            "in": "query",
            "description": "Check alternate lookup IDs when searching?",
            "type": "boolean",
            "x-ms-summary": "Check alt lookup IDs?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "only_primary_address",
            "in": "query",
            "description": "Only search primary addresses?",
            "type": "boolean",
            "x-ms-summary": "Only primary?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "include_deceased",
            "in": "query",
            "description": "Include deceased constituents?",
            "type": "boolean",
            "x-ms-summary": "Include deceased?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include inactive constituents?",
            "type": "boolean",
            "x-ms-summary": "Include inactive?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "fuzzy_search_on_name",
            "in": "query",
            "description": "Use fuzzy search on name?",
            "type": "boolean",
            "x-ms-summary": "Use fuzzy search?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "advanced"
          }          
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Conmg.ConstituentSearchResultCollection"
            }
          }
        }
      }
    },
    "/alt-conmg/constituents/{constituent_id}": {
      "delete": {
        "operationId": "DeleteConstituent",
        "summary": "Delete a constituent",
        "description": "Deletes a constituent.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the constituent."
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the constituent."
          }
        }
      }
    },
    "/alt-conmg/constituents/{constituent_id}/addresses": {
      "get": {
        "operationId": "ListConstituentAddresses",
        "summary": "List constituent addresses",
        "description": "Lists the addresses for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "include_former",
            "in": "query",
            "description": "Include former addresses?",
            "type": "boolean",
            "x-ms-summary": "Include former?"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Conmg.AddressCollection"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameter is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the addresses."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/constituents/{constituent_id}/alternatelookupids": {
      "get": {
        "operationId": "ListConstituentAlternateLookupIDs",
        "summary": "List constituent alternate lookup IDs",
        "description": "Lists the alternate lookup IDs for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Conmg.AlternateLookupIDCollection"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameter is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the alternate lookup IDs."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/constituents/{constituent_id}/constituentattributelist": {
      "get": {
        "operationId": "ListConstituentAttributes",
        "summary": "List constituent attributes",
        "description": "Lists the attributes for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Conmg.AttributeCollection"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameter is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the attributes."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/constituents/{constituent_id}/contactview": {
      "get": {
        "operationId": "GetConstituentPrimaryContactInfo",
        "summary": "Get constituent primary contact information",
        "description": "Returns the primary contact information for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Conmg.ConstituentPrimaryContactInfo"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the constituent."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/constituents/{constituent_id}/educationalhistories": {
      "get": {
        "operationId": "ListConstituentEducations",
        "summary": "List constituent educations",
        "description": "Lists the educations for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Conmg.EducationCollection"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameter is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the educations."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/constituents/{constituent_id}/emailaddresses": {
      "get": {
        "operationId": "ListConstituentEmailAddresses",
        "summary": "List constituent email addresses",
        "description": "Lists the email addresses for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Conmg.EmailAddressCollection"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameter is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the email addresses."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/constituents/{constituent_id}/phones": {
      "get": {
        "operationId": "ListConstituentPhones",
        "summary": "List constituent phones",
        "description": "Lists the phones for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Conmg.PhoneCollection"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameter is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the phones."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/constituents/{constituent_id}/profilepicture": {
      "get": {
        "operationId": "GetConstituentProfilePicture",
        "summary": "Get a constituent profile picture",
        "description": "Returns the profile picture for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Conmg.ConstituentProfilePicture"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the constituent."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/constituents/{constituent_id}/relationshipjobsinfo": {
      "get": {
        "operationId": "ListConstituentEmploymentHistory",
        "summary": "List constituent employment history",
        "description": "Lists the employment history for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include inactive records?",
            "type": "boolean",
            "x-ms-summary": "Include inactive?",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Conmg.EmploymentHistoryCollection"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameter is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the employment history."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/constituents/{constituent_id}/solicitcodes": {
      "get": {
        "operationId": "ListConstituentSolicitCodes",
        "summary": "List constituent solicit codes",
        "description": "Lists the solicit codes for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "show_expired",
            "in": "query",
            "description": "Show expired solicit codes?",
            "type": "boolean",
            "x-ms-summary": "Show expired?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "date_range",
            "in": "query",
            "description": "Filter the results to the specified date range.",
            "type": "string",
            "enum": [
              "All dates",
              "Last 30 days",
              "Last 60 days",
              "Last 90 days",
              "Last 6 months",
              "Last year",
              "Last 2 years"
            ],
            "x-ms-summary": "Date range",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Conmg.SolicitCodeCollection"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameter is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the solicit codes."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/constituents/{constituent_id}/tributes": {
      "get": {
        "operationId": "ListConstituentTributes",
        "summary": "List constituent tributes",
        "description": "Lists the tributes for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Conmg.TributeCollection"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameter is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the tributes."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/constituents/{constituent_id}/view": {
      "get": {
        "operationId": "GetConstituentSummaryProfile",
        "summary": "Get a constituent summary profile",
        "description": "Returns the summary profile information for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Conmg.ConstituentSummaryProfile"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the constituent."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/educationalhistories": {
      "post": {
        "operationId": "CreateConstituentEducation",
        "summary": "Create a constituent education",
        "description": "Creates a new constituent education.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.NewConstituentEducation"
            },
            "description": "An object that represents the constituent education to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a constituent education. The response body contains the ID of the new constituent education.",
            "schema": {
              "$ref": "#/definitions/Conmg.CreatedConstituentEducation"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the constituent education."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/educationalhistories/{educational_history_id}": {
      "delete": {
        "operationId": "DeleteConstituentEducation",
        "summary": "Delete a constituent education",
        "description": "Deletes a constituent education record.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "educational_history_id",
            "in": "path",
            "description": "The system record ID of the education record to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Educational history ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the constituent education record."
          },
          "400": {
            "description": "Returned when the specified educational history ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the constituent education record."
          }
        }
      },
      "patch": {
        "operationId": "EditConstituentEducation",
        "summary": "Update a constituent education",
        "description": "Updates a constituent education.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "educational_history_id",
            "in": "path",
            "description": "The system record ID of the constituent education to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Educational history ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.UpdateConstituentEducation"
            },
            "description": "An object that represent properties of the constituent education to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the constituent education."
          },
          "400": {
            "description": "Returned when the specified constituent education ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the constituent education."
          },
          "404": {
            "description": "Returned when the specified constituent education is not found."
          }
        }
      }
    },
    "/alt-conmg/emailaddresses": {
      "post": {
        "operationId": "CreateConstituentEmailAddress",
        "summary": "Create a constituent email address",
        "description": "Creates a new constituent email address.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.NewConstituentEmailAddress"
            },
            "description": "An object that represents the email address to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a constituent email address. The response body contains the ID of the new constituent email address.",
            "schema": {
              "$ref": "#/definitions/Conmg.CreatedConstituentEmailAddress"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the constituent email address."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/emailaddresses/{email_address_id}": {
      "delete": {
        "operationId": "DeleteConstituentEmailAddress",
        "summary": "Delete a constituent email address",
        "description": "Deletes a constituent email address.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email_address_id",
            "in": "path",
            "description": "The system record ID of the constituent email address to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Email address ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the constituent email address."
          },
          "400": {
            "description": "Returned when the specified constituent email address ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the constituent email address."
          }
        }
      },
      "patch": {
        "operationId": "EditConstituentEmailAddress",
        "summary": "Update a constituent email address",
        "description": "Updates a constituent email address.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email_address_id",
            "in": "path",
            "description": "The system record ID of the constituent email address to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Email address ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.UpdateConstituentEmailAddress"
            },
            "description": "An object that represent properties of the constituent email address to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the constituent email address."
          },
          "400": {
            "description": "Returned when the specified constituent email address ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the constituent email address."
          },
          "404": {
            "description": "Returned when the specified constituent email address is not found."
          }
        }
      }
    },
    "/alt-conmg/fundraisers": {
      "post": {
        "operationId": "CreateFundraiserConstituency",
        "summary": "Create a fundraiser constituency",
        "description": "Creates a new fundraiser constituency for a constituent.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.NewFundraiserConstituency"
            },
            "description": "An object that represents the fundraiser constituency to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a fundraiser constituency. The response body contains the ID of the new fundraiser constituency.",
            "schema": {
              "$ref": "#/definitions/Conmg.CreatedFundraiserConstituency"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the fundraiser constituency."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/fundraisers/{fundraiser_constituency_id}": {
      "delete": {
        "operationId": "DeleteFundraiserConstituency",
        "summary": "Delete a fundraiser constituency",
        "description": "Deletes a fundraiser constituency from a constituent.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fundraiser_constituency_id",
            "in": "path",
            "description": "The system record ID of the fundraiser constituency to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituency ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the fundraiser constituency."
          },
          "400": {
            "description": "Returned when the specified fundraiser constituency ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the fundraiser constituency."
          }
        }
      },
      "patch": {
        "operationId": "EditFundraiserConstituency",
        "summary": "Update a fundraiser constituency",
        "description": "Updates a fundraiser constituency on a constituent.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fundraiser_constituency_id",
            "in": "path",
            "description": "The system record ID of the fundraiser constituency to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituency ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.UpdateFundraiserConstituency"
            },
            "description": "An object that represent properties of the fundraiser constituency to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the fundraiser constituency."
          },
          "400": {
            "description": "Returned when the specified fundraiser constituency ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the fundraiser constituency."
          },
          "404": {
            "description": "Returned when the specified fundraiser constituency is not found."
          }
        }
      }
    },
    "/alt-conmg/individuals": {
      "post": {
        "operationId": "CreateIndividualConstituent",
        "summary": "Create an individual constituent",
        "description": "Creates a new individual constituent.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.NewIndividual"
            },
            "description": "An object that represents the constituent to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a constituent. The response body contains the ID of the new constituent.",
            "schema": {
              "$ref": "#/definitions/Conmg.CreatedIndividualConstituent"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create a constituent."
          }
        }
      }
    },
    "/alt-conmg/individuals/{constituent_id}": {
      "get": {
        "operationId": "GetIndividualConstituent",
        "summary": "Get an individual constituent",
        "description": "Returns information about an individual constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the individual constituent to get.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Conmg.IndividualConstituent"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the constituent."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      },
      "patch": {
        "operationId": "EditIndividualConstituent",
        "summary": "Update an individual constituent",
        "description": "Updates an individual constituent. If a reciprocal relationship exists, it is also modified to reflect the changes. This does not include changes to the \"comments\" property, which is specific to each record and can be modified independently on each record.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the individual to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.UpdateIndividual"
            },
            "description": "An object that represents the properties of the individual constituent to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the constituent."
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the constituent."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/interactions": {
      "post": {
        "operationId": "CreateConstituentInteraction",
        "summary": "Create a constituent interaction",
        "description": "Creates a new constituent interaction.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.NewConstituentInteraction"
            },
            "description": "An object that represents the interaction to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an interaction. The response body contains the ID of the new interaction.",
            "schema": {
              "$ref": "#/definitions/Conmg.CreatedConstituentInteraction"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the interaction."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/interactions/{constituent_interaction_id}": {
      "get": {
        "operationId": "GetConstituentInteraction",
        "summary": "Get a constituent interaction",
        "description": "Returns details about the specified constituent interaction.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_interaction_id",
            "in": "path",
            "description": "The system record ID of the constituent interaction to get.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Interaction ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Conmg.ConstituentInteraction"
            }
          },
          "400": {
            "description": "Returned when the specified constituent interaction ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the constituent interaction."
          },
          "404": {
            "description": "Returned when the specified constituent interaction is not found."
          }
        }
      },      
      "delete": {
        "operationId": "DeleteConstituentInteraction",
        "summary": "Delete a constituent interaction",
        "description": "Deletes a constituent interaction.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_interaction_id",
            "in": "path",
            "description": "The system record ID of the constituent interaction to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Interaction ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the constituent interaction."
          },
          "400": {
            "description": "Returned when the specified interaction ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the constituent interaction."
          }
        }
      },
      "patch": {
        "operationId": "EditConstituentInteraction",
        "summary": "Update a constituent interaction",
        "description": "Updates a constituent interaction.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_interaction_id",
            "in": "path",
            "description": "The system record ID of the constituent interaction to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Interaction ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.UpdateConstituentInteraction"
            },
            "description": "An object that represent properties of the constituent interaction to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the constituent interaction."
          },
          "400": {
            "description": "Returned when the specified constituent interaction ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the constituent interaction."
          },
          "404": {
            "description": "Returned when the specified constituent interaction is not found."
          }
        }
      }      
    },
    "/alt-conmg/mergetwoconstituents": {
      "post": {
        "operationId": "MergeTwoConstituents",
        "summary": "Merge two constituents",
        "description": "Merge two constituent records.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.NewConstituentMerge"
            },
            "description": "An object that represents the constituents to merge.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully merges the constituents. The response body contains the ID of target constituent.",
            "schema": {
              "$ref": "#/definitions/Conmg.MergedConstituent"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to merge constituents."
          },
          "404": {
            "description": "Returned when the specified source or target constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/organizations": {
      "post": {
        "operationId": "CreateOrganizationConstituent",
        "summary": "Create an organization constituent",
        "description": "Creates a new organization constituent.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.NewOrganization"
            },
            "description": "An object that represents an organization constituent to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an organization constituent. The response body contains the ID of the new constituent.",
            "schema": {
              "$ref": "#/definitions/Conmg.CreatedOrganizationConstituent"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create an organization constituent."
          }
        }
      }
    },
    "/alt-conmg/organizations/{constituent_id}": {
      "get": {
        "operationId": "GetOrganizationConstituent",
        "summary": "Get an organization constituent",
        "description": "Returns information about an organization constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the organization constituent to get.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Conmg.OrganizationConstituent"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the constituent."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      },      
      "patch": {
        "operationId": "EditOrganizationConstituent",
        "summary": "Update an organization constituent",
        "description": "Updates an organization constituent.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the organization constituent to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.UpdateOrganization"
            },
            "description": "An object that represents the properties of the organization to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the organization constituent."
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the organization constituent."
          },
          "404": {
            "description": "Returned when the specified organization constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/phones": {
      "post": {
        "operationId": "CreateConstituentPhone",
        "summary": "Create a constituent phone",
        "description": "Creates a new constituent phone.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.NewConstituentPhone"
            },
            "description": "An object that represents the phone to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a phone. The response body contains the ID of the new phone.",
            "schema": {
              "$ref": "#/definitions/Conmg.CreatedConstituentPhone"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the phone."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/phones/{constituent_phone_id}": {
      "delete": {
        "operationId": "DeleteConstituentPhone",
        "summary": "Delete a constituent phone",
        "description": "Deletes a constituent phone.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_phone_id",
            "in": "path",
            "description": "The system record ID of the constituent phone to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent phone ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the constituent phone."
          },
          "400": {
            "description": "Returned when the specified constituent phone ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the constituent phone."
          }
        }
      },
      "patch": {
        "operationId": "EditConstituentPhone",
        "summary": "Update a constituent phone",
        "description": "Updates a constituent phone.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_phone_id",
            "in": "path",
            "description": "The system record ID of the constituent phone to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent phone ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.UpdateConstituentPhone"
            },
            "description": "An object that represent properties of the constituent phone to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the constituent phone."
          },
          "400": {
            "description": "Returned when the specified constituent phone ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the constituent phone."
          },
          "404": {
            "description": "Returned when the specified constituent phone is not found."
          }
        }
      }
    },
    "/alt-conmg/relationshipjobsinfo": {
      "post": {
        "operationId": "CreateConstituentEmploymentHistory",
        "summary": "Create a constituent employment history",
        "description": "Creates a new constituent employment history.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.NewConstituentEmploymentHistory"
            },
            "description": "An object that represents the constituent employment history to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a constituent employment history. The response body contains the ID of the new constituent employment history.",
            "schema": {
              "$ref": "#/definitions/Conmg.CreatedConstituentEmploymentHistory"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the constituent employment history."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/relationshipjobsinfo/{relationship_job_info_id}": {
      "delete": {
        "operationId": "DeleteConstituentEmploymentHistory",
        "summary": "Delete a constituent employment history",
        "description": "Deletes a constituent employment history.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "relationship_job_info_id",
            "in": "path",
            "description": "The system record ID of the constituent employment history to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Employment history ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the constituent employment history."
          },
          "400": {
            "description": "Returned when the specified constituent employment history ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the constituent employment history."
          }
        }
      },
      "patch": {
        "operationId": "EditConstituentEmploymentHistory",
        "summary": "Update a constituent employment history",
        "description": "Updates a constituent employment history.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "relationship_job_info_id",
            "in": "path",
            "description": "The system record ID of the constituent employment history to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Employment history ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.UpdateConstituentEmploymentHistory"
            },
            "description": "An object that represent properties of the constituent employment history to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the constituent employment history."
          },
          "400": {
            "description": "Returned when the specified constituent employment history ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the constituent employment history."
          },
          "404": {
            "description": "Returned when the specified constituent employment history is not found."
          }
        }
      }
    },
    "/alt-conmg/solicitcodes": {
      "post": {
        "operationId": "CreateConstituentSolicitCode",
        "summary": "Create a constituent solicit code",
        "description": "Creates a new constituent solicit code.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.NewConstituentSolicitCode"
            },
            "description": "An object that represents the constituent solicit code to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a constituent solicit code. The response body contains the ID of the new constituent solicit code.",
            "schema": {
              "$ref": "#/definitions/Conmg.CreatedConstituentSolicitCode"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the constituent solicit code."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/alt-conmg/solicitcodes/{constituent_solicit_code_id}": {
      "delete": {
        "operationId": "DeleteConstituentSolicitCode",
        "summary": "Delete a constituent solicit code",
        "description": "Deletes a constituent solicit code.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_solicit_code_id",
            "in": "path",
            "description": "The system record ID of the constituent solicit code to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Solicit code ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the constituent solicit code."
          },
          "400": {
            "description": "Returned when the specified constituent solicit code ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the constituent solicit code."
          }
        }
      },
      "patch": {
        "operationId": "EditConstituentSolicitCode",
        "summary": "Update a constituent solicit code",
        "description": "Updates a constituent note.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_solicit_code_id",
            "in": "path",
            "description": "The system record ID of the constituent solicit code to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Solicit code ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Conmg.UpdateConstituentSolicitCode"
            },
            "description": "An object that represent properties of the constituent solicit code to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the constituent solicit code."
          },
          "400": {
            "description": "Returned when the specified constituent solicit code ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the constituent solicit code."
          },
          "404": {
            "description": "Returned when the specified constituent solicit code is not found."
          }
        }
      }
    }
  },
  "definitions": {
    "Adnmg.CodeTableEntry": {
      "type": "object",
      "description": "Table entry",
      "properties": {
        "id": {
          "type": "string",
          "description": "The table entry ID.",
          "x-ms-summary": "ID"
        },
        "description": {
          "type": "string",
          "description": "The table entry description.",
          "x-ms-summary": "Description"
        }
      }
    },
    "Adnmg.CodeTableEntryCollection": {
      "type": "object",
      "description": "A collection of table entries.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The set of table entries in the response.",
          "items": {
            "$ref": "#/definitions/Adnmg.CodeTableEntry"
          }
        }
      }
    },
    "Adnmg.SimpleListResult": {
      "type": "object",
      "description": "Results",
      "properties": {
        "rows": {
          "type": "array",
          "description": "The set of simple list result rows in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/Adnmg.SimpleListResultRow"
          }
        }
      }
    },
    "Adnmg.SimpleListResultRow": {
      "type": "object",
      "description": "Row",
      "properties": {
        "value": {
          "type": "string",
          "description": "The row identifier ID.",
          "x-ms-summary": "Value"
        },
        "label": {
          "type": "string",
          "description": "The row label.",
          "x-ms-summary": "Label"
        },
        "description": {
          "type": "string",
          "description": "The row description.",
          "x-ms-summary": "Label"
        }
      }
    },

    "Conmg.Address": {
      "type": "object",
      "description": "Address",
      "properties": {
        "id": {
[...]
