{
  "swagger": "2.0",
  "info": {
    "title": "Passage by 1Password - Auth",
    "description": "Passage is backed by 1Password's 17+ years of industry-leading security expertise. Completely replace your existing authentication flow or build from scratch with a robust solution for passwordless authentication and customer identity management. Realize the full security, business, and user experience benefits of eliminating passwords by implementing login flows powered by passkeys, magic links, and login codes.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    },
    "version": "1.0.0"
  },
  "host": "auth.passage.id",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/apps/{app_id}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get app",
        "description": "Retrieve information about an application.",
        "operationId": "Get-app",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/GetAppResponse"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Get-app",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/apps/{app_id}/.well-known/jwks.json": {
      "get": {
        "tags": [
          "JWKS"
        ],
        "summary": "Get JWKS",
        "description": "Retrieve JWKS for an app. KIDs in the JWT can be used to match the appropriate JWK, and use the JWK's public key to verify the JWT.",
        "operationId": "Get-jwks",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/JWKResponse"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        }
      }
    },
    "/apps/{app_id}/.well-known/openid-configuration": {
      "get": {
        "tags": [
          "OpenID"
        ],
        "summary": "Get OpenID configuration",
        "description": "Retrieve OpenID configuration for an app.",
        "operationId": "Get-open-id-configuration",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/OpenIdConfiguration"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "Get-open-id-configuration",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/apps/{app_id}/currentuser": {
      "get": {
        "tags": [
          "Currentuser"
        ],
        "summary": "Get current user",
        "description": "Retrieve information about a user that is currently authenticated via bearer token.",
        "operationId": "Get-currentuser",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/CurrentUserResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Get-currentuser",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/apps/{app_id}/currentuser/devices": {
      "get": {
        "tags": [
          "Currentuser"
        ],
        "summary": "List devices",
        "description": "Retrieve a list of all WebAuthn devices for the authenticated user. User must be authenticated via bearer token.",
        "operationId": "Get-currentuser-devices",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/CurrentUserDevices"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Get-currentuser-devices",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/apps/{app_id}/currentuser/devices/finish": {
      "post": {
        "tags": [
          "Currentuser"
        ],
        "summary": "Finish WebAuthn add device",
        "description": "Completes a WebAuthn add device operation for the current user. User must be authenticated via a bearer token.",
        "operationId": "Post-currentuser-add-device-finish",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "WebAuthn Response Data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddDeviceFinishRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/CurrentUserDevice"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "Post-currentuser-add-device-finish",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/apps/{app_id}/currentuser/devices/start": {
      "post": {
        "tags": [
          "Currentuser"
        ],
        "summary": "Start WebAuthn add device",
        "description": "Initiate a WebAuthn add device operation for the current user. This endpoint creates a WebAuthn credential creation challenge that is used to perform the registration ceremony from the browser. User must be authenticated via a bearer token.",
        "operationId": "Post-currentuser-add-device-start",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "WebAuthn Start Response Data.",
            "schema": {
              "$ref": "#/definitions/CurrentUserDevicesStartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/AddDeviceStartResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "Post-currentuser-add-device-start",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/apps/{app_id}/currentuser/devices/{device_id}": {
      "delete": {
        "tags": [
          "Currentuser"
        ],
        "summary": "Revoke device",
        "description": "Revoke a device by ID for the current user. User must be authenticated via a bearer token.",
        "operationId": "Delete-currentuser-device",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "x-ms-summary": "Device ID",
            "x-ms-url-encoding": "single",
            "name": "device_id",
            "description": "Device ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Currentuser"
        ],
        "summary": "Update device",
        "description": "Updates a device by ID for the current user. Currently the only field that can be updated is the friendly name. User must be authenticated via a bearer token.",
        "operationId": "Update-currentuser-device",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "x-ms-summary": "Device ID",
            "x-ms-url-encoding": "single",
            "name": "device_id",
            "description": "Device ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Friendly Name.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateDeviceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/CurrentUserDevice"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "Update-currentuser-device",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/apps/{app_id}/currentuser/email": {
      "patch": {
        "tags": [
          "Currentuser"
        ],
        "summary": "Change email",
        "description": "Initiate an email change for the authenticated user. An email change requires verification, so an email will be sent to the user which they must verify before the email change takes effect.",
        "operationId": "Update-email-currentuser",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Email.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateUserEmailRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/MagicLinkResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        }
      }
    },
    "/apps/{app_id}/currentuser/phone": {
      "patch": {
        "tags": [
          "Currentuser"
        ],
        "summary": "Change Phone",
        "description": "Initiate a phone number change for the authenticated user. A phone number change requires verification, so an SMS with a link will be sent to the user which they must verify before the phone number change takes effect.",
        "operationId": "Update-phone-currentuser",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Phone.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateUserPhoneRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/MagicLinkResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        }
      }
    },
    "/apps/{app_id}/currentuser/user-metadata": {
      "get": {
        "tags": [
          "Currentuser"
        ],
        "summary": "Get user's metadata",
        "description": "Retrieve the user-metadata for the current user.",
        "operationId": "Get-currentuser-metadata",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/UserMetadataResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Get-currentuser-metadata",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "patch": {
        "tags": [
          "Currentuser"
        ],
        "summary": "Update user's metadata",
        "description": "Updates the metadata for the current user. Only valid metadata fields are accepted. Invalid metadata fields that are present will abort the update. User must be authenticated via a bearer token.",
        "operationId": "Update-currentuser-metadata",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "User Metadata.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateMetadataRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/CurrentUserResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        }
      }
    },
    "/apps/{app_id}/login/magic-link": {
      "post": {
        "tags": [
          "Login"
        ],
        "summary": "Login with magic link",
        "description": "Send a login email or SMS to the user. The user will receive an email or text with a link to complete their login.",
        "operationId": "Login-magic-link",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "User Data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginMagicLinkRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/LoginMagicLinkResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Login-magic-link",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/apps/{app_id}/login/webauthn/finish": {
      "post": {
        "tags": [
          "Login"
        ],
        "summary": "Finish WebAuthn login",
        "description": "Completes a WebAuthn login and authenticate the user.",
        "operationId": "Login-webauthn-finish",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "User Data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginWebAuthnFinishRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/AuthResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "Login-webauthn-finish",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/apps/{app_id}/login/webauthn/start": {
      "post": {
        "tags": [
          "Login"
        ],
        "summary": "Start WebAuthn login",
        "description": "Initiate a WebAuthn login for a user. This endpoint creates a WebAuthn credential assertion challenge that is used to perform the login ceremony from the browser.",
        "operationId": "Login-webauthn-start",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "User Data.",
            "schema": {
              "$ref": "#/definitions/LoginWebAuthnStartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/LoginWebAuthnStartResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        }
      }
    },
    "/apps/{app_id}/magic-link/activate": {
      "patch": {
        "tags": [
          "MagicLink"
        ],
        "summary": "Authenticate magic link",
        "description": "Authenticates a magic link for a user. This endpoint checks that the magic link is valid, then returns an authentication token for the user.",
        "operationId": "Activate-magic-link",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "User Data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivateMagicLinkRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/AuthResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "Activate-magic-link",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/apps/{app_id}/magic-link/status": {
      "post": {
        "tags": [
          "MagicLink"
        ],
        "summary": "Magic link status",
        "description": "Check if a magic link has been activated yet or not. Once the magic link has been activated, this endpoint will return an authentication token for the user. This endpoint can be used to initiate a login on one device and then poll and wait for the login to complete on another device.",
        "operationId": "Magic-link-status",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Magic link ID.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetMagicLinkStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/AuthResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Magic-link-status",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/apps/{app_id}/register/magic-link": {
      "post": {
        "tags": [
          "Register"
        ],
        "summary": "Register with magic link",
        "description": "Create a user and send an registration email or SMS to the user. The user will receive an email or text with a link to complete their registration.",
        "operationId": "Register-magic-link",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "User Data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterMagicLinkRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/RegisterMagicLinkResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        },
        "x-codegen-request-body-name": "user",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Register-magic-link",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/apps/{app_id}/register/webauthn/finish": {
      "post": {
        "tags": [
          "Register"
        ],
        "summary": "Finish WebAuthn registration",
        "description": "Completes a WebAuthn registration and authenticate the user.",
        "operationId": "Register-webauthn-finish",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "WebAuthn Response Data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterWebAuthnFinishRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/AuthResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "Register-webauthn-finish",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/apps/{app_id}/tokens": {
      "delete": {
        "tags": [
          "Tokens"
        ],
        "summary": "Revoke refresh token",
        "description": "Revokes the refresh token.",
        "operationId": "Revoke-refresh-token",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "x-ms-summary": "Refresh Token",
            "name": "refresh_token",
            "description": "Refresh token.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tokens"
        ],
        "summary": "Create new auth and refresh token",
        "description": "Creates and returns a new auth token and a new refresh token.",
        "operationId": "Refresh-auth-token",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Refresh token.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefreshAuthTokenRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/AuthResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        }
      }
    },
    "/apps/{app_id}/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user",
        "description": "Retrieve user information, if the user exists. This endpoint can be used to determine whether a user has an existing account and if they should login or register.",
        "operationId": "Check-user-identifier",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "x-ms-summary": "Email or Phone",
            "name": "identifier",
            "description": "Email or phone number.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Check-user-identifier",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create user",
        "description": "Create a user.",
        "operationId": "Create-user",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "User options.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUserParams"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Create-user",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/apps/{app_id}/currentuser/social/link_account": {
      "get": {
        "tags": [
          "OAuth2"
        ],
        "summary": "Link an account to a connection",
        "description": "Links an existing account to an OAuth2 connection.",
        "operationId": "Currentuser-social-link-account",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "x-ms-summary": "OAuth2 Code",
            "name": "code",
            "description": "The code given from the OAuth2 redirect.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "x-ms-summary": "Verifier",
            "name": "verifier",
            "description": "The verifier the client originally sent to the OAuth2 provider.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created."
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        }
      }
    },
    "/apps/{app_id}/social/authorize": {
      "get": {
        "tags": [
          "OAuth2"
        ],
        "summary": "Start OAuth2 flow",
        "description": "Kicks off an OAuth2 flow with connection provider request params described in https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest",
        "operationId": "Get-authorize",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "x-ms-summary": "Redirect URI",
            "name": "redirect_uri",
            "description": "The URL to redirect to after the OAuth2 flow is complete.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "x-ms-summary": "State",
            "name": "state",
            "description": "The state to pass through to the redirect URI.",
            "type": "string"
          },
          {
            "in": "query",
            "x-ms-summary": "Code Challenge",
            "name": "code_challenge",
            "description": "Code challenge.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "x-ms-summary": "Code Challenge Method",
            "name": "code_challenge_method",
            "description": "Code challenge method.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "x-ms-summary": "Connection Type",
            "name": "connection_type",
            "description": "Connection type; google, github, apple, or passage to login with.",
            "required": true,
            "type": "string",
            "enum": [
              "apple",
              "github",
              "google",
              "passage"
            ]
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        }
      }
    },
    "/apps/{app_id}/social/token": {
      "get": {
        "tags": [
          "OAuth2"
        ],
        "summary": "Exchange OAuth2 for auth token",
        "description": "Exchanges OAuth2 connection data for an auth token.",
        "operationId": "Exchange-social-token",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "x-ms-summary": "OAuth2 Code",
            "name": "code",
            "description": "The code given from the OAuth2 redirect.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "x-ms-summary": "Verifier",
            "name": "verifier",
            "description": "The verifier the client originally sent to the OAuth2 provider.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/AuthResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        }
      }
    },
    "/apps/{app_id}/social/oauth2_callback": {
      "get": {
        "tags": [
          "OAuth2"
        ],
        "summary": "Handle OAuth2 callback",
        "description": "Handles an OAuth2 flow callback.",
        "operationId": "Oauth2-callback",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "x-ms-summary": "OAuth2 Code",
            "name": "code",
            "description": "The authorization code returned by the OAuth2 provider.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "x-ms-summary": "State",
            "name": "state",
            "description": "The state returned by the OAuth2 provider.",
            "type": "string"
          },
          {
            "in": "query",
            "x-ms-summary": "Error",
            "name": "error",
            "description": "The error returned by the OAuth2 provider.",
            "type": "string",
            "enum": [
              "interaction_required",
              "login_required",
              "account_selection_required",
              "consent_required",
              "invalid_request_uri",
              "invalid_request_object",
              "request_not_supported",
              "request_uri_not_supported",
              "registration_not_supported"
            ]
          },
          {
            "in": "query",
            "x-ms-summary": "Error",
            "name": "error_description",
            "description": "The error description returned by the OAuth2 provider.",
            "type": "string"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        }
      }
    },
    "/apps/{app_id}/login/otp": {
      "post": {
        "tags": [
          "Login"
        ],
        "summary": "Login with OTP",
        "description": "Send a login email or SMS to the user. The user will receive an email or text with a one-time passcode to complete their login.",
        "operationId": "Login-one-time-passcode",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "User Data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginOneTimePasscodeRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/OneTimePasscodeResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Login-one-time-passcode",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/apps/{app_id}/register/otp": {
      "post": {
        "tags": [
          "Register"
        ],
        "summary": "Register with OTP",
        "description": "Create a user and send a registration email or SMS to the user. The user will receive an email or text with a one-time passcode to complete their registration.",
        "operationId": "Register-one-time-passcode",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "User Data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterOneTimePasscodeRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/OneTimePasscodeResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Register-one-time-passcode",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/apps/{app_id}/otp/activate": {
      "post": {
        "tags": [
          "OTP"
        ],
        "summary": "Authenticate OTP",
        "description": "Authenticates a one-time passcode for a user. This endpoint checks that the one-time passcode is valid, then returns an authentication token for the user.",
        "operationId": "Activate-one-time-passcode",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "User Data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivateOneTimePasscodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/AuthResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "Activate-one-time-passcode",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/apps/{app_id}/register/webauthn/start": {
      "post": {
        "tags": [
          "Register"
        ],
        "summary": "Start WebAuthn registration",
        "description": "Initiate a WebAuthn registration and create the user. This endpoint creates a WebAuthn credential creation challenge that is used to perform the registration ceremony from the browser.",
        "operationId": "Register-webauthn-start",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "User Data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterWebAuthnStartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/RegisterWebAuthnStartResponse"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/400Error"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        }
      }
    },
    "/apps/{app_id}/currentuser/social-connections": {
      "get": {
        "tags": [
          "Currentuser"
        ],
        "summary": "Get social connections",
        "description": "Gets social connections for the current user. User must be authenticated via a bearer token.",
        "operationId": "Get-currentuser-social-connections",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/SocialConnectionsResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Get-currentuser-social-connections",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/apps/{app_id}/currentuser/social-connections/{social_connection_type}": {
      "delete": {
        "tags": [
          "Currentuser"
        ],
        "summary": "Delete social connection",
        "description": "Deletes a social connection for the current user. User must be authenticated via a bearer token.",
        "operationId": "Delete-currentuser-social-connection",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "name": "app_id",
            "description": "App ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "x-ms-summary": "Social Connection Type",
            "x-ms-url-encoding": "single",
            "name": "social_connection_type",
            "description": "The type of social connection.",
            "required": true,
            "type": "string",
            "enum": [
              "github",
              "google"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/401Error"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/403Error"
            }
          },
          "404": {
            "description": "Not Found.",
            "schema": {
              "$ref": "#/definitions/404Error"
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/500Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "LoginWebAuthnFinishRequest": {
      "required": [
        "handshake_id",
        "handshake_response"
      ],
      "type": "object",
      "properties": {
        "handshake_id": {
          "type": "string",
          "description": "The handshake identifier.",
          "title": "Handshake ID"
        },
        "handshake_response": {
          "$ref": "#/definitions/CredentialAssertionResponse"
        },
        "user_id": {
          "type": "string",
          "description": "The user identifier.",
          "title": "User ID"
        }
      }
    },
    "ActivateMagicLinkRequest": {
      "required": [
        "magic_link"
      ],
      "type": "object",
      "properties": {
        "magic_link": {
          "type": "string",
          "description": "The magic link.",
          "title": "Magic Link"
        }
      }
    },
    "RegisterWebAuthnFinishRequest": {
      "required": [
        "handshake_id",
        "handshake_response",
        "user_id"
      ],
      "type": "object",
      "properties": {
        "handshake_id": {
          "type": "string",
          "description": "The handshake identifier.",
          "title": "Handshake ID"
        },
        "handshake_response": {
          "$ref": "#/definitions/CredentialCreationResponse"
        },
        "user_id": {
          "type": "string",
          "description": "The user identifier.",
          "title": "User ID"
        }
      }
    },
    "CredentialCreationResponse": {
      "type": "object",
      "properties": {
        "authenticatorAttachment": {
          "type": "string",
          "description": "The authenticator attachment.",
          "title": "Authenticator Attachment"
        },
        "clientExtensionResults": {
          "type": "object",
          "properties": {},
          "description": "The client extension results.",
          "title": "Client Extension Results"
        },
        "id": {
          "description": "The credential's identifier. The requirements for the identifier are distinct for each type of credential. It might represent a username for username/password tuples, for example.",
          "type": "string",
          "title": "ID"
        },
        "rawId": {
          "type": "string",
          "description": "The raw identifier.",
          "title": "Raw ID"
        },
        "response": {
          "$ref": "#/definitions/CredentialCreationResponse_response"
        },
        "transports": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The transports.",
          "title": "Transports"
        },
        "type": {
          "description": "The value of the object's interface object's [[type]] slot, which specifies the credential type represented by this object. This should be type \"public-key\" for Webauthn credentials.",
          "type": "string",
          "title": "Type"
        }
      }
    },
    "CredentialAssertionResponse": {
      "type": "object",
      "properties": {
        "authenticatorAttachment": {
          "type": "string",
          "description": "The authenticator attachment.",
          "title": "Authenticator Attachment"
        },
        "clientExtensionResults":  {
          "type": "object",
          "properties": {},
          "description": "The client extension results.",
          "title": "Client Extension Results"
        },
        "id": {
          "description": "The credential's identifier. The requirements for the identifier are distinct for each type of credential. It might represent a username for username/password tuples, for example.",
          "type": "string",
          "title": "ID"
        },
        "rawId": {
          "type": "string",
          "description": "The raw identifier.",
          "title": "Raw ID"
        },
        "response": {
          "$ref": "#/definitions/CredentialAssertionResponse_response"
        },
        "type": {
          "description": "The value of the object's interface object's [[type]] slot, which specifies the credential type represented by this object. This should be type \"public-key\" for Webauthn credentials.",
          "type": "string",
          "title": "Type"
        }
      }
    },
    "GetAppResponse": {
      "required": [
        "app"
      ],
      "type": "object",
      "properties": {
        "app": {
          "$ref": "#/definitions/App"
        }
      }
    },
    "LayoutConfig": {
      "required": [
        "h",
        "id",
        "w",
        "x",
        "y"
      ],
      "type": "object",
      "properties": {
        "h": {
          "type": "integer",
          "format": "int32",
          "description": "The H value.",
          "title": "H"
        },
        "id": {
          "type": "string",
          "description": "The identifier.",
          "title": "ID"
        },
        "w": {
          "type": "integer",
          "format": "int32",
          "description": "The W value.",
          "title": "W"
        },
        "x": {
          "type": "integer",
          "format": "int32",
          "description": "The X value.",
          "title": "X"
        },
        "y": {
          "type": "integer",
          "format": "int32",
          "description": "The Y value.",
          "title": "Y"
        }
      }
    },
    "Layouts": {
      "required": [
        "profile",
        "registration"
      ],
      "type": "object",
      "properties": {
        "profile": {
          "type": "array",
          "title": "Profile",
          "items": {
            "$ref": "#/definitions/LayoutConfig"
          }
        },
        "registration": {
          "type": "array",
          "title": "Registration",
          "items": {
            "$ref": "#/definitions/LayoutConfig"
          }
        }
      }
    },
    "UserMetadataField": {
      "required": [
        "field_name",
        "friendly_name",
        "id",
        "profile",
        "registration",
        "type"
      ],
      "type": "object",
      "properties": {
        "field_name": {
          "type": "string",
          "description": "The field name.",
          "title": "Field Name"
        },
        "friendly_name": {
          "type": "string",
          "description": "The friendly name.",
          "title": "Friendly Name"
        },
        "id": {
          "type": "string",
          "description": "The identifier.",
          "title": "ID"
        },
        "profile": {
          "type": "boolean",
          "description": "Whether profile.",
          "title": "Profile"
        },
        "registration": {
          "type": "boolean",
          "description": "Whether registration.",
          "title": "Registration"
        },
        "type": {
          "type": "string",
          "description": "The type.",
          "title": "Type"
        }
      }
    },
    "App": {
      "required": [
        "allowed_identifier",
        "auth_fallback_method",
        "auth_fallback_method_ttl",
        "auth_methods",
        "auth_origin",
        "default_language",
        "element_customization",
        "element_customization_dark",
        "ephemeral",
        "id",
        "layouts",
        "login_url",
        "name",
        "passage_branding",
        "profile_management",
        "public_signup",
        "redirect_url",
        "require_email_verification",
        "require_identifier_verification",
        "required_identifier",
        "rsa_public_key",
        "session_timeout_length",
        "social_connections",
        "user_metadata_schema"
      ],
      "type": "object",
      "properties": {
        "allowed_identifier": {
          "type": "string",
          "description": "The allowed identifier.",
          "title": "Allowed ID"
        },
        "auth_fallback_method": {
          "description": "Deprecated Property. Please refer to `auth_methods` to view settings for individual authentication methods.",
          "enum": [
            "magic_link",
            "otp",
            "none"
          ],
          "type": "string",
          "title": "Auth Fallback Method"
        },
        "auth_fallback_method_ttl": {
          "description": "Deprecated Property. Please refer to `auth_methods` to view settings for individual authentication methods.",
          "type": "integer",
          "title": "Auth Fallback Method TTL"
        },
        "auth_methods": {
          "$ref": "#/definitions/AuthMethods"
        },
        "auth_origin": {
          "type": "string",
          "description": "The auth origin.",
          "title": "Auth Origin"
        },
        "default_language": {
          "type": "string",
          "description": "The default language.",
          "title": "Default Language"
        },
        "element_customization": {
          "$ref": "#/definitions/ElementCustomization"
        },
        "element_customization_dark": {
          "$ref": "#/definitions/ElementCustomization"
        },
        "ephemeral": {
          "type": "boolean",
          "description": "Whether ephemeral.",
          "title": "Ephemeral"
        },
        "id": {
          "type": "string",
          "description": "The identifier.",
          "title": "ID"
        },
        "layouts": {
          "$ref": "#/definitions/Layouts"
        },
        "login_url": {
          "type": "string",
          "description": "The login URL address.",
          "title": "Login URL"
        },
        "name": {
          "type": "string",
          "description": "The name.",
          "title": "Name"
        },
        "passage_branding": {
          "type": "boolean",
          "description": "Whether to use Passage branding.",
          "title": "Passage Branding"
        },
        "public_signup": {
          "type": "boolean",
          "description": "Whether public signup.",
          "title": "Public Signup"
        },
        "profile_management": {
          "type": "boolean",
          "description": "Whether profile management.",
          "title": "Profile Management"
        },
        "redirect_url": {
          "type": "string",
          "description": "The redirect URL address.",
          "title": "Redirect URL"
        },
        "require_email_verification": {
          "type": "boolean",
          "description": "Whether to require email verification.",
          "title": "Email Verification"
        },
        "require_identifier_verification": {
          "type": "boolean",
          "description": "Whether to require identifier verification.",
          "title": "ID Verification"
        },
        "required_identifier": {
          "type": "string",
          "description": "The required identifier.",
          "title": "Required ID"
        },
        "rsa_public_key": {
          "type": "string",
          "description": "The RSA public key.",
          "title": "RSA Public Key"
        },
        "session_timeout_length": {
          "type": "integer",
          "format": "int32",
          "description": "The session timeout length.",
          "title": "Session Timeout"
        },
        "social_connections": {
          "$ref": "#/definitions/SocialConnections"
        },
        "user_metadata_schema": {
          "type": "array",
          "title": "User Metadata Schema",
          "items": {
            "$ref": "#/definitions/UserMetadataField"
          }
        }
      }
    },
    "SocialConnections": {
      "type": "object",
      "properties": {
        "google": {
          "$ref": "#/definitions/SocialConnection"
        },
        "github": {
          "$ref": "#/definitions/SocialConnection"
        }
      }
    },
    "SocialConnection": {
      "type": "object",
      "properties": {
        "client_id": {
          "description": "The client ID of the OAuth2 social connection.",
          "type": "string",
          "title": "Client ID"
        }
      }
    },
    "ElementCustomization": {
      "type": "object",
      "properties": {
        "passage_container_background_color": {
          "description": "Container background color in hex. Default is `#ffffff` in light mode & `#383838` in dark mode. ",
          "type": "string",
          "title": "Passage Container Background Color"
        },
        "passage_container_max_width": {
          "description": "Maximum width of container (px).",
          "default": 300,
          "type": "integer",
          "title": "Passage Container Max Width"
        },
        "passage_input_box_background_color": {
          "description": "Input box background color in hex. Default is `#ffffff` in light mode & `#4b4b4b` in dark mode. ",
          "type": "string",
          "title": "Passage Input Box Background Color"
        },
        "passage_input_box_border_radius": {
          "description": "Input box border radius (px).",
          "default": 5,
          "type": "integer",
          "title": "Passage Input Box Border Radius"
        },
        "passage_header_font_family": {
          "$ref": "#/definitions/FontFamily"
        },
        "passage_body_font_family": {
          "$ref": "#/definitions/FontFamily"
        },
        "passage_header_text_color": {
          "description": "Header text color in hex. Default is `#222222` in light mode & `#f3f3f3` in dark mode. ",
          "type": "string",
          "title": "Passage Header Text Color"
        },
        "passage_body_text_color": {
          "description": "Body text color in hex. Default is `#222222` in light mode & `#f3f3f3` in dark mode. ",
          "type": "string",
          "title": "Passage Body Text Color"
        },
        "passage_primary_button_background_color": {
          "description": "Primary button background color (hex).",
          "default": "#121212",
          "type": "string",
          "title": "Passage Primary Button Background Color"
        },
        "passage_primary_button_text_color": {
          "description": "Primary button font color (hex).",
          "default": "#f3f3f3",
          "type": "string",
          "title": "Passage Primary Button Text Color"
        },
        "passage_primary_button_hover_color": {
          "description": "Primary button background on hover (hex).",
          "default": "#4d4d4d",
          "type": "string",
          "title": "Passage Primary Button Hover Color"
        },
        "passage_primary_button_border_radius": {
          "description": "Primary button border radius (px).",
          "default": 5,
          "type": "integer",
          "title": "Passage Primary Button Border Radius"
        },
        "passage_primary_button_border_color": {
          "description": "Primary button border color.",
          "default": "#121212",
          "type": "string",
          "title": "Passage Primary Button Border Color"
        },
        "passage_primary_button_border_width": {
          "description": "Primary button border width (px).",
          "default": 0,
          "type": "integer",
          "title": "Passage Primary Button Border Width"
        },
        "passage_secondary_button_background_color": {
          "description": "Secondary button background color (hex).",
          "default": "#ffffff",
          "type": "string",
          "title": "Passage Secondary Button Background Color"
        },
        "passage_secondary_button_text_color": {
          "description": "Secondary button font color (hex).",
          "default": "#222222",
          "type": "string",
          "title": "Passage Secondary Secondary Buttn Text Color"
        },
        "passage_secondary_button_hover_color": {
          "description": "Secondary button background on hover (hex).",
          "default": "#d7d7d7",
          "type": "string",
          "title": "Passage Secondary Button Backgroun on Hover"
        },
        "passage_secondary_button_border_radius": {
          "description": "Secondary button border radius (px).",
          "default": 5,
          "type": "integer",
          "title": "Passage Secondary Button Border Radius"
        },
        "passage_secondary_button_border_color": {
          "description": "Secondary button border color.",
          "default": "#d7d7d7",
          "type": "string",
          "title": "Passage Secondary Button Border Color"
        },
        "passage_secondary_button_border_width": {
          "description": "Secondary button border width (px).",
          "default": 1,
          "type": "integer",
          "title": "Passage Secondary Button Border Width"
        }
      }
    },
    "FontFamily": {
      "description": "Body font family.",
      "default": "Helvetica",
      "enum": [
        "Helvetica",
        "Arial",
        "Arial Black",
        "Verdana",
        "Tahoma",
        "Trebuchet MS",
        "Impact",
        "Gill Sans",
        "Times New Roman",
        "Georgia",
        "Palatino",
        "Baskerville",
        "Andal\u00e9 Mono",
        "Courier",
        "Lucida",
        "Monaco",
        "Bradley Hand",
        "Brush Script MT",
        "Luminari",
        "Comic Sans MS"
      ],
      "type": "string",
      "title": "Font"
    },
    "AuthMethods": {
      "description": "Denotes what methods this app is allowed to use for authentication with configurations.",
      "title": "Auth Methods",
      "type": "object",
      "properties": {
        "passkeys": {
          "$ref": "#/definitions/PasskeysAuthMethod"
        },
        "otp": {
          "$ref": "#/definitions/OtpAuthMethod"
        },
        "magic_link": {
          "$ref": "#/definitions/MagicLinkAuthMethod"
        }
      }
    },
    "PasskeysAuthMethod": {
      "type": "object",
      "description": "The passkeys auth method object.",
      "title": "Passkeys Auth Method"
    },
    "OtpAuthMethod": {
      "type": "object",
      "properties": {
        "ttl": {
          "description": "Maximum time (IN SECONDS) for the auth to expire.",
          "default": 300,
          "minimum": 60,
          "type": "integer",
          "title": "TTL"
        },
        "ttl_display_unit": {
          "$ref": "#/definitions/TtlDisplayUnit"
        }
      }
    },
    "MagicLinkAuthMethod": {
      "type": "object",
      "properties": {
        "ttl": {
          "description": "Maximum time (IN SECONDS) for the auth to expire.",
          "default": 300,
          "minimum": 60,
          "type": "integer",
          "title": "TTL"
        },
        "ttl_display_unit": {
          "$ref": "#/definitions/TtlDisplayUnit"
        }
      }
    },
    "TtlDisplayUnit": {
      "description": "Deprecated Property. The preferred unit for displaying the TTL. This value is for display only. * `s` - seconds * `m` - minutes * `h` - hours * `d` - days .",
      "enum": [
        "s",
        "m",
        "h",
        "d"
      ],
      "type": "string",
      "title": "TTL Display Unit"
    },
    "JWKResponse": {
      "required": [
        "keys"
      ],
      "type": "object",
      "properties": {
        "keys": {
          "type": "array",
          "title": "JWK Response Keys",
          "items": {
            "$ref": "#/definitions/JWKResponse_keys"
          }
        }
      }
    },
    "OpenIdConfiguration": {
      "required": [
        "authorization_endpoint",
        "issuer",
        "jwks_uri"
      ],
      "type": "object",
      "properties": {
        "authorization_endpoint": {
          "type": "string",
          "description": "The authorization endpoint.",
          "title": "Authorization Endpoint"
        },
        "issuer": {
          "type": "string",
          "description": "The issuer.",
          "title": "Issuer"
        },
        "jwks_uri": {
          "type": "string",
          "description": "The JWKs URI.",
          "title": "JWKs URI"
        }
      }
    },
    "CurrentUserResponse": {
      "required": [
        "user"
      ],
      "type": "object",
      "properties": {
        "user": {
          "$ref": "#/definitions/CurrentUser"
        }
      }
    },
    "Credential": {
      "required": [
        "created_at",
        "cred_id",
        "friendly_name",
        "icons",
        "id",
        "last_login_at",
        "type",
        "updated_at",
        "usage_count",
        "user_id"
      ],
      "type": "object",
      "properties": {
        "created_at": {
          "description": "The first time this webAuthn device was used to authenticate the user.",
          "type": "string",
          "title": "Created at"
        },
        "cred_id": {
          "description": "The Cred ID for this webAuthn device (encoded to match what is stored in psg_cred_obj).",
          "type": "string",
          "title": "Cred ID"
        },
        "friendly_name": {
          "description": "The friendly name for the webAuthn device used to authenticate.",
          "type": "string",
          "title": "Friendly Name"
        },
        "id": {
          "description": "The ID of the webAuthn device used for authentication.",
          "type": "string",
          "title": "ID"
        },
        "last_login_at": {
          "description": "The last time this webAuthn device was used to authenticate the user.",
          "type": "string",
          "title": "Last Login At"
        },
        "type": {
          "$ref": "#/definitions/WebAuthnType"
        },
        "updated_at": {
          "description": "The last time this webAuthn device was updated.",
          "type": "string",
          "title": "Updated At"
        },
        "usage_count": {
          "description": "How many times this webAuthn device has been used to authenticate the user.",
          "type": "integer",
          "format": "int32",
          "title": "Usage Count"
        },
        "user_id": {
          "description": "The userID for this webAuthn device.",
          "type": "string",
          "title": "User ID"
        },
        "icons": {
          "$ref": "#/definitions/WebAuthnIcons"
        }
      }
    },
    "CurrentUser": {
      "required": [
        "created_at",
        "email",
        "email_verified",
        "id",
        "last_login_at",
        "login_count",
        "phone",
        "phone_verified",
        "social_connections",
        "status",
        "updated_at",
        "user_metadata",
        "webauthn",
        "webauthn_devices",
        "webauthn_types"
      ],
      "type": "object",
      "properties": {
        "created_at": {
          "description": "When this user was created.",
          "type": "string",
          "title": "Created At"
        },
        "email": {
          "description": "The user's email.",
          "type": "string",
          "title": "Email"
        },
        "email_verified": {
          "description": "Whether or not the user's email has been verified.",
          "type": "boolean",
          "title": "Email Verified"
        },
        "id": {
          "description": "The user ID.",
          "type": "string",
          "title": "ID"
        },
        "last_login_at": {
          "description": "The last time this user logged in.",
          "type": "string",
          "title": "Last Login At"
        },
        "login_count": {
          "description": "How many times the user has successfully logged in.",
          "type": "integer",
          "title": "Login Count"
        },
        "phone": {
          "description": "The user's phone.",
          "type": "string",
          "title": "Phone"
        },
        "phone_verified": {
          "description": "Whether or not the user's phone has been verified.",
          "type": "boolean",
          "title": "Phone Verified"
        },
        "social_connections": {
          "$ref": "#/definitions/UserSocialConnections"
        },
        "status": {
          "$ref": "#/definitions/UserStatus"
        },
        "updated_at": {
          "description": "When this user was last updated.",
          "type": "string",
          "title": "Updated At"
        },
        "user_metadata":  {
          "type": "object",
          "properties": {},
          "description": "The user metadata object.",
          "title": "User Metadata"
        },
        "webauthn": {
          "description": "Whether or not the user has authenticated via webAuthn before (if len(WebAuthnDevices) > 0).",
          "type": "boolean",
          "title": "WebAuthn"
        },
        "webauthn_devices": {
          "description": "The list of devices this user has authenticated with via webAuthn.",
          "type": "array",
          "title": "WebAuthn Devices",
          "items": {
            "$ref": "#/definitions/Credential"
          }
        },
        "webauthn_types": {
          "description": "Retrieve a list of credential types that the user has created.",
          "type": "array",
          "title": "WebAuthn Types",
          "items": {
            "$ref": "#/definitions/WebAuthnType"
          }
        }
      }
    },
    "CurrentUserDevices": {
      "required": [
        "devices"
      ],
      "type": "object",
      "properties": {
        "devices": {
          "type": "array",
          "title": "Devices",
          "items": {
            "$ref": "#/definitions/Credential"
          }
        }
      }
    },
    "AddDeviceFinishRequest": {
      "required": [
        "handshake_id",
        "handshake_response",
        "user_id"
      ],
      "type": "object",
      "properties": {
        "handshake_id": {
          "type": "string",
          "description": "The handshake identifier.",
          "title": "Handshake ID"
        },
        "handshake_response": {
          "$ref": "#/definitions/CredentialCreationResponse"
        },
        "user_id": {
          "type": "string",
          "description": "The user identifier.",
          "title": "User ID"
        }
      }
    },
    "CurrentUserDevice": {
      "required": [
        "device"
      ],
      "type": "object",
      "properties": {
        "device": {
          "$ref": "#/definitions/Credential"
        }
      }
    },
    "AddDeviceStartResponse": {
      "required": [
        "handshake"
      ],
      "type": "object",
      "properties": {
        "handshake": {
          "$ref": "#/definitions/CredentialCreationChallenge"
        },
        "user": {
          "$ref": "#/definitions/User"
        }
      }
    },
    "UpdateDeviceRequest": {
      "required": [
        "friendly_name"
      ],
      "type": "object",
      "properties": {
        "friendly_name": {
          "type": "string",
          "description": "The friendly name.",
          "title": "Friendly Name"
        }
      }
    },
    "UpdateUserEmailRequest": {
      "required": [
        "new_email"
      ],
      "type": "object",
      "properties": {
        "language": {
          "description": "The language of the email to send (optional).",
          "type": "string",
          "title": "Language"
        },
        "magic_link_path": {
          "type": "string",
          "description": "The magic link path.",
          "title": "Magic Link Path"
        },
        "new_email": {
          "type": "string",
          "description": "The new email.",
          "title": "New Email"
        },
        "redirect_url": {
          "type": "string",
          "description": "The redirect URL address.",
          "title": "Redirect URL"
        }
      }
    },
    "MagicLinkResponse": {
      "required": [
        "magic_link"
      ],
      "type": "object",
      "properties": {
        "magic_link": {
          "$ref": "#/definitions/MagicLink"
        }
      }
    },
    "MagicLink": {
      "required": [
        "id"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "The magic link identifier.",
          "type": "string",
          "title": "ID"
        }
      }
    },
    "UpdateUserPhoneRequest": {
      "type": "object",
      "properties": {
        "language": {
          "description": "Language of the email to send (optional).",
          "type": "string",
          "title": "Language"
        },
        "magic_link_path": {
          "type": "string",
          "description": "The magic link path.",
          "title": "Magic Link Path"
        },
        "new_phone": {
          "type": "string",
          "description": "The new phone number.",
          "title": "New Phone"
        },
        "redirect_url": {
          "type": "string",
          "description": "The redirect URL address.",
          "title": "Redirect URL"
        }
      }
    },
    "UserMetadataResponse": {
      "required": [
        "user_metadata"
      ],
      "type": "object",
      "properties": {
        "user_metadata":  {
          "type": "object",
          "properties": {},
          "description": "The user metadata object.",
          "title": "User Metadata"
        }
      }
    },
    "UpdateMetadataRequest": {
      "type": "object",
      "properties": {
        "user_metadata":  {
          "type": "object",
          "properties": {},
          "description": "The user metadata object.",
          "title": "User Metadata"
        }
      }
    },
    "LoginMagicLinkRequest": {
      "required": [
        "identifier"
      ],
      "type": "object",
      "properties": {
        "identifier": {
          "description": "Valid email or E164 phone number.",
          "type": "string",
          "title": "ID"
        },
        "language": {
          "description": "Language of the email or SMS to send (optional).",
          "type": "string",
          "title": "Language"
        },
        "magic_link_path": {
          "description": "Path relative to the app's auth_origin (optional).",
          "type": "string",
          "title": "Magic Link Path"
        }
      }
    },
    "LoginMagicLinkResponse": {
      "required": [
        "magic_link"
      ],
      "type": "object",
      "properties": {
        "magic_link": {
          "$ref": "#/definitions/MagicLink"
        }
      }
    },
    "GetMagicLinkStatusRequest": {
      "required": [
        "id"
      ],
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The identifier.",
          "title": "ID"
        }
      }
    },
    "RegisterMagicLinkRequest": {
      "required": [
        "identifier"
      ],
      "type": "object",
      "properties": {
        "identifier": {
          "description": "Valid email or E164 phone number.",
          "type": "string",
          "title": "ID"
        },
        "language": {
          "description": "Language of the email or SMS to send (optional).",
          "type": "string",
          "title": "Language"
        },
        "magic_link_path": {
          "description": "Path relative to the app's auth_origin (optional).",
          "type": "string",
          "title": "Magic Link Path"
        }
      }
    },
    "RegisterMagicLinkResponse": {
      "required": [
        "magic_link"
      ],
      "type": "object",
      "properties": {
        "magic_link": {
          "$ref": "#/definitions/MagicLink"
        }
      }
    },
    "RefreshAuthTokenRequest": {
      "required": [
        "refresh_token"
      ],
      "type": "object",
      "properties": {
        "refresh_token": {
          "type": "string",
          "description": "The refresh token.",
          "title": "Refresh Token"
        }
      }
    },
    "UserResponse": {
      "required": [
        "user"
      ],
      "type": "object",
      "properties": {
        "user": {
          "$ref": "#/definitions/User"
        }
      }
    },
    "CreateUserParams": {
      "required": [
[...]
