{
  "swagger": "2.0",
  "schemes": [
      "https"
  ],
  "host": "api.enlyft.com",
  "basePath": "/copilot",
  "info": {
      "description": "Enlyft for Copilot helps sales teams identify and prioritise best-fit accounts using global tech adoption signals and business attributes. Integrated into Copilots, it offers instant access to contextual account scores and contact insights for smarter outreach—without leaving your workspace. For B2B teams using Copilot with Dynamics 365 or Salesforce. Includes ML-based fit scores/propensity with reasoning, enriched contact data, LinkedIn URL, org context, and career history.",
      "title": "Enlyft Insights",
      "version": "1.1",
      "contact": {
          "name": "Enlyft Support",
          "url": "https://enlyft.com/contact",
          "email": "support@enlyft.com"
      }
  },
  "paths": {
      "/enhanceskills/sales-highlights": {
          "get": {
              "description": "This action gets additional sales insights that will be shown in C4S key sales info card in outlook sidecar. The action enhances the existing skills of Copilot for sales",
              "operationId": "Scp-get-sales-highlights",
              "parameters": [
                  {
                      "description": "This input identifies the record type in CRM for which key sales info is requested",
                      "enum": [
                          "account",
                          "opportunity",
                          "lead",
                          "contact"
                      ],
                      "in": "query",
                      "name": "recordType",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "CRM Record Type"
                  },
                  {
                      "description": "This input provides the unique identifier of the CRM record for which key sales info is requested",
                      "in": "query",
                      "name": "recordId",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "CRM record Id"
                  },
                  {
                      "description": "This input indicates the type of CRM in which the CRM record exists, for which key sales info is requested",
                      "enum": [
                          "Salesforce",
                          "Dynamics365"
                      ],
                      "in": "query",
                      "name": "crmType",
                      "type": "string",
                      "x-ms-summary": "CRM type"
                  },
                  {
                      "description": "This input indicates the URL of the CRM environment in which the CRM record exists, for which key sales info is requested",
                      "in": "query",
                      "name": "crmOrgUrl",
                      "type": "string",
                      "x-ms-summary": "CRM Org URL"
                  },
                  {
                      "description": "This input indicates the number of sales highlights to fetch",
                      "format": "int32",
                      "in": "query",
                      "name": "top",
                      "type": "integer",
                      "x-ms-summary": "Top values to fetch"
                  },
                  {
                      "description": "This input indicates the number of items to skip when fetching sales highlights",
                      "format": "int32",
                      "in": "query",
                      "name": "skip",
                      "type": "integer",
                      "x-ms-summary": "Values to skip"
                  }
              ],
              "produces": [
                  "application/json"
              ],
              "responses": {
                  "200": {
                      "description": "Success",
                      "schema": {
                          "$ref": "#/definitions/SalesHighlightListResponseEnvelope"
                      }
                  },
                  "400": {
                      "description": "Bad Request",
                      "schema": {
                          "$ref": "#/definitions/ApiError"
                      }
                  },
                  "401": {
                      "description": "Unauthorized",
                      "schema": {
                          "$ref": "#/definitions/ApiError"
                      }
                  },
                  "403": {
                      "description": "Forbidden",
                      "schema": {
                          "$ref": "#/definitions/ApiError"
                      }
                  },
                  "404": {
                      "description": "Not Found",
                      "schema": {
                          "$ref": "#/definitions/ApiError"
                      }
                  },
                  "429": {
                      "description": "Too Many Requests",
                      "schema": {
                          "$ref": "#/definitions/ApiError"
                      }
                  },
                  "500": {
                      "description": "Server Error",
                      "schema": {
                          "$ref": "#/definitions/ApiError"
                      }
                  }
              },
              "summary": "Enrich key sales info",
              "tags": [
                  "EnhancedSkillsExtensibility"
              ]
          }
      },
      "/account-planning": {
          "get": {
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/AccountPlanningResponseEnvelope"
                      }
                  },
                  "400": {
                      "description": "Bad Request",
                      "schema": {
                          "$ref": "#/definitions/ApiError"
                      }
                  },
                  "401": {
                      "description": "Unauthorized",
                      "schema": {
                          "$ref": "#/definitions/ApiError"
                      }
                  },
                  "403": {
                      "description": "Forbidden",
                      "schema": {
                          "$ref": "#/definitions/ApiError"
                      }
                  },
                  "404": {
                      "description": "Not Found",
                      "schema": {
                          "$ref": "#/definitions/ApiError"
                      }
                  },
                  "429": {
                      "description": "Too Many Requests",
                      "schema": {
                          "$ref": "#/definitions/ApiError"
                      }
                  },
                  "500": {
                      "description": "Server Error",
                      "schema": {
                          "$ref": "#/definitions/ApiError"
                      }
                  }
              },
              "summary": "Get Account Plan Insights",
              "description": "Action to get account plan summary for the requested website or recordId. Topic can be provided to get specific insights.",
              "operationId": "GetAccountPlanInsights",
              "parameters": [
                  {
                      "name": "recordType",
                      "in": "query",
                      "required": false,
                      "type": "string",
                      "default": "account",
                      "x-ms-summary": "RecordType",
                      "description": "Record type of the entity for which account plan insights are to be fetched. It can be 'contact' and email is used to get the domain out of it."
                  },
                  {
                      "name": "recordId",
                      "in": "query",
                      "required": false,
                      "type": "string",
                      "description": "Record Id of the entity for which account plan insights are to be fetched",
                      "x-ms-summary": "RecordId"
                  },
                  {
                      "name": "auxiliaryDomain",
                      "in": "query",
                      "required": false,
                      "type": "string",
                      "x-ms-summary": "AuxiliaryDomain",
                      "description": "Manually provided domain or website URL for which account plan insights are to be fetched. This takes more precedence than the global context record Id."
                  },
                  {
                      "name": "planTopic",
                      "in": "query",
                      "required": false,
                      "type": "string",
                      "x-ms-summary": "PlanTopic",
                      "description": "Topic of the account plan for which insights are to be fetched. This helps in categorizing the insights."
                  }
              ],
              "x-ms-openai-data": {
                  "openai-enabled": true,
                  "operations": [
                      {
                          "operationId": "GetAccountPlanInsights",
                          "x-ms-require-user-confirmation": false
                      }
                  ]
              }
          }
      }
  },
  "definitions": {
      "ApiError": {
          "properties": {
              "activityId": {
                  "type": "string"
              },
              "details": {
                  "additionalProperties": {},
                  "type": "object"
              },
              "errorCode": {
                  "minLength": 1,
                  "type": "string"
              },
              "errorMessage": {
                  "type": "string"
              }
          },
          "required": [
              "errorCode"
          ],
          "type": "object"
      },
      "SalesHighlight": {
          "properties": {
              "additionalProperties": {
                  "additionalProperties": {
                      "type": "string"
                  },
                  "description": "This output indicates additional properties as name-value pairs of each related insight returned by the action.",
                  "type": "object"
              },
              "dateTime": {
                  "description": "This output indicates the time associated with the insight.",
                  "format": "date-time",
                  "type": "string"
              },
              "description": {
                  "description": "This output indicates the text of the insight to be included in key sales info.",
                  "minLength": 1,
                  "type": "string"
              },
              "title": {
                  "description": "This output indicates the title of citation card for the insight.",
                  "minLength": 1,
                  "type": "string"
              },
              "url": {
                  "description": "This output indicates the URL to learn more about the insight.",
                  "type": "string"
              }
          },
          "required": [
              "description",
              "title"
          ],
          "type": "object"
      },
      "SalesHighlightListResponseEnvelope": {
          "properties": {
              "hasMoreResults": {
                  "description": "This indicates whether there are more results to be fetched in subsequent calls",
                  "type": "boolean"
              },
              "value": {
                  "items": {
                      "$ref": "#/definitions/SalesHighlight"
                  },
                  "type": "array"
              }
          },
          "type": "object"
      },
      "AccountPlanningResponseEnvelope": {
          "properties": {
              "status": {
                  "type": "string",
                  "description": "Status of the API call",
                  "title": "status"
              },
              "data": {
                  "type": "object",
                  "properties": {
                      "intel_snapshots": {
                          "type": "array",
                          "items": {
                              "$ref": "#/definitions/IntelSnapshot"
                          },
                          "description": "List of account planning insights"
                      }
                  },
                  "description": "Data containing account planning insights"
              }
          },
          "type": "object"
      },
      "IntelSnapshot": {
          "properties": {
              "title": {
                  "type": "string",
                  "description": "Title for the account plan requested",
                  "title": "title"
              },
              "description": {
                  "type": "string",
                  "description": "Description for the account plan requested",
                  "title": "description"
              },
              "additionalProperties": {
                  "type": "object",
                  "properties": {
                      "company_name": {
                          "type": "string",
                          "description": "Name of the company",
                          "title": "company_name"
                      },
                      "website": {
                          "type": "string",
                          "description": "Website URL of the account",
                          "title": "website"
                      },
                      "recommendation_text": {
                          "type": "string",
                          "description": "Recommendation text generated by Enlyft or a custom model",
                          "title": "recommendation_text"
                      },
                      "recommendation_score": {
                          "type": "string",
                          "description": "Score indicating the recommendation categorized by Enlyft or a custom model.",
                          "title": "recommendation_score"
                      },
                      "website_tld": {
                          "type": "string",
                          "description": "Website TLD of the account",
                          "title": "website_tld"
                      },
                      "ai_page_url": {
                          "type": "string",
                          "description": "Enlyft Account Insights page URL",
                          "title": "ai_page_url"
                      },
                      "account_fit": {
                          "type": "object",
                          "properties": {
                              "company_id": {
                                  "type": "string",
                                  "description": "Enlyft Company Id",
                                  "title": "company_id"
                              },
                              "icp_label": {
                                  "type": "string",
                                  "description": "ICP label to indicate if account fits in the TAM or not",
                                  "title": "icp_label"
                              },
                              "is_inactive": {
                                  "type": "boolean",
                                  "description": "Boolean flag indicating if the account is active or not",
                                  "title": "is_inactive"
                              },
                              "is_secondary": {
                                  "type": "boolean",
                                  "description": "Boolean flag to indicate if the account is secondary or not",
                                  "title": "is_secondary"
                              },
                              "is_blacklisted": {
                                  "type": "boolean",
                                  "description": "Boolean flag indicating if the account is blacklisted or not",
                                  "title": "is_blacklisted"
                              },
                              "include_reasons": {
                                  "type": "boolean",
                                  "description": "Boolean flag to indicate of the ICP or TAM account fit reasons are included or not",
                                  "title": "include_reasons"
                              },
                              "on_tam": {
                                  "type": "boolean",
                                  "description": "Boolean flag if the account is on TAM or not",
                                  "title": "on_tam"
                              }
                          },
                          "description": "Account fit details"
                      },
                      "related_contacts": {
                          "items": {
                              "$ref": "#/definitions/RelatedContact"
                          },
                          "type": "array"
                      }
                  },
                  "description": "Additional properties for the account plan"
              }
          },
          "type": "object"
      },
      "RelatedContact": {
          "properties": {
              "company_id": {
                  "type": "string",
                  "description": "company_id"
              },
              "person_id": {
                  "type": "string",
                  "description": "person_id"
              },
              "person_linkedin_url": {
                  "type": "string",
                  "description": "person_linkedin_url"
              },
              "company_linkedin_url": {
                  "type": "string",
                  "description": "company_linkedin_url"
              },
              "website_tld": {
                  "type": "string",
                  "description": "website_tld"
              },
              "first_name": {
                  "type": "string",
                  "description": "first_name"
              },
              "last_name": {
                  "type": "string",
                  "description": "last_name"
              },
              "full_name": {
                  "type": "string",
                  "description": "full_name"
              },
              "title": {
                  "type": "string",
                  "description": "title"
              },
              "person_summary": {
                  "type": "string",
                  "description": "person_summary"
              },
              "current_role_summary": {
                  "type": "string",
                  "description": "current_role_summary"
              },
              "person_country": {
                  "type": "string",
                  "description": "person_country"
              },
              "person_location": {
                  "type": "string",
                  "description": "person_location"
              },
              "current_job_start_date": {
                  "type": "string",
                  "description": "current_job_start_date"
              },
              "first_job_start_date": {
                  "type": "string",
                  "description": "first_job_start_date"
              },
              "job_function_department": {
                  "type": "string",
                  "description": "job_function_department"
              },
              "seniority": {
                  "type": "string",
                  "description": "seniority"
              },
              "inferred_email": {
                  "type": "string",
                  "description": "inferred_email"
              },
              "last_updated": {
                  "type": "string",
                  "description": "last_updated"
              },
              "relevance": {
                  "type": "number",
                  "format": "float",
                  "description": "relevance"
              },
              "image_url": {
                  "type": "string",
                  "description": "image_url"
              },
              "current_job_start_date_range": {
                  "type": "string",
                  "description": "current_job_start_date_range"
              },
              "rank": {
                  "type": "integer",
                  "format": "int32",
                  "description": "rank"
              },
              "is_recent_position_change": {
                  "type": "boolean",
                  "description": "is_recent_position_change"
              },
              "is_new_hire": {
                  "type": "boolean",
                  "description": "is_new_hire"
              },
              "buyer_persona_id": {
                  "type": "string",
                  "description": "buyer_persona_id"
              },
              "masked": {
                  "type": "boolean",
                  "description": "masked"
              }
          },
          "type": "object"
      }
  },
  "securityDefinitions": {
      "api_key": {
          "type": "apiKey",
          "in": "header",
          "name": "X-API-KEY"
      }
  },
  "security": [
      {
          "api_key": []
      }
  ],
  "x-ms-openai-manifest": {
      "humanName": "Enlyft Insights",
      "contactEmail": "sales@enlyft.com",
      "legalUrl": "https://enlyft.com/terms-of-service",
      "modelDescription": "Enlyft for Copilot helps sales teams identify and prioritise best-fit accounts using global tech adoption signals and business attributes. Integrated into Copilots, it offers instant access to contextual account scores and contact insights for smarter outreach—without leaving your workspace. For B2B teams using Copilot with Dynamics 365 or Salesforce. Includes ML-based fit scores/propensity with reasoning, enriched contact data, LinkedIn URL, org context, and career history."
  },
  "x-ms-connector-metadata": [
      {
          "propertyName": "Website",
          "propertyValue": "https://enlyft.com"
      },
      {
          "propertyName": "Privacy policy",
          "propertyValue": "https://enlyft.com/privacy-policy"
      },
      {
          "propertyName": "Categories",
          "propertyValue": "Marketing;Sales and CRM"
      }
  ]
}