{
    "swagger": "2.0",
    "schemes": [
        "https"
    ],
    "host": "api.enlyft.com",
    "basePath": "/copilot",
    "info": {
        "description": "Enlyft connector to extend Copilot for Sales",
        "title": "Enlyft Insights",
        "version": "1.0",
        "contact": {
            "name": "Enlyft Support",
            "url": "https://enlyft.com/contact",
            "email": "support@enlyft.com"
        }
    },
    "paths": {
        "/enhanceskills/sales-highlights": {
            "get": {
                "description": "This action gets additional sales insights that will be shown in C4S key sales info card in outlook sidecar. The action enhances the existing skills of Copilot for sales",
                "operationId": "Scp-get-sales-highlights",
                "parameters": [
                    {
                        "description": "This input identifies the record type in CRM for which key sales info is requested",
                        "enum": [
                            "account",
                            "opportunity",
                            "lead",
                            "contact"
                        ],
                        "in": "query",
                        "name": "recordType",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "CRM Record Type"
                    },
                    {
                        "description": "This input provides the unique identifier of the CRM record for which key sales info is requested",
                        "in": "query",
                        "name": "recordId",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "CRM record Id"
                    },
                    {
                        "description": "This input indicates the type of CRM in which the CRM record exists, for which key sales info is requested",
                        "enum": [
                            "Salesforce",
                            "Dynamics365"
                        ],
                        "in": "query",
                        "name": "crmType",
                        "type": "string",
                        "x-ms-summary": "CRM type"
                    },
                    {
                        "description": "This input indicates the URL of the CRM environment in which the CRM record exists, for which key sales info is requested",
                        "in": "query",
                        "name": "crmOrgUrl",
                        "type": "string",
                        "x-ms-summary": "CRM Org URL"
                    },
                    {
                        "description": "This input indicates the number of sales highlights to fetch",
                        "format": "int32",
                        "in": "query",
                        "name": "top",
                        "type": "integer",
                        "x-ms-summary": "Top values to fetch"
                    },
                    {
                        "description": "This input indicates the number of items to skip when fetching sales highlights",
                        "format": "int32",
                        "in": "query",
                        "name": "skip",
                        "type": "integer",
                        "x-ms-summary": "Values to skip"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SalesHighlightListResponseEnvelope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "summary": "Enrich key sales info",
                "tags": [
                    "EnhancedSkillsExtensibility"
                ]
            }
        }
    },
    "definitions": {
        "ApiError": {
            "properties": {
                "activityId": {
                    "type": "string"
                },
                "details": {
                    "additionalProperties": {},
                    "type": "object"
                },
                "errorCode": {
                    "minLength": 1,
                    "type": "string"
                },
                "errorMessage": {
                    "type": "string"
                }
            },
            "required": [
                "errorCode"
            ],
            "type": "object"
        },
        "SalesHighlight": {
            "properties": {
                "additionalProperties": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "This output indicates additional properties as name-value pairs of each related insight returned by the action.",
                    "type": "object"
                },
                "dateTime": {
                    "description": "This output indicates the time associated with the insight.",
                    "format": "date-time",
                    "type": "string"
                },
                "description": {
                    "description": "This output indicates the text of the insight to be included in key sales info.",
                    "minLength": 1,
                    "type": "string"
                },
                "title": {
                    "description": "This output indicates the title of citation card for the insight.",
                    "minLength": 1,
                    "type": "string"
                },
                "url": {
                    "description": "This output indicates the URL to learn more about the insight.",
                    "type": "string"
                }
            },
            "required": [
                "description",
                "title"
            ],
            "type": "object"
        },
        "SalesHighlightListResponseEnvelope": {
            "properties": {
                "hasMoreResults": {
                    "description": "This indicates whether there are more results to be fetched in subsequent calls",
                    "type": "boolean"
                },
                "value": {
                    "items": {
                        "$ref": "#/definitions/SalesHighlight"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "securityDefinitions": {
        "api_key": {
            "type": "apiKey",
            "in": "header",
            "name": "X-API-KEY"
        }
    },
    "security": [
        {
            "api_key": []
        }
    ],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://enlyft.com"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://enlyft.com/privacy-policy"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Data"
        }
    ]
}