{
  "swagger": "2.0",
  "info": {
    "title": "DHL Tracking",
    "description": "",
    "version": "1.0"
  },
  "host": "api-eu.dhl.com",
  "basePath": "/track",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/shipments": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "shipments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "service": {
                        "type": "string",
                        "description": "service"
                      },
                      "origin": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "addressLocality": {
                                "type": "string",
                                "description": "addressLocality"
                              }
                            },
                            "description": "address"
                          },
                          "servicePoint": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "url"
                              },
                              "label": {
                                "type": "string",
                                "description": "label"
                              }
                            },
                            "description": "servicePoint"
                          }
                        },
                        "description": "origin"
                      },
                      "destination": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "addressLocality": {
                                "type": "string",
                                "description": "addressLocality"
                              }
                            },
                            "description": "address"
                          },
                          "servicePoint": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "url"
                              },
                              "label": {
                                "type": "string",
                                "description": "label"
                              }
                            },
                            "description": "servicePoint"
                          }
                        },
                        "description": "destination"
                      },
                      "status": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "description": "timestamp"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "object",
                                "properties": {
                                  "addressLocality": {
                                    "type": "string",
                                    "description": "addressLocality"
                                  }
                                },
                                "description": "address"
                              }
                            },
                            "description": "location"
                          },
                          "statusCode": {
                            "type": "string",
                            "description": "statusCode"
                          },
                          "status": {
                            "type": "string",
                            "description": "status"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          }
                        },
                        "description": "status"
                      },
                      "details": {
                        "type": "object",
                        "properties": {
                          "proofOfDelivery": {
                            "type": "object",
                            "properties": {
                              "timestamp": {
                                "type": "string",
                                "description": "timestamp"
                              },
                              "signatureUrl": {
                                "type": "string",
                                "description": "signatureUrl"
                              },
                              "documentUrl": {
                                "type": "string",
                                "description": "documentUrl"
                              }
                            },
                            "description": "proofOfDelivery"
                          },
                          "proofOfDeliverySignedAvailable": {
                            "type": "boolean",
                            "description": "proofOfDeliverySignedAvailable"
                          },
                          "totalNumberOfPieces": {
                            "type": "integer",
                            "format": "int32",
                            "description": "totalNumberOfPieces"
                          },
                          "pieceIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "pieceIds"
                          }
                        },
                        "description": "details"
                      },
                      "events": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "timestamp": {
                              "type": "string",
                              "description": "timestamp"
                            },
                            "location": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "object",
                                  "properties": {
                                    "addressLocality": {
                                      "type": "string",
                                      "description": "addressLocality"
                                    }
                                  },
                                  "description": "address"
                                }
                              },
                              "description": "location"
                            },
                            "description": {
                              "type": "string",
                              "description": "description"
                            },
                            "pieceIds": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "pieceIds"
                            }
                          }
                        },
                        "description": "events"
                      }
                    }
                  },
                  "description": "shipments"
                },
                "possibleAdditionalShipmentsUrl": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "possibleAdditionalShipmentsUrl"
                }
              }
            }
          }
        },
        "summary": "RetrieveTrackingInformation",
        "operationId": "RetrieveTrackingInformation",
        "description": "RetrieveTrackingInformation",
        "parameters": [
          {
            "$ref": "#/parameters/trackingNumber"
          },
          {
            "$ref": "#/parameters/service"
          },
          {
            "$ref": "#/parameters/requesterCountryCode"
          },
          {
            "$ref": "#/parameters/originCountryCode"
          },
          {
            "$ref": "#/parameters/recipientPostalCode"
          },
          {
            "$ref": "#/parameters/language"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {
    "trackingNumber": {
      "name": "trackingNumber",
      "in": "query",
      "description": "The tracking number of the shipment for which to return the information.",
      "required": true,
      "type": "string"
    },
    "service": {
      "name": "service",
      "in": "query",
      "description": "Hint which service (provider) should be used to resolve the tracking number.",
      "required": false,
      "type": "string",
      "enum": [
        "freight",
        "express",
        "parcel-de",
        "parcel-nl",
        "parcel-pl",
        "dsc",
        "dgf",
        "ecommerce"
      ]
    },
    "requesterCountryCode": {
      "name": "requesterCountryCode",
      "in": "query",
      "description": "Optional [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code represents country of the consumer of the API response. It optimizes the return of the API response.",
      "required": false,
      "type": "string",
      "x-example": "DE"
    },
    "originCountryCode": {
      "name": "originCountryCode",
      "in": "query",
      "description": "Optional [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of the shipment origin to further qualify the shipment tracking number (`trackingNumber`) parameter of the request.\nThis parameter is necessary to search for the shipment in dsc service.",
      "required": false,
      "type": "string",
      "x-example": "DE"
    },
    "recipientPostalCode": {
      "name": "recipientPostalCode",
      "in": "query",
      "description": "Postal code of the destination address to",
      "required": false,
      "type": "string"
    },
    "language": {
      "name": "language",
      "in": "query",
      "type": "string",
      "description": "ISO 639-1 2-character language code for the response.",
      "required": false,
      "default": "en",
      "x-example": "en"
    },
    "offset": {
      "name": "offset",
      "in": "query",
      "description": "Pagination parameter. Offset from the start of the result set at which to retrieve the remainder of the results (if any).",
      "required": false,
      "type": "number",
      "default": 0,
      "x-example": 5
    },
    "limit": {
      "name": "limit",
      "in": "query",
      "description": "Pagination parameter. Maximal number of results to retireve.",
      "required": false,
      "type": "number",
      "default": 5,
      "x-example": 5
    }
  },
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "DHL-API-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}