{
  "swagger": "2.0",
  "info": {
    "title": "Seismic Configuration",
    "description": "Seismic configuration connector provides set of actions required for adding or updating content properties, fetching teamsites and updating email opt-outs.",
    "contact": {
      "name": "Seismic",
      "email": "support@seismic.com",
      "url": "https://seismic.com"
    },
    "license": {
      "name": "seismic"
    },
    "version": "v2"
  },
  "host": "api.seismic.com",
  "basePath": "/integration/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/contentProperties/{contentPropertyId}/values": {
      "get": {
        "tags": [
          "Content Properties"
        ],
        "summary": "Content properties - Get values of a content property",
        "description": "Provides the list of content property values for a given content property.",
        "operationId": "GetContentPropertyValues",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contentPropertyId",
            "description": "Content Property Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Content Property Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Seismic.ContentManager.DomainOfValues"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Content Properties"
        ],
        "summary": "Content properties - Add values to a content property",
        "description": "Add one or more content property values to an existing content property.",
        "operationId": "AddContentPropertyValues",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contentPropertyId",
            "description": "Content Property Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Content Property Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Body",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Content Property Value"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Seismic.ContentManager.DomainOfValues"
              }
            }
          }
        }
      }
    },
    "/contentProperties": {
      "get": {
        "tags": [
          "Content Properties"
        ],
        "summary": "Content properties - Get all",
        "description": "Provides the list of content properties defined within the system.",
        "operationId": "GetContentProperties",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "query",
            "name": "includeValues",
            "description": "Include Values",
            "type": "boolean",
            "default": true,
            "x-ms-summary": "Include Values?"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Seismic.ContentProperties.ContentProperty"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Content Properties"
        ],
        "summary": "Content properties - Add a content property",
        "description": "Add a content property and associate it to an existing teamsite.",
        "operationId": "AddContentProperty",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Body",
            "schema": {
              "$ref": "#/definitions/Seismic.ContentManager.AddContentPropertyRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.ContentManager.AddContentPropertyResponse"
            }
          }
        }
      }
    },
    "/system/optouts": {
      "get": {
        "tags": [
          "Privacy Management"
        ],
        "summary": "Email opt-outs - Get list",
        "description": "Get a list of registered opt-outs.",
        "operationId": "GetGdprEmails",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "description": "Default 0",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "(optional) Page Offset. Default is 0."
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Default 1000",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "(optional) Page Limit. Default is 1000."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.PrivacyManagement.GdprEmailSettingResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Privacy Management"
        ],
        "summary": "Email opt-outs - Add or update emails",
        "description": "This action allows one or more email addresses to be added or updated in the tracking opt-out list.",
        "operationId": "UpsertGdprEmails",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Seismic.PrivacyManagement.GdprEmailSettingUpsertRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.PrivacyManagement.GdprPagedEmailSettingResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Seismic.PrivacyManagement.GdprPagedEmailSettingResponse"
            }
          }
        }
      }
    },
    "/system/optouts/{email}": {
      "delete": {
        "tags": [
          "Privacy Management"
        ],
        "summary": "Email opt-outs - Delete email",
        "description": "Deletes a single email address from the opt-out list",
        "operationId": "DeleteGdprEmail",
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "description": "Email",
            "required": true,
            "type": "string",
            "x-ms-summary": "Email Id"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/teamsites": {
      "get": {
        "tags": [
          "Teamsites"
        ],
        "summary": "Teamsite - Get all teamsites",
        "description": "Provides the full list of teamsites that are available in the current tenant.",
        "operationId": "GetTeamsites",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Seismic.Teamsites.TeamsiteResponse"
              }
            }
          }
        }
      }
    },
    "/teamsites/{teamsiteId}": {
      "get": {
        "tags": [
          "Teamsites"
        ],
        "summary": "Teamsite - Get teamsite information",
        "description": "Get the name of a given teamsite.",
        "operationId": "GetTeamsiteDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.Teamsites.TeamsiteResponse"
            }
          }
        }
      }
    },
    "/users/teamsites": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "User - Get teamsites",
        "description": "Get the current user's assigned teamsites.",
        "operationId": "GetUserTeamsites",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Seismic.Teamsites.TeamsiteResponse"
              }
            }
          }
        }
      }
    },
    "/users/profiles": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "User - Get profiles",
        "description": "Get the list of content profiles that the current user has access to.",
        "operationId": "GetUserProfiles",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "application",
            "type": "string",
            "x-ms-summary": "Application Name",
            "x-ms-visibility": "advanced",
            "description": "(Optional) Profiles for given application name, such as DocCenter, OutlookPlugin, etc."
          },
          {
            "in": "query",
            "name": "isPredictiveOnly",
            "type": "boolean",
            "x-ms-summary": "Predictive Profiles Only?",
            "x-ms-visibility": "advanced",
            "description": "(Optional) Profiles applicable on predictive contents only. Default is false."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Seismic.DocCenter.ContentProfileResponse"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Seismic.ContentManager.AddContentPropertyRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "title": "Name",
          "description": "The name of the new content property."
        },
        "type": {
          "type": "string",
          "description": "Supported types are string, integer, float, date, tag, multi-value and boolean.",
          "title": "Type",
          "enum": [
            "string",
            "integer",
            "float",
            "date",
            "tag",
            "multi-value",
            "boolean"
          ]
        },
        "domainOfValues": {
          "type": "array",
          "x-ms-summary": "Content Property Values",
          "items": {
            "type": "string",
            "title": "Content Property Value",
            "description": "(Optional) The list of values for this content property. Default is empty array."
          }
        },
        "teamSites": {
          "type": "array",
          "x-ms-summary": "Teamsite Ids",
          "description": "List of applicable teamsites. At least 1 teamsite is required.",
          "items": {
            "$ref": "#/definitions/Seismic.ContentManager.ContentPropertyTeamSiteInfo"
          }
        }
      },
      "required": [
        "name",
        "type",
        "teamSites",
        "domainOfValues"
      ]
    },
    "Seismic.ContentManager.AddContentPropertyResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Content Property Id"
        }
      }
    },
    "Seismic.ContentManager.ContentPropertyTeamSiteInfo": {
      "type": "object",
      "properties": {
        "teamSiteId": {
          "type": "string",
          "title": "Id",
          "x-ms-summary": "Teamsite Id",
          "description": "Teamsite Id where this content property is applicable. At least 1 teamsite is required."
        },
        "isRequired": {
          "type": "boolean",
          "title": "Is Required",
          "x-ms-summary": "Is A Required Property?",
          "enum": [
            true,
            false
          ],
          "description": "(Optional) Boolean field to indicate whether the new property is a required property in this teamsite. Default is false."
        }
      },
      "required": [
        "teamSiteId"
      ]
    },
    "Seismic.ContentManager.DomainOfValues": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Content Property Value"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "Seismic.PrivacyManagement.GdprPagedEmailSettingResponse": {
      "type": "object",
      "properties": {
        "totalRequests": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Total Optouts Count"
        },
        "totalSucceeded": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Succeeded Optouts Count"
        },
        "errors": {
          "type": "array",
          "x-ms-summary": "Errors",
          "items": {
            "$ref": "#/definitions/Seismic.PrivacyManagement.GdprPagedEmailSettingResponseError"
          }
        }
      }
    },
    "Seismic.PrivacyManagement.GdprPagedEmailSettingResponseError": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "x-ms-summary": "Email Id"
        },
        "error": {
          "type": "string",
          "x-ms-summary": "Error Message"
        }
      }
    },
    "Seismic.PrivacyManagement.GdprEmailSettingResponse": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.PrivacyManagement.GdprEmailSettingResponse"
          }
        },
        "totalCount": {
          "format": "int64",
          "type": "integer",
          "x-ms-summary": "Error Message"
        },
        "pageCap": {
          "format": "int32",
          "type": "integer"
        },
        "limit": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Page Limit"
        },
        "offset": {
          "format": "int64",
          "type": "integer",
          "x-ms-summary": "Page Offset"
        },
        "continuationToken": {
          "type": "string",
          "x-ms-summary": "Continuation Token"
        },
        "nextPageLink": {
          "type": "string",
          "x-ms-summary": "Next Page Link"
        }
      }
    },
    "Seismic.ContentProperties.ContentProperty": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Content Property Id"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Content Property Name"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Content Property Type"
        },
        "hasDomainOfValues": {
          "type": "boolean",
          "x-ms-summary": "Content Property Has Domain Values?"
        },
        "domainOfValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.ContentManager.DomainOfValues"
          }
        },
        "teamsites": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.ContentProperties.ContentPropertyTeamsite"
          }
        }
      }
    },
    "Seismic.ContentProperties.ContentPropertyTeamsite": {
      "type": "object",
      "properties": {
        "teamsiteId": {
          "type": "string",
          "x-ms-summary": "Teamsite Id"
        },
        "teamsiteName": {
          "type": "string",
          "x-ms-summary": "Teamsite Name"
        },
        "isRequired": {
          "type": "boolean",
          "x-ms-summary": "Is A Required Teamsite?"
        }
      }
    },
    "Seismic.DocCenter.Application": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Application Id"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Application Name"
        }
      }
    },
    "Seismic.DocCenter.ContentProfileResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Content Profile Id"
        },
        "versionId": {
          "type": "string",
          "x-ms-summary": "Content Profile Version Id"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Content Profile Name"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Content Profile Type"
        },
        "modifiedAt": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Content Profile Last Modified Date"
        },
        "coverImageId": {
          "type": "string",
          "x-ms-summary": "Content Profile Conver Image Id"
        },
        "coverImageUrl": {
          "type": "string",
          "x-ms-summary": "Content Profile Conver Image Url"
        },
        "isPredictiveOnly": {
          "type": "boolean",
          "x-ms-summary": "Is A Predctive Supported Content Profile?"
        },
        "isPublished": {
          "type": "boolean",
          "x-ms-summary": "Is A Published Content Profile?"
        },
        "isDefault": {
          "type": "boolean",
          "x-ms-summary": "Is A Default Content Profile?"
        },
        "applications": {
          "type": "array",
          "x-ms-summary": "Applications",
          "items": {
            "$ref": "#/definitions/Seismic.DocCenter.Application"
          }
        },
        "teamSiteId": {
          "type": "string",
          "x-ms-summary": "Teamsite Id"
        }
      }
    },
    "Seismic.PrivacyManagement.GdprEmailSettingUpsertRequest": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "title": "Email",
          "description": "Email id for which the opt-out needs to be configured."
        },
        "emailOptOut": {
          "type": "boolean",
          "title": "Email Optout",
          "x-ms-summary": "Opt Out From Email Communications?",
          "enum": [
            true,
            false
          ],
          "description": "Opt out from email communications."
        },
        "trackingOptOut": {
          "type": "boolean",
          "title": "Tracking Optout",
          "x-ms-summary": "Opt Out From Livesend Tracking?",
          "enum": [
            true,
            false
          ],
          "description": "Opt out from LiveSend tracking."
        },
        "meetingsOptOut": {
          "type": "boolean",
          "title": "Meetings Optout",
          "x-ms-summary": "Opt Out From Meetings?",
          "enum": [
            true,
            false
          ],
          "description": "Opt out from meeting recordings."
        }
      },
      "required": [
        "email"
      ]
    },
    "Seismic.Teamsites.TeamsiteResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Teamsite Id"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Teamsite Name"
        },
        "isDefault": {
          "type": "boolean",
          "x-ms-summary": "Is Default Teamsite?"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://auth.seismic.com/central/connect/authorize",
      "tokenUrl": "https://auth.seismic.com/central/connect/token",
      "scopes": {
        "seismic.self.view seismic.self.manage seismic.user.view seismic.user.manage seismic.library.view seismic.library.manage seismic.configuration.view seismic.configuration.manage": "seismic.self.view seismic.self.manage seismic.user.view seismic.user.manage seismic.library.view seismic.library.manage seismic.configuration.view seismic.configuration.manage"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "seismic.self.view seismic.self.manage seismic.user.view seismic.user.manage seismic.library.view seismic.library.manage seismic.configuration.view seismic.configuration.manage"
      ]
    }
  ],
  "tags": [
    {
      "name": "Teamsites"
    },
    {
      "name": "Content Properties"
    },
    {
      "name": "Privacy Management"
    },
    {
      "name": "Users"
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://seismic.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://seismic.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing;Sales and CRM"
    }
  ]
}