{
  "swagger": "2.0",
  "info": {
    "title": "Open Data network",
    "description": "The Open Data Network connector enables users to access and utilize government data to improve decision-making and enrich lives. By leveraging data from various government sources, this connector allows developers, businesses, and public sector organizations to integrate valuable information into their applications and services, driving open data standards and best practices.",
    "version": "1.0",
    "contact": {
      "name": "Richard Wilson",
      "email": "richard.a.wilson@microsoft.com",
      "url": "https://www.richardawilson.com/"
    }
  },
  "host": "api.us.socrata.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/catalog/v1": {
      "get": {
        "operationId": "SearchCatalog",
        "summary": "Search Socrata assets",
        "description": "Search for Socrata assets using various query parameters.",
        "parameters": [
          {
            "name": "domain",
            "in": "header",
            "type": "string"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "The unique identifier of an asset",
            "type": "string",
            "x-ms-summary": "Ids"
          },
          {
            "name": "domains",
            "in": "query",
            "description": "The domain name",
            "type": "string",
            "x-ms-summary": "Domains"
          },
          {
            "name": "names",
            "in": "query",
            "description": "The case-insensitive asset name",
            "type": "string",
            "x-ms-summary": "Names"
          },
          {
            "name": "categories",
            "in": "query",
            "description": "A single category",
            "type": "string",
            "x-ms-summary": "Categories"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "A single tag",
            "type": "string",
            "x-ms-summary": "Tags"
          },
          {
            "name": "only",
            "in": "query",
            "description": "One of the asset types (e.g., dataset, chart, map)",
            "type": "string",
            "x-ms-summary": "Only"
          },
          {
            "name": "attribution",
            "in": "query",
            "description": "The case-sensitive name of the attributing entity",
            "type": "string",
            "x-ms-summary": "Attribution"
          },
          {
            "name": "license",
            "in": "query",
            "description": "The case-sensitive license name",
            "type": "string",
            "x-ms-summary": "License"
          },
          {
            "name": "q",
            "in": "query",
            "description": "A string for full-text search",
            "type": "string",
            "x-ms-summary": "Q"
          },
          {
            "name": "min_should_match",
            "in": "query",
            "description": "The number or percent of words that must match",
            "type": "string",
            "x-ms-summary": "Min Should Match"
          },
          {
            "name": "parent_ids",
            "in": "query",
            "description": "The unique identifier of a parent asset",
            "type": "string",
            "x-ms-summary": "Parent Ids"
          },
          {
            "name": "derived_from",
            "in": "query",
            "description": "The unique identifier of an asset derived from another",
            "type": "string",
            "x-ms-summary": "Derived From"
          },
          {
            "name": "provenance",
            "in": "query",
            "description": "The provenance, either 'official' or 'community'",
            "type": "string",
            "x-ms-summary": "Provenance"
          },
          {
            "name": "for_user",
            "in": "query",
            "description": "The unique identifier of a user or a team",
            "type": "string",
            "x-ms-summary": "For User"
          },
          {
            "name": "shared_to",
            "in": "query",
            "description": "The unique identifier of a user or team to whom assets are shared",
            "type": "string",
            "x-ms-summary": "Shared To"
          },
          {
            "name": "column_names",
            "in": "query",
            "description": "The name of a column",
            "type": "string",
            "x-ms-summary": "Column Names"
          },
          {
            "name": "public",
            "in": "query",
            "description": "A true or false value for public or private assets",
            "type": "boolean",
            "x-ms-summary": "Public"
          },
          {
            "name": "visibility",
            "in": "query",
            "description": "The visibility status, either 'open' or 'internal'",
            "type": "string",
            "x-ms-summary": "Visibility"
          },
          {
            "name": "audience",
            "in": "query",
            "description": "The audience, either 'private', 'site' or 'public'",
            "type": "string",
            "x-ms-summary": "Audience"
          },
          {
            "name": "published",
            "in": "query",
            "description": "A true or false value for published or unpublished assets",
            "type": "boolean",
            "x-ms-summary": "Published"
          },
          {
            "name": "approval_status",
            "in": "query",
            "description": "The approval status (pending, rejected, approved, not_ready)",
            "type": "string",
            "x-ms-summary": "Approval Status"
          },
          {
            "name": "explicitly_hidden",
            "in": "query",
            "description": "A true or false value for hidden or unhidden assets",
            "type": "boolean",
            "x-ms-summary": "Explicitly Hidden"
          },
          {
            "name": "data_json_hidden",
            "in": "query",
            "description": "A true or false value for assets hidden or unhidden from data.json catalog",
            "type": "boolean",
            "x-ms-summary": "Data Json Hidden"
          },
          {
            "name": "derived",
            "in": "query",
            "description": "A true or false value for derived or base assets",
            "type": "boolean",
            "x-ms-summary": "Derived"
          },
          {
            "name": "order",
            "in": "query",
            "description": "The sort order of the results",
            "type": "string",
            "x-ms-summary": "Order"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Initial starting point for paging (0 by default)",
            "type": "integer",
            "x-ms-summary": "Offset"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return (100 by default, up to 10000)",
            "type": "integer",
            "x-ms-summary": "Limit"
          },
          {
            "name": "scroll_id",
            "in": "query",
            "description": "The identifier for the last asset from the previous results",
            "type": "string",
            "x-ms-summary": "Scroll Id"
          },
          {
            "name": "boostOfficial",
            "in": "query",
            "description": "Multiplier for the relevance score of official documents",
            "type": "number",
            "x-ms-summary": "Boost Official"
          },
          {
            "name": "show_visibility",
            "in": "query",
            "description": "Whether to return visibility information",
            "type": "boolean",
            "x-ms-summary": "Show Visibility"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "resource": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "attribution": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "columns_name": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "columns_field_name": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "columns_datatype": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "columns_description": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "page_views_total": {
                            "type": "number"
                          },
                          "page_views_last_week": {
                            "type": "number"
                          },
                          "page_views_last_month": {
                            "type": "number"
                          },
                          "download_count": {
                            "type": "number"
                          },
                          "provenance": {
                            "type": "string"
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "domain": {
                            "type": "string"
                          },
                          "is_public": {
                            "type": "boolean"
                          },
                          "is_published": {
                            "type": "boolean"
                          },
                          "is_hidden": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                },
                "resultSetSize": {
                  "type": "number"
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/catalog/v1/domains": {
      "get": {
        "operationId": "CountByDomain",
        "summary": "Count by Domain",
        "description": "Returns each domain and the count of assets owned by that domain. The counts may be restricted according to any of the query parameters described in the Complete Search API, with the exception of the q text search param.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "domain": {
                        "type": "string",
                        "description": "The domain name."
                      },
                      "count": {
                        "type": "number",
                        "description": "The count of assets owned by the domain."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          }
        }
      }
    },
    "/views/{asset_id}": {
      "get": {
        "operationId": "GetDatasetSchema",
        "summary": "Get Dataset Schema",
        "description": "Retrieve the schema properties of a dataset by its Id",
        "parameters": [
          {
            "name": "domain",
            "in": "header",
            "type": "string",
            "required": true
          },
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the asset",
            "type": "string",
            "x-ms-summary": "Dataset"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Invalid type specified"
          },
          "default": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/resource/{resource_id}.json": {
      "post": {
        "operationId": "SearchDataset",
        "summary": "Search Dataset",
        "description": "Retrieve data from a dataset",
        "parameters": [
          {
            "name": "domain",
            "in": "header",
            "required": true,
            "description": "Dataset publishers",
            "type": "string",
            "x-ms-summary": "Domain",
            "x-ms-dynamic-values": {
              "operationId": "CountByDomain",
              "value-collection": "results",
              "value-path": "domain"
            }
          },
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the dataset resource",
            "type": "string",
            "x-ms-summary": "Dataset",
            "x-ms-dynamic-values": {
              "operationId": "SearchCatalog",
              "value-path": "resource/id",
              "value-title": "resource/name",
              "value-collection": "results",
              "parameters": {
                "only": "dataset",
                "domains": {
                  "parameter": "domain"
                }
              }
            }
          },
          {
            "name": "item_properties",
            "in": "body",
            "required": true,
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "GetDatasetSchema",
                "parameters": {
                  "asset_id": {
                    "parameterReference": "resource_id"
                  },
                  "domain": {
                    "parameterReference": "domain"
                  }
                },
                "itemValuePath": "data"
              }
            }
          },
          {
            "name": "$limit",
            "in": "query",
            "required": false,
            "description": "The number of records to return.",
            "type": "integer",
            "x-ms-summary": "Limit"
          },
          {
            "name": "$offset",
            "in": "query",
            "required": false,
            "description": "The offset for pagination.",
            "type": "integer",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "x-ms-dynamic-schema": {
                  "operationId": "GetDatasetSchema",
                  "parameters": {
                    "asset_id": {
                      "parameter": "resource_id"
                    },
                    "domain": {
                      "parameter": "domain"
                    }
                  },
                  "value-path": "data"
                },
                "x-ms-dynamic-properties": {
                  "operationId": "GetDatasetSchema",
                  "parameters": {
                    "asset_id": {
                      "parameterReference": "resource_id"
                    },
                    "domain": {
                      "parameterReference": "domain"
                    }
                  },
                  "itemValuePath": "data"
                }
              }
            }
          },
          "400": {
            "description": "Invalid type specified"
          },
          "default": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/resource/{resource_id}.json/SoQL": {
      "get": {
        "operationId": "SearchDatasetSoQL",
        "summary": "Search Dataset with SoQL",
        "description": "Retrieve data from a dataset using SoQL query",
        "parameters": [
          {
            "name": "domain",
            "in": "header",
            "required": true,
            "description": "Dataset publishers",
            "type": "string",
            "x-ms-summary": "Domain",
            "x-ms-dynamic-values": {
              "operationId": "CountByDomain",
              "value-collection": "results",
              "value-path": "domain"
            }
          },
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the dataset resource",
            "type": "string",
            "x-ms-summary": "Dataset",
            "x-ms-dynamic-values": {
              "operationId": "SearchCatalog",
              "value-path": "resource/id",
              "value-title": "resource/name",
              "value-collection": "results",
              "parameters": {
                "only": "dataset",
                "domains": {
                  "parameter": "domain"
                }
              }
            }
          },
          {
            "name": "$limit",
            "in": "query",
            "required": false,
            "description": "The number of records to return.",
            "type": "integer",
            "x-ms-summary": "Limit"
          },
          {
            "name": "$offset",
            "in": "query",
            "required": false,
            "description": "The offset for pagination.",
            "type": "integer",
            "x-ms-summary": "Offset"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "description": "The set of columns to be returned, similar to a SELECT in SQL",
            "type": "string",
            "x-ms-summary": "Select"
          },
          {
            "name": "$where",
            "in": "query",
            "required": false,
            "description": "Filters the rows to be returned, similar to WHERE",
            "type": "string",
            "x-ms-summary": "Where"
          },
          {
            "name": "$order",
            "in": "query",
            "required": false,
            "description": "Column to order results on, similar to ORDER BY in SQL",
            "type": "string",
            "x-ms-summary": "Order"
          },
          {
            "name": "$group",
            "in": "query",
            "required": false,
            "description": "Column to group results on, similar to GROUP BY in SQL",
            "type": "string",
            "x-ms-summary": "Group"
          },
          {
            "name": "$having",
            "in": "query",
            "required": false,
            "description": "Filters the rows that result from an aggregation, similar to HAVING",
            "type": "string",
            "x-ms-summary": "Having"
          },
          {
            "name": "$q",
            "in": "query",
            "required": false,
            "description": "Performs a full text search for a value.",
            "type": "string",
            "x-ms-summary": "Full Text Search"
          },
          {
            "name": "$query",
            "in": "query",
            "required": false,
            "description": "A full SoQL query string, all as one parameter",
            "type": "string",
            "x-ms-summary": "Full SoQL Query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          },
          "400": {
            "description": "Invalid type specified"
          },
          "default": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/resource/{resource_id}.json/GetSearchData": {
      "get": {
        "operationId": "GetSearchData",
        "summary": "Get Search Data",
        "description": "Get data for search fields",
        "parameters": [
          {
            "name": "domain",
            "in": "header",
            "type": "string",
            "required": true
          },
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the dataset resource",
            "type": "string",
            "x-ms-summary": "Dataset"
          },
          {
            "name": "$query",
            "in": "query",
            "required": true,
            "description": "The search query to get values",
            "type": "string",
            "x-ms-summary": "Query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "value": {
                    "title": "Value"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid type specified"
          },
          "default": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic-auth": {
      "type": "basic"
    },
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-App-Token"
    }
  },
  "security": [
    {
      "basic-auth": [],
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.opendatanetwork.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tylertech.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}