{
  "swagger": "2.0",
  "info": {
    "title": "Zapier NLA",
    "description": "Zapier is an integration platform with over 5,000+ apps and 50,000+ actions. Natural Language Actions (NLA) is optimized to receive user input in natural language to perform actions pre-configured by the user.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "nla.zapier.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1/exposed/": {
      "get": {
        "summary": "List exposed actions",
        "description": "List all the currently exposed actions for the given account.",
        "operationId": "ExposedGet",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExposedActionResponseSchema"
            }
          }
        }
      }
    },
    "/api/v1/dynamic/exposed/{action_id}/execute/": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The action identifier.",
                  "title": "ID"
                },
                "action_used": {
                  "type": "string",
                  "description": "The action used..",
                  "title": "Action Used"
                },
                "input_params": {
                  "type": "object",
                  "properties": {},
                  "description": "The input parameters as a JSON object.",
                  "title": "Input Params"
                },
                "review_url": {
                  "type": "string",
                  "description": "The review URL address.",
                  "title": "Review URL"
                },
                "result": {
                  "type": "object",
                  "properties": {},
                  "description": "The result parameters as a JSON object.",
                  "title": "Result"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "error": {
                  "type": "string",
                  "description": "The error message.",
                  "title": "Error"
                }
              }
            }
          }
        },
        "summary": "Perform action",
        "x-ms-visibility": "important",
        "description": "Performs given action using a natural language set of instructions.",
        "operationId": "ActionPost",
        "parameters": [
          {
            "name": "action_id",
            "in": "path",
            "x-ms-summary": "Action",
            "x-ms-url-encoding": "single",
            "description": "The action to perform.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ExposedGet",
              "value-path": "id",
              "value-collection": "results",
              "value-title": "description"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "instructions": {
                  "type": "string",
                  "description": "The instructions in a natural language string.",
                  "title": "Instructions"
                },
                "preview_only": {
                  "type": "boolean",
                  "description": "Whether to preview the action result.",
                  "default": "false",
                  "enum": [
                    "false",
                    "true"
                  ],
                  "title": "Preview Only"
                }
              },
              "required": [
                "instructions"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "ExposedActionSchema": {
      "title": "ExposedActionSchema",
      "required": [
        "id",
        "operation_id",
        "description",
        "params"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Id",
          "description": "The unique ID of the exposed action.",
          "type": "string"
        },
        "operation_id": {
          "title": "Operation Id",
          "description": "The operation ID of the exposed action.",
          "type": "string"
        },
        "description": {
          "title": "Description",
          "description": "Description of the action.",
          "type": "string"
        },
        "params": {
          "title": "Params",
          "description": "Available hint fields for the action.",
          "type": "object"
        }
      }
    },
    "ExposedActionResponseSchema": {
      "title": "ExposedActionResponseSchema",
      "required": [
        "results",
        "configuration_link"
      ],
      "type": "object",
      "properties": {
        "results": {
          "title": "Results",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExposedActionSchema"
          }
        },
        "configuration_link": {
          "title": "Configuration Link",
          "description": "URL to configure and expose more actions.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://zapier.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://zapier.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;IT Operations"
    }
  ]
}
