{
  "swagger": "2.0",
  "info": {
    "title": "Udemy",
    "description": "The Udemy helps one to get the information about Udemy learning courses.",
    "version": "1.0",
    "contact": {
      "name": "Nanddeep Nachan, Smita Nachan",
      "url": "https://www.nanddeepnachanblogs.com/",
      "email": "NanddeepNachan@gmail.com"
    }
  },
  "host": "www.udemy.com",
  "basePath": "/api-2.0/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/courses": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "count"
                },
                "next": {
                  "type": "string",
                  "description": "next"
                },
                "previous": {
                  "type": "string",
                  "description": "previous"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_class": {
                        "type": "string",
                        "description": "_class"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      },
                      "is_paid": {
                        "type": "boolean",
                        "description": "is_paid"
                      },
                      "price": {
                        "type": "string",
                        "description": "price"
                      },
                      "price_detail": {
                        "type": "string",
                        "description": "price_detail"
                      },
                      "price_serve_tracking_id": {
                        "type": "string",
                        "description": "price_serve_tracking_id"
                      },
                      "visible_instructors": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "_class": {
                              "type": "string",
                              "description": "_class"
                            },
                            "title": {
                              "type": "string",
                              "description": "title"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "display_name": {
                              "type": "string",
                              "description": "display_name"
                            },
                            "job_title": {
                              "type": "string",
                              "description": "job_title"
                            },
                            "image_50x50": {
                              "type": "string",
                              "description": "image_50x50"
                            },
                            "image_100x100": {
                              "type": "string",
                              "description": "image_100x100"
                            },
                            "initials": {
                              "type": "string",
                              "description": "initials"
                            },
                            "url": {
                              "type": "string",
                              "description": "url"
                            }
                          }
                        },
                        "description": "visible_instructors"
                      },
                      "image_125_H": {
                        "type": "string",
                        "description": "image_125_H"
                      },
                      "image_240x135": {
                        "type": "string",
                        "description": "image_240x135"
                      },
                      "is_practice_test_course": {
                        "type": "boolean",
                        "description": "is_practice_test_course"
                      },
                      "image_480x270": {
                        "type": "string",
                        "description": "image_480x270"
                      },
                      "published_title": {
                        "type": "string",
                        "description": "published_title"
                      },
                      "tracking_id": {
                        "type": "string",
                        "description": "tracking_id"
                      },
                      "predictive_score": {
                        "type": "string",
                        "description": "predictive_score"
                      },
                      "relevancy_score": {
                        "type": "string",
                        "description": "relevancy_score"
                      },
                      "input_features": {
                        "type": "string",
                        "description": "input_features"
                      },
                      "lecture_search_result": {
                        "type": "string",
                        "description": "lecture_search_result"
                      },
                      "curriculum_lectures": {
                        "type": "array",
                        "items": {},
                        "description": "curriculum_lectures"
                      },
                      "order_in_results": {
                        "type": "string",
                        "description": "order_in_results"
                      },
                      "curriculum_items": {
                        "type": "array",
                        "items": {},
                        "description": "curriculum_items"
                      },
                      "headline": {
                        "type": "string",
                        "description": "headline"
                      },
                      "instructor_name": {
                        "type": "string",
                        "description": "instructor_name"
                      }
                    }
                  },
                  "description": "results"
                },
                "aggregations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "description": "key"
                            },
                            "title": {
                              "type": "string",
                              "description": "title"
                            },
                            "count": {
                              "type": "integer",
                              "format": "int32",
                              "description": "count"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            }
                          }
                        },
                        "description": "options"
                      }
                    }
                  },
                  "description": "aggregations"
                },
                "search_tracking_id": {
                  "type": "string",
                  "description": "search_tracking_id"
                }
              }
            }
          }
        },
        "summary": "Get Courses",
        "description": "Returns list of courses",
        "operationId": "GetCourses",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "A numeric value indicating the current page. page*page_size cannot be larger than 10000.",
            "x-ms-summary": "Current Page"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "A numeric value indicating the page size. page*page_size cannot be larger than 10000.",
            "x-ms-summary": "Page Size"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter courses by a search term.",
            "x-ms-summary": "Search Term"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter courses by primary category.",
            "x-ms-summary": "Primary Category"
          },
          {
            "name": "subcategory",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter courses by primary subcategory.",
            "x-ms-summary": "Primary Subcategory"
          },
          {
            "name": "price",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Rank courses by price-paid, or price-free.",
            "x-ms-summary": "Price"
          },
          {
            "name": "is_affiliate_agreed",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Filter courses that are affiliate agreed.",
            "x-ms-summary": "Is Affiliate Agreed"
          },
          {
            "name": "is_deals_agreed",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Filter courses that are deals agreed.",
            "x-ms-summary": "Is Deals Agreed"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter courses by alpha-2 language code specified at http://www.loc.gov/standards/iso639-2/php/code_list.php",
            "x-ms-summary": "Language Code"
          },
          {
            "name": "has_closed_caption",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Filter courses that has closed caption.",
            "x-ms-summary": "Has Closed Caption"
          },
          {
            "name": "has_coding_exercises",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Filter courses that has coding exercises.",
            "x-ms-summary": "Has Coding Exercises"
          },
          {
            "name": "has_simple_quiz",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Filter courses that has simple quiz.",
            "x-ms-summary": "Has Simple Quiz"
          },
          {
            "name": "has_workspace",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Filter courses that has workspaces.",
            "x-ms-summary": "Has Workspaces"
          },
          {
            "name": "instructional_level",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter courses by instructional level.",
            "x-ms-summary": "Instructional Level"
          },
          {
            "name": "ordering",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Rank courses by relevance, most-reviewed, highest-rated, newest, price-low-to-high, or price-high-to-low.",
            "x-ms-summary": "Ordering"
          },
          {
            "name": "ratings",
            "in": "query",
            "required": false,
            "type": "number",
            "description": "Filter courses by minimum average rating.",
            "x-ms-summary": "Average Rating"
          },
          {
            "name": "duration",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter courses by course duration as short, medium, long, extraLong",
            "x-ms-summary": "Course Duration"
          },
          {
            "name": "subs_coll_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "User's subscription ids.",
            "x-ms-summary": "Subscription Ids"
          },
          {
            "name": "subs_filter_type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter courses by subscription or non subscribed courses",
            "x-ms-summary": "Subscription Filter Type"
          }
        ]
      }
    },
    "/courses/{pk}/": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "_class": {
                  "type": "string",
                  "description": "_class"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "url": {
                  "type": "string",
                  "description": "url"
                },
                "is_paid": {
                  "type": "boolean",
                  "description": "is_paid"
                },
                "price": {
                  "type": "string",
                  "description": "price"
                },
                "price_detail": {
                  "type": "string",
                  "description": "price_detail"
                },
                "price_serve_tracking_id": {
                  "type": "string",
                  "description": "price_serve_tracking_id"
                },
                "visible_instructors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_class": {
                        "type": "string",
                        "description": "_class"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "display_name": {
                        "type": "string",
                        "description": "display_name"
                      },
                      "job_title": {
                        "type": "string",
                        "description": "job_title"
                      },
                      "image_50x50": {
                        "type": "string",
                        "description": "image_50x50"
                      },
                      "image_100x100": {
                        "type": "string",
                        "description": "image_100x100"
                      },
                      "initials": {
                        "type": "string",
                        "description": "initials"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      }
                    }
                  },
                  "description": "visible_instructors"
                },
                "image_125_H": {
                  "type": "string",
                  "description": "image_125_H"
                },
                "image_240x135": {
                  "type": "string",
                  "description": "image_240x135"
                },
                "is_practice_test_course": {
                  "type": "boolean",
                  "description": "is_practice_test_course"
                },
                "image_480x270": {
                  "type": "string",
                  "description": "image_480x270"
                },
                "published_title": {
                  "type": "string",
                  "description": "published_title"
                },
                "tracking_id": {
                  "type": "string",
                  "description": "tracking_id"
                }
              }
            }
          }
        },
        "summary": "Get Course Details",
        "description": "Returns course with specified pk.",
        "operationId": "GetCourseDetails",
        "parameters": [
          {
            "name": "pk",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "A numeric course identifier.",
            "x-ms-summary": "Course Identifier",
			"x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/courses/{course_id}/reviews/": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "count"
                },
                "next": {
                  "type": "string",
                  "description": "next"
                },
                "previous": {
                  "type": "string",
                  "description": "previous"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_class": {
                        "type": "string",
                        "description": "_class"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "content": {
                        "type": "string",
                        "description": "content"
                      },
                      "rating": {
                        "type": "integer",
                        "format": "int32",
                        "description": "rating"
                      },
                      "created": {
                        "type": "string",
                        "description": "created"
                      },
                      "modified": {
                        "type": "string",
                        "description": "modified"
                      },
                      "user_modified": {
                        "type": "string",
                        "description": "user_modified"
                      },
                      "user": {
                        "type": "object",
                        "properties": {
                          "_class": {
                            "type": "string",
                            "description": "_class"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "display_name": {
                            "type": "string",
                            "description": "display_name"
                          }
                        },
                        "description": "user"
                      }
                    }
                  },
                  "description": "results"
                }
              }
            }
          }
        },
        "summary": "Get Course Reviews",
        "description": "Returns list of course reviews",
        "operationId": "GetCourseReviews",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "A numeric course identifier.",
            "x-ms-summary": "Course Identifier",
			"x-ms-url-encoding": "single"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "A numeric value indicating the current page.",
            "x-ms-summary": "Current Page"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "A numeric value indicating the page size.",
            "x-ms-summary": "Page Size"
          }
        ]
      }
    },
    "/courses/{course_id}/public-curriculum-items": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "_class": {
                  "type": "string",
                  "description": "_class"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "url": {
                  "type": "string",
                  "description": "url"
                },
                "is_paid": {
                  "type": "boolean",
                  "description": "is_paid"
                },
                "price": {
                  "type": "string",
                  "description": "price"
                },
                "price_detail": {
                  "type": "string",
                  "description": "price_detail"
                },
                "price_serve_tracking_id": {
                  "type": "string",
                  "description": "price_serve_tracking_id"
                },
                "visible_instructors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_class": {
                        "type": "string",
                        "description": "_class"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "display_name": {
                        "type": "string",
                        "description": "display_name"
                      },
                      "job_title": {
                        "type": "string",
                        "description": "job_title"
                      },
                      "image_50x50": {
                        "type": "string",
                        "description": "image_50x50"
                      },
                      "image_100x100": {
                        "type": "string",
                        "description": "image_100x100"
                      },
                      "initials": {
                        "type": "string",
                        "description": "initials"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      }
                    }
                  },
                  "description": "visible_instructors"
                },
                "image_125_H": {
                  "type": "string",
                  "description": "image_125_H"
                },
                "image_240x135": {
                  "type": "string",
                  "description": "image_240x135"
                },
                "is_practice_test_course": {
                  "type": "boolean",
                  "description": "is_practice_test_course"
                },
                "image_480x270": {
                  "type": "string",
                  "description": "image_480x270"
                },
                "published_title": {
                  "type": "string",
                  "description": "published_title"
                },
                "tracking_id": {
                  "type": "string",
                  "description": "tracking_id"
                }
              }
            }
          }
        },
        "summary": "Get Public Curriculum Items",
        "description": "Returns list of curriculum items.",
        "operationId": "GetPublicCurriculumItems",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "A numeric course identifier.",
            "x-ms-summary": "Course Identifier",
			"x-ms-url-encoding": "single"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "A numeric value indicating the current page.",
            "x-ms-summary": "Current Page"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "A numeric value indicating the page size.",
            "x-ms-summary": "Page Size"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata":[
    {
      "propertyName":"Website",
      "propertyValue":"https://www.udemy.com/"
    },
    {
      "propertyName":"Privacy Policy",
      "propertyValue":"https://www.udemy.com/terms/privacy/"
    },
    {
      "propertyName":"Categories",
      "propertyValue":"Website"
    }
  ]
}