{
  "swagger": "2.0",
  "info": {
    "title": "Meisterplan",
    "description": "Meisterplan is a portfolio-level resource management tool that helps portfolio and resource managers manage people across teams and initiatives whether your work is traditional, agile or hybrid. Use it to make confident portfolio decisions and interactively surface and solve resource conflicts.",
    "termsOfService": "https://meisterplan.com/terms-of-service/",
    "contact": {
      "name": "Meisterplan Support",
      "url": "https://help.meisterplan.com/",
      "email": "support@meisterplan.com"
    },
    "version": "v1.6.0",
    "x-logo": {
      "url": "https://static.meisterplan.com/web/images/restingrhino/logo_meisterplan_api_doc.png"
    }
  },
  "host": "api.us.meisterplan.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/scenarios/{scenarioId}/projects/{projectId}/milestones": {
      "get": {
        "tags": [
          "Milestones"
        ],
        "summary": "Get a List of Milestones",
        "description": "Returns a list of milestones of a project",
        "operationId": "GetAllMilestones",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseMilestoneResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Milestones"
        ],
        "summary": "Create Milestones",
        "description": "Returns the newly created milestone",
        "operationId": "CreateMilestone",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Milestone represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MilestoneCreateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/MilestoneResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "Milestones"
        ],
        "summary": "Replace Milestones",
        "description": "Replaces milestones of a given project within a scenario.",
        "operationId": "ReplaceMilestones",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Milestone represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReplaceMilestonesRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/projects/{projectId}/financials": {
      "get": {
        "tags": [
          "Financials"
        ],
        "summary": "Get a List of Financials",
        "description": "Returns a list of financials of a project",
        "operationId": "GetAllFinancials",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseFinancialsResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Financials"
        ],
        "summary": "Create Financials",
        "description": "Returns the newly created financial event.",
        "operationId": "CreateFinancials",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Financial event represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FinancialsCreateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/FinancialsResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "Financials"
        ],
        "summary": "Replace Financials",
        "description": "Replaces financial events of a given project within a scenario.",
        "operationId": "ReplaceFinancials",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FinancialsReplaceRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/projects/{projectId}/financialActuals": {
      "get": {
        "tags": [
          "Financial Actuals"
        ],
        "summary": "Get a List of Actual Financial Events",
        "description": "Returns a list of actual financial events of a project.",
        "operationId": "GetAllActualFinancialEvents",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseFinancialActualsResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Financial Actuals"
        ],
        "summary": "Create Actual Financial Event",
        "description": "Returns the newly created actual financial event.",
        "operationId": "CreateFinancialActuals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Financial event represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FinancialActualsCreateOrReplaceRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/FinancialActualsResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "Financial Actuals"
        ],
        "summary": "Replace Actual Financial Events",
        "description": "Replaces actual financial events of a given project within a scenario. A request is limited to 5000 actual financial events per project.",
        "operationId": "ReplaceFinancialActuals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Financial event represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FinancialActualsReplaceRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/projects/{projectId}/allocations": {
      "get": {
        "tags": [
          "Allocations"
        ],
        "summary": "Get a List of Allocations",
        "description": "Returns a list of allocations of a project",
        "operationId": "GetAllAllocations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseAllocationResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Allocations"
        ],
        "summary": "Create or Update Allocations",
        "description": "This endpoint lets you create new allocations and update existing allocations of a project. Changes will only be made for the specified date ranges as well as the specified resources and roles.",
        "operationId": "CreateOrUpdateAllocation",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "allocationCreateOrUpdateRequest",
            "description": "Allocation represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Allocation"
            },
            "x-ms-summary": "Allocation Create Or Update Request"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AllocationResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "Allocations"
        ],
        "summary": "Replace Allocations",
        "description": "This endpoint lets you replace all allocations of a project. The result will be the same as if all existing allocations are deleted and the passed allocations are created again.",
        "operationId": "ReplaceAllocation",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "allocationReplaceRequest",
            "description": "Allocation represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AllocationReplaceRequest"
            },
            "x-ms-summary": "Allocation Replace Request"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/resources/{resourceId}/absences": {
      "get": {
        "tags": [
          "Absences"
        ],
        "summary": "Get a List of Absences",
        "description": "Returns a list of absences of the resource.",
        "operationId": "GetAllAbsences",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "resourceId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Resource Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "query",
            "name": "startDate",
            "description": "Start date for filtering time period",
            "type": "string",
            "format": "date",
            "x-ms-summary": "Start Date",
            "x-example": "2019-01-31"
          },
          {
            "in": "query",
            "name": "finishDate",
            "description": "Inclusive finish date for filtering time period.",
            "type": "string",
            "format": "date",
            "x-ms-summary": "Finish Date",
            "x-example": "2019-12-31"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseAbsenceResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "Create Absences",
        "description": "Use this request to add an absence for a certain time period. This time period can be defined using the start and finish attributes of the request.",
        "operationId": "CreateAbsences",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "resourceId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Resource Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Absence in a given time period represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAbsenceRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AbsenceResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "Absences"
        ],
        "summary": "Replace Absences",
        "description": "This endpoint lets you replace all absences of a resource. The result will be the same as if all existing absences are deleted and the passed absences are created again. You can use the 'start' and 'end' query parameters to specify a time range for replacing existing absences. If you do not use these parameters, all absences will be replaced by the newly sent absences.",
        "operationId": "ReplaceAbsences",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "resourceId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Resource Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "query",
            "name": "start",
            "description": "Start date of replacement period",
            "type": "string",
            "format": "date",
            "x-ms-summary": "Start",
            "x-example": "2019-01-31"
          },
          {
            "in": "query",
            "name": "end",
            "description": "Inclusive end date of replacement period.",
            "type": "string",
            "format": "date",
            "x-ms-summary": "End",
            "x-example": "2019-12-31"
          },
          {
            "in": "body",
            "name": "absences",
            "description": "Absences represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReplaceAbsencesRequest"
            },
            "x-ms-summary": "Absences"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get a List of Webhooks",
        "description": "This endpoint is paginated. It returns a list of webhooks up to the specified PAGESIZE",
        "operationId": "GetAllWebhooks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "pageSize",
            "description": "Page Size",
            "type": "integer",
            "default": 500,
            "maximum": 500,
            "minimum": 1,
            "x-ms-summary": "Page Size",
            "x-example": "100"
          },
          {
            "in": "query",
            "name": "pageAfter",
            "description": "The cursor after which to retrieve results. The cursor can be taken from a preceding request.",
            "type": "string",
            "x-ms-summary": "Page After",
            "x-example": "opaque cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponseWebhookResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-ms-visibility": "internal"
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create Webhook",
        "description": "Creates a webhook by the given fields and returns the newly created. 1000 webhooks are currently supported per system.",
        "operationId": "CreateWebhook",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "Webhook represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookCreateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/WebhookResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-ms-trigger": "single"
      },
      "x-ms-notification-content": {
        "description": "Webhook Notification",
        "x-ms-summary": "Webhook Notification",
        "schema": {
          "type": "object",
          "properties": {},
          "x-ms-dynamic-schema": {
            "operationId": "GetNotificationDynamicSchema",
            "parameters": {},
            "value-path": "schema"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/roleCapacities/{roleId}": {
      "get": {
        "tags": [
          "Role Capacities"
        ],
        "summary": "Get the Capacity Segments of a Role",
        "description": "Returns the capacity segments for the role specified by the given ID. Returns an empty list if no capacity segments exist.",
        "operationId": "GetRoleCapacities",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "roleId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Role Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseRoleCapacityResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Role Capacities"
        ],
        "summary": "Update the Capacity Segments of a Role",
        "description": "Updates the capacity segments for the role specified by the given ID. To erase all capacity segments, send a segment without start or finish and 0 capacity",
        "operationId": "UpdateRoleCapacities",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "roleId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Role Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Role Capacity payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoleCapacityUpdateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseRoleCapacityResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get a List of Projects",
        "description": "This endpoint is paginated. It returns a list of projects up to the specified PAGESIZE",
        "operationId": "GetAllProjects",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Page Size",
            "type": "integer",
            "default": 100,
            "maximum": 500,
            "minimum": 1,
            "x-ms-summary": "Page Size",
            "x-example": "100"
          },
          {
            "in": "query",
            "name": "pageAfter",
            "description": "The cursor after which to retrieve results. The cursor can be taken from a preceding request.",
            "type": "string",
            "x-ms-summary": "Page After",
            "x-example": "opaque cursor"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Stringified JSON object with a subset of properties of the expected object.",
            "type": "string",
            "x-ms-summary": "Filter",
            "x-example": "{\"status\": \"Critical\", \"customFields\": {\"cust_prj_number\": \"PR001\"}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponseAllProjectsResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create Projects",
        "description": "Creates a project with the given fields and returns the newly created project.",
        "operationId": "CreateProject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Project represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectCreateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ProjectResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/projects/{projectId}/taskManagementLink": {
      "get": {
        "tags": [
          "Task Management"
        ],
        "summary": "Get Task Management Link",
        "description": "Returns a task management link of a project",
        "operationId": "GetTaskManagementLink",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskManagementLinkResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "Task Management"
        ],
        "summary": "Delete Task Management Link",
        "description": "Deletes a task management link of a project",
        "operationId": "DeleteTaskManagementLink",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Task Management"
        ],
        "summary": "Create or Update Task Management Link",
        "description": "This endpoint lets you add a task management link to a project or update the externalViewUrl",
        "operationId": "CreateOrUpdateTaskManagementLink",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Task Management Link represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskManagementLinkCreateOrUpdateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/TaskManagementLinkResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/projects/{projectId}/taskManagementLink/tasks": {
      "get": {
        "tags": [
          "Task Management"
        ],
        "summary": "Get a List of Tasks",
        "description": "This endpoint is paginated. It returns a list of tasks up to the specified PAGESIZE",
        "operationId": "GetAllTasks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Page Size",
            "type": "integer",
            "default": 100,
            "maximum": 500,
            "minimum": 1,
            "x-ms-summary": "Page Size",
            "x-example": "100"
          },
          {
            "in": "query",
            "name": "pageAfter",
            "description": "The cursor after which to retrieve results. The cursor can be taken from a preceding request.",
            "type": "string",
            "x-ms-summary": "Page After",
            "x-example": "opaque cursor"
          },
          {
            "in": "query",
            "name": "key",
            "description": "Selects all objects that matches the key exactly.",
            "type": "string",
            "x-ms-summary": "Key",
            "x-example": "TSK001"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponseTaskResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Task Management"
        ],
        "summary": "Create or Update Task",
        "description": "Creates or updates a task with the given fields.",
        "operationId": "CreateOrUpdateTask",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Task represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskCreateOrUpdateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Unit"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/projects/{projectId}/actuals": {
      "get": {
        "tags": [
          "Actual Time Worked"
        ],
        "summary": "Get a List of Actual Time Worked",
        "description": "Returns a list of actual time worked for all projects of a specific scenario. Please note that actual time worked data itself is independent from its scenario.",
        "operationId": "GetAllActualTimeWorked",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Page Size",
            "type": "integer",
            "default": 100,
            "maximum": 100,
            "minimum": 1,
            "x-ms-summary": "Page Size",
            "x-example": "100"
          },
          {
            "in": "query",
            "name": "pageAfter",
            "description": "The cursor after which to retrieve results. The cursor can be taken from a preceding request.",
            "type": "string",
            "x-ms-summary": "Page After",
            "x-example": "opaque cursor"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Stringified JSON object with a subset of properties of the expected object.",
            "type": "string",
            "x-ms-summary": "Filter",
            "x-example": "{ \"id\": \"UUID\" }"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponseActualTimeWorkedResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "Actual Time Worked"
        ],
        "summary": "Delete Actual Time Worked",
        "description": "Deletes all actual time worked of a given project.",
        "operationId": "DeleteAllActualTimeWorked",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Actual Time Worked"
        ],
        "summary": "Create or Update Actual Time Worked",
        "description": "This endpoint lets you create new actual time worked and update the existing actual time worked of a project by an entity (resource or role). We will not update actual time worked for booking dates that are not specified in the request for a given project and entity. With the mode property you can control if an existing actual time worked value is replaced by the new value or if its value is added to the booking in the request. Please note that actual time worked data itself is independent from its scenario. It will be the same across all scenarios for any given project. A request is limited to 5000 actual time worked values per project and resource/role.",
        "operationId": "CreateOrUpdateActualTimeWorked",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Actual Time Worked represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActualTimeWorkedCreateOrUpdateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ActualTimeWorkedResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/programs": {
      "get": {
        "tags": [
          "Programs"
        ],
        "summary": "Get a List of Programs",
        "description": "Returns a list of programs in the given scenario",
        "operationId": "GetAllPrograms",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseProgramResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Programs"
        ],
        "summary": "Create Programs",
        "description": "Creates a program with the given fields and returns the newly created program.",
        "operationId": "CreateProgram",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Program represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProgramCreateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ProgramResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/priorities": {
      "post": {
        "tags": [
          "Priorities"
        ],
        "summary": "Update Priorities",
        "description": "This endpoint updates the priorities of projects and programs.",
        "operationId": "UpdatePriorities",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "prioritiesUpdateRequest",
            "description": "Priorities represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrioritiesUpdateRequest"
            },
            "x-ms-summary": "Priorities Update Request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/milestoneDependencies": {
      "get": {
        "tags": [
          "Milestone Dependencies"
        ],
        "summary": "Get a List of Milestone Dependencies",
        "description": "Returns a list of milestones dependencies of a scenario",
        "operationId": "GetAllMilestoneDependencies",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Page Size",
            "type": "integer",
            "default": 100,
            "maximum": 500,
            "minimum": 1,
            "x-ms-summary": "Page Size",
            "x-example": "100"
          },
          {
            "in": "query",
            "name": "pageAfter",
            "description": "The cursor after which to retrieve results. The cursor can be taken from a preceding request.",
            "type": "string",
            "x-ms-summary": "Page After",
            "x-example": "opaque cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponseMilestoneDependencyResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Milestone Dependencies"
        ],
        "summary": "Create a Milestone Dependency",
        "description": "Returns the id of the newly created milestone dependency",
        "operationId": "CreateMilestoneDependency",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Milestone dependency represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MilestoneDependencyCreateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/MilestoneDependencyCreateResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/roles": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "Get a List of Roles",
        "description": "Returns a list of all available roles. If no roles are available, an empty list is returned.",
        "operationId": "GetAllRoles",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "filter",
            "description": "Stringified JSON object with a subset of properties of the expected object.",
            "type": "string",
            "x-ms-summary": "Filter",
            "x-example": "{ \"externalId\": \"myCustomID\" }"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseRoleResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Roles"
        ],
        "summary": "Create Roles",
        "description": "Returns the created role on success.\n\nPaths\n\nPaths delimited by / (e.g. in calendars and OBS unit paths) may define path segments which contain / by escaping with //. E.g. the path Europe/Berlin//Amsterdam will be interpreted as ['Europe', 'Berlin/Amsterdam']. An uneven amount of slashes will be interpreted as the following segment starting with one or more slashes.",
        "operationId": "CreateRole",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "Role represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoleCreateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/RoleResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/resources": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a List of Resources",
        "description": "This endpoint is paginated. It returns a list of resources up to the specified PAGESIZE",
        "operationId": "GetAllResources",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "pageSize",
            "description": "Page Size",
            "type": "integer",
            "default": 100,
            "maximum": 500,
            "minimum": 1,
            "x-ms-summary": "Page Size",
            "x-example": "100"
          },
          {
            "in": "query",
            "name": "pageAfter",
            "description": "The cursor after which to retrieve results. The cursor can be taken from a preceding request.",
            "type": "string",
            "x-ms-summary": "Page After",
            "x-example": "opaque cursor"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Stringified JSON object with a subset of properties of the expected object.",
            "type": "string",
            "x-ms-summary": "Filter",
            "x-example": "{ \"externalId\": \"myCustomID\" }"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponseResourceResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Create Resources",
        "description": "Creates a resource by the given fields and returns the newly created.\n\nPaths\n\nPaths delimited by / (e.g. in calendars and OBS unit paths) may define path segments which contain / by escaping with //. E.g. the path Europe/Berlin//Amsterdam will be interpreted as ['Europe', 'Berlin/Amsterdam']. An uneven amount of slashes will be interpreted as the following segment starting with one or more slashes.",
        "operationId": "CreateResource",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "Resource represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceCreateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResourceResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/resources/{resourceId}/calendarDeviations": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get Deviations from the Calendar",
        "description": "Reads deviations to the resource's calendar working hours. If no start and finish values are passed, all deviations of the requested resource are returned. If only start is passed, all deviations starting from this time are returned. If only finish is passed, all deviations up to that point are returned.",
        "operationId": "GetCalendarDeviations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "resourceId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Resource Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "query",
            "name": "start",
            "description": "Start date for filtering time period",
            "type": "string",
            "format": "date",
            "x-ms-summary": "Start",
            "x-example": "2019-01-31"
          },
          {
            "in": "query",
            "name": "finish",
            "description": "Finish date for filtering time period",
            "type": "string",
            "format": "date",
            "x-ms-summary": "Finish",
            "x-example": "2019-12-31"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseCalendarDeviationResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Update Deviations from the Calendar",
        "description": "Use this request to replace all calendar deviations of a resource for a certain time period. This time period can be defined using the root start and finish attributes of the request. Specify the new list of calendar deviations with the deviations property. Note that all deviations in the specified period will be overwritten by the deviations listed in the deviations property.\n\n-   If null is used for the start period and end period, all calendar     deviations of the resource are overwritten -   If only the start date of the period is defined, all deviations     starting from this time will be overwritten -   If only the end date of the period is defined, all deviations up to     that point will be overwritten -   If null is used for the start and/or end date of a calendar     deviation, the deviation is assumed to last from or until the root     start or finish date specified above.\n\nAll deviations are flattened into a sequential structure. Cases of overlapping deviations will be resolved by giving precedence to deviations occurring later in the array.",
        "operationId": "UpdateCalendarDeviations",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "resourceId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Resource Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Calendar deviations of a given time period represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CalendarDeviationUpdateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseCalendarDeviationResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/obsTypes": {
      "get": {
        "tags": [
          "OBS"
        ],
        "summary": "Get all OBS Types",
        "description": "This endpoint is for OBS types only. To get OBS units, use /obsTypes/<obs-type-id>/obsUnits",
        "operationId": "GetAllObsTypes",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseObsTypeResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "OBS"
        ],
        "summary": "Create OBS Type",
        "description": "Creates an OBS type with the given data. Will return the newly created OBS type.",
        "operationId": "CreateObsType",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "OBS Type represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ObsTypeCreateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ObsTypeResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/obsTypes/{obsTypeId}/obsUnits": {
      "get": {
        "tags": [
          "OBS"
        ],
        "summary": "Get all OBS Units",
        "description": "This endpoint returns a list of all OBS units for the given OBS type.",
        "operationId": "GetAllObsUnits",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "obsTypeId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Obs Type Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseObsUnitResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "OBS"
        ],
        "summary": "Create OBS Unit",
        "description": "Creates an OBS unit with the given data. Will return the newly created OBS unit.",
        "operationId": "CreateObsUnit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "obsTypeId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Obs Type Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "obsUnitCreateRequest",
            "description": "OBS Unit represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ObsUnitCreateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ObsUnitResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "tags": [
          "Calendars"
        ],
        "summary": "Get a List of Calendars",
        "description": "Get a list of all calendars in your Meisterplan system.",
        "operationId": "GetAllCalendars",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseCalendarResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Calendars"
        ],
        "summary": "Create Calendars",
        "description": "Create a calendar with the given data. Will return the newly created calendar.",
        "operationId": "CreateCalendar",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "Calendar represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CalendarCreateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CalendarResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/calendars/{calendarId}/exceptions": {
      "get": {
        "tags": [
          "Calendars"
        ],
        "summary": "Get a List of Calendar Exceptions",
        "description": "Get a list of all exceptions to this calendar in your Meisterplan system.",
        "operationId": "GetAllCalendarExceptions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "calendarId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Calendar Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "query",
            "name": "startDate",
            "description": "Start Date",
            "type": "string",
            "format": "date",
            "x-ms-summary": "Start Date"
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "End Date",
            "type": "string",
            "format": "date",
            "x-ms-summary": "End Date"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseCalendarExceptionResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Calendars"
        ],
        "summary": "Update Calendar Exceptions",
        "description": "Use this request to replace all calendar exceptions for a certain time period. This time period can be defined using the root start and finish attributes of the request. Specify the new list of calendar exceptions with the exceptions property. Note that all exceptions in the specified period will be overwritten by the exceptions listed in the exceptions property.\n\n-   If null is used for the start period and end period, all exceptions     of the calendar are overwritten -   If only the start date of the period is defined, all exceptions     starting from this time will be overwritten -   If only the end date of the period is defined, all exceptions up to     that point will be overwritten -   If an exception is removed and a parent calendar has an exception at     that date, this calendar inherits the exception from the parent     calendar.",
        "operationId": "CreateCalendarExceptions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "calendarId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Calendar Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Calendar exceptions of a given time period represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCalendarExceptionsRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/calendars/defaultCalendar": {
      "post": {
        "tags": [
          "Calendars"
        ],
        "summary": "Set Default Calendar",
        "description": "Sets an existing calendar as the default calendar in your Meisterplan system.",
        "operationId": "SetDefaultCalendar",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "The id of an existing calendar.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetDefaultCalendarRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/webhooks/{webhookId}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get Webhook by ID",
        "description": "Returns the individual webhook specified by the given ID.",
        "operationId": "GetWebhookById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "webhookId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Webhook Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WebhookResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-ms-visibility": "internal"
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete Webhook",
        "description": "Delete the webhook specified by the given ID. If the webhook with the given ID does not exist, the request will fail.",
        "operationId": "DeleteWebhook",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "webhookId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Webhook Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-ms-visibility": "internal"
      },
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update Webhook Status",
        "description": "Set the status of a webhook specified by the given ID.",
        "operationId": "UpdateWebhookStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "webhookId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Webhook Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Webhook status represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookUpdateStatusRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WebhookResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/v1/scenarios/{scenarioId}/projects/{projectId}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get Projects by ID",
        "description": "Returns the individual project specified by the given ID.",
        "operationId": "GetProjectById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete Projects",
        "description": "Deletes a project in a given scenario.",
        "operationId": "DeleteProject",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "patch": {
        "tags": [
          "Projects"
        ],
        "summary": "Update Projects",
        "description": "Perform an update on a project specified by the given ID.",
        "operationId": "UpdateProject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scenarioId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Scenario Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "path",
            "name": "projectId",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-url-encoding": "single",
            "x-example": "UUID"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Project represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectUpdateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/projects/{projectId}/milestones/{milestoneId}": {
      "get": {
        "tags": [
          "Milestones"
[...]
