{
  "swagger": "2.0",
  "info": {
    "description": "Meisterplan is a portfolio-level resource management tool that helps portfolio and resource managers manage people across teams and initiatives whether your work is traditional, agile or hybrid. Use it to make confident portfolio decisions and interactively surface and solve resource conflicts.",
    "version": "1.4.0",
    "title": "Meisterplan",
    "termsOfService": "https://meisterplan.com/terms-of-service/",
    "contact": {
      "name": "Meisterplan Support",
      "url": "https://help.meisterplan.com/",
      "email": "support@meisterplan.com"
    },
    "x-logo": {
      "url": "https://static.meisterplan.com/web/images/restingrhino/logo_meisterplan_api_doc.png"
    }
  },
  "host": "api.us.meisterplan.com",
  "basePath": "/",
  "tags": [
    {
      "name": "Absences",
      "description": "Operations on Absences"
    },
    {
      "name": "Actual Time Worked",
      "description": "Operations on Actual Time Worked"
    },
    {
      "name": "Allocations",
      "description": "Operations on Allocations"
    },
    {
      "name": "BusinessGoals",
      "description": "Business Goal Definition queries"
    },
    {
      "name": "Calendars",
      "description": "Operations on Calendars"
    },
    {
      "name": "Financial Actuals",
      "description": "Operations on Financial Actuals"
    },
    {
      "name": "Financials",
      "description": "Operations on Financials"
    },
    {
      "name": "Me",
      "description": "Connected user details."
    },
    {
      "name": "Metadata",
      "description": "Metadata queries"
    },
    {
      "name": "Milestone Dependencies",
      "description": "Operations on Milestones"
    },
    {
      "name": "Milestones",
      "description": "Operations on Milestones"
    },
    {
      "name": "OBS",
      "description": "Operations on OBS types and OBS units. Each OBS or OBS type can have any number of OBS units, for example, the OBS Department could have Marketing and Software Engineering as OBS units."
    },
    {
      "name": "Portfolios",
      "description": "Operations on Portfolios"
    },
    {
      "name": "Priorities",
      "description": "Operations on Priorities"
    },
    {
      "name": "Programs",
      "description": "Operations on Programs"
    },
    {
      "name": "Projects",
      "description": "Operations on Projects"
    },
    {
      "name": "Resources",
      "description": "Operations on Resources"
    },
    {
      "name": "Role Capacities",
      "description": "Operations on Role Capacity. A role's own capacity is inherent to the role, and does not contain the capacities of resources assigned to this role."
    },
    {
      "name": "Roles",
      "description": "Operations on Roles"
    },
    {
      "name": "SCIM 2.0 (Premium)",
      "description": "Operations on users and user groups. A Premium Edition is required to use these operations. You can use these operations to implement automatic user provisioning."
    },
    {
      "name": "Scenarios",
      "description": "Operations on Scenarios"
    },
    {
      "name": "Users (Premium)",
      "description": "Operations on users. A Premium Edition is required to use these operations. If you would like to implement automatic user provisioning, please refer to the SCIM 2.0 endpoints."
    },
    {
      "name": "Webhooks",
      "description": "Webhooks allow to subscribe to notifications about changes in Meisterplan. An HTTP request with a small payload is sent to the specified endpoint when an event that you have subscribed to occurs. Currently webhooks support the following types of events: Project Created, Project Updated, Project Deleted."
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/businessGoals": {
      "get": {
        "tags": [
          "BusinessGoals"
        ],
        "summary": "Business goals",
        "description": "Returns all business goals",
        "operationId": "GetAllBusinessGoals",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseOfBusinessGoalDefinitionResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "tags": [
          "Calendars"
        ],
        "summary": "Get a List of Calendars",
        "description": "Get a list of all calendars in your Meisterplan system.",
        "operationId": "GetAllCalendars",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseOfCalendarResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Calendars"
        ],
        "summary": "Create Calendars",
        "description": "Create a calendar with the given data. Will return the newly created calendar.",
        "operationId": "CreateCalendar",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "Calendar represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CalendarCreateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CalendarResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/calendars/defaultCalendar": {
      "post": {
        "tags": [
          "Calendars"
        ],
        "summary": "Set Default Calendar",
        "description": "Sets an existing calendar as the default calendar in your Meisterplan system.",
        "operationId": "SetDefaultCalendar",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "The id of an existing calendar.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetDefaultCalendarRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/Unit"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/calendars/{calendarId}": {
      "get": {
        "tags": [
          "Calendars"
        ],
        "summary": "Get Calendars by ID",
        "description": "Get one calendar in your Meisterplan system. Use the special ID defaultCalendar to get the default calendar.",
        "operationId": "GetCalendarById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "CalendarId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CalendarResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "Calendars"
        ],
        "summary": "Delete Calendars",
        "description": "Deletes a calendar in your Meisterplan system. Please note that the default calendar or a parent of the default calendar cannot be deleted.",
        "operationId": "DeleteCalendarById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "CalendarId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/Unit"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "patch": {
        "tags": [
          "Calendars"
        ],
        "summary": "Update Calendars",
        "description": "Perform an update on a calendar specified by the given ID.\n\nPaths\n\nPaths delimited by / (e.g. in calendars and OBS unit paths) may define path segments which contain / by escaping with //. E.g. the path Europe/Berlin//Amsterdam will be interpreted as ['Europe', 'Berlin/Amsterdam']. An uneven amount of slashes will be interpreted as the following segment starting with one or more slashes.",
        "operationId": "UpdateCalendar",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "CalendarId",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Calendar represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CalendarUpdateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CalendarResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/calendars/{calendarId}/exceptions": {
      "get": {
        "tags": [
          "Calendars"
        ],
        "summary": "Get a List of Calendar Exceptions",
        "description": "Get a list of all exceptions to this calendar in your Meisterplan system.",
        "operationId": "GetAllCalendarExceptions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "CalendarId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "endDate",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "EndDate"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "startDate",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "StartDate"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseOfCalendarExceptionResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Calendars"
        ],
        "summary": "Update Calendar Exceptions",
        "description": "Use this request to replace all calendar exceptions for a certain time period. This time period can be defined using the root start and finish attributes of the request. Specify the new list of calendar exceptions with the exceptions property. Note that all exceptions in the specified period will be overwritten by the exceptions listed in the exceptions property.\n\n-   If null is used for the start period and end period, all exceptions     of the calendar are overwritten -   If only the start date of the period is defined, all exceptions     starting from this time will be overwritten -   If only the end date of the period is defined, all exceptions up to     that point will be overwritten -   If an exception is removed and a parent calendar has an exception at     that date, this calendar inherits the exception from the parent     calendar.",
        "operationId": "CreateCalendarExceptions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "CalendarId",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Calendar exceptions of a given time period represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCalendarExceptionsRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Unit"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "Me"
        ],
        "summary": "Me",
        "description": "Returns information about the connected user.",
        "operationId": "GetMe",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MeResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/v1/meta/notification/dynamicSchema": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Notification Dynamic Schema",
        "description": "Returns swagger schema for webhook notifications.",
        "operationId": "GetNotificationDynamicSchema",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SchemaResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/v1/meta/obs/dynamicSchema": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "OBS Dynamic Schema",
        "description": "Returns swagger schema for OBS units.",
        "operationId": "GetObsDynamicSchema",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "description": "mode",
            "required": true,
            "type": "string",
            "enum": [
              "CREATE_INPUT",
              "OUTPUT",
              "UPDATE_INPUT"
            ],
            "x-ms-summary": "Mode"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SchemaResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/v1/meta/project/dynamicSchema": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Project Dynamic Schema",
        "description": "Returns swagger schema for project entity.",
        "operationId": "GetProjectDynamicSchema",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "description": "mode",
            "required": true,
            "type": "string",
            "enum": [
              "CREATE_INPUT",
              "OUTPUT",
              "UPDATE_INPUT"
            ],
            "x-ms-summary": "Mode"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SchemaResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/v1/obsTypes": {
      "get": {
        "tags": [
          "OBS"
        ],
        "summary": "Get all OBS Types",
        "description": "This endpoint is for OBS types only. To get OBS units, use /obsTypes/<obs-type-id>/obsUnits",
        "operationId": "GetAllObsTypes",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseOfObsTypeResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "OBS"
        ],
        "summary": "Create OBS Type",
        "description": "Creates an OBS type with the given data. Will return the newly created OBS type.",
        "operationId": "CreateObsType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "OBS Type represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ObsTypeCreateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ObsTypeResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/obsTypes/{obsTypeId}": {
      "get": {
        "tags": [
          "OBS"
        ],
        "summary": "Get an OBS Type by ID",
        "description": "This endpoint is for OBS types only. To get OBS units, use /obsTypes/<obs-type-id>/obsUnits",
        "operationId": "GetObsTypeById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "obsTypeId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ObsTypeId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ObsTypeResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "OBS"
        ],
        "summary": "Delete an OBS Type by ID",
        "description": "Delete the OBS type specified by the given ID. If the OBS type with the given ID does not exist, the request will fail.",
        "operationId": "DeleteObsType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "obsTypeId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ObsTypeId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/Unit"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "patch": {
        "tags": [
          "OBS"
        ],
        "summary": "Update OBS Types",
        "description": "Performs an update on an OBS type specified by the given ID.",
        "operationId": "UpdateObsType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "obsTypeId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ObsTypeId",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "OBS Type represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ObsTypeUpdateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ObsTypeResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/obsTypes/{obsTypeId}/obsUnits": {
      "get": {
        "tags": [
          "OBS"
        ],
        "summary": "Get all OBS Units",
        "description": "This endpoint returns a list of all OBS units for the given OBS type.",
        "operationId": "GetAllObsUnits",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "obsTypeId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ObsTypeId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseOfObsUnitResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "OBS"
        ],
        "summary": "Create OBS Unit",
        "description": "Creates an OBS unit with the given data. Will return the newly created OBS unit.",
        "operationId": "CreateObsUnit",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "obsTypeId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ObsTypeId",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "obsUnitCreateRequest",
            "description": "OBS Unit represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ObsUnitCreateRequest"
            },
            "x-ms-summary": "ObsUnitCreateRequest"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ObsUnitResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/obsTypes/{obsTypeId}/obsUnits/{obsUnitId}": {
      "get": {
        "tags": [
          "OBS"
        ],
        "summary": "Get an OBS Unit",
        "description": "This endpoint returns a single OBS unit.",
        "operationId": "GetObsUnit",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "obsTypeId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ObsTypeId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "obsUnitId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ObsUnitId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ObsUnitResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "OBS"
        ],
        "summary": "Delete an OBS Unit by ID",
        "description": "Deletes the OBS unit specified by the given ID. If the OBS unit with the given ID does not exist, the request will fail.",
        "operationId": "DeleteObsUnit",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "obsTypeId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ObsTypeId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "obsUnitId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ObsUnitId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/Unit"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "patch": {
        "tags": [
          "OBS"
        ],
        "summary": "Update an OBS Unit",
        "description": "Updates a single OBS unit's name or moves it to a different parent.",
        "operationId": "UpdateObsUnit",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "obsTypeId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ObsTypeId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "obsUnitId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ObsUnitId",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "obsUnitUpdateRequest",
            "description": "OBS Unit represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ObsUnitUpdateRequest"
            },
            "x-ms-summary": "ObsUnitUpdateRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ObsUnitResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/portfolios": {
      "get": {
        "tags": [
          "Portfolios"
        ],
        "summary": "Get a List of Portfolios",
        "description": "Returns a list of all available portfolios. If you do not have the right to view any portfolio, Returns a list of all available portfolios that you have the right to access via your API token. If you do not have the right to view any portfolio, an empty list will be returned.",
        "operationId": "GetAllPortfolios",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseOfPortfolioResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/resources": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a List of Resources",
        "description": "This endpoint is paginated. It returns a list of resources up to the specified PAGESIZE",
        "operationId": "GetAllResources",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Stringified JSON object with a subset of properties of the expected object. Selects all objects that exactly match the specified properties. Note: take care to URL encode your parameter. { \"resourceKey\": string, \"lastName\": string, \"externalId\": string, \"emailAddress\": string, \"postalAddress\": { \"city\": string, \"country\": string, \"postalCode\": string } }",
            "required": false,
            "type": "string",
            "x-example": "{ \"externalId\": \"myCustomID\" }",
            "x-ms-summary": "Filter"
          },
          {
            "name": "pageAfter",
            "in": "query",
            "description": "The cursor after which to retrieve results. The cursor can be taken from a preceding request.",
            "required": false,
            "type": "string",
            "x-example": "opaque cursor",
            "x-ms-summary": "PageAfter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Can be between 1 and 500",
            "required": false,
            "type": "integer",
            "default": 100,
            "maximum": 500,
            "exclusiveMaximum": false,
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int32",
            "x-example": 200,
            "x-ms-summary": "PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponseOfResourceResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Create Resources",
        "description": "Creates a resource by the given fields and returns the newly created.\n\nPaths\n\nPaths delimited by / (e.g. in calendars and OBS unit paths) may define path segments which contain / by escaping with //. E.g. the path Europe/Berlin//Amsterdam will be interpreted as ['Europe', 'Berlin/Amsterdam']. An uneven amount of slashes will be interpreted as the following segment starting with one or more slashes.",
        "operationId": "CreateResource",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "Resource represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceCreateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResourceResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/resources/{resourceId}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get Resources by ID",
        "description": "Returns the individual resource specified by the given ID.",
        "operationId": "GetResourceById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ResourceId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "Resources"
        ],
        "summary": "Delete Resources",
        "description": "Delete the resource specified by the given ID. If the resource with the given ID does not exist, the request fails.",
        "operationId": "DeleteResource",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ResourceId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/Unit"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "patch": {
        "tags": [
          "Resources"
        ],
        "summary": "Update Resources",
        "description": "Perform an update on a resource specified by the given ID.\n\nPaths\n\nPaths delimited by / (e.g. in calendars and OBS unit paths) may define path segments which contain / by escaping with //. E.g. the path Europe/Berlin//Amsterdam will be interpreted as ['Europe', 'Berlin/Amsterdam']. An uneven amount of slashes will be interpreted as the following segment starting with one or more slashes.",
        "operationId": "UpdateResource",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "Resource represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceUpdateRequest"
            },
            "x-ms-summary": "Payload"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ResourceId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/resources/{resourceId}/absences": {
      "get": {
        "tags": [
          "Absences"
        ],
        "summary": "Get a List of Absences",
        "description": "Returns a list of absences of the resource.",
        "operationId": "GetAllAbsences",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "finishDate",
            "in": "query",
            "description": "Inclusive finish date for filtering time period.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-example": "2019-12-31",
            "x-ms-summary": "FinishDate"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ResourceId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for filtering time period",
            "required": false,
            "type": "string",
            "format": "date",
            "x-example": "2019-01-31",
            "x-ms-summary": "StartDate"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseOfAbsenceResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "Create Absences",
        "description": "Use this request to add an absence for a certain time period. This time period can be defined using the start and finish attributes of the request.",
        "operationId": "CreateAbsences",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "Absence in a given time period represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAbsenceRequest"
            },
            "x-ms-summary": "Payload"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ResourceId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AbsenceResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "Absences"
        ],
        "summary": "Replace Absences",
        "description": "This endpoint lets you replace all absences of a resource. The result will be the same as if all existing absences are deleted and the passed absences are created again.",
        "operationId": "ReplaceAbsences",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "absences",
            "description": "Absences represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReplaceAbsencesRequest"
            },
            "x-ms-summary": "Absences"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Inclusive end date of replacement period.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-example": "2019-12-31",
            "x-ms-summary": "End"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ResourceId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date of replacement period",
            "required": false,
            "type": "string",
            "format": "date",
            "x-example": "2019-01-31",
            "x-ms-summary": "Start"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/Unit"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/resources/{resourceId}/absences/{absenceId}": {
      "get": {
        "tags": [
          "Absences"
        ],
        "summary": "Get Absences by ID",
        "description": "Returns the individual absence specified by the given ID.",
        "operationId": "GetAbsenceById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "absenceId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "AbsenceId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ResourceId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AbsenceResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "Absences"
        ],
        "summary": "Delete Absence",
        "description": "Deletes an absence.",
        "operationId": "DeleteAbsence",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "absenceId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "AbsenceId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ResourceId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/Unit"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "patch": {
        "tags": [
          "Absences"
        ],
        "summary": "Update Absences",
        "description": "Use this request to update an absence.",
        "operationId": "UpdateAbsences",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "absenceId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "AbsenceId",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "payload",
            "description": "Absence in a given time period represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAbsenceRequest"
            },
            "x-ms-summary": "Payload"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ResourceId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AbsenceResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/resources/{resourceId}/calendarDeviations": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get Deviations from the Calendar",
        "description": "Reads deviations to the resource's calendar working hours. If no start and finish values are passed, all deviations of the requested resource are returned. If only start is passed, all deviations starting from this time are returned. If only finish is passed, all deviations up to that point are returned.",
        "operationId": "GetCalendarDeviations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "finish",
            "in": "query",
            "description": "Finish date for filtering time period",
            "required": false,
            "type": "string",
            "format": "date",
            "x-example": "2019-12-31",
            "x-ms-summary": "Finish"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ResourceId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date for filtering time period",
            "required": false,
            "type": "string",
            "format": "date",
            "x-example": "2019-01-31",
            "x-ms-summary": "Start"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseOfCalendarDeviationResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Update Deviations from the Calendar",
        "description": "Use this request to replace all calendar deviations of a resource for a certain time period. This time period can be defined using the root start and finish attributes of the request. Specify the new list of calendar deviations with the deviations property. Note that all deviations in the specified period will be overwritten by the deviations listed in the deviations property.\n\n-   If null is used for the start period and end period, all calendar     deviations of the resource are overwritten -   If only the start date of the period is defined, all deviations     starting from this time will be overwritten -   If only the end date of the period is defined, all deviations up to     that point will be overwritten -   If null is used for the start and/or end date of a calendar     deviation, the deviation is assumed to last from or until the root     start or finish date specified above.\n\nAll deviations are flattened into a sequential structure. Cases of overlapping deviations will be resolved by giving precedence to deviations occurring later in the array.",
        "operationId": "UpdateCalendarDeviations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "Calendar deviations of a given time period represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CalendarDeviationUpdateRequest"
            },
            "x-ms-summary": "Payload"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ResourceId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseOfCalendarDeviationResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/roles": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "Get a List of Roles",
        "description": "Returns a list of all available roles. If no roles are available, an empty list is returned.",
        "operationId": "GetAllRoles",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Stringified JSON object with a subset of properties of the expected object. Selects all objects that exactly match the specified properties. Note: take care to URL encode your parameter. { \"externalId\": string, \"name\": string }",
            "required": false,
            "type": "string",
            "x-example": "{ \"externalId\": \"myCustomID\" }",
            "x-ms-summary": "Filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseOfRoleResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Roles"
        ],
        "summary": "Create Roles",
        "description": "Returns the created role on success.\n\nPaths\n\nPaths delimited by / (e.g. in calendars and OBS unit paths) may define path segments which contain / by escaping with //. E.g. the path Europe/Berlin//Amsterdam will be interpreted as ['Europe', 'Berlin/Amsterdam']. An uneven amount of slashes will be interpreted as the following segment starting with one or more slashes.",
        "operationId": "CreateRole",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "Role represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoleCreateRequest"
            },
            "x-ms-summary": "Payload"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/RoleResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/roles/{roleId}": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "Get Roles by ID",
        "description": "Returns the individual role specified by the given ID.",
        "operationId": "GetRoleById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "RoleId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RoleResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "Roles"
        ],
        "summary": "Delete Roles",
        "description": "Delete the role specified by the given ID. If the role with the given ID does not exist, the request will fail.",
        "operationId": "DeleteRole",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "RoleId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/Unit"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "patch": {
        "tags": [
          "Roles"
        ],
        "summary": "Update Roles",
        "description": "Perform an update on a role specified by the given ID. To do a partial update, only the updated fields need to be sent. To delete a field value, the field must be sent with an explicit null value. Fields with a default value will be reset to their default when set to null.\n\nPaths\n\nPaths delimited by / (e.g. in calendars and OBS unit paths) may define path segments which contain / by escaping with //. E.g. the path Europe/Berlin//Amsterdam will be interpreted as ['Europe', 'Berlin/Amsterdam']. An uneven amount of slashes will be interpreted as the following segment starting with one or more slashes.",
        "operationId": "UpdateRole",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "Role represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoleUpdateRequest"
            },
            "x-ms-summary": "Payload"
          },
          {
            "name": "roleId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "RoleId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RoleResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios": {
      "get": {
        "tags": [
          "Scenarios"
        ],
        "summary": "Get a List of Scenarios",
        "description": "It returns a list of scenarios",
        "operationId": "GetAllScenarios",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseOfScenarioResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}": {
      "get": {
        "tags": [
          "Scenarios"
        ],
        "summary": "Get Scenarios by ID",
        "description": "Returns the individual scenario specified by the given ID. HINT: You can use \"planOfRecord\" as the ID for the plan of record scenario.",
        "operationId": "GetScenarioById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ScenarioId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScenarioResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/milestoneDependencies": {
      "get": {
        "tags": [
          "Milestone Dependencies"
        ],
        "summary": "Get a List of Milestone Dependencies",
        "description": "Returns a list of milestones dependencies of a scenario",
        "operationId": "GetAllMilestoneDependencies",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pageAfter",
            "in": "query",
            "description": "The cursor after which to retrieve results. The cursor can be taken from a preceding request.",
            "required": false,
            "type": "string",
            "x-example": "opaque cursor",
            "x-ms-summary": "PageAfter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Can be between 1 and 500",
            "required": false,
            "type": "integer",
            "default": 100,
            "maximum": 500,
            "exclusiveMaximum": false,
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int32",
            "x-example": 200,
            "x-ms-summary": "PageSize"
          },
          {
            "name": "scenarioId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ScenarioId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponseOfMilestoneDependencyResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Milestone Dependencies"
        ],
        "summary": "Create a Milestone Dependency",
        "description": "Returns the id of the newly created milestone dependency",
        "operationId": "CreateMilestoneDependency",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "Milestone dependency represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MilestoneDependencyCreateRequest"
            },
            "x-ms-summary": "Payload"
          },
          {
            "name": "scenarioId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ScenarioId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/MilestoneDependencyCreateResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/milestoneDependencies/{milestoneDependencyId}": {
      "delete": {
        "tags": [
          "Milestone Dependencies"
        ],
        "summary": "Delete Milestone Dependencies",
        "description": "Deletes a milestone dependency in a given scenario.",
        "operationId": "DeleteMilestoneDependency",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "milestoneDependencyId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "ID",
            "x-ms-summary": "MilestoneDependencyId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "scenarioId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ScenarioId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/Unit"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/priorities": {
      "post": {
        "tags": [
          "Priorities"
        ],
        "summary": "Update Priorities",
        "description": "This endpoint updates the priorities of projects and programs. Please consider that updating the priority of a project that is within a program results in unassigning the project from its program.To update the priorities of your projects and programs, list their IDs in the desired order of priority for each rank category. If there are projects or programs in Meisterplan for a particular rank category that are not mentioned in your list, you can use the position parameter to define whether your listed projects and programs will be ranked above or below those in Meisterplan.",
        "operationId": "UpdatePriorities",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "prioritiesUpdateRequest",
            "description": "Priorities represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrioritiesUpdateRequest"
            },
            "x-ms-summary": "PrioritiesUpdateRequest"
          },
          {
            "name": "scenarioId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ScenarioId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Unit"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/programs": {
      "get": {
        "tags": [
          "Programs"
        ],
        "summary": "Get a List of Programs",
        "description": "Returns a list of programs in the given scenario",
        "operationId": "GetAllPrograms",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ScenarioId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResponseOfProgramResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Programs"
        ],
        "summary": "Create Programs",
        "description": "Creates a program with the given fields and returns the newly created program.",
        "operationId": "CreateProgram",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "Program represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProgramCreateRequest"
            },
            "x-ms-summary": "Payload"
          },
          {
            "name": "scenarioId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ScenarioId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ProgramResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/programs/{programId}": {
      "delete": {
        "tags": [
          "Programs"
        ],
        "summary": "Delete Programs",
        "description": "Deletes a program specified by the given ID.",
        "operationId": "DeleteProgram",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ProgramId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "scenarioId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ScenarioId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "patch": {
        "tags": [
          "Programs"
        ],
        "summary": "Update Programs",
        "description": "Perform an update on a program specified by the given ID.",
        "operationId": "UpdateProgram",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "Program represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProgramUpdateRequest"
            },
            "x-ms-summary": "Payload"
          },
          {
            "name": "programId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ProgramId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "scenarioId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ScenarioId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProgramResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get a List of Projects",
        "description": "This endpoint is paginated. It returns a list of projects up to the specified PAGESIZE",
        "operationId": "GetAllProjects",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Stringified JSON object with a subset of properties of the expected object. Selects all objects that exactly match the specified properties. Projects are searchable by projectKey, name, externalId, programId, portfolioId, status and custom fields. Lookup fields can be filtered by a list of String values (logically OR link). Filtering on custom Currency, Date or Decimal fields is currently not supported. The filter programId = null will yield all projects that are not associated with a program. Furthermore, the filter portfolioId = null will yield all projects. Note: take care to URL encode your parameter. { \"projectKey\": string, \"name\": string, \"externalId\": string, \"programId\": string, \"portfolioId\": string, \"status\": [string, string, ...], \"customFields\": { \"cust_string_field_1\": string, \"cust_lookup_field_2\": [string, string, ...], \"cust_boolean_field_3\": true, \"cust_integer_field_4\": integer, .... } }",
            "required": false,
            "type": "string",
            "x-example": "{\"status\": \"Critical\", \"customFields\": {\"cust_prj_number\": \"PR001\"}}",
            "x-ms-summary": "Filter"
          },
          {
            "name": "pageAfter",
            "in": "query",
            "description": "The cursor after which to retrieve results. The cursor can be taken from a preceding request.",
            "required": false,
            "type": "string",
            "x-example": "opaque cursor",
            "x-ms-summary": "PageAfter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Can be between 1 and 500",
            "required": false,
            "type": "integer",
            "default": 100,
            "maximum": 500,
            "exclusiveMaximum": false,
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int32",
            "x-example": 200,
            "x-ms-summary": "PageSize"
          },
          {
            "name": "scenarioId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ScenarioId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponseOfAllProjectsResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create Projects",
        "description": "Creates a project with the given fields and returns the newly created project.",
        "operationId": "CreateProject",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "Project represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectCreateRequest"
            },
            "x-ms-summary": "Payload"
          },
          {
            "name": "scenarioId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ScenarioId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ProjectResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/projects/{projectId}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get Projects by ID",
        "description": "Returns the individual project specified by the given ID.",
        "operationId": "GetProjectById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ProjectId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "scenarioId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ScenarioId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete Projects",
        "description": "Deletes a project in a given scenario.",
        "operationId": "DeleteProject",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ProjectId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "scenarioId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ScenarioId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/Unit"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "patch": {
        "tags": [
          "Projects"
        ],
        "summary": "Update Projects",
        "description": "Perform an update on a project specified by the given ID.",
        "operationId": "UpdateProject",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "Project represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectUpdateRequest"
            },
            "x-ms-summary": "Payload"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ProjectId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "scenarioId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ScenarioId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/v1/scenarios/{scenarioId}/projects/{projectId}/actuals": {
      "get": {
        "tags": [
          "Actual Time Worked"
        ],
        "summary": "Get a List of Actual Time Worked",
        "description": "Returns a list of actual time worked for all projects of a specific scenario. Please note that actual time worked data itself is independent from its scenario.",
        "operationId": "GetAllActualTimeWorked",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Stringified JSON object with an entity id and that entity's type. The type can be \"RESOURCE\" or \"ROLE\". Selects all objects that exactly match the specified properties. Note: take care to URL encode your parameter. { \"id\": string, \"type\": string }",
            "required": false,
            "type": "string",
            "x-example": "{ \"id\": \"UUID\", \"type\": \"RESOURCE\" }",
            "x-ms-summary": "Filter"
          },
          {
            "name": "pageAfter",
            "in": "query",
            "description": "The cursor after which to retrieve results. The cursor can be taken from a preceding request.",
            "required": false,
            "type": "string",
            "x-example": "opaque cursor",
            "x-ms-summary": "PageAfter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Can be between 1 and 100",
            "required": false,
            "type": "integer",
            "default": 100,
            "maximum": 100,
            "exclusiveMaximum": false,
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int32",
            "x-example": 100,
            "x-ms-summary": "PageSize"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ProjectId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "scenarioId",
            "in": "path",
            "description": "Internal Meisterplan identifier",
            "required": true,
            "type": "string",
            "x-example": "UUID",
            "x-ms-summary": "ScenarioId",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedResponseOfActualTimeWorkedResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Actual Time Worked"
        ],
        "summary": "Create or Update Actual Time Worked",
        "description": "This endpoint lets you create new Actual Time Worked and update the existing Actual Time Worked of a project by an entity (resource or role). We will not update Actual Time Worked for booking dates that are not specified in the request for a given project and entity. With the mode property you can control if an existing Actual Time Worked value is replaced by the new value or if its value is added to the booking in the request.Please note that actual time worked data itself is independent from its scenario. It will be the same across all scenarios for a given project.",
        "operationId": "CreateOrUpdateActualTimeWorked",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "description": "Actual Time Worked represented by a JSON document.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActualTimeWorkedCreateOrUpdateRequest"
            },
[...]
