{
  "swagger": "2.0",
  "info": {
    "title": "Replicon",
    "description": "Replicon is a self-driving professional services automation solution that uses advanced technology to analyze real-time data, and then delivers recommendations to help keep projects, resources, and finances on track. The connector allows you to continuously sync projects, tasks, and resource assignments from Project Online to Replicon and time data from Replicon to Project Online.",
    "version": "1.0",
    "contact": {
      "name": "Replicon Support",
      "url": "https://www.replicon.com/customerzone/contact-support/",
      "email": "support@replicon.com"
    }
  },
  "host": "global.replicon.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/services/ProjectService1.svc/BulkGetProjectDetails3": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectDetailsResponse"
            }
          }
        },
        "operationId": "BulkGetProjectDetails3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Get Project Details",
        "description": "Get the project details from Replicon",
        "parameters": [
          {
            "name": "hostUrl",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Replicon Host Url",
            "x-ms-summary": "Host Url for Replicon"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "projects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uri": {
                        "type": "string",
                        "description": "project uri"
                      },
                      "name": {
                        "type": "string",
                        "description": "project name"
                      },
                      "code": {
                        "type": "string",
                        "description": "project code"
                      },
                      "parameterCorrelationId": {
                        "type": "string",
                        "description": "parameter correlation id"
                      }
                    }
                  },
                  "description": "projects"
                }
              }
            }
          }
        ]
      }
    },
    "/services/ProjectService1.svc/CreateProjectOrApplyModifications": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateProjectOrApplyModificationsResponse"
            }
          }
        },
        "summary": "Create Project Or Apply Modifications",
        "description": "Create Project Or Apply Modifications in Replicon",
        "operationId": "CreateProjectOrApplyModifications",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostUrl",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Replicon Host Url",
            "x-ms-summary": "Host Url for Replicon"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "target": {
                  "type": "object",
                  "description": "project target"
                },
                "modifications": {
                  "type": "object",
                  "properties": {
                    "nameToApply": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "description": "project name to apply"
                        }
                      },
                      "description": "name to apply"
                    },
                    "codeToApply": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "description": "project code to apply"
                        }
                      },
                      "description": "code to apply"
                    },
                    "descriptionToApply": {
                      "type": "object",
                      "description": "project description to apply"
                    },
                    "percentCompletedToApply": {
                      "type": "string",
                      "description": "percent completed to apply"
                    },
                    "startDateToApply": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "object",
                          "properties": {
                            "year": {
                              "type": "integer",
                              "format": "int32",
                              "description": "year of project start date"
                            },
                            "month": {
                              "type": "integer",
                              "format": "int32",
                              "description": "month of project start date"
                            },
                            "day": {
                              "type": "integer",
                              "format": "int32",
                              "description": "day of project start date"
                            }
                          },
                          "description": "project start date"
                        }
                      },
                      "description": "start date to apply"
                    },
                    "endDateToApply": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "object",
                          "properties": {
                            "year": {
                              "type": "integer",
                              "format": "int32",
                              "description": "year of project end date"
                            },
                            "month": {
                              "type": "integer",
                              "format": "int32",
                              "description": "month of project end date"
                            },
                            "day": {
                              "type": "integer",
                              "format": "int32",
                              "description": "day of project end date"
                            }
                          },
                          "description": "project end date"
                        }
                      },
                      "description": "end date to apply"
                    },
                    "billingTypeToApply": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "description": "billing type"
                        }
                      },
                      "description": "billing type to apply"
                    },
                    "projectLeaderToApply": {
                      "type": "object",
                      "description": "project leader to apply"
                    },
                    "isProjectLeaderApprovalRequired": {
                      "type": "string",
                      "description": "is project leader approval required"
                    },
                    "isTimeEntryAllowed": {
                      "type": "string",
                      "description": "is time entry allowed"
                    },
                    "defaultBillingCurrencyToApply": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "billing currency name"
                            }
                          },
                          "description": "billing currency"
                        }
                      },
                      "description": "default billing currency to apply"
                    },
                    "billingContractToApply": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "billing contract name"
                        }
                      },
                      "description": "billing contract to apply"
                    },
                    "keyValuesToApply": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyUri": {
                            "type": "string",
                            "description": "key uri"
                          },
                          "value": {
                            "type": "object",
                            "properties": {
                              "collection": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "text": {
                                      "type": "string",
                                      "description": "key value item text"
                                    },
                                    "uri": {
                                      "type": "string",
                                      "description": "key value item uri"
                                    }
                                  }
                                },
                                "description": "collection"
                              },
                              "uri": {
                                "type": "string",
                                "description": "value uri"
                              }
                            },
                            "description": "value"
                          }
                        }
                      },
                      "description": "key values to apply"
                    }
                  },
                  "description": "modifications"
                },
                "projectModificationOptionUri": {
                  "type": "string",
                  "description": "project modification option uri"
                },
                "unitOfWorkId": {
                  "type": "string",
                  "description": "unit of work id"
                }
              }
            }
          }
        ]
      }
    },
    "/services/UserListService1.svc/GetData": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserListServiceGetDataResponse"
            }
          }
        },
        "summary": "Get User List",
        "description": "Get User List Data from Replicon",
        "operationId": "UserListServiceGetData",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostUrl",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Replicon Host Url",
            "x-ms-summary": "Host Url for Replicon"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "page": {
                  "type": "string",
                  "description": "page"
                },
                "pagesize": {
                  "type": "string",
                  "description": "page size"
                },
                "columnUris": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "column uris"
                },
                "sort": {
                  "type": "array",
                  "items": {},
                  "description": "sort"
                },
                "filterExpression": {
                  "type": "object",
                  "description": "filter expression"
                }
              }
            }
          }
        ]
      }
    },
    "/services/TaskService1.svc/GetDescendantTaskDetails": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          }
        },
        "summary": "Get Descendant Task Details",
        "operationId": "GetDescendantTaskDetails",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostUrl",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Replicon Host Url",
            "x-ms-summary": "Host Url for Replicon"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "parentUri": {
                  "type": "string",
                  "description": "parent uri"
                }
              }
            }
          }
        ],
        "description": "Get Hierarchial Task Details from Replicon"
      }
    },
    "/services/TaskService1.svc/CreateTaskHierarchyOrApplyModifications": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateTaskHierarchyOrApplyModificationsResponse"
            }
          }
        },
        "summary": "Create Task Hierarchy Or Apply Modifications",
        "operationId": "CreateTaskHierarchyOrApplyModifications",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostUrl",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Replicon Host Url",
            "x-ms-summary": "Host Url for Replicon"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "object",
                  "properties": {
                    "uri": {
                      "type": "string",
                      "description": "project uri"
                    },
                    "name": {
                      "type": "string",
                      "description": "project name"
                    },
                    "code": {
                      "type": "string",
                      "description": "project code"
                    },
                    "parameterCorrelationId": {
                      "type": "string",
                      "description": "parameter correlation id"
                    }
                  },
                  "description": "project"
                },
                "taskHierarchy": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "target": {
                        "type": "object",
                        "description": "target"
                      },
                      "parameterCorrelationId": {
                        "type": "string",
                        "description": "task parameter correlation id"
                      },
                      "taskModificationToApply": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "task name to apply"
                          },
                          "codeToApply": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "description": "task code to apply"
                              }
                            },
                            "description": "code to apply"
                          },
                          "descriptionToApply": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "description": "task description to apply"
                              }
                            },
                            "description": "description to apply"
                          },
                          "isClosed": {
                            "type": "string",
                            "description": "is task closed"
                          },
                          "timeEntryStartDateToApply": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "object",
                                "properties": {
                                  "year": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "year of task start date"
                                  },
                                  "month": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "month of task start date"
                                  },
                                  "day": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "day of task start date"
                                  }
                                },
                                "description": "task strat date"
                              }
                            },
                            "description": "time entry start date to apply"
                          },
                          "timeEntryEndDateToApply": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "object",
                                "properties": {
                                  "year": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "year of task end date"
                                  },
                                  "month": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "year of task end date"
                                  },
                                  "day": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "year of task end date"
                                  }
                                },
                                "description": "task end date"
                              }
                            },
                            "description": "time entry end date to apply"
                          },
                          "timeAndExpenseEntryTypeToApply": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "description": "time and expense entry type value"
                              }
                            },
                            "description": "time and expense entry type to apply"
                          },
                          "isTimeEntryAllowed": {
                            "type": "string",
                            "description": "is time entry allowed"
                          },
                          "costTypeToApply": {
                            "type": "object",
                            "description": "cost type to apply"
                          },
                          "estimatedHoursToApply": {
                            "type": "object",
                            "description": "estimated hours to apply"
                          },
                          "estimatedCostToApply": {
                            "type": "object",
                            "description": "estimated cost to apply"
                          },
                          "resourceAssignmentModifications": {
                            "type": "object",
                            "properties": {
                              "resourcesToAdd": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "resources to add"
                              },
                              "resourcesToRemove": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "resources to remove"
                              }
                            },
                            "description": "resource assignment modifications"
                          },
                          "customFieldsToApply": {
                            "type": "array",
                            "items": {},
                            "description": "custom fields to apply"
                          },
                          "keyValuesToApply": {
                            "type": "array",
                            "items": {},
                            "description": "key values to apply"
                          },
                          "objectExtensionFieldsToApply": {
                            "type": "array",
                            "items": {},
                            "description": "object extension fields to apply"
                          }
                        },
                        "description": "task modification to apply"
                      }
                    }
                  },
                  "description": "task hierarchy"
                },
                "taskModificationOptionUri": {
                  "type": "string",
                  "description": "task modification option uri"
                },
                "unitOfWorkId": {
                  "type": "string",
                  "description": "unit of work id"
                }
              }
            }
          }
        ],
        "description": "Create Task Hierarchy Or Apply Modifications to a Replicon Task"
      }
    },
    "/services/TaskService1.svc/MoveTask": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Move Task",
        "description": "Move Task to a new Parent",
        "operationId": "MoveTask",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostUrl",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Replicon Host Url",
            "x-ms-summary": "Host Url for Replicon"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "taskUri": {
                  "type": "string",
                  "description": "task uri"
                },
                "targetUri": {
                  "type": "string",
                  "description": "target uri"
                },
                "moveTaskMethodUri": {
                  "type": "string",
                  "description": "move task method uri"
                }
              }
            }
          }
        ]
      }
    },
    "/services/TaskListService1.svc/GetData": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskListServiceGetDataResponse"
            }
          }
        },
        "summary": "Task List Service Get Data",
        "operationId": "TaskListServiceGetData",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Get Task List Service Data From Replicon",
        "parameters": [
          {
            "name": "hostUrl",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Replicon Host Url",
            "x-ms-summary": "Host Url for Replicon"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "page": {
                  "type": "string",
                  "description": "page"
                },
                "pagesize": {
                  "type": "string",
                  "description": "page size"
                },
                "columnUris": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "column uris"
                },
                "sort": {
                  "type": "array",
                  "items": {},
                  "description": "sort"
                },
                "filterExpression": {
                  "type": "object",
                  "description": "filter expression"
                }
              }
            }
          }
        ]
      }
    },
    "/services/TimesheetService1.svc/GetTimesheetSummary": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetTimesheetSummaryResponse"
            }
          }
        },
        "summary": "Get Timesheet Summary",
        "operationId": "GetTimesheetSummary",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostUrl",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Replicon Host Url",
            "x-ms-summary": "Host Url for Replicon"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "timesheetUri": {
                  "type": "string",
                  "description": "timesheet uri"
                }
              }
            }
          }
        ],
        "description": "Get Timesheet Summary from Replicon"
      }
    },
    "/services/TaskService1.svc/BulkGetTimeEnteredSummary": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BulkGetTimeEnteredSummaryResponse"
            }
          }
        },
        "summary": "Get Time Entered Summary",
        "operationId": "BulkGetTimeEnteredSummary",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Get Time Entered by Task Uri from Replicon",
        "parameters": [
          {
            "name": "hostUrl",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Replicon Host Url",
            "x-ms-summary": "Host Url for Replicon"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "taskUris": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "task uris"
                }
              }
            }
          }
        ]
      }
    },
    "/webhook-api/api/subscription": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "timesheet": {
              "type": "object",
              "properties": {
                "displayText": {
                  "type": "string",
                  "description": "display text"
                },
                "uri": {
                  "type": "string",
                  "description": "uri"
                },
                "slug": {
                  "type": "string",
                  "description": "slug"
                }
              },
              "description": "timesheet"
            },
            "approvalStatusUri": {
              "type": "string",
              "description": "approval status uri"
            },
            "authority": {
              "type": "object",
              "properties": {
                "actingUser": {
                  "type": "object",
                  "properties": {
                    "displayText": {
                      "type": "string",
                      "description": "user display Text"
                    },
                    "loginName": {
                      "type": "string",
                      "description": "user login name"
                    },
                    "uri": {
                      "type": "string",
                      "description": "uri"
                    },
                    "slug": {
                      "type": "string",
                      "description": "slug"
                    }
                  },
                  "description": "acting user"
                },
                "displayText": {
                  "type": "string",
                  "description": "display text"
                },
                "actingForUser": {
                  "type": "string",
                  "description": "acting For user"
                },
                "authorityType": {
                  "type": "object",
                  "properties": {
                    "displayText": {
                      "type": "string",
                      "description": "authority type display text"
                    },
                    "uri": {
                      "type": "string",
                      "description": "uri"
                    }
                  },
                  "description": "authority Type"
                }
              },
              "description": "authority"
            },
            "timesheetStatusUri": {
              "type": "string",
              "description": "status uri of the timesheet"
            }
          }
        },
        "description": "the response for webhook subscription"
      },
      "post": {
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/WebhookSubscriptionResponse"
            }
          }
        },
        "summary": "Subscribe to Event triggers",
        "operationId": "WebhookSubscriptionsRestAPI",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "hostUrl",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Replicon Host Url",
            "x-ms-summary": "Host Url for Replicon"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "eventType": {
                  "type": "string",
                  "description": "Event type to subscribe to"
                },
                "targetUrl": {
                  "type": "string",
                  "description": "target url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "targetUrl"
                }
              },
              "required": [
                "targetUrl"
              ]
            }
          }
        ],
        "description": "Trigger to Subscribe to Web hook eventis in Replicon"
      }
    },
    "/services/ProjectService1.svc/PutProjectTeamMemberAssignments": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Put Project Team Member Assignments",
        "operationId": "PutProjectTeamMemberAssignments",
        "consumes": [
          "application/json"
        ],
        "description": "Rewrite Team Member assignment of Project",
        "parameters": [
          {
            "name": "hostUrl",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Replicon Host Url",
            "x-ms-summary": "Host Url for Replicon"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "projectUri": {
                  "type": "string",
                  "description": "project uri"
                },
                "resourceUris": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "resource uris"
                }
              }
            }
          }
        ]
      }
    },
    "/services/TaskService1.svc/PutResourceAssignments": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Rewrite Resource Assignment of a task",
        "operationId": "PutResourceAssignments",
        "consumes": [
          "application/json"
        ],
        "description": "Update the Resource assignment to a specified task",
        "parameters": [
          {
            "name": "hostUrl",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Replicon Host Url",
            "x-ms-summary": "Host Url for Replicon"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "taskUri": {
                  "type": "string",
                  "description": "task uri"
                },
                "resourceUris": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "resource uris"
                }
              }
            }
          }
        ]
      }
    },
    "/DiscoveryService1.svc/GetMyTenantEndpointDetails": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TenantEndpointDetails"
            }
          }
        },
        "summary": "Get Tenant End Point Details",
        "description": "Get End Point Details of the Tenant",
        "operationId": "GetMyTenantEndpointDetails",
        "parameters": []
      }
    }
  },
  "definitions": {
    "GetTimesheetSummaryResponse": {
      "type": "object",
      "properties": {
        "d": {
          "type": "object",
          "properties": {
            "actualPayableTimeCalculationStatus": {
              "type": "string",
              "description": "status of actual payable time calculation"
            },
            "actualsByActivity": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "activity": {
                    "type": "object",
                    "description": "activity"
                  },
                  "totalTimeDuration": {
                    "$ref": "#/definitions/Duration"
                  }
                }
              },
              "description": "actuals by activity"
            },
            "actualsByBillingRate": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "billingRate": {
                    "type": "object",
                    "description": "billing rate"
                  },
                  "totalTimeDuration": {
                    "$ref": "#/definitions/Duration"
                  }
                }
              },
              "description": "actuals by billing rate"
            },
            "actualsByDate": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "breakDuration": {
                    "$ref": "#/definitions/Duration"
                  },
                  "date": {
                    "$ref": "#/definitions/Date"
                  },
                  "hasComments": {
                    "type": "boolean",
                    "description": "are comments present"
                  },
                  "isHolidayDayOff": {
                    "type": "boolean",
                    "description": "is holiday day"
                  },
                  "isWeeklyDayOff": {
                    "type": "boolean",
                    "description": "is weekly off day"
                  },
                  "timeOffDuration": {
                    "$ref": "#/definitions/Duration"
                  },
                  "totalTimeDuration": {
                    "$ref": "#/definitions/Duration"
                  },
                  "workingTimeDuration": {
                    "$ref": "#/definitions/Duration"
                  }
                }
              },
              "description": "actuals by date"
            },
            "actualsByPaycode": {
              "type": "array",
              "items": {
                "type": "object",
                "description": "actuals by paycode item"
              },
              "description": "actuals by paycode"
            },
            "actualsByProject": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "project": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "code"
                      },
                      "displayText": {
                        "type": "string",
                        "description": "display text"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "slug": {
                        "type": "string",
                        "description": "slug"
                      },
                      "uri": {
                        "type": "string",
                        "description": "uri"
                      }
                    },
                    "description": "project"
                  },
                  "totalTimeDuration": {
                    "$ref": "#/definitions/Duration"
                  }
                }
              },
              "description": "actuals by project"
            },
            "approvalStatus": {
              "type": "object",
              "properties": {
                "displayText": {
                  "type": "string",
                  "description": "display text"
                },
                "uri": {
                  "type": "string",
                  "description": "uri"
                }
              },
              "description": "approval status"
            },
            "attestationStatusUri": {
              "type": "string",
              "description": "attestation status uri"
            },
            "bankedTimeDuration": {
              "$ref": "#/definitions/Duration"
            },
            "billableTimeDuration": {
              "$ref": "#/definitions/Duration"
            },
            "breakDuration": {
              "$ref": "#/definitions/Duration"
            },
            "dueDate": {
              "$ref": "#/definitions/Date"
            },
            "nonBillableTimeDuration": {
              "$ref": "#/definitions/Duration"
            },
            "overtimeDuration": {
              "$ref": "#/definitions/Duration"
            },
            "scriptCalculationStatus": {
              "type": "object",
              "properties": {
                "lastDataModification": {
                  "type": "object",
                  "properties": {
                    "day": {
                      "type": "integer",
                      "format": "int32",
                      "description": "day"
                    },
                    "displayText": {
                      "type": "string",
                      "description": "display text"
                    },
                    "hour": {
                      "type": "integer",
                      "format": "int32",
                      "description": "hour"
                    },
                    "minute": {
                      "type": "integer",
                      "format": "int32",
                      "description": "minute"
                    },
                    "month": {
                      "type": "integer",
                      "format": "int32",
                      "description": "month"
                    },
                    "second": {
                      "type": "integer",
                      "format": "int32",
                      "description": "second"
                    },
                    "timeZone": {
                      "type": "object",
                      "properties": {
                        "displayText": {
                          "type": "string",
                          "description": "display text"
                        },
                        "ianaName": {
                          "type": "string",
                          "description": "iana name"
                        },
                        "offsetDisplayText": {
                          "type": "string",
                          "description": "offset display text"
                        },
                        "uri": {
                          "type": "string",
                          "description": "uri"
                        }
                      },
                      "description": "time zone"
                    },
                    "valueInUtc": {
                      "type": "object",
                      "properties": {
                        "day": {
                          "type": "integer",
                          "format": "int32",
                          "description": "day"
                        },
                        "hour": {
                          "type": "integer",
                          "format": "int32",
                          "description": "hour"
                        },
                        "millisecond": {
                          "type": "integer",
                          "format": "int32",
                          "description": "millisecond"
                        },
                        "minute": {
                          "type": "integer",
                          "format": "int32",
                          "description": "minute"
                        },
                        "month": {
                          "type": "integer",
                          "format": "int32",
                          "description": "month"
                        },
                        "second": {
                          "type": "integer",
                          "format": "int32",
                          "description": "second"
                        },
                        "year": {
                          "type": "integer",
                          "format": "int32",
                          "description": "year"
                        }
                      },
                      "description": "value in utc"
                    },
                    "year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "year"
                    }
                  },
                  "description": "last data modification time"
                },
                "lastFailedAttempt": {
                  "type": "object",
                  "description": "last failed attempt"
                },
                "lastSuccessfulAttempt": {
                  "type": "object",
                  "properties": {
                    "day": {
                      "type": "integer",
                      "format": "int32",
                      "description": "day"
                    },
                    "displayText": {
                      "type": "string",
                      "description": "display text"
                    },
                    "hour": {
                      "type": "integer",
                      "format": "int32",
                      "description": "hour"
                    },
                    "minute": {
                      "type": "integer",
                      "format": "int32",
                      "description": "minute"
                    },
                    "month": {
                      "type": "integer",
                      "format": "int32",
                      "description": "month"
                    },
                    "second": {
                      "type": "integer",
                      "format": "int32",
                      "description": "second"
                    },
                    "timeZone": {
                      "type": "object",
                      "properties": {
                        "displayText": {
                          "type": "string",
                          "description": "display text"
                        },
                        "ianaName": {
                          "type": "string",
                          "description": "iana name"
                        },
                        "offsetDisplayText": {
                          "type": "string",
                          "description": "offset display text"
                        },
                        "uri": {
                          "type": "string",
                          "description": "uri"
                        }
                      },
                      "description": "time zone"
                    },
                    "valueInUtc": {
                      "type": "object",
                      "properties": {
                        "day": {
                          "type": "integer",
                          "format": "int32",
                          "description": "day"
                        },
                        "hour": {
                          "type": "integer",
                          "format": "int32",
                          "description": "hour"
                        },
                        "millisecond": {
                          "type": "integer",
                          "format": "int32",
                          "description": "millisecond"
                        },
                        "minute": {
                          "type": "integer",
                          "format": "int32",
                          "description": "minute"
                        },
                        "month": {
                          "type": "integer",
                          "format": "int32",
                          "description": "month"
                        },
                        "second": {
                          "type": "integer",
                          "format": "int32",
                          "description": "second"
                        },
                        "year": {
                          "type": "integer",
                          "format": "int32",
                          "description": "year"
                        }
                      },
                      "description": "value in utc"
                    },
                    "year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "year"
                    }
                  },
                  "description": "last successful attempt"
                },
                "timesheet": {
                  "type": "object",
                  "properties": {
                    "displayText": {
                      "type": "string",
                      "description": "display text"
                    },
                    "slug": {
                      "type": "string",
                      "description": "slug"
                    },
                    "uri": {
                      "type": "string",
                      "description": "uri"
                    }
                  },
                  "description": "timesheet"
                },
                "timesheetStatus": {
                  "type": "object",
                  "properties": {
                    "displayText": {
                      "type": "string",
                      "description": "display text"
                    },
                    "uri": {
                      "type": "string",
                      "description": "uri"
                    }
                  },
                  "description": "timesheet status"
                }
              },
              "description": "script calculation status"
            },
            "timeOffTimeDuration": {
              "$ref": "#/definitions/Duration"
            },
            "timesheetStatus": {
              "type": "object",
              "properties": {
                "displayText": {
                  "type": "string",
                  "description": "display text"
                },
                "uri": {
                  "type": "string",
                  "description": "uri"
                }
              },
              "description": "status of timesheet"
            },
            "totalTimeDuration": {
              "$ref": "#/definitions/Duration"
            },
            "workingTimeDuration": {
              "$ref": "#/definitions/Duration"
            }
          },
          "description": "d"
        }
      }
    },
    "BulkGetTimeEnteredSummaryResponse": {
      "type": "object",
      "properties": {
        "d": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "taskUri": {
                "type": "string",
                "description": "task uri"
              },
              "timeEnteredActual": {
                "$ref": "#/definitions/Duration"
              },
              "timeEnteredTotalEstimated": {
                "$ref": "#/definitions/Duration"
              },
              "timeEnteredTotalEstimatedAtCompletion": {
                "$ref": "#/definitions/Duration"
              }
            }
          },
          "description": "d"
        }
      }
    },
    "WebhookSubscriptionResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "identity of the webhook event"
        },
        "createdTimestamp": {
          "type": "string",
          "description": "created time stamp of the webhook event"
        },
        "updatedTimestamp": {
          "type": "string",
          "description": "updated time stamp of the webhook event"
        },
        "eventType": {
          "type": "string",
          "description": "event Type of the webhook event"
        },
        "targetUrl": {
          "type": "string",
          "description": "target Url of the webhook event"
        },
        "sharedSecret": {
          "type": "string",
          "description": "shared Secret of the webhook event"
        },
        "authType": {
          "type": "string",
          "description": "auth Type of the webhook event"
        }
      }
    },
    "ProjectDetailsResponse": {
      "type": "object",
      "properties": {
        "d": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "error": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "type"
                  },
                  "displayText": {
                    "type": "string",
                    "description": "display text"
                  }
                },
                "description": "error"
              },
              "parameterCorrelationId": {
                "type": "string",
                "description": "parameter correlation id"
              },
              "projectDetails": {
                "type": "object",
                "properties": {
                  "billingContract": {
                    "type": "object",
                    "properties": {
                      "displayText": {
                        "type": "string",
                        "description": "display text"
                      },
                      "slug": {
                        "type": "string",
                        "description": "slug"
                      },
                      "uri": {
                        "type": "string",
                        "description": "uri"
                      }
                    },
                    "description": "billing contract"
                  },
                  "billingType": {
                    "type": "object",
                    "properties": {
                      "displayText": {
                        "type": "string",
                        "description": "display text"
                      },
                      "uri": {
                        "type": "string",
                        "description": "uri"
                      }
                    },
                    "description": "billing type"
                  },
                  "budget": {
                    "type": "object",
                    "description": "budget"
                  },
                  "budgetedCost": {
                    "type": "object",
                    "description": "budgeted cost"
                  },
                  "budgetedHours": {
                    "type": "object",
                    "description": "budgeted hours"
                  },
                  "clientBillingAllocationMethod": {
                    "type": "object",
                    "properties": {
                      "displayText": {
                        "type": "string",
                        "description": "display text"
                      },
                      "uri": {
                        "type": "string",
                        "description": "uri"
                      }
                    },
                    "description": "client billing allocation method"
                  },
                  "clientRepresentative": {
                    "type": "string",
                    "description": "client representative"
                  },
                  "clientSchedule": {
                    "type": "array",
                    "items": {},
                    "description": "client schedule"
                  },
                  "clients": {
                    "type": "array",
                    "items": {},
                    "description": "clients"
                  },
                  "code": {
                    "type": "string",
                    "description": "code"
                  },
                  "costCenter": {
                    "type": "object",
                    "description": "cost center"
                  },
                  "costType": {
                    "type": "object",
                    "description": "cost type"
                  },
                  "customFields": {
                    "type": "array",
                    "items": {},
                    "description": "custom fields"
                  },
                  "defaultBillingCurrency": {
                    "type": "object",
                    "properties": {
                      "displayText": {
                        "type": "string",
                        "description": "display text"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "symbol": {
                        "type": "string",
                        "description": "symbol"
                      },
                      "uri": {
                        "type": "string",
                        "description": "uri"
                      }
                    },
                    "description": "default billing currency"
                  },
                  "departmentGroup": {
                    "type": "object",
                    "description": "department group"
                  },
                  "description": {
                    "type": "string",
                    "description": "description"
                  },
                  "displayText": {
                    "type": "string",
                    "description": "display text"
                  },
                  "division": {
                    "type": "object",
                    "description": "division"
                  },
                  "employeeTypeGroup": {
                    "type": "object",
                    "description": "employee type group"
                  },
                  "estimatedCost": {
                    "type": "object",
                    "description": "estimated cost"
                  },
                  "estimatedExpenses": {
                    "type": "object",
                    "description": "estimated expenses"
                  },
                  "estimatedHours": {
                    "type": "object",
                    "description": "estimated hours"
                  },
                  "estimationMode": {
                    "type": "object",
                    "properties": {
                      "displayText": {
                        "type": "string",
                        "description": "estimation mode display text"
                      },
                      "uri": {
                        "type": "string",
                        "description": "uri"
                      }
                    },
                    "description": "estimation mode"
                  },
                  "extensionFieldValues": {
                    "type": "array",
                    "items": {},
                    "description": "extension field values"
                  },
                  "isProjectLeaderApprovalRequired": {
                    "type": "boolean",
                    "description": "is project leader approval required for the project"
                  },
                  "isTimeEntryAllowed": {
                    "type": "boolean",
                    "description": "is time entry allowed for the project"
                  },
                  "keyValues": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "keyUri": {
                          "type": "string",
                          "description": "key uri"
                        },
                        "value": {
                          "type": "object",
                          "properties": {
                            "collection": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "string",
                                    "description": "text"
                                  },
                                  "uri": {
                                    "type": "string",
                                    "description": "uri"
                                  }
                                }
                              },
                              "description": "collection"
                            },
                            "uri": {
                              "type": "string",
                              "description": "uri"
                            }
                          },
                          "description": "value"
                        }
                      }
                    },
                    "description": "key values"
                  },
                  "location": {
                    "type": "object",
                    "description": "location"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "percentCompleted": {
                    "type": "integer",
                    "format": "int32",
                    "description": "percent completed"
                  },
                  "program": {
                    "type": "object",
                    "description": "program"
                  },
                  "projectLeader": {
                    "type": "object",
                    "description": "project leader"
                  },
                  "serviceCenter": {
                    "type": "object",
                    "description": "service center"
                  },
                  "slug": {
                    "type": "string",
                    "description": "slug"
                  },
                  "status": {
                    "type": "object",
                    "properties": {
                      "displayText": {
                        "type": "string",
                        "description": "display text"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "uri": {
                        "type": "string",
                        "description": "uri"
                      }
                    },
                    "description": "status"
                  },
                  "timeAndExpenseEntryType": {
                    "type": "object",
                    "properties": {
                      "displayText": {
                        "type": "string",
                        "description": "time and expense entry type display Text"
                      },
                      "uri": {
                        "type": "string",
                        "description": "uri"
                      }
                    },
                    "description": "time and expense entry type"
                  },
                  "timeAndMaterials": {
                    "type": "object",
                    "properties": {
                      "billingRateFrequency": {
                        "type": "object",
                        "properties": {
                          "displayText": {
                            "type": "string",
                            "description": "billing rate frequency display Text"
                          },
                          "name": {
                            "type": "string",
                            "description": "billing rate name"
                          },
                          "uri": {
                            "type": "string",
                            "description": "billing rate uri"
                          }
                        },
                        "description": "billing rate frequency"
                      },
                      "billingRateFrequencyDuration": {
                        "type": "object",
                        "description": "billing rate frequency duration"
                      }
                    },
                    "description": "time and materials"
                  },
                  "timeEntryDateRange": {
                    "type": "object",
                    "properties": {
                      "endDate": {
                        "$ref": "#/definitions/Date"
                      },
                      "startDate": {
                        "$ref": "#/definitions/Date"
                      }
                    },
                    "description": "time entry date range"
                  },
                  "totalEstimatedContract": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "number",
                        "description": "amount"
                      },
                      "currency": {
                        "type": "object",
                        "properties": {
                          "displayText": {
                            "type": "string",
                            "description": "total estimated cost currency display text"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "symbol": {
                            "type": "string",
                            "description": "symbol"
                          },
                          "uri": {
                            "type": "string",
                            "description": "uri"
                          }
                        },
                        "description": "currency"
                      }
                    },
                    "description": "total estimated contract"
                  },
                  "uri": {
                    "type": "string",
                    "description": "uri"
                  }
                },
                "description": "project details"
              }
            }
          },
          "description": "d"
        }
      }
    },
    "CreateProjectOrApplyModificationsResponse": {
      "type": "object",
      "properties": {
        "d": {
          "type": "object",
          "properties": {
            "code": {
              "type": "string",
              "description": "code"
            },
            "displayText": {
              "type": "string",
              "description": "displayText"
            },
            "name": {
              "type": "string",
              "description": "name"
            },
            "slug": {
              "type": "string",
              "description": "slug"
            },
            "uri": {
              "type": "string",
              "description": "uri"
            }
          },
          "description": "d"
        }
      }
    },
    "CreateTaskHierarchyOrApplyModificationsResponse": {
      "type": "object",
      "properties": {
        "d": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "error": {
                "type": "object",
                "description": "error"
              },
              "parameterCorrelationId": {
                "type": "string",
                "description": "parameter correlation id"
              },
              "task": {
                "type": "object",
                "properties": {
                  "displayText": {
                    "type": "string",
                    "description": "display text"
                  },
                  "parameterCorrelationId": {
                    "type": "string",
                    "description": "parameter correlation id"
                  },
                  "uri": {
                    "type": "string",
                    "description": "uri"
                  }
                },
                "description": "task"
              }
            }
          },
          "description": "d"
        }
      }
    },
    "UserListServiceGetDataResponse": {
      "type": "object",
      "properties": {
        "d": {
          "type": "object",
          "properties": {
            "header": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string",
                    "description": "display name"
                  },
                  "uri": {
                    "type": "string",
                    "description": "uri"
                  }
                }
              },
              "description": "header"
            },
            "rows": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "cells": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "dataType": {
                          "type": "string",
                          "description": "data type"
                        },
                        "objectType": {
                          "type": "string",
                          "description": "object type"
                        },
                        "slug": {
                          "type": "string",
                          "description": "slug"
                        },
                        "textValue": {
                          "type": "string",
                          "description": "text value"
                        },
                        "uri": {
                          "type": "string",
                          "description": "uri"
                        }
                      }
                    },
                    "description": "cells"
                  }
                }
              },
              "description": "rows"
            }
          },
          "description": "d"
        }
      }
    },
    "TaskListServiceGetDataResponse": {
      "type": "object",
      "properties": {
        "d": {
          "type": "object",
          "properties": {
            "header": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string",
                    "description": "display name"
                  },
                  "uri": {
                    "type": "string",
                    "description": "uri"
                  }
                }
              },
              "description": "header"
            },
            "rows": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "cells": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "dataType": {
                          "type": "string",
                          "description": "data type"
                        },
                        "objectType": {
                          "type": "string",
                          "description": "object type"
                        },
                        "slug": {
                          "type": "string",
                          "description": "slug"
                        },
                        "textValue": {
                          "type": "string",
                          "description": "text value"
                        },
                        "uri": {
                          "type": "string",
                          "description": "uri"
                        },
                        "cellCollection": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "dataType": {
                                "type": "string",
                                "description": "data type"
                              },
                              "objectType": {
                                "type": "string",
                                "description": "object type"
                              },
                              "slug": {
                                "type": "string",
                                "description": "slug"
                              },
                              "textValue": {
                                "type": "string",
                                "description": "text value"
                              },
                              "uri": {
                                "type": "string",
                                "description": "uri"
                              }
                            }
                          },
                          "description": "cell collection"
                        }
                      }
                    },
                    "description": "cells"
                  }
                }
              },
              "description": "rows"
            }
          },
          "description": "d"
        }
      }
    },
    "Date": {
      "type": "object",
      "properties": {
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "day"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "month"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "year"
        }
      }
    },
    "Duration": {
      "type": "object",
      "properties": {
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "hours"
        },
        "microseconds": {
          "type": "integer",
          "format": "int32",
          "description": "microseconds"
        },
        "milliseconds": {
          "type": "integer",
          "format": "int32",
          "description": "milliseconds"
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "minutes"
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "seconds"
        }
      }
    },
    "TenantEndpointDetails": {
      "type": "object",
      "properties": {
        "d": {
          "type": "object",
          "properties": {
            "applicationRootUrl": {
              "type": "string",
              "description": "application root url"
            },
            "applicationRootUrls": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "rootUrl": {
                    "type": "string",
                    "description": "root url"
                  },
                  "uri": {
                    "type": "string",
                    "description": "uri"
                  }
                }
              },
              "description": "application root urls"
            },
            "isLocal": {
              "type": "boolean",
              "description": "is local"
            },
            "tenant": {
              "type": "object",
              "properties": {
                "companyKey": {
                  "type": "string",
                  "description": "company key"
                },
                "isEnabled": {
                  "type": "boolean",
                  "description": "is enabled"
                },
                "slug": {
                  "type": "string",
                  "description": "slug"
                },
                "uri": {
                  "type": "string",
                  "description": "uri"
                }
              },
              "description": "tenant"
            }
          },
          "description": "d"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://global.replicon.com/!/oauth2/authorize",
      "tokenUrl": "https://global.replicon.com/!/oauth2/token",
      "scopes": {
        "api": "API"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "API"
      ]
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.replicon.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.replicon.com/terms-and-conditions/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Intelligence;Finance"
    }
  ],
  "tags": []
}