{
  "swagger": "2.0",
  "info": {
    "title": "Content Rabbit",
    "description": "Content Rabbit is a headless social-scheduling core. Schedule and publish to multiple social networks.",
    "version": "1.0"
  },
  "host": "contentrabbitai.com",
  "basePath": "/api/public/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "Enter your Content Rabbit API key as 'Bearer <api_key>'"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "summary": "List Accounts",
        "description": "Retrieves a list of connected social accounts.",
        "operationId": "ListAccounts",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Account"
              }
            }
          }
        }
      }
    },
    "/posts": {
      "get": {
        "summary": "List Posts",
        "description": "Retrieves a list of scheduled or published posts.",
        "operationId": "ListPosts",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Post"
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Post",
        "description": "Creates or schedules a new post.",
        "operationId": "CreatePost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Post details",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post created successfully",
            "schema": {
              "$ref": "#/definitions/Post"
            }
          }
        }
      }
    },
    "/analytics": {
      "get": {
        "summary": "Get Analytics",
        "description": "Retrieves analytics for connected accounts.",
        "operationId": "GetAnalytics",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/media": {
      "post": {
        "summary": "Upload Media",
        "description": "Uploads media files to be used in posts.",
        "operationId": "UploadMedia",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "Media file to upload",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Media uploaded successfully",
            "schema": {
              "$ref": "#/definitions/MediaResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Account": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "platform": {
          "type": "string"
        }
      }
    },
    "Post": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "platformType": {
          "type": "string",
          "x-ms-summary": "Platform Type"
        },
        "scheduledAt": {
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "type": "string"
        }
      }
    },
    "CreatePostRequest": {
      "type": "object",
      "required": [
        "text",
        "platformType"
      ],
      "properties": {
        "text": {
          "type": "string",
          "description": "Text content of the post",
          "x-ms-summary": "Post Text"
        },
        "platformType": {
          "type": "string",
          "description": "Primary platform (e.g. 'twitter', 'linkedin')",
          "x-ms-summary": "Platform Type"
        },
        "scheduledAt": {
          "type": "string",
          "format": "date-time",
          "description": "Optional ISO 8601 date-time to schedule the post",
          "x-ms-summary": "Scheduled At"
        },
        "mediaIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Array of media IDs",
          "x-ms-summary": "Media IDs"
        }
      }
    },
    "MediaResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Media ID"
        },
        "url": {
          "type": "string",
          "x-ms-summary": "Media URL"
        }
      }
    }
  }
}