{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Cloudmersive File Processing",
    "description": "File Processing lets you effortlessly create, process, convert and update files.",
    "contact": {
      "name": "Cloumdersive Support",
      "url": "https://account.cloudmersive.com/contact-support",
      "email": "support@cloudmersive.com"
    }
  },
  "host": "api.cloudmersive.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/convert/edit/docx/get-comments/flat-list": {
      "post": {
        "tags": [
          "EditDocument"
        ],
        "summary": "Get comments from a Word DOCX document as a flat list",
        "description": "Returns the comments and review annotations stored in the Word Document (DOCX) format file as a flattened list (not as a hierarchy of comments and replies).",
        "operationId": "EditDocument_DocxGetComments",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "reqConfig",
            "in": "body",
            "description": "Document input request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDocxGetCommentsRequest"
            },
            "x-ms-summary": "Document input request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetDocxCommentsResponse"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/edit/text/encoding/base64/detect": {
      "post": {
        "tags": [
          "EditText"
        ],
        "summary": "Detect, check if text string is base 64 encoded",
        "description": "Checks, detects if input string is base 64 encoded",
        "operationId": "EditText_Base64Detect",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Input request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Base64DetectRequest"
            },
            "x-ms-summary": "Input request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Base64DetectResponse"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/edit/text/encoding/base64/encode": {
      "post": {
        "tags": [
          "EditText"
        ],
        "summary": "Base 64 encode, convert binary or file data to a text string",
        "description": "Encodes / converts binary or file data to a text string",
        "operationId": "EditText_Base64Encode",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Input request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Base64EncodeRequest"
            },
            "x-ms-summary": "Input request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Base64EncodeResponse"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/edit/text/encoding/base64/decode": {
      "post": {
        "tags": [
          "EditText"
        ],
        "summary": "Base 64 decode, convert base 64 string to binary content",
        "description": "Decodes / converts base 64 UTF-8 text string to binary content",
        "operationId": "EditText_Base64Decode",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Input request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Base64DecodeRequest"
            },
            "x-ms-summary": "Input request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Base64DecodeResponse"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/edit/text/encoding/detect": {
      "post": {
        "tags": [
          "EditText"
        ],
        "summary": "Detect text encoding of file",
        "description": "Checks text encoding of file",
        "operationId": "EditText_TextEncodingDetect",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "inputFile",
            "in": "formData",
            "description": "Input file to perform the operation on.",
            "required": true,
            "type": "file",
            "x-ms-summary": "Input file to perform the operation on."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TextEncodingDetectResponse"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/edit/text/find/string": {
      "post": {
        "tags": [
          "EditText"
        ],
        "summary": "Find a string in text input",
        "description": "Finds all occurrences of the input string in the input content, and returns the matches",
        "operationId": "EditText_FindSimple",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Input request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FindStringSimpleRequest"
            },
            "x-ms-summary": "Input request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FindStringSimpleResponse"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/edit/text/find/regex": {
      "post": {
        "tags": [
          "EditText"
        ],
        "summary": "Find a regular expression regex in text input",
        "description": "Find all occurrences of the input regular expression in the input content, and returns the matches",
        "operationId": "EditText_FindRegex",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Input request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FindStringRegexRequest"
            },
            "x-ms-summary": "Input request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FindStringRegexResponse"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/edit/text/replace/string": {
      "post": {
        "tags": [
          "EditText"
        ],
        "summary": "Replace a string in text with another string value",
        "description": "Replaces all occurrences of the input string in the input content, and returns the result",
        "operationId": "EditText_ReplaceSimple",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Input request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReplaceStringSimpleRequest"
            },
            "x-ms-summary": "Input request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReplaceStringSimpleResponse"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/edit/text/replace/regex": {
      "post": {
        "tags": [
          "EditText"
        ],
        "summary": "Replace a string in text with a regex regular expression string",
        "description": "Replaces all occurrences of the input regular expression regex string in the input content, and returns the result",
        "operationId": "EditText_ReplaceRegex",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Input request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReplaceStringRegexRequest"
            },
            "x-ms-summary": "Input request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReplaceStringRegexResponse"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/edit/text/line-endings/detect": {
      "post": {
        "tags": [
          "EditText"
        ],
        "summary": "Detect line endings of a text file",
        "description": "Detect line ending type (Windows, Unix or Mac) of an input file.",
        "operationId": "EditText_DetectLineEndings",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "inputFile",
            "in": "formData",
            "description": "Input file to perform the operation on.",
            "required": true,
            "type": "file",
            "x-ms-summary": "Input file to perform the operation on."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DetectLineEndingsResponse"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/edit/text/line-endings/change": {
      "post": {
        "tags": [
          "EditText"
        ],
        "summary": "Set, change line endings of a text file",
        "description": "Sets the line ending type of a text file; set to Windows, Unix or Mac.",
        "operationId": "EditText_ChangeLineEndings",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "lineEndingType",
            "in": "header",
            "description": "Required; 'Windows' will use carriage return and line feed, 'Unix' wil",
            "required": true,
            "type": "string",
            "x-ms-summary": "Required; 'Windows' will use carriage return and line feed, 'Unix' wil"
          },
          {
            "name": "inputFile",
            "in": "formData",
            "description": "Input file to perform the operation on.",
            "required": true,
            "type": "file",
            "x-ms-summary": "Input file to perform the operation on."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ChangeLineEndingResponse"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/edit/text/remove/html": {
      "post": {
        "tags": [
          "EditText"
        ],
        "summary": "Remove HTML from text string",
        "description": "Removes HTML from text, leaving behind only text.  Formatted text will become plain text.  Important for protecting against HTML and Cross-Site-Scripting attacks.",
        "operationId": "EditText_RemoveHtml",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Input request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveHtmlFromTextRequest"
            },
            "x-ms-summary": "Input request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RemoveHtmlFromTextResponse"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/edit/text/remove/whitespace/all": {
      "post": {
        "tags": [
          "EditText"
        ],
        "summary": "Remove whitespace from text string",
        "description": "Removes all whitespace from text, leaving behind only non-whitespace characters.  Whitespace includes newlines, spaces and other whitespace characters.",
        "operationId": "EditText_RemoveAllWhitespace",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Input request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveWhitespaceFromTextRequest"
            },
            "x-ms-summary": "Input request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RemoveWhitespaceFromTextResponse"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/edit/text/remove/whitespace/trim": {
      "post": {
        "tags": [
          "EditText"
        ],
        "summary": "Trim leading and trailing whitespace from text string",
        "description": "Trim leading and trailing whitespace from text, leaving behind a trimmed string.  Whitespace includes newlines, spaces and other whitespace characters.",
        "operationId": "EditText_TrimWhitespace",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Input request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveWhitespaceFromTextRequest"
            },
            "x-ms-summary": "Input request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RemoveWhitespaceFromTextResponse"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/validate/executable": {
      "post": {
        "tags": [
          "ValidateDocument"
        ],
        "summary": "Validate if a file is executable",
        "description": "Validate if an input file is a binary executable file; if the document is not valid",
        "operationId": "ValidateDocument_ExecutableValidation",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "inputFile",
            "in": "formData",
            "description": "Input file to perform the operation on.",
            "required": true,
            "type": "file",
            "x-ms-summary": "Input file to perform the operation on."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentValidationResult"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/viewer/create/web/simple": {
      "post": {
        "tags": [
          "ViewerTools"
        ],
        "summary": "Create a web-based viewer",
        "description": "Creates an HTML embed code for a simple web-based viewer of a document; supports Office document types and PDF.",
        "operationId": "ViewerTools_CreateSimple",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "inputFile",
            "in": "formData",
            "description": "Input file to perform the operation on.",
            "required": true,
            "type": "file",
            "x-ms-summary": "Input file to perform the operation on."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ViewerResponse"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/archive/zip/create": {
      "post": {
        "tags": [
          "ZipArchive"
        ],
        "summary": "Compress files to create a new zip archive",
        "description": "Create a new zip archive by compressing input files.",
        "operationId": "ZipArchive_ZipCreate",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "inputFile1",
            "in": "formData",
            "description": "First input file to perform the operation on.",
            "required": true,
            "type": "file",
            "x-ms-summary": "First input file to perform the operation on."
          },
          {
            "name": "inputFile2",
            "in": "formData",
            "description": "Second input file to perform the operation on.",
            "required": false,
            "type": "file",
            "x-ms-summary": "Second input file to perform the operation on."
          },
          {
            "name": "inputFile3",
            "in": "formData",
            "description": "Third input file to perform the operation on.",
            "required": false,
            "type": "file",
            "x-ms-summary": "Third input file to perform the operation on."
          },
          {
            "name": "inputFile4",
            "in": "formData",
            "description": "Fourth input file to perform the operation on.",
            "required": false,
            "type": "file",
            "x-ms-summary": "Fourth input file to perform the operation on."
          },
          {
            "name": "inputFile5",
            "in": "formData",
            "description": "Fifth input file to perform the operation on.",
            "required": false,
            "type": "file",
            "x-ms-summary": "Fifth input file to perform the operation on."
          },
          {
            "name": "inputFile6",
            "in": "formData",
            "description": "Sixth input file to perform the operation on.",
            "required": false,
            "type": "file",
            "x-ms-summary": "Sixth input file to perform the operation on."
          },
          {
            "name": "inputFile7",
            "in": "formData",
            "description": "Seventh input file to perform the operation on.",
            "required": false,
            "type": "file",
            "x-ms-summary": "Seventh input file to perform the operation on."
          },
          {
            "name": "inputFile8",
            "in": "formData",
            "description": "Eighth input file to perform the operation on.",
            "required": false,
            "type": "file",
            "x-ms-summary": "Eighth input file to perform the operation on."
          },
          {
            "name": "inputFile9",
            "in": "formData",
            "description": "Ninth input file to perform the operation on.",
            "required": false,
            "type": "file",
            "x-ms-summary": "Ninth input file to perform the operation on."
          },
          {
            "name": "inputFile10",
            "in": "formData",
            "description": "Tenth input file to perform the operation on.",
            "required": false,
            "type": "file",
            "x-ms-summary": "Tenth input file to perform the operation on."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "title": "OutputContent",
              "description": "Output file content from the operation",
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/archive/zip/create/advanced": {
      "post": {
        "tags": [
          "ZipArchive"
        ],
        "summary": "Compress files and folders to create a new zip archive with advanced options",
        "description": "Create a new zip archive by compressing input files, folders and leverage advanced options to control the structure of the resulting zip archive.",
        "operationId": "ZipArchive_ZipCreateAdvanced",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Input request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateZipArchiveRequest"
            },
            "x-ms-summary": "Input request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/archive/zip/extract": {
      "post": {
        "tags": [
          "ZipArchive"
        ],
        "summary": "Extract, decompress files and folders from a zip archive",
        "description": "Extracts a zip archive by decompressing files, and folders.",
        "operationId": "ZipArchive_ZipExtract",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "inputFile",
            "in": "formData",
            "description": "Input file to perform the operation on.",
            "required": true,
            "type": "file",
            "x-ms-summary": "Input file to perform the operation on."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ZipExtractResponse"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/archive/zip/encrypt/advanced": {
      "post": {
        "tags": [
          "ZipArchive"
        ],
        "summary": "Encrypt and password protect a zip file",
        "description": "Encrypts and password protects an existing zip file with the specified password and encryption algorithm",
        "operationId": "ZipArchive_ZipEncryptAdvanced",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "encryptionRequest",
            "in": "body",
            "description": "Encryption request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ZipEncryptionAdvancedRequest"
            },
            "x-ms-summary": "Encryption request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    },
    "/convert/archive/zip/decrypt": {
      "post": {
        "tags": [
          "ZipArchive"
        ],
        "summary": "Decrypt and remove password protection on a zip file",
        "description": "Decrypts and removes password protection from an encrypted zip file with the specified password",
        "operationId": "ZipArchive_ZipDecrypt",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "inputFile",
            "in": "formData",
            "description": "Input file to perform the operation on.",
            "required": true,
            "type": "file",
            "x-ms-summary": "Input file to perform the operation on."
          },
          {
            "name": "zipPassword",
            "in": "header",
            "description": "Required; Password for the input archive",
            "required": true,
            "type": "string",
            "x-ms-summary": "Required; Password for the input archive"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.cloudmersive.com/nlp-api"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.cloudmersive.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Content and Files"
    }
  ],
  "definitions": {
    "XmlFilterWithXPathResult": {
      "description": "Result of performing a filter operation on XML input using XPath",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "XmlNodes": {
          "description": "Matching selected XML nodes as strings",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ResultCount": {
          "format": "int32",
          "description": "Count of the matching results",
          "type": "integer"
        }
      }
    },
    "XmlQueryWithXQueryResult": {
      "description": "Result of performing an XQuery operation on an XML document.",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "ResultingXml": {
          "description": "Resulting XML result output",
          "type": "string"
        },
        "ErrorMessage": {
          "description": "If an error occurs, additional details on the error",
          "type": "string"
        }
      }
    },
    "XmlQueryWithXQueryMultiResult": {
      "description": "Result of performing an XQuery operation on multiple XML documents.",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "ResultingXml": {
          "description": "Resulting XML result output",
          "type": "string"
        },
        "ErrorMessage": {
          "description": "If an error occurs, additional details on the error",
          "type": "string"
        }
      }
    },
    "XmlSetValueWithXPathResult": {
      "description": "Result of performing a set value operation on XML input using XPath",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "ResultingXmlDocument": {
          "description": "Resulting, modified XML document",
          "type": "string"
        },
        "NodesEditedCount": {
          "format": "int32",
          "description": "Count of the matching results",
          "type": "integer"
        }
      }
    },
    "XmlReplaceWithXPathResult": {
      "description": "Result of performing a replace node operation on XML input using XPath",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "ResultingXmlDocument": {
          "description": "Resulting, modified XML document",
          "type": "string"
        },
        "NodesEditedCount": {
          "format": "int32",
          "description": "Count of the matching results",
          "type": "integer"
        }
      }
    },
    "XmlAddChildWithXPathResult": {
      "description": "Result of performing a add child node operation on XML input using XPath",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "ResultingXmlDocument": {
          "description": "Resulting, modified XML document",
          "type": "string"
        },
        "NodesEditedCount": {
          "format": "int32",
          "description": "Count of the matching results",
          "type": "integer"
        }
      }
    },
    "XmlAddAttributeWithXPathResult": {
      "description": "Result of performing a add attribute node operation on XML input using XPath",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "ResultingXmlDocument": {
          "description": "Resulting, modified XML document",
          "type": "string"
        },
        "NodesEditedCount": {
          "format": "int32",
          "description": "Count of the matching results",
          "type": "integer"
        }
      }
    },
    "XmlRemoveWithXPathResult": {
      "description": "Result of performing a filter operation on XML input using XPath",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "ResultingXmlDocument": {
          "description": "Resulting, modified XML document with matching nodes removed as a string",
          "type": "string"
        },
        "XmlNodesRemoved": {
          "description": "Matching selected XML nodes as strings",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "NodesRemovedCount": {
          "format": "int32",
          "description": "Count of the matching results",
          "type": "integer"
        }
      }
    },
    "XmlRemoveAllChildrenWithXPathResult": {
      "description": "Result of performing a remove all child nodes operation on XML input using XPath",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "ResultingXmlDocument": {
          "description": "Resulting, modified XML document",
          "type": "string"
        },
        "NodesEditedCount": {
          "format": "int32",
          "description": "Count of the matching results",
          "type": "integer"
        }
      }
    },
    "TextConversionResult": {
      "description": "Text conversion result from converting a document to Plain Text (TXT) format",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "TextResult": {
          "description": "Plain Text (TXT) format conversion result of the input document.  The text result is returned as a string.",
          "type": "string"
        }
      }
    },
    "DocxToPngResult": {
      "description": "Result of converting a DOCX input to a PNG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "PngResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedPngPage"
          }
        }
      }
    },
    "ConvertedPngPage": {
      "description": "A single converted page",
      "type": "object",
      "properties": {
        "PageNumber": {
          "format": "int32",
          "description": "Page number of the converted page, starting with 1",
          "type": "integer"
        },
        "URL": {
          "description": "URL to the PNG file of this page; file is stored in an in-memory cache and will be deleted",
          "type": "string"
        }
      }
    },
    "DocxToJpgResult": {
      "description": "Result of converting a DOCX input to a JPG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "JpgResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedJpgPage"
          }
        }
      }
    },
    "ConvertedJpgPage": {
      "description": "A single converted page",
      "type": "object",
      "properties": {
        "PageNumber": {
          "format": "int32",
          "description": "Page number of the converted page, starting with 1",
          "type": "integer"
        },
        "Content": {
          "format": "byte",
          "description": "The JPG file of this page as a byte array",
          "type": "string"
        }
      }
    },
    "PptxToPngResult": {
      "description": "Result of converting a PPTX input to a PNG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "PngResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedPngPage"
          }
        }
      }
    },
    "CsvCollection": {
      "description": "Collection of CSV Files",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "CsvFiles": {
          "description": "Array of CSV File results",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CsvFileResult"
          }
        },
        "FileCount": {
          "format": "int32",
          "description": "Count of the number of CSV files produced",
          "type": "integer"
        }
      }
    },
    "CsvFileResult": {
      "description": "CSV file result",
      "type": "object",
      "properties": {
        "Title": {
          "description": "Title of the CSV file",
          "type": "string"
        },
        "FileContents": {
          "format": "byte",
          "description": "Contents of the CSV file",
          "type": "string"
        }
      }
    },
    "XlsxToPngResult": {
      "description": "Result of converting an XLSX input to a PNG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "PngResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedPngPage"
          }
        }
      }
    },
    "PdfToPngResult": {
      "description": "Result of converting a PDF to a PNG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "PngResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedPngPage"
          }
        }
      }
    },
    "AutodetectGetInfoResult": {
      "description": "Result of an autodetect/get-info operation",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "DetectedFileExtension": {
          "description": "Detected file extension of the file format, with a leading period",
          "type": "string"
        },
        "DetectedMimeType": {
          "description": "MIME type of this file extension",
          "type": "string"
        },
        "PageCount": {
          "format": "int64",
          "description": "Number of pages in a page-based document; for presentations, this is the number of slides and for a spreadsheet this is the number of worksheets.  Contains 0 when the page count cannot be determined, or if the concept of page count does not apply (e.g. for an image)",
          "type": "integer"
        },
        "Author": {
          "description": "User name of the creator/author of the document, if available, null if not available",
          "type": "string"
        },
        "DateModified": {
          "format": "date-time",
          "description": "The timestamp that the document was last modified, if available, null if not available",
          "type": "string"
        },
        "AlternateFileTypeCandidates": {
          "description": "Alternate file type options and their probability",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AlternateFileFormatCandidate"
          }
        }
      }
    },
    "AlternateFileFormatCandidate": {
      "description": "Alternate file format possibility",
      "type": "object",
      "properties": {
        "Probability": {
          "format": "double",
          "description": "Probability that this extension is the right one; possible values are between 0.0 (lowest confidence) and 1.0 (highest confidence)",
          "type": "number"
        },
        "DetectedFileExtension": {
          "description": "Detected file extension of the file format, with a leading period",
          "type": "string"
        },
        "DetectedMimeType": {
          "description": "MIME type of this file extension",
          "type": "string"
        }
      }
    },
    "GetFileTypeIconResult": {
      "description": "Result of getting a file type icon from a file extension",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "Icon": {
          "format": "byte",
          "description": "PNG icon as a byte array",
          "type": "string"
        },
        "Extension": {
          "description": "Extension used for the icon",
          "type": "string"
        }
      }
    },
    "AutodetectToPngResult": {
      "description": "Result of converting an autodetected input to a PNG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "PngResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedPngPage"
          }
        }
      }
    },
    "AutodetectToJpgResult": {
      "description": "Result of converting a Autodetected Document input to a JPG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "JpgResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedJpgPage"
          }
        }
      }
    },
    "AutodetectToThumbnailsResult": {
      "description": "Result of converting an entire document to an array of PNG thumbnails",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "Index of this thumbnail",
          "type": "boolean"
        },
        "ThumbnailPages": {
          "description": "A PNG thumbnail of the document page",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Thumbnail"
          }
        }
      }
    },
    "Thumbnail": {
      "description": "Result of converting a single document page to a PNG thumbnail",
      "type": "object",
      "properties": {
        "Index": {
          "format": "int32",
          "description": "Index of this thumbnail",
          "type": "integer"
        },
        "Content": {
          "format": "byte",
          "description": "A PNG thumbnail of the document page",
          "type": "string"
        }
      }
    },
    "EmlToHtmlResult": {
      "description": "Result of converting an EML file to HTML string",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "Content": {
          "description": "An HTML string version of the EML file",
          "type": "string"
        },
        "Body": {
          "description": "The main body of the EML file's email as an HTML string",
          "type": "string"
        },
        "From": {
          "description": "The From sender of the EML file's email",
          "type": "string"
        },
        "To": {
          "description": "The To recipients of the EML file's email",
          "type": "string"
        },
        "Cc": {
          "description": "The CC recipients of the EML file's email",
          "type": "string"
        },
        "DateSent": {
          "description": "The date and time that the EML file's email was sent",
          "type": "string"
        },
        "Subject": {
          "description": "The subject of the EML file's email",
          "type": "string"
        },
        "Attachments": {
          "description": "List of all attachments for the EML file",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmlAttachment"
          }
        }
      }
    },
    "EmlAttachment": {
      "description": "An EML file attachment",
      "type": "object",
      "properties": {
        "Name": {
          "description": "Name of the attachment, including file extension",
          "type": "string"
        },
        "Content": {
          "format": "byte",
          "description": "The EML attachment as a byte[]",
          "type": "string"
        }
      }
    },
    "EmlToPngResult": {
      "description": "Result of converting an EML input to a PNG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "PngResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedPngPage"
          }
        }
      }
    },
    "EmlToJpgResult": {
      "description": "Result of converting an EML input to a JPG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "JpgResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedJpgPage"
          }
        }
      }
    },
    "MsgToHtmlResult": {
      "description": "Result of converting an MSG file to HTML string",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "Content": {
          "description": "An HTML string version of the MSG file",
          "type": "string"
        },
        "Body": {
          "description": "The main body of the MSG file's email as an HTML string",
          "type": "string"
        },
        "From": {
          "description": "The From sender of the MSG file's email",
          "type": "string"
        },
        "To": {
          "description": "The To recipients of the MSG file's email",
          "type": "string"
        },
        "Cc": {
          "description": "The CC recipients of the MSG file's email",
          "type": "string"
        },
        "ReceivedTime": {
          "description": "The time that the MSG file's email was received",
          "type": "string"
        },
        "Subject": {
          "description": "The subject of the MSG file's email",
          "type": "string"
        },
        "Attachments": {
          "description": "List of all attachments for the MSG file",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MsgAttachment"
          }
        }
      }
    },
    "MsgAttachment": {
      "description": "An MSG file attachment",
      "type": "object",
      "properties": {
        "Name": {
          "description": "Name of the attachment, including file extension",
          "type": "string"
        },
        "Content": {
          "format": "byte",
          "description": "The MSG attachment as a byte[]",
          "type": "string"
        }
      }
    },
    "MsgToPngResult": {
      "description": "Result of converting a MSG input to a PNG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "PngResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedPngPage"
          }
        }
      }
    },
    "MsgToJpgResult": {
      "description": "Result of converting a MSG input to a JPG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "JpgResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedJpgPage"
          }
        }
      }
    },
    "OdtToPngResult": {
      "description": "Result of converting an ODT input to a PNG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "PngResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedPngPage"
          }
        }
      }
    },
    "OdtToJpgResult": {
      "description": "Result of converting an ODT input to a JPG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "JpgResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedJpgPage"
          }
        }
      }
    },
    "OdsToPngResult": {
      "description": "Result of converting an ODS input to a PNG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "PngResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedPngPage"
          }
        }
      }
    },
    "OdsToJpgResult": {
      "description": "Result of converting an ODS input to a JPG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "JpgResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedJpgPage"
          }
        }
      }
    },
    "OdpToPngResult": {
      "description": "Result of converting an ODP input to a PNG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "PngResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedPngPage"
          }
        }
      }
    },
    "OdpToJpgResult": {
      "description": "Result of converting an ODP input to a JPG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "JpgResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedJpgPage"
          }
        }
      }
    },
    "KeynoteToPngResult": {
      "description": "Result of converting a Keynote input to a PNG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "PngResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedPngPage"
          }
        }
      }
    },
    "KeynoteToJpgResult": {
      "description": "Result of converting a Keynote input to a JPG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "JpgResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedJpgPage"
          }
        }
      }
    },
    "RtfToPngResult": {
      "description": "Result of converting a RTF input to a PNG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "PngResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedPngPage"
          }
        }
      }
    },
    "RtfToJpgResult": {
      "description": "Result of converting a RTF input to a JPG array",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "JpgResultPages": {
          "description": "Array of converted pages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConvertedJpgPage"
          }
        }
      }
    },
    "MultipageImageFormatConversionResult": {
      "description": "Result of converting a multi-page image into individual pages with a different format",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "PageCount": {
          "format": "int32",
          "description": "The number of pages in the converted output",
          "type": "integer"
        },
        "Pages": {
          "description": "Converted page results",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PageConversionResult"
          }
        }
      }
    },
    "PageConversionResult": {
      "description": "Converted page as an image",
      "type": "object",
      "properties": {
        "Filename": {
          "description": "File name of the image in the converted file format",
          "type": "string"
        },
        "FileBytes": {
          "format": "byte",
          "description": "File bytes (contents) of the image in converted file format",
          "type": "string"
        }
      }
    },
    "GetImageInfoResult": {
      "description": "Result of running a get-info operation on an image",
      "type": "object",
      "properties": {
        "Successful": {
          "type": "boolean"
        },
        "ColorSpace": {
          "description": "Color space of the image",
          "type": "string"
        },
        "ColorType": {
          "description": "Color type of the image",
          "type": "string"
        },
        "Width": {
          "format": "int32",
          "description": "Width in pixels of the image",
          "type": "integer"
        },
        "Height": {
          "format": "int32",
          "description": "Height in pixels of the image",
          "type": "integer"
        },
        "CompressionLevel": {
          "format": "int32",
          "description": "Compression level value from 0 (lowest quality) to 100 (highest quality)",
          "type": "integer"
        },
        "ImageHashSignature": {
          "description": "SHA256 hash signature of the image",
          "type": "string"
        },
        "HasTransparency": {
          "description": "True if the image contains transparency, otherwise false",
          "type": "boolean"
        },
        "MimeType": {
          "description": "MIME type of the image format",
          "type": "string"
        },
        "ImageFormat": {
          "description": "Image format",
          "type": "string"
        },
        "DPIUnit": {
          "description": "Units of the DPI measurement; can be either in Inches or Centimeters",
          "type": "string"
        },
        "DPI": {
          "format": "double",
          "description": "DPI (pixels per unit, e.g. pixels per inch) of the image",
          "type": "number"
        },
        "ColorCount": {
          "format": "int32",
          "description": "Unique colors in the image",
          "type": "integer"
        },
        "BitDepth": {
          "format": "int32",
          "description": "Bit depth of the image",
          "type": "integer"
        },
        "Comment": {
          "description": "Comment string in the image",
          "type": "string"
        },
        "ExifProfileName": {
          "description": "Name of the EXIF profile used",
          "type": "string"
        },
        "ExifValues": {
          "description": "EXIF tags and values embedded in the image",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExifValue"
          }
        }
      }
    },
    "ExifValue": {
      "description": "EXIF tag and value",
      "type": "object",
      "properties": {
        "Tag": {
          "description": "Tag name for the EXIF value",
          "type": "string"
        },
        "DataType": {
          "description": "Date type of the EXIF value",
          "type": "string"
        },
        "DataValue": {
          "description": "Value, formatted as a string of the EXIF value",
          "type": "string"
        }
      }
    },
    "HtmlTemplateApplicationRequest": {
      "description": "HTML template application request",
      "type": "object",
      "properties": {
        "HtmlTemplate": {
          "description": "HTML template input as a string",
          "type": "string"
        },
        "HtmlTemplateUrl": {
          "description": "URL to HTML template input",
          "type": "string"
        },
        "Operations": {
          "description": "Operations to apply to this template",
          "type": "array",
          "items": {
            "$ref": "#/definitions/HtmlTemplateOperation"
          }
        }
      }
    },
    "HtmlTemplateOperation": {
      "type": "object",
      "properties": {
        "Action": {
          "format": "int32",
          "description": "Operation action to take; possible values are \"Replace\"",
          "enum": [
            1
          ],
          "type": "integer"
        },
        "MatchAgsint": {
          "description": "For Replace operations, the string to match against (to be replaced with ReplaceWith string)",
          "type": "string"
        },
        "ReplaceWith": {
          "description": "For Replace operations, the string to Replace the original string with",
          "type": "string"
        }
      }
    },
    "HtmlTemplateApplicationResponse": {
      "description": "Response from an HTML template application",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was successful, false otherwise",
          "type": "boolean"
        },
        "FinalHtml": {
          "description": "Final HTML result of all operations on input",
          "type": "string"
        }
      }
    },
    "DocxTemplateApplicationRequest": {
      "description": "Word DOCX template application request",
      "type": "object",
      "properties": {
        "Operations": {
          "description": "Operations to apply to this template",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocxTemplateOperation"
          }
        }
      }
    },
    "DocxTemplateOperation": {
      "type": "object",
      "properties": {
        "Action": {
          "format": "int32",
          "description": "Operation action to take; possible values are \"Replace\"",
          "enum": [
            1
          ],
          "type": "integer"
        },
        "MatchAgainst": {
          "description": "For Replace operations, the string to match against (to be replaced with ReplaceWith string)",
          "type": "string"
        },
        "ReplaceWith": {
          "description": "For Replace operations, the string to Replace the original string with",
          "type": "string"
        }
      }
    },
    "ScreenshotRequest": {
      "description": "Details of the screenshot request",
      "type": "object",
      "properties": {
        "Url": {
          "description": "URL address of the website to screenshot.  HTTP and HTTPS are both supported, as are custom ports.",
          "type": "string"
        },
        "ExtraLoadingWait": {
          "format": "int32",
          "description": "Optional: Additional number of milliseconds to wait once the web page has finished loading before taking the screenshot.  Can be helpful for highly asynchronous websites.  Provide a value of 0 for the default of 5000 milliseconds (5 seconds)",
          "type": "integer"
        },
        "ScreenshotWidth": {
          "format": "int32",
          "description": "Optional: Width of the screenshot in pixels; supply 0 to default to 1280 x 1024",
          "type": "integer"
        },
        "ScreenshotHeight": {
          "format": "int32",
          "description": "Optional: Height of the screenshot in pixels; supply 0 to default to 1280 x 1024, supply -1 to measure the full screen height of the page and attempt to take a screen-height screenshot",
          "type": "integer"
        }
      }
    },
    "UrlToPdfRequest": {
      "description": "Request to convert a URL to a PDF file",
      "type": "object",
      "properties": {
        "Url": {
          "description": "URL address of the website to screenshot.  HTTP and HTTPS are both supported, as are custom ports.",
          "type": "string"
        },
        "ExtraLoadingWait": {
          "format": "int32",
          "description": "Optional: Additional number of milliseconds to wait once the web page has finished loading before taking the screenshot.  Can be helpful for highly asynchronous websites.  Provide a value of 0 for the default of 5000 milliseconds (5 seconds)",
          "type": "integer"
        },
        "IncludeBackgroundGraphics": {
          "description": "Optional: Set to true to include background graphics in the PDF, or false to not include.  Default is true.",
          "type": "boolean"
        },
        "ScaleFactor": {
          "format": "int32",
          "description": "Optional: Set to 100 to scale at 100%, set to 50% to scale down to 50% scale, set to 200% to scale up to 200% scale, etc.  Default is 100%",
          "type": "integer"
        }
      }
    },
    "UrlToTextRequest": {
      "description": "Details of the URL website to Text request",
      "type": "object",
      "properties": {
        "Url": {
          "description": "URL of the website to extract the text from",
          "type": "string"
        }
      }
    },
    "UrlToTextResponse": {
      "description": "Result of running the URL website to Text operation",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "TextContentResult": {
          "description": "Text content result from the URL website input",
          "type": "string"
        }
      }
    },
    "HtmlToPdfRequest": {
      "description": "Details of the HTML to PDF request",
      "type": "object",
      "properties": {
        "Html": {
          "description": "HTML to render to PDF",
          "type": "string"
        },
        "ExtraLoadingWait": {
          "format": "int32",
          "description": "Optional: Additional number of milliseconds to wait once the web page has finished loading before taking the screenshot.  Can be helpful for highly asynchronous websites.",
          "type": "integer"
        }
      }
    },
    "HtmlToPngRequest": {
      "description": "Details of the HTML to PNG request",
      "type": "object",
      "properties": {
        "Html": {
          "description": "HTML to render to PNG (screenshot)",
          "type": "string"
        },
        "ExtraLoadingWait": {
          "format": "int32",
          "description": "Optional: Additional number of milliseconds to wait once the web page has finished loading before taking the screenshot.  Can be helpful for highly asynchronous websites.",
          "type": "integer"
        },
        "ScreenshotWidth": {
          "format": "int32",
          "description": "Optional: Width of the screenshot in pixels; supply 0 to default to 1280 x 1024, supply -1 to measure the full screen height of the page and attempt to take a screen-height screenshot",
          "type": "integer"
        },
        "ScreenshotHeight": {
          "format": "int32",
          "description": "Optional: Height of the screenshot in pixels; supply 0 to default to 1280 x 1024, supply -1 to measure the full screen height of the page and attempt to take a screen-height screenshot",
          "type": "integer"
        }
      }
    },
    "HtmlToTextRequest": {
      "description": "Details of the HTML to Text request",
      "type": "object",
      "properties": {
        "Html": {
          "description": "HTML to extract the text from",
          "type": "string"
        }
      }
    },
    "HtmlToTextResponse": {
      "description": "Result of running the HTML to Text operation",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "TextContentResult": {
          "description": "Text content result from the HTML input",
          "type": "string"
        }
      }
    },
    "HtmlToOfficeRequest": {
      "description": "Details of the HTML to Office request",
      "type": "object",
      "properties": {
        "Html": {
          "description": "HTML to render to Office format",
          "type": "string"
        }
      }
    },
    "HtmlMdResult": {
      "description": "Result from converting a Markdown file to HTML",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if operation was successful, false otherwise",
          "type": "boolean"
        },
        "Html": {
          "description": "Resulting HTML from the conversion",
          "type": "string"
        }
      }
    },
    "FinishEditingRequest": {
      "description": "Input to a Finish Editing request",
      "type": "object",
      "properties": {
        "InputFileUrl": {
          "description": "URL of a document being edited to get the contents of.",
          "type": "string"
        }
      }
    },
    "CreateBlankDocxRequest": {
      "description": "Input to a Create Blank Word Document request",
      "type": "object",
      "properties": {
        "InitialText": {
          "description": "Optional; initial text to include in the document",
          "type": "string"
        }
      }
    },
    "CreateBlankDocxResponse": {
      "description": "Result of creating a blank Word document",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "EditedDocumentURL": {
          "description": "URL to the edited XLSX file; file is stored in an in-memory cache and will be deleted.  Call Finish-Editing to get the result document contents.",
          "type": "string"
        }
      }
    },
    "ReplaceStringRequest": {
      "description": "Input to a string replacement request",
      "type": "object",
      "properties": {
        "InputFileBytes": {
          "format": "byte",
          "description": "Optional: Bytes of the input file to operate on",
          "type": "string"
        },
        "InputFileUrl": {
          "description": "Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).",
          "type": "string"
        },
        "MatchString": {
          "description": "String to search for and match against, to be replaced",
          "type": "string"
        },
        "ReplaceString": {
          "description": "String to replace the matched values with",
          "type": "string"
        },
        "MatchCase": {
          "description": "True if the case should be matched, false for case insensitive match",
          "type": "boolean"
        }
      }
    },
    "GetDocxTablesRequest": {
      "description": "Input to a Get Tables request",
      "type": "object",
      "properties": {
        "InputFileBytes": {
          "format": "byte",
          "description": "Optional: Bytes of the input file to operate on",
          "type": "string"
        },
        "InputFileUrl": {
          "description": "Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).",
          "type": "string"
        }
      }
    },
    "GetDocxTablesResponse": {
      "description": "Result of running a Get-Tables command",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "Tables": {
          "description": "Tables in the DOCX file",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocxTable"
          }
        }
      }
    },
    "DocxTable": {
      "description": "A table in a Word Document (DOCX) file",
      "type": "object",
      "properties": {
        "TableID": {
          "description": "The ID of the table; leave blank for new tables",
          "type": "string"
        },
        "Path": {
          "description": "The Path of the location of this table object; leave blank for new tables",
          "type": "string"
        },
        "Width": {
          "description": "The Width of the table, or 0 if not specified",
          "type": "string"
        },
        "WidthType": {
          "description": "The Width configuration type of the table",
          "type": "string"
        },
        "TableRows": {
          "description": "Rows in the table; this is where the contents is located",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocxTableRow"
          }
        },
        "TopBorderType": {
          "description": "Type for the top border - can be a Single, DashDotStroked, Dashed, DashSmallGap, DotDash, DotDotDash, Dotted, Double, DoubleWave, Inset, Nil, None, Outset, Thick, ThickThinLargeGap, ThickThinMediumGap, ThickThinSmallGap, ThinThickLargeGap, ThinThickMediumGap, ThinThickSmallGap, ThinThickThinLargeGap, ThinThickThinMediumGap, ThinThickThinSmallGap, ThreeDEmboss, ThreeDEngrave, Triple, Wave",
          "type": "string"
        },
        "TopBorderSize": {
          "format": "int32",
          "description": "Width of the border in points (1/72nd of an inch)",
          "type": "integer"
        },
        "TopBorderSpace": {
          "format": "int32",
          "description": "Spacing around the border in points (1/72nd of an inch)",
          "type": "integer"
        },
        "TopBorderColor": {
          "description": "HTML-style color hex value (do not include a #)",
          "type": "string"
        },
        "BottomBorderType": {
          "description": "Type for the bottom border - can be a Single, DashDotStroked, Dashed, DashSmallGap, DotDash, DotDotDash, Dotted, Double, DoubleWave, Inset, Nil, None, Outset, Thick, ThickThinLargeGap, ThickThinMediumGap, ThickThinSmallGap, ThinThickLargeGap, ThinThickMediumGap, ThinThickSmallGap, ThinThickThinLargeGap, ThinThickThinMediumGap, ThinThickThinSmallGap, ThreeDEmboss, ThreeDEngrave, Triple, Wave",
          "type": "string"
        },
        "BottomBorderSize": {
          "format": "int32",
          "description": "Width of the border in points (1/72nd of an inch)",
          "type": "integer"
        },
        "BottomBorderSpace": {
          "format": "int32",
          "description": "Spacing around the border in points (1/72nd of an inch)",
          "type": "integer"
        },
        "BottomBorderColor": {
          "description": "HTML-style color hex value (do not include a #)",
          "type": "string"
        },
        "LeftBorderType": {
          "description": "Type for the left border - can be a Single, DashDotStroked, Dashed, DashSmallGap, DotDash, DotDotDash, Dotted, Double, DoubleWave, Inset, Nil, None, Outset, Thick, ThickThinLargeGap, ThickThinMediumGap, ThickThinSmallGap, ThinThickLargeGap, ThinThickMediumGap, ThinThickSmallGap, ThinThickThinLargeGap, ThinThickThinMediumGap, ThinThickThinSmallGap, ThreeDEmboss, ThreeDEngrave, Triple, Wave",
          "type": "string"
        },
        "LeftBorderSize": {
          "format": "int32",
          "description": "Width of the border in points (1/72nd of an inch)",
          "type": "integer"
        },
        "LeftBorderSpace": {
          "format": "int32",
          "description": "Spacing around the border in points (1/72nd of an inch)",
          "type": "integer"
        },
        "LeftBorderColor": {
          "description": "HTML-style color hex value (do not include a #)",
          "type": "string"
        },
        "RightBorderType": {
          "description": "Type for the right border - can be a Single, DashDotStroked, Dashed, DashSmallGap, DotDash, DotDotDash, Dotted, Double, DoubleWave, Inset, Nil, None, Outset, Thick, ThickThinLargeGap, ThickThinMediumGap, ThickThinSmallGap, ThinThickLargeGap, ThinThickMediumGap, ThinThickSmallGap, ThinThickThinLargeGap, ThinThickThinMediumGap, ThinThickThinSmallGap, ThreeDEmboss, ThreeDEngrave, Triple, Wave",
          "type": "string"
        },
        "RightBorderSize": {
          "format": "int32",
          "description": "Width of the border in points (1/72nd of an inch)",
          "type": "integer"
        },
        "RightBorderSpace": {
          "format": "int32",
          "description": "Spacing around the border in points (1/72nd of an inch)",
          "type": "integer"
        },
        "RightBorderColor": {
          "description": "HTML-style color hex value (do not include a #)",
          "type": "string"
        },
        "CellHorizontalBorderType": {
          "description": "Type for the cell horizontal border - can be a Single, DashDotStroked, Dashed, DashSmallGap, DotDash, DotDotDash, Dotted, Double, DoubleWave, Inset, Nil, None, Outset, Thick, ThickThinLargeGap, ThickThinMediumGap, ThickThinSmallGap, ThinThickLargeGap, ThinThickMediumGap, ThinThickSmallGap, ThinThickThinLargeGap, ThinThickThinMediumGap, ThinThickThinSmallGap, ThreeDEmboss, ThreeDEngrave, Triple, Wave",
          "type": "string"
        },
        "CellHorizontalBorderSize": {
          "format": "int32",
          "description": "Width of the border in points (1/72nd of an inch)",
          "type": "integer"
        },
        "CellHorizontalBorderSpace": {
          "format": "int32",
          "description": "Spacing around the border in points (1/72nd of an inch)",
          "type": "integer"
        },
        "CellHorizontalBorderColor": {
          "description": "HTML-style color hex value (do not include a #)",
          "type": "string"
        },
        "CellVerticalBorderType": {
          "description": "Type for the cell vertical border - can be a Single, DashDotStroked, Dashed, DashSmallGap, DotDash, DotDotDash, Dotted, Double, DoubleWave, Inset, Nil, None, Outset, Thick, ThickThinLargeGap, ThickThinMediumGap, ThickThinSmallGap, ThinThickLargeGap, ThinThickMediumGap, ThinThickSmallGap, ThinThickThinLargeGap, ThinThickThinMediumGap, ThinThickThinSmallGap, ThreeDEmboss, ThreeDEngrave, Triple, Wave",
          "type": "string"
        },
        "CellVerticalBorderSize": {
          "format": "int32",
          "description": "Width of the border in points (1/72nd of an inch)",
          "type": "integer"
        },
        "CellVerticalBorderSpace": {
          "format": "int32",
          "description": "Spacing around the border in points (1/72nd of an inch)",
          "type": "integer"
        },
        "CellVerticalBorderColor": {
          "description": "HTML-style color hex value (do not include a #)",
          "type": "string"
        },
        "StartBorderType": {
          "description": "Type for the start border - can be a Single, DashDotStroked, Dashed, DashSmallGap, DotDash, DotDotDash, Dotted, Double, DoubleWave, Inset, Nil, None, Outset, Thick, ThickThinLargeGap, ThickThinMediumGap, ThickThinSmallGap, ThinThickLargeGap, ThinThickMediumGap, ThinThickSmallGap, ThinThickThinLargeGap, ThinThickThinMediumGap, ThinThickThinSmallGap, ThreeDEmboss, ThreeDEngrave, Triple, Wave",
          "type": "string"
        },
        "StartBorderSize": {
          "format": "int32",
          "description": "Width of the border in points (1/72nd of an inch)",
          "type": "integer"
        },
        "StartBorderSpace": {
          "format": "int32",
          "description": "Spacing around the border in points (1/72nd of an inch)",
          "type": "integer"
        },
        "StartBorderColor": {
          "description": "HTML-style color hex value (do not include a #)",
          "type": "string"
        },
        "EndBorderType": {
          "description": "Type for the end border - can be a Single, DashDotStroked, Dashed, DashSmallGap, DotDash, DotDotDash, Dotted, Double, DoubleWave, Inset, Nil, None, Outset, Thick, ThickThinLargeGap, ThickThinMediumGap, ThickThinSmallGap, ThinThickLargeGap, ThinThickMediumGap, ThinThickSmallGap, ThinThickThinLargeGap, ThinThickThinMediumGap, ThinThickThinSmallGap, ThreeDEmboss, ThreeDEngrave, Triple, Wave",
          "type": "string"
        },
        "EndBorderSize": {
          "format": "int32",
          "description": "Width of the border in points (1/72nd of an inch)",
          "type": "integer"
        },
        "EndBorderSpace": {
          "format": "int32",
          "description": "Spacing around the border in points (1/72nd of an inch)",
          "type": "integer"
        },
        "EndBorderColor": {
          "description": "HTML-style color hex value (do not include a #)",
          "type": "string"
        },
        "TableIndentationMode": {
          "description": "Table indentation type",
          "type": "string"
        },
        "TableIndentationWidth": {
          "format": "int32",
          "description": "Table indentation width",
          "type": "integer"
        }
      }
    },
    "DocxTableRow": {
      "description": "A row in a Word Document (DOCX) file",
      "type": "object",
      "properties": {
        "RowIndex": {
          "format": "int32",
          "description": "Index of the row, 0-based",
          "type": "integer"
        },
        "Path": {
          "description": "The Path of the location of this table row object; leave blank for new tables",
          "type": "string"
        },
        "RowCells": {
          "description": "Cells in the row; this is where the contents of the row is stored",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocxTableCell"
          }
        }
      }
    },
    "DocxTableCell": {
      "description": "A cell in a Word Document (DOCX) file",
      "type": "object",
      "properties": {
        "CellIndex": {
          "format": "int32",
          "description": "The index of the cell, 0-based",
          "type": "integer"
        },
        "Path": {
          "description": "The Path of the location of this object; leave blank for new tables",
          "type": "string"
        },
        "Paragraphs": {
          "description": "Paragraphs inside the cell; this is where the contents of the cell are stored",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocxParagraph"
          }
        },
        "CellShadingColor": {
          "description": "Color of the cell shading",
          "type": "string"
        },
        "CellShadingFill": {
          "description": "Fill of the cell shading",
          "type": "string"
        },
        "CellShadingPattern": {
          "description": "Pattern of the cell shading",
          "type": "string"
        },
        "CellWidthMode": {
          "description": "Width mode of the cell; can be auto (for automatic) or manual",
          "type": "string"
        },
        "CellWidth": {
          "description": "Width of the cell",
          "type": "string"
        }
      }
    },
    "DocxParagraph": {
      "description": "A paragraph in a Word Document (DOCX) file; there is where text, content and formatting are stored - similar to the paragraph tag in HTML",
      "type": "object",
      "properties": {
        "ParagraphIndex": {
          "format": "int32",
          "description": "The index of the paragraph; 0-based",
          "type": "integer"
        },
        "Path": {
          "description": "The Path of the location of this Paragraph object; leave blank during creation",
          "type": "string"
        },
        "ContentRuns": {
          "description": "The content runs in the paragraph - this is where text is stored; similar to a span in HTML",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocxRun"
          }
        },
        "StyleID": {
          "description": "Style ID of the style applied to the paragraph; null if no style is applied",
          "type": "string"
        }
      }
    },
    "DocxRun": {
      "description": "A content run in a Word Document (DOCX) file",
      "type": "object",
      "properties": {
        "RunIndex": {
          "format": "int32",
          "description": "Index of the run, 0-based",
          "type": "integer"
        },
        "Path": {
          "description": "The Path of the location of this Run object; leave blank for creation",
          "type": "string"
        },
        "TextItems": {
          "description": "Text items inside the run; this is where the actual text content is stored",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocxText"
          }
        },
        "Bold": {
          "description": "True to make the text bold, false otherwise",
          "type": "boolean"
        },
        "Italic": {
          "description": "True to make the text italic, false otherwise",
          "type": "boolean"
        },
        "Underline": {
          "description": "Underline mode for the text; possible values are: Words, Double, Thick, Dotted, DottedHeavy, Dash, DashedHeavy, DashLong, DashLongHeavy, DotDash, DashDotHeavy, DotDotDash, DashDotDotHeavy, Wave, WavyHeavy, WavyDouble, None",
          "type": "string"
        },
        "FontFamily": {
          "description": "Font Family name for the text, e.g. \"Arial\" or \"Times New Roman\"",
          "type": "string"
        },
        "FontSize": {
          "description": "Font size in font points (e.g. \"24\")",
          "type": "string"
        }
      }
    },
    "DocxText": {
      "description": "Unit of text content in a Word Document (DOCX) file",
      "type": "object",
      "properties": {
        "TextIndex": {
          "format": "int32",
          "description": "Index of the text content in the run; 0-based",
          "type": "integer"
        },
        "Path": {
          "description": "The Path of the location of this Text object; leave blank for creation",
          "type": "string"
        },
        "TextContent": {
          "description": "Text string containing the text content of this text content item",
          "type": "string"
        }
      }
    },
    "GetDocxTableByIndexRequest": {
      "description": "Input to a Get Tables by Index request",
      "type": "object",
      "properties": {
        "InputFileBytes": {
          "format": "byte",
          "description": "Optional: Bytes of the input file to operate on",
          "type": "string"
        },
        "InputFileUrl": {
          "description": "Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).",
          "type": "string"
        },
        "TableIndex": {
          "format": "int32",
          "description": "0-based index of the table to retrieve from the Word Document",
          "type": "integer"
        }
      }
    },
    "GetDocxTableByIndexResponse": {
      "description": "Result of running a Get-Tables by Index command",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "Table": {
          "$ref": "#/definitions/DocxTable",
          "description": "Requested Table in the DOCX file"
        }
      }
    },
    "GetDocxImagesRequest": {
      "description": "Input to a Get Images request",
      "type": "object",
      "properties": {
        "InputFileBytes": {
          "format": "byte",
          "description": "Optional: Bytes of the input file to operate on",
          "type": "string"
        },
        "InputFileUrl": {
          "description": "Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).",
          "type": "string"
        }
      }
    },
    "GetDocxImagesResponse": {
      "description": "Result of running a Get-Images command",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "Images": {
          "description": "Images in the DOCX document",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocxImage"
          }
        }
      }
    },
    "DocxImage": {
      "type": "object",
      "properties": {
        "Path": {
          "description": "The Path of the location of this object; leave blank for new tables",
          "type": "string"
        },
        "ImageName": {
          "description": "The Name of the image",
          "type": "string"
        },
        "ImageId": {
          "format": "int64",
          "description": "The Id of the image",
          "type": "integer"
        },
        "ImageDescription": {
          "description": "The Description of the image",
          "type": "string"
        },
        "ImageWidth": {
          "format": "int64",
          "description": "Width of the image in EMUs (English Metric Units); set to 0 to default to page width and aspect-ratio based height",
          "type": "integer"
        },
        "ImageHeight": {
          "format": "int64",
          "description": "Height of the image in EMUs (English Metric Units); set to 0 to default to page width and aspect-ratio based height",
          "type": "integer"
        },
        "XOffset": {
          "format": "int64",
          "description": "X (horizontal) offset of the image",
          "type": "integer"
        },
        "YOffset": {
          "format": "int64",
          "description": "Y (vertical) offset of the image",
          "type": "integer"
        },
        "ImageDataEmbedId": {
          "description": "Read-only; internal ID for the image contents",
          "type": "string"
        },
        "ImageDataContentType": {
          "description": "Read-only; image data MIME content-type",
          "type": "string"
        },
        "ImageInternalFileName": {
          "description": "Read-only; internal file name/path for the image",
          "type": "string"
        },
        "ImageContentsURL": {
          "description": "URL to the image contents; file is stored in an in-memory cache and will be deleted.  Call Finish-Editing to get the contents.",
          "type": "string"
        },
        "InlineWithText": {
          "description": "True if the image is inline with the text; false if it is floating",
          "type": "boolean"
        }
      }
    },
    "GetDocxStylesRequest": {
      "description": "Input to a Get Tables request",
      "type": "object",
      "properties": {
        "InputFileBytes": {
          "format": "byte",
          "description": "Optional: Bytes of the input file to operate on",
          "type": "string"
        },
        "InputFileUrl": {
          "description": "Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).",
          "type": "string"
        }
      }
    },
    "GetDocxStylesResponse": {
      "description": "Result of running a Get-Tables command",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "Styles": {
          "description": "Styles in the DOCX document",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocxStyle"
          }
        }
      }
    },
    "DocxStyle": {
      "description": "Style in a DOCX Word Document",
      "type": "object",
      "properties": {
        "StyleID": {
          "description": "ID of the style",
          "type": "string"
        },
        "Path": {
          "description": "The Path of the location of this object; leave blank for new tables",
          "type": "string"
        },
        "Bold": {
          "description": "Style applies bold formatting",
          "type": "boolean"
        },
        "Italic": {
          "description": "Style applies italic formatting",
          "type": "boolean"
        },
        "Underline": {
          "description": "Style applies underline formatting",
          "type": "boolean"
        },
        "FontSize": {
          "description": "Font size",
          "type": "string"
        },
        "FontFamily": {
          "description": "Font family",
          "type": "string"
        }
      }
    },
    "GetDocxSectionsRequest": {
      "description": "Input to a Get Sections request",
      "type": "object",
      "properties": {
        "InputFileBytes": {
          "format": "byte",
          "description": "Optional: Bytes of the input file to operate on",
          "type": "string"
        },
        "InputFileUrl": {
          "description": "Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).",
          "type": "string"
        }
      }
    },
    "GetDocxSectionsResponse": {
      "description": "Result of running a Get-Sections command",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "Sections": {
          "description": "Sections in the DOCX document",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocxSection"
          }
        }
      }
    },
    "DocxSection": {
      "description": "Section of a Word Document (DOCX)",
      "type": "object",
      "properties": {
        "StartingPageNumbers": {
          "description": "Page numbers that the section starts at, typically just one",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "Path": {
          "description": "The Path of the location of this object; leave blank for new tables",
          "type": "string"
        }
      }
    },
    "GetDocxBodyRequest": {
      "description": "Input to a Get Body request",
      "type": "object",
      "properties": {
        "InputFileBytes": {
          "format": "byte",
          "description": "Optional: Bytes of the input file to operate on",
          "type": "string"
        },
        "InputFileUrl": {
          "description": "Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).",
          "type": "string"
        }
      }
    },
    "GetDocxBodyResponse": {
      "description": "Result of running a Get-Body command",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "Body": {
          "$ref": "#/definitions/DocxBody",
          "description": "Body in the DOCX document"
        }
      }
    },
    "DocxBody": {
      "type": "object",
      "properties": {
        "Path": {
          "description": "The Path of the location of this object; leave blank for new tables",
          "type": "string"
        },
        "AllParagraphs": {
          "description": "All paragraphs anywhere in the document; these objects are not sequentially placed but are scatted across document",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocxParagraph"
          }
        },
        "AllTables": {
          "description": "All tables anywhere in the document; these objects are not sequentially placed but are scatted across the document",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocxTable"
          }
        }
      }
    },
    "FindDocxParagraphRequest": {
      "description": "Input to a request to find matching paragraphs in a Word DOCX document",
      "type": "object",
      "properties": {
        "InputFileBytes": {
          "format": "byte",
          "description": "Optional: Bytes of the input file to operate on",
          "type": "string"
        },
        "InputFileUrl": {
          "description": "Optional: URL of a file to operate on as input.  This can be a public URL, or you can also use the begin-editing API to upload a document and pass in the secure URL result from that operation as the URL here (this URL is not public).",
          "type": "string"
        },
        "FindString": {
          "description": "Required: The target string to search for in the paragraphs of the document",
          "type": "string"
        },
        "MatchCase": {
          "description": "Optional: True to match case, false to ignore case when matching",
          "type": "boolean"
        }
      }
    },
    "FindDocxParagraphResponse": {
      "description": "Result of performing a find matching paragraphs operation on a Word Document",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful; false otherwise",
          "type": "boolean"
        },
        "MatchingParagraphs": {
          "description": "Matching paragraphs",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocxParagraph"
          }
        },
        "Count": {
          "format": "int32",
          "description": "Count of matching paragraphs",
          "type": "integer"
        }
      }
    },
    "ReplaceDocxParagraphRequest": {
      "description": "Input to a request to replace matching paragraphs in a Word DOCX document",
      "type": "object",
      "properties": {
        "InputFileBytes": {
          "format": "byte",
          "description": "Optional: Bytes of the input file to operate on",
          "type": "string"
        },
        "InputFileUrl": {
[...]
