{
  "swagger": "2.0",
  "info": {
    "title": "Exchange Rate",
    "description": "Get real-time currency conversion data provided by ExchangeRate-API.",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_exch@gmail.com"
    }
  },
  "host": "v6.exchangerate-api.com",
  "basePath": "/v6/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/latest/{basecurrency}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Result state of the request.",
                  "title": "Result"
                },
                "documentation": {
                  "type": "string",
                  "description": "Link to the ExchangeRate-API documentation.",
                  "title": "Documentation"
                },
                "terms_of_use": {
                  "type": "string",
                  "description": "Link to the ExchangeRate-API terms of use.",
                  "title": "Terms of use"
                },
                "time_last_update_unix": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Timestamp of last update in unix format, eg 1585353700.",
                  "title": "Last updated (unix)"
                },
                "time_last_update_utc": {
                  "type": "string",
                  "description": "Timestamp of last update in UTC format, eg 'Sat, 28 Mar 2020 00:00:00 +0000'.",
                  "title": "Last updated (UTC)"
                },
                "time_next_update_unix": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Timestamp of next update in unix format, eg 1585353700.",
                  "title": "Next update (unix)"
                },
                "time_next_update_utc": {
                  "type": "string",
                  "description": "Timestamp of next update in UTC format, eg 'Sat, 28 Mar 2020 00:00:00 +0000'.",
                  "title": "Next update (UTC)"
                },
                "base_code": {
                  "type": "string",
                  "description": "Selected base currency code, eg 'USD'.",
                  "title": "Base code"
                },
                "conversion_rates": {
                  "type": "object",
                  "description": "Conversion rates for base currency: property name is currency code while value is the respective rate.",
                  "title": "Conversion rates"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          }
        },
        "summary": "Get Exchange Rates",
        "description": "Get all supported exchange rates for selected base currency",
        "operationId": "GetExchangeRates",
        "parameters": [
          {
            "name": "basecurrency",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Base currency code for exchange rates, eg 'USD'",
            "x-ms-summary": "Base currency",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/pair/{baseCurrency}/{targetCurrency}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Result state of the request.",
                  "title": "Result"
                },
                "documentation": {
                  "type": "string",
                  "description": "Link to the ExchangeRate-API documentation.",
                  "title": "Documentation"
                },
                "terms_of_use": {
                  "type": "string",
                  "description": "Link to the ExchangeRate-API terms of use.",
                  "title": "Terms of use"
                },
                "time_last_update_unix": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Timestamp of last update in unix format, eg 1585353700.",
                  "title": "Last updated (unix)"
                },
                "time_last_update_utc": {
                  "type": "string",
                  "description": "Timestamp of last update in UTC format, eg 'Sat, 28 Mar 2020 00:00:00 +0000'.",
                  "title": "Last updated (UTC)"
                },
                "time_next_update_unix": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Timestamp of next update in unix format, eg 1585353700.",
                  "title": "Next update (unix)"
                },
                "time_next_update_utc": {
                  "type": "string",
                  "description": "Timestamp of next update in UTC format, eg 'Sat, 28 Mar 2020 00:00:00 +0000'.",
                  "title": "Next update (UTC)"
                },
                "base_code": {
                  "type": "string",
                  "description": "Selected base currency code, eg 'USD'.",
                  "title": "Base code"
                },
                "target_code": {
                  "type": "string",
                  "description": "Selected target currency code, eg 'EUR'.",
                  "title": "Target code"
                },
                "conversion_rate": {
                  "type": "number",
                  "format": "float",
                  "description": "Current conversion rate between base and target currency.",
                  "title": "Conversion rate"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          }
        },
        "summary": "Get Exchange Rate",
        "description": "Get specific exchange rate between two currencies",
        "operationId": "GetExchangeRate",
        "parameters": [
          {
            "name": "baseCurrency",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Base currency code for exchange rates, eg 'USD'",
            "x-ms-summary": "Base currency",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "targetCurrency",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Target currency code for exchange rates, eg 'EUR'",
            "x-ms-summary": "Target currency",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/codes": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Result state of the request.",
                  "title": "Result"
                },
                "documentation": {
                  "type": "string",
                  "description": "Link to the ExchangeRate-API documentation.",
                  "title": "Documentation"
                },
                "terms_of_use": {
                  "type": "string",
                  "description": "Link to the ExchangeRate-API terms of use.",
                  "title": "Terms of use"
                },
                "supported_codes": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "description": "Array of supported currency codes and their names.",
                  "title": "Supported codes"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          }
        },
        "summary": "List Currencies",
        "description": "List supported currency codes",
        "operationId": "ListCurrencies",
        "parameters": []
      }
    },
    "/history/{baseCurrency}/{year}/{month}/{day}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Result state of the request.",
                  "title": "Result"
                },
                "documentation": {
                  "type": "string",
                  "description": "Link to the ExchangeRate-API documentation.",
                  "title": "Documentation"
                },
                "terms_of_use": {
                  "type": "string",
                  "description": "Link to the ExchangeRate-API terms of use.",
                  "title": "Terms of use"
                },
                "year": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Selected year for historical data.",
                  "title": "Year"
                },
                "month": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Selected month for historical data.",
                  "title": "Month"
                },
                "day": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Selected day for historical data.",
                  "title": "Day"
                },
                "base_code": {
                  "type": "string",
                  "description": "Selected base currency code for exchange rate.",
                  "title": "Base code"
                },
                "conversion_rates": {
                  "type": "object",
                  "description": "Conversion rates for base currency: property name is currency code while value is the respective rate.",
                  "title": "Conversion rates"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          }
        },
        "summary": "Get Historical Rates",
        "description": "Get historical rates for a base currency for a given day",
        "operationId": "GetHistoricalRates",
        "parameters": [
          {
            "name": "baseCurrency",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Base currency code for exchange rates, eg 'USD'",
            "x-ms-summary": "Base currency",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Selected year for historical data in YYYY format, eg '2020'",
            "x-ms-summary": "Year",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Selected month for historical data in MM format without leading zero, eg '12'",
            "x-ms-summary": "Month",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "day",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Selected day for historical data in DD format without leading zero, eg '31'",
            "x-ms-summary": "Day",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/history/{baseCurrency}/{year}/{month}/{day}/{amount}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Result state of the request.",
                  "title": "Result"
                },
                "documentation": {
                  "type": "string",
                  "description": "Link to the ExchangeRate-API documentation.",
                  "title": "Documentation"
                },
                "terms_of_use": {
                  "type": "string",
                  "description": "Link to the ExchangeRate-API terms of use.",
                  "title": "Terms of use"
                },
                "year": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Selected year for historical data.",
                  "title": "Year"
                },
                "month": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Selected month for historical data.",
                  "title": "Month"
                },
                "day": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Selected day for historical data.",
                  "title": "Day"
                },
                "base_code": {
                  "type": "string",
                  "description": "Selected base currency code for exchange rate.",
                  "title": "Base code"
                },
                "requested_amount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Requested amount in base currency to be converted.",
                  "title": "Requested amount"
                },
                "conversion_rates": {
                  "type": "object",
                  "description": "Conversion rates for base currency: property name is currency code while value is the respective rate.",
                  "title": "Conversion rates"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          }
        },
        "summary": "Get Historical Conversions",
        "description": "Get historical conversions for a base currency for a given day",
        "operationId": "GetHistoricalConversions",
        "parameters": [
          {
            "name": "baseCurrency",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Base currency code for exchange rates, eg 'USD'",
            "x-ms-summary": "Base currency",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Selected year for historical data in YYYY format, eg '2020'",
            "x-ms-summary": "Year",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Selected month for historical data in MM format without leading zero, eg '12'",
            "x-ms-summary": "Month",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "day",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Selected day for historical data in DD format without leading zero, eg '31'",
            "x-ms-summary": "Day",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "amount",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A decimal amount you would like converted, eg '100.5'",
            "x-ms-summary": "Amount",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.exchangerate-api.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.exchangerate-api.com/terms"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Commerce;Finance"
    }
  ]
}