{
  "swagger": "2.0",
  "info": {
    "title": "edatalia Sign Online",
    "description": "Connector to a Sign service create online signatures between customers",
    "termsOfService": "https://firmar.online/condiciones-generales-de-contratacion",
    "contact": {
      "name": "Axazure",
      "url": "https://www.axazure.com"
    },
    "version": "v40"
  },
  "host": "restapi.firmar.info",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/PSC/v40/DocumentSet/Simple": {
      "post": {
        "tags": [
          "DocumentSet"
        ],
        "summary": "Send simple document to sign",
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "description": "Create an envelop with an unique document and sender indicating the send method",
        "operationId": "Send-simple-document-to-sign",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "documentSetName": {
                  "type": "string",
                  "description": "Document set name",
                  "title": "Document Set Name"
                },
                "sendermail": {
                  "type": "string",
                  "description": "Sender email",
                  "title": "Sender email"
                },
                "Sendername": {
                  "type": "string",
                  "description": "Sender Name",
                  "title": "Sender name"
                },
                "expirationDaysTimeout": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Days to document gets expired",
                  "title": "Expiration Days Timeout",
                  "default": 3
                },
                "reminderDays": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Days to remain before the expiration day",
                  "title": "Reminder Days",
                  "default": 1
                },
                "sendMethod": {
                  "type": "integer",
                  "format": "int32",
                  "description": "sendMethod",
                  "title": "Send Method",
                  "x-ms-visibility": "internal",
                  "default": 1
                },
                "document": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Document name",
                      "title": "Document Name"
                    },
                    "b64PDFContent": {
                      "type": "string",
                      "description": "PDF document in base 64",
                      "title": "Base64 PDF Content"
                    }
                  },
                  "description": "Document properties"
                },
                "recipient": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Recipient name",
                      "title": "Recipient name"
                    },
                    "email": {
                      "type": "string",
                      "description": "Recipient email",
                      "title": "Recipient email"
                    },
                    "cardId": {
                      "type": "string",
                      "description": "Card Id",
                      "title": "Card Id"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "Recipient Phone Number with prefix (ex +34)",
                      "title": "Recipient Phone Number"
                    },
                    "actionType": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Type of method to sign",
                      "title": "Action Type",
                      "enum": [
                        10,
                        20,
                        21,
                        30,
                        40,
                        50,
                        60
                      ],
                      "x-ms-enum-values": [
                        {
                          "displayName": "Notification",
                          "value": 10
                        },
                        {
                          "displayName": "Acceptance",
                          "value": 20
                        },
                        {
                          "displayName": "Acceptance Signature",
                          "value": 21
                        },
                        {
                          "displayName": "BioSignature",
                          "value": 30
                        },
                        {
                          "displayName": "OTPSignature",
                          "value": 40
                        },
                        {
                          "displayName": "BioOTPSignature",
                          "value": 50
                        },
                        {
                          "displayName": "CryptoAPISignature",
                          "value": 60
                        }
                      ]
                    },
                    "widget": {
                      "type": "object",
                      "properties": {
                        "customtext": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "Widget text",
                                "title": "Widget Text"
                              },
                              "fontSize": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Widget text fontsize",
                                "title": "Widget text fontsize"
                              }
                            }
                          },
                          "description": "customtext"
                        },
                        "text": {
                          "type": "string",
                          "description": "Text to apply gap X and Y (no spaces)",
                          "title": "Text to find"
                        },
                        "gapX": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Widget gap in pixels to X from text",
                          "title": "GapX"
                        },
                        "gapY": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Widget gap in pixels to Y from text",
                          "title": "GapY"
                        },
                        "rotation": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Widget rotation",
                          "title": "Rotation"
                        },
                        "width": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Widget width",
                          "title": "Width"
                        },
                        "height": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Widget height",
                          "title": "Height"
                        }
                      },
                      "description": "Widget"
                    }
                  },
                  "description": "Recipient"
                }
              },
              "required": [
                "sendMethod"
              ]
            }
          }
        ]
      }
    },
    "/PSC/v40/DocumentSet/Evidences/{documentSetId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Evidence Signed Document ",
        "description": "Gets the evidence document of the envolope process",
        "operationId": "Get-evidence-signed-document",
        "parameters": [
          {
            "name": "documentSetId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the document generated",
            "x-ms-summary": "Id of the document",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/PSC/v40/DocumentSet/Document/{documentSetId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get signed document (simple)",
        "description": "Get signed document for a simple send",
        "operationId": "Get-signed-document",
        "parameters": [
          {
            "name": "documentSetId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the document generated",
            "x-ms-summary": "Id of the document",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/PSC/v40/DocumentSet/": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Send document to sign",
        "operationId": "Send-document-to-sign",
        "description": "Send document to sign with the posibility of multiple documents and multiple signatures",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "documentSetName": {
                  "type": "string",
                  "description": "Document Set Name",
                  "title": "Document Set Name"
                },
                "sendermail": {
                  "type": "string",
                  "description": "Sender email",
                  "title": "Sender email"
                },
                "Sendername": {
                  "type": "string",
                  "description": "Sender name",
                  "title": "Sender name"
                },
                "expirationDaysTimeout": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Days to document gets expired",
                  "title": "Expiration Days Timeout",
                  "default": 3
                },
                "reminderDays": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Days to remain before the expiration day",
                  "title": "Reminder Days",
                  "default": 1
                },
                "reference": {
                  "type": "string",
                  "description": "Unique name for the envelop",
                  "title": "Reference"
                },
                "sendMethod": {
                  "type": "integer",
                  "format": "int32",
                  "description": "sendMethod",
                  "title": "Send Method",
                  "x-ms-visibility": "internal",
                  "default": 1
                },
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier of the recipient",
                        "title": "Id recipiente"
                      },
                      "name": {
                        "type": "string",
                        "description": "Recipient name",
                        "title": "Recipient name"
                      },
                      "email": {
                        "type": "string",
                        "description": "email",
                        "title": "Recipient email"
                      },
                      "cardId": {
                        "type": "string",
                        "description": "Recipient Card Id",
                        "title": "Card Id"
                      },
                      "phoneNumber": {
                        "type": "string",
                        "description": "Recipient Phone Number with prefix (ex +34612345678)",
                        "title": "Recipient Phone Number"
                      },
                      "actionType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Type of method to sign",
                        "title": "Action Type",
                        "enum": [
                          10,
                          20,
                          21,
                          30,
                          40,
                          50,
                          60
                        ],
                        "x-ms-enum-values": [
                          {
                            "displayName": "Notification",
                            "value": 10
                          },
                          {
                            "displayName": "Acceptance",
                            "value": 20
                          },
                          {
                            "displayName": "Acceptance Signature",
                            "value": 21
                          },
                          {
                            "displayName": "BioSignature",
                            "value": 30
                          },
                          {
                            "displayName": "OTPSignature",
                            "value": 40
                          },
                          {
                            "displayName": "BioOTPSignature",
                            "value": 50
                          },
                          {
                            "displayName": "CryptoAPISignature",
                            "value": 60
                          }
                        ]
                      },
                      "widgets": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "documentId": {
                              "type": "string",
                              "description": "Unique name for the document",
                              "title": "Document Id"
                            },
                            "widget": {
                              "type": "object",
                              "properties": {
                                "customtext": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "text": {
                                        "type": "string",
                                        "description": "Widget text for the signature",
                                        "title": "Text"
                                      },
                                      "fontSize": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "FontSize for the widget text",
                                        "title": "Font Size"
                                      }
                                    }
                                  },
                                  "description": "customtext"
                                },
                                "text": {
                                  "type": "string",
                                  "description": "Text to apply gap X and Y (no spaces)",
                                  "title": "Text to find"
                                },
                                "gapX": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Widget gap in pixels to X from text",
                                  "title": "GapX"
                                },
                                "gapY": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Widget gap in pixels to Y from text",
                                  "title": "GapY"
                                },
                                "rotation": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Widget rotation",
                                  "title": "Rotation"
                                },
                                "width": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Widget width",
                                  "title": "Width"
                                },
                                "height": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Widget height",
                                  "title": "Height"
                                }
                              },
                              "description": "widget"
                            }
                          }
                        },
                        "description": "widgets"
                      }
                    }
                  },
                  "description": "recipients"
                },
                "documents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique name for the document",
                        "title": "Document id"
                      },
                      "name": {
                        "type": "string",
                        "description": "Document name",
                        "title": "Document name"
                      },
                      "b64PDFContent": {
                        "type": "string",
                        "description": "PDF document in base 64",
                        "title": "Base64 PDF Content"
                      }
                    }
                  },
                  "description": "documents"
                }
              },
              "required": [
                "sendMethod"
              ]
            }
          }
        ]
      }
    },
    "/PSC/v40/DocumentSet/document/{documentSetId}/{documentId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get signed document (multiple)",
        "description": "Get signed document for multiple documents signed",
        "operationId": "Get-signed-document-multiple",
        "parameters": [
          {
            "name": "documentSetId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Document set unique identifier",
            "x-ms-summary": "Document Set Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique identifier for the document signed",
            "x-ms-summary": "Document Id",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/PSC/v40/DocumentSet/{documentSetId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get envelop details",
        "description": "Get envelop details",
        "operationId": "Get-envelop-details",
        "parameters": [
          {
            "name": "documentSetId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Document set unique identifier",
            "x-ms-summary": "Document Set Id",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://firmar.online/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://firmar.online/politica-de-privacidad/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Sales and CRM"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "Clave de API": {
      "type": "apiKey",
      "in": "header",
      "name": "Api-Key"
    }
  },
  "security": [
    {
      "Clave de API": []
    }
  ],
  "tags": []
}