{
  "swagger": "2.0",
  "info": {
    "version": "3.1.0",
    "title": "Swirl",
    "description": "Swirl is a metasearch engine that uses AI to simultaneously re-rank results and optionally prompt Generative AI to get answers from your own data.",
    "contact": {
      "name": "Swirl Support",
      "url": "https://swirl.today/",
      "email": "support@swirl.today"
    }
  },
  "host": "search.swirl.today",
  "basePath": "/swirl/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/search/": {
      "get": {
        "summary": "Search Swirl",
        "description": "Search Swirl",
        "operationId": "SearchQS",
        "parameters": [
          {
            "name": "swirl_host",
            "default": "search.swirl.today",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The address of the Swirl server",
            "x-ms-summary": "Swirl host"
          },
          {
            "name": "qs",
            "default": "swirl metasearch",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The search query to run",
            "x-ms-summary": "Search for"
          },
          {
            "name": "rag",
            "default": "false",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Must be true or false",
            "x-ms-summary": "RAG results"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content Type"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SearchResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "x-ms-visibility": "important"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://swirl.today/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://swirl.today/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Productivity"
    }
  ],
  "definitions": {
    "SearchResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "info": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "properties": {
              "found": {
                "type": "number"
              },
              "retrieved": {
                "type": "number"
              },
              "filter_url": {
                "type": "string"
              },
              "query_string_to_provider": {
                "type": "string"
              },
              "query_to_provider": {
                "type": "string"
              },
              "query_processors": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "result_processors": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "search_time": {
                "type": "number"
              },
              "search": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "query_string": {
                    "type": "string"
                  },
                  "query_string_processed": {
                    "type": "string"
                  },
                  "rerun_url": {
                    "type": "string"
                  }
                }
              },
              "results": {
                "type": "object",
                "properties": {
                  "retrieved_total": {
                    "type": "number"
                  },
                  "retrieved": {
                    "type": "number"
                  },
                  "federation_time": {
                    "type": "number"
                  },
                  "result_blocks": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "next_page": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "swirl_rank": {
                "type": "number"
              },
              "swirl_score": {
                "type": "number"
              },
              "searchprovider": {
                "type": "string"
              },
              "searchprovider_rank": {
                "type": "number"
              },
              "title": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "body": {
                "type": "string"
              },
              "date_published": {
                "type": "string"
              },
              "date_published_display": {
                "type": "string"
              },
              "date_retrieved": {
                "type": "string"
              },
              "author": {
                "type": "string"
              },
              "title_hit_highlights": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "body_hit_highlights": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "payload": {
                "type": "object",
                "properties": {
                  "cacheId": {
                    "type": "string"
                  }
                }
              },
              "swirl_id": {
                "type": "integer"
              },
              "explain": {
                "type": "object",
                "properties": {
                  "explain": {
                    "type": "object",
                    "properties": {
                      "stems": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "stems"
                    ]
                  }
                }
              },
              "dict_len": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "integer"
                  },
                  "body": {
                    "type": "integer"
                  },
                  "author": {
                    "type": "integer"
                  }
                }
              }
            },
            "required": [
              "swirl_rank",
              "swirl_score",
              "searchprovider",
              "searchprovider_rank",
              "title",
              "url",
              "body",
              "date_published",
              "date_published_display",
              "date_retrieved",
              "author",
              "title_hit_highlights",
              "body_hit_highlights",
              "payload",
              "swirl_id",
              "explain",
              "dict_len"
            ]
          }
        },
        "ai_summary": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              },
              "body": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "title": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "author": {
                "type": "string"
              },
              "payload": {
                "type": "object"
              },
              "swirl_rank": {
                "type": "integer"
              },
              "content_url": {
                "type": "string"
              },
              "swirl_score": {
                "type": "number"
              },
              "mimetype_url": {
                "type": "string"
              },
              "date_published": {
                "type": "string"
              },
              "date_retrieved": {
                "type": "string"
              },
              "searchprovider": {
                "type": "string"
              },
              "rag_query_items": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "body_hit_highlights": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "searchprovider_rank": {
                "type": "integer"
              },
              "title_hit_highlights": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "date_published_display": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "basic"
    }
  },
  "security": [],
  "tags": []
}