{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Ahead",
    "description": "Ahead is the intelligent information hub that drives engagement and communication.​",
    "contact": {
      "name": "ahead AG",
      "url": "https://aheadintranet.com",
      "email": "support@aheadintranet.com"
    }
  },
  "host": "connect.aheadintranet.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/ReceiveExternalActivity": {
      "post": {
        "summary": "Add an external activity",
        "description": "Add an external activity to appear in ahead.",
        "operationId": "AheadReceiveExternalActivity",
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "The message.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/message"
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation."
          },
          "400": {
            "description": "Model is not valid operation."
          }
        },
        "deprecated": false,
        "security": [
          {
            "apikeyQuery": []
          }
        ],
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {
    "message": {
      "required": [
        "Title"
      ],
      "type": "object",
      "properties": {
        "Title": {
          "description": "Specify the title of the external activity. Try to stay below 120 chars for good visuals.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "Text": {
          "description": "Specify a longer text that describes the external activity. Try to stay below 280 chars for good visuals.",
          "type": "string",
          "x-ms-summary": "Text",
          "x-ms-visibility": "important"
        },
        "Url": {
          "description": "Specify an url that the external activity links to.",
          "type": "string",
          "x-ms-summary": "Url",
          "x-ms-visibility": "important"
        },
        "MediaUrl": {
          "description": "Specify a media url that is displayed for the external activity.",
          "type": "string",
          "x-ms-summary": "Media Url",
          "x-ms-visibility": "important"
        },
        "Source": {
          "description": "A key to identify the app generating the message in order to display the external activity differently in ahead.",
          "enum": [
            "Ahead",
            "DynamicsCrm",
            "Twitter",
            "Yammer",
            "Facebook",
            "Pipedrive",
            "Instagram",
            "Youtube",
            "MicrosoftStream",
            "Menuplan",
            "Stocks",
            "Weather",
            "Sport",
            "Travel",
            "Event",
            "HR",
            "Birthday",
            "Slack",
            "Other"
          ],
          "type": "string",
          "x-ms-summary": "Source",
          "x-ms-visibility": "important"
        },
        "TargetAudience": {
          "type": "string",
          "description": "Specify the target audience of this activity. Use the id of a predefined group to target this activity to its members.",
          "x-ms-summary": "Target Audience",
          "x-ms-visibility": "important"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "apikeyQuery": {
      "type": "apiKey",
      "name": "code",
      "in": "query"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://aheadintranet.com"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.aheadintranet.com/terms-and-conditions"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Sales and CRM"
    }
  ]
}