{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "FINRA (Independent Publisher)",
    "description": "The FINRA Connector provides access to comprehensive financial market data, including equity and fixed income summaries, through secure OAuth2 authentication. Ideal for personal investing, market analysis, and tracking significant market movements.",
    "contact": {
      "name": "Support",
      "url": "https://support.finra.org",
      "email": "dan.romano@swolcat.com"
    }
  },
  "host": "api.finra.org",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "application/x-www-form-urlencoded"
  ],
  "produces": [
    "application/json",
    "text/plain"
  ],
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://ews.fip.finra.org/fip/rest/ews/oauth2/authorize",
      "tokenUrl": "https://ews.fip.finra.org/fip/rest/ews/oauth2/access_token",
      "scopes": {
        "read": "read"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://developer.finra.org/docs"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.finra.org/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance;Data"
    }
  ],
  "paths": {
    "/data/group/otcMarket/name/weeklySummary": {
      "post": {
        "summary": "Equity - Weekly Summary",
        "description": "Equity - Weekly Summary",
        "operationId": "Equity-WeeklySummary",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 5000,
            "description": "Limit of records to retrieve",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of weekly summaries",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "502": {
            "description": "Bad Gateway"
          },
          "default": {
            "description": "An unexpected error occurred"
          }
        },
        "security": [
          {
            "oauth2-auth": []
          }
        ]
      }
    },
    "/data/group/otcMarket/name/monthlySummary": {
      "post": {
        "summary": "Equity - Monthly Summary",
        "operationId": "Equity-MonthlySummary",
        "description": "Equity - Monthly Summary",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 5000,
            "description": "Limit of records to retrieve",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of monthly summaries",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "502": {
            "description": "Bad Gateway"
          },
          "default": {
            "description": "An unexpected error occurred"
          }
        },
        "security": [
          {
            "oauth2-auth": []
          }
        ]
      }
    },
    "/data/group/otcMarket/name/otcBlocksSummary": {
      "post": {
        "summary": "Equity - OTC Block Summary",
        "operationId": "Equity-OTCBlockSummary",
        "description": "Equity - OTC Block Summary",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 5000,
            "description": "Limit of records to retrieve",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of OTC block summaries",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "502": {
            "description": "Bad Gateway"
          },
          "default": {
            "description": "An unexpected error occurred"
          }
        },
        "security": [
          {
            "oauth2-auth": []
          }
        ]
      }
    }
  }
}
