{
  "swagger": "2.0",
  "info": {
    "title": "Cisco Webex List Meetings",
    "description": "The meeting API provides meeting details. The detail includes the client detail, meeting time, and meeting duration.",
    "version": "1.0",
    "contact": {
      "name": "Woong Choi",
      "url": "https://www.linkedin.com/in/woongchoi/",
      "email": "woong.choi@rapidcircle.com"
    }
  },
  "host": "webexapis.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/meetings": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for meeting."
                      },
                      "meetingSeriesId": {
                        "type": "string",
                        "description": "Meeting number."
                      },
                      "scheduledMeetingId": {
                        "type": "string",
                        "description": "Id for Instance from a primary meeting series."
                      },
                      "title": {
                        "type": "string",
                        "description": "Meeting title. "
                      },
                      "meetingType": {
                        "type": "string",
                        "description": "Meeting type."
                      },
                      "state": {
                        "type": "string",
                        "description": "Meeting state."
                      },
                      "timezone": {
                        "type": "string",
                        "description": "Time zone of start and end, conforming with the IANA time zone database."
                      },
                      "start": {
                        "type": "string",
                        "description": "Start time for meeting in ISO 8601 compliant format."
                      },
                      "end": {
                        "type": "string",
                        "description": "End time for a meeting in ISO 8601 compliant format."
                      },
                      "hostUserId": {
                        "type": "string",
                        "description": "Unique identifier for the meeting host."
                      },
                      "hostDisplayName": {
                        "type": "string",
                        "description": "Display name for the meeting host."
                      },
                      "hostEmail": {
                        "type": "string",
                        "description": "Email address for the meeting host."
                      },
                      "siteUrl": {
                        "type": "string",
                        "description": "Site URL for the meeting."
                      },
                      "webLink": {
                        "type": "string",
                        "description": "Link to a meeting information page."
                      },
                      "scheduledType": {
                        "type": "string",
                        "description": "regular meeting, a webinar, or a meeting scheduled in the user's personal room."
                      },
                      "enabledBreakoutSessions": {
                        "type": "boolean",
                        "description": "Whether or not meeting is recorded automatically."
                      }
                    }
                  },
                  "description": "Meetings array"
                }
              }
            }
          }
        },
        "summary": "List Meetings",
        "description": "Retrieves details for meetings with a specified meeting number, web link, meeting type, etc.",
        "operationId": "ListMeetings",
        "parameters": [
          {
            "name": "hostEmail",
            "in": "query",
            "description": "Email address for the meeting host. This parameter is only used if the user or application calling the API has the admin-level scopes. If set, the admin may specify the email of a user in a site they manage and the API will return details for meetings that are hosted by that user.",
            "x-ms-summary": "Email address for the meeting host.",
            "required": true,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start date and time (inclusive) in any ISO 8601 compliant format for the meeting objects being requested. from cannot be after to. This parameter will be ignored if meetingNumber, webLink or roomId is specified.",
            "x-ms-summary": "Start date and time",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date and time (exclusive) in any ISO 8601 compliant format for the meeting objects being requested. to cannot be before from. This parameter will be ignored if meetingNumber, webLink or roomId is specified.",
            "x-ms-summary": "End date and time",
            "required": false,
            "type": "string"
          },
          {
            "name": "meetingType",
            "in": "query",
            "description": "Meeting type for the meeting objects being requested. This parameter will be ignored if meetingNumber, webLink or roomId is specified.Possible values: meetingSeries, scheduledMeeting, meeting",
            "x-ms-summary": "Meeting type for the meeting",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Meeting state for the meeting objects being requested. If not specified, return meetings of all states. This parameter will be ignored if meetingNumber, webLink or roomId is specified. Details of an ended meeting will only be available 15 minutes after the meeting has ended. inProgress meetings are not fully supported. The API will try to return details of an inProgress meeting 15 minutes after the meeting starts. However, it may take longer depending on the traffic. See the Webex Meetings guide for more information about the states of meetings.",
            "x-ms-summary": "Meeting state for the meeting",
            "required": false,
            "type": "string"
          },
          {
            "name": "max",
            "in": "query",
            "description": "Limit the maximum number of meetings in the response, up to 100. This parameter will be ignored if meetingNumber, webLink or roomId is specified.",
            "x-ms-summary": "maximum number of meetings",
            "required": false,
            "type": "integer"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://webexapis.com/v1/authorize",
      "tokenUrl": "https://webexapis.com/v1/access_token",
      "scopes": {
        "spark:kms meeting:admin_schedule_read": "spark:kms meeting:admin_schedule_read"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "spark:kms meeting:admin_schedule_read"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.webex.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.cisco.com/c/en/us/about/legal/privacy-full.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ]
}