{
  "swagger": "2.0",
  "info": {
    "title": "Cisco Webex List Meetings",
    "description": "The meeting API provides meeting details. The detail includes the client detail, meeting time, and meeting duration.",
    "version": "1.0",
    "contact": {
      "name": "Woong Choi",
      "url": "https://www.linkedin.com/in/woongchoi/"
    }
  },
  "host": "webexapis.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/meetings": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for meeting. For a meeting series, the id is used to identify the entire series. For scheduled meetings from a series, the id is used to identify that scheduled meeting. For a meeting instance that is in progress or has concluded, the id is used to identify that instance."
                      },
                      "meetingSeriesId": {
                        "type": "string",
                        "description": "Meeting number. Applies to meeting series, scheduled meeting, and meeting instances, but not to meeting instances which have ended."
                      },
                      "scheduledMeetingId": {
                        "type": "string",
                        "description": "Id for Instance from a primary meeting series."
                      },
                      "title": {
                        "type": "string",
                        "description": "Meeting title. Can be modified for a meeting series or a scheduled meeting using the Update a Meeting API."
                      },
                      "meetingType": {
                        "type": "string",
                        "description": "Meeting type. meetingSeries: Primary instance of a scheduled series of meetings which consists of one or more scheduled meetings based on a recurrence rule. When a non-recurring meeting is scheduled with no recurrence, its meetingType is also meetingSeries which is a meeting series with only one occurrence in Webex meeting modeling.; scheduledMeeting: Instance from a primary meeting series.; meeting: Meeting instance that is in progress or has completed."
                      },
                      "state": {
                        "type": "string",
                        "description": "Meeting state. active: Only applies to a meeting series. Indicates that one or more future scheduled meetings exist for this meeting series.; scheduled: Only applies to scheduled meeting. Indicates that the meeting is scheduled in the future.; ready: Only applies to scheduled meeting. Indicates that this scheduled meeting is ready to start or join immediately.; lobby: Only applies to meeting instances. Indicates that a locked meeting has been joined by participants, but no hosts have joined.; inProgress: Applies to meeting series and meeting instances. For a meeting series, indicates that an instance of this series is happening now. For a meeting instance, indicates that the meeting has been joined and unlocked.; ended: Applies to scheduled meetings and meeting instances. For scheduled meetings, indicates that the meeting was started and is now over. For meeting instances, indicates that the meeting instance has concluded.; missed: This state only applies to scheduled meetings. Indicates that the meeting was scheduled in the past but never happened.; expired: This state only applies to a meeting series. Indicates that all scheduled meetings of this series have passed.;"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "Time zone of start and end, conforming with the IANA time zone database."
                      },
                      "start": {
                        "type": "string",
                        "description": "Start time for meeting in ISO 8601 compliant format. If the meetingType of a meeting is meetingSeries, start is the scheduled start time of the first occurrence of this series. If the meeting is a meeting series and the current filter is true, start is the date and time the upcoming or ongoing meeting of the series starts. If the meetingType of a meeting is scheduledMeeting, start is the scheduled start time of this occurrence. If the meetingType of a meeting is meeting, start is the actual start time of the meeting instance. Can be modified for a meeting series or a scheduled meeting using the Update a Meeting API."
                      },
                      "end": {
                        "type": "string",
                        "description": "End time for a meeting in ISO 8601 compliant format. If the meetingType of a meeting is meetingSeries, end is the scheduled end time of the first occurrence of this series. If the meeting is a meeting series and the current filter is true, end is the date and time the upcoming or ongoing meeting of the series ends. If the meetingType of a meeting is scheduledMeeting, end is the scheduled end time of this occurrence. If the meetingType of a meeting is meeting, end is the actual end time of the meeting instance. If a meeting instance is in progress, end is not available. Can be modified for a meeting series or a scheduled meeting using the Update a Meeting API."
                      },
                      "hostUserId": {
                        "type": "string",
                        "description": "Unique identifier for the meeting host."
                      },
                      "hostDisplayName": {
                        "type": "string",
                        "description": "Display name for the meeting host."
                      },
                      "hostEmail": {
                        "type": "string",
                        "description": "Email address for the meeting host."
                      },
                      "siteUrl": {
                        "type": "string",
                        "description": "Site URL for the meeting."
                      },
                      "webLink": {
                        "type": "string",
                        "description": "Link to a meeting information page where the meeting client is launched if the meeting is ready to start or join."
                      },
                      "scheduledType": {
                        "type": "string",
                        "description": "Specifies whether the meeting is a regular meeting, a webinar, or a meeting scheduled in the user's personal room."
                      },
                      "enabledBreakoutSessions": {
                        "type": "boolean",
                        "description": "Whether or not meeting is recorded automatically. Can be modified for a meeting series or a scheduled meeting using the Update a Meeting API."
                      }
                    }
                  },
                  "description": "Meetings array"
                }
              }
            }
          }
        },
        "summary": "List Meetings",
        "description": "Retrieves details for meetings with a specified meeting number, web link, meeting type, etc.",
        "operationId": "ListMeetings",
        "parameters": [
          {
            "name": "hostEmail",
            "in": "query",
            "description": "Email address for the meeting host. This parameter is only used if the user or application calling the API has the admin-level scopes. If set, the admin may specify the email of a user in a site they manage and the API will return details for meetings that are hosted by that user.",
            "x-ms-summary": "Email address for the meeting host.",
            "required": true,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start date and time (inclusive) in any ISO 8601 compliant format for the meeting objects being requested. from cannot be after to. This parameter will be ignored if meetingNumber, webLink or roomId is specified.",
            "x-ms-summary": "Start date and time",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date and time (exclusive) in any ISO 8601 compliant format for the meeting objects being requested. to cannot be before from. This parameter will be ignored if meetingNumber, webLink or roomId is specified.",
            "x-ms-summary": "End date and time",
            "required": false,
            "type": "string"
          },
          {
            "name": "meetingType",
            "in": "query",
            "description": "Meeting type for the meeting objects being requested. This parameter will be ignored if meetingNumber, webLink or roomId is specified.Possible values: meetingSeries, scheduledMeeting, meeting",
            "x-ms-summary": "Meeting type for the meeting",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Meeting state for the meeting objects being requested. If not specified, return meetings of all states. This parameter will be ignored if meetingNumber, webLink or roomId is specified. Details of an ended meeting will only be available 15 minutes after the meeting has ended. inProgress meetings are not fully supported. The API will try to return details of an inProgress meeting 15 minutes after the meeting starts. However, it may take longer depending on the traffic. See the Webex Meetings guide for more information about the states of meetings.",
            "x-ms-summary": "Meeting state for the meeting",
            "required": false,
            "type": "string"
          },
          {
            "name": "max",
            "in": "query",
            "description": "Limit the maximum number of meetings in the response, up to 100. This parameter will be ignored if meetingNumber, webLink or roomId is specified.",
            "x-ms-summary": "maximum number of meetings",
            "required": false,
            "type": "integer"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://webexapis.com/v1/authorize",
      "tokenUrl": "https://webexapis.com/v1/access_token",
      "scopes": {
        "spark:kms meeting:admin_schedule_read": "spark:kms meeting:admin_schedule_read"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "spark:kms meeting:admin_schedule_read"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.webex.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.cisco.com/c/en/us/about/legal/privacy-full.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ]
}