{
  "swagger": "2.0",
  "info": {
    "title": "Kagi (Independent Publisher)",
    "description": "At Kagi, we envision a friendly version of the internet where users can explore, learn, and interact with confidence and ease. Our mission is to humanize the web, making it more accessible, ethical, and centered around the needs of individuals. We are driven by our core purpose: to inform and educate, empowering users with knowledge and understanding in their digital journey.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "kagi.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v0/summarize": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "node": {
                      "type": "string",
                      "description": "The node.",
                      "title": "Node"
                    },
                    "ms": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The retrieval time in milliseconds.",
                      "title": "Retrieval Time"
                    },
                    "api_balance": {
                      "type": "number",
                      "format": "float",
                      "description": "The remaining API balance.",
                      "title": "API Balance"
                    }
                  },
                  "title": "Meta"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "t": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "snippet": {
                        "type": "string",
                        "description": "The snippet.",
                        "title": "Snippet"
                      }
                    }
                  },
                  "title": "Data"
                },
                "error": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The error code.",
                        "title": "Code"
                      },
                      "msg": {
                        "type": "string",
                        "description": "The error message.",
                        "title": "Message"
                      },
                      "ref": {
                        "type": "string",
                        "description": "The error reference.",
                        "title": "Reference"
                      }
                    }
                  },
                  "title": "Error"
                }
              }
            }
          }
        },
        "summary": "Summarize document",
        "description": "Summarizes a document, by URL or using passed text.",
        "operationId": "SummarizePost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "text": {
                  "type": "string",
                  "description": "The text.",
                  "title": "Text"
                },
                "engine": {
                  "type": "string",
                  "description": "The engine to use.",
                  "title": "Engine",
                  "default": "cecil",
                  "enum": [
                    "cecil",
                    "agnes",
                    "daphne",
                    "muriel"
                  ]
                },
                "summary_type": {
                  "type": "string",
                  "description": "The summary type.",
                  "title": "Summary Type",
                  "enum": [
                    "summary",
                    "takeaway"
                  ],
                  "default": "summary"
                },
                "target_language": {
                  "type": "string",
                  "description": "The target language.",
                  "title": "Target Language",
                  "enum": [
                    "BG",
                    "CS",
                    "DA",
                    "DE",
                    "EL",
                    "EN",
                    "ES",
                    "ET",
                    "FI",
                    "FR",
                    "HU",
                    "ID",
                    "IT",
                    "JA",
                    "KO",
                    "LT",
                    "LV",
                    "NB",
                    "NL",
                    "PL",
                    "PT",
                    "RO",
                    "RU",
                    "SK",
                    "SL",
                    "SV",
                    "TR",
                    "UK",
                    "ZH",
                    "ZH-HANT"
                  ]
                },
                "cache": {
                  "type": "boolean",
                  "description": "Whether to cache.",
                  "title": "Cache"
                }
              }
            }
          }
        ]
      }
    },
    "/v0/fastgpt": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "node": {
                      "type": "string",
                      "description": "The node.",
                      "title": "Node"
                    },
                    "ms": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The retrieval time in milliseconds.",
                      "title": "Retrieval Time"
                    }
                  },
                  "title": "Meta"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "output": {
                      "type": "string",
                      "description": "The output.",
                      "title": "Output"
                    },
                    "tokens": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The tokens.",
                      "title": "Tokens"
                    },
                    "references": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "snippet": {
                            "type": "string",
                            "description": "The snippet.",
                            "title": "Snippet"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          }
                        }
                      },
                      "title": "References"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Answer query",
        "description": "Answers a query using the FastGPT service.",
        "operationId": "FastGPTPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "The query.",
                  "title": "Query"
                }
              },
              "required": [
                "query"
              ]
            }
          }
        ]
      }
    },
    "/v0/search/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "node": {
                      "type": "string",
                      "description": "The node.",
                      "title": "Node"
                    },
                    "ms": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The retrieval time in milliseconds.",
                      "title": "Retrieval Time"
                    },
                    "api_balance": {
                      "type": "number",
                      "format": "float",
                      "description": "The remaining API balance.",
                      "title": "API Balance"
                    }
                  },
                  "title": "Meta"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "t": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "snippet": {
                        "type": "string",
                        "description": "The snippet.",
                        "title": "Snippet"
                      },
                      "thumbnail": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "width": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The width.",
                            "title": "Width"
                          },
                          "height": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The height.",
                            "title": "Height"
                          }
                        },
                        "title": "Thumbnail"
                      },
                      "published": {
                        "type": "string",
                        "description": "When published.",
                        "title": "Published"
                      },
                      "list": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The list.",
                        "title": "List"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Perform search",
        "description": "Performs a search.",
        "operationId": "SearchGet",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The query.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ]
      }
    },
    "/v0/enrich/web": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "node": {
                      "type": "string",
                      "description": "The node.",
                      "title": "Node"
                    },
                    "ms": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The retrieval time in milliseconds.",
                      "title": "Retrieval Time"
                    }
                  },
                  "title": "Meta"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "t": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "rank": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The rank.",
                        "title": "Rank"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "snippet": {
                        "type": "string",
                        "description": "The snippet.",
                        "title": "Snippet"
                      },
                      "published": {
                        "type": "string",
                        "description": "When published.",
                        "title": "Published"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get enrichment from web content",
        "description": "Retrieve enrichment results focused on general, non-commercial web content.",
        "operationId": "EnrichmentWebGet",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The query.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/v0/enrich/news": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "node": {
                      "type": "string",
                      "description": "The node.",
                      "title": "Node"
                    },
                    "ms": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The retrieval time in milliseconds.",
                      "title": "Retrieval Time"
                    }
                  },
                  "title": "Meta"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "t": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "rank": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The rank.",
                        "title": "Rank"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "snippet": {
                        "type": "string",
                        "description": "The snippet.",
                        "title": "Snippet"
                      },
                      "published": {
                        "type": "string",
                        "description": "When published.",
                        "title": "Published"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get enrichment from news",
        "description": "Retrieve enrichment results focused on non-commercial news and discussions.",
        "operationId": "EnrichmentNewsGet",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The query.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/v1/smallweb/feed/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "updated": {
                  "type": "string",
                  "description": "When updated.",
                  "title": "Updated"
                },
                "entries": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "updated": {
                        "type": "string",
                        "description": "When updated.",
                        "title": "Updated"
                      },
                      "published": {
                        "type": "string",
                        "description": "When published.",
                        "title": "Published"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "author": {
                        "type": "string",
                        "description": "The author.",
                        "title": "Author"
                      }
                    }
                  },
                  "title": "Entries"
                }
              }
            }
          }
        },
        "summary": "Get small web RSS feed",
        "description": "Retrieve recent content from the \"small web\", which typically refers to the non-commercial part of the web, crafted by individuals to express themselves or share knowledge without seeking any financial gain.",
        "operationId": "SmallWebGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://kagi.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://kagi.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Lifestyle and Entertainment"
    }
  ]
}
