{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "NextSet WorkFlow",
    "description": "We provide our customers with features that make in-house application and approval operations more convenient.",
    "contact": {
      "email": "contact-info@nextset.co.jp",
      "name": "NextSet",
      "url": "https://www.nextset.co.jp/contact/"
    }
  },
  "host": "prod-21.japanwest.logic.azure.com",
  "basePath": "/workflows/8feeccae04e94f3586e2ba0cb5aef4da/triggers",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/manual/paths/invoke": {
      "post": {
        "summary": "Manual Invoke",
        "description": "Triggers the execution of a logic app.",
        "operationId": "ManualInvoke",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "The request body.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/request-manual"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK, The response of the logic app",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "request-manual": {
      "properties": {
        "api_key": {
          "type": "string"
        },
        "application_id": {
          "type": "string"
        },
        "impersonate_email": {
          "type": "string"
        },
        "template_id": {
          "type": "string"
        },
        "tennant": {
          "type": "string"
        },
        "viewer_email": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.nextset.co.jp/workflow.html"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.nextset.co.jp/privacy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Productivity"
    }
  ]
}
