{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "SmartCOMM Doc-Gen ap10-sb",
    "description": "Smart Communications is a leading technology company focused on helping businesses engage in more meaningful customer conversations.\n\nThe SmartCOMM On-Demand Doc-Gen Connector includes a pre-built integration for producing omnichannel customer communications. The connector provides RESTful webservice calls to SmartCOMM for on-demand use cases for the region ap10-sb (ap-southeast-2 - Sydney).",
    "contact": {
      "name": "Smart Communications Support",
      "url": "http://support.smartcommunications.com",
      "email": "support@smartcommunications.com"
    }
  },
  "host": "ap10-sb.smartcommunications.cloud",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/one/oauth2/api/v11/job/generateDocument": {
      "post": {
        "summary": "Generate Document",
        "description": "This function generates a document.",
        "operationId": "GenerateDocument",
        "parameters": [
          {
            "name": "includeDocumentData",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "description": "Boolean flag to determine whether generated document data should be provided directly. Possible values are true or false. If true, base64 data will be provided for each channel result. If false, a URL for retrieving the data will be provided for each channel result. The document data returned in the response will be Base64 encoded.",
            "enum": [
              true,
              false
            ],
            "x-ms-summary": "Include Document Data"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "The API accepts both XML and JSON requests. The request type is determined by the 'Content-Type' HTTP header in the request.",
            "x-ms-summary": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "The API accepts both XML and JSON responses. The response type is determined by the 'Accept' HTTP header in the request.",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "projectId": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The CMS project ID used to scope the request execution. If this value is not specified then the job will execute in production mode.",
                  "title": "projectId",
                  "x-ms-summary": "Project ID"
                },
                "transactionData": {
                  "type": "string",
                  "description": "The sample data.",
                  "title": "transactionData"
                },
                "batchConfigResId": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The CMS ID of the Template Selector resource. The Template Selector is used to map the transaction data to the Template and Data Model.",
                  "title": "batchConfigResId"
                },
                "transactionRange": {
                  "type": "integer",
                  "description": "transactionRange",
                  "title": "transactionRange",
                  "format": "int32",
                  "default": 1
                },
                "transactionDataType": {
                  "type": "string",
                  "description": "The content type of the transaction data. Can be 'application/xml' or 'application/json'. Defaults to 'application/xml'.",
                  "title": "transactionDataType",
                  "default": "application/xml",
                  "enum": [
                    "application/xml",
                    "application/json"
                  ]
                },
                "properties": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The property name.",
                        "title": "name"
                      },
                      "value": {
                        "type": "string",
                        "description": "The property value.",
                        "title": "value"
                      }
                    }
                  },
                  "description": "properties"
                }
              },
              "required": [
                "transactionData",
                "batchConfigResId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "exceptions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "classId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "The code of the business exception.",
                        "title": "classId"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "The unique ID of the business exception.",
                        "title": "id"
                      },
                      "className": {
                        "type": "string",
                        "description": "The description of the business exception.",
                        "title": "className"
                      },
                      "msg": {
                        "type": "string",
                        "description": "The user-defined exception message.",
                        "title": "msg"
                      }
                    }
                  },
                  "description": "exceptions"
                },
                "previewKey": {
                  "type": "string",
                  "description": "Key is used to retrieve document parts. Not used when includeDocumentData is set to true in the request.",
                  "title": "previewKey"
                },
                "numberTransactions": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of transactions encountered in the job.",
                  "title": "numberTransactions"
                },
                "dataModelValuesLocation": {
                  "type": "string",
                  "description": "The reference to the data model values part.",
                  "title": "dataModelValuesLocation"
                },
                "envelopes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "primaryChannel": {
                        "type": "object",
                        "properties": {
                          "startPage": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The start page number of an enclosed document in the primary merged print document.",
                            "title": "startPage"
                          },
                          "pageCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of pages in the document generated.",
                            "title": "pageCount"
                          },
                          "channelType": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The type of the channel. Possible types are: '1' TYPE_HTML '2' TYPE_PRINT '3' TYPE_SMS '4' TYPE_TEXT '5' TYPE_TML '6' TYPE_XML '7' TYPE_WORDML '8' TYPE_XSLFO.",
                            "title": "channelType"
                          },
                          "channelName": {
                            "type": "string",
                            "description": "The name of the channel.",
                            "title": "channelName"
                          },
                          "properties": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "name"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "value"
                                }
                              }
                            },
                            "description": "properties"
                          },
                          "data": {
                            "type": "string",
                            "description": "The document data encoded as Base64. Only populated when includeDocumentData is set to true in the request.",
                            "title": "data"
                          },
                          "documentName": {
                            "type": "string",
                            "description": "The name of the document generated.",
                            "title": "documentName"
                          },
                          "mimeType": {
                            "type": "string",
                            "description": "The content type of the document.",
                            "title": "mimeType"
                          },
                          "channelId": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The channel Id of the document.",
                            "title": "channelId"
                          },
                          "partLocation": {
                            "type": "string",
                            "description": "The reference to the document part for retrieval via the cachedItems method. This is not used when includeDocumentData is set to true in the request.",
                            "title": "partLocation"
                          }
                        },
                        "description": "primaryChannel"
                      },
                      "enclosureChannels": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "startPage": {
                              "type": "integer",
                              "format": "int32",
                              "description": "startPage"
                            },
                            "pageCount": {
                              "type": "integer",
                              "format": "int32",
                              "description": "pageCount"
                            },
                            "channelType": {
                              "type": "integer",
                              "format": "int64",
                              "description": "channelType"
                            },
                            "channelName": {
                              "type": "string",
                              "description": "channelName"
                            },
                            "properties": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "name"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value"
                                  }
                                }
                              },
                              "description": "properties"
                            },
                            "data": {
                              "type": "string",
                              "description": "data"
                            },
                            "documentName": {
                              "type": "string",
                              "description": "documentName"
                            },
                            "mimeType": {
                              "type": "string",
                              "description": "mimeType"
                            },
                            "channelId": {
                              "type": "integer",
                              "format": "int64",
                              "description": "channelId"
                            },
                            "partLocation": {
                              "type": "string",
                              "description": "partLocation"
                            }
                          }
                        },
                        "description": "enclosureChannels"
                      }
                    }
                  },
                  "description": "envelopes"
                },
                "jobMessages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "args": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "args"
                      },
                      "msgID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The ID of this message.",
                        "title": "msgID"
                      },
                      "destID": {
                        "type": "integer",
                        "format": "int64",
                        "description": "The ID of the destination.",
                        "title": "destID"
                      },
                      "msgType": {
                        "type": "string",
                        "description": "The message type: info (I), warn (W), or error (E).",
                        "title": "msgType"
                      },
                      "msgText": {
                        "type": "string",
                        "description": "The message text.",
                        "title": "msgText"
                      },
                      "msgDate": {
                        "type": "string",
                        "description": "The date/time of the message.",
                        "title": "msgDate"
                      },
                      "transactionNo": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of the transaction.",
                        "title": "transactionNo"
                      },
                      "packageID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The ID of the package.",
                        "title": "packageID"
                      },
                      "batchID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The ID of the batch.",
                        "title": "batchID"
                      },
                      "docID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The ID of the document.",
                        "title": "docID"
                      },
                      "channelID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The channel ID of the document.",
                        "title": "channelID"
                      }
                    }
                  },
                  "description": "jobMessages"
                }
              }
            }
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.smartcommunications.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.smartcommunications.com/external-privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Content and Files"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://ap10-sb.smartcommunications.cloud/one/oauth2Server/authorize",
      "tokenUrl": "https://ap10-sb.smartcommunications.cloud/one/oauth2Server/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": []
}