{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Lansweeper App For Sentinel",
    "description": "The Integration of Lansweeper app on the MS Sentinel Platform implements the investigative actions and enables end-users to implement any use cases as a combination of the below-mentioned actions.\nAuthorization: Authenticate the connection with Lansweeper APIs using the Authorization Token from Logic app.\nList Authorized Sites: Retrieve the list of the authorized sites.\nHunt IP or Hunt MAC: Get the asset details from the Lansweeper platform for the given Site ID and IP address or MAC address.",
      "contact": {
      "name": "Lansweeper Support team",
      "url": "https://www.lansweeper.com/kb/",
      "email": "support@lansweeper.com"
    }
  },
  "host": "api.lansweeper.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v2/graphql": {
      "post": {
        "summary": "Get the list of Site IDs and Asset details",
        "description": "Retrieve list of Site IDs, Asset details for the given IP Address or MAC Address.",
        "operationId": "RetrieveAssetDetails",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type",
            "x-ms-visibility": "important"
          },
          {
            "name": "request",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "query"
                },
                "variables": {
                  "type": "object",
                  "properties": {},
                  "description": "variables"
                }
              },
              "x-ms-visibility": "important"
            },
            "required": true,
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {},
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                      "type": "string"
                      }
                    },
                    "required": [
                      "message"
                    ],
                    "description": "errors"
                  }
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {},
  "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://www.lansweeper.com/"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://www.lansweeper.com/privacy-policy/"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Security;IT Operations"
      }
    ],
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
