{
  "swagger": "2.0",
  "info": {
    "title": "What3Words",
    "description": "What3Words divides the world into 3 metre squares and this connector will help you translate from conventional methods like latitude and longitude to their respective words and vice versa.",
    "contact": {
      "name": "Matt Beard",
      "url": "https://www.mbeard.co.uk",
      "email": "matt@mbeard.co.uk"
    },
    "version": "1.0"
  },
  "host": "api.what3words.com",
  "basePath": "/v3/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/convert-to-3wa": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string",
                  "description": "The country of the request",
                  "title": "Country"
                },
                "square": {
                  "type": "object",
                  "properties": {
                    "southwest": {
                      "type": "object",
                      "properties": {
                        "lng": {
                          "type": "number",
                          "format": "float",
                          "title": "Square Longitude",
                          "description": "The longitude in from south west formatting"
                        },
                        "lat": {
                          "type": "number",
                          "format": "float",
                          "title": "Square Latitude",
                          "description": "The latitude in from south west formatting"
                        }
                      },
                      "description": "South West formatting"
                    },
                    "northeast": {
                      "type": "object",
                      "properties": {
                        "lng": {
                          "type": "number",
                          "format": "float",
                          "title": "NE Longitude",
                          "description": "The longitude in from north east formatting"
                        },
                        "lat": {
                          "type": "number",
                          "format": "float",
                          "title": "NE Latitude",
                          "description": "The latitude in from north east formatting"
                        }
                      },
                      "description": "North East Fomatting"
                    }
                  },
                  "description": "Square Formatting"
                },
                "nearestPlace": {
                  "type": "string",
                  "description": "The nearest place to the search",
                  "title": "Nearest Place"
                },
                "coordinates": {
                  "type": "object",
                  "properties": {
                    "lng": {
                      "type": "number",
                      "format": "float",
                      "description": "The standard longitude",
                      "title": "Lontitude"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "The standard latitude",
                      "title": "Latitude"
                    }
                  },
                  "description": "Coordinates"
                },
                "words": {
                  "type": "string",
                  "description": "The What3Words",
                  "title": "Words"
                },
                "language": {
                  "type": "string",
                  "description": "Language of the response",
                  "title": "Language"
                },
                "map": {
                  "type": "string",
                  "description": "A link to the map",
                  "title": "Map"
                }
              }
            }
          }
        },
        "summary": "Convert to Words",
        "description": "Convert a standard latitude/longitude to words",
        "operationId": "ConvertToWord",
        "parameters": [
          {
            "name": "coordinates",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The input co-ordinates separated by a comma.",
            "x-ms-summary": "Co-ordinates"
          }
        ]
      }
    },
    "/convert-to-coordinates": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string",
                  "description": "The country of the request",
                  "title": "Country"
                },
                "square": {
                  "type": "object",
                  "properties": {
                    "southwest": {
                      "type": "object",
                      "properties": {
                        "lng": {
                          "type": "number",
                          "format": "float",
                          "title": "Square Longitude",
                          "description": "The longitude in from south west formatting"
                        },
                        "lat": {
                          "type": "number",
                          "format": "float",
                          "title": "Square Latitude",
                          "description": "The latitude in from south west formatting"
                        }
                      },
                      "description": "South West formatting"
                    },
                    "northeast": {
                      "type": "object",
                      "properties": {
                        "lng": {
                          "type": "number",
                          "format": "float",
                          "title": "NE Longitude",
                          "description": "The longitude in from north east formatting"
                        },
                        "lat": {
                          "type": "number",
                          "format": "float",
                          "title": "NE Latitude",
                          "description": "The latitude in from north east formatting"
                        }
                      },
                      "description": "North East Fomatting"
                    }
                  },
                  "description": "Square Formatting"
                },
                "nearestPlace": {
                  "type": "string",
                  "description": "The nearest place to the search",
                  "title": "Nearest Place"
                },
                "coordinates": {
                  "type": "object",
                  "properties": {
                    "lng": {
                      "type": "number",
                      "format": "float",
                      "description": "The standard longitude",
                      "title": "Lontitude"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "The standard latitude",
                      "title": "Latitude"
                    }
                  },
                  "description": "Coordinates"
                },
                "words": {
                  "type": "string",
                  "description": "The What3Words",
                  "title": "Words"
                },
                "language": {
                  "type": "string",
                  "description": "Language of the response",
                  "title": "Language"
                },
                "map": {
                  "type": "string",
                  "description": "A link to the map",
                  "title": "Map"
                }
              }
            }
          }
        },
        "summary": "Convert To Lat Long",
        "description": "Convert What3Words to Lat Long",
        "operationId": "ConvertToLatLng",
        "parameters": [
          {
            "name": "words",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The words to convert in the correct format xxx.xxx.xxx",
            "x-ms-summary": "Words"
          }
        ]
      }
    }
  },  
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://what3words.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://what3words.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Productivity"
    }
  ]
}