{
  "swagger": "2.0",
  "info": {
    "title": "Brave Search",
    "description": "Brave Search allows you to query Brave and get back search results from the web.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.search.brave.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/res/v1/web/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object",
                  "properties": {
                    "original": {
                      "type": "string",
                      "description": "The original.",
                      "title": "Original"
                    },
                    "show_strict_warning": {
                      "type": "boolean",
                      "description": "Whether to show strict warning.",
                      "title": "Show Strict Warning"
                    },
                    "is_navigational": {
                      "type": "boolean",
                      "description": "Whether is navigational.",
                      "title": "Is Navigational"
                    },
                    "is_news_breaking": {
                      "type": "boolean",
                      "description": "Whether news is breaking.",
                      "title": "Is News Breaking"
                    },
                    "spellcheck_off": {
                      "type": "boolean",
                      "description": "Whether spellcheck is off.",
                      "title": "Spellcheck Off"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    },
                    "bad_results": {
                      "type": "boolean",
                      "description": "Whether bad results.",
                      "title": "Bad Results"
                    },
                    "should_fallback": {
                      "type": "boolean",
                      "description": "Whether should fallback.",
                      "title": "Should Fallback"
                    },
                    "postal_code": {
                      "type": "string",
                      "description": "The postal code.",
                      "title": "Postal Code"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "header_country": {
                      "type": "string",
                      "description": "The header country.",
                      "title": "Header Country"
                    },
                    "more_results_available": {
                      "type": "boolean",
                      "description": "Whether more results available.",
                      "title": "More Results Available"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    }
                  },
                  "title": "Query"
                },
                "mixed": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "main": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "index": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The index.",
                            "title": "Index"
                          },
                          "all": {
                            "type": "boolean",
                            "description": "Whether all.",
                            "title": "All"
                          }
                        }
                      },
                      "title": "Main"
                    },
                    "top": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The top.",
                      "title": "Top"
                    },
                    "side": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The side.",
                      "title": "Side"
                    }
                  },
                  "title": "Mixed"
                },
                "news": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "is_source_local": {
                            "type": "boolean",
                            "description": "Whether source is local.",
                            "title": "Is Source Local"
                          },
                          "is_source_both": {
                            "type": "boolean",
                            "description": "Whether source is both.",
                            "title": "Is Source Both"
                          },
                          "description": {
                            "type": "string",
                            "description": "The description.",
                            "title": "Description"
                          },
                          "page_age": {
                            "type": "string",
                            "description": "The page age.",
                            "title": "Page Age"
                          },
                          "family_friendly": {
                            "type": "boolean",
                            "description": "Whether family friendly.",
                            "title": "Family Friendly"
                          },
                          "meta_url": {
                            "type": "object",
                            "properties": {
                              "scheme": {
                                "type": "string",
                                "description": "The scheme.",
                                "title": "Scheme"
                              },
                              "netloc": {
                                "type": "string",
                                "description": "The netloc.",
                                "title": "Netloc"
                              },
                              "hostname": {
                                "type": "string",
                                "description": "The hostname.",
                                "title": "Hostname"
                              },
                              "favicon": {
                                "type": "string",
                                "description": "The favicon.",
                                "title": "Favicon"
                              },
                              "path": {
                                "type": "string",
                                "description": "The path.",
                                "title": "Path"
                              }
                            },
                            "title": "Meta URL"
                          },
                          "breaking": {
                            "type": "boolean",
                            "description": "Whether breaking.",
                            "title": "Breaking"
                          },
                          "thumbnail": {
                            "type": "object",
                            "properties": {
                              "src": {
                                "type": "string",
                                "description": "The source.",
                                "title": "Source"
                              }
                            },
                            "title": "Thumbnail"
                          },
                          "age": {
                            "type": "string",
                            "description": "The age.",
                            "title": "Age"
                          }
                        }
                      },
                      "title": "Results"
                    },
                    "mutated_by_goggles": {
                      "type": "boolean",
                      "description": "Whether mutated by Googles.",
                      "title": "Mutated By Goggles"
                    }
                  },
                  "title": "News"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "videos": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "description": {
                            "type": "string",
                            "description": "The description.",
                            "title": "Description"
                          },
                          "age": {
                            "type": "string",
                            "description": "The age.",
                            "title": "Age"
                          },
                          "page_age": {
                            "type": "string",
                            "description": "The page age.",
                            "title": "Page Age"
                          },
                          "video": {
                            "type": "object",
                            "properties": {},
                            "description": "The video object.",
                            "title": "Video"
                          },
                          "meta_url": {
                            "type": "object",
                            "properties": {
                              "scheme": {
                                "type": "string",
                                "description": "The scheme.",
                                "title": "Scheme"
                              },
                              "netloc": {
                                "type": "string",
                                "description": "The netloc.",
                                "title": "Netloc"
                              },
                              "hostname": {
                                "type": "string",
                                "description": "The hostname.",
                                "title": "Hostname"
                              },
                              "favicon": {
                                "type": "string",
                                "description": "The favicon.",
                                "title": "Favicon"
                              },
                              "path": {
                                "type": "string",
                                "description": "The path.",
                                "title": "Path"
                              }
                            },
                            "title": "Meta URL"
                          },
                          "thumbnail": {
                            "type": "object",
                            "properties": {
                              "src": {
                                "type": "string",
                                "description": "The source.",
                                "title": "Source"
                              }
                            },
                            "title": "Thumbnail"
                          }
                        }
                      },
                      "title": "Results"
                    },
                    "mutated_by_goggles": {
                      "type": "boolean",
                      "description": "Whether mutated by Googles.",
                      "title": "Mutated By Goggles"
                    }
                  },
                  "title": "Videos"
                },
                "web": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "is_source_local": {
                            "type": "boolean",
                            "description": "Whether source is local.",
                            "title": "Is Source Local"
                          },
                          "is_source_both": {
                            "type": "boolean",
                            "description": "Whether source is both.",
                            "title": "Is Source Both"
                          },
                          "description": {
                            "type": "string",
                            "description": "The description.",
                            "title": "Description"
                          },
                          "page_age": {
                            "type": "string",
                            "description": "The page age.",
                            "title": "Page Age"
                          },
                          "profile": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name.",
                                "title": "Name"
                              },
                              "url": {
                                "type": "string",
                                "description": "The URL address.",
                                "title": "URL"
                              },
                              "long_name": {
                                "type": "string",
                                "description": "The long name.",
                                "title": "Long Name"
                              },
                              "img": {
                                "type": "string",
                                "description": "The image.",
                                "title": "Image"
                              }
                            },
                            "title": "Profile"
                          },
                          "language": {
                            "type": "string",
                            "description": "The language.",
                            "title": "Language"
                          },
                          "family_friendly": {
                            "type": "boolean",
                            "description": "Whether family friendly.",
                            "title": "Family Friendly"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "subtype": {
                            "type": "string",
                            "description": "The subtype.",
                            "title": "Subtype"
                          },
                          "meta_url": {
                            "type": "object",
                            "properties": {
                              "scheme": {
                                "type": "string",
                                "description": "The scheme.",
                                "title": "Scheme"
                              },
                              "netloc": {
                                "type": "string",
                                "description": "The netloc.",
                                "title": "Netloc"
                              },
                              "hostname": {
                                "type": "string",
                                "description": "The hostname.",
                                "title": "Hostname"
                              },
                              "favicon": {
                                "type": "string",
                                "description": "The favicon.",
                                "title": "Favicon"
                              },
                              "path": {
                                "type": "string",
                                "description": "The path.",
                                "title": "Path"
                              }
                            },
                            "title": "Meta URL"
                          },
                          "age": {
                            "type": "string",
                            "description": "The age.",
                            "title": "Age"
                          },
                          "cluster_type": {
                            "type": "string",
                            "description": "The cluster type.",
                            "title": "Cluster Type"
                          },
                          "cluster": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "The title.",
                                  "title": "Title"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The URL address.",
                                  "title": "URL"
                                },
                                "is_source_local": {
                                  "type": "boolean",
                                  "description": "Whether source is local.",
                                  "title": "Is Source Local"
                                },
                                "is_source_both": {
                                  "type": "boolean",
                                  "description": "Whether source is both.",
                                  "title": "Is Source Both"
                                },
                                "description": {
                                  "type": "string",
                                  "description": "The description.",
                                  "title": "Description"
                                },
                                "family_friendly": {
                                  "type": "boolean",
                                  "description": "Whether family friendly.",
                                  "title": "Family Friendly"
                                }
                              }
                            },
                            "title": "Cluster"
                          },
                          "thumbnail": {
                            "type": "object",
                            "properties": {
                              "src": {
                                "type": "string",
                                "description": "The source.",
                                "title": "Source"
                              },
                              "original": {
                                "type": "string",
                                "description": "The original.",
                                "title": "Original"
                              },
                              "logo": {
                                "type": "boolean",
                                "description": "Whether logo.",
                                "title": "Logo"
                              }
                            },
                            "title": "Thumbnail"
                          }
                        }
                      },
                      "title": "Results"
                    },
                    "family_friendly": {
                      "type": "boolean",
                      "description": "Whether family friendly.",
                      "title": "Family Friendly"
                    }
                  },
                  "title": "Web"
                }
              }
            }
          }
        },
        "summary": "Search web",
        "description": "Retrieve the results of a general web query.",
        "operationId": "WebSearchGet",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "x-ms-summary": "Accept",
            "description": "The Accept type.",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Cache-Control",
            "in": "header",
            "x-ms-summary": "Cache Control",
            "description": "The cache control.",
            "required": false,
            "type": "string",
            "enum": [
              "no-cache"
            ]
          },
          {
            "name": "User-Agent",
            "in": "header",
            "x-ms-summary": "User Agent",
            "description": "The user agent.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Loc-Lat",
            "in": "header",
            "x-ms-summary": "User Latitude",
            "description": "The user's latitude.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Loc-Long",
            "in": "header",
            "x-ms-summary": "Longitude",
            "description": "The user's longitude.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Loc-Timezone",
            "in": "header",
            "x-ms-summary": "User Timezone",
            "description": "The user's timezone.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Loc-City",
            "in": "header",
            "x-ms-summary": "User City",
            "description": "The user's city.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Loc-State",
            "in": "header",
            "x-ms-summary": "User State",
            "description": "The user's state.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Loc-State-Name",
            "in": "header",
            "x-ms-summary": "User State Name",
            "description": "The user's state name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Loc-Country",
            "in": "header",
            "x-ms-summary": "User Country",
            "description": "The user's country.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Loc-Postal-Code",
            "in": "header",
            "x-ms-summary": "User Postal Code",
            "description": "The user's postal code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The query.",
            "required": true,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "x-ms-summary": "Country",
            "description": "The country.",
            "required": false,
            "type": "string",
            "default": "US",
            "enum": [
              "ALL",
              "AR",
              "AU",
              "AT",
              "BE",
              "BR",
              "CA",
              "CL",
              "DK",
              "FI",
              "FR",
              "DE",
              "HK",
              "IN",
              "ID",
              "IT",
              "JP",
              "KR",
              "MY",
              "MX",
              "NL",
              "NZ",
              "NO",
              "CN",
              "PL",
              "PT",
              "PH",
              "RU",
              "SA",
              "ZA",
              "ES",
              "SE",
              "CH",
              "TW",
              "TR",
              "GB",
              "US"
            ],
            "x-ms-enum-value": [
              {
                "displayName": "All Regions",
                "value": "ALL"
              },
              {
                "displayName": "Argentina",
                "value": "AR"
              },
              {
                "displayName": "Australia",
                "value": "AU"
              },
              {
                "displayName": "Austria",
                "value": "AT"
              },
              {
                "displayName": "Belgium",
                "value": "BE"
              },
              {
                "displayName": "Brazil",
                "value": "BR"
              },
              {
                "displayName": "Canada",
                "value": "CA"
              },
              {
                "displayName": "Chile",
                "value": "CL"
              },
              {
                "displayName": "Denmark",
                "value": "DK"
              },
              {
                "displayName": "Finland",
                "value": "FI"
              },
              {
                "displayName": "France",
                "value": "FR"
              },
              {
                "displayName": "Germany",
                "value": "DE"
              },
              {
                "displayName": "Hong Kong",
                "value": "HK"
              },
              {
                "displayName": "India",
                "value": "IN"
              },
              {
                "displayName": "Indonesia",
                "value": "ID"
              },
              {
                "displayName": "Italy",
                "value": "IT"
              },
              {
                "displayName": "Japan",
                "value": "JP"
              },
              {
                "displayName": "Korea",
                "value": "KR"
              },
              {
                "displayName": "Malaysia",
                "value": "MY"
              },
              {
                "displayName": "Mexico",
                "value": "MX"
              },
              {
                "displayName": "Netherlands",
                "value": "NL"
              },
              {
                "displayName": "New Zealand",
                "value": "NZ"
              },
              {
                "displayName": "Norway",
                "value": "NO"
              },
              {
                "displayName": "Peoples Republic of China",
                "value": "CN"
              },
              {
                "displayName": "Poland",
                "value": "PL"
              },
              {
                "displayName": "Portugal",
                "value": "PT"
              },
              {
                "displayName": "Republic of the Philippines",
                "value": "PH"
              },
              {
                "displayName": "Russia",
                "value": "RU"
              },
              {
                "displayName": "Saudi Arabia",
                "value": "SA"
              },
              {
                "displayName": "South Africa",
                "value": "ZA"
              },
              {
                "displayName": "Spain",
                "value": "ES"
              },
              {
                "displayName": "Sweden",
                "value": "SE"
              },
              {
                "displayName": "Switzerland",
                "value": "CH"
              },
              {
                "displayName": "Taiwan",
                "value": "TW"
              },
              {
                "displayName": "Turkey",
                "value": "TR"
              },
              {
                "displayName": "United Kingdom",
                "value": "GB"
              },
              {
                "displayName": "United States",
                "value": "US"
              }
            ]
          },
          {
            "name": "search_lang",
            "in": "query",
            "x-ms-summary": "Search Language",
            "description": "The search language.",
            "required": false,
            "type": "string",
            "default": "en",
            "enum": [
              "ar",
              "eu",
              "bn",
              "bg",
              "ca",
              "zh-hans",
              "zh-hant",
              "hr",
              "cs",
              "da",
              "nl",
              "en",
              "en-gb",
              "et",
              "fi",
              "fr",
              "gl",
              "de",
              "gu",
              "he",
              "hi",
              "hu",
              "is",
              "it",
              "jp",
              "kn",
              "ko",
              "lv",
              "lt",
              "ms",
              "ml",
              "mr",
              "nb",
              "pl",
              "pt-br",
              "pt-pt",
              "pa",
              "ro",
              "ru",
              "sr",
              "sk",
              "sl",
              "es",
              "sv",
              "ta",
              "te",
              "th",
              "tr",
              "uk",
              "vi"
            ],
            "x-ms-enum-value": [
              {
                "displayName": "Arabic",
                "value": "ar"
              },
              {
                "displayName": "Basque",
                "value": "eu"
              },
              {
                "displayName": "Bengali",
                "value": "bn"
              },
              {
                "displayName": "Bulgarian",
                "value": "bg"
              },
              {
                "displayName": "Catalan",
                "value": "ca"
              },
              {
                "displayName": "Chinese Simplified",
                "value": "zh-hans"
              },
              {
                "displayName": "Chinese Traditional",
                "value": "zh-hant"
              },
              {
                "displayName": "Croatian",
                "value": "hr"
              },
              {
                "displayName": "Czech",
                "value": "cs"
              },
              {
                "displayName": "Danish",
                "value": "da"
              },
              {
                "displayName": "Dutch",
                "value": "nl"
              },
              {
                "displayName": "English",
                "value": "en"
              },
              {
                "displayName": "English United Kingdom",
                "value": "en-gb"
              },
              {
                "displayName": "Estonian",
                "value": "et"
              },
              {
                "displayName": "Finnish",
                "value": "fi"
              },
              {
                "displayName": "French",
                "value": "fr"
              },
              {
                "displayName": "Galician",
                "value": "gl"
              },
              {
                "displayName": "German",
                "value": "de"
              },
              {
                "displayName": "Gujarati",
                "value": "gu"
              },
              {
                "displayName": "Hebrew",
                "value": "he"
              },
              {
                "displayName": "Hindi",
                "value": "hi"
              },
              {
                "displayName": "Hungarian",
                "value": "hu"
              },
              {
                "displayName": "Icelandic",
                "value": "is"
              },
              {
                "displayName": "Italian",
                "value": "it"
              },
              {
                "displayName": "Japanese",
                "value": "jp"
              },
              {
                "displayName": "Kannada",
                "value": "kn"
              },
              {
                "displayName": "Korean",
                "value": "ko"
              },
              {
                "displayName": "Latvian",
                "value": "lv"
              },
              {
                "displayName": "Lithuanian",
                "value": "lt"
              },
              {
                "displayName": "Malay",
                "value": "ms"
              },
              {
                "displayName": "Malayalam",
                "value": "ml"
              },
              {
                "displayName": "Marathi",
                "value": "mr"
              },
              {
                "displayName": "Norwegian Bokmal",
                "value": "nb"
              },
              {
                "displayName": "Polish",
                "value": "pl"
              },
              {
                "displayName": "Portuguese Brazil",
                "value": "pt-br"
              },
              {
                "displayName": "Portuguese Portugal",
                "value": "pt-pt"
              },
              {
                "displayName": "Punjabi",
                "value": "pa"
              },
              {
                "displayName": "Romanian",
                "value": "ro"
              },
              {
                "displayName": "Russian",
                "value": "ru"
              },
              {
                "displayName": "Serbian Cyrylic",
                "value": "sr"
              },
              {
                "displayName": "Slovak",
                "value": "sk"
              },
              {
                "displayName": "Slovenian",
                "value": "sl"
              },
              {
                "displayName": "Spanish",
                "value": "es"
              },
              {
                "displayName": "Swedish",
                "value": "sv"
              },
              {
                "displayName": "Tamil",
                "value": "ta"
              },
              {
                "displayName": "Telugu",
                "value": "te"
              },
              {
                "displayName": "Thai",
                "value": "th"
              },
              {
                "displayName": "Turkish",
                "value": "tr"
              },
              {
                "displayName": "Ukrainian",
                "value": "uk"
              },
              {
                "displayName": "Vietnamese",
                "value": "vi"
              }
            ]
          },
          {
            "name": "ui_lang",
            "in": "query",
            "x-ms-summary": "UI Language",
            "description": "The UI language.",
            "required": false,
            "type": "string",
            "default": "en",
            "enum": [
              "ar",
              "eu",
              "bn",
              "bg",
              "ca",
              "zh-hans",
              "zh-hant",
              "hr",
              "cs",
              "da",
              "nl",
              "en",
              "en-gb",
              "et",
              "fi",
              "fr",
              "gl",
              "de",
              "gu",
              "he",
              "hi",
              "hu",
              "is",
              "it",
              "jp",
              "kn",
              "ko",
              "lv",
              "lt",
              "ms",
              "ml",
              "mr",
              "nb",
              "pl",
              "pt-br",
              "pt-pt",
              "pa",
              "ro",
              "ru",
              "sr",
              "sk",
              "sl",
              "es",
              "sv",
              "ta",
              "te",
              "th",
              "tr",
              "uk",
              "vi"
            ],
            "x-ms-enum-value": [
              {
                "displayName": "Arabic",
                "value": "ar"
              },
              {
                "displayName": "Basque",
                "value": "eu"
              },
              {
                "displayName": "Bengali",
                "value": "bn"
              },
              {
                "displayName": "Bulgarian",
                "value": "bg"
              },
              {
                "displayName": "Catalan",
                "value": "ca"
              },
              {
                "displayName": "Chinese Simplified",
                "value": "zh-hans"
              },
              {
                "displayName": "Chinese Traditional",
                "value": "zh-hant"
              },
              {
                "displayName": "Croatian",
                "value": "hr"
              },
              {
                "displayName": "Czech",
                "value": "cs"
              },
              {
                "displayName": "Danish",
                "value": "da"
              },
              {
                "displayName": "Dutch",
                "value": "nl"
              },
              {
                "displayName": "English",
                "value": "en"
              },
              {
                "displayName": "English United Kingdom",
                "value": "en-gb"
              },
              {
                "displayName": "Estonian",
                "value": "et"
              },
              {
                "displayName": "Finnish",
                "value": "fi"
              },
              {
                "displayName": "French",
                "value": "fr"
              },
              {
                "displayName": "Galician",
                "value": "gl"
              },
              {
                "displayName": "German",
                "value": "de"
              },
              {
                "displayName": "Gujarati",
                "value": "gu"
              },
              {
                "displayName": "Hebrew",
                "value": "he"
              },
              {
                "displayName": "Hindi",
                "value": "hi"
              },
              {
                "displayName": "Hungarian",
                "value": "hu"
              },
              {
                "displayName": "Icelandic",
                "value": "is"
              },
              {
                "displayName": "Italian",
                "value": "it"
              },
              {
                "displayName": "Japanese",
                "value": "jp"
              },
              {
                "displayName": "Kannada",
                "value": "kn"
              },
              {
                "displayName": "Korean",
                "value": "ko"
              },
              {
                "displayName": "Latvian",
                "value": "lv"
              },
              {
                "displayName": "Lithuanian",
                "value": "lt"
              },
              {
                "displayName": "Malay",
                "value": "ms"
              },
              {
                "displayName": "Malayalam",
                "value": "ml"
              },
              {
                "displayName": "Marathi",
                "value": "mr"
              },
              {
                "displayName": "Norwegian Bokmal",
                "value": "nb"
              },
              {
                "displayName": "Polish",
                "value": "pl"
              },
              {
                "displayName": "Portuguese Brazil",
                "value": "pt-br"
              },
              {
                "displayName": "Portuguese Portugal",
                "value": "pt-pt"
              },
              {
                "displayName": "Punjabi",
                "value": "pa"
              },
              {
                "displayName": "Romanian",
                "value": "ro"
              },
              {
                "displayName": "Russian",
                "value": "ru"
              },
              {
                "displayName": "Serbian Cyrylic",
                "value": "sr"
              },
              {
                "displayName": "Slovak",
                "value": "sk"
              },
              {
                "displayName": "Slovenian",
                "value": "sl"
              },
              {
                "displayName": "Spanish",
                "value": "es"
              },
              {
                "displayName": "Swedish",
                "value": "sv"
              },
              {
                "displayName": "Tamil",
                "value": "ta"
              },
              {
                "displayName": "Telugu",
                "value": "te"
              },
              {
                "displayName": "Thai",
                "value": "th"
              },
              {
                "displayName": "Turkish",
                "value": "tr"
              },
              {
                "displayName": "Ukrainian",
                "value": "uk"
              },
              {
                "displayName": "Vietnamese",
                "value": "vi"
              }
            ]
          },
          {
            "name": "count",
            "in": "query",
            "x-ms-summary": "Count",
            "description": "The count.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "safesearch",
            "in": "query",
            "x-ms-summary": "Safe Search",
            "description": "The safe search setting.",
            "required": false,
            "type": "string",
            "default": "strict",
            "enum": [
              "strict",
              "off"
            ]
          },
          {
            "name": "freshness",
            "in": "query",
            "x-ms-summary": "Freshness",
            "description": "The freshness.",
            "required": false,
            "type": "string"
          },
          {
            "name": "text_decorations",
            "in": "query",
            "x-ms-summary": "Text Decorations",
            "description": "Whether to include text decorations.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "spellcheck",
            "in": "query",
            "x-ms-summary": "Spellcheck",
            "description": "Whether to spellcheck.",
            "required": false,
            "type": "boolean",
            "default": true
          },
          {
            "name": "result_filter",
            "in": "query",
            "x-ms-summary": "Result Filter",
            "description": "The result filter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "goggles_id",
            "in": "query",
            "x-ms-summary": "Goggles ID",
            "description": "The Goggles identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "units",
            "in": "query",
            "x-ms-summary": "Units",
            "description": "The units.",
            "required": false,
            "type": "string"
          },
          {
            "name": "extra_snippets",
            "in": "query",
            "x-ms-summary": "Extra Snippets",
            "description": "Whether to include extra snippets.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "summary",
            "in": "query",
            "x-ms-summary": "Summary",
            "description": "Whether to include summary.",
            "required": false,
            "type": "boolean"
          }
        ]
      }
    },
    "/res/v1/images/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "query": {
                  "type": "object",
                  "properties": {
                    "original": {
                      "type": "string",
                      "description": "The original.",
                      "title": "Original"
                    },
                    "spellcheck_off": {
                      "type": "boolean",
                      "description": "Whether spellcheck is off.",
                      "title": "Spellcheck Off"
                    },
                    "show_strict_warning": {
                      "type": "boolean",
                      "description": "Whether to show strict warning.",
                      "title": "Show Strict Warning"
                    }
                  },
                  "title": "Query"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "source": {
                        "type": "string",
                        "description": "The source.",
                        "title": "Source"
                      },
                      "page_fetched": {
                        "type": "string",
                        "description": "The page fetched.",
                        "title": "Page Fetched"
                      },
                      "thumbnail": {
                        "type": "object",
                        "properties": {
                          "src": {
                            "type": "string",
                            "description": "The source.",
                            "title": "Source"
                          }
                        },
                        "title": "Thumbnail"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "placeholder": {
                            "type": "string",
                            "description": "The placeholder.",
                            "title": "Placeholder"
                          }
                        },
                        "title": "Properties"
                      },
                      "meta_url": {
                        "type": "object",
                        "properties": {
                          "scheme": {
                            "type": "string",
                            "description": "The scheme.",
                            "title": "Scheme"
                          },
                          "netloc": {
                            "type": "string",
                            "description": "The netloc.",
                            "title": "Netloc"
                          },
                          "hostname": {
                            "type": "string",
                            "description": "The hostname.",
                            "title": "Hostname"
                          },
                          "favicon": {
                            "type": "string",
                            "description": "The favicon.",
                            "title": "Favicon"
                          },
                          "path": {
                            "type": "string",
                            "description": "The path.",
                            "title": "Path"
                          }
                        },
                        "title": "Meta URL"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Search web for images",
        "description": "Retrieve the results of an image web query.",
        "operationId": "ImageSearchGet",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "x-ms-summary": "Accept",
            "description": "The Accept type.",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The query.",
            "required": true,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "x-ms-summary": "Country",
            "description": "The country.",
            "required": false,
            "type": "string",
            "default": "US",
            "enum": [
              "ALL",
              "AR",
              "AU",
              "AT",
              "BE",
              "BR",
              "CA",
              "CL",
              "DK",
              "FI",
              "FR",
              "DE",
              "HK",
              "IN",
              "ID",
              "IT",
              "JP",
              "KR",
              "MY",
              "MX",
              "NL",
              "NZ",
              "NO",
              "CN",
              "PL",
              "PT",
              "PH",
              "RU",
              "SA",
              "ZA",
              "ES",
              "SE",
              "CH",
              "TW",
              "TR",
              "GB",
              "US"
            ],
            "x-ms-enum-value": [
              {
                "displayName": "All Regions",
                "value": "ALL"
              },
              {
                "displayName": "Argentina",
                "value": "AR"
              },
              {
                "displayName": "Australia",
                "value": "AU"
              },
              {
                "displayName": "Austria",
                "value": "AT"
              },
              {
                "displayName": "Belgium",
                "value": "BE"
              },
              {
                "displayName": "Brazil",
                "value": "BR"
              },
              {
                "displayName": "Canada",
                "value": "CA"
              },
              {
                "displayName": "Chile",
                "value": "CL"
              },
              {
                "displayName": "Denmark",
                "value": "DK"
              },
              {
                "displayName": "Finland",
                "value": "FI"
              },
              {
                "displayName": "France",
                "value": "FR"
              },
              {
                "displayName": "Germany",
                "value": "DE"
              },
              {
                "displayName": "Hong Kong",
                "value": "HK"
              },
              {
                "displayName": "India",
                "value": "IN"
              },
              {
                "displayName": "Indonesia",
                "value": "ID"
              },
              {
                "displayName": "Italy",
                "value": "IT"
              },
              {
                "displayName": "Japan",
                "value": "JP"
              },
              {
                "displayName": "Korea",
                "value": "KR"
              },
              {
                "displayName": "Malaysia",
                "value": "MY"
              },
              {
                "displayName": "Mexico",
                "value": "MX"
              },
              {
                "displayName": "Netherlands",
                "value": "NL"
              },
              {
                "displayName": "New Zealand",
                "value": "NZ"
              },
              {
                "displayName": "Norway",
                "value": "NO"
              },
              {
                "displayName": "Peoples Republic of China",
                "value": "CN"
              },
              {
                "displayName": "Poland",
                "value": "PL"
              },
              {
                "displayName": "Portugal",
                "value": "PT"
              },
              {
                "displayName": "Republic of the Philippines",
                "value": "PH"
              },
              {
                "displayName": "Russia",
                "value": "RU"
              },
              {
                "displayName": "Saudi Arabia",
                "value": "SA"
              },
              {
                "displayName": "South Africa",
                "value": "ZA"
              },
              {
                "displayName": "Spain",
                "value": "ES"
              },
              {
                "displayName": "Sweden",
                "value": "SE"
              },
              {
                "displayName": "Switzerland",
                "value": "CH"
              },
              {
                "displayName": "Taiwan",
                "value": "TW"
              },
              {
                "displayName": "Turkey",
                "value": "TR"
              },
              {
                "displayName": "United Kingdom",
                "value": "GB"
              },
              {
                "displayName": "United States",
                "value": "US"
              }
            ]
          },
          {
            "name": "search_lang",
            "in": "query",
            "x-ms-summary": "Search Language",
            "description": "The search language.",
            "required": false,
            "type": "string",
            "default": "en",
            "enum": [
              "ar",
              "eu",
              "bn",
              "bg",
              "ca",
              "zh-hans",
              "zh-hant",
              "hr",
              "cs",
              "da",
              "nl",
              "en",
              "en-gb",
              "et",
              "fi",
              "fr",
              "gl",
              "de",
              "gu",
              "he",
              "hi",
              "hu",
              "is",
              "it",
              "jp",
              "kn",
              "ko",
              "lv",
              "lt",
              "ms",
              "ml",
              "mr",
              "nb",
              "pl",
              "pt-br",
              "pt-pt",
              "pa",
              "ro",
              "ru",
              "sr",
              "sk",
              "sl",
              "es",
              "sv",
              "ta",
              "te",
              "th",
              "tr",
              "uk",
              "vi"
            ],
            "x-ms-enum-value": [
              {
                "displayName": "Arabic",
                "value": "ar"
              },
              {
                "displayName": "Basque",
                "value": "eu"
              },
              {
                "displayName": "Bengali",
                "value": "bn"
              },
              {
                "displayName": "Bulgarian",
                "value": "bg"
              },
              {
                "displayName": "Catalan",
                "value": "ca"
              },
              {
                "displayName": "Chinese Simplified",
                "value": "zh-hans"
              },
              {
                "displayName": "Chinese Traditional",
                "value": "zh-hant"
              },
              {
                "displayName": "Croatian",
                "value": "hr"
              },
              {
                "displayName": "Czech",
                "value": "cs"
              },
              {
                "displayName": "Danish",
                "value": "da"
              },
              {
                "displayName": "Dutch",
                "value": "nl"
              },
              {
                "displayName": "English",
                "value": "en"
              },
              {
                "displayName": "English United Kingdom",
                "value": "en-gb"
              },
              {
                "displayName": "Estonian",
                "value": "et"
              },
              {
                "displayName": "Finnish",
                "value": "fi"
              },
              {
                "displayName": "French",
                "value": "fr"
              },
              {
                "displayName": "Galician",
                "value": "gl"
              },
              {
                "displayName": "German",
                "value": "de"
              },
              {
                "displayName": "Gujarati",
                "value": "gu"
              },
              {
                "displayName": "Hebrew",
                "value": "he"
              },
              {
                "displayName": "Hindi",
                "value": "hi"
              },
              {
                "displayName": "Hungarian",
                "value": "hu"
              },
              {
                "displayName": "Icelandic",
                "value": "is"
              },
              {
                "displayName": "Italian",
                "value": "it"
              },
              {
                "displayName": "Japanese",
                "value": "jp"
              },
              {
                "displayName": "Kannada",
                "value": "kn"
              },
              {
                "displayName": "Korean",
                "value": "ko"
              },
              {
                "displayName": "Latvian",
                "value": "lv"
              },
              {
                "displayName": "Lithuanian",
                "value": "lt"
              },
              {
                "displayName": "Malay",
                "value": "ms"
              },
              {
                "displayName": "Malayalam",
                "value": "ml"
              },
              {
                "displayName": "Marathi",
                "value": "mr"
              },
              {
                "displayName": "Norwegian Bokmal",
                "value": "nb"
              },
              {
                "displayName": "Polish",
                "value": "pl"
              },
              {
                "displayName": "Portuguese Brazil",
                "value": "pt-br"
              },
              {
                "displayName": "Portuguese Portugal",
                "value": "pt-pt"
              },
              {
                "displayName": "Punjabi",
                "value": "pa"
              },
              {
                "displayName": "Romanian",
                "value": "ro"
              },
              {
                "displayName": "Russian",
                "value": "ru"
              },
              {
                "displayName": "Serbian Cyrylic",
                "value": "sr"
              },
              {
                "displayName": "Slovak",
                "value": "sk"
              },
              {
                "displayName": "Slovenian",
                "value": "sl"
              },
              {
                "displayName": "Spanish",
                "value": "es"
              },
              {
                "displayName": "Swedish",
                "value": "sv"
              },
              {
                "displayName": "Tamil",
                "value": "ta"
              },
              {
                "displayName": "Telugu",
                "value": "te"
              },
              {
                "displayName": "Thai",
                "value": "th"
              },
              {
                "displayName": "Turkish",
                "value": "tr"
              },
              {
                "displayName": "Ukrainian",
                "value": "uk"
              },
              {
                "displayName": "Vietnamese",
                "value": "vi"
              }
            ]
          },
          {
            "name": "count",
            "in": "query",
            "x-ms-summary": "Count",
            "description": "The count.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "safesearch",
            "in": "query",
            "x-ms-summary": "Safe Search",
            "description": "The safe search setting.",
            "required": false,
            "type": "string",
            "default": "strict",
            "enum": [
              "strict",
              "off"
            ]
          },
          {
            "name": "spellcheck",
            "in": "query",
            "x-ms-summary": "Spellcheck",
            "description": "Whether to spellcheck.",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ]
      }
    },
    "/res/v1/videos/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "query": {
                  "type": "object",
                  "properties": {
                    "original": {
                      "type": "string",
                      "description": "The original.",
                      "title": "Original"
                    },
                    "spellcheck_off": {
                      "type": "boolean",
                      "description": "Whether spellcheck is off.",
                      "title": "Spellcheck Off"
                    },
                    "show_strict_warning": {
                      "type": "boolean",
                      "description": "Whether to show strict warning.",
                      "title": "Show Strict Warning"
                    }
                  },
                  "title": "Query"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "age": {
                        "type": "string",
                        "description": "The age.",
                        "title": "Age"
                      },
                      "page_age": {
                        "type": "string",
                        "description": "The page age.",
                        "title": "Page Age"
                      },
                      "video": {
                        "type": "object",
                        "properties": {
                          "duration": {
                            "type": "string",
                            "description": "The duration.",
                            "title": "Duration"
                          },
                          "views": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The views.",
                            "title": "Views"
                          },
                          "creator": {
                            "type": "string",
                            "description": "The creator.",
                            "title": "Creator"
                          },
                          "publisher": {
                            "type": "string",
                            "description": "The publisher.",
                            "title": "Publisher"
                          },
                          "requires_subscription": {
                            "type": "boolean",
                            "description": "Whether requires subscription.",
                            "title": "Requires Subscription"
                          },
                          "author": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name.",
                                "title": "Name"
                              },
                              "url": {
                                "type": "string",
                                "description": "The URL address.",
                                "title": "URL"
                              }
                            },
                            "title": "Author"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The tags.",
                            "title": "Tags"
                          }
                        },
                        "title": "Video"
                      },
                      "meta_url": {
                        "type": "object",
                        "properties": {
                          "scheme": {
                            "type": "string",
                            "description": "The scheme.",
                            "title": "Scheme"
                          },
                          "netloc": {
                            "type": "string",
                            "description": "The netloc.",
                            "title": "Netloc"
                          },
                          "hostname": {
                            "type": "string",
                            "description": "The hostname.",
                            "title": "Hostname"
                          },
                          "favicon": {
                            "type": "string",
                            "description": "The favicon.",
                            "title": "Favicon"
                          },
                          "path": {
                            "type": "string",
                            "description": "The path.",
                            "title": "Path"
                          }
                        },
                        "title": "Meta URL"
                      },
                      "thumbnail": {
                        "type": "object",
                        "properties": {
                          "src": {
                            "type": "string",
                            "description": "The source.",
                            "title": "Source"
                          },
                          "original": {
                            "type": "string",
                            "description": "The original.",
                            "title": "Original"
                          }
                        },
                        "title": "Thumbnail"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Search web for videos",
        "description": "Retrieve the results of a video web query.",
        "operationId": "VideoSearchGet",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "x-ms-summary": "Accept",
            "description": "The Accept type.",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The query.",
            "required": true,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "x-ms-summary": "Country",
            "description": "The country.",
            "required": false,
            "type": "string",
            "default": "US",
            "enum": [
              "ALL",
              "AR",
              "AU",
              "AT",
              "BE",
              "BR",
              "CA",
              "CL",
              "DK",
              "FI",
              "FR",
              "DE",
              "HK",
              "IN",
              "ID",
              "IT",
              "JP",
              "KR",
              "MY",
              "MX",
              "NL",
              "NZ",
              "NO",
              "CN",
              "PL",
              "PT",
              "PH",
              "RU",
              "SA",
              "ZA",
              "ES",
              "SE",
              "CH",
              "TW",
              "TR",
              "GB",
              "US"
            ],
            "x-ms-enum-value": [
              {
                "displayName": "All Regions",
                "value": "ALL"
              },
              {
                "displayName": "Argentina",
                "value": "AR"
              },
              {
                "displayName": "Australia",
                "value": "AU"
              },
              {
                "displayName": "Austria",
                "value": "AT"
              },
              {
                "displayName": "Belgium",
                "value": "BE"
              },
              {
                "displayName": "Brazil",
                "value": "BR"
              },
              {
                "displayName": "Canada",
                "value": "CA"
              },
              {
                "displayName": "Chile",
                "value": "CL"
              },
              {
                "displayName": "Denmark",
                "value": "DK"
              },
              {
                "displayName": "Finland",
                "value": "FI"
              },
              {
                "displayName": "France",
                "value": "FR"
              },
              {
                "displayName": "Germany",
                "value": "DE"
              },
              {
                "displayName": "Hong Kong",
                "value": "HK"
              },
              {
                "displayName": "India",
                "value": "IN"
              },
              {
                "displayName": "Indonesia",
                "value": "ID"
              },
              {
                "displayName": "Italy",
                "value": "IT"
              },
              {
                "displayName": "Japan",
                "value": "JP"
              },
              {
                "displayName": "Korea",
                "value": "KR"
              },
              {
                "displayName": "Malaysia",
                "value": "MY"
              },
              {
                "displayName": "Mexico",
                "value": "MX"
              },
              {
                "displayName": "Netherlands",
                "value": "NL"
              },
              {
                "displayName": "New Zealand",
                "value": "NZ"
              },
              {
                "displayName": "Norway",
                "value": "NO"
              },
              {
                "displayName": "Peoples Republic of China",
                "value": "CN"
              },
              {
                "displayName": "Poland",
                "value": "PL"
              },
              {
                "displayName": "Portugal",
                "value": "PT"
              },
              {
                "displayName": "Republic of the Philippines",
                "value": "PH"
              },
              {
                "displayName": "Russia",
                "value": "RU"
              },
              {
                "displayName": "Saudi Arabia",
                "value": "SA"
              },
              {
                "displayName": "South Africa",
                "value": "ZA"
              },
              {
                "displayName": "Spain",
                "value": "ES"
              },
              {
                "displayName": "Sweden",
                "value": "SE"
              },
              {
                "displayName": "Switzerland",
                "value": "CH"
              },
              {
                "displayName": "Taiwan",
                "value": "TW"
              },
              {
                "displayName": "Turkey",
                "value": "TR"
              },
              {
                "displayName": "United Kingdom",
                "value": "GB"
              },
              {
                "displayName": "United States",
                "value": "US"
              }
            ]
          },
          {
            "name": "search_lang",
            "in": "query",
            "x-ms-summary": "Search Language",
            "description": "The search language.",
            "required": false,
            "type": "string",
            "default": "en",
            "enum": [
              "ar",
              "eu",
              "bn",
              "bg",
              "ca",
              "zh-hans",
              "zh-hant",
              "hr",
              "cs",
              "da",
              "nl",
              "en",
              "en-gb",
              "et",
              "fi",
              "fr",
              "gl",
              "de",
              "gu",
              "he",
              "hi",
              "hu",
              "is",
              "it",
              "jp",
              "kn",
              "ko",
              "lv",
              "lt",
              "ms",
              "ml",
              "mr",
              "nb",
              "pl",
              "pt-br",
              "pt-pt",
              "pa",
              "ro",
              "ru",
              "sr",
              "sk",
              "sl",
              "es",
              "sv",
              "ta",
              "te",
              "th",
              "tr",
              "uk",
              "vi"
            ],
            "x-ms-enum-value": [
              {
                "displayName": "Arabic",
                "value": "ar"
              },
              {
                "displayName": "Basque",
                "value": "eu"
              },
              {
                "displayName": "Bengali",
                "value": "bn"
              },
              {
                "displayName": "Bulgarian",
                "value": "bg"
              },
              {
                "displayName": "Catalan",
                "value": "ca"
              },
              {
                "displayName": "Chinese Simplified",
                "value": "zh-hans"
              },
              {
                "displayName": "Chinese Traditional",
                "value": "zh-hant"
              },
              {
                "displayName": "Croatian",
                "value": "hr"
              },
              {
                "displayName": "Czech",
                "value": "cs"
              },
              {
                "displayName": "Danish",
                "value": "da"
              },
              {
                "displayName": "Dutch",
                "value": "nl"
              },
              {
                "displayName": "English",
                "value": "en"
              },
              {
                "displayName": "English United Kingdom",
                "value": "en-gb"
              },
              {
                "displayName": "Estonian",
                "value": "et"
              },
              {
                "displayName": "Finnish",
                "value": "fi"
              },
              {
                "displayName": "French",
                "value": "fr"
              },
              {
                "displayName": "Galician",
                "value": "gl"
              },
              {
                "displayName": "German",
                "value": "de"
              },
              {
                "displayName": "Gujarati",
                "value": "gu"
              },
              {
                "displayName": "Hebrew",
                "value": "he"
              },
              {
                "displayName": "Hindi",
                "value": "hi"
              },
              {
                "displayName": "Hungarian",
                "value": "hu"
              },
              {
                "displayName": "Icelandic",
                "value": "is"
              },
              {
                "displayName": "Italian",
                "value": "it"
              },
              {
                "displayName": "Japanese",
                "value": "jp"
              },
              {
                "displayName": "Kannada",
                "value": "kn"
              },
              {
                "displayName": "Korean",
                "value": "ko"
              },
              {
                "displayName": "Latvian",
                "value": "lv"
              },
              {
                "displayName": "Lithuanian",
                "value": "lt"
              },
              {
                "displayName": "Malay",
                "value": "ms"
              },
              {
                "displayName": "Malayalam",
                "value": "ml"
              },
              {
                "displayName": "Marathi",
                "value": "mr"
              },
              {
                "displayName": "Norwegian Bokmal",
                "value": "nb"
              },
              {
                "displayName": "Polish",
                "value": "pl"
              },
              {
                "displayName": "Portuguese Brazil",
                "value": "pt-br"
              },
              {
                "displayName": "Portuguese Portugal",
                "value": "pt-pt"
              },
              {
                "displayName": "Punjabi",
                "value": "pa"
              },
              {
                "displayName": "Romanian",
                "value": "ro"
              },
              {
                "displayName": "Russian",
                "value": "ru"
              },
              {
                "displayName": "Serbian Cyrylic",
                "value": "sr"
              },
              {
                "displayName": "Slovak",
                "value": "sk"
              },
              {
                "displayName": "Slovenian",
                "value": "sl"
              },
              {
                "displayName": "Spanish",
                "value": "es"
              },
              {
                "displayName": "Swedish",
                "value": "sv"
              },
              {
                "displayName": "Tamil",
                "value": "ta"
              },
              {
                "displayName": "Telugu",
                "value": "te"
              },
              {
                "displayName": "Thai",
                "value": "th"
              },
              {
                "displayName": "Turkish",
                "value": "tr"
              },
              {
                "displayName": "Ukrainian",
                "value": "uk"
              },
              {
                "displayName": "Vietnamese",
                "value": "vi"
              }
            ]
          },
          {
            "name": "count",
            "in": "query",
            "x-ms-summary": "Count",
            "description": "The count.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "safesearch",
            "in": "query",
            "x-ms-summary": "Safe Search",
            "description": "The safe search setting.",
            "required": false,
            "type": "string",
            "default": "strict",
            "enum": [
              "strict",
              "off"
            ]
          },
          {
            "name": "spellcheck",
            "in": "query",
            "x-ms-summary": "Spellcheck",
            "description": "Whether to spellcheck.",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ]
      }
    },
    "/res/v1/news/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "query": {
                  "type": "object",
                  "properties": {
                    "original": {
                      "type": "string",
                      "description": "The original.",
                      "title": "Original"
                    },
                    "spellcheck_off": {
                      "type": "boolean",
                      "description": "Whether spellcheck is off.",
                      "title": "Spellcheck Off"
                    },
                    "show_strict_warning": {
                      "type": "boolean",
                      "description": "Whether to show strict warning.",
                      "title": "Show Strict Warning"
                    }
                  },
                  "title": "Query"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "age": {
                        "type": "string",
                        "description": "The age.",
                        "title": "Age"
                      },
                      "page_age": {
                        "type": "string",
                        "description": "The page age.",
                        "title": "Page Age"
                      },
                      "meta_url": {
                        "type": "object",
                        "properties": {
                          "scheme": {
                            "type": "string",
                            "description": "The scheme.",
                            "title": "Scheme"
                          },
                          "netloc": {
                            "type": "string",
                            "description": "The netloc.",
                            "title": "Netloc"
                          },
                          "hostname": {
                            "type": "string",
                            "description": "The hostname.",
                            "title": "Hostname"
                          },
                          "favicon": {
                            "type": "string",
                            "description": "The favicon.",
                            "title": "Favicon"
                          },
                          "path": {
                            "type": "string",
                            "description": "The path.",
                            "title": "Path"
                          }
                        },
                        "title": "Meta URL"
                      },
                      "thumbnail": {
                        "type": "object",
                        "properties": {
                          "src": {
                            "type": "string",
                            "description": "The source.",
                            "title": "Source"
                          }
                        },
                        "title": "Thumbnail"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Search web for news",
        "description": "Retrieve the results of a news web query.",
        "operationId": "NewsSearchGet",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "x-ms-summary": "Accept",
            "description": "The Accept type.",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The query.",
            "required": true,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "x-ms-summary": "Country",
            "description": "The country.",
            "required": false,
            "type": "string",
            "default": "US",
            "enum": [
              "ALL",
              "AR",
              "AU",
              "AT",
              "BE",
              "BR",
              "CA",
              "CL",
              "DK",
              "FI",
              "FR",
              "DE",
              "HK",
              "IN",
              "ID",
              "IT",
              "JP",
              "KR",
              "MY",
              "MX",
              "NL",
              "NZ",
              "NO",
              "CN",
              "PL",
              "PT",
              "PH",
              "RU",
              "SA",
              "ZA",
              "ES",
              "SE",
              "CH",
              "TW",
              "TR",
              "GB",
              "US"
            ],
            "x-ms-enum-value": [
              {
                "displayName": "All Regions",
                "value": "ALL"
              },
              {
                "displayName": "Argentina",
                "value": "AR"
              },
              {
                "displayName": "Australia",
                "value": "AU"
              },
              {
                "displayName": "Austria",
                "value": "AT"
              },
              {
                "displayName": "Belgium",
                "value": "BE"
              },
              {
                "displayName": "Brazil",
                "value": "BR"
              },
              {
                "displayName": "Canada",
                "value": "CA"
              },
              {
                "displayName": "Chile",
                "value": "CL"
              },
              {
                "displayName": "Denmark",
                "value": "DK"
              },
              {
                "displayName": "Finland",
                "value": "FI"
              },
              {
                "displayName": "France",
                "value": "FR"
              },
              {
                "displayName": "Germany",
                "value": "DE"
              },
              {
                "displayName": "Hong Kong",
                "value": "HK"
              },
              {
                "displayName": "India",
                "value": "IN"
              },
              {
                "displayName": "Indonesia",
                "value": "ID"
              },
              {
                "displayName": "Italy",
                "value": "IT"
              },
              {
                "displayName": "Japan",
                "value": "JP"
              },
              {
                "displayName": "Korea",
                "value": "KR"
              },
              {
                "displayName": "Malaysia",
                "value": "MY"
              },
              {
                "displayName": "Mexico",
                "value": "MX"
              },
              {
                "displayName": "Netherlands",
                "value": "NL"
              },
              {
                "displayName": "New Zealand",
                "value": "NZ"
              },
              {
                "displayName": "Norway",
                "value": "NO"
              },
              {
                "displayName": "Peoples Republic of China",
                "value": "CN"
              },
              {
                "displayName": "Poland",
                "value": "PL"
              },
              {
                "displayName": "Portugal",
                "value": "PT"
              },
              {
                "displayName": "Republic of the Philippines",
                "value": "PH"
              },
              {
                "displayName": "Russia",
                "value": "RU"
              },
              {
                "displayName": "Saudi Arabia",
                "value": "SA"
              },
              {
                "displayName": "South Africa",
                "value": "ZA"
              },
              {
                "displayName": "Spain",
                "value": "ES"
              },
              {
                "displayName": "Sweden",
                "value": "SE"
              },
              {
                "displayName": "Switzerland",
                "value": "CH"
              },
              {
[...]
