{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "MotherDuck MCP",
    "description": "Query your MotherDuck databases through the remote MotherDuck MCP server. Run SQL, explore catalogs, create Dives, and answer questions about your data from Microsoft Copilot Studio agents and Power Automate flows.",
    "contact": {
      "name": "MotherDuck Support",
      "url": "https://motherduck.com/docs/",
      "email": "support@motherduck.com"
    }
  },
  "host": "api.motherduck.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/mcp": {
      "post": {
        "summary": "MotherDuck MCP Server",
        "description": "Invoke the MotherDuck MCP server with a streamable response. The request body and response are JSON-RPC 2.0 messages defined by the Model Context Protocol (https://modelcontextprotocol.io). Copilot Studio and other MCP hosts negotiate the protocol, list tools, and invoke them through this single operation; the response schema is dynamic because it depends on which MCP method is being invoked.",
        "operationId": "InvokeServer",
        "x-ms-agentic-protocol": "mcp-streamable-1.0",
        "responses": {
          "200": {
            "description": "Immediate Response"
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. Ensure a valid access token is provided in the Authorization header as 'Bearer <token>'."
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred on the MotherDuck MCP server. Retry the request or contact MotherDuck support if the issue persists."
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://motherduck.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://motherduck.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Data"
    }
  ]
}
