{
  "swagger": "2.0",
  "info": {
    "title": "Lasso X",
    "description": "This connector allows you to use the Lasso X API to retrieve information about the People, Companies and Production Units in the Danish CVR Registry. \n\nRequires an API Key from Lasso X. For more information, visit www.lassox.com",
    "version": "1.2",
    "contact": {
        "name": "Lasso X Support",
        "url": "https://lassox.com/support/tech-support",
        "email": "support@lassox.com"
    }
  },
  "host": "api.lassox.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "htpts://www.lassox.com"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://apps.lassox.com/assets/docs/privacy_cookies.pdf"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Data;Business Intelligence"
      }
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/CVR-1-{CVR Number}": {
      "get": {
        "responses": {
          "200": {
            "description": "Company exists",
            "schema": {
              "type": "object",
              "properties": {
                "lassoId": {
                  "type": "string",
                  "description": "The lasso id of the company, e.g. CVR-1-34580820",
                  "title": "LassoId"
                },
                "cvr": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The CVR Number of the company",
                  "title": "CVR"
                },
                "unitNumber": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The unit number of the company",
                  "title": "Unit number"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the company",
                  "title": "Name"
                },
                "alternateNames": {
                  "type": "array",
                  "description": "Binavne",
                  "title": "Alternate Names",
                  "items": {
                    "type": "string",
                    "description": "Alternate Name",
                    "title": "Name"
                  }
                },
                "status": {
                  "type": "string",
                  "description": "e.g. NORMAL",
                  "title": "Status"
                },
                "phone": {
                  "type": "string",
                  "description": "Phone number",
                  "title": "Telephone"
                },
                "email": {
                  "type": "string",
                  "description": "E-mail",
                  "title": "Email"
                },
                "fax": {
                  "type": "string",
                  "description": "Fax",
                  "title": "Fax"
                },
                "website": {
                  "type": "string",
                  "description": "Website",
                  "title": "Website"
                },
                "purpose": {
                  "type": "string",
                  "description": "Purpose of the company",
                  "title": "Purpose"
                },
                "powerToBind": {
                  "type": "string",
                  "description": "Power to Bind rules",
                  "title": "PowerToBind"
                },
                "commerciallyProtected": {
                  "type": "boolean",
                  "description": "Whether the company is OK to contact for commercial purposes",
                  "title": "Commercially Protected"
                },
                "publicallyTraded": {
                  "type": "boolean",
                  "description": "Whether this company is traded on a stock exchange",
                  "title": "Publically Traded"
                },
                "byLawsChanged": {
                  "type": "string",
                  "description": "Date of the latest bylaws change",
                  "title": "Bylaws changed"
                },
                "creationDate": {
                  "type": "string",
                  "description": "When the company was founded",
                  "title": "Creation Date"
                },
                "address": {
                  "type": "object",
                  "properties": {
                    "address1": {
                      "type": "string",
                      "description": "First line of the address",
                      "title": "Address1"
                    },
                    "address2": {
                      "type": "string",
                      "description": "Second line of the address",
                      "title": "Address2"
                    },
                    "streetName": {
                      "type": "string",
                      "description": "Street name",
                      "title": "Streetname"
                    },
                    "streetCode": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Street code",
                      "title": "Street Code"
                    },
                    "houseNumberFrom": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Housenumber From",
                      "title": "Housenumber From"
                    },
                    "houseNumberTo": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Housenumber To",
                      "title": "Housenumber To"
                    },
                    "houseLetterFrom": {
                      "type": "string",
                      "description": "Houseletter From",
                      "title": "Houseletter From"
                    },
                    "houseLetterTo": {
                      "type": "string",
                      "description": "Houseletter To",
                      "title": "Houseletter To"
                    },
                    "floor": {
                      "type": "string",
                      "description": "Floor",
                      "title": "Floor"
                    },
                    "sideDoor": {
                      "type": "string",
                      "description": "e.g. th",
                      "title": "Side Door"
                    },
                    "postalCode": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Postal code",
                      "title": "Postal Code"
                    },
                    "postalDistrict": {
                      "type": "string",
                      "description": "Postal District",
                      "title": "Postal District"
                    },
                    "cityName": {
                      "type": "string",
                      "description": "Name of the city (Can be empty, use 'postalDistrict' as fallback)",
                      "title": "City"
                    },
                    "municipality": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The name of the municipality, e.g. ODENSE",
                          "title": "Name"
                        },
                        "code": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The Municipality Code, e.g. 101",
                          "title": "Code"
                        }
                      },
                      "description": "(OBJECT) Municipality",
                      "title": "Municipality"
                    },
                    "coName": {
                      "type": "string",
                      "description": "C/O Name",
                      "title": "C/O Name"
                    },
                    "postalBox": {
                      "type": "string",
                      "description": "The PO Box",
                      "title": "Postalbox"
                    },
                    "freeText": {
                      "type": "string",
                      "description": "Free text, usually a non-Danish address",
                      "title": "Freetext"
                    },
                    "countryCode": {
                      "type": "string",
                      "description": "Country Code, e.g. DK",
                      "title": "Country Code"
                    }
                  },
                  "description": "(OBJECT) Company Address",
                  "title": "Address"
                },
                "form": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Code, e.g. 80",
                      "title": "Code"
                    },
                    "shortDescription": {
                      "type": "string",
                      "description": "Short description, e.g. ApS",
                      "title": "Description (short)"
                    },
                    "longDescription": {
                      "type": "string",
                      "description": "Long description, e.g. Anpartsselskab",
                      "title": "Description (long)"
                    }
                  },
                  "description": "(OBJECT) Company Form",
                  "title": "Form"
                },
                "industry": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string",
                      "description": "Industry Text, e.g. 'Softwareudvikling'",
                      "title": "Text"
                    },
                    "code": {
                      "type": "string",
                      "description": "Code of the industry, e.g. 642020",
                      "title": "Code"
                    }
                  },
                  "description": "(OBJECT) Industry (Hovedbranche)",
                  "title": "Industry"
                },
                "altIndustry1": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string",
                      "description": "Industry Text, e.g. 'Softwareudvikling'",
                      "title": "Text"
                    },
                    "code": {
                      "type": "string",
                      "description": "Code of the industry, e.g. 642020",
                      "title": "Code"
                    }
                  },
                  "description": "(OBJECT) Alternate Industry 1",
                  "title": "Alternate Industry 1"
                },
                "altIndustry2": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string",
                      "description": "Industry Text, e.g. 'Softwareudvikling'",
                      "title": "Text"
                    },
                    "code": {
                      "type": "string",
                      "description": "Code of the industry, e.g. 642020",
                      "title": "Code"
                    }
                  },
                  "description": "(OBJECT) Alternate Industry 2",
                  "title": "Alternate Industry 2"
                },
                "altIndustry3": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string",
                      "description": "Industry Text, e.g. 'Softwareudvikling'",
                      "title": "Text"
                    },
                    "code": {
                      "type": "string",
                      "description": "Code of the industry, e.g. 642020",
                      "title": "Code"
                    }
                  },
                  "description": "(OBJECT) Alternate Industry 3",
                  "title": "Alternate Industry 3"
                },
                "employees": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Exact amount of employees",
                      "title": "Count"
                    },
                    "fullTimeEquivalentCount": {
                      "type": "number",
                      "format": "double",
                      "description": "The full time equivalent count of workers",
                      "title": "Full Time Equivalent"
                    },
                    "interval": {
                      "type": "string",
                      "description": "Interval the count falls into, e.g. 20-49",
                      "title": "Interval"
                    },
                    "type": {
                      "type": "string",
                      "description": "Monthly/Quarterly/Yearly",
                      "title": "Type"
                    },
                    "month": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The month of the year the data is from",
                      "title": "Month"
                    },
                    "year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The year the data is from",
                      "title": "Year"
                    }
                  },
                  "description": "(OBJECT) Information on Employees",
                  "title": "Employees"
                },
                "contributedCapital": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "integer",
                      "format": "int64",
                      "description": "The size of the capital",
                      "title": "Value"
                    },
                    "currency": {
                      "type": "string",
                      "description": "The currency of the capital, e.g. DKK",
                      "title": "Currency"
                    },
                    "hasClasses": {
                      "type": "boolean",
                      "description": "Whether or not owners of this company has different classes of capital",
                      "title": "Has Classes"
                    },
                    "isPartial": {
                      "type": "boolean",
                      "description": "Whether or not the capital amount if partially paid",
                      "title": "Is Partial"
                    }
                  },
                  "description": "(OBJECT) Contributed Capital",
                  "title": "Contributed Capital"
                },
                "accounting": {
                  "type": "object",
                  "properties": {
                    "optedOut": {
                      "type": "boolean",
                      "description": "Whether accounting has been opted out of",
                      "title": "Opted Out"
                    },
                    "currentPeriod": {
                      "type": "object",
                      "properties": {
                        "from": {
                          "type": "string",
                          "format": "date-time",
                          "description": "From (Date)",
                          "title": "From"
                        },
                        "to": {
                          "type": "string",
                          "format": "date-time",
                          "description": "To (Date)",
                          "title": "To"
                        }
                      },
                      "description": "(OBJECT) Current Accounting Period",
                      "title": "Current Period"
                    },
                    "firstPeriod": {
                      "type": "object",
                      "properties": {
                        "from": {
                          "type": "string",
                          "format": "date-time",
                          "description": "From (Date)",
                          "title": "From"
                        },
                        "to": {
                          "type": "string",
                          "format": "date-time",
                          "description": "To (Date)",
                          "title": "To"
                        }
                      },
                      "description": "(OBJECT) First Accounting Period",
                      "title": "First Period"
                    },
                    "period": {
                      "type": "object",
                      "properties": {
                        "from": {
                          "type": "object",
                          "properties": {
                            "day": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The number of the day of the month, e.g. 1",
                              "title": "Day"
                            },
                            "month": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The number of the month of th eyear, e.g. 1",
                              "title": "Month"
                            }
                          },
                          "description": "(OBJECT) From",
                          "title": "From"
                        },
                        "to": {
                          "type": "object",
                          "properties": {
                            "day": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The number of the day of the month, e.g. 31",
                              "title": "Day"
                            },
                            "month": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The number of the month of theyear, e.g. 12",
                              "title": "Month"
                            }
                          },
                          "description": "(OBJECT) To",
                          "title": "To"
                        }
                      },
                      "description": "(OBJECT) Accounting Period",
                      "title": "Period"
                    },
                    "accountant": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Name of the accountant",
                          "title": "Name"
                        },
                        "type": {
                          "type": "string",
                          "description": "Type of the accountant, e.g. 'VIRKSOMHED'",
                          "title": "Type"
                        },
                        "lassoId": {
                          "type": "string",
                          "description": "Lasso Id",
                          "title": "Lasso Id"
                        },
                        "cvr": {
                          "type": "integer",
                          "format": "int32",
                          "description": "CVR Number",
                          "title": "CVR"
                        },
                        "unitNumber": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Unit number",
                          "title": "Unit number"
                        }
                      },
                      "description": "(OBJECT) The accountant of the company",
                      "title": "Accountant"
                    }
                  },
                  "description": "(OBJECT) Information regarding accounting",
                  "title": "Accounting"
                },
                "management": {
                  "type": "object",
                  "properties": {
                    "ceo": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Name of the CEO",
                          "title": "Name"
                        },
                        "lassoId": {
                          "type": "string",
                          "description": "Lasso Id",
                          "title": "Lasso Id"
                        },
                        "unitNumber": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Unit number",
                          "title": "Unit number"
                        }
                      },
                      "description": "CEO of the company",
                      "title": "CEO"
                    },
                    "members": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Name of the manager",
                            "title": "Name"
                          },
                          "lassoId": {
                            "type": "string",
                            "description": "Lasso Id",
                            "title": "Lasso Id"
                          },
                          "unitNumber": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Unit number",
                            "title": "Unit number"
                          }
                        },
                        "description": "(OBJECT) Information on a manager",
                        "title": "Manager"
                      },
                      "description": "Management (CEO Excluded)",
                      "title": "Members"
                    }
                  },
                  "description": "(OBJECT) Management",
                  "title": "Management"
                },
                "board": {
                  "type": "object",
                  "properties": {
                    "chairman": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Name of the Chairman",
                          "title": "Name"
                        },
                        "lassoId": {
                          "type": "string",
                          "description": "Lasso Id",
                          "title": "Lasso Id"
                        },
                        "unitNumber": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Unit number",
                          "title": "Unit number"
                        }
                      },
                      "description": "Chairman of the company",
                      "title": "Chairman"
                    },
                    "members": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Name of the boardmember",
                            "title": "Name"
                          },
                          "lassoId": {
                            "type": "string",
                            "description": "Lasso Id of the boardmember",
                            "title": "Lasso Id"
                          },
                          "unitNumber": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Unit number of the boardmember",
                            "title": "Unit number"
                          }
                        },
                        "description": "(OBJECT) Information on a boardmember",
                        "title": "Boardmember"
                      },
                      "description": "Boardmembers (Chairman Excluded)",
                      "title": "Members"
                    }
                  },
                  "description": "(OBJECT) Board",
                  "title": "Board"
                },
                "ownership": {
                  "type": "object",
                  "properties": {
                    "hasOwnersUnderFivePercent": {
                      "type": "boolean",
                      "description": "If the company has registered that they have owner(s) with less than 5%",
                      "title": "Owners under 5 percent"
                    },
                    "owners": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ownership": {
                            "type": "object",
                            "properties": {
                              "from": {
                                "type": "number",
                                "format": "double",
                                "description": "The lower limit of the ownership",
                                "title": "From"
                              },
                              "to": {
                                "type": "number",
                                "format": "double",
                                "description": "The upper limit of the ownership",
                                "title": "To"
                              }
                            },
                            "description": "(OBJECT) Ownership percentages (to and from) for this owner",
                            "title": "Ownership percentages"
                          },
                          "voterights": {
                            "type": "object",
                            "properties": {
                              "from": {
                                "type": "number",
                                "format": "double",
                                "description": "The lower limit of the voterights",
                                "title": "From"
                              },
                              "to": {
                                "type": "number",
                                "format": "double",
                                "description": "The upper limit of the voterights",
                                "title": "To"
                              }
                            },
                            "description": "(OBJECT) Voteright percentages (to and from) for this owner",
                            "title": "Vote right percentages"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the owner",
                            "title": "Name"
                          },
                          "lassoId": {
                            "type": "string",
                            "description": "The lasso id of the owner",
                            "title": "Lasso Id"
                          },
                          "unitNumber": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The unit number of the owner",
                            "title": "Unit number"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of entity, e.g. 'VIRKSOMHED'",
                            "title": "Type"
                          }
                        },
                        "description": "(OBJECT) Information on an owner",
                        "title": "Owner"
                      }
                    }
                  },
                  "description": "(OBJECT) Information on the ownership of the company",
                  "title": "Ownership"
                },
                "trueOwnership": {
                  "type": "object",
                  "properties": {
                    "couldNotIdentify": {
                      "type": "boolean",
                      "description": "This company cannot identify true owners",
                      "title": "Could Not Identify"
                    },
                    "exempt": {
                      "type": "boolean",
                      "description": "This company is exempt from reporting true owners",
                      "title": "Exempt"
                    },
                    "owners": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ownership": {
                            "type": "number",
                            "format": "double",
                            "description": "The ownership percentage",
                            "title": "Ownership Percentage"
                          },
                          "voterights": {
                            "type": "number",
                            "format": "double",
                            "description": "The voteright percentage",
                            "title": "Voteright Percentage"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the owner",
                            "title": "Name"
                          },
                          "lassoId": {
                            "type": "string",
                            "description": "The lasso id of the owner",
                            "title": "Lasso Id"
                          },
                          "unitNumber": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The unit number of the owner",
                            "title": "Unit number"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type of owner, typically PERSON",
                            "title": "Type"
                          }
                        },
                        "description": "(OBJECT) Information on an owner",
                        "title": "Owner"
                      },
                      "description": "A list of true owners of this company",
                      "title": "Owners"
                    }
                  },
                  "description": "(OBJECT) Information on the true ownership of the company (reelt ejerskab)",
                  "title": "True Ownership"
                },
                "lastUpdated": {
                  "type": "string",
                  "description": "Last time the data was updated",
                  "title": "Last Updated"
                }
              }
            }
          },
          "404": {
            "description": "Company not Found",
            "schema": {
              "type": "object",
              "properties": {
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage",
                  "title": "Error Message"
                },
                "httpStatusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "httpStatusCode",
                  "title": "Http Status Code"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode",
                  "title": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Get company information",
        "operationId": "CompanyInformation",
        "description": "Gets information about a company.",
        "parameters": [
          {
            "name": "CVR Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "CVR Number of the company.",
            "x-ms-summary": "CVR Number",
            "format": "int32"
          }
        ]
      }
    },
    "/CVR-1-{CVR Number}/related/place": {
        "get": {
            "responses": {
                "200": {
                    "description": "Company exists",
                    "schema": {
                      "type": "array",
                      "description": "Production Units related to company",
                      "title": "Production Units",
                      "items": {
                          "type": "object",
                          "properties": {
                            "lassoId": {
                              "type": "string",
                              "description": "Lasso Id of the Production Unit",
                              "title": "Lasso Id"
                            },
                            "pNumber": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Id of the Production Unit (PNummer)",
                              "title": "PNumber"
                            },
                            "unitNumber": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The Unit Number of the Production Unit",
                              "title": "Unit Number"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name of the production unit",
                              "title": "Name"
                            },
                            "cvr": {
                              "type": "integer",
                              "format": "int32",
                              "description": "CVR of the related company",
                              "title": "CVR"
                            },
                            "status": {
                              "type": "string",
                              "description": "Status of the Production Unit",
                              "title": "Status"
                            },
                            "lifeTime": {
                              "type": "object",
                              "properties": {
                                "from": {
                                  "type": "string",
                                  "description": "(DATE) From",
                                  "title": "From"
                                },
                                "to": {
                                  "type": "string",
                                  "description": "(DATE) To",
                                  "title": "To"
                                }
                              },
                              "description": "(OBJECT) The life time of this company",
                              "title": "Lifetime"
                            },
                            "phone": {
                              "type": "string",
                              "description": "Phone number",
                              "title": "Phone"
                            },
                            "email": {
                              "type": "string",
                              "description": "E-Mail Address",
                              "title": "E-mail"
                            },
                            "fax": {
                              "type": "string",
                              "description": "Fax number",
                              "title": "fax"
                            },
                            "website": {
                              "type": "string",
                              "description": "Website",
                              "title": "Website"
                            },
                            "commerciallyProtected": {
                              "type": "boolean",
                              "description": "Whether this company is acceptable to contact for commercial purposes",
                              "title": "Commercially Protected"
                            },
                            "creationDate": {
                              "type": "string",
                              "description": "Date this Production Unit was created",
                              "title": "Creation Date"
                            },
                            "address": {
                              "type": "object",
                              "properties": {
                                "address1": {
                                  "type": "string",
                                  "description": "First line of the address",
                                  "title": "Address1"
                                },
                                "address2": {
                                  "type": "string",
                                  "description": "Second line of the address",
                                  "title": "Address2"
                                },
                                "streetName": {
                                  "type": "string",
                                  "description": "Street name",
                                  "title": "Streetname"
                                },
                                "streetCode": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Street code",
                                  "title": "Street Code"
                                },
                                "houseNumberFrom": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Housenumber From",
                                  "title": "Housenumber From"
                                },
                                "houseNumberTo": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Housenumber To",
                                  "title": "Housenumber To"
                                },
                                "houseLetterFrom": {
                                  "type": "string",
                                  "description": "Houseletter From",
                                  "title": "Houseletter From"
                                },
                                "houseLetterTo": {
                                  "type": "string",
                                  "description": "Houseletter To",
                                  "title": "Houseletter To"
                                },
                                "floor": {
                                  "type": "string",
                                  "description": "Floor",
                                  "title": "Floor"
                                },
                                "sideDoor": {
                                  "type": "string",
                                  "description": "e.g. th",
                                  "title": "Side Door"
                                },
                                "postalCode": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Postal code",
                                  "title": "Postal Code"
                                },
                                "postalDistrict": {
                                  "type": "string",
                                  "description": "Postal District",
                                  "title": "Postal District"
                                },
                                "cityName": {
                                  "type": "string",
                                  "description": "Name of the city (Can be empty, use 'postalDistrict' as fallback)",
                                  "title": "City"
                                },
                                "municipality": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "The name of the municipality, e.g. 'ODENSE'",
                                      "title": "Name"
                                    },
                                    "code": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The Municipality Code, e.g. 101",
                                      "title": "Code"
                                    }
                                  },
                                  "description": "(OBJECT) Municipality",
                                  "title": "Municipality"
                                },
                                "coName": {
                                  "type": "string",
                                  "description": "C/O Name",
                                  "title": "C/O Name"
                                },
                                "postalBox": {
                                  "type": "string",
                                  "description": "The PO Box",
                                  "title": "Postalbox"
                                },
                                "freeText": {
                                  "type": "string",
                                  "description": "Free text, usually a non-Danish address",
                                  "title": "Freetext"
                                },
                                "countryCode": {
                                  "type": "string",
                                  "description": "Country Code, e.g. DK",
                                  "title": "Country Code"
                                }
                              },
                              "description": "(OBJECT) Production Unit Address",
                              "title": "Address"
                            },
                            "industry": {
                              "type": "object",
                              "properties": {
                                "text": {
                                  "type": "string",
                                  "description": "Industry Text, e.g. 'Softwareudvikling'",
                                  "title": "Text"
                                },
                                "code": {
                                  "type": "string",
                                  "description": "Code of the industry, e.g. 642020",
                                  "title": "Code"
                                }
                              },
                              "description": "(OBJECT) Industry",
                              "title": "Industry"
                            },
                            "altIndustry1": {
                              "type": "object",
                              "properties": {
                                "text": {
                                  "type": "string",
                                  "description": "Industry Text, e.g. 'Softwareudvikling'",
                                  "title": "Text"
                                },
                                "code": {
                                  "type": "string",
                                  "description": "Code of the industry, e.g. 642020",
                                  "title": "Code"
                                }
                              },
                              "description": "(OBJECT) Alternate Industry 1",
                              "title": "Alternate Industry 1"
                            },
                            "altIndustry2": {
                              "type": "object",
                              "properties": {
                                "text": {
                                  "type": "string",
                                  "description": "Industry Text, e.g. 'Softwareudvikling'",
                                  "title": "Text"
                                },
                                "code": {
                                  "type": "string",
                                  "description": "Code of the industry, e.g. 642020",
                                  "title": "Code"
                                }
                              },
                              "description": "(OBJECT) Alternate Industry 2",
                              "title": "Alternate Industry 2"
                            },
                            "altIndustry3": {
                              "type": "object",
                              "properties": {
                                "text": {
                                  "type": "string",
                                  "description": "Industry Text, e.g. 'Softwareudvikling'",
                                  "title": "Text"
                                },
                                "code": {
                                  "type": "string",
                                  "description": "Code of the industry, e.g. 642020",
                                  "title": "Code"
                                }
                              },
                              "description": "(OBJECT) Alternate Industry 3",
                              "title": "Alternate Industry 3"
                            },
                            "employees": {
                              "type": "object",
                              "properties": {
                                "count": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Exact amount of employees",
                                  "title": "Count"
                                },
                                "fullTimeEquivalentCount": {
                                  "type": "number",
                                  "format": "double",
                                  "description": "The full time equivalent count of workers",
                                  "title": "Full Time Equivalent"
                                },
                                "interval": {
                                  "type": "string",
                                  "description": "Interval the count falls into, e.g. 20-49",
                                  "title": "Interval"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Monthly/Quarterly/Yearly",
                                  "title": "Type"
                                },
                                "month": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The month of the year the data is from",
                                  "title": "Month"
                                },
                                "year": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The year the data is from",
                                  "title": "Year"
                                }
                              },
                              "description": "(OBJECT) Information on Employees",
                              "title": "Employees"
                            },
                            "lastUpdated": {
                              "type": "string",
                              "description": "Last time the data was updated",
                              "title": "Last Updated"
                            }
                          }
                      }
                    }
                },          
                "404": {
                    "description": "Company not Found",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "errorMessage": {
                          "type": "string",
                          "description": "errorMessage",
                          "title": "Error Message"
                        },
                        "httpStatusCode": {
                          "type": "integer",
                          "format": "int32",
                          "description": "httpStatusCode",
                          "title": "Http Status Code"
                        },
                        "errorCode": {
                          "type": "integer",
                          "format": "int32",
                          "description": "errorCode",
                          "title": "Error Code"
                        }
                      }
                    }
                }
            },
            "summary": "Get ProductionUnit information from CVR number",
            "operationId": "RelatedProductionUnits",
            "description": "Gets information about Production Units related to a Company.",
            "parameters": [
              {
                "name": "CVR Number",
                "in": "path",
                "required": true,
                "type": "integer",
                "description": "CVR Number of the company.",
                "x-ms-summary": "CVR Number",
                "format": "int32"
              },
            {
                "name": "sameaddress",
                "in": "query",
                "required": false,
                "type": "boolean",
                "description": "Same address as Company? Leave empty to retrieve all",
                "x-ms-summary": "Same Address",
              }
            ]
          }
        },
    "/CVR-1-{CVR Number}/reports/latest": {
      "get": {
        "responses": {
          "200": {
            "description": "Report found",
            "schema": {
              "type": "object",
              "properties": {
                "cvr": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CVR Number",
                  "title": "CVR"
                },
                "reportType": {
                  "type": "string",
                  "description": "Report Type (Yearly, Quarterly, HalfYearly, Other)",
                  "title": "Type"
                },
                "period": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "from"
                    },
                    "to": {
                      "type": "string",
                      "description": "to"
                    },
                    "instant": {
                      "type": "string",
                      "description": "instant"
                    }
                  },
                  "description": "(OBJECT) The period the report is about",
                  "title": "Period"
                },
                "publicationTime": {
                  "type": "string",
                  "description": "Publication Time (Date)",
                  "title": "Publication Time"
                },
                "reportUrl": {
                  "type": "string",
                  "description": "A link to the report",
                  "title": "Link"
                },
                "xbrlUrl": {
                  "type": "string",
                  "description": "A link to the XBRL of the report",
                  "title": "XBRL Link"
                },
                "reportYear": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The year the report is about",
                  "title": "Year"
                },
                "currencies": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "A currency, e.g. DKK",
                    "title": "Currency"
                  },
                  "description": "(LIST) A list of currencies used in the report",
                  "title": "Currencies"
                },
                "administrativeExpenses": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Administrative Expenses",
                  "title": "Administrative Expenses"
                },
                "assets": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Assets",
                  "title": "Assets"
                },
                "auditors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "companyName": {
                        "type": "string",
                        "description": "Name of the auditors company",
                        "title": "Company Name"
                      },
                      "companyCVR": {
                        "type": "integer",
                        "format": "int32",
                        "description": "CVR Of the auditors number",
                        "title": "Company CVR"
                      },
                      "id": {
                        "type": "string",
                        "description": "MNE Number of the auditor.",
                        "title": "Id"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the auditor",
                        "title": "Name"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title of the auditor",
                        "title": "Title"
                      }
                    },
                    "description": "(OBJECT) Auditor",
                    "title": "Auditor"
                  },
                  "description": "(LIST) Auditors",
                  "title": "Auditors"
                },
                "bankCVR": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "int32",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Related Bank CVR",
                  "title": "Bank CVR"
                },
                "bankName": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "string",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Related Bank Name",
                  "title": "Bank Name"
                },
                "capital": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Registered Capital",
                  "title": "Capital"
                },
                "cashHoldings": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Cash Holdings",
                  "title": "Cash Holdings"
                },
                "classOfReportingEntity": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "string",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Class of reporting entity",
                  "title": "Class of Reporting Entity"
                },
                "coverage": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Coverage",
                  "title": "Coverage"
                },
                "currentAssets": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Current assets",
                  "title": "Current Assets"
                },
                "debt": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Debt",
                  "title": "Debt"
                },
                "deferredTaxAssets": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Deferred Tax Assets",
                  "title": "Deferred Tax Assets"
                },
                "depreciations": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Depreciations",
                  "title": "Depreciations"
                },
                "descriptionOfQualifications": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "string",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Description of Qualifications",
                  "title": "Description of Qualifications"
                },
                "dividend": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Dividend",
                  "title": "Dividend"
                },
                "ebitda": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) EBITDA",
                  "title": "EBITDA"
                },
                "employeeExpenses": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Employee Expenses",
                  "title": "Employee Expenses"
                },
                "employees": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Employees",
                  "title": "Employees"
                },
                "equity": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Equity",
                  "title": "Equity"
                },
                "equityLoan": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Equity Loan",
                  "title": "Equity Loan"
                },
                "equityReturn": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Equity Return",
                  "title": "Equity Return"
                },
                "externalExpenses": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) External Expenses",
                  "title": "External Expenses"
                },
                "financialFixedAssets": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Financial Fixed Assets",
                  "title": "Financial Fixed Assets"
                },
                "goingConcern": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "string",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Information related to Going Concern",
                  "title": "Going Concern"
                },
                "grossResult": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Gross Result",
                  "title": "Gross Result"
                },
                "intangibleFixedAssets": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Intangible Fixed Assets",
                  "title": "Intangible Fixed Assets"
                },
                "inventories": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Inventories",
                  "title": "Inventories"
                },
                "landAndBuildings": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Land and Buildings",
                  "title": "Land And Buildings"
                },
                "liabilitiesAndEquity": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Liabilities and Equity",
                  "title": "Liabilities and Equity"
                },
                "liquidityRatio": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Liquidity Ratio",
                  "title": "Liquidity Ratio"
                },
                "longtermInvestmentsInAssociates": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Longterm Investments in associcates",
                  "title": "Longterm Investments in Associates"
                },
                "longtermInvestmentsInGroupEnterprises": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Longterm Investments in Group Enterprises",
                  "title": "Longterm Investments in Group Enterprises"
                },
                "longtermLiabilities": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Longterm Liabilities",
                  "title": "Longterm Liabilities"
                },
                "managementsReview": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "string",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Managements Review",
                  "title": "Managements Review"
                },
                "nonCurrentAssets": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Non-Current Assets",
                  "title": "Non-Current Assets"
                },
                "operatingMargin": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Operating Margin",
                  "title": "Operating Margin"
                },
                "opinionOnFinancialStatements": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "string",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Opinion on Financial Statements",
                  "title": "Opinion on Financial Statements"
                },
                "otherFinanceExpenses": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
                    "possibleError": {
                      "type": "boolean",
                      "description": "Whether there is there a potential error in the data",
                      "title": "Possible Error"
                    },
                    "error": {
                      "type": "boolean",
                      "description": "Whether there is an error in the data",
                      "title": "Error"
                    }
                  },
                  "description": "(OBJECT) Other Finance Expenses",
                  "title": "Other Finance Expenses"
                },
                "otherFinanceIncome": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "Unit of the value, e.g. DKK or Percentage",
                      "title": "Unit"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The value of the key figure",
                      "title": "Value"
                    },
[...]
