{
  "swagger": "2.0",
  "info": {
    "title": "Quickbase",
    "description": "Quickbase is an application development platform that unites business and IT teams by enabling problem solvers of any technical background to work together to safely, securely and sustainably create an ecosystem of applications. Quickbase helps businesses accelerate the continuous innovation of unique processes by enabling citizen development at scale across one common platform.",
    "version": "1.1",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.quickbase.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/apps": {
      "post": {
        "description": "Creates an application in an account. You must have application creation rights in the respective account. Main properties and application variables can be set with this API.",
        "summary": "Create an app",
        "tags": [
          "Apps"
        ],
        "operationId": "CreateApp",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generated",
            "in": "body",
            "required": false,
            "description": "The properties needed to create an application.",
            "schema": {
              "$ref": "#/definitions/generated"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/createAppResponse"
            }
          }
        }
      }
    },
    "/apps/{appId}": {
      "get": {
        "description": "Returns the main properties of an application, including application variables.",
        "summary": "Get an app",
        "tags": [
          "Apps"
        ],
        "operationId": "GetApp",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The unique identifier of an app."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/getAppResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes an entire application, including all of the tables and data.",
        "summary": "Delete an app",
        "tags": [
          "Apps"
        ],
        "operationId": "DeleteApp",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generated",
            "in": "body",
            "required": false,
            "description": "The properties needed to delete an application.",
            "schema": {
              "$ref": "#/definitions/generated2"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The unique identifier of an app."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/deleteAppResponse"
            }
          }
        }
      },
      "post": {
        "description": "Updates the main properties and/or application variables for a specific application. Any properties of the app that you do not specify in the request body will remain unchanged.",
        "summary": "Update an app",
        "tags": [
          "Apps"
        ],
        "operationId": "UpdateApp",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generated",
            "in": "body",
            "required": false,
            "description": "The properties needed to update an application.",
            "schema": {
              "$ref": "#/definitions/generated1"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The unique identifier of an app."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/updateAppResponse"
            }
          }
        }
      }
    },
    "/apps/{appId}/events": {
      "get": {
        "description": "Get a list of events that can be triggered based on data or user actions in this application, includes: Email notification, Reminders, Subscriptions, QB Actions, Webhooks, record change triggered Automations (does not include scheduled).",
        "summary": "Get app events",
        "tags": [
          "Apps"
        ],
        "operationId": "GetAppEvents",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The unique identifier of an app."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "The type.",
                    "title": "Type"
                  },
                  "owner": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "The owner's email address.",
                        "title": "Email"
                      },
                      "id": {
                        "type": "string",
                        "description": "The owner's identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The owner's name.",
                        "title": "Name"
                      },
                      "userName": {
                        "type": "string",
                        "description": "The owner's user name.",
                        "title": "User Name"
                      }
                    },
                    "title": "Owner"
                  },
                  "isActive": {
                    "type": "boolean",
                    "description": "Whether is active.",
                    "title": "Is Active"
                  },
                  "tableId": {
                    "type": "string",
                    "description": "The identifier of the table.",
                    "title": "Table ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL address.",
                    "title": "URL"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/copy": {
      "post": {
        "description": "Copies the specified application. The new application will have the same schema as the original. See below for additional copy options.",
        "summary": "Copy an app",
        "tags": [
          "Apps"
        ],
        "operationId": "CopyApp",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generated",
            "in": "body",
            "required": false,
            "description": "The properties needed to copy an application.",
            "schema": {
              "$ref": "#/definitions/generated3"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The unique identifier of an app."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/copyAppResponse"
            }
          }
        }
      }
    },
    "/tables": {
      "get": {
        "description": "Gets a list of all the tables that exist in a specific application. The properties for each table are the same as what is returned in Get table.",
        "summary": "Get tables for an app",
        "tags": [
          "Tables"
        ],
        "operationId": "GetAppTables",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "x-ms-summary": "App ID",
            "required": true,
            "type": "string",
            "description": "The unique identifier of an app"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "created": {
                    "type": "string",
                    "description": "When created.",
                    "title": "Created"
                  },
                  "updated": {
                    "type": "string",
                    "description": "When updated.",
                    "title": "Updated"
                  },
                  "alias": {
                    "type": "string",
                    "description": "The alias.",
                    "title": "Alias"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description.",
                    "title": "Description"
                  },
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "nextRecordId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier of the next record.",
                    "title": "Next Record ID"
                  },
                  "nextFieldId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier of the next field.",
                    "title": "Next Field ID"
                  },
                  "defaultSortFieldId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier of the default sort field.",
                    "title": "Default Sort Field ID"
                  },
                  "defaultSortOrder": {
                    "type": "string",
                    "description": "The default sort order.",
                    "title": "Default Sort Order"
                  },
                  "keyFieldId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier of the key field.",
                    "title": "Key Field ID"
                  },
                  "singleRecordName": {
                    "type": "string",
                    "description": "The single record name.",
                    "title": "Single Record Name"
                  },
                  "pluralRecordName": {
                    "type": "string",
                    "description": "The plural record name.",
                    "title": "Plural Record Name"
                  },
                  "sizeLimit": {
                    "type": "string",
                    "description": "The size limit.",
                    "title": "Size Limit"
                  },
                  "spaceUsed": {
                    "type": "string",
                    "description": "The used space.",
                    "title": "Space Used"
                  },
                  "spaceRemaining": {
                    "type": "string",
                    "description": "The remaining space.",
                    "title": "Space Remaining"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a table in an application.",
        "summary": "Create a table",
        "tags": [
          "Tables"
        ],
        "operationId": "CreateTable",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "x-ms-summary": "App ID",
            "required": true,
            "type": "string",
            "description": "The unique identifier of an app"
          },
          {
            "name": "generated",
            "in": "body",
            "required": false,
            "description": "The properties needed to create a table.",
            "schema": {
              "$ref": "#/definitions/generated4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/createTableResponse"
            }
          }
        }
      }
    },
    "/tables/{tableId}": {
      "get": {
        "description": "Gets the properties of an individual table that is part of an application.",
        "summary": "Get a table",
        "tags": [
          "Tables"
        ],
        "operationId": "GetTable",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "x-ms-summary": "App ID",
            "required": true,
            "type": "string",
            "description": "The unique identifier of an app"
          },
          {
            "name": "tableId",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The unique identifier (DBID) of the table."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/getTableResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a specific table in an application, including all of the data within it.",
        "summary": "Delete a table",
        "tags": [
          "Tables"
        ],
        "operationId": "DeleteTable",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "x-ms-summary": "App ID",
            "required": true,
            "type": "string",
            "description": "The unique identifier of an app"
          },
          {
            "name": "tableId",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The unique identifier (DBID) of the table."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/deleteTableResponse"
            }
          }
        }
      },
      "post": {
        "description": "Updates the main properties of a specific table. Any properties of the table that you do not specify in the request body will remain unchanged.",
        "summary": "Update a table",
        "tags": [
          "Tables"
        ],
        "operationId": "UpdateTable",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "x-ms-summary": "App ID",
            "required": true,
            "type": "string",
            "description": "The unique identifier of an app"
          },
          {
            "name": "generated",
            "in": "body",
            "required": false,
            "description": "The properties needed to update a table.",
            "schema": {
              "$ref": "#/definitions/generated5"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The unique identifier (DBID) of the table."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/updateTableResponse"
            }
          }
        }
      }
    },
    "/tables/{tableId}/relationships": {
      "get": {
        "description": "Get a list of all relationships, and their definitions, for a specific table. Details are provided for both the parent and child sides of relationships within a given application. Limited details are returned for cross-application relationships.",
        "summary": "Get all relationships",
        "tags": [
          "Tables"
        ],
        "operationId": "GetRelationships",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The number of relationships to skip."
          },
          {
            "name": "tableId",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The unique identifier (DBID) of the table."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/getRelationshipsResponse"
            }
          }
        }
      }
    },
    "/tables/{tableId}/relationship": {
      "post": {
        "description": "Creates a relationship in a table as well as lookup/summary fields. Relationships can only be created for tables within the same app.",
        "summary": "Create a relationship",
        "tags": [
          "Tables"
        ],
        "operationId": "CreateRelationship",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generated",
            "in": "body",
            "required": false,
            "description": "The properties needed to create a relation in a table.",
            "schema": {
              "$ref": "#/definitions/generated6"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The unique identifier (DBID) of the table. This will be the child table."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/createRelationshipResponse"
            }
          }
        }
      }
    },
    "/tables/{tableId}/relationship/{relationshipId}": {
      "delete": {
        "description": "Use this endpoint to delete an entire relationship, including all lookup and summary fields. The reference field in the relationship will not be deleted.",
        "summary": "Delete a relationship",
        "tags": [
          "Tables"
        ],
        "operationId": "DeleteRelationship",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The unique identifier (DBID) of the table. This will be the child table."
          },
          {
            "name": "relationshipId",
            "in": "path",
            "x-ms-summary": "Relationship ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "The relationship ID. This is the field ID of the reference field on the child table."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/deleteRelationshipResponse"
            }
          }
        }
      },
      "post": {
        "description": "Use this endpoint to add lookup fields and summary fields to an existing relationship. Updating a relationship will not delete existing lookup/summary fields.",
        "summary": "Update a relationship",
        "tags": [
          "Tables"
        ],
        "operationId": "UpdateRelationship",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generated",
            "in": "body",
            "required": false,
            "description": "The properties needed to update a relationship.",
            "schema": {
              "$ref": "#/definitions/generated7"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The unique identifier (DBID) of the table. This will be the child table."
          },
          {
            "name": "relationshipId",
            "in": "path",
            "x-ms-summary": "Relationship ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "The relationship ID. This is the field ID of the reference field on the child table."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/updateRelationshipResponse"
            }
          }
        }
      }
    },
    "/reports": {
      "get": {
        "description": "Get the schema (properties) of all reports for a table. If the user running the API is an application administrator, the API will also return all personal reports with owner's user id.",
        "summary": "Get all table reports",
        "tags": [
          "Reports"
        ],
        "operationId": "GetTableReports",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "query",
            "x-ms-summary": "Table ID",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the table."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type.",
                    "title": "Type"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description.",
                    "title": "Description"
                  },
                  "ownerId": {
                    "type": "string",
                    "description": "The identifier of the owner.",
                    "title": "Owner ID"
                  },
                  "query": {
                    "type": "object",
                    "properties": {},
                    "description": "The query object.",
                    "title": "Query"
                  },
                  "properties": {
                    "type": "object",
                    "properties": {},
                    "description": "The properties object",
                    "title": "Properties"
                  },
                  "usedLast": {
                    "type": "string",
                    "description": "When used last.",
                    "title": "Used Last"
                  },
                  "usedCount": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The used count.",
                    "title": "Used Count"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports/{reportId}": {
      "get": {
        "description": "Get the schema (properties) of an individual report.",
        "summary": "Get a report",
        "tags": [
          "Reports"
        ],
        "operationId": "GetReport",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "query",
            "x-ms-summary": "Table ID",
            "required": true,
            "type": "string",
            "description": "The unique identifier of table."
          },
          {
            "name": "reportId",
            "in": "path",
            "x-ms-summary": "Report ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The identifier of the report, unique to the table."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/getReportResponse"
            }
          }
        }
      }
    },
    "/reports/{reportId}/run": {
      "post": {
        "description": "Runs a report, based on an ID and returns the underlying data associated with it. The format of the data will vary based on the report type. Reports that focus on record-level data (table, calendar, etc.) return the individual records. Aggregate reports (summary, chart) will return the summarized information as configured in the report. UI-specific elements are not returned, such as totals, averages and visualizations. Returns data with intelligent pagination based on the approximate size of each record. The metadata object will include the necessary information to iterate over the response and gather more data.",
        "summary": "Run a report",
        "tags": [
          "Reports"
        ],
        "operationId": "RunReport",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "query",
            "x-ms-summary": "Table ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the table for the report."
          },
          {
            "name": "skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The number of records to skip. You can set this value when paginating through a set of results."
          },
          {
            "name": "top",
            "in": "query",
            "x-ms-summary": "Top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of records to return. You can override the default Quickbase pagination to get more or fewer results. If your requested value here exceeds the dynamic maximums, we will return a subset of results and the rest can be gathered in subsequent API calls."
          },
          {
            "name": "generated",
            "in": "body",
            "required": false,
            "description": "The properties needed to run a report.",
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "reportId",
            "in": "path",
            "x-ms-summary": "Report ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The identifier of the report, unique to the table."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/runReportResponse"
            }
          }
        }
      }
    },
    "/fields": {
      "get": {
        "description": "Gets the properties for all fields in a specific table. The properties for each field are the same as in Get field.",
        "summary": "Get fields for a table",
        "tags": [
          "Fields"
        ],
        "operationId": "GetFields",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "query",
            "x-ms-summary": "Table ID",
            "required": true,
            "type": "string",
            "description": "The unique identifier (DBID) of the table."
          },
          {
            "name": "includeFieldPerms",
            "in": "query",
            "x-ms-summary": "Include Field Permissions",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Set to 'true' if you'd like to get back the custom permissions for the field(s)."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "label": {
                    "type": "string",
                    "description": "The label.",
                    "title": "Label"
                  },
                  "fieldType": {
                    "type": "string",
                    "description": "The field type.",
                    "title": "Field Type"
                  },
                  "noWrap": {
                    "type": "boolean",
                    "description": "Whether there is no wrap.",
                    "title": "No Wrap"
                  },
                  "bold": {
                    "type": "boolean",
                    "description": "Whether bold.",
                    "title": "Bold"
                  },
                  "required": {
                    "type": "boolean",
                    "description": "Whether required.",
                    "title": "Required"
                  },
                  "appearsByDefault": {
                    "type": "boolean",
                    "description": "Whether appears by default.",
                    "title": "Appears By Default"
                  },
                  "findEnabled": {
                    "type": "boolean",
                    "description": "Whether find is enabled.",
                    "title": "Find Enabled"
                  },
                  "unique": {
                    "type": "boolean",
                    "description": "Whether unique.",
                    "title": "Unique"
                  },
                  "doesDataCopy": {
                    "type": "boolean",
                    "description": "Whether does data copy.",
                    "title": "Does Data Copy"
                  },
                  "fieldHelp": {
                    "type": "string",
                    "description": "The field help.",
                    "title": "Field Help"
                  },
                  "audited": {
                    "type": "boolean",
                    "description": "Whether audited.",
                    "title": "Audited"
                  },
                  "properties": {
                    "type": "object",
                    "properties": {
                      "primaryKey": {
                        "type": "boolean",
                        "description": "Whether the primary key.",
                        "title": "Primary Key"
                      },
                      "foreignKey": {
                        "type": "boolean",
                        "description": "Whether the foreign key.",
                        "title": "Foreign Key"
                      },
                      "numLines": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of lines.",
                        "title": "Num Lines"
                      },
                      "maxLength": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum length.",
                        "title": "Max Length"
                      },
                      "appendOnly": {
                        "type": "boolean",
                        "description": "Whether append only.",
                        "title": "Append Only"
                      },
                      "allowHTML": {
                        "type": "boolean",
                        "description": "Whether to allow HTML.",
                        "title": "allowHTML"
                      },
                      "sortAsGiven": {
                        "type": "boolean",
                        "description": "Whether sort as given.",
                        "title": "Sort As Given"
                      },
                      "carryChoices": {
                        "type": "boolean",
                        "description": "Whether to carry choices.",
                        "title": "Carry Choices"
                      },
                      "allowNewChoices": {
                        "type": "boolean",
                        "description": "Whether to allow new choices.",
                        "title": "Allow New Choices"
                      },
                      "formula": {
                        "type": "string",
                        "description": "The formula.",
                        "title": "Formula"
                      },
                      "defaultValue": {
                        "type": "string",
                        "description": "The default value.",
                        "title": "Default Value"
                      },
                      "numberFormat": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number format.",
                        "title": "Number Format"
                      },
                      "decimalPlaces": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The decimal places.",
                        "title": "Decimal Places"
                      },
                      "doesAverage": {
                        "type": "boolean",
                        "description": "Whether does average.",
                        "title": "Does Average"
                      },
                      "doesTotal": {
                        "type": "boolean",
                        "description": "Whether does total.",
                        "title": "Does Total"
                      },
                      "blankIsZero": {
                        "type": "boolean",
                        "description": "Whether blank is zero.",
                        "title": "Blank Is Zero"
                      }
                    },
                    "title": "Properties"
                  },
                  "permissions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "permissionType": {
                          "type": "string",
                          "description": "The permission type.",
                          "title": "Permission Type"
                        },
                        "role": {
                          "type": "string",
                          "description": "The role.",
                          "title": "Role"
                        },
                        "roleId": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The identifier of the role.",
                          "title": "Role ID"
                        }
                      }
                    },
                    "title": "Permissions"
                  },
                  "addToForms": {
                    "type": "boolean",
                    "description": "Whether to add to forms.",
                    "title": "Add To Forms"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes one or many fields in a table, based on field id. This will also permanently delete any data or calculations in that field.",
        "summary": "Delete fields",
        "tags": [
          "Fields"
        ],
        "operationId": "DeleteFields",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "query",
            "x-ms-summary": "Table ID",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the table."
          },
          {
            "name": "generated",
            "in": "body",
            "required": false,
            "description": "The properties needed to delete fields in a table.",
            "schema": {
              "$ref": "#/definitions/generated9"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/deleteFieldsResponse"
            }
          }
        }
      },
      "post": {
        "description": "Creates a field within a table, including the custom permissions of that field.",
        "summary": "Create a field",
        "tags": [
          "Fields"
        ],
        "operationId": "CreateField",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "query",
            "x-ms-summary": "Table ID",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the table."
          },
          {
            "name": "generated",
            "in": "body",
            "required": false,
            "description": "The properties needed to create a field in a table.",
            "schema": {
              "$ref": "#/definitions/generated8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/createFieldResponse"
            }
          }
        }
      }
    },
    "/fields/{fieldId}": {
      "get": {
        "description": "Gets the properties of an individual field, based on field id.  \nProperties present on all field types are returned at the top level. Properties unique to a specific type of field are returned under the 'properties' attribute. Please see [Field types page](../fieldInfo) for more details on the properties for each field type.",
        "summary": "Get field",
        "tags": [
          "Fields"
        ],
        "operationId": "GetField",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "query",
            "x-ms-summary": "Table ID",
            "required": true,
            "type": "string",
            "description": "The unique identifier (DBID) of the table."
          },
          {
            "name": "includeFieldPerms",
            "in": "query",
            "x-ms-summary": "Include Field Permissions",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Set to 'true' if you'd like to get back the custom permissions for the field(s)."
          },
          {
            "name": "fieldId",
            "in": "path",
            "x-ms-summary": "Field ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The unique identifier (FID) of the field."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/getFieldResponse"
            }
          }
        }
      },
      "post": {
        "description": "Updates the properties and custom permissions of a field. The attempt to update certain properties might cause existing data to no longer obey the field\u2019s new properties and may be rejected. See the descriptions of required, unique, and choices, below, for specific situations. Any properties of the field that you do not specify in the request body will remain unchanged.",
        "summary": "Update a field",
        "tags": [
          "Fields"
        ],
        "operationId": "UpdateField",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "query",
            "x-ms-summary": "Table ID",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the table."
          },
          {
            "name": "generated",
            "in": "body",
            "required": false,
            "description": "The properties needed to update a field in a table.",
            "schema": {
              "$ref": "#/definitions/generated10"
            }
          },
          {
            "name": "fieldId",
            "in": "path",
            "x-ms-summary": "Field ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The unique identifier (FID) of the field."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/updateFieldResponse"
            }
          }
        }
      }
    },
    "/fields/usage": {
      "get": {
        "description": "Get all the field usage statistics for a table. This is a summary of the information that can be found in the usage table of field properties.",
        "summary": "Get usage for all fields",
        "tags": [
          "Fields"
        ],
        "operationId": "GetFieldsUsage",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "query",
            "x-ms-summary": "Table ID",
            "required": true,
            "type": "string",
            "description": "The unique identifier (DBID) of the table."
          },
          {
            "name": "skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The number of fields to skip from the list."
          },
          {
            "name": "top",
            "in": "query",
            "x-ms-summary": "Top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of fields to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "field": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      }
                    },
                    "title": "Field"
                  },
                  "usage": {
                    "type": "object",
                    "properties": {
                      "actions": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Actions"
                      },
                      "appHomePages": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "App Home Pages"
                      },
                      "defaultReports": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Default Reports"
                      },
                      "exactForms": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Exact Forms"
                      },
                      "fields": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Fields"
                      },
                      "forms": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Forms"
                      },
                      "notifications": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Notifications"
                      },
                      "personalReports": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Personal Reports"
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Relationships"
                      },
                      "reminders": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Reminders"
                      },
                      "reports": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Reports"
                      },
                      "roles": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Roles"
                      },
                      "webhooks": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Webhooks"
                      }
                    },
                    "title": "Usage"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fields/usage/{fieldId}": {
      "get": {
        "description": "Get a single fields usage statistics. This is a summary of the information that can be found in the usage table of field properties.",
        "summary": "Get a field usage",
        "tags": [
          "Fields"
        ],
        "operationId": "GetFieldUsage",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "query",
            "x-ms-summary": "Table ID",
            "required": true,
            "type": "string",
            "description": "The unique identifier (DBID) of the table."
          },
          {
            "name": "fieldId",
            "in": "path",
            "x-ms-summary": "Field ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The unique identifier (FID) of the field."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "field": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      }
                    },
                    "title": "Field"
                  },
                  "usage": {
                    "type": "object",
                    "properties": {
                      "actions": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Actions"
                      },
                      "appHomePages": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "App Home Pages"
                      },
                      "defaultReports": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Default Reports"
                      },
                      "exactForms": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Exact Forms"
                      },
                      "fields": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Fields"
                      },
                      "forms": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Forms"
                      },
                      "notifications": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Notifications"
                      },
                      "personalReports": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Personal Reports"
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Relationships"
                      },
                      "reminders": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Reminders"
                      },
                      "reports": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Reports"
                      },
                      "roles": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Roles"
                      },
                      "webhooks": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          }
                        },
                        "title": "Webhooks"
                      }
                    },
                    "title": "Usage"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/formula/run": {
      "post": {
        "description": "Allows running a formula via an API call. Use this method in custom code to get the value back of a formula without a discrete field on a record.",
        "summary": "Run a formula",
        "tags": [
          "Formulas"
        ],
        "operationId": "RunFormula",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generated",
            "in": "body",
            "required": false,
            "description": "The properties needed to run a formula.",
            "schema": {
              "$ref": "#/definitions/generated11"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/runFormulaResponse"
            }
          }
        }
      }
    },
    "/records": {
      "delete": {
        "description": "Deletes record(s) in a table based on a query. Alternatively, all records in the table can be deleted.",
        "summary": "Delete records",
        "tags": [
          "Records"
        ],
        "operationId": "DeleteRecords",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generated",
            "in": "body",
            "required": false,
            "description": "The properties needed to delete records in a table.",
            "schema": {
              "$ref": "#/definitions/generated13"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful delete records response.",
            "schema": {
              "$ref": "#/definitions/deleteRecordsResponse"
            }
          }
        }
      },
      "post": {
        "description": "Insert and/or update record(s) in a table. In this single API call, inserts and updates can be submitted. Update can use the key field on the table, or any other supported unique field. Refer to the [Field types page](../fieldInfo) for more information about how each field type should be formatted. This operation allows for incremental processing of successful records, even when some of the records fail.  \n**Note:** This endpoint supports a maximum payload size of 10MB.",
        "summary": "Insert andor update records",
        "tags": [
          "Records"
        ],
        "operationId": "UpsertRecords",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generated",
            "in": "body",
            "required": false,
            "description": "The properties needed to insert/update records in a table.",
            "schema": {
              "$ref": "#/definitions/generated12"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/upsertResponse"
            }
          },
          "207": {
            "description": "Multi-status.",
            "schema": {
              "$ref": "#/definitions/upsertResponse1"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/upsertException1"
            }
          }
        }
      }
    },
    "/records/query": {
      "post": {
        "description": "Pass in a query in the [Quickbase query language](https://help.quickbase.com/api-guide/componentsquery.html). Returns record data with [intelligent pagination](../pagination) based on the approximate size of each record. The metadata object will include the necessary information to iterate over the response and gather more data.",
        "summary": "Query for data",
        "tags": [
          "Records"
        ],
        "operationId": "RunQuery",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generated",
            "in": "body",
            "required": false,
            "description": "The properties needed to run a query.",
            "schema": {
              "$ref": "#/definitions/generated14"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/runQueryResponse"
            }
          }
        }
      }
    },
    "/auth/temporary/{dbid}": {
      "get": {
        "description": "Use this endpoint to get a temporary authorization token, scoped to either an app or a table. You can then use this token to make other API calls (see [authorization](../auth)).  This token expires in 5 minutes.",
        "summary": "Get a temporary token for a DBID",
        "tags": [
          "Auth"
        ],
        "operationId": "GetTempTokenDBID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "QB-App-Token",
            "in": "header",
            "x-ms-summary": "App Token",
            "x-ms-url-encoding": "single",
            "required": false,
            "type": "string",
            "description": "Your Quickbase app token"
          },
          {
            "name": "dbid",
            "in": "path",
            "x-ms-summary": "DBID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The unique identifier of an app or table."
          }
        ],
        "responses": {
          "200": {
            "description": "This token is used in the authorization header value (similar to the QB-USER-TOKEN), except it uses the QB-TEMP-TOKEN prefix header['Authorization'] = 'QB-TEMP-TOKEN {token}'",
            "schema": {
              "$ref": "#/definitions/getTempTokenDBIDResponse"
            }
          }
        }
      }
    },
    "/usertoken/clone": {
      "post": {
        "description": "Clones the authenticated user token. All applications associated with that token are automatically associated with the new token.",
        "summary": "Clone a user token",
        "tags": [
          "UserToken"
        ],
        "operationId": "CloneUserToken",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generated",
            "in": "body",
            "required": false,
            "description": "The properties needed to clone token.",
            "schema": {
              "$ref": "#/definitions/generated15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/cloneUserTokenResponse"
            }
          }
        }
      }
    },
    "/usertoken/deactivate": {
      "post": {
        "description": "Deactivates the authenticated user token. Once this is done, the user token must be reactivated in the user interface.",
        "summary": "Deactivate a user token",
        "tags": [
          "UserToken"
        ],
        "operationId": "DeactivateUserToken",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                }
              }
            }
          }
        }
      }
    },
    "/usertoken": {
      "delete": {
        "description": "Deletes the authenticated user token. This is not reversible.",
        "summary": "Delete a user token",
        "tags": [
          "UserToken"
        ],
        "operationId": "DeleteUserToken",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/deleteUserTokenResponse"
            }
          }
        }
      }
    },
    "/files/{tableId}/{recordId}/{fieldId}/{versionNumber}": {
      "get": {
        "description": "Downloads the file attachment, with the file attachment content encoded in base64 format. The API response returns the file name in the `Content-Disposition` header. Meta-data about files can be retrieved from the /records and /reports endpoints, where applicable. Use those endpoints to get the necessary information to fetch files.",
        "summary": "Download an attachment",
        "tags": [
          "Files"
        ],
        "operationId": "DownloadFile",
        "deprecated": false,
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the table."
          },
          {
            "name": "recordId",
            "in": "path",
            "x-ms-summary": "Record ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The unique identifier of the record."
          },
          {
            "name": "fieldId",
            "in": "path",
            "x-ms-summary": "Field ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The unique identifier of the field."
          },
          {
            "name": "versionNumber",
            "in": "path",
            "x-ms-summary": "Version Number",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The file attachment version number."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes one file attachment version. Meta-data about files can be retrieved from the /records and /reports endpoints, where applicable. Use those endpoints to get the necessary information to delete file versions.",
        "summary": "Delete an attachment",
        "tags": [
          "Files"
        ],
        "operationId": "DeleteFile",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "x-ms-summary": "Table ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the table."
          },
          {
            "name": "recordId",
            "in": "path",
            "x-ms-summary": "Record ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The unique identifier of the record."
          },
          {
            "name": "fieldId",
            "in": "path",
            "x-ms-summary": "Field ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The unique identifier of the field."
          },
          {
            "name": "versionNumber",
            "in": "path",
            "x-ms-summary": "Version Number",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The file attachment version number."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully Deleted the File Attachment",
            "schema": {
              "$ref": "#/definitions/deleteFileResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "generated": {
      "title": "Generated",
      "description": "The example below shows all the properties that can be set with this request. Additional properties that you can see, with the corresponding GET request, cannot be set through this API. See individual property descriptions below for details on how to set or change each.",
      "type": "object",
      "properties": {
        "assignToken": {
          "description": "Set to true if you would like to assign the app to the user token you used to create the application. The default is false.",
          "example": false,
          "type": "boolean"
        },
        "variables": {
          "description": "The app variables. See [About Application Variables](https://help.quickbase.com/user-assistance/variables.html)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Variable"
          }
        },
        "name": {
          "description": "The app name. You are allowed to create multiple apps with the same name, in the same realm, because they will have different dbid values. We urge you to be careful about doing this.",
          "type": "string"
        },
        "description": {
          "description": "The description for the app. If this property is left out, the app description will be blank.",
          "type": "string"
        }
      },
      "required": [
        "name"
      ]
    },
    "Variable": {
      "title": "Variable",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name for the variable.",
          "type": "string"
        },
        "value": {
          "description": "The value for the variable.",
          "type": "string"
        }
      },
      "required": [
        "name",
        "value"
      ]
    },
    "createAppResponse": {
      "title": "Create App Response",
      "type": "object",
      "properties": {
        "name": {
          "description": "The app name. You are allowed to create multiple apps with the same name, in the same realm, because they will have different dbid values. We urge you to be careful about doing this.",
          "type": "string"
        },
        "description": {
          "description": "The description for the app. If this property is left out, the app description will be blank.",
          "type": "string"
        },
        "created": {
          "description": "The time and date the app was created, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
          "type": "string"
        },
        "updated": {
          "description": "The time and date the app was last updated, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
          "type": "string"
        },
        "dateFormat": {
          "description": "A description of the format used when displaying date values in this app. Note that this is a browser-only parameter - see the [Field type details](../fieldInfo) page in the API Guide for how time values are returned in API calls. See [About Localizing Dates](https://help.quickbase.com/user-assistance/about_localizing_dates_numbers.html) to set the app\u2019s date format.",
          "type": "string"
        },
        "timeZone": {
          "description": "A description of the time zone used when displaying time values in this app. Note that this is a browser-only parameter - see the [Field type details](../fieldInfo) page in the portal for how time values are returned in API calls. See [Set the Time Zone for Both the Application and the Account](https://help.quickbase.com/user-assistance/application_local_timezone.html) to set the application\u2019s time zone.",
          "type": "string"
        },
        "id": {
          "description": "The unique identifier for this application.",
          "type": "string"
        },
        "hasEveryoneOnTheInternet": {
          "description": "Indicates whether app includes Everyone On The Internet access. See [Sharing apps with Everyone on the Internet (EOTI).](https://help.quickbase.com/user-assistance/share_with_everyone_on_internet.html)",
          "type": "boolean"
        },
        "variables": {
          "description": "The app variables. See [About Application Variables](https://help.quickbase.com/user-assistance/variables.html)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Variable1"
          }
        },
        "dataClassification": {
          "description": "The Data Classification label assigned to the application. If Data Classification is not turned on, this will not be returned. If Data Classification is turned on, but application is not labeled, we return \u201cNone\".  Data Classification labels can be added in the Admin Console by a Realm Administrator for Platform+ plans.",
          "type": "string"
        }
      },
      "required": [
        "name"
      ]
    },
    "Variable1": {
      "title": "Variable1",
      "type": "object",
      "properties": {
        "name": {
          "description": "Variable name.",
          "type": "string"
        },
        "value": {
          "description": "Variable value.",
          "type": "string"
        }
      }
    },
    "getAppResponse": {
      "title": "Get App Response",
      "type": "object",
      "properties": {
        "name": {
          "description": "The app name. You are allowed to create multiple apps with the same name, in the same realm, because they will have different dbid values. We urge you to be careful about doing this.",
          "type": "string"
        },
        "description": {
          "description": "The description for the app. If this property is left out, the app description will be blank.",
          "type": "string"
        },
        "created": {
          "description": "The time and date the app was created, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
          "type": "string"
        },
        "updated": {
          "description": "The time and date the app was last updated, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
          "type": "string"
        },
        "dateFormat": {
          "description": "A description of the format used when displaying date values in this app. Note that this is a browser-only parameter - see the [Field type details](../fieldInfo) page in the API Guide for how time values are returned in API calls. See [About Localizing Dates](https://help.quickbase.com/user-assistance/about_localizing_dates_numbers.html) to set the app\u2019s date format.",
          "type": "string"
        },
        "timeZone": {
          "description": "A description of the time zone used when displaying time values in this app. Note that this is a browser-only parameter - see the [Field type details](../fieldInfo) page in the portal for how time values are returned in API calls. See [Set the Time Zone for Both the Application and the Account](https://help.quickbase.com/user-assistance/application_local_timezone.html) to set the application\u2019s time zone.",
          "type": "string"
        },
        "id": {
          "description": "The unique identifier for this application.",
          "type": "string"
        },
        "hasEveryoneOnTheInternet": {
          "description": "Indicates whether app includes Everyone On The Internet access. See [Sharing apps with Everyone on the Internet (EOTI).](https://help.quickbase.com/user-assistance/share_with_everyone_on_internet.html)",
          "type": "boolean"
        },
        "variables": {
          "description": "The app variables. See [About Application Variables](https://help.quickbase.com/user-assistance/variables.html)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Variable1"
          }
        },
        "dataClassification": {
          "description": "The Data Classification label assigned to the application. If Data Classification is not turned on, this will not be returned. If Data Classification is turned on, but application is not labeled, we return \u201cNone\".  Data Classification labels can be added in the Admin Console by a Realm Administrator for Platform+ plans.",
          "type": "string"
        }
      },
      "required": [
        "name"
      ]
    },
    "generated1": {
      "title": "generated1",
      "description": "The example below shows all the properties that can be changed with this request. Additional properties that you can see with the corresponding GET request cannot be set through this API. See individual property descriptions below for details on how to set or change each.",
      "example": {
        "value": {
          "name": "My App",
          "description": "My first app",
          "variables": [
            {
              "name": "Variable1",
              "value": "Value1"
            }
          ]
        }
      },
      "type": "object",
      "properties": {
        "variables": {
          "description": "The app variables. See [About Application Variables](https://help.quickbase.com/user-assistance/variables.html)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Variable"
          }
        },
        "name": {
          "description": "The name for the app.",
          "type": "string"
        },
        "description": {
          "description": "The description for the app.",
          "type": "string"
        }
      }
    },
    "updateAppResponse": {
      "title": "Update App Response",
      "type": "object",
      "properties": {
        "name": {
          "description": "The app name. You are allowed to create multiple apps with the same name, in the same realm, because they will have different dbid values. We urge you to be careful about doing this.",
          "type": "string"
        },
        "description": {
          "description": "The description for the app. If this property is left out, the app description will be blank.",
          "type": "string"
        },
        "created": {
          "description": "The time and date the app was created, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
          "type": "string"
        },
        "updated": {
          "description": "The time and date the app was last updated, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
          "type": "string"
        },
        "dateFormat": {
          "description": "A description of the format used when displaying date values in this app. Note that this is a browser-only parameter - see the [Field type details](../fieldInfo) page in the API Guide for how time values are returned in API calls. See [About Localizing Dates](https://help.quickbase.com/user-assistance/about_localizing_dates_numbers.html) to set the app\u2019s date format.",
          "type": "string"
        },
        "timeZone": {
          "description": "A description of the time zone used when displaying time values in this app. Note that this is a browser-only parameter - see the [Field type details](../fieldInfo) page in the portal for how time values are returned in API calls. See [Set the Time Zone for Both the Application and the Account](https://help.quickbase.com/user-assistance/application_local_timezone.html) to set the application\u2019s time zone.",
          "type": "string"
        },
        "id": {
          "description": "The unique identifier for this application.",
          "type": "string"
        },
        "hasEveryoneOnTheInternet": {
          "description": "Indicates whether app includes Everyone On The Internet access. See [Sharing apps with Everyone on the Internet (EOTI).](https://help.quickbase.com/user-assistance/share_with_everyone_on_internet.html)",
          "type": "boolean"
        },
        "variables": {
          "description": "The app variables. See [About Application Variables](https://help.quickbase.com/user-assistance/variables.html)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Variable1"
          }
        },
        "dataClassification": {
          "description": "The Data Classification label assigned to the application. If Data Classification is not turned on, this will not be returned. If Data Classification is turned on, but application is not labeled, we return \u201cNone\".  Data Classification labels can be added in the Admin Console by a Realm Administrator for Platform+ plans.",
          "type": "string"
        }
      },
      "required": [
        "name"
      ]
    },
    "generated2": {
      "title": "generated2",
      "example": {
        "name": "Name of an application to delete"
      },
      "type": "object",
      "properties": {
        "name": {
          "description": "To confirm application deletion we ask for application name.",
          "type": "string"
        }
      },
      "required": [
        "name"
      ]
    },
    "deleteAppResponse": {
      "title": "Delete App Response",
      "example": {
        "deletedAppId": "bqhskthaq"
      },
      "type": "object",
      "properties": {
        "deletedAppId": {
          "description": "An ID of deleted application.",
          "type": "string"
        }
      }
    },
    "getAppEventsResponse": {
      "title": "Get App Events Response",
      "type": "object",
      "properties": {
        "isActive": {
          "description": "Indication of whether current event is active.",
          "type": "boolean"
        },
        "type": {
          "$ref": "#/definitions/Type"
        },
        "name": {
          "description": "The name of the event. This property is not returned for automations.",
          "type": "string"
        },
        "url": {
          "description": "The url to automation that can be accessed from the browser. Only returned for automations.",
          "type": "string"
        },
        "owner": {
          "$ref": "#/definitions/Owner"
        },
        "tableId": {
          "description": "The unique identifier of the table to which event belongs to.",
          "type": "string"
        }
      }
    },
    "Type": {
      "title": "Type",
      "description": "Type of an event.",
      "example": "webhook",
      "type": "string",
      "enum": [
        "webhook",
        "qb-action",
        "email-notification",
        "subscription",
        "reminder",
        "automation"
      ]
    },
    "Owner": {
      "title": "Owner",
      "description": "The user that owns the event.",
      "type": "object",
      "properties": {
        "name": {
          "description": "User full name.",
          "type": "string"
        },
        "id": {
          "description": "User Id.",
          "type": "string"
        },
        "email": {
          "description": "User email.",
          "type": "string"
        },
        "userName": {
          "description": "User Name as updated in user properties. Optional, appears if not the same as user email.",
          "type": "string"
        }
      }
    },
    "generated3": {
      "title": "generated3",
      "example": {
        "name": "my copied app",
        "description": "copied from my original app",
        "properties": {
          "keepData": false,
          "excludeFiles": true,
          "usersAndRoles": false,
          "assignUserToken": true
        }
      },
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the newly copied app",
          "type": "string"
        },
        "description": {
          "description": "The description of the newly copied app",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/Properties"
        }
      },
      "required": [
        "name"
      ]
    },
    "Properties": {
      "title": "Properties",
      "description": "The configuration properties for performing the app copy",
      "type": "object",
      "properties": {
        "assignUserToken": {
          "description": "Whether to add the user token used to make this request to the new app",
          "type": "boolean"
        },
        "excludeFiles": {
          "description": "If keepData is true, whether to copy the file attachments as well. If keepData is false, this property is ignored",
          "type": "boolean"
        },
        "keepData": {
          "description": "Whether to copy the app's data along with the schema",
          "type": "boolean"
        },
        "usersAndRoles": {
          "description": "If true, users will be copied along with their assigned roles. If false, users and roles will be copied but roles will not be assigned",
          "type": "boolean"
        }
      }
    },
    "copyAppResponse": {
      "title": "Copy App Response",
      "example": {
        "ancestorId": "bqhskthaq",
        "created": "2020-03-27T18:34:12.000Z",
        "dateFormat": "MM-DD-YYYY",
        "description": "My testing app",
        "hasEveryoneOnTheInternet": true,
        "id": "bpqe82s1",
        "name": "Testing App",
        "timeZone": "(UTC-08:00) Pacific Time (US & Canada)",
        "updated": "2020-04-03T19:12:20.000Z",
        "dataClassification": "None"
      },
      "type": "object",
      "properties": {
        "name": {
          "description": "The app name. You are allowed to create multiple apps with the same name, in the same realm, because they will have different dbid values. We urge you to be careful about doing this.",
          "type": "string"
        },
        "description": {
          "description": "The description for the app",
          "type": "string"
        },
        "created": {
          "description": "The time and date the app was created, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
          "type": "string"
        },
        "updated": {
          "description": "The time and date the app was last updated, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
          "type": "string"
        },
        "dateFormat": {
          "description": "A description of the format used when displaying date values in this app. Note that this is a browser-only parameter - see the [Field type details](../fieldInfo) page in the API Guide for how time values are returned in API calls. See [About Localizing Dates](https://help.quickbase.com/user-assistance/about_localizing_dates_numbers.html) to set the app\u2019s date format.",
          "type": "string"
        },
        "timeZone": {
          "description": "A description of the time zone used when displaying time values in this app. Note that this is a browser-only parameter - see the [Field type details](../fieldInfo) page in the portal for how time values are returned in API calls. See [Set the Time Zone for Both the Application and the Account](https://help.quickbase.com/user-assistance/application_local_timezone.html) to set the application\u2019s time zone.",
          "type": "string"
        },
        "id": {
          "description": "The unique identifier for this application.",
          "type": "string"
        },
        "hasEveryoneOnTheInternet": {
          "description": "Indicates whether app includes Everyone On The Internet access. See [Sharing apps with Everyone on the Internet (EOTI).](https://help.quickbase.com/user-assistance/share_with_everyone_on_internet.html)",
          "type": "boolean"
        },
        "variables": {
          "description": "The app variables. See [About Application Variables](https://help.quickbase.com/user-assistance/variables.html)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Variable1"
          }
        },
        "ancestorId": {
          "description": "The id of the app from which this app was copied",
          "type": "string"
        },
        "dataClassification": {
          "description": "The Data Classification label assigned to the application. If Data Classification is not turned on, this will not be returned. If Data Classification is turned on, but application is not labeled, we return \u201cNone\".  Data Classification labels can be added in the Admin Console by a Realm Administrator for Platform+ plans.",
          "type": "string"
        }
      },
      "required": [
        "name"
      ]
    },
    "generated4": {
      "title": "generated4",
      "description": "The example below shows all the properties that can be changed with this request. Additional properties that you can see with the corresponding GET request cannot be set through this API.",
      "example": {
        "name": "My table",
        "description": "my first table",
        "singleRecordName": "record",
        "pluralRecordName": "records"
      },
      "type": "object",
      "properties": {
        "name": {
          "description": "The name for the table.",
          "type": "string",
          "minLength": 1
        },
        "pluralRecordName": {
          "description": "The plural noun for records in the table. If this value is not passed the default value is 'Records'.",
          "type": "string"
        },
        "singleRecordName": {
          "description": "The singular noun for records in the table. If this value is not passed the default value is 'Record'.",
          "type": "string"
        },
        "description": {
          "description": "The description for the table. If this value is not passed the default value is blank.",
          "type": "string"
        }
      },
      "required": [
        "name"
      ]
    },
    "createTableResponse": {
      "title": "Create Table Response",
      "example": {
        "name": "Example Table",
        "created": "2020-03-27T18:34:40.000Z",
[...]
