{
  "swagger": "2.0",
  "info": {
    "title": "Tribal - SITS",
    "description": "Streamline the day-to-day administration of student management to enhance student experience",
    "version": "0.1",
    "contact": {
      "name": "Tribal Group",
      "url": "https://www.tribalgroup.com",
      "email": "servicedesk@tribalgroup.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tribalgroup.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tribalgroup.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management"
    }
  ],
  "host": "k8s-label.edge.tribaldev.net",
  "basePath": "/dev/",
  "schemes": [ "https" ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/eventsConnector/api/Events/entityTypes/SITSGateway": {
      "get": {
        "summary": "Get Triggers",
        "description": "Get Triggers",
        "operationId": "GetTriggers",
        "x-ms-visibility": "internal",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        }
      }
    },
    "/eventsConnector/api/Events/eventTypes/SITSGateway/{name}": {
      "get": {
        "summary": "Get Trigger Event Types",
        "operationId": "GetTriggerEventTypes",
        "description": "Get Trigger Event Types",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetTriggers",
              "value-path": "name",
              "value-title": "description"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/eventsConnector/api/Events/eventSchema/SITSGateway/{eventType}/{name}": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "Gets the triggers schema",
        "summary": "Gets the triggers schema",
        "operationId": "GetTriggerSchema",
        "parameters": [
          {
            "name": "name",
            "x-ms-summary": "The name",
            "description": "The name",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "eventType",
            "x-ms-summary": "The name of the event type",
            "description": "The name of the event type",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/eventsConnector/api/WebHook/SITSGateway/{eventType}/{name}": {
      "x-ms-notification-content": {
        "description": "When an event happens",
        "x-ms-summary": "When an event happens",
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetTriggerSchema",
                "parameters": {
                  "name": {
                    "parameter": "name"
                  },
                  "eventType": {
                    "parameter": "eventType"
                  }
                }
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetTriggerSchema",
                "parameters": {
                  "name": {
                    "parameterReference": "name"
                  },
                  "eventType": {
                    "parameterReference": "eventType"
                  }
                }
              }
            },
            "id": {
              "type": "string"
            },
            "source": {
              "type": "string"
            },
            "type": {
              "type": "string"
            },
            "time": {
              "format": "date-time",
              "type": "string"
            },
            "dataSchema": {
              "type": "string"
            },
            "dataContentType": {
              "type": "string"
            },
            "extensionAttributes": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TriggerCreateSuccess"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          }
        },
        "summary": "When an event happens",
        "description": "This operation triggers when a specified event happens",
        "operationId": "WhenEventHappens",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "name",
            "x-ms-summary": "Name",
            "description": "The name of the event",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetTriggers",
              "value-path": "name",
              "value-title": "description"
            }
          },
          {
            "name": "eventType",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Event Type",
            "description": "The type of event e.g. Updated or Created",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetTriggerEventTypes",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "name": {
                  "parameter": "name"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "targetUri": {
                  "type": "string",
                  "description": "targetUri",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [ "targetUri" ]
            }
          }
        ]
      }
    },
    "/sitsgateway/api/connector/operations/{operationType}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          }
        },
        "operationId": "GetOperationsForVerb",
        "summary": "Get Operations",
        "description": "Get operations for a specific verb",
        "parameters": [
          {
            "name": "operationType",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "get",
            "x-ms-visibility": "internal",
            "enum": [ "get", "put", "post", "delete" ]
          },
          {
            "name": "version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "10.8 Initial Release",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/sitsgateway/api/connector/versions": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DynamicValue"
            }
          }
        },
        "operationId": "GetVersions",
        "summary": "Get Versions",
        "description": "Get versions for a specific verb",
        "parameters": [
          {
            "name": "operationType",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal",
            "enum": [ "get", "put", "post", "delete" ]
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/sitsgateway/api/connector/operations/{operationType}/single": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          }
        },
        "operationId": "GetSingularOperationsForVerb",
        "summary": "Get Singular Operations",
        "description": "Get singular operations for a specific verb",
        "parameters": [
          {
            "name": "operationType",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "get",
            "x-ms-visibility": "internal",
            "enum": [ "get" ]
          },
          {
            "name": "version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "10.8 Initial Release",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/sitsgateway/api/connector/operations/{operationType}/multiple": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          }
        },
        "operationId": "GetMultipleOperationsForVerb",
        "summary": "Get Multiple Operations",
        "description": "Get multiple operations for a specific verb",
        "parameters": [
          {
            "name": "operationType",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "get",
            "x-ms-visibility": "internal",
            "enum": [ "get" ]
          },
          {
            "name": "version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "10.8 Initial Release",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/sitsgateway/api/connector/operations/{operationType}/schema/{type}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DynamicValue"
              }
            }
          }
        },
        "operationId": "GetSchemaForRoute",
        "summary": "Get Parameters",
        "description": "Get parameters for route",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "operationType",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "get",
            "enum": [ "get", "put", "post", "delete" ],
            "x-ms-visibility": "internal"
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "url",
            "enum": [ "url", "response", "body" ],
            "x-ms-visibility": "internal"
          },
          {
            "name": "route",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "/",
            "x-ms-visibility": "internal"
          },
          {
            "name": "version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "10.8 Initial Release",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/sitsgateway/getRecord": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameter": "route"
                  },
                  "version": {
                    "parameter": "version"
                  },
                  "type": "response",
                  "operationType": "get"
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameterReference": "route"
                  },
                  "version": {
                    "parameterReference": "version"
                  },
                  "type": { "value": "response" },
                  "operationType": { "value": "get" }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TRB_400_1"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TRB_401_1"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TRB_403_1"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/TRB_404_1"
            }
          }
        },
        "operationId": "ReadRecord",
        "summary": "Read record",
        "description": "Read record",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Version",
            "description": "Version",
            "x-ms-dynamic-values": {
              "operationId": "GetVersions",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "operationType": "get"
              }
            },

            "required": true
          },
          {
            "name": "route",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Operation",
            "description": "Operation to perform",
            "x-ms-dynamic-values": {
              "operationId": "GetSingularOperationsForVerb",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "operationType": "get",
                "version": {
                  "parameter": "version"
                }
              }
            },

            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameter": "route"
                  },
                  "version": {
                    "parameter": "version"
                  },
                  "type": "url",
                  "operationType": "get"
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameterReference": "route"
                  },
                  "version": {
                    "parameterReference": "version"
                  },
                  "type": { "value": "url" },
                  "operationType": { "value": "get" }
                }
              },
              "x-ms-visibility": "important"
            }
          }
        ]

      }

    },
    "/sitsgateway/getRecords": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameter": "route"
                  },
                  "version": {
                    "parameter": "version"
                  },
                  "type": "response",
                  "operationType": "get"
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameterReference": "route"
                  },
                  "version": {
                    "parameterReference": "version"
                  },
                  "type": { "value": "response" },
                  "operationType": { "value": "get" }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TRB_400_1"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TRB_401_1"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TRB_403_1"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/TRB_404_1"
            }
          }
        },
        "operationId": "ReadRecords",
        "summary": "Read records",
        "description": "Read records",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Version",
            "description": "Version",
            "x-ms-dynamic-values": {
              "operationId": "GetVersions",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "operationType": "get"
              }
            },
            "required": true
          },
          {
            "name": "route",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Operation",
            "description": "Operation to perform",
            "x-ms-dynamic-values": {
              "operationId": "GetMultipleOperationsForVerb",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "operationType": "get",
                "version": {
                  "parameter": "version"
                }
              }
            },
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameter": "route"
                  },
                  "version": {
                    "parameter": "version"
                  },
                  "type": "url",
                  "operationType": "get"
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameterReference": "route"
                  },
                  "version": {
                    "parameterReference": "version"
                  },
                  "type": { "value": "url" },
                  "operationType": { "value": "get" }
                }
              },
              "x-ms-visibility": "important"
            }
          }
        ]

      }
    },
    "/sitsgateway/putRecords": {
      "put": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameter": "route"
                  },
                  "version": {
                    "parameter": "version"
                  },
                  "type": "response",
                  "operationType": "put"
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameterReference": "route"
                  },
                  "version": {
                    "parameterReference": "version"
                  },
                  "type": { "value": "response" },
                  "operationType": { "value": "put" }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TRB_400_1"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TRB_401_1"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TRB_403_1"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/TRB_404_1"
            }
          }
        },
        "operationId": "UpdateRecord",
        "summary": "Update record",
        "description": "Update record",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Version",
            "description": "Version",
            "x-ms-dynamic-values": {
              "operationId": "GetVersions",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "operationType": "put"
              }
            },
            "required": true
          },
          {
            "name": "route",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Operation",
            "description": "Operation to perform",
            "x-ms-dynamic-values": {
              "operationId": "GetOperationsForVerb",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "operationType": "put",
                "version": {
                  "parameter": "version"
                }
              }
            },
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameter": "route"
                  },
                  "version": {
                    "parameter": "version"
                  },
                  "type": "body",
                  "operationType": "put"
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameterReference": "route"
                  },
                  "version": {
                    "parameterReference": "version"
                  },
                  "type": { "value": "body" },
                  "operationType": { "value": "put" }
                }
              },
              "x-ms-visibility": "important"
            }
          }
        ]
      }
    },
    "/sitsgateway/postRecord": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameter": "route"
                  },
                  "version": {
                    "parameter": "version"
                  },
                  "type": "response",
                  "operationType": "post"
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameterReference": "route"
                  },
                  "version": {
                    "parameterReference": "version"
                  },
                  "type": { "value": "response" },
                  "operationType": { "value": "post" }
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameter": "route"
                  },
                  "version": {
                    "parameter": "version"
                  },
                  "type": "response",
                  "operationType": "post"
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameterReference": "route"
                  },
                  "version": {
                    "parameterReference": "version"
                  },
                  "type": { "value": "response" },
                  "operationType": { "value": "post" }
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TRB_400_1"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TRB_401_1"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TRB_403_1"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/TRB_404_1"
            }
          }
        },
        "operationId": "CreateRecord",
        "summary": "Create record",
        "description": "Create record",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Version",
            "description": "Version",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetVersions",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "operationType": "post"
              }
            }
          },
          {
            "name": "route",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Operation",
            "description": "Operation to perform",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetOperationsForVerb",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "operationType": "post",
                "version": {
                  "parameter": "version"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameter": "route"
                  },
                  "version": {
                    "parameter": "version"
                  },
                  "type": "body",
                  "operationType": "post"
                }
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameterReference": "route"
                  },
                  "version": {
                    "parameterReference": "version"
                  },
                  "type": { "value": "body" },
                  "operationType": { "value": "post" }
                }
              },
              "x-ms-visibility": "important"
            }
          }
        ]
      }
    },
    "/sitsgateway/deleteRecord": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameter": "route"
                  },
                  "version": {
                    "parameter": "version"
                  },
                  "type": "response",
                  "operationType": "delete"
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameterReference": "route"
                  },
                  "version": {
                    "parameterReference": "version"
                  },
                  "type": { "value": "response" },
                  "operationType": { "value": "delete" }
                }
              }
            }

          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/TRB_400_1"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/TRB_401_1"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/TRB_403_1"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/TRB_404_1"
            }
          }
        },
        "operationId": "DeleteRecord",
        "summary": "Delete record",
        "description": "Delete record",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Version",
            "description": "Version",
            "x-ms-dynamic-values": {
              "operationId": "GetVersions",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "operationType": "delete"
              }
            },
            "required": true
          },
          {
            "name": "route",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Operation",
            "description": "Operation to perform",
            "x-ms-dynamic-values": {
              "operationId": "GetOperationsForVerb",
              "value-path": "name",
              "value-title": "description",
              "parameters": {
                "operationType": "delete",
                "version": {
                  "parameter": "version"
                }
              }

            },
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameter": "route"
                  },
                  "version": {
                    "parameter": "version"
                  },
                  "type": "url",
                  "operationType": "delete"
                },
                "value-path": "properties"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetSchemaForRoute",
                "parameters": {
                  "route": {
                    "parameterReference": "route"
                  },
                  "version": {
                    "parameterReference": "version"
                  },
                  "type": { "value": "url" },
                  "operationType": { "value": "delete" }
                }
              },
              "x-ms-visibility": "important"
            }
          }
        ]
      }
    },
    "/sitsgateway/": {
      "post": {
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ForbiddenResponse"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Send an HTTP request",
        "description": "Send an HTTP request to SITS",
        "operationId": "RawRequest",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "verb": {
                  "type": "string",
                  "description": "HTTP Verb",
                  "x-ms-summary": "Verb",
                  "x-ms-visibility": "important",
                  "enum": [ "GET", "POST", "PUT", "PATCH", "DELETE" ]
                },
                "relativeUrl": {
                  "type": "string",
                  "description": "Relative URL",
                  "x-ms-summary": "Relative URL e.g. /documents/adocumentcode",
                  "x-ms-visibility": "important"
                },
                "query": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "queryKey": {
                        "type": "string",
                        "description": "Query key",
                        "x-ms-summary": "Query Key"
                      },
                      "queryValue": {
                        "type": "string",
                        "description": "Query value",
                        "x-ms-summary": "Query Value"
                      }
                    }
                  },
                  "description": "Additional query string",
                  "x-ms-summary": "Query string",
                  "x-ms-visibility": "important"
                },
                "body": {
                  "type": "string",
                  "description": "Body of the request",
                  "x-ms-summary": "Body",
                  "x-ms-visibility": "important"
                },
                "headers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "headerKey": {
                        "type": "string",
                        "description": "Key",
                        "x-ms-summary": "Header Key"
                      },
                      "headerValue": {
                        "type": "string",
                        "description": "Value",
                        "x-ms-summary": "Header Value"
                      }
                    },
                    "required": [ "headerKey", "headerValue" ]
                  },
                  "description": "Any additional headers",
                  "x-ms-summary": "Headers",
                  "x-ms-visibility": "important"
                }
              },
              "required": [ "verb", "relativeUrl", "headers" ]
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "Action": {
      "type": "object",
      "properties": {
        "operationType": {
          "type": "string",
          "description": "verb"
        },
        "body": {
          "type": "string",
          "description": "body"
        },
        "routeParams": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "description": "route"
              },
              "value": {
                "type": "string",
                "description": "id"
              }
            }
          },
          "description": "route parameters"
        },
        "queryParams": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "description": "key"
              },
              "value": {
                "type": "string",
                "description": "value"
              }
            }
          },
          "description": "query parameters"
        }
      },
      "additionalProperties": false
    },
    "DynamicValue": {
      "type": "object",
      "required": [ "name", "description" ],
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ErrorResponse": {
      "type": "object",
      "required": [ "codeName", "message" ],
      "properties": {
        "codeName": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "ForbiddenResponse": {
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "TriggerCreateSuccess": {
      "type": "object",
      "required": [ "targetUri" ],
      "properties": {
        "targetUri": {
          "type": "string"
        }
      }
    },
    "TRB_400_VE_1": {
      "type": "object",
      "properties": {
        "key": {
          "description": "The key highlights the part of the request with the issue",
          "type": "string"
        },
        "messages": {
          "description": "The messages detailing the issue with the request",
          "type": "string"
        }
      }
    },
    "TRB_400_1": {
      "type": "object",
      "properties": {
        "code": {
          "description": "HTTP response code",
          "type": "integer"
        },
        "codeName": {
          "description": "HTTP response code name",
          "type": "string"
        },
        "severity": {
          "description": "The severity type of the error",
          "type": "string"
        },
        "type": {
          "description": "The error type",
          "type": "string"
        },
        "message": {
          "description": "The error message",
          "type": "string"
        },
        "validationErrors": {
          "description": "An array of objects that hold issues with the request",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TRB_400_VE_1"
          }
        }
      }
    },
    "TRB_401_1": {
      "type": "object",
      "properties": {
        "code": {
          "description": "HTTP response code",
          "type": "integer"
        },
        "codeName": {
          "description": "HTTP response code name",
          "type": "string"
        },
        "severity": {
          "description": "The severity type of the error",
          "type": "string"
        },
        "type": {
          "description": "The error type",
          "type": "string"
        },
        "message": {
          "description": "The error message",
          "type": "string"
        }
      }
    },
    "TRB_403_1": {
      "type": "object",
      "properties": {
        "code": {
          "description": "HTTP response code",
          "type": "integer"
        },
        "codeName": {
          "description": "HTTP response code name",
          "type": "string"
        },
        "severity": {
          "description": "The severity type of the error",
          "type": "string"
        },
        "type": {
          "description": "The error type",
          "type": "string"
        },
        "message": {
          "description": "The error message",
          "type": "string"
        }
      }
    },
    "TRB_404_1": {
      "type": "object",
      "properties": {
        "code": {
          "description": "HTTP response code",
          "type": "integer"
        },
        "codeName": {
          "description": "HTTP response code name",
          "type": "string"
        },
        "severity": {
          "description": "The severity type of the error",
          "type": "string"
        },
        "type": {
          "description": "The error type",
          "type": "string"
        },
        "message": {
          "description": "The error message",
          "type": "string"
        }
      }
    }
  },
  "tags": [],
  "securityDefinitions": {}
}
