{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Richard Wilson",
      "url": "https://www.richardawilson.com",
      "email": "richard.a.wilson@microsoft.com"
    },
    "description": "The Provider Directory API facilitates the development of applications that can retrieve lists of VA providers, offering details on provider locations, specialties, office hours, and patient acceptance status. It leverages FHIR standards to ensure compliance with CMS requirements for public-facing API endpoints.",
    "title": "Veterans Affairs Providers",
    "version": "v0"
  },
  "host": "api.va.gov",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/Location": {
      "get": {
        "description": "Retrieves a list of locations based on specified criteria, including provider locations, specialties, and office hours.",
        "operationId": "GetLocation",
        "parameters": [
          {
            "description": "The logical ID of the resource. Once assigned, this value never changes.",
            "in": "query",
            "name": "_id",
            "type": "string",
            "x-example": "I2-JI7HH7SBZOCSIS7F7DI6BLHY4VNVELJM77KAYURLD5ZZWRQ2EY7Q0000",
            "x-ms-summary": "Id"
          },
          {
            "description": "The logical identifier of the resource. Once assigned, this value never changes.",
            "in": "query",
            "name": "identifier",
            "type": "string",
            "x-ms-summary": "Identifier"
          },
          {
            "description": "Specifies the physical location of the record using postal conventions.",
            "in": "query",
            "name": "address",
            "type": "string",
            "x-ms-summary": "Address"
          },
          {
            "description": "Specifies the city where the location resides.",
            "in": "query",
            "name": "address-city",
            "type": "string",
            "x-ms-summary": "Address City"
          },
          {
            "description": "Specifies the state where the location resides.",
            "in": "query",
            "name": "address-state",
            "type": "string",
            "x-ms-summary": "Address State"
          },
          {
            "description": "Specifies the postal code for the region where the location resides.",
            "in": "query",
            "name": "address-postalcode",
            "type": "string",
            "x-ms-summary": "Address Postalcode"
          },
          {
            "description": "Indicates the name of the location as referenced by humans.",
            "in": "query",
            "name": "name",
            "type": "string",
            "x-ms-summary": "Name"
          },
          {
            "description": "The date when the location record was last updated.",
            "in": "query",
            "name": "_lastUpdated",
            "type": "string",
            "x-ms-summary": "Last Updated"
          },
          {
            "description": "The page number of the search result.",
            "format": "int32",
            "in": "query",
            "name": "page",
            "type": "integer",
            "x-ms-summary": "Page"
          },
          {
            "description": "The number of resources returned in a single page, up to a maximum of 100.",
            "format": "int32",
            "in": "query",
            "name": "_count",
            "type": "integer",
            "maximum": 100,
            "x-ms-summary": "Count"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful response with details of locations.",
            "schema": {
              "$ref": "#/definitions/LocationBundle"
            }
          },
          "400": {
            "description": "Bad request. The request was invalid."
          },
          "401": {
            "description": "Authorization information not provided or invalid."
          },
          "403": {
            "description": "Invalid authorization credentials."
          },
          "404": {
            "description": "The requested resource was not found."
          },
          "413": {
            "description": "Payload too large. Request size limit exceeded."
          },
          "429": {
            "description": "Too many requests. API rate limit exceeded."
          },
          "500": {
            "description": "Server error. An error occurred on the server."
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "List locations",
        "tags": [
          "Location"
        ]
      }
    },
    "/Location/{id}": {
      "get": {
        "description": "Retrieves detailed information about a specific location by its ID, including provider locations, specialties, and office hours.",
        "operationId": "GetLocationById",
        "parameters": [
          {
            "description": "The logical ID of the resource. Once assigned, this value never changes.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "I2-JI7HH7SBZOCSIS7F7DI6BLHY4VNVELJM77KAYURLD5ZZWRQ2EY7Q0000",
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful response with details of the specific location.",
            "schema": {
              "$ref": "#/definitions/Location"
            }
          },
          "400": {
            "description": "Bad request. The request was invalid."
          },
          "401": {
            "description": "Authorization information not provided or invalid."
          },
          "403": {
            "description": "Invalid authorization credentials."
          },
          "404": {
            "description": "The requested resource was not found."
          },
          "413": {
            "description": "Payload too large. Request size limit exceeded."
          },
          "429": {
            "description": "Too many requests. API rate limit exceeded."
          },
          "500": {
            "description": "Server error. An error occurred on the server."
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Get location by ID",
        "tags": [
          "Location"
        ]
      }
    },
    "/Organization": {
      "get": {
        "description": "Retrieves a list of organizations based on specified criteria, including their locations, names, and other identifying information.",
        "operationId": "ListOrganizations",
        "parameters": [
          {
            "description": "The logical ID of the resource. Once assigned, this value never changes.",
            "in": "query",
            "name": "_id",
            "type": "string",
            "x-example": "I2-CYEXXOSUSGHOX6424MLNR4CQ4F7FZIOAZQJ3PH4L4MIIABRNZVVQ0000",
            "x-ms-summary": "Id"
          },
          {
            "description": "The logical identifier of the resource. Once assigned, this value never changes.",
            "in": "query",
            "name": "identifier",
            "type": "string",
            "x-ms-summary": "Identifier"
          },
          {
            "description": "Specifies the physical location of the organization using postal conventions.",
            "in": "query",
            "name": "address",
            "type": "string",
            "x-ms-summary": "Address"
          },
          {
            "description": "Specifies the city where the organization resides.",
            "in": "query",
            "name": "address-city",
            "type": "string",
            "x-ms-summary": "City"
          },
          {
            "description": "Specifies the state where the organization resides.",
            "in": "query",
            "name": "address-state",
            "type": "string",
            "x-ms-summary": "State"
          },
          {
            "description": "Specifies the postal code for the region where the organization resides.",
            "in": "query",
            "name": "address-postalcode",
            "type": "string",
            "x-ms-summary": "Postal Code"
          },
          {
            "description": "Indicates the name of the organization as it is referenced by humans.",
            "in": "query",
            "name": "name",
            "type": "string",
            "x-ms-summary": "Name"
          },
          {
            "description": "The date when the organization record was last updated.",
            "in": "query",
            "name": "_lastUpdated",
            "type": "string",
            "x-ms-summary": "Last Updated"
          },
          {
            "description": "The page number of the search result.",
            "format": "int32",
            "in": "query",
            "name": "page",
            "type": "integer",
            "x-ms-summary": "Page"
          },
          {
            "description": "The number of resources returned in a single page, up to a maximum of 100.",
            "format": "int32",
            "in": "query",
            "name": "_count",
            "type": "integer",
            "maximum": 100,
            "x-ms-summary": "Count"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful response with details of organizations.",
            "schema": {
              "$ref": "#/definitions/OrganizationBundle"
            }
          },
          "400": {
            "description": "Bad request. The request was invalid."
          },
          "401": {
            "description": "Authorization information not provided or invalid."
          },
          "403": {
            "description": "Invalid authorization credentials."
          },
          "404": {
            "description": "The requested resource was not found."
          },
          "413": {
            "description": "Payload too large. Request size limit exceeded."
          },
          "429": {
            "description": "Too many requests. API rate limit exceeded."
          },
          "500": {
            "description": "Server error. An error occurred on the server."
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "List organizations",
        "tags": [
          "Organization"
        ]
      }
    },
    "/Organization/{id}": {
      "get": {
        "description": "Retrieves detailed information about a specific organization by its ID, including name, location, and other relevant details.",
        "operationId": "GetOrganizationById",
        "parameters": [
          {
            "description": "The logical ID of the resource. Once assigned, this value never changes.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "I2-CYEXXOSUSGHOX6424MLNR4CQ4F7FZIOAZQJ3PH4L4MIIABRNZVVQ0000",
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful response with details of the specific organization.",
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          },
          "400": {
            "description": "Bad request. The request was invalid."
          },
          "401": {
            "description": "Authorization information not provided or invalid."
          },
          "403": {
            "description": "Invalid authorization credentials."
          },
          "404": {
            "description": "The requested resource was not found."
          },
          "413": {
            "description": "Payload too large. Request size limit exceeded."
          },
          "429": {
            "description": "Too many requests. API rate limit exceeded."
          },
          "500": {
            "description": "Server error. An error occurred on the server."
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Get organization by Id",
        "tags": [
          "Organization"
        ]
      }
    },
    "/Practitioner": {
      "get": {
        "description": "Retrieves a list of practitioners based on specified criteria, including identifiers, names, and last update dates.",
        "operationId": "ListPractitioners",
        "parameters": [
          {
            "description": "The logical ID of the resource. Once assigned, this value never changes.",
            "in": "query",
            "name": "_id",
            "type": "string",
            "x-example": "I2-VLZYJVF7MOB2SFAKTAPNSQIBWZS22HGVT3A56E5D5PHDUWJGQIGQ0000",
            "x-ms-summary": "Id"
          },
          {
            "description": "A unique identifier for a practitioner within a given system.",
            "in": "query",
            "name": "identifier",
            "type": "string",
            "x-ms-summary": "Identifier"
          },
          {
            "description": "The family name of the practitioner.",
            "in": "query",
            "name": "family",
            "type": "string",
            "x-ms-summary": "Family Name"
          },
          {
            "description": "The given name of the practitioner.",
            "in": "query",
            "name": "given",
            "type": "string",
            "x-ms-summary": "Given Name"
          },
          {
            "description": "The given or family name of the practitioner.",
            "in": "query",
            "name": "name",
            "type": "string",
            "x-ms-summary": "Name"
          },
          {
            "description": "The date when the practitioner record was last updated.",
            "in": "query",
            "name": "_lastUpdated",
            "type": "string",
            "x-ms-summary": "Last Updated"
          },
          {
            "description": "The page number of the search result.",
            "format": "int32",
            "in": "query",
            "name": "page",
            "type": "integer",
            "x-ms-summary": "Page"
          },
          {
            "description": "The number of resources returned in a single page, up to a maximum of 100.",
            "format": "int32",
            "in": "query",
            "name": "_count",
            "type": "integer",
            "maximum": 100,
            "x-ms-summary": "Count"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful response with a list of practitioners.",
            "schema": {
              "$ref": "#/definitions/PractitionerBundle"
            }
          },
          "400": {
            "description": "Bad request. The request was invalid."
          },
          "401": {
            "description": "Authorization information not provided or invalid."
          },
          "403": {
            "description": "Invalid authorization credentials."
          },
          "404": {
            "description": "The requested resource was not found."
          },
          "413": {
            "description": "Payload too large. Request size limit exceeded."
          },
          "429": {
            "description": "Too many requests. API rate limit exceeded."
          },
          "500": {
            "description": "Server error. An error occurred on the server."
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "List practitioners",
        "tags": [
          "Practitioner"
        ]
      }
    },
    "/Practitioner/{id}": {
      "get": {
        "description": "Retrieves detailed information about a specific practitioner by their unique ID, including identifiers, names, and qualifications.",
        "operationId": "GetPractitionerById",
        "parameters": [
          {
            "description": "The logical ID of the resource. Once assigned, this value never changes.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "I2-VLZYJVF7MOB2SFAKTAPNSQIBWZS22HGVT3A56E5D5PHDUWJGQIGQ0000",
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful response with the details of the specified practitioner.",
            "schema": {
              "$ref": "#/definitions/Practitioner"
            }
          },
          "400": {
            "description": "Bad request. The request was invalid."
          },
          "401": {
            "description": "Authorization information not provided or invalid."
          },
          "403": {
            "description": "Invalid authorization credentials."
          },
          "404": {
            "description": "The requested resource was not found."
          },
          "413": {
            "description": "Payload too large. Request size limit exceeded."
          },
          "429": {
            "description": "Too many requests. API rate limit exceeded."
          },
          "500": {
            "description": "Server error. An error occurred on the server."
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Get practitioner by ID",
        "tags": [
          "Practitioner"
        ]
      }
    },
    "/PractitionerRole": {
      "get": {
        "description": "Retrieves a list of practitioner roles based on specified criteria, including identifiers and names, reflecting their roles and responsibilities.",
        "operationId": "ListPractitionerRoles",
        "parameters": [
          {
            "description": "The logical ID of the resource. Once assigned, this value never changes.",
            "in": "query",
            "name": "_id",
            "type": "string",
            "x-example": "I2-GNRAKWQCFSLEQIWPGYGOBCC3KCH2ZUC6JZ6YY42MUPKH7XACFBRQ0000",
            "x-ms-summary": "Id"
          },
          {
            "description": "A unique identifier for a practitioner within a given system.",
            "in": "query",
            "name": "practitioner.identifier",
            "type": "string",
            "x-ms-summary": "Practitioner Identifier"
          },
          {
            "description": "The given or family name of the practitioner.",
            "in": "query",
            "name": "practitioner.name",
            "type": "string",
            "x-ms-summary": "Practitioner Name"
          },
          {
            "description": "The date when the practitioner role record was last updated.",
            "in": "query",
            "name": "_lastUpdated",
            "type": "string",
            "x-ms-summary": "Last Updated"
          },
          {
            "description": "The page number being requested.",
            "format": "int32",
            "in": "query",
            "name": "page",
            "type": "integer",
            "x-ms-summary": "Page"
          },
          {
            "description": "The number of resources returned in a single page, up to a maximum of 100.",
            "format": "int32",
            "in": "query",
            "name": "_count",
            "type": "integer",
            "maximum": 100,
            "x-ms-summary": "Count"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful response with a list of practitioner roles.",
            "schema": {
              "$ref": "#/definitions/PractitionerRoleBundle"
            }
          },
          "400": {
            "description": "Bad request. The request was invalid."
          },
          "401": {
            "description": "Authorization information not provided or invalid."
          },
          "403": {
            "description": "Invalid authorization credentials."
          },
          "404": {
            "description": "The requested resource was not found."
          },
          "413": {
            "description": "Payload too large. Request size limit exceeded."
          },
          "429": {
            "description": "Too many requests. API rate limit exceeded."
          },
          "500": {
            "description": "Server error. An error occurred on the server."
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "List practitioner roles",
        "tags": [
          "PractitionerRole"
        ]
      }
    },
    "/PractitionerRole/{id}": {
      "get": {
        "description": "Retrieves detailed information about a specific practitioner role by its unique ID, including role assignments, qualifications, and identifiers.",
        "operationId": "GetPractitionerRoleById",
        "parameters": [
          {
            "description": "The logical ID of the resource, which remains unchanged once assigned.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful response with details of the specified practitioner role.",
            "schema": {
              "$ref": "#/definitions/PractitionerRole"
            }
          },
          "400": {
            "description": "Bad request. The request was invalid."
          },
          "401": {
            "description": "Authorization information not provided or invalid."
          },
          "403": {
            "description": "Invalid authorization credentials."
          },
          "404": {
            "description": "The requested resource was not found."
          },
          "413": {
            "description": "Payload too large. Request size limit exceeded."
          },
          "429": {
            "description": "Too many requests. API rate limit exceeded."
          },
          "500": {
            "description": "Server error. An error occurred on the server."
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "summary": "Get practitioner role by ID",
        "tags": [
          "PractitionerRole"
        ]
      }
    }
  },
  "definitions": {
    "Address": {
      "description": "Defines a physical location by its address components.",
      "properties": {
        "city": {
          "description": "The city name of the address.",
          "title": "City",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "country": {
          "description": "The country name of the address.",
          "title": "Country",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "district": {
          "description": "The district or subregion of the address that helps in further location.",
          "title": "District",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "extension": {
          "description": "Extension contains extra information about the address.",
          "title": "Extension",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "description": "A unique identifier for the address.",
          "title": "Id",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "line": {
          "description": "The actual address line that describes the physical location.",
          "title": "Line",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "period": {
          "$ref": "#/definitions/Period"
        },
        "postalCode": {
          "description": "The postal code of the address.",
          "title": "Postal Code",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "state": {
          "description": "The state or province of the address.",
          "title": "State",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "text": {
          "description": "A textual representation of the address.",
          "title": "Text",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "type": {
          "description": "The type of address (postal, physical, or both).",
          "title": "Type",
          "enum": [
            "postal",
            "physical",
            "both"
          ],
          "type": "string"
        },
        "use": {
          "description": "The use of the address (home, work, temp, old, billing).",
          "title": "Use",
          "enum": [
            "home",
            "work",
            "temp",
            "old",
            "billing"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Age": {
      "description": "Represents an age in years as a type of quantity.",
      "properties": {
        "code": {
          "description": "A machine-readable form of the unit of measure for the age.",
          "title": "Code",
          "pattern": "[^\\s]+(\\s[^\\s]+)*",
          "type": "string"
        },
        "comparator": {
          "description": "Used to specify how the age should be compared as greater or less than.",
          "title": "Comparator",
          "pattern": "(<|<=|>=|>)",
          "type": "string"
        },
        "extension": {
          "description": "Extra information about the age that is not captured by other properties.",
          "title": "Extension",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "description": "A unique identifier for this particular age record.",
          "title": "Id",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "system": {
          "description": "The system that is used for the age code.",
          "title": "System",
          "pattern": "\\S*",
          "type": "string"
        },
        "unit": {
          "description": "The human-readable unit of measure for the age.",
          "title": "Unit",
          "type": "string"
        },
        "value": {
          "description": "The actual age value.",
          "title": "Value",
          "type": "number"
        }
      },
      "type": "object"
    },
    "Annotation": {
      "description": "A text note that contains observational data and comments.",
      "properties": {
        "authorReference": {
          "description": "A reference to the author of the annotation.",
          "title": "Author Reference",
          "type": "object"
        },
        "authorString": {
          "description": "The name of the author as a string.",
          "title": "Author String",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "extension": {
          "description": "Additional content defined by extensions.",
          "title": "Extension",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "description": "A unique identifier for the annotation.",
          "title": "Id",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "text": {
          "description": "The textual content of the annotation.",
          "title": "Text",
          "pattern": "\\s*(\\S|\\s)*",
          "type": "string"
        },
        "time": {
          "description": "The time at which the annotation was made.",
          "title": "Time",
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
          "type": "string"
        }
      },
      "required": [
        "text"
      ],
      "type": "object"
    },
    "Attachment": {
      "description": "A complex type containing content in digital form.",
      "properties": {
        "contentType": {
          "description": "The mime type of the content.",
          "title": "Content Type",
          "pattern": "[^\\s]+(\\s[^\\s]+)*",
          "type": "string"
        },
        "creation": {
          "description": "The date and time when the content was created.",
          "title": "Creation",
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
          "type": "string"
        },
        "data": {
          "description": "The actual data of the content, represented as a base64 string.",
          "title": "Data",
          "pattern": "(\\s*([0-9a-zA-Z\\+\\=]){4}\\s*)+",
          "type": "string"
        },
        "extension": {
          "description": "An extension for additional structured data.",
          "title": "Extension",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "hash": {
          "description": "A hash of the data (e.g., SHA-1, SHA-256, or MD5) for integrity verification.",
          "title": "Hash",
          "pattern": "(\\s*([0-9a-zA-Z\\+\\=]){4}\\s*)+",
          "type": "string"
        },
        "id": {
          "description": "A unique identifier for the attachment.",
          "title": "Id",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "language": {
          "description": "The language of the content, represented as a BCP-47 language tag.",
          "title": "Language",
          "pattern": "[^\\s]+(\\s[^\\s]+)*",
          "type": "string"
        },
        "size": {
          "description": "The size of the data in bytes.",
          "title": "Size",
          "format": "int32",
          "type": "integer"
        },
        "title": {
          "description": "A label or title for the attachment.",
          "title": "Title",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "url": {
          "description": "A URL where the data can be accessed.",
          "title": "Url",
          "pattern": "\\S*",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BundleLink": {
      "description": "A link related to a bundle resource.",
      "properties": {
        "extension": {
          "description": "An extension for additional structured data.",
          "title": "Extension",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "description": "A unique identifier for the link.",
          "title": "Id",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "modifierExtension": {
          "description": "An extension that modifies other elements.",
          "title": "Modifier Extension",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "relation": {
          "description": "The type of relation to the linked resource (e.g., next, previous, etc.).",
          "title": "Relation",
          "type": "string"
        },
        "url": {
          "description": "The URL that points to the target of the link.",
          "title": "Url",
          "pattern": "\\S*",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CapabilityResource": {
      "description": "Describes the capabilities of a resource, including supported operations and interactions.",
      "properties": {
        "conditionalCreate": {
          "description": "Indicates if the server supports conditional create operations for this resource.",
          "title": "Conditional Create",
          "type": "boolean"
        },
        "conditionalDelete": {
          "description": "Specifies if and how the server supports conditional delete operations for this resource.",
          "title": "Conditional Delete",
          "enum": [
            "not-supported",
            "single",
            "multiple"
          ],
          "type": "string"
        },
        "conditionalRead": {
          "description": "Indicates the server's support for conditional read operations for this resource.",
          "title": "Conditional Read",
          "enum": [
            "not-supported",
            "modified-since",
            "not-match",
            "full-support"
          ],
          "type": "string"
        },
        "conditionalUpdate": {
          "description": "Specifies whether the server supports conditional update operations for this resource.",
          "title": "Conditional Update",
          "type": "boolean"
        },
        "documentation": {
          "description": "Provides additional documentation about the resource's capabilities.",
          "title": "Documentation",
          "pattern": "\\s*(\\S|\\s)*",
          "type": "string"
        },
        "extension": {
          "description": "An extension for additional structured data relevant to the resource.",
          "title": "Extension",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "description": "A unique identifier for the capability resource instance.",
          "title": "Id",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "interaction": {
          "description": "A list of interactions supported by the server for this resource.",
          "title": "Interaction",
          "items": {
            "$ref": "#/definitions/ResourceInteraction"
          },
          "type": "array"
        },
        "modifierExtension": {
          "description": "An extension that modifies other elements within the resource.",
          "title": "Modifier Extension",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "operation": {
          "description": "Defines a set of operations supported by the server for this resource.",
          "title": "Operation",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "type": "array"
        },
        "profile": {
          "description": "A reference to the profile that specifies conformance for this resource.",
          "title": "Profile",
          "pattern": "\\S*",
          "type": "string"
        },
        "readHistory": {
          "description": "Indicates if the server supports reading the history of a resource.",
          "title": "Read History",
          "type": "boolean"
        },
        "referencePolicy": {
          "description": "Describes the server's policies around resolving and enforcing references.",
          "title": "Reference Policy",
          "items": {
            "enum": [
              "literal",
              "logical",
              "resolves",
              "enforced",
              "local"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "searchInclude": {
          "description": "A list of search parameters that servers might choose to support when searching this resource.",
          "title": "Search Include",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "searchParam": {
          "description": "A list of search parameters for searching this resource supported by the server.",
          "title": "Search Param",
          "items": {
            "$ref": "#/definitions/SearchParam"
          },
          "type": "array"
        },
        "searchRevInclude": {
          "description": "A list of reverse includes (search parameters) that servers might support when searching this resource.",
          "title": "Search Rev Include",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "supportedProfile": {
          "description": "Profiles that are supported by the server for this resource.",
          "title": "Supported Profile",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "description": "The type of resource being described.",
          "title": "Type",
          "pattern": "[^\\s]+(\\s[^\\s]+)*",
          "type": "string"
        },
        "updateCreate": {
          "description": "Indicates if the server supports create as part of the update operation.",
          "title": "Update Create",
          "type": "boolean"
        },
        "versioning": {
          "description": "The versioning policy supported by the server for this resource.",
          "title": "Versioning",
          "enum": [
            "no-version",
            "versioned",
            "versioned-update"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CapabilityStatement": {
      "description": "Describes the capabilities of a healthcare system in terms of its interactions and standards supported.",
      "properties": {
        "contact": {
          "title": "Contact",
          "description": "Contact details for the publishers of the capability statement.",
          "items": {
            "$ref": "#/definitions/ContactDetail"
          },
          "type": "array"
        },
        "contained": {
          "title": "Contained",
          "description": "Contained, inline Resources.",
          "items": {
            "$ref": "#/definitions/Resource"
          },
          "type": "array"
        },
        "copyright": {
          "title": "Copyright",
          "description": "A legal or historical statement about the capability statement.",
          "pattern": "\\s*(\\S|\\s)*",
          "type": "string"
        },
        "date": {
          "title": "Date",
          "description": "The date this version of the capability statement was published.",
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
          "type": "string"
        },
        "description": {
          "title": "Description",
          "description": "A free text natural language description of the capability statement and its purpose.",
          "pattern": "\\s*(\\S|\\s)*",
          "type": "string"
        },
        "document": {
          "title": "Document",
          "description": "Documentation for the system's implementation of this capability statement.",
          "items": {
            "$ref": "#/definitions/Document"
          },
          "type": "array"
        },
        "experimental": {
          "title": "Experimental",
          "description": "Indicates if this capability statement is for testing purposes.",
          "type": "boolean"
        },
        "extension": {
          "title": "Extension",
          "description": "Additional content defined by extensions.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "fhirVersion": {
          "title": "FHIR Version",
          "description": "The version of FHIR on which this capability statement is based.",
          "pattern": "[^\\s]+(\\s[^\\s]+)*",
          "type": "string"
        },
        "format": {
          "title": "Format",
          "description": "The formats supported by this implementation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "A unique identifier for this capability statement.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "implementation": {
          "$ref": "#/definitions/Implementation"
        },
        "implementationGuide": {
          "title": "Implementation Guide",
          "description": "References to implementation guides that the system conforms to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "implicitRules": {
          "title": "Implicit Rules",
          "description": "A set of rules under which this capability statement is intended to be used.",
          "pattern": "\\S*",
          "type": "string"
        },
        "imports": {
          "title": "Imports",
          "description": "Other capability statements that this capability statement adds to or overrides.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "instantiates": {
          "title": "Instantiates",
          "description": "Canonical references to other capability statements that this software implements.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "jurisdiction": {
          "title": "Jurisdiction",
          "description": "Identifies the jurisdiction this capability statement applies to.",
          "items": {
            "$ref": "#/definitions/CodeableConcept"
          },
          "type": "array"
        },
        "kind": {
          "title": "Kind",
          "description": "The type of capability statement (instance, capability, requirements).",
          "enum": [
            "instance",
            "capability",
            "requirements"
          ],
          "type": "string"
        },
        "language": {
          "title": "Language",
          "description": "The language this capability statement is written in.",
          "pattern": "[^\\s]+(\\s[^\\s]+)*",
          "type": "string"
        },
        "messaging": {
          "title": "Messaging",
          "description": "A description of the messaging capabilities of the solution.",
          "items": {
            "$ref": "#/definitions/Messaging"
          },
          "type": "array"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        },
        "modifierExtension": {
          "title": "Modifier Extension",
          "description": "Extensions that cannot be ignored even if unrecognized.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "name": {
          "title": "Name",
          "description": "A natural language name identifying the capability statement.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "patchFormat": {
          "title": "Patch Format",
          "description": "The formats supported for patch operations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "publisher": {
          "title": "Publisher",
          "description": "The organization responsible for the publication of the capability statement.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "purpose": {
          "title": "Purpose",
          "description": "Explanation of why this capability statement is needed and why it has been designed as it has.",
          "pattern": "\\s*(\\S|\\s)*",
          "type": "string"
        },
        "resourceType": {
          "title": "Resource Type",
          "description": "The type of resource described by this capability statement.",
          "type": "string"
        },
        "rest": {
          "title": "Rest",
          "description": "A definition of the restful capabilities of the solution, if any.",
          "items": {
            "$ref": "#/definitions/Rest"
          },
          "type": "array"
        },
        "software": {
          "$ref": "#/definitions/Software"
        },
        "status": {
          "title": "Status",
          "description": "The publication status of this capability statement (draft, active, retired, unknown).",
          "enum": [
            "draft",
            "active",
            "retired",
            "unknown"
          ],
          "type": "string"
        },
        "text": {
          "$ref": "#/definitions/Narrative"
        },
        "title": {
          "title": "Title",
          "description": "The title of the capability statement, if any.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "url": {
          "title": "Url",
          "description": "The canonical URL of the capability statement, which remains the same regardless of version.",
          "pattern": "\\S*",
          "type": "string"
        },
        "useContext": {
          "title": "Use Context",
          "description": "The context in which the capability statement is intended to be used.",
          "items": {
            "$ref": "#/definitions/UsageContext"
          },
          "type": "array"
        },
        "version": {
          "title": "Version",
          "description": "The version of the capability statement.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        }
      },
      "required": [
        "date",
        "fhirVersion",
        "format",
        "kind",
        "resourceType",
        "status"
      ],
      "type": "object"
    },
    "CodeFilter": {
      "description": "Specifies a filter that can be applied to code searching within resources.",
      "properties": {
        "code": {
          "title": "Code",
          "description": "The code(s) that will be targeted by the filter.",
          "items": {
            "$ref": "#/definitions/Coding"
          },
          "type": "array"
        },
        "extension": {
          "title": "Extension",
          "description": "An extension for additional structured data related to the CodeFilter.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "A unique identifier for the CodeFilter instance.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "path": {
          "title": "Path",
          "description": "The path that describes where the filter applies.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "searchParam": {
          "title": "Search Param",
          "description": "The search parameter that is targeted by the filter.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "valueSet": {
          "title": "Value Set",
          "description": "The ValueSet that the CodeFilter applies to.",
          "pattern": "\\S*",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CodeableConcept": {
      "description": "A concept that may be defined by a formal reference to a terminology or ontology or may be provided by text.",
      "properties": {
        "coding": {
          "title": "Coding",
          "description": "A list of codings for the concept.",
          "items": {
            "$ref": "#/definitions/Coding"
          },
          "type": "array"
        },
        "extension": {
          "title": "Extension",
          "description": "An extension for additional structured data related to the CodeableConcept.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "A unique identifier for the CodeableConcept instance.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "text": {
          "title": "Text",
          "description": "A human language representation of the concept as seen/selected/uttered by the user who entered the data and/or which represents the intended meaning of the user.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Coding": {
      "description": "A reference to a code defined in a coding system.",
      "properties": {
        "code": {
          "title": "Code",
          "description": "The symbol in syntax defined by the system.",
          "pattern": "[^\\s]+(\\s[^\\s]+)*",
          "type": "string"
        },
        "display": {
          "title": "Display",
          "description": "A representation of the meaning of the code in human language.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "extension": {
          "title": "Extension",
          "description": "Additional data provided through extensions.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "A unique identifier for this coding instance.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "system": {
          "title": "System",
          "description": "The identification of the code system that defines the meaning of the symbol in the code.",
          "pattern": "\\S*",
          "type": "string"
        },
        "userSelected": {
          "title": "User Selected",
          "description": "Indicates whether this coding was selected directly by the user.",
          "type": "boolean"
        },
        "version": {
          "title": "Version",
          "description": "The version of the code system which was used to choose this code.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContactDetail": {
      "description": "Specifies contact information for a person or organization.",
      "properties": {
        "extension": {
          "title": "Extension",
          "description": "Additional data provided through extensions.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "A unique identifier for this contact detail instance.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "name": {
          "title": "Name",
          "description": "The name of the individual or organization to contact.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "telecom": {
          "title": "Telecom",
          "description": "The contact details for the individual or organization.",
          "items": {
            "$ref": "#/definitions/ContactPoint"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ContactPoint": {
      "description": "Details of a technology-mediated contact point (phone, fax, email, etc.).",
      "properties": {
        "extension": {
          "title": "Extension",
          "description": "Additional data provided through extensions.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "A unique identifier for this contact point instance.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "period": {
          "$ref": "#/definitions/Period"
        },
        "rank": {
          "title": "Rank",
          "description": "Specifies a preference order for this contact point.",
          "format": "int32",
          "minimum": 1,
          "type": "integer"
        },
        "system": {
          "title": "System",
          "description": "The system of technology-mediated communication.",
          "enum": [
            "phone",
            "fax",
            "email",
            "pager",
            "url",
            "sms",
            "other"
          ],
          "type": "string"
        },
        "use": {
          "title": "Use",
          "description": "Identifies the purpose for this contact point.",
          "enum": [
            "home",
            "work",
            "temp",
            "old",
            "mobile"
          ],
          "type": "string"
        },
        "value": {
          "title": "Value",
          "description": "The actual contact point details, such as phone number or email address.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Contributor": {
      "description": "A contributor to the resource.",
      "properties": {
        "contact": {
          "title": "Contact",
          "description": "Contact details for the contributor.",
          "items": {
            "$ref": "#/definitions/ContactDetail"
          },
          "type": "array"
        },
        "extension": {
          "title": "Extension",
          "description": "Additional information about the contributor.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier for the contributor.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "name": {
          "title": "Name",
          "description": "The name of the contributor.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "type": {
          "title": "Type",
          "description": "The type of contribution (e.g., author, editor).",
          "enum": [
            "author",
            "editor",
            "reviewer",
            "endorser"
          ],
          "type": "string"
        }
      },
      "required": [
        "name",
        "type"
      ],
      "type": "object"
    },
    "DataRequirement": {
      "description": "Describes the data requirements for a module or evaluation context.",
      "properties": {
        "codeFilter": {
          "title": "Code Filter",
          "description": "Filters on codes in data elements.",
          "items": {
            "$ref": "#/definitions/CodeFilter"
          },
          "type": "array"
        },
        "dateFilter": {
          "title": "Date Filter",
          "description": "Filters on date/time periods for data elements.",
          "items": {
            "$ref": "#/definitions/DateFilter"
          },
          "type": "array"
        },
        "extension": {
          "title": "Extension",
          "description": "Additional data for the requirement.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier for the data requirement.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "limit": {
          "title": "Limit",
          "description": "Maximum number of results to return.",
          "format": "int32",
          "minimum": 1,
          "type": "integer"
        },
        "mustSupport": {
          "title": "Must Support",
          "description": "Elements that must be supported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "profile": {
          "title": "Profile",
          "description": "Specific profiles for the data.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sort": {
          "title": "Sort",
          "description": "Order of the returned data.",
          "items": {
            "$ref": "#/definitions/Sort"
          },
          "type": "array"
        },
        "subjectCodeableConcept": {
          "$ref": "#/definitions/CodeableConcept"
        },
        "subjectReference": {
          "title": "Subject Reference",
          "description": "The subject of the data requirement if specified as a reference.",
          "type": "object"
        },
        "type": {
          "title": "Type",
          "description": "The type of the required data.",
          "type": "string"
        }
      },
      "required": [
        "type"
      ],
      "type": "object"
    },
    "DateFilter": {
      "description": "Specifies the criteria for filtering by date.",
      "properties": {
        "extension": {
          "title": "Extension",
          "description": "Additional data for the filter.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier for the date filter.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "path": {
          "title": "Path",
          "description": "The path for the date element to filter on.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "searchParam": {
          "title": "Search Param",
          "description": "A search parameter for the date element to filter on.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "valueDateTime": {
          "title": "Value DateTime",
          "description": "The specific date time value to filter on.",
          "type": "string"
        },
        "valueDuration": {
          "$ref": "#/definitions/Duration"
        },
        "valuePeriod": {
          "$ref": "#/definitions/Period"
        }
      },
      "type": "object"
    },
    "Document": {
      "properties": {
        "documentation": {
          "title": "Documentation",
          "description": "Descriptive information about the document.",
          "pattern": "\\s*(\\S|\\s)*",
          "type": "string"
        },
        "extension": {
          "title": "Extension",
          "description": "Additional content defined by extensions.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "A unique identifier for the document.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "mode": {
          "title": "Mode",
          "description": "Indicates if the application acts as a producer or consumer.",
          "enum": [
            "producer",
            "consumer"
          ],
          "type": "string"
        },
        "modifierExtension": {
          "title": "Modifier Extension",
          "description": "Extensions that cannot be ignored.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "profile": {
          "title": "Profile",
          "description": "Conformance profile for the document.",
          "pattern": "\\S*",
          "type": "string"
        }
      },
      "required": [
        "mode",
        "profile"
      ],
      "type": "object"
    },
    "Dosage": {
      "description": "Indicates how a medication is to be administered.",
      "properties": {
        "additionalInstruction": {
          "title": "Additional Instruction",
          "description": "Supplemental instructions for the patient or caregiver.",
          "items": {
            "$ref": "#/definitions/CodeableConcept"
          },
          "type": "array"
        },
        "asNeededBoolean": {
          "title": "As Needed Boolean",
          "description": "Indicates if the medication is needed or not.",
          "type": "boolean"
        },
        "asNeededCodeableConcept": {
          "$ref": "#/definitions/CodeableConcept"
        },
        "doseAndRate": {
          "title": "Dose And Rate",
          "description": "The amount of medication administered and rate of administration.",
          "items": {
            "$ref": "#/definitions/DosageDoseAndRate"
          },
          "type": "array"
        },
        "extension": {
          "title": "Extension",
          "description": "Additional data for the dosage.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier for the dosage instruction.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "maxDosePerAdministration": {
          "$ref": "#/definitions/SimpleQuantity"
        },
        "maxDosePerLifetime": {
          "$ref": "#/definitions/SimpleQuantity"
        },
        "maxDosePerPeriod": {
          "$ref": "#/definitions/Ratio"
        },
        "method": {
          "$ref": "#/definitions/CodeableConcept"
        },
        "modifierExtension": {
          "title": "Modifier Extension",
          "description": "Extensions that modify other elements.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "patientInstruction": {
          "title": "Patient Instruction",
          "description": "Instructions for the patient or caregiver.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "route": {
          "$ref": "#/definitions/CodeableConcept"
        },
        "sequence": {
          "title": "Sequence",
          "description": "The order of the dosage instructions.",
          "format": "int32",
          "type": "integer"
        },
        "site": {
          "$ref": "#/definitions/CodeableConcept"
        },
        "text": {
          "title": "Text",
          "description": "Free text dosage instructions e.g. 'Take with water'.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "timing": {
          "$ref": "#/definitions/Timing"
        }
      },
      "type": "object"
    },
    "DosageDoseAndRate": {
      "properties": {
        "doseQuantity": {
          "$ref": "#/definitions/SimpleQuantity"
        },
        "doseRange": {
          "$ref": "#/definitions/Range"
        },
        "extension": {
          "title": "Extension",
          "description": "Additional data for the dose and rate.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier for the dose and rate detail.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "rateQuantity": {
          "$ref": "#/definitions/SimpleQuantity"
        },
        "rateRange": {
          "$ref": "#/definitions/Range"
        },
        "rateRatio": {
          "$ref": "#/definitions/Ratio"
        },
        "type": {
          "$ref": "#/definitions/CodeableConcept"
        }
      },
      "type": "object"
    },
    "Duration": {
      "description": "A length of time.",
      "properties": {
        "code": {
          "title": "Code",
          "description": "A code specifying the unit of time (e.g., minutes, hours).",
          "pattern": "[^\\s]+(\\s[^\\s]+)*",
          "type": "string"
        },
        "comparator": {
          "title": "Comparator",
          "description": "Used to specify if the duration is less than, equal to, or greater than the stated value.",
          "pattern": "(<|<=|>=|>)",
          "type": "string"
        },
        "extension": {
          "title": "Extension",
          "description": "Additional content defined by extensions.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "A unique identifier for the duration.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "system": {
          "title": "System",
          "description": "The system that defines the coded unit.",
          "pattern": "\\S*",
          "type": "string"
        },
        "unit": {
          "title": "Unit",
          "description": "The unit of time (e.g., minutes, hours).",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "value": {
          "title": "Value",
          "description": "The numerical value of the duration.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "Expression": {
      "description": "A structured expression.",
      "properties": {
        "description": {
          "title": "Description",
          "description": "A human-readable description of the expression.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "expression": {
          "title": "Expression",
          "description": "The text of the expression.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "extension": {
          "title": "Extension",
          "description": "Additional content defined by extensions.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "A unique identifier for the expression.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "language": {
          "title": "Language",
          "description": "The language of the expression (e.g., SQL, FHIRPath).",
          "pattern": "[^\\s]+(\\s[^\\s]+)*",
          "type": "string"
        },
        "name": {
          "title": "Name",
          "description": "A name for the expression, to be used for references.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "reference": {
          "title": "Reference",
          "description": "A URI reference to the expression.",
          "pattern": "\\S*",
          "type": "string"
        }
      },
      "required": [
        "language"
      ],
      "type": "object"
    },
    "GatewayError": {
      "description": "Represents an error response from the API Gateway, for scenarios like authorization failures or rate limits exceeded.",
      "properties": {
        "message": {
          "title": "Message",
          "description": "A human-readable description of the error.",
          "type": "string"
        }
      },
      "required": [
        "message"
      ],
      "type": "object"
    },
    "HoursOfOperation": {
      "description": "Specifies the hours during which operations are conducted.",
      "properties": {
        "allDay": {
          "title": "All Day",
          "description": "Indicates whether the service is available all day.",
          "type": "boolean"
        },
        "closingTime": {
          "title": "Closing Time",
          "description": "The time when operations end for the day.",
          "pattern": "([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?",
          "type": "string"
        },
        "daysOfWeek": {
          "title": "Days of Week",
          "description": "The days of the week when operations are conducted.",
          "items": {
            "enum": [
              "mon",
              "tue",
              "wed",
              "thu",
              "fri",
              "sat",
              "sun"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "extension": {
          "title": "Extension",
          "description": "Additional content defined by extensions.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "A unique identifier for these hours of operation.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "modifierExtension": {
          "title": "Modifier Extension",
          "description": "Extensions that modify the hours of operation.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "openingTime": {
          "title": "Opening Time",
          "description": "The time when operations begin for the day.",
          "pattern": "([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?",
          "type": "string"
        }
      },
      "type": "object"
    },
    "HumanName": {
      "description": "A human's name with the ability to identify parts and usage.",
      "properties": {
        "extension": {
          "title": "Extension",
          "description": "Additional content defined by extensions.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "family": {
          "title": "Family",
          "description": "The family name (often called 'Surname').",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "given": {
          "title": "Given",
          "description": "Given names (not including the family name).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "A unique identifier for the human name.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "period": {
          "$ref": "#/definitions/Period"
        },
        "prefix": {
          "title": "Prefix",
          "description": "Honorifics or titles preceding the name.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suffix": {
          "title": "Suffix",
          "description": "Qualifiers or titles following the name.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "text": {
          "title": "Text",
          "description": "Text representation of the full name.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "use": {
          "title": "Use",
          "description": "Identifies the purpose for this name.",
          "enum": [
            "usual",
            "official",
            "temp",
            "nickname",
            "anonymous",
            "old",
            "maiden"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Identifier": {
      "description": "A unique identifier assigned to an entity.",
      "properties": {
        "assigner": {
          "title": "Assigner",
          "description": "The organization that issued the identifier.",
          "type": "object"
        },
        "extension": {
          "title": "Extension",
          "description": "Additional data for the identifier.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "A unique identifier for the Identifier instance.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "period": {
          "$ref": "#/definitions/Period"
        },
        "system": {
          "title": "System",
          "description": "The system that is used to assign the identifier.",
          "pattern": "\\S*",
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/CodeableConcept"
        },
        "use": {
          "title": "Use",
          "description": "The intended use of the identifier.",
          "enum": [
            "usual",
            "official",
            "temp",
            "secondary",
            "old"
          ],
          "type": "string"
        },
        "value": {
          "title": "Value",
          "description": "The value of the identifier.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Implementation": {
      "description": "Details about the implementation of a software solution.",
      "properties": {
        "custodian": {
          "title": "Custodian",
          "description": "The organization managing the implementation.",
          "type": "object"
        },
        "description": {
          "title": "Description",
          "description": "A description of the implementation.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "extension": {
          "title": "Extension",
          "description": "Additional data for the implementation.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "A unique identifier for the Implementation instance.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "modifierExtension": {
          "title": "Modifier Extension",
          "description": "Extensions that modify the implementation.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "url": {
          "title": "Url",
          "description": "The URL of the implementation documentation or homepage.",
          "pattern": "\\S*",
          "type": "string"
        }
      },
      "required": [
        "description"
      ],
      "type": "object"
    },
    "Issue": {
      "description": "Information about the outcome of an operation: success, failure, partial success, etc.",
      "properties": {
        "code": {
          "title": "Code",
          "description": "A code indicating the type of issue.",
          "pattern": "[^\\s]+(\\s[^\\s]+)*",
          "type": "string"
        },
        "details": {
          "$ref": "#/definitions/CodeableConcept"
        },
        "diagnostics": {
          "title": "Diagnostics",
          "description": "Diagnostic information about the issue.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        },
        "expression": {
          "title": "Expression",
          "description": "Expressions related to the issue.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "extension": {
          "title": "Extension",
          "description": "Additional data for the issue.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "A unique identifier for the Issue instance.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "location": {
          "title": "Location",
          "description": "The location of the issue in the source.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "modifierExtension": {
          "title": "Modifier Extension",
          "description": "Extensions that modify the issue.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "severity": {
          "title": "Severity",
          "description": "The severity of the issue (fatal, error, warning, information).",
          "enum": [
            "fatal",
            "error",
            "warning",
            "information"
          ],
          "type": "string"
        }
      },
      "required": [
        "code",
        "severity"
      ],
      "type": "object"
    },
    "Location": {
      "description": "Information about physical locations where services are provided and resources are located.",
      "properties": {
        "address": {
          "$ref": "#/definitions/Address"
        },
        "alias": {
          "title": "Alias",
          "description": "A list of alternative names that the location is known as, or was known as in the past.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "availabilityExceptions": {
          "title": "Availability Exceptions",
          "description": "A description of when the location is not available.",
          "type": "string"
        },
        "contained": {
          "title": "Contained",
          "description": "Contained, inline Resources.",
          "items": {
            "$ref": "#/definitions/Resource"
          },
          "type": "array"
        },
        "description": {
          "title": "Description",
          "description": "Description of the Location, which helps in finding or referencing the place.",
          "type": "string"
        },
        "endpoint": {
          "title": "Endpoint",
          "description": "Technical endpoints providing access to services operated for the location.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "extension": {
          "title": "Extension",
          "description": "Additional content defined by extensions.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "hoursOfOperation": {
          "$ref": "#/definitions/HoursOfOperation"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier for the Location resource.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "identifier": {
          "title": "Identifier",
          "description": "Unique code or number identifying the location to its users.",
          "items": {
            "$ref": "#/definitions/Identifier"
          },
          "type": "array"
        },
        "implicitRules": {
          "title": "Implicit Rules",
          "description": "A set of rules under which this content was created.",
          "pattern": "\\S*",
          "type": "string"
        },
        "language": {
          "title": "Language",
          "description": "The language of the resource content.",
          "pattern": "[^\\s]+(\\s[^\\s]+)*",
          "type": "string"
        },
        "managingOrganization": {
          "title": "Managing Organization",
          "description": "The organization responsible for the provisioning and upkeep of the location.",
          "type": "object"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        },
        "mode": {
          "title": "Mode",
          "description": "Indicates whether the location is still in use.",
          "enum": [
            "instance",
            "kind"
          ],
          "type": "string"
        },
        "modifierExtension": {
          "title": "Modifier Extension",
          "description": "Extensions that cannot be ignored.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "name": {
          "title": "Name",
          "description": "Name of the location as used by humans.",
          "type": "string"
        },
        "operationalStatus": {
          "$ref": "#/definitions/Coding"
        },
        "partOf": {
          "title": "Part Of",
          "description": "Another Location of which this Location is physically a part of.",
          "type": "object"
        },
        "physicalType": {
          "$ref": "#/definitions/CodeableConcept"
        },
        "position": {
          "$ref": "#/definitions/Position"
        },
        "resourceType": {
          "title": "Resource Type",
          "description": "The type of the resource (Location).",
          "type": "string"
        },
        "status": {
          "title": "Status",
          "description": "The status of the location (e.g., active, suspended, inactive).",
          "enum": [
            "active",
            "suspended",
            "inactive"
          ],
          "type": "string"
        },
        "telecom": {
          "title": "Telecom",
          "description": "Contact details of the location.",
          "items": {
            "$ref": "#/definitions/ContactPoint"
          },
          "type": "array"
        },
        "text": {
          "$ref": "#/definitions/Narrative"
        },
        "type": {
          "title": "Type",
          "description": "Type of function performed at the location.",
          "items": {
            "$ref": "#/definitions/CodeableConcept"
          },
          "type": "array"
        }
      },
      "required": [
        "name",
        "resourceType"
      ],
      "type": "object"
    },
    "LocationBundle": {
      "description": "A collection of 'Location' resources returned as a result of a search/query operation.",
      "properties": {
        "entry": {
          "title": "Entry",
          "description": "A list of entries, each encapsulating a 'Location' resource.",
          "items": {
            "$ref": "#/definitions/LocationEntry"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier for the bundle.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "identifier": {
          "$ref": "#/definitions/Identifier"
        },
        "implicitRules": {
          "title": "Implicit Rules",
          "description": "A reference to the rules under which the bundle was generated.",
          "pattern": "\\S*",
          "type": "string"
        },
        "language": {
          "title": "Language",
          "description": "The language of the bundle.",
          "pattern": "[^\\s]+(\\s[^\\s]+)*",
          "type": "string"
        },
        "link": {
          "title": "Link",
          "description": "A series of links that provide the context of this bundle.",
          "items": {
            "$ref": "#/definitions/BundleLink"
          },
          "type": "array"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        },
        "resourceType": {
          "title": "Resource Type",
          "description": "The type of the resource (Bundle).",
          "type": "string"
        },
        "signature": {
          "$ref": "#/definitions/Signature"
        },
        "timestamp": {
          "title": "Timestamp",
          "description": "The date/time at which the bundle was composed.",
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))",
          "type": "string"
        },
        "total": {
          "title": "Total",
          "description": "The total number of resources in the bundle.",
          "format": "int32",
          "minimum": 0,
          "type": "integer"
        },
        "type": {
          "title": "Type",
          "description": "The type of the bundle (e.g., document, searchset, collection).",
          "enum": [
            "document",
            "message",
            "transaction",
            "transaction-response",
            "batch",
            "batch-response",
            "history",
            "searchset",
            "collection"
          ],
          "type": "string"
        }
      },
      "required": [
        "resourceType",
        "type"
      ],
      "type": "object"
    },
    "LocationEntry": {
      "description": "An entry in a 'LocationBundle' containing a 'Location' resource and related information.",
      "properties": {
        "extension": {
          "title": "Extension",
          "description": "Additional content defined by extensions.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "fullUrl": {
          "title": "Full Url",
          "description": "The absolute URL that is the target of the entry.",
          "pattern": "\\S*",
          "type": "string"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier for the entry within the bundle.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "link": {
          "title": "Link",
          "description": "A series of links related to the entry.",
          "items": {
            "$ref": "#/definitions/BundleLink"
          },
          "type": "array"
        },
        "modifierExtension": {
          "title": "Modifier Extension",
          "description": "Extensions that modify the entry.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "request": {
          "$ref": "#/definitions/Request"
        },
        "resource": {
          "$ref": "#/definitions/Location"
        },
        "response": {
          "$ref": "#/definitions/Response"
        },
        "search": {
          "$ref": "#/definitions/Search"
        }
      },
      "type": "object"
    },
    "Messaging": {
      "description": "Specifies the messaging capabilities of the system, including endpoints and supported messages.",
      "properties": {
        "documentation": {
          "title": "Documentation",
          "description": "Documentation on the messaging capabilities.",
          "pattern": "\\s*(\\S|\\s)*",
          "type": "string"
        },
        "endpoint": {
          "title": "Endpoint",
          "description": "The network address where messages are accepted.",
          "items": {
            "$ref": "#/definitions/MessagingEndpoint"
          },
          "type": "array"
        },
        "extension": {
          "title": "Extension",
          "description": "Additional content defined by extensions.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier for the Messaging resource.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "modifierExtension": {
          "title": "Modifier Extension",
          "description": "Extensions that modify the resource.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "reliableCache": {
          "title": "Reliable Cache",
          "description": "The duration in seconds for which the endpoint can reliably cache messages.",
          "format": "int32",
          "minimum": 0,
          "type": "integer"
        },
        "supportedMessage": {
          "title": "Supported Message",
          "description": "Messages supported by this system.",
          "items": {
            "$ref": "#/definitions/SupportedMessage"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "MessagingEndpoint": {
      "description": "An endpoint that provides access to messaging services.",
      "properties": {
        "address": {
          "title": "Address",
          "description": "The network address of the endpoint.",
          "pattern": "\\S*",
          "type": "string"
        },
        "extension": {
          "title": "Extension",
          "description": "Additional content defined by extensions.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier for the MessagingEndpoint instance.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "modifierExtension": {
          "title": "Modifier Extension",
          "description": "Extensions that modify the endpoint.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "protocol": {
          "$ref": "#/definitions/Coding"
        }
      },
      "required": [
        "address",
        "protocol"
      ],
      "type": "object"
    },
    "Meta": {
      "description": "Metadata about a resource, including version, profile, and security.",
      "properties": {
        "extension": {
          "title": "Extension",
          "description": "Additional content defined by extensions.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier for the Meta instance.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "lastUpdated": {
          "title": "Last Updated",
          "description": "The last time the resource was updated.",
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))",
          "type": "string"
        },
        "profile": {
          "title": "Profile",
          "description": "Profiles that define the resource's structure and use.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "security": {
          "title": "Security",
          "description": "Security tags for the resource.",
          "items": {
            "$ref": "#/definitions/Coding"
          },
          "type": "array"
        },
        "source": {
          "title": "Source",
          "description": "The location where the resource was generated.",
          "pattern": "\\S*",
          "type": "string"
        },
        "tag": {
          "title": "Tag",
          "description": "Tags for the resource.",
          "items": {
            "$ref": "#/definitions/Coding"
          },
          "type": "array"
        },
        "versionId": {
          "title": "Version Id",
          "description": "The version of the resource.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Money": {
      "description": "A representation of monetary value including currency.",
      "properties": {
        "currency": {
          "title": "Currency",
          "description": "The code for the currency of the money.",
          "pattern": "[^\\s]+(\\s[^\\s]+)*",
          "type": "string"
        },
        "extension": {
          "title": "Extension",
          "description": "Additional content defined by extensions.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier for the Money instance.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "value": {
          "title": "Value",
          "description": "Numerical value (with implicit precision) of the money.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "Narrative": {
      "description": "A human-readable summary of the resource conveying the essential clinical and business information for the resource.",
      "properties": {
        "div": {
          "title": "Div",
          "description": "The XHTML content of the narrative.",
          "pattern": "<.+>",
          "type": "string"
        },
        "extension": {
          "title": "Extension",
          "description": "Additional content defined by extensions.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier for the Narrative instance.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "status": {
          "title": "Status",
          "description": "The status of the narrative content generation.",
          "enum": [
            "generated",
            "extensions",
            "additional",
            "empty"
          ],
          "type": "string"
        }
      },
      "required": [
        "div",
        "status"
      ],
      "type": "object"
    },
    "Operation": {
      "description": "An action or operation supported by the system.",
      "properties": {
        "definition": {
          "title": "Definition",
          "description": "A reference to the formal definition of the operation.",
          "pattern": "\\S*",
          "type": "string"
        },
        "documentation": {
          "title": "Documentation",
          "description": "Documentation about the operation.",
          "pattern": "\\s*(\\S|\\s)*",
          "type": "string"
        },
        "extension": {
          "title": "Extension",
          "description": "Additional content defined by extensions.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier for the Operation instance.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "modifierExtension": {
          "title": "Modifier Extension",
          "description": "Extensions that modify the operation.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "name": {
          "title": "Name",
          "description": "A human-readable name for the operation.",
          "pattern": "[ \\r\\n\\t\\S]+",
          "type": "string"
        }
      },
      "required": [
        "definition",
        "name"
      ],
      "type": "object"
    },
    "OperationOutcome": {
      "description": "A collection of error, warning, or information messages that result from a system operation.",
      "properties": {
        "contained": {
          "title": "Contained",
          "description": "Contained resources within the OperationOutcome.",
          "items": {
            "$ref": "#/definitions/Resource"
          },
          "type": "array"
        },
        "extension": {
          "title": "Extension",
          "description": "Extensions for additional information.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier for the OperationOutcome instance.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "implicitRules": {
          "title": "Implicit Rules",
          "description": "A reference to the set of rules under which this resource was created.",
          "pattern": "\\S*",
          "type": "string"
        },
        "issue": {
          "title": "Issue",
          "description": "A list of issues related to the operation.",
          "items": {
            "$ref": "#/definitions/Issue"
          },
          "type": "array"
        },
        "language": {
          "title": "Language",
          "description": "The language of the resource content.",
          "pattern": "[^\\s]+(\\s[^\\s]+)*",
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        },
        "modifierExtension": {
          "title": "Modifier Extension",
          "description": "Extensions that modify the resource.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "resourceType": {
          "title": "Resource Type",
          "description": "Type of resource (OperationOutcome).",
          "type": "string"
        },
        "text": {
          "$ref": "#/definitions/Narrative"
        }
      },
      "required": [
        "issue",
        "resourceType"
      ],
      "type": "object"
    },
    "Organization": {
      "description": "Represents a group of people defined by a common purpose, such as a hospital, department, team, or insurance company.",
      "properties": {
        "active": {
          "title": "Active",
          "description": "Indicates whether the organization is active or inactive.",
          "type": "boolean"
        },
        "address": {
          "items": {
            "$ref": "#/definitions/Address"
          },
          "type": "array"
        },
        "alias": {
          "title": "Alias",
          "description": "A list of alternative names that the organization is known by, or was known by in the past.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "contact": {
          "items": {
            "$ref": "#/definitions/OrganizationContact"
          },
          "type": "array"
        },
        "contained": {
          "items": {
            "$ref": "#/definitions/Resource"
          },
          "type": "array"
        },
        "endpoint": {
          "title": "Endpoint",
          "description": "Technical endpoints providing access to electronic services operated for the organization.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "extension": {
          "title": "Extension",
          "description": "Extensions for additional information.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier for the Organization instance.",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
          "type": "string"
        },
        "identifier": {
          "items": {
            "$ref": "#/definitions/Identifier"
          },
          "type": "array"
        },
        "implicitRules": {
          "title": "Implicit Rules",
          "description": "A reference to the set of rules under which this resource was created.",
          "pattern": "\\S*",
          "type": "string"
        },
        "language": {
          "title": "Language",
          "description": "The language of the resource content.",
          "pattern": "[^\\s]+(\\s[^\\s]+)*",
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        },
        "modifierExtension": {
          "title": "Modifier Extension",
          "description": "Extensions that modify the resource.",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "name": {
          "title": "Name",
          "description": "The name of the organization.",
          "type": "string"
        },
        "partOf": {
          "title": "Part Of",
          "description": "The organization of which this organization forms a part.",
          "type": "object"
        },
        "resourceType": {
          "title": "Resource Type",
[...]
