{
  "swagger": "2.0",
  "info": {
    "title": "Survalyzer Swiss",
    "contact": {
      "name": "Survalyzer Developer Center",
      "url": "https://developer.survalyzer.com/"
    },
    "version": "v3.0",
    "description": "The Survalyzer connector provides simplified access to all API capabilities of the Swiss data center."
  },
  "basePath": "/",
  "host": "api.survalyzer-swiss.app",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/publicapi/Distribute/v3/CreateAndInviteMembers": {
      "post": {
        "tags": [
          "Distribute"
        ],
        "summary": "Invite Members",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateAndInviteMembersRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateAndInviteMembersResponse"
            }
          }
        },
        "operationId": "CreateAndInviteMembers",
        "description": "This action offers the possibility to create and invite members."
      }
    },
    "/publicapi/Common/v3/CreateArtifact": {
      "post": {
        "tags": [
          "Common"
        ],
        "summary": "Create Artifact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateArtifactRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateArtifactResponse"
            }
          }
        },
        "operationId": "CreateArtifact",
        "description": "This action offers the possibility to create new artifact."
      }
    },
    "/publicapi/Panel/v3/CreateMembers": {
      "post": {
        "tags": [
          "Panel"
        ],
        "summary": "Create Members",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateMembersRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateMembersResponse"
            }
          }
        },
        "operationId": "CreateMembers",
        "description": "This action offers the possibility to create the member list."
      }
    },
    "/publicapi/Panel/v3/CreatePanel": {
      "post": {
        "tags": [
          "Panel"
        ],
        "summary": "Create Panel or Sample",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreatePanelRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreatePanelResponse"
            }
          }
        },
        "operationId": "CreatePanel",
        "description": "This action offers the possibility to create new panel."
      }
    },
    "/publicapi/Survey/v3/CreateSurvey": {
      "post": {
        "tags": [
          "Survey"
        ],
        "summary": "Create Survey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateSurveyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateSurveyResponse"
            }
          }
        },
        "operationId": "CreateSurvey",
        "description": "This action offers the possibility to create survey."
      }
    },
    "/publicapi/WebHook/v3/CreateWebHook": {
      "post": {
        "tags": [
          "WebHook"
        ],
        "summary": "Create WebHook",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateWebHookRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateWebHookResponse"
            }
          }
        },
        "operationId": "CreateWebHook",
        "description": "This action offers the possibility to create the web hook."
      }
    },
    "/publicapi/Common/v3/DeleteArtifact": {
      "post": {
        "tags": [
          "Common"
        ],
        "summary": "Delete Artifact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DeleteArtifactRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteArtifactResponse"
            }
          }
        },
        "operationId": "DeleteArtifact",
        "description": "This action offers the possibility to delete artifact."
      }
    },
    "/publicapi/Distribute/v3/DeleteDistributor": {
      "post": {
        "tags": [
          "Distribute"
        ],
        "summary": "Delete Distributor",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DeleteDistributorRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteDistributorResponse"
            }
          }
        },
        "operationId": "DeleteDistributor",
        "description": "This action offers the possibility to delete distributor."
      }
    },
    "/publicapi/Interview/v3/DeleteInterview": {
      "post": {
        "tags": [
          "Interview"
        ],
        "summary": "Delete Interview",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DeleteInterviewRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteInterviewResponse"
            }
          }
        },
        "operationId": "DeleteInterview",
        "description": "This action offers the possibility to deletes the interview."
      }
    },
    "/publicapi/Panel/v3/DeleteMembers": {
      "post": {
        "tags": [
          "Panel"
        ],
        "summary": "Delete Members",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DeleteMembersRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteMembersResponse"
            }
          }
        },
        "operationId": "DeleteMembers",
        "description": "This action offers the possibility to delete members."
      }
    },
    "/publicapi/Panel/v3/DeletePanel": {
      "post": {
        "tags": [
          "Panel"
        ],
        "summary": "Delete Panel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DeletePanelRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeletePanelResponse"
            }
          }
        },
        "operationId": "DeletePanel",
        "description": "This action offers the possibility to delete the panel."
      }
    },
    "/publicapi/Distribute/v3/DeleteSamplingProject": {
      "post": {
        "tags": [
          "Distribute"
        ],
        "summary": "Delete Sampling Project",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DeleteSamplingProjectRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteSamplingProjectResponse"
            }
          }
        },
        "operationId": "DeleteSamplingProject",
        "description": "This action offers the possibility to delete the sampling project."
      }
    },
    "/publicapi/Survey/v3/DeleteSurvey": {
      "post": {
        "tags": [
          "Survey"
        ],
        "summary": "Delete Survey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DeleteSurveyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteSurveyResponse"
            }
          }
        },
        "operationId": "DeleteSurvey",
        "description": "This action offers the possibility to delete the survey."
      }
    },
    "/publicapi/WebHook/v3/DeleteWebHook": {
      "post": {
        "tags": [
          "WebHook"
        ],
        "summary": "Delete WebHook",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DeleteWebHookRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteWebHookResponse"
            }
          }
        },
        "operationId": "DeleteWebHook",
        "description": "This action offers the possibility to deletes the web hook."
      }
    },
    "/publicapi/Interview/v3/DownloadAnswers": {
      "post": {
        "tags": [
          "Interview"
        ],
        "summary": "Download Interview PDF",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "tenant",
            "x-ms-summary": "Tenant",
            "description": "The tenant.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "surveyId",
            "x-ms-summary": "SurveyId",
            "description": "The survey identifier.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "interviewId",
            "x-ms-summary": "InterviewId",
            "description": "The interview identifier.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "showPartialCompleted",
            "x-ms-summary": "Show Partial Completed",
            "description": "if set to <c>true</c> [show partial completed].",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "locale",
            "x-ms-summary": "Locale",
            "description": "The locale.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "timeZone",
            "x-ms-summary": "Thmezone",
            "description": "The time zone.",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CancellationToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DownloadAnswersResponse"
            }
          }
        },
        "operationId": "DownloadInterviewPdf",
        "description": "This action offers the possibility to downloads the answers."
      }
    },
    "/publicapi/Common/v3/ExecuteSendMail": {
      "post": {
        "tags": [
          "Common"
        ],
        "summary": "Send Email",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ExecuteSendMailRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExecuteSendMailResponse"
            }
          }
        },
        "operationId": "ExecuteSendMail",
        "description": "This action offers the possibility to send mail."
      }
    },
    "/publicapi/Common/v3/ExecuteWorkflowTransition": {
      "post": {
        "tags": [
          "Common"
        ],
        "summary": "Execute Workflow Transition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ExecuteWorkflowTransitionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExecuteWorkflowTransitionResponse"
            }
          }
        },
        "operationId": "ExecuteWorkflowTransition",
        "description": "This action offers the possibility to execute workflow transition specific for the workflow."
      }
    },
    "/publicapi/Distribute/v3/InviteMembers": {
      "post": {
        "tags": [
          "Distribute"
        ],
        "summary": "Invite Members",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/InviteMembersRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InviteMembersResponse"
            }
          }
        },
        "operationId": "InviteMembers",
        "description": "This action offers the possibility to invite the member."
      }
    },
    "/publicapi/Common/v3/ReadArtifactList": {
      "post": {
        "tags": [
          "Common"
        ],
        "summary": "Read Artifacts",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadArtifactListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadArtifactListRequest"
            }
          }
        },
        "operationId": "ReadArtifactList",
        "description": "This action offers the possibility to read the artifact list."
      }
    },
    "/publicapi/Distribute/v3/ReadBounceList": {
      "post": {
        "tags": [
          "Distribute"
        ],
        "summary": "Read Bounces",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadBounceListRequestV3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadBounceListResponseV3"
            }
          }
        },
        "operationId": "ReadBounceList",
        "description": "This action offers the possibility to read the bounce list."
      }
    },
    "/publicapi/Incentive/v3/ReadCreditBalance": {
      "post": {
        "tags": [
          "Incentive"
        ],
        "summary": "Read Credit Balance",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadCreditBalanceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadCreditBalanceResponse"
            }
          }
        },
        "operationId": "ReadCreditBalance",
        "description": "This action returns the survey credit balance for the authenticated user."
      }
    },
    "/publicapi/Distribute/v3/ReadDistributorList": {
      "post": {
        "tags": [
          "Distribute"
        ],
        "summary": "Read Distributors",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadDistributorListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadDistributorListResponse"
            }
          }
        },
        "operationId": "ReadDistributorList",
        "description": "This action offers the possibility to read the distributor list."
      }
    },
    "/publicapi/Incentive/v3/ReadIncentiveList": {
      "post": {
        "tags": [
          "Incentive"
        ],
        "summary": "Read Incentives",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadIncentiveListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadIncentiveListResponse"
            }
          }
        },
        "operationId": "ReadIncentiveList",
        "description": "This action returns the available incentives/voucher for the authenticated user."
      }
    },
    "/publicapi/Incentive/v3/ReadIncentiveTransactionList": {
      "post": {
        "tags": [
          "Incentive"
        ],
        "summary": "Read Incentive Transactions",
        "description": "The action returns an overview over all earnings and spending related to survey credits.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadIncentiveTransactionListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadIncentiveTransactionListResponse"
            }
          }
        },
        "operationId": "ReadIncentiveTransactionList"
      }
    },
    "/publicapi/Interview/v3/ReadInterview": {
      "post": {
        "tags": [
          "Interview"
        ],
        "summary": "Read Interview",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadInterviewDataRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadInterviewDataResponse"
            }
          }
        },
        "operationId": "ReadInterview",
        "description": "This action offers the possibility to read the interview data."
      }
    },
    "/publicapi/Interview/v3/ReadInterviewListCompact": {
      "post": {
        "tags": [
          "Interview"
        ],
        "summary": "Read Interviews Compact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadInterviewListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadInterviewListCompactResponseV3"
            }
          }
        },
        "operationId": "ReadInterviewListCompact",
        "description": "This action offers the possibility to read the interview list compact."
      }
    },
    "/publicapi/Interview/v3/ReadInterviewList": {
      "post": {
        "tags": [
          "Interview"
        ],
        "summary": "Read Interviews",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadInterviewListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadInterviewListResponseV3"
            }
          }
        },
        "operationId": "ReadInterviewList",
        "description": "This action offers the possibility to read the interview list."
      }
    },
    "/publicapi/Panel/v3/ReadMemberList": {
      "post": {
        "tags": [
          "Panel"
        ],
        "summary": "Read Members",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadMemberListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadMemberListResponse"
            }
          }
        },
        "operationId": "ReadMemberList",
        "description": "This action offers the possibility to read members."
      }
    },
    "/publicapi/Distribute/v3/ReadMessageTemplateList": {
      "post": {
        "tags": [
          "Distribute"
        ],
        "summary": "Read Message Templates",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadMessageTemplateListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadMessageTemplateListResponse"
            }
          }
        },
        "operationId": "ReadMessageTemplateList",
        "description": "This action offers the possibility to receive all configured message templates for Email and SMS."
      }
    },
    "/publicapi/Distribute/v3/ReadOptOutList": {
      "post": {
        "tags": [
          "Distribute"
        ],
        "summary": "Read Opt-Outs",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadOptOutListRequestV3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadOptOutListResponseV3"
            }
          }
        },
        "operationId": "ReadOptOutList",
        "description": "This action offers the possibility to read all Opt-Outs for a workspace."
      }
    },
    "/publicapi/Panel/v3/ReadPanel": {
      "post": {
        "tags": [
          "Panel"
        ],
        "summary": "Read Panel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadPanelDefinitionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadPanelDefinitionResponse"
            }
          }
        },
        "operationId": "ReadPanel",
        "description": "This action offers the possibility to read panel definition."
      }
    },
    "/publicapi/Distribute/v3/ReadSamplingProject": {
      "post": {
        "tags": [
          "Distribute"
        ],
        "summary": "Read Sampling Project",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadSamplingProjectRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadSamplingProjectResponse"
            }
          }
        },
        "operationId": "ReadSamplingProject",
        "description": "This action offers the possibility to read the sampling project."
      }
    },
    "/publicapi/Survey/v3/ReadSurveyLinks": {
      "post": {
        "tags": [
          "Survey"
        ],
        "summary": "Read Survey Links",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadSurveyLinksRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadSurveyLinksResponse"
            }
          }
        },
        "operationId": "ReadSurveyLinks",
        "description": "This action offers the possibility to reads the survey links."
      }
    },
    "/publicapi/Survey/v3/ReadSurveyList": {
      "post": {
        "tags": [
          "Survey"
        ],
        "summary": "Read Surveys",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadSurveyListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadSurveyListResponse"
            }
          }
        },
        "operationId": "ReadSurveyList",
        "description": "This action offers the possibility to read all available surveys of a given workspace."
      }
    },
    "/publicapi/Survey/v3/ReadSurvey": {
      "post": {
        "tags": [
          "Survey"
        ],
        "summary": "Read Survey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadSurveyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadSurveyResponse"
            }
          }
        },
        "operationId": "ReadSurvey",
        "description": "This action offers the possibility to read the survey."
      }
    },
    "/publicapi/WebHook/v3/ReadWebHookList": {
      "post": {
        "tags": [
          "WebHook"
        ],
        "summary": "Read WebHooks",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadWebHookListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadWebHookListResponse"
            }
          }
        },
        "operationId": "ReadWebHookList",
        "description": "This action offers the possibility to reads the web hook list."
      }
    },
    "/publicapi/Common/v3/ReadWorkflowTransitions": {
      "post": {
        "tags": [
          "Common"
        ],
        "summary": "Read Workflow Transitions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadWorkflowTransitionsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadWorkflowTransitionsResponse"
            }
          }
        },
        "operationId": "ReadWorkflowTransitions",
        "description": "This action offers the possibility to read all workflow transitions specific for the workflow."
      }
    },
    "/publicapi/Survey/v3/ReadWorkspaceList": {
      "post": {
        "tags": [
          "Survey"
        ],
        "summary": "Read Workspaces",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadWorkspaceListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadWorkspaceListResponse"
            }
          }
        },
        "operationId": "ReadWorkspaceList",
        "description": "This action offers the possibility to read all available workspaces."
      }
    },
    "/publicapi/Incentive/v3/RedeemIncentiveCode": {
      "post": {
        "tags": [
          "Incentive"
        ],
        "summary": "Redeem Incentive Code",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/RedeemIncentiveCodeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RedeemIncentiveCodeResponse"
            }
          }
        },
        "operationId": "RedeemIncentiveCode",
        "description": "This action offers the possibility to spend survey credits for incentives/vouchers."
      }
    },
    "/publicapi/Distribute/v3/RemindMembers": {
      "post": {
        "tags": [
          "Distribute"
        ],
        "summary": "Remind Members",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/RemindMembersRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RemindMembersResponse"
            }
          }
        },
        "operationId": "RemindMembers",
        "description": "This action offers the possibility to remind the member."
      }
    },
    "/publicapi/Panel/v3/ResetInterview": {
      "post": {
        "tags": [
          "Interview"
        ],
        "summary": "Reset Interview",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ResetInterviewRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ResetInterviewResponse"
            }
          }
        },
        "operationId": "ResetInterview",
        "description": "This action offers the possibility to reset panel member response."
      }
    },
    "/publicapi/Panel/v3/UpdateMembers": {
      "post": {
        "tags": [
          "Panel"
        ],
        "summary": "Update Members",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateMembersRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateMembersResponse"
            }
          }
        },
        "operationId": "UpdateMembers",
        "description": "This action offers the possibility to update the member list."
      }
    },
    "/publicapi/Panel/v3/UpdatePanel": {
      "post": {
        "tags": [
          "Panel"
        ],
        "summary": "Update Panel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/WritePanelRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WritePanelResponse"
            }
          }
        },
        "operationId": "UpdatePanel",
        "description": "This action offers the possibility to update the panel."
      }
    },
    "/publicapi/Survey/v3/UpdateSurvey": {
      "post": {
        "tags": [
          "Survey"
        ],
        "summary": "Update Survey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateSurveyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateSurveyResponse"
            }
          }
        },
        "operationId": "UpdateSurvey",
        "description": "This action offers the possibility to update the survey."
      }
    },
    "/publicapi/WebHook/v3/UpdateWebHook": {
      "post": {
        "tags": [
          "WebHook"
        ],
        "summary": "Update Web Hook",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateWebHookRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateWebHookResponse"
            }
          }
        },
        "operationId": "UpdateWebHook",
        "description": "This action offers the possibility to update the web hook."
      }
    },
    "/publicapi/Distribute/v3/WriteOptOutList": {
      "post": {
        "tags": [
          "Distribute"
        ],
        "summary": "Update Opt-Outs",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/WriteOptOutListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WriteOptOutListResponse"
            }
          }
        },
        "operationId": "WriteOptOutList",
        "description": "This action offers the possibility to write entries to the  Opt-Out list for a workspace."
      }
    }
  },
  "definitions": {
    "AccessType": {
      "description": "AccessType",
      "enum": [
        "Private",
        "Conditional",
        "Public"
      ],
      "type": "string"
    },
    "ActionElement": {
      "description": "This class represents an end of survey action for complete/screenout/quota full.",
      "required": [
        "actionType"
      ],
      "type": "object",
      "properties": {
        "actionType": {
          "$ref": "#/definitions/ActionType"
        },
        "endOfSurveyText": {
          "description": "Gets or sets the end of survey text.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TranslationElement"
          }
        },
        "forwardUrl": {
          "description": "Gets or sets the forward URL.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TranslationElement"
          }
        }
      },
      "additionalProperties": false
    },
    "ActionType": {
      "description": "QuotaAction",
      "enum": [
        "Invalid",
        "ShowEndOfSurveyText",
        "ForwardToUrl"
      ],
      "type": "string"
    },
    "AnonymizingConfiguration": {
      "description": "This class contains the anonymizing settings which could be applied to a workspace group, a workspace or an individual survey.",
      "required": [
        "anonymizingMode",
        "logIp",
        "logReferer",
        "logUserAgent"
      ],
      "type": "object",
      "properties": {
        "anonymizingMode": {
          "$ref": "#/definitions/AnonymizingMode"
        },
        "logIp": {
          "description": "Gets or sets a value indicating whether [log ip].",
          "type": "boolean"
        },
        "logUserAgent": {
          "description": "Gets or sets a value indicating whether [log user agent].",
          "type": "boolean"
        },
        "logReferer": {
          "description": "Gets or sets a value indicating whether [log referer].",
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "AnonymizingMode": {
      "description": "AnonymizingMode",
      "enum": [
        "Invalid",
        "Personalized",
        "Anonymous"
      ],
      "type": "string"
    },
    "ApiCallMethod": {
      "description": "ApiCallMethod",
      "enum": [
        "Invalid",
        "Get",
        "Post"
      ],
      "type": "string"
    },
    "ArrangementMode": {
      "description": "ArrangementMode",
      "enum": [
        "Invalid",
        "Cubic",
        "Circular"
      ],
      "type": "string"
    },
    "BounceElement": {
      "description": "This class represents an end of survey action for complete/screenout/quota full.",
      "required": [
        "bounceType",
        "reason",
        "timestamp"
      ],
      "type": "object",
      "properties": {
        "distributorId": {
          "format": "int64",
          "description": "Gets or sets the distributor identifier.",
          "type": "integer"
        },
        "interviewId": {
          "format": "uuid",
          "description": "Gets or sets the interview identifier.",
          "type": "string"
        },
        "panelId": {
          "format": "int64",
          "description": "Gets or sets the panel identifier.",
          "type": "integer"
        },
        "panelMemberId": {
          "format": "int64",
          "description": "Gets or sets the panel member identifier.",
          "type": "integer"
        },
        "bounceType": {
          "$ref": "#/definitions/BounceType"
        },
        "timestamp": {
          "format": "date-time",
          "description": "Gets or sets the timestamp.",
          "type": "string"
        },
        "state": {
          "description": "Gets or sets the state.",
          "type": "string"
        },
        "reason": {
          "description": "Gets or sets the reason.",
          "type": "string"
        },
        "email": {
          "description": "Gets or sets the email.",
          "type": "string"
        },
        "phone": {
          "format": "int64",
          "description": "Gets or sets the phone.",
          "type": "integer"
        },
        "invitationType": {
          "$ref": "#/definitions/InvitationType"
        }
      },
      "additionalProperties": false
    },
    "BounceType": {
      "description": "BounceType",
      "enum": [
        "Invalid",
        "Hard",
        "Soft",
        "Spam"
      ],
      "type": "string"
    },
    "CancellationToken": {
      "type": "object",
      "properties": {
        "isCancellationRequested": {
          "type": "boolean",
          "readOnly": true
        },
        "canBeCanceled": {
          "type": "boolean",
          "readOnly": true
        },
        "waitHandle": {
          "$ref": "#/definitions/WaitHandle"
        }
      },
      "additionalProperties": false
    },
    "CellPhoneItem": {
      "description": "This class represents one cellphone item to add or remove from the opt-out list",
      "required": [
        "cellPhone",
        "optOutOperation"
      ],
      "type": "object",
      "properties": {
        "cellPhone": {
          "format": "int64",
          "description": "Gets or sets the cell phone.",
          "type": "integer"
        },
        "optOutOperation": {
          "$ref": "#/definitions/OptOutOperation"
        }
      },
      "additionalProperties": false
    },
    "Choice": {
      "description": "This class represents a single choice which could be used in every choice question type.",
      "required": [
        "allowTextEntry",
        "autocomplete",
        "code",
        "exclusive",
        "forceInput",
        "id",
        "text"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "description": "Gets or sets the identifier.",
          "type": "integer"
        },
        "code": {
          "description": "Gets or sets the code.",
          "type": "string"
        },
        "codeManuallyChanged": {
          "description": "Gets or sets a value indicating whether [code manually changed].",
          "type": "boolean"
        },
        "text": {
          "description": "Gets or sets the text translations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TranslationElement"
          }
        },
        "allowTextEntry": {
          "description": "Gets or sets a value indicating whether [allow text entry].",
          "type": "boolean"
        },
        "forceInput": {
          "description": "Gets or sets a value indicating whether [force input].",
          "type": "boolean"
        },
        "autocomplete": {
          "description": "Gets or sets a value indicating whether this Survalyzer.Contracts.Public.Elements.Choice is autocomplete.",
          "type": "boolean"
        },
        "autocompleteText": {
          "description": "Gets or sets the autocomplete text translations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TranslationElement"
          }
        },
        "exclusive": {
          "description": "Gets or sets a value indicating whether this Survalyzer.Contracts.Public.Elements.Choice is exclusive.",
          "type": "boolean"
        },
        "excludeFromRandomization": {
          "description": "Gets or sets a value indicating whether [exclude from randomization].",
          "type": "boolean"
        },
        "contentValidation": {
          "$ref": "#/definitions/ContentValidation"
        },
        "condition": {
          "$ref": "#/definitions/ConditionDefinition"
        },
        "autocompleteListVariable": {
          "description": "Gets or sets the autocomplete list variable.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ChoiceType": {
      "description": "ChoiceType",
      "enum": [
        "Invalid",
        "Single",
        "Multiple",
        "Dropdown",
        "Text",
        "StarScale"
      ],
      "type": "string"
    },
    "CodeAccessMode": {
      "description": "AuthenticationType",
      "enum": [
        "None",
        "StrongUsernamePassword",
        "StrongAccessCode",
        "WeakUsernamePassword",
        "WeakAccessCode"
      ],
      "type": "string"
    },
    "ColItem": {
      "description": "This class represents a cell of a survey response.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Gets or sets the identifier.",
          "type": "string"
        },
        "value": {
          "description": "Gets or sets the value."
        }
      },
      "additionalProperties": false
    },
    "ColumnGroup": {
      "description": "This class represents a column group inside complex question types like matrix questions.",
      "required": [
        "choices",
        "choiceType",
        "hasNotAvailableChoice",
        "id",
        "randomizeColumns",
        "text"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "description": "Gets or sets the identifier.",
          "type": "integer"
        },
        "text": {
          "description": "Gets or sets the text translations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TranslationElement"
          }
        },
        "hasNotAvailableChoice": {
          "description": "Gets or sets a value indicating whether this instance has not available choice.",
          "type": "boolean"
        },
        "notAvailableChoiceText": {
          "description": "Gets or sets the not available choice text translations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TranslationElement"
          }
        },
        "randomizeColumns": {
          "description": "Gets or sets a value indicating whether [randomize columns].",
          "type": "boolean"
        },
        "prompt": {
          "description": "Gets or sets the prompt.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TranslationElement"
          }
        },
        "choiceType": {
          "$ref": "#/definitions/ChoiceType"
        },
        "choices": {
          "description": "Gets or sets the choices.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Choice"
          }
        },
        "condition": {
          "$ref": "#/definitions/ConditionDefinition"
        }
      },
      "additionalProperties": false
    },
    "ColumnType": {
      "description": "ColumnType",
      "enum": [
        "Invalid",
        "Single",
        "Multiple"
      ],
      "type": "string"
    },
    "Condition": {
      "description": "This class is the base for all condition elements.",
      "required": [
        "conditionOperator",
        "conditionType",
        "conjunction",
        "identifier",
        "value"
      ],
      "type": "object",
      "properties": {
        "conjunction": {
          "$ref": "#/definitions/Conjunction"
        },
        "conditionType": {
          "$ref": "#/definitions/ConditionType"
        },
        "identifier": {
          "description": "Gets or sets the identifier.",
          "pattern": "^[a-zA-Z\u00c0-\u017e\\u0370-\\u03FF\\u0400-\\u04FF0-9_()+\\-*/. %]*$",
          "type": "string"
        },
        "conditionOperator": {
          "$ref": "#/definitions/ConditionOperator"
        },
        "value": {
          "description": "Gets or sets the value.",
          "type": "string"
        },
        "variableType": {
          "$ref": "#/definitions/VariableType"
        },
        "jsonValue": {
          "description": "Gets or sets a value indicating whether [json value].",
          "type": "boolean"
        },
        "jsonPath": {
          "description": "Gets or sets the json path.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ConditionAction": {
      "description": "FilterAction",
      "enum": [
        "Invalid",
        "Passes",
        "Fails"
      ],
      "type": "string"
    },
    "ConditionDefinition": {
      "description": "This class represents the definition of conditions elements.",
      "required": [
        "conditionAction",
        "elements"
      ],
      "type": "object",
      "properties": {
        "conditionAction": {
          "$ref": "#/definitions/ConditionAction"
        },
        "elements": {
          "description": "Gets or sets the elements.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Condition"
          }
        }
      },
      "additionalProperties": false
    },
    "ConditionOperator": {
      "description": "ConditionOperator",
      "enum": [
        "Invalid",
        "IsLessThan",
        "IsLessThanOrEqualTo",
        "IsGreaterThan",
        "IsGreaterThanOrEqualTo",
        "IsEqualTo",
        "IsNotEqualTo",
        "IsEmpty",
        "IsNotEmpty",
        "Contains",
        "DoesNotContain",
        "MatchRegex",
        "DoesNotMatchRegex",
        "AnyIsEqual",
        "AnyIsNotEqual",
        "AnyIsEmpty",
        "AnyIsNotEmpty",
        "AnyMatchRegex",
        "AnyDoesNotMatchRegex"
      ],
      "type": "string"
    },
    "ConditionType": {
      "description": "ConditionType",
      "enum": [
        "Invalid",
        "Question",
        "Panel",
        "Device",
        "UrlVariable",
        "Calculation",
        "Language",
        "CustomVariable",
        "Counters",
        "RemoteList",
        "RemoteIntegerRange",
        "RemoteString",
        "RemoteInteger",
        "SQL"
      ],
      "type": "string"
    },
    "Conjunction": {
      "description": "Conjunction",
      "enum": [
        "Invalid",
        "And",
        "Or"
      ],
      "type": "string"
    },
    "ContentValidation": {
      "description": "This class represents a content validation inside a survey.",
      "required": [
        "validationType"
      ],
      "type": "object",
      "properties": {
        "validationType": {
          "$ref": "#/definitions/ContentValidationType"
        },
        "earliestDate": {
          "description": "Gets or sets the earliest date.",
          "type": "string"
        },
        "latestDate": {
          "description": "Gets or sets the latest date.",
          "type": "string"
        },
        "minValue": {
          "format": "double",
          "description": "Gets or sets the minimum value.",
          "type": "number"
        },
        "maxValue": {
          "format": "double",
          "description": "Gets or sets the maximum value.",
          "type": "number"
        },
        "decimalPlaces": {
          "format": "int32",
          "description": "Gets or sets the decimal places.",
          "type": "integer"
        },
        "disableThousandSeparator": {
          "description": "Gets or sets the disable thousand separator.",
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "ContentValidationType": {
      "description": "ContentValidation",
      "enum": [
        "Invalid",
        "None",
        "Number",
        "Email",
        "Date",
        "List",
        "Real"
      ],
      "type": "string"
    },
    "CreateAndInviteMembersRequest": {
      "description": "This class represents the request parameters for the CreateAndInviteMembers API.",
      "required": [
        "channel",
        "members",
        "messageTemplateId",
        "panelId",
        "surveyId"
      ],
      "type": "object",
      "properties": {
        "samplingProjectId": {
          "format": "int64",
          "description": "Gets or sets the sampling project identifier.",
          "type": "integer"
        },
        "surveyId": {
          "format": "int64",
          "description": "Gets or sets the survey identifier.",
          "type": "integer"
        },
        "panelId": {
          "format": "int64",
          "description": "Gets or sets the panel identifier.",
          "type": "integer"
        },
        "channel": {
          "$ref": "#/definitions/DistributionChannel"
        },
        "messageTemplateId": {
          "format": "int64",
          "description": "Gets or sets the message template identifier.",
          "type": "integer"
        },
        "textBlocks": {
          "description": "Gets or sets the text blocks.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TextBlock"
          }
        },
        "members": {
          "description": "Gets or sets the members.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Member"
          }
        },
        "scheduleDateTime": {
          "description": "Gets or sets the schedule date time.",
          "type": "string"
        },
        "asyncProcess": {
          "description": "Gets or sets the async process.",
          "type": "boolean"
        },
        "interviewExpiryDate": {
          "description": "Gets or sets the interview expiry date.",
          "type": "string"
        },
        "from": {
          "description": "Gets or sets from.",
          "type": "string"
        },
        "fromName": {
          "description": "Gets or sets from name.",
          "type": "string"
        },
        "replyTo": {
          "description": "Gets or sets the reply to.",
          "type": "string"
        },
        "replyToName": {
          "description": "Gets or sets the name of the reply to.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "CreateAndInviteMembersResponse": {
      "description": "This class represents the return parameters for the CreateAndInviteMembers API.",
      "type": "object",
      "properties": {
        "samplingProjectId": {
          "format": "int64",
          "description": "Gets or sets the sampling project identifier.",
          "type": "integer"
        },
        "distributorId": {
          "format": "int64",
          "description": "Gets or sets the distributor identifier.",
          "type": "integer"
        },
        "validationIssues": {
          "description": "Gets or sets the issues.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WritePanelMemberIssue"
          }
        },
        "isSuccess": {
          "description": "Gets or sets a value indicating whether this instance is success.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        },
        "errorCode": {
          "description": "Gets or sets the error code.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "CreateArtifactRequest": {
      "description": "This class represents the request parameters to call the  CreateArtifact API.",
      "type": "object",
      "properties": {
        "workspaceId": {
          "format": "int64",
          "description": "Gets or sets the workspace identifier.",
          "type": "integer"
        },
        "path": {
          "description": "Gets or sets the path.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "CreateArtifactResponse": {
      "description": "This class represents the response of the CreateArtifact API.",
      "type": "object",
      "properties": {
        "isSuccess": {
          "description": "Gets or sets a value indicating whether this instance is success.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        },
        "errorCode": {
          "description": "Gets or sets the error code.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "CreateMembersRequest": {
      "description": "This class represents the request parameters for the CreateMembers API.",
      "required": [
        "members",
        "panelId"
      ],
      "type": "object",
      "properties": {
        "tenant": {
          "description": "Gets or sets the tenant.",
          "type": "string"
        },
        "panelId": {
          "format": "int64",
          "description": "Gets or sets the panel identifier.",
          "type": "integer"
        },
        "members": {
          "description": "Gets or sets the members.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Member"
          }
        }
      },
      "additionalProperties": false
    },
    "CreateMembersResponse": {
      "description": "This class represents the return parameters for the CreateMembers API.",
      "type": "object",
      "properties": {
        "membersIds": {
          "description": "Gets or sets the members ids.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "integer"
          }
        },
        "validationIssues": {
          "description": "Gets or sets the issues.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WritePanelMemberIssue"
          }
        },
        "isSuccess": {
          "description": "Gets or sets a value indicating whether this instance is success.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        },
        "errorCode": {
          "description": "Gets or sets the error code.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "CreatePanelRequest": {
      "description": "This class represents the request parameters for the CreatePanel API.",
      "required": [
        "name",
        "panelType",
        "workspaceId"
      ],
      "type": "object",
      "properties": {
        "workspaceId": {
          "format": "int64",
          "description": "Gets or sets the workspace identifier.",
          "type": "integer"
        },
        "name": {
          "description": "Gets or sets the panel name.",
          "maxLength": 256,
          "type": "string"
        },
        "panelType": {
          "$ref": "#/definitions/PanelModelType"
        }
      },
      "additionalProperties": false
    },
    "CreatePanelResponse": {
      "description": "This class represents the return parameters for the CreatePanel API.",
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "description": "Get the Id of created panel.",
          "type": "integer"
        },
        "name": {
          "description": "Get the name of created panel.",
          "type": "string"
        },
        "isExtendedPanel": {
          "description": "Get the type of created panel.",
          "type": "boolean"
        },
        "createdDate": {
          "description": "Get the date of creation of created panel.",
          "type": "string"
        },
        "isLock": {
          "description": "Get the value which indicates if panel is lock.",
          "type": "boolean"
        },
        "isSuccess": {
          "description": "Gets or sets a value indicating whether this instance is success.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        },
        "errorCode": {
          "description": "Gets or sets the error code.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "CreateSurveyRequest": {
      "description": "This class represents the request parameters for the CreateSurvey API.",
      "required": [
        "name",
        "surveyDefinition",
        "workspaceId"
      ],
      "type": "object",
      "properties": {
        "workspaceId": {
          "format": "int64",
          "description": "Gets or sets the workspace identifier.",
          "type": "integer"
        },
        "name": {
          "description": "Gets or sets the name.",
          "maxLength": 256,
          "type": "string"
        },
        "surveyDefinition": {
          "$ref": "#/definitions/SurveyDefinition"
        },
        "surveyConfiguration": {
          "$ref": "#/definitions/SurveyConfiguration"
        }
      },
      "additionalProperties": false
    },
    "CreateSurveyResponse": {
      "description": "This class represents the return parameters for the CreateSurvey API.",
      "type": "object",
      "properties": {
        "surveyId": {
          "format": "int64",
          "description": "Gets or sets the survey identifier.",
          "type": "integer"
        },
        "isSuccess": {
          "description": "Gets or sets a value indicating whether this instance is success.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        },
        "errorCode": {
          "description": "Gets or sets the error code.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "CreateWebHookRequest": {
      "description": "This class represents the request parameters for the CreateWebHook API.",
      "type": "object",
      "properties": {
        "eventType": {
          "$ref": "#/definitions/EventType"
        },
        "entityIdentifier": {
          "description": "Gets or sets the entity identifier.",
          "type": "string"
        },
        "securityToken": {
          "description": "Gets or sets the security token.",
          "type": "string"
        },
        "webHookUrl": {
          "description": "Gets or sets the web hook URL.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "CreateWebHookResponse": {
      "description": "This class represents the return parameters for the CreateWebHook API.",
      "type": "object",
      "properties": {
        "webHookId": {
          "format": "uuid",
          "description": "Gets or sets the web hook identifier.",
          "type": "string"
        },
        "isSuccess": {
          "description": "Gets or sets a value indicating whether this instance is success.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        },
        "errorCode": {
          "description": "Gets or sets the error code.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "CustomVariable": {
      "description": "This class represents a single custom variable.",
      "required": [
        "id",
        "variableName",
        "variableType"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "description": "Gets or sets the identifier.",
          "type": "integer"
        },
        "variableName": {
          "description": "Gets or sets the name of the variable.",
          "type": "string"
        },
        "variableType": {
          "$ref": "#/definitions/VariableType"
        }
      },
      "additionalProperties": false
    },
    "DataAccessControl": {
      "description": "This class contains the configuration of how the entity is being accessible",
      "type": "object",
      "properties": {
        "accessType": {
          "$ref": "#/definitions/AccessType"
        },
        "conditions": {
          "description": "Gets or sets the conditions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Condition"
          }
        }
      },
      "additionalProperties": false
    },
    "DeleteArtifactRequest": {
      "description": "This class represents the request parameters for the DeleteArtifact API.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Gets or sets the path.",
          "type": "string"
        },
        "filename": {
          "description": "Gets or sets the filename.",
          "type": "string"
        },
        "workspaceId": {
          "format": "int64",
          "description": "Gets or sets the workspace identifier.",
          "type": "integer"
        }
      },
      "additionalProperties": false
    },
    "DeleteArtifactResponse": {
      "description": "This class represents the return parameters for the DeleteArtifact API.",
      "type": "object",
      "properties": {
        "isSuccess": {
          "description": "Gets or sets a value indicating whether this instance is success.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        },
        "errorCode": {
          "description": "Gets or sets the error code.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "DeleteDistributorRequest": {
      "description": "This class represents the request parameters for the DeleteDistributor API.",
      "required": [
        "distributorId"
      ],
      "type": "object",
      "properties": {
        "distributorId": {
          "format": "int64",
          "description": "Gets or sets the distributor identifier.",
          "type": "integer"
        },
        "keepInterviews": {
          "description": "Gets or sets a value indicating whether [keep interviews].",
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "DeleteDistributorResponse": {
      "description": "This class represents the return parameters for the DeleteDistributor API.",
      "type": "object",
      "properties": {
        "isSuccess": {
          "description": "Gets or sets a value indicating whether this instance is success.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        },
        "errorCode": {
          "description": "Gets or sets the error code.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "DeleteInterviewRequest": {
      "description": "This class represents the request parameters for the DeleteInterview API.",
      "type": "object",
      "properties": {
        "interviewId": {
          "format": "uuid",
          "description": "Gets or sets the interview identifier.",
          "type": "string"
        },
        "surveyId": {
          "format": "int64",
          "description": "Gets or sets the survey identifier.",
          "type": "integer"
        }
      },
      "additionalProperties": false
    },
    "DeleteInterviewResponse": {
      "description": "This class represents the return parameters for the DeleteInterview API.",
      "type": "object",
      "properties": {
        "isSuccess": {
          "description": "Gets or sets a value indicating whether this instance is success.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        },
        "errorCode": {
          "description": "Gets or sets the error code.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "DeleteMembersRequest": {
      "description": "This class represents the request parameters for the DeleteMember API.",
      "required": [
        "panelId",
        "panelMembersIds"
      ],
      "type": "object",
      "properties": {
        "panelId": {
          "format": "int64",
          "description": "Gets or sets the panel identifier.",
          "type": "integer"
        },
        "panelMembersIds": {
          "description": "Gets or sets the panel member identifier.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "integer"
          }
        },
        "keepInterviews": {
          "description": "Gets or sets a value indicating whether [keep interviews].",
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "DeleteMembersResponse": {
      "description": "This class represents the return parameters for the DeleteMember API.",
      "type": "object",
      "properties": {
        "isSuccess": {
          "description": "Gets or sets a value indicating whether this instance is success.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        },
        "errorCode": {
          "description": "Gets or sets the error code.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "DeletePanelRequest": {
      "description": "This class represents the request parameters for the DeleteSample API.",
      "required": [
        "panelId"
      ],
      "type": "object",
      "properties": {
        "panelId": {
          "format": "int64",
          "description": "Gets or sets the sample identifier.",
          "type": "integer"
        },
        "keepInterviews": {
          "description": "Gets or sets a value indicating whether [keep interviews].",
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "DeletePanelResponse": {
      "description": "This class represents the return parameters for the DeleteSample API.",
      "type": "object",
      "properties": {
        "isSuccess": {
          "description": "Gets or sets a value indicating whether this instance is success.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        },
        "errorCode": {
          "description": "Gets or sets the error code.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "DeleteSamplingProjectRequest": {
      "description": "This class represents the request parameters for the DeleteSamplingProject API.",
      "type": "object",
      "properties": {
        "samplingProjectId": {
          "format": "int64",
          "description": "Gets or sets the sampling project identifier.",
          "type": "integer"
        },
        "keepInterviews": {
          "description": "Gets or sets a value indicating whether [keep interviews].",
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "DeleteSamplingProjectResponse": {
      "description": "This class represents the return parameters for the DeleteSamplingProject API.",
      "type": "object",
      "properties": {
        "isSuccess": {
          "description": "Gets or sets a value indicating whether this instance is success.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        },
        "errorCode": {
          "description": "Gets or sets the error code.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "DeleteSurveyRequest": {
      "description": "This class represents the request parameters for the DeleteSurvey API.",
      "required": [
        "surveyId"
      ],
      "type": "object",
      "properties": {
        "surveyId": {
          "format": "int64",
          "description": "Gets or sets the survey identifier.",
          "type": "integer"
        }
      },
      "additionalProperties": false
    },
    "DeleteSurveyResponse": {
      "description": "This class represents the return parameters for the DeleteSurvey API.",
      "type": "object",
      "properties": {
        "isSuccess": {
          "description": "Gets or sets a value indicating whether this instance is success.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        },
        "errorCode": {
          "description": "Gets or sets the error code.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "DeleteWebHookRequest": {
      "description": "This class represents the request parameters for the DeleteWebHook API.",
      "type": "object",
      "properties": {
        "webHookId": {
          "format": "uuid",
          "description": "Gets or sets the web hook identifier.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "DeleteWebHookResponse": {
      "description": "This class represents the return parameters for the DeleteWebHook API.",
      "type": "object",
      "properties": {
        "isSuccess": {
          "description": "Gets or sets a value indicating whether this instance is success.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        },
        "errorCode": {
          "description": "Gets or sets the error code.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "DesignConfiguration": {
      "description": "This class represents the styling possibilities for an account.",
      "type": "object",
      "properties": {
        "surveyDesignLayout": {
          "format": "int64",
          "description": "Gets or sets the survey design layout.",
          "type": "integer"
        },
        "matrixSubQuestionSize": {
          "$ref": "#/definitions/MatrixSubQuestionSize"
        },
        "textBlocks": {
          "description": "Gets or sets the content of the template.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TextBlock"
          }
        }
      },
      "additionalProperties": false
    },
    "DistributionChannel": {
      "description": "Distribution Channel",
      "enum": [
        "Invalid",
        "Email",
        "Sms",
        "LinkList",
        "ApiEndpoint",
        "WhatsApp"
      ],
      "type": "string"
    },
    "DistributorElement": {
      "description": "This class represents a distributor element.",
      "type": "object",
      "properties": {
        "distributorId": {
          "format": "int64",
          "description": "Gets or sets the distributor identifier.",
          "type": "integer"
        },
        "distributionChannel": {
          "$ref": "#/definitions/DistributionChannel"
        },
        "surveyId": {
          "format": "int64",
          "description": "Gets or sets the survey identifier.",
          "type": "integer"
        },
        "samplingProjectId": {
          "format": "int64",
          "description": "Gets or sets the sampling project identifier.",
          "type": "integer"
        },
        "surveyVersion": {
          "format": "int32",
          "description": "Gets or sets the survey version.",
          "type": "integer"
        },
        "panelId": {
          "format": "int64",
          "description": "Gets or sets the panel identifier.",
          "type": "integer"
        },
        "scheduledDistribution": {
          "format": "date-time",
          "description": "Gets or sets the scheduled distribution.",
          "type": "string"
        },
        "executedDistribution": {
          "format": "date-time",
          "description": "Gets or sets the executed distribution.",
          "type": "string"
        },
        "distributionState": {
          "description": "Gets or sets the state of the distribution.",
          "type": "string"
        },
        "conditions": {
          "description": "Gets or sets the conditions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConditionDefinition"
          }
        }
      },
      "additionalProperties": false
    },
    "DownloadAnswersResponse": {
      "description": "This class represents the return parameters for the DownloadAnswers API.",
      "type": "object",
      "properties": {
        "downloadUrl": {
          "description": "Gets or sets the download URL.",
          "type": "string"
        },
        "isSuccess": {
          "description": "Gets or sets a value indicating whether this instance is success.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        },
        "errorCode": {
          "description": "Gets or sets the error code.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ElementType": {
      "description": "ElementType",
      "enum": [
        "Invalid",
        "SingleChoice",
        "MultipleChoice",
        "Dropdown",
        "Slider",
        "OpenQuestion",
        "Date",
        "Email",
        "TextBlock",
        "PageBreak",
        "Matrix",
        "SemanticDifferential",
        "RankOrder",
        "ImplicitAssociation",
        "Validation",
        "UrlForwarding",
        "SendEmail",
        "ValueAssignment",
        "ApiCall",
        "Script",
        "QuotaCheck",
        "StarScale",
        "Nps"
      ],
      "type": "string"
    },
    "EmailItem": {
      "description": "This class represents one email item to add or remove from the opt-out list",
      "required": [
        "email",
        "optOutOperation"
      ],
      "type": "object",
      "properties": {
        "email": {
          "description": "Gets or sets the email.",
          "type": "string"
        },
        "optOutOperation": {
          "$ref": "#/definitions/OptOutOperation"
        }
      },
      "additionalProperties": false
    },
    "EventType": {
      "description": "EventType",
      "enum": [
        "Invalid",
        "InterviewComplete",
        "ApprovalRequest"
      ],
      "type": "string"
    },
    "ExecuteSendMailRequest": {
      "description": "This class represents the request parameters for the ExecuteSendMail API.",
      "required": [
        "from",
        "language",
        "to"
      ],
      "type": "object",
      "properties": {
        "messageTemplateId": {
          "format": "int64",
          "description": "Gets or sets the message template identifier.",
          "type": "integer"
        },
        "textBlocks": {
          "description": "Gets or sets the text blocks.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TextBlock"
          }
        },
        "language": {
          "description": "Gets or sets the language.",
          "type": "string"
        },
        "subject": {
          "description": "Gets or sets the subject.",
          "type": "string"
        },
        "body": {
          "description": "Gets or sets the body.",
          "type": "string"
        },
        "from": {
          "description": "Gets or sets from.",
          "type": "string"
        },
        "fromName": {
          "description": "Gets or sets from name.",
          "type": "string"
        },
        "to": {
          "description": "Gets or sets to.",
          "type": "string"
        },
        "toName": {
          "description": "Converts to name.",
          "type": "string"
        },
        "replyTo": {
          "description": "Gets or sets the reply to.",
          "type": "string"
        },
        "replyToName": {
          "description": "Gets or sets the name of the reply to.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ExecuteSendMailResponse": {
      "description": "This class represents the return parameters for the ExecuteSendMail API.",
      "type": "object",
      "properties": {
        "isSuccess": {
          "description": "Gets or sets a value indicating whether this instance is success.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        },
        "errorCode": {
          "description": "Gets or sets the error code.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ExecuteWorkflowTransitionRequest": {
      "description": "This class represents the request parameters for the ExecuteWorkflowTransition API.",
      "required": [
        "targetState",
        "workflow"
      ],
      "type": "object",
      "properties": {
        "workflow": {
          "$ref": "#/definitions/WorkflowType"
        },
        "surveyId": {
          "format": "int64",
          "description": "Gets or sets the survey identifier.",
          "type": "integer"
        },
        "samplingProjectId": {
          "format": "int64",
          "description": "Gets or sets the sampling project identifier.",
          "type": "integer"
        },
        "distributorId": {
          "format": "int64",
          "description": "Gets or sets the distributor identifier.",
          "type": "integer"
        },
        "reminderId": {
          "format": "int64",
          "description": "Gets or sets the reminder identifier.",
          "type": "integer"
        },
        "targetState": {
          "description": "Gets or sets the state of the target.",
          "type": "string"
        },
        "dynamicParameters": {
          "description": "Gets or sets the dynamic parameters.",
          "type": "object",
          "additionalProperties": {}
        }
      },
      "additionalProperties": false
    },
    "ExecuteWorkflowTransitionResponse": {
      "description": "This class represents the return parameters for the ExecuteWorkflowTransition API.",
      "type": "object",
      "properties": {
        "isSuccess": {
          "description": "Gets or sets a value indicating whether this instance is success.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        },
        "errorCode": {
          "description": "Gets or sets the error code.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ExecutionBehavior": {
      "description": "ExecutionBehavior",
      "enum": [
        "Invalid",
        "AnyTime",
        "FirstTime",
        "EachTime",
        "SurveyLoad"
      ],
      "type": "string"
    },
    "Interview": {
      "description": "This class represent interview record data",
      "type": "object",
      "properties": {
        "id": {
          "description": "The id of the interview",
          "type": "string"
        },
        "state": {
          "description": "Gets or sets the state.",
          "type": "string"
        },
        "surveyId": {
          "format": "int64",
          "description": "The id of the survey",
          "type": "integer"
        },
        "surveyVersionId": {
          "format": "int32",
          "description": "The id of the survey version",
          "type": "integer"
        },
        "surveyName": {
          "description": "The name of the survey",
          "type": "string"
        },
        "surveyState": {
          "description": "Gets or sets the state of the survey.",
          "type": "string"
        },
        "answersLink": {
          "description": "The link to the answers print page",
          "type": "string"
        },
        "interviewLink": {
          "description": "Gets or sets the interview link.",
          "type": "string"
        },
        "startDate": {
          "description": "Gets or sets the start date.",
          "type": "string"
        },
        "endDate": {
          "description": "Gets or sets the end date.",
          "type": "string"
        },
        "samplingProjectId": {
          "format": "int64",
          "description": "Gets or sets the sampling project identifier.",
          "type": "integer"
        },
        "distributorId": {
          "format": "int64",
          "description": "Gets or sets the distributor identifier.",
          "type": "integer"
        }
      },
      "additionalProperties": false
    },
    "InvitationType": {
      "description": "InvitationType",
      "enum": [
        "Invalid",
        "Invitation",
        "Reminder"
      ],
      "type": "string"
    },
    "InviteMembersRequest": {
      "description": "This class represents the request parameters for the InviteMembers API.",
      "required": [
        "messageTemplateId",
        "panelId",
        "surveyId"
      ],
      "type": "object",
      "properties": {
        "surveyId": {
          "format": "int64",
          "description": "The Id of the survey",
          "type": "integer"
        },
        "panelId": {
          "format": "int64",
          "description": "Gets or sets the panel identifier.",
          "type": "integer"
        },
        "samplingProjectId": {
          "format": "int64",
          "description": "Gets or sets the sampling project identifier.",
          "type": "integer"
        },
        "memberIds": {
          "description": "Gets or sets the panel members ids.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "integer"
          }
        },
        "messageTemplateId": {
          "format": "int64",
          "description": "Gets or sets the message template identifier.",
          "type": "integer"
        },
        "textBlocks": {
          "description": "Gets or sets the text blocks.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TextBlock"
          }
        },
        "scheduleDateTime": {
          "format": "date-time",
          "description": "Gets or sets the schedule time.",
          "type": "string"
        },
        "conditions": {
          "description": "Gets or sets the conditions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Condition"
          }
        },
        "channel": {
          "$ref": "#/definitions/DistributionChannel"
        },
        "asyncProcess": {
          "description": "Gets or sets the async process.",
          "type": "boolean"
        },
        "interviewExpiryDate": {
          "description": "Gets or sets the interview expiry date.",
          "type": "string"
        },
        "from": {
          "description": "Gets or sets from.",
          "type": "string"
        },
        "fromName": {
          "description": "Gets or sets from name.",
          "type": "string"
        },
        "replyTo": {
          "description": "Gets or sets the reply to.",
          "type": "string"
        },
        "replyToName": {
          "description": "Gets or sets the name of the reply to.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "InviteMembersResponse": {
      "description": "This class represents the return parameters for the InviteMembers API.",
      "type": "object",
      "properties": {
        "samplingProjectId": {
          "format": "int64",
          "description": "Gets or sets the sampling project identifier.",
          "type": "integer"
        },
        "distributorId": {
          "format": "int64",
          "description": "Gets or sets the distributor identifier.",
          "type": "integer"
        },
        "isSuccess": {
          "description": "Gets or sets a value indicating whether this instance is success.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Gets or sets the error message.",
          "type": "string"
        },
        "errorCode": {
          "description": "Gets or sets the error code.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "MatrixSubQuestionSize": {
      "description": "MatrixSubQuestionSize",
      "enum": [
        "M",
        "S",
        "L",
        "Xl"
      ],
      "type": "string"
    },
    "Member": {
      "description": "This class represent a single panel member with a dynamic structure based on the Panel.",
      "required": [
        "fields"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "description": "Gets or sets the identifier.",
          "type": "integer"
        },
        "fields": {
          "description": "Gets or sets the fields.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/MemberField"
          }
        },
        "createdAt": {
          "format": "date-time",
          "description": "Gets or sets the created at.",
          "type": "string"
        },
        "createdBy": {
          "description": "Gets or sets the created by.",
          "maxLength": 64,
          "type": "string"
        },
        "updatedAt": {
          "format": "date-time",
          "description": "Gets or sets the updated at.",
          "type": "string"
        },
        "updatedBy": {
          "description": "Gets or sets the updated by.",
          "maxLength": 64,
          "type": "string"
        },
        "interviews": {
          "description": "Gets or sets the interviews.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Interview"
          }
        }
      },
      "additionalProperties": false
    },
    "MemberField": {
      "description": "This class represent member field",
      "required": [
        "fieldType",
        "name"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "Gets or sets the name.",
          "type": "string"
        },
        "fieldType": {
          "$ref": "#/definitions/VariableType"
        },
        "value": {
          "description": "Gets or sets the value."
        }
      },
      "additionalProperties": false
    },
    "MessageTemplateItem": {
      "description": "This class represents one message template item.",
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "description": "The id of the email message",
          "type": "integer"
        },
        "name": {
          "description": "The name of the email message",
          "type": "string"
        },
        "content": {
          "description": "The content of the email message",
          "type": "string"
        },
        "subject": {
          "description": "The subject of the email message",
          "type": "string"
        },
        "defaultLocale": {
          "description": "The default locale of the email message",
          "type": "string"
        },
        "locales": {
          "description": "The list of locales for this email message",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "additionalProperties": false
    },
    "MinMaxChoice": {
      "description": "This class represents a min max choice element inside a survey.",
      "required": [
        "code",
        "excludeFromRandomization",
        "id",
        "leftText",
        "rightText"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "description": "Gets or sets the identifier.",
          "type": "integer"
        },
        "code": {
          "description": "Gets or sets the code.",
          "type": "string"
        },
[...]
