{
  "swagger": "2.0",
  "info": {
    "title": "Mime Automation",
    "version": "1.1",
    "description": "Mime Automation provides a way to extract data from a TNEF (winmail.dat) or EML base64-encoded file",
    "contact": {
      "name": "Andreas Cieslik",
      "email": "acieslik@accloudsolutions.com"
    }
  },
  "host": "accloudsolutions.p.nadles.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/MimeAutomation/ExtractFiles": {
      "post": {
        "tags": [
          "MimeAutomation"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/TnefFile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Attachment"
              }
            }
          }
        },
        "operationId": "ExtractFiles",
        "description": "Extracts attachments in Base64 format from a Base64-encoded TNEF file string",
        "summary": "Extract files from a TNEF-encoded file"
      }
    },
    "/MimeAutomation/ExtractFilesFromEml": {
      "post": {
        "tags": [
          "MimeAutomation"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/InputFile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MimeAttachment"
              }
            }
          }
        },
        "summary": "Extract files from a base64-encoded EML file",
        "description": "Extracts attachments in Base64 format from a Base64-encoded EML file string",
        "operationId": "ExtractFilesFromEml"
      }
    }
  },
  "definitions": {
    "Attachment": {
      "type": "object",
      "properties": {
        "fileName": {
          "type": "string",
          "description": "File name with extension",
          "title": "File Name"
        },
        "content": {
          "type": "string",
          "description": "Base-64 encoded string of the attachement file",
          "title": "Content"
        }
      },
      "additionalProperties": false
    },
    "InputFile": {
      "required": [
        "content"
      ],
      "type": "object",
      "properties": {
        "content": {
          "minLength": 1,
          "type": "string",
          "description": "Base-64-encoded string of an EML file",
          "title": "Content"
        }
      }
    },
    "MimeAttachment": {
      "type": "object",
      "properties": {
        "fileName": {
          "type": "string",
          "description": "File name with extension",
          "title": "File Name"
        },
        "mimeType": {
          "type": "string",
          "description": "Content or media type (e.g. image/png)",
          "title": "Mime Type"
        },
        "content": {
          "type": "string",
          "description": "Base-64 encoded string of the attachement file",
          "title": "Content"
        }
      }
    },
    "TnefFile": {
      "required": [
        "content"
      ],
      "type": "object",
      "properties": {
        "content": {
          "minLength": 1,
          "type": "string",
          "description": "Base-64-encoded string of a TNEF file (e.g. winmail.dat)",
          "title": "Content"
        }
      },
      "additionalProperties": false
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Billing-Token"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.accloudsolutions.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.accloudsolutions.com/data-protection-privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files"
    }
  ]
}