{
  "swagger": "2.0",
  "info": {
    "title": "SwiftKanban",
    "description": "SwiftKanban is a Visual Work Management Tool for helping users manage their work effectively by leveraging the simple yet powerful principles of the Kanban Methodology. Use SwiftKanban connector to add/modify cards with the data from rest of your ecosystem.",
    "version": "1.0",
    "contact": {
      "name": "SwiftKanban Support",
      "url": "https://www.digite.com/services/customer-support",
      "email": "support@swiftkanban.com"
    }
  },
  "host": "login.swiftkanban.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/restapi/comment-operations/boards/{boardId}/cards/{cardType}:{cardId}/comments": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "AddComment",
        "description": "This operation is used to add a comment to an existing SwiftKanban card",
        "summary": "Add comment to a card",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName"
            },
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double"
          },
          {
            "name": "cardType",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetCardTypes",
              "value-path": "CardType",
              "value-collection": "Response/details/CardTypes/Card",
              "value-title": "TypeName",
              "parameters": {
                "boardId": {
                  "parameter": "boardId"
                }
              }
            },
            "description": "Pick your cardType",
            "x-ms-summary": "Get all accessible cardTypes",
            "x-ms-url-encoding": "double"
          },
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Pick your card",
            "x-ms-summary": "Get all cards",
            "x-ms-url-encoding": "double"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "comment": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "commentText": {
                        "type": "string",
                        "description": "commentText",
                        "title": ""
                      },
                      "commentedBy": {
                        "type": "string",
                        "description": "commentedBy",
                        "title": "",
                        "x-ms-dynamic-values": {
                          "operationId": "GetBoardTeamMembers",
                          "value-path": "loginId",
                          "value-collection": "Response/details/teamMember",
                          "value-title": "loginId",
                          "parameters": {
                            "boardId": {
                              "parameter": "boardId"
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "commentText",
                      "commentedBy"
                    ]
                  },
                  "description": "comment"
                }
              },
              "required": [
                "comment"
              ]
            }
          }
        ]
      }
    },
    "/restapi/card-operations/boards/{boardId}/cards": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a card",
        "description": "This operation is used to add card in the Backlog or the custom column as defined in the Board Policies",
        "operationId": "AddCard",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName",
              "parameters": {
                "other-boards": "N"
              }
            }
          },
          {
            "name": "skipMandatory",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "Y",
            "description": "skipMandatory",
            "x-ms-summary": "skipMandatory",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "card": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "workType": {
                        "type": "string",
                        "description": "workType",
                        "title": "workType",
                        "x-ms-dynamic-values": {
                          "operationId": "GetCardTypes",
                          "value-path": "CardType",
                          "value-collection": "Response/details/CardTypes/Card",
                          "value-title": "TypeName",
                          "parameters": {
                            "boardId": {
                              "parameter": "boardId"
                            }
                          }
                        }
                      },
                      "name": {
                        "type": "string",
                        "description": "name",
                        "title": "name",
                        "default": "name"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "cardSize": {
                        "type": "string",
                        "description": "cardSize"
                      },
                      "classOfService": {
                        "type": "string",
                        "description": "classOfService"
                      },
                      "priority": {
                        "type": "string",
                        "description": "priority"
                      },
                      "currentOwner": {
                        "type": "string",
                        "description": "currentOwner"
                      },
                      "dueDate": {
                        "type": "string",
                        "description": "dueDate"
                      },
                      "estimates": {
                        "type": "string",
                        "description": "estimates"
                      },
                      "tags": {
                        "type": "string",
                        "description": "tags"
                      },
                      "release": {
                        "type": "string",
                        "description": "release"
                      },
                      "iteration": {
                        "type": "string",
                        "description": "iteration"
                      }
                    },
                    "required": [
                      "workType",
                      "name"
                    ]
                  },
                  "description": "card"
                }
              },
              "required": [
                "card"
              ]
            }
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update a Card",
        "description": "This operation is used to update a specific card for for a given card ID",
        "operationId": "UpdateCard",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName"
            },
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "card": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "id",
                        "title": "",
                        "format": "int32"
                      },
                      "workType": {
                        "type": "string",
                        "description": "workType",
                        "title": "",
                        "default": "workType",
                        "x-ms-dynamic-values": {
                          "operationId": "GetCardTypes",
                          "value-path": "CardType",
                          "value-collection": "Response/details/CardTypes/Card",
                          "value-title": "TypeName",
                          "parameters": {
                            "boardId": {
                              "parameter": "boardId"
                            }
                          }
                        }
                      },
                      "name": {
                        "type": "string",
                        "description": "name",
                        "title": ""
                      },
                      "cardSize": {
                        "type": "string",
                        "description": "cardSize",
                        "title": ""
                      },
                      "cardService": {
                        "type": "string",
                        "description": "cardService",
                        "title": ""
                      },
                      "currentOwner": {
                        "type": "string",
                        "description": "currentOwner",
                        "title": ""
                      },
                      "description": {
                        "type": "string",
                        "description": "description",
                        "title": ""
                      },
                      "dueDate": {
                        "type": "string",
                        "description": "dueDate",
                        "title": ""
                      },
                      "estimates": {
                        "type": "string",
                        "description": "estimates",
                        "title": ""
                      },
                      "iteration": {
                        "type": "string",
                        "description": "iteration",
                        "title": ""
                      },
                      "priority": {
                        "type": "string",
                        "description": "priority",
                        "title": ""
                      },
                      "release": {
                        "type": "string",
                        "description": "release",
                        "title": ""
                      },
                      "tags": {
                        "type": "string",
                        "description": "tags",
                        "title": ""
                      }
                    },
                    "required": [
                      "workType",
                      "id"
                    ]
                  },
                  "description": "card"
                }
              },
              "required": [
                "card"
              ]
            }
          }
        ]
      }
    },
    "/restapi/card-operations/boards/{boardId}/cards/{cardType}:{cardId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get card by Card ID",
        "description": "This operation is used to retrieve a specific card details for a given card ID",
        "operationId": "GetCard",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName"
            },
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double"
          },
          {
            "name": "cardType",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetCardTypes",
              "value-path": "CardType",
              "value-collection": "Response/details/CardTypes/Card",
              "value-title": "TypeName",
              "parameters": {
                "boardId": {
                  "parameter": "boardId"
                }
              }
            },
            "description": "Pick your cardType",
            "x-ms-summary": "Get all cardTypes",
            "x-ms-url-encoding": "double"
          },
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Pick your card",
            "x-ms-summary": "Get all cards",
            "x-ms-url-encoding": "double"
          }
        ]
      }
    },
    "/restapi/board-operations/boards": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get all accessible boards",
        "description": "This operation is used to retrieve a list of all accessible projects for your SwiftKanban instance",
        "operationId": "GetBoards",
        "parameters": [
          {
            "name": "other-boards",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "N",
            "description": "other-boards",
            "x-ms-summary": "other-boards",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/restapi/team-member-operations/boards/{boardId}/team-members": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Team Members details in a board",
        "description": "This operation is used to retrieve a detailed list of all users associated with a SwiftKanban board.",
        "operationId": "GetBoardTeamMembers",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName"
            }
          }
        ]
      }
    },
    "/restapi/metadata-operations/boards/{boardId}/cardTypes": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get all the card types available in a board",
        "description": "This operation is used to retrieve a list of cardTypes for your SwiftKanban board.",
        "operationId": "GetCardTypes",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName"
            }
          }
        ]
      }
    },
    "/restapi/card-operations/boards/{boardId}/cards/archive": {
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Archive a card",
        "description": "This operation is used to archive a specific card for a given card ID.",
        "operationId": "ArchiveCard",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName",
              "parameters": {
                "other-boards": "N"
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cardDetails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "cardUniqueId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "cardUniqueId",
                        "title": ""
                      },
                      "cardType": {
                        "type": "string",
                        "description": "cardType",
                        "title": "",
                        "x-ms-dynamic-values": {
                          "operationId": "GetCardTypes",
                          "value-path": "CardType",
                          "value-collection": "Response/details/CardTypes/Card",
                          "value-title": "TypeName",
                          "parameters": {
                            "boardId": {
                              "parameter": "boardId"
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "cardType",
                      "cardUniqueId"
                    ]
                  },
                  "description": "cardDetails"
                }
              },
              "required": [
                "cardDetails"
              ]
            }
          }
        ]
      }
    },
    "/restapi/card-operations/boards/{boardId}/cards/discard-abort": {
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Discard or Abort a card",
        "description": "This operation is used to discard or abort a specific card for a given card ID",
        "operationId": "DiscardAbortCard",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName"
            },
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cardDetails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "cardUniqueId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "cardUniqueId",
                        "title": ""
                      },
                      "cardType": {
                        "type": "string",
                        "description": "cardType",
                        "title": "",
                        "x-ms-dynamic-values": {
                          "operationId": "GetCardTypes",
                          "value-path": "CardType",
                          "value-collection": "Response/details/CardTypes/Card",
                          "value-title": "TypeName",
                          "parameters": {
                            "boardId": {
                              "parameter": "boardId"
                            }
                          }
                        }
                      },
                      "discardAbortReason": {
                        "type": "string",
                        "description": "discardAbortReason",
                        "title": "",
                        "enum": [
                          "Dropped",
                          "Obsolete",
                          "Deferred",
                          "Merged",
                          "Clarification Needed"
                        ]
                      },
                      "discardAbortComment": {
                        "type": "string",
                        "description": "discardAbortComment",
                        "title": ""
                      }
                    },
                    "required": [
                      "cardType",
                      "cardUniqueId",
                      "discardAbortComment",
                      "discardAbortReason"
                    ]
                  },
                  "description": "cardDetails"
                }
              },
              "required": [
                "cardDetails"
              ]
            }
          }
        ]
      }
    },
    "/restapi/board-operations/boards/{boardId}/config": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get details of queues and sub-queues",
        "description": "This operation is used to fetch Lane details along with queues and subqueues",
        "operationId": "GetLaneAndQueue",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName"
            },
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double"
          }
        ]
      }
    },
    "/restapi/card-operations/boards/{boardId}/cards/move/backlog": {
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Move a card to backlog",
        "description": "This operation is used to move a card to backlog",
        "operationId": "MoveCardToBacklog",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetBoards",
              "value-path": "boardId",
              "value-collection": "Response/details/board",
              "value-title": "projectName",
              "parameters": {
                "other-boards": "N"
              }
            },
            "description": "Pick your SwiftKanban Board",
            "x-ms-summary": "Get all accessible boards",
            "x-ms-url-encoding": "double"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cardDetails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "cardType": {
                        "type": "string",
                        "description": "cardType",
                        "title": "",
                        "x-ms-dynamic-values": {
                          "operationId": "GetCardTypes",
                          "value-path": "CardType",
                          "value-collection": "Response/details/CardTypes/Card",
                          "value-title": "TypeName",
                          "parameters": {
                            "boardId": {
                              "parameter": "boardId"
                            }
                          }
                        }
                      },
                      "cardUniqueId": {
                        "type": "integer",
                        "description": "cardUniqueId",
                        "title": "",
                        "format": "int32"
                      }
                    },
                    "required": [
                      "cardType",
                      "cardUniqueId"
                    ]
                  },
                  "description": "cardDetails"
                }
              },
              "required": [
                "cardDetails"
              ]
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.digite.com/swiftkanban"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.digite.com/about-us/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Productivity"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "AuthorizationToken"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}