{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Stormboard",
    "description": "Stormboard Connector"
  },
  "host": "api.stormboard.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/ideas": {
      "post": {
        "summary": "Create an Idea",
        "description": "Creates a new Idea in an existing Storm.",
        "operationId": "CreateIdea",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "required": [
                "color",
                "data",
                "stormid",
                "type"
              ],
              "type": "object",
              "properties": {
                "stormid": {
                  "format": "int32",
                  "title": "stormid",
                  "description": "stormid",
                  "type": "integer",
                  "x-ms-summary": "stormid",
                  "x-ms-dynamic-values": {
                    "operationId": "RetrieveStorms",
                    "value-path": "id",
                    "value-collection": "storms",
                    "value-title": "title",
                    "parameters": {
                      "Content-Type": {
                        "parameter": "Content-Type"
                      }
                    }
                  }
                },
                "type": {
                  "title": "type",
                  "description": "type",
                  "default": "text",
                  "enum": [
                    "text",
                    "title"
                  ],
                  "type": "string",
                  "x-ms-summary": "type"
                },
                "data": {
                  "title": "data",
                  "description": "data",
                  "type": "string",
                  "x-ms-summary": "data"
                },
                "color": {
                  "title": "color",
                  "description": "color",
                  "default": "yellow",
                  "enum": [
                    "yellow",
                    "pink",
                    "green",
                    "blue",
                    "purple",
                    "grey",
                    "red",
                    "silver",
                    "orange"
                  ],
                  "type": "string",
                  "x-ms-summary": "color"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "format": "int32",
                  "description": "id",
                  "type": "integer",
                  "x-ms-summary": "id"
                },
                "storm": {
                  "description": "storm",
                  "type": "object",
                  "properties": {
                    "id": {
                      "format": "int32",
                      "description": "id",
                      "type": "integer",
                      "x-ms-summary": "id"
                    },
                    "title": {
                      "description": "title",
                      "type": "string",
                      "x-ms-summary": "title"
                    }
                  },
                  "x-ms-summary": "storm"
                },
                "color": {
                  "description": "color",
                  "type": "string",
                  "x-ms-summary": "color"
                },
                "lock": {
                  "format": "int32",
                  "description": "lock",
                  "type": "integer",
                  "x-ms-summary": "lock"
                },
                "x": {
                  "format": "int32",
                  "description": "x",
                  "type": "integer",
                  "x-ms-summary": "x"
                },
                "y": {
                  "format": "int32",
                  "description": "y",
                  "type": "integer",
                  "x-ms-summary": "y"
                },
                "z": {
                  "format": "int32",
                  "description": "z",
                  "type": "integer",
                  "x-ms-summary": "z"
                },
                "type": {
                  "description": "type",
                  "type": "string",
                  "x-ms-summary": "type"
                },
                "data": {
                  "description": "data",
                  "type": "object",
                  "properties": {
                    "text": {
                      "description": "text",
                      "type": "string",
                      "x-ms-summary": "text"
                    }
                  },
                  "x-ms-summary": "data"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced"
      }
    },
    "/hooks": {
      "post": {
        "summary": "Legend Change",
        "description": "Legend Change",
        "operationId": "LegendChange",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "service",
                "url",
                "events"
              ],
              "type": "object",
              "properties": {
                "service": {
                  "title": "params.service",
                  "description": "Service",
                  "default": "MicrosoftPowerAutomate",
                  "type": "string",
                  "x-ms-summary": "service",
                  "x-ms-visibility": "internal"
                },
                "url": {
                  "description": "url",
                  "type": "string",
                  "x-ms-summary": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "events": {
                  "title": "params.events",
                  "description": "Events",
                  "default": "idea.color",
                  "type": "string",
                  "x-ms-summary": "events",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single"
      },
      "x-ms-notification-content": {
        "description": "Legend Response",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int32",
              "description": "id",
              "x-ms-summary": "id"
            },
            "date": {
              "type": "integer",
              "format": "int32",
              "description": "date",
              "x-ms-summary": "date"
            },
            "type": {
              "type": "string",
              "description": "type",
              "x-ms-summary": "type"
            },
            "storm": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title",
                  "x-ms-summary": "title"
                }
              },
              "description": "storm",
              "x-ms-summary": "storm"
            },
            "idea": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "type",
                  "x-ms-summary": "type"
                },
                "text": {
                  "type": "string",
                  "description": "text",
                  "x-ms-summary": "text"
                }
              },
              "description": "idea",
              "x-ms-summary": "idea"
            },
            "data": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "data",
              "x-ms-summary": "data"
            },
            "user": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "x-ms-summary": "name"
                },
                "full": {
                  "type": "string",
                  "description": "full",
                  "x-ms-summary": "full"
                }
              },
              "description": "user",
              "x-ms-summary": "user"
            },
            "to": {
              "type": "object",
              "properties": {
                "colour": {
                  "type": "string",
                  "description": "colour",
                  "x-ms-summary": "colour"
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "x-ms-summary": "name"
                }
              },
              "description": "to",
              "x-ms-summary": "to"
            }
          }
        }
      }
    },
    "/hooks/ideaSection": {
      "post": {
        "summary": "Idea Moved",
        "description": "Trigger when an idea was moved to a different section of a storm.",
        "operationId": "IdeaSection",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "service",
                "events",
                "url"
              ],
              "type": "object",
              "properties": {
                "service": {
                  "title": "service",
                  "description": "service",
                  "default": "MicrosoftPowerAutomate",
                  "type": "string",
                  "x-ms-summary": "service",
                  "x-ms-visibility": "internal"
                },
                "url": {
                  "description": "url",
                  "type": "string",
                  "x-ms-summary": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "events": {
                  "title": "events",
                  "description": "events",
                  "default": "idea.section",
                  "type": "string",
                  "x-ms-summary": "events",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "x-ms-visibility": "advanced"
      },
      "x-ms-notification-content": {
        "description": "Idea Moved Response",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int32",
              "description": "id",
              "x-ms-summary": "id"
            },
            "date": {
              "type": "integer",
              "format": "int32",
              "description": "date",
              "x-ms-summary": "date"
            },
            "type": {
              "type": "string",
              "description": "type",
              "x-ms-summary": "type"
            },
            "storm": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title",
                  "x-ms-summary": "title"
                }
              },
              "description": "storm",
              "x-ms-summary": "storm"
            },
            "idea": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "type",
                  "x-ms-summary": "type"
                },
                "text": {
                  "type": "string",
                  "description": "text",
                  "x-ms-summary": "text"
                }
              },
              "description": "idea",
              "x-ms-summary": "idea"
            },
            "data": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "data",
              "x-ms-summary": "data"
            },
            "user": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "x-ms-summary": "name"
                },
                "full": {
                  "type": "string",
                  "description": "full",
                  "x-ms-summary": "full"
                }
              },
              "description": "user",
              "x-ms-summary": "user"
            },
            "to": {
              "type": "object",
              "properties": {
                "char": {
                  "type": "string",
                  "description": "char",
                  "x-ms-summary": "char"
                },
                "title": {
                  "type": "string",
                  "description": "title",
                  "x-ms-summary": "title"
                }
              },
              "description": "to",
              "x-ms-summary": "to"
            }
          }
        },
        "headers": {
          "Content-Type": {
            "description": "Content-Type",
            "type": "string"
          }
        }
      }
    },
    "/hooks/ideaCreated": {
      "post": {
        "summary": "Idea Created",
        "description": "Trigger when an idea was added to a storm.",
        "operationId": "IdeaCreated",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "events",
                "service",
                "url"
              ],
              "type": "object",
              "properties": {
                "service": {
                  "title": "service",
                  "description": "service",
                  "default": "MicrosoftPowerAutomate",
                  "type": "string",
                  "x-ms-summary": "service",
                  "x-ms-visibility": "internal"
                },
                "url": {
                  "description": "url",
                  "type": "string",
                  "x-ms-summary": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "events": {
                  "title": "events",
                  "description": "events",
                  "default": "idea.create",
                  "type": "string",
                  "x-ms-summary": "events",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single"
      },
      "x-ms-notification-content": {
        "description": "Idea Created Response",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int32",
              "description": "id",
              "x-ms-summary": "id"
            },
            "date": {
              "type": "integer",
              "format": "int32",
              "description": "date",
              "x-ms-summary": "date"
            },
            "type": {
              "type": "string",
              "description": "type",
              "x-ms-summary": "type"
            },
            "storm": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title",
                  "x-ms-summary": "title"
                }
              },
              "description": "storm",
              "x-ms-summary": "storm"
            },
            "idea": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "type",
                  "x-ms-summary": "type"
                },
                "text": {
                  "type": "string",
                  "description": "text",
                  "x-ms-summary": "text"
                }
              },
              "description": "idea",
              "x-ms-summary": "idea"
            },
            "data": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "data",
              "x-ms-summary": "data"
            },
            "user": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "x-ms-summary": "name"
                },
                "full": {
                  "type": "string",
                  "description": "full",
                  "x-ms-summary": "full"
                }
              },
              "description": "user",
              "x-ms-summary": "user"
            }
          }
        },
        "headers": {
          "Content-Type": {
            "description": "Content-Type",
            "type": "string"
          }
        }
      }
    },
    "/hooks/ideaDeleted": {
      "post": {
        "summary": "Idea Deleted",
        "description": "Trigger when an idea was delete from a storm.",
        "operationId": "IdeaDeleted",
        "parameters": [
          {
            "name": "Content-type",
            "in": "header",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "events",
                "service",
                "url"
              ],
              "type": "object",
              "properties": {
                "service": {
                  "title": "service",
                  "description": "service",
                  "default": "MicrosoftPowerAutomate",
                  "type": "string",
                  "x-ms-summary": "service",
                  "x-ms-visibility": "internal"
                },
                "url": {
                  "description": "url",
                  "type": "string",
                  "x-ms-summary": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "events": {
                  "title": "events",
                  "description": "events",
                  "default": "idea.delete",
                  "type": "string",
                  "x-ms-summary": "events",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single"
      },
      "x-ms-notification-content": {
        "description": "Idea Deleted Reponse",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int32",
              "description": "id",
              "x-ms-summary": "id"
            },
            "date": {
              "type": "integer",
              "format": "int32",
              "description": "date",
              "x-ms-summary": "date"
            },
            "type": {
              "type": "string",
              "description": "type",
              "x-ms-summary": "type"
            },
            "storm": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title",
                  "x-ms-summary": "title"
                }
              },
              "description": "storm",
              "x-ms-summary": "storm"
            },
            "idea": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "type",
                  "x-ms-summary": "type"
                },
                "text": {
                  "type": "string",
                  "description": "text",
                  "x-ms-summary": "text"
                }
              },
              "description": "idea",
              "x-ms-summary": "idea"
            },
            "data": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "data",
              "x-ms-summary": "data"
            },
            "user": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "x-ms-summary": "name"
                },
                "full": {
                  "type": "string",
                  "description": "full",
                  "x-ms-summary": "full"
                }
              },
              "description": "user",
              "x-ms-summary": "user"
            }
          }
        },
        "headers": {
          "Content-Type": {
            "description": "Content-Type",
            "type": "string"
          }
        }
      }
    },
    "/hooks/commentCreated": {
      "post": {
        "summary": "Comment Created",
        "description": "Trigger when an new comment was posted on an idea.",
        "operationId": "CommentCreated",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "events",
                "service",
                "url"
              ],
              "type": "object",
              "properties": {
                "service": {
                  "title": "service",
                  "description": "service",
                  "default": "MicrosoftPowerAutomate",
                  "type": "string",
                  "x-ms-summary": "service",
                  "x-ms-visibility": "internal"
                },
                "url": {
                  "description": "url",
                  "type": "string",
                  "x-ms-summary": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "events": {
                  "title": "events",
                  "description": "events",
                  "default": "comment.create",
                  "type": "string",
                  "x-ms-summary": "events",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "single"
      },
      "x-ms-notification-content": {
        "description": "Comment Created Response",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int32",
              "description": "id",
              "x-ms-summary": "id"
            },
            "date": {
              "type": "integer",
              "format": "int32",
              "description": "date",
              "x-ms-summary": "date"
            },
            "type": {
              "type": "string",
              "description": "type",
              "x-ms-summary": "type"
            },
            "storm": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title",
                  "x-ms-summary": "title"
                }
              },
              "description": "storm",
              "x-ms-summary": "storm"
            },
            "idea": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "type",
                  "x-ms-summary": "type"
                },
                "text": {
                  "type": "string",
                  "description": "text",
                  "x-ms-summary": "text"
                }
              },
              "description": "idea",
              "x-ms-summary": "idea"
            },
            "data": {
              "type": "object",
              "properties": {
                "comment": {
                  "type": "string",
                  "description": "comment",
                  "x-ms-summary": "comment"
                }
              },
              "description": "data",
              "x-ms-summary": "data"
            },
            "user": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "x-ms-summary": "name"
                },
                "full": {
                  "type": "string",
                  "description": "full",
                  "x-ms-summary": "full"
                }
              },
              "description": "user",
              "x-ms-summary": "user"
            }
          }
        },
        "headers": {
          "Content-Type": {
            "description": "Content-Type",
            "type": "string"
          }
        }
      }
    },
    "/storms": {
      "get": {
        "summary": "Retrieve Storms",
        "description": "Retrieve Storms",
        "operationId": "RetrieveStorms",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "storms": {
                  "description": "storms",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "format": "int32",
                        "description": "id",
                        "type": "integer",
                        "x-ms-summary": "id"
                      },
                      "key": {
                        "description": "key",
                        "type": "string",
                        "x-ms-summary": "key"
                      },
                      "title": {
                        "description": "title",
                        "type": "string",
                        "x-ms-summary": "title"
                      },
                      "status": {
                        "description": "status",
                        "type": "string",
                        "x-ms-summary": "status"
                      },
                      "plan": {
                        "description": "plan",
                        "type": "string",
                        "x-ms-summary": "plan"
                      }
                    }
                  },
                  "x-ms-summary": "storms"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      },
      "post": {
        "summary": "Create a Storm",
        "description": "Creates a new Storm.",
        "operationId": "CreateStorm",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "required": [
                "plan",
                "title"
              ],
              "type": "object",
              "properties": {
                "title": {
                  "title": "title",
                  "description": "Storm Title",
                  "type": "string",
                  "x-ms-summary": "title"
                },
                "plan": {
                  "title": "plan",
                  "description": "Storm Type",
                  "default": "0",
                  "type": "string",
                  "x-ms-summary": "plan",
                  "x-ms-dynamic-values": {
                    "operationId": "RetrievePlans",
                    "value-path": "id",
                    "value-collection": "plans",
                    "value-title": "name",
                    "parameters": {
                      "Content-Type": {
                        "parameter": "Content-Type"
                      }
                    }
                  }
                },
                "goals": {
                  "title": "goals",
                  "description": "Storm Goals and Description",
                  "type": "string",
                  "x-ms-summary": "goals"
                },
                "ideacreator": {
                  "title": "ideacreator",
                  "description": "Show Idea Creator",
                  "default": true,
                  "type": "boolean",
                  "x-ms-summary": "ideacreator"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "format": "int32",
                  "description": "id",
                  "type": "integer",
                  "x-ms-summary": "id"
                },
                "key": {
                  "description": "key",
                  "type": "string",
                  "x-ms-summary": "key"
                },
                "title": {
                  "description": "title",
                  "type": "string",
                  "x-ms-summary": "title"
                },
                "goals": {
                  "description": "goals",
                  "type": "string",
                  "x-ms-summary": "goals"
                },
                "lastactivity": {
                  "format": "date-time",
                  "description": "lastactivity",
                  "type": "string",
                  "x-ms-summary": "lastactivity"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced"
      }
    },
    "/msflow/plans": {
      "get": {
        "summary": "Retrieve Plans",
        "description": "Retrieve Plans",
        "operationId": "RetrievePlans",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "plans": {
                  "description": "plans",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "id",
                        "type": "string",
                        "x-ms-summary": "id"
                      },
                      "name": {
                        "description": "name",
                        "type": "string",
                        "x-ms-summary": "name"
                      }
                    }
                  },
                  "x-ms-summary": "plans"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://api.stormboard.com/oauth2/authorize",
      "tokenUrl": "https://api.stormboard.com/oauth2/token",
      "scopes": {
        "full": "full"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "full"
      ]
    }
  ],
  "tags": []
}