{
  "swagger": "2.0",
  "info": {
    "title": "Power Fx Functions",
    "description": "A comprehensive Power Fx function library providing 270+ mathematical, text, logical, date and time, table manipulation, conversion, and utility functions using custom C# script execution.",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "email": "troy@troystaylor.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://troystaylor.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://troystaylor.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Productivity"
    }
  ],
  "host": "troystaylor.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/evaluate": {
      "post": {
        "operationId": "EvaluateFormula",
        "summary": "Evaluate Power Fx Formula",
        "description": "Evaluates a Power Fx formula and returns the result with type information.",
        "x-ms-summary": "Evaluate Formula",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EvaluateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Formula evaluation successful",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/EvaluateResponse"
            }
          },
          "400": {
            "description": "Invalid formula or evaluation error",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/parse": {
      "post": {
        "operationId": "ParseFormula",
        "summary": "Parse Power Fx Formula",
        "description": "Parses a Power Fx formula and returns syntax tree information.",
        "x-ms-summary": "Parse Formula",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ParseRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Formula parsing successful",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/ParseResponse"
            }
          },
          "400": {
            "description": "Invalid formula syntax",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/validate": {
      "post": {
        "operationId": "ValidateFormula",
        "summary": "Validate Power Fx Formula",
        "description": "Validates a Power Fx formula and returns any syntax or semantic errors.",
        "x-ms-summary": "Validate Formula",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Formula validation completed",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/ValidateResponse"
            }
          }
        }
      }
    },
    "/functions/math/{operation}": {
      "post": {
        "operationId": "ExecuteMathFunction",
        "summary": "Execute Math Function",
        "description": "Executes a mathematical function with provided arguments.",
        "x-ms-summary": "Math Function",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "abs",
              "power",
              "sqrt",
              "mod",
              "round",
              "sin",
              "cos",
              "tan",
              "ln",
              "log",
              "exp",
              "pi",
              "int",
              "roundup",
              "rounddown",
              "trunc",
              "asin",
              "acos",
              "atan",
              "atan2",
              "acot",
              "cot",
              "radians",
              "degrees",
              "rand",
              "randbetween",
              "average",
              "max",
              "min",
              "sum",
              "count",
              "counta",
              "gcd",
              "lcm",
              "ceiling",
              "floor",
              "pmt",
              "pv",
              "fv",
              "nper",
              "rate"
            ],
            "x-ms-enum": {
              "name": "MathOperation",
              "modelAsString": true,
              "values": [
                {
                  "value": "abs",
                  "displayName": "Absolute Value"
                },
                {
                  "value": "power",
                  "displayName": "Power/Exponentiation"
                },
                {
                  "value": "sqrt",
                  "displayName": "Square Root"
                },
                {
                  "value": "mod",
                  "displayName": "Modulo"
                },
                {
                  "value": "round",
                  "displayName": "Round"
                },
                {
                  "value": "sin",
                  "displayName": "Sine"
                },
                {
                  "value": "cos",
                  "displayName": "Cosine"
                },
                {
                  "value": "tan",
                  "displayName": "Tangent"
                },
                {
                  "value": "ln",
                  "displayName": "Natural Logarithm"
                },
                {
                  "value": "log",
                  "displayName": "Logarithm"
                },
                {
                  "value": "exp",
                  "displayName": "Exponential"
                },
                {
                  "value": "pi",
                  "displayName": "Pi Constant"
                },
                {
                  "value": "int",
                  "displayName": "Integer Part"
                },
                {
                  "value": "roundup",
                  "displayName": "Round Up"
                },
                {
                  "value": "rounddown",
                  "displayName": "Round Down"
                },
                {
                  "value": "trunc",
                  "displayName": "Truncate"
                },
                {
                  "value": "asin",
                  "displayName": "Arcsine"
                },
                {
                  "value": "acos",
                  "displayName": "Arccosine"
                },
                {
                  "value": "atan",
                  "displayName": "Arctangent"
                },
                {
                  "value": "atan2",
                  "displayName": "Two-Argument Arctangent"
                },
                {
                  "value": "acot",
                  "displayName": "Arccotangent"
                },
                {
                  "value": "cot",
                  "displayName": "Cotangent"
                },
                {
                  "value": "radians",
                  "displayName": "Degrees to Radians"
                },
                {
                  "value": "degrees",
                  "displayName": "Radians to Degrees"
                },
                {
                  "value": "rand",
                  "displayName": "Random Number"
                },
                {
                  "value": "randbetween",
                  "displayName": "Random Between"
                },
                {
                  "value": "average",
                  "displayName": "Average"
                },
                {
                  "value": "max",
                  "displayName": "Maximum"
                },
                {
                  "value": "min",
                  "displayName": "Minimum"
                },
                {
                  "value": "sum",
                  "displayName": "Sum"
                },
                {
                  "value": "count",
                  "displayName": "Count"
                },
                {
                  "value": "counta",
                  "displayName": "Count Non-Empty"
                },
                {
                  "value": "gcd",
                  "displayName": "Greatest Common Divisor"
                },
                {
                  "value": "lcm",
                  "displayName": "Least Common Multiple"
                },
                {
                  "value": "ceiling",
                  "displayName": "Ceiling"
                },
                {
                  "value": "floor",
                  "displayName": "Floor"
                }
              ]
            },
            "x-ms-summary": "Math Operation",
            "description": "The mathematical operation to perform.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MathFunctionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Math function executed successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionResponse"
            }
          },
          "400": {
            "description": "Invalid arguments or operation",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/functions/text/{operation}": {
      "post": {
        "operationId": "ExecuteTextFunction",
        "summary": "Execute Text Function",
        "description": "Executes a text manipulation function with provided arguments.",
        "x-ms-summary": "Text Function",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "left",
              "right",
              "mid",
              "len",
              "upper",
              "lower",
              "trim",
              "find",
              "replace",
              "concatenate",
              "split",
              "trimends",
              "proper",
              "search",
              "substitute",
              "startswith",
              "endswith",
              "char",
              "unichar",
              "encodeurl",
              "encodehtml",
              "plaintext",
              "concat",
              "ismatch",
              "match",
              "matchall",
              "rept",
              "fixed",
              "dollar"
            ],
            "x-ms-enum": {
              "name": "TextOperation",
              "modelAsString": true,
              "values": [
                {
                  "value": "left",
                  "displayName": "Left Characters"
                },
                {
                  "value": "right",
                  "displayName": "Right Characters"
                },
                {
                  "value": "mid",
                  "displayName": "Middle Characters"
                },
                {
                  "value": "len",
                  "displayName": "Length"
                },
                {
                  "value": "upper",
                  "displayName": "Uppercase"
                },
                {
                  "value": "lower",
                  "displayName": "Lowercase"
                },
                {
                  "value": "trim",
                  "displayName": "Trim Whitespace"
                },
                {
                  "value": "find",
                  "displayName": "Find Text"
                },
                {
                  "value": "replace",
                  "displayName": "Replace Text"
                },
                {
                  "value": "concatenate",
                  "displayName": "Concatenate"
                },
                {
                  "value": "split",
                  "displayName": "Split Text"
                },
                {
                  "value": "trimends",
                  "displayName": "Trim Both Ends"
                },
                {
                  "value": "proper",
                  "displayName": "Proper Case"
                },
                {
                  "value": "search",
                  "displayName": "Search Text"
                },
                {
                  "value": "substitute",
                  "displayName": "Substitute Text"
                },
                {
                  "value": "startswith",
                  "displayName": "Starts With"
                },
                {
                  "value": "endswith",
                  "displayName": "Ends With"
                },
                {
                  "value": "char",
                  "displayName": "Character from Code"
                },
                {
                  "value": "unichar",
                  "displayName": "Unicode Character"
                },
                {
                  "value": "encodeurl",
                  "displayName": "URL Encode"
                },
                {
                  "value": "encodehtml",
                  "displayName": "HTML Encode"
                },
                {
                  "value": "plaintext",
                  "displayName": "Plain Text"
                },
                {
                  "value": "concat",
                  "displayName": "Concatenate"
                },
                {
                  "value": "ismatch",
                  "displayName": "Is Match (Regex)"
                },
                {
                  "value": "match",
                  "displayName": "Match (Regex)"
                },
                {
                  "value": "matchall",
                  "displayName": "Match All (Regex)"
                },
                {
                  "value": "rept",
                  "displayName": "Repeat Text"
                },
                {
                  "value": "fixed",
                  "displayName": "Format Number"
                },
                {
                  "value": "dollar",
                  "displayName": "Format Currency"
                }
              ]
            },
            "x-ms-summary": "Text Operation",
            "description": "The text operation to perform.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TextFunctionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Text function executed successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionResponse"
            }
          },
          "400": {
            "description": "Invalid arguments or operation",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/functions/logical/{operation}": {
      "post": {
        "operationId": "ExecuteLogicalFunction",
        "summary": "Execute Logical Function",
        "description": "Executes a logical function with provided arguments.",
        "x-ms-summary": "Logical Function",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "and",
              "or",
              "not",
              "if",
              "isblank",
              "isempty",
              "isnumeric",
              "iserror",
              "switch",
              "iferror",
              "error",
              "isblankorerror",
              "istoday",
              "isutctoday"
            ],
            "x-ms-enum": {
              "name": "LogicalOperation",
              "modelAsString": true,
              "values": [
                {
                  "value": "and",
                  "displayName": "Logical AND"
                },
                {
                  "value": "or",
                  "displayName": "Logical OR"
                },
                {
                  "value": "not",
                  "displayName": "Logical NOT"
                },
                {
                  "value": "if",
                  "displayName": "If Condition"
                },
                {
                  "value": "isblank",
                  "displayName": "Is Blank"
                },
                {
                  "value": "isempty",
                  "displayName": "Is Empty"
                },
                {
                  "value": "isnumeric",
                  "displayName": "Is Numeric"
                },
                {
                  "value": "iserror",
                  "displayName": "Is Error"
                },
                {
                  "value": "switch",
                  "displayName": "Switch Statement"
                },
                {
                  "value": "iferror",
                  "displayName": "If Error"
                },
                {
                  "value": "error",
                  "displayName": "Create Error"
                },
                {
                  "value": "isblankorerror",
                  "displayName": "Is Blank or Error"
                },
                {
                  "value": "istoday",
                  "displayName": "Is Today"
                },
                {
                  "value": "isutctoday",
                  "displayName": "Is UTC Today"
                }
              ]
            },
            "x-ms-summary": "Logical Operation",
            "description": "The logical operation to perform.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LogicalFunctionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logical function executed successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionResponse"
            }
          },
          "400": {
            "description": "Invalid arguments or operation",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/functions/datetime/{operation}": {
      "post": {
        "operationId": "ExecuteDateTimeFunction",
        "summary": "Execute Date Time Function",
        "description": "Executes a date/time function with provided arguments.",
        "x-ms-summary": "Date Time Function",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "now",
              "today",
              "year",
              "month",
              "day",
              "hour",
              "minute",
              "second",
              "dateadd",
              "datediff",
              "utcnow",
              "utctoday",
              "date",
              "datetime",
              "time",
              "datevalue",
              "datetimevalue",
              "timevalue",
              "weekday",
              "edate",
              "eomonth",
              "weeknum",
              "isoweeknum"
            ],
            "x-ms-enum": {
              "name": "DateTimeOperation",
              "modelAsString": true,
              "values": [
                {
                  "value": "now",
                  "displayName": "Current Date/Time"
                },
                {
                  "value": "today",
                  "displayName": "Today's Date"
                },
                {
                  "value": "year",
                  "displayName": "Year"
                },
                {
                  "value": "month",
                  "displayName": "Month"
                },
                {
                  "value": "day",
                  "displayName": "Day"
                },
                {
                  "value": "hour",
                  "displayName": "Hour"
                },
                {
                  "value": "minute",
                  "displayName": "Minute"
                },
                {
                  "value": "second",
                  "displayName": "Second"
                },
                {
                  "value": "dateadd",
                  "displayName": "Add to Date"
                },
                {
                  "value": "datediff",
                  "displayName": "Date Difference"
                },
                {
                  "value": "utcnow",
                  "displayName": "Current UTC Date/Time"
                },
                {
                  "value": "utctoday",
                  "displayName": "Today's UTC Date"
                },
                {
                  "value": "date",
                  "displayName": "Create Date"
                },
                {
                  "value": "datetime",
                  "displayName": "Create DateTime"
                },
                {
                  "value": "time",
                  "displayName": "Create Time"
                },
                {
                  "value": "datevalue",
                  "displayName": "Parse Date"
                },
                {
                  "value": "datetimevalue",
                  "displayName": "Parse DateTime"
                },
                {
                  "value": "timevalue",
                  "displayName": "Parse Time"
                },
                {
                  "value": "weekday",
                  "displayName": "Day of Week"
                },
                {
                  "value": "edate",
                  "displayName": "End Date"
                },
                {
                  "value": "eomonth",
                  "displayName": "End of Month"
                },
                {
                  "value": "weeknum",
                  "displayName": "Week Number"
                },
                {
                  "value": "isoweeknum",
                  "displayName": "ISO Week Number"
                }
              ]
            },
            "x-ms-summary": "Date Time Operation",
            "description": "The date/time operation to perform.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DateTimeFunctionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Date/time function executed successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionResponse"
            }
          },
          "400": {
            "description": "Invalid arguments or operation",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/functions/conversion/{operation}": {
      "post": {
        "operationId": "ExecuteConversionFunction",
        "summary": "Execute Type Conversion Function",
        "description": "Executes a type conversion function with provided arguments.",
        "x-ms-summary": "Conversion Function",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "text",
              "value",
              "boolean",
              "decimal",
              "float",
              "guid",
              "astype"
            ],
            "x-ms-enum": {
              "name": "ConversionOperation",
              "modelAsString": true,
              "values": [
                {
                  "value": "text",
                  "displayName": "Convert to Text"
                },
                {
                  "value": "value",
                  "displayName": "Convert to Number"
                },
                {
                  "value": "boolean",
                  "displayName": "Convert to Boolean"
                },
                {
                  "value": "decimal",
                  "displayName": "Convert to Decimal"
                },
                {
                  "value": "float",
                  "displayName": "Convert to Float"
                },
                {
                  "value": "guid",
                  "displayName": "Generate GUID"
                },
                {
                  "value": "astype",
                  "displayName": "Convert Type"
                }
              ]
            },
            "x-ms-summary": "Conversion Operation",
            "description": "The conversion operation to perform.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConversionFunctionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion function executed successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionResponse"
            }
          },
          "400": {
            "description": "Invalid arguments or operation",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/types/check": {
      "post": {
        "operationId": "CheckValueType",
        "summary": "Check Value Type",
        "description": "Determines the Power Fx type of a given value.",
        "x-ms-summary": "Check Type",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeCheckRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Type check completed successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/TypeCheckResponse"
            }
          }
        }
      }
    },
    "/types/coerce": {
      "post": {
        "operationId": "CoerceValueType",
        "summary": "Coerce Value Type",
        "description": "Attempts to coerce a value to a specific Power Fx type.",
        "x-ms-summary": "Coerce Type",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeCoerceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Type coercion completed",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/TypeCoerceResponse"
            }
          },
          "400": {
            "description": "Type coercion failed",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/functions/table/{operation}": {
      "post": {
        "operationId": "ExecuteTableFunction",
        "summary": "Execute Table Function",
        "description": "Executes a table manipulation function with provided arguments.",
        "x-ms-summary": "Table Function",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "addcolumns",
              "filter",
              "sort",
              "groupby",
              "summarize",
              "distinct",
              "firstn",
              "lastn",
              "table",
              "sequence",
              "countrows",
              "countif",
              "first",
              "last",
              "index",
              "shuffle"
            ],
            "x-ms-enum": {
              "name": "TableOperation",
              "modelAsString": true,
              "values": [
                {
                  "value": "addcolumns",
                  "displayName": "Add Columns"
                },
                {
                  "value": "filter",
                  "displayName": "Filter Rows"
                },
                {
                  "value": "sort",
                  "displayName": "Sort Table"
                },
                {
                  "value": "groupby",
                  "displayName": "Group By"
                },
                {
                  "value": "summarize",
                  "displayName": "Summarize"
                },
                {
                  "value": "distinct",
                  "displayName": "Distinct Values"
                },
                {
                  "value": "firstn",
                  "displayName": "First N Rows"
                },
                {
                  "value": "lastn",
                  "displayName": "Last N Rows"
                },
                {
                  "value": "table",
                  "displayName": "Create Table"
                },
                {
                  "value": "sequence",
                  "displayName": "Number Sequence"
                },
                {
                  "value": "countrows",
                  "displayName": "Count Rows"
                },
                {
                  "value": "countif",
                  "displayName": "Count If"
                },
                {
                  "value": "first",
                  "displayName": "First Row"
                },
                {
                  "value": "last",
                  "displayName": "Last Row"
                },
                {
                  "value": "index",
                  "displayName": "Index Row"
                },
                {
                  "value": "shuffle",
                  "displayName": "Shuffle Rows"
                }
              ]
            },
            "x-ms-summary": "Table Operation",
            "description": "The table operation to perform.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TableFunctionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table function executed successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionResponse"
            }
          },
          "400": {
            "description": "Invalid arguments or operation",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/functions/utility/{operation}": {
      "post": {
        "operationId": "ExecuteUtilityFunction",
        "summary": "Execute Utility Function",
        "description": "Executes utility functions like encoding, JSON parsing, etc.",
        "x-ms-summary": "Utility Function",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "rand",
              "randbetween",
              "sequence",
              "shuffle",
              "sort",
              "reverse",
              "coalesce",
              "collect",
              "clear",
              "remove",
              "removeif",
              "update",
              "updateif",
              "patch",
              "parsejson",
              "dec2hex",
              "hex2dec",
              "blank",
              "rgba",
              "colorvalue",
              "colorfade",
              "forall",
              "with"
            ],
            "x-ms-enum": {
              "name": "UtilityOperation",
              "modelAsString": true,
              "values": [
                {
                  "value": "rand",
                  "displayName": "Random Number"
                },
                {
                  "value": "randbetween",
                  "displayName": "Random Between"
                },
                {
                  "value": "sequence",
                  "displayName": "Number Sequence"
                },
                {
                  "value": "shuffle",
                  "displayName": "Shuffle Array"
                },
                {
                  "value": "sort",
                  "displayName": "Sort Array"
                },
                {
                  "value": "reverse",
                  "displayName": "Reverse Array"
                },
                {
                  "value": "coalesce",
                  "displayName": "First Non-Empty"
                },
                {
                  "value": "collect",
                  "displayName": "Collect Records"
                },
                {
                  "value": "clear",
                  "displayName": "Clear Collection"
                },
                {
                  "value": "remove",
                  "displayName": "Remove Records"
                },
                {
                  "value": "removeif",
                  "displayName": "Remove If"
                },
                {
                  "value": "update",
                  "displayName": "Update Records"
                },
                {
                  "value": "updateif",
                  "displayName": "Update If"
                },
                {
                  "value": "patch",
                  "displayName": "Patch Records"
                },
                {
                  "value": "parsejson",
                  "displayName": "Parse JSON"
                },
                {
                  "value": "dec2hex",
                  "displayName": "Decimal to Hex"
                },
                {
                  "value": "hex2dec",
                  "displayName": "Hex to Decimal"
                },
                {
                  "value": "blank",
                  "displayName": "Blank Value"
                },
                {
                  "value": "rgba",
                  "displayName": "RGBA Color"
                },
                {
                  "value": "colorvalue",
                  "displayName": "Color Value"
                },
                {
                  "value": "colorfade",
                  "displayName": "Color Fade"
                },
                {
                  "value": "forall",
                  "displayName": "For All Records"
                },
                {
                  "value": "with",
                  "displayName": "With Record Context"
                }
              ]
            },
            "x-ms-summary": "Utility Operation",
            "description": "The utility operation to perform.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UtilityFunctionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Utility function executed successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionResponse"
            }
          },
          "400": {
            "description": "Invalid arguments or operation",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/functions/date-parts/{part}": {
      "post": {
        "operationId": "ExtractDatePart",
        "summary": "Extract Date Part",
        "description": "Extracts a specific part from a date/time value.",
        "x-ms-summary": "Extract Date Part",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "part",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "year",
              "month",
              "day",
              "hour",
              "minute",
              "second",
              "weekday",
              "dayofyear",
              "quarter",
              "weeknum",
              "isoweeknum"
            ],
            "x-ms-enum": {
              "name": "DatePart",
              "modelAsString": true,
              "values": [
                {
                  "value": "year",
                  "displayName": "Year"
                },
                {
                  "value": "month",
                  "displayName": "Month"
                },
                {
                  "value": "day",
                  "displayName": "Day"
                },
                {
                  "value": "hour",
                  "displayName": "Hour"
                },
                {
                  "value": "minute",
                  "displayName": "Minute"
                },
                {
                  "value": "second",
                  "displayName": "Second"
                },
                {
                  "value": "weekday",
                  "displayName": "Day of Week"
                },
                {
                  "value": "dayofyear",
                  "displayName": "Day of Year"
                },
                {
                  "value": "quarter",
                  "displayName": "Quarter"
                },
                {
                  "value": "weeknum",
                  "displayName": "Week Number"
                },
                {
                  "value": "isoweeknum",
                  "displayName": "ISO Week Number"
                }
              ]
            },
            "x-ms-summary": "Date Part",
            "description": "The specific date part to extract.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatePartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Date part extracted successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionResponse"
            }
          },
          "400": {
            "description": "Invalid date or part",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/functions/text-transform/{transform}": {
      "post": {
        "operationId": "TransformText",
        "summary": "Transform Text",
        "description": "Applies a specific text transformation.",
        "x-ms-summary": "Transform Text",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "transform",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "upper",
              "lower",
              "proper",
              "trim",
              "trimends",
              "trimstart",
              "trimend",
              "reverse"
            ],
            "x-ms-enum": {
              "name": "TextTransform",
              "modelAsString": true,
              "values": [
                {
                  "value": "upper",
                  "displayName": "Uppercase"
                },
                {
                  "value": "lower",
                  "displayName": "Lowercase"
                },
                {
                  "value": "proper",
                  "displayName": "Proper Case"
                },
                {
                  "value": "trim",
                  "displayName": "Trim Whitespace"
                },
                {
                  "value": "trimends",
                  "displayName": "Trim Both Ends"
                },
                {
                  "value": "trimstart",
                  "displayName": "Trim Start"
                },
                {
                  "value": "trimend",
                  "displayName": "Trim End"
                },
                {
                  "value": "reverse",
                  "displayName": "Reverse Text"
                }
              ]
            },
            "x-ms-summary": "Text Transform",
            "description": "The text transformation to apply.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TextTransformRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Text transformed successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionResponse"
            }
          },
          "400": {
            "description": "Invalid text or transform",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/functions/math-round/{method}": {
      "post": {
        "operationId": "RoundNumber",
        "summary": "Round Number",
        "description": "Rounds a number using the specified method.",
        "x-ms-summary": "Round Number",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "method",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "round",
              "roundup",
              "rounddown",
              "trunc",
              "int",
              "ceiling",
              "floor"
            ],
            "x-ms-enum": {
              "name": "RoundingMethod",
              "modelAsString": true,
              "values": [
                {
                  "value": "round",
                  "displayName": "Round"
                },
                {
                  "value": "roundup",
                  "displayName": "Round Up"
                },
                {
                  "value": "rounddown",
                  "displayName": "Round Down"
                },
                {
                  "value": "trunc",
                  "displayName": "Truncate"
                },
                {
                  "value": "int",
                  "displayName": "Integer Part"
                },
                {
                  "value": "ceiling",
                  "displayName": "Ceiling"
                },
                {
                  "value": "floor",
                  "displayName": "Floor"
                }
              ]
            },
            "x-ms-summary": "Rounding Method",
            "description": "The rounding method to use.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoundingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Number rounded successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionResponse"
            }
          },
          "400": {
            "description": "Invalid number or method",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/functions/math-trig/{function}": {
      "post": {
        "operationId": "TrigFunction",
        "summary": "Trigonometric Function",
        "description": "Executes a trigonometric function.",
        "x-ms-summary": "Trigonometric Function",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "function",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "sin",
              "cos",
              "tan",
              "asin",
              "acos",
              "atan",
              "atan2",
              "cot",
              "acot",
              "sec",
              "csc",
              "sinh",
              "cosh",
              "tanh"
            ],
            "x-ms-enum": {
              "name": "TrigFunction",
              "modelAsString": true,
              "values": [
                {
                  "value": "sin",
                  "displayName": "Sine"
                },
                {
                  "value": "cos",
                  "displayName": "Cosine"
                },
                {
                  "value": "tan",
                  "displayName": "Tangent"
                },
                {
                  "value": "asin",
                  "displayName": "Arcsine"
                },
                {
                  "value": "acos",
                  "displayName": "Arccosine"
                },
                {
                  "value": "atan",
                  "displayName": "Arctangent"
                },
                {
                  "value": "atan2",
                  "displayName": "Two-Argument Arctangent"
                },
                {
                  "value": "cot",
                  "displayName": "Cotangent"
                },
                {
                  "value": "acot",
                  "displayName": "Arccotangent"
                },
                {
                  "value": "sec",
                  "displayName": "Secant"
                },
                {
                  "value": "csc",
                  "displayName": "Cosecant"
                },
                {
                  "value": "sinh",
                  "displayName": "Hyperbolic Sine"
                },
                {
                  "value": "cosh",
                  "displayName": "Hyperbolic Cosine"
                },
                {
                  "value": "tanh",
                  "displayName": "Hyperbolic Tangent"
                }
              ]
            },
            "x-ms-summary": "Trigonometric Function",
            "description": "The trigonometric function to execute.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TrigFunctionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trigonometric function executed successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionResponse"
            }
          },
          "400": {
            "description": "Invalid arguments",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/functions/text-search/{type}": {
      "post": {
        "operationId": "SearchText",
        "summary": "Search Text",
        "description": "Searches for text using the specified method.",
        "x-ms-summary": "Search Text",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "find",
              "search",
              "startswith",
              "endswith",
              "contains",
              "exact"
            ],
            "x-ms-enum": {
              "name": "TextSearchType",
              "modelAsString": true,
              "values": [
                {
                  "value": "find",
                  "displayName": "Find Position"
                },
                {
                  "value": "search",
                  "displayName": "Search Text"
                },
                {
                  "value": "startswith",
                  "displayName": "Starts With"
                },
                {
                  "value": "endswith",
                  "displayName": "Ends With"
                },
                {
                  "value": "contains",
                  "displayName": "Contains Text"
                },
                {
                  "value": "exact",
                  "displayName": "Exact Match"
                }
              ]
            },
            "x-ms-summary": "Search Type",
            "description": "The type of text search to perform.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TextSearchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Text search completed successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionResponse"
            }
          },
          "400": {
            "description": "Invalid search parameters",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/functions/logical-condition/{type}": {
      "post": {
        "operationId": "EvaluateCondition",
        "summary": "Evaluate Logical Condition",
        "description": "Evaluates a logical condition using the specified type.",
        "x-ms-summary": "Evaluate Condition",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "and",
              "or",
              "not",
              "xor",
              "nand",
              "nor"
            ],
            "x-ms-enum": {
              "name": "LogicalConditionType",
              "modelAsString": true,
              "values": [
                {
                  "value": "and",
                  "displayName": "Logical AND"
                },
                {
                  "value": "or",
                  "displayName": "Logical OR"
                },
                {
                  "value": "not",
                  "displayName": "Logical NOT"
                },
                {
                  "value": "xor",
                  "displayName": "Exclusive OR"
                },
                {
                  "value": "nand",
                  "displayName": "NOT AND"
                },
                {
                  "value": "nor",
                  "displayName": "NOT OR"
                }
              ]
            },
            "x-ms-summary": "Condition Type",
            "description": "The type of logical condition to evaluate.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LogicalConditionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logical condition evaluated successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionResponse"
            }
          },
          "400": {
            "description": "Invalid condition parameters",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/functions/type-check/{check}": {
      "post": {
        "operationId": "CheckValueProperty",
        "summary": "Check Value Property",
        "description": "Checks a specific property of a value.",
        "x-ms-summary": "Check Value Property",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "check",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "isblank",
              "isempty",
              "isnumeric",
              "istext",
              "islogical",
              "iserror",
              "isdate",
              "istime",
              "isblankorerror",
              "istoday",
              "isutctoday"
            ],
            "x-ms-enum": {
              "name": "TypeCheck",
              "modelAsString": true,
              "values": [
                {
                  "value": "isblank",
                  "displayName": "Is Blank"
                },
                {
                  "value": "isempty",
                  "displayName": "Is Empty"
                },
                {
                  "value": "isnumeric",
                  "displayName": "Is Numeric"
                },
                {
                  "value": "istext",
                  "displayName": "Is Text"
                },
                {
                  "value": "islogical",
                  "displayName": "Is Logical"
                },
                {
                  "value": "iserror",
                  "displayName": "Is Error"
                },
                {
                  "value": "isdate",
                  "displayName": "Is Date"
                },
                {
                  "value": "istime",
                  "displayName": "Is Time"
                },
                {
                  "value": "isblankorerror",
                  "displayName": "Is Blank or Error"
                },
                {
                  "value": "istoday",
                  "displayName": "Is Today"
                },
                {
                  "value": "isutctoday",
                  "displayName": "Is UTC Today"
                }
              ]
            },
            "x-ms-summary": "Check Type",
            "description": "The type of check to perform.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeCheckSpecificRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Value check completed successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionResponse"
            }
          },
          "400": {
            "description": "Invalid check parameters",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/functions/json/{operation}": {
      "post": {
        "operationId": "ExecuteJSONFunction",
        "summary": "Execute JSON Function",
        "description": "Executes JSON parsing, formatting, and manipulation functions.",
        "x-ms-summary": "JSON Function",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "parsejson",
              "json",
              "formatjson",
              "jsonextract",
              "jsonpath",
              "isvalidjson",
              "jsonmerge",
              "jsonarray",
              "jsonobject",
              "jsonkeys",
              "jsonvalues"
            ],
            "x-ms-enum": {
              "name": "JSONOperation",
              "modelAsString": true,
              "values": [
                {
                  "value": "parsejson",
                  "displayName": "Parse JSON"
                },
                {
                  "value": "json",
                  "displayName": "Create JSON"
                },
                {
                  "value": "formatjson",
                  "displayName": "Format JSON"
                },
                {
                  "value": "jsonextract",
                  "displayName": "Extract JSON Property"
                },
                {
                  "value": "jsonpath",
                  "displayName": "JSON Path Query"
                },
                {
                  "value": "isvalidjson",
                  "displayName": "Validate JSON"
                },
                {
                  "value": "jsonmerge",
                  "displayName": "Merge JSON Objects"
                },
                {
                  "value": "jsonarray",
                  "displayName": "Create JSON Array"
                },
                {
                  "value": "jsonobject",
                  "displayName": "Create JSON Object"
                },
                {
                  "value": "jsonkeys",
                  "displayName": "Get JSON Keys"
                },
                {
                  "value": "jsonvalues",
                  "displayName": "Get JSON Values"
                }
              ]
            },
            "x-ms-summary": "JSON Operation",
            "description": "The JSON operation to perform.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONFunctionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON function executed successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionResponse"
            }
          },
          "400": {
            "description": "Invalid JSON or operation",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/functions/table-advanced/{operation}": {
      "post": {
        "operationId": "ExecuteAdvancedTableFunction",
        "summary": "Execute Advanced Table Function",
        "description": "Executes advanced table operations like joins, pivots, and complex transformations.",
        "x-ms-summary": "Advanced Table Function",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "join",
              "leftjoin",
              "rightjoin",
              "innerjoin",
              "outerjoin",
              "crossjoin",
              "pivot",
              "unpivot",
              "transpose",
              "lookup",
              "xlookup",
              "relate",
              "unrelate",
              "merge",
              "append",
              "union",
              "intersect",
              "except",
              "dropcolumns",
              "renamecolumns",
              "showcolumns"
            ],
            "x-ms-enum": {
              "name": "AdvancedTableOperation",
              "modelAsString": true,
              "values": [
                {
                  "value": "join",
                  "displayName": "Join Tables"
                },
                {
                  "value": "leftjoin",
                  "displayName": "Left Join"
                },
                {
                  "value": "rightjoin",
                  "displayName": "Right Join"
                },
                {
                  "value": "innerjoin",
                  "displayName": "Inner Join"
                },
                {
                  "value": "outerjoin",
                  "displayName": "Outer Join"
                },
                {
                  "value": "crossjoin",
                  "displayName": "Cross Join"
                },
                {
                  "value": "pivot",
                  "displayName": "Pivot Table"
                },
                {
                  "value": "unpivot",
                  "displayName": "Unpivot Table"
                },
                {
                  "value": "transpose",
                  "displayName": "Transpose Table"
                },
                {
                  "value": "lookup",
                  "displayName": "Lookup Value"
                },
                {
                  "value": "xlookup",
                  "displayName": "Extended Lookup"
                },
                {
                  "value": "relate",
                  "displayName": "Create Relationship"
                },
                {
                  "value": "unrelate",
                  "displayName": "Remove Relationship"
                },
                {
                  "value": "merge",
                  "displayName": "Merge Tables"
                },
                {
                  "value": "append",
                  "displayName": "Append Tables"
                },
                {
                  "value": "union",
                  "displayName": "Union Tables"
                },
                {
                  "value": "intersect",
                  "displayName": "Intersect Tables"
                },
                {
                  "value": "except",
                  "displayName": "Except Tables"
                },
                {
                  "value": "dropcolumns",
                  "displayName": "Drop Columns"
                },
                {
                  "value": "renamecolumns",
                  "displayName": "Rename Columns"
                },
                {
                  "value": "showcolumns",
                  "displayName": "Show Columns"
                }
              ]
            },
            "x-ms-summary": "Advanced Table Operation",
            "description": "The advanced table operation to perform.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdvancedTableFunctionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Advanced table function executed successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionResponse"
            }
          },
          "400": {
            "description": "Invalid table operation",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/functions/color/{operation}": {
      "post": {
        "operationId": "ExecuteColorFunction",
        "summary": "Execute Color Function",
        "description": "Executes color manipulation and conversion functions.",
        "x-ms-summary": "Color Function",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "rgba",
              "rgb",
              "hsl",
              "hsv",
              "colorvalue",
              "colorfade",
              "colorbrightness",
              "colorcontrast",
              "colormix",
              "colorinvert",
              "hex2color",
              "color2hex",
              "colorred",
              "colorgreen",
              "colorblue",
              "coloralpha"
            ],
            "x-ms-enum": {
              "name": "ColorOperation",
              "modelAsString": true,
              "values": [
                {
                  "value": "rgba",
                  "displayName": "RGBA Color"
                },
                {
                  "value": "rgb",
                  "displayName": "RGB Color"
                },
                {
                  "value": "hsl",
                  "displayName": "HSL Color"
                },
                {
                  "value": "hsv",
                  "displayName": "HSV Color"
                },
                {
                  "value": "colorvalue",
                  "displayName": "Parse Color Value"
                },
                {
                  "value": "colorfade",
                  "displayName": "Fade Color"
                },
                {
                  "value": "colorbrightness",
                  "displayName": "Adjust Brightness"
                },
                {
                  "value": "colorcontrast",
                  "displayName": "Color Contrast"
                },
                {
                  "value": "colormix",
                  "displayName": "Mix Colors"
                },
                {
                  "value": "colorinvert",
                  "displayName": "Invert Color"
                },
                {
                  "value": "hex2color",
                  "displayName": "Hex to Color"
                },
                {
                  "value": "color2hex",
                  "displayName": "Color to Hex"
                },
                {
                  "value": "colorred",
                  "displayName": "Red Component"
                },
                {
                  "value": "colorgreen",
                  "displayName": "Green Component"
                },
                {
                  "value": "colorblue",
                  "displayName": "Blue Component"
                },
                {
                  "value": "coloralpha",
                  "displayName": "Alpha Component"
                }
              ]
            },
            "x-ms-summary": "Color Operation",
            "description": "The color operation to perform.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ColorFunctionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Color function executed successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionResponse"
            }
          },
          "400": {
            "description": "Invalid color operation",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/functions/encoding/{operation}": {
      "post": {
        "operationId": "ExecuteEncodingFunction",
        "summary": "Execute Encoding Function",
        "description": "Executes data encoding and decoding functions.",
        "x-ms-summary": "Encoding Function",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "base64encode",
              "base64decode",
              "urlencode",
              "urldecode",
              "htmlencode",
              "htmldecode",
              "xmlencode",
              "xmldecode",
              "utf8encode",
              "utf8decode",
              "hash",
              "md5",
              "sha1",
              "sha256"
            ],
            "x-ms-enum": {
              "name": "EncodingOperation",
              "modelAsString": true,
              "values": [
                {
                  "value": "base64encode",
                  "displayName": "Base64 Encode"
                },
                {
                  "value": "base64decode",
                  "displayName": "Base64 Decode"
                },
                {
                  "value": "urlencode",
                  "displayName": "URL Encode"
                },
                {
                  "value": "urldecode",
                  "displayName": "URL Decode"
                },
                {
                  "value": "htmlencode",
                  "displayName": "HTML Encode"
                },
                {
                  "value": "htmldecode",
                  "displayName": "HTML Decode"
                },
                {
                  "value": "xmlencode",
                  "displayName": "XML Encode"
                },
                {
                  "value": "xmldecode",
                  "displayName": "XML Decode"
                },
                {
                  "value": "utf8encode",
                  "displayName": "UTF-8 Encode"
                },
                {
                  "value": "utf8decode",
                  "displayName": "UTF-8 Decode"
                },
                {
                  "value": "hash",
                  "displayName": "Hash Value"
                },
                {
                  "value": "md5",
                  "displayName": "MD5 Hash"
                },
                {
                  "value": "sha1",
                  "displayName": "SHA1 Hash"
                },
                {
                  "value": "sha256",
                  "displayName": "SHA256 Hash"
                }
              ]
            },
            "x-ms-summary": "Encoding Operation",
            "description": "The encoding operation to perform.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EncodingFunctionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Encoding function executed successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionResponse"
            }
          },
          "400": {
            "description": "Invalid encoding operation",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/functions/statistics/{operation}": {
      "post": {
        "operationId": "ExecuteStatisticsFunction",
        "summary": "Execute Statistics Function",
        "description": "Executes advanced statistical analysis functions.",
        "x-ms-summary": "Statistics Function",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "stdev",
              "stdevp",
              "var",
              "varp",
              "median",
              "mode",
              "percentile",
              "quartile",
              "correlation",
              "covariance",
              "regression",
              "slope",
              "intercept",
              "rsquared",
              "frequency",
              "rank",
              "percentrank",
              "zscore",
              "confidence"
            ],
            "x-ms-enum": {
              "name": "StatisticsOperation",
              "modelAsString": true,
              "values": [
                {
                  "value": "stdev",
                  "displayName": "Standard Deviation"
                },
                {
                  "value": "stdevp",
                  "displayName": "Population Standard Deviation"
                },
                {
                  "value": "var",
                  "displayName": "Variance"
                },
                {
                  "value": "varp",
                  "displayName": "Population Variance"
                },
                {
                  "value": "median",
                  "displayName": "Median"
                },
                {
                  "value": "mode",
                  "displayName": "Mode"
                },
                {
                  "value": "percentile",
                  "displayName": "Percentile"
                },
                {
                  "value": "quartile",
                  "displayName": "Quartile"
                },
                {
                  "value": "correlation",
                  "displayName": "Correlation"
                },
                {
                  "value": "covariance",
                  "displayName": "Covariance"
                },
                {
                  "value": "regression",
                  "displayName": "Linear Regression"
                },
                {
                  "value": "slope",
                  "displayName": "Regression Slope"
                },
                {
                  "value": "intercept",
                  "displayName": "Regression Intercept"
                },
                {
                  "value": "rsquared",
                  "displayName": "R-Squared"
                },
                {
                  "value": "frequency",
                  "displayName": "Frequency"
                },
                {
                  "value": "rank",
                  "displayName": "Rank"
                },
                {
                  "value": "percentrank",
                  "displayName": "Percent Rank"
                },
                {
                  "value": "zscore",
                  "displayName": "Z-Score"
                },
                {
                  "value": "confidence",
                  "displayName": "Confidence Interval"
                }
              ]
            },
            "x-ms-summary": "Statistics Operation",
            "description": "The statistical operation to perform.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StatisticsFunctionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics function executed successfully",
            "x-ms-summary": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionResponse"
            }
          },
          "400": {
            "description": "Invalid statistics operation",
            "x-ms-summary": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PowerFxValue": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The actual value (can be string, number, boolean, object, or array)."
        },
        "type": {
          "type": "string",
          "enum": [
            "Text",
            "Number",
            "Boolean",
            "Date",
            "DateTime",
            "Time",
            "Record",
            "Table",
            "Blank",
            "Error"
          ],
          "description": "The Power Fx type of the value."
        },
        "isError": {
          "type": "boolean",
          "description": "Whether this value represents an error."
        },
        "errorMessage": {
          "type": "string",
          "description": "Error message if isError is true."
        }
      },
      "required": [
        "value",
        "type"
      ]
    },
    "EvaluateRequest": {
      "type": "object",
      "properties": {
        "formula": {
          "type": "string",
          "description": "The Power Fx formula to evaluate.",
          "x-ms-summary": "Formula"
        },
        "context": {
          "type": "object",
          "description": "Context variables and their values.",
          "x-ms-summary": "Context Variables",
          "additionalProperties": {
            "$ref": "#/definitions/PowerFxValue"
          }
        },
        "options": {
          "$ref": "#/definitions/EvaluationOptions"
        }
      },
      "required": [
        "formula"
      ]
    },
    "EvaluateResponse": {
      "type": "object",
      "properties": {
        "result": {
          "$ref": "#/definitions/PowerFxValue"
        },
        "executionTimeMs": {
          "type": "number",
          "description": "Execution time in milliseconds"
        },
        "warnings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Any warnings generated during evaluation"
        }
      },
      "required": [
        "result"
      ]
    },
    "ParseRequest": {
      "type": "object",
      "properties": {
        "formula": {
          "type": "string",
          "description": "The Power Fx formula to parse",
          "x-ms-summary": "Formula"
        },
        "options": {
          "$ref": "#/definitions/ParseOptions"
        }
      },
      "required": [
        "formula"
      ]
    },
    "ParseResponse": {
      "type": "object",
      "properties": {
        "isValid": {
          "type": "boolean",
          "description": "Whether the formula parsed successfully"
        },
        "syntaxTree": {
          "type": "object",
          "description": "The parsed syntax tree representation"
        },
        "tokens": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Token"
          },
          "description": "The tokens identified during parsing"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ParseError"
          },
          "description": "Any parsing errors"
        }
      }
    },
    "ValidateRequest": {
      "type": "object",
      "properties": {
        "formula": {
          "type": "string",
          "description": "The Power Fx formula to validate",
          "x-ms-summary": "Formula"
        },
        "context": {
          "type": "object",
          "description": "Context for type checking",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "formula"
      ]
    },
    "ValidateResponse": {
      "type": "object",
      "properties": {
        "isValid": {
          "type": "boolean",
          "description": "Whether the formula is valid"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationError"
          },
          "description": "Validation errors if any"
        },
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationWarning"
          },
          "description": "Validation warnings if any"
        },
        "returnType": {
          "type": "string",
          "description": "The expected return type of the formula"
        }
      }
    },
    "MathFunctionRequest": {
      "type": "object",
      "properties": {
        "arguments": {
          "type": "array",
          "items": {
            "type": "number"
          },
          "description": "Numeric arguments for the math function",
          "x-ms-summary": "Arguments"
        }
      },
      "required": [
        "arguments"
      ]
    },
    "TextFunctionRequest": {
      "type": "object",
      "properties": {
        "arguments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Text arguments for the text function",
          "x-ms-summary": "Arguments"
        },
        "numericArgs": {
          "type": "array",
          "items": {
            "type": "number"
          },
          "description": "Numeric arguments (for functions like Mid, Left, Right)",
          "x-ms-summary": "Numeric Arguments"
        }
      },
      "required": [
        "arguments"
      ]
    },
    "LogicalFunctionRequest": {
      "type": "object",
      "properties": {
        "arguments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PowerFxValue"
          },
          "description": "Arguments for the logical function",
          "x-ms-summary": "Arguments"
        }
      },
      "required": [
        "arguments"
      ]
    },
    "DateTimeFunctionRequest": {
      "type": "object",
      "properties": {
        "arguments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PowerFxValue"
          },
          "description": "Arguments for the date/time function",
          "x-ms-summary": "Arguments"
        }
      },
      "required": [
        "arguments"
      ]
    },
    "ConversionFunctionRequest": {
      "type": "object",
      "properties": {
        "value": {
          "$ref": "#/definitions/PowerFxValue"
        },
        "targetType": {
          "type": "string",
          "description": "Target type for conversion",
          "x-ms-summary": "Target Type"
        },
        "format": {
          "type": "string",
          "description": "Format specifier (currency, percentage, custom format string)",
          "x-ms-summary": "Format"
        },
        "locale": {
          "type": "string",
          "description": "Locale for cultural formatting (e.g., 'en-US', 'fr-FR')",
          "x-ms-summary": "Locale"
        }
      },
      "required": [
        "value"
      ]
    },
    "FunctionResponse": {
      "type": "object",
      "properties": {
        "result": {
          "$ref": "#/definitions/PowerFxValue"
        },
        "executionTimeMs": {
          "type": "number",
          "description": "Execution time in milliseconds"
        }
      }
    },
    "TypeCheckRequest": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The value to check the type of"
        }
      },
      "required": [
        "value"
      ]
    },
    "TypeCheckResponse": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The detected Power Fx type"
        },
        "isValid": {
          "type": "boolean",
          "description": "Whether the value is valid for Power Fx"
        },
        "details": {
          "type": "object",
          "description": "Additional type information"
        }
      }
    },
    "TypeCoerceRequest": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The value to coerce"
        },
        "targetType": {
          "type": "string",
          "enum": [
            "Text",
            "Number",
            "Boolean",
            "Date",
            "DateTime",
            "Time"
          ],
          "description": "The target type to coerce to"
        }
      },
      "required": [
        "value",
        "targetType"
      ]
    },
    "TypeCoerceResponse": {
      "type": "object",
      "properties": {
        "result": {
          "$ref": "#/definitions/PowerFxValue"
        },
        "success": {
          "type": "boolean",
          "description": "Whether coercion was successful"
        }
      }
    },
    "EvaluationOptions": {
      "type": "object",
      "properties": {
        "numberIsFloat": {
          "type": "boolean",
          "description": "Whether to treat numbers as floats instead of decimals"
        },
        "allowSideEffects": {
          "type": "boolean",
          "description": "Whether to allow functions with side effects"
        },
        "timeout": {
          "type": "number",
          "description": "Evaluation timeout in milliseconds"
        }
      }
    },
    "ParseOptions": {
      "type": "object",
      "properties": {
        "includeTokens": {
          "type": "boolean",
          "description": "Whether to include token information in the response"
        },
        "includeSyntaxTree": {
          "type": "boolean",
          "description": "Whether to include the full syntax tree"
        }
      }
    },
    "Token": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Token type"
        },
        "value": {
          "type": "string",
          "description": "Token value"
        },
        "start": {
          "type": "number",
          "description": "Start position in formula"
        },
        "end": {
          "type": "number",
          "description": "End position in formula"
        }
      }
    },
    "ParseError": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Error message"
        },
        "start": {
          "type": "number",
          "description": "Error start position"
        },
        "end": {
          "type": "number",
          "description": "Error end position"
        },
        "severity": {
          "type": "string",
          "enum": [
            "Error",
            "Warning",
            "Info"
          ],
          "description": "Error severity"
        }
      }
    },
    "ValidationError": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Error message"
        },
        "start": {
          "type": "number",
          "description": "Error start position"
        },
        "end": {
          "type": "number",
          "description": "Error end position"
        },
        "code": {
          "type": "string",
          "description": "Error code"
        }
      }
    },
    "ValidationWarning": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Warning message"
        },
        "start": {
          "type": "number",
          "description": "Warning start position"
        },
        "end": {
          "type": "number",
          "description": "Warning end position"
        },
        "code": {
          "type": "string",
          "description": "Warning code"
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "description": "Error message"
        },
        "code": {
          "type": "string",
          "description": "Error code"
        },
        "details": {
          "type": "object",
          "description": "Additional error details"
        }
      },
      "required": [
        "error"
      ]
    },
    "TableFunctionRequest": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object"
          },
          "description": "Table data as array of objects",
          "x-ms-summary": "Table Data"
        },
        "arguments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PowerFxValue"
          },
          "description": "Additional arguments for the table function",
          "x-ms-summary": "Arguments"
        },
        "columns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Column names for table operations",
          "x-ms-summary": "Columns"
        }
      }
    },
    "UtilityFunctionRequest": {
      "type": "object",
      "properties": {
        "arguments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PowerFxValue"
          },
          "description": "Arguments for the utility function",
          "x-ms-summary": "Arguments"
        },
        "options": {
          "type": "object",
          "description": "Additional options for the utility function",
          "x-ms-summary": "Options"
        },
        "table": {
          "type": "array",
          "items": {
            "type": "object"
          },
          "description": "Table data for ForAll operations",
          "x-ms-summary": "Table"
        },
        "record": {
          "type": "object",
          "description": "Record data for With operations",
          "x-ms-summary": "Record"
        },
        "expression": {
          "type": "string",
          "description": "Expression to evaluate for ForAll/With operations",
          "x-ms-summary": "Expression"
        }
      },
      "required": [
        "arguments"
      ]
    },
    "DatePartRequest": {
      "type": "object",
      "properties": {
        "dateValue": {
          "$ref": "#/definitions/PowerFxValue"
        }
      },
      "required": [
        "dateValue"
      ]
    },
    "TextTransformRequest": {
      "type": "object",
      "properties": {
        "text": {
          "$ref": "#/definitions/PowerFxValue"
        },
        "options": {
          "type": "object",
          "description": "Additional transformation options",
          "x-ms-summary": "Options"
        }
      },
      "required": [
        "text"
      ]
    },
    "RoundingRequest": {
      "type": "object",
      "properties": {
        "number": {
          "$ref": "#/definitions/PowerFxValue"
        },
        "decimals": {
          "$ref": "#/definitions/PowerFxValue"
        }
      },
      "required": [
        "number"
      ]
    },
    "TrigFunctionRequest": {
      "type": "object",
      "properties": {
        "angle": {
          "$ref": "#/definitions/PowerFxValue"
        },
        "secondAngle": {
          "$ref": "#/definitions/PowerFxValue"
        },
        "angleUnit": {
          "type": "string",
          "enum": [
            "radians",
            "degrees"
          ],
          "description": "Unit of the angle (default: radians)",
          "x-ms-summary": "Angle Unit"
        }
      },
      "required": [
        "angle"
      ]
    },
    "TextSearchRequest": {
      "type": "object",
      "properties": {
        "text": {
          "$ref": "#/definitions/PowerFxValue"
        },
        "searchFor": {
          "$ref": "#/definitions/PowerFxValue"
        },
        "startPosition": {
          "$ref": "#/definitions/PowerFxValue"
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "Whether search is case sensitive",
          "x-ms-summary": "Case Sensitive"
        }
      },
      "required": [
        "text",
        "searchFor"
      ]
    },
    "LogicalConditionRequest": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PowerFxValue"
          },
          "description": "Values to evaluate in the logical condition",
          "x-ms-summary": "Values"
        }
      },
      "required": [
        "values"
      ]
    },
    "TypeCheckSpecificRequest": {
      "type": "object",
      "properties": {
        "value": {
          "$ref": "#/definitions/PowerFxValue"
        }
      },
      "required": [
        "value"
      ]
    },
    "JSONFunctionRequest": {
      "type": "object",
      "properties": {
        "jsonData": {
          "$ref": "#/definitions/PowerFxValue"
        },
        "jsonPath": {
          "$ref": "#/definitions/PowerFxValue"
        },
        "arguments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PowerFxValue"
          },
          "description": "Additional arguments for the JSON function",
          "x-ms-summary": "Arguments"
        },
        "options": {
          "type": "object",
          "description": "JSON processing options",
          "x-ms-summary": "Options"
        }
      },
      "required": [
        "jsonData"
      ]
    },
    "AdvancedTableFunctionRequest": {
      "type": "object",
      "properties": {
        "leftTable": {
          "type": "array",
          "items": {
            "type": "object"
          },
          "description": "Left table data for join operations",
          "x-ms-summary": "Left Table"
        },
        "rightTable": {
          "type": "array",
          "items": {
            "type": "object"
          },
          "description": "Right table data for join operations",
          "x-ms-summary": "Right Table"
        },
        "joinColumns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Columns to join on",
          "x-ms-summary": "Join Columns"
        },
        "pivotColumns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Columns for pivot operations",
          "x-ms-summary": "Pivot Columns"
        },
        "valueColumns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Value columns for aggregation",
          "x-ms-summary": "Value Columns"
        },
        "lookupKey": {
          "$ref": "#/definitions/PowerFxValue"
        },
        "lookupColumn": {
          "type": "string",
          "description": "Column to lookup in",
          "x-ms-summary": "Lookup Column"
        },
        "returnColumn": {
          "type": "string",
          "description": "Column to return from lookup",
          "x-ms-summary": "Return Column"
        }
      }
    },
    "ColorFunctionRequest": {
      "type": "object",
[...]
