{
  "swagger": "2.0",
  "info": {
    "description": "The The Open Movie Database is a RESTful web service to obtain movie information, all content and images on the site are contributed and maintained by our users.",
    "version": "1.0",
    "title": "OMDb",
    "termsOfService": "http://omdbapi.com/legal.htm",
    "contact": {
      "name": "Aaryan Arora",
      "url": "http://omdbapi.com/",
      "email": "aaryan2134@gmail.com"
    }
  },
  "host": "omdbapi.com",
  "basePath": "/",
  "schemes": ["http", "https"],
  "consumes": [],
  "produces": [],
  "paths": {
    "/": {
      "get": {
        "tags": ["Search Parameter"],
        "summary": "Returns an array of results for a given title or ID or Keyword",
        "operationId": "GetSearchResults",
        "parameters": [
          {
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string",
            "description": "API Access Key.",
            "x-ms-summary": "This API requires API Key, you can get a free api key",
            "format": "password"
          },
          {
            "name": "s",
            "in": "query",
            "description": "Title of movie or series.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Title to be used for searching the database",
            "x-ms-visibility": "important"
          },
          {
            "name": "i",
            "in": "query",
            "description": "A valid IMDb ID (e.g. tt1285016).",
            "required": false,
            "type": "string",
            "x-ms-summary": "ID to be used for searching the database",
            "x-ms-visibility": "important"
          },
          {
            "name": "y",
            "in": "query",
            "description": "Year of release.",
            "required": false,
            "type": "integer",
            "x-ms-summary": "To refine the search by finding movies/series from a particular year",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Return movie or series or episode.",
            "required": false,
            "type": "string",
            "enum": ["movie", "series", "episode"],
            "x-ms-summary": "Select the type to be returned"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to return.",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32",
            "x-ms-summary": "Select the page number. Ranges from 1-100"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "properties": {
                "Search": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "Year": {
                        "type": "string",
                        "description": "Year"
                      },
                      "imdbID": {
                        "type": "string",
                        "description": "imdbID"
                      },
                      "Type": {
                        "type": "string",
                        "description": "Type"
                      },
                      "Poster": {
                        "type": "string",
                        "description": "Poster"
                      }
                    }
                  },
                  "description": "Search"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated."
          }
        },
        "description": "Based on the title/ID/Keyword searches the database for matching results and shows all available results.",
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "apikey"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [
    {
      "name": "ID Parameter",
      "description": "e.g. ?i=tt0000001."
    },
    {
      "name": "Search Parameter",
      "description": "e.g. ?s=title."
    }
  ],
  "x-ms-connector-metadata":[
    {
      "propertyName":"Website",
      "propertyValue":"http://omdbapi.com/"
    },
    {
      "propertyName":"Privacy policy",
      "propertyValue":"http://omdbapi.com/legal.htm"
    },
    {
      "propertyName":"Categories",
      "propertyValue":"Lifestyle and Entertainment;Data"
    }
  ]
}
