{
  "swagger": "2.0",
  "info": {
    "title": "Deepgram",
    "description": "Deepgram has language AI models to power your apps. Power your apps with world-class speech-to-text and domain-specific language models (DSLMs).",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.deepgram.com",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/listen": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "transaction_key": {
                      "type": "string",
                      "description": "The transaction key.",
                      "title": "Transaction Key"
                    },
                    "request_id": {
                      "type": "string",
                      "description": "The request identifier.",
                      "title": "Request ID"
                    },
                    "sha256": {
                      "type": "string",
                      "description": "The SHA256 hash.",
                      "title": "SHA256"
                    },
                    "created": {
                      "type": "string",
                      "description": "When created.",
                      "title": "Created"
                    },
                    "duration": {
                      "type": "number",
                      "format": "float",
                      "description": "The duration.",
                      "title": "Duration"
                    },
                    "channels": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The channels.",
                      "title": "Channels"
                    },
                    "models": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The models.",
                      "title": "Models"
                    },
                    "model_info": {
                      "type": "object",
                      "properties": {},
                      "description": "The model info.",
                      "title": "Model Info"
                    }
                  },
                  "title": "Metadata"
                },
                "results": {
                  "type": "object",
                  "properties": {
                    "channels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alternatives": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "transcript": {
                                  "type": "string",
                                  "description": "The transcript.",
                                  "title": "Transcript"
                                },
                                "confidence": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "The confidence.",
                                  "title": "Confidence"
                                },
                                "words": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "word": {
                                        "type": "string",
                                        "description": "The word.",
                                        "title": "Word"
                                      },
                                      "start": {
                                        "type": "number",
                                        "format": "float",
                                        "description": "The start time.",
                                        "title": "Start"
                                      },
                                      "end": {
                                        "type": "number",
                                        "format": "float",
                                        "description": "The end time.",
                                        "title": "End"
                                      },
                                      "confidence": {
                                        "type": "number",
                                        "format": "float",
                                        "description": "The confidence.",
                                        "title": "Confidence"
                                      }
                                    }
                                  },
                                  "title": "Words"
                                }
                              }
                            },
                            "title": "Alternatives"
                          }
                        }
                      },
                      "title": "Channels"
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Transcribe audio",
        "description": "Transcribe and analyze pre-recorded audio.",
        "operationId": "TranscribePost",
        "parameters": [
          {
            "name": "model",
            "in": "query",
            "x-ms-summary": "Model",
            "description": "The model.",
            "required": false,
            "type": "string",
            "enum": [
              "general",
              "meeting",
              "phonecall",
              "voicemail",
              "finance",
              "conversationalai",
              "video"
            ]
          },
          {
            "name": "tier",
            "in": "query",
            "x-ms-summary": "Tier",
            "description": "The tier.",
            "required": false,
            "type": "string",
            "enum": [
              "base",
              "enhanced",
              "nova"
            ]
          },
          {
            "name": "version",
            "in": "query",
            "x-ms-summary": "Version",
            "description": "The version.",
            "required": false,
            "type": "string",
            "enum": [
              "latest"
            ]
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language.",
            "required": false,
            "type": "string"
          },
          {
            "name": "detect_language",
            "in": "query",
            "x-ms-summary": "Detect language",
            "description": "Whether to detect language.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "punctuate",
            "in": "query",
            "x-ms-summary": "Punctuate",
            "description": "Whether to punctuate.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "profanity_filter",
            "in": "query",
            "x-ms-summary": "Profanity Filter",
            "description": "Whether to filter profanity.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "redact",
            "in": "query",
            "x-ms-summary": "Redact",
            "description": "The type of string to redact.",
            "required": false,
            "type": "string",
            "enum": [
              "pci",
              "numbers",
              "true",
              "false",
              "ssn"
            ]
          },
          {
            "name": "diarize",
            "in": "query",
            "x-ms-summary": "Diarize",
            "description": "Whether to diarize.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "diarize_version",
            "in": "query",
            "x-ms-summary": "Diarize Version",
            "description": "The diarize version.",
            "required": false,
            "type": "string"
          },
          {
            "name": "smart_format",
            "in": "query",
            "x-ms-summary": "Smart Format",
            "description": "Whether to smart format.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filler_words",
            "in": "query",
            "x-ms-summary": "Filler Words",
            "description": "Whether to use filler words.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "multichannel",
            "in": "query",
            "x-ms-summary": "Multichannel",
            "description": "Whether to multichannel.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "alternatives",
            "in": "query",
            "x-ms-summary": "Alternatives",
            "description": "The number of alternatives.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "The search.",
            "required": false,
            "type": "string"
          },
          {
            "name": "replace",
            "in": "query",
            "x-ms-summary": "Replace",
            "description": "The replace.",
            "required": false,
            "type": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "x-ms-summary": "Callback",
            "description": "The callback.",
            "required": false,
            "type": "string"
          },
          {
            "name": "keywords",
            "in": "query",
            "x-ms-summary": "Keywords",
            "description": "The keywords.",
            "required": false,
            "type": "string"
          },
          {
            "name": "paragraphs",
            "in": "query",
            "x-ms-summary": "Paragraphs",
            "description": "Whether to split in paragraphs.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "summarize",
            "in": "query",
            "x-ms-summary": "Summarize",
            "description": "The summary.",
            "required": false,
            "type": "string"
          },
          {
            "name": "detect_topics",
            "in": "query",
            "x-ms-summary": "Detect Topics",
            "description": "Whether to detect topics.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "utterances",
            "in": "query",
            "x-ms-summary": "Utterances",
            "description": "Whether to retrieve utterances.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "utt_split",
            "in": "query",
            "x-ms-summary": "UTT Split",
            "description": "The UTT split.",
            "required": false,
            "type": "number"
          },
          {
            "name": "tag",
            "in": "query",
            "x-ms-summary": "Tag",
            "description": "The tag.",
            "required": false,
            "type": "string"
          },
          {
            "name": "numerals",
            "in": "query",
            "x-ms-summary": "Numerals",
            "description": "Whether to retrieve numerals.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "ner",
            "in": "query",
            "x-ms-summary": "NER",
            "description": "Whether to NER.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "measurements",
            "in": "query",
            "x-ms-summary": "Measurements",
            "description": "Whether to retrieve measurements.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "dictation",
            "in": "query",
            "x-ms-summary": "Dictation",
            "description": "Whether dictation.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/projects": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "projects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "project_id": {
                        "type": "string",
                        "description": "The project identifier.",
                        "title": "Project ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      }
                    }
                  },
                  "title": "Projects"
                }
              }
            }
          }
        },
        "summary": "Get projects",
        "description": "Retrieves basic information about your projects.",
        "operationId": "ProjectsGet",
        "parameters": []
      }
    },
    "/projects/{project_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "project_id": {
                  "type": "string",
                  "description": "The project identifier.",
                  "title": "Project ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "company": {
                  "type": "string",
                  "description": "The company.",
                  "title": "Company"
                }
              }
            }
          }
        },
        "summary": "Get project",
        "description": "Retrieves information about the specified project.",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "x-ms-summary": "Project ID",
            "x-ms-url-encoding": "single",
            "description": "The project identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "operationId": "ProjectGet"
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Delete project",
        "description": "Deletes the specified project.",
        "operationId": "ProjectDelete",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "x-ms-summary": "Project ID",
            "x-ms-url-encoding": "single",
            "description": "The project identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "x-ms-summary": "Project ID",
            "x-ms-url-encoding": "single",
            "description": "The project identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                }
              },
              "required": [
                "name"
              ]
            }
          }
        ],
        "summary": "Update project",
        "description": "Updates the project name.",
        "operationId": "ProjectPatch"
      }
    },
    "/projects/{project_id}/requests": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page.",
                  "title": "Page"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The limit.",
                  "title": "Limit"
                },
                "requests": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "request_id": {
                        "type": "string",
                        "description": "The request identifier.",
                        "title": "Request ID"
                      },
                      "created": {
                        "type": "string",
                        "description": "When created.",
                        "title": "Created"
                      },
                      "path": {
                        "type": "string",
                        "description": "The path.",
                        "title": "Path"
                      },
                      "api_key_id": {
                        "type": "string",
                        "description": "The API key identifier.",
                        "title": "API Key ID"
                      },
                      "response": {
                        "type": "object",
                        "properties": {
                          "details": {
                            "type": "object",
                            "properties": {
                              "usd": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The USD amount.",
                                "title": "USD"
                              },
                              "duration": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The duration.",
                                "title": "Duration"
                              },
                              "total_audio": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The total audio.",
                                "title": "Total Audio"
                              },
                              "channels": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The channels.",
                                "title": "Channels"
                              },
                              "streams": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The streams.",
                                "title": "Streams"
                              },
                              "models": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The models.",
                                "title": "Models"
                              },
                              "method": {
                                "type": "string",
                                "description": "The method.",
                                "title": "Method"
                              },
                              "tags": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The tags.",
                                "title": "Tags"
                              },
                              "features": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The features.",
                                "title": "Features"
                              },
                              "config": {
                                "type": "object",
                                "properties": {
                                  "alternatives": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The alternatives.",
                                    "title": "Alternatives"
                                  },
                                  "diarize": {
                                    "type": "boolean",
                                    "description": "Whether diarized.",
                                    "title": "Diarize"
                                  },
                                  "keywords": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "The keywords.",
                                    "title": "Keywords"
                                  },
                                  "language": {
                                    "type": "string",
                                    "description": "The language.",
                                    "title": "Language"
                                  },
                                  "model": {
                                    "type": "string",
                                    "description": "The model.",
                                    "title": "Model"
                                  },
                                  "multichannel": {
                                    "type": "boolean",
                                    "description": "Whether mutlichannel.",
                                    "title": "Multichannel"
                                  },
                                  "ner": {
                                    "type": "boolean",
                                    "description": "Whether NER.",
                                    "title": "NER"
                                  },
                                  "numerals": {
                                    "type": "boolean",
                                    "description": "Whether numerals.",
                                    "title": "Numerals"
                                  },
                                  "profanity_filter": {
                                    "type": "boolean",
                                    "description": "Whether filter profanity.",
                                    "title": "Profanity Filter"
                                  },
                                  "punctuate": {
                                    "type": "boolean",
                                    "description": "Whether punctuated.",
                                    "title": "Punctuate"
                                  },
                                  "redact": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "The redacted.",
                                    "title": "Redact"
                                  },
                                  "search": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "The search.",
                                    "title": "Search"
                                  },
                                  "utterances": {
                                    "type": "boolean",
                                    "description": "Whether utterances.",
                                    "title": "Utterances"
                                  }
                                },
                                "title": "Config"
                              }
                            },
                            "title": "Details"
                          },
                          "code": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The code.",
                            "title": "Code"
                          },
                          "completed": {
                            "type": "string",
                            "description": "When completed.",
                            "title": "Completed"
                          }
                        },
                        "title": "Response"
                      },
                      "callback": {
                        "type": "object",
                        "properties": {
                          "attempts": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of attempts.",
                            "title": "Attempts"
                          },
                          "code": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The code.",
                            "title": "Code"
                          },
                          "completed": {
                            "type": "string",
                            "description": "When completed.",
                            "title": "Completed"
                          }
                        },
                        "title": "Callback"
                      }
                    }
                  },
                  "title": "Requests"
                }
              }
            }
          }
        },
        "summary": "Get requests",
        "description": "Retrieve a list of requests sent to a project.",
        "operationId": "RequestsGet",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "x-ms-summary": "Project ID",
            "x-ms-url-encoding": "single",
            "description": "The project identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "The start.",
            "required": false,
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "x-ms-summary": "End",
            "description": "The end.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "x-ms-summary": "Status",
            "description": "The status.",
            "required": false,
            "type": "string",
            "enum": [
              "succeeded",
              "failed",
              "null"
            ]
          }
        ]
      }
    },
    "/projects/{project_id}/requests/{request_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "request_id": {
                  "type": "string",
                  "description": "The request identifier.",
                  "title": "Request ID"
                },
                "created": {
                  "type": "string",
                  "description": "When created.",
                  "title": "Created"
                },
                "path": {
                  "type": "string",
                  "description": "The path.",
                  "title": "Path"
                },
                "api_key_id": {
                  "type": "string",
                  "description": "The API key identifier.",
                  "title": "API Key ID"
                },
                "response": {
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "object",
                      "properties": {
                        "usd": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The USD amount.",
                          "title": "USD"
                        },
                        "duration": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The duration.",
                          "title": "Duration"
                        },
                        "total_audio": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total audio.",
                          "title": "Total Audio"
                        },
                        "channels": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The channels.",
                          "title": "Channels"
                        },
                        "streams": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The streams.",
                          "title": "Streams"
                        },
                        "models": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The models.",
                          "title": "Models"
                        },
                        "method": {
                          "type": "string",
                          "description": "The method.",
                          "title": "Method"
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The tags.",
                          "title": "Tags"
                        },
                        "features": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The features.",
                          "title": "Features"
                        },
                        "config": {
                          "type": "object",
                          "properties": {
                            "alternatives": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The alternatives.",
                              "title": "Alternatives"
                            },
                            "callback": {
                              "type": "string",
                              "description": "The callback.",
                              "title": "Callback"
                            },
                            "diarize": {
                              "type": "boolean",
                              "description": "Whether diarized.",
                              "title": "Diarize"
                            },
                            "keywords": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "The keywords.",
                              "title": "Keywords"
                            },
                            "language": {
                              "type": "string",
                              "description": "The language.",
                              "title": "Language"
                            },
                            "model": {
                              "type": "string",
                              "description": "The model.",
                              "title": "Model"
                            },
                            "multichannel": {
                              "type": "boolean",
                              "description": "Whether multichannel.",
                              "title": "Multichannel"
                            },
                            "ner": {
                              "type": "boolean",
                              "description": "Whether NER.",
                              "title": "NER"
                            },
                            "numerals": {
                              "type": "boolean",
                              "description": "Whether .",
                              "title": "Numerals"
                            },
                            "profanity_filter": {
                              "type": "boolean",
                              "description": "Whether filtered for profanity.",
                              "title": "Profanity Filter"
                            },
                            "punctuate": {
                              "type": "boolean",
                              "description": "Whether punctuated.",
                              "title": "Punctuate"
                            },
                            "redact": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "The redacted.",
                              "title": "Redact"
                            },
                            "search": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "The search.",
                              "title": "Search"
                            },
                            "utterances": {
                              "type": "boolean",
                              "description": "Whether utterances.",
                              "title": "Utterances"
                            }
                          },
                          "title": "Config"
                        }
                      },
                      "title": "Details"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The code.",
                      "title": "Code"
                    },
                    "completed": {
                      "type": "string",
                      "description": "When completed.",
                      "title": "Completed"
                    }
                  },
                  "title": "Response"
                },
                "callback": {
                  "type": "object",
                  "properties": {
                    "attempts": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The attempts.",
                      "title": "Attempts"
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The code.",
                      "title": "Code"
                    },
                    "completed": {
                      "type": "string",
                      "description": "When completed.",
                      "title": "Completed"
                    }
                  },
                  "title": "Callback"
                }
              }
            }
          }
        },
        "summary": "Get request",
        "description": "Retrieves the details of the specified request for the specified project.",
        "operationId": "RequestGet",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "x-ms-summary": "Project ID",
            "x-ms-url-encoding": "single",
            "description": "The project identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "request_id",
            "in": "path",
            "x-ms-summary": "Request ID",
            "x-ms-url-encoding": "single",
            "description": "The request identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/projects/{project_id}/usage": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "start": {
                  "type": "string",
                  "description": "The start.",
                  "title": "Start"
                },
                "end": {
                  "type": "string",
                  "description": "The end.",
                  "title": "End"
                },
                "resolution": {
                  "type": "object",
                  "properties": {
                    "units": {
                      "type": "string",
                      "description": "The units.",
                      "title": "Units"
                    },
                    "amount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The amount.",
                      "title": "Amount"
                    }
                  },
                  "title": "Resolution"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "start": {
                        "type": "string",
                        "description": "The start.",
                        "title": "Start"
                      },
                      "end": {
                        "type": "string",
                        "description": "The end.",
                        "title": "End"
                      },
                      "hours": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The hours.",
                        "title": "Hours"
                      },
                      "total_hours": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The total number of hours.",
                        "title": "Total Hours"
                      },
                      "requests": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The requests.",
                        "title": "Requests"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Summarize usage",
        "description": "Retrieves a summary of usage statistics.",
        "operationId": "UsageGet",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "x-ms-summary": "Project ID",
            "x-ms-url-encoding": "single",
            "description": "The project identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "The start.",
            "required": false,
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "x-ms-summary": "End",
            "description": "The end.",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessor",
            "in": "query",
            "x-ms-summary": "Accessor",
            "description": "The accessor.",
            "required": false,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "x-ms-summary": "Tag",
            "description": "The tag.",
            "required": false,
            "type": "string"
          },
          {
            "name": "method",
            "in": "query",
            "x-ms-summary": "Method",
            "description": "The method.",
            "required": false,
            "type": "string",
            "enum": [
              "sync",
              "async",
              "streaming"
            ]
          },
          {
            "name": "model",
            "in": "query",
            "x-ms-summary": "Model",
            "description": "The model.",
            "required": false,
            "type": "string"
          },
          {
            "name": "multichannel",
            "in": "query",
            "x-ms-summary": "Multichannel",
            "description": "Whether multichannel.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "interim_results",
            "in": "query",
            "x-ms-summary": "Interim Results",
            "description": "Whether interim results.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "punctuate",
            "in": "query",
            "x-ms-summary": "Punctuated",
            "description": "Whether punctuated.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "ner",
            "in": "query",
            "x-ms-summary": "NER",
            "description": "Whether NER.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "utterances",
            "in": "query",
            "x-ms-summary": "Utterances",
            "description": "Whether utterances.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "replace",
            "in": "query",
            "x-ms-summary": "Replace",
            "description": "Whether to replace.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "profanity_filter",
            "in": "query",
            "x-ms-summary": "Profanity Filter",
            "description": "Whether to filter profanity.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "keywords",
            "in": "query",
            "x-ms-summary": "Keywords",
            "description": "Whether keywords.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "detect_topics",
            "in": "query",
            "x-ms-summary": "Detect Topics",
            "description": "Whether detect topics.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "diarize",
            "in": "query",
            "x-ms-summary": "Diarize",
            "description": "Whether to diarize.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "Whether to search.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "redact",
            "in": "query",
            "x-ms-summary": "Redact",
            "description": "Whether to redact.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "alternatives",
            "in": "query",
            "x-ms-summary": "Alternatives",
            "description": "Whether alternatives.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "numerals",
            "in": "query",
            "x-ms-summary": "Numerals",
            "description": "Whether numerals.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "smart_format",
            "in": "query",
            "x-ms-summary": "Smart Format",
            "description": "Whether smart format.",
            "required": false,
            "type": "boolean"
          }
        ]
      }
    },
    "/projects/{project_id}/usage/fields": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The tags.",
                  "title": "Tags"
                },
                "models": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "language": {
                        "type": "string",
                        "description": "The language.",
                        "title": "Language"
                      },
                      "version": {
                        "type": "string",
                        "description": "The version.",
                        "title": "Version"
                      },
                      "model_id": {
                        "type": "string",
                        "description": "The model identifier.",
                        "title": "Model ID"
                      }
                    }
                  },
                  "title": "Models"
                },
                "processing_methods": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The processing methods.",
                  "title": "Processing Methods"
                },
                "languages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The languages.",
                  "title": "Languages"
                },
                "features": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The features.",
                  "title": "Features"
                }
              }
            }
          }
        },
        "summary": "Get fields",
        "description": "Lists the features, models, tags, languages, and processing method used for requests in the specified project.",
        "operationId": "FieldsGet",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "x-ms-summary": "Project ID",
            "x-ms-url-encoding": "single",
            "description": "The project identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "The start.",
            "required": false,
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "x-ms-summary": "End",
            "description": "The end.",
            "required": false,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://deepgram.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://deepgram.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ]
}