{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "AfterShip",
    "description": "AfterShip - Shipment tracking API"
  },
  "host": "api.aftership.com",
  "basePath": "/v4",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/couriers": {
      "get": {
        "summary": "Get user activated couriers",
        "description": "Return a list of [couriers activated at your AfterShip account](https://admin.aftership.com/settings/couriers).",
        "operationId": "GetUserActivatedCouriers",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    }
                  },
                  "description": "meta"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total"
                    },
                    "couriers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string",
                            "description": "slug"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "phone": {
                            "type": "string",
                            "description": "phone"
                          },
                          "other_name": {
                            "type": "string",
                            "description": "other_name"
                          },
                          "web_url": {
                            "type": "string",
                            "description": "web_url"
                          },
                          "required_fields": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "required_fields"
                          },
                          "optional_fields": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "optional_fields"
                          },
                          "default_language": {
                            "type": "string",
                            "description": "default_language"
                          },
                          "support_languages": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "support_languages"
                          },
                          "service_from_country_iso3": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "service_from_country_iso3"
                          }
                        }
                      },
                      "description": "couriers"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        }
      }
    },
    "/couriers/detect": {
      "post": {
        "summary": "Detect courier",
        "description": "Return a list of matched couriers based on tracking number format and [selected couriers](https://admin.aftership.com/settings/couriers) or a list of couriers.",
        "operationId": "DetectCourier",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "tracking": {
                  "type": "object",
                  "properties": {
                    "tracking_number": {
                      "type": "string",
                      "description": "tracking_number"
                    }
                  },
                  "description": "tracking"
                }
              },
              "default": {
                "tracking": {
                  "tracking_number": "906587618687"
                }
              },
              "x-ms-visibility": "important"
            },
            "required": true,
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    }
                  },
                  "description": "meta"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total"
                    },
                    "couriers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string",
                            "description": "slug"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "phone": {
                            "type": "string",
                            "description": "phone"
                          },
                          "other_name": {
                            "type": "string",
                            "description": "other_name"
                          },
                          "web_url": {
                            "type": "string",
                            "description": "web_url"
                          },
                          "required_fields": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "required_fields"
                          },
                          "optional_fields": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "optional_fields"
                          },
                          "default_language": {
                            "type": "string",
                            "description": "default_language"
                          },
                          "support_languages": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "support_languages"
                          },
                          "service_from_country_iso3": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "service_from_country_iso3"
                          }
                        }
                      },
                      "description": "couriers"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        }
      }
    },
    "/couriers/all": {
      "get": {
        "summary": "Get all couriers",
        "description": "Return a list of all couriers.",
        "operationId": "GetAllCouriers",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    }
                  },
                  "description": "meta"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total"
                    },
                    "couriers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string",
                            "description": "slug"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "phone": {
                            "type": "string",
                            "description": "phone"
                          },
                          "other_name": {
                            "type": "string",
                            "description": "other_name"
                          },
                          "web_url": {
                            "type": "string",
                            "description": "web_url"
                          },
                          "required_fields": {
                            "type": "array",
                            "items": {},
                            "description": "required_fields"
                          },
                          "optional_fields": {
                            "type": "array",
                            "items": {},
                            "description": "optional_fields"
                          }
                        }
                      },
                      "description": "couriers"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        }
      }
    },
    "/trackings": {
      "get": {
        "summary": "Get trackings",
        "description": "Get tracking results of multiple trackings.",
        "operationId": "GetTrackings",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    }
                  },
                  "description": "meta"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "page"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "limit"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "count"
                    },
                    "keyword": {
                      "type": "string",
                      "description": "keyword"
                    },
                    "slug": {
                      "type": "string",
                      "description": "slug"
                    },
                    "origin": {
                      "type": "array",
                      "items": {},
                      "description": "origin"
                    },
                    "destination": {
                      "type": "array",
                      "items": {},
                      "description": "destination"
                    },
                    "tag": {
                      "type": "string",
                      "description": "tag"
                    },
                    "fields": {
                      "type": "string",
                      "description": "fields"
                    },
                    "created_at_min": {
                      "type": "string",
                      "description": "created_at_min"
                    },
                    "created_at_max": {
                      "type": "string",
                      "description": "created_at_max"
                    },
                    "last_updated_at": {
                      "type": "string",
                      "description": "last_updated_at"
                    },
                    "return_to_sender": {
                      "type": "array",
                      "items": {},
                      "description": "return_to_sender"
                    },
                    "courier_destination_country_iso3": {
                      "type": "array",
                      "items": {},
                      "description": "courier_destination_country_iso3"
                    },
                    "trackings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "created_at"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "updated_at"
                          },
                          "last_updated_at": {
                            "type": "string",
                            "description": "last_updated_at"
                          },
                          "tracking_number": {
                            "type": "string",
                            "description": "tracking_number"
                          },
                          "slug": {
                            "type": "string",
                            "description": "slug"
                          },
                          "active": {
                            "type": "boolean",
                            "description": "active"
                          },
                          "android": {
                            "type": "array",
                            "items": {},
                            "description": "android"
                          },
                          "custom_fields": {
                            "type": "string",
                            "description": "custom_fields"
                          },
                          "customer_name": {
                            "type": "string",
                            "description": "customer_name"
                          },
                          "delivery_time": {
                            "type": "integer",
                            "format": "int32",
                            "description": "delivery_time"
                          },
                          "destination_country_iso3": {
                            "type": "string",
                            "description": "destination_country_iso3"
                          },
                          "courier_destination_country_iso3": {
                            "type": "string",
                            "description": "courier_destination_country_iso3"
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "emails"
                          },
                          "expected_delivery": {
                            "type": "string",
                            "description": "expected_delivery"
                          },
                          "ios": {
                            "type": "array",
                            "items": {},
                            "description": "ios"
                          },
                          "note": {
                            "type": "string",
                            "description": "note"
                          },
                          "order_id": {
                            "type": "string",
                            "description": "order_id"
                          },
                          "order_id_path": {
                            "type": "string",
                            "description": "order_id_path"
                          },
                          "origin_country_iso3": {
                            "type": "string",
                            "description": "origin_country_iso3"
                          },
                          "shipment_package_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "shipment_package_count"
                          },
                          "shipment_pickup_date": {
                            "type": "string",
                            "description": "shipment_pickup_date"
                          },
                          "shipment_delivery_date": {
                            "type": "string",
                            "description": "shipment_delivery_date"
                          },
                          "shipment_type": {
                            "type": "string",
                            "description": "shipment_type"
                          },
                          "shipment_weight": {
                            "type": "string",
                            "description": "shipment_weight"
                          },
                          "shipment_weight_unit": {
                            "type": "string",
                            "description": "shipment_weight_unit"
                          },
                          "signed_by": {
                            "type": "string",
                            "description": "signed_by"
                          },
                          "smses": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "smses"
                          },
                          "source": {
                            "type": "string",
                            "description": "source"
                          },
                          "tag": {
                            "type": "string",
                            "description": "tag"
                          },
                          "subtag": {
                            "type": "string",
                            "description": "subtag"
                          },
                          "subtag_message": {
                            "type": "string",
                            "description": "subtag_message"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          },
                          "tracked_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "tracked_count"
                          },
                          "last_mile_tracking_supported": {
                            "type": "string",
                            "description": "last_mile_tracking_supported"
                          },
                          "language": {
                            "type": "string",
                            "description": "language"
                          },
                          "unique_token": {
                            "type": "string",
                            "description": "unique_token"
                          },
                          "checkpoints": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "slug": {
                                  "type": "string",
                                  "description": "slug"
                                },
                                "city": {
                                  "type": "string",
                                  "description": "city"
                                },
                                "created_at": {
                                  "type": "string",
                                  "description": "created_at"
                                },
                                "location": {
                                  "type": "string",
                                  "description": "location"
                                },
                                "country_name": {
                                  "type": "string",
                                  "description": "country_name"
                                },
                                "message": {
                                  "type": "string",
                                  "description": "message"
                                },
                                "country_iso3": {
                                  "type": "string",
                                  "description": "country_iso3"
                                },
                                "tag": {
                                  "type": "string",
                                  "description": "tag"
                                },
                                "subtag": {
                                  "type": "string",
                                  "description": "subtag"
                                },
                                "subtag_message": {
                                  "type": "string",
                                  "description": "subtag_message"
                                },
                                "checkpoint_time": {
                                  "type": "string",
                                  "description": "checkpoint_time"
                                },
                                "coordinates": {
                                  "type": "array",
                                  "items": {},
                                  "description": "coordinates"
                                },
                                "state": {
                                  "type": "string",
                                  "description": "state"
                                },
                                "zip": {
                                  "type": "string",
                                  "description": "zip"
                                },
                                "raw_tag": {
                                  "type": "string",
                                  "description": "raw_tag"
                                }
                              }
                            },
                            "description": "checkpoints"
                          },
                          "subscribed_smses": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "subscribed_smses"
                          },
                          "subscribed_emails": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "subscribed_emails"
                          },
                          "return_to_sender": {
                            "type": "boolean",
                            "description": "return_to_sender"
                          },
                          "tracking_account_number": {
                            "type": "string",
                            "description": "tracking_account_number"
                          },
                          "tracking_origin_country": {
                            "type": "string",
                            "description": "tracking_origin_country"
                          },
                          "tracking_destination_country": {
                            "type": "string",
                            "description": "tracking_destination_country"
                          },
                          "tracking_key": {
                            "type": "string",
                            "description": "tracking_key"
                          },
                          "tracking_postal_code": {
                            "type": "string",
                            "description": "tracking_postal_code"
                          },
                          "tracking_ship_date": {
                            "type": "string",
                            "description": "tracking_ship_date"
                          },
                          "tracking_state": {
                            "type": "string",
                            "description": "tracking_state"
                          },
                          "order_promised_delivery_date": {
                            "type": "string",
                            "description": "order_promised_delivery_date"
                          },
                          "delivery_type": {
                            "type": "string",
                            "description": "delivery_type"
                          },
                          "pickup_location": {
                            "type": "string",
                            "description": "pickup_location"
                          },
                          "pickup_note": {
                            "type": "string",
                            "description": "pickup_note"
                          },
                          "courier_tracking_link": {
                            "type": "string",
                            "description": "courier_tracking_link"
                          },
                          "courier_redirect_link": {
                            "type": "string",
                            "description": "courier_redirect_link"
                          },
                          "first_attempted_at": {
                            "type": "string",
                            "description": "first_attempted_at"
                          }
                        }
                      },
                      "description": "trackings"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Tracking",
        "description": "Create a tracking.",
        "operationId": "CreateTracking",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "tracking": {
                  "type": "object",
                  "properties": {
                    "slug": {
                      "type": "string",
                      "description": "slug"
                    },
                    "tracking_number": {
                      "type": "string",
                      "description": "tracking_number"
                    },
                    "title": {
                      "type": "string",
                      "description": "title"
                    },
                    "smses": {
                      "type": "array",
                      "items": {},
                      "description": "smses"
                    },
                    "emails": {
                      "type": "array",
                      "items": {},
                      "description": "emails"
                    },
                    "order_id": {
                      "type": "string",
                      "description": "order_id"
                    },
                    "order_id_path": {
                      "type": "string",
                      "description": "order_id_path"
                    },
                    "custom_fields": {
                      "type": "object",
                      "properties": {
                        "product_name": {
                          "type": "string",
                          "description": "product_name"
                        },
                        "product_price": {
                          "type": "string",
                          "description": "product_price"
                        }
                      },
                      "description": "custom_fields"
                    },
                    "language": {
                      "type": "string",
                      "description": "language"
                    },
                    "order_promised_delivery_date": {
                      "type": "string",
                      "description": "order_promised_delivery_date"
                    },
                    "delivery_type": {
                      "type": "string",
                      "description": "delivery_type"
                    },
                    "pickup_location": {
                      "type": "string",
                      "description": "pickup_location"
                    },
                    "pickup_note": {
                      "type": "string",
                      "description": "pickup_note"
                    }
                  },
                  "description": "tracking"
                }
              },
              "default": {
                "tracking": {
                  "slug": "dhl",
                  "tracking_number": "123456789",
                  "title": "Title Name",
                  "smses": [],
                  "emails": [],
                  "order_id": "ID 1234",
                  "order_id_path": "http://www.aftership.com/order_id=1234",
                  "custom_fields": {
                    "product_name": "iPhone Case",
                    "product_price": "USD19.99"
                  },
                  "language": "en",
                  "order_promised_delivery_date": "2019-05-20",
                  "delivery_type": "pickup_at_store",
                  "pickup_location": "Flagship Store",
                  "pickup_note": "Reach out to our staffs when you arrive our stores for shipment pickup"
                }
              },
              "x-ms-visibility": "important"
            },
            "required": true,
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    }
                  },
                  "description": "meta"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "tracking": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "created_at"
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "updated_at"
                        },
                        "last_updated_at": {
                          "type": "string",
                          "description": "last_updated_at"
                        },
                        "tracking_number": {
                          "type": "string",
                          "description": "tracking_number"
                        },
                        "slug": {
                          "type": "string",
                          "description": "slug"
                        },
                        "active": {
                          "type": "boolean",
                          "description": "active"
                        },
                        "android": {
                          "type": "array",
                          "items": {},
                          "description": "android"
                        },
                        "custom_fields": {
                          "type": "string",
                          "description": "custom_fields"
                        },
                        "customer_name": {
                          "type": "string",
                          "description": "customer_name"
                        },
                        "delivery_time": {
                          "type": "integer",
                          "format": "int32",
                          "description": "delivery_time"
                        },
                        "destination_country_iso3": {
                          "type": "string",
                          "description": "destination_country_iso3"
                        },
                        "courier_destination_country_iso3": {
                          "type": "string",
                          "description": "courier_destination_country_iso3"
                        },
                        "emails": {
                          "type": "array",
                          "items": {},
                          "description": "emails"
                        },
                        "expected_delivery": {
                          "type": "string",
                          "description": "expected_delivery"
                        },
                        "ios": {
                          "type": "array",
                          "items": {},
                          "description": "ios"
                        },
                        "note": {
                          "type": "string",
                          "description": "note"
                        },
                        "order_id": {
                          "type": "string",
                          "description": "order_id"
                        },
                        "order_id_path": {
                          "type": "string",
                          "description": "order_id_path"
                        },
                        "origin_country_iso3": {
                          "type": "string",
                          "description": "origin_country_iso3"
                        },
                        "shipment_package_count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "shipment_package_count"
                        },
                        "shipment_pickup_date": {
                          "type": "string",
                          "description": "shipment_pickup_date"
                        },
                        "shipment_delivery_date": {
                          "type": "string",
                          "description": "shipment_delivery_date"
                        },
                        "shipment_type": {
                          "type": "string",
                          "description": "shipment_type"
                        },
                        "shipment_weight": {
                          "type": "integer",
                          "format": "int32",
                          "description": "shipment_weight"
                        },
                        "shipment_weight_unit": {
                          "type": "string",
                          "description": "shipment_weight_unit"
                        },
                        "signed_by": {
                          "type": "string",
                          "description": "signed_by"
                        },
                        "smses": {
                          "type": "array",
                          "items": {},
                          "description": "smses"
                        },
                        "source": {
                          "type": "string",
                          "description": "source"
                        },
                        "tag": {
                          "type": "string",
                          "description": "tag"
                        },
                        "subtag": {
                          "type": "string",
                          "description": "subtag"
                        },
                        "subtag_message": {
                          "type": "string",
                          "description": "subtag_message"
                        },
                        "title": {
                          "type": "string",
                          "description": "title"
                        },
                        "tracked_count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "tracked_count"
                        },
                        "last_mile_tracking_supported": {
                          "type": "boolean",
                          "description": "last_mile_tracking_supported"
                        },
                        "language": {
                          "type": "string",
                          "description": "language"
                        },
                        "unique_token": {
                          "type": "string",
                          "description": "unique_token"
                        },
                        "checkpoints": {
                          "type": "array",
                          "items": {},
                          "description": "checkpoints"
                        },
                        "subscribed_smses": {
                          "type": "array",
                          "items": {},
                          "description": "subscribed_smses"
                        },
                        "subscribed_emails": {
                          "type": "array",
                          "items": {},
                          "description": "subscribed_emails"
                        },
                        "return_to_sender": {
                          "type": "boolean",
                          "description": "return_to_sender"
                        },
                        "tracking_account_number": {
                          "type": "string",
                          "description": "tracking_account_number"
                        },
                        "tracking_origin_country": {
                          "type": "string",
                          "description": "tracking_origin_country"
                        },
                        "tracking_destination_country": {
                          "type": "string",
                          "description": "tracking_destination_country"
                        },
                        "tracking_key": {
                          "type": "string",
                          "description": "tracking_key"
                        },
                        "tracking_postal_code": {
                          "type": "string",
                          "description": "tracking_postal_code"
                        },
                        "tracking_ship_date": {
                          "type": "string",
                          "description": "tracking_ship_date"
                        },
                        "tracking_state": {
                          "type": "string",
                          "description": "tracking_state"
                        },
                        "order_promised_delivery_date": {
                          "type": "string",
                          "description": "order_promised_delivery_date"
                        },
                        "delivery_type": {
                          "type": "string",
                          "description": "delivery_type"
                        },
                        "pickup_location": {
                          "type": "string",
                          "description": "pickup_location"
                        },
                        "pickup_note": {
                          "type": "string",
                          "description": "pickup_note"
                        },
                        "courier_tracking_link": {
                          "type": "string",
                          "description": "courier_tracking_link"
                        },
                        "courier_redirect_link": {
                          "type": "string",
                          "description": "courier_redirect_link"
                        },
                        "first_attempted_at": {
                          "type": "string",
                          "description": "first_attempted_at"
                        }
                      },
                      "description": "tracking"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        }
      }
    },
    "/trackings/{slug}/{tracking_number}": {
      "get": {
        "summary": "Get a tracking",
        "description": "Get tracking results of a single tracking.",
        "operationId": "GetATracking",
        "parameters": [
          {
            "name": "slug",
            "default": "hong-kong-post",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-visibility": "important"
          },
          {
            "name": "tracking_number",
            "default": "RA123456789HK",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-visibility": "important"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    }
                  },
                  "description": "meta"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "tracking": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "created_at"
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "updated_at"
                        },
                        "last_updated_at": {
                          "type": "string",
                          "description": "last_updated_at"
                        },
                        "tracking_number": {
                          "type": "string",
                          "description": "tracking_number"
                        },
                        "slug": {
                          "type": "string",
                          "description": "slug"
                        },
                        "active": {
                          "type": "boolean",
                          "description": "active"
                        },
                        "android": {
                          "type": "array",
                          "items": {},
                          "description": "android"
                        },
                        "custom_fields": {
                          "type": "string",
                          "description": "custom_fields"
                        },
                        "customer_name": {
                          "type": "string",
                          "description": "customer_name"
                        },
                        "delivery_time": {
                          "type": "integer",
                          "format": "int32",
                          "description": "delivery_time"
                        },
                        "destination_country_iso3": {
                          "type": "string",
                          "description": "destination_country_iso3"
                        },
                        "courier_destination_country_iso3": {
                          "type": "string",
                          "description": "courier_destination_country_iso3"
                        },
                        "emails": {
                          "type": "array",
                          "items": {},
                          "description": "emails"
                        },
                        "expected_delivery": {
                          "type": "string",
                          "description": "expected_delivery"
                        },
                        "ios": {
                          "type": "array",
                          "items": {},
                          "description": "ios"
                        },
                        "note": {
                          "type": "string",
                          "description": "note"
                        },
                        "order_id": {
                          "type": "string",
                          "description": "order_id"
                        },
                        "order_id_path": {
                          "type": "string",
                          "description": "order_id_path"
                        },
                        "origin_country_iso3": {
                          "type": "string",
                          "description": "origin_country_iso3"
                        },
                        "shipment_package_count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "shipment_package_count"
                        },
                        "shipment_pickup_date": {
                          "type": "string",
                          "description": "shipment_pickup_date"
                        },
                        "shipment_delivery_date": {
                          "type": "string",
                          "description": "shipment_delivery_date"
                        },
                        "shipment_type": {
                          "type": "string",
                          "description": "shipment_type"
                        },
                        "shipment_weight": {
                          "type": "integer",
                          "format": "int32",
                          "description": "shipment_weight"
                        },
                        "shipment_weight_unit": {
                          "type": "string",
                          "description": "shipment_weight_unit"
                        },
                        "signed_by": {
                          "type": "string",
                          "description": "signed_by"
                        },
                        "smses": {
                          "type": "array",
                          "items": {},
                          "description": "smses"
                        },
                        "source": {
                          "type": "string",
                          "description": "source"
                        },
                        "tag": {
                          "type": "string",
                          "description": "tag"
                        },
                        "subtag": {
                          "type": "string",
                          "description": "subtag"
                        },
                        "subtag_message": {
                          "type": "string",
                          "description": "subtag_message"
                        },
                        "title": {
                          "type": "string",
                          "description": "title"
                        },
                        "tracked_count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "tracked_count"
                        },
                        "last_mile_tracking_supported": {
                          "type": "string",
                          "description": "last_mile_tracking_supported"
                        },
                        "language": {
                          "type": "string",
                          "description": "language"
                        },
                        "unique_token": {
                          "type": "string",
                          "description": "unique_token"
                        },
                        "checkpoints": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "slug": {
                                "type": "string",
                                "description": "slug"
                              },
                              "city": {
                                "type": "string",
                                "description": "city"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "created_at"
                              },
                              "location": {
                                "type": "string",
                                "description": "location"
                              },
                              "country_name": {
                                "type": "string",
                                "description": "country_name"
                              },
                              "message": {
                                "type": "string",
                                "description": "message"
                              },
                              "country_iso3": {
                                "type": "string",
                                "description": "country_iso3"
                              },
                              "tag": {
                                "type": "string",
                                "description": "tag"
                              },
                              "subtag": {
                                "type": "string",
                                "description": "subtag"
                              },
                              "subtag_message": {
                                "type": "string",
                                "description": "subtag_message"
                              },
                              "checkpoint_time": {
                                "type": "string",
                                "description": "checkpoint_time"
                              },
                              "coordinates": {
                                "type": "array",
                                "items": {},
                                "description": "coordinates"
                              },
                              "state": {
                                "type": "string",
                                "description": "state"
                              },
                              "zip": {
                                "type": "string",
                                "description": "zip"
                              },
                              "raw_tag": {
                                "type": "string",
                                "description": "raw_tag"
                              }
                            }
                          },
                          "description": "checkpoints"
                        },
                        "subscribed_smses": {
                          "type": "array",
                          "items": {},
                          "description": "subscribed_smses"
                        },
                        "subscribed_emails": {
                          "type": "array",
                          "items": {},
                          "description": "subscribed_emails"
                        },
                        "return_to_sender": {
                          "type": "boolean",
                          "description": "return_to_sender"
                        },
                        "tracking_account_number": {
                          "type": "string",
                          "description": "tracking_account_number"
                        },
                        "tracking_origin_country": {
                          "type": "string",
                          "description": "tracking_origin_country"
                        },
                        "tracking_destination_country": {
                          "type": "string",
                          "description": "tracking_destination_country"
                        },
                        "tracking_key": {
                          "type": "string",
                          "description": "tracking_key"
                        },
                        "tracking_postal_code": {
                          "type": "string",
                          "description": "tracking_postal_code"
                        },
                        "tracking_ship_date": {
                          "type": "string",
                          "description": "tracking_ship_date"
                        },
                        "tracking_state": {
                          "type": "string",
                          "description": "tracking_state"
                        },
                        "order_promised_delivery_date": {
                          "type": "string",
                          "description": "order_promised_delivery_date"
                        },
                        "delivery_type": {
                          "type": "string",
                          "description": "delivery_type"
                        },
                        "pickup_location": {
                          "type": "string",
                          "description": "pickup_location"
                        },
                        "pickup_note": {
                          "type": "string",
                          "description": "pickup_note"
                        },
                        "courier_tracking_link": {
                          "type": "string",
                          "description": "courier_tracking_link"
                        },
                        "courier_redirect_link": {
                          "type": "string",
                          "description": "courier_redirect_link"
                        },
                        "first_attempted_at": {
                          "type": "string",
                          "description": "first_attempted_at"
                        }
                      },
                      "description": "tracking"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a tracking",
        "description": "Delete a tracking.",
        "operationId": "DeleteATracking",
        "parameters": [
          {
            "name": "slug",
            "default": "hong-kong-post",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-visibility": "important"
          },
          {
            "name": "tracking_number",
            "default": "RA123456789HK",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-visibility": "important"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    }
                  },
                  "description": "meta"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "tracking": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "tracking_number": {
                          "type": "string",
                          "description": "tracking_number"
                        },
                        "slug": {
                          "type": "string",
                          "description": "slug"
                        },
                        "tracking_account_number": {
                          "type": "string",
                          "description": "tracking_account_number"
                        },
                        "tracking_origin_country": {
                          "type": "string",
                          "description": "tracking_origin_country"
                        },
                        "tracking_destination_country": {
                          "type": "string",
                          "description": "tracking_destination_country"
                        },
                        "tracking_key": {
                          "type": "string",
                          "description": "tracking_key"
                        },
                        "tracking_postal_code": {
                          "type": "string",
                          "description": "tracking_postal_code"
                        },
                        "tracking_ship_date": {
                          "type": "string",
                          "description": "tracking_ship_date"
                        },
                        "tracking_state": {
                          "type": "string",
                          "description": "tracking_state"
                        }
                      },
                      "description": "tracking"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a tracking",
        "description": "Update a tracking.",
        "operationId": "UpdateATracking",
        "parameters": [
          {
            "name": "slug",
            "default": "hong-kong-post",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-visibility": "important"
          },
          {
            "name": "tracking_number",
            "default": "RA123456789HK",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-visibility": "important"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "tracking": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "title"
                    },
                    "note": {
                      "type": "string",
                      "description": "note"
                    }
                  },
                  "description": "tracking"
                }
              },
              "default": {
                "tracking": {
                  "title": "New Title",
                  "note": "some notes"
                }
              },
              "x-ms-visibility": "important"
            },
            "required": true,
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    }
                  },
                  "description": "meta"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "tracking": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "created_at"
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "updated_at"
                        },
                        "last_updated_at": {
                          "type": "string",
                          "description": "last_updated_at"
                        },
                        "tracking_number": {
                          "type": "string",
                          "description": "tracking_number"
                        },
                        "slug": {
                          "type": "string",
                          "description": "slug"
                        },
                        "active": {
                          "type": "boolean",
                          "description": "active"
                        },
                        "android": {
                          "type": "array",
                          "items": {},
                          "description": "android"
                        },
                        "custom_fields": {
                          "type": "string",
                          "description": "custom_fields"
                        },
                        "customer_name": {
                          "type": "string",
                          "description": "customer_name"
                        },
                        "delivery_time": {
                          "type": "integer",
                          "format": "int32",
                          "description": "delivery_time"
                        },
                        "destination_country_iso3": {
                          "type": "string",
                          "description": "destination_country_iso3"
                        },
                        "courier_destination_country_iso3": {
                          "type": "string",
                          "description": "courier_destination_country_iso3"
                        },
                        "emails": {
                          "type": "array",
                          "items": {},
                          "description": "emails"
                        },
                        "expected_delivery": {
                          "type": "string",
                          "description": "expected_delivery"
                        },
                        "ios": {
                          "type": "array",
                          "items": {},
                          "description": "ios"
                        },
                        "note": {
                          "type": "string",
                          "description": "note"
                        },
                        "order_id": {
                          "type": "string",
                          "description": "order_id"
                        },
                        "order_id_path": {
                          "type": "string",
                          "description": "order_id_path"
                        },
                        "origin_country_iso3": {
                          "type": "string",
                          "description": "origin_country_iso3"
                        },
                        "shipment_package_count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "shipment_package_count"
                        },
                        "shipment_pickup_date": {
                          "type": "string",
                          "description": "shipment_pickup_date"
                        },
                        "shipment_delivery_date": {
                          "type": "string",
                          "description": "shipment_delivery_date"
                        },
                        "shipment_type": {
                          "type": "string",
                          "description": "shipment_type"
                        },
                        "shipment_weight": {
                          "type": "integer",
                          "format": "int32",
                          "description": "shipment_weight"
                        },
                        "shipment_weight_unit": {
                          "type": "string",
                          "description": "shipment_weight_unit"
                        },
                        "signed_by": {
                          "type": "string",
                          "description": "signed_by"
                        },
                        "smses": {
                          "type": "array",
                          "items": {},
                          "description": "smses"
                        },
                        "source": {
                          "type": "string",
                          "description": "source"
                        },
                        "tag": {
                          "type": "string",
                          "description": "tag"
                        },
                        "subtag": {
                          "type": "string",
                          "description": "subtag"
                        },
                        "subtag_message": {
                          "type": "string",
                          "description": "subtag_message"
                        },
                        "title": {
                          "type": "string",
                          "description": "title"
                        },
                        "tracked_count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "tracked_count"
                        },
                        "last_mile_tracking_supported": {
                          "type": "string",
                          "description": "last_mile_tracking_supported"
                        },
                        "language": {
                          "type": "string",
                          "description": "language"
                        },
                        "unique_token": {
                          "type": "string",
                          "description": "unique_token"
                        },
                        "checkpoints": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "slug": {
                                "type": "string",
                                "description": "slug"
                              },
                              "city": {
                                "type": "string",
                                "description": "city"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "created_at"
                              },
                              "location": {
                                "type": "string",
                                "description": "location"
                              },
                              "country_name": {
                                "type": "string",
                                "description": "country_name"
                              },
                              "message": {
                                "type": "string",
                                "description": "message"
                              },
                              "country_iso3": {
                                "type": "string",
                                "description": "country_iso3"
                              },
                              "tag": {
                                "type": "string",
                                "description": "tag"
                              },
                              "subtag": {
                                "type": "string",
                                "description": "subtag"
                              },
                              "subtag_message": {
                                "type": "string",
                                "description": "subtag_message"
                              },
                              "checkpoint_time": {
                                "type": "string",
                                "description": "checkpoint_time"
                              },
                              "coordinates": {
                                "type": "array",
                                "items": {},
                                "description": "coordinates"
                              },
                              "state": {
                                "type": "string",
                                "description": "state"
                              },
                              "zip": {
                                "type": "string",
                                "description": "zip"
                              },
                              "raw_tag": {
                                "type": "string",
                                "description": "raw_tag"
                              }
                            }
                          },
                          "description": "checkpoints"
                        },
                        "subscribed_smses": {
                          "type": "array",
                          "items": {},
                          "description": "subscribed_smses"
                        },
                        "subscribed_emails": {
                          "type": "array",
                          "items": {},
                          "description": "subscribed_emails"
                        },
                        "return_to_sender": {
                          "type": "boolean",
                          "description": "return_to_sender"
                        },
                        "tracking_account_number": {
                          "type": "string",
                          "description": "tracking_account_number"
                        },
                        "tracking_origin_country": {
                          "type": "string",
                          "description": "tracking_origin_country"
                        },
                        "tracking_destination_country": {
                          "type": "string",
                          "description": "tracking_destination_country"
                        },
                        "tracking_key": {
                          "type": "string",
                          "description": "tracking_key"
                        },
                        "tracking_postal_code": {
                          "type": "string",
                          "description": "tracking_postal_code"
                        },
                        "tracking_ship_date": {
                          "type": "string",
                          "description": "tracking_ship_date"
                        },
                        "tracking_state": {
                          "type": "string",
                          "description": "tracking_state"
                        },
                        "order_promised_delivery_date": {
                          "type": "string",
                          "description": "order_promised_delivery_date"
                        },
                        "delivery_type": {
                          "type": "string",
                          "description": "delivery_type"
                        },
                        "pickup_location": {
                          "type": "string",
                          "description": "pickup_location"
                        },
                        "pickup_note": {
                          "type": "string",
                          "description": "pickup_note"
                        },
                        "courier_tracking_link": {
                          "type": "string",
                          "description": "courier_tracking_link"
                        },
                        "courier_redirect_link": {
                          "type": "string",
                          "description": "courier_redirect_link"
                        },
                        "first_attempted_at": {
                          "type": "string",
                          "description": "first_attempted_at"
                        }
                      },
                      "description": "tracking"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        }
      }
    },
    "/trackings/{slug}/{tracking_number}/retrack": {
      "post": {
        "summary": "Retrack an expired tracking",
        "description": "Retrack an expired tracking. Max 3 times per tracking.",
        "operationId": "RetrackAnExpiredTracking",
        "parameters": [
          {
            "name": "slug",
            "default": "hong-kong-post",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-visibility": "important"
          },
          {
            "name": "tracking_number",
            "default": "RA123456789HK",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-visibility": "important"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    },
                    "type": {
                      "type": "string",
                      "description": "type"
                    }
                  },
                  "description": "meta"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "tracking": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "tracking_number": {
                          "type": "string",
                          "description": "tracking_number"
                        },
                        "slug": {
                          "type": "string",
                          "description": "slug"
                        },
                        "tracking_account_number": {
                          "type": "string",
                          "description": "tracking_account_number"
                        },
                        "tracking_origin_country": {
                          "type": "string",
                          "description": "tracking_origin_country"
                        },
                        "tracking_destination_country": {
                          "type": "string",
                          "description": "tracking_destination_country"
                        },
                        "tracking_key": {
                          "type": "string",
                          "description": "tracking_key"
                        },
                        "tracking_postal_code": {
                          "type": "string",
                          "description": "tracking_postal_code"
                        },
                        "tracking_ship_date": {
                          "type": "string",
                          "description": "tracking_ship_date"
                        },
                        "tracking_state": {
                          "type": "string",
                          "description": "tracking_state"
                        },
                        "active": {
                          "type": "boolean",
                          "description": "active"
                        }
                      },
                      "description": "tracking"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        }
      }
    },
    "/trackings/{slug}/{tracking_number}/mark-as-completed": {
      "post": {
        "summary": "Mark tracking as completed",
        "description": "Mark a tracking as completed. The tracking won't auto update until retrack it.",
        "operationId": "MarkTrackingAsCompleted",
        "parameters": [
          {
            "name": "slug",
            "default": "hong-kong-post",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-visibility": "important"
          },
          {
            "name": "tracking_number",
            "default": "RA123456789HK",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-visibility": "important"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "reason": {
                  "type": "string",
                  "description": "reason",
                  "title": "",
                  "x-ms-visibility": "important",
                  "enum": [
                    "DELIVERED",
                    "LOST",
                    "RETURNED_TO_SENDER"
                  ]
                }
              },
              "default": {
                "reason": "RETURNED_TO_SENDER"
              },
              "x-ms-visibility": "important"
            },
            "required": true,
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    },
                    "type": {
                      "type": "string",
                      "description": "type"
                    }
                  },
                  "description": "meta"
                },
                "data": {
                  "type": "object",
                  "properties": {},
                  "description": "data"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/{slug}/{tracking_number}": {
      "get": {
        "summary": "Get tracking notification",
        "description": "Get contact information for the users to notify when the tracking changes. Please note that only customer receivers will be returned. Any `email`, `sms` or `webhook` that belongs to the Store will not be returned.",
        "operationId": "GetTrackingNotification",
        "parameters": [
          {
            "name": "slug",
            "default": "hong-kong-post",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-visibility": "important"
          },
          {
            "name": "tracking_number",
            "default": "RA123456789HK",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-visibility": "important"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    }
                  },
                  "description": "meta"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "notification": {
                      "type": "object",
                      "properties": {
                        "emails": {
                          "type": "array",
                          "items": {},
                          "description": "emails"
                        },
                        "smses": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "smses"
                        }
                      },
                      "description": "notification"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/{slug}/{tracking_number}/add": {
      "post": {
        "summary": "Add a notification",
        "description": "Add notification receivers to a tracking number.",
        "operationId": "AddANotification",
        "parameters": [
          {
            "name": "slug",
            "default": "hong-kong-post",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-visibility": "important"
          },
          {
            "name": "tracking_number",
            "default": "RA123456789HK",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-visibility": "important"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "notification": {
                  "type": "object",
                  "properties": {
                    "emails": {
                      "type": "object",
                      "properties": {},
                      "description": "emails"
                    },
                    "smses": {
                      "type": "object",
                      "properties": {},
                      "description": "smses"
                    }
                  },
                  "description": "notification"
                }
              },
              "default": {
                "notification": {
                  "emails": {},
                  "smses": {}
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    }
                  },
                  "description": "meta"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "notification": {
                      "type": "object",
                      "properties": {
                        "emails": {
                          "type": "array",
                          "items": {},
                          "description": "emails"
                        },
                        "smses": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "smses"
                        }
                      },
                      "description": "notification"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/{slug}/{tracking_number}/remove": {
      "post": {
        "summary": "Remove a notification",
        "description": "Remove notification receivers from a tracking number.",
        "operationId": "RemoveANotification",
        "parameters": [
          {
            "name": "slug",
            "default": "hong-kong-post",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "tracking_number",
            "default": "RA123456789HK",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "notification": {
                  "type": "object",
                  "properties": {
                    "emails": {
                      "type": "object",
                      "properties": {},
                      "description": "emails"
                    },
                    "smses": {
                      "type": "object",
                      "properties": {},
                      "description": "smses"
                    }
                  },
                  "description": "notification"
                }
              },
              "default": {
                "notification": {
                  "emails": {},
                  "smses": {}
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    }
                  },
                  "description": "meta"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "notification": {
                      "type": "object",
                      "properties": {
                        "emails": {
                          "type": "array",
                          "items": {},
                          "description": "emails"
                        },
                        "smses": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "smses"
                        }
                      },
                      "description": "notification"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        }
      }
    },
    "/last_checkpoint/{slug}/{tracking_number}": {
      "get": {
        "summary": "Get last checkpoint",
        "description": "Return the tracking information of the last checkpoint of a single tracking.",
        "operationId": "GetLastCheckpoint",
        "parameters": [
          {
            "name": "slug",
            "default": "hong-kong-post",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "tracking_number",
            "default": "RA12345789HK",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    }
                  },
                  "description": "meta"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "tracking_number": {
                      "type": "string",
                      "description": "tracking_number"
                    },
                    "slug": {
                      "type": "string",
                      "description": "slug"
                    },
                    "tag": {
                      "type": "string",
                      "description": "tag"
                    },
                    "subtag": {
                      "type": "string",
                      "description": "subtag"
                    },
                    "subtag_message": {
                      "type": "string",
                      "description": "subtag_message"
                    },
                    "checkpoint": {
                      "type": "object",
                      "properties": {
                        "slug": {
                          "type": "string",
                          "description": "slug"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "created_at"
                        },
                        "checkpoint_time": {
                          "type": "string",
                          "description": "checkpoint_time"
                        },
                        "city": {
                          "type": "string",
                          "description": "city"
                        },
                        "coordinates": {
                          "type": "array",
                          "items": {},
                          "description": "coordinates"
                        },
                        "country_iso3": {
                          "type": "string",
                          "description": "country_iso3"
                        },
                        "country_name": {
                          "type": "string",
                          "description": "country_name"
                        },
                        "message": {
                          "type": "string",
                          "description": "message"
                        },
                        "state": {
                          "type": "string",
                          "description": "state"
                        },
                        "tag": {
                          "type": "string",
                          "description": "tag"
                        },
                        "subtag": {
                          "type": "string",
[...]
