{
  "swagger": "2.0",
  "info": {
    "title": "CQC Data",
    "description": "Reports & ratings for health & social services regulated by the CQC in England",
    "version": "1.1",
    "contact": {
      "name": "Martyn Lesbirel",
      "email": "ipc-author-cqc@outlook.com",
      "url": "https://www.cqc.org.uk/about-us/transparency/using-cqc-data"
    }
  },
  "host": "api.cqc.org.uk",
  "basePath": "/public/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/providers": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Providers, organisations for health, social care services regulated by the CQC",
        "operationId": "Providers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "description": "The page to be returned",
            "x-ms-summary": "The page to be returned",
            "x-ms-visibility": "important"
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1000,
            "description": "The number of items to return, per page",
            "x-ms-summary": "The number of items to return, per page",
            "x-ms-visibility": "important"
          },
          {
            "name": "partnerCode",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "PowerAppsCustomConnector",
            "x-ms-visibility": "internal",
            "description": "All organisations consuming this API add an additional query parameter named partnerCode to all requests If you are a CQC Syndication partner the value for this code will be provided to you, otherwise an informative but concise code representing your organisation should be chosen",
            "x-ms-summary": "Identifying code of calling organisation"
          },
          {
            "name": "constituency",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Include only organisations with a Constituency (constituency attribute) matching one the values of this parameter eg \"Greenwich\"",
            "x-ms-summary": "Constituency value to match against"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Include only organisations with a Region (region attribute) matching the values of this parameter eg \"London\"",
            "x-ms-summary": "Region value to match against"
          },
          {
            "name": "localAuthority",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Include only organisations with a Local Authority (localAuthority attribute) matching the values of this parameter eg \"Merton\"",
            "x-ms-summary": "Include organisations with a localAuthority attribute matching this value"
          },
          {
            "name": "inspectionDirectorate",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Include only organisations with a Inspection Directorate (inspectionDirectorate attribute) matching the values of this parameter eg \"Hospitals\"",
            "x-ms-summary": "Organisations with a Inspection Directorate matching value"
          },
          {
            "name": "nonPrimaryInspectionCategoryCode",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Include only organisations with a Non-Primary Inspection Category Code (inspectionCategoriescode attribute where inspectionCategoriesprimary=\"N\") matching one of the values of this parameter eg \"H2\"",
            "x-ms-summary": "Organisations with a matching non-primary Inspection Category"
          },
          {
            "name": "nonPrimaryInspectionCategoryName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Include only organisations with a Non-Primary Inspection Category Name (inspectionCategoriesname attribute where inspectionCategoriesprimary=\"N\") matching one of the values of this parameter eg \"Acute hospital - NHS specialist\" eg \"Acute hospital - NHS specialist\"",
            "x-ms-summary": "Organisations with a matching non-primary Inspection Category Name"
          },
          {
            "name": "primaryInspectionCategoryCode",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Include only organisations with a Primary Inspection Category Code (inspectionCategoriescode attribute where inspectionCategoriesprimary=\"Y\") matching one of the values of this parameter eg \"H2\"",
            "x-ms-summary": "Organisations that match the supplied primary inspection category code"
          },
          {
            "name": "primaryInspectionCategoryName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Include only organisations with a Primary Inspection Category Name (inspectionCategoriesname attribute where inspectionCategoriesprimary=\"Y\") matching one of the values of this parameter eg \"Acute hospital - NHS specialist\"",
            "x-ms-summary": "Organisations that match the supplied value for primary inspection category name"
          },
          {
            "name": "overallRating",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Include only organisations with a Current Overall Rating (currentRatingsoverallrating attribute) matching one of the values of this parameter eg \"Good\"",
            "x-ms-summary": "Organisations must match the supplied overall rating"
          },
          {
            "name": "regulatedActivity",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Include only organisations with a Regulated Activity (regulatedActivitiesname attribute) eg \"Maternity and midwifery services\", matching the values of this parameter",
            "x-ms-summary": "Value of regulated activity the organisation must match"
          },
          {
            "name": "reportType",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Include only organisations with a Report Type (attribute) matching the values of this parameter eg \"Location\", \"Provider\" or \"CoreService\"",
            "x-ms-summary": "Return only organisations that match the supplied report type value"
          }
        ],
        "x-ms-visibility": "advanced",
        "description": "Get a list of provider codes"
      }
    },
    "/locations": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Location a place where a Proivder operates",
        "description": "Retrieve a list of locations Locations are sites where a Provider operates",
        "operationId": "Locations",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "description": "The page to be returned",
            "x-ms-summary": "The page to be returned",
            "x-ms-visibility": "important"
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1000,
            "description": "The number of items to return, per page",
            "x-ms-summary": "The number of items to return, per page",
            "x-ms-visibility": "important"
          },
          {
            "name": "partnerCode",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "PowerAppsCustomConnector",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Identifying organisation code",
            "description": "All organisations consuming this API add an additional query parameter named partnerCode to all requests If you are a CQC Syndication partner the value for this code will be provided to you, otherwise an informative but concise code representing your organisation should be chosen"
          },
          {
            "name": "reportType",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "description": "Include only organisations with a Report Type (attribute) matching the value of this parameter eg \"Location\", \"Provider\" or \"CoreService\"",
            "x-ms-summary": "Value of report type to match against"
          },
          {
            "name": "regulatedActivity",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "description": "Include only organisations with a Regulated Activity (regulatedActivitiesname attribute) eg \"Maternity and midwifery services\", matching the value of this parameter",
            "x-ms-summary": "Include organisations that match against this regulated activity"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "description": "Include only organisations with a Region (region attribute) matching the values of this parameter eg \"London\"",
            "x-ms-summary": "Include organisations with a matching region attribute"
          },
          {
            "name": "overallRating",
            "in": "query",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "description": "Include only organisations with a Current Overall Rating (currentRatingsoverallrating attribute) matching the value of this parameter eg \"Good\"",
            "x-ms-summary": "Includes organisations with a matching overall rating"
          },
          {
            "name": "primaryInspectionCategoryName",
            "in": "query",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "description": "Include only organisations with a Primary Inspection Category Name (inspectionCategoriesname attribute where inspectionCategoriesprimary=\"Y\") matching the value of this parameter eg \"Acute hospital - NHS specialist\"",
            "x-ms-summary": "Matching Primary Inspection Category Name where Inspection Category is primary"
          },
          {
            "name": "primaryInspectionCategoryCode",
            "in": "query",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "description": "Include only organisations with a Primary Inspection Category Code (inspectionCategoriescode attribute where inspectionCategoriesprimary=\"Y\") matches the value of this parameter eg \"H2\"",
            "x-ms-summary": "Organisations where Primary Inspection Category Code matches"
          },
          {
            "name": "nonPrimaryInspectionCategoryName",
            "in": "query",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            },
            "description": "Include only organisations with a Non-Primary Inspection Category Name (inspectionCategoriesname attribute where inspectionCategoriesprimary=\"N\") matchs the value of this parameter eg \"Acute hospital - NHS specialist\"",
            "x-ms-summary": "Organisations with a matching Non-Primary Inspection Category Name",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "nonPrimaryInspectionCategoryCode",
            "in": "query",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            },
            "description": "Include only organisations with a Non-Primary Inspection Category Code (inspectionCategoriescode attribute where inspectionCategoriesprimary=\"N\") matchs the value of this parameter eg \"H2\"",
            "x-ms-summary": "Organisations with a matching Non-Primary Inspection Category Code",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "inspectionDirectorate",
            "in": "query",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            },
            "description": "Include only organisations with a Inspection Directorate (inspectionDirectorate attribute) matches the value of this parameter eg \"Hospitals\"",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Organisations where the Inspection Directorate matches this string"
          },
          {
            "name": "localAuthority",
            "in": "query",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            },
            "description": "Include only organisations with a Local Authority (localAuthority attribute) matches the value of this parameter eg \"Merton\"",
            "x-ms-summary": "Organisations whose local authority matches this value",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "constituency",
            "in": "query",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            },
            "x-ms-visibility": "advanced",
            "description": "Include only organisations with a Constituency (constituency attribute) matching one of the values of this parameter eg \"Greenwich\"",
            "x-ms-summary": "Organisations whose constituency matches this value"
          },
          {
            "name": "gacServiceTypeDescription",
            "in": "query",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            },
            "description": "Include only organisations with a GAC Service Type Description (gacServiceTypesdescription) matching one of more values of this parameter eg \"Hospital\"",
            "x-ms-summary": "Organisations whose GAC service type matches this value",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "odsCcgName",
            "in": "query",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            },
            "description": "Include only locations where the ODS name (odsCcgName) of the CCG selected by this organisation is known and matches the values of this parameter",
            "x-ms-summary": "Only locations where the ODS name of the CCG matches the value",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "odsCcgCode",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Include only locations where the ODS code (odsCcgCode) of the CCG selected by this organisation is known and matches the value of this parameter",
            "x-ms-summary": "Locations where the ODS code of the CCG matches this value",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "onspdCcgName",
            "in": "query",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            },
            "description": "Include only locations where the ONSPD CCG name (onspdCcgName) of the geographic area covering the Location's postcode matches the value of this parameter",
            "x-ms-summary": "Locations whose ONSPD CCG name matches this value",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "onspdCcgCode",
            "in": "query",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            },
            "description": "Include only locations where the ONSPD CCG code (onspdCcgCode) of the geographic area covering the Location's postcode matches the value of this parameter",
            "x-ms-summary": "Locations where the ONSPD CCG matches the supplied value",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "careHome",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Include only locations where the value of the attribute careHome matches the value of this parameter (Y or N)",
            "x-ms-summary": "Locations whose match the value of the careHome attribute (Y or N)"
          }
        ]
      }
    },
    "/providers/{providerId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "The specified individual Providers details",
        "operationId": "ProviderDetails",
        "description": "An individual providers details",
        "parameters": [
          {
            "name": "providerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The organisation ID of the provider",
            "x-ms-summary": "The organisation ID of the provider",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "partnerCode",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "PowerAppsCustomConnector",
            "x-ms-visibility": "internal",
            "description": "All organisations consuming this API add an additional query parameter named partnerCode to all requests If you are a CQC Syndication partner the value for this code will be provided to you, otherwise an informative but concise code representing your organisation should be chosen",
            "x-ms-summary": "Identifying organisation code"
          }
        ]
      }
    },
    "/locations/{locationid}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "The details of the location specified",
        "operationId": "LocationDetails",
        "description": "Retrieve a location details eg address, related codes, inspection area, local authority, etc",
        "parameters": [
          {
            "name": "locationid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The organisation ID of the location",
            "x-ms-summary": "The organisation ID of the location",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "partnerCode",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "PowerAppsCustomConnector",
            "x-ms-visibility": "internal",
            "description": "All organisations consuming this API add an additional query parameter named partnerCode to all requests If you are a CQC Syndication partner the value for this code will be provided to you, otherwise an informative but concise code representing your organisation should be chosen",
            "x-ms-summary": "Identifying organisation code"
          }
        ]
      }
    },
    "/locations/{location_id}/inspection-areas": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "LocationInspectionAreas",
        "description": "Retrieve the list of Inspection Areas which have been inspected at this location excluding any that may have been globally retired (covering services no longer inspected by CQC) Although an Inspection area may be Superseded globally for the purpose of new inspections, it will remain active (along with the ratings for that area) at a given organisation until it has been re-inspected under the superseding inspection area(s)",
        "summary": "Retrieve a list of inspection areas related to the specified location area",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The organisation ID of the location",
            "x-ms-summary": "The organisation ID of the location",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "partnerCode",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "PowerAppsCustomConnector",
            "x-ms-visibility": "internal",
            "description": "All organisations consuming this API should add an additional query parameter named partnerCode to all requests If you are a CQC Syndication partner the value for this code will be provided to you, otherwise an informative but concise code representing your organisation should be chosen",
            "x-ms-summary": "Identifying organisation code"
          }
        ]
      }
    },
    "/locations/{location_id}/provider-inspection-areas": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "LocationProviderInspectionArea",
        "summary": "Provider Inspection Areas for the given location",
        "description": "Retrieve the list of Provider Inspection Areas which have been inspected for this organisation at Provider level, excluding any that may have been globally retired (covering services no longer inspected by CQC) Although an Inspection area may be Superseded globally for the purpose of new inspections, it will remain active (along with the ratings for that area) at a given organisation until it has been re-inspected under the superseding inspection area(s)",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The organisation ID of the location",
            "x-ms-summary": "The organisation ID of the location",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "partnerCode",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "PowerAppsCustomConnector",
            "x-ms-visibility": "internal",
            "description": "All organisations consuming this API add an additional query parameter named partnerCode to all requests If you are a CQC Syndication partner the value for this code will be provided to you, otherwise an informative but concise code representing your organisation should be chosen",
            "x-ms-summary": "Identifying organisation code"
          }
        ]
      }
    },
    "/providers/{provider_id}/locations": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "ProviderLocations",
        "summary": "Locations related to the given Provider id",
        "description": "Retrieve the list of locations for this provider Locations are sites where a Provider operates Some Providers will have only one location, whereas others may have many",
        "parameters": [
          {
            "name": "provider_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The organisation ID of the provider",
            "x-ms-summary": "The organisation ID of the provider",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "partnerCode",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "CustomConnector",
            "x-ms-visibility": "internal",
            "description": "All organisations consuming this API add an additional query parameter named partnerCode to all requests If you are a CQC Syndication partner the value for this code will be provided to you, otherwise an informative but concise code representing your organisation should be chosen",
            "x-ms-summary": "Identifying organisation code"
          }
        ]
      }
    },
    "/providers/{provider_id}/inspection-areas": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "ProviderInspectionAreas",
        "summary": "Provider Inspection Areas for the given location",
        "description": "Retrieve the list of Provider Inspection Areas which have been inspected for this organisation at Provider level, excluding any that may have been globally retired (covering services no longer inspected by CQC) Although an Inspection area may be Superseded globally for the purpose of new inspections, it will remain active (along with the ratings for that area) at a given organisation until it has been re-inspected under the superseding inspection area(s)",
        "parameters": [
          {
            "name": "provider_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The organisation ID of the provider",
            "x-ms-summary": "The organisation ID of the provider",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "partnerCode",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "PowerAppsCustomConnector",
            "x-ms-visibility": "internal",
            "description": "All organisations consuming this API add an additional query parameter named partnerCode to all requests If you are a CQC Syndication partner the value for this code will be provided to you, otherwise an informative but concise code representing your organisation should be chosen",
            "x-ms-summary": "Identifying organisation code"
          }
        ]
      }
    },
    "/changes/{organisation_type}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "Changes",
        "summary": "List of organisations of specified type that have changed in given timeframe",
        "description": "The Changes service provides a mechanism of staying informed about updates to providers and locations, to allow users to refresh their cached data if necessary. Changes for two organisation types are available: provider or location. API consumers must specify a start and end date range, see the API reference for more detail. This service allows identification of which organisations have changed over time. For successive calls to this service, the startTime parameter should be set to the endTime of the previous call. The times correspond to the time that this service itself acquires the data and is not, for example, the time of data entry onto a source system.",
        "parameters": [
          {
            "name": "organisation_type",
            "in": "path",
            "required": true,
            "type": "string",
            "items": {
              "type": "string",
              "default": "location",
              "enum": [
                "location",
                "provider"
              ]
            },
            "description": "The type of object for which to get a list of changes Ether location or provider",
            "x-ms-summary": "Changes for either location or provider",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "partnerCode",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "PowerAppsCustomConnector",
            "x-ms-visibility": "internal",
            "description": "All organisations consuming this API add an additional query parameter named partnerCode to all requests If you are a CQC Syndication partner the value for this code will be provided to you, otherwise an informative but concise code representing your organisation should be chosen",
            "x-ms-summary": "Identifying organisation code"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "advanced",
            "default": 1,
            "description": "The page to be returned",
            "x-ms-summary": "The page to be returned"
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "important",
            "default": 500,
            "description": "The number of items to return, per page",
            "x-ms-summary": "The number of items to return, per page"
          },
          {
            "name": "startTimestamp",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "format": "date-time",
            "description": "ISO 8601 timestamp The period is inclusive of the start time",
            "x-ms-summary": "ISO 8601 timestamp for start"
          },
          {
            "name": "endTimeStamp",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "ISO 8601 timestamp for the end of the time period The period is exclusive of the end time, so only changes before this time are included",
            "x-ms-visibility": "important",
            "format": "date-time",
            "x-ms-summary": "ISO 8601 timestamp for the end of the time"
          }
        ]
      }
    },
    "/inspection-areas": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "InspectionAreas",
        "summary": "Get the global taxonomy of all CQC Inspection Areas",
        "description": "Get the global taxonomy of all CQC Inspection Areas including their current status for new inspections",
        "parameters": [
          {
            "name": "partnerCode",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "CustomConnector",
            "x-ms-visibility": "internal",
            "description": "All organisations consuming this API add an additional query parameter named partnerCode to all requests If you are a CQC Syndication partner the value for this code will be provided to you, otherwise an informative but concise code representing your organisation should be chosen",
            "x-ms-summary": "Identifying organisation code"
          }
        ]
      }
    },
    "/reports/{inspection_report_link_id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {},
            "headers": {
              "application/pdf": {
                "description": "application/pdf",
                "type": "string"
              }
            }
          }
        },
        "operationId": "MainReport",
        "summary": "Retrieve a PDF file or alternatively the text content of th specified report",
        "description": "Retrieve a PDF file or its text content of the report specified in the URL",
        "parameters": [
          {
            "name": "inspection_report_link_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A UUID for obtaining the main inspection report",
            "x-ms-summary": "A UUID for obtaining the main inspection report",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "partnerCode",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "PowerAppsCustomConnector",
            "description": "All organisations consuming this API add an additional query parameter named partnerCode to all requests If you are a CQC Syndication partner the value for this code will be provided to you, otherwise an informative but concise code representing your organisation should be chosen",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Identifying organisation code"
          }
        ]
      }
    },
    "/reports/{inspection_report_link_id}/{related_document_type}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {},
            "headers": {
              "application/pdf": {
                "description": "application/pdf",
                "type": "string"
              }
            }
          }
        },
        "operationId": "ReportAndRelatedDoc",
        "summary": "Retrieve a PDF file or text content of the specified report and related document",
        "description": "Retrieve a PDF file or text content of the specified report and it's related document",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "inspection_report_link_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A UUID for obtaining the main inspection report",
            "x-ms-summary": "A UUID for obtaining the main inspection report",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "related_document_type",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A qualifier to retrieve a document related to the main report This parameter is the Related Document Type found from the relatedDocuments response object eg \"Use%20of%20Resources\" When this parameter is absent, the main report for the inspection is returned",
            "x-ms-summary": "A qualifier to retrieve a document related to the main report",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "partnerCode",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "PowerAppsCustomConnector",
            "x-ms-visibility": "internal",
            "description": "All organisations consuming this API add an additional query parameter named partnerCode to all requests If you are a CQC Syndication partner the value for this code will be provided to you, otherwise an informative but concise code representing your organisation should be chosen",
            "x-ms-summary": "Identifying organisation code"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "WebSite",
      "propertyValue": "https://wwwcqcorguk/about-us/transparency/using-cqc-data"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://wwwnationalarchivesgovuk/doc/open-government-licence/version/3/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Productivity"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}
