{
  "swagger": "2.0",
  "info": {
    "contact": {
	  "name": "National Bank of Greece",
      "url": "https://developer.nbg.gr/",
      "email": "developer@nbg.gr"
    },
    "description": "Start integrating your application with our Bank and give your client the options to:1.  View their account details, balances and statements2.  View their card details, balances and statements3. Send money to any account",
    "title": "NBG ERP Solution",
    "version": "1.0"
  },
  "host": "services.nbg.gr",
  "basePath": "/apis/erpapi/v2.2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/account/accounts_full": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "It returns all the user's accounts.",
        "operationId": "AccountAccountsFull",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestAccountsFullRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A list with all the domestic accounts of the user",
            "schema": {
              "$ref": "#/definitions/ResponseAccountFullList"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "List of accounts with details",
        "tags": [
          "Account"
        ]
      }
    },
    "/account/beneficiaries": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns the beneficiaries of a user account (userId) based on the given Iban, which must belong to a user account.",
        "operationId": "AccountBeneficiaries",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestIbanBicRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StringResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "NBG Account beneficiaries masked",
        "tags": [
          "Account"
        ]
      }
    },
    "/account/bic": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns the BIC code, given an Iban. This call is also accessible through **\"Client Credentials\"** authentication.",
        "operationId": "AccountBic",
        "parameters": [
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random guid "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox ID "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestIbanBicRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseString"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Account BIC",
        "tags": [
          "Account"
        ]
      }
    },
    "/account/check_iban": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns if the given Iban is valid or not",
        "operationId": "AccountCheckIban",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestIbanBicRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseBoolean"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "IBAN account check",
        "tags": [
          "Account"
        ]
      }
    },
    "/account/cobeneficiaries": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns the co-beneficiaries and their order, based on the given account.",
        "operationId": "AccountCobeneficiaries",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestCoBeneficiaryRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseAccountBeneficiaryList"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "My NBG Account co-beneficiaries",
        "tags": [
          "Account"
        ]
      }
    },
    "/account/currencies": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns all the currencies codes and their symbols",
        "operationId": "AccountCurrencies",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestGenericRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseCurrencyList"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Currencies",
        "tags": [
          "Account"
        ]
      }
    },
    "/account/details": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "The account should belong to the user (userId) who is asking the question. The account should be 11 digits, the format that the NBG uses to describe an account.",
        "operationId": "AccountDetails",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestBalanceRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseBalanceDetails"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Account details",
        "tags": [
          "Account"
        ]
      }
    },
    "/account/get_holdings": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns holdings for an account",
        "operationId": "AccountGetHoldings",
        "parameters": [
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "The unique name of your Sandbox",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Get holdings request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestGetHoldingsRequest_"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseGetHoldings"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Get holdings",
        "tags": [
          "Account"
        ]
      }
    },
    "/account/iban_info": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "If the Iban is valid, it returns the Iban's BIC and the beneficiaries",
        "operationId": "AccountIbanInfo",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestIbanBicRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseIbanInfoResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "IBAN information",
        "tags": [
          "Account"
        ]
      }
    },
    "/account/multiple_accounts_details": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "The range of accounts should belong to the user (userId) who is asking the question. The range of accounts should be 11 digits, the format that the NBG uses to describe an account.",
        "operationId": "MultipleAccountsDetails",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestMultipleBalancesRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseMultipleBalancesDetails"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Retrieve Account details for a range of Accounts",
        "tags": [
          "Account"
        ]
      }
    },
    "/account/rates": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns the interest rates",
        "operationId": "AccountRates",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestInterestScaleRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseInterestScaleClientResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Rates",
        "tags": [
          "Account"
        ]
      }
    },
    "/account/statements": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns the account's transactions of the logged in user based on the given 11-digit account. Transactions are returned based on the dateFrom, dateTo fields.",
        "operationId": "AccountStatements",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestStatementRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseTransactionList"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Statements",
        "tags": [
          "Account"
        ]
      }
    },
    "/account/transaction_types": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns all the NBG transaction Types (e.g. \"10\" for \"Deposit\")",
        "operationId": "AccountTransactionTypes",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestGenericRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseCodeDescriptionList"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Account transaction types",
        "tags": [
          "Account"
        ]
      }
    },
    "/account/types": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns all the NBG account Types ",
        "operationId": "AccountTypes",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestGenericRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseCodeDescriptionList"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Account types",
        "tags": [
          "Account"
        ]
      }
    },
    "/bank/banks_bic": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns a list of domestic and foreign bank details. The search is based on the country code (Get country code from the \"Get countries\" call), the city, the name of the bank, the branch. Mandatory fields are country code and city.",
        "operationId": "BankBanksBic",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/RequestBanksBicRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseBanksBicList"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Get banks BIC",
        "tags": [
          "Bank"
        ]
      }
    },
    "/bank/countries": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns all countries. Country code is a two-letter (ISO 3166-1 alpha-2)",
        "operationId": "BankCountries",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestGenericRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseCountriesList"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Get countries",
        "tags": [
          "Bank"
        ]
      }
    },
    "/bank/info": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "It returns a specific bank's details, e.g. city, address",
        "operationId": "BankInfo",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestBankRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseBankData"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Bank information",
        "tags": [
          "Bank"
        ]
      }
    },
    "/card/card_expenses": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Calculate the expenses of a non-NBG credit card payment",
        "operationId": "CardCardExpenses",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResponseIbComissionAmRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseIbComissionAmResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Card transaction expenses",
        "tags": [
          "Card"
        ]
      }
    },
    "/card/connected_accounts": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns connected accounts for a debit card",
        "operationId": "CardConnectedAccounts",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DebitCardAccountCmsRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DebitCardConnectedAccountCmsResponse_"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Connected accounts for debit card",
        "tags": [
          "Card"
        ]
      }
    },
    "/card/details": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Get the details for a specific card",
        "operationId": "CardDetails",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestCardDetailsRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseCardDetailsResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Card details",
        "tags": [
          "Card"
        ]
      }
    },
    "/card/pay": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Execute a payment to a NBG card",
        "operationId": "CardPay",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestCreditCardPaymentRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseCreditCardPaymentResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Pay a NBG credit card",
        "tags": [
          "Card"
        ]
      }
    },
    "/card/pay_other": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Execute a payment to a non-NBG credit card",
        "operationId": "CardPayOther",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "The id of your whitelist sandbox",
            "in": "header",
            "name": "whitelist_sandbox_id",
            "required": false,
            "type": "string",
			"x-ms-summary": "White List Sandbox Id"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestCreditCardOtherPayRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseCreditCardOtherPayResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Pay a non-NBG credit card",
        "tags": [
          "Card"
        ]
      }
    },
    "/card/pay_other_status": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Check the status for a non-NBG credit card payment",
        "operationId": "CardPayOtherStatus",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "The id of your whitelist sandbox",
            "in": "header",
            "name": "whitelist_sandbox_id",
            "required": false,
            "type": "string",
			"x-ms-summary": "White List Sandbox Id"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestOtherCreditCardPayStatusRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOtherCreditCardPayStatusResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Fetch non-NBG credit card payment status",
        "tags": [
          "Card"
        ]
      }
    },
    "/card/statement": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Fetch statements for a specific card",
        "operationId": "CardStatement",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestCardStatementRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseCardStatementResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Card statement",
        "tags": [
          "Card"
        ]
      }
    },
    "/cards/fetch": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Fetch information for user's cards",
        "operationId": "CardsFetch",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestCardsFetchRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseCardsFetchResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "List of cards",
        "tags": [
          "Cards"
        ]
      }
    },
    "/exchange/accounts_full": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "It returns all the user's exchange accounts.",
        "operationId": "ExchangeAccountsFull",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestAccountsFullRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseAccountFullList"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "List of exchange accounts with details",
        "tags": [
          "Exchange"
        ]
      }
    },
    "/exchange/beneficiaries": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns the beneficiaries of a user exchange account based on the given account, which must belong to a user account.",
        "operationId": "ExchangeBeneficiaries",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestCoBeneficiaryRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseAccountBeneficiaryList"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Get masked account beneficiaries",
        "tags": [
          "Exchange"
        ]
      }
    },
    "/exchange/details": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "The account should belong to the user (userId) who is asking the question. The account should be 11 digits, the format that the NBG uses to describe an account.",
        "operationId": "ExchangeDetails",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestBalanceRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseBalanceDetails"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Account details",
        "tags": [
          "Exchange"
        ]
      }
    },
    "/exchange/statements": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns the exchange account's transactions of the logged in user based on the given 11-digit account. Transactions are returned based on the dateFrom, dateTo fields.",
        "operationId": "ExchangeStatements",
        "parameters": [
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestStatementRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseTransactionList"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Statements",
        "tags": [
          "Exchange"
        ]
      }
    },
    "/files/delete": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Deletes a file.",
        "operationId": "DeleteFile",
        "parameters": [
          {
            "description": "The unique name of your Sandbox",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "Delete File Request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestDeleteFileRequest_"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseDeleteResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Deletes a file",
        "tags": [
          "Files"
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/files/details": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Retrieves a file's metadata. This action can be used in order to be informed of a file number of chunks that is separated in order to download them.",
        "operationId": "GetFile",
        "parameters": [
          {
            "description": "The unique name of your Sandbox",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "Get File Details Request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestGetFileDetailsRequest_"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseGetFileDetailsResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Retrieves a file's metadata",
        "tags": [
          "Files"
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/files/download": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Downloads a file by specifying chunk by chunk. If the file is separated only in one chunk just specify chunkPart 1. If file is separated in more that one chunk, this action should be invoked multiple times.",
        "operationId": "DownloadFile",
        "parameters": [
          {
            "description": "The unique name of your Sandbox",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "Get File Request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestGetFileRequest_"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseGetFileResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Downloads a file",
        "tags": [
          "Files"
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/files/get_file_list": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "The user file list is returned.",
        "operationId": "GetFileList",
        "parameters": [
          {
            "description": "The unique name of your Sandbox",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "Get File List Request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestGetFileListRequest_"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseGetFileListResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Gets file list",
        "tags": [
          "Files"
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/files/initiate_upload": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Initiates upload request. The response object contains information about the chunks (and their size) that the initial file should be separated. Moreover the file identifier is returned.",
        "operationId": "InitiateUpload",
        "parameters": [
          {
            "description": "The unique name of your Sandbox",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "Upload Initiation Request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestUploadInitiationRequest_"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseUploadInitiationResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Initiates upload request",
        "tags": [
          "Files"
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/files/upload": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Uploads chunk. The upload action is invoked only after the /files/upload-initiation endpoint. The fileId and the chunk size are returned in the /files/upload-initiation endpoint.",
        "operationId": "UploadChunk",
        "parameters": [
          {
            "description": "The unique name of your Sandbox",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "Upload Request",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestUploadRequest_"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseUploadResponse"
            }
          },
          "308": {
            "description": "Range"
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Upload chunk",
        "tags": [
          "Files"
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/sandbox/{sandbox_id}": {
      "get": {
        "description": "Exports Sandbox data specified by sandbox id.",
        "operationId": "SandboxDownloadSandbox",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
		    "description": "Sandbox",
            "in": "path",
            "name": "sandbox_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Sandbox Id ",
			"x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseSandbox"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Export a sandbox",
        "tags": [
          "Sandbox"
        ]
      },
      "delete": {
        "description": "Deletes the Sandbox specified by sandbox id.",
        "operationId": "SandboxDeleteSandbox",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
		    "description": "Sandbox",
            "in": "path",
            "name": "sandbox_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Sandbox Id ",
			"x-ms-url-encoding": "single"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseBoolean"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Delete a sandbox",
        "tags": [
          "Sandbox"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "A Sandbox with default data is created. Simply call by providing an \u201cid\u201d as your sandbox id and naming it almost anything you like. Moreover you should provide the name (userId) of the user that is going to be created in the default data. The 'userId' must be the same as the username of the logged in user in the NBG Technology Hub.",
        "operationId": "SandboxCreateSandbox",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
		    "description": "Sandbox Id",
            "in": "path",
            "name": "sandbox_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Sandbox Id ",
			"x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestGenericRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseBoolean"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Create a sandbox",
        "tags": [
          "Sandbox"
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Imports sandbox data specified by sandbox id.",
        "operationId": "SandboxUpdateSandbox",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {            
		    "description": "Sandbox Id",
            "in": "path",
            "name": "sandbox_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Sandbox Id ",
			"x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestUpdateSandboxRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseBoolean"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Import a sandbox",
        "tags": [
          "Sandbox"
        ]
      }
    },
    "/sandbox/{sandbox_id}/approve": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "The call is used when the user wants to approve pending transactions made by a corporate user (e.g. B2).",
        "operationId": "SandboxApprove",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
		    "description": "Sandbox",
            "in": "path",
            "name": "sandbox_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Sandbox Id ",
			"x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SandboxApproveTransactionsRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseBoolean"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Approve pending transactions",
        "tags": [
          "Sandbox"
        ]
      }
    },
    "/sandbox/{sandbox_id}/customdata": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "The call is used to fill the sandbox data model with data given by the user to the body request. The sandbox must have been created by \"Create sandbox\" and in case it does not exist, it returns an exception. Each time this endpoint is called, the sandbox will be emptied and filled with user data.",
        "operationId": "SandboxCustomData",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
		    "description": "Sandbox",
            "in": "path",
            "name": "sandbox_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Sandbox Id ",
			"x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SandboxCustomDataRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseSandbox"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Import custom data",
        "tags": [
          "Sandbox"
        ]
      }
    },
    "/transfers/add_user_whitelist_actions": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Endpoint that adds a new exception for a user. The WhiteListActionId field matches the whiteListActionId one from the Get available whitelist actions call. The whiteListActionField field matches an ActionField from the AvailableWhitelistActions and or the UserWhiteListActionField models. For a whitelisted account the value field is an account(request example)**Supported Operators:**-- Equal-- LessThan-- LessThanOrEqual-- GreaterThan-- GreaterThanOrEqual",
        "operationId": "TransfersAddUserWhitelistActions",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestAddUserWhiteListActionsPayload"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddWhiteListResponsePayload"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Add User Whitelist action",
        "tags": [
          "Transfers"
        ]
      }
    },
    "/transfers/calculate_expences": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns the expenses for a transfer",
        "operationId": "TransfersCalculateExpences",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestTransferExpencesComissionsRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseTransferExpencesComissionsResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Expenses",
        "tags": [
          "Transfers"
        ]
      }
    },
    "/transfers/calculate_massive_expences": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Calculates and returns the commission for a massive transfer. In case of error, the property 'hasErrors' will be true and the property 'error' will contain an explanation in each transfer record Possible errors are any combination of IBAN",
        "operationId": "TransfersCalculateMassiveExpences",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestMassiveTransfersExpensesRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseMassiveTransfersExpensesResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Massive transfers expenses",
        "tags": [
          "Transfers"
        ]
      }
    },
    "/transfers/cancel_remittance_gpp": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Cancels a remittance",
        "operationId": "TransfersCancelRemittanceGpp",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestAmountTransferCancelDomRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseAmountTransferCancelDomResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Cancel",
        "tags": [
          "Transfers"
        ]
      }
    },
    "/transfers/duplicate": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "An indication whether the transfer was made again on the same day.",
        "operationId": "TransfersDuplicate",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestGenericTransferRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseDuplicateQueryResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Check for duplicate transfer",
        "tags": [
          "Transfers"
        ]
      }
    },
    "/transfers/genericTransferOptions": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns transfer options for transfers to 'third parties'. For transfers to domestic Banks an IBAN must be provided (ETE is excluded). For Transfers to International Banks provide either an IBAN or an Account number.",
        "operationId": "TransfersGenericTransferOptions",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "(Only for sandbox.) User role. Set to \"true\" for Corporate Users",
            "in": "header",
            "name": "CORPORATE",
            "required": false,
            "type": "string",
            "x-ms-summary": "Used for Corporate Users"
          },
          {
            "description": "(Only for sandbox.) Authorization level of corporate user. Select from values \"A\", \"B\" or \"C\"",
            "in": "header",
            "name": "authorization_level",
            "required": false,
            "type": "string",
            "x-ms-summary": "Authorization level"
          },
          {
            "description": "(Only for sandbox.) Number of approvals required for corporate user. Select from values \"1\", \"2\" or \"3\"",
            "in": "header",
            "name": "number_of_approvals",
            "required": false,
            "type": "string",
            "x-ms-summary": "Number of Approvals"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestGenericTransferOptionsRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseGenericTransferOptionsResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Transfer Options",
        "tags": [
          "Transfers"
        ]
      }
    },
    "/transfers/generic_transfer": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns transfer details",
        "operationId": "TransfersGenericTransfer",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "(**Only for sandbox**) User role. Set to \"true\" for Corporate Users",
            "in": "header",
            "name": "CORPORATE",
            "required": false,
            "type": "string",
            "x-ms-summary": "For Corporate Users"
          },
          {
            "description": "(**Only for sandbox**) Authorization level of corporate user. Select from values \"A\", \"B\" or \"C\"",
            "in": "header",
            "name": "authorization_level",
            "required": false,
            "type": "string",
            "x-ms-summary": "Authorization level"
          },
          {
            "description": "(**Only for sandbox**) Number of approvals required for corporate user. Select from values \"1\", \"2\" or \"3\"",
            "in": "header",
            "name": "number_of_approvals",
            "required": false,
            "type": "string",
            "x-ms-summary": "Number of Approvals"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestGenericTransferRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseGenericTransferResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Transfer",
        "tags": [
          "Transfers"
        ]
      }
    },
    "/transfers/get_available_whitelist_actions": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "operationId": "GetAvailableWhitelistActions",
        "description": "Contains the pre-defined WhiteList Actions. Using this endpoint the user is able to retrieve a list with all the available White List Actions as well as the rules fields that are applicable to each type of action. The rules determine whether a user will be allowed to set an exception for that type of action.",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestGenericRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetAvailableWhitelistActionsResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Get available whitelist actions",
        "tags": [
          "Transfers"
        ]
      }
    },
    "/transfers/get_massPayments_file_details": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns a list of Details from a Mass Payment file. Submit a value in the field transId found in the response data of get_massPayments_files.",
        "operationId": "MassPaymentsFileDetails",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "The unique name of your Sandbox",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Mass Payments Files Request",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/GetMassPaymentsFileDetailsRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetMassPaymentsFilesAllResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Retrieve Details of Mass Payment file",
        "tags": [
          "Transfers"
        ]
      }
    },
    "/transfers/get_massPayments_files": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns a list of Mass Payments files of the user. In more detail, you can submit the from-to dates in the request body  and a status to narrow your results. Alternatively you can request all the files by providing a Date value and a status with an empty string as value.",
        "operationId": "MassPaymentsFiles",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "The unique name of your Sandbox",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Mass Payments Files Request",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/GetMassPaymentsFilesRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetMassPaymentsFilesAllResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Retrieve Mass Payments files",
        "tags": [
          "Transfers"
        ]
      }
    },
    "/transfers/get_user_whitelist_actions": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Informational endpoint that will respond with the available exceptions set by the user. For each Field its ID and the corresponding Application ID are also included. If a specific action is identified, only those (exceptions) related to this action are returned. If the pumping of the inactive exceptions is not determined, only the active ones are returned.",
        "operationId": "TransfersGetUserWhitelistActions",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetUserWhiteListActionsRequestPayload"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetUserWhitelistActionsResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Get user whitelist actions",
        "tags": [
          "Transfers"
        ]
      }
    },
    "/transfers/massive": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns massive transfer details",
        "operationId": "TransfersMassive",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestMassiveTransfersRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseMassiveTransfersResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Massive money for domestic transfers",
        "tags": [
          "Transfers"
        ]
      }
    },
    "/transfers/massive_status": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns the status of a massive transfer (e.g. if it has succeeded/failed)",
        "operationId": "TransfersMassiveStatus",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestMassiveTransfersStatusRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseMassiveTransfersStatusResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Massive money transfers status",
        "tags": [
          "Transfers"
        ]
      }
    },
    "/transfers/pay_file_credit": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Execute multiple transactions from a file. Accepted file formats**:** **XML**, **CSV**.",
        "operationId": "PayFileCredit",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "The unique name of your Sandbox",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "description": "Pay Credit File Request",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/RequestPayFileCreditRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponsePayFileCreditResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Execute Mass Transfers file",
        "tags": [
          "Transfers"
        ]
      }
    },
    "/transfers/process_file": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "If the api call Transfers/validate_file returns that the file is valid, then the file is converted into a list of Transfers.",
        "operationId": "TransfersProcessFile",
        "parameters": [
          {
            "description": "Client ID",
            "in": "header",
            "name": "Client-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Client Id "
          },
          {
            "description": "A guid that uniquely identifies your request",
            "in": "header",
            "name": "Request-Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "A random Guid "
          },
          {
            "description": "Sandbox ID",
            "in": "header",
            "name": "sandbox_id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sandbox Id "
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestVerifyRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseProcessResponse"
            }
          },
          "default": {
            "description": "Error Response"
          }
        },
        "summary": "Converts the file into a list of transfers",
        "tags": [
          "Transfers"
        ]
      }
    },
    "/transfers/remittance_categories": {
      "post": {
        "consumes": [
          "application/json"
[...]
