{
  "swagger": "2.0",
  "info": {
    "title": "GIPHY",
    "description": "This custom connector wraps around GIPHY. It can be used to get GIFs related to a search string that is provided as input.",
    "version": "1.0",
    "contact": {
      "name": "Priyanshu Srivastav",
      "url": "https://www.linkedin.com/in/priyanshu-srivastav-b067241ba/",
      "email": "priyanshusrivastav2002@gmail.com"
    }
  },
  "host": "api.giphy.com",
  "basePath": "/v1/gifs/search",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/": {
      "get": {
        "responses": {
          "200": {
            "description": "filtering item with id",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "url": {
                  "type": "string",
                  "description": "url"
                },
                "slug": {
                  "type": "string",
                  "description": "slug"
                },
                "bitly_gif_url": {
                  "type": "string",
                  "description": "bitly_gif_url"
                },
                "bitly_url": {
                  "type": "string",
                  "description": "bitly_url"
                },
                "embed_url": {
                  "type": "string",
                  "description": "embed_url"
                },
                "username": {
                  "type": "string",
                  "description": "username"
                },
                "source": {
                  "type": "string",
                  "description": "source"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "rating": {
                  "type": "string",
                  "description": "rating"
                },
                "content_url": {
                  "type": "string",
                  "description": "content_url"
                },
                "source_tld": {
                  "type": "string",
                  "description": "source_tld"
                },
                "source_post_url": {
                  "type": "string",
                  "description": "source_post_url"
                },
                "is_sticker": {
                  "type": "integer",
                  "format": "int32",
                  "description": "is_sticker"
                },
                "import_datetime": {
                  "type": "string",
                  "description": "import_datetime"
                },
                "trending_datetime": {
                  "type": "string",
                  "description": "trending_datetime"
                },
                "images": {
                  "type": "object",
                  "properties": {
                    "original": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "size": {
                          "type": "string",
                          "description": "size"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        },
                        "mp4_size": {
                          "type": "string",
                          "description": "mp4_size"
                        },
                        "mp4": {
                          "type": "string",
                          "description": "mp4"
                        },
                        "webp_size": {
                          "type": "string",
                          "description": "webp_size"
                        },
                        "webp": {
                          "type": "string",
                          "description": "webp"
                        },
                        "frames": {
                          "type": "string",
                          "description": "frames"
                        },
                        "hash": {
                          "type": "string",
                          "description": "hash"
                        }
                      },
                      "description": "original"
                    },
                    "downsized": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "size": {
                          "type": "string",
                          "description": "size"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "downsized"
                    },
                    "downsized_large": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "size": {
                          "type": "string",
                          "description": "size"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "downsized_large"
                    },
                    "downsized_medium": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "size": {
                          "type": "string",
                          "description": "size"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "downsized_medium"
                    },
                    "downsized_small": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "mp4_size": {
                          "type": "string",
                          "description": "mp4_size"
                        },
                        "mp4": {
                          "type": "string",
                          "description": "mp4"
                        }
                      },
                      "description": "downsized_small"
                    },
                    "downsized_still": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "size": {
                          "type": "string",
                          "description": "size"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "downsized_still"
                    },
                    "fixed_height": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "size": {
                          "type": "string",
                          "description": "size"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        },
                        "mp4_size": {
                          "type": "string",
                          "description": "mp4_size"
                        },
                        "mp4": {
                          "type": "string",
                          "description": "mp4"
                        },
                        "webp_size": {
                          "type": "string",
                          "description": "webp_size"
                        },
                        "webp": {
                          "type": "string",
                          "description": "webp"
                        }
                      },
                      "description": "fixed_height"
                    },
                    "fixed_height_downsampled": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "size": {
                          "type": "string",
                          "description": "size"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        },
                        "webp_size": {
                          "type": "string",
                          "description": "webp_size"
                        },
                        "webp": {
                          "type": "string",
                          "description": "webp"
                        }
                      },
                      "description": "fixed_height_downsampled"
                    },
                    "fixed_height_small": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "size": {
                          "type": "string",
                          "description": "size"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        },
                        "mp4_size": {
                          "type": "string",
                          "description": "mp4_size"
                        },
                        "mp4": {
                          "type": "string",
                          "description": "mp4"
                        },
                        "webp_size": {
                          "type": "string",
                          "description": "webp_size"
                        },
                        "webp": {
                          "type": "string",
                          "description": "webp"
                        }
                      },
                      "description": "fixed_height_small"
                    },
                    "fixed_height_small_still": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "size": {
                          "type": "string",
                          "description": "size"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "fixed_height_small_still"
                    },
                    "fixed_height_still": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "size": {
                          "type": "string",
                          "description": "size"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "fixed_height_still"
                    },
                    "fixed_width": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "size": {
                          "type": "string",
                          "description": "size"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        },
                        "mp4_size": {
                          "type": "string",
                          "description": "mp4_size"
                        },
                        "mp4": {
                          "type": "string",
                          "description": "mp4"
                        },
                        "webp_size": {
                          "type": "string",
                          "description": "webp_size"
                        },
                        "webp": {
                          "type": "string",
                          "description": "webp"
                        }
                      },
                      "description": "fixed_width"
                    },
                    "fixed_width_downsampled": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "size": {
                          "type": "string",
                          "description": "size"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        },
                        "webp_size": {
                          "type": "string",
                          "description": "webp_size"
                        },
                        "webp": {
                          "type": "string",
                          "description": "webp"
                        }
                      },
                      "description": "fixed_width_downsampled"
                    },
                    "fixed_width_small": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "size": {
                          "type": "string",
                          "description": "size"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        },
                        "mp4_size": {
                          "type": "string",
                          "description": "mp4_size"
                        },
                        "mp4": {
                          "type": "string",
                          "description": "mp4"
                        },
                        "webp_size": {
                          "type": "string",
                          "description": "webp_size"
                        },
                        "webp": {
                          "type": "string",
                          "description": "webp"
                        }
                      },
                      "description": "fixed_width_small"
                    },
                    "fixed_width_small_still": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "size": {
                          "type": "string",
                          "description": "size"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "fixed_width_small_still"
                    },
                    "fixed_width_still": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "size": {
                          "type": "string",
                          "description": "size"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "fixed_width_still"
                    },
                    "looping": {
                      "type": "object",
                      "properties": {
                        "mp4_size": {
                          "type": "string",
                          "description": "mp4_size"
                        },
                        "mp4": {
                          "type": "string",
                          "description": "mp4"
                        }
                      },
                      "description": "looping"
                    },
                    "original_still": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "size": {
                          "type": "string",
                          "description": "size"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "original_still"
                    },
                    "original_mp4": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "mp4_size": {
                          "type": "string",
                          "description": "mp4_size"
                        },
                        "mp4": {
                          "type": "string",
                          "description": "mp4"
                        }
                      },
                      "description": "original_mp4"
                    },
                    "preview": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "mp4_size": {
                          "type": "string",
                          "description": "mp4_size"
                        },
                        "mp4": {
                          "type": "string",
                          "description": "mp4"
                        }
                      },
                      "description": "preview"
                    },
                    "preview_gif": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "size": {
                          "type": "string",
                          "description": "size"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "preview_gif"
                    },
                    "preview_webp": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "size": {
                          "type": "string",
                          "description": "size"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "preview_webp"
                    },
                    "480w_still": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "height"
                        },
                        "width": {
                          "type": "string",
                          "description": "width"
                        },
                        "size": {
                          "type": "string",
                          "description": "size"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "480w_still"
                    }
                  },
                  "description": "images"
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "avatar_url": {
                      "type": "string",
                      "description": "avatar_url"
                    },
                    "banner_image": {
                      "type": "string",
                      "description": "banner_image"
                    },
                    "banner_url": {
                      "type": "string",
                      "description": "banner_url"
                    },
                    "profile_url": {
                      "type": "string",
                      "description": "profile_url"
                    },
                    "username": {
                      "type": "string",
                      "description": "username"
                    },
                    "display_name": {
                      "type": "string",
                      "description": "display_name"
                    },
                    "description": {
                      "type": "string",
                      "description": "description"
                    },
                    "instagram_url": {
                      "type": "string",
                      "description": "instagram_url"
                    },
                    "website_url": {
                      "type": "string",
                      "description": "website_url"
                    },
                    "is_verified": {
                      "type": "boolean",
                      "description": "is_verified"
                    }
                  },
                  "description": "user"
                },
                "analytics_response_payload": {
                  "type": "string",
                  "description": "analytics_response_payload"
                },
                "analytics": {
                  "type": "object",
                  "properties": {
                    "onload": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "onload"
                    },
                    "onclick": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "onclick"
                    },
                    "onsent": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "onsent"
                    }
                  },
                  "description": "analytics"
                }
              }
            }
          }
        },
        "summary": "Get GIF",
        "description": "Returns a list of GIFs related to the search string provided as input",
        "operationId": "Get-GIF",
        "parameters": [
          {
            "name": "API_KEY",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter your API Key.",
            "x-ms-summary": "APIKey"
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Search String"
            "x-ms-summary": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Maximum number of GIFs to be returned.",
            "x-ms-summary": "limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "An optional results offset",
            "x-ms-summary": "Offset"
          },
          {
            "name": "rating",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filters results by rating (g/pg/pg-13/r)",
            "x-ms-summary": "Rating"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter results by language",
            "x-ms-summary": "Language"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "API_KEY"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
"x-ms-connector-metadata": [
{
  "propertyName": "Website",
  "propertyValue": "https://giphy.com/"
},
{
  "propertyName": "Privacy policy",
  "propertyValue": "https://support.giphy.com/hc/en-us/articles/360032872931-GIPHY-Privacy-Policy"
},
{
  "propertyName": "Categories",
  "propertyValue": "Lifestyle and Entertainment"
}
]
