{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Tree-Nation",
    "description": "The simplest way for citizens and companies to plant trees around the world and offset their CO2 emissions. Tree-Nation is on a mission to plant 1 trillion trees by 2050.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "tree-nation.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/projects": {
      "get": {
        "summary": "Project list",
        "description": "Retrieve all projects. If the parameter status=active is passed, only active projects (those where a tree can be planted) will be listed.",
        "operationId": "ProjectList",
        "parameters": [
          {
            "name": "status",
            "default": "active",
            "in": "query",
            "x-ms-summary": "Status",
            "description": "The status.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description.",
                    "title": "Description"
                  },
                  "slug": {
                    "type": "string",
                    "description": "The slug.",
                    "title": "Slug"
                  },
                  "location": {
                    "type": "string",
                    "description": "The location.",
                    "title": "Location"
                  },
                  "lat": {
                    "type": "number",
                    "format": "float",
                    "description": "The latitude.",
                    "title": "Latitude"
                  },
                  "long": {
                    "type": "number",
                    "format": "float",
                    "description": "The longitude.",
                    "title": "Longitude"
                  },
                  "status": {
                    "type": "string",
                    "description": "The status.",
                    "title": "Status"
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL address.",
                    "title": "URL"
                  },
                  "species_price_from": {
                    "type": "number",
                    "format": "float",
                    "description": "The species price from.",
                    "title": "Species Price From"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{project_id}": {
      "get": {
        "summary": "Project details",
        "description": "Retrieve the details about a project.",
        "operationId": "ProjectDetails",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "x-ms-summary": "Project ID",
            "x-ms-url-encoding": "single",
            "description": "The project identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "image": {
                  "type": "string",
                  "description": "The image.",
                  "title": "Image"
                },
                "slug": {
                  "type": "string",
                  "description": "The slug.",
                  "title": "Slug"
                },
                "location": {
                  "type": "string",
                  "description": "The location.",
                  "title": "Location"
                },
                "lat": {
                  "type": "number",
                  "format": "float",
                  "description": "The latitude.",
                  "title": "Latitude"
                },
                "long": {
                  "type": "number",
                  "format": "float",
                  "description": "The longitude.",
                  "title": "Longitude"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "species_price_from": {
                  "type": "number",
                  "format": "float",
                  "description": "The species price from.",
                  "title": "Species Price From"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{project_id}/planting-sites": {
      "get": {
        "summary": "Sites list",
        "description": "Retrieve the available planting sites in a project.",
        "operationId": "SitesList",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "x-ms-summary": "Project ID",
            "x-ms-url-encoding": "single",
            "description": "The project identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "The address.",
                    "title": "Address"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "When created at.",
                    "title": "Created At"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description.",
                    "title": "Description"
                  },
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "image": {
                    "type": "string",
                    "description": "The image.",
                    "title": "Image"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "polygon_data": {
                    "type": "string",
                    "description": "The polygon data.",
                    "title": "Polygon Data"
                  },
                  "project_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The project identifier.",
                    "title": "Project ID"
                  },
                  "slug": {
                    "type": "string",
                    "description": "The slug.",
                    "title": "Slug"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{project_id}/species": {
      "get": {
        "summary": "Species list",
        "description": "Retrieve the available species in a project. Only those species with stock > 0 can be used for planting.",
        "operationId": "SpeciesList",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "x-ms-summary": "Project ID",
            "x-ms-url-encoding": "single",
            "description": "The project identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "project_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The project identifier.",
                    "title": "Project ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "life_time_CO2": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The lifetime CO2.",
                    "title": "Lifetime CO2"
                  },
                  "price": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The price.",
                    "title": "Price"
                  },
                  "stock": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The stock.",
                    "title": "Stock"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/species/{species_id}": {
      "get": {
        "summary": "Species details",
        "description": "Retrieve the details about a species.",
        "operationId": "SpeciesDetails",
        "parameters": [
          {
            "name": "species_id",
            "in": "path",
            "x-ms-summary": "Species ID",
            "x-ms-url-encoding": "single",
            "description": "The species identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "project_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The project ID.",
                  "title": "Project ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "life_time_CO2": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The lifetime CO2.",
                  "title": "Lifetime CO2"
                },
                "price": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The price.",
                  "title": "Price"
                },
                "common_names": {
                  "type": "string",
                  "description": "The common name.",
                  "title": "Common Names"
                },
                "image": {
                  "type": "string",
                  "description": "The image.",
                  "title": "Image"
                },
                "family": {
                  "type": "string",
                  "description": "The family.",
                  "title": "Family"
                },
                "particularities": {
                  "type": "string",
                  "description": "The particularities.",
                  "title": "Particularities"
                },
                "planter_likes": {
                  "type": "string",
                  "description": "The planter likes.",
                  "title": "Planter Likes"
                },
                "height": {
                  "type": "string",
                  "description": "The height.",
                  "title": "Height"
                },
                "average_natural_life_span": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The average natural life span.",
                  "title": "Average Natural Life Span"
                },
                "co2_offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The CO2 offset.",
                  "title": "CO2 Offset"
                },
                "co2_offset_period": {
                  "type": "string",
                  "description": "The CO2 offset period.",
                  "title": "CO2 Offset Period"
                },
                "stock": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The stock.",
                  "title": "Stock"
                },
                "category": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    }
                  },
                  "title": "Category"
                },
                "foliage": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    }
                  },
                  "title": "Foliage"
                },
                "origin_type": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    }
                  },
                  "title": "Origin Type"
                }
              }
            }
          }
        }
      }
    },
    "/api/forests/{user_id}": {
      "get": {
        "summary": "Forest details",
        "description": "Retrieve a user forest details",
        "operationId": "ForestDetails",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "co2_compensated": {
                  "type": "number",
                  "format": "float",
                  "description": "The CO2 compensated.",
                  "title": "CO2 Compensated"
                },
                "tree_count": {
                  "type": "string",
                  "description": "The tree count.",
                  "title": "Tree Count"
                }
              }
            }
          }
        }
      }
    },
    "/api/forests/{user_slug}/tree_counter/{period}": {
      "get": {
        "summary": "Forest tree count",
        "description": "Retrieve a user forest tree count (by slug). Period is optional and can be one of: day, week, month, quarter, year. If period is not passed, the all time value will be returned.",
        "operationId": "ForestTreeCount",
        "parameters": [
          {
            "name": "user_slug",
            "in": "path",
            "x-ms-summary": "user slug",
            "x-ms-url-encoding": "single",
            "description": "The user slug.",
            "type": "string",
            "required": true
          },
          {
            "name": "period",
            "in": "path",
            "x-ms-summary": "Period",
            "x-ms-url-encoding": "single",
            "description": "The period.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                }
              }
            }
          }
        }
      }
    },
    "/api/plant": {
      "post": {
        "summary": "Plant",
        "description": "Plant a tree.",
        "operationId": "Plant",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "email": {
                        "type": "string",
                        "description": "The email address.",
                        "title": "Email"
                      }
                    }
                  },
                  "title": "Recipients"
                },
                "planter_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The planter identifier.",
                  "title": "Planter ID"
                },
                "species_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The species identifier.",
                  "title": "Species ID"
                },
                "quantity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The quantity.",
                  "title": "Quantity"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "trees": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "token": {
                        "type": "string",
                        "description": "The token.",
                        "title": "Token"
                      },
                      "collect_url": {
                        "type": "string",
                        "description": "The collection URL address.",
                        "title": "Collect URL"
                      },
                      "certificate_url": {
                        "type": "string",
                        "description": "The certificate URL address.",
                        "title": "Certificate URL"
                      }
                    }
                  },
                  "title": "Trees"
                },
                "payment_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The payment identifier.",
                  "title": "Payment ID"
                }
              }
            }
          }
        }
      }
    },
    "/api/user/b2b": {
      "put": {
        "summary": "Create user",
        "description": "Create a new user.",
        "operationId": "CreateUser",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "language": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                },
                "password": {
                  "type": "string",
                  "description": "The password.",
                  "title": "Password"
                },
                "responsible_name": {
                  "type": "string",
                  "description": "The responsible name.",
                  "title": "Responsible Name"
                },
                "organization_website": {
                  "type": "string",
                  "description": "The organization website.",
                  "title": "Organization Website"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "user_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The user identifier.",
                  "title": "User ID"
                },
                "password": {
                  "type": "string",
                  "description": "The password.",
                  "title": "Password"
                },
                "slug": {
                  "type": "string",
                  "description": "The slug.",
                  "title": "Slug"
                },
                "forest_url": {
                  "type": "string",
                  "description": "The forest URL address.",
                  "title": "Forest URL"
                }
              }
            }
          }
        }
      }
    },
    "/api/tree_templates/{planter_id}": {
      "get": {
        "summary": "Tree template details",
        "description": "Retrieve the details about the tree template of a planter.",
        "operationId": "TreeTemplateDetails",
        "parameters": [
          {
            "name": "planter_id",
            "in": "path",
            "x-ms-summary": "Planter ID",
            "x-ms-url-encoding": "single",
            "description": "The planter identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "planter_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The planter identifier.",
                  "title": "Planter ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "image": {
                  "type": "string",
                  "description": "The image.",
                  "title": "Image"
                },
                "video": {
                  "type": "string",
                  "description": "The video.",
                  "title": "Video"
                },
                "species_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The species identifier.",
                  "title": "Species ID"
                },
                "package_quantity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The package quantity.",
                  "title": "Package Quantity"
                },
                "price_per_tree": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The price per tree.",
                  "title": "Price Per Tree"
                },
                "total_price": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total price.",
                  "title": "Total Price"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Update tree template",
        "description": "Modify the message of a tree template.",
        "operationId": "UpdateTreeTemplate",
        "parameters": [
          {
            "name": "planter_id",
            "in": "path",
            "x-ms-summary": "Planter ID",
            "x-ms-url-encoding": "single",
            "description": "The planter identifier.",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "planter_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The planter identifier.",
                  "title": "Planter ID"
                },
                "video": {
                  "type": "string",
                  "description": "The video.",
                  "title": "Video"
                },
                "species_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The species identifier.",
                  "title": "Species ID"
                },
                "package_quantity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The package quantity.",
                  "title": "Package Quantity"
                },
                "price_per_tree": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The price per tree.",
                  "title": "Price Per Tree"
                },
                "total_price": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total price.",
                  "title": "Total Price"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "image": {
                  "type": "string",
                  "description": "The image.",
                  "title": "Image"
                }
              }
            }
          }
        }
      }
    },
    "/api/credit": {
      "post": {
        "summary": "Buy credit",
        "description": "Buy credit.",
        "operationId": "BuyCredit",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "planter_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The planter identifier.",
                  "title": "Planter ID"
                },
                "amount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The amount.",
                  "title": "Amount"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "payment_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The payment identifier.",
                  "title": "Payment ID"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://tree-nation.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://tree-nation.com/legal/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]

}