{
  "swagger": "2.0",
  "info": {
    "title": "Focusmate",
    "description": "Get data on your Focusmate user, sessions and partners.",
    "contact": {
      "name": "Phil Cole",
      "url": "https://philcole.org",
      "email": "filcole@gmail.com"
    },
    "version": "1.0"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.focusmate.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://blog.focusmate.com/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Collaboration"
    }
  ],
  "host": "api.focusmate.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/me": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier for the current user",
                      "title": "User Id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the current user",
                      "title": "Name"
                    },
                    "totalSessionCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total number of session for the current user",
                      "title": "Total Session Count"
                    },
                    "timeZone": {
                      "type": "string",
                      "description": "Time zone of the current user",
                      "title": "Time zone"
                    },
                    "photoUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "Photo URL of the current user",
                      "title": "Photo URL"
                    }
                  },
                  "description": "user"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string",
                "x-ms-visibility": "internal"
              }
            }
          }
        },
        "summary": "Get My Profile",
        "description": "Get profile data for the calling user",
        "operationId": "Profile",
        "parameters": []
      }
    },
    "/v1/users/{userId}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The unique identifier of the specified user",
                      "title": "User Id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the specified user",
                      "title": "Name"
                    },
                    "totalSessionCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total number of session for the specified user",
                      "title": "Total Session Count"
                    },
                    "timeZone": {
                      "type": "string",
                      "description": "Time zone of the specified user",
                      "title": "Time zone"
                    },
                    "photoUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "Photo URL of the specified user",
                      "title": "Photo URL"
                    }
                  },
                  "description": "Public information about the specified user"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string",
                "x-ms-visibility": "internal"
              }
            }
          }
        },
        "operationId": "PartnerProfile",
        "description": "Get profile data for the given userId. Only publicly available data is returned",
        "summary": "Get Partner Profile",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "User Id of the user who's profile will be retrieved.",
            "x-ms-summary": "User ID",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/v1/sessions": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "sessions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "sessionId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique identifier for a session",
                        "title": "Session Id"
                      },
                      "duration": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Duration of the session (milliseconds)",
                        "title": "Duration"
                      },
                      "startTime": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Start time of the session (UTC)",
                        "title": "Start Time"
                      },
                      "users": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string",
                              "format": "uuid",
                              "description": "The user id of a user within the session",
                              "title": "User Id"
                            },
                            "requestedAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Date and time the session was requested (UTC)",
                              "title": "Requested At"
                            },
                            "joinedAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Date and time the user joined the session (UTC)",
                              "title": "Joined At"
                            },
                            "completed": {
                              "type": "boolean",
                              "description": "Indicates the session was completed",
                              "title": "Completed"
                            },
                            "sessionTitle": {
                              "type": "string",
                              "description": "Session Title",
                              "title": "Session Title"
                            }
                          }
                        },
                        "description": "List of users in a session"
                      }
                    }
                  },
                  "description": "List of sessions within time range"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string",
                "x-ms-visibility": "internal"
              }
            }
          }
        },
        "summary": "Get Sessions",
        "description": "Returns a list of sessions for the calling user.",
        "operationId": "GetSessions",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date",
            "description": "The start date and time from which sessions will be retrieved",
            "x-ms-summary": "Start Date",
            "x-ms-visibility": "important"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date",
            "description": "The end date and time up to which sessions will be retrieved",
            "x-ms-summary": "End Date",
            "x-ms-visibility": "important"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
