{
  "swagger": "2.0",
  "info": {
    "version": "3.0.0",
    "title": "Binance.us",
    "description": "A Power Platform Connector for connecting to the Binance.us API to query crypto market rates and trades.",
    "contact": {
      "name": "Roy Paar",
      "email": "roypaar@microsoft.com"
    }
  },
  "host": "api.binance.us",
  "basePath": "/api/v3",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/ticker/price": {
      "get": {
        "summary": "Get Live Ticker Price",
        "description": "Latest price for a symbol or symbols. If the symbol is not sent, prices for all symbols will be returned in an array.",
        "operationId": "GetLiveTickerPrice",
        "parameters": [
          {
            "name": "symbol",
            "required": false,
            "in": "query",
            "type": "string",
            "x-ms-summary": "Desired currency code and base currency code with no space",
            "description": "Enter symbol parameter as the desired currency followed by base currency with no space ie LTCUSD"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "$ref": "#/definitions/GetLiveTickerPriceResponse"
            }
          }
        }
      }
    },
    "/exchangeInfo": {
      "get": {
        "summary": "Get Exchange Information",
        "description": "Current exchange trading rules and symbol information.",
        "operationId": "GetExchangeInformation",
        "parameters": [
          {
            "name": "symbol",
            "required": false,
            "in": "query",
            "type": "string",
            "x-ms-summary": "Desired currency code and base currency code with no space",
            "description": "Enter symbol parameter as the desired currency followed by base currency with no space ie LTCUSD"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "$ref": "#/definitions/GetExchangeInfoResponse"
            }
          }
        }
      }
    },
    "/trades": {
      "get": {
        "summary": "Get Recent Trades",
        "description": "Get recent trades (up to last 1000).",
        "operationId": "GetRecentTrades",
        "parameters": [
          {
            "name": "symbol",
            "required": true,
            "in": "query",
            "type": "string",
            "x-ms-summary": "Desired currency code and base currency code with no space",
            "description": "Enter symbol parameter as the desired currency followed by base currency with no space ie LTCUSD"
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Default 500; max 1000",
            "description": "Default 500; max 1000"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "$ref": "#/definitions/GetRecentTradesResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "GetLiveTickerPriceResponse": {
      "type": "object",
      "properties": {
        "statusDetails": {
          "$ref": "#/definitions/statusDetails"
        }
      }
    },
    "GetExchangeInfoResponse": {
      "type": "object",
      "properties": {
        "statusDetails": {
          "$ref": "#/definitions/statusDetails"
        }
      }
    },
    "GetRecentTradesResponse": {
      "type": "object",
      "properties": {
        "statusDetails": {
          "$ref": "#/definitions/statusDetails"
        }
      }
    },
    "statusDetails": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "statusCode": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/messages"
          }
        }
      }
    },
    "messages": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.binance.us/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.binance.us/en/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance"
    }
  ],
  "securityDefinitions": {},
  "security": []
}