{
  "swagger": "2.0",
  "info": {
    "title": "Impexium",
    "description": "Impexium is the premier association management software solution for nonprofits and member-based organizations.",
    "version": "1.0",
    "contact": {
      "name": "Impexium Support",
      "url": "https://support.impexium.com",
      "email": "support@impexium.com"
    }
  },
  "host": "automation.impexium.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1/Shopping/AbandonedCheckOuts/{Page Number}": {
      "get": {
        "tags": [
          "Shopping"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AbandonedCheckoutData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "Get Abandoned Checkouts",
        "description": "Get Abandoned Checkouts",
        "operationId": "GetAbandonedCheckouts",
        "parameters": [
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Page Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "abandonedFrom",
            "in": "query",
            "type": "string",
            "description": "Abandoned From",
            "x-ms-summary": "Abandoned From",
            "required": true
          },
          {
            "name": "productCode",
            "in": "query",
            "type": "string",
            "description": "Product Code",
            "x-ms-summary": "Product Code"
          },
          {
            "name": "customerRecordNumber",
            "in": "query",
            "type": "string",
            "description": "Customer Record Number",
            "x-ms-summary": "Customer Record Number"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Exhibits/{Exhibit Code}/Exhibitors/{Page Number}": {
      "get": {
        "tags": [
          "Exhibits"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ExhibitorData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "List All Exhibitors",
        "description": "List All Exhibitors",
        "operationId": "List-All-Exhibitors",
        "parameters": [
          {
            "name": "Exhibit Code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Exhibit Code.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Exhibit Code"
          },
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Page Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Products/Exams/{Page Number}": {
      "get": {
        "tags": [
          "Exams"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ExamData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "List of Exams",
        "description": "List of Exams",
        "operationId": "List-of-Exams",
        "parameters": [
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "The page number of the result set.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Code",
            "in": "query",
            "type": "string",
            "description": "A specific Exam code.",
            "x-ms-summary": "Code"
          },
          {
            "name": "categoryName",
            "in": "query",
            "type": "string",
            "description": "A specific Exam Category name.",
            "x-ms-summary": "Category Name"
          },
          {
            "name": "isPublic",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Is Public",
            "description": "When set to true, only public Exams will be displayed; If it's not specified will display all."
          },
          {
            "name": "changedSince",
            "in": "query",
            "type": "string",
            "description": "When a date (yyyy-MM-ddTHH:mm:ss (UTC)) is specified, only Exams modified after this date will be displayed.",
            "x-ms-summary": "Changed Since"
          },
          {
            "name": "Tag",
            "in": "query",
            "type": "string",
            "description": "Tag",
            "x-ms-summary": "Tag"
          },
          {
            "name": "includePrices",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Include Prices",
            "description": "When set to true, add the active price list for every product."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Events/{Event Code}/Registrations/{Page Number}": {
      "get": {
        "tags": [
          "Events"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number.",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/RegistrantData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "List Registrants",
        "description": "List Registrants",
        "operationId": "List-Registrants",
        "parameters": [
          {
            "name": "Event Code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Event Code",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Event Code"
          },
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Page Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sessionCode",
            "in": "query",
            "type": "string",
            "description": "Session Code.",
            "x-ms-summary": "Session Code"
          },
          {
            "name": "includeDetails",
            "in": "query",
            "type": "boolean",
            "description": "Include Details",
            "x-ms-summary": "Include Details"
          },
          {
            "name": "registeredSince",
            "in": "query",
            "type": "string",
            "description": "Registered Since",
            "x-ms-summary": "Registered Since"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Courses/{Code}/Attendees/{Page Number}": {
      "get": {
        "tags": [
          "Courses"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number.",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CourseAttendeeData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "Get Course Attendees",
        "description": "Get Course Attendees",
        "operationId": "Get-Course-Attendees",
        "parameters": [
          {
            "name": "Code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Course Code.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Course Code."
          },
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Page Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Exams/{Exam Code}/Scores": {
      "post": {
        "tags": [
          "Exams"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ExamScoreResultData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Exam Code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Exam Code.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Exam Code."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExamScoreData"
              }
            }
          }
        ],
        "summary": "Add Exam Scores",
        "description": "Add Exam Scores",
        "operationId": "Add-Exam-Scores"
      }
    },
    "/api/v1/Customers/Members/FindByName/{Name}/{Page Number}": {
      "get": {
        "tags": [
          "Members"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number.",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ContactData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "Find Members by Name",
        "description": "Find Members by Name",
        "operationId": "Find-Members-by-Name",
        "parameters": [
          {
            "name": "Name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual or Organization name",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Name"
          },
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "x-ms-visibility": "advanced",
            "description": "Page Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Individuals/{ID or Record Number}/Purchases/{Page Number}": {
      "get": {
        "tags": [
          "Individuals"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number.",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PurchasedItemData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "Get Purchases for an Individual",
        "description": "Get Purchases for an Individual",
        "operationId": "Get-Purchases-for-an-Individual",
        "parameters": [
          {
            "name": "ID or Record Number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual ID or Record Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Individual ID or Record Number."
          },
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Page Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number",
            "default": 1,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "productCode",
            "in": "query",
            "type": "string",
            "description": "Product Code.",
            "x-ms-summary": "Product Code."
          },
          {
            "name": "purchasedSince",
            "in": "query",
            "type": "string",
            "description": "yyyy-MM-ddTHH:mm:ss",
            "x-ms-summary": "Purchased Since"
          },
          {
            "name": "productCategoryCode",
            "in": "query",
            "type": "string",
            "description": "Product Category Code.",
            "x-ms-summary": "Product Category Code."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Organizations/{ID or Record Number}/CustomFieldsList": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomFieldResultData"
              }
            }
          }
        },
        "summary": "Add or Update a List of Custom Fields Per Organization",
        "description": "Add or Update a List of Custom Fields Per Organization",
        "operationId": "Add-or-Update-a-List-of-Custom-Fields-Per-Organization",
        "parameters": [
          {
            "name": "ID or Record Number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization ID or Record Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Organization ID or Record Number."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomFieldValueData"
              }
            }
          }
        ]
      }
    },
    "/api/v1/Committees/{Code}/Nominations": {
      "post": {
        "tags": [
          "Committees"
        ],
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "summary": "Add Nominee",
        "description": "Add Nominee",
        "operationId": "Add-Nominee",
        "parameters": [
          {
            "name": "Code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Committee Code.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Committee Code."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CommitteeNomineeSaveData"
            }
          }
        ]
      }
    },
    "/api/v1/Individuals/{ID}/CustomFields": {
      "get": {
        "tags": [
          "Individuals"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/CustomFieldData"
            }
          }
        },
        "summary": "Get Individual Custom Field Values",
        "description": "Get Individual Custom Field Values",
        "operationId": "Get-Individual-Custom-Field-Values",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual ID.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Individual ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "tags": [
          "Individuals"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Update Individual Custom Field Values",
        "description": "Update Individual Custom Field Values.",
        "operationId": "Update-custom-field-value",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Customer ID.",
            "x-ms-summary": "Customer ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CustomFieldData"
            }
          }
        ]
      }
    },
    "/api/v1/Events/{Event Code}/Cancellations/{Page Number}": {
      "get": {
        "tags": [
          "Events"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number.",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/RegistrantCancellationData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Event Code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid Event Code.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Event Code"
          },
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Page Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "includeDetails",
            "in": "query",
            "type": "boolean",
            "description": "Indicates if additional information should be returned.",
            "x-ms-summary": "Include Details"
          },
          {
            "name": "cancelledSince",
            "in": "query",
            "type": "string",
            "description": "The initial date to search cancellations (yyyy-MM-ddTHH:mm:ss)",
            "x-ms-summary": "Cancelled Since"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "summary": "List All Event Cancellations by Event",
        "description": "List All Event Cancellations by Event",
        "operationId": "List-All-Event-Cancellations-by-Event"
      }
    },
    "/api/v1/Individuals/{ID or Record Number}/Orders/Open/{Page Number}": {
      "get": {
        "tags": [
          "Individuals"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PayableOrderData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "Get All Open Orders for an Individual",
        "description": "Get All Open Orders for an Individual",
        "operationId": "Get-All-Open-Orders-for-an-Individual",
        "parameters": [
          {
            "name": "ID or Record Number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual ID or Record Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Individual ID or Record Number."
          },
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Page Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number.",
            "default": 1,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "includeLineItems",
            "in": "query",
            "type": "boolean",
            "description": "Include Line Items.",
            "x-ms-summary": "Include Line Items."
          },
          {
            "name": "fromDate",
            "in": "query",
            "type": "string",
            "description": "From Date.",
            "x-ms-summary": "From Date."
          },
          {
            "name": "toDate",
            "in": "query",
            "type": "string",
            "description": "To Date.",
            "x-ms-summary": "To Date."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/tasks/Users/{User ID or Email}/Completed/{Page Number}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number.",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/UserTaskData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "List Completed User Tasks by User ID or Email",
        "description": "List Completed User Tasks by User ID or Email",
        "operationId": "List-Completed-User-Tasks-by-User-ID-or-Email",
        "parameters": [
          {
            "name": "User ID or Email",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid User ID or Email",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "User ID or Email"
          },
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Page Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/tasks/Users/{User ID or Email}/Pending/{Page Number}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number.",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/UserTaskData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "List Pending User Tasks by User ID or Email",
        "description": "List Pending User Tasks by User ID or Email",
        "operationId": "List-Pending-User-Tasks-by-User-ID-or-Email",
        "parameters": [
          {
            "name": "User ID or Email",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid User ID or Email",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "User ID or Email"
          },
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Page Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Sales/Opportunities/{ID}/Notes": {
      "post": {
        "tags": [
          "Sales"
        ],
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "summary": "Add Note to Sales Opportunity",
        "description": "Add Note to Sales Opportunity",
        "operationId": "Add-Note-to-Sales-Opportunity",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Sales opportunity ID",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/BaseNoteData"
            }
          }
        ]
      }
    },
    "/api/v1/Sales/Opportunities/{ID}/Activities": {
      "post": {
        "tags": [
          "Sales"
        ],
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "summary": "Add Activity to Sales Opportunity",
        "description": "Add Activity to Sales Opportunity",
        "operationId": "Add-Activity-to-Sales-Opportunity",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Opportunity ID",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ActivityData"
            }
          }
        ]
      }
    },
    "/api/v1/tasks/{Task Number}": {
      "put": {
        "tags": [
          "Tasks"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/TaskData"
            }
          }
        },
        "description": "Update Task by Task Number",
        "operationId": "Update-Task-by-Task-Number",
        "summary": "Update Task by Task Number",
        "parameters": [
          {
            "name": "Task Number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid Task Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Task Number"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/TaskSaveData"
            }
          }
        ]
      }
    },
    "/api/v1/Countries/All/{Page Number}": {
      "get": {
        "tags": [
          "Countries"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CountryData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "List All Countries",
        "description": "List All Countries",
        "operationId": "List-All-Countries",
        "parameters": [
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Page Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Countries/{Country ID}/States/All/{Page Number}": {
      "get": {
        "tags": [
          "Countries"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/StateProvinceData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "Get All States by Country",
        "description": "Get All States by Country",
        "operationId": "Get-All-States-by-Country",
        "parameters": [
          {
            "name": "Country ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Country ID",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Country ID"
          },
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Page Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Exhibits/{Page Number}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ExhibitData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "List All Exhibits",
        "description": "List All Exhibits",
        "operationId": "List-All-Exhibits",
        "parameters": [
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Page Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Organizations/{Record Number}/Categories/{Category Code}": {
      "delete": {
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "summary": "Delete a Category for an Organization",
        "description": "Delete a Category for an Organization",
        "operationId": "Delete-a-Category-for-an-Organization",
        "parameters": [
          {
            "name": "Record Number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Record Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Record Number"
          },
          {
            "name": "Category Code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Category Code",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Category Code"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Requests": {
      "post": {
        "tags": [
          "Requests"
        ],
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "summary": "Add Customer Request",
        "description": "Add Customer Request",
        "operationId": "Add-Customer-Request",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/RequestSaveData"
            }
          }
        ]
      },
      "put": {
        "tags": [
          "Requests"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/RequestUpdateData"
            }
          }
        },
        "summary": "Update Customer Request",
        "description": "Update Customer Request",
        "operationId": "Update-Customer-Request",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/RequestUpdateData"
            }
          }
        ]
      }
    },
    "/api/v1/Organizations/{Record Number}/Categories": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "summary": "Add Categories for an Organization",
        "description": "Add Categories for an Organization",
        "operationId": "Add-Categories-for-an-Organization",
        "parameters": [
          {
            "name": "Record Number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Record Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Record Number"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SaveCategoryBasicData"
              }
            }
          }
        ]
      }
    },
    "/api/v1/Customers/RelationshipTypes/{Page Number}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number.",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/RelationshipTypeData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "List of Customer Relationships",
        "description": "List of Customer Relationships",
        "operationId": "List-of-Customer-Relationships",
        "parameters": [
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Page Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Requests/Open/{Page Number}": {
      "get": {
        "tags": [
          "Requests"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number.",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/RequestData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Page Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "description": "List All Open Customer Request",
        "operationId": "List-All-Open-Customer-Request",
        "summary": "List All Open Customer Request"
      }
    },
    "/api/v1/Organizations/{ID}/Memberships/Inactive": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/MembershipData"
            }
          }
        },
        "summary": "Get Organization Inactive Memberships",
        "description": "Get Organization Inactive Memberships",
        "operationId": "Get-Organization-Inactive-Memberships",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization ID",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Organization ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/CustomData/{Table Name}/{ID}": {
      "delete": {
        "tags": [
          "CustomData"
        ],
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "summary": "Delete Record From Custom Data Table",
        "description": "Delete Record From Custom Data Table",
        "operationId": "Delete-Record-From-Custom-Data-Table",
        "parameters": [
          {
            "name": "Table Name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Custom table name",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Table Name"
          },
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the record to be deleted.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/tasks/Users/{User ID or Email}": {
      "put": {
        "tags": [
          "Tasks"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/UserTaskData"
            }
          }
        },
        "summary": "Update User Task Progress or Mark as Completed",
        "description": "Update User Task Progress or Mark as Completed",
        "operationId": "Update-User-Task-Progress-or-Mark-as-Completed",
        "parameters": [
          {
            "name": "User ID or Email",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid User Id or Email",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "User ID or Email"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/UserTaskData"
            }
          }
        ]
      }
    },
    "/api/v1/Individuals/Members/FindByFirstName/{First Name}/{Page Number}": {
      "get": {
        "tags": [
          "Individuals"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/IndividualData"
            }
          }
        },
        "summary": "Find Members (Individuals) by First Name",
        "description": "Find Members (Individuals) by First Name",
        "operationId": "Find-Members-or-Individuals-by-First-Name",
        "parameters": [
          {
            "name": "First Name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "First Name",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "First Name"
          },
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "x-ms-visibility": "advanced",
            "description": "Page Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number"
          },
          {
            "name": "includeEmail",
            "in": "query",
            "type": "boolean",
            "description": "Include Email Data",
            "x-ms-summary": "Include Email"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Individuals/Members/FindByLastName/{Last Name}/{Page Number}": {
      "get": {
        "tags": [
          "Individuals"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/IndividualData"
            }
          }
        },
        "parameters": [
          {
            "name": "Last Name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Last Name.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Last Name."
          },
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Page Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "includeEmail",
            "in": "query",
            "type": "boolean",
            "description": "Include Email Data.",
            "x-ms-summary": "Include Email"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "summary": "Find Members (Individuals) by Last Name",
        "description": "Find Members (Individuals) by Last Name",
        "operationId": "Find-Members-or-Individuals-by-Last-Name"
      }
    },
    "/api/v1/tasks/Users/{User ID or Email}/Task": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "parameters": [
          {
            "name": "User ID or Email",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid User Id or Email",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "User ID or Email"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/UserTaskData"
            }
          }
        ],
        "summary": "Create a new task or Assign Task to a User",
        "description": "Create a new task or Assign Task to a User",
        "operationId": "Assign-Task-to-a-User"
      }
    },
    "/api/v1/Individuals/{Record Number}/Categories/{Category Code}": {
      "delete": {
        "tags": [
          "Individuals"
        ],
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "parameters": [
          {
            "name": "Record Number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Record Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Record Number."
          },
          {
            "name": "Category Code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Category Code.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Category Code."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "summary": "Delete a Category for an Individual",
        "description": "Delete a Category for an Individual",
        "operationId": "Delete-a-Category-for-an-Individual"
      }
    },
    "/api/v1/Individuals/{ID}/Notifications": {
      "post": {
        "tags": [
          "Individuals"
        ],
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual ID.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Individual ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/NotificationData"
            }
          }
        ],
        "summary": "Add Notification to Individual",
        "description": "Add Notification to Individual",
        "operationId": "Add-Notification-to-Individual"
      }
    },
    "/api/v1/Individuals/{Record Number}/Categories": {
      "post": {
        "tags": [
          "Individuals"
        ],
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "summary": "Add Categories for an Individual",
        "description": "Add Categories for an Individual",
        "operationId": "Add-Categories-for-an-Individual",
        "parameters": [
          {
            "name": "Record Number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual Record Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Individual Record Number."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SaveCategoryBasicData"
              }
            }
          }
        ]
      }
    },
    "/api/v1/tasks": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/TaskData"
            }
          }
        },
        "summary": "Add a New Task",
        "description": "Add a New Task",
        "operationId": "Add-a-New-Task",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/TaskSaveData"
            }
          }
        ]
      }
    },
    "/api/v1/Individuals/Members/All/{Page Number}": {
      "get": {
        "tags": [
          "Individuals"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number.",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/IndividualData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "List of All Individual Members",
        "description": "List of All Individual Members",
        "operationId": "List-of-All-Individual-Members",
        "parameters": [
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Page Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number",
            "default": 1,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "zipCode",
            "in": "query",
            "type": "string",
            "description": "Zip Code",
            "x-ms-summary": "Zip Code"
          },
          {
            "name": "Radius",
            "in": "query",
            "type": "number",
            "default": 5,
            "description": "Radius in Miles",
            "x-ms-summary": "Radius",
            "format": "float"
          },
          {
            "name": "membershipTypeCode",
            "in": "query",
            "type": "string",
            "description": "A valid code for a Membership Type",
            "x-ms-summary": "Membership Type Code"
          },
          {
            "name": "membershipTypeCategory",
            "in": "query",
            "type": "string",
            "description": "A valid Membership Type Category name",
            "x-ms-summary": "Membership Type Category"
          },
          {
            "name": "Tag",
            "in": "query",
            "type": "string",
            "description": "Tag",
            "x-ms-summary": "Tag"
          },
          {
            "name": "includeMembership",
            "in": "query",
            "type": "boolean",
            "description": "Include Membership Data",
            "x-ms-summary": "Include Membership"
          },
          {
            "name": "includeAddress",
            "in": "query",
            "type": "boolean",
            "description": "Include Address Data",
            "x-ms-summary": "Include Address"
          },
          {
            "name": "includePhone",
            "in": "query",
            "type": "boolean",
            "description": "Include Phone Data",
            "x-ms-summary": "Include Phone"
          },
          {
            "name": "includeEmail",
            "in": "query",
            "type": "boolean",
            "description": "Include Email Data",
            "x-ms-summary": "Include Email"
          },
          {
            "name": "includeCustomFields",
            "in": "query",
            "type": "boolean",
            "description": "Include Custom Field Data",
            "x-ms-summary": "Include Custom Fields"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Organizations/{ID or Record Number}/Certifications/{Page Number}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number.",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CertificationData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "Get List of Active Certifications for an Organization",
        "description": "Get List of Active Certifications for an Organization",
        "operationId": "Get-List-of-Active-Certifications-for-an-Organization",
        "parameters": [
          {
            "name": "ID or Record Number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization ID or Record Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Organization ID or Record Number."
          },
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Page Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number",
            "default": 1,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Individuals/{ID or Record Number}/Certifications/{Page Number}": {
      "get": {
        "tags": [
          "Individuals"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number.",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CertificationData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "Get List of Active Certifications for an Individual",
        "description": "Get List of Active Certifications for an Individual",
        "operationId": "Get-List-of-Active-Certifications-for-an-Individual",
        "parameters": [
          {
            "name": "ID or Record Number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual ID or Record Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Individual ID or Record Number."
          },
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Page Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number",
            "default": 1,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Individuals/{ID}/Memberships/Inactive": {
      "get": {
        "tags": [
          "Individuals"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/MembershipData"
            }
          }
        },
        "summary": "Get Individual Inactive Memberships",
        "description": "Get Individual Inactive Memberships",
        "operationId": "Get-Individual-Inactive-Memberships",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual ID.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Individual ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Organizations/{ID}/Activities": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "summary": "Add Activity to Organization",
        "description": "Add Activity to Organization",
        "operationId": "Add-Activity-to-Organization",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization ID.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Organization ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ActivityData"
            }
          }
        ]
      }
    },
    "/api/v1/Events/{Event Code}/Sessions/Register/{Customer ID or Record Number}": {
      "post": {
        "tags": [
          "Events"
        ],
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "summary": "Register an Individual for a Free Session",
        "description": "Register an Individual for a Free Session",
        "operationId": "Register-an-Individual-for-a-Free-Session",
        "parameters": [
          {
            "name": "Event Code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A Valid Event Code.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Event Code"
          },
          {
            "name": "Customer ID or Record Number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A Valid Individual ID or Record Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Customer ID or Record Number"
          },
          {
            "name": "registrationNumber",
            "in": "query",
            "type": "string",
            "description": "A Valid Registration Number.",
            "x-ms-summary": "Registration Number"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SessionRegistrationData"
              }
            }
          }
        ]
      }
    },
    "/api/v1/Individuals/{ID}/Licenses/{Page Number}": {
      "get": {
        "tags": [
          "Individuals"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number.",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/LicenseData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "Get a List of Licenses",
        "description": "Get a List of Licenses",
        "operationId": "Get-a-List-of-Licenses",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual ID.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Individual ID."
          },
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Page Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number",
            "default": 1,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Awards/{Page Number}": {
      "get": {
        "tags": [
          "Awards"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number.",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AwardData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "List All Awards",
        "description": "List All Awards",
        "operationId": "List-All-Awards",
        "parameters": [
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Page Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Year",
            "in": "query",
            "type": "integer",
            "description": "Year.",
            "x-ms-summary": "Year."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Individuals/Members/FindByName/{Name}/{Page Number}": {
      "get": {
        "tags": [
          "Individuals"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number.",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/IndividualData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "Find Members (Individuals) by Name",
        "description": "Find Members (Individuals) by Name",
        "operationId": "Find-Members-or-Individuals-by-Name",
        "parameters": [
          {
            "name": "Name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual Name.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Individual Name"
          },
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Page Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number.",
            "default": 1,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "includeEmail",
            "in": "query",
            "type": "boolean",
            "description": "Include Email Data.",
            "x-ms-summary": "Include Email Data."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Organizations/{ID}/Services": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number.",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ServiceData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "Get a List of All Services of an Organization",
        "description": "Get a List of All Services of an Organization",
        "operationId": "Get-a-List-of-All-Services-of-an-Organization",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization ID.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Organization ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ServiceData"
            }
          }
        },
        "summary": "Add a Service to an Organization",
        "description": "Add a Service to an Organization",
        "operationId": "Add-a-Service-to-an-Organization",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization ID.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Organization ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ServiceData"
            }
          }
        ]
      }
    },
    "/api/v1/Individuals/{ID or Record Number}/Phones/{ID}": {
      "put": {
        "tags": [
          "Individuals"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/PhoneDataSet"
            }
          }
        },
        "summary": "Update Phone for an Individual",
        "description": "Update Phone for an Individual",
        "operationId": "Update-Phone-for-an-Individual",
        "parameters": [
          {
            "name": "ID or Record Number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual ID or Record Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Individual ID or Record Number."
          },
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Phone ID.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Phone ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PhoneSaveData"
            }
          }
        ]
      }
    },
    "/api/v1/Organizations/{ID or Record Number}/Phones/{ID}": {
      "put": {
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/PhoneDataSet"
            }
          }
        },
        "summary": "Update Phone for an Organization",
        "description": "Update Phone for an Organization",
        "operationId": "Update-Phone-for-an-Organization",
        "parameters": [
          {
            "name": "ID or Record Number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization ID or Record Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Organization ID or Record Number."
          },
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Phone ID.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Phone ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PhoneSaveData"
            }
          }
        ]
      }
    },
    "/api/v1/Individuals/{ID or Record Number}/Links": {
      "delete": {
        "tags": [
          "Individuals"
        ],
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "summary": "Delete an Individual Web Link",
        "description": "Delete an Individual Web Link",
        "operationId": "Delete-an-Individual-Web-Link",
        "parameters": [
          {
            "name": "ID or Record Number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid Individual ID or Record Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Individual ID or Record Number"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Type.",
                  "title": "Type",
                  "enum": [
                    "Blog",
                    "LinkedIn",
                    "Facebook",
                    "Twitter",
                    "Website",
                    "Domain",
                    "Other",
                    "Instagram",
                    "YouTube"
                  ]
                },
                "url": {
                  "type": "string",
                  "description": "Url.",
                  "title": "Url"
                }
              }
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Individuals"
        ],
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "parameters": [
          {
            "name": "ID or Record Number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid Individual Id or Record Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID or Record Number"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Type.",
                  "title": "Type",
                  "enum": [
                    "Blog",
                    "LinkedIn",
                    "Facebook",
                    "Twitter",
                    "Website",
                    "Domain",
                    "Other",
                    "Instagram",
                    "YouTube"
                  ]
                },
                "url": {
                  "type": "string",
                  "description": "Url.",
                  "title": "Url"
                }
              }
            }
          }
        ],
        "summary": "Add Web Link for Individual",
        "description": "Add Web Link for Individual",
        "operationId": "Add-Web-Link-for-Individual"
      }
    },
    "/api/v1/Organizations/{ID or Record Number}/Phones": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/PhoneDataSet"
            }
          }
        },
        "summary": "Add Phone to Organization",
        "description": "Add Phone to Organization",
        "operationId": "Add-Phone-to-Organization",
        "parameters": [
          {
            "name": "ID or Record Number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization ID or Record Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Organization ID or Record Number"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PhoneSaveData"
            }
          }
        ]
      }
    },
    "/api/v1/Committees/{Code}/Nominations/{Page Number}": {
      "get": {
        "tags": [
          "Committees"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number.",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CommitteeNomineeData"
                  },
                  "description": "Data List"
                }
              }
            }
          }
        },
        "summary": "Get Nominees by Committee",
        "description": "Get Nominees by Committee",
        "operationId": "Get-Nominees-by-Committee",
        "parameters": [
          {
            "name": "Code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Committee Code.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Committee Code."
          },
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Page Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number",
            "default": 1,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Term",
            "in": "query",
            "type": "string",
            "description": "Term",
            "x-ms-summary": "Term"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Organizations/{ID}/Subscriptions/{Page Number}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number.",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SubscriptionData"
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "Get Organization's Active Subscriptions",
        "description": "Get Organization's Active Subscriptions",
        "operationId": "Get-Organizations-Active-Subscriptions",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization ID.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Organization ID."
          },
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Page Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Organizations/{ID or Record Number}/Links": {
      "delete": {
        "tags": [
          "Organizations"
        ],
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "parameters": [
          {
            "name": "ID or Record Number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization ID or Record Number",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID or Record Number"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Type.",
                  "title": "Type",
                  "enum": [
                    "Blog",
                    "LinkedIn",
                    "Facebook",
                    "Twitter",
                    "Website",
                    "Domain",
                    "Other",
                    "Instagram",
                    "YouTube"
                  ]
                },
                "url": {
                  "type": "string",
                  "description": "Url.",
                  "title": "Url"
                }
              },
              "required": [
                "type",
                "url"
              ]
            }
          }
        ],
        "summary": "Delete an Organization Web Link",
        "description": "Delete an Organization Web Link",
        "operationId": "Delete-an-Organization-Web-Link"
      },
      "post": {
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "summary": "Add Web Link for Organization",
        "description": "Add Web Link for Organization",
        "operationId": "Add-Web-Link-for-Organization",
        "parameters": [
          {
            "name": "ID or Record Number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization ID or Record Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID or Record Number"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Type.",
                  "title": "Type",
                  "enum": [
                    "Blog",
                    "LinkedIn",
                    "Facebook",
                    "Twitter",
                    "Website",
                    "Domain",
                    "Other",
                    "Instagram",
                    "YouTube"
                  ]
                },
                "url": {
                  "type": "string",
                  "description": "Url.",
                  "title": "Url"
                }
              },
              "required": [
                "type",
                "url"
              ]
            }
          }
        ]
      }
    },
    "/api/v1/Organizations/{ID}/Emails": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "summary": "Add Email to Organization",
        "description": "Add Email to Organization",
        "operationId": "Add-Email-to-Organization",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization ID.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Organization ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/EmailData"
            }
          }
        ]
      }
    },
    "/api/v1/Organizations/{ID}/Relationships/{Page Number}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number.",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/RelationshipData"
                  },
                  "description": "DataList"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization ID.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Organization ID."
          },
          {
            "name": "Page Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Page Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Page Number.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "relationshipName.",
            "in": "query",
            "type": "string",
            "description": "Name of the Relationship.",
            "x-ms-summary": "Relationship Name."
          },
          {
            "name": "includesDetails",
            "in": "query",
            "type": "boolean",
            "description": "Includes Details.",
            "x-ms-summary": "Includes Details."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "summary": "Get Organization's Relationships",
        "description": "Get Organization's Relationships",
        "operationId": "Get-Organizations-Relationships"
      }
    },
    "/api/v1/Organizations/{ID or Record Number}/Addresses": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/AddressSaveData"
            }
          }
        },
        "summary": "Add or Update Address to Organization",
        "description": "Add or Update Address to Organization",
        "operationId": "Add-or-Update-Address-to-Organization",
        "parameters": [
          {
            "name": "ID or Record Number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization ID or Record Number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Organization ID or Record Number."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AddressSaveData"
            }
          }
        ]
      }
    },
    "/api/v1/Individuals/{ID or Record Number}/CustomFieldsList": {
      "post": {
        "tags": [
          "Individuals"
        ],
        "responses": {
[...]
