{
  "swagger": "2.0",
  "info": {
    "title": "Impexium",
    "description": "Impexium is the premier association management software solution for nonprofits and member-based organizations.",
    "version": "1.0",
    "contact": {
      "name": "Impexium Support",
      "url": "https://support.impexium.com",
      "email": "support@impexium.com"
    }
  },
  "host": "automation.impexium.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/v1/Individuals": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "firstName": {
                  "type": "string",
                  "description": "firstName"
                },
                "lastName": {
                  "type": "string",
                  "description": "lastName"
                },
                "middleName": {
                  "type": "string",
                  "description": "middleName"
                },
                "preferredFirstName": {
                  "type": "string",
                  "description": "preferredFirstName"
                },
                "secondLastName": {
                  "type": "string",
                  "description": "secondLastName"
                },
                "prefix": {
                  "type": "string",
                  "description": "prefix"
                },
                "suffix": {
                  "type": "string",
                  "description": "suffix"
                },
                "gender": {
                  "type": "string",
                  "description": "gender"
                },
                "primaryOrganization": {
                  "type": "string",
                  "description": "primaryOrganization"
                },
                "committees": {
                  "type": "array",
                  "items": {},
                  "description": "committees"
                },
                "securityRoles": {
                  "type": "array",
                  "items": {},
                  "description": "securityRoles"
                },
                "user": {
                  "type": "string",
                  "description": "user"
                },
                "designationData": {
                  "type": "array",
                  "items": {},
                  "description": "designationData"
                },
                "relationships": {
                  "type": "array",
                  "items": {},
                  "description": "relationships"
                },
                "id": {
                  "type": "string",
                  "description": "Individual Id"
                },
                "customerType": {
                  "type": "string",
                  "description": "customerType"
                },
                "recordNumber": {
                  "type": "string",
                  "description": "recordNumber"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "addresses": {
                  "type": "array",
                  "items": {},
                  "description": "addresses"
                },
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "imageUri": {
                  "type": "string",
                  "description": "imageUri"
                },
                "twitter": {
                  "type": "string",
                  "description": "twitter"
                },
                "linkedIn": {
                  "type": "string",
                  "description": "linkedIn"
                },
                "emails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "primary": {
                        "type": "boolean",
                        "description": "primary"
                      },
                      "address": {
                        "type": "string",
                        "description": "address"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      }
                    }
                  },
                  "description": "emails"
                },
                "phones": {
                  "type": "array",
                  "items": {},
                  "description": "phones"
                },
                "webSite": {
                  "type": "string",
                  "description": "webSite"
                },
                "memberships": {
                  "type": "array",
                  "items": {},
                  "description": "memberships"
                },
                "category": {
                  "type": "string",
                  "description": "category"
                },
                "categories": {
                  "type": "array",
                  "items": {},
                  "description": "categories"
                },
                "customFields": {
                  "type": "array",
                  "items": {},
                  "description": "customFields"
                },
                "showInDirectory": {
                  "type": "boolean",
                  "description": "showInDirectory"
                },
                "links": {
                  "type": "array",
                  "items": {},
                  "description": "links"
                }
              }
            }
          }
        },
        "summary": "Add Individual",
        "description": "Adds an Individual",
        "operationId": "Add-Individual",
        "parameters": [
          {
            "name": "createUser",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "False",
            "description": "Choose True if a user account should be created",
            "enum": [
              "True",
              "False"
            ],
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Creates User."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "firstName": {
                  "type": "string",
                  "description": "firstName"
                },
                "lastName": {
                  "type": "string",
                  "description": "lastName"
                },
                "email": {
                  "type": "string",
                  "description": "email",
                  "title": "",
                  "x-ms-visibility": "Advanced"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v1/Individuals/{id}/Activities": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "summary": "Add Activity",
        "description": "Add Activity",
        "operationId": "Add-Activity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual ID",
            "x-ms-summary": "Individual ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "category"
                },
                "text": {
                  "type": "string",
                  "description": "text"
                },
                "url": {
                  "type": "string",
                  "description": "url"
                },
                "activityDate": {
                  "type": "string",
                  "description": "activityDate"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v1/Individuals/Profile/{idOrRecordNumberOrEmail}/{pageNumber}/": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "pageNumber"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "description": "firstName"
                      },
                      "lastName": {
                        "type": "string",
                        "description": "lastName"
                      },
                      "middleName": {
                        "type": "string",
                        "description": "middleName"
                      },
                      "preferredFirstName": {
                        "type": "string",
                        "description": "preferredFirstName"
                      },
                      "secondLastName": {
                        "type": "string",
                        "description": "secondLastName"
                      },
                      "prefix": {
                        "type": "string",
                        "description": "prefix"
                      },
                      "suffix": {
                        "type": "string",
                        "description": "suffix"
                      },
                      "gender": {
                        "type": "string",
                        "description": "gender"
                      },
                      "primaryOrganization": {
                        "type": "object",
                        "properties": {
                          "contactIds": {
                            "type": "array",
                            "items": {},
                            "description": "contactIds"
                          },
                          "parentCompanyId": {
                            "type": "string",
                            "description": "parentCompanyId"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          },
                          "branchName": {
                            "type": "string",
                            "description": "branchName"
                          },
                          "tags": {
                            "type": "array",
                            "items": {},
                            "description": "tags"
                          },
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "customerType": {
                            "type": "string",
                            "description": "customerType"
                          },
                          "recordNumber": {
                            "type": "string",
                            "description": "recordNumber"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "addresses": {
                            "type": "array",
                            "items": {},
                            "description": "addresses"
                          },
                          "imageUri": {
                            "type": "string",
                            "description": "imageUri"
                          },
                          "emails": {
                            "type": "array",
                            "items": {},
                            "description": "emails"
                          },
                          "phones": {
                            "type": "array",
                            "items": {},
                            "description": "phones"
                          },
                          "webSite": {
                            "type": "string",
                            "description": "webSite"
                          },
                          "memberships": {
                            "type": "array",
                            "items": {},
                            "description": "memberships"
                          },
                          "category": {
                            "type": "string",
                            "description": "category"
                          },
                          "categories": {
                            "type": "array",
                            "items": {},
                            "description": "categories"
                          },
                          "customFields": {
                            "type": "array",
                            "items": {},
                            "description": "customFields"
                          },
                          "showInDirectory": {
                            "type": "boolean",
                            "description": "showInDirectory"
                          },
                          "links": {
                            "type": "array",
                            "items": {},
                            "description": "links"
                          },
                          "oldId": {
                            "type": "string",
                            "description": "oldId"
                          }
                        },
                        "description": "primaryOrganization"
                      },
                      "committees": {
                        "type": "array",
                        "items": {},
                        "description": "committees"
                      },
                      "securityRoles": {
                        "type": "array",
                        "items": {},
                        "description": "securityRoles"
                      },
                      "user": {
                        "type": "object",
                        "properties": {
                          "loginEmail": {
                            "type": "string",
                            "description": "loginEmail"
                          },
                          "mustChangePassword": {
                            "type": "boolean",
                            "description": "mustChangePassword"
                          },
                          "isApproved": {
                            "type": "boolean",
                            "description": "isApproved"
                          }
                        },
                        "description": "user"
                      },
                      "designationData": {
                        "type": "array",
                        "items": {},
                        "description": "designationData"
                      },
                      "relationships": {
                        "type": "array",
                        "items": {},
                        "description": "relationships"
                      },
                      "jobRoles": {
                        "type": "array",
                        "items": {},
                        "description": "jobRoles"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "customerType": {
                        "type": "string",
                        "description": "customerType"
                      },
                      "recordNumber": {
                        "type": "string",
                        "description": "recordNumber"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "addresses": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "primary": {
                              "type": "boolean",
                              "description": "primary"
                            },
                            "line1": {
                              "type": "string",
                              "description": "line1"
                            },
                            "line2": {
                              "type": "string",
                              "description": "line2"
                            },
                            "line3": {
                              "type": "string",
                              "description": "line3"
                            },
                            "city": {
                              "type": "string",
                              "description": "city"
                            },
                            "state": {
                              "type": "string",
                              "description": "state"
                            },
                            "zipcode": {
                              "type": "string",
                              "description": "zipcode"
                            },
                            "country": {
                              "type": "string",
                              "description": "country"
                            },
                            "stateAbbreviation": {
                              "type": "string",
                              "description": "stateAbbreviation"
                            },
                            "stateISOCode": {
                              "type": "string",
                              "description": "stateISOCode"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "region": {
                              "type": "string",
                              "description": "region"
                            },
                            "latitude": {
                              "type": "number",
                              "format": "float",
                              "description": "latitude"
                            },
                            "longitude": {
                              "type": "number",
                              "format": "float",
                              "description": "longitude"
                            },
                            "showInDirectory": {
                              "type": "boolean",
                              "description": "showInDirectory"
                            },
                            "congressionalDistrict": {
                              "type": "string",
                              "description": "congressionalDistrict"
                            },
                            "countryData": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "id"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "name"
                                },
                                "twoLetterIsoCode": {
                                  "type": "string",
                                  "description": "twoLetterIsoCode"
                                },
                                "threeLetterIsoCode": {
                                  "type": "string",
                                  "description": "threeLetterIsoCode"
                                },
                                "code": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "code"
                                }
                              },
                              "description": "countryData"
                            }
                          }
                        },
                        "description": "addresses"
                      },
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "imageUri": {
                        "type": "string",
                        "description": "imageUri"
                      },
                      "twitter": {
                        "type": "string",
                        "description": "twitter"
                      },
                      "linkedIn": {
                        "type": "string",
                        "description": "linkedIn"
                      },
                      "emails": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "primary": {
                              "type": "boolean",
                              "description": "primary"
                            },
                            "address": {
                              "type": "string",
                              "description": "address"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "showInDirectory": {
                              "type": "boolean",
                              "description": "showInDirectory"
                            }
                          }
                        },
                        "description": "emails"
                      },
                      "phones": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "primary": {
                              "type": "boolean",
                              "description": "primary"
                            },
                            "type": {
                              "type": "integer",
                              "format": "int32",
                              "description": "type"
                            },
                            "country": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "id"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "name"
                                },
                                "twoLetterIsoCode": {
                                  "type": "string",
                                  "description": "twoLetterIsoCode"
                                },
                                "threeLetterIsoCode": {
                                  "type": "string",
                                  "description": "threeLetterIsoCode"
                                },
                                "code": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "code"
                                }
                              },
                              "description": "country"
                            },
                            "showInDirectory": {
                              "type": "boolean",
                              "description": "showInDirectory"
                            },
                            "number": {
                              "type": "string",
                              "description": "number"
                            },
                            "extension": {
                              "type": "string",
                              "description": "extension"
                            },
                            "typeName": {
                              "type": "string",
                              "description": "typeName"
                            }
                          }
                        },
                        "description": "phones"
                      },
                      "webSite": {
                        "type": "string",
                        "description": "webSite"
                      },
                      "memberships": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "membershipType": {
                              "type": "string",
                              "description": "membershipType"
                            },
                            "membershipTypeId": {
                              "type": "string",
                              "description": "membershipTypeId"
                            },
                            "code": {
                              "type": "string",
                              "description": "code"
                            },
                            "expireDate": {
                              "type": "string",
                              "description": "expireDate"
                            },
                            "graceExpireDate": {
                              "type": "string",
                              "description": "graceExpireDate"
                            },
                            "inheritedMembershipBenefits": {
                              "type": "boolean",
                              "description": "inheritedMembershipBenefits"
                            },
                            "renewalUrl": {
                              "type": "string",
                              "description": "renewalUrl"
                            },
                            "joinDate": {
                              "type": "string",
                              "description": "joinDate"
                            },
                            "terminateDate": {
                              "type": "string",
                              "description": "terminateDate"
                            },
                            "effectiveDate": {
                              "type": "string",
                              "description": "effectiveDate"
                            }
                          }
                        },
                        "description": "memberships"
                      },
                      "category": {
                        "type": "string",
                        "description": "category"
                      },
                      "categories": {
                        "type": "array",
                        "items": {},
                        "description": "categories"
                      },
                      "customFields": {
                        "type": "array",
                        "items": {},
                        "description": "customFields"
                      },
                      "showInDirectory": {
                        "type": "boolean",
                        "description": "showInDirectory"
                      },
                      "links": {
                        "type": "array",
                        "items": {},
                        "description": "links"
                      },
                      "oldId": {
                        "type": "string",
                        "description": "oldId"
                      },
                      "isDeceased": {
                        "type": "boolean",
                        "description": "isDeceased"
                      }
                    }
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "summary": "Find Individual by ID or Email or Record Number",
        "description": "Find Individual by ID or Email",
        "operationId": "Find-Individual-IDOrEmail",
        "parameters": [
          {
            "name": "idOrRecordNumberOrEmail",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID Or Record Number Or Email",
            "x-ms-summary": "ID Or Record Number Or Email"
          },
          {
            "name": "pageNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "1",
            "x-ms-visibility": "internal"
          },
          {
            "name": "IncludeDetails",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "True",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Committees/{code}/Members": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "summary": "Add Individual to Committee",
        "description": "Add Individual to Committee",
        "operationId": "Add-To-Committee",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Committee Code",
            "x-ms-summary": "Committee Code"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "recordNumber": {
                  "type": "string",
                  "description": "recordNumber"
                },
                "code": {
                  "type": "string",
                  "description": "code",
                  "title": "",
                  "x-ms-visibility": "advanced"
                },
                "positionCode": {
                  "type": "string",
                  "description": "positionCode"
                },
                "startDate": {
                  "type": "string",
                  "description": "startDate"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v1/Organizations": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "summary": "Add Organization",
        "description": "Add Organization",
        "operationId": "Add-Organization",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id",
                  "title": "ID",
                  "x-ms-visibility": "advanced"
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "Name",
                  "x-ms-visibility": "advanced"
                },
                "showInDirectory": {
                  "type": "boolean",
                  "description": "show In Directory",
                  "title": "Show In Directory?",
                  "x-ms-visibility": "internal",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                },
                "branchName": {
                  "type": "string",
                  "description": "branchName",
                  "title": "Branch Name",
                  "x-ms-visibility": "advanced"
                },
                "website": {
                  "type": "string",
                  "description": "website",
                  "title": "Website",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "name",
                "showInDirectory"
              ]
            }
          }
        ]
      }
    },
    "/api/v1/Individuals/{id}/Relationships": {
      "post": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {}
          }
        },
        "summary": "Add Relationship to Individual",
        "description": "Add Relationship to Individual",
        "operationId": "Add-relationship-to-individual",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual ID",
            "x-ms-summary": "Individual ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Application/Json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "relationshipName": {
                  "type": "string",
                  "description": "relationshipName",
                  "title": "Relationship Name",
                  "x-ms-visibility": "advanced",
                  "default": "Employee"
                },
                "relatedToCustomerRecordNumber": {
                  "type": "string",
                  "description": "relatedToCustomerRecordNumber",
                  "title": "relatedToCustomerRecordNumber",
                  "x-ms-visibility": "advanced"
                },
                "reciprocalRelationshipName": {
                  "type": "string",
                  "description": "reciprocalRelationshipName",
                  "title": "Reciprocal Relationship Name",
                  "x-ms-visibility": "advanced",
                  "default": "Employer"
                },
                "isPrimary": {
                  "type": "boolean",
                  "description": "isPrimary",
                  "title": "Is Primary?",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                },
                "startDate": {
                  "type": "string",
                  "description": "startDate",
                  "title": "Start Date",
                  "x-ms-visibility": "advanced"
                },
                "endDate": {
                  "type": "string",
                  "description": "endDate",
                  "title": "End Date",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "reciprocalRelationshipName",
                "relatedToCustomerRecordNumber",
                "relationshipName"
              ]
            }
          }
        ]
      }
    },
    "/api/v1/Organizations/{id}": {
      "put": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "summary": "Update Organization",
        "description": "Update Organization",
        "operationId": "Update-Organization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization ID",
            "x-ms-summary": "Organization ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "showInDirectory": {
                  "type": "boolean",
                  "description": "showInDirectory"
                },
                "branchName": {
                  "type": "string",
                  "description": "branchName"
                },
                "website": {
                  "type": "string",
                  "description": "website"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v1/Setup/customfields/{pageNumber}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "x-ms-visibility": "internal",
        "summary": "List of all custom fields",
        "description": "List of all custom fields",
        "operationId": "List-of-all-custom-fields",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "WebhookId": {
              "type": "string",
              "description": "WebhookId"
            },
            "Properties": {
              "type": "object",
              "properties": {
                "Date": {
                  "type": "string",
                  "description": "Date"
                }
              },
              "description": "Properties"
            },
            "Notifications": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Action"
                  },
                  "IndividualId": {
                    "type": "string",
                    "description": "IndividualId"
                  },
                  "RecordNumber": {
                    "type": "string",
                    "description": "RecordNumber"
                  },
                  "FirstName": {
                    "type": "string",
                    "description": "FirstName"
                  },
                  "LastName": {
                    "type": "string",
                    "description": "LastName"
                  },
                  "EmailAddress": {
                    "type": "string",
                    "description": "EmailAddress"
                  }
                }
              },
              "description": "Notifications"
            }
          }
        },
        "description": "Individual Created"
      }
    },
    "/api/v1/Customers/{pageNumber}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "summary": "Find an individual by phone number",
        "description": "Find an individual by phone number",
        "operationId": "Find-Individual-Phone",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "1",
            "x-ms-visibility": "internal"
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Phone Number",
            "x-ms-summary": "Phone Number"
          },
          {
            "name": "includeAddress",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "True",
            "x-ms-visibility": "internal"
          },
          {
            "name": "includePhone",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "True",
            "x-ms-visibility": "internal"
          },
          {
            "name": "includeEmail",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "True",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Webhooks": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "WebhookId": {
              "type": "string",
              "description": "WebhookId"
            },
            "Properties": {
              "type": "object",
              "properties": {
                "Date": {
                  "type": "string",
                  "description": "Date"
                }
              },
              "description": "Properties"
            },
            "Notifications": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Action"
                  },
                  "IndividualId": {
                    "type": "string",
                    "description": "IndividualId"
                  },
                  "RecordNumber": {
                    "type": "string",
                    "description": "RecordNumber"
                  },
                  "FirstName": {
                    "type": "string",
                    "description": "FirstName"
                  },
                  "LastName": {
                    "type": "string",
                    "description": "LastName"
                  },
                  "EmailAddress": {
                    "type": "string",
                    "description": "EmailAddress"
                  }
                }
              },
              "description": "Notifications"
            }
          }
        },
        "description": "Individual Added"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "summary": "Individual Created",
        "description": "When an Individual is created",
        "operationId": "When-Individual-Created",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "typeName": {
                  "type": "string",
                  "description": "typeName",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "Individual.Created"
                },
                "filters": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "Additional Filters",
                    "x-ms-visibility": "internal",
                    "default": "NA"
                  },
                  "description": "filters"
                },
                "secret": {
                  "type": "string",
                  "description": "secret",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "MSAutomate"
                },
                "callBackUrl": {
                  "type": "string",
                  "description": "callBackUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "description": {
                  "type": "string",
                  "description": "description",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "Added By MS Power Automate"
                }
              },
              "required": [
                "callBackUrl",
                "secret",
                "typeName",
                "description",
                "filters"
              ]
            }
          }
        ],
        "x-ms-visibility": "advanced"
      }
    },
    "/api/v1/Webhooks/ProductPurchased": {
      "x-ms-notification-content": {
        "description": "Product Purchased",
        "schema": {
          "type": "object",
          "properties": {
            "WebhookId": {
              "type": "string",
              "description": "WebhookId"
            },
            "Properties": {
              "type": "object",
              "properties": {
                "AdditionalFilter": {
                  "type": "string",
                  "description": "AdditionalFilter"
                },
                "Date": {
                  "type": "string",
                  "description": "Date"
                }
              },
              "description": "Properties"
            },
            "Notifications": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Action"
                  },
                  "OrderNumber": {
                    "type": "string",
                    "description": "OrderNumber"
                  },
                  "InvoiceNumber": {
                    "type": "string",
                    "description": "InvoiceNumber"
                  },
                  "ProductCode": {
                    "type": "string",
                    "description": "ProductCode",
                    "title": ""
                  },
                  "ProductName": {
                    "type": "string",
                    "description": "ProductName"
                  },
                  "ProductType": {
                    "type": "string",
                    "description": "ProductType"
                  },
                  "Quantity": {
                    "type": "string",
                    "description": "Quantity"
                  },
                  "ItemPrice": {
                    "type": "string",
                    "description": "ItemPrice"
                  },
                  "CustomerType": {
                    "type": "string",
                    "description": "CustomerType"
                  },
                  "CustomerId": {
                    "type": "string",
                    "description": "CustomerId"
                  },
                  "FullName": {
                    "type": "string",
                    "description": "FullName"
                  },
                  "FirstName": {
                    "type": "string",
                    "description": "FirstName"
                  },
                  "LastName": {
                    "type": "string",
                    "description": "LastName"
                  },
                  "EmailAddress": {
                    "type": "string",
                    "description": "EmailAddress"
                  },
                  "RecordNumber": {
                    "type": "string",
                    "description": "RecordNumber"
                  }
                }
              },
              "description": "Notifications"
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "summary": "When Product is Purchased",
        "description": "When Product is Purchased. Supported Product Types: Merchandise, Courses, Exams",
        "operationId": "When-product-purchased",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "typeName": {
                  "type": "string",
                  "description": "typeName",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "Product.Purchased"
                },
                "filters": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "Product Code",
                    "x-ms-visibility": "advanced",
                    "description": "This triggers when a product is purchased"
                  },
                  "description": "filters"
                },
                "secret": {
                  "type": "string",
                  "description": "secret",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "MSAutomateProdPur"
                },
                "callBackUrl": {
                  "type": "string",
                  "description": "callBackUrl",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "description": {
                  "type": "string",
                  "description": "description",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "Added By MS Power Automate"
                }
              },
              "required": [
                "callBackUrl",
                "description",
                "secret",
                "typeName",
                "filters"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "http://wwww.impexium.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.impexium.com/impexium-information-security-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM"
    }
  ]
}