{
  "swagger": "2.0",
  "info": {
    "title": "Impexium",
    "description": "Impexium is the premier association management software solution for nonprofits and member-based organizations.",
    "version": "1.0",
    "contact": {
      "name": "Impexium Support",
      "url": "https://support.impexium.com",
      "email": "support@impexium.com"
    }
  },
  "host": "automation.impexium.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/api/v1/Individuals": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IndividualData"
            }
          }
        },
        "summary": "Add Individual",
        "description": "Adds an Individual",
        "operationId": "Add-Individual",
        "parameters": [
          {
            "name": "createUser",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "False",
            "description": "Choose True if a user account should be created when the individual is created.",
            "enum": [
              "True",
              "False"
            ],
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Create User."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "firstName": {
                  "type": "string",
                  "description": "First Name",
                  "title": "First Name"
                },
                "lastName": {
                  "type": "string",
                  "description": "Last Name",
                  "title": "Last Name"
                },
                "email": {
                  "type": "string",
                  "description": "Email Address",
                  "title": "Email Address",
                  "x-ms-visibility": "Advanced"
                }
              },
              "required": [
                "firstName",
                "lastName"
              ]
            }
          }
        ]
      }
    },
    "/api/v1/Individuals/{id}/Activities": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "summary": "Add Activity",
        "description": "Add Activity",
        "operationId": "Add-Activity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual ID",
            "x-ms-summary": "Individual ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "Category",
                  "title": "Category",
                  "x-ms-visibility": "internal",
                  "default": "PowerAutomate"
                },
                "text": {
                  "type": "string",
                  "description": "Text",
                  "title": "Text"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "title": "Url"
                },
                "activityDate": {
                  "type": "string",
                  "description": "Activity Date",
                  "title": "Activity Date"
                }
              },
              "required": [
                "text",
                "category"
              ]
            }
          }
        ]
      }
    },
    "/api/v1/Individuals/Profile/{idOrRecordNumberOrEmail}/{pageNumber}/": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/IndividualData"
                  },
                  "description": "Data List"
                }
              }
            }
          }
        },
        "summary": "Find Individual by ID or Email or Record Number",
        "description": "Find Individual by ID or Email",
        "operationId": "Find-Individual-IDOrEmail",
        "parameters": [
          {
            "name": "idOrRecordNumberOrEmail",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID Or Record Number Or Email",
            "x-ms-summary": "ID Or Record Number Or Email",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "pageNumber",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "x-ms-visibility": "internal",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "IncludeDetails",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "True",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Committees/{code}/Members": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "MemberId",
                  "title": "Member Id"
                },
                "firstName": {
                  "type": "string",
                  "description": "FirstName",
                  "title": "First Name"
                },
                "lastName": {
                  "type": "string",
                  "description": "LastName",
                  "title": "Last Name"
                },
                "code": {
                  "type": "string",
                  "description": "Code",
                  "title": "Code"
                },
                "recordNumber": {
                  "type": "string",
                  "description": "RecordNumber",
                  "title": "Record Number"
                },
                "position": {
                  "type": "string",
                  "description": "Position",
                  "title": "Position"
                },
                "positionCode": {
                  "type": "string",
                  "description": "PositionCode",
                  "title": "Position Code"
                },
                "startDate": {
                  "type": "string",
                  "description": "StartDate",
                  "title": "Start Date"
                },
                "endDate": {
                  "type": "string",
                  "description": "EndDate",
                  "title": "End Date"
                },
                "primaryOrganization": {
                  "type": "object",
                  "properties": {
                    "contactIds": {
                      "type": "array",
                      "x-ms-summary": "ContactIds",
                      "description": "PrimaryOrganization-ContactIds",
                      "items": {
                        "type": "string",
                        "format": "uuid",
                        "title": "Contact Id",
                        "description": "PrimaryOrganization-ContactIds-ContactId"
                      }
                    },
                    "parentCompanyId": {
                      "type": "string",
                      "description": "PrimaryOrganization-ParentCompanyId",
                      "title": "Parent Company Id"
                    },
                    "description": {
                      "type": "string",
                      "description": "PrimaryOrganization-Description",
                      "title": "Description"
                    },
                    "branchName": {
                      "type": "string",
                      "description": "PrimaryOrganization-BranchName",
                      "title": "Branch Name"
                    },
                    "tags": {
                      "type": "array",
                      "x-ms-summary": "Tags",
                      "description": "PrimaryOrganization-Tags",
                      "items": {
                        "type": "string",
                        "title": "Tag",
                        "description": "PrimaryOrganization-Tags-Tag"
                      }
                    },
                    "id": {
                      "type": "string",
                      "description": "PrimaryOrganization-PrimaryOrganizationId",
                      "title": "Primary Organization Id"
                    },
                    "customerType": {
                      "type": "string",
                      "description": "PrimaryOrganization-CustomerType",
                      "title": "Customer Type"
                    },
                    "recordNumber": {
                      "type": "string",
                      "description": "PrimaryOrganization-RecordNumber",
                      "title": "Record Number"
                    },
                    "title": {
                      "type": "string",
                      "description": "PrimaryOrganization-Title",
                      "title": "Title"
                    },
                    "name": {
                      "type": "string",
                      "description": "PrimaryOrganization-Name",
                      "title": "Name"
                    },
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "PrimaryOrganization-Addresses-AddressId",
                            "title": "Address Id"
                          },
                          "primary": {
                            "type": "boolean",
                            "description": "PrimaryOrganization-Addresses-PrimaryAddress",
                            "title": "Is Primary Address"
                          },
                          "line1": {
                            "type": "string",
                            "description": "PrimaryOrganization-Addresses-Line1",
                            "title": "Address Line 1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "PrimaryOrganization-Addresses-Line2",
                            "title": "Address Line 2"
                          },
                          "line3": {
                            "type": "string",
                            "description": "PrimaryOrganization-Addresses-Line3",
                            "title": "Address Line 3"
                          },
                          "city": {
                            "type": "string",
                            "description": "PrimaryOrganization-Addresses-City",
                            "title": "City"
                          },
                          "state": {
                            "type": "string",
                            "description": "PrimaryOrganization-Addresses-State",
                            "title": "State"
                          },
                          "zipcode": {
                            "type": "string",
                            "description": "PrimaryOrganization-Addresses-ZipCode",
                            "title": "Zip Code"
                          },
                          "country": {
                            "type": "string",
                            "description": "PrimaryOrganization-Addresses-Country",
                            "title": "Country"
                          },
                          "stateAbbreviation": {
                            "type": "string",
                            "description": "PrimaryOrganization-Addresses-StateAbbreviation",
                            "title": "State Abbreviation"
                          },
                          "stateISOCode": {
                            "type": "string",
                            "description": "PrimaryOrganization-Addresses-StateISOCode",
                            "title": "State ISO Code"
                          },
                          "type": {
                            "type": "string",
                            "description": "PrimaryOrganization-Addresses-Type",
                            "title": "Type"
                          },
                          "region": {
                            "type": "string",
                            "description": "PrimaryOrganization-Addresses-Region",
                            "title": "Region"
                          },
                          "latitude": {
                            "type": "number",
                            "description": "PrimaryOrganization-Addresses-Latitude",
                            "title": "Latitude"
                          },
                          "longitude": {
                            "type": "number",
                            "description": "PrimaryOrganization-Addresses-Longitude",
                            "title": "Longitude"
                          },
                          "showInDirectory": {
                            "type": "boolean",
                            "description": "PrimaryOrganization-Addresses-ShowInDirectory",
                            "title": "Show In Directory"
                          },
                          "congressionalDistrict": {
                            "type": "string",
                            "description": "PrimaryOrganization-Addresses-CongressionalDistrict",
                            "title": "Congressional District"
                          },
                          "countryData": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "PrimaryOrganization-Addresses-Country-CountryId",
                                "title": "Country Id"
                              },
                              "name": {
                                "type": "string",
                                "description": "PrimaryOrganization-Addresses-Country-CountryName",
                                "title": "Country Name"
                              },
                              "twoLetterIsoCode": {
                                "type": "string",
                                "description": "PrimaryOrganization-Addresses-Country-TwoLetterIsoCode",
                                "title": "Two Letter ISO Code"
                              },
                              "threeLetterIsoCode": {
                                "type": "string",
                                "description": "PrimaryOrganization-Addresses-Country-ThreeLetterIsoCode",
                                "title": "Three Letter ISO Code"
                              },
                              "code": {
                                "type": "integer",
                                "description": "PrimaryOrganization-Addresses-Country-CountryCode",
                                "title": "Country Code"
                              }
                            }
                          }
                        }
                      }
                    },
                    "email": {
                      "type": "string",
                      "description": "PrimaryOrganization-Email",
                      "title": "Email"
                    },
                    "imageUri": {
                      "type": "string",
                      "description": "PrimaryOrganization-ImageUri",
                      "title": "Image Uri"
                    },
                    "twitter": {
                      "type": "string",
                      "description": "PrimaryOrganization-Twitter",
                      "title": "Twitter"
                    },
                    "linkedIn": {
                      "type": "string",
                      "description": "PrimaryOrganization-LinkedIn",
                      "title": "LinkedIn"
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "primary": {
                            "type": "boolean",
                            "description": "PrimaryOrganization-Emails-Primary",
                            "title": "Is Primary Email"
                          },
                          "address": {
                            "type": "string",
                            "description": "PrimaryOrganization-Emails-Address",
                            "title": "Address"
                          },
                          "type": {
                            "type": "string",
                            "description": "PrimaryOrganization-Emails-Type",
                            "title": "Type"
                          },
                          "showInDirectory": {
                            "type": "boolean",
                            "description": "PrimaryOrganization-Emails-ShowInDirectory",
                            "title": "Show In Directory"
                          }
                        }
                      }
                    },
                    "phones": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "PrimaryOrganization-Phones-Id",
                            "title": "Phone Id"
                          },
                          "primary": {
                            "type": "boolean",
                            "description": "PrimaryOrganization-Phones-Primary",
                            "title": "Is Primary Phone"
                          },
                          "type": {
                            "type": "integer",
                            "description": "PrimaryOrganization-Phones-Type",
                            "title": "Type"
                          },
                          "country": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "PrimaryOrganization-Phones-Country-CountryId",
                                "title": "Country Id"
                              },
                              "name": {
                                "type": "string",
                                "description": "PrimaryOrganization-Phones-Country-CountryName",
                                "title": "Country Name"
                              },
                              "twoLetterIsoCode": {
                                "type": "string",
                                "description": "PrimaryOrganization-Phones-Country-TwoLetterIsoCode",
                                "title": "Two Letter ISO Code"
                              },
                              "threeLetterIsoCode": {
                                "type": "string",
                                "description": "PrimaryOrganization-Phones-Country-ThreeLetterIsoCode",
                                "title": "Three Letter ISO Code"
                              },
                              "code": {
                                "type": "integer",
                                "description": "PrimaryOrganization-Phones-Country-CountryCode",
                                "title": "Country Code"
                              }
                            }
                          },
                          "showInDirectory": {
                            "type": "boolean",
                            "description": "PrimaryOrganization-Phones-ShowInDirectory",
                            "title": "Show In Directory"
                          },
                          "number": {
                            "type": "string",
                            "description": "PrimaryOrganization-Phones-Number",
                            "title": "Number"
                          },
                          "extension": {
                            "type": "string",
                            "description": "PrimaryOrganization-Phones-Extension",
                            "title": "Extension"
                          },
                          "typeName": {
                            "type": "string",
                            "description": "PrimaryOrganization-Phones-TypeName",
                            "title": "Type Name"
                          }
                        }
                      }
                    },
                    "webSite": {
                      "type": "string",
                      "description": "PrimaryOrganization-WebSite",
                      "title": "WebSite"
                    },
                    "memberships": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "membershipType": {
                            "type": "string",
                            "description": "PrimaryOrganization-Memberships-MembershipType",
                            "title": "Membership Type"
                          },
                          "membershipTypeId": {
                            "type": "string",
                            "description": "PrimaryOrganization-Memberships-MembershipTypeId",
                            "title": "Membership Type Id"
                          },
                          "code": {
                            "type": "string",
                            "description": "PrimaryOrganization-Memberships-Code",
                            "title": "Code"
                          },
                          "expireDate": {
                            "type": "string",
                            "description": "PrimaryOrganization-Memberships-ExpireDate",
                            "title": "Expire Date"
                          },
                          "graceExpireDate": {
                            "type": "string",
                            "description": "PrimaryOrganization-Memberships-GraceExpireDate",
                            "title": "Grace Expire Date"
                          },
                          "inheritedMembershipBenefits": {
                            "type": "boolean",
                            "description": "PrimaryOrganization-Memberships-InheritedMembershipBenefits",
                            "title": "Inherited Membership Benefits"
                          },
                          "renewalUrl": {
                            "type": "string",
                            "description": "PrimaryOrganization-Memberships-RenewalUrl",
                            "title": "Renewal Url"
                          },
                          "joinDate": {
                            "type": "string",
                            "description": "PrimaryOrganization-Memberships-JoinDate",
                            "title": "Join Date"
                          },
                          "terminateDate": {
                            "type": "string",
                            "description": "PrimaryOrganization-Memberships-TerminateDate",
                            "title": "Terminate Date"
                          },
                          "effectiveDate": {
                            "type": "string",
                            "description": "PrimaryOrganization-Memberships-EffectiveDate",
                            "title": "Effective Date"
                          }
                        }
                      }
                    },
                    "category": {
                      "type": "string",
                      "description": "PrimaryOrganization-Category",
                      "title": "Category"
                    },
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "subCategories": {
                            "type": "array",
                            "description": "PrimaryOrganization-Categories-Subcategories",
                            "items": {
                              "type": "object",
                              "description": "PrimaryOrganization-Categories-Subcategories-Item",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "PrimaryOrganization-Categories-SubCategories-Code",
                                  "title": "Code"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "PrimaryOrganization-Categories-SubCategories-Name",
                                  "title": "Name"
                                }
                              }
                            }
                          },
                          "code": {
                            "type": "string",
                            "description": "PrimaryOrganization-Categories-Code",
                            "title": "Code"
                          },
                          "name": {
                            "type": "string",
                            "description": "PrimaryOrganization-Categories-Name",
                            "title": "Name"
                          }
                        }
                      }
                    },
                    "customFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "PrimaryOrganization-CustomFields-Name",
                            "title": "Name"
                          },
                          "caption": {
                            "type": "string",
                            "description": "PrimaryOrganization-CustomFields-Caption",
                            "title": "Caption"
                          },
                          "value": {
                            "type": "string",
                            "description": "PrimaryOrganization-CustomFields-Value",
                            "title": "Value"
                          }
                        }
                      }
                    },
                    "showInDirectory": {
                      "type": "boolean",
                      "description": "PrimaryOrganization-ShowInDirectory",
                      "title": "Show In Directory"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "PrimaryOrganization-Links-Type",
                            "title": "Type"
                          },
                          "url": {
                            "type": "string",
                            "description": "PrimaryOrganization-Links-Type",
                            "title": "Url"
                          }
                        }
                      }
                    },
                    "oldId": {
                      "type": "string",
                      "description": "PrimaryOrganization-OldId",
                      "title": "Old Id"
                    }
                  }
                },
                "organizationRepresenting": {
                  "type": "object",
                  "properties": {
                    "contactIds": {
                      "type": "array",
                      "x-ms-summary": "ContactIds",
                      "description": "OrganizationRepresenting-ContactIds",
                      "items": {
                        "type": "string",
                        "format": "uuid",
                        "title": "Contact Id",
                        "description": "OrganizationRepresenting-ContactIds-ContactId"
                      }
                    },
                    "parentCompanyId": {
                      "type": "string",
                      "description": "OrganizationRepresenting-ParentCompanyId",
                      "title": "Parent Company Id"
                    },
                    "description": {
                      "type": "string",
                      "description": "OrganizationRepresenting-Description",
                      "title": "Description"
                    },
                    "branchName": {
                      "type": "string",
                      "description": "OrganizationRepresenting-BranchName",
                      "title": "Branch Name"
                    },
                    "tags": {
                      "type": "array",
                      "x-ms-summary": "Tags",
                      "description": "OrganizationRepresenting-Tags",
                      "items": {
                        "type": "string",
                        "title": "Tag",
                        "description": "OrganizationRepresenting-Tags-Tag"
                      }
                    },
                    "id": {
                      "type": "string",
                      "description": "OrganizationRepresenting-OrganizationRepresentingId",
                      "title": "Representing Organization Id"
                    },
                    "customerType": {
                      "type": "string",
                      "description": "OrganizationRepresenting-CustomerType",
                      "title": "Customer Type"
                    },
                    "recordNumber": {
                      "type": "string",
                      "description": "OrganizationRepresenting-RecordNumber",
                      "title": "Record Number"
                    },
                    "title": {
                      "type": "string",
                      "description": "OrganizationRepresenting-Title",
                      "title": "Title"
                    },
                    "name": {
                      "type": "string",
                      "description": "OrganizationRepresenting-Name",
                      "title": "Name"
                    },
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Addresses-AddressId",
                            "title": "Address Id"
                          },
                          "primary": {
                            "type": "boolean",
                            "description": "OrganizationRepresenting-Addresses-PrimaryAddress",
                            "title": "Is Primary Address"
                          },
                          "line1": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Addresses-Line1",
                            "title": "Address Line 1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Addresses-Line2",
                            "title": "Address Line 2"
                          },
                          "line3": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Addresses-Line3",
                            "title": "Address Line 3"
                          },
                          "city": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Addresses-City",
                            "title": "City"
                          },
                          "state": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Addresses-State",
                            "title": "State"
                          },
                          "zipcode": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Addresses-ZipCode",
                            "title": "Zip Code"
                          },
                          "country": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Addresses-Country",
                            "title": "Country"
                          },
                          "stateAbbreviation": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Addresses-StateAbbreviation",
                            "title": "State Abbreviation"
                          },
                          "stateISOCode": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Addresses-StateISOCode",
                            "title": "State ISO Code"
                          },
                          "type": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Addresses-Type",
                            "title": "Type"
                          },
                          "region": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Addresses-Region",
                            "title": "Region"
                          },
                          "latitude": {
                            "type": "number",
                            "description": "OrganizationRepresenting-Addresses-Latitude",
                            "title": "Latitude"
                          },
                          "longitude": {
                            "type": "number",
                            "description": "OrganizationRepresenting-Addresses-Longitude",
                            "title": "Longitude"
                          },
                          "showInDirectory": {
                            "type": "boolean",
                            "description": "OrganizationRepresenting-Addresses-ShowInDirectory",
                            "title": "Show In Directory"
                          },
                          "congressionalDistrict": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Addresses-CongressionalDistrict",
                            "title": "Congressional District"
                          },
                          "countryData": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "OrganizationRepresenting-Addresses-Country-CountryId",
                                "title": "Country Id"
                              },
                              "name": {
                                "type": "string",
                                "description": "OrganizationRepresenting-Addresses-Country-CountryName",
                                "title": "Country Name"
                              },
                              "twoLetterIsoCode": {
                                "type": "string",
                                "description": "OrganizationRepresenting-Addresses-Country-TwoLetterIsoCode",
                                "title": "Two Letter ISO Code"
                              },
                              "threeLetterIsoCode": {
                                "type": "string",
                                "description": "OrganizationRepresenting-Addresses-Country-ThreeLetterIsoCode",
                                "title": "Three Letter ISO Code"
                              },
                              "code": {
                                "type": "integer",
                                "description": "OrganizationRepresenting-Addresses-Country-CountryCode",
                                "title": "Country Code"
                              }
                            }
                          }
                        }
                      }
                    },
                    "email": {
                      "type": "string",
                      "description": "OrganizationRepresenting-Email",
                      "title": "Email"
                    },
                    "imageUri": {
                      "type": "string",
                      "description": "OrganizationRepresenting-ImageUri",
                      "title": "Image Uri"
                    },
                    "twitter": {
                      "type": "string",
                      "description": "OrganizationRepresenting-Twitter",
                      "title": "Twitter"
                    },
                    "linkedIn": {
                      "type": "string",
                      "description": "OrganizationRepresenting-LinkedIn",
                      "title": "LinkedIn"
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "primary": {
                            "type": "boolean",
                            "description": "OrganizationRepresenting-Emails-Primary",
                            "title": "Is Primary Email"
                          },
                          "address": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Emails-Address",
                            "title": "Address"
                          },
                          "type": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Emails-Type",
                            "title": "Type"
                          },
                          "showInDirectory": {
                            "type": "boolean",
                            "description": "OrganizationRepresenting-Emails-ShowInDirectory",
                            "title": "Show In Directory"
                          }
                        }
                      }
                    },
                    "phones": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Phones-Id",
                            "title": "Phone Id"
                          },
                          "primary": {
                            "type": "boolean",
                            "description": "OrganizationRepresenting-Phones-Primary",
                            "title": "Is Primary Phone"
                          },
                          "type": {
                            "type": "integer",
                            "description": "OrganizationRepresenting-Phones-Type",
                            "title": "Type"
                          },
                          "country": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "OrganizationRepresenting-Phones-Country-CountryId",
                                "title": "Country Id"
                              },
                              "name": {
                                "type": "string",
                                "description": "OrganizationRepresenting-Phones-Country-CountryName",
                                "title": "Country Name"
                              },
                              "twoLetterIsoCode": {
                                "type": "string",
                                "description": "OrganizationRepresenting-Phones-Country-TwoLetterIsoCode",
                                "title": "Two Letter ISO Code"
                              },
                              "threeLetterIsoCode": {
                                "type": "string",
                                "description": "OrganizationRepresenting-Phones-Country-ThreeLetterIsoCode",
                                "title": "Three Letter ISO Code"
                              },
                              "code": {
                                "type": "integer",
                                "description": "OrganizationRepresenting-Phones-Country-CountryCode",
                                "title": "Country Code"
                              }
                            }
                          },
                          "showInDirectory": {
                            "type": "boolean",
                            "description": "OrganizationRepresenting-Phones-ShowInDirectory",
                            "title": "Show In Directory"
                          },
                          "number": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Phones-Number",
                            "title": "Number"
                          },
                          "extension": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Phones-Extension",
                            "title": "Extension"
                          },
                          "typeName": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Phones-TypeName",
                            "title": "Type Name"
                          }
                        }
                      }
                    },
                    "webSite": {
                      "type": "string",
                      "description": "OrganizationRepresenting-WebSite",
                      "title": "WebSite"
                    },
                    "memberships": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "membershipType": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Memberships-MembershipType",
                            "title": "Membership Type"
                          },
                          "membershipTypeId": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Memberships-MembershipTypeId",
                            "title": "Membership Type Id"
                          },
                          "code": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Memberships-Code",
                            "title": "Code"
                          },
                          "expireDate": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Memberships-ExpireDate",
                            "title": "Expire Date"
                          },
                          "graceExpireDate": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Memberships-GraceExpireDate",
                            "title": "Grace Expire Date"
                          },
                          "inheritedMembershipBenefits": {
                            "type": "boolean",
                            "description": "OrganizationRepresenting-Memberships-InheritedMembershipBenefits",
                            "title": "Inherited Membership Benefits"
                          },
                          "renewalUrl": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Memberships-RenewalUrl",
                            "title": "Renewal Url"
                          },
                          "joinDate": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Memberships-JoinDate",
                            "title": "Join Date"
                          },
                          "terminateDate": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Memberships-TerminateDate",
                            "title": "Terminate Date"
                          },
                          "effectiveDate": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Memberships-EffectiveDate",
                            "title": "Effective Date"
                          }
                        }
                      }
                    },
                    "category": {
                      "type": "string",
                      "description": "OrganizationRepresenting-Category",
                      "title": "Category"
                    },
                    "categories": {
                      "type": "array",
                      "description": "OrganizationRepresenting-Categories",
                      "items": {
                        "type": "object",
                        "description": "OrganizationRepresenting-Categories-Item",
                        "properties": {
                          "subCategories": {
                            "type": "array",
                            "description": "OrganizationRepresenting-Categories-Subcategories",
                            "items": {
                              "type": "object",
                              "description": "OrganizationRepresenting-Categories-Subcategories-Item",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "OrganizationRepresenting-Categories-SubCategories-Code",
                                  "title": "Code"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "OrganizationRepresenting-Categories-SubCategories-Name",
                                  "title": "Name"
                                }
                              }
                            }
                          },
                          "code": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Categories-Code",
                            "title": "Code"
                          },
                          "name": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Categories-Name",
                            "title": "Name"
                          }
                        }
                      }
                    },
                    "customFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "OrganizationRepresenting-CustomFields-Name",
                            "title": "Name"
                          },
                          "caption": {
                            "type": "string",
                            "description": "OrganizationRepresenting-CustomFields-Caption",
                            "title": "Caption"
                          },
                          "value": {
                            "type": "string",
                            "description": "OrganizationRepresenting-CustomFields-Value",
                            "title": "Value"
                          }
                        }
                      }
                    },
                    "showInDirectory": {
                      "type": "boolean",
                      "description": "OrganizationRepresenting-ShowInDirectory",
                      "title": "Show In Directory"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Links-Type",
                            "title": "Type"
                          },
                          "url": {
                            "type": "string",
                            "description": "OrganizationRepresenting-Links-Type",
                            "title": "Url"
                          }
                        }
                      }
                    },
                    "oldId": {
                      "type": "string",
                      "description": "OrganizationRepresenting-OldId",
                      "title": "Old Id"
                    }
                  }
                },
                "nominatedByCustomer": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "NominatedByCustomer-NominatedByCustomerId",
                      "title": "Nominated By Customer Id"
                    },
                    "customerType": {
                      "type": "string",
                      "description": "NominatedByCustomer-CustomerType",
                      "title": "Customer Type"
                    },
                    "recordNumber": {
                      "type": "string",
                      "description": "NominatedByCustomer-RecordNumber",
                      "title": "Record Number"
                    },
                    "title": {
                      "type": "string",
                      "description": "NominatedByCustomer-Title",
                      "title": "Title"
                    },
                    "name": {
                      "type": "string",
                      "description": "NominatedByCustomer-Name",
                      "title": "Name"
                    },
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "NominatedByCustomer-Addresses-AddressId",
                            "title": "Address Id"
                          },
                          "primary": {
                            "type": "boolean",
                            "description": "NominatedByCustomer-Addresses-PrimaryAddress",
                            "title": "Is Primary Address"
                          },
                          "line1": {
                            "type": "string",
                            "description": "NominatedByCustomer-Addresses-Line1",
                            "title": "Address Line 1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "NominatedByCustomer-Addresses-Line2",
                            "title": "Address Line 2"
                          },
                          "line3": {
                            "type": "string",
                            "description": "NominatedByCustomer-Addresses-Line3",
                            "title": "Address Line 3"
                          },
                          "city": {
                            "type": "string",
                            "description": "NominatedByCustomer-Addresses-City",
                            "title": "City"
                          },
                          "state": {
                            "type": "string",
                            "description": "NominatedByCustomer-Addresses-State",
                            "title": "State"
                          },
                          "zipcode": {
                            "type": "string",
                            "description": "NominatedByCustomer-Addresses-ZipCode",
                            "title": "Zip Code"
                          },
                          "country": {
                            "type": "string",
                            "description": "NominatedByCustomer-Addresses-Country",
                            "title": "Country"
                          },
                          "stateAbbreviation": {
                            "type": "string",
                            "description": "NominatedByCustomer-Addresses-StateAbbreviation",
                            "title": "State Abbreviation"
                          },
                          "stateISOCode": {
                            "type": "string",
                            "description": "NominatedByCustomer-Addresses-StateISOCode",
                            "title": "State ISO Code"
                          },
                          "type": {
                            "type": "string",
                            "description": "NominatedByCustomer-Addresses-Type",
                            "title": "Type"
                          },
                          "region": {
                            "type": "string",
                            "description": "NominatedByCustomer-Addresses-Region",
                            "title": "Region"
                          },
                          "latitude": {
                            "type": "number",
                            "description": "NominatedByCustomer-Addresses-Latitude",
                            "title": "Latitude"
                          },
                          "longitude": {
                            "type": "number",
                            "description": "NominatedByCustomer-Addresses-Longitude",
                            "title": "Longitude"
                          },
                          "showInDirectory": {
                            "type": "boolean",
                            "description": "NominatedByCustomer-Addresses-ShowInDirectory",
                            "title": "Show In Directory"
                          },
                          "congressionalDistrict": {
                            "type": "string",
                            "description": "NominatedByCustomer-Addresses-CongressionalDistrict",
                            "title": "Congressional District"
                          },
                          "countryData": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "NominatedByCustomer-Addresses-Country-CountryId",
                                "title": "Country Id"
                              },
                              "name": {
                                "type": "string",
                                "description": "NominatedByCustomer-Addresses-Country-CountryName",
                                "title": "Country Name"
                              },
                              "twoLetterIsoCode": {
                                "type": "string",
                                "description": "NominatedByCustomer-Addresses-Country-TwoLetterIsoCode",
                                "title": "Two Letter ISO Code"
                              },
                              "threeLetterIsoCode": {
                                "type": "string",
                                "description": "NominatedByCustomer-Addresses-Country-ThreeLetterIsoCode",
                                "title": "Three Letter ISO Code"
                              },
                              "code": {
                                "type": "integer",
                                "description": "NominatedByCustomer-Addresses-Country-CountryCode",
                                "title": "Country Code"
                              }
                            }
                          }
                        }
                      }
                    },
                    "email": {
                      "type": "string",
                      "description": "NominatedByCustomer-Email",
                      "title": "Email"
                    },
                    "imageUri": {
                      "type": "string",
                      "description": "NominatedByCustomer-ImageUri",
                      "title": "Image Uri"
                    },
                    "twitter": {
                      "type": "string",
                      "description": "NominatedByCustomer-Twitter",
                      "title": "Twitter"
                    },
                    "linkedIn": {
                      "type": "string",
                      "description": "NominatedByCustomer-LinkedIn",
                      "title": "LinkedIn"
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "primary": {
                            "type": "boolean",
                            "description": "NominatedByCustomer-Emails-Primary",
                            "title": "Is Primary Email"
                          },
                          "address": {
                            "type": "string",
                            "description": "NominatedByCustomer-Emails-Address",
                            "title": "Address"
                          },
                          "type": {
                            "type": "string",
                            "description": "NominatedByCustomer-Emails-Type",
                            "title": "Type"
                          },
                          "showInDirectory": {
                            "type": "boolean",
                            "description": "NominatedByCustomer-Emails-ShowInDirectory",
                            "title": "Show In Directory"
                          }
                        }
                      }
                    },
                    "phones": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "NominatedByCustomer-Phones-Id",
                            "title": "Phone Id"
                          },
                          "primary": {
                            "type": "boolean",
                            "description": "NominatedByCustomer-Phones-Primary",
                            "title": "Is Primary Phone"
                          },
                          "type": {
                            "type": "integer",
                            "description": "NominatedByCustomer-Phones-Type",
                            "title": "Type"
                          },
                          "country": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "NominatedByCustomer-Phones-Country-CountryId",
                                "title": "Country Id"
                              },
                              "name": {
                                "type": "string",
                                "description": "NominatedByCustomer-Phones-Country-CountryName",
                                "title": "Country Name"
                              },
                              "twoLetterIsoCode": {
                                "type": "string",
                                "description": "NominatedByCustomer-Phones-Country-TwoLetterIsoCode",
                                "title": "Two Letter ISO Code"
                              },
                              "threeLetterIsoCode": {
                                "type": "string",
                                "description": "NominatedByCustomer-Phones-Country-ThreeLetterIsoCode",
                                "title": "Three Letter ISO Code"
                              },
                              "code": {
                                "type": "integer",
                                "description": "NominatedByCustomer-Phones-Country-CountryCode",
                                "title": "Country Code"
                              }
                            }
                          },
                          "showInDirectory": {
                            "type": "boolean",
                            "description": "NominatedByCustomer-Phones-ShowInDirectory",
                            "title": "Show In Directory"
                          },
                          "number": {
                            "type": "string",
                            "description": "NominatedByCustomer-Phones-Number",
                            "title": "Number"
                          },
                          "extension": {
                            "type": "string",
                            "description": "NominatedByCustomer-Phones-Extension",
                            "title": "Extension"
                          },
                          "typeName": {
                            "type": "string",
                            "description": "NominatedByCustomer-Phones-TypeName",
                            "title": "Type Name"
                          }
                        }
                      }
                    },
                    "webSite": {
                      "type": "string",
                      "description": "NominatedByCustomer-WebSite",
                      "title": "WebSite"
                    },
                    "memberships": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "membershipType": {
                            "type": "string",
                            "description": "NominatedByCustomer-Memberships-MembershipType",
                            "title": "Membership Type"
                          },
                          "membershipTypeId": {
                            "type": "string",
                            "description": "NominatedByCustomer-Memberships-MembershipTypeId",
                            "title": "Membership Type Id"
                          },
                          "code": {
                            "type": "string",
                            "description": "NominatedByCustomer-Memberships-Code",
                            "title": "Code"
                          },
                          "expireDate": {
                            "type": "string",
                            "description": "NominatedByCustomer-Memberships-ExpireDate",
                            "title": "Expire Date"
                          },
                          "graceExpireDate": {
                            "type": "string",
                            "description": "NominatedByCustomer-Memberships-GraceExpireDate",
                            "title": "Grace Expire Date"
                          },
                          "inheritedMembershipBenefits": {
                            "type": "boolean",
                            "description": "NominatedByCustomer-Memberships-InheritedMembershipBenefits",
                            "title": "Inherited Membership Benefits"
                          },
                          "renewalUrl": {
                            "type": "string",
                            "description": "NominatedByCustomer-Memberships-RenewalUrl",
                            "title": "Renewal Url"
                          },
                          "joinDate": {
                            "type": "string",
                            "description": "NominatedByCustomer-Memberships-JoinDate",
                            "title": "Join Date"
                          },
                          "terminateDate": {
                            "type": "string",
                            "description": "NominatedByCustomer-Memberships-TerminateDate",
                            "title": "Terminate Date"
                          },
                          "effectiveDate": {
                            "type": "string",
                            "description": "NominatedByCustomer-Memberships-EffectiveDate",
                            "title": "Effective Date"
                          }
                        }
                      }
                    },
                    "category": {
                      "type": "string",
                      "description": "NominatedByCustomer-Category",
                      "title": "Category"
                    },
                    "categories": {
                      "type": "array",
                      "description": "NominatedByCustomer-Categories",
                      "items": {
                        "type": "object",
                        "description": "NominatedByCustomer-Categories-Item",
                        "properties": {
                          "subCategories": {
                            "type": "array",
                            "description": "NominatedByCustomer-Categories-SubCategories",
                            "items": {
                              "type": "object",
                              "description": "NominatedByCustomer-Categories-SubCategories-Item",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "NominatedByCustomer-Categories-SubCategories-Code",
                                  "title": "Code"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "NominatedByCustomer-Categories-SubCategories-Name",
                                  "title": "Name"
                                }
                              }
                            }
                          },
                          "code": {
                            "type": "string",
                            "description": "NominatedByCustomer-Categories-Code",
                            "title": "Code"
                          },
                          "name": {
                            "type": "string",
                            "description": "NominatedByCustomer-Categories-Name",
                            "title": "Name"
                          }
                        }
                      }
                    },
                    "customFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "NominatedByCustomer-CustomFields-Name",
                            "title": "Name"
                          },
                          "caption": {
                            "type": "string",
                            "description": "NominatedByCustomer-CustomFields-Caption",
                            "title": "Caption"
                          },
                          "value": {
                            "type": "string",
                            "description": "NominatedByCustomer-CustomFields-Value",
                            "title": "Value"
                          }
                        }
                      }
                    },
                    "showInDirectory": {
                      "type": "boolean",
                      "description": "NominatedByCustomer-ShowInDirectory",
                      "title": "Show In Directory"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "NominatedByCustomer-Links-Type",
                            "title": "Type"
                          },
                          "url": {
                            "type": "string",
                            "description": "NominatedByCustomer-Links-Type",
                            "title": "Url"
                          }
                        }
                      }
                    },
                    "oldId": {
                      "type": "string",
                      "description": "NominatedByCustomer-OldId",
                      "title": "Old Id"
                    }
                  }
                },
                "addresses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Addresses-AddressId",
                        "title": "Address Id"
                      },
                      "primary": {
                        "type": "boolean",
                        "description": "Addresses-PrimaryAddress",
                        "title": "Is Primary Address"
                      },
                      "line1": {
                        "type": "string",
                        "description": "Addresses-Line1",
                        "title": "Address Line 1"
                      },
                      "line2": {
                        "type": "string",
                        "description": "Addresses-Line2",
                        "title": "Address Line 2"
                      },
                      "line3": {
                        "type": "string",
                        "description": "Addresses-Line3",
                        "title": "Address Line 3"
                      },
                      "city": {
                        "type": "string",
                        "description": "Addresses-City",
                        "title": "City"
                      },
                      "state": {
                        "type": "string",
                        "description": "Addresses-State",
                        "title": "State"
                      },
                      "zipcode": {
                        "type": "string",
                        "description": "Addresses-ZipCode",
                        "title": "Zip Code"
                      },
                      "country": {
                        "type": "string",
                        "description": "Addresses-Country",
                        "title": "Country"
                      },
                      "stateAbbreviation": {
                        "type": "string",
                        "description": "Addresses-StateAbbreviation",
                        "title": "State Abbreviation"
                      },
                      "stateISOCode": {
                        "type": "string",
                        "description": "Addresses-StateISOCode",
                        "title": "State ISO Code"
                      },
                      "type": {
                        "type": "string",
                        "description": "Addresses-Type",
                        "title": "Type"
                      },
                      "region": {
                        "type": "string",
                        "description": "Addresses-Region",
                        "title": "Region"
                      },
                      "latitude": {
                        "type": "number",
                        "description": "Addresses-Latitude",
                        "title": "Latitude"
                      },
                      "longitude": {
                        "type": "number",
                        "description": "Addresses-Longitude",
                        "title": "Longitude"
                      },
                      "showInDirectory": {
                        "type": "boolean",
                        "description": "Addresses-ShowInDirectory",
                        "title": "Show In Directory"
                      },
                      "congressionalDistrict": {
                        "type": "string",
                        "description": "Addresses-CongressionalDistrict",
                        "title": "Congressional District"
                      },
                      "countryData": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Addresses-Country-CountryId",
                            "title": "Country Id"
                          },
                          "name": {
                            "type": "string",
                            "description": "Addresses-Country-CountryName",
                            "title": "Country Name"
                          },
                          "twoLetterIsoCode": {
                            "type": "string",
                            "description": "Addresses-Country-TwoLetterIsoCode",
                            "title": "Two Letter ISO Code"
                          },
                          "threeLetterIsoCode": {
                            "type": "string",
                            "description": "Addresses-Country-ThreeLetterIsoCode",
                            "title": "Three Letter ISO Code"
                          },
                          "code": {
                            "type": "integer",
                            "description": "Addresses-Country-CountryCode",
                            "title": "Country Code"
                          }
                        }
                      }
                    }
                  }
                },
                "phones": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Phones-Id",
                        "title": "Phone Id"
                      },
                      "primary": {
                        "type": "boolean",
                        "description": "Phones-Primary",
                        "title": "Is Primary Phone"
                      },
                      "type": {
                        "type": "integer",
                        "description": "Phones-Type",
                        "title": "Type"
                      },
                      "country": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Phones-Country-CountryId",
                            "title": "Country Id"
                          },
                          "name": {
                            "type": "string",
                            "description": "Phones-Country-CountryName",
                            "title": "Country Name"
                          },
                          "twoLetterIsoCode": {
                            "type": "string",
                            "description": "Phones-Country-TwoLetterIsoCode",
                            "title": "Two Letter ISO Code"
                          },
                          "threeLetterIsoCode": {
                            "type": "string",
                            "description": "Phones-Country-ThreeLetterIsoCode",
                            "title": "Three Letter ISO Code"
                          },
                          "code": {
                            "type": "integer",
                            "description": "Phones-Country-CountryCode",
                            "title": "Country Code"
                          }
                        }
                      },
                      "showInDirectory": {
                        "type": "boolean",
                        "description": "Phones-ShowInDirectory",
                        "title": "Show In Directory"
                      },
                      "number": {
                        "type": "string",
                        "description": "Phones-Number",
                        "title": "Number"
                      },
                      "extension": {
                        "type": "string",
                        "description": "Phones-Extension",
                        "title": "Extension"
                      },
                      "typeName": {
                        "type": "string",
                        "description": "Phones-TypeName",
                        "title": "Type Name"
                      }
                    }
                  }
                },
                "emails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "primary": {
                        "type": "boolean",
                        "description": "Emails-Primary",
                        "title": "Is Primary Email"
                      },
                      "address": {
                        "type": "string",
                        "description": "Emails-Address",
                        "title": "Address"
                      },
                      "type": {
                        "type": "string",
                        "description": "Emails-Type",
                        "title": "Type"
                      },
                      "showInDirectory": {
                        "type": "boolean",
                        "description": "Emails-ShowInDirectory",
                        "title": "Show In Directory"
                      }
                    }
                  }
                },
                "rank": {
                  "type": "integer",
                  "description": "Rank",
                  "title": "Rank"
                }
              }
            }
          }
        },
        "summary": "Add Individual to Committee",
        "description": "Add Individual to Committee",
        "operationId": "Add-To-Committee",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Committee Code",
            "x-ms-summary": "Committee Code",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "recordNumber": {
                  "type": "string",
                  "description": "Record Number",
                  "title": "Record Number"
                },
                "code": {
                  "type": "string",
                  "description": "Member code",
                  "title": "Code",
                  "x-ms-visibility": "advanced"
                },
                "positionCode": {
                  "type": "string",
                  "description": "Position Code",
                  "title": "Position Code"
                },
                "startDate": {
                  "type": "string",
                  "description": "Start Date",
                  "title": "Start Date"
                }
              },
              "required": [
                "recordNumber",
                "positionCode",
                "startDate"
              ]
            }
          }
        ]
      }
    },
    "/api/v1/Organizations": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OrganizationData"
            }
          }
        },
        "summary": "Add Organization",
        "description": "Add Organization",
        "operationId": "Add-Organization",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id",
                  "title": "ID",
                  "x-ms-visibility": "internal"
                },
                "name": {
                  "type": "string",
                  "description": "Name",
                  "title": "Name"
                },
                "showInDirectory": {
                  "type": "boolean",
                  "description": "show In Directory",
                  "title": "Show In Directory?",
                  "x-ms-visibility": "internal",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                },
                "branchName": {
                  "type": "string",
                  "description": "Branch Name",
                  "title": "Branch Name",
                  "x-ms-visibility": "advanced"
                },
                "website": {
                  "type": "string",
                  "description": "Website",
                  "title": "Website",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "name",
                "showInDirectory"
              ]
            }
          }
        ]
      }
    },
    "/api/v1/Individuals/{id}/Relationships": {
      "post": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {}
          }
        },
        "summary": "Add Relationship to Individual",
        "description": "Add Relationship to Individual",
        "operationId": "Add-relationship-to-individual",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual ID",
            "x-ms-summary": "Individual ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Application/Json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "relationshipName": {
                  "type": "string",
                  "description": "relationshipName",
                  "title": "Relationship Name",
                  "default": "Employee"
                },
                "relatedToCustomerRecordNumber": {
                  "type": "string",
                  "description": "Related To Customer Record Number",
                  "title": "Related To Customer Record Number"
                },
                "reciprocalRelationshipName": {
                  "type": "string",
                  "description": "reciprocalRelationshipName",
                  "title": "Reciprocal Relationship Name",
                  "default": "Employer"
                },
                "isPrimary": {
                  "type": "boolean",
                  "description": "isPrimary",
                  "title": "Is Primary?",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                },
                "startDate": {
                  "type": "string",
                  "description": "Start Date",
                  "title": "Start Date",
                  "x-ms-visibility": "advanced"
                },
                "endDate": {
                  "type": "string",
                  "description": "End Date",
                  "title": "End Date",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "reciprocalRelationshipName",
                "relatedToCustomerRecordNumber",
                "relationshipName"
              ]
            }
          }
        ]
      }
    },
    "/api/v1/Organizations/{id}": {
      "put": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OrganizationData"
            }
          }
        },
        "summary": "Update Organization",
        "description": "Update Organization",
        "operationId": "Update-Organization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization ID",
            "x-ms-summary": "Organization ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name",
                  "title": "Name"
                },
                "description": {
                  "type": "string",
                  "description": "Description",
                  "title": "Description"
                },
                "showInDirectory": {
                  "type": "boolean",
                  "description": "Show In Directory",
                  "title": "Show In Directory",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "advanced"
                },
                "branchName": {
                  "type": "string",
                  "description": "Branch Name",
                  "title": "Branch Name"
                },
                "website": {
                  "type": "string",
                  "description": "Website",
                  "title": "Website"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v1/Setup/customfields/1": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "description": "pageNumber"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "caption": {
                        "type": "string",
                        "description": "caption"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "dataType": {
                        "type": "string",
                        "description": "dataType"
                      },
                      "inputType": {
                        "type": "string",
                        "description": "inputType"
                      },
                      "availableValues": {
                        "type": "array",
                        "items": {},
                        "description": "availableValues"
                      }
                    }
                  },
                  "description": "dataList"
                }
              }
            }
          }
        },
        "x-ms-visibility": "internal",
        "summary": "List of all custom fields",
        "description": "List of all custom fields",
        "operationId": "List-of-all-custom-fields",
        "parameters": [
          {
            "name": "Content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/": {
      "x-ms-notification-content": {
        "description": "Individual Created",
        "schema": {
          "$ref": "#/definitions/IndividualPayload"
        }
      }
    },
    "/api/v1/Customers/{pageNumber}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "description": "PageNumber",
                  "title": "Page Number"
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fullName": {
                        "type": "string",
                        "description": "FullName",
                        "title": "Full Name"
                      },
                      "id": {
                        "type": "string",
                        "description": "CustomerId",
                        "title": "Customer Id"
                      },
                      "customerType": {
                        "type": "string",
                        "description": "CustomerType",
                        "title": "Customer Type"
                      },
                      "recordNumber": {
                        "type": "string",
                        "description": "RecordNumber",
                        "title": "Record Number"
                      },
                      "showInDirectory": {
                        "type": "boolean",
                        "description": "ShowInDirectory",
                        "title": "Show In Directory"
                      },
                      "addresses": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "AddressesAddressId",
                              "title": "Address Id"
                            },
                            "primary": {
                              "type": "boolean",
                              "description": "Addresses-PrimaryAddress",
                              "title": "Is Primary Address"
                            },
                            "line1": {
                              "type": "string",
                              "description": "Addresses-Line1",
                              "title": "Address Line 1"
                            },
                            "line2": {
                              "type": "string",
                              "description": "Addresses-Line2",
                              "title": "Address Line 2"
                            },
                            "line3": {
                              "type": "string",
                              "description": "Addresses-Line3",
                              "title": "Address Line 3"
                            },
                            "city": {
                              "type": "string",
                              "description": "Addresses-City",
                              "title": "City"
                            },
                            "state": {
                              "type": "string",
                              "description": "Addresses-State",
                              "title": "State"
                            },
                            "zipcode": {
                              "type": "string",
                              "description": "Addresses-ZipCode",
                              "title": "Zip Code"
                            },
                            "country": {
                              "type": "string",
                              "description": "Addresses-Country",
                              "title": "Country"
                            },
                            "stateAbbreviation": {
                              "type": "string",
                              "description": "Addresses-StateAbbreviation",
                              "title": "State Abbreviation"
                            },
                            "stateISOCode": {
                              "type": "string",
                              "description": "Addresses-StateISOCode",
                              "title": "State ISO Code"
                            },
                            "type": {
                              "type": "string",
                              "description": "Addresses-Type",
                              "title": "Type"
                            },
                            "region": {
                              "type": "string",
                              "description": "Addresses-Region",
                              "title": "Region"
                            },
                            "latitude": {
                              "type": "number",
                              "description": "Addresses-Latitude",
                              "title": "Latitude"
                            },
                            "longitude": {
                              "type": "number",
                              "description": "Addresses-Longitude",
                              "title": "Longitude"
                            },
                            "showInDirectory": {
                              "type": "boolean",
                              "description": "Addresses-ShowInDirectory",
                              "title": "Show In Directory"
                            },
                            "congressionalDistrict": {
                              "type": "string",
                              "description": "Addresses-CongressionalDistrict",
                              "title": "Congressional District"
                            },
                            "countryData": {
[...]
