{
  "swagger": "2.0",
  "info": {
    "title": "Impexium",
    "description": "Impexium is the premier association management software solution for nonprofits and member-based organizations.",
    "version": "1.0",
    "contact": {
      "name": "Impexium Support",
      "url": "https://support.impexium.com",
      "email": "support@impexium.com"
    }
  },
  "host": "automation.impexium.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/api/v1/Individuals": {
      "post": {
        "tags": ["Individuals"],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IndividualData"
            }
          }
        },
        "summary": "Add Individual",
        "description": "Adds an Individual.",
        "operationId": "Add-Individual",
        "parameters": [
          {
            "name": "createUser",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "False",
            "description": "Choose True if a user account should be created when the individual is created.",
            "enum": ["True", "False"],
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Create User."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "firstName": {
                  "type": "string",
                  "description": "First Name.",
                  "title": "First Name"
                },
                "lastName": {
                  "type": "string",
                  "description": "Last Name.",
                  "title": "Last Name"
                },
                "email": {
                  "type": "string",
                  "description": "Email Address.",
                  "title": "Email Address",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": ["firstName", "lastName"]
            }
          }
        ]
      }
    },
    "/api/v1/Individuals/{id}/Activities": {
      "post": {
        "tags": ["Individuals"],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "summary": "Add Activity",
        "description": "Add Activity.",
        "operationId": "Add-Activity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Individual Id.",
            "x-ms-summary": "Individual Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "Category.",
                  "title": "Category",
                  "x-ms-visibility": "internal",
                  "default": "Impexium"
                },
                "text": {
                  "type": "string",
                  "description": "Text.",
                  "title": "Text"
                },
                "url": {
                  "type": "string",
                  "description": "URL.",
                  "title": "URL"
                },
                "activityDate": {
                  "type": "string",
                  "format": "date",
                  "description": "Activity Date.",
                  "title": "Activity Date"
                }
              },
              "required": ["text", "category"]
            }
          }
        ]
      }
    },
    "/api/v1/Individuals/Profile/{idOrRecordNumberOrEmail}/{pageNumber}/": {
      "get": {
        "tags": ["Individuals"],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Page Number",
                  "description": "Page Number."
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/IndividualData"
                  },
                  "description": "Data List."
                }
              }
            }
          }
        },
        "summary": "Find Individual by Id or Email or Record Number",
        "description": "Find Individual by Id or Email.",
        "operationId": "Find-Individual-IDOrEmail",
        "parameters": [
          {
            "name": "idOrRecordNumberOrEmail",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Id or Record Number or Email.",
            "x-ms-summary": "Id or Record Number or Email",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "pageNumber",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "x-ms-visibility": "internal",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "IncludeDetails",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "True",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/Individuals/{id}/Relationships": {
      "post": {
        "tags": ["Individuals"],
        "responses": {
          "200": {
            "description": "200",
            "schema": {}
          }
        },
        "summary": "Add Relationship to Individual",
        "description": "Add Relationship to Individual.",
        "operationId": "Add-relationship-to-individual",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual Id.",
            "x-ms-summary": "Individual Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Application/Json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "relationshipName": {
                  "type": "string",
                  "description": "Relationship Name.",
                  "title": "Relationship Name",
                  "default": "Employee"
                },
                "relatedToCustomerRecordNumber": {
                  "type": "string",
                  "description": "Related To Customer Record Number.",
                  "title": "Related To Customer Record Number"
                },
                "reciprocalRelationshipName": {
                  "type": "string",
                  "description": "Reciprocal Relationship Name.",
                  "title": "Reciprocal Relationship Name",
                  "default": "Employer"
                },
                "isPrimary": {
                  "type": "boolean",
                  "description": "Is Primary.",
                  "title": "Is Primary",
                  "x-ms-visibility": "advanced",
                  "enum": [true, false],
                  "default": false
                },
                "startDate": {
                  "type": "string",
                  "format": "date",
                  "description": "Start Date.",
                  "title": "Start Date",
                  "x-ms-visibility": "advanced"
                },
                "endDate": {
                  "type": "string",
                  "format": "date",
                  "description": "End Date.",
                  "title": "End Date",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "reciprocalRelationshipName",
                "relatedToCustomerRecordNumber",
                "relationshipName"
              ]
            }
          }
        ]
      }
    },
    "/api/v1/Individuals/{id}/Customfields": {
      "post": {
        "tags": ["Individuals"],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "summary": "Update Custom Field Value",
        "description": "Update Custom Field Value.",
        "operationId": "Update-custom-field-value",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Customer Id.",
            "x-ms-summary": "Customer Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Custom Field Name.",
                  "title": "Custom Field Name"
                },
                "value": {
                  "type": "string",
                  "description": "Custom Field Value. For multi-selects, use \"|\" as delimiter.",
                  "title": "Custom Field Value"
                }
              },
              "required": ["name", "value"]
            }
          }
        ]
      }
    },
    "/api/v1/Individuals/{idOrRecordNumber}/EducationCredits": {
      "post": {
        "tags": ["Individuals"],
        "summary": "Add Education Credits to Individual",
        "description": "Add a new Education Credit to an Individual.",
        "operationId": "Individual-Add-Education-Credit",
        "parameters": [
          {
            "name": "idOrRecordNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual Id or Record Number.",
            "x-ms-summary": "Id or Record Number",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Education Credit Data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EducationCreditData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          }
        }
      }
    },
    "/api/v1/Individuals/{id}/Notes": {
      "post": {
        "tags": ["Individuals"],
        "summary": "Add Note to Individual",
        "description": "Add a Note to an Individual.",
        "operationId": "Individual-AddNote",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Individual Id.",
            "x-ms-summary": "Individual Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "note",
            "in": "body",
            "x-ms-summary": "Note Data",
            "description": "Note Data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NoteData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          }
        }
      }
    },
    "/api/v1/Individuals/Lookup/{pageNumber}": {
      "get": {
        "tags": ["Individuals"],
        "summary": "Lookup Individuals",
        "description": "Lookup Individuals by Name",
        "operationId": "Individuals-LookupByName",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Individual Name.",
            "x-ms-summary": "Lookup value"
          },
          {
            "name": "includeOrgAddresses",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "pageNumber",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "x-ms-visibility": "internal",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "pageNumber": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Page Number",
                  "description": "Page Number."
                },
                "dataList": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/IndividualLookupBasicData"
                  },
                  "description": "Data List."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Committees/{code}/Members": {
      "post": {
        "tags": ["Committee"],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Member Id.",
                  "title": "Member Id"
                },
                "firstName": {
                  "type": "string",
                  "description": "First Name.",
                  "title": "First Name"
                },
                "lastName": {
                  "type": "string",
                  "description": "Last Name.",
                  "title": "Last Name"
                },
                "code": {
                  "type": "string",
                  "description": "Code.",
                  "title": "Code"
                },
                "recordNumber": {
                  "type": "string",
                  "description": "Record Number.",
                  "title": "Record Number"
                },
                "position": {
                  "type": "string",
                  "description": "Position.",
                  "title": "Position"
                },
                "positionCode": {
                  "type": "string",
                  "description": "Position Code.",
                  "title": "Position Code"
                },
                "startDate": {
                  "type": "string",
                  "description": "Start Date.",
                  "title": "Start Date"
                },
                "endDate": {
                  "type": "string",
                  "description": "End Date.",
                  "title": "End Date"
                },
                "primaryOrganization": {
                  "type": "object",
                  "properties": {
                    "contactIds": {
                      "type": "array",
                      "x-ms-summary": "Contact Ids",
                      "description": "Primary Organization - Contact Ids.",
                      "items": {
                        "type": "string",
                        "format": "uuid",
                        "title": "Contact Id",
                        "description": "Primary Organization - Contact Ids - Contact Id."
                      }
                    },
                    "parentCompanyId": {
                      "type": "string",
                      "description": "Primary Organization - Parent Company Id.",
                      "title": "Parent Company Id"
                    },
                    "description": {
                      "type": "string",
                      "description": "Primary Organization - Description.",
                      "title": "Description"
                    },
                    "branchName": {
                      "type": "string",
                      "description": "Primary Organization - Branch Name.",
                      "title": "Branch Name"
                    },
                    "tags": {
                      "type": "array",
                      "x-ms-summary": "Tags",
                      "description": "Primary Organization - Tags.",
                      "items": {
                        "type": "string",
                        "title": "Tag",
                        "description": "Primary Organization - Tags - Tag."
                      }
                    },
                    "id": {
                      "type": "string",
                      "description": "Primary Organization - Id.",
                      "title": "Primary Organization Id"
                    },
                    "customerType": {
                      "type": "string",
                      "description": "Primary Organization - Customer Type.",
                      "title": "Customer Type"
                    },
                    "recordNumber": {
                      "type": "string",
                      "description": "Primary Organization - Record Number.",
                      "title": "Record Number"
                    },
                    "title": {
                      "type": "string",
                      "description": "Primary Organization - Title.",
                      "title": "Title"
                    },
                    "name": {
                      "type": "string",
                      "description": "Primary Organization - Name.",
                      "title": "Name"
                    },
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Primary Organization - Addresses - Address Id.",
                            "title": "Address Id"
                          },
                          "primary": {
                            "type": "boolean",
                            "description": "Primary Organization - Addresses - Is Primary.",
                            "title": "Is Primary Address"
                          },
                          "line1": {
                            "type": "string",
                            "description": "Primary Organization - Addresses - Line 1.",
                            "title": "Address Line 1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "Primary Organization - Addresses - Line 2.",
                            "title": "Address Line 2"
                          },
                          "line3": {
                            "type": "string",
                            "description": "Primary Organization - Addresses - Line 3.",
                            "title": "Address Line 3"
                          },
                          "city": {
                            "type": "string",
                            "description": "Primary Organization - Addresses - City.",
                            "title": "City"
                          },
                          "state": {
                            "type": "string",
                            "description": "Primary Organization - Addresses - State.",
                            "title": "State"
                          },
                          "zipcode": {
                            "type": "string",
                            "description": "Primary Organization - Addresses - Zip Code.",
                            "title": "Zip Code"
                          },
                          "country": {
                            "type": "string",
                            "description": "Primary Organization - Addresses - Country.",
                            "title": "Country"
                          },
                          "stateAbbreviation": {
                            "type": "string",
                            "description": "Primary Organization - Addresses - State Abbreviation.",
                            "title": "State Abbreviation"
                          },
                          "stateISOCode": {
                            "type": "string",
                            "description": "Primary Organization - Addresses - State ISO Code.",
                            "title": "State ISO Code"
                          },
                          "type": {
                            "type": "string",
                            "description": "Primary Organization - Addresses - Type.",
                            "title": "Type"
                          },
                          "region": {
                            "type": "string",
                            "description": "Primary Organization - Addresses - Region.",
                            "title": "Region"
                          },
                          "latitude": {
                            "type": "number",
                            "description": "Primary Organization - Addresses - Latitude.",
                            "title": "Latitude"
                          },
                          "longitude": {
                            "type": "number",
                            "description": "Primary Organization - Addresses - Longitude.",
                            "title": "Longitude"
                          },
                          "showInDirectory": {
                            "type": "boolean",
                            "description": "Primary Organization - Addresses - Show In Directory.",
                            "title": "Show In Directory"
                          },
                          "congressionalDistrict": {
                            "type": "string",
                            "description": "Primary Organization - Addresses - Congressional District.",
                            "title": "Congressional District"
                          },
                          "countryData": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Primary Organization - Addresses - Country - Country Id.",
                                "title": "Country Id"
                              },
                              "name": {
                                "type": "string",
                                "description": "Primary Organization - Addresses - Country - Country Name.",
                                "title": "Country Name"
                              },
                              "twoLetterIsoCode": {
                                "type": "string",
                                "description": "Primary Organization - Addresses - Country - Two Letter ISO Code.",
                                "title": "Two Letter ISO Code"
                              },
                              "threeLetterIsoCode": {
                                "type": "string",
                                "description": "Primary Organization - Addresses - Country - Three Letter ISO Code.",
                                "title": "Three Letter ISO Code"
                              },
                              "code": {
                                "type": "integer",
                                "description": "Primary Organization - Addresses - Country - Country Code.",
                                "title": "Country Code"
                              }
                            }
                          }
                        }
                      }
                    },
                    "email": {
                      "type": "string",
                      "description": "Primary Organization - Email.",
                      "title": "Email"
                    },
                    "imageUri": {
                      "type": "string",
                      "description": "Primary Organization - Image URI.",
                      "title": "Image URI"
                    },
                    "twitter": {
                      "type": "string",
                      "description": "Primary Organization - Twitter.",
                      "title": "Twitter"
                    },
                    "linkedIn": {
                      "type": "string",
                      "description": "Primary Organization - LinkedIn.",
                      "title": "LinkedIn"
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "primary": {
                            "type": "boolean",
                            "description": "Primary Organization - Emails - Is Primary.",
                            "title": "Is Primary Email"
                          },
                          "address": {
                            "type": "string",
                            "description": "Primary Organization - Emails - Address.",
                            "title": "Address"
                          },
                          "type": {
                            "type": "string",
                            "description": "Primary Organization - Emails - Type.",
                            "title": "Type"
                          },
                          "showInDirectory": {
                            "type": "boolean",
                            "description": "Primary Organization - Emails - Show In Directory.",
                            "title": "Show In Directory"
                          }
                        }
                      }
                    },
                    "phones": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Primary Organization - Phones - Id.",
                            "title": "Phone Id"
                          },
                          "primary": {
                            "type": "boolean",
                            "description": "Primary Organization - Phones - Is Primary.",
                            "title": "Is Primary Phone"
                          },
                          "type": {
                            "type": "integer",
                            "description": "Primary Organization - Phones - Type.",
                            "title": "Type"
                          },
                          "country": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Primary Organization - Phones - Country - Country Id.",
                                "title": "Country Id"
                              },
                              "name": {
                                "type": "string",
                                "description": "Primary Organization - Phones - Country - Country Name.",
                                "title": "Country Name"
                              },
                              "twoLetterIsoCode": {
                                "type": "string",
                                "description": "Primary Organization - Phones - Country - Two Letter ISO Code.",
                                "title": "Two Letter ISO Code"
                              },
                              "threeLetterIsoCode": {
                                "type": "string",
                                "description": "Primary Organization - Phones - Country - Three Letter ISO Code.",
                                "title": "Three Letter ISO Code"
                              },
                              "code": {
                                "type": "integer",
                                "description": "Primary Organization - Phones - Country - Country Code.",
                                "title": "Country Code"
                              }
                            }
                          },
                          "showInDirectory": {
                            "type": "boolean",
                            "description": "Primary Organization - Phones - Show In Directory.",
                            "title": "Show In Directory"
                          },
                          "number": {
                            "type": "string",
                            "description": "Primary Organization - Phones - Number.",
                            "title": "Number"
                          },
                          "extension": {
                            "type": "string",
                            "description": "Primary Organization - Phones - Extension.",
                            "title": "Extension"
                          },
                          "typeName": {
                            "type": "string",
                            "description": "Primary Organization - Phones - Type Name.",
                            "title": "Type Name"
                          }
                        }
                      }
                    },
                    "webSite": {
                      "type": "string",
                      "description": "Primary Organization - Website.",
                      "title": "Website"
                    },
                    "memberships": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "membershipType": {
                            "type": "string",
                            "description": "Primary Organization - Memberships - Membership Type.",
                            "title": "Membership Type"
                          },
                          "membershipTypeId": {
                            "type": "string",
                            "description": "Primary Organization - Memberships - Membership Type Id.",
                            "title": "Membership Type Id"
                          },
                          "code": {
                            "type": "string",
                            "description": "Primary Organization - Memberships - Code.",
                            "title": "Code"
                          },
                          "expireDate": {
                            "type": "string",
                            "description": "Primary Organization - Memberships - Expire Date.",
                            "title": "Expire Date"
                          },
                          "graceExpireDate": {
                            "type": "string",
                            "description": "Primary Organization - Memberships - Grace Expire Date.",
                            "title": "Grace Expire Date"
                          },
                          "inheritedMembershipBenefits": {
                            "type": "boolean",
                            "description": "Primary Organization - Memberships - Inherited Membership Benefits.",
                            "title": "Inherited Membership Benefits"
                          },
                          "renewalUrl": {
                            "type": "string",
                            "description": "Primary Organization - Memberships - Renewal URL.",
                            "title": "Renewal URL"
                          },
                          "joinDate": {
                            "type": "string",
                            "description": "Primary Organization - Memberships - Join Date.",
                            "title": "Join Date"
                          },
                          "terminateDate": {
                            "type": "string",
                            "description": "Primary Organization - Memberships - Terminate Date.",
                            "title": "Terminate Date"
                          },
                          "effectiveDate": {
                            "type": "string",
                            "description": "Primary Organization - Memberships - Effective Date.",
                            "title": "Effective Date"
                          }
                        }
                      }
                    },
                    "category": {
                      "type": "string",
                      "description": "Primary Organization - Category.",
                      "title": "Category"
                    },
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "subCategories": {
                            "type": "array",
                            "description": "Primary Organization - Categories - Subcategories.",
                            "items": {
                              "type": "object",
                              "description": "Primary Organization - Categories - Subcategories - Item.",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "Primary Organization - Categories - Subcategories - Code.",
                                  "title": "Code"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Primary Organization - Categories - Subcategories - Name.",
                                  "title": "Name"
                                }
                              }
                            }
                          },
                          "code": {
                            "type": "string",
                            "description": "Primary Organization - Categories - Code.",
                            "title": "Code"
                          },
                          "name": {
                            "type": "string",
                            "description": "Primary Organization - Categories - Name.",
                            "title": "Name"
                          }
                        }
                      }
                    },
                    "customFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Primary Organization - Custom Fields - Name.",
                            "title": "Name"
                          },
                          "caption": {
                            "type": "string",
                            "description": "Primary Organization - Custom Fields - Caption.",
                            "title": "Caption"
                          },
                          "value": {
                            "type": "string",
                            "description": "Primary Organization - Custom Fields - Value.",
                            "title": "Value"
                          }
                        }
                      }
                    },
                    "showInDirectory": {
                      "type": "boolean",
                      "description": "Primary Organization - Show In Directory.",
                      "title": "Show In Directory"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Primary Organization - Links - Type.",
                            "title": "Type"
                          },
                          "url": {
                            "type": "string",
                            "description": "Primary Organization - Links - URL.",
                            "title": "URL"
                          }
                        }
                      }
                    },
                    "oldId": {
                      "type": "string",
                      "description": "Primary Organization - Old Id.",
                      "title": "Old Id"
                    }
                  }
                },
                "organizationRepresenting": {
                  "type": "object",
                  "properties": {
                    "contactIds": {
                      "type": "array",
                      "x-ms-summary": "ContactIds",
                      "description": "Organization Representing - Contact Ids.",
                      "items": {
                        "type": "string",
                        "format": "uuid",
                        "title": "Contact Id",
                        "description": "Organization Representing - Contact Ids - Contact Id."
                      }
                    },
                    "parentCompanyId": {
                      "type": "string",
                      "description": "Organization Representing - Parent Company Id.",
                      "title": "Parent Company Id"
                    },
                    "description": {
                      "type": "string",
                      "description": "Organization Representing - Description.",
                      "title": "Description"
                    },
                    "branchName": {
                      "type": "string",
                      "description": "Organization Representing - Branch Name.",
                      "title": "Branch Name"
                    },
                    "tags": {
                      "type": "array",
                      "x-ms-summary": "Tags",
                      "description": "Organization Representing - Tags.",
                      "items": {
                        "type": "string",
                        "title": "Tag",
                        "description": "Organization Representing - Tags - Tag."
                      }
                    },
                    "id": {
                      "type": "string",
                      "description": "Organization Representing - Organization Representing Id.",
                      "title": "Representing Organization Id"
                    },
                    "customerType": {
                      "type": "string",
                      "description": "Organization Representing - Customer Type.",
                      "title": "Customer Type"
                    },
                    "recordNumber": {
                      "type": "string",
                      "description": "Organization Representing - Record Number.",
                      "title": "Record Number"
                    },
                    "title": {
                      "type": "string",
                      "description": "Organization Representing - Title.",
                      "title": "Title"
                    },
                    "name": {
                      "type": "string",
                      "description": "Organization Representing - Name.",
                      "title": "Name"
                    },
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Organization Representing - Addresses - Address Id.",
                            "title": "Address Id"
                          },
                          "primary": {
                            "type": "boolean",
                            "description": "Organization Representing - Addresses - Is Primary.",
                            "title": "Is Primary Address"
                          },
                          "line1": {
                            "type": "string",
                            "description": "Organization Representing - Addresses - Line 1.",
                            "title": "Address Line 1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "Organization Representing - Addresses - Line 2.",
                            "title": "Address Line 2"
                          },
                          "line3": {
                            "type": "string",
                            "description": "Organization Representing - Addresses - Line 3.",
                            "title": "Address Line 3"
                          },
                          "city": {
                            "type": "string",
                            "description": "Organization Representing - Addresses - City.",
                            "title": "City"
                          },
                          "state": {
                            "type": "string",
                            "description": "Organization Representing - Addresses - State.",
                            "title": "State"
                          },
                          "zipcode": {
                            "type": "string",
                            "description": "Organization Representing - Addresses - Zip Code.",
                            "title": "Zip Code"
                          },
                          "country": {
                            "type": "string",
                            "description": "Organization Representing - Addresses - Country.",
                            "title": "Country"
                          },
                          "stateAbbreviation": {
                            "type": "string",
                            "description": "Organization Representing - Addresses - State Abbreviation.",
                            "title": "State Abbreviation"
                          },
                          "stateISOCode": {
                            "type": "string",
                            "description": "Organization Representing - Addresses - State ISO Code.",
                            "title": "State ISO Code"
                          },
                          "type": {
                            "type": "string",
                            "description": "Organization Representing - Addresses - Type.",
                            "title": "Type"
                          },
                          "region": {
                            "type": "string",
                            "description": "Organization Representing - Addresses - Region.",
                            "title": "Region"
                          },
                          "latitude": {
                            "type": "number",
                            "description": "Organization Representing - Addresses - Latitude.",
                            "title": "Latitude"
                          },
                          "longitude": {
                            "type": "number",
                            "description": "Organization Representing - Addresses - Longitude.",
                            "title": "Longitude"
                          },
                          "showInDirectory": {
                            "type": "boolean",
                            "description": "Organization Representing - Addresses - Show In Directory.",
                            "title": "Show In Directory"
                          },
                          "congressionalDistrict": {
                            "type": "string",
                            "description": "Organization Representing - Addresses - Congressional District.",
                            "title": "Congressional District"
                          },
                          "countryData": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Organization Representing - Addresses - Country - Country Id.",
                                "title": "Country Id"
                              },
                              "name": {
                                "type": "string",
                                "description": "Organization Representing - Addresses - Country - Country Name.",
                                "title": "Country Name"
                              },
                              "twoLetterIsoCode": {
                                "type": "string",
                                "description": "Organization Representing - Addresses - Country - Two Letter ISO Code.",
                                "title": "Two Letter ISO Code"
                              },
                              "threeLetterIsoCode": {
                                "type": "string",
                                "description": "Organization Representing - Addresses - Country - Three Letter ISO Code.",
                                "title": "Three Letter ISO Code"
                              },
                              "code": {
                                "type": "integer",
                                "description": "Organization Representing - Addresses - Country - Country Code.",
                                "title": "Country Code"
                              }
                            }
                          }
                        }
                      }
                    },
                    "email": {
                      "type": "string",
                      "description": "Organization Representing - Email.",
                      "title": "Email"
                    },
                    "imageUri": {
                      "type": "string",
                      "description": "Organization Representing - Image URI.",
                      "title": "Image URI"
                    },
                    "twitter": {
                      "type": "string",
                      "description": "Organization Representing - Twitter.",
                      "title": "Twitter"
                    },
                    "linkedIn": {
                      "type": "string",
                      "description": "Organization Representing - LinkedIn.",
                      "title": "LinkedIn"
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "primary": {
                            "type": "boolean",
                            "description": "Organization Representing - Emails - Is Primary.",
                            "title": "Is Primary Email"
                          },
                          "address": {
                            "type": "string",
                            "description": "Organization Representing - Emails - Address.",
                            "title": "Address"
                          },
                          "type": {
                            "type": "string",
                            "description": "Organization Representing - Emails - Type.",
                            "title": "Type"
                          },
                          "showInDirectory": {
                            "type": "boolean",
                            "description": "Organization Representing - Emails - Show In Directory.",
                            "title": "Show In Directory"
                          }
                        }
                      }
                    },
                    "phones": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Organization Representing - Phones - Id.",
                            "title": "Phone Id"
                          },
                          "primary": {
                            "type": "boolean",
                            "description": "Organization Representing - Phones - Is Primary.",
                            "title": "Is Primary Phone"
                          },
                          "type": {
                            "type": "integer",
                            "description": "Organization Representing - Phones - Type.",
                            "title": "Type"
                          },
                          "country": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Organization Representing - Phones - Country - Country Id.",
                                "title": "Country Id"
                              },
                              "name": {
                                "type": "string",
                                "description": "Organization Representing - Phones - Country - Country Name.",
                                "title": "Country Name"
                              },
                              "twoLetterIsoCode": {
                                "type": "string",
                                "description": "Organization Representing - Phones - Country - Two Letter ISO Code.",
                                "title": "Two Letter ISO Code"
                              },
                              "threeLetterIsoCode": {
                                "type": "string",
                                "description": "Organization Representing - Phones - Country - Three Letter ISO Code.",
                                "title": "Three Letter ISO Code"
                              },
                              "code": {
                                "type": "integer",
                                "description": "Organization Representing - Phones - Country - Country Code.",
                                "title": "Country Code"
                              }
                            }
                          },
                          "showInDirectory": {
                            "type": "boolean",
                            "description": "Organization Representing - Phones - Show In Directory.",
                            "title": "Show In Directory"
                          },
                          "number": {
                            "type": "string",
                            "description": "Organization Representing - Phones - Number.",
                            "title": "Number"
                          },
                          "extension": {
                            "type": "string",
                            "description": "Organization Representing - Phones - Extension.",
                            "title": "Extension"
                          },
                          "typeName": {
                            "type": "string",
                            "description": "Organization Representing - Phones - Type Name.",
                            "title": "Type Name"
                          }
                        }
                      }
                    },
                    "webSite": {
                      "type": "string",
                      "description": "Organization Representing - Website.",
                      "title": "Website"
                    },
                    "memberships": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "membershipType": {
                            "type": "string",
                            "description": "Organization Representing - Memberships - Membership Type.",
                            "title": "Membership Type"
                          },
                          "membershipTypeId": {
                            "type": "string",
                            "description": "Organization Representing - Memberships - Membership Type Id.",
                            "title": "Membership Type Id"
                          },
                          "code": {
                            "type": "string",
                            "description": "Organization Representing - Memberships - Code.",
                            "title": "Code"
                          },
                          "expireDate": {
                            "type": "string",
                            "description": "Organization Representing - Memberships - Expire Date.",
                            "title": "Expire Date"
                          },
                          "graceExpireDate": {
                            "type": "string",
                            "description": "Organization Representing - Memberships - Grace Expire Date.",
                            "title": "Grace Expire Date"
                          },
                          "inheritedMembershipBenefits": {
                            "type": "boolean",
                            "description": "Organization Representing - Memberships - Inherited Membership Benefits.",
                            "title": "Inherited Membership Benefits"
                          },
                          "renewalUrl": {
                            "type": "string",
                            "description": "Organization Representing - Memberships - Renewal URL.",
                            "title": "Renewal URL"
                          },
                          "joinDate": {
                            "type": "string",
                            "description": "Organization Representing - Memberships - Join Date.",
                            "title": "Join Date"
                          },
                          "terminateDate": {
                            "type": "string",
                            "description": "Organization Representing - Memberships - Terminate Date.",
                            "title": "Terminate Date"
                          },
                          "effectiveDate": {
                            "type": "string",
                            "description": "Organization Representing - Memberships - Effective Date.",
                            "title": "Effective Date"
                          }
                        }
                      }
                    },
                    "category": {
                      "type": "string",
                      "description": "Organization Representing - Category.",
                      "title": "Category"
                    },
                    "categories": {
                      "type": "array",
                      "description": "Organization Representing - Categories.",
                      "items": {
                        "type": "object",
                        "description": "Organization Representing - Categories - Item.",
                        "properties": {
                          "subCategories": {
                            "type": "array",
                            "description": "Organization Representing - Categories - Subcategories.",
                            "items": {
                              "type": "object",
                              "description": "Organization Representing - Categories - Subcategories - Item.",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "Organization Representing - Categories - Subcategories - Code.",
                                  "title": "Code"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Organization Representing - Categories - Subcategories - Name.",
                                  "title": "Name"
                                }
                              }
                            }
                          },
                          "code": {
                            "type": "string",
                            "description": "Organization Representing - Categories - Code.",
                            "title": "Code"
                          },
                          "name": {
                            "type": "string",
                            "description": "Organization Representing - Categories - Name.",
                            "title": "Name"
                          }
                        }
                      }
                    },
                    "customFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Organization Representing - Custom Fields - Name.",
                            "title": "Name"
                          },
                          "caption": {
                            "type": "string",
                            "description": "Organization Representing - Custom Fields - Caption.",
                            "title": "Caption"
                          },
                          "value": {
                            "type": "string",
                            "description": "Organization Representing - Custom Fields - Value.",
                            "title": "Value"
                          }
                        }
                      }
                    },
                    "showInDirectory": {
                      "type": "boolean",
                      "description": "Organization Representing - Show In Directory.",
                      "title": "Show In Directory"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Organization Representing - Links - Type.",
                            "title": "Type"
                          },
                          "url": {
                            "type": "string",
                            "description": "Organization Representing - Links - URL.",
                            "title": "URL"
                          }
                        }
                      }
                    },
                    "oldId": {
                      "type": "string",
                      "description": "Organization Representing - Old Id.",
                      "title": "Old Id"
                    }
                  }
                },
                "nominatedByCustomer": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Nominated By Customer - Nominated By Customer Id.",
                      "title": "Nominated By Customer Id"
                    },
                    "customerType": {
                      "type": "string",
                      "description": "Nominated By Customer - Customer Type.",
                      "title": "Customer Type"
                    },
                    "recordNumber": {
                      "type": "string",
                      "description": "Nominated By Customer - Record Number.",
                      "title": "Record Number"
                    },
                    "title": {
                      "type": "string",
                      "description": "Nominated By Customer - Title.",
                      "title": "Title"
                    },
                    "name": {
                      "type": "string",
                      "description": "Nominated By Customer - Name.",
                      "title": "Name"
                    },
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Nominated By Customer - Addresses - Address Id.",
                            "title": "Address Id"
                          },
                          "primary": {
                            "type": "boolean",
                            "description": "Nominated By Customer - Addresses - Is Primary.",
                            "title": "Is Primary Address"
                          },
                          "line1": {
                            "type": "string",
                            "description": "Nominated By Customer - Addresses - Line 1.",
                            "title": "Address Line 1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "Nominated By Customer - Addresses - Line 2.",
                            "title": "Address Line 2"
                          },
                          "line3": {
                            "type": "string",
                            "description": "Nominated By Customer - Addresses - Line 3.",
                            "title": "Address Line 3"
                          },
                          "city": {
                            "type": "string",
                            "description": "Nominated By Customer - Addresses - City.",
                            "title": "City"
                          },
                          "state": {
                            "type": "string",
                            "description": "Nominated By Customer - Addresses - State.",
                            "title": "State"
                          },
                          "zipcode": {
                            "type": "string",
                            "description": "Nominated By Customer - Addresses - Zip Code.",
                            "title": "Zip Code"
                          },
                          "country": {
                            "type": "string",
                            "description": "Nominated By Customer - Addresses - Country.",
                            "title": "Country"
                          },
                          "stateAbbreviation": {
                            "type": "string",
                            "description": "Nominated By Customer - Addresses - State Abbreviation.",
                            "title": "State Abbreviation"
                          },
                          "stateISOCode": {
                            "type": "string",
                            "description": "Nominated By Customer - Addresses - State ISO Code.",
                            "title": "State ISO Code"
                          },
                          "type": {
                            "type": "string",
                            "description": "Nominated By Customer - Addresses - Type.",
                            "title": "Type"
                          },
                          "region": {
                            "type": "string",
                            "description": "Nominated By Customer - Addresses - Region.",
                            "title": "Region"
                          },
                          "latitude": {
                            "type": "number",
                            "description": "Nominated By Customer - Addresses - Latitude.",
                            "title": "Latitude"
                          },
                          "longitude": {
                            "type": "number",
                            "description": "Nominated By Customer - Addresses - Longitude.",
                            "title": "Longitude"
                          },
                          "showInDirectory": {
                            "type": "boolean",
                            "description": "Nominated By Customer - Addresses - Show In Directory.",
                            "title": "Show In Directory"
                          },
                          "congressionalDistrict": {
                            "type": "string",
                            "description": "Nominated By Customer - Addresses - Congressional District.",
                            "title": "Congressional District"
                          },
                          "countryData": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Nominated By Customer - Addresses - Country - Country Id.",
                                "title": "Country Id"
                              },
                              "name": {
                                "type": "string",
                                "description": "Nominated By Customer - Addresses - Country - Country Name.",
                                "title": "Country Name"
                              },
                              "twoLetterIsoCode": {
                                "type": "string",
                                "description": "Nominated By Customer - Addresses - Country - Two Letter ISO Code.",
                                "title": "Two Letter ISO Code"
                              },
                              "threeLetterIsoCode": {
                                "type": "string",
                                "description": "Nominated By Customer - Addresses - Country - Three Letter ISO Code.",
                                "title": "Three Letter ISO Code"
                              },
                              "code": {
                                "type": "integer",
                                "description": "Nominated By Customer - Addresses - Country - Country Code.",
                                "title": "Country Code"
                              }
                            }
                          }
                        }
                      }
                    },
                    "email": {
                      "type": "string",
                      "description": "Nominated By Customer - Email.",
                      "title": "Email"
                    },
                    "imageUri": {
                      "type": "string",
                      "description": "Nominated By Customer - Image URI.",
                      "title": "Image URI"
                    },
                    "twitter": {
                      "type": "string",
                      "description": "Nominated By Customer - Twitter.",
                      "title": "Twitter"
                    },
                    "linkedIn": {
                      "type": "string",
                      "description": "Nominated By Customer - LinkedIn.",
                      "title": "LinkedIn"
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "primary": {
                            "type": "boolean",
                            "description": "Nominated By Customer - Emails - Is Primary.",
                            "title": "Is Primary Email"
                          },
                          "address": {
                            "type": "string",
                            "description": "Nominated By Customer - Emails - Address.",
                            "title": "Address"
                          },
                          "type": {
                            "type": "string",
                            "description": "Nominated By Customer - Emails - Type.",
                            "title": "Type"
                          },
                          "showInDirectory": {
                            "type": "boolean",
                            "description": "Nominated By Customer - Emails - Show In Directory.",
                            "title": "Show In Directory"
                          }
                        }
                      }
                    },
                    "phones": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Nominated By Customer - Phones - Id.",
                            "title": "Phone Id"
                          },
                          "primary": {
                            "type": "boolean",
                            "description": "Nominated By Customer - Phones - Is Primary.",
                            "title": "Is Primary Phone"
                          },
                          "type": {
                            "type": "integer",
                            "description": "Nominated By Customer - Phones - Type.",
                            "title": "Type"
                          },
                          "country": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Nominated By Customer - Phones - Country - Country Id.",
                                "title": "Country Id"
                              },
                              "name": {
                                "type": "string",
                                "description": "Nominated By Customer - Phones - Country - Country Name.",
                                "title": "Country Name"
                              },
                              "twoLetterIsoCode": {
                                "type": "string",
                                "description": "Nominated By Customer - Phones - Country - Two Letter ISO Code.",
                                "title": "Two Letter ISO Code"
                              },
                              "threeLetterIsoCode": {
                                "type": "string",
                                "description": "Nominated By Customer - Phones - Country - Three Letter ISO Code.",
                                "title": "Three Letter ISO Code"
                              },
                              "code": {
                                "type": "integer",
                                "description": "Nominated By Customer - Phones - Country - Country Code.",
                                "title": "Country Code"
                              }
                            }
                          },
                          "showInDirectory": {
                            "type": "boolean",
                            "description": "Nominated By Customer - Phones - Show In Directory.",
                            "title": "Show In Directory"
                          },
                          "number": {
                            "type": "string",
                            "description": "Nominated By Customer - Phones - Number.",
                            "title": "Number"
                          },
                          "extension": {
                            "type": "string",
                            "description": "Nominated By Customer - Phones - Extension.",
                            "title": "Extension"
                          },
                          "typeName": {
                            "type": "string",
                            "description": "Nominated By Customer - Phones - Type Name.",
                            "title": "Type Name"
                          }
                        }
                      }
                    },
                    "webSite": {
                      "type": "string",
                      "description": "Nominated By Customer - Website.",
                      "title": "Website"
                    },
                    "memberships": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "membershipType": {
                            "type": "string",
                            "description": "Nominated By Customer - Memberships - Membership Type.",
                            "title": "Membership Type"
                          },
                          "membershipTypeId": {
                            "type": "string",
                            "description": "Nominated By Customer - Memberships - Membership Type Id.",
                            "title": "Membership Type Id"
                          },
                          "code": {
                            "type": "string",
                            "description": "Nominated By Customer - Memberships - Code.",
                            "title": "Code"
                          },
                          "expireDate": {
                            "type": "string",
                            "description": "Nominated By Customer - Memberships - Expire Date.",
                            "title": "Expire Date"
                          },
                          "graceExpireDate": {
                            "type": "string",
                            "description": "Nominated By Customer - Memberships - Grace Expire Date.",
                            "title": "Grace Expire Date"
                          },
                          "inheritedMembershipBenefits": {
                            "type": "boolean",
                            "description": "Nominated By Customer - Memberships - Inherited Membership Benefits.",
                            "title": "Inherited Membership Benefits"
                          },
                          "renewalUrl": {
                            "type": "string",
                            "description": "Nominated By Customer - Memberships - Renewal URL.",
                            "title": "Renewal URL"
                          },
                          "joinDate": {
                            "type": "string",
                            "description": "Nominated By Customer - Memberships - Join Date.",
                            "title": "Join Date"
                          },
                          "terminateDate": {
                            "type": "string",
                            "description": "Nominated By Customer - Memberships - Terminate Date.",
                            "title": "Terminate Date"
                          },
                          "effectiveDate": {
                            "type": "string",
                            "description": "Nominated By Customer - Memberships - Effective Date.",
                            "title": "Effective Date"
                          }
                        }
                      }
                    },
                    "category": {
                      "type": "string",
                      "description": "Nominated By Customer - Category.",
                      "title": "Category"
                    },
                    "categories": {
                      "type": "array",
                      "description": "Nominated By Customer - Categories.",
                      "items": {
                        "type": "object",
                        "description": "Nominated By Customer - Categories - Item.",
                        "properties": {
                          "subCategories": {
                            "type": "array",
                            "description": "Nominated By Customer - Categories - Subcategories.",
                            "items": {
                              "type": "object",
                              "description": "Nominated By Customer - Categories - Subcategories - Item.",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "Nominated By Customer - Categories - Subcategories - Code.",
                                  "title": "Code"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Nominated By Customer - Categories - Subcategories - Name.",
                                  "title": "Name"
                                }
                              }
                            }
                          },
                          "code": {
                            "type": "string",
                            "description": "Nominated By Customer - Categories - Code.",
                            "title": "Code"
                          },
                          "name": {
                            "type": "string",
                            "description": "Nominated By Customer - Categories - Name.",
                            "title": "Name"
                          }
                        }
                      }
                    },
                    "customFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Nominated By Customer - Custom Fields - Name.",
                            "title": "Name"
                          },
                          "caption": {
                            "type": "string",
                            "description": "Nominated By Customer - Custom Fields - Caption.",
                            "title": "Caption"
                          },
                          "value": {
                            "type": "string",
                            "description": "Nominated By Customer - Custom Fields - Value.",
                            "title": "Value"
                          }
                        }
                      }
                    },
                    "showInDirectory": {
                      "type": "boolean",
                      "description": "Nominated By Customer - Show In Directory.",
                      "title": "Show In Directory"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Nominated By Customer - Links - Type.",
                            "title": "Type"
                          },
                          "url": {
                            "type": "string",
                            "description": "Nominated By Customer - Links - URL.",
                            "title": "URL"
                          }
                        }
                      }
                    },
                    "oldId": {
                      "type": "string",
                      "description": "Nominated By Customer - Old Id.",
                      "title": "Old Id"
                    }
                  }
                },
                "addresses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Addresses - Address Id.",
                        "title": "Address Id"
                      },
                      "primary": {
                        "type": "boolean",
                        "description": "Addresses - Is Primary.",
                        "title": "Is Primary Address"
                      },
                      "line1": {
                        "type": "string",
                        "description": "Addresses - Line 1.",
                        "title": "Address Line 1"
                      },
                      "line2": {
                        "type": "string",
                        "description": "Addresses - Line 2.",
                        "title": "Address Line 2"
                      },
                      "line3": {
                        "type": "string",
                        "description": "Addresses - Line 3.",
                        "title": "Address Line 3"
                      },
                      "city": {
                        "type": "string",
                        "description": "Addresses - City.",
                        "title": "City"
                      },
                      "state": {
                        "type": "string",
                        "description": "Addresses - State.",
                        "title": "State"
                      },
                      "zipcode": {
                        "type": "string",
                        "description": "Addresses - Zip Code.",
                        "title": "Zip Code"
                      },
                      "country": {
                        "type": "string",
                        "description": "Addresses - Country.",
                        "title": "Country"
                      },
                      "stateAbbreviation": {
                        "type": "string",
                        "description": "Addresses - State Abbreviation.",
                        "title": "State Abbreviation"
                      },
                      "stateISOCode": {
                        "type": "string",
                        "description": "Addresses - State ISO Code.",
                        "title": "State ISO Code"
                      },
                      "type": {
                        "type": "string",
                        "description": "Addresses - Type.",
                        "title": "Type"
                      },
                      "region": {
                        "type": "string",
                        "description": "Addresses - Region.",
                        "title": "Region"
                      },
                      "latitude": {
                        "type": "number",
                        "description": "Addresses - Latitude.",
                        "title": "Latitude"
                      },
                      "longitude": {
                        "type": "number",
                        "description": "Addresses - Longitude.",
                        "title": "Longitude"
                      },
                      "showInDirectory": {
                        "type": "boolean",
                        "description": "Addresses - Show In Directory.",
                        "title": "Show In Directory"
                      },
                      "congressionalDistrict": {
                        "type": "string",
                        "description": "Addresses - Congressional District.",
                        "title": "Congressional District"
                      },
                      "countryData": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Addresses - Country - Country Id.",
                            "title": "Country Id"
                          },
                          "name": {
                            "type": "string",
                            "description": "Addresses - Country - Country Name.",
                            "title": "Country Name"
                          },
                          "twoLetterIsoCode": {
                            "type": "string",
                            "description": "Addresses - Country - Two Letter ISO Code.",
                            "title": "Two Letter ISO Code"
                          },
                          "threeLetterIsoCode": {
                            "type": "string",
                            "description": "Addresses - Country - Three Letter ISO Code.",
                            "title": "Three Letter ISO Code"
                          },
                          "code": {
                            "type": "integer",
                            "description": "Addresses - Country - Country Code.",
                            "title": "Country Code"
                          }
                        }
                      }
                    }
                  }
                },
                "phones": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Phones - Id.",
                        "title": "Phone Id"
                      },
                      "primary": {
                        "type": "boolean",
                        "description": "Phones - Is Primary.",
                        "title": "Is Primary Phone"
                      },
                      "type": {
                        "type": "integer",
                        "description": "Phones - Type.",
                        "title": "Type"
                      },
                      "country": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Phones - Country - Country Id.",
                            "title": "Country Id"
                          },
                          "name": {
                            "type": "string",
                            "description": "Phones - Country - Country Name.",
                            "title": "Country Name"
                          },
                          "twoLetterIsoCode": {
                            "type": "string",
                            "description": "Phones - Country - Two Letter ISO Code.",
                            "title": "Two Letter ISO Code"
                          },
                          "threeLetterIsoCode": {
                            "type": "string",
                            "description": "Phones - Country - Three Letter ISO Code.",
                            "title": "Three Letter ISO Code"
                          },
                          "code": {
                            "type": "integer",
                            "description": "Phones - Country - Country Code.",
                            "title": "Country Code"
                          }
                        }
                      },
                      "showInDirectory": {
                        "type": "boolean",
                        "description": "Phones - Show In Directory.",
                        "title": "Show In Directory"
                      },
                      "number": {
                        "type": "string",
                        "description": "Phones - Number.",
                        "title": "Number"
                      },
                      "extension": {
                        "type": "string",
                        "description": "Phones - Extension.",
                        "title": "Extension"
                      },
                      "typeName": {
                        "type": "string",
                        "description": "Phones - Type Name.",
                        "title": "Type Name"
                      }
                    }
                  }
                },
                "emails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "primary": {
                        "type": "boolean",
                        "description": "Emails - Is Primary.",
                        "title": "Is Primary Email"
                      },
                      "address": {
                        "type": "string",
                        "description": "Emails - Address.",
                        "title": "Address"
                      },
                      "type": {
                        "type": "string",
                        "description": "Emails - Type.",
                        "title": "Type"
                      },
                      "showInDirectory": {
                        "type": "boolean",
                        "description": "Emails - Show In Directory.",
                        "title": "Show In Directory"
                      }
                    }
                  }
                },
                "rank": {
                  "type": "integer",
                  "description": "Rank.",
                  "title": "Rank"
                }
              }
            }
          }
        },
        "summary": "Add Individual to Committee",
        "description": "Add Individual to Committee.",
        "operationId": "Add-To-Committee",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Committee Code.",
            "x-ms-summary": "Committee Code",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Committee Member Data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommitteeMemberCreateData"
            }
          }
        ]
      }
    },
    "/api/v1/Committees/{code}/Members/{memberRecordNumber}/{currentPositionCode}": {
      "put": {
        "tags": ["Committee"],
        "summary": "Update Committee Member",
        "description": "Update Committee Member.",
        "operationId": "Update-Committee-Member",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Committee Code.",
            "x-ms-summary": "Committee Code",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "memberRecordNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Member Record Number.",
            "x-ms-summary": "Member Record Number",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "currentPositionCode",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Current Position Code.",
            "x-ms-summary": "Current Position Code",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommitteeMemberUpdateData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          }
        }
      }
    },
    "/api/v1/Organizations": {
      "post": {
        "tags": ["Organization"],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OrganizationData"
            }
          }
        },
        "summary": "Add Organization",
        "description": "Add Organization.",
        "operationId": "Add-Organization",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Id.",
                  "title": "Id",
                  "x-ms-visibility": "internal"
                },
                "name": {
                  "type": "string",
                  "description": "Name.",
                  "title": "Name"
                },
                "showInDirectory": {
                  "type": "boolean",
                  "description": "Show In Directory.",
                  "title": "Show In Directory",
                  "x-ms-visibility": "internal",
                  "enum": [true, false],
                  "default": false
                },
                "branchName": {
                  "type": "string",
                  "description": "Branch Name.",
                  "title": "Branch Name",
                  "x-ms-visibility": "advanced"
                },
                "website": {
                  "type": "string",
                  "description": "Website.",
                  "title": "Website",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": ["name", "showInDirectory"]
            }
          }
        ]
      }
    },
    "/api/v1/Organizations/{id}": {
      "put": {
        "tags": ["Organization"],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OrganizationData"
            }
          }
        },
        "summary": "Update Organization",
        "description": "Update Organization.",
        "operationId": "Update-Organization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Organization Id.",
            "x-ms-summary": "Organization Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name.",
                  "title": "Name"
                },
                "description": {
                  "type": "string",
                  "description": "Description.",
                  "title": "Description"
                },
                "showInDirectory": {
                  "type": "boolean",
                  "description": "Show In Directory.",
                  "title": "Show In Directory",
[...]
