{
  "basePath": "/",
  "consumes": [],
  "definitions": {},
  "host": "acuityscheduling.com",
  "info": {
    "description": "The Acuity Scheduling (Sample) connector enables you to create new clients and view your blocked times in your account.",
    "title": "Acuity Scheduling",
    "version": "1.0"
  },
  "parameters": {},
  "paths": {
    "/api/v1/blocks": {
      "get": {
        "description": "Get blocked times on your Acuity calendar(s)",
        "operationId": "GetBlockedTimes",
        "parameters": [
          {
            "description": "The max number of blocked times to return",
            "in": "query",
            "name": "max",
            "required": false,
            "type": "integer",
            "x-ms-summary": "The max number of blocked times to return"
          },
          {
            "description": "The minimum date to query for blocked times",
            "in": "query",
            "name": "minDate",
            "required": false,
            "type": "string",
            "x-ms-summary": "The minimum date to query for blocked times"
          },
          {
            "description": "The maximum date to query for blocked times",
            "in": "query",
            "name": "maxDate",
            "required": false,
            "type": "string",
            "x-ms-summary": "The maximum date to query for blocked times"
          },
          {
            "description": "The unique ID of the calendar",
            "in": "query",
            "name": "calendarID",
            "required": false,
            "type": "integer",
            "x-ms-summary": "The unique ID of the calendar"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "items": {
                "properties": {
                  "calendarID": {
                    "description": "The unique calendar ID",
                    "format": "int32",
                    "title": "calendarID",
                    "type": "integer",
                    "x-ms-visibility": "important"
                  },
                  "description": {
                    "description": "The description of the calendar block",
                    "title": "description",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "end": {
                    "description": "The end time of the calendar block",
                    "title": "end",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "id": {
                    "description": "The ID of the calendar block",
                    "format": "int32",
                    "title": "id",
                    "type": "integer"
                  },
                  "notes": {
                    "description": "The notes associated with the blocked calendar time",
                    "title": "notes",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "recurring": {
                    "description": "Whether the block is recurring (null, weekly, monthly, etc.)",
                    "title": "recurring",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "start": {
                    "description": "The start time of the calendar block",
                    "title": "start",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "until": {
                    "description": "If the block is recurring, the end time of recurrence",
                    "title": "until",
                    "type": "string",
                    "x-ms-visibility": "important"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          }
        },
        "summary": "Get Blocked Times",
        "x-ms-visibility": "important"
      }
    },
    "/api/v1/clients": {
      "post": {
        "description": "Create a new client in your client list",
        "operationId": "CreateNewClient",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "email": {
                  "description": "The client's email address",
                  "title": "email",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "firstName": {
                  "description": "The client's first name",
                  "title": "firstName",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "lastName": {
                  "description": "The client's last name",
                  "title": "lastName",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "notes": {
                  "description": "The notes associated with the client record",
                  "title": "notes",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "phone": {
                  "description": "The client's phone number",
                  "title": "phone",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "firstName",
                "lastName"
              ],
              "type": "object",
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "properties": {
                "email": {
                  "description": "The client's email address",
                  "title": "email",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "firstName": {
                  "description": "The client's first name",
                  "title": "firstName",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "lastName": {
                  "description": "The client's last name",
                  "title": "lastName",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "notes": {
                  "description": "The notes associated with the client record",
                  "title": "notes",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "phone": {
                  "description": "The client's phone number",
                  "title": "phone",
                  "type": "string",
                  "x-ms-visibility": "internal"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Create New Client",
        "x-ms-visibility": "important"
      }
    },
    "/v1/blocks": {}
  },
  "produces": [],
  "responses": {},
  "schemes": [
    "https"
  ],
  "security": [],
  "securityDefinitions": {
    "undefined": {
      "type": "basic"
    }
  },
  "swagger": "2.0",
  "tags": []
}