{
  "swagger": "2.0",
  "info": {
    "title": "ITOC360",
    "description": "ITOC360 is an on-call alert routing and incident management platform for DevOps, SRE, and IT operations teams. Use this connector to send alert and resolve events from your flows to ITOC360, where they are deduplicated, routed through escalation policies, and delivered to the right on-call engineer.",
    "version": "1.0",
    "contact": {
      "name": "ITOC360",
      "url": "https://itoc360.com",
      "email": "support@itoc360.com"
    }
  },
  "host": "api.itoc360.app",
  "basePath": "/functions/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/events": {
      "post": {
        "summary": "Send event",
        "description": "Sends an alert or resolve event to ITOC360.",
        "operationId": "SendEvent",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "event_type",
                "title",
                "host",
                "severity"
              ],
              "properties": {
                "event_type": {
                  "type": "string",
                  "title": "Event type",
                  "description": "Whether to trigger a new alert or resolve an existing one.",
                  "enum": [
                    "alert",
                    "resolve"
                  ],
                  "default": "alert"
                },
                "title": {
                  "type": "string",
                  "title": "Title",
                  "description": "Short summary of the alert."
                },
                "host": {
                  "type": "string",
                  "title": "Host",
                  "description": "Source host or system identifier the alert relates to."
                },
                "severity": {
                  "type": "string",
                  "title": "Severity",
                  "description": "Severity level of the alert.",
                  "enum": [
                    "critical",
                    "high",
                    "medium",
                    "low"
                  ],
                  "default": "medium"
                },
                "message": {
                  "type": "string",
                  "title": "Message",
                  "description": "Detailed alert message."
                },
                "source": {
                  "type": "string",
                  "title": "Source",
                  "description": "Flow name or identifier. Used together with title and host to group related alerts."
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Timestamp",
                  "description": "ISO 8601 timestamp for the event. Defaults to the time the event is received if left empty."
                }
              }
            },
            "description": "The event to send to ITOC360."
          }
        ],
        "responses": {
          "200": {
            "description": "Event accepted by ITOC360.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "title": "Event ID",
                  "description": "Unique identifier of the created event."
                },
                "type": {
                  "type": "string",
                  "title": "Type",
                  "description": "Processed event type, ALERT or RESOLVE."
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Created at",
                  "description": "Timestamp the event was recorded."
                },
                "payload": {
                  "type": "object",
                  "title": "Payload",
                  "description": "The event payload as received."
                },
                "tenant_id": {
                  "type": "string",
                  "title": "Tenant ID",
                  "description": "Identifier of the tenant the event belongs to.",
                  "x-ms-visibility": "internal"
                },
                "provider_id": {
                  "type": "integer",
                  "title": "Provider ID",
                  "description": "Identifier of the provider that processed the event.",
                  "x-ms-visibility": "internal"
                },
                "source_id": {
                  "type": "string",
                  "title": "Source ID",
                  "description": "Identifier of the source the event was sent to.",
                  "x-ms-visibility": "internal"
                },
                "fingerprint": {
                  "type": "string",
                  "title": "Fingerprint",
                  "description": "Correlation key used to group related events.",
                  "x-ms-visibility": "internal"
                }
              }
            }
          },
          "400": {
            "description": "The payload does not match the expected schema."
          },
          "404": {
            "description": "No source matches the provided token."
          },
          "default": {
            "description": "Operation failed."
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "token"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://itoc360.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.itoc360.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Communication"
    }
  ]
}
