{
  "swagger": "2.0",
  "info": {
    "version": "2.0.0",
    "title": "GSA Analytics",
    "description": "This program helps government agencies understand how people find, access, and use government services online. The program does not track individuals and anonymizes the IP addresses of visitors.",
    "contact": {
      "name": "Richard Wilson",
      "email": "richard.a.wilson@microsoft.com",
      "url": "https://www.richardawilson.com/"
    }
  },
  "host": "api.gsa.gov",
  "basePath": "/analytics/dap/v2",
  "schemes": [
    "https"
  ],
  "paths": {
    "/reports/{report_name}/data": {
      "get": {
        "operationId": "GetReportData",
        "summary": "Get report data",
        "description": "Retrieves data from a specific report in the DAP.",
        "parameters": [
          {
            "name": "report_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the report.",
            "x-ms-summary": "Report name",
            "x-ms-url-encoding": "single",
            "enum": [
              "download",
              "traffic-source",
              "device-model",
              "domain",
              "site",
              "second-level-domain",
              "language",
              "os-browser",
              "windows-browser",
              "browser",
              "windows-ie",
              "os",
              "windows",
              "ie",
              "device"
            ],
            "x-ms-enum-values": [
              {
                "value": "download",
                "displayName": "Download"
              },
              {
                "value": "traffic-source",
                "displayName": "Traffic source"
              },
              {
                "value": "device-model",
                "displayName": "Device model"
              },
              {
                "value": "domain",
                "displayName": "Domain"
              },
              {
                "value": "site",
                "displayName": "Site"
              },
              {
                "value": "second-level-domain",
                "displayName": "Second-level domain"
              },
              {
                "value": "language",
                "displayName": "Language"
              },
              {
                "value": "os-browser",
                "displayName": "OS browser"
              },
              {
                "value": "windows-browser",
                "displayName": "Windows browser"
              },
              {
                "value": "browser",
                "displayName": "Browser"
              },
              {
                "value": "windows-ie",
                "displayName": "Windows IE"
              },
              {
                "value": "os",
                "displayName": "OS"
              },
              {
                "value": "windows",
                "displayName": "Windows"
              },
              {
                "value": "ie",
                "displayName": "IE"
              },
              {
                "value": "device",
                "displayName": "Device"
              }
            ]
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/after"
          },
          {
            "$ref": "#/parameters/before"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of reports.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Reports"
              }
            }
          },
          "default": {
            "description": "Unexpected error."
          }
        }
      }
    },
    "/agencies/{agency_name}/reports/{report_name}/data": {
      "get": {
        "operationId": "GetAgencyReportData",
        "summary": "Get agency report data",
        "description": "Retrieves data from a specific report for a specific agency in the DAP.",
        "parameters": [
          {
            "name": "agency_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the agency.",
            "x-ms-summary": "Agency name",
            "x-ms-url-encoding": "single",
            "enum": [
              "agency-international-development",
              "american-battle-monuments-commission",
              "commodity-futures-trading-commission",
              "consumer-financial-protection-bureau",
              "consumer-product-safety-commission",
              "corporation-national-community-service",
              "defense-nuclear-facilities-safety-board",
              "agriculture",
              "commerce",
              "defense",
              "education",
              "energy",
              "health-human-services",
              "homeland-security",
              "housing-urban-development",
              "interior",
              "justice",
              "labor",
              "state",
              "transportation",
              "treasury",
              "veterans-affairs",
              "environmental-protection-agency",
              "equal-employment-opportunity-commission",
              "executive-office-president",
              "farm-credit-administration",
              "federal-deposit-insurance-corporation",
              "federal-election-commission",
              "federal-energy-regulatory-commission",
              "federal-housing-finance-agency",
              "federal-maritime-commission",
              "federal-mine-safety-health-review-commission",
              "federal-retirement-thrift-investment-board",
              "federal-trade-commission",
              "general-services-administration",
              "institute-museum-library-services",
              "inter-american-foundation",
              "international-development-finance-corporation",
              "merit-systems-protection-board",
              "millennium-challenge-corporation",
              "national-aeronautics-space-administration",
              "national-archives-records-administration",
              "national-capital-planning-commission",
              "national-council-disability",
              "national-credit-union-administration",
              "national-education-association",
              "national-endowment-humanities",
              "national-labor-relations-board",
              "national-mediation-board",
              "national-reconnaissance-office",
              "national-science-foundation",
              "national-transportation-safety-board",
              "nuclear-regulatory-commission",
              "nuclear-waste-technical-review-board",
              "office-director-national-intelligence",
              "office-government-ethics",
              "office-navajo-hopi-indian-relocation",
              "office-personnel-management",
              "peace-corps",
              "pension-benefit-guaranty-corporation",
              "postal-regulatory-commission",
              "privacy-civil-liberties-oversight-board",
              "public-buildings-reform-board",
              "securities-exchange-commission",
              "small-business-administration",
              "social-security-administration",
              "special-inspector-general-afghanistan-restoration",
              "surface-transportation-board",
              "udall-foundation",
              "access-board",
              "agency-global-media",
              "commission-civil-rights",
              "international-trade-commission",
              "postal-inspection-service",
              "postal-service",
              "railroad-retirement-board",
              "trade-development-agency"
            ],
            "x-ms-enum-values": [
              {
                "value": "agency-international-development",
                "displayName": "Agency for International Development"
              },
              {
                "value": "american-battle-monuments-commission",
                "displayName": "American Battle Monuments Commission"
              },
              {
                "value": "commodity-futures-trading-commission",
                "displayName": "Commodity Futures Trading Commission"
              },
              {
                "value": "consumer-financial-protection-bureau",
                "displayName": "Consumer Financial Protection Bureau"
              },
              {
                "value": "consumer-product-safety-commission",
                "displayName": "Consumer Product Safety Commission"
              },
              {
                "value": "corporation-national-community-service",
                "displayName": "Corporation for National and Community Service"
              },
              {
                "value": "defense-nuclear-facilities-safety-board",
                "displayName": "Defense Nuclear Facilities Safety Board"
              },
              {
                "value": "agriculture",
                "displayName": "Department of Agriculture"
              },
              {
                "value": "commerce",
                "displayName": "Department of Commerce"
              },
              {
                "value": "defense",
                "displayName": "Department of Defense"
              },
              {
                "value": "education",
                "displayName": "Department of Education"
              },
              {
                "value": "energy",
                "displayName": "Department of Energy"
              },
              {
                "value": "health-human-services",
                "displayName": "Department of Health and Human Services"
              },
              {
                "value": "homeland-security",
                "displayName": "Department of Homeland Security"
              },
              {
                "value": "housing-urban-development",
                "displayName": "Department of Housing and Urban Development"
              },
              {
                "value": "interior",
                "displayName": "Department of the Interior"
              },
              {
                "value": "justice",
                "displayName": "Department of Justice"
              },
              {
                "value": "labor",
                "displayName": "Department of Labor"
              },
              {
                "value": "state",
                "displayName": "Department of State"
              },
              {
                "value": "transportation",
                "displayName": "Department of Transportation"
              },
              {
                "value": "treasury",
                "displayName": "Department of the Treasury"
              },
              {
                "value": "veterans-affairs",
                "displayName": "Department of Veterans Affairs"
              },
              {
                "value": "environmental-protection-agency",
                "displayName": "Environmental Protection Agency"
              },
              {
                "value": "equal-employment-opportunity-commission",
                "displayName": "Equal Employment Opportunity Commission"
              },
              {
                "value": "executive-office-president",
                "displayName": "Executive Office of the President"
              },
              {
                "value": "farm-credit-administration",
                "displayName": "Farm Credit Administration"
              },
              {
                "value": "federal-deposit-insurance-corporation",
                "displayName": "Federal Deposit Insurance Corporation"
              },
              {
                "value": "federal-election-commission",
                "displayName": "Federal Election Commission"
              },
              {
                "value": "federal-energy-regulatory-commission",
                "displayName": "Federal Energy Regulatory Commission"
              },
              {
                "value": "federal-housing-finance-agency",
                "displayName": "Federal Housing Finance Agency"
              },
              {
                "value": "federal-maritime-commission",
                "displayName": "Federal Maritime Commission"
              },
              {
                "value": "federal-mine-safety-health-review-commission",
                "displayName": "Federal Mine Safety and Health Review Commission"
              },
              {
                "value": "federal-retirement-thrift-investment-board",
                "displayName": "Federal Retirement Thrift Investment Board"
              },
              {
                "value": "federal-trade-commission",
                "displayName": "Federal Trade Commission"
              },
              {
                "value": "general-services-administration",
                "displayName": "General Services Administration"
              },
              {
                "value": "institute-museum-library-services",
                "displayName": "Institute of Museum and Library Services"
              },
              {
                "value": "inter-american-foundation",
                "displayName": "Inter-American Foundation"
              },
              {
                "value": "international-development-finance-corporation",
                "displayName": "International Development Finance Corporation"
              },
              {
                "value": "merit-systems-protection-board",
                "displayName": "Merit Systems Protection Board"
              },
              {
                "value": "millennium-challenge-corporation",
                "displayName": "Millennium Challenge Corporation"
              },
              {
                "value": "national-aeronautics-space-administration",
                "displayName": "National Aeronautics and Space Administration"
              },
              {
                "value": "national-archives-records-administration",
                "displayName": "National Archives and Records Administration"
              },
              {
                "value": "national-capital-planning-commission",
                "displayName": "National Capital Planning Commission"
              },
              {
                "value": "national-council-disability",
                "displayName": "National Council on Disability"
              },
              {
                "value": "national-credit-union-administration",
                "displayName": "National Credit Union Administration"
              },
              {
                "value": "national-education-association",
                "displayName": "National Education Association"
              },
              {
                "value": "national-endowment-humanities",
                "displayName": "National Endowment For The Humanities"
              },
              {
                "value": "national-labor-relations-board",
                "displayName": "National Labor Relations Board"
              },
              {
                "value": "national-mediation-board",
                "displayName": "National Mediation Board"
              },
              {
                "value": "national-reconnaissance-office",
                "displayName": "National Reconnaissance Office"
              },
              {
                "value": "national-science-foundation",
                "displayName": "National Science Foundation"
              },
              {
                "value": "national-transportation-safety-board",
                "displayName": "National Transportation Safety Board"
              },
              {
                "value": "nuclear-regulatory-commission",
                "displayName": "Nuclear Regulatory Commission"
              },
              {
                "value": "nuclear-waste-technical-review-board",
                "displayName": "Nuclear Waste Technical Review Board"
              },
              {
                "value": "office-director-national-intelligence",
                "displayName": "Office of the Director of National Intelligence"
              },
              {
                "value": "office-government-ethics",
                "displayName": "Office of Government Ethics"
              },
              {
                "value": "office-navajo-hopi-indian-relocation",
                "displayName": "Office of Navajo and Hopi Indian Relocation"
              },
              {
                "value": "office-personnel-management",
                "displayName": "Office of Personnel Management"
              },
              {
                "value": "peace-corps",
                "displayName": "Peace Corps"
              },
              {
                "value": "pension-benefit-guaranty-corporation",
                "displayName": "Pension Benefit Guaranty Corporation"
              },
              {
                "value": "postal-regulatory-commission",
                "displayName": "Postal Regulatory Commission"
              },
              {
                "value": "privacy-civil-liberties-oversight-board",
                "displayName": "Privacy and Civil Liberties Oversight Board"
              },
              {
                "value": "public-buildings-reform-board",
                "displayName": "Public Buildings Reform Board"
              },
              {
                "value": "securities-exchange-commission",
                "displayName": "Securities and Exchange Commission"
              },
              {
                "value": "small-business-administration",
                "displayName": "Small Business Administration"
              },
              {
                "value": "social-security-administration",
                "displayName": "Social Security Administration"
              },
              {
                "value": "special-inspector-general-afghanistan-restoration",
                "displayName": "Special Inspector General for Afghanistan Reconstruction"
              },
              {
                "value": "surface-transportation-board",
                "displayName": "Surface Transportation Board"
              },
              {
                "value": "udall-foundation",
                "displayName": "Udall Foundation"
              },
              {
                "value": "access-board",
                "displayName": "U.S. Access Board"
              },
              {
                "value": "agency-global-media",
                "displayName": "U.S. Agency for Global Media"
              },
              {
                "value": "commission-civil-rights",
                "displayName": "U.S. Commission on Civil Rights"
              },
              {
                "value": "international-trade-commission",
                "displayName": "U.S. International Trade Commission"
              },
              {
                "value": "postal-inspection-service",
                "displayName": "U.S. Postal Inspection Service"
              },
              {
                "value": "postal-service",
                "displayName": "U.S. Postal Service"
              },
              {
                "value": "railroad-retirement-board",
                "displayName": "U.S. Railroad Retirement Board"
              },
              {
                "value": "trade-development-agency",
                "displayName": "U.S. Trade and Development Agency"
              }
            ]
          },
          {
            "name": "report_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the report.",
            "x-ms-summary": "Report name",
            "x-ms-url-encoding": "single",
            "enum": [
              "download",
              "traffic-source",
              "device-model",
              "domain",
              "site",
              "second-level-domain",
              "language",
              "os-browser",
              "windows-browser",
              "browser",
              "windows-ie",
              "os",
              "windows",
              "ie",
              "device"
            ],
            "x-ms-enum-values": [
              {
                "value": "download",
                "displayName": "Download"
              },
              {
                "value": "traffic-source",
                "displayName": "Traffic source"
              },
              {
                "value": "device-model",
                "displayName": "Device model"
              },
              {
                "value": "domain",
                "displayName": "Domain"
              },
              {
                "value": "site",
                "displayName": "Site"
              },
              {
                "value": "second-level-domain",
                "displayName": "Second-level domain"
              },
              {
                "value": "language",
                "displayName": "Language"
              },
              {
                "value": "os-browser",
                "displayName": "OS browser"
              },
              {
                "value": "windows-browser",
                "displayName": "Windows browser"
              },
              {
                "value": "browser",
                "displayName": "Browser"
              },
              {
                "value": "windows-ie",
                "displayName": "Windows IE"
              },
              {
                "value": "os",
                "displayName": "OS"
              },
              {
                "value": "windows",
                "displayName": "Windows"
              },
              {
                "value": "ie",
                "displayName": "IE"
              },
              {
                "value": "device",
                "displayName": "Device"
              }
            ]
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/after"
          },
          {
            "$ref": "#/parameters/before"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of reports.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Reports"
              }
            }
          },
          "default": {
            "description": "Unexpected error."
          }
        }
      }
    },
    "/domain/{domain}/reports/{report_name}/data": {
      "get": {
        "operationId": "GetDomainReportData",
        "summary": "Get domain report data",
        "description": "Retrieves data from a specific report for a specific domain in the DAP.",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the domain.",
            "x-ms-summary": "Domain",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "report_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the report.",
            "x-ms-summary": "Report name",
            "x-ms-url-encoding": "single",
            "enum": [
              "download",
              "domain",
              "site",
              "second-level-domain"
            ],
            "x-ms-enum-values": [
              {
                "value": "download",
                "displayName": "Download"
              },
              {
                "value": "domain",
                "displayName": "Domain"
              },
              {
                "value": "site",
                "displayName": "Site"
              },
              {
                "value": "second-level-domain",
                "displayName": "Second-level domain"
              }
            ]
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/after"
          },
          {
            "$ref": "#/parameters/before"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of reports.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Reports"
              }
            }
          },
          "default": {
            "description": "Unexpected error."
          }
        }
      }
    }
  },
  "parameters": {
    "limit": {
      "x-ms-summary": "Limit",
      "name": "limit",
      "in": "query",
      "description": "Limit the number of data points that are rendered. The default is 1000 and the max is 10,000.",
      "type": "integer"
    },
    "page": {
      "x-ms-summary": "Page",
      "name": "page",
      "in": "query",
      "description": "Pages through the results. If the limit is set to 1000, using page=2 will render the 1001st through 2000th data point.",
      "type": "integer"
    },
    "after": {
      "x-ms-summary": "After",
      "name": "after",
      "in": "query",
      "description": "Limit the results to dates on or after the date specified. Expects YYYY-MM-DD.",
      "type": "string",
      "format": "date"
    },
    "before": {
      "x-ms-summary": "Before",
      "name": "before",
      "in": "query",
      "description": "Limit the results to dates on or before the date specified. Expects YYYY-MM-DD.",
      "type": "string",
      "format": "date"
    }
  },
  "definitions": {
    "Reports": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "title": "ID",
          "description": "Generated unique identifier.",
          "format": "int32"
        },
        "report_name": {
          "type": "string",
          "title": "Report Name",
          "description": "The name of the data point\u2019s report."
        },
        "report_agency": {
          "type": "string",
          "title": "Report Agency",
          "description": "The name of the data point\u2019s agency."
        },
        "date": {
          "type": "string",
          "title": "Date",
          "description": "The date the data in the data point corresponds to."
        },
        "active_visitors": {
          "type": "integer",
          "title": "Active Visitors",
          "description": "The number of active visitors."
        },
        "avg_session_duration": {
          "type": "number",
          "title": "Average Session Duration",
          "description": "The average duration of sessions."
        },
        "bounce_rate": {
          "type": "number",
          "title": "Bounce Rate",
          "description": "The percentage of visitors who leave after viewing one page."
        },
        "browser": {
          "type": "string",
          "title": "Browser",
          "description": "The browser used by the visitor."
        },
        "city": {
          "type": "string",
          "title": "City",
          "description": "The city from which the visitor accessed the service."
        },
        "country": {
          "type": "string",
          "title": "Country",
          "description": "The country from which the visitor accessed the service."
        },
        "device": {
          "type": "string",
          "title": "Device",
          "description": "The type of device used by the visitor."
        },
        "domain": {
          "type": "string",
          "title": "Domain",
          "description": "The domain accessed by the visitor."
        },
        "event_label": {
          "type": "string",
          "title": "Event Label",
          "description": "The label for the event."
        },
        "file_name": {
          "type": "string",
          "title": "File Name",
          "description": "The name of the downloaded file."
        },
        "hour": {
          "type": "string",
          "title": "Hour",
          "description": "The hour of the day the data point corresponds to."
        },
        "landing_page": {
          "type": "string",
          "title": "Landing Page",
          "description": "The landing page visited by the user."
        },
        "language": {
          "type": "string",
          "title": "Language",
          "description": "The language setting of the user\u2019s browser."
        },
        "language_code": {
          "type": "string",
          "title": "Language Code",
          "description": "The ISO639 language code of the user\u2019s device."
        },
        "mobile_device": {
          "type": "string",
          "title": "Mobile Device",
          "description": "The type of mobile device used by the visitor."
        },
        "os": {
          "type": "string",
          "title": "Operating System",
          "description": "The operating system of the visitor, e.g., Windows."
        },
        "os_version": {
          "type": "string",
          "title": "Operating System Version",
          "description": "The version of the operating system of the visitor, e.g., Vista."
        },
        "page": {
          "type": "string",
          "title": "Page",
          "description": "The path of the page visited."
        },
        "page_title": {
          "type": "string",
          "title": "Page Title",
          "description": "The title of the page visited."
        },
        "pageviews": {
          "type": "integer",
          "title": "Pageviews",
          "description": "The number of page views."
        },
        "pageviews_per_session": {
          "type": "integer",
          "title": "Pageviews per Session",
          "description": "The number of page views per session."
        },
        "screen_resolution": {
          "type": "string",
          "title": "Screen Resolution",
          "description": "The screen resolution of the visitor's device."
        },
        "session_default_channel_group": {
          "type": "string",
          "title": "Session Default Channel Group",
          "description": "The default channel group for the session."
        },
        "source": {
          "type": "string",
          "title": "Source",
          "description": "The source of the traffic."
        },
        "total_events": {
          "type": "integer",
          "title": "Total Events",
          "description": "The total number of events.",
          "format": "int32"
        },
        "users": {
          "type": "integer",
          "title": "Users",
          "description": "The number of users.",
          "format": "int32"
        },
        "visits": {
          "type": "integer",
          "title": "Visits",
          "description": "The number of visits.",
          "format": "int32"
        }
      }
    }
  },
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://open.gsa.gov/api/site-scanning-api"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.gsa.gov/technology/government-it-initiatives/digital-strategy/terms-of-service-for-developer-resources"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations"
    }
  ]
}