{
  "swagger": "2.0",
  "info": {
    "title": "SoloSign HMAC Hash Creator",
    "description": "Securely encode your private data, streamline your flows and apps. Generate SHA, BASE64, MD5, BLAKE2 hash digest and more.",
    "version": "1.0",
	"contact": {
      "name": "Solort Support",
      "url": "https://solort.com/contact",
      "email": "support@solort.com"
	}
  },
  "host": "solosignapi.solort.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/generate-hmac": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create HMAC",
        "description": "Create a Hash based message authentication code HMAC using a secret key",
        "operationId": "CreateHMAC",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "request_string": {
                  "type": "string",
                  "description": "Data to be hash signed",
                  "title": "Data",
                  "x-ms-visibility": "important"
                },
                "secret_key": {
                  "type": "string",
                  "description": "You key to sign the hash",
                  "title": "Key",
                  "x-ms-visibility": "important"
                },
                "output_format": {
                  "type": "string",
                  "description": "Select a output type, default is base64",
                  "title": "Output Type",
                  "x-ms-visibility": "important",
                  "enum": [
                    "hex",
                    "base32",
                    "base64",
                    "base64url",
                    "hash"
                  ]
                },
                "encode_type": {
                  "type": "string",
                  "description": "Default value is utf-8",
                  "title": "Encoding Type",
                  "x-ms-visibility": "important",
                  "enum": [
                    "utf-7",
                    "utf-8",
                    "utf-32",
                    "ascii",
                    "unicode"
                  ]
                },
                "hash_algorithm": {
                  "type": "string",
                  "description": "Select a hash algorithm, default is sha256",
                  "title": "Hash Digest",
                  "x-ms-visibility": "important",
                  "enum": [
                    "sha1",
                    "sha224",
                    "sha256",
                    "sha384",
                    "sha512",
                    "sha3_224",
                    "sha3_256",
                    "sha3_384",
                    "sha3_512",
                    "shake_128",
                    "shake_256",
                    "blake2b",
                    "blake2s",
                    "md5"
                  ]
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "request_string",
                "secret_key"
              ]
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://solort.com"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://solort.com/terms"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Data;Website"
      }
    ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Api-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}