{
  "swagger": "2.0",
  "info": {
    "title": "Tendocs Documents",
    "description": "A fast, simple, and smart service to automate the creation of Office documents using AI, text, images, documents and tables. More Information: https://www.tendocs.com",
    "contact": {
      "name": "Support",
      "url": "https://www.tendocs.com",
      "email": "support@tendocs.com"
    },
    "version": "v1.1.1"
  },
  "host": "api.tendocs.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/documents/v1/template": {
      "post": {
        "tags": [
          "Documents",
          "Template"
        ],
        "operationId": "V1DocumentTemplatePost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentTemplateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TemplateResponse"
            }
          },
          "403": {
            "description": "The request is not authorized to make the template request"
          },
          "404": {
            "description": "Service has not been found, please contact support@tendocs.com"
          },
          "500": {
            "description": "Something has gone wrong, please contact support@tendocs.com"
          }
        },
        "summary": "Create a new document from a template",
        "description": "Create a new Office document by merging an office template with text, images, documents and tables."
      }
    },
    "/envelopes/v1/instances": {
      "post": {
        "tags": [
          "Template",
          "Envelopes"
        ],
        "operationId": "V1EnvelopesInstancesPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvelopesInstancesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InstancesResponse"
            }
          },
          "403": {
            "description": "The request is not authorized to make the template request"
          },
          "404": {
            "description": "Service has not been found, please contact support@tendocs.com"
          },
          "500": {
            "description": "Something has gone wrong, please contact support@tendocs.com"
          }
        },
        "summary": "Securely share a PDF document",
        "description": "Securely share a PDF document with activity tracking, comments, terms and more."
      }
    },
    "/documents/v1/jsonTemplate": {
      "post": {
        "tags": [
          "Documents",
          "Template"
        ],
        "operationId": "V1DocumentJsonTemplatePost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JsonDocumentTemplateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TemplateResponse"
            }
          },
          "403": {
            "description": "The request is not authorized to make the template request"
          },
          "404": {
            "description": "Service has not been found, please contact support@tendocs.com"
          },
          "500": {
            "description": "Something has gone wrong, please contact support@tendocs.com"
          }
        },
        "summary": "Create a new document from a template and JSON",
        "description": "Create a new Office document by merging an office template with JSON Object."
      }
    },
    "/conversion/v1/convert": {
      "post": {
        "tags": [
          "Documents",
          "Conversion"
        ],
        "operationId": "V1ConversionConvertPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConversionConvertRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConversionResponse"
            }
          },
          "403": {
            "description": "The request is not authorized to make the conversion request"
          },
          "404": {
            "description": "Service has not been found, please contact support@tendocs.com"
          },
          "500": {
            "description": "Something has gone wrong, please contact support@tendocs.com"
          }
        },
        "summary": "Convert a document to PDF, HTML or TXT",
        "description": "Convert a document to a new file format. Includes PDF and HTML."
      }
    },
    "/ai/v1/tasks/summary": {
      "post": {
        "tags": [
          "Documents",
          "AI"
        ],
        "operationId": "V1AiSummaryPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AiSummaryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AiSummaryResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Returns the URL where the results of the job can be retrieved.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request is not authorized to make the conversion request"
          },
          "404": {
            "description": "Service has not been found, please contact support@tendocs.com"
          },
          "500": {
            "description": "Something has gone wrong, please contact support@tendocs.com"
          }
        },
        "summary": "Summarise a document using AI",
        "description": "Create a AI (GPT-4) generated summary of the provided document."
      }
    },
    "/ai/v1/tasks/summary/{jobId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/AiSummaryResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Returns the URL where the results of the job can be retrieved.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request is not authorized to make the conversion request"
          },
          "404": {
            "description": "Service has not been found, please contact support@tendocs.com"
          },
          "500": {
            "description": "Something has gone wrong, please contact support@tendocs.com"
          }
        },
        "summary": "V1AiSummaryResult",
        "description": "Status of the summary call",
        "operationId": "V1AiSummaryResult",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/ai/v1/tasks/templateBuilder": {
      "post": {
        "tags": [
          "Documents",
          "AI"
        ],
        "operationId": "V1AiTemplateBuilderPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AiTemplateBuilderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AiTemplateBuilderResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Returns the URL where the results of the job can be retrieved.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request is not authorized to make the conversion request"
          },
          "404": {
            "description": "Service has not been found, please contact support@tendocs.com"
          },
          "500": {
            "description": "Something has gone wrong, please contact support@tendocs.com"
          }
        },
        "summary": "Create a new Document from a description",
        "description": "Create a new document with a complete Table of Contents, example text and instructions."
      }
    },
    "/ai/v1/tasks/templatebuilder/{jobId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/AiTemplateBuilderResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Returns the URL where the results of the job can be retrieved.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request is not authorized to make the conversion request"
          },
          "404": {
            "description": "Service has not been found, please contact support@tendocs.com"
          },
          "500": {
            "description": "Something has gone wrong, please contact support@tendocs.com"
          }
        },
        "summary": "V1AiTemplateBuilderResult",
        "description": "Status of the TemplateBuilder call",
        "operationId": "V1AiTemplateBuilderResult",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/ai/v1/tasks/compare": {
      "post": {
        "tags": [
          "Documents",
          "AI",
          "Compare"
        ],
        "operationId": "V1AiComparePost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AiCompareRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/AiCompareResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Returns the URL where the results of the job can be retrieved.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request is not authorized to make the conversion request"
          },
          "404": {
            "description": "Service has not been found, please contact support@tendocs.com"
          },
          "500": {
            "description": "Something has gone wrong, please contact support@tendocs.com"
          }
        },
        "summary": "Compare documents using AI",
        "description": "Create an AI (GPT-4) comparison of documents (contracts, reports, quotes, etc)."
      }
    },
    "/ai/v1/tasks/compare/{jobId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/AiCompareResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Returns the URL where the results of the job can be retrieved.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request is not authorized to make the conversion request"
          },
          "404": {
            "description": "Service has not been found, please contact support@tendocs.com"
          },
          "500": {
            "description": "Something has gone wrong, please contact support@tendocs.com"
          }
        },
        "summary": "V1AiCompareResult",
        "description": "Result of the compare call",
        "operationId": "V1AiCompareResult",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {
    "TemplateResponse": {
      "format": "binary",
      "description": "Template File",
      "type": "string",
      "x-ms-summary": "Processed Template File Contents",
      "example": "[[Binary File]]"
    },
    "ConversionResponse": {
      "format": "binary",
      "description": "Template File",
      "type": "string",
      "x-ms-summary": "Converted File Contents",
      "example": "[[Binary File]]"
    },
    "InstancesResponse": {
      "type": "object",
      "properties": {
        "url": {
          "description": "Secure URL to the document to be shared with the recipient.",
          "type": "string",
          "x-ms-summary": "Document Url",
          "example": "https://app.10docs.com/viewer/555555555555555"
        }
      },
      "required": [
        "url"
      ]
    },
    "AiTemplateBuilderResponse": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "x-ms-summary": "Document Title",
          "description": "Recommended Template title"
        },
        "filename": {
          "type": "string",
          "x-ms-summary": "Document Filename",
          "description": "Recommended Template filename"
        },
        "outline": {
          "type": "array",
          "items": {
            "type": "object",
            "x-ms-summary": "Outline",
            "description": "Outline of the template",
            "properties": {
              "title": {
                "type": "string",
                "x-ms-summary": "Title",
                "description": "Section title"
              },
              "summary": {
                "type": "string",
                "x-ms-summary": "Description",
                "description": "Description of the section"
              },
              "example": {
                "type": "string",
                "x-ms-summary": "Example",
                "description": "Example content for the section"
              },
              "subheadings": {
                "type": "array",
                "x-ms-summary": "Subheadings",
                "description": "Subheadings for the template",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "x-ms-summary": "Title",
                      "description": "Subsection title"
                    },
                    "summary": {
                      "type": "string",
                      "x-ms-summary": "Description",
                      "description": "Subsection description"
                    },
                    "example": {
                      "type": "string",
                      "x-ms-summary": "Example",
                      "description": "Subsection example"
                    },
                    "subheadings": {
                      "type": "array",
                      "description": "Subsections",
                      "x-ms-summary": "Subsections",
                      "items": {}
                    }
                  },
                  "required": [
                    "title",
                    "summary",
                    "example",
                    "subheadings"
                  ]
                }
              }
            },
            "required": [
              "title",
              "summary",
              "example",
              "subheadings"
            ]
          }
        }
      },
      "required": [
        "title",
        "filename",
        "outline"
      ]
    },
    "AiSummaryResponse": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "example": "Summary",
          "x-ms-summary": "Type",
          "description": "The type of summary provided."
        },
        "content": {
          "type": "string",
          "example": "Summary of the document provided.",
          "x-ms-summary": "Summary",
          "description": "Summary of the document."
        },
        "targetWords": {
          "type": "number",
          "example": 300,
          "x-ms-summary": "Target",
          "description": "The targeted length in words."
        },
        "lengthWords": {
          "type": "number",
          "example": 300,
          "x-ms-summary": "Length",
          "description": "The length of the summary in words."
        }
      },
      "required": [
        "type",
        "content",
        "targetWords",
        "lengthWords"
      ]
    },
    "AiCompareResponse": {
      "type": "object",
      "properties": {
        "differences": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "aspect": {
                "type": "string",
                "x-ms-summary": "Aspect",
                "description": "An aspect of the differences between the documents"
              },
              "detailSummary": {
                "type": "string",
                "x-ms-summary": "Summary",
                "description": "Describes the differences between the two documents"
              },
              "detail": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "document": {
                      "type": "string",
                      "x-ms-summary": "Document",
                      "description": "The Document the summary is referring to"
                    },
                    "summary": {
                      "type": "string",
                      "x-ms-summary": "Document Summary",
                      "description": "Description of the difference based on one of the documents"
                    }
                  },
                  "x-ms-summary": "Difference",
                  "description": "Difference compared to the other document.",
                  "required": [
                    "document",
                    "summary"
                  ]
                },
                "x-ms-summary": "Details",
                "description": "Details of the changes across both documents."
              },
              "importance": {
                "type": "string",
                "x-ms-summary": "Importance",
                "description": "Assessment of how important this difference is"
              }
            },
            "required": [
              "aspect",
              "detailSummary",
              "detail",
              "importance"
            ]
          }
        },
        "summary": {
          "type": "string"
        }
      },
      "required": [
        "differences",
        "summary"
      ]
    },
    "DocumentTemplateRequest": {
      "required": [
        "template"
      ],
      "type": "object",
      "properties": {
        "template": {
          "type": "object",
          "required": [
            "file"
          ],
          "properties": {
            "file": {
              "format": "binary",
              "type": "string",
              "x-ms-visibility": "important",
              "x-ms-summary": "Template File",
              "description": "File Contents of the Office Document template."
            }
          },
          "example": {
            "file": {
              "$content-type": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
              "$content": "iVBORw0KGgoAAAANSUhEUgA...[[Base64 Encoded File]]"
            }
          },
          "description": "Office Template"
        },
        "images": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [
              "file",
              "token"
            ],
            "properties": {
              "token": {
                "type": "string",
                "x-ms-summary": "Token",
                "description": "Document replacement token representing the image."
              },
              "file": {
                "type": "string",
                "x-ms-summary": "File Content",
                "description": "The file contents of an image.",
                "format": "binary"
              }
            }
          },
          "example": [
            {
              "token": "CompanyLogo",
              "file": {
                "$content-type": "image/png",
                "$content": "iVBORw0KGgoAAAANSUhE...[[Base64 Encoded File]]"
              }
            },
            {
              "token": "InvoiceToLogo",
              "file": {
                "$content-type": "image/png",
                "$content": "iVBORw0KGgoAAAANSUhEUgA...[[Base64 Encoded File]]"
              }
            }
          ],
          "x-ms-summary": "Image",
          "description": "Collection of images to be merged into the document",
          "x-ms-visibility": "advanced"
        },
        "text": {
          "x-ms-visibility": "important",
          "x-ms-summary": "Text",
          "type": "object",
          "description": "Collection of document replacement tokens and associated replacement text.",
          "example": {
            "Title": "10docs",
            "CompanyName": "10docs",
            "CompanySlogan": "Delivering things",
            "InvoiceNumber": "9999999",
            "CompanyStreetAddress": "1 Documentation Road",
            "CompanyCity": "Small Town",
            "CompanyPostcode": "3455",
            "CompanyWebsite": "www.10docs.com",
            "InvoiceToName": "Joost van Hoorn",
            "InvoiceToCompany": "VIP Customer Ltd",
            "InvoiceToStreetAddress": "101 Client Office Road",
            "Modified": "2023-10-24T14:48:26Z",
            "Created": "2023-08-24T08:17:36Z"
          }
        },
        "substituteDocuments": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [
              "file",
              "token"
            ],
            "properties": {
              "token": {
                "type": "string",
                "x-ms-summary": "Token",
                "description": "Document replacement token representing a document."
              },
              "file": {
                "type": "string",
                "format": "binary",
                "x-ms-summary": "File Content",
                "description": "The file content of a document."
              }
            }
          },
          "example": [
            {
              "token": "TermsAndConditions",
              "file": {
                "$content-type": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                "$content": "UEsDBBQABgAIAAAAIQDbOn...[[Base64 Encoded File]]"
              }
            }
          ],
          "x-ms-summary": "Document",
          "x-ms-visibility": "advanced",
          "description": "Documents that can be replaced inside another document."
        },
        "tables": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [
              "rows",
              "token"
            ],
            "properties": {
              "token": {
                "type": "string",
                "x-ms-summary": "Token",
                "description": "Document replacement token representing the table."
              },
              "rows": {
                "type": "object",
                "x-ms-summary": "Rows",
                "description": "An array representing the rows in the table."
              }
            }
          },
          "example": [
            {
              "Token": "InvoiceLines",
              "Rows": [
                {
                  "Title": "Line1",
                  "Description": "Line Item 1",
                  "Amount": 100
                },
                {
                  "Title": "Line 2",
                  "Description": "Line Item 2",
                  "Amount": 200
                },
                {
                  "Title": "Line 3",
                  "Description": "Line Item 3",
                  "Amount": 300
                }
              ]
            }
          ],
          "x-ms-summary": "Table",
          "x-ms-visibility": "advanced",
          "description": "Collection of collections to be merged into the document as tables"
        },
        "configuration": {
          "type": "object",
          "properties": {
            "documentresponseformat": {
              "type": "string",
              "enum": [
                "Original",
                "PDF",
                "HTML"
              ],
              "description": "The format you would like the document to be converted to.",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Document Format"
            },
            "keys": {
              "type": "object",
              "description": "Advanced Configuration Settings (use only as instructed)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Configuration Keys"
            }
          },
          "description": "Configuration Settings",
          "example": {
            "documentresponseformat": "PDF",
            "Keys": {
              "example_key1": "example_key_value1",
              "example_key2": "example_key_value2"
            }
          }
        }
      }
    },
    "EnvelopesInstancesRequest": {
      "required": [
        "document",
        "introduction",
        "email",
        "firstName",
        "title",
        "lastName",
        "expiry",
        "organisationTitle",
        "organisationContactEmail",
        "organisationContactName",
        "isSignatureRequired"
      ],
      "type": "object",
      "properties": {
        "document": {
          "type": "object",
          "required": [
            "file"
          ],
          "properties": {
            "file": {
              "format": "binary",
              "type": "string",
              "x-ms-visibility": "important",
              "x-ms-summary": "PDF Document",
              "description": "File Contents of the PDF Document."
            }
          },
          "example": {
            "file": {
              "$content-type": "application/pdf",
              "$content": "UEsDBBQABgAIAAAAIQCqt...[[Base64 Encoded File]]"
            }
          },
          "description": "PDF Document"
        },
        "configuration": {
          "type": "object",
          "properties": {
            "keys": {
              "type": "object",
              "description": "Advanced Configuration Settings (use only as instructed)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Configuration Keys"
            }
          },
          "description": "Configuration Settings",
          "example": {
            "Keys": {
              "example_key1": "example_key_value1",
              "example_key2": "example_key_value2"
            }
          }
        },
        "title": {
          "type": "string",
          "description": "Title of the document, displayed at the top of the document page.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Document Title",
          "example": {
            "title": "Updated Health and Safety Protocols"
          }
        },
        "introduction": {
          "type": "string",
          "description": "Paragraph of text displayed at the top of the page introducing the purpose and background of the document.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Document Introduction",
          "example": {
            "introduction": "This document describes a set of new health and safety protocols which makes it critical all staff have reviewed."
          }
        },
        "logoUrl": {
          "type": "string",
          "description": "Full URL to a logo that is displayed in the top left of the document.",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Document Logo",
          "example": {
            "logoUrl": "https://app.tendocs.com/images/doc.png"
          }
        },
        "email": {
          "type": "string",
          "description": "Email address of the document recipient.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Recipient Email",
          "example": {
            "email": "recipient@10docs.com"
          }
        },
        "firstName": {
          "type": "string",
          "description": "The first name of the recipient.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Recipient First Name",
          "example": {
            "firstName": "Linda"
          }
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the recipient.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Recipient Last Name",
          "example": {
            "lastName": "Green"
          }
        },
        "checkboxText": {
          "type": "string",
          "description": "When specified a checkbox is displayed along with this text.",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Checkbox",
          "example": {
            "checkboxText": "By checking this box you agree that you have read the updated Health and Safety protocols."
          }
        },
        "expiry": {
          "type": "string",
          "description": "The date after which the document is no longer valid and cannot be accessed.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Expiry Date",
          "example": {
            "expiry": "2024-06-01T09:00:00Z"
          }
        },
        "isSignatureRequired": {
          "type": "boolean",
          "description": "Determines if the recipient name and an empty text box where they need to enter their name is included on the document page.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signature Required",
          "example": {
            "isSignatureRequired": true
          }
        },
        "organisationTitle": {
          "type": "string",
          "description": "The title of the company, department or organisation that is responsible for sending the document.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Organisation Title",
          "example": {
            "organisation": "Human Resources"
          }
        },
        "organisationWebsite": {
          "type": "string",
          "description": "Link to a website. This could be internal, or external to the organisation and provide more details on the document or process.",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Organisation Website",
          "example": {
            "organisationWebsite": "www.10docs.com"
          }
        },
        "organisationContactEmail": {
          "type": "string",
          "description": "Email address of the owner, or organisation that is responsible for the document or process.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Organisation Email",
          "example": {
            "organisationContactEmail": "owner@10docs.com"
          }
        },
        "organisationContactPhone": {
          "type": "string",
          "description": "Phone number of the owner, or organisation that is responsible for the document or process.",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Organisation Phone",
          "example": {
            "organisationContactPhone": "555-5555"
          }
        },
        "organisationContactName": {
          "type": "string",
          "description": "Name of the owner who is responsible for the document or process.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Organisation Owner",
          "example": {
            "organisationContactName": "Pauline Jones"
          }
        },
        "organisationContactTitle": {
          "type": "string",
          "description": "Job title of the owner who is responsible for the document or process.",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Organisation Owner Title",
          "example": {
            "organisationContactTitle": "Head of HR"
          }
        },
        "commentsEnabled": {
          "type": "boolean",
          "description": "Choose whether or not a comments box should be included on the document page.",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Comments",
          "example": {
            "commentsEnabled": false
          }
        },
        "otp": {
          "type": "boolean",
          "description": "Protect access to the document via a one-time-password sent to the users email.",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "One Time Password",
          "example": {
            "otp": false
          }
        },
        "projectIdentifier": {
          "type": "string",
          "description": "A unique value that is used to identify a single document sharing campaign.",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Project ID",
          "example": {
            "projectIdentifier": "HR-HealthSafety-Update-001"
          }
        },
        "completeButtonLabel": {
          "type": "string",
          "description": "The label that is displayed on the button to complete the document.",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Complete Button Label",
          "example": {
            "completeButtonLabel": "Finish"
          }
        },
        "completeStatusLabel": {
          "type": "string",
          "description": "The label displayed on the document when it has been completed.",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Complete Document Label",
          "example": {
            "completeStatusLabel": "Finished"
          }
        },
        "incompleteStatusLabel": {
          "type": "string",
          "description": "The label displayed on the document when it is in not complete.",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Incomplete Document Label",
          "example": {
            "incompleteStatusLabel": "In Progress"
          }
        }
      }
    },
    "JsonDocumentTemplateRequest": {
      "required": [
        "template",
        "json"
      ],
      "type": "object",
      "properties": {
        "template": {
          "type": "object",
          "required": [
            "file"
          ],
          "properties": {
            "file": {
              "format": "binary",
              "type": "string",
              "x-ms-visibility": "important",
              "x-ms-summary": "Template File",
              "description": "File Contents of the Office Document template."
            }
          },
          "example": {
            "$content-type": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
            "$content": "UEsDBBQABgAIAAAAIQCqt...[[Base64 Encoded File]]"
          },
          "description": "Office Template"
        },
        "json": {
          "type": "object",
          "description": "JSON Object for merging into the document Template",
          "x-ms-visibility": "important",
          "x-ms-summary": "JSON Object",
          "example": {
            "value": {
              "companySlogan": "Delivering stuff",
              "invoiceNumber": "9999999"
            }
          }
        },
        "configuration": {
          "type": "object",
          "properties": {
            "documentResponseFormat": {
              "type": "string",
              "enum": [
                "Original",
                "PDF",
                "HTML"
              ],
              "description": "The format you would like the document to be converted to.",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Document Format"
            },
            "keys": {
              "type": "object",
              "description": "Advanced Configuration Settings (use only as instructed)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Configuration Keys"
            }
          },
          "description": "Configuration Settings",
          "example": {
            "documentResponseFormat": "PDF",
            "keys": {
              "example_key1": "example_key_value1",
              "example_key2": "example_key_value2"
            }
          }
        }
      }
    },
    "ConversionConvertRequest": {
      "type": "object",
      "required": [
        "document",
        "configuration"
      ],
      "properties": {
        "document": {
          "type": "object",
          "required": [
            "file"
          ],
          "properties": {
            "file": {
              "format": "binary",
              "type": "string",
              "x-ms-visibility": "important",
              "x-ms-summary": "File",
              "description": "File to be converted."
            }
          },
          "example": {
            "$content-type": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
            "$content": "UEsDBBQAAAgIAJMrVV...[[Base64 Encoded File]]"
          },
          "description": "File to be converted."
        },
        "configuration": {
          "type": "object",
          "required": [
            "documentResponseFormat"
          ],
          "properties": {
            "documentResponseFormat": {
              "type": "string",
              "enum": [
                "PDF",
                "HTML"
              ],
              "description": "The format you would like the document to be converted to.",
              "x-ms-visibility": "important",
              "x-ms-summary": "Document Format"
            },
            "keys": {
              "type": "object",
              "description": "Advanced Configuration Settings (use only as instructed)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Configuration Keys"
            }
          },
          "example": {
            "documentResponseFormat": "PDF",
            "keys": {
              "example_key1": "example_key_value1",
              "example_key2": "example_key_value2"
            }
          },
          "description": "Configuration Settings"
        }
      }
    },
    "AiSummaryRequest": {
      "type": "object",
      "required": [
        "document",
        "configuration"
      ],
      "properties": {
        "document": {
          "type": "object",
          "required": [
            "file"
          ],
          "properties": {
            "file": {
              "format": "binary",
              "type": "string",
              "x-ms-visibility": "important",
              "x-ms-summary": "File",
              "description": "File to be summarised."
            }
          },
          "example": {
            "$content-type": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
            "$content": "UEsDBBQAAAgIAJMrVV...[[Base64 Encoded File]]"
          },
          "description": "File to be summarised."
        },
        "configuration": {
          "type": "object",
          "required": [
            "targetWords"
          ],
          "properties": {
            "targetWords": {
              "type": "integer",
              "description": "The target number of words for the summary.",
              "x-ms-visibility": "important",
              "x-ms-summary": "Target Word Count",
              "minimum": 10
            },
            "keys": {
              "type": "object",
              "description": "Advanced Configuration Settings (use only as instructed)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Configuration Keys"
            }
          },
          "example": {
            "maximumWordCount": 300,
            "keys": {
              "example_key1": "example_key_value1",
              "example_key2": "example_key_value2"
            }
          },
          "description": "Configuration Settings"
        }
      }
    },
    "AiTemplateBuilderRequest": {
      "type": "object",
      "required": [
        "description"
      ],
      "properties": {
        "description": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Describe the document (< 1000 chars)",
          "description": "Template Description",
          "maxLength": 1000,
          "example": {
            "description": "Business Plan for a company that is creating a Software as a Service (SaaS) marketplace, direct to consumer, for purchasing cosmetic products in bulk. The audience is prospective investors, so financial case is important."
          }
        },
        "configuration": {
          "type": "object",
          "properties": {
            "keys": {
              "type": "object",
              "description": "Advanced Configuration Settings (use only as instructed)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Configuration Keys"
            }
          },
          "example": {
            "keys": {
              "example_key1": "example_key_value1",
              "example_key2": "example_key_value2"
            }
          },
          "description": "Configuration Settings"
        }
      }
    },
    "AiCompareRequest": {
      "type": "object",
      "required": [
        "comparisonDocument",
        "sourceDocument",
        "configuration"
      ],
      "properties": {
        "sourceDocument": {
          "type": "object",
          "required": [
            "file"
          ],
          "properties": {
            "file": {
              "format": "binary",
              "type": "string",
              "x-ms-visibility": "important",
              "x-ms-summary": "First File",
              "description": "First file to be compared."
            }
          },
          "example": {
            "$content-type": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
            "$content": "UEsDBBQAAAgIAJMrVV...[[Base64 Encoded File]]"
          },
          "description": "File to be summarised."
        },
        "comparisonDocument": {
          "type": "object",
          "required": [
            "file"
          ],
          "properties": {
            "file": {
              "format": "binary",
              "type": "string",
              "x-ms-visibility": "important",
              "x-ms-summary": "Second File",
              "description": "Second file to be compared"
            }
          },
          "example": {
            "$content-type": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
            "$content": "UEsDBBQAAAgIAJMrVV...[[Base64 Encoded File]]"
          },
          "description": "File to be summarised."
        },
        "configuration": {
          "type": "object",
          "required": [
            "profession"
          ],
          "properties": {
            "profession": {
              "type": "string",
              "enum": [
                "Doctor",
                "Editor",
                "Lawyer",
                "General"
              ],
              "description": "The profession who would best be able to compare the documents.",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Profession"
            },
            "keys": {
              "type": "object",
              "description": "Advanced Configuration Settings (use only as instructed)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Configuration Keys"
            }
          },
          "example": {
            "profession": "Lawyer",
            "keys": {
              "example_key1": "example_key_value1",
              "example_key2": "example_key_value2"
            }
          },
          "description": "Configuration Settings"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tendocs.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tendocs.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Content and Files"
    }
  ]
}