{
  "swagger": "2.0",
  "info": {
    "title": "Tendocs Documents",
    "description": "A fast, simple, and capable service to automate the creation of Office documents based on text, images, documents and tables. More Information: https://www.tendocs.com",
    "contact": {
      "name": "Support",
      "url": "https://www.tendocs.com",
      "email": "support@tendocs.com"
    },
    "version": "v1"
  },
  "host": "api.tendocs.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/documents/v1/template": {
      "post": {
        "tags": [
          "Documents",
          "Template",
          "Collaboration"
        ],
        "operationId": "V1DocumentTemplatePost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentTemplateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Office Template (Binary) File",
            "schema": {
              "format": "binary",
              "title": "Template File",
              "type": "string"
            }
          },
          "403": {
            "description": "The request is not authorized to make the template request"
          },
          "404": {
            "description": "Service has not been found, please contact support@tendocs.com"
          },
          "500": {
            "description": "Something has gone wrong, please contact support@tendocs.com"
          }
        },
        "summary": "Create New Document From Template",
        "description": "Create a new Office document by merging an office template with text, images, documents and tables."
      }
    },
    "/conversion/v1/convert": {
      "post": {
        "tags": [
          "Documents",
          "Conversion",
          "PDF"
        ],
        "operationId": "V1ConversionConvertPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConversionConvertRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Binary File",
            "schema": {
              "format": "binary",
              "title": "File",
              "type": "string"
            }
          },
          "403": {
            "description": "The request is not authorized to make the conversion request"
          },
          "404": {
            "description": "Service has not been found, please contact support@tendocs.com"
          },
          "500": {
            "description": "Something has gone wrong, please contact support@tendocs.com"
          }
        },
        "summary": "Convert Document To New File Format",
        "description": "Convert a document to a new file format. Includes PDF and HTML."
      }
    }
  },
  "definitions": {
    "DocumentTemplateRequest": {
      "required": [
        "template"
      ],
      "type": "object",
      "properties": {
        "template": {
          "type": "object",
          "required": [
            "file"
          ],
          "properties": {
            "file": {
              "format": "binary",
              "type": "string",
              "x-ms-visibility": "important",
              "x-ms-summary": "Template File",
              "description": "File Contents of the Office Document template."
            }
          }
        },
        "images": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [
              "file",
              "token"
            ],
            "properties": {
              "token": {
                "type": "string",
                "x-ms-summary": "Token",
                "description": "Document replacement token representing the image."
              },
              "file": {
                "type": "string",
                "x-ms-summary": "File Content",
                "description": "The file contents of an image.",
                "format": "binary"
              }
            }
          },
          "x-ms-summary": "Image",
          "x-ms-visibility": "advanced"
        },
        "text": {
          "x-ms-visibility": "important",
          "x-ms-summary": "Text",
          "type": "object",
          "description": "Collection of document replacement tokens and associated replacement text."
        },
        "substituteDocuments": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [
              "file",
              "token"
            ],
            "properties": {
              "token": {
                "type": "string",
                "x-ms-summary": "Token",
                "description": "Document replacement token representing a document."
              },
              "file": {
                "type": "string",
                "format": "binary",
                "x-ms-summary": "File Content",
                "description": "The file content of a document."
              }
            }
          },
          "x-ms-summary": "Document",
          "x-ms-visibility": "advanced",
          "description": "Documents that can be replaced inside another document."
        },
        "tables": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [
              "rows",
              "token"
            ],
            "properties": {
              "token": {
                "type": "string",
                "x-ms-summary": "Token",
                "description": "Document replacement token representing the table."
              },
              "rows": {
                "type": "object",
                "x-ms-summary": "Rows",
                "description": "An array representing the rows in the table."
              }
            }
          },
          "x-ms-summary": "Table",
          "x-ms-visibility": "advanced"
        },
        "configuration": {
          "type": "object",
          "properties": {
            "documentresponseformat": {
              "type": "string",
              "enum": [
                "Original",
                "PDF",
                "HTML"
              ],
              "description": "The format you would like the document to be converted to.",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Document Format"
            },
            "keys": {
              "type": "object",
              "description": "Advanced Configuration Settings (use only as instructed)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Configuration Keys"
            }
          },
          "description": "Configuration Settings"
        }
      }
    },
    "ConversionConvertRequest": {
      "type": "object",
      "required": [
        "document",
        "configuration"
      ],
      "properties": {
        "document": {
          "type": "object",
          "required": [
            "file"
          ],
          "properties": {
            "file": {
              "format": "binary",
              "type": "string",
              "x-ms-visibility": "important",
              "x-ms-summary": "File",
              "description": "File to be converted."
            }
          },
          "description": "File to be converted."
        },
        "configuration": {
          "type": "object",
          "required": [
            "documentresponseformat"
          ],
          "properties": {
            "documentresponseformat": {
              "type": "string",
              "enum": [
                "PDF",
                "HTML"
              ],
              "description": "The format you would like the document to be converted to.",
              "x-ms-visibility": "important",
              "x-ms-summary": "Document Format"
            },
            "keys": {
              "type": "object",
              "description": "Advanced Configuration Settings (use only as instructed)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Configuration Keys"
            }
          },
          "description": "Configuration Settings"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tendocs.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tendocs.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Content and Files"
    }
  ]
}