{
  "swagger": "2.0",
  "info": {
    "title": "NHTSA vPIC",
    "description": "The NHTSA Product Information Catalog Vehicle Listing (vPIC) Application Programming Interface (API) provides different ways to gather information on Vehicles and their specifications. The vPIC Dataset is populated using the information submitted by the Motor Vehicle manufacturers through the 565 submittals. All the information on how a VIN is assigned by the manufacturer is captured in this catalog and used to decode a VIN and extract vehicle information.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "vpic.nhtsa.dot.gov",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/vehicles/DecodeVinValuesExtended/{VIN}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "Message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "SearchCriteria": {
                  "type": "string",
                  "description": "The search criteria.",
                  "title": "Search Criteria"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ABS": {
                        "type": "string",
                        "description": "The anti-lock brake system.",
                        "title": "ABS"
                      },
                      "ActiveSafetySysNote": {
                        "type": "string",
                        "description": "The active safety system note.",
                        "title": "Active Safety System Note"
                      },
                      "AdaptiveCruiseControl": {
                        "type": "string",
                        "description": "The adaptive cruise control.",
                        "title": "Adaptive Cruise Control"
                      },
                      "AdaptiveDrivingBeam": {
                        "type": "string",
                        "description": "The adaptive driving beam.",
                        "title": "Adaptive Driving Beam"
                      },
                      "AdaptiveHeadlights": {
                        "type": "string",
                        "description": "The adaptive headlights.",
                        "title": "Adaptive Headlights"
                      },
                      "AdditionalErrorText": {
                        "type": "string",
                        "description": "Any additional error text.",
                        "title": "Additional Error Text"
                      },
                      "AirBagLocCurtain": {
                        "type": "string",
                        "description": "The curtain air bag location.",
                        "title": "Air Bag Location Curtain"
                      },
                      "AirBagLocFront": {
                        "type": "string",
                        "description": "The front air bag location.",
                        "title": "Air Bag Location Front"
                      },
                      "AirBagLocKnee": {
                        "type": "string",
                        "description": "The knee air bag location.",
                        "title": "Air Bag Location Knee"
                      },
                      "AirBagLocSeatCushion": {
                        "type": "string",
                        "description": "The seat cushion air bag location.",
                        "title": "Air Bag Location Seat Cushion"
                      },
                      "AirBagLocSide": {
                        "type": "string",
                        "description": "The side air bag location.",
                        "title": "Air Bag Location Side"
                      },
                      "AutoReverseSystem": {
                        "type": "string",
                        "description": "The auto reverse system.",
                        "title": "Auto Reverse System"
                      },
                      "AutomaticPedestrianAlertingSound": {
                        "type": "string",
                        "description": "The automatic pedestrian alerting sound.",
                        "title": "Automatic Pedestrian Alerting Sound"
                      },
                      "AxleConfiguration": {
                        "type": "string",
                        "description": "The axle configuration.",
                        "title": "Axle Configuration"
                      },
                      "Axles": {
                        "type": "string",
                        "description": "The axles.",
                        "title": "Axles"
                      },
                      "BasePrice": {
                        "type": "string",
                        "description": "The base price.",
                        "title": "Base Price"
                      },
                      "BatteryA": {
                        "type": "string",
                        "description": "The battery A.",
                        "title": "BatteryA"
                      },
                      "BatteryA_to": {
                        "type": "string",
                        "description": "The battery A to.",
                        "title": "Battery A To"
                      },
                      "BatteryCells": {
                        "type": "string",
                        "description": "The battery cells.",
                        "title": "Battery Cells"
                      },
                      "BatteryInfo": {
                        "type": "string",
                        "description": "The battery information.",
                        "title": "Battery Info"
                      },
                      "BatteryKWh": {
                        "type": "string",
                        "description": "The battery KW/h.",
                        "title": "Battery KW/h"
                      },
                      "BatteryKWh_to": {
                        "type": "string",
                        "description": "The battery KW/h to.",
                        "title": "Battery KWh To"
                      },
                      "BatteryModules": {
                        "type": "string",
                        "description": "The battery modules.",
                        "title": "Battery Modules"
                      },
                      "BatteryPacks": {
                        "type": "string",
                        "description": "The battery packs.",
                        "title": "Battery Packs"
                      },
                      "BatteryType": {
                        "type": "string",
                        "description": "The battery type.",
                        "title": "Battery Type"
                      },
                      "BatteryV": {
                        "type": "string",
                        "description": "The battery V.",
                        "title": "BatteryV"
                      },
                      "BatteryV_to": {
                        "type": "string",
                        "description": "The battery V to.",
                        "title": "Battery V To"
                      },
                      "BedLengthIN": {
                        "type": "string",
                        "description": "The bed length in inches.",
                        "title": "Bed Length Inches"
                      },
                      "BedType": {
                        "type": "string",
                        "description": "The bed type.",
                        "title": "Bed Type"
                      },
                      "BlindSpotIntervention": {
                        "type": "string",
                        "description": "The blind spot intervention.",
                        "title": "Blind Spot Intervention"
                      },
                      "BlindSpotMon": {
                        "type": "string",
                        "description": "The blind spot monitor.",
                        "title": "Blind Spot Monitor"
                      },
                      "BodyCabType": {
                        "type": "string",
                        "description": "The body cab type.",
                        "title": "Body Cab Type"
                      },
                      "BodyClass": {
                        "type": "string",
                        "description": "The body class.",
                        "title": "Body Class"
                      },
                      "BrakeSystemDesc": {
                        "type": "string",
                        "description": "The brake system description.",
                        "title": "Brake System Description"
                      },
                      "BrakeSystemType": {
                        "type": "string",
                        "description": "The type of brake system.",
                        "title": "Brake System Type"
                      },
                      "BusFloorConfigType": {
                        "type": "string",
                        "description": "The bus floor configuration type.",
                        "title": "Bus Floor Config Type"
                      },
                      "BusLength": {
                        "type": "string",
                        "description": "The bus length.",
                        "title": "Bus Length"
                      },
                      "BusType": {
                        "type": "string",
                        "description": "The bus type.",
                        "title": "Bus Type"
                      },
                      "CAN_AACN": {
                        "type": "string",
                        "description": "The advanced automatic collision notification.",
                        "title": "AACN"
                      },
                      "CIB": {
                        "type": "string",
                        "description": "The crash imminent braking.",
                        "title": "CIB"
                      },
                      "CashForClunkers": {
                        "type": "string",
                        "description": "The Cash for Clunkers.",
                        "title": "Cash For Clunkers"
                      },
                      "ChargerLevel": {
                        "type": "string",
                        "description": "The charger level.",
                        "title": "Charger Level"
                      },
                      "ChargerPowerKW": {
                        "type": "string",
                        "description": "The KW charger power.",
                        "title": "Charger Power KW"
                      },
                      "CoolingType": {
                        "type": "string",
                        "description": "The cooling type.",
                        "title": "Cooling Type"
                      },
                      "CurbWeightLB": {
                        "type": "string",
                        "description": "The curb weight in pounds.",
                        "title": "Curb Weight LB"
                      },
                      "CustomMotorcycleType": {
                        "type": "string",
                        "description": "The custom motorcycle type.",
                        "title": "Custom Motorcycle Type"
                      },
                      "DaytimeRunningLight": {
                        "type": "string",
                        "description": "The daytime running light.",
                        "title": "Daytime Running Light"
                      },
                      "DestinationMarket": {
                        "type": "string",
                        "description": "The destination market.",
                        "title": "Destination Market"
                      },
                      "DisplacementCC": {
                        "type": "string",
                        "description": "The engine displacement in cubic centimeters.",
                        "title": "Displacement CC"
                      },
                      "DisplacementCI": {
                        "type": "string",
                        "description": "The engine displacement in cubic inches.",
                        "title": "Displacement CI"
                      },
                      "DisplacementL": {
                        "type": "string",
                        "description": "The engine displacement in liters.",
                        "title": "Displacement L"
                      },
                      "Doors": {
                        "type": "string",
                        "description": "The doors.",
                        "title": "Doors"
                      },
                      "DriveType": {
                        "type": "string",
                        "description": "The drive type.",
                        "title": "Drive Type"
                      },
                      "DriverAssist": {
                        "type": "string",
                        "description": "The driver assist.",
                        "title": "Driver Assist"
                      },
                      "DynamicBrakeSupport": {
                        "type": "string",
                        "description": "The dynamic brake support.",
                        "title": "Dynamic Brake Support"
                      },
                      "EDR": {
                        "type": "string",
                        "description": "The event data recorder.",
                        "title": "EDR"
                      },
                      "ESC": {
                        "type": "string",
                        "description": "The electronic spark control.",
                        "title": "ESC"
                      },
                      "EVDriveUnit": {
                        "type": "string",
                        "description": "The EV drive unit.",
                        "title": "EV Drive Unit"
                      },
                      "ElectrificationLevel": {
                        "type": "string",
                        "description": "The electrification level.",
                        "title": "Electrification Level"
                      },
                      "EngineConfiguration": {
                        "type": "string",
                        "description": "The engine configuration.",
                        "title": "Engine Configuration"
                      },
                      "EngineCycles": {
                        "type": "string",
                        "description": "The engine cycles.",
                        "title": "Engine Cycles"
                      },
                      "EngineCylinders": {
                        "type": "string",
                        "description": "The engine cylinders.",
                        "title": "Engine Cylinders"
                      },
                      "EngineHP": {
                        "type": "string",
                        "description": "The engine horsepower.",
                        "title": "Engine HP"
                      },
                      "EngineHP_to": {
                        "type": "string",
                        "description": "The engine horsepower to.",
                        "title": "Engine HP To"
                      },
                      "EngineKW": {
                        "type": "string",
                        "description": "The engine KW.",
                        "title": "Engine KW"
                      },
                      "EngineManufacturer": {
                        "type": "string",
                        "description": "The engine manufacturer.",
                        "title": "Engine Manufacturer"
                      },
                      "EngineModel": {
                        "type": "string",
                        "description": "The engine model.",
                        "title": "Engine Model"
                      },
                      "EntertainmentSystem": {
                        "type": "string",
                        "description": "The entertainment system.",
                        "title": "Entertainment System"
                      },
                      "ErrorCode": {
                        "type": "string",
                        "description": "The error code.",
                        "title": "Error Code"
                      },
                      "ErrorText": {
                        "type": "string",
                        "description": "The error text.",
                        "title": "Error Text"
                      },
                      "ForwardCollisionWarning": {
                        "type": "string",
                        "description": "The forward collision warning.",
                        "title": "Forward Collision Warning"
                      },
                      "FuelInjectionType": {
                        "type": "string",
                        "description": "The fuel injection type.",
                        "title": "Fuel Injection Type"
                      },
                      "FuelTypePrimary": {
                        "type": "string",
                        "description": "The primary fuel type.",
                        "title": "Fuel Type Primary"
                      },
                      "FuelTypeSecondary": {
                        "type": "string",
                        "description": "The secondary fuel type.",
                        "title": "Fuel Type Secondary"
                      },
                      "GCWR": {
                        "type": "string",
                        "description": "The gross combined weight rating.",
                        "title": "GCWR"
                      },
                      "GCWR_to": {
                        "type": "string",
                        "description": "The gross combined weight rating to.",
                        "title": "GCWR To"
                      },
                      "GVWR": {
                        "type": "string",
                        "description": "The gross vehicle weight rating.",
                        "title": "GVWR"
                      },
                      "GVWR_to": {
                        "type": "string",
                        "description": "The gross vehicle weight rating to.",
                        "title": "GVWR To"
                      },
                      "KeylessIgnition": {
                        "type": "string",
                        "description": "The keyless ignition.",
                        "title": "Keyless Ignition"
                      },
                      "LaneCenteringAssistance": {
                        "type": "string",
                        "description": "The lane centering assistance.",
                        "title": "Lane Centering Assistance"
                      },
                      "LaneDepartureWarning": {
                        "type": "string",
                        "description": "The lane departure warning.",
                        "title": "Lane Departure Warning"
                      },
                      "LaneKeepSystem": {
                        "type": "string",
                        "description": "The lane keep system.",
                        "title": "Lane Keep System"
                      },
                      "LowerBeamHeadlampLightSource": {
                        "type": "string",
                        "description": "The lower beam headlamp light source.",
                        "title": "Lower Beam Headlamp Light Source"
                      },
                      "Make": {
                        "type": "string",
                        "description": "The make.",
                        "title": "Make"
                      },
                      "MakeID": {
                        "type": "string",
                        "description": "The make unique identifier.",
                        "title": "Make ID"
                      },
                      "Manufacturer": {
                        "type": "string",
                        "description": "The manufacturer.",
                        "title": "Manufacturer"
                      },
                      "ManufacturerId": {
                        "type": "string",
                        "description": "The manufacturer unique identifier.",
                        "title": "Manufacturer ID"
                      },
                      "Model": {
                        "type": "string",
                        "description": "The model.",
                        "title": "Model"
                      },
                      "ModelID": {
                        "type": "string",
                        "description": "The model unique identifier.",
                        "title": "Model ID"
                      },
                      "ModelYear": {
                        "type": "string",
                        "description": "The model year.",
                        "title": "Model Year"
                      },
                      "MotorcycleChassisType": {
                        "type": "string",
                        "description": "The motorcycle chassis type.",
                        "title": "Motorcycle Chassis Type"
                      },
                      "MotorcycleSuspensionType": {
                        "type": "string",
                        "description": "The motorcycle suspension type.",
                        "title": "Motorcycle Suspension Type"
                      },
                      "NCSABodyType": {
                        "type": "string",
                        "description": "The National Center for Statistics & Analysis body type.",
                        "title": "NCSA Body Type"
                      },
                      "NCSAMake": {
                        "type": "string",
                        "description": "The National Center for Statistics & Analysis make.",
                        "title": "NCSA Make"
                      },
                      "NCSAMapExcApprovedBy": {
                        "type": "string",
                        "description": "The National Center for Statistics & Analysis mapping exception approved.",
                        "title": "NCSA Map Exc Approved By"
                      },
                      "NCSAMapExcApprovedOn": {
                        "type": "string",
                        "description": "The National Center for Statistics & Analysis mapping exception approved on.",
                        "title": "NCSA Map Exc Approved On"
                      },
                      "NCSAMappingException": {
                        "type": "string",
                        "description": "The National Center for Statistics & Analysis mapping exception.",
                        "title": "NCSA Mapping Exception"
                      },
                      "NCSAModel": {
                        "type": "string",
                        "description": "The National Center for Statistics & Analysis model.",
                        "title": "NCSA Model"
                      },
                      "NCSANote": {
                        "type": "string",
                        "description": "The National Center for Statistics & Analysis note.",
                        "title": "NCSA Note"
                      },
                      "NonLandUse": {
                        "type": "string",
                        "description": "The non-land use.",
                        "title": "Non-Land Use"
                      },
                      "Note": {
                        "type": "string",
                        "description": "The note.",
                        "title": "Note"
                      },
                      "OtherBusInfo": {
                        "type": "string",
                        "description": "The other business info.",
                        "title": "Other Business Info"
                      },
                      "OtherEngineInfo": {
                        "type": "string",
                        "description": "The other engine info.",
                        "title": "Other Engine Info"
                      },
                      "OtherMotorcycleInfo": {
                        "type": "string",
                        "description": "The other motorcyle info.",
                        "title": "Other Motorcycle Info"
                      },
                      "OtherRestraintSystemInfo": {
                        "type": "string",
                        "description": "The other restraint system info.",
                        "title": "Other Restraint System Info"
                      },
                      "OtherTrailerInfo": {
                        "type": "string",
                        "description": "The other trailer info.",
                        "title": "Other Trailer Info"
                      },
                      "ParkAssist": {
                        "type": "string",
                        "description": "The park assist.",
                        "title": "Park Assist"
                      },
                      "PedestrianAutomaticEmergencyBraking": {
                        "type": "string",
                        "description": "The pedestrian automatic emergency braking.",
                        "title": "Pedestrian Automatic Emergency Braking"
                      },
                      "PlantCity": {
                        "type": "string",
                        "description": "The plant city.",
                        "title": "Plant City"
                      },
                      "PlantCompanyName": {
                        "type": "string",
                        "description": "The plant company name.",
                        "title": "Plant Company Name"
                      },
                      "PlantCountry": {
                        "type": "string",
                        "description": "The plant country.",
                        "title": "Plant Country"
                      },
                      "PlantState": {
                        "type": "string",
                        "description": "The plant state.",
                        "title": "Plant State"
                      },
                      "PossibleValues": {
                        "type": "string",
                        "description": "The possible values.",
                        "title": "Possible Values"
                      },
                      "Pretensioner": {
                        "type": "string",
                        "description": "The pretensioner.",
                        "title": "Pretensioner"
                      },
                      "RearAutomaticEmergencyBraking": {
                        "type": "string",
                        "description": "The rear automatic emergency braking.",
                        "title": "Rear Automatic Emergency Braking"
                      },
                      "RearCrossTrafficAlert": {
                        "type": "string",
                        "description": "The rear cross traffic alert.",
                        "title": "Rear Cross Traffic Alert"
                      },
                      "RearVisibilitySystem": {
                        "type": "string",
                        "description": "The rear visibility system.",
                        "title": "Rear Visibility System"
                      },
                      "SAEAutomationLevel": {
                        "type": "string",
                        "description": "The SAE automation level.",
                        "title": "SAE Automation Level"
                      },
                      "SAEAutomationLevel_to": {
                        "type": "string",
                        "description": "The SAE automation level to.",
                        "title": "SAE Automation Level To"
                      },
                      "SeatBeltsAll": {
                        "type": "string",
                        "description": "The all seat belts.",
                        "title": "Seat Belts All"
                      },
                      "SeatRows": {
                        "type": "string",
                        "description": "The seat rows.",
                        "title": "Seat Rows"
                      },
                      "Seats": {
                        "type": "string",
                        "description": "The seats.",
                        "title": "Seats"
                      },
                      "SemiautomaticHeadlampBeamSwitching": {
                        "type": "string",
                        "description": "The semiautomatic headlamp beam switching.",
                        "title": "Semiautomatic Headlamp Beam Switching"
                      },
                      "Series": {
                        "type": "string",
                        "description": "The series.",
                        "title": "Series"
                      },
                      "Series2": {
                        "type": "string",
                        "description": "The second series.",
                        "title": "Series 2"
                      },
                      "SteeringLocation": {
                        "type": "string",
                        "description": "The steering location.",
                        "title": "Steering Location"
                      },
                      "SuggestedVIN": {
                        "type": "string",
                        "description": "The suggested VIN.",
                        "title": "Suggested VIN"
                      },
                      "TPMS": {
                        "type": "string",
                        "description": "The tire pressure monitoring system.",
                        "title": "TPMS"
                      },
                      "TopSpeedMPH": {
                        "type": "string",
                        "description": "The top speed in MPH.",
                        "title": "Top Speed MPH"
                      },
                      "TrackWidth": {
                        "type": "string",
                        "description": "The track width.",
                        "title": "Track Width"
                      },
                      "TractionControl": {
                        "type": "string",
                        "description": "The traction control.",
                        "title": "Traction Control"
                      },
                      "TrailerBodyType": {
                        "type": "string",
                        "description": "The trailer body type.",
                        "title": "Trailer Body Type"
                      },
                      "TrailerLength": {
                        "type": "string",
                        "description": "The trailer length.",
                        "title": "Trailer Length"
                      },
                      "TrailerType": {
                        "type": "string",
                        "description": "The trailer type.",
                        "title": "Trailer Type"
                      },
                      "TransmissionSpeeds": {
                        "type": "string",
                        "description": "The transmission speeds.",
                        "title": "Transmission Speeds"
                      },
                      "TransmissionStyle": {
                        "type": "string",
                        "description": "The transmission style.",
                        "title": "Transmission Style"
                      },
                      "Trim": {
                        "type": "string",
                        "description": "The trim.",
                        "title": "Trim"
                      },
                      "Trim2": {
                        "type": "string",
                        "description": "The second trim.",
                        "title": "Trim 2"
                      },
                      "Turbo": {
                        "type": "string",
                        "description": "The turbo.",
                        "title": "Turbo"
                      },
                      "VIN": {
                        "type": "string",
                        "description": "The VIN.",
                        "title": "VIN"
                      },
                      "ValveTrainDesign": {
                        "type": "string",
                        "description": "The valve train design.",
                        "title": "Valve Train Design"
                      },
                      "VehicleType": {
                        "type": "string",
                        "description": "The vehicle type.",
                        "title": "Vehicle Type"
                      },
                      "WheelBaseLong": {
                        "type": "string",
                        "description": "The long wheel base.",
                        "title": "Wheel Base Long"
                      },
                      "WheelBaseShort": {
                        "type": "string",
                        "description": "The short wheel base.",
                        "title": "Wheel Base Short"
                      },
                      "WheelBaseType": {
                        "type": "string",
                        "description": "The wheel base type.",
                        "title": "Wheel Base Type"
                      },
                      "WheelSizeFront": {
                        "type": "string",
                        "description": "The front wheel size.",
                        "title": "Wheel Size Front"
                      },
                      "WheelSizeRear": {
                        "type": "string",
                        "description": "The rear wheel size.",
                        "title": "Wheel Size Rear"
                      },
                      "Wheels": {
                        "type": "string",
                        "description": "The wheels.",
                        "title": "Wheels"
                      },
                      "Windows": {
                        "type": "string",
                        "description": "The windows.",
                        "title": "Windows"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Decode VIN",
        "description": "This action returns the decoded VIN.",
        "operationId": "Decode",
        "parameters": [
          {
            "name": "VIN",
            "in": "path",
            "x-ms-summary": "VIN",
            "x-ms-url-encoding": "single",
            "description": "The VIN.",
            "required": true,
            "type": "string"
          },
          {
            "name": "modelyear",
            "in": "query",
            "x-ms-summary": "Model Year",
            "description": "The model year.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/vehicles/DecodeWMI/{WMI}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "Message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "SearchCriteria": {
                  "type": "string",
                  "description": "The search criteria.",
                  "title": "Search Criteria"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "CommonName": {
                        "type": "string",
                        "description": "The common name.",
                        "title": "Common Name"
                      },
                      "CreatedOn": {
                        "type": "string",
                        "description": "When created on.",
                        "title": "Created On"
                      },
                      "DateAvailableToPublic": {
                        "type": "string",
                        "description": "The date available to public.",
                        "title": "Date Available To Public"
                      },
                      "Make": {
                        "type": "string",
                        "description": "The make.",
                        "title": "Make"
                      },
                      "ManufacturerName": {
                        "type": "string",
                        "description": "The manufacturer.",
                        "title": "Manufacturer"
                      },
                      "ParentCompanyName": {
                        "type": "string",
                        "description": "The parent company.",
                        "title": "Parent Company"
                      },
                      "URL": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "UpdatedOn": {
                        "type": "string",
                        "description": "When updated on.",
                        "title": "Updated On"
                      },
                      "VehicleType": {
                        "type": "string",
                        "description": "The vehicle type.",
                        "title": "Vehicle Type"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Decode WMI",
        "parameters": [
          {
            "name": "WMI",
            "in": "path",
            "x-ms-summary": "WMI",
            "x-ms-url-encoding": "single",
            "description": "The world manufacturer identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "description": "This action returns the decoded World Manufacturer Identifier (WMI). WMIs may be put in as either 3 characters representing VIN position 1-3 or 6 characters representing VIN positions 1-3 & 12-14. Example \"JTD\", \"1T9131\".",
        "operationId": "DecodeWMI"
      }
    },
    "/vehicles/GetWMIsForManufacturer/{query}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "Message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "SearchCriteria": {
                  "type": "string",
                  "description": "The search criteria.",
                  "title": "Search Criteria"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Country": {
                        "type": "string",
                        "description": "The country.",
                        "title": "Country"
                      },
                      "CreatedOn": {
                        "type": "string",
                        "description": "When created on.",
                        "title": "Created On"
                      },
                      "DateAvailableToPublic": {
                        "type": "string",
                        "description": "The date available to public.",
                        "title": "Date Available To Public"
                      },
                      "Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "Name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "UpdatedOn": {
                        "type": "string",
                        "description": "When updated on.",
                        "title": "Updated On"
                      },
                      "VehicleType": {
                        "type": "string",
                        "description": "The vehicle type.",
                        "title": "Vehicle Type"
                      },
                      "WMI": {
                        "type": "string",
                        "description": "The world manufacturer identifier.",
                        "title": "WMI"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get WMIs for Manufacturer",
        "description": "Provides information on the all World Manufacturer Identifier (WMI) for a specified Manufacturer. Only WMI registered in vPICList are displayed. If Query is a number - method will do exact match on Manufacturer's Id. If Query is a string - it will look for manufacturers whose name is LIKE the provided name (it accepts a partial manufacturer name as an input). Multiple results are returned in case of multiple matches. If Vehicle Type is a number - method will do exact match on Vehicle Type's Id. If Vehicle Type is a string - it will look for Vehicle Type whose name is LIKE the provided name (it accepts a partial Vehicle Type name as an input). Multiple results are returned in case of multiple matches. Both parameters are optional but at least one must be provided.",
        "operationId": "WMIGet",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "x-ms-summary": "Query",
            "x-ms-url-encoding": "single",
            "description": "The query.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vehicleType",
            "in": "query",
            "x-ms-summary": "Vehicle Type",
            "description": "The vehicle type.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/vehicles/GetAllMakes": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "Message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "SearchCriteria": {
                  "type": "string",
                  "description": "The search criteria.",
                  "title": "Search Criteria"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Make_ID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The make unique identifier.",
                        "title": "Make ID"
                      },
                      "Make_Name": {
                        "type": "string",
                        "description": "The make.",
                        "title": "Make"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get all makes",
        "description": "Retrieves a list of all the makes available in vPIC Dataset.",
        "operationId": "Make",
        "parameters": []
      }
    },
    "/vehicles/GetParts": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "Message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "SearchCriteria": {
                  "type": "string",
                  "description": "The search criteria.",
                  "title": "Search Criteria"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "CoverLetterURL": {
                        "type": "string",
                        "description": "The URL address of the cover letter.",
                        "title": "Cover Letter URL"
                      },
                      "LetterDate": {
                        "type": "string",
                        "description": "The letter date.",
                        "title": "Letter Date"
                      },
                      "ManufacturerId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The manufacturer unique identifier.",
                        "title": "Manufacturer ID"
                      },
                      "ManufacturerName": {
                        "type": "string",
                        "description": "The manufacturer.",
                        "title": "Manufacturer"
                      },
                      "ModelYearFrom": {
                        "type": "string",
                        "description": "The model year from.",
                        "title": "Model Year From"
                      },
                      "ModelYearTo": {
                        "type": "string",
                        "description": "The model year to.",
                        "title": "Model Year To"
                      },
                      "Name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "Type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "URL": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get parts",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "x-ms-summary": "Type",
            "description": "The type.",
            "required": false,
            "type": "integer",
            "default": 565,
            "enum": [
              565,
              566
            ]
          },
          {
            "name": "fromDate",
            "in": "query",
            "x-ms-summary": "From Date",
            "description": "The from date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "toDate",
            "in": "query",
            "x-ms-summary": "To Date",
            "description": "The to date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "manufacturer",
            "in": "query",
            "x-ms-summary": "Manufacturer",
            "description": "The manufacturer.",
            "required": false,
            "type": "string"
          }
        ],
        "description": "Get a list of parts with letter date. Up to 1000 results will be returned at a time.",
        "operationId": "Part"
      }
    },
    "/vehicles/GetAllManufacturers": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "Message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "SearchCriteria": {
                  "type": "string",
                  "description": "The search criteria.",
                  "title": "Search Criteria"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Country": {
                        "type": "string",
                        "description": "The country.",
                        "title": "Country"
                      },
                      "Mfr_CommonName": {
                        "type": "string",
                        "description": "The manufacturer common name.",
                        "title": "Manufacturer Common Name"
                      },
                      "Mfr_ID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The manufacturer unique identifier.",
                        "title": "Manufacturer ID"
                      },
                      "Mfr_Name": {
                        "type": "string",
                        "description": "The manufacturer.",
                        "title": "Manufacturer"
                      },
                      "VehicleTypes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "IsPrimary": {
                              "type": "boolean",
                              "description": "Whether is primary.",
                              "title": "Is Primary"
                            },
                            "Name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            }
                          }
                        },
                        "title": "Vehicle Types"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get all manufacturers",
        "description": "Retrieves a list of all the Manufacturers available in vPIC Dataset. Parameter \"Manufacturer Type\" allows to filter the list based on manufacturer type (Incomplete Vehicles, Completed Vehicle Manufacturer, Incomplete Vehicle Manufacturer, Intermediate Manufacturer, Final-Stage Manufacturer, Alterer, Replica Vehicle Manufacturer, or any part of it). Results are provided in pages of 100 items.",
        "operationId": "Manufacturer",
        "parameters": [
          {
            "name": "ManufacturerType",
            "in": "query",
            "x-ms-summary": "Manufacturer Type",
            "description": "The manufacturer type.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/vehicles/GetManufacturerDetails/{query}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "Message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "SearchCriteria": {
                  "type": "string",
                  "description": "The search criteria.",
                  "title": "Search Criteria"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Address": {
                        "type": "string",
                        "description": "The address.",
                        "title": "Address"
                      },
                      "Address2": {
                        "type": "string",
                        "description": "The address line 2.",
                        "title": "Address 2"
                      },
                      "City": {
                        "type": "string",
                        "description": "The city.",
                        "title": "City"
                      },
                      "ContactEmail": {
                        "type": "string",
                        "description": "The contact email address.",
                        "title": "Contact Email"
                      },
                      "ContactFax": {
                        "type": "string",
                        "description": "The contact fax.",
                        "title": "Contact Fax"
                      },
                      "ContactPhone": {
                        "type": "string",
                        "description": "The contact phone number.",
                        "title": "Contact Phone"
                      },
                      "Country": {
                        "type": "string",
                        "description": "The country.",
                        "title": "Country"
                      },
                      "DBAs": {
                        "type": "string",
                        "description": "The DBAs.",
                        "title": "DBAs"
                      },
                      "EquipmentItems": {
                        "type": "array",
                        "items": {},
                        "description": "The equipment items.",
                        "title": "Equipment Items"
                      },
                      "LastUpdated": {
                        "type": "string",
                        "description": "When last updated.",
                        "title": "Last Updated"
                      },
                      "ManufacturerTypes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            }
                          }
                        },
                        "title": "Manufacturer Types"
                      },
                      "Mfr_CommonName": {
                        "type": "string",
                        "description": "The manufacturer common name.",
                        "title": "Manufacturer Common Name"
                      },
                      "Mfr_ID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The manufacturer unique identifier.",
                        "title": "Manufacturer ID"
                      },
                      "Mfr_Name": {
                        "type": "string",
                        "description": "The manufacturer.",
                        "title": "Manufacturer"
                      },
                      "OtherManufacturerDetails": {
                        "type": "string",
                        "description": "The other manufacturer details.",
                        "title": "Other Manufacturer Details"
                      },
                      "PostalCode": {
                        "type": "string",
                        "description": "The postal code.",
                        "title": "Postal Code"
                      },
                      "PrimaryProduct": {
                        "type": "string",
                        "description": "The primary product.",
                        "title": "Primary Product"
                      },
                      "PrincipalFirstName": {
                        "type": "string",
                        "description": "The principal's first name.",
                        "title": "Principal First Name"
                      },
                      "PrincipalLastName": {
                        "type": "string",
                        "description": "The principal's last name.",
                        "title": "Principal Last Name"
                      },
                      "PrincipalPosition": {
                        "type": "string",
                        "description": "The principal's position.",
                        "title": "Principal Position"
                      },
                      "StateProvince": {
                        "type": "string",
                        "description": "The state or province.",
                        "title": "State Province"
                      },
                      "SubmittedName": {
                        "type": "string",
                        "description": "The submitted name.",
                        "title": "Submitted Name"
                      },
                      "SubmittedOn": {
                        "type": "string",
                        "description": "When submitted on.",
                        "title": "Submitted On"
                      },
                      "SubmittedPosition": {
                        "type": "string",
                        "description": "The submitted position.",
                        "title": "Submitted Position"
                      },
                      "VehicleTypes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "GVWRFrom": {
                              "type": "string",
                              "description": "The gross vehicle weight rating from.",
                              "title": "GVWR From"
                            },
                            "GVWRTo": {
                              "type": "string",
                              "description": "The gross vehicle weight rating to.",
                              "title": "GVWR To"
                            },
                            "IsPrimary": {
                              "type": "boolean",
                              "description": "Whether is primary.",
                              "title": "Is Primary"
                            },
                            "Name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            }
                          }
                        },
                        "title": "Vehicle Types"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get manufacturer details",
        "description": "Retrieves the details for a specific manufacturer that is requested. If query is a number - method will do exact match on Manufacturer's Id. If query is a string - it will look for manufacturers whose name is LIKE the provided name (it accepts a partial manufacturer name as an input). Multiple results are returned in case of multiple matches.",
        "operationId": "ManufacturerDetail",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "x-ms-summary": "Query",
            "x-ms-url-encoding": "single",
            "description": "The query.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/vehicles/GetMakeForManufacturer/{query}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "Message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "SearchCriteria": {
                  "type": "string",
                  "description": "The search criteria.",
                  "title": "Search Criteria"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Make_ID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The make unique identifier.",
                        "title": "Make ID"
                      },
                      "Make_Name": {
                        "type": "string",
                        "description": "The make.",
                        "title": "Make"
                      },
                      "Mfr_Name": {
                        "type": "string",
                        "description": "The manufacturer.",
                        "title": "Manufacturer"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get makes for manufacturer by manufacturer name",
        "description": "Retrieves all the Makes in the vPIC dataset for a specified manufacturer that is requested. If query is a number - method will do exact match on Manufacturer's Id. If query is a string - it will look for manufacturers whose name is LIKE the provided name (it accepts a partial manufacturer name as an input). Multiple results are returned in case of multiple matches. Manufacturer name can be a partial name, or a full name for more specificity (e.g., \"988\", \"HONDA\", \"HONDA OF CANADA MFG., INC.\", etc.)",
        "operationId": "ManufacturerName",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "x-ms-summary": "Query",
            "x-ms-url-encoding": "single",
            "description": "The query.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/vehicles/GetMakesForManufacturerAndYear/{query}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "Message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "SearchCriteria": {
                  "type": "string",
                  "description": "The search criteria.",
                  "title": "Search Criteria"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "MakeId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The make unique identifier.",
                        "title": "Make ID"
                      },
                      "MakeName": {
                        "type": "string",
                        "description": "The make.",
                        "title": "Make"
                      },
                      "MfrId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The manufacturer unique identifier.",
                        "title": "Manufacturer ID"
                      },
                      "MfrName": {
                        "type": "string",
                        "description": "The manufacturer.",
                        "title": "Manufacturer"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get makes for manufacturer by manufacturer name and year",
        "description": "Retrieves all the Makes in the vPIC dataset for a specified manufacturer and whose Year From and Year To range cover the specified year If supplied parameter is a number - method will do exact match on Manufacturer's Id. If supplied parameter is a string - it will look for manufacturers whose name is LIKE the provided name (it accepts a partial manufacturer name as an input). Multiple results are returned in case of multiple matches. Manufacturer can be idenfitied by Id, a partial name, or a full name (e.g., \"988\", \"HONDA\", \"HONDA OF CANADA MFG., INC.\", etc.).",
        "operationId": "ManufacturerNameYear",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "x-ms-summary": "Query",
            "x-ms-url-encoding": "single",
            "description": "The query.",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "query",
            "x-ms-summary": "Year",
            "description": "The year.",
            "required": true,
            "type": "integer"
          }
        ]
      }
    },
    "/vehicles/GetMakesForVehicleType/{VehicleType}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "Message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "SearchCriteria": {
                  "type": "string",
                  "description": "The search criteria.",
                  "title": "Search Criteria"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "MakeId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The make unique identifier.",
                        "title": "Make ID"
                      },
                      "MakeName": {
                        "type": "string",
                        "description": "The make.",
                        "title": "Make"
                      },
                      "VehicleTypeId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The vehicle type unique identifier.",
                        "title": "Vehicle Type ID"
                      },
                      "VehicleTypeName": {
                        "type": "string",
                        "description": "The vehicle type.",
                        "title": "Vehicle Type"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get makes by vehicle type name",
        "description": "Retrieves all the Makes in the vPIC dataset for a specified vehicle type whose name is LIKE the vehicle type name in vPIC Dataset. Vehicle Type name can be a partial name, or a full name for more specificity (e.g., \"Vehicle\", \"Moto\", \"Low Speed Vehicle\", etc.).",
        "operationId": "MakeType",
        "parameters": [
          {
            "name": "VehicleType",
            "in": "path",
            "x-ms-summary": "Vehicle Type",
            "x-ms-url-encoding": "single",
            "description": "The vehicle type.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/vehicles/GetVehicleTypesForMake/{make}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "Message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "SearchCriteria": {
                  "type": "string",
                  "description": "The search criteria.",
                  "title": "Search Criteria"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "MakeId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The make unique identifier.",
                        "title": "Make ID"
                      },
                      "MakeName": {
                        "type": "string",
                        "description": "The make.",
                        "title": "Make"
                      },
                      "VehicleTypeId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The vehicle type unique identifier.",
                        "title": "Vehicle Type ID"
                      },
                      "VehicleTypeName": {
                        "type": "string",
                        "description": "The vehicle type.",
                        "title": "Vehicle Type"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get vehicle types for make",
        "description": "Retrieves all the Vehicle Types in the vPIC dataset for a specified Make whose name is LIKE the make name in vPIC Dataset. Make can be a ID, partial name, or a full name for more specificity (e.g., \"Merc\", \"Mercedes Benz\", etc.).",
        "operationId": "MakeVehicleType",
        "parameters": [
          {
            "name": "make",
            "in": "path",
            "x-ms-summary": "Make",
            "x-ms-url-encoding": "single",
            "description": "The make.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/vehicles/GetEquipmentPlantCodes/{filter}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "Message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "SearchCriteria": {
                  "type": "string",
                  "description": "The search criteria.",
                  "title": "Search Criteria"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Address": {
                        "type": "string",
                        "description": "The address.",
                        "title": "Address"
                      },
                      "City": {
                        "type": "string",
                        "description": "The city.",
                        "title": "City"
                      },
                      "Country": {
                        "type": "string",
                        "description": "The country.",
                        "title": "Country"
                      },
                      "DOTCode": {
                        "type": "string",
                        "description": "The DOT code.",
                        "title": "DOT Code"
                      },
                      "Name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "OldDotCode": {
                        "type": "string",
                        "description": "The old DOT code.",
                        "title": "Old DOT Code"
                      },
                      "PostalCode": {
                        "type": "string",
                        "description": "The postal code.",
                        "title": "Postal Code"
                      },
                      "StateProvince": {
                        "type": "string",
                        "description": "The state or province.",
                        "title": "State Province"
                      },
                      "Status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get equipment plant codes",
        "parameters": [
          {
            "name": "filter",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "All",
            "description": "Filter can be year, equipment type or report type.",
            "x-ms-summary": "Filter",
            "x-ms-url-encoding": "single",
            "enum": [
              "2016",
              "2017",
              "2018",
              "2019",
              "2020",
              "2021",
              "2022",
              "2023",
              "1",
              "3",
              "13",
              "16",
              "New",
              "Updated",
              "Closed",
              "All"
            ]
          }
        ],
        "description": "Retrieves assigned equipment plant codes.",
        "operationId": "EquipmentPlant"
      }
    },
    "/vehicles/GetModelsForMake/{make}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "Message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "SearchCriteria": {
                  "type": "string",
                  "description": "The search criteria.",
                  "title": "Search Criteria"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Make_ID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The make unique identifier.",
                        "title": "Make ID"
                      },
                      "Make_Name": {
                        "type": "string",
                        "description": "The make.",
                        "title": "Make"
                      },
                      "Model_ID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The model unique identifier.",
                        "title": "Model ID"
                      },
                      "Model_Name": {
                        "type": "string",
                        "description": "The model.",
                        "title": "Model"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get models for make",
        "description": "Retrieves the models in the vPIC dataset for a specified make whose name is LIKE the make in vPIC Dataset. Make can be a partial, or a full for more specificity (e.g., \"Harley\", \"Harley Davidson\", etc.).",
        "operationId": "MakeModel",
        "parameters": [
          {
            "name": "make",
            "in": "path",
            "x-ms-summary": "Make",
            "x-ms-url-encoding": "single",
            "description": "The make.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/vehicles/GetModelsForMakeYear/make/{make}/{yearOrVehicleType}/{query}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "Message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "SearchCriteria": {
                  "type": "string",
                  "description": "The search criteria.",
                  "title": "Search Criteria"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Make_ID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The make unique identifier.",
                        "title": "Make ID"
                      },
                      "Make_Name": {
                        "type": "string",
                        "description": "The make.",
                        "title": "Make"
                      },
                      "Model_ID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The model unique identifier.",
                        "title": "Model ID"
                      },
                      "Model_Name": {
                        "type": "string",
                        "description": "The model.",
                        "title": "Model"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get models for make a combination of year and vehicle type",
        "description": "Retrieves the models in the vPIC dataset for a specified year and make whose name is LIKE the make in vPIC Dataset. Make can be a partial, or a full for more specificity (e.g., \"Harley\", \"Harley Davidson\", etc.) Model year is integer (greater than 1995). Vehicle Ttpe name can be a partial name, or a full name for more specificity (e.g., \"Vehicle\", \"Moto\", \"Low Speed Vehicle\", etc.)",
        "operationId": "MakeModelYearType",
        "parameters": [
          {
            "name": "make",
            "in": "path",
            "x-ms-summary": "Make",
            "x-ms-url-encoding": "single",
            "description": "The make.",
            "required": true,
            "type": "string"
          },
          {
            "name": "yearOrVehicleType",
            "in": "path",
            "x-ms-summary": "Year or Vehicle Type",
            "x-ms-url-encoding": "single",
            "description": "The year or vehicle type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "path",
            "x-ms-summary": "Query",
            "x-ms-url-encoding": "single",
            "description": "The query.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/vehicles/GetVehicleVariableList": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "Message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "SearchCriteria": {
                  "type": "string",
                  "description": "The search criteria.",
                  "title": "Search Criteria"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "DataType": {
                        "type": "string",
                        "description": "The data type.",
                        "title": "Data Type"
                      },
                      "Description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "GroupName": {
                        "type": "string",
                        "description": "The group.",
                        "title": "Group"
                      },
                      "ID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "Name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get vehicle variables",
        "description": "Retrieves a list of all the vehicle related variables that are in vPIC dataset. Information on the name, description and the type of the variable is provided.",
        "operationId": "VehicleVariable",
        "parameters": []
      }
    },
    "/vehicles/GetVehicleVariableValuesList/{variable}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "Message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "SearchCriteria": {
                  "type": "string",
                  "description": "The search criteria.",
                  "title": "Search Criteria"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ElementName": {
                        "type": "string",
                        "description": "The element.",
                        "title": "Element"
                      },
                      "Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "Name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get vehicle variable values",
        "description": "Retrieves a list of all the accepted values for a given variable that are stored in vPIC dataset. Search parameter can either be a Variable Name (\"battery type\" in first example, please use full name, not just part of it), or Variable ID (\"2\" in second example). This applies to only \"Look up\" type of variables.",
        "operationId": "VehicleVariableValue",
        "parameters": [
          {
            "name": "variable",
            "in": "path",
            "x-ms-summary": "Variable",
            "x-ms-url-encoding": "single",
            "description": "The variable.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://vpic.nhtsa.dot.gov/api/Home"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.nhtsa.gov/about-nhtsa/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}