{
  "swagger": "2.0",
  "info": {
    "title": "tyntec Phone Verification",
    "description": "Phone Verification service aims to determine validity, reachability and fraud risk of phone numbers.",
    "contact": {
      "name": "tyntec support",
      "url": "https://www.tyntec.com/get-help-support",
      "email": "support@tyntec.com"
    },
    "version": "2.0"
  },
  "host": "api.tyntec.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/nis/v1/gnp": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "requestId": {
                  "type": "string",
                  "description": "requestId"
                },
                "msisdn": {
                  "type": "string",
                  "description": "msisdn"
                },
                "ported": {
                  "type": "string",
                  "description": "ported"
                },
                "errorCode": {
                  "type": "string",
                  "description": "errorCode"
                },
                "mcc": {
                  "type": "string",
                  "description": "mcc"
                },
                "mnc": {
                  "type": "string",
                  "description": "mnc"
                },
                "ttId": {
                  "type": "string",
                  "description": "ttId"
                },
                "operator": {
                  "type": "string",
                  "description": "operator"
                },
                "country": {
                  "type": "string",
                  "description": "country"
                },
                "timeZone": {
                  "type": "string",
                  "description": "timeZone"
                },
                "technology": {
                  "type": "string",
                  "description": "technology"
                },
                "synchronous": {
                  "type": "boolean",
                  "description": "synchronous",
                  "x-ms-visibility": "internal"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Check if msisdn is numeric"
          },
          "401": {
            "description": "Unauthorized - Invalid account credentials"
          },
          "402": {
            "description": "Payment Required - The current credit balance is not sufficient for this request"
          },
          "403": {
            "description": "Forbidden - Authorization information is missing"
          },
          "500": {
            "description": "Internal Service Error"
          }
        },
        "operationId": "CheckPhoneNumber",
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "CheckPhoneNumber",
          "revision": 1
        },
        "summary": "Check Phone number using the Portability Check",
        "parameters": [
          {
            "name": "msisdn",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Checked Phone number",
            "description": "Checked Phone numbe",
            "x-ms-visibility": "important"
          }
        ],
        "description": "This Action get Portability Check data for a given phone number"
      }
    },
    "/verification/v1/phone/{phonenumber}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "validNumberFormat": {
                  "type": "string",
                  "description": "validNumberFormat"
                },
                "activeNumber": {
                  "type": "string",
                  "description": "activeNumber"
                },
                "numberType": {
                  "type": "string",
                  "description": "numberType"
                },
                "operatorName": {
                  "type": "string",
                  "description": "operatorName"
                },
                "operatorCountry": {
                  "type": "string",
                  "description": "operatorCountry"
                },
                "fraudRisk": {
                  "type": "string",
                  "description": "fraudRisk"
                },
                "outreachReady": {
                  "type": "string",
                  "description": "outreachReady"
                }
              }
            }
          }
        },
        "description": "Phone Verification service aims to determine validity, reachability and fraud risk of phone numbers.",
        "summary": "Verify Phone Number",
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "CheckPhoneNumber",
          "revision": 2
        },
        "operationId": "VerifyPhoneNumber",
        "parameters": [
          {
            "name": "phonenumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Phone Number for verification",
            "x-ms-summary": "Phone Number",
            "format": ""
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "apikey"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tyntec.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tyntec.com/data-privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Data"
    }
  ]
}