{
  "swagger": "2.0",
  "info": {
    "title": "tyntec Portability Check",
    "description": "tyntec Portability Check allows you to validate a phone number in the tyntec number portability database",
    "contact": {
      "name": "tyntec support",
      "url": "https://www.tyntec.com/get-help-support",
      "email": "support@tyntec.com"
    },
    "version": "1.0"
  },
  "host": "api.tyntec.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/nis/v1/gnp": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "requestId": {
                  "type": "string",
                  "description": "requestId"
                },
                "msisdn": {
                  "type": "string",
                  "description": "msisdn"
                },
                "ported": {
                  "type": "string",
                  "description": "ported"
                },
                "errorCode": {
                  "type": "string",
                  "description": "errorCode"
                },
                "mcc": {
                  "type": "string",
                  "description": "mcc"
                },
                "mnc": {
                  "type": "string",
                  "description": "mnc"
                },
                "ttId": {
                  "type": "string",
                  "description": "ttId"
                },
                "operator": {
                  "type": "string",
                  "description": "operator"
                },
                "country": {
                  "type": "string",
                  "description": "country"
                },
                "timeZone": {
                  "type": "string",
                  "description": "timeZone"
                },
                "technology": {
                  "type": "string",
                  "description": "technology"
                },
                "synchronous": {
                  "type": "boolean",
                  "description": "synchronous",
                  "x-ms-visibility": "internal"
                }
              }
            }
          },
          "400":{
            "description":"Bad request - Check if msisdn is numeric"
          },
          "401":{
            "description":"Unauthorized - Invalid account credentials"
          },
          "402":{
            "description":"Payment Required - The current credit balance is not sufficient for this request"
          },
          "403":{
            "description":"Forbidden - Authorization information is missing"
          },
          "500":{
            "description":"Internal Service Error"
          }
        },
        "operationId": "CheckPhoneNumber",
        "summary": "Check Phone number using the Portability Check",
        "parameters": [
          {
            "name": "msisdn",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Checked Phone number",
            "description": "Checked Phone numbe",
            "x-ms-visibility": "important"
          }
        ],
        "description": "This Action get Portability Check data for a given phone number"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "apikey"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tyntec.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tyntec.com/data-privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Marketing"
    }
  ]
}