{
  "swagger": "2.0",
  "info": {
    "version": "1.0.1",
    "title": "Azure AD",
    "description": "Azure Active Directory is an Identity and Access Management cloud solution that extends your on-premises directories to the cloud and provides single sign-on to thousands of cloud (SaaS) apps and access to web apps you run on-premises.",
    "x-ms-deployment-version": "1.0.1",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft",
      "url": "https://support.microsoft.com"
    }
  },
  "host": "graph.microsoft.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1.0/groups/office365": {
      "post": {
        "summary": "Create Office 365 group",
        "description": "Create an Office 365 group in your AAD tenant.",
        "operationId": "CreateOffice365Group",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "displayName",
                "description",
                "mailNickname",
                "groupTypes",
                "securityEnabled",
                "mailEnabled"
              ],
              "properties": {
                "displayName": {
                  "x-ms-summary": "Display Name",
                  "type": "string",
                  "description": "Display name of the new group."
                },
                "description": {
                  "x-ms-summary": "Description",
                  "type": "string",
                  "description": "Description of the new group."
                },
                "mailNickname": {
                  "description": "The mail alias of the new group.",
                  "type": "string",
                  "x-ms-summary": "Mail Nickname"
                },
                "groupTypes": {
                  "description": "For Office 365, group type is 'Unified'.",
                  "type": "array",
                  "x-ms-visibility": "internal",
                  "items": {
                    "type": "string",
                    "title": "",
                    "x-ms-summary": "Group Type",
                    "description": "For Office 365, group type is 'Unified'."
                  },
                  "default": [
                    "Unified"
                  ]
                },
                "securityEnabled": {
                  "description": "True if the new group is a security group.",
                  "type": "boolean",
                  "x-ms-summary": "Security Enabled"
                },
                "mailEnabled": {
                  "description": "True if the new group is a mailing group.",
                  "type": "boolean",
                  "x-ms-summary": "Mail Enabled"
                }
              },
              "x-ms-test-value": {
                "description": "A group for development",
                "displayName": "Test 530930",
                "groupTypes": [
                  "Unified"
                ],
                "mailEnabled": true,
                "mailNickname": "Test-Mail-Group-530930",
                "securityEnabled": false
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "$ref": "#/definitions/CreateGroup_Response"
            }
          }
        },
        "x-ms-no-generic-test": true,
        "deprecated": false
      }
    },
    "/v1.0/groups/securityGroup": {
      "post": {
        "summary": "Create security group",
        "description": "Create a security group in your AAD tenant.",
        "operationId": "CreateSecurityGroup",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "displayName",
                "description",
                "mailNickname",
                "securityEnabled",
                "mailEnabled"
              ],
              "properties": {
                "displayName": {
                  "x-ms-summary": "Display Name",
                  "type": "string",
                  "description": "Display name of the new group."
                },
                "description": {
                  "x-ms-summary": "Description",
                  "type": "string",
                  "description": "Description of the new group."
                },
                "mailNickname": {
                  "description": "The mail alias of the new group.",
                  "type": "string",
                  "x-ms-summary": "Mail Nickname"
                },
                "securityEnabled": {
                  "description": "True if the new group is a security group.",
                  "type": "boolean",
                  "x-ms-summary": "Security Enabled"
                },
                "mailEnabled": {
                  "description": "True if the new group is a mailing group.",
                  "type": "boolean",
                  "x-ms-summary": "Mail Enabled"
                }
              },
              "x-ms-test-value": {
                "description": "A group for development",
                "displayName": "Test 530930",
                "mailEnabled": true,
                "mailNickname": "Test-Mail-Group-530930",
                "securityEnabled": false
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "$ref": "#/definitions/CreateGroup_Response"
            }
          }
        },
        "x-ms-no-generic-test": true,
        "deprecated": false
      }
    },
    "/v1.0/groups/{id}": {
      "get": {
        "summary": "Get group",
        "description": "Get details for a group.",
        "operationId": "GetGroup",
        "parameters": [
          {
            "$ref": "#/parameters/id__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/GetGroup_Response"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.0/users/{id}": {
      "get": {
        "summary": "Get user",
        "description": "Get details for a user.",
        "operationId": "GetUser",
        "parameters": [
          {
            "$ref": "#/parameters/id__in_path_2"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/GetUser_Response"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "summary": "Update user",
        "description": "Update the info for a user.",
        "operationId": "UpdateUser",
        "parameters": [
          {
            "$ref": "#/parameters/id__in_path_2"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateUser_Request"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true
      }
    },
    "/v1.0/users/{id}/revokeSignInSessions": {
      "post": {
        "summary": "Refresh tokens",
        "description": "Invalidate all refresh tokens for a user",
        "operationId": "RefreshTokens",
        "parameters": [
          {
            "$ref": "#/parameters/id__in_path_2"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/v2/v1.0/users/{id}/getMemberGroups": {
      "post": {
        "summary": "Get groups of a user (V2)",
        "description": "Get the groups a user is a member of.",
        "operationId": "GetMemberGroupsV2",
        "parameters": [
          {
            "$ref": "#/parameters/id__in_path_2"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetMemberGroups_Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/GetMemberGroups_Response_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "GetMemberGroups",
          "status": "Production",
          "revision": 2
        }
      }
    },
    "/v1.0/users": {
      "post": {
        "summary": "Create user",
        "description": "Create a new user in your AAD tenant.",
        "operationId": "CreateUser",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUser_Request"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "$ref": "#/definitions/GetUser_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important"
      }
    },

    "/v1.0/groups/{id}/members": {
      "get": {
        "summary": "Get group members",
        "description": "Get the users who are members of a group.",
        "operationId": "GetGroupMembers",
        "parameters": [
          {
            "$ref": "#/parameters/id__in_path"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Limit on the number of results to return (default = all).",
            "required": false,
            "x-ms-summary": "Top",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/GetGroupMembers_Response"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "deprecated": false
      }
    },
    "/v1.0/groups/{groupId}/members/{memberId}/$ref": {
      "delete": {
        "summary": "Remove Member From Group",
        "description": "Remove Member From Group",
        "operationId": "RemoveMemberFromGroup",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "x-ms-test-value": "40649f36-46b6-43a6-95e2-9554b7933919",
            "description": "The Id of the group.",
            "x-ms-summary": "Group Id",
            "type": "string"
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "x-ms-test-value": "78afdf31-abd9-48a1-b4a1-be585a29b5ee",
            "description": "The Id of the member.",
            "x-ms-summary": "Member Id",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": false
      }
    },
    "/v1.0/groups/{id}/members/$ref": {
      "post": {
        "summary": "Add user to group",
        "description": "Add a user to a group in this AAD tenant.",
        "operationId": "AddUserToGroup",
        "parameters": [
          {
            "$ref": "#/parameters/id__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetGroup_Request"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important"
      }
    },
    "/v2/v1.0/users/{id}/checkMemberGroups": {
      "post": {
        "summary": "Check group membership (V2)",
        "description": "If the user is a member of the given group, the result will contain the given id. Otherwise the result will be empty.",
        "operationId": "CheckMemberGroupsV2",
        "parameters": [
          {
            "$ref": "#/parameters/id__in_path_2"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckMemberGroups_Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/GetMemberGroups_Response_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "CheckMemberGroups",
          "status": "Production",
          "revision": 2
        }
      }
    },
    "/v1.0/users/{id}/manager/$ref": {
      "put": {
        "summary": "Assign manager",
        "description": "Assign a manager for a user.",
        "operationId": "AssignManager",
        "parameters": [
          {
            "$ref": "#/parameters/id__in_path_2"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssignManager_Request"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": false
      }
    },
    "/v1.0/applications": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ListApplications_Request"

            }
          }
        },
        "summary": "List Applications",
        "operationId": "ListApplications",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filters properties (columns)",
            "x-ms-summary": "Choose columns to display (blank for all)",
            "x-ms-visibility": "important"
          },
          {
            "name": "$search",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "You can use $search on the displayName and description properties. (eg $search=\"displayName:Web\")",
            "x-ms-summary": "Search criteria",
            "x-ms-visibility": "important"
          },
          {
            "name": "$count",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Retrieves the total count of matching resources",
            "x-ms-summary": "Display count",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Orders results (eg $orderby=displayName desc)",
            "x-ms-summary": "Sort Order",
            "x-ms-visibility": "important"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Retrieves related resources (including owner details by default)",
            "x-ms-summary": "List related columns",
            "x-ms-visibility": "advanced",
            "default": "Owners"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Indexes into a result set. Also used by some APIs to implement paging and can be used together with $top to manually page results.",
            "x-ms-summary": "Number of records to skip",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Limits the number of results.",
            "x-ms-summary": "Total count to return",
            "x-ms-visibility": "advanced"
          }
        ],
        "description": "Get the list of applications registered in AAD in this organization",
        "x-ms-visibility": "important"
      }
    }
  },  
  "definitions": {
    "ListApplications_Request": {
      "type": "object",
      "properties": {
        "@odata.context": {
          "type": "string",
          "description": "@odata.context"
        },
        "value": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The unique identifier for the application"
              },
              "deletedDateTime": {
                "type": "string",
                "description": "The date and time the application was deleted. The DateTimeOffset type represents date and time information using ISO 8601 format and is always in UTC time."
              },
              "appId": {
                "type": "string",
                "description": "The unique identifier for the application that is assigned to an application by Azure AD"
              },
              "applicationTemplateId": {
                "type": "string",
                "description": "Unique identifier of the applicationTemplate"
              },
              "disabledByMicrosoftStatus": {
                "type": "string",
                "description": "Specifies whether Microsoft has disabled the registered application"
              },
              "createdDateTime": {
                "type": "string",
                "description": "The date and time the application was registered. The DateTimeOffset type represents date and time information using ISO 8601 format and is always in UTC time"
              },
              "displayName": {
                "type": "string",
                "description": "The display name for the application"
              },
              "description": {
                "type": "string",
                "description": "The description for the application"
              },
              "groupMembershipClaims": {
                "type": "string",
                "description": "The groups claim issued in a user or OAuth 2.0 access token that the application expects"
              },
              "identifierUris": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "The URIs that identify the application within its Azure AD tenant, or within a verified custom domain if the application is multi-tenant"
              },
              "isDeviceOnlyAuthSupported": {
                "type": "string",
                "description": "Specifies whether this application supports device authentication without a user. The default is false"
              },
              "isFallbackPublicClient": {
                "type": "boolean",
                "description": "Specifies the fallback application type as public client, such as an installed application running on a mobile device. The default value is false which means the fallback application type is confidential client such as a web app"
              },
              "notes": {
                "type": "string",
                "description": "Notes relevant for the management of the application"
              },
              "optionalClaims": {
                "type": "string",
                "description": "Optional claims in their Azure AD applications to specify the claims that are sent to their application by the Microsoft security token service"
              },
              "publisherDomain": {
                "type": "string",
                "description": "The verified publisher domain for the application"
              },
              "signInAudience": {
                "type": "string",
                "description": "Specifies the Microsoft accounts that are supported for the current application. Supported values are: AzureADMyOrg, AzureADMultipleOrgs, AzureADandPersonalMicrosoftAccount, PersonalMicrosoftAccount"
              },
              "tags": {
                "type": "array",
                "items": {},
                "description": "Custom strings that can be used to categorize and identify the application"
              },
              "tokenEncryptionKeyId": {
                "type": "string",
                "description": "Specifies the keyId of a public key from the keyCredentials collection"
              },
              "verifiedPublisher": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string",
                    "description": "The verified publisher name from the app publisher's Partner Center account"
                  },
                  "verifiedPublisherId": {
                    "type": "string",
                    "description": "The ID of the verified publisher from the app publisher's Partner Center account"
                  },
                  "addedDateTime": {
                    "type": "string",
                    "description": "The timestamp when the verified publisher was first added or most recently updated"
                  }
                },
                "description": "Specifies the verified publisher of the application"
              },
              "defaultRedirectUri": {
                "type": "string",
                "description": "defaultRedirectUri"
              },
              "addIns": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "type": {
                      "type": "string",
                      "description": "type"
                    },
                    "properties": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "description": "key"
                          },
                          "value": {
                            "type": "string",
                            "description": "value"
                          }
                        }
                      },
                      "description": "properties"
                    }
                  }
                },
                "description": "Defines custom behavior that a consuming service can use to call an app in specific contexts"
              },
              "api": {
                "type": "object",
                "properties": {
                  "acceptMappedClaims": {
                    "type": "string",
                    "description": "When true, allows an application to use claims mapping without specifying a custom signing key"
                  },
                  "knownClientApplications": {
                    "type": "array",
                    "items": {},
                    "description": "Used for bundling consent if you have a solution that contains two parts: a client app and a custom web API app"
                  },
                  "requestedAccessTokenVersion": {
                    "type": "string",
                    "description": "Specifies the access token version expected by this resource. This changes the version and format of the JWT produced independent of the endpoint or client used to request the access token"
                  },
                  "oauth2PermissionScopes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "adminConsentDescription": {
                          "type": "string",
                          "description": "A description of the delegated permissions, intended to be read by an administrator granting the permission on behalf of all users"
                        },
                        "adminConsentDisplayName": {
                          "type": "string",
                          "description": "The permission's title, intended to be read by an administrator granting the permission on behalf of all users"
                        },
                        "id": {
                          "type": "string",
                          "description": "Unique delegated permission identifier inside the collection of delegated permissions defined for a resource application"
                        },
                        "isEnabled": {
                          "type": "boolean",
                          "description": "When creating or updating a permission, this property must be set to true (which is the default). To delete a permission, this property must first be set to false"
                        },
                        "type": {
                          "type": "string",
                          "description": "Specifies whether this delegated permission should be considered safe for non-admin users to consent to on behalf of themselves, or whether an administrator should be required for consent to the permissions"
                        },
                        "userConsentDescription": {
                          "type": "string",
                          "description": "A description of the delegated permissions, intended to be read by a user granting the permission on their own behalf"
                        },
                        "userConsentDisplayName": {
                          "type": "string",
                          "description": "A title for the permission, intended to be read by a user granting the permission on their own behalf"
                        },
                        "value": {
                          "type": "string",
                          "description": "Specifies the value to include in the scp (scope) claim in access tokens"
                        }
                      }
                    },
                    "description": "The definition of the delegated permissions exposed by the web API represented by this application registration"
                  },
                  "preAuthorizedApplications": {
                    "type": "array",
                    "items": {},
                    "description": "Lists the client applications that are pre-authorized with the specified delegated permissions to access this application's APIs"
                  }
                },
                "description": "Specifies settings for an application that implements a web API"
              },
              "appRoles": {
                "type": "array",
                "items": {},
                "description": "The collection of roles assigned to the application"
              },
              "info": {
                "type": "object",
                "properties": {
                  "logoUrl": {
                    "type": "string",
                    "description": "CDN URL to the application's logo"
                  },
                  "marketingUrl": {
                    "type": "string",
                    "description": "Link to the application's marketing page"
                  },
                  "privacyStatementUrl": {
                    "type": "string",
                    "description": "Link to the application's privacy statement"
                  },
                  "supportUrl": {
                    "type": "string",
                    "description": "Link to the application's support page"
                  },
                  "termsOfServiceUrl": {
                    "type": "string",
                    "description": "Link to the application's terms of service statement"
                  }
                },
                "description": "Basic profile information of the application such as app's marketing, support, terms of service and privacy statement URLs"
              },
              "keyCredentials": {
                "type": "array",
                "items": {},
                "description": "The collection of key credentials associated with the application"
              },
              "parentalControlSettings": {
                "type": "object",
                "properties": {
                  "countriesBlockedForMinors": {
                    "type": "array",
                    "items": {},
                    "description": "Specifies the two-letter ISO country codes"
                  },
                  "legalAgeGroupRule": {
                    "type": "string",
                    "description": "Specifies the legal age group rule that applies to users of the app"
                  }
                },
                "description": "Specifies parental control settings for an application"
              },
              "passwordCredentials": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "displayName": {
                      "type": "string",
                      "description": "Friendly name for the password"
                    },
                    "endDateTime": {
                      "type": "string",
                      "description": "The date and time at which the password expires represented using ISO 8601 format and is always in UTC time"
                    },
                    "hint": {
                      "type": "string",
                      "description": "Contains the first three characters of the password"
                    },
                    "keyId": {
                      "type": "string",
                      "description": "The unique identifier for the password"
                    },
                    "startDateTime": {
                      "type": "string",
                      "description": "The date and time at which the password becomes valid. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time"
                    }
                  }
                },
                "description": "The collection of password credentials associated with the application"
              },
              "publicClient": {
                "type": "object",
                "properties": {
                  "redirectUris": {
                    "type": "array",
                    "items": {},
                    "description": "Specifies the URLs where user tokens are sent for sign-in, or the redirect URIs where OAuth 2.0 authorization codes and access tokens are sent"
                  }
                },
                "description": "Specifies settings for installed clients such as desktop or mobile devices"
              },
              "requiredResourceAccess": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "resourceAppId": {
                      "type": "string",
                      "description": "The unique identifier for the resource that the application requires access to"
                    },
                    "resourceAccess": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique identifier for one of the oauth2PermissionScopes or appRole instances that the resource application exposes"
                          },
                          "type": {
                            "type": "string",
                            "description": "Specifies whether the id property references an oauth2PermissionScopes or an appRole"
                          }
                        }
                      },
                      "description": "The list of OAuth2.0 permission scopes and app roles that the application requires from the specified resource"
                    }
                  }
                },
                "description": "Specifies the resources that the application needs to access. This property also specifies the set of OAuth permission scopes and application roles that it needs for each of those resources"
              },
              "web": {
                "type": "object",
                "properties": {
                  "homePageUrl": {
                    "type": "string",
                    "description": "Home page or landing page of the application"
                  },
                  "logoutUrl": {
                    "type": "string",
                    "description": "Specifies the URL that will be used by Microsoft's authorization service to logout an user using front-channel, back-channel or SAML logout protocols"
                  },
                  "redirectUris": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Specifies the URLs where user tokens are sent for sign-in, or the redirect URIs where OAuth 2.0 authorization codes and access tokens are sent"
                  },
                  "implicitGrantSettings": {
                    "type": "object",
                    "properties": {
                      "enableAccessTokenIssuance": {
                        "type": "boolean",
                        "description": "Specifies whether this web application can request an ID token using the OAuth 2.0 implicit flow"
                      },
                      "enableIdTokenIssuance": {
                        "type": "boolean",
                        "description": "Specifies whether this web application can request an access token using the OAuth 2.0 implicit flow"
                      }
                    },
                    "description": "Specifies whether this web application can request tokens using the OAuth 2.0 implicit flow"
                  }
                },
                "description": "Specifies settings for a web application"
              },
              "spa": {
                "type": "object",
                "properties": {
                  "redirectUris": {
                    "type": "array",
                    "items": {},
                    "description": "Specifies the URLs where user tokens are sent for sign-in, or the redirect URIs where OAuth 2.0 authorization codes and access tokens are sent"
                  }
                },
                "description": "Specifies settings for a single-page application, including sign out URLs and redirect URIs for authorization codes and access tokens"
              }
            }
          },
          "description": "Represents an application. Any application that outsources authentication to Azure Active Directory (Azure AD) must be registered in a directory"
        }
      }
    },
    "GetGroup_Request": {
      "required": [
        "@odata.id"
      ],
      "type": "object",
      "properties": {
        "@odata.id": {
          "description": "Unique identifer of a user (Ex. '5e6cf5c7-b511-4842-6aae-3f6b8ae5e95b').",
          "type": "string",
          "x-ms-summary": "User Id",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-test-value": {
        "@odata.id": "78afdf31-abd9-48a1-b4a1-be585a29b5ee"
      }
    },
    "AssignManager_Request": {
      "required": [
        "@odata.id"
      ],
      "type": "object",
      "properties": {
        "@odata.id": {
          "description": "Unique identifer of a manager (Ex. '5f6cf5c7-a561-4842-9aae-3e6d8ce5e95b').",
          "type": "string",
          "x-ms-summary": "User Id of the Manager",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-test-value": {
        "@odata.id": "c4f3739d-cc23-431a-9255-81e45f4bf052"
      }
    },
    "CreateGroup_Response": {
      "type": "object",
      "properties": {
        "@odata.context": {
          "description": "@odata.context",
          "type": "string",
          "x-ms-summary": "@odata.context"
        },
        "id": {
          "description": "id",
          "type": "string",
          "x-ms-summary": "id"
        },
        "deletedDateTime": {
          "description": "deletedDateTime",
          "type": "string",
          "x-ms-summary": "deletedDateTime"
        },
        "classification": {
          "description": "classification",
          "type": "string",
          "x-ms-summary": "classification"
        },
        "createdDateTime": {
          "format": "date-time",
          "description": "createdDateTime",
          "type": "string",
          "x-ms-summary": "createdDateTime"
        },
        "description": {
          "description": "description",
          "type": "string",
          "x-ms-summary": "description"
        },
        "displayName": {
          "format": "date-time",
          "description": "displayName",
          "type": "string",
          "x-ms-summary": "displayName"
        },
        "groupTypes": {
          "description": "groupTypes",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "groupTypes"
        },
        "mail": {
          "description": "mail",
          "type": "string",
          "x-ms-summary": "mail"
        },
        "mailEnabled": {
          "description": "mailEnabled",
          "type": "boolean",
          "x-ms-summary": "mailEnabled"
        },
        "mailNickname": {
          "format": "date-time",
          "description": "mailNickname",
          "type": "string",
          "x-ms-summary": "mailNickname"
        },
        "onPremisesLastSyncDateTime": {
          "description": "onPremisesLastSyncDateTime",
          "type": "string",
          "x-ms-summary": "onPremisesLastSyncDateTime"
        },
        "onPremisesSecurityIdentifier": {
          "description": "onPremisesSecurityIdentifier",
          "type": "string",
          "x-ms-summary": "onPremisesSecurityIdentifier"
        },
        "onPremisesSyncEnabled": {
          "description": "onPremisesSyncEnabled",
          "type": "boolean",
          "x-ms-summary": "onPremisesSyncEnabled"
        },
        "proxyAddresses": {
          "description": "proxyAddresses",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "proxyAddresses"
        },
        "renewedDateTime": {
          "format": "date-time",
          "description": "renewedDateTime",
          "type": "string",
          "x-ms-summary": "renewedDateTime"
        },
        "securityEnabled": {
          "description": "securityEnabled",
          "type": "boolean",
          "x-ms-summary": "securityEnabled"
        },
        "visibility": {
          "description": "visibility",
          "type": "string",
          "x-ms-summary": "visibility"
        }
      }
    },
    "GetGroup_Response": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique identifier for the group.",
          "type": "string",
          "x-ms-summary": "Id"
        },
        "deletedDateTime": {
          "format": "date-time",
          "description": "Date-time the group was deleted.",
          "type": "string",
          "x-ms-summary": "Deleted Date Time"
        },
        "createdDateTime": {
          "format": "date-time",
          "description": "Date-time the group was created.",
          "type": "string",
          "x-ms-summary": "Created Date Time"
        },
        "description": {
          "description": "An optional description for the group.",
          "type": "string",
          "x-ms-summary": "Description"
        },
        "displayName": {
          "description": "The display name for the group.",
          "type": "string",
          "x-ms-summary": "Display Name"
        },
        "mail": {
          "description": "The SMTP address for the group.",
          "type": "string",
          "x-ms-summary": "Mail"
        },
        "mailEnabled": {
          "description": "True if the group is mail-enabled.",
          "type": "boolean",
          "x-ms-summary": "Mail Enabled"
        },
        "onPremisesLastSyncDateTime": {
          "format": "date-time",
          "description": "A date-time indicating the last time at which the group was synced with the on-premises directory.",
          "type": "string",
          "x-ms-summary": "On Premises Last Sync Date Time"
        },
        "onPremisesSyncEnabled": {
          "description": "True if this group is synced from an on-premises directory.",
          "type": "boolean",
          "x-ms-summary": "On Premises Sync Enabled"
        },
        "securityEnabled": {
          "description": "True if the group is a security group.",
          "type": "boolean",
          "x-ms-summary": "Security Enabled"
        },
        "visibility": {
          "description": "Visibility of the group (public or private).",
          "type": "string",
          "x-ms-summary": "Visibility"
        }
      }
    },
    "GetUser_Response": {
      "type": "object",
      "properties": {
        "id": {
          "description": "A unique identifer for the user.",
          "type": "string",
          "x-ms-summary": "Id"
        },
        "businessPhones": {
          "type": "array",
          "items": {
            "description": "Business phone number for the new user.",
            "type": "string",
            "x-ms-summary": "Business Phone"
          },
          "x-ms-summary": "Business Phones"
        },
        "displayName": {
          "description": "The name displayed in the address book for the user.",
          "type": "string",
          "x-ms-summary": "Display Name"
        },
        "givenName": {
          "description": "The given name (first name) of the user.",
          "type": "string",
          "x-ms-summary": "Given Name"
        },
        "jobTitle": {
          "description": "The user's job title.",
          "type": "string",
          "x-ms-summary": "Job Title"
        },
        "mail": {
          "description": "The SMTP address for the user.",
          "type": "string",
          "x-ms-summary": "Mail"
        },
        "mobilePhone": {
          "description": "The primary cellular telephone number for the user.",
          "type": "string",
          "x-ms-summary": "Mobile Phone"
        },
        "officeLocation": {
          "description": "The office location in the user's place of business.",
          "type": "string",
          "x-ms-summary": "Office Location"
        },
        "preferredLanguage": {
          "description": "The preferred language for the user. Should follow ISO 639-1 Code; for example 'en-US'.",
          "type": "string",
          "x-ms-summary": "Preferred Language"
        },
        "surname": {
          "description": "The user's surname (family name or last name).",
          "type": "string",
          "x-ms-summary": "Surname"
        },
        "userPrincipalName": {
          "description": "The user principal name (UPN) of the user.",
          "type": "string",
          "x-ms-summary": "User Principal Name"
        }
      }
    },
    "UpdateUser_Request": {
      "type": "object",
      "properties": {
        "userPrincipalName": {
          "description": "The user principal name (UPN) of the user.",
          "type": "string",
          "x-ms-summary": "User Principal Name",
          "x-ms-visibility": "important"
        },
        "displayName": {
          "description": "The name displayed in the address book for the user.",
          "type": "string",
          "x-ms-summary": "Display Name",
          "x-ms-visibility": "important"
        },
        "mailNickname": {
          "description": "The mail alias for the user.",
          "type": "string",
          "x-ms-summary": "Mail Nickname",
          "x-ms-visibility": "important"
        },
        "givenName": {
          "description": "The given name (first name) of the user.",
          "type": "string",
          "x-ms-summary": "Given Name",
          "x-ms-visibility": "important"
        },
        "surname": {
          "description": "The user's surname (family name or last name).",
          "type": "string",
          "x-ms-summary": "Surname",
          "x-ms-visibility": "important"
        },
        "accountEnabled": {
          "description": "True if the new account should be enabled.",
          "type": "boolean",
          "x-ms-summary": "Account Enabled",
          "x-ms-visibility": "advanced"
        },
        "jobTitle": {
          "description": "The user's job title.",
          "type": "string",
          "x-ms-summary": "Job Title",
          "x-ms-visibility": "advanced"
        },
        "department": {
          "description": "The name for the department in which the user works.",
          "type": "string",
          "x-ms-summary": "Department",
          "x-ms-visibility": "advanced"
        },
        "mobilePhone": {
          "description": "The mobile phone number for the user in any format such as '1 (234) 567-8910'.",
          "type": "string",
          "x-ms-summary": "Mobile Phone",
          "x-ms-visibility": "advanced"
        },
        "officeLocation": {
          "description": "The office location in the user's place of business.",
          "type": "string",
          "x-ms-summary": "Office Location",
          "x-ms-visibility": "advanced"
        },
        "preferredLanguage": {
          "description": "The preferred language for the user. Should follow ISO 639-1 Code; for example 'en-US'.",
          "type": "string",
          "x-ms-summary": "Preferred Language",
          "x-ms-visibility": "advanced"
        },
        "businessPhones": {
          "type": "array",
          "items": {
            "description": "Business phone number for the new user in any format such as '1 (234) 567-8910'.",
            "type": "string",
            "x-ms-summary": "Business Phone"
          },
          "x-ms-visibility": "advanced"
        },
        "customProperties": {
          "description": "Free form property name and value for this user.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-summary": "Additional Properties",
          "x-ms-editor": "dictionary",
          "x-ms-visibility": "advanced"
        },
        "onPremisesExtensionAttributes": {
          "type": "object",
          "x-ms-visibility": "advanced",
          "properties": {
            "extensionAttribute1": {
              "type": "string",
              "description": "First customizable extension attribute.",
              "x-ms-summary": "First customizable extension attribute"
            },
            "extensionAttribute2": {
              "type": "string",
              "description": "Second customizable extension attribute.",
              "x-ms-summary": "Second customizable extension attribute"
            },
            "extensionAttribute3": {
              "type": "string",
              "description": "Third customizable extension attribute.",
              "x-ms-summary": "Third customizable extension attribute"
            },
            "extensionAttribute4": {
              "type": "string",
              "description": "Fourth customizable extension attribute.",
              "x-ms-summary": "Fourth customizable extension attribute"
            },
            "extensionAttribute5": {
              "type": "string",
              "description": "Fifth customizable extension attribute.",
              "x-ms-summary": "Fifth customizable extension attribute"
            },
            "extensionAttribute6": {
              "type": "string",
              "description": "Sixth customizable extension attribute.",
              "x-ms-summary": "Sixth customizable extension attribute"
            },
            "extensionAttribute7": {
              "type": "string",
              "description": "Seventh customizable extension attribute.",
              "x-ms-summary": "Seventh customizable extension attribute"
            },
            "extensionAttribute8": {
              "type": "string",
              "description": "Eighth customizable extension attribute.",
              "x-ms-summary": "Eighth customizable extension attribute"
            },
            "extensionAttribute9": {
              "type": "string",
              "description": "Ninth customizable extension attribute.",
              "x-ms-summary": "Ninth customizable extension attribute"
            },
            "extensionAttribute10": {
              "type": "string",
              "description": "Tenth customizable extension attribute.",
              "x-ms-summary": "Tenth customizable extension attribute"
            },
            "extensionAttribute11": {
              "type": "string",
              "description": "Eleventh customizable extension attribute.",
              "x-ms-summary": "Eleventh customizable extension attribute"
            },
            "extensionAttribute12": {
              "type": "string",
              "description": "Twelfth customizable extension attribute.",
              "x-ms-summary": "Twelfth customizable extension attribute"
            },
            "extensionAttribute13": {
              "type": "string",
              "description": "Thirteenth customizable extension attribute.",
              "x-ms-summary": "Thirteenth customizable extension attribute"
            },
            "extensionAttribute14": {
              "type": "string",
              "description": "Fourteenth customizable extension attribute.",
              "x-ms-summary": "Fourteenth customizable extension attribute"
            },
            "extensionAttribute15": {
              "type": "string",
              "description": "Fifteenth customizable extension attribute.",
              "x-ms-summary": "Fifteenth customizable extension attribute"
            }
          }
        }
      },
      "x-ms-test-value": {
        "displayName": "Isaac Perry",
        "mailNickname": "v-isperr",
        "userPrincipalName": "v-isperr@gncSameer.onmicrosoft.com",
        "jobTitle": "Dev",
        "department": "Connectors",
        "givenName": "Isaac",
        "surname": "Perry",
        "mobilePhone": "(907) 350-2356",
        "officeLocation": "Redmond",
        "preferredLanguage": "en-US",
        "businessPhones": [
          "(907) 350-2356"
        ]
      }
    },
    "GetMemberGroups_Request": {
      "type": "object",
      "required": [
        "securityEnabledOnly"
      ],
      "properties": {
        "securityEnabledOnly": {
          "type": "boolean",
          "x-ms-summary": "Security Enabled Only",
          "description": "Determines if only security enabled groups should be fetched.",
          "default": true
        }
      },
      "x-ms-test-value": {
        "securityEnabledOnly": true
      }
    },
    "GetMemberGroups_Response": {
      "type": "array",
      "items": {
        "description": "An id of a group the user is a member of.",
        "type": "string",
        "x-ms-summary": "Member Group Id"
      }
    },
    "GetMemberGroups_Response_V2": {
      "type": "object",
      "properties": {
        "value": {
          "$ref": "#/definitions/GetMemberGroups_Response"
        }
      }
    },
    "CreateUser_Request": {
      "required": [
        "accountEnabled",
        "displayName",
        "mailNickname",
        "passwordProfile",
        "userPrincipalName"
      ],
      "type": "object",
      "properties": {
        "accountEnabled": {
          "description": "True if the new account should be enabled when it is created.",
          "type": "boolean",
          "x-ms-summary": "Account Enabled",
          "x-ms-visibility": "important"
        },
        "displayName": {
          "description": "The name displayed in the address book for the user.",
          "type": "string",
          "x-ms-summary": "Display Name",
          "x-ms-visibility": "important"
        },
        "mailNickname": {
          "description": "The mail alias for the user.",
          "type": "string",
          "x-ms-summary": "Mail Nickname",
          "x-ms-visibility": "important"
        },
        "passwordProfile": {
          "description": "passwordProfile",
          "required": [
            "password"
          ],
          "type": "object",
          "properties": {
            "password": {
              "description": "The password for the user. The user will be required to change the password on the next login.",
              "type": "string",
              "x-ms-summary": "Password",
              "x-ms-visibility": "important"
            }
          }
        },
        "userPrincipalName": {
          "description": "The user principal name (UPN) of the user.",
          "type": "string",
          "x-ms-summary": "User Principal Name",
          "x-ms-visibility": "important"
        },
        "givenName": {
          "description": "The user's given name (first name).",
          "type": "string",
          "x-ms-summary": "Given Name",
          "x-ms-visibility": "important"
        },
        "surname": {
          "description": "The user's surname (family name or last name).",
          "type": "string",
          "x-ms-summary": "Surname",
          "x-ms-visibility": "important"
        },
        "businessPhones": {
          "type": "array",
          "items": {
            "description": "Business phone number for the new user in any format such as '1 (234) 567-8910'.",
            "type": "string",
            "x-ms-summary": "Business Phone"
          },
          "x-ms-visibility": "advanced"
        },
        "department": {
          "description": "The name for the department in which the user works.",
          "type": "string",
          "x-ms-summary": "Department",
          "x-ms-visibility": "advanced"
        },
        "jobTitle": {
          "description": "The user's job title.",
          "type": "string",
          "x-ms-summary": "Job Title",
          "x-ms-visibility": "advanced"
        },
        "mobilePhone": {
          "description": "The mobile phone number for the user in any format such as '1 (234) 567-8910'.",
          "type": "string",
          "x-ms-summary": "Mobile Phone",
          "x-ms-visibility": "advanced"
        },
        "officeLocation": {
          "description": "The office location in the user's place of business.",
          "type": "string",
          "x-ms-summary": "Office Location",
          "x-ms-visibility": "advanced"
        },
        "preferredLanguage": {
          "description": "The preferred language for the user. Should follow ISO 639-1 Code; for example 'en-US'.",
          "type": "string",
          "x-ms-summary": "Preferred Language",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "GetGroupMembers_Response": {
      "type": "object",
      "properties": {
        "@odata.nextLink": {
          "description": "Link to get next page of results",
          "type": "string",
          "x-ms-summary": "Next link",
          "x-ms-visibility": "internal"
        },
        "value": {
          "description": "Array of users that are members of the group.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GetUser_Response"
          },
          "x-ms-summary": "Group Members"
        }
      }
    },
    "CheckMemberGroups_Request": {
      "required": [
        "groupIds"
      ],
      "type": "object",
      "properties": {
        "groupIds": {
          "type": "array",
          "items": {
            "description": "Unique identifier for the group (Ex. '40649f36-46b6-46a6-95e1-9454b7433219').",
            "type": "string",
            "x-ms-summary": "Group Id",
            "x-ms-visibility": "important"
          }
        }
      },
      "x-ms-test-value": {
        "groupIds": [
          "40649f36-46b6-43a6-95e2-9554b7933919"
        ]
      }
    }
  },
  "parameters": {
    "id__in_path": {
      "name": "id",
      "in": "path",
      "description": "Unique identifer of a group (Ex. '40639f36-46a6-73a6-91e2-9584b7913429').",
      "required": true,
      "x-ms-summary": "Group Id",
      "x-ms-test-value": "40649f36-46b6-43a6-95e2-9554b7933919",
      "type": "string"
    },
    "id__in_path_2": {
      "name": "id",
      "in": "path",
      "description": "Unique identifier of a user (Ex. 'user@tennant.onmicrosoft.com' or '5f6ce5c7-b521-4842-9bbe-3f6d5aa5e35b').",
      "required": true,
      "x-ms-summary": "User Id or Principal Name",
      "x-ms-test-value": "v-isperr@gncSameer.onmicrosoft.com",
      "type": "string"
    }
  },
  "securityDefinitions": {},
  "x-ms-connector-metadata": [
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/en-us/privacystatement"
    },
    {
      "propertyName": "Website",
      "propertyValue": "https://azure.microsoft.com/en-us/services/active-directory"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Security"
    }
  ]
}