{
  "swagger": "2.0",
  "info": {
    "title": "xkcd",
    "description": "xkcd, sometimes styled XKCD, is a webcomic created in 2005 by American author Randall Munroe. The comic's tagline describes it as \"a webcomic of romance, sarcasm, math, and language\".",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "xkcd.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/info.0.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "month": {
                  "type": "string",
                  "description": "The month.",
                  "title": "Month"
                },
                "num": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The comic number.",
                  "title": "Number"
                },
                "link": {
                  "type": "string",
                  "description": "The link.",
                  "title": "Link"
                },
                "year": {
                  "type": "string",
                  "description": "The year.",
                  "title": "Year"
                },
                "news": {
                  "type": "string",
                  "description": "The related news.",
                  "title": "News"
                },
                "safe_title": {
                  "type": "string",
                  "description": "The safe title.",
                  "title": "Safe Title"
                },
                "transcript": {
                  "type": "string",
                  "description": "The transcript.",
                  "title": "Transcript"
                },
                "alt": {
                  "type": "string",
                  "description": "The alternate text.",
                  "title": "Alt"
                },
                "img": {
                  "type": "string",
                  "description": "The image URL.",
                  "title": "img"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "day": {
                  "type": "string",
                  "description": "The day of the month",
                  "title": "Day"
                }
              }
            }
          }
        },
        "summary": "Get current comic",
        "description": "Get the current comic. xkcd is updated every Monday, Wednesday, and Friday.",
        "operationId": "ComicGet",
        "parameters": []
      }
    },
    "/{number}/info.0.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "month": {
                  "type": "string",
                  "description": "The month.",
                  "title": "Month"
                },
                "num": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The comic number.",
                  "title": "Number"
                },
                "link": {
                  "type": "string",
                  "description": "The link.",
                  "title": "Link"
                },
                "year": {
                  "type": "string",
                  "description": "The year.",
                  "title": "Year"
                },
                "news": {
                  "type": "string",
                  "description": "The related news.",
                  "title": "News"
                },
                "safe_title": {
                  "type": "string",
                  "description": "The safe title.",
                  "title": "Safe Title"
                },
                "transcript": {
                  "type": "string",
                  "description": "The transcript.",
                  "title": "Transcript"
                },
                "alt": {
                  "type": "string",
                  "description": "The alternate text.",
                  "title": "Alt"
                },
                "img": {
                  "type": "string",
                  "description": "The image URL.",
                  "title": "img"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "day": {
                  "type": "string",
                  "description": "The day of the month",
                  "title": "Day"
                }
              }
            }
          }
        },
        "summary": "Get a specific comic",
        "description": "Returns a specific comic by comic number.",
        "operationId": "ComicGetA",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "The comic number.",
            "x-ms-summary": "Number",
            "format": "int32"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://xkcd.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://xkcd.com/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}