{
  "swagger": "2.0",
  "info": {
    "description": "HDX HAPI provides humanitarian datasets from the Humanitarian Data Exchange, including affected people, coordination and context, food security, geography, climate, and metadata. This connector supports read-only operations and pagination with limit and offset. Authentication is handled by deriving a Base64 app identifier from the provided app name and email and sending it with each request.",
    "title": "Humanitarian Data Exchange",
    "contact": {
      "name": "Richard Wilson",
      "email": "richard.a.wilson@microsoft.com",
      "url": "https://www.richardawilson.com/"
    },
    "version": "0.9.13"
  },
  "host": "hapi.humdata.org",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "App Name": {
      "type": "apiKey",
      "in": "header",
      "name": "app_name"
    },
    "Email": {
      "type": "apiKey",
      "in": "header",
      "name": "email"
    }
  },
  "security": [
    {
      "App Name": [],
      "Email": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://hapi.humdata.org/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://data.humdata.org/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ],
  "paths": {
    "/api/v2/affected-people/humanitarian-needs": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A category combining gender, age range, disability marker and population group information.",
            "in": "query",
            "name": "category",
            "required": false,
            "x-ms-summary": "Category",
            "type": "string"
          },
          {
            "description": "The sector code.",
            "in": "query",
            "name": "sector_code",
            "required": false,
            "x-ms-summary": "Sector Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetSectorApiVMetadataSectorGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "The population status. Select from dropdown.",
            "in": "query",
            "name": "population_status",
            "required": false,
            "x-ms-summary": "Population Status",
            "enum": [
              "AFF",
              "INN",
              "TGT",
              "REA",
              "all"
            ],
            "type": "string"
          },
          {
            "description": "A lower bound for the population.",
            "in": "query",
            "name": "population_min",
            "required": false,
            "x-ms-summary": "Population Min",
            "type": "string"
          },
          {
            "description": "An upper bound for the population.",
            "in": "query",
            "name": "population_max",
            "required": false,
            "x-ms-summary": "Population Max",
            "type": "string"
          },
          {
            "description": "The sector name.",
            "in": "query",
            "name": "sector_name",
            "required": false,
            "x-ms-summary": "Sector Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetSectorApiVMetadataSectorGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Whether the location has a Humanitarian Response Plan (HRP).",
            "in": "query",
            "name": "has_hrp",
            "required": false,
            "x-ms-summary": "Has Hrp",
            "type": "boolean"
          },
          {
            "description": "Whether the location is in the Global Humanitarian Overview.",
            "in": "query",
            "name": "in_gho",
            "required": false,
            "x-ms-summary": "In Gho",
            "type": "boolean"
          },
          {
            "description": "Reference period start (inclusive).",
            "in": "query",
            "name": "start_date",
            "required": false,
            "x-ms-summary": "Start Date",
            "type": "string"
          },
          {
            "description": "Reference period end (inclusive).",
            "in": "query",
            "name": "end_date",
            "required": false,
            "x-ms-summary": "End Date",
            "type": "string"
          },
          {
            "description": "Location code (ISO-3).",
            "in": "query",
            "name": "location_code",
            "required": false,
            "x-ms-summary": "Location Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Location name.",
            "in": "query",
            "name": "location_name",
            "required": false,
            "x-ms-summary": "Location Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Admin1 code.",
            "in": "query",
            "name": "admin1_code",
            "required": false,
            "x-ms-summary": "Admin1 Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "location_code": {
                  "parameter": "location_code"
                },
                "location_name": {
                  "parameter": "location_name"
                }
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Admin1 name.",
            "in": "query",
            "name": "admin1_name",
            "required": false,
            "x-ms-summary": "Admin1 Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "location_code": {
                  "parameter": "location_code"
                },
                "location_name": {
                  "parameter": "location_name"
                }
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Admin2 code.",
            "in": "query",
            "name": "admin2_code",
            "required": false,
            "x-ms-summary": "Admin2 Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet2",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "admin1_code": {
                  "parameter": "admin1_code"
                },
                "admin1_name": {
                  "parameter": "admin1_name"
                },
                "location_code": {
                  "parameter": "location_code"
                },
                "location_name": {
                  "parameter": "location_name"
                }
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Admin2 name.",
            "in": "query",
            "name": "admin2_name",
            "required": false,
            "x-ms-summary": "Admin2 Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet2",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "admin1_code": {
                  "parameter": "admin1_code"
                },
                "admin1_name": {
                  "parameter": "admin1_name"
                },
                "location_code": {
                  "parameter": "location_code"
                },
                "location_name": {
                  "parameter": "location_name"
                }
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Administrative level.",
            "in": "query",
            "name": "admin_level",
            "required": false,
            "x-ms-summary": "Admin Level",
            "type": "string"
          },
          {
            "enum": [
              "csv",
              "json"
            ],
            "default": "json",
            "in": "query",
            "name": "output_format",
            "required": false,
            "type": "string",
            "x-ms-summary": "Output Format",
            "x-ms-visibility": "internal",
            "description": "Allowed values: csv, json."
          },
          {
            "default": 10000,
            "description": "Maximum records to return (up to 10,000).",
            "in": "query",
            "maximum": 10000,
            "minimum": 0,
            "name": "limit",
            "required": false,
            "type": "integer",
            "x-example": 100,
            "x-ms-summary": "Limit"
          },
          {
            "default": 0,
            "description": "Records to skip for pagination.",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/HapiGenericResponse_HumanitarianNeedsResponse_"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Affected People"
        ],
        "description": "OCHA's Humanitarian Needs data, based on the Joint and Intersectoral Analysis Framework (JIAF), provides information about the number of people in need during a crisis. See the more detailed technical HDX HAPI documentation, and the original JIAF source website.",
        "operationId": "GetHumanitarianNeedsApiVAffectedPeopleHumanitarianNeedsGet",
        "summary": "Get humanitarian needs data"
      }
    },
    "/api/v2/affected-people/idps": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Whether the location has a Humanitarian Response Plan (HRP).",
            "in": "query",
            "name": "has_hrp",
            "required": false,
            "x-ms-summary": "Has Hrp",
            "type": "boolean"
          },
          {
            "description": "Whether the location is in the Global Humanitarian Overview.",
            "in": "query",
            "name": "in_gho",
            "required": false,
            "x-ms-summary": "In Gho",
            "type": "boolean"
          },
          {
            "description": "Reference period start (inclusive).",
            "in": "query",
            "name": "start_date",
            "required": false,
            "x-ms-summary": "Start Date",
            "type": "string"
          },
          {
            "description": "Reference period end (inclusive).",
            "in": "query",
            "name": "end_date",
            "required": false,
            "x-ms-summary": "End Date",
            "type": "string"
          },
          {
            "description": "Location code (ISO-3).",
            "in": "query",
            "name": "location_code",
            "required": false,
            "x-ms-summary": "Location Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Location name.",
            "in": "query",
            "name": "location_name",
            "required": false,
            "x-ms-summary": "Location Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Admin1 code.",
            "in": "query",
            "name": "admin1_code",
            "required": false,
            "x-ms-summary": "Admin1 Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Admin1 name.",
            "in": "query",
            "name": "admin1_name",
            "required": false,
            "x-ms-summary": "Admin1 Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Admin2 code.",
            "in": "query",
            "name": "admin2_code",
            "required": false,
            "x-ms-summary": "Admin2 Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet2",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "admin1_code": {
                  "parameter": "admin1_code"
                },
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Admin2 name.",
            "in": "query",
            "name": "admin2_name",
            "required": false,
            "x-ms-summary": "Admin2 Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet2",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "admin1_code": {
                  "parameter": "admin1_code"
                },
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Administrative level.",
            "in": "query",
            "name": "admin_level",
            "required": false,
            "x-ms-summary": "Admin Level",
            "type": "string"
          },
          {
            "enum": [
              "csv",
              "json"
            ],
            "default": "json",
            "in": "query",
            "name": "output_format",
            "required": false,
            "type": "string",
            "x-ms-summary": "Output Format",
            "x-ms-visibility": "internal",
            "description": "Allowed values: csv, json."
          },
          {
            "default": 10000,
            "description": "Maximum records to return (up to 10,000).",
            "in": "query",
            "maximum": 10000,
            "minimum": 0,
            "name": "limit",
            "required": false,
            "type": "integer",
            "x-example": 100,
            "x-ms-summary": "Limit"
          },
          {
            "default": 0,
            "description": "Records to skip for pagination.",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/HapiGenericResponse_IdpsResponse_"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Affected People"
        ],
        "description": "Retrieve internally displaced persons data from HDX HAPI.",
        "operationId": "GetIdpsApiVAffectedPeopleIdpsGet",
        "summary": "Get idps data"
      }
    },
    "/api/v2/affected-people/refugees-persons-of-concern": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The population group. Select from dropdown.",
            "in": "query",
            "name": "population_group",
            "required": false,
            "x-ms-summary": "Population Group",
            "enum": [
              "REF",
              "ROC",
              "ASY",
              "OIP",
              "IDP",
              "IOC",
              "STA",
              "OOC",
              "HST",
              "RET",
              "RST",
              "NAT",
              "RDP",
              "RRI",
              "all"
            ],
            "type": "string"
          },
          {
            "description": "A lower bound for the population.",
            "in": "query",
            "name": "population_min",
            "required": false,
            "x-ms-summary": "Population Min",
            "type": "string"
          },
          {
            "description": "An upper bound for the population.",
            "in": "query",
            "name": "population_max",
            "required": false,
            "x-ms-summary": "Population Max",
            "type": "string"
          },
          {
            "description": "The gender. Select from dropdown.",
            "in": "query",
            "name": "gender",
            "required": false,
            "x-ms-summary": "Gender",
            "enum": [
              "f",
              "m",
              "x",
              "u",
              "o",
              "all"
            ],
            "type": "string"
          },
          {
            "description": "The age range. These are expressed as [start age]-[end age], or [start age]+ for an age range starting at [start age] or above. The end age is assumed to be inclusive, though that is not always explicit in the source data.",
            "in": "query",
            "name": "age_range",
            "required": false,
            "x-ms-summary": "Age Range",
            "type": "string"
          },
          {
            "description": "Origin location code (ISO-3).",
            "in": "query",
            "name": "origin_location_code",
            "required": false,
            "x-ms-summary": "Origin Location Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Origin location name.",
            "in": "query",
            "name": "origin_location_name",
            "required": false,
            "x-ms-summary": "Origin Location Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Whether the location has a Humanitarian Response Plan (HRP).",
            "in": "query",
            "name": "origin_has_hrp",
            "required": false,
            "x-ms-summary": "Origin Has Hrp",
            "type": "boolean"
          },
          {
            "description": "Whether the location is in the Global Humanitarian Overview.",
            "in": "query",
            "name": "origin_in_gho",
            "required": false,
            "x-ms-summary": "Origin In Gho",
            "type": "boolean"
          },
          {
            "description": "Asylum location code (ISO-3).",
            "in": "query",
            "name": "asylum_location_code",
            "required": false,
            "x-ms-summary": "Asylum Location Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Asylum location name.",
            "in": "query",
            "name": "asylum_location_name",
            "required": false,
            "x-ms-summary": "Asylum Location Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Whether the location has a Humanitarian Response Plan (HRP).",
            "in": "query",
            "name": "asylum_has_hrp",
            "required": false,
            "x-ms-summary": "Asylum Has Hrp",
            "type": "boolean"
          },
          {
            "description": "Whether the location is in the Global Humanitarian Overview.",
            "in": "query",
            "name": "asylum_in_gho",
            "required": false,
            "x-ms-summary": "Asylum In Gho",
            "type": "boolean"
          },
          {
            "description": "Reference period start (inclusive).",
            "in": "query",
            "name": "start_date",
            "required": false,
            "x-ms-summary": "Start Date",
            "type": "string"
          },
          {
            "description": "Reference period end (inclusive).",
            "in": "query",
            "name": "end_date",
            "required": false,
            "x-ms-summary": "End Date",
            "type": "string"
          },
          {
            "enum": [
              "csv",
              "json"
            ],
            "default": "json",
            "in": "query",
            "name": "output_format",
            "required": false,
            "type": "string",
            "x-ms-summary": "Output Format",
            "x-ms-visibility": "internal",
            "description": "Allowed values: csv, json."
          },
          {
            "default": 10000,
            "description": "Maximum records to return (up to 10,000).",
            "in": "query",
            "maximum": 10000,
            "minimum": 0,
            "name": "limit",
            "required": false,
            "type": "integer",
            "x-example": 100,
            "x-ms-summary": "Limit"
          },
          {
            "default": 0,
            "description": "Records to skip for pagination.",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/HapiGenericResponse_RefugeesResponse_"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Affected People"
        ],
        "description": "UNHCR's Refugee data provides information about displaced people in a crisis. See the more detailed technical HDX HAPI documentation, and the original HDX source website.",
        "operationId": "GetRefugeesApiVAffectedPeopleRefugeesPersonsOfConcernGet",
        "summary": "Get refugees data"
      }
    },
    "/api/v2/affected-people/returnees": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The population group. Select from dropdown.",
            "in": "query",
            "name": "population_group",
            "required": false,
            "x-ms-summary": "Population Group",
            "enum": [
              "REF",
              "ROC",
              "ASY",
              "OIP",
              "IDP",
              "IOC",
              "STA",
              "OOC",
              "HST",
              "RET",
              "RST",
              "NAT",
              "RDP",
              "RRI",
              "all"
            ],
            "type": "string"
          },
          {
            "description": "The gender. Select from dropdown.",
            "in": "query",
            "name": "gender",
            "required": false,
            "x-ms-summary": "Gender",
            "enum": [
              "f",
              "m",
              "x",
              "u",
              "o",
              "all"
            ],
            "type": "string"
          },
          {
            "description": "The age range. These are expressed as [start age]-[end age], or [start age]+ for an age range starting at [start age] or above. The end age is assumed to be inclusive, though that is not always explicit in the source data.",
            "in": "query",
            "name": "age_range",
            "required": false,
            "x-ms-summary": "Age Range",
            "type": "string"
          },
          {
            "description": "The minimum age from `age_range`, set to `null` if `age_range` is \"all\" and there is no age disaggregation.",
            "in": "query",
            "name": "min_age",
            "required": false,
            "x-ms-summary": "Min Age",
            "type": "string"
          },
          {
            "description": "The maximum age from `age_range`, set to `null` if `age_range` is \"all\" and there is no age disaggregation, or if there is no upper limit to the age range.",
            "in": "query",
            "name": "max_age",
            "required": false,
            "x-ms-summary": "Max Age",
            "type": "string"
          },
          {
            "description": "Origin location code (ISO-3).",
            "in": "query",
            "name": "origin_location_code",
            "required": false,
            "x-ms-summary": "Origin Location Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Origin location name.",
            "in": "query",
            "name": "origin_location_name",
            "required": false,
            "x-ms-summary": "Origin Location Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Whether the location has a Humanitarian Response Plan (HRP).",
            "in": "query",
            "name": "origin_has_hrp",
            "required": false,
            "x-ms-summary": "Origin Has Hrp",
            "type": "boolean"
          },
          {
            "description": "Whether the location is in the Global Humanitarian Overview.",
            "in": "query",
            "name": "origin_in_gho",
            "required": false,
            "x-ms-summary": "Origin In Gho",
            "type": "boolean"
          },
          {
            "description": "Asylum location code (ISO-3).",
            "in": "query",
            "name": "asylum_location_code",
            "required": false,
            "x-ms-summary": "Asylum Location Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Asylum location name.",
            "in": "query",
            "name": "asylum_location_name",
            "required": false,
            "x-ms-summary": "Asylum Location Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Whether the location has a Humanitarian Response Plan (HRP).",
            "in": "query",
            "name": "asylum_has_hrp",
            "required": false,
            "x-ms-summary": "Asylum Has Hrp",
            "type": "boolean"
          },
          {
            "description": "Whether the location is in the Global Humanitarian Overview.",
            "in": "query",
            "name": "asylum_in_gho",
            "required": false,
            "x-ms-summary": "Asylum In Gho",
            "type": "boolean"
          },
          {
            "description": "Reference period start (inclusive).",
            "in": "query",
            "name": "start_date",
            "required": false,
            "x-ms-summary": "Start Date",
            "type": "string"
          },
          {
            "description": "Reference period end (inclusive).",
            "in": "query",
            "name": "end_date",
            "required": false,
            "x-ms-summary": "End Date",
            "type": "string"
          },
          {
            "enum": [
              "csv",
              "json"
            ],
            "default": "json",
            "in": "query",
            "name": "output_format",
            "required": false,
            "type": "string",
            "x-ms-summary": "Output Format",
            "x-ms-visibility": "internal",
            "description": "Allowed values: csv, json."
          },
          {
            "default": 10000,
            "description": "Maximum records to return (up to 10,000).",
            "in": "query",
            "maximum": 10000,
            "minimum": 0,
            "name": "limit",
            "required": false,
            "type": "integer",
            "x-example": 100,
            "x-ms-summary": "Limit"
          },
          {
            "default": 0,
            "description": "Records to skip for pagination.",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/HapiGenericResponse_ReturneesResponse_"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Affected People"
        ],
        "description": "Retrieve returnees data from HDX HAPI.",
        "operationId": "GetReturneesApiVAffectedPeopleReturneesGet",
        "summary": "Get returnees data"
      }
    },
    "/api/v2/climate/rainfall": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The aggregation period. Select from dropdown.",
            "in": "query",
            "name": "aggregation_period",
            "required": false,
            "x-ms-summary": "Aggregation Period",
            "enum": [
              "DEKAD",
              "ONE_MONTH",
              "THREE_MONTH",
              "dekad",
              "1-month",
              "3-month"
            ],
            "type": "string"
          },
          {
            "description": "Rainfall version. Select from dropdown.",
            "in": "query",
            "name": "version",
            "required": false,
            "x-ms-summary": "Version",
            "enum": [
              "FINAL",
              "FORECAST",
              "PRELIMINARY",
              "final",
              "forecast",
              "preliminary"
            ],
            "type": "string"
          },
          {
            "description": "Whether the location has a Humanitarian Response Plan (HRP).",
            "in": "query",
            "name": "has_hrp",
            "required": false,
            "x-ms-summary": "Has Hrp",
            "type": "boolean"
          },
          {
            "description": "Whether the location is in the Global Humanitarian Overview.",
            "in": "query",
            "name": "in_gho",
            "required": false,
            "x-ms-summary": "In Gho",
            "type": "boolean"
          },
          {
            "description": "Reference period start (inclusive).",
            "in": "query",
            "name": "start_date",
            "required": false,
            "x-ms-summary": "Start Date",
            "type": "string"
          },
          {
            "description": "Reference period end (inclusive).",
            "in": "query",
            "name": "end_date",
            "required": false,
            "x-ms-summary": "End Date",
            "type": "string"
          },
          {
            "description": "Location code (ISO-3).",
            "in": "query",
            "name": "location_code",
            "required": false,
            "x-ms-summary": "Location Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Location name.",
            "in": "query",
            "name": "location_name",
            "required": false,
            "x-ms-summary": "Location Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Admin1 code.",
            "in": "query",
            "name": "admin1_code",
            "required": false,
            "x-ms-summary": "Admin1 Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Admin1 name.",
            "in": "query",
            "name": "admin1_name",
            "required": false,
            "x-ms-summary": "Admin1 Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Admin2 code.",
            "in": "query",
            "name": "admin2_code",
            "required": false,
            "x-ms-summary": "Admin2 Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet2",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "admin1_code": {
                  "parameter": "admin1_code"
                },
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Admin2 name.",
            "in": "query",
            "name": "admin2_name",
            "required": false,
            "x-ms-summary": "Admin2 Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet2",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "admin1_code": {
                  "parameter": "admin1_code"
                },
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Administrative level.",
            "in": "query",
            "name": "admin_level",
            "required": false,
            "x-ms-summary": "Admin Level",
            "type": "string"
          },
          {
            "enum": [
              "csv",
              "json"
            ],
            "default": "json",
            "in": "query",
            "name": "output_format",
            "required": false,
            "type": "string",
            "x-ms-summary": "Output Format",
            "x-ms-visibility": "internal",
            "description": "Allowed values: csv, json."
          },
          {
            "default": 10000,
            "description": "Maximum records to return (up to 10,000).",
            "in": "query",
            "maximum": 10000,
            "minimum": 0,
            "name": "limit",
            "required": false,
            "type": "integer",
            "x-example": 100,
            "x-ms-summary": "Limit"
          },
          {
            "default": 0,
            "description": "Records to skip for pagination.",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/HapiGenericResponse_RainfallResponse_"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Climate"
        ],
        "description": "Retrieves rainfall data for supported locations and administrative levels.",
        "operationId": "GetRainfallApiVClimateRainfallGet",
        "summary": "Get rainfall data"
      }
    },
    "/api/v2/coordination-context/conflict-events": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ACLED event-type categories (non-mutually exclusive). Select from dropdown.",
            "in": "query",
            "name": "event_type",
            "required": false,
            "x-ms-summary": "Event Type",
            "enum": [
              "civilian_targeting",
              "demonstration",
              "political_violence"
            ],
            "type": "string"
          },
          {
            "description": "Whether the location has a Humanitarian Response Plan (HRP).",
            "in": "query",
            "name": "has_hrp",
            "required": false,
            "x-ms-summary": "Has Hrp",
            "type": "boolean"
          },
          {
            "description": "Whether the location is in the Global Humanitarian Overview.",
            "in": "query",
            "name": "in_gho",
            "required": false,
            "x-ms-summary": "In Gho",
            "type": "boolean"
          },
          {
            "description": "Reference period start (inclusive).",
            "in": "query",
            "name": "start_date",
            "required": false,
            "x-ms-summary": "Start Date",
            "type": "string"
          },
          {
            "description": "Reference period end (inclusive).",
            "in": "query",
            "name": "end_date",
            "required": false,
            "x-ms-summary": "End Date",
            "type": "string"
          },
          {
            "description": "Location code (ISO-3).",
            "in": "query",
            "name": "location_code",
            "required": false,
            "x-ms-summary": "Location Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Location name.",
            "in": "query",
            "name": "location_name",
            "required": false,
            "x-ms-summary": "Location Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Admin1 code.",
            "in": "query",
            "name": "admin1_code",
            "required": false,
            "x-ms-summary": "Admin1 Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Admin1 name.",
            "in": "query",
            "name": "admin1_name",
            "required": false,
            "x-ms-summary": "Admin1 Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Admin2 code.",
            "in": "query",
            "name": "admin2_code",
            "required": false,
            "x-ms-summary": "Admin2 Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet2",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "admin1_code": {
                  "parameter": "admin1_code"
                },
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Admin2 name.",
            "in": "query",
            "name": "admin2_name",
            "required": false,
            "x-ms-summary": "Admin2 Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet2",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "admin1_code": {
                  "parameter": "admin1_code"
                },
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Administrative level.",
            "in": "query",
            "name": "admin_level",
            "required": false,
            "x-ms-summary": "Admin Level",
            "type": "string"
          },
          {
            "enum": [
              "csv",
              "json"
            ],
            "default": "json",
            "in": "query",
            "name": "output_format",
            "required": false,
            "type": "string",
            "x-ms-summary": "Output Format",
            "x-ms-visibility": "internal",
            "description": "Allowed values: csv, json."
          },
          {
            "default": 10000,
            "description": "Maximum records to return (up to 10,000).",
            "in": "query",
            "maximum": 10000,
            "minimum": 0,
            "name": "limit",
            "required": false,
            "type": "integer",
            "x-example": 100,
            "x-ms-summary": "Limit"
          },
          {
            "default": 0,
            "description": "Records to skip for pagination.",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/HapiGenericResponse_ConflictEventResponse_"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Coordination & Context"
        ],
        "description": "Armed Conflict Location & Events Data from ACLED. See the more detailed technical HDX HAPI documentation, and the original ACLED source website.",
        "operationId": "GetConflictEventApiVCoordinationContextConflictEventsGet",
        "summary": "Get the list of conflict events"
      }
    },
    "/api/v2/coordination-context/funding": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A unique code given by FTS to each appeal.",
            "in": "query",
            "name": "appeal_code",
            "required": false,
            "x-ms-summary": "Appeal Code",
            "type": "string"
          },
          {
            "description": "The type of the appeal, such as flash or HRP.",
            "in": "query",
            "name": "appeal_type",
            "required": false,
            "x-ms-summary": "Appeal Type",
            "type": "string"
          },
          {
            "description": "Location code (ISO-3).",
            "in": "query",
            "name": "location_code",
            "required": false,
            "x-ms-summary": "Location Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Location name.",
            "in": "query",
            "name": "location_name",
            "required": false,
            "x-ms-summary": "Location Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Whether the location has a Humanitarian Response Plan (HRP).",
            "in": "query",
            "name": "has_hrp",
            "required": false,
            "x-ms-summary": "Has Hrp",
            "type": "boolean"
          },
          {
            "description": "Whether the location is in the Global Humanitarian Overview.",
            "in": "query",
            "name": "in_gho",
            "required": false,
            "x-ms-summary": "In Gho",
            "type": "boolean"
          },
          {
            "description": "Reference period start (inclusive).",
            "in": "query",
            "name": "start_date",
            "required": false,
            "x-ms-summary": "Start Date",
            "type": "string"
          },
          {
            "description": "Reference period end (inclusive).",
            "in": "query",
            "name": "end_date",
            "required": false,
            "x-ms-summary": "End Date",
            "type": "string"
          },
          {
            "enum": [
              "csv",
              "json"
            ],
            "default": "json",
            "in": "query",
            "name": "output_format",
            "required": false,
            "type": "string",
            "x-ms-summary": "Output Format",
            "x-ms-visibility": "internal",
            "description": "Allowed values: csv, json."
          },
          {
            "default": 10000,
            "description": "Maximum records to return (up to 10,000).",
            "in": "query",
            "maximum": 10000,
            "minimum": 0,
            "name": "limit",
            "required": false,
            "type": "integer",
            "x-example": 100,
            "x-ms-summary": "Limit"
          },
          {
            "default": 0,
            "description": "Records to skip for pagination.",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/HapiGenericResponse_FundingResponse_"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Coordination & Context"
        ],
        "description": "OCHA's funding data from the Financial Tracking Service provides information on humanitarian aid contributions. See the more detailed technical HDX HAPI documentation, and the original FTS source website.",
        "operationId": "GetFundingApiVCoordinationContextFundingGet",
        "summary": "Get funding data"
      }
    },
    "/api/v2/coordination-context/national-risk": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The INFORM risk class. Select from dropdown.",
            "in": "query",
            "name": "risk_class",
            "required": false,
            "x-ms-summary": "Risk Class",
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5"
            ],
            "type": "string"
          },
          {
            "description": "A lower bound for the Global Rank.",
            "in": "query",
            "name": "global_rank_min",
            "required": false,
            "x-ms-summary": "Global Rank Min",
            "type": "string"
          },
          {
            "description": "An upper bound for the Global Rank.",
            "in": "query",
            "name": "global_rank_max",
            "required": false,
            "x-ms-summary": "Global Rank Max",
            "type": "string"
          },
          {
            "description": "A lower bound for the Overall Risk.",
            "in": "query",
            "name": "overall_risk_min",
            "required": false,
            "x-ms-summary": "Overall Risk Min",
            "type": "string"
          },
          {
            "description": "An upper bound for the Overall Risk.",
            "in": "query",
            "name": "overall_risk_max",
            "required": false,
            "x-ms-summary": "Overall Risk Max",
            "type": "string"
          },
          {
            "description": "A lower bound for the Hazard Exposure Risk.",
            "in": "query",
            "name": "hazard_exposure_risk_min",
            "required": false,
            "x-ms-summary": "Hazard Exposure Risk Min",
            "type": "string"
          },
          {
            "description": "An upper bound for the Hazard Exposure Risk.",
            "in": "query",
            "name": "hazard_exposure_risk_max",
            "required": false,
            "x-ms-summary": "Hazard Exposure Risk Max",
            "type": "string"
          },
          {
            "description": "A lower bound for the Vulnerability Risk.",
            "in": "query",
            "name": "vulnerability_risk_min",
            "required": false,
            "x-ms-summary": "Vulnerability Risk Min",
            "type": "string"
          },
          {
            "description": "An upper bound for the Vulnerability Risk.",
            "in": "query",
            "name": "vulnerability_risk_max",
            "required": false,
            "x-ms-summary": "Vulnerability Risk Max",
            "type": "string"
          },
          {
            "description": "A lower bound for the Coping Capacity Risk.",
            "in": "query",
            "name": "coping_capacity_risk_min",
            "required": false,
            "x-ms-summary": "Coping Capacity Risk Min",
            "type": "string"
          },
          {
            "description": "A lower bound for the Coping Capacity Risk.",
            "in": "query",
            "name": "coping_capacity_risk_max",
            "required": false,
            "x-ms-summary": "Coping Capacity Risk Max",
            "type": "string"
          },
          {
            "description": "Location code (ISO-3).",
            "in": "query",
            "name": "location_code",
            "required": false,
            "x-ms-summary": "Location Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Location name.",
            "in": "query",
            "name": "location_name",
            "required": false,
            "x-ms-summary": "Location Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Whether the location has a Humanitarian Response Plan (HRP).",
            "in": "query",
            "name": "has_hrp",
            "required": false,
            "x-ms-summary": "Has Hrp",
            "type": "boolean"
          },
          {
            "description": "Whether the location is in the Global Humanitarian Overview.",
            "in": "query",
            "name": "in_gho",
            "required": false,
            "x-ms-summary": "In Gho",
            "type": "boolean"
          },
          {
            "description": "Reference period start (inclusive).",
            "in": "query",
            "name": "start_date",
            "required": false,
            "x-ms-summary": "Start Date",
            "type": "string"
          },
          {
            "description": "Reference period end (inclusive).",
            "in": "query",
            "name": "end_date",
            "required": false,
            "x-ms-summary": "End Date",
            "type": "string"
          },
          {
            "enum": [
              "csv",
              "json"
            ],
            "default": "json",
            "in": "query",
            "name": "output_format",
            "required": false,
            "type": "string",
            "x-ms-summary": "Output Format",
            "x-ms-visibility": "internal",
            "description": "Allowed values: csv, json."
          },
          {
            "default": 10000,
            "description": "Maximum records to return (up to 10,000).",
            "in": "query",
            "maximum": 10000,
            "minimum": 0,
            "name": "limit",
            "required": false,
            "type": "integer",
            "x-example": 100,
            "x-ms-summary": "Limit"
          },
          {
            "default": 0,
            "description": "Records to skip for pagination.",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/HapiGenericResponse_NationalRiskResponse_"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Coordination & Context"
        ],
        "description": "European Commission national risk data from the INFORM-risk framework. See the more detailed technical HDX HAPI documentation, and the original INFORM-risk source website.",
        "operationId": "GetNationalRiskApiVCoordinationContextNationalRiskGet",
        "summary": "Get national risk data"
      }
    },
    "/api/v2/coordination-context/operational-presence": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Sector codes, which describe the humanitarian sector to which the operational presence applies.",
            "in": "query",
            "name": "sector_code",
            "required": false,
            "x-ms-summary": "Sector Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetSectorApiVMetadataSectorGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Sector names, which describe the humanitarian sector to which the operational presence applies.",
            "in": "query",
            "name": "sector_name",
            "required": false,
            "x-ms-summary": "Sector Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetSectorApiVMetadataSectorGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "The acronym of the organization to which the operational presence applies.",
            "in": "query",
            "name": "org_acronym",
            "required": false,
            "x-ms-summary": "Org Acronym",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetOrgApiVMetadataOrgGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "acronym",
              "value-title": "name"
            }
          },
          {
            "description": "The name of the organization to which the operational presence applies.",
            "in": "query",
            "name": "org_name",
            "required": false,
            "x-ms-summary": "Org Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetOrgApiVMetadataOrgGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Whether the location has a Humanitarian Response Plan (HRP).",
            "in": "query",
            "name": "has_hrp",
            "required": false,
            "x-ms-summary": "Has Hrp",
            "type": "boolean"
          },
          {
            "description": "Whether the location is in the Global Humanitarian Overview.",
            "in": "query",
            "name": "in_gho",
            "required": false,
            "x-ms-summary": "In Gho",
            "type": "boolean"
          },
          {
            "description": "Reference period start (inclusive).",
            "in": "query",
            "name": "start_date",
            "required": false,
            "x-ms-summary": "Start Date",
            "type": "string"
          },
          {
            "description": "Reference period end (inclusive).",
            "in": "query",
            "name": "end_date",
            "required": false,
            "x-ms-summary": "End Date",
            "type": "string"
          },
          {
            "description": "Location code (ISO-3).",
            "in": "query",
            "name": "location_code",
            "required": false,
            "x-ms-summary": "Location Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Location name.",
            "in": "query",
            "name": "location_name",
            "required": false,
            "x-ms-summary": "Location Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Admin1 code.",
            "in": "query",
            "name": "admin1_code",
            "required": false,
            "x-ms-summary": "Admin1 Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Admin1 name.",
            "in": "query",
            "name": "admin1_name",
            "required": false,
            "x-ms-summary": "Admin1 Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Admin2 code.",
            "in": "query",
            "name": "admin2_code",
            "required": false,
            "x-ms-summary": "Admin2 Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet2",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "admin1_code": {
                  "parameter": "admin1_code"
                },
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Admin2 name.",
            "in": "query",
            "name": "admin2_name",
            "required": false,
            "x-ms-summary": "Admin2 Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet2",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "admin1_code": {
                  "parameter": "admin1_code"
                },
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Administrative level.",
            "in": "query",
            "name": "admin_level",
            "required": false,
            "x-ms-summary": "Admin Level",
            "type": "string"
          },
          {
            "enum": [
              "csv",
              "json"
            ],
            "default": "json",
            "in": "query",
            "name": "output_format",
            "required": false,
            "type": "string",
            "x-ms-summary": "Output Format",
            "x-ms-visibility": "internal",
            "description": "Allowed values: csv, json."
          },
          {
            "default": 10000,
            "description": "Maximum records to return (up to 10,000).",
            "in": "query",
            "maximum": 10000,
            "minimum": 0,
            "name": "limit",
            "required": false,
            "type": "integer",
            "x-example": 100,
            "x-ms-summary": "Limit"
          },
          {
            "default": 0,
            "description": "Records to skip for pagination.",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/HapiGenericResponse_OperationalPresenceResponse_"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Coordination & Context"
        ],
        "description": "OCHA's 3W (Who is doing What Where) Operational Presence data provides information about which organizations are working in different locations affected by a crisis. See the more detailed technical HDX HAPI documentation, and the original OCHA 3W source website.",
        "operationId": "GetOperationalPresenceApiVCoordinationContextOperationalPresenceGet",
        "summary": "Get operational presence data"
      }
    },
    "/api/v2/encode_app_identifier": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A name for the calling application.",
            "in": "query",
            "maxLength": 512,
            "minLength": 4,
            "name": "application",
            "required": true,
            "type": "string",
            "x-ms-summary": "Application"
          },
          {
            "description": "An email address.",
            "format": "email",
            "in": "query",
            "maxLength": 512,
            "name": "email",
            "required": true,
            "type": "string",
            "x-ms-summary": "Email"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/IdentifierResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Generate App Identifier"
        ],
        "description": "Encode an application name and email address in base64 to serve as a client identifier in HDX HAPI calls.",
        "operationId": "GetEncodedIdentifierApiVEncodeAppIdentifierGet",
        "summary": "Get an app identifier by encoding an application name and email"
      }
    },
    "/api/v2/food-security-nutrition-poverty/food-prices-market-monitor": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique code identifying the market.",
            "in": "query",
            "name": "market_code",
            "required": false,
            "x-ms-summary": "Market Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetWfpMarketApiVMetadataWfpMarketGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "The name of the market.",
            "in": "query",
            "name": "market_name",
            "required": false,
            "x-ms-summary": "Market Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetWfpMarketApiVMetadataWfpMarketGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "The unique code identifying the commodity.",
            "in": "query",
            "name": "commodity_code",
            "required": false,
            "x-ms-summary": "Commodity Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetWfpCommoditiesApiVMetadataWfpCommodityGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "The food group that the commodity belongs to. Select from dropdown.",
            "in": "query",
            "name": "commodity_category",
            "required": false,
            "x-ms-summary": "Commodity Category",
            "enum": [
              "cereals and tubers",
              "meat, fish and eggs",
              "milk and dairy",
              "miscellaneous food",
              "non-food",
              "oil and fats",
              "pulses and nuts",
              "vegetables and fruits"
            ],
            "type": "string"
          },
          {
            "description": "The name of the commodity.",
            "in": "query",
            "name": "commodity_name",
            "required": false,
            "x-ms-summary": "Commodity Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetWfpCommoditiesApiVMetadataWfpCommodityGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "The pre-processing characteristics of food prices. Allowed values: actual, aggregate, actual,aggregate.",
            "in": "query",
            "name": "price_flag",
            "required": false,
            "x-ms-summary": "Price Flag",
            "enum": [
              "actual",
              "aggregate",
              "actual,aggregate"
            ],
            "type": "string"
          },
          {
            "description": "The point in the supply chain at which the price is determined. Allowed values: Farm Gate, Retail, Wholesale, Producer.",
            "in": "query",
            "name": "price_type",
            "required": false,
            "x-ms-summary": "Price Type",
            "enum": [
              "Farm Gate",
              "Retail",
              "Wholesale",
              "Producer"
            ],
            "type": "string"
          },
          {
            "description": "A lower bound for the price.",
            "in": "query",
            "name": "price_min",
            "required": false,
            "x-ms-summary": "Price Min",
            "type": "string"
          },
          {
            "description": "An upper bound for the price.",
            "in": "query",
            "name": "price_max",
            "required": false,
            "x-ms-summary": "Price Max",
            "type": "string"
          },
          {
            "description": "Whether the location has a Humanitarian Response Plan (HRP).",
            "in": "query",
            "name": "has_hrp",
            "required": false,
            "x-ms-summary": "Has Hrp",
            "type": "boolean"
          },
          {
            "description": "Whether the location is in the Global Humanitarian Overview.",
            "in": "query",
            "name": "in_gho",
            "required": false,
            "x-ms-summary": "In Gho",
            "type": "boolean"
          },
          {
            "description": "Reference period start (inclusive).",
            "in": "query",
            "name": "start_date",
            "required": false,
            "x-ms-summary": "Start Date",
            "type": "string"
          },
          {
            "description": "Reference period end (inclusive).",
            "in": "query",
            "name": "end_date",
            "required": false,
            "x-ms-summary": "End Date",
            "type": "string"
          },
          {
            "description": "Location code (ISO-3).",
            "in": "query",
            "name": "location_code",
            "required": false,
            "x-ms-summary": "Location Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Location name.",
            "in": "query",
            "name": "location_name",
            "required": false,
            "x-ms-summary": "Location Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Admin1 code.",
            "in": "query",
            "name": "admin1_code",
            "required": false,
            "x-ms-summary": "Admin1 Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Admin1 name.",
            "in": "query",
            "name": "admin1_name",
            "required": false,
            "x-ms-summary": "Admin1 Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Admin2 code.",
            "in": "query",
            "name": "admin2_code",
            "required": false,
            "x-ms-summary": "Admin2 Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet2",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "admin1_code": {
                  "parameter": "admin1_code"
                },
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Admin2 name.",
            "in": "query",
            "name": "admin2_name",
            "required": false,
            "x-ms-summary": "Admin2 Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet2",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "admin1_code": {
                  "parameter": "admin1_code"
                },
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Administrative level.",
            "in": "query",
            "name": "admin_level",
            "required": false,
            "x-ms-summary": "Admin Level",
            "type": "string"
          },
          {
            "enum": [
              "csv",
              "json"
            ],
            "default": "json",
            "in": "query",
            "name": "output_format",
            "required": false,
            "type": "string",
            "x-ms-summary": "Output Format",
            "x-ms-visibility": "internal",
            "description": "Allowed values: csv, json."
          },
          {
            "default": 10000,
            "description": "Maximum records to return (up to 10,000).",
            "in": "query",
            "maximum": 10000,
            "minimum": 0,
            "name": "limit",
            "required": false,
            "type": "integer",
            "x-example": 100,
            "x-ms-summary": "Limit"
          },
          {
            "default": 0,
            "description": "Records to skip for pagination.",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/HapiGenericResponse_FoodPriceResponse_"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Food Security, Nutrition & Poverty"
        ],
        "description": "The World Food Programme (WFP) food prices data provides information about food prices for a range of commodities at markets across the world. See the more detailed technical HDX HAPI documentation, and the original WFP source website.",
        "operationId": "GetFoodPriceApiVFoodSecurityNutritionPovertyFoodPricesMarketMonitorGet",
        "summary": "Get food prices"
      }
    },
    "/api/v2/food-security-nutrition-poverty/food-security": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The IPC phase. Select from dropdown.",
            "in": "query",
            "name": "ipc_phase",
            "required": false,
            "x-ms-summary": "Ipc Phase",
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "3+",
              "all"
            ],
            "type": "string"
          },
          {
            "description": "The IPC type. Allowed values: current, first projection, second projection.",
            "in": "query",
            "name": "ipc_type",
            "required": false,
            "x-ms-summary": "Ipc Type",
            "enum": [
              "current",
              "first projection",
              "second projection"
            ],
            "type": "string"
          },
          {
            "description": "Whether the location has a Humanitarian Response Plan (HRP).",
            "in": "query",
            "name": "has_hrp",
            "required": false,
            "x-ms-summary": "Has Hrp",
            "type": "boolean"
          },
          {
            "description": "Whether the location is in the Global Humanitarian Overview.",
            "in": "query",
            "name": "in_gho",
            "required": false,
            "x-ms-summary": "In Gho",
            "type": "boolean"
          },
          {
            "description": "Reference period start (inclusive).",
            "in": "query",
            "name": "start_date",
            "required": false,
            "x-ms-summary": "Start Date",
            "type": "string"
          },
          {
            "description": "Reference period end (inclusive).",
            "in": "query",
            "name": "end_date",
            "required": false,
            "x-ms-summary": "End Date",
            "type": "string"
          },
          {
            "description": "Location code (ISO-3).",
            "in": "query",
            "name": "location_code",
            "required": false,
            "x-ms-summary": "Location Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Location name.",
            "in": "query",
            "name": "location_name",
            "required": false,
            "x-ms-summary": "Location Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetLocationApiVMetadataLocationGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Admin1 code.",
            "in": "query",
            "name": "admin1_code",
            "required": false,
            "x-ms-summary": "Admin1 Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Admin1 name.",
            "in": "query",
            "name": "admin1_name",
            "required": false,
            "x-ms-summary": "Admin1 Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Admin2 code.",
            "in": "query",
            "name": "admin2_code",
            "required": false,
            "x-ms-summary": "Admin2 Code",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet2",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "admin1_code": {
                  "parameter": "admin1_code"
                },
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "code",
              "value-title": "code"
            }
          },
          {
            "description": "Admin2 name.",
            "in": "query",
            "name": "admin2_name",
            "required": false,
            "x-ms-summary": "Admin2 Name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAdminApiVMetadataAdminGet2",
              "parameters": {
                "output_format": "json",
                "limit": 10000,
                "offset": 0,
                "admin1_code": {
                  "parameter": "admin1_code"
                },
                "location_code": {
                  "parameter": "location_code"
                }
              },
              "value-collection": "data",
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "description": "Administrative level.",
            "in": "query",
            "name": "admin_level",
            "required": false,
            "x-ms-summary": "Admin Level",
            "type": "string"
          },
          {
            "enum": [
              "csv",
              "json"
            ],
            "default": "json",
            "in": "query",
            "name": "output_format",
            "required": false,
            "type": "string",
            "x-ms-summary": "Output Format",
            "x-ms-visibility": "internal",
            "description": "Allowed values: csv, json."
          },
          {
            "default": 10000,
            "description": "Maximum records to return (up to 10,000).",
            "in": "query",
            "maximum": 10000,
            "minimum": 0,
            "name": "limit",
            "required": false,
            "type": "integer",
            "x-example": 100,
            "x-ms-summary": "Limit"
          },
          {
            "default": 0,
            "description": "Records to skip for pagination.",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/HapiGenericResponse_FoodSecurityResponse_"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Food Security, Nutrition & Poverty"
        ],
        "description": "Integrated Food Security Phase Classification from the IPC. See the more detailed technical HDX HAPI documentation, and the original IPC source website.",
        "operationId": "GetFoodSecurityApiVFoodSecurityNutritionPovertyFoodSecurityGet",
        "summary": "Get food security data"
      }
    },
    "/api/v2/food-security-nutrition-poverty/poverty-rate": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Multidimensional Poverty Index (MPI), lower bound.",
            "in": "query",
            "name": "mpi_min",
            "required": false,
            "x-ms-summary": "Mpi Min",
            "type": "string"
          },
          {
            "description": "Multidimensional Poverty Index (MPI), upper bound.",
            "in": "query",
            "name": "mpi_max",
            "required": false,
            "x-ms-summary": "Mpi Max",
            "type": "string"
          },
          {
            "description": "Whether the location has a Humanitarian Response Plan (HRP).",
            "in": "query",
            "name": "has_hrp",
            "required": false,
            "x-ms-summary": "Has Hrp",
            "type": "boolean"
          },
          {
            "description": "Whether the location is in the Global Humanitarian Overview.",
            "in": "query",
            "name": "in_gho",
            "required": false,
            "x-ms-summary": "In Gho",
            "type": "boolean"
          },
          {
            "description": "Reference period start (inclusive).",
            "in": "query",
            "name": "start_date",
            "required": false,
            "x-ms-summary": "Start Date",
            "type": "string"
          },
          {
            "description": "Reference period end (inclusive).",
            "in": "query",
[...]
