{
  "swagger": "2.0",
  "info": {
    "title": "Abstract Phone Validator",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_abstrphone@gmail.com"
    },
    "description": "Abstract's Phone Number Validation and Verification is a fast, lightweight, modern solution for determining the validity and other details of phone numbers from over 190 countries.",
    "version": "1.0"
  },
  "host": "phonevalidation.abstractapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "phone": {
                  "type": "string",
                  "description": "The phone number submitted for validation and verification.",
                  "title": "Phone"
                },
                "valid": {
                  "type": "boolean",
                  "description": "Is true if the phone number submitted is valid.",
                  "title": "Is valid"
                },
                "format": {
                  "type": "object",
                  "properties": {
                    "international": {
                      "type": "string",
                      "description": "The international format of the submitted phone number. This means appending the phone number\u2019s country code and a \u201d+\u201d at the beginning.",
                      "title": "International"
                    },
                    "local": {
                      "type": "string",
                      "description": "The local or national format of the submitted phone number. For example, it removes any international formatting, such as \u201c+1\u201d in the case of the US.",
                      "title": "Local"
                    }
                  },
                  "description": "format",
                  "title": "Format"
                },
                "country": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "The country's two letter ISO 3166-1 alpha-2 code.",
                      "title": "Code"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the country in which the phone number is registered.",
                      "title": "Name"
                    },
                    "prefix": {
                      "type": "string",
                      "description": "The country's calling code prefix.",
                      "title": "Prefix"
                    }
                  },
                  "description": "country",
                  "title": "Country"
                },
                "location": {
                  "type": "string",
                  "description": "As much location details as are available from our data. This can include the region, state / province, and in some cases down to the city.",
                  "title": "Location"
                },
                "type": {
                  "type": "string",
                  "description": "The type of phone number. The possible values are: Landline, Mobile, Satellite, Premium, Paging, Special, Toll_Free, and Unknown.",
                  "title": "Type"
                },
                "carrier": {
                  "type": "string",
                  "description": "The carrier that the number is registered with.",
                  "title": "Carrier"
                }
              }
            }
          }
        },
        "summary": "Validate phone",
        "operationId": "Validate",
        "description": "Determine the validity and other details of phone numbers from over 190 countries.",
        "parameters": [
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The phone number to validate and verify.",
            "x-ms-summary": "Phone"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.abstractapi.com/phone-validation"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.abstractapi.com/legal/dpa"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Business Intelligence"
    }
  ]
}