{
  "swagger": "2.0",
  "info": {
    "version": "1.1",
    "title": "Doc To PDF",
    "description": "This connector provides you with the ability to generate a PDF from a Word document while maintaining the fidelity of the images, charts or graphs included in the source document.",
    "contact": {
      "name": "Spot Solutions",
      "url": "https://spotsolutions.com/",
      "email": "support@spotsolutions.com"
    }
  },
  "host": "powerstore.spotsolutions.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/api/doctopdf": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "response status"
                },
                "File Name": {
                  "type": "string",
                  "description": "file name"
                },
                "File Content": {}
              }
            }
          }
        },
        "summary": "Doc to Pdf",
        "operationId": "DocToPDF",
        "description": "Convert library word document file to pdf format file",
        "parameters": [
          {
            "name": "body",
            "x-ms-summary": "Filename and file content are in array format",
            "description": "Filename and file content are in array format",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "File Name": {
                  "type": "string",
                  "description": "file name"
                },
                "File Content": {}
              }
            }
          },
          {
            "name": "publickey",
            "x-ms-summary": "Require public key",
            "description": "public key",
            "in": "header",
            "required": false,
            "type": "string",
            "default": ""
          },
          {
            "name": "apikey",
            "x-ms-summary": "Require API key",
            "description": "This requires an API key",
            "in": "header",
            "required": false,
            "type": "string",
            "default": ""
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://powerstore.spotsolutions.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://powerstore.spotsolutions.com/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}