{
    "swagger": "2.0",
    "info": {
        "version": "1.6",
        "title": "Doc To Pdf",
        "description": "Convert word document to pdf file",
        "contact": {
            "name": "Spot Solutions",
            "url": "https://spotsolutions.com/",
            "email": "info@spotsolutions.com"
        }
    },
    "host": "powerstore.spotsolutions.com",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [],
    "paths": {
        "/api/doctopdf": {
            "post": {
                "responses": {
                    "200": {
                        "description": "default",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "response status"
                                },
                                "File Name": {
                                    "type": "string",
                                    "description": "file name"
                                },
                                "File Content": {}
                            }
                        }
                    }
                },
                "summary": "Doc to Pdf",
                "operationId": "doctopdf",
                "description": "convert library word document file to pdf format file",
                "parameters": [
                    {
                        "name": "body",
                        "x-ms-summary": "filename and file contect in array format",
                        "description": "filename and file contect in array format",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "File Name": {
                                    "type": "string",
                                    "description": "file name"
                                },
                                "File Content": {}
                            }
                        }
                    },
                    {
                        "name": "publickey",
                        "x-ms-summary": "requir public key",
                        "description": "public key",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "default": "pk_abcdefghijklmnopqrstuvwxyz"
                    },
                    {
                        "name": "apikey",
                        "x-ms-summary": "requir api key",
                        "description": "api key",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "default": "ak_abcdefghijklmnopqrstuvwxyz"
                    }
                ]
            }
        }
    },
    "x-ms-connector-metadata": [
        {
            "propertyName": "website",
            "propertyValue": "https://powerstore.spotsolutions.com/"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://powerstore.spotsolutions.com/"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Collaboration"
        }
    ],
    "definitions": {},
    "parameters": {},
    "responses": {},
    "securityDefinitions": {},
    "security": [],
    "tags": []
}
