{
  "swagger": "2.0",
  "info": {
    "title": "The Brønnøysund Registries",
    "description": "The Brønnøysund registries (Brønnøysundregistrene) is a Norwegian state administrative agency consisting of 18 different state electronic registers. The purpose is to create order and simplification for the business community and for the public.",
    "version": "1.0",
    "contact": {
      "name": "Ahmad Najjar",
      "email": "ahmadn82@hotmail.com"
    }
  },
  "host": "data.brreg.no",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/enhetsregisteret/api/enheter": {
      "get": {
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "object",
              "properties": {
                "_embedded": {
                  "type": "object",
                  "properties": {
                    "enheter": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "organisasjonsnummer": {
                            "type": "string",
                            "description": "organisasjonsnummer"
                          },
                          "navn": {
                            "type": "string",
                            "description": "navn"
                          },
                          "organisasjonsform": {
                            "type": "object",
                            "properties": {
                              "kode": {
                                "type": "string",
                                "description": "kode"
                              },
                              "beskrivelse": {
                                "type": "string",
                                "description": "beskrivelse"
                              },
                              "_links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "object",
                                    "properties": {
                                      "href": {
                                        "type": "string",
                                        "description": "href"
                                      }
                                    },
                                    "description": "self"
                                  }
                                },
                                "description": "_links"
                              }
                            },
                            "description": "organisasjonsform"
                          },
                          "postadresse": {
                            "type": "object",
                            "properties": {
                              "land": {
                                "type": "string",
                                "description": "land"
                              },
                              "landkode": {
                                "type": "string",
                                "description": "landkode"
                              },
                              "postnummer": {
                                "type": "string",
                                "description": "postnummer"
                              },
                              "poststed": {
                                "type": "string",
                                "description": "poststed"
                              },
                              "adresse": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "adresse"
                              },
                              "kommune": {
                                "type": "string",
                                "description": "kommune"
                              },
                              "kommunenummer": {
                                "type": "string",
                                "description": "kommunenummer"
                              }
                            },
                            "description": "postadresse"
                          },
                          "registreringsdatoEnhetsregisteret": {
                            "type": "string",
                            "description": "registreringsdatoEnhetsregisteret"
                          },
                          "registrertIMvaregisteret": {
                            "type": "boolean",
                            "description": "registrertIMvaregisteret"
                          },
                          "naeringskode1": {
                            "type": "object",
                            "properties": {
                              "beskrivelse": {
                                "type": "string",
                                "description": "beskrivelse"
                              },
                              "kode": {
                                "type": "string",
                                "description": "kode"
                              }
                            },
                            "description": "naeringskode1"
                          },
                          "antallAnsatte": {
                            "type": "integer",
                            "format": "int32",
                            "description": "antallAnsatte"
                          },
                          "forretningsadresse": {
                            "type": "object",
                            "properties": {
                              "land": {
                                "type": "string",
                                "description": "land"
                              },
                              "landkode": {
                                "type": "string",
                                "description": "landkode"
                              },
                              "postnummer": {
                                "type": "string",
                                "description": "postnummer"
                              },
                              "poststed": {
                                "type": "string",
                                "description": "poststed"
                              },
                              "adresse": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "adresse"
                              },
                              "kommune": {
                                "type": "string",
                                "description": "kommune"
                              },
                              "kommunenummer": {
                                "type": "string",
                                "description": "kommunenummer"
                              }
                            },
                            "description": "forretningsadresse"
                          },
                          "stiftelsesdato": {
                            "type": "string",
                            "description": "stiftelsesdato"
                          },
                          "registrertIForetaksregisteret": {
                            "type": "boolean",
                            "description": "registrertIForetaksregisteret"
                          },
                          "registrertIStiftelsesregisteret": {
                            "type": "boolean",
                            "description": "registrertIStiftelsesregisteret"
                          },
                          "registrertIFrivillighetsregisteret": {
                            "type": "boolean",
                            "description": "registrertIFrivillighetsregisteret"
                          },
                          "konkurs": {
                            "type": "boolean",
                            "description": "konkurs"
                          },
                          "underAvvikling": {
                            "type": "boolean",
                            "description": "underAvvikling"
                          },
                          "underTvangsavviklingEllerTvangsopplosning": {
                            "type": "boolean",
                            "description": "underTvangsavviklingEllerTvangsopplosning"
                          },
                          "maalform": {
                            "type": "string",
                            "description": "maalform"
                          },
                          "_links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "object",
                                "properties": {
                                  "href": {
                                    "type": "string",
                                    "description": "href"
                                  }
                                },
                                "description": "self"
                              }
                            },
                            "description": "_links"
                          }
                        }
                      },
                      "description": "enheter"
                    }
                  },
                  "description": "_embedded"
                },
                "_links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "self"
                    }
                  },
                  "description": "_links"
                },
                "page": {
                  "type": "object",
                  "properties": {
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "size"
                    },
                    "totalElements": {
                      "type": "integer",
                      "format": "int32",
                      "description": "totalElements"
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "totalPages"
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32",
                      "description": "number"
                    }
                  },
                  "description": "page"
                }
              }
            }
          }
        },
        "summary": "Get all or search entities",
        "description": "Returns all or search entities registered under https://www.brreg.no/",
        "operationId": "GetAll_Search",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "navn",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Name",
            "x-ms-summary": "Name",
            "x-ms-visibility": "important"
          },
          {
            "name": "fraRegistreringsdatoEnhetsregisteret",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Registration Date (From). Format: yyyy-MM-dd",
            "x-ms-summary": "Registration Date (From)",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "tilRegistreringsdatoEnhetsregisteret",
            "in": "query",
            "description": "Registration Date (To). Format: yyyy-MM-dd",
            "required": false,
            "type": "string",
            "x-ms-summary": "Registration Date (To)",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "konkurs",
            "in": "query",
            "required": false,
            "type": "boolean",
            "enum": [
              true,
              false
            ],
            "x-ms-visibility": "advanced",
            "description": "Bankruptcy",
            "x-ms-summary": "Bankruptcy"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "sort={field name},{ASC/DESC}",
            "x-ms-summary": "Sort By",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/enhetsregisteret/api/enheter/{orgnr}": {
      "get": {
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "object",
              "properties": {
                "organisasjonsnummer": {
                  "type": "string",
                  "description": "organisasjonsnummer"
                },
                "navn": {
                  "type": "string",
                  "description": "navn"
                },
                "organisasjonsform": {
                  "type": "object",
                  "properties": {
                    "kode": {
                      "type": "string",
                      "description": "kode"
                    },
                    "beskrivelse": {
                      "type": "string",
                      "description": "beskrivelse"
                    },
                    "_links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "href"
                            }
                          },
                          "description": "self"
                        }
                      },
                      "description": "_links"
                    },
                    "utgaatt": {
                      "type": "string",
                      "description": "utgaatt"
                    }
                  },
                  "description": "organisasjonsform"
                },
                "postadresse": {
                  "type": "object",
                  "properties": {
                    "land": {
                      "type": "string",
                      "description": "land"
                    },
                    "landkode": {
                      "type": "string",
                      "description": "landkode"
                    },
                    "postnummer": {
                      "type": "string",
                      "description": "postnummer"
                    },
                    "poststed": {
                      "type": "string",
                      "description": "poststed"
                    },
                    "adresse": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "adresse"
                    },
                    "kommune": {
                      "type": "string",
                      "description": "kommune"
                    },
                    "kommunenummer": {
                      "type": "string",
                      "description": "kommunenummer"
                    }
                  },
                  "description": "postadresse"
                },
                "registreringsdatoEnhetsregisteret": {
                  "type": "string",
                  "description": "registreringsdatoEnhetsregisteret"
                },
                "registrertIMvaregisteret": {
                  "type": "boolean",
                  "description": "registrertIMvaregisteret"
                },
                "naeringskode1": {
                  "type": "object",
                  "properties": {
                    "beskrivelse": {
                      "type": "string",
                      "description": "beskrivelse"
                    },
                    "kode": {
                      "type": "string",
                      "description": "kode"
                    }
                  },
                  "description": "naeringskode1"
                },
                "antallAnsatte": {
                  "type": "integer",
                  "format": "int32",
                  "description": "antallAnsatte"
                },
                "forretningsadresse": {
                  "type": "object",
                  "properties": {
                    "land": {
                      "type": "string",
                      "description": "land"
                    },
                    "landkode": {
                      "type": "string",
                      "description": "landkode"
                    },
                    "postnummer": {
                      "type": "string",
                      "description": "postnummer"
                    },
                    "poststed": {
                      "type": "string",
                      "description": "poststed"
                    },
                    "adresse": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "adresse"
                    },
                    "kommune": {
                      "type": "string",
                      "description": "kommune"
                    },
                    "kommunenummer": {
                      "type": "string",
                      "description": "kommunenummer"
                    }
                  },
                  "description": "forretningsadresse"
                },
                "stiftelsesdato": {
                  "type": "string",
                  "description": "stiftelsesdato"
                },
                "registrertIForetaksregisteret": {
                  "type": "boolean",
                  "description": "registrertIForetaksregisteret"
                },
                "registrertIStiftelsesregisteret": {
                  "type": "boolean",
                  "description": "registrertIStiftelsesregisteret"
                },
                "registrertIFrivillighetsregisteret": {
                  "type": "boolean",
                  "description": "registrertIFrivillighetsregisteret"
                },
                "konkurs": {
                  "type": "boolean",
                  "description": "konkurs"
                },
                "underAvvikling": {
                  "type": "boolean",
                  "description": "underAvvikling"
                },
                "underTvangsavviklingEllerTvangsopplosning": {
                  "type": "boolean",
                  "description": "underTvangsavviklingEllerTvangsopplosning"
                },
                "maalform": {
                  "type": "string",
                  "description": "maalform"
                },
                "_links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "self"
                    }
                  },
                  "description": "_links"
                },
                "slettedato": {
                  "type": "string",
                  "description": "slettedato"
                }
              }
            }
          }
        },
        "summary": "Get entity by organization number",
        "description": "Returns a single entity by organization number (Existing or Deleted)",
        "operationId": "GetByOrganizationNumber",
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Entity organization number",
            "x-ms-summary": "Organization Number",
            "x-ms-visibility": "important"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/enhetsregisteret/api/enheter/{orgnr}/roller": {
      "get": {
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "object",
              "properties": {
                "rollegrupper": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "object",
                        "properties": {
                          "kode": {
                            "type": "string",
                            "description": "kode"
                          },
                          "beskrivelse": {
                            "type": "string",
                            "description": "beskrivelse"
                          },
                          "_links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "object",
                                "properties": {
                                  "href": {
                                    "type": "string",
                                    "description": "href"
                                  }
                                },
                                "description": "self"
                              }
                            },
                            "description": "_links"
                          }
                        },
                        "description": "type"
                      },
                      "sistEndret": {
                        "type": "string",
                        "description": "sistEndret"
                      },
                      "roller": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "object",
                              "properties": {
                                "kode": {
                                  "type": "string",
                                  "description": "kode"
                                },
                                "beskrivelse": {
                                  "type": "string",
                                  "description": "beskrivelse"
                                },
                                "_links": {
                                  "type": "object",
                                  "properties": {
                                    "self": {
                                      "type": "object",
                                      "properties": {
                                        "href": {
                                          "type": "string",
                                          "description": "href"
                                        }
                                      },
                                      "description": "self"
                                    }
                                  },
                                  "description": "_links"
                                }
                              },
                              "description": "type"
                            },
                            "person": {
                              "type": "object",
                              "properties": {
                                "fodselsdato": {
                                  "type": "string",
                                  "description": "fodselsdato"
                                },
                                "navn": {
                                  "type": "object",
                                  "properties": {
                                    "fornavn": {
                                      "type": "string",
                                      "description": "fornavn"
                                    },
                                    "etternavn": {
                                      "type": "string",
                                      "description": "etternavn"
                                    }
                                  },
                                  "description": "navn"
                                },
                                "erDoed": {
                                  "type": "boolean",
                                  "description": "erDoed"
                                },
                                "verge": {
                                  "type": "object",
                                  "properties": {
                                    "fodselsdato": {
                                      "type": "string",
                                      "description": "fodselsdato"
                                    },
                                    "navn": {
                                      "type": "object",
                                      "properties": {
                                        "fornavn": {
                                          "type": "string",
                                          "description": "fornavn"
                                        },
                                        "mellomnavn": {
                                          "type": "string",
                                          "description": "mellomnavn"
                                        },
                                        "etternavn": {
                                          "type": "string",
                                          "description": "etternavn"
                                        }
                                      },
                                      "description": "navn"
                                    },
                                    "erDoed": {
                                      "type": "boolean",
                                      "description": "erDoed"
                                    }
                                  },
                                  "description": "verge"
                                }
                              },
                              "description": "person"
                            },
                            "enhet": {
                              "type": "object",
                              "properties": {
                                "organisasjonsnummer": {
                                  "type": "string",
                                  "description": "organisasjonsnummer"
                                },
                                "organisasjonsform": {
                                  "type": "object",
                                  "properties": {
                                    "kode": {
                                      "type": "string",
                                      "description": "kode"
                                    },
                                    "beskrivelse": {
                                      "type": "string",
                                      "description": "beskrivelse"
                                    },
                                    "_links": {
                                      "type": "object",
                                      "properties": {
                                        "self": {
                                          "type": "object",
                                          "properties": {
                                            "href": {
                                              "type": "string",
                                              "description": "href"
                                            }
                                          },
                                          "description": "self"
                                        }
                                      },
                                      "description": "_links"
                                    }
                                  },
                                  "description": "organisasjonsform"
                                },
                                "navn": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "navn"
                                },
                                "erSlettet": {
                                  "type": "boolean",
                                  "description": "erSlettet"
                                },
                                "_links": {
                                  "type": "object",
                                  "properties": {
                                    "self": {
                                      "type": "object",
                                      "properties": {
                                        "href": {
                                          "type": "string",
                                          "description": "href"
                                        }
                                      },
                                      "description": "self"
                                    }
                                  },
                                  "description": "_links"
                                }
                              },
                              "description": "enhet"
                            },
                            "fullmektige": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "navn": {
                                    "type": "string",
                                    "description": "navn"
                                  },
                                  "adresse": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "adresse"
                                  }
                                }
                              },
                              "description": "fullmektige"
                            },
                            "ansvarsandel": {
                              "type": "string",
                              "description": "ansvarsandel"
                            },
                            "valgtAv": {
                              "type": "object",
                              "properties": {
                                "kode": {
                                  "type": "string",
                                  "description": "kode"
                                },
                                "beskrivelse": {
                                  "type": "string",
                                  "description": "beskrivelse"
                                },
                                "_links": {
                                  "type": "object",
                                  "properties": {
                                    "self": {
                                      "type": "object",
                                      "properties": {
                                        "href": {
                                          "type": "string",
                                          "description": "href"
                                        }
                                      },
                                      "description": "self"
                                    }
                                  },
                                  "description": "_links"
                                }
                              },
                              "description": "valgtAv"
                            },
                            "fratraadt": {
                              "type": "boolean",
                              "description": "fratraadt"
                            },
                            "rekkefolge": {
                              "type": "integer",
                              "format": "int32",
                              "description": "rekkefolge"
                            }
                          }
                        },
                        "description": "roller"
                      }
                    }
                  },
                  "description": "rollegrupper"
                },
                "_links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "self"
                    },
                    "enhet": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "enhet"
                    }
                  },
                  "description": "_links"
                }
              }
            }
          }
        },
        "summary": "Get entity roles",
        "description": "Returns all roles for a specific entity",
        "operationId": "GetEntityRoles",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Entity organization number",
            "x-ms-summary": "Organization Number",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "Accept header",
            "x-ms-summary": "Accept"
          }
        ]
      }
    },
    "/enhetsregisteret/api/underenheter": {
      "get": {
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "object",
              "properties": {
                "_embedded": {
                  "type": "object",
                  "properties": {
                    "underenheter": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "organisasjonsnummer": {
                            "type": "string",
                            "description": "organisasjonsnummer"
                          },
                          "navn": {
                            "type": "string",
                            "description": "navn"
                          },
                          "organisasjonsform": {
                            "type": "object",
                            "properties": {
                              "kode": {
                                "type": "string",
                                "description": "kode"
                              },
                              "beskrivelse": {
                                "type": "string",
                                "description": "beskrivelse"
                              },
                              "_links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "object",
                                    "properties": {
                                      "href": {
                                        "type": "string",
                                        "description": "href"
                                      }
                                    },
                                    "description": "self"
                                  }
                                },
                                "description": "_links"
                              }
                            },
                            "description": "organisasjonsform"
                          },
                          "registreringsdatoEnhetsregisteret": {
                            "type": "string",
                            "description": "registreringsdatoEnhetsregisteret"
                          },
                          "registrertIMvaregisteret": {
                            "type": "boolean",
                            "description": "registrertIMvaregisteret"
                          },
                          "naeringskode1": {
                            "type": "object",
                            "properties": {
                              "beskrivelse": {
                                "type": "string",
                                "description": "beskrivelse"
                              },
                              "kode": {
                                "type": "string",
                                "description": "kode"
                              }
                            },
                            "description": "naeringskode1"
                          },
                          "antallAnsatte": {
                            "type": "integer",
                            "format": "int32",
                            "description": "antallAnsatte"
                          },
                          "overordnetEnhet": {
                            "type": "string",
                            "description": "overordnetEnhet"
                          },
                          "beliggenhetsadresse": {
                            "type": "object",
                            "properties": {
                              "land": {
                                "type": "string",
                                "description": "land"
                              },
                              "landkode": {
                                "type": "string",
                                "description": "landkode"
                              },
                              "postnummer": {
                                "type": "string",
                                "description": "postnummer"
                              },
                              "poststed": {
                                "type": "string",
                                "description": "poststed"
                              },
                              "adresse": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "adresse"
                              },
                              "kommune": {
                                "type": "string",
                                "description": "kommune"
                              },
                              "kommunenummer": {
                                "type": "string",
                                "description": "kommunenummer"
                              }
                            },
                            "description": "beliggenhetsadresse"
                          },
                          "_links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "object",
                                "properties": {
                                  "href": {
                                    "type": "string",
                                    "description": "href"
                                  }
                                },
                                "description": "self"
                              },
                              "overordnetEnhet": {
                                "type": "object",
                                "properties": {
                                  "href": {
                                    "type": "string",
                                    "description": "href"
                                  }
                                },
                                "description": "overordnetEnhet"
                              }
                            },
                            "description": "_links"
                          },
                          "oppstartsdato": {
                            "type": "string",
                            "description": "oppstartsdato"
                          }
                        }
                      },
                      "description": "underenheter"
                    }
                  },
                  "description": "_embedded"
                },
                "_links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "self"
                    }
                  },
                  "description": "_links"
                },
                "page": {
                  "type": "object",
                  "properties": {
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "size"
                    },
                    "totalElements": {
                      "type": "integer",
                      "format": "int32",
                      "description": "totalElements"
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "totalPages"
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32",
                      "description": "number"
                    }
                  },
                  "description": "page"
                }
              }
            }
          }
        },
        "summary": "Get all or search sub entities",
        "description": "Returns all or search sub entities registered under https://www.brreg.no/",
        "operationId": "GetAll_SearchSub",
        "parameters": [
          {
            "name": "navn",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Sub entity name",
            "x-ms-summary": "Name"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "sort={field name},{ASC/DESC}",
            "x-ms-summary": "Sort By",
            "x-ms-visibility": "advanced"
          }
        ],
        "x-ms-visibility": "advanced"
      }
    },
    "/enhetsregisteret/api/underenheter/{orgnr}": {
      "get": {
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "object",
              "properties": {
                "organisasjonsnummer": {
                  "type": "string",
                  "description": "organisasjonsnummer"
                },
                "navn": {
                  "type": "string",
                  "description": "navn"
                },
                "organisasjonsform": {
                  "type": "object",
                  "properties": {
                    "kode": {
                      "type": "string",
                      "description": "kode"
                    },
                    "beskrivelse": {
                      "type": "string",
                      "description": "beskrivelse"
                    },
                    "_links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "href"
                            }
                          },
                          "description": "self"
                        }
                      },
                      "description": "_links"
                    }
                  },
                  "description": "organisasjonsform"
                },
                "postadresse": {
                  "type": "object",
                  "properties": {
                    "land": {
                      "type": "string",
                      "description": "land"
                    },
                    "landkode": {
                      "type": "string",
                      "description": "landkode"
                    },
                    "postnummer": {
                      "type": "string",
                      "description": "postnummer"
                    },
                    "poststed": {
                      "type": "string",
                      "description": "poststed"
                    },
                    "adresse": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "adresse"
                    },
                    "kommune": {
                      "type": "string",
                      "description": "kommune"
                    },
                    "kommunenummer": {
                      "type": "string",
                      "description": "kommunenummer"
                    }
                  },
                  "description": "postadresse"
                },
                "registreringsdatoEnhetsregisteret": {
                  "type": "string",
                  "description": "registreringsdatoEnhetsregisteret"
                },
                "registrertIMvaregisteret": {
                  "type": "boolean",
                  "description": "registrertIMvaregisteret"
                },
                "naeringskode1": {
                  "type": "object",
                  "properties": {
                    "beskrivelse": {
                      "type": "string",
                      "description": "beskrivelse"
                    },
                    "kode": {
                      "type": "string",
                      "description": "kode"
                    }
                  },
                  "description": "naeringskode1"
                },
                "antallAnsatte": {
                  "type": "integer",
                  "format": "int32",
                  "description": "antallAnsatte"
                },
                "overordnetEnhet": {
                  "type": "string",
                  "description": "overordnetEnhet"
                },
                "beliggenhetsadresse": {
                  "type": "object",
                  "properties": {
                    "land": {
                      "type": "string",
                      "description": "land"
                    },
                    "landkode": {
                      "type": "string",
                      "description": "landkode"
                    },
                    "postnummer": {
                      "type": "string",
                      "description": "postnummer"
                    },
                    "poststed": {
                      "type": "string",
                      "description": "poststed"
                    },
                    "adresse": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "adresse"
                    },
                    "kommune": {
                      "type": "string",
                      "description": "kommune"
                    },
                    "kommunenummer": {
                      "type": "string",
                      "description": "kommunenummer"
                    }
                  },
                  "description": "beliggenhetsadresse"
                },
                "slettedato": {
                  "type": "string",
                  "description": "slettedato"
                },
                "nedleggelsesdato": {
                  "type": "string",
                  "description": "nedleggelsesdato"
                },
                "_links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "self"
                    },
                    "overordnetEnhet": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "overordnetEnhet"
                    }
                  },
                  "description": "_links"
                }
              }
            }
          }
        },
        "summary": "Get sub entity by organization number",
        "description": "Returns a single sub entity by organization number (Existing or Deleted)",
        "operationId": "GetSubByOrganizationNumber",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Sub entity organization number",
            "x-ms-summary": "Organization number"
          }
        ]
      }
    },
    "/enhetsregisteret/api/oppdateringer/enheter": {
      "get": {
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "object",
              "properties": {
                "_embedded": {
                  "type": "object",
                  "properties": {
                    "oppdaterteEnheter": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "oppdateringsid": {
                            "type": "integer",
                            "format": "int32",
                            "description": "oppdateringsid"
                          },
                          "dato": {
                            "type": "string",
                            "description": "dato"
                          },
                          "organisasjonsnummer": {
                            "type": "string",
                            "description": "organisasjonsnummer"
                          },
                          "endringstype": {
                            "type": "string",
                            "description": "endringstype"
                          },
                          "_links": {
                            "type": "object",
                            "properties": {
                              "enhet": {
                                "type": "object",
                                "properties": {
                                  "href": {
                                    "type": "string",
                                    "description": "href"
                                  }
                                },
                                "description": "enhet"
                              }
                            },
                            "description": "_links"
                          }
                        }
                      },
                      "description": "oppdaterteEnheter"
                    }
                  },
                  "description": "_embedded"
                },
                "_links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "self"
                    }
                  },
                  "description": "_links"
                },
                "page": {
                  "type": "object",
                  "properties": {
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "size"
                    },
                    "totalElements": {
                      "type": "integer",
                      "format": "int32",
                      "description": "totalElements"
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "totalPages"
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32",
                      "description": "number"
                    }
                  },
                  "description": "page"
                }
              }
            }
          }
        },
        "summary": "Get entities updates",
        "operationId": "GetEntitiesUpdates",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "dato",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Date",
            "description": "Updates after given date (format: 2010-01-03T00:00:00.000Z)",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "oppdateringsid",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced",
            "description": "Update ID",
            "x-ms-summary": "Update ID"
          }
        ],
        "description": "Search for recently updated entities in the registry"
      }
    },
    "/enhetsregisteret/api/oppdateringer/underenheter": {
      "get": {
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "object",
              "properties": {
                "_embedded": {
                  "type": "object",
                  "properties": {
                    "oppdaterteUnderenheter": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "oppdateringsid": {
                            "type": "integer",
                            "format": "int32",
                            "description": "oppdateringsid"
                          },
                          "dato": {
                            "type": "string",
                            "description": "dato"
                          },
                          "organisasjonsnummer": {
                            "type": "string",
                            "description": "organisasjonsnummer"
                          },
                          "endringstype": {
                            "type": "string",
                            "description": "endringstype"
                          },
                          "_links": {
                            "type": "object",
                            "properties": {
                              "underenhet": {
                                "type": "object",
                                "properties": {
                                  "href": {
                                    "type": "string",
                                    "description": "href"
                                  }
                                },
                                "description": "underenhet"
                              }
                            },
                            "description": "_links"
                          }
                        }
                      },
                      "description": "oppdaterteUnderenheter"
                    }
                  },
                  "description": "_embedded"
                },
                "_links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "self"
                    }
                  },
                  "description": "_links"
                },
                "page": {
                  "type": "object",
                  "properties": {
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "size"
                    },
                    "totalElements": {
                      "type": "integer",
                      "format": "int32",
                      "description": "totalElements"
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "totalPages"
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32",
                      "description": "number"
                    }
                  },
                  "description": "page"
                }
              }
            }
          }
        },
        "summary": "Get sub entities updates",
        "operationId": "GetSubEntitiesUpdates",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "dato",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Date",
            "description": "Updates after given date (format: 2010-01-03T00:00:00.000Z)",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "oppdateringsid",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced",
            "description": "Update ID",
            "x-ms-summary": "Update ID"
          }
        ],
        "description": "Search for recently updated sub entities in the registry"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.brreg.no/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.brreg.no/personvernerklaering/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}