{
  "swagger": "2.0",
  "info": {
    "title": "Advanced Data Operations",
    "version": "1.0.0",
    "description": "A suite of advanced operations designed to assist in the transformation of bulk datasets.",
    "contact": {
      "name": "State Solutions Support",
      "url": "https://www.statesolutions.com.au/contact-us",
      "email": "support@statesolutions.com.au"
    }
  },
  "host": "api.statesolutions.com.au",
  "basePath": "/ado/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/Aggregate": {
      "post": {
        "summary": "Aggregate",
        "description": "Aggregate one or more properties by a grouped set of fields within a JSON array dataset.",
        "operationId": "Aggregate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "schema": {
              "$ref": "#/definitions/aggregate"
            },
            "required": true,
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/CartesianJoin": {
      "post": {
        "summary": "Cartesian Join",
        "description": "Perform a Cartesian join over two or more datasets.",
        "operationId": "CartesianJoin",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "schema": {
              "$ref": "#/definitions/cartesianJoin"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/Concatenate": {
      "post": {
        "summary": "Concatenate",
        "description": "Concatenate a field from an array of objects into a single string output.",
        "operationId": "Concatenate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/concatenate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Concatenated text",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/CSharpEvaluate": {
      "post": {
        "summary": "C# Evaluate Expression",
        "description": "Evaluates a C# expression and returns the result.",
        "operationId": "CSharpEvaluate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/cSharpEvaluate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Evaluated result",
            "schema": {
              "type": "object",
              "title": "Evaluated Result",
              "description": "Evaluated Result"
            }
          }
        }
      }
    },
    "/CSharpScriptExecute": {
      "post": {
        "summary": "C# Script Execute",
        "description": "Takes in and executes a C# script.",
        "operationId": "CSharpScriptExecute",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/cSharpScriptExecute"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Script result",
            "schema": {
              "type": "object",
              "title": "Script Result",
              "description": "Script Result"
            }
          }
        }
      }
    },
    "/CsvToJson": {
      "post": {
        "summary": "CSV to Json",
        "description": "Transform a comma separated table of data into an array of JSON objects.",
        "operationId": "CsvToJson",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "schema": {
              "$ref": "#/definitions/csvToJson"
            },
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/Distinct": {
      "post": {
        "summary": "Distinct",
        "description": "Select a set of distinct property values from an array of objects.",
        "operationId": "Distinct",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/distinct"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response"
          }
        }
      }
    },
    "/Expert": {
      "post": {
        "summary": "Expert",
        "description": "Execute a SQL statement over one or more supplied datasets.",
        "operationId": "Expert",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/expert"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/FilterObjectArray": {
      "post": {
        "summary": "Filter Object Array",
        "description": "Filter an array of complex, multi-level objects by one or more properties contained within each item in the array.",
        "operationId": "FilterObjectArray",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "schema": {
              "$ref": "#/definitions/filterObjectArray"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/FlattenObjectArray": {
      "post": {
        "summary": "Flatten Object Array",
        "description": "Flatten an array of complex, multi-level objects into an array of single JSON objects.",
        "operationId": "FlattenObjectArray",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "schema": {
              "$ref": "#/definitions/flattenObjectArray"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/GetDataSchema": {
      "post": {
        "summary": "Get Data Schema",
        "description": "Get the schema (i.e. properties and their associated types) from an array of objects.",
        "operationId": "GetDataSchema",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/getDataSchema"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/GZipCompress": {
      "post": {
        "summary": "GZip Compress",
        "description": "Compress a stream of text into a GZip archive.",
        "operationId": "GZipCompress",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/gZipCompress"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The compressed GZip data.",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/GZipDecompress": {
      "post": {
        "summary": "GZip Decompress",
        "description": "Decompress a GZip archive into a base64 string.",
        "operationId": "GZipDecompress",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/gZipDecompress"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The decompressed GZip data.",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/Join": {
      "post": {
        "summary": "Join",
        "description": "Join exactly two datasets using a left or inner join technique.",
        "operationId": "Join",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/join"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/JsonSchemaValidate": {
      "post": {
        "summary": "Json Schema Validate",
        "description": "Validates a JSON schema using more advanced functionality than standard.",
        "operationId": "JsonSchemaValidate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "schema": {
              "$ref": "#/definitions/jsonSchemaValidate"
            },
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Array of error messages.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/JsonToTable": {
      "post": {
        "summary": "Json to Table",
        "description": "Transform a JSON structure into a tabular format.",
        "operationId": "JsonToTable",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "schema": {
              "$ref": "#/definitions/jsonToTable"
            },
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/JsonToText": {
      "post": {
        "summary": "Json to Text",
        "description": "Transform a JSON array of objects into a tab delimited text format.",
        "operationId": "JsonToText",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "schema": {
              "$ref": "#/definitions/jsonToText"
            },
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Tab delimited table string",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/JsonToCsv": {
      "post": {
        "summary": "Json to CSV",
        "description": "Transform a JSON array of objects into a comma separated table format.",
        "operationId": "JsonToCsv",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "schema": {
              "$ref": "#/definitions/jsonToCsv"
            },
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Comma separated table string",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/JsonPropertiesToNameValuePairArray": {
      "post": {
        "summary": "Json Properties to Name Value Pair Array",
        "description": "Transform a JSON structure to name/value pairs.",
        "operationId": "JsonPropertiesToNameValuePairArray",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "schema": {
              "$ref": "#/definitions/JsonPropertiesToNameValuePairArray"
            },
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Name/Value Pair Data"
          }
        }
      }
    },
    "/LevenshteinDistance": {
      "post": {
        "summary": "Levenshtein Distance",
        "description": "Use the Levenshtein Distance algorithm to calculate a set of ratios for indicating how similar two strings are to each other.",
        "operationId": "LevenshteinDistance",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "schema": {
              "$ref": "#/definitions/levenshteinDistance"
            },
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Objects",
            "schema": {
              "$ref": "#/definitions/levenshteinDistanceResponse"
            }
          }
        }
      }
    },
    "/ParquetToJson": {
      "post": {
        "summary": "Parquet to Json",
        "description": "Transform a base64 encoded parquet dataset into an array of JSON objects.",
        "operationId": "ParquetToJson",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "schema": {
              "$ref": "#/definitions/parquetToJson"
            },
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/RegexMatches": {
      "post": {
        "summary": "Regex Matches",
        "description": "Produce a set of matches for a string using a regular expression pattern.",
        "operationId": "RegexMatches",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/regexMatches"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/SimpleConcatenate": {
      "post": {
        "summary": "Concatenate (Simple)",
        "description": "Concatenate an array of values into a delimited string.",
        "operationId": "SimpleConcatenate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/simpleConcatenate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Objects",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/SimpleDistinct": {
      "post": {
        "summary": "Distinct (Simple)",
        "description": "Provide a distinct set of values from an array.",
        "operationId": "SimpleDistinct",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/simpleDistinct"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of values"
          }
        }
      }
    },
    "/SortObjectArray": {
      "post": {
        "summary": "Sort Object Array",
        "description": "Sort an array of complex, multi-level objects by one or more properties contained within each item in the array.",
        "operationId": "SortObjectArray",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "schema": {
              "$ref": "#/definitions/sortObjectArray"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/Split": {
      "post": {
        "summary": "Split",
        "description": "Split all objects contained within an array by a defined criteria.",
        "operationId": "Split",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/split"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/TextToJson": {
      "post": {
        "summary": "Text to Json",
        "description": "Transform a tab delimited textual dataset into an array of JSON objects.",
        "operationId": "TextToJson",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "schema": {
              "$ref": "#/definitions/textToJson"
            },
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/Transform": {
      "post": {
        "summary": "Transform",
        "description": "Transform a set of properties in a dataset using any of the available custom transformation functions.",
        "operationId": "Transform",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "schema": {
              "$ref": "#/definitions/transform"
            },
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/XmlToJson": {
      "post": {
        "summary": "Xml to Json",
        "description": "Transform an XML structure to JSON using XPath statements and any of the 100+ custom transformation functions provided by the framework.",
        "operationId": "XmlToJson",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "schema": {
              "$ref": "#/definitions/xmlToJson"
            },
            "x-ms-visibility": "important",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/ZipArchiveDecompress": {
      "post": {
        "summary": "Zip Archive Decompress",
        "description": "Decompress a Zip archive into a list of files with content (if requested).",
        "operationId": "ZipArchiveDecompress",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/zipArchiveDecompress"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File listing retrieved from the zip archive.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the file or folder.",
                    "title": "Name"
                  },
                  "path": {
                    "type": "string",
                    "description": "The full path of the file or folder.",
                    "title": "Path"
                  },
                  "compressedSize": {
                    "type": "number",
                    "description": "The size of the file in its compressed state.",
                    "title": "Compressed Size"
                  },
                  "uncompressedSize": {
                    "type": "number",
                    "description": "The size of the file in its uncompressed state.",
                    "title": "Uncompressed Size"
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "A base64 representation of the file content.",
                    "title": "File Content"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "filter": {
      "type": "string",
      "description": "String based WHERE clause used to filter the returned result set.",
      "title": "Filter",
      "x-ms-visibility": "advanced"
    },
    "sortOrder": {
      "type": "object",
      "description": "Object with one or more field names and the sorting direction (i.e. ASC or DESC).",
      "title": "Sort Order",
      "x-ms-visibility": "advanced"
    },
    "simpleSortOrder": {
      "type": "string",
      "description": "Sorting direction (i.e. ASC or DESC).",
      "title": "Sort Order",
      "x-ms-visibility": "advanced",
      "enum": [
        "ASC",
        "DESC"
      ]
    },
    "schema": {
      "type": "object",
      "description": "Manual schema override to force an incoming field to a specific primitive type.",
      "title": "Schema",
      "x-ms-visibility": "advanced"
    },
    "singleTable": {
      "type": "array",
      "description": "Array of single-level objects with one or more properties.",
      "title": "Data",
      "x-ms-visibility": "important",
      "items": {
        "type": "object"
      }
    },
    "complexSingleTable": {
      "type": "array",
      "description": "Array of complex objects or arrays.",
      "title": "Data",
      "x-ms-visibility": "important",
      "items": {
        "type": "object"
      }
    },
    "multipleTables": {
      "type": "object",
      "description": "Defines multiple datasets by the way of an object with each property value being an array of objects.  Each property name is the name of a dataset that is able to be referenced by way of the operation being undertaken.",
      "title": "Data"
    },
    "ignoreEmpty": {
      "type": "boolean",
      "description": "Ignore blank/null strings when concatenating.",
      "title": "Ignore Empty",
      "enum": [
        true,
        false
      ]
    },
    "separator": {
      "type": "string",
      "description": "The string used to delimit the resulting concatenated string.",
      "title": "Separator",
      "x-ms-visibility": "important"
    },
    "advancedOptions": {
      "type": "object",
      "x-ms-visibility": "advanced",
      "properties": {
        "cultureName": {
          "type": "string",
          "description": "Allows the calling application to change the culture so date parsing, etc. produces the correct result.",
          "title": "Culture Name"
        },
        "isBoolean": {
          "type": "array",
          "description": "List of properties in the output that should be treated as boolean values",
          "title": "Boolean Properties",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "aggregate": {
      "type": "object",
      "properties": {
        "aggregationType": {
          "type": "string",
          "description": "The aggregation type.",
          "title": "Operation",
          "enum": [
            "AVG",
            "SUM",
            "COUNT",
            "MAX",
            "MIN"
          ]
        },
        "aggregateBy": {
          "type": "array",
          "items": {
            "type": "string",
            "title": "Aggregate By",
            "x-ms-visibility": "important",
            "description": "The fields to aggregate by (i.e. the non-numeric properties)."
          }
        },
        "aggregateOn": {
          "type": "array",
          "items": {
            "type": "string",
            "title": "Aggregate On",
            "x-ms-visibility": "important",
            "description": "The fields to aggregate on (i.e. the numeric properties)."
          }
        },
        "filter": {
          "$ref": "#/definitions/filter"
        },
        "sortOrder": {
          "$ref": "#/definitions/sortOrder"
        },
        "schema": {
          "$ref": "#/definitions/schema"
        },
        "advancedOptions": {
          "$ref": "#/definitions/advancedOptions"
        },
        "data": {
          "$ref": "#/definitions/singleTable"
        }
      },
      "required": [
        "aggregationType",
        "aggregateOn",
        "aggregateBy",
        "data"
      ]
    },
    "cartesianJoin": {
      "type": "object",
      "properties": {
        "filter": {
          "$ref": "#/definitions/filter"
        },
        "sortOrder": {
          "$ref": "#/definitions/sortOrder"
        },
        "schema": {
          "$ref": "#/definitions/schema"
        },
        "advancedOptions": {
          "$ref": "#/definitions/advancedOptions"
        },
        "data": {
          "$ref": "#/definitions/multipleTables"
        }
      },
      "required": [
        "data"
      ]
    },
    "concatenate": {
      "type": "object",
      "properties": {
        "field": {
          "type": "string",
          "description": "Field from the source data set to concatenate.",
          "title": "Field",
          "x-ms-visibility": "important"
        },
        "separator": {
          "$ref": "#/definitions/separator"
        },
        "ignoreEmpty": {
          "$ref": "#/definitions/ignoreEmpty"
        },
        "filter": {
          "$ref": "#/definitions/filter"
        },
        "sortOrder": {
          "$ref": "#/definitions/sortOrder"
        },
        "schema": {
          "$ref": "#/definitions/schema"
        },
        "advancedOptions": {
          "$ref": "#/definitions/advancedOptions"
        },
        "data": {
          "$ref": "#/definitions/singleTable"
        }
      },
      "required": [
        "field",
        "ignoreEmpty",
        "data"
      ]
    },
    "cSharpEvaluate": {
      "type": "object",
      "properties": {
        "expression": {
          "type": "string",
          "description": "The C# expression that will be evaluated.",
          "title": "C# Expression",
          "x-ms-visibility": "important"
        }
      },
      "required": [
        "expression"
      ]
    },
    "cSharpScriptExecute": {
      "type": "object",
      "properties": {
        "script": {
          "type": "string",
          "description": "The C# script that will be executed.",
          "title": "C# Script",
          "x-ms-visibility": "important"
        },
        "classDefinitions": {
          "type": "array",
          "description": "An array of class definitions that are able to be referenced from the script.",
          "title": "Class Definitions",
          "x-ms-visibility": "advanced",
          "items": {
            "type": "string"
          }
        },
        "parameters": {
          "type": "object",
          "description": "Parameters used to pass into and be consumed by the script.",
          "title": "Parameters",
          "x-ms-visibility": "advanced"
        }
      },
      "required": [
        "script"
      ]
    },
    "distinct": {
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "description": "The list of fields to include in the result set.  Supports the dynamic field selection syntax.",
          "title": "Fields",
          "items": {
            "type": "string"
          },
          "x-ms-visibility": "important"
        },
        "filter": {
          "$ref": "#/definitions/filter"
        },
        "sortOrder": {
          "$ref": "#/definitions/sortOrder"
        },
        "schema": {
          "$ref": "#/definitions/schema"
        },
        "advancedOptions": {
          "$ref": "#/definitions/advancedOptions"
        },
        "data": {
          "$ref": "#/definitions/singleTable"
        }
      },
      "required": [
        "fields",
        "data"
      ]
    },
    "expert": {
      "type": "object",
      "properties": {
        "query": {
          "type": "string",
          "description": "Fully functioning SELECT statement that refers to and processes the incoming data set.",
          "title": "Query String"
        },
        "schema": {
          "$ref": "#/definitions/schema"
        },
        "advancedOptions": {
          "$ref": "#/definitions/advancedOptions"
        },
        "data": {
          "$ref": "#/definitions/multipleTables"
        }
      },
      "required": [
        "query",
        "data"
      ]
    },
    "filterObjectArray": {
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Filter expression as defined by the documentation.",
          "title": "Filter Expression",
          "x-ms-visibility": "important"
        },
        "data": {
          "$ref": "#/definitions/complexSingleTable"
        }
      },
      "required": [
        "filter",
        "data"
      ]
    },
    "sortObjectArray": {
      "type": "object",
      "properties": {
        "sortOrder": {
          "type": "object",
          "description": "Object with one or more field names and the sorting direction (i.e. ASC or DESC).",
          "title": "Sort Order",
          "x-ms-visibility": "important"
        },
        "data": {
          "$ref": "#/definitions/complexSingleTable"
        }
      },
      "required": [
        "sortOrder",
        "data"
      ]
    },
    "JsonPropertiesToNameValuePairArray": {
      "type": "object",
      "properties": {
        "data": {
          "description": "The JSON data to be transformed.",
          "title": "JSON Data"
        }
      },
      "required": [
        "data"
      ]
    },
    "flattenObjectArray": {
      "type": "object",
      "properties": {
        "delimiter": {
          "type": "string",
          "description": "The string used to delimit each property from the different levels in the object hierarchy.",
          "title": "Delimiter",
          "x-ms-visibility": "important"
        },
        "balancedOutput": {
          "type": "boolean",
          "title": "Balanced Output",
          "description": "If TRUE, each item in the result set will have the same set of properties, therefore, making it balanced.  Filter and Sort Order only work if this is set to TRUE.",
          "enum": [
            true,
            false
          ],
          "x-ms-visibility": "important"
        },
        "filter": {
          "$ref": "#/definitions/filter"
        },
        "sortOrder": {
          "$ref": "#/definitions/sortOrder"
        },
        "schema": {
          "$ref": "#/definitions/schema"
        },
        "advancedOptions": {
          "$ref": "#/definitions/advancedOptions"
        },
        "data": {
          "$ref": "#/definitions/complexSingleTable"
        }
      },
      "required": [
        "delimiter",
        "balancedOutput",
        "data"
      ]
    },
    "getDataSchema": {
      "type": "object",
      "properties": {
        "filter": {
          "$ref": "#/definitions/filter"
        },
        "sortOrder": {
          "$ref": "#/definitions/sortOrder"
        },
        "schema": {
          "$ref": "#/definitions/schema"
        },
        "advancedOptions": {
          "$ref": "#/definitions/advancedOptions"
        },
        "data": {
          "$ref": "#/definitions/singleTable"
        }
      },
      "required": [
        "data"
      ]
    },
    "gZipCompress": {
      "type": "object",
      "properties": {
        "data": {
          "description": "The string of data to archive using the GZip format.",
          "title": "Data",
          "type": "string"
        }
      },
      "required": [
        "data"
      ]
    },
    "gZipDecompress": {
      "type": "object",
      "properties": {
        "data": {
          "description": "A base64 representation of the GZip file to decompress.",
          "title": "Data",
          "type": "string"
        }
      },
      "required": [
        "data"
      ]
    },
    "zipArchiveDecompress": {
      "type": "object",
      "properties": {
        "data": {
          "description": "A base64 representation of the zip archive to decompress.",
          "title": "Data",
          "type": "string"
        },
        "getFileContents": {
          "description": "Retrieve the contents of each file?",
          "title": "Get File Contents",
          "type": "boolean",
          "enum": [
            true,
            false
          ]
        },
        "filter": {
          "$ref": "#/definitions/filter"
        },
        "sortOrder": {
          "$ref": "#/definitions/sortOrder"
        }
      },
      "required": [
        "data",
        "getFileContents"
      ]
    },
    "join": {
      "type": "object",
      "properties": {
        "joinType": {
          "type": "string",
          "description": "The join operation to perform.",
          "title": "Join Type",
          "enum": [
            "Left",
            "Inner"
          ]
        },
        "joinFields": {
          "type": "array",
          "description": "The list of fields to join each table on.",
          "title": "Join Fields",
          "items": {
            "type": "string"
          }
        },
        "fields": {
          "type": "array",
          "description": "The list of fields to include in the result set.  Supports the dynamic field selection syntax.",
          "title": "Fields",
          "items": {
            "type": "string"
          }
        },
        "forceFullyQualifiedFieldNames": {
          "type": "boolean",
          "description": "Force all field names in the resulting dataset to be prefixed with the originating dataset name.",
          "title": "Force Fully Qualified Field Names",
          "x-ms-visibility": "advanced",
          "enum": [
            true,
            false
          ]
        },
        "filter": {
          "$ref": "#/definitions/filter"
        },
        "sortOrder": {
          "$ref": "#/definitions/sortOrder"
        },
        "schema": {
          "$ref": "#/definitions/schema"
        },
        "advancedOptions": {
          "$ref": "#/definitions/advancedOptions"
        },
        "data": {
          "$ref": "#/definitions/multipleTables"
        }
      },
      "required": [
        "joinType",
        "joinFields",
        "fields",
        "data"
      ]
    },
    "regexMatches": {
      "type": "object",
      "properties": {
        "pattern": {
          "type": "string",
          "description": "Regular expression pattern.",
          "title": "Pattern"
        },
        "filter": {
          "$ref": "#/definitions/filter"
        },
        "sortOrder": {
          "$ref": "#/definitions/sortOrder"
        },
        "schema": {
          "$ref": "#/definitions/schema"
        },
        "advancedOptions": {
          "$ref": "#/definitions/advancedOptions"
        },
        "data": {
          "type": "string",
          "description": "Text to perform the regex pattern over",
          "title": "Data"
        }
      },
      "required": [
        "pattern",
        "data"
      ]
    },
    "simpleConcatenate": {
      "type": "object",
      "properties": {
        "separator": {
          "$ref": "#/definitions/separator"
        },
        "ignoreEmpty": {
          "$ref": "#/definitions/ignoreEmpty"
        },
        "filter": {
          "$ref": "#/definitions/filter"
        },
        "sortOrder": {
          "$ref": "#/definitions/simpleSortOrder"
        },
        "schema": {
          "$ref": "#/definitions/schema"
        },
        "advancedOptions": {
          "$ref": "#/definitions/advancedOptions"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "string",
            "title": "Data",
            "x-ms-visibility": "important",
            "description": "Array of strings or numeric values."
          }
        }
      },
      "required": [
        "data"
      ]
    },
    "simpleDistinct": {
      "type": "object",
      "properties": {
        "field": {
          "type": "string",
          "description": "Field to perform the distinct on.",
          "title": "Field"
        },
        "filter": {
          "$ref": "#/definitions/filter"
        },
        "sortOrder": {
          "$ref": "#/definitions/simpleSortOrder"
        },
        "schema": {
          "$ref": "#/definitions/schema"
        },
        "advancedOptions": {
          "$ref": "#/definitions/advancedOptions"
        },
        "data": {
          "$ref": "#/definitions/singleTable"
        }
      },
      "required": [
        "field",
        "data"
      ]
    },
    "split": {
      "type": "object",
      "properties": {
        "splits": {
          "type": "array",
          "description": "Array of single level objects defined by a destination field mapped from a source field or a constant.",
          "title": "Splits",
          "x-ms-visibility": "important",
          "items": {
            "type": "object"
          }
        },
        "filter": {
          "$ref": "#/definitions/filter"
        },
        "sortOrder": {
          "$ref": "#/definitions/sortOrder"
        },
        "schema": {
          "$ref": "#/definitions/schema"
        },
        "advancedOptions": {
          "$ref": "#/definitions/advancedOptions"
        },
        "data": {
          "$ref": "#/definitions/singleTable"
        }
      },
      "required": [
        "splits",
        "data"
      ]
    },
    "transform": {
      "type": "object",
      "properties": {
        "transformations": {
          "type": "object",
          "description": "Object containing a source and destination set of mapping transformations.",
          "title": "Transformations",
          "x-ms-visibility": "important"
        },
        "preserveAllProperties": {
          "type": "boolean",
          "title": "Preserve All Properties",
          "description": "If TRUE, all properties not specifically called out in the transformations property will be preserved in the resulting dataset.",
          "enum": [
            true,
            false
          ],
          "x-ms-visibility": "advanced"
        },
        "filter": {
          "$ref": "#/definitions/filter"
        },
        "sortOrder": {
          "$ref": "#/definitions/sortOrder"
        },
        "schema": {
          "$ref": "#/definitions/schema"
        },
        "advancedOptions": {
          "$ref": "#/definitions/advancedOptions"
        },
        "data": {
          "$ref": "#/definitions/singleTable"
        }
      },
      "required": [
        "transformations",
        "data"
      ]
    },
    "csvToJson": {
      "type": "object",
      "properties": {
        "headerRow": {
          "type": "boolean",
          "description": "Contains header row",
          "title": "Header Row",
          "enum": [
            true,
            false
          ],
          "x-ms-visibility": "advanced"
        },
        "rowSeparator": {
          "type": "string",
          "description": "The character(s) separating each row, default = \\n",
          "title": "Row Separator",
          "x-ms-visibility": "advanced"
        },
        "delimiter": {
          "type": "string",
          "description": "The character(s) separating each column, default = ,",
          "title": "Delimiter",
          "x-ms-visibility": "advanced"
        },
        "escapeCharacter": {
          "type": "string",
          "description": "The escape character to use when splitting each field, default is double quotes.",
          "title": "Escape Character",
          "x-ms-visibility": "advanced"
        },
        "encoding": {
          "type": "string",
          "description": "The encoding of the file content, default = UTF8.",
          "title": "Encoding",
          "enum": [
            "ASCII",
            "UTF8",
            "UTF16LittleEndian",
            "UTF16BigEndian",
            "ISO-8859-1"
          ],
          "x-ms-visibility": "advanced"
        },
        "filter": {
          "$ref": "#/definitions/filter"
        },
        "sortOrder": {
          "$ref": "#/definitions/sortOrder"
        },
        "schema": {
          "$ref": "#/definitions/schema"
        },
        "advancedOptions": {
          "$ref": "#/definitions/advancedOptions"
        },
        "data": {
          "type": "string",
          "description": "Delimited string table",
          "title": "Data"
        }
      },
      "required": [
        "data"
      ]
    },
    "textToJson": {
      "type": "object",
      "properties": {
        "headerRow": {
          "type": "boolean",
          "description": "Contains header row",
          "title": "Header Row",
          "enum": [
            true,
            false
          ],
          "x-ms-visibility": "advanced"
        },
        "rowSeparator": {
          "type": "string",
          "description": "The character(s) separating each row, default = \\n",
          "title": "Row Separator",
          "x-ms-visibility": "advanced"
        },
        "delimiter": {
          "type": "string",
          "description": "The character(s) separating each column, default = \\t",
          "title": "Delimiter",
          "x-ms-visibility": "advanced"
        },
        "encoding": {
          "type": "string",
          "description": "The encoding of the file content, default = UTF8.",
          "title": "Encoding",
          "enum": [
            "ASCII",
            "UTF8",
            "UTF16LittleEndian",
            "UTF16BigEndian",
            "ISO-8859-1"
          ],
          "x-ms-visibility": "advanced"
        },
        "filter": {
          "$ref": "#/definitions/filter"
        },
        "sortOrder": {
          "$ref": "#/definitions/sortOrder"
        },
        "schema": {
          "$ref": "#/definitions/schema"
        },
        "advancedOptions": {
          "$ref": "#/definitions/advancedOptions"
        },
        "data": {
          "type": "string",
          "description": "Delimited string table",
          "title": "Data"
        }
      },
      "required": [
        "data"
      ]
    },
    "jsonToTable": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "JToken path used for initial selection (default = $)",
          "title": "Path",
          "x-ms-visibility": "advanced"
        },
        "balancedOutput": {
          "type": "boolean",
          "title": "Balanced Output",
          "description": "If TRUE, each item in the result set will have the same set of properties, therefore, making it balanced.",
          "enum": [
            true,
            false
          ],
          "x-ms-visibility": "advanced"
        },
        "filter": {
          "$ref": "#/definitions/filter"
        },
        "sortOrder": {
          "$ref": "#/definitions/sortOrder"
        },
        "schema": {
          "$ref": "#/definitions/schema"
        },
        "advancedOptions": {
          "$ref": "#/definitions/advancedOptions"
        },
        "data": {
          "type": "object",
          "description": "Structured JSON data.",
          "title": "Data",
          "x-ms-visibility": "important"
        }
      },
      "required": [
        "data"
      ]
    },
    "jsonToText": {
      "type": "object",
      "properties": {
        "headerRow": {
          "type": "boolean",
          "description": "Contains header row",
          "title": "Header Row",
          "enum": [
            true,
            false
          ],
          "x-ms-visibility": "advanced"
        },
        "rowSeparator": {
          "type": "string",
          "description": "The character(s) separating each row, default = \\n",
          "title": "Row Separator",
          "x-ms-visibility": "advanced"
        },
        "filter": {
          "$ref": "#/definitions/filter"
        },
        "sortOrder": {
          "$ref": "#/definitions/sortOrder"
        },
        "schema": {
          "$ref": "#/definitions/schema"
        },
        "advancedOptions": {
          "$ref": "#/definitions/advancedOptions"
        },
        "data": {
          "$ref": "#/definitions/singleTable"
        }
      },
      "required": [
        "data"
      ]
    },
    "jsonToCsv": {
      "type": "object",
      "properties": {
        "headerRow": {
          "type": "boolean",
          "description": "Contains header row",
          "title": "Header Row",
          "enum": [
            true,
            false
          ],
          "x-ms-visibility": "advanced"
        },
        "rowSeparator": {
          "type": "string",
          "description": "The character(s) separating each row, default = \\n",
          "title": "Row Separator",
          "x-ms-visibility": "advanced"
        },
        "escapeCharacter": {
          "type": "string",
          "description": "The escape character for values that contain the field separator value.",
          "title": "Escape Character",
          "x-ms-visibility": "advanced"
        },
        "filter": {
          "$ref": "#/definitions/filter"
        },
        "sortOrder": {
          "$ref": "#/definitions/sortOrder"
        },
        "schema": {
          "$ref": "#/definitions/schema"
        },
        "advancedOptions": {
          "$ref": "#/definitions/advancedOptions"
        },
        "data": {
          "$ref": "#/definitions/singleTable"
        }
      },
      "required": [
        "data"
      ]
    },
    "parquetToJson": {
      "type": "object",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Validate data only, do not return any data.",
          "title": "Validate Only",
          "x-ms-visibility": "important",
          "enum": [
            true,
            false
          ]
        },
        "skip": {
          "type": "integer",
          "description": "The amount of records to SKIP before applying the TAKE parameter.",
          "title": "Skip",
          "x-ms-visibility": "important"
        },
        "take": {
          "type": "integer",
          "description": "The amount of records to TAKE after the records that were skipped.",
          "title": "Take",
          "x-ms-visibility": "advanced"
        },
        "filter": {
          "$ref": "#/definitions/filter"
        },
        "sortOrder": {
          "$ref": "#/definitions/sortOrder"
        },
        "schema": {
          "$ref": "#/definitions/schema"
        },
        "advancedOptions": {
          "$ref": "#/definitions/advancedOptions"
        },
        "data": {
          "type": "string",
          "description": "Base64 encoded string containing contents of a parquet data file.",
          "title": "Data"
        }
      },
      "required": [
        "data"
      ]
    },
    "jsonSchemaValidate": {
      "type": "object",
      "properties": {
        "schema": {
          "type": "object",
          "title": "Schema",
          "description": "The schema that the JSON will be validated against.",
          "x-ms-visibility": "important"
        },
        "data": {
          "type": "object",
          "description": "JSON object that will be used to validate against the schema.",
          "title": "JSON Object",
          "x-ms-visibility": "important"
        }
      },
      "required": [
        "data",
        "schema"
      ]
    },
    "xmlToJson": {
      "type": "object",
      "properties": {
        "primaryLoopAtElement": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "description": "XPath statement selecting a set of elements to loop over.",
          "title": "Primary Loop at Element"
        },
        "map": {
          "x-ms-visibility": "advanced",
          "type": "object",
          "description": "Json object containing properties with values that map to source using XPath statements.",
          "title": "Map Object"
        },
        "subLoopAtElements": {
          "x-ms-visibility": "advanced",
          "type": "array",
          "description": "Sub map XML elements to loop over so as to provide a header and detail structure.",
          "title": "Sub Loop at Elements",
          "items": {
            "type": "object",
            "properties": {
              "mapName": {
                "type": "string",
                "description": "The name used to distinguished this map from others.",
                "title": "Map Name"
              },
              "xPathQuery": {
                "type": "string",
                "description": "XPath statement selecting a set of elements to loop over.",
                "title": "XPath Query"
              },
              "map": {
                "type": "object",
                "description": "Json object containing properties with values that map to source using XPath statements.",
                "title": "Map Object"
              }
            }
          }
        },
        "data": {
          "type": "string",
          "description": "XML string.",
          "title": "Data"
        }
      },
      "required": [
        "data"
      ]
    },
    "levenshteinDistance": {
      "type": "object",
      "properties": {
        "baseValue": {
          "type": "string",
          "description": "The base value to compare all other values against.",
          "title": "Base Value"
        },
        "comparisonValues": {
          "type": "array",
          "description": "The base value to compare all other values against.",
          "title": "Comparison Values",
          "items": {
            "type": "string"
          }
        },
        "Settings": {
          "type": "object",
          "properties": {
            "ratioThreshold": {
              "description": "A number between 0 and 100. If left blank, the default value will be 0, i.e. all results are returned.",
              "title": "Ratio Threshold",
              "type": "number",
              "format": "double",
              "x-ms-visibility": "advanced"
            },
            "applyRatioThresholdTo": {
              "description": "Apply the threshold filter to the maximum ratio returned in the data set or the average of all included.",
              "title": "Ratio Threshold",
              "type": "string",
              "x-ms-visibility": "advanced",
              "enum": [
                "Max",
                "Avg"
              ]
            },
            "ratioSelectionType": {
              "description": "The type of ratios you want to perform each comparison for.",
              "title": "Ratio Selection Type",
              "type": "string",
              "x-ms-visibility": "advanced",
              "enum": [
                "All",
                "Standard",
                "Partial"
              ]
            },
            "tokenSortType": {
              "description": "The selection for sorting each word/token prior to comparison or not.",
              "title": "Token Sort Type",
              "type": "string",
              "x-ms-visibility": "advanced",
              "enum": [
                "All",
                "Not Sorted",
                "Sorted"
              ]
            },
            "caseSensitive": {
              "description": "Run the comparisons in a case sensitive way or not.",
              "title": "Case Sensitive",
              "type": "boolean",
              "x-ms-visibility": "advanced",
              "enum": [
                true,
                false
              ]
            },
            "removeWhitespace": {
              "description": "Remove or keep all spaces prior to comparison.",
              "title": "Remove Whitespace",
              "type": "boolean",
              "x-ms-visibility": "advanced",
              "enum": [
                true,
                false
              ]
            },
            "removeSpecialCharacters": {
              "description": "Remove or keep all special characters prior to comparison.",
              "title": "Remove Special Characters",
              "type": "boolean",
              "x-ms-visibility": "advanced",
              "enum": [
                true,
                false
              ]
            }
          }
        }
      },
      "required": [
        "baseValue",
        "comparisonValues"
      ]
    },
    "levenshteinDistanceResponse": {
      "type": "object",
      "properties": {
        "BaseValue": {
          "type": "object",
          "properties": {
            "Supplied": {
              "type": "string"
            },
            "Actual": {
              "type": "string"
            }
          }
        },
        "ComparisonSettings": {
          "type": "object",
          "properties": {
            "RatioThreshold": {
              "type": "number",
              "format": "double"
            },
            "ApplyRatioThresholdTo": {
              "type": "string"
            },
            "CaseSensitive": {
              "type": "boolean"
            },
            "RemoveWhitespace": {
              "type": "boolean"
            },
            "RemoveSpecialCharacters": {
              "type": "boolean"
            },
            "RatioSelectionType": {
              "type": "string"
            },
            "TokenSortType": {
              "type": "string"
            }
          }
        },
        "Comparisons": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "Comparison": {
                "type": "object",
                "properties": {
                  "Supplied": {
                    "type": "string"
                  },
                  "Actual": {
                    "type": "string"
                  }
                }
              },
              "Results": {
                "type": "object",
                "properties": {
                  "Ratio": {
                    "type": "number",
                    "format": "integer"
                  },
                  "PartialRatio": {
                    "type": "number",
                    "format": "integer"
                  },
                  "SortedRatio": {
                    "type": "number",
                    "format": "integer"
                  },
                  "SortedPartialRatio": {
                    "type": "number",
                    "format": "integer"
                  },
                  "MaxRatio": {
                    "type": "number",
                    "format": "integer"
                  },
                  "AvgRatio": {
                    "type": "number",
                    "format": "double"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.statesolutions.com.au"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.statesolutions.com.au/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}