{
  "swagger": "2.0",
  "info": {
    "title": "OpenWeatherMap",
    "description": "Test",
    "version": "1.0"
  },
  "host": "api.openweathermap.org",
  "basePath": "/data/2.5/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/weather": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "coord": {
                  "type": "object",
                  "properties": {
                    "lon": {
                      "type": "number",
                      "format": "float",
                      "description": "lon"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "lat"
                    }
                  },
                  "description": "coord"
                },
                "weather": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "main": {
                        "type": "string",
                        "description": "main"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "icon": {
                        "type": "string",
                        "description": "icon"
                      }
                    }
                  },
                  "description": "weather"
                },
                "base": {
                  "type": "string",
                  "description": "base"
                },
                "main": {
                  "type": "object",
                  "properties": {
                    "temp": {
                      "type": "number",
                      "format": "float",
                      "description": "temp"
                    },
                    "feels_like": {
                      "type": "number",
                      "format": "float",
                      "description": "feels_like"
                    },
                    "temp_min": {
                      "type": "number",
                      "format": "float",
                      "description": "temp_min"
                    },
                    "temp_max": {
                      "type": "number",
                      "format": "float",
                      "description": "temp_max"
                    },
                    "pressure": {
                      "type": "integer",
                      "format": "int32",
                      "description": "pressure"
                    },
                    "humidity": {
                      "type": "integer",
                      "format": "int32",
                      "description": "humidity"
                    }
                  },
                  "description": "main"
                },
                "visibility": {
                  "type": "integer",
                  "format": "int32",
                  "description": "visibility"
                },
                "wind": {
                  "type": "object",
                  "properties": {
                    "speed": {
                      "type": "number",
                      "format": "float",
                      "description": "speed"
                    },
                    "deg": {
                      "type": "integer",
                      "format": "int32",
                      "description": "deg"
                    }
                  },
                  "description": "wind"
                },
                "clouds": {
                  "type": "object",
                  "properties": {
                    "all": {
                      "type": "integer",
                      "format": "int32",
                      "description": "all"
                    }
                  },
                  "description": "clouds"
                },
                "dt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "dt"
                },
                "sys": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "integer",
                      "format": "int32",
                      "description": "type"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "country": {
                      "type": "string",
                      "description": "country"
                    },
                    "sunrise": {
                      "type": "integer",
                      "format": "int32",
                      "description": "sunrise"
                    },
                    "sunset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "sunset"
                    }
                  },
                  "description": "sys"
                },
                "timezone": {
                  "type": "integer",
                  "format": "int32",
                  "description": "timezone"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "cod": {
                  "type": "integer",
                  "format": "int32",
                  "description": "cod"
                }
              }
            }
          }
        },
        "summary": "get temp",
        "description": "get temp",
        "operationId": "get_temperature",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "appid"
    }
  },
  "security": [],
  "tags": []
}