{
  "swagger": "2.0",
  "info": {
    "title": "ZIPPYDOC",
    "description": "ZIPPYDOC is a platform that allows to merge, transform, filter, extract, report and analyze structured and table based data and to flexibly create data flows",
    "contact": {
      "name": "ZIPPYDOC support",
      "url": "https://support.zippydoc.de",
      "email": "support@zippydoc.eu"
    },
    "version": "1.0"
  },
  "host": "api.prod.zippydoc.net",
  "basePath": "/api/core",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/power-automate": {
      "x-ms-notification-content": {
        "description": "OnTableChangeResponse",
        "schema": {
          "type": "object",
          "properties": {
            "tableId": {
              "type": "integer",
              "format": "int32",
              "description": "ID of the table in ZIPPYDOC system",
              "title": "tableId"
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "OnTableChange",
        "summary": "On table changed",
        "description": "Triggers flow when any table is modified.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "x-ms-notification-url": {
                  "type": "string",
                  "description": "x-ms-notification-url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "type": {
                  "type": "string",
                  "description": "type",
                  "title": "",
                  "enum": [
                    "ON_TABLE_CHANGE"
                  ]
                }
              },
              "required": [
                "x-ms-notification-url"
              ]
            }
          }
        ]
      }
    },
    "/power-automate/{webHookId}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete WebHook",
        "description": "Called automatically by power-automate",
        "operationId": "DeleteWebHook",
        "parameters": [
          {
            "name": "webHookId",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "type": "string"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/document/power-automate/{name}": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Execute",
        "description": "Executes all tasks in defined flow.",
        "operationId": "Execute",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the flow that should execute all of its tasks.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Name of the flow that should execute all of its tasks."
          }
        ]
      }
    },
    "/excel/table/power-automate/upload": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Upload Table",
        "description": "Upload table in JSON format to ZIPPYDOC system",
        "operationId": "UploadTable",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "array",
                  "items": {},
                  "description": "content"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "documentName": {
                  "type": "string",
                  "description": "Name of the flow to which the table will be added",
                  "title": "Flow name"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                }
              }
            }
          }
        ]
      }
    },
    "/excel/table/power-automate/id/{tableId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Table By ID",
        "operationId": "GetTableByID",
        "description": "Retrieves table content in JSON format",
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "ID of the table in ZIPPYDOC system",
            "x-ms-summary": "ID of the table",
            "x-ms-url-encoding": "single",
            "format": "int32"
          }
        ]
      }
    },
    "/excel/table/power-automate/name/{name}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Table By Name",
        "operationId": "GetTableByName",
        "description": "Retrieves table content in JSON format",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the table in ZIPPYDOC system",
            "x-ms-summary": "Name of the table",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {},
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://zippydoc.de/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://zippydoc.de/datenschutzrichtlinie/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Website"
    }
  ],
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Power-Automate-Token"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}