{
  "swagger": "2.0",
  "info": {
    "title": "boomApp Connect",
    "description": "Boost customer engagement with Boomerang’s SMS, Voice, and Email Connector for the Microsoft Power Platform. Deliver automated alerts, reminders, and two-way conversational messaging directly from your Microsoft applications. Leverage real-time responses to streamline and automate communication workflows. With advanced inbound messaging features, customers can initiate conversations that integrate instantly into your business processes, driving faster, more efficient interactions.",
    "version": "2.0",
    "contact": {
      "name": "Boomerang",
      "url": "https://www.boomerangmessaging.com/products/boomApp/msconnector",
      "email": "operations@boomcomms.com"
    }
  },
  "host": "direct-api.apps.boomcomms.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "tags": [
    { "name": "SMS", "description": "SMS messaging endpoints" },
    { "name": "Email", "description": "Email messaging endpoints" },
    { "name": "Voice", "description": "Voice (TTS) endpoints" },
    { "name": "Inbound", "description": "Inbound messages endpoints" },
    { "name": "Responses", "description": "Retrieve message responses and delivery receipts" },
    { "name": "Triggers", "description": "Power Automate trigger endpoints" },
    { "name": "Legacy", "description": "Legacy aliases for backwards compatibility" }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": ["Legacy"],
        "summary": "API Root",
        "description": "Health/root endpoint placeholder (no-op).",
        "operationId": "Root",
        "responses": {
          "200": { "description": "success" },
          "default": { "description": "default" }
        }
      }
    },

    "/v1/flat/sms1": {
      "post": {
        "tags": ["SMS"],
        "summary": "SMS one-way",
        "description": "SMS messages are delivered using an alpha-numeric originator (such as a company name) which must contain a maximum of 11 characters. A recipient cannot respond to a message sent using an alpha-numeric originator. Please also note that in destinations where delivery of messages with alpha-numeric originator is not supported (due to local network policies), this may be replaced with a numeric originator, to ensure that the message is delivered.\n\n**Note regarding use of Social Hours**: Social Hours ensures messages are processed between designated times, regardless of when the request is received. [See SMS Delivery Infrastructure](https://boomerangmessaging.halocrm.io/kb?id=33).  A default configuration for Social Hours can be assigned to your Boomerang account or passed in each request using the 'social_hours' parameters.  Please note that a Social Hours subscription is required for these options to be enabled.",
        "operationId": "SMS1",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": { "$ref": "#/definitions/Sms1Request" },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": { "$ref": "#/definitions/TransactionsResponse" }
          },
          "400": {
            "description": "Your request could not be processed.",
            "schema": { "$ref": "#/definitions/ErrorWithTransactions" }
          },
          "401": { "description": "Your request could not be authenticated" },
          "402": {
            "description": "Your request could not be processed because of insufficient funds or other payment related issues."
          },
          "500": { "description": "Please try again or report this error to the support" }
        }
      }
    },

    "/v1/flat/sms2": {
      "post": {
        "tags": ["SMS"],
        "summary": "SMS two-way",
        "description": "This method allows replies to be tracked directly against each outbound transaction and is used to manage conversations between your applications and the end user. Replies can be forwarded to an email address and customers with Boommail can send an email-2-SMS message back to the responder. [See SMS Delivery Infrastructure](https://boomerangmessaging.halocrm.io/kb?id=33), for more information regarding 2-way and conversational messaging.\n\n**Note regarding use of Social Hours**: Social Hours ensures messages are processed between designated times, regardless of when the request is received.  A default configuration for Social Hours can be assigned to your Boomerang account or passed in each request using the 'social_hours' parameters.  Please note that a Social Hours subscription is required for these options to be enabled.",
        "operationId": "SMS2",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": { "$ref": "#/definitions/Sms2Request" },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": { "$ref": "#/definitions/TransactionsResponse" }
          },
          "400": {
            "description": "Your request could not be processed.",
            "schema": { "$ref": "#/definitions/ErrorWithTransactions" }
          },
          "401": { "description": "Your request could not be authenticated" },
          "402": {
            "description": "Your request could not be processed because of insufficient funds or other payment related issues."
          },
          "500": { "description": "Please try again or report this error to the support" }
        }
      }
    },

    "/v1/flat/sms3": {
      "post": {
        "tags": ["SMS"],
        "summary": "SMS custom number",
        "description": "SMS messages are delivered from an originating number specified in the request so that any replies are automatically returned to that number. Customers using Boomerang's Inbound Campaign feature can use their inbound campaign number as the originator for outbound broadcasts, so that any replies returned to the number can be retrieved using the get-Inbound function. All inbound messages are also accessible via your Boomerang UI account. Unlike the SMS2 function, replies are not tracked against the outbound message. For more information regarding SMS messaging, [See SMS Delivery Infrastructure](https://boomerangmessaging.halocrm.io/kb?id=33).",
        "operationId": "SMS3",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": { "$ref": "#/definitions/Sms3Request" },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": { "$ref": "#/definitions/TransactionsResponse" }
          },
          "400": {
            "description": "Your request could not be processed.",
            "schema": { "$ref": "#/definitions/ErrorWithTransactions" }
          },
          "401": { "description": "Your request could not be authenticated" },
          "402": {
            "description": "Your request could not be processed because of insufficient funds or other payment related issues."
          },
          "500": { "description": "Please try again or report this error to the support" }
        }
      }
    },

    "/v1/flat/voice": {
      "post": {
        "tags": ["Voice"],
        "summary": "Make Voice Call",
        "description": "Send Text-To-Speech (TTS) messages delivered as a voice call. On answering the call, a greeting / welcome message is played, allowing recipients to confirm that they wish to hear the main message.  Replies are returned as a keystroke via the device keypad. Please see [See Voice Delivery Infrastructure](https://boomerangmessaging.halocrm.io/kb?id=37) for more information.",
        "operationId": "VOICE",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": { "$ref": "#/definitions/VoiceRequest" },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": { "$ref": "#/definitions/TransactionsResponse" }
          },
          "400": {
            "description": "Your request could not be processed.",
            "schema": { "$ref": "#/definitions/ErrorWithTransactions" }
          },
          "401": { "description": "Your request could not be authenticated" },
          "402": {
            "description": "Your request could not be processed because of insufficient funds or other payment related issues."
          },
          "500": { "description": "Please try again or report this error to the support" }
        }
      }
    },

    "/v1/flat/email": {
      "post": {
        "tags": ["Email"],
        "summary": "Send Email",
        "description": "Send individual or bulk email messages or create conversational engagements over Email. Emails are sent from a Boomerang domain.",
        "operationId": "EMAIL",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": { "$ref": "#/definitions/EmailRequest" },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": { "$ref": "#/definitions/TransactionsResponse" }
          },
          "400": {
            "description": "Your request could not be processed.",
            "schema": { "$ref": "#/definitions/ErrorWithTransactions" }
          },
          "401": { "description": "Your request could not be authenticated" },
          "402": {
            "description": "Your request could not be processed because of insufficient funds or other payment related issues."
          },
          "500": { "description": "Please try again or report this error to the support" }
        }
      }
    },

    "/v1/get_responses": {
      "get": {
        "tags": ["Responses"],
        "summary": "Retrieve responses to outbound messages",
        "description": "This method allows a response or responses (where open ticket is applied) to an outbound transaction to be retrieved based on criteria associated to the outbound messages.",
        "operationId": "GetResponses",
        "parameters": [
          {
            "name": "unique_identifier",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Returns all responses associated to a single outbound transaction based on the value passed in the unique_identifier parameter when sending a message",
            "x-ms-summary": "Unique Identifier"
          },
          {
            "name": "custom_parameter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Returns all responses associated to a any outbound messages sent with the corresponding value passed in custom_parameter when sending a message.",
            "x-ms-summary": "Custom Parameter"
          },
          {
            "name": "campaign_name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Returns all responses associated to a any outbound messages sent with the corresponding value passed in campaign_name when sending a message.",
            "x-ms-summary": "Campaign Name"
          },
          {
            "name": "transaction_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Returns all responses associated to a single outbound transaction based on the transaction Id returned the response when sending an outbound message.",
            "x-ms-summary": "Transaction ID"
          },
          {
            "name": "ignore_previous",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Pass 'true' to exclude any responses that have been retrieved previously and marked as read.",
            "x-ms-summary": "Ignore Previous"
          },
          {
            "name": "mark_as_read",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Pass 'true' to flag responses retrieved in a request as read. Passing 'true' against ignore_previous will ensure that only new responses are returned. Passing 'false' will include previously retrieved responses. Where 'false' is passed this will override ignore_previous = true as all responses will be treated as new.",
            "x-ms-summary": "Mark As Read"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Where the paramter has_more = true, pass the relevant page number to return the more responses.",
            "x-ms-summary": "Page"
          },
          {
            "name": "conversationId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Returns all responses associated to a conversation thread based on the value passed in conversation_id parameter when sending a two-way message. Pass the corresponding value to retrieve responses associated to that thread.",
            "x-ms-summary": "Conversation ID"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": { "$ref": "#/definitions/GetResponsesResponse" }
          },
          "default": { "description": "default" }
        }
      }
    },

    "/get_responses": {
      "get": {
        "tags": ["Legacy"],
        "deprecated": true,
        "summary": "Retrieve responses to outbound messages (Legacy alias)",
        "description": "Legacy alias for /v1/get_responses.",
        "operationId": "GetResponses_Legacy",
        "parameters": [
          { "$ref": "#/parameters/unique_identifier" },
          { "$ref": "#/parameters/custom_parameter" },
          { "$ref": "#/parameters/campaign_name" },
          { "$ref": "#/parameters/transaction_id" },
          { "$ref": "#/parameters/ignore_previous" },
          { "$ref": "#/parameters/mark_as_read" },
          { "$ref": "#/parameters/page" },
          { "$ref": "#/parameters/conversationId" }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": { "type": "integer", "format": "int32", "description": "status" },
                "message": { "type": "string", "description": "message" },
                "has_more": { "type": "boolean", "description": "has_more" },
                "replies": {
                  "type": "array",
                  "description": "replies",
                  "items": { "$ref": "#/definitions/ReplyLegacy" }
                }
              }
            }
          },
          "400": {
            "description": "Your request could not be processed",
            "schema": { "$ref": "#/definitions/ErrorWithTransactions" }
          },
          "401": { "description": "Your request could not be authenticated" },
          "500": { "description": "Please try again or report this error to the support" }
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": { "mode": "polling", "kind": "query" }
      }
    },

    "/v1/get_all_new_drs": {
      "get": {
        "tags": ["Responses"],
        "summary": "Retrieve delivery status updates for outbound messages",
        "description": "This function is used to retrieve delivery status updates returned by the recipient’s device or service provider which can be used to update the status of the corresponding outbound message. Refer to our [Knowledge Articles](https://boomerangmessaging.halocrm.io/kb?id=33) for further information on delivery statuses for each communication channel.",
        "operationId": "Get_All_DRS",
        "parameters": [
          {
            "name": "drs_after",
            "description": "Provide the date and time after which delivery receipts should be returned. This parameter is also mandatory when using start_transaction_id and will return all DRs after the time specified.",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Drs After"
          },
          {
            "name": "start_transaction_id",
            "description": "Delivery status updates will be returned for all transaction Ids including and subsequent to the Id provided",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Start Transaction ID"
          },
          {
            "name": "ignore_previous",
            "description": "Pass 'true' to exclude any DRs that have been retrieved previously.",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Ignore Previous"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Pass the required page number where more DRs are available.",
            "type": "integer",
            "x-ms-summary": "Page"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": { "$ref": "#/definitions/GetAllDrsResponse" }
          },
          "default": { "description": "default" }
        }
      }
    },

    "/get_all_new_drs": {
      "get": {
        "tags": ["Legacy"],
        "deprecated": true,
        "summary": "Retrieve delivery status updates (Legacy alias)",
        "description": "Legacy alias for /v1/get_all_new_drs.",
        "operationId": "Get_All_DRS_Legacy",
        "parameters": [
          { "$ref": "#/parameters/drs_after" },
          { "$ref": "#/parameters/start_transaction_id" },
          { "$ref": "#/parameters/ignore_previous" },
          { "$ref": "#/parameters/page" }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": { "$ref": "#/definitions/GetAllDrsResponse" }
          },
          "400": {
            "description": "Your request could not be processed",
            "schema": { "$ref": "#/definitions/ErrorWithTransactions" }
          },
          "401": { "description": "Your request could not be authenticated" },
          "500": { "description": "Please try again or report this error to the support" }
        }
      }
    },

    "/trigger/v1/get_all_new_drs": {
      "get": {
        "tags": ["Triggers"],
        "summary": "On Delivery Confirmed",
        "description": "Triggered by delivery status updates returned. Updates the transaction with the delivery status returned by the end user's network operator. Refer to our [Knowledge Articles](https://boomerangmessaging.halocrm.io/kb?id=33) for further information on delivery statuses for each communication channel.",
        "x-ms-trigger": "batch",
        "operationId": "GETDRSTRIGGER",
        "parameters": [
          {
            "name": "drs_after",
            "in": "query",
            "required": false,
            "description": "Provide the date and time after which delivery receipts should be returned. This parameter is also mandatory when using start_transaction_id and will return all DRs after the time specified.",
            "type": "string",
            "default": "2020-03-01 09:00:00",
            "x-ms-trigger-value": { "value-collection": "drs", "value-path": "status_date" },
            "x-ms-summary": "Drs After"
          },
          {
            "name": "start_transaction_id",
            "in": "query",
            "required": false,
            "description": "Delivery status updates will be returned for all transaction Ids including and subsequent to the Id provided",
            "type": "integer",
            "x-ms-summary": "Start Transaction ID"
          },
          {
            "name": "ignore_previous",
            "in": "query",
            "required": false,
            "description": "Pass 'true' to exclude any DRs that have been retrieved previously.",
            "type": "boolean",
            "x-ms-summary": "Ignore Previous"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Pass the required page number where more DRs are available.",
            "type": "integer",
            "x-ms-summary": "Page"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": { "$ref": "#/definitions/GetAllDrsTriggerResponse" }
          },
          "400": {
            "description": "Your request could not be processed",
            "schema": { "$ref": "#/definitions/ErrorWithTransactions" }
          },
          "401": { "description": "Your request could not be authenticated" },
          "500": { "description": "Please try again or report this error to the support" }
        },
        "x-ms-trigger-metadata": { "mode": "polling", "kind": "query" }
      }
    },

    "/trigger/v1/get-inbound": {
      "get": {
        "tags": ["Triggers", "Inbound"],
        "summary": "Get_InboundTrigger",
        "description": "Retrieve messages submitted to an inbound campaign number.  Inbound campaign numbers allow end users to initiate engagement with your organisation via SMS and the inbound message can then be used as a trigger to initiate a resulting workflow. End users could for example, request an appointment which could trigger a flow that sends a follow up SMS containing the next available slots. Additionally, using a campaign number as the originating number when calling the SMS3 (custom number) function, allows you to initiate a broadcast to your stakeholders and with any replies being automatically returned to the inbound campaign number. Inbound campaign numbers can be purchased via your Boomerang UI account or on request by sending an email to operations@boomcomms.com.",
        "operationId": "Get_InboundTrigger",
        "x-ms-trigger": "batch",
        "parameters": [
          {
            "name": "after_ref",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 10060185,
            "description": "Returns all inbound messages on or after the inbound id provided.",
            "x-ms-visibility": "internal",
            "x-ms-summary": "After Ref"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Returns all messages on or after the date and time provided.",
            "type": "string",
            "x-ms-summary": "After"
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Returns all messages on or before the date and time provided.",
            "type": "string",
            "x-ms-summary": "Before"
          },
          {
            "name": "to_inbound_number",
            "in": "query",
            "required": false,
            "description": "Returns all messages submitted to the number provided.",
            "type": "integer",
            "x-ms-summary": "To Inbound Number"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Returns all messages submitted by the end user number provided.",
            "type": "string",
            "x-ms-summary": "From",
            "x-ms-example": "447890123456"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of messages to return per page.",
            "type": "integer",
            "x-ms-summary": "Per Page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number to return.",
            "type": "integer",
            "x-ms-summary": "Page"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": { "$ref": "#/definitions/GetInboundTriggerResponse" }
          },
          "default": { "description": "default" }
        },
        "x-ms-trigger-metadata": { "mode": "polling", "kind": "query" }
      }
    },

    "/v1/get-inbound": {
      "get": {
        "tags": ["Inbound"],
        "summary": "Retrieve inbound campaign messages",
        "description": "Non-trigger endpoint to retrieve messages submitted to an inbound campaign number (same parameters/shape as the trigger endpoint, but without x-ms-trigger metadata).",
        "operationId": "GetInbound",
        "parameters": [
          { "$ref": "#/parameters/after_ref" },
          { "$ref": "#/parameters/after" },
          { "$ref": "#/parameters/before" },
          { "$ref": "#/parameters/to_inbound_number" },
          { "$ref": "#/parameters/from" },
          { "$ref": "#/parameters/per_page" },
          { "$ref": "#/parameters/page" }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": { "$ref": "#/definitions/GetInboundTriggerResponse" }
          },
          "default": { "description": "default" }
        }
      }
    },

    "/get-inbound": {
      "get": {
        "tags": ["Legacy", "Inbound"],
        "deprecated": true,
        "summary": "Retrieve inbound campaign messages (Legacy alias)",
        "description": "Legacy alias for /v1/get-inbound.",
        "operationId": "GetInbound_Legacy",
        "parameters": [
          { "$ref": "#/parameters/after_ref" },
          { "$ref": "#/parameters/after" },
          { "$ref": "#/parameters/before" },
          { "$ref": "#/parameters/to_inbound_number" },
          { "$ref": "#/parameters/from" },
          { "$ref": "#/parameters/per_page" },
          { "$ref": "#/parameters/page" }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": { "$ref": "#/definitions/GetInboundTriggerResponse" }
          },
          "default": { "description": "default" }
        }
      }
    },

    "/v1/maskTwoWay": {
      "post": {
        "tags": ["SMS"],
        "summary": "MaskTwoWay",
        "description": "Method providing the ability to set-up 2-way conversational messaging between two different parties, without either disclosing their personal contact details. Once a conversation is initiated, the personal details of both parties are automatically masked across a specified number of interactions, after which, the recipient’s contact details are disclosed to the initiator. Where the number of interactions is not specified, a conversation will be masked across an unlimited number of interactions, without any personal details ever being disclosed.",
        "operationId": "MaskTwoWay",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": { "$ref": "#/definitions/MaskTwoWayRequest" },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": { "$ref": "#/definitions/MaskTwoWayResponse" }
          },
          "default": { "description": "default" }
        }
      }
    },

    "/maskTwoWay": {
      "post": {
        "tags": ["Legacy", "SMS"],
        "deprecated": true,
        "summary": "MaskTwoWay (Legacy alias)",
        "description": "Legacy alias for /v1/maskTwoWay.",
        "operationId": "MaskTwoWay_Legacy",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": { "$ref": "#/definitions/MaskTwoWayRequest" },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": { "$ref": "#/definitions/MaskTwoWayResponse" }
          },
          "default": { "description": "default" }
        }
      }
    },

    "/flat/sms1": {
      "post": {
        "tags": ["Legacy", "SMS"],
        "deprecated": true,
        "summary": "SMS one-way (Legacy alias)",
        "description": "Legacy alias for /v1/flat/sms1.",
        "operationId": "SMS1_Flat_Legacy",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": { "$ref": "#/definitions/Sms1Request" },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": { "description": "success", "schema": { "$ref": "#/definitions/TransactionsResponse" } },
          "400": { "description": "Your request could not be processed.", "schema": { "$ref": "#/definitions/ErrorWithTransactions" } },
          "401": { "description": "Your request could not be authenticated" },
          "402": { "description": "Your request could not be processed because of insufficient funds or other payment related issues." },
          "500": { "description": "Please try again or report this error to the support" }
        }
      }
    },

    "/flat/sms2": {
      "post": {
        "tags": ["Legacy", "SMS"],
        "deprecated": true,
        "summary": "SMS two-way (Legacy alias)",
        "description": "Legacy alias for /v1/flat/sms2.",
        "operationId": "SMS2_Flat_Legacy",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": { "$ref": "#/definitions/Sms2Request" },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": { "description": "success", "schema": { "$ref": "#/definitions/TransactionsResponse" } },
          "400": { "description": "Your request could not be processed.", "schema": { "$ref": "#/definitions/ErrorWithTransactions" } },
          "401": { "description": "Your request could not be authenticated" },
          "402": { "description": "Your request could not be processed because of insufficient funds or other payment related issues." },
          "500": { "description": "Please try again or report this error to the support" }
        }
      }
    },

    "/flat/sms3": {
      "post": {
        "tags": ["Legacy", "SMS"],
        "deprecated": true,
        "summary": "SMS custom number (Legacy alias)",
        "description": "Legacy alias for /v1/flat/sms3.",
        "operationId": "SMS3_Flat_Legacy",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": { "$ref": "#/definitions/Sms3Request" },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": { "description": "success", "schema": { "$ref": "#/definitions/TransactionsResponse" } },
          "400": { "description": "Your request could not be processed.", "schema": { "$ref": "#/definitions/ErrorWithTransactions" } },
          "401": { "description": "Your request could not be authenticated" },
          "402": { "description": "Your request could not be processed because of insufficient funds or other payment related issues." },
          "500": { "description": "Please try again or report this error to the support" }
        }
      }
    },

    "/sms1": {
      "post": {
        "tags": ["Legacy", "SMS"],
        "deprecated": true,
        "summary": "SMS one-way (Legacy alias)",
        "description": "Legacy alias for /v1/flat/sms1.",
        "operationId": "SMS1_Legacy",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": { "$ref": "#/definitions/Sms1Request" },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": { "description": "success", "schema": { "$ref": "#/definitions/TransactionsResponse" } },
          "400": { "description": "Your request could not be processed.", "schema": { "$ref": "#/definitions/ErrorWithTransactions" } },
          "401": { "description": "Your request could not be authenticated" },
          "402": { "description": "Your request could not be processed because of insufficient funds or other payment related issues." },
          "500": { "description": "Please try again or report this error to the support" }
        }
      }
    },

    "/sms2": {
      "post": {
        "tags": ["Legacy", "SMS"],
        "deprecated": true,
        "summary": "SMS two-way (Legacy alias)",
        "description": "Legacy alias for /v1/flat/sms2.",
        "operationId": "SMS2_Legacy",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": { "$ref": "#/definitions/Sms2Request" },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": { "description": "success", "schema": { "$ref": "#/definitions/TransactionsResponse" } },
          "400": { "description": "Your request could not be processed.", "schema": { "$ref": "#/definitions/ErrorWithTransactions" } },
          "401": { "description": "Your request could not be authenticated" },
          "402": { "description": "Your request could not be processed because of insufficient funds or other payment related issues." },
          "500": { "description": "Please try again or report this error to the support" }
        }
      }
    },

    "/sms3": {
      "post": {
        "tags": ["Legacy", "SMS"],
        "deprecated": true,
        "summary": "SMS custom number (Legacy alias)",
        "description": "Legacy alias for /v1/flat/sms3.",
        "operationId": "SMS3_Legacy",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": { "$ref": "#/definitions/Sms3Request" },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": { "description": "success", "schema": { "$ref": "#/definitions/TransactionsResponse" } },
          "400": { "description": "Your request could not be processed.", "schema": { "$ref": "#/definitions/ErrorWithTransactions" } },
          "401": { "description": "Your request could not be authenticated" },
          "402": { "description": "Your request could not be processed because of insufficient funds or other payment related issues." },
          "500": { "description": "Please try again or report this error to the support" }
        }
      }
    },

    "/voice": {
      "post": {
        "tags": ["Legacy", "Voice"],
        "deprecated": true,
        "summary": "Make Voice Call (Legacy alias)",
        "description": "Legacy alias for /v1/flat/voice.",
        "operationId": "VOICE_Legacy",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": { "$ref": "#/definitions/VoiceRequest" },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": { "description": "success", "schema": { "$ref": "#/definitions/TransactionsResponse" } },
          "400": { "description": "Your request could not be processed.", "schema": { "$ref": "#/definitions/ErrorWithTransactions" } },
          "401": { "description": "Your request could not be authenticated" },
          "402": { "description": "Your request could not be processed because of insufficient funds or other payment related issues." },
          "500": { "description": "Please try again or report this error to the support" }
        }
      }
    },

    "/email": {
      "post": {
        "tags": ["Legacy", "Email"],
        "deprecated": true,
        "summary": "Send Email (Legacy alias)",
        "description": "Legacy alias for /v1/flat/email.",
        "operationId": "EMAIL_Legacy",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": { "$ref": "#/definitions/EmailRequest" },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": { "description": "success", "schema": { "$ref": "#/definitions/TransactionsResponse" } },
          "400": { "description": "Your request could not be processed.", "schema": { "$ref": "#/definitions/ErrorWithTransactions" } },
          "401": { "description": "Your request could not be authenticated" },
          "402": { "description": "Your request could not be processed because of insufficient funds or other payment related issues." },
          "500": { "description": "Please try again or report this error to the support" }
        }
      }
    },

    "/v1/sms1": {
      "post": {
        "tags": ["Legacy", "SMS"],
        "deprecated": true,
        "summary": "SMS one-way (Legacy alias)",
        "description": "Legacy alias for /v1/flat/sms1.",
        "operationId": "SMS1_v1_Legacy",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": { "$ref": "#/definitions/Sms1Request" },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": { "description": "success", "schema": { "$ref": "#/definitions/TransactionsResponse" } },
          "400": { "description": "Your request could not be processed.", "schema": { "$ref": "#/definitions/ErrorWithTransactions" } },
          "401": { "description": "Your request could not be authenticated" },
          "402": { "description": "Your request could not be processed because of insufficient funds or other payment related issues." },
          "500": { "description": "Please try again or report this error to the support" }
        }
      }
    }
  },

  "definitions": {
    "RecipientNumberObject": {
      "type": "object",
      "properties": {
        "number": { "type": "string", "description": "Destination number" }
      }
    },

    "TransactionsResponse": {
      "type": "object",
      "properties": {
        "transactions": {
          "type": "array",
          "description": "transactions",
          "items": {
            "type": "object",
            "properties": {
              "transaction_id": { "type": "string", "description": "transaction_id" },
              "parts_per_message": { "type": "integer", "format": "int32", "description": "parts_per_message" },
              "telephone_number": { "type": "string", "description": "telephone_number" },
              "email_address": { "type": "string", "description": "email_address" },
              "boomerang_id": { "type": "string", "description": "boomerang_id" }
            }
          }
        },
        "message": { "type": "string", "description": "message" },
        "status": { "type": "integer", "format": "int32", "description": "status" }
      }
    },

    "ErrorWithTransactions": {
      "type": "object",
      "properties": {
        "message": { "type": "string", "description": "message" },
        "status": { "type": "integer", "format": "int32", "description": "status" },
        "transactions": { "type": "string", "description": "transactions" }
      }
    },

    "ReplyLegacy": {
      "type": "object",
      "properties": {
        "transaction_id": { "type": "string", "description": "transaction_id" },
        "custom_parameter": { "type": "string", "description": "custom_parameter" },
        "response_id": { "type": "string", "description": "response_id" },
        "from": { "type": "string", "description": "from" },
        "response_content": { "type": "string", "description": "response_content" },
        "is_new": { "type": "boolean", "description": "is_new" },
        "transaction_date": { "type": "string", "description": "transaction_date" },
        "response_date": { "type": "string", "description": "response_date" }
      }
    },

    "Reply": {
      "type": "object",
      "properties": {
        "transaction_id": { "type": "string", "description": "transaction_id" },
        "custom_parameter": { "type": "string", "description": "custom_parameter" },
        "campaign_name": { "type": "string", "description": "campaign_name" },
        "response_id": { "type": "string", "description": "response_id" },
        "from": { "type": "string", "description": "from" },
        "response_content": { "type": "string", "description": "response_content" },
        "is_new": { "type": "boolean", "description": "is_new" },
        "transaction_date": { "type": "string", "description": "transaction_date" },
        "response_date": { "type": "string", "description": "response_date" },
        "conversationId": { "type": "string", "description": "conversationId" }
      }
    },

    "GetResponsesResponse": {
      "type": "object",
      "properties": {
        "replies": {
          "type": "array",
          "description": "replies",
          "items": { "$ref": "#/definitions/Reply" }
        },
        "message": { "type": "string", "description": "message" },
        "status": { "type": "integer", "format": "int32", "description": "status" },
        "has_more": { "type": "boolean", "description": "has_more" }
      }
    },

    "GetAllDrsItem": {
      "type": "object",
      "properties": {
        "transaction_id": { "type": "string", "description": "transaction_id" },
        "status": { "type": "string", "description": "status" },
        "status_date": { "type": "string", "description": "status_date" },
        "destination": { "type": "string", "description": "destination" },
        "custom_parameter": { "type": "string", "description": "custom_parameter" },
        "campaign_name": { "type": "string", "description": "campaign_name" },
        "unique_id": { "type": "string", "description": "unique_id" }
      }
    },

    "GetAllDrsResponse": {
      "type": "object",
      "properties": {
        "status": { "type": "integer", "format": "int32", "description": "status" },
        "message": { "type": "string", "description": "message" },
        "has_more": { "type": "boolean", "description": "has_more" },
        "drs": {
          "type": "array",
          "description": "drs",
          "items": { "$ref": "#/definitions/GetAllDrsItem" }
        }
      }
    },

    "GetAllDrsTriggerResponse": {
      "type": "object",
      "properties": {
        "status": { "type": "integer", "format": "int32", "description": "status" },
        "message": { "type": "string", "description": "message" },
        "has_more": { "type": "boolean", "description": "has_more" },
        "drs": {
          "type": "array",
          "description": "drs",
          "items": { "$ref": "#/definitions/GetAllDrsItem" }
        }
      }
    },

    "GetInboundMessage": {
      "type": "object",
      "properties": {
        "ref": { "type": "integer", "format": "int32", "description": "ref" },
        "message": { "type": "string", "description": "message" },
        "to_inbound_number": { "type": "string", "description": "to_inbound_number" },
        "from": { "type": "string", "description": "from" },
        "created_at": { "type": "string", "description": "created_at" }
      }
    },

    "GetInboundTriggerResponse": {
      "type": "object",
      "properties": {
        "status": { "type": "integer", "format": "int32", "description": "status" },
        "has_more": { "type": "boolean", "description": "has_more" },
        "messages": {
          "type": "array",
          "description": "messages",
          "items": { "$ref": "#/definitions/GetInboundMessage" }
        }
      }
    },

    "Sms1Request": {
      "type": "object",
      "properties": {
        "from": {
          "type": "string",
          "description": "Sender Id displayed in the recipient's device. An alpha-numeric value containing a maximum of 11 characters. Note, a recipient is unable to reply, if replies are required, use the SMS two-way function."
        },
        "message_content": {
          "type": "string",
          "description": "The content of the outbound message. Up to 3000 characters supported. Multi-part messages are concatenated and delivered as a single message"
        },
        "recipient_address": {
          "type": "array",
          "description": "recipient_address",
          "items": { "$ref": "#/definitions/RecipientNumberObject" }
        },
        "priority": {
          "type": "boolean",
          "description": "Optional parameter used to override ‘Social Hours’ settings if enabled in your Boomerang account. Pass ‘true’ to override Social Hours and messages are processed immediately on submission."
        },
        "unique_identifier": {
          "type": "string",
          "description": "Unique identifier for each individual message transaction. This is used to safeguard against duplication of messages, as Boomerang will ignore any transactions with an Id that has been used previously."
        },
        "campaign_name": {
          "type": "string",
          "description": "Optional parameter that can be used to organise messages by specific campaigns."
        },
        "custom_parameter": {
          "type": "string",
          "description": "Optional parameter used for a custom reference, for example a job reference, use case, batch Id etc."
        },
        "delay": {
          "type": "integer",
          "format": "int32",
          "description": "Pass a value in minutes to defer processing of a request by the period specified."
        },

        "social_hours_monday_start": {
          "type": "integer",
          "format": "int32",
          "description": "Define the start time for Social Hours."
        },
        "social_hours_monday_end": {
          "type": "integer",
          "format": "int32",
          "description": "Define the end time for Social Hours."
        },
        "social_hours_monday_day_off": {
          "type": "boolean",
          "description": "Pass ‘true’ to disable messaging."
        },

        "social_hours_tuesday_start": {
          "type": "integer",
          "format": "int32",
          "description": "Define the start time for Social Hours."
        },
        "social_hours_tuesday_end": {
          "type": "integer",
          "format": "int32",
          "description": "Define the end time for Social Hours."
        },
        "social_hours_tuesday_day_off": {
          "type": "boolean",
          "description": "Pass ‘true’ to disable Social Hours for this day."
        },

        "social_hours_wednesday_start": {
          "type": "integer",
          "format": "int32",
          "description": "Define the start time for Social Hours."
        },
        "social_hours_wednesday_end": {
          "type": "integer",
          "format": "int32",
          "description": "Define the end time for Social Hours."
        },
        "social_hours_wednesday_day_off": {
          "type": "boolean",
          "description": "Pass ‘true’ to disable messaging."
        },

        "social_hours_thursday_start": {
          "type": "integer",
          "format": "int32",
          "description": "Define the start time for Social Hours."
        },
        "social_hours_thursday_end": {
          "type": "integer",
          "format": "int32",
          "description": "Define the end time for Social Hours."
        },
        "social_hours_thursday_day_off": {
          "type": "boolean",
          "description": "Pass ‘true’ to disable messaging."
        },

        "social_hours_friday_start": {
          "type": "integer",
          "format": "int32",
          "description": "Define the start time for Social Hours."
        },
        "social_hours_friday_end": {
          "type": "integer",
          "format": "int32",
          "description": "Define the end time for Social Hours."
        },
        "social_hours_friday_day_off": {
          "type": "boolean",
          "description": "Pass ‘true’ to disable messaging."
        },

        "social_hours_saturday_start": {
          "type": "integer",
          "format": "int32",
          "description": "Define the start time for Social Hours."
        },
        "social_hours_saturday_end": {
          "type": "integer",
          "format": "int32",
          "description": "Define the end time for Social Hours."
        },
        "social_hours_saturday_day_off": {
          "type": "boolean",
          "description": "Pass ‘true’ to disable messaging."
        },

        "social_hours_sunday_start": {
          "type": "integer",
          "format": "int32",
          "description": "Define the start time for Social Hours."
        },
        "social_hours_sunday_end": {
          "type": "integer",
          "format": "int32",
          "description": "Define the end time for Social Hours."
        },
        "social_hours_sunday_day_off": {
          "type": "boolean",
          "description": "Pass ‘true’ to disable messaging."
        },

        "social_hours_USA_state": {
          "type": "string",
          "description": "Localise Social Hours when sending to recipients in the USA."
        },
        "social_hours_offset": {
          "type": "integer",
          "format": "int32",
          "description": "Localise Social Hours to the recipient, based on an offset period set against UTC."
        },
        "social_hours_timezone": {
          "type": "string",
          "description": "Localise Social Hours to the recipient based on a specific time zone."
        },
        "social_hours_from_destination": {
          "type": "boolean",
          "description": "Localise Social Hours to the recipient based on the country prefix / dialling code contained in the recipient's telephone number."
        },

        "shortlinks_enabled": { "type": "boolean", "description": "Pass true to enable use of short-links." },
        "shortlinks_password": { "type": "string", "description": "Password protect access to the short-link." },
        "shortlinks_expires": { "type": "string", "description": "Mandatory parameter when short links are enabled." },
        "shortlinks_expires_after_visits": {
          "type": "integer",
          "format": "int32",
          "description": "Limit number of visits."
        },
        "shortlinks_starting_with": {
          "type": "string",
          "description": "Domain(s) associated to URL(s) in your message content."
        }
      }
    },

    "Sms2Request": {
      "type": "object",
      "properties": {
        "conversation_id": { "type": "string", "description": "Parameter used to manage conversation threads." },
        "quarantined_days": { "type": "integer", "format": "int32", "description": "Quarantine period for originating number reuse." },
        "message_content": { "type": "string", "description": "The content of the outbound message." },
        "recipient_address": {
          "type": "array",
          "description": "recipient_address",
          "items": { "$ref": "#/definitions/RecipientNumberObject" }
        },
        "validity_period": { "type": "integer", "format": "int32", "description": "Pass a value in days." },
        "open_ticket": { "type": "boolean", "description": "Pass ‘true’ to enable open ticket." },
        "email_responses": { "type": "string", "description": "Email address for forwarding responses." },
        "push_responses": { "type": "string", "description": "Webhook for pushing responses." },
        "priority": { "type": "boolean", "description": "Override Social Hours." },
        "unique_identifier": { "type": "string", "description": "Customer-side dedupe identifier." },
        "campaign_name": { "type": "string", "description": "Campaign name." },
        "custom_parameter": { "type": "string", "description": "Custom reference." },
        "delay": { "type": "integer", "format": "int32", "description": "delay" },

        "social_hours_monday_start": { "type": "integer", "format": "int32", "description": "Social Hours start." },
        "social_hours_monday_end": { "type": "integer", "format": "int32", "description": "Social Hours end." },
        "social_hours_monday_day_off": { "type": "boolean", "description": "Disable messaging." },

        "social_hours_tuesday_start": { "type": "integer", "format": "int32", "description": "Social Hours start." },
        "social_hours_tuesday_end": { "type": "integer", "format": "int32", "description": "Social Hours end." },
        "social_hours_tuesday_day_off": { "type": "boolean", "description": "Disable messaging." },

        "social_hours_wednesday_start": { "type": "integer", "format": "int32", "description": "Social Hours start." },
        "social_hours_wednesday_end": { "type": "integer", "format": "int32", "description": "Social Hours end." },
        "social_hours_wednesday_day_off": { "type": "boolean", "description": "Disable messaging." },

        "social_hours_thursday_start": { "type": "integer", "format": "int32", "description": "Social Hours start." },
        "social_hours_thursday_end": { "type": "integer", "format": "int32", "description": "Social Hours end." },
        "social_hours_thursday_day_off": { "type": "boolean", "description": "Disable messaging." },

        "social_hours_friday_start": { "type": "integer", "format": "int32", "description": "Social Hours start." },
        "social_hours_friday_end": { "type": "integer", "format": "int32", "description": "Social Hours end." },
        "social_hours_friday_day_off": { "type": "boolean", "description": "Disable messaging." },

        "social_hours_saturday_start": { "type": "integer", "format": "int32", "description": "Social Hours start." },
        "social_hours_saturday_end": { "type": "integer", "format": "int32", "description": "Social Hours end." },
        "social_hours_saturday_day_off": { "type": "boolean", "description": "Disable messaging." },

        "social_hours_sunday_start": { "type": "integer", "format": "int32", "description": "Social Hours start." },
        "social_hours_sunday_end": { "type": "integer", "format": "int32", "description": "Social Hours end." },
        "social_hours_sunday_day_off": { "type": "boolean", "description": "Disable messaging." },

        "social_hours_USA_state": { "type": "string", "description": "USA state for localisation." },
        "social_hours_offset": { "type": "integer", "format": "int32", "description": "UTC offset in minutes." },
        "social_hours_timezone": { "type": "string", "description": "TZ database timezone." },
        "social_hours_from_destination": { "type": "boolean", "description": "Derive timezone from destination prefix." },

        "shortlinks_enabled": { "type": "boolean", "description": "Enable short-links." },
        "shortlinks_password": { "type": "string", "description": "Short-link password." },
        "shortlinks_expires": { "type": "string", "description": "Short-link expiry UTC." },
        "shortlinks_expires_after_visits": { "type": "integer", "format": "int32", "description": "Max short-link visits." },
        "shortlinks_starting_with": { "type": "string", "description": "Domain(s) to shorten." }
      }
    },

    "Sms3Request": {
      "type": "object",
      "properties": {
        "from": { "type": "string", "description": "A numeric sending Id associated to a message." },
        "message_content": { "type": "string", "description": "Outbound message content." },
        "recipient_address": {
          "type": "array",
          "description": "recipient mobile number",
          "items": { "$ref": "#/definitions/RecipientNumberObject" }
        },
        "priority": { "type": "boolean", "description": "Override Social Hours." },
        "unique_identifier": { "type": "string", "description": "Customer-side dedupe identifier." },
        "campaign_name": { "type": "string", "description": "Campaign name." },
        "custom_parameter": { "type": "string", "description": "Custom reference." },
        "delay": { "type": "integer", "format": "int32", "description": "Defer processing (minutes)." },

        "social_hours_monday_start": { "type": "integer", "format": "int32", "description": "Social Hours start." },
        "social_hours_monday_end": { "type": "integer", "format": "int32", "description": "Social Hours end." },
        "social_hours_monday_day_off": { "type": "boolean", "description": "Disable messaging." },

        "social_hours_tuesday_start": { "type": "integer", "format": "int32", "description": "Social Hours start." },
        "social_hours_tuesday_end": { "type": "integer", "format": "int32", "description": "Social Hours end." },
        "social_hours_tuesday_day_off": { "type": "boolean", "description": "Disable messaging." },

        "social_hours_wednesday_start": { "type": "integer", "format": "int32", "description": "Social Hours start." },
        "social_hours_wednesday_end": { "type": "integer", "format": "int32", "description": "Social Hours end." },
        "social_hours_wednesday_day_off": { "type": "boolean", "description": "Disable messaging." },

        "social_hours_thursday_start": { "type": "integer", "format": "int32", "description": "Social Hours start." },
        "social_hours_thursday_end": { "type": "integer", "format": "int32", "description": "Social Hours end." },
        "social_hours_thursday_day_off": { "type": "boolean", "description": "Disable messaging." },

        "social_hours_friday_start": { "type": "integer", "format": "int32", "description": "Social Hours start." },
        "social_hours_friday_end": { "type": "integer", "format": "int32", "description": "Social Hours end." },
        "social_hours_friday_day_off": { "type": "boolean", "description": "Disable messaging." },

        "social_hours_saturday_start": { "type": "integer", "format": "int32", "description": "Social Hours start." },
        "social_hours_saturday_end": { "type": "integer", "format": "int32", "description": "Social Hours end." },
        "social_hours_saturday_day_off": {
          "type": "boolean",
          "description": "Disable Social Hours for this day."
        },

        "social_hours_sunday_start": { "type": "integer", "format": "int32", "description": "Social Hours start." },
        "social_hours_sunday_end": { "type": "integer", "format": "int32", "description": "Social Hours end." },
        "social_hours_sunday_day_off": {
          "type": "boolean",
          "description": "Disable Social Hours for this day."
        },

        "social_hours_USA_state": { "type": "string", "description": "USA state for localisation." },
        "social_hours_offset": { "type": "integer", "format": "int32", "description": "UTC offset in minutes." },
        "social_hours_timezone": { "type": "string", "description": "TZ database timezone." },
        "social_hours_from_destination": { "type": "boolean", "description": "Derive timezone from destination prefix." },

        "shortlinks_enabled": { "type": "boolean", "description": "Enable short-links." },
        "shortlinks_password": { "type": "string", "description": "Short-link password." },
        "shortlinks_expires": { "type": "string", "description": "Short-link expiry UTC." },
        "shortlinks_expires_after_visits": { "type": "integer", "format": "int32", "description": "Max short-link visits." },
        "shortlinks_starting_with": { "type": "string", "description": "Domain(s) to shorten." }
      }
    },

    "EmailRequest": {
      "type": "object",
      "properties": {
        "from": {
          "type": "string",
          "description": "The sender id associated to the email, which is displayed in the recipient’s Inbox. If left blank, a default value will be taken from your Boomerang account settings."
        },
        "email_subject": {
          "type": "string",
          "description": "The subject associated to the email message, displayed in the recipient’s Inbox"
        },
        "message_content": {
          "type": "string",
          "description": "The content of the Email body. There are no character limits and HTML content is supported."
        },
        "email_address": {
          "type": "array",
          "items": { "type": "string" },
          "description": "Recipient Email address. A single address or an array of up to 10,000 addresses can be passed."
        },
        "validity_period": { "type": "integer", "format": "int32", "description": "Pass a value in days." },
        "open_ticket": { "type": "boolean", "description": "Pass ‘true’ to enable open ticket." },
        "email_responses": {
          "type": "string",
          "description": "An email address to which message responses are forwarded."
        },
        "push_responses": {
          "type": "string",
          "description": "A CallBack URL to which message responses are posted."
        },
        "unique_identifier": {
          "type": "string",
          "description": "A unique identifier for each individual message transaction provided by the customer to safeguard against duplication of messages."
        },
        "campaign_name": { "type": "string", "description": "Optional parameter that can be used to organise messages by specific campaigns." },
        "custom_parameter": {
          "type": "string",
          "description": "Optional parameter used for a custom reference, for example a job reference, use case, batch Id etc."
        },

        "shortlinks_enabled": { "type": "boolean", "description": "Pass true to enable use of short-links." },
        "shortlinks_password": { "type": "string", "description": "Password protect access to the short-link." },
        "shortlinks_expires": {
          "type": "string",
          "description": "Mandatory parameter when short links are enabled. Pass a date and time in UTC."
        },
        "shortlinks_expires_after_visits": { "type": "integer", "format": "int32", "description": "Limit number of visits." },
        "shortlinks_starting_with": { "type": "string", "description": "Domain(s) associated to URL(s) in your message content." }
      }
    },

    "VoiceRequest": {
      "type": "object",
      "properties": {
        "voice_intro": {
          "type": "string",
          "example": "Press 1 to accept or 2 to ignore.",
          "description": "The welcome message played when the voice call is answered."
        },
        "voice_thank_you": {
          "type": "string",
          "description": "The exit message played after the recipient has listened to, or responded to the main message."
        },
        "voice_redirect_message": {
          "type": "string",
          "description": "Optional. The message played when a call is being diverted."
        },
        "voice_redirect_no": {
          "type": "object",
          "description": "voice_redirect_no",
          "properties": { "number": { "type": "string", "description": "Redirect telephone number." } }
        },
        "voice_retries": { "type": "integer", "format": "int32", "description": "Retry attempts. Max 3." },
        "voice_delay": { "type": "integer", "format": "int32", "description": "Interval between retry attempts (minutes)." },
        "message_content": { "type": "string", "description": "Main message body played after intro confirmation." },
        "recipient_address": {
          "type": "array",
          "description": "recipient_address",
          "items": { "$ref": "#/definitions/RecipientNumberObject" }
        },
        "email_responses": { "type": "string", "description": "Email address to forward response details." },
        "push_responses": { "type": "string", "description": "Webhook to push response details." },
        "priority": { "type": "boolean", "description": "Override Social Hours." },
        "unique_identifier": { "type": "string", "description": "Customer-side dedupe identifier." },
        "campaign_name": { "type": "string", "description": "Campaign name." },
        "custom_parameter": { "type": "string", "description": "Custom reference." },
        "locale": { "type": "string", "description": "Voice locale/accent/language. See supported locales list." }
      }
    },

    "MaskTwoWayRequest": {
      "type": "object",
      "properties": {
        "from": { "type": "string", "description": "from" },
        "to": { "type": "string", "description": "to" },
        "reference": { "type": "string", "description": "reference" },
        "reference_always": { "type": "boolean", "description": "reference_always" },
        "rounds": { "type": "integer", "format": "int32", "description": "rounds" },
        "validity": { "type": "integer", "format": "int32", "description": "validity" },
        "message": { "type": "string", "description": "message" }
      }
    },

    "MaskTwoWayResponse": {
      "type": "object",
      "properties": {
        "message": { "type": "string", "description": "message" },
        "thread_id": { "type": "integer", "format": "int32", "description": "thread_id" },
        "status": { "type": "integer", "format": "int32", "description": "status" }
      }
    }
  },

  "parameters": {
    "unique_identifier": {
      "name": "unique_identifier",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Returns all responses associated to a single outbound transaction based on unique_identifier.",
      "x-ms-summary": "Unique Identifier"
    },
    "custom_parameter": {
      "name": "custom_parameter",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Returns responses associated to outbound messages with custom_parameter.",
      "x-ms-summary": "Custom Parameter"
    },
    "campaign_name": {
      "name": "campaign_name",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Returns responses associated to outbound messages with campaign_name.",
      "x-ms-summary": "Campaign Name"
    },
    "transaction_id": {
      "name": "transaction_id",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Returns responses for a single outbound transaction based on transaction_id.",
      "x-ms-summary": "Transaction ID"
    },
    "ignore_previous": {
      "name": "ignore_previous",
      "in": "query",
      "required": false,
      "type": "boolean",
      "description": "Exclude previously retrieved/read items.",
      "x-ms-summary": "Ignore Previous"
    },
    "mark_as_read": {
      "name": "mark_as_read",
      "in": "query",
      "required": false,
      "type": "boolean",
      "description": "Mark retrieved items as read.",
      "x-ms-summary": "Mark As Read"
    },
    "page": {
      "name": "page",
      "in": "query",
      "required": false,
      "type": "integer",
      "description": "Pagination page number.",
      "x-ms-summary": "Page"
    },
    "conversationId": {
      "name": "conversationId",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Retrieve responses for a conversation thread.",
      "x-ms-summary": "Conversation ID"
    },

    "drs_after": {
      "name": "drs_after",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Return delivery receipts after date/time.",
      "x-ms-summary": "Drs After"
    },
    "start_transaction_id": {
      "name": "start_transaction_id",
      "in": "query",
      "required": false,
      "type": "integer",
      "description": "Return delivery receipts from this transaction id onwards.",
      "x-ms-summary": "Start Transaction ID"
    },

    "after_ref": {
      "name": "after_ref",
      "in": "query",
      "required": false,
      "type": "integer",
      "description": "Returns inbound messages on or after inbound ref.",
      "x-ms-summary": "After Ref"
    },
    "after": {
      "name": "after",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Returns inbound messages on or after datetime.",
      "x-ms-summary": "After"
    },
    "before": {
      "name": "before",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Returns inbound messages on or before datetime.",
      "x-ms-summary": "Before"
    },
    "to_inbound_number": {
      "name": "to_inbound_number",
      "in": "query",
      "required": false,
      "type": "integer",
      "description": "Filter by inbound campaign number.",
      "x-ms-summary": "To Inbound Number"
    },
    "from": {
      "name": "from",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Filter by sender number.",
      "x-ms-summary": "From"
    },
    "per_page": {
      "name": "per_page",
      "in": "query",
      "required": false,
      "type": "integer",
      "description": "Messages per page.",
      "x-ms-summary": "Per Page"
    }
  },

  "security": [{ "basic-auth": [] }],
  "securityDefinitions": {
    "basic-auth": { "type": "basic" }
  },

  "x-ms-connector-metadata": [
    { "propertyName": "Website", "propertyValue": "https://boomerangmessaging.com/products/boomapp-connect/" },
    { "propertyName": "Privacy policy", "propertyValue": "https://boomerangmessaging.com/policies/" },
    { "propertyName": "Terms of service", "propertyValue": "https://boomlink.uk/d/s/17CfanKOMnKmjJPOgJQ6rHIXc9h2OSzz/VNWxY-5TCG3ztfz38_f6FiaryAZbFHnc-aLOg9w1GAA0" },
    { "propertyName": "Categories", "propertyValue": "Communication" }
  ]
}
