{
  "swagger": "2.0",
  "info": {
    "title": "boomapp connect",
    "description": "'Intelligent' global 2-way, Email, Voice, SMS and Push Messaging. Supercharge any Power Platform applications with boomapp connect to build truly automated multi-channel conversational communications workflows (uniquely driven by subject). Fully interactive comms workflows based on a recipient’s response allows the delivery of seamless and frictionless interactions without forcing behavioural change through the engagement. For further detail and to set up a free trial account, see our website.",
    "version": "1.0", 
    "contact": {
      "name": "Boomerang Support",
      "url": "https://www.boomerangmessaging.com/products/boomApp/msconnector",
      "email": "support@boomcomms.com"
    }
  },
  "host": "direct-api.apps.boomcomms.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/sms1": {},
    "/sms2": {},
    "/sms3": {},
    "/voice": {},
    "/email": {},
    "/get_responses": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "has_more"
                },
                "replies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "transaction_id": {
                        "type": "string",
                        "description": "transaction_id"
                      },
                      "custom_parameter": {
                        "type": "string",
                        "description": "custom_parameter"
                      },
                      "response_id": {
                        "type": "string",
                        "description": "response_id"
                      },
                      "from": {
                        "type": "string",
                        "description": "from"
                      },
                      "response_content": {
                        "type": "string",
                        "description": "response_content"
                      },
                      "is_new": {
                        "type": "boolean",
                        "description": "is_new"
                      },
                      "transaction_date": {
                        "type": "string",
                        "description": "transaction_date"
                      },
                      "response_date": {
                        "type": "string",
                        "description": "response_date"
                      }
                    }
                  },
                  "description": "replies"
                }
              }
            }
          },
          "400": {
            "description": "Your request could not be processed"
          },
          "401": {
            "description": "Your request could not be authenticated"
          },
          "500": {
            "description": "Please try again or report this error to the support"
          }
        },
        "summary": "On SMS response submission",
        "description": "Triggered by inbound replies which are automatically mapped to the associated outbound messages when sent as an Intelligent 2-way / conversational message",
        "x-ms-trigger": "batch",
        "operationId": "GESTRESPONSESTRIGGER",
        "parameters": [
          {
            "name": "ignore_previous",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "mark_as_read",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/get_all_new_drs": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "has_more"
                },
                "drs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "transaction_id": {
                        "type": "string",
                        "description": "transaction_id"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "status_date": {
                        "type": "string",
                        "description": "status_date"
                      },
                      "destination": {
                        "type": "string",
                        "description": "destination"
                      },
                      "custom_parameter": {
                        "type": "string",
                        "description": "custom_parameter"
                      },
                      "campaign_name": {
                        "type": "string",
                        "description": "campaign_name"
                      },
                      "unique_id": {
                        "type": "string",
                        "description": "unique_id"
                      }
                    }
                  },
                  "description": "drs"
                }
              }
            }
          },
          "400": {
            "description": "Your request could not be processed"
          },
          "401": {
            "description": "Your request could not be authenticated"
          },
          "500": {
            "description": "Please try again or report this error to the support"
          }
        },
        "summary": "On Delivery Confirmed",
        "description": "Triggered by end user delivery status update. Updates the transaction with the delivery status returned by the end user's network operator. See https://boomerangmessaging.com/docs for more information",
        "x-ms-trigger": "batch",
        "operationId": "GETDRSTRIGGER",
        "parameters": [
          {
            "name": "ignore_previous",
            "description": "Pass 'true' to exclude any DRs that have been retrieved previously",
            "in": "query",
            "type": "boolean",
            "default": true,
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "drs_after",
            "description": "Pass 'true' to exclude any DRs that have been retrieved previously",
            "in": "query",
            "type": "string",
            "default": "1990-01-01 00:00:00",
            "required": true,
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/MaskTwoWay": {},
    "/flat/sms1": {},
    "/flat/sms2": {},
    "/flat/sms3": {},
    "/": {},
    "/get-inbound": {},
    "/v1/flat/email": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "transactions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "transaction_id": {
                        "type": "string",
                        "description": "transaction_id"
                      },
                      "parts_per_message": {
                        "type": "integer",
                        "format": "int32",
                        "description": "parts_per_message"
                      },
                      "email_address": {
                        "type": "string",
                        "description": "email_address"
                      },
                      "boomerang_id": {
                        "type": "string",
                        "description": "boomerang_id"
                      }
                    }
                  },
                  "description": "transactions"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                }
              }
            }
          },
          "400": {
            "description": "Your request could not be processed."
          },
          "401": {
            "description": "Your request could not be authenticated"
          },
          "402": {
            "description": "Your request could not be processed because of insufficient funds or other payment related issues."
          },
          "500": {
            "description": "Please try again or report this error to the support"
          }
        },
        "summary": "Send Email",
        "description": "Send single or bulk email messages. Emails are sent from the domain @boomerangui.com and it is possible to customise the Subject and to override the 'From' address. It is also possible to forward responses to an email address and / or a URL",
        "operationId": "EMAIL",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "Pass the content to be used as the From address. If blank the default value will be taken from your account settings"
                },
                "email_subject": {
                  "type": "string",
                  "description": "Subject to be displayed by default when the email is received in the recipient's inbox"
                },
                "message_content": {
                  "type": "string",
                  "description": "The content of the outbound message sent to all recipientAddresses."
                },
                "email_address": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "email_address"
                },
                "validity_period": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The period of time during which the number used to send the message will be active. Replies to the message will not be delivered after the validity period expires. For two- way messages, the minimum validity period is 1 day."
                },
                "open_ticket": {
                  "type": "boolean",
                  "description": "By default all messages are sent a single ticket which means that the message is closed on receipt of the first response. To match multiple responses to the same originating message, use open ticket by passing true."
                },
                "email_responses": {
                  "type": "string",
                  "description": "An email address to which message responses are forwarded."
                },
                "push_responses": {
                  "type": "string",
                  "description": "A CallBack URL to which message responses are posted."
                },
                "unique_identifier": {
                  "type": "string",
                  "description": "Unique identifier for each transaction. This is used to safeguard against duplication of messages, as Boomerang will ignore any transactions with an Id that has been used previously."
                },
                "campaign_name": {
                  "type": "string",
                  "description": "Optional identifier that can be used to group messages by specific campaigns and batched messages."
                },
                "custom_parameter": {
                  "type": "string",
                  "description": "Parameter used for custom reference. This could be used for example as a Campaign reference, job reference, batch Id etc."
                },
                "shortlinks_enabled": {
                  "type": "boolean",
                  "description": "shortlinks_enabled"
                },
                "shortlinks_password": {
                  "type": "string",
                  "description": "shortlinks_password"
                },
                "shortlinks_expires": {
                  "type": "string",
                  "description": "shortlinks_expires"
                },
                "shortlinks_expires_after_visits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "shortlinks_expires_after_visits"
                },
                "shortlinks_starting_with": {
                  "type": "string",
                  "description": "shortlinks_starting_with"
                }
              }
            }
          }
        ]
      }
    },
    "/v1/get-inbound": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "messages": {
                  "type": "array",
                  "items": {},
                  "description": "messages"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "has_more"
                }
              }
            },
            "headers": {
              "accept": {
                "description": "accept",
                "type": "string"
              }
            }
          }
        },
        "operationId": "Get-inbound",
        "summary": "get-inbound",
        "description": "This method allows retrieval of inbound messages from inbound numbers.",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/v1/flat/sms1": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "transactions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "transaction_id": {
                        "type": "string",
                        "description": "transaction_id"
                      },
                      "parts_per_message": {
                        "type": "integer",
                        "format": "int32",
                        "description": "parts_per_message"
                      },
                      "telephone_number": {
                        "type": "string",
                        "description": "telephone_number"
                      },
                      "boomerang_id": {
                        "type": "string",
                        "description": "boomerang_id"
                      }
                    }
                  },
                  "description": "transactions"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                }
              }
            }
          },
          "400": {
            "description": "Your request could not be processed."
          },
          "401": {
            "description": "Your request could not be authenticated"
          },
          "402": {
            "description": "Your request could not be processed because of insufficient funds or other payment related issues."
          },
          "500": {
            "description": "Please try again or report this error to the support"
          }
        },
        "summary": "SMS one-way",
        "description": "SMS messages are delivered using an alpha-numeric originator (such as a company name) which must contain a maximum of 11 characters, and a recipient cannot respond to a message sent using an alpha numeric originator. Please also note that in destinations where delivery of messages with alpha-numeric originator is not supported (due to local restrictions), this may be replaced with a numeric originator, to ensure that the message is delivered.",
        "operationId": "SMS1",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "Originating Id for a 1-way message. An alpha numeric value containing a maximum of 11 characters."
                },
                "message_content": {
                  "type": "string",
                  "description": "The content of the outbound message sent to all recipientAddresses."
                },
                "recipient_address": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "number": {
                        "type": "string",
                        "description": "The recipient's destination address; A mobile phone number that must contain a minimum of 11 digits (excluding + or leading '0') and a maximum of 16 digits (excluding a + where this is used as a pre-fix to the number itself). A single number or an array of up to 10,000 numbers can be passed."
                      }
                    }
                  },
                  "description": "recipient_address"
                },
                "priority": {
                  "type": "boolean",
                  "description": "Optional parameter used to set a priority status to a message. Any messages sent with ‘priority’ will override ‘Social Hours’ configured against an account. Pass true to set priority."
                },
                "unique_identifier": {
                  "type": "string",
                  "description": "Unique identifier for each transaction. This is used to safeguard against duplication of messages, as Boomerang will ignore any transactions with an Id that has been used previously."
                },
                "campaign_name": {
                  "type": "string",
                  "description": "campaigOptional Identifier that can be used to group messages by specific campaigns and batched messages.n_name"
                },
                "custom_parameter": {
                  "type": "string",
                  "description": "Parameter used for custom reference. This could be used for example as a Campaign reference, job reference, batch Id etc."
                },
                "delay": {
                  "type": "integer",
                  "format": "int32",
                  "description": "delay"
                },
                "social_hours_monday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_monday_start"
                },
                "social_hours_monday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_monday_end"
                },
                "social_hours_monday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_monday_day_off"
                },
                "social_hours_tuesday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_tuesday_start"
                },
                "social_hours_tuesday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_tuesday_end"
                },
                "social_hours_tuesday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_tuesday_day_off"
                },
                "social_hours_wednesday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_wednesday_start"
                },
                "social_hours_wednesday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_wednesday_end"
                },
                "social_hours_wednesday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_wednesday_day_off"
                },
                "social_hours_thursday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_thursday_start"
                },
                "social_hours_thursday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_thursday_end"
                },
                "social_hours_thursday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_thursday_day_off"
                },
                "social_hours_friday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_friday_start"
                },
                "social_hours_friday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_friday_end"
                },
                "social_hours_friday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_friday_day_off"
                },
                "social_hours_saturday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_saturday_day_off"
                },
                "social_hours_sunday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_sunday_day_off"
                },
                "social_hours_USA_state": {
                  "type": "string",
                  "description": "social_hours_USA_state"
                },
                "social_hours_offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_offset"
                },
                "social_hours_timezone": {
                  "type": "string",
                  "description": "social_hours_timezone"
                },
                "social_hours_from_destination": {
                  "type": "boolean",
                  "description": "social_hours_from_destination"
                },
                "shortlinks_enabled": {
                  "type": "boolean",
                  "description": "shortlinks_enabled"
                },
                "shortlinks_password": {
                  "type": "string",
                  "description": "shortlinks_password"
                },
                "shortlinks_expires": {
                  "type": "string",
                  "description": "shortlinks_expires"
                },
                "shortlinks_expires_after_visits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "shortlinks_expires_after_visits"
                },
                "shortlinks_starting_with": {
                  "type": "string",
                  "description": "shortlinks_starting_with"
                }
              }
            }
          }
        ]
      }
    },
    "/v1/flat/sms2": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "transactions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "transaction_id": {
                        "type": "string",
                        "description": "transaction_id"
                      },
                      "parts_per_message": {
                        "type": "integer",
                        "format": "int32",
                        "description": "parts_per_message"
                      },
                      "telephone_number": {
                        "type": "string",
                        "description": "telephone_number"
                      },
                      "boomerang_id": {
                        "type": "string",
                        "description": "boomerang_id"
                      }
                    }
                  },
                  "description": "transactions"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                }
              }
            }
          },
          "400": {
            "description": "Your request could not be processed."
          },
          "401": {
            "description": "Your request could not be authenticated"
          },
          "402": {
            "description": "Your request could not be processed because of insufficient funds or other payment related issues."
          },
          "500": {
            "description": "Please try again or report this error to the support"
          }
        },
        "summary": "SMS two-way",
        "description": "This method allows replies to be tracked directly against each outbound transaction and is used to manage conversations between your system and the end user. Replies can be forwarded to an email address and customers with Boommail can send an email-2-SMS message back to the responder. See https://boomerangmessaging.com/docs/sending-sms-messages, for more information regarding 2-way and conversational messaging.",
        "operationId": "SMS2",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "conversation_id": {
                  "type": "string",
                  "description": "Define a conversation ID to group all messages (including replies) part of the same conversation"
                },
                "quarantined_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "quarantined_days"
                },
                "message_content": {
                  "type": "string",
                  "description": "The content of the outbound message sent to all recipientAddresses."
                },
                "recipient_address": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "number": {
                        "type": "string",
                        "description": "The recipient's destination address; A mobile phone number that must contain a minimum of 11 digits (excluding + or leading '0') and a maximum of 16 digits (excluding a + where this is used as a pre-fix to the number itself). A single number or an array of up to 10,000 numbers can be passed."
                      }
                    }
                  },
                  "description": "recipient_address"
                },
                "validity_period": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The period of time during which the number used to send the message will be active. Replies to the message will not be delivered after the validity period expires. For two- way messages, the minimum validity period is 1 day."
                },
                "open_ticket": {
                  "type": "boolean",
                  "description": "By default all messages are sent a single ticket which means that the message is closed on receipt of the first response. To match multiple responses to the same originating message, use open ticket by passing true."
                },
                "email_responses": {
                  "type": "string",
                  "description": "An email address to which message responses are forwarded."
                },
                "push_responses": {
                  "type": "string",
                  "description": "A CallBack URL to which message responses are posted."
                },
                "priority": {
                  "type": "boolean",
                  "description": "Optional parameter used to set a priority status to a message. Any messages sent with ‘priority’ will override ‘Social Hours’ configured against an account. Pass true to set priority."
                },
                "unique_identifier": {
                  "type": "string",
                  "description": "Unique identifier for each transaction. This is used to safeguard against duplication of messages, as Boomerang will ignore any transactions with an Id that has been used previously."
                },
                "campaign_name": {
                  "type": "string",
                  "description": "Optional Identifier that can be used to group messages by specific campaigns and batched messages."
                },
                "custom_parameter": {
                  "type": "string",
                  "description": "Parameter used for custom reference. This could be used for example as a Campaign reference, job reference, batch Id etc."
                },
                "delay": {
                  "type": "integer",
                  "format": "int32",
                  "description": "delay"
                },
                "social_hours_monday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_monday_start"
                },
                "social_hours_monday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_monday_end"
                },
                "social_hours_monday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_monday_day_off"
                },
                "social_hours_tuesday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_tuesday_start"
                },
                "social_hours_tuesday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_tuesday_end"
                },
                "social_hours_tuesday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_tuesday_day_off"
                },
                "social_hours_wednesday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_wednesday_start"
                },
                "social_hours_wednesday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_wednesday_end"
                },
                "social_hours_wednesday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_wednesday_day_off"
                },
                "social_hours_thursday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_thursday_start"
                },
                "social_hours_thursday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_thursday_end"
                },
                "social_hours_thursday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_thursday_day_off"
                },
                "social_hours_friday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_friday_start"
                },
                "social_hours_friday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_friday_end"
                },
                "social_hours_friday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_friday_day_off"
                },
                "social_hours_saturday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_saturday_day_off"
                },
                "social_hours_sunday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_sunday_day_off"
                },
                "social_hours_USA_state": {
                  "type": "string",
                  "description": "social_hours_USA_state"
                },
                "social_hours_offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_offset"
                },
                "social_hours_timezone": {
                  "type": "string",
                  "description": "social_hours_timezone"
                },
                "social_hours_from_destination": {
                  "type": "boolean",
                  "description": "social_hours_from_destination"
                },
                "shortlinks_enabled": {
                  "type": "boolean",
                  "description": "shortlinks_enabled"
                },
                "shortlinks_password": {
                  "type": "string",
                  "description": "shortlinks_password"
                },
                "shortlinks_expires": {
                  "type": "string",
                  "description": "shortlinks_expires"
                },
                "shortlinks_expires_after_visits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "shortlinks_expires_after_visits"
                },
                "shortlinks_starting_with": {
                  "type": "string",
                  "description": "shortlinks_starting_with"
                }
              }
            }
          }
        ]
      }
    },
    "/v1/flat/sms3": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "transactions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "transaction_id": {
                        "type": "string",
                        "description": "transaction_id"
                      },
                      "parts_per_message": {
                        "type": "integer",
                        "format": "int32",
                        "description": "parts_per_message"
                      },
                      "telephone_number": {
                        "type": "string",
                        "description": "telephone_number"
                      },
                      "boomerang_id": {
                        "type": "string",
                        "description": "boomerang_id"
                      }
                    }
                  },
                  "description": "transactions"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                }
              }
            }
          },
          "400": {
            "description": "Your request could not be processed."
          },
          "401": {
            "description": "Your request could not be authenticated"
          },
          "402": {
            "description": "Your request could not be processed because of insufficient funds or other payment related issues."
          },
          "500": {
            "description": "Please try again or report this error to the support"
          }
        },
        "summary": "SMS custom number",
        "description": "SMS messages are delivered using the number specified in the request so that any replies are returned to that number. Customers using Boomerang's Campaign feature can use a number associated to a Campaign, which allows inbound replies to to be accessed from the Campaign reporting section within Boomerang UI. However, unlike the SMS 2-way method, replies are not tracked against the outbound message. See https://boomerangmessaging.com/docs/sending-sms-messages for more information.",
        "operationId": "SMS3",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "The sending Id associated to a message this could be an Inbound campaign number currently associated to an active Campaign."
                },
                "message_content": {
                  "type": "string",
                  "description": "The content of the outbound message sent to all recipientAddresses"
                },
                "recipient_address": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "number": {
                        "type": "string",
                        "description": "The recipient's destination address; A mobile phone number that must contain a minimum of 11 digits (excluding + or leading '0') and a maximum of 16 digits (excluding a + where this is used as a pre-fix to the number itself). A single number or an array of up to 10,000 numbers can be passed."
                      }
                    }
                  },
                  "description": "recipient_address"
                },
                "priority": {
                  "type": "boolean",
                  "description": "Optional parameter used to set a priority status to a message. Any messages sent with ‘priority’ will override ‘Social Hours’ configured against an account. Pass true to set priority."
                },
                "unique_identifier": {
                  "type": "string",
                  "description": "Unique identifier for each transaction. This is used to safeguard against duplication of messages, as Boomerang will ignore any transactions with an Id that has been used previously."
                },
                "campaign_name": {
                  "type": "string",
                  "description": "Optional Identifier that can be used to group messages by specific campaigns and batched messages."
                },
                "custom_parameter": {
                  "type": "string",
                  "description": "Parameter used for custom reference. This could be used for example as a Campaign reference, job reference, batch Id etc."
                },
                "delay": {
                  "type": "integer",
                  "format": "int32",
                  "description": "delay"
                },
                "social_hours_monday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_monday_start"
                },
                "social_hours_monday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_monday_end"
                },
                "social_hours_monday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_monday_day_off"
                },
                "social_hours_tuesday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_tuesday_start"
                },
                "social_hours_tuesday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_tuesday_end"
                },
                "social_hours_tuesday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_tuesday_day_off"
                },
                "social_hours_wednesday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_wednesday_start"
                },
                "social_hours_wednesday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_wednesday_end"
                },
                "social_hours_wednesday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_wednesday_day_off"
                },
                "social_hours_thursday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_thursday_start"
                },
                "social_hours_thursday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_thursday_end"
                },
                "social_hours_thursday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_thursday_day_off"
                },
                "social_hours_friday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_friday_start"
                },
                "social_hours_friday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_friday_end"
                },
                "social_hours_friday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_friday_day_off"
                },
                "social_hours_saturday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_saturday_day_off"
                },
                "social_hours_sunday_day_off": {
                  "type": "boolean",
                  "description": "social_hours_sunday_day_off"
                },
                "social_hours_USA_state": {
                  "type": "string",
                  "description": "social_hours_USA_state"
                },
                "social_hours_offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "social_hours_offset"
                },
                "social_hours_timezone": {
                  "type": "string",
                  "description": "social_hours_timezone"
                },
                "social_hours_from_destination": {
                  "type": "boolean",
                  "description": "social_hours_from_destination"
                },
                "shortlinks_enabled": {
                  "type": "boolean",
                  "description": "shortlinks_enabled"
                },
                "shortlinks_password": {
                  "type": "string",
                  "description": "shortlinks_password"
                },
                "shortlinks_expires": {
                  "type": "string",
                  "description": "shortlinks_expires"
                },
                "shortlinks_expires_after_visits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "shortlinks_expires_after_visits"
                },
                "shortlinks_starting_with": {
                  "type": "string",
                  "description": "shortlinks_starting_with"
                }
              }
            }
          }
        ]
      }
    },
    "/v1/flat/voice": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "transactions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "transaction_id": {
                        "type": "string",
                        "description": "transaction_id"
                      },
                      "parts_per_message": {
                        "type": "integer",
                        "format": "int32",
                        "description": "parts_per_message"
                      },
                      "telephone_number": {
                        "type": "string",
                        "description": "telephone_number"
                      },
                      "boomerang_id": {
                        "type": "string",
                        "description": "boomerang_id"
                      }
                    }
                  },
                  "description": "transactions"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                }
              }
            }
          },
          "400": {
            "description": "Your request could not be processed."
          },
          "401": {
            "description": "Your request could not be authenticated"
          },
          "402": {
            "description": "Your request could not be processed because of insufficient funds or other payment related issues."
          },
          "500": {
            "description": "Please try again or report this error to the support"
          }
        },
        "summary": "Make Voice Call",
        "description": "A fixed number is used as the originator for a Text-To-Speech (TTS) voice call. Keystrokes ‘1’ and ‘2’ are used to accept or decline the message, ‘9’ is used to redirect the call. See https://boomerangmessaging.com/docs/sending-delivering-voice-messages for more information",
        "operationId": "VOICE",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "voice_intro": {
                  "type": "string",
                  "description": "The message played when the voice call is answered. The Message content will be played right after it."
                },
                "voice_thank_you": {
                  "type": "string",
                  "description": "The message played at the end of the voice call after the message content has been played."
                },
                "voice_redirect_message": {
                  "type": "string",
                  "description": "The message played at the end of the voice call after the message content has been played."
                },
                "voice_redirect_no": {
                  "type": "object",
                  "properties": {
                    "number": {
                      "type": "string",
                      "description": "Redirect number"
                    }
                  },
                  "description": "voice_redirect_no"
                },
                "voice_retries": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of attempts made if the voice call is not answered the first time."
                },
                "voice_delay": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Time waited by the system between retries."
                },
                "message_content": {
                  "type": "string",
                  "description": "The content of the outbound message sent to all recipientAddresses."
                },
                "recipient_address": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "number": {
                        "type": "string",
                        "description": "The recipient's destination address; A mobile phone number that must contain a minimum of 11 digits (excluding + or leading '0') and a maximum of 16 digits (excluding a + where this is used as a pre-fix to the number itself). A single number or an array of up to 10,000 numbers can be passed."
                      }
                    }
                  },
                  "description": "recipient_address"
                },
                "priority": {
                  "type": "boolean",
                  "description": "Optional parameter used to set a priority status to a message. Any messages sent with ‘priority’ will override ‘Social Hours’ configured against an account. Pass true to set priority."
                },
                "unique_identifier": {
                  "type": "string",
                  "description": "Unique identifier for each transaction. This is used to safeguard against duplication of messages, as Boomerang will ignore any transactions with an Id that has been used previously."
                },
                "campaign_name": {
                  "type": "string",
                  "description": "Optional Identifier that can be used to group messages by specific campaigns and batched messages"
                },
                "custom_parameter": {
                  "type": "string",
                  "description": "Parameter used for custom reference. This could be used for example as a Campaign reference, job reference, batch Id etc."
                },
                "locale": {
                  "type": "string",
                  "description": "locale"
                }
              }
            }
          }
        ]
      }
    },
    "/v1/get_responses": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "replies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "transaction_id": {
                        "type": "string",
                        "description": "transaction_id"
                      },
                      "custom_parameter": {
                        "type": "string",
                        "description": "custom_parameter"
                      },
                      "campaign_name": {
                        "type": "string",
                        "description": "campaign_name"
                      },
                      "response_id": {
                        "type": "string",
                        "description": "response_id"
                      },
                      "from": {
                        "type": "string",
                        "description": "from"
                      },
                      "response_content": {
                        "type": "string",
                        "description": "response_content"
                      },
                      "is_new": {
                        "type": "boolean",
                        "description": "is_new"
                      },
                      "transaction_date": {
                        "type": "string",
                        "description": "transaction_date"
                      },
                      "response_date": {
                        "type": "string",
                        "description": "response_date"
                      },
                      "conversationId": {
                        "type": "string",
                        "description": "conversationId"
                      }
                    }
                  },
                  "description": "replies"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "has_more"
                }
              }
            }
          }
        },
        "summary": "GetResponses",
        "operationId": "GetResponses",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "description": "This method allowes a response or responses (where open ticket is applied) to an outbound transaction to be retrieved based on criteria associated to the outbound messages. Display only last message ignoring the previous messages and define which page of the report to display."
      }
    },
    "/v1/MaskTwoWay": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "thread_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "thread_id"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                }
              }
            }
          }
        },
        "summary": "MaskTwoWay",
        "description": "Method providing the ability to set-up 2-way conversational messaging between two different parties, without either disclosing their personal contact details. Once a conversation is initiated, the personal details of both parties are automatically masked across a specified number of interactions, after which, the recipient’s contact details are disclosed to the initiator. Where the number of interactions is not specified, a conversation will be masked across an unlimited number of interactions, without any personal details ever being disclosed.",
        "operationId": "MaskTwoWay",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "from"
                },
                "to": {
                  "type": "string",
                  "description": "to"
                },
                "reference": {
                  "type": "string",
                  "description": "reference"
                },
                "reference_always": {
                  "type": "boolean",
                  "description": "reference_always"
                },
                "rounds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "rounds"
                },
                "validity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "validity"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                }
              }
            }
          }
        ]
      }
    },
    "/v1/sms1": {}
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic-auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic-auth": []
    }
  ],
  "tags": []
}
