{
  "swagger": "2.0",
  "info": {
    "title": "boomApp Connect",
    "description": "Boost customer engagement with Boomerang’s SMS, Voice, and Email Connector for the Microsoft Power Platform. Deliver automated alerts, reminders, and two-way conversational messaging directly from your Microsoft applications. Leverage real-time responses to streamline and automate communication workflows. With advanced inbound messaging features, customers can initiate conversations that integrate instantly into your business processes, driving faster, more efficient interactions.",
    "version": "2.0",
       "contact": {
      "name": "Boomerang",
      "url": "https://www.boomerangmessaging.com/products/boomApp/msconnector",
      "email": "operations@boomcomms.com"
    }
  },
  "host": "direct-api.apps.boomcomms.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/sms1": {},
    "/sms2": {},
    "/sms3": {},
    "/voice": {},
    "/email": {},
    "/get_responses": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "has_more"
                },
                "replies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "transaction_id": {
                        "type": "string",
                        "description": "transaction_id"
                      },
                      "custom_parameter": {
                        "type": "string",
                        "description": "custom_parameter"
                      },
                      "response_id": {
                        "type": "string",
                        "description": "response_id"
                      },
                      "from": {
                        "type": "string",
                        "description": "from"
                      },
                      "response_content": {
                        "type": "string",
                        "description": "response_content"
                      },
                      "is_new": {
                        "type": "boolean",
                        "description": "is_new"
                      },
                      "transaction_date": {
                        "type": "string",
                        "description": "transaction_date"
                      },
                      "response_date": {
                        "type": "string",
                        "description": "response_date"
                      }
                    }
                  },
                  "description": "replies"
                }
              }
            }
          },
          "400": {
            "description": "Your request could not be processed",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "transactions": {
                  "type": "string",
                  "description": "transactions"
                }
              }
            }
          },
          "401": {
            "description": "Your request could not be authenticated"
          },
          "500": {
            "description": "Please try again or report this error to the support"
          }
        },
        "summary": "On SMS response submission",
        "description": "Triggered by inbound replies which are automatically mapped to the associated outbound messages when sent as an Intelligent 2-way / conversational message",
        "x-ms-trigger": "batch",
        "operationId": "GESTRESPONSESTRIGGER",
        "parameters": [
          {
            "name": "ignore_previous",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "mark_as_read",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/get_all_new_drs": {},
    "/MaskTwoWay": {},
    "/flat/sms1": {},
    "/flat/sms2": {},
    "/flat/sms3": {},
    "/": {},
    "/get-inbound": {},
    "/v1/flat/email": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "transactions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "transaction_id": {
                        "type": "string",
                        "description": "transaction_id"
                      },
                      "parts_per_message": {
                        "type": "integer",
                        "format": "int32",
                        "description": "parts_per_message"
                      },
                      "email_address": {
                        "type": "string",
                        "description": "email_address"
                      },
                      "boomerang_id": {
                        "type": "string",
                        "description": "boomerang_id"
                      }
                    }
                  },
                  "description": "transactions"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                }
              }
            }
          },
          "400": {
            "description": "Your request could not be processed.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "transactions": {
                  "type": "string",
                  "description": "transactions"
                }
              }
            }
          },
          "401": {
            "description": "Your request could not be authenticated"
          },
          "402": {
            "description": "Your request could not be processed because of insufficient funds or other payment related issues."
          },
          "500": {
            "description": "Please try again or report this error to the support"
          }
        },
        "summary": "Send Email",
        "description": "Send individual or bulk email messages or create conversational engagements over Email. Emails are sent from a Boomerang domain.",
        "operationId": "EMAIL",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "The sender id associated to the email, which is displayed in the recipient’s Inbox. If left blank, a default value will be taken from your Boomerang account settings."
                },
                "email_subject": {
                  "type": "string",
                  "description": "The subject associated to the email message, displayed in the recipient’s Inbox"
                },
                "message_content": {
                  "type": "string",
                  "description": "The content of the Email body. There are no character limits and HTML content is supported."
                },
                "email_address": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Recipient Email address. A single address or an array of up to 10,000 addresses can be passed."
                },
                "validity_period": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Pass a value in days. The validity period determines the length of time a transaction is active. An active transaction can receive replies during the validity period. Upon reaching the validity period assigned, the transaction is closed, and replies are no longer matched. A default maximum validity period of 24 hours is applied to all Boomerang subscriptions, and additional validity can be purchased as required.  If a value is passed that is greater than the maximum validity period associated to the customer’s Boomerang subscription the maximum validity period will be applied."
                },
                "open_ticket": {
                  "type": "boolean",
                  "description": "By default, all messages are sent as a single ticket which means that the transaction is closed on receipt of the first response. To allow multiple responses to be matched to the same originating message, use open ticket.  Open ticket transaction are closed when their associated validity period is reached. Pass ‘true’ to enable open ticket."
                },
                "email_responses": {
                  "type": "string",
                  "description": "An email address to which message responses are forwarded."
                },
                "push_responses": {
                  "type": "string",
                  "description": "A CallBack URL to which message responses are posted."
                },
                "unique_identifier": {
                  "type": "string",
                  "description":  "A unique identifier for each individual message transaction provided by the customer to safeguard against duplication of messages. Boomerang will ignore any transactions with a value that has been passed previously."
                },
                "campaign_name": {
                  "type": "string",
                  "description":  "Optional parameter that can be used to organise messages by specific campaigns."
                },
                "custom_parameter": {
                  "type": "string",
                  "description": "Optional parameter used for a custom reference, for example a job reference, use case, batch Id etc."
                },
                "shortlinks_enabled": {
                  "type": "boolean",
                  "description": "Pass true to enable use of short-links. Short-links are used to convert standard (long) URLs to a short URL using a Boomerang domain ‘knil.uk. When short links are enabled, the URL / URLs included in your message content are automatically shortened. Use the ‘starting_with’ parameter to pass the domain or domains associated to the URL in the message content."
                },
                "shortlinks_password": {
                  "type": "string",
                  "description": "Password protect access to the short-link. Users must enter the corresponding password to access the short-link. If empty, the short-link will be immediately accessible. Pass the required password value."
                },
                "shortlinks_expires": {
                  "type": "string",
                  "description": "Mandatory parameter when short links are enabled. Pass a date and time in Universal Co-ordinated Time (UTC) to define when the short-link will expire. Users attempting to access the link after the expiry date, will receive a message “requested link expired"
                },
                "shortlinks_expires_after_visits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Pass a value to set limit the number of times that the short-link can be accessed. On reaching the limit set, any further attempts to access the short-link will be denied, and the message “requested link expired” is returned to the user. Pass 0 if you do not wish to restrict the number of visits."
                },
                "shortlinks_starting_with": {
                  "type": "string",
                  "description": "Pass the domain / domains associated to the URL / URLs included in your message content.  The parameter accepts comma separated domain names without http/https or any other schema. Example: boomerangmessaging.com."
                }
              }
            }
          }
        ]
      }
    },
    "/v1/get-inbound": {},
    "/v1/flat/sms1": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "transactions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "transaction_id": {
                        "type": "string",
                        "description": "transaction_id"
                      },
                      "parts_per_message": {
                        "type": "integer",
                        "format": "int32",
                        "description": "parts_per_message"
                      },
                      "telephone_number": {
                        "type": "string",
                        "description": "telephone_number"
                      },
                      "boomerang_id": {
                        "type": "string",
                        "description": "boomerang_id"
                      }
                    }
                  },
                  "description": "transactions"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                }
              }
            }
          },
          "400": {
            "description": "Your request could not be processed.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "transactions": {
                  "type": "string",
                  "description": "transactions"
                }
              }
            }
          },
          "401": {
            "description": "Your request could not be authenticated"
          },
          "402": {
            "description": "Your request could not be processed because of insufficient funds or other payment related issues."
          },
          "500": {
            "description": "Please try again or report this error to the support"
          }
        },
        "summary": "SMS one-way",
        "description":  "SMS messages are delivered using an alpha-numeric originator (such as a company name) which must contain a maximum of 11 characters. A recipient cannot respond to a message sent using an alpha-numeric originator. Please also note that in destinations where delivery of messages with alpha-numeric originator is not supported (due to local network policies), this may be replaced with a numeric originator, to ensure that the message is delivered.\n\n**Note regarding use of Social Hours**: Social Hours ensures messages are processed between designated times, regardless of when the request is received. [See SMS Delivery Infrastructure](https://boomerangmessaging.halocrm.io/kb?id=33).  A default configuration for Social Hours can be assigned to your Boomerang account or passed in each request using the 'social_hours' parameters.  Please note that a Social Hours subscription is required for these options to be enabled.",
        "operationId": "SMS1",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description":  "Sender Id displayed in the recipient's device. An alpha-numeric value containing a maximum of 11 characters. Note, a recipient is unable to reply, if replies are required, use the SMS two-way function."
                },
                "message_content": {
                  "type": "string",
                  "description": "The content of the outbound message. Up to 3000 characters supported. Multi-part messages are concatenated and delivered as a single message"
                },
                "recipient_address": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "number": {
                        "type": "string",
                        "description": "The recipient's destination address; A mobile phone number that must contain a minimum of 11 digits (excluding + or leading '0') and a maximum of 16 digits (excluding a + where this is used as a pre-fix to the number itself). A single number or an array of up to 10,000 numbers can be passed."
                      }
                    }
                  },
                  "description": "recipient_address"
                },
                "priority": {
                  "type": "boolean",
                  "description": "Optional parameter used to override ‘Social Hours’ settings if enabled in your Boomerang account. Pass ‘true’ to override Social Hours and messages are processed immediately on submission."
                },
                "unique_identifier": {
                  "type": "string",
                  "description":"Unique identifier for each individual message transaction. This is used to safeguard against duplication of messages, as Boomerang will ignore any transactions with an Id that has been used previously."
                },
                "campaign_name": {
                  "type": "string",
                  "description": "Optional parameter that can be used to organise messages by specific campaigns."
                },
                "custom_parameter": {
                  "type": "string",
                  "description":"Optional parameter used for a custom reference, for example a job reference, use case, batch Id etc."
                },
                "delay": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Pass a value in minutes to defer processing of a request by the period specified."
                },
                "social_hours_monday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_monday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                },
                "social_hours_monday_day_off": {
                  "type": "boolean",
                  "description": "Pass ‘true’ to disable messaging. Any requests received will be processed according to the Social Hours configuration for the following day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_tuesday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_tuesday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Pass ‘true’ to disable messaging. Any requests received will be processed according to the Social Hours configuration for the following day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_tuesday_day_off": {
                  "type": "boolean",
                  "description": "Pass ‘true’ to disable Social Hours for this day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_wednesday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_wednesday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                },
                "social_hours_wednesday_day_off": {
                  "type": "boolean",
                  "description":"Pass ‘true’ to disable messaging. Any requests received will be processed according to the Social Hours configuration for the following day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_thursday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_thursday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description":"Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                },
                "social_hours_thursday_day_off": {
                  "type": "boolean",
                  "description":  "Pass ‘true’ to disable messaging. Any requests received will be processed according to the Social Hours configuration for the following day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_friday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_friday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                },
                "social_hours_friday_day_off": {
                  "type": "boolean",
                  "description": "Pass ‘true’ to disable messaging. Any requests received will be processed according to the Social Hours configuration for the following day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_saturday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_saturday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                },
                "social_hours_saturday_day_off": {
                  "type": "boolean",
                  "description": "Pass ‘true’ to disable messaging. Any requests received will be processed according to the Social Hours configuration for the following day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_sunday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_sunday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                },
                "social_hours_sunday_day_off": {
                  "type": "boolean",
                  "description": "Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                },
                "social_hours_USA_state": {
                  "type": "string",
                  "description": "Localise Social Hours when sending to recipients in the USA. Pass the [US State name or abbreviated state value](https://en.wikipedia.org/wiki/List_of_U.S._state_and_territory_abbreviations) e.g. if 'New York' or 'NY' was passed against this parameter, messages will be processed according to the Social Hours start and end times passed, but localised to New York. All time zones are based on Universal Co-ordinated Time (UTC)."
                },
                "social_hours_offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Localise Social Hours to the recipient, based on an offset period set against UTC. Pass the required value in minutes; for example, to apply an offset period of minus 5 hours vs UTC, pass ‘-300’. To set an offset period which is 5 hours ahead of UTC, pass ‘300’. If Social Hours are set to 8am and 8pm (UTC), then a offset of (minus) -300 mins would make the effective times for Social Hours 3am and 3pm (UTC) and an offset of 300 mins would make the effective times for Social Hours 1pm and 1am (UTC). Passing an offset value against this parameter will override any values passed against the time_zone parameter."
                },
                "social_hours_timezone": {
                  "type": "string",
                  "description": "Localise Social Hours to the recipient based on a specific time zone. Pass the required time zone based on the Region/City. Please refer to the [list of all accepted time zones]( https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). All time zones are based on Universal Co-ordinated Time (UTC). "
                },
                "social_hours_from_destination": {
                  "type": "boolean",
                  "description": "Localise Social Hours to the recipient based on the country prefix / dialling code contained in the recipient's telephone number.  Where a country has more than one time zone, the time zone associated to the capital city in the destination will be applied. Passing ‘true’ to enable and this will take priority over any other Social Hours localisation parameters used."
                },
                "shortlinks_enabled": {
                  "type": "boolean",
                  "description": "Pass true to enable use of short-links. Short-links are used to convert standard (long) URLs to a short URL using a Boomerang domain ‘knil.uk. When short links are enabled, the URL / URLs included in your message content are automatically shortened. Use the ‘starting_with’ parameter to pass the domain or domains associated to the URL in the message content."
                },
                "shortlinks_password": {
                  "type": "string",
                  "description":"Password protect access to the short-link. Users must enter the corresponding password to access the short-link. If empty, the short-link will be immediately accessible. Pass the required password value."
                },
                "shortlinks_expires": {
                  "type": "string",
                  "description": "Mandatory parameter when short links are enabled. Pass a date and time in Universal Co-ordinated Time (UTC) to define when the short-link will expire. Users attempting to access the link after the expiry date, will receive a message “requested link expired"
                },
                "shortlinks_expires_after_visits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Pass a value to set limit the number of times that the short-link can be accessed. On reaching the limit set, any further attempts to access the short-link will be denied, and the message “requested link expired” is returned to the user. Pass 0 if you do not wish to restrict the number of visits."
                },
                "shortlinks_starting_with": {
                  "type": "string",
                  "description": "Pass the domain / domains associated to the URL / URLs included in your message content.  The parameter accepts comma separated domain names without http/https or any other schema. Example: boomerangmessaging.com."
                }
              }
            }
          }
        ]
      }
    },
    "/v1/flat/sms2": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "transactions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "transaction_id": {
                        "type": "string",
                        "description": "transaction_id"
                      },
                      "parts_per_message": {
                        "type": "integer",
                        "format": "int32",
                        "description": "parts_per_message"
                      },
                      "telephone_number": {
                        "type": "string",
                        "description": "telephone_number"
                      },
                      "boomerang_id": {
                        "type": "string",
                        "description": "boomerang_id"
                      }
                    }
                  },
                  "description": "transactions"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                }
              }
            }
          },
          "400": {
            "description": "Your request could not be processed.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "transactions": {
                  "type": "string",
                  "description": "transactions"
                }
              }
            }
          },
          "401": {
            "description": "Your request could not be authenticated"
          },
          "402": {
            "description": "Your request could not be processed because of insufficient funds or other payment related issues."
          },
          "500": {
            "description": "Please try again or report this error to the support"
          }
        },
        "summary": "SMS two-way",
        "description": "This method allows replies to be tracked directly against each outbound transaction and is used to manage conversations between your applications and the end user. Replies can be forwarded to an email address and customers with Boommail can send an email-2-SMS message back to the responder. [See SMS Delivery Infrastructure](https://boomerangmessaging.halocrm.io/kb?id=33), for more information regarding 2-way and conversational messaging. \n\n**Note regarding use of Social Hours**: Social Hours ensures messages are processed between designated times, regardless of when the request is received.  A default configuration for Social Hours can be assigned to your Boomerang account or passed in each request using the 'social_hours' parameters.  Please note that a Social Hours subscription is required for these options to be enabled.",
        "operationId": "SMS2",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "conversation_id": {
                  "type": "string",
                  "description":  "Parameter used to manage conversation threads between your system and the end user, based on subject / topic. Passing a value that is common to all messages in a conversation thread, ensures that all messages are sent using the same originating number, and organises conversations accordingly in the recipient's device. When using conversational messaging, ensure that open_ticket is set to true, and pass the appropriate value required for the expected duration of the conversation in the validity_period parameter. If a conversation thread expires (when the validity period is reached) and a subsequent message is submitted with a value previously used as a conversation id, the thread will be resumed using the same originating number. To create a second conversation thread with the same recipient, pass a unique value in the conversation_id parameter. Replies can be retrieved by the same conversation id value using the get_responses function."
                },
                "quarantined_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Determines the number of days a number used as the originator for a previous conversation thread (that is now closed) will be quarantined for.  This means that it will not be reused as the originator for a new conversation with the same end user until the quarantine period has elapsed.  This is used to prevent merging of conversation threads that relate to different subjects in the end user’s device to avoid confusion."
                },
                "message_content": {
                  "type": "string",
                  "description": "The content of the outbound message. Up to 3000 characters supported. Multi-part messages are concatenated and delivered as a single message"
                },
                "recipient_address": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "number": {
                        "type": "string",
                        "description": "The recipient's mobile phone number that must contain a minimum of 11 digits (excluding + or leading '0') and a maximum of 16 digits (excluding + or leading '0'). A single number or an array of up to 10,000 numbers can be passed."
                      }
                    }
                  },
                  "description": "recipient_address"
                },
                "validity_period": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Pass a value in days. The validity period determines the length of time a transaction is active and able to receive replies. Upon reaching the validity period assigned, the transaction is closed, and replies are no longer matched. A default maximum validity period of 24 hours is applied to all Boomerang subscriptions, and additional validity can be purchased as required.  If a value is passed that is greater than the maximum validity period associated to the customer’s Boomerang subscription the maximum validity period will be applied. If 0 is passed, the transaction will expire immediately and no replies will be matched."
                },
                "open_ticket": {
                  "type": "boolean",
                  "description": "By default, all messages are sent as a single ticket which means that the transaction is closed on receipt of the first response. To allow multiple responses to be matched to the same originating message, use open ticket.  Open ticket transaction are closed when their associated validity period is reached. Pass ‘true’ to enable open ticket."
                },
                "email_responses": {
                  "type": "string",
                  "description":  "An email address to which any responses returned to an SMS2 message are automatically forwarded. Customers with a Boommail account can reply to the email to send an email-2-SMS message to the responder. Pass a single email address."
                },
                "push_responses": {
                  "type": "string",
                  "description": "A webhook to which details of any responses to an SMS2 message are automatically pushed."
                },
                "priority": {
                  "type": "boolean",
                  "description": "Optional parameter used to override ‘Social Hours’ messaging where enabled against a Boomerang account. Pass ‘true’ to override Social Hours and send messages immediately on submission."
                },
                "unique_identifier": {
                  "type": "string",
                  "description": "A unique identifier for each individual message transaction provided by the customer to safeguard against duplication of messages. Boomerang will ignore any transactions with a value that has been passed previously."
                },
                "campaign_name": {
                  "type": "string",
                  "description": "Optional parameter that can be used to organise messages by specific campaigns."
                },
                "custom_parameter": {
                  "type": "string",
                  "description":  "Optional parameter used for a custom reference, for example a job reference, use case, batch Id etc."
                },
                "delay": {
                  "type": "integer",
                  "format": "int32",
                  "description": "delay"
                },
                "social_hours_monday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am"
                },
                "social_hours_monday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description":  "Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                },
                "social_hours_monday_day_off": {
                  "type": "boolean",
                  "description": "Pass ‘true’ to disable messaging. Any requests received will be processed according to the Social Hours configuration for the following day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_tuesday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_tuesday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                },
                "social_hours_tuesday_day_off": {
                  "type": "boolean",
                  "description": "Pass ‘true’ to disable messaging. Any requests received will be processed according to the Social Hours configuration for the following day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_wednesday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_wednesday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                },
                "social_hours_wednesday_day_off": {
                  "type": "boolean",
                  "description": "Pass ‘true’ to disable messaging. Any requests received will be processed according to the Social Hours configuration for the following day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_thursday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_thursday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                },
                "social_hours_thursday_day_off": {
                  "type": "boolean",
                  "description": "Pass ‘true’ to disable messaging. Any requests received will be processed according to the Social Hours configuration for the following day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_friday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_friday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                },
                "social_hours_friday_day_off": {
                  "type": "boolean",
                  "description": "Pass ‘true’ to disable messaging. Any requests received will be processed according to the Social Hours configuration for the following day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_saturday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_saturday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                 },
                "social_hours_saturday_day_off": {
                  "type": "boolean",
                  "description":"PPass ‘true’ to disable messaging. Any requests received will be processed according to the Social Hours configuration for the following day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_sunday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_sunday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                 },
                "social_hours_sunday_day_off": {
                  "type": "boolean",
                  "description": "Pass ‘true’ to disable messaging. Any requests received will be processed according to the Social Hours configuration for the following day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_USA_state": {
                  "type": "string",
                  "description":  "Localise Social Hours when sending to recipients in the USA. Pass the [US State name or abbreviated state value](https://en.wikipedia.org/wiki/List_of_U.S._state_and_territory_abbreviations) e.g. if 'New York' or 'NY' was passed against this parameter, messages will be processed according to the Social Hours start and end times passed, but localised to New York. All time zones are based on Universal Co-ordinated Time (UTC)."
                },
                "social_hours_offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Localise Social Hours to the recipient, based on an offset period set against UTC. Pass the required value in minutes; for example, to apply an offset period of minus 5 hours vs UTC, pass ‘-300’. To set an offset period which is 5 hours ahead of UTC, pass ‘300’. If Social Hours are set to 8am and 8pm (UTC), then a offset of (minus) -300 mins would make the effective times for Social Hours 3am and 3pm (UTC) and an offset of 300 mins would make the effective times for Social Hours 1pm and 1am (UTC). Passing an offset value against this parameter will override any values passed against the time_zone parameter."
                },
                "social_hours_timezone": {
                  "type": "string",
                  "description": "Localise Social Hours to the recipient based on a specific time zone. Pass the required time zone based on the Region/City. Please refer to the [list of all accepted time zones]( https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). All time zones are based on Universal Co-ordinated Time (UTC). "
                },
                "social_hours_from_destination": {
                  "type": "boolean",
                  "description":"Localise Social Hours to the recipient based on the country prefix / dialling code contained in the recipient's telephone number.  Where a country has more than one time zone, the time zone associated to the capital city in the destination will be applied. Passing ‘true’ to enable and this will take priority over any other Social Hours localisation parameters used."
                },
                "shortlinks_enabled": {
                  "type": "boolean",
                  "description": "Pass true to enable use of short-links. Short-links are used to convert standard (long) URLs to a short URL using a Boomerang domain ‘knil.uk. When short links are enabled, the URL / URLs included in your message content are automatically shortened. Use the ‘starting_with’ parameter to pass the domain or domains associated to the URL in the message content."
                },
                "shortlinks_password": {
                  "type": "string",
                  "description": "Password protect access to the short-link. Users must enter the corresponding password to access the short-link. If empty, the short-link will be immediately accessible. Pass the required password value."
                },
                "shortlinks_expires": {
                  "type": "string",
                  "description": "Mandatory parameter when short links are enabled. Pass a date and time in Universal Co-ordinated Time (UTC) to define when the short-link will expire. Users attempting to access the link after the expiry date, will receive a message “requested link expired"
                },
                "shortlinks_expires_after_visits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Pass a value to set limit the number of times that the short-link can be accessed. On reaching the limit set, any further attempts to access the short-link will be denied, and the message “requested link expired” is returned to the user. Pass 0 if you do not wish to restrict the number of visits."
                },
                "shortlinks_starting_with": {
                  "type": "string",
                  "description": "Pass the domain / domains associated to the URL / URLs included in your message content.  The parameter accepts comma separated domain names without http/https or any other schema. Example: boomerangmessaging.com."
                }
              }
            }
          }
        ]
      }
    },
    "/v1/flat/sms3": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "transactions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "transaction_id": {
                        "type": "string",
                        "description": "transaction_id"
                      },
                      "parts_per_message": {
                        "type": "integer",
                        "format": "int32",
                        "description": "parts_per_message"
                      },
                      "telephone_number": {
                        "type": "string",
                        "description": "telephone_number"
                      },
                      "boomerang_id": {
                        "type": "string",
                        "description": "boomerang_id"
                      }
                    }
                  },
                  "description": "transactions"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                }
              }
            }
          },
          "400": {
            "description": "Your request could not be processed.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "transactions": {
                  "type": "string",
                  "description": "transactions"
                }
              }
            }
          },
          "401": {
            "description": "Your request could not be authenticated"
          },
          "402": {
            "description": "Your request could not be processed because of insufficient funds or other payment related issues."
          },
          "500": {
            "description": "Please try again or report this error to the support"
          }
        },
        "summary": "SMS custom number",
        "description": "SMS messages are delivered from an originating number specified in the request so that any replies are automatically returned to that number. Customers using Boomerang's Inbound Campaign feature can use their inbound campaign number as the originator for outbound broadcasts, so that any replies returned to the number can be retrieved using the get-Inbound function. All inbound messages are also accessible via your Boomerang UI account. Unlike the SMS2 function, replies are not tracked against the outbound message. For more information regarding SMS messaging, [See SMS Delivery Infrastructure](https://boomerangmessaging.halocrm.io/kb?id=33)",
        "operationId": "SMS3",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "A numeric sending Id associated to a message. For example, this could be a number associated to an Inbound Campaign number associated to an active campaign."
                },
                "message_content": {
                  "type": "string",
                  "description":  "The content of the outbound message. Up to 3000 characters supported. Multi-part messages are concatenated and delivered as a single message"
                },
                "recipient_address": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "number": {
                        "type": "string",
                        "description":"The recipient's mobile phone number that must contain a minimum of 11 digits (excluding + or leading '0') and a maximum of 16 digits (excluding + or leading '0'). A single number or an array of up to 10,000 numbers can be passed."
                      }
                    }
                  },
                  "description": "recipient mobile number"
                },
                "priority": {
                  "type": "boolean",
                  "description": "Optional parameter used to override ‘Social Hours’ messaging where enabled against a Boomerang account. Pass ‘true’ to override Social Hours and send messages immediately on submission."
                },
                "unique_identifier": {
                  "type": "string",
                  "description": "A unique identifier for each individual message transaction provided by the customer to safeguard against duplication of messages. Boomerang will ignore any transactions with a value that has been passed previously"
                },
                "campaign_name": {
                  "type": "string",
                  "description":  "Optional parameter that can be used to organise messages by specific campaigns."
                },
                "custom_parameter": {
                  "type": "string",
                  "description":"Optional parameter used for a custom reference, for example a job reference, use case, batch Id etc."
                },
                "delay": {
                  "type": "integer",
                  "format": "int32",
                  "description":"Pass a value in minutes to defer processing of a request by the period specified."
                },
                "social_hours_monday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_monday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description":"Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                },
                "social_hours_monday_day_off": {
                  "type": "boolean",
                  "description": "Pass ‘true’ to disable messaging. Any requests received will be processed according to the Social Hours configuration for the following day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_tuesday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description":  "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_tuesday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                },
                "social_hours_tuesday_day_off": {
                  "type": "boolean",
                  "description":  "Pass ‘true’ to disable messaging. Any requests received will be processed according to the Social Hours configuration for the following day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_wednesday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_wednesday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                },
                "social_hours_wednesday_day_off": {
                  "type": "boolean",
                  "description": "Pass ‘true’ to disable messaging. Any requests received will be processed according to the Social Hours configuration for the following day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_thursday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_thursday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                },
                "social_hours_thursday_day_off": {
                  "type": "boolean",
                  "description":  "Pass ‘true’ to disable messaging. Any requests received will be processed according to the Social Hours configuration for the following day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_friday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_friday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                },
                "social_hours_friday_day_off": {
                  "type": "boolean",
                  "description": "Pass ‘true’ to disable messaging. Any requests received will be processed according to the Social Hours configuration for the following day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_saturday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_saturday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                },
                "social_hours_saturday_day_off": {
                  "type": "boolean",
                  "description": "Pass ‘true’ to disable Social Hours for this day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_sunday_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the start time for Social Hours. For example, passing '8' means that Boomerang will begin processing any messages received after the Social Hours end time on the previous day at 8am."
                },
                "social_hours_sunday_end": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Define the end time for Social Hours. For example, passing '20' means that Boomerang will stop processing messages at 8pm and will recommence at the Social Hours start time on the following day."
                },
                "social_hours_sunday_day_off": {
                  "type": "boolean",
                  "description": "Pass ‘true’ to disable Social Hours for this day. This will override any values passed in the Social Hours start and end parameters."
                },
                "social_hours_USA_state": {
                  "type": "string",
                  "description": "Localise Social Hours when sending to recipients in the USA. Pass the [US State name or abbreviated state value](https://en.wikipedia.org/wiki/List_of_U.S._state_and_territory_abbreviations) e.g. if 'New York' or 'NY' was passed against this parameter, messages will be processed according to the Social Hours start and end times passed, but localised to New York. All time zones are based on Universal Co-ordinated Time (UTC)."
                },
                "social_hours_offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Localise Social Hours to the recipient, based on an offset period set against UTC. Pass the required value in minutes; for example, to apply an offset period of minus 5 hours vs UTC, pass ‘-300’. To set an offset period which is 5 hours ahead of UTC, pass ‘300’. If Social Hours are set to 8am and 8pm (UTC), then a offset of (minus) -300 mins would make the effective times for Social Hours 3am and 3pm (UTC) and an offset of 300 mins would make the effective times for Social Hours 1pm and 1am (UTC). Passing an offset value against this parameter will override any values passed against the time_zone parameter."
                },
                "social_hours_timezone": {
                  "type": "string",
                  "description":  "Localise Social Hours to the recipient based on a specific time zone. Pass the required time zone based on the Region/City. Please refer to the [list of all accepted time zones]( https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). All time zones are based on Universal Co-ordinated Time (UTC). "
                },
                "social_hours_from_destination": {
                  "type": "boolean",
                  "description": "Localise Social Hours to the recipient based on the country prefix / dialling code contained in the recipient's telephone number.  Where a country has more than one time zone, the time zone associated to the capital city in the destination will be applied. Passing ‘true’ to enable and this will take priority over any other Social Hours localisation parameters used."
                },
                "shortlinks_enabled": {
                  "type": "boolean",
                  "description": "Pass true to enable use of short-links. Short-links are used to convert standard (long) URLs to a short URL using a Boomerang domain ‘knil.uk. When short links are enabled, the URL / URLs included in your message content are automatically shortened. Use the ‘starting_with’ parameter to pass the domain or domains associated to the URL in the message content."
                },
                "shortlinks_password": {
                  "type": "string",
                  "description": "Password protect access to the short-link. Users must enter the corresponding password to access the short-link. If empty, the short-link will be immediately accessible. Pass the required password value."
                },
                "shortlinks_expires": {
                  "type": "string",
                  "description": "Mandatory parameter when short links are enabled. Pass a date and time in Universal Co-ordinated Time (UTC) to define when the short-link will expire. Users attempting to access the link after the expiry date, will receive a message “requested link expired"
                },
                "shortlinks_expires_after_visits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Pass a value to set limit the number of times that the short-link can be accessed. On reaching the limit set, any further attempts to access the short-link will be denied, and the message “requested link expired” is returned to the user. Pass 0 if you do not wish to restrict the number of visits."
                },
                "shortlinks_starting_with": {
                  "type": "string",
                  "description": "Pass the domain / domains associated to the URL / URLs included in your message content.  The parameter accepts comma separated domain names without http/https or any other schema. Example: boomerangmessaging.com."
                }
              }
            }
          }
        ]
      }
    },
    "/v1/flat/voice": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "transactions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "transaction_id": {
                        "type": "string",
                        "description": "transaction_id"
                      },
                      "parts_per_message": {
                        "type": "integer",
                        "format": "int32",
                        "description": "parts_per_message"
                      },
                      "telephone_number": {
                        "type": "string",
                        "description": "telephone_number"
                      },
                      "boomerang_id": {
                        "type": "string",
                        "description": "boomerang_id"
                      }
                    }
                  },
                  "description": "transactions"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                }
              }
            }
          },
          "400": {
            "description": "Your request could not be processed.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "transactions": {
                  "type": "string",
                  "description": "transactions"
                }
              }
            }
          },
          "401": {
            "description": "Your request could not be authenticated"
          },
          "402": {
            "description": "Your request could not be processed because of insufficient funds or other payment related issues."
          },
          "500": {
            "description": "Please try again or report this error to the support"
          }
        },
        "summary": "Make Voice Call",
        "description": "Send Text-To-Speech (TTS) messages delivered as a voice call. On answering the call, a greeting / welcome message is played, allowing recipients to confirm that they wish to hear the main message.  Replies are returned as a keystroke via the device keypad. Please see [See Voice Delivery Infrastructure](https://boomerangmessaging.halocrm.io/kb?id=37) for more information.",
        "operationId": "VOICE",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "voice_intro": {
                  "type": "string",
                 
                  "example": "Press 1 to accept or 2 to ignore.",
                  "description": "The welcome message played when the voice call is answered. The recipient must select '1' to listen to the main message or '2' to ignore it, this will terminate the call."
                },
                "voice_thank_you": {
                  "type": "string",
                  "description": "The exit message played after the recipient has listened to, or responded to the main message."
                },
                "voice_redirect_message": {
                  "type": "string",
                  "description":  "Optional. The message played when a call is being diverted to a different number e.g. 'Your call is being diverted to our contact centre'."
                },
                "voice_redirect_no": {
                  "type": "object",
                  "properties": {
                    "number": {
                      "type": "string",
                      "description": "Optional. The telephone number to which a call is diverted if the recipient has selected 9 in response to the main message. If the divert feature is used, please ensure that the option is provided to the recipient during the main message e.g.”….press ‘9’ if you wish to be re-directed to our contact centre."
                    }
                  },
                  "description": "voice_redirect_no"
                },
                "voice_retries": {
                  "type": "integer",
                  "format": "int32",
                  "description":  "Optional. Define the number of retry attempts if the recipient does not answer the call or the recipient is busy. A maximum of three attemps is allowed."
                },
                "voice_delay": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Where retry attemps have been configured, use this parameter to define the interval between attempts. Pass the required value in minutes."
                },
                "message_content": {
                  "type": "string",
                  "description": "The content of the main message body which is played to the recipient after selecting '1' during the welcome message, or immediately on answering the call if a greeting message has not been implemented."
                },
                "recipient_address": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "number": {
                        "type": "string",
                        "description": "The destination landline or mobile phone number. Mobiles must contain a minimum of 11 digits (excluding + or leading '0') and a maximum of 16 digits (excluding a + where this is used as a pre-fix to the number itself)."
                      }
                    }
                  },
                  "description": "recipient_address"
                },
                "email_responses": {
                  "type": "string",
                  "description": "Email address to which details of responses returned to a voice message are automatically forwarded."
                },
                "push_responses": {
                  "type": "string",
                  "description": "Webhook to which details of responses returned to a voice message are automatically pushed."
                },
                "priority": {
                  "type": "boolean",
                  "description": "Optional parameter used to set a priority status to a message. Any messages sent with ‘priority’ will override ‘Social Hours’ settings associated to the API (configured in Boomerang UI). Pass true to set priority."
                },
                "unique_identifier": {
                  "type": "string",
                  "description":"Unique identifier for each transaction. This is used to safeguard against duplication of messages, as Boomerang will ignore any transactions with an Id that has been used previously."
                },
                "campaign_name": {
                  "type": "string",
                  "description":  "Optional Identifier that can be used to group messages by specific campaigns and batched messages"
                },
                "custom_parameter": {
                  "type": "string",
                  "description": "Parameter used for custom reference. This could be used for example as a Campaign reference, job reference, batch Id etc."
                },
                "locale": {
                  "type": "string",
                  "description": "Parameter used to set the voice (accent) and language used when the voice message is played to the recipient. Please refer to the [list of supported locales](https://boomerangmessaging.halocrm.io/kb?id=38) and the value to pass for each locale."
                }
              }
            }
          }
        ]
      }
    },
    "/v1/get_responses": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "replies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "transaction_id": {
                        "type": "string",
                        "description": "transaction_id"
                      },
                      "custom_parameter": {
                        "type": "string",
                        "description": "custom_parameter"
                      },
                      "campaign_name": {
                        "type": "string",
                        "description": "campaign_name"
                      },
                      "response_id": {
                        "type": "string",
                        "description": "response_id"
                      },
                      "from": {
                        "type": "string",
                        "description": "from"
                      },
                      "response_content": {
                        "type": "string",
                        "description": "response_content"
                      },
                      "is_new": {
                        "type": "boolean",
                        "description": "is_new"
                      },
                      "transaction_date": {
                        "type": "string",
                        "description": "transaction_date"
                      },
                      "response_date": {
                        "type": "string",
                        "description": "response_date"
                      },
                      "conversationId": {
                        "type": "string",
                        "description": "conversationId"
                      }
                    }
                  },
                  "description": "replies"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "has_more"
                }
              }
            }
          }
        },
        "summary":"Retrieve responses to outbound messages",
        "operationId": "GetResponses",
        "parameters": [
          {
            "name": "unique_identifier",
            "in": "query",
            "required": false,
            "type": "string",
             "description": "Returns all responses associated to a single outbound transaction based on the value passed in the unique_identifier parameter when sending a message"
          },
          {
            "name": "custom_parameter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Returns all responses associated to a any outbound messages sent with the corresponding value passed in custom_parameter when sending a message."
          },
          {
            "name": "campaign_name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Returns all responses associated to a any outbound messages sent with the corresponding value passed in campaign_name when sending a message."
          },
          {
            "name": "transaction_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Returns all responses associated to a single outbound transaction based on the transaction Id returned the response when sending an outbound message."
          },
          {
            "name": "ignore_previous",
            "in": "query",
            "required": false,
            "type": "boolean",
          "description": "Pass 'true' to exclude any responses that have been retrieved previously and marked as read."
          },
          {
            "name": "mark_as_read",
            "in": "query",
            "required": false,
            "type": "boolean",
          "description": "Pass 'true' to flag responses retrieved in a request as read. Passing 'true' against ignore_previous will ensure that only new responses are returned. Passing 'false' will include previously retrieved responses. Where 'false' is passed this will override ignore_previous = true as all responses will be treated as new."  
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
          "description": "Where the paramter has_more = true, pass the relevant page number to return the more responses."
          },
          {
            "name": "conversationId",
            "in": "query",
            "required": false,
            "type": "string",
          "description": "Returns all responses associated to a conversation thread based on the value passed in conversation_id parameter when sending a two-way message. Pass the corresponding value to retrieve responses associated to that thread."
          }
        ],
        "description": "This method allows a response or responses (where open ticket is applied) to an outbound transaction to be retrieved based on criteria associated to the outbound messages."
      }
    },
    "/v1/MaskTwoWay": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "thread_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "thread_id"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                }
              }
            }
          }
        },
        "summary": "MaskTwoWay",
        "description": "Method providing the ability to set-up 2-way conversational messaging between two different parties, without either disclosing their personal contact details. Once a conversation is initiated, the personal details of both parties are automatically masked across a specified number of interactions, after which, the recipient’s contact details are disclosed to the initiator. Where the number of interactions is not specified, a conversation will be masked across an unlimited number of interactions, without any personal details ever being disclosed.",
        "operationId": "MaskTwoWay",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "from"
                },
                "to": {
                  "type": "string",
                  "description": "to"
                },
                "reference": {
                  "type": "string",
                  "description": "reference"
                },
                "reference_always": {
                  "type": "boolean",
                  "description": "reference_always"
                },
                "rounds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "rounds"
                },
                "validity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "validity"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                }
              }
            }
          }
        ]
      }
    },
    "/v1/sms1": {},
    "/trigger/v1/get-inbound": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "has_more"
                },
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ref": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ref"
                      },
                      "message": {
                        "type": "string",
                        "description": "message"
                      },
                      "to_inbound_number": {
                        "type": "string",
                        "description": "to_inbound_number"
                      },
                      "from": {
                        "type": "string",
                        "description": "from"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created_at"
                      }
                    }
                  },
                  "description": "messages"
                }
              }
            }
          }
        },
        "summary": "Get_InboundTrigger",
        "description": "Retrieve messages submitted to an inbound campaign number.  Inbound campaign numbers allow end users to initiate engagement with your organisation via SMS and the inbound message can then be used as a trigger to initiate a resulting workflow. End users could for example, request an appointment which could trigger a flow that sends a follow up SMS containing the next available slots. Additionally, using a campaign number as the originating number when calling the SMS3 (custom number) function, allows you to initiate a broadcast to your stakeholders and with any replies being automatically returned to the inbound campaign number. Inbound campaign numbers can be purchased via your Boomerang UI account or on request by sending an email to operations@boomcomms.com.",
        "operationId": "Get_InboundTrigger",
        "x-ms-trigger": "batch",
        "parameters": [
          {
            "name": "after_ref",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 10060185,
            "description": "Returns all inbound messages on or after the inbound id provided.",
            "x-ms-visibility": "internal"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Returns all messages on or after the date and time provided.",
            "type": "string"
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Returns all messages on or before the date and time provided.",
            "type": "string"
          },
          {
            "name": "to_inbound_number",
            "in": "query",
            "required": false,
            "description": "Returns all messages submitted to the number provided.",
            "type": "integer"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Returns all messages submitted by the end user number provided.",
            "schema": {
            "example":"447890123456"
            },
            "type": "string"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of messages to return per page.",
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number to return.",
            "type": "integer"
          }
        ],
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/trigger/v1/get_all_new_drs": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "has_more"
                },
                "drs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "transaction_id": {
                        "type": "string",
                        "description": "transaction_id"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "status_date": {
                        "type": "string",
                        "description": "status_date"
                      },
                      "destination": {
                        "type": "string",
                        "description": "destination"
                      },
                      "custom_parameter": {
                        "type": "string",
                        "description": "custom_parameter"
                      },
                      "campaign_name": {
                        "type": "string",
                        "description": "campaign_name"
                      },
                      "unique_id": {
                        "type": "string",
                        "description": "unique_id"
                      }
                    }
                  },
                  "description": "drs"
                }
              }
            }
          },
          "400": {
            "description": "Your request could not be processed",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "transactions": {
                  "type": "string",
                  "description": "transactions"
                }
              }
            }
          },
          "401": {
            "description": "Your request could not be authenticated"
          },
          "500": {
            "description": "Please try again or report this error to the support"
          }
        },
        "summary": "On Delivery Confirmed",
        "description": "Triggered by delivery status updates returned. Updates the transaction with the delivery status returned by the end user's network operator. Refer to our [Knowledge Articles](https://boomerangmessaging.halocrm.io/kb?id=33) for further information on delivery statuses for each communication channel.",
        "x-ms-trigger": "batch",
        "operationId": "GETDRSTRIGGER",
        "parameters": [
          {
            "name": "drs_after",
            "in": "query",
            "required": false,
            "description": "Provide the date and time after which delivery receipts should be returned. This parameter is also mandatory when using start_transaction_id and will return all DRs after the time specified.",
            "type": "string",
            "default": "2020-03-01 09:00:00",
            "x-ms-trigger-value": {
              "value-collection": "drs",
              "value-path": "status_date"
            }
          },
          {
            "name": "start_transaction_id",
            "in": "query",
            "required": false,
            "description": "Delivery status updates will be returned for all transaction Ids including and subsequent to the Id provided",
            "type": "integer"
          },
          {
            "name": "ignore_previous",
            "in": "query",
            "required": false,
             "description": "Pass 'true' to exclude any DRs that have been retrieved previously.",
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Pass the required page number where more DRs are available.",
            "type": "integer"
          }
        ],
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        }
      }
    },
    "/v1/get_all_new_drs": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Retrieve delivery status updates for outbound messages",
        "description": "This function is used to retrieve delivery status updates returned by the recipient’s device or service provider which can be used to update the status of the corresponding outbound message. Refer to our [Knowledge Articles](https://boomerangmessaging.halocrm.io/kb?id=33) for further information on delivery statuses for each communication channel.",
        "operationId": "Get_All_DRS",
        "parameters": [
          {
            "name": "drs_after",
[...]
