{
  "swagger": "2.0",
  "info": {
    "title": "Ephesoft Semantik For Invoices",
    "description": "The Ephesoft Semantik for Invoices connector helps organizations extract critical invoice data using cutting edge AI models to automate accounts payable processing.  Semantik Invoice is a point solution that can speed up your invoice processing, reduce compliance errors, and free up your staff to work on more business critical items.",
    "version": "1.0",
    "contact": {
      "name": "Ephesoft Semantik Support",
      "url": "https://intercom.help/ephesoft/en",
      "email": "tickets@ephesoft.com"
    }
  },
  "host": "api.us.ephesoft.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://ephesoft.com/products/semantik-invoice/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://ephesoft.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance;Productivity"
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/settings/integrations/configurations": {
      "x-ms-notification-content": {
        "description": "Webhook Response",
        "schema": {
          "$ref": "#/definitions/WebhookResponse"
        },
        "parameters": {},
        "responses": {}
      },
      "post": {
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "configurationId": {
                  "type": "string",
                  "description": "Configuration identifier for the webhook."
                },
                "integrationId": {
                  "type": "string",
                  "description": "The unique webhook identifier."
                },
                "integrationName": {
                  "type": "string",
                  "description": "Name of the webhook as it appears in Semantik."
                },
                "IntegrationType": {
                  "type": "string",
                  "description": "The type of integration created in Semantik."
                },
                "Enabled": {
                  "type": "boolean",
                  "description": "The current state of the webhook in Semantik."
                }
              }
            }
          }
        },
        "summary": "When a Semantik invoice has completed review",
        "description": "Triggers a flow using data from a completed Semantik invoice.",
        "operationId": "TrigSemantikInvoiceCompleted",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "x-ms-summary": "Webhook Settings",
            "description": "Defines the settings for the webhook created in Semantik.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookCreateRequestBody"
            }
          }
        ]
      }
    },
    "/v1/settings/integrations/configurations/{configurationId}": {
      "delete": {
        "summary": "Remove Semantik Webhook",
        "description": "Removes a Semantik webhook",
        "operationId": "DeleteSemantikWebhook",
        "parameters": [
          {
            "name": "configurationId",
            "in": "path",
            "x-ms-summary": "Webhook ID",
            "description": "The Identifier for the webhook being deleted.",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "WebhookCreateRequestBody": {
      "type": "object",
      "properties": {
        "integrationName": {
          "type": "string",
          "description": "The name for the webhook as it will appear in Semantik.",
          "title": "Webhook Name",
          "default": "Microsoft Power Platform",
          "x-ms-visibility": "advanced"
        },
        "integrationType": {
          "type": "string",
          "description": "Specifies that this Semantik integration is a generic webhook.",
          "title": "Integration Type",
          "default": "webhook",
          "x-ms-visibility": "internal"
        },
        "enabled": {
          "type": "boolean",
          "description": "Defines wether the webhook is enabled when created.",
          "title": "Enabled",
          "enum": [
            true,
            false
          ],
          "default": true,
          "x-ms-visibility": "internal"
        },
        "settings": {
          "type": "object",
          "properties": {
            "payload": {
              "type": "string",
              "description": "Configures the data sent when the Semantik webhook is triggered.",
              "title": "Payload",
              "x-ms-visibility": "internal",
              "default": "{\n     \"AmountDue\": \"$AmountDue\",\n     \"DocumentId\": \"$DocumentId\",\n     \"DueDate\": \"$DueDate\",\n     \"InvoiceDate\": \"$InvoiceDate\",\n     \"InvoiceNumber\": \"$InvoiceNumber\",\n     \"OrderDate\": \"$OrderDate\",\n     \"PdfUrl\": \"$PdfUrl\",\n     \"PONumber\": \"$PONumber\",\n     \"ShipDate\": \"$ShipDate\",\n     \"SubTotal\": \"$SubTotal\",\n     \"TaxAmount\": \"$TaxAmount\",\n     \"TaxId\": \"$TaxId\",\n     \"TaxRate\": \"$TaxRate\",\n     \"TenantId\": \"$TenantId\",\n     \"Terms\": \"$Terms\",\n     \"TotalAmount\": \"$TotalAmount\",\n     \"Vendor\": {\n       \"VendorID\": \"$Vendor:VendorID\",\n       \"VendorName\": \"$Vendor:Name\",\n       \"VendorAddress\": {\n         \"VendorStreetAddress\": \"$Vendor:StreetAddress\",\n         \"VendorPOBox\": \"$Vendor:POBox\",\n         \"VendorLocality\": \"$Vendor:Locality\",\n         \"VendorRegion\": \"$Vendor:Region\",\n         \"VendorPostalCode\": \"$Vendor:PostalCode\",\n         \"VendorCountry\": \"$Vendor:Country\"\n       },\n       \"VendorTelephone\": \"$Vendor:Telephone\",\n       \"VendorCustomerID\": \"$Vendor:CustomerID\",\n       \"VendorStatus\": \"$Vendor:Status\",\n       \"VendorSWIFT\": \"$Vendor:SWIFT\",\n       \"VendorIBAN\": \"$Vendor:IBAN\",\n       \"VendorCustom1\": \"$Vendor:Custom1\",\n       \"VendorCustom2\": \"$Vendor:Custom2\",\n       \"VendorCustom3\": \"$Vendor:Custom3\",\n       \"VendorCustom4\": \"$Vendor:Custom4\",\n       \"VendorCustom5\": \"$Vendor:Custom5\",\n       \"VendorMatched\": \"$Vendor:Matched\"\n     }\n}"
            },
            "targetUrl": {
              "type": "string",
              "description": "The URL called when the Semantik webhook is triggered.",
              "x-ms-visibility": "internal",
              "x-ms-notification-url": true,
              "title": "Target URL"
            },
            "encoding": {
              "type": "string",
              "description": "Specifies the encoding type for the post sent when the webhook is triggered in Semantik.",
              "title": "Encoding",
              "default": "application/json",
              "x-ms-visibility": "internal"
            }
          },
          "description": "settings",
          "required": [
            "targetUrl",
            "encoding",
            "payload"
          ]
        }
      },
      "required": [
        "settings",
        "enabled",
        "integrationName",
        "integrationType"
      ]
    },
    "WebhookResponse": {
      "type": "object",
      "properties": {
        "AmountDue": {
          "type": "string",
          "description": "AmountDue"
        },
        "DocumentId": {
          "type": "string",
          "description": "DocumentId"
        },
        "DueDate": {
          "type": "string",
          "description": "DueDate"
        },
        "InvoiceDate": {
          "type": "string",
          "description": "InvoiceDate"
        },
        "InvoiceNumber": {
          "type": "string",
          "description": "InvoiceNumber"
        },
        "OrderDate": {
          "type": "string",
          "description": "OrderDate"
        },
        "PdfUrl": {
          "type": "string",
          "description": "PdfUrl"
        },
        "PONumber": {
          "type": "string",
          "description": "PONumber"
        },
        "ShipDate": {
          "type": "string",
          "description": "ShipDate"
        },
        "SubTotal": {
          "type": "string",
          "description": "SubTotal"
        },
        "TaxAmount": {
          "type": "string",
          "description": "TaxAmount"
        },
        "TaxId": {
          "type": "string",
          "description": "TaxId"
        },
        "TaxRate": {
          "type": "string",
          "description": "TaxRate"
        },
        "TenantId": {
          "type": "string",
          "description": "TenantId"
        },
        "Terms": {
          "type": "string",
          "description": "Terms"
        },
        "TotalAmount": {
          "type": "string",
          "description": "TotalAmount"
        },
        "Vendor": {
          "type": "object",
          "properties": {
            "VendorAddress": {
              "type": "object",
              "properties": {
                "VendorStreetAddress": {
                  "type": "string"
                },
                "VendorPOBox": {
                  "type": "string"
                },
                "VendorLocality": {
                  "type": "string"
                },
                "VendorRegion": {
                  "type": "string"
                },
                "VendorPostalCode": {
                  "type": "string"
                },
                "VendorCountry": {
                  "type": "string"
                }
              }
            },
            "VendorCustom1": {
              "type": "string"
            },
            "VendorCustom2": {
              "type": "string"
            },
            "VendorCustom3": {
              "type": "string"
            },
            "VendorCustom4": {
              "type": "string"
            },
            "VendorCustom5": {
              "type": "string"
            },
            "VendorIBAN": {
              "type": "string"
            },
            "VendorCustomerID": {
              "type": "string"
            },
            "VendorID": {
              "type": "string"
            },
            "VendorMatched": {
              "type": "string"
            },
            "VendorName": {
              "type": "string"
            },
            "VendorStatus": {
              "type": "string"
            },
            "VendorSWIFT": {
              "type": "string"
            },
            "VendorTelephone": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://api.us.ephesoft.io/v1/auth/oauth2/authorize",
      "tokenUrl": "https://api.us.ephesoft.io/v1/auth/oauth2/token",
      "scopes": {
        "admin": "admin"
      }
    },
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Bearer",
      "in": "header"
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "admin"
      ]
    }
  ],
  "tags": []
}