{
  "swagger": "2.0",
  "info": {
    "title": "Morta",
    "description": "The Morta API is based around REST. Our API accepts json encoded request bodies and returns JSON encoded respones. We use standard HTTP responses, authentication and verbs. All API requests must have an authorization header of the form: { 'Authorization': 'Bearer <API_KEY>' }",
    "version": "1.0",
    "contact": {
      "name": "Mort Support",
      "url": "https://morta.io",
      "email": "support@morta.io"
    }
  },
  "host": "api.morta.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/user/projects/favourites": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get User's Favourite Projects",
        "description": "Get all favourite projects the currently logged in user is part of",
        "operationId": "GetFavouriteProjects",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the user's favourite projects",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "isDeleted": {
                        "description": "Indicates if the project is deleted",
                        "type": "boolean"
                      },
                      "name": {
                        "description": "Name of the project",
                        "type": "string"
                      },
                      "projectRole": {
                        "description": "User's role in the project",
                        "type": "string"
                      },
                      "publicId": {
                        "format": "uuid",
                        "description": "Public ID of the project",
                        "type": "string"
                      }
                    }
                  }
                },
                "metadata": {
                  "description": "Additional metadata",
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/comment_thread/stats": {
      "get": {
        "tags": [
          "Comment"
        ],
        "summary": "Get Comment Thread Statistics",
        "description": "Retrieve statistics for comment threads based on reference type and main reference ID",
        "operationId": "GetCommentThreadStatsByReference",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "reference_type",
            "description": "Type of the reference (process_section, table, or table_view) for which to gather statistics",
            "required": true,
            "type": "string",
            "x-ms-summary": "Reference Type",
            "enum": [
              "process_section",
              "table",
              "table_view"
            ]
          },
          {
            "in": "query",
            "name": "main_reference_id",
            "description": "UUID of the main reference for which to gather statistics",
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Main Reference ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved comment thread statistics",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CommentThreadStats"
                  }
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/notifications/event-types": {
      "get": {
        "tags": [
          "Notification"
        ],
        "summary": "Get a list of all supported event types",
        "description": "Retrieve a list of all supported event types for notifications.",
        "operationId": "GetNotificationEventTypes",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of event types.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/passthrough-download": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Create Passthrough Download Request",
        "description": "Make a passthrough API call to an external source system for downloading files.",
        "operationId": "IntegrationsPassthroughDownloadApiCall",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationsPassthroughApiCall"
            },
            "x-ms-summary": "IntegrationsPassthroughApiCall Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully made the passthrough download request.",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions or cannot make requests on behalf of another user."
          },
          "404": {
            "description": "User not found."
          },
          "422": {
            "description": "Validation error - Necessary account connection missing or invalid source system specified."
          }
        }
      }
    },
    "/v1/integrations/passthrough": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Create Passthrough Request to Source System",
        "description": "Make a passthrough API call to an external source system.",
        "operationId": "IntegrationsPassthroughApiCall",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationsPassthroughApiCall"
            },
            "x-ms-summary": "IntegrationsPassthroughApiCall Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully made the passthrough request.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/IntegrationsPassthroughResponse"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions or cannot make requests on behalf of another user."
          },
          "404": {
            "description": "User or requested resource not found."
          },
          "422": {
            "description": "Validation error - Necessary account connection missing."
          }
        }
      }
    },
    "/v1/permissions/tag": {
      "get": {
        "tags": [
          "Permissions"
        ],
        "summary": "Get Tag by Public ID",
        "description": "Retrieve a tag by its public ID.",
        "operationId": "GetTagByPublicId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "tag_id",
            "description": "Public ID of the tag to retrieve.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Tag Public ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the tag.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/Tag"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Tag not found."
          }
        }
      }
    },
    "/v1/process/duplicate": {
      "post": {
        "tags": [
          "Process"
        ],
        "summary": "Duplicate Process",
        "description": "Duplicate an existing process, optionally into a different project",
        "operationId": "DuplicateProcess",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DuplicateProcess"
            },
            "x-ms-summary": "DuplicateProcess Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully duplicated the process",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/MortaProcess"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized to duplicate this process"
          },
          "404": {
            "description": "Process or target project not found"
          }
        }
      }
    },
    "/v1/user/public-projects": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get User's Public Projects",
        "description": "Get all public projects where the user is a member",
        "operationId": "GetUserPublicProjects",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the user's public projects",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/HomeProject"
                  }
                },
                "metadata": {
                  "description": "Additional metadata",
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/user/owner-projects": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get User's Owned and Administered Projects",
        "description": "Get all projects where the user is the owner or an admin",
        "operationId": "GetUserOwnerProjects",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the user's owned and administered projects",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/HomeProject"
                  }
                },
                "metadata": {
                  "description": "Additional metadata",
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/user/templates": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get User Templates",
        "description": "Get all templates the currently logged in user has access to",
        "operationId": "GetUserTemplates",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the user's templates",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdBy": {
                        "$ref": "#/definitions/SummaryUser"
                      }
                    }
                  }
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/user/projects": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get User Projects",
        "description": "Get all projects the currently logged in user is part of",
        "operationId": "GetUserProjects",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the projects",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/HomeProject"
                  }
                },
                "metadata": {
                  "description": "Additional metadata",
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/user/account": {
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Update User Account",
        "description": "Update the account details for the currently logged in user",
        "operationId": "UpdateUserAccount",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateUserAccount"
            },
            "x-ms-summary": "UpdateUserAccount Body"
          }
        ],
        "responses": {
          "200": {
            "description": "User account updated successfully",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/UserWithToken"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Two factor code is invalid or required"
          },
          "401": {
            "description": "Old password is invalid"
          }
        }
      }
    },
    "/v1/user/apikey": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Create API Key for User",
        "description": "Create an API key for the currently logged in user",
        "operationId": "CreateApiKey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateApiKey"
            },
            "x-ms-summary": "CreateApiKey Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created an API key",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/ApiKey"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          }
        }
      }
    },
    "/v1/user/search": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Search for Users",
        "description": "Search for users by project or process",
        "operationId": "SearchUsers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "project_id",
            "description": "Project ID to restrict search",
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Project Id"
          },
          {
            "in": "query",
            "name": "process_id",
            "description": "Process ID to restrict search",
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Id"
          },
          {
            "in": "query",
            "name": "table_view_id",
            "description": "Table View ID to restrict search",
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Table View Id"
          },
          {
            "in": "query",
            "name": "query",
            "description": "Query string for searching users",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved search results",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SummaryUser"
                  }
                },
                "metadata": {
                  "description": "Additional metadata",
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions for this action"
          },
          "404": {
            "description": "Project, process, or table view not found"
          }
        }
      }
    },
    "/v1/user/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get my details",
        "description": "Get info on the current user",
        "operationId": "GetMe",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Return the current user's information",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/User"
                },
                "metadata": {
                  "description": "The metadata object",
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/comment_thread": {
      "get": {
        "tags": [
          "Comment"
        ],
        "summary": "Get Comment Threads by Reference",
        "description": "Retrieve all comment threads associated with a specific reference",
        "operationId": "GetCommentThreadsByReference",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "reference_type",
            "description": "Type of the reference (process_section, table, or table_view) associated with the comment threads",
            "required": true,
            "type": "string",
            "enum": [
              "process_section",
              "table",
              "table_view"
            ],
            "x-ms-summary": "Reference Type"
          },
          {
            "in": "query",
            "name": "reference_id",
            "description": "UUID of the reference associated with the comment threads",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Reference Id"
          },
          {
            "in": "query",
            "name": "main_reference",
            "description": "Optional main reference for additional filtering",
            "type": "string",
            "x-ms-summary": "Main Reference"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the comment threads",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CommentThread"
                  }
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Comment"
        ],
        "summary": "Create New Comment Thread",
        "description": "Create a new comment thread",
        "operationId": "CreateCommentThread",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCommentThread"
            },
            "x-ms-summary": "CreateCommentThread Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created a new comment thread",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/CommentThread"
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "change": {
                      "description": "Changes made in this operation",
                      "type": "object"
                    },
                    "event": {
                      "description": "Event type for the operation",
                      "type": "string"
                    },
                    "resourceId": {
                      "description": "UUID of the newly created comment thread",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/notifications": {
      "x-ms-notification-content": {
        "description": "Morta Notification",
        "schema": {
          "type": "object",
          "$ref": "#/definitions/WebhookResponse"
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successfully created notification",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/Notification"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User is not an admin or owner."
          },
          "404": {
            "description": "Project not found"
          }
        },
        "summary": "Notification Creation",
        "description": "Create a notification on the Morta platform",
        "operationId": "NotificationCreation",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "projectId": {
                  "type": "string",
                  "description": "projectId",
                  "title": ""
                },
                "webhookUrl": {
                  "type": "string",
                  "description": "webhookUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "description": {
                  "type": "string",
                  "description": "description",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "Process response submitted webhook"
                },
                "triggers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "resource": {
                        "type": "string",
                        "description": "resource",
                        "title": "",
                        "enum": [
                          "project",
                          "table",
                          "process",
                          "policy",
                          "member"
                        ]
                      },
                      "verb": {
                        "type": "string",
                        "description": "verb",
                        "title": "",
                        "enum": [
                          "joined",
                          "read",
                          "updated",
                          "deleted",
                          "restored",
                          "searched",
                          "duplicated",
                          "created",
                          "csv_uploaded",
                          "column_created",
                          "column_updated",
                          "column_deleted",
                          "column_restored",
                          "row_created",
                          "row_deleted",
                          "row_updated",
                          "cell_updated",
                          "comment_created",
                          "comment_updated",
                          "comment_deleted",
                          "thread_created",
                          "thread_resolved",
                          "thread_reopened",
                          "thread_deleted",
                          "view_read",
                          "view_created",
                          "view_deleted",
                          "view_updated",
                          "view_duplicated",
                          "truncated",
                          "script_error",
                          "sync_created",
                          "sync_deleted",
                          "sync_completed",
                          "sync_error",
                          "section_created",
                          "section_updated",
                          "section_deleted",
                          "section_duplicated",
                          "section_restored",
                          "response_created",
                          "response_updated",
                          "response_submitted",
                          "response_deleted",
                          "response_restored",
                          "response_reset"
                        ]
                      }
                    },
                    "required": [
                      "verb",
                      "resource"
                    ]
                  },
                  "description": "triggers"
                },
                "tables": {
                  "type": "array",
                  "items": {},
                  "description": "tables"
                },
                "processes": {
                  "type": "array",
                  "items": {},
                  "description": "processes"
                }
              },
              "required": [
                "webhookUrl",
                "triggers",
                "projectId",
                "description"
              ]
            }
          }
        ]
      }
    },
    "/v1/permissions": {
      "get": {
        "tags": [
          "Permissions"
        ],
        "summary": "Get Resource Permissions",
        "description": "Retrieve permissions for a specified resource, such as a table, table view, or process.",
        "operationId": "GetResourcePermissions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "resource",
            "description": "The kind of resource for which to retrieve permissions. Valid options are 'process', 'table', or 'table_view'.",
            "required": true,
            "type": "string",
            "enum": [
              "process",
              "table",
              "table_view"
            ],
            "x-ms-summary": "Resource"
          },
          {
            "in": "query",
            "name": "resource_id",
            "description": "UUID of the resource for which to retrieve permissions.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Resource Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved permissions for the resource.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AccessPolicy"
                  }
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          }
        }
      },
      "post": {
        "tags": [
          "Permissions"
        ],
        "summary": "Create Permissions for a Resource",
        "description": "Create permissions for a specific resource (such as a table, table view, or process).",
        "operationId": "CreateResourcePermissions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePermissions"
            },
            "x-ms-summary": "CreatePermissions Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created permissions for the resource.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/AccessPolicy"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Resource or accessor not found."
          },
          "422": {
            "description": "Validation error for the provided data."
          }
        }
      }
    },
    "/v1/project": {
      "post": {
        "tags": [
          "Project"
        ],
        "summary": "Create a New Project",
        "description": "Create a new project with the specified name",
        "operationId": "CreateProject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateProject"
            },
            "x-ms-summary": "CreateProject Body"
          }
        ],
        "responses": {
          "200": {
            "description": "New project successfully created",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/SimpleProject"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/process": {
      "post": {
        "tags": [
          "Process"
        ],
        "summary": "Create a New Process",
        "description": "Create a new process in a specified project",
        "operationId": "CreateProcess",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateProcess"
            },
            "x-ms-summary": "CreateProcess Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Process successfully created",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/Process"
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "change": {
                      "description": "The changes made during process creation",
                      "type": "object"
                    },
                    "event": {
                      "description": "The event type, e.g., 'process.created'",
                      "type": "string"
                    },
                    "resourceId": {
                      "format": "uuid",
                      "description": "The UUID of the newly created process",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Not authorized to create a process in this project"
          },
          "404": {
            "description": "Project not found"
          }
        }
      }
    },
    "/v1/table": {
      "post": {
        "tags": [
          "Table"
        ],
        "summary": "Create new document table",
        "description": "Create a new document table within a project.",
        "operationId": "CreateTable",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTable"
            },
            "x-ms-summary": "CreateTable Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created the table",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/Table"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "That project does not exist."
          }
        }
      }
    },
    "/v1/user": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Create New User",
        "description": "Create a new user",
        "operationId": "CreateUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUser"
            },
            "x-ms-summary": "CreateUser Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created a new user",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/User"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          }
        }
      },
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Update Current User Profile",
        "description": "Update the profile of the currently logged in user",
        "operationId": "UpdateCurrentUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateUser"
            },
            "x-ms-summary": "UpdateUser Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated user profile",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/User"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          }
        }
      }
    },
    "/v1/process/{process_id}/section/{process_section_id}/response/{process_response_id}/restore": {
      "put": {
        "tags": [
          "Process Response"
        ],
        "summary": "Restore Process Response",
        "description": "Restore a previously deleted process response.",
        "operationId": "RestoreProcessResponse",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "process_id",
            "description": "The UUID of the process.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Id"
          },
          {
            "in": "path",
            "name": "process_section_id",
            "description": "The UUID of the process section.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Section Id"
          },
          {
            "in": "path",
            "name": "process_response_id",
            "description": "The UUID of the process response to be restored.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Response Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully restored the process response.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/ProcessResponse"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Process, process section, or process response not found, or the response is not eligible for restoration."
          }
        }
      }
    },
    "/v1/process/{process_id}/section/{process_section_id}/response/{process_response_id}/submit": {
      "put": {
        "tags": [
          "Process Response"
        ],
        "summary": "Submit Process Response",
        "description": "Submit a process response, marking it as completed.",
        "operationId": "SubmitProcessResponse",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "process_id",
            "description": "The UUID of the process.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Id"
          },
          {
            "in": "path",
            "name": "process_section_id",
            "description": "The UUID of the process section.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Section Id"
          },
          {
            "in": "path",
            "name": "process_response_id",
            "description": "The UUID of the process response to be submitted.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Response Id"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SubmitProcessResponse"
            },
            "x-ms-summary": "SubmitProcessResponse Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully submitted the process response.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/MortaProcessSection"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions or is not a responder."
          },
          "404": {
            "description": "Process, process section, or process response not found, already submitted, or submission is not allowed after due date."
          }
        }
      }
    },
    "/v1/process/{process_id}/section/{process_section_id}/response/{process_response_id}/reset": {
      "put": {
        "tags": [
          "Process Response"
        ],
        "summary": "Reset Process Response",
        "description": "Reset an existing process response to its initial state.",
        "operationId": "ResetProcessResponse",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "process_id",
            "description": "The UUID of the process.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Id"
          },
          {
            "in": "path",
            "name": "process_section_id",
            "description": "The UUID of the process section.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Section Id"
          },
          {
            "in": "path",
            "name": "process_response_id",
            "description": "The UUID of the process response to be reset.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Response Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully reset the process response.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/MortaProcessSection"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Process, process section, or process response not found, or the response is not eligible for reset."
          }
        }
      }
    },
    "/v1/process/{process_id}/section/{process_section_id}/response/{process_response_id}/draft": {
      "put": {
        "tags": [
          "Process Response"
        ],
        "summary": "Submit Process Response Draft",
        "description": "Submit a draft of a process response for later completion.",
        "operationId": "SubmitProcessResponseDraft",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "process_id",
            "description": "The UUID of the process.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Id"
          },
          {
            "in": "path",
            "name": "process_section_id",
            "description": "The UUID of the process section.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Section Id"
          },
          {
            "in": "path",
            "name": "process_response_id",
            "description": "The UUID of the process response to submit as a draft.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Response Id"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SubmitProcessResponse"
            },
            "x-ms-summary": "SubmitProcessResponse Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully submitted the process response draft.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/ProcessSection"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions or is not a responder."
          },
          "404": {
            "description": "Process, process section, or process response not found, already submitted, or submission is not allowed after due date."
          }
        }
      }
    },
    "/v1/table/views/{view_id}/column/{column_id}/distinct": {
      "get": {
        "tags": [
          "Table View"
        ],
        "summary": "Get the unique values for a column",
        "description": "Retrieve the unique/distinct values for a specific column in a table view.",
        "operationId": "GetTableViewDistinctValues",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "view_id",
            "description": "The UUID of the table view.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "View Id"
          },
          {
            "in": "path",
            "name": "column_id",
            "description": "The UUID of the column for which distinct values are to be retrieved.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Column Id"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filters to apply to the data retrieval.",
            "type": "string",
            "x-ms-summary": "Filter"
          },
          {
            "in": "query",
            "name": "group_columns",
            "description": "Optional columns to group the distinct values.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Group Columns"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved distinct values for the column.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Table view or column not found."
          }
        }
      }
    },
    "/v1/table/views/{view_id}/chart/image": {
      "get": {
        "tags": [
          "Table View"
        ],
        "summary": "Download chart image",
        "description": "Download an image file of a chart based on data from a specific table view.",
        "operationId": "DownloadTableViewChartImage",
        "produces": [
          "image/png"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "view_id",
            "description": "The UUID of the table view for which the chart image is generated.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "View Id"
          },
          {
            "in": "query",
            "name": "chart_type",
            "description": "Type of chart for which image is being generated.",
            "type": "string",
            "x-ms-summary": "Chart Type"
          },
          {
            "in": "query",
            "name": "show_legend",
            "description": "Flag to indicate whether to include the legend in the chart image.",
            "type": "boolean",
            "x-ms-summary": "Show Legend"
          },
          {
            "in": "query",
            "name": "show_values",
            "description": "Flag to indicate whether to include values in the chart image.",
            "type": "boolean",
            "x-ms-summary": "Show Values"
          },
          {
            "in": "query",
            "name": "column_value_id",
            "description": "UUID of the column used as the value source for the chart image.",
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Column Value Id"
          },
          {
            "in": "query",
            "name": "column_label_id",
            "description": "UUID of the column used as the label source for the chart image.",
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Column Label Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully downloaded the chart image file.",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Table view not found."
          }
        }
      }
    },
    "/v1/table/views/{view_id}/rows/upsert": {
      "post": {
        "tags": [
          "Table View"
        ],
        "summary": "Add or update rows in a table",
        "description": "Upsert (add or update) rows in a table view based on a specified column.",
        "operationId": "UpsertTableRowsInView",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "view_id",
            "description": "The UUID of the table view where rows are to be upserted.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "View Id"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpsertTableRows"
            },
            "x-ms-summary": "UpsertTableRows Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully upserted rows in the table view.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "publicId": {
                        "type": "string"
                      },
                      "rowData": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "sortOrder": {
                        "type": "number"
                      }
                    }
                  },
                  "additionalProperties": false
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Table view not found."
          }
        }
      }
    },
    "/v1/process/{process_id}/section/{process_section_id}/duplicate-async": {
      "post": {
        "tags": [
          "Process Section"
        ],
        "summary": "Duplicate Process Section",
        "description": "Duplicate a specific process section asynchronously.",
        "operationId": "DuplicateProcessSectionAsync",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "process_id",
            "description": "The UUID of the process.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Id"
          },
          {
            "in": "path",
            "name": "process_section_id",
            "description": "The UUID of the process section to duplicate.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Section Id"
          }
        ],
        "responses": {
          "201": {
            "description": "Process section duplication started successfully",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "string",
                  "example": "Process section duplication started successfully"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized to duplicate this process section"
          },
          "404": {
            "description": "Process or process section not found"
          }
        }
      }
    },
    "/v1/process/{process_id}/section/{process_section_id}/duplicate": {
      "post": {
        "tags": [
          "Process Section"
        ],
        "summary": "Duplicate Process Section",
        "description": "Duplicate a specific process section.",
        "operationId": "DuplicateProcessSection",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "process_id",
            "description": "The UUID of the process.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Id"
          },
          {
            "in": "path",
            "name": "process_section_id",
            "description": "The UUID of the process section to duplicate.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Section Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully duplicated the process section.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/MortaProcessSection"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Process or process section not found."
          }
        }
      }
    },
    "/v1/process/{process_id}/section/{process_section_id}/response/{process_response_id}": {
      "delete": {
        "tags": [
          "Process Response"
        ],
        "summary": "Delete Process Response",
        "description": "Delete a specific process response.",
        "operationId": "DeleteProcessResponse",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "process_id",
            "description": "The UUID of the process.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Id"
          },
          {
            "in": "path",
            "name": "process_section_id",
            "description": "The UUID of the process section.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Section Id"
          },
          {
            "in": "path",
            "name": "process_response_id",
            "description": "The UUID of the process response to be deleted.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Response Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the process response.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/MortaProcessSection"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Process, process section, or process response not found."
          }
        }
      },
      "put": {
        "tags": [
          "Process Response"
        ],
        "summary": "Update Existing Process Response",
        "description": "Update an existing response for a process section.",
        "operationId": "UpdateProcessResponse",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "process_id",
            "description": "The UUID of the process.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Id"
          },
          {
            "in": "path",
            "name": "process_section_id",
            "description": "The UUID of the process section.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Section Id"
          },
          {
            "in": "path",
            "name": "process_response_id",
            "description": "The UUID of the process response to be updated.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Response Id"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateProcessResponse"
            },
            "x-ms-summary": "UpdateProcessResponse Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the process response.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/MortaProcessResponse"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Process, process section, or process response not found."
          }
        }
      }
    },
    "/v1/process/{process_id}/section/{process_section_id}/response": {
      "post": {
        "tags": [
          "Process Response"
        ],
        "summary": "Create New Process Response",
        "description": "Create a new response for a process section.",
        "operationId": "CreateProcessResponse",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "process_id",
            "description": "The UUID of the process.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Id"
          },
          {
            "in": "path",
            "name": "process_section_id",
            "description": "The UUID of the process section.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Section Id"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateProcessResponse"
            },
            "x-ms-summary": "CreateProcessResponse Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created the process response.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/ProcessResponse"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Process or process section not found."
          }
        }
      }
    },
    "/v1/process/{process_id}/section/{process_section_id}/restore": {
      "put": {
        "tags": [
          "Process Section"
        ],
        "summary": "Restore Process Section",
        "description": "Restore a previously deleted process section.",
        "operationId": "RestoreProcessSection",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "process_id",
            "description": "The UUID of the process.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Id"
          },
          {
            "in": "path",
            "name": "process_section_id",
            "description": "The UUID of the process section to be restored.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Section Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully restored the process section.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/MortaProcessSection"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Process or process section not found."
          }
        }
      }
    },
    "/v1/table/views/{view_id}/preview-row": {
      "post": {
        "tags": [
          "Table View"
        ],
        "summary": "Preview resulting row from inputs",
        "description": "Preview the resulting row from given inputs in a specific table view.",
        "operationId": "PreviewTableRowInView",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "view_id",
            "description": "The UUID of the table view for which the row preview is generated.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "View Id"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PreviewTableRow"
            },
            "x-ms-summary": "PreviewTableRow Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated a preview of the row.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "publicId": {
                      "type": "string"
                    },
                    "rowData": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "sortOrder": {
                      "type": "number"
                    }
                  },
                  "additionalProperties": false
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Table view not found."
          }
        }
      }
    },
    "/v1/table/views/{view_id}/rows-stream": {
      "get": {
        "tags": [
          "Table View"
        ],
        "summary": "Stream all rows for the view",
        "description": "Stream the data of all rows for a specific table view.",
        "operationId": "StreamTableViewRows",
        "produces": [
          "application/x-msgppack"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "view_id",
            "description": "The UUID of the table view for which data streaming is requested.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "View Id"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filters to apply to the streaming data.",
            "type": "string",
            "x-ms-summary": "Filter"
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sorting parameters for the streaming data.",
            "type": "string",
            "x-ms-summary": "Sort"
          },
          {
            "in": "query",
            "name": "process_id",
            "description": "Optional UUID of a process to filter the data.",
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Id"
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number for pagination",
            "type": "integer",
            "default": 1,
            "minimum": 1,
            "x-ms-summary": "Page"
          },
          {
            "in": "query",
            "name": "size",
            "description": "Number of items per page for pagination",
            "type": "integer",
            "default": 50,
            "maximum": 2500,
            "minimum": 1,
            "x-ms-summary": "Size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully initiated streaming of table view rows.",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Table view or process not found."
          }
        }
      }
    },
    "/v1/table/views/{view_id}/columns/{column_id}": {
      "put": {
        "tags": [
          "Table View"
        ],
        "summary": "Update column on view",
        "description": "Update a specific column in a table view.",
        "operationId": "UpdateColumnOnTableView",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "view_id",
            "description": "The UUID of the table view containing the column to be updated.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "View Id"
          },
          {
            "in": "path",
            "name": "column_id",
            "description": "The UUID of the column in the table view to be updated.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Column Id"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTableViewColumn"
            },
            "x-ms-summary": "UpdateTableViewColumn Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the column in the table view.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/TableViewColumn"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions or joined column kind cannot be updated."
          },
          "404": {
            "description": "Table view or column not found."
          }
        }
      }
    },
    "/v1/table/views/{view_id}/default": {
      "post": {
        "tags": [
          "Table View"
        ],
        "summary": "Set the view as the default view",
        "description": "Designate a specific table view as the default view for the table.",
        "operationId": "SetTableViewAsDefault",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "view_id",
            "description": "The UUID of the table view to be set as the default.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "View Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully set the table view as the default.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/TableView"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Table view not found."
          }
        }
      }
    },
    "/v1/table/views/{view_id}/columns": {
      "post": {
        "tags": [
          "Table View"
        ],
        "summary": "Add a column to a view",
        "description": "Add a new column to a specific table view.",
        "operationId": "AddColumnToTableView",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "view_id",
            "description": "The UUID of the table view to which a column is to be added.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "View Id"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTableViewColumn"
            },
            "x-ms-summary": "CreateTableViewColumn Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully added a column to the table view.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/TableViewColumn"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Table view not found."
          }
        }
      }
    },
    "/v1/table/views/{view_id}/stats": {
      "get": {
        "tags": [
          "Table View"
        ],
        "summary": "Get stats on table columns",
        "description": "Retrieve statistical data for columns in a specific table view.",
        "operationId": "GetTableViewStats",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "view_id",
            "description": "The UUID of the table view for which stats are to be retrieved.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "View Id"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filters to apply to the statistical data retrieval.",
            "type": "string",
            "x-ms-summary": "Filter"
          },
          {
            "in": "query",
            "name": "sum, avg, max, min, count",
            "description": "Specify columns to perform sum, average, max, min, or count operations.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Sum, avg, max, min, count"
          },
          {
            "in": "query",
            "name": "process_id",
            "description": "Optional UUID of a process to filter the data.",
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved statistics for table view columns.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TableColumnWithAggregation"
                  }
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Table view not found or process not found."
          }
        }
      }
    },
    "/v1/table/views/{view_id}/cells": {
      "put": {
        "tags": [
          "Table View"
        ],
        "summary": "Update existing table cells",
        "description": "Update specific cells in a table view.",
        "operationId": "UpdateDocumentTableCellsInView",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "view_id",
            "description": "The UUID of the table view where cells are to be updated.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "View Id"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateDocumentTableCells"
            },
            "x-ms-summary": "UpdateDocumentTableCells Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated cells in the table view.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "publicId": {
                        "type": "string"
                      },
                      "rowData": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "sortOrder": {
                        "type": "number"
                      }
                    }
                  },
                  "additionalProperties": false
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Table view not found."
          }
        }
      }
    },
    "/v1/table/views/{view_id}/chart": {
      "get": {
        "tags": [
          "Table View"
        ],
        "summary": "Get chart data for the view",
        "description": "Retrieve data for generating a chart based on a specific table view.",
        "operationId": "GetTableViewChartData",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "view_id",
            "description": "The UUID of the table view for which chart data is requested.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "View Id"
          },
          {
            "in": "query",
            "name": "chart_type",
            "description": "Type of chart for which data is being fetched.",
            "type": "string",
            "x-ms-summary": "Chart Type"
          },
          {
            "in": "query",
            "name": "show_legend",
            "description": "Flag to indicate whether to show the legend in the chart.",
            "type": "boolean",
            "x-ms-summary": "Show Legend"
          },
          {
            "in": "query",
            "name": "show_values",
            "description": "Flag to indicate whether to show values in the chart.",
            "type": "boolean",
            "x-ms-summary": "Show Values"
          },
          {
            "in": "query",
            "name": "column_value_id",
            "description": "UUID of the column to be used as the value source for the chart.",
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Column Value Id"
          },
          {
            "in": "query",
            "name": "column_label_id",
            "description": "UUID of the column to be used as the label source for the chart.",
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Column Label Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved chart data for the table view.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Table view not found."
          }
        }
      }
    },
    "/v1/table/views/{view_id}/rows": {
      "get": {
        "tags": [
          "Table View"
        ],
        "summary": "Get actual table view data",
        "description": "Retrieve the actual data for a specific table view.",
        "operationId": "GetTableViewRows",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "view_id",
            "description": "The UUID of the table view for which data is to be retrieved.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "View Id"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filters to apply to the data retrieval.",
            "type": "string",
            "x-ms-summary": "Filter"
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sorting parameters for the data retrieval.",
            "type": "string",
            "x-ms-summary": "Sort"
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number for pagination.",
            "type": "integer",
            "x-ms-summary": "Page"
          },
          {
            "in": "query",
            "name": "size",
            "description": "Number of items per page for pagination.",
            "type": "integer",
            "x-ms-summary": "Size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved table view data.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "publicId": {
                        "type": "string"
                      },
                      "rowData": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "sortOrder": {
                        "type": "number"
                      }
                    }
                  },
                  "additionalProperties": false
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "nextPageToken": {
                      "type": "string"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Table view not found."
          }
        }
      },
      "delete": {
        "tags": [
          "Table View"
        ],
        "summary": "Delete specific rows",
        "description": "Delete specific rows from a table view based on row IDs.",
        "operationId": "DeleteTableRowsInView",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "view_id",
            "description": "The UUID of the table view from which rows are to be deleted.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "View Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted specified rows from the table view.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "string"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions or row deletion not allowed."
          },
          "404": {
            "description": "Table view not found."
          }
        }
      },
      "post": {
        "tags": [
          "Table View"
        ],
        "summary": "Add rows to end of table",
        "description": "Insert new rows at the end of the specified table view.",
        "operationId": "InsertTableRowsInView",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "view_id",
            "description": "The UUID of the table view where rows are to be added.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "View Id"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTableRows"
            },
            "x-ms-summary": "CreateTableRows Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully added rows to the table view.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "publicId": {
                        "type": "string"
                      },
                      "rowData": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "sortOrder": {
                        "type": "number"
                      }
                    }
                  },
                  "additionalProperties": false
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Table view not found."
          }
        }
      },
      "put": {
        "tags": [
          "Table View"
        ],
        "summary": "Update existing rows",
        "description": "Update existing rows in a specified table view.",
        "operationId": "UpdateTableRowsInView",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "view_id",
            "description": "The UUID of the table view where rows are to be updated.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "View Id"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTableRows"
            },
            "x-ms-summary": "UpdateTableRows Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated rows in the table view.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "publicId": {
                        "type": "string"
                      },
                      "rowData": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "sortOrder": {
                        "type": "number"
                      }
                    }
                  },
                  "additionalProperties": false
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Table view not found."
          }
        }
      }
    },
    "/v1/table/views/{view_id}/csv": {
      "get": {
        "tags": [
          "Table View"
        ],
        "summary": "Download view data as a csv file",
        "description": "Download the data of a specific table view in CSV format.",
        "operationId": "DownloadTableViewCSV",
        "produces": [
          "text/csv"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "view_id",
            "description": "The UUID of the table view to be downloaded as CSV.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "View Id"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filters to apply to the CSV data.",
            "type": "string",
            "x-ms-summary": "Filter"
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sorting parameters for the CSV data.",
            "type": "string",
            "x-ms-summary": "Sort"
          },
          {
            "in": "query",
            "name": "process_id",
            "description": "Optional UUID of a process to filter the data.",
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Process Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully downloaded the table view data as a CSV file.",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Table view not found or process not found."
          }
        }
      }
    },
    "/v1/table/{table_id}/column/{column_id}/distinct": {
      "get": {
        "tags": [
          "Table"
        ],
        "summary": "Get Unique Values for a Column",
        "description": "Retrieve a list of distinct (unique) values for a specified column in a table.",
        "operationId": "GetDistinctValuesForColumn",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "table_id",
            "description": "UUID of the table containing the column",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Table Id"
          },
          {
            "in": "path",
            "name": "column_id",
            "description": "UUID of the column for which to retrieve distinct values",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Column Id"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter criteria for the distinct values",
            "type": "string",
            "x-ms-summary": "Filter"
          },
          {
            "in": "query",
            "name": "group_columns",
            "description": "Specify columns for grouping values",
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Group Columns"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of unique values for the specified column.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Table or column not found."
          }
        }
      }
    },
    "/v1/table/{table_id}/column/{column_id}/restore": {
      "put": {
        "tags": [
          "Table"
        ],
        "summary": "Restore Table Column",
        "description": "Restore a previously deleted column in a table.",
        "operationId": "RestoreTableColumn",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "table_id",
            "description": "UUID of the table containing the column to be restored",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Table Id"
          },
          {
            "in": "path",
            "name": "column_id",
            "description": "UUID of the column to be restored",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Column Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully restored the column",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/TableColumn"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Table not found."
          }
        }
      }
    },
    "/v1/table/{table_id}/column/{column_id}/views": {
      "get": {
        "tags": [
          "Table"
        ],
        "summary": "Check Views Column Is Used In",
        "description": "Retrieve all views in which a specific table column is used.",
        "operationId": "CheckColumnInViews",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "table_id",
            "description": "UUID of the table containing the column",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Table Id"
          },
          {
            "in": "path",
            "name": "column_id",
            "description": "UUID of the column to check in views",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Column Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of views using the specified column",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TableView"
                  }
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Table column not found."
          }
        }
      }
    },
    "/v1/table/{table_id}/views/duplicate-default": {
      "post": {
        "tags": [
          "Table View"
        ],
        "summary": "Duplicate the default view for a table",
        "description": "Create a duplicate of the default view for a specific table.",
        "operationId": "DuplicateDefaultTableView",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "table_id",
            "description": "The UUID of the table for which the default view is to be duplicated.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Table Id"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDuplicateDefaultTableView"
            },
            "x-ms-summary": "CreateDuplicateDefaultTableView Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully duplicated the default table view.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/TableView"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized action - User lacks necessary permissions."
          },
          "404": {
            "description": "Table or view not found."
          }
        }
      }
    },
    "/v1/table/{table_id}/views/{view_id}/duplicate": {
      "post": {
        "tags": [
          "Table View"
        ],
[...]
