{
  "swagger": "2.0",
  "info": {
    "title": "WordLift GraphQL",
    "description": "Provides access to the WordLift GraphQL API, allowing for queries to extract entity data from a Knowledge Graph built with WordLift. Supports a wide range of operations for enhanced data extraction.",
    "version": "1.0",
    "contact": {
      "name": "WordLift Support",
      "url": "https://wordlift.io",
      "email": "support@wordlift.io"
    }
  },
  "host": "api.wordlift.io",
  "basePath": "/graphql",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Execute a GraphQL query",
        "description": "Provides access to the WordLift GraphQL API, allowing for queries to extract in read-only entity data from a Knowledge Graph built with WordLift. Supports a wide range of operations for enhanced data extraction.",
        "operationId": "executeGraphQL",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-summary": "Content Type header",
            "description": "The request content type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-summary": "Accept header",
            "description": "The accept type"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "x-ms-summary": "Request Body",
            "description": "The GraphQL request body",
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "query"
                },
                "variables": {
                  "type": "object",
                  "properties": {},
                  "description": "variables"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-openai-manifest": {
    "humanName": "WordLift GraphQL",
    "modelDescription": "Provides access to the WordLift GraphQL API, allowing for queries related to entity data on WordLift's Knowledge Graphs. Here is an example of query for entities of type Organization:\n\nquery {\n\torganizations{\n\t\tiri: iri\n\t\ttypes: strings(name: \"rdf:type\")\n\t\ttitle: string(name: \"schema:name\")\n\t\tdescription: string(name: \"schema:description\")\n\t}\n}",
    "contactEmail": "support@wordlift.io",
    "legalUrl": "https://wordlift.io/terms-of-service/"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://wordlift.io"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://wordlift.io/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Website"
    }
  ]
}
