{
  "swagger": "2.0",
  "info": {
    "title": "CPSC Recalls Retrieval",
    "description": "The United States Consumer Product Safety Commission provides accessibility to recalls via this recall service. Searches can be done by title, product name, and description keywords.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "www.saferproducts.gov",
  "basePath": "/RestWebServices/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/Recall": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "RecallID": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The recall identifier.",
                    "title": "Recall ID"
                  },
                  "RecallNumber": {
                    "type": "string",
                    "description": "The recall number.",
                    "title": "Recall Number"
                  },
                  "RecallDate": {
                    "type": "string",
                    "description": "The recall date.",
                    "title": "Recall Date"
                  },
                  "Description": {
                    "type": "string",
                    "description": "The description.",
                    "title": "Description"
                  },
                  "URL": {
                    "type": "string",
                    "description": "The URL address.",
                    "title": "URL"
                  },
                  "Title": {
                    "type": "string",
                    "description": "The title.",
                    "title": "Title"
                  },
                  "ConsumerContact": {
                    "type": "string",
                    "description": "The consumer contact.",
                    "title": "Consumer Contact"
                  },
                  "LastPublishDate": {
                    "type": "string",
                    "description": "The last publish date.",
                    "title": "Last Publish Date"
                  },
                  "Products": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "Description": {
                          "type": "string",
                          "description": "The description.",
                          "title": "Description"
                        },
                        "Model": {
                          "type": "string",
                          "description": "The model.",
                          "title": "Model"
                        },
                        "Type": {
                          "type": "string",
                          "description": "The type.",
                          "title": "Type"
                        },
                        "CategoryID": {
                          "type": "string",
                          "description": "The category identifier.",
                          "title": "Category ID"
                        },
                        "NumberOfUnits": {
                          "type": "string",
                          "description": "The number of units.",
                          "title": "Number Of Units"
                        }
                      }
                    },
                    "title": "Products"
                  },
                  "Inconjunctions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        }
                      }
                    },
                    "title": "Inconjunctions"
                  },
                  "Images": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "URL": {
                          "type": "string",
                          "description": "The URL address.",
                          "title": "URL"
                        }
                      }
                    },
                    "title": "Images"
                  },
                  "Injuries": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        }
                      }
                    },
                    "title": "Injuries"
                  },
                  "Manufacturers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "CompanyID": {
                          "type": "string",
                          "description": "The company identifier.",
                          "title": "CompanyID"
                        }
                      }
                    },
                    "title": "Manufacturers"
                  },
                  "Retailers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "CompanyID": {
                          "type": "string",
                          "description": "The company identifier.",
                          "title": "CompanyID"
                        }
                      }
                    },
                    "title": "Retailers"
                  },
                  "Importers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "CompanyID": {
                          "type": "string",
                          "description": "The company identifier.",
                          "title": "CompanyID"
                        }
                      }
                    },
                    "title": "Importers"
                  },
                  "Distributors": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "CompanyID": {
                          "type": "string",
                          "description": "The company identifier.",
                          "title": "CompanyID"
                        }
                      }
                    },
                    "title": "Distributors"
                  },
                  "SoldAtLabel": {
                    "type": "string",
                    "description": "The .",
                    "title": "SoldAtLabel"
                  },
                  "ManufacturerCountries": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Country": {
                          "type": "string",
                          "description": "The country.",
                          "title": "Country"
                        }
                      }
                    },
                    "title": "ManufacturerCountries"
                  },
                  "ProductUPCs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "UPC": {
                          "type": "string",
                          "description": "The UPC code.",
                          "title": "UPC"
                        }
                      }
                    },
                    "title": "ProductUPCs"
                  },
                  "Hazards": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "HazardType": {
                          "type": "string",
                          "description": "The hazard type.",
                          "title": "Hazard Type"
                        },
                        "HazardTypeID": {
                          "type": "string",
                          "description": "The hazard type identifier.",
                          "title": "HazardTypeID"
                        }
                      }
                    },
                    "title": "Hazards"
                  },
                  "Remedies": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        }
                      }
                    },
                    "title": "Remedies"
                  },
                  "RemedyOptions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        }
                      }
                    },
                    "title": "RemedyOptions"
                  }
                }
              }
            }
          }
        },
        "summary": "Get recalls",
        "description": "Retrieve a list of recalls.",
        "operationId": "RecallGet",
        "parameters": [
          {
            "name": "RecallID",
            "in": "query",
            "x-ms-summary": "Recall ID",
            "description": "The recall identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "RecallNumber",
            "in": "query",
            "x-ms-summary": "Recall Number",
            "description": "The recall number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "RecallDateStart",
            "in": "query",
            "x-ms-summary": "Recall Date Start",
            "description": "The recall date start.",
            "required": false,
            "type": "string"
          },
          {
            "name": "RecallDateEnd",
            "in": "query",
            "x-ms-summary": "Recall Date End",
            "description": "The recall date end.",
            "required": false,
            "type": "string"
          },
          {
            "name": "LastPublishDateStart",
            "in": "query",
            "x-ms-summary": "Last Publish Date Start",
            "description": "The last publish date start.",
            "required": false,
            "type": "string"
          },
          {
            "name": "LastPublishDateEnd",
            "in": "query",
            "x-ms-summary": "Last Publish Date End",
            "description": "The last publish date end.",
            "required": false,
            "type": "string"
          },
          {
            "name": "RecallURL",
            "in": "query",
            "x-ms-summary": "Recall URL",
            "description": "The recall URL address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "RecallTitle",
            "in": "query",
            "x-ms-summary": "Recall Title",
            "description": "The recall title.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ConsumerContact",
            "in": "query",
            "x-ms-summary": "Consumer Contact",
            "description": "The consumer contact.",
            "required": false,
            "type": "string"
          },
          {
            "name": "RecallDescription",
            "in": "query",
            "x-ms-summary": "Recall Description",
            "description": "The recall description.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ProductName",
            "in": "query",
            "x-ms-summary": "Product Name",
            "description": "The product name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ProductDescription",
            "in": "query",
            "x-ms-summary": "Product Description",
            "description": "The product description.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ProductModel",
            "in": "query",
            "x-ms-summary": "Product Model",
            "description": "The product model.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ProductType",
            "in": "query",
            "x-ms-summary": "Product Type",
            "description": "The product type.",
            "required": false,
            "type": "string"
          },
          {
            "name": "InconjunctionURL",
            "in": "query",
            "x-ms-summary": "Inconjunction URL",
            "description": "The inconjunction URL address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ImageURL",
            "in": "query",
            "x-ms-summary": "Image URL",
            "description": "The image URL address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Injury",
            "in": "query",
            "x-ms-summary": "Injury",
            "description": "The injury.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Manufacturer",
            "in": "query",
            "x-ms-summary": "Manufacturer",
            "description": "The manufacturer.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Retailer",
            "in": "query",
            "x-ms-summary": "Retailer",
            "description": "The retailer.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Importer",
            "in": "query",
            "x-ms-summary": "Importer",
            "description": "The importer.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Distributor",
            "in": "query",
            "x-ms-summary": "Distributor",
            "description": "The distributor.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ManufacturerCountry",
            "in": "query",
            "x-ms-summary": "Manufacturer Country",
            "description": "The country of manufacture.",
            "required": false,
            "type": "string"
          },
          {
            "name": "UPC",
            "in": "query",
            "x-ms-summary": "UPC",
            "description": "The UPC code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Hazard",
            "in": "query",
            "x-ms-summary": "Hazard",
            "description": "The hazard.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Remedy",
            "in": "query",
            "x-ms-summary": "Remedy",
            "description": "The remedy.",
            "required": false,
            "type": "string"
          },
          {
            "name": "RemedyOption",
            "in": "query",
            "x-ms-summary": "Remedy Option",
            "description": "The remedy option.",
            "required": false,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.cpsc.gov/Recalls/CPSC-Recalls-Application-Program-Interface-API-Information"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.cpsc.gov/About-CPSC/Policies-Statements-and-Directives/Privacy-Policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}