{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "MoreApp Forms",
    "description": "MoreApp is a tool to automate work processes. Save time with Digital Work Orders, Inspections, Reports, and more!",
    "contact": {
      "name": "MoreApp support",
      "url": "https://help.moreapp.com",
      "email": "support@moreapp.com"
    }
  },
  "host": "api.moreapp.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1.0/customers/:customerId:/{formId}/tasks": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "description": "Create a new task.",
        "summary": "Create Task",
        "operationId": "CreateTask",
        "parameters": [
          {
            "name": "formId",
            "description": "Form",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Form",
            "x-ms-dynamic-values": {
              "operationId": "ListForms",
              "value-path": "id",
              "value-title": "meta/name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTaskBody"
            }
          }
        ]
      }
    },
    "/api/v1.0/forms/customer/:customerId:/forms": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ListFormsResponse"
            }
          }
        },
        "summary": "List forms",
        "description": "List forms",
        "operationId": "ListForms",
        "x-ms-visibility": "internal"
      }
    },
    "/api/v1.0/webhooks/customer/:customerId:/subscribers": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "id"
            },
            "timestamp": {
              "type": "string",
              "description": "timestamp"
            },
            "type": {
              "type": "string",
              "description": "type"
            },
            "data": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {},
                  "description": "Form data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "registrationDate": {
                      "type": "string",
                      "description": "registrationDate"
                    },
                    "guid": {
                      "type": "string",
                      "description": "guid"
                    },
                    "compatibilityLevel": {
                      "type": "string",
                      "description": "compatibilityLevel"
                    },
                    "serialNumber": {
                      "type": "integer",
                      "format": "int32",
                      "description": "serialNumber"
                    },
                    "hiddenFields": {
                      "type": "array",
                      "items": {},
                      "description": "hiddenFields"
                    },
                    "device": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "description": "uuid"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "network": {
                          "type": "string",
                          "description": "network"
                        },
                        "userAgent": {
                          "type": "string",
                          "description": "userAgent"
                        }
                      },
                      "description": "device"
                    }
                  },
                  "description": "meta"
                },
                "id": {
                  "type": "string",
                  "description": "Form ID"
                },
                "info": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "integer",
                      "format": "int32",
                      "description": "date"
                    },
                    "userId": {
                      "type": "string",
                      "description": "userId"
                    },
                    "partnerId": {
                      "type": "string",
                      "description": "partnerId"
                    },
                    "customerName": {
                      "type": "string",
                      "description": "customerName"
                    },
                    "formVersionId": {
                      "type": "string",
                      "description": "formVersionId"
                    },
                    "formId": {
                      "type": "string",
                      "description": "formId"
                    },
                    "formName": {
                      "type": "string",
                      "description": "formName"
                    },
                    "paid": {
                      "type": "boolean",
                      "description": "paid"
                    },
                    "copy": {
                      "type": "boolean",
                      "description": "copy"
                    },
                    "price": {
                      "type": "number",
                      "format": "float",
                      "description": "price",
                      "title": ""
                    },
                    "credits": {
                      "type": "integer",
                      "format": "int32",
                      "description": "credits"
                    },
                    "resends": {
                      "type": "integer",
                      "format": "int32",
                      "description": "resends"
                    },
                    "applicationArtifactVersion": {
                      "type": "string",
                      "description": "applicationArtifactVersion"
                    }
                  },
                  "description": "info"
                }
              },
              "description": "data"
            }
          }
        },
        "description": "Webhook trigger data"
      },
      "post": {
        "responses": {},
        "summary": "New Submission",
        "description": "Trigger when a new submission has been filled in.",
        "operationId": "NewSubmission",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true,
                  "title": ""
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "",
                  "default": "Power Automate: New submission",
                  "x-ms-visibility": "internal"
                },
                "type": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "",
                    "x-ms-visibility": "internal"
                  },
                  "description": "type"
                },
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "",
                  "default": "ACTIVE",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "url",
                "status",
                "name"
              ],
              "x-ms-visibility": "internal"
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1.0/webhooks/customer/:customerId1:/subscribers": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "id"
            },
            "timestamp": {
              "type": "string",
              "description": "timestamp"
            },
            "customerId": {
              "type": "integer",
              "format": "int32",
              "description": "customerId"
            },
            "type": {
              "type": "string",
              "description": "type"
            },
            "data": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "integer",
                  "format": "int32",
                  "description": "date"
                },
                "formId": {
                  "type": "string",
                  "description": "formId"
                },
                "registrationId": {
                  "type": "string",
                  "description": "registrationId"
                },
                "taskId": {
                  "type": "string",
                  "description": "taskId"
                },
                "userId": {
                  "type": "string",
                  "description": "userId"
                }
              },
              "description": "data"
            }
          }
        }
      },
      "post": {
        "responses": {},
        "summary": "Task Fulfilled",
        "description": "Triggers when a task has been fulfilled.",
        "operationId": "TaskFulfilled",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true,
                  "title": ""
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "",
                  "default": "Power Automate: Task fulfilled",
                  "x-ms-visibility": "internal"
                },
                "type": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "",
                    "x-ms-visibility": "internal"
                  },
                  "description": "type"
                },
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "",
                  "default": "ACTIVE",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "url",
                "status",
                "name"
              ],
              "x-ms-visibility": "internal"
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1.0/customers/:customerId:/users": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "username": {
                    "type": "string",
                    "description": "username"
                  },
                  "emailAddress": {
                    "type": "string",
                    "description": "emailAddress"
                  },
                  "settings": {
                    "type": "object",
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "description": "firstName"
                      },
                      "lastName": {
                        "type": "string",
                        "description": "lastName"
                      },
                      "language": {
                        "type": "string",
                        "description": "language"
                      },
                      "phoneNumber": {
                        "type": "string",
                        "description": "phoneNumber"
                      },
                      "receiveNewsLetter": {
                        "type": "boolean",
                        "description": "receiveNewsLetter"
                      },
                      "finishedTour": {
                        "type": "boolean",
                        "description": "finishedTour"
                      },
                      "timeZone": {
                        "type": "string",
                        "description": "timeZone"
                      }
                    },
                    "description": "settings"
                  },
                  "emailValidated": {
                    "type": "boolean",
                    "description": "emailValidated"
                  },
                  "grants": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "resourceType": {
                          "type": "string",
                          "description": "resourceType"
                        },
                        "roleId": {
                          "type": "string",
                          "description": "roleId"
                        },
                        "resourceId": {
                          "type": "string",
                          "description": "resourceId"
                        }
                      }
                    },
                    "description": "grants"
                  },
                  "groups": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "groups"
                  },
                  "externallyManaged": {
                    "type": "boolean",
                    "description": "externallyManaged"
                  },
                  "disabled": {
                    "type": "boolean",
                    "description": "disabled"
                  }
                }
              }
            }
          }
        },
        "summary": "List users",
        "description": "List users",
        "operationId": "ListUsers",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    },
    "/api/v1.0/webhooks/customer/{customerId}/subscribers/{webhookId}": {
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "url": {
                  "type": "string",
                  "description": "url"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "type": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "type"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "secret": {
                  "type": "string",
                  "description": "secret"
                }
              }
            }
          }
        },
        "summary": "Delete webhook",
        "description": "Deletes a MoreApp webhook",
        "operationId": "DeleteTrigger",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/api/v1.0/customers/:customerId:/registrationFile/{fileId}/download": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "file"
            }
          }
        },
        "summary": "Download File",
        "description": "Downloads a file.",
        "operationId": "DownloadFile",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "x-ms-summary": "File",
            "description": "File",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/api/v1.0/customers/:customerId:/submissions/{submissionId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "file"
            }
          }
        },
        "summary": "Download Report",
        "operationId": "DownloadReport",
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "x-ms-summary": "submissionId",
            "description": "submissionId",
            "required": true,
            "type": "string"
          },
          {
            "name": "reportNumber",
            "in": "header",
            "x-ms-summary": "reportNumber",
            "description": "reportNumber",
            "required": true,
            "type": "integer",
            "default": 1,
            "x-ms-visibility": "advanced"
          }
        ],
        "description": "Downloads a report."
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://moreapp.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://moreapp.com/privacy"
    },
    {
      "propertyName": "Security policy",
      "propertyValue": "https://moreapp.com/security"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ],
  "definitions": {
    "CreateTaskBody": {
      "type": "object",
      "properties": {
        "recipients": {
          "type": "array",
          "items": {
            "type": "string",
            "title": "",
            "x-ms-dynamic-values": {
              "operationId": "ListUsers",
              "value-path": "id",
              "value-title": "username"
            }
          }
        },
        "message": {
          "type": "string"
        },
        "data": {
          "type": "object"
        },
        "publishInfo": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "default": "IMMEDIATE",
              "title": "",
              "x-ms-visibility": "internal"
            }
          },
          "required": [
            "type"
          ]
        }
      },
      "required": [
        "publishInfo"
      ]
    },
    "ListFormsResponse": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "pusblishedVersion": {
            "type": "object"
          },
          "meta": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              }
            }
          },
          "status": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}