{
  "swagger": "2.0",
  "info": {
    "title": "Yelp",
    "description": "The Yelp connector allows you to get the best local content, points of interest, and user reviews from millions of businesses across 32 countries.",
    "version": "1.1",
    "contact": {
      "name": "Ahmad Najjar",
      "email": "ahmadn82@hotmail.com"
    }
  },
  "host": "api.yelp.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v3/businesses/search": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of business Yelp finds based on the search criteria. Sometimes, the value may exceed 1000. In such case, you still can only get up to 1000 businesses using multiple queries and combinations of the \"limit\" and \"offset\" parameters.",
                  "title": "Total",
                  "x-ms-visibility": "advanced"
                },
                "businesses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "rating": {
                        "type": "number",
                        "format": "float",
                        "description": "Rating for this business (value ranges from 1, 1.5, ... 4.5, 5).",
                        "title": "Rating"
                      },
                      "price": {
                        "type": "string",
                        "description": "Price level of the business. Value is one of $, $$, $$$ and $$$$.",
                        "title": "Price",
                        "x-ms-visibility": "important"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Phone number of the business.",
                        "title": "Phone",
                        "x-ms-visibility": "important"
                      },
                      "id": {
                        "type": "string",
                        "description": "Unique Yelp ID of this business.",
                        "title": "ID",
                        "x-ms-visibility": "important"
                      },
                      "alias": {
                        "type": "string",
                        "description": "Unique Yelp alias of this business. Can contain unicode characters. Example: \"yelp-san-francisco\"",
                        "title": "Alias",
                        "x-ms-visibility": "advanced"
                      },
                      "is_closed": {
                        "type": "boolean",
                        "description": "Whether business has been (permanently) closed",
                        "title": "Is Closed",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "categories": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "alias": {
                              "type": "string",
                              "description": "Alias of a category, when searching for business in certain categories, use alias rather than the title."
                            },
                            "title": {
                              "type": "string",
                              "description": "Title of a category for display purpose."
                            }
                          }
                        },
                        "description": "List of category title and alias pairs associated with this business."
                      },
                      "review_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of reviews for this business.",
                        "title": "Review Count",
                        "x-ms-visibility": "important"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of this business.",
                        "title": "Name",
                        "x-ms-visibility": "important"
                      },
                      "url": {
                        "type": "string",
                        "description": "URL for business page on Yelp.",
                        "title": "URL",
                        "x-ms-visibility": "advanced"
                      },
                      "coordinates": {
                        "type": "object",
                        "properties": {
                          "latitude": {
                            "type": "number",
                            "format": "float",
                            "description": "Latitude of this business.",
                            "title": "Latitude",
                            "x-ms-visibility": "important"
                          },
                          "longitude": {
                            "type": "number",
                            "format": "float",
                            "description": "Longitude of this business.",
                            "title": "Longitude",
                            "x-ms-visibility": "important"
                          }
                        },
                        "description": "Coordinates of this business."
                      },
                      "image_url": {
                        "type": "string",
                        "description": "URL of photo for this business.",
                        "title": "Image URL"
                      },
                      "location": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string",
                            "description": "City of this business",
                            "title": "City"
                          },
                          "country": {
                            "type": "string",
                            "description": "Country code of this business. (ISO 3166-1 alpha-2)",
                            "title": "Country",
                            "x-ms-visibility": "important"
                          },
                          "address2": {
                            "type": "string",
                            "description": "Street address of this business, continued.",
                            "title": "Address 2",
                            "x-ms-visibility": "advanced"
                          },
                          "address3": {
                            "type": "string",
                            "description": "Street address of this business, continued.",
                            "title": "Address 3",
                            "x-ms-visibility": "advanced"
                          },
                          "state": {
                            "type": "string",
                            "description": "State code of this business. ISO 3166-2 (with a few exceptions)",
                            "title": "State",
                            "x-ms-visibility": "advanced"
                          },
                          "address1": {
                            "type": "string",
                            "description": "Street address of this business.",
                            "title": "Address 1",
                            "x-ms-visibility": "important"
                          },
                          "zip_code": {
                            "type": "string",
                            "description": "Zip code of this business.",
                            "title": "Zip Code",
                            "x-ms-visibility": "important"
                          }
                        },
                        "description": "Location of this business, including address, city, state, zip code and country."
                      },
                      "distance": {
                        "type": "number",
                        "format": "float",
                        "description": "Distance in meters from the search location. This returns meters regardless of the locale.",
                        "title": "Distance",
                        "x-ms-visibility": "important"
                      },
                      "transactions": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of Yelp transactions that the business is registered for. Current supported values are pickup, delivery and restaurant_reservation."
                      }
                    }
                  },
                  "description": "List of business Yelp finds based on the search criteria."
                },
                "region": {
                  "type": "object",
                  "properties": {
                    "center": {
                      "type": "object",
                      "properties": {
                        "latitude": {
                          "type": "number",
                          "format": "double",
                          "description": "Latitude position of map bounds center.",
                          "title": "Latitude",
                          "x-ms-visibility": "advanced"
                        },
                        "longitude": {
                          "type": "number",
                          "format": "double",
                          "description": "Longitude position of map bounds center.",
                          "title": "Longitude",
                          "x-ms-visibility": "advanced"
                        }
                      },
                      "description": "Center position of map area."
                    }
                  },
                  "description": "Suggested area in a map to display results in."
                }
              }
            }
          }
        },
        "summary": "Search Businesses",
        "description": "Search for businesses by Term (keyword), category, location, price level, etc. Use this action when you have general info on the biz like name & location but don't know the address.",
        "x-ms-visibility": "important",
        "operationId": "BusinessSearch",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Search term, for example \"restaurants\". The term may also be business names.",
            "x-ms-summary": "Term (Keyword)",
            "x-ms-visibility": "important"
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The geographic area used when searching for businesses. E.g. New York, NYC",
            "x-ms-summary": "Location"
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "type": "number",
            "x-ms-visibility": "advanced",
            "description": "Latitude of the location you want to search nearby.",
            "x-ms-summary": "Latitude",
            "format": "double"
          },
          {
            "name": "longtitude",
            "in": "query",
            "required": false,
            "type": "number",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Longtitude",
            "description": "Longitude of the location you want to search nearby.",
            "format": "double"
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "A suggested search radius in meters. (Max: 40000 m)",
            "x-ms-summary": "Radius",
            "x-ms-visibility": "advanced",
            "format": "int32"
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "(See https://bit.ly/3jnraj5)",
            "x-ms-summary": "Categories"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Default en_US. (See https://bit.ly/3lwvIWU)",
            "x-ms-summary": "Locale"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "advanced",
            "description": "Number of business results to return. Default (20). Max (50)",
            "x-ms-summary": "Limit",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "advanced",
            "description": "Offset the list of returned business results by this amount.",
            "x-ms-summary": "Offset",
            "format": "int32"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Suggestion to the search algorithm that the results be sorted by.",
            "x-ms-summary": "Sort by",
            "enum": [
              "best_match",
              "rating",
              "review_count",
              "distance"
            ]
          },
          {
            "name": "open_now",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-visibility": "advanced",
            "description": "(Default=false). When set to true, only return the businesses open now.",
            "x-ms-summary": "Open Now",
            "enum": [
              false,
              true
            ]
          }
        ]
      }
    },
    "/v3/businesses/search/phone": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total"
                },
                "businesses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "rating": {
                        "type": "number",
                        "format": "float",
                        "description": "rating"
                      },
                      "price": {
                        "type": "string",
                        "description": "price"
                      },
                      "phone": {
                        "type": "string",
                        "description": "phone"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "alias": {
                        "type": "string",
                        "description": "alias"
                      },
                      "categories": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "alias": {
                              "type": "string",
                              "description": "alias"
                            },
                            "title": {
                              "type": "string",
                              "description": "title"
                            }
                          }
                        },
                        "description": "categories"
                      },
                      "review_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "review_count"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      },
                      "coordinates": {
                        "type": "object",
                        "properties": {
                          "latitude": {
                            "type": "number",
                            "format": "float",
                            "description": "latitude"
                          },
                          "longitude": {
                            "type": "number",
                            "format": "float",
                            "description": "longitude"
                          }
                        },
                        "description": "coordinates"
                      },
                      "image_url": {
                        "type": "string",
                        "description": "image_url"
                      },
                      "is_closed": {
                        "type": "boolean",
                        "description": "is_closed"
                      },
                      "location": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string",
                            "description": "city"
                          },
                          "country": {
                            "type": "string",
                            "description": "country"
                          },
                          "address2": {
                            "type": "string",
                            "description": "address2"
                          },
                          "address3": {
                            "type": "string",
                            "description": "address3"
                          },
                          "state": {
                            "type": "string",
                            "description": "state"
                          },
                          "address1": {
                            "type": "string",
                            "description": "address1"
                          },
                          "zip_code": {
                            "type": "string",
                            "description": "zip_code"
                          }
                        },
                        "description": "location"
                      },
                      "transactions": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "transactions"
                      }
                    }
                  },
                  "description": "businesses"
                }
              }
            }
          }
        },
        "summary": "Search Business Phones",
        "description": "Returns a list of businesses based on the provided phone number. Use this action when you only have the phone number or less confident about other matching criteria.",
        "operationId": "PhoneSearch",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Phone",
            "description": "Phone number of the business you want to search for. (like +14159083801)"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Default en_US. (See https://bit.ly/3lwvIWU)",
            "x-ms-summary": "Locale"
          }
        ]
      }
    },
    "/v3/businesses/{id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "alias": {
                  "type": "string",
                  "description": "alias"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "image_url": {
                  "type": "string",
                  "description": "image_url"
                },
                "is_claimed": {
                  "type": "boolean",
                  "description": "is_claimed"
                },
                "is_closed": {
                  "type": "boolean",
                  "description": "is_closed"
                },
                "url": {
                  "type": "string",
                  "description": "url"
                },
                "phone": {
                  "type": "string",
                  "description": "phone"
                },
                "display_phone": {
                  "type": "string",
                  "description": "display_phone"
                },
                "review_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "review_count"
                },
                "categories": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "alias": {
                        "type": "string",
                        "description": "alias"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      }
                    }
                  },
                  "description": "categories"
                },
                "rating": {
                  "type": "number",
                  "format": "float",
                  "description": "rating"
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "address1": {
                      "type": "string",
                      "description": "address1"
                    },
                    "address2": {
                      "type": "string",
                      "description": "address2"
                    },
                    "address3": {
                      "type": "string",
                      "description": "address3"
                    },
                    "city": {
                      "type": "string",
                      "description": "city"
                    },
                    "zip_code": {
                      "type": "string",
                      "description": "zip_code"
                    },
                    "country": {
                      "type": "string",
                      "description": "country"
                    },
                    "state": {
                      "type": "string",
                      "description": "state"
                    },
                    "display_address": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "display_address"
                    },
                    "cross_streets": {
                      "type": "string",
                      "description": "cross_streets"
                    }
                  },
                  "description": "location"
                },
                "coordinates": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "type": "number",
                      "format": "float",
                      "description": "latitude"
                    },
                    "longitude": {
                      "type": "number",
                      "format": "float",
                      "description": "longitude"
                    }
                  },
                  "description": "coordinates"
                },
                "photos": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "photos"
                },
                "price": {
                  "type": "string",
                  "description": "price"
                },
                "hours": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "open": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "is_overnight": {
                              "type": "boolean",
                              "description": "is_overnight"
                            },
                            "start": {
                              "type": "string",
                              "description": "start"
                            },
                            "end": {
                              "type": "string",
                              "description": "end"
                            },
                            "day": {
                              "type": "integer",
                              "format": "int32",
                              "description": "day"
                            }
                          }
                        },
                        "description": "open"
                      },
                      "hours_type": {
                        "type": "string",
                        "description": "hours_type"
                      },
                      "is_open_now": {
                        "type": "boolean",
                        "description": "is_open_now"
                      }
                    }
                  },
                  "description": "hours"
                },
                "transactions": {
                  "type": "array",
                  "items": {},
                  "description": "transactions"
                },
                "special_hours": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "description": "date"
                      },
                      "is_closed": {
                        "type": "string",
                        "description": "is_closed"
                      },
                      "start": {
                        "type": "string",
                        "description": "start"
                      },
                      "end": {
                        "type": "string",
                        "description": "end"
                      },
                      "is_overnight": {
                        "type": "boolean",
                        "description": "is_overnight"
                      }
                    }
                  },
                  "description": "special_hours"
                }
              }
            }
          }
        },
        "summary": "Get Business Details",
        "description": "Get rich business data, such as name, address, phone number, photos, Yelp rating, price levels and hours of operation.",
        "operationId": "BusinessDetails",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique Yelp ID of this business.",
            "x-ms-summary": "ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Default en_US. (See https://bit.ly/3lwvIWU)",
            "x-ms-summary": "Locale"
          }
        ]
      }
    },
    "/v3/businesses/matches": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "location": {
                    "type": "object",
                    "properties": {
                      "address1": {
                        "type": "string",
                        "description": "address1"
                      },
                      "address2": {
                        "type": "string",
                        "description": "address2"
                      },
                      "address3": {
                        "type": "string",
                        "description": "address3"
                      },
                      "city": {
                        "type": "string",
                        "description": "city"
                      },
                      "state": {
                        "type": "string",
                        "description": "state"
                      },
                      "zip_code": {
                        "type": "string",
                        "description": "zip_code"
                      },
                      "country": {
                        "type": "string",
                        "description": "country"
                      }
                    },
                    "description": "location"
                  },
                  "coordinates": {
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "type": "number",
                        "format": "float",
                        "description": "latitude"
                      },
                      "longitude": {
                        "type": "number",
                        "format": "float",
                        "description": "longitude"
                      }
                    },
                    "description": "coordinates"
                  },
                  "phone": {
                    "type": "string",
                    "description": "phone"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "alias": {
                    "type": "string",
                    "description": "alias"
                  }
                }
              }
            }
          }
        },
        "summary": "Find Business Match",
        "description": "Find the Yelp business that matches an exact input location. Use this action to match business data from other sources with Yelp businesses.",
        "operationId": "BusinessMatch",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The name of the business. Maximum length is 64; only digits, letters, spaces, and !#$%&+,­./:?@'are allowed.",
            "x-ms-summary": "Name",
            "x-ms-visibility": "important"
          },
          {
            "name": "address1",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The first line of the business’s address. Maximum length is 64; only digits, letters, spaces, and ­’/#&,.: are allowed. The empty string \"\" is allowed; this will specifically match certain service businesses that have no street address.",
            "x-ms-summary": "Address 1",
            "x-ms-visibility": "important"
          },
          {
            "name": "address2",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The second line of the business’s address. Maximum length is 64; only digits, letters, spaces, and ­’/#&,.: are allowed.",
            "x-ms-summary": "Address 2",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "address3",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The third line of the business’s address. Maximum length is 64; only digits, letters, spaces, and ­’/#&,.: are allowed.",
            "x-ms-summary": "Address 3",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The city of the business. Maximum length is 64; only digits, letters, spaces, and ­’.() are allowed.",
            "x-ms-summary": "City",
            "x-ms-visibility": "important"
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The ISO 3166-2 (with a few exceptions) state code of this business. Maximum length is 3.",
            "x-ms-summary": "State",
            "x-ms-visibility": "important"
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The ISO 3166-1 alpha-2 country code of this business. Maximum length is 2.",
            "x-ms-summary": "Country",
            "x-ms-visibility": "important"
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "type": "number",
            "description": "The WGS84 latitude of the business in decimal degrees. Must be between ­-90 and +90.",
            "x-ms-summary": "Latitude",
            "x-ms-visibility": "advanced",
            "format": "double"
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "type": "number",
            "description": "The WGS84 longitude of the business in decimal degrees. Must be between ­-180 and +180.",
            "x-ms-summary": "Longitude",
            "x-ms-visibility": "advanced",
            "format": "double"
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The phone number of the business which can be submitted as (a) locally ­formatted with digits only (e.g., 016703080) or (b) internationally­ formatted with a leading + sign and digits only after (+35316703080). Maximum length is 32.",
            "x-ms-summary": "Phone",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "zip_code",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The Zip code of this business.",
            "x-ms-summary": "Zip Code",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "yelp_business_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Unique Yelp identifier of the business if available. Used as a hint when finding a matching business.",
            "x-ms-summary": "Yelp Business ID",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Maximum number of business results to return. By default, it will return 3. Minimum is 1, maximum is 10.",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "advanced",
            "format": "int32"
          },
          {
            "name": "match_threshold",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specifies whether a match quality threshold should be applied to the matched businesses. Must be one of 'none', 'default' or 'strict'. none: Do not apply any match quality threshold; all potential business matches will be returned. default: Apply a match quality threshold such that only very closely matching businesses will be returned. strict: Apply a very strict match quality threshold.",
            "x-ms-summary": "Match Threshold",
            "x-ms-visibility": "advanced",
            "format": "int32",
            "enum": [
              "none",
              "default",
              "strict"
            ]
          }
        ]
      }
    },
    "/v3/businesses/{id}/reviews": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "reviews": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "rating": {
                        "type": "integer",
                        "format": "int32",
                        "description": "rating"
                      },
                      "user": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "profile_url": {
                            "type": "string",
                            "description": "profile_url"
                          },
                          "image_url": {
                            "type": "string",
                            "description": "image_url"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          }
                        },
                        "description": "user"
                      },
                      "text": {
                        "type": "string",
                        "description": "text"
                      },
                      "time_created": {
                        "type": "string",
                        "description": "Time created"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      }
                    }
                  },
                  "description": "reviews"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total"
                },
                "possible_languages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Possible languages"
                }
              }
            }
          }
        },
        "summary": "Get Reviews",
        "description": "Get up to three review excerpts for a business.",
        "operationId": "Reviews",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique Yelp ID of this business.",
            "x-ms-summary": "ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Default en_US. (See https://bit.ly/3lwvIWU)",
            "x-ms-summary": "Locale"
          }
        ]
      }
    },
    "/v3/autocomplete": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "terms": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string",
                        "description": "text"
                      }
                    }
                  },
                  "description": "terms"
                },
                "businesses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "text": {
                        "type": "string",
                        "description": "text"
                      }
                    }
                  },
                  "description": "businesses"
                },
                "categories": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "alias": {
                        "type": "string",
                        "description": "alias"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      }
                    }
                  },
                  "description": "categories"
                }
              }
            }
          }
        },
        "summary": "Autocomplete",
        "description": "Provide autocomplete suggestions for businesses, search keywords and categories.",
        "operationId": "Autocomplete",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Text to return autocomplete suggestions for.",
            "x-ms-summary": "Text",
            "x-ms-visibility": "important"
          },
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "type": "number",
            "description": "Required if want to get autocomplete suggestions for businesses. Latitude of the location to look for business autocomplete suggestions.",
            "x-ms-summary": "Latitude",
            "x-ms-visibility": "important",
            "format": "double"
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "type": "number",
            "x-ms-visibility": "important",
            "description": "Required if want to get autocomplete suggestions for businesses. Longitude of the location to look for business autocomplete suggestions.",
            "x-ms-summary": "Longitude",
            "format": "double"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Default en_US. (See https://bit.ly/3lwvIWU)",
            "x-ms-summary": "Locale"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.yelp.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://terms.yelp.com/privacy/"
    }
  ]
}