{
  "swagger": "2.0",
  "info": {
    "title": "Zoho Invoice Basic",
    "description": "Customize and create professional invoices, and get paid for your hard work. Zoho Invoice is online invoice management software for small businesses that is easy-to-use and completely free, forever.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.troystaylor.com",
      "email": "troy@troystaylor.com"
    }
  },
  "host": "www.zohoapis.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/invoice/v3/contacts": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The status code.",
                  "title": "Status Code"
                },
                "message": {
                  "type": "string",
                  "description": "The status message.",
                  "title": "Status Message"
                },
                "contact": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "contact_id": {
                        "type": "string",
                        "description": "The contact identifier.",
                        "title": "Contact ID"
                      },
                      "contact_name": {
                        "type": "string",
                        "description": "The contact name.",
                        "title": "Contact Name"
                      },
                      "company_name": {
                        "type": "string",
                        "description": "The company name.",
                        "title": "Company Name"
                      },
                      "contact_type": {
                        "type": "string",
                        "description": "The contact type.",
                        "title": "Contact Type"
                      },
                      "payment_terms": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The payment terms.",
                        "title": "Payment Terms"
                      },
                      "payment_terms_label": {
                        "type": "string",
                        "description": "The payment terms label.",
                        "title": "Payment Terms Label"
                      },
                      "currency_id": {
                        "type": "string",
                        "description": "The currency identifier.",
                        "title": "Currency ID"
                      },
                      "currency_code": {
                        "type": "string",
                        "description": "The currency code.",
                        "title": "Currency Code"
                      },
                      "outstanding_receivable_amount": {
                        "type": "number",
                        "format": "double",
                        "description": "The outstanding receivable amount.",
                        "title": "Outstanding Receivable Amount"
                      },
                      "unused_credits_receivable_amount": {
                        "type": "number",
                        "format": "double",
                        "description": "The unused credits receivable amount.",
                        "title": "Unused Credits Receivable Amount"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "created_time": {
                        "type": "string",
                        "description": "The created time.",
                        "title": "Created Time"
                      },
                      "last_modified_time": {
                        "type": "string",
                        "description": "The last modified time.",
                        "title": "Last Modified Time"
                      }
                    },
                    "title": "Contact"
                  }
                }
              }
            }
          }
        },
        "summary": "Get contacts",
        "description": "Retrieve a list of all contacts with pagination.",
        "operationId": "ContactsGet",
        "parameters": [
          {
            "name": "contact_name",
            "in": "query",
            "x-ms-summary": "Contact Name",
            "description": "The contact name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "company_name",
            "in": "query",
            "x-ms-summary": "Company ID",
            "description": "The company identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "first_name",
            "in": "query",
            "x-ms-summary": "First Name",
            "description": "The first name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "last_name",
            "in": "query",
            "x-ms-summary": "Last Nam",
            "description": "The last name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "address",
            "in": "query",
            "x-ms-summary": "Address",
            "description": "The address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "x-ms-summary": "Email",
            "description": "The email address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "query",
            "x-ms-summary": "Phone",
            "description": "The phone address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter_by",
            "in": "query",
            "x-ms-summary": "Filter By",
            "description": "The filter by.",
            "required": false,
            "type": "string",
            "enum": [
              "Status.All",
              "Status.Active",
              "Status.Inactive",
              "Status.Duplicate",
              "Status.Crm"
            ]
          },
          {
            "name": "search_text",
            "in": "query",
            "x-ms-summary": "Search Text",
            "description": "The search text.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort_column",
            "in": "query",
            "x-ms-summary": "Sort Column",
            "description": "The sort column.",
            "required": false,
            "type": "string",
            "enum": [
              "contact_name",
              "first_name",
              "last_name",
              "email",
              "outstanding_receivable_amount",
              "created_time",
              "last_modified_time"
            ]
          },
          {
            "name": "zcrm_contact_id",
            "in": "query",
            "x-ms-summary": "Zoho CRM Contact ID",
            "description": "The Zoho CRM contact identifier.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "zcrm_account_id",
            "in": "query",
            "x-ms-summary": "Zoho CRM Account ID",
            "description": "The Zoho CRM account identifier.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "x-ms-summary": "Per Page",
            "description": "The per page number.",
            "required": false,
            "type": "integer"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The status code.",
                  "title": "Status Code"
                },
                "message": {
                  "type": "string",
                  "description": "The status message.",
                  "title": "Status Message"
                },
                "contact": {
                  "type": "object",
                  "properties": {
                    "contact_id": {
                      "type": "string",
                      "description": "The contact identifier.",
                      "title": "Contact ID"
                    },
                    "contact_name": {
                      "type": "string",
                      "description": "The contact name.",
                      "title": "Contact Name"
                    },
                    "company_name": {
                      "type": "string",
                      "description": "The company name.",
                      "title": "Company Name"
                    },
                    "has_transaction": {
                      "type": "boolean",
                      "description": "Whether has transaction.",
                      "title": "Has Transaction"
                    },
                    "contact_type": {
                      "type": "string",
                      "description": "The contact type.",
                      "title": "Contact Type"
                    },
                    "is_taxable": {
                      "type": "boolean",
                      "description": "Whether is taxable.",
                      "title": "Is Taxable"
                    },
                    "tax_id": {
                      "type": "string",
                      "description": "The tax identifier.",
                      "title": "Tax ID"
                    },
                    "tds_tax_id": {
                      "type": "string",
                      "description": "The TDS tax identifier.",
                      "title": "TDS Tax ID"
                    },
                    "tax_name": {
                      "type": "string",
                      "description": "The tax name.",
                      "title": "Tax Name"
                    },
                    "tax_percentage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The tax percentage.",
                      "title": "Tax Percentage"
                    },
                    "tax_authority_id": {
                      "type": "string",
                      "description": "The tax authority identifier.",
                      "title": "Tax Authority ID"
                    },
                    "tax_exemption_id": {
                      "type": "string",
                      "description": "The tax exemption identifier.",
                      "title": "Tax Exemption ID"
                    },
                    "tax_authority_name": {
                      "type": "string",
                      "description": "The tax authority name.",
                      "title": "Tax Authority Name"
                    },
                    "tax_exemption_code": {
                      "type": "string",
                      "description": "The tax exemption code.",
                      "title": "Tax Exemption Code"
                    },
                    "place_of_contact": {
                      "type": "string",
                      "description": "The place of contact.",
                      "title": "Place Of Contact"
                    },
                    "gst_no": {
                      "type": "string",
                      "description": "The GST number.",
                      "title": "GST Number"
                    },
                    "vat_treatment": {
                      "type": "string",
                      "description": "The VAT treatment.",
                      "title": "VAT Treatment"
                    },
                    "tax_treatment": {
                      "type": "string",
                      "description": "The tax treatment.",
                      "title": "Tax Treatment"
                    },
                    "tax_regime": {
                      "type": "string",
                      "description": "The tax regime.",
                      "title": "Tax Regime"
                    },
                    "legal_name": {
                      "type": "string",
                      "description": "The legal name.",
                      "title": "Legal Name"
                    },
                    "is_tds_registered": {
                      "type": "boolean",
                      "description": "Whether the TSD is registered.",
                      "title": "Is TDS Registered"
                    },
                    "gst_treatment": {
                      "type": "string",
                      "description": "The GST treatment.",
                      "title": "GST Treatment"
                    },
                    "is_linked_with_zohocrm": {
                      "type": "boolean",
                      "description": "Whether is linked with Zoho CRM.",
                      "title": "Is Linked With Zoho CRM"
                    },
                    "website": {
                      "type": "string",
                      "description": "The website.",
                      "title": "Website"
                    },
                    "primary_contact_id": {
                      "type": "string",
                      "description": "The primary contact identifier.",
                      "title": "Primary Contact ID"
                    },
                    "payment_terms": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The payment terms.",
                      "title": "Payment Terms"
                    },
                    "payment_terms_label": {
                      "type": "string",
                      "description": "The payment terms label.",
                      "title": "Payment Terms Label"
                    },
                    "currency_id": {
                      "type": "string",
                      "description": "The currency identifier.",
                      "title": "Currency ID"
                    },
                    "currency_code": {
                      "type": "string",
                      "description": "The currency code.",
                      "title": "Currency Code"
                    },
                    "currency_symbol": {
                      "type": "string",
                      "description": "The currency symbol.",
                      "title": "Currency Symbol"
                    },
                    "language_code": {
                      "type": "string",
                      "description": "The language code.",
                      "title": "Language Code"
                    },
                    "outstanding_receivable_amount": {
                      "type": "number",
                      "format": "double",
                      "description": "The outstanding receivable amount.",
                      "title": "Outstanding Receivable Amount"
                    },
                    "outstanding_receivable_amount_bcy": {
                      "type": "number",
                      "format": "double",
                      "description": "The BCY outstanding receivable amount.",
                      "title": "Outstanding Receivable Amount BCY"
                    },
                    "unused_credits_receivable_amount": {
                      "type": "number",
                      "format": "double",
                      "description": "The unused credits receivable amount.",
                      "title": "Unused Credits Receivable Amount"
                    },
                    "unused_credits_receivable_amount_bcy": {
                      "type": "number",
                      "format": "double",
                      "description": "The BCY unused credits receivable amount.",
                      "title": "Unused Credits Receivable Amount BCY"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "payment_reminder_enabled": {
                      "type": "boolean",
                      "description": "Whether payment reminder is enabled.",
                      "title": "Payment Reminder Enabled"
                    },
                    "custom_fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The custom field value.",
                            "title": "Value"
                          },
                          "index": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The index number.",
                            "title": "Index"
                          },
                          "label": {
                            "type": "string",
                            "description": "The label.",
                            "title": "Label"
                          }
                        }
                      },
                      "title": "Custom Field"
                    },
                    "billing_address": {
                      "type": "object",
                      "properties": {
                        "attention": {
                          "type": "string",
                          "description": "The attention name.",
                          "title": "Attention"
                        },
                        "address": {
                          "type": "string",
                          "description": "The address.",
                          "title": "Address"
                        },
                        "street2": {
                          "type": "string",
                          "description": "The street address.",
                          "title": "Street"
                        },
                        "state_code": {
                          "type": "string",
                          "description": "The state code.",
                          "title": "State Code"
                        },
                        "city": {
                          "type": "string",
                          "description": "The city.",
                          "title": "City"
                        },
                        "state": {
                          "type": "string",
                          "description": "The state.",
                          "title": "State"
                        },
                        "zip": {
                          "type": "string",
                          "description": "The zip code.",
                          "title": "Zip"
                        },
                        "country": {
                          "type": "string",
                          "description": "The country.",
                          "title": "Country"
                        },
                        "fax": {
                          "type": "string",
                          "description": "The fax number.",
                          "title": "Fax"
                        },
                        "phone": {
                          "type": "string",
                          "description": "The phone number.",
                          "title": "Phone"
                        }
                      },
                      "title": "Billing"
                    },
                    "shipping_address": {
                      "type": "object",
                      "properties": {
                        "attention": {
                          "type": "string",
                          "description": "The attention name.",
                          "title": "Attention"
                        },
                        "address": {
                          "type": "string",
                          "description": "The address.",
                          "title": "Address"
                        },
                        "street2": {
                          "type": "string",
                          "description": "The street address.",
                          "title": "Street"
                        },
                        "state_code": {
                          "type": "string",
                          "description": "The state code.",
                          "title": "State Code"
                        },
                        "city": {
                          "type": "string",
                          "description": "The city.",
                          "title": "City"
                        },
                        "state": {
                          "type": "string",
                          "description": "The state.",
                          "title": "State"
                        },
                        "zip": {
                          "type": "string",
                          "description": "The zip code.",
                          "title": "Zip"
                        },
                        "country": {
                          "type": "string",
                          "description": "The country.",
                          "title": "Country"
                        },
                        "fax": {
                          "type": "string",
                          "description": "The fax number.",
                          "title": "Fax"
                        },
                        "phone": {
                          "type": "string",
                          "description": "The phone number.",
                          "title": "Phone"
                        }
                      },
                      "title": "Shipping"
                    },
                    "facebook": {
                      "type": "string",
                      "description": "The Facebook account.",
                      "title": "Facebook"
                    },
                    "twitter": {
                      "type": "string",
                      "description": "The Twitter handle.",
                      "title": "Twitter"
                    },
                    "contact_persons": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "salutation": {
                            "type": "string",
                            "description": "The salutation.",
                            "title": "Salutation"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "The first name.",
                            "title": "First Name"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "The last name.",
                            "title": "Last Name"
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address.",
                            "title": "Email"
                          },
                          "phone": {
                            "type": "string",
                            "description": "The phone number.",
                            "title": "Phone"
                          },
                          "mobile": {
                            "type": "string",
                            "description": "The mobile number.",
                            "title": "Mobile"
                          },
                          "is_primary_contact": {
                            "type": "boolean",
                            "description": "Whether is primary contact.",
                            "title": "Is Primary Contact"
                          }
                        }
                      },
                      "title": "Contact Persons"
                    },
                    "default_templates": {
                      "type": "object",
                      "properties": {
                        "invoice_template_id": {
                          "type": "string",
                          "description": "The invoice template identifier.",
                          "title": "Invoice Template ID"
                        },
                        "invoice_template_name": {
                          "type": "string",
                          "description": "The invoice template name.",
                          "title": "Invoice Template Name"
                        },
                        "estimate_template_id": {
                          "type": "string",
                          "description": "The estimate template identifier.",
                          "title": "Estimate Template ID"
                        },
                        "estimate_template_name": {
                          "type": "string",
                          "description": "The estimate template name.",
                          "title": "Estimate Template Name"
                        },
                        "creditnote_template_id": {
                          "type": "string",
                          "description": "The credit note template identifier.",
                          "title": "Credit Note Template ID"
                        },
                        "creditnote_template_name": {
                          "type": "string",
                          "description": "The credit note template name.",
                          "title": "Credit Note Template Name"
                        },
                        "invoice_email_template_id": {
                          "type": "string",
                          "description": "The invoice email template identifier.",
                          "title": "Invoice Email Template ID"
                        },
                        "invoice_email_template_name": {
                          "type": "string",
                          "description": "The invoice email template name.",
                          "title": "Invoice Email Template Name"
                        },
                        "estimate_email_template_id": {
                          "type": "string",
                          "description": "The estimate email template identifier.",
                          "title": "Estimate Email Template ID"
                        },
                        "estimate_email_template_name": {
                          "type": "string",
                          "description": "The estimate email template name.",
                          "title": "Estimate Email Template Name"
                        },
                        "creditnote_email_template_id": {
                          "type": "string",
                          "description": "The credit note email template identifier.",
                          "title": "Credit Note Email Template ID"
                        },
                        "creditnote_email_template_name": {
                          "type": "string",
                          "description": "The credit note email template name.",
                          "title": "Credit Note Email Template Name"
                        }
                      },
                      "title": "Default Templates"
                    },
                    "notes": {
                      "type": "string",
                      "description": "The notes.",
                      "title": "Notes"
                    },
                    "created_time": {
                      "type": "string",
                      "description": "The created time.",
                      "title": "Created Time"
                    },
                    "last_modified_time": {
                      "type": "string",
                      "description": "The last modified time.",
                      "title": "Last Modified Time"
                    }
                  },
                  "title": "Contact"
                }
              }
            }
          }
        },
        "summary": "Create a contact",
        "description": "Creates a new contact.",
        "operationId": "ContactPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "contact_name": {
                  "type": "string",
                  "description": "The contact name.",
                  "title": "Contact Name"
                },
                "company_name": {
                  "type": "string",
                  "description": "The company name.",
                  "title": "Company Name"
                },
                "payment_terms": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The payment terms.",
                  "title": "Payment Terms"
                },
                "currency_id": {
                  "type": "string",
                  "description": "The currency identifier.",
                  "title": "Currency ID"
                },
                "website": {
                  "type": "string",
                  "description": "The website.",
                  "title": "Website"
                },
                "custom_fields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "The custom field value.",
                        "title": "Value"
                      },
                      "index": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The index number.",
                        "title": "Index"
                      }
                    }
                  },
                  "title": "Custom Field"
                },
                "billing_address": {
                  "type": "object",
                  "properties": {
                    "attention": {
                      "type": "string",
                      "description": "The attention name.",
                      "title": "Attention"
                    },
                    "address": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "street2": {
                      "type": "string",
                      "description": "The address 2.",
                      "title": "Address 2"
                    },
                    "state_code": {
                      "type": "string",
                      "description": "The state abbreviation.",
                      "title": "State"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "zip": {
                      "type": "string",
                      "description": "The zip code.",
                      "title": "Zip"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    },
                    "fax": {
                      "type": "string",
                      "description": "The fax number.",
                      "title": "Fax"
                    },
                    "phone": {
                      "type": "string",
                      "description": "The phone number.",
                      "title": "Phone"
                    }
                  },
                  "title": "Billing Address"
                },
                "shipping_address": {
                  "type": "object",
                  "properties": {
                    "attention": {
                      "type": "string",
                      "description": "The attention name.",
                      "title": "Attention"
                    },
                    "address": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "street2": {
                      "type": "string",
                      "description": "The address 2.",
                      "title": "Address 2"
                    },
                    "state_code": {
                      "type": "string",
                      "description": "The state abbreviation.",
                      "title": "State"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "zip": {
                      "type": "string",
                      "description": "The zip code.",
                      "title": "Zip"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    },
                    "fax": {
                      "type": "string",
                      "description": "The fax number.",
                      "title": "Fax"
                    },
                    "phone": {
                      "type": "string",
                      "description": "The phone number.",
                      "title": "Phone"
                    }
                  },
                  "title": "Shipping Address"
                },
                "contact_persons": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "salutation": {
                        "type": "string",
                        "description": "The salutation.",
                        "title": "Salutation"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "The first name.",
                        "title": "First Name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "The last name.",
                        "title": "Last Name"
                      },
                      "email": {
                        "type": "string",
                        "description": "The email address.",
                        "title": "Email"
                      },
                      "phone": {
                        "type": "string",
                        "description": "The phone number.",
                        "title": "Phone"
                      },
                      "mobile": {
                        "type": "string",
                        "description": "The mobile number.",
                        "title": "Mobile"
                      },
                      "is_primary_contact": {
                        "type": "boolean",
                        "description": "Whether is primary contact.",
                        "title": "Is Primary Contact"
                      }
                    }
                  },
                  "title": "Contact Person"
                },
                "default_templates": {
                  "type": "object",
                  "properties": {
                    "invoice_template_id": {
                      "type": "string",
                      "description": "The invoice template identifier.",
                      "title": "Invoice Template ID"
                    },
                    "invoice_template_name": {
                      "type": "string",
                      "description": "The invoice template name.",
                      "title": "Invoice Template Name"
                    },
                    "estimate_template_id": {
                      "type": "string",
                      "description": "The estimate template identifier.",
                      "title": "Estimate Template ID"
                    },
                    "estimate_template_name": {
                      "type": "string",
                      "description": "The estimate template name.",
                      "title": "Estimate Template Name"
                    },
                    "creditnote_template_id": {
                      "type": "string",
                      "description": "The credit note template identifier.",
                      "title": "Credit Note Template ID"
                    },
                    "creditnote_template_name": {
                      "type": "string",
                      "description": "The credit note template name.",
                      "title": "Credit Note Template Name"
                    },
                    "invoice_email_template_id": {
                      "type": "string",
                      "description": "The invoice email template identifier.",
                      "title": "Invoice Email Template ID"
                    },
                    "invoice_email_template_name": {
                      "type": "string",
                      "description": "The invoice email template name.",
                      "title": "Invoice Email Template Name"
                    },
                    "estimate_email_template_id": {
                      "type": "string",
                      "description": "The estimate email template identifier.",
                      "title": "Estimate Email Template ID"
                    },
                    "estimate_email_template_name": {
                      "type": "string",
                      "description": "The estimate email template name.",
                      "title": "Estimate Email Template Name"
                    },
                    "creditnote_email_template_id": {
                      "type": "string",
                      "description": "The credit note email template identifier.",
                      "title": "Credit Note Email Template ID"
                    },
                    "creditnote_email_template_name": {
                      "type": "string",
                      "description": "The credit note email template name.",
                      "title": "Credit Note Email Template Name"
                    }
                  },
                  "title": "Default Templates"
                },
                "language_code": {
                  "type": "string",
                  "description": "The language code.",
                  "title": "Language Code",
                  "enum": [
                    "de",
                    "en",
                    "es",
                    "fr",
                    "it",
                    "ja",
                    "nl",
                    "pt",
                    "sv",
                    "zh"
                  ]
                },
                "notes": {
                  "type": "string",
                  "description": "The notes.",
                  "title": "Notes"
                },
                "vat_reg_no": {
                  "type": "string",
                  "description": "The VAT registration number.",
                  "title": "VAT Registration"
                },
                "tax_reg_no": {
                  "type": "string",
                  "description": "The tax registration number.",
                  "title": "Tax Registration"
                },
                "country_code": {
                  "type": "string",
                  "description": "The country code.",
                  "title": "Country Code"
                },
                "vat_treatment": {
                  "type": "string",
                  "description": "The VAT treatment type.",
                  "title": "VAT Treatment"
                },
                "tax_treatment": {
                  "type": "string",
                  "description": "The tax treatment type.",
                  "title": "Tax Treatment"
                },
                "tax_regime": {
                  "type": "string",
                  "description": "The tax regime.",
                  "title": "Tax Regime",
                  "enum": [
                    "general_legal_person",
                    "legal_entities_non_profit",
                    "resident_abroad",
                    "production_cooperative_societies",
                    "agricultural_livestock",
                    "optional_group_of_companies",
                    "coordinated",
                    "wages_salaries_income",
                    "lease",
                    "property_disposal_acquisition",
                    "other_income",
                    "divident_income",
                    "individual_business_professional",
                    "interest_income",
                    "income_obtaining_price",
                    "no_tax_obligation",
                    "tax_incorporation",
                    "income_through_technology_platform",
                    "simplified_trust"
                  ]
                },
                "legal_name": {
                  "type": "string",
                  "description": "The legal name.",
                  "title": "Legal Name"
                },
                "is_tds_registered": {
                  "type": "boolean",
                  "description": "Whether is TDS registered.",
                  "title": "Is TDS Registered"
                },
                "place_of_contact": {
                  "type": "string",
                  "description": "The place of contact.",
                  "title": "Place Of Contact"
                },
                "gst_no": {
                  "type": "string",
                  "description": "The GST number.",
                  "title": "GST Number"
                },
                "gst_treatment": {
                  "type": "string",
                  "description": "The GST treatment type.",
                  "title": "GST Treatment",
                  "enum": [
                    "business_gst",
                    "business_none",
                    "overseas",
                    "consumer"
                  ]
                },
                "tax_authority_name": {
                  "type": "string",
                  "description": "The tax authority name.",
                  "title": "Tax Authority Name"
                },
                "tax_exemption_code": {
                  "type": "string",
                  "description": "The tax exemption code.",
                  "title": "Tax Exemption Code"
                },
                "avatax_exempt_no": {
                  "type": "string",
                  "description": "The AvaTax exempt number.",
                  "title": "AvaTax Exempt"
                },
                "avatax_use_code": {
                  "type": "string",
                  "description": "The AvaTax use code.",
                  "title": "AvaTax Use Code"
                },
                "tax_exemption_id": {
                  "type": "string",
                  "description": "The tax exemption identifier.",
                  "title": "Tax Exemption ID"
                },
                "tax_authority_id": {
                  "type": "string",
                  "description": "The tax authority identifier.",
                  "title": "Tax Authority ID"
                },
                "tax_id": {
                  "type": "string",
                  "description": "The tax identifier.",
                  "title": "Tax ID"
                },
                "tds_tax_id": {
                  "type": "string",
                  "description": "The TDS tax identifier.",
                  "title": "TDS Tax ID"
                },
                "is_taxable": {
                  "type": "boolean",
                  "description": "Whether is taxable.",
                  "title": "Is Taxable"
                },
                "facebook": {
                  "type": "string",
                  "description": "The Facebook username.",
                  "title": "Facebook"
                },
                "twitter": {
                  "type": "string",
                  "description": "The Twitter handle.",
                  "title": "Twitter"
                }
              },
              "required": [
                "contact_name"
              ]
            }
          }
        ]
      }
    },
    "/invoice/v3/contacts/{contact_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The status code.",
                  "title": "Status Code"
                },
                "message": {
                  "type": "string",
                  "description": "The status message.",
                  "title": "Status Message"
                },
                "contact": {
                  "type": "object",
                  "properties": {
                    "contact_id": {
                      "type": "string",
                      "description": "The contact identifier.",
                      "title": "Contact ID"
                    },
                    "contact_name": {
                      "type": "string",
                      "description": "The contact name.",
                      "title": "Contact Name"
                    },
                    "company_name": {
                      "type": "string",
                      "description": "The company name.",
                      "title": "Company Name"
                    },
                    "has_transaction": {
                      "type": "boolean",
                      "description": "Whether has transaction.",
                      "title": "Has Transaction"
                    },
                    "contact_type": {
                      "type": "string",
                      "description": "The contact type.",
                      "title": "Contact Type"
                    },
                    "is_taxable": {
                      "type": "boolean",
                      "description": "Whether is taxable.",
                      "title": "Is Taxable"
                    },
                    "tax_id": {
                      "type": "string",
                      "description": "The tax identifier.",
                      "title": "Tax ID"
                    },
                    "tax_name": {
                      "type": "string",
                      "description": "The tax name.",
                      "title": "Tax Name"
                    },
                    "tax_percentage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The tax percentage.",
                      "title": "Tax Percentage"
                    },
                    "tax_authority_id": {
                      "type": "string",
                      "description": "The tax authority identifier.",
                      "title": "Tax Authority ID"
                    },
                    "tax_exemption_id": {
                      "type": "string",
                      "description": "The tax exemption identifier.",
                      "title": "Tax Exemption ID"
                    },
                    "tax_authority_name": {
                      "type": "string",
                      "description": "The tax authority name.",
                      "title": "Tax Authority Name"
                    },
                    "tax_exemption_code": {
                      "type": "string",
                      "description": "The tax exemption code.",
                      "title": "Tax Exemption Code"
                    },
                    "place_of_contact": {
                      "type": "string",
                      "description": "The place of contact.",
                      "title": "Place Of Contact"
                    },
                    "gst_no": {
                      "type": "string",
                      "description": "The GST number.",
                      "title": "GST Number"
                    },
                    "vat_treatment": {
                      "type": "string",
                      "description": "The VAT treatment.",
                      "title": "VAT Treatment"
                    },
                    "gst_treatment": {
                      "type": "string",
                      "description": "The GST treatment.",
                      "title": "GST Treatment"
                    },
                    "is_linked_with_zohocrm": {
                      "type": "boolean",
                      "description": "Whether is linked with Zoho CRM.",
                      "title": "Is Linked With Zoho CRM"
                    },
                    "website": {
                      "type": "string",
                      "description": "The website.",
                      "title": "Website"
                    },
                    "primary_contact_id": {
                      "type": "string",
                      "description": "The primary contact identifier.",
                      "title": "Primary Contact ID"
                    },
                    "payment_terms": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The payment terms.",
                      "title": "Payment Terms"
                    },
                    "payment_terms_label": {
                      "type": "string",
                      "description": "The payment terms label.",
                      "title": "Payment Terms Label"
                    },
                    "currency_id": {
                      "type": "string",
                      "description": "The currency identifier.",
                      "title": "Currency ID"
                    },
                    "currency_code": {
                      "type": "string",
                      "description": "The currency code.",
                      "title": "Currency Code"
                    },
                    "currency_symbol": {
                      "type": "string",
                      "description": "The currency symbol.",
                      "title": "Currency Symbol"
                    },
                    "outstanding_receivable_amount": {
                      "type": "number",
                      "format": "double",
                      "description": "The outstanding receivable amount.",
                      "title": "Outstanding Receivable Amount"
                    },
                    "outstanding_receivable_amount_bcy": {
                      "type": "number",
                      "format": "double",
                      "description": "The BCY outstanding receivable amount.",
                      "title": "Outstanding Receivable Amount BCY"
                    },
                    "unused_credits_receivable_amount": {
                      "type": "number",
                      "format": "double",
                      "description": "The unused credits receivable amount.",
                      "title": "Unused Credits Receivable Amount"
                    },
                    "unused_credits_receivable_amount_bcy": {
                      "type": "number",
                      "format": "double",
                      "description": "The BCY unused credits receivable amount.",
                      "title": "Unused Credits Receivable Amount BCY"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "facebook": {
                      "type": "string",
                      "description": "The Facebook account.",
                      "title": "Facebook"
                    },
                    "twitter": {
                      "type": "string",
                      "description": "The Twitter handle.",
                      "title": "Twitter"
                    },
                    "payment_reminder_enabled": {
                      "type": "boolean",
                      "description": "Whether payment reminder is enabled.",
                      "title": "Payment Reminder Enabled"
                    },
                    "custom_fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The custom field value.",
                            "title": "Value"
                          },
                          "index": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The index number.",
                            "title": "Index"
                          },
                          "label": {
                            "type": "string",
                            "description": "The label.",
                            "title": "Label"
                          }
                        }
                      },
                      "title": "Custom Field"
                    },
                    "billing_address": {
                      "type": "object",
                      "properties": {
                        "attention": {
                          "type": "string",
                          "description": "The attention name.",
                          "title": "Attention"
                        },
                        "address": {
                          "type": "string",
                          "description": "The address.",
                          "title": "Address"
                        },
                        "street2": {
                          "type": "string",
                          "description": "The street address.",
                          "title": "Street"
                        },
                        "state_code": {
                          "type": "string",
                          "description": "The state code.",
                          "title": "State Code"
                        },
                        "city": {
                          "type": "string",
                          "description": "The city.",
                          "title": "City"
                        },
                        "state": {
                          "type": "string",
                          "description": "The state.",
                          "title": "State"
                        },
                        "zip": {
                          "type": "string",
                          "description": "The zip code.",
                          "title": "Zip"
                        },
                        "country": {
                          "type": "string",
                          "description": "The country.",
                          "title": "Country"
                        },
                        "fax": {
                          "type": "string",
                          "description": "The fax number.",
                          "title": "Fax"
                        },
                        "phone": {
                          "type": "string",
                          "description": "The phone number.",
                          "title": "Phone"
                        }
                      },
                      "title": "Billing"
                    },
                    "shipping_address": {
                      "type": "object",
                      "properties": {
                        "attention": {
                          "type": "string",
                          "description": "The attention name.",
                          "title": "Attention"
                        },
                        "address": {
                          "type": "string",
                          "description": "The address.",
                          "title": "Address"
                        },
                        "street2": {
                          "type": "string",
                          "description": "The street address.",
                          "title": "Street"
                        },
                        "state_code": {
                          "type": "string",
                          "description": "The state code.",
                          "title": "State Code"
                        },
                        "city": {
                          "type": "string",
                          "description": "The city.",
                          "title": "City"
                        },
                        "state": {
                          "type": "string",
                          "description": "The state.",
                          "title": "State"
                        },
                        "zip": {
                          "type": "string",
                          "description": "The zip code.",
                          "title": "Zip"
                        },
                        "country": {
                          "type": "string",
                          "description": "The country.",
                          "title": "Country"
                        },
                        "fax": {
                          "type": "string",
                          "description": "The fax number.",
                          "title": "Fax"
                        },
                        "phone": {
                          "type": "string",
                          "description": "The phone number.",
                          "title": "Phone"
                        }
                      },
                      "title": "Shipping"
                    },
                    "contact_persons": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "salutation": {
                            "type": "string",
                            "description": "The salutation.",
                            "title": "Salutation"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "The first name.",
                            "title": "First Name"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "The last name.",
                            "title": "Last Name"
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address.",
                            "title": "Email"
                          },
                          "phone": {
                            "type": "string",
                            "description": "The phone number.",
                            "title": "Phone"
                          },
                          "mobile": {
                            "type": "string",
                            "description": "The mobile number.",
                            "title": "Mobile"
                          },
                          "is_primary_contact": {
                            "type": "boolean",
                            "description": "Whether is primary contact.",
                            "title": "Is Primary Contact"
                          }
                        }
                      },
                      "title": "Contact Persons"
                    },
                    "default_templates": {
                      "type": "object",
                      "properties": {
                        "invoice_template_id": {
                          "type": "string",
                          "description": "The invoice template identifier.",
                          "title": "Invoice Template ID"
                        },
                        "invoice_template_name": {
                          "type": "string",
                          "description": "The invoice template name.",
                          "title": "Invoice Template Name"
                        },
                        "estimate_template_id": {
                          "type": "string",
                          "description": "The estimate template identifier.",
                          "title": "Estimate Template ID"
                        },
                        "estimate_template_name": {
                          "type": "string",
                          "description": "The estimate template name.",
                          "title": "Estimate Template Name"
                        },
                        "creditnote_template_id": {
                          "type": "string",
                          "description": "The credit note template identifier.",
                          "title": "Credit Note Template ID"
                        },
                        "creditnote_template_name": {
                          "type": "string",
                          "description": "The credit note template name.",
                          "title": "Credit Note Template Name"
                        },
                        "invoice_email_template_id": {
                          "type": "string",
                          "description": "The invoice email template identifier.",
                          "title": "Invoice Email Template ID"
                        },
                        "invoice_email_template_name": {
                          "type": "string",
                          "description": "The invoice email template name.",
                          "title": "Invoice Email Template Name"
                        },
                        "estimate_email_template_id": {
                          "type": "string",
                          "description": "The estimate email template identifier.",
                          "title": "Estimate Email Template ID"
                        },
                        "estimate_email_template_name": {
                          "type": "string",
                          "description": "The estimate email template name.",
                          "title": "Estimate Email Template Name"
                        },
                        "creditnote_email_template_id": {
                          "type": "string",
                          "description": "The credit note email template identifier.",
                          "title": "Credit Note Email Template ID"
                        },
                        "creditnote_email_template_name": {
                          "type": "string",
                          "description": "The credit note email template name.",
                          "title": "Credit Note Email Template Name"
                        }
                      },
                      "title": "Default Templates"
                    },
                    "notes": {
                      "type": "string",
                      "description": "The notes.",
                      "title": "Notes"
                    },
                    "created_time": {
                      "type": "string",
                      "description": "The created time.",
                      "title": "Created Time"
                    },
                    "last_modified_time": {
                      "type": "string",
                      "description": "The last modified time.",
                      "title": "Last Modified Time"
                    }
                  },
                  "title": "Contact"
                }
              }
            }
          }
        },
        "summary": "Get a contact",
        "description": "Retrieve the details of an existing contact.",
        "operationId": "ContactGet",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "x-ms-summary": "Contact ID",
            "x-ms-url-encoding": "single",
            "description": "The contact identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The status code.",
                  "title": "Status Code"
                },
                "message": {
                  "type": "string",
                  "description": "The status message.",
                  "title": "Status Message"
                }
              }
            }
          }
        },
        "summary": "Delete a contact",
        "description": "Deletes an existing contact.",
        "operationId": "ContactDelete",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "x-ms-summary": "Contact ID",
            "x-ms-url-encoding": "single",
            "description": "The contact identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The status code.",
                  "title": "Status Code"
                },
                "message": {
                  "type": "string",
                  "description": "The status message.",
                  "title": "Status Message"
                },
                "contact": {
                  "type": "object",
                  "properties": {
                    "contact_id": {
                      "type": "string",
                      "description": "The contact identifier.",
                      "title": "Contact ID"
                    },
                    "contact_name": {
                      "type": "string",
                      "description": "The contact name.",
                      "title": "Contact Name"
                    },
                    "company_name": {
                      "type": "string",
                      "description": "The company name.",
                      "title": "Company Name"
                    },
                    "has_transaction": {
                      "type": "boolean",
                      "description": "Whether has transaction.",
                      "title": "Has Transaction"
                    },
                    "contact_type": {
                      "type": "string",
                      "description": "The contact type.",
                      "title": "Contact Type"
                    },
                    "is_taxable": {
                      "type": "boolean",
                      "description": "Whether is taxable.",
                      "title": "Is Taxable"
                    },
                    "tax_id": {
                      "type": "string",
                      "description": "The tax identifier.",
                      "title": "Tax ID"
                    },
                    "tds_tax_id": {
                      "type": "string",
                      "description": "The TDS tax identifier.",
                      "title": "TDS Tax ID"
                    },
                    "tax_name": {
                      "type": "string",
                      "description": "The tax name.",
                      "title": "Tax Name"
                    },
                    "tax_percentage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The tax percentage.",
                      "title": "Tax Percentage"
                    },
                    "tax_authority_id": {
                      "type": "string",
                      "description": "The tax authority identifier.",
                      "title": "Tax Authority ID"
                    },
                    "tax_exemption_id": {
                      "type": "string",
                      "description": "The tax exemption identifier.",
                      "title": "Tax Exemption ID"
                    },
                    "tax_authority_name": {
                      "type": "string",
                      "description": "The tax authority name.",
                      "title": "Tax Authority Name"
                    },
                    "tax_exemption_code": {
                      "type": "string",
                      "description": "The tax exemption code.",
                      "title": "Tax Exemption Code"
                    },
                    "place_of_contact": {
                      "type": "string",
                      "description": "The place of contact.",
                      "title": "Place Of Contact"
                    },
                    "gst_no": {
                      "type": "string",
                      "description": "The GST number.",
                      "title": "GST Number"
                    },
                    "vat_treatment": {
                      "type": "string",
                      "description": "The VAT treatment.",
                      "title": "VAT Treatment"
                    },
                    "tax_treatment": {
                      "type": "string",
                      "description": "The tax treatment.",
                      "title": "Tax Treatment"
                    },
                    "tax_regime": {
                      "type": "string",
                      "description": "The tax regime.",
                      "title": "Tax Regime"
                    },
                    "legal_name": {
                      "type": "string",
                      "description": "The legal name.",
                      "title": "Legal Name"
                    },
                    "is_tds_registered": {
                      "type": "boolean",
                      "description": "Whether the TSD is registered.",
                      "title": "Is TDS Registered"
                    },
                    "gst_treatment": {
                      "type": "string",
                      "description": "The GST treatment.",
                      "title": "GST Treatment"
                    },
                    "is_linked_with_zohocrm": {
                      "type": "boolean",
                      "description": "Whether is linked with Zoho CRM.",
                      "title": "Is Linked With Zoho CRM"
                    },
                    "website": {
                      "type": "string",
                      "description": "The website.",
                      "title": "Website"
                    },
                    "primary_contact_id": {
                      "type": "string",
                      "description": "The primary contact identifier.",
                      "title": "Primary Contact ID"
                    },
                    "payment_terms": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The payment terms.",
                      "title": "Payment Terms"
                    },
                    "payment_terms_label": {
                      "type": "string",
                      "description": "The payment terms label.",
                      "title": "Payment Terms Label"
                    },
                    "currency_id": {
                      "type": "string",
                      "description": "The currency identifier.",
                      "title": "Currency ID"
                    },
                    "currency_code": {
                      "type": "string",
                      "description": "The currency code.",
                      "title": "Currency Code"
                    },
                    "currency_symbol": {
                      "type": "string",
                      "description": "The currency symbol.",
                      "title": "Currency Symbol"
                    },
                    "language_code": {
                      "type": "string",
                      "description": "The language code.",
                      "title": "Language Code"
                    },
                    "outstanding_receivable_amount": {
                      "type": "number",
                      "format": "double",
                      "description": "The outstanding receivable amount.",
                      "title": "Outstanding Receivable Amount"
                    },
                    "outstanding_receivable_amount_bcy": {
                      "type": "number",
                      "format": "double",
                      "description": "The BCY outstanding receivable amount.",
                      "title": "Outstanding Receivable Amount BCY"
                    },
                    "unused_credits_receivable_amount": {
                      "type": "number",
                      "format": "double",
                      "description": "The unused credits receivable amount.",
                      "title": "Unused Credits Receivable Amount"
                    },
                    "unused_credits_receivable_amount_bcy": {
                      "type": "number",
                      "format": "double",
                      "description": "The BCY unused credits receivable amount.",
                      "title": "Unused Credits Receivable Amount BCY"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "payment_reminder_enabled": {
                      "type": "boolean",
                      "description": "Whether payment reminder is enabled.",
                      "title": "Payment Reminder Enabled"
                    },
                    "custom_fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The custom field value.",
                            "title": "Value"
                          },
                          "index": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The index number.",
                            "title": "Index"
                          },
                          "label": {
                            "type": "string",
                            "description": "The label.",
                            "title": "Label"
                          }
                        }
                      },
                      "title": "Custom Field"
                    },
                    "billing_address": {
                      "type": "object",
                      "properties": {
                        "attention": {
                          "type": "string",
                          "description": "The attention name.",
                          "title": "Attention"
                        },
                        "address": {
                          "type": "string",
                          "description": "The address.",
                          "title": "Address"
                        },
                        "street2": {
                          "type": "string",
                          "description": "The street address.",
                          "title": "Street"
                        },
                        "state_code": {
                          "type": "string",
                          "description": "The state code.",
                          "title": "State Code"
                        },
                        "city": {
                          "type": "string",
                          "description": "The city.",
                          "title": "City"
                        },
                        "state": {
                          "type": "string",
                          "description": "The state.",
                          "title": "State"
                        },
                        "zip": {
                          "type": "string",
                          "description": "The zip code.",
                          "title": "Zip"
                        },
                        "country": {
                          "type": "string",
                          "description": "The country.",
                          "title": "Country"
                        },
                        "fax": {
                          "type": "string",
                          "description": "The fax number.",
                          "title": "Fax"
                        },
                        "phone": {
                          "type": "string",
                          "description": "The phone number.",
                          "title": "Phone"
                        }
                      },
                      "title": "Billing"
                    },
                    "shipping_address": {
                      "type": "object",
                      "properties": {
                        "attention": {
                          "type": "string",
                          "description": "The attention name.",
                          "title": "Attention"
                        },
                        "address": {
                          "type": "string",
                          "description": "The address.",
                          "title": "Address"
                        },
                        "street2": {
                          "type": "string",
                          "description": "The street address.",
                          "title": "Street"
                        },
                        "state_code": {
                          "type": "string",
                          "description": "The state code.",
                          "title": "State Code"
                        },
                        "city": {
                          "type": "string",
                          "description": "The city.",
                          "title": "City"
                        },
                        "state": {
                          "type": "string",
                          "description": "The state.",
                          "title": "State"
                        },
                        "zip": {
                          "type": "string",
                          "description": "The zip code.",
                          "title": "Zip"
                        },
                        "country": {
                          "type": "string",
                          "description": "The country.",
                          "title": "Country"
                        },
                        "fax": {
                          "type": "string",
                          "description": "The fax number.",
                          "title": "Fax"
                        },
                        "phone": {
                          "type": "string",
                          "description": "The phone number.",
                          "title": "Phone"
                        }
                      },
                      "title": "Shipping"
                    },
                    "facebook": {
                      "type": "string",
                      "description": "The Facebook account.",
                      "title": "Facebook"
                    },
                    "twitter": {
                      "type": "string",
                      "description": "The Twitter handle.",
                      "title": "Twitter"
                    },
                    "contact_persons": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "salutation": {
                            "type": "string",
                            "description": "The salutation.",
                            "title": "Salutation"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "The first name.",
                            "title": "First Name"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "The last name.",
                            "title": "Last Name"
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address.",
                            "title": "Email"
                          },
                          "phone": {
                            "type": "string",
                            "description": "The phone number.",
                            "title": "Phone"
                          },
                          "mobile": {
                            "type": "string",
                            "description": "The mobile number.",
                            "title": "Mobile"
                          },
                          "is_primary_contact": {
                            "type": "boolean",
                            "description": "Whether is primary contact.",
                            "title": "Is Primary Contact"
                          }
                        }
                      },
                      "title": "Contact Persons"
                    },
                    "default_templates": {
                      "type": "object",
                      "properties": {
                        "invoice_template_id": {
                          "type": "string",
                          "description": "The invoice template identifier.",
                          "title": "Invoice Template ID"
                        },
                        "invoice_template_name": {
                          "type": "string",
                          "description": "The invoice template name.",
                          "title": "Invoice Template Name"
                        },
                        "estimate_template_id": {
                          "type": "string",
                          "description": "The estimate template identifier.",
                          "title": "Estimate Template ID"
                        },
                        "estimate_template_name": {
                          "type": "string",
                          "description": "The estimate template name.",
                          "title": "Estimate Template Name"
                        },
                        "creditnote_template_id": {
                          "type": "string",
                          "description": "The credit note template identifier.",
                          "title": "Credit Note Template ID"
                        },
                        "creditnote_template_name": {
                          "type": "string",
                          "description": "The credit note template name.",
                          "title": "Credit Note Template Name"
                        },
                        "invoice_email_template_id": {
                          "type": "string",
                          "description": "The invoice email template identifier.",
                          "title": "Invoice Email Template ID"
                        },
                        "invoice_email_template_name": {
                          "type": "string",
                          "description": "The invoice email template name.",
                          "title": "Invoice Email Template Name"
                        },
                        "estimate_email_template_id": {
                          "type": "string",
                          "description": "The estimate email template identifier.",
                          "title": "Estimate Email Template ID"
                        },
                        "estimate_email_template_name": {
                          "type": "string",
                          "description": "The estimate email template name.",
                          "title": "Estimate Email Template Name"
                        },
                        "creditnote_email_template_id": {
                          "type": "string",
                          "description": "The credit note email template identifier.",
                          "title": "Credit Note Email Template ID"
                        },
                        "creditnote_email_template_name": {
                          "type": "string",
                          "description": "The credit note email template name.",
                          "title": "Credit Note Email Template Name"
                        }
                      },
                      "title": "Default Templates"
                    },
                    "notes": {
                      "type": "string",
                      "description": "The notes.",
                      "title": "Notes"
                    },
                    "created_time": {
                      "type": "string",
                      "description": "The created time.",
                      "title": "Created Time"
                    },
                    "last_modified_time": {
                      "type": "string",
                      "description": "The last modified time.",
                      "title": "Last Modified Time"
                    }
                  },
                  "title": "Contact"
                }
              }
            }
          }
        },
        "summary": "Update a contact",
        "description": "Updates an existing contact.",
        "operationId": "ContactPut",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "x-ms-summary": "Contact ID",
            "x-ms-url-encoding": "single",
            "description": "The contact identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "contact_name": {
                  "type": "string",
                  "description": "The contact name.",
                  "title": "Contact Name"
                },
                "company_name": {
                  "type": "string",
                  "description": "The company name.",
                  "title": "Company Name"
                },
                "payment_terms": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The payment terms.",
                  "title": "Payment Terms"
                },
                "currency_id": {
                  "type": "string",
                  "description": "The currency identifier.",
                  "title": "Currency ID"
                },
                "website": {
                  "type": "string",
                  "description": "The website.",
                  "title": "Website"
                },
                "custom_fields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "The custom field value.",
                        "title": "Value"
                      },
                      "index": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The index number.",
                        "title": "Index"
                      },
                      "label": {
                        "type": "string",
                        "description": "The label.",
                        "title": "Label"
                      }
                    }
                  },
                  "title": "Custom Field"
                },
                "billing_address": {
                  "type": "object",
                  "properties": {
                    "attention": {
                      "type": "string",
                      "description": "The attention name.",
                      "title": "Attention"
                    },
                    "address": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "street2": {
                      "type": "string",
                      "description": "The address 2.",
                      "title": "Address 2"
                    },
                    "state_code": {
                      "type": "string",
                      "description": "The state abbreviation.",
                      "title": "State"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "zip": {
                      "type": "string",
                      "description": "The zip code.",
                      "title": "Zip"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    },
                    "fax": {
                      "type": "string",
                      "description": "The fax number.",
                      "title": "Fax"
                    },
                    "phone": {
                      "type": "string",
                      "description": "The phone number.",
                      "title": "Phone"
                    }
                  },
                  "title": "Billing Address"
                },
                "shipping_address": {
                  "type": "object",
                  "properties": {
                    "attention": {
                      "type": "string",
                      "description": "The attention name.",
                      "title": "Attention"
                    },
                    "address": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "street2": {
                      "type": "string",
                      "description": "The address 2.",
                      "title": "Address 2"
                    },
                    "state_code": {
                      "type": "string",
                      "description": "The state abbreviation.",
                      "title": "State"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "zip": {
                      "type": "string",
                      "description": "The zip code.",
                      "title": "Zip"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    },
                    "fax": {
                      "type": "string",
                      "description": "The fax number.",
                      "title": "Fax"
                    },
                    "phone": {
                      "type": "string",
                      "description": "The phone number.",
                      "title": "Phone"
                    }
                  },
                  "title": "Shipping Address"
                },
                "contact_persons": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "salutation": {
                        "type": "string",
                        "description": "The salutation.",
                        "title": "Salutation"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "The first name.",
                        "title": "First Name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "The last name.",
                        "title": "Last Name"
                      },
                      "email": {
                        "type": "string",
                        "description": "The email address.",
                        "title": "Email"
                      },
                      "phone": {
                        "type": "string",
                        "description": "The phone number.",
                        "title": "Phone"
                      },
                      "mobile": {
                        "type": "string",
                        "description": "The mobile number.",
                        "title": "Mobile"
[...]
