{
  "swagger": "2.0",
  "info": {
    "title": "Process Street",
    "description": "Process Street is a modern process management platform for teams. You can use this connector to run workflows, find and update workflow runs, and trigger actions when a workflow is run or changes.",
    "version": "1.0",
    "contact": {
      "name": "Process Street Support",
      "url": "https://www.process.st/help",
      "email": "support@process.st"
    }
  },
  "host": "public-api.process.st",
  "basePath": "/power-automate/v1.1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.process.st"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.process.st/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Productivity"
    }
  ],
  "paths": {
    "/workflow-runs": {
      "post": {
        "summary": "Run a workflow",
        "x-ms-summary": "Run a workflow",
        "operationId": "CreateWorkflowRun",
        "description": "Starts a workflow run based on a workflow",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateWorkflowRunRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The created workflow run",
            "schema": {
              "$ref": "#/definitions/CreateWorkflowRunResponse"
            }
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "summary": "Get a user",
        "x-ms-summary": "Get a user",
        "description": "Retrieves a user",
        "operationId": "GetUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The ID of the User",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "schema": {
              "$ref": "#/definitions/SimpleUser"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/workflow-runs/{workflowRunId}": {
      "put": {
        "summary": "Update a workflow run",
        "x-ms-summary": "Update a workflow run",
        "description": "Updates a workflow run",
        "operationId": "UpdateWorkflowRun",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workflowRunId",
            "x-ms-summary": "Workflow Run ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "description": "The ID of the Workflow Run",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateWorkflowRunRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated workflow run",
            "schema": {
              "$ref": "#/definitions/WorkflowRunResponse"
            }
          }
        }
      }
    },
    "/workflows": {
      "get": {
        "summary": "Get workflows",
        "x-ms-summary": "Get workflows",
        "x-ms-visibility": "internal",
        "description": "Retrieves all the active workflows",
        "operationId": "ListWorkflows",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The active workflows",
            "schema": {
              "$ref": "#/definitions/ListWorkflowsResponse"
            }
          }
        }
      }
    },
    "/triggers/task-state-changed": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/TaskResponse"
        },
        "description": "Task Trigger Model"
      },
      "post": {
        "summary": "When a task is checked, unchecked or ready",
        "description": "A trigger that will fire each time a task is completed, uncompleted or both, or becomes ready in Process Street",
        "operationId": "CreateTaskStateChangedTrigger",
        "consumes": [
          "application/json"
        ],
        "x-ms-summary": "When a task is checked, unchecked or ready",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTaskStateChangedTriggerRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Task trigger created successfully"
          }
        }
      }
    },
    "/triggers/workflow-run-created": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/WorkflowRunResponse"
        },
        "description": "Workflow Run Trigger Model"
      },
      "post": {
        "responses": {
          "201": {
            "description": "Workflow Run trigger created successfully"
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "When a workflow is run",
        "x-ms-summary": "When a workflow is run",
        "description": "Triggers when a workflow is run",
        "operationId": "CreateWorkflowRunCreatedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTriggerRequest"
            }
          }
        ]
      }
    },
    "/workflows/{workflowId}/tasks": {
      "get": {
        "summary": "Get workflow tasks",
        "description": "Retrieves all the tasks of a workflow",
        "operationId": "ListTasks",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the Workflow",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workflow ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkflows",
              "value-collection": "workflows",
              "value-path": "id",
              "value-title": "name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow tasks",
            "schema": {
              "$ref": "#/definitions/ListTasksResponse"
            }
          }
        },
        "x-ms-summary": "Get workflow tasks",
        "x-ms-visibility": "internal"
      }
    },
    "/workflows/{workflowId}/workflow-runs/search": {
      "post": {
        "summary": "Find workflow runs",
        "description": "Retrieves the most recent 200 active workflow runs that match the query",
        "operationId": "FindWorkflowRuns",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the Workflow",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workflow ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkflows",
              "value-collection": "workflows",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FindWorkflowRunRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The most recent 200 actives workflows runs",
            "schema": {
              "$ref": "#/definitions/FindWorkflowRunsResponse"
            }
          },
          "400": {
            "description": "Invalid value for: body"
          }
        },
        "x-ms-summary": "Find workflow runs"
      }
    },
    "/triggers/workflow-run-completed": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/WorkflowRunResponse"
        },
        "description": "Workflow Run Trigger Model"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Workflow Run trigger created successfully"
          }
        },
        "summary": "When a workflow run is completed",
        "x-ms-summary": "When a workflow run is completed",
        "description": "Triggers when a workflow run is completed",
        "operationId": "CreateWorkflowRunCompletedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTriggerRequest"
            }
          }
        ]
      }
    },
    "/triggers/{triggerId}": {
      "delete": {
        "summary": "Delete Trigger",
        "description": "Deletes a Trigger",
        "operationId": "DeleteTrigger",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "triggerId",
            "in": "path",
            "description": "The ID of the Trigger",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Trigger deleted"
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/dynamic-schemas/workflows/{workflowId}/form-fields": {
      "get": {
        "summary": "Get workflow form fields",
        "x-ms-visibility": "internal",
        "description": "Retrieves all the form fields of a workflow",
        "operationId": "GetSchemaForFormFieldsUpdateByWorkflowId",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the Workflow",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workflow ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkflows",
              "value-collection": "workflows",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "description": "The ID of the Task (Optional)",
            "required": false,
            "type": "string",
            "x-ms-summary": "Task ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The workflow form fields",
            "schema": {
              "$ref": "#/definitions/DynamicSchemaResponse"
            }
          },
          "400": {
            "description": "Invalid value for: query parameter taskId"
          }
        }
      }
    },
    "/workflow-runs/{workflowRunId}/form-fields": {
      "get": {
        "summary": "Get workflow run form fields",
        "description": "Retrieves all the form fields of workflow run",
        "operationId": "ListFormFieldValues",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workflowRunId",
            "in": "path",
            "description": "The ID of the Workflow Run",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workflow Run ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "workflowId",
            "in": "query",
            "description": "The ID of the Workflow",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workflow ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkflows",
              "value-collection": "workflows",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "description": "The ID of the Task (Optional)",
            "required": false,
            "type": "string",
            "x-ms-summary": "Task ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-title": "name",
              "operationId": "ListTasks",
              "value-path": "id",
              "value-collection": "tasks",
              "parameters": {
                "workflowId": {
                  "parameter": "workflowId"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The workflow run form fields",
            "schema": {
              "$ref": "#/definitions/PAListFormFieldValuesResponse"
            }
          },
          "400": {
            "description": "Invalid value for: query parameter workflowId, Invalid value for: query parameter taskId"
          }
        }
      }
    },
    "/workflows/{workflowId}/workflow-runs/{workflowRunId}/form-fields": {
      "post": {
        "summary": "Update workflow run form fields",
        "description": "Updates the workflow run form fields.\nA value may be a string, an array, or accept multiple properties.\nSee the examples for a complete reference on setting workflow run form fields.",
        "operationId": "UpdateFormFieldValuesWithWorkflowId",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the Workflow",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workflow ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkflows",
              "value-collection": "workflows",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "workflowRunId",
            "in": "path",
            "description": "The ID of the Workflow Run",
            "x-ms-summary": "Workflow Run ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Object of form fields to set a new value for, within a particular workflow run.\nOnly field ids that are passed are changed in\nthe workflow run, completely replacing the current value.\nFields not passed remain unchanged.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PAUpdateFormFieldValuesWithWorkflowIdRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated workflow run form fields",
            "schema": {
              "$ref": "#/definitions/UpdateMultipleFormFieldValuesResponse"
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "Get users",
        "description": "Retrieves all the users",
        "operationId": "ListUsers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "workflowRunId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "formFieldId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The users",
            "schema": {
              "$ref": "#/definitions/ListUsersResponse"
            }
          },
          "400": {
            "description": "Invalid value for: query parameter workflowId, Invalid value for: query parameter workflowRunId, Invalid value for: query parameter formFieldId"
          }
        },
        "x-ms-summary": "Get users",
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {
    "CreateTaskStateChangedTriggerRequest": {
      "type": "object",
      "required": [
        "triggerType",
        "url"
      ],
      "properties": {
        "url": {
          "type": "string",
          "description": "url",
          "x-ms-notification-url": true,
          "x-ms-visibility": "internal"
        },
        "workflowId": {
          "type": "string",
          "description": "Workflow ID (Optional)",
          "x-ms-summary": "Workflow ID",
          "x-ms-dynamic-values": {
            "operationId": "ListWorkflows",
            "value-collection": "workflows",
            "value-path": "id",
            "value-title": "name"
          }
        },
        "taskId": {
          "type": "string",
          "description": "Task ID (Optional)",
          "x-ms-summary": "Task ID",
          "x-ms-dynamic-values": {
            "value-title": "name",
            "operationId": "ListTasks",
            "value-path": "id",
            "value-collection": "tasks",
            "parameters": {
              "workflowId": {
                "parameter": "workflowId"
              }
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "ListTasks",
            "itemsPath": "tasks",
            "itemValuePath": "id",
            "itemTitlePath": "name",
            "parameters": {
              "workflowId": {
                "parameterReference": "body/workflowId"
              }
            }
          }
        },
        "triggerType": {
          "type": "string",
          "enum": [
            "Task Checked",
            "Task Unchecked",
            "Task Checked or Unchecked",
            "Task Ready"
          ],
          "x-ms-summary": "Task State"
        }
      }
    },
    "CreateTriggerRequest": {
      "type": "object",
      "required": [
        "url"
      ],
      "properties": {
        "url": {
          "type": "string",
          "description": "url",
          "x-ms-notification-url": true,
          "x-ms-visibility": "internal"
        },
        "workflowId": {
          "type": "string",
          "description": "Workflow ID (Optional)",
          "x-ms-summary": "Workflow ID",
          "x-ms-dynamic-values": {
            "operationId": "ListWorkflows",
            "value-collection": "workflows",
            "value-path": "id",
            "value-title": "name"
          }
        }
      }
    },
    "CreateWorkflowRunRequest": {
      "type": "object",
      "required": [
        "workflowId"
      ],
      "properties": {
        "workflowId": {
          "type": "string",
          "x-ms-summary": "Workflow ID",
          "description": "The ID of the Workflow",
          "x-ms-dynamic-values": {
            "operationId": "ListWorkflows",
            "value-collection": "workflows",
            "value-path": "id",
            "value-title": "name"
          }
        },
        "name": {
          "x-ms-summary": "Name",
          "type": "string",
          "description": "The name of the new Workflow Run"
        },
        "dueDate": {
          "x-ms-summary": "Due Date",
          "description": "The due date of the new Workflow Run (Optional)",
          "type": "string"
        }
      }
    },
    "CreateWorkflowRunResponse": {
      "type": "object",
      "required": [
        "workflowRun"
      ],
      "properties": {
        "workflowRun": {
          "$ref": "#/definitions/WorkflowRunResponse"
        }
      }
    },
    "DynamicSchemaResponse": {
      "type": "object",
      "required": [
        "Schema"
      ],
      "properties": {
        "Schema": {
          "type": "object"
        }
      }
    },
    "ErrorInfo": {
      "type": "object",
      "required": [
        "error"
      ],
      "properties": {
        "error": {
          "type": "string"
        }
      }
    },
    "FindWorkflowRunFormFieldsSchema": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "GetSchemaForFormFieldsUpdateByWorkflowId",
        "value-path": "Schema",
        "parameters": {
          "workflowId": {
            "parameter": "workflowId"
          }
        }
      }
    },
    "FindWorkflowRunRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "assignees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "formFields": {
          "$ref": "#/definitions/FindWorkflowRunFormFieldsSchema"
        }
      }
    },
    "FindWorkflowRunsResponse": {
      "type": "object",
      "properties": {
        "workflowRuns": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkflowRunResponse"
          }
        }
      }
    },
    "JsObject": {
      "type": "object"
    },
    "Link": {
      "type": "object",
      "required": [
        "href",
        "name"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "href": {
          "$ref": "#/definitions/Uri"
        },
        "rel": {
          "$ref": "#/definitions/LinkRel"
        }
      }
    },
    "LinkRel": {
      "type": "string"
    },
    "ListFormFieldValuesResponse": {
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SimplifiedFormFieldValue"
          }
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        }
      }
    },
    "ListTasksResponse": {
      "type": "object",
      "properties": {
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SelectorTask"
          }
        }
      }
    },
    "ListUsersResponse": {
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SelectorUser"
          }
        }
      }
    },
    "ListWorkflowsResponse": {
      "type": "object",
      "properties": {
        "workflows": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SelectorWorkflow"
          }
        }
      }
    },
    "Map_Option_String": {
      "type": "object"
    },
    "Muid": {
      "type": "object",
      "required": [
        "uuid"
      ],
      "properties": {
        "uuid": {
          "type": "string"
        }
      }
    },
    "PAListFormFieldValuesResponse": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "GetSchemaForFormFieldsUpdateByWorkflowId",
        "value-path": "Schema",
        "parameters": {
          "workflowId": {
            "parameter": "workflowId"
          },
          "taskId": {
            "parameter": "taskId"
          }
        }
      }
    },
    "SelectorTask": {
      "type": "object",
      "required": [
        "id",
        "name"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "PAUpdateFormFieldValuesWithWorkflowIdRequest": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "GetSchemaForFormFieldsUpdateByWorkflowId",
        "value-path": "Schema",
        "parameters": {
          "workflowId": {
            "parameter": "workflowId"
          }
        }
      }
    },
    "SelectorUser": {
      "type": "object",
      "required": [
        "email",
        "id",
        "name"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "SelectorWorkflow": {
      "type": "object",
      "required": [
        "id",
        "name"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the Workflow"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "SimpleUser": {
      "type": "object",
      "required": [
        "email",
        "id",
        "timeZone",
        "userType",
        "username"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "userType": {
          "type": "string"
        },
        "timeZone": {
          "type": "string"
        }
      }
    },
    "SimplifiedFormFieldValue": {
      "type": "object",
      "required": [
        "data",
        "id",
        "key",
        "taskId"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "key": {
          "type": "string"
        },
        "data": {
          "type": "object"
        },
        "taskId": {
          "type": "string"
        }
      }
    },
    "TaskResponse": {
      "type": "object",
      "required": [
        "hidden",
        "id",
        "name",
        "status",
        "stopped",
        "taskUrl",
        "updatedById",
        "updatedDate",
        "workflowId",
        "workflowName",
        "workflowRunId",
        "workflowRunUrl",
        "workflowUrl"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the Task"
        },
        "status": {
          "type": "string",
          "enum": [
            "NotCompleted",
            "Completed"
          ]
        },
        "dueDate": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "taskUrl": {
          "type": "string"
        },
        "workflowRunUrl": {
          "type": "string"
        },
        "workflowUrl": {
          "type": "string"
        },
        "workflowName": {
          "type": "string"
        },
        "updatedById": {
          "type": "string"
        },
        "updatedDate": {
          "type": "string"
        },
        "hidden": {
          "type": "boolean"
        },
        "stopped": {
          "type": "boolean"
        },
        "workflowId": {
          "type": "string",
          "description": "The ID of the Workflow"
        },
        "workflowRunId": {
          "type": "string",
          "description": "The ID of the Workflow Run"
        }
      }
    },
    "SimplifiedWorkflow": {
      "type": "object",
      "required": [
        "folderId",
        "free",
        "id",
        "name",
        "public",
        "shareLevel",
        "sharedRunLink",
        "status"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the Workflow"
        },
        "folderId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "sharedRunLink": {
          "type": "boolean"
        },
        "shareLevel": {
          "type": "string"
        },
        "public": {
          "type": "boolean"
        },
        "publicId": {
          "type": "string"
        },
        "publicUrl": {
          "type": "string"
        },
        "free": {
          "type": "boolean"
        },
        "lastRunDate": {
          "type": "string"
        }
      }
    },
    "UpdateMultipleFormFieldValuesResponse": {
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SimplifiedFormFieldValue"
          }
        }
      }
    },
    "UpdateWorkflowRunRequest": {
      "type": "object",
      "required": [
        "name",
        "status",
        "dueDate",
        "shared"
      ],
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "The new name for the Workflow Run"
        },
        "status": {
          "type": "string",
          "x-ms-summary": "Status",
          "description": "The status for the Workflow Run",
          "enum": [
            "Active",
            "Completed",
            "Archived",
            "Deleted"
          ]
        },
        "dueDate": {
          "type": "string",
          "x-ms-summary": "Due Date",
          "description": "The due date for the Workflow Run"
        },
        "shared": {
          "type": "boolean",
          "x-ms-summary": "Shared",
          "description": "Whether or not the Workflow Run is shared (i.e. can be seen without logging in)",
          "enum": [
            "true",
            "false"
          ]
        }
      }
    },
    "WorkflowRunResponse": {
      "type": "object",
      "required": [
        "createdById",
        "createdDate",
        "id",
        "shared",
        "status",
        "updatedById",
        "updatedDate",
        "workflowId",
        "workflowName",
        "workflowRunUrl",
        "workflowUrl"
      ],
      "properties": {
        "completedById": {
          "type": "string"
        },
        "completedDate": {
          "type": "string"
        },
        "createdById": {
          "type": "string"
        },
        "createdDate": {
          "type": "string"
        },
        "dueDate": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "shared": {
          "type": "boolean"
        },
        "status": {
          "type": "string",
          "enum": [
            "Active",
            "Completed",
            "Archived",
            "Deleted"
          ]
        },
        "updatedById": {
          "type": "string"
        },
        "updatedDate": {
          "type": "string"
        },
        "workflowId": {
          "type": "string",
          "description": "The ID of the Workflow"
        },
        "workflowRunUrl": {
          "type": "string"
        },
        "workflowName": {
          "type": "string"
        },
        "workflowUrl": {
          "type": "string"
        }
      }
    },
    "Uri": {
      "type": "string"
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
