{
    "swagger": "2.0",
    "info": {
        "title": "Break the Web",
        "description": "Real-time trending topics and news stories service that provides structured current event data for AI applications. Get access to the top trending stories online or search for specific topics.",
        "version": "1.0.0",
        "contact": {
            "name": "Troy Taylor",
            "email": "troy@troystaylor.com"
        }
    },
    "host": "btw.co",
    "basePath": "/api",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/trends/feed": {
            "get": {
                "operationId": "GetTrendingFeed",
                "summary": "Get trending stories feed",
                "x-ms-summary": "Get Trending Stories Feed",
                "description": "Returns the current top trending stories from across the internet. This endpoint provides real-time structured data about the most important news and events happening right now.",
                "x-ms-visibility": "important",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response with trending stories",
                        "x-ms-summary": "Success",
                        "schema": {
                            "$ref": "#/definitions/TrendingFeedResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid API key",
                        "x-ms-summary": "Unauthorized"
                    },
                    "429": {
                        "description": "Too Many Requests - Rate limit exceeded",
                        "x-ms-summary": "Rate Limited"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "x-ms-summary": "Server Error"
                    }
                }
            }
        },
        "/trends/search": {
            "post": {
                "operationId": "SearchTrends",
                "summary": "Search trending topics",
                "x-ms-summary": "Search Trending Topics",
                "description": "Search for current and historically trending stories based on a free-text query. Returns relevant stories matching your search criteria.",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "x-ms-summary": "Search Request",
                        "description": "Search query parameters",
                        "schema": {
                            "$ref": "#/definitions/SearchRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful search response",
                        "x-ms-summary": "Success",
                        "schema": {
                            "$ref": "#/definitions/SearchResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request - Invalid query",
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Invalid API key",
                        "x-ms-summary": "Unauthorized"
                    },
                    "429": {
                        "description": "Too Many Requests - Rate limit exceeded",
                        "x-ms-summary": "Rate Limited"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "x-ms-summary": "Server Error"
                    }
                }
            }
        },
        "/mcp/invoke": {
            "post": {
                "operationId": "InvokeMCPServer",
                "summary": "Invoke MCP Server",
                "x-ms-summary": "Invoke MCP Server",
                "description": "Sends JSON-RPC 2.0 requests to the Model Context Protocol server for tool execution and capability management.",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "x-ms-summary": "MCP Request",
                        "description": "JSON-RPC 2.0 request for MCP server interaction",
                        "schema": {
                            "$ref": "#/definitions/MCPRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful MCP response",
                        "x-ms-summary": "Success",
                        "schema": {
                            "$ref": "#/definitions/MCPResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request - Invalid JSON-RPC request",
                        "x-ms-summary": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Invalid API key",
                        "x-ms-summary": "Unauthorized"
                    },
                    "404": {
                        "description": "Method not found",
                        "x-ms-summary": "Method Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "x-ms-summary": "Server Error"
                    }
                }
            }
        }
    },
    "definitions": {
        "TrendingFeedResponse": {
            "type": "object",
            "properties": {
                "Memo": {
                    "type": "string",
                    "x-ms-summary": "API Information",
                    "description": "Information about the BTW API service"
                },
                "Endpoint": {
                    "type": "string",
                    "x-ms-summary": "Endpoint URL",
                    "description": "The API endpoint URL"
                },
                "Timestamp": {
                    "type": "string",
                    "x-ms-summary": "Response Timestamp",
                    "description": "When this response was generated"
                },
                "Stories": {
                    "type": "array",
                    "x-ms-summary": "Trending Stories",
                    "description": "Array of trending news stories",
                    "items": {
                        "$ref": "#/definitions/FeedStory"
                    }
                }
            },
            "required": [
                "Stories"
            ]
        },
        "SearchResponse": {
            "type": "object",
            "properties": {
                "Memo": {
                    "type": "string",
                    "x-ms-summary": "API Information",
                    "description": "Information about the BTW API service"
                },
                "Endpoint": {
                    "type": "string",
                    "x-ms-summary": "Endpoint URL",
                    "description": "The API endpoint URL"
                },
                "Query": {
                    "type": "string",
                    "x-ms-summary": "Search Query",
                    "description": "The search query that was executed"
                },
                "Timestamp": {
                    "type": "string",
                    "x-ms-summary": "Response Timestamp",
                    "description": "When this response was generated"
                },
                "LiveStories": {
                    "type": "array",
                    "x-ms-summary": "Live Stories",
                    "description": "Current trending stories matching the search query",
                    "items": {
                        "$ref": "#/definitions/SearchStory"
                    }
                },
                "HistoricalStories": {
                    "type": "array",
                    "x-ms-summary": "Historical Stories",
                    "description": "Historical stories matching the search query",
                    "items": {
                        "$ref": "#/definitions/SearchStory"
                    }
                }
            }
        },
        "SearchRequest": {
            "type": "object",
            "required": [
                "Query"
            ],
            "properties": {
                "Query": {
                    "type": "string",
                    "x-ms-summary": "Search Query",
                    "description": "Free-text search query to find relevant trending stories",
                    "x-ms-test-value": "artificial intelligence"
                }
            }
        },
        "FeedStory": {
            "type": "object",
            "properties": {
                "Title": {
                    "type": "string",
                    "x-ms-summary": "Story Title",
                    "description": "The main title of the news story"
                },
                "Position": {
                    "type": "integer",
                    "format": "int32",
                    "x-ms-summary": "Trending Position",
                    "description": "Current position in trending rankings"
                },
                "PositionChange": {
                    "type": "integer",
                    "format": "int32",
                    "x-ms-summary": "Position Change",
                    "description": "Change in position from previous ranking"
                },
                "Score": {
                    "type": "number",
                    "format": "float",
                    "x-ms-summary": "Trending Score",
                    "description": "Algorithmic score indicating trending strength"
                },
                "CategoryKeys": {
                    "type": "array",
                    "x-ms-summary": "Categories",
                    "description": "Categories that this story belongs to",
                    "items": {
                        "type": "string"
                    }
                },
                "Body": {
                    "type": "string",
                    "x-ms-summary": "Story Summary",
                    "description": "Brief summary of the news story"
                },
                "Keywords": {
                    "type": "array",
                    "x-ms-summary": "Keywords",
                    "description": "Important keywords associated with this story",
                    "items": {
                        "type": "string"
                    }
                },
                "KeyPoints": {
                    "type": "array",
                    "x-ms-summary": "Key Points",
                    "description": "Main points and highlights from the story",
                    "items": {
                        "type": "string"
                    }
                },
                "KeyFigures": {
                    "type": "array",
                    "x-ms-summary": "Key Figures",
                    "description": "Important people mentioned in the story",
                    "items": {
                        "type": "string"
                    }
                },
                "SentimentLeft": {
                    "type": "string",
                    "x-ms-summary": "Left-Leaning Sentiment",
                    "description": "How left-leaning sources are reporting this story"
                },
                "SentimentRight": {
                    "type": "string",
                    "x-ms-summary": "Right-Leaning Sentiment",
                    "description": "How right-leaning sources are reporting this story"
                },
                "ArticleCount": {
                    "type": "integer",
                    "format": "int32",
                    "x-ms-summary": "Article Count",
                    "description": "Number of articles covering this story"
                },
                "Articles": {
                    "type": "array",
                    "x-ms-summary": "Source Articles",
                    "description": "Sample articles covering this story",
                    "items": {
                        "$ref": "#/definitions/Article"
                    }
                },
                "Qas": {
                    "type": "array",
                    "x-ms-summary": "Questions & Answers",
                    "description": "Common questions and answers about this story",
                    "items": {
                        "$ref": "#/definitions/QuestionAnswer"
                    }
                },
                "Timestamp": {
                    "type": "string",
                    "x-ms-summary": "Story Timestamp",
                    "description": "When this story was first detected as trending"
                },
                "Memo": {
                    "type": "string",
                    "x-ms-summary": "Upgrade Notice",
                    "description": "Information about upgrading to paid service for full story details"
                }
            }
        },
        "SearchStory": {
            "type": "object",
            "properties": {
                "Title": {
                    "type": "string",
                    "x-ms-summary": "Story Title",
                    "description": "The main title of the news story"
                },
                "CategoryKeys": {
                    "type": "array",
                    "x-ms-summary": "Categories",
                    "description": "Categories that this story belongs to",
                    "items": {
                        "type": "string"
                    }
                },
                "Body": {
                    "type": "string",
                    "x-ms-summary": "Story Summary",
                    "description": "Brief summary of the news story"
                },
                "Keywords": {
                    "type": "array",
                    "x-ms-summary": "Keywords",
                    "description": "Important keywords associated with this story",
                    "items": {
                        "type": "string"
                    }
                },
                "KeyPoints": {
                    "type": "array",
                    "x-ms-summary": "Key Points",
                    "description": "Main points and highlights from the story",
                    "items": {
                        "type": "string"
                    }
                },
                "KeyFigures": {
                    "type": "array",
                    "x-ms-summary": "Key Figures",
                    "description": "Important people mentioned in the story",
                    "items": {
                        "type": "string"
                    }
                },
                "SentimentLeft": {
                    "type": "string",
                    "x-ms-summary": "Left-Leaning Sentiment",
                    "description": "How left-leaning sources are reporting this story"
                },
                "SentimentRight": {
                    "type": "string",
                    "x-ms-summary": "Right-Leaning Sentiment",
                    "description": "How right-leaning sources are reporting this story"
                },
                "ArticleCount": {
                    "type": "integer",
                    "format": "int32",
                    "x-ms-summary": "Article Count",
                    "description": "Number of articles covering this story"
                },
                "Articles": {
                    "type": "array",
                    "x-ms-summary": "Source Articles",
                    "description": "Sample articles covering this story",
                    "items": {
                        "$ref": "#/definitions/Article"
                    }
                },
                "Timestamp": {
                    "type": "string",
                    "x-ms-summary": "Story Timestamp",
                    "description": "When this story was first detected as trending"
                }
            }
        },
        "Article": {
            "type": "object",
            "properties": {
                "Title": {
                    "type": "string",
                    "x-ms-summary": "Article Title",
                    "description": "Title of the source article"
                },
                "Body": {
                    "type": "string",
                    "x-ms-summary": "Article Body",
                    "description": "Brief excerpt from the article"
                },
                "Url": {
                    "type": "string",
                    "x-ms-summary": "Article URL",
                    "description": "Link to the full article"
                },
                "Timestamp": {
                    "type": "string",
                    "x-ms-summary": "Publication Time",
                    "description": "When the article was published"
                }
            }
        },
        "QuestionAnswer": {
            "type": "object",
            "properties": {
                "Question": {
                    "type": "string",
                    "x-ms-summary": "Question",
                    "description": "Frequently asked question about the story"
                },
                "Answer": {
                    "type": "string",
                    "x-ms-summary": "Answer",
                    "description": "Answer to the question based on available information"
                }
            }
        },
        "MCPRequest": {
            "type": "object",
            "required": [
                "jsonrpc",
                "method",
                "id"
            ],
            "properties": {
                "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "x-ms-summary": "JSON-RPC Version",
                    "description": "JSON-RPC protocol version (must be 2.0)"
                },
                "method": {
                    "type": "string",
                    "x-ms-summary": "Method",
                    "description": "The MCP method to invoke (e.g., 'tools/call', 'tools/list', 'initialize')",
                    "enum": [
                        "initialize",
                        "tools/list", 
                        "tools/call",
                        "btw/get_trending_feed",
                        "btw/search_trends"
                    ]
                },
                "params": {
                    "type": "object",
                    "x-ms-summary": "Parameters",
                    "description": "Method-specific parameters",
                    "additionalProperties": true
                },
                "id": {
                    "type": "string",
                    "x-ms-summary": "Request ID",
                    "description": "Unique identifier for the request"
                }
            }
        },
        "MCPResponse": {
            "type": "object",
            "required": [
                "jsonrpc",
                "id"
            ],
            "properties": {
                "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "x-ms-summary": "JSON-RPC Version",
                    "description": "JSON-RPC protocol version"
                },
                "id": {
                    "type": "string",
                    "x-ms-summary": "Request ID",
                    "description": "Matching identifier from the request"
                },
                "result": {
                    "type": "object",
                    "x-ms-summary": "Result",
                    "description": "Successful method execution result",
                    "additionalProperties": true
                },
                "error": {
                    "type": "object",
                    "x-ms-summary": "Error",
                    "description": "Error information if the request failed",
                    "properties": {
                        "code": {
                            "type": "integer",
                            "x-ms-summary": "Error Code",
                            "description": "Error code"
                        },
                        "message": {
                            "type": "string",
                            "x-ms-summary": "Error Message",
                            "description": "Human-readable error message"
                        },
                        "data": {
                            "x-ms-summary": "Error Data",
                            "description": "Additional error information"
                        }
                    }
                }
            }
        }
    },
    "x-ms-capabilities": {
        "testConnection": {
            "operationId": "GetTrendingFeed"
        }
    },
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://btw.co"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://btw.co/privacy"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "AI;Data"
        }
    ]
}