{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Workstem HK",
    "description": "Workstem Hongkong Connector simplifies the data transfer using Workstem API and enables you to leverage your Workstem data for solving business application and integration needs.",
    "contact": {
      "name": "Workstem Support",
      "url": "https://help.workstem.com/en/",
      "email": "support@workstem.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.workstem.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.workstem.com/hk/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations; Human Resources"
    }
  ],
  "host": "server.workstem.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Company"
    },
    {
      "name": "WorkLocation"
    },
    {
      "name": "Department"
    },
    {
      "name": "Position"
    },
    {
      "name": "CostCenter"
    },
    {
      "name": "Label"
    },
    {
      "name": "Employee"
    },
    {
      "name": "Timesheet"
    },
    {
      "name": "Attendance"
    },
    {
      "name": "Leave"
    },
    {
      "name": "Reimbursement"
    },
    {
      "name": "Payroll"
    }
  ],
  "paths": {
    "/v2/workLocation/updateById": {
      "post": {
        "summary": "Update the office location",
        "description": "Update the office location",
        "operationId": "updateLocation",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "WorkLocation"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "x-ms-summary": "name"
                },
                "region": {
                  "type": "string",
                  "description": "region",
                  "x-ms-summary": "region"
                },
                "isEnableGps": {
                  "type": "string",
                  "description": "isEnableGps",
                  "x-ms-summary": "isEnableGps"
                },
                "isEnableBluetooth": {
                  "type": "string",
                  "description": "isEnableBluetooth",
                  "x-ms-summary": "isEnableBluetooth"
                },
                "attendanceAddressCode": {
                  "type": "string",
                  "description": "attendanceAddressCode",
                  "x-ms-summary": "attendanceAddressCode"
                },
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "status"
                },
                "areaCode": {
                  "type": "string",
                  "description": "areaCode",
                  "x-ms-summary": "areaCode"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code",
                  "x-ms-summary": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "message"
                },
                "data": {
                  "type": "boolean",
                  "description": "data",
                  "x-ms-summary": "data"
                }
              }
            }
          }
        }
      }
    },
    "/v2/workLocation/list": {
      "get": {
        "summary": "List of office locations",
        "description": "List of office locations",
        "operationId": "getLocation",
        "tags": [
          "WorkLocation"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "description": "fuzzy query parameter",
            "x-ms-summary": "fuzzy query parameter"
          },
          {
            "name": "current",
            "in": "query",
            "type": "integer",
            "description": "Current page number",
            "x-ms-summary": "Current page number"
          },
          {
            "name": "size",
            "in": "query",
            "type": "integer",
            "description": "The number of pages",
            "x-ms-summary": "The number of pages"
          },
          {
            "name": "region",
            "in": "query",
            "type": "string",
            "description": "Check in range filtering",
            "x-ms-summary": "Check in range filtering"
          },
          {
            "name": "attendanceAddressCode",
            "in": "query",
            "type": "string",
            "description": "Work location number filtering",
            "x-ms-summary": "Work location number filtering"
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "description": "Work location status filtering",
            "x-ms-summary": "Work location status filtering"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code",
                  "x-ms-summary": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "size",
                      "x-ms-summary": "size"
                    },
                    "current": {
                      "type": "integer",
                      "format": "int32",
                      "description": "current",
                      "x-ms-summary": "current"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id",
                            "x-ms-summary": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name",
                            "x-ms-summary": "name"
                          },
                          "address": {
                            "type": "string",
                            "description": "address",
                            "x-ms-summary": "address"
                          },
                          "longitude": {
                            "type": "number",
                            "format": "float",
                            "description": "longitude",
                            "x-ms-summary": "longitude"
                          },
                          "latitude": {
                            "type": "number",
                            "format": "float",
                            "description": "latitude",
                            "x-ms-summary": "latitude"
                          },
                          "region": {
                            "type": "integer",
                            "format": "int32",
                            "description": "region",
                            "x-ms-summary": "region"
                          },
                          "isEnableGps": {
                            "type": "boolean",
                            "description": "isEnableGps",
                            "x-ms-summary": "isEnableGps"
                          },
                          "isEnableBluetooth": {
                            "type": "boolean",
                            "description": "isEnableBluetooth",
                            "x-ms-summary": "isEnableBluetooth"
                          },
                          "attendanceAddressCode": {
                            "type": "string",
                            "description": "attendanceAddressCode",
                            "x-ms-summary": "attendanceAddressCode"
                          },
                          "status": {
                            "type": "string",
                            "description": "status",
                            "x-ms-summary": "status"
                          },
                          "areaType": {
                            "type": "string",
                            "description": "areaType",
                            "x-ms-summary": "areaType"
                          },
                          "mapType": {
                            "type": "string",
                            "description": "mapType",
                            "x-ms-summary": "mapType"
                          },
                          "longitudeBaidu": {
                            "type": "number",
                            "format": "float",
                            "description": "longitudeBaidu",
                            "x-ms-summary": "longitudeBaidu"
                          },
                          "latitudeBaidu": {
                            "type": "number",
                            "format": "float",
                            "description": "latitudeBaidu",
                            "x-ms-summary": "latitudeBaidu"
                          },
                          "longitudeGaode": {
                            "type": "number",
                            "format": "float",
                            "description": "longitudeGaode",
                            "x-ms-summary": "longitudeGaode"
                          },
                          "latitudeGaode": {
                            "type": "number",
                            "format": "float",
                            "description": "latitudeGaode",
                            "x-ms-summary": "latitudeGaode"
                          },
                          "areaCode": {
                            "type": "string",
                            "description": "areaCode",
                            "x-ms-summary": "areaCode"
                          }
                        }
                      },
                      "description": "records",
                      "x-ms-summary": "records"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "pages",
                      "x-ms-summary": "pages"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total",
                      "x-ms-summary": "total"
                    }
                  },
                  "description": "data",
                  "x-ms-summary": "data"
                }
              }
            }
          }
        }
      }
    },
    "/v2/timesheet/updateById": {
      "post": {
        "summary": "Update the timesheet",
        "description": "Update the timesheet",
        "operationId": "updateTimesheet",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Timesheet"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "type": {
                  "type": "string",
                  "description": "type",
                  "x-ms-summary": "type"
                },
                "date": {
                  "type": "string",
                  "description": "date",
                  "x-ms-summary": "date"
                },
                "isCrossTheSky": {
                  "type": "string",
                  "description": "isCrossTheSky",
                  "x-ms-summary": "isCrossTheSky"
                },
                "startTime": {
                  "type": "string",
                  "description": "startTime",
                  "x-ms-summary": "startTime"
                },
                "endTime": {
                  "type": "string",
                  "description": "endTime",
                  "x-ms-summary": "endTime"
                },
                "startTimeText": {
                  "type": "string",
                  "description": "startTimeText",
                  "x-ms-summary": "startTimeText"
                },
                "endTimeText": {
                  "type": "string",
                  "description": "endTimeText",
                  "x-ms-summary": "endTimeText"
                },
                "times": {
                  "type": "string",
                  "description": "times",
                  "x-ms-summary": "times"
                },
                "remark": {
                  "type": "string",
                  "description": "remark",
                  "x-ms-summary": "remark"
                },
                "mealTime": {
                  "type": "string",
                  "description": "mealTime",
                  "x-ms-summary": "mealTime"
                },
                "addressCardId": {
                  "type": "string",
                  "description": "addressCardId",
                  "x-ms-summary": "addressCardId"
                },
                "attendanceItemId": {
                  "type": "string",
                  "description": "attendanceItemId",
                  "x-ms-summary": "attendanceItemId"
                },
                "workOverTimeType": {
                  "type": "string",
                  "description": "workOverTimeType",
                  "x-ms-summary": "workOverTimeType"
                },
                "auWorkingType": {
                  "type": "string",
                  "description": "auWorkingType",
                  "x-ms-summary": "auWorkingType"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code",
                  "x-ms-summary": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "message"
                },
                "data": {
                  "type": "boolean",
                  "description": "data",
                  "x-ms-summary": "data"
                }
              }
            }
          }
        }
      }
    },
    "/v2/timesheet/list": {
      "get": {
        "summary": "List of timesheets",
        "description": "List of timesheets",
        "operationId": "getTimesheet",
        "tags": [
          "Timesheet"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "description": "Fuzzy query parameter",
            "x-ms-summary": "Fuzzy query parameter"
          },
          {
            "name": "current",
            "in": "query",
            "type": "integer",
            "description": "Current page number",
            "x-ms-summary": "Current page number"
          },
          {
            "name": "size",
            "in": "query",
            "type": "integer",
            "description": "The number of pages",
            "x-ms-summary": "The number of pages"
          },
          {
            "name": "employeeId",
            "in": "query",
            "type": "string",
            "description": "Employee ID  filtering",
            "x-ms-summary": "Employee ID  filtering"
          },
          {
            "name": "type",
            "in": "query",
            "type": "string",
            "description": "Timesheet type filtering",
            "x-ms-summary": "Timesheet type filtering"
          },
          {
            "name": "date",
            "in": "query",
            "type": "string",
            "description": "Application date filtering",
            "x-ms-summary": "Application date filtering"
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "description": "Application status filtering",
            "x-ms-summary": "Application status filtering"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code",
                  "x-ms-summary": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "size",
                      "x-ms-summary": "size"
                    },
                    "current": {
                      "type": "integer",
                      "format": "int32",
                      "description": "current",
                      "x-ms-summary": "current"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id",
                            "x-ms-summary": "id"
                          },
                          "employeeId": {
                            "type": "string",
                            "description": "employeeId",
                            "x-ms-summary": "employeeId"
                          },
                          "type": {
                            "type": "string",
                            "description": "type",
                            "x-ms-summary": "type"
                          },
                          "date": {
                            "type": "string",
                            "description": "date",
                            "x-ms-summary": "date"
                          },
                          "isCrossTheSky": {
                            "type": "boolean",
                            "description": "isCrossTheSky",
                            "x-ms-summary": "isCrossTheSky"
                          },
                          "startTime": {
                            "type": "string",
                            "description": "startTime",
                            "x-ms-summary": "startTime"
                          },
                          "endTime": {
                            "type": "string",
                            "description": "endTime",
                            "x-ms-summary": "endTime"
                          },
                          "startTimeText": {
                            "type": "string",
                            "description": "startTimeText",
                            "x-ms-summary": "startTimeText"
                          },
                          "endTimeText": {
                            "type": "string",
                            "description": "endTimeText",
                            "x-ms-summary": "endTimeText"
                          },
                          "times": {
                            "type": "number",
                            "format": "float",
                            "description": "times",
                            "x-ms-summary": "times"
                          },
                          "status": {
                            "type": "string",
                            "description": "status",
                            "x-ms-summary": "status"
                          },
                          "remark": {
                            "type": "string",
                            "description": "remark",
                            "x-ms-summary": "remark"
                          },
                          "mealTime": {
                            "type": "integer",
                            "format": "int32",
                            "description": "mealTime",
                            "x-ms-summary": "mealTime"
                          },
                          "addressCardId": {
                            "type": "string",
                            "description": "addressCardId",
                            "x-ms-summary": "addressCardId"
                          },
                          "isHrProcessing": {
                            "type": "boolean",
                            "description": "isHrProcessing",
                            "x-ms-summary": "isHrProcessing"
                          },
                          "finalApprover": {
                            "type": "string",
                            "description": "finalApprover",
                            "x-ms-summary": "finalApprover"
                          },
                          "finalApprovalTime": {
                            "type": "string",
                            "description": "finalApprovalTime",
                            "x-ms-summary": "finalApprovalTime"
                          },
                          "attendanceItemId": {
                            "type": "string",
                            "description": "attendanceItemId",
                            "x-ms-summary": "attendanceItemId"
                          },
                          "workOverTimeType": {
                            "type": "string",
                            "description": "workOverTimeType",
                            "x-ms-summary": "workOverTimeType"
                          },
                          "auWorkingType": {
                            "type": "string",
                            "description": "auWorkingType",
                            "x-ms-summary": "auWorkingType"
                          },
                          "finalApproverName": {
                            "type": "string",
                            "description": "finalApproverName",
                            "x-ms-summary": "finalApproverName"
                          },
                          "attendanceItemName": {
                            "type": "string",
                            "description": "attendanceItemName",
                            "x-ms-summary": "attendanceItemName"
                          },
                          "addressCardName": {
                            "type": "string",
                            "description": "addressCardName",
                            "x-ms-summary": "addressCardName"
                          },
                          "englishName": {
                            "type": "string",
                            "description": "englishName",
                            "x-ms-summary": "englishName"
                          }
                        }
                      },
                      "description": "records",
                      "x-ms-summary": "records"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "pages",
                      "x-ms-summary": "pages"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total",
                      "x-ms-summary": "total"
                    }
                  },
                  "description": "data",
                  "x-ms-summary": "data"
                }
              }
            }
          }
        }
      }
    },
    "/v2/tenants/updateRosterData": {
      "post": {
        "summary": "Update the schedule",
        "description": "Update the schedule",
        "operationId": "updateRosterData",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Attendance"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "shiftTemplateId": {
                  "type": "string",
                  "description": "shiftTemplateId",
                  "x-ms-summary": "shiftTemplateId"
                },
                "shiftIn": {
                  "type": "string",
                  "description": "shiftIn",
                  "x-ms-summary": "shiftIn"
                },
                "shiftOff": {
                  "type": "string",
                  "description": "shiftOff",
                  "x-ms-summary": "shiftOff"
                },
                "mealTime": {
                  "type": "integer",
                  "format": "int32",
                  "description": "mealTime",
                  "x-ms-summary": "mealTime"
                },
                "shiftStatus": {
                  "type": "string",
                  "description": "shiftStatus",
                  "x-ms-summary": "shiftStatus"
                },
                "addressCardId": {
                  "type": "string",
                  "description": "addressCardId",
                  "x-ms-summary": "addressCardId"
                },
                "remark": {
                  "type": "string",
                  "description": "remark",
                  "x-ms-summary": "remark"
                },
                "attendanceItemId": {
                  "type": "string",
                  "description": "attendanceItemId",
                  "x-ms-summary": "attendanceItemId"
                },
                "dateType": {
                  "type": "string",
                  "description": "dateType",
                  "x-ms-summary": "dateType"
                },
                "attendDay": {
                  "type": "string",
                  "description": "attendDay",
                  "x-ms-summary": "attendDay"
                },
                "acrossTheNight": {
                  "type": "string",
                  "description": "acrossTheNight",
                  "x-ms-summary": "acrossTheNight"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code",
                  "x-ms-summary": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "message"
                },
                "data": {
                  "type": "boolean",
                  "description": "data",
                  "x-ms-summary": "data"
                }
              }
            }
          }
        }
      }
    },
    "/v2/tenants/updatePositionInfo": {
      "post": {
        "summary": "Update the job position",
        "description": "Update the job position",
        "operationId": "updatePositionInfo",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Attendance"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "x-ms-summary": "name"
                },
                "positionCode": {
                  "type": "string",
                  "description": "positionCode",
                  "x-ms-summary": "positionCode"
                },
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "status"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code",
                  "x-ms-summary": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "message"
                },
                "data": {
                  "type": "boolean",
                  "description": "data",
                  "x-ms-summary": "data"
                }
              }
            }
          }
        }
      }
    },
    "/v2/tenants/updateExpenseApplication": {
      "post": {
        "summary": "Update the expense records",
        "description": "Update the expense records",
        "operationId": "updateExpenseApplication",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Reimbursement"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "reimbursementType": {
                  "type": "string",
                  "description": "reimbursementType",
                  "x-ms-summary": "reimbursementType"
                },
                "reimbursementDate": {
                  "type": "string",
                  "description": "reimbursementDate",
                  "x-ms-summary": "reimbursementDate"
                },
                "reimbursementName": {
                  "type": "string",
                  "description": "reimbursementName",
                  "x-ms-summary": "reimbursementName"
                },
                "amount": {
                  "type": "number",
                  "format": "float",
                  "description": "amount",
                  "x-ms-summary": "amount"
                },
                "remark": {
                  "type": "string",
                  "description": "remark",
                  "x-ms-summary": "remark"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code",
                  "x-ms-summary": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "message"
                },
                "data": {
                  "type": "boolean",
                  "description": "data",
                  "x-ms-summary": "data"
                }
              }
            }
          }
        }
      }
    },
    "/v2/tenants/updateCostCenterInfo": {
      "post": {
        "summary": "Update the cost center",
        "description": "Update the cost center",
        "operationId": "updateCostCenterInfo",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "CostCenter"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "x-ms-summary": "name"
                },
                "costCenterCode": {
                  "type": "string",
                  "description": "costCenterCode",
                  "x-ms-summary": "costCenterCode"
                },
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "status"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code",
                  "x-ms-summary": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "message"
                },
                "data": {
                  "type": "boolean",
                  "description": "data",
                  "x-ms-summary": "data"
                }
              }
            }
          }
        }
      }
    },
    "/v2/tenants/getRosterDataList": {
      "get": {
        "summary": "List of schedules",
        "description": "List of schedules",
        "operationId": "getRosterDataList",
        "tags": [
          "Attendance"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "description": "fuzzy query parameter for employee info",
            "x-ms-summary": "fuzzy query parameter for employee info"
          },
          {
            "name": "current",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "current",
            "x-ms-summary": "current"
          },
          {
            "name": "size",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "size",
            "x-ms-summary": "size"
          },
          {
            "name": "endDate",
            "in": "query",
            "type": "string",
            "description": "endDate",
            "x-ms-summary": "endDate",
            "required": true
          },
          {
            "name": "startDate",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "startDate",
            "x-ms-summary": "startDate"
          },
          {
            "name": "departmentId",
            "in": "query",
            "type": "string",
            "description": "departmentId",
            "x-ms-summary": "departmentId"
          },
          {
            "name": "positionId",
            "in": "query",
            "type": "string",
            "description": "positionId",
            "x-ms-summary": "positionId"
          },
          {
            "name": "attendCalculationId",
            "in": "query",
            "type": "string",
            "description": "attendance address id",
            "x-ms-summary": "attendance address id"
          },
          {
            "name": "statusFilter",
            "in": "query",
            "type": "string",
            "description": "employee status",
            "x-ms-summary": "employee status"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code",
                  "x-ms-summary": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id",
                        "x-ms-summary": "id"
                      },
                      "employeeId": {
                        "type": "string",
                        "description": "employeeId",
                        "x-ms-summary": "employeeId"
                      },
                      "positionName": {
                        "type": "string",
                        "description": "positionName",
                        "x-ms-summary": "positionName"
                      },
                      "departmentName": {
                        "type": "string",
                        "description": "departmentName",
                        "x-ms-summary": "departmentName"
                      },
                      "employeeEnglishName": {
                        "type": "string",
                        "description": "employeeEnglishName",
                        "x-ms-summary": "employeeEnglishName"
                      },
                      "employeeCode": {
                        "type": "string",
                        "description": "employeeCode",
                        "x-ms-summary": "employeeCode"
                      },
                      "attendDay": {
                        "type": "string",
                        "description": "attendDay",
                        "x-ms-summary": "attendDay"
                      },
                      "shiftTemplateId": {
                        "type": "string",
                        "description": "shiftTemplateId",
                        "x-ms-summary": "shiftTemplateId"
                      },
                      "shiftTemplateName": {
                        "type": "string",
                        "description": "shiftTemplateName",
                        "x-ms-summary": "shiftTemplateName"
                      },
                      "shiftIn": {
                        "type": "string",
                        "description": "shiftIn",
                        "x-ms-summary": "shiftIn"
                      },
                      "shiftOff": {
                        "type": "string",
                        "description": "shiftOff",
                        "x-ms-summary": "shiftOff"
                      },
                      "lateStart": {
                        "type": "integer",
                        "format": "int32",
                        "description": "lateStart",
                        "x-ms-summary": "lateStart"
                      },
                      "earlyStart": {
                        "type": "integer",
                        "format": "int32",
                        "description": "earlyStart",
                        "x-ms-summary": "earlyStart"
                      },
                      "earliestCard": {
                        "type": "string",
                        "description": "earliestCard",
                        "x-ms-summary": "earliestCard"
                      },
                      "lateCard": {
                        "type": "string",
                        "description": "lateCard",
                        "x-ms-summary": "lateCard"
                      },
                      "actualIn": {
                        "type": "string",
                        "description": "actualIn",
                        "x-ms-summary": "actualIn"
                      },
                      "actualOff": {
                        "type": "string",
                        "description": "actualOff",
                        "x-ms-summary": "actualOff"
                      },
                      "beLateLength": {
                        "type": "number",
                        "format": "float",
                        "description": "beLateLength",
                        "x-ms-summary": "beLateLength"
                      },
                      "leaveEarlyLength": {
                        "type": "number",
                        "format": "float",
                        "description": "leaveEarlyLength",
                        "x-ms-summary": "leaveEarlyLength"
                      },
                      "shiftLabor": {
                        "type": "number",
                        "format": "float",
                        "description": "shiftLabor",
                        "x-ms-summary": "shiftLabor"
                      },
                      "scheduleConflict": {
                        "type": "string",
                        "description": "scheduleConflict",
                        "x-ms-summary": "scheduleConflict"
                      },
                      "laborLength": {
                        "type": "number",
                        "format": "float",
                        "description": "laborLength",
                        "x-ms-summary": "laborLength"
                      },
                      "attendStatus": {
                        "type": "string",
                        "description": "attendStatus",
                        "x-ms-summary": "attendStatus"
                      },
                      "mealTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "mealTime",
                        "x-ms-summary": "mealTime"
                      },
                      "shiftStatus": {
                        "type": "string",
                        "description": "shiftStatus",
                        "x-ms-summary": "shiftStatus"
                      },
                      "acrossTheNight": {
                        "type": "string",
                        "description": "acrossTheNight",
                        "x-ms-summary": "acrossTheNight"
                      },
                      "deleted": {
                        "type": "integer",
                        "format": "int32",
                        "description": "deleted",
                        "x-ms-summary": "deleted"
                      },
                      "remark": {
                        "type": "string",
                        "description": "remark",
                        "x-ms-summary": "remark"
                      },
                      "isLeave": {
                        "type": "integer",
                        "format": "int32",
                        "description": "isLeave",
                        "x-ms-summary": "isLeave"
                      },
                      "scheduleInfo": {
                        "type": "string",
                        "description": "scheduleInfo",
                        "x-ms-summary": "scheduleInfo"
                      },
                      "attendanceItemId": {
                        "type": "string",
                        "description": "attendanceItemId",
                        "x-ms-summary": "attendanceItemId"
                      },
                      "attendanceItemName": {
                        "type": "string",
                        "description": "attendanceItemName",
                        "x-ms-summary": "attendanceItemName"
                      },
                      "actualDuration": {
                        "type": "string",
                        "description": "actualDuration",
                        "x-ms-summary": "actualDuration"
                      },
                      "busyStatus": {
                        "type": "string",
                        "description": "busyStatus",
                        "x-ms-summary": "busyStatus"
                      },
                      "dateType": {
                        "type": "string",
                        "description": "dateType",
                        "x-ms-summary": "dateType"
                      },
                      "existsTimesheet": {
                        "type": "boolean",
                        "description": "existsTimesheet",
                        "x-ms-summary": "existsTimesheet"
                      },
                      "existsLeave": {
                        "type": "boolean",
                        "description": "existsLeave",
                        "x-ms-summary": "existsLeave"
                      },
                      "existsStatutoryLeave": {
                        "type": "boolean",
                        "description": "existsStatutoryLeave",
                        "x-ms-summary": "existsStatutoryLeave"
                      }
                    }
                  },
                  "description": "data",
                  "x-ms-summary": "data"
                }
              }
            }
          }
        }
      }
    },
    "/v2/tenants/getPositionList": {
      "get": {
        "summary": "List of job positions",
        "description": "List of job positions",
        "operationId": "getPositionList",
        "tags": [
          "Position"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "description": "position fuzzy query parameter",
            "x-ms-summary": "position fuzzy query parameter"
          },
          {
            "name": "current",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "current",
            "x-ms-summary": "current"
          },
          {
            "name": "size",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "size",
            "x-ms-summary": "size"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code",
                  "x-ms-summary": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "size",
                      "x-ms-summary": "size"
                    },
                    "current": {
                      "type": "integer",
                      "format": "int32",
                      "description": "current",
                      "x-ms-summary": "current"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id",
                            "x-ms-summary": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name",
                            "x-ms-summary": "name"
                          },
                          "positionCode": {
                            "type": "string",
                            "description": "positionCode",
                            "x-ms-summary": "positionCode"
                          },
                          "status": {
                            "type": "string",
                            "description": "status",
                            "x-ms-summary": "status"
                          }
                        }
                      },
                      "description": "records",
                      "x-ms-summary": "records"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "pages",
                      "x-ms-summary": "pages"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total",
                      "x-ms-summary": "total"
                    }
                  },
                  "description": "data",
                  "x-ms-summary": "data"
                }
              }
            }
          }
        }
      }
    },
    "/v2/tenants/getExpenseApplicationList": {
      "get": {
        "summary": "List of reimbursements",
        "description": "List of reimbursements",
        "operationId": "getExpenseApplicationList",
        "tags": [
          "Reimbursement"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "description": "fuzzy query parameter",
            "x-ms-summary": "fuzzy query parameter"
          },
          {
            "name": "current",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "current",
            "x-ms-summary": "current"
          },
          {
            "name": "size",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "size",
            "x-ms-summary": "size"
          },
          {
            "name": "employeeIdFilter",
            "in": "query",
            "type": "string",
            "description": "employee ids",
            "x-ms-summary": "employee ids"
          },
          {
            "name": "reimbursementStatusFilter",
            "in": "query",
            "type": "string",
            "description": "reimbursement status",
            "x-ms-summary": "reimbursement status"
          },
          {
            "name": "departmentFilter",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "department id",
            "x-ms-summary": "department id"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code",
                  "x-ms-summary": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "size",
                      "x-ms-summary": "size"
                    },
                    "current": {
                      "type": "integer",
                      "format": "int32",
                      "description": "current",
                      "x-ms-summary": "current"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id",
                            "x-ms-summary": "id"
                          },
                          "employeeId": {
                            "type": "string",
                            "description": "employeeId",
                            "x-ms-summary": "employeeId"
                          },
                          "code": {
                            "type": "string",
                            "description": "code",
                            "x-ms-summary": "code"
                          },
                          "reimbursementType": {
                            "type": "string",
                            "description": "reimbursementType",
                            "x-ms-summary": "reimbursementType"
                          },
                          "reimbursementTypeName": {
                            "type": "string",
                            "description": "reimbursementTypeName",
                            "x-ms-summary": "reimbursementTypeName"
                          },
                          "reimbursementDate": {
                            "type": "string",
                            "description": "reimbursementDate",
                            "x-ms-summary": "reimbursementDate"
                          },
                          "reimbursementName": {
                            "type": "string",
                            "description": "reimbursementName",
                            "x-ms-summary": "reimbursementName"
                          },
                          "reimbursementCode": {
                            "type": "string",
                            "description": "reimbursementCode",
                            "x-ms-summary": "reimbursementCode"
                          },
                          "amount": {
                            "type": "number",
                            "format": "float",
                            "description": "amount",
                            "x-ms-summary": "amount"
                          },
                          "remark": {
                            "type": "string",
                            "description": "remark",
                            "x-ms-summary": "remark"
                          },
                          "status": {
                            "type": "string",
                            "description": "status",
                            "x-ms-summary": "status"
                          },
                          "isHrProcessing": {
                            "type": "boolean",
                            "description": "isHrProcessing",
                            "x-ms-summary": "isHrProcessing"
                          },
                          "finalApprover": {
                            "type": "string",
                            "description": "finalApprover",
                            "x-ms-summary": "finalApprover"
                          },
                          "finalApprovalTime": {
                            "type": "string",
                            "description": "finalApprovalTime",
                            "x-ms-summary": "finalApprovalTime"
                          },
                          "finalApproverName": {
                            "type": "string",
                            "description": "finalApproverName",
                            "x-ms-summary": "finalApproverName"
                          },
                          "englishName": {
                            "type": "string",
                            "description": "englishName",
                            "x-ms-summary": "englishName"
                          },
                          "chineseName": {
                            "type": "string",
                            "description": "chineseName",
                            "x-ms-summary": "chineseName"
                          },
                          "reason": {
                            "type": "string",
                            "description": "reason",
                            "x-ms-summary": "reason"
                          },
                          "employeeCode": {
                            "type": "string",
                            "description": "employeeCode",
                            "x-ms-summary": "employeeCode"
                          },
                          "departmentName": {
                            "type": "string",
                            "description": "departmentName",
                            "x-ms-summary": "departmentName"
                          },
                          "positionName": {
                            "type": "string",
                            "description": "positionName",
                            "x-ms-summary": "positionName"
                          }
                        }
                      },
                      "description": "records",
                      "x-ms-summary": "records"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "pages",
                      "x-ms-summary": "pages"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total",
                      "x-ms-summary": "total"
                    }
                  },
                  "description": "data",
                  "x-ms-summary": "data"
                }
              }
            }
          }
        }
      }
    },
    "/v2/tenants/getCostCenterList": {
      "get": {
        "summary": "List of cost centers",
        "description": "List of cost centers",
        "operationId": "getCostCenterList",
        "tags": [
          "CostCenter"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "description": "fuzzy query parameter",
            "x-ms-summary": "fuzzy query parameter"
          },
          {
            "name": "current",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "current",
            "x-ms-summary": "current"
          },
          {
            "name": "size",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "size",
            "x-ms-summary": "size"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code",
                  "x-ms-summary": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "size",
                      "x-ms-summary": "size"
                    },
                    "current": {
                      "type": "integer",
                      "format": "int32",
                      "description": "current",
                      "x-ms-summary": "current"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id",
                            "x-ms-summary": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name",
                            "x-ms-summary": "name"
                          },
                          "costCenterCode": {
                            "type": "string",
                            "description": "costCenterCode",
                            "x-ms-summary": "costCenterCode"
                          },
                          "status": {
                            "type": "string",
                            "description": "status",
                            "x-ms-summary": "status"
                          }
                        }
                      },
                      "description": "records",
                      "x-ms-summary": "records"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "pages",
                      "x-ms-summary": "pages"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total",
                      "x-ms-summary": "total"
                    }
                  },
                  "description": "data",
                  "x-ms-summary": "data"
                }
              }
            }
          }
        }
      }
    },
    "/v2/tenant/updateById": {
      "post": {
        "summary": "Update tenant information",
        "description": "Update tenant information",
        "operationId": "updateTenantInfo",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "x-ms-summary": "name"
                },
                "businessRegistrationNumber": {
                  "type": "string",
                  "description": "businessRegistrationNumber",
                  "x-ms-summary": "businessRegistrationNumber"
                },
                "phone": {
                  "type": "string",
                  "description": "phone",
                  "x-ms-summary": "phone"
                },
                "email": {
                  "type": "string",
                  "description": "email",
                  "x-ms-summary": "email"
                },
                "address": {
                  "type": "string",
                  "description": "address",
                  "x-ms-summary": "address"
                },
                "bankName": {
                  "type": "string",
                  "description": "bankName",
                  "x-ms-summary": "bankName"
                },
                "bankBranchCode": {
                  "type": "string",
                  "description": "bankBranchCode",
                  "x-ms-summary": "bankBranchCode"
                },
                "bankAccountNo": {
                  "type": "string",
                  "description": "bankAccountNo",
                  "x-ms-summary": "bankAccountNo"
                },
                "employerName": {
                  "type": "string",
                  "description": "employerName",
                  "x-ms-summary": "employerName"
                },
                "employerPosition": {
                  "type": "string",
                  "description": "employerPosition",
                  "x-ms-summary": "employerPosition"
                },
                "employerFileNumber": {
                  "type": "string",
                  "description": "employerFileNumber",
                  "x-ms-summary": "employerFileNumber"
                },
                "mainLanguage": {
                  "type": "string",
                  "description": "mainLanguage",
                  "x-ms-summary": "mainLanguage"
                },
                "currencyCode": {
                  "type": "string",
                  "description": "currencyCode",
                  "x-ms-summary": "currencyCode"
                },
                "legalNameOfEnterprise": {
                  "type": "string",
                  "description": "legalNameOfEnterprise",
                  "x-ms-summary": "legalNameOfEnterprise"
                },
                "area": {
                  "type": "string",
                  "description": "area",
                  "x-ms-summary": "area"
                },
                "is57ACompany": {
                  "type": "string",
                  "description": "is57ACompany",
                  "x-ms-summary": "is57ACompany"
                },
                "branchNum": {
                  "type": "string",
                  "description": "branchNum",
                  "x-ms-summary": "branchNum"
                },
                "usedId": {
                  "type": "string",
                  "description": "usedId",
                  "x-ms-summary": "usedId"
                },
                "postCode": {
                  "type": "string",
                  "description": "postCode",
                  "x-ms-summary": "postCode"
                },
                "agencyBusinessNum": {
                  "type": "string",
                  "description": "agencyBusinessNum",
                  "x-ms-summary": "agencyBusinessNum"
                },
                "registeredAgentNum": {
                  "type": "string",
                  "description": "registeredAgentNum",
                  "x-ms-summary": "registeredAgentNum"
                },
                "agentContactName": {
                  "type": "string",
                  "description": "agentContactName",
                  "x-ms-summary": "agentContactName"
                },
                "agentEmail": {
                  "type": "string",
                  "description": "agentEmail",
                  "x-ms-summary": "agentEmail"
                },
                "agentTel": {
                  "type": "string",
                  "description": "agentTel",
                  "x-ms-summary": "agentTel"
                },
                "hasAgentCompany": {
                  "type": "string",
                  "description": "hasAgentCompany",
                  "x-ms-summary": "hasAgentCompany"
                },
                "str1": {
                  "type": "string",
                  "description": "str1",
                  "x-ms-summary": "str1"
                },
                "str2": {
                  "type": "string",
                  "description": "str2",
                  "x-ms-summary": "str2"
                },
                "decimal1": {
                  "type": "string",
                  "description": "decimal1",
                  "x-ms-summary": "decimal1"
                },
                "decimal2": {
                  "type": "string",
                  "description": "decimal2",
                  "x-ms-summary": "decimal2"
                },
                "ausAbn": {
                  "type": "string",
                  "description": "ausAbn",
                  "x-ms-summary": "ausAbn"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code",
                  "x-ms-summary": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "message"
                },
                "data": {
                  "type": "boolean",
                  "description": "data",
                  "x-ms-summary": "data"
                }
              }
            }
          }
        }
      }
    },
    "/v2/tenant/getById": {
      "get": {
        "summary": "Query tenant information",
        "description": "Query tenant information",
        "operationId": "getTenantInfo",
        "tags": [
          "Company"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code",
                  "x-ms-summary": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id",
                      "x-ms-summary": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name",
                      "x-ms-summary": "name"
                    },
                    "businessRegistrationNumber": {
                      "type": "string",
                      "description": "businessRegistrationNumber",
                      "x-ms-summary": "businessRegistrationNumber"
                    },
                    "countryCode": {
                      "type": "string",
                      "description": "countryCode",
                      "x-ms-summary": "countryCode"
                    },
                    "phone": {
                      "type": "string",
                      "description": "phone",
                      "x-ms-summary": "phone"
                    },
                    "email": {
                      "type": "string",
                      "description": "email",
                      "x-ms-summary": "email"
                    },
                    "address": {
                      "type": "string",
                      "description": "address",
                      "x-ms-summary": "address"
                    },
                    "logo": {
                      "type": "string",
                      "description": "logo",
                      "x-ms-summary": "logo"
                    },
                    "region": {
                      "type": "string",
                      "description": "region",
                      "x-ms-summary": "region"
                    },
                    "timeZone": {
                      "type": "string",
                      "description": "timeZone",
                      "x-ms-summary": "timeZone"
                    },
                    "bankName": {
                      "type": "string",
                      "description": "bankName",
                      "x-ms-summary": "bankName"
                    },
                    "bankBranchCode": {
                      "type": "string",
                      "description": "bankBranchCode",
                      "x-ms-summary": "bankBranchCode"
                    },
                    "bankAccountNo": {
                      "type": "string",
                      "description": "bankAccountNo",
                      "x-ms-summary": "bankAccountNo"
                    },
                    "employerName": {
                      "type": "string",
                      "description": "employerName",
                      "x-ms-summary": "employerName"
                    },
                    "employerPosition": {
                      "type": "string",
                      "description": "employerPosition",
                      "x-ms-summary": "employerPosition"
                    },
                    "employerFileNumber": {
                      "type": "string",
                      "description": "employerFileNumber",
                      "x-ms-summary": "employerFileNumber"
                    },
                    "mainLanguage": {
                      "type": "string",
                      "description": "mainLanguage",
                      "x-ms-summary": "mainLanguage"
                    },
                    "currencyCode": {
                      "type": "string",
                      "description": "currencyCode",
                      "x-ms-summary": "currencyCode"
                    },
                    "accountType": {
                      "type": "string",
                      "description": "accountType",
                      "x-ms-summary": "accountType"
                    },
                    "paymentCode": {
                      "type": "string",
                      "description": "paymentCode",
                      "x-ms-summary": "paymentCode"
                    },
                    "paymentReference": {
                      "type": "string",
                      "description": "paymentReference",
                      "x-ms-summary": "paymentReference"
                    },
                    "legalNameOfEnterprise": {
                      "type": "string",
                      "description": "legalNameOfEnterprise",
                      "x-ms-summary": "legalNameOfEnterprise"
                    },
                    "area": {
                      "type": "string",
                      "description": "area",
                      "x-ms-summary": "area"
                    },
                    "is57ACompany": {
                      "type": "string",
                      "description": "is57ACompany",
                      "x-ms-summary": "is57ACompany"
                    },
                    "branchNum": {
                      "type": "string",
                      "description": "branchNum",
                      "x-ms-summary": "branchNum"
                    },
                    "usedId": {
                      "type": "string",
                      "description": "usedId",
                      "x-ms-summary": "usedId"
                    },
                    "postCode": {
                      "type": "string",
                      "description": "postCode",
                      "x-ms-summary": "postCode"
                    },
                    "agencyBusinessNum": {
                      "type": "string",
                      "description": "agencyBusinessNum",
                      "x-ms-summary": "agencyBusinessNum"
                    },
                    "registeredAgentNum": {
                      "type": "string",
                      "description": "registeredAgentNum",
                      "x-ms-summary": "registeredAgentNum"
                    },
                    "agentContactName": {
                      "type": "string",
                      "description": "agentContactName",
                      "x-ms-summary": "agentContactName"
                    },
                    "agentEmail": {
                      "type": "string",
                      "description": "agentEmail",
                      "x-ms-summary": "agentEmail"
                    },
                    "agentTel": {
                      "type": "string",
                      "description": "agentTel",
                      "x-ms-summary": "agentTel"
                    },
                    "hasAgentCompany": {
                      "type": "string",
                      "description": "hasAgentCompany",
                      "x-ms-summary": "hasAgentCompany"
                    },
                    "str1": {
                      "type": "string",
                      "description": "str1",
                      "x-ms-summary": "str1"
                    },
                    "str2": {
                      "type": "string",
                      "description": "str2",
                      "x-ms-summary": "str2"
                    },
                    "decimal1": {
                      "type": "number",
                      "format": "float",
                      "description": "decimal1",
                      "x-ms-summary": "decimal1"
                    },
                    "decimal2": {
                      "type": "number",
                      "format": "float",
                      "description": "decimal2",
                      "x-ms-summary": "decimal2"
                    },
                    "ausAbn": {
                      "type": "string",
                      "description": "ausAbn",
                      "x-ms-summary": "ausAbn"
                    },
                    "planTypeName": {
                      "type": "string",
                      "description": "planTypeName",
                      "x-ms-summary": "planTypeName"
                    },
                    "realTimeZone": {
                      "type": "string",
                      "description": "realTimeZone",
                      "x-ms-summary": "realTimeZone"
                    },
                    "areaCodeList": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "areaCodeList",
                      "x-ms-summary": "areaCodeList"
                    },
                    "zoneName": {
                      "type": "string",
                      "description": "zoneName",
                      "x-ms-summary": "zoneName"
                    },
                    "planType": {
                      "type": "string",
                      "description": "planType",
                      "x-ms-summary": "planType"
                    },
                    "buyCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "buyCount",
                      "x-ms-summary": "buyCount"
                    },
                    "usedCount": {
                      "type": "string",
                      "description": "usedCount",
                      "x-ms-summary": "usedCount"
                    },
                    "planStatus": {
                      "type": "string",
                      "description": "planStatus",
                      "x-ms-summary": "planStatus"
                    },
                    "endTime": {
                      "type": "string",
                      "description": "endTime",
                      "x-ms-summary": "endTime"
                    },
                    "startTime": {
                      "type": "string",
                      "description": "startTime",
                      "x-ms-summary": "startTime"
                    },
                    "payWay": {
                      "type": "string",
                      "description": "payWay",
                      "x-ms-summary": "payWay"
                    }
                  },
                  "description": "data",
                  "x-ms-summary": "data"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payroll/updateVarSalary": {
      "post": {
        "summary": "Update non-fixed salary items",
        "description": "Update non-fixed salary items",
        "operationId": "updateVarSalary",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Payroll"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "money": {
                  "type": "number",
                  "format": "double",
                  "description": "money",
                  "x-ms-summary": "money"
                },
                "remark": {
                  "type": "string",
                  "description": "remark",
                  "x-ms-summary": "remark"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code",
                  "x-ms-summary": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "message"
                },
                "data": {
                  "type": "boolean",
                  "description": "data",
                  "x-ms-summary": "data"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payroll/updateFixedSalary": {
      "post": {
        "summary": "Update fixed salary items",
        "description": "Update fixed salary items",
        "operationId": "updateFixedSalary",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Payroll"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "payrollItemId": {
                  "type": "string",
                  "description": "payrollItemId",
                  "x-ms-summary": "payrollItemId"
                },
                "money": {
                  "type": "number",
                  "format": "double",
                  "description": "money",
                  "x-ms-summary": "money"
                },
                "startDate": {
                  "type": "string",
                  "description": "startDate",
                  "x-ms-summary": "startDate"
                },
                "endDate": {
                  "type": "string",
                  "description": "endDate",
                  "x-ms-summary": "endDate"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code",
                  "x-ms-summary": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "message"
                },
                "data": {
                  "type": "boolean",
                  "description": "data",
                  "x-ms-summary": "data"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payroll/updateExternalSalary": {
      "post": {
        "summary": "Update external salary",
        "description": "Update external salary",
        "operationId": "updateExternalSalary",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Payroll"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id",
                  "x-ms-summary": "id"
                },
                "code": {
                  "type": "string",
                  "description": "code",
                  "x-ms-summary": "code"
                },
                "employeeId": {
                  "type": "string",
                  "description": "employeeId",
                  "x-ms-summary": "employeeId"
                },
                "businessSalaryItemId": {
                  "type": "string",
                  "description": "businessSalaryItemId",
                  "x-ms-summary": "businessSalaryItemId"
                },
                "money": {
                  "type": "number",
                  "format": "double",
                  "description": "money",
                  "x-ms-summary": "money"
                },
                "occurrenceDate": {
                  "type": "string",
                  "description": "occurrenceDate",
                  "x-ms-summary": "occurrenceDate"
                },
                "remark": {
                  "type": "string",
                  "description": "remark",
                  "x-ms-summary": "remark"
                },
                "expirationDate": {
                  "type": "string",
                  "description": "expirationDate",
                  "x-ms-summary": "expirationDate"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code",
                  "x-ms-summary": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "message"
                },
                "data": {
                  "type": "boolean",
                  "description": "data",
                  "x-ms-summary": "data"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payroll/getVarPayItemData": {
      "get": {
        "summary": "List of non-fixed salary items",
        "description": "List of non-fixed salary items",
        "operationId": "getVarPayItemData",
        "tags": [
          "Payroll"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "description": "fuzzy search",
            "x-ms-summary": "fuzzy search"
          },
          {
            "name": "current",
            "in": "query",
            "type": "integer",
            "description": "current page",
            "x-ms-summary": "current page"
          },
          {
            "name": "size",
            "in": "query",
            "type": "integer",
            "description": "page size",
            "x-ms-summary": "page size"
          },
          {
            "name": "employeeId",
            "in": "query",
            "type": "string",
            "description": "employeeId",
            "x-ms-summary": "employeeId"
          },
          {
            "name": "payrollItemId",
            "in": "query",
            "type": "string",
            "description": "payrollItemId",
            "x-ms-summary": "payrollItemId"
          },
          {
            "name": "paymentType",
            "in": "query",
            "type": "string",
            "description": "paymentType",
            "x-ms-summary": "paymentType"
          },
          {
            "name": "payrollDate",
            "in": "query",
            "type": "string",
            "description": "payrollDate",
            "x-ms-summary": "payrollDate"
          },
          {
            "name": "employeeIdFilter",
            "in": "query",
            "type": "string",
            "description": "employeeIdFilter",
            "x-ms-summary": "employeeIdFilter"
          },
          {
            "name": "payrollDateFilter",
            "in": "query",
            "type": "string",
            "description": "payrollDateFilter",
            "x-ms-summary": "payrollDateFilter"
          },
          {
            "name": "moneyFilter",
            "in": "query",
            "type": "string",
            "description": "moneyFilter",
            "x-ms-summary": "moneyFilter"
          },
          {
            "name": "payrollItemIdFilter",
            "in": "query",
            "type": "string",
            "description": "payrollItemIdFilter",
            "x-ms-summary": "payrollItemIdFilter"
          },
          {
            "name": "payrollPlanId",
            "in": "query",
            "type": "string",
            "description": "payrollPlanId",
            "x-ms-summary": "payrollPlanId"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code",
                  "x-ms-summary": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "size",
                      "x-ms-summary": "size"
                    },
                    "current": {
                      "type": "integer",
                      "format": "int32",
                      "description": "current",
                      "x-ms-summary": "current"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id",
                            "x-ms-summary": "id"
                          },
                          "employeeId": {
                            "type": "string",
                            "description": "employeeId",
                            "x-ms-summary": "employeeId"
                          },
                          "payrollItemId": {
                            "type": "string",
                            "description": "payrollItemId",
                            "x-ms-summary": "payrollItemId"
                          },
                          "money": {
                            "type": "number",
                            "format": "double",
                            "description": "money",
                            "x-ms-summary": "money"
                          },
                          "paymentType": {
                            "type": "string",
                            "description": "paymentType",
                            "x-ms-summary": "paymentType"
                          },
                          "payrollDate": {
                            "type": "string",
                            "description": "payrollDate",
                            "x-ms-summary": "payrollDate"
                          },
                          "remark": {
                            "type": "string",
                            "description": "remark",
                            "x-ms-summary": "remark"
                          },
                          "headFile": {
                            "type": "string",
                            "description": "headFile",
                            "x-ms-summary": "headFile"
                          },
                          "code": {
                            "type": "string",
                            "description": "code",
                            "x-ms-summary": "code"
                          },
                          "englishName": {
                            "type": "string",
                            "description": "englishName",
                            "x-ms-summary": "englishName"
                          },
                          "chineseName": {
                            "type": "string",
                            "description": "chineseName",
                            "x-ms-summary": "chineseName"
                          },
                          "positionName": {
                            "type": "string",
                            "description": "positionName",
                            "x-ms-summary": "positionName"
                          },
                          "payrollItemName": {
                            "type": "string",
                            "description": "payrollItemName",
                            "x-ms-summary": "payrollItemName"
                          },
                          "costCenterName": {
                            "type": "string",
                            "description": "costCenterName",
                            "x-ms-summary": "costCenterName"
                          },
                          "calculateSalaryType": {
                            "type": "string",
                            "description": "calculateSalaryType",
                            "x-ms-summary": "calculateSalaryType"
                          },
                          "payrollPlanId": {
                            "type": "string",
                            "description": "payrollPlanId",
                            "x-ms-summary": "payrollPlanId"
                          },
                          "payrollPlanName": {
                            "type": "string",
                            "description": "payrollPlanName",
                            "x-ms-summary": "payrollPlanName"
                          }
                        }
                      },
                      "description": "records",
                      "x-ms-summary": "records"
                    },
                    "pages": {
                      "type": "integer",
[...]
