{
  "swagger": "2.0",
  "info": {
    "title": "Affinity MCP",
    "description": "Affinity, the AI-first private capital CRM, right inside Copilot. Search your network, surface warm intro paths, prep for meetings, and keep deals and records current.",
    "version": "1.0",
    "contact": {
      "name": "Affinity Support",
      "url": "https://support.affinity.co",
      "email": "support@affinity.co"
    }
  },
  "host": "mcp.affinity.co",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/mcp": {
      "post": {
        "summary": "Invoke MCP Server",
        "description": "Handles communication with the Affinity MCP Server.",
        "operationId": "InvokeMCP",
        "x-ms-agentic-protocol": "mcp-streamable-1.0",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/healthz": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Check server health",
        "description": "Returns OK if the Affinity MCP server is healthy.",
        "operationId": "HealthCheck",
        "parameters": [],
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://affinity.co"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.affinity.co/legal/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ],
  "security": [
    {
      "oauth2-auth": [
        "mcp",
        "mcp.read",
        "offline_access"
      ]
    }
  ],
  "tags": [],
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.affinity.co/auth/oauth2/authorize",
      "tokenUrl": "https://login.affinity.co/auth/oauth2/token",
      "scopes": {
        "mcp": "mcp",
        "mcp.read": "mcp.read",
        "offline_access": "offline_access"
      }
    }
  }
}
