{
  "swagger": "2.0",
  "info": {
    "title": "Unix Timestamp",
    "description": "Converts Unix timestamps to DateTime objects and DateTime objects to Unix timestamps.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "showcase.api.linx.twenty57.net",
  "basePath": "/UnixTime/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/fromunixtimestamp": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Datetime": {
                  "type": "string",
                  "description": "The datetime.",
                  "title": "DateTime"
                }
              }
            }
          }
        },
        "summary": "Unix Timestamp to UTC DateTime",
        "description": "Converts Unix timestamp to UTC datetime (yyyy-MM-dd HH:mm:ss).",
        "operationId": "Unix2UTCDateTime",
        "parameters": [
          {
            "name": "unixtimestamp",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The Unix timestamp.",
            "x-ms-summary": "Unix Timestamp"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Datetime": {
                  "type": "string",
                  "description": "The datetime.",
                  "title": "Datetime"
                }
              }
            }
          }
        },
        "summary": "Unix Timestamp to DateTime with Timezone",
        "description": "Converts Unix timestamp to datetime with timezone (yyyy-MM-dd'T'HH:mm:ssXXX).",
        "operationId": "Unix2DateTimeTimezone",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "UnixTimeStamp": {
                  "type": "string",
                  "description":"The Unix timestamp.",
                  "title":  "UnixTimeStamp"
                },
                "Timezone": {
                  "type": "string",
                  "description": "The timezone.",
                  "title": "Timezone"
                }
              }
            }
          }
        ]
      }
    },
    "/tounixtimestamp": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "UnixTimeStamp": {
                  "type": "string",
                  "description": "The Unix timestamp.",
                  "title": "UnixTimeStamp"
                }
              }
            }
          }
        },
        "summary": "DateTime to Unix Timestamp",
        "description": "Converts datetime (multiple formats) to Unix timestamp.",
        "operationId": "DateTime2UnixTimestamp",
        "parameters": [
          {
            "name": "datetime",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "now",
            "description": "The datetime.",
            "x-ms-summary": "DateTime"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://unixtime.co.za/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://unixtime.co.za/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}