{
  "swagger": "2.0",
  "info": {
    "title": "Autenti E-Signature Workflow",
    "description": "The Autenti E-Signature Standard Workflow Connector enables integration with the Autenti platform, offering functionalities related to managing processes of electronic signing of documents within workflows. Connector require additional purchase: https://autenti.com/p-a",
    "version": "1.0",
    "contact": {
      "name": "Autenti",
      "url": "https://autenti.com/en/contact",
      "email": "support@autenti.com"
    }
  },
  "host": "api.autenti.com",
  "basePath": "/api/v2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/document-processes/": {},
    "/document-processes/${documentProcessId}": {},
    "/document-processes": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "filename": {
                    "type": "string",
                    "description": "filename"
                  },
                  "description": {
                    "type": "string",
                    "description": "description"
                  },
                  "version": {
                    "type": "string",
                    "description": "version"
                  },
                  "size": {
                    "type": "string",
                    "description": "size"
                  },
                  "modificationTime": {
                    "type": "string",
                    "description": "modificationTime"
                  },
                  "filePurpose": {
                    "type": "string",
                    "description": "filePurpose"
                  },
                  "mimeType": {
                    "type": "string",
                    "description": "mimeType"
                  },
                  "mimeTypeBeforeConversion": {
                    "type": "string",
                    "description": "mimeTypeBeforeConversion"
                  },
                  "conversionStatus": {
                    "type": "string",
                    "description": "conversionStatus"
                  },
                  "relationships": {
                    "type": "string",
                    "description": "relationships"
                  },
                  "processes": {
                    "type": "string",
                    "description": "processes"
                  }
                }
              }
            }
          }
        },
        "summary": "List documents",
        "description": "This action provides an interface to list all documents within the system, allowing for incremental synchronization of document statuses and details between the Autenti platform and the client's system. Essential for maintaining up-to-date document workflows. Action requires additional purchase: https://autenti.com/p-a",
        "operationId": "List_documents",
        "consumes": [
          "application/json",
          "text/plain",
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "parameters": []
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id",
                  "title": "Document ID"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "processLanguage": {
                  "type": "string",
                  "description": "processLanguage"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "parties": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "party": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id",
                            "title": "",
                            "x-ms-visibility": "advanced"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "firstName"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "lastName"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "contacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "type"
                                },
                                "attributes": {
                                  "type": "object",
                                  "properties": {
                                    "email": {
                                      "type": "string",
                                      "description": "email"
                                    }
                                  },
                                  "description": "attributes"
                                }
                              }
                            },
                            "description": "contacts"
                          },
                          "extIds": {
                            "type": "array",
                            "items": {},
                            "description": "extIds"
                          },
                          "relationships": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "type"
                                },
                                "party": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "id"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "name"
                                    },
                                    "contacts": {
                                      "type": "array",
                                      "items": {},
                                      "description": "contacts"
                                    },
                                    "extIds": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "identificationSpace": {
                                            "type": "string",
                                            "description": "identificationSpace"
                                          },
                                          "identifier": {
                                            "type": "string",
                                            "description": "identifier"
                                          }
                                        }
                                      },
                                      "description": "extIds"
                                    },
                                    "relationships": {
                                      "type": "array",
                                      "items": {},
                                      "description": "relationships"
                                    }
                                  },
                                  "description": "party"
                                },
                                "attributes": {
                                  "type": "object",
                                  "properties": {
                                    "relationshipDescription": {
                                      "type": "string",
                                      "description": "relationshipDescription"
                                    }
                                  },
                                  "description": "attributes"
                                }
                              }
                            },
                            "description": "relationships"
                          }
                        },
                        "description": "party"
                      },
                      "role": {
                        "type": "string",
                        "description": "role"
                      },
                      "participationStatus": {
                        "type": "string",
                        "description": "participationStatus"
                      },
                      "constraints": {
                        "type": "array",
                        "items": {},
                        "description": "constraints"
                      },
                      "currentUser": {
                        "type": "boolean",
                        "description": "currentUser"
                      },
                      "events": {
                        "type": "array",
                        "items": {},
                        "description": "events"
                      }
                    }
                  },
                  "description": "parties"
                },
                "files": {
                  "type": "array",
                  "items": {},
                  "description": "files"
                },
                "tags": {
                  "type": "array",
                  "items": {},
                  "description": "tags"
                },
                "constraints": {
                  "type": "array",
                  "items": {},
                  "description": "constraints"
                },
                "flags": {
                  "type": "array",
                  "items": {},
                  "description": "flags"
                },
                "createdAt": {
                  "type": "string",
                  "description": "createdAt"
                },
                "modifiedAt": {
                  "type": "string",
                  "description": "modifiedAt"
                }
              }
            }
          },
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id",
                  "title": "Document ID"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "processLanguage": {
                  "type": "string",
                  "description": "processLanguage"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "parties": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "party": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id",
                            "title": "",
                            "x-ms-visibility": "advanced"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "firstName"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "lastName"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "contacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "type"
                                },
                                "attributes": {
                                  "type": "object",
                                  "properties": {
                                    "email": {
                                      "type": "string",
                                      "description": "email"
                                    }
                                  },
                                  "description": "attributes"
                                }
                              }
                            },
                            "description": "contacts"
                          },
                          "extIds": {
                            "type": "array",
                            "items": {},
                            "description": "extIds"
                          },
                          "relationships": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "type"
                                },
                                "party": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "id"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "name"
                                    },
                                    "contacts": {
                                      "type": "array",
                                      "items": {},
                                      "description": "contacts"
                                    },
                                    "extIds": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "identificationSpace": {
                                            "type": "string",
                                            "description": "identificationSpace"
                                          },
                                          "identifier": {
                                            "type": "string",
                                            "description": "identifier"
                                          }
                                        }
                                      },
                                      "description": "extIds"
                                    },
                                    "relationships": {
                                      "type": "array",
                                      "items": {},
                                      "description": "relationships"
                                    }
                                  },
                                  "description": "party"
                                },
                                "attributes": {
                                  "type": "object",
                                  "properties": {
                                    "relationshipDescription": {
                                      "type": "string",
                                      "description": "relationshipDescription"
                                    }
                                  },
                                  "description": "attributes"
                                }
                              }
                            },
                            "description": "relationships"
                          }
                        },
                        "description": "party"
                      },
                      "role": {
                        "type": "string",
                        "description": "role"
                      },
                      "participationStatus": {
                        "type": "string",
                        "description": "participationStatus"
                      },
                      "constraints": {
                        "type": "array",
                        "items": {},
                        "description": "constraints"
                      },
                      "currentUser": {
                        "type": "boolean",
                        "description": "currentUser"
                      },
                      "events": {
                        "type": "array",
                        "items": {},
                        "description": "events"
                      }
                    }
                  },
                  "description": "parties"
                },
                "files": {
                  "type": "array",
                  "items": {},
                  "description": "files"
                },
                "tags": {
                  "type": "array",
                  "items": {},
                  "description": "tags"
                },
                "constraints": {
                  "type": "array",
                  "items": {},
                  "description": "constraints"
                },
                "flags": {
                  "type": "array",
                  "items": {},
                  "description": "flags"
                },
                "createdAt": {
                  "type": "string",
                  "description": "createdAt"
                },
                "modifiedAt": {
                  "type": "string",
                  "description": "modifiedAt"
                }
              }
            }
          }
        },
        "summary": "Create document process draft",
        "operationId": "Create_draft",
        "description": "Initiate the creation of a document process draft, which serves as the preliminary setup for document workflows before finalization and execution. This step is critical for configuring document parameters and participants. Action requires additional purchase: https://autenti.com/p-a",
        "consumes": [
          "application/json",
          "text/plain",
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "title",
                  "title": "Document title"
                },
                "description": {
                  "type": "string",
                  "description": "description",
                  "title": "Description / message to participants",
                  "format": ""
                },
                "processLanguage": {
                  "type": "string",
                  "description": "processLanguage",
                  "title": "Signing process language",
                  "enum": [
                    "pl",
                    "en",
                    "de"
                  ]
                }
              },
              "required": [
                "title"
              ]
            }
          }
        ]
      }
    },
    "/document-processes/${documentProcessId}/parties": {},
    "/auth/token": {},
    "/document-processes/{documentProcessId}/parties": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "party": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id",
                      "title": "ID"
                    },
                    "firstName": {
                      "type": "string",
                      "description": "firstName",
                      "title": "First name"
                    },
                    "lastName": {
                      "type": "string",
                      "description": "lastName",
                      "title": "Last name"
                    },
                    "name": {
                      "type": "string",
                      "description": "name",
                      "title": "Name"
                    },
                    "contacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "type",
                            "title": "Type"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "description": "email",
                                "title": "Email"
                              }
                            },
                            "description": "attributes"
                          }
                        }
                      },
                      "description": "contacts"
                    },
                    "extIds": {
                      "type": "array",
                      "items": {},
                      "description": "extIds"
                    },
                    "relationships": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "party": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id",
                                "title": "ID"
                              },
                              "name": {
                                "type": "string",
                                "description": "name",
                                "title": "Name"
                              },
                              "contacts": {
                                "type": "array",
                                "items": {},
                                "description": "contacts"
                              },
                              "extIds": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "identificationSpace": {
                                      "type": "string",
                                      "description": "identificationSpace"
                                    },
                                    "identifier": {
                                      "type": "string",
                                      "description": "identifier"
                                    }
                                  }
                                },
                                "description": "extIds"
                              },
                              "relationships": {
                                "type": "array",
                                "items": {},
                                "description": "relationships"
                              }
                            },
                            "description": "party"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "relationshipDescription": {
                                "type": "string",
                                "description": "relationshipDescription",
                                "title": "Relationship description"
                              }
                            },
                            "description": "attributes"
                          }
                        }
                      },
                      "description": "relationships"
                    }
                  },
                  "description": "party"
                },
                "role": {
                  "type": "string",
                  "description": "role",
                  "title": "Role"
                },
                "participationStatus": {
                  "type": "string",
                  "description": "participationStatus",
                  "title": "Participation status"
                },
                "constraints": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "constrainedActions": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "constrainedActions"
                      },
                      "classifiers": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "classifiers"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "requiredClassifiers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "requiredClassifiers"
                          }
                        },
                        "description": "attributes"
                      }
                    }
                  },
                  "description": "constraints"
                },
                "currentUser": {
                  "type": "boolean",
                  "description": "currentUser",
                  "title": "Current User",
                  "enum": [
                    false,
                    true
                  ]
                },
                "events": {
                  "type": "array",
                  "items": {},
                  "description": "events"
                }
              }
            }
          }
        },
        "summary": "Add participant to document process",
        "description": "Enables the addition of participants to an ongoing document process, facilitating the inclusion of new signatories or viewers as the document progresses through various stages. Essential for dynamic workflow adjustments. Action requires additional purchase: https://autenti.com/p-a",
        "operationId": "Document_process_participants",
        "consumes": [
          "application/json",
          "text/plain",
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "documentProcessId",
            "description": "Document Process Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Document Process Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "firstName": {
                  "type": "string",
                  "description": "firstName",
                  "title": "First name"
                },
                "lastName": {
                  "type": "string",
                  "description": "lastName",
                  "title": "Last Name"
                },
                "contacts_type": {
                  "type": "string",
                  "description": "contacts_type",
                  "title": "Contact type",
                  "default": "CONTACT-TYPE:EMAIL",
                  "x-ms-visibility": "advanced"
                },
                "contacts_attributes_email": {
                  "type": "string",
                  "description": "contacts_attributes_email",
                  "title": "Email"
                },
                "relationships_type": {
                  "type": "string",
                  "description": "relationships_type",
                  "title": "Relationships type",
                  "default": "PARTY_RELATIONSHIP-TYPE:MEMBER"
                },
                "relationships_party_name": {
                  "type": "string",
                  "description": "relationships_party_name",
                  "title": "Company name"
                },
                "relationships_party_extIds_identificationSpace": {
                  "type": "string",
                  "description": "relationships_party_extIds_identificationSpace",
                  "title": "Identification Space",
                  "default": "TAXID-PL-NIP"
                },
                "relationships_party_extIds_identifier": {
                  "type": "string",
                  "description": "relationships_party_extIds_identifier",
                  "title": "Tax ID"
                },
                "enforce_participation_order": {
                  "type": "string",
                  "description": "Enforce participation order",
                  "title": "Enforce participation order",
                  "x-ms-visibility": "advanced"
                },
                "participation_order": {
                  "type": "string",
                  "description": "Participation order",
                  "title": "Participation order"
                },
                "relationships_attributes_relationshipDescription": {
                  "type": "string",
                  "description": "relationships_attributes_relationshipDescription",
                  "title": "Relationship description"
                },
                "role": {
                  "type": "string",
                  "description": "role",
                  "title": "Role",
                  "enum": [
                    "SIGNER",
                    "VIEWER",
                    "APPROVER",
                    "REVIEWER"
                  ],
                  "default": "SIGNER"
                },
                "constraints_constrainedActions": {
                  "type": "string",
                  "description": "constraints_constrainedActions",
                  "title": "Constrained Actions",
                  "default": "ACTION:SIGNATURE_APPLICATION",
                  "x-ms-visibility": "advanced"
                },
                "constraints_classifiers": {
                  "type": "string",
                  "description": "constraints_classifiers",
                  "title": "Constraints classifiers",
                  "default": "CONSTRAINT-UNIQUE_TYPE:SIGNATURE_TYPE",
                  "x-ms-visibility": "advanced"
                },
                "constraints_attributes_requiredClassifiers": {
                  "type": "string",
                  "description": "constraints_attributes_requiredClassifiers",
                  "title": "Constraints required classifiers",
                  "enum": [
                    "SIGNATURE_PROVIDER-SIGNATURE_TYPE:BASIC",
                    "SIGNATURE_PROVIDER-SIGNATURE_TYPE:QUALIFIED"
                  ]
                }
              },
              "required": [
                "role",
                "firstName",
                "lastName",
                "contacts_type",
                "constraints_attributes_requiredClassifiers",
                "contacts_attributes_email",
                "relationships_party_extIds_identificationSpace",
                "relationships_party_extIds_identifier",
                "relationships_party_name",
                "relationships_type"
              ]
            }
          }
        ]
      }
    },
    "/docs/autenti-public-api-v2/15c0a137a0d42-document-process-modification-change-add-to-participant-list": {},
    "/document-processes/{documentProcessId}/files": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get document process files",
        "description": "Retrieve all files associated with a specific document process. This action is vital for accessing document attachments and related files necessary for review and processing. Action requires additional purchase: https://autenti.com/p-a",
        "operationId": "Get_files_info",
        "parameters": [
          {
            "name": "documentProcessId",
            "description": "Document Process Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Document Process Id",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "post": {
        "summary": "Add file to document process",
        "description": "Allows users to upload and attach files to a document process. This capability is crucial for including necessary documentation such as contracts or supplementary materials in the signing process. Action requires additional purchase: https://autenti.com/p-a",
        "operationId": "Add_file",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "documentProcessId",
            "description": "Document Process Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Document Process Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "filePurpose",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Purpose of the file (e.g., SOURCE_FILE)",
            "default": "SOURCE_FILE",
            "x-ms-summary": "Purpose of the file (e.g., SOURCE_FILE)"
          },
          {
            "name": "mimeType",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "MIME type of the file (e.g., application/pdf)",
            "default": "application/pdf",
            "x-ms-summary": "MIME type of the file (e.g., application/pdf)"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "description": "The file to upload",
            "x-ms-summary": "The file to upload"
          }
        ],
        "responses": {
          "200": {
            "description": "File successfully added",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the file"
                },
                "filename": {
                  "type": "string",
                  "description": "Name of the file"
                },
                "version": {
                  "type": "string",
                  "description": "Version of the file"
                },
                "size": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Size of the file in bytes"
                },
                "filePurpose": {
                  "type": "string",
                  "description": "Purpose of the file"
                },
                "mimeType": {
                  "type": "string",
                  "description": "MIME type of the file"
                }
              }
            }
          }
        }
      }
    },
    "/document-processes/{documentProcessId}/actions": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "classifiers": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "classifiers"
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "options": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          },
                          "availability": {
                            "type": "string",
                            "description": "availability"
                          },
                          "meta": {
                            "type": "string",
                            "description": "meta"
                          }
                        }
                      },
                      "description": "options"
                    }
                  },
                  "description": "attributes"
                }
              }
            }
          }
        },
        "summary": "Perform action on document process",
        "operationId": "Actions_availability",
        "description": "Execute specific actions on a document process, such as starting the signing process, withdrawing documents, or sending reminders to participants. This functionality is key to managing and steering document flows effectively. Action requires additional purchase: https://autenti.com/p-a",
        "consumes": [
          "application/json",
          "text/plain",
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "documentProcessId",
            "description": "Document Process Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Document Process Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "event_type": {
                  "type": "string",
                  "description": "event_type",
                  "title": "Options",
                  "enum": [
                    "Start document signing process",
                    "Withdraw (stop) document process",
                    "Remind participant about the document"
                  ]
                }
              },
              "required": [
                "event_type"
              ]
            }
          }
        ]
      }
    },
    "/document-processes/{documentProcessId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get document process details",
        "description": "Obtain comprehensive details about a specific document process, including participant information, document status, and history. This detailed overview is crucial for monitoring and managing the lifecycle of document processes. Action requires additional purchase: https://autenti.com/p-a",
        "operationId": "Get_by_id",
        "parameters": [
          {
            "name": "documentProcessId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Document ID",
            "x-ms-summary": "Document ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/document-processes/{documentProcessId}/files/{fileId}/content": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Retrieve document process file content",
        "description": "Download the content of files associated with a document process. This function is essential for participants who need to review documents in detail before proceeding with signing or approval. Action requires additional purchase: https://autenti.com/p-a",
        "operationId": "Download_file",
        "parameters": [
          {
            "name": "documentProcessId",
            "description": "Document Process Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Document Process Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "fileId",
            "description": "File Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "File Id",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/applications/callbacks": {
      "x-ms-notification-content": {
        "schema": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "id",
                "title": "Webhook id"
              },
              "actor": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id",
                    "title": "Event ID"
                  },
                  "type": {
                    "type": "string",
                    "description": "type",
                    "title": "Actor type"
                  }
                },
                "description": "actor"
              },
              "eventType": {
                "type": "string",
                "description": "eventType",
                "title": "Event Type"
              },
              "object": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id",
                    "title": "Document ID"
                  },
                  "type": {
                    "type": "string",
                    "description": "type",
                    "title": "Object type"
                  }
                },
                "description": "object"
              },
              "timestamp": {
                "type": "string",
                "description": "timestamp"
              }
            }
          }
        },
        "description": "test"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Created"
          }
        },
        "x-ms-trigger": "single",
        "summary": "Document Change (Webhook)",
        "description": "Set up notifications for changes in document status. This webhook ensures that all stakeholders are immediately informed of updates, maintaining workflow continuity. Action requires additional purchase: https://autenti.com/p-a",
        "operationId": "Document_change",
        "consumes": [
          "application/json",
          "text/plain",
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "responseVariant",
            "description": "Response Variant",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "microsoft_power_automate",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Response Variant"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackAdapterId": {
                  "type": "string",
                  "description": "callbackAdapterId",
                  "title": "Callback Adapter Id",
                  "default": "CALLBACK_ADAPTER:API_V2",
                  "x-ms-visibility": "important"
                },
                "callbackParameters": {
                  "type": "object",
                  "properties": {
                    "callbackUrl": {
                      "type": "string",
                      "description": "callbackUrl",
                      "title": "Callback Url",
                      "default": "x-ms-notification-url",
                      "x-ms-notification-url": true,
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "callbackParameters",
                  "required": [
                    "callbackUrl"
                  ]
                }
              },
              "required": [
                "callbackAdapterId",
                "callbackParameters"
              ]
            }
          }
        ]
      }
    },
    "/applications/callbacks/{callbackId}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete hook",
        "description": "Delete hook",
        "operationId": "DeleteDocument_change",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "callbackId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "responseVariant",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "microsoft_power_automate"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://api.autenti.com/api/v2/auth/authorization",
      "tokenUrl": "https://api.autenti.com/api/v2/auth/token",
      "scopes": {
        "full notification_management": "full notification_management"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "full notification_management"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://autenti.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://autenti.com/en/terms-and-conditions/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Productivity"
    }
  ]
}
