{
  "basePath": "/workflows",
  "consumes": [],
  "definitions": {},
  "host": "prod-14.ukwest.logic.azure.com",
  "info": {
    "description": "Actions which will allow you to generate Bar Codes, graphical images, as part of your Power Apps, Automations or Logic Apps. Embed the images directly into emails or save as a file to increase the number of uses for your graphical identifiers.",
    "title": "Vantage 365 Imaging",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "email": "Support@vantage365.co.uk"
    }
  },
  "parameters": {},
  "paths": {
    "/5884ce85663b4aba83128a0098112024/triggers/manual/paths/invoke": {
      "get": {
        "description": "Encode data in a graphical format using a 1D or 2D bar code",
        "operationId": "GenerateBarCode",
        "parameters": [
          {
            "default": "2016-10-01",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "default": "/triggers/manual/run",
            "in": "query",
            "name": "sp",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "default": "1.0",
            "in": "query",
            "name": "sv",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "default": "cFQmyp6LsHfQTy18hqygjAVLuXSHR-FMtcRg_CxLIkA",
            "in": "query",
            "name": "sig",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "default": 100,
            "description": "The height of the generated image",
            "in": "query",
            "name": "height",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Minimum Image Height",
            "x-ms-visibility": "advanced"
          },
          {
            "default": 100,
            "description": "Minimum width of the generated image",
            "in": "query",
            "name": "width",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Image Width",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "The type of bar code that you want to use to encode the data",
            "enum": [
              "Aztec",
              "Code 39",
              "Code 93",
              "Code 128",
              "Codabar",
              "Datamatrix",
              "EAN-8",
              "EAN-13",
              "ITF",
              "MSI Plessey",
              "PDF417",
              "QR Code",
              "UPC-A",
              "UPC-E"
            ],
            "in": "query",
            "name": "typeofcode",
            "required": true,
            "type": "string",
            "x-ms-summary": "Type of Bar Code",
            "x-ms-visibility": "important"
          },
          {
            "description": "The text that will be encoded in the Bar Code",
            "in": "query",
            "name": "texttoencode",
            "required": true,
            "type": "string",
            "x-ms-summary": "Text to Encode",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "properties": {
                "barcodegraphic": {
                  "description": "barcodegraphic",
                  "title": "barcodegraphic",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Generate Bar Code"
      }
    }
  },
  "produces": [],
  "responses": {},
  "schemes": [
    "https"
  ],
  "security": [],
  "securityDefinitions": {
    "api_key": {
      "in": "header",
      "name": "V365APIKey",
      "type": "apiKey"
    }
  },
  "swagger": "2.0",
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "Www.vantage365.co.uk"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.vantage365.co.uk/privacy"
    }
  ]
}