{
  "swagger": "2.0",
  "info": {
    "title": "IBM Watson Text to Speech",
    "description": "The IBM Watson Text to Speech service uses IBM's speech-synthesis capabilities to synthesize text into natural-sounding speech in a variety of languages, dialects, and voices.",
    "version": "1.0",
    "contact": {
      "name": "Lucas Titus",
      "url": "https://uk.linkedin.com/in/lucas-titus-a59541176",
      "email": "lucas.titus.21@ucl.ac.uk"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://cloud.ibm.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.ibm.com/us-en/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ],
  "host": "text-to-speech.watson.cloud.ibm.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/synthesize": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "base64": {
                  "type": "string",
                  "description": "base64"
                }
              }
            }
          }
        },
        "summary": "Synthesize",
        "parameters": [
          {
            "name": "voice",
            "in": "query",
            "x-ms-summary": "Voice Name",
            "required": false,
            "type": "string",
            "default": "en-US_MichaelV3Voice",
            "description": "Voice Name",
            "enum": [
              "ar-MS_OmarVoice",
              "cs-CZ_AlenaVoice",
              "de-DE_BirgitV3Voice",
              "de-DE_DieterV3Voice",
              "de-DE_ErikaV3Voice",
              "en-AU_CraigVoice",
              "en-AU_MadisonVoice",
              "en-AU_SteveVoice",
              "en-GB_CharlotteV3Voice",
              "en-GB_JamesV3Voice",
              "en-GB_KateV3Voice",
              "en-US_AllisonExpressive",
              "en-US_AllisonV3Voice",
              "en-US_EmilyV3Voice",
              "en-US_EmmaExpressive",
              "en-US_HenryV3Voice",
              "en-US_KevinV3Voice",
              "en-US_LisaExpressive",
              "en-US_LisaV3Voice",
              "en-US_MichaelExpressive",
              "en-US_MichaelV3Voice",
              "en-US_OliviaV3Voice",
              "es-ES_EnriqueV3Voice",
              "es-ES_LauraV3Voice",
              "es-LA_SofiaV3Voice",
              "es-US_SofiaV3Voice",
              "fr-CA_LouiseV3Voice",
              "fr-FR_NicolasV3Voice",
              "fr-FR_ReneeV3Voice",
              "it-IT_FrancescaV3Voice",
              "ja-JP_EmiV3Voice",
              "ko-KR_HyunjunVoice",
              "ko-KR_SiWooVoice",
              "ko-KR_YoungmiVoice",
              "ko-KR_YunaVoice",
              "nl-BE_AdeleVoice",
              "nl-BE_BramVoice",
              "nl-NL_EmmaVoice",
              "nl-NL_LiamVoice",
              "pt-BR_IsabelaV3Voice",
              "sv-SE_IngridVoice",
              "zh-CN_LiNaVoice",
              "zh-CN_WangWeiVoice",
              "zh-CN_ZhangJingVoice"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "x-ms-summary": "Text",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "Text to convert to speech",
                  "title": "Text"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        ],
        "description": "Synthesizes text to audio that is spoken in the specified voice.",
        "operationId": "Synthesize"
      }
    },
    "/v1/voices": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "voices": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "url"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "language": {
                        "type": "string",
                        "description": "language"
                      },
                      "customizable": {
                        "type": "boolean",
                        "description": "customizable"
                      },
                      "gender": {
                        "type": "string",
                        "description": "gender"
                      },
                      "supported_features": {
                        "type": "object",
                        "properties": {
                          "voice_transformation": {
                            "type": "boolean",
                            "description": "voice_transformation"
                          },
                          "custom_pronunciation": {
                            "type": "boolean",
                            "description": "custom_pronunciation"
                          }
                        },
                        "description": "supported_features"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "List Voices",
        "description": "Lists all voices available for use with the service.",
        "operationId": "ListVoices"
      }
    },
    "/v1/pronunciation": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "pronunciation": {
                  "type": "string",
                  "description": "pronunciation"
                }
              }
            }
          }
        },
        "summary": "Pronunciation",
        "operationId": "Pronunciation",
        "description": "Gets the phonetic pronunciation for the specified word.",
        "parameters": [
          {
            "name": "voice",
            "in": "query",
            "x-ms-summary": "Voice Name",
            "required": false,
            "type": "string",
            "default": "en-US_MichaelV3Voice",
            "description": "Voice Name",
            "enum": [
              "ar-MS_OmarVoice",
              "cs-CZ_AlenaVoice",
              "de-DE_BirgitV3Voice",
              "de-DE_DieterV3Voice",
              "de-DE_ErikaV3Voice",
              "en-AU_CraigVoice",
              "en-AU_MadisonVoice",
              "en-AU_SteveVoice",
              "en-GB_CharlotteV3Voice",
              "en-GB_JamesV3Voice",
              "en-GB_KateV3Voice",
              "en-US_AllisonExpressive",
              "en-US_AllisonV3Voice",
              "en-US_EmilyV3Voice",
              "en-US_EmmaExpressive",
              "en-US_HenryV3Voice",
              "en-US_KevinV3Voice",
              "en-US_LisaExpressive",
              "en-US_LisaV3Voice",
              "en-US_MichaelExpressive",
              "en-US_MichaelV3Voice",
              "en-US_OliviaV3Voice",
              "es-ES_EnriqueV3Voice",
              "es-ES_LauraV3Voice",
              "es-LA_SofiaV3Voice",
              "es-US_SofiaV3Voice",
              "fr-CA_LouiseV3Voice",
              "fr-FR_NicolasV3Voice",
              "fr-FR_ReneeV3Voice",
              "it-IT_FrancescaV3Voice",
              "ja-JP_EmiV3Voice",
              "ko-KR_HyunjunVoice",
              "ko-KR_SiWooVoice",
              "ko-KR_YoungmiVoice",
              "ko-KR_YunaVoice",
              "nl-BE_AdeleVoice",
              "nl-BE_BramVoice",
              "nl-NL_EmmaVoice",
              "nl-NL_LiamVoice",
              "pt-BR_IsabelaV3Voice",
              "sv-SE_IngridVoice",
              "zh-CN_LiNaVoice",
              "zh-CN_WangWeiVoice",
              "zh-CN_ZhangJingVoice"
            ]
          },
          {
            "name": "text",
            "in": "query",
            "x-ms-summary": "Text",
            "description": "Text to pronounce",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/v1/voices/{voice}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "language": {
                  "type": "string",
                  "description": "language"
                },
                "customizable": {
                  "type": "boolean",
                  "description": "customizable"
                },
                "gender": {
                  "type": "string",
                  "description": "gender"
                },
                "supported_features": {
                  "type": "object",
                  "properties": {
                    "voice_transformation": {
                      "type": "boolean",
                      "description": "voice_transformation"
                    },
                    "custom_pronunciation": {
                      "type": "boolean",
                      "description": "custom_pronunciation"
                    }
                  },
                  "description": "supported_features"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                }
              }
            }
          }
        },
        "summary": "Get Voice",
        "description": "Gets information about the specified voice.",
        "operationId": "GetVoice",
        "parameters": [
          {
            "name": "voice",
            "in": "path",
            "x-ms-summary": "Voice Name",
            "description": "Voice Name",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic-auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic-auth": []
    }
  ],
  "tags": []
}