{
  "swagger": "2.0",
  "info": {
    "title": "DigitalHumani",
    "description": "DigitalHumani - A RaaS (Reforestation as a Service) which easily integrates with your products to reforest the planet. It is developed and maintained by a group of volunteers who want to make their part to help fight climate change. The $1 / tree is paid directly to the reforestation organization you choose, without us handling the money. This way, you can be sure that the money will be used to have the trees planted.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.digitalhumani.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/enterprise/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "created": {
                  "type": "string",
                  "description": "When created.",
                  "title": "Created"
                },
                "updated": {
                  "type": "string",
                  "description": "When updated.",
                  "title": "Updated"
                },
                "id": {
                  "type": "string",
                  "description": "The unique identifier..",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "contact": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The contact name.",
                      "title": "Name"
                    }
                  },
                  "title": "Contact"
                }
              }
            }
          }
        },
        "summary": "Get enterprise by ID",
        "description": "This method allows you to retrieve the details of your enterprise.",
        "operationId": "EnterpriseGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/project": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The unique identifier.",
                    "title": "ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "reforestationProjectDescription_en": {
                    "type": "string",
                    "description": "The description of the reforestation project.",
                    "title": "Reforestation Project Description"
                  },
                  "reforestationProjectState_en": {
                    "type": "string",
                    "description": "The state of the reforestation project.",
                    "title": "Reforestation Project State"
                  },
                  "reforestationProjectCountry_en": {
                    "type": "string",
                    "description": "The country of the reforestation project.",
                    "title": "Reforestation Project Country"
                  },
                  "reforestationProjectWebsite_en": {
                    "type": "string",
                    "description": "The website of the reforestation project.",
                    "title": "Reforestation Project Website"
                  },
                  "reforestationCompanyName_en": {
                    "type": "string",
                    "description": "The company name of the reforestation project.",
                    "title": "Reforestation Company Name"
                  }
                }
              }
            }
          }
        },
        "summary": "Get list of all projects",
        "description": "This method retrieves all the reforestation projects available.",
        "operationId": "ProjectGet",
        "parameters": []
      }
    },
    "/project/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "reforestationCompanyName_fr": {
                  "type": "string",
                  "description": "The company name of the reforestation project in French.",
                  "title": "Reforestation Company Name in French"
                },
                "reforestationProjectImageURL_en": {
                  "type": "string",
                  "description": "The image URL of the reforestation project.",
                  "title": "Reforestation Project Image URL"
                },
                "reforestationCompanyName_en": {
                  "type": "string",
                  "description": "The  of the reforestation project.",
                  "title": "Reforestation Company Name"
                },
                "reforestationProjectCountry_en": {
                  "type": "string",
                  "description": "The country of the reforestation project.",
                  "title": "Reforestation Project Country"
                },
                "reforestationCompanyAddress_en": {
                  "type": "string",
                  "description": ".",
                  "title": "Reforestation Company Address"
                },
                "created": {
                  "type": "string",
                  "description": "When created.",
                  "title": "Created"
                },
                "reforestationProjectWebsite_en": {
                  "type": "string",
                  "description": "The website of the reforestation project.",
                  "title": "Reforestation Project Website"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "reforestationProjectWebsite_fr": {
                  "type": "string",
                  "description": "The website of the reforestation project in French.",
                  "title": "Reforestation Project Website in French"
                },
                "reforestationProjectCountry_fr": {
                  "type": "string",
                  "description": "The country of the reforestation project in French.",
                  "title": "Reforestation Project Country in French"
                },
                "updated": {
                  "type": "string",
                  "description": "When updated.",
                  "title": "Updated"
                },
                "reforestationProjectDescription_fr": {
                  "type": "string",
                  "description": "The description of the reforestation project in French.",
                  "title": "Reforestation Project Description in French"
                },
                "reforestationProjectDescription_en": {
                  "type": "string",
                  "description": "The description of the reforestation project.",
                  "title": "Reforestation Project Description"
                },
                "reforestationCompanyWebsite_fr": {
                  "type": "string",
                  "description": "The company website of the reforestation project in French.",
                  "title": "Reforestation Company Website in French"
                },
                "reforestationCompanyWebsite_en": {
                  "type": "string",
                  "description": "The company website of the reforestation project.",
                  "title": "Reforestation Company Website"
                },
                "reforestationCompanyAddress_fr": {
                  "type": "string",
                  "description": "The company address of the reforestation project in French.",
                  "title": "Reforestation Company Address in French"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "id": {
                  "type": "string",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "reforestationProjectImageURL_fr": {
                  "type": "string",
                  "description": "The image URL of the reforestation project.",
                  "title": "Reforestation Project Image URL"
                }
              }
            }
          }
        },
        "summary": "Get project by ID",
        "description": "This method allows you to retrieve the details of a single reforestation project.",
        "operationId": "ProjectGetA",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/tree": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "description": "The universally unique identifier generated.",
                  "title": "UUID"
                },
                "created": {
                  "type": "string",
                  "description": "When created.",
                  "title": "Created"
                },
                "treeCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The tree count.",
                  "title": "Tree Count"
                },
                "enterpriseId": {
                  "type": "string",
                  "description": "The unique identifier of the enterprise.",
                  "title": "Enterprise ID"
                },
                "projectId": {
                  "type": "string",
                  "description": "The unique identifier of the project.",
                  "title": "Project ID"
                },
                "user": {
                  "type": "string",
                  "description": "The user.",
                  "title": "User"
                }
              }
            }
          }
        },
        "summary": "Plant one or many trees",
        "description": "This method sends the request to plant one or many trees.",
        "operationId": "TreePlant",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "treeCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The tree count.",
                  "title": "Tree Count"
                },
                "enterpriseId": {
                  "type": "string",
                  "description": "The unique identifier of the enterprise.",
                  "title": "Enterprise ID"
                },
                "projectId": {
                  "type": "string",
                  "description": "The unique identifier of the project.",
                  "title": "Project ID"
                },
                "user": {
                  "type": "string",
                  "description": "The user.",
                  "title": "User"
                }
              }
            }
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "enterpriseId": {
                  "type": "string",
                  "description": "The unique identifier of the enterprise.",
                  "title": "Enterprise ID"
                },
                "user": {
                  "type": "string",
                  "description": "The user.",
                  "title": "User"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                }
              }
            }
          }
        },
        "summary": "Count trees for a user",
        "description": "This method allows you to retrieve the number of trees planted by a specific user.",
        "operationId": "TreeCount",
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "query",
            "x-ms-summary": "Enterprise ID",
            "description": "The unique identifier of the enterprise.",
            "required": false,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "x-ms-summary": "User",
            "description": "The user.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/tree/{uuid-of-tree-planted}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "projectId": {
                  "type": "string",
                  "description": "The unique identifier of the project.",
                  "title": "Project ID"
                },
                "created": {
                  "type": "string",
                  "description": "When created.",
                  "title": "Created"
                },
                "uuid": {
                  "type": "string",
                  "description": "The universally unique identifier generated.",
                  "title": "UUID"
                },
                "user": {
                  "type": "string",
                  "description": "The user.",
                  "title": "User"
                },
                "treeCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The tree count.",
                  "title": "Tree Count"
                },
                "enterpriseId": {
                  "type": "string",
                  "description": "The unique identifier of the enterprise.",
                  "title": "Enterprise ID"
                }
              }
            }
          }
        },
        "summary": "Get details of a single request to plant one or many trees",
        "description": "This method allows you to retrieve the details of a single request to plant trees.",
        "operationId": "TreeDetails",
        "parameters": [
          {
            "name": "uuid-of-tree-planted",
            "in": "path",
            "x-ms-summary": "UUID of tree planted",
            "x-ms-url-encoding": "single",
            "description": "The universally unique identifier generated of the tree planted.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/enterprise/{id}/treeCount/{YYYY-MM}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                }
              }
            }
          }
        },
        "summary": "Count trees for an enterprise by month",
        "description": "This method allows you to retrieve the number of trees planted by an enterprise for a specific month.",
        "operationId": "TreeCountMonth",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "YYYY-MM",
            "in": "path",
            "x-ms-summary": "Year and month",
            "x-ms-url-encoding": "single",
            "description": "The year and month in the YYYY-MM format.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/enterprise/{id}/treeCount": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                }
              }
            }
          }
        },
        "summary": "Count trees for an enterprise for any range of date",
        "description": "This method allows you to retrieve the number of trees planted by an enterprise for any range of date.",
        "operationId": "TreeCountDates",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "startDate",
            "in": "query",
            "x-ms-summary": "Start Date",
            "description": "The start date.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "x-ms-summary": "End Date",
            "description": "The end date.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Api-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://digitalhumani.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://digitalhumani.com/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}
