{
  "swagger": "2.0",
  "info": {
    "title": "Airtable",
    "description": "Airtable custom connector",
    "version": "1.0"
  },
  "host": "api.airtable.com",
  "basePath": "/v0",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{Base ID}/{Table}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "records": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Record ID"
                      },
                      "createdTime": {
                        "type": "string",
                        "description": "Record Created Time"
                      }
                    }
                  },
                  "description": "Records"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Base ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Base ID",
            "x-ms-summary": "Base ID"
          },
          {
            "name": "Table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filterByFormula",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "maxRecords",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "cellFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "timeZone",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "userLocale",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          }
        ],
        "summary": "List Records",
        "description": "List Records",
        "operationId": "ListRecords"
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Record ID"
                },
                "createdTime": {
                  "type": "string",
                  "description": "Record Created Time"
                }
              }
            }
          }
        },
        "summary": "Create a record",
        "description": "Create a record",
        "operationId": "CreateaRecord",
        "parameters": [
          {
            "name": "Base ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ]
      }
    },
    "/{Base ID}/{Table}/{Record ID}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Record ID"
                },
                "createdTime": {
                  "type": "string",
                  "description": "Created Time"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Base ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Record ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "summary": "Retrieve a record",
        "description": "Retrieve a record",
        "operationId": "RetrieveaRecord"
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "deleted": {
                  "type": "boolean",
                  "description": "deleted"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "type"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    }
                  },
                  "description": "error"
                }
              }
            }
          }
        },
        "summary": "Delete a record",
        "description": "Delete a record",
        "operationId": "DeleteaRecord",
        "parameters": [
          {
            "name": "Base ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Record ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "fields": {
                  "type": "object",
                  "properties": {
                    "Writer": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "email": {
                          "type": "string",
                          "description": "email"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        }
                      },
                      "description": "Writer"
                    },
                    "Project name": {
                      "type": "string",
                      "description": "Project name"
                    },
                    "Requestor": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "email": {
                          "type": "string",
                          "description": "email"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        }
                      },
                      "description": "Requestor"
                    },
                    "Due date rationale": {
                      "type": "string",
                      "description": "Due date rationale"
                    },
                    "Approved?": {
                      "type": "boolean",
                      "description": "Approved?"
                    },
                    "Priority": {
                      "type": "string",
                      "description": "Priority"
                    },
                    "Status": {
                      "type": "string",
                      "description": "Status"
                    },
                    "Requested due date": {
                      "type": "string",
                      "description": "Requested due date"
                    },
                    "Additional notes": {
                      "type": "string",
                      "description": "Additional notes"
                    }
                  },
                  "description": "fields"
                },
                "createdTime": {
                  "type": "string",
                  "description": "createdTime"
                }
              }
            }
          }
        },
        "summary": "Update a record",
        "description": "Update a record",
        "operationId": "UpdateaRecord",
        "parameters": [
          {
            "name": "Base ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Record ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Record ID",
            "x-ms-summary": "Record ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}