{
  "swagger": "2.0",
  "info": {
    "title": "Airtable [DEPRECATED]",
    "description": "Connector to read and write data in Airtable. Airtable is a cloud-based spreadsheet-like service that enables users to collaborate and manage different types of data. It is easy-to-use and can act as database or CRM (Customer Relationship Management). It can also be used as project planning, tracking inventory.",
    "version": "1.0",
    "contact": {
      "name": "Woong Choi",
      "url": "https://last72.tistory.com/entry/Airtable-Connector-Support",
      "email": "Woong.Choi@sevensigma.com.au"
    }
  },
  "host": "api.airtable.com",
  "basePath": "/v0",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{Base ID}/{Table}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "records": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Record ID"
                      },
                      "createdTime": {
                        "type": "string",
                        "description": "Record Created Time"
                      }
                    }
                  },
                  "description": "Records"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Base ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Base ID",
            "x-ms-summary": "Base ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Table",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Table name",
            "x-ms-summary": "Table",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "filterByFormula",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "A formula used to filter records.",
            "x-ms-summary": "Formula filter"
          },
          {
            "name": "maxRecords",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "advanced",
            "description": "The maximum total number of records that will be returned in your requests.",
            "x-ms-summary": "Maximum number of records."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "advanced",
            "description": "The number of records returned in each request. Must be less than or equal to 100.",
            "x-ms-summary": "Page size per request"
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "The name or ID of a view in the table. If set, only the records in that view will be returned.",
            "x-ms-summary": "View"
          },
          {
            "name": "cellFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "The format that should be used for cell values. Supported values are: json: cells will be formatted as JSON, depending on the field type. string: cells will be formatted as user-facing strings, regardless of the field type.",
            "x-ms-summary": "Cell format"
          },
          {
            "name": "timeZone",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "The time zone that should be used to format dates when using string as the cellFormat. This parameter is required when using string as the cellFormat.",
            "x-ms-summary": "Time zone"
          },
          {
            "name": "userLocale",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "The user locale that should be used to format dates when using string as the cellFormat. This parameter is required when using string as the cellFormat.",
            "x-ms-summary": "User locale"
          }
        ],
        "summary": "List Records [DEPRECATED]",
        "description": "List Records in table. Returned records do not include any fields with empty values. You can filter, sort, and format the results with the parameters.",
        "operationId": "ListRecords"
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Record ID"
                },
                "createdTime": {
                  "type": "string",
                  "description": "Record Created Time"
                }
              }
            }
          }
        },
        "summary": "Create a record [DEPRECATED]",
        "description": "Create a record in a table. JSON record needs to be passed.",
        "operationId": "CreateaRecord",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "Base ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Base ID",
            "x-ms-summary": "Base ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Table",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Table name",
            "x-ms-summary": "Table",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "Content-Type for the body of the request. It is defaulted to JSON.",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ]
      }
    },
    "/{Base ID}/{Table}/{Record ID}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Record ID"
                },
                "createdTime": {
                  "type": "string",
                  "description": "Record Created Time"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Base ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Base ID",
            "x-ms-summary": "Base ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Table",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Table name",
            "x-ms-summary": "Table",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Record ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Record ID to be retrieved.",
            "x-ms-summary": "Record ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "summary": "Retrieve a record [DEPRECATED]",
        "description": "Retrieve a record in a table. Any empty fields (e.g. [], or false) in the record will not be returned.",
        "operationId": "RetrieveaRecord"
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "deleted": {
                  "type": "boolean",
                  "description": "deleted"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "type"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    }
                  },
                  "description": "error"
                }
              }
            }
          }
        },
        "summary": "Delete a record [DEPRECATED]",
        "description": "Delete a record in a table. Provide Record ID to select a record.",
        "operationId": "DeleteaRecord",
        "parameters": [
          {
            "name": "Base ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Base ID",
            "x-ms-summary": "Base ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Table",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Table name",
            "x-ms-summary": "Table",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Record ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Record ID to be deleted.",
            "x-ms-summary": "Record ID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "createdTime": {
                  "type": "string",
                  "description": "Record Created Time"
                }
              }
            }
          }
        },
        "summary": "Update a record [DEPRECATED]",
        "description": "Update a record in a table. It will only update the fields provided and leave the rest as they were.",
        "operationId": "UpdateaRecord",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "Base ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Base ID",
            "x-ms-summary": "Base ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Table",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Table name",
            "x-ms-summary": "Table",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Record ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Record ID to be updated",
            "x-ms-summary": "Record ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Content-Type for the body of the request. It is defaulted to JSON.",
            "x-ms-summary": "Content-Type",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "Generate a personal access token from https://airtable.com/create/tokens. Prefix your token with 'Bearer ', e.g. 'Bearer abcdefg'"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://airtable.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://airtable.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}
