{
  "swagger": "2.0",
  "info": {
    "title": "Airtable",
    "description": "Airtable is a collaborative platform that combines spreadsheet simplicity with database power. This connector enables full record CRUD, base and table discovery, comments, and polling triggers for new records.",
    "version": "1.0",
    "contact": {
      "name": "Aaron Mah",
      "url": "https://github.com/aaronmah",
      "email": "aaronmah@microsoft.com"
    }
  },
  "host": "api.airtable.com",
  "basePath": "/v0/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/meta/bases": {
      "get": {
        "operationId": "listBases",
        "summary": "List Bases",
        "description": "Lists all bases accessible to the authenticated user.",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Pagination cursor returned from a previous response.",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of bases.",
            "schema": {
              "$ref": "#/definitions/ListBasesResponse"
            }
          }
        }
      }
    },
    "/meta/bases/{baseId}/tables": {
      "get": {
        "operationId": "listTables",
        "summary": "List Tables",
        "description": "Lists all tables and their field schemas in a base.",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the base (e.g., appXXXXXXXXXXXX).",
            "x-ms-summary": "Base ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "listBases",
              "value-collection": "bases",
              "value-path": "id",
              "value-title": "name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of tables in the base.",
            "schema": {
              "$ref": "#/definitions/ListTablesResponse"
            }
          }
        }
      }
    },
    "/{baseId}/{tableIdOrName}": {
      "get": {
        "operationId": "listRecords",
        "summary": "List Records",
        "description": "Lists records in a table with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the base.",
            "x-ms-summary": "Base ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "listBases",
              "value-collection": "bases",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The table name or ID.",
            "x-ms-summary": "Table",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "filterByFormula",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Airtable formula to filter records (e.g., {Status}='Active').",
            "x-ms-summary": "Filter Formula",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "maxRecords",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Maximum total records to return across all pages.",
            "x-ms-summary": "Max Records",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Records per page (1-100, default 100).",
            "x-ms-summary": "Page Size",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sort[0][field]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Field name to sort by.",
            "x-ms-summary": "Sort Field",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sort[0][direction]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort direction: asc or desc.",
            "x-ms-summary": "Sort Direction",
            "x-ms-visibility": "advanced",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Name or ID of a view to apply its filters and sorts.",
            "x-ms-summary": "View",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Pagination cursor from a previous response.",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of records.",
            "schema": {
              "$ref": "#/definitions/ListRecordsResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "createRecord",
        "summary": "Create Record",
        "description": "Creates a new record in a table.",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the base.",
            "x-ms-summary": "Base ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "listBases",
              "value-collection": "bases",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The table name or ID.",
            "x-ms-summary": "Table",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRecordRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The created record.",
            "schema": {
              "$ref": "#/definitions/RecordResponse"
            }
          }
        }
      }
    },
    "/{baseId}/{tableIdOrName}/{recordId}": {
      "get": {
        "operationId": "getRecord",
        "summary": "Get Record",
        "description": "Retrieves a single record by its ID.",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the base.",
            "x-ms-summary": "Base ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "listBases",
              "value-collection": "bases",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The table name or ID.",
            "x-ms-summary": "Table",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The record ID (e.g., recXXXXXXXXXXXX).",
            "x-ms-summary": "Record ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The record details.",
            "schema": {
              "$ref": "#/definitions/RecordResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "updateRecord",
        "summary": "Update Record",
        "description": "Updates specific fields on an existing record without clearing unspecified fields.",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the base.",
            "x-ms-summary": "Base ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "listBases",
              "value-collection": "bases",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The table name or ID.",
            "x-ms-summary": "Table",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The record ID to update.",
            "x-ms-summary": "Record ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateRecordRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated record.",
            "schema": {
              "$ref": "#/definitions/RecordResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteRecord",
        "summary": "Delete Record",
        "description": "Permanently deletes a record from a table.",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the base.",
            "x-ms-summary": "Base ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "listBases",
              "value-collection": "bases",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The table name or ID.",
            "x-ms-summary": "Table",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The record ID to delete.",
            "x-ms-summary": "Record ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion confirmation.",
            "schema": {
              "$ref": "#/definitions/DeleteRecordResponse"
            }
          }
        }
      }
    },
    "/meta/whoami": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get Current User",
        "description": "Returns information about the authenticated user and their token scopes.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The current user information.",
            "schema": {
              "$ref": "#/definitions/CurrentUserResponse"
            }
          }
        }
      }
    },
    "/trigger/newRecords": {
      "get": {
        "operationId": "triggerNewRecords",
        "summary": "When a Record Is Created",
        "description": "Triggers when a new record is created in the specified table.",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "A new record is created.",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "x-base-id",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The ID of the base to monitor for new records.",
            "x-ms-summary": "Base ID"
          },
          {
            "name": "x-table-name",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The table name or ID to monitor for new records.",
            "x-ms-summary": "Table"
          },
          {
            "name": "since",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "2020-01-01T00:00:00.000Z",
            "x-ms-visibility": "internal",
            "x-ms-trigger-value": {
              "value-collection": "records",
              "value-path": "createdTime"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of new records.",
            "schema": {
              "$ref": "#/definitions/ListRecordsResponse"
            }
          },
          "202": {
            "description": "Accepted — no new records since last poll."
          }
        }
      }
    },
    "/{baseId}/{tableIdOrName}/{recordId}/comments": {
      "post": {
        "operationId": "createComment",
        "summary": "Create Comment",
        "description": "Adds a comment to a specific record.",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the base.",
            "x-ms-summary": "Base ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "listBases",
              "value-collection": "bases",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The table name or ID.",
            "x-ms-summary": "Table",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The record ID to comment on.",
            "x-ms-summary": "Record ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCommentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The created comment.",
            "schema": {
              "$ref": "#/definitions/CommentResponse"
            }
          }
        }
      },
      "get": {
        "operationId": "listComments",
        "summary": "List Comments",
        "description": "Lists all comments on a specific record.",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the base.",
            "x-ms-summary": "Base ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "listBases",
              "value-collection": "bases",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The table name or ID.",
            "x-ms-summary": "Table",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The record ID.",
            "x-ms-summary": "Record ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Pagination cursor from a previous response.",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Number of comments per page.",
            "x-ms-summary": "Page Size",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of comments.",
            "schema": {
              "$ref": "#/definitions/ListCommentsResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ListBasesResponse": {
      "type": "object",
      "properties": {
        "bases": {
          "type": "array",
          "description": "List of accessible bases.",
          "items": {
            "$ref": "#/definitions/Base"
          }
        },
        "offset": {
          "type": "string",
          "description": "Pagination cursor for the next page."
        }
      }
    },
    "Base": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Base ID (e.g., appXXXXXXXXXXXX).",
          "x-ms-summary": "Base ID"
        },
        "name": {
          "type": "string",
          "description": "Human-readable base name.",
          "x-ms-summary": "Base Name"
        },
        "permissionLevel": {
          "type": "string",
          "description": "User's permission level on this base.",
          "x-ms-summary": "Permission Level"
        }
      }
    },
    "ListTablesResponse": {
      "type": "object",
      "properties": {
        "tables": {
          "type": "array",
          "description": "List of tables in the base.",
          "items": {
            "$ref": "#/definitions/Table"
          }
        }
      }
    },
    "Table": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Table ID (e.g., tblXXXXXXXXXXXX).",
          "x-ms-summary": "Table ID"
        },
        "name": {
          "type": "string",
          "description": "Table name.",
          "x-ms-summary": "Table Name"
        },
        "description": {
          "type": "string",
          "description": "Table description.",
          "x-ms-summary": "Description"
        },
        "primaryFieldId": {
          "type": "string",
          "description": "ID of the primary field.",
          "x-ms-summary": "Primary Field ID"
        },
        "fields": {
          "type": "array",
          "description": "Field (column) definitions.",
          "items": {
            "$ref": "#/definitions/Field"
          }
        },
        "views": {
          "type": "array",
          "description": "View definitions.",
          "items": {
            "$ref": "#/definitions/View"
          }
        }
      }
    },
    "Field": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Field ID (e.g., fldXXXXXXXXXXXX).",
          "x-ms-summary": "Field ID"
        },
        "name": {
          "type": "string",
          "description": "Field name.",
          "x-ms-summary": "Field Name"
        },
        "type": {
          "type": "string",
          "description": "Field type (e.g., singleLineText, number, singleSelect).",
          "x-ms-summary": "Field Type"
        },
        "description": {
          "type": "string",
          "description": "Field description.",
          "x-ms-summary": "Description"
        }
      }
    },
    "View": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "View ID (e.g., viwXXXXXXXXXXXX).",
          "x-ms-summary": "View ID"
        },
        "name": {
          "type": "string",
          "description": "View name.",
          "x-ms-summary": "View Name"
        },
        "type": {
          "type": "string",
          "description": "View type (e.g., grid, kanban, form).",
          "x-ms-summary": "View Type"
        }
      }
    },
    "ListRecordsResponse": {
      "type": "object",
      "properties": {
        "records": {
          "type": "array",
          "description": "List of record objects.",
          "items": {
            "$ref": "#/definitions/RecordResponse"
          }
        },
        "offset": {
          "type": "string",
          "description": "Pagination cursor for the next page."
        }
      }
    },
    "RecordResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Record ID (e.g., recXXXXXXXXXXXX).",
          "x-ms-summary": "Record ID"
        },
        "createdTime": {
          "type": "string",
          "description": "ISO 8601 creation timestamp.",
          "x-ms-summary": "Created Time"
        },
        "fields": {
          "type": "object",
          "description": "Dynamic key-value pairs where keys are field names and values vary by field type.",
          "x-ms-summary": "Fields"
        }
      }
    },
    "CreateRecordRequest": {
      "type": "object",
      "required": [
        "fields"
      ],
      "properties": {
        "fields": {
          "type": "object",
          "description": "Key-value pairs where keys are field names and values match the field type.",
          "x-ms-summary": "Fields"
        },
        "typecast": {
          "type": "boolean",
          "description": "If true, Airtable auto-converts string values to the appropriate field type.",
          "x-ms-summary": "Typecast",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "UpdateRecordRequest": {
      "type": "object",
      "required": [
        "fields"
      ],
      "properties": {
        "fields": {
          "type": "object",
          "description": "Key-value pairs of fields to update. Unspecified fields are left unchanged.",
          "x-ms-summary": "Fields"
        },
        "typecast": {
          "type": "boolean",
          "description": "If true, auto-convert string values to appropriate types.",
          "x-ms-summary": "Typecast",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "DeleteRecordResponse": {
      "type": "object",
      "properties": {
        "deleted": {
          "type": "boolean",
          "description": "True if the record was successfully deleted.",
          "x-ms-summary": "Deleted"
        },
        "id": {
          "type": "string",
          "description": "The ID of the deleted record.",
          "x-ms-summary": "Record ID"
        }
      }
    },
    "CurrentUserResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "User ID (e.g., usrXXXXXXXXXXXX).",
          "x-ms-summary": "User ID"
        },
        "email": {
          "type": "string",
          "description": "User's email address.",
          "x-ms-summary": "Email"
        },
        "scopes": {
          "type": "array",
          "description": "List of scopes granted to the token.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CreateCommentRequest": {
      "type": "object",
      "required": [
        "text"
      ],
      "properties": {
        "text": {
          "type": "string",
          "description": "The comment text to add.",
          "x-ms-summary": "Comment Text"
        }
      }
    },
    "CommentResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Comment ID (e.g., comXXXXXXXXXXXX).",
          "x-ms-summary": "Comment ID"
        },
        "text": {
          "type": "string",
          "description": "The comment text.",
          "x-ms-summary": "Comment Text"
        },
        "author": {
          "type": "object",
          "description": "Comment author details.",
          "properties": {
            "id": {
              "type": "string",
              "description": "Author's user ID.",
              "x-ms-summary": "Author ID"
            },
            "email": {
              "type": "string",
              "description": "Author's email address.",
              "x-ms-summary": "Author Email"
            },
            "name": {
              "type": "string",
              "description": "Author's display name.",
              "x-ms-summary": "Author Name"
            }
          }
        },
        "createdTime": {
          "type": "string",
          "description": "ISO 8601 creation timestamp.",
          "x-ms-summary": "Created Time"
        }
      }
    },
    "ListCommentsResponse": {
      "type": "object",
      "properties": {
        "comments": {
          "type": "array",
          "description": "List of comment objects.",
          "items": {
            "$ref": "#/definitions/CommentResponse"
          }
        },
        "offset": {
          "type": "string",
          "description": "Pagination cursor for the next page."
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://airtable.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://airtable.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Productivity"
    }
  ]
}
