{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "GitHub Repos",
    "description": "A GitHub repository is the most basic element of GitHub. It's a place where you can store your code, your files, and each file's revision history. Repositories can have multiple collaborators and can be either public or private.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.github.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/repos/{owner}/{repo}/contents/{path}": {
      "get": {
        "summary": "Get GitHub content",
        "description": "Retrieve the file content of a repository. This action only works with files less than 100 MBs.",
        "operationId": "ContentsGet",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Accept",
            "description": "The media type requested.",
            "default": "application/vnd.github.object+json",
            "enum": [
              "application/vnd.github.object+json",
              "application/vnd.github.html+json",
              "application/vnd.github.raw+json"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "GitHub Object",
                "value": "application/vnd.github.object+json"
              },
              {
                "displayName": "GitHub HTML (only for files under 1MB)",
                "value": "application/vnd.github.html+json"
              },
              {
                "displayName": "GitHub Raw",
                "value": "application/vnd.github.raw+json"
              }
            ]
          },
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Owner",
            "description": "The owner of the repository.",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "UserRepositoriesGet",
              "value-path": "owner",
              "value-collection": "owners",
              "value-title": "owner"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Repo",
            "description": "The repository.",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "UserRepositoriesGet",
              "value-path": "name",
              "value-collection": "repositories",
              "value-title": "name"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Path",
            "description": "The path including the file, if desired.",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "DirectoryGet",
              "value-path": "path",
              "value-title": "path",
              "parameters": {
                "owner": {
                  "parameter": "owner"
                },
                "repo": {
                  "parameter": "repo"
                },
                "ref": {
                  "parameter": "ref"
                }
              }
            }
          },
          {
            "name": "ref",
            "in": "query",
            "x-ms-summary": "Ref",
            "description": "The name of the commit/branch/tag.",
            "required": true,
            "type": "string",
            "default": "main",
            "x-ms-dynamic-values": {
              "operationId": "BranchesGet",
              "value-path": "name",
              "value-title": "name",
              "parameters": {
                "owner": {
                  "parameter": "owner"
                },
                "repo": {
                  "parameter": "repo"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "size": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The size.",
                  "title": "Size"
                },
                "encoding": {
                  "type": "string",
                  "description": "The encoding.",
                  "title": "Encoding"
                },
                "content": {
                  "type": "string",
                  "description": "The content.",
                  "title": "Content"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "path": {
                  "type": "string",
                  "description": "The path.",
                  "title": "Path"
                },
                "target": {
                  "type": "string",
                  "description": "The target.",
                  "title": "Target"
                },
                "sha": {
                  "type": "string",
                  "description": "The SHA.",
                  "title": "SHA"
                },
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "git_url": {
                  "type": "string",
                  "description": "The Git URL address.",
                  "title": "Git URL"
                },
                "html_url": {
                  "type": "string",
                  "description": "The HTML URL address.",
                  "title": "HTML URL"
                },
                "download_url": {
                  "type": "string",
                  "description": "The download URL address.",
                  "title": "Download URL"
                },
                "submodule_git_url": {
                  "type": "string",
                  "description": "The submodule Git URL address.",
                  "title": "Submodule Git URL"
                },
                "_links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "The self link.",
                      "title": "Self"
                    },
                    "git": {
                      "type": "string",
                      "description": "The Git link.",
                      "title": "Git"
                    },
                    "html": {
                      "type": "string",
                      "description": "The HTML link.",
                      "title": "HTML"
                    }
                  },
                  "title": "Links"
                },
                "entries": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "size": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The size.",
                        "title": "Size"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "path": {
                        "type": "string",
                        "description": "The path.",
                        "title": "Path"
                      },
                      "sha": {
                        "type": "string",
                        "description": "The SHA.",
                        "title": "SHA"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "git_url": {
                        "type": "string",
                        "description": "The Git URL address.",
                        "title": "Git URL"
                      },
                      "html_url": {
                        "type": "string",
                        "description": "The HTML URL address.",
                        "title": "HTML URL"
                      },
                      "download_url": {
                        "type": "string",
                        "description": "The download URL address.",
                        "title": "Download URL"
                      },
                      "_links": {
                        "type": "object",
                        "properties": {
                          "self": {
                            "type": "string",
                            "description": "The self link.",
                            "title": "Self"
                          },
                          "git": {
                            "type": "string",
                            "description": "The Git link.",
                            "title": "Git"
                          },
                          "html": {
                            "type": "string",
                            "description": "The HTML link.",
                            "title": "HTML"
                          }
                        },
                        "title": "Links"
                      }
                    }
                  },
                  "title": "Entries"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "string",
                  "description": "The content.",
                  "title": "Content"
                },
                "commit": {
                  "type": "object",
                  "properties": {
                    "sha": {
                      "type": "string",
                      "description": "The SHA.",
                      "title": "SHA"
                    },
                    "node_id": {
                      "type": "string",
                      "description": "The node identifier.",
                      "title": "Node ID"
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    },
                    "html_url": {
                      "type": "string",
                      "description": "The HTML URL address.",
                      "title": "HTML URL"
                    },
                    "author": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string",
                          "description": "The date.",
                          "title": "Date"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "email": {
                          "type": "string",
                          "description": "The email address.",
                          "title": "Email"
                        }
                      },
                      "title": "Author"
                    },
                    "committer": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string",
                          "description": "The date.",
                          "title": "Date"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "email": {
                          "type": "string",
                          "description": "The email address.",
                          "title": "Email"
                        }
                      },
                      "title": "Committer"
                    },
                    "message": {
                      "type": "string",
                      "description": "The message.",
                      "title": "Message"
                    },
                    "tree": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "The URL address.",
                          "title": "URL"
                        },
                        "sha": {
                          "type": "string",
                          "description": "The SHA.",
                          "title": "SHA"
                        }
                      },
                      "title": "Tree"
                    },
                    "parents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "html_url": {
                            "type": "string",
                            "description": "The HTML URL address.",
                            "title": "HTML URL"
                          },
                          "sha": {
                            "type": "string",
                            "description": "The SHA.",
                            "title": "SHA"
                          }
                        }
                      },
                      "title": "Parents"
                    },
                    "verification": {
                      "type": "object",
                      "properties": {
                        "verified": {
                          "type": "boolean",
                          "description": "Whether verified.",
                          "title": "Verified"
                        },
                        "reason": {
                          "type": "string",
                          "description": "The reason.",
                          "title": "Reason"
                        },
                        "signature": {
                          "type": "string",
                          "description": "The signature.",
                          "title": "Signature"
                        },
                        "payload": {
                          "type": "string",
                          "description": "The payload.",
                          "title": "Payload"
                        }
                      },
                      "title": "Verification"
                    }
                  },
                  "title": "Commit"
                }
              }
            }
          }
        },
        "summary": "Delete a file",
        "description": "Deletes a file from a repository.",
        "operationId": "FileDelete",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "x-ms-summary": "Owner",
            "x-ms-url-encoding": "single",
            "description": "The account owner of the repository. The name is not case sensitive.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "UserRepositoriesGet",
              "value-path": "owner",
              "value-collection": "owners",
              "value-title": "owner"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "x-ms-summary": "Repository",
            "x-ms-url-encoding": "single",
            "description": "The name of the repository without the .git extension. The name is not case sensitive.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "UserRepositoriesGet",
              "value-path": "name",
              "value-collection": "repositories",
              "value-title": "name"
            }
          },
          {
            "name": "path",
            "in": "path",
            "x-ms-summary": "Path",
            "x-ms-url-encoding": "single",
            "description": "The path.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DirectoryGet",
              "value-path": "path",
              "value-title": "path",
              "parameters": {
                "owner": {
                  "parameter": "owner"
                },
                "repo": {
                  "parameter": "repo"
                },
                "ref": {
                  "parameter": "ref"
                }
              }
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/vnd.github+json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ref",
            "in": "query",
            "x-ms-summary": "Ref",
            "description": "The name of the commit/branch/tag.",
            "required": true,
            "type": "string",
            "default": "main",
            "x-ms-dynamic-values": {
              "operationId": "BranchesGet",
              "value-path": "name",
              "value-title": "name",
              "parameters": {
                "owner": {
                  "parameter": "owner"
                },
                "repo": {
                  "parameter": "repo"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "committer": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    }
                  },
                  "title": "Committer"
                },
                "sha": {
                  "type": "string",
                  "description": "The SHA.",
                  "title": "SHA"
                },
                "branch": {
                  "type": "string",
                  "description": "The branch.",
                  "title": "Branch"
                },
                "author": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    }
                  },
                  "title": "Author"
                }
              },
              "required": [
                "message",
                "sha"
              ]
            }
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "path": {
                      "type": "string",
                      "description": "The path.",
                      "title": "Path"
                    },
                    "sha": {
                      "type": "string",
                      "description": "The SHA.",
                      "title": "SHA"
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The size.",
                      "title": "Size"
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    },
                    "html_url": {
                      "type": "string",
                      "description": "The HTML URL address.",
                      "title": "HTML URL"
                    },
                    "git_url": {
                      "type": "string",
                      "description": "The Git URL address.",
                      "title": "Git URL"
                    },
                    "download_url": {
                      "type": "string",
                      "description": "The download URL address.",
                      "title": "Download URL"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "_links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string",
                          "description": "The self link.",
                          "title": "Self"
                        },
                        "git": {
                          "type": "string",
                          "description": "The Git link.",
                          "title": "Git"
                        },
                        "html": {
                          "type": "string",
                          "description": "The HTML link.",
                          "title": "HTML"
                        }
                      },
                      "title": "Links"
                    }
                  },
                  "title": "Content"
                },
                "commit": {
                  "type": "object",
                  "properties": {
                    "sha": {
                      "type": "string",
                      "description": "The SHA.",
                      "title": "SHA"
                    },
                    "node_id": {
                      "type": "string",
                      "description": "The node identifier.",
                      "title": "Node ID"
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    },
                    "html_url": {
                      "type": "string",
                      "description": "The HTML URL address.",
                      "title": "HTML URL"
                    },
                    "author": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string",
                          "description": "The date.",
                          "title": "Date"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "email": {
                          "type": "string",
                          "description": "The email address.",
                          "title": "Email"
                        }
                      },
                      "title": "Author"
                    },
                    "committer": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string",
                          "description": "The date.",
                          "title": "Date"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "email": {
                          "type": "string",
                          "description": "The email address.",
                          "title": "Email"
                        }
                      },
                      "title": "Committer"
                    },
                    "message": {
                      "type": "string",
                      "description": "The message.",
                      "title": "Message"
                    },
                    "tree": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "The URL address.",
                          "title": "URL"
                        },
                        "sha": {
                          "type": "string",
                          "description": "The SHA.",
                          "title": "SHA"
                        }
                      },
                      "title": "Tree"
                    },
                    "parents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "html_url": {
                            "type": "string",
                            "description": "The HTML URL address.",
                            "title": "HTML URL"
                          },
                          "sha": {
                            "type": "string",
                            "description": "The SHA.",
                            "title": "SHA"
                          }
                        }
                      },
                      "title": "Parents"
                    },
                    "verification": {
                      "type": "object",
                      "properties": {
                        "verified": {
                          "type": "boolean",
                          "description": "Whether verified.",
                          "title": "Verified"
                        },
                        "reason": {
                          "type": "string",
                          "description": "The reason.",
                          "title": "Reason"
                        },
                        "signature": {
                          "type": "string",
                          "description": "The signature.",
                          "title": "Signature"
                        },
                        "payload": {
                          "type": "string",
                          "description": "The payload.",
                          "title": "Payload"
                        }
                      },
                      "title": "Verification"
                    }
                  },
                  "title": "Commit"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Create or update file content",
        "description": "Creates a new file or replaces an existing file in a repository.",
        "operationId": "ContentPut",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "x-ms-summary": "Owner",
            "x-ms-url-encoding": "single",
            "description": "The account owner of the repository. The name is not case sensitive.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "UserRepositoriesGet",
              "value-path": "owner",
              "value-collection": "owners",
              "value-title": "owner"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "x-ms-summary": "Repository",
            "x-ms-url-encoding": "single",
            "description": "The name of the repository without the .git extension. The name is not case sensitive.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "UserRepositoriesGet",
              "value-path": "name",
              "value-collection": "repositories",
              "value-title": "name"
            }
          },
          {
            "name": "path",
            "in": "path",
            "x-ms-summary": "Path",
            "x-ms-url-encoding": "single",
            "description": "The path.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DirectoryGet",
              "value-path": "path",
              "value-title": "path",
              "parameters": {
                "owner": {
                  "parameter": "owner"
                },
                "repo": {
                  "parameter": "repo"
                },
                "ref": {
                  "parameter": "ref"
                }
              }
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/vnd.github+json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ref",
            "in": "query",
            "x-ms-summary": "Ref",
            "description": "The name of the commit/branch/tag.",
            "required": true,
            "type": "string",
            "default": "main",
            "x-ms-dynamic-values": {
              "operationId": "BranchesGet",
              "value-path": "name",
              "value-title": "name",
              "parameters": {
                "owner": {
                  "parameter": "owner"
                },
                "repo": {
                  "parameter": "repo"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "committer": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "date": {
                      "type": "string",
                      "description": "The date.",
                      "title": "Date"
                    }
                  },
                  "title": "Committer"
                },
                "content": {
                  "type": "string",
                  "description": "The content.",
                  "title": "Content"
                },
                "sha": {
                  "type": "string",
                  "description": "The SHA.",
                  "title": "SHA"
                },
                "branch": {
                  "type": "string",
                  "description": "The branch.",
                  "title": "Branch"
                },
                "author": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "date": {
                      "type": "string",
                      "description": "The date.",
                      "title": "Date"
                    }
                  },
                  "title": "Author"
                }
              },
              "required": [
                "message",
                "content"
              ]
            }
          }
        ]
      }
    },
    "/repos/{owner}/{repo}/zipball/{ref}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The content type.",
                  "title": "Content Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The content.",
                  "title": "Content"
                }
              }
            }
          }
        },
        "summary": "Download repository zip",
        "description": "Retrieves a zip archive of a repository.",
        "operationId": "RepositoryZipGet",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "x-ms-summary": "Owner",
            "x-ms-url-encoding": "single",
            "description": "The account owner of the repository. The name is not case sensitive.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "UserRepositoriesGet",
              "value-path": "owner",
              "value-collection": "owners",
              "value-title": "owner"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "x-ms-summary": "Repository",
            "x-ms-url-encoding": "single",
            "description": "The name of the repository without the .git extension. The name is not case sensitive.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "UserRepositoriesGet",
              "value-path": "name",
              "value-collection": "repositories",
              "value-title": "name"
            }
          },
          {
            "name": "ref",
            "in": "path",
            "x-ms-summary": "Ref",
            "x-ms-url-encoding": "single",
            "description": "The name of the commit/branch/tag.",
            "required": true,
            "type": "string",
            "default": "main",
            "x-ms-dynamic-values": {
              "operationId": "BranchesGet",
              "value-path": "name",
              "value-title": "name",
              "parameters": {
                "owner": {
                  "parameter": "owner"
                },
                "repo": {
                  "parameter": "repo"
                }
              }
            }
          }
        ]
      }
    },
    "/user/repos": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "owners": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "owner": {
                        "type": "string",
                        "description": "The owner.",
                        "title": "Owner"
                      }
                    }
                  },
                  "title": "Owners"
                },
                "repositories": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "node_id": {
                        "type": "string",
                        "description": "The node identifier.",
                        "title": "Node ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "full_name": {
                        "type": "string",
                        "description": "The full name.",
                        "title": "Full Name"
                      },
                      "private": {
                        "type": "boolean",
                        "description": "Whether private.",
                        "title": "Private"
                      },
                      "owner": {
                        "type": "object",
                        "properties": {
                          "login": {
                            "type": "string",
                            "description": "The login.",
                            "title": "Login"
                          },
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "node_id": {
                            "type": "string",
                            "description": "The node identifier.",
                            "title": "Node ID"
                          },
                          "avatar_url": {
                            "type": "string",
                            "description": "The avatar URL address.",
                            "title": "Avatar URL"
                          },
                          "gravatar_id": {
                            "type": "string",
                            "description": "The Gravatar identifier.",
                            "title": "Gravatar ID"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "html_url": {
                            "type": "string",
                            "description": "The HTML URL address.",
                            "title": "HTML URL"
                          },
                          "followers_url": {
                            "type": "string",
                            "description": "The followers URL address.",
                            "title": "Followers URL"
                          },
                          "following_url": {
                            "type": "string",
                            "description": "The following URL address.",
                            "title": "Following URL"
                          },
                          "gists_url": {
                            "type": "string",
                            "description": "The Gists URL address.",
                            "title": "Gists URL"
                          },
                          "starred_url": {
                            "type": "string",
                            "description": "The starred URL address.",
                            "title": "Starred URL"
                          },
                          "subscriptions_url": {
                            "type": "string",
                            "description": "The subscriptions URL address.",
                            "title": "Subscriptions URL"
                          },
                          "organizations_url": {
                            "type": "string",
                            "description": "The organizations URL address.",
                            "title": "Organizations URL"
                          },
                          "repos_url": {
                            "type": "string",
                            "description": "The repositories URL address.",
                            "title": "Repos URL"
                          },
                          "events_url": {
                            "type": "string",
                            "description": "The events URL address.",
                            "title": "Events URL"
                          },
                          "received_events_url": {
                            "type": "string",
                            "description": "The received events URL address.",
                            "title": "Received Events URL"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "site_admin": {
                            "type": "boolean",
                            "description": "Whether site administrator.",
                            "title": "Site Admin"
                          }
                        },
                        "title": "Owner"
                      },
                      "html_url": {
                        "type": "string",
                        "description": "The HTML URL address.",
                        "title": "HTML URL"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "fork": {
                        "type": "boolean",
                        "description": "Whether fork.",
                        "title": "Fork"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "forks_url": {
                        "type": "string",
                        "description": "The forks URL address.",
                        "title": "Forks URL"
                      },
                      "keys_url": {
                        "type": "string",
                        "description": "The keys URL address.",
                        "title": "Keys URL"
                      },
                      "collaborators_url": {
                        "type": "string",
                        "description": "The collaborators URL address.",
                        "title": "Collaborators URL"
                      },
                      "teams_url": {
                        "type": "string",
                        "description": "The teams URL address.",
                        "title": "Teams URL"
                      },
                      "hooks_url": {
                        "type": "string",
                        "description": "The hooks URL address.",
                        "title": "Hooks URL"
                      },
                      "issue_events_url": {
                        "type": "string",
                        "description": "The issue events URL address.",
                        "title": "Issue Events URL"
                      },
                      "events_url": {
                        "type": "string",
                        "description": "The events URL address.",
                        "title": "Events URL"
                      },
                      "assignees_url": {
                        "type": "string",
                        "description": "The assignees URL address.",
                        "title": "Assignees URL"
                      },
                      "branches_url": {
                        "type": "string",
                        "description": "The branches URL address.",
                        "title": "Branches URL"
                      },
                      "tags_url": {
                        "type": "string",
                        "description": "The tags URL address.",
                        "title": "Tags URL"
                      },
                      "blobs_url": {
                        "type": "string",
                        "description": "The blobs URL address.",
                        "title": "Blobs URL"
                      },
                      "git_tags_url": {
                        "type": "string",
                        "description": "The Git tags URL address.",
                        "title": "Git Tags URL"
                      },
                      "git_refs_url": {
                        "type": "string",
                        "description": "The Git refs URL address.",
                        "title": "Git Refs URL"
                      },
                      "trees_url": {
                        "type": "string",
                        "description": "The tree URL address.",
                        "title": "Trees URL"
                      },
                      "statuses_url": {
                        "type": "string",
                        "description": "The statuses URL address.",
                        "title": "Statuses URL"
                      },
                      "languages_url": {
                        "type": "string",
                        "description": "The languages URL address.",
                        "title": "Languages URL"
                      },
                      "stargazers_url": {
                        "type": "string",
                        "description": "The stargazers URL address.",
                        "title": "Stargazers URL"
                      },
                      "contributors_url": {
                        "type": "string",
                        "description": "The contributors URL address.",
                        "title": "Contributors URL"
                      },
                      "subscribers_url": {
                        "type": "string",
                        "description": "The subscribers URL address.",
                        "title": "Subscribers URL"
                      },
                      "subscription_url": {
                        "type": "string",
                        "description": "The subscription URL address.",
                        "title": "Subscription URL"
                      },
                      "commits_url": {
                        "type": "string",
                        "description": "The commits URL address.",
                        "title": "Commits URL"
                      },
                      "git_commits_url": {
                        "type": "string",
                        "description": "The Git commits URL address.",
                        "title": "Git Commits URL"
                      },
                      "comments_url": {
                        "type": "string",
                        "description": "The comments URL address.",
                        "title": "Comments URL"
                      },
                      "issue_comment_url": {
                        "type": "string",
                        "description": "The issue comment URL address.",
                        "title": "Issue Comment URL"
                      },
                      "contents_url": {
                        "type": "string",
                        "description": "The contents URL address.",
                        "title": "Contents URL"
                      },
                      "compare_url": {
                        "type": "string",
                        "description": "The compare URL address.",
                        "title": "Compare URL"
                      },
                      "merges_url": {
                        "type": "string",
                        "description": "The merges URL address.",
                        "title": "Merges URL"
                      },
                      "archive_url": {
                        "type": "string",
                        "description": "The archive URL address.",
                        "title": "Archive URL"
                      },
                      "downloads_url": {
                        "type": "string",
                        "description": "The downloads URL address.",
                        "title": "Downloads URL"
                      },
                      "issues_url": {
                        "type": "string",
                        "description": "The issues URL address.",
                        "title": "Issues URL"
                      },
                      "pulls_url": {
                        "type": "string",
                        "description": "The pulls URL address.",
                        "title": "Pulls URL"
                      },
                      "milestones_url": {
                        "type": "string",
                        "description": "The milestones URL address.",
                        "title": "Milestones URL"
                      },
                      "notifications_url": {
                        "type": "string",
                        "description": "The notifications URL address.",
                        "title": "Notifications URL"
                      },
                      "labels_url": {
                        "type": "string",
                        "description": "The labels URL address.",
                        "title": "Labels URL"
                      },
                      "releases_url": {
                        "type": "string",
                        "description": "The releases URL address.",
                        "title": "Releases URL"
                      },
                      "deployments_url": {
                        "type": "string",
                        "description": "The deployments URL address.",
                        "title": "Deployments URL"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "pushed_at": {
                        "type": "string",
                        "description": "When pushed at.",
                        "title": "Pushed At"
                      },
                      "git_url": {
                        "type": "string",
                        "description": "The Git URL address.",
                        "title": "Git URL"
                      },
                      "ssh_url": {
                        "type": "string",
                        "description": "The SSH URL address.",
                        "title": "SSH URL"
                      },
                      "clone_url": {
                        "type": "string",
                        "description": "The clone URL address.",
                        "title": "Clone URL"
                      },
                      "svn_url": {
                        "type": "string",
                        "description": "The SVN URL address.",
                        "title": "SVN URL"
                      },
                      "homepage": {
                        "type": "string",
                        "description": "The homepage.",
                        "title": "Homepage"
                      },
                      "size": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The size.",
                        "title": "Size"
                      },
                      "stargazers_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The stargazers count.",
                        "title": "Stargazers Count"
                      },
                      "watchers_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The watchers count.",
                        "title": "Watchers Count"
                      },
                      "language": {
                        "type": "string",
                        "description": "The language.",
                        "title": "Language"
                      },
                      "has_issues": {
                        "type": "boolean",
                        "description": "Whether has issues.",
                        "title": "Has Issues"
                      },
                      "has_projects": {
                        "type": "boolean",
                        "description": "Whether has projects",
                        "title": "Has Projects"
                      },
                      "has_downloads": {
                        "type": "boolean",
                        "description": "Whether has downloads.",
                        "title": "Has Downloads"
                      },
                      "has_wiki": {
                        "type": "boolean",
                        "description": "Whether has wiki.",
                        "title": "Has Wiki"
                      },
                      "has_pages": {
                        "type": "boolean",
                        "description": "Whether has pages.",
                        "title": "Has Pages"
                      },
                      "has_discussions": {
                        "type": "boolean",
                        "description": "Whether has discussions.",
                        "title": "Has Discussions"
                      },
                      "forks_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The forks count.",
                        "title": "Forks Count"
                      },
                      "mirror_url": {
                        "type": "string",
                        "description": "The mirror URL address.",
                        "title": "Mirror URL"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "disabled": {
                        "type": "boolean",
                        "description": "Whether disabled.",
                        "title": "Disabled"
                      },
                      "open_issues_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The open issues count.",
                        "title": "Open Issues Count"
                      },
                      "license": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "description": "The key.",
                            "title": "Key"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "spdx_id": {
                            "type": "string",
                            "description": "The SPDX identifier.",
                            "title": "SPDX ID"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "node_id": {
                            "type": "string",
                            "description": "The node identifier.",
                            "title": "Node ID"
                          }
                        },
                        "title": "License"
                      },
                      "allow_forking": {
                        "type": "boolean",
                        "description": "Whether allows forking.",
                        "title": "Allow Forking"
                      },
                      "is_template": {
                        "type": "boolean",
                        "description": "Whether is template.",
                        "title": "Is Template"
                      },
                      "web_commit_signoff_required": {
                        "type": "boolean",
                        "description": "Whether web commit signoff required.",
                        "title": "Web Commit Signoff Required"
                      },
                      "topics": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The topics.",
                        "title": "Topics"
                      },
                      "visibility": {
                        "type": "string",
                        "description": "The visibility.",
                        "title": "Visibility"
                      },
                      "forks": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of forks.",
                        "title": "Forks"
                      },
                      "open_issues": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of open issues.",
                        "title": "Open Issues"
                      },
                      "watchers": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of watchers.",
                        "title": "Watchers"
                      },
                      "default_branch": {
                        "type": "string",
                        "description": "The default branch.",
                        "title": "Default Branch"
                      },
                      "permissions": {
                        "type": "object",
                        "properties": {
                          "admin": {
                            "type": "boolean",
                            "description": "Whether admin permission.",
                            "title": "Admin"
                          },
                          "maintain": {
                            "type": "boolean",
                            "description": "Whether maintain permission.",
                            "title": "Maintain"
                          },
                          "push": {
                            "type": "boolean",
                            "description": "Whether push permission.",
                            "title": "Push"
                          },
                          "triage": {
                            "type": "boolean",
                            "description": "Whether triage permission.",
                            "title": "Triage"
                          },
                          "pull": {
                            "type": "boolean",
                            "description": "Whether pull permissions.",
                            "title": "Pull"
                          }
                        },
                        "title": "Permissions"
                      }
                    }
                  },
                  "title": "Responses"
                }
              }
            }
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get user's repositories",
        "description": "Retrieve a list of repositories that the authenticated user has explicit permission (read, write, or admin) to access.",
        "operationId": "UserRepositoriesGet",
        "parameters": []
      }
    },
    "/repos/{owner}/{repo}/contents/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "The type.",
                    "title": "Type"
                  },
                  "size": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The size.",
                    "title": "Size"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "path": {
                    "type": "string",
                    "description": "The path.",
                    "title": "Path"
                  },
                  "sha": {
                    "type": "string",
                    "description": "The SHA.",
                    "title": "SHA"
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL address.",
                    "title": "URL"
                  },
                  "git_url": {
                    "type": "string",
                    "description": "The Git URL address.",
                    "title": "Git URL"
                  },
                  "html_url": {
                    "type": "string",
                    "description": "The HTML URL address.",
                    "title": "HTML URL"
                  },
                  "download_url": {
                    "type": "string",
                    "description": "The download URL address.",
                    "title": "Download URL"
                  },
                  "_links": {
                    "type": "object",
                    "properties": {
                      "self": {
                        "type": "string",
                        "description": "The self link.",
                        "title": "Self"
                      },
                      "git": {
                        "type": "string",
                        "description": "The Git link.",
                        "title": "Git"
                      },
                      "html": {
                        "type": "string",
                        "description": "The HTML link.",
                        "title": "HTML"
                      }
                    },
                    "title": "Links"
                  }
                }
              }
            }
          }
        },
        "summary": "Get directory",
        "description": "Retrieve a directory structure.",
        "operationId": "DirectoryGet",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "x-ms-summary": "Owner",
            "x-ms-url-encoding": "single",
            "description": "The account owner of the repository. The name is not case sensitive.",
            "required": true,
            "type": "string"
          },
          {
            "name": "repo",
            "in": "path",
            "x-ms-summary": "Repository",
            "x-ms-url-encoding": "single",
            "description": "The name of the repository without the .git extension. The name is not case sensitive.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ref",
            "in": "query",
            "x-ms-summary": "Ref",
            "description": "The name of the commit/branch/tag.",
            "required": true,
            "type": "string",
            "default": "main",
            "x-ms-dynamic-values": {
              "operationId": "BranchesGet",
              "value-path": "name",
              "value-title": "name",
              "parameters": {
                "owner": {
                  "parameter": "owner"
                },
                "repo": {
                  "parameter": "repo"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/repos/{owner}/{repo}/branches": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "commit": {
                    "type": "object",
                    "properties": {
                      "sha": {
                        "type": "string",
                        "description": "The SHA.",
                        "title": "SHA"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      }
                    },
                    "title": "Commit"
                  },
                  "protected": {
                    "type": "boolean",
                    "description": "Whether protected.",
                    "title": "Protected"
                  },
                  "protection": {
                    "type": "object",
                    "properties": {
                      "required_status_checks": {
                        "type": "object",
                        "properties": {
                          "enforcement_level": {
                            "type": "string",
                            "description": "The enforcement level.",
                            "title": "Enforcement Level"
                          },
                          "contexts": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The contexts.",
                            "title": "Contexts"
                          }
                        },
                        "title": "Required Status Checks"
                      }
                    },
                    "title": "Protection"
                  },
                  "protection_url": {
                    "type": "string",
                    "description": "The protection URL address.",
                    "title": "Protection URL"
                  }
                }
              }
            }
          }
        },
        "summary": "Get branches",
        "description": "Retrieve a list of branches.",
        "operationId": "BranchesGet",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "x-ms-summary": "Owner",
            "x-ms-url-encoding": "single",
            "description": "The account owner of the repository. The name is not case sensitive.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "UserRepositoriesGet",
              "value-path": "owner",
              "value-collection": "owners",
              "value-title": "owner"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "x-ms-summary": "Repository",
            "x-ms-url-encoding": "single",
            "description": "The name of the repository without the .git extension. The name is not case sensitive.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "UserRepositoriesGet",
              "value-path": "name",
              "value-collection": "repositories",
              "value-title": "name"
            }
          },
          {
            "name": "protected",
            "in": "query",
            "x-ms-summary": "Protected",
            "description": "Whether protected.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "per_page",
            "in": "query",
            "x-ms-summary": "Per Page",
            "description": "The number per page.",
            "required": false,
            "type": "integer",
            "default": 30
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer",
            "default": 1
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://github.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://docs.github.com/site-policy/privacy-policies/github-privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files"
    }
  ],
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://github.com/login/oauth/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {
        "repo": "repo"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "repo"
      ]
    }
  ]
}