{
	"swagger": "2.0",
	"info": {
		"version": "v3",
		"title": "3e powered by EXPOCAD",
		"description": "This service interfaces with live EXPOCAD® event data.  Please use PUT, POST, and DELETE operations with discretion. Keep authorization codes private. If your code has been compromised, contact tech@expocad.com immediately.",
		"contact": {
			"name": "EXPOCAD® Developer Support",
			"url": "https://support.expocad.com/",
			"email": "developer@expocad.com"
		}
	},
	"host": "expocad.com",
	"basePath": "/",
	"schemes": [
		"https"
	],
	"consumes": [
		"application/json"
	],
	"produces": [],
	"paths": {
		"/webhook/subscribe/rent": {
		"x-ms-notification-content": {
				"description": "When a booth is rented.",
				"summary": "Booth Rented Summary",
				"schema": {
					"$ref": "#/definitions/RENTResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when a booth is rented.",
				"summary": "When a booth is rented",
				"operationId": "Rent-Subscribe",
				"x-ms-visibility": "important",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/unrent": {
		"x-ms-notification-content": {
				"description": "When a booth is unrented.",
				"summary": "Booth Unrented Summary",
				"schema": {
					"$ref": "#/definitions/RENTResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when a booth is unrented.",
				"summary": "When a booth is unrented",
				"operationId": "UnRent-Subscribe",
				"x-ms-visibility": "important",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/hold": {
			"x-ms-notification-content": {
				"description": "When a booth is held.",
				"summary": "Booth Hold Summary",
				"schema": {
					"$ref": "#/definitions/HOLDResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when a booth is held.",
				"summary": "When a booth is held",
				"operationId": "Hold-Subscribe",
				"x-ms-visibility": "important",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/unhold": {
			"x-ms-notification-content": {
				"description": "When a booth is unheld.",
				"summary": "Booth Unhold Summary",
				"schema": {
					"$ref": "#/definitions/HOLDResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when a booth is unheld.",
				"summary": "When a booth is unheld",
				"operationId": "UnHold-Subscribe",
				"x-ms-visibility": "important",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
			"/webhook/subscribe/delete": {
			"x-ms-notification-content": {
				"description": "When a booth is deleted.",
				"summary": "Booth Delete Summary",
				"schema": {
					"$ref": "#/definitions/DELETEResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when a booth is deleted.",
				"summary": "When a booth is deleted",
				"operationId": "Delete-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/undelete": {
			"x-ms-notification-content": {
				"description": "When a booth is undeleted.",
				"summary": "Booth Undelete Summary",
				"schema": {
					"$ref": "#/definitions/DELETEResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when a booth is undeleted.",
				"summary": "When a booth is undeleted",
				"operationId": "UnDelete-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/changenumber": {
			"x-ms-notification-content": {
				"description": "When a booth number is changed.",
				"summary": "Booth Number Changed Summary",
				"schema": {
					"$ref": "#/definitions/CHANGENUMBERResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when a booth number is changed.",
				"summary": "When a booth number is changed",
				"operationId": "ChangeBoothNumber-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/create": {
			"x-ms-notification-content": {
				"description": "When a booth is created.",
				"summary": "Booth Create Summary",
				"schema": {
					"$ref": "#/definitions/CREATEResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when a booth is created.",
				"summary": "When a booth is created",
				"operationId": "Create-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/move": {
			"x-ms-notification-content": {
				"description": "When a booth is moved.",
				"summary": "Booth Move Summary",
				"schema": {
					"$ref": "#/definitions/MOVEResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when a booth is moved.",
				"summary": "When a booth is moved",
				"operationId": "Move-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/combine": {
			"x-ms-notification-content": {
				"description": "When a booth is combined.",
				"summary": "Booth Combine Summary",
				"schema": {
					"$ref": "#/definitions/COMBINEResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when a booth is Combined.",
				"summary": "When a booth is Combined",
				"operationId": "Combine-Subscribe",
				"x-ms-visibility": "important",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/uncombine": {
			"x-ms-notification-content": {
				"description": "When a booth is uncombined.",
				"summary": "Booth Combine Summary",
				"schema": {
					"$ref": "#/definitions/COMBINEResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when a booth is UnCombined.",
				"summary": "When a booth is UnCombined",
				"operationId": "UnCombine-Subscribe",
				"x-ms-visibility": "important",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhibadd": {
			"x-ms-notification-content": {
				"description": "When an exhibitor is added.",
				"summary": "Exhibitor Add Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when an exhibitor is added.",
				"summary": "When an exhibitor is added",
				"operationId": "ExhibAdd-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhibupdate": {
			"x-ms-notification-content": {
				"description": "When an exhibitor is updated.",
				"summary": "Exhibitor Change Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when an exhibitor is updated.",
				"summary": "When an exhibitor is updated",
				"operationId": "ExhibUpdate-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhibdelete": {
			"x-ms-notification-content": {
				"description": "When an exhibitor is deleted.",
				"summary": "Exhibitor Delete Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when an exhibitor is deleted.",
				"summary": "When an exhibitor is deleted",
				"operationId": "ExhibDelete-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhibcontractgenerated": {
			"x-ms-notification-content": {
				"description": "When an exhibitor contract is generated.",
				"summary": "Exhibitor Contract Generated Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBCONTRACTResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when an exhibitor contract is generated.",
				"summary": "When an exhibitor contract is generated",
				"operationId": "ExhibContractGenerated-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhibcontractsubmitted": {
			"x-ms-notification-content": {
				"description": "When an exhibitor pending contract is submitted.",
				"summary": "Exhibitor Contract Submitted Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBCONTRACTResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when an exhibitor pending contract is submitted.",
				"summary": "When an exhibitor pending contract is submitted",
				"operationId": "ExhibContractSubmitted-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhibcontractsigned": {
			"x-ms-notification-content": {
				"description": "When an exhibitor contract is signed.",
				"summary": "Exhibitor Contract Signed Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBCONTRACTResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when an exhibitor contract is signed.",
				"summary": "When an exhibitor contract is signed",
				"operationId": "ExhibContractSigned-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhibcontractvoided": {
			"x-ms-notification-content": {
				"description": "When an exhibitor contract is voided.",
				"summary": "Exhibitor Contract Voided Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBCONTRACTResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when an exhibitor contract is voided.",
				"summary": "When an exhibitor contract is voided",
				"operationId": "ExhibContractVoided-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhibordersubmitted": {
			"x-ms-notification-content": {
				"description": "When an exhibitor order is submitted.",
				"summary": "Exhibitor Order Submitted Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBORDERResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when an exhibitor order is submitted.",
				"summary": "When an exhibitor order is submitted",
				"operationId": "ExhibOrderSubmitted-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhibitorpaymentattempt": {
			"x-ms-notification-content": {
				"description": "When an exhibitor payment is attempted.",
				"summary": "Exhibitor Payment Attempt Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBPAYMENTResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when an exhibitor payment is attempted.",
				"summary": "When an exhibitor payment is attempted",
				"operationId": "ExhibitorPaymentAttempt-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhibdepositpaid": {
			"x-ms-notification-content": {
				"description": "When an exhibitor deposit is paid.",
				"summary": "Exhibitor Deposit Paid Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBPAYMENTResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when an exhibitor deposit is paid.",
				"summary": "When an exhibitor deposit is paid",
				"operationId": "ExhibDepositPaid-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhibdocsubmitted": {
			"x-ms-notification-content": {
				"description": "When an exhibitor document is submitted.",
				"summary": "Exhibitor Document Submitted Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBDOCResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when an exhibitor document is submitted.",
				"summary": "When an exhibitor document is submitted",
				"operationId": "ExhibDocSubmitted-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhibdocapproved": {
			"x-ms-notification-content": {
				"description": "When an exhibitor document is approved.",
				"summary": "Exhibitor Document Approved Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBDOCResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when an exhibitor document is approved.",
				"summary": "When an exhibitor document is approved",
				"operationId": "ExhibDocApproved-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhibdocrejected": {
			"x-ms-notification-content": {
				"description": "When an exhibitor document is rejected.",
				"summary": "Exhibitor Document Rejected Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBDOCResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when an exhibitor document is rejected.",
				"summary": "When an exhibitor document is rejected",
				"operationId": "ExhibDocRejected-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhiblogouploaded": {
			"x-ms-notification-content": {
				"description": "When an exhibitor logo is uploaded.",
				"summary": "Exhibitor Logo Uploaded Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBLOGOUPLOADEDResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when an exhibitor logo is uploaded.",
				"summary": "When an exhibitor logo is uploaded",
				"operationId": "ExhibLogoUploaded-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhibitordirectoryinfoadded": {
			"x-ms-notification-content": {
				"description": "When exhibitor directory info is added.",
				"summary": "Exhibitor Directory Info Added Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBDIRECTORYResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when exhibitor directory info is added.",
				"summary": "When exhibitor directory info is added",
				"operationId": "ExhibitorDirectoryInfoAdded-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhibitordirectoryinfomodified": {
			"x-ms-notification-content": {
				"description": "When exhibitor directory info is modified.",
				"summary": "Exhibitor Directory Info Modified Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBDIRECTORYResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when exhibitor directory info is modified.",
				"summary": "When exhibitor directory info is modified",
				"operationId": "ExhibitorDirectoryInfoModified-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhibitordirectoryinfodeleted": {
			"x-ms-notification-content": {
				"description": "When exhibitor directory info is deleted.",
				"summary": "Exhibitor Directory Info Deleted Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBDIRECTORYResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when exhibitor directory info is deleted.",
				"summary": "When exhibitor directory info is deleted",
				"operationId": "ExhibitorDirectoryInfoDeleted-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhibitoremailchanged": {
			"x-ms-notification-content": {
				"description": "When an exhibitor email is changed.",
				"summary": "Exhibitor Email Changed Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBITOREMAILResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when an exhibitor email is changed.",
				"summary": "When an exhibitor email is changed",
				"operationId": "ExhibitorEmailChanged-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/moveexhibitor": {
			"x-ms-notification-content": {
				"description": "When an exhibitor is moved.",
				"summary": "Move Exhibitor Summary",
				"schema": {
					"$ref": "#/definitions/MOVEEXHIBITORResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when an exhibitor is moved.",
				"summary": "When an exhibitor is moved",
				"operationId": "MoveExhibitor-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/boothdisplay": {
			"x-ms-notification-content": {
				"description": "When a booth display override is changed.",
				"summary": "Booth Display Summary",
				"schema": {
					"$ref": "#/definitions/BOOTHDISPLAYResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when a booth display override is changed.",
				"summary": "When a booth display override is changed",
				"operationId": "BoothDisplay-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/addchildexhibitor": {
			"x-ms-notification-content": {
				"description": "When a child exhibitor is added.",
				"summary": "Add Child Exhibitor Summary",
				"schema": {
					"$ref": "#/definitions/CHILDEXHIBITORResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when a child exhibitor is added.",
				"summary": "When a child exhibitor is added",
				"operationId": "AddChildExhibitor-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/removechildexhibitor": {
			"x-ms-notification-content": {
				"description": "When a child exhibitor is removed.",
				"summary": "Remove Child Exhibitor Summary",
				"schema": {
					"$ref": "#/definitions/CHILDEXHIBITORResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when a child exhibitor is removed.",
				"summary": "When a child exhibitor is removed",
				"operationId": "RemoveChildExhibitor-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhibgroupadd": {
			"x-ms-notification-content": {
				"description": "When an exhibitor category is added.",
				"summary": "Exhibitor Category Add Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBCATEGORYResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when an exhibitor category is added.",
				"summary": "When an exhibitor category is added",
				"operationId": "ExhibCategoryAdd-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/exhibgroupdelete": {
			"x-ms-notification-content": {
				"description": "When an exhibitor category is deleted.",
				"summary": "Exhibitor Category Delete Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBCATEGORYResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when an exhibitor category is deleted.",
				"summary": "When an exhibitor category is deleted",
				"operationId": "ExhibCategoryDelete-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/changeexhibid": {
			"x-ms-notification-content": {
				"description": "When an exhibitor ID is changed.",
				"summary": "Change Exhibitor ID Summary",
				"schema": {
					"$ref": "#/definitions/CHANGEEXHIBIDResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when an exhibitor ID is changed.",
				"summary": "When an exhibitor ID is changed",
				"operationId": "ChangeExhibId-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/setboothclass": {
			"x-ms-notification-content": {
				"description": "When a booth class is assigned.",
				"summary": "Set Booth Class Summary",
				"schema": {
					"$ref": "#/definitions/BOOTHCLASSResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when a booth class is assigned.",
				"summary": "When a booth class is assigned",
				"operationId": "SetBoothClass-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/delboothclass": {
			"x-ms-notification-content": {
				"description": "When a booth class is removed.",
				"summary": "Delete Booth Class Summary",
				"schema": {
					"$ref": "#/definitions/BOOTHCLASSResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when a booth class is removed.",
				"summary": "When a booth class is removed",
				"operationId": "DeleteBoothClass-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/resize": {
			"x-ms-notification-content": {
				"description": "When a booth is resized.",
				"summary": "Resize Booth Summary",
				"schema": {
					"$ref": "#/definitions/RESIZEResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when a booth is resized.",
				"summary": "When a booth is  resized",
				"operationId": "Resize-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/setshowinshow": {
			"x-ms-notification-content": {
				"description": "When a show in show is assigned.",
				"summary": "Set Show in Show Summary",
				"schema": {
					"$ref": "#/definitions/SHOWINSHOWResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when a show in show is assigned.",
				"summary": "When a show in show is assigned",
				"operationId": "SetShowInShow-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/subscribe/clearshowinshow": {
			"x-ms-notification-content": {
				"description": "When a show in show is cleared.",
				"summary": "Clear Show in Show Summary",
				"schema": {
					"$ref": "#/definitions/SHOWINSHOWResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Creates a webhook subscription for notifications when a show in show is cleared.",
				"summary": "When a show in show is cleared",
				"operationId": "ClearShowInShow-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Specify the event identifier used to register this webhook subscription.",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "Webhook Subscription",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created.",
						"headers": {
							"Location": {
								"description": "The URL used to delete this webhook subscription.",
								"type": "string",
								"format": "uri"
							}
						},
						"schema": {
							"type": "object",
							"required": [
								"webhookId"
							],
							"properties": {
								"webhookId": {
									"description": "The unique identifier for this webhook subscription.",
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/webhook/unsubscribe/{webhookId}": {
			"x-ms-notification-content": {
				"description": "Unsubscribes from a webhook.",
				"summary": "Unsubscribes from a webhook"
			},
			"delete": {
				"description": "Unsubscribes from Webhook.",
				"summary": "Unsubscribes from Webhook",
				"operationId": "Unsubscribe",
				"x-ms-visibility": "internal",
				"parameters": [
					{
						"description": "Specify the webhook ID returned when the subscription was created.",
						"in": "path",
						"x-ms-url-encoding": "single",
						"type": "string",
						"name": "webhookId",
						"required": true,
						"x-ms-summary": "The webhookId"
					}
				],
				"responses": {
					"200": {
						"description": "Unsubscribed."
					}
				}
			}
		},
		"/EdgeApi/{databaseName}/booths": {
			"get": {
				"tags": [
					"Booths"
				],
				"summary": "Get Specific Booth",
				"operationId": "Booths_Get",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"name": "boothNumber",
						"in": "query",
						"description": "Specify the booth number.",
						"x-ms-summary": "Booth Number",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "Specify the database name of the EXPOCAD event.",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK.",
						"schema": {
							"$ref": "#/definitions/Booth"
						}
					}
				},
				"description": "Returns the specified booth."
			}
		},
		"/EdgeApi/{databaseName}/booths/all": {
			"get": {
				"tags": [
					"Booths"
				],
				"summary": "Get All Booths",
				"operationId": "Booths_GetAllBooths",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Specify the EXPOCAD event database identifier.",
						"in": "path",
						"name": "databaseName",
						"required": true,
						"type": "string",
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Event database identifier"
					},
					{
						"name": "deletedFilter",
						"in": "query",
						"description": "Specify whether to include deleted booths. By default, only non-deleted booths are returned.",
						"x-ms-summary": "Include Deleted Booths",
						"required": false,
						"type": "string",
						"enum": [
							"IncludeAll",
							"OnlyNonDeleted",
							"OnlyDeleted"
						]
					}
				],
				"responses": {
					"200": {
						"description": "OK.",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Booth"
							}
						}
					}
				},
				"description": "Returns an array of all booths in the supplied event."
			}
		},
		"/EdgeApi/{databaseName}/booths/all/available": {
			"get": {
				"tags": [
					"Booths"
				],
				"summary": "Get All Available Booths",
				"operationId": "Booths_GetAllAvailableBooths",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "Specify the database name of the EXPOCAD event.",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK.",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Booth"
							}
						}
					}
				},
				"description": "Returns a collection of all available booths in the supplied event."
			}
		},
		"/EdgeApi/{databaseName}/booths/all/rented": {
			"get": {
				"tags": [
					"Booths"
				],
				"summary": "Get All Rented Booths",
				"operationId": "Booths_GetAllRentedBooths",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "Specify the database name of the EXPOCAD event.",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK.",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Booth"
							}
						}
					}
				},
				"description": "Returns a collection of all rented booths in the supplied event."
			}
		},
		"/EdgeApi/{databaseName}/booths/rent": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Rent a Booth",
				"operationId": "Booths_RentBooth",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"name": "boothNumber",
						"in": "query",
						"description": "Specify the booth number.",
						"x-ms-summary": "Booth Number",
						"required": true,
						"type": "string"
					},
					{
						"name": "exhibitorId",
						"in": "query",
						"description": "Specify the exhibitor ID.",
						"x-ms-summary": "Exhibitor ID",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "Specify the database name of the EXPOCAD event.",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					},
					{
						"name": "ratePlan",
						"in": "query",
						"description": "Specify the rate plan name.",
						"x-ms-summary": "Rate Plan Name",
						"required": false,
						"type": "string"
					},
					{
						"name": "status",
						"in": "query",
						"description": "Specify the status for the rented booth.",
						"x-ms-summary": "Booth Status",
						"required": false,
						"type": "string"
					},
					{
						"name": "comment",
						"in": "query",
						"description": "Specify a comment for the rented booth.",
						"x-ms-summary": "Comment",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK.",
						"schema": {
							"type": "object"
						}
					}
				},
				"description": "Rents the specified booth in the supplied event."
			}
		},
		"/EdgeApi/{databaseName}/booths/unrent": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Unrent a Booth",
				"operationId": "Booths_UnRentBooth",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"name": "boothNumber",
						"in": "query",
						"description": "Specify the booth number.",
						"x-ms-summary": "Booth Number",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "Specify the database name of the EXPOCAD event.",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK.",
						"schema": {
							"type": "object"
						}
					}
				},
				"description": "Unrents the specified booth in the supplied event."
			}
		},
		"/EdgeApi/{databaseName}/booths/hold": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Holds the specified booth",
				"description": "Places the specified booth on hold, with an optional ExhibitorId and hold comments.",
				"operationId": "Booths_HoldBooth",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"name": "boothNumber",
						"in": "query",
						"description": "Specify the booth number.",
						"x-ms-summary": "Booth Number",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "Specify the database name of the EXPOCAD event.",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					},
					{
						"name": "exhibitorId",
						"in": "query",
						"description": "Specify the exhibitor ID.",
						"x-ms-summary": "Exhibitor ID",
						"x-ms-visibility": "important",
						"required": false,
						"type": "string"
					},
					{
						"name": "comment",
						"in": "query",
						"description": "Specify comments about the booth hold.",
						"x-ms-summary": "Hold Comments",
						"x-ms-visibility": "important",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK.",
						"schema": {
							"type": "object"
						}
					}
				}
			}
		},
		"/EdgeApi/{databaseName}/booths/unhold": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Unholds the specified booth",
				"operationId": "Booths_UnHoldBooth",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"name": "boothNumber",
						"in": "query",
						"description": "Specify the booth number.",
						"x-ms-summary": "Booth Number",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "Specify the database name of the EXPOCAD event.",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK.",
						"schema": {
							"type": "object"
						}
					}
				},
				"description": "Unholds the specified booth in the supplied event."
			}
		},
		"/EdgeApi/{databaseName}/booths/rentToHold": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Convert Rented booth to Hold",
				"operationId": "Booths_RentToHold",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"name": "boothNumber",
						"in": "query",
						"description": "Specify the booth number.",
						"x-ms-summary": "Booth Number",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "Specify the database name of the EXPOCAD event.",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK.",
						"schema": {
							"type": "object"
						}
					}
				},
				"description": "Converts the specified rented booth to a booth on hold to the same exhibitor in the supplied event."
			}
		},
		"/EdgeApi/{databaseName}/booths/holdToRent": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Convert Held booth to Rented",
				"description": "Rents the specified held booth to the held exhibitor in the supplied event. This operation will fail if the booth is currently held to a temporary exhibitor.",
				"operationId": "Booths_HoldToRent",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"name": "boothNumber",
						"in": "query",
						"description": "Specify the booth number.",
						"x-ms-summary": "Booth Number",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "Specify the database name of the EXPOCAD event.",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					},
					{
						"name": "ratePlan",
						"in": "query",
						"description": "Specify the rate plan name.",
						"x-ms-summary": "Rate Plan Name",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK.",
						"schema": {
							"type": "object"
						}
					}
				}
			}
		},
		"/EdgeApi/{databaseName}/booths/combine": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Combine the specified booths into a new booth",
				"operationId": "Booths_CombineBooths",
				"consumes": [
					"application/json",
					"text/plain",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"name": "boothNumbers",
						"in": "body",
						"description": "Specify the booth numbers to combine, for example, 100, 101, 102, and 103.",
						"x-ms-summary": "Booth Numbers",
						"required": true,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "Specify the database name of the EXPOCAD event.",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					},
					{
						"name": "boundary",
						"in": "query",
						"description": "Specify the boundary option as 0 or 1.",
						"x-ms-summary": "Boundary Option",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "The new booth number created by the combine action.",
						"schema": {
							"type": "string",
							"title": "New Booth Number",
							"description": "The new booth number created by the combine action.",
							"x-ms-summary": "New Booth Number"
						}
					}
				},
				"description": "Combines the specified booths into a new booth in the supplied event."
			}
		},
		"/EdgeApi/{databaseName}/booths/uncombine": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Uncombine the specified booth",
				"operationId": "Booths_UncombineBooth",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"name": "boothNumber",
						"in": "query",
						"description": "Specify the booth number.",
						"x-ms-summary": "Booth Number",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "Specify the database name of the EXPOCAD event.",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK.",
						"schema": {
							"type": "boolean",
							"title": "Uncombine Result",
							"description": "The boolean result returned by the uncombine action.",
							"x-ms-summary": "Uncombine Result"
						}
					}
				},
				"description": "Uncombines the specified booth in the supplied event."
			}
		},
		"/EdgeApi/{databaseName}/booths/delete": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Delete the specified booths",
				"operationId": "Booths_DeleteBooths",
				"consumes": [
					"application/json",
					"text/plain",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"name": "boothNumbers",
						"in": "body",
						"description": "Specify the booth numbers.",
						"x-ms-summary": "Booth Numbers",
						"required": true,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "Specify the database name of the EXPOCAD event.",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK.",
						"schema": {
							"type": "object"
						}
					}
				},
				"description": "Deletes the specified booths in the supplied event."
			}
		},
		"/EdgeApi/{databaseName}/booths/undelete": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Undelete the specified booths",
				"operationId": "Booths_UndeleteBooths",
				"consumes": [
					"application/json",
					"text/plain",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"name": "boothNumbers",
						"in": "body",
						"description": "Specify the booth numbers to undelete, for example, 100, 101, 102, and 103.",
						"x-ms-summary": "Booth Numbers",
						"required": true,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "Specify the database name of the EXPOCAD event.",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK.",
						"schema": {
							"type": "object"
						}
					}
				},
				"description": "Undeletes the specified booths in the supplied event."
			}
		},
		"/EdgeApi/{databaseName}/booths/changenumber": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Change the number of the specified booth",
				"operationId": "Booths_ChangeBoothNumber",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"name": "oldNumber",
[...]
