{
	"swagger": "2.0",
	"info": {
		"version": "v3",
		"title": "3e powered by EXPOCAD",
		"description": "This service interfaces with live EXPOCAD® event data.  Please use PUT, POST, and DELETE operations with discretion. Keep authorization codes private. If your code has been compromised, contact tech@expocad.com immediately.",
		"contact": {
			"name": "EXPOCAD® Developer Support",
			"url": "https://support.expocad.com/",
			"email": "developer@expocad.com"
		}
	},
	"host": "apiproxy.expocad.com",
	"basePath": "/",
	"schemes": [
		"https"
	],
	"consumes": [
		"application/json"
	],
	"produces": [],
	"paths": {
		"/{ClientName}/webhook/subscribe/rent": {
		"x-ms-notification-content": {
				"description": "When a booth is rented",
				"summary": "Booth Rented Summary",
				"schema": {
					"$ref": "#/definitions/RENTResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Rent Webhook",
				"summary": "When a booth is rented",
				"operationId": "Rent-Subscribe",
				"x-ms-visibility": "important",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Rent body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on RENT",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/unrent": {
		"x-ms-notification-content": {
				"description": "When a booth is unrented",
				"summary": "Booth Unrented Summary",
				"schema": {
					"$ref": "#/definitions/RENTResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Unrent Webhook",
				"summary": "When a booth is unrented",
				"operationId": "UnRent-Subscribe",
				"x-ms-visibility": "important",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Unrent body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on UNRENT",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/hold": {			
			"x-ms-notification-content": {
				"description": "When a booth is held",
				"summary": "Booth Hold Summary",
				"schema": {
					"$ref": "#/definitions/HOLDResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Hold Webhook",
				"summary": "When a booth is held",
				"operationId": "Hold-Subscribe",
				"x-ms-visibility": "important",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Hold body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on HOLD",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/unhold": {			
			"x-ms-notification-content": {
				"description": "When a booth is unheld",
				"summary": "Booth Unhold Summary",
				"schema": {
					"$ref": "#/definitions/HOLDResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to UnHold Webhook",
				"summary": "When a booth is unheld",
				"operationId": "UnHold-Subscribe",
				"x-ms-visibility": "important",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "UnHold body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Delete",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},		
			"/{ClientName}/webhook/subscribe/delete": {			
			"x-ms-notification-content": {
				"description": "When a booth is deleted",
				"summary": "Booth Delete Summary",
				"schema": {
					"$ref": "#/definitions/DELETEResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Delete Webhook",
				"summary": "When a booth is deleted",
				"operationId": "Delete-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Delete body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on UnHold",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/undelete": {
			"x-ms-notification-content": {
				"description": "When a booth is undeleted",
				"summary": "Booth Undelete Summary",
				"schema": {
					"$ref": "#/definitions/DELETEResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Undelete Webhook",
				"summary": "When a booth is undeleted",
				"operationId": "UnDelete-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Undelete body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Undelete",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/changenumber": {
			"x-ms-notification-content": {
				"description": "When a booth number is changed",
				"summary": "Booth Number Changed Summary",
				"schema": {
					"$ref": "#/definitions/CHANGENUMBERResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Change Booth Number Webhook",
				"summary": "When a booth number is changed",
				"operationId": "ChangeBoothNumber-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Change Booth Number body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Change Booth Number",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/create": {
			"x-ms-notification-content": {
				"description": "When a booth is created",
				"summary": "Booth Create Summary",
				"schema": {
					"$ref": "#/definitions/CREATEResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Create Webhook",
				"summary": "When a booth is created",
				"operationId": "Create-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Create body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Create",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/move": {
			"x-ms-notification-content": {
				"description": "When a booth is moved",
				"summary": "Booth Move Summary",
				"schema": {
					"$ref": "#/definitions/MOVEResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Move Webhook",
				"summary": "When a booth is moved",
				"operationId": "Move-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Move body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Move",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/combine": {			
			"x-ms-notification-content": {
				"description": "When a booth is combined",
				"summary": "Booth Combine Summary",
				"schema": {
					"$ref": "#/definitions/COMBINEResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Combine Webhook",
				"summary": "When a booth is Combined",
				"operationId": "Combine-Subscribe",
				"x-ms-visibility": "important",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Combine body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Combine",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/uncombine": {			
			"x-ms-notification-content": {
				"description": "When a booth is uncombined",
				"summary": "Booth Combine Summary",
				"schema": {
					"$ref": "#/definitions/COMBINEResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to UnCombine Webhook",
				"summary": "When a booth is UnCombined",
				"operationId": "UnCombine-Subscribe",
				"x-ms-visibility": "important",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "UnCombine body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on UnCombine",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhibadd": {			
			"x-ms-notification-content": {
				"description": "When an exhibitor is added",
				"summary": "Exhibitor Add Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Add Exhibitor Webhook",
				"summary": "When an exhibitor is added",
				"operationId": "ExhibAdd-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhib add body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhib Add",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhibupdate": {			
			"x-ms-notification-content": {
				"description": "When an exhibitor is updated",
				"summary": "Exhibitor Change Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Update Exhibitor Webhook",
				"summary": "When an exhibitor is updated",
				"operationId": "ExhibUpdate-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhib update body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhib Update",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhibdelete": {			
			"x-ms-notification-content": {
				"description": "When an exhibitor is deleted",
				"summary": "Exhibitor Delete Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Delete Exhibitor Webhook",
				"summary": "When an exhibitor is deleted",
				"operationId": "ExhibDelete-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhib delete body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhib Delete",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhibcontractgenerated": {
			"x-ms-notification-content": {
				"description": "When an exhibitor contract is generated",
				"summary": "Exhibitor Contract Generated Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBCONTRACTResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Exhibitor Contract Generated Webhook",
				"summary": "When an exhibitor contract is generated",
				"operationId": "ExhibContractGenerated-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhibitor contract generated body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhibitor Contract Generated",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhibcontractsubmitted": {
			"x-ms-notification-content": {
				"description": "When an exhibitor pending contract is submitted",
				"summary": "Exhibitor Contract Submitted Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBCONTRACTResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Exhibitor Contract Submitted Webhook",
				"summary": "When an exhibitor pending contract is submitted",
				"operationId": "ExhibContractSubmitted-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhibitor contract submitted body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhibitor Contract Submitted",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhibcontractsigned": {
			"x-ms-notification-content": {
				"description": "When an exhibitor contract is signed",
				"summary": "Exhibitor Contract Signed Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBCONTRACTResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Exhibitor Contract Signed Webhook",
				"summary": "When an exhibitor contract is signed",
				"operationId": "ExhibContractSigned-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhibitor contract signed body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhibitor Contract Signed",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhibcontractvoided": {
			"x-ms-notification-content": {
				"description": "When an exhibitor contract is voided",
				"summary": "Exhibitor Contract Voided Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBCONTRACTResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Exhibitor Contract Voided Webhook",
				"summary": "When an exhibitor contract is voided",
				"operationId": "ExhibContractVoided-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhibitor contract voided body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhibitor Contract Voided",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhibordersubmitted": {
			"x-ms-notification-content": {
				"description": "When an exhibitor order is submitted",
				"summary": "Exhibitor Order Submitted Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBORDERResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Exhibitor Order Submitted Webhook",
				"summary": "When an exhibitor order is submitted",
				"operationId": "ExhibOrderSubmitted-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhibitor order submitted body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhibitor Order Submitted",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhibitorpaymentattempt": {
			"x-ms-notification-content": {
				"description": "When an exhibitor payment is attempted",
				"summary": "Exhibitor Payment Attempt Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBPAYMENTResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Exhibitor Payment Attempt Webhook",
				"summary": "When an exhibitor payment is attempted",
				"operationId": "ExhibitorPaymentAttempt-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhibitor payment attempt body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhibitor Payment Attempt",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhibdepositpaid": {
			"x-ms-notification-content": {
				"description": "When an exhibitor deposit is paid",
				"summary": "Exhibitor Deposit Paid Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBPAYMENTResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Exhibitor Deposit Paid Webhook",
				"summary": "When an exhibitor deposit is paid",
				"operationId": "ExhibDepositPaid-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhibitor deposit paid body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhibitor Deposit Paid",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhibdocsubmitted": {
			"x-ms-notification-content": {
				"description": "When an exhibitor document is submitted",
				"summary": "Exhibitor Document Submitted Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBDOCResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Exhibitor Document Submitted Webhook",
				"summary": "When an exhibitor document is submitted",
				"operationId": "ExhibDocSubmitted-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhibitor document submitted body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhibitor Document Submitted",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhibdocapproved": {
			"x-ms-notification-content": {
				"description": "When an exhibitor document is approved",
				"summary": "Exhibitor Document Approved Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBDOCResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Exhibitor Document Approved Webhook",
				"summary": "When an exhibitor document is approved",
				"operationId": "ExhibDocApproved-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhibitor document approved body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhibitor Document Approved",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhibdocrejected": {
			"x-ms-notification-content": {
				"description": "When an exhibitor document is rejected",
				"summary": "Exhibitor Document Rejected Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBDOCResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Exhibitor Document Rejected Webhook",
				"summary": "When an exhibitor document is rejected",
				"operationId": "ExhibDocRejected-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhibitor document rejected body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhibitor Document Rejected",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhiblogouploaded": {
			"x-ms-notification-content": {
				"description": "When an exhibitor logo is uploaded",
				"summary": "Exhibitor Logo Uploaded Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBLOGOUPLOADEDResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Exhibitor Logo Uploaded Webhook",
				"summary": "When an exhibitor logo is uploaded",
				"operationId": "ExhibLogoUploaded-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhibitor logo uploaded body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhibitor Logo Uploaded",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhibitordirectoryinfoadded": {
			"x-ms-notification-content": {
				"description": "When exhibitor directory info is added",
				"summary": "Exhibitor Directory Info Added Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBDIRECTORYResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Exhibitor Directory Info Added Webhook",
				"summary": "When exhibitor directory info is added",
				"operationId": "ExhibitorDirectoryInfoAdded-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhibitor directory info added body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhibitor Directory Info Added",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhibitordirectoryinfomodified": {
			"x-ms-notification-content": {
				"description": "When exhibitor directory info is modified",
				"summary": "Exhibitor Directory Info Modified Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBDIRECTORYResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Exhibitor Directory Info Modified Webhook",
				"summary": "When exhibitor directory info is modified",
				"operationId": "ExhibitorDirectoryInfoModified-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhibitor directory info modified body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhibitor Directory Info Modified",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhibitordirectoryinfodeleted": {
			"x-ms-notification-content": {
				"description": "When exhibitor directory info is deleted",
				"summary": "Exhibitor Directory Info Deleted Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBDIRECTORYResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Exhibitor Directory Info Deleted Webhook",
				"summary": "When exhibitor directory info is deleted",
				"operationId": "ExhibitorDirectoryInfoDeleted-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhibitor directory info deleted body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhibitor Directory Info Deleted",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhibitoremailchanged": {
			"x-ms-notification-content": {
				"description": "When an exhibitor email is changed",
				"summary": "Exhibitor Email Changed Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBITOREMAILResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Exhibitor Email Changed Webhook",
				"summary": "When an exhibitor email is changed",
				"operationId": "ExhibitorEmailChanged-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhibitor email changed body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhibitor Email Changed",
						"schema": {
							"type": "object",
							"required": [
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/moveexhibitor": {			
			"x-ms-notification-content": {
				"description": "When an exhibitor is moved",
				"summary": "Move Exhibitor Summary",
				"schema": {
					"$ref": "#/definitions/MOVEEXHIBITORResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Move Exhibitor Webhook",
				"summary": "When an exhibitor is moved",
				"operationId": "MoveExhibitor-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Move exhibitor body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Move Exhibitor",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/boothdisplay": {			
			"x-ms-notification-content": {
				"description": "When a booth display override is changed",
				"summary": "Booth Display Summary",
				"schema": {
					"$ref": "#/definitions/BOOTHDISPLAYResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Booth Display Webhook",
				"summary": "When a booth display override is changed",
				"operationId": "BoothDisplay-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Booth display body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Booth Display",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/addchildexhibitor": {			
			"x-ms-notification-content": {
				"description": "When a child exhibitor is added",
				"summary": "Add Child Exhibitor Summary",
				"schema": {
					"$ref": "#/definitions/CHILDEXHIBITORResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Add Child Exhibitor Webhook",
				"summary": "When a child exhibitor is added",
				"operationId": "AddChildExhibitor-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Add child exhibitor body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Add Child Exhibitor",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/removechildexhibitor": {			
			"x-ms-notification-content": {
				"description": "When a child exhibitor is removed",
				"summary": "Remove Child Exhibitor Summary",
				"schema": {
					"$ref": "#/definitions/CHILDEXHIBITORResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Remove Child Exhibitor Webhook",
				"summary": "When a child exhibitor is removed",
				"operationId": "RemoveChildExhibitor-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Remove child exhibitor body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Remove Child Exhibitor",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhibgroupadd": {			
			"x-ms-notification-content": {
				"description": "When an exhibitor category is added",
				"summary": "Exhibitor Category Add Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBCATEGORYResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Add Exhibitor Category Webhook",
				"summary": "When an exhibitor category is added",
				"operationId": "ExhibCategoryAdd-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhibitor category add body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhibitor Category Add",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/exhibgroupdelete": {			
			"x-ms-notification-content": {
				"description": "When an exhibitor category is deleted",
				"summary": "Exhibitor Category Delete Summary",
				"schema": {
					"$ref": "#/definitions/EXHIBCATEGORYResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Delete Exhibitor Category Webhook",
				"summary": "When an exhibitor category is deleted",
				"operationId": "ExhibCategoryDelete-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Exhibitor category delete body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Exhibitor Category Delete",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/changeexhibid": {			
			"x-ms-notification-content": {
				"description": "When an exhibitor ID is changed",
				"summary": "Change Exhibitor ID Summary",
				"schema": {
					"$ref": "#/definitions/CHANGEEXHIBIDResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Change Exhibitor ID Webhook",
				"summary": "When an exhibitor ID is changed",
				"operationId": "ChangeExhibId-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Change exhibitor ID body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Change Exhibitor ID",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/setboothclass": {			
			"x-ms-notification-content": {
				"description": "When a booth class is assigned",
				"summary": "Set Booth Class Summary",
				"schema": {
					"$ref": "#/definitions/BOOTHCLASSResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Set Booth Class Webhook",
				"summary": "When a booth class is assigned",
				"operationId": "SetBoothClass-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Set booth class body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Set Booth Class",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/delboothclass": {			
			"x-ms-notification-content": {
				"description": "When a booth class is removed",
				"summary": "Delete Booth Class Summary",
				"schema": {
					"$ref": "#/definitions/BOOTHCLASSResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Delete Booth Class Webhook",
				"summary": "When a booth class is removed",
				"operationId": "DeleteBoothClass-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Delete booth class body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Delete Booth Class",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/resize": {			
			"x-ms-notification-content": {
				"description": "When a booth is resized",
				"summary": "Resize Booth Summary",
				"schema": {
					"$ref": "#/definitions/RESIZEResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Resize Webhook",
				"summary": "When a booth is  resized",
				"operationId": "Resize-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Resize booth body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Resize Booth",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/setshowinshow": {			
			"x-ms-notification-content": {
				"description": "When a show in show is assigned",
				"summary": "Set Show in Show Summary",
				"schema": {
					"$ref": "#/definitions/SHOWINSHOWResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Set Show in Show Webhook",
				"summary": "When a show in show is assigned",
				"operationId": "SetShowInShow-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Set show in show body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Set Show in Show",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/subscribe/clearshowinshow": {			
			"x-ms-notification-content": {
				"description": "When a show in show is cleared",
				"summary": "Clear Show in Show Summary",
				"schema": {
					"$ref": "#/definitions/SHOWINSHOWResponseBody"
				}
			},
			"x-ms-notification-url": "callbackUrl",
			"post": {
				"description": "Subscribes to Clear Show in Show Webhook",
				"summary": "When a show in show is cleared",
				"operationId": "ClearShowInShow-Subscribe",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Clear show in show body",
						"in": "body",
						"name": "action for",
						"required": true,
						"x-ms-summary": "callback on Clear Show in Show",
						"schema": {
							"type": "object",
							"required": [								
								"callbackUrl"
							],
							"properties": {
								"eventIdentifier": {
									"maxLength": 10,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "important"
								},								
								"callbackUrl": {
									"maxLength": 255,
									"minLength": 0,
									"type": "string",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								},
								"webhookId": {
									"maxLength": 65,
									"minLength": 0,
									"type": "string",
									"x-ms-visibility": "internal"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					}
				}
			}
		},
		"/{ClientName}/webhook/unsubscribe/{webhookId}": {
			"x-ms-notification-content": {
				"description": "Unsubscribes from a webhook",
				"summary": "Unsubscribes from a webhook"
			},
			"delete": {
				"description": "Unsubscribes from Webhook",
				"summary": "Unsubscribes from Webhook",
				"operationId": "Unsubscribe",
				"x-ms-visibility": "internal",
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "The webhook Id",
						"in": "path",
						"x-ms-url-encoding": "single",
						"type": "string",
						"name": "webhookId",
						"required": true,
						"x-ms-summary": "The webhookId"
					}
				],
				"responses": {
					"200": {
						"description": "Unsubscribed"
					}
				}
			}
		},
		"/{ClientName}/EdgeApi/{databaseName}/booths": {
			"get": {
				"tags": [
					"Booths"
				],
				"summary": "Get Specific Booth",
				"operationId": "Booths_Get",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"name": "boothNumber",
						"in": "query",
						"description": "The booth number of the booth",
						"x-ms-summary": "The booth number of the booth",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "The database name of the EXPOCAD event",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Booth"
						}
					}
				},
				"description": "Returns the specified booth."
			}
		},
		"/{ClientName}/EdgeApi/{databaseName}/booths/all": {
			"get": {
				"tags": [
					"Booths"
				],
				"summary": "Get All Booths",
				"operationId": "Booths_GetAllBooths",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"description": "Event database identifier",
						"in": "path",
						"name": "databaseName",
						"required": true,
						"type": "string",
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Event database identifier"
					},
					{
						"name": "deletedFilter",
						"in": "query",
						"description": "Filter by deleted booths. Default includes only non deleted booths",
						"x-ms-summary": "Filter by deleted booths. Default includes only non deleted booths",
						"required": false,
						"type": "string",
						"enum": [
							"IncludeAll",
							"OnlyNonDeleted",
							"OnlyDeleted"
						]
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Booth"
							}
						}
					}
				},
				"description": "Returns an array of all booths in the supplied event."
			}
		},
		"/{ClientName}/EdgeApi/{databaseName}/booths/all/available": {
			"get": {
				"tags": [
					"Booths"
				],
				"summary": "Get All Available Booths",
				"operationId": "Booths_GetAllAvailableBooths",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "The database name of the EXPOCAD event",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Booth"
							}
						}
					}
				},
				"description": "Returns a collection of all available booths in the supplied event"
			}
		},
		"/{ClientName}/EdgeApi/{databaseName}/booths/all/rented": {
			"get": {
				"tags": [
					"Booths"
				],
				"summary": "Get All Rented Booths",
				"operationId": "Booths_GetAllRentedBooths",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "The database name of the EXPOCAD event",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Booth"
							}
						}
					}
				},
				"description": "Returns a collection of all rented booths in the supplied event."
			}
		},
		"/{ClientName}/EdgeApi/{databaseName}/booths/rent": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Rent a Booth",
				"operationId": "Booths_RentBooth",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"name": "boothNumber",
						"in": "query",
						"description": "The booth number of the booth",
						"x-ms-summary": "The booth number of the booth",
						"required": true,
						"type": "string"
					},
					{
						"name": "exhibitorId",
						"in": "query",
						"description": "The ID of the exhibitor",
						"x-ms-summary": "The ID of the exhibitor",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "The database name of the EXPOCAD event",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					},
					{
						"name": "ratePlan",
						"in": "query",
						"description": "The rate plan name",
						"x-ms-summary": "The rate plan name",
						"required": false,
						"type": "string"
					},
					{
						"name": "status",
						"in": "query",
						"description": "A status for the rented booth",
						"x-ms-summary": "A status for the rented booth",
						"required": false,
						"type": "string"
					},
					{
						"name": "comment",
						"in": "query",
						"description": "A comment for the rented booth",
						"x-ms-summary": "A comment for the rented booth",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				},
				"description": "Rents the specified booth in the supplied event."
			}
		},
		"/{ClientName}/EdgeApi/{databaseName}/booths/unrent": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Unrent a Booth",
				"operationId": "Booths_UnRentBooth",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"name": "boothNumber",
						"in": "query",
						"description": "The booth number of the booth",
						"x-ms-summary": "The booth number of the booth",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "The database name of the EXPOCAD event",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				},
				"description": "Unrents the specified booth in the supplied event."
			}
		},
		"/{ClientName}/EdgeApi/{databaseName}/booths/hold": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Holds the specified booth",
				"description": "EXPOCAD allows for a booth to be placed on hold to either an existing Exhibitor (by Id) or to a temporary Exhibitor (by Name). Choose one parameter or the other -  'ExhibitorId' or 'ExhibitorName'. If both paramerters are supplied, the hold will default to the Exhibitor ID.",
				"operationId": "Booths_HoldBooth",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"name": "boothNumber",
						"in": "query",
						"description": "The booth number of the booth",
						"x-ms-summary": "The booth number of the booth",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "The database name of the EXPOCAD event",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					},
					{
						"name": "exhibitorId",
						"in": "query",
						"description": "The ID of the exhibitor",
						"x-ms-summary": "The ID of the exhibitor",
						"required": false,
						"type": "string"
					},
					{
						"name": "exhibitorName",
						"in": "query",
						"description": "The name of the exhibitor",
						"x-ms-summary": "The name of the exhibitor",
						"required": false,
						"type": "string"
					},
					{
						"name": "comment",
						"in": "query",
						"description": "Comments regarding the hold",
						"x-ms-summary": "Comments regarding the hold",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				}
			}
		},
		"/{ClientName}/EdgeApi/{databaseName}/booths/unhold": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Unholds the specified booth",
				"operationId": "Booths_UnHoldBooth",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"name": "boothNumber",
						"in": "query",
						"description": "The booth number of the booth",
						"x-ms-summary": "The booth number of the booth",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "The database name of the EXPOCAD event",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				},
				"description": "Unholds the specified booth in the supplied event."
			}
		},
		"/{ClientName}/EdgeApi/{databaseName}/booths/rentToHold": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Convert Rented booth to Hold",
				"operationId": "Booths_RentToHold",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"name": "boothNumber",
						"in": "query",
						"description": "The booth number of the booth",
						"x-ms-summary": "The booth number of the booth",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "The database name of the EXPOCAD event",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				},
				"description": "Converts the specified rented booth to a booth on hold to the same exhibitor in the supplied event."
			}
		},
		"/{ClientName}/EdgeApi/{databaseName}/booths/holdToRent": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Convert Held booth to Rented",
				"description": "Rents the specified held booth to the held exhibitor in the supplied event. This operation will fail if the booth is currently held to a temporary exhibitor.",
				"operationId": "Booths_HoldToRent",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"name": "boothNumber",
						"in": "query",
						"description": "The booth number of the booth",
						"x-ms-summary": "The booth number of the booth",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "The database name of the EXPOCAD event",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					},
					{
						"name": "ratePlan",
						"in": "query",
						"description": "The rate plan name",
						"x-ms-summary": "The rate plan name",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				}
			}
		},
		"/{ClientName}/EdgeApi/{databaseName}/booths/combine": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Combine the specified booths into a new booth",
				"operationId": "Booths_CombineBooths",
				"consumes": [
					"application/json",
					"text/plain",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"name": "boothNumbers",
						"in": "body",
						"description": "The booth numbers of the booths to combine. e.g. [100,101,102,103]",
						"x-ms-summary": "The booth numbers of the booths to combine. e.g. [100,101,102,103]",
						"required": true,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "The database name of the EXPOCAD event",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					},
					{
						"name": "boundary",
						"in": "query",
						"description": "0 or 1",
						"x-ms-summary": "0 or 1",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				},
				"description": "Combines the specified booths into a new booth in the supplied event."
			}
		},
		"/{ClientName}/EdgeApi/{databaseName}/booths/uncombine": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Uncombine the specified booth",
				"operationId": "Booths_UncombineBooth",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Your Client Name",
						"in": "path",
						"type": "string",
						"name": "ClientName",
						"required": true,
						"x-ms-url-encoding": "single",
						"x-ms-summary": "Client Name"
					},
					{
						"name": "boothNumber",
						"in": "query",
						"description": "The booth number of the booth",
						"x-ms-summary": "The booth number of the booth",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "The database name of the EXPOCAD event",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				},
				"description": "Uncombines the specified booth in the supplied event."
			}
		},
		"/{ClientName}/EdgeApi/{databaseName}/booths/delete": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Delete the specified booths",
				"operationId": "Booths_DeleteBooths",
				"consumes": [
					"application/json",
					"text/plain",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Organization Account use for EXPOCAD",
						"in": "path",
						"name": "ClientName",
						"required": true,
						"type": "string",
						"x-ms-url-encoding": "single",
						"x-ms-summary": "EXPOCAD Account"
					},
					{
						"name": "boothNumbers",
						"in": "body",
						"description": "The booth numbers of the booths",
						"x-ms-summary": "The booth numbers of the booths",
						"required": true,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "The database name of the EXPOCAD event",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				},
				"description": "Deletes the specified booths in the supplied event."
			}
		},
		"/{ClientName}/EdgeApi/{databaseName}/booths/undelete": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Undelete the specified booths",
				"operationId": "Booths_UndeleteBooths",
				"consumes": [
					"application/json",
					"text/plain",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Organization Account use for EXPOCAD",
						"in": "path",
						"name": "ClientName",
						"required": true,
						"type": "string",
						"x-ms-url-encoding": "single",
						"x-ms-summary": "EXPOCAD Account"
					},
					{
						"name": "boothNumbers",
						"in": "body",
						"description": "The booth numbers of the booths to undelete. e.g. [100,101,102,103]",
						"x-ms-summary": "The booth numbers of the booths to undelete. e.g. [100,101,102,103]",
						"required": true,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "The database name of the EXPOCAD event",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				},
				"description": "Undeletes the specified booths in the supplied event."
			}
		},
		"/{ClientName}/EdgeApi/{databaseName}/booths/changenumber": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Change the number of the specified booth",
				"operationId": "Booths_ChangeBoothNumber",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Organization Account use for EXPOCAD",
						"in": "path",
						"name": "ClientName",
						"required": true,
						"type": "string",
						"x-ms-url-encoding": "single",
						"x-ms-summary": "EXPOCAD Account"
					},
					{
						"name": "oldNumber",
						"in": "query",
						"description": "The booth number of the existing booth to change",
						"x-ms-summary": "The booth number of the existing booth to change",
						"required": true,
						"type": "string"
					},
					{
						"name": "newNumber",
						"in": "query",
						"description": "The new booth number to be assigned",
						"x-ms-summary": "The new booth number to be assigned",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "The database name of the EXPOCAD event",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				},
				"description": "Changes the number of the specified booth in the supplied event."
			}
		},
		"/{ClientName}/EdgeApi/{databaseName}/booths/classes/apply": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Apply a single booth class to the specified booth",
				"operationId": "Booths_SetBoothClass",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Organization Account use for EXPOCAD",
						"in": "path",
						"name": "ClientName",
						"required": true,
						"type": "string",
						"x-ms-url-encoding": "single",
						"x-ms-summary": "EXPOCAD Account"
					},
					{
						"name": "classId",
						"in": "query",
						"description": "The class ID of the booth class",
						"x-ms-summary": "The class ID of the booth class",
						"required": true,
						"type": "string"
					},
					{
						"name": "boothNumber",
						"in": "query",
						"description": "The booth number of the booth",
						"x-ms-summary": "The booth number of the booth",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "The database name of the EXPOCAD event",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				},
				"description": "Applys a single booth class to the specified booth in the supplied event."
			}
		},
		"/{ClientName}/EdgeApi/booths/classes/remove": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Remove a single booth class from the specified booth",
				"operationId": "Booths_ClearBoothClass",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Organization Account use for EXPOCAD",
						"in": "path",
						"name": "ClientName",
						"required": true,
						"type": "string",
						"x-ms-url-encoding": "single",
						"x-ms-summary": "EXPOCAD Account"
					},
					{
						"name": "classId",
						"in": "query",
						"description": "The class ID of the booth class",
						"x-ms-summary": "The class ID of the booth class",
						"required": true,
						"type": "string"
					},
					{
						"name": "boothNumber",
						"in": "query",
						"description": "The booth number of the booth",
						"x-ms-summary": "The booth number of the booth",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "query",
						"description": "The database name of the EXPOCAD event",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				},
				"description": "Removes a single booth class from the specified booth in the supplied event."
			}
		},
		"/{ClientName}/EdgeApi/{databaseName}/booths/displayNameOverride/set": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Override the display on drawing property for the specified booth",
				"operationId": "Booths_SetBoothDisplayName",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Organization Account use for EXPOCAD",
						"in": "path",
						"name": "ClientName",
						"required": true,
						"type": "string",
						"x-ms-url-encoding": "single",
						"x-ms-summary": "EXPOCAD Account"
					},
					{
						"name": "text",
						"in": "query",
						"description": "The text to override the display on drawing",
						"x-ms-summary": "The text to override the display on drawing",
						"required": true,
						"type": "string"
					},
					{
						"name": "boothNumber",
						"in": "query",
						"description": "The booth number of the booth",
						"x-ms-summary": "The booth number of the booth",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "The database name of the EXPOCAD event",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				},
				"description": "Overrides the display on drawing property for the specified booth."
			}
		},
		"/{ClientName}/EdgeApi/{databaseName}/booths/displayNameOverride/reset": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Reset the display on drawing override for the specified booth",
				"operationId": "Booths_ClearBoothDisplayName",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Organization Account use for EXPOCAD",
						"in": "path",
						"name": "ClientName",
						"required": true,
						"type": "string",
						"x-ms-url-encoding": "single",
						"x-ms-summary": "EXPOCAD Account"
					},
					{
						"name": "boothNumber",
						"in": "query",
						"description": "The booth number of the booth",
						"x-ms-summary": "The booth number of the booth",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
						"in": "path",
						"x-ms-url-encoding": "single",
						"description": "The database name of the EXPOCAD event",
						"x-ms-summary": "The database name of the EXPOCAD event",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				},
				"description": "Resets the display on drawing override for the specified booth."
			}
		},
		"/{ClientName}/EdgeApi/{databaseName}/booths/childExhibitor/add": {
			"put": {
				"tags": [
					"Booths"
				],
				"summary": "Add a child exhibitor to the specified booth",
				"description": "When adding a child exhibitor, the child exhibitor must already exist",
				"operationId": "Booths_AddChildExhibitor",
				"consumes": [],
				"produces": [
					"application/json",
					"text/plain"
				],
				"parameters": [
					{
						"description": "Organization Account use for EXPOCAD",
						"in": "path",
						"name": "ClientName",
						"required": true,
						"type": "string",
						"x-ms-url-encoding": "single",
						"x-ms-summary": "EXPOCAD Account"
					},
					{
						"name": "childExhibitorId",
						"in": "query",
						"description": "The ID of the child exhibitor",
						"x-ms-summary": "The ID of the child exhibitor",
						"required": true,
						"type": "string"
					},
					{
						"name": "boothNumber",
						"in": "query",
						"description": "The booth number of the booth",
						"x-ms-summary": "The booth number of the booth",
						"required": true,
						"type": "string"
					},
					{
						"name": "databaseName",
[...]
