{
    "swagger": "2.0",
    "info": {
        "title": "DomainTools Iris Investigate",
        "description": "Map connected infrastructure to get ahead of threats. The Iris Investigate API delivers dozens of domain name attributes on every result including Risk Score, DNS, Whois, SSL, and more. It enables easy pivoting through different domain name attributes and exposes meaningful insights with connection counts on most data fields. It is best suited for human-scale interactions.",
        "contact": {
            "name": "DomainTools Integrations",
            "url": "https://www.domaintools.com/integrations",
            "email": "enterprisesupport@domaintools.com"
        },
        "version": "1.0"
    },
    "host": "api.domaintools.com",
    "basePath": "/v1",
    "schemes": [
        "https"
    ],
    "consumes": [],
    "produces": [],
    "paths": {
        "/iris-investigate/reverse-ip/": {
            "post": {
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Reverse IP",
                "description": "Returns up to 500 domains that last resolved to a given IPv4 address an active DNS check. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Reverse_IP",
                "parameters": [{
                        "name": "ip",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "IPv4 address the registered domain was last known to point to during an active DNS check.",
                        "x-ms-summary": "IP Address"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/CreateDate"
                    },
                    {
                        "$ref": "#/parameters/ExpirationDate"
                    }
                ]
            }
        },
        "/iris-investigate/nameserver-ip": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Pivot by Nameserver IP Address",
                "description": "Returns up to 500 domains served by a provided nameserver IP. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Pivot_Nameserver_IP",
                "parameters": [{
                        "name": "nameserver_ip",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Nameserver IP",
                        "description": "IP address of the name server."
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/CreateDate"
                    },
                    {
                        "$ref": "#/parameters/ExpirationDate"
                    }
                ]
            }
        },
        "/iris-investigate/investigate_domain": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Investigate Domain",
                "description": "Retrieves the infrastructure and whois data associated with a domain or comma-separated list of up to 100 domains.",
                "operationId": "Investigate_Domain",
                "parameters": [{
                        "name": "domain",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Domain (e.g. name.tld) to be investigated or comma-separated list of domains.",
                        "x-ms-summary": "Domain Name"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/CreateDate"
                    },
                    {
                        "$ref": "#/parameters/ExpirationDate"
                    }
                ]
            }
        },
        "/iris-investigate/mx-ip": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Pivot by MX IP",
                "description": "Returns up to 500 domains served by a given mail server IP. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Pivot_MX_IP",
                "parameters": [{
                        "name": "mailserver_ip",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "IP address of the mail server.",
                        "x-ms-summary": "Mailserver IP"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/CreateDate"
                    },
                    {
                        "$ref": "#/parameters/ExpirationDate"
                    }
                ]
            }
        },
        "/iris-investigate/reverse-email": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Reverse Email",
                "description": "Returns up to 500 domains with an email address on the most recently available Whois record, DNS SOA record or SSL certificate. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Reverse_Email",
                "parameters": [{
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Email address from the most recently available Whois record, DNS SOA record or SSL certificate.",
                        "x-ms-summary": "Email Address"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/CreateDate"
                    },
                    {
                        "$ref": "#/parameters/ExpirationDate"
                    }
                ]
            }
        },
        "/iris-investigate/search-hash": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Return Domains from Search Hash",
                "description": "Import up to 500 domains from Iris Investigate into the Sentinel platform. Export your investigation by search hash (Iris Investigate -> Search -> Export). Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Load_Search_Hash",
                "parameters": [{
                        "name": "search_hash",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Encoded search hash from the Iris Investigate UI (Iris Investigate -> Search -> Export).",
                        "x-ms-summary": "Search Hash"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/CreateDate"
                    },
                    {
                        "$ref": "#/parameters/ExpirationDate"
                    }
                ]
            }
        },
        "/iris-investigate/ssl-hash": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "parameters": [{
                        "name": "ssl_hash",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "SSL certificate SHA-1 hash.",
                        "x-ms-summary": "SSL Hash"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/CreateDate"
                    },
                    {
                        "$ref": "#/parameters/ExpirationDate"
                    }
                ],
                "summary": "Pivot by SSL Hash",
                "description": "Returns up to 500 domains with a SSL certificate matching a provided SHA-1 hash. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Pivot_SSL_Hash"
            }
        },
        "/iris-investigate/registrant-org": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Pivot by Registrant Organization",
                "description": "Returns up to 500 domains exactly matching the provided Whois registrant organization field. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Pivot_Registrant_Org",
                "parameters": [{
                        "name": "registrant_org",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Exact match to the Whois registrant organization field.",
                        "x-ms-summary": "Registrant Organization"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/CreateDate"
                    },
                    {
                        "$ref": "#/parameters/ExpirationDate"
                    }
                ]
            }
        },
        "/iris-investigate/registrant": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Pivot by Registrant Name",
                "description": "Returns up to 500 domains exactly matching the provided Whois registrant field. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Pivot_Registrant_Name",
                "parameters": [{
                        "name": "registrant",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Exact match to the Whois registrant field.",
                        "x-ms-summary": "Registrant Name"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/CreateDate"
                    },
                    {
                        "$ref": "#/parameters/ExpirationDate"
                    }
                ]
            }
        },
        "/iris-investigate/email-domain": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Reverse Email Domain",
                "description": "Returns up to 500 domains with the domain portion of an email address on the most recently available Whois or DNS SOA record. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Reverse_Email_Domain",
                "parameters": [{
                        "name": "email_domain",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The domain portion of a Whois or DNS SOA email address.",
                        "x-ms-summary": "Email Domain"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/CreateDate"
                    },
                    {
                        "$ref": "#/parameters/ExpirationDate"
                    }
                ]
            }
        },
        "/iris-investigate/ssl-email/": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Pivot SSL Email",
                "description": "Returns up to 500 domains with a given email address on the SSL certificate. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Pivot_SSL_Email",
                "parameters": [{
                        "name": "ssl_email",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Email address from the SSL certificate.",
                        "x-ms-summary": "SSL Email"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/CreateDate"
                    },
                    {
                        "$ref": "#/parameters/ExpirationDate"
                    }
                ]
            }
        },
        "/iris-investigate/nameserver-host/": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Pivot Nameserver Host",
                "description": "Returns up to 500 domains served by a provided nameserver host. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Pivot_Nameserver_Host",
                "parameters": [{
                        "name": "nameserver_host",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Registered domain portion of the name server.",
                        "x-ms-summary": "Nameserver Host"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/CreateDate"
                    },
                    {
                        "$ref": "#/parameters/ExpirationDate"
                    }
                ]
            }
        },
        "/iris-investigate/mailserver-host/": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Pivot MX Host",
                "description": "Returns up to 500 domains with a mail server on a provided domain name. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Pivot_MX_Host",
                "parameters": [{
                        "name": "mailserver_host",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Only the registered domain portion of the mail server (e.g. domain.com).",
                        "x-ms-summary": "Mailserver Host"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/CreateDate"
                    },
                    {
                        "$ref": "#/parameters/ExpirationDate"
                    }
                ]
            }
        },
        "/iris-investigate/tagged-any/": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Return Tagged With Any",
                "description": "Retrieve up to 500 domains tagged within the Iris Investigate UI. Given a comma-separated list of tags, returns domains that are tagged with ANY of the tags. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Return_Tagged_Any",
                "parameters": [{
                        "name": "tagged_with_any",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Comma-separated list of Iris Investigate tags. Returns domains tagged with any of the tags in a list.",
                        "x-ms-summary": "Tagged With Any"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/CreateDate"
                    },
                    {
                        "$ref": "#/parameters/ExpirationDate"
                    }
                ]
            }
        },
        "/iris-investigate/tagged-all/": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Return Tagged With All",
                "description": "Retrieve up to 500 domains tagged within the Iris Investigate UI. Given a comma-separated list of tags, returns domains that are tagged with ALL of the tags. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Return_Tagged_All",
                "parameters": [{
                        "name": "tagged_with_all",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Comma-separated list of tags. Only returns domains tagged with the full list of tags.",
                        "x-ms-summary": "Tagged With All"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/CreateDate"
                    },
                    {
                        "$ref": "#/parameters/ExpirationDate"
                    }
                ]
            }
        },
        "/account/": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Account_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Retrieve Account Information",
                "parameters": [{
                    "name": "Accept",
                    "in": "header",
                    "required": true,
                    "type": "string",
                    "default": "application/json",
                    "x-ms-visibility": "internal"
                }],
                "operationId": "Account_Information",
                "description": "Information of the active API endpoints, rate limits and usage for an account."
            }
        }
    },
    "x-ms-connector-metadata": [{
            "propertyName": "Website",
            "propertyValue": "http://www.domaintools.com/"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://www.domaintools.com/company/privacy-policy/"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Security;Website"
        }
    ],
    "definitions": {
        "Account_Response": {
            "type": "object",
            "properties": {
                "account": {
                    "type": "object",
                    "properties": {
                        "api_username": {
                            "type": "string",
                            "description": "API username",
                            "title": "API username"
                        },
                        "active": {
                            "type": "boolean",
                            "description": "Active",
                            "title": "Active"
                        }
                    },
                    "description": "Account Information"
                },
                "products": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string",
                                "description": "ID",
                                "title": "ID"
                            },
                            "per_month_limit": {
                                "type": "string",
                                "description": "Per Month Limit",
                                "title": "Per Month Limit"
                            },
                            "per_minute_limit": {
                                "type": "string",
                                "description": "Per Minute Limit",
                                "title": "Per Minute Limit"
                            },
                            "absolute_limit": {
                                "type": "string",
                                "description": "Absolute Limit",
                                "title": "Absolute Limit"
                            },
                            "usage": {
                                "type": "object",
                                "properties": {
                                    "today": {
                                        "type": "string",
                                        "description": "Today Usage",
                                        "title": "Today Usage"
                                    },
                                    "month": {
                                        "type": "string",
                                        "description": "Month Usage",
                                        "title": "Month Usage"
                                    }
                                },
                                "description": "Usage Details"
                            },
                            "expiration_date": {
                                "type": "string",
                                "description": "Expiration Date",
                                "title": "Expiration Date"
                            }
                        }
                    },
                    "description": "Products Information"
                }
            },
            "description": "Acoount Information Response"
        },
        "Investigate_Response": {
            "type": "object",
            "properties": {
                "response": {
                    "type": "object",
                    "properties": {
                        "limit_exceeded": {
                            "type": "boolean",
                            "description": "DomainTools API results are limited to 5000 entries in a result set. If a query has more than 5000 results, the 'Limit exceeded' returns true. Try refining your query with more specific search terms.",
                            "title": "Limit Exceeded"
                        },
                        "has_more_results": {
                            "type": "boolean",
                            "description": "DomainTools API responses are limited to 500 responses in a single reply. The query can be iterated by adding an optional 'position' parameter to fetch 500 more responses up to a maximum of 5000. Please see https://github.com/DomainTools/python_api/blob/main/examples/retrieving_all_results_in_paginated_return.py for an example",
                            "title": "Has More Results"
                        },
                        "message": {
                            "type": "string",
                            "description": "Message",
                            "title": "Message"
                        },
                        "results_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Results Count",
                            "title": "Results Count"
                        },
                        "total_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total Count",
                            "title": "Total Count"
                        },
                        "results": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "domain": {
                                        "type": "string",
                                        "description": "Domain",
                                        "title": "Domain"
                                    },
                                    "whois_url": {
                                        "type": "string",
                                        "description": "Whois URL",
                                        "title": "Whois URL"
                                    },
                                    "adsense": {
                                        "type": "object",
                                        "properties": {
                                            "value": {
                                                "type": "string",
                                                "description": "Adsense Value",
                                                "title": "Adsense Value"
                                            },
                                            "count": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Adsense Count",
                                                "title": "Adsense Count"
                                            }
                                        },
                                        "description": "Adsense"
                                    },
                                    "popularity_rank": {
                                        "additionalProperties": {},
                                        "description": "Popularity Rank"
                                    },
                                    "active": {
                                        "type": "boolean",
                                        "description": "Active",
                                        "title": "Active"
                                    },
                                    "google_analytics": {
                                        "type": "object",
                                        "additionalProperties": {},
                                        "description": "Google Analytics"
                                    },
                                    "admin_contact": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Name of the administrative contact",
                                                        "title": "Administrative Contact Name"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the administrative contact name",
                                                        "title": "Administrative Contact Name Count"
                                                    }
                                                },
                                                "description": "Administrative Contact Name"
                                            },
                                            "org": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Organization of the administrative contact",
                                                        "title": "Administrative Contact Organization"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the administrative contact organization",
                                                        "title": "Administrative Contact Organization Count"
                                                    }
                                                },
                                                "description": "Administrative Contact Organization"
                                            },
                                            "street": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Street address of the administrative contact",
                                                        "title": "Administrative Contact Street"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the administrative contact street",
                                                        "title": "Administrative Contact Street Count"
                                                    }
                                                },
                                                "description": "Administrative Contact Street"
                                            },
                                            "city": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "City of the administrative contact",
                                                        "title": "Administrative Contact City"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the administrative contact city",
                                                        "title": "Administrative Contact City Count"
                                                    }
                                                },
                                                "description": "Administrative Contact City"
                                            },
                                            "state": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "State or province of the administrative contact",
                                                        "title": "Administrative Contact State"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the administrative contact state",
                                                        "title": "Administrative Contact State Count"
                                                    }
                                                },
                                                "description": "Administrative Contact State"
                                            },
                                            "postal": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Postal code of the administrative contact",
                                                        "title": "Administrative Contact Postal"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the administrative contact postal",
                                                        "title": "Administrative Contact Postal Count"
                                                    }
                                                },
                                                "description": "Administrative Contact Postal"
                                            },
                                            "country": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Country of the administrative contact",
                                                        "title": "Administrative Contact Country"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the administrative contact country",
                                                        "title": "Administrative Contact Country Count"
                                                    }
                                                },
                                                "description": "Administrative Contact Country"
                                            },
                                            "phone": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Phone number of the administrative contact",
                                                        "title": "Administrative Contact Phone"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the administrative contact phone",
                                                        "title": "Administrative Contact Phone Count"
                                                    }
                                                },
                                                "description": "Administrative Contact Phone"
                                            },
                                            "fax": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Fax number of the administrative contact",
                                                        "title": "Administrative Contact Fax"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the administrative contact fax",
                                                        "title": "Administrative Contact Fax Count"
                                                    }
                                                },
                                                "description": "Administrative Contact Fax"
                                            },
                                            "email": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "Email address of the administrative contact",
                                                            "title": "Administrative Contact Email"
                                                        },
                                                        "count": {
                                                            "type": "integer",
                                                            "format": "int32",
                                                            "description": "Count of connected domains sharing the administrative contact email",
                                                            "title": "Administrative Contact Email Count"
                                                        }
                                                    },
                                                    "description": "Administrative Contact Email"
                                                }
                                            }
                                        },
                                        "description": "Administrative Contact Object"
                                    },
                                    "billing_contact": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Name of the billing contact",
                                                        "title": "Billing Contact Name"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the billing contact name",
                                                        "title": "Billing Contact Name Count"
                                                    }
                                                },
                                                "description": "Billing Contact Name"
                                            },
                                            "org": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Organization of the billing contact",
                                                        "title": "Billing Contact Organization"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the billing contact organization",
                                                        "title": "Billing Contact Organization Count"
                                                    }
                                                },
                                                "description": "Billing Contact Organization"
                                            },
                                            "street": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Street address of the billing contact",
                                                        "title": "Billing Contact Street"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the billing contact street",
                                                        "title": "Billing Contact Street Count"
                                                    }
                                                },
                                                "description": "Billing Contact Street"
                                            },
                                            "city": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "City of the billing contact",
                                                        "title": "Billing Contact City"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the billing contact city",
                                                        "title": "Billing Contact City Count"
                                                    }
                                                },
                                                "description": "Billing Contact City"
                                            },
                                            "state": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "State of Province of the billing contact",
                                                        "title": "Billing Contact State"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the billing contact state",
                                                        "title": "Billing Contact State Count"
                                                    }
                                                },
                                                "description": "Billing Contact State"
                                            },
                                            "postal": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Postal Code of the billing contact",
                                                        "title": "Billing Contact Postal"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the billing contact postal",
                                                        "title": "Billing Contact Postal Count"
                                                    }
                                                },
                                                "description": "Billing Contact Postal"
                                            },
                                            "country": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Country of the billing contact",
                                                        "title": "Billing Contact Country"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the billing contact country",
                                                        "title": "Billing Contact Country Count"
                                                    }
                                                },
                                                "description": "Billing Contact Country"
                                            },
                                            "phone": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Phone number of the billing contact",
                                                        "title": "Billing Contact Phone"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the billing contact phone",
                                                        "title": "Billing Contact Phone Count"
                                                    }
                                                },
                                                "description": "Billing Contact Phone"
                                            },
                                            "fax": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Fax number of the billing contact",
                                                        "title": "Billing Contact Fax"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the billing contact fax",
                                                        "title": "Billing Contact Fax Count"
                                                    }
                                                },
                                                "description": "Billing Contact Fax"
                                            },
                                            "email": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "Email of the billing contact",
                                                            "title": "Billing Contact Email"
                                                        },
                                                        "count": {
                                                            "type": "integer",
                                                            "format": "int32",
                                                            "description": "Count of connected domains sharing the billing contact email",
                                                            "title": "Billing Contact Email Count"
                                                        }
                                                    }
                                                },
                                                "description": "Billing Contact Email"
                                            }
                                        },
                                        "description": "Billing Contact Object"
                                    },
                                    "registrant_contact": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Name of the registration contact",
                                                        "title": "Registrant Contact Name"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the registrant contact name",
                                                        "title": "Registrant Contact Name Count"
                                                    }
                                                },
                                                "description": "Registrant Contact Name"
                                            },
                                            "org": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Organization of the registration contact",
                                                        "title": "Registrant Contact Organization"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the registrant contact organization",
                                                        "title": "Registrant Contact Organization Count"
                                                    }
                                                },
                                                "description": "Registrant Contact Organization"
                                            },
                                            "street": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Street Address of the registration contact",
                                                        "title": "Registrant Contact Street"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the registrant contact street",
                                                        "title": "Registrant Contact Street Count"
                                                    }
                                                },
                                                "description": "Registrant Contact Street"
                                            },
                                            "city": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "City of the registration contact",
                                                        "title": "Registrant Contact City"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the registrant contact city",
                                                        "title": "Registrant Contact City Count"
                                                    }
                                                },
                                                "description": "Registrant Contact City"
                                            },
                                            "state": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "State or province of the registration contact",
                                                        "title": "Registrant Contact State"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the registrant contact state",
                                                        "title": "Registrant Contact State Count"
                                                    }
                                                },
                                                "description": "Registrant Contact State"
                                            },
                                            "postal": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Postal code of the registration contact",
                                                        "title": "Registrant Contact Postal"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the registrant contact postal",
                                                        "title": "Registrant Contact Postal Count"
                                                    }
                                                },
                                                "description": "Registrant Contact Postal"
                                            },
                                            "country": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Country of the registration contact",
                                                        "title": "Registrant Contact Country"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the registrant contact country",
                                                        "title": "Registrant Contact Country Count"
                                                    }
                                                },
                                                "description": "Registrant Contact Country"
                                            },
                                            "phone": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Phone number of the registration contact",
                                                        "title": "Registrant Contact Phone"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the registrant contact phone",
                                                        "title": "Registrant Contact Phone Count"
                                                    }
                                                },
                                                "description": "Registrant Contact Phone"
                                            },
                                            "fax": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Fax number of the registration contact",
                                                        "title": "Registrant Contact Fax"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the registrant contact fax",
                                                        "title": "Registrant Contact Fax Count"
                                                    }
                                                },
                                                "description": "Registrant Contact Fax"
                                            },
                                            "email": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "Email of the registration contact",
                                                            "title": "Registrant Contact Email"
                                                        },
                                                        "count": {
                                                            "type": "integer",
                                                            "format": "int32",
                                                            "description": "Count of connected domains sharing the registrant contact email",
                                                            "title": "Registrant Contact Email Count"
                                                        }
                                                    }
                                                },
                                                "description": "Registrant Contact Email"
                                            }
                                        },
                                        "description": "Registrant Contact Object"
                                    },
                                    "technical_contact": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Name of the technical contact",
                                                        "title": "Technical Contact Name"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the technical contact name",
                                                        "title": "Technical Contact Name Count"
                                                    }
                                                },
                                                "description": "Technical Contact Name"
                                            },
                                            "org": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Organization of the technical contact",
                                                        "title": "Technical Contact Organization"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the technical contact organization",
                                                        "title": "Technical Contact Organization Count"
                                                    }
                                                },
                                                "description": "Technical Contact Organization"
                                            },
                                            "street": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Street address of the technical contact",
                                                        "title": "Technical Contact Street"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the technical contact street",
                                                        "title": "Technical Contact Street Count"
                                                    }
                                                },
                                                "description": "Technical Contact Street"
                                            },
                                            "city": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "City of the technical contact",
                                                        "title": "Technical Contact City"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the technical contact city",
                                                        "title": "Technical Contact City Count"
                                                    }
                                                },
                                                "description": "Technical Contact City"
                                            },
                                            "state": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "State or province of the technical contact",
                                                        "title": "Technical Contact State"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the technical contact state",
                                                        "title": "Technical Contact State Count"
                                                    }
                                                },
                                                "description": "Technical Contact State"
                                            },
                                            "postal": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Postal code of the technical contact",
                                                        "title": "Technical Contact Postal"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the technical contact postal",
                                                        "title": "Technical Contact Postal Count"
                                                    }
                                                },
                                                "description": "Technical Contact Postal"
                                            },
                                            "country": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Country of the technical contact",
                                                        "title": "Technical Contact Country"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the technical contact country",
                                                        "title": "Technical Contact Country Count"
                                                    }
                                                },
                                                "description": "Technical Contact Country"
                                            },
                                            "phone": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Phone number of the technical contact",
                                                        "title": "Technical Contact Phone"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the technical contact phone",
                                                        "title": "Technical Contact Phone Count"
                                                    }
                                                },
                                                "description": "Technical Contact Phone"
                                            },
                                            "fax": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Fax number of the technical contact",
                                                        "title": "Technical Contact Fax"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count of connected domains sharing the technical contact fax",
                                                        "title": "Technical Contact Fax Count"
                                                    }
                                                },
                                                "description": "Technical Contact Fax"
                                            },
                                            "email": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "Email of the technical contact",
                                                            "title": "Technical Contact Email"
                                                        },
                                                        "count": {
                                                            "type": "integer",
                                                            "format": "int32",
                                                            "description": "Count of connected domains sharing the technical contact email",
                                                            "title": "Technical Contact Email Count"
                                                        }
                                                    }
                                                },
                                                "description": "Technical Contact Email"
                                            }
                                        },
                                        "description": "Technical Contact Object"
                                    },
                                    "create_date": {
                                        "type": "object",
                                        "properties": {
                                            "value": {
                                                "type": "string",
                                                "description": "Creation date for the domain",
                                                "title": "Create Date"
                                            },
                                            "count": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Count of connected domains sharing the create date",
                                                "title": "Create Date Count"
                                            }
                                        },
                                        "description": "Create Date"
                                    },
                                    "expiration_date": {
                                        "type": "object",
                                        "properties": {
                                            "value": {
                                                "type": "string",
                                                "description": "Expiration date for the domain",
                                                "title": "Expiration Date"
                                            },
                                            "count": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Count of connected domains sharing the expiration date",
                                                "title": "Expiration Date Count"
                                            }
                                        },
                                        "description": "Expiration Date"
                                    },
                                    "email_domain": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "value": {
                                                    "type": "string",
                                                    "description": "Email Domain",
                                                    "title": "Email Domain"
                                                },
                                                "count": {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "Count of connected domains sharing the email domain",
                                                    "title": "Email Domain Count"
                                                }
                                            },
                                            "description": "Email Domain"
                                        }
                                    },
                                    "soa_email": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "value": {
                                                    "type": "string",
                                                    "description": "SOA Email",
                                                    "title": "SOA Email"
                                                },
                                                "count": {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "Count of connected domains sharing the SOA email",
                                                    "title": "SOA Email Count"
                                                }
                                            }
                                        },
                                        "description": "SOA Email"
                                    },
                                    "ssl_email": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "value": {
                                                    "type": "string",
                                                    "description": "SSL Email",
                                                    "title": "SSL Email"
                                                },
                                                "count": {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "Count of connected domains sharing the SSL email",
                                                    "title": "SSL Email Count"
                                                }
                                            }
                                        },
                                        "description": "SSL Email"
                                    },
                                    "additional_whois_email": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "value": {
                                                    "type": "string",
                                                    "description": "Additional Whois Email",
                                                    "title": "Additional Whois Email"
                                                },
                                                "count": {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "Count of connected domains sharing the additional whois email",
                                                    "title": "Additional Whois Email Count"
                                                }
                                            }
                                        },
                                        "description": "Additional Whois Email"
                                    },
                                    "ip": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "address": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "IP Address",
                                                            "title": "IP Address"
                                                        },
                                                        "count": {
                                                            "type": "integer",
                                                            "format": "int32",
                                                            "description": "Count of connected domains sharing the IP Address",
                                                            "title": "IP Address Count"
                                                        }
                                                    },
                                                    "description": "IP Address"
                                                },
                                                "asn": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "value": {
                                                                "type": "integer",
                                                                "format": "int32",
                                                                "description": "IP Address ASN",
                                                                "title": "IP Address ASN"
                                                            },
                                                            "count": {
                                                                "type": "integer",
                                                                "format": "int32",
                                                                "description": "Count of connected domains sharing the IP ASN",
                                                                "title": "IP Address ASN Count"
                                                            }
[...]
