{
    "swagger": "2.0",
    "info": {
        "title": "DomainTools Iris Investigate",
        "description": "Map connected infrastructure to get ahead of threats. The Iris Investigate API delivers dozens of domain name attributes on every result including Risk Score, DNS, Whois, SSL, and more. It enables easy pivoting through different domain name attributes and exposes meaningful insights with connection counts on most data fields. It is best suited for human-scale interactions.",
        "contact": {
            "name": "DomainTools Integrations",
            "url": "https://www.domaintools.com/integrations",
            "email": "enterprisesupport@domaintools.com"
        },
        "version": "1.0"
    },
    "host": "api.domaintools.com",
    "basePath": "/v1",
    "schemes": [
        "https"
    ],
    "consumes": [],
    "produces": [],
    "paths": {
        "/iris-investigate/reverse-ip/": {
            "post": {
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Reverse IP",
                "description": "Returns up to 500 domains that last resolved to a given IPv4 address an active DNS check. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Reverse_IP",
                "parameters": [{
                        "name": "ip",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "IPv4 address the registered domain was last known to point to during an active DNS check.",
                        "x-ms-summary": "IP Address"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/ActiveDate"
                    }
                ]
            }
        },
        "/iris-investigate/nameserver-ip": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Pivot by Nameserver IP Address",
                "description": "Returns up to 500 domains served by a provided nameserver IP. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Pivot_Nameserver_IP",
                "parameters": [{
                        "name": "nameserver_ip",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Nameserver IP",
                        "description": "IP address of the name server."
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/ActiveDate"
                    }
                ]
            }
        },
        "/iris-investigate/investigate_domain": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Investigate Domain",
                "description": "Retrieves the infrastructure and whois data associated with a domain or comma-separated list of up to 100 domains.",
                "operationId": "Investigate_Domain",
                "parameters": [{
                        "name": "domain",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Domain (e.g. name.tld) to be investigated or comma-separated list of domains.",
                        "x-ms-summary": "Domain Name"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/ActiveDate"
                    }
                ]
            }
        },
        "/iris-investigate/mx-ip": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Pivot by MX IP",
                "description": "Returns up to 500 domains served by a given mail server IP. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Pivot_MX_IP",
                "parameters": [{
                        "name": "mailserver_ip",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "IP address of the mail server.",
                        "x-ms-summary": "Mailserver IP"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/ActiveDate"
                    }
                ]
            }
        },
        "/iris-investigate/reverse-email": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Reverse Email",
                "description": "Returns up to 500 domains with an email address on the most recently available Whois record, DNS SOA record or SSL certificate. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Reverse_Email",
                "parameters": [{
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Email address from the most recently available Whois record, DNS SOA record or SSL certificate.",
                        "x-ms-summary": "Email Address"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/ActiveDate"
                    }
                ]
            }
        },
        "/iris-investigate/search-hash": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Return Domains from Search Hash",
                "description": "Import up to 500 domains from Iris Investigate into the Sentinel platform. Export your investigation by search hash (Iris Investigate -> Search -> Export). Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Load_Search_Hash",
                "parameters": [{
                        "name": "search_hash",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Encoded search hash from the Iris Investigate UI (Iris Investigate -> Search -> Export).",
                        "x-ms-summary": "Search Hash"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/ActiveDate"
                    }
                ]
            }
        },
        "/iris-investigate/ssl-hash": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "parameters": [{
                        "name": "ssl_hash",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "SSL certificate SHA-1 hash.",
                        "x-ms-summary": "SSL Hash"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/ActiveDate"
                    }
                ],
                "summary": "Pivot by SSL Hash",
                "description": "Returns up to 500 domains with a SSL certificate matching a provided SHA-1 hash. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Pivot_SSL_Hash"
            }
        },
        "/iris-investigate/registrant-org": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Pivot by Registrant Org",
                "description": "Returns up to 500 domains exactly matching the provided Whois registrant organization field. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Pivot_Registrant_Org",
                "parameters": [{
                        "name": "registrant_org",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Exact match to the Whois registrant organization field.",
                        "x-ms-summary": "Registrant Org"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/ActiveDate"
                    }
                ]
            }
        },
        "/iris-investigate/registrant": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Pivot by Registrant Name",
                "description": "Returns up to 500 domains exactly matching the provided Whois registrant field. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Pivot_Registrant_Name",
                "parameters": [{
                        "name": "registrant",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Exact match to the Whois registrant field.",
                        "x-ms-summary": "Registrant Name"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/ActiveDate"
                    }
                ]
            }
        },
        "/iris-investigate/email-domain": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Reverse Email Domain",
                "description": "Returns up to 500 domains with the domain portion of an email address on the most recently available Whois or DNS SOA record. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Reverse_Email_Domain",
                "parameters": [{
                        "name": "email_domain",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The domain portion of a Whois or DNS SOA email address.",
                        "x-ms-summary": "Email Domain"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/ActiveDate"
                    }
                ]
            }
        },
        "/iris-investigate/ssl-email/": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Pivot SSL Email",
                "description": "Returns up to 500 domains with a given email address on the SSL certificate. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Pivot_SSL_Email",
                "parameters": [{
                        "name": "ssl_email",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Email address from the SSL certificate.",
                        "x-ms-summary": "SSL Email"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/ActiveDate"
                    }
                ]
            }
        },
        "/iris-investigate/nameserver-host/": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Pivot Nameserver Host",
                "description": "Returns up to 500 domains served by a provided nameserver host. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Pivot_Nameserver_Host",
                "parameters": [{
                        "name": "nameserver_host",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Registered domain portion of the name server.",
                        "x-ms-summary": "Nameserver Host"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/ActiveDate"
                    }
                ]
            }
        },
        "/iris-investigate/mailserver-host/": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Pivot MX Host",
                "description": "Returns up to 500 domains with a mail server on a provided domain name. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Pivot_MX_Host",
                "parameters": [{
                        "name": "mailserver_host",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Only the registered domain portion of the mail server (e.g. domain.com).",
                        "x-ms-summary": "Mailserver Host"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/ActiveDate"
                    }
                ]
            }
        },
        "/iris-investigate/tagged-any/": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Return Tagged With Any",
                "description": "Retrieve up to 500 domains tagged within the Iris Investigate UI. Given a comma-separated list of tags, returns domains that are tagged with ANY of the tags. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Return_Tagged_Any",
                "parameters": [{
                        "name": "tagged_with_any",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Comma-separated list of Iris Investigate tags. Returns domains tagged with any of the tags in a list.",
                        "x-ms-summary": "Tagged With Any"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/ActiveDate"
                    }
                ]
            }
        },
        "/iris-investigate/tagged-all/": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Investigate_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Return Tagged With All",
                "description": "Retrieve up to 500 domains tagged within the Iris Investigate UI. Given a comma-separated list of tags, returns domains that are tagged with ALL of the tags. Use the optional 'active' and 'date updated after' parameters to pre-filter the result set.",
                "operationId": "Return_Tagged_All",
                "parameters": [{
                        "name": "tagged_with_all",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Comma-separated list of tags. Only returns domains tagged with the full list of tags.",
                        "x-ms-summary": "Tagged With All"
                    },
                    {
                        "$ref": "#/parameters/Active"
                    },
                    {
                        "$ref": "#/parameters/ActiveDate"
                    }
                ]
            }
        },
        "/account/": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Account_Response"
                        },
                        "headers": {
                            "Accept": {
                                "description": "Accept",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Retrieve Account Information",
                "parameters": [{
                    "name": "Accept",
                    "in": "header",
                    "required": true,
                    "type": "string",
                    "default": "application/json",
                    "x-ms-visibility": "internal"
                }],
                "operationId": "Account_Information",
                "description": "Information of the active API endpoints, rate limits and usage for an account."
            }
        }
    },
    "x-ms-connector-metadata": [{
            "propertyName": "Website",
            "propertyValue": "http://www.domaintools.com/"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://www.domaintools.com/company/privacy-policy/"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Security;Website"
        }
    ],
    "definitions": {
        "Account_Response": {
            "type": "object",
            "properties": {
                "account": {
                    "type": "object",
                    "properties": {
                        "api_username": {
                            "type": "string",
                            "description": "API username",
                            "title": "API username"
                        },
                        "active": {
                            "type": "boolean",
                            "description": "Active",
                            "title": "Active"
                        }
                    },
                    "description": "Account Information"
                },
                "products": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string",
                                "description": "ID",
                                "title": "ID"
                            },
                            "per_month_limit": {
                                "type": "string",
                                "description": "Per Month Limit",
                                "title": "Per Month Limit"
                            },
                            "per_minute_limit": {
                                "type": "string",
                                "description": "Per Minute Limit",
                                "title": "Per Minute Limit"
                            },
                            "absolute_limit": {
                                "type": "string",
                                "description": "Absolute Limit",
                                "title": "Absolute Limit"
                            },
                            "usage": {
                                "type": "object",
                                "properties": {
                                    "today": {
                                        "type": "string",
                                        "description": "Today Usage",
                                        "title": "Today Usage"
                                    },
                                    "month": {
                                        "type": "string",
                                        "description": "Month Usage",
                                        "title": "Month Usage"
                                    }
                                },
                                "description": "Usage Details"
                            },
                            "expiration_date": {
                                "type": "string",
                                "description": "Expiration Date",
                                "title": "Expiration Date"
                            }
                        }
                    },
                    "description": "Products Information"
                }
            },
            "description": "Acoount Information Response"
        },
        "Investigate_Response": {
            "type": "object",
            "properties": {
                "response": {
                    "type": "object",
                    "properties": {
                        "limit_exceeded": {
                            "type": "boolean",
                            "description": "DomainTools API results are limited to 5000 entries in a result set. If a query has more than 5000 results, the 'Limit exceeded' returns true. Try refining your query with more specific search terms.",
                            "title": "Limit Exceeded"
                        },
                        "has_more_results": {
                            "type": "boolean",
                            "description": "DomainTools API responses are limited to 500 responses in a single reply. The query can be iterated by adding an optional 'position' parameter to fetch 500 more responses up to a maximum of 5000. Please see https://github.com/DomainTools/python_api/blob/main/examples/retrieving_all_results_in_paginated_return.py for an example",
                            "title": "Has More Results"
                        },
                        "message": {
                            "type": "string",
                            "description": "Message",
                            "title": "Message"
                        },
                        "results_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Results Count",
                            "title": "Results Count"
                        },
                        "total_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total Count",
                            "title": "Total Count"
                        },
                        "results": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "domain": {
                                        "type": "string",
                                        "description": "Domain",
                                        "title": "Domain"
                                    },
                                    "whois_url": {
                                        "type": "string",
                                        "description": "Whois URL",
                                        "title": "Whois URL"
                                    },
                                    "adsense": {
                                        "type": "object",
                                        "properties": {
                                            "value": {
                                                "type": "string",
                                                "description": "Adsense Value",
                                                "title": "Adsense Value"
                                            },
                                            "count": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Adsense Count",
                                                "title": "Adsense Count"
                                            }
                                        },
                                        "description": "Adsense"
                                    },
                                    "alexa": {
                                        "additionalProperties": {},
                                        "description": "Alexa"
                                    },
                                    "active": {
                                        "type": "boolean",
                                        "description": "Active",
                                        "title": "Active"
                                    },
                                    "google_analytics": {
                                        "type": "object",
                                        "additionalProperties": {},
                                        "description": "Google Analytics"
                                    },
                                    "admin_contact": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Admin Contact Name",
                                                        "title": "Admin Contact Name"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Admin Contact Name"
                                            },
                                            "org": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Admin Contact Org",
                                                        "title": "Admin Contact Org"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Admin Contact Org"
                                            },
                                            "street": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Admin Contact Street",
                                                        "title": "Admin Contact Street"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Admin Contact Street"
                                            },
                                            "city": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Admin Contact City",
                                                        "title": "Admin Contact City"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Admin Contact City"
                                            },
                                            "state": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Admin Contact State",
                                                        "title": "Admin Contact State"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Admin Contact State"
                                            },
                                            "postal": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Admin Contact Postal",
                                                        "title": "Admin Contact Postal"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Admin Contact Postal"
                                            },
                                            "country": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Admin Contact Country",
                                                        "title": "Admin Contact Country"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Admin Contact Country"
                                            },
                                            "phone": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Admin Contact Phone",
                                                        "title": "Admin Contact Phone"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Admin Contact Phone"
                                            },
                                            "fax": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Admin Contact Fax",
                                                        "title": "Admin Contact Fax"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Admin Contact Fax"
                                            },
                                            "email": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "Admin Contact Email",
                                                            "title": "Admin Contact Email"
                                                        },
                                                        "count": {
                                                            "type": "integer",
                                                            "format": "int32",
                                                            "description": "Count",
                                                            "title": "Count"
                                                        }
                                                    },
                                                    "description": "Admin Contact Email"
                                                }
                                            }
                                        },
                                        "description": "Admin Contact Object"
                                    },
                                    "billing_contact": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Billing Contact Name",
                                                        "title": "Billing Contact Name"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Billing Contact Name"
                                            },
                                            "org": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Billing Contact Org",
                                                        "title": "Billing Contact Org"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Billing Contact Org"
                                            },
                                            "street": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Billing Contact Street",
                                                        "title": "Billing Contact Street"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Billing Contact Street"
                                            },
                                            "city": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Billing Contact City",
                                                        "title": "Billing Contact City"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Billing Contact City"
                                            },
                                            "state": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Billing Contact State",
                                                        "title": "Billing Contact State"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Billing Contact State"
                                            },
                                            "postal": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Billing Contact Postal",
                                                        "title": "Billing Contact Postal"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Billing Contact Postal"
                                            },
                                            "country": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Billing Contact Country",
                                                        "title": "Billing Contact Country"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Billing Contact Country"
                                            },
                                            "phone": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Billing Contact Phone",
                                                        "title": "Billing Contact Phone"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Billing Contact Phone"
                                            },
                                            "fax": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Billing Contact Fax",
                                                        "title": "Billing Contact Fax"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Billing Contact Fax"
                                            },
                                            "email": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "Billing Contact Email",
                                                            "title": "Billing Contact Email"
                                                        },
                                                        "count": {
                                                            "type": "integer",
                                                            "format": "int32",
                                                            "description": "Count",
                                                            "title": "Count"
                                                        }
                                                    }
                                                },
                                                "description": "Billing Contact Email"
                                            }
                                        },
                                        "description": "Billing Contact Object"
                                    },
                                    "registrant_contact": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Registrant Contact Name",
                                                        "title": "Registrant Contact Name"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Registrant Contact Name"
                                            },
                                            "org": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Registrant Contact Org",
                                                        "title": "Registrant Contact Org"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Registrant Contact Org"
                                            },
                                            "street": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Registrant Contact Street",
                                                        "title": "Registrant Contact Street"
                                                    }
                                                },
                                                "description": "Registrant Contact Street"
                                            },
                                            "city": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Registrant Contact City",
                                                        "title": "Registrant Contact City"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Registrant Contact City"
                                            },
                                            "state": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Registrant Contact State",
                                                        "title": "Registrant Contact State"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Registrant Contact State"
                                            },
                                            "postal": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Registrant Contact Postal",
                                                        "title": "Registrant Contact Postal"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Registrant Contact Postal"
                                            },
                                            "country": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Registrant Contact Country",
                                                        "title": "Registrant Contact Country"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Registrant Contact Country"
                                            },
                                            "phone": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Registrant Contact Phone",
                                                        "title": "Registrant Contact Phone"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Registrant Contact Phone"
                                            },
                                            "fax": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Registrant Contact Fax",
                                                        "title": "Registrant Contact Fax"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Registrant Contact Fax"
                                            },
                                            "email": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "Registrant Contact Email",
                                                            "title": "Registrant Contact Email"
                                                        },
                                                        "count": {
                                                            "type": "integer",
                                                            "format": "int32",
                                                            "description": "Count",
                                                            "title": "Count"
                                                        }
                                                    }
                                                },
                                                "description": "Registrant Contact Email"
                                            }
                                        },
                                        "description": "Registrant Contact Object"
                                    },
                                    "technical_contact": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Technical Contact Name",
                                                        "title": "Technical Contact Name"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Technical Contact Name"
                                            },
                                            "org": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Technical Contact Org",
                                                        "title": "Technical Contact Org"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Technical Contact Org"
                                            },
                                            "street": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Technical Contact Street",
                                                        "title": "Technical Contact Street"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Technical Contact Street"
                                            },
                                            "city": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Technical Contact City",
                                                        "title": "Technical Contact City"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Technical Contact City"
                                            },
                                            "state": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Technical Contact State",
                                                        "title": "Technical Contact State"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Technical Contact State"
                                            },
                                            "postal": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Technical Contact Postal",
                                                        "title": "Technical Contact Postal"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Technical Contact Postal"
                                            },
                                            "country": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Technical Contact Country",
                                                        "title": "Technical Contact Country"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Technical Contact Country"
                                            },
                                            "phone": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Technical Contact Phone",
                                                        "title": "Technical Contact Phone"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Technical Contact Phone"
                                            },
                                            "fax": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "description": "Technical Contact Fax",
                                                        "title": "Technical Contact Fax"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Count",
                                                        "title": "Count"
                                                    }
                                                },
                                                "description": "Technical Contact Fax"
                                            },
                                            "email": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "Technical Contact Email",
                                                            "title": "Technical Contact Email"
                                                        },
                                                        "count": {
                                                            "type": "integer",
                                                            "format": "int32",
                                                            "description": "Count",
                                                            "title": "Count"
                                                        }
                                                    }
                                                },
                                                "description": "Technical Contact Email"
                                            }
                                        },
                                        "description": "Technical Contact Object"
                                    },
                                    "create_date": {
                                        "type": "object",
                                        "properties": {
                                            "value": {
                                                "type": "string",
                                                "description": "Create Date",
                                                "title": "Create Date"
                                            },
                                            "count": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Count",
                                                "title": "Count"
                                            }
                                        },
                                        "description": "Create Date"
                                    },
                                    "expiration_date": {
                                        "type": "object",
                                        "properties": {
                                            "value": {
                                                "type": "string",
                                                "description": "Expiration Date",
                                                "title": "Expiration Date"
                                            },
                                            "count": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Count",
                                                "title": "Count"
                                            }
                                        },
                                        "description": "Expiration Date"
                                    },
                                    "email_domain": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "value": {
                                                    "type": "string",
                                                    "description": "Email Domain",
                                                    "title": "Email Domain"
                                                },
                                                "count": {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "Count",
                                                    "title": "Count"
                                                }
                                            },
                                            "description": "Email Domain"
                                        }
                                    },
                                    "soa_email": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "value": {
                                                    "type": "string",
                                                    "description": "SOA Email",
                                                    "title": "SOA Email"
                                                },
                                                "count": {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "Count",
                                                    "title": "Count"
                                                }
                                            }
                                        },
                                        "description": "SOA Email"
                                    },
                                    "ssl_email": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "value": {
                                                    "type": "string",
                                                    "description": "SSL Email",
                                                    "title": "SSL Email"
                                                },
                                                "count": {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "Count",
                                                    "title": "Count"
                                                }
                                            }
                                        },
                                        "description": "SSL Email"
                                    },
                                    "additional_whois_email": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "value": {
                                                    "type": "string",
                                                    "description": "Additional Whois Email",
                                                    "title": "Additional Whois Email"
                                                },
                                                "count": {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "Count",
                                                    "title": "Count"
                                                }
                                            }
                                        },
                                        "description": "Additional Whois Email"
                                    },
                                    "ip": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "address": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "IP Address",
                                                            "title": "IP Address"
                                                        },
                                                        "count": {
                                                            "type": "integer",
                                                            "format": "int32",
                                                            "description": "Count",
                                                            "title": "Count"
                                                        }
                                                    },
                                                    "description": "IP Address"
                                                },
                                                "asn": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "value": {
                                                                "type": "integer",
                                                                "format": "int32",
                                                                "description": "IP Address ASN",
                                                                "title": "IP Address ASN"
                                                            },
                                                            "count": {
                                                                "type": "integer",
                                                                "format": "int32",
                                                                "description": "Count",
                                                                "title": "Count"
                                                            }
                                                        }
                                                    },
                                                    "description": "IP Address ASN"
                                                },
                                                "country_code": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "IP Address Country Code",
                                                            "title": "IP Address Country Code"
                                                        },
                                                        "count": {
                                                            "type": "integer",
                                                            "format": "int32",
                                                            "description": "Count",
                                                            "title": "Count"
                                                        }
                                                    },
                                                    "description": "IP Address Country Code"
                                                },
                                                "isp": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "IP Address ISP",
                                                            "title": "IP Address ISP"
                                                        },
                                                        "count": {
                                                            "type": "integer",
                                                            "format": "int32",
                                                            "description": "Count",
                                                            "title": "Count"
                                                        }
                                                    },
                                                    "description": "IP Address ISP"
                                                }
                                            }
                                        },
                                        "description": "IP Address Object"
                                    },
                                    "mx": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "host": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "MX host",
                                                            "title": "MX host"
                                                        },
                                                        "count": {
                                                            "type": "integer",
                                                            "format": "int32",
                                                            "description": "Count",
                                                            "title": "Count"
                                                        }
                                                    },
                                                    "description": "MX host"
                                                },
                                                "domain": {
                                                    "type": "object",
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "description": "MX Domain",
                                                            "title": "MX Domain"
                                                        },
                                                        "count": {
                                                            "type": "integer",
                                                            "format": "int32",
                                                            "description": "Count",
                                                            "title": "Count"
                                                        }
                                                    },
                                                    "description": "MX Domain"
                                                },
                                                "ip": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "value": {
                                                                "type": "string",
                                                                "description": "MX IP",
                                                                "title": "MX IP"
                                                            },
                                                            "count": {
                                                                "type": "integer",
                                                                "format": "int32",
                                                                "description": "Count",
                                                                "title": "Count"
[...]
