{
  "swagger": "2.0",
  "info": {
    "title": "OneNote Consumer",
    "description": "Microsoft OneNote is your digital notebook. One cross-functional notebook for all your notetaking needs.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "graph.microsoft.com",
  "basePath": "/v1.0/me/onenote",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": [],
  "paths": {
    "/notebooks": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The OData Context.",
                  "title": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "self": {
                        "type": "string",
                        "description": "The self URL address.",
                        "title": "Self"
                      },
                      "createdDateTime": {
                        "type": "string",
                        "description": "When created date-time.",
                        "title": "Created Date-Time"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "The display name.",
                        "title": "Display Name"
                      },
                      "lastModifiedDateTime": {
                        "type": "string",
                        "description": "When last modified date-time.",
                        "title": "Last Modified Date-Time"
                      },
                      "isDefault": {
                        "type": "boolean",
                        "description": "Whether is default.",
                        "title": "Is Default"
                      },
                      "userRole": {
                        "type": "string",
                        "description": "The user role.",
                        "title": "User Role"
                      },
                      "isShared": {
                        "type": "boolean",
                        "description": "Whether is shared.",
                        "title": "Is Shared"
                      },
                      "sectionsUrl": {
                        "type": "string",
                        "description": "The sections URL address.",
                        "title": "Sections URL"
                      },
                      "sectionGroupsUrl": {
                        "type": "string",
                        "description": "The section groups URL address.",
                        "title": "Section Groups URL"
                      },
                      "createdBy": {
                        "type": "object",
                        "properties": {
                          "user": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The unique identifier.",
                                "title": "ID"
                              },
                              "displayName": {
                                "type": "string",
                                "description": "The display name.",
                                "title": "Display Name"
                              }
                            },
                            "title": "User"
                          }
                        },
                        "title": "Created By"
                      },
                      "lastModifiedBy": {
                        "type": "object",
                        "properties": {
                          "user": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The unique identifier.",
                                "title": "ID"
                              },
                              "displayName": {
                                "type": "string",
                                "description": "The display name.",
                                "title": "Display Name"
                              }
                            },
                            "title": "User"
                          }
                        },
                        "title": "Last Modified By"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "oneNoteClientUrl": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "The HREF attribute.",
                                "title": "HREF"
                              }
                            },
                            "title": "One Note Client URL"
                          },
                          "oneNoteWebUrl": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "The HREF attribute.",
                                "title": "HREF"
                              }
                            },
                            "title": "One Note Web URL"
                          }
                        },
                        "title": "Links"
                      }
                    }
                  },
                  "title": "Value"
                }
              }
            }
          }
        },
        "summary": "Get my notebooks",
        "description": "Retrieves my notebooks.",
        "operationId": "NotebookGet",
        "parameters": []
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The OData Context.",
                  "title": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "self": {
                  "type": "string",
                  "description": "The self URL address.",
                  "title": "Self"
                },
                "displayName": {
                  "type": "string",
                  "description": "The display name.",
                  "title": "Display Name"
                },
                "userRole": {
                  "type": "string",
                  "description": "The user role.",
                  "title": "User Role"
                },
                "isShared": {
                  "type": "boolean",
                  "description": "Whether is shared.",
                  "title": "Is Shared"
                },
                "sectionsUrl": {
                  "type": "string",
                  "description": "The sections URL address.",
                  "title": "Sections URL"
                },
                "sectionGroupsUrl": {
                  "type": "string",
                  "description": "The section groups URL address.",
                  "title": "Section Groups URL"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "oneNoteClientUrl": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF attribute.",
                          "title": "HREF"
                        }
                      },
                      "title": "One Note Client URL"
                    },
                    "oneNoteWebUrl": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF attribute.",
                          "title": "HREF"
                        }
                      },
                      "title": "One Note Web URL"
                    }
                  },
                  "title": "Links"
                }
              }
            }
          }
        },
        "summary": "Create notebook",
        "description": "Creates a new OneNote notebook.",
        "operationId": "NotebookPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string",
                  "description": "The display name.",
                  "title": "Display Name"
                }
              },
              "required": [
                "displayName"
              ]
            }
          }
        ]
      }
    },
    "/notebooks/{notebook-id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The OData Context.",
                  "title": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "self": {
                  "type": "string",
                  "description": "The self URL address.",
                  "title": "Self"
                },
                "createdDateTime": {
                  "type": "string",
                  "description": "When created date-time.",
                  "title": "Created Date-Time"
                },
                "displayName": {
                  "type": "string",
                  "description": "The display name.",
                  "title": "Display Name"
                },
                "lastModifiedDateTime": {
                  "type": "string",
                  "description": "When last modified date-time.",
                  "title": "Last Modified Date-Time"
                },
                "isDefault": {
                  "type": "boolean",
                  "description": "Whether is default.",
                  "title": "Is Default"
                },
                "userRole": {
                  "type": "string",
                  "description": "The user role.",
                  "title": "User Role"
                },
                "isShared": {
                  "type": "boolean",
                  "description": "Whether is shared.",
                  "title": "Is Shared"
                },
                "sectionsUrl": {
                  "type": "string",
                  "description": "The sections URL address.",
                  "title": "Sections URL"
                },
                "sectionGroupsUrl": {
                  "type": "string",
                  "description": "The section groups URL address.",
                  "title": "Section Groups URL"
                },
                "createdBy": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier.",
                          "title": "ID"
                        },
                        "displayName": {
                          "type": "string",
                          "description": "The display name.",
                          "title": "Display Name"
                        }
                      },
                      "title": "User"
                    }
                  },
                  "title": "Created By"
                },
                "lastModifiedBy": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier.",
                          "title": "ID"
                        },
                        "displayName": {
                          "type": "string",
                          "description": "The display name.",
                          "title": "Display Name"
                        }
                      },
                      "title": "User"
                    }
                  },
                  "title": "Last Modified By"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "oneNoteClientUrl": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF attribute.",
                          "title": "HREF"
                        }
                      },
                      "title": "One Note Client URL"
                    },
                    "oneNoteWebUrl": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF attribute.",
                          "title": "HREF"
                        }
                      },
                      "title": "One Note Web URL"
                    }
                  },
                  "title": "Links"
                }
              }
            }
          }
        },
        "summary": "Get notebook",
        "description": "Retrieves a specific notebook",
        "operationId": "NotebookGetA",
        "parameters": [
          {
            "name": "notebook-id",
            "in": "path",
            "x-ms-summary": "Notebook ID",
            "x-ms-url-encoding": "single",
            "description": "The notebook unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/notebooks/{notebook-id}/sections": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The OData Context.",
                  "title": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "self": {
                        "type": "string",
                        "description": "The self URL address.",
                        "title": "Self"
                      },
                      "createdDateTime": {
                        "type": "string",
                        "description": "When created date-time.",
                        "title": "Created Date-Time"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "The display name.",
                        "title": "Display Name"
                      },
                      "lastModifiedDateTime": {
                        "type": "string",
                        "description": "When last modified date-time.",
                        "title": "Last Modified Date-Time"
                      },
                      "isDefault": {
                        "type": "boolean",
                        "description": "Whether is default.",
                        "title": "Is Default"
                      },
                      "pagesUrl": {
                        "type": "string",
                        "description": "The pages URL address.",
                        "title": "Pages URL"
                      },
                      "createdBy": {
                        "type": "object",
                        "properties": {
                          "user": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The unique identifier.",
                                "title": "ID"
                              },
                              "displayName": {
                                "type": "string",
                                "description": "The display name.",
                                "title": "Display Name"
                              }
                            },
                            "title": "User"
                          }
                        },
                        "title": "Created By"
                      },
                      "lastModifiedBy": {
                        "type": "object",
                        "properties": {
                          "user": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The unique identifier.",
                                "title": "ID"
                              },
                              "displayName": {
                                "type": "string",
                                "description": "The display name.",
                                "title": "Display Name"
                              }
                            },
                            "title": "User"
                          }
                        },
                        "title": "Last Modified By"
                      },
                      "parentNotebook@odata.context": {
                        "type": "string",
                        "description": "The parent notebook OData context.",
                        "title": "Parent Notebook OData Context"
                      },
                      "parentNotebook": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "displayName": {
                            "type": "string",
                            "description": "The display name.",
                            "title": "Display Name"
                          },
                          "self": {
                            "type": "string",
                            "description": "The self address.",
                            "title": "Self"
                          }
                        },
                        "title": "Parent Notebook"
                      },
                      "parentSectionGroup@odata.context": {
                        "type": "string",
                        "description": "The parent section group OData context.",
                        "title": "Parent Section Group OData Context"
                      },
                      "parentSectionGroup": {
                        "type": "string",
                        "description": "The parent section group.",
                        "title": "Parent Section Group"
                      }
                    }
                  },
                  "title": "Value"
                }
              }
            }
          }
        },
        "summary": "List sections",
        "description": "Retrieves a list of sections from the specified notebook.",
        "operationId": "SectionGet",
        "parameters": [
          {
            "name": "notebook-id",
            "in": "path",
            "x-ms-summary": "Notebook ID",
            "x-ms-url-encoding": "single",
            "description": "The notebook unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "description": "The filter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "x-ms-summary": "Expand",
            "description": "The expand parameter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "description": "The order by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "The search.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Select",
            "description": "The select.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "description": "The skip count.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "description": "The top.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$count",
            "in": "query",
            "x-ms-summary": "Count",
            "description": "The count.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "x-ms-summary": "Skip Token",
            "description": "The skip token.",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The OData Context.",
                  "title": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "self": {
                  "type": "string",
                  "description": "The self URL address.",
                  "title": "Self"
                },
                "createdDateTime": {
                  "type": "string",
                  "description": "When created date-time.",
                  "title": "Created Date-Time"
                },
                "displayName": {
                  "type": "string",
                  "description": "The display name.",
                  "title": "Display Name"
                },
                "lastModifiedDateTime": {
                  "type": "string",
                  "description": "When last modified date-time.",
                  "title": "Last Modified Date-Time"
                },
                "isDefault": {
                  "type": "boolean",
                  "description": "Whether is default.",
                  "title": "Is Default"
                },
                "pagesUrl": {
                  "type": "string",
                  "description": "The pages URL address.",
                  "title": "Pages URL"
                },
                "createdBy": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier.",
                          "title": "ID"
                        },
                        "displayName": {
                          "type": "string",
                          "description": "The display name.",
                          "title": "Display Name"
                        }
                      },
                      "title": "User"
                    }
                  },
                  "title": "Created By"
                },
                "lastModifiedBy": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier.",
                          "title": "ID"
                        },
                        "displayName": {
                          "type": "string",
                          "description": "The display name.",
                          "title": "Display Name"
                        }
                      },
                      "title": "User"
                    }
                  },
                  "title": "Last Modified By"
                }
              }
            }
          }
        },
        "summary": "Create section",
        "description": "Create a new section in the specified notebook.",
        "operationId": "SectionPost",
        "parameters": [
          {
            "name": "notebook-id",
            "in": "path",
            "x-ms-summary": "Notebook ID",
            "x-ms-url-encoding": "single",
            "description": "The notebook unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string",
                  "description": "The display name.",
                  "title": "Display Name"
                }
              },
              "required": [
                "displayName"
              ]
            }
          }
        ]
      }
    },
    "/sections/{section-id}/pages": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The OData Context.",
                  "title": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "self": {
                        "type": "string",
                        "description": "The self URL address.",
                        "title": "Self"
                      },
                      "createdDateTime": {
                        "type": "string",
                        "description": "When created date-time.",
                        "title": "Created Date-Time"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "createdByAppId": {
                        "type": "string",
                        "description": "The created by app unique identifier.",
                        "title": "Created By App ID"
                      },
                      "contentUrl": {
                        "type": "string",
                        "description": "The content URL address.",
                        "title": "Content URL"
                      },
                      "lastModifiedDateTime": {
                        "type": "string",
                        "description": "When last modified date-time.",
                        "title": "Last Modified Date-Time"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "oneNoteClientUrl": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "The HREF attribute.",
                                "title": "HREF"
                              }
                            },
                            "title": "One Note Client URL"
                          },
                          "oneNoteWebUrl": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "The HREF attribute.",
                                "title": "HREF"
                              }
                            },
                            "title": "One Note Web URL"
                          }
                        },
                        "title": "Links"
                      },
                      "parentSection@odata.context": {
                        "type": "string",
                        "description": "The parent section OData context.",
                        "title": "Parent Section OData Context"
                      },
                      "parentSection": {
                        "type": "string",
                        "description": "The parent section.",
                        "title": "Parent Section"
                      }
                    }
                  },
                  "title": "Value"
                }
              }
            }
          }
        },
        "summary": "List pages",
        "description": "Retrieves a list of pages from the specified section",
        "operationId": "PageGet",
        "parameters": [
          {
            "name": "section-id",
            "in": "path",
            "x-ms-summary": "Section ID",
            "x-ms-url-encoding": "single",
            "description": "The section unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "description": "The filter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "x-ms-summary": "Expand",
            "description": "The expand parameter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "description": "The order by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "The search.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Select",
            "description": "The select.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "x-ms-summary": "Skip",
            "description": "The skip count.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "description": "The top.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$count",
            "in": "query",
            "x-ms-summary": "Count",
            "description": "The count.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "x-ms-summary": "Skip Token",
            "description": "The skip token.",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The OData Context.",
                  "title": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "self": {
                  "type": "string",
                  "description": "The self URL address.",
                  "title": "Self"
                },
                "createdDateTime": {
                  "type": "string",
                  "description": "When created date-time.",
                  "title": "Created Date-Time"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "createdByAppId": {
                  "type": "string",
                  "description": "The created by app unique identifier.",
                  "title": "Created By App ID"
                },
                "contentUrl": {
                  "type": "string",
                  "description": "The content URL address.",
                  "title": "Content URL"
                },
                "lastModifiedDateTime": {
                  "type": "string",
                  "description": "When last modified date-time.",
                  "title": "Last Modified Date-Time"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "oneNoteClientUrl": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF attribute.",
                          "title": "HREF"
                        }
                      },
                      "title": "One Note Client URL"
                    },
                    "oneNoteWebUrl": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF attribute.",
                          "title": "HREF"
                        }
                      },
                      "title": "One Note Web URL"
                    }
                  },
                  "title": "Links"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "section-id",
            "in": "path",
            "x-ms-summary": "Section ID",
            "x-ms-url-encoding": "single",
            "description": "The section unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "x-ms-summary": "Content Type",
            "description": "The content type.",
            "required": true,
            "type": "string",
            "default": "text/html"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Create page",
        "description": "Create a new page in the specified section",
        "operationId": "PagePost"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/consumers/oauth2/v2.0/authorize",
      "tokenUrl": "https://login.microsoftonline.com/consumers/oauth2/v2.0/token",
      "scopes": {
        "offline_access Notes.Create Notes.Read Notes.ReadWrite Notes.ReadWrite.CreatedByApp": "offline_access Notes.Create Notes.Read Notes.ReadWrite Notes.ReadWrite.CreatedByApp"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "offline_access Notes.Create Notes.Read Notes.ReadWrite Notes.ReadWrite.CreatedByApp"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.microsoft.com/en-us/graph/api/resources/onenote-api-overview?view=graph-rest-1.0"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/en-us/privacystatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files"
    }
  ]
}