{
  "swagger": "2.0",
  "info": {
    "title": "InfoQuery",
    "version": "1.0",
    "description": "InfoQuery allows you to automate your business by leveraging your Resware data in a low-code solution. You can view, create, delete and update files, documents, partners, etc.",
    "contact": {
      "name": "InfoQuery Support",
      "url": "https://infoquery.pro/support/",
      "email": "support@infoquery.pro"
    }
  },
  "host": "apimanagement-infoquery.azure-api.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/AddNewPartnerEmployeeToPartnerCompany": {
      "post": {
        "operationId": "AddNewPartnerEmployeeToPartnerCompany",
        "summary": "Add New Partner Employee To Partner Company",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Employee": {
                  "type": "object",
                  "properties": {
                    "PartnerCompanyID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "PartnerCompanyID"
                    },
                    "Enabled": {
                      "type": "boolean",
                      "description": "Enabled"
                    },
                    "WebsiteAccess": {
                      "type": "boolean",
                      "description": "WebsiteAccess"
                    },
                    "UserID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "UserID"
                    },
                    "Name": {
                      "type": "string",
                      "description": "Name"
                    },
                    "FirstName": {
                      "type": "string",
                      "description": "FirstName"
                    },
                    "LastName": {
                      "type": "string",
                      "description": "LastName"
                    },
                    "ContactInformation": {
                      "type": "object",
                      "properties": {
                        "EmailAddress": {
                          "type": "string",
                          "description": "EmailAddress"
                        }
                      },
                      "description": "ContactInformation"
                    }
                  },
                  "description": "Employee"
                }
              }
            }
          }
        },
        "description": "Adds a new partner employee to a partner company.",
        "consumes": [
          "application/json"
        ],
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "PartnerCompanyID",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "PartnerCompanyID",
            "description": "Partner company identification number.",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Password": {
                  "type": "string",
                  "description": "Password"
                },
                "PasswordExpirationDate": {
                  "type": "string",
                  "description": "PasswordExpirationDate"
                },
                "Enabled": {
                  "type": "boolean",
                  "description": "Enabled"
                },
                "WebsiteAccess": {
                  "type": "boolean",
                  "description": "WebsiteAccess"
                },
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "FirstName": {
                  "type": "string",
                  "description": "FirstName"
                },
                "LastName": {
                  "type": "string",
                  "description": "LastName"
                },
                "ContactInformation": {
                  "type": "object",
                  "properties": {
                    "EmailAddress": {
                      "type": "string",
                      "description": "EmailAddress"
                    }
                  },
                  "description": "ContactInformation"
                }
              }
            }
          }
        ]
      }
    },
    "/CreateNewFile": {
      "post": {
        "operationId": "CreateNewFile",
        "summary": "Create New File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "fileID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "fileID"
                },
                "fileNumber": {
                  "type": "string",
                  "description": "fileNumber"
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "warnings"
                }
              }
            }
          }
        },
        "description": "Creates a new file.",
        "consumes": [
          "application/json"
        ],
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Buyers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "EntityType": {
                        "type": "string",
                        "description": "EntityType"
                      },
                      "IsPrimaryTransactee": {
                        "type": "boolean",
                        "description": "IsPrimaryTransactee"
                      },
                      "Primary": {
                        "type": "object",
                        "properties": {
                          "First": {
                            "type": "string",
                            "description": "First"
                          },
                          "Last": {
                            "type": "string",
                            "description": "Last"
                          }
                        },
                        "description": "Primary"
                      },
                      "UsePropertyAddress": {
                        "type": "boolean",
                        "description": "UsePropertyAddress"
                      },
                      "Address": {
                        "type": "object",
                        "properties": {
                          "Address1": {
                            "type": "string",
                            "description": "Address1"
                          },
                          "City": {
                            "type": "string",
                            "description": "City"
                          },
                          "State": {
                            "type": "string",
                            "description": "State"
                          },
                          "Zip": {
                            "type": "string",
                            "description": "Zip"
                          }
                        },
                        "description": "Address"
                      },
                      "MaritalStatus": {
                        "type": "string",
                        "description": "MaritalStatus"
                      },
                      "Email": {
                        "type": "string",
                        "description": "Email"
                      }
                    }
                  },
                  "description": "Buyers"
                },
                "EstimatedSettlementDate": {
                  "type": "string",
                  "description": "EstimatedSettlementDate"
                },
                "TransactionProductType": {
                  "type": "object",
                  "properties": {
                    "TransactionTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "TransactionTypeID"
                    },
                    "ProductTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ProductTypeID"
                    }
                  },
                  "description": "TransactionProductType"
                },
                "SalesPrice": {
                  "type": "integer",
                  "format": "int32",
                  "description": "SalesPrice"
                },
                "Loans": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "LienPosition": {
                        "type": "integer",
                        "format": "int32",
                        "description": "LienPosition"
                      },
                      "LoanNumber": {
                        "type": "string",
                        "description": "LoanNumber"
                      },
                      "LoanAmount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "LoanAmount"
                      },
                      "LoanType": {
                        "type": "string",
                        "description": "LoanType"
                      }
                    }
                  },
                  "description": "Loans"
                },
                "Properties": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "IsPrimary": {
                        "type": "boolean",
                        "description": "IsPrimary"
                      },
                      "StreetNumber": {
                        "type": "string",
                        "description": "StreetNumber"
                      },
                      "StreetName": {
                        "type": "string",
                        "description": "StreetName"
                      },
                      "City": {
                        "type": "string",
                        "description": "City"
                      },
                      "State": {
                        "type": "string",
                        "description": "State"
                      },
                      "County": {
                        "type": "string",
                        "description": "County"
                      },
                      "Zip": {
                        "type": "string",
                        "description": "Zip"
                      }
                    }
                  },
                  "description": "Properties"
                }
              }
            }
          }
        ]
      }
    },
    "/GetTransactionAndProductTypesForEstimationAndOrderPlacement": {
      "get": {
        "operationId": "GetTransactionAndProductTypesForEstimationAndOrderPlacement",
        "summary": "Get Transaction And Product Types For Estimation And Order Placement",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "TransactionType": {
                    "type": "string",
                    "description": "TransactionType"
                  },
                  "TransactionTypeID": {
                    "type": "integer",
                    "format": "int32",
                    "description": "TransactionTypeID"
                  },
                  "ProductType": {
                    "type": "string",
                    "description": "ProductType"
                  },
                  "ProductTypeID": {
                    "type": "integer",
                    "format": "int32",
                    "description": "ProductTypeID"
                  },
                  "AncillaryProducts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Name": {
                          "type": "string",
                          "description": "Name"
                        },
                        "ID": {
                          "type": "integer",
                          "format": "int32",
                          "description": "ID"
                        },
                        "Options": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ID": {
                                "type": "integer",
                                "format": "int32",
                                "description": "ID"
                              },
                              "Name": {
                                "type": "string",
                                "description": "Name"
                              }
                            }
                          },
                          "description": "Options"
                        }
                      }
                    },
                    "description": "AncillaryProducts"
                  },
                  "AddOnProducts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "TransactionType": {
                          "type": "string",
                          "description": "TransactionType"
                        },
                        "TransactionTypeID": {
                          "type": "integer",
                          "format": "int32",
                          "description": "TransactionTypeID"
                        },
                        "ProductType": {
                          "type": "string",
                          "description": "ProductType"
                        },
                        "ProductTypeID": {
                          "type": "integer",
                          "format": "int32",
                          "description": "ProductTypeID"
                        }
                      }
                    },
                    "description": "AddOnProducts"
                  }
                }
              }
            }
          }
        },
        "description": "Get transaction types and product types for fee estimation and placing orders.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "State",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "State",
            "description": "State of estimated property location.",
            "x-ms-visibility": "important"
          },
          {
            "name": "County",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "County of estimated property location.",
            "x-ms-summary": "County",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/UpdateActionForFile": {
      "put": {
        "operationId": "UpdateActionForFile",
        "summary": "Update Action For File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "FileActionID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "FileActionID"
                }
              }
            }
          }
        },
        "description": "Updates an action for a given file. Can update the Action Group ID and start/complete Coordinator Type ID, Partner Type ID, Due Date, Due Date Locked and Done Date Locked. This API call cannot be used to mark an action as started or completed.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "FileID",
            "description": "File identification number.",
            "x-ms-visibility": "important"
          },
          {
            "name": "FileActionID",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "FileActionID",
            "description": "Identification number of the action.",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "StartTask": {
                  "type": "object",
                  "properties": {
                    "CoordinatorTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "CoordinatorTypeID"
                    },
                    "DueDate": {
                      "type": "string",
                      "description": "DueDate"
                    },
                    "DoneDateLocked": {
                      "type": "boolean",
                      "description": "DoneDateLocked"
                    }
                  },
                  "description": "StartTask"
                },
                "CompleteTask": {
                  "type": "object",
                  "properties": {
                    "CoordinatorTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "CoordinatorTypeID"
                    },
                    "DueDate": {
                      "type": "string",
                      "description": "DueDate"
                    },
                    "DoneDateLocked": {
                      "type": "boolean",
                      "description": "DoneDateLocked"
                    }
                  },
                  "description": "CompleteTask"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/GetsFilesFromGivenSearchCriteria": {
      "post": {
        "operationId": "GetsFilesFromGivenSearchCriteria",
        "summary": "Gets Files From Given Search Criteria",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "description": "Gets a list of files and their information based on the given search criteria.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "FileNumber": {
                  "type": "string",
                  "description": "FileNumber"
                },
                "FileID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "FileID"
                },
                "OfficeID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "OfficeID"
                },
                "ClientsFileNumber": {
                  "type": "string",
                  "description": "ClientsFileNumber"
                },
                "TransactionProductType": {
                  "type": "object",
                  "properties": {
                    "TransactionTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "TransactionTypeID"
                    },
                    "ProductTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ProductTypeID"
                    }
                  },
                  "description": "TransactionProductType"
                },
                "Statuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "StatusID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "StatusID"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      }
                    }
                  },
                  "description": "Statuses"
                },
                "PolicyNumber": {
                  "type": "string",
                  "description": "PolicyNumber"
                },
                "SearchNumber": {
                  "type": "string",
                  "description": "SearchNumber"
                },
                "LoanNumber": {
                  "type": "string",
                  "description": "LoanNumber"
                },
                "Property": {
                  "type": "object",
                  "properties": {
                    "IsPrimary": {
                      "type": "boolean",
                      "description": "IsPrimary"
                    },
                    "StreetNumber": {
                      "type": "string",
                      "description": "StreetNumber"
                    },
                    "StreetName": {
                      "type": "string",
                      "description": "StreetName"
                    },
                    "City": {
                      "type": "string",
                      "description": "City"
                    },
                    "State": {
                      "type": "string",
                      "description": "State"
                    },
                    "Zip": {
                      "type": "string",
                      "description": "Zip"
                    },
                    "Subdivision": {
                      "type": "string",
                      "description": "Subdivision"
                    },
                    "ParcelID": {
                      "type": "string",
                      "description": "ParcelID"
                    }
                  },
                  "description": "Property"
                },
                "Buyer": {
                  "type": "object",
                  "properties": {
                    "EntityType": {
                      "type": "string",
                      "description": "EntityType"
                    },
                    "Primary": {
                      "type": "object",
                      "properties": {
                        "First": {
                          "type": "string",
                          "description": "First"
                        },
                        "Last": {
                          "type": "string",
                          "description": "Last"
                        }
                      },
                      "description": "Primary"
                    },
                    "UsePropertyAddress": {
                      "type": "boolean",
                      "description": "UsePropertyAddress"
                    },
                    "MaritalStatus": {
                      "type": "string",
                      "description": "MaritalStatus"
                    }
                  },
                  "description": "Buyer"
                },
                "FilePartner": {
                  "type": "object",
                  "properties": {
                    "PrimaryEmployee": {
                      "type": "object",
                      "properties": {
                        "UserID": {
                          "type": "integer",
                          "format": "int32",
                          "description": "UserID"
                        }
                      },
                      "description": "PrimaryEmployee"
                    },
                    "PartnerTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "PartnerTypeID"
                    },
                    "PartnerID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "PartnerID"
                    },
                    "PartnerType": {
                      "type": "object",
                      "properties": {
                        "PartnerTypeID": {
                          "type": "integer",
                          "format": "int32",
                          "description": "PartnerTypeID"
                        }
                      },
                      "description": "PartnerType"
                    }
                  },
                  "description": "FilePartner"
                },
                "OpenedFromDate": {
                  "type": "string",
                  "description": "OpenedFromDate"
                },
                "OpenedToDate": {
                  "type": "string",
                  "description": "OpenedToDate"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/DeletePartnerOnSpecificFile": {
      "delete": {
        "operationId": "DeletePartnerOnSpecificFile",
        "summary": "Delete Partner On Specific File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "description": "Removes a partner from the specified file.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "FileID",
            "description": "File identification number.",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Partners": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PartnerTypeID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "PartnerTypeID"
                      },
                      "PartnerID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "PartnerID"
                      },
                      "PartnerType": {
                        "type": "object",
                        "properties": {
                          "PartnerTypeID": {
                            "type": "integer",
                            "format": "int32",
                            "description": "PartnerTypeID"
                          }
                        },
                        "description": "PartnerType"
                      }
                    }
                  },
                  "description": "Partners"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/GetPartnerInformation": {
      "get": {
        "operationId": "GetPartnerInformation",
        "summary": "Get Partner Information",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "partnerCompanyID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "partnerCompanyID"
                },
                "partnerTypes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "partnerTypeID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "partnerTypeID"
                      },
                      "partnerTypeName": {
                        "type": "string",
                        "description": "partnerTypeName"
                      }
                    }
                  },
                  "description": "partnerTypes"
                },
                "officeID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "officeID"
                },
                "partnerName": {
                  "type": "string",
                  "description": "partnerName"
                },
                "companyAbbreviation": {
                  "type": "string",
                  "description": "companyAbbreviation"
                },
                "properCompanyName": {
                  "type": "string",
                  "description": "properCompanyName"
                },
                "mailingAddress": {
                  "type": "object",
                  "properties": {
                    "address1": {
                      "type": "string",
                      "description": "address1"
                    },
                    "address2": {
                      "type": "string",
                      "description": "address2"
                    },
                    "city": {
                      "type": "string",
                      "description": "city"
                    },
                    "state": {
                      "type": "string",
                      "description": "state"
                    },
                    "zip": {
                      "type": "string",
                      "description": "zip"
                    }
                  },
                  "description": "mailingAddress"
                },
                "contactInformation": {
                  "type": "object",
                  "properties": {
                    "phoneNumber": {
                      "type": "string",
                      "description": "phoneNumber"
                    },
                    "homePhoneNumber": {
                      "type": "string",
                      "description": "homePhoneNumber"
                    },
                    "cellPhoneNumber": {
                      "type": "string",
                      "description": "cellPhoneNumber"
                    },
                    "voicemail": {
                      "type": "string",
                      "description": "voicemail"
                    },
                    "faxNumber": {
                      "type": "string",
                      "description": "faxNumber"
                    },
                    "emailAddress": {
                      "type": "string",
                      "description": "emailAddress"
                    },
                    "preferredCommunicationMethod": {
                      "type": "string",
                      "description": "preferredCommunicationMethod"
                    },
                    "website": {
                      "type": "string",
                      "description": "website"
                    }
                  },
                  "description": "contactInformation"
                },
                "companyInformation": {
                  "type": "object",
                  "properties": {
                    "parentCompany": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "id"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        }
                      },
                      "description": "parentCompany"
                    },
                    "partnerEntity": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "id"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        }
                      },
                      "description": "partnerEntity"
                    },
                    "isBillable": {
                      "type": "boolean",
                      "description": "isBillable"
                    },
                    "isInvoiceable": {
                      "type": "boolean",
                      "description": "isInvoiceable"
                    },
                    "taxID": {
                      "type": "string",
                      "description": "taxID"
                    },
                    "accountingCode": {
                      "type": "string",
                      "description": "accountingCode"
                    },
                    "commentsSpecialInstructions": {
                      "type": "string",
                      "description": "commentsSpecialInstructions"
                    },
                    "dontAllowSelectionInSettlement": {
                      "type": "boolean",
                      "description": "dontAllowSelectionInSettlement"
                    },
                    "needs1099": {
                      "type": "boolean",
                      "description": "needs1099"
                    },
                    "mwbe": {
                      "type": "boolean",
                      "description": "mwbe"
                    }
                  },
                  "description": "companyInformation"
                },
                "sendDocumentsAsWebLinks": {
                  "type": "boolean",
                  "description": "sendDocumentsAsWebLinks"
                },
                "wireConfirmationEmailTemplateID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "wireConfirmationEmailTemplateID"
                },
                "courierAddress": {
                  "type": "object",
                  "properties": {
                    "useOnDisbursements": {
                      "type": "boolean",
                      "description": "useOnDisbursements"
                    },
                    "address1": {
                      "type": "string",
                      "description": "address1"
                    },
                    "address2": {
                      "type": "string",
                      "description": "address2"
                    },
                    "city": {
                      "type": "string",
                      "description": "city"
                    },
                    "state": {
                      "type": "string",
                      "description": "state"
                    },
                    "zip": {
                      "type": "string",
                      "description": "zip"
                    }
                  },
                  "description": "courierAddress"
                }
              }
            }
          }
        },
        "description": "Gets information on a partner with the specified ID.",
        "parameters": [
          {
            "name": "PartnerCompanyID",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "PartnerCompanyID",
            "description": "Partner company identification number.",
            "x-ms-visibility": "important"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/CancelsPreviouslyPlacedOrder": {
      "post": {
        "operationId": "CancelsPreviouslyPlacedOrder",
        "summary": "Cancels Previously Placed Order",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "description": "Cancels a previously placed order.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "FileID",
            "description": "File identification number."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "FileID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "FileID"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/CreateNewDocumentOnSpecificFile": {
      "post": {
        "operationId": "CreateNewDocumentOnSpecificFile",
        "summary": "Create New Document On Specific File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Document": {
                  "type": "object",
                  "properties": {
                    "DocumentID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "DocumentID"
                    }
                  },
                  "description": "Document"
                }
              }
            }
          }
        },
        "description": "Creates a new document on the specified file.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "FileID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "DocumentName": {
                  "type": "string",
                  "description": "DocumentName"
                },
                "DocumentType": {
                  "type": "object",
                  "properties": {
                    "DocumentTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "DocumentTypeID"
                    }
                  },
                  "description": "DocumentType"
                },
                "Description": {
                  "type": "string",
                  "description": "Description"
                },
                "InternalOnly": {
                  "type": "string",
                  "description": "InternalOnly"
                },
                "DocumentBody": {
                  "type": "string",
                  "description": "DocumentBody"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/DeletePreviouslyPlacedOrder": {
      "delete": {
        "operationId": "DeletePreviouslyPlacedOrder",
        "summary": "Delete Previously Placed Order",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "description": "Cancels a previously placed order.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "FileID",
            "description": "File identification number.",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "FileID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "FileID"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/AddOrUpdateCustomFieldOnSpecificFile": {
      "post": {
        "operationId": "AddOrUpdateCustomFieldOnSpecificFile",
        "summary": "Add Or Update Custom Field On Specific File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "description": "Adds or updates custom fields on the specified file.",
        "consumes": [
          "application/json"
        ],
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "FileID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "CustomFields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "Value": {
                        "type": "string",
                        "description": "Value"
                      }
                    }
                  },
                  "description": "CustomFields"
                }
              }
            }
          }
        ]
      }
    },
    "/AddPartnerToSpecificFile": {
      "post": {
        "operationId": "AddPartnerToSpecificFile",
        "summary": "Add Partner To Specific File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "description": "Adds a partner to the specified file.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "FileID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Partners": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PrimaryEmployee": {
                        "type": "object",
                        "properties": {
                          "UserID": {
                            "type": "integer",
                            "format": "int32",
                            "description": "UserID"
                          }
                        },
                        "description": "PrimaryEmployee"
                      },
                      "SecondaryEmployees": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "UserID": {
                              "type": "integer",
                              "format": "int32",
                              "description": "UserID"
                            }
                          }
                        },
                        "description": "SecondaryEmployees"
                      },
                      "PartnerTypeID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "PartnerTypeID"
                      },
                      "PartnerID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "PartnerID"
                      },
                      "PartnerType": {
                        "type": "object",
                        "properties": {
                          "PartnerTypeID": {
                            "type": "integer",
                            "format": "int32",
                            "description": "PartnerTypeID"
                          }
                        },
                        "description": "PartnerType"
                      }
                    }
                  },
                  "description": "Partners"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/UpdatePartnerInformationForSpecificFile": {
      "put": {
        "operationId": "UpdatePartnerInformationForSpecificFile",
        "summary": "Update Partner Information For Specific File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "FileID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "FileID"
                },
                "FileNumber": {
                  "type": "string",
                  "description": "FileNumber"
                },
                "PrimaryEmployee": {
                  "type": "object",
                  "properties": {
                    "UserID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "UserID"
                    },
                    "Name": {
                      "type": "string",
                      "description": "Name"
                    },
                    "FirstName": {
                      "type": "string",
                      "description": "FirstName"
                    },
                    "LastName": {
                      "type": "string",
                      "description": "LastName"
                    },
                    "ContactInformation": {
                      "type": "object",
                      "properties": {
                        "PhoneNumber": {
                          "type": "string",
                          "description": "PhoneNumber"
                        },
                        "HomePhoneNumber": {
                          "type": "string",
                          "description": "HomePhoneNumber"
                        },
                        "CellPhoneNumber": {
                          "type": "string",
                          "description": "CellPhoneNumber"
                        },
                        "Voicemail": {
                          "type": "string",
                          "description": "Voicemail"
                        },
                        "FaxNumber": {
                          "type": "string",
                          "description": "FaxNumber"
                        },
                        "EmailAddress": {
                          "type": "string",
                          "description": "EmailAddress"
                        },
                        "PreferredCommunicationMethod": {
                          "type": "string",
                          "description": "PreferredCommunicationMethod"
                        },
                        "Website": {
                          "type": "string",
                          "description": "Website"
                        }
                      },
                      "description": "ContactInformation"
                    }
                  },
                  "description": "PrimaryEmployee"
                },
                "SecondaryEmployees": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "UserID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "UserID"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "FirstName": {
                        "type": "string",
                        "description": "FirstName"
                      },
                      "LastName": {
                        "type": "string",
                        "description": "LastName"
                      },
                      "ContactInformation": {
                        "type": "object",
                        "properties": {
                          "PhoneNumber": {
                            "type": "string",
                            "description": "PhoneNumber"
                          },
                          "HomePhoneNumber": {
                            "type": "string",
                            "description": "HomePhoneNumber"
                          },
                          "CellPhoneNumber": {
                            "type": "string",
                            "description": "CellPhoneNumber"
                          },
                          "Voicemail": {
                            "type": "string",
                            "description": "Voicemail"
                          },
                          "FaxNumber": {
                            "type": "string",
                            "description": "FaxNumber"
                          },
                          "EmailAddress": {
                            "type": "string",
                            "description": "EmailAddress"
                          },
                          "PreferredCommunicationMethod": {
                            "type": "string",
                            "description": "PreferredCommunicationMethod"
                          },
                          "Website": {
                            "type": "string",
                            "description": "Website"
                          }
                        },
                        "description": "ContactInformation"
                      }
                    }
                  },
                  "description": "SecondaryEmployees"
                },
                "ReferenceNumber": {
                  "type": "string",
                  "description": "ReferenceNumber"
                },
                "RemoteFileNumber": {
                  "type": "string",
                  "description": "RemoteFileNumber"
                },
                "PartnerTypeID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PartnerTypeID"
                },
                "PartnerID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PartnerID"
                },
                "PartnerType": {
                  "type": "object",
                  "properties": {
                    "PartnerTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "PartnerTypeID"
                    },
                    "PartnerTypeName": {
                      "type": "string",
                      "description": "PartnerTypeName"
                    }
                  },
                  "description": "PartnerType"
                },
                "OfficeID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "OfficeID"
                },
                "PartnerName": {
                  "type": "string",
                  "description": "PartnerName"
                },
                "MailingAddress": {
                  "type": "object",
                  "properties": {
                    "Address1": {
                      "type": "string",
                      "description": "Address1"
                    },
                    "Address2": {
                      "type": "string",
                      "description": "Address2"
                    },
                    "City": {
                      "type": "string",
                      "description": "City"
                    },
                    "State": {
                      "type": "string",
                      "description": "State"
                    },
                    "Zip": {
                      "type": "string",
                      "description": "Zip"
                    }
                  },
                  "description": "MailingAddress"
                },
                "ContactInformation": {
                  "type": "object",
                  "properties": {
                    "PhoneNumber": {
                      "type": "string",
                      "description": "PhoneNumber"
                    },
                    "HomePhoneNumber": {
                      "type": "string",
                      "description": "HomePhoneNumber"
                    },
                    "CellPhoneNumber": {
                      "type": "string",
                      "description": "CellPhoneNumber"
                    },
                    "Voicemail": {
                      "type": "string",
                      "description": "Voicemail"
                    },
                    "FaxNumber": {
                      "type": "string",
                      "description": "FaxNumber"
                    },
                    "EmailAddress": {
                      "type": "string",
                      "description": "EmailAddress"
                    },
                    "PreferredCommunicationMethod": {
                      "type": "string",
                      "description": "PreferredCommunicationMethod"
                    },
                    "Website": {
                      "type": "string",
                      "description": "Website"
                    }
                  },
                  "description": "ContactInformation"
                }
              }
            }
          }
        },
        "description": "Updates the partner information on the specified file.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "FileID",
            "x-ms-visibility": "important"
          },
          {
            "name": "PartnerID",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "PatnerID",
            "description": "Partner identification number.",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "FileID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "FileID"
                },
                "PrimaryEmployee": {
                  "type": "object",
                  "properties": {
                    "UserID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "UserID"
                    },
                    "Name": {
                      "type": "string",
                      "description": "Name"
                    },
                    "FirstName": {
                      "type": "string",
                      "description": "FirstName"
                    },
                    "LastName": {
                      "type": "string",
                      "description": "LastName"
                    },
                    "ContactInformation": {
                      "type": "object",
                      "properties": {
                        "PhoneNumber": {
                          "type": "string",
                          "description": "PhoneNumber"
                        },
                        "HomePhoneNumber": {
                          "type": "string",
                          "description": "HomePhoneNumber"
                        },
                        "CellPhoneNumber": {
                          "type": "string",
                          "description": "CellPhoneNumber"
                        },
                        "Voicemail": {
                          "type": "string",
                          "description": "Voicemail"
                        },
                        "FaxNumber": {
                          "type": "string",
                          "description": "FaxNumber"
                        },
                        "EmailAddress": {
                          "type": "string",
                          "description": "EmailAddress"
                        },
                        "PreferredCommunicationMethod": {
                          "type": "string",
                          "description": "PreferredCommunicationMethod"
                        },
                        "Website": {
                          "type": "string",
                          "description": "Website"
                        }
                      },
                      "description": "ContactInformation"
                    }
                  },
                  "description": "PrimaryEmployee"
                },
                "SecondaryEmployees": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "UserID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "UserID"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "FirstName": {
                        "type": "string",
                        "description": "FirstName"
                      },
                      "LastName": {
                        "type": "string",
                        "description": "LastName"
                      },
                      "ContactInformation": {
                        "type": "object",
                        "properties": {
                          "PhoneNumber": {
                            "type": "string",
                            "description": "PhoneNumber"
                          },
                          "HomePhoneNumber": {
                            "type": "string",
                            "description": "HomePhoneNumber"
                          },
                          "CellPhoneNumber": {
                            "type": "string",
                            "description": "CellPhoneNumber"
                          },
                          "Voicemail": {
                            "type": "string",
                            "description": "Voicemail"
                          },
                          "FaxNumber": {
                            "type": "string",
                            "description": "FaxNumber"
                          },
                          "EmailAddress": {
                            "type": "string",
                            "description": "EmailAddress"
                          },
                          "PreferredCommunicationMethod": {
                            "type": "string",
                            "description": "PreferredCommunicationMethod"
                          },
                          "Website": {
                            "type": "string",
                            "description": "Website"
                          }
                        },
                        "description": "ContactInformation"
                      }
                    }
                  },
                  "description": "SecondaryEmployees"
                },
                "ReferenceNumber": {
                  "type": "string",
                  "description": "ReferenceNumber"
                },
                "RemoteFileNumber": {
                  "type": "string",
                  "description": "RemoteFileNumber"
                },
                "PartnerTypeID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PartnerTypeID"
                },
                "PartnerID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PartnerID"
                },
                "PartnerType": {
                  "type": "object",
                  "properties": {
                    "PartnerTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "PartnerTypeID"
                    },
                    "PartnerTypeName": {
                      "type": "string",
                      "description": "PartnerTypeName"
                    }
                  },
                  "description": "PartnerType"
                },
                "OfficeID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "OfficeID"
                },
                "PartnerName": {
                  "type": "string",
                  "description": "PartnerName"
                },
                "MailingAddress": {
                  "type": "object",
                  "properties": {
                    "Address1": {
                      "type": "string",
                      "description": "Address1"
                    },
                    "Address2": {
                      "type": "string",
                      "description": "Address2"
                    },
                    "City": {
                      "type": "string",
                      "description": "City"
                    },
                    "State": {
                      "type": "string",
                      "description": "State"
                    },
                    "Zip": {
                      "type": "string",
                      "description": "Zip"
                    }
                  },
                  "description": "MailingAddress"
                },
                "ContactInformation": {
                  "type": "object",
                  "properties": {
                    "PhoneNumber": {
                      "type": "string",
                      "description": "PhoneNumber"
                    },
                    "HomePhoneNumber": {
                      "type": "string",
                      "description": "HomePhoneNumber"
                    },
                    "CellPhoneNumber": {
                      "type": "string",
                      "description": "CellPhoneNumber"
                    },
                    "Voicemail": {
                      "type": "string",
                      "description": "Voicemail"
                    },
                    "FaxNumber": {
                      "type": "string",
                      "description": "FaxNumber"
                    },
                    "EmailAddress": {
                      "type": "string",
                      "description": "EmailAddress"
                    },
                    "PreferredCommunicationMethod": {
                      "type": "string",
                      "description": "PreferredCommunicationMethod"
                    },
                    "Website": {
                      "type": "string",
                      "description": "Website"
                    }
                  },
                  "description": "ContactInformation"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/AddNoteToFile": {
      "post": {
        "operationId": "AddNoteToFile",
        "summary": "Add Note To File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "note": {
                  "type": "object",
                  "properties": {
                    "noteID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "noteID"
                    }
                  },
                  "description": "note"
                }
              }
            }
          }
        },
        "description": "Adds a new note to the specified file.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "FileID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Subject": {
                  "type": "string",
                  "description": "Subject"
                },
                "Body": {
                  "type": "string",
                  "description": "Body"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/GetPartnersForSpecificFile": {
      "get": {
        "operationId": "GetPartnersForSpecificFile",
        "summary": "Get Partners For Specific File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Partners": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PrimaryEmployee": {
                        "type": "object",
                        "properties": {
                          "UserID": {
                            "type": "integer",
                            "format": "int32",
                            "description": "UserID"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "FirstName": {
                            "type": "string",
                            "description": "FirstName"
                          },
                          "LastName": {
                            "type": "string",
                            "description": "LastName"
                          },
                          "ContactInformation": {
                            "type": "object",
                            "properties": {
                              "PhoneNumber": {
                                "type": "string",
                                "description": "PhoneNumber"
                              },
                              "EmailAddress": {
                                "type": "string",
                                "description": "EmailAddress"
                              }
                            },
                            "description": "ContactInformation"
                          }
                        },
                        "description": "PrimaryEmployee"
                      },
                      "PartnerTypeID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "PartnerTypeID"
                      },
                      "PartnerID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "PartnerID"
                      },
                      "PartnerType": {
                        "type": "object",
                        "properties": {
                          "PartnerTypeID": {
                            "type": "integer",
                            "format": "int32",
                            "description": "PartnerTypeID"
                          },
                          "PartnerTypeName": {
                            "type": "string",
                            "description": "PartnerTypeName"
                          }
                        },
                        "description": "PartnerType"
                      },
                      "PartnerName": {
                        "type": "string",
                        "description": "PartnerName"
                      }
                    }
                  },
                  "description": "Partners"
                }
              }
            }
          }
        },
        "description": "Gets a list of partners and their information on the specified file.",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "FileID",
            "x-ms-visibility": "important"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/UploadWebUrlDocumentToSpecificFile": {
      "post": {
        "operationId": "UploadWebURLDocumentToSpecificFile",
        "summary": "Upload Web URL Document To Specific File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Document": {
                  "type": "object",
                  "properties": {
                    "DocumentID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "DocumentID"
                    }
                  },
                  "description": "Document"
                }
              }
            }
          }
        },
        "description": "Loads the Web URL document on the specified file.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "FileID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "DocumentName": {
                  "type": "string",
                  "description": "DocumentName"
                },
                "DocumentType": {
                  "type": "object",
                  "properties": {
                    "DocumentTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "DocumentTypeID"
                    }
                  },
                  "description": "DocumentType"
                },
                "Description": {
                  "type": "string",
                  "description": "Description"
                },
                "InternalOnly": {
                  "type": "boolean",
                  "description": "InternalOnly"
                },
                "WebURL": {
                  "type": "string",
                  "description": "WebURL"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/AddOrUpdateCustomFieldOnSpecificDocument": {
      "post": {
        "operationId": "AddOrUpdateCustomFieldOnSpecificDocument",
        "summary": "Add Or Update Custom Field On Specific Document",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "description": "Adds or updates custom fields on the specified document on the specified file.",
        "consumes": [
          "application/json"
        ],
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "FileID",
            "x-ms-visibility": "important"
          },
          {
            "name": "DocumentID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Document identification number.",
            "x-ms-summary": "DocumentID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "CustomFields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "Value": {
                        "type": "string",
                        "description": "Value"
                      }
                    }
                  },
                  "description": "CustomFields"
                }
              }
            }
          }
        ]
      }
    },
    "/UpdatePartnerEmployee": {
      "put": {
        "operationId": "UpdatePartnerEmployee",
        "summary": "Update Partner Employee",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Employee": {
                  "type": "object",
                  "properties": {
                    "PartnerCompanyID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "PartnerCompanyID"
                    },
                    "Roles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "RoleID": {
                            "type": "integer",
                            "format": "int32",
                            "description": "RoleID"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          }
                        }
                      },
                      "description": "Roles"
                    },
                    "Enabled": {
                      "type": "boolean",
                      "description": "Enabled"
                    },
                    "WebsiteAccess": {
                      "type": "boolean",
                      "description": "WebsiteAccess"
                    },
                    "UserID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "UserID"
                    },
                    "Name": {
                      "type": "string",
                      "description": "Name"
                    },
                    "FirstName": {
                      "type": "string",
                      "description": "FirstName"
                    },
                    "LastName": {
                      "type": "string",
                      "description": "LastName"
                    },
                    "ContactInformation": {
                      "type": "object",
                      "properties": {
                        "EmailAddress": {
                          "type": "string",
                          "description": "EmailAddress"
                        }
                      },
                      "description": "ContactInformation"
                    }
                  },
                  "description": "Employee"
                }
              }
            }
          }
        },
        "description": "Updates the information of a partner employee.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "UserID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "User identification number.",
            "x-ms-summary": "UserID",
            "x-ms-visibility": "important"
          },
          {
            "name": "PartnerCompanyID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Partner company identification number.",
            "x-ms-summary": "PartnerCompanyID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Password": {
                  "type": "string",
                  "description": "Password"
                },
                "PasswordExpirationDate": {
                  "type": "string",
                  "description": "PasswordExpirationDate"
                },
                "Roles": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "RoleID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "RoleID"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      }
                    }
                  },
                  "description": "Roles"
                },
                "Enabled": {
                  "type": "boolean",
                  "description": "Enabled"
                },
                "WebsiteAccess": {
                  "type": "boolean",
                  "description": "WebsiteAccess"
                },
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "FirstName": {
                  "type": "string",
                  "description": "FirstName"
                },
                "LastName": {
                  "type": "string",
                  "description": "LastName"
                },
                "ContactInformation": {
                  "type": "object",
                  "properties": {
                    "EmailAddress": {
                      "type": "string",
                      "description": "EmailAddress"
                    }
                  },
                  "description": "ContactInformation"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/GetPartiesForSpecificFile": {
      "get": {
        "operationId": "GetPartiesForSpecificFile",
        "summary": "Get Parties For Specific File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Buyers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "LegalEntityID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "LegalEntityID"
                      },
                      "EntityType": {
                        "type": "string",
                        "description": "EntityType"
                      },
                      "Primary": {
                        "type": "object",
                        "properties": {
                          "Prefix": {
                            "type": "string",
                            "description": "Prefix"
                          },
                          "First": {
                            "type": "string",
                            "description": "First"
                          },
                          "Middle": {
                            "type": "string",
                            "description": "Middle"
                          },
                          "Last": {
                            "type": "string",
                            "description": "Last"
                          },
                          "Suffix": {
                            "type": "string",
                            "description": "Suffix"
                          }
                        },
                        "description": "Primary"
                      },
                      "Secondary": {
                        "type": "object",
                        "properties": {
                          "Prefix": {
                            "type": "string",
                            "description": "Prefix"
                          },
                          "First": {
                            "type": "string",
                            "description": "First"
                          },
                          "Middle": {
                            "type": "string",
                            "description": "Middle"
                          },
                          "Last": {
                            "type": "string",
                            "description": "Last"
                          }
                        },
                        "description": "Secondary"
                      },
                      "UsePropertyAddress": {
                        "type": "boolean",
                        "description": "UsePropertyAddress"
                      },
                      "Address": {
                        "type": "object",
                        "properties": {
                          "Address1": {
                            "type": "string",
                            "description": "Address1"
                          },
                          "City": {
                            "type": "string",
                            "description": "City"
                          },
                          "State": {
                            "type": "string",
                            "description": "State"
                          },
                          "Zip": {
                            "type": "string",
                            "description": "Zip"
                          }
                        },
                        "description": "Address"
                      },
                      "MaritalStatus": {
                        "type": "string",
                        "description": "MaritalStatus"
                      },
                      "Email": {
                        "type": "string",
                        "description": "Email"
                      },
                      "HomePhone": {
                        "type": "string",
                        "description": "HomePhone"
                      },
                      "EmailSecondary": {
                        "type": "string",
                        "description": "EmailSecondary"
                      }
                    }
                  },
                  "description": "Buyers"
                },
                "Sellers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "LegalEntityID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "LegalEntityID"
                      },
                      "EntityType": {
                        "type": "string",
                        "description": "EntityType"
                      },
                      "Primary": {
                        "type": "object",
                        "properties": {
                          "BusinessName": {
                            "type": "string",
                            "description": "BusinessName"
                          }
                        },
                        "description": "Primary"
                      },
                      "UsePropertyAddress": {
                        "type": "boolean",
                        "description": "UsePropertyAddress"
                      },
                      "Address": {
                        "type": "object",
                        "properties": {
                          "Address1": {
                            "type": "string",
                            "description": "Address1"
                          },
                          "City": {
                            "type": "string",
                            "description": "City"
                          },
                          "State": {
                            "type": "string",
                            "description": "State"
                          },
                          "Zip": {
                            "type": "string",
                            "description": "Zip"
                          }
                        },
                        "description": "Address"
                      },
                      "MaritalStatus": {
                        "type": "string",
                        "description": "MaritalStatus"
                      },
                      "Email": {
                        "type": "string",
                        "description": "Email"
                      }
                    }
                  },
                  "description": "Sellers"
                },
                "Customers": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Customers"
                }
              }
            }
          }
        },
        "description": "Gets a list of the parties and their information on the specified file.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "FileID",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/GetNotesForSpecificFile": {
      "get": {
        "operationId": "GetNotesForSpecificFile",
        "summary": "Get Notes For Specific File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Notes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "NoteID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "NoteID"
                      },
                      "Subject": {
                        "type": "string",
                        "description": "Subject"
                      },
                      "Body": {
                        "type": "string",
                        "description": "Body"
                      },
                      "CreatedBy": {
                        "type": "object",
                        "properties": {
                          "UserID": {
                            "type": "integer",
                            "format": "int32",
                            "description": "UserID"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "FirstName": {
                            "type": "string",
                            "description": "FirstName"
                          },
                          "LastName": {
                            "type": "string",
                            "description": "LastName"
                          },
                          "ContactInformation": {
                            "type": "object",
                            "properties": {
                              "PhoneNumber": {
                                "type": "string",
                                "description": "PhoneNumber"
                              },
                              "EmailAddress": {
                                "type": "string",
                                "description": "EmailAddress"
                              }
                            },
                            "description": "ContactInformation"
                          }
                        },
                        "description": "CreatedBy"
                      },
                      "CreatedDate": {
                        "type": "string",
                        "description": "CreatedDate"
                      },
                      "FileID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "FileID"
                      },
                      "Expedite": {
                        "type": "boolean",
                        "description": "Expedite"
                      }
                    }
                  },
                  "description": "Notes"
                }
              }
            }
          }
        },
        "description": "Gets a list of the notes on the specified file.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "FileID",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/GetNote": {
      "get": {
        "operationId": "GetNote",
        "summary": "Get Note",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "NoteID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "NoteID"
                },
                "Subject": {
                  "type": "string",
                  "description": "Subject"
                },
                "Body": {
                  "type": "string",
                  "description": "Body"
                },
                "CreatedBy": {
                  "type": "object",
                  "properties": {
                    "UserID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "UserID"
                    }
                  },
                  "description": "CreatedBy"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "CreatedDate"
                },
                "FileID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "FileID"
                }
              }
            }
          }
        },
        "description": "Gets the note with the specified ID.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "NoteID",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "NoteID",
            "description": "Note identification number.",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/AddActionToFile": {
      "post": {
        "operationId": "AddActionToFile",
        "summary": "Add Action To File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "FileActionID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "FileActionID"
                }
              }
            }
          }
        },
        "description": "Adds an action to the specified file.",
        "consumes": [
          "application/json"
        ],
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "FileID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "ActionType": {
                  "type": "object",
                  "properties": {
                    "ActionTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ActionTypeID"
                    }
                  },
                  "description": "ActionType"
                },
                "Group": {
                  "type": "object",
                  "properties": {
                    "ActionGroupID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ActionGroupID"
                    }
                  },
                  "description": "Group"
                },
                "StartTask": {
                  "type": "object",
                  "properties": {
                    "CoordinatorTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "CoordinatorTypeID"
                    },
                    "DueDate": {
                      "type": "string",
                      "description": "DueDate"
                    }
                  },
                  "description": "StartTask"
                },
                "CompleteTask": {
                  "type": "object",
                  "properties": {
                    "Partner": {
                      "type": "object",
                      "properties": {
                        "PartnerType": {
                          "type": "object",
                          "properties": {
                            "PartnerTypeID": {
                              "type": "integer",
                              "format": "int32",
                              "description": "PartnerTypeID"
                            }
                          },
                          "description": "PartnerType"
                        }
                      },
                      "description": "Partner"
                    },
                    "DueDate": {
                      "type": "string",
                      "description": "DueDate"
                    }
                  },
                  "description": "CompleteTask"
                }
              }
            }
          }
        ]
      }
    },
    "/GetCustomFieldsOnSpecificDocument": {
      "get": {
        "operationId": "GetCustomFieldsOnSpecificDocument",
        "summary": "Get Custom Fields On Specific Document",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "CustomFields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Name": {
[...]
