{
  "swagger": "2.0",
  "info": {
    "title": "InfoQuery",
    "version": "1.0",
    "description": "InfoQuery allows you to automate your business by leveraging your Resware data in a low-code solution. You can view, create, delete and update files, documents, partners, etc.",
    "contact": {
      "name": "InfoQuery Support",
      "url": "https://infoquery.pro/support/",
      "email": "support@infoquery.pro"
    }
  },
  "host": "apimanagement-infoquery.azure-api.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/AddNewPartnerEmployeeToPartnerCompany": {
      "post": {
        "operationId": "AddNewPartnerEmployeeToPartnerCompany",
        "summary": "Add New Partner Employee To Partner Company",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Employee": {
                  "type": "object",
                  "properties": {
                    "PartnerCompanyID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The partner company identification number."
                    },
                    "Enabled": {
                      "type": "boolean",
                      "description": "Whether or not the new employee has been enabled for use."
                    },
                    "WebsiteAccess": {
                      "type": "boolean",
                      "description": "Whether or not the employee has website access."
                    },
                    "UserID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The identification number of the new employee."
                    },
                    "Name": {
                      "type": "string",
                      "description": "The full name of the employee."
                    },
                    "FirstName": {
                      "type": "string",
                      "description": "The first name of the employee."
                    },
                    "LastName": {
                      "type": "string",
                      "description": "The last name of the employee."
                    },
                    "ContactInformation": {
                      "type": "object",
                      "properties": {
                        "EmailAddress": {
                          "type": "string",
                          "description": "The email address of the employee."
                        }
                      },
                      "description": "Ways to contact the employee."
                    }
                  },
                  "description": "Information regarding the new employee."
                }
              }
            }
          }
        },
        "description": "Adds a new partner employee to a partner company.",
        "consumes": [
          "application/json"
        ],
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "PartnerCompanyID",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Partner Company ID",
            "description": "Partner company identification number.",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Password": {
                  "type": "string",
                  "description": "Password for the new employee."
                },
                "PasswordExpirationDate": {
                  "type": "string",
                  "description": "The date the password will expire."
                },
                "Enabled": {
                  "type": "boolean",
                  "description": "Whether or not the new employee will be enabled for use."
                },
                "WebsiteAccess": {
                  "type": "boolean",
                  "description": "Whether or not the new employee has website access."
                },
                "Name": {
                  "type": "string",
                  "description": "The full name of the new employee."
                },
                "FirstName": {
                  "type": "string",
                  "description": "The first name of the new employee."
                },
                "LastName": {
                  "type": "string",
                  "description": "The last name of the new employee."
                },
                "ContactInformation": {
                  "type": "object",
                  "properties": {
                    "EmailAddress": {
                      "type": "string",
                      "description": "The email address of the new employee."
                    }
                  },
                  "description": "Ways to contact the new employee."
                }
              }
            }
          }
        ]
      }
    },
    "/CreateNewFile": {
      "post": {
        "operationId": "CreateNewFile",
        "summary": "Create New File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "FileID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identification number of the new file."
                },
                "FileNumber": {
                  "type": "string",
                  "description": "The file number of the new file."
                },
                "Warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Warnings concerning the new file."
                }
              }
            }
          }
        },
        "description": "Creates a new file.",
        "consumes": [
          "application/json"
        ],
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Buyers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "EntityType": {
                        "type": "string",
                        "description": "The entity type."
                      },
                      "IsPrimaryTransactee": {
                        "type": "boolean",
                        "description": "Whether or not the buyer is the primary transactee."
                      },
                      "Primary": {
                        "type": "object",
                        "properties": {
                          "First": {
                            "type": "string",
                            "description": "The first name of the party."
                          },
                          "Last": {
                            "type": "string",
                            "description": "The last name of the party."
                          }
                        },
                        "description": "The name of the party."
                      },
                      "UsePropertyAddress": {
                        "type": "boolean",
                        "description": "Whether or not the mailing address should be used as the property address of the new file."
                      },
                      "Address": {
                        "type": "object",
                        "properties": {
                          "Address1": {
                            "type": "string",
                            "description": "The street number and name. "
                          },
                          "City": {
                            "type": "string",
                            "description": "The city name."
                          },
                          "State": {
                            "type": "string",
                            "description": "The two letter state abbreviation."
                          },
                          "Zip": {
                            "type": "string",
                            "description": "The ZIP code."
                          }
                        },
                        "description": "The mailing address of the party."
                      },
                      "MaritalStatus": {
                        "type": "string",
                        "description": "The marital status of the party."
                      },
                      "Email": {
                        "type": "string",
                        "description": "The email address of the party."
                      }
                    }
                  },
                  "description": "The buyers of the property."
                },
                "EstimatedSettlementDate": {
                  "type": "string",
                  "description": "The estimated settlement date of the order."
                },
                "TransactionProductType": {
                  "type": "object",
                  "properties": {
                    "TransactionTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The transaction type identification number."
                    },
                    "ProductTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The product type identification number."
                    }
                  },
                  "description": "The transaction and product type identification numbers."
                },
                "SalesPrice": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The sales price of the property."
                },
                "Loans": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "LienPosition": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The lien position."
                      },
                      "LoanNumber": {
                        "type": "string",
                        "description": "The loan number."
                      },
                      "LoanAmount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The amount of the loan."
                      },
                      "LoanType": {
                        "type": "string",
                        "description": "The type of loan."
                      }
                    }
                  },
                  "description": "Information regarding the loan."
                },
                "Properties": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "IsPrimary": {
                        "type": "boolean",
                        "description": "Whether or not this is the primary property address."
                      },
                      "StreetNumber": {
                        "type": "string",
                        "description": "The street number."
                      },
                      "StreetName": {
                        "type": "string",
                        "description": "The street name."
                      },
                      "City": {
                        "type": "string",
                        "description": "The city name."
                      },
                      "State": {
                        "type": "string",
                        "description": "The two letter state abbreviation."
                      },
                      "County": {
                        "type": "string",
                        "description": "The county the property is located in."
                      },
                      "Zip": {
                        "type": "string",
                        "description": "The ZIP code."
                      }
                    }
                  },
                  "description": "Information regarding the property."
                }
              }
            }
          }
        ]
      }
    },
    "/GetTransactionAndProductTypesForEstimationAndOrderPlacement": {
      "get": {
        "operationId": "GetTransactionAndProductTypesForEstimationAndOrderPlacement",
        "summary": "Get Transaction And Product Types For Estimation And Order Placement",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "TransactionType": {
                    "type": "string",
                    "description": "The transaction type."
                  },
                  "TransactionTypeID": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The transaction type identification number."
                  },
                  "ProductType": {
                    "type": "string",
                    "description": "The product type."
                  },
                  "ProductTypeID": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The product type identification number."
                  },
                  "AncillaryProducts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Name": {
                          "type": "string",
                          "description": "The name of the ancillary product."
                        },
                        "ID": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The identification number of the product."
                        },
                        "Options": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ID": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The identification number of the option."
                              },
                              "Name": {
                                "type": "string",
                                "description": "The name of the option."
                              }
                            }
                          },
                          "description": "The options."
                        }
                      }
                    },
                    "description": "The ancillary products."
                  },
                  "AddOnProducts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "TransactionType": {
                          "type": "string",
                          "description": "The transaction type."
                        },
                        "TransactionTypeID": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The transaction type identification number."
                        },
                        "ProductType": {
                          "type": "string",
                          "description": "The product type."
                        },
                        "ProductTypeID": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The product type identification number."
                        }
                      }
                    },
                    "description": "The added on products."
                  }
                }
              }
            }
          }
        },
        "description": "Get transaction types and product types for fee estimation and placing orders.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "State",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "State",
            "description": "State of estimated property location.",
            "x-ms-visibility": "important"
          },
          {
            "name": "County",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "County of estimated property location.",
            "x-ms-summary": "County",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/UpdateActionForFile": {
      "put": {
        "operationId": "UpdateActionForFile",
        "summary": "Update Action For File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "FileActionID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identification number of the action."
                }
              }
            }
          }
        },
        "description": "Updates an action for a given file. Can update the Action Group ID and start/complete Coordinator Type ID, Partner Type ID, Due Date, Due Date Locked and Done Date Locked. This API call cannot be used to mark an action as started or completed.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "File ID",
            "description": "File identification number.",
            "x-ms-visibility": "important"
          },
          {
            "name": "FileActionID",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "File Action ID",
            "description": "Identification number of the action.",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "StartTask": {
                  "type": "object",
                  "properties": {
                    "CoordinatorTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The coordinator type identification number."
                    },
                    "DueDate": {
                      "type": "string",
                      "description": "The due date of the action."
                    },
                    "DoneDateLocked": {
                      "type": "boolean",
                      "description": "Whether or not the done date is locked."
                    }
                  },
                  "description": "Information regarding the start of the task."
                },
                "CompleteTask": {
                  "type": "object",
                  "properties": {
                    "CoordinatorTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The coordinator type identification number."
                    },
                    "DueDate": {
                      "type": "string",
                      "description": "The due date of the action."
                    },
                    "DoneDateLocked": {
                      "type": "boolean",
                      "description": "Whether or not the done date is locked."
                    }
                  },
                  "description": "Information regarding the completion of the task."
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/GetsFilesFromGivenSearchCriteria": {
      "post": {
        "operationId": "GetsFilesFromGivenSearchCriteria",
        "summary": "Gets Files From Given Search Criteria",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "description": "Gets a list of files and their information based on the given search criteria.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "FileNumber": {
                  "type": "string",
                  "description": "The file number."
                },
                "FileID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The file identification number."
                },
                "OfficeID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The office identification number."
                },
                "ClientsFileNumber": {
                  "type": "string",
                  "description": "The clients file number."
                },
                "TransactionProductType": {
                  "type": "object",
                  "properties": {
                    "TransactionTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The transaction type identification number."
                    },
                    "ProductTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The product type identification number."
                    }
                  },
                  "description": "The transaction and product type identification numbers."
                },
                "Statuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "StatusID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The status identification number."
                      },
                      "Name": {
                        "type": "string",
                        "description": "The name of the status."
                      }
                    }
                  },
                  "description": "Status of the file."
                },
                "PolicyNumber": {
                  "type": "string",
                  "description": "The policy number."
                },
                "SearchNumber": {
                  "type": "string",
                  "description": "The search number."
                },
                "LoanNumber": {
                  "type": "string",
                  "description": "The loan number."
                },
                "Property": {
                  "type": "object",
                  "properties": {
                    "IsPrimary": {
                      "type": "boolean",
                      "description": "Whether or not this is the primary property address."
                    },
                    "StreetNumber": {
                      "type": "string",
                      "description": "The street number."
                    },
                    "StreetName": {
                      "type": "string",
                      "description": "The street name."
                    },
                    "City": {
                      "type": "string",
                      "description": "The city name."
                    },
                    "State": {
                      "type": "string",
                      "description": "The two letter state abbreviation."
                    },
                    "Zip": {
                      "type": "string",
                      "description": "The ZIP code."
                    },
                    "Subdivision": {
                      "type": "string",
                      "description": "The subdivision the property is located in."
                    },
                    "ParcelID": {
                      "type": "string",
                      "description": "The parcel identification number."
                    }
                  },
                  "description": "Information regarding the property location."
                },
                "Buyer": {
                  "type": "object",
                  "properties": {
                    "EntityType": {
                      "type": "string",
                      "description": "The entity type."
                    },
                    "Primary": {
                      "type": "object",
                      "properties": {
                        "First": {
                          "type": "string",
                          "description": "The first name of the party."
                        },
                        "Last": {
                          "type": "string",
                          "description": "The last name of the party."
                        }
                      },
                      "description": "The name of the party."
                    },
                    "UsePropertyAddress": {
                      "type": "boolean",
                      "description": "Whether or not this is the primary property address."
                    },
                    "MaritalStatus": {
                      "type": "string",
                      "description": "The marital status of the party."
                    }
                  },
                  "description": "Information regarding the buyer."
                },
                "FilePartner": {
                  "type": "object",
                  "properties": {
                    "PrimaryEmployee": {
                      "type": "object",
                      "properties": {
                        "UserID": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The user identification number."
                        }
                      },
                      "description": "Information regarding the employee."
                    },
                    "PartnerTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The partner type identification number."
                    },
                    "PartnerID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The partner identification number."
                    },
                    "PartnerType": {
                      "type": "object",
                      "properties": {
                        "PartnerTypeID": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The partner type identification number."
                        }
                      },
                      "description": "The partner type identification number."
                    }
                  },
                  "description": "Information regarding the file partner."
                },
                "OpenedFromDate": {
                  "type": "string",
                  "description": "The date the file was opened."
                },
                "OpenedToDate": {
                  "type": "string",
                  "description": "The date the file was closed."
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/DeletePartnerOnSpecificFile": {
      "delete": {
        "operationId": "DeletePartnerOnSpecificFile",
        "summary": "Delete Partner On Specific File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "description": "Removes a partner from the specified file.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "File ID",
            "description": "File identification number.",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Partners": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PartnerTypeID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The partner type identification number."
                      },
                      "PartnerID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The partner identification number."
                      },
                      "PartnerType": {
                        "type": "object",
                        "properties": {
                          "PartnerTypeID": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The partner type identification number."
                          }
                        },
                        "description": "The partner type identification number."
                      }
                    }
                  },
                  "description": "Information regarding the partner to be removed."
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/GetPartnerInformation": {
      "get": {
        "operationId": "GetPartnerInformation",
        "summary": "Get Partner Information",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "PartnerCompanyID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The partner company identification number."
                },
                "PartnerTypes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PartnerTypeID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The partner type identification number."
                      },
                      "PartnerTypeName": {
                        "type": "string",
                        "description": "The partner type name."
                      }
                    }
                  },
                  "description": "Information regarding the partner type."
                },
                "OfficeID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The office identification number."
                },
                "PartnerName": {
                  "type": "string",
                  "description": "The partner name."
                },
                "CompanyAbbreviation": {
                  "type": "string",
                  "description": "The company abbreviation."
                },
                "ProperCompanyName": {
                  "type": "string",
                  "description": "The full company name."
                },
                "MailingAddress": {
                  "type": "object",
                  "properties": {
                    "Address1": {
                      "type": "string",
                      "description": "The street number and name. "
                    },
                    "Address2": {
                      "type": "string",
                      "description": "Further address information."
                    },
                    "City": {
                      "type": "string",
                      "description": "The city name."
                    },
                    "State": {
                      "type": "string",
                      "description": "The two letter state abbreviation."
                    },
                    "Zip": {
                      "type": "string",
                      "description": "The ZIP code."
                    }
                  },
                  "description": "The partner mailing address."
                },
                "ContactInformation": {
                  "type": "object",
                  "properties": {
                    "PhoneNumber": {
                      "type": "string",
                      "description": "The partner phone number."
                    },
                    "HomePhoneNumber": {
                      "type": "string",
                      "description": "The partner home phone number."
                    },
                    "CellPhoneNumber": {
                      "type": "string",
                      "description": "The partner cell phone number."
                    },
                    "Voicemail": {
                      "type": "string",
                      "description": "The partner voicemail number."
                    },
                    "FaxNumber": {
                      "type": "string",
                      "description": "The partner fax number."
                    },
                    "EmailAddress": {
                      "type": "string",
                      "description": "The partner email address."
                    },
                    "PreferredCommunicationMethod": {
                      "type": "string",
                      "description": "The partners preferred way of communication."
                    },
                    "Website": {
                      "type": "string",
                      "description": "The partner website URL."
                    }
                  },
                  "description": "Ways to contact the partner."
                },
                "CompanyInformation": {
                  "type": "object",
                  "properties": {
                    "ParentCompany": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The identification number."
                        },
                        "Name": {
                          "type": "string",
                          "description": "The parent company name."
                        }
                      },
                      "description": "Information regarding the parent company."
                    },
                    "PartnerEntity": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The identification number."
                        },
                        "name": {
                          "type": "string",
                          "description": "The partner entity name."
                        }
                      },
                      "description": "Information regarding the partner entity."
                    },
                    "IsBillable": {
                      "type": "boolean",
                      "description": "Whether or not the partner is billable."
                    },
                    "IsInvoiceable": {
                      "type": "boolean",
                      "description": "Whether or not the property is invoiceable."
                    },
                    "TaxID": {
                      "type": "string",
                      "description": "The partner tax identification number."
                    },
                    "AccountingCode": {
                      "type": "string",
                      "description": "The accounting code."
                    },
                    "CommentsSpecialInstructions": {
                      "type": "string",
                      "description": "Comments on the partner."
                    },
                    "DontAllowSelectionInSettlement": {
                      "type": "boolean",
                      "description": "Whether or not to allow selection in settlement."
                    },
                    "Needs1099": {
                      "type": "boolean",
                      "description": "Whether or not a 1099 is required."
                    },
                    "MWBE": {
                      "type": "boolean",
                      "description": "Whether or not the partner is a MWBE?"
                    }
                  },
                  "description": "Information regarding the company."
                },
                "SendDocumentsAsWebLinks": {
                  "type": "boolean",
                  "description": "Whether or not to send the documents as web links."
                },
                "WireConfirmationEmailTemplateID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The wire confirmation template identification number."
                },
                "CourierAddress": {
                  "type": "object",
                  "properties": {
                    "UseOnDisbursements": {
                      "type": "boolean",
                      "description": "Whether or not this is to be used on disbursements."
                    },
                    "Address1": {
                      "type": "string",
                      "description": "The street number and name. "
                    },
                    "Address2": {
                      "type": "string",
                      "description": "Further address information."
                    },
                    "City": {
                      "type": "string",
                      "description": "The city name."
                    },
                    "State": {
                      "type": "string",
                      "description": "The two letter state abbreviation."
                    },
                    "Zip": {
                      "type": "string",
                      "description": "The ZIP code."
                    }
                  },
                  "description": "The courier address."
                }
              }
            }
          }
        },
        "description": "Gets information on a partner with the specified ID.",
        "parameters": [
          {
            "name": "PartnerCompanyID",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Partner Company ID",
            "description": "Partner company identification number.",
            "x-ms-visibility": "important"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/CancelsPreviouslyPlacedOrder": {
      "post": {
        "operationId": "CancelsPreviouslyPlacedOrder",
        "summary": "Cancels Previously Placed Order",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "description": "Cancels a previously placed order.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "File ID",
            "description": "File identification number."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "FileID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The file identification number."
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/CreateNewDocumentOnSpecificFile": {
      "post": {
        "operationId": "CreateNewDocumentOnSpecificFile",
        "summary": "Create New Document On Specific File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Document": {
                  "type": "object",
                  "properties": {
                    "DocumentID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The document identification number."
                    }
                  },
                  "description": "Information regarding the document."
                }
              }
            }
          }
        },
        "description": "Creates a new document on the specified file.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "File ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "DocumentName": {
                  "type": "string",
                  "description": "The document name."
                },
                "DocumentType": {
                  "type": "object",
                  "properties": {
                    "DocumentTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The document type identification number."
                    }
                  },
                  "description": "The document type."
                },
                "Description": {
                  "type": "string",
                  "description": "The description of the document."
                },
                "InternalOnly": {
                  "type": "string",
                  "description": "Whether or not the document is internal only."
                },
                "DocumentBody": {
                  "type": "string",
                  "description": "The document body."
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/DeletePreviouslyPlacedOrder": {
      "delete": {
        "operationId": "DeletePreviouslyPlacedOrder",
        "summary": "Delete Previously Placed Order",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "description": "Cancels a previously placed order.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "File ID",
            "description": "File identification number.",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "FileID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The file identification number."
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/AddOrUpdateCustomFieldOnSpecificFile": {
      "post": {
        "operationId": "AddOrUpdateCustomFieldOnSpecificFile",
        "summary": "Add Or Update Custom Field On Specific File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "description": "Adds or updates custom fields on the specified file.",
        "consumes": [
          "application/json"
        ],
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "File ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "CustomFields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string",
                        "description": "The name of the custom field."
                      },
                      "Value": {
                        "type": "string",
                        "description": "The value of the custom field."
                      }
                    }
                  },
                  "description": "Information on the custom field."
                }
              }
            }
          }
        ]
      }
    },
    "/AddPartnerToSpecificFile": {
      "post": {
        "operationId": "AddPartnerToSpecificFile",
        "summary": "Add Partner To Specific File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "description": "Adds a partner to the specified file.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "File ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Partners": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PrimaryEmployee": {
                        "type": "object",
                        "properties": {
                          "UserID": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The user identification number."
                          }
                        },
                        "description": "The primary employee."
                      },
                      "SecondaryEmployees": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "UserID": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The user identification number."
                            }
                          }
                        },
                        "description": "Any secondary employees."
                      },
                      "PartnerTypeID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The partner type identification number."
                      },
                      "PartnerID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The partner identification number."
                      },
                      "PartnerType": {
                        "type": "object",
                        "properties": {
                          "PartnerTypeID": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The partner type identification number."
                          }
                        },
                        "description": "The partner type."
                      }
                    }
                  },
                  "description": "Information on the partner."
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/UpdatePartnerInformationForSpecificFile": {
      "put": {
        "operationId": "UpdatePartnerInformationForSpecificFile",
        "summary": "Update Partner Information For Specific File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "FileID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The file identification number."
                },
                "FileNumber": {
                  "type": "string",
                  "description": "The file number"
                },
                "PrimaryEmployee": {
                  "type": "object",
                  "properties": {
                    "UserID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The user identification number."
                    },
                    "Name": {
                      "type": "string",
                      "description": "The full name of the employee."
                    },
                    "FirstName": {
                      "type": "string",
                      "description": "The first name of the employee."
                    },
                    "LastName": {
                      "type": "string",
                      "description": "The last name of the employee."
                    },
                    "ContactInformation": {
                      "type": "object",
                      "properties": {
                        "PhoneNumber": {
                          "type": "string",
                          "description": "The phone number of the employee."
                        },
                        "HomePhoneNumber": {
                          "type": "string",
                          "description": "The home phone number of the employee."
                        },
                        "CellPhoneNumber": {
                          "type": "string",
                          "description": "The cell phone number of the employee."
                        },
                        "Voicemail": {
                          "type": "string",
                          "description": "The voicemail of the employee."
                        },
                        "FaxNumber": {
                          "type": "string",
                          "description": "The fax number of the employee."
                        },
                        "EmailAddress": {
                          "type": "string",
                          "description": "The email address of the employee."
                        },
                        "PreferredCommunicationMethod": {
                          "type": "string",
                          "description": "The employees preferred communication method."
                        },
                        "Website": {
                          "type": "string",
                          "description": "The web link of the employee."
                        }
                      },
                      "description": "Contact information regarding the primary employee."
                    }
                  },
                  "description": "Information regarding the primary employee."
                },
                "SecondaryEmployees": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "UserID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The user identification number."
                      },
                      "Name": {
                        "type": "string",
                        "description": "The full name of the secondary employee."
                      },
                      "FirstName": {
                        "type": "string",
                        "description": "The first name of the secondary employee."
                      },
                      "LastName": {
                        "type": "string",
                        "description": "The last name of the secondary employee."
                      },
                      "ContactInformation": {
                        "type": "object",
                        "properties": {
                          "PhoneNumber": {
                            "type": "string",
                            "description": "The phone number of the secondary employee."
                          },
                          "HomePhoneNumber": {
                            "type": "string",
                            "description": "The home phone number of the secondary employee."
                          },
                          "CellPhoneNumber": {
                            "type": "string",
                            "description": "The cell phone number of the secondary employee."
                          },
                          "Voicemail": {
                            "type": "string",
                            "description": "The voicemail of the secondary employee."
                          },
                          "FaxNumber": {
                            "type": "string",
                            "description": "The fax number of the secondary employee."
                          },
                          "EmailAddress": {
                            "type": "string",
                            "description": "The email address of the secondary employee."
                          },
                          "PreferredCommunicationMethod": {
                            "type": "string",
                            "description": "The secondary employees preferred communication method."
                          },
                          "Website": {
                            "type": "string",
                            "description": "The web link of the secondary employee."
                          }
                        },
                        "description": "Contact information regarding the secondary employee."
                      }
                    }
                  },
                  "description": "Information regarding the secondary employee."
                },
                "ReferenceNumber": {
                  "type": "string",
                  "description": "The reference number."
                },
                "RemoteFileNumber": {
                  "type": "string",
                  "description": "The remote file number."
                },
                "PartnerTypeID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The partner type identification number."
                },
                "PartnerID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The partner identification number."
                },
                "PartnerType": {
                  "type": "object",
                  "properties": {
                    "PartnerTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The partner type identification number."
                    },
                    "PartnerTypeName": {
                      "type": "string",
                      "description": "The partner type name."
                    }
                  },
                  "description": "Information regarding the partner type."
                },
                "OfficeID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The office identification number."
                },
                "PartnerName": {
                  "type": "string",
                  "description": "The partner name."
                },
                "MailingAddress": {
                  "type": "object",
                  "properties": {
                    "Address1": {
                      "type": "string",
                      "description": "The street number and name. "
                    },
                    "Address2": {
                      "type": "string",
                      "description": "Further address information."
                    },
                    "City": {
                      "type": "string",
                      "description": "The city name."
                    },
                    "State": {
                      "type": "string",
                      "description": "The two letter state abbreviation."
                    },
                    "Zip": {
                      "type": "string",
                      "description": "The ZIP code."
                    }
                  },
                  "description": "The mailing address of the partner."
                },
                "ContactInformation": {
                  "type": "object",
                  "properties": {
                    "PhoneNumber": {
                      "type": "string",
                      "description": "The partner phone number."
                    },
                    "HomePhoneNumber": {
                      "type": "string",
                      "description": "The partner home phone number."
                    },
                    "CellPhoneNumber": {
                      "type": "string",
                      "description": "The partner cell phone number."
                    },
                    "Voicemail": {
                      "type": "string",
                      "description": "The partner voicemail number."
                    },
                    "FaxNumber": {
                      "type": "string",
                      "description": "The partner fax number."
                    },
                    "EmailAddress": {
                      "type": "string",
                      "description": "The partner email address."
                    },
                    "PreferredCommunicationMethod": {
                      "type": "string",
                      "description": "The partners preferred way of communication."
                    },
                    "Website": {
                      "type": "string",
                      "description": "The partner website URL."
                    }
                  },
                  "description": "Contact information regarding the partner."
                }
              }
            }
          }
        },
        "description": "Updates the partner information on the specified file.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "File ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "PartnerID",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Partner ID",
            "description": "Partner identification number.",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "FileID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The file identification number."
                },
                "PrimaryEmployee": {
                  "type": "object",
                  "properties": {
                    "UserID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The user identification number."
                    },
                    "Name": {
                      "type": "string",
                      "description": "The full name of the employee."
                    },
                    "FirstName": {
                      "type": "string",
                      "description": "The first name of the employee."
                    },
                    "LastName": {
                      "type": "string",
                      "description": "The last name of the employee."
                    },
                    "ContactInformation": {
                      "type": "object",
                      "properties": {
                        "PhoneNumber": {
                          "type": "string",
                          "description": "The phone number of the employee."
                        },
                        "HomePhoneNumber": {
                          "type": "string",
                          "description": "The home phone number of the employee."
                        },
                        "CellPhoneNumber": {
                          "type": "string",
                          "description": "The cell phone number of the employee."
                        },
                        "Voicemail": {
                          "type": "string",
                          "description": "The voicemail of the employee."
                        },
                        "FaxNumber": {
                          "type": "string",
                          "description": "The fax number of the employee."
                        },
                        "EmailAddress": {
                          "type": "string",
                          "description": "The email address of the employee."
                        },
                        "PreferredCommunicationMethod": {
                          "type": "string",
                          "description": "The employees preferred communication method."
                        },
                        "Website": {
                          "type": "string",
                          "description": "The web link of the employee."
                        }
                      },
                      "description": "Contact information regarding the primary employee."
                    }
                  },
                  "description": "Information regarding the primary employee."
                },
                "SecondaryEmployees": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "UserID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The user identification number."
                      },
                      "Name": {
                        "type": "string",
                        "description": "The full name of the secondary employee."
                      },
                      "FirstName": {
                        "type": "string",
                        "description": "The first name of the secondary employee."
                      },
                      "LastName": {
                        "type": "string",
                        "description": "The last name of the secondary employee."
                      },
                      "ContactInformation": {
                        "type": "object",
                        "properties": {
                          "PhoneNumber": {
                            "type": "string",
                            "description": "The phone number of the secondary employee."
                          },
                          "HomePhoneNumber": {
                            "type": "string",
                            "description": "The home phone number of the secondary employee."
                          },
                          "CellPhoneNumber": {
                            "type": "string",
                            "description": "The cell phone number of the secondary employee."
                          },
                          "Voicemail": {
                            "type": "string",
                            "description": "The voicemail of the secondary employee."
                          },
                          "FaxNumber": {
                            "type": "string",
                            "description": "The fax number of the secondary employee."
                          },
                          "EmailAddress": {
                            "type": "string",
                            "description": "The email address of the secondary employee."
                          },
                          "PreferredCommunicationMethod": {
                            "type": "string",
                            "description": "The secondary employees preferred communication method."
                          },
                          "Website": {
                            "type": "string",
                            "description": "The web link of the secondary employee."
                          }
                        },
                        "description": "Contact information regarding the primary employee."
                      }
                    }
                  },
                  "description": "Information regarding the secondary employee."
                },
                "ReferenceNumber": {
                  "type": "string",
                  "description": "The reference number."
                },
                "RemoteFileNumber": {
                  "type": "string",
                  "description": "The remote file number."
                },
                "PartnerTypeID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The partner type identification number."
                },
                "PartnerID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The partner identification number."
                },
                "PartnerType": {
                  "type": "object",
                  "properties": {
                    "PartnerTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The partner type identification number."
                    },
                    "PartnerTypeName": {
                      "type": "string",
                      "description": "The partner type name."
                    }
                  },
                  "description": "Information regarding the partner type."
                },
                "OfficeID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The office identification number."
                },
                "PartnerName": {
                  "type": "string",
                  "description": "The partner name."
                },
                "MailingAddress": {
                  "type": "object",
                  "properties": {
                    "Address1": {
                      "type": "string",
                      "description": "The street number and name."
                    },
                    "Address2": {
                      "type": "string",
                      "description": "Further address information."
                    },
                    "City": {
                      "type": "string",
                      "description": "The city name."
                    },
                    "State": {
                      "type": "string",
                      "description": "The two letter state abbreviation."
                    },
                    "Zip": {
                      "type": "string",
                      "description": "The ZIP code."
                    }
                  },
                  "description": "The mailing address of the partner."
                },
                "ContactInformation": {
                  "type": "object",
                  "properties": {
                    "PhoneNumber": {
                      "type": "string",
                      "description": "The partner phone number."
                    },
                    "HomePhoneNumber": {
                      "type": "string",
                      "description": "The partner home phone number."
                    },
                    "CellPhoneNumber": {
                      "type": "string",
                      "description": "The partner cell phone number."
                    },
                    "Voicemail": {
                      "type": "string",
                      "description": "The partner voicemail number."
                    },
                    "FaxNumber": {
                      "type": "string",
                      "description": "The partner fax number."
                    },
                    "EmailAddress": {
                      "type": "string",
                      "description": "The partner email address."
                    },
                    "PreferredCommunicationMethod": {
                      "type": "string",
                      "description": "The partners preferred way of communication."
                    },
                    "Website": {
                      "type": "string",
                      "description": "The partner website URL."
                    }
                  },
                  "description": "Contact information regarding the partner."
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/AddNoteToFile": {
      "post": {
        "operationId": "AddNoteToFile",
        "summary": "Add Note To File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "note": {
                  "type": "object",
                  "properties": {
                    "NoteID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The note identification number."
                    }
                  },
                  "description": "Information regarding the note."
                }
              }
            }
          }
        },
        "description": "Adds a new note to the specified file.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "File ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Subject": {
                  "type": "string",
                  "description": "The note subject."
                },
                "Body": {
                  "type": "string",
                  "description": "The note body."
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/GetPartnersForSpecificFile": {
      "get": {
        "operationId": "GetPartnersForSpecificFile",
        "summary": "Get Partners For Specific File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Partners": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PrimaryEmployee": {
                        "type": "object",
                        "properties": {
                          "UserID": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The user identification number."
                          },
                          "Name": {
                            "type": "string",
                            "description": "The full name of the employee."
                          },
                          "FirstName": {
                            "type": "string",
                            "description": "The first name of the employee."
                          },
                          "LastName": {
                            "type": "string",
                            "description": "The last name of the employee."
                          },
                          "ContactInformation": {
                            "type": "object",
                            "properties": {
                              "PhoneNumber": {
                                "type": "string",
                                "description": "The phone number of the employee."
                              },
                              "EmailAddress": {
                                "type": "string",
                                "description": "The email address of the employee."
                              }
                            },
                            "description": "Contact information regarding the primary employee."
                          }
                        },
                        "description": "Information regarding the primary employee."
                      },
                      "PartnerTypeID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The partner type identification number."
                      },
                      "PartnerID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The partner identification number."
                      },
                      "PartnerType": {
                        "type": "object",
                        "properties": {
                          "PartnerTypeID": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The partner type identification number."
                          },
                          "PartnerTypeName": {
                            "type": "string",
                            "description": "The partner type name."
                          }
                        },
                        "description": "Information regarding the partner type."
                      },
                      "PartnerName": {
                        "type": "string",
                        "description": "The partner name."
                      }
                    }
                  },
                  "description": "Information on the partners."
                }
              }
            }
          }
        },
        "description": "Gets a list of partners and their information on the specified file.",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "File ID",
            "x-ms-visibility": "important"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/UploadWebUrlDocumentToSpecificFile": {
      "post": {
        "operationId": "UploadWebURLDocumentToSpecificFile",
        "summary": "Upload Web URL Document To Specific File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Document": {
                  "type": "object",
                  "properties": {
                    "DocumentID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The document identification number."
                    }
                  },
                  "description": "Information regarding the document."
                }
              }
            }
          }
        },
        "description": "Loads the Web URL document on the specified file.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "File ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "DocumentName": {
                  "type": "string",
                  "description": "The document name."
                },
                "DocumentType": {
                  "type": "object",
                  "properties": {
                    "DocumentTypeID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The document type identification number."
                    }
                  },
                  "description": "Information regarding the document type."
                },
                "Description": {
                  "type": "string",
                  "description": "The description of the document."
                },
                "InternalOnly": {
                  "type": "boolean",
                  "description": "Whether or not the document is internal only."
                },
                "WebURL": {
                  "type": "string",
                  "description": "The web URL of the document."
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/AddOrUpdateCustomFieldOnSpecificDocument": {
      "post": {
        "operationId": "AddOrUpdateCustomFieldOnSpecificDocument",
        "summary": "Add Or Update Custom Field On Specific Document",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "description": "Adds or updates custom fields on the specified document on the specified file.",
        "consumes": [
          "application/json"
        ],
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "File ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "DocumentID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Document identification number.",
            "x-ms-summary": "Document ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "CustomFields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string",
                        "description": "The name of the custom field."
                      },
                      "Value": {
                        "type": "string",
                        "description": "The value of the custom field."
                      }
                    }
                  },
                  "description": "Information on the custom field."
                }
              }
            }
          }
        ]
      }
    },
    "/UpdatePartnerEmployee": {
      "put": {
        "operationId": "UpdatePartnerEmployee",
        "summary": "Update Partner Employee",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Employee": {
                  "type": "object",
                  "properties": {
                    "PartnerCompanyID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The partner company identification number."
                    },
                    "Roles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "RoleID": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The role identification number."
                          },
                          "Name": {
                            "type": "string",
                            "description": "The name of the role."
                          }
                        }
                      },
                      "description": "Roles of the employee."
                    },
                    "Enabled": {
                      "type": "boolean",
                      "description": "Whether or not the employee has been enabled for use."
                    },
                    "WebsiteAccess": {
                      "type": "boolean",
                      "description": "Whether or not the employee has website access."
                    },
                    "UserID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The user identification number."
                    },
                    "Name": {
                      "type": "string",
                      "description": "The full name of the employee."
                    },
                    "FirstName": {
                      "type": "string",
                      "description": "The first name of the employee."
                    },
                    "LastName": {
                      "type": "string",
                      "description": "The last name of the employee."
                    },
                    "ContactInformation": {
                      "type": "object",
                      "properties": {
                        "EmailAddress": {
                          "type": "string",
                          "description": "The email address of the employee."
                        }
                      },
                      "description": "Contact information regarding the employee."
                    }
                  },
                  "description": "Information regarding the employee."
                }
              }
            }
          }
        },
        "description": "Updates the information of a partner employee.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "UserID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "User identification number.",
            "x-ms-summary": "User ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "PartnerCompanyID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Partner company identification number.",
            "x-ms-summary": "Partner Company ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Password": {
                  "type": "string",
                  "description": "The employees password."
                },
                "PasswordExpirationDate": {
                  "type": "string",
                  "description": "The date the password will expire."
                },
                "Roles": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "RoleID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The role identification number."
                      },
                      "Name": {
                        "type": "string",
                        "description": "The name of the role."
                      }
                    }
                  },
                  "description": "Roles of the employee."
                },
                "Enabled": {
                  "type": "boolean",
                  "description": "Whether or not the employee has been enabled for use."
                },
                "WebsiteAccess": {
                  "type": "boolean",
                  "description": "Whether or not the employee has website access."
                },
                "Name": {
                  "type": "string",
                  "description": "The full name of the employee."
                },
                "FirstName": {
                  "type": "string",
                  "description": "The first name of the employee."
                },
                "LastName": {
                  "type": "string",
                  "description": "The last name of the employee."
                },
                "ContactInformation": {
                  "type": "object",
                  "properties": {
                    "EmailAddress": {
                      "type": "string",
                      "description": "The email address of the employee."
                    }
                  },
                  "description": "Contact information regarding the employee."
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/GetPartiesForSpecificFile": {
      "get": {
        "operationId": "GetPartiesForSpecificFile",
        "summary": "Get Parties For Specific File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Buyers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "LegalEntityID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The legal entity identification number."
                      },
                      "EntityType": {
                        "type": "string",
                        "description": "The entity type."
                      },
                      "Primary": {
                        "type": "object",
                        "properties": {
                          "Prefix": {
                            "type": "string",
                            "description": "Prefix of the buyer."
                          },
                          "First": {
                            "type": "string",
                            "description": "First name of the buyer."
                          },
                          "Middle": {
                            "type": "string",
                            "description": "Middle name of the buyer."
                          },
                          "Last": {
                            "type": "string",
                            "description": "Last name of the buyer."
                          },
                          "Suffix": {
                            "type": "string",
                            "description": "Suffix of the buyer."
                          }
                        },
                        "description": "Information regarding the primary buyer."
                      },
                      "Secondary": {
                        "type": "object",
                        "properties": {
                          "Prefix": {
                            "type": "string",
                            "description": "Prefix of the secondary buyer."
                          },
                          "First": {
                            "type": "string",
                            "description": "First name of the secondary buyer."
                          },
                          "Middle": {
                            "type": "string",
                            "description": "Middle name of the secondary buyer."
                          },
                          "Last": {
                            "type": "string",
                            "description": "Last name of the secondary buyer."
                          }
                        },
                        "description": "Information regarding the secondary buyer."
                      },
                      "UsePropertyAddress": {
                        "type": "boolean",
                        "description": "Whether or not to use the address."
                      },
                      "Address": {
                        "type": "object",
                        "properties": {
                          "Address1": {
                            "type": "string",
                            "description": "The street number and name."
                          },
                          "City": {
                            "type": "string",
                            "description": "The city name."
                          },
                          "State": {
                            "type": "string",
                            "description": "The two letter state abbreviation."
                          },
                          "Zip": {
                            "type": "string",
                            "description": "The ZIP code."
                          }
                        },
                        "description": "The address of the buyer."
                      },
                      "MaritalStatus": {
                        "type": "string",
                        "description": "The marital status of the party."
                      },
                      "Email": {
                        "type": "string",
                        "description": "The email address of the party."
                      },
                      "HomePhone": {
                        "type": "string",
                        "description": "The home phone number of the party."
                      },
                      "EmailSecondary": {
                        "type": "string",
                        "description": "The email address of the secondary party."
                      }
                    }
                  },
                  "description": "Information regarding the buyers."
                },
                "Sellers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "LegalEntityID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The legal entity identification number."
                      },
                      "EntityType": {
                        "type": "string",
                        "description": "The entity type."
                      },
                      "Primary": {
                        "type": "object",
                        "properties": {
                          "BusinessName": {
                            "type": "string",
                            "description": "The business name."
                          }
                        },
                        "description": "Information regarding the primary seller."
                      },
                      "UsePropertyAddress": {
                        "type": "boolean",
                        "description": "Whether or not to use the address."
                      },
                      "Address": {
                        "type": "object",
                        "properties": {
                          "Address1": {
                            "type": "string",
                            "description": "The street number and name."
                          },
                          "City": {
                            "type": "string",
                            "description": "The city name."
                          },
                          "State": {
                            "type": "string",
                            "description": "The two letter state abbreviation."
                          },
                          "Zip": {
                            "type": "string",
                            "description": "The ZIP code."
                          }
                        },
                        "description": "The address of the seller."
                      },
                      "MaritalStatus": {
                        "type": "string",
                        "description": "The marital status of the party."
                      },
                      "Email": {
                        "type": "string",
                        "description": "The email address of the party."
                      }
                    }
                  },
                  "description": "Information regarding the sellers."
                },
                "Customers": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Information regarding the customers."
                }
              }
            }
          }
        },
        "description": "Gets a list of the parties and their information on the specified file.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "FileID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "File identification number.",
            "x-ms-summary": "File ID",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/GetNotesForSpecificFile": {
      "get": {
        "operationId": "GetNotesForSpecificFile",
        "summary": "Get Notes For Specific File",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Notes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "NoteID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The note identification number."
                      },
                      "Subject": {
                        "type": "string",
                        "description": "The note subject."
                      },
                      "Body": {
                        "type": "string",
                        "description": "The note body."
                      },
[...]
