{
  "swagger": "2.0",
  "info": {
    "title": "Confluence",
    "description": "Confluence is Atlassian's wiki and knowledge management platform. Create, read, and update pages, monitor spaces for changes with polling triggers, search content with CQL, and manage comments on Confluence Cloud.",
    "version": "1.0",
    "contact": {
      "name": "Aaron Mah",
      "url": "https://github.com/aaronmah",
      "email": "aaronmah@microsoft.com"
    }
  },
  "host": "placeholder.atlassian.net",
  "basePath": "/wiki",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v2/spaces/{spaceId}/pages": {
      "get": {
        "operationId": "GetPagesInSpace",
        "summary": "When a page is created or updated in a space",
        "description": "Returns pages in a Confluence space, sorted by modification date. Use as a polling trigger to detect new or updated pages.",
        "tags": [
          "Pages"
        ],
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work, create or update a page in the selected space.",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "type": "integer",
            "format": "int64",
            "required": true,
            "x-ms-summary": "Space ID",
            "description": "The ID of the Confluence space to watch.",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetSpaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "results"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "-modified-date",
            "x-ms-summary": "Sort Order",
            "description": "Sort order for pages. Default is by most recently modified.",
            "x-ms-visibility": "internal"
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Page Status",
            "description": "Filter by page status. Options: current, draft, trashed, archived.",
            "enum": [
              "current",
              "draft",
              "trashed",
              "archived"
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "x-ms-summary": "Limit",
            "description": "Maximum number of results per page. Default is 25."
          },
          {
            "name": "cursor",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Pagination Cursor",
            "description": "Opaque cursor for pagination obtained from the previous response.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body-format",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Body Format",
            "description": "Format to return the body content. Options: storage, atlas_doc_format. Omit to exclude body.",
            "enum": [
              "storage",
              "atlas_doc_format"
            ],
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of pages in the space.",
            "schema": {
              "$ref": "#/definitions/PageListResponse"
            }
          }
        }
      }
    },
    "/api/v2/pages/{pageId}/footer-comments": {
      "get": {
        "operationId": "GetPageFooterComments",
        "summary": "When a new comment is posted on a page",
        "description": "Returns footer comments on a specific Confluence page. Use as a polling trigger to detect new comments.",
        "tags": [
          "Comments"
        ],
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work, post a comment on the selected page.",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "type": "integer",
            "format": "int64",
            "required": true,
            "x-ms-summary": "Page ID",
            "description": "The ID of the page to get comments for.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body-format",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "storage",
            "x-ms-summary": "Body Format",
            "description": "Format to return the comment body. Options: storage, atlas_doc_format.",
            "enum": [
              "storage",
              "atlas_doc_format"
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "x-ms-summary": "Limit",
            "description": "Maximum number of results per page. Default is 25."
          },
          {
            "name": "cursor",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Pagination Cursor",
            "description": "Opaque cursor for pagination obtained from the previous response.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of footer comments on the page.",
            "schema": {
              "$ref": "#/definitions/CommentListResponse"
            }
          }
        }
      }
    },
    "/api/v2/pages/{pageId}": {
      "get": {
        "operationId": "GetPageById",
        "summary": "Get a page",
        "description": "Returns a specific Confluence page including its title, body content, version info, and links.",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "type": "integer",
            "format": "int64",
            "required": true,
            "x-ms-summary": "Page ID",
            "description": "The ID of the page to retrieve.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body-format",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Body Format",
            "description": "Format to return the body content. Options: storage, atlas_doc_format, view.",
            "enum": [
              "storage",
              "atlas_doc_format",
              "view"
            ]
          },
          {
            "name": "include-labels",
            "in": "query",
            "type": "boolean",
            "required": false,
            "x-ms-summary": "Include Labels",
            "description": "Include labels in the response. Default is false.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "include-properties",
            "in": "query",
            "type": "boolean",
            "required": false,
            "x-ms-summary": "Include Properties",
            "description": "Include content properties in the response. Default is false.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "include-likes",
            "in": "query",
            "type": "boolean",
            "required": false,
            "x-ms-summary": "Include Likes",
            "description": "Include like count in the response. Default is false.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "version",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "x-ms-summary": "Version Number",
            "description": "Specific version number to retrieve. Default is the latest version.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested page.",
            "schema": {
              "$ref": "#/definitions/PageObject"
            }
          }
        }
      },
      "put": {
        "operationId": "UpdatePage",
        "summary": "Update a page",
        "description": "Updates an existing Confluence page title, body, or status. Requires the current version number for optimistic concurrency.",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "type": "integer",
            "format": "int64",
            "required": true,
            "x-ms-summary": "Page ID",
            "description": "The ID of the page to update.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "id",
                "status",
                "title",
                "body",
                "version"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "x-ms-summary": "Page ID (Body)",
                  "description": "The page ID. Must match the path parameter."
                },
                "status": {
                  "type": "string",
                  "x-ms-summary": "Status",
                  "description": "Page status. Options: current, draft.",
                  "enum": [
                    "current",
                    "draft"
                  ],
                  "default": "current"
                },
                "title": {
                  "type": "string",
                  "x-ms-summary": "Title",
                  "description": "The new or unchanged title for the page."
                },
                "body": {
                  "type": "object",
                  "required": [
                    "representation",
                    "value"
                  ],
                  "properties": {
                    "representation": {
                      "type": "string",
                      "x-ms-summary": "Body Representation",
                      "description": "Body format. Use storage for XHTML content.",
                      "default": "storage",
                      "x-ms-visibility": "internal"
                    },
                    "value": {
                      "type": "string",
                      "x-ms-summary": "Body Content",
                      "description": "The updated body content in storage format (XHTML)."
                    }
                  },
                  "description": "The page body content."
                },
                "version": {
                  "type": "object",
                  "required": [
                    "number"
                  ],
                  "properties": {
                    "number": {
                      "type": "integer",
                      "format": "int32",
                      "x-ms-summary": "Version Number",
                      "description": "The new version number (current version + 1). Call Get Page first to obtain the current version."
                    },
                    "message": {
                      "type": "string",
                      "x-ms-summary": "Version Message",
                      "description": "Optional change message for this version.",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "Version information for the update."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated page.",
            "schema": {
              "$ref": "#/definitions/PageObject"
            }
          }
        }
      }
    },
    "/api/v2/spaces": {
      "get": {
        "operationId": "GetSpaces",
        "summary": "List spaces",
        "description": "Returns all Confluence spaces the authenticated user can access. Use to discover space IDs for other operations.",
        "tags": [
          "Spaces"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Space Type",
            "description": "Filter by space type. Options: global, personal.",
            "enum": [
              "global",
              "personal"
            ]
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Space Status",
            "description": "Filter by space status. Options: current, archived. Default is current.",
            "enum": [
              "current",
              "archived"
            ]
          },
          {
            "name": "keys",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Space Keys",
            "description": "Comma-separated space keys to filter by (e.g., ENG,DOCS).",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "x-ms-summary": "Limit",
            "description": "Maximum number of results per page. Default is 25."
          },
          {
            "name": "cursor",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Pagination Cursor",
            "description": "Opaque cursor for pagination obtained from the previous response.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Sort Order",
            "description": "Sort order. Options: id, -id, key, -key, name, -name.",
            "enum": [
              "id",
              "-id",
              "key",
              "-key",
              "name",
              "-name"
            ],
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Confluence spaces.",
            "schema": {
              "$ref": "#/definitions/SpaceListResponse"
            }
          }
        }
      }
    },
    "/api/v2/pages": {
      "post": {
        "operationId": "CreatePage",
        "summary": "Create a page",
        "description": "Creates a new page in a Confluence space. Supports storage format (XHTML) body content.",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "spaceId",
                "title",
                "body"
              ],
              "properties": {
                "spaceId": {
                  "type": "string",
                  "x-ms-summary": "Space ID",
                  "description": "The ID of the space to create the page in.",
                  "x-ms-dynamic-values": {
                    "operationId": "GetSpaces",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "results"
                  }
                },
                "title": {
                  "type": "string",
                  "x-ms-summary": "Title",
                  "description": "The title of the new page."
                },
                "parentId": {
                  "type": "string",
                  "x-ms-summary": "Parent Page ID",
                  "description": "Parent page ID. Creates as a child page if provided.",
                  "x-ms-visibility": "advanced"
                },
                "status": {
                  "type": "string",
                  "x-ms-summary": "Status",
                  "description": "Page status. Options: current (published), draft. Default is current.",
                  "enum": [
                    "current",
                    "draft"
                  ],
                  "default": "current",
                  "x-ms-visibility": "advanced"
                },
                "body": {
                  "type": "object",
                  "required": [
                    "representation",
                    "value"
                  ],
                  "properties": {
                    "representation": {
                      "type": "string",
                      "x-ms-summary": "Body Representation",
                      "description": "Body format. Use storage for XHTML content.",
                      "default": "storage",
                      "x-ms-visibility": "internal"
                    },
                    "value": {
                      "type": "string",
                      "x-ms-summary": "Body Content",
                      "description": "The page body content in storage format (e.g., <p>Hello world</p>)."
                    }
                  },
                  "description": "The page body content."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The created page.",
            "schema": {
              "$ref": "#/definitions/PageObject"
            }
          }
        }
      }
    },
    "/api/v2/footer-comments": {
      "post": {
        "operationId": "CreateFooterComment",
        "summary": "Add a comment to a page",
        "description": "Creates a footer comment on a Confluence page. Can also reply to an existing comment.",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "body"
              ],
              "properties": {
                "pageId": {
                  "type": "string",
                  "x-ms-summary": "Page ID",
                  "description": "The page to comment on. Required if not replying to an existing comment."
                },
                "blogPostId": {
                  "type": "string",
                  "x-ms-summary": "Blog Post ID",
                  "description": "The blog post to comment on. Provide instead of Page ID for blog post comments.",
                  "x-ms-visibility": "advanced"
                },
                "parentCommentId": {
                  "type": "string",
                  "x-ms-summary": "Parent Comment ID",
                  "description": "Reply to an existing comment by providing its ID.",
                  "x-ms-visibility": "advanced"
                },
                "body": {
                  "type": "object",
                  "required": [
                    "representation",
                    "value"
                  ],
                  "properties": {
                    "representation": {
                      "type": "string",
                      "x-ms-summary": "Body Representation",
                      "description": "Body format. Use storage for XHTML content.",
                      "default": "storage",
                      "x-ms-visibility": "internal"
                    },
                    "value": {
                      "type": "string",
                      "x-ms-summary": "Comment Text",
                      "description": "The comment text in storage format (e.g., <p>Great page!</p>)."
                    }
                  },
                  "description": "The comment body content."
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The created comment.",
            "schema": {
              "$ref": "#/definitions/CommentObject"
            }
          }
        }
      }
    },
    "/api/v2/spaces/{spaceId}": {
      "get": {
        "operationId": "GetSpaceById",
        "summary": "Get a space",
        "description": "Returns details of a specific Confluence space by its ID, including name, key, description, and homepage.",
        "tags": [
          "Spaces"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "type": "integer",
            "format": "int64",
            "required": true,
            "x-ms-summary": "Space ID",
            "description": "The ID of the space to retrieve.",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetSpaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "results"
            }
          },
          {
            "name": "description-format",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Description Format",
            "description": "Format for description. Options: plain, view.",
            "enum": [
              "plain",
              "view"
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "name": "include-icon",
            "in": "query",
            "type": "boolean",
            "required": false,
            "x-ms-summary": "Include Icon",
            "description": "Include space icon URL. Default is false.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested space.",
            "schema": {
              "$ref": "#/definitions/SpaceObject"
            }
          }
        }
      }
    },
    "/rest/api/search": {
      "get": {
        "operationId": "SearchContent",
        "summary": "Search content",
        "description": "Searches Confluence content using Confluence Query Language (CQL). Supports full-text search, space filters, type filters, and date range queries.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "cql",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "CQL Query",
            "description": "Confluence Query Language expression (e.g., type=page AND space=ENG AND text~\"onboarding\")."
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "x-ms-summary": "Limit",
            "description": "Maximum number of results to return. Default is 25."
          },
          {
            "name": "start",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "x-ms-summary": "Start Offset",
            "description": "Offset for pagination (0-based). Default is 0.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "includeArchivedSpaces",
            "in": "query",
            "type": "boolean",
            "required": false,
            "x-ms-summary": "Include Archived Spaces",
            "description": "Include content from archived spaces. Default is false.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results matching the CQL query.",
            "schema": {
              "$ref": "#/definitions/SearchResponse"
            }
          }
        }
      }
    },
    "/api/v2/spaces/{spaceId}/blogposts": {
      "get": {
        "operationId": "GetBlogPostsInSpace",
        "summary": "List blog posts in a space",
        "description": "Returns blog posts in a specific Confluence space, sorted by creation or modification date.",
        "tags": [
          "Blog Posts"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "type": "integer",
            "format": "int64",
            "required": true,
            "x-ms-summary": "Space ID",
            "description": "The ID of the space to get blog posts from.",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetSpaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "results"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Sort Order",
            "description": "Sort order for blog posts.",
            "enum": [
              "created-date",
              "-created-date",
              "modified-date",
              "-modified-date",
              "title",
              "-title"
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Blog Post Status",
            "description": "Filter by status. Options: current, draft, trashed.",
            "enum": [
              "current",
              "draft",
              "trashed"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "x-ms-summary": "Limit",
            "description": "Maximum number of results per page. Default is 25."
          },
          {
            "name": "cursor",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Pagination Cursor",
            "description": "Opaque cursor for pagination obtained from the previous response.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body-format",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Body Format",
            "description": "Body format. Options: storage, atlas_doc_format.",
            "enum": [
              "storage",
              "atlas_doc_format"
            ],
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of blog posts in the space.",
            "schema": {
              "$ref": "#/definitions/BlogPostListResponse"
            }
          }
        }
      }
    },
    "/api/v2/blogposts/{blogPostId}": {
      "get": {
        "operationId": "GetBlogPostById",
        "summary": "Get a blog post",
        "description": "Returns a specific Confluence blog post by its ID, including title, body content, and version info.",
        "tags": [
          "Blog Posts"
        ],
        "parameters": [
          {
            "name": "blogPostId",
            "in": "path",
            "type": "integer",
            "format": "int64",
            "required": true,
            "x-ms-summary": "Blog Post ID",
            "description": "The ID of the blog post to retrieve.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body-format",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Body Format",
            "description": "Body format. Options: storage, atlas_doc_format, view.",
            "enum": [
              "storage",
              "atlas_doc_format",
              "view"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The requested blog post.",
            "schema": {
              "$ref": "#/definitions/BlogPostObject"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PageObject": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier of the page.",
          "x-ms-summary": "Page ID"
        },
        "status": {
          "type": "string",
          "description": "The status of the page.",
          "x-ms-summary": "Status"
        },
        "title": {
          "type": "string",
          "description": "The title of the page.",
          "x-ms-summary": "Title"
        },
        "spaceId": {
          "type": "string",
          "description": "The ID of the space this page belongs to.",
          "x-ms-summary": "Space ID"
        },
        "parentId": {
          "type": "string",
          "description": "The ID of the parent page.",
          "x-ms-summary": "Parent Page ID"
        },
        "parentType": {
          "type": "string",
          "description": "The type of the parent.",
          "x-ms-summary": "Parent Type"
        },
        "position": {
          "type": "integer",
          "format": "int32",
          "description": "The position of this page among siblings.",
          "x-ms-summary": "Position"
        },
        "authorId": {
          "type": "string",
          "description": "The account ID of the page author.",
          "x-ms-summary": "Author ID"
        },
        "ownerId": {
          "type": "string",
          "description": "The account ID of the page owner.",
          "x-ms-summary": "Owner ID"
        },
        "createdAt": {
          "type": "string",
          "description": "The date and time the page was created (ISO 8601).",
          "x-ms-summary": "Created At"
        },
        "version": {
          "type": "object",
          "properties": {
            "createdAt": {
              "type": "string",
              "description": "The date and time the version was created.",
              "x-ms-summary": "Version Created At"
            },
            "message": {
              "type": "string",
              "description": "The message associated with this version.",
              "x-ms-summary": "Version Message"
            },
            "number": {
              "type": "integer",
              "format": "int32",
              "description": "The version number.",
              "x-ms-summary": "Version Number"
            },
            "minorEdit": {
              "type": "boolean",
              "description": "Whether this was a minor edit.",
              "x-ms-summary": "Minor Edit"
            },
            "authorId": {
              "type": "string",
              "description": "The account ID of the version author.",
              "x-ms-summary": "Version Author ID"
            }
          },
          "description": "Version information."
        },
        "body": {
          "type": "object",
          "properties": {
            "storage": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "The body content in storage format.",
                  "x-ms-summary": "Body Content"
                },
                "representation": {
                  "type": "string",
                  "description": "The content representation format.",
                  "x-ms-summary": "Body Representation"
                }
              },
              "description": "Body in storage representation."
            }
          },
          "description": "The body of the content."
        },
        "labels": {
          "type": "object",
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The label ID.",
                    "x-ms-summary": "Label ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The label name.",
                    "x-ms-summary": "Label Name"
                  },
                  "prefix": {
                    "type": "string",
                    "description": "The label prefix.",
                    "x-ms-summary": "Label Prefix"
                  }
                }
              },
              "description": "List of labels."
            }
          },
          "description": "Labels on the page."
        },
        "_links": {
          "type": "object",
          "properties": {
            "webui": {
              "type": "string",
              "description": "The web UI link for the page.",
              "x-ms-summary": "Web UI Link"
            },
            "editui": {
              "type": "string",
              "description": "The edit UI link for the page.",
              "x-ms-summary": "Edit UI Link"
            },
            "tinyui": {
              "type": "string",
              "description": "The shortened link for the page.",
              "x-ms-summary": "Tiny UI Link"
            }
          },
          "description": "Links related to the page."
        }
      }
    },
    "PageListResponse": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PageObject"
          },
          "description": "List of pages."
        },
        "_links": {
          "type": "object",
          "properties": {
            "next": {
              "type": "string",
              "description": "URL for the next page of results.",
              "x-ms-summary": "Next Page URL"
            }
          },
          "description": "Pagination links."
        }
      }
    },
    "CommentObject": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier of the comment.",
          "x-ms-summary": "Comment ID"
        },
        "status": {
          "type": "string",
          "description": "The status of the comment.",
          "x-ms-summary": "Status"
        },
        "title": {
          "type": "string",
          "description": "The title of the comment.",
          "x-ms-summary": "Title"
        },
        "pageId": {
          "type": "string",
          "description": "The ID of the page this comment belongs to.",
          "x-ms-summary": "Page ID"
        },
        "parentCommentId": {
          "type": "string",
          "description": "The ID of the parent comment if this is a reply.",
          "x-ms-summary": "Parent Comment ID"
        },
        "version": {
          "type": "object",
          "properties": {
            "createdAt": {
              "type": "string",
              "description": "The date and time the version was created.",
              "x-ms-summary": "Version Created At"
            },
            "message": {
              "type": "string",
              "description": "The message associated with this version.",
              "x-ms-summary": "Version Message"
            },
            "number": {
              "type": "integer",
              "format": "int32",
              "description": "The version number.",
              "x-ms-summary": "Version Number"
            },
            "minorEdit": {
              "type": "boolean",
              "description": "Whether this was a minor edit.",
              "x-ms-summary": "Minor Edit"
            },
            "authorId": {
              "type": "string",
              "description": "The account ID of the version author.",
              "x-ms-summary": "Version Author ID"
            }
          },
          "description": "Version information."
        },
        "body": {
          "type": "object",
          "properties": {
            "storage": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "The body content in storage format.",
                  "x-ms-summary": "Body Content"
                },
                "representation": {
                  "type": "string",
                  "description": "The content representation format.",
                  "x-ms-summary": "Body Representation"
                }
              },
              "description": "Body in storage representation."
            }
          },
          "description": "The body of the content."
        },
        "_links": {
          "type": "object",
          "properties": {
            "webui": {
              "type": "string",
              "description": "The web UI link for the comment.",
              "x-ms-summary": "Web UI Link"
            }
          },
          "description": "Links related to the comment."
        }
      }
    },
    "CommentListResponse": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CommentObject"
          },
          "description": "List of comments."
        },
        "_links": {
          "type": "object",
          "properties": {
            "next": {
              "type": "string",
              "description": "URL for the next page of results.",
              "x-ms-summary": "Next Page URL"
            }
          },
          "description": "Pagination links."
        }
      }
    },
    "SpaceObject": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier of the space.",
          "x-ms-summary": "Space ID"
        },
        "key": {
          "type": "string",
          "description": "The unique key of the space.",
          "x-ms-summary": "Space Key"
        },
        "name": {
          "type": "string",
          "description": "The name of the space.",
          "x-ms-summary": "Space Name"
        },
        "type": {
          "type": "string",
          "description": "The type of space (global or personal).",
          "x-ms-summary": "Space Type"
        },
        "status": {
          "type": "string",
          "description": "The status of the space.",
          "x-ms-summary": "Status"
        },
        "authorId": {
          "type": "string",
          "description": "The account ID of the space creator.",
          "x-ms-summary": "Author ID"
        },
        "createdAt": {
          "type": "string",
          "description": "The date and time the space was created (ISO 8601).",
          "x-ms-summary": "Created At"
        },
        "homepageId": {
          "type": "string",
          "description": "The ID of the space homepage.",
          "x-ms-summary": "Homepage ID"
        },
        "description": {
          "type": "object",
          "properties": {
            "plain": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "The plain text description.",
                  "x-ms-summary": "Description (Plain)"
                },
                "representation": {
                  "type": "string",
                  "description": "The representation format.",
                  "x-ms-summary": "Representation"
                }
              },
              "description": "Plain text description."
            },
            "view": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "The HTML view description.",
                  "x-ms-summary": "Description (View)"
                },
                "representation": {
                  "type": "string",
                  "description": "The representation format.",
                  "x-ms-summary": "Representation"
                }
              },
              "description": "View description."
            }
          },
          "description": "Space description."
        },
        "icon": {
          "type": "object",
          "properties": {
            "path": {
              "type": "string",
              "description": "The path to the space icon.",
              "x-ms-summary": "Icon Path"
            },
            "apiDownloadLink": {
              "type": "string",
              "description": "The API download link for the icon.",
              "x-ms-summary": "Icon Download Link"
            }
          },
          "description": "Space icon."
        },
        "_links": {
          "type": "object",
          "properties": {
            "webui": {
              "type": "string",
              "description": "The web UI link for the space.",
              "x-ms-summary": "Web UI Link"
            }
          },
          "description": "Links related to the space."
        }
      }
    },
    "SpaceListResponse": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SpaceObject"
          },
          "description": "List of spaces."
        },
        "_links": {
          "type": "object",
          "properties": {
            "next": {
              "type": "string",
              "description": "URL for the next page of results.",
              "x-ms-summary": "Next Page URL"
            }
          },
          "description": "Pagination links."
        }
      }
    },
    "BlogPostObject": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier of the blog post.",
          "x-ms-summary": "Blog Post ID"
        },
        "status": {
          "type": "string",
          "description": "The status of the blog post.",
          "x-ms-summary": "Status"
        },
        "title": {
          "type": "string",
          "description": "The title of the blog post.",
          "x-ms-summary": "Title"
        },
        "spaceId": {
          "type": "string",
          "description": "The ID of the space this blog post belongs to.",
          "x-ms-summary": "Space ID"
        },
        "authorId": {
          "type": "string",
          "description": "The account ID of the blog post author.",
          "x-ms-summary": "Author ID"
        },
        "createdAt": {
          "type": "string",
          "description": "The date and time the blog post was created (ISO 8601).",
          "x-ms-summary": "Created At"
        },
        "version": {
          "type": "object",
          "properties": {
            "createdAt": {
              "type": "string",
              "description": "The date and time the version was created.",
              "x-ms-summary": "Version Created At"
            },
            "message": {
              "type": "string",
              "description": "The message associated with this version.",
              "x-ms-summary": "Version Message"
            },
            "number": {
              "type": "integer",
              "format": "int32",
              "description": "The version number.",
              "x-ms-summary": "Version Number"
            },
            "minorEdit": {
              "type": "boolean",
              "description": "Whether this was a minor edit.",
              "x-ms-summary": "Minor Edit"
            },
            "authorId": {
              "type": "string",
              "description": "The account ID of the version author.",
              "x-ms-summary": "Version Author ID"
            }
          },
          "description": "Version information."
        },
        "body": {
          "type": "object",
          "properties": {
            "storage": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "The body content in storage format.",
                  "x-ms-summary": "Body Content"
                },
                "representation": {
                  "type": "string",
                  "description": "The content representation format.",
                  "x-ms-summary": "Body Representation"
                }
              },
              "description": "Body in storage representation."
            }
          },
          "description": "The body of the content."
        },
        "_links": {
          "type": "object",
          "properties": {
            "webui": {
              "type": "string",
              "description": "The web UI link for the blog post.",
              "x-ms-summary": "Web UI Link"
            },
            "editui": {
              "type": "string",
              "description": "The edit UI link for the blog post.",
              "x-ms-summary": "Edit UI Link"
            },
            "tinyui": {
              "type": "string",
              "description": "The shortened link for the blog post.",
              "x-ms-summary": "Tiny UI Link"
            }
          },
          "description": "Links related to the blog post."
        }
      }
    },
    "BlogPostListResponse": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BlogPostObject"
          },
          "description": "List of blog posts."
        },
        "_links": {
          "type": "object",
          "properties": {
            "next": {
              "type": "string",
              "description": "URL for the next page of results.",
              "x-ms-summary": "Next Page URL"
            }
          },
          "description": "Pagination links."
        }
      }
    },
    "SearchResponse": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "content": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The content ID.",
                    "x-ms-summary": "Content ID"
                  },
                  "type": {
                    "type": "string",
                    "description": "The content type (page, blogpost, comment, attachment).",
                    "x-ms-summary": "Content Type"
                  },
                  "status": {
                    "type": "string",
                    "description": "The content status.",
                    "x-ms-summary": "Status"
                  },
                  "title": {
                    "type": "string",
                    "description": "The content title.",
                    "x-ms-summary": "Title"
                  },
                  "space": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The space ID.",
                        "x-ms-summary": "Space ID"
                      },
                      "key": {
                        "type": "string",
                        "description": "The space key.",
                        "x-ms-summary": "Space Key"
                      },
                      "name": {
                        "type": "string",
                        "description": "The space name.",
                        "x-ms-summary": "Space Name"
                      }
                    },
                    "description": "The space containing this content."
                  },
                  "_links": {
                    "type": "object",
                    "properties": {
                      "webui": {
                        "type": "string",
                        "description": "The web UI link.",
                        "x-ms-summary": "Web UI Link"
                      },
                      "self": {
                        "type": "string",
                        "description": "The self link.",
                        "x-ms-summary": "Self Link"
                      }
                    },
                    "description": "Content links."
                  }
                },
                "description": "The matched content object."
              },
              "title": {
                "type": "string",
                "description": "The result title.",
                "x-ms-summary": "Result Title"
              },
              "excerpt": {
                "type": "string",
                "description": "Highlighted search excerpt.",
                "x-ms-summary": "Excerpt"
              },
              "url": {
                "type": "string",
                "description": "The URL of the result.",
                "x-ms-summary": "URL"
              },
              "lastModified": {
                "type": "string",
                "description": "The last modified date (ISO 8601).",
                "x-ms-summary": "Last Modified"
              },
              "friendlyLastModified": {
                "type": "string",
                "description": "Human-readable last modified time.",
                "x-ms-summary": "Friendly Last Modified"
              }
            }
          },
          "description": "List of search results."
        },
        "start": {
          "type": "integer",
          "format": "int32",
          "description": "The start offset of results.",
          "x-ms-summary": "Start"
        },
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of results.",
          "x-ms-summary": "Limit"
        },
        "size": {
          "type": "integer",
          "format": "int32",
          "description": "The number of results in this response.",
          "x-ms-summary": "Size"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of matching results.",
          "x-ms-summary": "Total Size"
        },
        "_links": {
          "type": "object",
          "properties": {
            "next": {
              "type": "string",
              "description": "URL for the next page of results.",
              "x-ms-summary": "Next Page URL"
            }
          },
          "description": "Pagination links."
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": [
    {
      "name": "Pages",
      "description": "Operations for Confluence pages."
    },
    {
      "name": "Spaces",
      "description": "Operations for Confluence spaces."
    },
    {
      "name": "Comments",
      "description": "Operations for Confluence comments."
    },
    {
      "name": "Blog Posts",
      "description": "Operations for Confluence blog posts."
    },
    {
      "name": "Search",
      "description": "Search Confluence content."
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.atlassian.com/software/confluence"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.atlassian.com/legal/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Content and Files"
    }
  ]
}