{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Confluence",
    "description": "Confluence Cloud is Atlassian's team wiki and knowledge management platform. This connector enables reading pages, creating and updating content, posting comments, searching with CQL, and accessing blog posts.",
    "contact": {
      "name": "Aaron Mah",
      "url": "https://github.com/aaronmah",
      "email": "aa.mahh@gmail.com"
    }
  },
  "host": "aaron-mah.atlassian.net",
  "basePath": "/wiki",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v2/pages/{pageId}": {
      "get": {
        "operationId": "getPageById",
        "summary": "Get a page",
        "description": "Returns a specific Confluence page including its title, body content, version info, and links.",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Page ID",
            "description": "The ID of the page to retrieve.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body-format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "storage",
              "atlas_doc_format",
              "view"
            ],
            "x-ms-summary": "Body Format",
            "description": "Body format to return. Options: storage, atlas_doc_format, view. If omitted, no body is returned."
          },
          {
            "name": "include-labels",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Include Labels",
            "description": "Include labels in the response. Default: false."
          },
          {
            "name": "include-properties",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Include Properties",
            "description": "Include content properties in the response. Default: false.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "include-likes",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Include Likes",
            "description": "Include like count in the response. Default: false.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Version Number",
            "description": "Specific version number to retrieve. Default: latest.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Page"
            }
          }
        }
      },
      "put": {
        "operationId": "updatePage",
        "summary": "Update a page",
        "description": "Updates an existing Confluence page title, body, or status. Requires the current version number incremented by 1. Call Get a page first to obtain the current version number.",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Page ID",
            "description": "The ID of the page to update.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "id",
                "status",
                "title",
                "body",
                "version"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "x-ms-summary": "Page ID (Body)",
                  "description": "The page ID. Must match the path parameter."
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "current",
                    "draft"
                  ],
                  "x-ms-summary": "Status",
                  "description": "Page status. Options: current, draft."
                },
                "title": {
                  "type": "string",
                  "x-ms-summary": "Title",
                  "description": "The new or unchanged page title."
                },
                "body": {
                  "type": "object",
                  "required": [
                    "representation",
                    "value"
                  ],
                  "properties": {
                    "representation": {
                      "type": "string",
                      "default": "storage",
                      "x-ms-visibility": "internal",
                      "x-ms-summary": "Body Format",
                      "description": "The body content format."
                    },
                    "value": {
                      "type": "string",
                      "x-ms-summary": "Body Content",
                      "description": "The updated body content in storage format (XHTML)."
                    }
                  },
                  "description": "The page body content."
                },
                "version": {
                  "type": "object",
                  "required": [
                    "number"
                  ],
                  "properties": {
                    "number": {
                      "type": "integer",
                      "x-ms-summary": "Version Number",
                      "description": "The new version number (current version + 1)."
                    },
                    "message": {
                      "type": "string",
                      "x-ms-summary": "Version Message",
                      "description": "Optional change message for this version."
                    }
                  },
                  "description": "Version information for optimistic concurrency."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Page"
            }
          }
        }
      }
    },
    "/api/v2/spaces": {
      "get": {
        "operationId": "getSpaces",
        "summary": "List spaces",
        "description": "Returns all Confluence spaces the authenticated user can access. Use to discover space IDs for other operations.",
        "tags": [
          "Spaces"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "global",
              "personal"
            ],
            "x-ms-summary": "Space Type",
            "description": "Filter by space type. Options: global, personal."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "current",
              "archived"
            ],
            "x-ms-summary": "Status",
            "description": "Filter by status. Options: current, archived. Default: current."
          },
          {
            "name": "keys",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Space Keys",
            "description": "Comma-separated space keys to filter by (e.g., ENG,DOCS)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Limit",
            "description": "Maximum results per page. Default: 25."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Cursor",
            "description": "Opaque cursor for pagination.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "id",
              "-id",
              "key",
              "-key",
              "name",
              "-name"
            ],
            "x-ms-summary": "Sort",
            "description": "Sort order. Options: id, -id, key, -key, name, -name.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SpaceList"
            }
          }
        }
      }
    },
    "/api/v2/pages": {
      "post": {
        "operationId": "createPage",
        "summary": "Create a page",
        "description": "Creates a new page in a Confluence space. Supports storage format (XHTML) body content.",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "spaceId",
                "title",
                "body"
              ],
              "properties": {
                "spaceId": {
                  "type": "string",
                  "x-ms-summary": "Space ID",
                  "description": "The ID of the space to create the page in."
                },
                "title": {
                  "type": "string",
                  "x-ms-summary": "Title",
                  "description": "The title of the new page."
                },
                "parentId": {
                  "type": "string",
                  "x-ms-summary": "Parent Page ID",
                  "description": "Parent page ID. Creates as a child page if provided."
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "current",
                    "draft"
                  ],
                  "default": "current",
                  "x-ms-summary": "Status",
                  "description": "Page status. Options: current (published), draft."
                },
                "body": {
                  "type": "object",
                  "required": [
                    "representation",
                    "value"
                  ],
                  "properties": {
                    "representation": {
                      "type": "string",
                      "default": "storage",
                      "x-ms-visibility": "internal",
                      "x-ms-summary": "Body Format",
                      "description": "The body content format."
                    },
                    "value": {
                      "type": "string",
                      "x-ms-summary": "Body Content",
                      "description": "The page body content in storage format (e.g., <p>Hello world</p>)."
                    }
                  },
                  "description": "The page body content."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Page"
            }
          }
        }
      }
    },
    "/api/v2/footer-comments": {
      "post": {
        "operationId": "createFooterComment",
        "summary": "Add a comment to a page",
        "description": "Creates a footer comment on a Confluence page. Can also reply to an existing comment by providing parentCommentId.",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "body"
              ],
              "properties": {
                "pageId": {
                  "type": "string",
                  "x-ms-summary": "Page ID",
                  "description": "The page to comment on. Required if blogPostId and parentCommentId are not provided."
                },
                "blogPostId": {
                  "type": "string",
                  "x-ms-summary": "Blog Post ID",
                  "description": "The blog post to comment on. Required if pageId and parentCommentId are not provided."
                },
                "parentCommentId": {
                  "type": "string",
                  "x-ms-summary": "Parent Comment ID",
                  "description": "Reply to an existing comment. Required if pageId and blogPostId are not provided."
                },
                "body": {
                  "type": "object",
                  "required": [
                    "representation",
                    "value"
                  ],
                  "properties": {
                    "representation": {
                      "type": "string",
                      "default": "storage",
                      "x-ms-visibility": "internal",
                      "x-ms-summary": "Body Format",
                      "description": "The body content format."
                    },
                    "value": {
                      "type": "string",
                      "x-ms-summary": "Comment Text",
                      "description": "The comment text in storage format (e.g., <p>Great page!</p>)."
                    }
                  },
                  "description": "The comment body content."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FooterComment"
            }
          }
        }
      }
    },
    "/api/v2/spaces/{spaceId}": {
      "get": {
        "operationId": "getSpaceById",
        "summary": "Get a space",
        "description": "Returns details of a specific Confluence space by its ID, including name, key, description, and homepage.",
        "tags": [
          "Spaces"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Space ID",
            "description": "The ID of the space to retrieve.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "description-format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "plain",
              "view"
            ],
            "x-ms-summary": "Description Format",
            "description": "Format for the space description. Options: plain, view."
          },
          {
            "name": "include-icon",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Include Icon",
            "description": "Include space icon URL. Default: false.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Space"
            }
          }
        }
      }
    },
    "/rest/api/search": {
      "get": {
        "operationId": "searchContent",
        "summary": "Search content",
        "description": "Searches Confluence content using Confluence Query Language (CQL). Supports full-text search, space filters, type filters, and date range queries.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "cql",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "CQL Query",
            "description": "Confluence Query Language expression (e.g., type=page AND space=ENG AND text~\"onboarding\")."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Limit",
            "description": "Maximum number of results. Default: 25."
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Start",
            "description": "Offset for pagination (0-based).",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "includeArchivedSpaces",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Include Archived Spaces",
            "description": "Include content from archived spaces. Default: false.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SearchResult"
            }
          }
        }
      }
    },
    "/api/v2/spaces/{spaceId}/blogposts": {
      "get": {
        "operationId": "getBlogPostsInSpace",
        "summary": "List blog posts in a space",
        "description": "Returns blog posts in a specific Confluence space, sorted by creation or modification date.",
        "tags": [
          "Blog Posts"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Space ID",
            "description": "The ID of the space.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "created-date",
              "-created-date",
              "modified-date",
              "-modified-date",
              "title",
              "-title"
            ],
            "x-ms-summary": "Sort",
            "description": "Sort order for blog posts."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "current",
              "draft",
              "trashed"
            ],
            "x-ms-summary": "Status",
            "description": "Filter by blog post status."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Limit",
            "description": "Maximum results per page. Default: 25."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Cursor",
            "description": "Pagination cursor.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body-format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "storage",
              "atlas_doc_format"
            ],
            "x-ms-summary": "Body Format",
            "description": "Body format to return. Options: storage, atlas_doc_format."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlogPostList"
            }
          }
        }
      }
    },
    "/api/v2/blogposts/{blogPostId}": {
      "get": {
        "operationId": "getBlogPostById",
        "summary": "Get a blog post",
        "description": "Returns a specific Confluence blog post by its ID, including title, body content, and version info.",
        "tags": [
          "Blog Posts"
        ],
        "parameters": [
          {
            "name": "blogPostId",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Blog Post ID",
            "description": "The ID of the blog post to retrieve.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body-format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "storage",
              "atlas_doc_format",
              "view"
            ],
            "x-ms-summary": "Body Format",
            "description": "Body format to return. Options: storage, atlas_doc_format, view."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlogPost"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Page": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier of the page.",
          "x-ms-summary": "Page ID"
        },
        "status": {
          "type": "string",
          "description": "The page status (current, draft, trashed, historical, archived).",
          "x-ms-summary": "Status"
        },
        "title": {
          "type": "string",
          "description": "The page title.",
          "x-ms-summary": "Title"
        },
        "spaceId": {
          "type": "string",
          "description": "The ID of the space containing this page.",
          "x-ms-summary": "Space ID"
        },
        "parentId": {
          "type": "string",
          "description": "The ID of the parent page.",
          "x-ms-summary": "Parent ID"
        },
        "parentType": {
          "type": "string",
          "description": "The type of the parent (page or space).",
          "x-ms-summary": "Parent Type"
        },
        "position": {
          "type": "integer",
          "description": "The position of the page among siblings.",
          "x-ms-summary": "Position"
        },
        "authorId": {
          "type": "string",
          "description": "The account ID of the page author.",
          "x-ms-summary": "Author ID"
        },
        "ownerId": {
          "type": "string",
          "description": "The account ID of the page owner.",
          "x-ms-summary": "Owner ID"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time the page was created.",
          "x-ms-summary": "Created At"
        },
        "version": {
          "$ref": "#/definitions/Version"
        },
        "body": {
          "type": "object",
          "description": "The page body content.",
          "properties": {
            "storage": {
              "type": "object",
              "description": "Body in storage format.",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "The body content value.",
                  "x-ms-summary": "Body Value"
                },
                "representation": {
                  "type": "string",
                  "description": "The body content representation format.",
                  "x-ms-summary": "Body Representation"
                }
              }
            }
          }
        },
        "labels": {
          "type": "object",
          "description": "Labels attached to the page.",
          "properties": {
            "results": {
              "type": "array",
              "description": "Array of labels.",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The label ID.",
                    "x-ms-summary": "Label ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The label name.",
                    "x-ms-summary": "Label Name"
                  },
                  "prefix": {
                    "type": "string",
                    "description": "The label prefix.",
                    "x-ms-summary": "Label Prefix"
                  }
                }
              }
            }
          }
        },
        "_links": {
          "$ref": "#/definitions/PageLinks"
        }
      }
    },
    "Version": {
      "type": "object",
      "description": "Version information.",
      "properties": {
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time this version was created.",
          "x-ms-summary": "Version Created At"
        },
        "message": {
          "type": "string",
          "description": "The version change message.",
          "x-ms-summary": "Version Message"
        },
        "number": {
          "type": "integer",
          "description": "The version number.",
          "x-ms-summary": "Version Number"
        },
        "minorEdit": {
          "type": "boolean",
          "description": "Whether this was a minor edit.",
          "x-ms-summary": "Minor Edit"
        },
        "authorId": {
          "type": "string",
          "description": "The account ID of the version author.",
          "x-ms-summary": "Version Author ID"
        }
      }
    },
    "PageLinks": {
      "type": "object",
      "description": "Links to the page.",
      "properties": {
        "webui": {
          "type": "string",
          "description": "Web UI link to the page.",
          "x-ms-summary": "Web UI Link"
        },
        "editui": {
          "type": "string",
          "description": "Edit UI link to the page.",
          "x-ms-summary": "Edit Link"
        },
        "tinyui": {
          "type": "string",
          "description": "Short link to the page.",
          "x-ms-summary": "Short Link"
        }
      }
    },
    "Space": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier of the space.",
          "x-ms-summary": "Space ID"
        },
        "key": {
          "type": "string",
          "description": "The space key.",
          "x-ms-summary": "Space Key"
        },
        "name": {
          "type": "string",
          "description": "The space name.",
          "x-ms-summary": "Space Name"
        },
        "type": {
          "type": "string",
          "description": "The space type (global or personal).",
          "x-ms-summary": "Space Type"
        },
        "status": {
          "type": "string",
          "description": "The space status (current or archived).",
          "x-ms-summary": "Status"
        },
        "authorId": {
          "type": "string",
          "description": "The account ID of the space author.",
          "x-ms-summary": "Author ID"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time the space was created.",
          "x-ms-summary": "Created At"
        },
        "homepageId": {
          "type": "string",
          "description": "The ID of the space homepage.",
          "x-ms-summary": "Homepage ID"
        },
        "description": {
          "type": "object",
          "description": "The space description.",
          "properties": {
            "plain": {
              "type": "object",
              "description": "Plain text description.",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "The description text.",
                  "x-ms-summary": "Description"
                },
                "representation": {
                  "type": "string",
                  "description": "The representation format.",
                  "x-ms-summary": "Description Format"
                }
              }
            },
            "view": {
              "type": "object",
              "description": "View description.",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "The description text in view format.",
                  "x-ms-summary": "View Description"
                },
                "representation": {
                  "type": "string",
                  "description": "The representation format.",
                  "x-ms-summary": "View Description Format"
                }
              }
            }
          }
        },
        "icon": {
          "type": "object",
          "description": "The space icon.",
          "properties": {
            "path": {
              "type": "string",
              "description": "The icon path.",
              "x-ms-summary": "Icon Path"
            },
            "apiDownloadLink": {
              "type": "string",
              "description": "The API download link for the icon.",
              "x-ms-summary": "Icon Download Link"
            }
          }
        },
        "_links": {
          "type": "object",
          "description": "Links to the space.",
          "properties": {
            "webui": {
              "type": "string",
              "description": "Web UI link to the space.",
              "x-ms-summary": "Web UI Link"
            }
          }
        }
      }
    },
    "SpaceList": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "description": "Array of spaces.",
          "items": {
            "$ref": "#/definitions/Space"
          }
        },
        "_links": {
          "type": "object",
          "description": "Pagination links.",
          "properties": {
            "next": {
              "type": "string",
              "description": "URL for the next page of results.",
              "x-ms-summary": "Next Page URL"
            }
          }
        }
      }
    },
    "FooterComment": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier of the comment.",
          "x-ms-summary": "Comment ID"
        },
        "status": {
          "type": "string",
          "description": "The comment status.",
          "x-ms-summary": "Status"
        },
        "title": {
          "type": "string",
          "description": "The comment title.",
          "x-ms-summary": "Title"
        },
        "pageId": {
          "type": "string",
          "description": "The ID of the page this comment belongs to.",
          "x-ms-summary": "Page ID"
        },
        "parentCommentId": {
          "type": "string",
          "description": "The ID of the parent comment if this is a reply.",
          "x-ms-summary": "Parent Comment ID"
        },
        "version": {
          "$ref": "#/definitions/Version"
        },
        "body": {
          "type": "object",
          "description": "The comment body.",
          "properties": {
            "storage": {
              "type": "object",
              "description": "Body in storage format.",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "The comment body content.",
                  "x-ms-summary": "Comment Body"
                },
                "representation": {
                  "type": "string",
                  "description": "The representation format.",
                  "x-ms-summary": "Body Representation"
                }
              }
            }
          }
        },
        "_links": {
          "type": "object",
          "description": "Links to the comment.",
          "properties": {
            "webui": {
              "type": "string",
              "description": "Web UI link to the comment.",
              "x-ms-summary": "Web UI Link"
            }
          }
        }
      }
    },
    "SearchResult": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "description": "Array of search results.",
          "items": {
            "type": "object",
            "properties": {
              "content": {
                "type": "object",
                "description": "The matched content item.",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The content ID.",
                    "x-ms-summary": "Content ID"
                  },
                  "type": {
                    "type": "string",
                    "description": "The content type (page, blogpost, comment, attachment).",
                    "x-ms-summary": "Content Type"
                  },
                  "status": {
                    "type": "string",
                    "description": "The content status.",
                    "x-ms-summary": "Content Status"
                  },
                  "title": {
                    "type": "string",
                    "description": "The content title.",
                    "x-ms-summary": "Content Title"
                  },
                  "space": {
                    "type": "object",
                    "description": "The space containing the content.",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "The space ID.",
                        "x-ms-summary": "Space ID"
                      },
                      "key": {
                        "type": "string",
                        "description": "The space key.",
                        "x-ms-summary": "Space Key"
                      },
                      "name": {
                        "type": "string",
                        "description": "The space name.",
                        "x-ms-summary": "Space Name"
                      }
                    }
                  },
                  "_links": {
                    "type": "object",
                    "description": "Links to the content.",
                    "properties": {
                      "webui": {
                        "type": "string",
                        "description": "Web UI link.",
                        "x-ms-summary": "Web UI Link"
                      },
                      "self": {
                        "type": "string",
                        "description": "API self link.",
                        "x-ms-summary": "Self Link"
                      }
                    }
                  }
                }
              },
              "title": {
                "type": "string",
                "description": "The result title.",
                "x-ms-summary": "Title"
              },
              "excerpt": {
                "type": "string",
                "description": "The highlighted search excerpt.",
                "x-ms-summary": "Excerpt"
              },
              "url": {
                "type": "string",
                "description": "The result URL.",
                "x-ms-summary": "URL"
              },
              "lastModified": {
                "type": "string",
                "format": "date-time",
                "description": "The last modified date.",
                "x-ms-summary": "Last Modified"
              },
              "friendlyLastModified": {
                "type": "string",
                "description": "Human-friendly last modified string.",
                "x-ms-summary": "Last Modified (Friendly)"
              }
            }
          }
        },
        "start": {
          "type": "integer",
          "description": "The starting index of the results.",
          "x-ms-summary": "Start Index"
        },
        "limit": {
          "type": "integer",
          "description": "The maximum number of results.",
          "x-ms-summary": "Limit"
        },
        "size": {
          "type": "integer",
          "description": "The number of results returned.",
          "x-ms-summary": "Result Count"
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of matching results.",
          "x-ms-summary": "Total Results"
        },
        "_links": {
          "type": "object",
          "description": "Pagination links.",
          "properties": {
            "next": {
              "type": "string",
              "description": "URL for the next page of results.",
              "x-ms-summary": "Next Page URL"
            }
          }
        }
      }
    },
    "BlogPost": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier of the blog post.",
          "x-ms-summary": "Blog Post ID"
        },
        "status": {
          "type": "string",
          "description": "The blog post status.",
          "x-ms-summary": "Status"
        },
        "title": {
          "type": "string",
          "description": "The blog post title.",
          "x-ms-summary": "Title"
        },
        "spaceId": {
          "type": "string",
          "description": "The ID of the space containing this blog post.",
          "x-ms-summary": "Space ID"
        },
        "authorId": {
          "type": "string",
          "description": "The account ID of the blog post author.",
          "x-ms-summary": "Author ID"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time the blog post was created.",
          "x-ms-summary": "Created At"
        },
        "version": {
          "$ref": "#/definitions/Version"
        },
        "body": {
          "type": "object",
          "description": "The blog post body content.",
          "properties": {
            "storage": {
              "type": "object",
              "description": "Body in storage format.",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "The body content value.",
                  "x-ms-summary": "Body Value"
                },
                "representation": {
                  "type": "string",
                  "description": "The body content representation format.",
                  "x-ms-summary": "Body Representation"
                }
              }
            }
          }
        },
        "_links": {
          "$ref": "#/definitions/PageLinks"
        }
      }
    },
    "BlogPostList": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "description": "Array of blog posts.",
          "items": {
            "$ref": "#/definitions/BlogPost"
          }
        },
        "_links": {
          "type": "object",
          "description": "Pagination links.",
          "properties": {
            "next": {
              "type": "string",
              "description": "URL for the next page of results.",
              "x-ms-summary": "Next Page URL"
            }
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": [
    {
      "name": "Pages",
      "description": "Operations for Confluence pages."
    },
    {
      "name": "Spaces",
      "description": "Operations for Confluence spaces."
    },
    {
      "name": "Comments",
      "description": "Operations for Confluence comments."
    },
    {
      "name": "Search",
      "description": "Search operations using CQL."
    },
    {
      "name": "Blog Posts",
      "description": "Operations for Confluence blog posts."
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://developer.atlassian.com/cloud/confluence/rest/v2/intro/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.atlassian.com/legal/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Content and Files"
    }
  ]
}
