{
  "swagger": "2.0",
  "info": {
    "title": "SendFox",
    "description": "SendFox is the most affordable newsletter solution on the planet. Automatically generate and schedule your newsletters with your best content. Set up a beautiful smart landing page within minutes - without a website.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.sendfox.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/me": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "country": {
                  "type": "string",
                  "description": "The country.",
                  "title": "Country"
                },
                "disabled_at": {
                  "type": "string",
                  "description": "When disabled at.",
                  "title": "Disabled At"
                },
                "timezone": {
                  "type": "string",
                  "description": "The timezone.",
                  "title": "Timezone"
                },
                "vanity_path": {
                  "type": "string",
                  "description": "The vanity path.",
                  "title": "Vanity Path"
                },
                "contact_referrals_enabled_at": {
                  "type": "string",
                  "description": "When contact referrals enabled at.",
                  "title": "Contact Referrals Enabled At"
                },
                "google_id": {
                  "type": "string",
                  "description": "The Google identifier.",
                  "title": "Google ID"
                },
                "language": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                }
              }
            }
          }
        },
        "summary": "Get my information",
        "description": "Retrieve a list of your information.",
        "operationId": "MeGet",
        "parameters": []
      }
    },
    "/lists": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "current_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page.",
                  "title": "Current Page"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "subscribed_contacts_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The subscribed contacts count.",
                        "title": "Subscribed Contacts Count"
                      }
                    }
                  },
                  "title": "Data"
                },
                "first_page_url": {
                  "type": "string",
                  "description": "The first page URL address.",
                  "title": "First Page URL"
                },
                "from": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number from.",
                  "title": "From"
                },
                "last_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The last page.",
                  "title": "Last Page"
                },
                "last_page_url": {
                  "type": "string",
                  "description": "The last page URL address.",
                  "title": "Last Page URL"
                },
                "next_page_url": {
                  "type": "string",
                  "description": "The next page URL address.",
                  "title": "Next Page URL"
                },
                "path": {
                  "type": "string",
                  "description": "The path.",
                  "title": "Path"
                },
                "per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The per page.",
                  "title": "Per Page"
                },
                "prev_page_url": {
                  "type": "string",
                  "description": "The previous page URL address.",
                  "title": "Prev Page URL"
                },
                "to": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number to.",
                  "title": "To"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number.",
                  "title": "Total"
                }
              }
            }
          }
        },
        "summary": "Get lists",
        "description": "Retrieve a list of contact lists.",
        "operationId": "ListsGet",
        "parameters": []
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                }
              }
            }
          }
        },
        "summary": "Create a list",
        "description": "Creates a new list by name.",
        "operationId": "ListPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                }
              },
              "required": [
                "name"
              ]
            }
          }
        ]
      }
    },
    "/lists/{list_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "subscribed_contacts_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The subscribed contacts count.",
                  "title": "Subscribed Contacts Count"
                },
                "average_email_open_percent": {
                  "type": "string",
                  "description": "The average email open percentage.",
                  "title": "Average Email Open Percent"
                },
                "average_email_click_percent": {
                  "type": "string",
                  "description": "The average email click percentage.",
                  "title": "Average Email Click Percent"
                }
              }
            }
          }
        },
        "summary": "Get a list",
        "description": "Retrieve a list by identifier.",
        "operationId": "ListGet",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single",
            "description": "The list identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/lists/{list_id}/contacts/{contact_id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "first_name": {
                  "type": "string",
                  "description": "The first name.",
                  "title": "First Name"
                },
                "last_name": {
                  "type": "string",
                  "description": "The last name.",
                  "title": "Last Name"
                },
                "ip_address": {
                  "type": "string",
                  "description": "The IP address.",
                  "title": "IP Address"
                },
                "unsubscribed_at": {
                  "type": "string",
                  "description": "When unsubscribed at.",
                  "title": "Unsubscribed At"
                },
                "bounced_at": {
                  "type": "string",
                  "description": "When bounced at.",
                  "title": "Bounced At"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "form_id": {
                  "type": "string",
                  "description": "The form identifier.",
                  "title": "Form ID"
                },
                "contact_import_id": {
                  "type": "string",
                  "description": "The contact import identifier.",
                  "title": "Contact Import ID"
                },
                "via_api": {
                  "type": "boolean",
                  "description": "Whether via API.",
                  "title": "Via API"
                },
                "last_opened_at": {
                  "type": "string",
                  "description": "When last opened at.",
                  "title": "Last Opened At"
                },
                "last_clicked_at": {
                  "type": "string",
                  "description": "When last clicked at.",
                  "title": "Last Clicked At"
                },
                "first_sent_at": {
                  "type": "string",
                  "description": "When first sent at.",
                  "title": "First Sent At"
                },
                "last_sent_at": {
                  "type": "string",
                  "description": "When last sent at.",
                  "title": "Last Sent At"
                },
                "invalid_at": {
                  "type": "string",
                  "description": "When invalid at.",
                  "title": "Invalid At"
                },
                "inactive_at": {
                  "type": "string",
                  "description": "When inactive at.",
                  "title": "Inactive At"
                },
                "confirmed_at": {
                  "type": "string",
                  "description": "When confirmed at.",
                  "title": "Confirmed At"
                },
                "social_platform_id": {
                  "type": "string",
                  "description": "The social platform identifier.",
                  "title": "Social Platform ID"
                },
                "confirmation_sent_at": {
                  "type": "string",
                  "description": "When confirmation sent at.",
                  "title": "Confirmation Sent At"
                },
                "confirmation_sent_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The confirmation sent count.",
                  "title": "Confirmation Sent Count"
                },
                "created_ago": {
                  "type": "string",
                  "description": "How long created ago.",
                  "title": "Created Ago"
                },
                "contact_fields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The contact fields.",
                  "title": "Contact Fields"
                }
              }
            }
          }
        },
        "summary": "Remove contact from list",
        "description": "Removes a contact from a contact list.",
        "operationId": "ListContactDelete",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single",
            "description": "The list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contact_id",
            "in": "path",
            "x-ms-summary": "Contact ID",
            "x-ms-url-encoding": "single",
            "description": "The contact identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/contacts": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "current_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page.",
                  "title": "Current Page"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "email": {
                        "type": "string",
                        "description": "The email address.",
                        "title": "Email"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "The first name.",
                        "title": "First Name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "The last name.",
                        "title": "Last Name"
                      },
                      "ip_address": {
                        "type": "string",
                        "description": "The IP address.",
                        "title": "IP Address"
                      },
                      "unsubscribed_at": {
                        "type": "string",
                        "description": "When unsubscribed at.",
                        "title": "Unsubscribed At"
                      },
                      "bounced_at": {
                        "type": "string",
                        "description": "When bounced at.",
                        "title": "Bounced At"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "form_id": {
                        "type": "string",
                        "description": "The form identifier.",
                        "title": "Form ID"
                      },
                      "contact_import_id": {
                        "type": "string",
                        "description": "The contact import identifier.",
                        "title": "Contact Import ID"
                      },
                      "via_api": {
                        "type": "boolean",
                        "description": "Whether via API.",
                        "title": "Via API"
                      },
                      "last_opened_at": {
                        "type": "string",
                        "description": "When last opened at.",
                        "title": "Last Opened At"
                      },
                      "last_clicked_at": {
                        "type": "string",
                        "description": "When last clicked at.",
                        "title": "Last Clicked At"
                      },
                      "first_sent_at": {
                        "type": "string",
                        "description": "When first sent at.",
                        "title": "First Sent At"
                      },
                      "last_sent_at": {
                        "type": "string",
                        "description": "When last sent at.",
                        "title": "Last Sent At"
                      },
                      "invalid_at": {
                        "type": "string",
                        "description": "When invalid at.",
                        "title": "Invalid At"
                      },
                      "inactive_at": {
                        "type": "string",
                        "description": "When inactive at.",
                        "title": "Inactive At"
                      },
                      "confirmed_at": {
                        "type": "string",
                        "description": "When confirmed at.",
                        "title": "Confirmed At"
                      },
                      "social_platform_id": {
                        "type": "string",
                        "description": "The social platform identifier.",
                        "title": "Social Platform ID"
                      },
                      "confirmation_sent_at": {
                        "type": "string",
                        "description": "When the confirmation sent at.",
                        "title": "Confirmation Sent At"
                      },
                      "confirmation_sent_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The confirmation sent count.",
                        "title": "Confirmation Sent Count"
                      },
                      "created_ago": {
                        "type": "string",
                        "description": "How long created ago.",
                        "title": "Created Ago"
                      },
                      "contact_fields": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The contact fields.",
                        "title": "contact_fields"
                      },
                      "lists": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "created_at": {
                              "type": "string",
                              "description": "When created at.",
                              "title": "Created At"
                            }
                          }
                        },
                        "title": "Lists"
                      }
                    }
                  },
                  "title": "Data"
                },
                "first_page_url": {
                  "type": "string",
                  "description": "The first page URL address.",
                  "title": "First Page URL"
                },
                "from": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number from.",
                  "title": "From"
                },
                "last_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The last page.",
                  "title": "Last Page"
                },
                "last_page_url": {
                  "type": "string",
                  "description": "The last page URL address.",
                  "title": "Last Page URL"
                },
                "next_page_url": {
                  "type": "string",
                  "description": "The next page URL address.",
                  "title": "Next Page URL"
                },
                "path": {
                  "type": "string",
                  "description": "The path.",
                  "title": "Path"
                },
                "per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The per page.",
                  "title": "Per Page"
                },
                "prev_page_url": {
                  "type": "string",
                  "description": "The previous page URL address.",
                  "title": "Prev Page URL"
                },
                "to": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number to.",
                  "title": "To"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number.",
                  "title": "Total"
                }
              }
            }
          }
        },
        "summary": "Get contacts",
        "description": "Retrieve a list of contacts.",
        "operationId": "ContactsGet",
        "parameters": [],
        "x-ms-visibility": "important"
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "first_name": {
                  "type": "string",
                  "description": "The first name.",
                  "title": "First Name"
                },
                "last_name": {
                  "type": "string",
                  "description": "The last name.",
                  "title": "Last Name"
                },
                "ip_address": {
                  "type": "string",
                  "description": "The IP address.",
                  "title": "IP Address"
                },
                "via_api": {
                  "type": "boolean",
                  "description": "Whether via API.",
                  "title": "Via API"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "confirmation_sent_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The confirmation sent count.",
                  "title": "Confirmation Sent Count"
                },
                "created_ago": {
                  "type": "string",
                  "description": "How long created ago.",
                  "title": "Created Ago"
                }
              }
            }
          }
        },
        "summary": "Create contact",
        "x-ms-visibility": "important",
        "description": "Create a new contact with email address.",
        "operationId": "ContactPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "first_name": {
                  "type": "string",
                  "description": "The first name.",
                  "title": "First Name"
                },
                "last_name": {
                  "type": "string",
                  "description": "The last name.",
                  "title": "Last Name"
                },
                "lists": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The lists.",
                  "title": "Lists"
                }
              }
            }
          }
        ]
      }
    },
    "/contacts/{contact_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "first_name": {
                  "type": "string",
                  "description": "The first name.",
                  "title": "First Name"
                },
                "last_name": {
                  "type": "string",
                  "description": "The last name.",
                  "title": "Last Name"
                },
                "ip_address": {
                  "type": "string",
                  "description": "The IP address.",
                  "title": "IP Address"
                },
                "unsubscribed_at": {
                  "type": "string",
                  "description": "When unsubscribed at.",
                  "title": "Unsubscribed At"
                },
                "bounced_at": {
                  "type": "string",
                  "description": "When bounced at.",
                  "title": "Bounced At"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "form_id": {
                  "type": "string",
                  "description": "The form identifier.",
                  "title": "Form ID"
                },
                "contact_import_id": {
                  "type": "string",
                  "description": "The contact import identifier.",
                  "title": "Contact Import ID"
                },
                "via_api": {
                  "type": "boolean",
                  "description": "Whether via API.",
                  "title": "Via API"
                },
                "last_opened_at": {
                  "type": "string",
                  "description": "When last opened at.",
                  "title": "Last Opened At"
                },
                "last_clicked_at": {
                  "type": "string",
                  "description": "When last clicked at.",
                  "title": "Last Clicked At"
                },
                "first_sent_at": {
                  "type": "string",
                  "description": "When first sent at.",
                  "title": "First Sent At"
                },
                "last_sent_at": {
                  "type": "string",
                  "description": "When last sent at.",
                  "title": "Last Sent At"
                },
                "invalid_at": {
                  "type": "string",
                  "description": "When invalid at.",
                  "title": "Invalid At"
                },
                "inactive_at": {
                  "type": "string",
                  "description": "When inactive at.",
                  "title": "Inactive At"
                },
                "confirmed_at": {
                  "type": "string",
                  "description": "When confirmed at.",
                  "title": "Confirmed At"
                },
                "social_platform_id": {
                  "type": "string",
                  "description": "The social platform identifier.",
                  "title": "Social Platform ID"
                },
                "confirmation_sent_at": {
                  "type": "string",
                  "description": "When confirmation sent at.",
                  "title": "Confirmation Sent At"
                },
                "confirmation_sent_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The confirmation sent count.",
                  "title": "Confirmation Sent Count"
                },
                "created_ago": {
                  "type": "string",
                  "description": "How long created ago.",
                  "title": "Created Ago"
                },
                "contact_fields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "value": {
                        "type": "string",
                        "description": "The value.",
                        "title": "Value"
                      }
                    }
                  },
                  "title": "Contact Fields"
                }
              }
            }
          }
        },
        "summary": "Get a contact",
        "description": "Retrieve a contact record by identifier.",
        "operationId": "ContactGet",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "x-ms-summary": "Contact ID",
            "x-ms-url-encoding": "single",
            "description": "The contact identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/unsubscribe": {
      "patch": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "first_name": {
                  "type": "string",
                  "description": "The first name.",
                  "title": "First Name"
                },
                "last_name": {
                  "type": "string",
                  "description": "The last name.",
                  "title": "Last Name"
                },
                "ip_address": {
                  "type": "string",
                  "description": "The IP address.",
                  "title": "IP Address"
                },
                "unsubscribed_at": {
                  "type": "string",
                  "description": "When unsubscribed at.",
                  "title": "Unsubscribed At"
                },
                "bounced_at": {
                  "type": "string",
                  "description": "When bounced at.",
                  "title": "Bounced At"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "form_id": {
                  "type": "string",
                  "description": "The form identifier.",
                  "title": "Form ID"
                },
                "contact_import_id": {
                  "type": "string",
                  "description": "The contact import identifier.",
                  "title": "Contact Import ID"
                },
                "via_api": {
                  "type": "boolean",
                  "description": "Whether via API.",
                  "title": "Via API"
                },
                "last_opened_at": {
                  "type": "string",
                  "description": "When last opened at.",
                  "title": "Last Opened At"
                },
                "last_clicked_at": {
                  "type": "string",
                  "description": "When last clicked at.",
                  "title": "Last Clicked At"
                },
                "first_sent_at": {
                  "type": "string",
                  "description": "When first sent at.",
                  "title": "First Sent At"
                },
                "last_sent_at": {
                  "type": "string",
                  "description": "When last sent at.",
                  "title": "Last Sent At"
                },
                "invalid_at": {
                  "type": "string",
                  "description": "When invalid at.",
                  "title": "Invalid At"
                },
                "inactive_at": {
                  "type": "string",
                  "description": "When inactive at.",
                  "title": "Inactive At"
                },
                "confirmed_at": {
                  "type": "string",
                  "description": "When confirmed at.",
                  "title": "Confirmed At"
                },
                "social_platform_id": {
                  "type": "string",
                  "description": "The social platform identifier.",
                  "title": "Social Platform ID"
                },
                "confirmation_sent_at": {
                  "type": "string",
                  "description": "When confirmation sent at.",
                  "title": "Confirmation Sent At"
                },
                "confirmation_sent_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The confirmation sent count.",
                  "title": "Confirmation Sent Count"
                },
                "created_ago": {
                  "type": "string",
                  "description": "How long created ago.",
                  "title": "Created Ago"
                },
                "contact_fields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The contact fields.",
                  "title": "Contact Fields"
                }
              }
            }
          }
        },
        "summary": "Unsubscribe contact",
        "description": "Unsubscribe a contact and remove them from all lists.",
        "operationId": "UnsubscribePatch",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                }
              },
              "required": [
                "email"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/campaigns": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "current_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page.",
                  "title": "Current Page"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "subject": {
                        "type": "string",
                        "description": "The subject.",
                        "title": "Subject"
                      },
                      "slugged_subject": {
                        "type": "string",
                        "description": "The slugged subject.",
                        "title": "Slugged Subject"
                      },
                      "html": {
                        "type": "string",
                        "description": "The HTML.",
                        "title": "HTML"
                      },
                      "user_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The user identifier.",
                        "title": "User ID"
                      },
                      "automation_item_id": {
                        "type": "string",
                        "description": "The automation item identifier.",
                        "title": "Automation Item ID"
                      },
                      "scheduled_at": {
                        "type": "string",
                        "description": "When scheduled at.",
                        "title": "Scheduled At"
                      },
                      "sent_at": {
                        "type": "string",
                        "description": "When sent at.",
                        "title": "Sent At"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "from_email": {
                        "type": "string",
                        "description": "The from email address.",
                        "title": "From Email"
                      },
                      "from_name": {
                        "type": "string",
                        "description": "The from name.",
                        "title": "From Name"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "The timezone.",
                        "title": "Timezone"
                      },
                      "attempted_send_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The attempted send count.",
                        "title": "Attempted Send Count"
                      },
                      "sent_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The sent count.",
                        "title": "Sent Count"
                      },
                      "unique_open_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique open count.",
                        "title": "Unique Open Count"
                      },
                      "unique_click_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique click count.",
                        "title": "Unique Click Count"
                      },
                      "unsubscribe_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unsubscribe count.",
                        "title": "Unsubscribe Count"
                      },
                      "bounce_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The bounce count.",
                        "title": "Bounce Count"
                      },
                      "spam_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The spam count.",
                        "title": "Spam Count"
                      },
                      "campaign_layout_id": {
                        "type": "string",
                        "description": "The campaign layout identifier.",
                        "title": "Campaign Layout ID"
                      },
                      "throttled_at": {
                        "type": "string",
                        "description": "When throttled at.",
                        "title": "Throttled At"
                      },
                      "cancelled_at": {
                        "type": "string",
                        "description": "When cancelled at.",
                        "title": "Cancelled At"
                      },
                      "active_contacts_only": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The active contacts only count.",
                        "title": "Active Contacts Only"
                      },
                      "smart_campaign_id": {
                        "type": "string",
                        "description": "The smart campaign identifier.",
                        "title": "Smart Campaign ID"
                      },
                      "campaign_category_id": {
                        "type": "string",
                        "description": "The campaign category identifier.",
                        "title": "Campaign Category ID"
                      },
                      "preview_text": {
                        "type": "string",
                        "description": "The preview text.",
                        "title": "Preview Text"
                      },
                      "approval_required_at": {
                        "type": "string",
                        "description": "The approval required at.",
                        "title": "Approval Required At"
                      },
                      "subject_tester_results": {
                        "type": "object",
                        "properties": {
                          "subject": {
                            "type": "string",
                            "description": "The subject.",
                            "title": "Subject"
                          },
                          "words": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The words.",
                            "title": "Words"
                          },
                          "score": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The score.",
                            "title": "Score"
                          },
                          "testMethods": {
                            "type": "object",
                            "properties": {
                              "exclamationTest": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The exclamation test.",
                                "title": "Exclamation Test"
                              },
                              "tooShortTest": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The too short test.",
                                "title": "Too Short Test"
                              },
                              "tooLongTest": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The too long test.",
                                "title": "Too Long Test"
                              },
                              "fwdReTest": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The forward retest.",
                                "title": "Fwd ReTest"
                              },
                              "freeTest": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The free test.",
                                "title": "Free Test"
                              },
                              "capsWordsTest": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The caps word test.",
                                "title": "Caps Words Test"
                              },
                              "lowercaseTest": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The lowercase test.",
                                "title": "Lowercase Test"
                              },
                              "questionTest": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The question test.",
                                "title": "Question Test"
                              },
                              "punctuationTest": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The punctuation test.",
                                "title": "Punctuation Test"
                              },
                              "personalizationTest": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The personalization test.",
                                "title": "Personalization Test"
                              },
                              "emojiTest": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The emoji test.",
                                "title": "Emoji Test"
                              },
                              "badWordTest": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The bad word test.",
                                "title": "Bad Word Test"
                              },
                              "spamWordTest": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The spam word test.",
                                "title": "Spam Word Test"
                              }
                            },
                            "title": "Test Methods"
                          },
                          "testResults": {
                            "type": "object",
                            "properties": {
                              "exclamationTest": {
                                "type": "boolean",
                                "description": "Whether exclamation test passed.",
                                "title": "Exclamation Test"
                              },
                              "tooShortTest": {
                                "type": "boolean",
                                "description": "Whether too short test passed.",
                                "title": "Too Short Test"
                              },
                              "tooLongTest": {
                                "type": "boolean",
                                "description": "Whether too long test passed.",
                                "title": "Too Long Test"
                              },
                              "fwdReTest": {
                                "type": "boolean",
                                "description": "Whether forward retest passed.",
                                "title": "Fwd ReTest"
                              },
                              "freeTest": {
                                "type": "boolean",
                                "description": "Whether free test passed.",
                                "title": "Free Test"
                              },
                              "capsWordsTest": {
                                "type": "boolean",
                                "description": "Whether caps words test passed.",
                                "title": "Caps Words Test"
                              },
                              "lowercaseTest": {
                                "type": "boolean",
                                "description": "Whether lowercase test passed.",
                                "title": "Lowercase Test"
                              },
                              "questionTest": {
                                "type": "boolean",
                                "description": "Whether question test passed.",
                                "title": "Question Test"
                              },
                              "punctuationTest": {
                                "type": "boolean",
                                "description": "Whether punctuation test passed.",
                                "title": "Punctuation Test"
                              },
                              "personalizationTest": {
                                "type": "boolean",
                                "description": "Whether personalization test passed.",
                                "title": "Personalization Test"
                              },
                              "emojiTest": {
                                "type": "boolean",
                                "description": "Whether emoji test passed.",
                                "title": "Emoji Test"
                              },
                              "badWordTest": {
                                "type": "boolean",
                                "description": "Whether bad word test passed.",
                                "title": "Bad Word Test"
                              },
                              "spamWordTest": {
                                "type": "boolean",
                                "description": "Whether spam word test passed.",
                                "title": "Spam Word Test"
                              }
                            },
                            "title": "TestResults"
                          },
                          "badWords": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The bad words.",
                            "title": "Bad Words"
                          },
                          "spamWords": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The spam words.",
                            "title": "Spam Words"
                          },
                          "letterGrade": {
                            "type": "string",
                            "description": "The letter grade.",
                            "title": "Letter Grade"
                          }
                        },
                        "title": "Subject Tester Results"
                      },
                      "preview_text_auto": {
                        "type": "string",
                        "description": "The auto preview text.",
                        "title": "Preview Text Auto"
                      }
                    }
                  },
                  "title": "Data"
                },
                "first_page_url": {
                  "type": "string",
                  "description": "The first page URL address.",
                  "title": "First Page URL"
                },
                "from": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number from.",
                  "title": "From"
                },
                "last_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The last page.",
                  "title": "Last Page"
                },
                "last_page_url": {
                  "type": "string",
                  "description": "The last page URL address.",
                  "title": "Last Page URL"
                },
                "next_page_url": {
                  "type": "string",
                  "description": "The next page URL address.",
                  "title": "Next Page URL"
                },
                "path": {
                  "type": "string",
                  "description": "The path.",
                  "title": "Path"
                },
                "per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The per page.",
                  "title": "Per Page"
                },
                "prev_page_url": {
                  "type": "string",
                  "description": "The previous page URL address.",
                  "title": "Prev Page URL"
                },
                "to": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number to.",
                  "title": "To"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number.",
                  "title": "Total"
                }
              }
            }
          }
        },
        "summary": "Get campaigns",
        "description": "Retrieve a list of your campaigns.",
        "operationId": "CampaignsGet",
        "parameters": []
      }
    },
    "/campaigns/{campaign_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "subject": {
                  "type": "string",
                  "description": "The subject.",
                  "title": "Subject"
                },
                "slugged_subject": {
                  "type": "string",
                  "description": "The slugged subject.",
                  "title": "Slugged Subject"
                },
                "html": {
                  "type": "string",
                  "description": "The HTML.",
                  "title": "HTML"
                },
                "user_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The user identifier.",
                  "title": "User ID"
                },
                "automation_item_id": {
                  "type": "string",
                  "description": "The automation item identifier.",
                  "title": "Automation Item ID"
                },
                "scheduled_at": {
                  "type": "string",
                  "description": "When scheduled at.",
                  "title": "Scheduled At"
                },
                "sent_at": {
                  "type": "string",
                  "description": "When sent at.",
                  "title": "Sent At"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "from_email": {
                  "type": "string",
                  "description": "The from email address.",
                  "title": "From Email"
                },
                "from_name": {
                  "type": "string",
                  "description": "The from name.",
                  "title": "From Name"
                },
                "timezone": {
                  "type": "string",
                  "description": "The timezone.",
                  "title": "Timezone"
                },
                "attempted_send_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The attempted send count.",
                  "title": "Attempted Send Count"
                },
                "sent_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The sent count.",
                  "title": "Sent Count"
                },
                "unique_open_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique open count.",
                  "title": "Unique Open Count"
                },
                "unique_click_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique click count.",
                  "title": "Unique Click Count"
                },
                "unsubscribe_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unsubscribe count.",
                  "title": "Unsubscribe Count"
                },
                "bounce_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The bounce count.",
                  "title": "Bounce Count"
                },
                "spam_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The spam count.",
                  "title": "Spam Count"
                },
                "campaign_layout_id": {
                  "type": "string",
                  "description": "The campaign layout identifier.",
                  "title": "Campaign Layout ID"
                },
                "throttled_at": {
                  "type": "string",
                  "description": "When throttled at.",
                  "title": "Throttled At"
                },
                "cancelled_at": {
                  "type": "string",
                  "description": "When cancelled at.",
                  "title": "Cancelled At"
                },
                "active_contacts_only": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of active contacts only.",
                  "title": "Active Contacts Only"
                },
                "smart_campaign_id": {
                  "type": "string",
                  "description": "The smart campaign identifier.",
                  "title": "Smart Campaign ID"
                },
                "campaign_category_id": {
                  "type": "string",
                  "description": "The campaign category identifier.",
                  "title": "Campaign Category ID"
                },
                "preview_text": {
                  "type": "string",
                  "description": "The preview text.",
                  "title": "Preview Text"
                },
                "approval_required_at": {
                  "type": "string",
                  "description": "The approval required at.",
                  "title": "Approval Required At"
                },
                "subject_tester_results": {
                  "type": "object",
                  "properties": {
                    "subject": {
                      "type": "string",
                      "description": "The subject.",
                      "title": "Subject"
                    },
                    "words": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The words.",
                      "title": "Words"
                    },
                    "score": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The score.",
                      "title": "Score"
                    },
                    "testMethods": {
                      "type": "object",
                      "properties": {
                        "exclamationTest": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The exclamation test.",
                          "title": "Exclamation Test"
                        },
                        "tooShortTest": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The too short test.",
                          "title": "Too Short Test"
                        },
                        "tooLongTest": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The too long test.",
                          "title": "TooLongTest"
                        },
                        "fwdReTest": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The forward retest.",
                          "title": "Fwd ReTest"
                        },
                        "freeTest": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The free test.",
                          "title": "FreeTest"
                        },
                        "capsWordsTest": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The caps words test.",
                          "title": "Caps Words Test"
                        },
                        "lowercaseTest": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The lowercase test.",
                          "title": "Lowercase Test"
                        },
                        "questionTest": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The question test.",
                          "title": "Question Test"
                        },
                        "punctuationTest": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The punctuation test.",
                          "title": "Punctuation Test"
                        },
                        "personalizationTest": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The personalization test.",
                          "title": "Personalization Test"
                        },
                        "emojiTest": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The emoji test.",
                          "title": "EmojiTest"
                        },
                        "badWordTest": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The bad word test.",
                          "title": "Bad Word Test"
                        },
                        "spamWordTest": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The spam word test.",
                          "title": "Spam Word Test"
                        }
                      },
                      "title": "Test Methods"
                    },
                    "testResults": {
                      "type": "object",
                      "properties": {
                        "exclamationTest": {
                          "type": "boolean",
                          "description": "The exclamation test.",
                          "title": "Exclamation Test"
                        },
                        "tooShortTest": {
                          "type": "boolean",
                          "description": "The too short test.",
                          "title": "Too Short Test"
                        },
                        "tooLongTest": {
                          "type": "boolean",
                          "description": "The too long test.",
                          "title": "TooLongTest"
                        },
                        "fwdReTest": {
                          "type": "boolean",
                          "description": "The forward retest.",
                          "title": "Fwd ReTest"
                        },
                        "freeTest": {
                          "type": "boolean",
                          "description": "The free test.",
                          "title": "FreeTest"
                        },
                        "capsWordsTest": {
                          "type": "boolean",
                          "description": "The caps words test.",
                          "title": "Caps Words Test"
                        },
                        "lowercaseTest": {
                          "type": "boolean",
                          "description": "The lowercase test.",
                          "title": "Lowercase Test"
                        },
                        "questionTest": {
                          "type": "boolean",
                          "description": "The question test.",
                          "title": "Question Test"
                        },
                        "punctuationTest": {
                          "type": "boolean",
                          "description": "The punctuation test.",
                          "title": "Punctuation Test"
                        },
                        "personalizationTest": {
                          "type": "boolean",
                          "description": "The personalization test.",
                          "title": "Personalization Test"
                        },
                        "emojiTest": {
                          "type": "boolean",
                          "description": "The emoji test.",
                          "title": "EmojiTest"
                        },
                        "badWordTest": {
                          "type": "boolean",
                          "description": "The bad word test.",
                          "title": "Bad Word Test"
                        },
                        "spamWordTest": {
                          "type": "boolean",
                          "description": "The spam word test.",
                          "title": "Spam Word Test"
                        }
                      },
                      "title": "Test Results"
                    },
                    "badWords": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The bad words.",
                      "title": "Bad Words"
                    },
                    "spamWords": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The spam words.",
                      "title": "Spam Words"
                    },
                    "letterGrade": {
                      "type": "string",
                      "description": "The letter grade.",
                      "title": "Letter Grade"
                    }
                  },
                  "title": "Subject Tester Results"
                },
                "preview_text_auto": {
                  "type": "string",
                  "description": "The auto preview text.",
                  "title": "Preview Text Auto"
                }
              }
            }
          }
        },
        "summary": "Get a campaign",
        "description": "Retrieve a campaign by identifier.",
        "operationId": "CampaignGet",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single",
            "description": "The campaign identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://sendfox.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://sendfox.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing;Website"
    }
  ]
}