{
  "swagger": "2.0",
  "info": {
    "title": "N-able Cloud User Hub",
    "description": "Cloud User Hub is a unified Microsoft CSP portal that lets you automate common tasks across all Microsoft 365 apps without switching consoles or customers.",
    "contact": {
      "name": "Cloud User Hub Support",
      "url": "https://documentation.clouduserhub.management/kb/en",
      "email": "technicalsupport@n-able.com"
    },
    "version": "1.2.18"
  },
  "host": "apis.clouduserhub.management",
  "basePath": "/clouduserhub",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/directory/v1/locales": {
      "get": {
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "OData context.",
                  "title": "OData context"
                },
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "OData count.",
                  "title": "Count"
                },
                "@odata.nextLink": {
                  "type": "string",
                  "description": "OData nextlink.",
                  "title": "OData nextLink"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Locale identifier.",
                        "title": "Id"
                      },
                      "localeCode": {
                        "type": "string",
                        "description": "ISO-639 Language Codes.",
                        "title": "Locale code"
                      },
                      "countryCode": {
                        "type": "string",
                        "description": "ISO-3166 Country Codes.",
                        "title": "Country code"
                      },
                      "countryName": {
                        "type": "string",
                        "description": "Country name.",
                        "title": "Country name"
                      }
                    }
                  },
                  "description": "Value."
                }
              }
            }
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Spinpanel APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "summary": "Get locales",
        "description": "Get locales.",
        "operationId": "GetLocales",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "spinpanel.platform",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "advanced"
      }
    },
    "/directory/v1/users": {
      "get": {
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "OData count.",
                  "title": "OData count"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "organizationId": {
                        "type": "string",
                        "description": "Cloud User Hub organization identifier.",
                        "title": "Organization id"
                      },
                      "microsoftObjectIdentifier": {
                        "type": "string",
                        "description": "Microsoft object identifier of the user.",
                        "title": "Microsoft object identifier"
                      },
                      "upn": {
                        "type": "string",
                        "description": "User principal name of the user.",
                        "title": "User principal name"
                      },
                      "firstName": {
                        "type": "string",
                        "description": "First name of the user.",
                        "title": "First name"
                      },
                      "lastName": {
                        "type": "string",
                        "description": "Last name of the user.",
                        "title": "Last name"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Display name of the user.",
                        "title": "Display name"
                      },
                      "language": {
                        "type": "string",
                        "description": "Language of the user.",
                        "title": "Language"
                      },
                      "usageLocation": {
                        "type": "string",
                        "description": "Usage location of the user.",
                        "title": "Usage location"
                      },
                      "id": {
                        "type": "string",
                        "description": "Cloud User Hub identifier of the user.",
                        "title": "Id"
                      },
                      "createdOn": {
                        "type": "string",
                        "description": "Created On.",
                        "title": "Created On"
                      },
                      "modifiedOn": {
                        "type": "string",
                        "description": "Modified on.",
                        "title": "Modified on"
                      }
                    }
                  },
                  "description": "Value."
                }
              }
            }
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Filter on users in an organization. Use: organizationId in ('{organizationId}').",
            "x-ms-summary": "Filter users."
          },
          {
            "name": "provider",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "spinpanel.users",
            "x-ms-visibility": "internal"
          }
        ],
        "summary": "Get users",
        "description": "Retrieve a list of user objects.",
        "operationId": "GetUsers"
      }
    },
    "/graph/v1/organizations/{organizationId}/v1.0/users/{microsoftObjectId}": {
      "get": {
        "responses": {
          "200": {
            "description": "Ok.",
            "schema": {
              "type": "object",
              "properties": {
                "accountEnabled": {
                  "type": "boolean",
                  "description": "Account enabled true or false.",
                  "title": "Account enabled",
                  "enum": [
                    true,
                    false
                  ]
                },
                "employeeId": {
                  "type": "string",
                  "description": "Employee identifier of the user.",
                  "title": "Employee id"
                },
                "displayName": {
                  "type": "string",
                  "description": "Display name of the user.",
                  "title": "Display name"
                },
                "givenName": {
                  "type": "string",
                  "description": "Given name of the user.",
                  "title": "Given name"
                },
                "surname": {
                  "type": "string",
                  "description": "Surname of the user.",
                  "title": "Surname"
                },
                "userPrincipalName": {
                  "type": "string",
                  "description": "User principal name of the user.",
                  "title": "User principal name"
                },
                "jobTitle": {
                  "type": "string",
                  "description": "Job title of the user.",
                  "title": "Job title"
                },
                "department": {
                  "type": "string",
                  "description": "Department of the user.",
                  "title": "Department"
                },
                "companyName": {
                  "type": "string",
                  "description": "Company name of the user.",
                  "title": "Company name"
                },
                "usageLocation": {
                  "type": "string",
                  "description": "Usage location of the user.",
                  "title": "Usagelocation"
                },
                "streetAddress": {
                  "type": "string",
                  "description": "Street address of the user.",
                  "title": "Street address"
                },
                "city": {
                  "type": "string",
                  "description": "City of the user.",
                  "title": "City"
                },
                "state": {
                  "type": "string",
                  "description": "State of the user.",
                  "title": "State"
                },
                "postalCode": {
                  "type": "string",
                  "description": "Postal code of the user.",
                  "title": "Postal code"
                },
                "country": {
                  "type": "string",
                  "description": "Country of the user.",
                  "title": "Country"
                }
              }
            }
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "summary": "Get user details",
        "description": "Get a user by Microsoft object identifier.",
        "operationId": "GetGraphUser",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub organization identifier.",
            "x-ms-summary": "Cloud User Hub organization id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "microsoftObjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Microsoft object identifier of the user.",
            "x-ms-summary": "Microsoft object id of the user.",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "summary": "Delete user",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub organization identifier.",
            "x-ms-summary": "Cloud User Hub organization id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "microsoftObjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Microsoft object identifier of the user.",
            "x-ms-summary": "Microsoft object id of the user.",
            "x-ms-url-encoding": "single"
          }
        ],
        "operationId": "DeleteGraphUser",
        "description": "Delete a user. When deleted, user resources are moved to a temporary container and can be restored within 30 days. After that time, they are permanently deleted."
      },
      "patch": {
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "summary": "User change password",
        "description": "Update the password profile of a user to reset their password.",
        "operationId": "PatchGraphUserPassword",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub organization identifier.",
            "x-ms-summary": "Cloud User Hub organization id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "microsoftObjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Microsoft object identifier of the user.",
            "x-ms-summary": "Microsoft object id of the user.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "passwordProfile": {
                  "type": "object",
                  "properties": {
                    "forceChangePasswordNextSignIn": {
                      "type": "boolean",
                      "description": "Force the user to change the password at next signin.",
                      "title": "Force password change at signin",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "password": {
                      "type": "string",
                      "description": "New password to set.",
                      "title": "Password"
                    }
                  },
                  "description": "Password profile."
                }
              }
            }
          }
        ]
      }
    },
    "/directory/v1/organizations": {
      "get": {
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "OData count.",
                  "title": "OData count"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the Azure AD organization.",
                        "title": "Name"
                      },
                      "microsoftTenantId": {
                        "type": "string",
                        "description": "Microsoft tenant identifier of the organization.",
                        "title": "Microsoft tenantId"
                      },
                      "createdOn": {
                        "type": "string",
                        "description": "Created on.",
                        "title": "Created on"
                      },
                      "modifiedOn": {
                        "type": "string",
                        "description": "Modified on.",
                        "title": "Modified on"
                      },
                      "id": {
                        "type": "string",
                        "description": "Cloud User Hub identifier.",
                        "title": "Id"
                      }
                    }
                  },
                  "description": "Value."
                }
              }
            }
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "summary": "Get organizations",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "spinpanel.users",
            "x-ms-visibility": "internal"
          }
        ],
        "operationId": "GetOrganizations",
        "description": "Get all organizations you are authorized to view."
      }
    },
    "/graph/v1/organizations/{organizationId}/v1.0/users": {
      "post": {
        "responses": {
          "201": {
            "description": "Created.",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "OData context.",
                  "title": "OData context"
                },
                "id": {
                  "type": "string",
                  "description": "Cloud User Hub Identifier.",
                  "title": "Id"
                },
                "businessPhones": {
                  "type": "array",
                  "items": {
                    "description": "The telephone numbers for the user. NOTE: Although this is a string collection, only one number can be set for this property.",
                    "title": "Business phones",
                    "type": "string"
                  },
                  "description": "Business phones of the user."
                },
                "displayName": {
                  "type": "string",
                  "description": "Display name of the user.",
                  "title": "Display name"
                },
                "givenName": {
                  "type": "string",
                  "description": "Given name.",
                  "title": "Given name"
                },
                "jobTitle": {
                  "type": "string",
                  "description": "Job title of the user.",
                  "title": "Job title"
                },
                "mail": {
                  "type": "string",
                  "description": "E-mail address of the user.",
                  "title": "Mail"
                },
                "mobilePhone": {
                  "type": "string",
                  "description": "Mobile phonenumber of the user.",
                  "title": "Mobile phone"
                },
                "officeLocation": {
                  "type": "string",
                  "description": "Office location of the user.",
                  "title": "Office location"
                },
                "preferredLanguage": {
                  "type": "string",
                  "description": "Preferred language as configured in Azure AD.",
                  "title": "Preferred language"
                },
                "surname": {
                  "type": "string",
                  "description": "Surname of the user.",
                  "title": "Surname"
                },
                "userPrincipalName": {
                  "type": "string",
                  "description": "User principal name of the user.",
                  "title": "User Principal Name"
                }
              }
            }
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "summary": "Create user",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub organization identifier.",
            "x-ms-summary": "Cloud User Hub organization id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "accountEnabled": {
                  "type": "boolean",
                  "description": "Account enabled true or false.",
                  "title": "Account enabled",
                  "enum": [
                    true,
                    false
                  ]
                },
                "displayName": {
                  "type": "string",
                  "description": "Display name of the user.",
                  "title": "Display name"
                },
                "mailNickname": {
                  "type": "string",
                  "description": "Mail nickname of the user.",
                  "title": "Mail nickname"
                },
                "userPrincipalName": {
                  "type": "string",
                  "description": "User principal name of the user.",
                  "title": "User principal name"
                },
                "passwordProfile": {
                  "type": "object",
                  "properties": {
                    "forceChangePasswordNextSignIn": {
                      "type": "boolean",
                      "description": "Force the user to change the password at next sign in.",
                      "title": "Force change password next signin",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "password": {
                      "type": "string",
                      "description": "New password for the user.",
                      "title": "Password"
                    }
                  },
                  "description": "Password profile."
                }
              }
            }
          }
        ],
        "operationId": "PostGraphUser",
        "description": "The request body contains the user to create. At a minimum, you must specify the required properties for the user. You can optionally specify any other writable properties."
      }
    },
    "/graph/v1/organizations/{organizationId}/v1.0/users/{microsoftObjectId}/licenseDetails": {
      "get": {
        "responses": {
          "200": {
            "description": "Ok.",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identifier of the user's license.",
                        "title": "Id"
                      },
                      "skuId": {
                        "type": "string",
                        "description": "Sku identifier of the Microsoft license.",
                        "title": "Sku id"
                      },
                      "skuPartNumber": {
                        "type": "string",
                        "description": "Sku partnumber of the Microsoft license.",
                        "title": "Sku partnumber"
                      },
                      "servicePlans": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "servicePlanId": {
                              "type": "string",
                              "description": "Serviceplan identifier."
                            },
                            "servicePlanName": {
                              "type": "string",
                              "description": "Serviceplan name."
                            },
                            "provisioningStatus": {
                              "type": "string",
                              "description": "Provisioning status."
                            },
                            "appliesTo": {
                              "type": "string",
                              "description": "Applies to."
                            }
                          }
                        },
                        "description": "Service plans."
                      }
                    }
                  },
                  "description": "Value."
                }
              }
            }
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub organization identifier.",
            "x-ms-summary": "Cloud User Hub organization id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "microsoftObjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Microsoft object identifier of the user.",
            "x-ms-summary": "Microsoft object id of the user.",
            "x-ms-url-encoding": "single"
          }
        ],
        "summary": "Get user license details",
        "description": "Retrieve a list of license details objects for enterprise users.",
        "operationId": "GetUserLicenseDetails"
      }
    },
    "/graph/v1/organizations/{organizationId}/v1.0/subscribedSkus": {
      "get": {
        "responses": {
          "200": {
            "description": "Ok.",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "capabilityStatus": {
                        "type": "string",
                        "description": "Capability status of the Microsoft sku.",
                        "title": "Capability status"
                      },
                      "consumedUnits": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Consumed units for this sku.",
                        "title": "Consumed units"
                      },
                      "id": {
                        "type": "string",
                        "description": "Identifier of the subscribed sku object.",
                        "title": "Id"
                      },
                      "skuId": {
                        "type": "string",
                        "description": "Sku identifier of the Microsoft license.",
                        "title": "Sku id"
                      },
                      "skuPartNumber": {
                        "type": "string",
                        "description": "Sku partnumber of the Microsoft license.",
                        "title": "Sku partnumber"
                      },
                      "appliesTo": {
                        "type": "string",
                        "description": "Applies to user or organization.",
                        "title": "Applies to"
                      },
                      "prepaidUnits": {
                        "type": "object",
                        "properties": {
                          "enabled": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Enabled subscribed skus.",
                            "title": "Enabled"
                          },
                          "suspended": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Suspended subscribed skus.",
                            "title": "Suspended"
                          },
                          "warning": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Subscribed skus with warning.",
                            "title": "Warning"
                          }
                        },
                        "description": "Prepaid units."
                      },
                      "servicePlans": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "servicePlanId": {
                              "type": "string",
                              "description": "Serviceplan identifier."
                            },
                            "servicePlanName": {
                              "type": "string",
                              "description": "Serviceplan name."
                            },
                            "provisioningStatus": {
                              "type": "string",
                              "description": "Provisioning status."
                            },
                            "appliesTo": {
                              "type": "string",
                              "description": "Applies to."
                            }
                          }
                        },
                        "description": "Service plans."
                      }
                    }
                  },
                  "description": "Value."
                }
              }
            }
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "summary": "Get organization subscribed SKUs",
        "description": "Get the list of commercial subscriptions that an organization has acquired.",
        "operationId": "GetsubscribedSkus",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub organization identifier.",
            "x-ms-summary": "Cloud User Hub organization id.",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/graph/v1/organizations/{organizationId}/v1.0/users/{microsoftObjectId}/assignlicense": {
      "post": {
        "responses": {
          "201": {
            "description": "Created.",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identifier of the license object.",
                        "title": "Id"
                      },
                      "skuId": {
                        "type": "string",
                        "description": "Microsoft sku identifier.",
                        "title": "Sku id"
                      },
                      "skuPartNumber": {
                        "type": "string",
                        "description": "Microsoft Sku partnumber.",
                        "title": "Sku partnumber"
                      },
                      "servicePlans": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "servicePlanId": {
                              "type": "string",
                              "description": "Serviceplan identifier."
                            },
                            "servicePlanName": {
                              "type": "string",
                              "description": "Serviceplan name."
                            },
                            "provisioningStatus": {
                              "type": "string",
                              "description": "Provisioning status."
                            },
                            "appliesTo": {
                              "type": "string",
                              "description": "Applies to."
                            }
                          }
                        },
                        "description": "Service plans."
                      }
                    }
                  },
                  "description": "Value."
                }
              }
            }
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub organization identifier.",
            "x-ms-summary": "Cloud User Hub organization id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "microsoftObjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Microsoft object identifier of the user.",
            "x-ms-summary": "Microsoft object id of the user.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "addLicenses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "disabledPlans": {
                        "type": "array",
                        "items": {},
                        "description": "Disabled plans."
                      },
                      "skuId": {
                        "type": "string",
                        "description": "Sku identifier of the Microsoft license.",
                        "title": "Sku id"
                      }
                    }
                  },
                  "description": "Add licenses."
                },
                "removeLicenses": {
                  "type": "array",
                  "items": {},
                  "description": "A collection of GUIDs that identify the licenses to remove.",
                  "title": "Remove licenses"
                }
              }
            }
          }
        ],
        "description": "Add or remove licenses for the user. You can also enable and disable specific plans associated with a license.",
        "operationId": "PostUserLicense",
        "summary": "Assign a license to a user"
      }
    },
    "/directory/v1/usergroups": {
      "get": {
        "responses": {
          "200": {
            "description": "Ok.",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "OData count.",
                  "title": "Count"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "organizationId": {
                        "type": "string",
                        "description": "Cloud User Hub organization identifier.",
                        "title": "Organization Id"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the group.",
                        "title": "Name"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description for the group.",
                        "title": "Description"
                      },
                      "id": {
                        "type": "string",
                        "description": "Identifier of the group.",
                        "title": "Id"
                      },
                      "createdOn": {
                        "type": "string",
                        "description": "Created on.",
                        "title": "Created on"
                      },
                      "modifiedOn": {
                        "type": "string",
                        "description": "Modified on.",
                        "title": "Modified on"
                      }
                    }
                  },
                  "description": "Value."
                }
              }
            }
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Filter on groups in an organization. Use: organizationId in ('{organizationId}').",
            "x-ms-summary": "Filter groups."
          },
          {
            "name": "provider",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "spinpanel.groups",
            "x-ms-visibility": "internal"
          }
        ],
        "summary": "Get Cloud User Hub user groups",
        "description": "Get a list of groups of all organizations you are authorized to view.",
        "operationId": "GetGroups"
      }
    },
    "/directory/v1/organizations/{organizationId}/usergroups/{userGroupId}/members": {
      "get": {
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "OData count.",
                  "title": "Count"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name.",
                        "title": "Name"
                      },
                      "upn": {
                        "type": "string",
                        "description": "User principal name of the group.",
                        "title": "User principal name"
                      },
                      "id": {
                        "type": "string",
                        "description": "Identifier of the group member object.",
                        "title": "Id"
                      },
                      "groupId": {
                        "type": "string",
                        "description": "Cloud User Hub identifier of the group.",
                        "title": "Group id"
                      },
                      "createdOn": {
                        "type": "string",
                        "description": "Created on.",
                        "title": "Created on"
                      },
                      "modifiedOn": {
                        "type": "string",
                        "description": "Modified on.",
                        "title": "Modified on"
                      }
                    }
                  },
                  "description": "Value."
                }
              }
            }
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub organization identifier.",
            "x-ms-summary": "Cloud User Hub organization id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "userGroupId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub identifier of the group.",
            "x-ms-summary": "Cloud User Hub identifier of the group.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "provider",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "spinpanel.groups",
            "x-ms-visibility": "internal"
          }
        ],
        "summary": "Get a list of Cloud User Hub user group members",
        "description": "Get a list of user group members of a specific group.",
        "operationId": "UserGroupMembers"
      }
    },
    "/graph/v1/organizations/{organizationId}/v1.0/groups": {
      "get": {
        "responses": {
          "200": {
            "description": "Ok.",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdDateTime": {
                        "type": "string",
                        "description": "Created on.",
                        "title": "Created on"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Display name.",
                        "title": "Displayname"
                      },
                      "groupTypes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Group types."
                      },
                      "id": {
                        "type": "string",
                        "description": "Microsoft object identifier of the group.",
                        "title": "Id"
                      },
                      "securityEnabled": {
                        "type": "boolean",
                        "description": "Indicates if the group is security enabled.",
                        "title": "Security enabled",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "mail": {
                        "type": "string",
                        "description": "E-mail address of the group.",
                        "title": "Mail"
                      }
                    }
                  },
                  "description": "Value."
                }
              }
            }
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub organization identifier.",
            "x-ms-summary": "Cloud User Hub organization id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$select",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "createdDateTime,displayName,groupTypes,id,securityEnabled",
            "x-ms-visibility": "internal"
          }
        ],
        "operationId": "GetADSecurityGroups",
        "summary": "Get Azure AD security groups",
        "description": "Get a list of Azure AD security groups of all organizations you are authorized to view."
      },
      "post": {
        "responses": {
          "201": {
            "description": "Created.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Identifier of the group.",
                  "title": "Id"
                },
                "deletedDateTime": {
                  "type": "string",
                  "description": "Deleted on.",
                  "title": "Deleted on"
                },
                "classification": {
                  "type": "string",
                  "description": "Classification of the group.",
                  "title": "Classification"
                },
                "createdDateTime": {
                  "type": "string",
                  "description": "Created on.",
                  "title": "Created on"
                },
                "creationOptions": {
                  "type": "array",
                  "items": {
                    "description": "Created options of the group.",
                    "title": "Created options",
                    "type": "string"
                  },
                  "description": "Creation options."
                },
                "description": {
                  "type": "string",
                  "description": "Description.",
                  "title": "Description"
                },
                "displayName": {
                  "type": "string",
                  "description": "Display name.",
                  "title": "Display name"
                },
                "groupTypes": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Group types for the group.",
                    "title": "Group types"
                  },
                  "description": "groupTypes"
                },
                "mail": {
                  "type": "string",
                  "description": "E-mail address of the group.",
                  "title": "Mail"
                },
                "mailEnabled": {
                  "type": "boolean",
                  "description": "Indicates the group is mail enabled.",
                  "title": "Mail enabled",
                  "enum": [
                    true,
                    false
                  ]
                },
                "mailNickname": {
                  "type": "string",
                  "description": "Mail nickname of the group.",
                  "title": "Mail nickname"
                },
                "onPremisesLastSyncDateTime": {
                  "type": "string",
                  "description": "Indicates when the group was synced to on premise.",
                  "title": "On premise last sync"
                },
                "onPremisesSecurityIdentifier": {
                  "type": "string",
                  "description": "On premise security identifier of the group.",
                  "title": "On premise security identifier"
                },
                "onPremisesSyncEnabled": {
                  "type": "string",
                  "description": "Indicates if on premise sync is enabled.",
                  "title": "On premise sync enabled"
                },
                "preferredDataLocation": {
                  "type": "string",
                  "description": "Preferred data location of the group.",
                  "title": "Preferred data location"
                },
                "proxyAddresses": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Proxy addresses of the group.",
                    "title": "Proxy addresses"
                  },
                  "description": "Proxy addresses."
                },
                "renewedDateTime": {
                  "type": "string",
                  "description": "Renewed date time of the group.",
                  "title": "Renewed"
                },
                "resourceBehaviorOptions": {
                  "type": "array",
                  "items": {
                    "description": "Resource behavior options of the group.",
                    "title": "Resource behaviour options",
                    "type": "string"
                  },
                  "description": "Resource behavior options."
                },
                "resourceProvisioningOptions": {
                  "type": "array",
                  "items": {
                    "description": "Resource provisioning options of the group.",
                    "title": "Resource provisioning options",
                    "type": "string"
                  },
                  "description": "Resource provsioning options."
                },
                "securityEnabled": {
                  "type": "boolean",
                  "description": "Indicates if the group is security enabled.",
                  "title": "Security enabled",
                  "enum": [
                    true,
                    false
                  ]
                },
                "visibility": {
                  "type": "string",
                  "description": "Visibility of the group.",
                  "title": "Visbility"
                },
                "onPremisesProvisioningErrors": {
                  "type": "array",
                  "items": {
                    "description": "On premise provisioning errors of the group.",
                    "title": "On premise provisioning errors",
                    "type": "string"
                  },
                  "description": "On premise provisioning errors."
                }
              }
            }
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "summary": "Create Azure AD group",
        "operationId": "PostGraphGroup",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub organization identifier.",
            "x-ms-summary": "Cloud User Hub organization id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "Description of the group.",
                  "title": "Description"
                },
                "displayName": {
                  "type": "string",
                  "description": "Display name of the group.",
                  "title": "Display name"
                },
                "groupTypes": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Group types for the group.",
                    "title": "Group types"
                  },
                  "description": "Group types."
                },
                "mailEnabled": {
                  "type": "boolean",
                  "description": "Indicates if the group is mail enabled.",
                  "title": "Mail enabled",
                  "enum": [
                    true,
                    false
                  ]
                },
                "mailNickname": {
                  "type": "string",
                  "description": "Mail nickname of the group.",
                  "title": "Mail nickname"
                },
                "securityEnabled": {
                  "type": "boolean",
                  "description": "Indicates if the group is security enabled.",
                  "title": "Security enabled",
                  "enum": [
                    true,
                    false
                  ]
                }
              }
            }
          }
        ],
        "description": "Create azure AD group."
      }
    },
    "/graph/v1/organizations/{organizationId}/v1.0/domains": {
      "get": {
        "responses": {
          "200": {
            "description": "Ok.",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "authenticationType": {
                        "type": "string",
                        "description": "Authentication type of the domain.",
                        "title": "Authentication type"
                      },
                      "availabilityStatus": {
                        "type": "string",
                        "description": "Availability status of the domain.",
                        "title": "Availability status"
                      },
                      "id": {
                        "type": "string",
                        "description": "Identifier of the domain.",
                        "title": "Id"
                      },
                      "isAdminManaged": {
                        "type": "boolean",
                        "description": "Indicates if the domain is admin managed.",
                        "title": "Admin managed",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "isDefault": {
                        "type": "boolean",
                        "description": "Indicates if this is the default domain.",
                        "title": "Default",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "isInitial": {
                        "type": "boolean",
                        "description": "Indicates if this is the initial domain.",
                        "title": "Initial",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "isRoot": {
                        "type": "boolean",
                        "description": "Indicates if this is the root domain.",
                        "title": "Root",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "isVerified": {
                        "type": "boolean",
                        "description": "Indicates if the domain is verified.",
                        "title": "Verified",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "supportedServices": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Supported services."
                      },
                      "passwordValidityPeriodInDays": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Indicates the password validity in days.",
                        "title": "Password validity"
                      },
                      "passwordNotificationWindowInDays": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Indicates the password notifcation window in days.",
                        "title": "Password notification windows"
                      },
                      "state": {
                        "type": "string",
                        "description": "State of the domain.",
                        "title": "State"
                      }
                    }
                  },
                  "description": "Value."
                }
              }
            }
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub organization identifier.",
            "x-ms-summary": "Cloud User Hub organization id.",
            "x-ms-url-encoding": "single"
          }
        ],
        "operationId": "GetGraphDomains",
        "description": "Retrieve a list of domain objects.",
        "summary": "List organization domains"
      }
    },
    "/directory/v1/organizations/{organizationId}/usergroups/{userGroupId}": {
      "delete": {
        "responses": {
          "204": {
            "description": "Cloud User Hub usergroup removed."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "summary": "Delete Cloud User Hub user group",
        "description": "Delete a user group.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub organization identifier.",
            "x-ms-summary": "Cloud User Hub organization id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "userGroupId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub identifier for the user group.",
            "x-ms-summary": "Cloud User Hub identifier for the user group.",
            "x-ms-url-encoding": "single"
          }
        ],
        "operationId": "DeleteUserGroup"
      }
    },
    "/directory/v1/organizations/{organizationId}/usergroups/{userGroupId}/members/{userId}": {
      "delete": {
        "responses": {
          "204": {
            "description": "Member removed from group."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub organization identifier.",
            "x-ms-summary": "Cloud User Hub organization id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "userGroupId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub user group identifier.",
            "x-ms-summary": "Cloud User Hub user group id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub user identifier.",
            "x-ms-summary": "Cloud User Hub user id.",
            "x-ms-url-encoding": "single"
          }
        ],
        "summary": "Remove a member from a user group",
        "description": "Remove a member to a user group.",
        "operationId": "DeleteUserGroupMember"
      },
      "post": {
        "responses": {
          "204": {
            "description": "Member added to group."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub organization identifier.",
            "x-ms-summary": "Cloud User Hub organization id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "userGroupId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub user group identifier.",
            "x-ms-summary": "Cloud User Hub user group id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub user identifier.",
            "x-ms-summary": "Cloud User Hub user id.",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Add a member to a user group, the member should belong to the same organization as the group.",
        "summary": "Add a member to a user group",
        "operationId": "PostUserGroupMember"
      }
    },
    "/graph/v1/organizations/{organizationId}/v1.0/groups/{microsoftObjectId}/members/$ref": {
      "post": {
        "responses": {
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub organization identifier.",
            "x-ms-summary": "Cloud User Hub organization id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "microsoftObjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Microsoft object identifier of the group.",
            "x-ms-summary": "Microsoft object id of the group.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "@odata.id": {
                  "type": "string",
                  "description": "URI of the directory, user, group, or organizational contact object to be added.",
                  "title": "Member"
                }
              },
              "required": [
                "@odata.id"
              ]
            }
          }
        ],
        "summary": "Add a member to a group",
        "description": "Add a member to a Microsoft 365 group or a security group through the members navigation property.",
        "operationId": "AddGraphGroupMember"
      }
    },
    "/graph/v1/organizations/{organizationId}/v1.0/groups/{groupMicrosoftObjectId}/members/{userMicrosoftObjectId}/$ref": {
      "delete": {
        "responses": {
          "204": {
            "description": "No content."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "summary": "Remove member",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub organization identifier.",
            "x-ms-summary": "Cloud User Hub organization id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "groupMicrosoftObjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Microsoft object identifier of the group.",
            "x-ms-summary": "Microsoft object id of the group.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "userMicrosoftObjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Microsoft object identifier of the user.",
            "x-ms-summary": "Microsoft object id of the user.",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Remove a member from a group via the members navigation property.",
        "operationId": "RemoveGraphGroupMember"
      }
    },
    "/partnercenter/v1/partners/{partnerId}/organizations/{customerId}/v1.0/customers/{tenantId}/subscriptions": {
      "get": {
        "responses": {
          "200": {
            "description": "Ok.",
            "schema": {
              "type": "object",
              "properties": {
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total count of the subscription object.",
                  "title": "Total count"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identifier of the subscription.",
                        "title": "Id"
                      },
                      "entitlementId": {
                        "type": "string",
                        "description": "Entitlement identifier of the subscription.",
                        "title": "Entitlement id"
                      },
                      "friendlyName": {
                        "type": "string",
                        "description": "Friendly name of the subscription.",
                        "title": "Friendly name"
                      },
                      "quantity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Quantity of the subscription.",
                        "title": "Quantity"
                      },
                      "unitType": {
                        "type": "string",
                        "description": "Unit type of the subscription.",
                        "title": "Unit type"
                      },
                      "creationDate": {
                        "type": "string",
                        "description": "Created on date of the subscription.",
                        "title": "Created on"
                      },
                      "effectiveStartDate": {
                        "type": "string",
                        "description": "Effective start date of the subscription.",
                        "title": "Effective start date"
                      },
                      "commitmentEndDate": {
                        "type": "string",
                        "description": "Commitment end date of the subscription.",
                        "title": "Commitment end date"
                      },
                      "status": {
                        "type": "string",
                        "description": "Status of the subscription.",
                        "title": "Status"
                      },
                      "autoRenewEnabled": {
                        "type": "boolean",
                        "description": "Indicates if auto renew is enabled for the subscription.",
                        "title": "Auto renew",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "billingType": {
                        "type": "string",
                        "description": "Billing type of the subscription.",
                        "title": "Billing type"
                      },
                      "contractType": {
                        "type": "string",
                        "description": "Contract type of the subscription.",
                        "title": "Contract type"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "offer": {
                            "type": "object",
                            "properties": {
                              "uri": {
                                "type": "string",
                                "description": "Uri of the subscription.",
                                "title": "Uri"
                              },
                              "method": {
                                "type": "string",
                                "description": "Method of the subscription.",
                                "title": "Method"
                              },
                              "headers": {
                                "type": "array",
                                "items": {},
                                "description": "Headers."
                              }
                            },
                            "description": "Offer."
                          },
                          "self": {
                            "type": "object",
                            "properties": {
                              "uri": {
                                "type": "string",
                                "description": "Uri of the subscription.",
                                "title": "Uri"
                              },
                              "method": {
                                "type": "string",
                                "description": "Method of the subscription.",
                                "title": "Method"
                              },
                              "headers": {
                                "type": "array",
                                "items": {},
                                "description": "Headers."
                              }
                            },
                            "description": "Self."
                          }
                        },
                        "description": "Links."
                      },
                      "orderId": {
                        "type": "string",
                        "description": "Order identifier of the subscription.",
                        "title": "Order id"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "etag": {
                            "type": "string",
                            "description": "Etag of the subscription.",
                            "title": "Etag"
                          },
                          "objectType": {
                            "type": "string",
                            "description": "Object type of the subscription.",
                            "title": "Object type"
                          }
                        },
                        "description": "Attributes."
                      }
                    }
                  },
                  "description": "Items."
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "objectType": {
                      "type": "string",
                      "description": "Object type of the subscription.",
                      "title": "Object type"
                    }
                  },
                  "description": "Attributes."
                }
              }
            }
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "summary": "Get subscriptions",
        "description": "Retrieves all subscriptions for the customer of a partner by their active directory tenant identifier.",
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub partner identifier.",
            "x-ms-summary": "Cloud User Hub partner identifier.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub customer identifier.",
            "x-ms-summary": "Cloud User Hub customer identifier.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Microsoft tenant identifier of the customer.",
            "x-ms-summary": "Microsoft tenant Id of the customer.",
            "x-ms-url-encoding": "single"
          }
        ],
        "operationId": "GetSubscriptions"
      }
    },
    "/partnercenter/v1/partners/{partnerId}/organizations/{customerId}/v1.0/customers/{tenantId}/subscriptions/{subscriptionId}": {
      "patch": {
        "responses": {
          "200": {
            "description": "Ok."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        },
        "summary": "Update subscription quantity",
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub partner identifier.",
            "x-ms-summary": "Cloud User Hub partner id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud User Hub customer identifier.",
            "x-ms-summary": "Cloud User Hub customer id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Microsoft tenant identifier of the customer.",
            "x-ms-summary": "Microsoft tenant id of the customer.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Subscription identifier of the customer.",
            "x-ms-summary": "Subsription id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "quantity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Quantity of the subscription.",
                  "title": "Quantity"
                }
              }
            }
          }
        ],
        "operationId": "PatchSubscriptionQuantity",
        "description": "Update the quantity of a subscription."
      }
    },
    "/command/v1/commandblocks": {
      "get": {
        "description": "Retrieve a list of available Command Blocks.",
        "operationId": "GetCommandBlocks",
        "summary": "List Command Blocks",
        "tags": [
          "Command Blocks"
        ],
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "description": "Return only the first $top items.",
            "type": "string",
            "x-ms-summary": "$top items"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of items to skip.",
            "type": "string",
            "x-ms-summary": "$skip items"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "$select odata filter.",
            "type": "string",
            "x-ms-summary": "Select filter"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Determines what values are used to order a collection of records.",
            "type": "string",
            "x-ms-summary": "Order by"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "A function that must evaluate to true for a record to be returned.",
            "type": "string",
            "x-ms-summary": "Filter"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Determines not to include the count of items in a collection.",
            "type": "string",
            "x-ms-summary": "Count"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok.",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "OData context.",
                  "title": "OData context"
                },
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "OData count.",
                  "title": "OData count"
                },
                "@odata.nextLink": {
                  "type": "string",
                  "description": "OData next link.",
                  "title": "OData next link"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identifier.",
                        "title": "Id"
                      },
                      "technicalIdentifier": {
                        "type": "string",
                        "description": "Technical Identifier.",
                        "title": "Technical id"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type.",
                        "title": "Type"
                      },
                      "version": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Version.",
                        "title": "Version"
                      },
                      "categoryId": {
                        "type": "string",
                        "description": "Category Identifier.",
                        "title": "Category id"
                      },
                      "requiredReadAction": {
                        "type": "string",
                        "description": "Required read action.",
                        "title": "Required read action"
                      },
                      "requiredWriteAction": {
                        "type": "string",
                        "description": "Required write action.",
                        "title": "Required write action"
                      },
                      "requiredProvider": {
                        "type": "string",
                        "description": "Required provider.",
                        "title": "Required provider"
                      },
                      "menuCategory": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Identifier of the menu category.",
                            "title": "Menu category id"
                          },
                          "technicalIdentifier": {
                            "type": "string",
                            "description": "Technical Identifier.",
                            "title": "Technical id"
                          }
                        },
                        "description": "Menu category."
                      },
                      "parentCategory": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Identifier of the parent category.",
                            "title": "Parent category id"
                          },
                          "technicalIdentifier": {
                            "type": "string",
                            "description": "Technical Identifier.",
                            "title": "Technical id"
                          }
                        },
                        "description": "Parent category."
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Id of the category.",
                            "title": "Id"
                          },
                          "technicalIdentifier": {
                            "type": "string",
                            "description": "Technical identifier.",
                            "title": "Technical identifier"
                          }
                        },
                        "description": "Category."
                      }
                    }
                  },
                  "description": "Value."
                }
              }
            },
            "examples": {
              "application/json": {
                "@odata.context": "string",
                "@odata.count": 0,
                "@odata.nextLink": "string",
                "value": [
                  {
                    "id": "string",
                    "technicalIdentifier": "string",
                    "type": "User",
                    "version": 3,
                    "categoryId": "GUID value",
                    "requiredReadAction": "command.xyz.read",
                    "requiredWriteAction": "command.xyz.write",
                    "requiredProvider": "command.xyz",
                    "menuCategory": {
                      "id": "GUID value",
                      "technicalIdentifier": "Chats"
                    },
                    "parentCategory": {
                      "id": "GUID value",
                      "technicalIdentifier": "Chats"
                    },
                    "category": {
                      "id": "GUID value",
                      "technicalIdentifier": "Chats"
                    }
                  }
                ]
              }
            }
          },
          "400": {
            "description": "There was missing or invalid input. The response body contains the error details.",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code.",
                      "title": "Code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Message.",
                      "title": "Message"
                    },
                    "innerError": {
                      "type": "object",
                      "properties": {
                        "request-id": {
                          "type": "string",
                          "description": "Request id.",
                          "title": "Request Id"
                        },
                        "date": {
                          "type": "string",
                          "description": "Date.",
                          "title": "Date"
                        }
                      },
                      "description": "Inner error."
                    }
                  },
                  "description": "Error."
                }
              }
            },
            "examples": {
              "application/json": {
                "error": {
                  "code": "string",
                  "message": "string",
                  "innerError": {
                    "request-id": "string",
                    "date": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with Cloud User Hub APIs first."
          },
          "403": {
            "description": "The request was not authorized. The client needs to have authorization to access this resource."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      }
    },
    "/command/v1/commandblocks/jobs": {
      "get": {
        "description": "Get Command Block jobs for Command Blocks you're authorized to view.",
        "operationId": "GetCommandBlockJobs",
        "summary": "Get Command Block jobs for all authorized organizations",
        "tags": [
          "Command Block Jobs"
        ],
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "description": "Return only the first $top items.",
            "type": "string",
            "x-ms-summary": "$top items"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of items to skip.",
            "type": "string",
            "x-ms-summary": "$skip items"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "$select odata filter.",
            "type": "string",
            "x-ms-summary": "Select filter"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Determines what values are used to order a collection of records.",
            "type": "string",
            "x-ms-summary": "Order by"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "A function that must evaluate to true for a record to be returned.",
            "type": "string",
            "x-ms-summary": "Filter"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Determines if the count of items should be included in a collection.",
            "type": "string",
            "x-ms-summary": "Count"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok.",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "OData context.",
                  "title": "OData context"
                },
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "OData count.",
                  "title": "OData count"
                },
                "@odata.nextLink": {
                  "type": "string",
                  "description": "OData next link",
                  "title": "OData next link"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identifier.",
                        "title": "Id"
                      },
                      "commandBlockId": {
                        "type": "string",
                        "description": "Command Block identifier.",
                        "title": "Command Block id"
                      },
                      "commandSetName": {
                        "type": "string",
                        "description": "Command Set name.",
                        "title": "Command Set name"
                      },
                      "commandSetId": {
                        "type": "string",
                        "description": "Command Set identifier",
                        "title": "Command Set id"
                      },
                      "commandSetBlockId": {
                        "type": "string",
                        "description": "Command Set Block identifier.",
                        "title": "Command Set Block id"
                      },
                      "userId": {
                        "type": "string",
                        "description": "User identifier.",
                        "title": "User id"
                      },
                      "userUpn": {
                        "type": "string",
                        "description": "User principal name.",
                        "title": "User principal name"
                      },
                      "groupId": {
                        "type": "string",
                        "description": "Group identifier.",
                        "title": "Group id"
                      },
                      "groupName": {
                        "type": "string",
                        "description": "Group name.",
                        "title": "Group name"
                      },
                      "organizationId": {
                        "type": "string",
                        "description": "Organization identifier.",
                        "title": "Organization id"
                      },
                      "organizationName": {
                        "type": "string",
                        "description": "Organization name.",
                        "title": "Organization name"
                      },
                      "actorUserUpn": {
                        "type": "string",
                        "description": "Actor user principal name.",
                        "title": "Actor user upn"
                      },
                      "actorOrganizationId": {
                        "type": "string",
                        "description": "Actor organization identifier.",
                        "title": "Actor organization id"
                      },
                      "actorOrganizationName": {
                        "type": "string",
                        "description": "Actor organization name.",
                        "title": "Actor organization name"
                      },
                      "status": {
                        "type": "string",
                        "description": "Status.",
                        "title": "Status"
                      },
                      "executedOn": {
                        "type": "string",
                        "description": "Executed on.",
                        "title": "Executed on"
                      },
                      "commandBlockTechnicalIdentifier": {
                        "type": "string",
                        "description": "Command Block technical identifier.",
                        "title": "Command Block technical id"
                      },
                      "commandBlockVersion": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Command Block version.",
                        "title": "Command Block version"
                      },
                      "plannedExecution": {
                        "type": "string",
                        "description": "Planned execution.",
                        "title": "Planned execution"
                      },
                      "scheduleId": {
                        "type": "string",
                        "description": "Schedule identifier.",
                        "title": "Schedule id"
                      },
                      "scheduleName": {
                        "type": "string",
                        "description": "Schedule name.",
                        "title": "Schedule name"
                      }
                    }
                  },
[...]
