{
  "swagger": "2.0",
  "info": {
    "title": "Tavily MCP (Independent Publisher)",
    "description": "Enables AI agents to access Tavily's web research capabilities through MCP. Provides five tools: search, extract, map, crawl, and research designed for Large Language Models and AI agents.",
    "version": "1.0.0",
    "contact": {
      "name": "Evan Rimer",
      "url": "https://www.tavily.com/",
      "email": "evan.rimer@tavily.com"
    }
  },
  "host": "mcp.tavily.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json",
    "text/event-stream"
  ],
  "paths": {
    "/mcp/": {
      "post": {
        "operationId": "InvokeServer",
        "summary": "Tavily MCP",
        "description": "Invokes the Tavily MCP endpoint to access web search, extract, map, crawl, and research tools for AI agents.",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "x-ms-agentic-protocol": "mcp-streamable-1.0"
      }
    }
  },
  "definitions": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "tavilyApiKey",
      "description": "Tavily API key for authentication."
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tavily.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://tavily.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Website"
    }
  ]
}
