{
    "swagger": "2.0",
    "info": {
        "title": "Way We Do",
        "description": "Way We Do enables teams to actively use repeatable policies, procedures, processes and playbooks in their day to day workflows to increase efficiency, quality and compliance.",
        "contact": {
            "name": "Way We Do",
            "url": "https://support.waywedo.com",
            "email": "support@waywedo.com"
        },
        "version": "v1",
        "x-ms-api-annotation": {
            "status": "Preview"
        }
    },
    "host": "api.waywedo.com",
    "basePath": "/",
    "schemes": ["https"],
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "x-ms-connector-metadata": [
        {
          "propertyName": "Website",
          "propertyValue": "https://www.waywedo.com"
        },
        {
          "propertyName": "Privacy policy",
          "propertyValue": "https://www.waywedo.com/privacy-policy/"
        },
        {
          "propertyName": "Categories",
          "propertyValue": "Productivity;Business Management"
        }
    ],
    "paths": {
        "/v1/ChecklistInstanceComments": {
            "post": {
                "tags": ["Checklist Instance Comments"],
                "operationId": "Comment_Add",
                "summary": "Add a comment to a checklist instance step",
                "description": "Adds a new comment to an Activated Checklist Instance step.",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "CreateCommentCommand",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "instanceId": {
                                    "type": "string",
                                    "description": "Select the checklist instance",
                                    "x-ms-summary": "Checklist Instance ID",
                                    "x-ms-visibility": "important",
                                    "x-ms-dynamic-values": {
                                        "operationId": "GetAll_ChecklistInstances",
                                        "value-path": "id",
                                        "value-collection": "results",
                                        "value-title": "title"
                                    }
                                },
                                "stepId": {
                                    "type": "string",
                                    "description": "Select the step of the checklist instance",
                                    "x-ms-summary": "Step ID",
                                    "x-ms-visibility": "important",
                                    "x-ms-dynamic-values": {
                                        "operationId": "Find_Steps",
                                        "value-path": "id",
                                        "value-title": "title",
                                        "parameters": {
                                            "instanceId": {
                                                "parameter": "instanceId"
                                            }
                                        }
                                    },
                                    "x-ms-dynamic-list": {
                                      "operationId": "Find_Steps",
                                      "parameters": {
                                        "instanceId": {
                                          "parameterReference": "CreateCommentCommand/instanceId"
                                        }
                                      },
                                      "itemValuePath": "id",
                                      "itemTitlePath": "title"
                                    }
                                },
                                "userId": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Select the user creating the comment",
                                    "x-ms-summary": "User ID",
                                    "x-ms-visibility": "important",
                                    "x-ms-dynamic-values": {
                                        "operationId": "Find_User",
                                        "value-path": "id",
                                        "value-title": "email"
                                    }
                                },
                                "message": {
                                    "type": "string",
                                    "description": "Specify the comment to add",
                                    "x-ms-summary": "Comment Text",
                                    "x-ms-visibility": "important"
                                },
                                "bot": {
                                    "type": "string",
                                    "description": "The name of the bot creating the comment",
                                    "x-ms-summary": "Bot Name",
                                    "x-ms-visibility": "internal",
                                    "default": "Microsoft Power Automate"
                                }
                            },
                            "required": [
                                "bot",
                                "instanceId",
                                "message",
                                "stepId",
                                "userId"
                            ]
                        },
                        "x-ms-visibility": "important"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checklist Comment",
                        "schema": {
                            "$ref": "#/definitions/ChecklistComment"
                        }
                    }
                }
            }
        },
        "/v1/ChecklistInstances": {
            "get": {
                "tags": ["Checklist Instances"],
                "operationId": "GetAll_ChecklistInstances",
                "summary": "Get All Checklist Instances",
                "description": "Retrieve a list of all activated checklist instances.",
                "x-ms-visibility": "internal",
                "parameters": [
                    {
                        "$ref": "#/parameters/Limit"
                    },
                    {
                        "$ref": "#/parameters/Offset"
                    },
                    {
                        "type": "integer",
                        "name": "status",
                        "in": "query",
                        "x-nullable": false,
                        "format": "int32",
                        "default": 1,
                        "description": "The status of instances returned.",
                        "x-ms-summary": "Status",
                        "required": false,
                        "x-ms-visibility": "advanced"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checklist Instances",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "results": {
                                    "type": "array",
                                    "description": "The list of checklist instances.",
                                    "x-ms-summary": "Checklist Instances",
                                    "items": {
                                        "$ref": "#/definitions/ChecklistInstance"
                                    }
                                },
                                "_total": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The total number of checklist instances.",
                                    "x-ms-summary": "Total",
                                    "x-ms-visibility": "advanced"
                                }
                            }
                        },
                        "x-nullable": true
                    }
                }
            },
            "post": {
                "tags": ["Checklist Instances"],
                "operationId": "ChecklistInstances_Post",
                "summary": "Create Checklist Instance",
                "description": "Creates a new activated checklist instance.",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "CreateInstanceCommand",
                        "in": "body",
                        "required": true,
                        "x-ms-visibility": "important",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "procedureId": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Select a checklist master",
                                    "x-ms-summary": "Procedure ID",
                                    "x-ms-visibility": "important",
                                    "x-ms-dynamic-values": {
                                        "operationId": "Find_Checklist",
                                        "value-path": "id",
                                        "value-title": "title",
                                        "parameters": {
                                            "type": 2
                                        }
                                    }
                                },
                                "title": {
                                    "type": "string",
                                    "description": "The title of the checklist instance",
                                    "x-ms-summary": "Title",
                                    "x-ms-visibility": "important"
                                },
                                "userId": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Select the user creating the instance",
                                    "x-ms-summary": "User ID",
                                    "x-ms-visibility": "important",
                                    "x-ms-dynamic-values": {
                                        "operationId": "Find_User",
                                        "value-path": "id",
                                        "value-title": "email"
                                    }
                                },
                                "bot": {
                                    "type": "string",
                                    "description": "The name of the bot creating the instance",
                                    "x-ms-summary": "Bot Name",
                                    "x-ms-visibility": "internal",
                                    "default": "Microsoft Power Automate"
                                }
                            },
                            "required": [
                                "bot",
                                "procedureId",
                                "title",
                                "userId"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checklist instance created",
                        "schema": {
                            "$ref": "#/definitions/ChecklistInstance"
                        }
                    }
                }
            }
        },
        "/v1/ChecklistInstances/{instanceId}": {
            "get": {
                "tags": ["Checklist Instances"],
                "operationId": "ChecklistInstances_Get",
                "summary": "Get A Checklist Instance",
                "description": "Retrieve a specific checklist instance by ID",
                "x-ms-visibility": "advanced",
                "parameters": [
                    {
                        "type": "string",
                        "name": "instanceId",
                        "in": "path",
                        "required": true,
                        "x-nullable": false,
                        "format": "guid",
                        "description": "The ID of the checklist instance",
                        "x-ms-url-encoding": "single",
                        "x-ms-summary": "Instance ID",
                        "x-ms-visibility": "important"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checklist Instance",
                        "schema": {
                            "$ref": "#/definitions/ChecklistInstance"
                        },
                        "x-nullable": true
                    }
                }
            }
        },
        "/v1/ChecklistInstances/{instanceId}/Activity": {
            "get": {
                "tags": ["Checklist Instance Activity"],
                "operationId": "ChecklistInstances_Activity",
                "summary": "Get Checklist Instance Activity",
                "description": "Retrieve all activity for a checklist instance",
                "x-ms-visibility": "advanced",
                "parameters": [
                    {
                        "type": "string",
                        "name": "instanceId",
                        "description": "Select the checklist instance",
                        "x-ms-summary": "Instance Id",
                        "in": "path",
                        "required": true,
                        "x-nullable": false,
                        "format": "guid",
                        "x-ms-url-encoding": "single",
                        "x-ms-visibility": "important",
                        "x-ms-dynamic-values": {
                            "operationId": "GetAll_ChecklistInstances",
                            "value-path": "id",
                            "value-collection": "results",
                            "value-title": "title",
                            "parameters": {
                                "status": 0
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checklist Activity",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "occurred": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "The date and time the activity occurred.",
                                        "x-ms-summary": "Occurred",
                                        "x-ms-visibility": "important"
                                    },
                                    "title": {
                                        "type": "string",
                                        "description": "A description of the activity that occurred.",
                                        "x-ms-summary": "Description",
                                        "x-ms-visibility": "important"
                                    }
                                }
                            }
                        },
                        "x-nullable": true
                    }
                }
            }
        },
        "/v1/ChecklistInstances/{instanceId}/Steps": {
            "get": {
                "tags": ["Checklist Instance Steps"],
                "operationId": "Find_Steps",
                "summary": "Find Checklist Step",
                "description": "Find a step of a checklist instance",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "type": "string",
                        "name": "instanceId",
                        "description": "Select the checklist instance",
                        "x-ms-summary": "Instance Id",
                        "in": "path",
                        "required": true,
                        "x-nullable": false,
                        "format": "guid",
                        "x-ms-url-encoding": "single",
                        "x-ms-visibility": "important",
                        "x-ms-dynamic-values": {
                            "operationId": "GetAll_ChecklistInstances",
                            "value-path": "id",
                            "value-collection": "results",
                            "value-title": "title"
                        }
                    },
                    {
                        "type": "string",
                        "name": "query",
                        "description": "Search for a step title",
                        "x-ms-summary": "Step Title",
                        "in": "query",
                        "x-nullable": true,
                        "required": false,
                        "x-ms-visibility": "important"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checklist Steps",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ChecklistStep"
                            }
                        },
                        "x-nullable": true
                    }
                }
            }
        },
        "/v1/ChecklistInstances/{instanceId}/Steps/{stepId}": {
            "get": {
                "tags": ["Checklist Instance Steps"],
                "operationId": "ChecklistSteps_Get",
                "summary": "Get A Checklist Step",
                "description": "Retrieve a specific checklist step by ID",
                "x-ms-visibility": "advanced",
                "parameters": [
                    {
                        "type": "string",
                        "name": "instanceId",
                        "description": "The ID of the checklist instance",
                        "x-ms-summary": "Instance Id",
                        "in": "path",
                        "required": true,
                        "x-nullable": false,
                        "format": "guid",
                        "x-ms-url-encoding": "single",
                        "x-ms-visibility": "important"
                    },
                    {
                        "type": "string",
                        "name": "stepId",
                        "description": "The ID of the checklist step",
                        "x-ms-summary": "Step Id",
                        "in": "path",
                        "required": true,
                        "x-nullable": false,
                        "format": "guid",
                        "x-ms-url-encoding": "single",
                        "x-ms-visibility": "important"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checklist Step",
                        "schema": {
                            "$ref": "#/definitions/ChecklistStep"
                        },
                        "x-nullable": true
                    }
                }
            }
        },
        "/v1/ChecklistInstances/{instanceId}/Steps/{stepId}/Complete": {
            "post": {
                "tags": ["Checklist Instance Steps"],
                "operationId": "ChecklistSteps_Complete",
                "summary": "Complete a Checklist Step",
                "description": "Mark a specific step in a checklist instance as complete.",
                "x-ms-visibility": "advanced",
                "parameters": [
                    {
                        "name": "instanceId",
                        "description": "Select the checklist instance",
                        "x-ms-summary": "Instance Id",
                        "in": "path",
                        "required": true,
                        "x-nullable": false,
                        "type": "string",
                        "format": "guid",
                        "x-ms-url-encoding": "single",
                        "x-ms-visibility": "important",
                        "x-ms-dynamic-values": {
                            "operationId": "GetAll_ChecklistInstances",
                            "value-path": "id",
                            "value-collection": "results",
                            "value-title": "title"
                        }
                    },
                    {
                        "name": "stepId",
                        "description": "Select the checklist step",
                        "x-ms-summary": "Step Id",
                        "in": "path",
                        "required": true,
                        "x-nullable": false,
                        "type": "string",
                        "format": "guid",
                        "x-ms-url-encoding": "single",
                        "x-ms-visibility": "important",
                        "x-ms-dynamic-values": {
                            "operationId": "Find_Steps",
                            "value-path": "id",
                            "value-title": "title",
                            "parameters": {
                                "instanceId": {
                                    "parameter": "instanceId"
                                }
                            }
                        }
                    },
                    {
                        "name": "Complete Step Command",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "userId": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Select the user completing the step",
                                    "x-ms-summary": "User ID",
                                    "x-ms-visibility": "important",
                                    "x-ms-dynamic-values": {
                                        "operationId": "Find_User",
                                        "value-path": "id",
                                        "value-title": "email"
                                    }
                                },
                                "bot": {
                                    "type": "string",
                                    "description": "The name of the bot that completed the checklist step",
                                    "x-ms-summary": "Bot Name",
                                    "x-ms-visibility": "internal",
                                    "default": "Microsoft Power Automate"
                                }
                            },
                            "required": ["bot", "userId"]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checklist Step Completed",
                        "schema": {}
                    }
                }
            }
        },
        "/v1/Company": {
            "get": {
                "tags": ["Company"],
                "operationId": "Company_GetCompany",
                "summary": "Get Company",
                "description": "Retrieve your company ID and Name",
                "x-ms-visibility": "internal",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Company",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The unique ID of your company.",
                                    "x-ms-summary": "Company ID",
                                    "x-ms-visibility": "important"
                                },
                                "title": {
                                    "type": "string",
                                    "description": "The name of the company registered with Way We Do",
                                    "x-ms-summary": "Company Title",
                                    "x-ms-visibility": "important"
                                }
                            }
                        },
                        "x-nullable": true
                    }
                }
            }
        },
        "/v1/CompanyRoles": {
            "get": {
                "tags": ["Company Roles"],
                "operationId": "CompanyRoles_GetAll",
                "summary": "Get Company Roles",
                "description": "Retrieve all the company roles.",
                "x-ms-visibility": "internal",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Company Roles",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The unique ID of the company role.",
                                        "x-ms-summary": "Role ID",
                                        "x-ms-visibility": "important"
                                    },
                                    "title": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "The name of the company role.",
                                        "x-ms-summary": "Role Title",
                                        "x-ms-visibility": "important"
                                    }
                                }
                            }
                        },
                        "x-nullable": true
                    }
                }
            }
        },
        "/v1/ProcedureAcceptances": {
            "get": {
                "tags": ["Procedure Acceptance"],
                "operationId": "ProcedureAcceptances_GetAll",
                "summary": "Get All Procedure Acceptances",
                "description": "Retrieve a list of all procedure acceptances.",
                "x-ms-visibility": "internal",
                "parameters": [
                    {
                        "$ref": "#/parameters/Limit"
                    },
                    {
                        "$ref": "#/parameters/Offset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Procedure Acceptances",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "results": {
                                    "type": "array",
                                    "description": "The list of procedure acceptances.",
                                    "x-ms-summary": "Procedure Acceptances",
                                    "items": {
                                        "$ref": "#/definitions/ProcedureAcceptance"
                                    }
                                },
                                "_total": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The total number of procedure acceptances.",
                                    "x-ms-summary": "Total",
                                    "x-ms-visibility": "advanced"
                                }
                            }
                        },
                        "x-nullable": true
                    }
                }
            }
        },
        "/v1/Procedures": {
            "get": {
                "tags": ["Procedures"],
                "operationId": "Find_Checklist",
                "summary": "Find Checklist",
                "description": "Search for a checklist by title",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "type": "string",
                        "name": "query",
                        "in": "query",
                        "x-nullable": true,
                        "required": false,
                        "x-ms-visibility": "important",
                        "description": "The title of the checklist",
                        "x-ms-summary": "Checklist Title"
                    },
                    {
                        "type": "integer",
                        "name": "type",
                        "in": "query",
                        "x-nullable": true,
                        "format": "int32",
                        "description": "The type of procedure; either 1 (standard) or 2 (checklist).",
                        "x-ms-summary": "Procedure Type",
                        "required": true,
                        "default": 2,
                        "x-ms-visibility": "internal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checklists",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Procedure"
                            }
                        },
                        "x-nullable": true
                    }
                }
            }
        },
        "/v1/Procedures/{procedureId}": {
            "get": {
                "tags": ["Procedures"],
                "operationId": "Procedures_Get",
                "summary": "Get A Checklist Or Procedure",
                "description": "Retrieve a specific checklist or procedure by ID",
                "x-ms-visibility": "advanced",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "procedureId",
                        "in": "path",
                        "description": "The ID of the checklist or procedure",
                        "x-ms-summary": "Procedure ID",
                        "required": true,
                        "x-nullable": false,
                        "format": "int32",
                        "x-ms-url-encoding": "single",
                        "x-ms-visibility": "important"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checklist",
                        "schema": {
                            "$ref": "#/definitions/Procedure"
                        },
                        "x-nullable": true
                    }
                }
            }
        },
        "/v1/Procedures/{procedureId}/ChecklistInstances": {
            "get": {
                "tags": ["Checklist Instances"],
                "operationId": "Find_Checklist_Instances",
                "summary": "Find Checklist Instance",
                "description": "Search for a checklist instance by title.",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "procedureId",
                        "description": "Select a checklist",
                        "x-ms-summary": "Procedure ID",
                        "in": "path",
                        "required": true,
                        "x-nullable": false,
                        "format": "int32",
                        "x-ms-url-encoding": "single",
                        "x-ms-visibility": "important",
                        "x-ms-dynamic-values": {
                            "operationId": "Find_Checklist",
                            "value-path": "id",
                            "value-title": "title",
                            "parameters": {
                                "type": 2
                            }
                        }
                    },
                    {
                        "type": "string",
                        "name": "query",
                        "in": "query",
                        "x-nullable": true,
                        "required": false,
                        "x-ms-visibility": "important",
                        "description": "The title of the checklist instance.",
                        "x-ms-summary": "Instance Title"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checklist Instances",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ChecklistInstance"
                            }
                        },
                        "x-nullable": true
                    }
                }
            }
        },
        "/v1/SecurityRoles": {
            "get": {
                "tags": ["Security Roles"],
                "operationId": "SecurityRoles_IdTitle",
                "summary": "Get Security Roles",
                "description": "Retrieve a list of all security roles",
                "x-ms-visibility": "internal",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Security Roles",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The unique id of the security role.",
                                        "x-ms-summary": "Security Role ID",
                                        "x-ms-visibility": "important"
                                    },
                                    "title": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "The title of the security role.",
                                        "x-ms-summary": "Security Role Title",
                                        "x-ms-visibility": "important"
                                    }
                                }
                            }
                        },
                        "x-nullable": true
                    }
                }
            }
        },
        "/v1/TimeZones": {
            "get": {
                "tags": ["Time Zones"],
                "operationId": "TimeZones_Get",
                "summary": "Get Time Zones",
                "description": "Rectrieve a list of all time zones.",
                "x-ms-visibility": "internal",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Time Zones",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "The unique ID of the time zone.",
                                        "x-ms-summary": "Time Zone ID",
                                        "x-ms-visibility": "important"
                                    },
                                    "title": {
                                        "type": "string",
                                        "description": "The title of the time zone.",
                                        "x-ms-summary": "Time Zone Title",
                                        "x-ms-visibility": "important"
                                    }
                                }
                            }
                        },
                        "x-nullable": true
                    }
                }
            }
        },
        "/v1/Users/{userId}": {
            "get": {
                "tags": ["Users"],
                "operationId": "Users_Get",
                "summary": "Get User",
                "description": "Retrieve a specific user by ID",
                "x-ms-visibility": "internal",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "description": "Select the user.",
                        "x-ms-summary": "User ID",
                        "required": true,
                        "x-nullable": false,
                        "format": "int32",
                        "x-ms-url-encoding": "single",
                        "x-ms-dynamic-values": {
                            "operationId": "Find_User",
                            "value-path": "id",
                            "value-title": "email"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User",
                        "schema": {
                            "$ref": "#/definitions/User"
                        },
                        "x-nullable": true
                    }
                }
            }
        },
        "/v1/Users": {
            "get": {
                "tags": ["Users"],
                "operationId": "Find_User",
                "summary": "Find User",
                "description": "Search for a user by name or email.",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "type": "string",
                        "name": "query",
                        "in": "query",
                        "x-nullable": true,
                        "required": false,
                        "x-ms-visibility": "important",
                        "description": "The name or email address of the user.",
                        "x-ms-summary": "Email Address Or Name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Users",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        },
                        "x-nullable": true
                    }
                }
            },
            "post": {
                "tags": ["Users"],
                "operationId": "Users_Post",
                "summary": "Add a New User",
                "description": "Creates and invites a new user.",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "Create User Command",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                                "securityRole",
                                "email",
                                "firstName",
                                "lastName",
                                "timeZoneId"
                            ],
                            "properties": {
                                "firstName": {
                                    "type": "string",
                                    "description": "The first name of the user.",
                                    "x-ms-summary": "First Name",
                                    "x-ms-visibility": "important"
                                },
                                "lastName": {
                                    "type": "string",
                                    "description": "The last name of the user.",
                                    "x-ms-summary": "Last Name",
                                    "x-ms-visibility": "important"
                                },
                                "email": {
                                    "type": "string",
                                    "description": "The email address of the user.",
                                    "x-ms-summary": "Email",
                                    "x-ms-visibility": "important"
                                },
                                "securityRole": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Select a security role.",
                                    "x-ms-summary": "Security Role",
                                    "x-ms-visibility": "important",
                                    "x-ms-dynamic-values": {
                                        "operationId": "SecurityRoles_IdTitle",
                                        "value-path": "id",
                                        "value-title": "title"
                                    }
                                },
                                "companyRoles": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "Select the company roles.",
                                        "x-ms-summary": "Company Roles",
                                        "x-ms-visibility": "important",
                                        "x-ms-dynamic-values": {
                                            "operationId": "CompanyRoles_GetAll",
                                            "value-path": "id",
                                            "value-title": "title"
                                        }
                                    }
                                },
                                "timeZoneId": {
                                    "type": "string",
                                    "description": "Select the user's timezone.",
                                    "x-ms-summary": "Time Zone",
                                    "x-ms-visibility": "important",
                                    "x-ms-dynamic-values": {
                                        "operationId": "TimeZones_Get",
                                        "value-path": "id",
                                        "value-title": "title"
                                    }
                                }
                            }
                        },
                        "x-nullable": true,
                        "x-ms-visibility": "important",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User Created",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                }
            }
        },
        "/v1/Webhook/events/checklist_start": {
            "post": {
                "tags": ["WebHooks"],
                "summary": "When a checklist instance is started",
                "description": "This operation triggers when a checklist instance is started.",
                "operationId": "Checklist_Create_WebHook",
                "x-ms-visibility": "important",
                "x-ms-trigger": "single",
                "parameters": [
                    {
                        "$ref": "#/parameters/WebhookRegistration"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Webhook Registered",
                        "schema": {
                            "$ref": "#/definitions/WebhookRegistered"
                        }
                    }
                }
            },
            "x-ms-notification-content": {
                "schema": {
                    "$ref": "#/definitions/ChecklistInstance"
                },
                "description": "Checklist Instance"
            }
        },
        "/v1/Webhook/events/new_comment": {
            "post": {
                "tags": ["WebHooks"],
                "summary": "When a comment is added to a checklist",
                "description": "This operation triggers when a new comment is added to a checklist.",
                "operationId": "New_Comment_WebHook",
                "x-ms-visibility": "important",
                "x-ms-trigger": "single",
                "parameters": [
                    {
                        "$ref": "#/parameters/WebhookRegistration"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Webhook Registered",
                        "schema": {
                            "$ref": "#/definitions/WebhookRegistered"
                        }
                    }
                }
            },
            "x-ms-notification-content": {
                "schema": {
                    "$ref": "#/definitions/ChecklistComment"
                },
                "description": "Checklist Comment"
            }
        },
        "/v1/Webhook/events/checklist_finish": {
            "post": {
                "tags": ["WebHooks"],
                "summary": "When a checklist is finished",
                "description": "This operation triggers when a checklist is finished.",
                "operationId": "Finish_Checklist_WebHook",
                "x-ms-visibility": "important",
                "x-ms-trigger": "single",
                "parameters": [
                    {
                        "$ref": "#/parameters/WebhookRegistration"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Webhook Registered",
                        "schema": {
                            "$ref": "#/definitions/WebhookRegistered"
                        }
                    }
                }
            },
            "x-ms-notification-content": {
                "schema": {
                    "$ref": "#/definitions/ChecklistInstance"
                },
                "description": "Checklist Finished"
            }
        },
        "/v1/Webhook/events/supervisor_invite": {
            "post": {
                "tags": ["WebHooks"],
                "summary": "When a supervisor is invited",
                "description": "This operation triggers when a supervisor invite is generated.",
                "operationId": "Invite_Supervisor_WebHook",
                "x-ms-visibility": "important",
                "x-ms-trigger": "single",
                "parameters": [
                    {
                        "$ref": "#/parameters/WebhookRegistration"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Webhook Registered",
                        "schema": {
                            "$ref": "#/definitions/WebhookRegistered"
                        }
                    }
                }
            },
            "x-ms-notification-content": {
                "description": "Supervisor Invited",
                "schema": {
                    "type": "object",
                    "properties": {
                        "instanceId": {
                            "type": "string",
                            "description": "The unique ID of the checklist instance.",
                            "x-ms-summary": "Instance ID",
                            "x-ms-visibility": "important"
                        },
                        "instanceTitle": {
                            "type": "string",
                            "description": "The title of the checklist instance.",
                            "x-ms-summary": "Instance Title",
                            "x-ms-visibility": "important"
                        },
                        "procedureId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unique ID of the procedure.",
                            "x-ms-summary": "Procedure ID",
                            "x-ms-visibility": "important"
                        },
                        "collaborator": {
                            "type": "string",
                            "description": "The email address of the supervisor",
                            "x-ms-summary": "Supervisor Email",
                            "x-ms-visibility": "important"
                        },
                        "createdBy": {
                            "type": "string",
                            "description": "The email address of the user that invited the supervisor.",
                            "x-ms-summary": "User Email",
                            "x-ms-visibility": "important"
                        },
                        "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time the invite was created.",
                            "x-ms-summary": "Invite Sent",
                            "x-ms-visibility": "important"
                        }
                    }
                }
            }
        },
        "/v1/Webhook/events/generate_acceptance_pdf": {
            "post": {
                "tags": ["WebHooks"],
                "summary": "When a procedure is accepted",
                "description": "This operation triggers when a procedure is accepted.",
                "operationId": "Generate_Acceptance_PDF_WebHook",
                "x-ms-trigger": "single",
                "parameters": [
                    {
                        "$ref": "#/parameters/WebhookRegistration"
                    }
                ],
                "x-ms-visibility": "important",
                "responses": {
                    "200": {
                        "description": "Webhook Registered",
                        "schema": {
                            "$ref": "#/definitions/WebhookRegistered"
                        }
                    }
                }
            },
            "x-ms-notification-content": {
                "description": "Procedure Acceptance",
                "schema": {
                    "$ref": "#/definitions/ProcedureAcceptance"
                }
            }
        },
        "/v1/Webhook/events/checklist_step_completed": {
            "post": {
                "tags": ["WebHooks"],
                "summary": "When a checklist step is completed",
                "description": "This operation triggers when a checklist step is completed.",
                "operationId": "Checklist_Step_Completed_WebHook",
                "x-ms-visibility": "important",
                "x-ms-trigger": "single",
                "parameters": [
                    {
                        "$ref": "#/parameters/WebhookRegistration"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Webhook Registered",
                        "schema": {
                            "$ref": "#/definitions/WebhookRegistered"
                        }
                    }
                }
            },
            "x-ms-notification-content": {
                "schema": {
                    "$ref": "#/definitions/CompletedStep"
                },
                "description": "Checklist Step Completed"
            }
        }
    },
    "definitions": {
        "ChecklistInstance": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "The unique ID of the checklist instance.",
                    "x-ms-summary": "Instance ID",
                    "x-ms-visibility": "important"
                },
                "procedureId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The unique ID of the procedure.",
                    "x-ms-summary": "Procedure ID",
                    "x-ms-visibility": "important"
                },
                "title": {
                    "type": "string",
                    "description": "The title of the checklist instance.",
                    "x-ms-summary": "Instance Title",
                    "x-ms-visibility": "important"
                },
                "url": {
                    "type": "string",
                    "description": "The URL to the checklist instance.",
                    "x-ms-summary": "Instance URL",
                    "x-ms-visibility": "advanced"
                },
                "created": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date and time the checklist instance was started.",
                    "x-ms-summary": "Instance Created Date",
                    "x-ms-visibility": "important"
                },
                "createdBy": {
                    "type": "string",
                    "description": "The email address of the user who started the checklist instance.",
                    "x-ms-summary": "Instance User",
                    "x-ms-visibility": "important"
                },
                "finished": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date and time the checklist instance was finished.",
                    "x-ms-summary": "Instance Finish Date",
                    "x-ms-visibility": "advanced"
                }
            }
        },
        "ChecklistStep": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "The unique ID of the instance step.",
                    "x-ms-summary": "Step ID",
                    "x-ms-visibility": "important"
                },
                "title": {
                    "type": "string",
                    "description": "The title of the instance step.",
                    "x-ms-summary": "Step Title",
                    "x-ms-visibility": "important"
                },
                "ordinal": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of the instance step.",
                    "x-ms-summary": "Step Number",
                    "x-ms-visibility": "important"
                }
            }
        },
        "CompletedStep":  {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "The unique ID of the checklist step completion.",
                    "x-ms-summary": "Completion ID",
                    "x-ms-visibility": "important"
                },
                "instanceId": {
                    "type": "string",
                    "description": "The unique ID of the checklist instance.",
                    "x-ms-summary": "Instance ID",
                    "x-ms-visibility": "important"
                },
                "procedureId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The unique ID of the procedure.",
                    "x-ms-summary": "Procedure ID",
                    "x-ms-visibility": "important"
                },
                "created": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date and time the checklist step was completed.",
                    "x-ms-summary": "Step Completed Date",
                    "x-ms-visibility": "important"
                },
                "createdBy": {
                    "type": "string",
                    "description": "The email address of the user that completed the checklist step.",
                    "x-ms-summary": "Completed By",
                    "x-ms-visibility": "important"
                },
                "step": {
                    "$ref": "#/definitions/ChecklistStep"
                },
                "decisionChoices": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "description": "A choice made if the step is a decision point.",
                        "title": "Decision Choice",
                        "x-ms-visibility": "internal"
                    },
                    "description": "The list of choices made if the step is a decision point.",
                    "x-ms-summary": "Decision Choices",
                    "x-ms-visibility": "important"
                }
            }
        },
        "ChecklistComment": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "The unique ID of the comment.",
                    "x-ms-summary": "Comment ID",
                    "x-ms-visibility": "important"
                },
                "type": {
                    "type": "integer",
                    "enum": [
                        1,
                        2
                    ],
                    "description": "The type of comment; either 1 (standard) or 2 (attachment).",
                    "x-ms-summary": "Comment Type",
                    "x-ms-visibility": "advanced"
                },
                "procedureId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The unique ID of the procedure.",
                    "x-ms-summary": "Procedure ID",
                    "x-ms-visibility": "advanced"
                },
                "procedureTitle": {
                    "type": "string",
                    "description": "The title of the procedure.",
                    "x-ms-summary": "Procedure Title",
                    "x-ms-visibility": "important"
                },
                "instanceId": {
                    "type": "string",
                    "description": "The unique ID of the checklist instance.",
                    "x-ms-summary": "Instance ID",
                    "x-ms-visibility": "advanced"
                },
                "stepId": {
                    "type": "string",
                    "description": "The unique ID of the checklist step.",
                    "x-ms-summary": "Step ID",
                    "x-ms-visibility": "advanced"
                },
                "instanceTitle": {
                    "type": "string",
                    "description": "The title of the checklist instance.",
                    "x-ms-summary": "Instance Title",
                    "x-ms-visibility": "important"
                },
                "comment": {
                    "type": "string",
                    "description": "The comment text added to the step.",
                    "x-ms-summary": "Comment Text",
                    "x-ms-visibility": "important"
                },
                "created": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date and time the comment was created.",
                    "x-ms-summary": "Comment Date",
                    "x-ms-visibility": "important"
                },
                "createdBy": {
                    "type": "string",
                    "description": "The email address of the user who created the comment.",
                    "x-ms-summary": "Comment User",
                    "x-ms-visibility": "important"
                },
                "imageUrl": {
                    "type": "string",
                    "description": "The URL to the attached file. Valid for 5 minutes.",
                    "x-ms-summary": "Comment Attachment URL",
                    "x-ms-visibility": "important"
                }
            }
        },
        "Procedure": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The unique ID of the procedure.",
                    "x-ms-summary": "Procedure ID",
                    "x-ms-visibility": "important"
                },
                "title": {
                    "type": "string",
                    "description": "The title of the procedure.",
                    "x-ms-summary": "Procedure Title",
                    "x-ms-visibility": "important"
                },
                "status": {
                    "type": "string",
                    "description": "The publishing status of the procedure.",
                    "x-ms-summary": "Procedure Status",
                    "x-ms-visibility": "advanced"
                },
                "summary": {
                    "type": "string",
                    "description": "The summary of the procedure.",
                    "x-ms-summary": "Procedure Summary",
                    "x-ms-visibility": "important"
                },
                "createdBy": {
                    "type": "string",
                    "description": "The email of the user that created the procedure.",
                    "x-ms-summary": "Created By",
                    "x-ms-visibility": "important"
                },
                "url": {
                    "type": "string",
                    "description": "The URL of the procedure.",
                    "x-ms-summary": "Procedure URL",
                    "x-ms-visibility": "important"
                },
                "restricted": {
                    "type": "boolean",
                    "description": "Wether the procedure is restricted or not.",
                    "x-ms-summary": "Restricted",
                    "x-ms-visibility": "advanced",
                    "enum": [
                        true,
                        false
                    ]
                },
                "type": {
                    "type": "integer",
                    "enum": [
                        1,
                        2
                    ],
                    "description": "The type of procedure; 1 (standard) or 2 (checklist)",
                    "x-ms-summary": "Procedure Type",
                    "x-ms-visibility": "advanced"
                }
            }
        },
        "ProcedureAcceptance": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The unique ID of the procedure acceptance",
                    "x-ms-summary": "Acceptance ID",
                    "x-ms-visibility": "important"
                },
                "accepted": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date and time the procedure was accepted.",
                    "x-ms-summary": "Accepted",
                    "x-ms-visibility": "advanced"
                },
                "createdBy": {
                    "type": "string",
                    "description": "The email address of the user that accepted the procedure.",
                    "x-ms-summary": "Accepted By",
                    "x-ms-visibility": "important"
                },
                "fileName": {
                    "type": "string",
                    "description": "The file name of the generated PDF.",
                    "x-ms-summary": "PDF File Name",
                    "x-ms-visibility": "important"
                },
                "attachmentUrl": {
                    "type": "string",
                    "description": "The URL to the generated PDF. Valid for 5 minutes.",
                    "x-ms-summary": "PDF URL",
                    "x-ms-visibility": "important"
                },
                "procedureTitle": {
                    "type": "string",
                    "description": "The title of the accepted procedure.",
                    "x-ms-summary": "Procedure Title",
                    "x-ms-visibility": "important"
                }
            }
        },
        "User": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The unique ID of the user.",
                    "x-ms-summary": "User ID",
                    "x-ms-visibility": "important"
                },
                "firstName": {
                    "type": "string",
                    "description": "The first name of the user.",
                    "x-ms-summary": "First Name",
                    "x-ms-visibility": "important"
                },
                "lastName": {
                    "type": "string",
                    "description": "The last name of the user.",
                    "x-ms-summary": "Last Name",
                    "x-ms-visibility": "important"
                },
                "email": {
                    "type": "string",
                    "description": "The email address of the user.",
                    "x-ms-summary": "Email",
                    "x-ms-visibility": "important"
                }
            }
        },
        "WebhookRegistered" : {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The unique ID of the Webhook registration.",
                    "x-ms-summary": "Webhook ID",
                    "x-ms-visibility": "internal"
                },
                "callbackurl": {
                    "type": "string",
                    "description": "The URL to call when action occurs.",
                    "x-ms-summary": "Callback URL",
                    "x-ms-visibility": "internal"
                },
                "created": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date and time the webhook was registered.",
                    "x-ms-summary": "Created Date",
                    "x-ms-visibility": "internal"
                },
                "webHookEvent": {
                    "type": "string",
                    "description": "The name of the webhook event.",
                    "x-ms-summary": "Webhook Event",
                    "x-ms-visibility": "internal"
                }
            }
        }
    },
    "parameters": {
        "Limit": {
            "type": "integer",
            "name": "limit",
            "in": "query",
            "x-nullable": false,
            "format": "int32",
            "default": 20,
            "description": "Maximum number of results to fetch.",
            "x-ms-summary": "Limit",
            "required": false,
            "x-ms-visibility": "advanced"
        },
        "Offset": {
            "type": "integer",
            "name": "offset",
            "in": "query",
            "x-nullable": false,
            "format": "int32",
            "default": 0,
            "description": "The number of records skipped.",
            "x-ms-summary": "Offset",
            "required": false,
            "x-ms-visibility": "advanced"
        },
        "WebhookRegistration": {
            "name": "Webhook Registration",
            "in": "body",
            "required": true,
            "schema": {
                "type": "object",
                "properties": {
                    "callbackUrl": {
                        "type": "string",
                        "description": "The URL to call when action occurs.",
                        "x-ms-summary": "Callback URL",
                        "x-ms-visibility": "internal",
                        "x-ms-notification-url": true
                    }
                },
                "required": ["callbackUrl"]
            },
            "x-ms-visibility": "important"
        }
    },
    "responses": {},
    "securityDefinitions": {
        "apikey": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "security": [],
    "tags": [],
    "x-generator": "NSwag v11.11.2.0 (NJsonSchema v9.9.14.0 (Newtonsoft.Json v10.0.0.0))"
}
