{
  "swagger": "2.0",
  "info": {
    "title": "IN-D KYC India",
    "description": "Classify ID documents, and extracts useful attributes smartly leveraging on the power of AI. Works with most of the officially valid documents for vetting your customers making your onboarding fraud-proof and build trust.",
    "version": "1.0",
    "contact": {
      "name": "IN-D Support",
      "url": "https://one.in-d.ai/developer/",
      "email": "explore@in-d.ai"
    }
  },
  "host": "api.kyc.in-d.ai",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/mw/classification": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "desc": {
                    "type": "string",
                    "description": "Human readable error description",
                    "title": "err_desc"
                  },
                  "result": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "document_type": {
                          "type": "string",
                          "description": "Type of document in image"
                        },
                        "filename": {
                          "type": "string",
                          "description": "Name of the file uploaded"
                        },
                        "image_quality": {
                          "type": "string",
                          "description": "Quality of the image"
                        }
                      }
                    },
                    "description": "result"
                  },
                  "status": {
                    "type": "string",
                    "description": "POST Request status either success or fail",
                    "title": "status"
                  },
                  "user": {
                    "type": "string",
                    "description": "User account belonging to the Key",
                    "title": "user"
                  }
                }
              }
            }
          },
          "401": {
            "description": "x-api-key expired or wrong",
            "schema": {
              "type": "object",
              "properties": {
                "err_desc": {
                  "type": "string",
                  "description": "Human readable error description",
                  "title": "err_desc"
                },
                "result": {
                  "type": "string",
                  "description": "result will be null for error",
                  "title": "result"
                },
                "status": {
                  "type": "string",
                  "description": "request status either success or fail",
                  "title": "status"
                }
              }
            }
          },
          "403": {
            "description": "x-api-key missing",
            "schema": {
              "type": "object",
              "properties": {
                "err_desc": {
                  "type": "string",
                  "description": "Human readable error description",
                  "title": "err_desc"
                },
                "result": {
                  "type": "string",
                  "description": "result will be null for error",
                  "title": "result"
                },
                "status": {
                  "type": "string",
                  "description": "Request status either success or fail",
                  "title": "status"
                }
              }
            }
          },
          "500": {
            "description": "internal error",
            "schema": {
              "type": "object",
              "properties": {
                "err_desc": {
                  "type": "string",
                  "description": "Human readable error description",
                  "title": "err_desc"
                },
                "result": {
                  "type": "string",
                  "description": "result will be null for error",
                  "title": "result"
                },
                "status": {
                  "type": "string",
                  "description": "request status either success or fail",
                  "title": "status"
                }
              }
            }
          }
        },
        "summary": "ID Document Classification",
        "description": "This action automatically classifies different ID documents and give the document type across the document name as an output.",
        "operationId": "IDDocClassification",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content-Type",
            "description": "Content-Type of POST request must be application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string",
                    "description": "filename",
                    "title": "Image name"
                  },
                  "payload": {
                    "type": "string",
                    "description": "payload",
                    "title": "Base64 Content of Image",
                    "format": "byte"
                  }
                },
                "required": [
                  "payload",
                  "filename"
                ]
              },
              "required": [
                "items"
              ]
            }
          }
        ]
      }
    },
    "/api/mw/extraction": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "desc": {
                    "type": "string",
                    "description": "Human readable error description",
                    "title": "err_desc"
                  },
                  "result": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "document_type": {
                          "type": "string",
                          "description": "Type of document in image"
                        },
                        "filename": {
                          "type": "string",
                          "description": "Name of the file uploaded"
                        },
                        "additionalProperties": {
                          "type": "string",
                          "description": "Extraxted Fields of the particular i'd document"
                        }
                      }
                    },
                    "description": "result"
                  },
                  "status": {
                    "type": "string",
                    "description": "POST Request status either success or fail",
                    "title": "status"
                  },
                  "user": {
                    "type": "string",
                    "description": "User account belonging to the Key",
                    "title": "user"
                  }
                }
              }
            }
          },
          "401": {
            "description": "x-api-key expired or wrong",
            "schema": {
              "type": "object",
              "properties": {
                "err_desc": {
                  "type": "string",
                  "description": "Human readable error description",
                  "title": "err_desc"
                },
                "result": {
                  "type": "string",
                  "description": "result will be null for error",
                  "title": "result"
                },
                "status": {
                  "type": "string",
                  "description": "request status either success or fail",
                  "title": "status"
                }
              }
            }
          },
          "403": {
            "description": "x-api-key missing",
            "schema": {
              "type": "object",
              "properties": {
                "err_desc": {
                  "type": "string",
                  "description": "Human readable error description",
                  "title": "err_desc"
                },
                "result": {
                  "type": "string",
                  "description": "result will be null for error",
                  "title": "result"
                },
                "status": {
                  "type": "string",
                  "description": "request status either success or fail",
                  "title": "status"
                }
              }
            }
          },
          "500": {
            "description": "internal error",
            "schema": {
              "type": "object",
              "properties": {
                "err_desc": {
                  "type": "string",
                  "description": "Human readable error description",
                  "title": "err_desc"
                },
                "result": {
                  "type": "string",
                  "description": "result will be null for error",
                  "title": "result"
                },
                "status": {
                  "type": "string",
                  "description": "request status either success or fail",
                  "title": "status"
                }
              }
            }
          }
        },
        "summary": "ID Document Classification and Extraction",
        "description": "This action does both classification of the ID document and extraction of attributes from the ID document. When a document is sent as an input, the extracted data along with the classified document type is received as an output.",
        "operationId": "IDDocClassificationAndExtraction",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content-Type",
            "description": "Content-Type of POST request must be application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string",
                    "description": "filename",
                    "title": "Image name"
                  },
                  "payload": {
                    "type": "string",
                    "description": "payload",
                    "title": "Base64 Content of Image",
                    "format": "byte"
                  }
                },
                "required": [
                  "payload",
                  "filename"
                ]
              },
              "required": [
                "items"
              ]
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "www.in-d.ai"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "www.in-d.ai/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;IT Operations"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
