{
  "swagger": "2.0",
  "info": {
    "title": "Hume",
    "description": "Hume is the AI toolkit to understand emotional expression and align technology with human well-being. Our platform is developed in tandem with scientific innovations that reveal how people experience and express over 30 distinct emotions.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.hume.ai",
  "basePath": "/v0/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/batch/jobs": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "The user identifier.",
                    "title": "User ID"
                  },
                  "job_id": {
                    "type": "string",
                    "description": "The job identifier.",
                    "title": "Job ID"
                  },
                  "request": {
                    "type": "object",
                    "properties": {
                      "models": {
                        "type": "object",
                        "properties": {
                          "face": {
                            "type": "object",
                            "properties": {
                              "fps_pred": {
                                "type": "number",
                                "format": "float",
                                "description": "The number of frames per second to process.",
                                "title": "FPS Pred"
                              },
                              "prob_threshold": {
                                "type": "number",
                                "format": "float",
                                "description": "The probability threshold.",
                                "title": "Prob Threshold"
                              },
                              "identify_faces": {
                                "type": "boolean",
                                "description": "Whether to identify faces.",
                                "title": "Identify Faces"
                              },
                              "min_face_size": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The minimum face size.",
                                "title": "Min Face Size"
                              },
                              "facs": {
                                "type": "object",
                                "properties": {},
                                "description": "The FACs.",
                                "title": "FACs"
                              },
                              "descriptions": {
                                "type": "object",
                                "properties": {},
                                "description": "The descriptions.",
                                "title": "descriptions"
                              },
                              "save_faces": {
                                "type": "boolean",
                                "description": "Whether to save faces.",
                                "title": "Save Faces"
                              }
                            },
                            "title": "Face"
                          },
                          "prosody": {
                            "type": "object",
                            "properties": {
                              "granularity": {
                                "type": "string",
                                "description": "The granularity.",
                                "title": "Granularity"
                              },
                              "identify_speakers": {
                                "type": "boolean",
                                "description": "Whether to identify speakers.",
                                "title": "Identify Speakers"
                              },
                              "window": {
                                "type": "object",
                                "properties": {
                                  "length": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The length.",
                                    "title": "Length"
                                  },
                                  "step": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The step.",
                                    "title": "Step"
                                  }
                                },
                                "title": "Window"
                              }
                            },
                            "title": "Prosody"
                          },
                          "language": {
                            "type": "object",
                            "properties": {
                              "granularity": {
                                "type": "string",
                                "description": "The granularity.",
                                "title": "Granularity"
                              },
                              "identify_speakers": {
                                "type": "boolean",
                                "description": "Whether to identify speakers.",
                                "title": "Identify Speakers"
                              },
                              "sentiment": {
                                "type": "object",
                                "properties": {},
                                "description": "The sentiment",
                                "title": "Sentiment"
                              },
                              "toxicity": {
                                "type": "object",
                                "properties": {},
                                "description": "The toxicity",
                                "title": "Toxicity"
                              }
                            },
                            "title": "Language"
                          },
                          "ner": {
                            "type": "object",
                            "properties": {
                              "identify_speakers": {
                                "type": "boolean",
                                "description": "Whether to identify speakers.",
                                "title": "Identify Speakers"
                              }
                            },
                            "title": "Ner"
                          },
                          "facemesh": {
                            "type": "object",
                            "properties": {},
                            "description": "The facemash",
                            "title": "Facemesh"
                          }
                        },
                        "title": "Models"
                      },
                      "transcription": {
                        "type": "object",
                        "properties": {
                          "language": {
                            "type": "string",
                            "description": "The language.",
                            "title": "Language"
                          }
                        },
                        "title": "Transcription"
                      },
                      "urls": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The URL addresses.",
                        "title": "URLs"
                      },
                      "callback_url": {
                        "type": "string",
                        "description": "The callback URL address.",
                        "title": "Callback URL"
                      },
                      "notify": {
                        "type": "boolean",
                        "description": "Whether to notify.",
                        "title": "Notify"
                      },
                      "files": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "filename": {
                              "type": "string",
                              "description": "The filename.",
                              "title": "Filename"
                            },
                            "content_type": {
                              "type": "string",
                              "description": "The content type.",
                              "title": "Content Type"
                            },
                            "md5sum": {
                              "type": "string",
                              "description": "The MD5 sum.",
                              "title": "MD5 Sum"
                            }
                          }
                        },
                        "title": "Files"
                      }
                    },
                    "title": "Request"
                  },
                  "state": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "created_timestamp_ms": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The created timestamp.",
                        "title": "Created Timestamp"
                      }
                    },
                    "title": "State"
                  }
                }
              }
            }
          }
        },
        "summary": "List jobs",
        "description": "Retrieve a list of jobs.",
        "operationId": "JobsGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The page limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "status",
            "in": "query",
            "x-ms-summary": "Status",
            "description": "The status.",
            "required": false,
            "type": "string",
            "enum": [
              "COMPLETED",
              "IN_PROGRESS",
              "QUEUED",
              "FAILED"
            ]
          },
          {
            "name": "when",
            "in": "query",
            "x-ms-summary": "When",
            "description": "The when.",
            "required": false,
            "type": "string",
            "enum": [
              "created_before",
              "created_after"
            ]
          },
          {
            "name": "timestamp_ms",
            "in": "query",
            "x-ms-summary": "Timestamp",
            "description": "The timestamp.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort_by",
            "in": "query",
            "x-ms-summary": "Sort By",
            "description": "The sort by.",
            "required": false,
            "type": "string",
            "enum": [
              "created",
              "started",
              "ended"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "x-ms-summary": "Direction",
            "description": "The sort direction.",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "job_id": {
                  "type": "string",
                  "description": "The job identifier.",
                  "title": "Job ID"
                }
              }
            }
          }
        },
        "summary": "Start a job",
        "description": "Starts a new batch job.",
        "operationId": "JobPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "models": {
                  "type": "object",
                  "properties": {
                    "face": {
                      "type": "object",
                      "properties": {
                        "fps_pred": {
                          "type": "number",
                          "format": "float",
                          "description": "The frames per second to process.",
                          "title": "FPS Pred"
                        },
                        "prob_threshold": {
                          "type": "number",
                          "format": "float",
                          "description": "The probability threshold.",
                          "title": "Prob Threshold"
                        },
                        "identify_faces": {
                          "type": "boolean",
                          "description": "Whether to identify faces.",
                          "title": "Identify Faces"
                        },
                        "min_face_size": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The minimum face size.",
                          "title": "Min Face Size"
                        },
                        "save_faces": {
                          "type": "boolean",
                          "description": "Whether to saves faces.",
                          "title": "Save Faces"
                        }
                      },
                      "title": "Face"
                    },
                    "prosody": {
                      "type": "object",
                      "properties": {
                        "granularity": {
                          "type": "string",
                          "description": "The granularity.",
                          "title": "Granularity"
                        },
                        "identify_speakers": {
                          "type": "boolean",
                          "description": "Whether to identify speakers.",
                          "title": "Identify Speakers"
                        },
                        "window": {
                          "type": "object",
                          "properties": {
                            "length": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The length.",
                              "title": "Length"
                            },
                            "step": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The step.",
                              "title": "Step"
                            }
                          },
                          "title": "Window"
                        }
                      },
                      "title": "Prosody"
                    },
                    "language": {
                      "type": "object",
                      "properties": {
                        "granularity": {
                          "type": "string",
                          "description": "The granularity.",
                          "title": "Granularity"
                        },
                        "identify_speakers": {
                          "type": "boolean",
                          "description": "Whether to identify speakers.",
                          "title": "Identify Speakers"
                        }
                      },
                      "title": "Language"
                    },
                    "ner": {
                      "type": "object",
                      "properties": {
                        "identify_speakers": {
                          "type": "boolean",
                          "description": "Whether to identify speakers.",
                          "title": "Identify Speakers"
                        }
                      },
                      "title": "Ner"
                    }
                  },
                  "title": "Models"
                },
                "transcription": {
                  "type": "object",
                  "properties": {
                    "language": {
                      "type": "string",
                      "description": "The language",
                      "title": "Language"
                    }
                  },
                  "title": "Transcription"
                },
                "urls": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The URL addresses.",
                  "title": "URLs"
                },
                "callback_url": {
                  "type": "string",
                  "description": "The callback URL address.",
                  "title": "Callback URL"
                },
                "notify": {
                  "type": "boolean",
                  "description": "Whether to notify.",
                  "title": "Notify"
                }
              }
            }
          }
        ]
      }
    },
    "/batch/jobs/{id}/predictions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      }
                    },
                    "title": "Source"
                  },
                  "results": {
                    "type": "object",
                    "properties": {
                      "predictions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "file": {
                              "type": "string",
                              "description": "The file.",
                              "title": "File"
                            },
                            "models": {
                              "type": "object",
                              "properties": {
                                "face": {
                                  "type": "object",
                                  "properties": {
                                    "metadata": {
                                      "type": "object",
                                      "properties": {},
                                      "description": "The metadata.",
                                      "title": "Metadata"
                                    },
                                    "grouped_predictions": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "The identifier.",
                                            "title": "ID"
                                          },
                                          "predictions": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "frame": {
                                                  "type": "integer",
                                                  "format": "int32",
                                                  "description": "The frame.",
                                                  "title": "Frame"
                                                },
                                                "time": {
                                                  "type": "integer",
                                                  "format": "int32",
                                                  "description": "The time.",
                                                  "title": "Time"
                                                },
                                                "prob": {
                                                  "type": "integer",
                                                  "format": "int32",
                                                  "description": "The probability.",
                                                  "title": "Prob"
                                                },
                                                "box": {
                                                  "type": "object",
                                                  "properties": {
                                                    "x": {
                                                      "type": "integer",
                                                      "format": "int32",
                                                      "description": "The X value.",
                                                      "title": "X"
                                                    },
                                                    "y": {
                                                      "type": "integer",
                                                      "format": "int32",
                                                      "description": "The Y value.",
                                                      "title": "Y"
                                                    },
                                                    "w": {
                                                      "type": "integer",
                                                      "format": "int32",
                                                      "description": "The W value.",
                                                      "title": "W"
                                                    },
                                                    "h": {
                                                      "type": "integer",
                                                      "format": "int32",
                                                      "description": "The H value.",
                                                      "title": "H"
                                                    }
                                                  },
                                                  "title": "Box"
                                                },
                                                "emotions": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "name": {
                                                        "type": "string",
                                                        "description": "The name.",
                                                        "title": "Name"
                                                      },
                                                      "score": {
                                                        "type": "string",
                                                        "description": "The score.",
                                                        "title": "Score"
                                                      }
                                                    }
                                                  },
                                                  "title": "Emotions"
                                                },
                                                "facs": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "name": {
                                                        "type": "string",
                                                        "description": "The name.",
                                                        "title": "Name"
                                                      },
                                                      "score": {
                                                        "type": "string",
                                                        "description": "The score.",
                                                        "title": "Score"
                                                      }
                                                    }
                                                  },
                                                  "title": "Facs"
                                                },
                                                "descriptions": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "name": {
                                                        "type": "string",
                                                        "description": "The name.",
                                                        "title": "Name"
                                                      },
                                                      "score": {
                                                        "type": "string",
                                                        "description": "The score.",
                                                        "title": "Score"
                                                      }
                                                    }
                                                  },
                                                  "title": "Descriptions"
                                                }
                                              }
                                            },
                                            "title": "Predictions"
                                          }
                                        }
                                      },
                                      "title": "Grouped"
                                    }
                                  },
                                  "title": "Face"
                                },
                                "burst": {
                                  "type": "object",
                                  "properties": {
                                    "metadata": {
                                      "type": "object",
                                      "properties": {},
                                      "description": "The metadata.",
                                      "title": "Metadata"
                                    },
                                    "grouped_predictions": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "The identifier.",
                                            "title": "ID"
                                          },
                                          "predictions": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "time": {
                                                  "type": "object",
                                                  "properties": {
                                                    "begin": {
                                                      "type": "integer",
                                                      "format": "int32",
                                                      "description": "The beginning.",
                                                      "title": "Begin"
                                                    },
                                                    "end": {
                                                      "type": "integer",
                                                      "format": "int32",
                                                      "description": "The end.",
                                                      "title": "End"
                                                    }
                                                  },
                                                  "title": "Time"
                                                },
                                                "emotions": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "name": {
                                                        "type": "string",
                                                        "description": "The name.",
                                                        "title": "Name"
                                                      },
                                                      "score": {
                                                        "type": "string",
                                                        "description": "The score.",
                                                        "title": "Score"
                                                      }
                                                    }
                                                  },
                                                  "title": "Emotions"
                                                },
                                                "descriptions": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "name": {
                                                        "type": "string",
                                                        "description": "The name.",
                                                        "title": "Name"
                                                      },
                                                      "score": {
                                                        "type": "string",
                                                        "description": "The score.",
                                                        "title": "Score"
                                                      }
                                                    }
                                                  },
                                                  "title": "Descriptions"
                                                }
                                              }
                                            },
                                            "title": "Predictions"
                                          }
                                        }
                                      },
                                      "title": "Grouped"
                                    }
                                  },
                                  "title": "Burst"
                                },
                                "prosody": {
                                  "type": "object",
                                  "properties": {
                                    "metadata": {
                                      "type": "object",
                                      "properties": {
                                        "confidence": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "The confidence.",
                                          "title": "Confidence"
                                        },
                                        "detected_language": {
                                          "type": "string",
                                          "description": "The detected language.",
                                          "title": "Detected Language"
                                        }
                                      },
                                      "title": "Metadata"
                                    },
                                    "grouped_predictions": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "The identifier.",
                                            "title": "ID"
                                          },
                                          "predictions": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "text": {
                                                  "type": "string",
                                                  "description": "The text.",
                                                  "title": "Text"
                                                },
                                                "time": {
                                                  "type": "object",
                                                  "properties": {
                                                    "begin": {
                                                      "type": "integer",
                                                      "format": "int32",
                                                      "description": "The beginning.",
                                                      "title": "Begin"
                                                    },
                                                    "end": {
                                                      "type": "integer",
                                                      "format": "int32",
                                                      "description": "The end.",
                                                      "title": "End"
                                                    }
                                                  },
                                                  "title": "Time"
                                                },
                                                "confidence": {
                                                  "type": "integer",
                                                  "format": "int32",
                                                  "description": "The confidence.",
                                                  "title": "Confidence"
                                                },
                                                "speaker_confidence": {
                                                  "type": "integer",
                                                  "format": "int32",
                                                  "description": "The speaker confidence.",
                                                  "title": "Speaker Confidence"
                                                },
                                                "emotions": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "name": {
                                                        "type": "string",
                                                        "description": "The name.",
                                                        "title": "Name"
                                                      },
                                                      "score": {
                                                        "type": "string",
                                                        "description": "The score.",
                                                        "title": "Score"
                                                      }
                                                    }
                                                  },
                                                  "title": "Emotions"
                                                }
                                              }
                                            },
                                            "title": "Predictions"
                                          }
                                        }
                                      },
                                      "title": "Grouped"
                                    }
                                  },
                                  "title": "Prosody"
                                },
                                "language": {
                                  "type": "object",
                                  "properties": {
                                    "metadata": {
                                      "type": "object",
                                      "properties": {
                                        "confidence": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "The confidence.",
                                          "title": "Confidence"
                                        },
                                        "detected_language": {
                                          "type": "string",
                                          "description": "The detected language.",
                                          "title": "Detected Language"
                                        }
                                      },
                                      "title": "Metadata"
                                    },
                                    "grouped_predictions": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "The identifier.",
                                            "title": "ID"
                                          },
                                          "predictions": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "text": {
                                                  "type": "string",
                                                  "description": "The text.",
                                                  "title": "Text"
                                                },
                                                "position": {
                                                  "type": "object",
                                                  "properties": {
                                                    "begin": {
                                                      "type": "integer",
                                                      "format": "int32",
                                                      "description": "The beginning.",
                                                      "title": "Begin"
                                                    },
                                                    "end": {
                                                      "type": "integer",
                                                      "format": "int32",
                                                      "description": "The end.",
                                                      "title": "End"
                                                    }
                                                  },
                                                  "title": "Position"
                                                },
                                                "time": {
                                                  "type": "object",
                                                  "properties": {
                                                    "begin": {
                                                      "type": "integer",
                                                      "format": "int32",
                                                      "description": "The beginning.",
                                                      "title": "Begin"
                                                    },
                                                    "end": {
                                                      "type": "integer",
                                                      "format": "int32",
                                                      "description": "The end.",
                                                      "title": "End"
                                                    }
                                                  },
                                                  "title": "Time"
                                                },
                                                "confidence": {
                                                  "type": "integer",
                                                  "format": "int32",
                                                  "description": "The confidence.",
                                                  "title": "Confidence"
                                                },
                                                "speaker_confidence": {
                                                  "type": "integer",
                                                  "format": "int32",
                                                  "description": "The speaker confidence.",
                                                  "title": "Speaker Confidence"
                                                },
                                                "emotions": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "name": {
                                                        "type": "string",
                                                        "description": "The name.",
                                                        "title": "Name"
                                                      },
                                                      "score": {
                                                        "type": "string",
                                                        "description": "The score.",
                                                        "title": "Score"
                                                      }
                                                    }
                                                  },
                                                  "title": "Emotions"
                                                },
                                                "sentiment": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "name": {
                                                        "type": "string",
                                                        "description": "The name.",
                                                        "title": "Name"
                                                      },
                                                      "score": {
                                                        "type": "string",
                                                        "description": "The score.",
                                                        "title": "Score"
                                                      }
                                                    }
                                                  },
                                                  "title": "Sentiment"
                                                },
                                                "toxicity": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "name": {
                                                        "type": "string",
                                                        "description": "The name.",
                                                        "title": "Name"
                                                      },
                                                      "score": {
                                                        "type": "string",
                                                        "description": "The score.",
                                                        "title": "Score"
                                                      }
                                                    }
                                                  },
                                                  "title": "Toxicity"
                                                }
                                              }
                                            },
                                            "title": "Predictions"
                                          }
                                        }
                                      },
                                      "title": "Grouped"
                                    }
                                  },
                                  "title": "Language"
                                },
                                "ner": {
                                  "type": "object",
                                  "properties": {
                                    "metadata": {
                                      "type": "object",
                                      "properties": {
                                        "confidence": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "The confidence.",
                                          "title": "Confidence"
                                        },
                                        "detected_language": {
                                          "type": "string",
                                          "description": "The detected language.",
                                          "title": "Detected Language"
                                        }
                                      },
                                      "title": "Metadata"
                                    },
                                    "grouped_predictions": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "The identifier.",
                                            "title": "ID"
                                          },
                                          "predictions": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "entity": {
                                                  "type": "string",
                                                  "description": "The entity.",
                                                  "title": "Entity"
                                                },
                                                "position": {
                                                  "type": "object",
                                                  "properties": {
                                                    "begin": {
                                                      "type": "integer",
                                                      "format": "int32",
                                                      "description": "The beginning.",
                                                      "title": "Begin"
                                                    },
                                                    "end": {
                                                      "type": "integer",
                                                      "format": "int32",
                                                      "description": "The end.",
                                                      "title": "End"
                                                    }
                                                  },
                                                  "title": "Position"
                                                },
                                                "entity_confidence": {
                                                  "type": "integer",
                                                  "format": "int32",
                                                  "description": "The entity confidence.",
                                                  "title": "Entity Confidence"
                                                },
                                                "support": {
                                                  "type": "integer",
                                                  "format": "int32",
                                                  "description": "The support.",
                                                  "title": "Support"
                                                },
                                                "uri": {
                                                  "type": "string",
                                                  "description": "The Uri.",
                                                  "title": "Uri"
                                                },
                                                "link_word": {
                                                  "type": "string",
                                                  "description": "The link word.",
                                                  "title": "Link Word"
                                                },
                                                "time": {
                                                  "type": "object",
                                                  "properties": {
                                                    "begin": {
                                                      "type": "integer",
                                                      "format": "int32",
                                                      "description": "The beginning.",
                                                      "title": "Begin"
                                                    },
                                                    "end": {
                                                      "type": "integer",
                                                      "format": "int32",
                                                      "description": "The end.",
                                                      "title": "End"
                                                    }
                                                  },
                                                  "title": "Time"
                                                },
                                                "confidence": {
                                                  "type": "integer",
                                                  "format": "int32",
                                                  "description": "The confidence.",
                                                  "title": "Confidence"
                                                },
                                                "speaker_confidence": {
                                                  "type": "integer",
                                                  "format": "int32",
                                                  "description": "The speaker confidence.",
                                                  "title": "Speaker Confidence"
                                                },
                                                "emotions": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "name": {
                                                        "type": "string",
                                                        "description": "The name.",
                                                        "title": "Name"
                                                      },
                                                      "score": {
                                                        "type": "string",
                                                        "description": "The score.",
                                                        "title": "Score"
                                                      }
                                                    }
                                                  },
                                                  "title": "Emotions"
                                                }
                                              }
                                            },
                                            "title": "Predictions"
                                          }
                                        }
                                      },
                                      "title": "Grouped"
                                    }
                                  },
                                  "title": "Ner"
                                },
                                "facemesh": {
                                  "type": "object",
                                  "properties": {
                                    "metadata": {
                                      "type": "object",
                                      "properties": {},
                                      "description": "The metadata.",
                                      "title": "Metadata"
                                    },
                                    "grouped_predictions": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "The identifier.",
                                            "title": "ID"
                                          },
                                          "predictions": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "emotions": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "name": {
                                                        "type": "string",
                                                        "description": "The name.",
                                                        "title": "Name"
                                                      },
                                                      "score": {
                                                        "type": "string",
                                                        "description": "The score.",
                                                        "title": "Score"
                                                      }
                                                    }
                                                  },
                                                  "title": "Emotions"
                                                }
                                              }
                                            },
                                            "title": "Predictions"
                                          }
                                        }
                                      },
                                      "title": "Grouped"
                                    }
                                  },
                                  "title": "Facemesh"
                                }
                              },
                              "title": "Models"
                            }
                          }
                        },
                        "title": "Predictions"
                      },
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "description": "The message.",
                              "title": "Message"
                            },
                            "file": {
                              "type": "string",
                              "description": "The file.",
                              "title": "File"
                            }
                          }
                        },
                        "title": "Errors"
                      }
                    },
                    "title": "Results"
                  },
                  "error": {
                    "type": "string",
                    "description": "The error .",
                    "title": "Error"
                  }
                }
              }
            }
          }
        },
        "summary": "Get job predictions",
        "description": "Retrieve the predictions of a completed job.",
        "operationId": "JobPredictionsGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/batch/jobs/{id}/artifacts": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Get job artifacts",
        "description": "Retrieve the artifacts of a completed job.",
        "operationId": "JobArtifactsGet",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "x-ms-summary": "Accept",
            "description": "The accept type.",
            "required": true,
            "type": "string",
            "default": "application/octet-stream",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/batch/jobs/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "string",
                  "description": "The user identifier.",
                  "title": "User ID"
                },
                "job_id": {
                  "type": "string",
                  "description": "The job identifier.",
                  "title": "Job ID"
                },
                "request": {
                  "type": "object",
                  "properties": {
                    "models": {
                      "type": "object",
                      "properties": {
                        "face": {
                          "type": "object",
                          "properties": {
                            "fps_pred": {
                              "type": "number",
                              "format": "float",
                              "description": "The frames per second to process.",
                              "title": "FPS Pred"
                            },
                            "prob_threshold": {
                              "type": "number",
                              "format": "float",
                              "description": "The probability threshold.",
                              "title": "Prob Threshold"
                            },
                            "identify_faces": {
                              "type": "boolean",
                              "description": "Whether to identify faces.",
                              "title": "Identify Faces"
                            },
                            "min_face_size": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The minimum face size.",
                              "title": "Min Face Size"
                            },
                            "facs": {
                              "type": "object",
                              "properties": {},
                              "description": "The model predictions.",
                              "title": "Facs"
                            },
                            "descriptions": {
                              "type": "object",
                              "properties": {},
                              "description": "The descriptions.",
                              "title": "Descriptions"
                            },
                            "save_faces": {
                              "type": "boolean",
                              "description": "Whether to save faces.",
                              "title": "Save Faces"
                            }
                          },
                          "title": "Face"
                        },
                        "burst": {
                          "type": "object",
                          "properties": {},
                          "description": "The burst.",
                          "title": "Burst"
                        },
                        "prosody": {
                          "type": "object",
                          "properties": {
                            "granularity": {
                              "type": "string",
                              "description": "The granularity.",
                              "title": "Granularity"
                            },
                            "identify_speakers": {
                              "type": "boolean",
                              "description": "Whether to identify speakers.",
                              "title": "Identify Speakers"
                            },
                            "window": {
                              "type": "object",
                              "properties": {
                                "length": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The length.",
                                  "title": "Length"
                                },
                                "step": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The step.",
                                  "title": "Step"
                                }
                              },
                              "title": "Window"
                            }
                          },
                          "title": "Prosody"
                        },
                        "language": {
                          "type": "object",
                          "properties": {
                            "granularity": {
                              "type": "string",
                              "description": "The granularity.",
                              "title": "Granularity"
                            },
                            "identify_speakers": {
                              "type": "boolean",
                              "description": "Whether to identify speakers.",
                              "title": "Identify Speakers"
                            },
                            "sentiment": {
                              "type": "object",
                              "properties": {},
                              "description": "The sentiment.",
                              "title": "Sentiment"
                            },
                            "toxicity": {
                              "type": "object",
                              "properties": {},
                              "description": "The toxicity.",
                              "title": "Toxicity"
                            }
                          },
                          "title": "Language"
                        },
                        "ner": {
                          "type": "object",
                          "properties": {
                            "identify_speakers": {
                              "type": "boolean",
                              "description": "Whether to identify speakers.",
                              "title": "Identify Speakers"
                            }
                          },
                          "title": "Ner"
                        },
                        "facemesh": {
                          "type": "object",
                          "properties": {},
                          "description": "The facemesh.",
                          "title": "Facemesh"
                        }
                      },
                      "title": "Models"
                    },
                    "transcription": {
                      "type": "object",
                      "properties": {
                        "language": {
                          "type": "string",
                          "description": "The language.",
                          "title": "Language"
                        }
                      },
                      "title": "Transcription"
                    },
                    "urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The URL addresses.",
                      "title": "URLs"
                    },
                    "callback_url": {
                      "type": "string",
                      "description": "The callback URL.",
                      "title": "Callback URL"
                    },
                    "notify": {
                      "type": "boolean",
                      "description": "Whether to notify.",
                      "title": "Notify"
                    },
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "filename": {
                            "type": "string",
                            "description": "The filename.",
                            "title": "Filename"
                          },
                          "content_type": {
                            "type": "string",
                            "description": "The content type.",
                            "title": "Content Type"
                          },
                          "md5sum": {
                            "type": "string",
                            "description": "The MD5 sum.",
                            "title": "MD5 Sum"
                          }
                        }
                      },
                      "title": "Files"
                    }
                  },
                  "title": "Request"
                },
                "state": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "created_timestamp_ms": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The created timestamp.",
                      "title": "Created Timestamp"
                    }
                  },
                  "title": "State"
                }
              }
            }
          }
        },
        "summary": "Get job details",
        "description": "Retrieve the details and state of a given job.",
        "operationId": "JobDetailsGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Hume-Api-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://hume.ai/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://hume.ai/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ]
}