{
  "swagger": "2.0",
  "info": {
    "title": "Contacts Pro",
    "description": "Contacts Pro is an advanced contacts management app for Microsoft Teams. This connector will allow you to manage existing contacts or create new ones.",
    "termsOfService": "https://www.teams-pro.com/en/terms-of-use",
    "version": "v1",
    "contact": {
      "name": "TeamsPro Support",
      "url": "https://www.teams-pro.com/en/contact-us/",
      "email": "teams-pro-help@witivio.com"
    }
  },
  "host": "graph.teams-pro.com",
  "basePath": "/contact/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{contactListId}/contacts/{contactId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a contact",
        "description": "Get a contact",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contactListId",
            "description": "The contact list unique identifier",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Contact list ID",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "contactId",
            "description": "The contact unique identifier",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Contact ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the contact",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "400": {
            "description": "The provided id is invalid"
          },
          "404": {
            "description": "The contact has not been found or does not exists"
          }
        },
        "operationId": "GetContact"
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a contact",
        "description": "Delete a contact",
        "parameters": [
          {
            "in": "path",
            "name": "contactListId",
            "description": "The contact list unique identifier",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Contact list ID",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "contactId",
            "description": "The contact unique identifier",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Contact ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "Return no content"
          },
          "400": {
            "description": "The provided id is invalid"
          },
          "404": {
            "description": "The contact has not been found or does not exists"
          }
        },
        "operationId": "DeleteContact"
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update a contact",
        "description": "Update a contact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contactListId",
            "description": "The contact list unique identifier",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Contact list ID",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "contactId",
            "description": "The contact unique identifier",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Contact ID",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Contact to update",
            "required": true,
            "schema": {
              "required": [
                "name"
              ],
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the contact",
                  "title": "Name",
                  "maxLength": 100,
                  "minLength": 1,
                  "type": "string"
                },
                "groupId": {
                  "description": "The group unique identifier which contact belongs if exists",
                  "title": "Group ID",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "jobTitle": {
                  "description": "The job title of the contact",
                  "title": "Job",
                  "maxLength": 100,
                  "type": "string"
                },
                "company": {
                  "description": "The company name of the contact",
                  "title": "Company",
                  "maxLength": 100,
                  "type": "string"
                },
                "department": {
                  "description": "The department in the company of the contact",
                  "title": "Company department",
                  "maxLength": 100,
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "internet": {
                  "$ref": "#/definitions/Internet"
                },
                "phones": {
                  "$ref": "#/definitions/PhoneNumber"
                },
                "addresses": {
                  "description": "The list of addresses of the contact",
                  "title": "Addresses",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Address"
                  }
                },
                "notes": {
                  "description": "The notes of the contact",
                  "title": "Notes",
                  "maxLength": 1000,
                  "type": "string",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return the updated contact",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "400": {
            "description": "The provided model is invalid"
          },
          "404": {
            "description": "The contact has not been found or does not exists"
          }
        },
        "operationId": "UpdateContact"
      }
    },
    "/{contactListId}/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get all contacts",
        "description": "Get the list of all contacts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contactListId",
            "description": "The contact list unique identifier",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Contact list ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Return list of contacts",
            "schema": {
              "description": "The list of contacts",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Contact"
              }
            }
          },
          "400": {
            "description": "The provided id is invalid"
          },
          "404": {
            "description": "The list of contacts has not been found or does not exists"
          }
        },
        "operationId": "GetAllContacts"
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a new contact",
        "description": "Create a new contact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contactListId",
            "description": "The contact list unique identifier",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Contact list ID",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Contact to create",
            "required": true,
            "schema": {
              "required": [
                "name"
              ],
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name or fullname (firstname and or lastname) of the contact",
                  "title": "Name",
                  "maxLength": 100,
                  "minLength": 1,
                  "type": "string"
                },
                "groupId": {
                  "description": "The group unique identifier which contact belongs if exists",
                  "title": "Group ID",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "jobTitle": {
                  "description": "The job title of the contact",
                  "title": "Job",
                  "maxLength": 100,
                  "type": "string"
                },
                "company": {
                  "description": "The company name of the contact",
                  "title": "Company",
                  "maxLength": 100,
                  "type": "string"
                },
                "department": {
                  "description": "The department in the company of the contact",
                  "title": "Company department",
                  "maxLength": 100,
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "internet": {
                  "$ref": "#/definitions/Internet"
                },
                "phones": {
                  "$ref": "#/definitions/PhoneNumber"
                },
                "addresses": {
                  "description": "The list of addresses of the contact",
                  "title": "Addresses",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Address"
                  }
                },
                "notes": {
                  "description": "The notes of the contact",
                  "title": "Notes",
                  "maxLength": 1000,
                  "type": "string",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Return the contact with id",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "400": {
            "description": "The provided model is invalid"
          },
          "404": {
            "description": "The list of contacts has not been found or does not exists"
          }
        },
        "operationId": "CreateContact"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://developer.teams-pro.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.teams-pro.com/en/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Productivity"
    }
  ],
  "definitions": {
    "Address": {
      "description": "The address",
      "type": "object",
      "properties": {
        "fullAddress": {
          "description": "The full address",
          "maxLength": 250,
          "type": "string",
          "title": "Address",
          "x-ms-visibility": "advanced"
        },
        "lat": {
          "format": "double",
          "description": "The latitude",
          "maximum": 90,
          "minimum": -90,
          "type": "number",
          "title": "Latitude",
          "x-ms-visibility": "advanced"
        },
        "lng": {
          "format": "double",
          "description": "The longitude",
          "maximum": 180,
          "minimum": -180,
          "type": "number",
          "title": "Longitude",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Contact": {
      "required": [
        "name"
      ],
      "type": "object",
      "description": "The contact",
      "properties": {
        "contactListId": {
          "description": "The contact list unique identifier",
          "title": "Contact list ID",
          "format": "uuid",
          "type": "string"
        },
        "id": {
          "description": "The unique identifier of the contact",
          "title": "ID",
          "format": "uuid",
          "type": "string"
        },
        "name": {
          "description": "The name or fullname (firstname and or lastname) of the contact",
          "title": "Name",
          "maxLength": 100,
          "minLength": 1,
          "type": "string"
        },
        "groupId": {
          "description": "The group unique identifier which contact belongs if exists",
          "title": "Group ID",
          "type": "string"
        },
        "jobTitle": {
          "description": "The job title of the contact",
          "title": "Job",
          "maxLength": 100,
          "type": "string"
        },
        "company": {
          "description": "The company name of the contact",
          "title": "Company",
          "maxLength": 100,
          "type": "string"
        },
        "department": {
          "description": "The department in the company of the contact",
          "title": "Company department",
          "maxLength": 100,
          "type": "string"
        },
        "internet": {
          "$ref": "#/definitions/Internet"
        },
        "phones": {
          "$ref": "#/definitions/PhoneNumber"
        },
        "addresses": {
          "description": "The list of addresses of the contact",
          "title": "Addresses",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Address"
          }
        },
        "notes": {
          "description": "The notes of the contact",
          "title": "Notes",
          "maxLength": 1000,
          "type": "string"
        }
      }
    },
    "Internet": {
      "type": "object",
      "description": "The contact internet linked fields",
      "properties": {
        "email": {
          "description": "The email of the contact",
          "title": "Email",
          "format": "email",
          "maxLength": 100,
          "minLength": 0,
          "type": "string"
        },
        "website": {
          "description": "The website link of the contact",
          "title": "Website link",
          "maxLength": 100,
          "minLength": 0,
          "pattern": "^(?:http(s)?:\\/\\/)?[\\w.-]+(?:\\.[\\w\\.-]+)+[\\w\\-\\._~:\\/?#[\\]@!\\$&'\\(\\)\\*\\+,;=.]+$",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "linkedin": {
          "description": "The LinkedIn profile link of the contact",
          "title": "LinkedIn profile",
          "maxLength": 100,
          "minLength": 0,
          "pattern": "^(?:http(s)?:\\/\\/)?[\\w.-]+(?:\\.[\\w\\.-]+)+[\\w\\-\\._~:\\/?#[\\]@!\\$&'\\(\\)\\*\\+,;=.]+$",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "facebook": {
          "description": "The Facebook profile link of the contact",
          "title": "Facebook profile",
          "maxLength": 100,
          "minLength": 0,
          "pattern": "^(?:http(s)?:\\/\\/)?[\\w.-]+(?:\\.[\\w\\.-]+)+[\\w\\-\\._~:\\/?#[\\]@!\\$&'\\(\\)\\*\\+,;=.]+$",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "twitter": {
          "description": "The Twitter profile link of the contact",
          "title": "Twitter profile",
          "maxLength": 100,
          "minLength": 0,
          "pattern": "^(?:http(s)?:\\/\\/)?[\\w.-]+(?:\\.[\\w\\.-]+)+[\\w\\-\\._~:\\/?#[\\]@!\\$&'\\(\\)\\*\\+,;=.]+$",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "PhoneNumber": {
      "type": "object",
      "description": "The contact phone numbers",
      "properties": {
        "businessPhone": {
          "description": "The business number of the contact",
          "title": "Business phone",
          "maxLength": 50,
          "pattern": "^([\\d \\(\\)-\\/+]){1,50}$",
          "type": "string"
        },
        "mobile": {
          "description": "The mobile number of the contact",
          "title": "Mobile phone",
          "maxLength": 50,
          "pattern": "^([\\d \\(\\)-\\/+]){1,50}$",
          "type": "string"
        },
        "home": {
          "description": "The home number of the contact",
          "title": "Home phone",
          "maxLength": 50,
          "pattern": "^([\\d \\(\\)-\\/+]){1,50}$",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "businessFax": {
          "description": "The business fax of the contact",
          "title": "Business fax",
          "maxLength": 50,
          "pattern": "^([\\d \\(\\)-\\/+]){1,50}$",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key"
    }
  },
  "security": [],
  "tags": []
}
