{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Eightfold",
    "description": "Eightfold custom connector for testing the endpoints"
  },
  "host": "apiv2.eightfold-wu.ai",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v2/core/ats-systems/{systemId}/ats-positions/{atsPositionId}": {
      "get": {
        "summary": "ATS Position Get",
        "description": "Given an ats position id, it returns all attributes of the ats position",
        "operationId": "AtsPositionGet",
        "parameters": [
          {
            "name": "systemId",
            "default": "",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "atsPositionId",
            "default": "",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "cxc",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "",
            "description": "cxc"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "createdAt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "createdAt"
                },
                "isPrivate": {
                  "type": "boolean",
                  "description": "isPrivate"
                },
                "businessUnit": {
                  "type": "string",
                  "description": "businessUnit"
                },
                "workLocationOption": {
                  "type": "string",
                  "description": "workLocationOption"
                },
                "atsEntityId": {
                  "type": "string",
                  "description": "atsEntityId"
                },
                "hiringManager": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "hiringManager"
                },
                "internalPostingUrl": {
                  "type": "string",
                  "description": "internalPostingUrl"
                },
                "evergreen": {
                  "type": "boolean",
                  "description": "evergreen"
                },
                "skills": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "skills"
                },
                "company": {
                  "type": "string",
                  "description": "company"
                },
                "lastUpdated": {
                  "type": "integer",
                  "format": "int32",
                  "description": "lastUpdated"
                },
                "displayJobId": {
                  "type": "string",
                  "description": "displayJobId"
                },
                "openings": {
                  "type": "object",
                  "properties": {
                    "closedAt": {
                      "type": "integer",
                      "format": "int32",
                      "description": "closedAt"
                    },
                    "openingDetails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "description": "status"
                          },
                          "closedAt": {
                            "type": "integer",
                            "format": "int32",
                            "description": "closedAt"
                          },
                          "openingId": {
                            "type": "string",
                            "description": "openingId"
                          },
                          "openedAt": {
                            "type": "integer",
                            "format": "int32",
                            "description": "openedAt"
                          },
                          "closeReason": {
                            "type": "string",
                            "description": "closeReason"
                          },
                          "candidateId": {
                            "type": "string",
                            "description": "candidateId"
                          },
                          "applicationId": {
                            "type": "string",
                            "description": "applicationId"
                          }
                        }
                      },
                      "description": "openingDetails"
                    },
                    "numOpenings": {
                      "type": "integer",
                      "format": "int32",
                      "description": "numOpenings"
                    },
                    "openedAt": {
                      "type": "integer",
                      "format": "int32",
                      "description": "openedAt"
                    },
                    "numOpeningsFilled": {
                      "type": "integer",
                      "format": "int32",
                      "description": "numOpeningsFilled"
                    }
                  },
                  "description": "openings"
                },
                "followers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "followers"
                },
                "systemId": {
                  "type": "string",
                  "description": "systemId"
                },
                "activities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "activityTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "activityTime"
                      },
                      "activityType": {
                        "type": "string",
                        "description": "activityType"
                      },
                      "changeLogs": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "newValue": {
                              "type": "string",
                              "description": "newValue"
                            },
                            "fieldName": {
                              "type": "string",
                              "description": "fieldName"
                            },
                            "prevValue": {
                              "type": "string",
                              "description": "prevValue"
                            }
                          }
                        },
                        "description": "changeLogs"
                      },
                      "message": {
                        "type": "string",
                        "description": "message"
                      }
                    }
                  },
                  "description": "activities"
                },
                "postedFor": {
                  "type": "string",
                  "description": "postedFor"
                },
                "questionnaires": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "questionDependencies": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "questionId": {
                              "type": "string",
                              "description": "questionId"
                            },
                            "questionSource": {
                              "type": "string",
                              "description": "questionSource"
                            },
                            "choiceValue": {
                              "type": "string",
                              "description": "choiceValue"
                            },
                            "dependencyType": {
                              "type": "string",
                              "description": "dependencyType"
                            },
                            "childQuestionIds": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "childQuestionIds"
                            }
                          }
                        },
                        "description": "questionDependencies"
                      },
                      "questionnaireId": {
                        "type": "string",
                        "description": "questionnaireId"
                      }
                    }
                  },
                  "description": "questionnaires"
                },
                "restrictAccess": {
                  "type": "boolean",
                  "description": "restrictAccess"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "recruiter": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "recruiter"
                },
                "jobPosts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "publishedTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "publishedTime"
                      },
                      "expirationTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "expirationTime"
                      },
                      "postingTitle": {
                        "type": "string",
                        "description": "postingTitle"
                      },
                      "postingId": {
                        "type": "string",
                        "description": "postingId"
                      },
                      "locale": {
                        "type": "string",
                        "description": "locale"
                      },
                      "primaryPost": {
                        "type": "boolean",
                        "description": "primaryPost"
                      },
                      "jobDescription": {
                        "type": "string",
                        "description": "jobDescription"
                      },
                      "postedFor": {
                        "type": "string",
                        "description": "postedFor"
                      }
                    }
                  },
                  "description": "jobPosts"
                },
                "hiringBand": {
                  "type": "string",
                  "description": "hiringBand"
                },
                "postingTitle": {
                  "type": "string",
                  "description": "postingTitle"
                },
                "posted": {
                  "type": "boolean",
                  "description": "posted"
                },
                "locationFlexibility": {
                  "type": "string",
                  "description": "locationFlexibility"
                },
                "companyDescription": {
                  "type": "string",
                  "description": "companyDescription"
                },
                "customFields": {
                  "type": "object",
                  "properties": {},
                  "description": "customFields"
                },
                "sourcers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "sourcers"
                },
                "workflowTemplateId": {
                  "type": "string",
                  "description": "workflowTemplateId"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "jobCode": {
                  "type": "string",
                  "description": "jobCode"
                },
                "open": {
                  "type": "boolean",
                  "description": "open"
                },
                "postingUrl": {
                  "type": "string",
                  "description": "postingUrl"
                },
                "function": {
                  "type": "string",
                  "description": "function"
                },
                "jobStages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "jobStages"
                },
                "requiredSkills": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "requiredSkills"
                },
                "questions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "choices": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "label"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            }
                          }
                        },
                        "description": "choices"
                      },
                      "choicesV2": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "langMappingList": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "locale": {
                                    "type": "string",
                                    "description": "locale"
                                  },
                                  "label": {
                                    "type": "string",
                                    "description": "label"
                                  }
                                }
                              },
                              "description": "langMappingList"
                            },
                            "label": {
                              "type": "string",
                              "description": "label"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            }
                          }
                        },
                        "description": "choicesV2"
                      },
                      "questionId": {
                        "type": "string",
                        "description": "questionId"
                      },
                      "help": {
                        "type": "string",
                        "description": "help"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "question": {
                        "type": "object",
                        "properties": {
                          "langMappingList": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "locale": {
                                  "type": "string",
                                  "description": "locale"
                                },
                                "label": {
                                  "type": "string",
                                  "description": "label"
                                }
                              }
                            },
                            "description": "langMappingList"
                          },
                          "label": {
                            "type": "string",
                            "description": "label"
                          },
                          "value": {
                            "type": "string",
                            "description": "value"
                          }
                        },
                        "description": "question"
                      },
                      "required": {
                        "type": "boolean",
                        "description": "required"
                      }
                    }
                  },
                  "description": "questions"
                },
                "locations": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "locations"
                },
                "positionId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "positionId"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "locationCity": {
                  "type": "string",
                  "description": "locationCity"
                },
                "locationState": {
                  "type": "string",
                  "description": "locationState"
                },
                "locationCountry": {
                  "type": "string",
                  "description": "locationCountry"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "ATS Position Update",
        "description": "To update the existing Ats Position in the System, include the ats position id in the params. Please Note: Update will overwrite existing fields. If empty fields are sent during an update, those fields will be wiped out",
        "operationId": "AtsPositionUpdate",
        "parameters": [
          {
            "name": "systemId",
            "default": "",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "atsPositionId",
            "default": "",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "hiringManager": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "email": {
                      "type": "string",
                      "description": "email"
                    }
                  },
                  "description": "hiringManager"
                },
                "openings": {
                  "type": "object",
                  "properties": {
                    "closedAt": {
                      "type": "integer",
                      "format": "int32",
                      "description": "closedAt"
                    },
                    "openingDetails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "description": "status"
                          },
                          "closedAt": {
                            "type": "integer",
                            "format": "int32",
                            "description": "closedAt"
                          },
                          "openingId": {
                            "type": "string",
                            "description": "openingId"
                          },
                          "openedAt": {
                            "type": "integer",
                            "format": "int32",
                            "description": "openedAt"
                          },
                          "closeReason": {
                            "type": "string",
                            "description": "closeReason"
                          },
                          "candidateId": {
                            "type": "string",
                            "description": "candidateId"
                          },
                          "applicationId": {
                            "type": "string",
                            "description": "applicationId"
                          }
                        }
                      },
                      "description": "openingDetails"
                    },
                    "numOpenings": {
                      "type": "integer",
                      "format": "int32",
                      "description": "numOpenings"
                    },
                    "openedAt": {
                      "type": "integer",
                      "format": "int32",
                      "description": "openedAt"
                    },
                    "numOpeningsFilled": {
                      "type": "integer",
                      "format": "int32",
                      "description": "numOpeningsFilled"
                    }
                  },
                  "description": "openings"
                },
                "recruiter": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "recruiter"
                },
                "posted": {
                  "type": "boolean",
                  "description": "posted"
                },
                "customFields": {
                  "type": "object",
                  "properties": {
                    "123": {
                      "type": "string",
                      "description": "123"
                    },
                    "newKey": {
                      "type": "string",
                      "description": "newKey"
                    }
                  },
                  "description": "customFields"
                },
                "open": {
                  "type": "boolean",
                  "description": "open"
                },
                "createdAt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "createdAt"
                },
                "isPrivate": {
                  "type": "boolean",
                  "description": "isPrivate"
                },
                "businessUnit": {
                  "type": "string",
                  "description": "businessUnit"
                },
                "workLocationOption": {
                  "type": "string",
                  "description": "workLocationOption"
                },
                "atsEntityId": {
                  "type": "string",
                  "description": "atsEntityId"
                },
                "internalPostingUrl": {
                  "type": "string",
                  "description": "internalPostingUrl"
                },
                "evergreen": {
                  "type": "boolean",
                  "description": "evergreen"
                },
                "skills": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "skills"
                },
                "company": {
                  "type": "string",
                  "description": "company"
                },
                "lastUpdated": {
                  "type": "integer",
                  "format": "int32",
                  "description": "lastUpdated"
                },
                "displayJobId": {
                  "type": "string",
                  "description": "displayJobId"
                },
                "followers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "followers"
                },
                "systemId": {
                  "type": "string",
                  "description": "systemId"
                },
                "activities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "activityTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "activityTime"
                      },
                      "activityType": {
                        "type": "string",
                        "description": "activityType"
                      },
                      "changeLogs": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "newValue": {
                              "type": "string",
                              "description": "newValue"
                            },
                            "fieldName": {
                              "type": "string",
                              "description": "fieldName"
                            },
                            "prevValue": {
                              "type": "string",
                              "description": "prevValue"
                            }
                          }
                        },
                        "description": "changeLogs"
                      },
                      "message": {
                        "type": "string",
                        "description": "message"
                      }
                    }
                  },
                  "description": "activities"
                },
                "postedFor": {
                  "type": "string",
                  "description": "postedFor"
                },
                "questionnaires": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "questionDependencies": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "questionId": {
                              "type": "string",
                              "description": "questionId"
                            },
                            "questionSource": {
                              "type": "string",
                              "description": "questionSource"
                            },
                            "choiceValue": {
                              "type": "string",
                              "description": "choiceValue"
                            },
                            "dependencyType": {
                              "type": "string",
                              "description": "dependencyType"
                            },
                            "childQuestionIds": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "childQuestionIds"
                            }
                          }
                        },
                        "description": "questionDependencies"
                      },
                      "questionnaireId": {
                        "type": "string",
                        "description": "questionnaireId"
                      }
                    }
                  },
                  "description": "questionnaires"
                },
                "restrictAccess": {
                  "type": "boolean",
                  "description": "restrictAccess"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "jobPosts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "publishedTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "publishedTime"
                      },
                      "expirationTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "expirationTime"
                      },
                      "postingTitle": {
                        "type": "string",
                        "description": "postingTitle"
                      },
                      "postingId": {
                        "type": "string",
                        "description": "postingId"
                      },
                      "locale": {
                        "type": "string",
                        "description": "locale"
                      },
                      "primaryPost": {
                        "type": "boolean",
                        "description": "primaryPost"
                      },
                      "jobDescription": {
                        "type": "string",
                        "description": "jobDescription"
                      },
                      "postedFor": {
                        "type": "string",
                        "description": "postedFor"
                      }
                    }
                  },
                  "description": "jobPosts"
                },
                "hiringBand": {
                  "type": "string",
                  "description": "hiringBand"
                },
                "postingTitle": {
                  "type": "string",
                  "description": "postingTitle"
                },
                "locationFlexibility": {
                  "type": "string",
                  "description": "locationFlexibility"
                },
                "companyDescription": {
                  "type": "string",
                  "description": "companyDescription"
                },
                "sourcers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "sourcers"
                },
                "workflowTemplateId": {
                  "type": "string",
                  "description": "workflowTemplateId"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "jobCode": {
                  "type": "string",
                  "description": "jobCode"
                },
                "postingUrl": {
                  "type": "string",
                  "description": "postingUrl"
                },
                "function": {
                  "type": "string",
                  "description": "function"
                },
                "jobStages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "jobStages"
                },
                "requiredSkills": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "requiredSkills"
                },
                "questions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "question": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "description": "label"
                          },
                          "value": {
                            "type": "string",
                            "description": "value"
                          },
                          "langMappingList": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "locale": {
                                  "type": "string",
                                  "description": "locale"
                                },
                                "label": {
                                  "type": "string",
                                  "description": "label"
                                }
                              }
                            },
                            "description": "langMappingList"
                          }
                        },
                        "description": "question"
                      },
                      "choices": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "label"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            }
                          }
                        },
                        "description": "choices"
                      },
                      "choicesV2": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "langMappingList": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "locale": {
                                    "type": "string",
                                    "description": "locale"
                                  },
                                  "label": {
                                    "type": "string",
                                    "description": "label"
                                  }
                                }
                              },
                              "description": "langMappingList"
                            },
                            "label": {
                              "type": "string",
                              "description": "label"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            }
                          }
                        },
                        "description": "choicesV2"
                      },
                      "questionId": {
                        "type": "string",
                        "description": "questionId"
                      },
                      "help": {
                        "type": "string",
                        "description": "help"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "required": {
                        "type": "boolean",
                        "description": "required"
                      }
                    }
                  },
                  "description": "questions"
                },
                "locations": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "locations"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "locationState": {
                  "type": "string",
                  "description": "locationState"
                },
                "locationCity": {
                  "type": "string",
                  "description": "locationCity"
                },
                "locationCountry": {
                  "type": "string",
                  "description": "locationCountry"
                }
              },
              "default": {
                "hiringManager": {
                  "name": "test",
                  "email": "test"
                },
                "openings": {
                  "closedAt": 123,
                  "openingDetails": [
                    {
                      "status": "test",
                      "closedAt": 123,
                      "openingId": "123",
                      "openedAt": 123,
                      "closeReason": "123",
                      "candidateId": "123",
                      "applicationId": "123"
                    }
                  ],
                  "numOpenings": 123,
                  "openedAt": 123,
                  "numOpeningsFilled": 123
                },
                "recruiter": {
                  "email": "123",
                  "name": "123"
                },
                "posted": true,
                "customFields": {
                  "123": "123",
                  "newKey": "New Value"
                },
                "open": true,
                "createdAt": 123,
                "isPrivate": true,
                "businessUnit": "test",
                "workLocationOption": "test",
                "atsEntityId": "test",
                "internalPostingUrl": "test",
                "evergreen": true,
                "skills": [
                  "test"
                ],
                "company": "test",
                "lastUpdated": 123,
                "displayJobId": "test",
                "followers": [
                  {
                    "email": "123",
                    "name": "123"
                  }
                ],
                "systemId": "123",
                "activities": [
                  {
                    "activityTime": 123,
                    "activityType": "123",
                    "changeLogs": [
                      {
                        "newValue": "123",
                        "fieldName": "123",
                        "prevValue": "123"
                      }
                    ],
                    "message": "123"
                  }
                ],
                "postedFor": "123",
                "questionnaires": [
                  {
                    "questionDependencies": [
                      {
                        "questionId": "123",
                        "questionSource": "123",
                        "choiceValue": "123",
                        "dependencyType": "123123",
                        "childQuestionIds": [
                          "123"
                        ]
                      }
                    ],
                    "questionnaireId": "123"
                  }
                ],
                "restrictAccess": true,
                "title": "123",
                "jobPosts": [
                  {
                    "publishedTime": 123,
                    "expirationTime": 123,
                    "postingTitle": "123123",
                    "postingId": "123",
                    "locale": "123",
                    "primaryPost": true,
                    "jobDescription": "123",
                    "postedFor": "123"
                  }
                ],
                "hiringBand": "123",
                "postingTitle": "123",
                "locationFlexibility": "123",
                "companyDescription": "123",
                "sourcers": [
                  {
                    "email": "123",
                    "name": "123"
                  }
                ],
                "workflowTemplateId": "123",
                "status": "123",
                "jobCode": "123",
                "postingUrl": "123",
                "function": "123",
                "jobStages": [
                  "123"
                ],
                "requiredSkills": [
                  "123"
                ],
                "questions": [
                  {
                    "question": {
                      "label": "123",
                      "value": "123",
                      "langMappingList": [
                        {
                          "locale": "123",
                          "label": "123"
                        }
                      ]
                    },
                    "choices": [
                      {
                        "label": "123",
                        "value": "123"
                      }
                    ],
                    "choicesV2": [
                      {
                        "langMappingList": [
                          {
                            "locale": "123",
                            "label": "123"
                          }
                        ],
                        "label": "123",
                        "value": "123"
                      }
                    ],
                    "questionId": "123",
                    "help": "123",
                    "type": "123",
                    "required": true
                  }
                ],
                "locations": [
                  "123"
                ],
                "description": "123",
                "locationState": "123",
                "locationCity": "123",
                "locationCountry": "123"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "createdAt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "createdAt"
                },
                "isPrivate": {
                  "type": "boolean",
                  "description": "isPrivate"
                },
                "businessUnit": {
                  "type": "string",
                  "description": "businessUnit"
                },
                "workLocationOption": {
                  "type": "string",
                  "description": "workLocationOption"
                },
                "atsEntityId": {
                  "type": "string",
                  "description": "atsEntityId"
                },
                "hiringManager": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "hiringManager"
                },
                "internalPostingUrl": {
                  "type": "string",
                  "description": "internalPostingUrl"
                },
                "evergreen": {
                  "type": "boolean",
                  "description": "evergreen"
                },
                "skills": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "skills"
                },
                "company": {
                  "type": "string",
                  "description": "company"
                },
                "lastUpdated": {
                  "type": "integer",
                  "format": "int32",
                  "description": "lastUpdated"
                },
                "displayJobId": {
                  "type": "string",
                  "description": "displayJobId"
                },
                "openings": {
                  "type": "object",
                  "properties": {
                    "closedAt": {
                      "type": "integer",
                      "format": "int32",
                      "description": "closedAt"
                    },
                    "openingDetails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "description": "status"
                          },
                          "closedAt": {
                            "type": "integer",
                            "format": "int32",
                            "description": "closedAt"
                          },
                          "openingId": {
                            "type": "string",
                            "description": "openingId"
                          },
                          "openedAt": {
                            "type": "integer",
                            "format": "int32",
                            "description": "openedAt"
                          },
                          "closeReason": {
                            "type": "string",
                            "description": "closeReason"
                          },
                          "candidateId": {
                            "type": "string",
                            "description": "candidateId"
                          },
                          "applicationId": {
                            "type": "string",
                            "description": "applicationId"
                          }
                        }
                      },
                      "description": "openingDetails"
                    },
                    "numOpenings": {
                      "type": "integer",
                      "format": "int32",
                      "description": "numOpenings"
                    },
                    "openedAt": {
                      "type": "integer",
                      "format": "int32",
                      "description": "openedAt"
                    },
                    "numOpeningsFilled": {
                      "type": "integer",
                      "format": "int32",
                      "description": "numOpeningsFilled"
                    }
                  },
                  "description": "openings"
                },
                "followers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "followers"
                },
                "systemId": {
                  "type": "string",
                  "description": "systemId"
                },
                "activities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "activityTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "activityTime"
                      },
                      "activityType": {
                        "type": "string",
                        "description": "activityType"
                      },
                      "changeLogs": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "newValue": {
                              "type": "string",
                              "description": "newValue"
                            },
                            "fieldName": {
                              "type": "string",
                              "description": "fieldName"
                            },
                            "prevValue": {
                              "type": "string",
                              "description": "prevValue"
                            }
                          }
                        },
                        "description": "changeLogs"
                      },
                      "message": {
                        "type": "string",
                        "description": "message"
                      }
                    }
                  },
                  "description": "activities"
                },
                "postedFor": {
                  "type": "string",
                  "description": "postedFor"
                },
                "questionnaires": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "questionDependencies": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "questionId": {
                              "type": "string",
                              "description": "questionId"
                            },
                            "questionSource": {
                              "type": "string",
                              "description": "questionSource"
                            },
                            "choiceValue": {
                              "type": "string",
                              "description": "choiceValue"
                            },
                            "dependencyType": {
                              "type": "string",
                              "description": "dependencyType"
                            },
                            "childQuestionIds": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "childQuestionIds"
                            }
                          }
                        },
                        "description": "questionDependencies"
                      },
                      "questionnaireId": {
                        "type": "string",
                        "description": "questionnaireId"
                      }
                    }
                  },
                  "description": "questionnaires"
                },
                "restrictAccess": {
                  "type": "boolean",
                  "description": "restrictAccess"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "recruiter": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "recruiter"
                },
                "jobPosts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "publishedTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "publishedTime"
                      },
                      "expirationTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "expirationTime"
                      },
                      "postingTitle": {
                        "type": "string",
                        "description": "postingTitle"
                      },
                      "postingId": {
                        "type": "string",
                        "description": "postingId"
                      },
                      "locale": {
                        "type": "string",
                        "description": "locale"
                      },
                      "primaryPost": {
                        "type": "boolean",
                        "description": "primaryPost"
                      },
                      "jobDescription": {
                        "type": "string",
                        "description": "jobDescription"
                      },
                      "postedFor": {
                        "type": "string",
                        "description": "postedFor"
                      }
                    }
                  },
                  "description": "jobPosts"
                },
                "hiringBand": {
                  "type": "string",
                  "description": "hiringBand"
                },
                "postingTitle": {
                  "type": "string",
                  "description": "postingTitle"
                },
                "posted": {
                  "type": "boolean",
                  "description": "posted"
                },
                "locationFlexibility": {
                  "type": "string",
                  "description": "locationFlexibility"
                },
                "companyDescription": {
                  "type": "string",
                  "description": "companyDescription"
                },
                "customFields": {
                  "type": "object",
                  "properties": {},
                  "description": "customFields"
                },
                "sourcers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "sourcers"
                },
                "workflowTemplateId": {
                  "type": "string",
                  "description": "workflowTemplateId"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "jobCode": {
                  "type": "string",
                  "description": "jobCode"
                },
                "open": {
                  "type": "boolean",
                  "description": "open"
                },
                "postingUrl": {
                  "type": "string",
                  "description": "postingUrl"
                },
                "function": {
                  "type": "string",
                  "description": "function"
                },
                "jobStages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "jobStages"
                },
                "requiredSkills": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "requiredSkills"
                },
                "questions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "choices": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "label"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            }
                          }
                        },
                        "description": "choices"
                      },
                      "choicesV2": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "langMappingList": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "locale": {
                                    "type": "string",
                                    "description": "locale"
                                  },
                                  "label": {
                                    "type": "string",
                                    "description": "label"
                                  }
                                }
                              },
                              "description": "langMappingList"
                            },
                            "label": {
                              "type": "string",
                              "description": "label"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            }
                          }
                        },
                        "description": "choicesV2"
                      },
                      "questionId": {
                        "type": "string",
                        "description": "questionId"
                      },
                      "help": {
                        "type": "string",
                        "description": "help"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "question": {
                        "type": "object",
                        "properties": {
                          "langMappingList": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "locale": {
                                  "type": "string",
                                  "description": "locale"
                                },
                                "label": {
                                  "type": "string",
                                  "description": "label"
                                }
                              }
                            },
                            "description": "langMappingList"
                          },
                          "label": {
                            "type": "string",
                            "description": "label"
                          },
                          "value": {
                            "type": "string",
                            "description": "value"
                          }
                        },
                        "description": "question"
                      },
                      "required": {
                        "type": "boolean",
                        "description": "required"
                      }
                    }
                  },
                  "description": "questions"
                },
                "locations": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "locations"
                },
                "positionId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "positionId"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "locationCity": {
                  "type": "string",
                  "description": "locationCity"
                },
                "locationState": {
                  "type": "string",
                  "description": "locationState"
                },
                "locationCountry": {
                  "type": "string",
                  "description": "locationCountry"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "ATS Position Patch",
        "description": "Given an ats position id and data that needs to be patched, it patches the ats position. Note: All required body params in the schema are not enforced in PATCH request, unlike path params.",
        "operationId": "AtsPositionPatch",
        "parameters": [
          {
            "name": "systemId",
            "default": "",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "atsPositionId",
            "default": "",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "hiringManager": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "hiringManager"
                },
                "openings": {
                  "type": "object",
                  "properties": {
                    "closedAt": {
                      "type": "integer",
                      "format": "int32",
                      "description": "closedAt"
                    },
                    "openingDetails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "description": "status"
                          },
                          "closedAt": {
                            "type": "integer",
                            "format": "int32",
                            "description": "closedAt"
                          },
                          "openingId": {
                            "type": "string",
                            "description": "openingId"
                          },
                          "openedAt": {
                            "type": "integer",
                            "format": "int32",
                            "description": "openedAt"
                          },
                          "closeReason": {
                            "type": "string",
                            "description": "closeReason"
                          },
                          "candidateId": {
                            "type": "string",
                            "description": "candidateId"
                          },
                          "applicationId": {
                            "type": "string",
                            "description": "applicationId"
                          }
                        }
                      },
                      "description": "openingDetails"
                    },
                    "numOpenings": {
                      "type": "integer",
                      "format": "int32",
                      "description": "numOpenings"
                    },
                    "openedAt": {
                      "type": "integer",
                      "format": "int32",
                      "description": "openedAt"
                    },
                    "numOpeningsFilled": {
                      "type": "integer",
                      "format": "int32",
                      "description": "numOpeningsFilled"
                    }
                  },
                  "description": "openings"
                },
                "recruiter": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "recruiter"
                },
                "posted": {
                  "type": "boolean",
                  "description": "posted"
                },
                "customFields": {
                  "type": "object",
                  "properties": {
                    "newKey": {
                      "type": "string",
                      "description": "newKey"
                    }
                  },
                  "description": "customFields"
                },
                "open": {
                  "type": "boolean",
                  "description": "open"
                },
                "createdAt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "createdAt"
                },
                "isPrivate": {
                  "type": "boolean",
                  "description": "isPrivate"
                },
                "businessUnit": {
                  "type": "string",
                  "description": "businessUnit"
                },
                "workLocationOption": {
                  "type": "string",
                  "description": "workLocationOption"
                },
                "atsEntityId": {
                  "type": "string",
                  "description": "atsEntityId"
                },
                "internalPostingUrl": {
                  "type": "string",
                  "description": "internalPostingUrl"
                },
                "evergreen": {
                  "type": "boolean",
                  "description": "evergreen"
                },
                "skills": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "skills"
                },
                "company": {
                  "type": "string",
                  "description": "company"
                },
                "lastUpdated": {
                  "type": "integer",
                  "format": "int32",
                  "description": "lastUpdated"
                },
                "displayJobId": {
                  "type": "string",
                  "description": "displayJobId"
                },
                "followers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "followers"
                },
                "systemId": {
                  "type": "string",
                  "description": "systemId"
                },
                "activities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "activityTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "activityTime"
                      },
                      "activityType": {
                        "type": "string",
                        "description": "activityType"
                      },
                      "changeLogs": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "newValue": {
                              "type": "string",
                              "description": "newValue"
                            },
                            "fieldName": {
                              "type": "string",
                              "description": "fieldName"
                            },
                            "prevValue": {
                              "type": "string",
                              "description": "prevValue"
                            }
                          }
                        },
                        "description": "changeLogs"
                      },
                      "message": {
                        "type": "string",
                        "description": "message"
                      }
                    }
                  },
                  "description": "activities"
                },
                "postedFor": {
                  "type": "string",
                  "description": "postedFor"
                },
                "questionnaires": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "questionnaireId": {
                        "type": "string",
                        "description": "questionnaireId"
                      },
                      "questionDependencies": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "questionId": {
                              "type": "string",
                              "description": "questionId"
                            },
                            "questionSource": {
                              "type": "string",
                              "description": "questionSource"
                            },
                            "choiceValue": {
                              "type": "string",
                              "description": "choiceValue"
                            },
                            "dependencyType": {
                              "type": "string",
                              "description": "dependencyType"
                            }
                          }
                        },
                        "description": "questionDependencies"
                      }
                    }
                  },
                  "description": "questionnaires"
                },
                "restrictAccess": {
                  "type": "boolean",
                  "description": "restrictAccess"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "jobPosts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "publishedTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "publishedTime"
                      },
                      "expirationTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "expirationTime"
                      },
                      "postingTitle": {
                        "type": "string",
                        "description": "postingTitle"
                      },
                      "postingId": {
                        "type": "string",
                        "description": "postingId"
                      },
                      "locale": {
                        "type": "string",
                        "description": "locale"
                      },
                      "primaryPost": {
                        "type": "boolean",
                        "description": "primaryPost"
                      },
                      "jobDescription": {
                        "type": "string",
                        "description": "jobDescription"
                      },
                      "postedFor": {
                        "type": "string",
                        "description": "postedFor"
                      }
                    }
                  },
                  "description": "jobPosts"
                },
                "hiringBand": {
                  "type": "string",
                  "description": "hiringBand"
                },
                "postingTitle": {
                  "type": "string",
                  "description": "postingTitle"
                },
                "locationFlexibility": {
                  "type": "string",
                  "description": "locationFlexibility"
                },
                "companyDescription": {
                  "type": "string",
                  "description": "companyDescription"
                },
                "sourcers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "sourcers"
                },
                "workflowTemplateId": {
                  "type": "string",
                  "description": "workflowTemplateId"
                },
                "jobCode": {
                  "type": "string",
                  "description": "jobCode"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "postingUrl": {
                  "type": "string",
                  "description": "postingUrl"
                },
                "function": {
                  "type": "string",
                  "description": "function"
                },
                "jobStages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "jobStages"
                },
                "requiredSkills": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "requiredSkills"
                },
                "questions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "question": {
                        "type": "object",
                        "properties": {
                          "langMappingList": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "locale": {
                                  "type": "string",
                                  "description": "locale"
                                }
                              }
                            },
                            "description": "langMappingList"
                          },
                          "label": {
                            "type": "string",
                            "description": "label"
                          },
                          "value": {
                            "type": "string",
                            "description": "value"
                          }
                        },
                        "description": "question"
                      },
                      "choices": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "label"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            }
                          }
                        },
                        "description": "choices"
                      },
                      "choicesV2": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "label"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            },
                            "langMappingList": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "locale": {
                                    "type": "string",
                                    "description": "locale"
                                  },
                                  "label": {
                                    "type": "string",
                                    "description": "label"
                                  }
                                }
                              },
                              "description": "langMappingList"
                            }
                          }
                        },
                        "description": "choicesV2"
                      },
                      "questionId": {
                        "type": "string",
                        "description": "questionId"
                      },
                      "help": {
                        "type": "string",
                        "description": "help"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "required": {
                        "type": "boolean",
                        "description": "required"
                      }
                    }
                  },
                  "description": "questions"
                },
                "locations": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "locations"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "locationCity": {
                  "type": "string",
                  "description": "locationCity"
                },
                "locationState": {
                  "type": "string",
                  "description": "locationState"
                },
                "locationCountry": {
                  "type": "string",
                  "description": "locationCountry"
                }
              },
              "default": {
                "hiringManager": {
                  "email": "123",
                  "name": "123"
                },
                "openings": {
                  "closedAt": 123,
                  "openingDetails": [
                    {
                      "status": "123",
                      "closedAt": 123,
                      "openingId": "123",
                      "openedAt": 123,
                      "closeReason": "123",
                      "candidateId": "123",
                      "applicationId": "123"
                    }
                  ],
                  "numOpenings": 123,
                  "openedAt": 123,
                  "numOpeningsFilled": 123
                },
                "recruiter": {
                  "email": "123",
                  "name": "123"
                },
                "posted": true,
                "customFields": {
                  "newKey": "New Value"
                },
                "open": true,
                "createdAt": 123,
                "isPrivate": true,
                "businessUnit": "123",
                "workLocationOption": "123",
                "atsEntityId": "123",
                "internalPostingUrl": "123",
                "evergreen": true,
                "skills": [
                  "123"
                ],
                "company": "123",
                "lastUpdated": 123,
                "displayJobId": "123",
                "followers": [
                  {
                    "email": "123",
                    "name": "123"
                  }
                ],
                "systemId": "123",
                "activities": [
                  {
                    "activityTime": 123,
                    "activityType": "123",
                    "changeLogs": [
                      {
                        "newValue": "123",
                        "fieldName": "123",
                        "prevValue": "123"
                      }
                    ],
                    "message": "123"
                  }
                ],
                "postedFor": "123",
                "questionnaires": [
                  {
                    "questionnaireId": "123",
                    "questionDependencies": [
                      {
                        "questionId": "123",
                        "questionSource": "123",
                        "choiceValue": "123",
                        "dependencyType": "123"
                      }
                    ]
                  }
                ],
                "restrictAccess": true,
                "title": "123",
                "jobPosts": [
                  {
                    "publishedTime": 123,
                    "expirationTime": 123,
                    "postingTitle": "123",
                    "postingId": "123",
                    "locale": "123",
                    "primaryPost": false,
                    "jobDescription": "123",
                    "postedFor": "123"
                  }
                ],
                "hiringBand": "123",
                "postingTitle": "123",
                "locationFlexibility": "123",
                "companyDescription": "123",
                "sourcers": [
                  {
                    "email": "123",
                    "name": "123"
                  }
                ],
                "workflowTemplateId": "123",
                "jobCode": "123",
                "status": "123",
                "postingUrl": "123",
                "function": "123",
                "jobStages": [
                  "123"
                ],
                "requiredSkills": [
                  "123"
                ],
                "questions": [
                  {
                    "question": {
                      "langMappingList": [
                        {
                          "locale": "123"
                        }
                      ],
                      "label": "123",
                      "value": "123"
                    },
                    "choices": [
                      {
                        "label": "123",
                        "value": "123"
                      }
                    ],
                    "choicesV2": [
                      {
                        "label": "123",
                        "value": "123",
                        "langMappingList": [
                          {
                            "locale": "123",
                            "label": "123"
                          }
                        ]
                      }
                    ],
                    "questionId": "123",
                    "help": "123",
                    "type": "123",
                    "required": false
                  }
                ],
                "locations": [
                  "123"
                ],
                "description": "123",
                "locationCity": "123",
                "locationState": "123",
                "locationCountry": "123"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "createdAt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "createdAt"
                },
                "isPrivate": {
                  "type": "boolean",
                  "description": "isPrivate"
                },
                "businessUnit": {
                  "type": "string",
                  "description": "businessUnit"
                },
                "workLocationOption": {
                  "type": "string",
                  "description": "workLocationOption"
                },
                "atsEntityId": {
                  "type": "string",
                  "description": "atsEntityId"
                },
                "hiringManager": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "hiringManager"
                },
                "internalPostingUrl": {
                  "type": "string",
                  "description": "internalPostingUrl"
                },
                "evergreen": {
                  "type": "boolean",
                  "description": "evergreen"
                },
                "skills": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "skills"
                },
                "company": {
                  "type": "string",
                  "description": "company"
                },
                "lastUpdated": {
                  "type": "integer",
                  "format": "int32",
                  "description": "lastUpdated"
                },
                "displayJobId": {
                  "type": "string",
                  "description": "displayJobId"
                },
                "openings": {
                  "type": "object",
                  "properties": {
                    "closedAt": {
                      "type": "integer",
                      "format": "int32",
                      "description": "closedAt"
                    },
                    "openingDetails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "description": "status"
                          },
                          "closedAt": {
                            "type": "integer",
                            "format": "int32",
                            "description": "closedAt"
                          },
                          "openingId": {
                            "type": "string",
                            "description": "openingId"
                          },
                          "openedAt": {
                            "type": "integer",
                            "format": "int32",
                            "description": "openedAt"
                          },
                          "closeReason": {
                            "type": "string",
                            "description": "closeReason"
                          },
                          "candidateId": {
                            "type": "string",
                            "description": "candidateId"
                          },
                          "applicationId": {
                            "type": "string",
                            "description": "applicationId"
                          }
                        }
                      },
                      "description": "openingDetails"
                    },
                    "numOpenings": {
                      "type": "integer",
                      "format": "int32",
                      "description": "numOpenings"
                    },
                    "openedAt": {
                      "type": "integer",
                      "format": "int32",
                      "description": "openedAt"
                    },
                    "numOpeningsFilled": {
                      "type": "integer",
                      "format": "int32",
                      "description": "numOpeningsFilled"
                    }
                  },
                  "description": "openings"
                },
                "followers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "followers"
                },
                "systemId": {
                  "type": "string",
                  "description": "systemId"
                },
                "activities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "activityTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "activityTime"
                      },
                      "activityType": {
                        "type": "string",
                        "description": "activityType"
                      },
                      "changeLogs": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "newValue": {
                              "type": "string",
                              "description": "newValue"
                            },
                            "fieldName": {
                              "type": "string",
                              "description": "fieldName"
                            },
                            "prevValue": {
                              "type": "string",
                              "description": "prevValue"
                            }
                          }
                        },
                        "description": "changeLogs"
                      },
                      "message": {
                        "type": "string",
                        "description": "message"
                      }
                    }
                  },
                  "description": "activities"
                },
                "postedFor": {
                  "type": "string",
                  "description": "postedFor"
                },
                "questionnaires": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "questionDependencies": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "questionId": {
                              "type": "string",
                              "description": "questionId"
                            },
                            "questionSource": {
                              "type": "string",
                              "description": "questionSource"
                            },
                            "choiceValue": {
                              "type": "string",
                              "description": "choiceValue"
                            },
                            "dependencyType": {
                              "type": "string",
                              "description": "dependencyType"
                            },
                            "childQuestionIds": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "childQuestionIds"
                            }
                          }
                        },
                        "description": "questionDependencies"
                      },
                      "questionnaireId": {
                        "type": "string",
                        "description": "questionnaireId"
                      }
                    }
                  },
                  "description": "questionnaires"
                },
                "restrictAccess": {
[...]
