{
  "swagger": "2.0",
  "info": {
    "title": "FishWatch",
    "description": "Get the most up-to-date information on popular seafood harvested or farmed in the United States",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_fishw@gmail.com"
    }
  },
  "host": "www.fishwatch.gov",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/species": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SpeciesResponse"
            }
          }
        },
        "summary": "List species",
        "description": "Lists all species data from the FishWatch database",
        "operationId": "ListSpecies",
        "produces": [
          "application/json"
        ],
        "parameters": []
      }
    },
    "/species/{species}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SpeciesResponse"
            }
          }
        },
        "summary": "Get species",
        "description": "Get specific species data from the FishWatch database",
        "operationId": "GetSpecies",
        "parameters": [
          {
            "in": "path",
            "name": "species",
            "required": true,
            "type": "string",
            "x-ms-summary": "Species",
            "x-ms-url-encoding": "single",
            "description": "A species parameter, same as the parameter for public profile on fishwatch.gov"
          }
        ]
      }
    }
  },
  "definitions": {
    "SpeciesResponse": {
      "type": "array",
      "description": "Species information",
      "title": "Species",
      "items": {
        "type": "object",
        "properties": {
          "Fishery Management": {
            "type": "string",
            "description": "Information about fishery management with markup included.",
            "title": "Fishery Management"
          },
          "Habitat": {
            "type": "string",
            "description": "Information about habitat with markup included.",
            "title": "Habitat"
          },
          "Habitat Impacts": {
            "type": "string",
            "description": "Details about various habitat impacts.",
            "title": "Habitat Impacts"
          },
          "Location": {
            "type": "string",
            "title": "Location",
            "description": "Location details with markup included."
          },
          "Management": {
            "type": "string",
            "description": "Management details.",
            "title": "Management"
          },
          "NOAA Fisheries Region": {
            "type": "string",
            "description": "Details of relevant NOAA Fisheries region.",
            "title": "NOAA Fisheries Region"
          },
          "Population": {
            "type": "string",
            "description": "Overall information about species population.",
            "title": "Population"
          },
          "Population Status": {
            "type": "string",
            "description": "Detailed data about population status with markup included.",
            "title": "Population Status"
          },
          "Scientific Name": {
            "type": "string",
            "description": "The full scientific name of the species.",
            "title": "Scientific Name"
          },
          "Species Aliases": {
            "type": "string",
            "description": "List of additional species aliases with markup included.",
            "title": "Aliases"
          },
          "Species Illustration Photo": {
            "type": "object",
            "properties": {
              "src": {
                "type": "string",
                "description": "Source of illustration.",
                "title": "Src"
              },
              "alt": {
                "type": "string",
                "description": "Alternative text of illustration.",
                "title": "Alt"
              },
              "title": {
                "type": "string",
                "description": "Title of illustration.",
                "title": "Title"
              }
            },
            "description": "Species illustration photo(s).",
            "title": "Illustrations"
          },
          "Species Name": {
            "type": "string",
            "description": "The official name of the species.",
            "title": "Name"
          },
          "Animal Health": {
            "type": "string",
            "description": "Details on animal health.",
            "title": "Health"
          },
          "Availability": {
            "type": "string",
            "description": "Availability information with markup included.",
            "title": "Availability"
          },
          "Biology": {
            "type": "string",
            "description": "Biology information with markup included.",
            "title": "Biology"
          },
          "Bycatch": {
            "type": "string",
            "description": "Regulations and information about bycatch.",
            "title": "Bycatch"
          },
          "Calories": {
            "type": "string",
            "description": "Calory information.",
            "title": "Calories"
          },
          "Carbohydrate": {
            "type": "string",
            "description": "Carbohydrate information.",
            "title": "Nutritions: Carbohydrate"
          },
          "Cholesterol": {
            "type": "string",
            "description": "Cholesterol information.",
            "title": "Nutritions: Cholesterol"
          },
          "Color": {
            "type": "string",
            "description": "Description of the color of the species, with markup included.",
            "title": "Color"
          },
          "Disease Treatment and Prevention": {
            "type": "string",
            "description": "Ways of disease treatment and prevention.",
            "title": "Disease Treatment and Prevention"
          },
          "Displayed Seafood Profile Illustration": {
            "type": "string",
            "description": "Displayed Seafood Profile Illustration.",
            "title": "Profile Illustration"
          },
          "Ecosystem Services": {
            "type": "string",
            "description": "Ecosystem Services.",
            "title": "Ecosystem Services"
          },
          "Environmental Considerations": {
            "type": "string",
            "description": "List of environmental considerations.",
            "title": "Environmental Considerations"
          },
          "Environmental Effects": {
            "type": "string",
            "description": "List of environmental effects.",
            "title": "Environmental Effects"
          },
          "Farming Methods": {
            "type": "string",
            "description": "Details about farming methods.",
            "title": "Farming Methods"
          },
          "Fat, Total": {
            "type": "string",
            "description": "Fat, Total",
            "title": "Nutritions: Total Fat"
          },
          "Feeds_": {
            "type": "string",
            "description": "Feeding information.",
            "title": "Feeds_"
          },
          "Feeds": {
            "type": "string",
            "description": "Feeding information with markup included.",
            "title": "Feeds"
          },
          "Fiber, Total Dietary": {
            "type": "string",
            "description": "Information about total dietary fiber.",
            "title": "Nutritions: Fiber"
          },
          "Fishing Rate": {
            "type": "string",
            "description": "Details about current fishing rate.",
            "title": "Fishing Rate"
          },
          "Harvest": {
            "type": "string",
            "description": "Detailed information about harvest with markup included.",
            "title": "Harvest"
          },
          "Harvest Type": {
            "type": "string",
            "description": "Type of harvest.",
            "title": "Harvest Type"
          },
          "Health Benefits": {
            "type": "string",
            "description": "List of health benefits, with markup included.",
            "title": "Health Benefits"
          },
          "Human_Health_": {
            "type": "string",
            "description": "Details of health effects.",
            "title": "Human_Health_"
          },
          "Human Health": {
            "type": "string",
            "description": "List of various health effects for humans, with markup included.",
            "title": "Human Health"
          },
          "Physical Description": {
            "type": "string",
            "description": "Physical description of the species with markup included.",
            "title": "Physical Description"
          },
          "Production": {
            "type": "string",
            "description": "Additional details about production.",
            "title": "Production"
          },
          "Protein": {
            "type": "string",
            "description": "Protein information.",
            "title": "Nutritions: Protein"
          },
          "Quote": {
            "type": "string",
            "description": "Single sentence summary.",
            "title": "Quote"
          },
          "Research": {
            "type": "string",
            "description": "Research",
            "title": "Research"
          },
          "Saturated Fatty Acids, Total": {
            "type": "string",
            "description": "Total of saturated fatty acids.",
            "title": "Nutritions: Saturated Fatty Acids"
          },
          "Selenium": {
            "type": "string",
            "description": "Selenium information.",
            "title": "Nutritions: Selenium"
          },
          "Serving Weight": {
            "type": "string",
            "description": "Serving weight.",
            "title": "Serving Weight"
          },
          "Servings": {
            "type": "string",
            "description": "Servings information.",
            "title": "Servings"
          },
          "Sodium": {
            "type": "string",
            "description": "Sodium information.",
            "title": "Nutritions: Sodium"
          },
          "Source": {
            "type": "string",
            "description": "Summary of sources.",
            "title": "Source"
          },
          "Sugars, Total": {
            "type": "string",
            "description": "Total amount of sugars.",
            "title": "Nutritions: Sugars"
          },
          "Taste": {
            "type": "string",
            "description": "Taste details, with markup included.",
            "title": "Taste"
          },
          "Texture": {
            "type": "string",
            "description": "Texture details, with markup included.",
            "title": "Texture"
          },
          "Path": {
            "type": "string",
            "description": "Internal path details.",
            "title": "Path"
          },
          "last_update": {
            "type": "string",
            "description": "Timestamp of last update, with format MM/DD/YYYY - HH:MM",
            "title": "last_update"
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.fishwatch.gov/developers"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.fisheries.noaa.gov/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}