{
  "swagger": "2.0",
    "info": {
      "version": "1.0.0",
      "title": "Viafirma",
      "description": "Send sign requests to others, save your signed documents and much more thanks to Viafirma's connector",
      "contact": {
        "name": "Viafirma Support",
        "url": "https://soporte.viafirma.com/",
        "email": "helpdesk@viafirma.com"
      }
    },
  "host": "services.viafirma.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/documents/api/v3/messages/": {
      "post": {
        "summary": "Send signature requests via email",
        "description": "Create and send signature requests via email.",
        "operationId": "SendSignRequest",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json\r",
            "description": "Content-Type",
            "x-ms-summary" : "Content-Type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "*/*\r",
            "description": "Accept",
            "x-ms-summary" : "Accept"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "groupCode": {
                  "type": "string",
                  "description": "groupCode",
                  "x-ms-dynamic-values": {
                    "operationId": "WhoIAm",
                    "value-path": "code",
                    "value-collection": "groupsInfo",
                    "value-title": "code"
                  }
                },
                "workflow": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "type",
                      "default": "WEB",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "workflow",
                  "required": [
                    "type"
                  ]
                },
                "notification": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string",
                      "description": "text"
                    },
                    "detail": {
                      "type": "string",
                      "description": "detail"
                    },
                    "sharedLink": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "email"
                        },
                        "subject": {
                          "type": "string",
                          "description": "subject"
                        }
                      },
                      "description": "sharedLink",
                      "required": [
                        "email"
                      ]
                    }
                  },
                  "description": "notification",
                  "required": [
                    "sharedLink"
                  ]
                },
                "document": {
                  "type": "object",
                  "properties": {
                    "templateCode": {
                      "type": "string",
                      "description": "templateCode"
                    }
                  },
                  "description": "document",
                  "required": [
                    "templateCode"
                  ]
                },
                "callbackMails": {
                  "type": "string",
                  "description": "callbackMails"
                }
              },
              "default": {
                "groupCode": "your_group_here",
                "workflow": {
                  "type": "WEB"
                },
                "notification": {
                  "text": "Signature request test",
                  "detail": "Notified via email",
                  "sharedLink": {
                    "appCode": "com.viafirma.documents",
                    "email": "your_email_here",
                    "subject": "Remote signature test"
                  }
                },
                "document": {
                  "templateCode": "templateSample"
                },
                "callbackMails": "your_email_here"
              },
              "required": [
                "workflow",
                "document",
                "groupCode",
                "notification"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Request's code"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/documents/api/v3/messages/dispatch": {
      "post": {
        "summary": "Create signature requests",
        "description": "Create signature requests and get the permanent link.",
        "operationId": "CreateSignRequest",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json\r",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "*/*\r",
            "description": "Accept",
            "x-ms-summary": "Accept"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "groupCode": {
                  "type": "string",
                  "description": "groupCode",
                  "x-ms-dynamic-values": {
                    "operationId": "WhoIAm",
                    "value-path": "groups-key-item-output",
                    "value-collection": "groups",
                    "value-title": "groups-key-item-output"
                  }
                },
                "workflow": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "type",
                      "default": "PRESENTIAL",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "workflow",
                  "required": [
                    "type"
                  ]
                },
                "document": {
                  "type": "object",
                  "properties": {
                    "templateCode": {
                      "type": "string",
                      "description": "templateCode"
                    }
                  },
                  "description": "document",
                  "required": [
                    "templateCode"
                  ]
                }
              },
              "default": {
                "groupCode": "your_group_here",
                "workflow": {
                  "type": "WEB"
                },
                "document": {
                  "templateCode": "templateSample"
                }
              },
              "required": [
                "workflow",
                "document",
                "groupCode"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Request's code"
                },
                "link": {
                  "type": "string",
                  "description": "Request's permalink"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/documents/api/v3/template/list/mine": {
      "get": {
        "summary": "Get user's templates",
        "description": "List all the user's templates.",
        "operationId": "GetUserTemplates",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Template's code"
                },
                "title": {
                  "type": "string",
                  "description": "Template's title"
                },
                "description": {
                  "type": "string",
                  "description": "Template's description"
                },
                "groups": {
                  "type": "string",
                  "description": "List of gropus"
                },
                "version": {
                  "type": "string",
                  "description": "Template's version"
                }
              }
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/documents/api/v3/users/whoiam/": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "User code"
                },
                "nationalId": {
                  "type": "string",
                  "description": "User nationality"
                },
                "email": {
                  "type": "string",
                  "description": "User email"
                },
                "surname": {
                  "type": "string",
                  "description": "User surname"
                },
                "rol": {
                  "type": "string",
                  "description": "User rol"
                }
              }
            }
          }
        },
        "summary": "Get logged user data",
        "description": "Check and retrieve important information about the current user.",
        "operationId": "WhoIAm",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue" : "https://www.viafirma.com/"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.viafirma.com/en/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://services.viafirma.com/documents/api/v3/oauth2/authz",
      "tokenUrl": "https://services.viafirma.com/documents/api/v3/oauth2/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": []
}