{
  "swagger": "2.0",
  "info": {
    "title": "cioplenu",
    "description": "With cioplenu you can easily create and manage digital work instructions and checklists for industrial applications. Create smart documents, manage them with work orders, track tasks and problems while executing them and analyze the results. This connector allows you to create tasks for your cioplenu instance from external resources.",
    "version": "1.0",
    "contact": {
      "name": "cioplenu GmbH",
      "url": "https://support.cioplenu.com",
      "email": "support@cioplenu.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://cioplenu.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://cioplenu.com/en/terms-and-conditions/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Business Intelligence"
    }
  ],
  "host": "contoso.cioplenu.app",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json; charset=utf-8"
  ],
  "produces": [],
  "paths": {
    "/task": {
      "post": {
        "summary": "Create task",
        "description": "Create a new task on cioplenu",
        "operationId": "CreateTask",
        "parameters": [
          {
            "name": "task data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "title",
                "description",
                "priority"
              ],
              "properties": {
                "title": {
                  "type": "string",
                  "description": "Title of the new task",
                  "x-ms-visibility": "important",
                  "example": "New task"
                },
                "description": {
                  "type": "string",
                  "description": "Longer description for the new task",
                  "default": "",
                  "x-ms-visibility": "important",
                  "example": "This is a new task on cioplenu"
                },
                "priority": {
                  "type": "integer",
                  "format": "int32",
                  "description": "priority between 0 and 10",
                  "default": 5,
                  "x-ms-visibility": "advanced",
                  "example": 5
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful task creation",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id of the task created"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
