{
  "swagger": "2.0",
  "info": {
    "title": "ServiceDesk Plus Cloud",
    "description": "ManageEngine ServiceDesk Plus Cloud is a ITIL compliant comprehensive help desk with integrated asset and project management capabilities.",
    "version": "1.0",
	"contact": {
      "name": "ServiceDesk Plus Cloud Support",
      "url": "https://www.manageengine.com/products/service-desk/support.html",
      "email": "sdp-ondemand-support@manageengine.com"
    }
  },
  "host": "sdpondemand.manageengine.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/app/{serviceDeskInstance}/api/v3/requests": {
      "post": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "properties": {
                    "subject": {
                      "type": "string",
                      "title": "subject",
                      "description": "Subject"
                    },
                    "project": {
                      "type": "object",
                      "properties": {
                        "display_id": {
                          "type": "object",
                          "properties": {
                            "display_value": {
                              "type": "string",
                              "title": "project.display_id.display_value",
                              "description": "project -> display_id -> display_value"
                            },
                            "value": {
                              "type": "string",
                              "title": "project.display_id.value",
                              "description": "project -> display_id -> value"
                            }
                          },
                          "description": "project -> display_id",
                          "title": "project.display_id"
                        },
                        "project_code": {
                          "type": "object",
                          "title": "project.project_code",
                          "description": "project -> project_code"
                        },
                        "id": {
                          "type": "string",
                          "title": "project.id",
                          "description": "project -> id"
                        },
                        "title": {
                          "type": "string",
                          "title": "project.title",
                          "description": "project -> title"
                        }
                      },
                      "description": "project"
                    },
                    "resolution": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string",
                          "title": "resolution.content",
                          "description": "resolution -> content"
                        }
                      },
                      "description": "resolution"
                    },
                    "linked_to_request": {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "object",
                          "properties": {
                            "display_id": {
                              "type": "integer",
                              "format": "int32",
                              "title": "linked_to_request.request.display_id",
                              "description": "linked_to_request -> request -> display_id"
                            },
                            "subject": {
                              "type": "string",
                              "title": "linked_to_request.request.subject",
                              "description": "linked_to_request -> request -> subject"
                            },
                            "id": {
                              "type": "string",
                              "title": "linked_to_request.request.id",
                              "description": "linked_to_request -> request -> id"
                            }
                          },
                          "description": "linked_to_request -> request",
                          "title": "linked_to_request.request"
                        },
                        "comments": {
                          "type": "string",
                          "title": "linked_to_request.comments",
                          "description": "linked_to_request -> comments"
                        }
                      },
                      "description": "linked_to_request"
                    },
                    "mode": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "title": "mode.name",
                          "description": "mode -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "mode.id",
                          "description": "mode -> id"
                        }
                      },
                      "description": "mode"
                    },
                    "lifecycle": {
                      "type": "object",
                      "description": "lifecycle"
                    },
                    "is_read": {
                      "type": "boolean",
                      "description": "is_read"
                    },
                    "assets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "site": {
                            "type": "object",
                            "title": "assets.site",
                            "description": "assets -> site"
                          },
                          "name": {
                            "type": "string",
                            "title": "assets.name",
                            "description": "assets -> name"
                          },
                          "id": {
                            "type": "string",
                            "title": "assets.id",
                            "description": "assets -> id"
                          }
                        }
                      },
                      "description": "assets"
                    },
                    "cancellation_requested": {
                      "type": "boolean",
                      "description": "cancellation_requested"
                    },
                    "is_trashed": {
                      "type": "boolean",
                      "description": "is_trashed"
                    },
                    "has_change_initiated_request": {
                      "type": "boolean",
                      "description": "has_change_initiated_request"
                    },
                    "id": {
                      "type": "string",
                      "title": "id",
                      "description": "request -> id"
                    },
                    "assigned_time": {
                      "type": "object",
                      "properties": {
                        "display_value": {
                          "type": "string",
                          "title": "assigned_time.display_value",
                          "description": "assigned_time -> display_value"
                        },
                        "value": {
                          "type": "string",
                          "title": "assigned_time.value",
                          "description": "assigned_time -> value"
                        }
                      },
                      "description": "assigned_time"
                    },
                    "group": {
                      "type": "object",
                      "properties": {
                        "site": {
                          "type": "object",
                          "title": "group.site",
                          "description": "group -> site"
                        },
                        "deleted": {
                          "type": "boolean",
                          "title": "group.deleted",
                          "description": "group -> deleted"
                        },
                        "name": {
                          "type": "string",
                          "title": "group.name",
                          "description": "group -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "group.id",
                          "description": "group -> id"
                        }
                      },
                      "description": "group"
                    },
                    "requester": {
                      "type": "object",
                      "properties": {
                        "email_id": {
                          "type": "string",
                          "title": "requester.email_id",
                          "description": "requester -> email_id"
                        },
                        "is_technician": {
                          "type": "boolean",
                          "title": "requester.is_technician",
                          "description": "requester -> is_technician"
                        },
                        "sms_mail": {
                          "type": "string",
                          "title": "requester.sms_mail",
                          "description": "requester -> sms_mail"
                        },
                        "mobile": {
                          "type": "string",
                          "title": "requester.mobile",
                          "description": "requester -> mobile"
                        },
                        "last_name": {
                          "type": "string",
                          "title": "requester.last_name",
                          "description": "requester -> last_name"
                        },
                        "user_scope": {
                          "type": "string",
                          "title": "requester.user_scope",
                          "description": "requester -> user_scope"
                        },
                        "sms_mail_id": {
                          "type": "string",
                          "title": "requester.sms_mail_id",
                          "description": "requester -> sms_mail_id"
                        },
                        "phone": {
                          "type": "string",
                          "title": "requester.phone",
                          "description": "requester -> phone"
                        },
                        "name": {
                          "type": "string",
                          "title": "requester.name",
                          "description": "requester -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "requester.id",
                          "description": "requester -> id"
                        },
                        "photo_url": {
                          "type": "string",
                          "title": "requester.photo_url",
                          "description": "requester -> photo_url"
                        },
                        "is_vip_user": {
                          "type": "boolean",
                          "title": "requester.is_vip_user",
                          "description": "requester -> is_vip_user"
                        },
                        "department": {
                          "type": "object",
                          "title": "requester.department",
                          "description": "requester -> department"
                        },
                        "first_name": {
                          "type": "string",
                          "title": "requester.first_name",
                          "description": "requester -> first_name"
                        },
                        "job_title": {
                          "type": "string",
                          "title": "requester.job_title",
                          "description": "requester -> job_title"
                        }
                      },
                      "description": "requester"
                    },
                    "email_to": {
                      "type": "array",
                      "items": {},
                      "description": "email_to"
                    },
                    "created_time": {
                      "type": "object",
                      "properties": {
                        "display_value": {
                          "type": "string",
                          "title": "created_time.display_value",
                          "description": "created_time -> display_value"
                        },
                        "value": {
                          "type": "string",
                          "title": "created_time.value",
                          "description": "created_time -> value"
                        }
                      },
                      "description": "created_time"
                    },
                    "item": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "title": "item.name",
                          "description": "item -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "item.id",
                          "description": "item -> id"
                        }
                      },
                      "description": "item"
                    },
                    "cancel_flag_comments": {
                      "type": "object",
                      "description": "cancel_flag_comments"
                    },
                    "level": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "title": "level.name",
                          "description": "level -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "level.id",
                          "description": "level -> id"
                        }
                      },
                      "description": "level"
                    },
                    "approval_status": {
                      "type": "object",
                      "description": "approval_status"
                    },
                    "impact": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "title": "impact.name",
                          "description": "impact -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "impact.id",
                          "description": "impact -> id"
                        }
                      },
                      "description": "impact"
                    },
                    "service_category": {
                      "type": "object",
                      "properties": {
                        "inactive": {
                          "type": "boolean",
                          "title": "service_category.inactive",
                          "description": "service_category -> inactive"
                        },
                        "name": {
                          "type": "string",
                          "title": "service_category.name",
                          "description": "service_category -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "service_category.id",
                          "description": "service_category -> id"
                        },
                        "sort_index": {
                          "type": "integer",
                          "format": "int32",
                          "title": "service_category.sort_index",
                          "description": "service_category -> sort_index"
                        }
                      },
                      "description": "service_category"
                    },
                    "sla": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "title": "sla.name",
                          "description": "sla -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "sla.id",
                          "description": "sla -> id"
                        }
                      },
                      "description": "sla"
                    },
                    "resolved_time": {
                      "type": "object",
                      "description": "resolved_time"
                    },
                    "priority": {
                      "type": "object",
                      "properties": {
                        "color": {
                          "type": "string",
                          "title": "priority.color",
                          "description": "priority -> color"
                        },
                        "name": {
                          "type": "string",
                          "title": "priority.name",
                          "description": "priority -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "priority.id",
                          "description": "priority -> id"
                        }
                      },
                      "description": "priority"
                    },
                    "created_by": {
                      "type": "object",
                      "properties": {
                        "email_id": {
                          "type": "string",
                          "title": "created_by.email_id",
                          "description": "created_by -> email_id"
                        },
                        "is_technician": {
                          "type": "boolean",
                          "title": "created_by.is_technician",
                          "description": "created_by -> is_technician"
                        },
                        "sms_mail": {
                          "type": "string",
                          "title": "created_by.sms_mail",
                          "description": "created_by -> sms_mail"
                        },
                        "mobile": {
                          "type": "string",
                          "title": "created_by.mobile",
                          "description": "created_by -> mobile"
                        },
                        "last_name": {
                          "type": "string",
                          "title": "created_by.last_name",
                          "description": "created_by -> last_name"
                        },
                        "user_scope": {
                          "type": "string",
                          "title": "created_by.user_scope",
                          "description": "created_by -> user_scope"
                        },
                        "sms_mail_id": {
                          "type": "string",
                          "title": "created_by.sms_mail_id",
                          "description": "created_by -> sms_mail_id"
                        },
                        "phone": {
                          "type": "string",
                          "title": "created_by.phone",
                          "description": "created_by -> phone"
                        },
                        "name": {
                          "type": "string",
                          "title": "created_by.name",
                          "description": "created_by -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "created_by.id",
                          "description": "created_by -> id"
                        },
                        "photo_url": {
                          "type": "string",
                          "title": "created_by.photo_url",
                          "description": "created_by -> photo_url"
                        },
                        "is_vip_user": {
                          "type": "boolean",
                          "title": "created_by.is_vip_user",
                          "description": "created_by -> is_vip_user"
                        },
                        "department": {
                          "type": "object",
                          "title": "created_by.department",
                          "description": "created_by -> department"
                        },
                        "first_name": {
                          "type": "string",
                          "title": "created_by.first_name",
                          "description": "created_by -> first_name"
                        },
                        "job_title": {
                          "type": "string",
                          "title": "created_by.job_title",
                          "description": "created_by -> job_title"
                        }
                      },
                      "description": "created_by"
                    },
                    "scheduled_end_time": {
                      "type": "object",
                      "properties": {
                        "display_value": {
                          "type": "string",
                          "title": "scheduled_end_time.display_value",
                          "description": "scheduled_end_time -> display_value"
                        },
                        "value": {
                          "type": "string",
                          "title": "scheduled_end_time.value",
                          "description": "scheduled_end_time -> value"
                        }
                      },
                      "description": "scheduled_end_time"
                    },
                    "first_response_due_by_time": {
                      "type": "object",
                      "properties": {
                        "display_value": {
                          "type": "string",
                          "title": "first_response_due_by_time.display_value",
                          "description": "first_response_due_by_time -> display_value"
                        },
                        "value": {
                          "type": "string",
                          "title": "first_response_due_by_time.value",
                          "description": "first_response_due_by_time -> value"
                        }
                      },
                      "description": "first_response_due_by_time"
                    },
                    "is_escalated": {
                      "type": "boolean",
                      "description": "is_escalated"
                    },
                    "last_updated_time": {
                      "type": "object",
                      "properties": {
                        "display_value": {
                          "type": "string",
                          "title": "last_updated_time.display_value",
                          "description": "last_updated_time -> display_value"
                        },
                        "value": {
                          "type": "string",
                          "title": "last_updated_time.value",
                          "description": "last_updated_time -> value"
                        }
                      },
                      "description": "last_updated_time"
                    },
                    "has_notes": {
                      "type": "boolean",
                      "description": "has_notes"
                    },
                    "udf_fields": {
                      "type": "object",
                      "properties": {},
                      "description": "udf_fields"
                    },
                    "impact_details": {
                      "type": "string",
                      "description": "impact_details"
                    },
                    "subcategory": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "title": "subcategory.name",
                          "description": "subcategory -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "subcategory.id",
                          "description": "subcategory -> id"
                        }
                      },
                      "description": "subcategory"
                    },
                    "deleted_time": {
                      "type": "object",
                      "description": "deleted_time"
                    },
                    "email_cc": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "email_cc"
                    },
                    "onhold_scheduler": {
                      "type": "object",
                      "description": "onhold_scheduler"
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "in_progress": {
                          "type": "boolean",
                          "title": "status.in_progress",
                          "description": "status -> in_progress"
                        },
                        "internal_name": {
                          "type": "string",
                          "title": "status.internal_name",
                          "description": "status -> internal_name"
                        },
                        "stop_timer": {
                          "type": "boolean",
                          "title": "status.stop_timer",
                          "description": "status -> stop_timer"
                        },
                        "color": {
                          "type": "string",
                          "title": "status.color",
                          "description": "status -> color"
                        },
                        "name": {
                          "type": "string",
                          "title": "status.name",
                          "description": "status -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "status.id",
                          "description": "status -> id"
                        }
                      },
                      "description": "status"
                    },
                    "scheduled_start_time": {
                      "type": "object",
                      "properties": {
                        "display_value": {
                          "type": "string",
                          "title": "scheduled_start_time.display_value",
                          "description": "scheduled_start_time -> display_value"
                        },
                        "value": {
                          "type": "string",
                          "title": "scheduled_start_time.value",
                          "description": "scheduled_start_time -> value"
                        }
                      },
                      "description": "scheduled_start_time"
                    },
                    "template": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "title": "template.name",
                          "description": "template -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "template.id",
                          "description": "template -> id"
                        }
                      },
                      "description": "template"
                    },
                    "email_ids_to_notify": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "email_ids_to_notify"
                    },
                    "attachments": {
                      "type": "array",
                      "items": {},
                      "description": "attachments"
                    },
                    "request_type": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "title": "request_type.name",
                          "description": "request_type -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "request_type.id",
                          "description": "request_type -> id"
                        }
                      },
                      "description": "request_type"
                    },
                    "completed_by_denial": {
                      "type": "boolean",
                      "description": "completed_by_denial"
                    },
                    "display_id": {
                      "type": "string",
                      "description": "display_id"
                    },
                    "time_elapsed": {
                      "type": "string",
                      "description": "time_elapsed"
                    },
                    "notification_status": {
                      "type": "object",
                      "description": "notification_status"
                    },
                    "description": {
                      "type": "string",
                      "description": "description"
                    },
                    "responded_time": {
                      "type": "string",
                      "description": "responded_time"
                    },
                    "is_service_request": {
                      "type": "boolean",
                      "description": "is_service_request"
                    },
                    "deleted_assets": {
                      "type": "array",
                      "items": {},
                      "description": "deleted_assets"
                    },
                    "urgency": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "title": "urgency.name",
                          "description": "urgency -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "urgency.id",
                          "description": "urgency -> id"
                        }
                      },
                      "description": "urgency"
                    },
                    "has_request_initiated_change": {
                      "type": "boolean",
                      "description": "has_request_initiated_change"
                    },
                    "request_template_task_ids": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "title": "request_template_task_ids.id",
                            "description": "request_template_task_ids -> id"
                          }
                        }
                      },
                      "description": "request_template_task_ids"
                    },
                    "department": {
                      "type": "object",
                      "description": "department"
                    },
                    "is_reopened": {
                      "type": "boolean",
                      "description": "is_reopened"
                    },
                    "has_draft": {
                      "type": "boolean",
                      "description": "has_draft"
                    },
                    "has_attachments": {
                      "type": "boolean",
                      "description": "has_attachments"
                    },
                    "has_linked_requests": {
                      "type": "boolean",
                      "description": "has_linked_requests"
                    },
                    "is_overdue": {
                      "type": "boolean",
                      "description": "is_overdue"
                    },
                    "technician": {
                      "type": "object",
                      "properties": {
                        "email_id": {
                          "type": "string",
                          "title": "technician.email_id",
                          "description": "technician -> email_id"
                        },
                        "is_technician": {
                          "type": "boolean",
                          "title": "technician.is_technician",
                          "description": "technician -> is_technician"
                        },
                        "sms_mail": {
                          "type": "string",
                          "title": "technician.sms_mail",
                          "description": "technician -> sms_mail"
                        },
                        "mobile": {
                          "type": "string",
                          "title": "technician.mobile",
                          "description": "technician -> mobile"
                        },
                        "last_name": {
                          "type": "string",
                          "title": "technician.last_name",
                          "description": "technician -> last_name"
                        },
                        "user_scope": {
                          "type": "string",
                          "title": "technician.user_scope",
                          "description": "technician -> user_scope"
                        },
                        "sms_mail_id": {
                          "type": "string",
                          "title": "technician.sms_mail_id",
                          "description": "technician -> sms_mail_id"
                        },
                        "cost_per_hour": {
                          "type": "string",
                          "title": "technician.cost_per_hour",
                          "description": "technician -> cost_per_hour"
                        },
                        "phone": {
                          "type": "string",
                          "title": "technician.phone",
                          "description": "technician -> phone"
                        },
                        "name": {
                          "type": "string",
                          "title": "technician.name",
                          "description": "technician -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "technician.id",
                          "description": "technician -> id"
                        },
                        "photo_url": {
                          "type": "string",
                          "title": "technician.photo_url",
                          "description": "technician -> photo_url"
                        },
                        "is_vip_user": {
                          "type": "boolean",
                          "title": "technician.is_vip_user",
                          "description": "technician -> is_vip_user"
                        },
                        "department": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "title": "technician.department.id",
                              "description": "technician -> department -> id"
                            }
                          },
                          "title": "technician.department",
                          "description": "technician -> department"
                        },
                        "first_name": {
                          "type": "string",
                          "title": "technician.first_name",
                          "description": "technician -> first_name"
                        },
                        "job_title": {
                          "type": "string",
                          "title": "technician.job_title",
                          "description": "technician -> job_title"
                        }
                      },
                      "description": "technician"
                    },
                    "has_problem": {
                      "type": "boolean",
                      "description": "has_problem"
                    },
                    "due_by_time": {
                      "type": "object",
                      "properties": {
                        "display_value": {
                          "type": "string",
                          "title": "due_by_time.display_value",
                          "description": "due_by_time -> display_value"
                        },
                        "value": {
                          "type": "string",
                          "title": "due_by_time.value",
                          "description": "due_by_time -> value"
                        }
                      },
                      "description": "due_by_time"
                    },
                    "is_fcr": {
                      "type": "boolean",
                      "description": "is_fcr"
                    },
                    "has_project": {
                      "type": "boolean",
                      "description": "has_project"
                    },
                    "site": {
                      "type": "object",
                      "properties": {
                        "deleted": {
                          "type": "boolean",
                          "title": "site.deleted",
                          "description": "site -> deleted"
                        },
                        "name": {
                          "type": "string",
                          "title": "site.name",
                          "description": "site -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "site.id",
                          "description": "site -> id"
                        }
                      },
                      "description": "site"
                    },
                    "is_first_response_overdue": {
                      "type": "boolean",
                      "description": "is_first_response_overdue"
                    },
                    "completed_time": {
                      "type": "object",
                      "description": "completed_time"
                    },
                    "unreplied_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "unreplied_count"
                    },
                    "email_bcc": {
                      "type": "array",
                      "items": {},
                      "description": "email_bcc"
                    },
                    "category": {
                      "type": "object",
                      "properties": {
                        "deleted": {
                          "type": "boolean",
                          "title": "category.deleted",
                          "description": "category -> deleted"
                        },
                        "name": {
                          "type": "string",
                          "title": "category.name",
                          "description": "category -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "category.id",
                          "description": "category -> id"
                        }
                      },
                      "description": "category"
                    },
                    "maintenance": {
                      "type": "object",
                      "description": "maintenance"
                    }
                  },
                  "description": "request"
                }
              }
            }
          }
        },
        "summary": "Create Request",
        "description": "Create new request in SDP Cloud",
        "operationId": "CreateRequest",
        "parameters": [
          {
            "name": "serviceDeskInstance",
            "in": "path",
            "x-ms-summary": "Service Desk Instance",
            "required": true,
            "type": "string",
            "description": "Select the ServiceDesk Plus Cloud instance where the API call must be placed",
            "x-ms-dynamic-values": {
              "operationId": "PortalList",
              "value-path": "name",
              "value-collection": "portals",
              "value-title": "name"
            },
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "input_data": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "type": "object",
                      "properties": {
                        "subject": {
                          "type": "string",
                          "description": "Specify request subject",
                          "title": "Subject"
                        },
                        "template": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Specify request template name",
                              "title": "Request Template"
                            }
                          }
                        },
                        "request_type": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Specify request type",
                              "title": "Request Type"
                            }
                          },
                          "description": "request_type"
                        },
                        "requester": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Provide requester name",
                              "title": "Requester"
                            }
                          },
                          "description": "requester"
                        },
                        "status": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Specify request status",
                              "title": "Status"
                            }
                          },
                          "description": "status"
                        },
                        "technician": {
                          "type": "object",
                          "properties": {
                            "email_id": {
                              "type": "string",
                              "description": "Specify technician email address",
                              "title": "Technician Email Address"
                            }
                          },
                          "description": "technician"
                        },
                        "site": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Specify request site",
                              "title": "Site"
                            }
                          },
                          "description": "site"
                        },
                        "group": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Specify request group",
                              "title": "Group"
                            }
                          },
                          "description": "group"
                        },
                        "description": {
                          "type": "string",
                          "description": "Type request description",
                          "title": "Description"
                        },
                        "priority": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Specify request priority",
                              "title": "Priority"
                            }
                          },
                          "description": "priority"
                        },
                        "urgency": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Specify request urgency",
                              "title": "Urgency"
                            }
                          },
                          "description": "Urgency"
                        },
                        "impact": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Specify request impact",
                              "title": "Impact"
                            }
                          },
                          "description": "Impact"
                        },
                        "mode": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Specify request mode",
                              "title": "Mode"
                            }
                          },
                          "description": "Mode"
                        },
                        "category": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Specify request category",
                              "title": "Category"
                            }
                          },
                          "description": "Category"
                        },
                        "subcategory": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Specify request subcategory",
                              "title": "Sub Category"
                            }
                          },
                          "description": "Sub Category"
                        },
                        "item": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Specify request item",
                              "title": "Item"
                            }
                          },
                          "description": "Item"
                        },
                        "assets": {
                          "title": "Asset",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Provide assets to be associated with request"
                              }
                            }
                          },
                          "description": "Provide assets to be associated with request"
                        },
                        "udf_fields": {
                          "type": "string",
                          "description": "Specify additional fields(e.g.{\"udf_char1\":\"value\",\"udf_char2\":\"value\",..})",
                          "title": "Additional Fields"
                        }
                      },
                      "description": "request",
                      "required": [
                        "subject"
                      ]
                    }
                  },
                  "required": [
                    "request"
                  ],
                  "description": "request"
                }
              },
              "required": [
                "input_data"
              ]
            }
          }
        ]
      }
    },
    "/app/{serviceDeskInstance}/api/v3/requests/{id}": {
      "put": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "properties": {
                    "subject": {
                      "type": "string",
                      "title": "subject",
                      "description": "Subject"
                    },
                    "project": {
                      "type": "object",
                      "properties": {
                        "display_id": {
                          "type": "object",
                          "properties": {
                            "display_value": {
                              "type": "string",
                              "title": "project.display_id.display_value",
                              "description": "project -> display_id -> display_value"
                            },
                            "value": {
                              "type": "string",
                              "title": "project.display_id.value",
                              "description": "project -> display_id -> value"
                            }
                          },
                          "description": "project -> display_id",
                          "title": "project.display_id"
                        },
                        "project_code": {
                          "type": "object",
                          "title": "project.project_code",
                          "description": "project -> project_code"
                        },
                        "id": {
                          "type": "string",
                          "title": "project.id",
                          "description": "project -> id"
                        },
                        "title": {
                          "type": "string",
                          "title": "project.title",
                          "description": "project -> title"
                        }
                      },
                      "description": "project"
                    },
                    "resolution": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string",
                          "title": "resolution.content",
                          "description": "resolution -> content"
                        }
                      },
                      "description": "resolution"
                    },
                    "linked_to_request": {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "object",
                          "properties": {
                            "display_id": {
                              "type": "integer",
                              "format": "int32",
                              "title": "linked_to_request.request.display_id",
                              "description": "linked_to_request -> request -> display_id"
                            },
                            "subject": {
                              "type": "string",
                              "title": "linked_to_request.request.subject",
                              "description": "linked_to_request -> request -> subject"
                            },
                            "id": {
                              "type": "string",
                              "title": "linked_to_request.request.id",
                              "description": "linked_to_request -> request -> id"
                            }
                          },
                          "description": "linked_to_request -> request",
                          "title": "linked_to_request.request"
                        },
                        "comments": {
                          "type": "string",
                          "title": "linked_to_request.comments",
                          "description": "linked_to_request -> comments"
                        }
                      },
                      "description": "linked_to_request"
                    },
                    "mode": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "title": "mode.name",
                          "description": "mode -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "mode.id",
                          "description": "mode -> id"
                        }
                      },
                      "description": "mode"
                    },
                    "lifecycle": {
                      "type": "object",
                      "description": "lifecycle"
                    },
                    "is_read": {
                      "type": "boolean",
                      "description": "is_read"
                    },
                    "assets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "site": {
                            "type": "object",
                            "title": "assets.site",
                            "description": "assets -> site"
                          },
                          "name": {
                            "type": "string",
                            "title": "assets.name",
                            "description": "assets -> name"
                          },
                          "id": {
                            "type": "string",
                            "title": "assets.id",
                            "description": "assets -> id"
                          }
                        }
                      },
                      "description": "assets"
                    },
                    "cancellation_requested": {
                      "type": "boolean",
                      "description": "cancellation_requested"
                    },
                    "is_trashed": {
                      "type": "boolean",
                      "description": "is_trashed"
                    },
                    "has_change_initiated_request": {
                      "type": "boolean",
                      "description": "has_change_initiated_request"
                    },
                    "id": {
                      "type": "string",
                      "title": "id",
                      "description": "request -> id"
                    },
                    "assigned_time": {
                      "type": "object",
                      "properties": {
                        "display_value": {
                          "type": "string",
                          "title": "assigned_time.display_value",
                          "description": "assigned_time -> display_value"
                        },
                        "value": {
                          "type": "string",
                          "title": "assigned_time.value",
                          "description": "assigned_time -> value"
                        }
                      },
                      "description": "assigned_time"
                    },
                    "group": {
                      "type": "object",
                      "properties": {
                        "site": {
                          "type": "object",
                          "title": "group.site",
                          "description": "group -> site"
                        },
                        "deleted": {
                          "type": "boolean",
                          "title": "group.deleted",
                          "description": "group -> deleted"
                        },
                        "name": {
                          "type": "string",
                          "title": "group.name",
                          "description": "group -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "group.id",
                          "description": "group -> id"
                        }
                      },
                      "description": "group"
                    },
                    "requester": {
                      "type": "object",
                      "properties": {
                        "email_id": {
                          "type": "string",
                          "title": "requester.email_id",
                          "description": "requester -> email_id"
                        },
                        "is_technician": {
                          "type": "boolean",
                          "title": "requester.is_technician",
                          "description": "requester -> is_technician"
                        },
                        "sms_mail": {
                          "type": "string",
                          "title": "requester.sms_mail",
                          "description": "requester -> sms_mail"
                        },
                        "mobile": {
                          "type": "string",
                          "title": "requester.mobile",
                          "description": "requester -> mobile"
                        },
                        "last_name": {
                          "type": "string",
                          "title": "requester.last_name",
                          "description": "requester -> last_name"
                        },
                        "user_scope": {
                          "type": "string",
                          "title": "requester.user_scope",
                          "description": "requester -> user_scope"
                        },
                        "sms_mail_id": {
                          "type": "string",
                          "title": "requester.sms_mail_id",
                          "description": "requester -> sms_mail_id"
                        },
                        "phone": {
                          "type": "string",
                          "title": "requester.phone",
                          "description": "requester -> phone"
                        },
                        "name": {
                          "type": "string",
                          "title": "requester.name",
                          "description": "requester -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "requester.id",
                          "description": "requester -> id"
                        },
                        "photo_url": {
                          "type": "string",
                          "title": "requester.photo_url",
                          "description": "requester -> photo_url"
                        },
                        "is_vip_user": {
                          "type": "boolean",
                          "title": "requester.is_vip_user",
                          "description": "requester -> is_vip_user"
                        },
                        "department": {
                          "type": "object",
                          "title": "requester.department",
                          "description": "requester -> department"
                        },
                        "first_name": {
                          "type": "string",
                          "title": "requester.first_name",
                          "description": "requester -> first_name"
                        },
                        "job_title": {
                          "type": "string",
                          "title": "requester.job_title",
                          "description": "requester -> job_title"
                        }
                      },
                      "description": "requester"
                    },
                    "email_to": {
                      "type": "array",
                      "items": {},
                      "description": "email_to"
                    },
                    "created_time": {
                      "type": "object",
                      "properties": {
                        "display_value": {
                          "type": "string",
                          "title": "created_time.display_value",
                          "description": "created_time -> display_value"
                        },
                        "value": {
                          "type": "string",
                          "title": "created_time.value",
                          "description": "created_time -> value"
                        }
                      },
                      "description": "created_time"
                    },
                    "item": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "title": "item.name",
                          "description": "item -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "item.id",
                          "description": "item -> id"
                        }
                      },
                      "description": "item"
                    },
                    "cancel_flag_comments": {
                      "type": "object",
                      "description": "cancel_flag_comments"
                    },
                    "level": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "title": "level.name",
                          "description": "level -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "level.id",
                          "description": "level -> id"
                        }
                      },
                      "description": "level"
                    },
                    "approval_status": {
                      "type": "object",
                      "description": "approval_status"
                    },
                    "impact": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "title": "impact.name",
                          "description": "impact -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "impact.id",
                          "description": "impact -> id"
                        }
                      },
                      "description": "impact"
                    },
                    "service_category": {
                      "type": "object",
                      "properties": {
                        "inactive": {
                          "type": "boolean",
                          "title": "service_category.inactive",
                          "description": "service_category -> inactive"
                        },
                        "name": {
                          "type": "string",
                          "title": "service_category.name",
                          "description": "service_category -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "service_category.id",
                          "description": "service_category -> id"
                        },
                        "sort_index": {
                          "type": "integer",
                          "format": "int32",
                          "title": "service_category.sort_index",
                          "description": "service_category -> sort_index"
                        }
                      },
                      "description": "service_category"
                    },
                    "sla": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "title": "sla.name",
                          "description": "sla -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "sla.id",
                          "description": "sla -> id"
                        }
                      },
                      "description": "sla"
                    },
                    "resolved_time": {
                      "type": "object",
                      "description": "resolved_time"
                    },
                    "priority": {
                      "type": "object",
                      "properties": {
                        "color": {
                          "type": "string",
                          "title": "priority.color",
                          "description": "priority -> color"
                        },
                        "name": {
                          "type": "string",
                          "title": "priority.name",
                          "description": "priority -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "priority.id",
                          "description": "priority -> id"
                        }
                      },
                      "description": "priority"
                    },
                    "created_by": {
                      "type": "object",
                      "properties": {
                        "email_id": {
                          "type": "string",
                          "title": "created_by.email_id",
                          "description": "created_by -> email_id"
                        },
                        "is_technician": {
                          "type": "boolean",
                          "title": "created_by.is_technician",
                          "description": "created_by -> is_technician"
                        },
                        "sms_mail": {
                          "type": "string",
                          "title": "created_by.sms_mail",
                          "description": "created_by -> sms_mail"
                        },
                        "mobile": {
                          "type": "string",
                          "title": "created_by.mobile",
                          "description": "created_by -> mobile"
                        },
                        "last_name": {
                          "type": "string",
                          "title": "created_by.last_name",
                          "description": "created_by -> last_name"
                        },
                        "user_scope": {
                          "type": "string",
                          "title": "created_by.user_scope",
                          "description": "created_by -> user_scope"
                        },
                        "sms_mail_id": {
                          "type": "string",
                          "title": "created_by.sms_mail_id",
                          "description": "created_by -> sms_mail_id"
                        },
                        "phone": {
                          "type": "string",
                          "title": "created_by.phone",
                          "description": "created_by -> phone"
                        },
                        "name": {
                          "type": "string",
                          "title": "created_by.name",
                          "description": "created_by -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "created_by.id",
                          "description": "created_by -> id"
                        },
                        "photo_url": {
                          "type": "string",
                          "title": "created_by.photo_url",
                          "description": "created_by -> photo_url"
                        },
                        "is_vip_user": {
                          "type": "boolean",
                          "title": "created_by.is_vip_user",
                          "description": "created_by -> is_vip_user"
                        },
                        "department": {
                          "type": "object",
                          "title": "created_by.department",
                          "description": "created_by -> department"
                        },
                        "first_name": {
                          "type": "string",
                          "title": "created_by.first_name",
                          "description": "created_by -> first_name"
                        },
                        "job_title": {
                          "type": "string",
                          "title": "created_by.job_title",
                          "description": "created_by -> job_title"
                        }
                      },
                      "description": "created_by"
                    },
                    "scheduled_end_time": {
                      "type": "object",
                      "properties": {
                        "display_value": {
                          "type": "string",
                          "title": "scheduled_end_time.display_value",
                          "description": "scheduled_end_time -> display_value"
                        },
                        "value": {
                          "type": "string",
                          "title": "scheduled_end_time.value",
                          "description": "scheduled_end_time -> value"
                        }
                      },
                      "description": "scheduled_end_time"
                    },
                    "first_response_due_by_time": {
                      "type": "object",
                      "properties": {
                        "display_value": {
                          "type": "string",
                          "title": "first_response_due_by_time.display_value",
                          "description": "first_response_due_by_time -> display_value"
                        },
                        "value": {
                          "type": "string",
                          "title": "first_response_due_by_time.value",
                          "description": "first_response_due_by_time -> value"
                        }
                      },
                      "description": "first_response_due_by_time"
                    },
                    "is_escalated": {
                      "type": "boolean",
                      "description": "is_escalated"
                    },
                    "last_updated_time": {
                      "type": "object",
                      "properties": {
                        "display_value": {
                          "type": "string",
                          "title": "last_updated_time.display_value",
                          "description": "last_updated_time -> display_value"
                        },
                        "value": {
                          "type": "string",
                          "title": "last_updated_time.value",
                          "description": "last_updated_time -> value"
                        }
                      },
                      "description": "last_updated_time"
                    },
                    "has_notes": {
                      "type": "boolean",
                      "description": "has_notes"
                    },
                    "udf_fields": {
                      "type": "object",
                      "properties": {},
                      "description": "udf_fields"
                    },
                    "impact_details": {
                      "type": "string",
                      "description": "impact_details"
                    },
                    "subcategory": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "title": "subcategory.name",
                          "description": "subcategory -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "subcategory.id",
                          "description": "subcategory -> id"
                        }
                      },
                      "description": "subcategory"
                    },
                    "deleted_time": {
                      "type": "object",
                      "description": "deleted_time"
                    },
                    "email_cc": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "email_cc"
                    },
                    "onhold_scheduler": {
                      "type": "object",
                      "description": "onhold_scheduler"
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "in_progress": {
                          "type": "boolean",
                          "title": "status.in_progress",
                          "description": "status -> in_progress"
                        },
                        "internal_name": {
                          "type": "string",
                          "title": "status.internal_name",
                          "description": "status -> internal_name"
                        },
                        "stop_timer": {
                          "type": "boolean",
                          "title": "status.stop_timer",
                          "description": "status -> stop_timer"
                        },
                        "color": {
                          "type": "string",
                          "title": "status.color",
                          "description": "status -> color"
                        },
                        "name": {
                          "type": "string",
                          "title": "status.name",
                          "description": "status -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "status.id",
                          "description": "status -> id"
                        }
                      },
                      "description": "status"
                    },
                    "scheduled_start_time": {
                      "type": "object",
                      "properties": {
                        "display_value": {
                          "type": "string",
                          "title": "scheduled_start_time.display_value",
                          "description": "scheduled_start_time -> display_value"
                        },
                        "value": {
                          "type": "string",
                          "title": "scheduled_start_time.value",
                          "description": "scheduled_start_time -> value"
                        }
                      },
                      "description": "scheduled_start_time"
                    },
                    "template": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "title": "template.name",
                          "description": "template -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "template.id",
                          "description": "template -> id"
                        }
                      },
                      "description": "template"
                    },
                    "email_ids_to_notify": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "email_ids_to_notify"
                    },
                    "attachments": {
                      "type": "array",
                      "items": {},
                      "description": "attachments"
                    },
                    "request_type": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "title": "request_type.name",
                          "description": "request_type -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "request_type.id",
                          "description": "request_type -> id"
                        }
                      },
                      "description": "request_type"
                    },
                    "completed_by_denial": {
                      "type": "boolean",
                      "description": "completed_by_denial"
                    },
                    "display_id": {
                      "type": "string",
                      "description": "display_id"
                    },
                    "time_elapsed": {
                      "type": "string",
                      "description": "time_elapsed"
                    },
                    "notification_status": {
                      "type": "object",
                      "description": "notification_status"
                    },
                    "description": {
                      "type": "string",
                      "description": "description"
                    },
                    "responded_time": {
                      "type": "string",
                      "description": "responded_time"
                    },
                    "is_service_request": {
                      "type": "boolean",
                      "description": "is_service_request"
                    },
                    "deleted_assets": {
                      "type": "array",
                      "items": {},
                      "description": "deleted_assets"
                    },
                    "urgency": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "title": "urgency.name",
                          "description": "urgency -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "urgency.id",
                          "description": "urgency -> id"
                        }
                      },
                      "description": "urgency"
                    },
                    "has_request_initiated_change": {
                      "type": "boolean",
                      "description": "has_request_initiated_change"
                    },
                    "request_template_task_ids": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "title": "request_template_task_ids.id",
                            "description": "request_template_task_ids -> id"
                          }
                        }
                      },
                      "description": "request_template_task_ids"
                    },
                    "department": {
                      "type": "object",
                      "description": "department"
                    },
                    "is_reopened": {
                      "type": "boolean",
                      "description": "is_reopened"
                    },
                    "has_draft": {
                      "type": "boolean",
                      "description": "has_draft"
                    },
                    "has_attachments": {
                      "type": "boolean",
                      "description": "has_attachments"
                    },
                    "has_linked_requests": {
                      "type": "boolean",
                      "description": "has_linked_requests"
                    },
                    "is_overdue": {
                      "type": "boolean",
                      "description": "is_overdue"
                    },
                    "technician": {
                      "type": "object",
                      "properties": {
                        "email_id": {
                          "type": "string",
                          "title": "technician.email_id",
                          "description": "technician -> email_id"
                        },
                        "is_technician": {
                          "type": "boolean",
                          "title": "technician.is_technician",
                          "description": "technician -> is_technician"
                        },
                        "sms_mail": {
                          "type": "string",
                          "title": "technician.sms_mail",
                          "description": "technician -> sms_mail"
                        },
                        "mobile": {
                          "type": "string",
                          "title": "technician.mobile",
                          "description": "technician -> mobile"
                        },
                        "last_name": {
                          "type": "string",
                          "title": "technician.last_name",
                          "description": "technician -> last_name"
                        },
                        "user_scope": {
                          "type": "string",
                          "title": "technician.user_scope",
                          "description": "technician -> user_scope"
                        },
                        "sms_mail_id": {
                          "type": "string",
                          "title": "technician.sms_mail_id",
                          "description": "technician -> sms_mail_id"
                        },
                        "cost_per_hour": {
                          "type": "string",
                          "title": "technician.cost_per_hour",
                          "description": "technician -> cost_per_hour"
                        },
                        "phone": {
                          "type": "string",
                          "title": "technician.phone",
                          "description": "technician -> phone"
                        },
                        "name": {
                          "type": "string",
                          "title": "technician.name",
                          "description": "technician -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "technician.id",
                          "description": "technician -> id"
                        },
                        "photo_url": {
                          "type": "string",
                          "title": "technician.photo_url",
                          "description": "technician -> photo_url"
                        },
                        "is_vip_user": {
                          "type": "boolean",
                          "title": "technician.is_vip_user",
                          "description": "technician -> is_vip_user"
                        },
                        "department": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "title": "technician.department.id",
                              "description": "technician -> department -> id"
                            }
                          },
                          "title": "technician.department",
                          "description": "technician -> department"
                        },
                        "first_name": {
                          "type": "string",
                          "title": "technician.first_name",
                          "description": "technician -> first_name"
                        },
                        "job_title": {
                          "type": "string",
                          "title": "technician.job_title",
                          "description": "technician -> job_title"
                        }
                      },
                      "description": "technician"
                    },
                    "has_problem": {
                      "type": "boolean",
                      "description": "has_problem"
                    },
                    "due_by_time": {
                      "type": "object",
                      "properties": {
                        "display_value": {
                          "type": "string",
                          "title": "due_by_time.display_value",
                          "description": "due_by_time -> display_value"
                        },
                        "value": {
                          "type": "string",
                          "title": "due_by_time.value",
                          "description": "due_by_time -> value"
                        }
                      },
                      "description": "due_by_time"
                    },
                    "is_fcr": {
                      "type": "boolean",
                      "description": "is_fcr"
                    },
                    "has_project": {
                      "type": "boolean",
                      "description": "has_project"
                    },
                    "site": {
                      "type": "object",
                      "properties": {
                        "deleted": {
                          "type": "boolean",
                          "title": "site.deleted",
                          "description": "site -> deleted"
                        },
                        "name": {
                          "type": "string",
                          "title": "site.name",
                          "description": "site -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "site.id",
                          "description": "site -> id"
                        }
                      },
                      "description": "site"
                    },
                    "is_first_response_overdue": {
                      "type": "boolean",
                      "description": "is_first_response_overdue"
                    },
                    "completed_time": {
                      "type": "object",
                      "description": "completed_time"
                    },
                    "unreplied_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "unreplied_count"
                    },
                    "email_bcc": {
                      "type": "array",
                      "items": {},
                      "description": "email_bcc"
                    },
                    "category": {
                      "type": "object",
                      "properties": {
                        "deleted": {
                          "type": "boolean",
                          "title": "category.deleted",
                          "description": "category -> deleted"
                        },
                        "name": {
                          "type": "string",
                          "title": "category.name",
                          "description": "category -> name"
                        },
                        "id": {
                          "type": "string",
                          "title": "category.id",
                          "description": "category -> id"
                        }
                      },
                      "description": "category"
                    },
                    "maintenance": {
                      "type": "object",
                      "description": "maintenance"
                    }
                  },
                  "description": "request"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "serviceDeskInstance",
            "in": "path",
            "required": true,
            "x-ms-summary": "Service Desk Instance",
            "type": "string",
            "description": "Select the ServiceDesk Plus Cloud instance where the API call must be placed",
            "x-ms-dynamic-values": {
              "operationId": "PortalList",
              "value-path": "name",
              "value-collection": "portals",
              "value-title": "name"
            },
            "x-ms-url-encoding": "single"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Request Id",
            "type": "string",
            "description": "Specify request ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "input_data": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "type": "object",
                      "properties": {
                        "subject": {
                          "type": "string",
                          "description": "Specify request subject",
                          "title": "Subject"
                        },
                        "template": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Specify request template name",
                              "title": "Request Template"
                            }
                          }
                        },
                        "request_type": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Specify request type",
                              "title": "Request Type"
                            }
                          },
                          "description": "request_type"
                        },
                        "requester": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Provide requester name",
                              "title": "Requester"
                            }
                          },
                          "description": "requester"
                        },
                        "status": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Specify request status",
                              "title": "Status"
                            }
                          },
                          "description": "status"
                        },
                        "technician": {
                          "type": "object",
                          "properties": {
                            "email_id": {
                              "type": "string",
                              "description": "Specify technician email address",
                              "title": "Technician Email Address"
                            }
                          },
                          "description": "technician"
                        },
                        "site": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Specify request site",
                              "title": "Site"
                            }
                          },
                          "description": "site"
                        },
                        "group": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Specify request group",
                              "title": "Group"
                            }
                          },
                          "description": "group"
                        },
                        "description": {
                          "type": "string",
                          "description": "Type request description",
                          "title": "Description"
                        },
                        "priority": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Specify request priority",
                              "title": "Priority"
                            }
                          },
                          "description": "priority"
                        },
                        "urgency": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Specify request urgency",
                              "title": "Urgency"
                            }
                          },
                          "description": "Urgency"
                        },
                        "impact": {
                          "type": "object",
                          "properties": {
                            "name": {
[...]
