{
  "swagger": "2.0",
  "info": {
    "title": "ServiceDesk Plus Cloud",
    "description": "ManageEngine ServiceDesk Plus Cloud is a comprehensive help desk with integrated asset and project management capabilities.",
    "version": "2.0",
	"x-ms-keywords": [
		"Servicedeskplus",
		"Service desk",
		"Service desk plus",
		"Service deskplus",
		"Desk Plus",
		"Deskplus",
		"ITSM",
		"Request",
		"Helpdesk",
		"Help Desk",
		"IT portal",
		"ITportal",
		"IT instance",
		"ITinstance",
		"Ticketingtool",
		"Ticketing tool",
		"Ticketing software",
		"Ticketingsoftware",
		"Desk Portal",
		"Deskpotal",
		"Service request",
		"Servicerequest",
		"Service Ticket",
		"Serviceticket",
		"Incident Management",
		"Incident ticket",
		"Incidentticket",
		"Request Management",
		"IT Management",
		"IT Team",
		"ITteam",
		"Work order",
		"Workorder",
		"Trouble Ticket",
		"Troubleticket",
		"Issue",
		"Alert",
		"Case"
    ],
	"x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "ServiceDesk Plus Cloud Support",
      "url": "https://www.manageengine.com/products/service-desk/support.html",
      "email": "sdp-ondemand-support@manageengine.com"
    }
  },
  "host": "sdpondemand.manageengine.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
	"application/json"
  ],
  "produces": [
	"application/json"
  ],
  "paths": {
    "/app/{serviceDeskInstance}/api/v3/requests": {
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "properties": {
                "requests": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "title": "request",
                    "properties": {
                      "cancellation_requested": {
                        "description": "cancellation_requested",
                        "type": "boolean",
                        "title": "cancellation_requested"
                      },
                      "id": {
                        "description": "id",
                        "type": "string",
                        "title": "id"
                      },
                      "requester": {
                        "$ref": "#/definitions/partial_user"
                      },
                      "has_notes": {
                        "description": "has_notes",
                        "type": "boolean",
                        "title": "has_notes"
                      },
                      "status": {
                        "$ref": "#/definitions/partial_status"
                      },
                      "template": {
                        "$ref": "#/definitions/partial_request_template"
                      },
                      "is_service_request": {
                        "description": "is_service_request",
                        "type": "boolean",
                        "title": "is_service_request"
                      },
                      "subject": {
                        "description": "subject",
                        "type": "string",
                        "title": "subject"
                      },
                      "group": {
                        "$ref": "#/definitions/partial_group"
                      },
                      "cancel_flag_comments": {
                        "$ref": "#/definitions/partial_action_comment"
                      },
                      "display_id": {
                        "description": "display_id",
                        "type": "string",
                        "title": "display_id"
                      },
                      "has_draft": {
                        "description": "has_draft",
                        "type": "boolean",
                        "title": "has_draft"
                      },
                      "technician": {
                        "$ref": "#/definitions/partial_technician"
                      },
                      "maintenance": {
                        "$ref": "#/definitions/partial_pm_task"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "serviceDeskInstance",
            "in": "path",
            "x-ms-summary": "Service Desk Instance",
            "required": true,
            "type": "string",
            "description": "The portal name in ServiceDesk Plus Cloud.",
            "x-ms-dynamic-values": {
              "operationId": "PortalList",
              "value-path": "name",
              "value-collection": "portals",
              "value-title": "name"
            },
            "x-ms-url-encoding": "single"
          },
          {
            "name": "input_data",
            "in": "query",
            "required": false,
            "type": "string",
			"x-ms-summary": "input_data",
			"description": "input_data to get the list of requests."
          }
        ],
        "summary": "Get Request List",
        "description": "Get a list of requests from ServiceDesk Plus Cloud that meet the criteria given in input_data parameter",
        "operationId": "GetRequestList",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetRequestList",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "properties": {
                "request": {
                  "$ref": "#/definitions/request"
                }
              }
            }
          }
        },
        "summary": "Create Request",
        "description": "Create new request in ServiceDesk Plus Cloud",
        "operationId": "CreateRequest",
        "parameters": [
          {
            "name": "serviceDeskInstance",
            "in": "path",
            "x-ms-summary": "Service Desk Instance",
            "required": true,
            "type": "string",
             "description": "The portal name in ServiceDesk Plus Cloud.",
            "x-ms-dynamic-values": {
              "operationId": "PortalList",
              "value-path": "name",
              "value-collection": "portals",
              "value-title": "name"
            },
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "input_data": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "type": "object",
                      "properties": {
                        "subject": {
                          "type": "string",
                          "description": "Subject of the request",
                          "title": "Subject"
                        },
                        "template": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Template name of the request",
                              "title": "Request Template"
                            }
                          }
                        },
                        "request_type": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The type of the request",
                              "title": "Request Type"
                            }
                          },
                          "description": "request_type"
                        },
                        "requester": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Requester's name in the request",
                              "title": "Requester Name"
                            },
                            "email_id": {
                              "type": "string",
                              "description": "Requester's email id in the request",
                              "title": "Requester Email ID"
                            }
                          },
                          "description": "requester"
                        },
                        "status": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Status of the request",
                              "title": "Status"
                            }
                          },
                          "description": "status"
                        },
                        "technician": {
                          "type": "object",
                          "properties": {
                            "email_id": {
                              "type": "string",
                              "description": "Technician Email address in the request",
                              "title": "Technician Email Address"
                            }
                          },
                          "description": "technician"
                        },
                        "site": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Site name of the request",
                              "title": "Site"
                            }
                          },
                          "description": "site"
                        },
                        "group": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Group of the request",
                              "title": "Group"
                            }
                          },
                          "description": "group"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description of the request",
                          "title": "Description"
                        },
                        "priority": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Priority of the request",
                              "title": "Priority"
                            }
                          },
                          "description": "priority"
                        },
                        "urgency": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Urgency of the request",
                              "title": "Urgency"
                            }
                          },
                          "description": "Urgency"
                        },
                        "impact": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Impact of the request",
                              "title": "Impact"
                            }
                          },
                          "description": "Impact"
                        },
                        "mode": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Mode of the request",
                              "title": "Mode"
                            }
                          },
                          "description": "Mode"
                        },
                        "category": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Category of the request",
                              "title": "Category"
                            }
                          },
                          "description": "Category"
                        },
                        "subcategory": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Subcategory of the request",
                              "title": "Sub Category"
                            }
                          },
                          "description": "Sub Category"
                        },
                        "item": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Item in the request",
                              "title": "Item"
                            }
                          },
                          "description": "Item"
                        },
                        "assets": {
                          "title": "Asset",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Assets to be associated with request"
                              }
                            }
                          },
                          "description": "Assets to be associated with request"
                        },
                        "udf_fields": {
                          "type": "string",
                          "description": "Additional fields(e.g.{\"udf_char1\":\"value\",\"udf_char2\":\"value\",..})",
                          "title": "Additional Fields"
                        }
                      },
                      "description": "request",
                      "required": [
                        "subject"
                      ]
                    }
                  },
                  "required": [
                    "request"
                  ],
                  "description": "request"
                }
              },
              "required": [
                "input_data"
              ]
            }
          }
        ]
      }
    },
    "/app/{serviceDeskInstance}/api/v3/requests/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "properties": {
                "request": {
                  "$ref": "#/definitions/request"
                }
              }
            }
          }
        },
        "summary": "Get Request Detail",
        "description": "Retrieve request details using the request ID from ServiceDesk Plus Cloud",
        "operationId": "GetRequestDetail",
		"x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetRequestDetail",
              "x-ms-require-user-confirmation": false
            }
          ]
        },
        "parameters": [
          {
            "name": "serviceDeskInstance",
            "in": "path",
            "x-ms-summary": "Service Desk Instance",
            "required": true,
            "type": "string",
            "description": "The portal name in ServiceDesk Plus Cloud.",
            "x-ms-dynamic-values": {
              "operationId": "PortalList",
              "value-path": "name",
              "value-collection": "portals",
              "value-title": "name"
            },
            "x-ms-url-encoding": "single"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Request Id",
            "type": "string",
            "description": "Id of the request to get detail.",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "properties": {
                "request": {
                  "$ref": "#/definitions/request"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "serviceDeskInstance",
            "in": "path",
            "required": true,
            "x-ms-summary": "Service Desk Instance",
            "type": "string",
            "description": "The portal name in ServiceDesk Plus Cloud.",
            "x-ms-dynamic-values": {
              "operationId": "PortalList",
              "value-path": "name",
              "value-collection": "portals",
              "value-title": "name"
            },
            "x-ms-url-encoding": "single"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Request ID",
            "type": "string",
            "description": "Request ID to update request",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "input_data": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "type": "object",
                      "properties": {
                        "subject": {
                          "type": "string",
                          "description": "Subject of the request",
                          "title": "Subject"
                        },
                        "template": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Template name of the request",
                              "title": "Request Template"
                            }
                          }
                        },
                        "request_type": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The type of the request",
                              "title": "Request Type"
                            }
                          },
                          "description": "request_type"
                        },
                        "requester": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Requester's name in the request",
                              "title": "Requester Name"
                            },
                            "email_id": {
                              "type": "string",
                              "description": "Requester's email id in the request",
                              "title": "Requester Email ID"
                            }
                          },
                          "description": "requester"
                        },
                        "status": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Status of the request",
                              "title": "Status"
                            }
                          },
                          "description": "status"
                        },
                        "technician": {
                          "type": "object",
                          "properties": {
                            "email_id": {
                              "type": "string",
                              "description": "Technician Email address in the request",
                              "title": "Technician Email Address"
                            }
                          },
                          "description": "technician"
                        },
                        "site": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Site name of the request",
                              "title": "Site"
                            }
                          },
                          "description": "site"
                        },
                        "group": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Group of the request",
                              "title": "Group"
                            }
                          },
                          "description": "group"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description of the request",
                          "title": "Description"
                        },
                        "priority": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Priority of the request",
                              "title": "Priority"
                            }
                          },
                          "description": "priority"
                        },
                        "urgency": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Urgency of the request",
                              "title": "Urgency"
                            }
                          },
                          "description": "Urgency"
                        },
                        "impact": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Impact of the request",
                              "title": "Impact"
                            }
                          },
                          "description": "Impact"
                        },
                        "mode": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Mode of the request",
                              "title": "Mode"
                            }
                          },
                          "description": "Mode"
                        },
                        "category": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Category of the request",
                              "title": "Category"
                            }
                          },
                          "description": "Category"
                        },
                        "subcategory": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Subcategory of the request",
                              "title": "Sub Category"
                            }
                          },
                          "description": "Sub Category"
                        },
                        "item": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Item in the request",
                              "title": "Item"
                            }
                          },
                          "description": "Item"
                        },
                        "assets": {
                          "title": "Asset",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Assets to be associated with request"
                              }
                            }
                          },
                          "description": "Assets to be associated with request"
                        },
                        "udf_fields": {
                          "type": "string",
                          "description": "Additional fields(e.g.{\"udf_char1\":\"value\",\"udf_char2\":\"value\",..})",
                          "title": "Additional Fields"
                        }
                      },
                      "description": "request"
                    }
                  },
                  "required": [
                    "request"
                  ],
                  "description": "request"
                }
              },
              "required": [
                "input_data"
              ]
            }
          }
        ],
        "summary": "Update Request",
        "operationId": "UpdateRequest",
        "description": "Update an existing request in ServiceDesk Plus Cloud"
      }
    },
    "/app/{serviceDeskInstance}/api/v3/changes": {
      "post": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "properties": {
                "change": {
                  "$ref": "#/definitions/change"
                }
              }
            }
          }
        },
        "summary": "Create Change",
        "description": "Create a new change in ServiceDesk Plus Cloud",
        "operationId": "CreateChange",
        "parameters": [
          {
            "name": "serviceDeskInstance",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Service Desk Instance",
             "description": "The portal name in ServiceDesk Plus Cloud.",
            "x-ms-dynamic-values": {
              "operationId": "PortalList",
              "value-path": "name",
              "value-collection": "portals",
              "value-title": "name"
            },
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "input_data": {
                  "type": "object",
                  "properties": {
                    "change": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "Title of the change",
                          "title": "Title"
                        },
                        "comment": {
                          "type": "string",
                          "description": "Status comment of the change",
                          "title": "Status Comment"
                        },
                        "template": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Template name of the change",
                              "title": "Change Template"
                            }
                          },
                          "description": "Change Template"
                        },
                        "change_requester": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Requester name of the change",
                              "title": "Change Requester"
                            }
                          },
                          "description": "Change Requester"
                        },
                        "site": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Site of the change",
                              "title": "Site"
                            }
                          },
                          "description": "Site"
                        },
                        "group": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Group of the change",
                              "title": "Group"
                            }
                          },
                          "description": "Group"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description of the change",
                          "title": "Description"
                        },
                        "change_owner": {
                          "type": "object",
                          "properties": {
                            "email_id": {
                              "type": "string",
                              "description": "Change owner's email address",
                              "title": "Change Owner Email Address"
                            }
                          },
                          "description": "Change Owner"
                        },
                        "change_type": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The type of the change",
                              "title": "Change Type"
                            }
                          },
                          "description": "Change Type"
                        },
                        "priority": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Priority of the change",
                              "title": "Priority"
                            }
                          },
                          "description": "Priority"
                        },
                        "urgency": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Urgency of the change",
                              "title": "Urgency"
                            }
                          },
                          "description": "Urgency"
                        },
                        "impact": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Impact of the change",
                              "title": "Impact"
                            }
                          },
                          "description": "Impact"
                        },
                        "risk": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Risk of the change",
                              "title": "Change Risk"
                            }
                          },
                          "description": "Change Risk"
                        },
                        "reason_for_change": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Reason for initiating change",
                              "title": "Reason for Change"
                            }
                          },
                          "description": "Reason for Change"
                        },
                        "category": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Category for the change",
                              "title": "Category"
                            }
                          },
                          "description": "Category"
                        },
                        "subcategory": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Subcategory for the change",
                              "title": "Sub Category"
                            }
                          },
                          "description": "Sub Category"
                        },
                        "item": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Item for the change",
                              "title": "Item"
                            }
                          },
                          "description": "Item"
                        },
                        "assets": {
                          "title": "Asset",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Assets to be associated with the change"
                              }
                            }
                          },
                          "description": "Assets to be associated with the change"
                        },
                        "udf_fields": {
                          "type": "string",
                          "description": "Additional fields(e.g. {\"udf_char1\":\"value\",\"udf_char2\":\"value\",..})",
                          "title": "Additional Fields"
                        }
                      },
                      "description": "request",
                      "required": [
                        "title"
                      ]
                    }
                  },
                  "required": [
                    "change"
                  ],
                  "description": "change"
                }
              },
              "required": [
                "input_data"
              ]
            }
          }
        ]
      }
    },
    "/app/{serviceDeskInstance}/api/v3/changes/{id}": {
      "put": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "properties": {
                "change": {
                  "$ref": "#/definitions/change"
                }
              }
            }
          }
        },
        "summary": "Update Change",
        "description": "Update an existing change in ServiceDesk Plus Cloud",
        "operationId": "UpdateChange",
        "parameters": [
          {
            "name": "serviceDeskInstance",
            "in": "path",
            "required": true,
            "x-ms-summary": "Service Desk Instance",
            "type": "string",
            "description": "The portal name in ServiceDesk Plus Cloud.",
            "x-ms-dynamic-values": {
              "operationId": "PortalList",
              "value-path": "name",
              "value-collection": "portals",
              "value-title": "name"
            },
            "x-ms-url-encoding": "single"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Change Id",
            "type": "string",
            "description": "Change ID to update Change",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "input_data": {
                  "type": "object",
                  "properties": {
                    "change": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "Title of the change",
                          "title": "Title"
                        },
                        "comment": {
                          "type": "string",
                          "description": "Status comment of the change",
                          "title": "Status Comment"
                        },
                        "template": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Template name of the change",
                              "title": "Change Template"
                            }
                          },
                          "description": "Change Template"
                        },
                        "change_requester": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Requester name of the change",
                              "title": "Change Requester"
                            }
                          },
                          "description": "Change Requester"
                        },
                        "site": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Site of the change",
                              "title": "Site"
                            }
                          },
                          "description": "Site"
                        },
                        "group": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Group of the change",
                              "title": "Group"
                            }
                          },
                          "description": "Group"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description of the change",
                          "title": "Description"
                        },
                        "change_owner": {
                          "type": "object",
                          "properties": {
                            "email_id": {
                              "type": "string",
                              "description": "Change owner's email address",
                              "title": "Change Owner Email Address"
                            }
                          },
                          "description": "Change Owner"
                        },
                        "change_type": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The type of the change",
                              "title": "Change Type"
                            }
                          },
                          "description": "Change Type"
                        },
                        "priority": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Priority of the change",
                              "title": "Priority"
                            }
                          },
                          "description": "Priority"
                        },
                        "urgency": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Urgency of the change",
                              "title": "Urgency"
                            }
                          },
                          "description": "Urgency"
                        },
                        "impact": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Impact of the change",
                              "title": "Impact"
                            }
                          },
                          "description": "Impact"
                        },
                        "risk": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Risk of the change",
                              "title": "Change Risk"
                            }
                          },
                          "description": "Change Risk"
                        },
                        "reason_for_change": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Reason for initiating change",
                              "title": "Reason for Change"
                            }
                          },
                          "description": "Reason for Change"
                        },
                        "category": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Category for the change",
                              "title": "Category"
                            }
                          },
                          "description": "Category"
                        },
                        "subcategory": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Subcategory for the change",
                              "title": "Sub Category"
                            }
                          },
                          "description": "Sub Category"
                        },
                        "item": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Item for the change",
                              "title": "Item"
                            }
                          },
                          "description": "Item"
                        },
                        "assets": {
                          "title": "Asset",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Assets to be associated with the change"
                              }
                            }
                          },
                          "description": "Assets to be associated with the change"
                        },
                        "udf_fields": {
                          "type": "string",
                          "description": "Additional fields(e.g. {\"udf_char1\":\"value\",\"udf_char2\":\"value\",..})",
                          "title": "Additional Fields"
                        }
                      },
                      "description": "request"
                    }
                  },
                  "required": [
                    "change"
                  ],
                  "description": "change"
                }
              },
              "required": [
                "input_data"
              ]
            }
          }
        ]
      }
    },
    "/api/v3/portals": {
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "properties": {
                "portals": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "owner": {
                        "type": "object",
                        "properties": {
                          "owner_name": {
                            "type": "string",
                            "description": "owner_name"
                          },
                          "email": {
                            "type": "string",
                            "description": "email"
                          }
                        },
                        "description": "owner"
                      },
                      "start_day_of_week": {
                        "type": "string",
                        "description": "start_day_of_week"
                      },
                      "department_type": {
                        "type": "string",
                        "description": "department_type"
                      },
                      "logo_url": {
                        "type": "string",
                        "description": "logo_url"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "timezone"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "display_name": {
                        "type": "string",
                        "description": "display_name"
                      },
                      "portal_type": {
                        "type": "string",
                        "description": "portal_type"
                      },
                      "is_default": {
                        "type": "boolean",
                        "description": "is_default"
                      },
                      "scope": {
                        "type": "string",
                        "description": "scope"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      }
                    }
                  },
                  "description": "portals"
                }
              }
            }
          }
        },
        "summary": "Portal List",
        "description": "get the list of portals in ServiceDesk Plus Cloud",
        "operationId": "PortalList",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/app/{serviceDeskInstance}/{urlPath}": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
				  "response_status": {
					"type": "object",
					"properties": {
					  "status_code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "status_code"
                    },
                    "status": {
                      "type": "string",
                      "description": "status"
                    }
                  },
				  "description": "response_status"
				}
			  }
            }
          }
        },
        "operationId": "InvokeAPI",
        "summary": "Invoke API",
        "description": "Make API calls to perform an action in ServiceDesk Plus Cloud",
        "parameters": [
          {
            "name": "serviceDeskInstance",
            "in": "path",
            "x-ms-summary": "Service Desk Instance",
            "required": true,
            "type": "string",
            "description": "The portal name in ServiceDesk Plus Cloud.",
            "x-ms-dynamic-values": {
              "operationId": "PortalList",
              "value-path": "name",
              "value-collection": "portals",
              "value-title": "name"
            },
            "x-ms-url-encoding": "single"
          },
          {
            "name": "urlPath",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "URL Path",
            "description": "The url path of the API call"
          },
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "GET",
              "POST",
              "PUT"
            ],
            "description": "Method to be used in API call",
            "x-ms-summary": "Method"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "title": "Body",
                "description": "Body content of the API call."
              }
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
	{
		"propertyName": "Website",
        "propertyValue": "https://www.manageengine.com/products/service-desk/cloud/"
	},
    {
		"propertyName": "Privacy policy",
        "propertyValue": "https://www.manageengine.com/privacy.html"
    },
    {
        "propertyName": "Categories",
        "propertyValue": "Collaboration;Productivity"
    }
  ],
  "definitions": {
    "request": {
      "type": "object",
      "title": "request",
      "properties": {
        "closure_comments": {
          "description": "closure_comments",
          "type": "string",
          "title": "closure_comments"
        },
        "resolution": {
          "description": "resolution",
          "type": "object",
          "title": "resolution"
        },
        "configuration_items": {
          "$ref": "#/definitions/partial_configuration_item"
        },
        "cancellation_requested": {
          "description": "cancellation_requested",
          "type": "boolean",
          "title": "cancellation_requested"
        },
        "is_trashed": {
          "description": "is_trashed",
          "type": "boolean",
          "title": "is_trashed"
        },
        "id": {
          "description": "id",
          "type": "string",
          "title": "id"
        },
        "recent_item": {
          "$ref": "#/definitions/partial_recent_item"
        },
        "tasks": {
          "$ref": "#/definitions/partial_task"
        },
        "requester": {
          "$ref": "#/definitions/partial_user"
        },
        "item": {
          "$ref": "#/definitions/partial_item"
        },
        "impact": {
          "$ref": "#/definitions/partial_impact"
        },
        "update_reason": {
          "description": "update_reason",
          "type": "string",
          "title": "update_reason"
        },
        "sla": {
          "$ref": "#/definitions/partial_sla"
        },
        "priority": {
          "$ref": "#/definitions/partial_priority"
        },
        "tags": {
          "$ref": "#/definitions/partial_tag"
        },
        "is_escalated": {
          "description": "is_escalated",
          "type": "boolean",
          "title": "is_escalated"
        },
        "has_notes": {
          "description": "has_notes",
          "type": "boolean",
          "title": "has_notes"
        },
        "udf_fields": {
          "description": "udf_fields",
          "type": "object",
          "title": "udf_fields"
        },
        "status_change_comments": {
          "description": "status_change_comments",
          "type": "string",
          "title": "status_change_comments"
        },
        "notifications": {
          "$ref": "#/definitions/partial_notification"
        },
        "status": {
          "$ref": "#/definitions/partial_status"
        },
        "template": {
          "$ref": "#/definitions/partial_request_template"
        },
        "checklists": {
          "$ref": "#/definitions/partial_checklist"
        },
        "attachments": {
          "$ref": "#/definitions/partial_request_attachment"
        },
        "request_type": {
          "$ref": "#/definitions/partial_request_type"
        },
        "is_service_request": {
          "description": "is_service_request",
          "type": "boolean",
          "title": "is_service_request"
        },
        "deleted_assets": {
          "description": "deleted_assets",
          "type": "array",
          "title": "deleted_assets",
          "items": {
            "type": "string"
          }
        },
        "has_request_initiated_change": {
          "description": "has_request_initiated_change",
          "type": "boolean",
          "title": "has_request_initiated_change"
        },
        "worklogs": {
          "$ref": "#/definitions/partial_worklog"
        },
        "editor_status": {
          "format": "int32",
          "description": "editor_status",
          "type": "integer",
          "title": "editor_status"
        },
        "editor": {
          "$ref": "#/definitions/partial_user"
        },
        "technician_assessment": {
          "$ref": "#/definitions/partial_technician_assessment"
        },
        "has_attachments": {
          "description": "has_attachments",
          "type": "boolean",
          "title": "has_attachments"
        },
        "has_linked_requests": {
          "description": "has_linked_requests",
          "type": "boolean",
          "title": "has_linked_requests"
        },
        "message_id": {
          "description": "message_id",
          "type": "string",
          "title": "message_id"
        },
        "has_problem": {
          "description": "has_problem",
          "type": "boolean",
          "title": "has_problem"
        },
        "is_fcr": {
          "description": "is_fcr",
          "type": "boolean",
          "title": "is_fcr"
        },
        "sla_change_comments": {
          "description": "sla_change_comments",
          "type": "string",
          "title": "sla_change_comments"
        },
        "site": {
          "$ref": "#/definitions/partial_site"
        },
        "email_bcc": {
          "description": "email_bcc",
          "type": "array",
          "title": "email_bcc",
          "items": {
            "type": "string"
          }
        },
        "reminders": {
          "$ref": "#/definitions/partial_reminder"
        },
        "notes": {
          "$ref": "#/definitions/partial_request_note"
        },
        "subject": {
          "description": "subject",
          "type": "string",
          "title": "subject"
        },
        "closure_code": {
          "$ref": "#/definitions/partial_closure_code"
        },
        "org_roles": {
          "$ref": "#/definitions/partial_org_role"
        },
        "project": {
          "$ref": "#/definitions/partial_project"
        },
        "task_dependencies": {
          "$ref": "#/definitions/partial_task_dependency"
        },
        "linked_to_request": {
          "description": "linked_to_request",
          "type": "object",
          "title": "linked_to_request"
        },
        "space": {
          "$ref": "#/definitions/partial_space_instance"
        },
        "mode": {
          "$ref": "#/definitions/partial_mode"
        },
        "lifecycle": {
          "$ref": "#/definitions/partial_lifecycle"
        },
        "is_read": {
          "description": "is_read",
          "type": "boolean",
          "title": "is_read"
        },
        "assets": {
          "$ref": "#/definitions/partial_asset"
        },
        "entity_instance_properties": {
          "$ref": "#/definitions/partial_entity_instance_property"
        },
        "has_change_initiated_request": {
          "description": "has_change_initiated_request",
          "type": "boolean",
          "title": "has_change_initiated_request"
        },
        "group": {
          "$ref": "#/definitions/partial_group"
        },
        "email_to": {
          "description": "email_to",
          "type": "array",
          "title": "email_to",
          "items": {
            "type": "string"
          }
        },
        "held_by": {
          "$ref": "#/definitions/partial_technician"
        },
        "cancel_flag_comments": {
          "$ref": "#/definitions/partial_action_comment"
        },
        "level": {
          "$ref": "#/definitions/partial_level"
        },
        "notification_templates": {
          "$ref": "#/definitions/partial_notification_template"
        },
        "on_behalf_of": {
          "$ref": "#/definitions/partial_user"
        },
        "approval_status": {
          "$ref": "#/definitions/partial_approval_status"
        },
        "service_category": {
          "$ref": "#/definitions/partial_service_category"
        },
        "add_template_checklists": {
          "description": "add_template_checklists",
          "type": "boolean",
          "title": "add_template_checklists"
        },
        "created_by": {
          "$ref": "#/definitions/partial_user"
        },
        "users": {
          "$ref": "#/definitions/partial_user"
        },
        "impact_details": {
          "description": "impact_details",
          "type": "string",
          "title": "impact_details"
        },
        "subcategory": {
          "$ref": "#/definitions/partial_subcategory"
        },
        "email_cc": {
          "description": "email_cc",
          "type": "array",
          "title": "email_cc",
          "items": {
            "type": "string"
          }
        },
        "onhold_scheduler": {
          "description": "onhold_scheduler",
          "type": "object",
          "title": "onhold_scheduler"
        },
        "requester_ack_comments": {
          "description": "requester_ack_comments",
          "type": "string",
          "title": "requester_ack_comments"
        },
        "request": {
          "$ref": "#/definitions/partial_request"
        },
        "email_ids_to_notify": {
          "description": "email_ids_to_notify",
          "type": "array",
          "title": "email_ids_to_notify",
          "items": {
            "type": "string"
          }
        },
        "worklog_timers": {
          "$ref": "#/definitions/partial_worklog_timer"
        },
        "completed_by_denial": {
          "description": "completed_by_denial",
          "type": "boolean",
          "title": "completed_by_denial"
        },
        "display_id": {
          "description": "display_id",
          "type": "string",
          "title": "display_id"
        },
        "status_assessment": {
          "$ref": "#/definitions/partial_status_assessment"
        },
        "time_elapsed": {
          "description": "time_elapsed",
          "type": "string",
          "title": "time_elapsed"
        },
        "notification_status": {
          "description": "notification_status",
          "type": "string",
          "title": "notification_status"
        },
        "has_purchase_orders": {
          "description": "has_purchase_orders",
          "type": "boolean",
          "title": "has_purchase_orders"
        },
        "description": {
          "description": "description",
          "type": "string",
          "title": "description"
        },
        "delete_pre_template_checklists": {
          "description": "delete_pre_template_checklists",
          "type": "boolean",
          "title": "delete_pre_template_checklists"
        },
        "closure_info": {
          "description": "closure_info",
          "type": "object",
          "title": "closure_info"
        },
        "conversations": {
          "$ref": "#/definitions/partial_conversation"
        },
        "content": {
          "description": "content",
          "type": "string",
          "title": "content"
        },
        "requester_ack_resolution": {
          "description": "requester_ack_resolution",
          "type": "boolean",
          "title": "requester_ack_resolution"
        },
        "urgency": {
          "$ref": "#/definitions/partial_urgency"
        },
        "group_assessment": {
          "$ref": "#/definitions/partial_group_assessment"
        },
        "request_template_task_ids": {
          "$ref": "#/definitions/partial_task"
        },
        "department": {
          "$ref": "#/definitions/partial_department"
        },
        "change_to_status": {
          "$ref": "#/definitions/partial_status"
        },
        "is_reopened": {
          "description": "is_reopened",
          "type": "boolean",
          "title": "is_reopened"
        },
        "summary": {
          "$ref": "#/definitions/partial_request_summary"
        },
        "has_draft": {
          "description": "has_draft",
          "type": "boolean",
          "title": "has_draft"
        },
        "comments": {
          "description": "comments",
          "type": "string",
          "title": "comments"
        },
        "subscribe": {
          "$ref": "#/definitions/partial_event_subscription"
        },
        "approval_levels": {
          "$ref": "#/definitions/partial_approval_level"
        },
        "fafr": {
          "$ref": "#/definitions/partial_request_fafr"
        },
        "submitted_by": {
          "$ref": "#/definitions/partial_user"
        },
        "resources": {
          "description": "resources",
          "type": "object",
          "title": "resources"
        },
        "is_overdue": {
          "description": "is_overdue",
          "type": "boolean",
          "title": "is_overdue"
        },
        "technician": {
          "$ref": "#/definitions/partial_technician"
        },
        "drafts": {
          "$ref": "#/definitions/partial_draft"
        },
        "delete_pre_template_tasks": {
          "description": "delete_pre_template_tasks",
          "type": "boolean",
          "title": "delete_pre_template_tasks"
        },
        "has_project": {
          "description": "has_project",
          "type": "boolean",
          "title": "has_project"
        },
        "is_first_response_overdue": {
          "description": "is_first_response_overdue",
          "type": "boolean",
          "title": "is_first_response_overdue"
        },
        "unreplied_count": {
          "description": "unreplied_count",
          "format": "int32",
          "type": "integer",
          "title": "unreplied_count"
        },
        "service_approvers": {
          "description": "service_approvers",
          "type": "object",
          "title": "service_approvers"
        },
        "category": {
          "$ref": "#/definitions/partial_category"
        },
        "maintenance": {
          "$ref": "#/definitions/partial_pm_task"
        }
      }
    },
    "change": {
      "type": "object",
      "title": "change",
      "properties": {
        "reminders": {
          "$ref": "#/definitions/partial_reminder"
        },
        "close_details_description": {
          "description": "close_details_description",
          "type": "string",
          "title": "close_details_description"
        },
        "uat_details_updated_by": {
          "$ref": "#/definitions/partial_user"
        },
        "notes": {
          "$ref": "#/definitions/partial_change_note"
        },
        "closure_code": {
          "$ref": "#/definitions/partial_closure_code"
        },
        "emergency": {
          "description": "emergency",
          "type": "boolean",
          "title": "emergency"
        },
        "impact_details_updated_by": {
          "$ref": "#/definitions/partial_user"
        },
        "change_type": {
          "$ref": "#/definitions/partial_change_type"
        },
        "task_dependencies": {
          "$ref": "#/definitions/partial_change_task_dependency"
        },
        "review_details_updated_by": {
          "$ref": "#/definitions/partial_user"
        },
        "assets": {
          "$ref": "#/definitions/partial_asset"
        },
        "status_comments": {
          "$ref": "#/definitions/partial_change_status_comment"
        },
        "configuration_items": {
          "$ref": "#/definitions/partial_configuration_item"
        },
        "workflow_instance_details": {
          "$ref": "#/definitions/partial_workflow_instance"
        },
        "entity_instance_properties": {
          "$ref": "#/definitions/partial_entity_instance_property"
        },
        "id": {
          "description": "id",
          "type": "string",
          "title": "id"
        },
        "recent_item": {
          "$ref": "#/definitions/partial_recent_item"
        },
        "change_requester": {
          "$ref": "#/definitions/partial_user"
        },
        "tasks": {
          "$ref": "#/definitions/partial_change_task"
        },
        "group": {
          "$ref": "#/definitions/partial_group"
        },
        "item": {
          "$ref": "#/definitions/partial_item"
        },
        "workflow": {
          "$ref": "#/definitions/partial_workflow"
        },
        "approval_status": {
          "$ref": "#/definitions/partial_approval_status"
        },
        "impact": {
          "$ref": "#/definitions/partial_impact"
        },
        "priority": {
          "$ref": "#/definitions/partial_priority"
        },
        "impact_details_description": {
          "description": "impact_details_description",
          "type": "string",
          "title": "impact_details_description"
        },
        "review_details_description": {
          "description": "review_details_description",
          "type": "string",
          "title": "review_details_description"
        },
        "reason_for_change": {
          "$ref": "#/definitions/partial_reason_for_change"
        },
        "uat_details_description": {
          "description": "uat_details_description",
          "type": "string",
          "title": "uat_details_description"
        },
        "udf_fields": {
          "description": "udf_fields",
          "type": "object",
          "title": "udf_fields"
        },
        "subcategory": {
          "$ref": "#/definitions/partial_subcategory"
        },
        "checklist_updated_by": {
          "$ref": "#/definitions/partial_user"
        },
        "is_freeze_conflicted": {
          "description": "is_freeze_conflicted",
          "type": "boolean",
          "title": "is_freeze_conflicted"
        },
        "notifications": {
          "$ref": "#/definitions/partial_change_notification"
        },
        "status": {
          "$ref": "#/definitions/partial_change_status"
        },
        "release_details_updated_by": {
          "$ref": "#/definitions/partial_user"
        },
        "template": {
          "$ref": "#/definitions/partial_change_template"
        },
        "has_release_association": {
          "description": "has_release_association",
          "type": "boolean",
          "title": "has_release_association"
        },
        "attachments": {
          "$ref": "#/definitions/partial_change_attachment"
        },
        "release_details_description": {
          "description": "release_details_description",
          "type": "string",
          "title": "release_details_description"
        },
        "roles": {
          "$ref": "#/definitions/partial_change_to_change_role"
        },
        "close_details_updated_by": {
          "$ref": "#/definitions/partial_user"
        },
        "downtimes": {
          "$ref": "#/definitions/partial_downtime"
        },
        "description": {
          "description": "description",
          "type": "string",
          "title": "description"
        },
        "title": {
          "description": "title",
          "type": "string",
          "title": "title"
        },
        "conversations": {
          "$ref": "#/definitions/partial_conversation"
        },
        "checklist_description": {
          "description": "checklist_description",
          "type": "string",
          "title": "checklist_description"
        },
        "change_owner": {
          "$ref": "#/definitions/partial_technician"
        },
        "urgency": {
          "$ref": "#/definitions/partial_urgency"
        },
        "roll_out_plan_updated_by": {
          "$ref": "#/definitions/partial_user"
        },
        "freeze_conflicts": {
          "$ref": "#/definitions/partial_schedule_conflict"
        },
        "worklogs": {
          "$ref": "#/definitions/partial_change_worklog"
        },
        "summary": {
          "$ref": "#/definitions/partial_change_summary"
        },
        "back_out_plan_updated_by": {
          "$ref": "#/definitions/partial_user"
        },
        "subscribe": {
          "$ref": "#/definitions/partial_event_subscription"
        },
        "change_manager": {
          "$ref": "#/definitions/partial_technician"
        },
        "approval_levels": {
          "$ref": "#/definitions/partial_approval_level"
        },
        "fafr": {
          "$ref": "#/definitions/partial_change_fafr"
        },
        "is_freezed": {
          "description": "is_freezed",
          "type": "boolean",
          "title": "is_freezed"
        },
        "retrospective": {
          "description": "retrospective",
          "type": "boolean",
          "title": "retrospective"
        },
        "drafts": {
          "$ref": "#/definitions/partial_draft"
        },
        "services": {
          "$ref": "#/definitions/partial_service_category"
        },
        "roll_out_plan_description": {
          "description": "roll_out_plan_description",
          "type": "string",
          "title": "roll_out_plan_description"
        },
        "delete_pre_template_tasks": {
          "description": "delete_pre_template_tasks",
          "type": "boolean",
          "title": "delete_pre_template_tasks"
        },
        "site": {
          "$ref": "#/definitions/partial_site"
        },
        "stage": {
          "$ref": "#/definitions/partial_change_stage"
        },
        "risk": {
          "$ref": "#/definitions/partial_change_risk"
        },
        "comment": {
          "description": "comment",
          "type": "string",
          "title": "comment"
        },
        "category": {
          "$ref": "#/definitions/partial_category"
        },
        "back_out_plan_description": {
          "description": "back_out_plan_description",
          "type": "string",
          "title": "back_out_plan_description"
        },
        "notes_present": {
          "description": "notes_present",
          "type": "boolean",
          "title": "notes_present"
        }
      }
    },
    "partial_urgency": {
      "type": "object",
      "title": "urgency",
      "properties": {
        "name": {
          "description": "urgency -> name",
          "type": "string",
          "title": "name"
        },
        "id": {
          "description": "urgency -> id",
          "type": "string",
          "title": "id"
        }
      }
    },
    "partial_group": {
      "type": "object",
      "title": "group",
      "properties": {
        "deleted": {
          "description": "group -> deleted",
          "type": "boolean",
          "title": "deleted"
        },
        "name": {
          "description": "group -> name",
          "type": "string",
          "title": "name"
        },
        "id": {
          "description": "group -> id",
          "type": "string",
          "title": "id"
        }
      }
    },
    "partial_worklog": {
      "type": "array",
      "title": "worklog",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "worklog -> id",
            "type": "string",
            "title": "id"
          }
        }
      }
    },
    "partial_impact": {
      "type": "object",
      "title": "impact",
      "properties": {
        "name": {
          "description": "impact -> name",
          "type": "string",
          "title": "name"
        },
        "id": {
          "description": "impact -> id",
          "type": "string",
          "title": "id"
        }
      }
    },
    "partial_category": {
      "type": "object",
      "title": "category",
      "properties": {
        "deleted": {
          "description": "category -> deleted",
          "type": "boolean",
          "title": "deleted"
        },
        "name": {
          "description": "category -> name",
          "type": "string",
          "title": "name"
        },
        "id": {
          "description": "category -> id",
          "type": "string",
          "title": "id"
        }
      }
    },
    "partial_closure_code": {
      "type": "object",
      "title": "closure_code",
      "properties": {
        "name": {
          "description": "closure_code -> name",
          "type": "string",
          "title": "name"
        },
        "id": {
          "description": "closure_code -> id",
          "type": "string",
          "title": "id"
        }
      }
    },
    "partial_change_type": {
      "type": "object",
      "title": "change_type",
      "properties": {
        "color": {
          "description": "change_type -> color",
          "type": "string",
          "title": "color"
        },
        "pre_approved": {
          "description": "change_type -> pre_approved",
          "type": "boolean",
          "title": "pre_approved"
        },
        "name": {
          "description": "change_type -> name",
          "type": "string",
          "title": "name"
        },
        "id": {
          "description": "change_type -> id",
          "type": "string",
          "title": "id"
        }
      }
    },
    "partial_notification": {
      "type": "array",
      "title": "notification",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "notification -> id",
            "type": "string",
            "title": "id"
          }
        }
      }
    },
    "partial_notification_template": {
      "type": "object",
      "title": "notification_template",
      "properties": {
        "id": {
          "description": "notification_template -> id",
          "type": "string",
          "title": "id"
        }
      }
    },
    "partial_worklog_timer": {
      "type": "array",
      "title": "worklog_timer",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "worklog_timer -> id",
            "type": "string",
            "title": "id"
          }
        }
      }
    },
    "partial_checklist": {
      "type": "array",
      "title": "checklist",
      "items": {
        "type": "object",
        "properties": {
          "name": {
            "description": "checklist -> name",
            "type": "string",
            "title": "name"
          },
          "id": {
            "description": "checklist -> id",
            "type": "string",
            "title": "id"
          }
        }
      }
    },
    "partial_service_category": {
      "type": "object",
      "title": "service_category",
      "properties": {
        "inactive": {
          "description": "service_category -> inactive",
          "type": "boolean",
          "title": "inactive"
        },
        "name": {
          "description": "service_category -> name",
          "type": "string",
          "title": "name"
        },
        "id": {
          "description": "service_category -> id",
          "type": "string",
          "title": "id"
        },
        "sort_index": {
          "format": "int32",
          "description": "service_category -> sort_index",
          "type": "integer",
          "title": "sort_index"
        }
      }
    },
    "partial_recent_item": {
      "type": "array",
      "title": "recent_item",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "recent_item -> id",
            "type": "string",
            "title": "id"
          }
        }
      }
    },
    "partial_change_task_dependency": {
      "type": "array",
      "title": "change_task_dependency",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "change_task_dependency -> id",
            "type": "string",
            "title": "id"
          }
        }
      }
    },
    "partial_action_comment": {
      "type": "object",
      "title": "action_comment",
      "properties": {
        "comment": {
          "description": "action_comment -> comment",
          "type": "string",
          "title": "comment"
        },
        "id": {
          "description": "action_comment -> id",
          "type": "string",
          "title": "id"
        }
      }
    },
    "partial_conversation": {
      "type": "array",
      "title": "conversation",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "conversation -> id",
            "type": "string",
            "title": "id"
          }
        }
      }
    },
    "partial_change_status": {
      "type": "object",
      "title": "change_status",
      "properties": {
        "internal_name": {
          "description": "change_status -> internal_name",
          "type": "string",
          "title": "internal_name"
        },
        "name": {
          "description": "change_status -> name",
          "type": "string",
          "title": "name"
        },
        "id": {
          "description": "change_status -> id",
          "type": "string",
          "title": "id"
        }
      }
    },
    "partial_status_assessment": {
      "type": "array",
      "title": "status_assessment",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "status_assessment -> id",
            "type": "string",
            "title": "id"
          }
        }
      }
    },
    "partial_sla": {
      "type": "object",
      "title": "sla",
      "properties": {
        "resolution_due_by_minutes": {
          "format": "int32",
          "description": "sla -> resolution_due_by_minutes",
          "type": "integer",
          "title": "resolution_due_by_minutes"
        },
        "inactive": {
          "description": "sla -> inactive",
          "type": "boolean",
          "title": "inactive"
        },
        "name": {
          "description": "sla -> name",
          "type": "string",
          "title": "name"
        },
        "resolution_due_by_hours": {
          "format": "int32",
          "description": "sla -> resolution_due_by_hours",
          "type": "integer",
          "title": "resolution_due_by_hours"
        },
        "id": {
          "description": "sla -> id",
          "type": "string",
          "title": "id"
        },
        "is_service_sla": {
          "description": "sla -> is_service_sla",
          "type": "boolean",
          "title": "is_service_sla"
        },
        "resolution_due_by_days": {
          "format": "int32",
          "description": "sla -> resolution_due_by_days",
          "type": "integer",
          "title": "resolution_due_by_days"
        }
      }
    },
    "partial_change_fafr": {
      "type": "object",
      "title": "change_fafr",
      "properties": {
        "name": {
          "description": "change_fafr -> name",
          "type": "string",
          "title": "name"
        },
        "id": {
          "description": "change_fafr -> id",
          "type": "string",
          "title": "id"
        }
      }
    },
    "partial_user": {
      "type": "object",
      "title": "user",
      "properties": {
        "email_id": {
          "description": "user -> email_id",
          "type": "string",
          "title": "email_id"
        },
        "is_technician": {
          "description": "user -> is_technician",
          "type": "boolean",
          "title": "is_technician"
        },
        "sms_mail": {
          "description": "user -> sms_mail",
          "type": "string",
          "title": "sms_mail"
        },
        "mobile": {
          "description": "user -> mobile",
          "type": "string",
          "title": "mobile"
        },
        "last_name": {
          "description": "user -> last_name",
          "type": "string",
          "title": "last_name"
        },
        "user_scope": {
          "description": "user -> user_scope",
          "type": "string",
          "title": "user_scope"
        },
        "sms_mail_id": {
          "description": "user -> sms_mail_id",
          "type": "string",
          "title": "sms_mail_id"
        },
        "phone": {
          "description": "user -> phone",
          "type": "string",
          "title": "phone"
        },
        "employee_id": {
          "description": "user -> employee_id",
          "type": "string",
          "title": "employee_id"
        },
        "name": {
          "description": "user -> name",
          "type": "string",
          "title": "name"
        },
        "id": {
          "description": "user -> id",
          "type": "string",
          "title": "id"
        },
        "photo_url": {
          "description": "user -> photo_url",
          "type": "string",
          "title": "photo_url"
        },
        "is_vip_user": {
          "description": "user -> is_vip_user",
          "type": "boolean",
          "title": "is_vip_user"
        },
        "first_name": {
          "description": "user -> first_name",
          "type": "string",
          "title": "first_name"
        },
        "job_title": {
          "description": "user -> job_title",
          "type": "string",
          "title": "job_title"
        }
      }
    },
    "partial_lifecycle": {
      "type": "object",
      "title": "lifecycle",
      "properties": {
        "inactive": {
          "description": "lifecycle -> inactive",
          "type": "boolean",
          "title": "inactive"
        },
        "is_published": {
          "description": "lifecycle -> is_published",
          "type": "boolean",
          "title": "is_published"
        },
        "name": {
          "description": "lifecycle -> name",
          "type": "string",
          "title": "name"
        },
        "id": {
          "description": "lifecycle -> id",
          "type": "string",
          "title": "id"
        }
      }
    },
    "partial_space_instance": {
      "type": "array",
      "title": "space_instance",
      "items": {
        "type": "object",
        "properties": {
          "name": {
            "description": "space_instance -> name",
            "type": "string",
            "title": "name"
          },
          "id": {
            "description": "space_instance -> id",
            "type": "string",
            "title": "id"
          }
        }
      }
    },
    "partial_task_dependency": {
      "type": "array",
      "title": "task_dependency",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "task_dependency -> id",
            "type": "string",
            "title": "id"
          }
        }
      }
    },
    "partial_project": {
      "type": "object",
      "title": "project",
      "properties": {
        "project_code": {
          "description": "project -> project_code",
          "type": "string",
          "title": "project_code"
        },
        "id": {
          "description": "project -> id",
          "type": "string",
          "title": "id"
        },
        "title": {
          "description": "project -> title",
          "type": "string",
          "title": "title"
        }
      }
    },
    "partial_workflow": {
      "type": "object",
      "title": "workflow",
      "properties": {
        "validated": {
          "description": "workflow -> validated",
          "type": "boolean",
          "title": "validated"
        },
        "name": {
          "description": "workflow -> name",
          "type": "string",
          "title": "name"
        },
        "id": {
          "description": "workflow -> id",
          "type": "string",
          "title": "id"
        },
        "allowed_stages_config": {
          "description": "workflow -> allowed_stages_config",
          "type": "string",
          "title": "allowed_stages_config"
        }
      }
    },
    "partial_priority": {
      "type": "object",
      "title": "priority",
      "properties": {
        "color": {
          "description": "priority -> color",
          "type": "string",
          "title": "color"
        },
        "name": {
          "description": "priority -> name",
          "type": "string",
          "title": "name"
        },
        "id": {
          "description": "priority -> id",
          "type": "string",
          "title": "id"
        }
      }
    },
    "partial_request_summary": {
      "type": "object",
      "title": "request_summary",
      "properties": {
        "link_request_count": {
          "description": "request_summary -> link_request_count",
          "type": "string",
          "title": "link_request_count"
        },
        "technician_reply_count": {
          "description": "request_summary -> technician_reply_count",
          "type": "string",
          "title": "technician_reply_count"
        },
        "checklist_not_completed_count": {
          "description": "request_summary -> checklist_not_completed_count",
          "type": "string",
          "title": "checklist_not_completed_count"
        },
        "fixed_in_releases": {
          "description": "request_summary -> fixed_in_releases",
          "type": "string",
          "title": "fixed_in_releases"
        },
        "link_request_pending_count": {
          "description": "request_summary -> link_request_pending_count",
          "type": "string",
          "title": "link_request_pending_count"
        },
        "conversation_count": {
          "description": "request_summary -> conversation_count",
          "type": "string",
          "title": "conversation_count"
        },
        "my_task_pending_count": {
          "description": "request_summary -> my_task_pending_count",
          "type": "string",
          "title": "my_task_pending_count"
        },
        "reminder_count": {
          "description": "request_summary -> reminder_count",
          "type": "string",
          "title": "reminder_count"
        },
        "purchase_order_count": {
          "description": "request_summary -> purchase_order_count",
          "type": "string",
          "title": "purchase_order_count"
        },
        "request_initiated_change_count": {
          "description": "request_summary -> request_initiated_change_count",
          "type": "string",
          "title": "request_initiated_change_count"
        },
        "checklist_total_count": {
          "description": "request_summary -> checklist_total_count",
          "type": "string",
          "title": "checklist_total_count"
        },
        "requester_reply_count": {
          "description": "request_summary -> requester_reply_count",
          "type": "string",
          "title": "requester_reply_count"
        },
        "trashed_caused_by_releases": {
          "description": "request_summary -> trashed_caused_by_releases",
          "type": "string",
          "title": "trashed_caused_by_releases"
        },
        "invoked_contract_count": {
          "description": "request_summary -> invoked_contract_count",
          "type": "string",
          "title": "invoked_contract_count"
        },
        "worklog_timer_count": {
          "format": "int32",
          "description": "request_summary -> worklog_timer_count",
          "type": "integer",
          "title": "worklog_timer_count"
        },
        "jira_issue_count": {
          "description": "request_summary -> jira_issue_count",
          "type": "string",
          "title": "jira_issue_count"
        },
        "note_count": {
          "description": "request_summary -> note_count",
          "type": "string",
          "title": "note_count"
        },
        "approval_pending_count": {
          "description": "request_summary -> approval_pending_count",
          "type": "string",
          "title": "approval_pending_count"
        },
        "approval_completed_count": {
          "description": "request_summary -> approval_completed_count",
          "type": "string",
          "title": "approval_completed_count"
        },
        "task_completed_count": {
          "description": "request_summary -> task_completed_count",
          "type": "string",
          "title": "task_completed_count"
        },
        "draft_count": {
          "description": "request_summary -> draft_count",
          "type": "string",
          "title": "draft_count"
        },
        "unreplied_count": {
          "description": "request_summary -> unreplied_count",
          "format": "int32",
          "type": "integer",
          "title": "unreplied_count"
        },
        "my_timer_enabled": {
          "description": "request_summary -> my_timer_enabled",
          "type": "boolean",
          "title": "my_timer_enabled"
        },
        "task_pending_count": {
          "description": "request_summary -> task_pending_count",
          "type": "string",
          "title": "task_pending_count"
        },
        "caused_by_releases": {
          "description": "request_summary -> caused_by_releases",
          "type": "string",
          "title": "caused_by_releases"
        },
        "worklog_count": {
          "description": "request_summary -> worklog_count",
          "type": "string",
          "title": "worklog_count"
        },
        "attachment_count": {
          "description": "request_summary -> attachment_count",
          "type": "string",
          "title": "attachment_count"
        },
        "my_task_completed_count": {
          "description": "request_summary -> my_task_completed_count",
          "type": "string",
          "title": "my_task_completed_count"
        }
      }
    },
    "partial_tag": {
      "type": "array",
      "title": "tag",
      "items": {
        "type": "object",
        "properties": {
          "name": {
            "description": "tag -> name",
            "type": "string",
            "title": "name"
          },
          "id": {
            "description": "tag -> id",
            "type": "string",
            "title": "id"
          }
        }
      }
    },
    "partial_site": {
      "type": "object",
      "title": "site",
      "properties": {
        "deleted": {
          "description": "site -> deleted",
          "type": "boolean",
          "title": "deleted"
        },
        "name": {
          "description": "site -> name",
          "type": "string",
          "title": "name"
        },
        "id": {
          "description": "site -> id",
          "type": "string",
          "title": "id"
        },
        "is_default": {
          "description": "site -> is_default",
          "type": "boolean",
          "title": "is_default"
        }
      }
    },
    "partial_group_assessment": {
      "type": "array",
      "title": "group_assessment",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "group_assessment -> id",
            "type": "string",
            "title": "id"
          }
        }
      }
    },
    "partial_org_role": {
      "type": "array",
      "title": "org_role",
      "items": {
        "type": "object",
        "properties": {
          "name": {
            "description": "org_role -> name",
            "type": "string",
            "title": "name"
          },
          "id": {
            "description": "org_role -> id",
            "type": "string",
            "title": "id"
          }
        }
      }
    },
    "partial_change_template": {
      "type": "object",
      "title": "change_template",
      "properties": {
        "inactive": {
          "description": "change_template -> inactive",
          "type": "boolean",
          "title": "inactive"
        },
        "id": {
          "description": "change_template -> id",
          "type": "string",
          "title": "id"
        },
        "is_planning_needed_in_submission": {
          "description": "change_template -> is_planning_needed_in_submission",
          "type": "boolean",
          "title": "is_planning_needed_in_submission"
        }
      }
    },
    "partial_approval_status": {
      "type": "object",
      "title": "approval_status",
      "properties": {
        "name": {
          "description": "approval_status -> name",
          "type": "string",
          "title": "name"
        },
        "id": {
          "description": "approval_status -> id",
          "type": "string",
          "title": "id"
        }
      }
    },
    "partial_request_note": {
      "type": "array",
      "title": "request_note",
      "items": {
        "type": "object",
        "properties": {
          "description": {
            "description": "request_note -> description",
            "type": "string",
            "title": "description"
          },
          "id": {
            "description": "request_note -> id",
            "type": "string",
            "title": "id"
          }
        }
      }
    },
    "partial_schedule_conflict": {
      "type": "array",
      "title": "schedule_conflict",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "schedule_conflict -> id",
            "type": "string",
            "title": "id"
          },
          "status": {
            "description": "schedule_conflict -> status",
            "type": "string",
            "title": "status"
          }
        }
      }
    },
    "partial_status": {
      "type": "object",
      "title": "status",
      "properties": {
        "in_progress": {
          "description": "status -> in_progress",
          "type": "boolean",
          "title": "in_progress"
        },
        "internal_name": {
          "description": "status -> internal_name",
          "type": "string",
          "title": "internal_name"
        },
        "stop_timer": {
          "description": "status -> stop_timer",
          "type": "boolean",
          "title": "stop_timer"
        },
        "color": {
          "description": "status -> color",
          "type": "string",
          "title": "color"
        },
        "name": {
          "description": "status -> name",
          "type": "string",
          "title": "name"
        },
        "id": {
          "description": "status -> id",
          "type": "string",
          "title": "id"
        }
      }
    },
    "partial_level": {
      "type": "object",
      "title": "level",
      "properties": {
        "name": {
          "description": "level -> name",
          "type": "string",
          "title": "name"
        },
        "id": {
[...]
