{
  "swagger": "2.0",
  "info": {
    "description": "API for Querying the TPS/CTPS status of a UK telephone number",
    "title": "TPS & CTPS Checker",
    "version": "1.0",
    "contact": {
      "name": "QuartzData",
      "url": "https://tpsmydata.co.uk/#contact",
      "email": "info@quartzdata.co.uk"
    }
  },
  "host": "api.tpsmydata.co.uk",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "paths": {
    "/": {
      "get": {
      	"description": "Execute the TPS CTPS Query",
      	"summary": "Query the TPS CTPS status of UK based telephone number",
        "operationId": "Query",
        "parameters": [
          {
            "in": "query",
            "name": "api_key",
            "type": "string",
            "x-ms-summary": "API Key",
            "description": "Your API Key provided by your tpsmydata account"
          },
          {
            "in": "query",
            "name": "tel",
            "type": "string",
            "x-ms-summary": "UK Telephone Number",
            "description": "The UK based telephone number to query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "tel_no": {
                      "type": "string",
                      "title": "Telephone No"
                    },
                    "national": {
                      "type": "string",
                      "title": "National"
                    },
                    "international": {
                      "type": "string",
                      "title": "International"
                    },
                    "e164": {
                      "type": "string",
                      "title": "e164 Format"
                    },
                    "line_type": {
                      "type": "string",
                      "title": "Line Type"
                    },
                    "location": {
                      "type": "string",
                      "title": "Location"
                    },
                    "original_carrier": {
                      "type": "string",
                      "title": "Original Carrier"
                    },
                    "on_tps": {
                      "type": "string",
                      "title": "On TPS Regiser"
                    },
                    "on_ctps": {
                      "type": "string",
                      "title": "On CTPS Register"
                    },
                    "check_date": {
                      "type": "string",
                      "title": "Date Of Query"
                    },
                    "original_carrier_allocation_date": {
                      "type": "string",
                      "title": "Carrier Allocation Date"
                    },
                    "remaining_credits": {
                      "type": "integer",
                      "title": "Remaining Credits"
                    }
                  }
                },
                "status": {
                  "type": "string",
                  "title": "Status"
                }
              }
            }
          },
          "400": {
            "description": "Failed response",
            "schema": {
              "type": "object",
              "properties": {
                "phone_format_status": {
                  "type": "string",
                  "example": "INVALID"
                },
                "error": {
                  "type": "string",
                  "title": "Error Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "remaining_credits": {
                      "type": "integer",
                      "title": "Remaining Credits"
                    }
                  }
                },
                "status": {
                  "type": "string",
                  "title": "Status"
                }
              }
            }
          },
          "401": {
            "description": "Failed response",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "title": "Error Message"
                },
                "status": {
                  "type": "string",
                  "title": "Status"
                }
              }
            }
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://tpsmydata.co.uk/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://tpsmydata.co.uk/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Intelligence"
    }
  ]
}