{
  "swagger": "2.0",
  "info": {
    "title": "Courier",
    "description": "Courier is a service and web studio for development teams to manage all product-triggered communications (email, chat, in-app, SMS, push, etc.) in one place. Courier is built for developers who want to deliver an exceptional notification experience.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.courier.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/send": {
      "post": {
        "responses": {
          "202": {
            "description": "Successful",
            "schema": {
              "type": "object",
              "properties": {
                "requestId": {
                  "type": "string",
                  "description": "The request identifier.",
                  "title": "Request ID"
                }
              }
            }
          }
        },
        "summary": "Send a message",
        "description": "Sends a message to one or more recipients.",
        "operationId": "MessageSendPost",
        "parameters": [
          {
            "name": "idempotency",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The idempotency key.",
            "x-ms-summary": "Idempotency"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "The title.",
                          "title": "Title"
                        },
                        "body": {
                          "type": "string",
                          "description": "The body.",
                          "title": "Body"
                        }
                      },
                      "title": "Content"
                    },
                    "to": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string",
                          "description": "The user identifier.",
                          "title": "User ID"
                        },
                        "list_id": {
                          "type": "string",
                          "description": "The list identifier.",
                          "title": "List ID"
                        },
                        "audience_id": {
                          "type": "string",
                          "description": "The audience identifier.",
                          "title": "Audience ID"
                        },
                        "email": {
                          "type": "string",
                          "description": "The email address.",
                          "title": "Email"
                        },
                        "phone_number": {
                          "type": "string",
                          "description": "The phone number.",
                          "title": "Phone Number"
                        },
                        "locale": {
                          "type": "string",
                          "description": "The locale.",
                          "title": "Locale"
                        },
                        "preferences": {
                          "type": "object",
                          "properties": {},
                          "description": "The preferences.",
                          "title": "Preferences"
                        },
                        "data": {
                          "type": "object",
                          "properties": {},
                          "description": "The data.",
                          "title": "Data"
                        }
                      },
                      "title": "To"
                    }
                  },
                  "title": "Message"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/audiences/{audience_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "filter": {
                  "type": "object",
                  "properties": {
                    "operator": {
                      "type": "string",
                      "description": "The operator.",
                      "title": "Operator"
                    },
                    "value": {
                      "type": "string",
                      "description": "The value.",
                      "title": "Value"
                    },
                    "path": {
                      "type": "string",
                      "description": "The path.",
                      "title": "Path"
                    }
                  },
                  "title": "Filter"
                }
              }
            }
          }
        },
        "summary": "Get an audience",
        "description": "Returns the specified audience by identifier.",
        "operationId": "AudienceGet",
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "x-ms-summary": "Audience ID",
            "x-ms-url-encoding": "single",
            "description": "The audience identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "Empty",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete an audience",
        "description": "Deletes the specified recipient audience.",
        "operationId": "AudienceDelete",
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "x-ms-summary": "Audience ID",
            "x-ms-url-encoding": "single",
            "description": "The audience identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "filter": {
                  "type": "object",
                  "properties": {
                    "operator": {
                      "type": "string",
                      "description": "The operator.",
                      "title": "Operator"
                    },
                    "value": {
                      "type": "string",
                      "description": "The value.",
                      "title": "Value"
                    },
                    "path": {
                      "type": "string",
                      "description": "The path.",
                      "title": "Path"
                    },
                    "filters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string",
                            "description": "The path.",
                            "title": "Path"
                          },
                          "operator": {
                            "type": "string",
                            "description": "The operator.",
                            "title": "Operator"
                          },
                          "value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          }
                        }
                      },
                      "title": "Filters"
                    }
                  },
                  "title": "Filter"
                }
              }
            }
          }
        },
        "summary": "Create or update an audience",
        "description": "Creates or updates an audience based on the parameters and filters provided.",
        "operationId": "AudiencePut",
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "x-ms-summary": "Audience ID",
            "x-ms-url-encoding": "single",
            "description": "The audience identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "filter": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "description": "The path.",
                      "title": "Path"
                    },
                    "operator": {
                      "type": "string",
                      "description": "The operator.",
                      "title": "Operator"
                    },
                    "value": {
                      "type": "string",
                      "description": "The value.",
                      "title": "Value"
                    },
                    "filters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string",
                            "description": "The path.",
                            "title": "Path"
                          },
                          "operator": {
                            "type": "string",
                            "description": "The operator.",
                            "title": "Operator"
                          },
                          "value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          }
                        }
                      },
                      "title": "Filters"
                    }
                  },
                  "title": "Filter"
                }
              }
            }
          }
        ]
      }
    },
    "/audiences/{audience_id}/members": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "member_id": {
                        "type": "string",
                        "description": "The member identifier.",
                        "title": "Member ID"
                      },
                      "added_at": {
                        "type": "string",
                        "description": "When added at.",
                        "title": "Added At"
                      },
                      "audience_id": {
                        "type": "string",
                        "description": "The audience identifier.",
                        "title": "Audience ID"
                      },
                      "audience_version": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The audience version.",
                        "title": "Audience Version"
                      },
                      "reason": {
                        "type": "string",
                        "description": "The reason.",
                        "title": "Reason"
                      }
                    }
                  },
                  "title": "Items"
                },
                "paging": {
                  "type": "object",
                  "properties": {
                    "cursor": {
                      "type": "string",
                      "description": "The cursor.",
                      "title": "Cursor"
                    },
                    "more": {
                      "type": "boolean",
                      "description": "Whether there is more.",
                      "title": "More"
                    }
                  },
                  "title": "Paging"
                }
              }
            }
          }
        },
        "summary": "List audience members",
        "description": "Retrieve a list of members of an audience.",
        "operationId": "AudienceMembersGet",
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "x-ms-summary": "Audience ID",
            "x-ms-url-encoding": "single",
            "description": "The audience identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cursor",
            "in": "query",
            "x-ms-summary": "Cursor",
            "description": "The cursor.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/audiences": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "filter": {
                        "type": "object",
                        "properties": {
                          "operator": {
                            "type": "string",
                            "description": "The operator.",
                            "title": "Operator"
                          },
                          "value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "path": {
                            "type": "string",
                            "description": "The path.",
                            "title": "Path"
                          }
                        },
                        "title": "Filter"
                      }
                    }
                  },
                  "title": "Items"
                },
                "paging": {
                  "type": "object",
                  "properties": {
                    "cursor": {
                      "type": "string",
                      "description": "The cursor.",
                      "title": "Cursor"
                    },
                    "more": {
                      "type": "boolean",
                      "description": "Whether there is more.",
                      "title": "More"
                    }
                  },
                  "title": "Paging"
                }
              }
            }
          }
        },
        "summary": "List all audiences",
        "description": "Retrieve all audiences associated with your account.",
        "operationId": "AudiencesGet",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "x-ms-summary": "Cursor",
            "description": "The cursor.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/audit-events": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "paging": {
                  "type": "object",
                  "properties": {
                    "cursor": {
                      "type": "string",
                      "description": "The cursor.",
                      "title": "Cursor"
                    },
                    "more": {
                      "type": "boolean",
                      "description": "Whether there is more.",
                      "title": "More"
                    }
                  },
                  "title": "Paging"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "auditEventId": {
                        "type": "string",
                        "description": "The audit event identifier.",
                        "title": "Audit Event ID"
                      },
                      "actor": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address.",
                            "title": "Email"
                          }
                        },
                        "title": "Actor"
                      },
                      "target": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address.",
                            "title": "Email"
                          }
                        },
                        "title": "Target"
                      },
                      "source": {
                        "type": "string",
                        "description": "The source.",
                        "title": "Source"
                      },
                      "timestamp": {
                        "type": "string",
                        "description": "The timestamp.",
                        "title": "Timestamp"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get all audit events",
        "description": "Retrieve a list of audit events.",
        "operationId": "AuditEventsGet",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "x-ms-summary": "Cursor",
            "description": "The cursor.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/audit-events/{audit-event-id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "auditEventId": {
                  "type": "string",
                  "description": "The audit event identifier.",
                  "title": "Audit Event ID"
                },
                "actor": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    }
                  },
                  "title": "Actor"
                },
                "target": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    }
                  },
                  "title": "Target"
                },
                "source": {
                  "type": "string",
                  "description": "The source.",
                  "title": "Source"
                },
                "timestamp": {
                  "type": "string",
                  "description": "The timestamp.",
                  "title": "Timestamp"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                }
              }
            }
          }
        },
        "summary": "Get an audit event",
        "description": "Retrieve a specific audit event by identifier.",
        "operationId": "AuditEventGet",
        "parameters": [
          {
            "name": "audit-event-id",
            "in": "path",
            "x-ms-summary": "Audit Event ID",
            "x-ms-url-encoding": "single",
            "description": "The audit event identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/automations/{templateId}/invoke": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "runId": {
                  "type": "string",
                  "description": "The run identifier.",
                  "title": "Run ID"
                }
              }
            }
          }
        },
        "summary": "Run a templated automation",
        "description": "Invoke an automation run from an automation template.",
        "operationId": "AutomationTemplatedPost",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "x-ms-summary": "Template ID",
            "x-ms-url-encoding": "single",
            "description": "The template identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "brand": {
                  "type": "string",
                  "description": "The brand.",
                  "title": "Brand"
                },
                "template": {
                  "type": "string",
                  "description": "The template.",
                  "title": "Template"
                },
                "recipient": {
                  "type": "string",
                  "description": "The recipient.",
                  "title": "Recipient"
                },
                "data": {
                  "type": "object",
                  "properties": {},
                  "description": "The data.",
                  "title": "Data"
                },
                "profile": {
                  "type": "object",
                  "properties": {},
                  "description": "The profile.",
                  "title": "Profile"
                }
              }
            }
          }
        ]
      }
    },
    "/automations/invoke": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "runId": {
                  "type": "string",
                  "description": "The run identifier.",
                  "title": "Run ID"
                }
              }
            }
          }
        },
        "summary": "Run an ad-hoc automation",
        "description": "Invoke an automation in an ad-hoc run.",
        "operationId": "AutomationAdHocPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "automation": {
                  "type": "object",
                  "properties": {
                    "steps": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {}
                      },
                      "description": "The steps.",
                      "title": "Steps"
                    },
                    "cancelation_token": {
                      "type": "string",
                      "description": "The cancellation token.",
                      "title": "Cancelation Token"
                    }
                  },
                  "title": "Automation"
                },
                "brand": {
                  "type": "string",
                  "description": "The brand.",
                  "title": "Brand"
                },
                "template": {
                  "type": "string",
                  "description": "The template.",
                  "title": "Template"
                },
                "recipient": {
                  "type": "string",
                  "description": "The recipient.",
                  "title": "Recipient"
                },
                "data": {
                  "type": "object",
                  "properties": {},
                  "description": "The data.",
                  "title": "Data"
                },
                "profile": {
                  "type": "object",
                  "properties": {},
                  "description": "The profile.",
                  "title": "Profile"
                }
              }
            }
          }
        ]
      }
    },
    "/brands": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "paging": {
                  "type": "object",
                  "properties": {
                    "cursor": {
                      "type": "string",
                      "description": "The cursor.",
                      "title": "Cursor"
                    },
                    "more": {
                      "type": "boolean",
                      "description": "Whether there is more.",
                      "title": "More"
                    }
                  },
                  "title": "Paging"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "created": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When created.",
                        "title": "Created"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "published": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When published.",
                        "title": "Published"
                      },
                      "updated": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When updated.",
                        "title": "Updated"
                      },
                      "version": {
                        "type": "string",
                        "description": "The version.",
                        "title": "Version"
                      },
                      "settings": {
                        "type": "object",
                        "properties": {
                          "colors": {
                            "type": "object",
                            "properties": {
                              "primary": {
                                "type": "string",
                                "description": "The primary.",
                                "title": "Primary"
                              },
                              "secondary": {
                                "type": "string",
                                "description": "The secondary.",
                                "title": "Secondary"
                              },
                              "tertiary": {
                                "type": "string",
                                "description": "The tertiary.",
                                "title": "Tertiary"
                              }
                            },
                            "title": "Colors"
                          },
                          "email": {
                            "type": "object",
                            "properties": {
                              "header": {
                                "type": "object",
                                "properties": {
                                  "barColor": {
                                    "type": "string",
                                    "description": "The bar color.",
                                    "title": "Bar Color"
                                  },
                                  "logo": {
                                    "type": "object",
                                    "properties": {
                                      "href": {
                                        "type": "string",
                                        "description": "The HREF.",
                                        "title": "HREF"
                                      },
                                      "image": {
                                        "type": "string",
                                        "description": "The image.",
                                        "title": "Image"
                                      }
                                    },
                                    "title": "Logo"
                                  }
                                },
                                "title": "Header"
                              },
                              "footer": {
                                "type": "object",
                                "properties": {
                                  "markdown": {
                                    "type": "string",
                                    "description": "The markdown.",
                                    "title": "Markdown"
                                  },
                                  "social": {
                                    "type": "object",
                                    "properties": {
                                      "facebook": {
                                        "type": "object",
                                        "properties": {
                                          "url": {
                                            "type": "string",
                                            "description": "The URL address.",
                                            "title": "URL"
                                          }
                                        },
                                        "title": "Facebook"
                                      },
                                      "instagram": {
                                        "type": "object",
                                        "properties": {
                                          "url": {
                                            "type": "string",
                                            "description": "The URL address.",
                                            "title": "URL"
                                          }
                                        },
                                        "title": "Instagram"
                                      },
                                      "linkedin": {
                                        "type": "object",
                                        "properties": {
                                          "url": {
                                            "type": "string",
                                            "description": "The URL address.",
                                            "title": "URL"
                                          }
                                        },
                                        "title": "Linkedin"
                                      },
                                      "medium": {
                                        "type": "object",
                                        "properties": {
                                          "url": {
                                            "type": "string",
                                            "description": "The URL address.",
                                            "title": "URL"
                                          }
                                        },
                                        "title": "Medium"
                                      },
                                      "twitter": {
                                        "type": "object",
                                        "properties": {
                                          "url": {
                                            "type": "string",
                                            "description": "The URL address.",
                                            "title": "URL"
                                          }
                                        },
                                        "title": "Twitter"
                                      }
                                    },
                                    "title": "Social"
                                  }
                                },
                                "title": "Footer"
                              }
                            },
                            "title": "Email"
                          },
                          "inapp": {
                            "type": "object",
                            "properties": {
                              "disableMessageIcon": {
                                "type": "boolean",
                                "description": "Whether to disable message icon.",
                                "title": "Disable Message Icon"
                              },
                              "placement": {
                                "type": "string",
                                "description": "The placement.",
                                "title": "Placement"
                              },
                              "preferences": {
                                "type": "object",
                                "properties": {},
                                "description": "The preferences.",
                                "title": "Preferences"
                              }
                            },
                            "title": "In-App"
                          }
                        },
                        "title": "Settings"
                      },
                      "snippets": {
                        "type": "object",
                        "properties": {
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The items.",
                            "title": "Items"
                          }
                        },
                        "title": "Snippets"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "List brands",
        "description": "Retrieve a list of brands.",
        "operationId": "BrandsGet",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "x-ms-summary": "Cursor",
            "description": "The cursor.",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "204": {
            "description": "Empty",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Create a brand",
        "description": "Creates a new brand from the settings provided.",
        "operationId": "BrandPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "settings": {
                  "type": "object",
                  "properties": {
                    "colors": {
                      "type": "object",
                      "properties": {
                        "primary": {
                          "type": "string",
                          "description": "The primary.",
                          "title": "Primary"
                        },
                        "secondary": {
                          "type": "string",
                          "description": "The secondary.",
                          "title": "Secondary"
                        },
                        "tertiary": {
                          "type": "string",
                          "description": "The tertiary.",
                          "title": "Tertiary"
                        }
                      },
                      "title": "Colors"
                    },
                    "email": {
                      "type": "object",
                      "properties": {
                        "header": {
                          "type": "object",
                          "properties": {
                            "barColor": {
                              "type": "string",
                              "description": "The bar color.",
                              "title": "Bar Color"
                            },
                            "logo": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "description": "The HREF.",
                                  "title": "HREF"
                                },
                                "image": {
                                  "type": "string",
                                  "description": "The image.",
                                  "title": "Image"
                                }
                              },
                              "title": "Logo"
                            }
                          },
                          "title": "Header"
                        },
                        "footer": {
                          "type": "object",
                          "properties": {
                            "markdown": {
                              "type": "string",
                              "description": "The markdown.",
                              "title": "Markdown"
                            },
                            "social": {
                              "type": "object",
                              "properties": {
                                "facebook": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "The URL address.",
                                      "title": "URL"
                                    }
                                  },
                                  "title": "Facebook"
                                },
                                "instagram": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "The URL address.",
                                      "title": "URL"
                                    }
                                  },
                                  "title": "Instagram"
                                },
                                "linkedin": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "The URL address.",
                                      "title": "URL"
                                    }
                                  },
                                  "title": "Linkedin"
                                },
                                "medium": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "The URL address.",
                                      "title": "URL"
                                    }
                                  },
                                  "title": "Medium"
                                },
                                "twitter": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "The URL address.",
                                      "title": "URL"
                                    }
                                  },
                                  "title": "Twitter"
                                }
                              },
                              "title": "Social"
                            }
                          },
                          "title": "Footer"
                        }
                      },
                      "title": "Email"
                    },
                    "inapp": {
                      "type": "object",
                      "properties": {
                        "disableMessageIcon": {
                          "type": "boolean",
                          "description": "Whether to disable message icon.",
                          "title": "Disable Message Icon"
                        },
                        "placement": {
                          "type": "string",
                          "description": "The placement.",
                          "title": "Placement"
                        },
                        "preferences": {
                          "type": "object",
                          "properties": {},
                          "description": "The preferences.",
                          "title": "Preferences"
                        }
                      },
                      "title": "In-App"
                    }
                  },
                  "title": "Settings"
                },
                "snippets": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The items.",
                      "title": "Items"
                    }
                  },
                  "title": "Snippets"
                }
              },
              "required": [
                "name"
              ]
            }
          }
        ]
      }
    },
    "/brands/{brand_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "created": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created.",
                  "title": "Created"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "published": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When published.",
                  "title": "Published"
                },
                "updated": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The updated.",
                  "title": "Updated"
                },
                "version": {
                  "type": "string",
                  "description": "The version.",
                  "title": "Version"
                },
                "settings": {
                  "type": "object",
                  "properties": {
                    "colors": {
                      "type": "object",
                      "properties": {
                        "primary": {
                          "type": "string",
                          "description": "The primary.",
                          "title": "Primary"
                        },
                        "secondary": {
                          "type": "string",
                          "description": "The secondary.",
                          "title": "Secondary"
                        },
                        "tertiary": {
                          "type": "string",
                          "description": "The tertiary.",
                          "title": "Tertiary"
                        }
                      },
                      "title": "Colors"
                    },
                    "email": {
                      "type": "object",
                      "properties": {
                        "header": {
                          "type": "object",
                          "properties": {
                            "barColor": {
                              "type": "string",
                              "description": "The bar color.",
                              "title": "Bar Color"
                            },
                            "logo": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "description": "The HREF.",
                                  "title": "HREF"
                                },
                                "image": {
                                  "type": "string",
                                  "description": "The image.",
                                  "title": "Image"
                                }
                              },
                              "title": "Logo"
                            }
                          },
                          "title": "Header"
                        },
                        "footer": {
                          "type": "object",
                          "properties": {
                            "markdown": {
                              "type": "string",
                              "description": "The markdown.",
                              "title": "Markdown"
                            },
                            "social": {
                              "type": "object",
                              "properties": {
                                "facebook": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "The URL address.",
                                      "title": "URL"
                                    }
                                  },
                                  "title": "Facebook"
                                },
                                "instagram": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "The URL address.",
                                      "title": "URL"
                                    }
                                  },
                                  "title": "Instagram"
                                },
                                "linkedin": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "The URL address.",
                                      "title": "URL"
                                    }
                                  },
                                  "title": "Linkedin"
                                },
                                "medium": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "The URL address.",
                                      "title": "URL"
                                    }
                                  },
                                  "title": "Medium"
                                },
                                "twitter": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "The URL address.",
                                      "title": "URL"
                                    }
                                  },
                                  "title": "Twitter"
                                }
                              },
                              "title": "Social"
                            }
                          },
                          "title": "Footer"
                        }
                      },
                      "title": "Email"
                    },
                    "inapp": {
                      "type": "object",
                      "properties": {
                        "disableMessageIcon": {
                          "type": "boolean",
                          "description": "Whether to disable message icon.",
                          "title": "Disable Message Icon"
                        },
                        "placement": {
                          "type": "string",
                          "description": "The placement.",
                          "title": "Placement"
                        },
                        "preferences": {
                          "type": "object",
                          "properties": {},
                          "description": "The preferences.",
                          "title": "Preferences"
                        }
                      },
                      "title": "In-App"
                    }
                  },
                  "title": "Settings"
                },
                "snippets": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The items.",
                      "title": "Items"
                    }
                  },
                  "title": "Snippets"
                }
              }
            }
          }
        },
        "summary": "Get a brand",
        "description": "Retrieve a specific brand by identifier.",
        "operationId": "BrandGet",
        "parameters": [
          {
            "name": "brand_id",
            "in": "path",
            "x-ms-summary": "Brand ID",
            "x-ms-url-encoding": "single",
            "description": "The brand identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/bulk": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "jobId": {
                  "type": "string",
                  "description": "The job identifier.",
                  "title": "Job ID"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Create a bulk job",
        "description": "Creates a bulk job for the message parameters provided.",
        "operationId": "BulkJobPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "object",
                  "properties": {
                    "event": {
                      "type": "string",
                      "description": "The event.",
                      "title": "Event"
                    },
                    "brand": {
                      "type": "string",
                      "description": "The brand.",
                      "title": "Brand"
                    },
                    "data": {
                      "type": "object",
                      "properties": {},
                      "description": "The data.",
                      "title": "Data"
                    },
                    "override": {
                      "type": "object",
                      "properties": {},
                      "description": "The override.",
                      "title": "Override"
                    },
                    "template": {
                      "type": "string",
                      "description": "The template.",
                      "title": "Template"
                    },
                    "brand_id": {
                      "type": "string",
                      "description": "The brand identifier.",
                      "title": "Brand ID"
                    },
                    "routing": {
                      "type": "object",
                      "properties": {
                        "method": {
                          "type": "string",
                          "description": "The method.",
                          "title": "Method"
                        },
                        "channels": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The channels.",
                          "title": "Channels"
                        }
                      },
                      "title": "Routing"
                    },
                    "channels": {
                      "type": "object",
                      "properties": {},
                      "description": "The channels.",
                      "title": "Channels"
                    },
                    "providers": {
                      "type": "object",
                      "properties": {},
                      "description": "The providers.",
                      "title": "Providers"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "event": {
                          "type": "string",
                          "description": "The event.",
                          "title": "Event"
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The tags.",
                          "title": "Tags"
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace identifier.",
                          "title": "Trace ID"
                        },
                        "utm": {
                          "type": "object",
                          "properties": {
                            "campaign": {
                              "type": "string",
                              "description": "The campaign.",
                              "title": "Campaign"
                            },
                            "content": {
                              "type": "string",
                              "description": "The content.",
                              "title": "Content"
                            },
                            "medium": {
                              "type": "string",
                              "description": "The medium.",
                              "title": "Medium"
                            },
                            "source": {
                              "type": "string",
                              "description": "The source.",
                              "title": "Source"
                            },
                            "term": {
                              "type": "string",
                              "description": "The term.",
                              "title": "Term"
                            }
                          },
                          "title": "UTM"
                        }
                      },
                      "title": "Metadata"
                    }
                  },
                  "title": "Message"
                }
              }
            }
          }
        ]
      }
    },
    "/bulk/{job_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "job": {
                  "type": "object",
                  "properties": {
                    "definition": {
                      "type": "object",
                      "properties": {
                        "event": {
                          "type": "string",
                          "description": "The event.",
                          "title": "Event"
                        }
                      },
                      "title": "Definition"
                    },
                    "enqueued": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The enqueued.",
                      "title": "Enqueued"
                    },
                    "failures": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The failures.",
                      "title": "Failures"
                    },
                    "received": {
                      "type": "integer",
                      "format": "int32",
                      "description": "When received.",
                      "title": "Received"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    }
                  },
                  "title": "Job"
                }
              }
            }
          }
        },
        "summary": "Get a bulk job",
        "description": "Retrieve the information about a bulk job.",
        "operationId": "BulkJobGet",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "x-ms-summary": "Job ID",
            "x-ms-url-encoding": "single",
            "description": "The job identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "204": {
            "description": "Empty",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Add users to a bulk job",
        "description": "Ingest user data into a bulk job.",
        "operationId": "BulkJobUsersPost",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "x-ms-summary": "Job ID",
            "x-ms-url-encoding": "single",
            "description": "The job identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "users": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "recipient": {
                        "type": "string",
                        "description": "The recipient.",
                        "title": "Recipient"
                      },
                      "preferences": {
                        "type": "object",
                        "properties": {},
                        "description": "The preferences.",
                        "title": "Preferences"
                      },
                      "profile": {
                        "type": "object",
                        "properties": {},
                        "description": "The profile.",
                        "title": "Profile"
                      },
                      "data": {
                        "type": "object",
                        "properties": {},
                        "description": "The data.",
                        "title": "Data"
                      },
                      "to": {
                        "type": "object",
                        "properties": {},
                        "description": "The to.",
                        "title": "To"
                      }
                    }
                  },
                  "title": "Users"
                }
              }
            }
          }
        ]
      }
    },
    "/bulk/{job_id}/run": {
      "post": {
        "responses": {
          "202": {
            "description": "Successful",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Run a bulk job",
        "description": "Start running a bulk job.",
        "operationId": "BulkJobRunPost",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "x-ms-summary": "Job ID",
            "x-ms-url-encoding": "single",
            "description": "The job identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/bulk/{job_id}/users": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "recipient": {
                        "type": "string",
                        "description": "The recipient.",
                        "title": "Recipient"
                      },
                      "email": {
                        "type": "string",
                        "description": "The email address.",
                        "title": "Email"
                      },
                      "locale": {
                        "type": "string",
                        "description": "The locale.",
                        "title": "Locale"
                      }
                    }
                  },
                  "title": "Items"
                },
                "paging": {
                  "type": "object",
                  "properties": {
                    "cursor": {
                      "type": "string",
                      "description": "The cursor.",
                      "title": "Cursor"
                    },
                    "more": {
                      "type": "boolean",
                      "description": "Whether there is more.",
                      "title": "More"
                    }
                  },
                  "title": "Paging"
                }
              }
            }
          }
        },
        "summary": "Get a bulk job's users",
        "description": "Retrieve the users of a bulk job.",
        "operationId": "BulkJobUsersGet",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "x-ms-summary": "Job ID",
            "x-ms-url-encoding": "single",
            "description": "The job identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/lists": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "paging": {
                  "type": "object",
                  "properties": {
                    "cursor": {
                      "type": "string",
                      "description": "The cursor.",
                      "title": "Cursor"
                    },
                    "more": {
                      "type": "boolean",
                      "description": "Whether there is more.",
                      "title": "More"
                    }
                  },
                  "title": "Paging"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "created": {
                        "type": "string",
                        "description": "When created.",
                        "title": "Created"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "updated": {
                        "type": "string",
                        "description": "When updated.",
                        "title": "Updated"
                      },
                      "preferences": {
                        "type": "object",
                        "properties": {
                          "notifications": {
                            "type": "object",
                            "properties": {},
                            "description": "The notifications.",
                            "title": "Notifications"
                          },
                          "categories": {
                            "type": "object",
                            "properties": {},
                            "description": "The categories.",
                            "title": "Categories"
                          }
                        },
                        "title": "Preferences"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get all recipient lists",
        "description": "Retrieve a list of all the recipient lists.",
        "operationId": "ListsGet",
        "parameters": []
      }
    },
    "/lists/{list_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "created": {
                  "type": "string",
                  "description": "When created.",
                  "title": "Created"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "updated": {
                  "type": "string",
                  "description": "The updated.",
                  "title": "Updated"
                },
                "preferences": {
                  "type": "object",
                  "properties": {
                    "notifications": {
                      "type": "object",
                      "properties": {},
                      "description": "The notifications.",
                      "title": "Notifications"
                    },
                    "categories": {
                      "type": "object",
                      "properties": {},
                      "description": "The categories.",
                      "title": "Categories"
                    }
                  },
                  "title": "Preferences"
                }
              }
            }
          }
        },
        "summary": "Get a list",
        "description": "Retrieve the items of a list.",
        "operationId": "ListGet",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single",
            "description": "The list identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "Empty",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete a list",
        "description": "Deletes a list by list identifier.",
        "operationId": "ListDelete",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single",
            "description": "The list identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "204": {
            "description": "Empty",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Update a list",
        "description": "Creates or replaces an existing list with the supplied values.",
        "operationId": "ListPut",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single",
            "description": "The list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "preferences": {
                  "type": "object",
                  "properties": {
                    "notifications": {
                      "type": "object",
                      "properties": {},
                      "description": "The notifications.",
                      "title": "Notifications"
                    },
                    "categories": {
                      "type": "object",
                      "properties": {},
                      "description": "The categories.",
                      "title": "Categories"
                    }
                  },
                  "title": "Preferences"
                }
              }
            }
          }
        ]
      }
    },
    "/lists/{list_id}/restore": {
      "put": {
        "responses": {
          "204": {
            "description": "Empty",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Restore a list",
        "description": "Restores an existing list by identifier.",
        "operationId": "ListRestorePut",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single",
            "description": "The list identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/lists/{list_id}/subscriptions": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "paging": {
                  "type": "object",
                  "properties": {
                    "cursor": {
                      "type": "string",
                      "description": "The cursor.",
                      "title": "Cursor"
                    },
                    "more": {
                      "type": "boolean",
                      "description": "Whether there is more.",
                      "title": "More"
                    }
                  },
                  "title": "Paging"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "recipientId": {
                        "type": "string",
                        "description": "The recipient identifier.",
                        "title": "Recipient ID"
                      },
                      "created": {
                        "type": "string",
                        "description": "When created.",
                        "title": "Created"
                      },
                      "preferences": {
                        "type": "object",
                        "properties": {
                          "notifications": {
                            "type": "object",
                            "properties": {},
                            "description": "The notifications.",
                            "title": "Notifications"
                          },
                          "categories": {
                            "type": "object",
                            "properties": {},
                            "description": "The categories.",
                            "title": "Categories"
                          }
                        },
                        "title": "Preferences"
                      }
                    }
                  },
                  "title": "Items"
                }
              }
            }
          }
        },
        "summary": "Get list's subscriptions",
        "description": "Retrieves the subscriptions for a list.",
        "operationId": "ListSubscriptionsGet",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single",
            "description": "The list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cursor",
            "in": "query",
            "x-ms-summary": "Cursor",
            "description": "The cursor.",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "204": {
            "description": "Empty",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Add subscriber(s) to a list",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single",
            "description": "The list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "recipientId": {
                        "type": "string",
                        "description": "The recipient identifier.",
                        "title": "Recipient ID"
                      },
                      "preferences": {
                        "type": "object",
                        "properties": {
                          "notifications": {
                            "type": "object",
                            "properties": {},
                            "description": "The notifications.",
                            "title": "Notifications"
                          },
                          "categories": {
                            "type": "object",
                            "properties": {},
                            "description": "The categories.",
                            "title": "Categories"
                          }
                        },
                        "title": "Preferences"
                      }
                    }
                  },
                  "title": "Recipients"
                }
              }
            }
          }
        ],
        "description": "Add additional subscribers to a list.",
        "operationId": "ListSubscribersPost"
      }
    },
    "/lists/{list_id}/subscriptions/{recipient_id}": {
      "delete": {
        "responses": {
          "204": {
            "description": "Empty",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Unsubscribe a user from a list",
        "description": "Deletes a subscription to a list by list and recipient identifiers.",
        "operationId": "ListSubscribeDelete",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single",
            "description": "The list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "recipient_id",
            "in": "path",
            "x-ms-summary": "Recipient ID",
            "x-ms-url-encoding": "single",
            "description": "The recipient identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/messages": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "paging": {
                  "type": "object",
                  "properties": {
                    "cursor": {
                      "type": "string",
                      "description": "The cursor.",
                      "title": "Cursor"
                    },
                    "more": {
                      "type": "boolean",
                      "description": "Whether there is more.",
                      "title": "More"
                    }
                  },
                  "title": "Paging"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "enqueued": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The enqueued.",
                        "title": "Enqueued"
                      },
                      "sent": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The sent.",
                        "title": "Sent"
                      },
                      "delivered": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The delivered.",
                        "title": "Delivered"
                      },
                      "opened": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The opened.",
                        "title": "Opened"
                      },
                      "clicked": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The clicked.",
                        "title": "Clicked"
                      },
                      "recipient": {
                        "type": "string",
                        "description": "The recipient.",
                        "title": "Recipient"
                      },
                      "event": {
                        "type": "string",
                        "description": "The event.",
                        "title": "Event"
                      },
                      "notification": {
                        "type": "string",
                        "description": "The notification.",
                        "title": "Notification"
                      },
                      "error": {
                        "type": "string",
                        "description": "The error.",
                        "title": "Error"
                      },
                      "reason": {
                        "type": "string",
                        "description": "The reason.",
                        "title": "Reason"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "List messages",
        "description": "Retrieve the statuses of previously sent messages.",
        "operationId": "MessagesGet",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "description": "Whether archived.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "cursor",
            "in": "query",
            "x-ms-summary": "Cursor",
            "description": "The cursor.",
            "required": false,
            "type": "string"
          },
          {
            "name": "event",
            "in": "query",
            "x-ms-summary": "Event",
            "description": "The event.",
            "required": false,
            "type": "string"
          },
          {
            "name": "list",
            "in": "query",
            "x-ms-summary": "List",
            "description": "The list.",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageId",
            "in": "query",
            "x-ms-summary": "Message ID",
            "description": "The message identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "notification",
            "in": "query",
            "x-ms-summary": "Notification",
            "description": "The notification.",
            "required": false,
            "type": "string"
          },
          {
            "name": "recipient",
            "in": "query",
            "x-ms-summary": "Recipient",
            "description": "The recipient.",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "x-ms-summary": "Status",
            "description": "The status.",
            "required": false,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "x-ms-summary": "Tags",
            "description": "The tags.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/messages/{message_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "enqueued": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The enqueued.",
                  "title": "Enqueued"
                },
                "sent": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The sent.",
                  "title": "Sent"
                },
                "delivered": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The delivered.",
                  "title": "Delivered"
                },
                "opened": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The opened.",
                  "title": "Opened"
                },
                "clicked": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The clicked.",
                  "title": "Clicked"
                },
                "recipient": {
                  "type": "string",
                  "description": "The recipient.",
                  "title": "Recipient"
                },
                "event": {
                  "type": "string",
                  "description": "The event.",
                  "title": "Event"
                },
                "notification": {
                  "type": "string",
                  "description": "The notification.",
                  "title": "Notification"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "reason": {
                  "type": "string",
                  "description": "The reason.",
                  "title": "Reason"
                },
                "providers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "sent": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The sent.",
                        "title": "Sent"
                      },
                      "delivered": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The delivered.",
                        "title": "Delivered"
                      },
                      "clicked": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The clicked.",
                        "title": "Clicked"
                      },
                      "opened": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The opened.",
                        "title": "Opened"
                      },
                      "error": {
                        "type": "string",
                        "description": "The error.",
                        "title": "Error"
                      },
                      "provider": {
                        "type": "string",
                        "description": "The provider.",
                        "title": "Provider"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      }
                    }
                  },
                  "title": "Providers"
                }
              }
            }
          }
        },
        "summary": "Get a message",
        "description": "Retrieve the status of a message.",
        "operationId": "MessageGet",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "x-ms-summary": "Message ID",
            "x-ms-url-encoding": "single",
            "description": "The message identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/messages/{message_id}/history": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          }
                        },
                        "title": "Data"
                      },
                      "event": {
                        "type": "string",
                        "description": "The event.",
                        "title": "Event"
                      },
                      "recipient": {
                        "type": "string",
                        "description": "The recipient.",
                        "title": "Recipient"
                      },
                      "ts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The TS.",
                        "title": "TS"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "event_id": {
                        "type": "string",
                        "description": "The event identifier.",
                        "title": "Event ID"
                      },
                      "notification_id": {
                        "type": "string",
                        "description": "The notification identifier.",
                        "title": "Notification ID"
                      },
                      "channel": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
[...]
