# See for instructions on this file https://help.github.com/articles/about-codeowners/

*       @Microsoft/connectors

/connectors/ahead @tjkb
/connectors/Data8 @mattybeard
/connectors/Encodian @Encodian
/connectors/Plumsail\ Documents @RFlipper
/connectors/Plumsail\ Forms @RFlipper
/connectors/Plumsail\ HelpDesk @RFlipper
/connectors/Plumsail\ SP @RFlipper
/connectors/Rencore @waldekmastykarz
/connectors/WebMerge @jeremyjclarke
/connectors/Yeelight @yusureabc
/tools/paconn-cli @Microsoft/connectors