# See for instructions on this file https://help.github.com/articles/about-codeowners/

# By default Microsoft owns the entire repo
# Unless overridden later
*       @Microsoft/connectors

# Speicific owner for Certified Connectors
/certified-connectors/Aquaforest\ PDF\ Connector/ @Aquaforest
/certified-connectors/CloudAppSecurity/ @robrams
/certified-connectors/Cloudmersive\ Data\ Validation/ @Cloudmersive
/certified-connectors/Cloudmersive\ Document\ Conversion/ @Cloudmersive
/certified-connectors/Cloudmersive\ Image\ Processing/ @Cloudmersive
/certified-connectors/Cloudmersive\ PDF/ @Cloudmersive
/certified-connectors/Cloudmersive\ Virus\ Scan/ @Cloudmersive
/certified-connectors/CompanyConnect/ @sschutten
/certified-connectors/D7SMS/ @d7networks
/certified-connectors/DBF2XML/ @yekhoKatyn
/certified-connectors/Data8/ @mattybeard
/certified-connectors/ElfsquadProductConfigurator/ @johannesheesterman
/certified-connectors/Encodian/ @Encodian
/certified-connectors/FireText/ @dp-firetext
/certified-connectors/HotProfile/ @masuyama-hammock
/certified-connectors/JungleMail365/ @EnovaPoint-Lewis
/certified-connectors/KnowledgeLakeRPA/ @SteveCurran
/certified-connectors/LeadDesk/ @Lokenstein
/certified-connectors/Mitto/ @mittork
/certified-connectors/ModuleQ/ @tom-mq
/certified-connectors/Mtarget\ SMS/ @devsmsMTarget
/certified-connectors/PartnerCenterReferrals/ @didalal
/certified-connectors/Plumsail\ Documents/ @RFlipper
/certified-connectors/Plumsail\ Forms/ @RFlipper
/certified-connectors/Plumsail\ HelpDesk/ @RFlipper
/certified-connectors/Plumsail\ SP/ @RFlipper
/certified-connectors/Pushcut/ @sliemeobn
/certified-connectors/Rencore/ @waldekmastykarz
/certified-connectors/Rencore\ Governance/ @waldekmastykarz
/certified-connectors/Robolytix/ @ondrejfiala
/certified-connectors/Scrive\ eSign/ @MarcusNilssonGithub
/certified-connectors/Serverless360/ @arunprabhu-kovai
/certified-connectors/ShareEffect/ @Rens-Braspenning
/certified-connectors/ShortURL/ @cirrussoft
/certified-connectors/SignRequest/ @michi88
/certified-connectors/Slascone/ @its-just-jo
/certified-connectors/Smarp/ @pininsmarp
/certified-connectors/Stormboard/ @mdbollman
/certified-connectors/Tallyfy/ @EricHusa
/certified-connectors/Telephony-Xtended-Service/ @alainmenag
/certified-connectors/Way\ We\ Do/ @danspam
/certified-connectors/WebMerge/ @jeremyjclarke
/certified-connectors/Witivio/ @NicolasHumann
/certified-connectors/Yeelight/ @yusureabc
/certified-connectors/ahead/ @tjkb
/certified-connectors/easyvistaselfhelp/ @cedric-martin
/certified-connectors/emfluencemp/ @ryandeba
/certified-connectors/envoy/ @aasimniz95
/certified-connectors/exghts/ @exghts
/certified-connectors/gofileroom/ @calvinleong
/certified-connectors/DocuSign/ @sriharip-docusign
/certified-connectors/DocuSignDemo/ @sriharip-docusign
/certified-connectors/DocuSign/ @angelga-docusign
/certified-connectors/DocuSignDemo/ @angelga-docusign
/certified-connectors/DocuSign/ @tle-docusign
/certified-connectors/DocuSignDemo/ @tle-docusign
