{
  "swagger": "2.0",
  "info": {
    "title": "IN-D Insurance",
    "description": "IN-D Insurance does ICD10 auto-coding by understanding the disease when extracting information from the discharge summary uploaded without a need to set up any template.",
    "version": "1.0",
    "contact": {
      "name": "IN-D Support",
      "url": "https://one.in-d.ai/developer/",
      "email": "explore@in-d.ai"
    }
  },
  "host": "inssit.in-d.ai",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/icd_code_disease": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "input_given": {
                        "type": "string",
                        "description": "input disease name",
                        "title": "input disease name"
                      },
                      "icd_code": {
                        "type": "string",
                        "description": "icd code for disease name",
                        "title": "icd code"
                      },
                      "icd_desc": {
                        "type": "string",
                        "description": "icd desc",
                        "title": "icd code description"
                      }
                    }
                  },
                  "description": "result"
                }
              }
            }
          },
          "400": {
            "description": "fail",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "status of request either success or fail"
                },
                "desc": {
                  "type": "string",
                  "description": "desc",
                  "title": "error description"
                }
              }
            }
          },
          "403": {
            "description": "fail",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "api key missing"
                }
              }
            }
          },
          "500": {
            "description": "fail",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "status of request either success or fail"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "internal error"
                }
              }
            }
          }
        },
        "summary": "ICD10 Auto-coding - From Disease Name",
        "description": "Automatically does ICD10 coding when given the disease name as the input",
        "operationId": "ICD10Auto-coding-FromDiseaseName",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "disease_name": {
                        "type": "string",
                        "description": "disease name",
                        "title": "disease name"
                      }
                    },
                    "required": [
                      "disease_name"
                    ]
                  },
                  "description": "query"
                }
              },
              "required": [
                "query"
              ]
            }
          }
        ]
      }
    },
    "/icd_code_file": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "file_name": {
                        "type": "string",
                        "description": "file name of input",
                        "title": "file name"
                      },
                      "disease": {
                        "type": "string",
                        "description": "list of disease names ",
                        "title": "diseases"
                      },
                      "icd_code": {
                        "type": "string",
                        "description": "list of icd codes",
                        "title": "icd code"
                      },
                      "icd_desc": {
                        "type": "string",
                        "description": "icd code description",
                        "title": "icd desc"
                      },
                      "output_image": {
                        "type": "string",
                        "description": "base64 content of uploaded image with highlighted disease names and icd codes",
                        "title": "o/p image"
                      }
                    }
                  },
                  "description": "result"
                }
              }
            }
          },
          "400": {
            "description": "fail",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either success or fail"
                },
                "desc": {
                  "type": "string",
                  "description": "desc",
                  "title": "error description"
                }
              }
            }
          },
          "403": {
            "description": "fail",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "api key missing"
                }
              }
            }
          },
          "500": {
            "description": "fail",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either sucess or failure"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "internal error"
                }
              }
            }
          }
        },
        "summary": "ICD10 Auto-coding - From Discharge Summary Document",
        "description": "Smartly understand the disease from a Discharge Summary document without the need to set up any templates beforehand and does ICD10 auto-coding",
        "operationId": "ICD10Auto-coding-FromDischargeSummary",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "file_name": {
                        "type": "string",
                        "description": "file_name",
                        "title": "name of file (discharge summary)"
                      },
                      "file": {
                        "type": "string",
                        "description": "file",
                        "title": "base64 content of file (discharge summary)",
                        "format": "byte"
                      }
                    },
                    "required": [
                      "file",
                      "file_name"
                    ]
                  },
                  "description": "query"
                }
              },
              "required": [
                "query"
              ]
            }
          }
        ]
      }
    },
    "/icd_code_highlight": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "file_name": {
                        "type": "string",
                        "description": "input file name",
                        "title": "name of file"
                      },
                      "output_image": {
                        "type": "string",
                        "description": "base64 content of input file with highlighted disease names",
                        "title": "base64 highlighted"
                      }
                    }
                  },
                  "description": "result"
                }
              }
            }
          },
          "400": {
            "description": "fail",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either success or failure"
                },
                "desc": {
                  "type": "string",
                  "description": "desc",
                  "title": "error description"
                }
              }
            }
          },
          "403": {
            "description": "fail",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "api key missing"
                }
              }
            }
          },
          "500": {
            "description": "fail",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "request status either success or failure"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "internal error"
                }
              }
            }
          }
        },
        "summary": "Highlight disease and medical terms - From Discharge Summary Document",
        "description": "Automatically highlights the disease and other medical terms in a discharge summary document once uploaded",
        "operationId": "HighlightDisease_MedicalTerms",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "file_name": {
                        "type": "string",
                        "description": "file_name",
                        "title": "name of file (discharge summary)"
                      },
                      "file": {
                        "type": "string",
                        "description": "file",
                        "title": "base64 content of file (discharge summary)",
                        "format": "byte"
                      }
                    },
                    "required": [
                      "file",
                      "file_name"
                    ]
                  },
                  "description": "query"
                }
              },
              "required": [
                "query"
              ]
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://in-d.ai/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://in-d.ai/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;IT Operations"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}