{
  "swagger": "2.0",
  "info": {
    "title": "Square",
    "description": "Square helps millions of sellers run their business - from secure credit card processing to point of sale solutions.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.troystaylor.com",
      "email": "troy@troystaylor.com"
    }
  },
  "host": "connect.squareupsandbox.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/apple-pay/domains": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status of the domain registration.",
                  "title": "Status"
                }
              }
            }
          }
        },
        "summary": "Register domain for Apple Pay",
        "description": "Activates a domain for use with Apple Pay on the Web and Square. A validation is performed on this domain by Apple to ensure that it is properly set up as an Apple Pay enabled domain.",
        "operationId": "ApplePayRegister",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "domain_name": {
                  "type": "string",
                  "description": "A domain name as described in RFC-1034 that will be registered with Apple Pay.",
                  "title": "Domain Name"
                }
              },
              "required": [
                "domain_name"
              ]
            }
          }
        ]
      }
    },
    "/bank-accounts": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "bank_accounts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique, Square-issued identifier.",
                        "title": "ID"
                      },
                      "account_number_suffix": {
                        "type": "string",
                        "description": "The last few digits of the account number.",
                        "title": "Account Number Suffix"
                      },
                      "country": {
                        "type": "string",
                        "description": "The ISO 3166 Alpha-2 country code.",
                        "title": "Country"
                      },
                      "currency": {
                        "type": "string",
                        "description": "The 3-character ISO 4217 currency code.",
                        "title": "Currency"
                      },
                      "account_type": {
                        "type": "string",
                        "description": "The financial purpose of the associated bank account.",
                        "title": "Account Type"
                      },
                      "holder_name": {
                        "type": "string",
                        "description": "Name of the account holder. This name must match the name on the targeted bank account record.",
                        "title": "Holder Name"
                      },
                      "primary_bank_identification_number": {
                        "type": "string",
                        "description": "Primary identifier for the bank.",
                        "title": "Primary Bank Identification Number"
                      },
                      "location_id": {
                        "type": "string",
                        "description": "The identifier for the location.",
                        "title": "Location ID"
                      },
                      "status": {
                        "type": "string",
                        "description": "The current verification status of this object.",
                        "title": "Status"
                      },
                      "creditable": {
                        "type": "boolean",
                        "description": "Indicates whether it is possible for Square to send money to this bank account.",
                        "title": "Creditable"
                      },
                      "debitable": {
                        "type": "boolean",
                        "description": "Indicates whether it is possible for Square to send money to this bank account.",
                        "title": "Debitable"
                      },
                      "version": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The current version of the object.",
                        "title": "Version"
                      },
                      "bank_name": {
                        "type": "string",
                        "description": "Name of actual financial institution.",
                        "title": "Bank Name"
                      }
                    }
                  },
                  "title": "Bank Account"
                }
              }
            }
          }
        },
        "summary": "List bank accounts",
        "description": "Returns a list of BankAccount objects linked to a Square account.",
        "operationId": "BankAccountList",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor returned by a previous call to this endpoint.",
            "x-ms-summary": "Cursor",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Upper limit on the number to return in the response.",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer"
          },
          {
            "name": "location_id",
            "in": "query",
            "description": "You can specify this optional filter to retrieve only the records belonging to a specific location.",
            "x-ms-summary": "Location ID",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/bank-accounts/by-v1-id/{v1_bank_account_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "bank_account": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique, Square-issued identifier.",
                      "title": "ID"
                    },
                    "account_number_suffix": {
                      "type": "string",
                      "description": "The last few digits of the account number.",
                      "title": "Account Number Suffix"
                    },
                    "country": {
                      "type": "string",
                      "description": "The ISO 3166 Alpha-2 country code.",
                      "title": "Country"
                    },
                    "currency": {
                      "type": "string",
                      "description": "The 3-character ISO 4217 currency code.",
                      "title": "Currency"
                    },
                    "account_type": {
                      "type": "string",
                      "description": "The type of the account.",
                      "title": "Account Type"
                    },
                    "holder_name": {
                      "type": "string",
                      "description": "Name of the account holder.",
                      "title": "Holder Name"
                    },
                    "primary_bank_identification_number": {
                      "type": "string",
                      "description": "Primary identifier for the bank.",
                      "title": "Primary Bank Identification Number"
                    },
                    "location_id": {
                      "type": "string",
                      "description": "The identifier of the location.",
                      "title": "Location ID"
                    },
                    "status": {
                      "type": "string",
                      "description": "The current verification status of this object.",
                      "title": "Status"
                    },
                    "creditable": {
                      "type": "boolean",
                      "description": "Indicates whether it is possible for Square to send money to this account.",
                      "title": "Creditable"
                    },
                    "debitable": {
                      "type": "boolean",
                      "description": "Indicates whether it is possible for Square to take money from this account.",
                      "title": "Debitable"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current version of this object.",
                      "title": "Version"
                    },
                    "bank_name": {
                      "type": "string",
                      "description": "Name of actual financial institution.",
                      "title": "Bank Name"
                    }
                  },
                  "title": "Bank Account"
                }
              }
            }
          }
        },
        "summary": "Get bank account by V1 ID",
        "description": "Returns details of a BankAccount identified by V1 bank account ID.",
        "operationId": "BankAccountGetV1",
        "parameters": [
          {
            "name": "v1_bank_account_id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "Connect V1 ID of the desired BankAccount.",
            "x-ms-summary": "V1 Bank Account ID"
          }
        ]
      }
    },
    "/bank-accounts/{bank_account_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "bank_account": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique, Square-issued identifier.",
                      "title": "ID"
                    },
                    "account_number_suffix": {
                      "type": "string",
                      "description": "The last few digits of the account number.",
                      "title": "Account Number Suffix"
                    },
                    "country": {
                      "type": "string",
                      "description": "The ISO 3166 Alpha-2 country code.",
                      "title": "Country"
                    },
                    "currency": {
                      "type": "string",
                      "description": "The 3-character ISO 4217 currency code.",
                      "title": "Currency"
                    },
                    "account_type": {
                      "type": "string",
                      "description": "The type of the account.",
                      "title": "Account Type"
                    },
                    "holder_name": {
                      "type": "string",
                      "description": "Name of the account holder.",
                      "title": "Holder Name"
                    },
                    "primary_bank_identification_number": {
                      "type": "string",
                      "description": "Primary identifier for the bank.",
                      "title": "Primary Bank Identification Number"
                    },
                    "location_id": {
                      "type": "string",
                      "description": "The identifier of the location.",
                      "title": "Location ID"
                    },
                    "status": {
                      "type": "string",
                      "description": "The current verification status of this object.",
                      "title": "Status"
                    },
                    "creditable": {
                      "type": "boolean",
                      "description": "Indicates whether it is possible for Square to send money to this account.",
                      "title": "Creditable"
                    },
                    "debitable": {
                      "type": "boolean",
                      "description": "Indicates whether it is possible for Square to take money from this account.",
                      "title": "Debitable"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current version of this object.",
                      "title": "Version"
                    },
                    "bank_name": {
                      "type": "string",
                      "description": "Name of actual financial institution.",
                      "title": "Bank Name"
                    }
                  },
                  "title": "Bank Account"
                }
              }
            }
          }
        },
        "summary": "Get bank account",
        "description": "Returns details of a BankAccount linked to a Square account.",
        "operationId": "BankAccountGet",
        "parameters": [
          {
            "name": "bank_account_id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "Square-issued ID of the desired BankAccount.",
            "x-ms-summary": "Bank Account ID"
          }
        ]
      }
    },
    "/bookings": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "booking": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique, Square-issued identifier.",
                      "title": "ID"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current version of this object.",
                      "title": "Version"
                    },
                    "status": {
                      "type": "string",
                      "description": "The current verification status of this object.",
                      "title": "Status"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The timestamp specifying the creation time of this object, in RFC 3339 format.",
                      "title": "Created At"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "The timestamp specifying the most recent update time of this object, in RFC 3339 format.",
                      "title": "Updated At"
                    },
                    "location_id": {
                      "type": "string",
                      "description": "The identifier of the location.",
                      "title": "Location ID"
                    },
                    "customer_id": {
                      "type": "string",
                      "description": "The ID of this object representing the customer.",
                      "title": "Customer ID"
                    },
                    "customer_note": {
                      "type": "string",
                      "description": "The free-text field for the customer to supply notes about the booking.",
                      "title": "Customer Note"
                    },
                    "seller_note": {
                      "type": "string",
                      "description": "The free-text field for the seller to supply notes about the booking.",
                      "title": "Seller Note"
                    },
                    "start_at": {
                      "type": "string",
                      "description": "The timestamp specifying the starting time of this object, in RFC 3339 format.",
                      "title": "Start At"
                    },
                    "appointment_segments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "duration_minutes": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The time span in minutes of an appointment segment.",
                            "title": "Duration Minutes"
                          },
                          "service_variation_id": {
                            "type": "string",
                            "description": "The ID of the CatalogItemVariation object representing the service booked in this segment.",
                            "title": "Service Variation ID"
                          },
                          "team_member_id": {
                            "type": "string",
                            "description": "The ID of the TeamMember object representing the team member booked in this segment.",
                            "title": "Team Member ID"
                          },
                          "service_variation_version": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The current version of the item variation representing the service booked in this segment.",
                            "title": "Service Variation Version"
                          }
                        }
                      },
                      "title": "Appointment Segment"
                    }
                  },
                  "title": "Booking"
                },
                "errors": {
                  "type": "array",
                  "items": {},
                  "title": "Errors"
                }
              }
            }
          }
        },
        "summary": "Create booking (Beta)",
        "description": "Creates a booking.",
        "operationId": "BookingCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "booking": {
                  "type": "object",
                  "properties": {
                    "customer_id": {
                      "type": "string",
                      "description": "The ID of this object representing the customer.",
                      "title": "Customer ID"
                    },
                    "start_at": {
                      "type": "string",
                      "description": "The timestamp specifying the starting time of this object, in RFC 3339 format.",
                      "title": "Start At"
                    },
                    "location_id": {
                      "type": "string",
                      "description": "The identifier of the location.",
                      "title": "Location ID"
                    },
                    "appointment_segments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "duration_minutes": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The time span in minutes of an appointment segment.",
                            "title": "Duration Minutes"
                          },
                          "team_member_id": {
                            "type": "string",
                            "description": "The ID of the TeamMember object representing the team member booked in this segment.",
                            "title": "Team Member ID"
                          },
                          "service_variation_id": {
                            "type": "string",
                            "description": "The ID of the CatalogItemVariation object representing the service booked in this segment.",
                            "title": "Service Variation ID"
                          },
                          "service_variation_version": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The current version of the item variation representing the service booked in this segment.",
                            "title": "Service Variation Version"
                          }
                        }
                      },
                      "title": "Appointment Segment"
                    }
                  },
                  "title": "Booking"
                }
              }
            }
          }
        ]
      }
    },
    "/bookings/availability/search": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "availabilities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "start_at": {
                        "type": "string",
                        "description": "The RFC 3339 timestamp specifying the beginning time of the slot available.",
                        "title": "Start At"
                      },
                      "location_id": {
                        "type": "string",
                        "description": "The identifier for the location.",
                        "title": "Location ID"
                      },
                      "appointment_segments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "duration_minutes": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The time span in minutes of an appointment segment.",
                              "title": "Duration Minutes"
                            },
                            "team_member_id": {
                              "type": "string",
                              "description": "The ID of the TeamMember object representing the team member booked in this segment.",
                              "title": "Team Member ID"
                            },
                            "service_variation_id": {
                              "type": "string",
                              "description": "The ID of the CatalogItemVariation object representing the service booked in this segment.",
                              "title": "Service Variation ID"
                            },
                            "service_variation_version": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The current version of the item variation representing the service booked in this segment.",
                              "title": "Service Variation Version"
                            }
                          }
                        },
                        "title": "Appointment Segments"
                      }
                    }
                  },
                  "title": "Availabilities"
                },
                "errors": {
                  "type": "array",
                  "items": {},
                  "title": "Errors"
                }
              }
            }
          }
        },
        "summary": "Search availability (Beta)",
        "description": "Searches for availabilities for booking.",
        "operationId": "BookingAvailability",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "object",
                  "properties": {
                    "filter": {
                      "type": "object",
                      "properties": {
                        "start_at_range": {
                          "type": "object",
                          "properties": {
                            "start_at": {
                              "type": "string",
                              "description": "A datetime value in RFC 3339 format indicating when the time range starts.",
                              "title": "Start At"
                            },
                            "end_at": {
                              "type": "string",
                              "description": "A datetime value in RFC 3339 format indicating when the time range ends.",
                              "title": "End At"
                            }
                          },
                          "title": "Start At Range"
                        },
                        "location_id": {
                          "type": "string",
                          "description": "The query expression to search for availabilities matching the specified seller location IDs.",
                          "title": "Location ID"
                        },
                        "segment_filters": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "service_variation_id": {
                                "type": "string",
                                "description": "The ID of the CatalogItemVariation representing the service booked in this segment.",
                                "title": "Service Variation ID"
                              },
                              "team_member_id_filter": {
                                "type": "object",
                                "properties": {
                                  "any": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "title": "Any"
                                  }
                                },
                                "title": "Team Member ID Filter"
                              }
                            }
                          },
                          "title": "Segment Filters"
                        }
                      },
                      "title": "Filter"
                    }
                  },
                  "title": "Query"
                }
              }
            }
          }
        ]
      }
    },
    "/bookings/business-booking-profile": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "business_booking_profile": {
                  "type": "object",
                  "properties": {
                    "seller_id": {
                      "type": "string",
                      "description": "The ID of the seller, obtainable using the Merchants API.",
                      "title": "Seller ID"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The timestamp specifying the creation time of this object, in RFC 3339 format.",
                      "title": "Created At"
                    },
                    "booking_enabled": {
                      "type": "boolean",
                      "description": "Indicates whether the seller is open for booking.",
                      "title": "Booking Enabled"
                    },
                    "customer_timezone_choice": {
                      "type": "string",
                      "description": "The choice of customer's time zone information of a booking. The Square online booking site and all notifications to customers uses either the seller location’s time zone or the time zone the customer chooses at booking.",
                      "title": "Customer Timezone Choice"
                    },
                    "booking_policy": {
                      "type": "string",
                      "description": "The policy for the seller to automatically accept booking requests (ACCEPT_ALL) or not (REQUIRES_ACCEPTANCE).",
                      "title": "Booking Policy"
                    },
                    "allow_user_cancel": {
                      "type": "boolean",
                      "description": "Indicates whether customers can cancel or reschedule their own bookings (true) or not (false).",
                      "title": "Allow User Cancel"
                    },
                    "business_appointment_settings": {
                      "type": "object",
                      "properties": {
                        "location_types": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "title": "Location Types"
                        },
                        "alignment_time": {
                          "type": "string",
                          "description": "The time unit of the service duration for bookings.",
                          "title": "Alignment Time"
                        },
                        "min_booking_lead_time_seconds": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The minimum lead time in seconds before a service can be booked. Bookings must be created at least this far ahead of the booking's starting time.",
                          "title": "Min Booking Tead Time Seconds"
                        },
                        "max_booking_lead_time_seconds": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum lead time in seconds before a service can be booked. Bookings must be created at most this far ahead of the booking's starting time.",
                          "title": "Max Booking Lead Time Seconds"
                        },
                        "any_team_member_booking_enabled": {
                          "type": "boolean",
                          "description": "Indicates whether a customer can choose from all available time slots and have a staff member assigned automatically (true) or not (false).",
                          "title": "Any Team Member Booking Enabled"
                        },
                        "multiple_service_booking_enabled": {
                          "type": "boolean",
                          "description": "Indicates whether a customer can book multiple services in a single online booking.",
                          "title": "Multiple Service Booking Enabled"
                        },
                        "cancellation_fee_money": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "string",
                              "description": "The amount of money, in the smallest denomination of the currency indicated by currency",
                              "title": "Amount"
                            },
                            "currency": {
                              "type": "string",
                              "description": "The type of currency, in ISO 4217 format.",
                              "title": "Currency"
                            }
                          },
                          "title": "Cancellation Fee Money"
                        },
                        "cancellation_policy": {
                          "type": "string",
                          "description": "The cancellation policy adopted by the seller.",
                          "title": "Cancellation Policy"
                        },
                        "skip_booking_flow_staff_selection": {
                          "type": "boolean",
                          "description": "Indicates whether customers has an assigned staff member (true) or can select s staff member of their choice (false).",
                          "title": "Skip Booking Flow Staff Selection"
                        }
                      },
                      "title": "Business Appointment Settings"
                    }
                  },
                  "title": "Business Booking Profile"
                },
                "errors": {
                  "type": "array",
                  "items": {},
                  "title": "Errors"
                }
              }
            }
          }
        },
        "summary": "Retrieve business booking profile (Beta)",
        "operationId": "BookingRetrieveProfile",
        "description": "Retrieves a seller's booking profile.",
        "parameters": []
      }
    },
    "/bookings/team-member-booking-profiles": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "team_member_booking_profiles": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "team_member_id": {
                        "type": "string",
                        "description": "The ID of the TeamMember object for the team member associated with the object.",
                        "title": "Team Member ID"
                      },
                      "display_name": {
                        "type": "string",
                        "description": "The display name of the team member.",
                        "title": "Display Name"
                      },
                      "is_bookable": {
                        "type": "boolean",
                        "description": "Indicates whether the team member can be booked through the Bookings API or the seller's online booking channel or site (true) or not (false`).",
                        "title": "Is Bookable"
                      }
                    }
                  },
                  "title": "Team Member Booking Profiles"
                },
                "errors": {
                  "type": "array",
                  "items": {},
                  "title": "Errors"
                }
              }
            }
          }
        },
        "summary": "List team member booking profiles (Beta)",
        "description": "Lists booking profiles for team members.",
        "operationId": "BookingListTeamProfiles",
        "parameters": [
          {
            "name": "bookable_only",
            "in": "query",
            "description": "Indicates whether to include only bookable team members in the returned result (true) or not (false).",
            "x-ms-summary": "Bookable Only",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Upper limit on the number to return in the response.",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor returned by a previous call to this endpoint.",
            "x-ms-summary": "Cursor",
            "required": false,
            "type": "string"
          },
          {
            "name": "location_id",
            "in": "query",
            "description": "You can specify this optional filter to retrieve only the records belonging to a specific location.",
            "x-ms-summary": "Location ID",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/cards": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "cards": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "card": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier of the object",
                            "title": "ID"
                          },
                          "billing_address": {
                            "type": "object",
                            "properties": {
                              "address_line_1": {
                                "type": "string",
                                "description": "Fields that start with address_line provide the address's most specific details, like street number, street name, and building name.",
                                "title": "Address Line 1"
                              },
                              "address_line_2": {
                                "type": "string",
                                "description": "The second line of the address, if any.",
                                "title": "Address Line 2"
                              },
                              "locality": {
                                "type": "string",
                                "description": "The city or town of the address.",
                                "title": "Locality"
                              },
                              "administrative_district_level_1": {
                                "type": "string",
                                "description": "A civil entity within the address's country. In the US, this is the state.",
                                "title": "Administrative District Level 1"
                              },
                              "postal_code": {
                                "type": "string",
                                "description": "The address's postal code.",
                                "title": "Postal Code"
                              },
                              "country": {
                                "type": "string",
                                "description": "The address's country, in ISO 3166-1-alpha-2 format.",
                                "title": "Country"
                              }
                            },
                            "title": "Billing Address"
                          },
                          "fingerprint": {
                            "type": "string",
                            "description": "Intended as a Square-assigned identifier, based on the card number, to identify the card across multiple locations within a single application.",
                            "title": "Fingerprint"
                          },
                          "bin": {
                            "type": "string",
                            "description": "The first six digits of the card number, known as the Bank Identification Number (BIN).",
                            "title": "BIN"
                          },
                          "card_brand": {
                            "type": "string",
                            "description": "The card's brand.",
                            "title": "Card Brand"
                          },
                          "card_type": {
                            "type": "string",
                            "description": "The type of the card.",
                            "title": "Card Type"
                          },
                          "cardholder_name": {
                            "type": "string",
                            "description": "The name of the cardholder.",
                            "title": "Cardholder Name"
                          },
                          "customer_id": {
                            "type": "string",
                            "description": "The ID of a customer to be associated with the card.",
                            "title": "Customer ID"
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Indicates whether or not an object can be used.",
                            "title": "Enabled"
                          },
                          "exp_month": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The expiration month of the associated card as an integer between 1 and 12.",
                            "title": "Expiration Month"
                          },
                          "exp_year": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The four-digit year of the card's expiration date.",
                            "title": "Expiration Year"
                          },
                          "last_4": {
                            "type": "string",
                            "description": "The last 4 digits of the card number.",
                            "title": "Last 4"
                          },
                          "prepaid_type": {
                            "type": "string",
                            "description": "Indicates whether the Card is prepaid or not.",
                            "title": "Prepaid Type"
                          },
                          "reference_id": {
                            "type": "string",
                            "description": "An optional user-defined reference ID that associates this card with another entity in an external system.",
                            "title": "Reference ID"
                          },
                          "version": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Current version number of the card. Increments with each card update. Requests to update an existing Card object will be rejected unless the version in the request matches the current version for the Card.",
                            "title": "Version"
                          }
                        },
                        "title": "Card"
                      }
                    }
                  },
                  "title": "Cards"
                }
              }
            }
          }
        },
        "summary": "List cards",
        "description": "Retrieves a list of cards owned by the account making the request.",
        "operationId": "CardList",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor returned by a previous call to this endpoint.",
            "x-ms-summary": "Cursor",
            "required": false,
            "type": "string"
          },
          {
            "name": "customer_id",
            "in": "query",
            "description": "Limit results to cards associated with the customer supplied. By default, all cards owned by the merchant are returned.",
            "x-ms-summary": "Customer ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "include_disabled",
            "in": "query",
            "description": "Includes disabled cards. By default, all enabled cards owned by the merchant are returned.",
            "x-ms-summary": "Include Disabled",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "reference_id",
            "in": "query",
            "description": "Limit results to cards associated with the reference_id supplied.",
            "x-ms-summary": "Reference ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sorts the returned list by when the card was created with the specified order.",
            "x-ms-summary": "Sort Order",
            "enum": [
              "ASC",
              "DESC"
            ],
            "default": "ASC",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "card": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique, Square-issued identifier.",
                      "title": "ID"
                    },
                    "billing_address": {
                      "type": "object",
                      "properties": {
                        "address_line_1": {
                          "type": "string",
                          "description": "The first line of the address. Fields that start with address_line provide the address's most specific details, like street number, street name, and building name.",
                          "title": "Address Line 1"
                        },
                        "address_line_2": {
                          "type": "string",
                          "description": "The second line of the address, if any.",
                          "title": "Address Line 2"
                        },
                        "locality": {
                          "type": "string",
                          "description": "The city or town of the address.",
                          "title": "Locality"
                        },
                        "administrative_district_level_1": {
                          "type": "string",
                          "description": "A civil entity within the address's country. In the US, this is the state.",
                          "title": "Administrative District Level 1"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "The address's postal code.",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "The address's country, in ISO 3166-1-alpha-2 format.",
                          "title": "Country"
                        }
                      },
                      "title": "Billing Address"
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "Intended as a Square-assigned identifier, based on the card number, to identify the card across multiple locations within a single application.",
                      "title": "Fingerprint"
                    },
                    "bin": {
                      "type": "string",
                      "description": "The first six digits of the card number, known as the Bank Identification Number (BIN).",
                      "title": "BIN"
                    },
                    "card_brand": {
                      "type": "string",
                      "description": "The card's brand.",
                      "title": "Card Brand"
                    },
                    "card_type": {
                      "type": "string",
                      "description": "The type of the card.",
                      "title": "Card Type"
                    },
                    "cardholder_name": {
                      "type": "string",
                      "description": "The name of the cardholder.",
                      "title": "Cardholder Name"
                    },
                    "customer_id": {
                      "type": "string",
                      "description": "The ID of this object representing the customer.",
                      "title": "Customer ID"
                    },
                    "enabled": {
                      "type": "boolean",
                      "description": "Whether enabled.",
                      "title": "Enabled"
                    },
                    "exp_month": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The expiration month of the associated card as an integer between 1 and 12.",
                      "title": "Exp Month"
                    },
                    "exp_year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The four-digit year of the card's expiration date.",
                      "title": "Exp Year"
                    },
                    "last_4": {
                      "type": "string",
                      "description": "The last 4 digits of the card number.",
                      "title": "Last 4"
                    },
                    "prepaid_type": {
                      "type": "string",
                      "description": "Indicates whether the Card is prepaid or not.",
                      "title": "Prepaid Type"
                    },
                    "reference_id": {
                      "type": "string",
                      "description": "An optional user-defined reference ID.",
                      "title": "Reference ID"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current version of this object.",
                      "title": "Version"
                    }
                  },
                  "title": "Card"
                }
              }
            }
          }
        },
        "summary": "Create card",
        "description": "Adds a card on file to an existing merchant.",
        "operationId": "CardCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "idempotency_key": {
                  "type": "string",
                  "description": "The idempotency key.",
                  "title": "Idempotency Key"
                },
                "source_id": {
                  "type": "string",
                  "description": "The identifier of the source.",
                  "title": "Source ID"
                },
                "card": {
                  "type": "object",
                  "properties": {
                    "billing_address": {
                      "type": "object",
                      "properties": {
                        "address_line_1": {
                          "type": "string",
                          "description": "The first line of the address. Fields that start with address_line provide the address's most specific details, like street number, street name, and building name.",
                          "title": "Address Line 1"
                        },
                        "address_line_2": {
                          "type": "string",
                          "description": "The second line of the address, if any.",
                          "title": "Address Line 2"
                        },
                        "locality": {
                          "type": "string",
                          "description": "The city or town of the address.",
                          "title": "Locality"
                        },
                        "administrative_district_level_1": {
                          "type": "string",
                          "description": "A civil entity within the address's country. In the US, this is the state.",
                          "title": "Administrative District Level 1"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "The address's postal code.",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "The address's country, in ISO 3166-1-alpha-2 format.",
                          "title": "Country"
                        }
                      },
                      "title": "Billing Address"
                    },
                    "cardholder_name": {
                      "type": "string",
                      "description": "The name of the cardholder.",
                      "title": "Cardholder Name"
                    },
                    "customer_id": {
                      "type": "string",
                      "description": "The ID of this object representing the customer.",
                      "title": "Customer ID"
                    },
                    "reference_id": {
                      "type": "string",
                      "description": "An optional user-defined reference ID.",
                      "title": "Reference ID"
                    }
                  },
                  "title": "Card"
                }
              }
            }
          }
        ]
      }
    },
    "/cards/{card_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "card": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique, Square-issued identifier.",
                      "title": "ID"
                    },
                    "billing_address": {
                      "type": "object",
                      "properties": {
                        "address_line_1": {
                          "type": "string",
                          "description": "The first line of the address. Fields that start with address_line provide the address's most specific details, like street number, street name, and building name.",
                          "title": "Address Line 1"
                        },
                        "address_line_2": {
                          "type": "string",
                          "description": "The second line of the address, if any.",
                          "title": "Address Line 2"
                        },
                        "locality": {
                          "type": "string",
                          "description": "The city or town of the address.",
                          "title": "Locality"
                        },
                        "administrative_district_level_1": {
                          "type": "string",
                          "description": "A civil entity within the address's country. In the US, this is the state.",
                          "title": "Administrative District Level 1"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "The address's postal code.",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "The address's country, in ISO 3166-1-alpha-2 format.",
                          "title": "Country"
                        }
                      },
                      "title": "Billing Address"
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "Intended as a Square-assigned identifier, based on the card number, to identify the card across multiple locations within a single application.",
                      "title": "Fingerprint"
                    },
                    "bin": {
                      "type": "string",
                      "description": "The first six digits of the card number, known as the Bank Identification Number (BIN).",
                      "title": "BIN"
                    },
                    "card_brand": {
                      "type": "string",
                      "description": "The card's brand.",
                      "title": "Card Brand"
                    },
                    "card_type": {
                      "type": "string",
                      "description": "The type of the card.",
                      "title": "Card Type"
                    },
                    "cardholder_name": {
                      "type": "string",
                      "description": "The name of the cardholder.",
                      "title": "Cardholder Name"
                    },
                    "customer_id": {
                      "type": "string",
                      "description": "The ID of this object representing the customer.",
                      "title": "Customer ID"
                    },
                    "enabled": {
                      "type": "boolean",
                      "description": "Whether enabled.",
                      "title": "Enabled"
                    },
                    "exp_month": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The expiration month of the associated card as an integer between 1 and 12.",
                      "title": "Exp Month"
                    },
                    "exp_year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The four-digit year of the card's expiration date.",
                      "title": "Exp Year"
                    },
                    "last_4": {
                      "type": "string",
                      "description": "The last 4 digits of the card number.",
                      "title": "Last 4"
                    },
                    "prepaid_type": {
                      "type": "string",
                      "description": "Indicates whether the Card is prepaid or not.",
                      "title": "Prepaid Type"
                    },
                    "reference_id": {
                      "type": "string",
                      "description": "An optional user-defined reference ID.",
                      "title": "Reference ID"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current version of this object.",
                      "title": "Version"
                    }
                  },
                  "title": "Card"
                }
              }
            }
          }
        },
        "summary": "Retrieve card",
        "description": "Retrieves details for a specific Card.",
        "operationId": "CardRetrieve",
        "parameters": [
          {
            "name": "card_id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-summary": "Card ID",
            "description": "The identifier of the card."
          }
        ]
      }
    },
    "/cards/{card_id}/disable": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "card": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique, Square-issued identifier.",
                      "title": "ID"
                    },
                    "billing_address": {
                      "type": "object",
                      "properties": {
                        "address_line_1": {
                          "type": "string",
                          "description": "The first line of the address. Fields that start with address_line provide the address's most specific details, like street number, street name, and building name.",
                          "title": "Address Line 1"
                        },
                        "address_line_2": {
                          "type": "string",
                          "description": "The second line of the address, if any.",
                          "title": "Address Line 2"
                        },
                        "locality": {
                          "type": "string",
                          "description": "The city or town of the address.",
                          "title": "Locality"
                        },
                        "administrative_district_level_1": {
                          "type": "string",
                          "description": "A civil entity within the address's country. In the US, this is the state.",
                          "title": "Administrative District Level 1"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "The address's postal code.",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "The address's country, in ISO 3166-1-alpha-2 format.",
                          "title": "Country"
                        }
                      },
                      "title": "Billing Address"
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "Intended as a Square-assigned identifier, based on the card number, to identify the card across multiple locations within a single application.",
                      "title": "Fingerprint"
                    },
                    "bin": {
                      "type": "string",
                      "description": "The first six digits of the card number, known as the Bank Identification Number (BIN).",
                      "title": "BIN"
                    },
                    "card_brand": {
                      "type": "string",
                      "description": "The card's brand.",
                      "title": "Card Brand"
                    },
                    "card_type": {
                      "type": "string",
                      "description": "The type of the card.",
                      "title": "Card Type"
                    },
                    "cardholder_name": {
                      "type": "string",
                      "description": "The name of the cardholder.",
                      "title": "Cardholder Name"
                    },
                    "customer_id": {
                      "type": "string",
                      "description": "The ID of this object representing the customer.",
                      "title": "Customer ID"
                    },
                    "enabled": {
                      "type": "boolean",
                      "description": "Whether enabled.",
                      "title": "Enabled"
                    },
                    "exp_month": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The expiration month of the associated card as an integer between 1 and 12.",
                      "title": "Exp Month"
                    },
                    "exp_year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The four-digit year of the card's expiration date.",
                      "title": "Exp Year"
                    },
                    "last_4": {
                      "type": "string",
                      "description": "The last 4 digits of the card number.",
                      "title": "Last 4"
                    },
                    "prepaid_type": {
                      "type": "string",
                      "description": "Indicates whether the Card is prepaid or not.",
                      "title": "Prepaid Type"
                    },
                    "reference_id": {
                      "type": "string",
                      "description": "An optional user-defined reference ID.",
                      "title": "Reference ID"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current version of this object.",
                      "title": "Version"
                    }
                  },
                  "title": "Card"
                }
              }
            }
          }
        },
        "summary": "Disable card",
        "description": "Disables the card, preventing any further updates or charges. Disabling an already disabled card is allowed but has no effect.",
        "operationId": "CardDisable",
        "parameters": [
          {
            "name": "card_id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-summary": "Card ID",
            "description": "The identifier of the card."
          }
        ]
      }
    },
    "/card.automatically_updated": {
      "x-ms-notification-content": {
        "description": "Response"
      }
    },
    "/cash-drawers/shifts": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique, Square-issued identifier.",
                        "title": "ID"
                      },
                      "state": {
                        "type": "string",
                        "description": "The current state.",
                        "title": "State"
                      },
                      "opened_at": {
                        "type": "string",
                        "description": "The shift start time in ISO 8601 format.",
                        "title": "Opened At"
                      },
                      "ended_at": {
                        "type": "string",
                        "description": "The shift end time in ISO 8601 format.",
                        "title": "Ended At"
                      },
                      "closed_at": {
                        "type": "string",
                        "description": "The shift close time in ISO 8601 format.",
                        "title": "Closed At"
                      },
                      "title": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "opened_cash_money": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The amount.",
                            "title": "Amount"
                          },
                          "currency": {
                            "type": "string",
                            "description": "The currency.",
                            "title": "Currency"
                          }
                        },
                        "title": "Opened Cash Money"
                      },
                      "expected_cash_money": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The amount.",
                            "title": "Amount"
                          },
                          "currency": {
                            "type": "string",
                            "description": "The currency.",
                            "title": "Currency"
                          }
                        },
                        "title": "Expected Cash Money"
                      },
                      "closed_cash_money": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The amount.",
                            "title": "Amount"
                          },
                          "currency": {
                            "type": "string",
                            "description": "The currency.",
                            "title": "Currency"
                          }
                        },
                        "title": "Closed Cash Money"
                      }
                    }
                  },
                  "title": "Items"
                }
              }
            }
          }
        },
        "summary": "List cash drawer shifts",
        "description": "Provides the details for all of the cash drawer shifts for a location in a date range.",
        "operationId": "CashDrawerListShifts",
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "description": "You can specify this optional filter to retrieve only the records belonging to a specific location.",
            "x-ms-summary": "Location ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sorts the returned list by when the card was created with the specified order.",
            "x-ms-summary": "Sort Order",
            "enum": [
              "ASC",
              "DESC"
            ],
            "default": "ASC",
            "required": false,
            "type": "string"
          },
          {
            "name": "begin_time",
            "in": "query",
            "description": "The inclusive start time of the query on opened_at, in ISO 8601 format.",
            "x-ms-summary": "Begin Time",
            "required": false,
            "type": "string"
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "The exclusive end date of the query on opened_at, in ISO 8601 format.",
            "x-ms-summary": "End Time",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Upper limit on the number to return in the response.",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor returned by a previous call to this endpoint.",
            "x-ms-summary": "Cursor",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/cash-drawers/shifts/{shift_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "cash_drawer_shift": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique, Square-issued identifier.",
                      "title": "ID"
                    },
                    "state": {
                      "type": "string",
                      "description": "The current state.",
                      "title": "State"
                    },
                    "opened_at": {
                      "type": "string",
                      "description": "The time when the shift began, in ISO 8601 format.",
                      "title": "Opened At"
                    },
                    "ended_at": {
                      "type": "string",
                      "description": "The time when the shift ended, in ISO 8601 format.",
                      "title": "Ended At"
                    },
                    "closed_at": {
                      "type": "string",
                      "description": "The time when closed, in ISO 8601 format.",
                      "title": "Closed At"
                    },
                    "opening_employee_id": {
                      "type": "string",
                      "description": "The ID of the employee that started the cash drawer shift.",
                      "title": "Opening Employee ID"
                    },
                    "ending_employee_id": {
                      "type": "string",
                      "description": "The ID of the employee that ended the cash drawer shift.",
                      "title": "Ending Employee ID"
                    },
                    "closing_employee_id": {
                      "type": "string",
                      "description": "The ID of the employee that closed the cash drawer shift by auditing the cash drawer contents.",
                      "title": "Closing Employee ID"
                    },
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "opened_cash_money": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The amount.",
                          "title": "Amount"
                        },
                        "currency": {
                          "type": "string",
                          "description": "The currency.",
                          "title": "Currency"
                        }
                      },
                      "title": "Opened Cash Money"
                    },
                    "cash_payment_money": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The amount.",
                          "title": "Amount"
                        },
                        "currency": {
                          "type": "string",
                          "description": "The currency.",
                          "title": "Currency"
                        }
                      },
                      "title": "Cash Payment Money"
                    },
                    "cash_refunds_money": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The amount.",
                          "title": "Amount"
                        },
                        "currency": {
                          "type": "string",
                          "description": "The currency.",
                          "title": "Currency"
                        }
                      },
                      "title": "Cash Refunds Money"
                    },
                    "cash_paid_in_money": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The amount.",
                          "title": "Amount"
                        },
                        "currency": {
                          "type": "string",
                          "description": "The currency.",
                          "title": "Currency"
                        }
                      },
                      "title": "Cash Paid In Money"
                    },
                    "cash_paid_out_money": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The amount.",
                          "title": "Amount"
                        },
                        "currency": {
                          "type": "string",
                          "description": "The currency.",
                          "title": "Currency"
                        }
                      },
                      "title": "Cash Paid Out Money"
                    },
                    "expected_cash_money": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The amount.",
                          "title": "Amount"
                        },
                        "currency": {
                          "type": "string",
                          "description": "The currency.",
                          "title": "Currency"
                        }
                      },
                      "title": "Expected Cash Money"
                    },
                    "closed_cash_money": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The amount.",
                          "title": "Amount"
                        },
                        "currency": {
                          "type": "string",
                          "description": "The currency.",
                          "title": "Currency"
                        }
                      },
                      "title": "Closed Cash Money"
                    },
                    "device": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        }
                      },
                      "title": "Device"
                    }
                  },
                  "title": "Cash Drawer Shift"
                }
              }
            }
          }
        },
        "summary": "Retrieve cash drawer shift",
        "description": "Provides the summary details for a single cash drawer shift.",
        "operationId": "CashDrawerRetrieveShift",
        "parameters": [
          {
            "name": "shift_id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-summary": "Shift ID",
            "description": "The identifier of the shift."
          },
          {
            "name": "location_id",
            "in": "query",
            "description": "You can specify this optional filter to retrieve only the records belonging to a specific location.",
            "x-ms-summary": "Location ID",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/cash-drawers/shifts/{shift_id}/events": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "events": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique, Square-issued identifier.",
                        "title": "ID"
                      },
                      "event_type": {
                        "type": "string",
                        "description": "The type of cash drawer shift event.",
                        "title": "Event Type"
                      },
                      "event_money": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The amount.",
                            "title": "Amount"
                          },
                          "currency": {
                            "type": "string",
                            "description": "The currency.",
                            "title": "Currency"
                          }
                        },
                        "title": "Event Money"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "The event time in ISO 8601 format.",
                        "title": "Created At"
                      },
                      "title": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      }
                    }
                  },
                  "title": "Events"
                }
              }
            }
          }
        },
        "summary": "List cash drawer shift events",
        "description": "Provides a paginated list of events for a single cash drawer shift.",
        "operationId": "CashDrawerListEvents",
        "parameters": [
          {
            "name": "shift_id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-summary": "Shift ID",
            "description": "The identifier of the shift."
          },
          {
            "name": "location_id",
            "in": "query",
            "description": "You can specify this optional filter to retrieve only the records belonging to a specific location.",
            "x-ms-summary": "Location ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Upper limit on the number to return in the response.",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor returned by a previous call to this endpoint.",
            "x-ms-summary": "Cursor",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/catalog/batch-delete": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "deleted_object_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Deleted Object IDs"
                },
                "deleted_at": {
                  "type": "string",
                  "description": "The database timestamp of this deletion in RFC 3339 format",
                  "title": "Deleted At"
                }
              }
            }
          }
        },
        "summary": "Batch delete catalog objects",
        "description": "Deletes a set of CatalogItems based on the provided list of target IDs and returns a set of successfully deleted IDs in the response.",
        "operationId": "CatalogBatchDelete",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "object_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Object IDs"
                }
              }
            }
          }
        ]
      }
    },
    "/catalog/batch-retrieve": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "objects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of this object.",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The unique, Square-issued identifier.",
                        "title": "ID"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Last modification timestamp in RFC 3339 format",
                        "title": "Updated At"
                      },
                      "version": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The current version of the object.",
                        "title": "Version"
                      },
                      "is_deleted": {
                        "type": "boolean",
                        "description": "If true, the object has been deleted from the database. Must be false for new objects being inserted. When deleted, the updated_at field will equal the deletion time.",
                        "title": "Is Deleted"
                      },
                      "present_at_all_locations": {
                        "type": "boolean",
                        "description": "If true, this object is present at all locations (including future locations), except where specified in the absent_at_location_ids field. If false, this object is not present at any locations (including future locations), except where specified in the present_at_location_ids field. If not specified, defaults to true.",
                        "title": "Present at All Locations"
                      },
                      "item_data": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The item's name. This is a searchable attribute for use in applicable query filters, its value must not be empty, and the length is of Unicode code points.",
                            "title": "Name"
                          },
                          "title": {
                            "type": "string",
                            "description": "The item's description. This is a searchable attribute for use in applicable query filters, and its value length is of Unicode code points.",
                            "title": "Description"
                          },
                          "category_id": {
                            "type": "string",
                            "description": "The ID of the item's category, if any.",
                            "title": "Category ID"
                          },
                          "tax_ids": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "title": "Tax IDs"
                          },
                          "variations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type of this object. Each object type has expected properties expressed in a structured format within its corresponding *_data field below.",
                                  "title": "Type"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "An identifier to reference this object.",
                                  "title": "ID"
                                },
                                "updated_at": {
                                  "type": "string",
                                  "description": "Last modification timestamp in RFC 3339 format",
                                  "title": "Updated At"
                                },
                                "version": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The version of the object. When updating an object, the version supplied must match the version in the database, otherwise the write will be rejected as conflicting.",
                                  "title": "Version"
                                },
                                "is_deleted": {
                                  "type": "boolean",
                                  "description": "If true, the object has been deleted from the database. Must be false for new objects being inserted. When deleted, the updated_at field will equal the deletion time.",
                                  "title": "Is Deleted"
                                },
                                "present_at_all_locations": {
                                  "type": "boolean",
                                  "description": "A list of locations where the object is present, even if present_at_all_locations is false. This can include locations that are deactivated.",
                                  "title": "Present At All Locations"
                                },
                                "item_variation_data": {
                                  "type": "object",
                                  "properties": {
                                    "item_id": {
                                      "type": "string",
                                      "description": "The ID of the object with this item variation.",
                                      "title": "Item ID"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "This item's name. This is a searchable attribute for use in applicable query filters, and its value length is of Unicode code points.",
                                      "title": "Name"
                                    },
                                    "ordinal": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The order in which this item variation should be displayed. This value is read-only.",
                                      "title": "Ordinal"
                                    },
                                    "pricing_type": {
                                      "type": "string",
                                      "description": "Indicates whether the item variation's price is fixed or determined at the time of sale.",
                                      "title": "Pricing Type"
                                    },
                                    "price_money": {
                                      "type": "object",
                                      "properties": {
                                        "amount": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "The amount of money, in the smallest denomination of the currency indicated by currency. For example, when currency is USD, amount is in cents. Monetary amounts can be positive or negative. See the specific field description to determine the meaning of the sign in a particular case.",
                                          "title": "Amount"
                                        },
                                        "currency": {
                                          "type": "string",
                                          "description": "The type of currency, in ISO 4217 format. For example, the currency code for US dollars is USD.",
                                          "title": "Currency"
                                        }
                                      },
                                      "title": "Price Money"
                                    }
                                  },
                                  "title": "Item Variation Data"
                                }
                              }
                            },
                            "title": "Variations"
                          }
                        },
                        "title": "Item Data"
                      }
                    }
                  },
                  "title": "Objects"
                },
                "related_objects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of this object.",
                        "title": "Type"
                      },
                      "id": {
[...]
