{
  "swagger": "2.0",
  "info": {
    "title": "Power Textor",
    "description": "With the Power Textor connector, send SMS messages to your customers and get push notifications when a text message is received. Build brand loyalty by a one-on-one conversation with customers with Power Textor actions that support a range of text message sending options; including on-demand SMS, scheduled SMS, event reminders, and Google Review requests. Each functionality is available for an individual number or a group of numbers.",
    "version": "1.0",
    "contact": {
      "name": "Power Textor Support",
      "url": "https://powertextor.com/#contact",
      "email": "info@powertextor.com"
    }
  },
  "host": "connectorservices.powertextor.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/messages/send": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Indicates whether action run successfully or not. True if action run successfully otherwise false.",
                  "title": "Success",
                  "enum": [
                    true,
                    false
                  ]
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "Message": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Message"
                    }
                  },
                  "description": "Error"
                },
                "Data": {
                  "type": "object",
                  "properties": {
                    "CampaignId": {
                      "type": "string",
                      "description": "ID of the campaign associated with sent message.",
                      "title": "CampaignId"
                    },
                    "AccountId": {
                      "type": "string",
                      "description": "ID of the account associated with sent message.",
                      "title": "AccountId"
                    },
                    "Type": {
                      "type": "string",
                      "description": "Type defines the category in which sent message lies i.e Message or Review",
                      "title": "Type"
                    },
                    "Body": {
                      "type": "string",
                      "description": "Body",
                      "title": "Body of the message."
                    },
                    "SendDate": {
                      "type": "string",
                      "description": "Date and time on which message should be deliverd. Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "SendDate"
                    },
                    "PlaceId": {
                      "type": "string",
                      "description": "ID of the place associated with sent message, if any.",
                      "title": "PlaceId"
                    },
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "CreatedAt": {
                      "type": "string",
                      "description": "Date and time on which message is created.Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "CreatedAt"
                    },
                    "CreatedBy": {
                      "type": "string",
                      "description": "ID of the sender.",
                      "title": "CreatedBy"
                    },
                    "Groups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "GroupId": {
                            "type": "string",
                            "description": "ID of the group associated with the sent message, if any",
                            "title": "GroupId"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name of contacts",
                            "title": "Name"
                          },
                          "ContactsCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total numbers of receivers",
                            "title": "ContactsCount"
                          }
                        }
                      },
                      "description": "Groups"
                    },
                    "Reach": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers",
                      "title": "Reach"
                    },
                    "SentCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers who got message successfully",
                      "title": "SentCount"
                    },
                    "UndeliveredCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers to whom message does not reach",
                      "title": "UndeliveredCount"
                    }
                  },
                  "description": "Data"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. See response body for more details"
          }
        },
        "summary": "Send text (SMS) message to multiple contacts",
        "description": "Send bulk text (SMS) message to multiple Power Textor Contacts at once.",
        "operationId": "SendTextMessageToMultipleContacts",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "To": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "To",
                    "x-ms-dynamic-values": {
                      "operationId": "GetContacts",
                      "value-path": "Phone",
                      "value-collection": "Data",
                      "value-title": "Name"
                    },
                    "description": "Choose Contact Names from the dropdown"
                  },
                  "description": "To"
                },
                "Body": {
                  "type": "string",
                  "description": "Message body",
                  "title": "Text Message"
                },
                "ReplySTOPToOptOut": {
                  "type": "boolean",
                  "description": "IF 'Yes' THEN populate 'STOP to opt out' in the end of text message, and the contact can unsubscribe to text messages by replying 'STOP' to the text message. If the user replies to the text message with 'START', he/she gets subscribed back to the service again and starts receiving the text messages again. IF 'No' THEN do not populate the unsubscribe text in the end of the text message.",
                  "title": "Reply STOP To Opt-Out",
                  "enum": [
                    true,
                    false
                  ]
                }
              },
              "required": [
                "To",
                "Body"
              ]
            }
          }
        ]
      }
    },
    "/api/messages/schedulereviewcontacts": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "Data": {
                  "type": "object",
                  "properties": {
                    "CampaignId": {
                      "type": "string",
                      "description": "ID of the campaign associated with sent message.",
                      "title": "CampaignId"
                    },
                    "AccountId": {
                      "type": "string",
                      "description": "ID of the account associated with sent message.",
                      "title": "AccountId"
                    },
                    "Type": {
                      "type": "string",
                      "description": "Type defines the category in which sent message lies i.e Message or Review",
                      "title": "Type"
                    },
                    "Body": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Body"
                    },
                    "SendDate": {
                      "type": "string",
                      "description": "Date and time on which message should be deliverd. Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "SendDate"
                    },
                    "PlaceId": {
                      "type": "string",
                      "description": "ID of the place associated with sent message, if any.",
                      "title": "PlaceId"
                    },
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "CreatedAt": {
                      "type": "string",
                      "description": "Date and time on which message is created.Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "CreatedAt"
                    },
                    "CreatedBy": {
                      "type": "string",
                      "description": "ID of the sender.",
                      "title": "CreatedBy"
                    },
                    "Groups": {
                      "type": "string",
                      "description": "Groups associated with the sent message, if any.",
                      "title": "Groups"
                    },
                    "Reach": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers",
                      "title": "Reach"
                    },
                    "SentCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers who got message successfully",
                      "title": "SentCount"
                    },
                    "UndeliveredCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers to whom message does not reach",
                      "title": "UndeliveredCount"
                    }
                  },
                  "description": "Data"
                },
                "Success": {
                  "type": "boolean",
                  "description": "Indicates whether action run successfully or not. True if action run successfully otherwise false.",
                  "title": "Success",
                  "enum": [
                    true,
                    false
                  ]
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "Message": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Message"
                    }
                  },
                  "description": "Error"
                }
              }
            }
          }
        },
        "summary": "Schedule review text (SMS) message for multiple contacts",
        "description": "Schedule review messages in bulk for Power Textor contacts by specifying date and time on which the messages should be sent. Send pin location of your business or service area within the text message.",
        "operationId": "ScheduleReviewTextMessageForContacts",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "To": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "To",
                    "x-ms-dynamic-values": {
                      "operationId": "GetContacts",
                      "value-path": "Phone",
                      "value-collection": "Data",
                      "value-title": "Name"
                    },
                    "description": "Choose Multiple Contact Names from Dropdown"
                  },
                  "description": "To"
                },
                "Body": {
                  "type": "string",
                  "description": "Message body",
                  "title": "Text Message"
                },
                "ReplySTOPToOptOut": {
                  "type": "boolean",
                  "description": "IF 'Yes' THEN populate 'STOP to opt out' in the end of text message, and the contact can unsubscribe to text messages by replying 'STOP' to the text message. If the user replies to the text message with 'START', he/she gets subscribed back to the service again and starts receiving the text messages again. IF 'No' THEN do not populate the unsubscribe text in the end of the text message.",
                  "title": "Reply STOP To Opt-Out",
                  "enum": [
                    true,
                    false
                  ]
                },
                "GooglePlaceId": {
                  "type": "string",
                  "description": "Select Place name from dropdown to get feedback from customer",
                  "title": "Place",
                  "x-ms-dynamic-values": {
                    "operationId": "GetPlaces",
                    "value-path": "GooglePlaceId",
                    "value-collection": "Data",
                    "value-title": "Name"
                  }
                },
                "ScheduledDate": {
                  "type": "string",
                  "description": "Select a date to send the text message on. Format should be MM/DD/YYYY",
                  "title": "Schedule Date"
                },
                "ScheduledTime": {
                  "type": "string",
                  "description": "Select time to send the text message at. Time should be in Coordinated Universal Time. UTC. Format HH:mm AM/PM",
                  "title": "Schedule Time (UTC)"
                }
              },
              "required": [
                "GooglePlaceId",
                "ScheduledDate",
                "ScheduledTime",
                "To",
                "Body"
              ]
            }
          }
        ]
      }
    },
    "/api/messages/sendgroup": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "Data": {
                  "type": "object",
                  "properties": {
                    "CampaignId": {
                      "type": "string",
                      "description": "ID of the campaign associated with sent message.",
                      "title": "CampaignId"
                    },
                    "AccountId": {
                      "type": "string",
                      "description": "ID of the account associated with sent message.",
                      "title": "AccountId"
                    },
                    "Type": {
                      "type": "string",
                      "description": "Type defines the category in which sent message lies i.e., Message or Review",
                      "title": "Type"
                    },
                    "Body": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Body"
                    },
                    "SendDate": {
                      "type": "string",
                      "description": "Date and time on which message should be deliverd. Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "SendDate"
                    },
                    "PlaceId": {
                      "type": "string",
                      "description": "ID of the place associated with sent message, if any.",
                      "title": "PlaceId"
                    },
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "CreatedAt": {
                      "type": "string",
                      "description": "Date and time on which message is created.Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "CreatedAt"
                    },
                    "CreatedBy": {
                      "type": "string",
                      "description": "ID of the sender.",
                      "title": "CreatedBy"
                    },
                    "Groups": {
                      "type": "string",
                      "description": "Groups associated with the sent message, if any.",
                      "title": "Groups"
                    },
                    "Reach": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers",
                      "title": "Reach"
                    },
                    "SentCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers who got message successfully",
                      "title": "SentCount"
                    },
                    "UndeliveredCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers to whom message does not reach",
                      "title": "UndeliveredCount"
                    }
                  },
                  "description": "Data"
                },
                "Success": {
                  "type": "boolean",
                  "description": "Indicates whether action run successfully or not. True if action run successfully otherwise false.",
                  "title": "Success",
                  "enum": [
                    true,
                    false
                  ]
                },
                "Error": {
                  "type": "string",
                  "description": "Error messages associated with the sent message, if any.",
                  "title": "Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. See response body for more details"
          }
        },
        "summary": "Send text (SMS) message to multiple groups",
        "description": "Send bulk text (SMS) message to multiple Power Textor groups at once.",
        "operationId": "SendTextMessageToMultipleGroups",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "GroupName": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "To",
                    "x-ms-dynamic-values": {
                      "operationId": "GetGroups",
                      "value-path": "GroupId",
                      "value-collection": "Data",
                      "value-title": "Name"
                    },
                    "description": "Choose Group Names from Dropdown"
                  },
                  "description": "GroupName"
                },
                "Body": {
                  "type": "string",
                  "description": "Message body",
                  "title": "Text Message"
                },
                "ReplySTOPToOptOut": {
                  "type": "boolean",
                  "description": "IF 'Yes' THEN populate 'STOP to opt out' in the end of text message, and the contact can unsubscribe to text messages by replying 'STOP' to the text message. If the user replies to the text message with 'START', he/she gets subscribed back to the service again and starts receiving the text messages again. IF 'No' THEN do not populate the unsubscribe text in the end of the text message.",
                  "title": "Reply STOP To Opt-Out",
                  "enum": [
                    true,
                    false
                  ]
                }
              },
              "required": [
                "GroupName",
                "Body"
              ]
            }
          }
        ]
      }
    },
    "/api/messages/sendreview": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "Data": {
                  "type": "object",
                  "properties": {
                    "CampaignId": {
                      "type": "string",
                      "description": "ID of the campaign associated with sent message.",
                      "title": "CampaignId"
                    },
                    "AccountId": {
                      "type": "string",
                      "description": "ID of the account associated with sent message.",
                      "title": "AccountId"
                    },
                    "Type": {
                      "type": "string",
                      "description": "Type defines the category in which sent message lies i.e., Message or Review",
                      "title": "Type"
                    },
                    "Body": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Body"
                    },
                    "SendDate": {
                      "type": "string",
                      "description": "Date and time on which message should be deliverd. Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "SendDate"
                    },
                    "PlaceId": {
                      "type": "string",
                      "description": "ID of the place associated with sent message, if any.",
                      "title": "PlaceId"
                    },
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "CreatedAt": {
                      "type": "string",
                      "description": "Date and time on which message is created.Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "CreatedAt"
                    },
                    "CreatedBy": {
                      "type": "string",
                      "description": "ID of the sender.",
                      "title": "CreatedBy"
                    },
                    "Groups": {
                      "type": "string",
                      "description": "Groups associated with the sent message, if any.",
                      "title": "Groups"
                    },
                    "Reach": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers",
                      "title": "Reach"
                    },
                    "SentCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers who got message successfully",
                      "title": "SentCount"
                    },
                    "UndeliveredCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers to whom message does not reach",
                      "title": "UndeliveredCount"
                    }
                  },
                  "description": "Data"
                },
                "Success": {
                  "type": "boolean",
                  "description": "Indicates whether action run successfully or not. True if action run successfully otherwise false.",
                  "title": "Success",
                  "enum": [
                    true,
                    false
                  ]
                },
                "Error": {
                  "type": "string",
                  "description": "Error messages associated with the sent message, if any.",
                  "title": "Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. See response body for more details"
          }
        },
        "summary": "Send review text (SMS) message to multiple groups",
        "description": "Send review text messages to Power Textor multiple groups to get feedback from customers. Send pin location of your business or service area within the text messages.",
        "operationId": "SendReviewTextGroups",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "GroupName": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "To",
                    "x-ms-dynamic-values": {
                      "operationId": "GetGroups",
                      "value-path": "GroupId",
                      "value-collection": "Data",
                      "value-title": "Name"
                    },
                    "description": "Choose Group Names from Dropdown"
                  },
                  "description": "GroupName"
                },
                "Body": {
                  "type": "string",
                  "description": "Message body",
                  "title": "Review Text"
                },
                "PlaceId": {
                  "type": "string",
                  "description": "Select Place name from dropdown to get feedback from customer",
                  "title": "Place",
                  "x-ms-dynamic-values": {
                    "operationId": "GetPlaces",
                    "value-path": "GooglePlaceId",
                    "value-collection": "Data",
                    "value-title": "Name"
                  }
                },
                "ReplySTOPToOptOut": {
                  "type": "boolean",
                  "description": "IF 'Yes' THEN populate 'STOP to opt out' in the end of text message, and the contact can unsubscribe to text messages by replying 'STOP' to the text message. If the user replies to the text message with 'START', he/she gets subscribed back to the service again and starts receiving the text messages again. IF 'No' THEN do not populate the unsubscribe text in the end of the text message.",
                  "title": "Reply STOP To Opt-Out",
                  "enum": [
                    true,
                    false
                  ]
                }
              },
              "required": [
                "GroupName",
                "PlaceId",
                "Body"
              ]
            }
          }
        ]
      }
    },
    "/api/messages/scheduletext": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Indicates whether action run successfully or not. True if action run successfully otherwise false.",
                  "title": "Success",
                  "enum": [
                    true,
                    false
                  ]
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "Message": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Message"
                    }
                  },
                  "description": "Error"
                },
                "Data": {
                  "type": "object",
                  "properties": {
                    "CampaignId": {
                      "type": "string",
                      "description": "ID of the campaign associated with sent message.",
                      "title": "CampaignId"
                    },
                    "AccountId": {
                      "type": "string",
                      "description": "ID of the account associated with sent message.",
                      "title": "AccountId"
                    },
                    "Type": {
                      "type": "string",
                      "description": "Type defines the category in which sent message lies i.e., Message or Review",
                      "title": "Type"
                    },
                    "Body": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Body"
                    },
                    "SendDate": {
                      "type": "string",
                      "description": "Date and time on which message should be deliverd. Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "SendDate"
                    },
                    "PlaceId": {
                      "type": "string",
                      "description": "ID of the place associated with sent message, if any.",
                      "title": "PlaceId"
                    },
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "CreatedAt": {
                      "type": "string",
                      "description": "Date and time on which message is created.Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "CreatedAt"
                    },
                    "CreatedBy": {
                      "type": "string",
                      "description": "ID of the sender.",
                      "title": "CreatedBy"
                    },
                    "Groups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "GroupId": {
                            "type": "string",
                            "description": "ID of the Groups associated with the sent message, if any.",
                            "title": "GroupId"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name of Contacts",
                            "title": "Name"
                          },
                          "ContactsCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total numbers of receivers",
                            "title": "ContactsCount"
                          }
                        }
                      },
                      "description": "Groups"
                    },
                    "Reach": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers",
                      "title": "Reach"
                    },
                    "SentCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers who got message successfully",
                      "title": "SentCount"
                    },
                    "UndeliveredCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers to whom message does not reach",
                      "title": "UndeliveredCount"
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Schedule text (SMS) message for a contact",
        "description": "Schedule text (SMS) message for a Power Textor contact and specify schedule date and time on which the text message should be sent.",
        "operationId": "ScheduleMessageForAContact",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "To": {
                  "type": "string",
                  "description": "Choose Contact Name from Dropdown",
                  "title": "To",
                  "x-ms-dynamic-values": {
                    "operationId": "GetContacts",
                    "value-path": "Phone",
                    "value-collection": "Data",
                    "value-title": "Name"
                  }
                },
                "Body": {
                  "type": "string",
                  "description": "Message body",
                  "title": "Text Message"
                },
                "ReplySTOPToOptOut": {
                  "type": "boolean",
                  "description": "IF 'Yes' THEN populate 'STOP to opt out' in the end of text message, and the contact can unsubscribe to text messages by replying 'STOP' to the text message. If the user replies to the text message with 'START', he/she gets subscribed back to the service again and starts receiving the text messages again. IF 'No' THEN do not populate the unsubscribe text in the end of the text message.",
                  "title": "Reply STOP To Opt-Out",
                  "enum": [
                    true,
                    false
                  ]
                },
                "ScheduledDate": {
                  "type": "string",
                  "description": "Select a date to send the text message on. Format should be MM/DD/YYYY",
                  "title": "Schedule Date"
                },
                "ScheduledTime": {
                  "type": "string",
                  "description": "Select time to send the text message at. Time should be in Coordinated Universal Time. UTC. Format HH:mm AM/PM",
                  "title": "Schedule Time (UTC)"
                }
              },
              "required": [
                "ScheduledDate",
                "ScheduledTime",
                "To",
                "Body"
              ]
            }
          }
        ]
      }
    },
    "/api/messages/scheduletextbulk": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Indicates whether action run successfully or not. True if action run successfully otherwise false.",
                  "title": "Success",
                  "enum": [
                    true,
                    false
                  ]
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "Message": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Message"
                    }
                  },
                  "description": "Error"
                },
                "Data": {
                  "type": "object",
                  "properties": {
                    "CampaignId": {
                      "type": "string",
                      "description": "ID of the campaign associated with sent message.",
                      "title": "CampaignId"
                    },
                    "AccountId": {
                      "type": "string",
                      "description": "ID of the account associated with sent message.",
                      "title": "AccountId"
                    },
                    "Type": {
                      "type": "string",
                      "description": "Type defines the category in which sent message lies i.e., Message or Review",
                      "title": "Type"
                    },
                    "Body": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Body"
                    },
                    "SendDate": {
                      "type": "string",
                      "description": "Date and time on which message should be deliverd. Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "SendDate"
                    },
                    "PlaceId": {
                      "type": "string",
                      "description": "ID of the place associated with sent message, if any.",
                      "title": "PlaceId"
                    },
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "CreatedAt": {
                      "type": "string",
                      "description": "Date and time on which message is created.Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "CreatedAt"
                    },
                    "CreatedBy": {
                      "type": "string",
                      "description": "ID of the sender.",
                      "title": "CreatedBy"
                    },
                    "Groups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "GroupId": {
                            "type": "string",
                            "description": "Groups associated with the sent message, if any.",
                            "title": "GroupId"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name of the contacts associated with the message, If any",
                            "title": "Name"
                          },
                          "ContactsCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total number of receivers",
                            "title": "ContactsCount"
                          }
                        }
                      },
                      "description": "Groups"
                    },
                    "Reach": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers",
                      "title": "Reach"
                    },
                    "SentCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers who got message successfully",
                      "title": "SentCount"
                    },
                    "UndeliveredCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers to whom message does not reach",
                      "title": "UndeliveredCount"
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Schedule text (SMS) message for multiple groups",
        "description": "Schedule bulk text messages to groups, by configuring date and time settings when the text message should be sent.",
        "operationId": "ScheduleMessageForGroups",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "To": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "To",
                    "x-ms-dynamic-values": {
                      "operationId": "GetGroups",
                      "value-path": "GroupId",
                      "value-collection": "Data",
                      "value-title": "Name"
                    },
                    "description": "Choose Multiple group Names from Dropdown"
                  },
                  "description": "To"
                },
                "Body": {
                  "type": "string",
                  "description": "Message body",
                  "title": "Text Message"
                },
                "ReplySTOPToOptOut": {
                  "type": "boolean",
                  "description": "IF 'Yes' THEN populate 'STOP to opt out' in the end of text message, and the contact can unsubscribe to text messages by replying 'STOP' to the text message. If the user replies to the text message with 'START', he/she gets subscribed back to the service again and starts receiving the text messages again. IF 'No' THEN do not populate the unsubscribe text in the end of the text message.",
                  "title": "Reply STOP To Opt-Out",
                  "enum": [
                    true,
                    false
                  ]
                },
                "ScheduledDate": {
                  "type": "string",
                  "description": "Select a date to send the text message on. Format should be MM/DD/YYYY",
                  "title": "Schedule Date"
                },
                "ScheduledTime": {
                  "type": "string",
                  "description": "Select time to send the text message at. Time should be in Coordinated Universal Time. UTC. Format HH:mm AM/PM",
                  "title": "Schedule Time (UTC)"
                }
              },
              "required": [
                "ScheduledDate",
                "ScheduledTime",
                "To",
                "Body"
              ]
            }
          }
        ]
      }
    },
    "/api/messages/schedulereviewtext": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Indicates whether action run successfully or not. True if action run successfully otherwise false.",
                  "title": "Success",
                  "enum": [
                    true,
                    false
                  ]
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "Message": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Message"
                    }
                  },
                  "description": "Error"
                },
                "Data": {
                  "type": "object",
                  "properties": {
                    "CampaignId": {
                      "type": "string",
                      "description": "ID of the campaign associated with sent message.",
                      "title": "CampaignId"
                    },
                    "AccountId": {
                      "type": "string",
                      "description": "ID of the account associated with sent message.",
                      "title": "AccountId"
                    },
                    "Type": {
                      "type": "string",
                      "description": "Type defines the category in which sent message lies i.e., Message or Review",
                      "title": "Type"
                    },
                    "Body": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Body"
                    },
                    "SendDate": {
                      "type": "string",
                      "description": "Date and time on which message should be deliverd. Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "SendDate"
                    },
                    "PlaceId": {
                      "type": "string",
                      "description": "ID of the place associated with sent message. If any",
                      "title": "PlaceId"
                    },
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "CreatedAt": {
                      "type": "string",
                      "description": "Date and time on which message is created.Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "CreatedAt"
                    },
                    "CreatedBy": {
                      "type": "string",
                      "description": "ID of the sender.",
                      "title": "CreatedBy"
                    },
                    "Groups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "GroupId": {
                            "type": "string",
                            "description": "ID of the group associated with sent message. If any",
                            "title": "GroupId"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name of contacts",
                            "title": "Name"
                          },
                          "ContactsCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total number of receivers",
                            "title": "ContactsCount"
                          }
                        }
                      },
                      "description": "Groups"
                    },
                    "Reach": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers",
                      "title": "Reach"
                    },
                    "SentCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers who got message successfully",
                      "title": "SentCount"
                    },
                    "UndeliveredCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers to whom message does not reach",
                      "title": "UndeliveredCount"
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Schedule review text (SMS) message for a contact",
        "description": "Schedule review message for Power Textor contact by specifying date and time on which the message should be sent. Send pin location of your business or service area within the text message.",
        "operationId": "ScheduleReviewMessageForAContact",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "To": {
                  "type": "string",
                  "description": "Choose contact name from Dropdown",
                  "title": "To",
                  "x-ms-dynamic-values": {
                    "operationId": "GetContacts",
                    "value-path": "Phone",
                    "value-collection": "Data",
                    "value-title": "Name"
                  }
                },
                "Body": {
                  "type": "string",
                  "description": "Message body",
                  "title": "Review Text"
                },
                "GooglePlaceId": {
                  "type": "string",
                  "description": "Select Place name from dropdown to get feedback from customer",
                  "title": "Place",
                  "x-ms-dynamic-values": {
                    "operationId": "GetPlaces",
                    "value-path": "GooglePlaceId",
                    "value-collection": "Data",
                    "value-title": "Name"
                  }
                },
                "ScheduledDate": {
                  "type": "string",
                  "description": "Select a date to send the text message on. Format should be MM/DD/YYYY",
                  "title": "Schedule Date"
                },
                "ScheduledTime": {
                  "type": "string",
                  "description": "Select time to send the text message at. Time should be in Coordinated Universal Time. UTC. Format HH:mm AM/PM",
                  "title": "Schedule Time (UTC)"
                },
                "ReplySTOPToOptOut": {
                  "type": "boolean",
                  "description": "IF 'Yes' THEN populate 'STOP to opt out' in the end of text message, and the contact can unsubscribe to text messages by replying 'STOP' to the text message. If the user replies to the text message with 'START', he/she gets subscribed back to the service again and starts receiving the text messages again. IF 'No' THEN do not populate the unsubscribe text in the end of the text message.",
                  "title": "Reply STOP To Opt-Out",
                  "enum": [
                    true,
                    false
                  ]
                }
              },
              "required": [
                "GooglePlaceId",
                "ScheduledDate",
                "ScheduledTime",
                "To",
                "Body"
              ]
            }
          }
        ]
      }
    },
    "/api/messages/scheduledbulkreview": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Indicates whether action run successfully or not. True if action run successfully otherwise false.",
                  "title": "Success",
                  "enum": [
                    true,
                    false
                  ]
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Status"
                    },
                    "Message": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Message"
                    }
                  },
                  "description": "Error"
                },
                "Data": {
                  "type": "object",
                  "properties": {
                    "CampaignId": {
                      "type": "string",
                      "description": "ID of the campaign associated with sent message.",
                      "title": "CampaignId"
                    },
                    "AccountId": {
                      "type": "string",
                      "description": "ID of the account associated with sent message.",
                      "title": "AccountId"
                    },
                    "Type": {
                      "type": "string",
                      "description": "Type defines the category in which sent message lies i.e., Message or Review",
                      "title": "Type"
                    },
                    "Body": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Body"
                    },
                    "SendDate": {
                      "type": "string",
                      "description": "Date and time on which message should be deliverd. Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "SendDate"
                    },
                    "PlaceId": {
                      "type": "string",
                      "description": "ID of the place associated with sent message.",
                      "title": "PlaceId"
                    },
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "CreatedAt": {
                      "type": "string",
                      "description": "Date and time on which message is created.Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "CreatedAt"
                    },
                    "CreatedBy": {
                      "type": "string",
                      "description": "ID of the sender.",
                      "title": "CreatedBy"
                    },
                    "Groups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "GroupId": {
                            "type": "string",
                            "description": "ID of the group associated with sent message. If any",
                            "title": "GroupId"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name of contacts",
                            "title": "Name"
                          },
                          "ContactsCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total numbers of receivers",
                            "title": "ContactsCount"
                          }
                        }
                      },
                      "description": "Groups"
                    },
                    "Reach": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers",
                      "title": "Reach"
                    },
                    "SentCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers who got message successfully",
                      "title": "SentCount"
                    },
                    "UndeliveredCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers to whom message does not reach",
                      "title": "UndeliveredCount"
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Schedule review text (SMS) message for multiple groups",
        "description": "Schedule review messages in bulk for Power Textor groups by specifying date and time on which the messages should be sent. Send pin location of your business or service area within the text message.",
        "operationId": "ScheduleReviewGroups",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "GroupName": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "To",
                    "x-ms-dynamic-values": {
                      "operationId": "GetGroups",
                      "value-path": "GroupId",
                      "value-collection": "Data",
                      "value-title": "Name"
                    },
                    "description": "Choose Multiple group Names from Dropdown"
                  },
                  "description": "GroupName"
                },
                "Body": {
                  "type": "string",
                  "description": "Message body",
                  "title": "Review Text"
                },
                "PlaceId": {
                  "type": "string",
                  "description": "Select Place name from dropdown to get feedback from customer",
                  "title": "Place",
                  "x-ms-dynamic-values": {
                    "operationId": "GetPlaces",
                    "value-path": "GooglePlaceId",
                    "value-collection": "Data",
                    "value-title": "Name"
                  }
                },
                "ScheduledDate": {
                  "type": "string",
                  "description": "Select a date to send the text message on. Format should be MM/DD/YYYY",
                  "title": "Schedule Date"
                },
                "ScheduledTime": {
                  "type": "string",
                  "description": "Select time to send the text message at. Time should be in Coordinated Universal Time. UTC. Format HH:mm AM/PM",
                  "title": "Schedule Time (UTC)"
                },
                "ReplySTOPToOptOut": {
                  "type": "boolean",
                  "description": "IF 'Yes' THEN populate 'STOP to opt out' in the end of text message, and the contact can unsubscribe to text messages by replying 'STOP' to the text message. If the user replies to the text message with 'START', he/she gets subscribed back to the service again and starts receiving the text messages again. IF 'No' THEN do not populate the unsubscribe text in the end of the text message.",
                  "title": "Reply STOP To Opt-Out",
                  "enum": [
                    true,
                    false
                  ]
                }
              },
              "required": [
                "GroupName",
                "PlaceId",
                "ScheduledDate",
                "ScheduledTime",
                "Body"
              ]
            }
          }
        ]
      }
    },
    "/api/groups": {
      "get": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "GroupId": {
                        "type": "string",
                        "description": "Unique identifier of the group"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name of the group"
                      },
                      "ContactsCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Count of the contacts contained in the group"
                      }
                    }
                  },
                  "description": "Response data"
                },
                "Success": {
                  "type": "boolean",
                  "description": "Indicates success or failure"
                },
                "Error": {
                  "type": "string",
                  "description": "Describes the error"
                }
              }
            }
          }
        },
        "summary": "Get Groups",
        "description": "Get list of Groups",
        "operationId": "GetGroups",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    },
    "/api/places": {
      "get": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PlaceId": {
                        "type": "string",
                        "description": "Unique identifier of the place"
                      },
                      "AccountId": {
                        "type": "string",
                        "description": "Unique identifier of the account related to the place"
                      },
                      "GooglePlaceId": {
                        "type": "string",
                        "description": "Google Place identifier of the place"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name of the place"
                      },
                      "CreatedAt": {
                        "type": "string",
                        "description": "Date and time when the place was saved in the system"
                      }
                    }
                  },
                  "description": "Response data"
                },
                "Success": {
                  "type": "boolean",
                  "description": "Indicates success or failure"
                },
                "Error": {
                  "type": "string",
                  "description": "Describes the error"
                }
              }
            }
          }
        },
        "summary": "Get Places",
        "description": "Get list of places",
        "operationId": "GetPlaces",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/api/messages/sendmessagesinglecontact": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "Data": {
                  "type": "object",
                  "properties": {
                    "CampaignId": {
                      "type": "string",
                      "description": "ID of the campaign associated with sent message.",
                      "title": "CampaignId"
                    },
                    "AccountId": {
                      "type": "string",
                      "description": "ID of the account associated with sent message.",
                      "title": "AccountId"
                    },
                    "Type": {
                      "type": "string",
                      "description": "Type defines the category in which sent message lies i.e., Message or Review",
                      "title": "Type"
                    },
                    "Body": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Body"
                    },
                    "SendDate": {
                      "type": "string",
                      "description": "Date and time on which message should be deliverd. Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "SendDate"
                    },
                    "PlaceId": {
                      "type": "string",
                      "description": "ID of the place associated with sent message, if any.",
                      "title": "PlaceId"
                    },
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "CreatedAt": {
                      "type": "string",
                      "description": "Date and time on which message is created.Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "CreatedAt"
                    },
                    "CreatedBy": {
                      "type": "string",
                      "description": "ID of the sender.",
                      "title": "CreatedBy"
                    },
                    "IsReminder": {
                      "type": "boolean",
                      "description": "Indicated whether sent message belongs to reminders or not. True if it belongs to reminders otherwise false.",
                      "title": "IsReminder",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "Groups": {
                      "type": "string",
                      "description": "Groups associated with the sent message, if any.",
                      "title": "Groups"
                    },
                    "Reach": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers",
                      "title": "Reach"
                    },
                    "SentCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers who got message successfully",
                      "title": "SentCount"
                    },
                    "UndeliveredCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers to whom message does not reach",
                      "title": "UndeliveredCount"
                    }
                  },
                  "description": "Data"
                },
                "Success": {
                  "type": "boolean",
                  "description": "Indicates whether action run successfully or not. True if action run successfully otherwise false.",
                  "title": "Success",
                  "enum": [
                    true,
                    false
                  ]
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "Message": {
                      "type": "string",
                      "description": "Error messages associated with the sent message, if any.",
                      "title": "Message"
                    }
                  },
                  "description": "Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. See response body for more details"
          }
        },
        "summary": "Send text (SMS) message to a contact",
        "description": "Send text message to your Power Textor Contact.",
        "operationId": "SendTextToAContact",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "To": {
                  "type": "string",
                  "description": "Choose Contact Name from the dropdown",
                  "title": "To",
                  "x-ms-dynamic-values": {
                    "operationId": "GetContacts",
                    "value-path": "Phone",
                    "value-collection": "Data",
                    "value-title": "Name"
                  }
                },
                "Body": {
                  "type": "string",
                  "description": "Message body",
                  "title": "Text Message"
                },
                "ReplySTOPToOptOut": {
                  "type": "boolean",
                  "description": "IF 'Yes' THEN populate 'STOP to opt out' in the end of text message, and the contact can unsubscribe to text messages by replying 'STOP' to the text message. If the user replies to the text message with 'START', he/she gets subscribed back to the service again and starts receiving the text messages again. IF 'No' THEN do not populate the unsubscribe text in the end of the text message.",
                  "title": "Reply STOP To Opt-Out",
                  "enum": [
                    true,
                    false
                  ]
                }
              },
              "required": [
                "To",
                "Body"
              ]
            }
          }
        ]
      }
    },
    "/api/messages/scheduletextmulticontacts": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Indicates whether action run successfully or not. True if action run successfully otherwise false.",
                  "title": "Success",
                  "enum": [
                    true,
                    false
                  ]
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "Message": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Message"
                    }
                  },
                  "description": "Error"
                },
                "Data": {
                  "type": "object",
                  "properties": {
                    "CampaignId": {
                      "type": "string",
                      "description": "ID of the campaign associated with sent message.",
                      "title": "CampaignId"
                    },
                    "AccountId": {
                      "type": "string",
                      "description": "ID of the account associated with sent message.",
                      "title": "AccountId"
                    },
                    "Type": {
                      "type": "string",
                      "description": "Type defines the category in which sent message lies i.e., Message or Review",
                      "title": "Type"
                    },
                    "Body": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Body"
                    },
                    "SendDate": {
                      "type": "string",
                      "description": "Date and time on which message should be deliverd. Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "SendDate"
                    },
                    "PlaceId": {
                      "type": "string",
                      "description": "ID of the place associated with sent message. If any",
                      "title": "PlaceId"
                    },
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "CreatedAt": {
                      "type": "string",
                      "description": "Date and time on which message is created.Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "CreatedAt"
                    },
                    "CreatedBy": {
                      "type": "string",
                      "description": "ID of the sender.",
                      "title": "CreatedBy"
                    },
                    "Groups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "GroupId": {
                            "type": "string",
                            "description": "ID of the group associated with sent message, if any",
                            "title": "GroupId"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name of contacts",
                            "title": "Name"
                          },
                          "ContactsCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total numbers of receivers",
                            "title": "ContactsCount"
                          }
                        }
                      },
                      "description": "Groups"
                    },
                    "Reach": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers",
                      "title": "Reach"
                    },
                    "SentCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers who got message successfully",
                      "title": "SentCount"
                    },
                    "UndeliveredCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers to whom message does not reach",
                      "title": "UndeliveredCount"
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Schedule text (SMS) messages for multiple contacts",
        "description": "Schedule bulk text messages to multiple contacts, by configuring date and time settings when the text message should be sent.",
        "operationId": "ScheduleTextToMultipleContacts",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "To": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "To",
                    "x-ms-dynamic-values": {
                      "operationId": "GetContacts",
                      "value-path": "Phone",
                      "value-collection": "Data",
                      "value-title": "Name"
                    },
                    "description": "Choose Multiple Contact Names from Dropdown"
                  },
                  "description": "To"
                },
                "Body": {
                  "type": "string",
                  "description": "Message body",
                  "title": "Text Message"
                },
                "ReplySTOPToOptOut": {
                  "type": "boolean",
                  "description": "IF 'Yes' THEN populate 'STOP to opt out' in the end of text message, and the contact can unsubscribe to text messages by replying 'STOP' to the text message. If the user replies to the text message with 'START', he/she gets subscribed back to the service again and starts receiving the text messages again. IF 'No' THEN do not populate the unsubscribe text in the end of the text message.",
                  "title": "Reply STOP To Opt-Out",
                  "enum": [
                    true,
                    false
                  ]
                },
                "ScheduledDate": {
                  "type": "string",
                  "description": "Select a date to send the text message on. Format should be MM/DD/YYYY",
                  "title": "Schedule Date"
                },
                "ScheduledTime": {
                  "type": "string",
                  "description": "Select time to send the text message at. Time should be in Coordinated Universal Time. UTC. Format HH:mm AM/PM",
                  "title": "Schedule Time (UTC)"
                }
              },
              "required": [
                "ScheduledDate",
                "ScheduledTime",
                "To",
                "Body"
              ]
            }
          }
        ]
      }
    },
    "/api/messages/sendereviewsinglecontact": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Indicates whether action run successfully or not.",
                  "title": "Success",
                  "enum": [
                    true,
                    false
                  ]
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "Message": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Message"
                    }
                  },
                  "description": "Error"
                },
                "Data": {
                  "type": "object",
                  "properties": {
                    "MessageId": {
                      "type": "string",
                      "description": "ID of the message associated with sent message.",
                      "title": "MessageId"
                    },
                    "AccountId": {
                      "type": "string",
                      "description": "ID of the account associated with sent message.",
                      "title": "AccountId"
                    },
                    "Type": {
                      "type": "string",
                      "description": "Type defines the category in which sent message lies i.e., Message or Review",
                      "title": "Type"
                    },
                    "ReferenceId": {
                      "type": "string",
                      "description": "ID of the reference associated with sent message, if any.",
                      "title": "ReferenceId"
                    },
                    "Direction": {
                      "type": "string",
                      "description": "Direction defines whether message is incoming text message or outgoing text message.",
                      "title": "Direction"
                    },
                    "From": {
                      "type": "string",
                      "description": "Phone number of the sender",
                      "title": "From"
                    },
                    "To": {
                      "type": "string",
                      "description": "Phone number of the receiver",
                      "title": "To"
                    },
                    "Body": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Body"
                    },
                    "CampaignId": {
                      "type": "string",
                      "description": "ID of the campaign associated with sent message.",
                      "title": "CampaignId"
                    },
                    "Rating": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Feedback from the customer. if any",
                      "title": "Rating"
                    },
                    "Segments": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of segments the message was divided into.",
                      "title": "Segments"
                    },
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "Deleted": {
                      "type": "boolean",
                      "description": "Indicates whether message is deleted or not.  True if deleted otherwise false",
                      "title": "Deleted",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "CreatedAt": {
                      "type": "string",
                      "description": "Date and time on which message is created.Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "CreatedAt"
                    },
                    "Account": {
                      "type": "object",
                      "properties": {
                        "AccountId": {
                          "type": "string",
                          "description": "ID of the account associated with sent message.",
                          "title": "AccountId"
                        },
                        "Name": {
                          "type": "string",
                          "description": "Name of contacts",
                          "title": "Name"
                        },
                        "ServicePhone": {
                          "type": "string",
                          "description": "Service phone associated with sent message",
                          "title": "ServicePhone"
                        },
                        "StripeCustomerId": {
                          "type": "string",
                          "description": "Stripe Customer Id associated with the sent message",
                          "title": "StripeCustomerId"
                        },
                        "StripeSubscriptionId": {
                          "type": "string",
                          "description": "Stripe subscription Id associated with the sent message",
                          "title": "StripeSubscriptionId"
                        },
                        "Status": {
                          "type": "string",
                          "description": "Sent status of the message.",
                          "title": "Status"
                        },
                        "CreatedAt": {
                          "type": "string",
                          "description": "Date and time on which message is created.Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                          "title": "CreatedAt"
                        }
                      },
                      "description": "Account"
                    },
                    "Contact": {
                      "type": "object",
                      "properties": {
                        "ContactId": {
                          "type": "string",
                          "description": "ID of the contact associated with sent message.",
                          "title": "ContactId"
                        },
                        "Phone": {
                          "type": "string",
                          "description": "Phone number of the contact associated with the message",
                          "title": "Phone"
                        },
                        "Name": {
                          "type": "string",
                          "description": "Name of contacts",
                          "title": "Name"
                        },
                        "WelcomeSent": {
                          "type": "boolean",
                          "description": "Indicates whether welcome message has been sent to this contact or not. True if sent otherwise false.",
                          "title": "WelcomeSent",
                          "enum": [
                            true,
                            false
                          ]
                        },
                        "Status": {
                          "type": "string",
                          "description": "Sent status of the message.",
                          "title": "Status"
                        },
                        "Groups": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "GroupId": {
                                "type": "string",
                                "description": "ID of the group associated with sent message. If any",
                                "title": "GroupId"
                              },
                              "Name": {
                                "type": "string",
                                "description": "Name of contacts",
                                "title": "Name"
                              },
                              "ContactsCount": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Total numbers of receivers",
                                "title": "ContactsCount"
                              }
                            }
                          },
                          "description": "Groups"
                        }
                      },
                      "description": "Contact"
                    }
                  },
                  "description": "Data"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. See response body for more details"
          }
        },
        "summary": "Send review text (SMS) message to a contact",
        "description": "Send review text message to a Power Textor contact to get feedback of a customer. Send pin location of your business or service area within the text message.",
        "operationId": "SendReviewSingleContact",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "To": {
                  "type": "string",
                  "description": "Choose Contact Name from Dropdown",
                  "title": "To",
                  "x-ms-dynamic-values": {
                    "operationId": "GetContacts",
                    "value-path": "Phone",
                    "value-collection": "Data",
                    "value-title": "Name"
                  }
                },
                "Body": {
                  "type": "string",
                  "description": "Message body",
                  "title": "Review Text"
                },
                "GooglePlaceId": {
                  "type": "string",
                  "description": "Select Place name from dropdown to get feedback from customer",
                  "title": "Place",
                  "x-ms-dynamic-values": {
                    "operationId": "GetPlaces",
                    "value-path": "GooglePlaceId",
                    "value-collection": "Data",
                    "value-title": "Name"
                  }
                },
                "ReplySTOPToOptOut": {
                  "type": "boolean",
                  "description": "IF 'Yes' THEN populate 'STOP to opt out' in the end of text message, and the contact can unsubscribe to text messages by replying 'STOP' to the text message. If the user replies to the text message with 'START', he/she gets subscribed back to the service again and starts receiving the text messages again. IF 'No' THEN do not populate the unsubscribe text in the end of the text message.",
                  "title": "Reply STOP To Opt-Out",
                  "enum": [
                    true,
                    false
                  ]
                }
              },
              "required": [
                "GooglePlaceId",
                "To",
                "Body"
              ]
            }
          }
        ]
      }
    },
    "/api/messages/sendereviewmulticontact": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Indicates whether action run successfully or not. True if action run successfully otherwise false.",
                  "title": "Success",
                  "enum": [
                    true,
                    false
                  ]
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "Message": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Message"
                    }
                  },
                  "description": "Error"
                },
                "Data": {
                  "type": "object",
                  "properties": {
                    "CampaignId": {
                      "type": "string",
                      "description": "ID of the campaign associated with sent message.",
                      "title": "CampaignId"
                    },
                    "AccountId": {
                      "type": "string",
                      "description": "ID of the account associated with sent message.",
                      "title": "AccountId"
                    },
                    "Type": {
                      "type": "string",
                      "description": "Type defines the category in which sent message lies i.e., Message or Review",
                      "title": "Type"
                    },
                    "Body": {
                      "type": "string",
                      "description": "Body of the message.",
                      "title": "Body"
                    },
                    "SendDate": {
                      "type": "string",
                      "description": "Date and time on which message should be deliverd. Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "SendDate"
                    },
                    "PlaceId": {
                      "type": "string",
                      "description": "ID of the place associated with sent message. If any",
                      "title": "PlaceId"
                    },
                    "Status": {
                      "type": "string",
                      "description": "Sent status of the message.",
                      "title": "Status"
                    },
                    "CreatedAt": {
                      "type": "string",
                      "description": "Date and time on which message is created.Example: yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                      "title": "CreatedAt"
                    },
                    "CreatedBy": {
                      "type": "string",
                      "description": "ID of the sender.",
                      "title": "CreatedBy"
                    },
                    "Groups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "GroupId": {
                            "type": "string",
                            "description": "ID of the group associated with sent message. If any",
                            "title": "GroupId"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name of contacts",
                            "title": "Name"
                          },
                          "ContactsCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total number of receivers",
                            "title": "ContactsCount"
                          }
                        }
                      },
                      "description": "Groups"
                    },
                    "Reach": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers",
                      "title": "Reach"
                    },
                    "SentCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers who got message successfully",
                      "title": "SentCount"
                    },
                    "UndeliveredCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total numbers of receivers to whom message does not reach",
                      "title": "UndeliveredCount"
                    }
                  },
                  "description": "Data"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. See response body for more details"
          }
        },
        "summary": "Send review text (SMS) message to multiple contacts",
        "description": "Send review text messages to Power Textor contacts to get feedback from customers. Send pin location of your business or service area within the text messages.",
        "operationId": "SendReviewTextMultipleContacts",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "To": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "To",
                    "x-ms-dynamic-values": {
                      "operationId": "GetContacts",
                      "value-path": "Phone",
                      "value-collection": "Data",
                      "value-title": "Name"
                    },
                    "description": "Choose Multiple Contact Names from Dropdown"
                  },
                  "description": "To"
                },
                "Body": {
                  "type": "string",
                  "description": "Message body",
                  "title": "Review Text"
                },
                "GooglePlaceId": {
                  "type": "string",
                  "description": "Select Place name from dropdown to get feedback from customer",
                  "title": "Place",
                  "x-ms-dynamic-values": {
                    "operationId": "GetPlaces",
                    "value-path": "GooglePlaceId",
                    "value-collection": "Data",
                    "value-title": "Name"
                  }
                },
                "ReplySTOPToOptOut": {
                  "type": "boolean",
[...]
