{
  "swagger": "2.0",
  "info": {
    "title": "24 pull request",
    "description": "connects to '24 pull request' api for open source projects contibution",
    "version": "1.0",
    "contact": {
      "name": "Bernard",
      "email": "bkaraba14@gmail.com"
    }
  },
  "host": "24pullrequests.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/users.json": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "get users",
        "description": "get all users",
        "operationId": "GetUsers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "the page number to display",
            "x-ms-summary": "page number"
          }
        ]
      }
    },
    "/projects.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "description"
                  },
                  "github_url": {
                    "type": "string",
                    "description": "github_url"
                  },
                  "main_language": {
                    "type": "string",
                    "description": "main_language"
                  }
                }
              }
            }
          }
        },
        "summary": "projects",
        "description": "get projects to contribute to",
        "operationId": "GetProjects",
        "parameters": []
      }
    },
    "/pull_requests.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "title"
                  },
                  "issue_url": {
                    "type": "string",
                    "description": "issue_url"
                  },
                  "repo_name": {
                    "type": "string",
                    "description": "repo_name"
                  },
                  "body": {
                    "type": "string",
                    "description": "body"
                  },
                  "user": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "nickname": {
                        "type": "string",
                        "description": "nickname"
                      },
                      "gravatar_id": {
                        "type": "string",
                        "description": "gravatar_id"
                      },
                      "github_profile": {
                        "type": "string",
                        "description": "github_profile"
                      },
                      "twitter_profile": {
                        "type": "string",
                        "description": "twitter_profile"
                      },
                      "contributions_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "contributions_count"
                      },
                      "link": {
                        "type": "string",
                        "description": "link"
                      }
                    },
                    "description": "user"
                  }
                }
              }
            }
          }
        },
        "summary": "contributions",
        "description": "Load all contributions by users",
        "operationId": "GetPullRequests",
        "parameters": []
      }
    },
    "/pull_requests/meta.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "count"
                },
                "total_pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total_pages"
                }
              }
            }
          }
        },
        "summary": "number of contributions this year",
        "description": "Load information about all the contributions this year.",
        "operationId": "GetContributionsInfo",
        "parameters": []
      }
    },
    "/users/andrew.json": {},
    "/organisations.json": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "organisations",
        "operationId": "GetAllOrganisations",
        "description": "Load all organisations",
        "parameters": []
      }
    },
    "/organisations/uswitch.json": {},
    "/users/{name}.json": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "get specific user",
        "description": "Load information for a specific user",
        "operationId": "GetUser",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "name of the user",
            "x-ms-summary": "name of the user",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/organisations/{organisation}.json": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "description": "Load information for a specific organisation.",
        "summary": "specific organisation",
        "operationId": "GetSpecificOrganisation",
        "parameters": [
          {
            "name": "organisation",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "specific organisation",
            "x-ms-summary": "specific organisation",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://24pullrequests.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://24pullrequests.com/contributing"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Collaboration"
    }
  ]
}