{
  "swagger": "2.0",
  "info": {
    "title": "Process Street",
    "description": "Process Street is a modern process management platform for building, sharing, and automating your core processes. You can perform various actions such as starting, finding, and updating a workflow run in Process Street. Or trigger actions when a workflow starts or task status changes.",
    "version": "1.0",
    "contact": {
      "name": "Process Street Support",
      "url": "https://www.process.st/help",
      "email": "support@process.st"
    }
  },
  "host": "public-api.process.st",
  "basePath": "/api/v1.1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.process.st"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.process.st/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Productivity"
    }
  ],
  "paths": {
    "/workflow-runs": {
      "get": {
        "summary": "Find workflow runs",
        "x-ms-summary": "Find workflow runs",
        "description": "Returns the latest 200 active workflow runs of an organization, showing the most recently updated first.",
        "operationId": "listWorkflowRuns",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workflowId",
            "description": "The workflow Id.",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary" : "Workflow Id",
            "x-ms-url-encoding" : "single",
            "x-ms-dynamic-values" : {
              "operationId" : "listWorkflows",
              "value-collection" : "workflows",
              "value-path" : "id",
              "value-title" : "name"
            }
          },
          {
            "name": "name",
            "x-ms-summary": "Name",
            "description": "The workflow name to search for (Optional).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListWorkflowRunsResponse"
            }
          },
          "400": {
            "description": "Invalid value for: query parameter workflowId, Invalid value for: query parameter name"
          }
        }
      },
      "post": {
        "summary": "Create a workflow run",
        "x-ms-summary": "Create a workflow run",
        "operationId": "createWorkflowRun",
        "description": "Creates a workflow run by a workflow id and a given name.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateWorkflowRunRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateWorkflowRunResponse"
            }
          },
          "400": {
            "description": "Invalid value for: body"
          }
        }
      }
    },
    "/workflow-runs/{workflowRunId}/form-fields": {
      "get": {
        "summary": "List all form field values",
        "x-ms-summary": "List all form field values",
        "description": "Allows to get a batch of form field values for a workflow run.\nForm field values are paged, meaning the links section in the\nresponse must be used to get the next/previous batch of form field values.",
        "operationId": "listFormFieldValues",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workflowRunId",
            "x-ms-summary": "Workflow Run Id",
            "x-ms-url-encoding": "single",
            "in": "path",
            "description": "The ID of the Workflow Run",
            "required": true,
            "type": "string"
          },
          {
            "name": "_",
            "description": "The page number to fetch fields for.",
            "x-ms-summary": "Page Number",
            "x-ms-url-encoding": "single",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListFormFieldValuesResponse"
            }
          },
          "400": {
            "description": "Invalid value for: query parameter _"
          }
        }
      }
    },
    "/workflow-runs/{workflowRunId}": {
      "put": {
        "summary": "Update a workflow run",
        "x-ms-summary": "Update a workflow run",
        "description": "Updates a workflow run.",
        "operationId": "updateWorkflowRun",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workflowRunId",
            "x-ms-summary": "Workflow Run Id",
            "x-ms-url-encoding": "single",
            "in": "path",
            "description": "The ID of the Workflow Run",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateWorkflowRunRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Invalid value for: body"
          }
        }
      }
    },
    "/workflows": {
      "get": {
        "summary": "List workflows",
        "x-ms-summary": "List workflows",
        "x-ms-visibility": "internal",
        "description": "Returns all Active workflows of an organization.",
        "operationId": "listWorkflows",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters" : [ ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListWorkflowsResponse"
            }
          },
          "400": {
            "description": "Invalid value for: query parameter name"
          }
        }
      }
    },
    "/power-automate/triggers/task-checked-unchecked" : {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/SimplifiedTask"
        },
        "description": "Task Trigger Model"
      },
      "post" : {
        "summary" : "Task Checked and Unchecked trigger",
        "x-ms-summary": "Task Checked and Unchecked Trigger",
        "x-ms-trigger": "single",
        "description" : "A trigger that will fire each time a task is completed, uncompleted or both in Process Street.",
        "operationId" : "createTaskCheckedAndUncheckedTrigger",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CreateTaskCheckedUncheckedTriggerRequest"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Trigger created successfully"
          }
        }
      }
    },
    "/power-automate/triggers/workflow-run-created": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/SimplifiedWorkflowRun"
        },
        "description": "Workflow RUn Trigger Model"
      },
      "post": {
        "responses": {
          "201": {
            "description": "Trigger Created successfully"
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Workflow Run Created Trigger",
        "x-ms-summary": "Workflow Run Created Trigger",
        "description": "A trigger that will fire each time that a workflow run is created in Process Street.",
        "operationId": "workflow-run-created-trigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "workflowId": {
                  "type": "string",
                  "description": "Workflow Id (Optional)"
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      }
    },
    "/power-automate/triggers/workflow-run-completed": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/SimplifiedWorkflowRun"
        },
        "description": "Workflow RUn Trigger Model"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Trigger Created successfully"
          }
        },
        "summary": "Workflow Run Completed Trigger",
        "x-ms-summary": "Workflow Run Completed Trigger",
        "description": "A trigger that will fire each time that a workflow run is completed in Process Street.",
        "operationId": "workflow-run-completed-trigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "workflowId": {
                  "type": "string",
                  "description": "Workflow Id (Optional)"
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      }
    },
    "/power-automate/dynamic-schemas/workflow-runs/{workflowRunId}/form-fields" : {
      "get" : {
        "summary" : "Get dynamic schema for FormFields update",
        "x-ms-visibility": "internal",
        "description" : "Allows to get dynamic schema to update form fields for a given workflow run.",
        "operationId" : "getSchemaForFormFieldsUpdateByWorkflowRunId",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workflowRunId",
          "x-ms-summary": "Workflow Run Id",
          "in" : "path",
          "description" : "The ID of the Workflow Run",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "type" : "object"
            }
          }
        },
        "security" : [ {
          "apiKeyAuth" : [ ]
        } ]
      }
    },
    "/power-automate/dynamic-schemas/workflows/{workflowId}/form-fields" : {
      "get" : {
        "summary" : "Get dynamic schema for FormFields update",
        "x-ms-visibility": "internal",
        "description" : "Allows to get dynamic schema to update form fields for a given workflow.",
        "operationId" : "getSchemaForFormFieldsUpdateByWorkflowId",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "description" : "The ID of the Workflow",
          "required" : true,
          "type" : "string",
          "x-ms-summary" : "Workflow Id",
          "x-ms-url-encoding" : "single",
          "x-ms-dynamic-values" : {
            "operationId" : "listWorkflows",
            "value-collection" : "workflows",
            "value-path" : "id",
            "value-title" : "name"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "type" : "object"
            }
          }
        },
        "security" : [ {
          "apiKeyAuth" : [ ]
        } ]
      }
    },
    "/power-automate/workflow-runs/{workflowRunId}/form-fields" : {
      "post" : {
        "summary" : "Update multiple form field values",
        "x-ms-visibility": "internal",
        "description" : "Allows setting form field values (i.e the values for the form fields present in a workflow run).\nA value may consist of a simple string, may accept multiple values as an array, or it may accept multiple properties.\nSee the examples for a complete reference on setting form field values.",
        "operationId" : "updateMultipleFormFieldValuesPA",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workflowRunId",
          "in" : "path",
          "x-ms-summary": "Workflow Run Id",
          "description" : "The ID of the Workflow Run",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "x-ms-summary": "Form Fields",
          "description" : "Object of form fields to set a new value for, within a particular workflow run.\nOnly field ids that are passed are changed in\nthe workflow run, completely replacing the current value.\nFields not passed remain unchanged.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PAUpdateFormFieldValuesRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/UpdateMultipleFormFieldValuesResponse"
            }
          },
          "400" : {
            "description" : "Invalid value for: body"
          }
        },
        "security" : [ {
          "apiKeyAuth" : [ ]
        } ]
      }
    },
    "/power-automate/workflows/{workflowId}/workflow-runs/{workflowRunId}/form-fields" : {
      "post" : {
        "summary" : "Update multiple form field values",
        "description" : "Allows setting form field values (i.e the values for the form fields present in a workflow run).\nA value may consist of a simple string, may accept multiple values as an array, or it may accept multiple properties.\nSee the examples for a complete reference on setting form field values.",
        "operationId" : "updateMultipleFormFieldValuesWithWorkflowIdPA",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "description" : "The ID of the Workflow",
          "required" : true,
          "type" : "string",
          "x-ms-summary" : "Workflow Id",
          "x-ms-url-encoding" : "single",
          "x-ms-dynamic-values" : {
            "operationId" : "listWorkflows",
            "value-collection" : "workflows",
            "value-path" : "id",
            "value-title" : "name"
          }
        }, {
          "name" : "workflowRunId",
          "in" : "path",
          "description" : "The ID of the Workflow Run",
          "x-ms-summary" : "Workflow Run Id",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Object of form fields to set a new value for, within a particular workflow run.\nOnly field ids that are passed are changed in\nthe workflow run, completely replacing the current value.\nFields not passed remain unchanged.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PAUpdateFormFieldValuesWithWorkflowIdRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "schema" : {
              "$ref" : "#/definitions/UpdateMultipleFormFieldValuesResponse"
            }
          },
          "400" : {
            "description" : "Invalid value for: body"
          }
        },
        "security" : [ {
          "apiKeyAuth" : [ ]
        } ]
      }
    }
  },
  "definitions": {
    "AuditInfo": {
      "type": "object",
      "required": [
        "createdById",
        "createdDate",
        "updatedById",
        "updatedDate"
      ],
      "properties": {
        "createdDate": {
          "type": "string"
        },
        "createdById": {
          "$ref": "#/definitions/EntityID"
        },
        "updatedDate": {
          "type": "string"
        },
        "updatedById": {
          "$ref": "#/definitions/EntityID"
        }
      }
    },
    "CreateTaskCheckedUncheckedTriggerRequest" : {
      "type" : "object",
      "required" : [ "triggerType", "url" ],
      "properties" : {
        "url" : {
          "type" : "string",
          "description": "url",
          "x-ms-notification-url": true,
          "x-ms-visibility": "internal",
          "title": ""
        },
        "workflowId" : {
          "type": "string",
          "description": "Workflow Id (Optional)",
          "x-ms-summary": "Workflow Id"
        },
        "taskTemplateGroupId" : {
          "type": "string",
          "description": "Task Template Group Id (Optional)",
          "x-ms-summary": "Task Template Group Id"
        },
        "triggerType" : {
          "type" : "string",
          "x-ms-summary": "Trigger Type",
          "enum": ["Task Checked", "Task Unchecked", "Task Checked or Unchecked"]
        }
      }
    },
    "CreateWorkflowRunRequest": {
      "type": "object",
      "required": [
        "name",
        "workflowId"
      ],
      "properties": {
        "workflowId" : {
          "type" : "string",
          "description" : "The ID of the Workflow",
          "x-ms-dynamic-values" : {
            "operationId" : "listWorkflows",
            "value-collection" : "workflows",
            "value-path" : "id",
            "value-title" : "name"
          }
        },
        "name": {
          "type": "string"
        },
        "dueDate": {
          "type": "string"
        }
      }
    },
    "CreateWorkflowRunResponse": {
      "type": "object",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the Workflow Run"
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        }
      }
    },
    "EntityID": {
      "type": "string"
    },
    "FormFieldWithValue": {
      "type": "object",
      "required": [
        "data",
        "id"
      ],
      "properties": {
        "id": {
          "$ref": "#/definitions/Muid"
        },
        "data": {
          "$ref": "#/definitions/JsObject"
        }
      }
    },
    "JsObject": {
      "type": "object"
    },
    "Link": {
      "type": "object",
      "required": [
        "href",
        "name"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "href": {
          "$ref": "#/definitions/Uri"
        },
        "rel": {
          "$ref": "#/definitions/LinkRel"
        }
      }
    },
    "LinkRel": {
      "type": "string"
    },
    "ListFormFieldValuesResponse": {
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SimplifiedFormFieldValue"
          }
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        }
      }
    },
    "ListWorkflowRunsResponse": {
      "type": "object",
      "properties": {
        "workflowRuns": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SimplifiedWorkflowRun"
          }
        }
      }
    },
    "ListWorkflowsResponse": {
      "type": "object",
      "properties": {
        "workflows": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SimplifiedWorkflow"
          }
        }
      }
    },
    "Map_Option_String": {
      "type": "object"
    },
    "Muid": {
      "type": "object",
      "required": [
        "uuid"
      ],
      "properties": {
        "uuid": {
          "type": "string"
        }
      }
    },
    "PAUpdateFormFieldValuesRequest" : {
      "type" : "object",
      "x-ms-dynamic-schema" : {
        "operationId" : "getSchemaForFormFieldsUpdateByWorkflowRunId",
        "value-path" : "Schema",
        "parameters" : {
          "workflowRunId" : {
            "parameter" : "workflowRunId"
          }
        }
      }
    },
    "PAUpdateFormFieldValuesWithWorkflowIdRequest" : {
      "type" : "object",
      "x-ms-dynamic-schema" : {
        "operationId" : "getSchemaForFormFieldsUpdateByWorkflowId",
        "value-path" : "Schema",
        "parameters" : {
          "workflowId" : {
            "parameter" : "workflowId"
          }
        }
      }
    },
    "SimplifiedFormFieldValue": {
      "type": "object",
      "required": [
        "data",
        "id",
        "key",
        "taskId"
      ],
      "properties": {
        "id": {
          "$ref": "#/definitions/EntityID"
        },
        "key": {
          "type": "string"
        },
        "data": {
          "type": "string"
        },
        "taskId": {
          "$ref": "#/definitions/EntityID"
        }
      }
    },
    "SimplifiedTask": {
      "type": "object",
      "required": [
        "hidden",
        "id",
        "name",
        "status",
        "stopped"
      ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The ID of the Task"
        },
        "status" : {
          "type" : "string"
        },
        "dueDate" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "hidden" : {
          "type" : "boolean"
        },
        "stopped" : {
          "type" : "boolean"
        },
        "taskTemplateGroupId" : {
          "$ref" : "#/definitions/EntityID"
        },
        "workflowRunId" : {
          "$ref" : "#/definitions/EntityID"
        }
      }
    },
    "SimplifiedWorkflow": {
      "type": "object",
      "required": [
        "folderId",
        "free",
        "id",
        "name",
        "public",
        "shareLevel",
        "sharedRunLink",
        "status"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the Workflow"
        },
        "folderId": {
          "$ref": "#/definitions/EntityID"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "sharedRunLink": {
          "type": "boolean"
        },
        "shareLevel": {
          "type": "string"
        },
        "public": {
          "type": "boolean"
        },
        "publicId": {
          "type": "string"
        },
        "publicUrl": {
          "type": "string"
        },
        "free": {
          "type": "boolean"
        },
        "lastRunDate": {
          "type": "string"
        }
      }
    },
    "SimplifiedWorkflowRun": {
      "type": "object",
      "required": [
        "audit",
        "id",
        "migrationStatus",
        "shared",
        "status",
        "workflowId"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the Workflow Run"
        },
        "name": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "workflowId": {
          "$ref": "#/definitions/EntityID"
        },
        "shared": {
          "type": "boolean"
        },
        "dueDate": {
          "type": "string"
        },
        "audit": {
          "$ref": "#/definitions/AuditInfo"
        },
        "migrationStatus": {
          "type": "string"
        }
      }
    },
    "UpdateMultipleFormFieldValuesResponse": {
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SimplifiedFormFieldValue"
          }
        }
      }
    },
    "UpdateWorkflowRunRequest": {
      "type": "object",
      "required": [
        "name",
        "status"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "dueDate": {
          "type": "string"
        }
      }
    },
    "Uri": {
      "type": "string"
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}