{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft 365 Service Health",
    "description": "",
    "version": "1.0"
  },
  "host": "graph.microsoft.com",
  "basePath": "/beta/admin/serviceAnnouncement",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/GET https://graph.microsoft.com/beta/serviceAnnouncement/healthOverviews": {},
    "/healthOverviews": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "service": {
                        "type": "string",
                        "description": "service"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "issues": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "startDateTime": {
                              "type": "string",
                              "description": "startDateTime"
                            },
                            "endDateTime": {
                              "type": "string",
                              "description": "endDateTime"
                            },
                            "lastModifiedDateTime": {
                              "type": "string",
                              "description": "lastModifiedDateTime"
                            },
                            "title": {
                              "type": "string",
                              "description": "title"
                            },
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "impactDescription": {
                              "type": "string",
                              "description": "impactDescription"
                            },
                            "classification": {
                              "type": "string",
                              "description": "classification"
                            },
                            "origin": {
                              "type": "string",
                              "description": "origin"
                            },
                            "status": {
                              "type": "string",
                              "description": "status"
                            },
                            "service": {
                              "type": "string",
                              "description": "service"
                            },
                            "feature": {
                              "type": "string",
                              "description": "feature"
                            },
                            "featureGroup": {
                              "type": "string",
                              "description": "featureGroup"
                            },
                            "isResolved": {
                              "type": "boolean",
                              "description": "isResolved"
                            },
                            "details": {
                              "type": "array",
                              "items": {},
                              "description": "details"
                            },
                            "posts": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "createdDateTime": {
                                    "type": "string",
                                    "description": "createdDateTime"
                                  },
                                  "postType": {
                                    "type": "string",
                                    "description": "postType"
                                  },
                                  "description": {
                                    "type": "object",
                                    "properties": {
                                      "contentType": {
                                        "type": "string",
                                        "description": "contentType"
                                      },
                                      "content": {
                                        "type": "string",
                                        "description": "content"
                                      }
                                    },
                                    "description": "description"
                                  }
                                }
                              },
                              "description": "posts"
                            }
                          }
                        },
                        "description": "issues"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Health",
        "description": "Get Health",
        "operationId": "Health",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "enum": [
              "",
              "issues"
            ]
          }
        ]
      }
    },
    "/beta/admin/serviceAnnouncement/healthOverviews": {},
    "/messages": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startDateTime": {
                        "type": "string",
                        "description": "startDateTime"
                      },
                      "endDateTime": {
                        "type": "string",
                        "description": "endDateTime"
                      },
                      "lastModifiedDateTime": {
                        "type": "string",
                        "description": "lastModifiedDateTime"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "category": {
                        "type": "string",
                        "description": "category"
                      },
                      "severity": {
                        "type": "string",
                        "description": "severity"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "tags"
                      },
                      "isMajorChange": {
                        "type": "boolean",
                        "description": "isMajorChange"
                      },
                      "actionRequiredByDateTime": {
                        "type": "string",
                        "description": "actionRequiredByDateTime"
                      },
                      "services": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "services"
                      },
                      "details": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            }
                          }
                        },
                        "description": "details"
                      },
                      "body": {
                        "type": "object",
                        "properties": {
                          "contentType": {
                            "type": "string",
                            "description": "contentType"
                          },
                          "content": {
                            "type": "string",
                            "description": "content"
                          }
                        },
                        "description": "body"
                      },
                      "viewPoint": {
                        "type": "string",
                        "description": "viewPoint"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Messages",
        "operationId": "Messages",
        "parameters": [],
        "description": "Gets the Message Center Messages",
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "undefined": []
    }
  ],
  "tags": []
}