{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft 365 Service Health",
    "description": "Provides access to the Service Announcements and Service Health feeds that exist on the Microsoft Graph (BETA).  Please read the setup instructions for configuring an app registration for this connector to use for Graph access.  For more on the Graph Service Announcements api please see https://docs.microsoft.com/en-us/graph/api/resources/service-communications-api-overview?view=graph-rest-beta",
    "version": "1.0"
  },
  "host": "graph.microsoft.com",
  "basePath": "/beta/admin/serviceAnnouncement",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/GET https://graph.microsoft.com/beta/serviceAnnouncement/healthOverviews": {},
    "/healthOverviews": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "service": {
                        "type": "string",
                        "description": "Service Name",
                        "title": "Service"
                      },
                      "status": {
                        "type": "string",
                        "description": "Status of the Service",
                        "title": "Status"
                      },
                      "id": {
                        "type": "string",
                        "description": "Id of the Service",
                        "title": "Id"
                      },
                      "issues": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "startDateTime": {
                              "type": "string",
                              "description": "startDateTime"
                            },
                            "endDateTime": {
                              "type": "string",
                              "description": "endDateTime"
                            },
                            "lastModifiedDateTime": {
                              "type": "string",
                              "description": "lastModifiedDateTime"
                            },
                            "title": {
                              "type": "string",
                              "description": "title"
                            },
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "impactDescription": {
                              "type": "string",
                              "description": "impactDescription"
                            },
                            "classification": {
                              "type": "string",
                              "description": "classification"
                            },
                            "origin": {
                              "type": "string",
                              "description": "origin"
                            },
                            "status": {
                              "type": "string",
                              "description": "status"
                            },
                            "service": {
                              "type": "string",
                              "description": "service"
                            },
                            "feature": {
                              "type": "string",
                              "description": "feature"
                            },
                            "featureGroup": {
                              "type": "string",
                              "description": "featureGroup"
                            },
                            "isResolved": {
                              "type": "boolean",
                              "description": "isResolved"
                            },
                            "details": {
                              "type": "array",
                              "items": {},
                              "description": "details"
                            },
                            "posts": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "createdDateTime": {
                                    "type": "string",
                                    "description": "createdDateTime"
                                  },
                                  "postType": {
                                    "type": "string",
                                    "description": "postType"
                                  },
                                  "description": {
                                    "type": "object",
                                    "properties": {
                                      "contentType": {
                                        "type": "string",
                                        "description": "contentType"
                                      },
                                      "content": {
                                        "type": "string",
                                        "description": "content"
                                      }
                                    },
                                    "description": "description"
                                  }
                                }
                              },
                              "description": "posts"
                            }
                          }
                        },
                        "description": "issues"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Health",
        "description": "Get the Health of the Services (optionally set to include the health advisories)",
        "operationId": "Health",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "enum": [
              "",
              "issues"
            ],
            "description": "Optional Parameter to expand the issues of each services",
            "x-ms-summary": "Optional field to include the service issues on the health feed"
          }
        ]
      }
    },
    "/beta/admin/serviceAnnouncement/healthOverviews": {},
    "/messages": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startDateTime": {
                        "type": "string",
                        "description": "Start Date Time of the message",
                        "title": "Start",
                        "format": "date-time",
                        "x-ms-visibility": "important"
                      },
                      "endDateTime": {
                        "type": "string",
                        "description": "End Date Time for the Message",
                        "title": "End DateTime",
                        "format": "date-time"
                      },
                      "lastModifiedDateTime": {
                        "type": "string",
                        "description": "Last Modified Date Time",
                        "title": "Last Modified",
                        "format": "date-time"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title of the Message",
                        "title": "Title",
                        "x-ms-visibility": "important"
                      },
                      "id": {
                        "type": "string",
                        "description": "Id of the message in the message center",
                        "title": "Id",
                        "x-ms-visibility": "advanced"
                      },
                      "category": {
                        "type": "string",
                        "description": "Category of the Message",
                        "title": "Category",
                        "x-ms-visibility": "advanced"
                      },
                      "severity": {
                        "type": "string",
                        "description": "Severity of the message",
                        "title": "Severity",
                        "x-ms-visibility": "advanced"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "tags"
                      },
                      "isMajorChange": {
                        "type": "boolean",
                        "description": "Is the Message a Major Change",
                        "title": "IsMajorChange",
                        "enum": [
                          "",
                          "true",
                          "false"
                        ],
                        "x-ms-visibility": "important"
                      },
                      "actionRequiredByDateTime": {
                        "type": "string",
                        "description": "Optional Field to show when action is required by",
                        "title": "Action Required By Date Time",
                        "format": "date-time",
                        "x-ms-visibility": "advanced"
                      },
                      "services": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "services"
                      },
                      "details": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            }
                          }
                        },
                        "description": "details"
                      },
                      "body": {
                        "type": "object",
                        "properties": {
                          "contentType": {
                            "type": "string",
                            "description": "Type of content in the message",
                            "title": "Content Type",
                            "x-ms-visibility": "advanced"
                          },
                          "content": {
                            "type": "string",
                            "description": "Content of the Message",
                            "title": "Content",
                            "x-ms-visibility": "important"
                          }
                        },
                        "description": "body"
                      },
                      "viewPoint": {
                        "type": "string",
                        "description": "View Point (this will be null unless the connector has a message center access role)",
                        "title": "View Point"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Messages",
        "operationId": "Messages",
        "parameters": [],
        "description": "Gets the Message Center Messages",
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "undefined": []
    }
  ],
  "tags": []
}