{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "Cloudmersive Barcode",
        "description": "Barcode APIs let you generate barcode images, and recognize values from images of barcodes.",
        "contact": {
            "name": "Cloumdersive Support",
            "url": "https://account.cloudmersive.com/contact-support",
            "email": "support@cloudmersive.com"
        }
    },
    "host": "api.cloudmersive.com",
    "schemes": [
        "https"
    ],
    "paths": {
        "/barcode/lookup/ean": {
            "post": {
                "tags": [
                    "BarcodeLookup"
                ],
                "summary": "Lookup EAN barcode value, return product data",
                "description": "Lookup an input EAN barcode and return key details about the product",
                "operationId": "BarcodeLookup_EanLookup",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [{
                    "name": "value",
                    "in": "body",
                    "description": "Barcode value",
                    "required": true,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-summary": "Barcode value"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BarcodeLookupResponse"
                        }
                    }
                },
                "security": [{
                    "Apikey": []
                }]
            }
        },
        "/barcode/scan/image": {
            "post": {
                "tags": [
                    "BarcodeScan"
                ],
                "summary": "Scan and recognize an image of a barcode",
                "description": "Scan an image or photo of a barcode and return the result.  Supported barcode types include AZTEC, CODABAR, CODE_39, CODE_93, CODE_128, DATA_MATRIX, EAN_8, EAN_13, ITF, MAXICODE, PDF_417, QR_CODE, RSS_14, RSS_EXPANDED, UPC_A, UPC_E, All_1D, UPC_EAN_EXTENSION, MSI, PLESSEY, IMB",
                "operationId": "BarcodeScan_Image",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [{
                    "name": "imageFile",
                    "in": "formData",
                    "description": "Image file to perform the operation on.  Common file formats such as P",
                    "required": true,
                    "type": "file",
                    "x-ms-summary": "Image file to perform the operation on.  Common file formats such as P"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BarcodeScanResult"
                        }
                    }
                },
                "security": [{
                    "Apikey": []
                }]
            }
        },
        "/barcode/generate/qrcode": {
            "post": {
                "tags": [
                    "GenerateBarcode"
                ],
                "summary": "Generate a QR code barcode as PNG file",
                "description": "Generate a QR code barcode as a PNG file, a type of 2D barcode which can encode free-form text information",
                "operationId": "GenerateBarcode_QRCode",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/octet-stream"
                ],
                "parameters": [{
                    "name": "value",
                    "in": "body",
                    "description": "QR code text to convert into the QR code barcode",
                    "required": true,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-summary": "QR code text to convert into the QR code barcode"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "format": "binary",
                            "title": "OutputContent",
                            "description": "Output file content from the operation",
                            "type": "string"
                        }
                    }
                },
                "security": [{
                    "Apikey": []
                }]
            }
        },
        "/barcode/generate/upc-a": {
            "post": {
                "tags": [
                    "GenerateBarcode"
                ],
                "summary": "Generate a UPC-A code barcode as PNG file",
                "description": "Validate and generate a UPC-A barcode as a PNG file, a type of 1D barcode",
                "operationId": "GenerateBarcode_UPCA",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/octet-stream"
                ],
                "parameters": [{
                    "name": "value",
                    "in": "body",
                    "description": "UPC-A barcode value to generate from",
                    "required": true,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-summary": "UPC-A barcode value to generate from"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "format": "binary",
                            "title": "OutputContent",
                            "description": "Output file content from the operation",
                            "type": "string"
                        }
                    }
                },
                "security": [{
                    "Apikey": []
                }]
            }
        },
        "/barcode/generate/upc-e": {
            "post": {
                "tags": [
                    "GenerateBarcode"
                ],
                "summary": "Generate a UPC-E code barcode as PNG file",
                "description": "Validates and generate a UPC-E barcode as a PNG file, a type of 1D barcode",
                "operationId": "GenerateBarcode_UPCE",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/octet-stream"
                ],
                "parameters": [{
                    "name": "value",
                    "in": "body",
                    "description": "UPC-E barcode value to generate from",
                    "required": true,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-summary": "UPC-E barcode value to generate from"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "format": "binary",
                            "title": "OutputContent",
                            "description": "Output file content from the operation",
                            "type": "string"
                        }
                    }
                },
                "security": [{
                    "Apikey": []
                }]
            }
        },
        "/barcode/generate/ean-13": {
            "post": {
                "tags": [
                    "GenerateBarcode"
                ],
                "summary": "Generate a EAN-13 code barcode as PNG file",
                "description": "Validates and generate a EAN-13 barcode as a PNG file, a type of 1D barcode",
                "operationId": "GenerateBarcode_EAN13",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/octet-stream"
                ],
                "parameters": [{
                    "name": "value",
                    "in": "body",
                    "description": "Barcode value to generate from",
                    "required": true,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-summary": "Barcode value to generate from"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "format": "binary",
                            "title": "OutputContent",
                            "description": "Output file content from the operation",
                            "type": "string"
                        }
                    }
                },
                "security": [{
                    "Apikey": []
                }]
            }
        },
        "/barcode/generate/ean-8": {
            "post": {
                "tags": [
                    "GenerateBarcode"
                ],
                "summary": "Generate a EAN-8 code barcode as PNG file",
                "description": "Validates and generate a EAN-8 barcode as a PNG file, a type of 1D barcode",
                "operationId": "GenerateBarcode_EAN8",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/octet-stream"
                ],
                "parameters": [{
                    "name": "value",
                    "in": "body",
                    "description": "Barcode value to generate from",
                    "required": true,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-summary": "Barcode value to generate from"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "format": "binary",
                            "title": "OutputContent",
                            "description": "Output file content from the operation",
                            "type": "string"
                        }
                    }
                },
                "security": [{
                    "Apikey": []
                }]
            }
        }
    },
    "x-ms-connector-metadata": [{
            "propertyName": "Website",
            "propertyValue": "https://www.cloudmersive.com/barcode-api"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://www.cloudmersive.com/privacy-policy"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Data;Content and Files"
        }
    ],
    "definitions": {
        "BarcodeLookupResponse": {
            "description": "Result of performing a barcode lookup",
            "type": "object",
            "properties": {
                "Successful": {
                    "description": "True if operation was successful, false otherwise",
                    "type": "boolean"
                },
                "Matches": {
                    "description": "Resulting product matches for the input barcode",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ProductMatch"
                    }
                }
            }
        },
        "ProductMatch": {
            "description": "Matching product for the input barcode",
            "type": "object",
            "properties": {
                "EAN": {
                    "description": "EAN code for the product",
                    "type": "string"
                },
                "Title": {
                    "description": "Title of the product",
                    "type": "string"
                }
            }
        },
        "BarcodeScanResult": {
            "description": "Result of the barcode scan",
            "type": "object",
            "properties": {
                "Successful": {
                    "description": "True if the operation was successful, false otherwise",
                    "type": "boolean"
                },
                "BarcodeType": {
                    "description": "The type of the barcode; possible values are AZTEC, CODABAR, CODE_39, CODE_93, CODE_128, DATA_MATRIX, EAN_8, EAN_13, ITF, MAXICODE, PDF_417, QR_CODE, RSS_14, RSS_EXPANDED, UPC_A, UPC_E, All_1D, UPC_EAN_EXTENSION, MSI, PLESSEY, IMB",
                    "type": "string"
                },
                "RawText": {
                    "description": "The barcode text",
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {
        "Apikey": {
            "type": "apiKey",
            "description": "API Key Authentication",
            "name": "Apikey",
            "in": "header"
        }
    }
}