{
  "swagger": "2.0",
  "info": {
    "title": "AMEE Open Business",
    "description": "Access business data on over 20 million companies including financial risk, carbon emissions, carbon efficiency ratings, and more sustainability and business information such as address and contact details. Embed data into your application to link company profiles and automate monitoring changes to credit and environmental ratings.",
    "version": "1.0",
    "contact": {
      "name": "Paul Culmsee",
      "url": "https://sevensigma.com.au",
      "email": "paul.culmsee@sevensigma.com.au"
    }
  },
  "host": "www.amee.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/companies": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "companies": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CompanyModel"
                  },
                  "description": "Companies"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total"
                }
              }
            }
          }
        },
        "summary": "Get Companies",
        "description": "Returns a set of companies",
        "operationId": "GetCompanies",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Number of results per page, max 50, default 20",
            "x-ms-summary": "Results per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Page number of results, max 100, default 1",
            "x-ms-summary": "Page number of results"
          },
          {
            "name": "company_name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Fuzzy search on company_name",
            "x-ms-summary": "Company Name"
          },
          {
            "name": "gup_amee_company_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Search on companies with same parent ID",
            "x-ms-summary": "Parent Company ID"
          },
          {
            "name": "is_gup",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Filters for parent companies",
            "x-ms-summary": "Filters for parent companies"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Exact search on city",
            "x-ms-summary": "City"
          },
          {
            "name": "postcode",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Exact search on postcode",
            "x-ms-summary": "Postcode"
          },
          {
            "name": "province_name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Exact search on province_name",
            "x-ms-summary": "Province Name"
          },
          {
            "name": "uk_sic_2007",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Exact search on uk_sic_2007",
            "x-ms-summary": "Standard Industrial Classification"
          },
          {
            "name": "min_employees",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "minimum value for employees_total",
            "x-ms-summary": "Min Number of Employees"
          },
          {
            "name": "max_employees",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "maximum value for employees_total",
            "x-ms-summary": "Max Number of Employees"
          },
          {
            "name": "min_annual_sales_local",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "minimum value for annual_sales_local",
            "x-ms-summary": "Min Annual Sales"
          },
          {
            "name": "max_annual_sales_local",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "maximum value for annual_sales_local",
            "x-ms-summary": "Max Annual Sales"
          },
          {
            "name": "min_score",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "minimum value for amee_industry_score",
            "x-ms-summary": "Min Amee Industry Score"
          },
          {
            "name": "max_score",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "maximum value for amee_industry_score",
            "x-ms-summary": "Max Amee Industry Score"
          },
          {
            "name": "from_lat_lon",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "must be used together with with distance param, e.g.: 51.623,-0.0732 and distance=20",
            "x-ms-summary": "Latitude/Longitude of a point to search around"
          },
          {
            "name": "distance",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "e.g.: from_location=51.623,-0.0732 and distance=20",
            "x-ms-summary": "Radius in KM to search by Lat/Lon"
          },
          {
            "name": "stats",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Returns 'count', 'total', 'min', 'max', 'mean', 'sum_of_squares', 'variance' and 'std_deviation'.",
            "x-ms-summary": "Returns a list of values at the end of the results"
          }
        ]
      }
    },
    "/companies/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "company": {
                  "$ref": "#/definitions/CompanyModel"
                }
              }
            }
          }
        },
        "summary": "Get Company",
        "operationId": "GetCompany",
        "description": "Returns a company based on ID. The ID defaults to an AMEE company id, but you can also search via a CRO number by setting the 'type' parameter.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary" : "Company ID",
            "description" : "ID of company that needs to be fetched, e.g. 000662801",            
            "required": true,
            "x-ms-url-encoding" : "single",
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "x-ms-summary" : "Company Type",
            "description" : "Allowed values: 'amee', 'CRO'. Defaults to 'amee'",             
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {
    "CompanyModel" : {
      "type": "object",
      "properties": {
        "amee_company_id": {
          "type": "string",
          "description": "amee_company_id",
          "title": "Amee Company Id"
        },
        "gup_amee_company_id": {
          "type": "string",
          "description": "gup_amee_company_id",
          "title": "ID of Company Global Ultimate Parent"
        },
        "is_gup": {
          "type": "boolean",
          "description": "is_gup",
          "title": "Is Company a Global Ultimate Parent?,",
          "enum": [
            true,
            false
          ]
        },
        "name": {
          "type": "string",
          "description": "name",
          "title": "Company Name"
        },
        "amee_industry_score": {
          "type": "integer",
          "format": "int32",
          "description": "amee_industry_score",
          "title": "Amee Industry Score"
        },
        "amee_score_status": {
          "type": "string",
          "description": "amee_score_status",
          "title": "AMEE Score Status"
        },
        "annual_sales_local": {
          "type": "integer",
          "format": "int32",
          "description": "annual_sales_local",
          "title": "Annual Sales Locally"
        },
        "city": {
          "type": "string",
          "description": "city",
          "title": "City"
        },
        "country_code": {
          "type": "string",
          "description": "country_code",
          "title": "Country Code"
        },
        "currency_code": {
          "type": "string",
          "description": "currency_code",
          "title": "Currency Code"
        },
        "emissions_scope1_tco2e": {
          "type": "string",
          "description": "emissions_scope1_tco2e",
          "title": "Scope 1 Emissions"
        },
        "emissions_scope2_tco2e": {
          "type": "string",
          "description": "emissions_scope2_tco2e",
          "title": "Scope 2 Emissions"
        },
        "emissions_status": {
          "type": "string",
          "description": "emissions_status",
          "title": "Status of Emissions Data ('modelled', 'updated', 'sourced' or 'no_data')"
        },
        "emissions_total_tco2e": {
          "type": "integer",
          "format": "int32",
          "description": "emissions_total_tco2e",
          "title": "Tonnes of Carbon Dioxide Equivalent."
        },
        "employees_total": {
          "type": "integer",
          "format": "int32",
          "description": "employees_total",
          "title": "Total Employees"
        },
        "uk_sic_2007": {
          "type": "integer",
          "format": "int32",
          "description": "uk_sic_2007",
          "title": "Standard Industrial Classification (UK SIC 2007)"
        },
        "national_identification_number": {
          "type": "string",
          "description": "national_identification_number",
          "title": "National Identification Number"
        },
        "postcode": {
          "type": "string",
          "description": "postcode",
          "title": "Postcode"
        },
        "province_name": {
          "type": "string",
          "description": "province_name",
          "title": "Province Name"
        },
        "street_address_1": {
          "type": "string",
          "description": "street_address_1",
          "title": "Street Address 1"
        },
        "street_address_2": {
          "type": "string",
          "description": "street_address_2",
          "title": "Street Address 2"
        },
        "street_address_3": {
          "type": "string",
          "description": "street_address_3",
          "title": "Street Address 3"
        },
        "street_address_4": {
          "type": "string",
          "description": "street_address_4",
          "title": "Street Address 4"
        },
        "sustainability_report_url": {
          "type": "string",
          "description": "sustainability_report_url",
          "title": "Sustainability Report URL"
        },
        "sustainability_report_year": {
          "type": "string",
          "description": "sustainability_report_year",
          "title": "Sustainability Report Year"
        },
        "total_assets_local": {
          "type": "string",
          "description": "total_assets_local",
          "title": "Total Assets Local"
        },
        "waste_hazardous_kg": {
          "type": "string",
          "description": "waste_hazardous_kg"
        },
        "waste_non_hazardous_kg": {
          "type": "string",
          "description": "waste_non_hazardous_kg",
          "title": "Non Hazardous Waste (kg)"
        },
        "waste_status": {
          "type": "string",
          "description": "waste_status",
          "title": "Status of Waste Data ('modelled', 'updated', 'sourced' or 'no_data')"
        },
        "water_status": {
          "type": "string",
          "description": "water_status",
          "title": "Status of Water Data ('modelled', 'updated', 'sourced' or 'no_data')"
        },
        "water_withdrawn_l": {
          "type": "string",
          "description": "water_withdrawn_l",
          "title": "Water Withdrawn"
        },
        "amee_industry_score_icon": {
          "type": "string",
          "description": "amee_industry_score_icon",
          "title": "Amee Industry Score Icon (URL of score icon, available in 3 styles. Default is style1, to access others replace style string in URL,)"
        },
        "line_of_business": {
          "type": "string",
          "description": "line_of_business",
          "title": "Line of Business"
        },
        "lat": {
          "type": "number",
          "format": "float",
          "description": "lat",
          "title": "Latitude"
        },
        "lon": {
          "type": "number",
          "format": "float",
          "description": "lon",
          "title": "Longitude"
        },
        "trading_status": {
          "type": "string",
          "description": "trading_status",
          "title": "Trading Status"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [{
    "propertyName": "Website",
    "propertyValue": "https://www.amee.com/api"
  }, {
    "propertyName": "Privacy policy",
    "propertyValue": "https://www.amee.com/privacy-policy"
  }, {
    "propertyName": "Categories",
    "propertyValue": "Data"
  }
]
}