{"swagger":"2.0","info":{"title":"nBold","description":"Teams Template and Creation Automation with Channels, Files Template, Folder structure, Planner template with tasks; Governance Automation for Microsoft Teams.\n","version":"1.0.0","x-ms-deployment-version":"1.0.0","x-ms-api-annotation":{"status":"Preview"},"contact":{"name":"nBold Support","url":"https://docs.nbold.co/api","email":"support@nbold.co"},"license":{"name":"(c) Copyright 2021-2023 nbold - all rights reserved.","url":"https://nbold.co/legal/eula"}},"x-ms-connector-metadata":[{"propertyName":"Website","propertyValue":"https://nbold.co"},{"propertyName":"Privacy policy","propertyValue":"https://nbold.co/legal/privacy"},{"propertyName":"Categories","propertyValue":"Productivity;IT Operations"}],"host":"api.nbold.io","basePath":"/","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/api/v3.0/approvals/{approvalRequestId}/approve":{"post":{"operationId":"ApproveTeamCreation","summary":"Approve a team request","description":"This endpoint allows an admin or authorized user to approve a team request based on the provided team ID. The approval action will update the team status to approved.","x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"ApproveTeamCreation","revision":1},"parameters":[{"name":"approvalRequestId","in":"path","x-ms-summary":"Approval Request","description":"The ID of the approval request you want to approve.","required":true,"type":"string"},{"in":"body","name":"approveTeamCreationRequestBody","description":"An ApproveTeamCreationRequestBody object.","required":true,"schema":{"x-ms-summary":"A positive approval request body","description":"A positive approval request body.","type":"object","properties":{"approver":{"x-ms-summary":"Approver","description":"Approver of the request","type":"object","properties":{"id":{"x-ms-summary":"ID","description":"Impersonate the approver by specifying a User ID. If empty, you'll be automatically assigned as the approver.","type":"string","title":"ID"}},"required":["id"]},"message":{"x-ms-summary":"Message","description":"Message to be sent to the requester.","type":"string"},"updates":{"x-ms-summary":"Team","description":"Updates made by the approver","type":"object","properties":{"name":{"x-ms-summary":"Name","description":"Overrides the team name defined by the requester.","type":"string"},"description":{"x-ms-summary":"Description","description":"Overrides the team description defined by the requester.","type":"string"},"welcomeMessage":{"x-ms-summary":"Welcome Message","description":"Overrides the welcome message defined by the requester.","type":"string"}}}},"x-ms-visibility":"important","required":["approver"]},"x-ms-visibility":"important"}],"responses":{"201":{"description":"Accepted - The response will also contain a Location header, which contains the location of the teamsAsyncOperation that was created to handle the approval of the team creation request.","schema":{"title":"Approval Request Body","description":"Response for approval request.","type":"object"}},"400":{"description":"Bad Request - Indicates that the server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"401":{"description":"Unauthorized - Indicates that the request has not been applied because it lacks valid authentication credentials for the target resource (e.g., missing or invalid access token or API key...).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"402":{"description":"Payment Required - Indicates that the request can not be processed as the client doesn't have a valid subscription.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"403":{"description":"Forbidden - Indicates that the server understood the request but refuses to authorize it.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"404":{"description":"Not Found - Indicates that the origin server did not find a current representation for the target resource or is not willing to disclose that one exists.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"429":{"description":"Too Many Requests - Your request has been throttled as you've reached the maximum number of concurrent calls to our service. Look at the \"Retry-After\" header. See [API throttling guidance](https://docs.nbold.co/api#section/Rate-limits#nbold-api-throttling-guidance) article for more information.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"500":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"503":{"description":"Service Unavailable - Indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}},"tags":["Approvals"],"x-ms-openai-data":{"openai-enabled":false,"operations":[{"operationId":"ApproveTeamCreation","x-ms-require-user-confirmation":true}]}}},"/api/v3.0/approvals/{approvalRequestId}/reject":{"post":{"tags":["Approvals"],"x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"RejectTeamCreation","revision":1},"summary":"Reject a Team Creation Request","description":"Reject a team creation request.","operationId":"RejectTeamCreation","parameters":[{"name":"approvalRequestId","in":"path","x-ms-summary":"Approval Request","description":"The ID of the approval request you want to reject.","required":true,"type":"string"},{"in":"body","name":"rejectTeamCreationRequestBody","description":"An RejectTeamCreationRequestBody object.","required":true,"schema":{"x-ms-summary":"A negative approval request body","description":"A negative approval request body.","type":"object","properties":{"approver":{"x-ms-summary":"Approver","description":"Approver of the request","type":"object","properties":{"id":{"x-ms-summary":"ID","description":"Impersonate the approver by specifying a User ID. If empty, you'll be automatically assigned as the approver.","type":"string"}}},"message":{"x-ms-summary":"Message","description":"Message to be sent to the requester.","type":"string"}}}}],"responses":{"201":{"description":"Accepted - The response will also contain a Location header, which contains the location of the teamsAsyncOperation that was created to handle the reject of the team creation request.","schema":{"x-ms-summary":"Approval Request Reject Body","description":"Response for approval request reject.","type":"object"}},"400":{"description":"Bad Request - Indicates that the server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"401":{"description":"Unauthorized - Indicates that the request has not been applied because it lacks valid authentication credentials for the target resource (e.g., missing or invalid access token or API key...).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"402":{"description":"Payment Required - Indicates that the request can not be processed as the client doesn't have a valid subscription.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"403":{"description":"Forbidden - Indicates that the server understood the request but refuses to authorize it.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"404":{"description":"Not Found - Indicates that the origin server did not find a current representation for the target resource or is not willing to disclose that one exists.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"429":{"description":"Too Many Requests - Your request has been throttled as you've reached the maximum number of concurrent calls to our service. Look at the \"Retry-After\" header. See [API throttling guidance](https://docs.nbold.co/api#section/Rate-limits#nbold-api-throttling-guidance) article for more information.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"500":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"503":{"description":"Service Unavailable - Indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}}}},"/api/v3.0/me/catalog/templates":{"get":{"tags":["Catalog"],"x-ms-visibility":"advanced","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"GetMyCatalogTemplates","revision":1},"summary":"Get My Teams Collaboration Templates","description":"Get the teams collaboration templates accessible to the connected user filtered by the audience targeting rules.","operationId":"GetMyCatalogTemplates","responses":{"200":{"description":"OK - Returns a CatalogTemplates object (Collection of CatalogTemplate objects).","schema":{"title":"Collaboration","description":"A collection of collaboration templates.","type":"object","properties":{"value":{"x-ms-summary":"Collection","description":"Array of catalog templates","type":"array","items":{"x-ms-summary":"Items","description":"A collaboration template from your corporate catalog.","type":"object","properties":{"templateConfiguration":{"x-ms-summary":"Template","description":"Information about the template and its related policies","type":"object","properties":{"id":{"x-ms-summary":"ID","description":"The collaboration template ID.","type":"string"},"name":{"x-ms-summary":"Name","description":"The collaboration template name.","type":"string"},"description":{"x-ms-summary":"Description","description":"The collaboration template description.","type":"string"},"pictureUrl":{"x-ms-summary":"Picture URL","description":"The collaboration template picture URL.","type":"string"},"language":{"x-ms-summary":"Language","description":"The collaboration template language.","type":"string"},"enabled":{"x-ms-summary":"Enabled","description":"Defines if the collaboration template is enabled or not."},"approval":{"description":"The template approval policy.","x-ms-summary":"Approval","type":"object","properties":{"requireApproval":{"x-ms-summary":"Requires","description":"Defines if the collaboration template requires an approval or not."},"approvalTeam":{"x-ms-summary":"Team Members","description":"Members of an approval team.","type":"array","items":{"x-ms-summary":"Team Member","description":"Object representing an approval team member.","type":"object","properties":{"id":{"x-ms-summary":"ID","description":"User ID (From Active Directory)","type":"string"},"name":{"x-ms-summary":"Name","description":"User Display Name (From Active Directory)","type":"string"}}}}}},"permanentMembership":{"description":"The template permanent membership policy.","type":"object","x-ms-summary":"Membership","properties":{"members":{"x-ms-summary":"Members","description":"Members of a permanent membership team.","type":"array","items":{"x-ms-summary":"Member","description":"Object representing a permanent member.","type":"object","properties":{"id":{"x-ms-summary":"ID","description":"User ID (From Active Directory)","type":"string"},"name":{"x-ms-summary":"Name","description":"User Display Name (From Active Directory)","type":"string"}}}},"owners":{"x-ms-summary":"Owners","description":"Members of a permanent membership team.                             ","type":"array","items":{"x-ms-summary":"Member","description":"Object representing a permanent member.","type":"object","properties":{"id":{"x-ms-summary":"ID","description":"User ID (From Active Directory)","type":"string"},"name":{"x-ms-summary":"Name","description":"User Display Name (From Active Directory)","type":"string"}}}}}},"audienceTargeting":{"description":"The template audience targeting policy.","type":"object","x-ms-summary":"Audience Targeting","properties":{"enabled":{"x-ms-summary":"Enabled","description":"the collaboration template specific audiences or not."},"rules":{"x-ms-summary":"Rules","description":"Defines the audience targeting rules.","type":"string"}}}}},"clonedTeam":{"description":"Properties of the source team that should be cloned.","type":"object","x-ms-summary":"Cloned Team","properties":{"teamId":{"x-ms-summary":"ID","description":"The collaboration template source team ID.","type":"string"},"teamName":{"x-ms-summary":"Name","description":"The collaboration template source team name.","type":"string"},"includeApps":{"x-ms-summary":"Apps","description":"Defines if apps should be cloned from the source team."},"includeTabs":{"x-ms-summary":"Tabs","description":"Defines if tabs should be cloned from the source team."},"includeSettings":{"x-ms-summary":"Settings","description":"Defines if the team settings should be cloned from the source team."},"includeChannels":{"x-ms-summary":"Channels","description":"Defines if channels should be cloned from the source team."},"includeMembers":{"x-ms-summary":"Membership","description":"Defines membership (members and owners)."}}},"newTeam":{"description":"Properties of the new team that will be created.","x-ms-summary":"New Team","type":"object","properties":{"namingConvention":{"x-ms-summary":"Naming Convention","description":"Defines the naming convention for the new team name.                    ","type":"string"},"emailConvention":{"x-ms-summary":"Email Convention","description":"Defines the naming convention for the email.","type":"string"},"descriptionConvention":{"x-ms-summary":"Description Convention","description":"Defines the Description convention for the new team.","type":"string"},"welcomeMessageConvention":{"x-ms-summary":"Welcome Message Convention","description":"Defines the welcome message convention for the new team.","type":"string"},"defaultName":{"x-ms-summary":"Default Team Name","description":"Defines the default team name. in the new team provisioning form.","type":"string"},"defaultDescription":{"x-ms-summary":"Default Team Description","description":"Defines the default team description. type: string"},"defaultWelcomeMessage":{"x-ms-summary":"Default Welcome Message","description":"Defines the default team welcome message.","type":"string"},"teamPrivacy":{"x-ms-summary":"Team Privacy","description":"Defines the new team privacy level (public/private).","type":"string","enum":["public","private"]},"addRequesterAsTeamOwner":{"x-ms-summary":"Requester Ownership","description":"Defines if the requester of the new team."}}}}}}}}},"400":{"description":"Bad Request - Indicates that the server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"401":{"description":"Unauthorized - Indicates that the request has not been applied because it lacks valid authentication credentials for the target resource (e.g., missing or invalid access token or API key...).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"402":{"description":"Payment Required - Indicates that the request can not be processed as the client doesn't have a valid subscription.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"403":{"description":"Forbidden - Indicates that the server understood the request but refuses to authorize it.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"404":{"description":"Not Found - Indicates that the origin server did not find a current representation for the target resource or is not willing to disclose that one exists.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"429":{"description":"Too Many Requests - Your request has been throttled as you've reached the maximum number of concurrent calls to our service. Look at the \"Retry-After\" header. See [API throttling guidance](https://docs.nbold.co/api#section/Rate-limits#nbold-api-throttling-guidance) article for more information.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"500":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"503":{"description":"Service Unavailable - Indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}},"x-ms-openai-data":{"openai-enabled":false,"operations":[{"operationId":"GetMyCatalogTemplates","x-ms-require-user-confirmation":false}]}}},"/api/v3.0/teams/{teamId}":{"get":{"tags":["Teams"],"x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"GetTeam","revision":1},"summary":"Get a Team","description":"Get detailed information about a team.","operationId":"GetTeam","parameters":[{"in":"path","name":"teamId","x-ms-summary":"Team","description":"A team ID.","required":true,"type":"string"}],"responses":{"200":{"description":"OK - Returns a CatalogTemplates object (Collection of CatalogTemplate objects).","schema":{"title":"Collaboration Templates","description":"A collection of collaboration templates.","type":"object","properties":{"id":{"type":"string","description":"Unique identifier of the team","x-ms-summary":"Team ID"},"createdDateTime":{"type":"string","format":"date-time","description":"Timestamp when the team was created","x-ms-summary":"Team creation date"},"displayName":{"type":"string","description":"The name of the team","x-ms-summary":"Team name"},"description":{"type":"string","description":"A brief description of the team","x-ms-summary":"Team description"},"internalId":{"type":"string","description":"Internal identifier for the team","x-ms-summary":"Internal Team ID"},"classification":{"type":"string","description":"Classification of the team (if applicable)","x-ms-summary":"Team classification"},"specialization":{"type":"string","description":"Specialization type of the team","x-ms-summary":"Team specialization"},"visibility":{"type":"string","description":"The visibility of the team","x-ms-summary":"Team visibility"},"webUrl":{"type":"string","format":"uri","description":"The web URL to access the team","x-ms-summary":"Team web link"},"isArchived":{"type":"boolean","description":"Indicates whether the team is archived","x-ms-summary":"Team archive status"},"isMembershipLimitedToOwners":{"type":"boolean","description":"Indicates if membership is limited to owners","x-ms-summary":"Membership limited to owners"},"discoverySettings":{"type":"object","x-ms-summary":"Settings","description":"Discovery Settings Body.","properties":{"showInTeamsSearchAndSuggestions":{"type":"boolean","description":"Teams Search And Suggestions.","x-ms-summary":"Teams search"}}},"tagSettings":{"type":"object","description":"Settings related to tags","x-ms-summary":"Tag settings"}}}},"400":{"description":"Bad Request - Indicates that the server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"401":{"description":"Unauthorized - Indicates that the request has not been applied because it lacks valid authentication credentials for the target resource (e.g., missing or invalid access token or API key...).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"402":{"description":"Payment Required - Indicates that the request can not be processed as the client doesn't have a valid subscription.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"403":{"description":"Forbidden - Indicates that the server understood the request but refuses to authorize it.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"404":{"description":"Not Found - Indicates that the origin server did not find a current representation for the target resource or is not willing to disclose that one exists.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"429":{"description":"Too Many Requests - Your request has been throttled as you've reached the maximum number of concurrent calls to our service. Look at the \"Retry-After\" header. See [API throttling guidance](https://docs.nbold.co/api#section/Rate-limits#nbold-api-throttling-guidance) article for more information.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"500":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"503":{"description":"Service Unavailable - Indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}}}},"/api/v3.0/teams/{teamId}/archive":{"post":{"tags":["Teams"],"x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"ArchiveTeam","revision":1},"summary":"Archive a Team","description":"Archive a team.","operationId":"ArchiveTeam","parameters":[{"in":"path","name":"teamId","x-ms-summary":"Team","description":"The team ID.","required":true,"type":"string"},{"in":"body","name":"teamArchivingOptions","description":"In the request, you may optionally include the shouldSetSpoSiteReadOnlyForMembers parameter in a JSON body. This optional parameter defines whether to set permissions for team members to read-only on the SharePoint Online site associated with the team. Setting it to false or omitting the body altogether will result in this step being skipped.","required":false,"schema":{"title":"Team Archiving Options","description":"Team Archiving Options.","type":"object","properties":{"shouldSetSpoSiteReadOnlyForMembers":{"x-ms-summary":"Set SherePoint Read-Only","title":"Defines whether to set permissions for team members to read-only on the SharePoint Online site associated with the team","description":"Defines whether to set permissions for team members to read-only on the SharePoint Online site associated with the team.","type":"boolean"}}}}],"responses":{"201":{"description":"Accepted - The response will also contain a Location header, which contains the location of the teamsAsyncOperation that was created to handle archiving of the team. Check the status of the archiving operation by making a GET request to this location.","schema":{"type":"object","title":"Team Archiving","description":"Team Archiving Body."}},"400":{"description":"Bad Request - Indicates that the server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"401":{"description":"Unauthorized - Indicates that the request has not been applied because it lacks valid authentication credentials for the target resource (e.g., missing or invalid access token or API key...).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"402":{"description":"Payment Required - Indicates that the request can not be processed as the client doesn't have a valid subscription.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"403":{"description":"Forbidden - Indicates that the server understood the request but refuses to authorize it.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"404":{"description":"Not Found - Indicates that the origin server did not find a current representation for the target resource or is not willing to disclose that one exists.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"429":{"description":"Too Many Requests - Your request has been throttled as you've reached the maximum number of concurrent calls to our service. Look at the \"Retry-After\" header. See [API throttling guidance](https://docs.nbold.co/api#section/Rate-limits#nbold-api-throttling-guidance) article for more information.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"500":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"503":{"description":"Service Unavailable - Indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}}}},"/api/v3.0/teams/{teamId}/unarchive":{"post":{"tags":["Teams"],"x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"UnarchiveTeam","revision":1},"summary":"Unarchive a Team","description":"Unarchive a team.","operationId":"UnarchiveTeam","parameters":[{"in":"path","name":"teamId","x-ms-summary":"Team","description":"The team ID.","required":true,"type":"string"}],"responses":{"201":{"description":"Accepted - The response will also contain a Location header, which contains the location of the teamsAsyncOperation that was created to handle archiving of the team. Check the status of the archiving operation by making a GET request to this location.","schema":{"type":"object","title":"Team Unarchive","description":"Team Urchiving Body."}},"400":{"description":"Bad Request - Indicates that the server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"401":{"description":"Unauthorized - Indicates that the request has not been applied because it lacks valid authentication credentials for the target resource (e.g., missing or invalid access token or API key...).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"402":{"description":"Payment Required - Indicates that the request can not be processed as the client doesn't have a valid subscription.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"403":{"description":"Forbidden - Indicates that the server understood the request but refuses to authorize it.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"404":{"description":"Not Found - Indicates that the origin server did not find a current representation for the target resource or is not willing to disclose that one exists.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"429":{"description":"Too Many Requests - Your request has been throttled as you've reached the maximum number of concurrent calls to our service. Look at the \"Retry-After\" header. See [API throttling guidance](https://docs.nbold.co/api#section/Rate-limits#nbold-api-throttling-guidance) article for more information.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"500":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"503":{"description":"Service Unavailable - Indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}}}},"/api/v3.0/teams/{teamId}/members":{"post":{"tags":["Teams"],"x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"AddTeamMember","revision":1},"summary":"Invite a Member in a Team","description":"Invite a team member as a member or an owner.","operationId":"AddTeamMember","parameters":[{"in":"path","name":"teamId","x-ms-summary":"Team","description":"The team ID.","required":true,"type":"string"},{"in":"body","name":"TeamMembershipPayload","description":"A TeamMembershipPayload object.","required":true,"schema":{"title":"Team Membership Payload","description":"Team Membership Payload.","type":"object","properties":{"user":{"title":"User","description":"User","type":"object","properties":{"id":{"title":"ID","description":"User ID","type":"string","x-ms-summary":"ID","x-ms-visibility":"important"}},"required":["id"]},"role":{"title":"Team Membership Role","description":"Team Membership Role (member/owner)","type":"string","enum":["member","owner"]}},"required":["role","user"]}}],"responses":{"201":{"description":"Accepted - The response will also contain a Location header, which contains the location of the teamsAsyncOperation that was created to handle archiving of the team. Check the status of the archiving operation by making a GET request to this location.","schema":{"title":"Team Member","description":"Team member.","type":"object","properties":{"@odata.context":{"type":"string","description":"OData context URL"},"@odata.type":{"type":"string","description":"OData type identifier"},"id":{"type":"string","x-ms-summary":"ID","description":"Unique identifier"},"role":{"type":"string","x-ms-summary":"Role","description":"User role"},"displayName":{"type":"string","x-ms-summary":"displayName","description":"User display name"},"visibleHistoryStartDateTime":{"type":"string","x-ms-summary":"History Start Date Time","format":"date-time","description":"Start date-time for visible history"},"userId":{"type":"string","x-ms-summary":"User Id","description":"User identifier"},"email":{"x-ms-summary":"Email","type":"string","format":"email","description":"User email address"},"tenantId":{"type":"string","x-ms-summary":"Tenant ID","description":"Tenant identifier"}}}},"400":{"description":"Bad Request - Indicates that the server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"401":{"description":"Unauthorized - Indicates that the request has not been applied because it lacks valid authentication credentials for the target resource (e.g., missing or invalid access token or API key...).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"402":{"description":"Payment Required - Indicates that the request can not be processed as the client doesn't have a valid subscription.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"403":{"description":"Forbidden - Indicates that the server understood the request but refuses to authorize it.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"404":{"description":"Not Found - Indicates that the origin server did not find a current representation for the target resource or is not willing to disclose that one exists.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"429":{"description":"Too Many Requests - Your request has been throttled as you've reached the maximum number of concurrent calls to our service. Look at the \"Retry-After\" header. See [API throttling guidance](https://docs.nbold.co/api#section/Rate-limits#nbold-api-throttling-guidance) article for more information.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"500":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"503":{"description":"Service Unavailable - Indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}}}},"/api/v3.0/teams/provisioning":{"post":{"tags":["Teams"],"x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"CreateTeamProvisioningJob","revision":1},"summary":"Create a Team Based on a Collaboration Template","description":"Create a team provisioning job based on a collaboration template. This template may include files, folders, Planner tasks, private channels...","operationId":"CreateTeamProvisioningJob","parameters":[{"in":"body","name":"TeamProvisioningRequest","description":"A TeamProvisioningRequest object describing the job to execute.","required":true,"schema":{"title":"Team Provisioning Request","description":"A request to provision a team based on a template from your corporate catalog. See [https://docs.nbold.co/api/latest/reference/Models/ProvisioningRequest](https://docs.nbold.co/api/latest/reference/Models/ProvisioningRequest) for more information.","type":"object","properties":{"template":{"description":"Template to be applied to the provisioned team","type":"object","properties":{"id":{"x-ms-summary":"Collaboration Template","description":"The collaboration template ID","x-ms-visibility":"important","x-ms-dynamic-values":{"operationId":"GetMyCatalogTemplates","value-path":"template_id","value-title":"name"},"type":"string","title":"Collaboration Template"}},"required":["id"]},"team":{"description":"Properties of the team to be created","type":"object","properties":{"name":{"x-ms-summary":"Team Name","description":"Requested team name","x-ms-visibility":"important","type":"string"},"description":{"x-ms-summary":"Team Description","description":"Requested team description","x-ms-visibility":"advanced","type":"string"},"welcomeMessage":{"x-ms-summary":"Team Welcome Message","description":"Requested team welcome message","x-ms-visibility":"advanced","type":"string"},"membership":{"description":"Requested members and owners of the team to be provisioned","type":"object","properties":{"members":{"title":"Teams Members","x-ms-summary":"Team Members","description":"An array of UserIdentifier. See [https://docs.nbold.co/api/latest/reference/Models/UserIdentifier](https://docs.nbold.co/api/latest/reference/Models/UserIdentifier) for more information.","type":"array","items":{"title":"Team","x-ms-summary":"Team","description":"Team member ID. See See [https://docs.nbold.co/api/latest/reference/Models/UserIdentifier](https://docs.nbold.co/api/latest/reference/Models/UserIdentifier) for more information.","type":"object","properties":{"id":{"title":"Team member ID","x-ms-summary":"Member","description":"Team member ID.","type":"string"}}}},"owners":{"x-ms-summary":"Team Owners","title":"Team Owners","description":"An array of UserIdentifier. See [https://docs.nbold.co/api/latest/reference/Models/UserIdentifier](https://docs.nbold.co/api/latest/reference/Models/UserIdentifier) for more information.","type":"array","items":{"title":"Team","x-ms-summary":"Team","description":"Team member ID. See See [https://docs.nbold.co/api/latest/reference/Models/UserIdentifier](https://docs.nbold.co/api/latest/reference/Models/UserIdentifier) for more information.","type":"object","properties":{"id":{"title":"Owner ID","x-ms-summary":"Owner","description":"Team owner ID","type":"string"}}}}}}}},"metadata":{"title":"Metadata","x-ms-summary":"Metadata","description":"Additional metadata as a JSON object. See [https://docs.nbold.co/api/latest/reference/Models/TeamProvisioningRequest](https://docs.nbold.co/api/latest/reference/Models/TeamProvisioningRequest) for more information.","x-ms-visibility":"advanced","type":"object"}},"required":["team","template"]}}],"responses":{"201":{"description":"Created - Returns a Job object.","schema":{"x-ms-summary":"Job","description":"A job that performs some tasks asynchronously.","type":"object","properties":{"id":{"x-ms-summary":"ID","description":"The job ID, auto-generated at creation","type":"string"},"log":{"x-ms-summary":"Logs","description":"A collection of JobLogsEntry.","type":"array","items":{"x-ms-summary":"Entry","description":"A job logs entry.","type":"string"}},"type":{"x-ms-summary":"Type","description":"The job type (for instance `ProvisioningRequest`)","type":"string"},"status":{"x-ms-summary":"Status","description":"The job current status","type":"string","enum":["active","waiting","completed","failed","deleyed","paused"]},"progress":{"x-ms-summary":"Progress","description":"The job current progress","type":"integer","minimum":0,"maximum":100,"format":"int32"},"data":{"description":"The job data (for instance a `ProvisioningRequest` object)","type":"object"}}}},"400":{"description":"Bad Request - Indicates that the server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"401":{"description":"Unauthorized - Indicates that the request has not been applied because it lacks valid authentication credentials for the target resource (e.g., missing or invalid access token or API key...).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"402":{"description":"Payment Required - Indicates that the request can not be processed as the client doesn't have a valid subscription.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"403":{"description":"Forbidden - Indicates that the server understood the request but refuses to authorize it.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"404":{"description":"Not Found - Indicates that the origin server did not find a current representation for the target resource or is not willing to disclose that one exists.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"429":{"description":"Too Many Requests - Your request has been throttled as you've reached the maximum number of concurrent calls to our service. Look at the \"Retry-After\" header. See [API throttling guidance](https://docs.nbold.co/api#section/Rate-limits#nbold-api-throttling-guidance) article for more information.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"500":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"503":{"description":"Service Unavailable - Indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}}}},"/api/v3.0/teams/{teamId}/channels":{"get":{"tags":["Teams"],"x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"GetTeamChannels","revision":1},"summary":"Get the Channels of a Team","description":"Get all the channels of a team.","operationId":"GetTeamChannels","parameters":[{"in":"path","name":"teamId","x-ms-summary":"Team","description":"The team ID.","required":true,"type":"string"}],"responses":{"200":{"description":"OK - Returns a TeamChannels object.","schema":{"title":"Team Channels","description":"Channels of a Microsoft Teams team.","type":"array","items":{"title":"Team Channel","description":"Channel of a Microsoft Teams team.","type":"object","properties":{"id":{"x-ms-summary":"ID","description":"Team Channel ID","type":"string"},"createdDateTime":{"x-ms-summary":"Created Date Time","description":"Team Channel Created Date Time","type":"string"},"displayName":{"x-ms-summary":"Display Name","description":"Team Channel Display Name","type":"string"},"description":{"x-ms-summary":"Description","description":"Team Channel Description","type":"string"},"membershipType":{"x-ms-summary":"Membership Type","description":"Team Channel Membership Type","type":"string"}}}}},"400":{"description":"Bad Request - Indicates that the server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"401":{"description":"Unauthorized - Indicates that the request has not been applied because it lacks valid authentication credentials for the target resource (e.g., missing or invalid access token or API key...).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"402":{"description":"Payment Required - Indicates that the request can not be processed as the client doesn't have a valid subscription.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"403":{"description":"Forbidden - Indicates that the server understood the request but refuses to authorize it.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"404":{"description":"Not Found - Indicates that the origin server did not find a current representation for the target resource or is not willing to disclose that one exists.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"429":{"description":"Too Many Requests - Your request has been throttled as you've reached the maximum number of concurrent calls to our service. Look at the \"Retry-After\" header. See [API throttling guidance](https://docs.nbold.co/api#section/Rate-limits#nbold-api-throttling-guidance) article for more information.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"500":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"503":{"description":"Service Unavailable - Indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}}},"post":{"tags":["Teams"],"x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"CreateTeamChannel","revision":1},"summary":"Create a Channel in a Team","description":"Create a new team channel.","operationId":"CreateTeamChannel","parameters":[{"in":"path","name":"teamId","x-ms-summary":"Team","description":"The team ID.","required":true,"type":"string"},{"in":"body","name":"Team Channel","description":"A TeamChannelPayload object describing the channel to create.","required":true,"schema":{"title":"Team Channel Payload","description":"Payload of a Microsoft Teams team channel to be created/updated.","type":"object","properties":{"displayName":{"title":"display name","type":"string","description":"The name of the channel"},"description":{"title":"description","type":"string","description":"A brief description of the channel"},"membershipType":{"title":"type membership","type":"string","enum":["standard","private","shared"],"description":"The type of membership for the channel (e.g., standard or private)"}},"required":["displayName","membershipType"]}}],"responses":{"201":{"description":"Created - Returns a Job object.","schema":{"title":"Team Channel Response","description":"Response payload for a created Microsoft Teams channel.","type":"object","properties":{"@odata.context":{"type":"string","format":"uri","description":"OData context URL","x-ms-summary":"OData metadata URL"},"id":{"type":"string","description":"Unique identifier of the channel","x-ms-summary":"ID"},"createdDateTime":{"type":"string","format":"date-time","description":"Timestamp when the channel was created","x-ms-summary":"Creation date"},"displayName":{"type":"string","description":"The name of the channel","x-ms-summary":"Name"},"description":{"type":"string","description":"A brief description of the channel","x-ms-summary":"Description"},"isFavoriteByDefault":{"type":"boolean","description":"Indicates whether the channel is favorited by default","x-ms-summary":"Favorite by default"},"email":{"type":"string","description":"The email address associated with the channel (if applicable)","x-ms-summary":"Email"},"webUrl":{"type":"string","format":"uri","description":"The web URL to access the channel","x-ms-summary":"Web link"},"membershipType":{"type":"string","enum":["standard","private","shared"],"description":"The type of membership for the channel","x-ms-summary":"Membership type"},"isArchived":{"type":"boolean","description":"Indicates whether the channel is archived","x-ms-summary":"Archive status"}},"required":["id","createdDateTime","displayName","membershipType","isArchived"]}},"400":{"description":"Bad Request - Indicates that the server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"401":{"description":"Unauthorized - Indicates that the request has not been applied because it lacks valid authentication credentials for the target resource (e.g., missing or invalid access token or API key...).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"402":{"description":"Payment Required - Indicates that the request can not be processed as the client doesn't have a valid subscription.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"403":{"description":"Forbidden - Indicates that the server understood the request but refuses to authorize it.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"404":{"description":"Not Found - Indicates that the origin server did not find a current representation for the target resource or is not willing to disclose that one exists.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"429":{"description":"Too Many Requests - Your request has been throttled as you've reached the maximum number of concurrent calls to our service. Look at the \"Retry-After\" header. See [API throttling guidance](https://docs.nbold.co/api#section/Rate-limits#nbold-api-throttling-guidance) article for more information.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"500":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"503":{"description":"Service Unavailable - Indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"@odata.context":{"description":"oData context of the request","type":"string"},"error":{"description":"JSON representation of the error","type":"object","properties":{"code":{"description":"The HTTP error code","type":"string"},"message":{"description":"The error message","type":"string"},"innerError":{"description":"JSON representation of the inner error (If available)","type":"object","properties":{"date":{"description":"Inner error date","type":"string","format":"date-time"},"request-id":{"description":"Server-side generated unique request identifier","type":"string"}}}}}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}}}},"/api/v3.0/teams/{teamId}/channels/primary":{"get":{"tags":["Teams"],"x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"GetTeamPrimaryChannel","revision":1},"summary":"Get the Primary Channel of a Team","description":"Get the primary channel of a team.","operationId":"GetTeamPrimaryChannel","parameters":[{"in":"path","name":"teamId","x-ms-summary":"Team","description":"The team ID.","required":true,"type":"string"}],"responses":{"200":{"description":"OK - Returns a TeamChannel object.","schema":{"title":"Team Channel","description":"Channel of a Microsoft Teams team.","type":"object","properties":{"id":{"x-ms-summary":"ID","description":"Team Channel ID","type":"string"},"createdDateTime":{"x-ms-summary":"Created Date Time","description":"Team Channel Created Date Time","type":"string"},"displayName":{"x-ms-summary":"Display Name","description":"Team Channel Display Name","type":"string"},"description":{"x-ms-summary":"Description","description":"Team Channel Description","type":"string"},"membershipType":{"x-ms-summary":"Membership Type","description":"Team Channel Membership Type","type":"string"}}}},"400":{"description":"Bad Request - Indicates that the server can
[...]
