{
    "swagger": "2.0",
    "info": {
        "title": "Toggl Track",
        "description": "The only time tracking software that builds custom reports from your team's time data to maximize productivity and revenue. Our time tracking solution records a calendar timeline of all your work activities throughout the day.",
        "version": "1.0.0",
        "contact": {
            "name": "Troy Taylor",
            "url": "https://www.hitachisolutions.com",
            "email": "ttaylor@hitachisolutions.com"
        }
    },
    "host": "api.track.toggl.com",
    "basePath": "/api/v9",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/me": {
            "get": {
                "summary": "Get current user",
                "description": "Returns details for the current user.",
                "operationId": "GetMe",
                "parameters": [
                    {
                        "$ref": "#/parameters/WithRelatedDataQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/UserResponse"
                        }
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    },
                    "404": {
                        "description": "Could not load user data."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Users"
                ]
            },
            "put": {
                "summary": "Update current user",
                "description": "Updates details for the current user.",
                "operationId": "UpdateMe",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "User update data.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserUpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/UserBasicResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request. Invalid request data."
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    }
                },
                "tags": [
                    "Users"
                ]
            }
        },
        "/me/clients": {
            "get": {
                "summary": "Get user clients",
                "description": "Get clients for the current user.",
                "operationId": "GetMeClients",
                "parameters": [
                    {
                        "$ref": "#/parameters/SinceQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Client"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Users",
                    "Clients"
                ]
            }
        },
        "/me/features": {
            "get": {
                "summary": "Get user features",
                "description": "Get features available to the current user.",
                "operationId": "GetMeFeatures",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/WorkspaceFeatures"
                            }
                        }
                    },
                    "403": {
                        "description": "Operation Forbidden."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Users"
                ]
            }
        },
        "/me/location": {
            "get": {
                "summary": "Get user location",
                "description": "Returns the client's IP-based location. If no data is present, empty response will be yielded.",
                "operationId": "GetMeLocation",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LocationResponse"
                        }
                    },
                    "404": {
                        "description": "Country with given ISO code not found."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Users"
                ]
            }
        },
        "/me/logged": {
            "get": {
                "summary": "Check authentication",
                "description": "Used to check if authentication works.",
                "operationId": "GetMeLogged",
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Users"
                ]
            }
        },
        "/me/organizations": {
            "get": {
                "summary": "Get user organizations",
                "description": "Get all organizations a given user is part of.",
                "operationId": "GetMeOrganizations",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Organization"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Users",
                    "Organizations"
                ]
            }
        },
        "/me/projects": {
            "get": {
                "summary": "Get user projects",
                "description": "Get projects for the current user.",
                "operationId": "GetMeProjects",
                "parameters": [
                    {
                        "$ref": "#/parameters/IncludeArchivedQuery"
                    },
                    {
                        "$ref": "#/parameters/SinceQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Project"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid include_archived parameter."
                    },
                    "403": {
                        "description": "Operation Forbidden."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Users",
                    "Projects"
                ]
            }
        },
        "/me/projects/paginated": {
            "get": {
                "summary": "Get user projects paginated",
                "description": "Get paginated projects for the current user.",
                "operationId": "GetMeProjectsPaginated",
                "parameters": [
                    {
                        "$ref": "#/parameters/StartProjectIdQuery"
                    },
                    {
                        "$ref": "#/parameters/SinceQuery"
                    },
                    {
                        "$ref": "#/parameters/PerPageQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Project"
                            }
                        }
                    },
                    "403": {
                        "description": "Operation Forbidden."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Users",
                    "Projects"
                ]
            }
        },
        "/me/tags": {
            "get": {
                "summary": "Get user tags",
                "description": "Returns tags for the current user.",
                "operationId": "GetMeTags",
                "parameters": [
                    {
                        "$ref": "#/parameters/SinceQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Tag"
                            }
                        }
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Users",
                    "Tags"
                ]
            }
        },
        "/me/tasks": {
            "get": {
                "summary": "Get user tasks",
                "description": "Returns tasks from projects in which the user is participating.",
                "operationId": "GetMeTasks",
                "parameters": [
                    {
                        "$ref": "#/parameters/MetaQuery"
                    },
                    {
                        "$ref": "#/parameters/SinceQuery"
                    },
                    {
                        "$ref": "#/parameters/IncludeNotActiveQuery"
                    },
                    {
                        "$ref": "#/parameters/OffsetQuery"
                    },
                    {
                        "$ref": "#/parameters/PerPageQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Task"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid include_not_active parameter."
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Users",
                    "Tasks"
                ]
            }
        },
        "/me/track_reminders": {
            "get": {
                "summary": "Get track reminders",
                "description": "Returns a list of track reminders.",
                "operationId": "GetMeTrackReminders",
                "responses": {
                    "200": {
                        "description": "Returns a list of track reminders.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TrackReminder"
                            }
                        }
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Users"
                ]
            }
        },
        "/me/web-timer": {
            "get": {
                "summary": "Get web timer",
                "description": "Get web timer configuration.",
                "operationId": "GetMeWebTimer",
                "responses": {
                    "200": {
                        "description": "Successful operation."
                    },
                    "403": {
                        "description": "Operation Forbidden."
                    },
                    "404": {
                        "description": "Resource can not be found."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Users"
                ]
            }
        },
        "/me/workspaces": {
            "get": {
                "summary": "Get user workspaces",
                "description": "Lists workspaces for given user.",
                "operationId": "GetMeWorkspaces",
                "parameters": [
                    {
                        "$ref": "#/parameters/SinceQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Workspace"
                            }
                        }
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Users",
                    "Workspaces"
                ]
            }
        },
        "/me/time_entries": {
            "get": {
                "summary": "Get time entries",
                "description": "Lists latest time entries.",
                "operationId": "GetMeTimeEntries",
                "parameters": [
                    {
                        "$ref": "#/parameters/MetaQuery"
                    },
                    {
                        "$ref": "#/parameters/IncludeSharingQuery"
                    },
                    {
                        "$ref": "#/parameters/SinceQuery"
                    },
                    {
                        "$ref": "#/parameters/BeforeQuery"
                    },
                    {
                        "$ref": "#/parameters/StartDateQuery"
                    },
                    {
                        "$ref": "#/parameters/EndDateQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TimeEntry"
                            }
                        }
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Users",
                    "Time Entries"
                ]
            }
        },
        "/me/time_entries/current": {
            "get": {
                "summary": "Get current time entry",
                "description": "Load running time entry for user ID.",
                "operationId": "GetCurrentTimeEntry",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TimeEntry"
                        }
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    },
                    "404": {
                        "description": "Resource can not be found."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Users",
                    "Time Entries"
                ]
            }
        },
        "/me/time_entries/{time_entry_id}": {
            "get": {
                "summary": "Get time entry by ID",
                "description": "Load time entry by ID that is accessible by the current user.",
                "operationId": "GetTimeEntryById",
                "parameters": [
                    {
                        "$ref": "#/parameters/TimeEntryIdInPath"
                    },
                    {
                        "$ref": "#/parameters/MetaQuery"
                    },
                    {
                        "$ref": "#/parameters/IncludeSharingQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TimeEntry"
                        }
                    },
                    "404": {
                        "description": "Resource can not be found."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Users",
                    "Time Entries"
                ]
            }
        },
        "/workspaces/{workspace_id}/time_entries": {
            "post": {
                "summary": "Create time entry",
                "description": "Creates a new workspace TimeEntry.",
                "operationId": "CreateTimeEntry",
                "parameters": [
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    },
                    {
                        "$ref": "#/parameters/MetaQuery"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Time entry data.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TimeEntryRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A workspace TimeEntry.",
                        "schema": {
                            "$ref": "#/definitions/TimeEntry"
                        }
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Workspaces",
                    "Time Entries"
                ]
            }
        },
        "/workspaces/{workspace_id}/time_entries/{time_entry_id}": {
            "delete": {
                "summary": "Delete time entry",
                "description": "Deletes a workspace time entry.",
                "operationId": "DeleteTimeEntry",
                "parameters": [
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    },
                    {
                        "$ref": "#/parameters/TimeEntryIdInPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns only status code."
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Workspaces",
                    "Time Entries"
                ]
            },
            "put": {
                "summary": "Update time entry",
                "description": "Updates a workspace time entry.",
                "operationId": "UpdateTimeEntry",
                "parameters": [
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    },
                    {
                        "$ref": "#/parameters/TimeEntryIdInPath"
                    },
                    {
                        "$ref": "#/parameters/MetaQuery"
                    },
                    {
                        "$ref": "#/parameters/IncludeSharingQuery"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Time entry update data.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TimeEntryRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A workspace TimeEntry.",
                        "schema": {
                            "$ref": "#/definitions/TimeEntry"
                        }
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Workspaces",
                    "Time Entries"
                ]
            }
        },
        "/workspaces/{workspace_id}/time_entries/bulk/{time_entry_ids}": {
            "patch": {
                "summary": "Bulk edit time entries",
                "description": "Bulk editing time entries. Patch will be executed partially when there are errors with some records. No transaction, no rollback.",
                "operationId": "BulkEditTimeEntries",
                "parameters": [
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    },
                    {
                        "$ref": "#/parameters/TimeEntryIdsInPath"
                    },
                    {
                        "$ref": "#/parameters/MetaQuery"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Patch operations.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PatchOperations"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BulkEditResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Workspaces",
                    "Time Entries"
                ]
            }
        },
        "/workspaces/{workspace_id}/time_entries/{time_entry_id}/stop": {
            "patch": {
                "summary": "Stop time entry",
                "description": "Stops a workspace time entry.",
                "operationId": "StopTimeEntry",
                "parameters": [
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    },
                    {
                        "$ref": "#/parameters/TimeEntryIdInPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The stopped workspace TimeEntry.",
                        "schema": {
                            "$ref": "#/definitions/TimeEntry"
                        }
                    },
                    "400": {
                        "description": "Invalid or missing time_entry_id."
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    },
                    "404": {
                        "description": "Time entry not found."
                    },
                    "409": {
                        "description": "Time entry already stopped."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Workspaces",
                    "Time Entries"
                ]
            }
        },
        "/organizations/{organization_id}/workspaces/{workspace_id}/workspace_users": {
            "get": {
                "summary": "Get workspace users (organization level)",
                "description": "Returns any users who belong to the workspace directly or through at least one group.",
                "operationId": "GetOrganizationWorkspaceUsers",
                "parameters": [
                    {
                        "$ref": "#/parameters/OrganizationIdInPath"
                    },
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    },
                    {
                        "$ref": "#/parameters/PageQuery"
                    },
                    {
                        "$ref": "#/parameters/PerPageQuery"
                    },
                    {
                        "$ref": "#/parameters/CustomRatesQuery"
                    },
                    {
                        "$ref": "#/parameters/ActiveQuery"
                    },
                    {
                        "$ref": "#/parameters/NameQuery"
                    },
                    {
                        "$ref": "#/parameters/SearchQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/WorkspaceUser"
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Resource can not be found."
                    }
                },
                "tags": [
                    "Organizations",
                    "Workspaces",
                    "Users"
                ]
            }
        },
        "/workspaces/{workspace_id}": {
            "get": {
                "summary": "Get single workspace",
                "description": "Get information of single workspace.",
                "operationId": "GetWorkspace",
                "parameters": [
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Workspace"
                        }
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Workspaces"
                ]
            }
        },
        "/workspaces/{workspace_id}/rates/{level}/{level_id}": {
            "get": {
                "summary": "Get rates list",
                "description": "Get rates by level (workspace|project|task|user).",
                "operationId": "GetWorkspaceRates",
                "parameters": [
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    },
                    {
                        "$ref": "#/parameters/LevelInPath"
                    },
                    {
                        "$ref": "#/parameters/LevelIdInPath"
                    },
                    {
                        "$ref": "#/parameters/RateTypeQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Rate"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters."
                    },
                    "402": {
                        "description": "Billable rates are available for Starter and higher plans."
                    },
                    "403": {
                        "description": "User cannot access billable rate(s)."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Workspaces",
                    "Rates"
                ]
            }
        },
        "/workspaces/{workspace_id}/statistics": {
            "get": {
                "summary": "Get workspace statistics",
                "description": "Returns workspace admins list, members count and groups count.",
                "operationId": "GetWorkspaceStatistics",
                "parameters": [
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WorkspaceStatistics"
                        }
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Workspaces"
                ]
            }
        },
        "/workspaces/{workspace_id}/time_entry_constraints": {
            "get": {
                "summary": "Get workspace time entry constraints",
                "description": "Get the time entry constraints for a given workspace.",
                "operationId": "GetWorkspaceTimeEntryConstraints",
                "parameters": [
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TimeEntryConstraints"
                        }
                    },
                    "400": {
                        "description": "Workspace not found."
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Workspaces"
                ]
            }
        },
        "/workspaces/{workspace_id}/track_reminders": {
            "get": {
                "summary": "Get workspace track reminders",
                "description": "Returns a list of track reminders.",
                "operationId": "GetWorkspaceTrackReminders",
                "parameters": [
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of track reminders.",
                        "schema": {
                            "$ref": "#/definitions/TrackRemindersResponse"
                        }
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Workspaces"
                ]
            }
        },
        "/workspaces/{workspace_id}/users": {
            "get": {
                "summary": "Get workspace users",
                "description": "List all users for a given workspace.",
                "operationId": "GetWorkspaceUsers",
                "parameters": [
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    },
                    {
                        "$ref": "#/parameters/ExcludeDeletedQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/WorkspaceUserSimple"
                            }
                        }
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Workspaces",
                    "Users"
                ]
            }
        },
        "/workspaces/{workspace_id}/project_users": {
            "get": {
                "summary": "Get workspace project users",
                "description": "List all projects users for a given workspace.",
                "operationId": "GetWorkspaceProjectUsers",
                "parameters": [
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    },
                    {
                        "$ref": "#/parameters/ProjectIdsQuery"
                    },
                    {
                        "$ref": "#/parameters/UserIdQuery"
                    },
                    {
                        "$ref": "#/parameters/WithGroupMembersQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProjectUser"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters."
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Workspaces",
                    "Projects",
                    "Users"
                ]
            }
        },
        "/workspaces/{workspace_id}/projects": {
            "get": {
                "summary": "Get workspace projects",
                "description": "Get projects for given workspace.",
                "operationId": "GetWorkspaceProjects",
                "parameters": [
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    },
                    {
                        "$ref": "#/parameters/SortPinnedQuery"
                    },
                    {
                        "$ref": "#/parameters/ActiveQuery"
                    },
                    {
                        "$ref": "#/parameters/SinceQuery"
                    },
                    {
                        "$ref": "#/parameters/BillableQuery"
                    },
                    {
                        "$ref": "#/parameters/UserIdsQuery"
                    },
                    {
                        "$ref": "#/parameters/ClientIdsQuery"
                    },
                    {
                        "$ref": "#/parameters/GroupIdsQuery"
                    },
                    {
                        "$ref": "#/parameters/ProjectIdsQuery"
                    },
                    {
                        "$ref": "#/parameters/StatusesQuery"
                    },
                    {
                        "$ref": "#/parameters/NameQuery"
                    },
                    {
                        "$ref": "#/parameters/PageQuery"
                    },
                    {
                        "$ref": "#/parameters/SortFieldQuery"
                    },
                    {
                        "$ref": "#/parameters/SortOrderQuery"
                    },
                    {
                        "$ref": "#/parameters/OnlyTemplatesQuery"
                    },
                    {
                        "$ref": "#/parameters/OnlyMeQuery"
                    },
                    {
                        "$ref": "#/parameters/PerPageQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Project"
                            }
                        }
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Workspaces",
                    "Projects"
                ]
            }
        },
        "/workspaces/{workspace_id}/projects/{project_id}": {
            "get": {
                "summary": "Get workspace project",
                "description": "Get project for given workspace.",
                "operationId": "GetWorkspaceProject",
                "parameters": [
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    },
                    {
                        "$ref": "#/parameters/ProjectIdInPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Project"
                        }
                    },
                    "400": {
                        "description": "Invalid project_id."
                    },
                    "403": {
                        "description": "User does not have access to this resource."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                },
                "tags": [
                    "Workspaces",
                    "Projects"
                ]
            }
        },
        "/webhooks/api/v1/subscriptions/{workspace_id}/time_entry_created": {
            "x-ms-notification-content": {
                "description": "Details for Time Entry Created",
                "schema": {
                    "$ref": "#/definitions/TimeEntryWebhookEvent"
                }
            },
            "post": {
                "summary": "When a time entry is created",
                "description": "Triggers when a new time entry is created in the workspace.",
                "operationId": "OnTimeEntryCreated",
                "x-ms-trigger": "single",
                "x-ms-trigger-hint": "To see it work now, create a new time entry.",
                "parameters": [
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "url_callback",
                                "description",
                                "enabled"
                            ],
                            "properties": {
                                "url_callback": {
                                    "type": "string",
                                    "description": "URL endpoint where events will be notified.",
                                    "x-ms-summary": "Callback URL",
                                    "x-ms-notification-url": true,
                                    "x-ms-visibility": "internal"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "Description for this subscription.",
                                    "x-ms-summary": "Description",
                                    "x-ms-visibility": "internal",
                                    "default": "Power Automate Time Tracking Trigger"
                                },
                                "enabled": {
                                    "type": "boolean",
                                    "description": "Whether the subscription is enabled.",
                                    "x-ms-summary": "Enabled",
                                    "x-ms-visibility": "internal",
                                    "default": true
                                },
                                "event_filters": {
                                    "type": "array",
                                    "description": "List of filters to select events to notify.",
                                    "x-ms-summary": "Event Filters",
                                    "x-ms-visibility": "internal",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "entity": {
                                                "type": "string",
                                                "description": "Toggl Track business entity to filter.",
                                                "x-ms-summary": "Entity"
                                            },
                                            "action": {
                                                "type": "string",
                                                "description": "Type of modification applied to the entity.",
                                                "x-ms-summary": "Action"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Subscription created successfully",
                        "schema": {
                            "$ref": "#/definitions/WebhookSubscription"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "403": {
                        "description": "User not found/accessible for workspace"
                    }
                },
                "tags": [
                    "Triggers",
                    "Time Entries"
                ],
                "x-ms-visibility": "important"
            }
        },
        "/webhooks/api/v1/subscriptions/{workspace_id}/time_entry_updated": {
            "x-ms-notification-content": {
                "description": "Details for Time Entry Updated",
                "schema": {
                    "$ref": "#/definitions/TimeEntryWebhookEvent"
                }
            },
            "post": {
                "summary": "When a time entry is updated",
                "description": "Triggers when an existing time entry is modified in the workspace.",
                "operationId": "OnTimeEntryUpdated",
                "x-ms-trigger": "single",
                "x-ms-trigger-hint": "To see it work now, update an existing time entry.",
                "parameters": [
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "url_callback",
                                "description",
                                "enabled"
                            ],
                            "properties": {
                                "url_callback": {
                                    "type": "string",
                                    "description": "URL endpoint where events will be notified.",
                                    "x-ms-summary": "Callback URL",
                                    "x-ms-notification-url": true,
                                    "x-ms-visibility": "internal"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "Description for this subscription.",
                                    "x-ms-summary": "Description",
                                    "x-ms-visibility": "internal",
                                    "default": "Power Automate Time Tracking Trigger"
                                },
                                "enabled": {
                                    "type": "boolean",
                                    "description": "Whether the subscription is enabled.",
                                    "x-ms-summary": "Enabled",
                                    "x-ms-visibility": "internal",
                                    "default": true
                                },
                                "event_filters": {
                                    "type": "array",
                                    "description": "List of filters to select events to notify.",
                                    "x-ms-summary": "Event Filters",
                                    "x-ms-visibility": "internal",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "entity": {
                                                "type": "string",
                                                "description": "Toggl Track business entity to filter.",
                                                "x-ms-summary": "Entity"
                                            },
                                            "action": {
                                                "type": "string",
                                                "description": "Type of modification applied to the entity.",
                                                "x-ms-summary": "Action"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Subscription created successfully",
                        "schema": {
                            "$ref": "#/definitions/WebhookSubscription"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "403": {
                        "description": "User not found/accessible for workspace"
                    }
                },
                "tags": [
                    "Triggers",
                    "Time Entries"
                ],
                "x-ms-visibility": "important"
            }
        },
        "/webhooks/api/v1/subscriptions/{workspace_id}/time_entry_deleted": {
            "x-ms-notification-content": {
                "description": "Details for Time Entry Deleted",
                "schema": {
                    "$ref": "#/definitions/TimeEntryWebhookEvent"
                }
            },
            "post": {
                "summary": "When a time entry is deleted",
                "description": "Triggers when a time entry is deleted from the workspace.",
                "operationId": "OnTimeEntryDeleted",
                "x-ms-trigger": "single",
                "x-ms-trigger-hint": "To see it work now, delete a time entry.",
                "parameters": [
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "url_callback",
                                "description",
                                "enabled"
                            ],
                            "properties": {
                                "url_callback": {
                                    "type": "string",
                                    "description": "URL endpoint where events will be notified.",
                                    "x-ms-summary": "Callback URL",
                                    "x-ms-notification-url": true,
                                    "x-ms-visibility": "internal"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "Description for this subscription.",
                                    "x-ms-summary": "Description",
                                    "x-ms-visibility": "internal",
                                    "default": "Power Automate Time Tracking Trigger"
                                },
                                "enabled": {
                                    "type": "boolean",
                                    "description": "Whether the subscription is enabled.",
                                    "x-ms-summary": "Enabled",
                                    "x-ms-visibility": "internal",
                                    "default": true
                                },
                                "event_filters": {
                                    "type": "array",
                                    "description": "List of filters to select events to notify.",
                                    "x-ms-summary": "Event Filters",
                                    "x-ms-visibility": "internal",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "entity": {
                                                "type": "string",
                                                "description": "Toggl Track business entity to filter.",
                                                "x-ms-summary": "Entity"
                                            },
                                            "action": {
                                                "type": "string",
                                                "description": "Type of modification applied to the entity.",
                                                "x-ms-summary": "Action"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Subscription created successfully",
                        "schema": {
                            "$ref": "#/definitions/WebhookSubscription"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "403": {
                        "description": "User not found/accessible for workspace"
                    }
                },
                "tags": [
                    "Triggers",
                    "Time Entries"
                ],
                "x-ms-visibility": "important"
            }
        },
        "/webhooks/api/v1/subscriptions/{workspace_id}/time_entry_started": {
            "x-ms-notification-content": {
                "description": "Details for Time Entry Started",
                "schema": {
                    "$ref": "#/definitions/TimeEntryWebhookEvent"
                }
            },
            "post": {
                "summary": "When a time entry is started",
                "description": "Triggers when a time entry is started (timer begins) in the workspace.",
                "operationId": "OnTimeEntryStarted",
                "x-ms-trigger": "single",
                "x-ms-trigger-hint": "To see it work now, start a new time entry timer.",
                "parameters": [
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "url_callback",
                                "description",
                                "enabled"
                            ],
                            "properties": {
                                "url_callback": {
                                    "type": "string",
                                    "description": "URL endpoint where events will be notified.",
                                    "x-ms-summary": "Callback URL",
                                    "x-ms-notification-url": true,
                                    "x-ms-visibility": "internal"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "Description for this subscription.",
                                    "x-ms-summary": "Description",
                                    "x-ms-visibility": "internal",
                                    "default": "Power Automate Time Tracking Trigger"
                                },
                                "enabled": {
                                    "type": "boolean",
                                    "description": "Whether the subscription is enabled.",
                                    "x-ms-summary": "Enabled",
                                    "x-ms-visibility": "internal",
                                    "default": true
                                },
                                "event_filters": {
                                    "type": "array",
                                    "description": "List of filters to select events to notify.",
                                    "x-ms-summary": "Event Filters",
                                    "x-ms-visibility": "internal",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "entity": {
                                                "type": "string",
                                                "description": "Toggl Track business entity to filter.",
                                                "x-ms-summary": "Entity"
                                            },
                                            "action": {
                                                "type": "string",
                                                "description": "Type of modification applied to the entity.",
                                                "x-ms-summary": "Action"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Subscription created successfully",
                        "schema": {
                            "$ref": "#/definitions/WebhookSubscription"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "403": {
                        "description": "User not found/accessible for workspace"
                    }
                },
                "tags": [
                    "Triggers",
                    "Time Entries"
                ],
                "x-ms-visibility": "important"
            }
        },
        "/webhooks/api/v1/subscriptions/{workspace_id}/time_entry_stopped": {
            "x-ms-notification-content": {
                "description": "Details for Time Entry Stopped",
                "schema": {
                    "$ref": "#/definitions/TimeEntryWebhookEvent"
                }
            },
            "post": {
                "summary": "When a time entry is stopped",
                "description": "Triggers when a running time entry is stopped in the workspace.",
                "operationId": "OnTimeEntryStopped",
                "x-ms-trigger": "single",
                "x-ms-trigger-hint": "To see it work now, stop a running time entry timer.",
                "parameters": [
                    {
                        "$ref": "#/parameters/WorkspaceIdInPath"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "url_callback",
                                "description",
                                "enabled"
                            ],
                            "properties": {
                                "url_callback": {
                                    "type": "string",
                                    "description": "URL endpoint where events will be notified.",
                                    "x-ms-summary": "Callback URL",
                                    "x-ms-notification-url": true,
                                    "x-ms-visibility": "internal"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "Description for this subscription.",
                                    "x-ms-summary": "Description",
                                    "x-ms-visibility": "internal",
                                    "default": "Power Automate Time Tracking Trigger"
                                },
                                "enabled": {
                                    "type": "boolean",
                                    "description": "Whether the subscription is enabled.",
                                    "x-ms-summary": "Enabled",
                                    "x-ms-visibility": "internal",
                                    "default": true
                                },
                                "event_filters": {
                                    "type": "array",
                                    "description": "List of filters to select events to notify.",
                                    "x-ms-summary": "Event Filters",
                                    "x-ms-visibility": "internal",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "entity": {
                                                "type": "string",
                                                "description": "Toggl Track business entity to filter.",
                                                "x-ms-summary": "Entity"
                                            },
                                            "action": {
                                                "type": "string",
                                                "description": "Type of modification applied to the entity.",
                                                "x-ms-summary": "Action"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Subscription created successfully",
                        "schema": {
                            "$ref": "#/definitions/WebhookSubscription"
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "403": {
                        "description": "User not found/accessible for workspace"
                    }
                },
                "tags": [
                    "Triggers",
                    "Time Entries"
                ],
                "x-ms-visibility": "important"
            }
        }
    },
    "definitions": {
        "UserResponse": {
            "type": "object",
            "properties": {
                "2fa_enabled": {
                    "type": "boolean",
                    "description": "Two-factor authentication enabled status.",
                    "x-ms-summary": "2FA Enabled"
                },
                "api_token": {
                    "type": "string",
                    "description": "API token, will be omitted if empty.",
                    "x-ms-summary": "API Token"
                },
                "at": {
                    "type": "string",
                    "description": "Last update timestamp.",
                    "x-ms-summary": "Last Updated"
                },
                "authorization_updated_at": {
                    "type": "string",
                    "description": "Timestamp when the authorization user session object was last updated.",
                    "x-ms-summary": "Authorization Updated"
                },
                "beginning_of_week": {
                    "type": "integer",
                    "format": "int32",
                    "description": "User's first day of the week (0=Sunday, 1=Monday, etc.).",
                    "x-ms-summary": "Beginning of Week"
                },
                "clients": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Client"
                    },
                    "description": "Clients, null if with_related_data was not set to true.",
                    "x-ms-summary": "Clients"
                },
                "country_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "User's country ID.",
                    "x-ms-summary": "Country ID"
                },
                "created_at": {
                    "type": "string",
                    "description": "User creation timestamp.",
                    "x-ms-summary": "Created At"
                },
                "default_workspace_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "User's default workspace ID.",
                    "x-ms-summary": "Default Workspace ID"
                },
                "email": {
                    "type": "string",
                    "description": "User's email address.",
                    "x-ms-summary": "Email"
                },
                "fullname": {
                    "type": "string",
                    "description": "User's full name.",
                    "x-ms-summary": "Full Name"
                },
                "has_password": {
                    "type": "boolean",
                    "description": "Whether user has a password set.",
                    "x-ms-summary": "Has Password"
                },
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "User ID.",
                    "x-ms-summary": "User ID"
                },
                "image_url": {
                    "type": "string",
                    "description": "User's profile image URL.",
                    "x-ms-summary": "Image URL"
                },
                "intercom_hash": {
                    "type": "string",
                    "description": "Intercom hash, will be omitted if empty.",
                    "x-ms-summary": "Intercom Hash"
                },
                "oauth_providers": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "OAuth providers available to the user.",
                    "x-ms-summary": "OAuth Providers"
                },
                "openid_email": {
                    "type": "string",
                    "description": "OpenID email address.",
                    "x-ms-summary": "OpenID Email"
                },
                "openid_enabled": {
                    "type": "boolean",
                    "description": "OpenID authentication enabled status.",
                    "x-ms-summary": "OpenID Enabled"
                },
                "options": {
                    "type": "object",
                    "description": "User options, will be omitted if empty.",
                    "x-ms-summary": "Options"
                },
                "projects": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Project"
                    },
                    "description": "Projects, null if with_related_data was not set to true.",
                    "x-ms-summary": "Projects"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Tag"
                    },
                    "description": "Tags, null if with_related_data was not set to true.",
                    "x-ms-summary": "Tags"
                },
                "tasks": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Task"
                    },
                    "description": "Tasks, null if with_related_data was not set to true.",
                    "x-ms-summary": "Tasks"
                },
                "time_entries": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TimeEntry"
                    },
                    "description": "Time entries, null if with_related_data was not set to true.",
                    "x-ms-summary": "Time Entries"
                },
                "timezone": {
                    "type": "string",
                    "description": "User's timezone.",
                    "x-ms-summary": "Timezone"
                },
                "updated_at": {
                    "type": "string",
                    "description": "User last update timestamp.",
                    "x-ms-summary": "Updated At"
                },
                "workspaces": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Workspace"
                    },
                    "description": "Workspaces, null if with_related_data was not set to true.",
                    "x-ms-summary": "Workspaces"
                }
            }
        },
        "UserBasicResponse": {
            "type": "object",
            "properties": {
                "2fa_enabled": {
                    "type": "boolean",
                    "description": "Two-factor authentication enabled status.",
                    "x-ms-summary": "2FA Enabled"
                },
                "api_token": {
                    "type": "string",
                    "description": "API token, will be omitted if empty.",
                    "x-ms-summary": "API Token"
                },
                "at": {
                    "type": "string",
                    "description": "Last update timestamp.",
                    "x-ms-summary": "Last Updated"
                },
                "beginning_of_week": {
                    "type": "integer",
                    "format": "int32",
                    "description": "User's first day of the week.",
                    "x-ms-summary": "Beginning of Week"
                },
                "country_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "User's country ID.",
                    "x-ms-summary": "Country ID"
                },
                "created_at": {
                    "type": "string",
                    "description": "User creation timestamp.",
                    "x-ms-summary": "Created At"
                },
                "default_workspace_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "User's default workspace ID.",
                    "x-ms-summary": "Default Workspace ID"
                },
                "email": {
                    "type": "string",
                    "description": "User's email address.",
                    "x-ms-summary": "Email"
                },
                "fullname": {
                    "type": "string",
                    "description": "User's full name.",
                    "x-ms-summary": "Full Name"
                },
                "has_password": {
                    "type": "boolean",
                    "description": "Whether user has a password set.",
                    "x-ms-summary": "Has Password"
                },
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "User ID.",
                    "x-ms-summary": "User ID"
                },
                "image_url": {
                    "type": "string",
                    "description": "User's profile image URL.",
                    "x-ms-summary": "Image URL"
                },
                "openid_email": {
                    "type": "string",
                    "description": "OpenID email address.",
                    "x-ms-summary": "OpenID Email"
                },
                "openid_enabled": {
                    "type": "boolean",
                    "description": "OpenID authentication enabled status.",
                    "x-ms-summary": "OpenID Enabled"
                },
                "options": {
                    "type": "object",
                    "description": "User options, will be omitted if empty.",
                    "x-ms-summary": "Options"
                },
                "timezone": {
                    "type": "string",
                    "description": "User's timezone.",
                    "x-ms-summary": "Timezone"
                },
                "updated_at": {
                    "type": "string",
                    "description": "User last update timestamp.",
                    "x-ms-summary": "Updated At"
                }
            }
        },
        "UserUpdateRequest": {
            "type": "object",
            "properties": {
                "beginning_of_week": {
                    "type": "integer",
                    "format": "int32",
                    "description": "User's first day of the week. Sunday: 0, Monday: 1, etc.",
                    "x-ms-summary": "Beginning of Week"
                },
                "country_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "User's country ID.",
                    "x-ms-summary": "Country ID"
                },
                "current_password": {
                    "type": "string",
                    "description": "User's current password (used to change the current password).",
                    "x-ms-summary": "Current Password"
                },
                "default_workspace_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "User's default workspace ID.",
                    "x-ms-summary": "Default Workspace ID"
                },
                "email": {
                    "type": "string",
                    "description": "User's email address.",
                    "x-ms-summary": "Email"
                },
                "fullname": {
                    "type": "string",
                    "description": "User's full name.",
                    "x-ms-summary": "Full Name"
                },
                "password": {
                    "type": "string",
                    "description": "User's new password (current one must also be provided).",
                    "x-ms-summary": "New Password"
                },
                "timezone": {
                    "type": "string",
                    "description": "User's timezone.",
                    "x-ms-summary": "Timezone"
                }
            }
        },
        "Client": {
            "type": "object",
            "properties": {
                "archived": {
                    "type": "boolean",
                    "description": "Is true if the client is archived.",
                    "x-ms-summary": "Archived"
                },
                "at": {
                    "type": "string",
                    "description": "When was the last update.",
                    "x-ms-summary": "Last Updated"
                },
                "creator_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "ID of the user who created the client.",
                    "x-ms-summary": "Creator ID"
                },
                "external_reference": {
                    "type": "string",
                    "description": "External reference to the Track Client entity.",
                    "x-ms-summary": "External Reference"
                },
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Client ID.",
                    "x-ms-summary": "Client ID"
                },
                "integration_ext_id": {
                    "type": "string",
                    "description": "External ID of the linked entity in the external system.",
                    "x-ms-summary": "Integration External ID"
                },
                "integration_ext_type": {
                    "type": "string",
                    "description": "External type of the linked entity in the external system.",
                    "x-ms-summary": "Integration External Type"
                },
                "integration_provider": {
                    "type": "object",
                    "description": "Provider that has an entity linked to this Toggl Track entity.",
                    "x-ms-summary": "Integration Provider"
                },
                "name": {
                    "type": "string",
                    "description": "Name of the client.",
                    "x-ms-summary": "Client Name"
                },
                "notes": {
                    "type": "string",
                    "description": "Client notes.",
                    "x-ms-summary": "Notes"
                },
                "permissions": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "List of authorization permissions for this client.",
                    "x-ms-summary": "Permissions"
                },
                "total_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Total field to store the total count.",
                    "x-ms-summary": "Total Count"
                },
                "wid": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Workspace ID.",
                    "x-ms-summary": "Workspace ID"
                }
            }
        },
        "Project": {
            "type": "object",
            "properties": {
                "active": {
                    "type": "boolean",
                    "description": "Whether the project is active or archived.",
                    "x-ms-summary": "Active"
                },
                "actual_hours": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Actual hours spent on project.",
                    "x-ms-summary": "Actual Hours"
                },
                "actual_seconds": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Actual seconds spent on project.",
                    "x-ms-summary": "Actual Seconds"
                },
                "at": {
                    "type": "string",
                    "description": "Last updated date.",
                    "x-ms-summary": "Last Updated"
                },
                "auto_estimates": {
                    "type": "boolean",
                    "description": "Auto estimates enabled.",
                    "x-ms-summary": "Auto Estimates"
                },
                "billable": {
                    "type": "boolean",
                    "description": "Whether the project is billable.",
                    "x-ms-summary": "Billable"
                },
                "can_track_time": {
                    "type": "boolean",
                    "description": "Whether time can be tracked to this project.",
                    "x-ms-summary": "Can Track Time"
                },
                "cid": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Client ID legacy field.",
                    "x-ms-summary": "Client ID (Legacy)"
                },
                "client_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Client ID.",
                    "x-ms-summary": "Client ID"
                },
                "client_name": {
                    "type": "string",
                    "description": "Client name.",
                    "x-ms-summary": "Client Name"
                },
                "color": {
                    "type": "string",
                    "description": "Project color.",
                    "x-ms-summary": "Color"
                },
                "created_at": {
                    "type": "string",
                    "description": "Creation date.",
                    "x-ms-summary": "Created At"
                },
                "currency": {
                    "type": "string",
                    "description": "Project currency.",
                    "x-ms-summary": "Currency"
                },
                "current_period": {
                    "type": "object",
                    "description": "Current project period, premium feature.",
                    "x-ms-summary": "Current Period"
                },
                "end_date": {
                    "type": "string",
                    "description": "Project end date.",
                    "x-ms-summary": "End Date"
                },
                "estimated_hours": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Estimated hours for project.",
                    "x-ms-summary": "Estimated Hours"
                },
                "estimated_seconds": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Estimated seconds for project.",
                    "x-ms-summary": "Estimated Seconds"
                },
                "external_reference": {
                    "type": "string",
                    "description": "External reference to the Track Project Entity.",
                    "x-ms-summary": "External Reference"
                },
                "fixed_fee": {
                    "type": "number",
                    "format": "double",
                    "description": "Fixed fee, premium feature.",
                    "x-ms-summary": "Fixed Fee"
                },
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Project ID.",
                    "x-ms-summary": "Project ID"
                },
                "integration_ext_id": {
                    "type": "string",
                    "description": "External ID of the linked entity in the external system.",
                    "x-ms-summary": "Integration External ID"
                },
                "integration_ext_type": {
                    "type": "string",
                    "description": "External type of the linked entity in the external system.",
                    "x-ms-summary": "Integration External Type"
                },
                "integration_provider": {
                    "type": "object",
                    "description": "Provider that has an entity linked to this Toggl Track entity.",
                    "x-ms-summary": "Integration Provider"
                },
                "is_private": {
                    "type": "boolean",
                    "description": "Whether the project is private.",
                    "x-ms-summary": "Is Private"
                },
                "name": {
                    "type": "string",
                    "description": "Project name.",
                    "x-ms-summary": "Project Name"
                },
                "permissions": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "Project permissions.",
                    "x-ms-summary": "Permissions"
                },
                "pinned": {
                    "type": "boolean",
                    "description": "Whether the project is pinned.",
                    "x-ms-summary": "Pinned"
                },
                "rate": {
                    "type": "number",
                    "format": "double",
                    "description": "Hourly rate for project.",
                    "x-ms-summary": "Hourly Rate"
                },
                "rate_last_updated": {
                    "type": "string",
                    "description": "When rate was last updated.",
                    "x-ms-summary": "Rate Last Updated"
                },
                "recurring": {
                    "type": "boolean",
                    "description": "Whether the project is recurring, premium feature.",
                    "x-ms-summary": "Recurring"
                },
                "recurring_parameters": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/RecurringParameter"
                    },
                    "description": "Project recurring parameters, premium feature.",
                    "x-ms-summary": "Recurring Parameters"
                },
                "start_date": {
                    "type": "string",
                    "description": "Project start date.",
                    "x-ms-summary": "Start Date"
                },
                "status": {
                    "type": "string",
                    "description": "Status of the project (upcoming, active, ended, archived, deleted).",
                    "x-ms-summary": "Status"
                },
                "template": {
                    "type": "boolean",
                    "description": "Whether project is a template.",
                    "x-ms-summary": "Template"
                },
                "template_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Template ID if project is based on template.",
                    "x-ms-summary": "Template ID"
                },
                "total_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Total number of projects found.",
                    "x-ms-summary": "Total Count"
                },
                "wid": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Workspace ID legacy field.",
                    "x-ms-summary": "Workspace ID (Legacy)"
                },
                "workspace_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Workspace ID.",
                    "x-ms-summary": "Workspace ID"
                }
            }
        },
        "ProjectsResponse": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Project"
                    },
                    "description": "List of projects.",
                    "x-ms-summary": "Projects"
                }
            }
        },
        "RecurringParameter": {
            "type": "object",
            "properties": {
                "custom_period": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Custom period, used when period field is 'custom'.",
                    "x-ms-summary": "Custom Period"
                },
                "estimated_seconds": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Estimated seconds.",
                    "x-ms-summary": "Estimated Seconds"
                },
                "parameter_end_date": {
                    "type": "string",
                    "description": "Parameter end date.",
                    "x-ms-summary": "Parameter End Date"
                },
                "parameter_start_date": {
                    "type": "string",
                    "description": "Recurring start date.",
                    "x-ms-summary": "Parameter Start Date"
                },
                "period": {
                    "type": "string",
                    "description": "Recurring period.",
                    "x-ms-summary": "Period"
                },
                "project_start_date": {
                    "type": "string",
                    "description": "Project start date.",
                    "x-ms-summary": "Project Start Date"
                }
            }
        },
        "Tag": {
            "type": "object",
            "properties": {
                "at": {
                    "type": "string",
                    "description": "When was created/last modified.",
                    "x-ms-summary": "Last Modified"
                },
                "creator_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "ID of the user who created the tag.",
                    "x-ms-summary": "Creator ID"
                },
                "deleted_at": {
                    "type": "string",
                    "description": "When was deleted.",
                    "x-ms-summary": "Deleted At"
                },
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Tag ID.",
                    "x-ms-summary": "Tag ID"
                },
                "integration_ext_id": {
                    "type": "string",
                    "description": "External ID of the linked entity in the external system.",
                    "x-ms-summary": "Integration External ID"
                },
                "integration_ext_type": {
                    "type": "string",
                    "description": "External type of the linked entity in the external system.",
                    "x-ms-summary": "Integration External Type"
                },
                "integration_provider": {
                    "type": "object",
                    "description": "Provider that has an entity linked to this Toggl Track entity.",
                    "x-ms-summary": "Integration Provider"
                },
                "name": {
                    "type": "string",
                    "description": "Tag name.",
                    "x-ms-summary": "Tag Name"
                },
                "permissions": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "Tag permissions.",
                    "x-ms-summary": "Permissions"
                },
                "workspace_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Workspace ID.",
                    "x-ms-summary": "Workspace ID"
                }
            }
        },
        "TagsResponse": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Tag"
                    },
                    "description": "List of tags.",
                    "x-ms-summary": "Tags"
                }
            }
        },
        "Task": {
            "type": "object",
            "properties": {
                "active": {
                    "type": "boolean",
                    "description": "False when the task has been done.",
                    "x-ms-summary": "Active"
                },
                "at": {
                    "type": "string",
                    "description": "When the task was created/last modified.",
                    "x-ms-summary": "Last Modified"
                },
                "avatar_url": {
                    "type": "string",
                    "description": "Avatar URL.",
                    "x-ms-summary": "Avatar URL"
                },
                "client_name": {
                    "type": "string",
                    "description": "Client name.",
                    "x-ms-summary": "Client Name"
                },
                "estimated_seconds": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Estimated seconds for task.",
                    "x-ms-summary": "Estimated Seconds"
                },
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Task ID.",
                    "x-ms-summary": "Task ID"
                },
                "integration_ext_id": {
                    "type": "string",
                    "description": "External ID of the linked entity in the external system.",
                    "x-ms-summary": "Integration External ID"
                },
                "integration_ext_type": {
                    "type": "string",
                    "description": "External type of the linked entity in the external system.",
                    "x-ms-summary": "Integration External Type"
                },
                "integration_provider": {
                    "type": "object",
                    "description": "Provider that has an entity linked to this Toggl Track entity.",
                    "x-ms-summary": "Integration Provider"
                },
                "name": {
                    "type": "string",
[...]
