{
  "swagger": "2.0",
  "info": {
    "version": "1.1",
    "title": "IN-D Invoice Data Capture",
    "description": "A smart invoice processing solution that converts static documents (scanned, PDFs, screenshots, etc.) into usable information to fuel your business processes.IN-D Payables is an AI-led intelligent document classification and capture solution that automates the processing of all kinds of commercial documents used in Shipping, Logistics, and Manufacturing operations. Manual handling of documents slows the pace of business transactions."
  },
  "host": "payables-v3.in-d.ai",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/e2e": {
      "post": {
        "summary": "InvoiceCapture",
        "description": "Process invoices to extract the key attributes like invoice numbers, PO number, vendor name, etc., and export the data",
        "operationId": "InvoiceCapture",
        "parameters": [
          {
            "name": "Accept-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "v3.0",
            "description": "Accept-Version"
          },
          {
            "name": "Accept-Export-Type",
            "in": "header",
            "required": true,
            "type": "integer",
            "description": "Accept-Export-Type",
            "format": "int64",
            "default": 0
          },
          {
            "name": "Accept-Attachment",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "True",
            "description": "Accept-Attachment"
          },
          {
            "name": "Accept-Route",
            "in": "header",
            "required": true,
            "type": "integer",
            "description": "Accept-Route",
            "default": 1
          },
          {
            "name": "Accept-Doctype",
            "in": "header",
            "required": true,
            "type": "integer",
            "description": "Accept-Doctype",
            "default": 1
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "files": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "files",
                    "title": "Base64 format",
                    "format": "byte"
                  },
                  "description": "files"
                }
              },
              "default": {
                "files": [
                  "Base64 value"
                ]
              },
              "required": [
                "files"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "Document_0": {
                      "type": "object",
                      "properties": {
                        "response": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "header_items": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "vendor_name": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "vendor name extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "The confidence score for extracted vendor name from the invoice"
                                        }
                                      },
                                      "description": "vendor_name"
                                    },
                                    "vendor_address": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "vendor address extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "The confidence score for extracted vendor address from the invoice"
                                        }
                                      },
                                      "description": "vendor_address"
                                    },
                                    "customer_name": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "customer name extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "The confidence score for extracted customer name from the invoice"
                                        }
                                      },
                                      "description": "customer_name"
                                    },
                                    "customer_address": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "customer address extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "The confidence score for extracted customer address from the invoice"
                                        }
                                      },
                                      "description": "customer_address"
                                    },
                                    "invoice_number": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "invoice number extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "The confidence score for extracted invoice number from the invoice"
                                        }
                                      },
                                      "description": "invoice_number"
                                    },
                                    "invoice_date": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "invoice date extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "The confidence score for extracted invoice date from the invoice"
                                        }
                                      },
                                      "description": "invoice_date"
                                    },
                                    "po_number": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "po number extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "The confidence score for extracted po number from the invoice"
                                        }
                                      },
                                      "description": "po_number"
                                    },
                                    "total_amount": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "total amount extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "The confidence score for extracted total amount from the invoice"
                                        }
                                      },
                                      "description": "total_amount"
                                    },
                                    "subtotal_amount": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "subtotal amount extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "The confidence score for extracted subtotal amount from the invoice"
                                        }
                                      },
                                      "description": "subtotal_amount"
                                    },
                                    "tax_amount": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "tax amount extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "The confidence score for extracted tax amount from the invoice"
                                        }
                                      },
                                      "description": "tax_amount"
                                    },
                                    "sgst": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "sgst extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "The confidence score for extracted sgst from the invoice"
                                        }
                                      },
                                      "description": "sgst"
                                    },
                                    "cgst": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "cgst extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "The confidence score for extracted cgst from the invoice"
                                        }
                                      },
                                      "description": "cgst"
                                    },
                                    "igst": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "igst extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "The confidence score for extracted igst from the invoice"
                                        }
                                      },
                                      "description": "igst"
                                    },
                                    "vendor_gstin": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "vendor gstin extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "The confidence score for vendor gstin extracted from the invoice"
                                        }
                                      },
                                      "description": "vendor_gstin"
                                    },
                                    "customer_gstin": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "customer gstin extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "The confidence score for customer gstin extracted from the invoice"
                                        }
                                      },
                                      "description": "customer_gstin"
                                    }
                                  }
                                },
                                "description": "header_items"
                              },
                              "table_items": {
                                "type": "object",
                                "properties": {
                                  "columns": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "columns"
                                  },
                                  "data": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "description": "data"
                                  }
                                },
                                "description": "table_items"
                              },
                              "container_details": {
                                "type": "object",
                                "properties": {
                                  "columns": {
                                    "type": "array",
                                    "items": {},
                                    "description": "columns"
                                  },
                                  "data": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "description": "data"
                                  }
                                },
                                "description": "container_details"
                              }
                            }
                          },
                          "description": "response"
                        }
                      },
                      "description": "Document_0"
                    }
                  },
                  "description": "result"
                }
              }
            }
          },
          "400": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Invalid URL or base64 string",
                  "title": "message"
                }
              }
            }
          },
          "403": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Headers or api key is wrong",
                  "title": "message"
                }
              }
            }
          },
          "500": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Internal server error",
                  "title": "message"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.in-d.ai"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.in-d.ai/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;IT Operations"
    }
  ]
}
