{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "IN-D Invoice Data Capture",
    "description": "IN-D Payables is a smart invoice processing solution that converts static documents (scanned, PDFs, screenshots, etc.) into usable information to fuel your business processes. IN-D Payables is an AI-led intelligent document classification and capture solution that automates the processing of all kinds of commercial documents used in Shipping, Logistics, and Manufacturing operations.",
    "contact": {
      "name": "IN-D Support",
      "url": "https://one.in-d.ai/developer/",
      "email": "explore@in-d.ai"
    }
  },
  "host": "payables-v3.in-d.ai",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/e2e": {
      "post": {
        "summary": "Invoice process",
        "description": "This will process invoices to extract all key attributes like invoice number, PO number, vendor name, etc., and export the data",
        "operationId": "InvoiceCapture",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content-Type",
            "description": "Content-Type of POST request must be application/json"
          },
          {
            "name": "Accept-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "v3.0",
            "x-ms-summary": "Accept-Version",
            "description": "Specify the API version to access any specific capabilities. Skip it to choose the default value"
          },
          {
            "name": "Accept-Export-Type",
            "in": "header",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Accept-Export-Type"
            "description": "Specify the Export Type as zero to get the extracted results in JSON format",
            "format": "int32",
            "default": 0,
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept-Attachment",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "True",
            "x-ms-summary": "Accept-Attachment",
            "description": "Specify if the attachment is required or not. Skip it to choose the default value"
          },
          {
            "name": "Accept-Route",
            "in": "header",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Accept-Route",
            "description": "Specify the route. Skip it to choose the default value",
            "default": 1
          },
          {
            "name": "Accept-Doctype",
            "in": "header",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Accept-Doctype",
            "description": "Specify the Document type to be considered for Classification operation. Skip it to choose Generic Invoice",
            "default": 1
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "files": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "files",
                    "title": "Base64 format",
                    "format": "byte"
                  },
                  "description": "Upload the files in Base 64 format"
                }
              },
              "default": {
                "files": [
                  "Base64 value"
                ]
              },
              "required": [
                "files"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "Document_0": {
                      "type": "object",
                      "properties": {
                        "response": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "header_items": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "vendor_name": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "This is the vendor name extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "This is the confidence score for extracted vendor name from the invoice"
                                        }
                                      },
                                      "description": "This is the vendor name extracted from the invoice"
                                    },
                                    "vendor_address": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "This is the vendor address extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "This is the confidence score for extracted vendor address from the invoice"
                                        }
                                      },
                                      "description": "This is the vendor address extracted from the invoice"
                                    },
                                    "customer_name": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "This is the customer name extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "The confidence score for extracted customer name from the invoice"
                                        }
                                      },
                                      "description": "This is the customer name extracted from the invoice"
                                    },
                                    "customer_address": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "This is the customer address extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "This is the confidence score for extracted customer address from the invoice"
                                        }
                                      },
                                      "description": "This is the customer address extracted from the invoice"
                                    },
                                    "invoice_number": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "This is the invoice number extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "This is the confidence score for extracted invoice number from the invoice"
                                        }
                                      },
                                      "description": "This is the invoice number extracted from the invoice"
                                    },
                                    "invoice_date": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "This is the invoice date extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "This is the confidence score for extracted invoice date from the invoice"
                                        }
                                      },
                                      "description": "This is the invoice date extracted from the invoice"
                                    },
                                    "po_number": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "This is the PO number extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "This is the confidence score for extracted PO number from the invoice"
                                        }
                                      },
                                      "description": "This is the PO number extracted from the invoice"
                                    },
                                    "total_amount": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "This is the total amount extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "This is the confidence score for extracted total amount from the invoice"
                                        }
                                      },
                                      "description": "This is the total amount extracted from the invoice"
                                    },
                                    "subtotal_amount": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "This is the subtotal amount extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "This is the confidence score for extracted subtotal amount from the invoice"
                                        }
                                      },
                                      "description": "This is the subtotal amount extracted from the invoice"
                                    },
                                    "tax_amount": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "This is the tax amount extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "This is the confidence score for extracted tax amount from the invoice"
                                        }
                                      },
                                      "description": "This is the tax amount extracted from the invoice"
                                    },
                                    "sgst": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "This is the SGST extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "This is the confidence score for extracted SGST from the invoice"
                                        }
                                      },
                                      "description": "This is the SGST extracted from the invoice"
                                    },
                                    "cgst": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "This is the CGST extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "This is the confidence score for extracted CGST from the invoice"
                                        }
                                      },
                                      "description": "This is the CGST extracted from the invoice"
                                    },
                                    "igst": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "This is the IGST extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "This is the confidence score for extracted IGST from the invoice"
                                        }
                                      },
                                      "description": "This is the IGST extracted from the invoice"
                                    },
                                    "vendor_gstin": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "This is the vendor GSTIN extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "This is the confidence score for vendor GSTIN extracted from the invoice"
                                        }
                                      },
                                      "description": "This is the vendor GSTIN extracted from the invoice"
                                    },
                                    "customer_gstin": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "This is the customer GSTIN extracted from the invoice"
                                        },
                                        "conf_score": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "This is the confidence score for customer GSTIN extracted from the invoice"
                                        }
                                      },
                                      "description": "This is the customer GSTIN extracted from the invoice"
                                    }
                                  }
                                },
                                "description": "This is the header_items"
                              },
                              "table_items": {
                                "type": "object",
                                "properties": {
                                  "columns": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "This is the columns"
                                  },
                                  "data": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "description": "This is the data"
                                  }
                                },
                                "description": "This is the table_items"
                              },
                              "container_details": {
                                "type": "object",
                                "properties": {
                                  "columns": {
                                    "type": "array",
                                    "items": {},
                                    "description": "This is the columns"
                                  },
                                  "data": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "description": "This is the data"
                                  }
                                },
                                "description": "This is the container details"
                              }
                            }
                          },
                          "description": "This is the response"
                        }
                      },
                      "description": "It is Document_0"
                    }
                  },
                  "description": "This is the result"
                }
              }
            }
          },
          "400": {
            "description": "Invalid base64 string",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Invalid URL or base64 string",
                  "title": "message"
                }
              }
            }
          },
          "403": {
            "description": "Authorization headers or api key not given",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Headers or the API key is wrong",
                  "title": "message"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Internal Server Error",
                  "title": "message"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.in-d.ai"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.in-d.ai/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;IT Operations"
    }
  ]
}
