{
  "swagger": "2.0",
  "info": {
    "title": "ACS SMS Events",
    "description": "Connector to receive SMS messages from the Azure Communication Services resources in your subscription.",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft",
      "email": "acssolutions@microsoft.com",
      "url": "https://azure.microsoft.com/services/communication-services"
    }
  },
  "host": "management.azure.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": [],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/CommunicationServices/{resourceName}/providers/Microsoft.EventGrid/eventSubscriptions": {
      "x-ms-notification-content": {
        "description": "Content of Microsoft.Communication.SMSReceived Events.",
        "schema": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "to": {
                    "x-ms-summary": "To",
                    "type": "string"
                  },
                  "from": {
                    "x-ms-summary": "From",
                    "type": "string"
                  },
                  "message": {
                    "x-ms-summary": "Message",
                    "type": "string"
                  },
                  "receivedTimestamp": {
                    "x-ms-summary": "Received Timestamp",
                    "type": "string"
                  },
                  "messageId": {
                    "x-ms-summary": "Message ID",
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "When an SMS message is received",
        "description": "When an Azure Communication Services SMS message is received.",
        "operationId": "CreateSMSReceivedEventSubscription",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "x-ms-summary": "API Version",
            "x-ms-visibility": "internal",
            "default": "2022-06-15",
            "type": "string"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["properties"],
              "properties": {
                "toPhoneNumbers": {
                  "x-ms-summary": "Filter By To Phone Number",
                  "type": "array",
                  "maxItems": 25,
                  "items": {
                    "x-ms-summary": "To Phone Number",
                    "description": "Filter incoming SMS messages by the phone number messages are sent to.",
                    "type": "string"                    
                  }
                },
                "fromPhoneNumbers": {
                  "x-ms-summary": "Filter By From Phone Number",
                  "type": "array",
                  "maxItems": 25,
                  "x-ms-visibility": "advanced",
                  "items": {
                    "x-ms-summary": "From Phone Number",
                    "description": "Filter incoming SMS messages by the phone number messages are sent from.",
                    "type": "string"                    
                  }
                },
                "eventSubscriptionName": {
                  "x-ms-summary": "Event Subscription Name",
                  "description": "The name for the new event subscription.",
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 64,
                  "x-ms-visibility": "advanced"
                },
                "properties": {
                  "type": "object",
                  "required": ["destination", "filter"],
                  "properties": {
                    "destination": {
                      "type": "object",
                      "required": ["properties", "endpointType"],
                      "properties": {
                        "endpointType": {
                          "description": "The type of endpoint to notify on events.",
                          "type": "string",
                          "x-ms-visibility": "internal",
                          "default": "WebHook",
                          "title": ""
                        },
                        "properties": {
                          "description": "Properties for the Event Grid subscription.",
                          "type": "object",
                          "required": ["endpointUrl"],
                          "properties": {
                            "endpointUrl": {
                              "description": "The URL to notify on events for this subscription.",
                              "type": "string",
                              "x-ms-summary": "Endpoint URL",
                              "x-ms-visibility": "internal",
                              "x-ms-notification-url": true
                            }
                          }
                        }
                      }
                    },
                    "filter": {
                      "type": "object",
                      "required": ["includedEventTypes"],
                      "properties": {
                        "includedEventTypes": {
                          "type": "array",
                          "default": ["Microsoft.Communication.SMSReceived"],
                          "items": {
                            "type": "string"
                          },
                          "x-ms-visibility": "internal"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "201": {
            "description": "Success."
          }
        },
        "x-ms-trigger": "single"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/CommunicationServices/{resourceName}/providers/Microsoft.EventGrid/eventSubscriptions/{eventSubscriptionName}": {
      "delete": {
        "summary": "Remove Webhook subscription",
        "description": "Unsubscribe to an Azure Communication Services SMSReceived Event Grid event.",
        "operationId": "RemoveSMSReceivedEventSubscription",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "x-ms-summary": "API Version",
            "x-ms-visibility": "internal",
            "default": "2021-12-01",
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The unique identifier for the Microsoft Azure subscription.",
            "required": true,
            "x-ms-url-encoding": "single",
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group containing your resource.",
            "required": true,
            "x-ms-url-encoding": "single",
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of your Azure Communication Services resource.",
            "required": true,
            "x-ms-url-encoding": "single",
            "type": "string"
          },
          {
            "name": "eventSubscriptionName",
            "in": "path",
            "description": "The name of the event subscription.",
            "required": true,
            "x-ms-url-encoding": "single",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "201": {
            "description": "Success."
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "summary": "List subscriptions",
        "description": "Gets a list of all the subscriptions to which the principal has access.",
        "operationId": "ListSubscriptions",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "x-ms-summary": "API Version",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "2020-01-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "The fully qualified Id. For example, /subscriptions/00000000-0000-0000-0000-000000000000.",
                        "type": "string",
                        "readOnly": true,
                        "x-ms-summary": "ID"
                      },
                      "subscriptionId": {
                        "description": "The subscription ID.",
                        "type": "string",
                        "readOnly": true,
                        "x-ms-summary": "Subscription ID"
                      },
                      "displayName": {
                        "description": "The subscription display name.",
                        "type": "string",
                        "readOnly": true,
                        "x-ms-summary": "Subscription Name"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups": {
      "get": {
        "summary": "List subscription resource groups",
        "description": "Gets all the resource groups for a subscription.",
        "operationId": "ListResourceGroups",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "x-ms-summary": "API Version",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "2021-04-01"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "The fully qualified Id. For example, /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group-abc.",
                        "type": "string",
                        "readOnly": true,
                        "x-ms-summary": "ID"
                      },
                      "name": {
                        "description": "The resource group display name.",
                        "type": "string",
                        "readOnly": true,
                        "x-ms-summary": "Resource Group Name"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/resources": {
      "get": {
        "summary": "List CommunicationServices resources",
        "description": "Get all the CommunicationServices resources for a resource group.",
        "operationId": "ListResources",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "x-ms-summary": "API Version",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "2021-04-01"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": true,
            "x-ms-summary": "Resource Type Filter",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "resourceType eq 'Microsoft.Communication/CommunicationServices'"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "The fully qualified Id. For example, /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group-abc/providers/Microsoft.Communication/CommunicationServices/resource-abc.",
                        "type": "string",
                        "readOnly": true,
                        "x-ms-summary": "ID"
                      },
                      "name": {
                        "description": "The resource display name.",
                        "type": "string",
                        "readOnly": true,
                        "x-ms-summary": "Resource Name"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "x-ms-url-encoding": "single",
      "required": true,
      "type": "string",
      "x-ms-summary": "Subscription",
      "description": "The unique identifier for the Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource.",
      "x-ms-dynamic-values": {
        "operationId": "ListSubscriptions",
        "value-collection": "value",
        "value-path": "subscriptionId",
        "value-title": "displayName"
      }
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "x-ms-url-encoding": "single",
      "required": true,
      "type": "string",
      "x-ms-summary": "Resource Group Name",
      "description": "The name of the resource group containing your resource.",
      "x-ms-dynamic-values": {
        "operationId": "ListResourceGroups",
        "value-collection": "value",
        "value-path": "name",
        "value-title": "name",
        "parameters": {
          "subscriptionId": {
            "parameter": "subscriptionId"
          }
        }
      }
    },
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "x-ms-url-encoding": "single",
      "required": true,
      "type": "string",
      "x-ms-summary": "Resource Name",
      "description": "The name of the Communication Services resource.",
      "x-ms-dynamic-values": {
        "operationId": "ListResources",
        "value-collection": "value",
        "value-path": "name",
        "value-title": "name",
        "parameters": {
          "subscriptionId": {
            "parameter": "subscriptionId"
          },
          "resourceGroupName": {
            "parameter": "resourceGroupName"
          }
        }
      }
    }
  },
  "responses": {},
  "tags": [],
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "ListSubscriptions",
      "parameters": {}
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://azure.microsoft.com/services/communication-services"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ]
}
