{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Clinical Trials",
    "description": "ClinicalTrials.gov is a website and online database of clinical research studies and information about their results. The purpose of ClinicalTrials.gov is to provide information about clinical research studies to the public, researchers, and health care professionals. The U.S. government does not review or approve the safety and science of all studies listed on this website.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "clinicaltrials.gov",
  "basePath": "/api/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/studies": {
      "get": {
        "description": "Returns data of studies matching query and filter parameters.",
        "summary": "Get studies",
        "tags": [
          "Studies"
        ],
        "operationId": "ListStudies",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "x-ms-summary": "Format",
            "required": true,
            "enum": [
              "json"
            ],
            "default": "json",
            "x-ms-visibility": "internal",
            "type": "string",
            "description": "The format of the response."
          },
          {
            "name": "markupFormat",
            "in": "query",
            "x-ms-summary": "Markup Format",
            "required": false,
            "enum": [
              "markdown",
              "legacy"
            ],
            "default": "markdown",
            "type": "string",
            "description": "Format of markup type fields."
          },
          {
            "name": "query.cond",
            "in": "query",
            "x-ms-summary": "Condition",
            "required": false,
            "type": "string",
            "description": "Conditions or disease query in Essie expression syntax."
          },
          {
            "name": "query.term",
            "in": "query",
            "x-ms-summary": "Term",
            "required": false,
            "type": "string",
            "description": "Other terms query in Essie expression syntax."
          },
          {
            "name": "query.locn",
            "in": "query",
            "x-ms-summary": "Location",
            "required": false,
            "type": "string",
            "description": "Location terms query in Essie expression syntax."
          },
          {
            "name": "query.titles",
            "in": "query",
            "x-ms-summary": "Title",
            "required": false,
            "type": "string",
            "description": "Title / acronym query in Essie expression syntax."
          },
          {
            "name": "query.intr",
            "in": "query",
            "x-ms-summary": "Intervention",
            "required": false,
            "type": "string",
            "description": "Intervention / treatment query in Essie expression syntax."
          },
          {
            "name": "query.outc",
            "in": "query",
            "x-ms-summary": "Outcome",
            "required": false,
            "type": "string",
            "description": "Outcome measure query in Essie expression syntax."
          },
          {
            "name": "query.spons",
            "in": "query",
            "x-ms-summary": "Sponsor",
            "required": false,
            "type": "string",
            "description": "Sponsor / collaborator query in Essie expression syntax."
          },
          {
            "name": "query.lead",
            "in": "query",
            "x-ms-summary": "Lead Sponsor",
            "required": false,
            "type": "string",
            "description": "Searches in lead sponsor name field."
          },
          {
            "name": "query.id",
            "in": "query",
            "x-ms-summary": "Study ID",
            "required": false,
            "type": "string",
            "description": "Study IDs query in Essie expression syntax."
          },
          {
            "name": "query.patient",
            "in": "query",
            "x-ms-summary": "Patient",
            "required": false,
            "type": "string",
            "description": "Patient query in Essie expression syntax."
          },
          {
            "name": "filter.overallStatus",
            "in": "query",
            "x-ms-summary": "Overall Status",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ACTIVE_NOT_RECRUITING",
                "COMPLETED",
                "ENROLLING_BY_INVITATION",
                "NOT_YET_RECRUITING",
                "RECRUITING",
                "SUSPENDED",
                "TERMINATED",
                "WITHDRAWN",
                "AVAILABLE",
                "NO_LONGER_AVAILABLE",
                "TEMPORARILY_NOT_AVAILABLE",
                "APPROVED_FOR_MARKETING",
                "WITHHELD",
                "UNKNOWN"
              ]
            },
            "description": "Filter by comma- or pipe-separated list of statuses."
          },
          {
            "name": "filter.geo",
            "in": "query",
            "x-ms-summary": "Geo",
            "required": false,
            "type": "string",
            "pattern": "^distance\\(-?\\d+(\\.\\d+)?,-?\\d+(\\.\\d+)?,\\d+(\\.\\d+)?(km|mi)?\\)$",
            "description": "Filter by geo-function. Format: distance(latitude,longitude,distance)"
          },
          {
            "name": "filter.ids",
            "in": "query",
            "x-ms-summary": "NCT IDs",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by comma- or pipe-separated list of NCT IDs."
          },
          {
            "name": "filter.advanced",
            "in": "query",
            "x-ms-summary": "Advanced",
            "required": false,
            "type": "string",
            "description": "Filter by query in Essie expression syntax."
          },
          {
            "name": "filter.synonyms",
            "in": "query",
            "x-ms-summary": "Synonyms",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by comma- or pipe-separated list of area:synonym_id pairs."
          },
          {
            "name": "postFilter.overallStatus",
            "in": "query",
            "x-ms-summary": "Post Filter Overall Status",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ACTIVE_NOT_RECRUITING",
                "COMPLETED",
                "ENROLLING_BY_INVITATION",
                "NOT_YET_RECRUITING",
                "RECRUITING",
                "SUSPENDED",
                "TERMINATED",
                "WITHDRAWN",
                "AVAILABLE",
                "NO_LONGER_AVAILABLE",
                "TEMPORARILY_NOT_AVAILABLE",
                "APPROVED_FOR_MARKETING",
                "WITHHELD",
                "UNKNOWN"
              ]
            },
            "description": "Filter by comma- or pipe-separated list of statuses."
          },
          {
            "name": "postFilter.geo",
            "in": "query",
            "x-ms-summary": "Post Filter Geo",
            "required": false,
            "type": "string",
            "pattern": "^distance\\(-?\\d+(\\.\\d+)?,-?\\d+(\\.\\d+)?,\\d+(\\.\\d+)?(km|mi)?\\)$",
            "description": "Filter by geo-function. Format: distance(latitude,longitude,distance)"
          },
          {
            "name": "postFilter.ids",
            "in": "query",
            "x-ms-summary": "Post Filter NCT IDs",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by comma- or pipe-separated list of NCT IDs."
          },
          {
            "name": "postFilter.advanced",
            "in": "query",
            "x-ms-summary": "Post Filter Advanced",
            "required": false,
            "type": "string",
            "description": "Filter by query in Essie expression syntax](/find-studies/constructing-complex-search-queries)"
          },
          {
            "name": "postFilter.synonyms",
            "in": "query",
            "x-ms-summary": "Post Filter Synonyms",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by comma- or pipe-separated list of area:synonym_id pairs."
          },
          {
            "name": "aggFilters",
            "in": "query",
            "x-ms-summary": "Aggregation Filters",
            "required": false,
            "type": "string",
            "description": "Apply aggregation filters, aggregation counts will not be provided."
          },
          {
            "name": "geoDecay",
            "in": "query",
            "x-ms-summary": "Geo Decay",
            "required": false,
            "default": "func:exp,scale:300mi,offset:0mi,decay:0.5",
            "type": "string",
            "pattern": "^func:(gauss|exp|linear),scale:(\\d+(\\.\\d+)?(km|mi)),offset:(\\d+(\\.\\d+)?(km|mi)),decay:(\\d+(\\.\\d+)?)$",
            "description": "Set proximity factor by distance from filter.geo location to the closest LocationGeoPoint."
          },
          {
            "name": "fields",
            "in": "query",
            "x-ms-summary": "Fields",
            "required": false,
            "type": "array",
            "minItems": 1,
            "uniqueItems": false,
            "items": {
              "type": "string",
              "pattern": "^(a-zA-Z]a-zA-Z0-9\\-. ]*)|(@query)$"
            },
            "description": "If specified, must be non-empty comma- or pipe-separated list of fields to return. If unspecified, all fields will be returned."
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort",
            "required": false,
            "type": "array",
            "maxItems": 2,
            "uniqueItems": false,
            "items": {
              "type": "string",
              "pattern": "^((a-zA-Z]a-zA-Z0-9\\-. ]*)|(@relevance))(:(asc|desc))?$"
            },
            "description": "Comma- or pipe-separated list of sorting options of the studies. The returning studies are not sorted by default for a performance reason."
          },
          {
            "name": "countTotal",
            "in": "query",
            "x-ms-summary": "Count Total",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Count total number of studies in all pages and return totalCount field with first page, if true."
          },
          {
            "name": "pageSize",
            "in": "query",
            "x-ms-summary": "Page Size",
            "required": false,
            "default": 10,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "description": "Page size is maximum number of studies to return in response. It does not have to be the same for every page."
          },
          {
            "name": "pageToken",
            "in": "query",
            "x-ms-summary": "Page Token",
            "required": false,
            "type": "string",
            "description": "Token to get next page. Set it to a nextPageToken value returned with the previous page in JSON format."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedStudies"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/studies/{nctId}": {
      "get": {
        "description": "Returns data of a single study.",
        "summary": "Get study",
        "tags": [
          "Studies"
        ],
        "operationId": "FetchStudy",
        "parameters": [
          {
            "name": "nctId",
            "in": "path",
            "x-ms-summary": "NCT Number",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "NCT Number of a study."
          },
          {
            "name": "format",
            "in": "query",
            "x-ms-summary": "Format",
            "required": true,
            "enum": [
              "json",
              "json.zip",
              "fhir.json",
              "ris"
            ],
            "default": "json",
            "x-ms-visibility": "internal",
            "type": "string",
            "description": "The format of the response."
          },
          {
            "name": "markupFormat",
            "in": "query",
            "x-ms-summary": "Markup Format",
            "required": false,
            "enum": [
              "markdown",
              "legacy"
            ],
            "default": "markdown",
            "type": "string",
            "description": "Format of markup type fields."
          },
          {
            "name": "fields",
            "in": "query",
            "x-ms-summary": "Fields",
            "required": false,
            "type": "array",
            "minItems": 1,
            "uniqueItems": false,
            "items": {
              "type": "string"
            },
            "description": "If specified, must be non-empty comma- or pipe-separated list of fields to return. If unspecified, all fields will be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "301": {
            "description": "Moved Permanently"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/studies/metadata": {
      "get": {
        "description": "Returns study data model fields.",
        "summary": "Get study metadata",
        "tags": [
          "Studies"
        ],
        "operationId": "StudiesMetadata",
        "parameters": [
          {
            "name": "includeIndexedOnly",
            "in": "query",
            "x-ms-summary": "Include Indexed Only",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Include indexed-only fields, if true."
          },
          {
            "name": "includeHistoricOnly",
            "in": "query",
            "x-ms-summary": "Include Historic Only",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Include fields available only in historic data, if true."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FieldNode"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/studies/search-areas": {
      "get": {
        "description": "Search docs and their search areas.",
        "summary": "Search areas",
        "tags": [
          "Studies"
        ],
        "operationId": "SearchAreas",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SearchDocument"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/studies/enums": {
      "get": {
        "description": "Returns enumeration types and their values.",
        "tags": [
          "Studies"
        ],
        "operationId": "Enums",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EnumInfo"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Get enums"
      }
    },
    "/version": {
      "get": {
        "description": "API and data versions.",
        "summary": "Get version",
        "tags": [
          "Version"
        ],
        "operationId": "Version",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Version"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "FieldNode": {
      "title": "Field Node",
      "type": "object",
      "properties": {
        "altPieceNames": {
          "type": "array",
          "description": "Alternative piece names of the field.",
          "title": "Alternative Piece Names",
          "items": {
            "type": "string"
          }
        },
        "children": {
          "description": "Child fields of the field.",
          "title": "Children",
          "type": "array",
          "items": {
            "title": "Child",
            "type": "object",
            "properties": {
              "altPieceNames": {
                "type": "array",
                "description": "Alternative piece names of the field.",
                "title": "Alternative Piece Names",
                "items": {
                  "type": "string"
                }
              },
              "dedLink": {
                "$ref": "#/definitions/WebLink"
              },
              "description": {
                "description": "Description of the field.",
                "title": "Description",
                "type": "string"
              },
              "historicOnly": {
                "description": "Historic only field.",
                "title": "Historic Only",
                "type": "boolean"
              },
              "indexedOnly": {
                "description": "Indexed only field.",
                "title": "Indexed Only",
                "type": "boolean"
              },
              "isEnum": {
                "description": "Enumeration field.",
                "type": "boolean"
              },
              "maxChars": {
                "description": "Maximum number of characters of the field.",
                "title": "Max Chars",
                "type": "integer",
                "format": "int32"
              },
              "name": {
                "description": "Name of the field.",
                "title": "Name",
                "type": "string"
              },
              "nested": {
                "description": "Nested field.",
                "title": "Nested",
                "type": "boolean"
              },
              "piece": {
                "description": "Piece name of the field.",
                "title": "Piece",
                "type": "string"
              },
              "rules": {
                "description": "Rules of the field.",
                "title": "Rules",
                "type": "string"
              },
              "sourceType": {
                "description": "Source type of the field.",
                "title": "Source Type",
                "type": "string"
              },
              "synonyms": {
                "description": "Synonyms of the field.",
                "title": "Synonyms",
                "type": "boolean"
              },
              "title": {
                "description": "Title of the field.",
                "title": "Title",
                "type": "string"
              },
              "type": {
                "description": "Type of the field.",
                "title": "Type",
                "type": "string"
              }
            },
            "required": [
              "name",
              "piece",
              "sourceType",
              "type"
            ]
          }
        },
        "dedLink": {
          "$ref": "#/definitions/WebLink"
        },
        "description": {
          "description": "Description of the field.",
          "title": "Description",
          "type": "string"
        },
        "historicOnly": {
          "description": "Historic only field.",
          "title": "Historic Only",
          "type": "boolean"
        },
        "indexedOnly": {
          "description": "Indexed only field.",
          "title": "Indexed Only",
          "type": "boolean"
        },
        "isEnum": {
          "description": "Enumeration field.",
          "title": "Is Enum",
          "type": "boolean"
        },
        "maxChars": {
          "description": "Maximum number of characters of the field.",
          "title": "Max Chars",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Name of the field.",
          "title": "Name",
          "type": "string"
        },
        "nested": {
          "description": "Nested field.",
          "type": "boolean"
        },
        "piece": {
          "description": "Piece name of the field.",
          "title": "Piece",
          "type": "string"
        },
        "rules": {
          "description": "Rules of the field.",
          "title": "Rules",
          "type": "string"
        },
        "sourceType": {
          "description": "Source type of the field.",
          "title": "Source Type",
          "type": "string"
        },
        "synonyms": {
          "description": "Synonyms of the field.",
          "title": "Synonyms",
          "type": "boolean"
        },
        "title": {
          "description": "Title of the field.",
          "title": "Title",
          "type": "string"
        },
        "type": {
          "description": "Type of the field.",
          "title": "Type",
          "type": "string"
        }
      },
      "required": [
        "name",
        "piece",
        "sourceType",
        "type"
      ]
    },
    "WebLink": {
      "title": "Web Link",
      "type": "object",
      "properties": {
        "label": {
          "description": "Label of the link.",
          "title": "Label",
          "type": "string"
        },
        "url": {
          "description": "URL of the link.",
          "title": "URL",
          "type": "string"
        }
      },
      "required": [
        "label",
        "url"
      ]
    },
    "SearchDocument": {
      "title": "Search Document",
      "type": "object",
      "properties": {
        "areas": {
          "description": "Search areas of the document.",
          "title": "Areas",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SearchArea"
          }
        },
        "name": {
          "description": "Name of the document.",
          "title": "Name",
          "type": "string"
        }
      },
      "required": [
        "areas",
        "name"
      ]
    },
    "SearchArea": {
      "title": "Search Area",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the search area.",
          "title": "Name",
          "type": "string"
        },
        "param": {
          "description": "Parameter of the search area.",
          "title": "Param",
          "type": "string"
        },
        "parts": {
          "description": "Parts of the search area.",
          "title": "Parts",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SearchPart"
          }
        },
        "uiLabel": {
          "description": "UI label of the search area.",
          "title": "UI Label",
          "type": "string"
        }
      },
      "required": [
        "name",
        "parts"
      ]
    },
    "SearchPart": {
      "title": "Search Part",
      "type": "object",
      "properties": {
        "isEnum": {
          "description": "Enumeration part.",
          "title": "Is Enum",
          "type": "boolean"
        },
        "isSynonyms": {
          "description": "Synonyms part.",
          "title": "Is Synonyms",
          "type": "boolean"
        },
        "pieces": {
          "type": "array",
          "description": "Pieces of the part.",
          "title": "Pieces",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "Type of the part.",
          "title": "Type",
          "type": "string"
        },
        "weight": {
          "description": "Weight of the part.",
          "title": "Weight",
          "type": "number",
          "format": "float"
        }
      },
      "required": [
        "isEnum",
        "isSynonyms",
        "pieces",
        "type",
        "weight"
      ]
    },
    "EnumInfo": {
      "title": "Enum Info",
      "type": "object",
      "properties": {
        "pieces": {
          "type": "array",
          "description": "Pieces of the enumeration.",
          "title": "Pieces",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "Type of the enumeration.",
          "title": "Type",
          "type": "string"
        },
        "values": {
          "description": "Values of the enumeration.",
          "title": "Values",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnumItem"
          }
        }
      },
      "required": [
        "pieces",
        "type",
        "values"
      ]
    },
    "EnumItem": {
      "title": "Enum Item",
      "type": "object",
      "properties": {
        "exceptions": {
          "description": "Exceptions of the enumeration item.",
          "title": "Exceptions",
          "type": "object"
        },
        "legacyValue": {
          "description": "Legacy value of the enumeration item.",
          "title": "Legacy Value",
          "type": "string"
        },
        "value": {
          "description": "Value of the enumeration item.",
          "title": "Value",
          "type": "string"
        }
      },
      "required": [
        "legacyValue",
        "value"
      ]
    },
    "Version": {
      "title": "Version",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "API version.",
          "title": "API Version",
          "type": "string"
        },
        "dataTimestamp": {
          "description": "Date and time of the data.",
          "title": "Data Timestamp",
          "type": "string"
        }
      },
      "required": [
        "apiVersion"
      ]
    },
    "PagedStudies": {
      "title": "Paged Studies",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to get next page.",
          "title": "Next Page Token",
          "type": "string"
        },
        "studies": {
          "description": "Study field values of type markup are in markdown format.",
          "title": "Studies",
          "type": "array",
          "items": {
            "title": "Study",
            "type": "object",
            "properties": {
              "protocolSection": {
                "$ref": "#/definitions/ProtocolSection"
              },
              "resultsSection": {
                "$ref": "#/definitions/ResultsSection"
              },
              "annotationSection": {
                "$ref": "#/definitions/AnnotationSection"
              },
              "DocumentSection": {
                "title": "Document Section",
                "description": "Contains document references",
                "type": "object",
                "properties": {
                  "largeDocumentModule": {
                    "title": "Large Document Module",
                    "description": "Contains large document information",
                    "type": "object"
                  }
                }
              },
              "derivedSection": {
                "$ref": "#/definitions/DerivedSection"
              },
              "hasResults": {
                "description": "Has results.",
                "title": "Has Results",
                "type": "boolean"
              }
            }
          }
        },
        "totalCount": {
          "description": "Total number of studies.",
          "title": "Total Count",
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "studies"
      ]
    },
    "ProtocolSection": {
      "title": "Protocol Section",
      "type": "object",
      "properties": {
        "identificationModule": {
          "$ref": "#/definitions/IdentificationModule"
        },
        "statusModule": {
          "$ref": "#/definitions/StatusModule"
        },
        "sponsorCollaboratorsModule": {
          "$ref": "#/definitions/SponsorCollaboratorsModule"
        },
        "oversightModule": {
          "$ref": "#/definitions/OversightModule"
        },
        "descriptionModule": {
          "$ref": "#/definitions/DescriptionModule"
        },
        "conditionsModule": {
          "$ref": "#/definitions/ConditionsModule"
        },
        "designModule": {
          "$ref": "#/definitions/DesignModule"
        },
        "armsInterventionsModule": {
          "$ref": "#/definitions/ArmsInterventionsModule"
        },
        "outcomesModule": {
          "$ref": "#/definitions/OutcomesModule"
        },
        "eligibilityModule": {
          "$ref": "#/definitions/EligibilityModule"
        },
        "contactsLocationsModule": {
          "$ref": "#/definitions/ContactsLocationsModule"
        },
        "referencesModule": {
          "$ref": "#/definitions/ReferencesModule"
        },
        "ipdSharingStatementModule": {
          "$ref": "#/definitions/IpdSharingStatementModule"
        }
      }
    },
    "ResultsSection": {
      "title": "Results Section",
      "type": "object",
      "properties": {
        "participantFlowModule": {
          "$ref": "#/definitions/ParticipantFlowModule"
        },
        "baselineCharacteristicsModule": {
          "$ref": "#/definitions/BaselineCharacteristicsModule"
        },
        "outcomeMeasuresModule": {
          "$ref": "#/definitions/OutcomeMeasuresModule"
        },
        "adverseEventsModule": {
          "$ref": "#/definitions/AdverseEventsModule"
        },
        "moreInfoModule": {
          "$ref": "#/definitions/MoreInfoModule"
        }
      }
    },
    "AnnotationSection": {
      "title": "Annotation Section",
      "type": "object",
      "properties": {
        "annotationModule": {
          "$ref": "#/definitions/AnnotationModule"
        }
      }
    },
    "DerivedSection": {
      "title": "Derived Section",
      "type": "object",
      "properties": {
        "miscInfoModule": {
          "$ref": "#/definitions/MiscInfoModule"
        },
        "conditionBrowseModule": {
          "$ref": "#/definitions/BrowseModule"
        },
        "interventionBrowseModule": {
          "$ref": "#/definitions/BrowseModule"
        }
      }
    },
    "IdentificationModule": {
      "title": "Identification Module",
      "type": "object",
      "properties": {
        "nctId": {
          "description": "NCT ID of the study.",
          "title": "NCT ID",
          "type": "string"
        },
        "nctIdAliases": {
          "type": "array",
          "description": "NCT ID aliases of the study.",
          "title": "NCT ID Aliases",
          "items": {
            "type": "string"
          }
        },
        "orgStudyIdInfo": {
          "$ref": "#/definitions/OrgStudyIdInfo"
        },
        "secondaryIdInfos": {
          "description": "Secondary ID infos of the study.",
          "title": "Secondary ID Infos",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecondaryIdInfo"
          }
        },
        "briefTitle": {
          "description": "Brief title of the study.",
          "title": "Brief Title",
          "type": "string"
        },
        "officialTitle": {
          "description": "Official title of the study.",
          "title": "Official Title",
          "type": "string"
        },
        "acronym": {
          "description": "Acronym of the study.",
          "title": "Acronym",
          "type": "string"
        },
        "organization": {
          "$ref": "#/definitions/Organization"
        }
      }
    },
    "StatusModule": {
      "title": "Status Module",
      "type": "object",
      "properties": {
        "statusVerifiedDate": {
          "description": "Date in yyyy, yyyy-MM, or yyyy-MM-dd format",
          "title": "Status Verified Date",
          "type": "string"
        },
        "overallStatus": {
          "$ref": "#/definitions/Status"
        },
        "lastKnownStatus": {
          "$ref": "#/definitions/Status"
        },
        "delayedPosting": {
          "description": "Delayed posting.",
          "title": "Delayed Posting",
          "type": "boolean"
        },
        "whyStopped": {
          "description": "Why the study was stopped.",
          "title": "Why Stopped",
          "type": "string"
        },
        "expandedAccessInfo": {
          "$ref": "#/definitions/ExpandedAccessInfo"
        },
        "startDateStruct": {
          "$ref": "#/definitions/PartialDateStruct"
        },
        "primaryCompletionDateStruct": {
          "$ref": "#/definitions/PartialDateStruct"
        },
        "completionDateStruct": {
          "$ref": "#/definitions/PartialDateStruct"
        },
        "studyFirstSubmitDate": {
          "description": "Date in yyyy, yyyy-MM, or yyyy-MM-dd format",
          "title": "Study First Submit Date",
          "type": "string"
        },
        "studyFirstSubmitQcDate": {
          "description": "Date in yyyy, yyyy-MM, or yyyy-MM-dd format",
          "title": "Study First Submit QC Date",
          "type": "string"
        },
        "studyFirstPostDateStruct": {
          "$ref": "#/definitions/DateStruct"
        },
        "resultsWaived": {
          "description": "Results waived.",
          "title": "Results Waived",
          "type": "boolean"
        },
        "resultsFirstSubmitDate": {
          "description": "Date in yyyy, yyyy-MM, or yyyy-MM-dd format",
          "title": "Results First Submit Date",
          "type": "string"
        },
        "resultsFirstSubmitQcDate": {
          "description": "Date in yyyy, yyyy-MM, or yyyy-MM-dd format",
          "title": "Results First Submit QC Date",
          "type": "string"
        },
        "resultsFirstPostDateStruct": {
          "$ref": "#/definitions/DateStruct"
        },
        "dispFirstSubmitDate": {
          "description": "Date in yyyy, yyyy-MM, or yyyy-MM-dd format",
          "title": "Disp First Submit Date",
          "type": "string"
        },
        "dispFirstSubmitQcDate": {
          "description": "Date in yyyy, yyyy-MM, or yyyy-MM-dd format",
          "title": "Disp First Submit QC Date",
          "type": "string"
        },
        "dispFirstPostDateStruct": {
          "$ref": "#/definitions/DateStruct"
        },
        "lastUpdateSubmitDate": {
          "description": "Date in yyyy, yyyy-MM, or yyyy-MM-dd format",
          "title": "Last Update Submit Date",
          "type": "string"
        },
        "lastUpdatePostDateStruct": {
          "$ref": "#/definitions/DateStruct"
        }
      }
    },
    "SponsorCollaboratorsModule": {
      "title": "Sponsor Collaborators Module",
      "type": "object",
      "properties": {
        "responsibleParty": {
          "$ref": "#/definitions/ResponsibleParty"
        },
        "leadSponsor": {
          "$ref": "#/definitions/Sponsor"
        },
        "collaborators": {
          "description": "Collaborators of the study.",
          "title": "Collaborators",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Sponsor"
          }
        }
      }
    },
    "OversightModule": {
      "title": "Oversight Module",
      "type": "object",
      "properties": {
        "oversightHasDmc": {
          "description": "Oversight has DMC.",
          "title": "Oversight Has DMC",
          "type": "boolean"
        },
        "isFdaRegulatedDrug": {
          "description": "Is FDA regulated drug.",
          "title": "Is FDA Regulated Drug",
          "type": "boolean"
        },
        "isFdaRegulatedDevice": {
          "description": "Is FDA regulated device.",
          "title": "Is FDA Regulated Device",
          "type": "boolean"
        },
        "isUnapprovedDevice": {
          "description": "Is unapproved device.",
          "title": "Is Unapproved Device",
          "type": "boolean"
        },
        "isPpsd": {
          "description": "Is PPSD.",
          "title": "Is PPSD",
          "type": "boolean"
        },
        "isUsExport": {
          "description": "Is US export.",
          "title": "Is US Export",
          "type": "boolean"
        },
        "fdaaa801Violation": {
          "description": "FDAAA 801 violation.",
          "title": "FDAAA 801 Violation",
          "type": "boolean"
        }
      }
    },
    "DescriptionModule": {
      "title": "Description Module",
      "type": "object",
      "properties": {
        "briefSummary": {
          "description": "Brief summary of the study.",
          "title": "Brief Summary",
          "type": "string"
        },
        "detailedDescription": {
          "description": "Detailed description of the study.",
          "title": "Detailed Description",
          "type": "string"
        }
      }
    },
    "ConditionsModule": {
      "title": "Conditions Module",
      "type": "object",
      "properties": {
        "conditions": {
          "type": "array",
          "description": "Conditions of the study.",
          "title": "Conditions",
          "items": {
            "type": "string"
          }
        },
        "keywords": {
          "type": "array",
          "description": "Keywords of the study.",
          "title": "Keywords",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DesignModule": {
      "title": "Design Module",
      "type": "object",
      "properties": {
        "studyType": {
          "$ref": "#/definitions/StudyType"
        },
        "nPtrsToThisExpAccNctId": {
          "description": "Number of pointers to this expanded access NCT ID.",
          "title": "N Ptrs To This Exp Acc NCT ID",
          "type": "number",
          "format": "float"
        },
        "expandedAccessTypes": {
          "$ref": "#/definitions/ExpandedAccessTypes"
        },
        "patientRegistry": {
          "description": "Patient registry.",
          "title": "Patient Registry",
          "type": "boolean"
        },
        "targetDuration": {
          "type": "string",
          "pattern": "^\\d+ (Year|Years|Month|Months|Week|Weeks|Day|Days|Hour|Hours|Minute|Minutes)$"
        },
        "phases": {
          "description": "Phases of the study.",
          "title": "Phases",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Phase"
          }
        },
        "designInfo": {
          "$ref": "#/definitions/DesignInfo"
        },
        "bioSpec": {
          "$ref": "#/definitions/BioSpec"
        },
        "enrollmentInfo": {
          "$ref": "#/definitions/EnrollmentInfo"
        }
      }
    },
    "ArmsInterventionsModule": {
      "title": "Arms Interventions Module",
      "type": "object",
      "properties": {
        "armGroups": {
          "description": "Arm groups of the study.",
          "title": "Arm Groups",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArmGroup"
          }
        },
        "interventions": {
          "description": "Interventions of the study.",
          "title": "Interventions",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Intervention"
          }
        }
      }
    },
    "OutcomesModule": {
      "title": "Outcomes Module",
      "type": "object",
      "properties": {
        "primaryOutcomes": {
          "description": "Primary outcomes of the study.",
          "title": "Primary Outcomes",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Outcome"
          }
        },
        "secondaryOutcomes": {
          "description": "Secondary outcomes of the study.",
          "title": "Secondary Outcomes",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Outcome"
          }
        },
        "otherOutcomes": {
          "description": "Other outcomes of the study.",
          "title": "Other Outcomes",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Outcome"
          }
        }
      }
    },
    "EligibilityModule": {
      "title": "Eligibility Module",
      "type": "object",
      "properties": {
        "eligibilityCriteria": {
          "description": "Eligibility criteria of the study.",
          "title": "Eligibility Criteria",
          "type": "string"
        },
        "healthyVolunteers": {
          "description": "Healthy volunteers.",
          "title": "Healthy Volunteers",
          "type": "boolean"
        },
        "sex": {
          "$ref": "#/definitions/Sex"
        },
        "genderBased": {
          "description": "Gender based.",
          "title": "Gender Based",
          "type": "boolean"
        },
        "genderDescription": {
          "description": "Gender description.",
          "title": "Gender Description",
          "type": "string"
        },
        "minimumAge": {
          "type": "string",
          "pattern": "^\\d+ (Year|Years|Month|Months|Week|Weeks|Day|Days|Hour|Hours|Minute|Minutes)$"
        },
        "maximumAge": {
          "type": "string",
          "pattern": "^\\d+ (Year|Years|Month|Months|Week|Weeks|Day|Days|Hour|Hours|Minute|Minutes)$"
        },
        "stdAges": {
          "description": "Standard ages of the study.",
          "title": "Std Ages",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StandardAge"
          }
        },
        "studyPopulation": {
          "description": "Study population.",
          "title": "Study Population",
          "type": "string"
        },
        "samplingMethod": {
          "$ref": "#/definitions/SamplingMethod"
        }
      }
    },
    "ContactsLocationsModule": {
      "title": "Contacts Locations Module",
      "type": "object",
      "properties": {
        "centralContacts": {
          "description": "Central contacts of the study.",
          "title": "Central Contacts",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Contact"
          }
        },
        "overallOfficials": {
          "description": "Overall officials of the study.",
          "title": "Overall Officials",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Official"
          }
        },
        "locations": {
          "description": "Locations of the study.",
          "title": "Locations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Location"
          }
        }
      }
    },
    "ReferencesModule": {
      "title": "References Module",
      "type": "object",
      "properties": {
        "references": {
          "description": "References of the study.",
          "title": "References",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Reference"
          }
        },
        "seeAlsoLinks": {
          "description": "See also links of the study.",
          "title": "See Also Links",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SeeAlsoLink"
          }
        },
        "availIpds": {
          "description": "Available IPDs of the study.",
          "title": "Avail IPDs",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AvailIpd"
          }
        }
      }
    },
    "OutcomeMeasuresModule": {
      "title": "Outcome Measures Module",
      "description": "Contains outcome measures information",
      "type": "object",
      "properties": {
        "outcomeMeasures": {
          "description": "Outcome measures of the study.",
          "title": "Outcome Measures",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type of outcome measure",
                "title": "Type",
                "type": "string"
              },
              "title": {
                "description": "Title of the outcome measure",
                "title": "Title",
                "type": "string"
              },
              "description": {
                "description": "Description of the outcome measure",
                "title": "Description",
                "type": "string"
              },
              "timeFrame": {
                "description": "Time frame for the outcome measure",
                "title": "Time Frame",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "MoreInfoModule": {
      "title": "More Info Module",
      "type": "object",
      "properties": {
        "limitationsAndCaveats": {
          "$ref": "#/definitions/LimitationsAndCaveats"
        },
        "certainAgreement": {
          "$ref": "#/definitions/CertainAgreement"
        },
        "pointOfContact": {
          "$ref": "#/definitions/PointOfContact"
        }
      }
    },
    "AnnotationModule": {
      "title": "Annotation Module",
      "type": "object",
      "properties": {
        "unpostedAnnotation": {
          "$ref": "#/definitions/UnpostedAnnotation"
        },
        "violationAnnotation": {
          "$ref": "#/definitions/ViolationAnnotation"
        }
      }
    },
    "MiscInfoModule": {
      "title": "Misc Info Module",
      "type": "object",
      "properties": {
        "versionHolder": {
          "description": "Version holder.",
          "title": "Version Holder",
          "type": "string"
        },
        "removedCountries": {
          "type": "array",
          "description": "Removed countries of the study.",
          "title": "Removed Countries",
          "items": {
            "type": "string"
          }
        },
        "submissionTracking": {
          "$ref": "#/definitions/SubmissionTracking"
        }
      }
    },
    "UnpostedAnnotation": {
      "title": "Unposted Annotation",
      "type": "object",
      "properties": {
        "unpostedResponsibleParty": {
          "description": "Unposted responsible party.",
          "title": "Unposted Responsible Party",
          "type": "string"
        },
        "unpostedEvents": {
          "description": "Unposted events.",
          "title": "Unposted Events",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UnpostedEvent"
          }
        }
      }
    },
    "ViolationAnnotation": {
      "title": "Violation Annotation",
      "type": "object",
      "properties": {
        "violationEvents": {
          "description": "Violation events.",
          "title": "Violation Events",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ViolationEvent"
          }
        }
      }
    },
    "SubmissionTracking": {
      "title": "Submission Tracking",
      "type": "object",
      "properties": {
        "estimatedResultsFirstSubmitDate": {
          "description": "Date in yyyy, yyyy-MM, or yyyy-MM-dd format",
          "title": "Estimated Results First Submit Date",
          "type": "string"
        },
        "firstMcpInfo": {
          "$ref": "#/definitions/FirstMcpInfo"
        },
        "submissionInfos": {
          "description": "Submission infos of the study.",
          "title": "Submission Infos",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubmissionInfo"
          }
        }
      }
    },
    "EnrollmentInfo": {
      "title": "Enrollment Info",
      "type": "object",
      "properties": {
        "count": {
          "description": "Count of the enrollment.",
          "title": "Count",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "$ref": "#/definitions/EnrollmentType"
        }
      }
    },
    "BioSpec": {
      "title": "Bio Spec",
      "type": "object",
      "properties": {
        "retention": {
          "$ref": "#/definitions/BioSpecRetention"
        },
        "description": {
          "description": "Description of the biospec.",
          "title": "Description",
          "type": "string"
        }
      }
    },
    "SeeAlsoLink": {
      "title": "See Also Link",
      "type": "object",
      "properties": {
        "label": {
          "description": "Label of the see also link.",
          "title": "Label",
          "type": "string"
        },
        "url": {
          "description": "URL of the see also link.",
          "title": "URL",
          "type": "string"
        }
      }
    },
    "FirstMcpInfo": {
      "title": "First Mcp Info",
      "type": "object",
      "properties": {
        "postDateStruct": {
          "$ref": "#/definitions/DateStruct"
        }
      }
    },
    "ExpandedAccessTypes": {
      "title": "Expanded Access Types",
      "type": "object",
      "properties": {
        "individual": {
          "description": "Individual.",
          "title": "Individual",
          "type": "boolean"
        },
        "intermediate": {
          "description": "Intermediate.",
          "title": "Intermediate",
          "type": "boolean"
        },
        "treatment": {
          "description": "Treatment.",
          "title": "Treatment",
          "type": "boolean"
        }
      }
    },
    "Intervention": {
      "title": "Intervention",
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/InterventionType"
        },
        "name": {
          "description": "Name of the intervention.",
          "title": "Name",
          "type": "string"
        },
        "description": {
          "description": "Description of the intervention.",
          "title": "Description",
          "type": "string"
        },
        "armGroupLabels": {
          "type": "array",
          "description": "Arm group labels of the intervention.",
          "title": "Arm Group Labels",
          "items": {
            "type": "string"
          }
        },
        "otherNames": {
          "type": "array",
          "description": "Other names of the intervention.",
          "title": "Other Names",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SecondaryIdInfo": {
      "title": "Secondary ID Info",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the secondary ID.",
          "title": "ID",
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/SecondaryIdType"
        },
        "domain": {
          "description": "Domain of the secondary ID.",
          "title": "Domain",
          "type": "string"
        },
        "link": {
          "description": "Link of the secondary ID.",
          "title": "Link",
          "type": "string"
        }
      }
    },
    "AvailIpd": {
      "title": "Avail IPD",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the available IPD.",
          "title": "ID",
          "type": "string"
        },
        "type": {
          "description": "Type of the available IPD.",
          "type": "string"
        },
        "url": {
          "description": "URL of the available IPD.",
          "title": "URL",
          "type": "string"
        },
        "comment": {
          "description": "Comment of the available IPD.",
          "title": "Comment",
          "type": "string"
        }
      }
    },
    "LimitationsAndCaveats": {
      "title": "Limitations And Caveats",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the limitations and caveats.",
          "title": "Description",
          "type": "string"
        }
      }
    },
    "DateStruct": {
      "title": "Date Struct",
      "type": "object",
      "properties": {
        "date": {
          "description": "Date in yyyy, yyyy-MM, or yyyy-MM-dd format",
          "title": "Date",
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/DateType"
        }
      }
    },
    "SubmissionInfo": {
      "title": "Submission Info",
      "type": "object",
      "properties": {
        "releaseDate": {
          "description": "Date in yyyy, yyyy-MM, or yyyy-MM-dd format",
          "title": "Release Date",
          "type": "string"
        },
        "unreleaseDate": {
          "description": "Date in yyyy, yyyy-MM, or yyyy-MM-dd format",
          "title": "Unrelease Date",
          "type": "string"
        },
        "unreleaseDateUnknown": {
          "description": "Unrelease date unknown.",
          "title": "Unrelease Date Unknown",
          "type": "boolean"
        },
        "resetDate": {
          "description": "Date in yyyy, yyyy-MM, or yyyy-MM-dd format",
          "title": "Reset Date",
          "type": "string"
        },
        "mcpReleaseN": {
          "description": "MCP release N.",
          "title": "MCP Release N",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ExpandedAccessInfo": {
      "title": "Expanded Access Info",
      "type": "object",
      "properties": {
        "hasExpandedAccess": {
          "description": "Has expanded access.",
          "title": "Has Expanded Access",
          "type": "boolean"
        },
        "nctId": {
          "description": "NCT ID of the expanded access.",
          "title": "NCT ID",
          "type": "string"
        },
        "statusForNctId": {
          "$ref": "#/definitions/ExpandedAccessStatus"
        }
      }
    },
    "AdverseEventsModule": {
      "title": "Adverse Events Module",
      "type": "object"
    },
    "ViolationEvent": {
      "title": "Violation Event",
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/ViolationEventType"
        },
        "description": {
          "description": "Description of the violation event.",
          "title": "Description",
          "type": "string"
        },
        "creationDate": {
          "description": "Date in yyyy, yyyy-MM, or yyyy-MM-dd format",
          "title": "Creation Date",
          "type": "string"
        },
        "issuedDate": {
          "description": "Date in yyyy, yyyy-MM, or yyyy-MM-dd format",
          "title": "Issued Date",
          "type": "string"
        },
        "releaseDate": {
          "description": "Date in yyyy, yyyy-MM, or yyyy-MM-dd format",
          "title": "Release Date",
          "type": "string"
        },
        "postedDate": {
          "description": "Date in yyyy, yyyy-MM, or yyyy-MM-dd format",
          "title": "Posted Date",
          "type": "string"
        }
      }
    },
    "ArmGroup": {
      "title": "Arm Group",
      "type": "object",
      "properties": {
        "label": {
          "description": "Label of the arm group.",
          "title": "Label",
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/ArmGroupType"
        },
        "description": {
          "description": "Description of the arm group.",
          "title": "Description",
          "type": "string"
        },
        "interventionNames": {
          "type": "array",
          "description": "Intervention names of the arm group.",
          "title": "Intervention Names",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DesignInfo": {
      "title": "Design Info",
      "type": "object",
      "properties": {
        "allocation": {
          "$ref": "#/definitions/DesignAllocation"
        },
        "interventionModel": {
          "$ref": "#/definitions/InterventionalAssignment"
        },
        "interventionModelDescription": {
          "description": "Description of the interventional model.",
          "title": "Intervention Model Description",
          "type": "string"
        },
        "primaryPurpose": {
          "$ref": "#/definitions/PrimaryPurpose"
        },
        "observationalModel": {
          "$ref": "#/definitions/ObservationalModel"
        },
        "timePerspective": {
          "$ref": "#/definitions/DesignTimePerspective"
        },
        "maskingInfo": {
          "$ref": "#/definitions/MaskingBlock"
        }
      }
    },
    "Organization": {
      "title": "Organization",
      "type": "object",
      "properties": {
        "fullName": {
          "description": "Full name of the organization.",
          "title": "Full Name",
          "type": "string"
        },
        "class": {
          "$ref": "#/definitions/AgencyClass"
        }
      }
    },
    "PointOfContact": {
      "title": "Point Of Contact",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of the point of contact.",
          "title": "Title",
          "type": "string"
        },
        "organization": {
          "description": "Organization of the point of contact.",
          "title": "Organization",
          "type": "string"
        },
        "email": {
          "description": "Email of the point of contact.",
          "title": "Email",
          "type": "string"
        },
        "phone": {
          "description": "Phone of the point of contact.",
          "title": "Phone",
          "type": "string"
        },
        "phoneExt": {
          "description": "Phone extension of the point of contact.",
          "title": "Phone Ext",
          "type": "string"
        }
      }
    },
    "IpdSharingStatementModule": {
      "title": "Ipd Sharing Statement Module",
      "type": "object",
      "properties": {
        "ipdSharing": {
          "$ref": "#/definitions/IpdSharing"
        },
        "description": {
          "description": "Description of the IPD sharing statement.",
          "title": "Description",
          "type": "string"
        },
        "infoTypes": {
          "description": "Info types of the IPD sharing statement.",
          "title": "Info Types",
          "type": "array",
          "items": {
            "$ref": "#/definitions/IpdSharingInfoType"
          }
        },
        "timeFrame": {
          "description": "Time frame of the IPD sharing statement.",
          "title": "Time Frame",
          "type": "string"
        },
        "accessCriteria": {
          "description": "Access criteria of the IPD sharing statement.",
          "title": "Access Criteria",
          "type": "string"
        },
        "url": {
          "description": "URL of the IPD sharing statement.",
          "title": "URL",
          "type": "string"
        }
      }
    },
    "OrgStudyIdInfo": {
      "title": "Org Study ID Info",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the organization study ID.",
          "title": "ID",
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/OrgStudyIdType"
        },
        "link": {
          "description": "Link of the organization study ID.",
          "title": "Link",
          "type": "string"
        }
      }
    },
    "ResponsibleParty": {
      "title": "Responsible Party",
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/ResponsiblePartyType"
        },
        "investigatorFullName": {
          "description": "Full name of the investigator.",
          "title": "Investigator Full Name",
          "type": "string"
        },
        "investigatorTitle": {
          "description": "Title of the investigator.",
          "title": "Investigator Title",
          "type": "string"
        },
        "investigatorAffiliation": {
          "description": "Affiliation of the investigator.",
          "title": "Investigator Affiliation",
          "type": "string"
        },
        "oldNameTitle": {
          "description": "Old name title.",
          "title": "Old Name Title",
          "type": "string"
        },
        "oldOrganization": {
          "description": "Old organization.",
          "title": "Old Organization",
          "type": "string"
        }
      }
    },
    "CertainAgreement": {
      "title": "Certain Agreement",
      "type": "object",
      "properties": {
        "piSponsorEmployee": {
          "description": "PI sponsor employee.",
          "title": "PI Sponsor Employee",
          "type": "boolean"
        },
        "restrictionType": {
          "$ref": "#/definitions/AgreementRestrictionType"
        },
        "restrictiveAgreement": {
          "description": "Restrictive agreement.",
          "title": "Restrictive Agreement",
          "type": "boolean"
        },
        "otherDetails": {
          "description": "Other details.",
          "title": "Other Details",
          "type": "string"
        }
      }
    },
    "UnpostedEvent": {
      "title": "Unposted Event",
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/UnpostedEventType"
        },
        "date": {
          "description": "Date in yyyy, yyyy-MM, or yyyy-MM-dd format",
          "title": "Date",
          "type": "string"
        },
        "dateUnknown": {
          "description": "Date unknown.",
          "title": "Date Unknown",
          "type": "boolean"
        }
      }
    },
    "Contact": {
      "title": "Contact",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the contact.",
          "title": "Name",
          "type": "string"
        },
        "role": {
          "$ref": "#/definitions/ContactRole"
        },
        "phone": {
          "description": "Phone of the contact.",
          "title": "Phone",
          "type": "string"
        },
        "phoneExt": {
          "description": "Phone extension of the contact.",
          "title": "Phone Ext",
          "type": "string"
        },
        "email": {
          "description": "Email of the contact.",
          "title": "Email",
          "type": "string"
        }
      }
    },
    "PartialDateStruct": {
      "title": "Partial Date Struct",
      "type": "object",
      "properties": {
        "date": {
          "description": "Date in yyyy, yyyy-MM, or yyyy-MM-dd format",
          "title": "Date",
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/DateType"
        }
      }
    },
    "Outcome": {
      "title": "Outcome",
      "type": "object",
      "properties": {
        "measure": {
          "description": "Measure of the outcome.",
          "title": "Measure",
          "type": "string"
        },
        "description": {
          "description": "Description of the outcome.",
          "title": "Description",
          "type": "string"
        },
        "timeFrame": {
          "description": "Time frame of the outcome.",
          "title": "Time Frame",
          "type": "string"
        }
      }
    },
    "BaselineCharacteristicsModule": {
      "title": "Baseline Characteristics Module",
      "type": "object"
    },
    "Reference": {
      "title": "Reference",
      "type": "object",
      "properties": {
        "pmid": {
          "description": "PMID of the reference.",
          "title": "PMID",
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/ReferenceType"
        },
        "citation": {
          "description": "Citation of the reference.",
          "title": "Citation",
          "type": "string"
        },
        "retractions": {
          "description": "Retractions of the reference.",
          "title": "Retractions",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Retraction"
          }
        }
      }
    },
    "ParticipantFlowModule": {
      "title": "Participant Flow Module",
      "type": "object"
    },
    "Location": {
      "title": "Location",
      "type": "object",
      "properties": {
        "facility": {
          "description": "Facility of the location.",
          "title": "Facility",
          "type": "string"
        },
        "status": {
          "description": "The overall status of the study",
          "title": "Status",
          "type": "string",
          "enum": [
            "ACTIVE_NOT_RECRUITING",
            "COMPLETED",
            "ENROLLING_BY_INVITATION",
            "NOT_YET_RECRUITING",
            "RECRUITING",
            "SUSPENDED",
            "TERMINATED",
            "WITHDRAWN",
            "AVAILABLE",
            "NO_LONGER_AVAILABLE",
            "TEMPORARILY_NOT_AVAILABLE",
            "APPROVED_FOR_MARKETING",
            "WITHHELD",
            "UNKNOWN"
          ]
        },
        "city": {
          "description": "City of the location.",
          "title": "City",
          "type": "string"
        },
        "state": {
          "description": "State of the location.",
          "title": "State",
          "type": "string"
        },
        "zip": {
          "description": "Zip of the location.",
          "title": "Zip",
          "type": "string"
        },
        "country": {
          "description": "Country of the location.",
          "title": "Country",
          "type": "string"
        },
        "contacts": {
          "description": "Contacts of the location.",
          "title": "Contacts",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Contact"
          }
        },
        "countryCode": {
          "description": "Country code of the location.",
          "title": "Country Code",
          "type": "string"
        },
        "geoPoint": {
          "$ref": "#/definitions/GeoPoint"
        }
      }
    },
    "Sponsor": {
      "title": "Sponsor",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the sponsor.",
          "title": "Name",
          "type": "string"
        },
        "class": {
          "$ref": "#/definitions/AgencyClass"
        }
      }
    },
    "BrowseModule": {
      "title": "Browse Module",
      "type": "object",
      "properties": {
        "meshes": {
          "description": "Meshes of the study.",
          "title": "Meshes",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Mesh"
          }
        },
        "ancestors": {
          "description": "Ancestors of the study.",
          "title": "Ancestors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Mesh"
          }
        },
        "browseLeaves": {
          "description": "Browse leaves of the study.",
          "title": "Browse Leaves",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BrowseLeaf"
          }
        },
        "browseBranches": {
          "description": "Browse branches of the study.",
          "title": "Browse Branches",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BrowseBranch"
          }
        }
      }
    },
    "Official": {
      "title": "Official",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the official.",
          "title": "Name",
          "type": "string"
        },
        "affiliation": {
          "description": "Affiliation of the official.",
          "title": "Affiliation",
          "type": "string"
        },
        "role": {
          "$ref": "#/definitions/OfficialRole"
        }
      }
    },
    "BrowseLeaf": {
      "title": "Browse Leaf",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the browse leaf.",
          "title": "ID",
          "type": "string"
        },
        "name": {
          "description": "Name of the browse leaf.",
          "title": "Name",
          "type": "string"
        },
        "asFound": {
          "description": "As found.",
          "title": "As Found",
          "type": "string"
        },
        "relevance": {
          "$ref": "#/definitions/BrowseLeafRelevance"
        }
      }
    },
    "MaskingBlock": {
      "title": "Masking Block",
      "type": "object",
      "properties": {
        "masking": {
          "$ref": "#/definitions/DesignMasking"
        },
        "maskingDescription": {
          "description": "Description of the masking.",
          "title": "Masking Description",
          "type": "string"
        },
        "whoMasked": {
          "description": "Who masked.",
          "title": "Who Masked",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WhoMasked"
          }
        }
      }
    },
    "EventGroup": {
      "title": "Event Group",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the event group.",
          "title": "ID",
          "type": "string"
        },
        "title": {
          "description": "Title of the event group.",
          "title": "Title",
          "type": "string"
        },
        "description": {
          "description": "Description of the event group.",
          "title": "Description",
          "type": "string"
        },
        "deathsNumAffected": {
          "description": "Deaths number affected.",
          "title": "Deaths Num Affected",
          "type": "integer",
          "format": "int32"
        },
        "deathsNumAtRisk": {
          "description": "Deaths number at risk.",
          "title": "Deaths Num At Risk",
          "type": "integer",
          "format": "int32"
        },
        "seriousNumAffected": {
          "description": "Serious number affected.",
          "title": "Serious Num Affected",
          "type": "integer",
          "format": "int32"
        },
        "seriousNumAtRisk": {
          "description": "Serious number at risk.",
          "title": "Serious Num At Risk",
          "type": "integer",
          "format": "int32"
        },
        "otherNumAffected": {
          "description": "Other number affected.",
          "title": "Other Num Affected",
          "type": "integer",
          "format": "int32"
        },
        "otherNumAtRisk": {
          "description": "Other number at risk.",
          "title": "Other Num At Risk",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Mesh": {
      "title": "Mesh",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the mesh.",
          "title": "ID",
          "type": "string"
        },
        "term": {
          "description": "Term of the mesh.",
          "title": "Term",
          "type": "string"
        }
      }
    },
    "FlowGroup": {
      "title": "Flow Group",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the flow group.",
          "title": "ID",
          "type": "string"
        },
        "title": {
          "description": "Title of the flow group.",
          "title": "Title",
          "type": "string"
        },
        "description": {
          "description": "Description of the flow group.",
          "title": "Description",
          "type": "string"
        }
      }
    },
    "AdverseEvent": {
      "title": "Adverse Event",
      "type": "object",
      "properties": {
        "term": {
          "description": "Term of the adverse event.",
          "title": "Term",
          "type": "string"
        },
        "organSystem": {
          "description": "Organ system of the adverse event.",
          "title": "Organ System",
          "type": "string"
        },
        "sourceVocabulary": {
          "description": "Source vocabulary of the adverse event.",
          "title": "Source Vocabulary",
          "type": "string"
        },
        "assessmentType": {
          "$ref": "#/definitions/EventAssessment"
        },
        "notes": {
          "description": "Notes of the adverse event.",
          "title": "Notes",
          "type": "string"
        },
        "stats": {
          "description": "Stats of the adverse event.",
          "title": "Stats",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventStats"
          }
        }
      }
    },
    "Retraction": {
      "title": "Retraction",
      "type": "object",
      "properties": {
        "pmid": {
          "description": "PMID of the retraction.",
          "title": "PMID",
          "type": "string"
        },
        "source": {
          "description": "Source of the retraction.",
          "title": "Source",
          "type": "string"
        }
      }
    },
    "Denom": {
      "title": "Denom",
      "type": "object",
      "properties": {
        "units": {
          "description": "Units of the denominator.",
          "title": "Units",
          "type": "string"
        },
        "counts": {
          "description": "Counts of the denominator.",
          "title": "Counts",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DenomCount"
          }
        }
      }
    },
    "FlowPeriod": {
      "title": "Flow Period",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of the flow period.",
          "title": "Title",
          "type": "string"
        },
        "milestones": {
          "description": "Milestones of the flow period.",
          "title": "Milestones",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FlowMilestone"
          }
        },
        "dropWithdraws": {
          "description": "Drop withdraws of the flow period.",
          "title": "Drop Withdraws",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DropWithdraw"
          }
        }
      }
    },
    "MeasureGroup": {
      "title": "Measure Group",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the measure group.",
          "title": "ID",
          "type": "string"
        },
        "title": {
          "description": "Title of the measure group.",
          "title": "Title",
          "type": "string"
        },
        "description": {
          "description": "Description of the measure group.",
          "title": "Description",
          "type": "string"
        }
      }
    },
    "MeasureClass": {
      "title": "Measure Class",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of the measure class.",
          "title": "Title",
          "type": "string"
        },
        "denoms": {
          "description": "Denominators of the measure class.",
          "title": "Denoms",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Denom"
          }
        },
        "categories": {
          "description": "Categories of the measure class.",
          "title": "Categories",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MeasureCategory"
          }
        }
      }
    },
    "BrowseBranch": {
      "title": "Browse Branch",
      "type": "object",
      "properties": {
        "abbrev": {
          "description": "Abbreviation of the browse branch.",
          "title": "Abbrev",
          "type": "string"
        },
        "name": {
          "description": "Name of the browse branch.",
          "title": "Name",
          "type": "string"
        }
      }
    },
    "BaselineMeasure": {
      "title": "Baseline Measure",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of the baseline measure.",
          "title": "Title",
          "type": "string"
        },
        "description": {
          "description": "Description of the baseline measure.",
          "title": "Description",
          "type": "string"
        },
        "populationDescription": {
          "description": "Population description of the baseline measure.",
          "title": "Population Description",
          "type": "string"
        },
        "paramType": {
          "$ref": "#/definitions/MeasureParam"
        },
        "dispersionType": {
          "$ref": "#/definitions/MeasureDispersionType"
        },
        "unitOfMeasure": {
          "description": "Unit of measure.",
          "title": "Unit Of Measure",
          "type": "string"
        },
        "calculatePct": {
          "description": "Calculate percentage.",
          "title": "Calculate Pct",
          "type": "boolean"
        },
        "denomUnitsSelected": {
          "description": "Denominator units selected.",
          "title": "Denom Units Selected",
          "type": "string"
        },
        "denoms": {
          "description": "Denominators of the baseline measure.",
          "title": "Denoms",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Denom"
          }
        },
        "classes": {
          "description": "Classes of the baseline measure.",
          "title": "Classes",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MeasureClass"
          }
        }
      }
    },
    "DropWithdraw": {
      "title": "Drop Withdraw",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of the drop withdraw.",
          "title": "Type",
          "type": "string"
        },
        "comment": {
          "description": "Comment of the drop withdraw.",
          "title": "Comment",
          "type": "string"
        },
        "reasons": {
          "description": "Reasons of the drop withdraw.",
          "title": "Reasons",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FlowStats"
          }
        }
      }
    },
    "DenomCount": {
      "title": "Denom Count",
      "type": "object",
      "properties": {
        "groupId": {
          "description": "Group ID of the denominator count.",
          "title": "Group ID",
          "type": "string"
        },
        "value": {
          "description": "Value of the denominator count.",
          "title": "Value",
          "type": "string"
        }
      }
    },
    "EventStats": {
      "title": "Event Stats",
      "type": "object",
      "properties": {
        "groupId": {
          "description": "Group ID of the event stats.",
          "title": "Group ID",
          "type": "string"
        },
        "numEvents": {
          "description": "Number of events.",
          "title": "Num Events",
          "type": "integer",
          "format": "int32"
        },
        "numAffected": {
          "description": "Number affected.",
          "title": "Num Affected",
          "type": "integer",
          "format": "int32"
        },
        "numAtRisk": {
          "description": "Number at risk.",
          "title": "Num At Risk",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "MeasureCategory": {
      "title": "Measure Category",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of the measure category.",
          "title": "Title",
          "type": "string"
        },
        "measurements": {
          "description": "Measurements of the measure category.",
          "title": "Measurements",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Measurement"
          }
        }
      }
    },
    "FlowMilestone": {
      "title": "Flow Milestone",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of the flow milestone.",
          "title": "Type",
          "type": "string"
        },
        "comment": {
          "description": "Comment of the flow milestone.",
          "title": "Comment",
          "type": "string"
        },
        "achievements": {
          "description": "Achievements of the flow milestone.",
          "title": "Achievements",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FlowStats"
          }
        }
      }
    },
    "FlowStats": {
      "title": "Flow Stats",
      "type": "object",
      "properties": {
        "groupId": {
          "description": "Group ID of the flow stats.",
          "title": "Group ID",
          "type": "string"
        },
        "comment": {
          "description": "Comment of the flow stats.",
          "title": "Comment",
          "type": "string"
        },
        "numSubjects": {
          "description": "Number of subjects.",
          "title": "Num Subjects",
          "type": "string"
        },
        "numUnits": {
          "description": "Number of units.",
          "title": "Num Units",
          "type": "string"
        }
      }
    },
    "Measurement": {
      "title": "Measurement",
      "type": "object",
      "properties": {
        "groupId": {
          "description": "Group ID of the measurement.",
          "title": "Group ID",
          "type": "string"
        },
        "value": {
          "description": "Value of the measurement.",
          "title": "Value",
          "type": "string"
        },
        "spread": {
          "description": "Spread of the measurement.",
          "title": "Spread",
          "type": "string"
        },
        "lowerLimit": {
          "description": "Lower limit of the measurement.",
          "title": "Lower Limit",
          "type": "string"
        },
        "upperLimit": {
          "description": "Upper limit of the measurement.",
          "title": "Upper Limit",
          "type": "string"
        },
        "comment": {
          "description": "Comment of the measurement.",
          "title": "Comment",
          "type": "string"
        }
      }
    },
    "Status": {
      "title": "Status",
      "description": "The overall status of the study.",
      "type": "string",
      "enum": [
        "ACTIVE_NOT_RECRUITING",
        "COMPLETED",
        "ENROLLING_BY_INVITATION",
        "NOT_YET_RECRUITING",
        "RECRUITING",
        "SUSPENDED",
        "TERMINATED",
        "WITHDRAWN",
        "AVAILABLE",
        "NO_LONGER_AVAILABLE",
        "TEMPORARILY_NOT_AVAILABLE",
        "APPROVED_FOR_MARKETING",
        "WITHHELD",
        "UNKNOWN"
      ]
    },
    "StudyType": {
      "title": "Study Type",
      "description": "The type of study.",
      "type": "string",
      "enum": [
        "EXPANDED_ACCESS",
        "INTERVENTIONAL",
        "OBSERVATIONAL"
      ]
    },
    "Phase": {
      "title": "Phase",
      "description": "The phase of the study.",
      "type": "string",
      "enum": [
        "NA",
        "EARLY_PHASE1",
        "PHASE1",
        "PHASE2",
        "PHASE3",
        "PHASE4"
      ]
    },
    "Sex": {
      "title": "Sex",
      "description": "The sex of the study participants.",
      "type": "string",
      "enum": [
        "FEMALE",
        "MALE",
        "ALL"
      ]
    },
    "StandardAge": {
      "title": "Standard Age",
      "description": "The age of the study participants.",
      "type": "string",
      "enum": [
        "CHILD",
        "ADULT",
        "OLDER_ADULT"
      ]
    },
    "SamplingMethod": {
      "title": "Sampling Method",
      "description": "The method used to select participants.",
      "type": "string",
      "enum": [
        "PROBABILITY_SAMPLE",
        "NON_PROBABILITY_SAMPLE"
      ]
    },
    "IpdSharing": {
      "title": "IPD Sharing",
      "description": "The availability of individual participant data.",
      "type": "string",
      "enum": [
        "YES",
        "NO",
        "UNDECIDED"
      ]
    },
    "IpdSharingInfoType": {
      "title": "Ipd Sharing Info Type",
      "description": "The type of individual participant data shared.",
      "type": "string",
      "enum": [
        "STUDY_PROTOCOL",
        "SAP",
        "ICF",
        "CSR",
        "ANALYTIC_CODE"
      ]
    },
    "OrgStudyIdType": {
      "title": "Org Study ID Type",
      "description": "The type of organization-specific identifier.",
      "type": "string",
      "enum": [
        "NIH",
        "FDA",
        "VA",
        "CDC",
        "AHRQ",
        "SAMHSA"
      ]
    },
    "SecondaryIdType": {
      "title": "Secondary ID Type",
      "description": "The type of secondary identifier.",
      "type": "string",
      "enum": [
        "NIH",
        "FDA",
        "VA",
        "CDC",
        "AHRQ",
        "SAMHSA",
        "OTHER_GRANT",
        "EUDRACT_NUMBER",
        "CTIS",
        "REGISTRY",
        "OTHER"
      ]
    },
    "AgencyClass": {
      "title": "Agency Class",
      "description": "The class of the agency.",
      "type": "string",
      "enum": [
        "NIH",
        "FED",
        "OTHER_GOV",
        "INDIV",
        "INDUSTRY",
        "NETWORK",
        "AMBIG",
        "OTHER",
        "UNKNOWN"
      ]
    },
    "ExpandedAccessStatus": {
      "title": "Expanded Access Status",
      "description": "The status of the expanded access of the study.",
      "type": "string",
      "enum": [
        "AVAILABLE",
        "NO_LONGER_AVAILABLE",
        "TEMPORARILY_NOT_AVAILABLE",
        "APPROVED_FOR_MARKETING"
      ]
    },
    "DateType": {
      "title": "Date Type",
      "description": "The type of date.",
      "type": "string",
      "enum": [
        "ACTUAL",
        "ESTIMATED"
      ]
    },
    "ResponsiblePartyType": {
      "title": "Responsible Party Type",
      "description": "The type of responsible party.",
      "type": "string",
      "enum": [
        "SPONSOR",
        "PRINCIPAL_INVESTIGATOR",
        "SPONSOR_INVESTIGATOR"
      ]
    },
    "DesignAllocation": {
      "title": "Design Allocation",
      "description": "The allocation of participants to different groups in an interventional study.",
      "type": "string",
      "enum": [
        "RANDOMIZED",
        "NON_RANDOMIZED",
        "NA"
      ]
    },
    "InterventionalAssignment": {
      "title": "Interventional Assignment",
      "description": "The assignment of participants to different groups in an interventional study.",
      "type": "string",
      "enum": [
        "SINGLE_GROUP",
        "PARALLEL",
        "CROSSOVER",
        "FACTORIAL",
        "SEQUENTIAL"
      ]
    },
    "PrimaryPurpose": {
      "title": "Primary Purpose",
      "description": "The primary purpose of the study.",
      "type": "string",
      "enum": [
        "TREATMENT",
        "PREVENTION",
        "DIAGNOSTIC",
        "ECT",
        "SUPPORTIVE_CARE",
        "SCREENING",
        "HEALTH_SERVICES_RESEARCH",
        "BASIC_SCIENCE",
        "DEVICE_FEASIBILITY",
        "OTHER"
      ]
    },
    "ObservationalModel": {
      "title": "Observational Model",
      "description": "The model of the study.",
      "type": "string",
      "enum": [
        "COHORT",
        "CASE_CONTROL",
        "CASE_ONLY",
        "CASE_CROSSOVER",
        "ECOLOGIC_OR_COMMUNITY",
        "FAMILY_BASED",
        "DEFINED_POPULATION",
        "NATURAL_HISTORY",
        "OTHER"
      ]
    },
    "DesignTimePerspective": {
      "title": "Design Time Perspective",
      "description": "The time perspective of the study.",
      "type": "string",
      "enum": [
        "RETROSPECTIVE",
        "PROSPECTIVE",
        "CROSS_SECTIONAL",
        "OTHER"
      ]
    },
    "BioSpecRetention": {
      "title": "Bio Spec Retention",
      "description": "The retention of biospecimens.",
      "type": "string",
      "enum": [
        "NONE_RETAINED",
        "SAMPLES_WITH_DNA",
        "SAMPLES_WITHOUT_DNA"
      ]
    },
    "EnrollmentType": {
      "title": "Enrollment Type",
      "description": "The type of enrollment.",
      "type": "string",
      "enum": [
        "ACTUAL",
        "ESTIMATED"
      ]
    },
    "ArmGroupType": {
      "title": "Arm Group Type",
      "description": "The type of arm group.",
      "type": "string",
      "enum": [
        "EXPERIMENTAL",
        "ACTIVE_COMPARATOR",
        "PLACEBO_COMPARATOR",
        "SHAM_COMPARATOR",
        "NO_INTERVENTION",
        "OTHER"
      ]
    },
    "InterventionType": {
      "title": "Intervention Type",
      "description": "The type of intervention.",
      "type": "string",
      "enum": [
        "BEHAVIORAL",
        "BIOLOGICAL",
        "COMBINATION_PRODUCT",
        "DEVICE",
        "DIAGNOSTIC_TEST",
        "DIETARY_SUPPLEMENT",
        "DRUG",
        "GENETIC",
        "PROCEDURE",
        "RADIATION",
        "OTHER"
      ]
    },
    "ContactRole": {
      "title": "Contact Role",
      "description": "The role of the contact.",
      "type": "string",
      "enum": [
        "STUDY_CHAIR",
        "STUDY_DIRECTOR",
        "PRINCIPAL_INVESTIGATOR",
        "SUB_INVESTIGATOR",
        "CONTACT"
      ]
    },
    "OfficialRole": {
      "title": "Official Role",
      "description": "The role of the official.",
      "type": "string",
      "enum": [
        "STUDY_CHAIR",
        "STUDY_DIRECTOR",
        "PRINCIPAL_INVESTIGATOR",
        "SUB_INVESTIGATOR"
      ]
    },
    "ReferenceType": {
      "title": "Reference Type",
      "description": "The type of reference.",
      "type": "string",
      "enum": [
        "BACKGROUND",
        "RESULT",
        "DERIVED"
      ]
    },
    "MeasureParam": {
      "title": "Measure Param",
      "description": "The type of parameter.",
      "type": "string",
      "enum": [
        "GEOMETRIC_MEAN",
        "GEOMETRIC_LEAST_SQUARES_MEAN",
        "LEAST_SQUARES_MEAN",
        "LOG_MEAN",
        "MEAN",
        "MEDIAN",
        "NUMBER",
        "COUNT_OF_PARTICIPANTS",
        "COUNT_OF_UNITS"
      ]
    },
    "MeasureDispersionType": {
      "title": "Measure Dispersion Type",
      "description": "The type of dispersion.",
      "type": "string",
      "enum": [
        "NA",
        "STANDARD_DEVIATION",
        "STANDARD_ERROR",
        "INTER_QUARTILE_RANGE",
        "FULL_RANGE",
        "CONFIDENCE_80",
        "CONFIDENCE_90",
        "CONFIDENCE_95",
        "CONFIDENCE_975",
        "CONFIDENCE_99",
        "CONFIDENCE_OTHER",
        "GEOMETRIC_COEFFICIENT"
      ]
    },
    "EventAssessment": {
      "title": "Event Assessment",
      "description": "The assessment of the event.",
      "type": "string",
      "enum": [
        "NON_SYSTEMATIC_ASSESSMENT",
        "SYSTEMATIC_ASSESSMENT"
      ]
    },
    "AgreementRestrictionType": {
      "title": "Agreement Restriction Type",
      "description": "The type of agreement restriction.",
      "type": "string",
      "enum": [
        "LTE60",
        "GT60",
        "OTHER"
      ]
    },
    "BrowseLeafRelevance": {
      "title": "Browse Leaf Relevance",
      "description": "The relevance of the browse leaf.",
      "type": "string",
      "enum": [
        "LOW",
        "HIGH"
      ]
    },
    "DesignMasking": {
      "title": "Design Masking",
      "description": "The masking of the study.",
      "type": "string",
      "enum": [
        "NONE",
        "SINGLE",
        "DOUBLE",
        "TRIPLE",
        "QUADRUPLE"
      ]
    },
    "WhoMasked": {
      "title": "Who Masked",
      "description": "The role of the masked.",
      "type": "string",
      "enum": [
        "PARTICIPANT",
        "CARE_PROVIDER",
        "INVESTIGATOR",
        "OUTCOMES_ASSESSOR"
      ]
    },
    "UnpostedEventType": {
      "title": "Unposted Event Type",
      "description": "The type of unposted event.",
      "type": "string",
      "enum": [
        "RESET",
        "RELEASE",
        "UNRELEASE"
      ]
    },
    "ViolationEventType": {
      "title": "Violation Event Type",
      "description": "The type of violation event.",
      "type": "string",
      "enum": [
        "VIOLATION_IDENTIFIED",
        "CORRECTION_CONFIRMED",
        "PENALTY_IMPOSED",
        "ISSUES_IN_LETTER_ADDRESSED_CONFIRMED"
      ]
    },
    "GeoPoint": {
      "title": "Geo Point",
      "type": "object",
      "properties": {
        "lat": {
          "description": "Latitude of the geo point.",
          "title": "Latitude",
          "type": "number",
          "format": "float"
        },
        "lon": {
          "description": "Longitude of the geo point.",
          "title": "Longitude",
          "type": "number",
          "format": "float"
        }
      },
      "required": [
        "lat",
        "lon"
      ]
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [
    {
      "name": "Studies",
      "description": "Related to clinical trial studies"
    },
    {
      "name": "Version",
      "description": "Version info"
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://clinicaltrials.gov/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.nlm.nih.gov/web_policies.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}