{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "SmartDialog",
    "description": "SmartDialog is a platform used to send and receive SMS- and WhatsApp messages. It offers a wide variety of smart messaging services.",
    "contact": {
      "name": "Arena Interactive Support",
      "email": "support@arenainteractive.fi",
      "url": "https://www.arenainteractive.fi/contact"
    }
  },
  "host": "api.arena.fi",
  "basePath": "/api-integrations/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/customers": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "customerUsers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "customerId": {
                        "type": "string",
                        "description": "customerId",
                        "title": "Customer Id"
                      },
                      "customerName": {
                        "type": "string",
                        "description": "customerName",
                        "title": "Customer Name"
                      }
                    }
                  },
                  "description": "customerUsers"
                }
              }
            }
          }
        },
        "summary": "Get User Customers",
        "description": "Get signed in User's assigned Customers.",
        "operationId": "GetUserCustomers",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    },
    "/messages": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "MessageId": {
                  "type": "string",
                  "description": "Newly created message's identifier.",
                  "title": "Message Id"
                },
                "MessagePartCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Approximated number of message parts for this message.",
                  "title": "Message Part Count"
                },
                "Recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Address": {
                        "type": "string",
                        "description": "Recipient address (phone number/email/user id etc.).",
                        "title": "Recipient Address"
                      },
                      "Id": {
                        "type": "string",
                        "description": "Recipient identifier used for receiving delivery status information.",
                        "title": "Recipient Id"
                      }
                    }
                  },
                  "description": "Recipients"
                }
              }
            }
          }
        },
        "summary": "Send Message",
        "description": "Send a Message to recipients.",
        "x-ms-visibility": "important",
        "operationId": "SendMessage",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Customer-Id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The Customer to use for sending.",
            "x-ms-summary": "Customer",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetUserCustomers",
              "value-path": "customerId",
              "value-collection": "customerUsers",
              "value-title": "customerName"
            }
          },
          {
            "name": "Service-Id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The Service to use for sending.",
            "x-ms-summary": "Service",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetCustomerServices",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "Customer-Id": {
                  "parameter": "Customer-Id"
                },
                "ServiceType": "OneWay",
                "AllowReplyMessage": false
              }
            }
          },
          {
            "name": "Request Body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Sender": {
                  "type": "string",
                  "description": "The sender of the message, can be alphanumeric, long code or short code (restrictions apply).",
                  "title": "Message Sender",
                  "x-ms-visibility": "important"
                },
                "Content": {
                  "type": "string",
                  "description": "The content of the message.",
                  "title": "Message Content",
                  "x-ms-visibility": "important"
                },
                "Protocol": {
                  "type": "string",
                  "description": "The protocol to use for sending the message.",
                  "title": "Message Protocol",
                  "default": "SMS",
                  "x-ms-visibility": "important",
                  "enum": [
                    "SMS"
                  ]
                },
                "SendDateTime": {
                  "type": "string",
                  "description": "The date and time to send the message. Leave empty to send instantly.",
                  "title": "Send Datetime",
                  "format": "date-time",
                  "x-ms-visibility": "important"
                },
                "Recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Address": {
                        "type": "string",
                        "description": "Message recipient address.",
                        "title": "Address",
                        "x-ms-visibility": "important"
                      },
                      "Personalization": {
                        "type": "object",
                        "properties": {},
                        "description": "Any placeholder values for the recipient as a simple key:value object.",
                        "title": "Personalization"
                      }
                    },
                    "required": [
                      "Address"
                    ]
                  },
                  "description": "Recipients"
                },
                "AttachmentUri": {
                  "type": "string",
                  "description": "Attachment Uri to be used when sending WhatsApp message that contains an attachment.",
                  "title": "Attachment Uri"
                },
                "CustomerData": {
                  "type": "string",
                  "maxLength": 255,
                  "description": "Billing/grouping data for this message, optional.",
                  "title": "Customer Data"
                },
                "AdMessage": {
                  "type": "boolean",
                  "description": "Optional overriding flag for marking the message as an ad message",
                  "title": "Ad Message"
                },
                "DlrUrl": {
                  "type": "string",
                  "description": "Url for Delivery status callback via http-get. You may add querystring values to url, they will be preserved.",
                  "example": "https://api.company.com/Dlr",
                  "title": "Dlr Url"
                },
                "RequestId": {
                  "type": "string",
                  "maxLength": 1000,
                  "description": "Optional unique request id that can be used to identify duplicate requests. If a duplicate request id is detected, sending is cancelled. There is no guarantee that requests with duplicate request ids will be blocked in high throughput/traffic situations. The given requestId will be \"remembered\" for 7 days.",
                  "title": "Request Id"
                }
              },
              "required": [
                "Sender",
                "Protocol",
                "Content",
                "Recipients"
              ]
            }
          }
        ]
      }
    },
    "/messages/reply/{ParentMessageId}": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "MessageId": {
                  "type": "string",
                  "description": "Newly created message's identifier.",
                  "title": "Message Id"
                },
                "MessagePartCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Approximated number of message parts for this message.",
                  "title": "Message Part Count"
                },
                "Recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Address": {
                        "type": "string",
                        "description": "Recipient address (phone number/email/user id etc.).",
                        "title": "Recipient Address"
                      },
                      "Id": {
                        "type": "string",
                        "description": "Recipient identifier used for receiving delivery status information.",
                        "title": "Recipient Id"
                      }
                    }
                  },
                  "description": "Recipients"
                }
              }
            }
          }
        },
        "summary": "Send Reply Message",
        "description": "Send a Replymessage to recipients.",
        "x-ms-visibility": "important",
        "operationId": "SendReplyMessage",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ParentMessageId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Parent message Id to reply to.",
            "x-ms-summary": "ParentMessage Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Customer-Id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The Customer to use for sending.",
            "x-ms-summary": "Customer",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetUserCustomers",
              "value-path": "customerId",
              "value-collection": "customerUsers",
              "value-title": "customerName"
            }
          },
          {
            "name": "Service-Id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The Service to use for sending.",
            "x-ms-summary": "Service",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetCustomerServices",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "Customer-Id": {
                  "parameter": "Customer-Id"
                },
                "ServiceType": "OneWay",
                "AllowReplyMessage": true
              }
            }
          },
          {
            "name": "Request Body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Sender": {
                  "type": "string",
                  "description": "The sender of the message, can be alphanumeric, long code or short code (restrictions apply).",
                  "title": "Message Sender",
                  "x-ms-visibility": "important"
                },
                "Content": {
                  "type": "string",
                  "description": "The content of the message.",
                  "title": "Message Content",
                  "x-ms-visibility": "important"
                },
                "Protocol": {
                  "type": "string",
                  "description": "The protocol to use for sending the message.",
                  "title": "Message Protocol",
                  "default": "SMS",
                  "x-ms-visibility": "important",
                  "enum": [
                    "SMS"
                  ]
                },
                "SendDateTime": {
                  "type": "string",
                  "description": "The date and time to send the message. Leave empty to send instantly.",
                  "title": "Send Datetime",
                  "format": "date-time",
                  "x-ms-visibility": "important"
                },
                "Recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Address": {
                        "type": "string",
                        "description": "Message recipient address.",
                        "title": "Address",
                        "x-ms-visibility": "important"
                      },
                      "Personalization": {
                        "type": "object",
                        "properties": {},
                        "description": "Any placeholder values for the recipient as a simple key:value object.",
                        "title": "Personalization"
                      }
                    },
                    "required": [
                      "Address"
                    ]
                  },
                  "description": "Recipients"
                },
                "AttachmentUri": {
                  "type": "string",
                  "description": "Attachment Uri to be used when sending WhatsApp message that contains an attachment.",
                  "title": "Attachment Uri"
                },
                "CustomerData": {
                  "type": "string",
                  "maxLength": 255,
                  "description": "Billing/grouping data for this message, optional.",
                  "title": "Customer Data"
                },
                "AdMessage": {
                  "type": "boolean",
                  "description": "Optional overriding flag for marking the message as an ad message",
                  "title": "Ad Message"
                },
                "DlrUrl": {
                  "type": "string",
                  "description": "Url for Delivery status callback via http-get. You may add querystring values to url, they will be preserved.",
                  "example": "https://api.company.com/Dlr",
                  "title": "Dlr Url"
                },
                "RequestId": {
                  "type": "string",
                  "maxLength": 1000,
                  "description": "Optional unique request id that can be used to identify duplicate requests. If a duplicate request id is detected, sending is cancelled. There is no guarantee that requests with duplicate request ids will be blocked in high throughput/traffic situations. The given requestId will be \"remembered\" for 7 days.",
                  "title": "Request Id"
                }
              },
              "required": [
                "Sender",
                "Protocol",
                "Content",
                "Recipients"
              ]
            }
          }
        ]
      }
    },
    "/messages/discussion/reply": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "MessageId": {
                  "type": "string",
                  "description": "Newly created message's identifier.",
                  "title": "Message Id"
                },
                "MessagePartCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Approximated number of message parts for this message.",
                  "title": "Message Part Count"
                },
                "Recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Address": {
                        "type": "string",
                        "description": "Recipient address (phone number/email/user id etc.).",
                        "title": "Recipient Address"
                      },
                      "Id": {
                        "type": "string",
                        "description": "Recipient identifier used for receiving delivery status information.",
                        "title": "Recipient Id"
                      }
                    }
                  },
                  "description": "Recipients"
                },
                "ThreadId": {
                  "type": "string",
                  "description": "Identifier of Thread that the message was sent to."
                }
              }
            }
          }
        },
        "summary": "Send Discussion Reply Message",
        "description": "Send a Discussion Reply Message to recipients.",
        "x-ms-visibility": "important",
        "operationId": "SendDiscussionReplyMessage",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "CustomerId",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The Customer to use for sending.",
            "x-ms-summary": "Customer",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetUserCustomers",
              "value-path": "customerId",
              "value-collection": "customerUsers",
              "value-title": "customerName"
            }
          },
          {
            "name": "Request Body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ThreadId": {
                  "type": "string",
                  "description": "Id of the existing Thread to reply to.",
                  "title": "Thread Id",
                  "x-ms-visibility": "important"
                },
                "Content": {
                  "type": "string",
                  "description": "The content of the message.",
                  "title": "Message Content",
                  "x-ms-visibility": "important"
                },
                "CustomerData": {
                  "type": "string",
                  "maxLength": 255,
                  "description": "Billing/grouping data for this message, optional.",
                  "title": "Customer Data"
                }
              },
              "required": [
                "ThreadId",
                "Content"
              ]
            }
          }
        ]
      }
    },
    "/service/{Service}/pipelines/actions": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "sender": {
              "type": "string",
              "description": "The message sender.",
              "title": "Message Sender",
              "x-ms-visibility": "important"
            },
            "recipient": {
              "type": "string",
              "description": "The recipient of the message.",
              "title": "Message Recipient",
              "x-ms-visibility": "important"
            },
            "content": {
              "type": "string",
              "description": "The content of the received message.",
              "title": "Message Content",
              "x-ms-visibility": "important"
            },
            "timestamp": {
              "type": "string",
              "description": "The timestamp of the message.",
              "title": "Message Timestamp",
              "x-ms-visibility": "important",
              "format": "date-time"
            },
            "protocol": {
              "type": "string",
              "description": "The protocol of the received message.",
              "title": "Message Protocol",
              "x-ms-visibility": "important"
            },
            "attachments": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The filename of the attachment.",
                    "title": "Attachment Filename",
                    "x-ms-visibility": "important"
                  },
                  "mimeType": {
                    "type": "string",
                    "description": "The mime type of the attachment.",
                    "title": "Attachment Mime Type",
                    "x-ms-visibility": "important"
                  },
                  "resourceLocation": {
                    "type": "string",
                    "description": "The attachment resource location.",
                    "title": "Attachment Resource Location",
                    "x-ms-visibility": "important"
                  }
                }
              },
              "description": "attachments"
            },
            "messageId": {
              "type": "string",
              "description": "The unique message Id of the received message.",
              "title": "Message Id",
              "x-ms-visibility": "important"
            }
          }
        },
        "description": "New message callback response"
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ActionId"
                }
              }
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "operationId": "NewMessage",
        "summary": "New Message",
        "description": "When a new message arrives to a 2-Way service.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Customer",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The Customer to use.",
            "x-ms-summary": "Customer",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetUserCustomers",
              "value-path": "customerId",
              "value-collection": "customerUsers",
              "value-title": "customerName"
            }
          },
          {
            "name": "Service",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The 2-Way service to use.",
            "x-ms-summary": "Service",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetCustomerServices",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "Customer-Id": {
                  "parameter": "Customer"
                },
                "ServiceType": "TwoWay"
              }
            }
          },
          {
            "name": "Create webhook request body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The action name.",
                  "title": "Action Name",
                  "x-ms-visibility": "internal",
                  "default": "PowerAutomate (Auto Created Webhook)"
                },
                "actionType": {
                  "type": "string",
                  "description": "The type of action to create.",
                  "title": "Action Type",
                  "x-ms-visibility": "internal",
                  "default": "HttpRequest"
                },
                "description": {
                  "type": "string",
                  "description": "The action description.",
                  "title": "Action Description",
                  "x-ms-visibility": "internal",
                  "default": "PowerAutomate auto-created webhook. Please don´t modify. Will be removed by PowerAutomate , when the Flow/Logic App is disabled or removed"
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "endpointUrl": {
                      "type": "string",
                      "description": "Webhook callback url.",
                      "title": "Endpoint Url",
                      "x-ms-visibility": "internal",
                      "x-ms-notification-url": true
                    },
                    "httpVerb": {
                      "type": "string",
                      "description": "The http method to use for creating the webhook.",
                      "title": "Http Method",
                      "x-ms-visibility": "internal",
                      "default": "POST"
                    }
                  },
                  "description": "options",
                  "required": [
                    "endpointUrl",
                    "httpVerb"
                  ]
                }
              },
              "required": [
                "actionType",
                "description",
                "name",
                "options"
              ]
            }
          }
        ]
      }
    },
    "/services/{Customer-Id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Service Identifier.",
                    "title": "Service Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "",
                    "title": "Service Name"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Customer Services",
        "description": "Get a specific Customer's services.",
        "operationId": "GetCustomerServices",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "Customer-Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Customer",
            "x-ms-url-encoding": "single",
            "description": "The Customer to use for getting services."
          },
          {
            "name": "ServiceType",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "OneWay",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Service Type",
            "description": "Type of service to fetch."
          },
          {
            "name": "AllowReplyMessage",
            "in": "header",
            "required": false,
            "type": "boolean",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Allow Reply Message",
            "description": "Filter by services that support reply messages."
          }
        ]
      }
    },
    "/pipelines/{Pipeline-Id}/actions/{Action-Id}": {
      "delete": {
        "responses": {
          "204": {
            "description": "Webhook deleted"
          }
        },
        "summary": "Delete webhook",
        "description": "Action used to delete the web hook created by the NewMessage trigger.",
        "operationId": "DeleteTrigger",
        "parameters": [
          {
            "name": "Pipeline-Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Pipeline Id",
            "x-ms-url-encoding": "single",
            "description": "Identifier of the action pipeline."
          },
          {
            "name": "Action-Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Action Id",
            "x-ms-url-encoding": "single",
            "description": "Identifier of the two-way service pipeline-action to delete."
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/whatsapp/templates/{Customer-Id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The Template name.",
                    "title": "Template Name",
                    "x-ms-visibility": "internal"
                  },
                  "displayName": {
                    "type": "string",
                    "description": "The template Displayname.",
                    "title": "Displayname"
                  },
                  "extensionParameters": {
                    "type": "object",
                    "properties": {
                      "rawContent": {
                        "type": "string",
                        "description": "The Templace content.",
                        "title": "Template Content",
                        "x-ms-visibility": "internal"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "GetCustomerWhatsAppTemplates",
        "summary": "Get Customer WhatsApp Templates",
        "description": "Get the selected Customer's WhatsApp templates.",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "Customer-Id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "TemplateId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/whatsapp/templates/{Customer-Id}/{IdentityNumber}": {
      "post": {
        "responses": {
          "204": {
            "description": "WhatsApp template created"
          }
        },
        "operationId": "CreateWhatsappTemplate",
        "summary": "Create WhatsApp template",
        "description": "Create a new WhatsApp template.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Customer-Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetUserCustomers",
              "value-path": "customerId",
              "value-collection": "customerUsers",
              "value-title": "customerName"
            },
            "x-ms-summary": "Customer",
            "description": "The Customer to create the Template for."
          },
          {
            "name": "IdentityNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetCustomerWhatsappIdentities",
              "value-path": "inputSource/address",
              "value-title": "inputSource/address",
              "parameters": {
                "Customer-Id": {
                  "parameter": "Customer-Id"
                }
              }
            },
            "description": "WhatsApp IdentityNumber used for the template.",
            "x-ms-summary": "IdentityNumber"
          },
          {
            "name": "Request Body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "DisplayName": {
                  "type": "string",
                  "description": "Template Displayname.",
                  "maxLength": 100,
                  "title": "Displayname"
                },
                "RawContent": {
                  "type": "string",
                  "description": "Template content.",
                  "title": "Content"
                },
                "Category": {
                  "type": "string",
                  "description": "Template category.",
                  "title": "Template Category",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetWhatsappTemplateCategories"
                  }
                },
                "Language": {
                  "type": "string",
                  "description": "2-character code for template language.",
                  "title": "Template Language"
                },
                "Buttons": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Type": {
                        "type": "string",
                        "description": "Type of Button.",
                        "title": "Button Type",
                        "enum": [
                          "Call",
                          "QuickReply",
                          "Url"
                        ]
                      },
                      "Label": {
                        "type": "string",
                        "description": "Button Label.",
                        "title": "Button Label"
                      },
                      "Data": {
                        "type": "string",
                        "description": "Button data. Url (Url), phone number (Call) or text (QuickReply). Max length is 2000 for Url, and 20 for phone number and text.",
                        "title": "Button Data"
                      }
                    }
                  },
                  "description": "WhatsApp template Buttons."
                },
                "AttachmentUrl": {
                  "type": "string",
                  "description": "URL to an example attachment.",
                  "title": "Attachment Url"
                }
              },
              "required": [
                "DisplayName",
                "Category",
                "Language",
                "RawContent"
              ]
            }
          }
        ]
      }
    },
    "/whatsapp/templates/categories": {
      "get": {
        "responses": {
          "200": {
            "description": "Available WhatsApp template categories.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "WhatsApp Category Name.",
                "title": "Category"
              }
            }
          }
        },
        "summary": "GetWhatsappTemplateCategories",
        "description": "GetWhatsappTemplateCategories",
        "operationId": "GetWhatsappTemplateCategories",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    },
    "/messages/templates/whatsapp": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "Newly created message's identifier.",
                  "title": "Message Id"
                },
                "messagePartCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Approximated number of message parts for this message.",
                  "title": "Message Part Count"
                },
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "type": "string",
                        "description": "Recipient address (phone number/email/user id etc.).",
                        "title": "Recipient Address"
                      },
                      "id": {
                        "type": "string",
                        "description": "Recipient identifier used for receiving delivery status information.",
                        "title": "Recipient Id"
                      }
                    }
                  },
                  "description": "recipients"
                }
              }
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "operationId": "SendWhatsappTemplateMessage",
        "x-ms-visibility": "important",
        "summary": "Send WhatsApp Message",
        "description": "Send WhatsApp template message.",
        "parameters": [
          {
            "name": "Customer-Id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The Customer to use for sending.",
            "x-ms-summary": "Customer",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetUserCustomers",
              "value-path": "customerId",
              "value-collection": "customerUsers",
              "value-title": "customerName"
            }
          },
          {
            "name": "Service-Id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The Service to use for sending.",
            "x-ms-summary": "Service",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetCustomerServices",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "Customer-Id": {
                  "parameter": "Customer-Id"
                },
                "ServiceType": "OneWay",
                "AllowReplyMessage": false
              }
            }
          },
          {
            "name": "Request Body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "TemplateName": {
                  "type": "string",
                  "description": "The Template to use for sending.",
                  "title": "WhatsApp Template",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCustomerWhatsAppTemplates",
                    "value-path": "id",
                    "value-title": "extensionParameters/rawContent",
                    "parameters": {
                      "Customer-Id": {
                        "parameter": "Customer-Id"
                      }
                    }
                  }
                },
                "Recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Address": {
                        "type": "string",
                        "description": "Message recipient address.",
                        "title": "Address"
                      }
                    },
                    "required": [
                      "Address"
                    ]
                  },
                  "description": "Recipients"
                },
                "BodyParameters": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Array of string parameters to be used in the body of the selected template.",
                    "title": "Template Body Parameters"
                  },
                  "description": "BodyParameters"
                },
                "HeaderParameters": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Array of string parameters to be used in the header of the selected template.",
                    "title": "Template Header Parameters"
                  },
                  "description": "HeaderParameters"
                },
                "Buttons": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Type": {
                        "type": "string",
                        "description": "The button type. Only one type per template, may contain multiple of the same type.",
                        "title": "Type",
                        "enum": [
                          "Call",
                          "QuickReply",
                          "Url"
                        ]
                      },
                      "Data": {
                        "type": "string",
                        "description": "The text of the button.",
                        "title": "Text"
                      }
                    }
                  },
                  "description": "Buttons"
                },
                "SendDateTime": {
                  "type": "string",
                  "description": "The date and time to send the message. Leave empty to send instantly.",
                  "title": "Send Datetime"
                },
                "AttachmentUri": {
                  "type": "string",
                  "description": "The Attachment Uri if the template contains an attachment.",
                  "title": "Attachment Uri"
                },
                "UseSmsFallback": {
                  "type": "boolean",
                  "description": "Should SMS be used as fallback.",
                  "title": "Use SMS Fallback"
                },
                "DlrUrl": {
                  "type": "string",
                  "description": "Delivery report Url that will recieve a callback when the sendprocess completes.",
                  "title": "Dlr Url"
                },
                "CustomerData": {
                  "type": "string",
                  "maxLength": 255,
                  "description": "Billing/grouping data for this message, optional.",
                  "title": "Customer Data"
                },
                "RequestId": {
                  "type": "string",
                  "maxLength": 1000,
                  "description": "Optional unique request id that can be used to identify duplicate requests. If a duplicate request id is detected, sending is cancelled. There is no guarantee that requests with duplicate request ids will be blocked in high throughput/traffic situations. The given requestId will be \"remembered\" for 7 days.",
                  "title": "Request Id"
                }
              },
              "required": [
                "TemplateName",
                "Recipients"
              ]
            }
          }
        ]
      }
    },
    "/whatsapp/identities/{Customer-Id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "inputSource": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "type": "string",
                        "description": "WhatsApp identity number.",
                        "title": "Identity Number"
                      }
                    },
                    "description": "inputSource"
                  }
                }
              }
            }
          }
        },
        "operationId": "GetCustomerWhatsappIdentities",
        "x-ms-visibility": "internal",
        "summary": "Get Customer WhatsApp Identities",
        "description": "Gets the Customers available WhatsApp identities.",
        "parameters": [
          {
            "name": "Customer-Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetUserCustomers",
              "value-path": "customerId",
              "value-collection": "customerUsers",
              "value-title": "customerName"
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/whatsapp/opt-in/sender/{Sender}/recipient/{Recipient}": {
      "delete": {
        "responses": {
          "204": {
            "description": "WhatsApp OptIn deleted"
          }
        },
        "operationId": "WhatsAppOptOut",
        "x-ms-visibility": "important",
        "deprecated": true,
        "summary": "WhatsApp Opt Out (deprecated)",
        "description": "WhatsApp Opt Out for sender and recipient. (deprecated)",
        "parameters": [
          {
            "name": "Sender",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Sender address",
            "x-ms-url-encoding": "single",
            "description": "Registered Whatsapp identity number to opt-out from."
          },
          {
            "name": "Recipient",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Recipent number to remove from opt-in.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Recipient address"
          }
        ]
      },
      "post": {
        "responses": {
          "204": {
            "description": "WhatsApp OptIn created"
          }
        },
        "operationId": "WhatsAppOptIn",
        "x-ms-visibility": "important",
        "deprecated": true,
        "summary": "WhatsApp Opt In (deprecated)",
        "description": "WhatsApp Opt In for sender and recipient. (deprecated)",
        "parameters": [
          {
            "name": "Sender",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Sender address",
            "x-ms-url-encoding": "single",
            "description": "Registered Whatsapp identity number to opt-in to."
          },
          {
            "name": "Recipient",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Recipient number to opt-in.",
            "x-ms-summary": "Recipient address"
          }
        ]
      }
    },
    "/groupcontact/{Customer}/{Group Service}/{Phone}": {
      "get": {
        "responses": {
          "200": {
            "description": "Group contact object.",
            "schema": {
              "type": "object",
              "properties": {
                "phone": {
                  "type": "string",
                  "title": "Phone",
                  "description": "Phone number of the Contact."
                },
                "email": {
                  "type": "string",
                  "title": "Email",
                  "description": "Email address of the Contact."
                },
                "firstName": {
                  "type": "string",
                  "title": "Firstname",
                  "description": "Firstname of the Contact."
                },
                "lastName": {
                  "type": "string",
                  "title": "Lastname",
                  "description": "Lastname of the Contact."
                },
                "gender": {
                  "title": "Gender",
                  "description": "Gender of the Contact.",
                  "type": "string",
                  "enum": [
                    "Male",
                    "Female",
                    "Other"
                  ]
                },
                "birthYear": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Birth Year of the Contact.",
                  "title": "Birth Year"
                },
                "streetAddress": {
                  "type": "string",
                  "title": "Street Address",
                  "description": "Street Address of the Contact."
                },
                "zipCode": {
                  "type": "string",
                  "title": "Zip Code",
                  "description": "Zip Code of the Contact."
                },
                "city": {
                  "type": "string",
                  "title": "City",
                  "description": "City of the Contact."
                },
                "countryCode": {
                  "type": "string",
                  "title": "Country Code",
                  "description": "Country Code of the Contact."
                },
                "failedMessages": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Failed Messages",
                  "description": "Number of failed messages for the Contact."
                },
                "customContactProperties": {
                  "title": "Custom Properties",
                  "description": "Custom Contact Property collection saved for the Contact.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "title": "Name",
                        "description": "Custom contact property name."
                      },
                      "value": {
                        "type": "string",
                        "title": "Value",
                        "description": "Custom contact property value."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "GetGroupContact",
        "summary": "Get Group Contact",
        "description": "Get Group Contact",
        "parameters": [
          {
            "name": "Customer",
            "in": "path",
            "description": "The Customer to fetch Group Services for.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Customer",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetUserCustomers",
              "value-path": "customerId",
              "value-collection": "customerUsers",
              "value-title": "customerName"
            }
          },
          {
            "name": "Group Service",
            "in": "path",
            "description": "The Group Service to use.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Group Service",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetCustomerServices",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "Customer-Id": {
                  "parameter": "Customer"
                },
                "ServiceType": "Group"
              }
            }
          },
          {
            "name": "Phone",
            "in": "path",
            "x-ms-summary": "Phone",
            "x-ms-url-encoding": "single",
            "description": "The Phone number of the Contact.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Region",
            "in": "query",
            "description": "Optional Phonenumber region to use for parsing the Phone number.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Region",
            "x-ms-dynamic-values": {
              "operationId": "GetPhoneNumberRegions",
              "value-path": "value",
              "value-title": "name"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Group contact deleted.",
            "schema": {
              "type": "boolean"
            }
          }
        },
        "operationId": "DeleteGroupContact",
        "summary": "Delete Group Contact",
        "description": "Delete group contact using phone number.",
        "parameters": [
          {
            "name": "Customer",
            "in": "path",
            "description": "The Customer to fetch Group Services for.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Customer",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetUserCustomers",
              "value-path": "customerId",
              "value-collection": "customerUsers",
              "value-title": "customerName"
            }
          },
          {
            "name": "Group Service",
            "in": "path",
            "description": "The Group Service to use.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Group Service",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetCustomerServices",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "Customer-Id": {
                  "parameter": "Customer"
                },
                "ServiceType": "Group"
              }
            }
          },
          {
            "name": "Phone",
            "in": "path",
            "x-ms-summary": "Phone",
            "x-ms-url-encoding": "single",
            "description": "The Phone number of the contact to Delete.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "Group contact updated successfully.",
            "schema": {
              "type": "boolean"
            }
          }
        },
        "operationId": "UpdateGroupContact",
        "summary": "Update Group Contact",
        "description": "Update Group Contact",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Customer",
            "in": "path",
            "description": "The Customer to fetch Group Services for.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Customer",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetUserCustomers",
              "value-path": "customerId",
              "value-collection": "customerUsers",
              "value-title": "customerName"
            }
          },
          {
            "name": "Group Service",
            "in": "path",
            "description": "The Group Service to use.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Group Service",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetCustomerServices",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "Customer-Id": {
                  "parameter": "Customer"
                },
                "ServiceType": "Group"
              }
            }
          },
          {
            "name": "Phone",
            "in": "path",
            "required": true,
            "description": "The Phone number of the contact to update.",
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Phone"
          },
          {
            "name": "Request Body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "active": {
                  "type": "boolean",
                  "title": "Active",
                  "description": "Flag that indicates if the Contact is Active.",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true
                },
                "email": {
                  "title": "Email",
                  "description": "Email address of the Contact.",
                  "type": "string"
                },
                "firstName": {
                  "type": "string",
                  "title": "Firstname",
                  "description": "Firstname of the Contact."
                },
                "lastName": {
                  "type": "string",
                  "title": "Lastname",
                  "description": "Lastname of the Contact."
                },
                "gender": {
                  "title": "Gender",
                  "description": "Gender of the Contact.",
                  "type": "string",
                  "enum": [
                    "Male",
                    "Female",
                    "Other"
                  ]
                },
                "birthYear": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Birth Year of the Contact.",
                  "title": "Birth Year"
                },
                "streetAddress": {
                  "type": "string",
                  "title": "Street Address",
                  "description": "Street Address of the Contact."
                },
                "zipCode": {
                  "type": "string",
                  "title": "Zip Code",
                  "description": "Zip Code of the Contact."
                },
                "city": {
                  "type": "string",
                  "title": "City",
                  "description": "City of the Contact."
                },
                "countryCode": {
                  "type": "string",
                  "title": "Country Code",
                  "description": "3-letter Country Code of the Contact."
                },
                "customContactProperties": {
                  "title": "Custom Properties",
                  "description": "Custom Contact Property collection saved for the Contact.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "title": "Name",
                        "description": "Custom contact property name."
                      },
                      "value": {
                        "type": "string",
                        "title": "Value",
                        "description": "Custom contact property value."
                      }
                    }
                  }
                },
                "phoneNumberRegions": {
                  "type": "array",
                  "title": "Phonenumber Regions",
                  "description": "Phonenumber regions to use for parsing numbers. Defaults to Finland if left empty.",
                  "items": {
                    "type": "string",
                    "x-ms-dynamic-values": {
                      "operationId": "GetPhoneNumberRegions",
                      "value-path": "value",
                      "value-title": "name"
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/groupcontact/{Customer}/{Group Service}": {
      "delete": {
        "responses": {
          "200": {
            "description": "All group contacts deleted.",
            "schema": {
              "type": "boolean"
            }
          }
        },
        "operationId": "DeleteAllGroupContacts",
        "summary": "Delete All Group Contacts",
        "description": "Delete All Group Contacts",
        "parameters": [
          {
            "name": "Customer",
            "description": "The Customer to fetch Group Services for.",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Customer",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetUserCustomers",
              "value-path": "customerId",
              "value-collection": "customerUsers",
              "value-title": "customerName"
            }
          },
          {
            "name": "Group Service",
            "in": "path",
            "description": "The Group Service to use.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Group Service",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetCustomerServices",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "Customer-Id": {
                  "parameter": "Customer"
                },
                "ServiceType": "Group"
              }
            }
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "Group contact created successfully.",
            "schema": {
              "title": "Contact Id",
              "description": "Unique Id of the created Contact.",
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "summary": "Create group contact",
        "description": "Create group contact",
        "operationId": "CreateGroupContact",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Customer",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Customer to fetch Group Services for.",
            "x-ms-summary": "Customer",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetUserCustomers",
              "value-path": "customerId",
              "value-collection": "customerUsers",
              "value-title": "customerName"
            }
          },
          {
            "name": "Group Service",
            "in": "path",
            "description": "The Group Service to use.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Group Service",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetCustomerServices",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "Customer-Id": {
                  "parameter": "Customer"
                },
                "ServiceType": "Group"
              }
            }
          },
          {
            "name": "Request Body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "active": {
                  "type": "boolean",
                  "title": "Active",
                  "description": "Flag that indicates if the Contact is Active.",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true
                },
                "phone": {
                  "type": "string",
                  "title": "Phone",
                  "description": "Phone number of the Contact."
                },
                "email": {
                  "title": "Email",
                  "description": "Email address of the Contact.",
                  "type": "string"
                },
                "firstName": {
                  "type": "string",
                  "title": "Firstname",
                  "description": "Firstname of the Contact."
                },
                "lastName": {
                  "type": "string",
                  "title": "Lastname",
                  "description": "Lastname of the Contact."
                },
                "gender": {
                  "title": "Gender",
                  "description": "Gender of the Contact.",
                  "type": "string",
                  "enum": [
                    "Male",
                    "Female",
                    "Other"
                  ]
                },
                "birthYear": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Birth Year of the Contact.",
                  "title": "Birth Year"
                },
                "streetAddress": {
                  "type": "string",
                  "title": "Street Address",
                  "description": "Street Address of the Contact."
                },
                "zipCode": {
                  "type": "string",
                  "title": "Zip Code",
                  "description": "Zip Code of the Contact."
                },
                "city": {
                  "type": "string",
                  "title": "City",
                  "description": "City of the Contact."
                },
                "countryCode": {
                  "type": "string",
                  "title": "Country Code",
                  "description": "3-letter Country Code of the Contact."
                },
                "customContactProperties": {
                  "title": "Custom Properties",
                  "description": "Custom Contact Property collection saved for the Contact.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "title": "Name",
                        "description": "Custom property name."
                      },
                      "value": {
                        "type": "string",
                        "title": "Value",
                        "description": "Custom property value."
                      }
                    }
                  }
                },
                "phoneNumberRegions": {
                  "type": "array",
                  "title": "Phonenumber Regions",
                  "description": "Phonenumber regions to use for parsing numbers. Defaults to Finland if left empty.",
                  "items": {
                    "type": "string",
                    "x-ms-dynamic-values": {
                      "operationId": "GetPhoneNumberRegions",
                      "value-path": "value",
                      "value-title": "name"
                    }
                  }
                }
              },
              "required": [
                "phone"
              ]
            }
          }
        ]
      }
    },
    "/phonenumberregions": {
      "get": {
        "responses": {
          "200": {
            "description": "Available phone number regions.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "Region Country Code",
                    "title": "Region Country Code"
                  },
                  "name": {
                    "type": "string",
                    "description": "Region Name",
                    "title": "Region Name"
                  }
                }
              }
            }
          }
        },
        "summary": "GetPhoneNumberRegions",
        "description": "GetPhoneNumberRegions",
        "operationId": "GetPhoneNumberRegions",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.arenainteractive.fi"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.arenainteractive.fi/privacypolicy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Collaboration"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://arenafi.b2clogin.com/arenafi.onmicrosoft.com/B2C_1A_SmartDialog_Integrations/oauth2/v2.0/authorize",
      "tokenUrl": "https://arenafi.b2clogin.com/arenafi.onmicrosoft.com/B2C_1A_SmartDialog_Integrations/oauth2/v2.0/token",
      "scopes": {
        "offline_access https://arenafi.onmicrosoft.com/smartdialog-integrations-api/Gateway.Send https://arenafi.onmicrosoft.com/smartdialog-integrations-api/Customer.Services https://arenafi.onmicrosoft.com/smartdialog-integrations-api/User.Customers https://arenafi.onmicrosoft.com/smartdialog-integrations-api/TwoWay.Management https://arenafi.onmicrosoft.com/smartdialog-integrations-api/WhatsApp https://arenafi.onmicrosoft.com/smartdialog-integrations-api/Discussion.Reply https://arenafi.onmicrosoft.com/smartdialog-integrations-api/Group.Management": "offline_access https://arenafi.onmicrosoft.com/smartdialog-integrations-api/Gateway.Send https://arenafi.onmicrosoft.com/smartdialog-integrations-api/Customer.Services https://arenafi.onmicrosoft.com/smartdialog-integrations-api/User.Customers https://arenafi.onmicrosoft.com/smartdialog-integrations-api/TwoWay.Management https://arenafi.onmicrosoft.com/smartdialog-integrations-api/WhatsApp https://arenafi.onmicrosoft.com/smartdialog-integrations-api/Discussion.Reply https://arenafi.onmicrosoft.com/smartdialog-integrations-api/Group.Management"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "offline_access https://arenafi.onmicrosoft.com/smartdialog-integrations-api/Gateway.Send https://arenafi.onmicrosoft.com/smartdialog-integrations-api/Customer.Services https://arenafi.onmicrosoft.com/smartdialog-integrations-api/User.Customers https://arenafi.onmicrosoft.com/smartdialog-integrations-api/TwoWay.Management https://arenafi.onmicrosoft.com/smartdialog-integrations-api/WhatsApp https://arenafi.onmicrosoft.com/smartdialog-integrations-api/Discussion.Reply https://arenafi.onmicrosoft.com/smartdialog-integrations-api/Group.Management"
      ]
    }
  ],
  "tags": []
}