{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "SOS Inventory",
    "description": "Retrieves and updates information in SOS Inventory",
    "contact": {
      "name": "Harold Anderson",
      "url": "https://github.com/Harold-Anderson",
      "email": "harold@fastmail.com"
    }
  },
  "host": "api.sosinventory.com",
  "basePath": "/api/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/x-www-form-urlencoded"
  ],
  "produces": [],
  "paths": {
    "/item": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "description": "The number of results returned in this query."
                },
                "totalCount": {
                  "type": "integer",
                  "description": "Total number of objects"
                },
                "data": {
                  "type": "array",
                  "description": "Array of items",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Item ID",
                        "type": "integer",
                        "format": "int32",
                        "example": "28"
                      },
                      "starred": {
                        "type": "integer",
                        "format": "int32",
                        "example": "0"
                      },
                      "syncToken": {
                        "type": "integer",
                        "format": "int32",
                        "example": "21"
                      },
                      "name": {
                        "type": "string",
                        "example": "10868070000415"
                      },
                      "fullname": {
                        "type": "string",
                        "example": "10868070000415"
                      },
                      "description": {
                        "type": "string",
                        "example": "Case of 6 Unsweetened Concentrate"
                      },
                      "sku": {
                        "type": "string",
                        "example": "ORIGCASE6"
                      },
                      "barcode": {
                        "type": "string",
                        "example": "868070000463"
                      },
                      "type": {
                        "type": "string",
                        "example": "Assembly"
                      },
                      "url": {
                        "type": "string",
                        "example": "Link to product webpage"
                      },
                      "tags": {
                        "type": "string",
                        "example": "track"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "purchaseDescription": {
                        "type": "string"
                      },
                      "vendorPartNumber": {
                        "type": "string"
                      },
                      "customerPartNumber": {
                        "type": "string"
                      },
                      "vendor": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Vendor ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Vendor Name"
                          }
                        }
                      },
                      "bin": {
                        "type": "string"
                      },
                      "warranty": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      },
                      "class": {
                        "type": "string"
                      },
                      "incomeAccount": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "example": "13"
                          },
                          "name": {
                            "type": "string",
                            "example": "Sales"
                          }
                        }
                      },
                      "cogsAccount": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "example": "27"
                          },
                          "name": {
                            "type": "string",
                            "example": "Cost of Goods Sold"
                          }
                        }
                      },
                      "assetAccount": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "example": "26"
                          },
                          "name": {
                            "type": "string",
                            "example": "Inventory Asset"
                          }
                        }
                      },
                      "expenseAccount": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "example": "27"
                          },
                          "name": {
                            "type": "string",
                            "example": "Cost of Goods Sold"
                          }
                        }
                      },
                      "onhand": {
                        "type": "number",
                        "example": "0"
                      },
                      "available": {
                        "type": "number",
                        "example": "0"
                      },
                      "onSO": {
                        "type": "number",
                        "example": "0"
                      },
                      "onSR": {
                        "type": "number",
                        "example": "0"
                      },
                      "rented": {
                        "type": "number",
                        "example": "0"
                      },
                      "onWO": {
                        "type": "number",
                        "example": "0"
                      },
                      "onPO": {
                        "type": "number",
                        "example": "0"
                      },
                      "onRMA": {
                        "type": "number",
                        "example": "0"
                      },
                      "reorderPoint": {
                        "type": "number"
                      },
                      "maxStock": {
                        "type": "number"
                      },
                      "leadTime": {
                        "type": "number"
                      },
                      "salesPrice": {
                        "type": "number",
                        "example": "23"
                      },
                      "baseSalesPrice": {
                        "type": "number",
                        "example": "23"
                      },
                      "markupPercent": {
                        "type": "number",
                        "example": "0"
                      },
                      "useMarkup": {
                        "type": "boolean"
                      },
                      "minimumPrice": {
                        "type": "number"
                      },
                      "basePurchaseCost": {
                        "type": "number",
                        "example": "11.66"
                      },
                      "purchaseCost": {
                        "type": "number",
                        "example": "8.0130144145"
                      },
                      "costBasis": {
                        "type": "number",
                        "example": "-92.27477"
                      },
                      "weight": {
                        "type": "number",
                        "example": "0"
                      },
                      "volume": {
                        "type": "number",
                        "example": "0"
                      },
                      "weightUnit": {
                        "type": "string",
                        "example": "lb"
                      },
                      "volumeUnit": {
                        "type": "string",
                        "example": "cbm"
                      },
                      "sublevel": {
                        "type": "integer",
                        "example": "0"
                      },
                      "taxable": {
                        "type": "boolean"
                      },
                      "salesTaxCode": {
                        "type": "string"
                      },
                      "purchaseTaxCode": {
                        "type": "string"
                      },
                      "willSync": {
                        "type": "boolean"
                      },
                      "updateShopify": {
                        "type": "boolean"
                      },
                      "updateBigCommerce": {
                        "type": "boolean"
                      },
                      "alwaysShippable": {
                        "type": "boolean"
                      },
                      "hasImage": {
                        "type": "boolean"
                      },
                      "serialTracking": {
                        "type": "boolean"
                      },
                      "lotTracking": {
                        "type": "boolean"
                      },
                      "archived": {
                        "type": "boolean"
                      },
                      "showOnSalesForms": {
                        "type": "boolean"
                      },
                      "showOnPurchasingForms": {
                        "type": "boolean"
                      },
                      "showOnManufacturingForms": {
                        "type": "boolean"
                      },
                      "customFields": {
                        "type": "string"
                      },
                      "uoms": {
                        "type": "array",
                        "items": {}
                      },
                      "priceTiers": {
                        "type": "array",
                        "items": {}
                      },
                      "summaryOnly": {
                        "type": "boolean"
                      },
                      "imageAsBase64String": {
                        "type": "string"
                      },
                      "imageChanged": {
                        "type": "boolean"
                      },
                      "commissionRate": {
                        "type": "number",
                        "example": "0"
                      },
                      "commissionAmount": {
                        "type": "number",
                        "example": "0"
                      },
                      "commissionExempt": {
                        "type": "boolean"
                      },
                      "syncMessage": {
                        "type": "string",
                        "example": "sync message"
                      },
                      "lastSync": {
                        "type": "string",
                        "example": "2021-12-31T00:06:03.000Z"
                      },
                      "keys": {
                        "type": "string"
                      },
                      "values": {
                        "type": "string"
                      },
                      "__IMTLENGTH__": {
                        "type": "integer",
                        "format": "int32",
                        "example": "21"
                      },
                      "__IMTINDEX__": {
                        "type": "integer",
                        "format": "int32",
                        "example": "1"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "List Items",
        "description": "List Items",
        "operationId": "Item",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "query",
            "name": "location",
            "type": "string",
            "x-ms-summary": "Location",
            "description": "Inventory at given location",
            "required": false
          },
          {
            "in": "query",
            "name": "tags",
            "type": "string",
            "x-ms-summary": "Tags",
            "description": "Returns records that match the provided comma separated list of tags.",
            "required": false
          },
          {
            "in": "query",
            "name": "type",
            "type": "string",
            "x-ms-summary": "Type",
            "description": "Returns records that match the provided item type.",
            "enum": [
              "Inventory Item",
              "Assembly"
            ],
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Limit number of items returned. Default 10",
            "type": "integer",
            "default": 10
          }
        ]
      }
    },
    "/lot": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "description": "The number of Lots Returned"
                },
                "totalCount": {
                  "type": "integer",
                  "description": "The number of Matching Lots"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "Lot ID"
                      },
                      "starred": {
                        "type": "integer",
                        "description": "Starred"
                      },
                      "syncToken": {
                        "description": "sync token",
                        "type": "integer"
                      },
                      "number": {
                        "type": "string",
                        "description": "Lot Number"
                      },
                      "item": {
                        "type": "object",
                        "description": "Associated Item",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Associated Item ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Associated Item Name"
                          }
                        }
                      },
                      "description": {
                        "type": "string",
                        "description": "Lot Description"
                      },
                      "expiration": {
                        "type": "string",
                        "format": "date",
                        "description": "Expiration Date"
                      },
                      "recalled": {
                        "type": "boolean",
                        "description": "recalled"
                      },
                      "expired": {
                        "type": "boolean",
                        "description": "expired"
                      },
                      "customFields": {
                        "type": "array",
                        "description": "Custom Fields",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name"
                            },
                            "value": {
                              "type": "string",
                              "description": "Value"
                            },
                            "dataType": {
                              "type": "string",
                              "description": "Data Type"
                            }
                          }
                        }
                      },
                      "onhand": {
                        "type": "number",
                        "description": "On Hand"
                      },
                      "available": {
                        "type": "number",
                        "description": "Available"
                      },
                      "summaryOnly": {
                        "type": "boolean",
                        "description": "Summary Only"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Lots",
        "description": "List Lots",
        "operationId": "Lot",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "query",
            "name": "location",
            "type": "string",
            "x-ms-summary": "Location",
            "description": "Inventory at given location",
            "required": false
          },
          {
            "in": "query",
            "name": "archived",
            "type": "string",
            "x-ms-summary": "Archived",
            "description": "Archived",
            "enum": [
              "Yes",
              "No"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "status",
            "description": "Expired, Recalled, Neither",
            "type": "string",
            "x-ms-summary": "Status",
            "enum": [
              "expired",
              "recalled",
              "notexpirednotrecalled"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "x-ms-summary": "Limit",
            "description": "Max records to return, default 10",
            "type": "integer",
            "default": 10
          }
        ]
      }
    },
    "/location": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "description": "The number of Locations Returned"
                },
                "totalCount": {
                  "type": "integer",
                  "description": "The number of Matching Locations"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Location ID",
                        "type": "integer"
                      },
                      "syncToken": {
                        "description": "sync token",
                        "type": "integer"
                      },
                      "name": {
                        "description": "Location Name",
                        "type": "string"
                      },
                      "binTracking": {
                        "description": "Bin Tracking",
                        "type": "boolean"
                      },
                      "bins": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "description": "Bins",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "ID"
                            },
                            "syncToken": {
                              "type": "integer",
                              "description": "sync token"
                            },
                            "number": {
                              "type": "string",
                              "description": "Bin Number"
                            },
                            "location": {
                              "type": "string",
                              "description": "Location"
                            },
                            "sortOrder": {
                              "type": "integer",
                              "description": "Sort order"
                            }
                          }
                        }
                      },
                      "address": {
                        "type": "object",
                        "description": "Address",
                        "properties": {
                          "line1": {
                            "type": "string",
                            "description": "First Line of Address"
                          },
                          "line2": {
                            "type": "string",
                            "description": "Second Line of Address"
                          },
                          "line3": {
                            "type": "string",
                            "description": "Third Line of Address"
                          },
                          "line4": {
                            "type": "string",
                            "description": "Fourth Line of Address"
                          },
                          "line5": {
                            "type": "string",
                            "description": "Fifth Line of Address"
                          },
                          "city": {
                            "type": "string",
                            "description": "City"
                          },
                          "stateProvince": {
                            "type": "string"
                          },
                          "postalCode": {
                            "type": "string",
                            "description": "Postal Code"
                          },
                          "country": {
                            "type": "string",
                            "description": "Country"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Phone"
                          },
                          "email": {
                            "type": "string",
                            "description": "Email"
                          },
                          "company": {
                            "type": "string",
                            "description": "Company"
                          },
                          "contact": {
                            "type": "string",
                            "description": "Contact"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Locations",
        "description": "List Locations",
        "operationId": "Location",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Limit number of locations returned. Default 10",
            "type": "integer",
            "default": 10
          }
        ]
      }
    },
    "/customer/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/customer"
            }
          }
        },
        "summary": "Get a Customer",
        "description": "Gets a Customer by ID",
        "operationId": "GetCustomer",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "x-ms-summary": "id",
            "description": "Customer ID in SOS Inventory.",
            "type": "number",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/salesorder/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/salesorder"
            }
          }
        },
        "summary": "Get a Sales Order",
        "description": "Gets a Sales Order by ID",
        "operationId": "GetSalesOrder",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "x-ms-summary": "id",
            "description": "Order ID in SOS Inventory.",
            "type": "number",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/salesorder": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "description": "The number of Sales Orders Returned"
                },
                "totalCount": {
                  "type": "integer",
                  "description": "The number of Matching Sales Orders"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/salesorder"
                  }
                }
              }
            }
          }
        },
        "summary": "List Sales Orders",
        "description": "List Sales Orders",
        "operationId": "SalesOrder",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "query",
            "name": "start",
            "type": "number",
            "x-ms-summary": "start",
            "description": "A cursor used in pagination",
            "required": false,
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "maxresults",
            "type": "number",
            "x-ms-summary": "Max Results",
            "description": "Max Results to return. Default 200.",
            "required": false,
            "x-ms-visibility": "advanced",
            "default": "200"
          },
          {
            "in": "query",
            "name": "status",
            "type": "string",
            "x-ms-summary": "Type",
            "description": "Filters by whether transaction is open or closed.",
            "enum": [
              "open",
              "closed"
            ],
            "required": false,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "query",
            "in": "query",
            "x-ms-summary": "query",
            "description": "Filter results by matching query.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "archived",
            "type": "boolean",
            "x-ms-summary": "archived",
            "description": "Filters by archived or not.",
            "required": false,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "from",
            "in": "query",
            "x-ms-summary": "From Date",
            "description": "Starting transaction date.",
            "type": "string",
            "format": "date",
            "x-ms-visibility": "important"
          },
          {
            "name": "to",
            "in": "query",
            "x-ms-summary": "To Date",
            "description": "Ending transaction date.",
            "type": "string",
            "format": "date",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "location",
            "in": "query",
            "x-ms-summary": "Location",
            "description": "Filters according to location.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "id",
            "in": "query",
            "x-ms-summary": "id",
            "description": "Returns specific order given id.",
            "type": "number",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/pickticket/{id}": {
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/pickticket"
            }
          },
          "default": {
            "description": "default response"
          }
        },
        "summary": "Update Pick ticket",
        "description": "Updates a specific pick ticket by setting the values of the parameters passed.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "operationId": "UpdatePickTicket",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "x-ms-summary": "id",
            "description": "Pick Ticket ID to update",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "pickticket",
            "description": "The pick ticket to update.",
            "schema": {
              "$ref": "#/definitions/pickticket"
            },
            "x-ms-summary": "Update Pick Ticket",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/pickticket": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "description": "The number of Pick Tickets Returned"
                },
                "totalCount": {
                  "type": "integer",
                  "description": "The number of Matching Pick Tickets"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/pickticket"
                  }
                }
              }
            }
          }
        },
        "summary": "List Pick tickets",
        "description": "List Pick Tickets",
        "operationId": "PickTicket",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "query",
            "name": "start",
            "type": "number",
            "x-ms-summary": "start",
            "description": "A cursor used in pagination",
            "required": false,
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "maxresults",
            "type": "number",
            "x-ms-summary": "Limit",
            "description": "Maximum number of results to return",
            "required": false,
            "x-ms-visibility": "advanced",
            "default": "200"
          },
          {
            "in": "query",
            "name": "summary",
            "type": "string",
            "x-ms-summary": "Summary",
            "description": "If present, returns only summary values.",
            "required": false,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "query",
            "in": "query",
            "x-ms-summary": "query",
            "description": "Filter results by matching query.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "archived",
            "type": "boolean",
            "x-ms-summary": "archived",
            "description": "Filters by archived or not.",
            "required": false,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "from",
            "in": "query",
            "x-ms-summary": "From Date",
            "description": "Starting transaction date.",
            "type": "string",
            "format": "date",
            "x-ms-visibility": "important"
          },
          {
            "name": "to",
            "in": "query",
            "x-ms-summary": "To Date",
            "description": "Ending transaction date.",
            "type": "string",
            "format": "date",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "location",
            "in": "query",
            "x-ms-summary": "Location",
            "description": "Filters according to location.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "status",
            "in": "query",
            "x-ms-summary": "Location",
            "description": "Filters according to open/closed.",
            "type": "string",
            "enum": [
              "open",
              "closed"
            ],
            "x-ms-visibility": "advanced"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://thaiwala.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://thaiwala.com"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management"
    }
  ],
  "definitions": {
    "salesorder": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number",
          "description": "Sales Order ID",
          "example": "80"
        },
        "starred": {
          "type": "number",
          "example": "0"
        },
        "syncToken": {
          "type": "number",
          "description": "Sales Order sync token",
          "example": "0"
        },
        "number": {
          "type": "string",
          "description": "Sales Order Number",
          "example": "81"
        },
        "date": {
          "type": "string",
          "format": "date-time",
          "description": "Sales Order Date",
          "example": "2022-02-11T15:37:00.000Z"
        },
        "customer": {
          "type": "object",
          "description": "Sales Order Customer",
          "properties": {
            "id": {
              "type": "number",
              "description": "Sales Order Customer ID",
              "example": "92"
            },
            "name": {
              "type": "string",
              "description": "Sales Order Customer Name",
              "example": "UNFI Rocklin"
            }
          }
        },
        "location": {
          "type": "object",
          "description": "Sales Order Location",
          "properties": {
            "id": {
              "type": "number",
              "description": "Sales Order Location ID",
              "example": "1"
            },
            "name": {
              "type": "string",
              "description": "Sales Order Location Name",
              "example": "PRISM"
            }
          }
        },
        "billing": {
          "$ref": "#/definitions/address"
        },
        "shipping": {
          "$ref": "#/definitions/address"
        },
        "terms": {
          "type": "object",
          "description": "Sales Order Terms",
          "properties": {
            "id": {
              "type": "number",
              "description": "Sales Order Terms ID",
              "example": "6"
            },
            "name": {
              "type": "string",
              "description": "Sales Order Terms Name",
              "example": "2% 10 Net 30"
            }
          }
        },
        "salesRep": {
          "type": "object",
          "properties": {
            "id": {
              "type": "number",
              "description": "Sales Order Sales Rep ID",
              "example": "8"
            },
            "name": {
              "type": "string",
              "description": "Sales Order Sales Rep Name",
              "example": "Ricky Roma"
            }
          }
        },
        "channel": {
          "type": "string",
          "description": "Sales Order Channel"
        },
        "department": {
          "type": "object",
          "description": "Sales Order Department",
          "properties": {
            "id": {
              "type": "number",
              "description": "Sales Order Department ID",
              "example": "1"
            },
            "name": {
              "type": "string",
              "description": "Sales Order Department Name",
              "example": "Retail"
            }
          }
        },
        "priority": {
          "type": "string"
        },
        "assignedToUser": {
          "type": "string"
        },
        "orderStage": {
          "type": "string"
        },
        "taxCode": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "serial": {
          "type": "string"
        },
        "linkedTransaction": {
          "type": "string"
        },
        "linkedInvoices": {
          "type": "array",
          "items": {}
        },
        "linkedShipments": {
          "type": "array",
          "items": {}
        },
        "transactionLocationQuickBooks": {
          "type": "string"
        },
        "exchangeRate": {
          "type": "number",
          "example": "1"
        },
        "customerMessage": {
          "type": "string"
        },
        "statusMessage": {
          "type": "string"
        },
        "comment": {
          "type": "string"
        },
        "customerNotes": {
          "type": "string"
        },
        "customFields": {
          "type": "string"
        },
        "customerPO": {
          "type": "string",
          "example": "416453007"
        },
        "depositPercent": {
          "type": "number",
          "example": "0"
        },
        "depositAmount": {
          "type": "number",
          "example": "0"
        },
        "subTotal": {
          "type": "number",
          "example": "1380"
        },
        "discountPercent": {
          "type": "number",
          "example": "0"
        },
        "discountAmount": {
          "type": "number",
          "example": "0"
        },
        "taxPercent": {
          "type": "number",
          "example": "0"
        },
        "taxAmount": {
          "type": "number",
          "example": "0"
        },
        "shippingAmount": {
          "type": "number",
          "example": "0"
        },
        "total": {
          "type": "number",
          "example": "1380"
        },
        "discountTaxable": {
          "type": "boolean"
        },
        "shippingTaxable": {
          "type": "boolean"
        },
        "dropShip": {
          "type": "boolean"
        },
        "closed": {
          "type": "boolean"
        },
        "archived": {
          "type": "boolean"
        },
        "summaryOnly": {
          "type": "boolean"
        },
        "hasSignature": {
          "type": "boolean"
        },
        "earliestDueDate": {
          "type": "string",
          "format": "date-time",
          "example": "2022-02-11T00:00:00"
        },
        "statusLink": {
          "type": "string",
          "example": "A link to status webpage"
        },
        "keys": {
          "type": "string"
        },
        "values": {
          "type": "string"
        },
        "lines": {
          "type": "array",
          "description": "Sales Order Lines",
          "items": {
            "type": "object",
            "description": "Sales Order Lines Items",
            "properties": {
              "id": {
                "type": "number",
                "description": "Sales Order Line ID",
                "example": "106"
              },
              "lineNumber": {
                "type": "number",
                "description": "Sales Order Line Number",
                "example": "1"
              },
              "item": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "description": "Sales Order Line Item ID",
                    "example": "28"
                  },
                  "name": {
                    "type": "string",
                    "description": "Sales Order Line Item Name",
                    "example": "10868070000415"
                  }
                }
              },
              "class": {
                "type": "string"
              },
              "job": {
                "type": "string"
              },
              "workcenter": {
                "type": "string"
              },
              "tax": {
                "type": "object",
                "properties": {
                  "taxable": {
                    "type": "boolean"
                  },
                  "taxCode": {
                    "type": "string"
                  }
                }
              },
              "linkedTransaction": {
                "type": "string"
              },
              "description": {
                "type": "string",
                "description": "Sales Order Line Item Description",
                "example": "Case of 6 Unsweetened Concentrate"
              },
              "quantity": {
                "type": "number",
                "description": "Sales Order Line Item Quantity",
                "example": "60"
              },
              "weight": {
                "type": "number",
                "description": "Sales Order Line Item Weight",
                "example": "0"
              },
              "volume": {
                "type": "number",
                "description": "Sales Order Line Item Volume",
                "example": "0"
              },
              "weightunit": {
                "type": "string",
                "description": "Sales Order Line Item Weight Unit",
                "example": "lb"
              },
              "volumeunit": {
                "type": "string",
                "description": "Sales Order Line Item Volume Unit",
                "example": "cbm"
              },
              "unitprice": {
                "type": "number",
                "description": "Sales Order Line Item Unit Price",
                "example": "23"
              },
              "amount": {
                "type": "number",
                "description": "Sales Order Line Item Amount",
                "example": "1380"
              },
              "altAmount": {
                "type": "number",
                "example": "0"
              },
              "picked": {
                "type": "number",
                "description": "Sales Order Line Item Quantity Picked",
                "example": "60"
              },
              "shipped": {
                "type": "number",
                "description": "Sales Order Line Item Quantity Shipped",
                "example": "0"
              },
              "invoiced": {
                "type": "number",
                "description": "Sales Order Line Item Quantity Invoiced",
                "example": "0"
              },
              "produced": {
                "type": "number",
                "description": "Sales Order Line Item Quantity Produced",
                "example": "0"
              },
              "returned": {
                "type": "number",
                "description": "Sales Order Line Item Quantity Returned",
                "example": "0"
              },
              "cost": {
                "type": "number",
                "description": "Sales Order Line Item Cost"
              },
              "margin": {
                "description": "Sales Order Line Item Margin",
                "type": "number"
              },
              "listPrice": {
                "description": "Sales Order Line Item List Price",
                "type": "number"
              },
              "percentdiscount": {
                "description": "Sales Order Line Item Percent Discount",
                "type": "number"
              },
              "duedate": {
                "type": "string",
                "description": "Sales Order Line Item Due Date",
                "format": "date-time",
                "example": "2022-02-11T00:00:00"
              },
              "uom": {
                "type": "number"
              },
              "bin": {
                "type": "string"
              },
              "lot": {
                "description": "Sales Order Line Item Lot",
                "type": "string"
              },
              "serials": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "pickticket": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "Pick Ticket ID",
          "example": "123"
        },
        "starred": {
          "type": "integer",
          "example": "0"
        },
        "closed": {
          "type": "boolean",
          "example": "false"
        },
        "syncToken": {
          "type": "integer",
          "example": "0"
        },
        "number": {
          "type": "string",
          "description": "Pick Ticket Number",
          "example": "EST-12345"
        },
        "date": {
          "type": "string",
          "description": "Date Pick Ticket Created/Edited",
          "example": "2019-05-08T09:13:00"
        },
        "customer": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Customer ID",
              "example": "23"
            },
            "name": {
              "type": "string",
              "description": "Customer Name",
              "example": "Test Customer"
            }
          }
        },
        "location": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Location ID",
              "example": "10"
            },
            "name": {
              "type": "string",
              "description": "Location Name",
              "example": "Warehouse West"
            }
          }
        },
        "channel": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Channel ID",
              "example": "3"
            },
            "name": {
              "type": "string",
              "description": "Channel Name",
              "example": "Catalog"
            }
          }
        },
        "priority": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Priority ID",
              "example": "4"
            },
            "name": {
              "type": "string",
              "description": "Priority Name",
              "example": "A"
            }
          }
        },
        "assignedToUser": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Assigned to User ID",
              "example": "38"
            },
            "name": {
              "type": "string",
              "description": "Assigned to User Name",
              "example": "Jeri Sheff"
            }
          }
        },
        "shippingMethod": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Shipping Method ID",
              "example": "7"
            },
            "name": {
              "type": "string",
              "description": "Shipping Method Name",
              "example": "UPS Ground"
            }
          }
        },
        "trackingNumber": {
          "type": "string",
          "example": "F84FSOI2O3FJV90012S"
        },
        "linkedTransaction": {
          "$ref": "#/definitions/linkedtransaction"
        },
        "comment": {
          "type": "string",
          "description": "Pick Ticket Comment",
          "example": "Pricing per unit"
        },
        "customerNotes": {
          "type": "string",
          "example": "lead time test"
        },
        "customFields": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "Custom Field ID",
                "example": "5"
              },
              "name": {
                "type": "string",
                "description": "Custom Field Name",
                "example": "Checkbox"
              },
              "value": {
                "type": "string",
                "description": "Custom Field Value",
                "example": "false"
              },
              "dataType": {
                "type": "string",
                "description": "Custom Field Data Type",
                "example": "Boolean"
              }
            }
          }
        },
        "pickBy": {
          "type": "string",
          "format": "date",
          "description": "Pick-by Date",
          "example": "2019-06-17"
        },
        "total": {
          "type": "integer",
          "example": "12"
        },
        "archived": {
          "type": "boolean"
        },
        "summaryOnly": {
          "type": "boolean"
        },
        "hasSignature": {
          "type": "boolean"
        },
        "lines": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "Pick Ticket Line ID",
                "example": "123345"
              },
              "lineNumber": {
                "type": "integer",
                "description": "Pick Ticket Line Number",
                "example": "1"
              },
              "item": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "description": "Line Item ID",
                    "example": "851"
                  },
                  "name": {
                    "type": "string",
                    "description": "Pick Ticket Line Item Name",
                    "example": "Widget"
                  }
                }
              },
              "class": {
                "type": "string"
              },
              "job": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "description": "Pick Ticket Job ID",
                    "example": "51"
                  },
                  "name": {
                    "type": "string",
                    "description": "Pick ticket Job Name",
                    "example": "A62"
                  }
                }
              },
              "workcenter": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Pick Ticket workcenter ID",
                    "example": "10"
                  },
                  "name": {
                    "type": "string",
                    "description": "Pick ticket Workcenter Name",
                    "example": "Punch"
                  }
                }
              },
              "tax": {
                "type": "object",
                "properties": {
                  "taxable": {
                    "type": "boolean"
                  },
                  "taxCode": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "Pick Ticket TaxCode ID",
                        "example": "1"
                      },
                      "name": {
                        "type": "string",
                        "description": "Pick ticket Taxcode Name",
                        "example": "TAX"
                      }
                    }
                  }
                }
              },
              "description": {
                "type": "string",
                "description": "Line Item Description"
              },
              "quantity": {
                "type": "number",
                "description": "Line Item Quantity",
                "example": "1"
              },
              "weight": {
                "type": "number",
                "description": "Line Item weight",
                "example": "12"
              },
              "volume": {
                "type": "number",
                "description": "Line Item Volume",
                "example": "12"
              },
              "weightunit": {
                "type": "string",
                "example": "lb"
              },
              "volumeunit": {
                "type": "string",
                "example": "cbm"
              },
              "uom": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "UOM ID",
                    "example": "10"
                  },
                  "name": {
                    "type": "string",
                    "description": "UOM Name",
                    "example": "case"
                  }
                }
              },
              "lot": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Lot ID",
                    "example": "10"
                  },
                  "name": {
                    "type": "string",
                    "description": "Lot Name",
                    "example": "2023-03-15"
                  }
                }
              }
            }
          }
        }
      }
    },
    "customer": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number",
          "description": "customer ID",
          "example": "123"
        },
        "starred": {
          "type": "integer",
          "example": "0"
        },
        "syncToken": {
          "type": "integer",
          "description": "Customer sync token",
          "example": "0"
        },
        "name": {
          "type": "string",
          "description": "Customer Name",
          "example": "ABC Plastics"
        },
        "fullname": {
          "type": "string",
          "description": "Customer's full name",
          "example": "Joseph R. Biden"
        },
        "parent": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Customer Parent ID",
              "example": "311"
            },
            "name": {
              "type": "string",
              "description": "Customer Parent Name",
              "example": "ABC Products/ABC Plastics"
            }
          }
        },
        "sublevel": {
          "type": "integer",
          "example": "1"
        },
        "email": {
          "type": "string",
          "description": "Customer email",
          "example": "mike@abcplastics.com"
        },
        "website": {
          "type": "string",
          "description": "Customer website",
          "example": "https://abc.com"
        },
        "phone": {
          "type": "string",
          "description": "Customer Company Phone",
          "example": "817-555-1212"
        },
        "mobile": {
          "type": "string",
          "description": "Customer Mobile Phone",
          "example": "817-555-2121"
        },
        "altPhone": {
          "type": "string"
        },
        "fax": {
          "type": "string"
        },
        "companyName": {
          "type": "string",
          "description": "Customer Company Name",
          "example": "ABC Plastic Products, Inc."
        },
        "contact": {
          "type": "object",
          "properties": {
            "title": {
              "type": "string",
              "description": "Customer Contact title",
              "example": "Mr"
            },
            "firstName": {
              "type": "string",
              "description": "Customer Contact First Name",
              "example": "Mike"
            },
            "lastName": {
              "type": "string",
              "description": "Customer Contact First Name",
              "example": "Mills"
            },
            "suffix": {
              "type": "string",
              "description": "Customer Contact Suffix"
            }
          }
        },
        "billing": {
          "$ref": "#/definitions/address"
        },
        "shipping": {
          "$ref": "#/definitions/address"
        },
        "terms": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Customer terms id",
              "example": "11"
            },
            "name": {
              "type": "string",
              "description": "Customer terms name",
              "example": "NET 30"
            }
          }
        },
        "priceTier": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": "21"
            },
            "name": {
              "type": "string",
              "example": "A2"
            }
          }
        },
        "paymentMethod": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Payment Method ID",
              "example": "7"
            },
            "name": {
              "type": "string",
              "description": "Payment Method Name",
              "example": "Check"
            }
          }
        },
        "salesRep": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Sales Rep ID",
              "example": "19"
            },
            "name": {
              "type": "string",
              "description": "Sales Rep Name",
              "example": "Sally Sails"
            }
          }
        },
        "customerType": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Customer Type ID",
              "example": "3"
            },
            "name": {
              "type": "string",
              "description": "Customer type name",
              "example": "Wholesale"
            }
          }
        },
        "resaleNumber": {
          "type": "string",
          "description": "Resale Number",
          "example": "B4829-91941"
        },
        "contractorNumber": {
          "type": "string",
          "description": "Contractor Number"
        },
        "businessLicense": {
          "type": "string",
          "description": "Business License"
        },
        "foundUsVia": {
          "type": "string",
          "example": "I-70 billboard"
        },
        "currency": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Currency ID",
              "example": "42"
            },
            "name": {
              "type": "string",
              "description": "Currency Name",
              "example": "USD"
            }
          }
        },
        "tax": {
          "type": "object",
          "properties": {
            "taxable": {
              "type": "boolean"
            },
            "taxCode": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Tax Code ID",
                  "example": "5"
                },
                "name": {
                  "type": "string",
                  "description": "Tax Code Name",
                  "example": "Sales Tax"
                }
              }
            }
          }
        },
        "creditHold": {
          "type": "boolean"
        },
        "billWithParent": {
          "type": "boolean"
        },
        "lastSync": {
          "type": "string",
          "example": "2019-10-22T00:00:00"
        },
        "syncMessage": {
          "type": "string",
          "example": "not valid sync"
        },
        "notes": {
          "type": "string",
          "description": "Customer notes"
        },
        "customFields": {
          "type": "array",
          "items": {
            "type": "object",
            "description": "Customer Custom Fields Items",
            "properties": {
              "id": {
                "type": "integer",
                "description": "Customer Custom Field ID",
                "example": "5"
              },
              "name": {
                "type": "string",
                "description": "Customer Custom Field Name",
                "example": "Checkbox"
              },
              "value": {
                "type": "string",
                "description": "Customer Custom Field Value",
                "example": "false"
              },
              "dataType": {
                "type": "string",
                "description": "Customer Custom Field Data Type",
                "example": "Boolean"
              }
            }
          }
        },
        "altAddresses": {
          "type": "array",
          "items": {}
        },
        "archived": {
          "type": "boolean",
          "description": "Customer Archived"
        },
        "hasChildren": {
          "type": "boolean",
          "description": "Customer Has Children"
        },
        "summaryOnly": {
          "type": "boolean",
          "description": "Customer summary only "
        }
      }
    },
    "linkedtransaction": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Linked Transaction id",
          "type": "integer"
        },
        "transactionType": {
          "description": "Linked Transaction type",
          "type": "string"
        },
        "refNumber": {
          "description": "Linked Transaction Ref Number",
          "type": "string"
        },
        "linenumber": {
          "description": "Linked Transaction Line Number",
          "type": "integer"
        }
      }
    },
    "address": {
      "type": "object",
      "properties": {
        "company": {
          "type": "string",
          "example": "UNFI United Natural Foods"
        },
        "contact": {
          "type": "string",
          "example": "UNFI Rocklin"
        },
        "phone": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "addressName": {
          "type": "string",
          "example": "Headquarters"
        },
        "addressType": {
          "type": "string",
          "example": "Office"
        },
        "address": {
          "type": "object",
          "properties": {
            "line1": {
              "type": "string",
              "example": "1 Albion Road, Suite 101"
            },
            "line2": {
              "type": "string"
            },
            "line3": {
              "type": "string"
            },
            "line4": {
              "type": "string"
            },
            "line5": {
              "type": "string"
            },
            "city": {
              "type": "string",
              "example": "Lincoln"
            },
            "stateProvince": {
              "type": "string",
              "example": "RI"
            },
            "postalCode": {
              "type": "string",
              "example": "02865-3749"
            },
            "country": {
              "type": "string",
              "example": "USA"
            }
          }
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://api.sosinventory.com/oauth2/authorize",
      "tokenUrl": "https://api.sosinventory.com/oauth2/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": []
}