{

  "swagger": "2.0",

  "info": {

    "title": "Asana",

    "description": "Manage Asana tasks, projects, sections, subtasks, tags, and status updates. Extends the certified connector with task updates, search, kanban automation, and project health reporting.",

    "version": "1.0",

    "contact": {

      "name": "Aaron Mah",

      "url": "https://github.com/aaronmah",

      "email": "aaronmah@microsoft.com"

    }

  },

  "host": "app.asana.com",

  "basePath": "/api/1.0",

  "schemes": [

    "https"

  ],

  "consumes": [

    "application/json"

  ],

  "produces": [

    "application/json"

  ],

  "paths": {

    "/tasks/{task_gid}": {

      "put": {

        "operationId": "updateTask",

        "summary": "Update Task",

        "description": "Updates an existing Asana task. Can change the name, assignee, due date, notes, completion status, and other fields.",

        "x-ms-summary": "Update Task",

        "parameters": [

          {

            "name": "task_gid",

            "in": "path",

            "required": true,

            "type": "string",

            "x-ms-summary": "Task GID",

            "x-ms-url-encoding": "single",

            "description": "The globally unique identifier of the task to update."

          },

          {

            "name": "body",

            "in": "body",

            "required": true,

            "schema": {

              "type": "object",

              "properties": {

                "data": {

                  "type": "object",

                  "description": "Task fields to update.",

                  "properties": {

                    "name": {

                      "type": "string",

                      "x-ms-summary": "Task Name",

                      "description": "New name for the task.",

                      "x-ms-visibility": "important"

                    },

                    "assignee": {

                      "type": "string",

                      "x-ms-summary": "Assignee",

                      "description": "GID of the user to assign, or null to unassign.",

                      "x-ms-visibility": "important"

                    },

                    "due_on": {

                      "type": "string",

                      "x-ms-summary": "Due Date",

                      "description": "Due date in YYYY-MM-DD format, or null to clear.",

                      "x-ms-visibility": "important"

                    },

                    "due_at": {

                      "type": "string",

                      "x-ms-summary": "Due At",

                      "description": "Due date and time in ISO 8601 format. Setting this also sets due_on."

                    },

                    "completed": {

                      "type": "boolean",

                      "x-ms-summary": "Completed",

                      "description": "Set to true to mark complete, false to reopen.",

                      "x-ms-visibility": "important"

                    },

                    "notes": {

                      "type": "string",

                      "x-ms-summary": "Notes",

                      "description": "Free-form plain-text description of the task."

                    },

                    "html_notes": {

                      "type": "string",

                      "x-ms-summary": "HTML Notes",

                      "description": "Rich text description in HTML format.",

                      "x-ms-visibility": "advanced"

                    },

                    "start_on": {

                      "type": "string",

                      "x-ms-summary": "Start Date",

                      "description": "Start date in YYYY-MM-DD format."

                    },

                    "liked": {

                      "type": "boolean",

                      "x-ms-summary": "Liked",

                      "description": "Whether the authenticated user likes this task.",

                      "x-ms-visibility": "advanced"

                    }

                  }

                }

              }

            }

          }

        ],

        "responses": {

          "200": {

            "description": "Successfully updated the task.",

            "schema": {

              "type": "object",

              "properties": {

                "data": {

                  "type": "object",

                  "description": "The updated task object.",

                  "properties": {

                    "gid": {

                      "type": "string",

                      "description": "Globally unique identifier of the task.",

                      "x-ms-summary": "Task GID"

                    },

                    "name": {

                      "type": "string",

                      "description": "Name of the task.",

                      "x-ms-summary": "Task Name"

                    },

                    "assignee": {

                      "$ref": "#/definitions/PersonCompact"

                    },

                    "due_on": {

                      "type": "string",

                      "description": "Due date in YYYY-MM-DD format.",

                      "x-ms-summary": "Due Date"

                    },

                    "due_at": {

                      "type": "string",

                      "description": "Due date and time in ISO 8601 format.",

                      "x-ms-summary": "Due At"

                    },

                    "completed": {

                      "type": "boolean",

                      "description": "Whether the task is completed.",

                      "x-ms-summary": "Completed"

                    },

                    "completed_at": {

                      "type": "string",

                      "description": "Datetime the task was completed.",

                      "x-ms-summary": "Completed At"

                    },

                    "notes": {

                      "type": "string",

                      "description": "Plain-text description of the task.",

                      "x-ms-summary": "Notes"

                    },

                    "modified_at": {

                      "type": "string",

                      "description": "Last modified datetime.",

                      "x-ms-summary": "Modified At"

                    },

                    "permalink_url": {

                      "type": "string",

                      "description": "URL to the task in the Asana web app.",

                      "x-ms-summary": "Permalink URL"

                    }

                  }

                }

              }

            }

          }

        }

      },

      "delete": {

        "operationId": "deleteTask",

        "summary": "Delete Task",

        "description": "Permanently deletes a task. This action cannot be undone.",

        "x-ms-summary": "Delete Task",

        "parameters": [

          {

            "name": "task_gid",

            "in": "path",

            "required": true,

            "type": "string",

            "x-ms-summary": "Task GID",

            "x-ms-url-encoding": "single",

            "description": "The globally unique identifier of the task to delete."

          }

        ],

        "responses": {

          "200": {

            "description": "Successfully deleted the task.",

            "schema": {

              "$ref": "#/definitions/EmptyDataResponse"

            }

          }

        }

      }

    },

    "/projects/{project_gid}/tasks": {

      "get": {

        "operationId": "listTasksInProject",

        "summary": "List Tasks in Project",

        "description": "Returns a list of tasks in a specific Asana project. Use opt_fields to control which task fields are returned.",

        "x-ms-summary": "List Tasks in Project",

        "parameters": [

          {

            "name": "project_gid",

            "in": "path",

            "required": true,

            "type": "string",

            "x-ms-summary": "Project GID",

            "x-ms-url-encoding": "single",

            "description": "The globally unique identifier of the project."

          },

          {

            "name": "limit",

            "in": "query",

            "required": false,

            "type": "integer",

            "format": "int32",

            "default": 20,

            "x-ms-summary": "Limit",

            "description": "Number of results per page (1-100). Default is 20."

          },

          {

            "name": "offset",

            "in": "query",

            "required": false,

            "type": "string",

            "x-ms-summary": "Offset",

            "x-ms-visibility": "advanced",

            "description": "Pagination cursor from a previous response next_page.offset value."

          },

          {

            "name": "completed_since",

            "in": "query",

            "required": false,

            "type": "string",

            "x-ms-summary": "Completed Since",

            "description": "ISO 8601 datetime. Only returns tasks completed after this time or incomplete tasks. Use now for only incomplete tasks."

          },

          {

            "name": "opt_fields",

            "in": "query",

            "required": false,

            "type": "string",

            "default": "name,assignee,assignee.name,due_on,completed,completed_at,modified_at,notes,tags.name,custom_fields.name,custom_fields.display_value,permalink_url,num_subtasks,memberships.section.name",

            "x-ms-summary": "Fields",

            "x-ms-visibility": "advanced",

            "description": "Comma-separated list of fields to include in the response. Override to customize returned data."

          }

        ],

        "responses": {

          "200": {

            "description": "Successfully retrieved the list of tasks.",

            "schema": {

              "type": "object",

              "properties": {

                "data": {

                  "type": "array",

                  "description": "Array of task objects.",

                  "items": {

                    "type": "object",

                    "properties": {

                      "gid": {

                        "type": "string",

                        "description": "Globally unique identifier of the task.",

                        "x-ms-summary": "Task GID"

                      },

                      "name": {

                        "type": "string",

                        "description": "Name of the task.",

                        "x-ms-summary": "Task Name"

                      },

                      "assignee": {

                        "$ref": "#/definitions/PersonCompact"

                      },

                      "due_on": {

                        "type": "string",

                        "description": "Due date of the task in YYYY-MM-DD format.",

                        "x-ms-summary": "Due Date"

                      },

                      "completed": {

                        "type": "boolean",

                        "description": "Whether the task is completed.",

                        "x-ms-summary": "Completed"

                      },

                      "modified_at": {

                        "type": "string",

                        "description": "Last modified datetime in ISO 8601 format.",

                        "x-ms-summary": "Modified At"

                      },

                      "permalink_url": {

                        "type": "string",

                        "description": "URL to the task in the Asana web app.",

                        "x-ms-summary": "Permalink URL"

                      },

                      "completed_at": {

                        "type": "string",

                        "description": "Datetime the task was completed in ISO 8601 format.",

                        "x-ms-summary": "Completed At"

                      },

                      "notes": {

                        "type": "string",

                        "description": "Plain-text description of the task.",

                        "x-ms-summary": "Notes"

                      },

                      "tags": {

                        "type": "array",

                        "items": {

                          "$ref": "#/definitions/TagCompact"

                        },

                        "description": "Tags applied to the task.",

                        "x-ms-summary": "Tags"

                      },

                      "custom_fields": {

                        "type": "array",

                        "items": {

                          "$ref": "#/definitions/CustomFieldCompact"

                        },

                        "description": "Custom fields on the task.",

                        "x-ms-summary": "Custom Fields"

                      },

                      "num_subtasks": {

                        "type": "integer",

                        "format": "int32",

                        "description": "Number of subtasks on the task.",

                        "x-ms-summary": "Subtask Count"

                      },

                      "memberships": {

                        "type": "array",

                        "items": {

                          "$ref": "#/definitions/SectionMembership"

                        },

                        "description": "Section memberships for the task.",

                        "x-ms-summary": "Memberships"

                      }

                    }

                  }

                },

                "next_page": {

                  "$ref": "#/definitions/NextPage"

                }

              }

            }

          }

        }

      }

    },

    "/workspaces/{workspace_gid}/tasks/search": {

      "get": {

        "operationId": "searchTasks",

        "summary": "Search Tasks",

        "description": "Searches for tasks in a workspace using advanced filters. Requires a paid Asana plan. Rate-limited to 60 requests per minute.",

        "x-ms-summary": "Search Tasks",

        "parameters": [

          {

            "name": "workspace_gid",

            "in": "path",

            "required": true,

            "type": "string",

            "x-ms-summary": "Workspace GID",

            "x-ms-url-encoding": "single",

            "description": "The globally unique identifier of the workspace to search in."

          },

          {

            "name": "text",

            "in": "query",

            "required": false,

            "type": "string",

            "x-ms-summary": "Search Text",

            "x-ms-visibility": "important",

            "description": "Full-text search on task name and description."

          },

          {

            "name": "assignee.any",

            "in": "query",

            "required": false,

            "type": "string",

            "x-ms-summary": "Assignee GIDs",

            "description": "Comma-separated user GIDs to filter by assignee."

          },

          {

            "name": "projects.any",

            "in": "query",

            "required": false,

            "type": "string",

            "x-ms-summary": "Project GIDs",

            "description": "Comma-separated project GIDs to filter by project."

          },

          {

            "name": "sections.any",

            "in": "query",

            "required": false,

            "type": "string",

            "x-ms-summary": "Section GIDs",

            "x-ms-visibility": "advanced",

            "description": "Comma-separated section GIDs to filter by section."

          },

          {

            "name": "tags.any",

            "in": "query",

            "required": false,

            "type": "string",

            "x-ms-summary": "Tag GIDs",

            "x-ms-visibility": "advanced",

            "description": "Comma-separated tag GIDs to filter by tag."

          },

          {

            "name": "completed",

            "in": "query",

            "required": false,

            "type": "boolean",

            "x-ms-summary": "Completed",

            "description": "Filter by completion status. True for completed, false for incomplete."

          },

          {

            "name": "is_subtask",

            "in": "query",

            "required": false,

            "type": "boolean",

            "x-ms-summary": "Is Subtask",

            "x-ms-visibility": "advanced",

            "description": "Filter for subtasks only when set to true."

          },

          {

            "name": "modified_at.after",

            "in": "query",

            "required": false,

            "type": "string",

            "x-ms-summary": "Modified After",

            "description": "ISO 8601 datetime. Return tasks modified after this time."

          },

          {

            "name": "modified_at.before",

            "in": "query",

            "required": false,

            "type": "string",

            "x-ms-summary": "Modified Before",

            "description": "ISO 8601 datetime. Return tasks modified before this time."

          },

          {

            "name": "due_on.after",

            "in": "query",

            "required": false,

            "type": "string",

            "x-ms-summary": "Due After",

            "description": "Date in YYYY-MM-DD format. Return tasks due after this date."

          },

          {

            "name": "due_on.before",

            "in": "query",

            "required": false,

            "type": "string",

            "x-ms-summary": "Due Before",

            "description": "Date in YYYY-MM-DD format. Return tasks due before this date."

          },

          {

            "name": "sort_by",

            "in": "query",

            "required": false,

            "type": "string",

            "x-ms-summary": "Sort By",

            "x-ms-visibility": "advanced",

            "description": "Sort field: due_date, created_at, completed_at, likes, or modified_at. Default is modified_at.",

            "enum": [

              "due_date",

              "created_at",

              "completed_at",

              "likes",

              "modified_at"

            ]

          },

          {

            "name": "sort_ascending",

            "in": "query",

            "required": false,

            "type": "boolean",

            "x-ms-summary": "Sort Ascending",

            "x-ms-visibility": "advanced",

            "description": "Sort direction. Default is false (descending)."

          },

          {

            "name": "limit",

            "in": "query",

            "required": false,

            "type": "integer",

            "format": "int32",

            "default": 20,

            "x-ms-summary": "Limit",

            "description": "Number of results per page (1-100). Default is 20."

          },

          {

            "name": "opt_fields",

            "in": "query",

            "required": false,

            "type": "string",

            "default": "name,assignee,assignee.name,due_on,completed,modified_at,notes,tags.name,custom_fields.name,custom_fields.display_value,permalink_url",

            "x-ms-summary": "Fields",

            "x-ms-visibility": "advanced",

            "description": "Comma-separated list of fields to include in the response."

          }

        ],

        "responses": {

          "200": {

            "description": "Successfully retrieved search results.",

            "schema": {

              "type": "object",

              "properties": {

                "data": {

                  "type": "array",

                  "description": "Array of matching task objects.",

                  "items": {

                    "type": "object",

                    "properties": {

                      "gid": {

                        "type": "string",

                        "description": "Globally unique identifier of the task.",

                        "x-ms-summary": "Task GID"

                      },

                      "name": {

                        "type": "string",

                        "description": "Name of the task.",

                        "x-ms-summary": "Task Name"

                      },

                      "assignee": {

                        "$ref": "#/definitions/PersonCompact"

                      },

                      "due_on": {

                        "type": "string",

                        "description": "Due date of the task in YYYY-MM-DD format.",

                        "x-ms-summary": "Due Date"

                      },

                      "completed": {

                        "type": "boolean",

                        "description": "Whether the task is completed.",

                        "x-ms-summary": "Completed"

                      },

                      "modified_at": {

                        "type": "string",

                        "description": "Last modified datetime in ISO 8601 format.",

                        "x-ms-summary": "Modified At"

                      },

                      "permalink_url": {

                        "type": "string",

                        "description": "URL to the task in the Asana web app.",

                        "x-ms-summary": "Permalink URL"

                      },

                      "notes": {

                        "type": "string",

                        "description": "Plain-text description of the task.",

                        "x-ms-summary": "Notes"

                      },

                      "tags": {

                        "type": "array",

                        "items": {

                          "$ref": "#/definitions/TagCompact"

                        },

                        "description": "Tags applied to the task.",

                        "x-ms-summary": "Tags"

                      },

                      "custom_fields": {

                        "type": "array",

                        "items": {

                          "$ref": "#/definitions/CustomFieldCompact"

                        },

                        "description": "Custom fields on the task.",

                        "x-ms-summary": "Custom Fields"

                      }

                    }

                  }

                },

                "next_page": {

                  "$ref": "#/definitions/NextPage"

                }

              }

            }

          }

        }

      }

    },

    "/projects/{project_gid}/sections": {

      "get": {

        "operationId": "listSectionsInProject",

        "summary": "List Sections in Project",

        "description": "Returns all sections (columns in Board view, groups in List view) in a project.",

        "x-ms-summary": "List Sections in Project",

        "parameters": [

          {

            "name": "project_gid",

            "in": "path",

            "required": true,

            "type": "string",

            "x-ms-summary": "Project GID",

            "x-ms-url-encoding": "single",

            "description": "The globally unique identifier of the project."

          },

          {

            "name": "limit",

            "in": "query",

            "required": false,

            "type": "integer",

            "format": "int32",

            "default": 100,

            "x-ms-summary": "Limit",

            "description": "Number of results per page (1-100). Default is 100."

          },

          {

            "name": "offset",

            "in": "query",

            "required": false,

            "type": "string",

            "x-ms-summary": "Offset",

            "x-ms-visibility": "advanced",

            "description": "Pagination cursor from a previous response."

          }

        ],

        "responses": {

          "200": {

            "description": "Successfully retrieved the list of sections.",

            "schema": {

              "type": "object",

              "properties": {

                "data": {

                  "type": "array",

                  "description": "Array of section objects.",

                  "items": {

                    "type": "object",

                    "properties": {

                      "gid": {

                        "type": "string",

                        "description": "Globally unique identifier of the section.",

                        "x-ms-summary": "Section GID"

                      },

                      "name": {

                        "type": "string",

                        "description": "Name of the section.",

                        "x-ms-summary": "Section Name"

                      },

                      "created_at": {

                        "type": "string",

                        "description": "Creation datetime in ISO 8601 format.",

                        "x-ms-summary": "Created At"

                      }

                    }

                  }

                },

                "next_page": {

                  "$ref": "#/definitions/NextPage"

                }

              }

            }

          }

        }

      }

    },

    "/sections/{section_gid}/addTask": {

      "post": {

        "operationId": "addTaskToSection",

        "summary": "Add Task to Section",

        "description": "Adds an existing task to a specific section in a project, effectively moving it to that workflow stage.",

        "x-ms-summary": "Add Task to Section",

        "parameters": [

          {

            "name": "section_gid",

            "in": "path",

            "required": true,

            "type": "string",

            "x-ms-summary": "Section GID",

            "x-ms-url-encoding": "single",

            "description": "The globally unique identifier of the target section."

          },

          {

            "name": "body",

            "in": "body",

            "required": true,

            "schema": {

              "type": "object",

              "required": [

                "data"

              ],

              "properties": {

                "data": {

                  "type": "object",

                  "required": [

                    "task"

                  ],

                  "description": "Request data.",

                  "properties": {

                    "task": {

                      "type": "string",

                      "x-ms-summary": "Task GID",

                      "x-ms-visibility": "important",

                      "description": "The globally unique identifier of the task to add to the section."

                    },

                    "insert_before": {

                      "type": "string",

                      "x-ms-summary": "Insert Before",

                      "x-ms-visibility": "advanced",

                      "description": "GID of a task in the section to insert before for ordering."

                    },

                    "insert_after": {

                      "type": "string",

                      "x-ms-summary": "Insert After",

                      "x-ms-visibility": "advanced",

                      "description": "GID of a task in the section to insert after for ordering."

                    }

                  }

                }

              }

            }

          }

        ],

        "responses": {

          "200": {

            "description": "Successfully added the task to the section.",

            "schema": {

              "$ref": "#/definitions/EmptyDataResponse"

            }

          }

        }

      }

    },

    "/tasks/{task_gid}/subtasks": {

      "post": {

        "operationId": "createSubtask",

        "summary": "Create Subtask",

        "description": "Creates a new subtask under an existing parent task.",

        "x-ms-summary": "Create Subtask",

        "parameters": [

          {

            "name": "task_gid",

            "in": "path",

            "required": true,

            "type": "string",

            "x-ms-summary": "Parent Task GID",

            "x-ms-url-encoding": "single",

            "description": "The globally unique identifier of the parent task."

          },

          {

            "name": "body",

            "in": "body",

            "required": true,

            "schema": {

              "type": "object",

              "required": [

                "data"

              ],

              "properties": {

                "data": {

                  "type": "object",

                  "required": [

                    "name"

                  ],

                  "description": "Subtask fields.",

                  "properties": {

                    "name": {

                      "type": "string",

                      "x-ms-summary": "Subtask Name",

                      "x-ms-visibility": "important",

                      "description": "Name of the subtask."

                    },

                    "assignee": {

                      "type": "string",

                      "x-ms-summary": "Assignee",

                      "x-ms-visibility": "important",

                      "description": "GID of the user to assign to the subtask."

                    },

                    "due_on": {

                      "type": "string",

                      "x-ms-summary": "Due Date",

                      "description": "Due date in YYYY-MM-DD format."

                    },

                    "notes": {

                      "type": "string",

                      "x-ms-summary": "Notes",

                      "description": "Plain-text description of the subtask."

                    },

                    "completed": {

                      "type": "boolean",

                      "x-ms-summary": "Completed",

                      "x-ms-visibility": "advanced",

                      "description": "Completion status. Default is false."

                    }

                  }

                }

              }

            }

          }

        ],

        "responses": {

          "201": {

            "description": "Successfully created the subtask.",

            "schema": {

              "type": "object",

              "properties": {

                "data": {

                  "type": "object",

                  "description": "The newly created subtask.",

                  "properties": {

                    "gid": {

                      "type": "string",

                      "description": "Globally unique identifier of the new subtask.",

                      "x-ms-summary": "Subtask GID"

                    },

                    "name": {

                      "type": "string",

                      "description": "Name of the subtask.",

                      "x-ms-summary": "Subtask Name"

                    },

                    "assignee": {

                      "$ref": "#/definitions/PersonCompact"

                    },

                    "due_on": {

                      "type": "string",

                      "description": "Due date in YYYY-MM-DD format.",

                      "x-ms-summary": "Due Date"

                    },

                    "completed": {

                      "type": "boolean",

                      "description": "Whether the subtask is completed.",

                      "x-ms-summary": "Completed"

                    },

                    "created_at": {

                      "type": "string",

                      "description": "Datetime the subtask was created.",

                      "x-ms-summary": "Created At"

                    },

                    "permalink_url": {

                      "type": "string",

                      "description": "URL to the subtask.",

                      "x-ms-summary": "Permalink URL"

                    },

                    "parent": {

                      "type": "object",

                      "description": "Reference to the parent task.",

                      "properties": {

                        "gid": {

                          "type": "string",

                          "description": "Parent task GID.",

                          "x-ms-summary": "Parent GID"

                        },

                        "name": {

                          "type": "string",

                          "description": "Parent task name.",

                          "x-ms-summary": "Parent Name"

                        }

                      }

                    }

                  }

                }

              }

            }

          }

        }

      },

      "get": {

        "operationId": "listSubtasks",

        "summary": "List Subtasks",

        "description": "Returns all subtasks of a given parent task.",

        "x-ms-summary": "List Subtasks",

        "parameters": [

          {

            "name": "task_gid",

            "in": "path",

            "required": true,

            "type": "string",

            "x-ms-summary": "Parent Task GID",

            "x-ms-url-encoding": "single",

            "description": "The globally unique identifier of the parent task."

          },

          {

            "name": "limit",

            "in": "query",

            "required": false,

            "type": "integer",

            "format": "int32",

            "default": 20,

            "x-ms-summary": "Limit",

            "description": "Number of results per page (1-100). Default is 20."

          },

          {

            "name": "offset",

            "in": "query",

            "required": false,

            "type": "string",

            "x-ms-summary": "Offset",

            "x-ms-visibility": "advanced",

            "description": "Pagination cursor from a previous response."

          },

          {

            "name": "opt_fields",

            "in": "query",

            "required": false,

            "type": "string",

            "default": "name,assignee,assignee.name,due_on,completed,completed_at,created_at,permalink_url",

            "x-ms-summary": "Fields",

            "x-ms-visibility": "advanced",

            "description": "Comma-separated list of fields to include in the response."

          }

        ],

        "responses": {

          "200": {

            "description": "Successfully retrieved the list of subtasks.",

            "schema": {

              "type": "object",

              "properties": {

                "data": {

                  "type": "array",

                  "description": "Array of subtask objects.",

                  "items": {

                    "type": "object",

                    "properties": {

                      "gid": {

                        "type": "string",

                        "description": "Globally unique identifier of the subtask.",

                        "x-ms-summary": "Subtask GID"

                      },

                      "name": {

                        "type": "string",

                        "description": "Name of the subtask.",

                        "x-ms-summary": "Subtask Name"

                      },

                      "assignee": {

                        "$ref": "#/definitions/PersonCompact"

                      },

                      "due_on": {

                        "type": "string",

                        "description": "Due date in YYYY-MM-DD format.",

                        "x-ms-summary": "Due Date"

                      },

                      "completed": {

                        "type": "boolean",

                        "description": "Whether the subtask is completed.",

                        "x-ms-summary": "Completed"

                      },

                      "completed_at": {

                        "type": "string",

                        "description": "Datetime the subtask was completed.",

                        "x-ms-summary": "Completed At"

                      },

                      "created_at": {

                        "type": "string",

                        "description": "Datetime the subtask was created.",

                        "x-ms-summary": "Created At"

                      },

                      "permalink_url": {

                        "type": "string",

                        "description": "URL to the subtask.",

                        "x-ms-summary": "Permalink URL"

                      }

                    }

                  }

                },

                "next_page": {

                  "$ref": "#/definitions/NextPage"

                }

              }

            }

          }

        }

      }

    },

    "/projects": {

      "get": {

        "operationId": "listProjects",

        "summary": "List Projects",

        "description": "Returns projects in a workspace, optionally filtered by team or archived status.",

        "x-ms-summary": "List Projects",

        "parameters": [

          {

            "name": "workspace",

            "in": "query",

            "required": true,

            "type": "string",

            "x-ms-summary": "Workspace GID",

            "x-ms-visibility": "important",

            "description": "The globally unique identifier of the workspace."

          },

          {

            "name": "team",

            "in": "query",

            "required": false,

            "type": "string",

            "x-ms-summary": "Team GID",

            "description": "GID of a team to filter projects by."

          },

          {

            "name": "archived",

            "in": "query",

            "required": false,

            "type": "boolean",

            "x-ms-summary": "Archived",

            "description": "Filter by archived status. Default is false."

          },

          {

            "name": "limit",

            "in": "query",

            "required": false,

            "type": "integer",

            "format": "int32",

            "default": 20,

            "x-ms-summary": "Limit",

            "description": "Number of results per page (1-100). Default is 20."

          },

          {

            "name": "offset",

            "in": "query",

            "required": false,

            "type": "string",

            "x-ms-summary": "Offset",

            "x-ms-visibility": "advanced",

            "description": "Pagination cursor from a previous response."

          },

          {

            "name": "opt_fields",

            "in": "query",

            "required": false,

            "type": "string",

            "default": "name,owner,owner.name,due_on,color,archived,created_at,modified_at,permalink_url,current_status_update,current_status_update.status_type",

            "x-ms-summary": "Fields",

            "x-ms-visibility": "advanced",

            "description": "Comma-separated list of fields to include in the response."

          }

        ],

        "responses": {

          "200": {

            "description": "Successfully retrieved the list of projects.",

            "schema": {

              "type": "object",

              "properties": {

                "data": {

                  "type": "array",

                  "description": "Array of project objects.",

                  "items": {

                    "type": "object",

                    "properties": {

                      "gid": {

                        "type": "string",

                        "description": "Globally unique identifier of the project.",

                        "x-ms-summary": "Project GID"

                      },

                      "name": {

                        "type": "string",

                        "description": "Name of the project.",

                        "x-ms-summary": "Project Name"

                      },

                      "owner": {

                        "$ref": "#/definitions/PersonCompact"

                      },

                      "due_on": {

                        "type": "string",

                        "description": "Due date of the project.",

                        "x-ms-summary": "Due Date"

                      },

                      "color": {

                        "type": "string",

                        "description": "Color of the project.",

                        "x-ms-summary": "Color"

                      },

                      "archived": {

                        "type": "boolean",

                        "description": "Whether the project is archived.",

                        "x-ms-summary": "Archived"

                      },

                      "created_at": {

                        "type": "string",

                        "description": "Creation datetime.",

                        "x-ms-summary": "Created At"

                      },

                      "modified_at": {

                        "type": "string",

                        "description": "Last modified datetime.",

                        "x-ms-summary": "Modified At"

                      },

                      "permalink_url": {

                        "type": "string",

                        "description": "URL to the project.",

                        "x-ms-summary": "Permalink URL"

                      },

                      "current_status_update": {

                        "type": "object",

                        "description": "Latest status update on the project.",

                        "properties": {

                          "gid": {

                            "type": "string",

                            "description": "Status update GID.",

                            "x-ms-summary": "Status GID"

                          },

                          "status_type": {

                            "type": "string",

                            "description": "Status type (on_track, at_risk, off_track, on_hold, complete).",

                            "x-ms-summary": "Status Type"

                          }

                        }

                      }

                    }

                  }

                },

                "next_page": {

                  "$ref": "#/definitions/NextPage"

                }

              }

            }

          }

        }

      }

    },

    "/tasks/{task_gid}/addTag": {

      "post": {

        "operationId": "addTagToTask",

        "summary": "Add Tag to Task",

        "description": "Adds an existing tag to a task. Tags are workspace-level labels that can be applied across projects.",

        "x-ms-summary": "Add Tag to Task",

        "parameters": [

          {

            "name": "task_gid",

            "in": "path",

            "required": true,

            "type": "string",

            "x-ms-summary": "Task GID",

            "x-ms-url-encoding": "single",

            "description": "The globally unique identifier of the task."

          },

          {

            "name": "body",

            "in": "body",

            "required": true,

            "schema": {

              "type": "object",

              "required": [

                "data"

              ],

              "properties": {

                "data": {

                  "type": "object",

                  "required": [

                    "tag"

                  ],

                  "description": "Request data.",

                  "properties": {

                    "tag": {

                      "type": "string",

                      "x-ms-summary": "Tag GID",

                      "x-ms-visibility": "important",

                      "description": "The globally unique identifier of the tag to add."

                    }

                  }

                }

              }

            }

          }

        ],

        "responses": {

          "200": {

            "description": "Successfully added the tag to the task.",

            "schema": {

              "$ref": "#/definitions/EmptyDataResponse"

            }

          }

        }

      }

    },

    "/workspaces/{workspace_gid}/tags": {

      "get": {

        "operationId": "listTagsInWorkspace",

        "summary": "List Tags in Workspace",

        "description": "Returns all tags in a workspace.",

        "x-ms-summary": "List Tags in Workspace",

        "parameters": [

          {

            "name": "workspace_gid",

            "in": "path",

            "required": true,

            "type": "string",

            "x-ms-summary": "Workspace GID",

            "x-ms-url-encoding": "single",

            "description": "The globally unique identifier of the workspace."

          },

          {

            "name": "limit",

            "in": "query",

            "required": false,

            "type": "integer",

            "format": "int32",

            "default": 100,

            "x-ms-summary": "Limit",

            "description": "Number of results per page (1-100). Default is 100."

          },

          {

            "name": "offset",

            "in": "query",

            "required": false,

            "type": "string",

            "x-ms-summary": "Offset",

            "x-ms-visibility": "advanced",

            "description": "Pagination cursor from a previous response."

          }

        ],

        "responses": {

          "200": {

            "description": "Successfully retrieved the list of tags.",

            "schema": {

              "type": "object",

              "properties": {

                "data": {

                  "type": "array",

                  "description": "Array of tag objects.",

                  "items": {

                    "$ref": "#/definitions/TagCompact"

                  }

                },

                "next_page": {

                  "$ref": "#/definitions/NextPage"

                }

              }

            }

          }

        }

      }

    },

    "/status_updates": {

      "post": {

        "operationId": "createStatusUpdate",

        "summary": "Create Status Update",

        "description": "Creates a status update on a project, portfolio, or goal. Status updates communicate project health to stakeholders.",

        "x-ms-summary": "Create Status Update",

        "parameters": [

          {

            "name": "body",

            "in": "body",

            "required": true,

            "schema": {

              "type": "object",

              "required": [

                "data"

              ],

              "properties": {

                "data": {

                  "type": "object",

                  "required": [

                    "parent",

                    "status_type",

                    "title"

                  ],

                  "description": "Status update fields.",

                  "properties": {

                    "parent": {

                      "type": "string",

                      "x-ms-summary": "Parent GID",

                      "x-ms-visibility": "important",

                      "description": "GID of the project, portfolio, or goal to post the status on."

                    },

                    "status_type": {

                      "type": "string",

                      "x-ms-summary": "Status Type",

                      "x-ms-visibility": "important",

                      "description": "The status of the project.",

                      "enum": [

                        "on_track",

                        "at_risk",

                        "off_track",

                        "on_hold",

                        "complete"

                      ]

                    },

                    "title": {

                      "type": "string",

                      "x-ms-summary": "Title",

                      "x-ms-visibility": "important",

                      "description": "Title of the status update."

                    },

                    "text": {

                      "type": "string",

                      "x-ms-summary": "Text",

                      "description": "Plain-text body of the status update."

                    },

                    "html_text": {

                      "type": "string",

                      "x-ms-summary": "HTML Text",

                      "x-ms-visibility": "advanced",

                      "description": "Rich-text body in HTML format."

                    }

                  }

                }

              }

            }

          }

        ],

        "responses": {

          "201": {

            "description": "Successfully created the status update.",

            "schema": {

              "type": "object",

              "properties": {

                "data": {

                  "type": "object",

                  "description": "The newly created status update.",

                  "properties": {

                    "gid": {

                      "type": "string",

                      "description": "Globally unique identifier of the status update.",

                      "x-ms-summary": "Status Update GID"

                    },

                    "title": {

                      "type": "string",

                      "description": "Title of the status update.",

                      "x-ms-summary": "Title"

                    },

                    "status_type": {

                      "type": "string",

                      "description": "Status type (on_track, at_risk, off_track, on_hold, complete).",

                      "x-ms-summary": "Status Type"

                    },

                    "text": {

                      "type": "string",

                      "description": "Plain-text body of the status update.",

                      "x-ms-summary": "Text"

                    },

                    "created_at": {

                      "type": "string",

                      "description": "Datetime the status update was created.",

                      "x-ms-summary": "Created At"

                    },

                    "created_by": {

                      "$ref": "#/definitions/PersonCompact"

                    },

                    "parent": {

                      "type": "object",

                      "description": "The parent object the status was posted on.",

                      "properties": {

                        "gid": {

                          "type": "string",

                          "description": "Parent GID.",

                          "x-ms-summary": "Parent GID"

                        },

                        "name": {

                          "type": "string",

                          "description": "Parent name.",

                          "x-ms-summary": "Parent Name"

                        }

                      }

                    }

                  }

                }

              }

            }

          }

        }

      },

      "get": {

        "operationId": "listStatusUpdates",

        "summary": "List Status Updates",

        "description": "Returns status updates for a project, portfolio, or goal, ordered by creation date (newest first).",

        "x-ms-summary": "List Status Updates",

        "parameters": [

          {

            "name": "parent",

            "in": "query",

            "required": true,

            "type": "string",

            "x-ms-summary": "Parent GID",

            "x-ms-visibility": "important",

            "description": "GID of the project, portfolio, or goal."

          },

          {

            "name": "created_since",

            "in": "query",

            "required": false,

            "type": "string",

            "x-ms-summary": "Created Since",

            "description": "ISO 8601 datetime. Only return updates created after this time."

          },

          {

            "name": "limit",

            "in": "query",

            "required": false,

            "type": "integer",

            "format": "int32",

            "default": 20,

            "x-ms-summary": "Limit",

            "description": "Number of results per page (1-100). Default is 20."

          },

          {

            "name": "offset",

            "in": "query",

            "required": false,

            "type": "string",

            "x-ms-summary": "Offset",

            "x-ms-visibility": "advanced",

            "description": "Pagination cursor from a previous response."

          },

          {

            "name": "opt_fields",

            "in": "query",

            "required": false,

            "type": "string",

            "default": "title,status_type,text,created_at,created_by,created_by.name",

            "x-ms-summary": "Fields",

            "x-ms-visibility": "advanced",

            "description": "Comma-separated list of fields to include in the response."

          }

        ],

        "responses": {

          "200": {

            "description": "Successfully retrieved the list of status updates.",

            "schema": {

              "type": "object",

              "properties": {

                "data": {

                  "type": "array",

                  "description": "Array of status update objects.",

                  "items": {

                    "type": "object",

                    "properties": {

                      "gid": {

                        "type": "string",

                        "description": "Globally unique identifier of the status update.",

                        "x-ms-summary": "Status Update GID"

                      },

                      "title": {

                        "type": "string",

                        "description": "Title of the status update.",

                        "x-ms-summary": "Title"

                      },

                      "status_type": {

                        "type": "string",

                        "description": "Status type.",

                        "x-ms-summary": "Status Type"

                      },

                      "text": {

                        "type": "string",

                        "description": "Plain-text body.",

                        "x-ms-summary": "Text"

                      },

                      "created_at": {

                        "type": "string",

                        "description": "Creation datetime.",

                        "x-ms-summary": "Created At"

                      },

                      "created_by": {

                        "$ref": "#/definitions/PersonCompact"

                      }

                    }

                  }

                },

                "next_page": {

                  "$ref": "#/definitions/NextPage"

                }

              }

            }

          }

        }

      }

    }

  },

  "definitions": {

    "PersonCompact": {

      "type": "object",

      "properties": {

        "gid": {

          "type": "string",

          "description": "Globally unique identifier of the user.",

          "x-ms-summary": "User GID"

        },

        "name": {

          "type": "string",

          "description": "Name of the user.",

          "x-ms-summary": "User Name"

        }

      }

    },

    "NextPage": {

      "type": "object",

      "properties": {

        "offset": {

          "type": "string",

          "description": "Pagination offset token for the next page.",

          "x-ms-summary": "Offset"

        },

        "path": {

          "type": "string",

          "description": "Relative API path for the next page.",

          "x-ms-summary": "Path"

        },

        "uri": {

          "type": "string",

          "description": "Full URI for the next page.",

          "x-ms-summary": "URI"

        }

      }

    },

    "TagCompact": {

      "type": "object",

      "properties": {

        "gid": {

          "type": "string",

          "description": "Globally unique identifier of the tag.",

          "x-ms-summary": "Tag GID"

        },

        "name": {

          "type": "string",

          "description": "Name of the tag.",

          "x-ms-summary": "Tag Name"

        }

      }

    },

    "CustomFieldCompact": {

      "type": "object",

      "properties": {

        "gid": {

          "type": "string",

          "description": "Globally unique identifier of the custom field.",

          "x-ms-summary": "Custom Field GID"

        },

        "name": {

          "type": "string",

          "description": "Name of the custom field.",

          "x-ms-summary": "Custom Field Name"

        },

        "display_value": {

          "type": "string",

          "description": "Display value of the custom field.",

          "x-ms-summary": "Display Value"

        }

      }

    },

    "SectionMembership": {

      "type": "object",

      "properties": {

        "section": {

          "type": "object",

          "description": "Section the task belongs to.",

          "properties": {

            "gid": {

              "type": "string",

              "description": "Section GID.",

              "x-ms-summary": "Section GID"

            },

            "name": {

              "type": "string",

              "description": "Section name.",

              "x-ms-summary": "Section Name"

            }

          }

        }

      }

    },

    "EmptyDataResponse": {

      "type": "object",

      "properties": {

        "data": {

          "type": "object",

          "description": "Empty response object on success.",

          "properties": {}

        }

      }

    }

  },

  "parameters": {},

  "responses": {},

  "securityDefinitions": {

    "api_key": {

      "type": "apiKey",

      "in": "header",

      "name": "Authorization"

    }

  },

  "security": [

    {

      "api_key": []

    }

  ],

  "tags": [],

  "x-ms-connector-metadata": [

    {

      "propertyName": "Website",

      "propertyValue": "https://asana.com"

    },

    {

      "propertyName": "Privacy policy",

      "propertyValue": "https://asana.com/terms#privacy-policy"

    },

    {

      "propertyName": "Categories",

      "propertyValue": "Productivity;Collaboration"

    }

  ]

                        }
