{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "axiom browser automation",
    "description": "axiom browser automation lets you automate web browser actions with no code. This connector lets you trigger axiom bots.",
    "contact": {
      "name": "Axiom Support",
      "url": "https://axiom.ai/customer-support.html",
      "email": "support@axiom.ai"
    }
  },
  "host": "lar.axiom.ai",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://axiom.ai/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://axiom.ai/privacy-policy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;IT Operations"
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v4/trigger": {
      "post": {
        "security": [
          {
            "API Key": []
          }
        ],
        "summary": "trigger an axiom.ai bot",
        "description": "trigger an axiom.ai bot",
        "operationId": "TriggerAxiomBot",
        "parameters": [
          {
            "name": "axiom",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - your bot is running",
            "schema": {
              "type": "object",
              "properties": {
                "OPEN LINK IN BROWSER": {
                  "type": "string",
                  "description": "A link you can open in your browser to see your running bot"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "401": {
            "description": "Authentication error",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "403": {
            "description": "Permission denied",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Axiom not found",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ErrorMessage": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "status"
        },
        "message": {
          "type": "string",
          "description": "message"
        }
      }
    }
  },
  "parameters": {},
  "responses": {
    "200": {
      "description": "OK"
    },
    "400": {
      "description": "Request payload is empty or not a valid JSON object, please check the formatting and try again"
    },
    "401": {
      "description": "Unable to authenticate, please check your API key and try again"
    },
    "403": {
      "description": "You must have a pro subscription or higher to use this API. Please also check your runtime is not used up."
    },
    "404": {
      "description": "Axiom not found, please check the name and try again."
    },
    "5XX": {
      "description": "Unexpected error."
    }
  },
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}