{
	"swagger": "2.0",
	"info": {
	  "title": "tyntec WhatsApp Business",
	  "description": "Enables WhatsApp communication channel using the tyntec Conversations API to improve your communication ability",
	  "contact": {
		"name": "tyntec support",
		"url": "https://www.tyntec.com/get-help-support",
		"email": "support@tyntec.com"
	  },
	  "version": "2.3"
	},
	"host": "api.tyntec.com",
	"basePath": "/",
	"schemes": [
	  "https"
	],
	"consumes": [],
	"produces": [],
	"paths": {
	  "/chat-api/v2/applications/ms-connector/inbound-message-callback": {
		"x-ms-notification-content": {
		  "description": "Response",
		  "schema": {
			"type": "object",
			"properties": {
			  "messageId": {
				"type": "string",
				"description": "messageId"
			  },
			  "channel": {
				"type": "string",
				"description": "channel"
			  },
			  "from": {
				"type": "string",
				"description": "from"
			  },
			  "to": {
				"type": "string",
				"description": "to"
			  },
			  "receivedAt": {
				"type": "string",
				"description": "receivedAt"
			  },
			  "content": {
				"type": "object",
				"properties": {
				  "contentType": {
					"type": "string",
					"description": "contentType"
				  },
				  "text": {
					"type": "string",
					"description": "text"
				  },
				  "file": {
					"type": "string",
					"description": "file"
				  }
				},
				"description": "content"
			  },
			  "event": {
				"type": "string",
				"description": "event"
			  },
			  "timestamp": {
				"type": "string",
				"description": "timestamp"
			  }
			}
		  }
		},
		"patch": {
		  "responses": {},
		  "summary": "Incoming message (deprecated)",
		  "description": "Triggers on Incoming message (deprecated)",
		  "operationId": "Incoming",
		  "deprecated": true,
		  "x-ms-trigger": "single",
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "callbackUrl": {
					"type": "string",
					"description": "callbackUrl",
					"x-ms-notification-url": true,
					"x-ms-visibility": "internal",
					"title": "callback"
				  }
				},
				"required": [
				  "callbackUrl"
				]
			  }
			}
		  ]
		}
	  },
	  "/chat-api/v2/messages/{id}/status": {
		"get": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId",
					"x-ms-visibility": "important"
				  },
				  "deliveryChannel": {
					"type": "string",
					"description": "deliveryChannel",
					"x-ms-visibility": "important"
				  },
				  "status": {
					"type": "string",
					"description": "status",
					"x-ms-visibility": "important"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp",
					"x-ms-visibility": "important"
				  }
				}
			  }
			}
		  },
		  "summary": "Status Check (deprecated)",
		  "deprecated": true,
		  "description": "Check for status of your message (deprecated)",
		  "operationId": "StatusCheck",
		  "parameters": [
			{
			  "name": "id",
			  "in": "path",
			  "required": true,
			  "type": "string",
			  "description": "messageId",
			  "x-ms-summary": "message ID",
			  "x-ms-url-encoding": "single"
			}
		  ]
		}
	  },
	  "/chat-api/v2/messages": {
		"post": {
		  "responses": {
			"202": {
			  "description": "Returned when the operation successfully connects to Conversations API",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId",
					"x-ms-visibility": "important"
				  }
				}
			  }
			}
		  },
		  "summary": "Send WhatsApp Template message (deprecated)",
		  "deprecated": true,
		  "description": "Send WhatsApp Template message (deprecated)",
		  "operationId": "SendWhatsApp",
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": true,
			  "schema": {
				"type": "object",
				"properties": {
				  "to": {
					"type": "string",
					"description": "Receiver's phone number",
					"title": "to"
				  },
				  "channels": {
					"type": "array",
					"items": {
					  "type": "string",
					  "description": "tyntec Conversation API channel",
					  "title": "Channel",
					  "default": "whatsapp",
					  "x-ms-visibility": "internal"
					},
					"description": "channels"
				  },
				  "whatsapp": {
					"type": "object",
					"properties": {
					  "from": {
						"type": "string",
						"description": "Your WhatsApp Business Account Number",
						"title": "from"
					  },
					  "template": {
						"type": "object",
						"properties": {
						  "templateId": {
							"type": "string",
							"description": "Your template id",
							"title": "templateId"
						  },
						  "language": {
							"type": "object",
							"properties": {
							  "policy": {
								"type": "string",
								"description": "language policy",
								"title": "language-policy",
								"default": "deterministic"
							  },
							  "code": {
								"type": "string",
								"description": "language code",
								"title": "language-code",
								"default": "en"
							  }
							},
							"description": "language",
							"required": [
							  "code",
							  "policy"
							]
						  },
						  "components": {
							"type": "array",
							"items": {
							  "type": "object",
							  "properties": {
								"type": {
								  "type": "string",
								  "description": "type",
								  "title": "type",
								  "default": "body"
								},
								"parameters": {
								  "type": "array",
								  "items": {
									"type": "object",
									"properties": {
									  "type": {
										"type": "string",
										"description": "type of the parameter"
									  },
									  "subType": {
										"type": "string",
										"description": "Used for Call to action buttons"
									  },
									  "media": {
										"type": "object",
										"properties": {
										  "url": {
											"type": "string",
											"description": "url"
										  },
										  "type": {
											"type": "string",
											"description": "Type of used media"
										  },
										  "filename": {
											"type": "string",
											"description": "filename"
										  }
										},
										"description": "media"
									  },
									  "text": {
										"type": "string",
										"description": "text"
									  }
									}
								  },
								  "description": "parameters"
								}
							  },
							  "required": [
								"type"
							  ]
							},
							"description": "components"
						  }
						},
						"description": "template",
						"required": [
						  "components",
						  "language",
						  "templateId"
						]
					  },
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "contentType",
						"default": "template",
						"x-ms-visibility": "internal"
					  }
					},
					"description": "whatsapp",
					"required": [
					  "contentType",
					  "from",
					  "template"
					]
				  }
				},
				"required": [
				  "to",
				  "channels",
				  "whatsapp"
				]
			  }
			}
		  ]
		}
	  },
	  "/chat-api/v2/messages/": {
		"post": {
		  "responses": {
			"202": {
			  "description": "Returned when the operation successfully connects to Conversations API",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId",
					"x-ms-visibility": "important"
				  }
				}
			  }
			}
		  },
		  "summary": "WhatsApp Free-Form Message (deprecated)",
		  "description": "Send free form message (deprecated)",
		  "deprecated": true,
		  "operationId": "SendFreeformMessage",
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channels": {
					"type": "array",
					"items": {
					  "type": "string",
					  "description": "tyntec Conversation API channel",
					  "title": "Channel",
					  "default": "whatsapp",
					  "x-ms-visibility": "internal"
					},
					"description": "channels"
				  },
				  "whatsapp": {
					"type": "object",
					"properties": {
					  "from": {
						"type": "string",
						"description": "from"
					  },
					  "media": {
						"type": "object",
						"properties": {
						  "type": {
							"type": "string",
							"description": "type"
						  },
						  "url": {
							"type": "string",
							"description": "url"
						  },
						  "caption": {
							"type": "string",
							"description": "caption"
						  }
						},
						"description": "media"
					  },
					  "contentType": {
						"type": "string",
						"description": "contentType"
					  },
					  "text": {
						"type": "string",
						"description": "text"
					  }
					},
					"description": "whatsapp"
				  }
				},
				"required": [
				  "channels"
				]
			  }
			}
		  ]
		}
	  },
	  "/conversations/v3/channels/whatsapp/phone-numbers/{whatsAppBusinessNumber}": {
		"get": {
		  "responses": {
			"200": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "phoneNumber": {
					"type": "string",
					"description": "Your Number"
				  },
				  "displayPhoneNumber": {
					"type": "string",
					"description": "The displayed version of the phone number"
				  },
				  "verifiedName": {
					"type": "string",
					"description": "The verified name"
				  },
				  "qualityRating": {
					"type": "string",
					"description": "Your quality rating"
				  },
				  "status": {
					"type": "string",
					"description": "status"
				  },
				  "whatsAppAccountId": {
					"type": "string",
					"description": "Your WhatsApp account ID"
				  },
				  "managedBy": {
					"type": "object",
					"properties": {
					  "accountName": {
						"type": "string",
						"description": "Your account name"
					  }
					},
					"description": "managed By"
				  },
				  "messagingVia": {
					"type": "object",
					"properties": {
					  "accountName": {
						"type": "string",
						"description": "The managinng account name"
					  }
					},
					"description": "messagingVia"
				  },
				  "messagingTier": {
					"type": "string",
					"description": "Your messaging tier"
				  },
				  "qualityScore": {
					"type": "object",
					"properties": {
					  "score": {
						"type": "string",
						"description": "Your score"
					  }
					},
					"description": "Your quality score"
				  }
				}
			  }
			}
		  },
		  "operationId": "TestPhoneNumber",
		  "summary": "Validate your WABA number",
		  "description": "Validate your WABA number",
		  "parameters": [
			{
			  "name": "whatsAppBusinessNumber",
			  "in": "path",
			  "required": true,
			  "type": "string",
			  "x-ms-summary": "WhatsAppBusinessNumber",
			  "description": "WABA for validation"
			}
		  ]
		}
	  },
	  "/conversations/v3/configurations/channels/whatsapp": {
		"get": {
		  "responses": {
			"200": {
			  "description": "default",
			  "schema": {
				"type": "array",
				"items": {
				  "type": "object",
				  "properties": {
					"channel": {
					  "type": "string",
					  "description": "channel"
					},
					"scopes": {
					  "type": "array",
					  "items": {
						"type": "string"
					  },
					  "description": "scopes"
					},
					"id": {
					  "type": "object",
					  "properties": {
						"phoneNumber": {
						  "type": "string",
						  "description": "phoneNumber"
						}
					  },
					  "description": "id"
					},
					"callback": {
					  "type": "object",
					  "properties": {
						"inboundMessageUrl": {
						  "type": "string",
						  "description": "inboundMessageUrl"
						}
					  },
					  "description": "callback"
					}
				  }
				}
			  }
			}
		  },
		  "x-ms-visibility": "internal",
		  "operationId": "TestMyAPIConnection",
		  "description": "Tests your API connection",
		  "summary": "testConnection",
		  "parameters": []
		}
	  },
	  "/conversations/v3/messages/{messageId}/status": {
		"get": {
		  "responses": {
			"200": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "status": {
					"type": "string",
					"description": "status"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "summary": "Status Check",
		  "description": "Check for status of your message",
		  "operationId": "StatusCheckV3",
		  "parameters": [
			{
			  "name": "messageId",
			  "in": "path",
			  "required": true,
			  "type": "string",
			  "x-ms-visibility": "important",
			  "description": "Message ID",
			  "x-ms-summary": "Message ID"
			}
		  ]
		}
	  },
	  "/conversations/v3/power-automate/messages/whatsapp/text": {
		"post": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "summary": "Send WhatsApp Free-form Text Message",
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "from": {
					"type": "string",
					"description": "from",
					"title": ""
				  },
				  "to": {
					"type": "string",
					"description": "to",
					"title": ""
				  },
				  "channel": {
					"type": "string",
					"description": "channel",
					"title": "",
					"default": "whatsapp",
					"x-ms-visibility": "internal"
				  },
				  "content": {
					"type": "object",
					"properties": {
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "",
						"default": "text",
						"x-ms-visibility": "internal"
					  },
					  "text": {
						"type": "string",
						"description": "text",
						"title": ""
					  }
					},
					"description": "content",
					"required": [
					  "contentType",
					  "text"
					]
				  }
				},
				"required": [
				  "channel",
				  "content",
				  "from",
				  "to"
				]
			  }
			}
		  ],
		  "description": "Sends simple free-form text message through WhatsApp. Usable only in support window (24 hours after last message from customer).",
		  "operationId": "SendWhatsAppText"
		}
	  },
	  "/conversations/v3/power-automate/messages/whatsapp/contact": {
		"post": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "summary": "Send Whatsapp Free-form Contact Message",
		  "description": "Sends contact message through WhatsApp. Usable only in support window (24 hours after last message from customer)",
		  "operationId": "SendWhatsAppContact",
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "from": {
					"type": "string",
					"description": "from"
				  },
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channel": {
					"type": "string",
					"description": "channel",
					"title": "",
					"x-ms-visibility": "internal",
					"default": "whatsapp"
				  },
				  "content": {
					"type": "object",
					"properties": {
					  "contacts": {
						"type": "array",
						"items": {
						  "type": "object",
						  "properties": {
							"addresses": {
							  "type": "array",
							  "items": {
								"type": "object",
								"properties": {
								  "city": {
									"type": "string",
									"description": "city"
								  },
								  "country": {
									"type": "string",
									"description": "country"
								  },
								  "countryCode": {
									"type": "string",
									"description": "countryCode"
								  },
								  "street": {
									"type": "string",
									"description": "street"
								  },
								  "type": {
									"type": "string",
									"description": "type"
								  },
								  "zip": {
									"type": "string",
									"description": "zip"
								  }
								}
							  },
							  "description": "addresses"
							},
							"name": {
							  "type": "object",
							  "properties": {
								"formattedName": {
								  "type": "string",
								  "description": "formattedName"
								},
								"lastName": {
								  "type": "string",
								  "description": "lastName"
								}
							  },
							  "description": "name"
							}
						  }
						},
						"description": "contacts"
					  },
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "",
						"x-ms-visibility": "internal",
						"default": "contacts"
					  }
					},
					"description": "content",
					"required": [
					  "contentType"
					]
				  }
				},
				"required": [
				  "channel",
				  "content"
				]
			  }
			}
		  ]
		}
	  },
	  "/conversations/v3/power-automate/messages/whatsapp/location": {
		"post": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "summary": "Send WhatsApp Free-form Location Message",
		  "description": "Sends WhatsApp Location message. Usable only in support window (24 hours after last message from customer)",
		  "operationId": "SendWhatsAppLocation",
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "from": {
					"type": "string",
					"description": "from"
				  },
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channel": {
					"type": "string",
					"description": "channel",
					"title": "",
					"default": "whatsapp",
					"x-ms-visibility": "internal"
				  },
				  "content": {
					"type": "object",
					"properties": {
					  "location": {
						"type": "object",
						"properties": {
						  "longitude": {
							"type": "number",
							"format": "float",
							"description": "longitude"
						  },
						  "latitude": {
							"type": "number",
							"format": "float",
							"description": "latitude"
						  },
						  "name": {
							"type": "string",
							"description": "name"
						  },
						  "address": {
							"type": "string",
							"description": "address"
						  }
						},
						"description": "location"
					  },
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "",
						"default": "location",
						"x-ms-visibility": "internal"
					  }
					},
					"description": "content",
					"required": [
					  "contentType"
					]
				  }
				},
				"required": [
				  "channel",
				  "content"
				]
			  }
			}
		  ]
		}
	  },
	  "/conversations/v3/power-automate/messages/whatsapp/quick-reply": {
		"post": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "from": {
					"type": "string",
					"description": "from"
				  },
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channel": {
					"type": "string",
					"description": "channel",
					"title": "",
					"default": "whatsapp",
					"x-ms-visibility": "internal"
				  },
				  "content": {
					"type": "object",
					"properties": {
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "",
						"default": "interactive",
						"x-ms-visibility": "internal"
					  },
					  "interactive": {
						"type": "object",
						"properties": {
						  "subType": {
							"type": "string",
							"description": "subType",
							"title": "",
							"default": "buttons",
							"x-ms-visibility": "internal"
						  },
						  "components": {
							"type": "object",
							"properties": {
							  "header": {
								"type": "object",
								"properties": {
								  "type": {
									"type": "string",
									"description": "type"
								  },
								  "text": {
									"type": "string",
									"description": "text"
								  }
								},
								"description": "header"
							  },
							  "body": {
								"type": "object",
								"properties": {
								  "type": {
									"type": "string",
									"description": "type"
								  },
								  "text": {
									"type": "string",
									"description": "text"
								  }
								},
								"description": "body"
							  },
							  "footer": {
								"type": "object",
								"properties": {
								  "type": {
									"type": "string",
									"description": "type"
								  },
								  "text": {
									"type": "string",
									"description": "text"
								  }
								},
								"description": "footer"
							  },
							  "buttons": {
								"type": "array",
								"items": {
								  "type": "object",
								  "properties": {
									"type": {
									  "type": "string",
									  "description": "type",
									  "default": "reply",
									  "x-ms-visibility": "internal",
									  "title": ""
									},
									"reply": {
									  "type": "object",
									  "properties": {
										"payload": {
										  "type": "string",
										  "description": "payload"
										},
										"title": {
										  "type": "string",
										  "description": "title"
										}
									  },
									  "description": "reply"
									}
								  },
								  "required": [
									"type"
								  ]
								},
								"description": "buttons"
							  }
							},
							"description": "components",
							"required": [
							  "buttons"
							]
						  }
						},
						"description": "interactive",
						"required": [
						  "subType",
						  "components"
						]
					  }
					},
					"description": "content",
					"required": [
					  "interactive",
					  "contentType"
					]
				  }
				},
				"required": [
				  "content",
				  "channel"
				]
			  }
			}
		  ],
		  "summary": "Send WhatsApp Free-form Quick Reply",
		  "description": "Sends WhatsApp quick reply. Usable only in support window (24 hours after last message from customer)",
		  "operationId": "SendWhatsAppQuickReply"
		}
	  },
	  "/conversations/v3/power-automate/messages/whatsapp/product-list": {
		"post": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "from": {
					"type": "string",
					"description": "from"
				  },
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channel": {
					"type": "string",
					"description": "channel",
					"title": "",
					"default": "whatsapp",
					"x-ms-visibility": "internal"
				  },
				  "content": {
					"type": "object",
					"properties": {
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "",
						"default": "interactive",
						"x-ms-visibility": "internal"
					  },
					  "interactive": {
						"type": "object",
						"properties": {
						  "subType": {
							"type": "string",
							"description": "subType",
							"title": "",
							"default": "productList",
							"x-ms-visibility": "internal"
						  },
						  "components": {
							"type": "object",
							"properties": {
							  "header": {
								"type": "object",
								"properties": {
								  "type": {
									"type": "string",
									"description": "type"
								  },
								  "text": {
									"type": "string",
									"description": "text"
								  }
								},
								"description": "header"
							  },
							  "body": {
								"type": "object",
								"properties": {
								  "type": {
									"type": "string",
									"description": "type"
								  },
								  "text": {
									"type": "string",
									"description": "text"
								  }
								},
								"description": "body"
							  },
							  "footer": {
								"type": "object",
								"properties": {
								  "type": {
									"type": "string",
									"description": "type"
								  },
								  "text": {
									"type": "string",
									"description": "text"
								  }
								},
								"description": "footer"
							  },
							  "productList": {
								"type": "object",
								"properties": {
								  "catalogId": {
									"type": "string",
									"description": "catalogId"
								  },
								  "sections": {
									"type": "array",
									"items": {
									  "type": "object",
									  "properties": {
										"items": {
										  "type": "array",
										  "items": {
											"type": "object",
											"properties": {
											  "productId": {
												"type": "string",
												"description": "productId"
											  }
											}
										  },
										  "description": "items"
										}
									  }
									},
									"description": "sections"
								  }
								},
								"description": "productList"
							  }
							},
							"description": "components"
						  }
						},
						"description": "interactive",
						"required": [
						  "subType"
						]
					  }
					},
					"description": "content",
					"required": [
					  "contentType",
					  "interactive"
					]
				  }
				},
				"required": [
				  "channel",
				  "content"
				]
			  }
			}
		  ],
		  "operationId": "SendWhatsAppProductList",
		  "summary": "Send WhatsApp Free-form Product List",
		  "description": "Sends WhatsApp product list. Usable only in support window (24 hours after last message from customer)"
		}
	  },
	  "/conversations/v3/power-automate/messages/whatsapp/product": {
		"post": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "from": {
					"type": "string",
					"description": "from"
				  },
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channel": {
					"type": "string",
					"description": "channel",
					"title": "",
					"x-ms-visibility": "internal",
					"default": "whatsapp"
				  },
				  "content": {
					"type": "object",
					"properties": {
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "",
						"default": "interactive",
						"x-ms-visibility": "internal"
					  },
					  "interactive": {
						"type": "object",
						"properties": {
						  "subType": {
							"type": "string",
							"description": "subType",
							"title": "",
							"default": "product",
							"x-ms-visibility": "internal"
						  },
						  "components": {
							"type": "object",
							"properties": {
							  "header": {
								"type": "object",
								"properties": {
								  "type": {
									"type": "string",
									"description": "type"
								  },
								  "text": {
									"type": "string",
									"description": "text"
								  }
								},
								"description": "header"
							  },
							  "body": {
								"type": "object",
								"properties": {
								  "type": {
									"type": "string",
									"description": "type"
								  },
								  "text": {
									"type": "string",
									"description": "text"
								  }
								},
								"description": "body"
							  },
							  "footer": {
								"type": "object",
								"properties": {
								  "type": {
									"type": "string",
									"description": "type"
								  },
								  "text": {
									"type": "string",
									"description": "text"
								  }
								},
								"description": "footer"
							  },
							  "product": {
								"type": "object",
								"properties": {
								  "catalogId": {
									"type": "string",
									"description": "catalogId"
								  },
								  "productId": {
									"type": "string",
									"description": "productId"
								  }
								},
								"description": "product"
							  }
							},
							"description": "components"
						  }
						},
						"description": "interactive",
						"required": [
						  "subType"
						]
					  }
					},
					"description": "content",
					"required": [
					  "contentType",
					  "interactive"
					]
				  }
				},
				"required": [
				  "channel",
				  "content"
				]
			  }
			}
		  ],
		  "operationId": "SendWhatsAppProduct",
		  "summary": "Send WhatsApp Free-form Single Product",
		  "description": "Sends WhatsApp single product message. Usable only in support window (24 hours after last message from customer)"
		}
	  },
	  "/conversations/v3/power-automate/messages/whatsapp/list": {
		"post": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "summary": "Send WhatsApp Free-form List Message",
		  "description": "Sends WhatsApp list message. Usable only in support window (24 hours after last message from customer)",
		  "operationId": "SendWhatsAppList",
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "from": {
					"type": "string",
					"description": "from"
				  },
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channel": {
					"type": "string",
					"description": "channel",
					"title": "",
					"default": "whatsapp",
					"x-ms-visibility": "internal"
				  },
				  "content": {
					"type": "object",
					"properties": {
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "",
						"x-ms-visibility": "internal",
						"default": "interactive"
					  },
					  "interactive": {
						"type": "object",
						"properties": {
						  "subType": {
							"type": "string",
							"description": "subType",
							"title": "",
							"default": "list",
							"x-ms-visibility": "internal"
						  },
						  "components": {
							"type": "object",
							"properties": {
							  "header": {
								"type": "object",
								"properties": {
								  "type": {
									"type": "string",
									"description": "type"
								  },
								  "text": {
									"type": "string",
									"description": "text"
								  }
								},
								"description": "header"
							  },
							  "body": {
								"type": "object",
								"properties": {
								  "type": {
									"type": "string",
									"description": "type"
								  },
								  "text": {
									"type": "string",
									"description": "text"
								  }
								},
								"description": "body"
							  },
							  "footer": {
								"type": "object",
								"properties": {
								  "type": {
									"type": "string",
									"description": "type"
								  },
								  "text": {
									"type": "string",
									"description": "text"
								  }
								},
								"description": "footer"
							  },
							  "list": {
								"type": "object",
								"properties": {
								  "title": {
									"type": "string",
									"description": "title"
								  },
								  "sections": {
									"type": "array",
									"items": {
									  "type": "object",
									  "properties": {
										"title": {
										  "type": "string",
										  "description": "title"
										},
										"rows": {
										  "type": "array",
										  "items": {
											"type": "object",
											"properties": {
											  "payload": {
												"type": "string",
												"description": "payload"
											  },
											  "title": {
												"type": "string",
												"description": "title"
											  },
											  "description": {
												"type": "string",
												"description": "description"
											  }
											}
										  },
										  "description": "rows"
										}
									  }
									},
									"description": "sections"
								  }
								},
								"description": "list"
							  }
							},
							"description": "components"
						  }
						},
						"description": "interactive",
						"required": [
						  "subType"
						]
					  }
					},
					"description": "content",
					"required": [
					  "contentType",
					  "interactive"
					]
				  }
				},
				"required": [
				  "channel",
				  "content"
				]
			  }
			}
		  ]
		}
	  },
	  "/conversations/v3/power-automate/messages/whatsapp/image": {
		"post": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "summary": "Send Free-form Image Message",
		  "description": "Sends Free-from Image Message. Usable only in support window (24 hours after last message from customer)",
		  "operationId": "SendsWhatsAppImage",
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "from": {
					"type": "string",
					"description": "from"
				  },
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channel": {
					"type": "string",
					"description": "channel",
					"title": "",
					"default": "whatsapp",
					"x-ms-visibility": "internal"
				  },
				  "content": {
					"type": "object",
					"properties": {
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "",
						"default": "image",
						"x-ms-visibility": "internal"
					  },
					  "image": {
						"type": "object",
						"properties": {
						  "url": {
							"type": "string",
							"description": "url"
						  },
						  "caption": {
							"type": "string",
							"description": "caption"
						  }
						},
						"description": "image"
					  }
					},
					"description": "content",
					"required": [
					  "contentType"
					]
				  }
				},
				"required": [
				  "channel",
				  "content"
				]
			  }
			}
		  ]
		}
	  },
	  "/conversations/v3/power-automate/messages/whatsapp/video": {
		"post": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "from": {
					"type": "string",
					"description": "from"
				  },
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channel": {
					"type": "string",
					"description": "channel",
					"title": "",
					"default": "whatsapp",
					"x-ms-visibility": "internal"
				  },
				  "content": {
					"type": "object",
					"properties": {
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "",
						"x-ms-visibility": "internal",
						"default": "video"
					  },
					  "video": {
						"type": "object",
						"properties": {
						  "url": {
							"type": "string",
							"description": "url"
						  },
						  "caption": {
							"type": "string",
							"description": "caption"
						  }
						},
						"description": "video"
					  }
					},
					"description": "content",
					"required": [
					  "contentType"
					]
				  }
				},
				"required": [
				  "channel",
				  "content"
				]
			  }
			}
		  ],
		  "summary": "Send WhatsApp Free-form Video Message",
		  "description": "Sends WhatsApp free-form video message. Usable only in support window (24 hours after last message from customer)",
		  "operationId": "SendWhatsAppVideo"
		}
	  },
	  "/conversations/v3/power-automate/messages/whatsapp/document": {
		"post": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "from": {
					"type": "string",
					"description": "from"
				  },
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channel": {
					"type": "string",
					"description": "channel",
					"title": "",
					"default": "whatsapp",
					"x-ms-visibility": "internal"
				  },
				  "content": {
					"type": "object",
					"properties": {
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "",
						"default": "document",
						"x-ms-visibility": "internal"
					  },
					  "document": {
						"type": "object",
						"properties": {
						  "url": {
							"type": "string",
							"description": "url"
						  },
						  "caption": {
							"type": "string",
							"description": "caption"
						  },
						  "filename": {
							"type": "string",
							"description": "filename"
						  }
						},
						"description": "document"
					  }
					},
					"description": "content",
					"required": [
					  "contentType"
					]
				  }
				},
				"required": [
				  "channel",
				  "content"
				]
			  }
			}
		  ],
		  "summary": "Send WhatsApp Free-form Document Message",
		  "description": "Sends WhatsApp free-form document message. Usable only in support window (24 hours after last message from customer)",
		  "operationId": "SendWhatsAppDocument"
		}
	  },
	  "/conversations/v3/power-automate/messages/whatsapp/audio": {
		"post": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "from": {
					"type": "string",
					"description": "from"
				  },
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channel": {
					"type": "string",
					"description": "channel",
					"title": "",
					"x-ms-visibility": "internal",
					"default": "whatsapp"
				  },
				  "content": {
					"type": "object",
					"properties": {
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "",
						"x-ms-visibility": "internal",
						"default": "audio"
					  },
					  "audio": {
						"type": "object",
						"properties": {
						  "url": {
							"type": "string",
							"description": "url"
						  }
						},
						"description": "audio"
					  }
					},
					"description": "content",
					"required": [
					  "contentType"
					]
				  }
				},
				"required": [
				  "channel",
				  "content"
				]
			  }
			}
		  ],
		  "summary": "Send Free-form Audio Message",
		  "description": "Sends Free-form audio message. Usable only in support window (24 hours after last message from customer)",
		  "operationId": "SendWhatsAppAudio"
		}
	  },
	  "/conversations/v3/power-automate/messages/whatsapp/sticker": {
		"post": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "summary": "Send WhatsApp Free-form Sticker Message",
		  "description": "Sends WhatsApp sticker Message. Usable only in support window (24 hours after last message from customer)",
		  "operationId": "SendWhatsAppSticker",
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "from": {
					"type": "string",
					"description": "from"
				  },
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channel": {
					"type": "string",
					"description": "channel",
					"title": "",
					"default": "whatsapp",
					"x-ms-visibility": "internal"
				  },
				  "content": {
					"type": "object",
					"properties": {
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "",
						"x-ms-visibility": "internal",
						"default": "sticker"
					  },
					  "sticker": {
						"type": "object",
						"properties": {
						  "url": {
							"type": "string",
							"description": "url"
						  }
						},
						"description": "sticker"
					  }
					},
					"description": "content",
					"required": [
					  "contentType"
					]
				  }
				},
				"required": [
				  "channel",
				  "content"
				]
			  }
			}
		  ]
		}
	  },
	  "/conversations/v3/power-automate/messages/whatsapp/template-text": {
		"post": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "from": {
					"type": "string",
					"description": "from"
				  },
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channel": {
					"type": "string",
					"description": "channel",
					"title": "",
					"default": "whatsapp",
					"x-ms-visibility": "internal"
				  },
				  "content": {
					"type": "object",
					"properties": {
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "",
						"default": "template",
						"x-ms-visibility": "internal"
					  },
					  "template": {
						"type": "object",
						"properties": {
						  "templateId": {
							"type": "string",
							"description": "templateId"
						  },
						  "templateLanguage": {
							"type": "string",
							"description": "templateLanguage"
						  },
						  "components": {
							"type": "object",
							"properties": {
							  "header": {
								"type": "array",
								"items": {
								  "type": "object",
								  "properties": {
									"type": {
									  "type": "string",
									  "description": "type"
									},
									"text": {
									  "type": "string",
									  "description": "text"
									}
								  }
								},
								"description": "header"
							  },
							  "body": {
								"type": "array",
								"items": {
								  "type": "object",
								  "properties": {
									"type": {
									  "type": "string",
									  "description": "type"
									},
									"text": {
									  "type": "string",
									  "description": "text"
									}
								  }
								},
								"description": "body"
							  }
							},
							"description": "components"
						  }
						},
						"description": "template"
					  }
					},
					"description": "content",
					"required": [
					  "contentType"
					]
				  }
				},
				"required": [
				  "channel",
				  "content"
				]
			  }
			}
		  ],
		  "operationId": "SendWhatsAppTemplateText",
		  "summary": "Send WhatsApp Template Text Message",
		  "description": "Sends WhatsApp template text message. Usable anytime. Requires registered template."
		}
	  },
	  "/conversations/v3/power-automate/messages/whatsapp/template-location": {
		"post": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "operationId": "SendWhatsAppTemplateLocation",
		  "summary": "Send WhatsApp Template Location Message",
		  "description": "Sends WhatsApp location template message. Usable anytime. Requires registered template.",
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "from": {
					"type": "string",
					"description": "from"
				  },
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channel": {
					"type": "string",
					"description": "channel",
					"title": "",
					"default": "whatsapp",
					"x-ms-visibility": "internal"
				  },
				  "content": {
					"type": "object",
					"properties": {
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "",
						"default": "template",
						"x-ms-visibility": "internal"
					  },
					  "template": {
						"type": "object",
						"properties": {
						  "templateId": {
							"type": "string",
							"description": "templateId"
						  },
						  "templateLanguage": {
							"type": "string",
							"description": "templateLanguage"
						  },
						  "components": {
							"type": "object",
							"properties": {
							  "header": {
								"type": "array",
								"items": {
								  "type": "object",
								  "properties": {
									"location": {
									  "type": "object",
									  "properties": {
										"longitude": {
										  "type": "number",
										  "format": "float",
										  "description": "longitude"
										},
										"latitude": {
										  "type": "number",
										  "format": "float",
										  "description": "latitude"
										},
										"name": {
										  "type": "string",
										  "description": "name"
										},
										"address": {
										  "type": "string",
										  "description": "address"
										}
									  },
									  "description": "location"
									},
									"header-type": {
									  "type": "string",
									  "description": "type",
									  "title": "type",
									  "default": "location",
									  "x-ms-visibility": "internal"
									}
								  },
								  "required": [
									"header-type"
								  ]
								},
								"description": "header"
							  },
							  "body": {
								"type": "array",
								"items": {
								  "type": "object",
								  "properties": {
									"type": {
									  "type": "string",
									  "description": "type"
									},
									"text": {
									  "type": "string",
									  "description": "text"
									}
								  }
								},
								"description": "body"
							  }
							},
							"description": "components",
							"required": [
							  "header"
							]
						  }
						},
						"description": "template",
						"required": [
						  "components"
						]
					  }
					},
					"description": "content",
					"required": [
					  "template",
					  "contentType"
					]
				  }
				},
				"required": [
				  "content",
				  "channel"
				]
			  }
			}
		  ]
		}
	  },
	  "/conversations/v3/power-automate/messages/whatsapp/template-image": {
		"post": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "from": {
					"type": "string",
					"description": "from"
				  },
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channel": {
					"type": "string",
					"description": "channel",
					"title": "",
					"default": "whatsapp",
					"x-ms-visibility": "internal"
				  },
				  "content": {
					"type": "object",
					"properties": {
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "",
						"x-ms-visibility": "internal",
						"default": "template"
					  },
					  "template": {
						"type": "object",
						"properties": {
						  "templateId": {
							"type": "string",
							"description": "templateId"
						  },
						  "templateLanguage": {
							"type": "string",
							"description": "templateLanguage"
						  },
						  "components": {
							"type": "object",
							"properties": {
							  "header": {
								"type": "array",
								"items": {
								  "type": "object",
								  "properties": {
									"type": {
									  "type": "string",
									  "description": "type"
									},
									"image": {
									  "type": "object",
									  "properties": {
										"url": {
										  "type": "string",
										  "description": "url"
										}
									  },
									  "description": "image"
									}
								  }
								},
								"description": "header"
							  },
							  "body": {
								"type": "array",
								"items": {
								  "type": "object",
								  "properties": {
									"type": {
									  "type": "string",
									  "description": "type",
									  "title": "",
									  "default": "image",
									  "x-ms-visibility": "internal"
									},
									"text": {
									  "type": "string",
									  "description": "text"
									}
								  },
								  "required": [
									"type"
								  ]
								},
								"description": "body"
							  }
							},
							"description": "components",
							"required": [
							  "body"
							]
						  }
						},
						"description": "template",
						"required": [
						  "components"
						]
					  }
					},
					"description": "content",
					"required": [
					  "contentType",
					  "template"
					]
				  }
				},
				"required": [
				  "channel",
				  "content"
				]
			  }
			}
		  ],
		  "summary": "Send WhatsApp Template Image Message",
		  "description": "Sends WhatsApp template message with image. Usable anytime. Requires registered template.",
		  "operationId": "SendWhatsAppTemplateImage"
		}
	  },
	  "/conversations/v3/power-automate/messages/whatsapp/template-document": {
		"post": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "summary": "Send WhatsApp Template Document Message",
		  "operationId": "SendWhatsAppTemplateDocument",
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "from": {
					"type": "string",
					"description": "from"
				  },
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channel": {
					"type": "string",
					"description": "channel",
					"title": "",
					"x-ms-visibility": "internal",
					"default": "whatsapp"
				  },
				  "content": {
					"type": "object",
					"properties": {
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "",
						"default": "template",
						"x-ms-visibility": "internal"
					  },
					  "template": {
						"type": "object",
						"properties": {
						  "templateId": {
							"type": "string",
							"description": "templateId"
						  },
						  "templateLanguage": {
							"type": "string",
							"description": "templateLanguage"
						  },
						  "components": {
							"type": "object",
							"properties": {
							  "header": {
								"type": "array",
								"items": {
								  "type": "object",
								  "properties": {
									"type": {
									  "type": "string",
									  "description": "type"
									},
									"document": {
									  "type": "object",
									  "properties": {
										"url": {
										  "type": "string",
										  "description": "url"
										}
									  },
									  "description": "document"
									}
								  }
								},
								"description": "header"
							  },
							  "body": {
								"type": "array",
								"items": {
								  "type": "object",
								  "properties": {
									"type": {
									  "type": "string",
									  "description": "type"
									},
									"text": {
									  "type": "string",
									  "description": "text"
									}
								  }
								},
								"description": "body"
							  }
							},
							"description": "components"
						  }
						},
						"description": "template"
					  }
					},
					"description": "content",
					"required": [
					  "contentType"
					]
				  }
				},
				"required": [
				  "channel",
				  "content"
				]
			  }
			}
		  ],
		  "description": "Sends WhatsApp template document image. Usable anytime. Requires registered template."
		}
	  },
	  "/conversations/v3/power-automate/messages/whatsapp/template-video": {
		"post": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "from": {
					"type": "string",
					"description": "from"
				  },
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channel": {
					"type": "string",
					"description": "channel"
				  },
				  "content": {
					"type": "object",
					"properties": {
					  "contentType": {
						"type": "string",
						"description": "contentType"
					  },
					  "template": {
						"type": "object",
						"properties": {
						  "templateId": {
							"type": "string",
							"description": "templateId"
						  },
						  "templateLanguage": {
							"type": "string",
							"description": "templateLanguage"
						  },
						  "components": {
							"type": "object",
							"properties": {
							  "header": {
								"type": "array",
								"items": {
								  "type": "object",
								  "properties": {
									"type": {
									  "type": "string",
									  "description": "type"
									},
									"video": {
									  "type": "object",
									  "properties": {
										"url": {
										  "type": "string",
										  "description": "url"
										}
									  },
									  "description": "video"
									}
								  }
								},
								"description": "header"
							  },
							  "body": {
								"type": "array",
								"items": {
								  "type": "object",
								  "properties": {
									"type": {
									  "type": "string",
									  "description": "type"
									},
									"text": {
									  "type": "string",
									  "description": "text"
									}
								  }
								},
								"description": "body"
							  }
							},
							"description": "components"
						  }
						},
						"description": "template"
					  }
					},
					"description": "content"
				  }
				}
			  }
			}
		  ],
		  "summary": "Send Whatsapp Template Video Message",
		  "description": "Sends Whatsapp template video message. Usable anytime. Requires registered template.",
		  "operationId": "SendWhatsAppTemplateVideo"
		}
	  },
	  "/conversations/v3/power-automate/messages/whatsapp/template-dynamic-button": {
		"post": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "from": {
					"type": "string",
					"description": "from"
				  },
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channel": {
					"type": "string",
					"description": "channel",
					"title": "",
					"x-ms-visibility": "internal",
					"default": "whatsapp"
				  },
				  "content": {
					"type": "object",
					"properties": {
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "",
						"default": "template",
						"x-ms-visibility": "internal"
					  },
					  "template": {
						"type": "object",
						"properties": {
						  "templateId": {
							"type": "string",
							"description": "templateId"
						  },
						  "templateLanguage": {
							"type": "string",
							"description": "templateLanguage"
						  },
						  "components": {
							"type": "object",
							"properties": {
							  "body": {
								"type": "array",
								"items": {
								  "type": "object",
								  "properties": {
									"type": {
									  "type": "string",
									  "description": "type"
									},
									"text": {
									  "type": "string",
									  "description": "text"
									}
								  }
								},
								"description": "body"
							  },
							  "button": {
								"type": "array",
								"items": {
								  "type": "object",
								  "properties": {
									"type": {
									  "type": "string",
									  "description": "type"
									},
									"index": {
									  "type": "integer",
									  "format": "int32",
									  "description": "index"
									},
									"text": {
									  "type": "string",
									  "description": "text"
									}
								  }
								},
								"description": "button"
							  }
							},
							"description": "components"
						  }
						},
						"description": "template"
					  }
					},
					"description": "content",
					"required": [
					  "contentType"
					]
				  }
				},
				"required": [
				  "channel",
				  "content"
				]
			  }
			}
		  ],
		  "operationId": "SendWhatsAppTemplateDynamicButton",
		  "summary": "Send WhatsApp Template Dynamic URL Button",
		  "description": "Sends WhatsApp template dynamic URL button. Usable anytime. Requires registered template."
		}
	  },
	  "/conversations/v3/power-automate/messages/whatsapp/template-quick-reply": {
		"post": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp"
				  }
				}
			  }
			}
		  },
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "from": {
					"type": "string",
					"description": "from"
				  },
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channel": {
					"type": "string",
					"description": "channel",
					"title": "",
					"default": "whatsapp",
					"x-ms-visibility": "internal"
				  },
				  "content": {
					"type": "object",
					"properties": {
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "",
						"default": "template",
						"x-ms-visibility": "internal"
					  },
					  "template": {
						"type": "object",
						"properties": {
						  "templateId": {
							"type": "string",
							"description": "templateId"
						  },
						  "templateLanguage": {
							"type": "string",
							"description": "templateLanguage"
						  },
						  "components": {
							"type": "object",
							"properties": {
							  "body": {
								"type": "array",
								"items": {
								  "type": "object",
								  "properties": {
									"type": {
									  "type": "string",
									  "description": "type"
									},
									"text": {
									  "type": "string",
									  "description": "text"
									}
								  }
								},
								"description": "body"
							  },
							  "button": {
								"type": "array",
								"items": {
								  "type": "object",
								  "properties": {
									"type": {
									  "type": "string",
									  "description": "type"
									},
									"index": {
									  "type": "integer",
									  "format": "int32",
									  "description": "index"
									},
									"payload": {
									  "type": "string",
									  "description": "payload"
									}
								  }
								},
								"description": "button"
							  }
							},
							"description": "components"
						  }
						},
						"description": "template"
					  }
					},
					"description": "content",
					"required": [
					  "contentType"
					]
				  }
				},
				"required": [
				  "channel",
				  "content"
				]
			  }
			}
		  ],
		  "operationId": "SendWhatsAppTemplateQuickReply",
		  "summary": "Send WhatsApp Template Quick Reply",
		  "description": "This action sends WhatsApp template with quick reply. Usable anytime. Requires registered template."
		}
	  },
	  "/conversations/v3/power-automate/webhooks/channels/whatsapp/phone-numbers/{WABA}": {
		"x-ms-notification-content": {
		  "description": "Response",
		  "schema": {
			"type": "object",
			"properties": {
			  "messageId": {
				"type": "string",
				"description": "messageId"
			  },
			  "channel": {
				"type": "string",
				"description": "channel"
			  },
			  "from": {
				"type": "string",
				"description": "from"
			  },
			  "to": {
				"type": "string",
				"description": "to"
			  },
			  "receivedAt": {
				"type": "string",
				"description": "receivedAt"
			  },
			  "content": {
				"type": "object",
				"properties": {
				  "contentType": {
					"type": "string",
					"description": "contentType"
				  },
				  "text": {
					"type": "string",
					"description": "text"
				  }
				},
				"description": "content"
			  },
			  "event": {
				"type": "string",
				"description": "event"
			  },
			  "whatsapp": {
				"type": "object",
				"properties": {
				  "senderName": {
					"type": "string",
					"description": "senderName"
				  }
				},
				"description": "whatsapp"
			  },
			  "timestamp": {
				"type": "string",
				"description": "timestamp"
			  }
			}
		  }
		},
		"post": {
		  "responses": {},
		  "summary": "Incoming message",
		  "description": "Triggers on Incoming message",
		  "operationId": "IncomingV2",
		  "x-ms-trigger": "single",
		  "parameters": [
			{
			  "name": "WABA",
			  "x-ms-summary": "Your WhatsApp Business Account Number",
			  "description": "Your WhatsApp Business Account Number",
			  "in": "path",
			  "required": true,
			  "type": "string"
			},
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "inboundMessageUrl": {
					"type": "string",
					"description": "inboundMessageUrl",
					"x-ms-notification-url": true,
					"x-ms-visibility": "internal",
					"title": ""
				  }
				},
				"required": [
				  "inboundMessageUrl"
				]
			  }
			}
		  ]
		}
	  }
	},
	"definitions": {},
	"parameters": {},
	"responses": {},
	"securityDefinitions": {
	  "api_key": {
		"in": "header",
		"name": "apikey",
		"type": "apiKey"
	  }
	},
	"security": [],
	"tags": [],
	"x-ms-capabilities": {
	  "testConnection": {
		"operationId": "TestMyAPIConnection",
		"parameters": {}
	  }
	},
	"x-ms-connector-metadata": [
	  {
		"propertyName": "Website",
		"propertyValue": "https://www.tyntec.com"
	  },
	  {
		"propertyName": "Privacy policy",
		"propertyValue": "https://www.tyntec.com/data-privacy-statement"
	  },
	  {
		"propertyName": "Categories",
		"propertyValue": "Communication;Commerce"
	  }
	]
  }