{
  "swagger": "2.0",
  "info": {
    "title": "tyntec WhatsApp",
    "description": "Provides WhatsApp communication channel to expand your customer engagement",
    "contact": {
      "name": "tyntec support",
      "url": "https://www.tyntec.com/get-help-support",
      "email": "support@tyntec.com"
    },
    "version": "1.0"
  },
  "host": "api.tyntec.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/chat-api/v2/messages/{id}/status": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId"
                },
                "deliveryChannel": {
                  "type": "string",
                  "description": "deliveryChannel"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "timestamp": {
                  "type": "string",
                  "description": "timestamp"
                }
              }
            }
          }
        },
        "summary": "Status_Check",
        "description": "Check for status of your Message on given MessageID. Returned response holds the status (delivered/accepted/failed) in the status field.",
        "operationId": "Status_Check",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "To check status of your message, you need to provide tyntec Conversation API with ID",
            "x-ms-summary": "ID of your message"
          },
          {
            "name": "apikey",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Your tyntec Conversation API key received from https://my.tyntec.com/api-settings.",
            "x-ms-summary": "Your tyntec API key"
          }
        ]
      }
    },
    "/api.tyntec.com/chat-api/v2/messages": {},
    "/chat-api/v2/messages": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId"
                }
              }
            }
          }
        },
        "summary": "Send WhatsApp Template message",
        "description": "Send WhatsApp Template message",
        "operationId": "Send_WhatsApp",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Your tyntec Conversation API key received from https://my.tyntec.com/api-settings.",
            "x-ms-summary": "Your tyntec API key"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string",
                  "description": "Receiver's phone number",
                  "title": "to"
                },
                "channels": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "tyntec Conversation API channel",
                    "title": "Channel",
                    "default": "whatsapp"
                  },
                  "description": "channels"
                },
                "whatsapp": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "Your WhatsApp Business Account Number",
                      "title": "from"
                    },
                    "template": {
                      "type": "object",
                      "properties": {
                        "templateId": {
                          "type": "string",
                          "description": "Your template id",
                          "title": "templateId"
                        },
                        "language": {
                          "type": "object",
                          "properties": {
                            "policy": {
                              "type": "string",
                              "description": "policy (use deterministic)",
                              "title": "language-policy",
                              "default": "deterministic"
                            },
                            "code": {
                              "type": "string",
                              "description": "code",
                              "title": "language-code",
                              "default": "en"
                            }
                          },
                          "description": "language",
                          "required": [
                            "code",
                            "policy"
                          ]
                        },
                        "components": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "type (use body)",
                                "title": "type",
                                "default": "body"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "type"
                                    },
                                    "text": {
                                      "type": "string",
                                      "description": "text"
                                    }
                                  }
                                },
                                "description": "parameters"
                              }
                            },
                            "required": [
                              "type"
                            ]
                          },
                          "description": "components"
                        }
                      },
                      "description": "template",
                      "required": [
                        "components",
                        "language",
                        "templateId"
                      ]
                    },
                    "contentType": {
                      "type": "string",
                      "description": "contentType (use template)",
                      "title": "contentType",
                      "default": "template"
                    }
                  },
                  "description": "whatsapp",
                  "required": [
                    "contentType",
                    "from",
                    "template"
                  ]
                }
              },
              "required": [
                "to",
                "channels",
                "whatsapp"
              ]
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tyntec.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tyntec.com/data-privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Commerce"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}