{
	"swagger": "2.0",
	"info": {
	  "title": "tyntec WhatsApp Business",
	  "description": "Enables WhatsApp communication channel using the tyntec Conversations API to improve your communication ability",
	  "contact": {
		"name": "tyntec support",
		"url": "https://www.tyntec.com/get-help-support",
		"email": "support@tyntec.com"
	  },
	  "version": "2.3"
	},
	"host": "api.tyntec.com",
	"basePath": "/",
	"schemes": [
	  "https"
	],
	"consumes": [],
	"produces": [],
	"paths": {
	  "/chat-api/v2/applications/ms-connector/inbound-message-callback": {
		"x-ms-notification-content": {
		  "description": "Response",
		  "schema": {
			"type": "object",
			"properties": {
			  "messageId": {
				"type": "string",
				"description": "messageId"
			  },
			  "channel": {
				"type": "string",
				"description": "channel"
			  },
			  "from": {
				"type": "string",
				"description": "from"
			  },
			  "to": {
				"type": "string",
				"description": "to"
			  },
			  "receivedAt": {
				"type": "string",
				"description": "receivedAt"
			  },
			  "content": {
				"type": "object",
				"properties": {
				  "contentType": {
					"type": "string",
					"description": "contentType"
				  },
				  "text": {
					"type": "string",
					"description": "text"
				  },
				  "file": {
					"type": "string",
					"description": "file"
				  }
				},
				"description": "content"
			  },
			  "event": {
				"type": "string",
				"description": "event"
			  },
			  "timestamp": {
				"type": "string",
				"description": "timestamp"
			  }
			}
		  }
		},
		"patch": {
		  "responses": {},
		  "summary": "Incoming message",
		  "description": "Triggers on Incoming message",
		  "operationId": "incoming",
		  "x-ms-trigger": "single",
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "callbackUrl": {
					"type": "string",
					"description": "callbackUrl",
					"x-ms-notification-url": true,
					"x-ms-visibility": "internal",
					"title": "callback"
				  }
				},
				"required": [
				  "callbackUrl"
				]
			  }
			}
		  ]
		}
	  },
	  "/chat-api/v2/messages/{id}/status": {
		"get": {
		  "responses": {
			"202": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId",
					"x-ms-visibility": "important"
				  },
				  "deliveryChannel": {
					"type": "string",
					"description": "deliveryChannel",
					"x-ms-visibility": "important"
				  },
				  "status": {
					"type": "string",
					"description": "status",
					"x-ms-visibility": "important"
				  },
				  "timestamp": {
					"type": "string",
					"description": "timestamp",
					"x-ms-visibility": "important"
				  }
				}
			  }
			}
		  },
		  "summary": "Status Check",
		  "description": "Check for status of your message",
		  "operationId": "StatusCheck",
		  "parameters": [
			{
			  "name": "id",
			  "in": "path",
			  "required": true,
			  "type": "string",
			  "description": "messageId",
			  "x-ms-summary": "message ID",
			  "x-ms-url-encoding": "single"
			}
		  ]
		}
	  },
	  "/chat-api/v2/messages": {
		"post": {
		  "responses": {
			"202": {
			  "description": "Returned when the operation successfully connects to Conversations API",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId",
					"x-ms-visibility": "important"
				  }
				}
			  }
			}
		  },
		  "summary": "Send WhatsApp Template message",
		  "description": "Send WhatsApp Template message",
		  "operationId": "SendWhatsApp",
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": true,
			  "schema": {
				"type": "object",
				"properties": {
				  "to": {
					"type": "string",
					"description": "Receiver's phone number",
					"title": "to"
				  },
				  "channels": {
					"type": "array",
					"items": {
					  "type": "string",
					  "description": "tyntec Conversation API channel",
					  "title": "Channel",
					  "default": "whatsapp",
					  "x-ms-visibility": "internal"
					},
					"description": "channels"
				  },
				  "whatsapp": {
					"type": "object",
					"properties": {
					  "from": {
						"type": "string",
						"description": "Your WhatsApp Business Account Number",
						"title": "from"
					  },
					  "template": {
						"type": "object",
						"properties": {
						  "templateId": {
							"type": "string",
							"description": "Your template id",
							"title": "templateId"
						  },
						  "language": {
							"type": "object",
							"properties": {
							  "policy": {
								"type": "string",
								"description": "language policy",
								"title": "language-policy",
								"default": "deterministic"
							  },
							  "code": {
								"type": "string",
								"description": "language code",
								"title": "language-code",
								"default": "en"
							  }
							},
							"description": "language",
							"required": [
							  "code",
							  "policy"
							]
						  },
						  "components": {
							"type": "array",
							"items": {
							  "type": "object",
							  "properties": {
								"type": {
								  "type": "string",
								  "description": "type",
								  "title": "type",
								  "default": "body"
								},
								"parameters": {
								  "type": "array",
								  "items": {
									"type": "object",
									"properties": {
									  "type": {
										"type": "string",
										"description": "type of the parameter"
									  },
									  "subType": {
										"type": "string",
										"description": "Used for Call to action buttons"
									  },
									  "media": {
										"type": "object",
										"properties": {
										  "url": {
											"type": "string",
											"description": "url"
										  },
										  "type": {
											"type": "string",
											"description": "Type of used media"
										  },
										  "filename": {
											"type": "string",
											"description": "filename"
										  }
										},
										"description": "media"
									  },
									  "text": {
										"type": "string",
										"description": "text"
									  }
									}
								  },
								  "description": "parameters"
								}
							  },
							  "required": [
								"type"
							  ]
							},
							"description": "components"
						  }
						},
						"description": "template",
						"required": [
						  "components",
						  "language",
						  "templateId"
						]
					  },
					  "contentType": {
						"type": "string",
						"description": "contentType",
						"title": "contentType",
						"default": "template",
						"x-ms-visibility": "internal"
					  }
					},
					"description": "whatsapp",
					"required": [
					  "contentType",
					  "from",
					  "template"
					]
				  }
				},
				"required": [
				  "to",
				  "channels",
				  "whatsapp"
				]
			  }
			}
		  ]
		}
	  },
	  "/chat-api/v2/messages/": {
		"post": {
		  "responses": {
			"202": {
			  "description": "Returned when the operation successfully connects to Conversations API",
			  "schema": {
				"type": "object",
				"properties": {
				  "messageId": {
					"type": "string",
					"description": "messageId",
					"x-ms-visibility": "important"
				  }
				}
			  }
			}
		  },
		  "summary": "WhatsApp Free-Form Message",
		  "description": "Send free form message",
		  "operationId": "SendFreeformMessage",
		  "parameters": [
			{
			  "name": "body",
			  "in": "body",
			  "required": false,
			  "schema": {
				"type": "object",
				"properties": {
				  "to": {
					"type": "string",
					"description": "to"
				  },
				  "channels": {
					"type": "array",
					"items": {
					  "type": "string",
					  "description": "tyntec Conversation API channel",
					  "title": "Channel",
					  "default": "whatsapp",
					  "x-ms-visibility": "internal"
					},
					"description": "channels"
				  },
				  "whatsapp": {
					"type": "object",
					"properties": {
					  "from": {
						"type": "string",
						"description": "from"
					  },
					  "media": {
						"type": "object",
						"properties": {
						  "type": {
							"type": "string",
							"description": "type"
						  },
						  "url": {
							"type": "string",
							"description": "url"
						  },
						  "caption": {
							"type": "string",
							"description": "caption"
						  }
						},
						"description": "media"
					  },
					  "contentType": {
						"type": "string",
						"description": "contentType"
					  },
					  "text": {
						"type": "string",
						"description": "text"
					  }
					},
					"description": "whatsapp"
				  }
				},
				"required": [
				  "channels"
				]
			  }
			}
		  ]
		}
	  },
	  "/conversations/v3/channels/whatsapp/phone-numbers/{whatsAppBusinessNumber}": {
		"get": {
		  "responses": {
			"200": {
			  "description": "default",
			  "schema": {
				"type": "object",
				"properties": {
				  "phoneNumber": {
					"type": "string",
					"description": "Your Number"
				  },
				  "displayPhoneNumber": {
					"type": "string",
					"description": "The displayed version of the phone number"
				  },
				  "verifiedName": {
					"type": "string",
					"description": "The verified name"
				  },
				  "qualityRating": {
					"type": "string",
					"description": "Your quality rating"
				  },
				  "status": {
					"type": "string",
					"description": "status"
				  },
				  "whatsAppAccountId": {
					"type": "string",
					"description": "Your WhatsApp account ID"
				  },
				  "managedBy": {
					"type": "object",
					"properties": {
					  "accountName": {
						"type": "string",
						"description": "Your account name"
					  }
					},
					"description": "managed By"
				  },
				  "messagingVia": {
					"type": "object",
					"properties": {
					  "accountName": {
						"type": "string",
						"description": "The managinng account name"
					  }
					},
					"description": "messagingVia"
				  },
				  "messagingTier": {
					"type": "string",
					"description": "Your messaging tier"
				  },
				  "qualityScore": {
					"type": "object",
					"properties": {
					  "score": {
						"type": "string",
						"description": "Your score"
					  }
					},
					"description": "Your quality score"
				  }
				}
			  }
			}
		  },
		  "operationId": "TestPhoneNumber",
		  "summary": "Validate your WABA number",
		  "description": "Validate your WABA number",
		  "parameters": [
			{
			  "name": "whatsAppBusinessNumber",
			  "in": "path",
			  "required": true,
			  "type": "string",
			  "x-ms-summary": "WhatsAppBusinessNumber",
			  "description": "WABA for validation"
			}
		  ]
		}
	  },
	  "/conversations/v3/configurations/channels/whatsapp": {
		"get": {
		  "responses": {
			"200": {
			  "description": "default",
			  "schema": {
				"type": "array",
				"items": {}
			  }
			}
		  },
		  "x-ms-visibility": "internal",
		  "operationId": "TestMyAPIConnection",
		  "description": "TestConnection",
		  "summary": "testConnection",
		  "parameters": []
		}
	  }
	},
	"definitions": {},
	"parameters": {},
	"responses": {},
	"securityDefinitions": {
	  "api_key": {
		"in": "header",
		"name": "apikey",
		"type": "apiKey"
	  }
	},
	"security": [],
	"tags": [],
	"x-ms-capabilities": {
	  "testConnection": {
		"operationId": "TestMyAPIConnection",
		"parameters": {}
	  }
	},
	"x-ms-connector-metadata": [
	  {
		"propertyName": "Website",
		"propertyValue": "https://www.tyntec.com"
	  },
	  {
		"propertyName": "Privacy policy",
		"propertyValue": "https://www.tyntec.com/data-privacy-statement"
	  },
	  {
		"propertyName": "Categories",
		"propertyValue": "Communication;Commerce"
	  }
	]
  }