{
  "swagger": "2.0",
  "info": {
    "title": "tyntec-wa",
    "description": "Enables WhatsApp communication channel using the tyntec Conversations API to improve your communication ability",
    "contact": {
      "name": "tyntec support",
      "url": "https://www.tyntec.com/get-help-support",
      "email": "support@tyntec.com"
    },
    "version": "1.1"
  },
  "host": "api.tyntec.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/chat-api/v2/messages/{id}/status": {
      "get": {
      "responses": {
          "202": {
            "description": "Returned when the operation successfully connects to Conversations API",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId",
                  "x-ms-visibility": "important"
                },
                "deliveryChannel": {
                  "type": "string",
                  "description": "deliveryChannel",
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-visibility": "important"
                },
                "timestamp": {
                  "type": "string",
                  "description": "timestamp",
                  "x-ms-visibility": "important"
                }
              }
            }
          },
          "404":{
            "description": "No message was found on given ID"
          },
          "403":{
            "description": "Invalid authentication credentials"
          }
        },
        "summary": "Status Check",
        "description": "Check for status of your message",
        "operationId": "StatusCheck",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "messageId",
            "x-ms-summary": "message ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/chat-api/v2/messages": {
      "post": {
        "responses": {
          "2O2": {
            "description": "Returned when the operation successfully connects to Conversations API",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId",
                  "x-ms-visibility": "important"
                }
              }
            }
          },
          "400": {
            "description": "There was an issue with your channel."
          },
          "401": {
            "description": "The Viber Service ID or WhatsApp Business Account Number is not authorized with used API key."
          }
        },
        "summary": "Send WhatsApp Template message",
        "description": "Send WhatsApp Template message",
        "operationId": "SendWhatsApp",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string",
                  "description": "Receiver's phone number",
                  "title": "to"
                },
                "channels": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "tyntec Conversation API channel",
                    "title": "Channel",
                    "default": "whatsapp",
                    "x-ms-visibility": "internal"
                  },
                  "description": "channels"
                },
                "whatsapp": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "Your WhatsApp Business Account Number",
                      "title": "from"
                    },
                    "template": {
                      "type": "object",
                      "properties": {
                        "templateId": {
                          "type": "string",
                          "description": "Your template id",
                          "title": "templateId"
                        },
                        "language": {
                          "type": "object",
                          "properties": {
                            "policy": {
                              "type": "string",
                              "description": "language policy",
                              "title": "language-policy",
                              "default": "deterministic"
                            },
                            "code": {
                              "type": "string",
                              "description": "language code",
                              "title": "language-code",
                              "default": "en"
                            }
                          },
                          "description": "language",
                          "required": [
                            "code",
                            "policy"
                          ]
                        },
                        "components": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "type",
                                "title": "type",
                                "default": "body",
                                "x-ms-visibility": "internal"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "type"
                                    },
                                    "text": {
                                      "type": "string",
                                      "description": "text"
                                    }
                                  }
                                },
                                "description": "parameters"
                              }
                            },
                            "required": [
                              "type"
                            ]
                          },
                          "description": "components"
                        }
                      },
                      "description": "template",
                      "required": [
                        "components",
                        "language",
                        "templateId"
                      ]
                    },
                    "contentType": {
                      "type": "string",
                      "description": "contentType",
                      "title": "contentType",
                      "default": "template",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "whatsapp",
                  "required": [
                    "contentType",
                    "from",
                    "template"
                  ]
                }
              },
              "required": [
                "to",
                "channels",
                "whatsapp"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "apikey"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tyntec.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tyntec.com/data-privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Commerce"
    }
  ]
}