{
  "swagger": "2.0",
  "info": {
    "title": "Refuge Restrooms",
    "version": "1.0.0",
    "description": "Refuge Restrooms is a web application that seeks to provide safe restroom access for transgender, intersex, and gender nonconforming individuals. Users can search for restrooms by proximity to a search location, add new restroom listings, as well as comment and rate existing listings.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "www.refugerestrooms.org",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/v1/restrooms/by_date": {
      "get": {
        "description": "Search for restroom records updated or created on or after a given date.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "x-ms-summary": "Page",
            "description": "Page offset to fetch.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "x-ms-summary": "Per Page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "offset",
            "x-ms-summary": "Offset",
            "description": "Pad a number of results.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "ada",
            "x-ms-summary": "ADA",
            "description": "Only return restrooms that are ADA accessible.",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "unisex",
            "x-ms-summary": "Unisex",
            "description": "Only return restrooms that are unisex.",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "updated",
            "x-ms-summary": "Updated",
            "description": "Return restroom records updated (rather than created) since given date",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "day",
            "x-ms-summary": "Day",
            "description": "Day",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "query",
            "name": "month",
            "x-ms-summary": "Month",
            "description": "Month",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "query",
            "name": "year",
            "x-ms-summary": "Year",
            "description": "Year",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Search for restroom records updated or created on or after a given date",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "street": {
                    "type": "string",
                    "description": "The street.",
                    "title": "Street"
                  },
                  "city": {
                    "type": "string",
                    "description": "The city.",
                    "title": "City"
                  },
                  "state": {
                    "type": "string",
                    "description": "The state.",
                    "title": "State"
                  },
                  "accessible": {
                    "type": "boolean",
                    "description": "Whether accessible.",
                    "title": "Accessible"
                  },
                  "unisex": {
                    "type": "boolean",
                    "description": "Whether unisex.",
                    "title": "Unisex"
                  },
                  "directions": {
                    "type": "string",
                    "description": "The directions.",
                    "title": "Directions"
                  },
                  "comment": {
                    "type": "string",
                    "description": "The comment.",
                    "title": "Comment"
                  },
                  "latitude": {
                    "type": "number",
                    "format": "float",
                    "description": "The latitude.",
                    "title": "Latitude"
                  },
                  "longitude": {
                    "type": "number",
                    "format": "float",
                    "description": "The longitude.",
                    "title": "Longitude"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "When created at.",
                    "title": "Created At"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "When updated at.",
                    "title": "Updated At"
                  },
                  "downvote": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of downvotes.",
                    "title": "Downvote"
                  },
                  "upvote": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of upvotes.",
                    "title": "Upvote"
                  },
                  "country": {
                    "type": "string",
                    "description": "The country.",
                    "title": "Country"
                  },
                  "changing_table": {
                    "type": "boolean",
                    "description": "Whether there is a changing table.",
                    "title": "Changing Table"
                  },
                  "edit_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The edit identifier.",
                    "title": "Edit ID"
                  },
                  "approved": {
                    "type": "boolean",
                    "description": "Whether approved.",
                    "title": "Approved"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "restrooms"
        ],
        "operationId": "RestroomsByDate",
        "summary": "Get restrooms by date"
      }
    },
    "/v1/restrooms/by_location": {
      "get": {
        "description": "Search by location.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "x-ms-summary": "Page",
            "description": "Page offset to fetch.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "x-ms-summary": "Per Page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "offset",
            "x-ms-summary": "Offset",
            "description": "Pad a number of results.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "ada",
            "x-ms-summary": "ADA",
            "description": "Only return restrooms that are ADA accessible.",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "unisex",
            "x-ms-summary": "Unisex",
            "description": "Only return restrooms that are unisex.",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "lat",
            "x-ms-summary": "Lat",
            "description": "latitude",
            "type": "number",
            "format": "float",
            "required": true
          },
          {
            "in": "query",
            "name": "lng",
            "x-ms-summary": "Lng",
            "description": "longitude",
            "type": "number",
            "format": "float",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Search by location.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "street": {
                    "type": "string",
                    "description": "The street.",
                    "title": "Street"
                  },
                  "city": {
                    "type": "string",
                    "description": "The city.",
                    "title": "City"
                  },
                  "state": {
                    "type": "string",
                    "description": "The state.",
                    "title": "State"
                  },
                  "accessible": {
                    "type": "boolean",
                    "description": "Whether accessible.",
                    "title": "Accessible"
                  },
                  "unisex": {
                    "type": "boolean",
                    "description": "Whether unisex.",
                    "title": "Unisex"
                  },
                  "directions": {
                    "type": "string",
                    "description": "The directions.",
                    "title": "Directions"
                  },
                  "comment": {
                    "type": "string",
                    "description": "The comment.",
                    "title": "Comment"
                  },
                  "latitude": {
                    "type": "number",
                    "format": "float",
                    "description": "The latitude.",
                    "title": "Latitude"
                  },
                  "longitude": {
                    "type": "number",
                    "format": "float",
                    "description": "The longitude.",
                    "title": "Longitude"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "When created at.",
                    "title": "Created At"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "When updated at.",
                    "title": "Updated At"
                  },
                  "downvote": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of downvotes.",
                    "title": "Downvote"
                  },
                  "upvote": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of upvotes.",
                    "title": "Upvote"
                  },
                  "country": {
                    "type": "string",
                    "description": "The country.",
                    "title": "Country"
                  },
                  "changing_table": {
                    "type": "boolean",
                    "description": "Whether there is a changing table.",
                    "title": "Changing Table"
                  },
                  "edit_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The edit identifier.",
                    "title": "Edit ID"
                  },
                  "approved": {
                    "type": "boolean",
                    "description": "Whether approved.",
                    "title": "Approved"
                  },
                  "distance": {
                    "type": "number",
                    "format": "float",
                    "description": "The distance.",
                    "title": "Distance"
                  },
                  "bearing": {
                    "type": "string",
                    "description": "The bearing.",
                    "title": "Bearing"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "restrooms"
        ],
        "operationId": "RestroomsByLocation",
        "x-ms-visibility": "important",
        "summary": "Get restrooms by location"
      }
    },
    "/v1/restrooms/search": {
      "get": {
        "description": "Perform full-text search of restroom records.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "x-ms-summary": "Page",
            "description": "Page offset to fetch.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "x-ms-summary": "Per Page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "offset",
            "x-ms-summary": "Offset",
            "description": "Pad a number of results.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "ada",
            "x-ms-summary": "ADA",
            "description": "Only return restrooms that are ADA accessible.",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "unisex",
            "x-ms-summary": "Unisex",
            "description": "Only return restrooms that are unisex.",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "query",
            "x-ms-summary": "Query",
            "description": "Your search query.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Perform full-text search of restroom records.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "street": {
                    "type": "string",
                    "description": "The street.",
                    "title": "Street"
                  },
                  "city": {
                    "type": "string",
                    "description": "The city.",
                    "title": "City"
                  },
                  "state": {
                    "type": "string",
                    "description": "The state.",
                    "title": "State"
                  },
                  "accessible": {
                    "type": "boolean",
                    "description": "Whether accessible.",
                    "title": "Accessible"
                  },
                  "unisex": {
                    "type": "boolean",
                    "description": "Whether unisex.",
                    "title": "Unisex"
                  },
                  "directions": {
                    "type": "string",
                    "description": "The directions.",
                    "title": "Directions"
                  },
                  "comment": {
                    "type": "string",
                    "description": "The comment.",
                    "title": "Comment"
                  },
                  "latitude": {
                    "type": "number",
                    "format": "float",
                    "description": "The latitude.",
                    "title": "Latitude"
                  },
                  "longitude": {
                    "type": "number",
                    "format": "float",
                    "description": "The longitude.",
                    "title": "Longitude"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "When created at.",
                    "title": "Created At"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "When updated at.",
                    "title": "Updated At"
                  },
                  "downvote": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of downvotes.",
                    "title": "Downvote"
                  },
                  "upvote": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of upvotes.",
                    "title": "Upvote"
                  },
                  "country": {
                    "type": "string",
                    "description": "The country.",
                    "title": "Country"
                  },
                  "changing_table": {
                    "type": "boolean",
                    "description": "Whether there is a changing table.",
                    "title": "Changing Table"
                  },
                  "edit_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The edit identifier.",
                    "title": "Edit ID"
                  },
                  "approved": {
                    "type": "boolean",
                    "description": "Whether approved.",
                    "title": "Approved"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "restrooms"
        ],
        "operationId": "RestroomsSearch",
        "summary": "Search restrooms",
        "x-ms-visibility": "important"
      }
    },
    "/v1/restrooms": {
      "get": {
        "description": "Get all restroom records ordered by date descending.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "x-ms-summary": "Page",
            "description": "Page offset to fetch.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "x-ms-summary": "Per Page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "offset",
            "x-ms-summary": "Offset",
            "description": "Pad a number of results.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "ada",
            "x-ms-summary": "ADA",
            "description": "Only return restrooms that are ADA accessible.",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "unisex",
            "x-ms-summary": "Unisex",
            "description": "Only return restrooms that are unisex.",
            "type": "boolean",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Get all restroom records ordered by date descending.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "street": {
                    "type": "string",
                    "description": "The street.",
                    "title": "Street"
                  },
                  "city": {
                    "type": "string",
                    "description": "The city.",
                    "title": "City"
                  },
                  "state": {
                    "type": "string",
                    "description": "The state.",
                    "title": "State"
                  },
                  "accessible": {
                    "type": "boolean",
                    "description": "Whether accessible.",
                    "title": "Accessible"
                  },
                  "unisex": {
                    "type": "boolean",
                    "description": "Whether unisex.",
                    "title": "Unisex"
                  },
                  "directions": {
                    "type": "string",
                    "description": "The directions.",
                    "title": "Directions"
                  },
                  "comment": {
                    "type": "string",
                    "description": "The comment.",
                    "title": "Comment"
                  },
                  "latitude": {
                    "type": "number",
                    "format": "float",
                    "description": "The latitude.",
                    "title": "Latitude"
                  },
                  "longitude": {
                    "type": "number",
                    "format": "float",
                    "description": "The longitude.",
                    "title": "Longitude"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "When created at.",
                    "title": "Created At"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "When updated at.",
                    "title": "Updated At"
                  },
                  "downvote": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of downvotes.",
                    "title": "Downvote"
                  },
                  "upvote": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of upvotes.",
                    "title": "Upvote"
                  },
                  "country": {
                    "type": "string",
                    "description": "The country.",
                    "title": "Country"
                  },
                  "changing_table": {
                    "type": "boolean",
                    "description": "Whether there is a changing table.",
                    "title": "Changing Table"
                  },
                  "edit_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The edit identifier.",
                    "title": "Edit ID"
                  },
                  "approved": {
                    "type": "boolean",
                    "description": "Whether approved.",
                    "title": "Approved"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "restrooms"
        ],
        "operationId": "Restrooms",
        "summary": "Get restrooms"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [
    {
      "name": "Restrooms",
      "description": "Operations about restrooms"
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.refugerestrooms.org/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.refugerestrooms.org/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}