{
  "swagger": "2.0",
  "info": {
    "title": "Fiscal Data Service",
    "description": "A collection of endpoints to retrieve machine-readable datasets from the US Treasury's Fiscal Data Service",
    "version": "1.0",
    "contact": {
      "name": "Dan Romano",
      "url": "https://developments.substack.com",
      "email": "dan.romano@swolcat.com"
    }
  },
  "host": "api.fiscaldata.treasury.gov",
  "basePath": "/services/api/fiscal_service",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/accounting/dts/operating_cash_balance": {
      "get": {
        "x-ms-summary": "Retrieve Daily Treasury Operating Cash Balance",
        "summary": "Get the daily U.S. Treasury cash balance and related data",
        "description": "Get the daily U.S. Treasury cash balance and related data",
        "operationId": "GetDTSOperatingCashBalance",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-ms-summary": "Sort",
            "name": "sort",
            "in": "query",
            "description": "Sort results by record_date (e.g., -record_date for descending)",
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Format",
            "name": "format",
            "in": "query",
            "description": "Response format (json or xml)",
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Number",
            "name": "page[number]",
            "in": "query",
            "description": "Page number for pagination",
            "type": "integer",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Size",
            "name": "page[size]",
            "in": "query",
            "description": "Number of records per page",
            "type": "integer",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/DTSOperatingCashBalanceResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse400"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse500"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/v1/accounting/mts/mts_table_1": {
      "get": {
        "summary": "Get Monthly Treasury Statement (MTS) Table 1",
        "x-ms-summary": "Retrieve Monthly Treasury Statement (MTS) Table 1",
        "description": "Get monthly U.S. Treasury receipts, outlays, and deficit/surplus data",
        "operationId": "GetMTSTable1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-ms-summary": "Sort",
            "name": "sort",
            "in": "query",
            "description": "Sort results by record_date (e.g., -record_date for descending)",
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Format",
            "name": "format",
            "in": "query",
            "description": "Response format (json or xml)",
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Number",
            "name": "page[number]",
            "in": "query",
            "description": "Page number for pagination",
            "type": "integer",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Size",
            "name": "page[size]",
            "in": "query",
            "description": "Number of records per page",
            "type": "integer",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/MTSTable1Response"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse400"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse500"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/v2/accounting/od/debt_to_penny": {
      "get": {
        "summary": "Get U.S. Debt to the Penny",
        "x-ms-summary": "Retrieve U.S. Debt to the Penny",
        "description": "Get daily U.S. total public debt outstanding",
        "operationId": "GetDebtToPenny",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-ms-summary": "Sort",
            "name": "sort",
            "in": "query",
            "description": "Sort results by record_date (e.g., -record_date for descending)",
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Format",
            "name": "format",
            "in": "query",
            "description": "Response format (json or xml)",
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Number",
            "name": "page[number]",
            "in": "query",
            "description": "Page number for pagination",
            "type": "integer",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Size",
            "name": "page[size]",
            "in": "query",
            "description": "Number of records per page",
            "type": "integer",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/DebtToPennyResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse400"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse500"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/v1/accounting/od/rates_of_exchange": {
      "get": {
        "summary": "Get Treasury Reporting Rates of Exchange",
        "x-ms-summary": "Retrieve Treasury Reporting Rates of Exchange",
        "description": "Get exchange rates for foreign currencies reported by the U.S. Treasury",
        "operationId": "GetRatesOfExchange",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-ms-summary": "Sort",
            "name": "sort",
            "in": "query",
            "description": "Sort results by record_date (e.g., -record_date for descending)",
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Format",
            "name": "format",
            "in": "query",
            "description": "Response format (json or xml)",
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Number",
            "name": "page[number]",
            "in": "query",
            "description": "Page number for pagination",
            "type": "integer",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Size",
            "name": "page[size]",
            "in": "query",
            "description": "Number of records per page",
            "type": "integer",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/RatesOfExchangeResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse400"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse500"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/v1/debt/mspd/mspd_table_1": {
      "get": {
        "summary": "Get Monthly Statement of Public Debt (MSPD)",
        "x-ms-summary": "Retrieve Monthly Statement of Public Debt (MSPD)",
        "description": "Get monthly U.S. public debt and security class breakdown",
        "operationId": "GetMSPDTable1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-ms-summary": "Sort",
            "name": "sort",
            "in": "query",
            "description": "Sort results by record_date (e.g., -record_date for descending)",
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Format",
            "name": "format",
            "in": "query",
            "description": "Response format (json or xml)",
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Number",
            "name": "page[number]",
            "in": "query",
            "description": "Page number for pagination",
            "type": "integer",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Size",
            "name": "page[size]",
            "in": "query",
            "description": "Number of records per page",
            "type": "integer",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/MSPDTable1Response"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse400"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse500"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/v2/accounting/od/statement_net_cost": {
      "get": {
        "summary": "Get U.S. Government Financial Report – Net Cost",
        "x-ms-summary": "Retrieve U.S. Government Financial Report – Net Cost",
        "description": "Get annual net cost details for U.S. government agencies",
        "operationId": "GetStatementNetCost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-ms-summary": "Sort",
            "name": "sort",
            "in": "query",
            "description": "Sort results by record_date (e.g., -record_date for descending)",
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Format",
            "name": "format",
            "in": "query",
            "description": "Response format (json or xml)",
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Number",
            "name": "page[number]",
            "in": "query",
            "description": "Page number for pagination",
            "type": "integer",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Size",
            "name": "page[size]",
            "in": "query",
            "description": "Number of records per page",
            "type": "integer",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/StatementNetCostResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse400"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse500"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/v2/accounting/od/interest_expense": {
      "get": {
        "summary": "Get Interest Expense on the Public Debt",
        "x-ms-summary": "Retrieve Interest Expense on the Public Debt",
        "description": "Get monthly and fiscal year-to-date interest expenses on U.S. public debt",
        "operationId": "GetInterestExpense",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-ms-summary": "Sort",
            "name": "sort",
            "in": "query",
            "description": "Sort results by record_date (e.g., -record_date for descending)",
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Format",
            "name": "format",
            "in": "query",
            "description": "Response format (json or xml)",
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Number",
            "name": "page[number]",
            "in": "query",
            "description": "Page number for pagination",
            "type": "integer",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Size",
            "name": "page[size]",
            "in": "query",
            "description": "Number of records per page",
            "type": "integer",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/InterestExpenseResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse400"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse500"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/v2/accounting/od/gold_reserve": {
      "get": {
        "summary": "Get U.S. Treasury-Owned Gold Reserves",
        "x-ms-summary": "Retrieve U.S. Treasury-Owned Gold Reserves",
        "description": "Get data on gold reserves held by the U.S. Treasury, including location, form, and value",
        "operationId": "GetGoldReserve",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-ms-summary": "Sort",
            "name": "sort",
            "in": "query",
            "description": "Sort results by record_date (e.g., -record_date for descending)",
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Format",
            "name": "format",
            "in": "query",
            "description": "Response format (json or xml)",
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Number",
            "name": "page[number]",
            "in": "query",
            "description": "Page number for pagination",
            "type": "integer",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Size",
            "name": "page[size]",
            "in": "query",
            "description": "Number of records per page",
            "type": "integer",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/GoldReserveResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse400"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse500"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/v2/accounting/od/record_setting_auction": {
      "get": {
        "summary": "Get Record-Setting Treasury Auctions",
        "x-ms-summary": "Retrieve Record-Setting Treasury Auctions",
        "description": "Get data on record-setting Treasury security auctions, including highest and lowest rates, bid-to-cover ratios, and offering amounts",
        "operationId": "GetRecordSettingAuction",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-ms-summary": "Sort",
            "name": "sort",
            "in": "query",
            "description": "Sort results by record_date (e.g., -record_date for descending)",
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Format",
            "name": "format",
            "in": "query",
            "description": "Response format (json or xml)",
            "type": "string",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Number",
            "name": "page[number]",
            "in": "query",
            "description": "Page number for pagination",
            "type": "integer",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Size",
            "name": "page[size]",
            "in": "query",
            "description": "Number of records per page",
            "type": "integer",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/RecordSettingAuctionResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse400"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse500"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {
    "DTSOperatingCashBalanceResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "record_date": {
                "type": "string",
                "format": "date",
                "description": "Date of record (YYYY-MM-DD)"
              },
              "account_type": {
                "type": "string",
                "description": "Type of Treasury account"
              },
              "close_today_bal": {
                "type": "string",
                "description": "Closing balance today"
              },
              "open_today_bal": {
                "type": "string",
                "description": "Opening balance today"
              },
              "open_month_bal": {
                "type": "string",
                "description": "Opening balance this month"
              },
              "open_fiscal_year_bal": {
                "type": "string",
                "description": "Opening balance this fiscal year"
              },
              "table_nbr": {
                "type": "string",
                "description": "Table number reference"
              },
              "table_nm": {
                "type": "string",
                "description": "Table name"
              },
              "sub_table_name": {
                "type": "string",
                "description": "Sub-table name"
              },
              "src_line_nbr": {
                "type": "string",
                "description": "Source line number"
              },
              "record_fiscal_year": {
                "type": "string",
                "description": "Fiscal year"
              },
              "record_fiscal_quarter": {
                "type": "string",
                "description": "Fiscal quarter"
              },
              "record_calendar_year": {
                "type": "string",
                "description": "Calendar year"
              },
              "record_calendar_quarter": {
                "type": "string",
                "description": "Calendar quarter"
              },
              "record_calendar_month": {
                "type": "string",
                "description": "Calendar month (MM)"
              },
              "record_calendar_day": {
                "type": "string",
                "description": "Calendar day (DD)"
              }
            }
          }
        },
        "meta": {
          "type": "object",
          "properties": {
            "count": {
              "type": "integer",
              "description": "Number of records returned"
            },
            "total-count": {
              "type": "integer",
              "description": "Total available records"
            },
            "total-pages": {
              "type": "integer",
              "description": "Total number of pages"
            }
          }
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "description": "Current page link"
            },
            "first": {
              "type": "string",
              "description": "First page link"
            },
            "prev": {
              "type": "string",
              "description": "Previous page link"
            },
            "next": {
              "type": "string",
              "description": "Next page link"
            },
            "last": {
              "type": "string",
              "description": "Last page link"
            }
          }
        }
      }
    },
    "MTSTable1Response": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "record_date": {
                "type": "string",
                "format": "date",
                "description": "Date of record (YYYY-MM-DD)"
              },
              "parent_id": {
                "type": "string",
                "description": "Parent ID reference"
              },
              "classification_id": {
                "type": "string",
                "description": "Classification ID"
              },
              "classification_desc": {
                "type": "string",
                "description": "Description of classification"
              },
              "current_month_gross_rcpt_amt": {
                "type": "string",
                "description": "Current month gross receipts amount"
              },
              "current_month_gross_outly_amt": {
                "type": "string",
                "description": "Current month gross outlay amount"
              },
              "current_month_dfct_sur_amt": {
                "type": "string",
                "description": "Current month deficit/surplus amount"
              },
              "table_nbr": {
                "type": "string",
                "description": "Table number"
              },
              "src_line_nbr": {
                "type": "string",
                "description": "Source line number"
              },
              "print_order_nbr": {
                "type": "string",
                "description": "Print order sequence number"
              },
              "line_code_nbr": {
                "type": "string",
                "description": "Line code number"
              },
              "data_type_cd": {
                "type": "string",
                "description": "Data type code"
              },
              "record_type_cd": {
                "type": "string",
                "description": "Record type code"
              },
              "sequence_level_nbr": {
                "type": "string",
                "description": "Sequence level number"
              },
              "sequence_number_cd": {
                "type": "string",
                "description": "Sequence number code"
              },
              "record_fiscal_year": {
                "type": "string",
                "description": "Fiscal year"
              },
              "record_fiscal_quarter": {
                "type": "string",
                "description": "Fiscal quarter"
              },
              "record_calendar_year": {
                "type": "string",
                "description": "Calendar year"
              },
              "record_calendar_quarter": {
                "type": "string",
                "description": "Calendar quarter"
              },
              "record_calendar_month": {
                "type": "string",
                "description": "Calendar month (MM)"
              },
              "record_calendar_day": {
                "type": "string",
                "description": "Calendar day (DD)"
              }
            }
          }
        },
        "meta": {
          "type": "object",
          "properties": {
            "count": {
              "type": "integer",
              "description": "Number of records returned"
            },
            "total-count": {
              "type": "integer",
              "description": "Total available records"
            },
            "total-pages": {
              "type": "integer",
              "description": "Total number of pages"
            }
          }
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "description": "Current page link"
            },
            "first": {
              "type": "string",
              "description": "First page link"
            },
            "prev": {
              "type": "string",
              "description": "Previous page link"
            },
            "next": {
              "type": "string",
              "description": "Next page link"
            },
            "last": {
              "type": "string",
              "description": "Last page link"
            }
          }
        }
      }
    },
    "DebtToPennyResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "record_date": {
                "type": "string",
                "format": "date",
                "description": "Date of record (YYYY-MM-DD)"
              },
              "debt_held_public_amt": {
                "type": "string",
                "description": "Total debt held by the public"
              },
              "intragov_hold_amt": {
                "type": "string",
                "description": "Total intragovernmental holdings"
              },
              "tot_pub_debt_out_amt": {
                "type": "string",
                "description": "Total public debt outstanding"
              },
              "src_line_nbr": {
                "type": "string",
                "description": "Source line number"
              },
              "record_fiscal_year": {
                "type": "string",
                "description": "Fiscal year"
              },
              "record_fiscal_quarter": {
                "type": "string",
                "description": "Fiscal quarter"
              },
              "record_calendar_year": {
                "type": "string",
                "description": "Calendar year"
              },
              "record_calendar_quarter": {
                "type": "string",
                "description": "Calendar quarter"
              },
              "record_calendar_month": {
                "type": "string",
                "description": "Calendar month (MM)"
              },
              "record_calendar_day": {
                "type": "string",
                "description": "Calendar day (DD)"
              }
            }
          }
        },
        "meta": {
          "type": "object",
          "properties": {
            "count": {
              "type": "integer",
              "description": "Number of records returned"
            },
            "total-count": {
              "type": "integer",
              "description": "Total available records"
            },
            "total-pages": {
              "type": "integer",
              "description": "Total number of pages"
            }
          }
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "description": "Current page link"
            },
            "first": {
              "type": "string",
              "description": "First page link"
            },
            "prev": {
              "type": "string",
              "description": "Previous page link"
            },
            "next": {
              "type": "string",
              "description": "Next page link"
            },
            "last": {
              "type": "string",
              "description": "Last page link"
            }
          }
        }
      }
    },
    "RatesOfExchangeResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "record_date": {
                "type": "string",
                "format": "date",
                "description": "Date of record (YYYY-MM-DD)"
              },
              "country": {
                "type": "string",
                "description": "Country name"
              },
              "currency": {
                "type": "string",
                "description": "Currency code"
              },
              "country_currency_desc": {
                "type": "string",
                "description": "Country and currency description"
              },
              "exchange_rate": {
                "type": "string",
                "description": "Reported exchange rate"
              },
              "effective_date": {
                "type": "string",
                "format": "date",
                "description": "Effective date of exchange rate (YYYY-MM-DD)"
              },
              "src_line_nbr": {
                "type": "string",
                "description": "Source line number"
              },
              "record_fiscal_year": {
                "type": "string",
                "description": "Fiscal year"
              },
              "record_fiscal_quarter": {
                "type": "string",
                "description": "Fiscal quarter"
              },
              "record_calendar_year": {
                "type": "string",
                "description": "Calendar year"
              },
              "record_calendar_quarter": {
                "type": "string",
                "description": "Calendar quarter"
              },
              "record_calendar_month": {
                "type": "string",
                "description": "Calendar month (MM)"
              },
              "record_calendar_day": {
                "type": "string",
                "description": "Calendar day (DD)"
              }
            }
          }
        },
        "meta": {
          "type": "object",
          "properties": {
            "count": {
              "type": "integer",
              "description": "Number of records returned"
            },
            "total-count": {
              "type": "integer",
              "description": "Total available records"
            },
            "total-pages": {
              "type": "integer",
              "description": "Total number of pages"
            }
          }
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "description": "Current page link"
            },
            "first": {
              "type": "string",
              "description": "First page link"
            },
            "prev": {
              "type": "string",
              "description": "Previous page link"
            },
            "next": {
              "type": "string",
              "description": "Next page link"
            },
            "last": {
              "type": "string",
              "description": "Last page link"
            }
          }
        }
      }
    },
    "MSPDTable1Response": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "record_date": {
                "type": "string",
                "format": "date",
                "description": "Date of record (YYYY-MM-DD)"
              },
              "security_type_desc": {
                "type": "string",
                "description": "Description of security type"
              },
              "security_class_desc": {
                "type": "string",
                "description": "Description of security class"
              },
              "debt_held_public_mil_amt": {
                "type": "string",
                "description": "Debt held by the public (in millions)"
              },
              "intragov_hold_mil_amt": {
                "type": "string",
                "description": "Intragovernmental holdings (in millions)"
              },
              "total_mil_amt": {
                "type": "string",
                "description": "Total public debt outstanding (in millions)"
              },
              "src_line_nbr": {
                "type": "string",
                "description": "Source line number"
              },
              "record_fiscal_year": {
                "type": "string",
                "description": "Fiscal year"
              },
              "record_fiscal_quarter": {
                "type": "string",
                "description": "Fiscal quarter"
              },
              "record_calendar_year": {
                "type": "string",
                "description": "Calendar year"
              },
              "record_calendar_quarter": {
                "type": "string",
                "description": "Calendar quarter"
              },
              "record_calendar_month": {
                "type": "string",
                "description": "Calendar month (MM)"
              },
              "record_calendar_day": {
                "type": "string",
                "description": "Calendar day (DD)"
              }
            }
          }
        },
        "meta": {
          "type": "object",
          "properties": {
            "count": {
              "type": "integer",
              "description": "Number of records returned"
            },
            "total-count": {
              "type": "integer",
              "description": "Total available records"
            },
            "total-pages": {
              "type": "integer",
              "description": "Total number of pages"
            }
          }
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "description": "Current page link"
            },
            "first": {
              "type": "string",
              "description": "First page link"
            },
            "prev": {
              "type": "string",
              "description": "Previous page link"
            },
            "next": {
              "type": "string",
              "description": "Next page link"
            },
            "last": {
              "type": "string",
              "description": "Last page link"
            }
          }
        }
      }
    },
    "ErrorResponse400": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "description": "Error message describing the issue"
        },
        "status": {
          "type": "integer",
          "description": "HTTP status code (400)"
        },
        "details": {
          "type": "string",
          "description": "Additional details about the error"
        }
      }
    },
    "ErrorResponse500": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "description": "Error message describing the internal server issue"
        },
        "status": {
          "type": "integer",
          "description": "HTTP status code (500)"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time of the error occurrence"
        }
      }
    },
    "InterestExpenseResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "record_date": {
                "type": "string",
                "format": "date",
                "description": "Date of record (YYYY-MM-DD)"
              },
              "expense_catg_desc": {
                "type": "string",
                "description": "Expense category description"
              },
              "expense_group_desc": {
                "type": "string",
                "description": "Expense group description"
              },
              "expense_type_desc": {
                "type": "string",
                "description": "Expense type description"
              },
              "month_expense_amt": {
                "type": "string",
                "description": "Interest expense for the current month"
              },
              "fytd_expense_amt": {
                "type": "string",
                "description": "Fiscal year-to-date interest expense"
              },
              "src_line_nbr": {
                "type": "string",
                "description": "Source line number"
              },
              "record_fiscal_year": {
                "type": "string",
                "description": "Fiscal year"
              },
              "record_fiscal_quarter": {
                "type": "string",
                "description": "Fiscal quarter"
              },
              "record_calendar_year": {
                "type": "string",
                "description": "Calendar year"
              },
              "record_calendar_quarter": {
                "type": "string",
                "description": "Calendar quarter"
              },
              "record_calendar_month": {
                "type": "string",
                "description": "Calendar month (MM)"
              },
              "record_calendar_day": {
                "type": "string",
                "description": "Calendar day (DD)"
              }
            }
          }
        },
        "meta": {
          "type": "object",
          "properties": {
            "count": {
              "type": "integer",
              "description": "Number of records returned"
            },
            "total-count": {
              "type": "integer",
              "description": "Total available records"
            },
            "total-pages": {
              "type": "integer",
              "description": "Total number of pages"
            }
          }
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "description": "Current page link"
            },
            "first": {
              "type": "string",
              "description": "First page link"
            },
            "prev": {
              "type": "string",
              "description": "Previous page link"
            },
            "next": {
              "type": "string",
              "description": "Next page link"
            },
            "last": {
              "type": "string",
              "description": "Last page link"
            }
          }
        }
      }
    },
    "GoldReserveResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "record_date": {
                "type": "string",
                "format": "date",
                "description": "Date of record (YYYY-MM-DD)"
              },
              "facility_desc": {
                "type": "string",
                "description": "Description of the facility holding the gold"
              },
              "form_desc": {
                "type": "string",
                "description": "Form of gold (e.g., bullion, coins)"
              },
              "location_desc": {
                "type": "string",
                "description": "Location of the gold reserves"
              },
              "fine_troy_ounce_qty": {
                "type": "string",
                "description": "Quantity of gold in fine troy ounces"
              },
              "book_value_amt": {
                "type": "string",
                "description": "Book value of the gold reserves in U.S. dollars"
              },
              "src_line_nbr": {
                "type": "string",
                "description": "Source line number"
              },
              "record_fiscal_year": {
                "type": "string",
                "description": "Fiscal year"
              },
              "record_fiscal_quarter": {
                "type": "string",
                "description": "Fiscal quarter"
              },
              "record_calendar_year": {
                "type": "string",
                "description": "Calendar year"
              },
              "record_calendar_quarter": {
                "type": "string",
                "description": "Calendar quarter"
              },
              "record_calendar_month": {
                "type": "string",
                "description": "Calendar month (MM)"
              },
              "record_calendar_day": {
                "type": "string",
                "description": "Calendar day (DD)"
              }
            }
          }
        },
        "meta": {
          "type": "object",
          "properties": {
            "count": {
              "type": "integer",
              "description": "Number of records returned"
            },
            "total-count": {
              "type": "integer",
              "description": "Total available records"
            },
            "total-pages": {
              "type": "integer",
              "description": "Total number of pages"
            }
          }
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "description": "Current page link"
            },
            "first": {
              "type": "string",
              "description": "First page link"
            },
            "prev": {
              "type": "string",
              "description": "Previous page link"
            },
            "next": {
              "type": "string",
              "description": "Next page link"
            },
            "last": {
              "type": "string",
              "description": "Last page link"
            }
          }
        }
      }
    },
    "RecordSettingAuctionResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "record_date": {
                "type": "string",
                "format": "date",
                "description": "Date of record (YYYY-MM-DD)"
              },
              "security_type": {
                "type": "string",
                "description": "Type of Treasury security (e.g., CMBs, Notes, Bonds)"
              },
              "security_term": {
                "type": "string",
                "description": "Term of security"
              },
              "first_auc_date_single_price": {
                "type": "string",
                "format": "date",
                "description": "First auction date of single price auctions"
              },
              "low_rate_pct": {
                "type": "string",
                "description": "Lowest rate percent recorded"
              },
              "first_auc_date_low_rate": {
                "type": "string",
                "format": "date",
                "description": "First auction date of lowest rate"
              },
              "high_rate_pct": {
                "type": "string",
                "description": "Highest rate percent recorded"
              },
              "first_auc_date_high_rate": {
                "type": "string",
                "format": "date",
                "description": "First auction date of highest rate"
              },
              "high_offer_amt": {
                "type": "string",
                "description": "Highest offering amount in U.S. dollars"
              },
              "first_auc_date_high_offer": {
                "type": "string",
                "format": "date",
                "description": "First auction date of highest offering"
              },
              "high_bid_cover_ratio": {
                "type": "string",
                "description": "Highest bid-to-cover ratio recorded"
              },
              "first_auc_date_high_bid_cover": {
                "type": "string",
                "format": "date",
                "description": "First auction date of highest bid-to-cover ratio"
              },
              "src_line_nbr": {
                "type": "string",
                "description": "Source line number"
              },
              "record_fiscal_year": {
                "type": "string",
                "description": "Fiscal year"
              },
              "record_fiscal_quarter": {
                "type": "string",
                "description": "Fiscal quarter"
              },
              "record_calendar_year": {
                "type": "string",
                "description": "Calendar year"
              },
              "record_calendar_quarter": {
                "type": "string",
                "description": "Calendar quarter"
              },
              "record_calendar_month": {
                "type": "string",
                "description": "Calendar month (MM)"
              },
              "record_calendar_day": {
                "type": "string",
                "description": "Calendar day (DD)"
              }
            }
          }
        },
        "meta": {
          "type": "object",
          "properties": {
            "count": {
              "type": "integer",
              "description": "Number of records returned"
            },
            "total-count": {
              "type": "integer",
              "description": "Total available records"
            },
            "total-pages": {
              "type": "integer",
              "description": "Total number of pages"
            }
          }
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "description": "Current page link"
            },
            "first": {
              "type": "string",
              "description": "First page link"
            },
            "prev": {
              "type": "string",
              "description": "Previous page link"
            },
            "next": {
              "type": "string",
              "description": "Next page link"
            },
            "last": {
              "type": "string",
              "description": "Last page link"
            }
          }
        }
      }
    },
    "StatementNetCostResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "record_date": {
                "type": "string",
                "format": "date",
                "description": "Date of record (YYYY-MM-DD)"
              },
              "stmt_fiscal_year": {
                "type": "integer",
                "description": "Statement fiscal year"
              },
              "restmt_flag": {
                "type": "string",
                "description": "Indicates if the data has been restated"
              },
              "agency_nm": {
                "type": "string",
                "description": "Name of the government agency"
              },
              "gross_cost_bil_amt": {
                "type": "string",
                "description": "Gross cost incurred by the agency (in billions)"
              },
              "earned_revenue_bil_amt": {
                "type": "string",
                "description": "Earned revenue by the agency (in billions)"
              },
              "subtotal_bil_amt": {
                "type": "string",
                "description": "Subtotal cost after revenue deduction (in billions)"
              },
              "change_assumptions_bil_amt": {
                "type": "string",
                "description": "Change in assumptions cost (in billions)"
              },
              "net_cost_bil_amt": {
                "type": "string",
                "description": "Net cost after adjustments (in billions)"
              },
              "src_line_nbr": {
                "type": "string",
                "description": "Source line number"
              },
              "record_fiscal_year": {
                "type": "string",
                "description": "Fiscal year"
              },
              "record_fiscal_quarter": {
                "type": "string",
                "description": "Fiscal quarter"
              },
              "record_calendar_year": {
                "type": "string",
                "description": "Calendar year"
              },
              "record_calendar_quarter": {
                "type": "string",
                "description": "Calendar quarter"
              },
              "record_calendar_month": {
                "type": "string",
                "description": "Calendar month (MM)"
              },
              "record_calendar_day": {
                "type": "string",
                "description": "Calendar day (DD)"
              }
            }
          }
        },
        "meta": {
          "type": "object",
          "properties": {
            "count": {
              "type": "integer",
              "description": "Number of records returned"
            },
            "total-count": {
              "type": "integer",
              "description": "Total available records"
            },
            "total-pages": {
              "type": "integer",
              "description": "Total number of pages"
            }
          }
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "description": "Current page link"
            },
            "first": {
              "type": "string",
              "description": "First page link"
            },
            "prev": {
              "type": "string",
              "description": "Previous page link"
            },
            "next": {
              "type": "string",
              "description": "Next page link"
            },
            "last": {
              "type": "string",
              "description": "Last page link"
            }
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://fiscaldata.treasury.gov/api-documentation/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://fiscaldata.treasury.gov/api-documentation/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance"
    }
  ]
}