{
  "swagger": "2.0",
  "info": {
    "title": "World Academia",
    "description": "The primary purpose of this connector is to provide easy and efficient access to university-related data for educational institutions, researchers, students, and anyone interested in information about universities worldwide. The connector will enable users to retrieve data such as lists of universities, university details, continents, countries, and more",
    "contact": {
      "name": "Kelcho Tech",
      "url": "https://www.kelchotech.systems/",
      "email": "hello@kelchotech.systems"
    },
    "version": "1.0.1"
  },
  "host": "worldacademia.rocks",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/v1/continentsdata": {
      "get": {
        "summary": "Get all continents and their metadata",
        "responses": {
          "200": {
            "description": "The list of continents and metadata",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "countries": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Universities not found"
          },
          "504": {
            "description": "An error occurred"
          }
        },
        "description": "The list of continents and metadata",
        "operationId": "Get_all_continents_and_their_metadata"
      }
    },
    "/api/v1/continents": {
      "get": {
        "summary": "Get a list continents",
        "responses": {
          "200": {
            "description": "The list of all continents",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "operationId": "Get_a_list_continents",
        "description": "The list of all continents"
      }
    },
    "/api/v1/continent/{continentName}": {
      "get": {
        "summary": "Get a list countries in a continent",
        "parameters": [
          {
            "in": "path",
            "name": "continentName",
            "type": "string",
            "required": true,
            "description": "continent name",
            "x-ms-summary": "continent name",
            "x-ms-dynamic-values": {
              "operationId": "Get_a_list_continents",
              "value-path": "key-item-output",
              "value-title": "key-item-output"
            },
            "default": "Africa"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of all countries in a continent",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Continent not found"
          }
        },
        "description": "The list of all countries in a continent",
        "operationId": "Get_a_list_countries_in_a_continent"
      }
    },
    "/api/v1/sch/count": {
      "get": {
        "summary": "Get the number of universities available",
        "responses": {
          "200": {
            "description": "Get the number of universities available",
            "schema": {
              "type": "integer"
            }
          },
          "404": {
            "description": "No Results"
          },
          "504": {
            "description": "An error occurred"
          }
        },
        "description": "Get the number of universities available.",
        "operationId": "Get_the_number_of_universities_available",
        "x-ms-visibility": "important"
      }
    },
    "/api/v1/sch/countries": {
      "get": {
        "summary": "Get a list of countries with universities",
        "responses": {
          "200": {
            "description": "The list of all countries with universities",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "description": "The list of all countries with universities",
        "operationId": "Get_a_list_of_countries_with_universities"
      }
    },
    "/api/v1/sch/countriescodes": {
      "get": {
        "summary": "Get a list of countriesCodes with universities",
        "responses": {
          "200": {
            "description": "The list of all countriesCodes with universities",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "operationId": "Get_a_list_of_countriesCodes_with_universities",
        "description": "The_list_of_all_countriesCodes_with_universities"
      }
    },
    "/api/v1/sch/country/{countryName}": {
      "get": {
        "summary": "Get all universities in a country via country name",
        "parameters": [
          {
            "in": "path",
            "name": "countryName",
            "type": "string",
            "required": true,
            "default": "Kenya",
            "description": "country name",
            "x-ms-summary": "country name",
            "x-ms-dynamic-values": {
              "operationId": "Get_a_list_of_countries_with_universities",
              "value-path": "key-item-output",
              "value-title": "key-item-output"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all universities in a country",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "alpha_two_code": {
                    "type": "string"
                  },
                  "state_province": {
                    "type": "string"
                  },
                  "web_pages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No Results"
          },
          "504": {
            "description": "An error occurred"
          }
        },
        "operationId": "Get_all_universities_in_a_country_via_country_name",
        "description": "Get all universities in a country  Media type"
      }
    },
    "/api/v1/sch/countrycode/{countryCode}": {
      "get": {
        "summary": "Get all universities in a country via country code",
        "parameters": [
          {
            "in": "path",
            "name": "countryCode",
            "type": "string",
            "required": true,
            "default": "KE",
            "description": "country code",
            "x-ms-summary": "country code",
            "x-ms-dynamic-values": {
              "operationId": "Get_a_list_of_countriesCodes_with_universities",
              "value-path": "key-item-output",
              "value-title": "key-item-output"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all universities in a country",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "alpha_two_code": {
                    "type": "string"
                  },
                  "state_province": {
                    "type": "string"
                  },
                  "web_pages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No Results"
          },
          "504": {
            "description": "An error occurred"
          }
        },
        "operationId": "Get_all_universities_in_a_country_via_country_code",
        "description": "Get a list of universities in a country via country code"
      }
    },
    "/api/v1/sch/university/{universityName}": {
      "get": {
        "summary": "Get all university details via university name",
        "parameters": [
          {
            "in": "path",
            "name": "universityName",
            "type": "string",
            "required": true,
            "default": "Troy University",
            "description": "university name",
            "x-ms-summary": "university name",
            "x-ms-dynamic-values": {
              "operationId": "Get_a_list_of_all_universities",
              "value-path": "key-item-output",
              "value-title": "key-item-output"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all university details",
            "schema": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "alpha_two_code": {
                  "type": "string"
                },
                "state_province": {
                  "type": "string"
                },
                "web_pages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No Results"
          },
          "504": {
            "description": "An error occurred"
          }
        },
        "description": "Get all university details (metadata)",
        "operationId": "Get_all_university_details"
      }
    },
    "/api/v1/sch": {
      "get": {
        "summary": "Get all universities and their metadata",
        "responses": {
          "200": {
            "description": "Get all universities and their metadata",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "alpha_two_code": {
                    "type": "string"
                  },
                  "state_province": {
                    "type": "string"
                  },
                  "web_pages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Universities not found"
          },
          "504": {
            "description": "An error occurred"
          }
        },
        "description": "The list of continents and metadata",
        "operationId": "Get_all_universities_and_their_metadata"
      }
    },
    "/api/v1/schlist": {
      "get": {
        "summary": "Get a list of all universities",
        "responses": {
          "200": {
            "description": "The list of all universities",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Universities not found"
          },
          "504": {
            "description": "An error occurred"
          }
        },
        "description": "The list of all universities",
        "operationId": "Get_a_list_of_all_universities"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.kelchotech.systems"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.kelchotech.systems/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Website"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}