{
  "swagger": "2.0",
  "info": {
    "title": "ProPublica Congress",
    "description": "Using the Congress API, you can retrieve legislative data from the House of Representatives, the Senate and the Library of Congress. The API, which originated at The New York Times in 2009, includes details about members, votes, bills, nominations and other aspects of congressional activity.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.propublica.org",
  "basePath": "/congress/v1/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/{congress}/{chamber}/members.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The response status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The response copyright.",
                  "title": "Copyright"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "congress": {
                        "type": "string",
                        "description": "The Congressional session.",
                        "title": "Congress"
                      },
                      "chamber": {
                        "type": "string",
                        "description": "The chamber.",
                        "title": "Chamber"
                      },
                      "num_results": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results.",
                        "title": "Number of Results"
                      },
                      "offset": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The requested pagination offset.",
                        "title": "Offset"
                      },
                      "members": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The unique identifier.",
                              "title": "ID"
                            },
                            "title": {
                              "type": "string",
                              "description": "The title.",
                              "title": "Title"
                            },
                            "short_title": {
                              "type": "string",
                              "description": "The short title.",
                              "title": "Short Title"
                            },
                            "api_uri": {
                              "type": "string",
                              "description": "The API Uri.",
                              "title": "API URI"
                            },
                            "first_name": {
                              "type": "string",
                              "description": "The first name.",
                              "title": "First Name"
                            },
                            "middle_name": {
                              "type": "string",
                              "description": "The middle name.",
                              "title": "Middle Name"
                            },
                            "last_name": {
                              "type": "string",
                              "description": "The last name.",
                              "title": "Last Name"
                            },
                            "suffix": {
                              "type": "string",
                              "description": "The suffix.",
                              "title": "Suffix"
                            },
                            "date_of_birth": {
                              "type": "string",
                              "description": "The date of birth.",
                              "title": "Date Of Birth"
                            },
                            "gender": {
                              "type": "string",
                              "description": "The gender.",
                              "title": "Gender"
                            },
                            "party": {
                              "type": "string",
                              "description": "The party affiliation.",
                              "title": "Party"
                            },
                            "leadership_role": {
                              "type": "string",
                              "description": "The leadership role.",
                              "title": "Leadership Role"
                            },
                            "twitter_account": {
                              "type": "string",
                              "description": "The Twitter account.",
                              "title": "Twitter Account"
                            },
                            "facebook_account": {
                              "type": "string",
                              "description": "The Facebook account.",
                              "title": "Facebook Account"
                            },
                            "youtube_account": {
                              "type": "string",
                              "description": "The YouTube account.",
                              "title": "YouTube Account"
                            },
                            "govtrack_id": {
                              "type": "string",
                              "description": "The Govtrack identifier.",
                              "title": "Govtrack ID"
                            },
                            "cspan_id": {
                              "type": "string",
                              "description": "The CSPAN identifier.",
                              "title": "CSPAN ID"
                            },
                            "votesmart_id": {
                              "type": "string",
                              "description": "The Votesmart identifier.",
                              "title": "Votesmart ID"
                            },
                            "icpsr_id": {
                              "type": "string",
                              "description": "The ICPSR identifier.",
                              "title": "ICPSR ID"
                            },
                            "crp_id": {
                              "type": "string",
                              "description": "The CRP identifier.",
                              "title": "CRP ID"
                            },
                            "google_entity_id": {
                              "type": "string",
                              "description": "The Google Entity identifier.",
                              "title": "Google Entity ID"
                            },
                            "fec_candidate_id": {
                              "type": "string",
                              "description": "The FEC Candidate identifier.",
                              "title": "FEC Candidate ID"
                            },
                            "url": {
                              "type": "string",
                              "description": "The URL address.",
                              "title": "URL"
                            },
                            "rss_url": {
                              "type": "string",
                              "description": "The RSS URL.",
                              "title": "RSS URL"
                            },
                            "contact_form": {
                              "type": "string",
                              "description": "The contact form.",
                              "title": "Contact Form"
                            },
                            "in_office": {
                              "type": "boolean",
                              "description": "Whether in office or not.",
                              "title": "In Office"
                            },
                            "cook_pvi": {
                              "type": "string",
                              "description": "The Cook PVI.",
                              "title": "Cook PVI"
                            },
                            "dw_nominate": {
                              "type": "number",
                              "format": "float",
                              "description": "The DW-NOMINATE score.",
                              "title": "DW-NOMINATE"
                            },
                            "ideal_point": {
                              "type": "string",
                              "description": "The ideal point.",
                              "title": "Ideal Point"
                            },
                            "seniority": {
                              "type": "string",
                              "description": "The seniority.",
                              "title": "Seniority"
                            },
                            "next_election": {
                              "type": "string",
                              "description": "The next election.",
                              "title": "Next Election"
                            },
                            "total_votes": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The number of total votes.",
                              "title": "Total Votes"
                            },
                            "missed_votes": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The number of missed votes.",
                              "title": "Missed Votes"
                            },
                            "total_present": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The total present.",
                              "title": "Total Present"
                            },
                            "last_updated": {
                              "type": "string",
                              "description": "When last updated .",
                              "title": "Last Updated"
                            },
                            "ocd_id": {
                              "type": "string",
                              "description": "The OCD ID.",
                              "title": "OCD ID"
                            },
                            "office": {
                              "type": "string",
                              "description": "The office.",
                              "title": "Office"
                            },
                            "phone": {
                              "type": "string",
                              "description": "The phone number.",
                              "title": "Phone"
                            },
                            "fax": {
                              "type": "string",
                              "description": "The fax number.",
                              "title": "Fax"
                            },
                            "state": {
                              "type": "string",
                              "description": "The state.",
                              "title": "State"
                            },
                            "senate_class": {
                              "type": "string",
                              "description": "The Senate class.",
                              "title": "Senate Class"
                            },
                            "state_rank": {
                              "type": "string",
                              "description": "The state rank.",
                              "title": "State Rank"
                            },
                            "lis_id": {
                              "type": "string",
                              "description": "The LIS identifier.",
                              "title": "LIS ID"
                            },
                            "missed_votes_pct": {
                              "type": "number",
                              "format": "float",
                              "description": "The percentage of missed votes.",
                              "title": "Missed Votes Percentage"
                            },
                            "votes_with_party_pct": {
                              "type": "number",
                              "format": "float",
                              "description": "The percentage of votes with party.",
                              "title": "Votes With Party Percentage"
                            },
                            "votes_against_party_pct": {
                              "type": "number",
                              "format": "float",
                              "description": "The percentage of votes against party.",
                              "title": "Votes Against Party Percentage"
                            }
                          }
                        },
                        "title": "Members"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get a list of members",
        "description": "To get a list of members of a particular chamber in a particular Congress, use the following URI structure. The results include all members who have served in that congress and chamber, including members who are no longer in office. To filter the list to only active members (or to see members who have left), use the in office attribute.",
        "operationId": "MemberGet",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "x-ms-summary": "Congress",
            "x-ms-url-encoding": "single",
            "description": "The Congressional session number. Available sessions are 102-117 for House, 80-117 for Senate.",
            "required": true,
            "type": "string"
          },
          {
            "name": "chamber",
            "in": "path",
            "x-ms-summary": "Chamber",
            "x-ms-url-encoding": "single",
            "description": "The chamber of Congress.",
            "enum": [
              "house",
              "senate"
            ],
            "default": "house",
            "required": true,
            "type": "string"
          },
          {
            "name": "in_office",
            "in": "query",
            "x-ms-summary": "In Office",
            "description": "Whether an active member or member who has left.",
            "required": false,
            "type": "boolean"
          }
        ]
      }
    },
    "/members/{member-id}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The response status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The response copyright.",
                  "title": "Copyright"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "member_id": {
                        "type": "string",
                        "description": "The member identifier.",
                        "title": "Member ID"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "The first name.",
                        "title": "First Name"
                      },
                      "middle_name": {
                        "type": "string",
                        "description": "The middle name.",
                        "title": "Middle Name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "The last name.",
                        "title": "Last Name"
                      },
                      "suffix": {
                        "type": "string",
                        "description": "The suffix.",
                        "title": "Suffix"
                      },
                      "date_of_birth": {
                        "type": "string",
                        "description": "The date of birth.",
                        "title": "Date Of Birth"
                      },
                      "gender": {
                        "type": "string",
                        "description": "The gender.",
                        "title": "Gender"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "times_topics_url": {
                        "type": "string",
                        "description": "The Times Topics URL address.",
                        "title": "Times Topics URL"
                      },
                      "times_tag": {
                        "type": "string",
                        "description": "The Times tag.",
                        "title": "Times Tag"
                      },
                      "govtrack_id": {
                        "type": "string",
                        "description": "The Govtrack identifier.",
                        "title": "Govtrack ID"
                      },
                      "cspan_id": {
                        "type": "string",
                        "description": "The CSPAN identifier.",
                        "title": "CSPAN ID"
                      },
                      "votesmart_id": {
                        "type": "string",
                        "description": "The Votesmart identifier.",
                        "title": "Votesmart ID"
                      },
                      "icpsr_id": {
                        "type": "string",
                        "description": "The ICPSR identifier.",
                        "title": "ICPSR ID"
                      },
                      "twitter_account": {
                        "type": "string",
                        "description": "The Twitter account.",
                        "title": "Twitter Account"
                      },
                      "facebook_account": {
                        "type": "string",
                        "description": "The Facebook account.",
                        "title": "Facebook Account"
                      },
                      "youtube_account": {
                        "type": "string",
                        "description": "The YouTube account.",
                        "title": "YouTube Account"
                      },
                      "crp_id": {
                        "type": "string",
                        "description": "The CRP identifier.",
                        "title": "CRP ID"
                      },
                      "google_entity_id": {
                        "type": "string",
                        "description": "The Google Entity identifier.",
                        "title": "Google Entity ID"
                      },
                      "rss_url": {
                        "type": "string",
                        "description": "The RSS URL address.",
                        "title": "RSS URL"
                      },
                      "in_office": {
                        "type": "boolean",
                        "description": "Whether in office or not.",
                        "title": "In Office"
                      },
                      "current_party": {
                        "type": "string",
                        "description": "The current party.",
                        "title": "Current Party"
                      },
                      "most_recent_vote": {
                        "type": "string",
                        "description": "The most recent vote.",
                        "title": "Most Recent Vote"
                      },
                      "last_updated": {
                        "type": "string",
                        "description": "When last updated.",
                        "title": "Last Updated"
                      },
                      "roles": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "congress": {
                              "type": "string",
                              "description": "The Congress session.",
                              "title": "Congress"
                            },
                            "chamber": {
                              "type": "string",
                              "description": "The chamber.",
                              "title": "Chamber"
                            },
                            "title": {
                              "type": "string",
                              "description": "The title.",
                              "title": "Title"
                            },
                            "short_title": {
                              "type": "string",
                              "description": "The short title.",
                              "title": "Short Title"
                            },
                            "state": {
                              "type": "string",
                              "description": "The state.",
                              "title": "State"
                            },
                            "party": {
                              "type": "string",
                              "description": "The party affiliation.",
                              "title": "Party"
                            },
                            "leadership_role": {
                              "type": "string",
                              "description": "The leadership role.",
                              "title": "Leadership Role"
                            },
                            "fec_candidate_id": {
                              "type": "string",
                              "description": "The FEC Candidate identifier.",
                              "title": "FEC Candidate ID"
                            },
                            "seniority": {
                              "type": "string",
                              "description": "The seniority.",
                              "title": "Seniority"
                            },
                            "district": {
                              "type": "string",
                              "description": "The district.",
                              "title": "District"
                            },
                            "at_large": {
                              "type": "boolean",
                              "description": "Whether at large or not.",
                              "title": "At Large"
                            },
                            "ocd_id": {
                              "type": "string",
                              "description": "The OCD ID.",
                              "title": "OCD ID"
                            },
                            "start_date": {
                              "type": "string",
                              "description": "The start date.",
                              "title": "Start Date"
                            },
                            "end_date": {
                              "type": "string",
                              "description": "The end date.",
                              "title": "End Date"
                            },
                            "office": {
                              "type": "string",
                              "description": "The office.",
                              "title": "Office"
                            },
                            "phone": {
                              "type": "string",
                              "description": "The phone number.",
                              "title": "Phone"
                            },
                            "fax": {
                              "type": "string",
                              "description": "The fax number.",
                              "title": "Fax"
                            },
                            "contact_form": {
                              "type": "string",
                              "description": "The contact form.",
                              "title": "Contact Form"
                            },
                            "cook_pvi": {
                              "type": "string",
                              "description": "The Cook PVI.",
                              "title": "Cook PVI"
                            },
                            "dw_nominate": {
                              "type": "number",
                              "format": "float",
                              "description": "The DW-NOMINATE score.",
                              "title": "DW-NOMINATE"
                            },
                            "ideal_point": {
                              "type": "string",
                              "description": "The Ideal point.",
                              "title": "Ideal Point"
                            },
                            "next_election": {
                              "type": "string",
                              "description": "The next election.",
                              "title": "Next Election"
                            },
                            "total_votes": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The number of total votes.",
                              "title": "Total Votes"
                            },
                            "missed_votes": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The number of missed votes.",
                              "title": "Missed Votes"
                            },
                            "total_present": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The total present.",
                              "title": "Total Present"
                            },
                            "senate_class": {
                              "type": "string",
                              "description": "The Senate class.",
                              "title": "Senate Class"
                            },
                            "state_rank": {
                              "type": "string",
                              "description": "The state rank.",
                              "title": "State Rank"
                            },
                            "lis_id": {
                              "type": "string",
                              "description": "The LIS identifier.",
                              "title": "LIS ID"
                            },
                            "bills_sponsored": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The number of bills sponsored.",
                              "title": "Bills Sponsored"
                            },
                            "bills_cosponsored": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The number of bills cosponsored.",
                              "title": "Bills Cosponsored"
                            },
                            "missed_votes_pct": {
                              "type": "number",
                              "format": "float",
                              "description": "The percentage of missed votes.",
                              "title": "Missed Votes Percentage"
                            },
                            "votes_with_party_pct": {
                              "type": "number",
                              "format": "float",
                              "description": "The percentage of votes with party.",
                              "title": "Votes With Party Percentage"
                            },
                            "votes_against_party_pct": {
                              "type": "number",
                              "format": "float",
                              "description": "The percentage of votes against party.",
                              "title": "Votes Against Party Percentage"
                            },
                            "committees": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "The name.",
                                    "title": "Name"
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "The code.",
                                    "title": "Code"
                                  },
                                  "api_uri": {
                                    "type": "string",
                                    "description": "The API Uri address.",
                                    "title": "API URI"
                                  },
                                  "side": {
                                    "type": "string",
                                    "description": "The side.",
                                    "title": "Side"
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "The title.",
                                    "title": "Title"
                                  },
                                  "rank_in_party": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The rank in party.",
                                    "title": "Rank In Party"
                                  },
                                  "begin_date": {
                                    "type": "string",
                                    "description": "The begin date.",
                                    "title": "Begin Date"
                                  },
                                  "end_date": {
                                    "type": "string",
                                    "description": "The end date.",
                                    "title": "End Date"
                                  }
                                }
                              },
                              "title": "Committees"
                            },
                            "subcommittees": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "The name.",
                                    "title": "Name"
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "The code.",
                                    "title": "Code"
                                  },
                                  "parent_committee_id": {
                                    "type": "string",
                                    "description": "The parent committee identifier.",
                                    "title": "Parent Committee ID"
                                  },
                                  "api_uri": {
                                    "type": "string",
                                    "description": "The API Uri address.",
                                    "title": "API URI"
                                  },
                                  "side": {
                                    "type": "string",
                                    "description": "The side.",
                                    "title": "Side"
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "The title.",
                                    "title": "Title"
                                  },
                                  "rank_in_party": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The rank in party.",
                                    "title": "Rank In Party"
                                  },
                                  "begin_date": {
                                    "type": "string",
                                    "description": "The begin date.",
                                    "title": "Begin Date"
                                  },
                                  "end_date": {
                                    "type": "string",
                                    "description": "The end date.",
                                    "title": "End Date"
                                  }
                                }
                              },
                              "title": "Subcommittees"
                            }
                          }
                        },
                        "title": "Roles"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get a specific member",
        "parameters": [
          {
            "name": "member-id",
            "in": "path",
            "x-ms-summary": "Member ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier of the member.",
            "required": true,
            "type": "string"
          }
        ],
        "description": "This action gets biographical and Congressional role information for a particular member of Congress.",
        "operationId": "MemberGetA"
      }
    },
    "/members/new.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The response status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The response copyright.",
                  "title": "Copyright"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "num_results": {
                        "type": "string",
                        "description": "The number of results.",
                        "title": "Number of Results"
                      },
                      "offset": {
                        "type": "string",
                        "description": "The requested pagination offset.",
                        "title": "Offset"
                      },
                      "members": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The unique identifier.",
                              "title": "ID"
                            },
                            "api_uri": {
                              "type": "string",
                              "description": "The API Uri.",
                              "title": "API URI"
                            },
                            "first_name": {
                              "type": "string",
                              "description": "The first name.",
                              "title": "First Name"
                            },
                            "middle_name": {
                              "type": "string",
                              "description": "The middle name.",
                              "title": "Middle Name"
                            },
                            "last_name": {
                              "type": "string",
                              "description": "The last name.",
                              "title": "Last Name"
                            },
                            "suffix": {
                              "type": "string",
                              "description": "The suffix.",
                              "title": "Suffix"
                            },
                            "party": {
                              "type": "string",
                              "description": "The party affiliation.",
                              "title": "Party"
                            },
                            "chamber": {
                              "type": "string",
                              "description": "The chamber.",
                              "title": "Chamber"
                            },
                            "state": {
                              "type": "string",
                              "description": "The state.",
                              "title": "State"
                            },
                            "district": {
                              "type": "string",
                              "description": "The district.",
                              "title": "District"
                            },
                            "start_date": {
                              "type": "string",
                              "description": "The start date.",
                              "title": "Start Date"
                            }
                          }
                        },
                        "title": "Members"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get new members",
        "description": "This action gets a list of the most recent new members of the current Congress.",
        "operationId": "MemberGetNew",
        "parameters": []
      }
    },
    "/members/{chamber}/{state}/current.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The response status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The response copyright.",
                  "title": "Copyright"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "The first name.",
                        "title": "First Name"
                      },
                      "middle_name": {
                        "type": "string",
                        "description": "The middle name.",
                        "title": "Middle Name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "The last name.",
                        "title": "Last Name"
                      },
                      "suffix": {
                        "type": "string",
                        "description": "The suffix.",
                        "title": "Suffix"
                      },
                      "role": {
                        "type": "string",
                        "description": "The role.",
                        "title": "Role"
                      },
                      "gender": {
                        "type": "string",
                        "description": "The gender.",
                        "title": "Gender"
                      },
                      "party": {
                        "type": "string",
                        "description": "The party.",
                        "title": "Party"
                      },
                      "times_topics_url": {
                        "type": "string",
                        "description": "The Times Topics URL address.",
                        "title": "Times Topics URL"
                      },
                      "twitter_id": {
                        "type": "string",
                        "description": "The Twitter identifier.",
                        "title": "Twitter ID"
                      },
                      "facebook_account": {
                        "type": "string",
                        "description": "The Facebook account.",
                        "title": "Facebook Account"
                      },
                      "youtube_id": {
                        "type": "string",
                        "description": "The YouTube identifier.",
                        "title": "YouTube ID"
                      },
                      "seniority": {
                        "type": "string",
                        "description": "The seniority.",
                        "title": "Seniority"
                      },
                      "next_election": {
                        "type": "string",
                        "description": "The next election.",
                        "title": "Next Election"
                      },
                      "api_uri": {
                        "type": "string",
                        "description": "The API Uri address.",
                        "title": "API URI"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get current members by state or district",
        "description": "This action gets biographical and Congressional role information for a particular member of Congress.",
        "operationId": "MemberGetState",
        "parameters": [
          {
            "name": "chamber",
            "in": "path",
            "x-ms-summary": "Chamber",
            "x-ms-url-encoding": "single",
            "description": "The chamber of Congress.",
            "enum": [
              "house",
              "senate"
            ],
            "default": "house",
            "required": true,
            "type": "string"
          },
          {
            "name": "state",
            "in": "path",
            "x-ms-summary": "State",
            "x-ms-url-encoding": "single",
            "description": "The two-letter state abbreviation.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{congress}/{chamber}/members/leaving.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The response status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The response copyright.",
                  "title": "Copyright"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "congress": {
                        "type": "string",
                        "description": "The Congressional session.",
                        "title": "Congress"
                      },
                      "chamber": {
                        "type": "string",
                        "description": "The chamber.",
                        "title": "Chamber"
                      },
                      "num_results": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results.",
                        "title": "Number of Results"
                      },
                      "offset": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The requested pagination offset.",
                        "title": "Offset"
                      },
                      "members": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The unique identifier.",
                              "title": "ID"
                            },
                            "api_uri": {
                              "type": "string",
                              "description": "The API Uri.",
                              "title": "API URI"
                            },
                            "first_name": {
                              "type": "string",
                              "description": "The first name.",
                              "title": "First Name"
                            },
                            "middle_name": {
                              "type": "string",
                              "description": "The middle name.",
                              "title": "Middle Name"
                            },
                            "last_name": {
                              "type": "string",
                              "description": "The last name.",
                              "title": "Last Name"
                            },
                            "suffix": {
                              "type": "string",
                              "description": "The suffix.",
                              "title": "Suffix"
                            },
                            "party": {
                              "type": "string",
                              "description": "The party affiliation.",
                              "title": "Party"
                            },
                            "state": {
                              "type": "string",
                              "description": "The state.",
                              "title": "State"
                            },
                            "district": {
                              "type": "string",
                              "description": "The district.",
                              "title": "District"
                            },
                            "begin_date": {
                              "type": "string",
                              "description": "The begin date.",
                              "title": "Begin Date"
                            },
                            "end_date": {
                              "type": "string",
                              "description": "The end date.",
                              "title": "End Date"
                            },
                            "status": {
                              "type": "string",
                              "description": "The status.",
                              "title": "Status"
                            },
                            "note": {
                              "type": "string",
                              "description": "Any notes.",
                              "title": "Note"
                            }
                          }
                        },
                        "title": "Members"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get members leaving office",
        "description": "This action gets a list of members who have left the Senate or House or have announced plans to do so.",
        "operationId": "MemberGetLeaving",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "x-ms-summary": "Congress",
            "x-ms-url-encoding": "single",
            "description": "The Congressional session number. Available sessions are 102-117 for House, 80-117 for Senate.",
            "required": true,
            "type": "string"
          },
          {
            "name": "chamber",
            "in": "path",
            "x-ms-summary": "Chamber",
            "x-ms-url-encoding": "single",
            "description": "The chamber of Congress.",
            "enum": [
              "house",
              "senate"
            ],
            "default": "house",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/members/{member-id}/votes.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The response status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The response copyright.",
                  "title": "Copyright"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "member_id": {
                        "type": "string",
                        "description": "The member identifier.",
                        "title": "Member ID"
                      },
                      "total_votes": {
                        "type": "string",
                        "description": "The total votes.",
                        "title": "Total Votes"
                      },
                      "offset": {
                        "type": "string",
                        "description": "The requested pagination offset.",
                        "title": "Offset"
                      },
                      "votes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "member_id": {
                              "type": "string",
                              "description": "The unique identifier of the member.",
                              "title": "Member ID"
                            },
                            "chamber": {
                              "type": "string",
                              "description": "The chamber.",
                              "title": "Chamber"
                            },
                            "congress": {
                              "type": "string",
                              "description": "The Congress session.",
                              "title": "Congress"
                            },
                            "session": {
                              "type": "string",
                              "description": "The session.",
                              "title": "Session"
                            },
                            "roll_call": {
                              "type": "string",
                              "description": "The roll call.",
                              "title": "Roll Call"
                            },
                            "vote_uri": {
                              "type": "string",
                              "description": "The vote Uri.",
                              "title": "Vote Uri"
                            },
                            "bill": {
                              "type": "object",
                              "properties": {
                                "bill_id": {
                                  "type": "string",
                                  "description": "The unique identifier of the bill.",
                                  "title": "Bill ID"
                                },
                                "number": {
                                  "type": "string",
                                  "description": "The number.",
                                  "title": "Number"
                                },
                                "bill_uri": {
                                  "type": "string",
                                  "description": "The bill Uri.",
                                  "title": "Bill Uri"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "The title.",
                                  "title": "Title"
                                },
                                "latest_action": {
                                  "type": "string",
                                  "description": "The latest action.",
                                  "title": "Latest Action"
                                }
                              },
                              "title": "Bill"
                            },
                            "title": {
                              "type": "string",
                              "description": "The description.",
                              "title": "Description"
                            },
                            "question": {
                              "type": "string",
                              "description": "The question.",
                              "title": "Question"
                            },
                            "result": {
                              "type": "string",
                              "description": "The result.",
                              "title": "Result"
                            },
                            "date": {
                              "type": "string",
                              "description": "The date.",
                              "title": "Date"
                            },
                            "time": {
                              "type": "string",
                              "description": "The time.",
                              "title": "Time"
                            },
                            "total": {
                              "type": "object",
                              "properties": {
                                "yes": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The Yes votes.",
                                  "title": "Yes"
                                },
                                "no": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The No votes.",
                                  "title": "No"
                                },
                                "present": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The Present votes.",
                                  "title": "Present"
                                },
                                "not_voting": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The Not Voting number.",
                                  "title": "Not Voting"
                                }
                              },
                              "title": "Total"
                            },
                            "position": {
                              "type": "string",
                              "description": "The position.",
                              "title": "Position"
                            }
                          }
                        },
                        "title": "Votes"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get a specific member's vote positions",
        "description": "This action gets the most recent vote positions for a specific member of the House of Representatives or Senate.",
        "operationId": "MemberGetVote",
        "parameters": [
          {
            "name": "member-id",
            "in": "path",
            "x-ms-summary": "Member ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier of the member.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/members/{first-member-id}/votes/{second-member-id}/{congress}/{chamber}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The response status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The response copyright.",
                  "title": "Copyright"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "first_member_id": {
                        "type": "string",
                        "description": "The unique identifier of the first member.",
                        "title": "First Member ID"
                      },
                      "first_member_api_uri": {
                        "type": "string",
                        "description": "The API Uri of the first member.",
                        "title": "First Member API Uri"
                      },
                      "second_member_id": {
                        "type": "string",
                        "description": "The unique identifier of the second member.",
                        "title": "Second Member ID"
                      },
                      "second_member_api_uri": {
                        "type": "string",
                        "description": "The API Uri of the second member.",
                        "title": "Second Member API Uri"
                      },
                      "congress": {
                        "type": "string",
                        "description": "The Congressional session.",
                        "title": "Congress"
                      },
                      "chamber": {
                        "type": "string",
                        "description": "The chamber.",
                        "title": "Chamber"
                      },
                      "common_votes": {
                        "type": "string",
                        "description": "The common votes.",
                        "title": "Common Votes"
                      },
                      "disagree_votes": {
                        "type": "string",
                        "description": "The Disagree votes.",
                        "title": "Disagree Votes"
                      },
                      "agree_percent": {
                        "type": "string",
                        "description": "The Agree percentage.",
                        "title": "Agree Percentage"
                      },
                      "disagree_percent": {
                        "type": "string",
                        "description": "The Disagree percentage.",
                        "title": "Disagree Percentage"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Compare two members vote positions",
        "description": "This action compares two members' vote positions in a particular Congress and chamber. Responses include four calculated values, showing the number and percentage of votes in which the members took the same position or opposing positions.",
        "operationId": "MemberGetVotePositions",
        "parameters": [
          {
            "name": "first-member-id",
            "in": "path",
            "x-ms-summary": "First Member ID",
            "x-ms-url-encoding": "single",
            "description": "The ID of the member to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "second-member-id",
            "in": "path",
            "x-ms-summary": "Second Member ID",
            "x-ms-url-encoding": "single",
            "description": "The ID of the member to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "congress",
            "in": "path",
            "x-ms-summary": "Congress",
            "x-ms-url-encoding": "single",
            "description": "The Congressional session number. Available sessions are 102-117 for House, 80-117 for Senate.",
            "required": true,
            "type": "string"
          },
          {
            "name": "chamber",
            "in": "path",
            "x-ms-summary": "Chamber",
            "x-ms-url-encoding": "single",
            "description": "The chamber of Congress.",
            "enum": [
              "house",
              "senate"
            ],
            "default": "house",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/members/{first-member-id}/bills/{second-member-id}/{congress}/{chamber}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The response status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The response copyright.",
                  "title": "Copyright"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "first_member_api_uri": {
                        "type": "string",
                        "description": "The API Uri of the first member.",
                        "title": "First Member API Uri"
                      },
                      "second_member_api_uri": {
                        "type": "string",
                        "description": "The API Uri of the second member.",
                        "title": "Second Member API Uri"
                      },
                      "chamber": {
                        "type": "string",
                        "description": "The chamber.",
                        "title": "Chamber"
                      },
                      "congress": {
                        "type": "string",
                        "description": "The Congressional session.",
                        "title": "Congress"
                      },
                      "common_bills": {
                        "type": "string",
                        "description": "The common bills.",
                        "title": "Common Bills"
                      },
                      "bills": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "string",
                              "description": "The number.",
                              "title": "Number"
                            },
                            "api_uri": {
                              "type": "string",
                              "description": "The API Uri.",
                              "title": "API URI"
                            },
                            "title": {
                              "type": "string",
                              "description": "The title.",
                              "title": "Title"
                            },
                            "sponsor_uri": {
                              "type": "string",
                              "description": "The Uri of the sponsor.",
                              "title": "Sponsor Uri"
                            },
                            "introduced_date": {
                              "type": "string",
                              "description": "The introduced date.",
                              "title": "Introduced Date"
                            },
                            "cosponsors": {
                              "type": "string",
                              "description": "The cosponsors.",
                              "title": "Cosponsors"
                            },
                            "committees": {
                              "type": "string",
                              "description": "The committees.",
                              "title": "Committees"
                            },
                            "latest_major_action_date": {
                              "type": "string",
                              "description": "The date of the latest major action.",
                              "title": "Latest Major Action Date"
                            },
                            "latest_major_action": {
                              "type": "string",
                              "description": "The latest major action.",
                              "title": "Latest Major Action"
                            },
                            "first_member_date": {
                              "type": "string",
                              "description": "The first member date.",
                              "title": "First Member Date"
                            },
                            "second_member_date": {
                              "type": "string",
                              "description": "The second member date.",
                              "title": "Second Member Date"
                            }
                          }
                        },
                        "title": "Bills"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Compare two members' bill sponsorships",
        "description": "This action compares bill sponsorship between two members who served in the same Congress and chamber.",
        "operationId": "MemberGetBill",
        "parameters": [
          {
            "name": "first-member-id",
            "in": "path",
            "x-ms-summary": "First Member ID",
            "x-ms-url-encoding": "single",
            "description": "The ID of the member to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "second-member-id",
            "in": "path",
            "x-ms-summary": "Second Member ID",
            "x-ms-url-encoding": "single",
            "description": "The ID of the member to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "congress",
            "in": "path",
            "x-ms-summary": "Congress",
            "x-ms-url-encoding": "single",
            "description": "The Congressional session number. Available sessions are 102-117 for House, 80-117 for Senate.",
            "required": true,
            "type": "string"
          },
          {
            "name": "chamber",
            "in": "path",
            "x-ms-summary": "Chamber",
            "x-ms-url-encoding": "single",
            "description": "The chamber of Congress.",
            "enum": [
              "house",
              "senate"
            ],
            "default": "house",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/members/{member-id}/bills/{type}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The response status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The response copyright.",
                  "title": "Copyright"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "member_uri": {
                        "type": "string",
                        "description": "The Uri of the member.",
                        "title": "Member Uri"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "num_results": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results.",
                        "title": "Number of Results"
                      },
                      "offset": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The requested pagination offset.",
                        "title": "Offset"
                      },
                      "bills": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "congress": {
                              "type": "string",
                              "description": "The Congress session.",
                              "title": "Congress"
                            },
                            "bill_id": {
                              "type": "string",
                              "description": "The unique identifier of the bill.",
                              "title": "Bill ID"
                            },
                            "bill_type": {
                              "type": "string",
                              "description": "The type of bill.",
                              "title": "Bill Type"
                            },
                            "number": {
                              "type": "string",
                              "description": "The number.",
                              "title": "Number"
                            },
                            "bill_uri": {
                              "type": "string",
                              "description": "The Uri of the bill.",
                              "title": "Bill Uri"
                            },
                            "title": {
                              "type": "string",
                              "description": "The title.",
                              "title": "Title"
                            },
                            "short_title": {
                              "type": "string",
                              "description": "The short title.",
                              "title": "Short Title"
                            },
                            "sponsor_title": {
                              "type": "string",
                              "description": "The sponsor title.",
                              "title": "Sponsor Title"
                            },
                            "sponsor_id": {
                              "type": "string",
                              "description": "The unique identifier of the sponsor.",
                              "title": "Sponsor ID"
                            },
                            "sponsor_name": {
                              "type": "string",
                              "description": "The name of the sponsor.",
                              "title": "Sponsor Name"
                            },
                            "sponsor_state": {
                              "type": "string",
                              "description": "The state of the sponsor.",
                              "title": "Sponsor State"
                            },
                            "sponsor_party": {
                              "type": "string",
                              "description": "The party of the sponsor.",
                              "title": "Sponsor Party"
                            },
                            "sponsor_uri": {
                              "type": "string",
                              "description": "The Uri of the sponsor.",
                              "title": "Sponsor Uri"
                            },
                            "gpo_pdf_uri": {
                              "type": "string",
                              "description": "The Uri of the GPO PDF.",
                              "title": "GPO PDF Uri"
                            },
                            "congressdotgov_url": {
                              "type": "string",
                              "description": "The Congress.gov URL address.",
                              "title": "Congress.gov URL"
                            },
                            "govtrack_url": {
                              "type": "string",
                              "description": "The Govtrack URL address.",
                              "title": "Govtrack URL"
                            },
                            "introduced_date": {
                              "type": "string",
                              "description": "The introduced date.",
                              "title": "Introduced Date"
                            },
                            "active": {
                              "type": "boolean",
                              "description": "Whether active.",
                              "title": "Active"
                            },
                            "last_vote": {
                              "type": "string",
                              "description": "The last vote.",
                              "title": "Last Vote"
                            },
                            "house_passage": {
                              "type": "string",
                              "description": "The House passage.",
                              "title": "House Passage"
                            },
                            "senate_passage": {
                              "type": "string",
                              "description": "The Senate passage.",
                              "title": "Senate Passage"
                            },
                            "enacted": {
                              "type": "string",
                              "description": "The enacted.",
                              "title": "Enacted"
                            },
                            "vetoed": {
                              "type": "string",
                              "description": "The vetoed.",
                              "title": "Vetoed"
                            },
                            "cosponsors": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The cosponsors.",
                              "title": "Cosponsors"
                            },
                            "cosponsors_by_party": {
                              "type": "object",
                              "properties": {
                                "D": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The number of Democrats.",
                                  "title": "Democrats"
                                },
                                "R": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The number of Republicans.",
                                  "title": "Republicans"
                                },
                                "I": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The number of Independents.",
                                  "title": "Independents"
                                }
                              },
                              "title": "Cosponsors By Party"
                            },
                            "committees": {
                              "type": "string",
                              "description": "The committees.",
                              "title": "Committees"
                            },
                            "primary_subject": {
                              "type": "string",
                              "description": "The primary subject.",
                              "title": "Primary Subject"
                            },
                            "summary": {
                              "type": "string",
                              "description": "The summary.",
                              "title": "Summary"
                            },
                            "summary_short": {
                              "type": "string",
                              "description": "The short summary.",
                              "title": "Short Summary"
                            },
                            "latest_major_action_date": {
                              "type": "string",
                              "description": "The date of the latest major action.",
                              "title": "Latest Major Action Date"
                            },
                            "latest_major_action": {
                              "type": "string",
                              "description": "The latest major action.",
                              "title": "Latest Major Action"
                            }
                          }
                        },
                        "title": "Bills"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get recent bills by a specific member",
        "description": "This action gets the 20 bills most recently introduced or updated by a particular member.",
        "operationId": "BillRecentMember",
        "parameters": [
          {
            "name": "member-id",
            "in": "path",
            "x-ms-summary": "Member ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier of the member.",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "x-ms-summary": "Type",
            "x-ms-url-encoding": "single",
            "description": "Whether the bill was cosponsored or withdrawn.",
            "enum": [
              "cosponsored",
              "withdrawn"
            ],
            "default": "cosponsored",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/members/{member-id}/office_expenses/{year}/{quarter}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The response status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The response copyright.",
                  "title": "Copyright"
                },
                "member_id": {
                  "type": "string",
                  "description": "The unique identifier of the member.",
                  "title": "Member ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "member_uri": {
                  "type": "string",
                  "description": "The Uri of the member.",
                  "title": "Member Uri"
                },
                "year": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The year.",
                  "title": "Year"
                },
                "quarter": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The quarter.",
                  "title": "Quarter"
                },
                "num_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of results.",
                  "title": "Results"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "The category.",
                        "title": "Category"
                      },
                      "category_slug": {
                        "type": "string",
                        "description": "The category slug.",
                        "title": "Category Slug"
                      },
                      "amount": {
                        "type": "number",
                        "format": "float",
                        "description": "The amount.",
                        "title": "Amount"
                      },
                      "year_to_date": {
                        "type": "number",
                        "format": "float",
                        "description": "The year to date amount.",
                        "title": "Year To Date"
                      },
                      "change_from_previous_quarter": {
                        "type": "number",
                        "format": "float",
                        "description": "The change from previous quarter.",
                        "title": "Change From Previous Quarter"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get quarterly office expenses by a specific house member",
        "parameters": [
          {
            "name": "member-id",
            "in": "path",
            "x-ms-summary": "Member ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier of the member.",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "path",
            "x-ms-summary": "Year",
            "x-ms-url-encoding": "single",
            "description": "The year in the format YYYY.",
            "required": true,
            "type": "string"
          },
          {
            "name": "quarter",
            "in": "path",
            "x-ms-summary": "Quarter",
            "x-ms-url-encoding": "single",
            "description": "The quarter number as a single digit.",
            "required": true,
            "type": "string"
          }
        ],
        "description": "The House of Representatives publishes quarterly reports detailing official office expenses by lawmakers. The Congress API has data beginning in the third quarter of 2009. The most recent quarter may not be available until several months after it ends.",
        "operationId": "HouseOfficeExpense"
      }
    },
    "/members/{member-id}/office_expenses/category/{category}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The response status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The response copyright.",
                  "title": "Copyright"
                },
                "member_id": {
                  "type": "string",
                  "description": "The unique identifier of the member.",
                  "title": "Member ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "member_uri": {
                  "type": "string",
                  "description": "The Uri of the member.",
                  "title": "Member Uri"
                },
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "num_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of results.",
                  "title": "Results"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "year": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The year.",
                        "title": "Year"
                      },
                      "quarter": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The quarter.",
                        "title": "Quarter"
                      },
                      "amount": {
                        "type": "number",
                        "format": "float",
                        "description": "The amount.",
                        "title": "Amount"
                      },
                      "year_to_date": {
                        "type": "number",
                        "format": "float",
                        "description": "The year to date amount.",
                        "title": "Year To Date"
                      },
                      "change_from_previous_quarter": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The change from previous quarter.",
                        "title": "Change From Previous Quarter"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get quarterly office expenses by category for a specific house member",
        "description": "The House of Representatives publishes quarterly reports detailing official office expenses by lawmakers. The Congress API has data beginning in the third quarter of 2009. This action gets the amount a given lawmaker spent during a specified year and quarter in a specified category.",
        "operationId": "HouseOfficeCategory",
        "parameters": [
          {
            "name": "member-id",
            "in": "path",
            "x-ms-summary": "Member ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier of the member.",
            "required": true,
            "type": "string"
          },
          {
            "name": "category",
            "in": "path",
            "x-ms-summary": "Category",
            "x-ms-url-encoding": "single",
            "description": "The expense category.",
            "enum": [
              "travel",
              "personnel",
              "rent-utilities",
              "other-services",
              "supplies",
              "franked-mail",
              "printing",
              "equipment",
              "total"
            ],
            "default": "travel",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/office_expenses/category/{category}/{year}/{quarter}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The response status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The response copyright.",
                  "title": "Copyright"
                },
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "num_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of results.",
                  "title": "Results"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The pagination number offset.",
                  "title": "Offset"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "year": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The year.",
                        "title": "Year"
                      },
                      "quarter": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The quarter.",
                        "title": "Quarter"
                      },
                      "member_id": {
                        "type": "string",
                        "description": "The member identifier.",
                        "title": "Member ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "member_uri": {
                        "type": "string",
                        "description": "The Uri of the member.",
                        "title": "Member Uri"
                      },
                      "amount": {
                        "type": "number",
                        "format": "float",
                        "description": "The amount.",
                        "title": "Amount"
                      },
                      "year_to_date": {
                        "type": "number",
                        "format": "float",
                        "description": "The year to date amount.",
                        "title": "Year To Date"
                      },
                      "change_from_previous_quarter": {
                        "type": "number",
                        "format": "float",
                        "description": "The change from previous quarter.",
                        "title": "Change From Previous Quarter"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get quarterly office expenses for a specific category",
[...]
