{
  "swagger": "2.0",
  "info": {
    "title": "Zoho Sign",
    "description": "Zoho's Sign is a complete digital signature app that helps digitally sign business documents with complete security and reliability",
    "version": "1.0",
    "contact": {
      "name": "Zoho Sign API Support",
      "email": "support@zohosign.com",
      "url": "https://www.zoho.com/sign/contact.html"
    }
  },
  "host": "sign.zoho.com",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/x-www-form-urlencoded"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{url}": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "operationId": "InvokeAPI",
        "summary": "Invoke API",
        "description": "Invoke API",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "URL Path",
            "description": "Provide url path"
          },
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "GET",
              "POST",
              "PUT"
            ],
            "description": "Select API Method to be used",
            "x-ms-summary": "Method"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "title": "input_data",
              "properties": {}
            }
          }
        ]
      }
    },
    "/requests/{request_id}/completioncertificate": {
      "get": {
        "produces": [
          "application/pdf"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            },
            "headers": {
              "HTTP/1.1": {
                "description": "OK",
                "type": "string"
              },
              "Content-Type:application/pdf;": {
                "description": "Content-Type:application/pdf;",
                "type": "string"
              }
            }
          }
        },
        "summary": "Download Completion Certificate",
        "description": "Download the completion certificate",
        "operationId": "download-completion-certificate",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "Request ID",
            "x-ms-summary": "Request ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/requests/{request_id}/pdf": {
      "get": {
        "produces": [
          "application/pdf"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            },
            "headers": {
              "HTTP/1.1": {
                "description": "OK",
                "type": "string"
              },
              "Content-Type:application/pdf;": {
                "description": "Content-Type:application/pdf;",
                "type": "string"
              }
            }
          }
        },
        "summary": "Download Document",
        "description": "Download the selected document",
        "operationId": "download-document",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Request ID",
            "description": "Request ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/requests/{request_id}/documents/{document_id}/pdf": {
      "get": {
        "produces": [
          "application/pdf"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            },
            "headers": {
              "HTTP/1.1": {
                "description": "OK",
                "type": "string"
              },
              "Content-Type:application/pdf;": {
                "description": "Content-Type:application/pdf;",
                "type": "string"
              }
            }
          }
        },
        "summary": "Download File",
        "description": "Downloads the particular document that is selected.",
        "operationId": "download-file",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Request ID",
            "x-ms-url-encoding": "single",
            "description": "Request ID"
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Document ID",
            "x-ms-url-encoding": "single",
            "description": "Document ID"
          }
        ]
      }
    },
    "/accounts/webhooks/{webhookId}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "webhookId",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-url-encoding": "single",
            "description": "webhook id to be deleted",
            "x-ms-summary": "webhook id to be deleted"
          }
        ],
        "summary": "Delete Webhook",
        "description": "Internal endpoint for deleting a webhook",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                }
              }
            }
          }
        },
        "operationId": "delete-webhook",
        "x-ms-visibility": "internal"
      }
    },
    "/internal/accounts/webhooks": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "requests": {
              "type": "object",
              "properties": {
                "request_status": {
                  "type": "string",
                  "description": "request status"
                },
                "notes": {
                  "type": "string",
                  "description": "notes"
                },
                "reminder_period": {
                  "type": "integer",
                  "format": "int32",
                  "description": "reminder period"
                },
                "owner_id": {
                  "type": "string",
                  "description": "owner id"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "request_name": {
                  "type": "string",
                  "description": "Request name"
                },
                "modified_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Modified time"
                },
                "action_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Action time"
                },
                "is_deleted": {
                  "type": "boolean",
                  "description": "Status of deleted"
                },
                "expiration_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Expiration days"
                },
                "is_sequential": {
                  "type": "boolean",
                  "description": "Status of sequential operation"
                },
                "sign_submitted_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Sign submitted time"
                },
                "owner_first_name": {
                  "type": "string",
                  "description": "Owner of the first name"
                },
                "sign_percentage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Sign percentage"
                },
                "expire_by": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Expire by"
                },
                "owner_email": {
                  "type": "string",
                  "description": "Owner email"
                },
                "created_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created time"
                },
                "email_reminders": {
                  "type": "boolean",
                  "description": "Email reminders"
                },
                "document_ids": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "document_name": {
                        "type": "string",
                        "description": "Enter the document name"
                      },
                      "document_size": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Size of the document"
                      },
                      "document_order": {
                        "type": "string",
                        "description": "Order of the document"
                      },
                      "total_pages": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total number of pages in the document"
                      },
                      "document_id": {
                        "type": "string",
                        "description": "Document ID"
                      }
                    }
                  },
                  "description": "Document ids list"
                },
                "self_sign": {
                  "type": "boolean",
                  "description": "Status of self sign"
                },
                "in_process": {
                  "type": "boolean",
                  "description": "Status of in process"
                },
                "validity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Validity"
                },
                "request_type_name": {
                  "type": "string",
                  "description": "Request type name"
                },
                "decline_reason": {
                  "type": "string",
                  "description": "Decline reason"
                },
                "request_id": {
                  "type": "string",
                  "description": "Request id"
                },
                "request_type_id": {
                  "type": "string",
                  "description": "Request type id"
                },
                "owner_last_name": {
                  "type": "string",
                  "description": "Owner last name"
                },
                "actions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "verify_recipient": {
                        "type": "boolean",
                        "description": "Verify recipient"
                      },
                      "action_type": {
                        "type": "string",
                        "description": "Type of action"
                      },
                      "private_notes": {
                        "type": "string",
                        "description": "Private notes"
                      },
                      "recipient_email": {
                        "type": "string",
                        "description": "Recipient email"
                      },
                      "allow_signing": {
                        "type": "boolean",
                        "description": "Status of signing"
                      },
                      "recipient_phonenumber": {
                        "type": "string",
                        "description": "Recipient phonenumber"
                      },
                      "is_bulk": {
                        "type": "boolean",
                        "description": "Status of bulk action"
                      },
                      "action_id": {
                        "type": "string",
                        "description": "Action id"
                      },
                      "is_revoked": {
                        "type": "boolean",
                        "description": "Status of revoke"
                      },
                      "is_embedded": {
                        "type": "boolean",
                        "description": "Status of embedded"
                      },
                      "signing_order": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Signing order"
                      },
                      "recipient_name": {
                        "type": "string",
                        "description": "Recipient name"
                      },
                      "action_status": {
                        "type": "string",
                        "description": "Action status"
                      },
                      "recipient_countrycode": {
                        "type": "string",
                        "description": "Country Code of the recipient"
                      }
                    }
                  },
                  "description": "actions"
                }
              },
              "description": "requests"
            },
            "notifications": {
              "type": "object",
              "properties": {
                "performed_by_email": {
                  "type": "string",
                  "description": "Performed by email"
                },
                "performed_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Performed at"
                },
                "reason": {
                  "type": "string",
                  "description": "Reason"
                },
                "activity": {
                  "type": "string",
                  "description": "Activity"
                },
                "operation_type": {
                  "type": "string",
                  "description": "Operation Type"
                },
                "action_id": {
                  "type": "string",
                  "description": "Action id"
                },
                "performed_by_name": {
                  "type": "string",
                  "description": "Performed by name"
                },
                "signing_order": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Signing order"
                },
                "ip_address": {
                  "type": "string",
                  "description": "Ip address"
                }
              },
              "description": "notifications"
            }
          }
        },
        "description": "Zoho Sign webhooks callback payload"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "webhook_url": {
                  "type": "string",
                  "description": "Webhook url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback URL"
                },
                "webhook_actions": {
                  "type": "string",
                  "description": "Webhook actions",
                  "title": "Actions",
                  "enum": [
                    "Sign",
                    "Decline",
                    "Forward",
                    "Completed",
                    "Recalled",
                    "Expired",
                    "Viewed"
                  ],
                  "x-ms-visibility": "important"
                },
                "purpose": {
                  "type": "string",
                  "description": "Purpose",
                  "title": "Purpose",
                  "default": "Microsoft PowerAutomate",
                  "x-ms-visibility": "internal"
                },
                "appname": {
                  "type": "string",
                  "description": "appname",
                  "title": "Application Name",
                  "default": "Microsoft PowerAutomate",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "appname",
                "purpose",
                "webhook_actions",
                "webhook_url"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Zoho Sign Triggers",
        "description": "Register a callback for a particular event",
        "operationId": "zoho-sign-triggers",
        "x-ms-trigger": "single"
      }
    },
    "/requests/{request_id}/fielddata": {
      "get": {
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Request ID",
            "description": "Request id"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "document_form_data": {
                  "type": "object",
                  "properties": {
                    "request_name": {
                      "type": "string",
                      "description": "Request Name"
                    },
                    "zsdocumentid": {
                      "type": "string",
                      "description": "Zoho Sign Documentid"
                    },
                    "actions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "signed_time": {
                            "type": "string",
                            "description": "Signed time"
                          },
                          "action_type": {
                            "type": "string",
                            "description": "Action type"
                          },
                          "recipient_email": {
                            "type": "string",
                            "description": "Recipient email"
                          },
                          "recipient_name": {
                            "type": "string",
                            "description": "Recipient name"
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "field_label": {
                                  "type": "string",
                                  "description": "Field label"
                                },
                                "field_value": {
                                  "type": "string",
                                  "description": "Field value"
                                },
                                "field_name": {
                                  "type": "string",
                                  "description": "Field name"
                                }
                              }
                            },
                            "description": "fields"
                          }
                        }
                      },
                      "description": "actions"
                    }
                  },
                  "description": "Document form data"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                }
              }
            }
          }
        },
        "summary": "Get data of completed request",
        "description": "Get data of completed request",
        "operationId": "get-form-data"
      }
    },
    "/requests/{request_id}/recall": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "request_id",
            "type": "integer",
            "required": true,
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Request ID",
            "description": "Request ID"
          }
        ],
        "summary": "Recall a particular document",
        "operationId": "recall-document",
        "description": "Recall a particular document",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/requests/{request_id}/remind": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "request_id",
            "type": "integer",
            "required": true,
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Request ID",
            "description": "Request ID"
          }
        ],
        "summary": "Reminder for recipients",
        "operationId": "remind-document-recipients",
        "description": "Send a reminder to recipients of a particular document.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/requests/{request_id}/delete": {
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "request_id",
            "type": "integer",
            "required": true,
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Request ID",
            "description": "Request ID"
          }
        ],
        "summary": "Delete Document",
        "operationId": "delete-document",
        "description": "Delete a particular document",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/requests": {
      "post": {
        "operationId": "Create-Document",
        "summary": "Create a document for signing",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "file",
            "required": true,
            "x-ms-summary": "create a document",
            "description": "create a document"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "requests": {
                  "type": "object",
                  "properties": {
                    "request_status": {
                      "type": "string",
                      "description": "Status of the request"
                    },
                    "owner_email": {
                      "type": "string",
                      "description": "Owner email"
                    },
                    "created_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Created time"
                    },
                    "document_ids": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "image_string": {
                            "type": "string",
                            "description": "Image string"
                          },
                          "document_name": {
                            "type": "string",
                            "description": "Document name"
                          },
                          "pages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "image_string": {
                                  "type": "string",
                                  "description": "Image string"
                                },
                                "page": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "page"
                                },
                                "is_thumbnail": {
                                  "type": "boolean",
                                  "description": "is_thumbnail"
                                }
                              }
                            },
                            "description": "pages"
                          },
                          "document_size": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Document size"
                          },
                          "document_order": {
                            "type": "string",
                            "description": "Document order"
                          },
                          "total_pages": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total pages"
                          },
                          "document_id": {
                            "type": "string",
                            "description": "Document id"
                          }
                        }
                      },
                      "description": "document_ids"
                    },
                    "notes": {
                      "type": "string",
                      "description": "notes"
                    },
                    "self_sign": {
                      "type": "boolean",
                      "description": "self sign"
                    },
                    "owner_id": {
                      "type": "string",
                      "description": "owner id"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description"
                    },
                    "folder_name": {
                      "type": "string",
                      "description": "Folder name"
                    },
                    "request_name": {
                      "type": "string",
                      "description": "Request Name"
                    },
                    "modified_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "modified time"
                    },
                    "is_deleted": {
                      "type": "boolean",
                      "description": "Status of deletion"
                    },
                    "expiration_days": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Expiration days"
                    },
                    "in_process": {
                      "type": "boolean",
                      "description": "In process"
                    },
                    "is_sequential": {
                      "type": "boolean",
                      "description": "Sequential status"
                    },
                    "request_type_name": {
                      "type": "string",
                      "description": "Request type name"
                    },
                    "owner_first_name": {
                      "type": "string",
                      "description": "Owner first name"
                    },
                    "folder_id": {
                      "type": "string",
                      "description": "Folder id"
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Request id"
                    },
                    "request_type_id": {
                      "type": "string",
                      "description": "Request type id"
                    },
                    "owner_last_name": {
                      "type": "string",
                      "description": "Owner Last name"
                    },
                    "sign_percentage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Sign percentage"
                    }
                  },
                  "description": "requests"
                },
                "message": {
                  "type": "string",
                  "description": "Message"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "charset": {
                "description": "charset",
                "type": "string"
              }
            }
          }
        },
        "description": "An action to create a document for signing by uploading a file."
      }
    },
    "/requests/{RequestId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "requests": {
                  "type": "object",
                  "properties": {
                    "request_status": {
                      "type": "string",
                      "description": "Status of the request"
                    },
                    "notes": {
                      "type": "string",
                      "description": "Notes"
                    },
                    "attachments": {
                      "type": "array",
                      "items": {},
                      "description": "Attachments"
                    },
                    "reminder_period": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Reminder period"
                    },
                    "owner_id": {
                      "type": "string",
                      "description": "Owner ID"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the request"
                    },
                    "request_name": {
                      "type": "string",
                      "description": "Name of the request"
                    },
                    "modified_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Modified Time"
                    },
                    "action_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Action Time"
                    },
                    "is_deleted": {
                      "type": "boolean",
                      "description": "Delete status of the request"
                    },
                    "expiration_days": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Expiration days"
                    },
                    "is_sequential": {
                      "type": "boolean",
                      "description": "Sequential Status"
                    },
                    "sign_submitted_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Sign submitted time"
                    },
                    "owner_first_name": {
                      "type": "string",
                      "description": "First Name of the owner"
                    },
                    "sign_percentage": {
                      "type": "number",
                      "format": "float",
                      "description": "Sign percentage"
                    },
                    "expire_by": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Expiry Date of the Document"
                    },
                    "is_expiring": {
                      "type": "boolean",
                      "description": "Document expiring on"
                    },
                    "owner_email": {
                      "type": "string",
                      "description": "Email ID of the owner"
                    },
                    "created_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Time when the document was created"
                    },
                    "email_reminders": {
                      "type": "boolean",
                      "description": "Sending reminders via email"
                    },
                    "document_ids": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "image_string": {
                            "type": "string",
                            "description": "Image string"
                          },
                          "document_name": {
                            "type": "string",
                            "description": "Document Name"
                          },
                          "pages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "image_string": {
                                  "type": "string",
                                  "description": "Image string"
                                },
                                "page": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "page"
                                },
                                "is_thumbnail": {
                                  "type": "boolean",
                                  "description": "Status of thumbnail"
                                }
                              }
                            },
                            "description": "pages"
                          },
                          "document_size": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Size of the document"
                          },
                          "document_order": {
                            "type": "string",
                            "description": "Document order"
                          },
                          "total_pages": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total No.of pages in the document"
                          },
                          "document_id": {
                            "type": "string",
                            "description": "Document Id"
                          }
                        }
                      },
                      "description": "Document Ids"
                    },
                    "self_sign": {
                      "type": "boolean",
                      "description": "Self sign status"
                    },
                    "sign_id": {
                      "type": "string",
                      "description": "Sign id"
                    },
                    "folder_name": {
                      "type": "string",
                      "description": "Name of the folder"
                    },
                    "in_process": {
                      "type": "boolean",
                      "description": "In process status"
                    },
                    "validity": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Validity of the document"
                    },
                    "request_type_name": {
                      "type": "string",
                      "description": "Request type name"
                    },
                    "folder_id": {
                      "type": "string",
                      "description": "Folder id"
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Request Id"
                    },
                    "request_type_id": {
                      "type": "string",
                      "description": "Request type id"
                    },
                    "owner_last_name": {
                      "type": "string",
                      "description": "Last Name of the owner"
                    },
                    "actions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "verify_recipient": {
                            "type": "boolean",
                            "description": "Verify Recipients Mail ID"
                          },
                          "action_type": {
                            "type": "string",
                            "description": "Action type"
                          },
                          "private_notes": {
                            "type": "string",
                            "description": "Private notes"
                          },
                          "recipient_email": {
                            "type": "string",
                            "description": "Recipient's Email ID"
                          },
                          "send_completed_document": {
                            "type": "boolean",
                            "description": "Status of send completed document"
                          },
                          "verification_type": {
                            "type": "string",
                            "description": "Verification type"
                          },
                          "allow_signing": {
                            "type": "boolean",
                            "description": "Allow signing status"
                          },
                          "recipient_phonenumber": {
                            "type": "string",
                            "description": "Recipient phonenumber"
                          },
                          "is_bulk": {
                            "type": "boolean",
                            "description": "Status of bulk"
                          },
                          "action_id": {
                            "type": "string",
                            "description": "Action id"
                          },
                          "is_revoked": {
                            "type": "boolean",
                            "description": "Status of revoke"
                          },
                          "is_embedded": {
                            "type": "boolean",
                            "description": "Status of embedded"
                          },
                          "signing_order": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Signing order"
                          },
                          "recipient_name": {
                            "type": "string",
                            "description": "Recipient name"
                          },
                          "action_status": {
                            "type": "string",
                            "description": "Action status"
                          },
                          "recipient_countrycode": {
                            "type": "string",
                            "description": "Recipient countrycode"
                          },
                          "ishost": {
                            "type": "boolean",
                            "description": "host usage status"
                          },
                          "language": {
                            "type": "string",
                            "description": "language"
                          },
                          "in_person_name": {
                            "type": "string",
                            "description": "In person name"
                          },
                          "in_person_email": {
                            "type": "string",
                            "description": "In person email"
                          },
                          "verification_code": {
                            "type": "string",
                            "description": "Verification code"
                          }
                        }
                      },
                      "description": "actions"
                    },
                    "attachment_size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Size of the attachment"
                    }
                  },
                  "description": "requests"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                }
              }
            }
          }
        },
        "summary": "Get a document",
        "description": "Get details of a particular document",
        "operationId": "get-document",
        "parameters": [
          {
            "name": "RequestId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-url-encoding": "single",
            "description": "Request ID",
            "x-ms-summary": "Request ID"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                }
              }
            }
          }
        },
        "operationId": "UpdateDocument",
        "summary": "Update the properties of a created request",
        "description": "Update the properties of a created request",
        "parameters": [
          {
            "name": "RequestId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Request ID",
            "x-ms-summary": "Request ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "requests": {
                  "type": "object",
                  "properties": {
                    "request_type_id": {
                      "type": "string",
                      "description": "request_type_id",
                      "title": "Document Type",
                      "x-ms-dynamic-values": {
                        "operationId": "GetDocumentTypelList",
                        "value-path": "request_type_id",
                        "value-collection": "request_types",
                        "value-title": "request_type_name"
                      }
                    },
                    "request_name": {
                      "type": "string",
                      "description": "Name of the document (request)",
                      "title": "Document Name"
                    },
                    "actions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "recipient_name": {
                            "type": "string",
                            "description": "Recipient name",
                            "title": "Recipient Name"
                          },
                          "recipient_email": {
                            "type": "string",
                            "description": "Recipient email",
                            "title": "Recipient Email"
                          },
                          "recipient_phonenumber": {
                            "type": "string",
                            "description": "Phone Number of recipient for SMS mode of authentication.",
                            "title": "Phone Number"
                          },
                          "recipient_countrycode": {
                            "type": "string",
                            "description": "Country Code of recipient's phone number for SMS mode of authentication.",
                            "title": "Country Code"
                          },
                          "action_type": {
                            "type": "string",
                            "description": "Select whether the recipient is a Signer or a viewer or an approver or an inpersonSigner.",
                            "title": "ActionType",
                            "enum": [
                              "SIGN",
                              "VIEW",
                              "INPERSONSIGN",
                              "APPROVER"
                            ],
                            "default": "SIGN"
                          },
                          "private_notes": {
                            "type": "string",
                            "description": "Private notes",
                            "title": "Private Notes"
                          },
                          "signing_order": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Signing order",
                            "title": "Signing Order",
                            "default": 1
                          },
                          "verify_recipient": {
                            "type": "boolean",
                            "description": "Whether the recipient needs to be verified by one of the authentication modes.",
                            "title": "Need Authentication For Recipient",
                            "enum": [
                              true,
                              false
                            ],
                            "default": false
                          },
                          "verification_type": {
                            "type": "string",
                            "description": "Verification type",
                            "title": "Authentication Delivery Type",
                            "enum": [
                              "NONE",
                              "OFFLINE",
                              "EMAIL",
                              "SMS"
                            ],
                            "default": "NONE"
                          },
                          "verification_code": {
                            "type": "string",
                            "description": "6 digit Verification Code for OFFLINE verification mode.",
                            "title": "Verification Code"
                          }
                        }
                      },
                      "description": "actions"
                    },
                    "expiration_days": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of days left for the document to get expired.",
                      "title": "Days to complete",
                      "x-ms-visibility": "advanced",
                      "default": 15
                    },
                    "is_sequential": {
                      "type": "boolean",
                      "description": "Allow recipients to sign in the specified order.",
                      "title": "Send in order",
                      "enum": [
                        true,
                        false
                      ],
                      "default": true
                    },
                    "email_reminders": {
                      "type": "boolean",
                      "description": "Enable periodic reminders for the recipients to sign the document.",
                      "title": "Automatic reminders",
                      "enum": [
                        true,
                        false
                      ],
                      "x-ms-visibility": "advanced",
                      "default": true
                    },
                    "reminder_period": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Specify the time interval at which a reminder for signing is to be sent to the recipients.",
                      "title": "Send a remainder every - (days)",
                      "x-ms-visibility": "advanced",
                      "default": 5
                    },
                    "folder_id": {
                      "type": "string",
                      "description": "folder unique id",
                      "title": "Folder",
                      "x-ms-dynamic-values": {
                        "operationId": "GetFolderList",
                        "value-path": "folder_id",
                        "value-collection": "folders",
                        "value-title": "folder_name"
                      }
                    },
                    "notes": {
                      "type": "string",
                      "description": "Notes for all recipients.",
                      "title": "Notes",
                      "format": "html"
                    }
                  },
                  "description": "requests",
                  "required": [
                    "request_name"
                  ]
                }
              },
              "required": [
                "requests"
              ]
            }
          }
        ]
      }
    },
    "/requests/{RequestId}/submit": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                }
              }
            }
          }
        },
        "summary": "SendSignRequest",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "description": "Send the uploaded document out for signature",
        "operationId": "SendSignRequest",
        "parameters": [
          {
            "name": "RequestId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Request ID",
            "x-ms-summary": "Request ID"
          }
        ]
      }
    },
    "/folders": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "folders": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "folder_name": {
                        "type": "string",
                        "description": "folder_name"
                      },
                      "folder_id": {
                        "type": "string",
                        "description": "folder unique id"
                      }
                    }
                  },
                  "description": "folders"
                }
              }
            }
          }
        },
        "summary": "GetFolderList",
        "description": "Get the list of folders",
        "operationId": "GetFolderList",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/requesttypes": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "request_types": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "request_type_description": {
                        "type": "string",
                        "description": "request_type description"
                      },
                      "request_type_name": {
                        "type": "string",
                        "description": "request_type name"
                      },
                      "request_type_id": {
                        "type": "string",
                        "description": "request_type unique id"
                      }
                    }
                  },
                  "description": "request_types"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                }
              }
            }
          }
        },
        "summary": "GetDocumentTypeList",
        "description": "Get the list of  document types available.",
        "operationId": "GetDocumentTypelList",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/templates/{template_id}": {
      "get": {
        "summary": "Get particular template details",
        "description": "Get particular template details",
        "operationId": "get-template-details",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "path",
            "name": "template_id",
            "required": true,
            "x-ms-summary": "List of Templates",
            "description": "List of Templates",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetTemplates",
              "value-path": "template_id",
              "value-collection": "templates",
              "value-title": "template_name"
            },
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "abbc"
          }
        }
      }
    },
    "/templates": {
      "get": {
        "summary": "Get list of templates",
        "description": "List of Templates",
        "x-ms-visibility": "important",
        "operationId": "GetTemplates",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "templates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "template_id": {
                        "type": "string",
                        "title": "template_id"
                      },
                      "template_name": {
                        "type": "string",
                        "description": "Template name",
                        "title": "template_name"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://accounts.zoho.com/oauth/v2/auth",
      "tokenUrl": "https://accounts.zoho.com/oauth/v2/token",
      "scopes": {
        "ZohoSign.documents.all": "ZohoSign.documents.all",
        "ZohoSign.account.all": "ZohoSign.account.all",
        "ZohoSign.templates.all": "ZohoSign.templates.all"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "ZohoSign.documents.all",
        "ZohoSign.account.all",
        "ZohoSign.templates.all"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.zoho.com/sign/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.zoho.com/privacy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ]
}
