{
  "swagger": "2.0",
  "info": {
    "title": "Zoho Sign",
    "description": "Zoho Sign Custom API Connector",
    "version": "1.0",
    "contact": {
      "name": "Zoho Sign API Support",
      "email": "support@zohosign.com",
      "url": "https://www.zoho.com/sign/contact.html"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.zoho.com/sign/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.zoho.com/privacy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ],
  "host": "sign.zoho.com",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/x-www-form-urlencoded"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/accounts": {
      "get": {
        "summary": "Account Details",
        "description": "Specify the account details to get to know the account details of the current user",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "accounts": {
                  "type": "object",
                  "properties": {
                    "created_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Displays the time when the account was created"
                    },
                    "features": {
                      "type": "object",
                      "properties": {
                        "approver": {
                          "type": "boolean",
                          "description": "approver"
                        },
                        "reports": {
                          "type": "boolean",
                          "description": "reports"
                        },
                        "templates": {
                          "type": "boolean",
                          "description": "Templates corresponding to the particular account will be displayed",
                          "x-ms-visibility": "important",
                          "enum": [
                            true,
                            false
                          ]
                        },
                        "branding": {
                          "type": "boolean",
                          "description": "branding"
                        },
                        "custom_domains": {
                          "type": "boolean",
                          "description": "custom_domains"
                        },
                        "in_person_signing": {
                          "type": "boolean",
                          "description": "Role of the Signer (In-person Signer)"
                        },
                        "attachment_field": {
                          "type": "boolean",
                          "description": "Use this field in case you want to attachments to be added to your document"
                        },
                        "trusted_domains": {
                          "type": "boolean",
                          "description": "trusted_domains"
                        },
                        "bulk_send": {
                          "type": "boolean",
                          "description": "This allows you to send the document to bulk recipients varying from two to 300"
                        },
                        "signforms": {
                          "type": "boolean",
                          "description": "signforms"
                        },
                        "blockchain": {
                          "type": "boolean",
                          "description": "blockchain"
                        },
                        "embedded_signing": {
                          "type": "boolean",
                          "description": "embedded_signing"
                        },
                        "redirection": {
                          "type": "boolean",
                          "description": "redirection"
                        },
                        "cloud_backup": {
                          "type": "boolean",
                          "description": "cloud_backup"
                        }
                      },
                      "description": "features"
                    },
                    "account_id": {
                      "type": "string",
                      "description": "This field displays the ID of the particular account"
                    },
                    "license_type": {
                      "type": "string",
                      "description": "license_type"
                    },
                    "ZSOID": {
                      "type": "string",
                      "description": "This field displays the Zoho Sign User ID of the particular account"
                    },
                    "org_name": {
                      "type": "string",
                      "description": "Displays the Organistaion Name"
                    },
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_time": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Displays the time the document was created"
                          },
                          "user_status": {
                            "type": "integer",
                            "format": "int32",
                            "description": "user_status"
                          },
                          "user_email": {
                            "type": "string",
                            "description": "Shows the email id of the particular user"
                          },
                          "user_id": {
                            "type": "string",
                            "description": "Shows the user id of the particular user"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "Displays the Last Name (if provided) of the user"
                          },
                          "ZUID": {
                            "type": "string",
                            "description": "Showcases the Zoho User ID"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "Displays the First Name of the user"
                          }
                        },
                        "description": "Shows the total number of users assosicated."
                      }
                    }
                  },
                  "description": "accounts"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                }
              }
            }
          }
        },
        "operationId": "get-account-details"
      }
    },
    "/users/invite": {
      "post": {
        "operationId": "invite-users",
        "summary": "Invite the users whom you want to join",
        "description": "Invite users with email id",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "email_id",
            "type": "string",
            "description": "[\"Enter the email ids of all the invitees whom you want to to be added\"]",
            "x-ms-summary": "Email ID's of the invitees"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "Users List",
        "operationId": "get-users",
        "description": "Helps to fetch the list of users who are associated with the account",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "page_context": {
                  "type": "object",
                  "properties": {
                    "sort_column": {
                      "type": "string",
                      "description": "Helps to sort the column based upon the parameter that is given."
                    },
                    "has_more_rows": {
                      "type": "boolean",
                      "description": "has_more_rows"
                    },
                    "start_index": {
                      "type": "integer",
                      "format": "int32",
                      "description": "start_index"
                    },
                    "total_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total_count"
                    },
                    "sort_order": {
                      "type": "string",
                      "description": "Helps to sort either in ascending/descending order"
                    },
                    "row_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Displays the number of rows present in the list."
                    }
                  }
                },
                "users": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "user_email": {
                        "type": "string",
                        "description": "Displays the email id of the user"
                      },
                      "is_payment_owner": {
                        "type": "boolean",
                        "description": "is_payment_owner"
                      },
                      "role": {
                        "type": "string",
                        "description": "role"
                      }
                    }
                  }
                },
                "confirmed_email_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Reconfirm the email id"
                },
                "user_id": {
                  "type": "string",
                  "description": "User ID"
                },
                "user_name": {
                  "type": "string",
                  "description": "user_name"
                },
                "is_allowed": {
                  "type": "string",
                  "description": "is_allowed",
                  "enum": [
                    "true",
                    "false"
                  ]
                },
                "status": {
                  "type": "string",
                  "description": "status"
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}": {
      "put": {
        "operationId": "update-user",
        "summary": "Update the user access and roles of Zoho Sign users",
        "description": "You can update the access and role of a Zoho Sign User, one at a time",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "type": "integer",
            "format": "int64",
            "required": true,
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Zoho Sign ID of the user",
            "description": "Zoho Sign ID of the user"
          },
          {
            "in": "formData",
            "name": "allowed_access",
            "type": "string",
            "enum": [
              "true",
              "false"
            ],
            "x-ms-summary": "Is allowed to access Zoho Sign ?,",
            "description": "Is allowed to access Zoho Sign ?"
          },
          {
            "in": "formData",
            "name": "role",
            "type": "string",
            "enum": [
              "Admin",
              "User"
            ],
            "x-ms-summary": "Role of the user to be updated,",
            "description": "Role of the user to be updated"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "enum": [
                    0
                  ]
                },
                "message": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message",
                "status"
              ]
            }
          }
        }
      }
    },
    "/users/{user_id}/delete": {
      "put": {
        "operationId": "delete-user",
        "summary": "Remove the specified user",
        "description": "Remove the specified user",
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "type": "integer",
            "format": "int64",
            "required": true,
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Zoho Sign ID of the user to be removed",
            "description": "Zoho Sign ID of the user to be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "enum": [
                    0
                  ]
                },
                "message": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message",
                "status"
              ]
            }
          }
        }
      }
    },
    "/requests/{request_id}/completioncertificate": {
      "get": {
        "produces": [
          "application/pdf"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            },
            "headers": {
              "HTTP/1.1": {
                "description": "",
                "type": "string"
              },
              "Content-Type:application/pdf;": {
                "description": "Content-Type:application/pdf;",
                "type": "string"
              }
            }
          }
        },
        "summary": "Download Completion Certificate",
        "description": "Download the completion certificate",
        "operationId": "download-completion-certificate",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "Request ID of the completed document",
            "x-ms-summary": "Request ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/requests/{request_id}/pdf": {
      "get": {
        "produces": [
          "application/pdf"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            },
            "headers": {
              "HTTP/1.1": {
                "description": "",
                "type": "string"
              },
              "Content-Type:application/pdf;": {
                "description": "Content-Type:application/pdf;",
                "type": "string"
              }
            }
          }
        },
        "summary": "Download Document",
        "description": "Download the selected document",
        "operationId": "download-document",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Request ID",
            "description": "Request ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/requests/{request_id}/documents/{document_id}/pdf": {
      "get": {
        "produces": [
          "application/pdf"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            },
            "headers": {
              "HTTP/1.1": {
                "description": "",
                "type": "string"
              },
              "Content-Type:application/pdf;": {
                "description": "Content-Type:application/pdf;",
                "type": "string"
              }
            }
          }
        },
        "summary": "Download File",
        "description": "Downloads the particular document that is selected.",
        "operationId": "download-file",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Request ID",
            "x-ms-url-encoding": "single",
            "description": "Request ID"
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Document ID",
            "x-ms-url-encoding": "single",
            "description": "document ID"
          }
        ]
      }
    },
    "/accounts/webhooks": {
      "get": {
        "summary": "Get list of webhooks",
        "operationId": "get-webhooks-list",
        "description": "get list of webhooks",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "webhooks": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "webhook_url": {
                        "type": "string",
                        "description": "webhook_url"
                      },
                      "webhook_id": {
                        "type": "string",
                        "description": "webhook_id"
                      },
                      "purpose": {
                        "type": "string",
                        "description": "purpose"
                      },
                      "webhook_status": {
                        "type": "string",
                        "description": "webhook_status"
                      },
                      "webhook_actions": {
                        "type": "string",
                        "description": "webhook_actions"
                      }
                    }
                  },
                  "description": "webhooks"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/webhooks/{webhookId}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "webhookId",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-url-encoding": "single",
            "description": "Webhook ID will be fetched",
            "x-ms-summary": "webhook id to be fetched"
          }
        ],
        "summary": "Get Webhook details",
        "operationId": "get-webhook",
        "description": "get detailed information of webhooks",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "webhook": {
                  "type": "object",
                  "properties": {
                    "webhook_url": {
                      "type": "string",
                      "description": "Enter the URL of the webhook"
                    },
                    "webhook_id": {
                      "type": "string",
                      "description": "Enter the ID of the webhook"
                    },
                    "purpose": {
                      "type": "string",
                      "description": "purpose"
                    },
                    "webhook_status": {
                      "type": "string",
                      "description": "webhook_status"
                    },
                    "webhook_actions": {
                      "type": "string",
                      "description": "webhook_actions"
                    }
                  },
                  "description": "webhook"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                }
              }
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "webhookId",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-url-encoding": "single",
            "description": "webhook id to be deleted",
            "x-ms-summary": "webhook id to be deleted"
          }
        ],
        "x-ms-visibility": "internal",
        "summary": "Delete Webhook",
        "description": "Internal endpoint for deleting a webhook",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                }
              }
            }
          }
        },
        "operationId": "delete-webhook"
      }
    },
    "/internal/accounts/webhooks": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "requests": {
              "type": "object",
              "properties": {
                "request_status": {
                  "type": "string",
                  "description": "request_status"
                },
                "notes": {
                  "type": "string",
                  "description": "notes"
                },
                "reminder_period": {
                  "type": "integer",
                  "format": "int32",
                  "description": "reminder_period"
                },
                "owner_id": {
                  "type": "string",
                  "description": "owner_id"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "request_name": {
                  "type": "string",
                  "description": "request_name"
                },
                "modified_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "modified_time"
                },
                "action_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "action_time"
                },
                "is_deleted": {
                  "type": "boolean",
                  "description": "is_deleted"
                },
                "expiration_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "expiration_days"
                },
                "is_sequential": {
                  "type": "boolean",
                  "description": "is_sequential"
                },
                "sign_submitted_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "sign_submitted_time"
                },
                "owner_first_name": {
                  "type": "string",
                  "description": "owner_first_name"
                },
                "sign_percentage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "sign_percentage"
                },
                "expire_by": {
                  "type": "integer",
                  "format": "int32",
                  "description": "expire_by"
                },
                "owner_email": {
                  "type": "string",
                  "description": "owner_email"
                },
                "created_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "created_time"
                },
                "email_reminders": {
                  "type": "boolean",
                  "description": "email_reminders"
                },
                "document_ids": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "document_name": {
                        "type": "string",
                        "description": "Enter the document name"
                      },
                      "document_size": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Size of the document"
                      },
                      "document_order": {
                        "type": "string",
                        "description": "document_order"
                      },
                      "total_pages": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total number of pages in the document"
                      },
                      "document_id": {
                        "type": "string",
                        "description": "Document ID"
                      }
                    }
                  },
                  "description": "document_ids"
                },
                "self_sign": {
                  "type": "boolean",
                  "description": "self_sign"
                },
                "in_process": {
                  "type": "boolean",
                  "description": "in_process"
                },
                "validity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "validity"
                },
                "request_type_name": {
                  "type": "string",
                  "description": "request_type_name"
                },
                "decline_reason": {
                  "type": "string",
                  "description": "decline_reason"
                },
                "request_id": {
                  "type": "string",
                  "description": "request_id"
                },
                "request_type_id": {
                  "type": "string",
                  "description": "request_type_id"
                },
                "owner_last_name": {
                  "type": "string",
                  "description": "owner_last_name"
                },
                "actions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "verify_recipient": {
                        "type": "boolean",
                        "description": "verify_recipient"
                      },
                      "action_type": {
                        "type": "string",
                        "description": "action_type"
                      },
                      "private_notes": {
                        "type": "string",
                        "description": "private_notes"
                      },
                      "recipient_email": {
                        "type": "string",
                        "description": "recipient_email"
                      },
                      "allow_signing": {
                        "type": "boolean",
                        "description": "allow_signing"
                      },
                      "recipient_phonenumber": {
                        "type": "string",
                        "description": "recipient_phonenumber"
                      },
                      "is_bulk": {
                        "type": "boolean",
                        "description": "is_bulk"
                      },
                      "action_id": {
                        "type": "string",
                        "description": "action_id"
                      },
                      "is_revoked": {
                        "type": "boolean",
                        "description": "is_revoked"
                      },
                      "is_embedded": {
                        "type": "boolean",
                        "description": "is_embedded"
                      },
                      "signing_order": {
                        "type": "integer",
                        "format": "int32",
                        "description": "signing_order"
                      },
                      "recipient_name": {
                        "type": "string",
                        "description": "recipient_name"
                      },
                      "action_status": {
                        "type": "string",
                        "description": "action_status"
                      },
                      "recipient_countrycode": {
                        "type": "string",
                        "description": "Country Code of the recipient"
                      }
                    }
                  },
                  "description": "actions"
                }
              },
              "description": "requests"
            },
            "notifications": {
              "type": "object",
              "properties": {
                "performed_by_email": {
                  "type": "string",
                  "description": "performed_by_email"
                },
                "performed_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "performed_at"
                },
                "reason": {
                  "type": "string",
                  "description": "reason"
                },
                "activity": {
                  "type": "string",
                  "description": "activity"
                },
                "operation_type": {
                  "type": "string",
                  "description": "operation_type"
                },
                "action_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "action_id"
                },
                "performed_by_name": {
                  "type": "string",
                  "description": "performed_by_name"
                },
                "signing_order": {
                  "type": "integer",
                  "format": "int32",
                  "description": "signing_order"
                },
                "ip_address": {
                  "type": "string",
                  "description": "ip_address"
                }
              },
              "description": "notifications"
            }
          }
        },
        "description": "Zoho Sign webhooks callback payload"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "webhook_url": {
                  "type": "string",
                  "description": "webhook_url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Callback URL"
                },
                "webhook_actions": {
                  "type": "string",
                  "description": "webhook_actions",
                  "title": "Actions",
                  "enum": [
                    "Sign",
                    "Decline",
                    "Forward",
                    "Completed",
                    "Recalled",
                    "Expired",
                    "Viewed"
                  ],
                  "x-ms-visibility": "important"
                },
                "purpose": {
                  "type": "string",
                  "description": "purpose",
                  "title": "Purpose",
                  "default": "Microsoft PowerAutomate",
                  "x-ms-visibility": "internal"
                },
                "appname": {
                  "type": "string",
                  "description": "appname",
                  "title": "Application Name",
                  "default": "Microsoft PowerAutomate",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "appname",
                "purpose",
                "webhook_actions",
                "webhook_url"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Zoho Sign Triggers",
        "description": "Register a callback for a particular event",
        "operationId": "zoho-sign-triggers",
        "x-ms-trigger": "single"
      }
    },
    "/requests/{request_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "requests": {
                  "type": "object",
                  "properties": {
                    "request_status": {
                      "type": "string",
                      "description": "request_status"
                    },
                    "notes": {
                      "type": "string",
                      "description": "notes"
                    },
                    "attachments": {
                      "type": "array",
                      "items": {},
                      "description": "attachments"
                    },
                    "reminder_period": {
                      "type": "integer",
                      "format": "int32",
                      "description": "reminder_period"
                    },
                    "owner_id": {
                      "type": "string",
                      "description": "owner_id"
                    },
                    "description": {
                      "type": "string",
                      "description": "description"
                    },
                    "request_name": {
                      "type": "string",
                      "description": "request_name"
                    },
                    "modified_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "modified_time"
                    },
                    "action_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "action_time"
                    },
                    "is_deleted": {
                      "type": "boolean",
                      "description": "is_deleted"
                    },
                    "expiration_days": {
                      "type": "integer",
                      "format": "int32",
                      "description": "expiration_days"
                    },
                    "is_sequential": {
                      "type": "boolean",
                      "description": "is_sequential"
                    },
                    "sign_submitted_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "sign_submitted_time"
                    },
                    "owner_first_name": {
                      "type": "string",
                      "description": "First Name of the owner"
                    },
                    "sign_percentage": {
                      "type": "number",
                      "format": "float",
                      "description": "sign_percentage"
                    },
                    "expire_by": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Expiry Date of the Document"
                    },
                    "is_expiring": {
                      "type": "boolean",
                      "description": "Document expiring on"
                    },
                    "owner_email": {
                      "type": "string",
                      "description": "Email ID of the owner"
                    },
                    "created_time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Time when the document was created"
                    },
                    "email_reminders": {
                      "type": "boolean",
                      "description": "Sending reminders via email"
                    },
                    "document_ids": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "image_string": {
                            "type": "string",
                            "description": "image_string"
                          },
                          "document_name": {
                            "type": "string",
                            "description": "Document Name"
                          },
                          "pages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "image_string": {
                                  "type": "string",
                                  "description": "image_string"
                                },
                                "page": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "page"
                                },
                                "is_thumbnail": {
                                  "type": "boolean",
                                  "description": "is_thumbnail"
                                }
                              }
                            },
                            "description": "pages"
                          },
                          "document_size": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Size of the document"
                          },
                          "document_order": {
                            "type": "string",
                            "description": "document_order"
                          },
                          "total_pages": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total No.of pages in the document"
                          },
                          "document_id": {
                            "type": "string",
                            "description": "document_id"
                          }
                        }
                      },
                      "description": "document_ids"
                    },
                    "self_sign": {
                      "type": "boolean",
                      "description": "self_sign"
                    },
                    "sign_id": {
                      "type": "string",
                      "description": "sign_id"
                    },
                    "folder_name": {
                      "type": "string",
                      "description": "Name of the folder"
                    },
                    "in_process": {
                      "type": "boolean",
                      "description": "in_process"
                    },
                    "validity": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Validity of the document"
                    },
                    "request_type_name": {
                      "type": "string",
                      "description": "request_type_name"
                    },
                    "folder_id": {
                      "type": "string",
                      "description": "folder_id"
                    },
                    "request_id": {
                      "type": "string",
                      "description": "request_id"
                    },
                    "request_type_id": {
                      "type": "string",
                      "description": "request_type_id"
                    },
                    "owner_last_name": {
                      "type": "string",
                      "description": "Last Name of the owner"
                    },
                    "actions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "verify_recipient": {
                            "type": "boolean",
                            "description": "Verify Recipients Mail ID"
                          },
                          "action_type": {
                            "type": "string",
                            "description": "action_type"
                          },
                          "private_notes": {
                            "type": "string",
                            "description": "private_notes"
                          },
                          "recipient_email": {
                            "type": "string",
                            "description": "Recipient's Email ID"
                          },
                          "send_completed_document": {
                            "type": "boolean",
                            "description": "send_completed_document"
                          },
                          "verification_type": {
                            "type": "string",
                            "description": "verification_type"
                          },
                          "allow_signing": {
                            "type": "boolean",
                            "description": "allow_signing"
                          },
                          "recipient_phonenumber": {
                            "type": "string",
                            "description": "recipient_phonenumber"
                          },
                          "is_bulk": {
                            "type": "boolean",
                            "description": "is_bulk"
                          },
                          "action_id": {
                            "type": "string",
                            "description": "action_id"
                          },
                          "is_revoked": {
                            "type": "boolean",
                            "description": "is_revoked"
                          },
                          "is_embedded": {
                            "type": "boolean",
                            "description": "is_embedded"
                          },
                          "signing_order": {
                            "type": "integer",
                            "format": "int32",
                            "description": "signing_order"
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "field_id": {
                                  "type": "string",
                                  "description": "field_id"
                                },
                                "field_type_id": {
                                  "type": "string",
                                  "description": "field_type_id"
                                },
                                "field_category": {
                                  "type": "string",
                                  "description": "field_category"
                                },
                                "field_label": {
                                  "type": "string",
                                  "description": "field_label"
                                },
                                "is_mandatory": {
                                  "type": "boolean",
                                  "description": "is_mandatory"
                                },
                                "page_no": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "page_no"
                                },
                                "document_id": {
                                  "type": "string",
                                  "description": "document_id"
                                },
                                "field_name": {
                                  "type": "string",
                                  "description": "field_name"
                                },
                                "action_id": {
                                  "type": "string",
                                  "description": "action_id"
                                },
                                "sub_fields": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "y_value": {
                                        "type": "number",
                                        "format": "float",
                                        "description": "y_value"
                                      },
                                      "x_coord": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "x_coord"
                                      },
                                      "abs_width": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "abs_width"
                                      },
                                      "abs_height": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "abs_height"
                                      },
                                      "width": {
                                        "type": "number",
                                        "format": "float",
                                        "description": "width"
                                      },
                                      "sub_field_id": {
                                        "type": "string",
                                        "description": "sub_field_id"
                                      },
                                      "y_coord": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "y_coord"
                                      },
                                      "default_value": {
                                        "type": "boolean",
                                        "description": "default_value"
                                      },
                                      "page_no": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "page_no"
                                      },
                                      "sub_field_name": {
                                        "type": "string",
                                        "description": "sub_field_name"
                                      },
                                      "x_value": {
                                        "type": "number",
                                        "format": "float",
                                        "description": "x_value"
                                      },
                                      "height": {
                                        "type": "number",
                                        "format": "float",
                                        "description": "height"
                                      }
                                    }
                                  },
                                  "description": "sub_fields"
                                },
                                "is_read_only": {
                                  "type": "boolean",
                                  "description": "is_read_only"
                                },
                                "field_type_name": {
                                  "type": "string",
                                  "description": "field_type_name"
                                },
                                "description_tooltip": {
                                  "type": "string",
                                  "description": "description_tooltip"
                                },
                                "x_coord": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "x_coord"
                                },
                                "abs_height": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "abs_height"
                                },
                                "y_value": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "y_value"
                                },
                                "abs_width": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "abs_width"
                                },
                                "width": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "width"
                                },
                                "y_coord": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "y_coord"
                                },
                                "x_value": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "x_value"
                                },
                                "height": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "height"
                                },
                                "text_property": {
                                  "type": "object",
                                  "properties": {
                                    "is_italic": {
                                      "type": "boolean",
                                      "description": "is_italic"
                                    },
                                    "is_underline": {
                                      "type": "boolean",
                                      "description": "is_underline"
                                    },
                                    "font_color": {
                                      "type": "string",
                                      "description": "font_color"
                                    },
                                    "font_size": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "font_size"
                                    },
                                    "is_read_only": {
                                      "type": "boolean",
                                      "description": "is_read_only"
                                    },
                                    "is_bold": {
                                      "type": "boolean",
                                      "description": "is_bold"
                                    },
                                    "font": {
                                      "type": "string",
                                      "description": "font"
                                    }
                                  },
                                  "description": "text_property"
                                },
                                "default_value": {
                                  "type": "string",
                                  "description": "default_value"
                                },
                                "name_format": {
                                  "type": "string",
                                  "description": "name_format"
                                },
                                "time_zone_offset": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "time_zone_offset"
                                },
                                "time_zone": {
                                  "type": "string",
                                  "description": "time_zone"
                                },
                                "date_format": {
                                  "type": "string",
                                  "description": "date_format"
                                },
                                "dropdown_values": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "dropdown_value_id": {
                                        "type": "string",
                                        "description": "dropdown_value_id"
                                      },
                                      "dropdown_order": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "dropdown_order"
                                      },
                                      "dropdown_value": {
                                        "type": "string",
                                        "description": "dropdown_value"
                                      }
                                    }
                                  },
                                  "description": "dropdown_values"
                                }
                              }
                            },
                            "description": "fields"
                          },
                          "recipient_name": {
                            "type": "string",
                            "description": "recipient_name"
                          },
                          "action_status": {
                            "type": "string",
                            "description": "action_status"
                          },
                          "recipient_countrycode": {
                            "type": "string",
                            "description": "recipient_countrycode"
                          },
                          "ishost": {
                            "type": "boolean",
                            "description": "ishost"
                          },
                          "language": {
                            "type": "string",
                            "description": "language"
                          },
                          "in_person_name": {
                            "type": "string",
                            "description": "in_person_name"
                          },
                          "in_person_email": {
                            "type": "string",
                            "description": "in_person_email"
                          },
                          "verification_code": {
                            "type": "string",
                            "description": "verification_code"
                          }
                        }
                      },
                      "description": "actions"
                    },
                    "attachment_size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "attachment_size"
                    }
                  },
                  "description": "requests"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                }
              }
            }
          }
        },
        "summary": "Get a document",
        "description": "Get details of a particular document",
        "operationId": "get-document",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-url-encoding": "single",
            "description": "request id to be fetched",
            "x-ms-summary": "request id to be fetched"
          }
        ]
      }
    },
    "/requests/{request_id}/fielddata": {
      "get": {
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "request id details",
            "description": "request id details"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "document_form_data": {
                  "type": "object",
                  "properties": {
                    "request_name": {
                      "type": "string",
                      "description": "request_name"
                    },
                    "zsdocumentid": {
                      "type": "string",
                      "description": "zsdocumentid"
                    },
                    "actions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "signed_time": {
                            "type": "string",
                            "description": "signed_time"
                          },
                          "action_type": {
                            "type": "string",
                            "description": "action_type"
                          },
                          "recipient_email": {
                            "type": "string",
                            "description": "recipient_email"
                          },
                          "recipient_name": {
                            "type": "string",
                            "description": "recipient_name"
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "field_label": {
                                  "type": "string",
                                  "description": "field_label"
                                },
                                "field_value": {
                                  "type": "string",
                                  "description": "field_value"
                                },
                                "field_name": {
                                  "type": "string",
                                  "description": "field_name"
                                }
                              }
                            },
                            "description": "fields"
                          }
                        }
                      },
                      "description": "actions"
                    }
                  },
                  "description": "document_form_data"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                }
              }
            }
          }
        },
        "summary": "Form Data for all completed Requests",
        "description": "Form Data for all completed Requests",
        "operationId": "get-form-data"
      }
    },
    "/requests/{request_id}/recall": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "request_id",
            "type": "integer",
            "required": true,
            "x-ms-url-encoding": "single",
            "x-ms-summary": "request id details",
            "description": "request id details"
          }
        ],
        "summary": "Recall a particular document",
        "operationId": "recall-document",
        "description": "Recall a particular document",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/requests/{request_id}/remind": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "request_id",
            "type": "integer",
            "required": true,
            "x-ms-url-encoding": "single",
            "x-ms-summary": "request id details",
            "description": "request id details"
          }
        ],
        "summary": "Reminder for recipients",
        "operationId": "remind-document-recipients",
        "description": "Send a reminder to recipients of a particular document.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/requests/{request_id}/delete": {
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "request_id",
            "type": "integer",
            "required": true,
            "x-ms-url-encoding": "single",
            "x-ms-summary": "request id details",
            "description": "request id details"
          }
        ],
        "summary": "Delete Document",
        "operationId": "delete-document",
        "description": "Delete a particular document",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/requests": {
      "post": {
        "operationId": "create-document",
        "summary": "Create a document for signing",
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Create a document for signing",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "file",
            "required": true,
            "x-ms-summary": "create a document",
            "description": "create a document"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/templates/{template_id}": {
      "get": {
        "summary": "Get particular template details",
        "description": "Get particular template details",
        "operationId": "get-template-details",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "path",
            "name": "template_id",
            "required": true,
            "x-ms-summary": "List of Templates",
            "description": "List of Templates",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetTemplates",
              "value-path": "template_id",
              "value-collection": "templates",
              "value-title": "template_name"
            },
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "abbc"
          }
        }
      }
    },
    "/templates": {
      "get": {
        "summary": "Get list of templates",
        "description": "List of Templates",
        "x-ms-visibility": "important",
        "operationId": "GetTemplates",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "templates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "template_id": {
                        "type": "string",
                        "title": "template_id"
                      },
                      "template_name": {
                        "type": "string",
                        "description": "template_name",
                        "title": "template_name"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://accounts.zoho.com/oauth/v2/auth",
      "tokenUrl": "https://accounts.zoho.com/oauth/v2/token",
      "scopes": {
        "ZohoSign.documents.all": "ZohoSign.documents.all",
        "ZohoSign.account.all": "ZohoSign.account.all",
        "ZohoSign.templates.all": "ZohoSign.templates.all"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "ZohoSign.documents.all",
        "ZohoSign.account.all",
        "ZohoSign.templates.all"
      ]
    }
  ],
  "tags": []
}