{
  "swagger": "2.0",
  "info": {
    "title": "Navisphere",
    "description": "Navisphere Connector enable partners to leverage the vast C.H. Robinson transportation and supply chain expertise and technology capabilities. It bring everything you love about our business directly into your ERP or TMS system.",
    "version": "1.0",
    "contact": {
      "name": "Microsoft Dynamics",
      "url": "https://aka.ms/iomsupport",
      "email": "iomdri@microsoft.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "sandbox-api.navisphere.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/orders": {
      "post": {
        "summary": "Create Order",
        "description": "Create Order",
        "operationId": "CreateOrder",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Request Content Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/navisphere/#create-order"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/navisphere"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.chrobinson.com/en-in/technology/shipper-technology/navisphere/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.chrobinson.com/en-us/privacy-notice/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Commerce;Communication"
    }
  ]
}