{
  "swagger": "2.0",
  "info": {
    "title": "Navisphere",
    "description": "Navisphere Connector enable partners to leverage the vast C.H. Robinson transportation and supply chain expertise and technology capabilities. It bring everything you love about our business directly into your ERP or TMS system.",
    "version": "1.0",
    "contact": {
      "name": "Microsoft Dynamics",
      "url": "https://aka.ms/iomsupport",
      "email": "iomdri@microsoft.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "sandbox-api.navisphere.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/oauth/token": {
      "post": {
        "summary": "Authenticate",
        "description": "Authenticate",
        "operationId": "Authenticate",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "client_id": {
                  "type": "string",
                  "description": "client_id"
                },
                "client_secret": {
                  "type": "string",
                  "description": "client_secret"
                },
                "audience": {
                  "type": "string",
                  "description": "audience"
                },
                "grant_type": {
                  "type": "string",
                  "description": "grant_type"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/navisphere"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.chrobinson.com/en-in/technology/shipper-technology/navisphere/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.chrobinson.com/en-us/privacy-notice/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Commerce;Communication"
    }
  ]
}