{
  "swagger": "2.0",
  "info": {
    "title": "DPIRD Weather - West Australia",
    "description": "Comprehensive data from over 185 weather stations throughout Western Australia, as well as data from other third party weather stations.",
    "version": "1.0",
    "contact": {
      "name": "Paul Culmsee",
      "url": "https://www.sevensigma.com.au",
      "email": "paul.culmsee@sevensigma.com.au"
    }
  },
  "host": "api.dpird.wa.gov.au",
  "basePath": "/v2/weather",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/stations": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "$ref": "#/definitions/apiMetaDataModel"
                },
                "collection": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/stationModel"
                  },
                  "description": "Collection of Stations"
                }
              }
            }
          }
        },
        "summary": "Get Weather Stations",
        "description": "Returns a list of stations and their metadata.",
        "operationId": "GetStations",
        "parameters": [{
            "name": "stationCode",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Station codes",
            "description": "A comma separated list of case-sensitive station codes. Limits the stations which will be returned."
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/includeClosedInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }
        ]
      }
    },
    "/stationsminimal": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "collection": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "stationCode": {
                        "type": "string",
                        "description": "stationCode"
                      },
                      "stationName": {
                        "type": "string",
                        "description": "stationName"
                      }
                    }
                  },
                  "description": "collection"
                }
              }
            }
          }
        },
        "summary": "Get Weather Stations for Lookup",
        "description": "Get Weather Stations for Lookup",
        "operationId": "GetStationsMinimal",
        "parameters": [{
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "name": "limit",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "Limit (internal)",
            "x-ms-summary": "The pagination limit parameter restricts the number of entries returned.",
            "default": 1000,
            "x-ms-visibility": "internal"
          }, {
            "$ref": "#/parameters/includeClosedInQuery"
          }, {
            "name": "sort",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "A comma separated list of fields to sort by, defaulted to stationName.",
            "x-ms-summary": "Sort Fields",
            "default": "stationName",
            "x-ms-visibility": "internal"
          }, {
            "name": "select",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "A comma separated list of fields to include in the result, defaulted to stationCode and stationName to reduce payload size.",
            "x-ms-summary": "Fields to Include",
            "default": "stationCode,stationName",
            "x-ms-visibility": "internal"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/stations/availability": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "$ref": "#/definitions/apiMetaDataModel"
                },
                "collection": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/stationAvailabilitySummaryModel"
                  },
                  "description": "Collection of Stations"
                }
              }
            }
          }
        },
        "summary": "Get Weather Stations Availability",
        "description": "Gets the availability metadata for weather stations",
        "operationId": "GetStationsAvailability",
        "parameters": [{
            "$ref": "#/parameters/stationCodeLookupInQuery"
          }, {
            "name": "startDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The start date for a custom availability period. Must be sent along with end date.",
            "x-ms-summary": "Start Date"
          }, {
            "name": "endDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The end date for a custom availability period. Must be sent along with start date.",
            "x-ms-summary": "End Date",
            "format": "date"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/nearby": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Weather Stations Nearby",
        "description": "Returns a list of nearby stations, sorted by distance. Use paging to control the number of stations returned. Returns 5 stations by default. Sorted by distance from location ascending.",
        "operationId": "GetNearbyWeatherStations",
        "parameters": [{
            "name": "latitude",
            "in": "query",
            "required": true,
            "type": "number",
            "description": "The latitude to search by in decimal degrees.",
            "x-ms-summary": "Latitude"
          }, {
            "name": "longitude",
            "in": "query",
            "required": true,
            "type": "number",
            "description": "The longitude to search by in decimal degrees.",
            "x-ms-summary": "Longitude"
          }, {
            "name": "radius",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Only look for stations within this kilometer range. Defaults to 100km.",
            "x-ms-summary": "Search Radius"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/includeClosedInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }
        ]
      }
    },
    "/station/{stationCode}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "$ref": "#/definitions/apiMetaDataModel"
                },
                "data": {
                  "$ref": "#/definitions/stationModel"
                }
              }
            }
          }
        },
        "summary": "Get Single Weather Station",
        "description": "Get the metadata for a specific station",
        "operationId": "GetStation",
        "parameters": [{
            "$ref": "#/parameters/stationCodeLookupInPath"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/{stationCode}/availability": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "description": "status"
                    },
                    "links": {
                      "$ref": "#/definitions/linksModel"
                    },
                    "collection": {
                      "$ref": "#/definitions/paginationModel"
                    }
                  },
                  "description": "metadata"
                },
                "data": {
                  "$ref": "#/definitions/stationAvailabilitySummaryModel"
                }
              }
            }
          }
        },
        "summary": "Get Single Weather Station Availability",
        "description": "Get Single Weather Station Availability",
        "operationId": "GetWeatherStationAvailability",
        "parameters": [{
            "$ref": "#/parameters/stationCodeLookupInPath"
          }, {
            "name": "startDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The start date for a custom availability period (YYY-MM-DD). Must be sent along with end date.",
            "x-ms-summary": "Start Date"
          }, {
            "name": "endDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The end date for a custom availability period (YYY-MM-DD). Must be sent along with start date.",
            "x-ms-summary": "End Date",
            "format": "date"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/bulletins": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "$ref": "#/definitions/apiMetaDataModel"
                },
                "collection": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/stationBulletinsModel"
                  },
                  "description": "Collection of Station Bulletins"
                }
              }
            }
          }
        },
        "summary": "Get Weather Stations Bulletins",
        "description": "Returns daily 9am bulletins for a list of stations. The daily 9am bulletin is a summary where every field has been summarized over the 24 hour period to 9am.",
        "operationId": "GetStationsBulletins",
        "parameters": [{
            "$ref": "#/parameters/startDateInQuery"
          }, {
            "$ref": "#/parameters/endDateInQuery"
          }, {
            "$ref": "#/parameters/stationCodeLookupInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/includeClosedInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }
        ]
      }
    },
    "/stations/rainfall": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "$ref": "#/definitions/apiMetaDataModel"
                },
                "collection": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/stationRainfallModel"
                  },
                  "description": "collection"
                }
              }
            }
          }
        },
        "summary": "Get Weather Stations Rainfall",
        "description": "Get the rainfall weather stations have received over various time periods up to the current time.",
        "operationId": "GetWeatherStationsRainfall",
        "parameters": [{
            "$ref": "#/parameters/startDateInQuery"
          }, {
            "$ref": "#/parameters/endDateInQuery"
          }, {
            "$ref": "#/parameters/stationCodeLookupInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/includeClosedInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }
        ]
      }
    },
    "/stations1/rainfall": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "$ref": "#/definitions/apiMetaDataModel"
                },
                "collection": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/stationRainfallModel"
                  },
                  "description": "collection"
                }
              }
            }
          }
        },
        "summary": "Get Single Weather Station Rainfall",
        "description": "Get the rainfall weather station has received over various time periods up to the current time.",
        "operationId": "GetWeatherStationRainfall",
        "parameters": [{
            "$ref": "#/parameters/stationCodeLookupInQuery"
          }, {
            "$ref": "#/parameters/startDateInQuery"
          }, {
            "$ref": "#/parameters/endDateInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/includeClosedInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }
        ]
      }
    },
    "/stations/extreme-conditions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "$ref": "#/definitions/apiMetaDataModel"
                },
                "collection": {
                  "$ref": "#/definitions/stationExtremeConditionModel"
                }
              }
            }
          }
        },
        "summary": "Get Weather Stations Extreme Conditions",
        "description": "Get the amount of time weather stations have had extreme conditions for, over various time periods. The extreme conditions indicated are: frost conditions - where temperature is less than or equal to 2\u00b0C; heat conditions - where temperature is greater than or equal to 30\u00b0C; and erosion conditions - where wind is greater than or equal to 28.8km/h.",
        "operationId": "GetStationsExtremeConditions",
        "parameters": [{
            "$ref": "#/parameters/stationCodeLookupInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }, {
            "$ref": "#/parameters/includeClosedInQuery"
          }
        ]
      }
    },
    "/stations/events": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "$ref": "#/definitions/apiMetaDataModel"
                },
                "data": {
                  "$ref": "#/definitions/stationExtremeEventModel"
                }
              }
            }
          }
        },
        "summary": "Get Weather Stations Extreme Events",
        "description": "Find extreme values for weather stations.",
        "operationId": "GetStationsExtremeEvents",
        "parameters": [{
            "$ref": "#/parameters/stationCodeLookupInQuery"
          }, {
            "name": "operator",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Return values greater than or less than the supplied value",
            "x-ms-summary": "Operator",
            "enum": [
              "gt",
              "lt"
            ],
            "x-ms-visibility": "important"
          }, {
            "name": "threshold",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "The extrema value to search greater or less than for.",
            "x-ms-summary": "Threshold to search for",
            "x-ms-visibility": "important"
          }, {
            "name": "property",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The weather station property to search on",
            "x-ms-summary": "Weather station property",
            "enum": [
              "airTemperature",
              "soilTemperature",
              "relativeHumidity",
              "windSpeed",
              "dewPoint",
              "deltaT",
              "wetBulb",
              "barometricPressure"
            ],
            "x-ms-visibility": "important"
          }, {
            "$ref": "#/parameters/startDateTimeInQuery"
          }, {
            "$ref": "#/parameters/endDateTimeInQuery"
          }, {
            "name": "interval",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The interval of data to use. Uses minute data by default. Larger intervals will use summary data",
            "x-ms-summary": "The interval of data to use.",
            "enum": [
              "minute",
              "15min",
              "30min",
              "hourly",
              "daily",
              "monthly",
              "yearly"
            ]
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/latest": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "$ref": "#/definitions/apiMetaDataModel"
                },
                "collection": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/stationLatestDataModel"
                  },
                  "description": "collection"
                }
              }
            }
          }
        },
        "summary": "Get Weather Stations Latest Data",
        "description": "Get the latest data for a series of stations. Returns all active stations by default.",
        "operationId": "GetStationsLatestData",
        "parameters": [{
            "$ref": "#/parameters/stationCodeLookupInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }
        ]
      }
    },
    "/stations/{stationCode}/bulletin": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "$ref": "#/definitions/apiMetaDataModel"
                },
                "data": {
                  "$ref": "#/definitions/stationBulletinsModel"
                }
              }
            }
          }
        },
        "summary": "Get Single Weather Station Bulletins",
        "description": "Returns daily 9am bulletins for a station. The daily 9am bulletin is a summary where every field has been summarized over the 24 hour period to 9am.",
        "operationId": "GetStationBulletins",
        "parameters": [{
            "$ref": "#/parameters/startDateInQuery"
          }, {
            "$ref": "#/parameters/endDateInQuery"
          }, {
            "$ref": "#/parameters/stationCodeLookupInPath"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/{stationCode}/latest": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "$ref": "#/definitions/apiMetaDataModel"
                },
                "data": {
                  "$ref": "#/definitions/stationLatestDataModel"
                }
              }
            }
          }
        },
        "summary": "Get Single Weather Station Latest Data",
        "description": "Get the latest data for a station.",
        "operationId": "GetStationLatestData",
        "parameters": [{
            "$ref": "#/parameters/stationCodeLookupInPath"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/{stationCode}/data": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "$ref": "#/definitions/apiMetaDataModel"
                },
                "collection": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/singleStationDataModel"
                  },
                  "description": "collection"
                }
              }
            }
          }
        },
        "summary": "Get Single Weather Station Minute Data",
        "description": "Returns minute recordings for a station over a maximum 24 hour period.",
        "operationId": "GetStationMinuteData",
        "parameters": [{
            "$ref": "#/parameters/stationCodeLookupInPath"
          }, {
            "name": "startDateTime",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Start Date/Time",
            "description": "Start of date range to return recordings inclusive of. The date range must not be more than 24 hours.",
            "x-ms-visibility": "important"
          }, {
            "name": "endDateTime",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "End Date/Time",
            "description": "End of date range to return recordings inclusive of. The date range must not be more than 24 hours.",
            "x-ms-visibility": "important"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/summaries/15min": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/multiStationSummarySchemaModel"
            }
          }
        },
        "summary": "Get Weather Stations 15min Summary",
        "description": "Returns a set of quarter-hourly summaries for a list of stations. Note that the 15min summary is only available from the beginning of the previous year to the current date.",
        "operationId": "GetStations15minSummary",
        "parameters": [{
            "$ref": "#/parameters/startDateTimeInQuery"
          }, {
            "$ref": "#/parameters/endDateTimeInQuery"
          }, {
            "$ref": "#/parameters/stationCodeLookupInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }, {
            "$ref": "#/parameters/includeClosedInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/summaries/30min": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/multiStationSummarySchemaModel"
            }
          }
        },
        "summary": "Get Weather Stations 30min Summary",
        "description": "Returns a set of half-hourly summaries for a list of stations. Note that the 30min summary is only available from the beginning of the previous year to the current date.",
        "operationId": "GetStations30minSummary",
        "parameters": [{
            "$ref": "#/parameters/startDateTimeInQuery"
          }, {
            "$ref": "#/parameters/endDateTimeInQuery"
          }, {
            "$ref": "#/parameters/stationCodeLookupInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }, {
            "$ref": "#/parameters/includeClosedInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/summaries/hourly": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/multiStationSummarySchemaModel"
            }
          }
        },
        "summary": "Get Weather Stations Hourly Summary",
        "description": "Returns a set of hourly summaries for a list of stations.",
        "operationId": "GetStationsHourlySummary",
        "parameters": [{
            "$ref": "#/parameters/startDateTimeInQuery"
          }, {
            "$ref": "#/parameters/endDateTimeInQuery"
          }, {
            "$ref": "#/parameters/stationCodeLookupInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }, {
            "$ref": "#/parameters/includeClosedInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/summaries/daily": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/multiStationSummarySchemaModel"
            }
          }
        },
        "summary": "Get Weather Stations Daily Summary",
        "description": "Returns a set of daily summaries for a list of stations. The 24 hour period each field is summarized over varies between 24 hours to 9am (eg rainfall, minimum temperature), 24 hours from 9am (eg maximum temperature) and 24 hours from 12am (eg wind, solar)",
        "operationId": "GetStationsDailySummary",
        "parameters": [{
            "$ref": "#/parameters/startDateImportantInQuery"
          }, {
            "$ref": "#/parameters/endDateImportantInQuery"
          }, {
            "$ref": "#/parameters/stationCodeLookupInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }, {
            "$ref": "#/parameters/includeClosedInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/summaries/monthly": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/multiStationSummarySchemaModel"
            }
          }
        },
        "summary": "Get Weather Stations Monthly Summary",
        "description": "Returns a set of monthly summaries for a list of stations. The monthly period each field is summarized over is a monthly composite of the same 24 hour period used by the field in the daily summary. For example, rainfall, which uses the 24 hours to 9am daily period starts at 9am on the last day of the previous month and concludes at 9am on the last day of the month.",
        "operationId": "GetStationsMonthlySummary",
        "parameters": [{
            "$ref": "#/parameters/startMonthImportantInQuery"
          }, {
            "$ref": "#/parameters/endMonthImportantInQuery"
          }, {
            "$ref": "#/parameters/stationCodeLookupInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }, {
            "$ref": "#/parameters/includeClosedInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/summaries/yearly": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/multiStationSummarySchemaModel"
            }
          }
        },
        "summary": "Get Weather Stations Yearly Summary",
        "description": "Returns a set of annual summaries for a list of stations. The yearly period each field is summarized over is a yearly composite of the same 24 hour period used by the field in the daily summary. For example, rainfall, which uses the 24 hours to 9am daily period starts at 9am on the last day of the previous year and concludes at 9am on the last day of the year.",
        "operationId": "GetStationsYearlySummary",
        "parameters": [{
            "$ref": "#/parameters/startYearImportantInQuery"
          }, {
            "$ref": "#/parameters/endYearImportantInQuery"
          }, {
            "$ref": "#/parameters/stationCodeLookupInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }, {
            "$ref": "#/parameters/includeClosedInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/summaries/15min/timeseries": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/stationTimeSeriesSchemaModel"
            }
          }
        },
        "summary": "Get Weather Stations 15min Summary Timeseries",
        "description": "Returns a set of quarter-hourly time-series summaries for a list of stations. Useful for charts. Note that the 15min summary is only available from the beginning of the previous year to the current date.",
        "operationId": "GetStations15minSummaryTimeSeries",
        "parameters": [{
            "$ref": "#/parameters/startDateTimeInQuery"
          }, {
            "$ref": "#/parameters/endDateTimeInQuery"
          }, {
            "$ref": "#/parameters/stationCodeLookupInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }, {
            "$ref": "#/parameters/includeClosedInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/summaries/30min/timeseries": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/stationTimeSeriesSchemaModel"
            }
          }
        },
        "summary": "Get Weather Stations 30min Summary Timeseries",
        "description": "Returns a set of half-hourly time-series summaries for a list of stations. Useful for charts.",
        "operationId": "GetStations30minSummaryTimeSeries",
        "parameters": [{
            "$ref": "#/parameters/startDateTimeInQuery"
          }, {
            "$ref": "#/parameters/endDateTimeInQuery"
          }, {
            "$ref": "#/parameters/stationCodeLookupInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }, {
            "$ref": "#/parameters/includeClosedInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/summaries/hourly/timeseries": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/stationTimeSeriesSchemaModel"
            }
          }
        },
        "summary": "Get Weather Stations Hourly Summary Timeseries",
        "description": "Returns a set of hourly time-series summaries for a list of stations. Useful for charts. ",
        "operationId": "GetStationsHourlySummaryTimeSeries",
        "parameters": [{
            "$ref": "#/parameters/startDateTimeInQuery"
          }, {
            "$ref": "#/parameters/endDateTimeInQuery"
          }, {
            "$ref": "#/parameters/stationCodeLookupInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }, {
            "$ref": "#/parameters/includeClosedInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/summaries/daily/timeseries": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/stationTimeSeriesSchemaModel"
            }
          }
        },
        "summary": "Get Weather Stations Daily Summary Timeseries",
        "description": "Returns a set of daily time-series summaries for a list of stations. Useful for charts.",
        "operationId": "GetStationsDailySummaryTimeSeries",
        "parameters": [{
            "$ref": "#/parameters/startDateImportantInQuery"
          }, {
            "$ref": "#/parameters/endDateImportantInQuery"
          }, {
            "$ref": "#/parameters/stationCodeLookupInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }, {
            "$ref": "#/parameters/includeClosedInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/summaries/monthly/timeseries": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/stationTimeSeriesSchemaModel"
            }
          }
        },
        "summary": "Get Weather Stations Monthly Summary Timeseries",
        "description": "Returns a set of monthly time-series summaries for a list of stations. Useful for charts.",
        "operationId": "GetStationsMonthlySummaryTimeSeries",
        "parameters": [{
            "$ref": "#/parameters/startMonthImportantInQuery"
          }, {
            "$ref": "#/parameters/endMonthImportantInQuery"
          }, {
            "$ref": "#/parameters/stationCodeLookupInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }, {
            "$ref": "#/parameters/includeClosedInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/summaries/yearly/timeseries": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/stationTimeSeriesSchemaModel"
            }
          }
        },
        "summary": "Get Weather Stations Yearly Summary Timeseries",
        "description": "Returns a set of yearly time-series summaries for a list of stations. Useful for charts.",
        "operationId": "GetStationsYearlySummaryTimeSeries",
        "parameters": [{
            "$ref": "#/parameters/startYearImportantInQuery"
          }, {
            "$ref": "#/parameters/endYearImportantInQuery"
          }, {
            "$ref": "#/parameters/stationCodeLookupInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/groupInQuery"
          }, {
            "$ref": "#/parameters/includeClosedInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/{stationCode}/summaries/15min": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/singleStationSummarySchemaModel"
            }
          }
        },
        "summary": "Get Single Weather Station 15min Summary",
        "description": "Returns a set of quarter-hourly summaries for a specific station. Note that the 30min summary is only available from the beginning of the previous year to the current date.",
        "operationId": "GetStation15minSummary",
        "parameters": [{
            "$ref": "#/parameters/stationCodeLookupInPath"
          }, {
            "$ref": "#/parameters/startDateTimeInQuery"
          }, {
            "$ref": "#/parameters/endDateTimeInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/{stationCode}/summaries/30min": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/singleStationSummarySchemaModel"
            }
          }
        },
        "summary": "Get Single Weather Station 30min Summary",
        "description": "Returns a set of half-hourly summaries for a specific station. Note that the 15min summary is only available from the beginning of the previous year to the current date.",
        "operationId": "GetStation30minSummary",
        "parameters": [{
            "$ref": "#/parameters/stationCodeLookupInPath"
          }, {
            "$ref": "#/parameters/startDateTimeInQuery"
          }, {
            "$ref": "#/parameters/endDateTimeInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/{stationCode}/summaries/hourly": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/singleStationSummarySchemaModel"
            }
          }
        },
        "summary": "Get Single Weather Station Hourly Summary",
        "description": "Returns a set of hourly summaries for a specific station.",
        "operationId": "GetStationHourlySummary",
        "parameters": [{
            "$ref": "#/parameters/stationCodeLookupInPath"
          }, {
            "$ref": "#/parameters/startDateTimeInQuery"
          }, {
            "$ref": "#/parameters/endDateTimeInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/{stationCode}/summaries/daily": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/singleStationSummarySchemaModel"
            }
          }
        },
        "summary": "Get Single Weather Station Daily Summary",
        "description": "Returns a set of daily summaries for a specific station. The 24 hour period each field is summarized over varies between 24 hours to 9am (eg rainfall, minimum temperature), 24 hours from 9am (eg maximum temperature) and 24 hours from 12am (eg wind, solar).",
        "operationId": "GetStationDailySummary",
        "parameters": [{
            "$ref": "#/parameters/stationCodeLookupInPath"
          }, {
            "$ref": "#/parameters/startDateImportantInQuery"
          }, {
            "$ref": "#/parameters/endDateImportantInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/{stationCode}/summaries/monthly": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/singleStationSummarySchemaModel"
            }
          }
        },
        "summary": "Get Single Weather Station Monthly Summary",
        "description": "Returns a set of monthly summaries for a specific station. The monthly period each field is summarized over is a monthly composite of the same 24 hour period used by the field in the daily summary. For example, rainfall, which uses the 24 hours to 9am daily period starts at 9am on the last day of the previous month and concludes at 9am on the last day of the month.",
        "operationId": "GetStationMonthlySummary",
        "parameters": [{
            "$ref": "#/parameters/stationCodeLookupInPath"
          }, {
            "$ref": "#/parameters/startMonthImportantInQuery"
          }, {
            "$ref": "#/parameters/endMonthImportantInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    },
    "/stations/{stationCode}/summaries/yearly": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/singleStationSummarySchemaModel"
            }
          }
        },
        "summary": "Get Single Weather Station Yearly Summary",
        "description": "Returns a set of yearly summaries for a specific station. The yearly period each field is summarized over is a yearly composite of the same 24 hour period used by the field in the daily summary. For example, rainfall, which uses the 24 hours to 9am daily period starts at 9am on the last day of the previous year and concludes at 9am on the last day of the year.",
        "operationId": "GetStationYearlySummary",
        "parameters": [{
            "$ref": "#/parameters/stationCodeLookupInPath"
          }, {
            "$ref": "#/parameters/startDateImportantInQuery"
          }, {
            "$ref": "#/parameters/endDateImportantInQuery"
          }, {
            "$ref": "#/parameters/offsetInQuery"
          }, {
            "$ref": "#/parameters/limitInQuery"
          }, {
            "$ref": "#/parameters/sortInQuery"
          }, {
            "$ref": "#/parameters/selectInQuery"
          }
        ]
      }
    }
  },
  "definitions": {
    "apiMetaDataModel": {
      "type": "object",
      "properties": {
        "status": {
          "type": "integer",
          "format": "int32",
          "description": "status"
        },
        "links": {
          "$ref": "#/definitions/linksModel"
        },
        "collection": {
          "$ref": "#/definitions/paginationModel"
        }
      },
      "description": "A wrapper on all responses providing useful information related to the API call."
    },
    "multiStationSummarySchemaModel": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/apiMetaDataModel"
        },
        "collection": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "stationCode": {
                "type": "string",
                "description": "The unique identifier for a station. Case sensitive.",
                "title": ""
              },
              "stationName": {
                "type": "string",
                "description": "The human readable name of the weather station.",
                "title": ""
              },
              "summaries": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/stationSummaryModel"
                }
              }
            }
          },
          "description": "collection"
        }
      }
    },
    "stationTimeSeriesSchemaModel": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/apiMetaDataModel"
        },
        "collection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/stationTimeSeriesModel"
          },
          "description": "collection"
        }
      }
    },
    "stationTimeSeriesModel": {
      "type": "object",
      "properties": {
        "stationCode": {
          "type": "string",
          "description": "The unique identifier for a station. Case sensitive.",
          "title": ""
        },
        "stationName": {
          "type": "string",
          "description": "The human readable name of the weather station.",
          "title": ""
        },
        "panEvaporation": {
          "type": "array",
          "description": "Class A pan evaporation value calculated using the Penman-Monteith formulation. In case of a daily summary (interval = 'daily'), this value is based on the 24 hours to 9 am on the specified day.",
          "items": {}
        },
        "richardsonUnits": {
          "type": "array",
          "description": "The accumulated richardson chill units. In case of a daily summary (interval = 'daily'), this value is based on the 24 hours to 9 am on the specified day.",
          "items": {}
        },
        "chillHours": {
          "type": "array",
          "description": "The number of hours that were measured below 7.2 degrees celsius [°C] . In case of a daily summary (interval = 'daily'), this value is based on the 24 hours to 9 am on the specified day.",
          "items": {}
        },
        "solarExposure": {
          "type": "array",
          "description": "The solar exposure for the period in kilojoules per square meters [kJ/m2]. In case of a daily summary (interval = 'daily'), this value is the solar exposure observed in the 24 hours from 12 am (midnight) on the specified day.",
          "items": {}
        },
        "rainfall": {
          "type": "array",
          "description": "The total rainfall for the period in millimeters [mm]. In case of a daily summary (interval = 'daily'), this value is the total rainfall observed in the 24 hours to 9 am on the specified day.",
          "items": {}
        },
        "errors": {
          "type": "array",
          "description": "Number of errors within the specified period.",
          "items": {}
        },
        "period": {
          "type": "object",
          "description": "The calendar based time-period of the specified interval. For monthly and yearly intervals, standard calendar periods are used for the period bounds rather than the actual summary periods. Please note the actual summary period for monthly and yearly are based on daily summaries, so accordingly the corresponding measurements that are offset from midnight will start at 9am the day before the period or finish at 9am the day after the period."
        },
        "airTemperature": {
          "type": "object",
          "description": "The observed air temperature in degrees celsius."
        },
        "apparentAirTemperature": {
          "type": "object",
          "description": "The apparent ('feels like') air temperature in degrees celsius."
        },
        "relativeHumidity": {
          "type": "object",
          "description": "The observed relative humidity percentage [%]."
        },
        "dewPoint": {
          "type": "object",
          "description": "The dewpoint observed within the period in degrees celsius."
        },
        "evapotranspiration": {
          "type": "object",
          "description": ""
        },
        "erosionCondition": {
          "type": "object",
          "description": "Erosion Condition"
        },
        "soilTemperature": {
          "type": "object",
          "description": "The soil temperature observed at 4 cm depth within the period in degrees celsius."
        },
        "deltaT": {
          "type": "object",
          "description": "The deltaT observed within the period in degrees celsius [°C]."
        },
        "wetBulb": {
          "type": "object",
          "description": "The wet bulb temperature observed within the period in degrees celsius [°C]."
        },
        "wind": {
          "type": "array",
          "items": {},
          "description": "The wind observations of one or more wind sensors at various heights."
        },
        "barometricPressure": {
          "type": "object",
          "description": "The barometric pressure observed within the period in hectopascals [hPa]"
        },
        "frostCondition": {
          "type": "object",
          "description": ""
        },
        "heatCondition": {
          "type": "object",
          "description": ""
        },
        "battery": {
          "type": "object",
          "description": ""
        },
        "observations": {
          "type": "object",
          "description": ""
        }
      }
    },
    "singleStationSummarySchemaModel": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/apiMetaDataModel"
        },
        "data": {
          "type": "object",
          "properties": {
            "stationCode": {
              "type": "string",
              "description": "The unique identifier for a station. Case sensitive.",
              "title": ""
            },
            "stationName": {
              "type": "string",
              "description": "The human readable name of the weather station.",
              "title": ""
            },
            "summaries": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/stationSummaryModel"
              }
            }
          }
        }
      }
    },
    "stationSummaryModel": {
      "type": "object",
      "properties": {
        "period": {
          "type": "object",
          "properties": {
            "from": {
              "type": "string",
              "title": "Summary Interval Start",
              "description": "The start of the specified interval in UTC"
            },
            "to": {
              "type": "string",
              "title": "Summary Interval End",
              "description": "The end of the specified interval in UTC."
            },
            "year": {
              "type": "integer",
              "format": "int32",
              "title": "Summary Year",
              "description": "This is the year value that the summary relates to."
            },
            "month": {
              "type": "integer",
              "format": "int32",
              "title": "Summary Month",
              "description": "This is the month value that the summary relates to."
            },
            "day": {
              "type": "integer",
              "format": "int32",
              "title": "Summary Day",
              "description": "This is the day of the month that the summary relates to."
            },
            "hour": {
              "type": "integer",
              "format": "int32",
              "title": "Summary Hour",
              "description": "This is the 24-hour value that the summary relates to."
            },
            "minute": {
              "type": "integer",
              "format": "int32",
              "title": "Summary Minute",
              "description": "This is the minute value that the summary data relates to. In case of a 15 minute or 30 minute interval, the minute value will represent the end of the interval."
            }
          },
          "description": "The time-period of the specified interval."
        },
        "airTemperature": {
          "type": "object",
          "properties": {
            "min": {
              "type": "number",
              "format": "float",
              "title": "AirTempMin",
              "description": "The minimum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the minimum value observed in the 24 hours to 9 am on the specified day."
            },
            "minTime": {
              "type": "string",
              "title": "AirTempMinTime",
              "description": "The date and time the minimum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is date and time the minimum value is observed in the 24 hours to 9 am on the specified day."
            },
            "max": {
              "type": "number",
              "format": "float",
              "title": "AirTempMax",
              "description": "The maximum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the maximum value observed in the 24 hours from 9 am on the specified day."
            },
            "maxTime": {
              "type": "string",
              "title": "AirTempMaxTime",
              "description": "The date and time the maximum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is the date and time the maximum value is observed in the 24 hours from 9 am on the specified day."
            },
            "avg": {
              "type": "number",
              "format": "float",
              "title": "AirTempAvg",
              "description": "The average value observed over the period. In case of a daily summary (interval = 'daily'), this value is the average value observed in the 24 hours from 12 am (midnight) on the specified day."
            }
          },
          "description": "The observed air temperature in degrees celsius."
        },
        "apparentAirTemperature": {
          "type": "object",
          "properties": {
            "min": {
              "type": "number",
              "format": "float",
              "title": "ApparentAirTempMin",
              "description": "The minimum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the minimum value observed in the 24 hours to 9 am on the specified day."
            },
            "minTime": {
              "type": "string",
              "title": "ApparentAirTempMinTime",
              "description": "The date and time the minimum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is the date and time the minimum value is observed in the 24 hours to 9 am on the specified day."
            },
            "max": {
              "type": "number",
              "format": "float",
              "title": "ApparentAirTempMax",
              "description": "The maximum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the maximum value observed in the 24 hours from 9 am on the specified day."
            },
            "maxTime": {
              "type": "string",
              "title": "ApparentAirTempMaxTime",
              "description": "The date and time the maximum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is the date and time the maximum value is observed in the 24 hours from 9 am on the specified day."
            },
            "avg": {
              "type": "number",
              "format": "float",
              "title": "ApparentAirTempAvg",
              "description": "The average value observed over the period. In case of a daily summary (interval = 'daily'), this value is the average value observed in the 24 hours from 12 am (midnight) on the specified day."
            }
          },
          "description": "The apparent ('feels like') air temperature in degrees celsius."
        },
        "relativeHumidity": {
          "type": "object",
          "properties": {
            "min": {
              "type": "number",
              "format": "float",
              "title": "RelHumMin",
              "description": "The minimum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the minimum value observed in the 24 hours from 9 am on the specified day."
            },
            "minTime": {
              "type": "string",
              "title": "RelHumMinTime",
              "description": "The date and time the minimum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is the date and time the minimum value is observed in the 24 hours from 9 am on the specified day."
            },
            "max": {
              "type": "number",
              "format": "float",
              "title": "RelHumMax",
              "description": "The maximum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the maximum value observed in the 24 hours to 9 am on the specified day."
            },
            "maxTime": {
              "type": "string",
              "title": "RelHumMaxTime",
              "description": "The date and time the maximum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is the date and time the maximum value is observed in the 24 hours to 9 am on the specified day."
            },
            "avg": {
              "type": "number",
              "format": "float",
              "title": "RelHumAvg",
              "description": "The average value observed over the period. In case of a daily summary (interval = 'daily'), this value is the average value observed in the 24 hours from 12 am (midnight) on the specified day."
            }
          },
          "description": "The observed relative humidity percentage [%]."
        },
        "dewPoint": {
          "type": "object",
          "properties": {
            "min": {
              "type": "number",
              "format": "float",
              "title": "DewPointMin",
              "description": "The minimum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the minimum value observed in the 24 hours to 9 am on the specified day."
            },
            "minTime": {
              "type": "string",
              "title": "DewPointMinTime",
              "description": "The date and time the minimum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is the date and time the minimum value is observed in the 24 hours to 9 am on the specified day."
            },
            "max": {
              "type": "number",
              "format": "float",
              "title": "DewPointMax",
              "description": "The maximum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the maximum value observed in the 24 hours from 9 am on the specified day."
            },
            "maxTime": {
              "type": "string",
              "title": "DewPointMaxTime",
              "description": "The date and time the maximum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is the date and time the maximum value is observed in the 24 hours from 9 am on the specified day."
            },
            "avg": {
              "type": "number",
              "format": "float",
              "title": "DewPointAvg",
              "description": "The average value observed over the period. In case of a daily summary (interval = 'daily'), this value is the average value observed in the 24 hours from 12 am (midnight) on the specified day."
            }
          },
          "description": "The dewpoint observed within the period in degrees celsius."
        },
        "panEvaporation": {
          "type": "number",
          "format": "float",
          "description": "Class A pan evaporation value calculated using the Penman-Monteith formulation. In case of a daily summary (interval = 'daily'), this value is based on the 24 hours to 9 am on the specified day."
        },
        "evapotranspiration": {
          "type": "object",
          "properties": {
            "shortCrop": {
              "type": "number",
              "format": "float",
              "description": "Short crop evapotranspiration value calculated at 0.12 metres [m] using the FAO56 Penman-Monteith method. In case of a daily summary (interval = 'daily'), this value is based on the 24 hours from 12 am (midnight) on the specified day."
            },
            "tallCrop": {
              "type": "number",
              "format": "float",
              "description": "Tall crop evapotranspiration value calculated at 0.5 metres [m] using the FAO56 Penman-Monteith method. In case of a daily summary (interval = 'daily'), this value is based on the 24 hours from 12 am (midnight) on the specified day."
            }
          },
          "description": "evapotranspiration"
        },
        "richardsonUnits": {
          "type": "number",
          "format": "float",
          "description": "The accumulated richardson chill units. In case of a daily summary (interval = 'daily'), this value is based on the 24 hours to 9 am on the specified day."
        },
        "chillHours": {
          "type": "integer",
          "format": "int32",
          "description": "The number of hours that were measured below 7.2 degrees celsius. In case of a daily summary (interval = 'daily'), this value is based on the 24 hours to 9 am on the specified day."
        },
        "solarExposure": {
          "type": "number",
          "format": "float",
          "description": "The solar exposure for the period in kilojoules per square meters [kJ/m2]. In case of a daily summary (interval = 'daily'), this value is the solar exposure observed in the 24 hours from 12 am (midnight) on the specified day."
        },
        "rainfall": {
          "type": "number",
          "format": "float",
          "description": "The total rainfall for the period in millimeters [mm]. In case of a daily summary (interval = 'daily'), this value is the total rainfall observed in the 24 hours to 9 am on the specified day."
        },
        "erosionCondition": {
          "type": "object",
          "properties": {
            "minutes": {
              "type": "integer",
              "format": "int32",
              "title": "ErosionCondMinutes",
              "description": "Number of minutes of wind speed greater than or equal to 8 metres per second [m/s] (28.8 [km/h]) measured in the 24 hours from 12am (midnight). Only calculated for stations that have a wind probe at a height that is less than or equal to 3 metres [m] above ground."
            },
            "startTime": {
              "type": "string",
              "title": "ErosionCondStartTime",
              "description": "This is the first occurrence of erosion conditions during the specified interval."
            }
          },
          "description": "Erosion Condition"
        },
        "soilTemperature": {
          "type": "object",
          "properties": {
            "min": {
              "type": "number",
              "format": "float",
              "title": "SoilTempMin",
              "description": "The minimum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the minimum value observed in the 24 hours to 9 am on the specified day."
            },
            "minTime": {
              "type": "string",
              "title": "SoilTempMinTime",
              "description": "The date and time the minimum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is the date and time the minimum value is observed in the 24 hours to 9 am on the specified day."
            },
            "max": {
              "type": "number",
              "format": "float",
              "title": "SoilTempMax",
              "description": "The maximum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the maximum value observed in the 24 hours from 9 am on the specified day."
            },
            "maxTime": {
              "type": "string",
              "title": "SoilTempMaxTime",
              "description": "The date and time the maximum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is the date and time the maximum value is observed in the 24 hours from 9 am on the specified day."
            },
            "avg": {
              "type": "number",
              "format": "float",
              "title": "SoilTempAvg",
              "description": "The average value observed over the period. In case of a daily summary (interval = 'daily'), this value is the average value observed in the 24 hours from 12 am (midnight) on the specified day."
            }
          },
          "description": "The soil temperature observed at 4 cm depth within the period in degrees celsius."
        },
        "deltaT": {
          "type": "object",
          "properties": {
            "min": {
              "type": "number",
              "format": "float",
              "title": "DeltaTMin",
              "description": "The minimum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the minimum value observed in the 24 hours to 9 am on the specified day."
            },
            "minTime": {
              "type": "string",
              "title": "DeltaTMinTime",
              "description": "The date and time the minimum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is the date and time the minimum value is observed in the 24 hours to 9 am on the specified day."
            },
            "max": {
              "type": "number",
              "format": "float",
              "title": "DeltaTMax",
              "description": "The maximum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the maximum value observed in the 24 hours from 9 am on the specified day."
            },
            "maxTime": {
              "type": "string",
              "title": "DeltaTMaxTime",
              "description": "The date and time the maximum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is the date and time the maximum value is observed in the 24 hours from 9 am on the specified day."
            },
            "avg": {
              "type": "number",
              "format": "float",
              "title": "DeltaTAvg",
              "description": "The average value observed over the period. In case of a daily summary (interval = 'daily'), this value is the average value observed in the 24 hours from 12 am (midnight) on the specified day."
            }
          },
          "description": "The deltaT observed within the period in degrees celsius"
        },
        "wetBulb": {
          "type": "object",
          "properties": {
            "min": {
              "type": "number",
              "format": "float",
              "title": "WetBulbMin",
              "description": "The minimum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the minimum value observed in the 24 hours to 9 am on the specified day."
            },
            "minTime": {
              "type": "string",
              "title": "WetBulbMinTime",
              "description": "The date and time the minimum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is the date and time the minimum value is observed in the 24 hours to 9 am on the specified day."
            },
            "max": {
              "type": "number",
              "format": "float",
              "title": "WetBulbMax",
              "description": "The maximum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the maximum value observed in the 24 hours from 9 am on the specified day."
            },
            "maxTime": {
              "type": "string",
              "title": "WetBulbMaxTime",
              "description": "The date and time the maximum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is the date and time the maximum value is observed in the 24 hours from 9 am on the specified day."
            },
            "avg": {
              "type": "number",
              "format": "float",
              "title": "WetBulbAvg",
              "description": "The average value observed over the period. In case of a daily summary (interval = 'daily'), this value is the average value observed in the 24 hours from 12 am (midnight) on the specified day."
            }
          },
          "description": "The wet bulb temperature observed within the period in degrees celsius."
        },
        "wind": {
          "$ref": "#/definitions/windDataModel"
        },
        "barometricPressure": {
          "type": "string",
          "description": "barometricPressure"
        },
        "frostCondition": {
          "type": "object",
          "properties": {
            "minutes": {
              "type": "integer",
              "format": "int32",
              "title": "FrostConditionMinutes",
              "description": "The number of minutes that the air temperature is below 2 degrees celsius in the 24 hours to 9 am on the specified day. Only calculated for stations that have an air temperature probe at a height that is less than or equal to 3m above ground."
            },
            "startTime": {
              "type": "string",
              "title": "FrostConditionStartTime",
              "description": "This is the first occurrence of a measured air temperature less than or equal to 2 degrees celsius in the 24 hours to 9 am on the specified day. Only calculated for stations that have an air temperature probe at a height that is less than or equal to 3m above ground."
            }
          },
          "description": "Frost Condition"
        },
        "heatCondition": {
          "type": "object",
          "properties": {
            "minutes": {
              "type": "integer",
              "format": "int32",
              "title": "HeatConditionMinutes",
              "description": "The number of minutes that the air temperature is greater than or equal to 30 degrees celsius in the 24 hours from 12 am (midnight) on the specified day. Only calculated for stations that have an air temperature probe at a height that is less than or equal to 3 metres [m] above ground."
            },
            "startTime": {
              "type": "string",
              "title": "HeatConditionStartTime",
              "description": "This is the first occurrence of a measured air temperature greater than or equal to 30 degrees celsius in the 24 hours from 12 am (midnight) on the specified day. Only calculated for stations that have an air temperature probe at a height that is less than or equal to 3 metres [m] above ground."
            }
          },
          "description": "Heat Condition"
        },
        "battery": {
          "type": "object",
          "properties": {
            "minVoltage": {
              "type": "number",
              "format": "float",
              "description": "The minimum battery voltage observed for the period in Volts [V]. This value is the minimum value observed in the 24 hours to 9 am on the specified day."
            },
            "minVoltageDateTime": {
              "type": "string",
              "description": "The date and time the minimum value was observed within the period in UTC. This value is the minimum value observed in the 24 hours to 9 am on the specified day."
            }
          },
          "description": "Battery"
        },
        "errors": {
          "type": "integer",
          "format": "int32",
          "description": "Number of errors within the specified period."
        }
      },
      "description": "summaries"
    },
    "singleStationDataModel": {
      "type": "object",
      "properties": {
        "dateTime": {
          "type": "string",
          "description": "The date and time the recording was made by the weather station in UTC format.",
          "title": ""
        },
        "airTemperature": {
          "type": "number",
          "format": "float",
          "description": "This is the air temperature in degrees celsius at the specified time of recording.",
          "title": ""
        },
        "relativeHumidity": {
          "type": "number",
          "format": "float",
          "description": "This is the relative humidity percentage [%] at the specified time of recording.",
          "title": ""
        },
        "soilTemperature": {
          "type": "number",
          "format": "float",
          "description": "This is the soil temperature at a depth of 4 centimeters [cm] in degrees celsius at the specified time of recording. Some stations are not equipped with soil sensors.",
          "title": ""
        },
        "solarIrradiance": {
          "type": "integer",
          "format": "int32",
          "description": "This is the solar irradiance in watt per square meter [W/m2] at the specified time of recording.",
          "title": ""
        },
        "rainfall": {
          "type": "integer",
          "format": "int32",
          "description": "This is the rainfall in [mm] at the specified time of recording.",
          "title": ""
        },
        "dewPoint": {
          "type": "number",
          "format": "float",
          "description": "This is the dewpoint temperature in degrees celsius at the specified time of recording.",
          "title": ""
        },
        "wetBulb": {
          "type": "number",
          "format": "float",
          "description": "This is the wet bulb temperature in degrees celsius at the specified time of recording.",
          "title": ""
        },
        "wind": {
          "$ref": "#/definitions/windDataModel"
        }
      }
    },
    "windDataModel": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "height": {
            "type": "integer",
            "format": "int32",
            "description": "The height of the sensor in meters [m]."
          },
          "avg": {
            "type": "object",
            "properties": {
              "speed": {
                "type": "number",
                "format": "float",
                "description": "The average wind speed observed over the period measured in kilometers per hour [km/h]."
              },
              "direction": {
                "type": "object",
                "properties": {
                  "compassPoint": {
                    "type": "string",
                    "description": "The average wind direction observed over the period as a compass point."
                  },
                  "degrees": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The average wind direction observed over the period measured in azimuth degrees"
                  }
                },
                "description": "Only provided for 15 minute, 30 minute and hourly intervals. The average wind direction observed over the period of the specified interval."
              }
            },
            "description": "The average wind speed observed over the period. In the case of a daily summary (interval=daily), this value is based on the 24 hours from 12am (midnight) on the specified day."
          },
          "max": {
            "type": "object",
            "properties": {
              "speed": {
                "type": "number",
                "format": "float",
                "description": "speed"
              },
              "direction": {
                "type": "object",
                "properties": {
                  "degrees": {
                    "type": "integer",
                    "format": "int32",
                    "description": "degrees"
                  },
                  "compassPoint": {
                    "type": "string",
                    "description": "compassPoint"
                  }
                },
                "description": "direction"
              }
            },
            "description": "max"
          }
        }
      },
      "description": "The wind observations of one or more wind sensors at various heights."
    },
    "stationLatestDataModel": {
      "type": "object",
      "properties": {
        "stationCode": {
          "type": "string",
          "description": "The unique case-sensitive weather station code.",
          "title": ""
        },
        "stationName": {
          "type": "string",
          "description": "The given name of the weather station.",
          "title": ""
        },
        "dateTime": {
          "type": "string",
          "description": "The date and time of the last recording received from the weather station in UTC format.",
          "title": ""
        },
        "airTemperature": {
          "type": "number",
          "format": "float",
          "description": "The latest recorded air temperature in degrees celsius",
          "title": ""
        },
        "airTemperatureMinLast24Hrs": {
          "type": "number",
          "format": "float",
          "description": "Lowest temperature recorded in the last 24 hrs from current time.",
          "title": ""
        },
        "airTemperatureMaxLast24Hrs": {
          "type": "number",
          "format": "float",
          "description": "Highest temperature recorded in the last 24 hrs from current time.",
          "title": ""
        },
        "apparentTemperature": {
          "type": "number",
          "format": "float",
          "description": "The latest recorded apparent ('feels like') air temperature in degrees celsius",
          "title": ""
        },
        "barometricPressure": {
          "type": "string",
          "description": "The latest recorded apparent ('feels like') air temperature in degrees celsius.",
          "title": ""
        },
        "relativeHumidity": {
          "type": "number",
          "format": "float",
          "description": "The latest recorded relative humidity percentage [%].",
          "title": ""
        },
        "soilTemperature": {
          "type": "number",
          "format": "float",
          "description": "The latest recorded soil temperature at a depth of 4 centimeters [cm] in degrees celsius [\u00b0C].",
          "title": ""
        },
        "dewPoint": {
          "type": "number",
          "format": "float",
          "description": "The latest recorded dewpoint temperature in degrees celsius.",
          "title": ""
        },
        "deltaT": {
          "type": "number",
          "format": "float",
          "description": "The latest recorded deltaT temperature in degrees celsius.",
          "title": ""
        },
        "wetBulb": {
          "type": "number",
          "format": "float",
          "description": "This is the wet bulb temperature in degrees celsius at the specified time of recording.",
          "title": ""
        },
        "sprayingConditions": {
          "type": "string",
          "description": "Spraying conditions are based on deltaT. The available values are \u201cunsuitable\u201d, \u201cmarginal\u201d and \u201cpreferred\u201d. These values are calculated in the following ways: * unsuitable \u2013 will be returned when Delta T is below 2 degrees celcius or greater than 10 degrees celcius. * marginal \u2013 will be returned when Delta T is between 8 degrees celcius and 10 degrees celcius. * preferred \u2013 will be returned when Delta T is between 2 degrees celcius and 8 degrees celcius",
          "title": ""
        },
        "solarExposure": {
          "type": "number",
          "format": "float",
          "description": "The solar exposure from 12am in kilojoules per square meter [kJ/m2].",
          "title": ""
        },
        "solarIrradiance": {
          "type": "integer",
          "format": "int32",
          "description": "The latest solar irradiance in watt per square meters [W/m2].",
          "title": ""
        },
        "wind": {
          "$ref": "#/definitions/windDataModel"
        },
        "etoShortCrop": {
          "type": "number",
          "format": "float",
          "description": "Short crop evapotranspiration from 12am (midnight) calculated using the FAO56 Penman-Monteith evapotranspiration at 0.12 metres [m].",
          "title": ""
        },
        "etoTallCrop": {
          "type": "number",
          "format": "float",
          "description": "Tall crop evapotranspiration from 12am (midnight) calculated using the FAO56 Penman-Monteith evapotranspiration at 0.5 metres [m].",
          "title": ""
        },
        "etoShortCropTo3PM": {
          "type": "number",
          "format": "float",
          "description": "Short crop evapotranspiration calculated over the 24 hours to 3pm using the FAO56 Penman-Monteith evapotranspiration at 0.12 metres. The value is not available (returning null) until after 3pm.",
          "title": ""
        },
        "etoTallCropTo3PM": {
          "type": "number",
          "format": "float",
          "description": "Tall crop evapotranspiration calculated over the 24 hours to 3pm using the FAO56 Penman-Monteith evapotranspiration at 0.5 metres [m]. The value is not available (returning null) until after 3pm.",
          "title": ""
        },
        "rainfallSince9AM": {
          "type": "integer",
          "format": "int32",
          "description": "The total rainfall in millimeters [mm] since 9am",
          "title": ""
        },
        "rainfallTo3PM": {
          "type": "integer",
          "format": "int32",
          "description": "The total rainfall in millimeters [mm] in the 24 hours to 3pm. The value is not available (returning null) until after 3pm.",
          "title": ""
        },
        "panEvaporation": {
          "type": "number",
          "format": "float",
          "description": "Class A pan evaporation value calculated using the Penman-Monteith formulation. This value is based on the 24 hours to 9am on the specified day.",
          "title": ""
        },
        "panEvaporation12AM": {
          "type": "number",
          "format": "float",
          "description": "Class A pan evaporation value calculated using the Penman-Monteith formulation. This value is based on the 24 hours from 12am (midnight) on the specified day.",
          "title": ""
        },
        "panEvaporationTo3PM": {
          "type": "number",
          "format": "float",
          "description": "Class A pan evaporation value calculated using the Penman-Monteith formulation. This value is based on the 24 hours to 3pm on the specified day. The value is not available (returning null) until after 3pm.",
          "title": ""
        },
        "erosionConditionSince12AM": {
          "type": "object",
          "properties": {
            "minutes": {
              "type": "integer",
              "format": "int32",
              "description": "minutes"
            },
            "startTime": {
              "type": "string",
              "description": "startTime"
            }
          },
          "description": "erosionConditionSince12AM"
        },
        "frostConditionSince9AM": {
          "type": "object",
          "properties": {
            "minutes": {
              "type": "integer",
              "format": "int32",
              "description": "minutes"
            },
            "startTime": {
              "type": "string",
              "description": "startTime"
            }
          },
          "description": "frostConditionSince9AM"
        },
        "heatConditionSince12AM": {
          "type": "object",
          "properties": {
            "minutes": {
              "type": "integer",
              "format": "int32",
              "description": "minutes"
            },
            "startTime": {
              "type": "string",
              "description": "startTime"
            }
          },
          "description": "heatConditionSince12AM"
        },
        "batteryVoltage": {
          "type": "number",
          "format": "float",
          "description": "batteryVoltage"
        },
        "errors": {
          "type": "object",
          "properties": {
            "today": {
              "type": "integer",
              "format": "int32",
              "description": "today"
            },
            "last7Days": {
              "type": "integer",
              "format": "int32",
              "description": "last7Days"
            }
          },
          "description": "errors"
        }
      }
    },
    "stationExtremeEventModel": {
      "type": "object",
      "properties": {
        "interval": {
          "type": "string",
          "description": "The interval used to generate the response. Calculated by the length of time between startDateTime and endDateTime",
          "title": "Interval"
        },
        "stations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "stationCode": {
                "type": "string",
                "description": "This is the unique case-sensitive weather station code.",
                "title": ""
              },
              "stationName": {
                "type": "string",
                "description": "The weather stations name",
                "title": ""
              },
              "latitude": {
                "type": "number",
                "format": "float",
                "description": "Latitude of the weather station in decimal degrees, used for displaying on a map.",
                "title": ""
              },
              "longitude": {
                "type": "number",
                "format": "float",
                "description": "Longitude of the weather station in decimal degrees, used for displaying on a map.",
                "title": ""
              },
              "numberOfEvents": {
                "type": "integer",
                "format": "int32",
                "description": "The number of 'extreme weather' events that exceed the specified threshold value within the specified time range. This number depends on the specified interval, e.g. if the interval is not set, then the number of events implies the number of minutes. If the interval is 'daily' then the number of events implies the number of days.",
                "title": ""
              },
              "extremeValue": {
                "type": "number",
                "format": "float",
                "description": "The extreme value (lowest or highest \u2013 depending on the operator) that was found within the specified range.",
                "title": ""
              }
            }
          },
          "description": "stations"
        }
      },
      "description": "data"
    },
    "stationExtremeConditionModel": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "stationCode": {
            "type": "string",
            "description": "The unique case-sensitive weather station code."
          },
          "stationName": {
            "type": "string",
            "description": "The given name of the weather station."
          },
          "latitude": {
            "type": "number",
            "format": "float",
            "description": "Latitude of the weather station in decimal degrees, for displaying on a map."
          },
          "dateTime": {
            "type": "string",
            "description": "Longitude of the weather station in decimal degrees, for displaying on a map."
          },
          "frostCondition": {
            "type": "object",
            "properties": {
              "since9AM": {
                "type": "object",
                "properties": {
                  "minutes": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Air temp low minutes to 9am",
                    "description": "The number of minutes that the air temperature was less than 2 degrees celsius since 9am."
                  },
                  "startTime": {
                    "type": "string",
                    "title": "Air temp low start time since 9am",
                    "description": "The date/time of the first occurrence of the air temperature being less than or equal to 2 degrees celsius since 9am."
                  }
                },
                "description": "The number of minutes that the air temperature was less than or equal to 2 degrees celsius since 9am and the time of the first occurrence in the period."
              },
              "to9AM": {
                "type": "object",
                "properties": {
                  "minutes": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Air temp low minutes to 9am",
                    "description": "The number of minutes that the air temperature was less than 2 degrees celsius in the 24 hours to 9am."
                  },
                  "startTime": {
                    "type": "string",
                    "title": "Air temp low start time to 9am",
                    "description": "The date/time of the first occurrence of the air temperature being less than or equal to 2 degrees celsius in the 24 hours to 9am."
                  }
                },
                "description": "The number of minutes that the air temperature was less than or equal to 2 degrees celsius in the 24 hours to 9am and the time of the first occurrence in the period."
              },
              "last7Days": {
                "type": "object",
                "properties": {
                  "minutes": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Air temp low minutes last 7d",
                    "description": "The number of minutes that the air temperature was less than or equal to 2 degrees celsius in the last 7 days and the number of days it has occurred on in the period. Includes the current day and the previous 6."
                  },
                  "days": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Air temp low days last 7d",
                    "description": "The number of minutes that the air temperature was less than or equal to 2 degrees celsius in the last 7 days. Includes the current day and the previous 6."
                  }
                },
                "description": "The number of minutes that the air temperature was less than or equal to 2 degrees celsius in the last 7 days and the number of days it has occurred on in the period. Includes the current day and the previous 6."
              },
              "last14Days": {
                "type": "object",
                "properties": {
                  "minutes": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Air temp low minutes last 14d",
                    "description": "The number of minutes that the air temperature was less than or equal to 2 degrees celsius in the last 14 days. Includes the current day and the previous 13."
                  },
                  "days": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Air temp low days last 14d",
                    "description": "The number of days the air temperature was less than or equal to 2 degrees celsius in the last 14 days. Includes the current day and the previous 13."
                  }
                },
                "description": "The number of minutes that the air temperature was less than or equal to 2 degrees celsius in the last 7 days and the number of days it has occurred on in the period. Includes the current day and the previous 13"
              },
              "monthToDate": {
                "type": "object",
                "properties": {
                  "minutes": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Air temp low minutes current month",
                    "description": "The number of minutes that the air temperature was less than or equal to 2 degrees celsius in the current month."
                  },
                  "startTime": {
                    "type": "string",
                    "title": "Air temp low start date current month",
                    "description": "The date/time of the first occurrence of the air temperature being less than or equal to 2 degrees celsius in the current month."
                  },
                  "days": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Air temp low days current month",
[...]
