{
  "swagger": "2.0",
  "info": {
    "title": "DPIRD Weather API",
    "description": "",
    "version": "1.0"
  },
  "host": "api.dpird.wa.gov.au",
  "basePath": "/v2/weather",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/station/{stationCode}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "description": "status"
                    },
                    "links": {
                      "$ref": "#/definitions/linksModel"
                    }
                  },
                  "description": "metadata"
                },
                "data": {
                  "$ref": "#/definitions/stationModel"
                }
              }
            }
          }
        },
        "summary": "Get Weather Station (Single Station)",
        "description": "Get the metadata for a specific station",
        "operationId": "GetStation",
        "parameters": [
          {
            "name": "stationCode",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A single case-sensitive station code.",
            "x-ms-summary": "A single case-sensitive station code.",
            "x-ms-dynamic-values": {
              "operationId": "GetStationsMinimal",
              "value-path": "stationCode",
              "value-collection": "collection",
              "value-title": "stationName",
              "parameters": {
                "limit": 1000,
                "sort": "stationName",
                "select": "stationCode,stationName"
              }
            }
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of fields to include in the result. Note that this will not include station codes or names unless explicitly included.",
            "x-ms-summary": "Fields to include"
          }
        ]
      }
    },
    "/stations": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "description": "status"
                    },
                    "links": {
                      "$ref": "#/definitions/linksModel"
                    },
                    "collection": {
                      "$ref": "#/definitions/paginationModel"
                    }
                  },
                  "description": "metadata"
                },
                "collection": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/stationModel"
                  },
                  "description": "Collection of Stations"
                }
              }
            }
          }
        },
        "summary": "Get Weather Stations",
        "description": "Returns a list of stations and their metadata.",
        "operationId": "GetStations",
        "parameters": [
          {
            "name": "stationCode",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Station codes",
            "description": "A comma separated list of case-sensitive station codes. Limits the stations which will be returned."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The pagination offset parameter specifies the first entry to return from a collection.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Limit",
            "x-ms-summary": "The pagination limit parameter restricts the number of entries returned."
          },
          {
            "name": "includeClosed",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Include Closed Stations",
            "description": "Include Open and Closed Stations (defaults to false)"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of fields to sort by. Defaults to ascending. Prepend '-' for descending. For wind fields you can only sort or select by the lowest sensor.",
            "x-ms-summary": "Sort FIelds"
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of fields to include in the result. Note that this will not include station codes or names unless explicitly included.",
            "x-ms-summary": "Fields to Include"
          },
          {
            "name": "group",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter the stations to a predefined group. These need to be supported on the back end. 'all' returns all stations, 'api' returns the default stations in use with the API, 'web' returns the list in use by the weather.agric.wa.gov.au and 'rtd' returns stations with scientifically complete datasets",
            "x-ms-summary": "Station Group",
            "enum": [
              "api",
              "all",
              "web",
              "rtd"
            ]
          }
        ]
      }
    },
    "/stationsminimal": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "description": "status"
                    },
                    "links": {
                      "$ref": "#/definitions/linksModel"
                    },
                    "collection": {
                      "$ref": "#/definitions/paginationModel"
                    }
                  },
                  "description": "metadata"
                },
                "data": {
                  "$ref": "#/definitions/stationModel"
                }
              }
            }
          }
        },
        "summary": "Get Stations for Lookup",
        "description": "Get Stations for Lookup",
        "operationId": "GetStationsMinimal",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The pagination offset parameter specifies the first entry to return from a collection.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "Limit",
            "x-ms-summary": "The pagination limit parameter restricts the number of entries returned.",
            "default": 1000,
            "x-ms-visibility": "internal"
          },
          {
            "name": "includeClosed",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Include Closed Stations",
            "description": "Include Open and Closed Stations (defaults to false)"
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "A comma separated list of fields to sort by. Defaults to ascending. Prepend '-' for descending. For wind fields you can only sort or select by the lowest sensor.",
            "x-ms-summary": "Sort FIelds",
            "default": "stationName",
            "x-ms-visibility": "internal"
          },
          {
            "name": "select",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "A comma separated list of fields to include in the result. Note that this will not include station codes or names unless explicitly included.",
            "x-ms-summary": "Fields to Include",
            "default": "stationCode,stationName",
            "x-ms-visibility": "internal"
          },
          {
            "name": "group",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter the stations to a predefined group. These need to be supported on the back end. 'all' returns all stations, 'api' returns the default stations in use with the API, 'web' returns the list in use by the weather.agric.wa.gov.au and 'rtd' returns stations with scientifically complete datasets",
            "x-ms-summary": "Station Group",
            "enum": [
              "api",
              "all",
              "web",
              "rtd"
            ]
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/stations/availability": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "description": "status"
                    },
                    "links": {
                      "$ref": "#/definitions/linksModel"
                    },
                    "collection": {
                      "$ref": "#/definitions/paginationModel"
                    }
                  },
                  "description": "metadata"
                },
                "collection": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/stationAvailabilitySummaryModel"
                  },
                  "description": "Collection of Stations"
                }
              }
            }
          }
        },
        "summary": "Get Weather Stations Availability",
        "description": "Gets the availability metadata weather stations",
        "operationId": "GetStationsAvailability",
        "parameters": [
          {
            "name": "stationCode",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma seperated list of stationCodes",
            "x-ms-summary": "Station Codes"
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The start date for a custom availability period. Must be sent along with end date.",
            "x-ms-summary": "Start Date"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The end date for a custom availability period. Must be sent along with start date.",
            "x-ms-summary": "End Date",
            "format": "date"
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of fields to include in the result. Note that this will not include station codes or names unless explicitly included.",
            "x-ms-summary": "Fields to include"
          }
        ]
      }
    },
    "/stations/bulletins": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "description": "status"
                    },
                    "links": {
                      "$ref": "#/definitions/linksModel"
                    },
                    "collection": {
                      "$ref": "#/definitions/paginationModel"
                    }
                  },
                  "description": "metadata"
                },
                "collection": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/stationBulletinsModel"
                  },
                  "description": "Collection of Station Bulletins"
                }
              }
            }
          }
        },
        "summary": "Get Weather Stations Bulletins",
        "description": "Returns daily 9am bulletins for a list of stations. The daily 9am bulletin is a summary where every field has been summarised over the 24 hour period to 9am.",
        "operationId": "GetStationsBulletins",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The start of the range to return summaries for. Will return data inclusive of this range.",
            "x-ms-summary": "Start Date"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The end of the range to return summaries for. Will return data inclusive of this range.",
            "x-ms-summary": "End Date",
            "format": "date"
          },
          {
            "name": "stationCode",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Station codes",
            "description": "A comma separated list of case-sensitive station codes. Limits the stations which will be returned."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The pagination offset parameter specifies the first entry to return from a collection.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Limit",
            "x-ms-summary": "The pagination limit parameter restricts the number of entries returned."
          },
          {
            "name": "includeClosed",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Include Closed Stations",
            "description": "Include Open and Closed Stations (defaults to false)"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of fields to sort by. Defaults to ascending. Prepend '-' for descending. For wind fields you can only sort or select by the lowest sensor.",
            "x-ms-summary": "Sort FIelds"
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of fields to include in the result. Note that this will not include station codes or names unless explicitly included.",
            "x-ms-summary": "Fields to Include"
          },
          {
            "name": "group",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter the stations to a predefined group. These need to be supported on the back end. 'all' returns all stations, 'api' returns the default stations in use with the API, 'web' returns the list in use by the weather.agric.wa.gov.au and 'rtd' returns stations with scientifically complete datasets",
            "x-ms-summary": "Station Group",
            "enum": [
              "api",
              "all",
              "web",
              "rtd"
            ]
          }
        ]
      }
    },
    "/stations/{stationCode}/bulletin": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "description": "status"
                    },
                    "links": {
                      "$ref": "#/definitions/linksModel"
                    },
                    "collection": {
                      "$ref": "#/definitions/paginationModel"
                    }
                  },
                  "description": "metadata"
                },
                "data": {
                  "$ref": "#/definitions/stationBulletinsModel"
                }
              }
            }
          }
        },
        "summary": "Get Weather Station Bulletins (Single Station)",
        "description": "Returns daily 9am bulletins for a station. The daily 9am bulletin is a summary where every field has been summarised over the 24 hour period to 9am.",
        "operationId": "GetStationBulletins",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The start of the range to return summaries for. Will return data inclusive of this range.",
            "x-ms-summary": "Start Date"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The end of the range to return summaries for. Will return data inclusive of this range.",
            "x-ms-summary": "End Date",
            "format": "date"
          },
          {
            "name": "stationCode",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A single case-sensitive station code",
            "x-ms-summary": "Station Code",
            "x-ms-dynamic-values": {
              "operationId": "GetStationsMinimal",
              "value-path": "stationCode",
              "value-collection": "collection",
              "value-title": "stationName",
              "parameters": {
                "limit": 1000,
                "sort": "stationName",
                "select": "stationCode,stationName"
              }
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The pagination offset parameter specifies the first entry to return from a collection.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Limit",
            "x-ms-summary": "The pagination limit parameter restricts the number of entries returned."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of fields to sort by. Defaults to ascending. Prepend '-' for descending. For wind fields you can only sort or select by the lowest sensor.",
            "x-ms-summary": "Sort FIelds"
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of fields to include in the result. Note that this will not include station codes or names unless explicitly included.",
            "x-ms-summary": "Fields to Include"
          }
        ]
      }
    },
    "/stations/{stationCode}/availability": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "description": "status"
                    },
                    "links": {
                      "$ref": "#/definitions/linksModel"
                    },
                    "collection": {
                      "$ref": "#/definitions/paginationModel"
                    }
                  },
                  "description": "metadata"
                },
                "data": {
                  "$ref": "#/definitions/stationAvailabilitySummaryModel"
                }
              }
            }
          }
        },
        "summary": "Get Weather Station Availability (Single Station)",
        "description": "Get Weather Station Availability (Single Station)",
        "operationId": "GetWeatherStationAvailability",
        "parameters": [
          {
            "name": "stationCode",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A single case-sensitive station code",
            "x-ms-summary": "Station Code",
            "x-ms-dynamic-values": {
              "operationId": "GetStationsMinimal",
              "value-path": "stationCode",
              "value-collection": "collection",
              "value-title": "stationName",
              "parameters": {
                "limit": 1000,
                "sort": "stationName",
                "select": "stationCode,stationName"
              }
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The start date for a custom availability period. Must be sent along with end date.",
            "x-ms-summary": "Start Date"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The end date for a custom availability period. Must be sent along with start date.",
            "x-ms-summary": "End Date",
            "format": "date"
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of fields to include in the result. Note that this will not include station codes or names unless explicitly included.",
            "x-ms-summary": "Fields to include"
          }
        ]
      }
    },
    "/stations/nearby": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Weather Stations Nearby",
        "description": "Returns a list of nearby stations, sorted by distance. Use paging to control the number of stations returned. Returns 5 stations by default. Sorted by distance from location ascending.",
        "operationId": "GetNearbyWeatherStations",
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "type": "number",
            "description": "The latitude to search by in decimal degrees.",
            "x-ms-summary": "Latitude"
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "type": "number",
            "description": "The longitude to search by in decimal degrees.",
            "x-ms-summary": "Longitude"
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Only look for stations within this kilometer range. Defaults to 100km.",
            "x-ms-summary": "Search Radius"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The pagination offset parameter specifies the first entry to return from a collection.",
            "x-ms-summary": "First entry to return"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The pagination limit parameter restricts the number of entries returned.",
            "x-ms-summary": "Record Limit"
          },
          {
            "name": "includeClosed",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Include Open and Closed Stations (defaults to false)",
            "x-ms-summary": "Include closed stations"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of fields to sort by. Defaults to ascending. Prepend '-' for descending. For wind fields you can only sort or select by the lowest sensor.",
            "x-ms-summary": "Sort FIelds"
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of fields to include in the result. Note that this will not include station codes or names unless explicitly included.",
            "x-ms-summary": "Fields to Include"
          },
          {
            "name": "group",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter the stations to a predefined group. These need to be supported on the back end. 'all' returns all stations, 'api' returns the default stations in use with the API, 'web' returns the list in use by the weather.agric.wa.gov.au and 'rtd' returns stations with scientifically complete datasets",
            "x-ms-summary": "Station Group",
            "enum": [
              "api",
              "all",
              "web",
              "rtd"
            ]
          }
        ]
      }
    },
    "/stations/rainfall": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "description": "status"
                    },
                    "links": {
                      "$ref": "#/definitions/linksModel"
                    },
                    "collection": {
                      "$ref": "#/definitions/paginationModel"
                    }
                  },
                  "description": "metadata"
                },
                "collection": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/stationRainfallModel"
                  },
                  "description": "collection"
                }
              }
            }
          }
        },
        "summary": "Get Weather Stations Rainfall",
        "description": "Get the rainfall weather stations have received over various time periods up to the current time.",
        "operationId": "GetWeatherStationsRainfall",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The start of the range to return summaries for. Will return data inclusive of this range.",
            "x-ms-summary": "Start Date"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The end of the range to return summaries for. Will return data inclusive of this range.",
            "x-ms-summary": "End Date",
            "format": "date"
          },
          {
            "name": "stationCode",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Station codes",
            "description": "A comma separated list of case-sensitive station codes. Limits the stations which will be returned."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The pagination offset parameter specifies the first entry to return from a collection.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Limit",
            "x-ms-summary": "The pagination limit parameter restricts the number of entries returned."
          },
          {
            "name": "includeClosed",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Include Closed Stations",
            "description": "Include Open and Closed Stations (defaults to false)"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of fields to sort by. Defaults to ascending. Prepend '-' for descending. For wind fields you can only sort or select by the lowest sensor.",
            "x-ms-summary": "Sort FIelds"
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of fields to include in the result. Note that this will not include station codes or names unless explicitly included.",
            "x-ms-summary": "Fields to Include"
          },
          {
            "name": "group",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter the stations to a predefined group. These need to be supported on the back end. 'all' returns all stations, 'api' returns the default stations in use with the API, 'web' returns the list in use by the weather.agric.wa.gov.au and 'rtd' returns stations with scientifically complete datasets",
            "x-ms-summary": "Station Group",
            "enum": [
              "api",
              "all",
              "web",
              "rtd"
            ]
          }
        ]
      }
    },
    "/stations1/rainfall": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "description": "status"
                    },
                    "links": {
                      "$ref": "#/definitions/linksModel"
                    },
                    "collection": {
                      "$ref": "#/definitions/paginationModel"
                    }
                  },
                  "description": "metadata"
                },
                "collection": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/stationRainfallModel"
                  },
                  "description": "collection"
                }
              }
            }
          }
        },
        "summary": "Get Weather Station Rainfall (Single Station)",
        "description": "Get the rainfall weather station has received over various time periods up to the current time.",
        "operationId": "GetWeatherStationRainfall",
        "parameters": [
          {
            "name": "stationCode",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Station codes",
            "description": "A comma separated list of case-sensitive station codes. Limits the stations which will be returned.",
            "x-ms-dynamic-values": {
              "operationId": "GetStationsMinimal",
              "value-path": "stationCode",
              "value-collection": "collection",
              "value-title": "stationName",
              "parameters": {
                "limit": 1000,
                "sort": "stationName",
                "select": "stationCode,stationName"
              }
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The start of the range to return summaries for. Will return data inclusive of this range.",
            "x-ms-summary": "Start Date"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The end of the range to return summaries for. Will return data inclusive of this range.",
            "x-ms-summary": "End Date",
            "format": "date"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The pagination offset parameter specifies the first entry to return from a collection.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Limit",
            "x-ms-summary": "The pagination limit parameter restricts the number of entries returned."
          },
          {
            "name": "includeClosed",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Include Closed Stations",
            "description": "Include Open and Closed Stations (defaults to false)"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of fields to sort by. Defaults to ascending. Prepend '-' for descending. For wind fields you can only sort or select by the lowest sensor.",
            "x-ms-summary": "Sort FIelds"
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of fields to include in the result. Note that this will not include station codes or names unless explicitly included.",
            "x-ms-summary": "Fields to Include"
          },
          {
            "name": "group",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter the stations to a predefined group. These need to be supported on the back end. 'all' returns all stations, 'api' returns the default stations in use with the API, 'web' returns the list in use by the weather.agric.wa.gov.au and 'rtd' returns stations with scientifically complete datasets",
            "x-ms-summary": "Station Group",
            "enum": [
              "api",
              "all",
              "web",
              "rtd"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "stationRainfallModel": {
      "type": "object",
      "properties": {
        "stationCode": {
          "type": "string",
          "description": "This is the unique case-sensitive weather station code."
        },
        "stationName": {
          "type": "string",
          "description": "This is the given name of the weather station."
        },
        "latitude": {
          "type": "number",
          "format": "float",
          "description": "Latitude of the weather station in decimal degrees, for displaying on a map."
        },
        "longitude": {
          "type": "number",
          "format": "float",
          "description": "Longitude of the weather station in decimal degrees, for displaying on a map."
        },
        "dateTime": {
          "type": "string",
          "description": "The date and time of the last recording received from the weather station in UTC format."
        },
        "rainfall": {
          "type": "object",
          "properties": {
            "to9AM": {
              "type": "number",
              "format": "float",
              "description": "The last 24 hours of rainfall to 9am."
            },
            "since9AM": {
              "type": "number",
              "format": "float",
              "description": "The rainfall recorded since 9am in millimetres [mm]."
            },
            "currentHour": {
              "type": "number",
              "format": "float",
              "description": "The rainfall recorded since the start of the current hour."
            },
            "last24Hrs": {
              "type": "number",
              "format": "float",
              "description": "The rainfall recorded in the previous 24hrs to the current time in millimetres [mm]."
            },
            "last7Days": {
              "type": "number",
              "format": "float",
              "description": "The rainfall recorded in the last 7 days to the previous 9am in millimetres [mm]."
            },
            "last14Days": {
              "type": "number",
              "format": "float",
              "description": "The rainfall recorded in the last 14 days to the previous 9am in millimetres [mm]."
            },
            "monthToDate": {
              "type": "number",
              "format": "float",
              "description": "The amount of rainfall recorded so far this month in millimetres [mm]."
            },
            "yearToDate": {
              "type": "number",
              "format": "float",
              "description": "The amount of rainfall recorded so far this year since January 1 in millimetres [mm]."
            },
            "period": {
              "type": "number",
              "format": "float",
              "description": "The cumulative rainfall for the period defined by startDate and endDate."
            }
          },
          "description": "A collection of rainfall summary values."
        },
        "links": {
          "$ref": "#/definitions/linksModel"
        }
      }
    },
    "stationBulletinsModel": {
      "type": "object",
      "properties": {
        "stationCode": {
          "type": "string",
          "description": "The unique identifier for a station. Case sensitive."
        },
        "stationName": {
          "type": "string",
          "description": "The human readable name of the weather station."
        },
        "summaries": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "stationCode": {
                "type": "string",
                "description": "This is the unique case-sensitive weather station code."
              },
              "stationName": {
                "type": "string",
                "description": "This is the given name of the weather station."
              },
              "period": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "description": "The start of the specified interval in UTC. The time returned for the daily interval will be midnight at the start of the calendar day."
                  },
                  "to": {
                    "type": "string",
                    "description": "The end of the specified interval in UTC. The time returned for the daily will be midnight at the start of the calendar day."
                  },
                  "year": {
                    "type": "integer",
                    "format": "int32",
                    "description": "This is the year value that the summary relates to."
                  },
                  "month": {
                    "type": "integer",
                    "format": "int32",
                    "description": "This is the month value that the summary relates to."
                  },
                  "day": {
                    "type": "integer",
                    "format": "int32",
                    "description": "This is the day of the month that the summary relates to."
                  },
                  "hour": {
                    "type": "integer",
                    "format": "int32",
                    "description": "This is the 24-hour value that the summary relates to."
                  },
                  "minute": {
                    "type": "integer",
                    "format": "int32",
                    "description": "This is the minute value that the summary data relates to. In case of a 15 minute or 30 minute interval, the minute value will represent the end of the interval."
                  }
                },
                "description": "The calendar based time-period of the specified interval."
              },
              "airTemperature": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "number",
                    "format": "float",
                    "description": "The minimum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the minimum value observed in the 24 hours to 9 am on the specified day.",
                    "title": "Air Temp Min"
                  },
                  "minTime": {
                    "type": "string",
                    "description": "The date and time the minimum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is date and time the mimimum value is observed in the 24 hours to 9 am on the specified day.",
                    "title": "Air Temp Min Time"
                  },
                  "max": {
                    "type": "number",
                    "format": "float",
                    "description": "The maximum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the maximum value observed in the 24 hours from 9 am on the specified day.",
                    "title": "Air Temp Max"
                  },
                  "maxTime": {
                    "type": "string",
                    "description": "The date and time the maximum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is the date and time the maximum value is observed in the 24 hours from 9 am on the specified day.",
                    "title": "Air Temp Max Time"
                  }
                },
                "description": "The observed air temperature in degrees celcius [\u00c2\u00b0C]."
              },
              "relativeHumidity": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "number",
                    "format": "float",
                    "description": "The minimum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the minimum value observed in the 24 hours from 9 am on the specified day.",
                    "title": "Relative Humidity Min"
                  },
                  "minTime": {
                    "type": "string",
                    "description": "The date and time the minimum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is the date and time the minimum value is observed in the 24 hours from 9 am on the specified day.",
                    "title": "Relative Humidity Min Time"
                  },
                  "max": {
                    "type": "number",
                    "format": "float",
                    "description": "The maximum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the maximum value observed in the 24 hours to 9 am on the specified day.",
                    "title": "Relative Humidity Max"
                  },
                  "maxTime": {
                    "type": "string",
                    "description": "The date and time the maximum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is the date and time the maximum value is observed in the 24 hours to 9 am on the specified day.",
                    "title": "Relative Humidity Max Time"
                  }
                },
                "description": "The observed relative humidity percentage [%]."
              },
              "soilTemperature": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "number",
                    "format": "float",
                    "description": "The minimum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the minimum value observed in the 24 hours to 9 am on the specified day.",
                    "title": "Soil Temp Min"
                  },
                  "minTime": {
                    "type": "string",
                    "description": "The date and time the minimum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is the date and time the minimum value is observed in the 24 hours to 9 am on the specified day.",
                    "title": "Soil Temp Min Time"
                  },
                  "max": {
                    "type": "number",
                    "format": "float",
                    "description": "The maximum value observed within the period. In case of a daily summary (interval = 'daily'), this value is the maximum value observed in the 24 hours from 9 am on the specified day.",
                    "title": "Soil Temp Max"
                  },
                  "maxTime": {
                    "type": "string",
                    "description": "The date and time the maximum value was observed within the period in UTC. In case of a daily summary (interval = 'daily'), this value is the date and time the maximum value is observed in the 24 hours from 9 am on the specified day.",
                    "title": "Soil Temp Max Time"
                  }
                },
                "description": "The soil temperature observed at 4 cm depth within the period in degrees celcius [\u00c2\u00b0C]."
              },
              "wind": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "height": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The height of the sensor in meters [m].",
                      "title": "Sensor Height [m]"
                    },
                    "avg": {
                      "type": "object",
                      "properties": {
                        "speed": {
                          "type": "number",
                          "format": "float",
                          "description": "The average wind speed observed over the period measured in kilometers per hour [km/h].",
                          "title": "Average Wind Speed"
                        }
                      },
                      "description": "The average wind speed observed over the period. In the case of a daily summary (interval=daily), this value is based on the 24 hours from 12am (midnight) on the specified day."
                    },
                    "max": {
                      "type": "object",
                      "properties": {
                        "speed": {
                          "type": "number",
                          "format": "float",
                          "description": "The maximum wind speed observed measured in kilometers per hour [km/h].",
                          "title": "Max Wind Speed"
                        },
                        "time": {
                          "type": "string",
                          "description": "The date and time in [UTC] format of the maximum wind speed.",
                          "title": "Max Wind Speed Time"
                        },
                        "direction": {
                          "type": "object",
                          "properties": {
                            "degrees": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The wind direction of the maximum wind speed observed in azimuth degrees",
                              "title": "Max Speed Wind Direction (deg)"
                            },
                            "compassPoint": {
                              "type": "string",
                              "description": "The wind direction of the maximum wind speed observed as a compass point.",
                              "title": "Max Speed Wind Direction (compass)"
                            }
                          },
                          "description": "The wind direction of the maximum wind speed observed over the period."
                        }
                      },
                      "description": "The maximum wind speed observed over the period. In the case of a daily summary (interval=daily), this value is based on the 24 hours from 12am (midnight) on the specified day"
                    }
                  }
                },
                "description": "The wind observations of one or more wind sensors at various heights."
              },
              "panEvaporation": {
                "type": "number",
                "format": "float",
                "description": "Class A pan evaporation value calculated using the Penman-Monteith formulation. In case of a daily summary (interval = 'daily'), this value is based on the 24 hours to 9 am on the specified day."
              },
              "evapotranspiration": {
                "type": "object",
                "properties": {
                  "shortCrop": {
                    "type": "number",
                    "format": "float",
                    "description": "Short crop evapotranspiration value calculated at 0.12 metres [m] using the FAO56 Penman-Monteith method. In case of a daily summary (interval = 'daily'), this value is based on the 24 hours from 12 am (midnight) on the specified day.",
                    "title": "Short Crop Evapotranspiration"
                  },
                  "tallCrop": {
                    "type": "number",
                    "format": "float",
                    "description": "Tall crop evapotranspiration value calculated at 0.5 metres [m] using the FAO56 Penman-Monteith method. In case of a daily summary (interval = 'daily'), this value is based on the 24 hours from 12 am (midnight) on the specified day",
                    "title": "Tall Crop Evapotranspiration"
                  }
                },
                "description": "Evapotranspiration"
              },
              "solarExposure": {
                "type": "number",
                "format": "float",
                "description": "The solar exposure for the period in kilojoules per square meters [kJ/m2]. In case of a daily summary (interval = 'daily'), this value is the solar exposure observed in the 24 hours from 12 am (midnight) on the specified day."
              },
              "rainfall": {
                "type": "number",
                "format": "float",
                "description": "The total rainfall for the period in millimetres [mm]. In case of a daily summary (interval = 'daily'), this value is the total rainfall observed in the 24 hours to 9 am on the specified day."
              },
              "links": {
                "$ref": "#/definitions/linksModel"
              }
            }
          },
          "description": "summaries"
        }
      }
    },
    "stationAvailabilitySummaryModel": {
      "type": "object",
      "properties": {
        "stationCode": {
          "type": "string",
          "description": "This is the unique case-sensitive weather station code.",
          "title": "Station Code"
        },
        "stationName": {
          "type": "string",
          "description": "This is the name of the weather station.",
          "title": "Station Name"
        },
        "dateTime": {
          "type": "string",
          "description": "The date time if the last recording received from the weather station in UTC format.",
          "title": "Last Recording Date/time"
        },
        "availability": {
          "$ref": "#/definitions/stationAvailabilityModel"
        },
        "links": {
          "$ref": "#/definitions/linksModel"
        }
      }
    },
    "paginationModel": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "count"
        },
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "limit"
        },
        "offset": {
          "type": "integer",
          "format": "int32",
          "description": "offset"
        },
        "links": {
          "$ref": "#/definitions/linksModel"
        }
      },
      "description": "Pagination details"
    },
    "stationAvailabilityModel": {
      "type": "object",
      "properties": {
        "to9AM": {
          "description": "% observations to 9am (out of the expected number of observations)"
        },
        "since9AM": {
          "description": "% observations since 9am (out of expected number of observations)",
          "title": ""
        },
        "since12AM": {
          "description": "% observations since 12am (out of expected number of observations)"
        },
        "currentHour": {
          "description": "% observations in the current hour (out of expected number of observations).",
          "title": ""
        },
        "last24Hours": {
          "description": "% observations in the last 24 hours tocurrent time (out of expected number of observations).",
          "x-ms-tooltip": "The percentage of observations recorded in the last 24 hours to the current time (out of the expected number of observations). This is made up of time from the current hour and the previous 23 hours.",
          "title": ""
        },
        "last7Days": {
          "type": "object",
          "properties": {
            "since9AM": {
              "description": "% observations in last 7 days to current time. Made up of the current day since 9am and previous 6 days over the daily 24 hour period since 9am.",
              "title": "Since 9am (7 days)"
            },
            "since12AM": {
              "description": "% observations in last 7 days to current time. Made up of the current day since 12am and previous 6 days over the daily 24 hour period since 12am.",
              "title": "Since 12am (7 days)"
            }
          },
          "description": "Station Availability Last 7 Days"
        },
        "last14Days": {
          "type": "object",
          "properties": {
            "since9AM": {
              "description": "% observations in last 14 days to the current time. Made up of the current day since 9am and previous 13 days over the daily 24 hour period since 9am).",
              "title": "Since 9am (14 days)"
            },
            "since12AM": {
              "description": "% observations in last 14 days to current time. Made up of the current day since 12am and previous 13 days over the daily 24 hour period since 12am.",
              "title": "Since 12am (14 days)"
            }
          },
          "description": "Station Availability Last 14 Days"
        },
        "monthToDate": {
          "type": "object",
          "properties": {
            "to9AM": {
              "description": "% of observations recorded so far this month based on daily 24 hour period to 9am, including the current incomplete 24 hour period since 9am",
              "title": "Since 9am (Month to date)"
            },
            "since12AM": {
              "description": "% of observations recorded so far this month based on daily 24 hour period to 12am, including the current incomplete 24 hour period since 12am",
              "title": "Since 12am (Month to date)"
            }
          },
          "description": "% of observations recorded so far this month (out of expected number of observations)."
        },
        "yearToDate": {
          "type": "object",
          "properties": {
            "to9AM": {
              "description": "% of observations recorded so far this year based on the daily 24 hours period to 9am, including the current incomplete 24 hour period since 9am.",
              "title": "Since 9am (Year to date)"
            },
            "since12AM": {
              "description": "% of observations recorded so far this year, based on the daily 24 hour period from 12am, including the current incomplete 24 hour period since 12am.",
              "title": "Since 12am (Year to date)"
            }
          },
          "description": "% of observations recorded so far this year (out of expected number of observations)."
        },
        "period": {
          "type": "object",
          "properties": {
            "9AM": {
              "title": "9AM period",
              "description": "The percentage of observations recorded in the supplied period since 9AM"
            },
            "12AM": {
              "title": "12AM period",
              "description": "The percentage of observations recorded in the supplied period since 12AM"
            }
          },
          "description": "The percentage of observations recorded in the supplied period.}"
        }
      },
      "description": "Various metrics related to the historical availability of a weather station."
    },
    "stationModel": {
      "type": "object",
      "properties": {
        "stationCode": {
          "type": "string",
          "description": "This is the unique case-sensitive weather station code."
        },
        "stationName": {
          "type": "string",
          "description": "This is the given name of the weather station."
        },
        "latitude": {
          "type": "number",
          "format": "float",
          "description": "Latitude of the weather station in decimal degrees, used for displaying on a map."
        },
        "longitude": {
          "type": "number",
          "format": "float",
          "description": "Longitude of the weather station in decimal degrees, used for displaying on a map."
        },
        "owner": {
          "type": "string",
          "description": "The owner of the weather station."
        },
        "ownerCode": {
          "type": "string",
          "description": "The short identifying code for the station's owner."
        },
        "altitude": {
          "type": "integer",
          "format": "int32",
          "description": "Altitude of the weather station measured in meters [m] above sea level."
        },
        "model": {
          "type": "string",
          "description": "The model of the weather station."
        },
        "capabilities": {
          "type": "object",
          "properties": {
            "airTemperature": {
              "type": "boolean",
              "description": "air Temperature"
            },
            "batteryVoltage": {
              "type": "boolean",
              "description": "Battery Voltage"
            },
            "deltaT": {
              "type": "boolean",
              "description": "Delta T"
            },
            "dewPoint": {
              "type": "boolean",
              "description": "Dew Point"
            },
            "panEvaporation": {
              "type": "boolean",
              "description": "Pan Evaporation"
            },
            "relativeHumidity": {
              "type": "boolean",
              "description": "Relative Humidity"
            },
            "barometricPressure": {
              "type": "boolean",
              "description": "Barometric Pressure"
            },
            "rainfall": {
              "type": "boolean",
              "description": "Rainfall"
            },
            "soilTemperature": {
              "type": "boolean",
              "description": "Soil Temperature"
            },
            "solarIrradiance": {
              "type": "boolean",
              "description": "Solar Irradiance"
            },
            "wetBulb": {
              "type": "boolean",
              "description": "Wet Bulb"
            },
            "wind1": {
              "type": "boolean",
              "description": "Wind1"
            },
            "wind2": {
              "type": "boolean",
              "description": "Wind2"
            },
            "wind3": {
              "type": "boolean",
              "description": "Wind3"
            },
            "apparentTemperature": {
              "type": "boolean",
              "description": "Apparent Temperature"
            },
            "etoShort": {
              "type": "boolean",
              "description": "ETo Short"
            },
            "etoTall": {
              "type": "boolean",
              "description": "ETo Tall"
            },
            "frostCondition": {
              "type": "boolean",
              "description": "Frost Condition"
            },
            "heatCondition": {
              "type": "boolean",
              "description": "Heat Condition"
            },
            "windErosionCondition": {
              "type": "boolean",
              "description": "Wind Erosion Condition"
            },
            "richardsonUnit": {
              "type": "boolean",
              "description": "Richardson Unit"
            },
            "chillHour": {
              "type": "boolean",
              "description": "Chill Hour"
            }
          },
          "description": "Station Capabilities"
        },
        "startDate": {
          "type": "string",
          "description": "The commissioning date of the weather station."
        },
        "endDate": {
          "type": "string",
          "description": "The decommissioning date of the weather station."
        },
        "online": {
          "type": "boolean",
          "description": "Indicates that a weather station is online or has been manually taken offline due to malfunction or communication error."
        },
        "probeHeight": {
          "type": "number",
          "format": "float",
          "description": "Probe height for temperature and humidity gauge measured in meters [m] above ground level"
        },
        "rainGaugeHeight": {
          "type": "number",
          "format": "float",
          "description": "Height of the rain gauge measured in meters [m] above ground level."
        },
        "windProbeHeights": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "A list of wind probe heights for the weather station measured in meters [m] above the ground. Values are ordered from low to high."
        },
        "comments": {
          "type": "string",
          "description": "Any comments regarding the weather station."
        },
        "status": {
          "type": "string",
          "description": "The weather station status. Closed stations are weather stations that have been permanently turned off and no longer report data"
        },
        "jobNumber": {
          "type": "string",
          "description": "This is a job number allocated to any work carried out on a weather station. The MEA job number."
        },
        "links": {
          "$ref": "#/definitions/linksModel"
        }
      }
    },
    "linksModel": {
      "type": "array",
      "items": {
        "type": "object",
        "title": "Links",
        "properties": {
          "href": {
            "type": "string",
            "description": "Specifies the URL of the page the link goes to.",
            "title": "URL"
          },
          "rel": {
            "type": "string",
            "description": "Specifies the relationship between the current document and the linked document.",
            "title": "Relationship"
          }
        }
      },
      "description": "A series of links related to the endpoint."
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}