{
  "basePath": "/",
  "consumes": [],
  "definitions": {},
  "host": "api.companieshouse.gov.uk",
  "info": {
    "description": "UK Company Search",
    "title": "Companies House",
    "version": "1.0"
  },
  "parameters": {},
  "paths": {
    "/search/companies": {
      "get": {
        "description": "Search Company",
        "operationId": "SearchCompany",
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "properties": {
                "items": {
                  "description": "items",
                  "items": {
                    "properties": {
                      "address": {
                        "description": "address",
                        "properties": {
                          "address_line_1": {
                            "description": "address_line_1",
                            "type": "string"
                          },
                          "address_line_2": {
                            "description": "address_line_2",
                            "type": "string"
                          },
                          "country": {
                            "description": "country",
                            "type": "string"
                          },
                          "locality": {
                            "description": "locality",
                            "type": "string"
                          },
                          "postal_code": {
                            "description": "postal_code",
                            "type": "string"
                          },
                          "premises": {
                            "description": "premises",
                            "type": "string"
                          },
                          "region": {
                            "description": "region",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "address_snippet": {
                        "description": "address_snippet",
                        "type": "string"
                      },
                      "company_number": {
                        "description": "company_number",
                        "type": "string"
                      },
                      "company_status": {
                        "description": "company_status",
                        "type": "string"
                      },
                      "company_type": {
                        "description": "company_type",
                        "type": "string"
                      },
                      "date_of_cessation": {
                        "description": "date_of_cessation",
                        "type": "string"
                      },
                      "date_of_creation": {
                        "description": "date_of_creation",
                        "type": "string"
                      },
                      "description": {
                        "description": "description",
                        "type": "string"
                      },
                      "description_identifier": {
                        "description": "description_identifier",
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "kind": {
                        "description": "kind",
                        "type": "string"
                      },
                      "links": {
                        "description": "links",
                        "properties": {
                          "self": {
                            "description": "self",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "matches": {
                        "description": "matches",
                        "properties": {
                          "snippet": {
                            "description": "snippet",
                            "items": {
                              "format": "int32",
                              "type": "integer"
                            },
                            "type": "array"
                          },
                          "title": {
                            "description": "title",
                            "items": {
                              "format": "int32",
                              "type": "integer"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "snippet": {
                        "description": "snippet",
                        "type": "string"
                      },
                      "title": {
                        "description": "title",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "items_per_page": {
                  "description": "items_per_page",
                  "format": "int32",
                  "type": "integer"
                },
                "kind": {
                  "description": "kind",
                  "type": "string"
                },
                "page_number": {
                  "description": "page_number",
                  "format": "int32",
                  "type": "integer"
                },
                "start_index": {
                  "description": "start_index",
                  "format": "int32",
                  "type": "integer"
                },
                "total_results": {
                  "description": "total_results",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Search Company"
      }
    }
  },
  "produces": [],
  "responses": {},
  "schemes": [
    "https"
  ],
  "security": [],
  "securityDefinitions": {
    "api_key": {
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    }
  },
  "swagger": "2.0",
  "tags": []
}