{
  "swagger": "2.0",
  "info": {
    "title": "Abstract Email Validator",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_abstremail@gmail.com"
    },
    "description": "Improve your delivery rate and clean your email lists with Abstract's industry-leading email validation.",
    "version": "1.0"
  },
  "host": "emailvalidation.abstractapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The value for \u201cemail\u201d that was entered into the request.",
                  "title": "Email"
                },
                "autocorrect": {
                  "type": "string",
                  "description": "If a typo has been detected then this parameter returns a suggestion of the correct email (e.g., johnsmith@gmial.com => johnsmith@gmail.com). If no typo is detected then this is empty.",
                  "title": "Autocorrect"
                },
                "deliverability": {
                  "type": "string",
                  "description": "Abstract\u2019s evaluation of the deliverability of the email (DELIVERABLE, UNDELIVERABLE, and UNKNOWN).",
                  "title": "Deliverability"
                },
                "quality_score": {
                  "type": "string",
                  "title": "Quality score",
                  "description": "An internal decimal score between 0.01 and 0.99 reflecting Abstract\u2019s confidence in the quality and deliverability of the submitted email."
                },
                "is_valid_format": {
                  "type": "object",
                  "title": "Is valid format",
                  "properties": {
                    "value": {
                      "type": "boolean"
                    },
                    "text": {
                      "type": "string"
                    }
                  },
                  "description": "Is true if the email follows the format of \u201caddress @ domain . TLD\u201d. If any of those elements are missing or if they contain extra or incorrect special characters, then it returns false."
                },
                "is_free_email": {
                  "type": "object",
                  "title": "Is free email",
                  "properties": {
                    "value": {
                      "type": "boolean"
                    },
                    "text": {
                      "type": "string"
                    }
                  },
                  "description": "Is true if the email\u2019s domain is found among Abstract\u2019s list of free email providers Gmail, Yahoo, etc)."
                },
                "is_disposable_email": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "boolean"
                    },
                    "text": {
                      "type": "string"
                    }
                  },
                  "title": "Is disposable email",
                  "description": "Is true if the email\u2019s domain is found among Abstract\u2019s list of disposable email providers (e.g., Mailinator, Yopmail, etc)."
                },
                "is_role_email": {
                  "type": "object",
                  "title": "Is role email",
                  "properties": {
                    "value": {
                      "type": "boolean"
                    },
                    "text": {
                      "type": "string"
                    }
                  },
                  "description": "Is true if the email\u2019s local part (e.g., the \u201cto\u201d part) appears to be for a role rather than individual. Examples of this include \u201cteam@\u201d, \u201csales@\u201d, info@\u201d, etc."
                },
                "is_catchall_email": {
                  "type": "object",
                  "title": "Is catchall email",
                  "properties": {
                    "value": {
                      "type": "boolean"
                    },
                    "text": {
                      "type": "string"
                    }
                  },
                  "description": "Is true if the domain is configured to catch all email."
                },
                "is_mx_found": {
                  "type": "object",
                  "title": "Is MX found",
                  "properties": {
                    "value": {
                      "type": "boolean"
                    },
                    "text": {
                      "type": "string"
                    }
                  },
                  "description": "Is true if MX Records for the domain can be found. Only available on paid plans. Will return null and UNKNOWN on free plans."
                },
                "is_smtp_valid": {
                  "type": "object",
                  "title": "Is SMTP valid",
                  "properties": {
                    "value": {
                      "type": "boolean"
                    },
                    "text": {
                      "type": "string"
                    }
                  },
                  "description": "Is true if the SMTP check of the email was successful. If the check fails, but other checks are valid, we\u2019ll return the email as UNKNOWN."
                }
              }
            }
          }
        },
        "summary": "Validate email",
        "description": "Perform checks (e.g., free email, disposable domain, etc) on an email address.",
        "operationId": "Validation",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Email",
            "description": "The email address to validate."
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.abstractapi.com/email-validation"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.abstractapi.com/legal/dpa"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Business Intelligence"
    }
  ]
}