{
  "swagger": "2.0",
  "info": {
    "title": "BIN Checker",
    "description": "Checks and verifies BIN (Bank Identification Number). Available for both credit card and debit cards.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.apilayer.com",
  "basePath": "/bincheck/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{BIN}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "bank_name": {
                  "type": "string",
                  "description": "The name of the issuing bank.",
                  "title": "Bank Name"
                },
                "bin": {
                  "type": "string",
                  "description": "The BIN code.",
                  "title": "BIN"
                },
                "country": {
                  "type": "string",
                  "description": "The country where the card was issued.",
                  "title": "Country"
                },
                "scheme": {
                  "type": "string",
                  "description": "The scheme of the BIN code.",
                  "title": "Scheme"
                },
                "type": {
                  "type": "string",
                  "description": "The card type.",
                  "title": "Type"
                },
                "url": {
                  "type": "string",
                  "description": "The URL address of the bank.",
                  "title": "URL"
                }
              }
            }
          }
        },
        "summary": "Search for BIN code",
        "description": "Search for the provided BIN code.",
        "operationId": "Seach",
        "parameters": [
          {
            "name": "BIN",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The BIN code.",
            "x-ms-summary": "BIN",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "apikey"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://apilayer.com/marketplace/description/bincheck-api"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.ideracorp.com/Legal/APILayer/PrivacyStatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}