{
  "swagger": "2.0",
  "info": {
    "title": "http garden",
    "description": "Gardening for every Hyper Text Transfer Protocol response status code. Provides an image for each status code.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "http.garden",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{code}.{file}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The content file type.",
                  "title": "Content Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The file content.",
                  "title": "Content"
                }
              }
            }
          }
        },
        "summary": "Get status code",
        "description": "Retrieve an image based on the requested status code.",
        "operationId": "StatusGet",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 200,
            "description": "The requested code number.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Code"
          },
          {
            "name": "file",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "jpg",
            "description": "The file type.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "File Type",
            "enum": [
              "jpg",
              "webp",
              "jxl",
              "avif"
            ]
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://http.garden/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://http.garden/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}
