{
  "swagger": "2.0",
  "info": {
    "title": "Expensya",
    "version": "1.0",
    "description": "Expensya is a leading Spend Management solution in Europe, and this connector allows to build on top of our technology, automate integration to third party systems, and extend existing features.",
    "contact": {
      "name": "Expensya",
      "url": "https://www.expensya.com",
      "email": "support@expensya.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.expensya.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.expensya.com/en/tou"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Website"
    }
  ],
  "host": "pubapi.expensya.com",
  "basePath": "/Api.svc",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/expense/{expenseId}/image": {
      "get": {
        "description": "This API returns the image of the expense as Stream. The image can be jpg, jpeg, png or pdf. The type of the image is mentioned in the expense object property \"FileType\".",
        "operationId": "GetExpenseImage",
        "summary": "Get Expense Image",
        "tags": [
          "Image"
        ],
        "parameters": [
          {
            "name": "expenseId",
            "in": "path",
            "description": "Format - guid. Unique identifier of the expense.",
            "x-ms-summary": "Format - guid. Unique identifier of the expense.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/ApiExpenseExpenseIdImageGet200ApplicationJsonResponse"
            }
          },
          "400": {
            "description": "Invalid input."
          },
          "401": {
            "description": "The expensya token is invalid or has expired."
          },
          "403": {
            "description": "The expensya token has no right to get the image."
          },
          "404": {
            "description": "No image was found."
          }
        }
      }
    },
    "/api/export/expenses/{exportId}/": {
      "get": {
        "description": "Export expenses on specified export format based on given filters.",
        "operationId": "ExportExpenses",
        "summary": "Export Expense",
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "exportId",
            "in": "path",
            "description": "Format - guid. Unique identifier of the export.",
            "x-ms-summary": "Format - guid. Unique identifier of the export.",
            "required": true,
            "type": "string"
          },
          {
            "name": "reportId",
            "in": "query",
            "description": "Filter with the unique identifier of the report related to the expenses.",
            "x-ms-summary": "Filter with the unique identifier of the report related to the expenses.",
            "type": "string"
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "Filter with the unique identifier of the category related to the expenses.",
            "x-ms-summary": "Filter with the unique identifier of the category related to the expenses.",
            "type": "string"
          },
          {
            "name": "expenseName",
            "in": "query",
            "description": "Filter with the name of the expense.",
            "x-ms-summary": "Filter with the name of the expense.",
            "type": "string"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Filter with the start date based on dateFilterType (as date-time in RFC3339).",
            "x-ms-summary": "Filter with the start date based on dateFilterType (as date-time in RFC3339).",
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Filter with the end date based on dateFilterType (as date-time in RFC3339).",
            "x-ms-summary": "Filter with the end date based on dateFilterType (as date-time in RFC3339).",
            "type": "string"
          },
          {
            "name": "expenseStates",
            "in": "query",
            "description": "List of expenses state seperated by ',' : Validated = 3 ValidatedByAccountant = 4 Rejected = 99.",
            "x-ms-summary": "List of expenses state seperated by ','",
            "type": "string"
          },
          {
            "name": "reportStates",
            "in": "query",
            "description": "List of reports state related to the expenses seperated by ',' : Active = 0 Submitted = 2 Rejected = 3 Validated = 4 Closed = 5 ValidatedAndExported = 6",
            "x-ms-summary": "List of reports state related to the expenses seperated by ','",
            "type": "string"
          },
          {
            "name": "userIds",
            "in": "query",
            "description": "List of unique identifiers of the expenses' owners seperated by ','.",
            "x-ms-summary": "List of unique identifiers of the expenses' owners seperated by ','.",
            "type": "string"
          },
          {
            "name": "userMail",
            "in": "query",
            "description": "List of e-mails of the expenses' owners seperated by ','.",
            "x-ms-summary": "List of e-mails of the expenses' owners seperated by ','.",
            "type": "string"
          },
          {
            "name": "reportIds",
            "in": "query",
            "description": "List of unique identifiers of the reports related tp expenses by ','.",
            "x-ms-summary": "List of unique identifiers of the reports related tp expenses by ','.",
            "type": "string"
          },
          {
            "name": "expenseIds",
            "in": "query",
            "description": "List of unique identifiers of the expense seperated by ','.",
            "x-ms-summary": "List of unique identifiers of the expense seperated by ','.",
            "type": "string"
          },
          {
            "name": "reportName",
            "in": "query",
            "description": "Filter with the report name related to the expenses.",
            "x-ms-summary": "Filter with the report name related to the expenses.",
            "type": "string"
          },
          {
            "name": "reportIdShort",
            "in": "query",
            "description": "Filter with the internal identifier of the expenses' report. ",
            "x-ms-summary": "Filter with the internal identifier of the expenses' report. ",
            "type": "string"
          },
          {
            "name": "dateFilterType",
            "in": "query",
            "description": "Format - enum. Indicates the target of date filters: InvoiceDate = 1 ValidationDate = 2 AccountingValidationDate = 3 SubmissionDate = 4 CreationDate = 6.",
            "x-ms-summary": "Format - enum. Indicates the target of date filters.",
            "type": "integer"
          },
          {
            "name": "payId",
            "in": "query",
            "description": "Filter with the serial of the expense's owner.",
            "x-ms-summary": "Filter with the serial of the expense's owner.",
            "type": "string"
          },
          {
            "name": "payId2",
            "in": "query",
            "description": "Filter with the first analytical axis of the owner of the expense.",
            "x-ms-summary": "Filter with the first analytical axis of the owner of the expense.",
            "type": "string"
          },
          {
            "name": "payId3",
            "in": "query",
            "description": "Filter with the second analytical axis of the owner of the expense.",
            "x-ms-summary": "Filter with the second analytical axis of the owner of the expense.",
            "type": "string"
          },
          {
            "name": "accountingPeriod",
            "in": "query",
            "description": "Filter with the accounting period of the expenses.",
            "x-ms-summary": "Filter with the accounting period of the expenses.",
            "type": "string"
          },
          {
            "name": "includeReceipts",
            "in": "query",
            "description": "Indicates if the expenses receipts should be added to the export.",
            "x-ms-summary": "Indicates if the expenses receipts should be added to the export.",
            "type": "boolean"
          },
          {
            "name": "expenseUseTypes",
            "in": "query",
            "description": "List of expense use type seperated by ',' : Invoice = 1 Advance = 2 Purchase = 4 Subscription = 8 MissionOrder = 16.",
            "x-ms-summary": "List of expense use type seperated by ','",
            "type": "integer"
          },
          {
            "name": "archiveExpenses",
            "in": "query",
            "description": "Indicates if the reports related to the expenses will be archived, applied only for expenses related to validated or validatedAndExported reports.",
            "x-ms-summary": "Indicates if the reports related to the expenses will be archived.",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/BaseResultExportResponse"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/export/report/{reportId}/pdf/": {
      "get": {
        "description": "Export report as pdf.",
        "operationId": "PrintMission",
        "summary": "Export Report",
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "Format - guid. Unique identifier of the report.",
            "x-ms-summary": "Format - guid. Unique identifier of the report.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/BaseResultExportResponse"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/exports/": {
      "get": {
        "description": "List of export formats.",
        "operationId": "ExportFormats",
        "summary": "Get Export Formats",
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "isForExpenses",
            "in": "query",
            "description": "Bring only expenses export formats, if false brings report export formats.",
            "x-ms-summary": "Bring only expenses export formats.",
            "type": "boolean"
          },
          {
            "name": "exportType",
            "in": "query",
            "description": "Format - enum. Indicates the type of export: InvoiceAndPurchase = 1 Advance = 2 Balance = 4.",
            "x-ms-summary": "Format - enum. Indicates the type of export.",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/BaseResultListExportFormatResponse"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/projects/": {
      "post": {
        "description": "Add new projects to Expensya.",
        "operationId": "AddProjects",
        "summary": "Add Projects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "addOrUpdateProjectInputArray",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AddOrUpdateProjectInputArray"
            },
            "description": "List of project inputs to add."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/BaseResultListAddOrUpdateEntityResult"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      },
      "put": {
        "description": "Update projects already added to Expensya",
        "operationId": "UpdateProjects",
        "summary": "Update Projects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "addOrUpdateProjectInputArray",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AddOrUpdateProjectInputArray"
            },
            "description": "List of project inputs to update."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/BaseResultListAddOrUpdateEntityResult"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/receipt/": {
      "post": {
        "description": "Add a new expense to your expensya account with a receipt.",
        "operationId": "AddReciept",
        "summary": "Add Reciept",
        "tags": [
          "Expenses"
        ],
        "parameters": [
          {
            "name": "addReceiptInput",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AddReceiptInput"
            },
            "description": "Input of the receipt to add."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/BaseResult"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/revokeUserToken/": {
      "get": {
        "description": "Revoke your user token.",
        "operationId": "RevokeUserToken",
        "summary": "Revoke Token",
        "tags": [
          "Token"
        ],
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/BaseResult"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/v2/{validatorMail}/reports/": {
      "get": {
        "description": "Get the list of validator's reports with paging.",
        "operationId": "ValidatorReports",
        "summary": "Get Validator Reports",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "validatorMail",
            "in": "path",
            "description": "The e-mail of the report's validator.",
            "x-ms-summary": "The e-mail of the report's validator.",
            "required": true,
            "type": "string"
          },
          {
            "name": "reportName",
            "in": "query",
            "description": "Filter with the name of the report.",
            "x-ms-summary": "Filter with the name of the report.",
            "type": "string"
          },
          {
            "name": "reportStartDate",
            "in": "query",
            "description": "Filter with the start date based on dateFilterType. Format - date-time (as date-time in RFC3339).",
            "x-ms-summary": "Filter with the start date based on dateFilterType (as date-time in RFC3339).",
            "type": "string"
          },
          {
            "name": "reportEndDate",
            "in": "query",
            "description": "Filter with the end date based on dateFilterType. Format - date-time (as date-time in RFC3339).",
            "x-ms-summary": "Filter with the end date based on dateFilterType (as date-time in RFC3339).",
            "type": "string"
          },
          {
            "name": "reportStates",
            "in": "query",
            "description": "List of report states seperated by ',' : Active = 0 Submitted = 2 Rejected = 3 Closed = 5 ValidatedAndExported = 6 Reimbursed = 7 PreSubmitted = 8 InValidation = 50.",
            "x-ms-summary": "List of report states seperated by ','.",
            "type": "string"
          },
          {
            "name": "reportIdShort",
            "in": "query",
            "description": "Filter with the report inetrnal identifier.",
            "x-ms-summary": "Filter with the report inetrnal identifier.",
            "type": "string"
          },
          {
            "name": "ownerId",
            "in": "query",
            "description": "Filter with the unique identifier of the report's owner.",
            "x-ms-summary": "Filter with the unique identifier of the report's owner.",
            "type": "string"
          },
          {
            "name": "ownerPayId2",
            "in": "query",
            "description": "Filter with the serial of the report's owner.",
            "x-ms-summary": "Filter with the serial of the report's owner.",
            "type": "string"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Filter with the unique identifier of the project that the report is linked to.",
            "x-ms-summary": "Filter with the unique identifier of the project that the report is linked to.",
            "type": "string"
          },
          {
            "name": "dateFilterType",
            "in": "query",
            "description": "Format - enum. Indicates the target of date filters: InvoiceDate = 1 ValidationDate = 2 AccountingValidationDate = 3 SubmissionDate = 4 PurchaseAccountingValidationDate = 5 CreationDate = 6",
            "x-ms-summary": "Format - enum. Indicates the target of date filters.",
            "type": "integer"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Format - enum. List can be sorted by : DateCreation = 11 StartDate = 13 Name = 20 State = 30 Value = 31 InvoicesCount = 32 InvoicesCount = 32 UserFirstName = 40 UserLastName = 41 Budget = 50 ValueToReimburse = 51 ClientCode = 53 IdShort = 54",
            "x-ms-summary": "Format - enum. List can be sorted by.",
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number.",
            "x-ms-summary": "The page number.",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of elements per page.",
            "x-ms-summary": "The number of elements per page.",
            "type": "integer"
          },
          {
            "name": "isDesc",
            "in": "query",
            "description": "Order the list by desc or asc.",
            "x-ms-summary": "Order the list by desc or asc.",
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/ListAndPagesCountResultReportResponse"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/v2/categories/": {
      "get": {
        "description": "Get the list of categories with paging.",
        "operationId": "GetCategoriesV2",
        "summary": "Get Categories",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Filter with the unique identifier of the category.",
            "x-ms-summary": "Filter with the unique identifier of the category.",
            "type": "string"
          },
          {
            "name": "categoryName",
            "in": "query",
            "description": "Filter with the category name.",
            "x-ms-summary": "Filter with the category name.",
            "type": "string"
          },
          {
            "name": "costAccount",
            "in": "query",
            "description": "Filter with the unique identifier of the category.",
            "x-ms-summary": "Filter with the unique identifier of the category.",
            "type": "string"
          },
          {
            "name": "vatAccount",
            "in": "query",
            "description": "Filter with the unique identifier of the category.",
            "x-ms-summary": "Filter with the unique identifier of the category.",
            "type": "string"
          },
          {
            "name": "isActive",
            "in": "query",
            "description": "Bring only active categories.",
            "x-ms-summary": "Bring only active categories.",
            "type": "boolean"
          },
          {
            "name": "tagsNames",
            "in": "query",
            "description": "List of tags' names seperated by ','.",
            "x-ms-summary": "List of tags' names seperated by ','.",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number.",
            "x-ms-summary": "The page number.",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of elements per page.",
            "x-ms-summary": "The number of elements per page.",
            "type": "integer"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Format - enum. List can be sorted by : Name_FR = 5, Name_EN = 10, CostAccount = 15, IsActive = 20, VatAccount = 25",
            "x-ms-summary": "Format - enum. List can be sorted by.",
            "type": "integer"
          },
          {
            "name": "isDesc",
            "in": "query",
            "description": "Order the list by desc or asc.",
            "x-ms-summary": "Order the list by desc or asc.",
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/ListAndPagesCountResultCategoryResponse"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/v2/expenses/": {
      "get": {
        "description": "Get the list of expenses with paging.",
        "operationId": "GetExpensesWithPagingV2",
        "summary": "Get Expenses",
        "tags": [
          "Expenses"
        ],
        "parameters": [
          {
            "name": "reportId",
            "in": "query",
            "description": "Filter with the unique report identifier related to the expense.",
            "x-ms-summary": "Filter with the unique report identifier related to the expense.",
            "type": "string"
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "Filter with the unique category identifier related to the expense.",
            "x-ms-summary": "Filter with the unique category identifier related to the expense.",
            "type": "string"
          },
          {
            "name": "expenseName",
            "in": "query",
            "description": "Filter with the name of the expense.",
            "x-ms-summary": "Filter with the name of the expense.",
            "type": "string"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Filter with the start date based on dateFilterType. Format - date-time (as date-time in RFC3339).",
            "x-ms-summary": "Filter with the start date based on dateFilterType (as date-time in RFC3339).",
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Filter with the end date based on dateFilterType. Format - date-time (as date-time in RFC3339).",
            "x-ms-summary": "Filter with the end date based on dateFilterType (as date-time in RFC3339).",
            "type": "string"
          },
          {
            "name": "reportState",
            "in": "query",
            "description": "Format - enum. State of the expense's report.",
            "x-ms-summary": "Format - enum. State of the expense's report.",
            "type": "integer"
          },
          {
            "name": "expenseStates",
            "in": "query",
            "description": "List Of expenseStates seperated by ',' : Uploading = 0 Uploaded = 1 Ready = 2 Validated = 3 ValidatedByAccountant = 4 Rejected = 99.",
            "x-ms-summary": "List Of expenseStates seperated by ','",
            "type": "string"
          },
          {
            "name": "isReimbusable",
            "in": "query",
            "description": "Shows if the expense is to reimburse.",
            "x-ms-summary": "Shows if the expense is to reimburse.",
            "type": "boolean"
          },
          {
            "name": "valueInCurrency",
            "in": "query",
            "description": "Filter with the value in currency of the owner of the expense.",
            "x-ms-summary": "Filter with the value in currency of the owner of the expense.",
            "type": "number"
          },
          {
            "name": "ownerId",
            "in": "query",
            "description": "Filter with the unique owner identifier of the expense.",
            "x-ms-summary": "Filter with the unique owner identifier of the expense.",
            "type": "string"
          },
          {
            "name": "ownerMail",
            "in": "query",
            "description": "Filter with the mail of the expense.",
            "x-ms-summary": "Filter with the mail of the expense.",
            "type": "string"
          },
          {
            "name": "ownerPayId",
            "in": "query",
            "description": "Filter with the serial of the expense's owner.",
            "x-ms-summary": "Filter with the serial of the expense's owner.",
            "type": "string"
          },
          {
            "name": "ownerPayId2",
            "in": "query",
            "description": "Filter with the first analytical axis of the owner of the expense.",
            "x-ms-summary": "Filter with the first analytical axis of the owner of the expense.",
            "type": "string"
          },
          {
            "name": "ownerPayId3",
            "in": "query",
            "description": "Filter with the second analytical axis of the owner of the expense.",
            "x-ms-summary": "Filter with the second analytical axis of the owner of the expense.",
            "type": "string"
          },
          {
            "name": "ownerPayId4",
            "in": "query",
            "description": "Filter with the third analytical axis of the owner of the expense.",
            "x-ms-summary": "Filter with the third analytical axis of the owner of the expense.",
            "type": "string"
          },
          {
            "name": "ownerPayId5",
            "in": "query",
            "description": "Filter with the fourth analytical axis of the owner of the expense.",
            "x-ms-summary": "Filter with the fourth analytical axis of the owner of the expense.",
            "type": "string"
          },
          {
            "name": "ownerPayId6",
            "in": "query",
            "description": "Filter with the fifth analytical axis of the owner of the expense.",
            "x-ms-summary": "Filter with fifth analytical axis of the owner of the expense.",
            "type": "string"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Filter with the unique project identifier related to the expense.",
            "x-ms-summary": "Filter with the unique project identifier related to the expense.",
            "type": "string"
          },
          {
            "name": "isBillable",
            "in": "query",
            "description": "Shows if the expense is billable to client.",
            "x-ms-summary": "Shows if the expense is billable to client.",
            "type": "boolean"
          },
          {
            "name": "dateFilterType",
            "in": "query",
            "description": "Format - enum. Indicates the target of date filters: InvoiceDate = 1 ValidationDate = 2 AccountingValidationDate = 3 SubmissionDate = 4 CreationDate = 6.",
            "x-ms-summary": "Format - enum. Indicates the target of date filters.",
            "type": "integer"
          },
          {
            "name": "merchantCountries",
            "in": "query",
            "description": "List of merchant countries related to the expense seperated by ',' ex: 'FR,ES'",
            "x-ms-summary": "List of merchant countries related to the expense seperated by ',' ex: 'FR,ES'",
            "type": "string"
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "List of currencies related to the expense seperated by ',' ex: 'EUR,USD'",
            "x-ms-summary": "List of currencies related to the expense seperated by ',' ex: 'EUR,USD'",
            "type": "string"
          },
          {
            "name": "fileType",
            "in": "query",
            "description": "Filter with the file type of the expense : pdf, jpg ...",
            "x-ms-summary": "Filter with the file type of the expense : pdf, jpg ...",
            "type": "string"
          },
          {
            "name": "reportIdShort",
            "in": "query",
            "description": "Filter with the internal identifier of the expenses' report.",
            "x-ms-summary": "Filter with the internal identifier of the expenses' report.",
            "type": "string"
          },
          {
            "name": "expenseUseTypes",
            "in": "query",
            "description": "List of expense use types seperated by ',' : Invoice = 1 Advance = 2 Purchase = 4 Subscription = 8 MissionOrder = 16.",
            "x-ms-summary": "List of expense use types seperated by ','.",
            "type": "string"
          },
          {
            "name": "supplierId",
            "in": "query",
            "description": "Filter with the unique supplier identifier of the expense.",
            "x-ms-summary": "Filter with the unique supplier identifier of the expense.",
            "type": "string"
          },
          {
            "name": "expenseIds",
            "in": "query",
            "description": "List of unique identifiers of the expense seperated by ','.",
            "x-ms-summary": "List of unique identifiers of the expense seperated by ','.",
            "type": "string"
          },
          {
            "name": "merchantName",
            "in": "query",
            "description": "Filter with the merchant name of the expense.",
            "x-ms-summary": "Filter with the merchant name of the expense.",
            "type": "string"
          },
          {
            "name": "vatCode",
            "in": "query",
            "description": "Filter with the merchant VAT number of the expense.",
            "x-ms-summary": "Filter with the merchant VAT number of the expense.",
            "type": "string"
          },
          {
            "name": "valueHTInExpenseCurrency",
            "in": "query",
            "description": "Filter with excluding tax amount of the expense.",
            "x-ms-summary": "Filter with excluding tax amount of the expense.",
            "type": "number"
          },
          {
            "name": "vatRate",
            "in": "query",
            "description": "Filter with VAT rate of the expense.",
            "x-ms-summary": "Filter with VAT rate of the expense.",
            "type": "number"
          },
          {
            "name": "vatValue",
            "in": "query",
            "description": "Filter with VAT value of the expense.",
            "x-ms-summary": "Filter with VAT value of the expense.",
            "type": "number"
          },
          {
            "name": "reportsIds",
            "in": "query",
            "description": "List of unique reports' identifiers related to the expense seperated by ','.",
            "x-ms-summary": "List of unique reports' identifiers related to the expense seperated by ','.",
            "type": "string"
          },
          {
            "name": "dateTimeOffset",
            "in": "query",
            "description": "Filter with the UTC offset of the expense.",
            "x-ms-summary": "Filter with the UTC offset of the expense.",
            "type": "integer"
          },
          {
            "name": "tagsNames",
            "in": "query",
            "description": "List of tags' names seperated by ','.",
            "x-ms-summary": "List of tags' names seperated by ','.",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number.",
            "x-ms-summary": "The page number.",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of elements per page.",
            "x-ms-summary": "The number of elements per page.",
            "type": "integer"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Format - enum. List can be sorted by : DateCreation = 11 DateInvoice = 12 Name = 20 Value = 30 ValueInCurrency = 31 HasPhoto = 40 State = 60 Category = 70.",
            "x-ms-summary": "Format - enum. List can be sorted by.",
            "type": "integer"
          },
          {
            "name": "isDesc",
            "in": "query",
            "description": "Order the list by desc or asc.",
            "x-ms-summary": "Order the list by desc or asc.",
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/ListAndPagesCountResultExpenseResponse"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/v2/project/{projectId}/": {
      "get": {
        "description": "Get the details of the project.",
        "operationId": "GetProjectDetailsV2",
        "summary": "Get Project Details",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Format - guid. Unique identifier of the project.",
            "x-ms-summary": "Format - guid. Unique identifier of the project.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/BaseResultProjectResponse"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/v2/projects/": {
      "get": {
        "description": "Get the list of projects.",
        "operationId": "GetProjectsV2",
        "summary": "Get Projects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "projectName",
            "in": "query",
            "description": "Filter with the name of the project.",
            "x-ms-summary": "Filter with the name of the project.",
            "type": "string"
          },
          {
            "name": "projectIds",
            "in": "query",
            "description": "List of unique projects' identifiers seperated by ','.",
            "x-ms-summary": "List of unique projects' identifiers seperated by ','.",
            "type": "string"
          },
          {
            "name": "validatorName",
            "in": "query",
            "description": "Filter with the name of the project validator.",
            "x-ms-summary": "Filter with the name of the project validator.",
            "type": "string"
          },
          {
            "name": "projectReferenceOrExternalId",
            "in": "query",
            "description": "Filter with the reference or the external id of the project.",
            "x-ms-summary": "Filter with the reference or the external id of the project.",
            "type": "string"
          },
          {
            "name": "bringAllProjects",
            "in": "query",
            "description": "Bring the projects that are not shared with all employees.",
            "x-ms-summary": "Bring the projects that are not shared with all employees.",
            "type": "boolean"
          },
          {
            "name": "projectUseType",
            "in": "query",
            "description": "Format - enum. Project use type flag: Invoice = 0x1 Purchase = 0x2 Subscription = 0x4 Advance = 0x8 MissionOrder = 0x10 MileageOnly = 0x20 InvoiceOnly = 0x40 VirtualCard = 0x80.",
            "x-ms-summary": "Format - enum. Project use type flag.",
            "type": "integer"
          },
          {
            "name": "isActive",
            "in": "query",
            "description": "Bring only active projects.",
            "x-ms-summary": "Bring only active projects.",
            "type": "boolean"
          },
          {
            "name": "tagsNames",
            "in": "query",
            "description": "List of tags' names seperated by ','.",
            "x-ms-summary": "List of tags' names seperated by ','.",
            "type": "string"
          },
          {
            "name": "customFieldsIds",
            "in": "query",
            "description": "List of unique custom fields' identifiers seperated by ','.",
            "x-ms-summary": "List of unique custom fields' identifiers seperated by ','.",
            "type": "string"
          },
          {
            "name": "expenseDate",
            "in": "query",
            "description": "The date of the expense. Format - date-time (as date-time in RFC3339).",
            "x-ms-summary": "The date of the expense. Format - date-time (as date-time in RFC3339).",
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "Filter with the unique identifier of expense's owner.",
            "x-ms-summary": "Filter with the unique identifier of expense's owner.",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number.",
            "x-ms-summary": "The page number.",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of elements per page.",
            "x-ms-summary": "The number of elements per page.",
            "type": "integer"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Format - enum. Sort the list by : StartDate = 11 EndDate = 12 Name = 20 ProjectRef = 21 FullName = 22 Validator = 23 ClientName = 24 Value = 25.",
            "x-ms-summary": "Format - enum. Sort the list by.",
            "type": "integer"
          },
          {
            "name": "isDesc",
            "in": "query",
            "description": "Order the list by desc or asc.",
            "x-ms-summary": "Order the list by desc or asc.",
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/ListAndPagesCountResultProjectResponse"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/v2/projects/states/": {
      "put": {
        "description": "Batch update list of projects state.",
        "operationId": "UpdateProjectStateV2",
        "summary": "Update Projects State",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "updateProjectStateInput",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/UpdateProjectStateInput"
            },
            "description": "List of project state inputs to update."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/BaseResultListAddOrUpdateEntityResult"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/v2/quickexpense/{userId}/": {
      "post": {
        "description": "Add a new expense to your expensya account.",
        "operationId": "AddQuickExpenseV2",
        "summary": "Add QuickExpense",
        "tags": [
          "Expenses"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Format - guid. Unique identifier of the user that expense will be linked to.",
            "x-ms-summary": "Format - guid. Unique identifier of the user that expense will be linked to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "quickExpenseInput",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/QuickExpenseInput"
            },
            "description": "Input of the quick expense."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/BaseResult"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/v2/refreshUserToken/": {
      "get": {
        "description": "Refresh your userToken.",
        "operationId": "RefreshUserTokenV2",
        "summary": "Refresh Token",
        "tags": [
          "Token"
        ],
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/v2/report/{reportId}/updateStatus/": {
      "put": {
        "description": "Update the statuts of the report.",
        "operationId": "UpdateReportStatus",
        "summary": "Update Report Status",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "Format - guid. Unique identifier of the report.",
            "x-ms-summary": "Format - guid. Unique identifier of the report.",
            "required": true,
            "type": "string"
          },
          {
            "name": "reportUpdateStatusInput",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ReportUpdateStatusInput"
            },
            "description": "Input of the report status to update."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/BaseResult"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/v2/report/history/": {
      "get": {
        "description": "Get the history of the report.",
        "operationId": "GetReportHistoryV2",
        "summary": "Get Report History",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "reportId",
            "in": "query",
            "description": "Filter with the unique Identifier of the report.",
            "x-ms-summary": "Filter with the unique Identifier of the report.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/BaseResultListEventResponse"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/v2/reports/": {
      "get": {
        "description": "Get the list of reports with paging.",
        "operationId": "CompanyReports",
        "summary": "Get Reports",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Filter with the name of the report.",
            "x-ms-summary": "Filter with the name of the report.",
            "type": "string"
          },
          {
            "name": "reportStartDate",
            "in": "query",
            "description": "Filter with the start date based on dateFilterType. Format - date-time (as date-time in RFC3339).",
            "x-ms-summary": "Filter with the start date based on dateFilterType (as date-time in RFC3339).",
            "type": "string"
          },
          {
            "name": "reportEndDate",
            "in": "query",
            "description": "Filter with the end date based on dateFilterType. Format - date-time (as date-time in RFC3339).",
            "x-ms-summary": "Filter with the end date based on dateFilterType (as date-time in RFC3339).",
            "type": "string"
          },
          {
            "name": "reportStates",
            "in": "query",
            "description": "List of report states seperated by ',' : Active = 0 Submitted = 2 Rejected = 3 Closed = 5 ValidatedAndExported = 6 Reimbursed = 7 PreSubmitted = 8 InValidation = 50.",
            "x-ms-summary": "List of report states seperated by ','.",
            "type": "string"
          },
          {
            "name": "reportIdShort",
            "in": "query",
            "description": "Filter with the report inetrnal identifier.",
            "x-ms-summary": "Filter with the report inetrnal identifier.",
            "type": "string"
          },
          {
            "name": "ownerId",
            "in": "query",
            "description": "Filter with the unique identifier of the report's owner.",
            "x-ms-summary": "Filter with the unique identifier of the report's owner.",
            "type": "string"
          },
          {
            "name": "ownerPayId2",
            "in": "query",
            "description": "Filter with the serial of the report's owner.",
            "x-ms-summary": "Filter with the serial of the report's owner.",
            "type": "string"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Filter with the unique identifier of the project that the report is linked to.",
            "x-ms-summary": "Filter with the unique identifier of the project that the report is linked to.",
            "type": "string"
          },
          {
            "name": "tagsNames",
            "in": "query",
            "description": "List of tags' names seperated by ','.",
            "x-ms-summary": "List of tags' names seperated by ','.",
            "type": "string"
          },
          {
            "name": "dateFilterType",
            "in": "query",
            "description": "Format - enum. Indicates the target of date filters: InvoiceDate = 1 ValidationDate = 2 AccountingValidationDate = 3 SubmissionDate = 4 PurchaseAccountingValidationDate = 5 CreationDate = 6",
            "x-ms-summary": "Format - enum. Indicates the target of date filters.",
            "type": "integer"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Format - enum. List can be sorted by : DateCreation = 11 StartDate = 13 Name = 20 State = 30 Value = 31 InvoicesCount = 32 InvoicesCount = 32 UserFirstName = 40 UserLastName = 41 Budget = 50 ValueToReimburse = 51 ClientCode = 53 IdShort = 54",
            "x-ms-summary": "Format - enum. List can be sorted by.",
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number.",
            "x-ms-summary": "The page number.",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of elements per page.",
            "x-ms-summary": "The number of elements per page.",
            "type": "integer"
          },
          {
            "name": "isDesc",
            "in": "query",
            "description": "Order the list by desc or asc.",
            "x-ms-summary": "Order the list by desc or asc.",
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/ListAndPagesCountResultReportResponse"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/v2/user/": {
      "post": {
        "description": "Add user to Expensya.",
        "operationId": "InviteUserV2",
        "summary": "Invite User",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userInviteInput",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/UserInviteInput"
            },
            "description": "Input of the user to invite."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/BaseResult"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/v2/user/{userId}/": {
      "put": {
        "description": "Update user already added in Expensya.",
        "operationId": "UpateUserV2",
        "summary": "Update User",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Format - guid. Unique identifier of the user to update.",
            "x-ms-summary": "Format - guid. Unique identifier of the user to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shouldUpdateValidators",
            "in": "query",
            "description": "Shows if the validators of the user should be updated or not.",
            "x-ms-summary": "Shows if the validators of the user should be updated or not.",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "userUpdateInput",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/UserUpdateInput"
            },
            "description": "Input of the user to update."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/BaseResult"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/v2/users/": {
      "get": {
        "description": "Get the list of users with paging.",
        "operationId": "CompanyUsers",
        "summary": "Get Users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Filter with the unique identifier of the user.",
            "x-ms-summary": "Filter with the unique identifier of the user.",
            "type": "string"
          },
          {
            "name": "firstName",
            "in": "query",
            "description": "Filter with the first name of the user.",
            "x-ms-summary": "Filter with the first name of the user.",
            "type": "string"
          },
          {
            "name": "lastName",
            "in": "query",
            "description": "Filter with the last name of the user.",
            "x-ms-summary": "Filter with the last name of the user.",
            "type": "string"
          },
          {
            "name": "mail",
            "in": "query",
            "description": "Filter with the mail of the user.",
            "x-ms-summary": "Filter with the mail of the user.",
            "type": "string"
          },
          {
            "name": "payId",
            "in": "query",
            "description": "Filter with the serial the user.",
            "x-ms-summary": "Filter with the serial the user.",
            "type": "string"
          },
          {
            "name": "mailOrNameOrPayId",
            "in": "query",
            "description": "Filter with the mail or name or serial of the user.",
            "x-ms-summary": "Filter with the mail or name or serial of the user.",
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Format - enum. Enum flag attribute which is the type of the user : Employee = 1 Administrator = 2 Accountant = 4",
            "x-ms-summary": "Format - enum. Enum flag attribute which is the type of the user.",
            "type": "integer"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Format - enum. Enum flag attribute which is the user state : Validated = 1 Active = 2.",
            "x-ms-summary": "Format - enum. Enum flag attribute which is the user state.",
            "type": "integer"
          },
          {
            "name": "reviewerId",
            "in": "query",
            "description": "Filter with the unique identifier of the user's first validator.",
            "x-ms-summary": "Filter with the unique identifier of the user's first validator.",
            "type": "string"
          },
          {
            "name": "reviewerName",
            "in": "query",
            "description": "Filter with the name of the user's reviwer.",
            "x-ms-summary": "Filter with the name of the user's reviwer.",
            "type": "string"
          },
          {
            "name": "managerId",
            "in": "query",
            "description": "Filter with the unique identifier of the user's second validator.",
            "x-ms-summary": "Filter with the unique identifier of the user's second validator.",
            "type": "string"
          },
          {
            "name": "managerName",
            "in": "query",
            "description": "Filter with the name of the user's manager.",
            "x-ms-summary": "Filter with the name of the user's manager.",
            "type": "string"
          },
          {
            "name": "userIds",
            "in": "query",
            "description": "List of unique identifiers of the users seperated by ','.",
            "x-ms-summary": "List of unique identifiers of the users seperated by ','.",
            "type": "string"
          },
          {
            "name": "userMails",
            "in": "query",
            "description": "List of e-mails of the users seperated by ','.",
            "x-ms-summary": "List of e-mails of the users seperated by ','.",
            "type": "string"
          },
          {
            "name": "tagsNames",
            "in": "query",
            "description": "List of tags' names seperated by ','.",
            "x-ms-summary": "List of tags' names seperated by ','.",
            "type": "string"
          },
          {
            "name": "simpleTagsNames",
            "in": "query",
            "description": "List of simple tags' names seperated by ','.",
            "x-ms-summary": "List of simple tags' names seperated by ','.",
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Format - enum. List can be sorted by : CreationDate = 11 LastLoginDate = 12 LastName = 20 FirstName = 21 ManagerLastName = 30 ManagerFirstName = 31 UserState = 40 UserType = 41 Mail = 50 Address = 60 PhoneNumber = 61 PayId = 62 LocalCurrency = 63",
            "x-ms-summary": "Format - enum. List can be sorted by.",
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number.",
            "x-ms-summary": "The page number.",
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of elements per page.",
            "x-ms-summary": "The number of elements per page.",
            "type": "integer"
          },
          {
            "name": "isDesc",
            "in": "query",
            "description": "Order the list by desc or asc.",
            "x-ms-summary": "Order the list by desc or asc.",
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/ListAndPagesCountResultUserResponse"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/v2/users/state/": {
      "put": {
        "description": "Update expensya users status.",
        "operationId": "UpdateUsersStateV2",
        "summary": "Update Users Status",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "updateUserStateInputArray",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/UpdateUserStateInputArray"
            },
            "description": "List of user state inputs to update."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "schema": {
              "$ref": "#/definitions/BaseResultListUpdateUserResult"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    }
  },
  "definitions": {
    "BrokenRule": {
      "properties": {
        "Id": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        },
        "Name": {
          "type": "string",
          "uniqueItems": false
        },
        "Description": {
          "type": "string",
          "uniqueItems": false
        },
        "DescriptionForCredit": {
          "type": "string",
          "uniqueItems": false
        },
        "Budget": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "RuleType": {
          "description": "\r\n\r\n    Mandatory = 0 \r\n    Warning = 1 \r\n    ReimbursableByCeiling = 2 \r\n    ReimbursableByFlatRate = 3 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        },
        "Currency": {
          "type": "string",
          "uniqueItems": false
        },
        "AllowExceptions": {
          "type": "boolean",
          "uniqueItems": false
        },
        "RuleElementType": {
          "description": "\r\n\r\n    Invoices = 0 \r\n    VirtualCards = 1 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        },
        "IntervalType": {
          "description": "\r\n\r\n    Day = 0 \r\n    WeekDays = 1 \r\n    Month = 2 \r\n    Year = 3 \r\n    Invoice = 4 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        },
        "Language": {
          "type": "string",
          "uniqueItems": false
        },
        "RuleCurrenciesWithBudget": {
          "$ref": "#/definitions/TupleStringDecimal"
        },
        "ForAllCompany": {
          "type": "boolean",
          "uniqueItems": false
        }
      },
      "type": "object",
      "format": "BrokenRule"
    },
    "Category": {
      "properties": {
        "Name": {
          "type": "string",
          "uniqueItems": false
        },
        "Name_EN": {
          "type": "string",
          "uniqueItems": false
        },
        "Name_FR": {
          "type": "string",
          "uniqueItems": false
        },
        "EntityName": {
          "type": "string",
          "uniqueItems": false
        },
        "Parent": {
          "type": "string",
          "uniqueItems": false
        },
        "Description": {
          "type": "string",
          "uniqueItems": false
        },
        "PrimitiveCategories": {
          "type": "string",
          "uniqueItems": false
        },
        "ParentCategory_Id": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        },
        "Icon": {
          "type": "string",
          "uniqueItems": false
        },
        "IsActive": {
          "type": "boolean",
          "uniqueItems": false
        },
        "IsActiveAsDefault": {
          "type": "boolean",
          "uniqueItems": false
        },
        "FieldsStatesStr": {
          "type": "string",
          "uniqueItems": false
        },
        "ReimbursementRatesStr": {
          "type": "string",
          "uniqueItems": false
        },
        "CostAccount": {
          "type": "string",
          "uniqueItems": false
        },
        "VatAccount": {
          "type": "string",
          "uniqueItems": false
        },
        "ExtraData": {
          "type": "string",
          "uniqueItems": false
        },
        "CreationDate": {
          "type": "string",
          "format": "date-time",
          "uniqueItems": false
        },
        "VatClaimRate": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "VatAccountsByRateStr": {
          "type": "string",
          "uniqueItems": false
        },
        "AccountingModelCategory_Id": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        },
        "ExtraLanguagesStr": {
          "type": "string",
          "uniqueItems": false
        },
        "SpecialFieldsStr": {
          "type": "string",
          "uniqueItems": false
        },
        "CategoryUseType": {
          "description": "\r\n\r\n    Invoices = 1 \r\n    Purchases = 2 \r\n    Subscriptions = 4 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        },
        "VatClaimRatesStr": {
          "type": "string",
          "uniqueItems": false
        },
        "ExternalId": {
          "type": "string",
          "uniqueItems": false
        },
        "IsSpecial": {
          "type": "boolean",
          "uniqueItems": false
        },
        "IconName": {
          "type": "string",
          "uniqueItems": false
        },
        "Id": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        },
        "SyncVersion": {
          "type": "integer",
          "format": "int64",
          "uniqueItems": false
        },
        "CreationVersion": {
          "type": "integer",
          "format": "int64",
          "uniqueItems": false
        },
        "SyncState": {
          "description": "\r\n\r\n    AddLocal = 0 \r\n    DeleteLocal = 1 \r\n    Sync = 3 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        },
        "MileagePrimitiveCategory": {
          "type": "string",
          "uniqueItems": false
        }
      },
      "type": "object",
      "format": "Category"
    },
    "DuplicatedInvoiceDetails": {
      "properties": {
        "InvoiceId": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        },
        "UserId": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        },
        "InvoiceName": {
          "type": "string",
          "uniqueItems": false
        },
        "UserFirstName": {
          "type": "string",
          "uniqueItems": false
        },
        "UserLastName": {
          "type": "string",
          "uniqueItems": false
        },
        "MissionId": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        }
      },
      "type": "object",
      "format": "DuplicatedInvoiceDetails"
    },
    "ExtendedInvoice": {
      "properties": {
        "Project": {
          "$ref": "#/definitions/Project"
        },
        "Mission": {
          "$ref": "#/definitions/ExtendedMission"
        },
        "PaymentInstrument": {
          "$ref": "#/definitions/PaymentInstrument"
        },
        "IsOwner": {
          "type": "boolean",
          "uniqueItems": false
        },
        "LogInvoiceAttributes": {
          "$ref": "#/definitions/HistoryAttributes"
        },
        "User_Id": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        },
        "CanEdit": {
          "type": "boolean",
          "uniqueItems": false
        },
        "LocalCurrency": {
          "type": "string",
          "uniqueItems": false
        },
        "IsAllowedToUse": {
          "type": "boolean",
          "uniqueItems": false
        },
        "BrokenRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BrokenRule"
          },
          "uniqueItems": false
        },
        "Duplicates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DuplicatedInvoiceDetails"
          },
          "uniqueItems": false
        },
        "Supplier": {
          "$ref": "#/definitions/SupplierInDb"
        },
        "Vehicle": {
          "$ref": "#/definitions/Vehicle"
        },
        "TransactionsSumValue": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "TransactionsSumInCurrency": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "TransactionsSumInLocalCurrency": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "Tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "uniqueItems": false
        },
        "PerdiemCountry": {
          "type": "string",
          "uniqueItems": false
        },
        "PerdiemCalculationPeriodType": {
          "description": "\r\n\r\n    CalendarDay = 0 \r\n    TwentyFourHours = 1 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        },
        "PerDiemType": {
          "description": "\r\n\r\n    Time = 0 \r\n    Distance = 1 \r\n    IEG = 2 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        },
        "RawOcrResult": {
          "type": "string",
          "uniqueItems": false
        },
        "GuestsCount": {
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "FullUnits": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "ValueStr": {
          "type": "string",
          "uniqueItems": false
        },
        "ValueStrWithCurrency": {
          "type": "string",
          "uniqueItems": false
        },
        "ValueInLocalCurrencyStr": {
          "type": "string",
          "uniqueItems": false
        },
        "ValueInLocalCurrencyStrWithLocalCurrency": {
          "type": "string",
          "uniqueItems": false
        },
        "ValueInCurrencyStr": {
          "type": "string",
          "uniqueItems": false
        },
        "ValueInCurrencyStrWithCurrency": {
          "type": "string",
          "uniqueItems": false
        },
        "OwnerFirstName": {
          "type": "string",
          "uniqueItems": false
        },
        "OwnerPayId": {
          "type": "string",
          "uniqueItems": false
        },
        "OwnerPayId2": {
          "type": "string",
          "uniqueItems": false
        },
        "OwnerPayId3": {
          "type": "string",
          "uniqueItems": false
        },
        "OwnerPayId4": {
          "type": "string",
          "uniqueItems": false
        },
        "OwnerPayId5": {
          "type": "string",
          "uniqueItems": false
        },
        "OwnerPayId6": {
          "type": "string",
          "uniqueItems": false
        },
        "UserState": {
          "description": "\r\n\r\n    None = 0 \r\n    Validated = 1 \r\n    Active = 2 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        },
        "OwnerLocalCountry": {
          "type": "string",
          "uniqueItems": false
        },
        "OwnerConfigurationSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyValuePairStringString"
          },
          "uniqueItems": false
        },
        "OwnerValidationSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyValuePairStringString"
          },
          "uniqueItems": false
        },
        "OwnerLastName": {
          "type": "string",
          "uniqueItems": false
        },
        "OwnerLocalCurrency": {
          "type": "string",
          "uniqueItems": false
        },
        "OwnerFullName": {
          "type": "string",
          "uniqueItems": false
        },
        "OwnerExternalUserType": {
          "description": "\r\n\r\n    None = 0 \r\n    FromBackend = 1 \r\n    FromPartner = 2 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        },
        "CountryAndCity": {
          "type": "string",
          "uniqueItems": false
        },
        "DateInvoiceStr": {
          "type": "string",
          "uniqueItems": false
        },
        "DateCreationStr": {
          "type": "string",
          "uniqueItems": false
        },
        "IsReadOnly": {
          "type": "boolean",
          "uniqueItems": false
        },
        "IsMissionReadOnly": {
          "type": "boolean",
          "uniqueItems": false
        },
        "StateStr": {
          "type": "string",
          "uniqueItems": false
        },
        "ReadOnlyReason": {
          "type": "string",
          "uniqueItems": false
        },
        "TooltipStateStr": {
          "type": "string",
          "uniqueItems": false
        },
        "StateColor": {
          "$ref": "#/definitions/Object"
        },
        "IsPerDiem": {
          "type": "boolean",
          "uniqueItems": false
        },
        "TruncatedName": {
          "type": "string",
          "uniqueItems": false
        },
        "IsValueInCurrencyUpdated": {
          "type": "boolean",
          "uniqueItems": false
        },
        "IsValueToReimburseUpdated": {
          "type": "boolean",
          "uniqueItems": false
        },
        "Category": {
          "$ref": "#/definitions/Category"
        },
        "IsMileage": {
          "type": "boolean",
          "uniqueItems": false
        },
        "UseType": {
          "description": "\r\n\r\n    Invoice = 1 \r\n    Advance = 2 \r\n    Purchase = 4 \r\n    Subscription = 8 \r\n    MissionOrder = 16 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        },
        "Name": {
          "type": "string",
          "uniqueItems": false
        },
        "Value": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "ValueToReimburse": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "ValueToReimburseComputed": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "ReimbursementRate": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "Description": {
          "type": "string",
          "uniqueItems": false
        },
        "InvoiceQuality": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "PaymentInstrument_Id": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        },
        "Mission_Id": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        },
        "Category_Id": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        },
        "DateCreation": {
          "type": "string",
          "format": "date-time",
          "uniqueItems": false
        },
        "DateInvoice": {
          "type": "string",
          "format": "date-time",
          "uniqueItems": false
        },
        "DateUtcOffset": {
          "type": "number",
          "format": "double",
          "uniqueItems": false
        },
        "DateInvoiceSortableStr": {
          "type": "string",
          "uniqueItems": false
        },
        "PhotoVersion": {
          "type": "integer",
          "format": "int64",
          "uniqueItems": false
        },
        "HasPhoto": {
          "type": "boolean",
          "uniqueItems": false
        },
        "Currency": {
          "type": "string",
          "uniqueItems": false
        },
        "ValueInCurrency": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "ValueInLocalCurrency": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "MerchantInvoiceId": {
          "type": "string",
          "uniqueItems": false
        },
        "MerchantCountry": {
          "type": "string",
          "uniqueItems": false
        },
        "MerchantCity": {
          "type": "string",
          "uniqueItems": false
        },
        "MerchantZipCode": {
          "type": "string",
          "uniqueItems": false
        },
        "MerchantAddress": {
          "type": "string",
          "uniqueItems": false
        },
        "MerchantName": {
          "type": "string",
          "uniqueItems": false
        },
        "MerchantVatNumber": {
          "type": "string",
          "uniqueItems": false
        },
        "SignatureInfoStr": {
          "type": "string",
          "uniqueItems": false
        },
        "FileHash": {
          "type": "string",
          "uniqueItems": false
        },
        "Units": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "State": {
          "description": "\r\n\r\n    Uploading = 0 \r\n    Uploaded = 1 \r\n    Ready = 2 \r\n    Validated = 3 \r\n    ValidatedByAccountant = 4 \r\n    Rejected = 99 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        },
        "IsFromEmail": {
          "type": "boolean",
          "uniqueItems": false
        },
        "Source": {
          "description": "\r\n\r\n    Email = 0 \r\n    Digidom = 1 \r\n    API = 2 \r\n    Travel = 3 \r\n    Card = 4 \r\n    Collector = 5 \r\n    Mobile = 10 \r\n    Web = 11 \r\n    Android = 12 \r\n    iOS = 13 \r\n    WindowsPhone = 14 \r\n    Transaction = 15 \r\n    Egencia = 16 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        },
        "PhotoSource": {
          "description": "\r\n\r\n    NoPhoto = 0 \r\n    ExpensyaWeb = 1 \r\n    ExpensyaMobile = 2 \r\n    Gallery = 3 \r\n    ExternalApp = 4 \r\n    Email = 5 \r\n    API = 6 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        },
        "HasEmailAttachement": {
          "type": "boolean",
          "uniqueItems": false
        },
        "VATStr": {
          "type": "string",
          "uniqueItems": false
        },
        "VATAvgRate": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "AttachedFilesCount": {
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "CategoryExtraDataStr": {
          "type": "string",
          "uniqueItems": false
        },
        "Vehicle_Id": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        },
        "ToReimburse": {
          "type": "boolean",
          "uniqueItems": false
        },
        "IsBillable": {
          "type": "boolean",
          "uniqueItems": false
        },
        "CustomFieldsStr": {
          "type": "string",
          "uniqueItems": false
        },
        "OcrValue": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "UniqueExternalKey": {
          "type": "string",
          "uniqueItems": false
        },
        "ValueHT": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "Project_Id": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        },
        "SubscriptionStartDate": {
          "type": "string",
          "format": "date-time",
          "uniqueItems": false
        },
        "SubscriptionEndDate": {
          "type": "string",
          "format": "date-time",
          "uniqueItems": false
        },
        "SubscriptionType": {
          "description": "\r\n\r\n    Weekly = 0 \r\n    Monthly = 1 \r\n    Yearly = 2 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        },
        "FileType": {
          "type": "string",
          "uniqueItems": false
        },
        "CoworkersStr": {
          "type": "string",
          "uniqueItems": false
        },
        "InvoiceSource_Id": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        },
        "CreditSource_Id": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        },
        "DefaultRate": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "Supplier_Id": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        },
        "SubStatus": {
          "description": "\r\n\r\n    All = 0 \r\n    Exported = 2 \r\n    Payed = 4 \r\n    ExportedToIbiza = 8 \r\n    RecordedByInexweb = 16 \r\n    ExportedToQBO = 32 \r\n    ExportedToInexweb = 64 \r\n    RejectedByInexweb = 128 \r\n    ExportedToVSA = 256 \r\n    ExportedBalance = 512 \r\n    ExportedToSiebel = 1024 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        },
        "IsDuplicable": {
          "type": "boolean",
          "uniqueItems": false
        },
        "ExtendedInvoice": {
          "$ref": "#/definitions/ExtendedInvoice"
        },
        "IsFromEmailIconVisible": {
          "type": "boolean",
          "uniqueItems": false
        },
        "IsFileAttachedIconVisible": {
          "type": "boolean",
          "uniqueItems": false
        },
        "ImageUrl": {
          "type": "string",
          "uniqueItems": false
        },
        "Id": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        },
        "SyncVersion": {
          "type": "integer",
          "format": "int64",
          "uniqueItems": false
        },
        "CreationVersion": {
          "type": "integer",
          "format": "int64",
          "uniqueItems": false
        },
        "SyncState": {
          "description": "\r\n\r\n    AddLocal = 0 \r\n    DeleteLocal = 1 \r\n    Sync = 3 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        }
      },
      "type": "object",
      "format": "ExtendedInvoice"
    },
    "ExtendedMission": {
      "properties": {
        "CurrencySymbol": {
          "type": "string",
          "uniqueItems": false
        },
        "InvoicesCountStr": {
          "type": "string",
          "uniqueItems": false
        },
        "InvoicesCount": {
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "Value": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "ValueInLocalCurrency": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "ValueToReimburse": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "IsValueToReimburseModified": {
          "type": "boolean",
          "uniqueItems": false
        },
        "ValueToReimburseInLocalCurrency": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "StartDate": {
          "type": "string",
          "format": "date-time",
          "uniqueItems": false
        },
        "StartDateForMileageExpenses": {
          "type": "string",
          "uniqueItems": false
        },
        "EndDate": {
          "type": "string",
          "format": "date-time",
          "uniqueItems": false
        },
        "AccountingDate": {
          "type": "string",
          "format": "date-time",
          "uniqueItems": false
        },
        "HasExternalProjectValidator": {
          "type": "boolean",
          "uniqueItems": false
        },
        "InvoiceList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExtendedInvoice"
          },
          "uniqueItems": false
        },
        "IsAllowedToUse": {
          "type": "boolean",
          "uniqueItems": false
        },
        "Validators": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MissionValidator"
          },
          "uniqueItems": false
        },
        "CallerCanUpdateMissionState": {
          "type": "boolean",
          "uniqueItems": false
        },
        "InvoicesTransactionsSumInCurrency": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "IssuesDicStr": {
          "type": "string",
          "uniqueItems": false
        },
        "MissionOrderDetails": {
          "type": "string",
          "uniqueItems": false
        },
        "MissionOrderStartDate": {
          "type": "string",
          "format": "date-time",
          "uniqueItems": false
        },
        "MissionOrderEndDate": {
          "type": "string",
          "format": "date-time",
          "uniqueItems": false
        },
        "MissionOrderDestination": {
          "type": "string",
          "uniqueItems": false
        },
        "InvoiceAttachedFilesCount": {
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "Tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "uniqueItems": false
        },
        "InvoicesWithProblems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InvoiceWithProblemsDetails"
          },
          "uniqueItems": false
        },
        "CustomFieldsStr": {
          "type": "string",
          "uniqueItems": false
        },
        "CanSubmit": {
          "type": "boolean",
          "uniqueItems": false
        },
        "SubmitDisabledReason": {
          "type": "string",
          "uniqueItems": false
        },
        "CanClose": {
          "type": "boolean",
          "uniqueItems": false
        },
        "CloseDisabledReason": {
          "type": "string",
          "uniqueItems": false
        },
        "AreAllInvoicesValidated": {
          "type": "boolean",
          "uniqueItems": false
        },
        "ValueStr": {
          "type": "string",
          "uniqueItems": false
        },
        "ValueStrWithCurrency": {
          "type": "string",
          "uniqueItems": false
        },
        "ValueToReimburseStr": {
          "type": "string",
          "uniqueItems": false
        },
        "ValueToReimburseStrWithCurrency": {
          "type": "string",
          "uniqueItems": false
        },
        "StartDateStr": {
          "type": "string",
          "uniqueItems": false
        },
        "EndDateStr": {
          "type": "string",
          "uniqueItems": false
        },
        "StateStr": {
          "type": "string",
          "uniqueItems": false
        },
        "IsReadOnly": {
          "type": "boolean",
          "uniqueItems": false
        },
        "ReadOnlyReason": {
          "type": "string",
          "uniqueItems": false
        },
        "ValidationOrRejectionMessage": {
          "type": "string",
          "uniqueItems": false
        },
        "TooltipStateStr": {
          "type": "string",
          "uniqueItems": false
        },
        "IsVisibleInMissionList": {
          "type": "boolean",
          "uniqueItems": false
        },
        "TruncatedName": {
          "type": "string",
          "uniqueItems": false
        },
        "Location": {
          "type": "string",
          "uniqueItems": false
        },
        "StartAndEndDateStr": {
          "type": "string",
          "uniqueItems": false
        },
        "StateColor": {
          "$ref": "#/definitions/Object"
        },
        "Name": {
          "type": "string",
          "uniqueItems": false
        },
        "Description": {
          "type": "string",
          "uniqueItems": false
        },
        "DateCreation": {
          "type": "string",
          "format": "date-time",
          "uniqueItems": false
        },
        "Budget": {
          "type": "number",
          "format": "decimal",
          "uniqueItems": false
        },
        "MissionType": {
          "description": "\r\n\r\n    UserCreated = 0 \r\n    Default = 1 \r\n    TravelAgencyImport = 2 \r\n    Advance = 3 \r\n    MissionOrder = 4 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        },
        "State": {
          "description": "\r\n\r\n    Active = 0 \r\n    Submitted = 2 \r\n    Rejected = 3 \r\n    Validated = 4 \r\n    Closed = 5 \r\n    ValidatedAndExported = 6 \r\n    Reimbursed = 7 \r\n    PreSubmitted = 8 \r\n    InValidation = 50 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        },
        "Comments": {
          "type": "string",
          "uniqueItems": false
        },
        "IdShort": {
          "type": "string",
          "uniqueItems": false
        },
        "AccountingPeriod": {
          "type": "string",
          "uniqueItems": false
        },
        "SubStatus": {
          "description": "\r\n\r\n    All = 0 \r\n    Exported = 2 \r\n    Payed = 4 \r\n    ExportedToIbiza = 8 \r\n    RecordedByInexweb = 16 \r\n    ExportedToQBO = 32 \r\n    ExportedToInexweb = 64 \r\n    RejectedByInexweb = 128 \r\n    ExportedToVSA = 256 \r\n    ExportedBalance = 512 \r\n    ExportedToSiebel = 1024 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        },
        "CurrentValidator_Id": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        },
        "LastValidatorReminderDate": {
          "type": "string",
          "format": "date-time",
          "uniqueItems": false
        },
        "Company_Id": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        },
        "HasIssues": {
          "type": "boolean",
          "uniqueItems": false
        },
        "ExtendedMission": {
          "$ref": "#/definitions/ExtendedMission"
        },
        "Id": {
          "type": "string",
          "format": "guid",
          "uniqueItems": false
        },
        "SyncVersion": {
          "type": "integer",
          "format": "int64",
          "uniqueItems": false
        },
        "CreationVersion": {
          "type": "integer",
          "format": "int64",
          "uniqueItems": false
        },
        "SyncState": {
          "description": "\r\n\r\n    AddLocal = 0 \r\n    DeleteLocal = 1 \r\n    Sync = 3 \r\n",
          "type": "integer",
          "format": "enum",
          "uniqueItems": false
        },
        "IsOwner": {
          "type": "boolean",
          "uniqueItems": false
        }
      },
      "type": "object",
      "format": "ExtendedMission"
    },
    "HistoryAttributes": {
      "properties": {
        "LastModificationDate": {
          "type": "string",
          "format": "date-time",
          "uniqueItems": false
        },
        "InvoiceEventType": {
          "description": "\r\n\r\n    SubmitMission = 1 \r\n    ValidateMission = 2 \r\n    RejectMission = 3 \r\n    ReimburseMission = 4 \r\n    CloseMission = 5 \r\n    CommentMission = 6 \r\n    ValidateAndExportMission = 7 \r\n    UpdateInvoiceByValidator = 8 \r\n    CreateMission = 9 \r\n    ExportMission = 10 \r\n    ExportMissionToQuickBooks = 11 \r\n    PreSubmitMission = 12 \r\n    ReviewAndSubmitMission = 13 \r\n    UpdateAccountingPeriodByAdminOrAccountant = 14 \r\n    AddUserCollectorConnection = 15 \r\n    UpdateUserCollectorConnection = 16 \r\n    GetUserCollectedBills = 17 \r\n    StopAutoRenew = 18 \r\n    ValidateUserCollectorConnection = 19 \r\n    SwitchAsDelegatedUser = 20 \r\n    DeleteUserCollectorConnection = 21 \r\n    ExportMissionToIbiza = 22 \r\n    ValidateVirtualCard = 23 \r\n    RejectVirtualCard = 24 \r\n    RequestVirtualCard = 25 \r\n    RequestVirtualCardAndAutoApproved = 26 \r\n    ValidatedPurchaseByAccountant = 27 \r\n    AutoValidateMission = 28 \r\n    AddProPaymentInstrument = 29 \r\n    UpdateProPaymentInstrument = 30 \r\n    DisableVirtualCard = 31 \r\n    ExportMissionToInexweb = 32 \r\n    ExportPurchaseToSapByDesign = 33 \r\n    CreateRule = 34 \r\n    DeleteRule = 35 \r\n    UpdateRule = 36 \r\n    DeleteMission = 37 \r\n    RestoreMission = 38 \r\n    AutoValidateAndExportMission = 39 \r\n    DisconnectIntegration = 41 \r\n    ExportMissionToVSA = 42 \r\n    ExportInvoiceToSiebel = 43 \r\n    CreateInvoice = 97 \r\n    DeleteInvoice = 98 \r\n    UpdateInvoice = 99 \r\n    AddTag = 100 \r\n    UpdateTag = 101 \r\n    DeleteTag = 102 \r\n    AddCompanyIntegrationSettings = 103 \r\n    UpdateCompanyIntegrationSettings = 104 \r\n    IntegrationStart = 105 \r\n    IntegrationComplete = 106 \r\n    IgnoreMissionInExport = 107 \r\n    AttachCompanyToPartner = 108 \r\n    PreSubmitVirtualCard = 109 \r\n    ApproveVirtualCard = 110 \r\n    CommentVirtualCard = 111 \r\n    ReviewAndSubmitVirtualCard = 112 \r\n    AutoImport = 113 \r\n    AutoExport = 114 \r\n    Export = 115 \r\n    Import = 116 \r\n    SubmitVehicle = 117 \r\n    ValidateVehicle = 118 \r\n    ApproveVehicle = 119 \r\n    RejectVehicle = 120 \r\n    CommentVehicle = 121 \r\n    DisableVehicle = 122 \r\n    PreSubmitVehicle = 123 \r\n    AutoApproveVehicle = 124 \r\n    AddBalanceExport = 125 \r\n    Payment = 126 \r\n    ReSubmitVehicleAfterApproval = 127 \r\n    ExportMissionByAPI = 128 \r\n    SplitMissionInvoicesByProblems = 129 \r\n",
[...]
