{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Open Brewery DB",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_openbrew@gmail.com"
    },
    "description": "Open Brewery DB is a free dataset and API with public information on breweries, cideries, brewpubs, and bottle shops."
  },
  "host": "api.openbrewerydb.org",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/breweries/{obdb-id}": {
      "get": {
        "summary": "Get brewery",
        "description": "Get a single brewery.",
        "operationId": "GetBrewery",
        "parameters": [
          {
            "name": "obdb-id",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Unique brewery ID.",
            "x-ms-summary": "Brewery ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RefBrewery"
            }
          }
        }
      }
    },
    "/v1/breweries": {
      "get": {
        "summary": "List breweries",
        "description": "Returns a list of breweries.",
        "operationId": "ListBreweries",
        "parameters": [
          {
            "name": "by_city",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "By city",
            "x-ms-visibility": "advanced",
            "description": "Filter breweries by city."
          },
          {
            "name": "by_country",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "By country",
            "x-ms-visibility": "important",
            "description": "Filter breweries by country."
          },
          {
            "name": "by_dist",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "By distance",
            "x-ms-visibility": "advanced",
            "description": "Sort the results by distance from an origin point denoted by latitude,longitude. For example '38.8977,77.0365'."
          },
          {
            "name": "by_name",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "By name",
            "description": "Filter breweries by name."
          },
          {
            "name": "by_state",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "By state",
            "x-ms-visibility": "advanced",
            "description": "Filter breweries by state."
          },
          {
            "name": "by_postal",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "By postal",
            "x-ms-visibility": "advanced",
            "description": "Filter breweries by postal code. May be filtered by basic (5 digit) postal code or more precisely filtered by postal+4 (9 digit) code."
          },
          {
            "name": "by_type",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "By type",
            "description": "Filter by type of brewery.",
            "x-ms-visibility": "important",
            "enum": [
              "micro",
              "nano",
              "regional",
              "brewpub",
              "large",
              "planning",
              "bar",
              "contract",
              "proprietor",
              "closed"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "x-ms-summary": "Page",
            "description": "The offset or page of breweries to return.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "x-ms-summary": "Per page",
            "description": "Number of breweries to return each call. Max per page is 200."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RefBrewery"
              }
            }
          }
        }
      }
    },
    "/v1/breweries/random": {
      "get": {
        "summary": "Get random",
        "description": "Get a random brewery.",
        "operationId": "GetRandom",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "x-ms-summary": "Size",
            "description": "Number of breweries to return each call. Max per page is 50."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RefBrewery"
              }
            }
          }
        }
      }
    },
    "/v1/breweries/search": {
      "get": {
        "summary": "Search breweries",
        "description": "Search for breweries based on a search term.",
        "operationId": "SearchBreweries",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "Query",
            "description": "Search for breweries based on a search term."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RefBrewery"
              }
            }
          }
        }
      }
    },
    "/v1/breweries/meta": {
      "get": {
        "summary": "Count breweries",
        "description": "Count breweries based on various filters.",
        "operationId": "CountBreweries",
        "parameters": [
          {
            "name": "by_city",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "By city",
            "x-ms-visibility": "advanced",
            "description": "Filter breweries by city."
          },
          {
            "name": "by_country",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "By country",
            "x-ms-visibility": "important",
            "description": "Filter breweries by country."
          },
          {
            "name": "by_name",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "By name",
            "description": "Filter breweries by name."
          },
          {
            "name": "by_state",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "By state",
            "x-ms-visibility": "advanced",
            "description": "Filter breweries by state."
          },
          {
            "name": "by_postal",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "By postal",
            "x-ms-visibility": "advanced",
            "description": "Filter breweries by postal code. May be filtered by basic (5 digit) postal code or more precisely filtered by postal+4 (9 digit) code."
          },
          {
            "name": "by_type",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "By type",
            "description": "Filter by type of brewery.",
            "x-ms-visibility": "important",
            "enum": [
              "micro",
              "nano",
              "regional",
              "brewpub",
              "large",
              "planning",
              "bar",
              "contract",
              "proprietor",
              "closed"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "string",
                  "description": "Total number of results.",
                  "title": "Total"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "RefBrewery": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique ID of the brewery.",
          "title": "ID"
        },
        "name": {
          "type": "string",
          "description": "Name of the brewery.",
          "title": "Name"
        },
        "brewery_type": {
          "type": "string",
          "description": "Type of the brewery.",
          "title": "Brewery type"
        },
        "address_1": {
          "type": "string",
          "description": "Address line 1 for the brewery.",
          "title": "Address 1"
        },
        "address_2": {
          "type": "string",
          "description": "Address line 2 for the brewery.",
          "title": "Address 2"
        },
        "address_3": {
          "type": "string",
          "description": "Address line 3 for the brewery.",
          "title": "Address 3"
        },
        "city": {
          "type": "string",
          "description": "City of the brewery.",
          "title": "City"
        },
        "state_province": {
          "type": "string",
          "description": "State or province of the brewery.",
          "title": "State or province"
        },
        "postal_code": {
          "type": "string",
          "description": "Postal code of the brewery.",
          "title": "Postal code"
        },
        "country": {
          "type": "string",
          "description": "Country of the brewery.",
          "title": "Country"
        },
        "longitude": {
          "type": "string",
          "description": "Longitude of the brewery.",
          "title": "Longitude"
        },
        "latitude": {
          "type": "string",
          "description": "Latitude of the brewery.",
          "title": "Latitude"
        },
        "phone": {
          "type": "string",
          "description": "Phone number of the brewery.",
          "title": "Phone"
        },
        "website_url": {
          "type": "string",
          "description": "Website URL of the brewery.",
          "title": "Webstie"
        },
        "state": {
          "type": "string",
          "description": "State of the brewery.",
          "title": "State"
        },
        "street": {
          "type": "string",
          "description": "Street details of the brewery.",
          "title": "Street"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.openbrewerydb.org/documentation"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.openbrewerydb.org"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}