{
  "swagger": "2.0",
  "info": {
    "title": "Truth Enforcer",
    "description": "With Truth Enforcer, you can digitally seal documents using blockchain technology. This solution allows users to verify that documents are authentic and unchanged - anywhere and anytime after applying the timestamped seal. It is fast and cost-effective. It is also a thousand times more ecological than other blockchain solutions, and no prior knowledge of blockchain is required.",
    "version": "1.0",
    "contact": {
      "name": "Connecting Software s.r.o. & Co. KG",
      "url": "https://www.connecting-software.com/contact/",
      "email": "office@connecting-software.com"
    }
  },
  "host": "digitalportoftrust.connecting-software.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [ "application/json" ],
  "produces": [],
  "paths": {
    "/does-not-matter": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "hash": {
                  "type": "string",
                  "description": "File hash",
                  "title": "Hash"
                }
              }
            }
          }
        },
        "summary": "Hash file",
        "description": "This action hashes the file locally",
        "operationId": "HashFile",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "file": {
                  "type": "string",
                  "description": "file",
                  "title": "File",
                  "format": "byte"
                }
              },
              "required": [
                "file"
              ]
            }
          }
        ]
      }
    },
    "/api/v2/CreateSeal/1/{hash}": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "sealId": {
                  "type": "string",
                  "description": "sealId",
                  "title": "Seal Id"
                },
                "isSuccess": {
                  "type": "boolean",
                  "description": "isSuccess",
                  "title": "Is Success",
                  "enum": [
                    true,
                    false
                  ]
                },
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error",
                  "title": "Error"
                }
              }
            }
          }
        },
        "summary": "Create seal",
        "description": "This action creates a seal for the given hash",
        "operationId": "CreateSeal",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The file hash to be sealed",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "The file hash to be sealed"
          }
        ]
      }
    },
    "/api/v2/VerifySeal/{hash}/{sealId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "providerVerificationResult": {
                  "type": "object",
                  "properties": {
                    "isSealValid": {
                      "type": "boolean",
                      "description": "isSealValid",
                      "title": "Is Seal Valid",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "reason": {
                      "type": "integer",
                      "format": "int32",
                      "description": "reason",
                      "title": "Reason"
                    },
                    "additionalInfo": {
                      "type": "string",
                      "description": "additionalInfo",
                      "title": "Additional Info"
                    },
                    "hash": {
                      "type": "string",
                      "description": "hash",
                      "title": "Hash"
                    },
                    "externalId": {
                      "type": "string",
                      "description": "externalId",
                      "title": "External Id"
                    },
                    "providerId": {
                      "type": "string",
                      "description": "providerId",
                      "title": "Provider Id"
                    }
                  },
                  "description": "providerVerificationResult"
                },
                "isSuccess": {
                  "type": "boolean",
                  "description": "isSuccess",
                  "title": "Is Success",
                  "enum": [
                    true,
                    false
                  ]
                },
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error",
                  "title": "Error"
                }
              }
            }
          }
        },
        "summary": "Verify seal",
        "operationId": "VerifySeal",
        "description": "This action verifies the given hash against the Seal ID",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The file hash to be verified",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "The file hash to be verified"
          },
          {
            "name": "sealId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The seal ID to be verified against",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "The seal ID to be verified against"
          }
        ]
      }
    },
    "/api/v2/GetSeals/{hash}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "seals": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id",
                        "title": "Id"
                      },
                      "requestStamp": {
                        "type": "integer",
                        "format": "int32",
                        "description": "requestStamp",
                        "title": "Request Stamp"
                      },
                      "tenantId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "tenantId",
                        "title": "Tenant Id"
                      },
                      "provider": {
                        "type": "integer",
                        "format": "int32",
                        "description": "provider",
                        "title": "Provider"
                      },
                      "hash": {
                        "type": "string",
                        "description": "hash",
                        "title": "Hash"
                      },
                      "metadata": {
                        "type": "string",
                        "description": "metadata",
                        "title": "Metadata"
                      },
                      "origin": {
                        "type": "integer",
                        "format": "int32",
                        "description": "origin",
                        "title": "Origin"
                      }
                    }
                  },
                  "description": "seals"
                },
                "isSuccess": {
                  "type": "boolean",
                  "description": "isSuccess",
                  "title": "Is Success",
                  "enum": [
                    true,
                    false
                  ]
                },
                "error": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error",
                  "title": "Error"
                }
              }
            }
          }
        },
        "summary": "List seals",
        "operationId": "ListSeals",
        "description": "This action lists all seals for the given hash",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The file hash to be listed",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "The file hash to be listed"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "authorizationId"
    }
  },
  "security": [
    {
      "Activation Token": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.connecting-software.com"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.connecting-software.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security;Content and Files"
    }
  ]
}