{
  "swagger": "2.0",
  "info": {
    "title": "Screenshot One",
    "description": "ScreenshotOne is a scalable and straightforward screenshot service to cover all your needs by making screenshots. It converts any given URL or HTML to PNG, PDF, etc.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.screenshotone.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/take": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The content type.",
                  "title": "Content Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The content.",
                  "title": "Content"
                }
              }
            }
          }
        },
        "summary": "Get screenshot",
        "x-ms-visibility": "important",
        "description": "Retrieve a screenshot for a given set of options.",
        "operationId": "TakeGet",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "x-ms-summary": "URL",
            "description": "The URL address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "html",
            "in": "query",
            "x-ms-summary": "HTML",
            "description": "The HTML code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "format",
            "in": "query",
            "x-ms-summary": "Format",
            "description": "The format.",
            "required": false,
            "type": "string",
            "default": "jpg",
            "enum": [
              "jpg",
              "png",
              "webp",
              "gif",
              "jp2",
              "tiff",
              "avif",
              "heif",
              "html"
            ]
          },
          {
            "name": "response_type",
            "in": "query",
            "x-ms-summary": "Response Type",
            "description": "The response type.",
            "required": false,
            "type": "string",
            "default": "by_format",
            "enum": [
              "by_format",
              "empty",
              "json"
            ]
          },
          {
            "name": "selector",
            "in": "query",
            "x-ms-summary": "Selector",
            "description": "The selector.",
            "required": false,
            "type": "string"
          },
          {
            "name": "capture_beyond_viewport",
            "in": "query",
            "x-ms-summary": "Capture Beyond Viewport",
            "description": "Whether to capture beyond viewport.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "scroll_into_view",
            "in": "query",
            "x-ms-summary": "Scroll Into View",
            "description": "The scoll into view.",
            "required": false,
            "type": "string"
          },
          {
            "name": "scroll_into_view_adjust_top",
            "in": "query",
            "x-ms-summary": "Scroll Into View Adjust Top",
            "description": "The top adjustment for scroll into view.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "full_page",
            "in": "query",
            "x-ms-summary": "Full Page",
            "description": "Whether full page.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "full_page_scroll",
            "in": "query",
            "x-ms-summary": "Full Page Scroll",
            "description": "Whether to scroll full page.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "full_page_scroll_delay",
            "in": "query",
            "x-ms-summary": "Full Page Scroll Delay",
            "description": "The delay before full page scroll.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "full_page_scroll_by",
            "in": "query",
            "x-ms-summary": "Full Page Scroll By",
            "description": "The full page scroll by.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "full_page_max_height",
            "in": "query",
            "x-ms-summary": "Full Page Max Height",
            "description": "The max height of the full page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "viewport_device",
            "in": "query",
            "x-ms-summary": "Viewport Device",
            "description": "The viewport device.",
            "required": false,
            "type": "string"
          },
          {
            "name": "viewport_width",
            "in": "query",
            "x-ms-summary": "Viewport Width",
            "description": "The viewport width.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "viewport_height",
            "in": "query",
            "x-ms-summary": "Viewport Height",
            "description": "The viewport height.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "device_scale_factor",
            "in": "query",
            "x-ms-summary": "Device Scale Factor",
            "description": "The device scale factor.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "viewport_mobile",
            "in": "query",
            "x-ms-summary": "Viewport Mobile",
            "description": "Whether the viewport is mobile.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "viewport_has_touch",
            "in": "query",
            "x-ms-summary": "Viewport Has Touch",
            "description": "Whether the viewport has touch.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "viewport_landscape",
            "in": "query",
            "x-ms-summary": "Viewport Landscape",
            "description": "Whether viewport is landscape.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "image_quality",
            "in": "query",
            "x-ms-summary": "Image Quality",
            "description": "The image quality.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "image_width",
            "in": "query",
            "x-ms-summary": "Image Width",
            "description": "The image width.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "image_height",
            "in": "query",
            "x-ms-summary": "Image Height",
            "description": "The image height.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "omit_background",
            "in": "query",
            "x-ms-summary": "Omit Background",
            "description": "Whether to omit background.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "dark_mode",
            "in": "query",
            "x-ms-summary": "Dark Mode",
            "description": "Whether in dark mode.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "reduced_motion",
            "in": "query",
            "x-ms-summary": "Reduced Motion",
            "description": "Whether to reduce motion.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "media_type",
            "in": "query",
            "x-ms-summary": "Media Type",
            "description": "The media type.",
            "required": false,
            "type": "string"
          },
          {
            "name": "hide_selectors",
            "in": "query",
            "x-ms-summary": "Hide Selectors",
            "description": "The hide selectors.",
            "required": false,
            "type": "string"
          },
          {
            "name": "scripts",
            "in": "query",
            "x-ms-summary": "Scripts",
            "description": "The scripts.",
            "required": false,
            "type": "string"
          },
          {
            "name": "scripts_wait_until",
            "in": "query",
            "x-ms-summary": "Scripts Wait Until",
            "description": "The scripts wait until.",
            "required": false,
            "type": "string"
          },
          {
            "name": "styles",
            "in": "query",
            "x-ms-summary": "Styles",
            "description": "The styles.",
            "required": false,
            "type": "string"
          },
          {
            "name": "click",
            "in": "query",
            "x-ms-summary": "Click",
            "description": "The click.",
            "required": false,
            "type": "string"
          },
          {
            "name": "block_cookie_banners",
            "in": "query",
            "x-ms-summary": "Block Cookie Banners",
            "description": "Whether to block cookie banners.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "block_banners_by_heuristics",
            "in": "query",
            "x-ms-summary": "Block Banners By Heuristics",
            "description": "Whether to block banners by heuristics.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "block_chats",
            "in": "query",
            "x-ms-summary": "Block Chats",
            "description": "Whether to block chats.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "block_ads",
            "in": "query",
            "x-ms-summary": "Block Ads",
            "description": "Whether to block ads.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "block_trackers",
            "in": "query",
            "x-ms-summary": "Block Trackers",
            "description": "Whether to block trackers.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "block_requests",
            "in": "query",
            "x-ms-summary": "Block Requests",
            "description": "The block requests.",
            "required": false,
            "type": "string"
          },
          {
            "name": "block_resources",
            "in": "query",
            "x-ms-summary": "Block Resources",
            "description": "The block resources.",
            "required": false,
            "type": "string"
          },
          {
            "name": "geolocation_latitude",
            "in": "query",
            "x-ms-summary": "Geolocation Latitude",
            "description": "The geolocation latitude.",
            "required": false,
            "type": "number"
          },
          {
            "name": "geolocation_longitude",
            "in": "query",
            "x-ms-summary": "Geolocation Longitude",
            "description": "The geolocation longitude.",
            "required": false,
            "type": "number"
          },
          {
            "name": "geolocation_accuracy",
            "in": "query",
            "x-ms-summary": "Geolocation Accuracy",
            "description": "The geolocation accuracy.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "ip_country_code",
            "in": "query",
            "x-ms-summary": "Country Code",
            "description": "The country code.",
            "required": false,
            "type": "string",
            "default": "us",
            "enum": [
              "us",
              "gb",
              "de",
              "it",
              "fr",
              "cn",
              "ca",
              "es",
              "jp",
              "kr",
              "in",
              "au",
              "br",
              "mx"
            ]
          },
          {
            "name": "proxy",
            "in": "query",
            "x-ms-summary": "Proxy",
            "description": "The proxy.",
            "required": false,
            "type": "string"
          },
          {
            "name": "user_agent",
            "in": "query",
            "x-ms-summary": "User Agent",
            "description": "The user agent.",
            "required": false,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "query",
            "x-ms-summary": "Authorization",
            "description": "The authorization.",
            "required": false,
            "type": "string"
          },
          {
            "name": "cookies",
            "in": "query",
            "x-ms-summary": "Cookies",
            "description": "The cookies.",
            "required": false,
            "type": "string"
          },
          {
            "name": "headers",
            "in": "query",
            "x-ms-summary": "Headers",
            "description": "The headers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "time_zone",
            "in": "query",
            "x-ms-summary": "Time Zone",
            "description": "The time zone.",
            "required": false,
            "type": "string",
            "enum": [
              "America/Belize",
              "America/Cayman",
              "America/Chicago",
              "America/Costa_Rica",
              "America/Denver",
              "America/Edmonton",
              "America/El_Salvador",
              "America/Guatemala",
              "America/Guayaquil",
              "America/Hermosillo",
              "America/Jamaica",
              "America/Los_Angeles",
              "America/Mexico_City",
              "America/Nassau",
              "America/New_York",
              "America/Panama",
              "America/Port-au-Prince",
              "America/Santiago",
              "America/Tegucigalpa",
              "America/Tijuana",
              "America/Toronto",
              "America/Vancouver",
              "America/Winnipeg",
              "Asia/Kuala_Lumpur",
              "Asia/Shanghai",
              "Asia/Tashkent",
              "Europe/Berlin",
              "Europe/Kiev",
              "Europe/Lisbon",
              "Europe/London",
              "Europe/Madrid",
              "Pacific/Auckland",
              "Pacific/Majuro"
            ]
          },
          {
            "name": "wait_until",
            "in": "query",
            "x-ms-summary": "Wait Until",
            "description": "The wait until.",
            "required": false,
            "type": "string"
          },
          {
            "name": "delay",
            "in": "query",
            "x-ms-summary": "Delay",
            "description": "The delay.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "timeout",
            "in": "query",
            "x-ms-summary": "Timeout",
            "description": "The timeout.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "navigation_timeout",
            "in": "query",
            "x-ms-summary": "Navigation Timeout",
            "description": "The navigation timeout.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "wait_for_selector",
            "in": "query",
            "x-ms-summary": "Wait for Selector",
            "description": "The wait for selector.",
            "required": false,
            "type": "string"
          },
          {
            "name": "cache",
            "in": "query",
            "x-ms-summary": "Cache",
            "description": "Whether to cache.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "cache_ttl",
            "in": "query",
            "x-ms-summary": "Cache TTL",
            "description": "The cache timeout.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cache_key",
            "in": "query",
            "x-ms-summary": "Cache Key",
            "description": "The cache key.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "store",
            "in": "query",
            "x-ms-summary": "Store",
            "description": "Whether to store.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "storage_path",
            "in": "query",
            "x-ms-summary": "Storage Path",
            "description": "The storage path.",
            "required": false,
            "type": "string"
          },
          {
            "name": "storage_bucket",
            "in": "query",
            "x-ms-summary": "Storage Bucket",
            "description": "The storage bucket.",
            "required": false,
            "type": "string"
          },
          {
            "name": "storage_class",
            "in": "query",
            "x-ms-summary": "Storage Class",
            "description": "The storage class.",
            "required": false,
            "type": "string",
            "enum": [
              "standard",
              "reduced_redundancy",
              "standard_ia",
              "onezone_ia",
              "intelligent_tiering",
              "glacier",
              "deep_archive",
              "outposts",
              "glacier_ir"
            ]
          },
          {
            "name": "storage_acl",
            "in": "query",
            "x-ms-summary": "Storage ACL",
            "description": "The storage ACL.",
            "required": false,
            "type": "string"
          },
          {
            "name": "metadata_image_size",
            "in": "query",
            "x-ms-summary": "Metadata Image Size",
            "description": "Whether metadata has image size.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "ignore_host_errors",
            "in": "query",
            "x-ms-summary": "Ignore Host Errors",
            "description": "Whether to ignore host errors.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "error_on_selector_not_found",
            "in": "query",
            "x-ms-summary": "Error on Selector Not Found",
            "description": "Whether to error on selector not found.",
            "required": false,
            "type": "boolean"
          }
        ]
      }
    },
    "/animate": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The content type.",
                  "title": "Content Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The content.",
                  "title": "Content"
                }
              }
            }
          }
        },
        "summary": "Get animated screenshot",
        "description": "Retrieve an animated screenshot for a given set of options.",
        "operationId": "TakeAnimatedGet",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "x-ms-summary": "URL",
            "description": "The URL address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "scenario",
            "in": "query",
            "x-ms-summary": "Scenario",
            "description": "The scenario.",
            "required": false,
            "type": "string"
          },
          {
            "name": "scroll_delay",
            "in": "query",
            "x-ms-summary": "Scroll Delay",
            "description": "The scroll delay.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "scroll_duration",
            "in": "query",
            "x-ms-summary": "Scroll Duration",
            "description": "The scroll duration.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "scroll_by",
            "in": "query",
            "x-ms-summary": "Scroll By",
            "description": "The scroll by.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "scroll_start_immediately",
            "in": "query",
            "x-ms-summary": "Scroll Start Immediately",
            "description": "Whether to start scroll immediately.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "scroll_back",
            "in": "query",
            "x-ms-summary": "Scroll Back",
            "description": "Whether to scroll back.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "scroll_back_after_duration",
            "in": "query",
            "x-ms-summary": "Scroll Back After Duration",
            "description": "The scroll back after duration.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "scroll_complete",
            "in": "query",
            "x-ms-summary": "Scroll Complete",
            "description": "Whether scroll complete.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "scroll_stop_after_duration",
            "in": "query",
            "x-ms-summary": "Scroll Stop After Duration",
            "description": "The scroll stop after duration.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "scroll_easing",
            "in": "query",
            "x-ms-summary": "Scroll Easing",
            "description": "The scroll easing.",
            "required": false,
            "type": "string",
            "enum": [
              "linear",
              "ease_in_quad",
              "ease_out_quad",
              "ease_in_out_quad",
              "ease_in_cubic",
              "ease_out_cubic",
              "ease_in_out_cubic",
              "ease_in_quart",
              "ease_out_quart",
              "ease_in_out_quart",
              "ease_in_quint",
              "ease_out_quint",
              "ease_in_out_quint"
            ]
          },
          {
            "name": "format",
            "in": "query",
            "x-ms-summary": "Format",
            "description": "The format.",
            "required": false,
            "type": "string",
            "enum": [
              "mp4",
              "mov",
              "avi",
              "webm",
              "gif"
            ]
          },
          {
            "name": "duration",
            "in": "query",
            "x-ms-summary": "Duration",
            "description": "The duration.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "width",
            "in": "query",
            "x-ms-summary": "Width",
            "description": "The width.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "height",
            "in": "query",
            "x-ms-summary": "Height",
            "description": "The height.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "aspect_ratio",
            "in": "query",
            "x-ms-summary": "Aspect Ratio",
            "description": "The .",
            "required": false,
            "type": "string"
          },
          {
            "name": "viewport_device",
            "in": "query",
            "x-ms-summary": "Viewport Device",
            "description": "The viewport device.",
            "required": false,
            "type": "string"
          },
          {
            "name": "viewport_width",
            "in": "query",
            "x-ms-summary": "Viewport Width",
            "description": "The viewport width.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "viewport_height",
            "in": "query",
            "x-ms-summary": "Viewport Height",
            "description": "The viewport height.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "device_scale_factor",
            "in": "query",
            "x-ms-summary": "Device Scale Factor",
            "description": "The device scale factor.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "viewport_mobile",
            "in": "query",
            "x-ms-summary": "Viewport Mobile",
            "description": "Whether the viewport is mobile.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "viewport_has_touch",
            "in": "query",
            "x-ms-summary": "Viewport Has Touch",
            "description": "Whether the viewport has touch.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "viewport_landscape",
            "in": "query",
            "x-ms-summary": "Viewport Landscape",
            "description": "Whether viewport is landscape.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "block_cookie_banners",
            "in": "query",
            "x-ms-summary": "Block Cookie Banners",
            "description": "Whether to block cookie banners.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "block_banners_by_heuristics",
            "in": "query",
            "x-ms-summary": "Block Banners By Heuristics",
            "description": "Whether to block banners by heuristics.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "block_chats",
            "in": "query",
            "x-ms-summary": "Block Chats",
            "description": "Whether to block chats.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "block_ads",
            "in": "query",
            "x-ms-summary": "Block Ads",
            "description": "Whether to block ads.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "block_trackers",
            "in": "query",
            "x-ms-summary": "Block Trackers",
            "description": "Whether to block trackers.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "block_requests",
            "in": "query",
            "x-ms-summary": "Block Requests",
            "description": "The block requests.",
            "required": false,
            "type": "string"
          },
          {
            "name": "block_resources",
            "in": "query",
            "x-ms-summary": "Block Resources",
            "description": "The block resources.",
            "required": false,
            "type": "string"
          },
          {
            "name": "geolocation_latitude",
            "in": "query",
            "x-ms-summary": "Geolocation Latitude",
            "description": "The geolocation latitude.",
            "required": false,
            "type": "number"
          },
          {
            "name": "geolocation_longitude",
            "in": "query",
            "x-ms-summary": "Geolocation Longitude",
            "description": "The geolocation longitude.",
            "required": false,
            "type": "number"
          },
          {
            "name": "geolocation_accuracy",
            "in": "query",
            "x-ms-summary": "Geolocation Accuracy",
            "description": "The geolocation accuracy.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "ip_country_code",
            "in": "query",
            "x-ms-summary": "Country Code",
            "description": "The country code.",
            "required": false,
            "type": "string",
            "default": "us",
            "enum": [
              "us",
              "gb",
              "de",
              "it",
              "fr",
              "cn",
              "ca",
              "es",
              "jp",
              "kr",
              "in",
              "au",
              "br",
              "mx"
            ]
          },
          {
            "name": "proxy",
            "in": "query",
            "x-ms-summary": "Proxy",
            "description": "The proxy.",
            "required": false,
            "type": "string"
          },
          {
            "name": "user_agent",
            "in": "query",
            "x-ms-summary": "User Agent",
            "description": "The user agent.",
            "required": false,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "query",
            "x-ms-summary": "Authorization",
            "description": "The authorization.",
            "required": false,
            "type": "string"
          },
          {
            "name": "cookies",
            "in": "query",
            "x-ms-summary": "Cookies",
            "description": "The cookies.",
            "required": false,
            "type": "string"
          },
          {
            "name": "headers",
            "in": "query",
            "x-ms-summary": "Headers",
            "description": "The headers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "time_zone",
            "in": "query",
            "x-ms-summary": "Time Zone",
            "description": "The time zone.",
            "required": false,
            "type": "string",
            "enum": [
              "America/Belize",
              "America/Cayman",
              "America/Chicago",
              "America/Costa_Rica",
              "America/Denver",
              "America/Edmonton",
              "America/El_Salvador",
              "America/Guatemala",
              "America/Guayaquil",
              "America/Hermosillo",
              "America/Jamaica",
              "America/Los_Angeles",
              "America/Mexico_City",
              "America/Nassau",
              "America/New_York",
              "America/Panama",
              "America/Port-au-Prince",
              "America/Santiago",
              "America/Tegucigalpa",
              "America/Tijuana",
              "America/Toronto",
              "America/Vancouver",
              "America/Winnipeg",
              "Asia/Kuala_Lumpur",
              "Asia/Shanghai",
              "Asia/Tashkent",
              "Europe/Berlin",
              "Europe/Kiev",
              "Europe/Lisbon",
              "Europe/London",
              "Europe/Madrid",
              "Pacific/Auckland",
              "Pacific/Majuro"
            ]
          },
          {
            "name": "wait_until",
            "in": "query",
            "x-ms-summary": "Wait Until",
            "description": "The wait until.",
            "required": false,
            "type": "string"
          },
          {
            "name": "delay",
            "in": "query",
            "x-ms-summary": "Delay",
            "description": "The delay.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "timeout",
            "in": "query",
            "x-ms-summary": "Timeout",
            "description": "The timeout.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "navigation_timeout",
            "in": "query",
            "x-ms-summary": "Navigation Timeout",
            "description": "The navigation timeout.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "wait_for_selector",
            "in": "query",
            "x-ms-summary": "Wait for Selector",
            "description": "The wait for selector.",
            "required": false,
            "type": "string"
          },
          {
            "name": "cache",
            "in": "query",
            "x-ms-summary": "Cache",
            "description": "Whether to cache.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "cache_ttl",
            "in": "query",
            "x-ms-summary": "Cache TTL",
            "description": "The cache timeout.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cache_key",
            "in": "query",
            "x-ms-summary": "Cache Key",
            "description": "The cache key.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "store",
            "in": "query",
            "x-ms-summary": "Store",
            "description": "Whether to store.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "storage_path",
            "in": "query",
            "x-ms-summary": "Storage Path",
            "description": "The storage path.",
            "required": false,
            "type": "string"
          },
          {
            "name": "storage_bucket",
            "in": "query",
            "x-ms-summary": "Storage Bucket",
            "description": "The storage bucket.",
            "required": false,
            "type": "string"
          },
          {
            "name": "storage_class",
            "in": "query",
            "x-ms-summary": "Storage Class",
            "description": "The storage class.",
            "required": false,
            "type": "string",
            "enum": [
              "standard",
              "reduced_redundancy",
              "standard_ia",
              "onezone_ia",
              "intelligent_tiering",
              "glacier",
              "deep_archive",
              "outposts",
              "glacier_ir"
            ]
          },
          {
            "name": "storage_acl",
            "in": "query",
            "x-ms-summary": "Storage ACL",
            "description": "The storage ACL.",
            "required": false,
            "type": "string"
          },
          {
            "name": "metadata_image_size",
            "in": "query",
            "x-ms-summary": "Metadata Image Size",
            "description": "Whether metadata has image size.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "ignore_host_errors",
            "in": "query",
            "x-ms-summary": "Ignore Host Errors",
            "description": "Whether to ignore host errors.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "error_on_selector_not_found",
            "in": "query",
            "x-ms-summary": "Error on Selector Not Found",
            "description": "Whether to error on selector not found.",
            "required": false,
            "type": "boolean"
          }
        ]
      }
    },
    "/devices": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "userAgent": {
                    "type": "string",
                    "description": "The user agent.",
                    "title": "User Agent"
                  },
                  "viewport": {
                    "type": "object",
                    "properties": {
                      "width": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The width.",
                        "title": "Width"
                      },
                      "height": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The height.",
                        "title": "Height"
                      },
                      "deviceScaleFactor": {
                        "type": "number",
                        "format": "float",
                        "description": "The device scale factor.",
                        "title": "Device Scale Factor"
                      },
                      "isMobile": {
                        "type": "boolean",
                        "description": "Whether is mobile.",
                        "title": "Is Mobile"
                      },
                      "hasTouch": {
                        "type": "boolean",
                        "description": "Whether has touch.",
                        "title": "Has Touch"
                      },
                      "isLandscape": {
                        "type": "boolean",
                        "description": "Whether is landscape.",
                        "title": "Is Landscape"
                      }
                    },
                    "title": "Viewport"
                  }
                }
              }
            }
          }
        },
        "summary": "Get devices",
        "description": "Retrieve a list of devices and their viewport parameters.",
        "operationId": "DeviceGet",
        "parameters": []
      }
    },
    "/usage": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "available": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The available.",
                  "title": "Available"
                },
                "used": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The used.",
                  "title": "Used"
                },
                "concurrency": {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit.",
                      "title": "Limit"
                    },
                    "remaining": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The remaining.",
                      "title": "Remaining"
                    },
                    "reset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The reset.",
                      "title": "Reset"
                    }
                  },
                  "title": "Concurrency"
                }
              }
            }
          }
        },
        "summary": "Get plan usage",
        "description": "Retrieve a list of your current plan usage.",
        "operationId": "UsageGet",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Access-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://screenshotone.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://screenshotone.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website"
    }
  ]
}