{
  "swagger": "2.0",
  "info": {
    "title": "GitHub Gists",
    "description": "GitHub Gists enables the authorized user to list, create, update and delete the public gists on GitHub.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.github.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/gists": {
      "get": {
        "tags": [
          "gists"
        ],
        "summary": "List gists for the authenticated user",
        "description": "Lists the authenticated user's gists or if called anonymously, this endpoint returns all public gists:",
        "operationId": "Gists_list",
        "parameters": [
          {
            "$ref": "#/parameters/since"
          },
          {
            "$ref": "#/parameters/per-page"
          },
          {
            "$ref": "#/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/base-gist"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "gists"
        ],
        "summary": "Create a gist",
        "description": "Allows you to add a new gist with one or more files.",
        "operationId": "Gists_create",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "required": [
                "files"
              ],
              "type": "object",
              "properties": {
                "description": {
                  "description": "Description of the gist",
                  "title": "Description",
                  "type": "string"
                },
                "files": {
                  "description": "Names and content for the files that make up the gist",
                  "type": "object",
                  "additionalProperties": {
                    "required": [
                      "content"
                    ],
                    "type": "object",
                    "properties": {
                      "content": {
                        "description": "Content of the file",
                        "title": "Description",
                        "type": "string"
                      }
                    }
                  }
                },
                "public": {
                  "description": "Flag indicating whether the gist is public",
                  "title": "Flag",
                  "default": false,
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Response",
            "schema": {
              "$ref": "#/definitions/gist-simple"
            }
          }
        }
      }
    },
    "/gists/public": {
      "get": {
        "tags": [
          "gists"
        ],
        "summary": "List public gists",
        "description": "List public gists sorted by most recently updated to least recently updated.",
        "operationId": "Gists_list-public",
        "parameters": [
          {
            "$ref": "#/parameters/since"
          },
          {
            "$ref": "#/parameters/per-page"
          },
          {
            "$ref": "#/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/base-gist"
              }
            }
          }
        }
      }
    },
    "/gists/starred": {
      "get": {
        "tags": [
          "gists"
        ],
        "summary": "List starred gists",
        "description": "List the authenticated user's starred gists:",
        "operationId": "Gists_list-starred",
        "parameters": [
          {
            "$ref": "#/parameters/since"
          },
          {
            "$ref": "#/parameters/per-page"
          },
          {
            "$ref": "#/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/base-gist"
              }
            }
          }
        }
      }
    },
    "/gists/{gist_id}": {
      "get": {
        "tags": [
          "gists"
        ],
        "summary": "Get a gist",
        "description": "Retrieve a gist.",
        "operationId": "Gists_get",
        "parameters": [
          {
            "$ref": "#/parameters/gist-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "schema": {
              "$ref": "#/definitions/gist-simple"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "gists"
        ],
        "summary": "Delete a gist",
        "description": "Delete a gist.",
        "operationId": "Gists_delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/gist-id"
          }
        ],
        "responses": {
          "204": {
            "description": "Response"
          }
        }
      },
      "patch": {
        "tags": [
          "gists"
        ],
        "summary": "Update a gist",
        "description": "Allows you to update a gist's description and to update, delete, or rename gist files. Files from the previous version of the gist that aren't explicitly changed during an edit are unchanged.",
        "operationId": "Gists_update",
        "parameters": [
          {
            "$ref": "#/parameters/gist-id"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "description"
              ],
              "properties": {
                "description": {
                  "description": "The description of the gist.",
                  "title": "Description",
                  "type": "string"
                },
                "files": {
                  "description": "The gist files to be updated, renamed, or deleted. Each `key` must match the current filename (including extension) of the targeted gist file.",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "required": [
                      "content"
                    ],
                    "properties": {
                      "content": {
                        "description": "The new content of the file.",
                        "title": "Content",
                        "type": "string"
                      },
                      "filename": {
                        "description": "The new filename for the file.",
                        "title": "Filename",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "schema": {
              "$ref": "#/definitions/gist-simple"
            }
          }
        }
      }
    },
    "/gists/{gist_id}/comments": {
      "get": {
        "tags": [
          "gists"
        ],
        "summary": "List gist comments",
        "description": "List all comments for a gist.",
        "parameters": [
          {
            "$ref": "#/parameters/gist-id"
          },
          {
            "$ref": "#/parameters/per-page"
          },
          {
            "$ref": "#/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gist-comment"
              }
            }
          }
        },
        "operationId": "Gists_list-comments"
      },
      "post": {
        "tags": [
          "gists"
        ],
        "summary": "Create gist comment",
        "description": "Create a gist comment.",
        "operationId": "Gists_create-comment",
        "parameters": [
          {
            "$ref": "#/parameters/gist-id"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "required": [
                "body"
              ],
              "type": "object",
              "properties": {
                "body": {
                  "description": "The comment text.",
                  "title": "Text",
                  "maxLength": 65535,
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Response",
            "schema": {
              "$ref": "#/definitions/gist-comment"
            }
          }
        }
      }
    },
    "/gists/{gist_id}/comments/{comment_id}": {
      "get": {
        "tags": [
          "gists"
        ],
        "summary": "Get gist comment",
        "description": "Retrieve a gist comment.",
        "operationId": "Gists_get-comment",
        "parameters": [
          {
            "$ref": "#/parameters/gist-id"
          },
          {
            "$ref": "#/parameters/comment-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "schema": {
              "$ref": "#/definitions/gist-comment"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "gists"
        ],
        "summary": "Delete gist comment",
        "description": "Delete a gist comment.",
        "operationId": "Gists_delete-comment",
        "parameters": [
          {
            "$ref": "#/parameters/gist-id"
          },
          {
            "$ref": "#/parameters/comment-id"
          }
        ],
        "responses": {
          "204": {
            "description": "Response"
          }
        }
      },
      "patch": {
        "tags": [
          "gists"
        ],
        "summary": "Update gist comment",
        "description": "Update a gist comment.",
        "operationId": "Gists_update-comment",
        "parameters": [
          {
            "$ref": "#/parameters/gist-id"
          },
          {
            "$ref": "#/parameters/comment-id"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "required": [
                "body"
              ],
              "type": "object",
              "properties": {
                "body": {
                  "description": "The comment text.",
                  "title": "Text",
                  "maxLength": 65535,
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "schema": {
              "$ref": "#/definitions/gist-comment"
            }
          }
        }
      }
    },
    "/gists/{gist_id}/commits": {
      "get": {
        "tags": [
          "gists"
        ],
        "summary": "List gist commits",
        "description": "Retrieve a list of gist commits.",
        "operationId": "Gists_list-commits",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/gist-id"
          },
          {
            "$ref": "#/parameters/per-page"
          },
          {
            "$ref": "#/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gist-commit"
              }
            }
          }
        }
      }
    },
    "/gists/{gist_id}/forks": {
      "get": {
        "tags": [
          "gists"
        ],
        "summary": "List gist forks",
        "description": "Retrieve a list of gist forks.",
        "operationId": "Gists_list-forks",
        "parameters": [
          {
            "$ref": "#/parameters/gist-id"
          },
          {
            "$ref": "#/parameters/per-page"
          },
          {
            "$ref": "#/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/gist-simple"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "gists"
        ],
        "summary": "Fork a gist",
        "description": "Fork a gist.",
        "operationId": "Gists_fork",
        "parameters": [
          {
            "$ref": "#/parameters/gist-id"
          }
        ],
        "responses": {
          "201": {
            "description": "Response",
            "schema": {
              "$ref": "#/definitions/base-gist"
            }
          }
        }
      }
    },
    "/gists/{gist_id}/star": {
      "get": {
        "tags": [
          "gists"
        ],
        "summary": "Check for starred gist",
        "description": "Check if a gist is starred.",
        "operationId": "Gists_check-is-starred",
        "parameters": [
          {
            "$ref": "#/parameters/gist-id"
          }
        ],
        "responses": {
          "204": {
            "description": "Response if gist is starred"
          }
        }
      },
      "delete": {
        "tags": [
          "gists"
        ],
        "summary": "Unstar gist",
        "description": "Unstar a gist.",
        "operationId": "Gists_unstar",
        "parameters": [
          {
            "$ref": "#/parameters/gist-id"
          }
        ],
        "responses": {
          "204": {
            "description": "Response"
          }
        }
      },
      "put": {
        "tags": [
          "gists"
        ],
        "summary": "Star gist",
        "description": "Star a gist.",
        "operationId": "Gists_star",
        "parameters": [
          {
            "$ref": "#/parameters/gist-id"
          }
        ],
        "responses": {
          "204": {
            "description": "Response"
          }
        }
      }
    },
    "/gists/{gist_id}/{sha}": {
      "get": {
        "tags": [
          "gists"
        ],
        "summary": "Get gist revision",
        "description": "Retrieve a gist revision.",
        "operationId": "Gists_get-revision",
        "parameters": [
          {
            "$ref": "#/parameters/gist-id"
          },
          {
            "in": "path",
            "x-ms-summary": "SHA",
            "x-ms-url-encoding": "single",
            "description": "The SHA.",
            "name": "sha",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "schema": {
              "$ref": "#/definitions/gist-simple"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "nullable-simple-user": {
      "title": "Simple User",
      "description": "Simple User",
      "required": [
        "avatar_url",
        "events_url",
        "followers_url",
        "following_url",
        "gists_url",
        "gravatar_id",
        "html_url",
        "id",
        "node_id",
        "login",
        "organizations_url",
        "received_events_url",
        "repos_url",
        "site_admin",
        "starred_url",
        "subscriptions_url",
        "type",
        "url"
      ],
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name.",
          "title": "Name"
        },
        "email": {
          "type": "string",
          "description": "The email address.",
          "title": "Email"
        },
        "login": {
          "type": "string",
          "description": "The login.",
          "title": "Login"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "The identifier.",
          "title": "ID"
        },
        "node_id": {
          "type": "string",
          "description": "The node identifier.",
          "title": "Node ID"
        },
        "avatar_url": {
          "type": "string",
          "description": "The avatar URL address.",
          "title": "Avatar URL"
        },
        "gravatar_id": {
          "type": "string",
          "description": "The Gravatar identifier.",
          "title": "Gravatar ID"
        },
        "url": {
          "type": "string",
          "description": "The URL address.",
          "title": "URL"
        },
        "html_url": {
          "type": "string",
          "description": "The HTML URL address.",
          "title": "HTML URL"
        },
        "followers_url": {
          "type": "string",
          "description": "The followers URL address.",
          "title": "Followers URL"
        },
        "following_url": {
          "type": "string",
          "description": "The following URL address.",
          "title": "Following URL"
        },
        "gists_url": {
          "type": "string",
          "description": "The Gists URL address.",
          "title": "Gists URL"
        },
        "starred_url": {
          "type": "string",
          "description": "The starred URL address.",
          "title": "Starred URL"
        },
        "subscriptions_url": {
          "type": "string",
          "description": "The subscriptions URL address.",
          "title": "Subscriptions URL"
        },
        "organizations_url": {
          "type": "string",
          "description": "The organizations URL address.",
          "title": "Organizations URL"
        },
        "repos_url": {
          "type": "string",
          "description": "The repos URL address.",
          "title": "Repos URL"
        },
        "events_url": {
          "type": "string",
          "description": "The events URL address.",
          "title": "Events URL"
        },
        "received_events_url": {
          "type": "string",
          "description": "The received events URL address.",
          "title": "Received Events URL"
        },
        "type": {
          "type": "string",
          "description": "The type.",
          "title": "Type"
        },
        "site_admin": {
          "type": "boolean",
          "description": "The site admin.",
          "title": "Site Admin"
        },
        "starred_at": {
          "type": "string",
          "description": "The starred at.",
          "title": "Starred At"
        }
      }
    },
    "simple-user": {
      "title": "Simple User",
      "description": "Simple User",
      "required": [
        "avatar_url",
        "events_url",
        "followers_url",
        "following_url",
        "gists_url",
        "gravatar_id",
        "html_url",
        "id",
        "node_id",
        "login",
        "organizations_url",
        "received_events_url",
        "repos_url",
        "site_admin",
        "starred_url",
        "subscriptions_url",
        "type",
        "url"
      ],
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name.",
          "title": "Name"
        },
        "email": {
          "type": "string",
          "description": "The email address.",
          "title": "Email"
        },
        "login": {
          "type": "string",
          "description": "The login.",
          "title": "Login"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "The identifier.",
          "title": "ID"
        },
        "node_id": {
          "type": "string",
          "description": "The node identifier.",
          "title": "Node ID"
        },
        "avatar_url": {
          "type": "string",
          "description": "The avatar URL address.",
          "title": "Avatar URL"
        },
        "gravatar_id": {
          "type": "string",
          "description": "The Gravatar identifier.",
          "title": "Gravatar ID"
        },
        "url": {
          "type": "string",
          "description": "The URL address.",
          "title": "URL"
        },
        "html_url": {
          "type": "string",
          "description": "The HTML URL address.",
          "title": "HTML URL"
        },
        "followers_url": {
          "type": "string",
          "description": "The followers URL address.",
          "title": "Followers URL"
        },
        "following_url": {
          "type": "string",
          "description": "The following URL address.",
          "title": "Following URL"
        },
        "gists_url": {
          "type": "string",
          "description": "The Gists URL address.",
          "title": "Gists URL"
        },
        "starred_url": {
          "type": "string",
          "description": "The starred URL address.",
          "title": "Starred URL"
        },
        "subscriptions_url": {
          "type": "string",
          "description": "The subscriptions URL address.",
          "title": "Subscriptions URL"
        },
        "organizations_url": {
          "type": "string",
          "description": "The organizations URL address.",
          "title": "Organizations URL"
        },
        "repos_url": {
          "type": "string",
          "description": "The repos URL address.",
          "title": "Repos URL"
        },
        "events_url": {
          "type": "string",
          "description": "The events URL address.",
          "title": "Events URL"
        },
        "received_events_url": {
          "type": "string",
          "description": "The received events URL address.",
          "title": "Received Events URL"
        },
        "type": {
          "type": "string",
          "description": "The type.",
          "title": "Type"
        },
        "site_admin": {
          "type": "boolean",
          "description": "The site admin.",
          "title": "Site Admin"
        },
        "starred_at": {
          "type": "string",
          "description": "The starred at.",
          "title": "Starred At"
        }
      }
    },
    "author-association": {
      "title": "author_association",
      "description": "How the author is associated with the repository.",
      "enum": [
        "COLLABORATOR",
        "CONTRIBUTOR",
        "FIRST_TIMER",
        "FIRST_TIME_CONTRIBUTOR",
        "MANNEQUIN",
        "MEMBER",
        "NONE",
        "OWNER"
      ],
      "type": "string"
    },
    "base-gist": {
      "title": "Base Gist",
      "description": "Base Gist",
      "required": [
        "id",
        "node_id",
        "url",
        "forks_url",
        "commits_url",
        "git_pull_url",
        "git_push_url",
        "html_url",
        "comments_url",
        "public",
        "description",
        "comments",
        "files",
        "created_at",
        "updated_at"
      ],
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL address.",
          "title": "URL"
        },
        "forks_url": {
          "type": "string",
          "description": "The forks URL address.",
          "title": "Forks URL"
        },
        "commits_url": {
          "type": "string",
          "description": "The commits URL address.",
          "title": "Commits URL"
        },
        "id": {
          "type": "string",
          "description": "The identifier.",
          "title": "ID"
        },
        "node_id": {
          "type": "string",
          "description": "The node identifier.",
          "title": "Node ID"
        },
        "git_pull_url": {
          "type": "string",
          "description": "The Git pull URL address.",
          "title": "Git Pull URL"
        },
        "git_push_url": {
          "type": "string",
          "description": "The Git push URL address.",
          "title": "Git Push URL"
        },
        "html_url": {
          "type": "string",
          "description": "The HTML URL address.",
          "title": "HTML URL"
        },
        "files": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "properties": {
              "filename": {
                "type": "string",
                "description": "The filename.",
                "title": "Filename"
              },
              "type": {
                "type": "string",
                "description": "The type.",
                "title": "Type"
              },
              "language": {
                "type": "string",
                "description": "The language.",
                "title": "Language"
              },
              "raw_url": {
                "type": "string",
                "description": "The raw URL address.",
                "title": "Raw URL"
              },
              "size": {
                "type": "integer",
                "description": "The size.",
                "title": "Size"
              }
            }
          }
        },
        "public": {
          "type": "boolean",
          "description": "Whether public.",
          "title": "Public"
        },
        "created_at": {
          "type": "string",
          "description": "When created at.",
          "title": "Created At"
        },
        "updated_at": {
          "type": "string",
          "description": "When updated at.",
          "title": "Updated At"
        },
        "description": {
          "type": "string",
          "description": "The description.",
          "title": "Description"
        },
        "comments": {
          "type": "integer",
          "format": "int32",
          "description": "The number of comments.",
          "title": "Comments"
        },
        "comments_url": {
          "type": "string",
          "description": "The comments URL address.",
          "title": "Comments URL"
        },
        "owner": {
          "$ref": "#/definitions/simple-user"
        },
        "truncated": {
          "type": "boolean",
          "description": "Whether truncated.",
          "title": "Truncated"
        },
        "forks": {
          "type": "array",
          "items": {},
          "description": "The forks.",
          "title": "Forks"
        },
        "history": {
          "type": "array",
          "items": {},
          "description": "The history.",
          "title": "History"
        }
      }
    },
    "public-user": {
      "title": "Public User",
      "description": "Public User",
      "required": [
        "avatar_url",
        "events_url",
        "followers_url",
        "following_url",
        "gists_url",
        "gravatar_id",
        "html_url",
        "id",
        "node_id",
        "login",
        "organizations_url",
        "received_events_url",
        "repos_url",
        "site_admin",
        "starred_url",
        "subscriptions_url",
        "type",
        "url",
        "bio",
        "blog",
        "company",
        "email",
        "followers",
        "following",
        "hireable",
        "location",
        "name",
        "public_gists",
        "public_repos",
        "created_at",
        "updated_at"
      ],
      "type": "object",
      "properties": {
        "login": {
          "type": "string",
          "description": "The login.",
          "title": "Login"
        },
        "id": {
          "type": "integer",
          "description": "The identifier.",
          "title": "ID"
        },
        "node_id": {
          "type": "string",
          "description": "The node identifier.",
          "title": "Node ID"
        },
        "avatar_url": {
          "type": "string",
          "description": "The avatar URL address.",
          "title": "Avatar URL"
        },
        "gravatar_id": {
          "type": "string",
          "description": "The Gravatar identifier.",
          "title": "Gravatar ID"
        },
        "url": {
          "type": "string",
          "description": "The URL address.",
          "title": "URL"
        },
        "html_url": {
          "type": "string",
          "description": "The HTML URL address.",
          "title": "HTML URL"
        },
        "followers_url": {
          "type": "string",
          "description": "The followers URL address.",
          "title": "Followers URL"
        },
        "following_url": {
          "type": "string",
          "description": "The following URL address.",
          "title": "Following URL"
        },
        "gists_url": {
          "type": "string",
          "description": "The Gists URL address.",
          "title": "Gists URL"
        },
        "starred_url": {
          "type": "string",
          "description": "The starred URL address.",
          "title": "Starred URL"
        },
        "subscriptions_url": {
          "type": "string",
          "description": "The subscriptions URL address.",
          "title": "Subscriptions URL"
        },
        "organizations_url": {
          "type": "string",
          "description": "The organizations URL address.",
          "title": "Organizations URL"
        },
        "repos_url": {
          "type": "string",
          "description": "The repos URL address.",
          "title": "Repos URL"
        },
        "events_url": {
          "type": "string",
          "description": "The events URL address.",
          "title": "Events URL"
        },
        "received_events_url": {
          "type": "string",
          "description": "The received events URL address.",
          "title": "Received Events URL"
        },
        "type": {
          "type": "string",
          "description": "The type.",
          "title": "Type"
        },
        "site_admin": {
          "type": "boolean",
          "description": "The site admin.",
          "title": "Site Admin"
        },
        "name": {
          "type": "string",
          "description": "The name.",
          "title": "Name"
        },
        "company": {
          "type": "string",
          "description": "The company.",
          "title": "Company"
        },
        "blog": {
          "type": "string",
          "description": "The blog.",
          "title": "Blog"
        },
        "location": {
          "type": "string",
          "description": "The location.",
          "title": "Location"
        },
        "email": {
          "format": "email",
          "type": "string",
          "description": "The email address.",
          "title": "Email"
        },
        "hireable": {
          "type": "boolean",
          "description": "Whether hireable.",
          "title": "Hireable"
        },
        "bio": {
          "type": "string",
          "description": "The bio.",
          "title": "Bio"
        },
        "twitter_username": {
          "type": "string",
          "description": "The Twitter username.",
          "title": "Twitter Username"
        },
        "public_repos": {
          "type": "integer",
          "description": "The number of public repos.",
          "title": "Public Repos"
        },
        "public_gists": {
          "type": "integer",
          "description": "The number of public Gists.",
          "title": "Public Gists"
        },
        "followers": {
          "type": "integer",
          "description": "The number of followers.",
          "title": "Followers"
        },
        "following": {
          "type": "integer",
          "description": "The number following.",
          "title": "Following"
        },
        "created_at": {
          "type": "string",
          "description": "When created at.",
          "title": "Created At"
        },
        "updated_at": {
          "type": "string",
          "description": "When updated at.",
          "title": "Updated At"
        },
        "plan": {
          "required": [
            "collaborators",
            "name",
            "space",
            "private_repos"
          ],
          "type": "object",
          "properties": {
            "collaborators": {
              "type": "integer",
              "description": "The number of collaborators.",
              "title": "Collaborators"
            },
            "name": {
              "type": "string",
              "description": "The name.",
              "title": "Name"
            },
            "space": {
              "type": "integer",
              "description": "The plan space.",
              "title": "Space"
            },
            "private_repos": {
              "type": "integer",
              "description": "The number of private repos.",
              "title": "Private Repos"
            }
          }
        },
        "suspended_at": {
          "type": "string",
          "description": "When suspended at.",
          "title": "Suspended At"
        },
        "private_gists": {
          "type": "integer",
          "description": "The number of private Gists.",
          "title": "Private Gists"
        },
        "total_private_repos": {
          "type": "integer",
          "description": "The total number of private repos.",
          "title": "Total Private Repos"
        },
        "owned_private_repos": {
          "type": "integer",
          "description": "The number of owned private repos.",
          "title": "Owned Private Repos"
        },
        "disk_usage": {
          "type": "integer",
          "description": "The disk usage.",
          "title": "Disk Usage"
        },
        "collaborators": {
          "type": "integer",
          "description": "The number of collaborators.",
          "title": "Collaborators"
        }
      },
      "additionalProperties": false
    },
    "gist-history": {
      "title": "Gist History",
      "description": "Gist History",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version.",
          "title": "Version"
        },
        "committed_at": {
          "type": "string",
          "description": "When committed at.",
          "title": "Committed At"
        },
        "change_status": {
          "type": "object",
          "properties": {
            "total": {
              "type": "integer",
              "description": "The total.",
              "title": "Total"
            },
            "additions": {
              "type": "integer",
              "description": "The number of additions.",
              "title": "Additions"
            },
            "deletions": {
              "type": "integer",
              "description": "The number of deletions.",
              "title": "Deletions"
            }
          }
        },
        "url": {
          "type": "string",
          "description": "The URL address.",
          "title": "URL"
        }
      }
    },
    "gist-simple": {
      "title": "Gist Simple",
      "description": "Gist Simple",
      "type": "object",
      "properties": {
        "forks": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The identifier.",
                "title": "ID"
              },
              "url": {
                "type": "string",
                "description": "The URL address.",
                "title": "URL"
              },
              "user": {
                "$ref": "#/definitions/public-user"
              },
              "created_at": {
                "type": "string",
                "description": "When created at.",
                "title": "Created At"
              },
              "updated_at": {
                "type": "string",
                "description": "When updated at.",
                "title": "Updated At"
              }
            }
          }
        },
        "history": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/gist-history"
          }
        },
        "fork_of": {
          "title": "Gist",
          "description": "Gist",
          "required": [
            "id",
            "node_id",
            "url",
            "forks_url",
            "commits_url",
            "git_pull_url",
            "git_push_url",
            "html_url",
            "comments_url",
            "public",
            "description",
            "comments",
            "files",
            "created_at",
            "updated_at"
          ],
          "type": "object",
          "properties": {
            "url": {
              "type": "string",
              "description": "The URL address.",
              "title": "URL"
            },
            "forks_url": {
              "type": "string",
              "description": "The forks URL address.",
              "title": "Forks URL"
            },
            "commits_url": {
              "type": "string",
              "description": "The commits URL address.",
              "title": "Commits URL"
            },
            "id": {
              "type": "string",
              "description": "The identifier.",
              "title": "ID"
            },
            "node_id": {
              "type": "string",
              "description": "The node identifier.",
              "title": "Node ID"
            },
            "git_pull_url": {
              "type": "string",
              "description": "The Git pull URL address.",
              "title": "Git Pull URL"
            },
            "git_push_url": {
              "type": "string",
              "description": "The Git pull URL address.",
              "title": "Git Push URL"
            },
            "html_url": {
              "type": "string",
              "description": "The HTML URL address.",
              "title": "HTML URL Address"
            },
            "files": {
              "type": "object",
              "additionalProperties": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string",
                    "description": "The filename.",
                    "title": "Filename"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type.",
                    "title": "Type"
                  },
                  "language": {
                    "type": "string",
                    "description": "The language.",
                    "title": "Language"
                  },
                  "raw_url": {
                    "type": "string",
                    "description": "The raw URL address.",
                    "title": "Raw URL"
                  },
                  "size": {
                    "type": "integer",
                    "description": "The size.",
                    "title": "Size"
                  }
                }
              }
            },
            "public": {
              "type": "boolean",
              "description": "Whether public.",
              "title": "Public"
            },
            "created_at": {
              "type": "string",
              "description": "When created at.",
              "title": "Created At"
            },
            "updated_at": {
              "type": "string",
              "description": "When updated at.",
              "title": "Updated At"
            },
            "description": {
              "type": "string",
              "description": "The description.",
              "title": "Description"
            },
            "comments": {
              "type": "integer",
              "description": "The comments.",
              "title": "Comments"
            },
            "comments_url": {
              "type": "string",
              "description": "The comments URL address.",
              "title": "Comments URL"
            },
            "owner": {
              "$ref": "#/definitions/nullable-simple-user"
            },
            "truncated": {
              "type": "boolean",
              "description": "Whether truncated.",
              "title": "Truncated"
            },
            "forks": {
              "type": "array",
              "items": {},
              "description": "The forks.",
              "title": "Forks"
            },
            "history": {
              "type": "array",
              "items": {},
              "description": "The history.",
              "title": "History"
            }
          }
        },
        "url": {
          "type": "string",
          "description": "The URL address.",
          "title": "URL"
        },
        "forks_url": {
          "type": "string",
          "description": "The forks URL address.",
          "title": "Forks URL"
        },
        "commits_url": {
          "type": "string",
          "description": "The commits URL address.",
          "title": "Commits URL"
        },
        "id": {
          "type": "string",
          "description": "The identifier.",
          "title": "ID"
        },
        "node_id": {
          "type": "string",
          "description": "The node identifier.",
          "title": "Node ID"
        },
        "git_pull_url": {
          "type": "string",
          "description": "The Git pull URL address.",
          "title": "Git Pull URL"
        },
        "git_push_url": {
          "type": "string",
          "description": "The Git push URL address.",
          "title": "Git Push URL"
        },
        "html_url": {
          "type": "string",
          "description": "The HTML URL address.",
          "title": "HTML URL"
        },
        "files": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "properties": {
              "filename": {
                "type": "string",
                "description": "The filename.",
                "title": "Filename"
              },
              "type": {
                "type": "string",
                "description": "The type.",
                "title": "Type"
              },
              "language": {
                "type": "string",
                "description": "The language.",
                "title": "Language"
              },
              "raw_url": {
                "type": "string",
                "description": "The raw URL address.",
                "title": "Raw URL"
              },
              "size": {
                "type": "integer",
                "description": "The size.",
                "title": "Size"
              },
              "truncated": {
                "type": "boolean",
                "description": "Whether truncated.",
                "title": "Truncated"
              },
              "content": {
                "type": "string",
                "description": "The content.",
                "title": "Content"
              }
            }
          }
        },
        "public": {
          "type": "boolean",
          "description": "Whether public.",
          "title": "Public"
        },
        "created_at": {
          "type": "string",
          "description": "When created at.",
          "title": "Created At"
        },
        "updated_at": {
          "type": "string",
          "description": "When updated at.",
          "title": "Updated At"
        },
        "description": {
          "type": "string",
          "description": "The description.",
          "title": "Description"
        },
        "comments": {
          "type": "integer",
          "description": "The comments.",
          "title": "Comments"
        },
        "user": {
          "type": "string",
          "description": "The user.",
          "title": "User"
        },
        "comments_url": {
          "type": "string",
          "description": "The comments URL address.",
          "title": "Comments URL"
        },
        "owner": {
          "$ref": "#/definitions/simple-user"
        },
        "truncated": {
          "type": "boolean",
          "description": "Whether truncated.",
          "title": "Truncated"
        }
      }
    },
    "gist-comment": {
      "title": "Gist Comment",
      "description": "A comment made to a gist.",
      "required": [
        "url",
        "id",
        "node_id",
        "body",
        "author_association",
        "created_at",
        "updated_at"
      ],
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "The identifier.",
          "title": "ID"
        },
        "node_id": {
          "type": "string",
          "description": "The node identifier.",
          "title": "Node ID"
        },
        "url": {
          "type": "string",
          "description": "The URL address.",
          "title": "URL"
        },
        "body": {
          "description": "The body.",
          "title": "Body",
          "maxLength": 65535,
          "type": "string"
        },
        "created_at": {
          "type": "string",
          "description": "When created at.",
          "title": "Created At"
        },
        "updated_at": {
          "type": "string",
          "description": "When updated at.",
          "title": "Updated At"
        },
        "author_association": {
          "$ref": "#/definitions/author-association"
        }
      }
    },
    "gist-commit": {
      "title": "Gist Commit",
      "description": "Gist Commit",
      "required": [
        "url",
        "version",
        "committed_at",
        "change_status"
      ],
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL address.",
          "title": "URL"
        },
        "version": {
          "type": "string",
          "description": "The version.",
          "title": "Version"
        },
        "change_status": {
          "type": "object",
          "properties": {
            "total": {
              "type": "integer",
              "description": "The total.",
              "title": "Total"
            },
            "additions": {
              "type": "integer",
              "description": "The number of additions.",
              "title": "Additions"
            },
            "deletions": {
              "type": "integer",
              "description": "The number of deletions.",
              "title": "Deletions"
            }
          }
        },
        "committed_at": {
          "type": "string",
          "description": "When committed at.",
          "title": "Committed At"
        }
      }
    }
  },
  "parameters": {
    "per-page": {
      "in": "query",
      "x-ms-summary": "Per Page",
      "name": "per_page",
      "description": "The number of results per page (max 100).",
      "type": "integer",
      "default": 30
    },
    "page": {
      "in": "query",
      "x-ms-summary": "Page",
      "name": "page",
      "description": "Page number of the results to fetch.",
      "type": "integer",
      "default": 1
    },
    "since": {
      "in": "query",
      "x-ms-summary": "Since",
      "name": "since",
      "description": "Only show notifications updated after the given time. This is a timestamp in ISO 8601 format: `YYYY-MM-DDTHH:MM:SSZ`.",
      "type": "string"
    },
    "pagination-before": {
      "in": "query",
      "x-ms-summary": "Pagination Before",
      "name": "before",
      "description": "A cursor, as given in the Link header. If specified, the query only searches for results before this cursor.",
      "type": "string"
    },
    "pagination-after": {
      "in": "query",
      "x-ms-summary": "Pagination After",
      "name": "after",
      "description": "A cursor, as given in the Link header. If specified, the query only searches for results after this cursor.",
      "type": "string"
    },
    "gist-id": {
      "in": "path",
      "x-ms-summary": "Gist ID",
      "x-ms-url-encoding": "single",
      "name": "gist_id",
      "description": "The unique identifier of the gist.",
      "required": true,
      "type": "string"
    },
    "comment-id": {
      "in": "path",
      "x-ms-summary": "Comment ID",
      "x-ms-url-encoding": "single",
      "name": "comment_id",
      "description": "The unique identifier of the comment.",
      "required": true,
      "type": "integer"
    },
    "commit-sha": {
      "in": "path",
      "x-ms-summary": "Commit SHA",
      "x-ms-url-encoding": "single",
      "name": "commit_sha",
      "description": "The SHA of the commit.",
      "required": true,
      "type": "string",
      "x-multi-segment": true
    }
  },
  "responses": {
    "accepted": {
      "description": "Accepted",
      "schema": {
        "type": "object"
      }
    }
  },
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://github.com/login/oauth/authorize",
      "tokenUrl": "https://github.com/login/oauth/access_token",
      "scopes": {
        "gist": "gist"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "gist"
      ]
    }
  ],
  "tags": [
    {
      "name": "gists",
      "description": "View and modify your gists."
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.github.com/en/rest/gists/gists"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://docs.github.com/en/github/site-policy/github-privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files"
    }
  ]
}
