################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/independent-publisher-connectors/.vs
