{
  "swagger": "2.0",
  "info": {
    "title": "Impower",
    "description": "Connector to Upload Invoices to Impower",
    "version": "1.0",
    "contact": {
      "name": "Impower GmbH",
      "url": "https://www.impower.de",
      "email": "info@impower.de"
    }
  },
  "host": "api.app.impower.de",
  "basePath": "/services",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/pmp-accounting/api/v1/invoices/upload": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InvoiceEpo"
            }
          }
        },
        "summary": "Rechnung hochladen",
        "description": "Rechnung an Impower senden",
        "operationId": "Upload_Invoice",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "Rechnungsdatei",
            "required": true,
            "type": "file",
            "x-ms-summary": "Rechnungsdatei"
          }
        ]
      }
    },
    "/pmp-accounting/api/v1/invoices/id": {
      "get": {
        "summary": "Rechnungsdetails abrufen",
        "description": "Impower Rechnungsdetails abrufen",
        "operationId": "Get_Invoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "query",
            "description": "Rechnungs ID",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Rechnungs ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InvoiceDto"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    }
  },
  "definitions": {
    "InvoiceEpo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "refNr": {
          "type": "string",
          "description": "Referenz Nr"
        },
        "invoiceHrId": {
          "type": "string",
          "description": "Rechnungs-ID"
        },
        "documentUrl": {
          "type": "string",
          "description": "Rechnung URL"
        },
        "state": {
          "type": "string",
          "description": "Status"
        }
      },
      "title": "InvoiceEpo"
    },
    "InvoiceDto": {
      "type": "object",
      "properties": {
        "counterpartBic": {
          "type": "string",
          "description": "BIC Rechnungssteller"
        },
        "counterpartContactId": {
          "type": "integer",
          "format": "int64",
          "description": "KontaktID Rechnungssteller"
        },
        "counterpartIban": {
          "type": "string",
          "description": "IBAN Rechnungssteller"
        },
        "counterpartName": {
          "type": "string",
          "description": "Rechnungssteller"
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "Anlagedatum"
        },
        "documentUrl": {
          "type": "string",
          "description": "URL der Rechnung"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "invoiceDate": {
          "type": "string",
          "description": "Rechnungsdatum"
        },
        "invoiceHrId": {
          "type": "string",
          "description": "Rechnungs-ID"
        },
        "invoiceNumber": {
          "type": "string",
          "description": "Rechnungsnummer"
        },
        "paymentTargetDate": {
          "type": "string",
          "description": "Datum Zahlungsziel"
        },
        "paymentType": {
          "type": "string",
          "description": "Bezahlverfahren"
        },
        "propertyHrId": {
          "type": "string",
          "description": "Objekt-NR"
        },
        "propertyId": {
          "type": "integer",
          "format": "int64",
          "description": "Objekt-ID"
        },
        "propertyIdInternal": {
          "type": "string",
          "description": "Objekt-Nr. Intern"
        },
        "propertyName": {
          "type": "string",
          "description": "Objektname"
        },
        "refNr": {
          "type": "string",
          "description": "Referenznummer"
        },
        "state": {
          "type": "string",
          "enum": [
            "NEW",
            "APPROVED",
            "RECURRING",
            "RECURRING_STOPPED",
            "DELETED"
          ],
          "description": "Status der Rechnung"
        },
        "totalGross": {
          "type": "number",
          "description": "Bruttosumme"
        },
        "totalNet": {
          "type": "number",
          "description": "Nettosumme"
        },
        "vatIncluded": {
          "type": "boolean",
          "description": "MwSt. inkl."
        },
        "vatPercentage": {
          "type": "number",
          "description": "MwSt.-Satz"
        }
      },
      "title": "InvoiceDto"
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API-Schl\u00fcssel": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API-Schl\u00fcssel": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.impower.de"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.impower.de/datenschutzerklaerung"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Finance"
    }
  ]
}