{
  "swagger": "2.0",
  "info": {
    "title": "Akeyless Secrets Manager",
    "description": "Securely connect to Akeyless Secrets Manager to retrieve secrets and passwords.\nUses Access ID + Access Key authentication.\nSupports Get Secret and Get Password value.",
    "version": "1.0",
    "contact": {
      "name": "Akeyless",
      "url": "https://www.akeyless.io/"
    }
  },
  "host": "api.akeyless.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/get-secret-value/text": {
      "post": {
        "responses": {
          "200": {
            "description": "Secret value returned by Akeyless.",
            "schema": {
              "type": "object",
              "properties": {
                "SecretValue": {
                  "type": "string",
                  "description": "Plain-text secret value.",
                  "title": "Secret value"
                }
              }
            }
          },
          "default": {
            "description": "Error or non-success response.",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error message."
                }
              }
            }
          }
        },
        "summary": "Get Secret",
        "description": "Retrieves a secret value. Enter Access Id and Access Key once on the connection; here supply only the secret path.",
        "operationId": "GetSecret",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "secret_name"
              ],
              "properties": {
                "secret_name": {
                  "type": "string",
                  "description": "Full path of the secret in Akeyless (for example /Prod/DB/Password).",
                  "title": "Secret name"
                }
              }
            }
          }
        ]
      }
    },
    "/get-secret-value/json": {
      "post": {
        "responses": {
          "200": {
            "description": "Structured credential fields from Akeyless.",
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "type": "string",
                  "description": "Username when the secret is stored as credentials."
                },
                "password": {
                  "type": "string",
                  "description": "Password when the secret is stored as credentials."
                }
              }
            }
          },
          "default": {
            "description": "Error or non-success response.",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error message."
                }
              }
            }
          }
        },
        "summary": "Get Password",
        "description": "Retrieves a structured username/password style secret. Use the same connection (Access Id / Access Key); supply only the secret path here.",
        "operationId": "GetPassword",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "secret_name"
              ],
              "properties": {
                "secret_name": {
                  "type": "string",
                  "description": "Full path of the secret in Akeyless.",
                  "title": "Secret name"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.akeyless.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.akeyless.io/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security;IT Operations"
    }
  ]
}
