{
  "swagger": "2.0",
  "info": {
    "version": "1.0.4",
    "title": "Virus Total",
    "description": "Virus Total is an online service that analyzes suspicious files and URLs to detect types of malware and malicious content using antivirus engines and website scanners. It provides an API that allows users to access the information generated by VirusTotal.",
    "contact": {
      "name": "Microsoft",
      "url": "https://azure.microsoft.com/",
      "email": "azuresentinel@microsoft.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "www.virustotal.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v3/ip_addresses/{ip}": {
      "get": {
        "summary": "Ip scan report V3",
        "description": "Scan Ip to get full report",
        "operationId": "VirusTotalGetIpScanV3",
        "parameters": [
          {
            "in": "path",
            "name": "ip",
            "description": "Ip to verify",
            "required": true,
            "type": "string",
            "x-ms-summary": "IP Address",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/ipResult"
            }
          }
        }
      }
    },
    "/api/v3/urls": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "summary": "Analyse an URL",
        "description": "Analyse an URL",
        "operationId": "VirusTotalAnalysisurlV3",
        "parameters": [
          {
            "in": "formData",
            "name": "url",
            "description": "URL to verify",
            "required": true,
            "type": "string",
            "x-ms-summary": "URL"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/urlReport"
            }
          }
        }
      }
    },
    "/api/v3/analyses/{id}": {
      "get": {
        "summary": "Retrieve information about a file or URL analysis",
        "description": "Retrieve information about a file or URL analysis. This action uses the output id of Analyse an URL or Upload and analyse a file.",
        "operationId": "VirusTotalRetrieveInfo",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "report",
            "required": true,
            "type": "string",
            "x-ms-summary": "id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/analysesResponses"
            }
          }
        }
      }
    },
    "/api/v3/files/{id}": {
      "get": {
        "summary": "Retrieve information about a file",
        "description": "Retrieve information about a file. This action uses the output id of Upload and analyse a file.",
        "operationId": "VirusTotalRetrieveInfoaboutFile",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "SHA-256, SHA-1 or MD5 identifying the file",
            "required": true,
            "type": "string",
            "x-ms-summary": "id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/fileReport"
            }
          }
        }
      }
    },
    "/api/v3/files": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "summary": "Upload and analyse a file",
        "description": "Upload and analyse a file",
        "operationId": "VirusTotalAnalyesFile",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "description": "File to be scanned",
            "required": true,
            "x-ms-summary": "file path",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/filesReport"
            }
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://developers.virustotal.com/v3.0/reference"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://support.virustotal.com/hc/en-us/articles/115002168385-Privacy-Policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website"
    }
  ],
  "definitions": {
    "analysesResponses": {
      "description": "report result",
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "properties": {
            "attributes": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "integer"
                },
                "results": {
                  "type": "object",
                  "properties": {
                    "ADMINUSLabs": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "ADMINUSLabs Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "ADMINUSLabs Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "ADMINUSLabs Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "AegisLab WebGuard": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "AegisLab WebGuard Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "AegisLab WebGuard Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "AegisLab WebGuard Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "AlienVault": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "AlienVault Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "AlienVault Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "AlienVault Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Antiy-AVL": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Antiy-AVL Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Antiy-AVL Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Antiy-AVL Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "AutoShun": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "AutoShun Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "AutoShun Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "AutoShun Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Avira": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Avira Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Avira Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Avira Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "BADWARE.INFO": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "BADWARE.INFO Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "BADWARE.INFO Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "BADWARE.INFO Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Baidu-International": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Baidu-International Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Baidu-International Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Baidu-International Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "BitDefender": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "BitDefender Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "BitDefender Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "BitDefender Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Blueliv": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Blueliv Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Blueliv Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Blueliv Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "CLEAN MX": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "CLEAN MX Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "CLEAN MX Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "CLEAN MX Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "CRDF": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "CRDF Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "CRDF Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "CRDF Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Comodo Site Inspector": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Comodo Site Inspector Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Comodo Site Inspector Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Comodo Site Inspector Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Comodo Valkyrie Verdict": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Comodo Valkyrie Verdict Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Comodo Valkyrie Verdict Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Comodo Valkyrie Verdict Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "CyRadar": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "CyRadar Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "CyRadar Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "CyRadar Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "CyberCrime": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "CyberCrime Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "CyberCrime Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "CyberCrime Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "DNS8": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "DNS8 Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "DNS8 Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "DNS8 Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Dr.Web": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Dr.Web Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Dr.Web Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Dr.Web Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "ESET": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "ESET Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "ESET Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "ESET Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "ESTsecurity-Threat Inside": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "ESTsecurity-Threat Inside Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "ESTsecurity-Threat Inside Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "ESTsecurity-Threat Inside Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Emsisoft": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Emsisoft Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Emsisoft Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Emsisoft Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "EonScope": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "EonScope Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "EonScope Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "EonScope Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Forcepoint ThreatSeeker": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Forcepoint ThreatSeeker Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Forcepoint ThreatSeeker Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Forcepoint ThreatSeeker Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Fortinet": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Fortinet Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Fortinet Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Fortinet Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "FraudScore": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "FraudScore Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "FraudScore Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "FraudScore Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "FraudSense": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "FraudSense Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "FraudSense Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "FraudSense Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "G-Data": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "G-Data Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "G-Data Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "G-Data Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Google Safebrowsing": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Google Safebrowsing Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Google Safebrowsing Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Google Safebrowsing Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "K7AntiVirus": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "K7AntiVirus Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "K7AntiVirus Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "K7AntiVirus Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Kaspersky": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Kaspersky Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Kaspersky Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Kaspersky Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Malc0de Database": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Malc0de Database Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Malc0de Database Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Malc0de Database Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Malekal": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Malekal Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Malekal Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Malekal Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Malware Domain Blocklist": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Malware Domain Blocklist Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Malware Domain Blocklist Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Malware Domain Blocklist Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "MalwareDomainList": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "MalwareDomainList Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "MalwareDomainList Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "MalwareDomainList Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "MalwarePatrol": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "MalwarePatrol Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "MalwarePatrol Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "MalwarePatrol Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Malwarebytes hpHosts": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Malwarebytes hpHosts Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Malwarebytes hpHosts Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Malwarebytes hpHosts Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Malwared": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Malwared Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Malwared Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Malwared Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Netcraft": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Netcraft Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Netcraft Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Netcraft Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "NotMining": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "NotMining Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "NotMining Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "NotMining Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Nucleon": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Nucleon Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Nucleon Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Nucleon Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "OpenPhish": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "OpenPhish Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "OpenPhish Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "OpenPhish Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Opera": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Opera Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Opera Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Opera Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "PhishLabs": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "PhishLabs Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "PhishLabs Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "PhishLabs Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Phishtank": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Phishtank Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Phishtank Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Phishtank Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Quttera": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Quttera Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Quttera Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Quttera Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Rising": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Rising Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Rising Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Rising Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "SCUMWARE.org": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "SCUMWARE.org Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "SCUMWARE.org Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "SCUMWARE.org Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "SecureBrain": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "SecureBrain Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "SecureBrain Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "SecureBrain Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Segasec": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Segasec Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Segasec Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Segasec Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Sophos": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Sophos Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Sophos Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Sophos Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Spam404": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Spam404 Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Spam404 Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Spam404 Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Spamhaus": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Spamhaus Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Spamhaus Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Spamhaus Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "StopBadware": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "StopBadware Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "StopBadware Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "StopBadware Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Sucuri SiteCheck": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Sucuri SiteCheck Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Sucuri SiteCheck Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Sucuri SiteCheck Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Tencent": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Tencent Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Tencent Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Tencent Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "ThreatHive": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "ThreatHive Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "ThreatHive Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "ThreatHive Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Trustwave": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Threatwave Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Threatwave Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Threatwave Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "URLQuery": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "URLQuery Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "URLQuery Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "URLQuery Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "URLhaus": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "URLhaus Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "URLhaus Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "URLhaus Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "VX Vault": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "VX Vault Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "VX Vault Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "VX Vault Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Virusdie External Site Scan": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Virusdie External Site Scan Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Virusdie External Site Scan Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Virusdie External Site Scan Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Web Security Guard": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Web Security Guard Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Web Security Guard Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Web Security Guard Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Yandex Safebrowsing": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Yandex Safebrowsing Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Yandex Safebrowsing Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Yandex Safebrowsing Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "ZCloudsec": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "ZCloudsec Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "ZCloudsec Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "ZCloudsec Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "ZDB Zeus": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "ZDB Zeus Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "ZDB Zeus Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "ZDB Zeus Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "ZeroCERT": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "ZeroCERT Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "ZeroCERT Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "ZeroCERT Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "Zerofox": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Zerofox Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Zerofox Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Zerofox Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "ZeusTracker": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "ZeusTracker Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "ZeusTracker Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "ZeusTracker Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "desenmascara.me": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "desenmascara.me Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "desenmascara.me Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "desenmascara.me Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "malwares.com URL checker": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "malwares.com URL checker Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "malwares.com URL checker Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "malwares.com URL checker Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "securolytics": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "securolytics Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "securolytics Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "securolytics Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    },
                    "zvelo": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "zvelo Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "zvelo method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "zvelo Result"
                        }
                      },
                      "required": [
                        "category",
                        "method",
                        "result"
                      ]
                    }
                  },
                  "required": [
                    "ADMINUSLabs",
                    "AegisLab WebGuard",
                    "AlienVault",
                    "Antiy-AVL",
                    "AutoShun",
                    "Avira",
                    "BADWARE.INFO",
                    "Baidu-International",
                    "BitDefender",
                    "Blueliv",
                    "CLEAN MX",
                    "CRDF",
                    "Comodo Site Inspector",
                    "Comodo Valkyrie Verdict",
                    "CyRadar",
                    "CyberCrime",
                    "DNS8",
                    "Dr.Web",
                    "ESET",
                    "ESTsecurity-Threat Inside",
                    "Emsisoft",
                    "EonScope",
                    "Forcepoint ThreatSeeker",
                    "Fortinet",
                    "FraudScore",
                    "FraudSense",
                    "G-Data",
                    "Google Safebrowsing",
                    "K7AntiVirus",
                    "Kaspersky",
                    "Malc0de Database",
                    "Malekal",
                    "Malware Domain Blocklist",
                    "MalwareDomainList",
                    "MalwarePatrol",
                    "Malwarebytes hpHosts",
                    "Malwared",
                    "Netcraft",
                    "NotMining",
                    "Nucleon",
                    "OpenPhish",
                    "Opera",
                    "PhishLabs",
                    "Phishtank",
                    "Quttera",
                    "Rising",
                    "SCUMWARE.org",
                    "SecureBrain",
                    "Segasec",
                    "Sophos",
                    "Spam404",
                    "Spamhaus",
                    "StopBadware",
                    "Sucuri SiteCheck",
                    "Tencent",
                    "ThreatHive",
                    "Trustwave",
                    "URLQuery",
                    "URLhaus",
                    "VX Vault",
                    "Virusdie External Site Scan",
                    "Web Security Guard",
                    "Yandex Safebrowsing",
                    "ZCloudsec",
                    "ZDB Zeus",
                    "ZeroCERT",
                    "Zerofox",
                    "ZeusTracker",
                    "desenmascara.me",
                    "malwares.com URL checker",
                    "securolytics",
                    "zvelo"
                  ]
                },
                "stats": {
                  "type": "object",
                  "properties": {
                    "harmless": {
                      "type": "integer",
                      "x-ms-summary": "harmless stats"
                    },
                    "malicious": {
                      "type": "integer",
                      "x-ms-summary": "malicious"
                    },
                    "suspicious": {
                      "type": "integer",
                      "x-ms-summary": "suspicious"
                    },
                    "timeout": {
                      "type": "integer",
                      "x-ms-summary": "TimeOut"
                    },
                    "undetected": {
                      "type": "integer",
                      "x-ms-summary": "undetected"
                    }
                  },
                  "required": [
                    "harmless",
                    "malicious",
                    "suspicious",
                    "timeout",
                    "undetected"
                  ]
                },
                "status": {
                  "type": "string",
                  "x-ms-summary": "status"
                }
              },
              "required": [
                "date",
                "results",
                "stats",
                "status"
              ]
            },
            "id": {
              "type": "string",
              "x-ms-summary": "id"
            },
            "type": {
              "type": "string"
            }
          },
          "required": [
            "attributes",
            "id",
            "type"
          ]
        },
        "meta": {
          "type": "object",
          "properties": {
            "url_info": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "x-ms-summary": "url_info Id"
                },
                "url": {
                  "type": "string",
                  "x-ms-summary": "url"
                }
              },
              "required": [
                "id",
                "url"
              ]
            }
          },
          "required": [
            "url_info"
          ]
        }
      },
      "required": [
        "data",
        "meta"
      ]
    },
    "fileReport": {
      "type": "object",
      "properties": {
        "FileType": {
          "type": "string"
        },
        "FileTypeExtension": {
          "type": "string"
        },
        "LineCount": {
          "type": "integer"
        },
        "MIMEEncoding": {
          "type": "string"
        },
        "MIMEType": {
          "type": "string"
        },
        "Newlines": {
          "type": "string"
        },
        "WordCount": {
          "type": "integer"
        }
      }
    },
    "urlReport": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            }
          }
        }
      }
    },
    "filesReport": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            }
          }
        }
      }
    },
    "ipResult": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "properties": {
            "attributes": {
              "type": "object",
              "properties": {
                "as_owner": {
                  "type": "string"
                },
                "asn": {
                  "type": "integer"
                },
                "continent": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "last_analysis_results": {
                  "type": "object",
                  "properties": {
                    "ADMINUSLabs": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "ADMINUS Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "ADMINUS Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "ADMINUS Result"
                        }
                      }
                    },
                    "AegisLab WebGuard": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "AegisLab WebGuard Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "AegisLab WebGuard Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "AegisLab WebGuard Result"
                        }
                      }
                    },
                    "AlienVault": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "AlienVault Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "AlienVault Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "AlienVault Result"
                        }
                      }
                    },
                    "Antiy-AVL": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Antiy-AVL Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Antiy-AVL Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Antiy-AVL Result"
                        }
                      }
                    },
                    "AutoShun": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "AutoShun Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "AutoShun Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "AutoShun Result"
                        }
                      }
                    },
                    "Avira": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Avira Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Avira Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Avira Result"
                        }
                      }
                    },
                    "BADWARE.INFO": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "BADWARE.INFO Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "BADWARE.INFO Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "BADWARE.INFO Result"
                        }
                      }
                    },
                    "Baidu-International": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Baidu-International Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Baidu-International Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Baidu-International Result"
                        }
                      }
                    },
                    "BitDefender": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "BitDefender Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "BitDefender Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "BitDefender Result"
                        }
                      }
                    },
                    "Blueliv": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Blueliv Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Blueliv Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Blueliv Result"
                        }
                      }
                    },
                    "Botvrij.eu": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Botvrij.eu Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Botvrij.eu Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Botvrij.eu Result"
                        }
                      }
                    },
                    "CLEAN MX": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "CLEAN MX Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "CLEAN MX Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "CLEAN MX Result"
                        }
                      }
                    },
                    "CRDF": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "CRDF Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "CRDF Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "CRDF Result"
                        }
                      }
                    },
                    "Comodo Valkyrie Verdict": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Comodo Valkyrie Verdict Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Comodo Valkyrie Verdict Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Comodo Valkyrie Verdict Result"
                        }
                      }
                    },
                    "CyRadar": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "CyRadar Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "CyRadar Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "CyRadar Result"
                        }
                      }
                    },
                    "CyberCrime": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "CyberCrime Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "CyberCrime Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "CyberCrime Result"
                        }
                      }
                    },
                    "DNS8": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "DNS8 Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "DNS8 Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "DNS8 Result"
                        }
                      }
                    },
                    "Dr.Web": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Dr.Web Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Dr.Web Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Dr.Web Result"
                        }
                      }
                    },
                    "ESET": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "ESET Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "ESET Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "ESET Result"
                        }
                      }
                    },
                    "ESTsecurity-Threat Inside": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "ESTsecurity-Threat Inside Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "ESTsecurity-Threat Inside Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "ESTsecurity-Threat Result"
                        }
                      }
                    },
                    "EmergingThreats": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "EmergingThreats Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "EmergingThreats Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "EmergingThreats Result"
                        }
                      }
                    },
                    "Emsisoft": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Emsisoft Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Emsisoft Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Emsisoft Result"
                        }
                      }
                    },
                    "EonScope": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "EonScope Category"
                        },
                        "engine_name": {
                          "type": "string",
                          "x-ms-summary": "EonScope Engine Name"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "EonScope Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "EonScope Result"
                        }
                      }
                    },
                    "Forcepoint ThreatSeeker": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Forcepoint ThreatSeeker Category"
                        },
                        "engine_name": {
                          "type": "string",
                          "x-ms-summary": "Forcepoint ThreatSeeker Engine Name"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Forcepoint ThreatSeeker Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Forcepoint ThreatSeeker Result"
                        }
                      }
                    },
                    "Fortinet": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Fortinet Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Fortinet Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Fortinet Result"
                        }
                      }
                    },
                    "FraudScore": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "FraudScore Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "FraudScore Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "FraudScore Result"
                        }
                      }
                    },
                    "FraudSense": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "FraudSense Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "FraudSense Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "FraudSense Result"
                        }
                      }
                    },
                    "G-Data": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "G-Data Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "G-Data Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "G-Data Result"
                        }
                      }
                    },
                    "Google Safebrowsing": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Google Safebrowsing Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Google Safebrowsing Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Google Safebrowsing Result"
                        }
                      }
                    },
                    "IPsum": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "IPsum Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "IPsum Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "IPsum Result"
                        }
                      }
                    },
                    "K7AntiVirus": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "K7AntiVirus Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "K7AntiVirus Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "K7AntiVirus Result"
                        }
                      }
                    },
                    "Kaspersky": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Kaspersky Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Kaspersky Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Kaspersky Result"
                        }
                      }
                    },
                    "Malc0de Database": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Malc0de Database Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Malc0de Database Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Malc0de Database Result"
                        }
                      }
                    },
                    "Malware Domain Blocklist": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Malware Domain Blocklist Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Malware Domain Blocklist Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Malware Domain Blocklist Result"
                        }
                      }
                    },
                    "MalwareDomainList": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "MalwareDomainList Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "MalwareDomainList Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "MalwareDomainList Result"
                        }
                      }
                    },
                    "MalwarePatrol": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "MalwarePatrol Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "MalwarePatrol Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "MalwarePatrol Result"
                        }
                      }
                    },
                    "Malwarebytes hpHosts": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Malwarebytes hpHosts Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Malwarebytes hpHosts Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Malwarebytes hpHosts Result"
                        }
                      }
                    },
                    "Malwared": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Malwared Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Malwared Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Malwared Result"
                        }
                      }
                    },
                    "Netcraft": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "Netcraft Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "Netcraft Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "Netcraft Result"
                        }
                      }
                    },
                    "NotMining": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "x-ms-summary": "NotMining Category"
                        },
                        "method": {
                          "type": "string",
                          "x-ms-summary": "NotMining Method"
                        },
                        "result": {
                          "type": "string",
                          "x-ms-summary": "NotMining Result"
                        }
                      }
                    },
                    "Nucleon": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
[...]
