{
  "swagger": "2.0",
  "info": {
      "version": "1.0.5",
      "title": "Virus Total",
      "description": "Virus Total is an online service that analyzes suspicious files and URLs to detect types of malware and malicious content using antivirus engines and website scanners. It provides an API that allows users to access the information generated by VirusTotal.",
      "contact": {
          "name": "Microsoft",
          "url": "https://azure.microsoft.com/",
          "email": "azuresentinel@microsoft.com"
      },
      "x-ms-api-annotation": {
          "status": "Preview"
      }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://virustotal.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://support.virustotal.com/hc/en-us/articles/115002168385-Privacy-Policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security;IT Operations"
    }
  ],
  "host": "www.virustotal.com",
  "basePath": "/",
  "schemes": [
      "https"
  ],
  "consumes": [],
  "produces": [
      "application/json"
  ],
  "paths": {
      "/api/v3/urls": {
          "post": {
              "consumes": [
                  "multipart/form-data"
              ],
              "summary": "Analyze a URL",
              "description": "Analyze a URL",
              "operationId": "VirusTotalAnalysisurlV3",
              "parameters": [
                  {
                      "in": "formData",
                      "name": "url",
                      "description": "URL to verify",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "URL"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Ok",
                      "schema": {
                          "$ref": "#/definitions/urlReport"
                      }
                  }
              }
          }
      },
      "/api/v3/urls/{id}": {
          "get": {
              "summary": "Get URL report",
              "description": "Get URL report",
              "operationId": "VirusTotalGetUrlReport",
              "parameters": [
                  {
                      "in": "path",
                      "name": "id",
                      "description": "URL identifier or base64 representation of URL to scan",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Id",
                      "x-ms-url-encoding": "single"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "default",
                      "schema": {
                          "$ref": "#/definitions/urlResult"
                      }
                  }
              }
          }
      },
      "/api/v3/ip_addresses/{ip}": {
          "get": {
              "summary": "Get an IP report",
              "description": "Get an IP report",
              "operationId": "VirusTotalGetIpScanV3",
              "parameters": [
                  {
                      "in": "path",
                      "name": "ip",
                      "description": "Ip to verify",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "IP Address",
                      "x-ms-url-encoding": "single"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Ok",
                      "schema": {
                          "$ref": "#/definitions/ipResult"
                      }
                  }
              }
          }
      },
      "/api/v3/analyses/{id}": {
          "get": {
              "summary": "Retrieve information about a file or URL analysis",
              "description": "Retrieve information about a file or URL analysis. This action uses the output id of Analyse an URL or Upload and analyse a file.",
              "operationId": "VirusTotalRetrieveInfo",
              "parameters": [
                  {
                      "in": "path",
                      "name": "id",
                      "description": "Report Id",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Id",
                      "x-ms-url-encoding": "single"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Ok",
                      "schema": {
                          "$ref": "#/definitions/analysesResponses"
                      }
                  }
              }
          }
      },
      "/api/v3/files/{id}": {
          "get": {
              "summary": "Get file report",
              "description": "Retrieve information about a file.",
              "operationId": "VirusTotalRetrieveInfoaboutFile",
              "parameters": [
                  {
                      "in": "path",
                      "name": "id",
                      "description": "SHA-256, SHA-1 or MD5 identifying the file",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Id",
                      "x-ms-url-encoding": "single"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Ok",
                      "schema": {
                          "$ref": "#/definitions/fileReport"
                      }
                  }
              }
          }
      },
      "/api/v3/files": {
          "post": {
              "consumes": [
                  "multipart/form-data"
              ],
              "summary": "Upload and analyze a file",
              "description": "Upload and analyze a file",
              "operationId": "VirusTotalAnalyesFile",
              "parameters": [
                  {
                      "in": "formData",
                      "name": "file",
                      "description": "File to be scanned",
                      "required": true,
                      "x-ms-summary": "File path",
                      "type": "file"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Ok",
                      "schema": {
                          "$ref": "#/definitions/filesReport"
                      }
                  }
              }
          }
      },
      "/api/v3/domains/{domain}": {
          "get": {
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/domainResult"
                      }
                  }
              },
              "summary": "Get Domain report",
              "description": "Get Domain report",
              "operationId": "VirusTotalGetDomainReport",
              "parameters": [
                  {
                      "name": "domain",
                      "in": "path",
                      "x-ms-summary": "Domain",
                      "description": "Url to verify",
                      "required": true,
                      "type": "string",
                      "x-ms-url-encoding": "single"
                  }
              ]
          }
      }
  },
  "definitions": {
      "fileReport": {
          "type": "object",
          "properties": {
              "data": {
                  "type": "object",
                  "properties": {
                      "attributes": {
                          "type": "object",
                          "properties": {
                              "authentihash": {
                                  "type": "string",
                                  "x-ms-summary": "Authentication hash",
                                  "description": "sha256 hash used by Microsoft to verify that the relevant sections of a PE image file have not been altered"
                              },
                              "creation_date": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Extracted when possible from the file's metadata",
                                  "x-ms-summary": "Creation date"
                              },
                              "first_seen_itw_date": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "First seen ITW date",
                                  "x-ms-summary": "First seen ITW Date"
                              },
                              "first_submission_date": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Date when the file was first seen in VirusTotal. UTC timestamp",
                                  "x-ms-summary": "First submission date"
                              },
                              "last_analysis_date": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Most recent scan date. UTC timestamp",
                                  "x-ms-summary": "Last analysis date"
                              },
                              "last_analysis_results": {
                                  "type": "object",
                                  "properties": {},
                                  "description": "Latest scan results",
                                  "x-ms-summary": "Last analysis results"
                              },
                              "last_analysis_stats": {
                                  "type": "object",
                                  "properties": {
                                      "harmless": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of reports saying that is harmless",
                                          "x-ms-summary": "Harmless"
                                      },
                                      "malicious": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of reports saying that is malicious",
                                          "x-ms-summary": "Malicious"
                                      },
                                      "suspicious": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of reports saying that is suspicious",
                                          "x-ms-summary": "Suspicious"
                                      },
                                      "timeout": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of timeouts when checking this URL",
                                          "x-ms-summary": "Timeout"
                                      },
                                      "undetected": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of reports saying that is undetected",
                                          "x-ms-summary": "Undetected"
                                      }
                                  },
                                  "description": "A summary of the latest scan results",
                                  "x-ms-summary": "Last analysis statistics"
                              },
                              "last_modification_date": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Date when the object itself was last modified. UTC timestamp",
                                  "x-ms-summary": "Last modification date"
                              },
                              "last_submission_date": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Most recent date the file was posted to VirusTotal. UTC timestamp",
                                  "x-ms-summary": "Last submission date"
                              },
                              "magic": {
                                  "type": "string",
                                  "description": "gives a guess of the file type based on a popular parsing tool from unix",
                                  "x-ms-summary": "Magic"
                              },
                              "md5": {
                                  "type": "string",
                                  "description": "file's MD5 hash",
                                  "x-ms-summary": "MD5"
                              },
                              "meaningful_name": {
                                  "type": "string",
                                  "description": "The most interesting name out of all file's names",
                                  "x-ms-summary": "Meaningful name"
                              },
                              "names": {
                                  "type": "array",
                                  "items": {
                                      "type": "string"
                                  },
                                  "description": "All file names associated with the file",
                                  "x-ms-summary": "Names"
                              },
                              "pe_info": {
                                  "type": "object",
                                  "properties": {},
                                  "description": "Returns information about the structure of Microsoft Windows PE files",
                                  "x-ms-summary": "Portable Executable"
                              },
                              "reputation": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "File's score calculated from all votes posted by the VirusTotal community",
                                  "x-ms-summary": "Reputation"
                              },
                              "sha1": {
                                  "type": "string",
                                  "description": "File's SHA1 hash",
                                  "x-ms-summary": "SHA1"
                              },
                              "sha256": {
                                  "type": "string",
                                  "description": "File's SHA256 hash",
                                  "x-ms-summary": "SHA256"
                              },
                              "signature_info": {
                                  "type": "object",
                                  "properties": {},
                                  "description": "Contains information about digital signature for Windows Executable and Mach-O files,",
                                  "x-ms-summary": "Signature info"
                              },
                              "size": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "file size in bytes",
                                  "x-ms-summary": "Size"
                              },
                              "ssdeep": {
                                  "type": "string",
                                  "description": "CTPH hash of the file content",
                                  "x-ms-summary": "Ssdeep"
                              },
                              "tags": {
                                  "type": "array",
                                  "items": {
                                      "type": "string"
                                  },
                                  "description": "List of representative attributes",
                                  "x-ms-summary": "Tags"
                              },
                              "times_submitted": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Number of times the file has been posted to VirusTotal",
                                  "x-ms-summary": "Times submitted"
                              },
                              "tlsh": {
                                  "type": "string",
                                  "description": "Trend Micro's TLSH hash",
                                  "x-ms-summary": "TLSH"
                              },
                              "total_votes": {
                                  "type": "object",
                                  "properties": {
                                      "harmless": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of positive votes",
                                          "x-ms-summary": "Harmless"
                                      },
                                      "malicious": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "number of negative votes",
                                          "x-ms-summary": "Malicious"
                                      }
                                  },
                                  "description": "nweighted number of total votes from the community, divided in harmless and malicious",
                                  "x-ms-summary": "Total votes"
                              },
                              "trid": {
                                  "type": "array",
                                  "items": {
                                      "type": "object",
                                      "properties": {}
                                  },
                                  "description": "file type identification tool",
                                  "x-ms-summary": "TRID"
                              },
                              "type_description": {
                                  "type": "string",
                                  "description": "Describes the file type",
                                  "x-ms-summary": "Type description"
                              },
                              "type_extension": {
                                  "type": "string",
                                  "description": "Specifies file extension",
                                  "x-ms-summary": "Type extension"
                              },
                              "type_tag": {
                                  "type": "string",
                                  "description": "Tag representing the file type",
                                  "x-ms-summary": "Type tag"
                              },
                              "unique_sources": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Indicates from how many different sources the file has been posted from",
                                  "x-ms-summary": "Unique sources"
                              },
                              "vhash": {
                                  "type": "string",
                                  "description": "In-house similarity clustering algorithm value based on a simple structural feature hash allows you to find similar files",
                                  "x-ms-summary": "Vhash"
                              }
                          },
                          "description": "attributes"
                      }
                  }
              }
          }
      },
      "analysesResponses": {
          "type": "object",
          "properties": {
              "date": {
                  "type": "integer",
                  "x-ms-summary": "Date",
                  "description": "Unix epoch UTC time (seconds)"
              },
              "results": {
                  "type": "object",
                  "x-ms-summary": "Results",
                  "description": "Dictionary having the engine's name as key and its result as value",
                  "properties": {}
              },
              "stats": {
                  "type": "object",
                  "x-ms-summary": "Statistics",
                  "description": "Summary of the results field",
                  "properties": {
                      "confirmed-timeout": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Number of AV engines that reach a timeout when analysing that file",
                          "x-ms-summary": "Confirmed Timeout"
                      },
                      "failure": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Number of AV engines that fail when analysing that file",
                          "x-ms-summary": "Failure"
                      },
                      "harmless": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Number of reports saying that is harmless",
                          "x-ms-summary": "Harmless"
                      },
                      "malicious": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Number of reports saying that is malicious",
                          "x-ms-summary": "Malicious"
                      },
                      "suspicious": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Number of reports saying that is suspicious",
                          "x-ms-summary": "Suspicious"
                      },
                      "timeout": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Number of timeouts when analysing this URL/file",
                          "x-ms-summary": "Timeout"
                      },
                      "type-unsupported": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Number of AV engines that don't support that type of file",
                          "x-ms-summary": "Type unsupported"
                      },
                      "undetected": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Number of reports saying that is undetected",
                          "x-ms-summary": "Undetected"
                      }
                  }
              },
              "status": {
                  "type": "string",
                  "x-ms-summary": "Status",
                  "description": "analysis status"
              }
          },
          "required": [
              "date",
              "results",
              "stats",
              "status"
          ]
      },
      "urlReport": {
          "type": "object",
          "properties": {
              "data": {
                  "type": "object",
                  "properties": {
                      "id": {
                          "type": "string"
                      }
                  }
              }
          }
      },
      "urlResult": {
          "type": "object",
          "properties": {
              "data": {
                  "type": "object",
                  "properties": {
                      "attributes": {
                          "type": "object",
                          "properties": {
                              "categories": {
                                  "type": "object",
                                  "x-ms-summary": "Categories",
                                  "properties": {},
                                  "description": "They key is the partner who categorised the URL and the value is the URL's category according to that partner"
                              },
                              "first_submission_date": {
                                  "type": "integer",
                                  "x-ms-summary": "First submission date",
                                  "format": "int32",
                                  "description": "UTC timestamp of the date where the URL was first submitted to VirusTotal"
                              },
                              "html_meta": {
                                  "type": "object",
                                  "x-ms-summary": "HTML meta tags",
                                  "properties": {},
                                  "description": "containing all meta tags (only for URLs downloading a HTML). Keys are the meta tag name and value is a list containing all values of that meta tag"
                              },
                              "last_analysis_date": {
                                  "type": "integer",
                                  "x-ms-summary": "Last analysis date",
                                  "format": "int32",
                                  "description": "UTC timestamp representing last time the URL was scanned"
                              },
                              "last_analysis_results": {
                                  "type": "object",
                                  "x-ms-summary": "Last analysis results",
                                  "properties": {},
                                  "description": "Result from URL scanners. Dictionary with scanner name as key and a dict with notes / result from that scanner as value"
                              },
                              "last_analysis_stats": {
                                  "type": "object",
                                  "x-ms-summary": "Last analysis statistics",
                                  "properties": {
                                      "harmless": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of reports saying that is harmless",
                                          "x-ms-summary": "Harmless"
                                      },
                                      "malicious": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of reports saying that is malicious",
                                          "x-ms-summary": "Malicious"
                                      },
                                      "suspicious": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of reports saying that is suspicious",
                                          "x-ms-summary": "Suspicious"
                                      },
                                      "timeout": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of timeouts when checking this URL",
                                          "x-ms-summary": "Timeout"
                                      },
                                      "undetected": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of reports saying that is undetected",
                                          "x-ms-summary": "Undetected"
                                      }
                                  },
                                  "description": "Number of different results from this scans"
                              },
                              "last_final_url": {
                                  "type": "string",
                                  "x-ms-summary": "Last final url",
                                  "description": "If the original URL redirects where does it end"
                              },
                              "last_http_response_code": {
                                  "type": "integer",
                                  "x-ms-summary": "Last HTTP response code",
                                  "format": "int32",
                                  "description": "HTTP response code of the last response"
                              },
                              "last_http_response_content_length": {
                                  "type": "integer",
                                  "x-ms-summary": "Last HTTP response content length",
                                  "format": "int32",
                                  "description": "Length in bytes of the content received"
                              },
                              "last_http_response_content_sha256": {
                                  "type": "string",
                                  "x-ms-summary": "Last HTTP response content SHA256",
                                  "description": "URL response body's SHA256 hash"
                              },
                              "last_http_response_cookies": {
                                  "type": "object",
                                  "x-ms-summary": "Last HTTP response cookies",
                                  "properties": {},
                                  "description": "Containing the website's cookies"
                              },
                              "last_http_response_headers": {
                                  "type": "object",
                                  "x-ms-summary": "Last HTTP response headers",
                                  "properties": {},
                                  "description": "Containing headers and values of last HTTP respons"
                              },
                              "last_modification_date": {
                                  "type": "integer",
                                  "x-ms-summary": "Last modification date",
                                  "format": "int32",
                                  "description": "UTC timestamp representing last modification date"
                              },
                              "last_submission_date": {
                                  "type": "integer",
                                  "x-ms-summary": "Last submission date",
                                  "format": "int32",
                                  "description": "UTC timestamp representing last time it was sent to be analysed"
                              },
                              "outgoing_links": {
                                  "type": "array",
                                  "items": {},
                                  "x-ms-summary": "Outgoing links",
                                  "description": "Containing links to different domains"
                              },
                              "reputation": {
                                  "type": "integer",
                                  "x-ms-summary": "Reputation",
                                  "format": "int32",
                                  "description": "Value of votes from VirusTotal community"
                              },
                              "tags": {
                                  "type": "array",
                                  "x-ms-summary": "Tags",
                                  "items": {},
                                  "description": "Tags"
                              },
                              "targeted_brand": {
                                  "type": "object",
                                  "x-ms-summary": "Targeted brand",
                                  "properties": {},
                                  "description": "Targeted brand info extracted from phishing engines"
                              },
                              "times_submitted": {
                                  "type": "integer",
                                  "x-ms-summary": "Times submitted",
                                  "format": "int32",
                                  "description": "Number of times that URL has been checked"
                              },
                              "title": {
                                  "type": "string",
                                  "x-ms-summary": "Title",
                                  "description": "Webpage title"
                              },
                              "total_votes": {
                                  "type": "object",
                                  "x-ms-summary": "Total votes",
                                  "properties": {
                                      "harmless": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of positive votes",
                                          "x-ms-summary": "Harmless"
                                      },
                                      "malicious": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "number of negative votes",
                                          "x-ms-summary": "Malicious"
                                      }
                                  },
                                  "description": "Containing the number of positive (\"harmless\") and negative (\"malicious\") votes received from VT community"
                              },
                              "trackers": {
                                  "type": "object",
                                  "x-ms-summary": "Trackers",
                                  "properties": {},
                                  "description": "Contains all found trackers in that URL in a historical manner"
                              },
                              "url": {
                                  "type": "string",
                                  "x-ms-summary": "URL",
                                  "description": "Original URL to be scanned"
                              }
                          }
                      }
                  }
              }
          }
      },
      "filesReport": {
          "type": "object",
          "properties": {
              "data": {
                  "type": "object",
                  "properties": {
                      "id": {
                          "type": "string"
                      }
                  }
              }
          }
      },
      "ipResult": {
          "type": "object",
          "properties": {
              "data": {
                  "type": "object",
                  "properties": {
                      "attributes": {
                          "type": "object",
                          "properties": {
                              "as_owner": {
                                  "type": "string",
                                  "x-ms-summary": "Owner",
                                  "description": "Owner of the Autonomous System to which the IP belongs",
                                  "x-ms-visibility": "important"
                              },
                              "asn": {
                                  "type": "integer",
                                  "x-ms-summary": "ASN",
                                  "description": "Autonomous System Number to which the IP belongs"
                              },
                              "continent": {
                                  "type": "string",
                                  "x-ms-summary": "Continent",
                                  "description": "Continent where the IP is placed (ISO-3166 continent code)"
                              },
                              "country": {
                                  "type": "string",
                                  "x-ms-summary": "Country",
                                  "description": "Country where the IP is placed (ISO-3166 country code)"
                              },
                              "last_analysis_results": {
                                  "type": "object",
                                  "x-ms-summary": "Last analysis results",
                                  "description": "Result from URL scanners. Dictionary with scanner name as key and a dictionary with notes/result from that scanner as value",
                                  "properties": {}
                              },
                              "last_analysis_stats": {
                                  "type": "object",
                                  "x-ms-summary": "Last analysis statistics",
                                  "description": "Number of different results from this scans",
                                  "properties": {
                                      "harmless": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of reports saying that is harmless",
                                          "x-ms-summary": "Harmless"
                                      },
                                      "malicious": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of reports saying that is malicious",
                                          "x-ms-summary": "Malicious"
                                      },
                                      "suspicious": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of reports saying that is suspicious",
                                          "x-ms-summary": "Suspicious"
                                      },
                                      "timeout": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of timeouts when checking this URL",
                                          "x-ms-summary": "Timeout"
                                      },
                                      "undetected": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of reports saying that is undetected",
                                          "x-ms-summary": "Undetected"
                                      }
                                  }
                              },
                              "last_https_certificate": {
                                  "type": "object",
                                  "x-ms-summary": "Last https certificate",
                                  "description": "SSL Certificate object certificate information for that IP"
                              },
                              "last_https_certificate_date": {
                                  "type": "integer",
                                  "x-ms-summary": "Last https certificate date",
                                  "description": "Date when the certificate shown in last_https_certificate was retrieved by VirusTotal. UTC timestamp"
                              },
                              "last_modification_date": {
                                  "type": "integer",
                                  "x-ms-summary": "Last Modification Date",
                                  "description": "Date when any of the IP's information was last updated. UTC timestamp"
                              },
                              "network": {
                                  "type": "string",
                                  "x-ms-summary": "Network",
                                  "description": "IPv4 network range to which the IP belongs"
                              },
                              "regional_internet_registry": {
                                  "type": "string",
                                  "x-ms-summary": "Regional internet registry",
                                  "description": "RIR (one of the current RIRs)"
                              },
                              "reputation": {
                                  "type": "integer",
                                  "x-ms-summary": "Reputation",
                                  "description": "IP's score calculated from the votes of the VirusTotal's community"
                              },
                              "tags": {
                                  "type": "string",
                                  "x-ms-summary": "Tags",
                                  "description": "Identificative attributes"
                              },
                              "total_votes": {
                                  "type": "object",
                                  "x-ms-summary": "Total votes",
                                  "description": "Unweighted number of total votes from the community, divided in \"harmless\" and \"malicious\"",
                                  "properties": {
                                      "harmless": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of positive votes",
                                          "x-ms-summary": "Harmless"
                                      },
                                      "malicious": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "number of negative votes",
                                          "x-ms-summary": "Malicious"
                                      }
                                  }
                              },
                              "whois": {
                                  "type": "string",
                                  "x-ms-summary": "WHOIS",
                                  "description": "WHOIS information as returned from the pertinent whois server"
                              },
                              "whois_date": {
                                  "type": "integer",
                                  "x-ms-summary": "WHOIS date",
                                  "description": "Date of the last update of the whois record in VirusTotal. UTC timestamp"
                              }
                          }
                      }
                  }
              }
          }
      },
      "domainResult": {
          "type": "object",
          "properties": {
              "data": {
                  "type": "object",
                  "properties": {
                      "attributes": {
                          "type": "object",
                          "properties": {
                              "categories": {
                                  "type": "object",
                                  "x-ms-summary": "Categories",
                                  "properties": {},
                                  "description": "Mapping that relates categorisation services with the category it assigns the domain to. These services are, among others such as Alexa, BitDefender, TrendMicro, Websense ThreatSeeker, etc."
                              },
                              "creation_date": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Creation date extracted from the Domain's whois (UTC timestamp)"
                              },
                              "last_analysis_results": {
                                  "type": "object",
                                  "x-ms-summary": "Last analysis results",
                                  "properties": {},
                                  "description": "Result from URL scanners. Dictionary with scanner name as key and a dictionary with notes/result from that scanner as value"
                              },
                              "last_analysis_stats": {
                                  "type": "object",
                                  "x-ms-summary": "Last analysis statistics",
                                  "properties": {
                                      "harmless": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of reports saying that is harmless",
                                          "x-ms-summary": "Harmless"
                                      },
                                      "malicious": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of reports saying that is malicious",
                                          "x-ms-summary": "Malicious"
                                      },
                                      "suspicious": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of reports saying that is suspicious",
                                          "x-ms-summary": "Suspicious"
                                      },
                                      "timeout": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of timeouts when checking this URL",
                                          "x-ms-summary": "Timeout"
                                      },
                                      "undetected": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of reports saying that is undetected",
                                          "x-ms-summary": "Undetected"
                                      }
                                  },
                                  "description": "Number of different results from this scans"
                              },
                              "last_dns_records": {
                                  "type": "array",
                                  "x-ms-summary": "Last DNS records",
                                  "items": {
                                      "type": "object",
                                      "properties": {}
                                  },
                                  "description": "Domain's DNS records on its last scan"
                              },
                              "last_dns_records_date": {
                                  "type": "integer",
                                  "format": "int32",
                                  "x-ms-summary": "Last DNS Records date",
                                  "description": "Date when the dns records list was retrieved by VirusTotal (UTC timestamp)"
                              },
                              "last_https_certificate": {
                                  "type": "object",
                                  "x-ms-summary": "Last HTTPS certificate",
                                  "properties": {},
                                  "description": "SSL Certificate object retrieved last time the domain was analysed"
                              },
                              "last_https_certificate_date": {
                                  "type": "integer",
                                  "x-ms-summary": "Last HTTPS certificate date",
                                  "format": "int32",
                                  "description": "Date when the certificate was retrieved by VirusTotal (UTC timestamp)"
                              },
                              "last_modification_date": {
                                  "type": "integer",
                                  "x-ms-summary": "Last modification date format",
                                  "format": "int32",
                                  "description": "Date when any of domain's information was last updated"
                              },
                              "last_update_date": {
                                  "type": "integer",
                                  "x-ms-summary": "Last update date",
                                  "format": "int32",
                                  "description": "Updated date extracted from whois (UTC timestamp)"
                              },
                              "popularity_ranks": {
                                  "type": "object",
                                  "x-ms-summary": "Popularity ranks",
                                  "properties": {},
                                  "description": "Domain's position in popularity ranks such as Alexa, Quantcast, Statvoo, etc."
                              },
                              "registrar": {
                                  "type": "string",
                                  "x-ms-summary": "Registrar",
                                  "description": "Company that registered the domain"
                              },
                              "reputation": {
                                  "type": "integer",
                                  "x-ms-summary": "Reputation",
                                  "format": "int32",
                                  "description": "Domain's score calculated from the votes of the VirusTotal's community"
                              },
                              "tags": {
                                  "type": "array",
                                  "x-ms-summary": "Tags",
                                  "items": {},
                                  "description": "List of representative attributes"
                              },
                              "total_votes": {
                                  "type": "object",
                                  "x-ms-summary": "Total votes",
                                  "properties": {
                                      "harmless": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Number of positive votes",
                                          "x-ms-summary": "Harmless"
                                      },
                                      "malicious": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "number of negative votes",
                                          "x-ms-summary": "Malicious"
                                      }
                                  },
                                  "description": "Unweighted number of total votes from the community, divided in \"harmless\" and \"malicious\""
                              },
                              "whois": {
                                  "type": "string",
                                  "x-ms-summary": "WHOIS",
                                  "description": "WHOIS information as returned from the pertinent whois server"
                              },
                              "whois_date": {
                                  "type": "integer",
                                  "x-ms-summary": "WHOIS date",
                                  "format": "int32",
                                  "description": "Date of the last update of the whois record in VirusTotal"
                              }
                          }
                      }
                  }
              }
          }
      }
  },
  "securityDefinitions": {
      "x-api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "x-apikey"
      }
    }
}
