{
  "swagger": "2.0",
  "info": {
    "version": "1.0.4",
    "title": "Virus Total",
    "description": "Virus Total is an online service that analyzes suspicious files and URLs to detect types of malware and malicious content using antivirus engines and website scanners. It provides an API that allows users to access the information generated by VirusTotal.",
    },
  "host": "www.virustotal.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v3/ip_addresses/{ip}": {
      "get": {
        "summary": "Ip scan report V3",
        "description": "Retrieve information about an IP address",
        "operationId": "VirusTotalGetIpScanV3",
        "parameters": [
          {
            "in": "path",
            "name": "ip",
            "description": "IP address",
            "required": true,
            "type": "string",
            "x-ms-summary": "IP Address",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/ipResult"
            }
          }
        }
      }
    },
    "/api/v3/urls": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "summary": "Analysis an URL",
        "description": "Retrieve information about a file or URL analysis",
        "operationId": "VirusTotalAnalysisurlV3",
        "parameters": [
          {
            "in": "formData",
            "name": "url",
            "description": "URL to be analyzed",
            "required": true,
            "type": "string",
            "x-ms-summary": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/urlReport"
            }
          }
        }
      }
    },
    "/api/v3/analyses/{id}": {
      "get": {
        "summary": "Retrieve information about a file or URL analysis",
        "description": "Retrieve information about a file or URL analysis",
        "operationId": "VirusTotalRetrieveInfo",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Analysis identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/analysesResponses"
            }
          }
        }
      }
    },
    "/api/v3/files/{id}": {
      "get": {
        "summary": "Retrieve information about a file",
        "description": "Retrieve information about a file",
        "operationId": "VirusTotalRetrieveInfoaboutFile",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "SHA-256, SHA-1 or MD5 identifying the file",
            "required": true,
            "type": "string",
            "x-ms-summary": "id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/fileReport"
            }
          }
        }
      }
    },
    "/api/v3/files": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "summary": "Upload and analyse a file",
        "description": "Upload and analyse a file",
        "operationId": "VirusTotalAnalyesFile",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "description": "File to be scanned",
            "required": true,
            "x-ms-summary": "filename",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/filesReport"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "analysesResponses": {
      "description": "report result",
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "properties": {
            "attributes": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "integer"
                },
                "results": {
                  "type": "object",
                  "properties": {
                    "ADMINUSLabs": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "AegisLab WebGuard": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "AlienVault": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Antiy-AVL": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "AutoShun": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Avira": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "BADWARE.INFO": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Baidu-International": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "BitDefender": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Blueliv": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "CLEAN MX": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "CRDF": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Comodo Site Inspector": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Comodo Valkyrie Verdict": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "CyRadar": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "CyberCrime": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "DNS8": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Dr.Web": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "ESET": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "ESTsecurity-Threat Inside": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Emsisoft": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "EonScope": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Forcepoint ThreatSeeker": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Fortinet": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "FraudScore": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "FraudSense": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "G-Data": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Google Safebrowsing": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "K7AntiVirus": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Kaspersky": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Malc0de Database": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Malekal": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Malware Domain Blocklist": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "MalwareDomainList": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "MalwarePatrol": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Malwarebytes hpHosts": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Malwared": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Netcraft": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "NotMining": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Nucleon": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "OpenPhish": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Opera": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "PhishLabs": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Phishtank": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Quttera": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Rising": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "SCUMWARE.org": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "SecureBrain": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Segasec": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Sophos": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Spam404": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Spamhaus": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "StopBadware": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Sucuri SiteCheck": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Tencent": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "ThreatHive": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Trustwave": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "URLQuery": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "URLhaus": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "VX Vault": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Virusdie External Site Scan": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Web Security Guard": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Yandex Safebrowsing": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "ZCloudsec": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "ZDB Zeus": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "ZeroCERT": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "Zerofox": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "ZeusTracker": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "desenmascara.me": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "malwares.com URL checker": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "securolytics": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    },
                    "zvelo": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "category",
                        "engine_name",
                        "method",
                        "result"
                      ]
                    }
                  },
                  "required": [
                    "ADMINUSLabs",
                    "AegisLab WebGuard",
                    "AlienVault",
                    "Antiy-AVL",
                    "AutoShun",
                    "Avira",
                    "BADWARE.INFO",
                    "Baidu-International",
                    "BitDefender",
                    "Blueliv",
                    "CLEAN MX",
                    "CRDF",
                    "Comodo Site Inspector",
                    "Comodo Valkyrie Verdict",
                    "CyRadar",
                    "CyberCrime",
                    "DNS8",
                    "Dr.Web",
                    "ESET",
                    "ESTsecurity-Threat Inside",
                    "Emsisoft",
                    "EonScope",
                    "Forcepoint ThreatSeeker",
                    "Fortinet",
                    "FraudScore",
                    "FraudSense",
                    "G-Data",
                    "Google Safebrowsing",
                    "K7AntiVirus",
                    "Kaspersky",
                    "Malc0de Database",
                    "Malekal",
                    "Malware Domain Blocklist",
                    "MalwareDomainList",
                    "MalwarePatrol",
                    "Malwarebytes hpHosts",
                    "Malwared",
                    "Netcraft",
                    "NotMining",
                    "Nucleon",
                    "OpenPhish",
                    "Opera",
                    "PhishLabs",
                    "Phishtank",
                    "Quttera",
                    "Rising",
                    "SCUMWARE.org",
                    "SecureBrain",
                    "Segasec",
                    "Sophos",
                    "Spam404",
                    "Spamhaus",
                    "StopBadware",
                    "Sucuri SiteCheck",
                    "Tencent",
                    "ThreatHive",
                    "Trustwave",
                    "URLQuery",
                    "URLhaus",
                    "VX Vault",
                    "Virusdie External Site Scan",
                    "Web Security Guard",
                    "Yandex Safebrowsing",
                    "ZCloudsec",
                    "ZDB Zeus",
                    "ZeroCERT",
                    "Zerofox",
                    "ZeusTracker",
                    "desenmascara.me",
                    "malwares.com URL checker",
                    "securolytics",
                    "zvelo"
                  ]
                },
                "stats": {
                  "type": "object",
                  "properties": {
                    "harmless": {
                      "type": "integer"
                    },
                    "malicious": {
                      "type": "integer"
                    },
                    "suspicious": {
                      "type": "integer"
                    },
                    "timeout": {
                      "type": "integer"
                    },
                    "undetected": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "harmless",
                    "malicious",
                    "suspicious",
                    "timeout",
                    "undetected"
                  ]
                },
                "status": {
                  "type": "string"
                }
              },
              "required": [
                "date",
                "results",
                "stats",
                "status"
              ]
            },
            "id": {
              "type": "string"
            },
            "type": {
              "type": "string"
            }
          },
          "required": [
            "attributes",
            "id",
            "type"
          ]
        },
        "meta": {
          "type": "object",
          "properties": {
            "url_info": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "url"
              ]
            }
          },
          "required": [
            "url_info"
          ]
        }
      },
      "required": [
        "data",
        "meta"
      ]
    },
    "fileReport": {
      "type": "object",
      "properties": {
        "FileType": {
          "type": "string"
        },
        "FileTypeExtension": {
          "type": "string"
        },
        "LineCount": {
          "type": "integer"
        },
        "MIMEEncoding": {
          "type": "string"
        },
        "MIMEType": {
          "type": "string"
        },
        "Newlines": {
          "type": "string"
        },
        "WordCount": {
          "type": "integer"
        }
      }
    },
    "urlReport": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "type": {
              "type": "string"
            }
          }
        }
      }
    },
    "filesReport": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "type": {
              "type": "string"
            }
          }
        }
      }
    },
    "ipResult": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "properties": {
            "attributes": {
              "type": "object",
              "properties": {
                "as_owner": {
                  "type": "string"
                },
                "asn": {
                  "type": "integer"
                },
                "continent": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "last_analysis_results": {
                  "type": "object",
                  "properties": {
                    "ADMINUSLabs": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "AegisLab WebGuard": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "AlienVault": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Antiy-AVL": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "null"
                        }
                      }
                    },
                    "AutoShun": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Avira": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "BADWARE.INFO": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Baidu-International": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "BitDefender": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Blueliv": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Botvrij.eu": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "CLEAN MX": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "CRDF": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Comodo Valkyrie Verdict": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "CyRadar": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "CyberCrime": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "DNS8": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Dr.Web": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "ESET": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "ESTsecurity-Threat Inside": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "EmergingThreats": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Emsisoft": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "EonScope": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Forcepoint ThreatSeeker": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Fortinet": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "FraudScore": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "FraudSense": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "G-Data": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Google Safebrowsing": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "IPsum": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "K7AntiVirus": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Kaspersky": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Malc0de Database": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Malware Domain Blocklist": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "MalwareDomainList": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "MalwarePatrol": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Malwarebytes hpHosts": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Malwared": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Netcraft": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "NotMining": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Nucleon": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "OpenPhish": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "PhishLabs": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Phishtank": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Quick Heal": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Quttera": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "SCUMWARE.org": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "SecureBrain": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Segasec": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Sophos": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Spam404": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Spamhaus": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "StopBadware": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string"
                        }
                      }
                    },
                    "Sucuri SiteCheck": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "engine_name": {
                          "type": "string"
                        },
                        "method": {
[...]
