{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Xero OAuth 2.0",
    "description": "Xero is an accounting solution for small and medium sized businesses.  This connector enables you to access Xero data from the Power Platform.",
    "contact": {
      "name": "Phil Stubbington / Henley Ridge Management Consulting Limited",
      "url": "https://www.henleyridge.co.uk",
      "email": "philstubbington@henleyridge.co.uk"
    }
  },


  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.henleyridge.co.uk"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.iubenda.com/privacy-policy/27976889"

    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Finance"

    }
  ],

  "host": "api.xero.com",
  "basePath": "/api.xro/2.0",
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "description": "For more information",
      "flow": "accessCode",
      "authorizationUrl": "https://login.xero.com/identity/connect/authorize",
      "tokenUrl": "https://identity.xero.com/connect/token",
      "scopes": {
        "email": "Grant read-only access to your email",
        "openid": "Grant read-only access to your open id",
        "profile": "your profile information",
        "accounting.attachments": "Grant read-write access to attachments",
        "accounting.attachments.read": "Grant read-only access to attachments",
        "accounting.contacts": "Grant read-write access to contacts and contact groups",
        "accounting.contacts.read": "Grant read-only access to contacts and contact groups",
        "accounting.journals.read": "Grant read-only access to journals",
        "accounting.reports.read": "Grant read-only access to accounting reports",
        "accounting.reports.tenninetynine.read": "Grant read-only access to 1099 reports",
        "accounting.settings": "Grant read-write access to organisation and account settings",
        "accounting.settings.read": "Grant read-only access to organisation and account settings",
        "accounting.transactions": "Grant read-write access to bank transactions, credit notes, invoices, repeating invoices",
        "accounting.transactions.read": "Grant read-only access to invoices",
        "paymentservices": "Grant read-write access to payment services",
        "accounting.budgets.read": ""
      }
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Accounts": {
      "get": {
        "description": "Retrieves the full chart of accounts",
        "summary": "getAccounts",
        "tags": [
          "Accounting"
        ],
        "operationId": "getAccounts",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Only records created or modified since this timestamp will be returned"
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by an any element"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Order by an any element"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type Accounts array with 0 to n Account",
            "schema": {
              "$ref": "#/definitions/Accounts"
            },
            "examples": {
              "application/json": {
                "Accounts": [
                  {
                    "AccountID": "ebd06280-af70-4bed-97c6-7451a454ad85",
                    "Code": "091",
                    "Name": "Business Savings Account",
                    "Type": "BANK",
                    "TaxType": "NONE",
                    "EnablePaymentsToAccount": false,
                    "BankAccountNumber": "0209087654321050",
                    "BankAccountType": "BANK",
                    "CurrencyCode": "NZD"
                  },
                  {
                    "AccountID": "7d05a53d-613d-4eb2-a2fc-dcb6adb80b80",
                    "Code": "200",
                    "Name": "Sales",
                    "Type": "REVENUE",
                    "TaxType": "OUTPUT2",
                    "Description": "Income from any normal business activity",
                    "EnablePaymentsToAccount": false
                  }
                ]
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.settings",
              "accounting.settings.read"
            ]
          }
        ]
      },
      "put": {
        "description": "Creates a new chart of accounts",
        "summary": "createAccount",
        "tags": [
          "Accounting"
        ],
        "operationId": "createAccount",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Account object in body of request",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - created new Account and return response of type Accounts array with new Account",
            "schema": {
              "$ref": "#/definitions/Accounts"
            },
            "examples": {
              "application/json": {
                "Id": "11814c9d-3b5e-492e-93b0-fad16bf3244f",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1550793549392)/",
                "Accounts": [
                  {
                    "AccountID": "66b262e2-561e-423e-8937-47d558f13442",
                    "Code": "123456",
                    "Name": "Foobar",
                    "Status": "ACTIVE",
                    "Type": "EXPENSE",
                    "TaxType": "INPUT",
                    "Description": "Hello World",
                    "Class": "EXPENSE",
                    "EnablePaymentsToAccount": false,
                    "ShowInExpenseClaims": false,
                    "ReportingCode": "EXP",
                    "ReportingCodeName": "Expense",
                    "UpdatedDateUTC": "/Date(1550793549320+0000)/"
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Validation Error - some data was incorrect returns response of type Error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": {
                "ErrorNumber": 10,
                "Type": "ValidationException",
                "Message": "A validation exception occurred",
                "Elements": [
                  {
                    "AccountID": "00000000-0000-0000-0000-000000000000",
                    "Code": "123456",
                    "Name": "Foobar",
                    "Type": "EXPENSE",
                    "Description": "Hello World",
                    "ValidationErrors": [
                      {
                        "Message": "Please enter a unique Name."
                      }
                    ]
                  }
                ]
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.settings"
            ]
          }
        ]
      }
    },
    "/Accounts/{AccountID}": {
      "get": {
        "description": "Retrieves a single chart of accounts by using a unique account Id",
        "summary": "getAccount",
        "tags": [
          "Accounting"
        ],
        "operationId": "getAccount",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for Account object"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type Accounts array with one Account",
            "schema": {
              "$ref": "#/definitions/Accounts"
            },
            "examples": {
              "application/json": {
                "Id": "323455cc-9511-4451-a873-248d2983f38e",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1550797359081)/",
                "Accounts": [
                  {
                    "AccountID": "99ce6032-0678-4aa0-8148-240c75fee33a",
                    "Code": "123456",
                    "Name": "FooBar",
                    "Status": "ACTIVE",
                    "Type": "EXPENSE",
                    "TaxType": "INPUT",
                    "Description": "Hello World",
                    "Class": "EXPENSE",
                    "EnablePaymentsToAccount": false,
                    "ShowInExpenseClaims": false,
                    "ReportingCode": "EXP",
                    "ReportingCodeName": "Expense",
                    "UpdatedDateUTC": "/Date(1550797359120+0000)/"
                  }
                ]
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.settings",
              "accounting.settings.read"
            ]
          }
        ]
      },
      "post": {
        "description": "Updates a chart of accounts",
        "summary": "updateAccount",
        "tags": [
          "Accounting"
        ],
        "operationId": "updateAccount",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for Account object"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request of type Accounts array with one Account",
            "schema": {
              "$ref": "#/definitions/Accounts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - update existing Account and return response of type Accounts array with updated Account",
            "schema": {
              "$ref": "#/definitions/Accounts"
            },
            "examples": {
              "application/json": {
                "Id": "9012e75c-ec08-40a9-ae15-153fc1f35c4d",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1550795389340)/",
                "Accounts": [
                  {
                    "AccountID": "99ce6032-0678-4aa0-8148-240c75fee33a",
                    "Code": "654321",
                    "Name": "BarFoo",
                    "Status": "ACTIVE",
                    "Type": "EXPENSE",
                    "TaxType": "INPUT",
                    "Description": "Good Bye World",
                    "Class": "EXPENSE",
                    "EnablePaymentsToAccount": false,
                    "ShowInExpenseClaims": false,
                    "ReportingCode": "EXP",
                    "ReportingCodeName": "Expense",
                    "UpdatedDateUTC": "/Date(1550795389333+0000)/"
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Validation Error - some data was incorrect returns response of type Error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": {
                "ErrorNumber": 10,
                "Type": "ValidationException",
                "Message": "A validation exception occurred",
                "Elements": [
                  {
                    "AccountID": "00000000-0000-0000-0000-000000000000",
                    "Code": "123456",
                    "Name": "Foobar",
                    "Type": "EXPENSE",
                    "Description": "Hello World",
                    "ValidationErrors": [
                      {
                        "Message": "Please enter a unique Name."
                      }
                    ]
                  }
                ]
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.settings"
            ]
          }
        ]
      },
      "delete": {
        "description": "Deletes a chart of accounts",
        "summary": "deleteAccount",
        "tags": [
          "Accounting"
        ],
        "operationId": "deleteAccount",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for Account object"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - delete existing Account and return response of type Accounts array with deleted Account",
            "schema": {
              "$ref": "#/definitions/Accounts"
            },
            "examples": {
              "application/json": {
                "Id": "76bb0543-8efe-4acc-b7f6-67dfcdec37b4",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1550798217216)/",
                "Accounts": [
                  {
                    "AccountID": "7f3c0bec-f3e7-4073-b4d6-cc56dd027ef1",
                    "Code": "123456",
                    "Name": "FooBar",
                    "Status": "DELETED",
                    "Type": "EXPENSE",
                    "TaxType": "INPUT",
                    "Description": "Hello World",
                    "Class": "EXPENSE",
                    "EnablePaymentsToAccount": false,
                    "ShowInExpenseClaims": false,
                    "ReportingCode": "EXP",
                    "ReportingCodeName": "Expense",
                    "UpdatedDateUTC": "/Date(1550798217210+0000)/"
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Validation Error - some data was incorrect returns response of type Error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": {
                "ErrorNumber": 10,
                "Type": "ValidationException",
                "Message": "A validation exception occurred",
                "Elements": [
                  {
                    "AccountID": "00000000-0000-0000-0000-000000000000",
                    "Code": "123456",
                    "Name": "Foobar",
                    "Type": "EXPENSE",
                    "Description": "Hello World",
                    "ValidationErrors": [
                      {
                        "Message": "Please enter a unique Name."
                      }
                    ]
                  }
                ]
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.settings"
            ]
          }
        ]
      }
    },
    "/Accounts/{AccountID}/Attachments": {
      "get": {
        "description": "Retrieves attachments for a specific accounts by using a unique account Id",
        "summary": "getAccountAttachments",
        "tags": [
          "Accounting"
        ],
        "operationId": "getAccountAttachments",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for Account object"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type Attachments array of Attachment",
            "schema": {
              "$ref": "#/definitions/Attachments"
            },
            "examples": {
              "application/json": {
                "Id": "439c1573-3cd8-4697-a9f6-81fa651ee8f3",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1550852630329)/",
                "Attachments": [
                  {
                    "AttachmentID": "52a643be-cd5c-489f-9778-53a9fd337756",
                    "FileName": "sample5.jpg",
                    "Url": "https://api.xero.com/api.xro/2.0/Accounts/da962997-a8bd-4dff-9616-01cdc199283f/Attachments/sample5.jpg",
                    "MimeType": "image/jpg",
                    "ContentLength": 2878711
                  }
                ]
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.attachments",
              "accounting.attachments.read"
            ]
          }
        ]
      }
    },
    "/Accounts/{AccountID}/Attachments/{AttachmentID}": {
      "get": {
        "description": "Retrieves a specific attachment from a specific account using a unique attachment Id",
        "summary": "getAccountAttachmentById",
        "tags": [
          "Accounting"
        ],
        "operationId": "getAccountAttachmentById",
        "deprecated": false,
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for Account object"
          },
          {
            "name": "AttachmentID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for Attachment object"
          },
          {
            "name": "contentType",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The mime type of the attachment file you are retrieving i.e image/jpg, application/pdf"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of attachment for Account as binary data",
            "schema": {
              "type": "string",
              "default": "",
              "format": "binary"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.attachments",
              "accounting.attachments.read"
            ]
          }
        ]
      }
    },
    "/Accounts/{AccountID}/Attachments/{FileName}": {
      "get": {
        "description": "Retrieves an attachment for a specific account by filename",
        "summary": "getAccountAttachmentByFileName",
        "tags": [
          "Accounting"
        ],
        "operationId": "getAccountAttachmentByFileName",
        "deprecated": false,
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for Account object"
          },
          {
            "name": "FileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the attachment"
          },
          {
            "name": "contentType",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The mime type of the attachment file you are retrieving i.e image/jpg, application/pdf"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of attachment for Account as binary data",
            "schema": {
              "type": "string",
              "default": "",
              "format": "binary"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.attachments",
              "accounting.attachments.read"
            ]
          }
        ]
      },
      "post": {
        "description": "Updates attachment on a specific account by filename",
        "summary": "updateAccountAttachmentByFileName",
        "tags": [
          "Accounting"
        ],
        "operationId": "updateAccountAttachmentByFileName",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for Account object"
          },
          {
            "name": "FileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the attachment"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/octet-stream"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "formData",
            "required": true,
            "type": "file",
            "format": "file",
            "description": "Byte array of file in body of request"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type Attachments array of Attachment",
            "schema": {
              "$ref": "#/definitions/Attachments"
            },
            "examples": {
              "application/json": {
                "Id": "c8d6413a-1da2-4faa-9848-21f60443e906",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1550859714477)/",
                "Attachments": [
                  {
                    "AttachmentID": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "FileName": "sample5.jpg",
                    "Url": "https://api.xero.com/api.xro/2.0/Accounts/da962997-a8bd-4dff-9616-01cdc199283f/Attachments/sample5.jpg",
                    "MimeType": "image/jpg",
                    "ContentLength": 2878711
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Validation Error - some data was incorrect returns response of type Error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.attachments"
            ]
          }
        ]
      },
      "put": {
        "description": "Creates an attachment on a specific account",
        "summary": "createAccountAttachmentByFileName",
        "tags": [
          "Accounting"
        ],
        "operationId": "createAccountAttachmentByFileName",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for Account object"
          },
          {
            "name": "FileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the attachment"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/octet-stream"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "formData",
            "required": true,
            "type": "file",
            "format": "file",
            "description": "Byte array of file in body of request"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type Attachments array of Attachment",
            "schema": {
              "$ref": "#/definitions/Attachments"
            },
            "examples": {
              "application/json": {
                "Id": "724cdff5-bcd1-4c5c-977e-e864c24258e0",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1550856817769)/",
                "Attachments": [
                  {
                    "AttachmentID": "ab95b276-9dce-4925-9077-439818ba270f",
                    "FileName": "sample5.jpg",
                    "Url": "https://api.xero.com/api.xro/2.0/Accounts/da962997-a8bd-4dff-9616-01cdc199283f/Attachments/sample5.jpg",
                    "MimeType": "image/jpg",
                    "ContentLength": 2878711
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "A failed request due to validation error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.attachments"
            ]
          }
        ]
      }
    },
    "/BatchPayments": {
      "get": {
        "description": "Retrieves either one or many batch payments for invoices",
        "summary": "getBatchPayments",
        "tags": [
          "Accounting"
        ],
        "operationId": "getBatchPayments",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Only records created or modified since this timestamp will be returned"
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by an any element"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Order by an any element"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type BatchPayments array of BatchPayment objects",
            "schema": {
              "$ref": "#/definitions/BatchPayments"
            },
            "examples": {
              "application/json": {
                "Id": "6ab84949-4fe5-4788-a135-4d8f690d24d7",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1550866184006)/",
                "BatchPayments": [
                  {
                    "Account": {
                      "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9"
                    },
                    "Reference": "Hello World",
                    "BatchPaymentID": "d0e9bbbf-5b8a-48b6-906a-035591fcb061",
                    "DateString": "2017-11-28T00:00:00",
                    "Date": "/Date(1511827200000+0000)/",
                    "Payments": [
                      {
                        "Invoice": {
                          "InvoiceID": "0975dec2-0cf6-498d-9c9f-c6775b45c61d",
                          "Payments": [],
                          "CreditNotes": [],
                          "Prepayments": [],
                          "Overpayments": [],
                          "HasErrors": false,
                          "IsDiscounted": false,
                          "LineItems": []
                        },
                        "PaymentID": "97ec2ef8-f4d6-4de5-9f2a-385d41cdc2fc",
                        "Amount": 200.0
                      },
                      {
                        "Invoice": {
                          "InvoiceID": "600982d9-6605-4e11-afa1-d8dec2be7b52",
                          "Payments": [],
                          "CreditNotes": [],
                          "Prepayments": [],
                          "Overpayments": [],
                          "HasErrors": false,
                          "IsDiscounted": false,
                          "LineItems": []
                        },
                        "PaymentID": "e232795f-b919-4865-a754-12f6ae8402c0",
                        "Amount": 200.0
                      },
                      {
                        "Invoice": {
                          "InvoiceID": "99a2bd54-4ab1-413c-90bb-57f6464fe5d6",
                          "Payments": [],
                          "CreditNotes": [],
                          "Prepayments": [],
                          "Overpayments": [],
                          "HasErrors": false,
                          "IsDiscounted": false,
                          "LineItems": []
                        },
                        "PaymentID": "c2d571a5-38ff-4d37-9d43-dfadb4ad53ff",
                        "Amount": 200.0
                      },
                      {
                        "Invoice": {
                          "InvoiceID": "c81942c8-bfc5-4c88-a21a-b892a4a8c1c5",
                          "Payments": [],
                          "CreditNotes": [],
                          "Prepayments": [],
                          "Overpayments": [],
                          "HasErrors": false,
                          "IsDiscounted": false,
                          "LineItems": []
                        },
                        "PaymentID": "0f3c18dc-49bd-47a4-a875-03c84a29978f",
                        "Amount": 200.0
                      },
                      {
                        "Invoice": {
                          "InvoiceID": "6c9a1d89-8319-42f6-87d6-7690e748af85",
                          "Payments": [],
                          "CreditNotes": [],
                          "Prepayments": [],
                          "Overpayments": [],
                          "HasErrors": false,
                          "IsDiscounted": false,
                          "LineItems": []
                        },
                        "PaymentID": "43541eed-f3ac-44ac-88cb-9fe1cb7ed8b8",
                        "Amount": 200.0
                      }
                    ],
                    "Type": "RECBATCH",
                    "Status": "AUTHORISED",
                    "TotalAmount": "1000.0",
                    "UpdatedDateUTC": "/Date(1511893792820+0000)/",
                    "IsReconciled": "false"
                  }
                ]
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.transactions",
              "accounting.transactions.read"
            ]
          }
        ]
      },
      "put": {
        "description": "Creates one or many batch payments for invoices",
        "summary": "createBatchPayment",
        "tags": [
          "Accounting"
        ],
        "operationId": "createBatchPayment",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "summarizeErrors",
            "in": "query",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "If false return 200 OK and mix of successfully created objects and any with validation errors"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "BatchPayments with an array of Payments in body of request",
            "schema": {
              "$ref": "#/definitions/BatchPayments"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type BatchPayments array of BatchPayment objects",
            "schema": {
              "$ref": "#/definitions/BatchPayments"
            },
            "examples": {
              "application/json": {
                "Id": "424745ed-6356-46ad-87d4-3585f9062fb4",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1550865988111)/",
                "BatchPayments": [
                  {
                    "Account": {
                      "AccountID": "5ec2f302-cd60-4f8b-a915-9229dd45e6fa"
                    },
                    "Reference": "Foobar123",
                    "BatchPaymentID": "d318c343-208e-49fe-b04a-45642349bcf1",
                    "DateString": "2019-02-22T00:00:00",
                    "Date": "/Date(1550793600000+0000)/",
                    "Payments": [
                      {
                        "Invoice": {
                          "InvoiceID": "3323652c-155e-433b-8a73-4dde7cfbf410",
                          "Payments": [],
                          "CreditNotes": [],
                          "Prepayments": [],
                          "Overpayments": [],
                          "HasErrors": false,
                          "IsDiscounted": false,
                          "LineItems": []
                        },
                        "PaymentID": "c05098fa-ae3c-4f00-80ec-0a9df07dedff",
                        "Amount": 1.0
                      },
                      {
                        "Invoice": {
                          "InvoiceID": "e4abafb4-1f5b-4d9f-80b3-9a7b815bc302",
                          "Payments": [],
                          "CreditNotes": [],
                          "Prepayments": [],
                          "Overpayments": [],
                          "HasErrors": false,
                          "IsDiscounted": false,
                          "LineItems": []
                        },
                        "PaymentID": "96409489-2f7d-4804-9a6d-6b939b0e038a",
                        "Amount": 1.0
                      },
                      {
                        "Invoice": {
                          "InvoiceID": "e6039672-b161-40cd-b07b-a0178e7186ad",
                          "Payments": [],
                          "CreditNotes": [],
                          "Prepayments": [],
                          "Overpayments": [],
                          "HasErrors": false,
                          "IsDiscounted": false,
                          "LineItems": []
                        },
                        "PaymentID": "d2796067-bf71-4f06-b386-81f1454fa866",
                        "Amount": 1.0
                      }
                    ],
                    "Type": "RECBATCH",
                    "Status": "AUTHORISED",
                    "TotalAmount": "3.0",
                    "UpdatedDateUTC": "/Date(1550865987783+0000)/",
                    "IsReconciled": "false"
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "A failed request due to validation error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.transactions"
            ]
          }
        ]
      }
    },
    "/BatchPayments/{BatchPaymentID}/History": {
      "get": {
        "description": "Retrieves history from a specific batch payment",
        "summary": "getBatchPaymentHistory",
        "tags": [
          "Accounting"
        ],
        "operationId": "getBatchPaymentHistory",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "BatchPaymentID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for BatchPayment"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of HistoryRecords array of 0 to N HistoryRecord",
            "schema": {
              "$ref": "#/definitions/HistoryRecords"
            },
            "examples": {
              "application/json": {
                "Id": "c58e2f9c-baad-42a4-8bb7-f32b6f88fa04",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1550898452503)/",
                "HistoryRecords": [
                  {
                    "Changes": "Approved",
                    "DateUTCString": "2017-11-28T18:29:52",
                    "DateUTC": "/Date(1511893792813+0000)/",
                    "User": "Buzz Lightyear",
                    "Details": ""
                  }
                ]
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.transactions",
              "accounting.transactions.read"
            ]
          }
        ]
      },
      "put": {
        "description": "Creates a history record for a specific batch payment",
        "summary": "createBatchPaymentHistoryRecord",
        "tags": [
          "Accounting"
        ],
        "operationId": "createBatchPaymentHistoryRecord",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "BatchPaymentID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for BatchPayment"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "HistoryRecords containing an array of HistoryRecord objects in body of request",
            "schema": {
              "$ref": "#/definitions/HistoryRecords"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type HistoryRecords array of HistoryRecord objects",
            "schema": {
              "$ref": "#/definitions/HistoryRecords"
            },
            "examples": {
              "application/json": {
                "Id": "d7525479-3392-44c0-bb37-ff4a0b5df5bd",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1550899400362)/",
                "HistoryRecords": [
                  {
                    "DateUTCString": "2019-02-23T05:23:20",
                    "DateUTC": "/Date(1550899400362)/",
                    "Details": "Hello World",
                    "ValidationErrors": []
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "A failed request due to validation error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.transactions"
            ]
          }
        ]
      }
    },
    "/BankTransactions": {
      "get": {
        "description": "Retrieves any spent or received money transactions",
        "summary": "getBankTransactions",
        "tags": [
          "Accounting"
        ],
        "operationId": "getBankTransactions",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Only records created or modified since this timestamp will be returned"
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by an any element"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Order by an any element"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Up to 100 bank transactions will be returned in a single API call with line items details"
          },
          {
            "name": "unitdp",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "e.g. unitdp=4 – (Unit Decimal Places) You can opt in to use four decimal places for unit amounts"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type BankTransactions array with 0 to n BankTransaction",
            "schema": {
              "$ref": "#/definitions/BankTransactions"
            },
            "examples": {
              "application/json": {
                "Id": "18e7e80c-5dca-4a57-974e-8b572cc5efe8",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1551212901659)/",
                "BankTransactions": [
                  {
                    "BankTransactionID": "db54aab0-ad40-4ced-bcff-0940ba20db2c",
                    "BankAccount": {
                      "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9",
                      "Code": "088",
                      "Name": "Business Wells Fargo"
                    },
                    "BatchPayment": {
                      "Account": {
                        "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9"
                      },
                      "BatchPaymentID": "b54aa50c-794c-461b-89d1-846e1b84d9c0",
                      "Date": "/Date(1476316800000+0000)/",
                      "Type": "RECBATCH",
                      "Status": "AUTHORISED",
                      "TotalAmount": "12.00",
                      "UpdatedDateUTC": "/Date(1476392487037+0000)/",
                      "IsReconciled": "false"
                    },
                    "Type": "RECEIVE",
                    "IsReconciled": false,
                    "PrepaymentID": "cb62750f-b49c-464b-a45b-e2e2c514c8a9",
                    "HasAttachments": true,
                    "Contact": {
                      "ContactID": "9c2c64de-12c9-4167-b503-e2c0e1aa1f49",
                      "Name": "sam",
                      "Addresses": [],
                      "Phones": [],
                      "ContactGroups": [],
                      "ContactPersons": [],
                      "HasValidationErrors": false
                    },
                    "DateString": "2016-10-13T00:00:00",
                    "Date": "/Date(1476316800000+0000)/",
                    "Status": "AUTHORISED",
                    "LineAmountTypes": "Exclusive",
                    "LineItems": [],
                    "SubTotal": 10,
                    "TotalTax": 0,
                    "Total": 10,
                    "UpdatedDateUTC": "/Date(1476389616437+0000)/",
                    "CurrencyCode": "USD"
                  },
                  {
                    "BankTransactionID": "29a69c45-64ca-4805-a1cc-34990de837b3",
                    "BankAccount": {
                      "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9",
                      "Code": "088",
                      "Name": "Business Wells Fargo"
                    },
                    "Type": "SPEND-OVERPAYMENT",
                    "IsReconciled": false,
                    "OverpaymentID": "7d457db3-3b0a-47e9-8b79-81252a7bcdcb",
                    "HasAttachments": false,
                    "Contact": {
                      "ContactID": "9c2c64de-12c9-4167-b503-e2c0e1aa1f49",
                      "Name": "sam",
                      "Addresses": [],
                      "Phones": [],
                      "ContactGroups": [],
                      "ContactPersons": [],
                      "HasValidationErrors": false
                    },
                    "DateString": "2016-10-13T00:00:00",
                    "Date": "/Date(1476316800000+0000)/",
                    "Status": "AUTHORISED",
                    "LineAmountTypes": "NoTax",
                    "LineItems": [],
                    "SubTotal": 9,
                    "TotalTax": 0,
                    "Total": 9,
                    "UpdatedDateUTC": "/Date(1476389930500+0000)/",
                    "CurrencyCode": "USD"
                  },
                  {
                    "BankTransactionID": "0b89bf5c-d40b-4514-96be-36a739fb0188",
                    "BankAccount": {
                      "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9",
                      "Code": "088",
                      "Name": "Business Wells Fargo"
                    },
                    "Type": "SPEND-OVERPAYMENT",
                    "IsReconciled": false,
                    "OverpaymentID": "bf9b5f33-c0d6-4182-84a2-40848023e5a1",
                    "HasAttachments": false,
                    "Contact": {
                      "ContactID": "9c2c64de-12c9-4167-b503-e2c0e1aa1f49",
                      "Name": "sam",
                      "Addresses": [],
                      "Phones": [],
                      "ContactGroups": [],
                      "ContactPersons": [],
                      "HasValidationErrors": false
                    },
                    "DateString": "2016-10-13T00:00:00",
                    "Date": "/Date(1476316800000+0000)/",
                    "Status": "AUTHORISED",
                    "LineAmountTypes": "NoTax",
                    "LineItems": [],
                    "SubTotal": 8,
                    "TotalTax": 0,
                    "Total": 8,
                    "UpdatedDateUTC": "/Date(1476392487037+0000)/",
                    "CurrencyCode": "USD"
                  }
                ]
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.transactions",
              "accounting.transactions.read"
            ]
          }
        ]
      },
      "put": {
        "description": "Creates one or more spent or received money transaction",
        "summary": "createBankTransactions",
        "tags": [
          "Accounting"
        ],
        "operationId": "createBankTransactions",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "summarizeErrors",
            "in": "query",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "If false return 200 OK and mix of successfully created objects and any with validation errors"
          },
          {
            "name": "unitdp",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "e.g. unitdp=4 – (Unit Decimal Places) You can opt in to use four decimal places for unit amounts"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "BankTransactions with an array of BankTransaction objects in body of request",
            "schema": {
              "$ref": "#/definitions/BankTransactions"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type BankTransactions array with new BankTransaction",
            "schema": {
              "$ref": "#/definitions/BankTransactions"
            },
            "examples": {
              "application/json": {
                "Id": "5bc1d776-3c7f-4fe8-9b2d-09e747077a88",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1551213568047)/",
                "BankTransactions": [
                  {
                    "BankTransactionID": "1289c190-e46d-434b-9628-463ffdb52f00",
                    "BankAccount": {
                      "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9",
                      "Code": "088",
                      "Name": "Business Wells Fargo"
                    },
                    "Type": "SPEND",
                    "Reference": "",
                    "IsReconciled": false,
                    "CurrencyRate": 1.0,
                    "Contact": {
                      "ContactID": "5cc8cf28-567e-4d43-b287-687cfcaec47c",
                      "ContactStatus": "ACTIVE",
                      "Name": "Katherine Warren",
                      "FirstName": "Katherine",
                      "LastName": "Warren",
                      "EmailAddress": "kat.warren@clampett.com",
                      "BankAccountDetails": "",
                      "Addresses": [
                        {
                          "AddressType": "STREET",
                          "City": "",
                          "Region": "",
                          "PostalCode": "",
                          "Country": ""
                        },
                        {
                          "AddressType": "POBOX",
                          "AddressLine1": "",
                          "AddressLine2": "",
                          "AddressLine3": "",
                          "AddressLine4": "",
                          "City": "Palo Alto",
                          "Region": "CA",
                          "PostalCode": "94020",
                          "Country": "United States"
                        }
                      ],
                      "Phones": [
                        {
                          "PhoneType": "DEFAULT",
                          "PhoneNumber": "847-1294",
                          "PhoneAreaCode": "(626)",
                          "PhoneCountryCode": ""
                        },
                        {
                          "PhoneType": "DDI",
                          "PhoneNumber": "",
                          "PhoneAreaCode": "",
                          "PhoneCountryCode": ""
                        },
                        {
                          "PhoneType": "FAX",
                          "PhoneNumber": "",
                          "PhoneAreaCode": "",
                          "PhoneCountryCode": ""
                        },
                        {
                          "PhoneType": "MOBILE",
                          "PhoneNumber": "",
                          "PhoneAreaCode": "",
                          "PhoneCountryCode": ""
                        }
                      ],
                      "UpdatedDateUTC": "/Date(1503348544227+0000)/",
                      "ContactGroups": [],
                      "ContactPersons": [],
                      "HasValidationErrors": false
                    },
                    "DateString": "2019-02-26T00:00:00",
                    "Date": "/Date(1551139200000+0000)/",
                    "Status": "AUTHORISED",
                    "LineAmountTypes": "Inclusive",
                    "LineItems": [
                      {
                        "Description": "Foobar",
                        "UnitAmount": 20.0,
                        "TaxType": "TAX001",
                        "TaxAmount": 1.74,
                        "LineAmount": 20.0,
                        "AccountCode": "400",
                        "Tracking": [],
                        "Quantity": 1.0,
                        "LineItemID": "d2a06879-da49-4d6c-83b5-72a93a523ec6",
                        "AccountID": "ebd06280-af70-4bed-97c6-7451a454ad85",
                        "ValidationErrors": []
                      }
                    ],
                    "SubTotal": 18.26,
                    "TotalTax": 1.74,
                    "Total": 20.0,
                    "UpdatedDateUTC": "/Date(1551213567813+0000)/",
                    "CurrencyCode": "USD",
                    "StatusAttributeString": "ERROR",
                    "ValidationErrors": [
                      {
                        "Message": "The Contact must contain at least 1 of the following elements to identify the contact: Name, ContactID, ContactNumber"
                      }
                    ]
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "A failed request due to validation error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.transactions"
            ]
          }
        ]
      },
      "post": {
        "description": "Updates or creates one or more spent or received money transaction",
        "summary": "updateOrCreateBankTransactions",
        "tags": [
          "Accounting"
        ],
        "operationId": "updateOrCreateBankTransactions",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "summarizeErrors",
            "in": "query",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "If false return 200 OK and mix of successfully created objects and any with validation errors"
          },
          {
            "name": "unitdp",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "e.g. unitdp=4 – (Unit Decimal Places) You can opt in to use four decimal places for unit amounts"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BankTransactions"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type BankTransactions array with new BankTransaction",
            "schema": {
              "$ref": "#/definitions/BankTransactions"
            },
            "examples": {
              "application/json": {
                "Id": "5bc1d776-3c7f-4fe8-9b2d-09e747077a88",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1551213568047)/",
                "BankTransactions": [
                  {
                    "BankTransactionID": "1289c190-e46d-434b-9628-463ffdb52f00",
                    "BankAccount": {
                      "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9",
                      "Code": "088",
                      "Name": "Business Wells Fargo"
                    },
                    "Type": "SPEND",
                    "Reference": "",
                    "IsReconciled": false,
                    "CurrencyRate": 1.0,
                    "Contact": {
                      "ContactID": "5cc8cf28-567e-4d43-b287-687cfcaec47c",
                      "ContactStatus": "ACTIVE",
                      "Name": "Katherine Warren",
                      "FirstName": "Katherine",
                      "LastName": "Warren",
                      "EmailAddress": "kat.warren@clampett.com",
                      "BankAccountDetails": "",
                      "Addresses": [
                        {
                          "AddressType": "STREET",
                          "City": "",
                          "Region": "",
                          "PostalCode": "",
                          "Country": ""
                        },
                        {
                          "AddressType": "POBOX",
                          "AddressLine1": "",
                          "AddressLine2": "",
                          "AddressLine3": "",
                          "AddressLine4": "",
                          "City": "Palo Alto",
                          "Region": "CA",
                          "PostalCode": "94020",
                          "Country": "United States"
                        }
                      ],
                      "Phones": [
                        {
                          "PhoneType": "DEFAULT",
                          "PhoneNumber": "847-1294",
                          "PhoneAreaCode": "(626)",
                          "PhoneCountryCode": ""
                        },
                        {
                          "PhoneType": "DDI",
                          "PhoneNumber": "",
                          "PhoneAreaCode": "",
                          "PhoneCountryCode": ""
                        },
                        {
                          "PhoneType": "FAX",
                          "PhoneNumber": "",
                          "PhoneAreaCode": "",
                          "PhoneCountryCode": ""
                        },
                        {
                          "PhoneType": "MOBILE",
                          "PhoneNumber": "",
                          "PhoneAreaCode": "",
                          "PhoneCountryCode": ""
                        }
                      ],
                      "UpdatedDateUTC": "/Date(1503348544227+0000)/",
                      "ContactGroups": [],
                      "ContactPersons": [],
                      "HasValidationErrors": false
                    },
                    "DateString": "2019-02-26T00:00:00",
                    "Date": "/Date(1551139200000+0000)/",
                    "Status": "AUTHORISED",
                    "LineAmountTypes": "Inclusive",
                    "LineItems": [
                      {
                        "Description": "Foobar",
                        "UnitAmount": 20.0,
                        "TaxType": "TAX001",
                        "TaxAmount": 1.74,
                        "LineAmount": 20.0,
                        "AccountCode": "400",
                        "Tracking": [],
                        "Quantity": 1.0,
                        "LineItemID": "d2a06879-da49-4d6c-83b5-72a93a523ec6",
                        "AccountID": "ebd06280-af70-4bed-97c6-7451a454ad85",
                        "ValidationErrors": []
                      }
                    ],
                    "SubTotal": 18.26,
                    "TotalTax": 1.74,
                    "Total": 20.0,
                    "UpdatedDateUTC": "/Date(1551213567813+0000)/",
                    "CurrencyCode": "USD",
                    "StatusAttributeString": "ERROR",
                    "ValidationErrors": [
                      {
                        "Message": "The Contact must contain at least 1 of the following elements to identify the contact: Name, ContactID, ContactNumber"
                      }
                    ]
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "A failed request due to validation error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.transactions"
            ]
          }
        ]
      }
    },
    "/BankTransactions/{BankTransactionID}": {
      "get": {
        "description": "Retrieves a single spent or received money transaction by using a unique bank transaction Id",
        "summary": "getBankTransaction",
        "tags": [
          "Accounting"
        ],
        "operationId": "getBankTransaction",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "BankTransactionID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Xero generated unique identifier for a bank transaction"
          },
          {
            "name": "unitdp",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "e.g. unitdp=4 – (Unit Decimal Places) You can opt in to use four decimal places for unit amounts"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type BankTransactions array with a specific BankTransaction",
            "schema": {
              "$ref": "#/definitions/BankTransactions"
            },
            "examples": {
              "application/json": {
                "Id": "612e204d-21ab-469b-ac84-afe0697b4461",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1551212902962)/",
                "BankTransactions": [
                  {
                    "BankTransactionID": "db54aab0-ad40-4ced-bcff-0940ba20db2c",
                    "BankAccount": {
                      "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9",
                      "Code": "088",
                      "Name": "Business Wells Fargo"
                    },
                    "BatchPayment": {
                      "Account": {
                        "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9"
                      },
                      "BatchPaymentID": "b54aa50c-794c-461b-89d1-846e1b84d9c0",
                      "Date": "/Date(1476316800000+0000)/",
                      "Type": "RECBATCH",
                      "Status": "AUTHORISED",
                      "TotalAmount": "12.00",
                      "UpdatedDateUTC": "/Date(1476392487037+0000)/",
                      "IsReconciled": "false"
                    },
                    "Type": "RECEIVE",
                    "IsReconciled": false,
                    "CurrencyRate": 1.0,
                    "PrepaymentID": "cb62750f-b49c-464b-a45b-e2e2c514c8a9",
                    "HasAttachments": true,
                    "Attachments": [
                      {
                        "AttachmentID": "45dd3143-9856-42d2-9a6c-53814f67a33e",
                        "FileName": "sample2.jpg",
                        "Url": "https://api.xero.com/api.xro/2.0/banktransaction/db54aab0-ad40-4ced-bcff-0940ba20db2c/Attachments/sample2.jpg",
                        "MimeType": "image/jpg",
                        "ContentLength": 2878711
                      }
                    ],
                    "Contact": {
                      "ContactID": "9c2c64de-12c9-4167-b503-e2c0e1aa1f49",
                      "ContactStatus": "ACTIVE",
                      "Name": "sam",
                      "EmailAddress": "",
                      "BankAccountDetails": "",
                      "Addresses": [
                        {
                          "AddressType": "STREET",
                          "City": "",
                          "Region": "",
                          "PostalCode": "",
                          "Country": ""
                        },
                        {
                          "AddressType": "POBOX",
                          "City": "",
                          "Region": "",
                          "PostalCode": "",
                          "Country": ""
                        }
                      ],
                      "Phones": [
                        {
                          "PhoneType": "DEFAULT",
                          "PhoneNumber": "",
                          "PhoneAreaCode": "",
                          "PhoneCountryCode": ""
                        },
                        {
                          "PhoneType": "DDI",
                          "PhoneNumber": "",
                          "PhoneAreaCode": "",
                          "PhoneCountryCode": ""
                        },
                        {
                          "PhoneType": "FAX",
                          "PhoneNumber": "",
                          "PhoneAreaCode": "",
                          "PhoneCountryCode": ""
                        },
                        {
                          "PhoneType": "MOBILE",
                          "PhoneNumber": "",
                          "PhoneAreaCode": "",
                          "PhoneCountryCode": ""
                        }
                      ],
                      "UpdatedDateUTC": "/Date(1518821703467+0000)/",
                      "ContactGroups": [],
                      "DefaultCurrency": "USD",
                      "ContactPersons": [],
                      "HasValidationErrors": false
                    },
                    "DateString": "2016-10-13T00:00:00",
                    "Date": "/Date(1476316800000+0000)/",
                    "Status": "AUTHORISED",
                    "LineAmountTypes": "Exclusive",
                    "LineItems": [
                      {
                        "Description": "hello",
                        "UnitAmount": 10.0,
                        "TaxType": "OUTPUT",
                        "TaxAmount": 0.0,
                        "LineAmount": 10.0,
                        "AccountCode": "400",
                        "Tracking": [],
                        "Quantity": 1.0,
                        "LineItemID": "40bec527-a744-4149-96c5-0ab643b51158",
                        "AccountID": "ebd06280-af70-4bed-97c6-7451a454ad85",
                        "ValidationErrors": []
                      }
                    ],
                    "SubTotal": 10.0,
                    "TotalTax": 0.0,
                    "Total": 10.0,
                    "UpdatedDateUTC": "/Date(1476389616437+0000)/",
                    "CurrencyCode": "USD"
                  }
                ]
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.transactions",
              "accounting.transactions.read"
            ]
          }
        ]
      },
      "post": {
        "description": "Updates a single spent or received money transaction",
        "summary": "updateBankTransaction",
        "tags": [
          "Accounting"
        ],
        "operationId": "updateBankTransaction",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "BankTransactionID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Xero generated unique identifier for a bank transaction"
          },
          {
            "name": "unitdp",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "e.g. unitdp=4 – (Unit Decimal Places) You can opt in to use four decimal places for unit amounts"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BankTransactions"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type BankTransactions array with updated BankTransaction",
            "schema": {
              "$ref": "#/definitions/BankTransactions"
            },
            "examples": {
              "application/json": {
                "Id": "f2c7f037-96fc-49bd-8f59-d3c7bfdd4746",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1551213568875)/",
                "BankTransactions": [
                  {
                    "BankTransactionID": "1289c190-e46d-434b-9628-463ffdb52f00",
                    "BankAccount": {
                      "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9",
                      "Code": "088",
                      "Name": "Business Wells Fargo"
                    },
                    "Type": "SPEND",
                    "Reference": "You just updated",
                    "IsReconciled": false,
                    "CurrencyRate": 1.0,
                    "HasAttachments": false,
                    "Attachments": [],
                    "Contact": {
                      "ContactID": "5cc8cf28-567e-4d43-b287-687cfcaec47c",
                      "ContactStatus": "ACTIVE",
                      "Name": "Katherine Warren",
                      "FirstName": "Katherine",
                      "LastName": "Warren",
                      "EmailAddress": "kat.warren@clampett.com",
                      "BankAccountDetails": "",
                      "Addresses": [
                        {
                          "AddressType": "STREET",
                          "City": "",
                          "Region": "",
                          "PostalCode": "",
                          "Country": ""
                        },
                        {
                          "AddressType": "POBOX",
                          "AddressLine1": "",
                          "AddressLine2": "",
                          "AddressLine3": "",
                          "AddressLine4": "",
                          "City": "Palo Alto",
                          "Region": "CA",
                          "PostalCode": "94020",
                          "Country": "United States"
                        }
                      ],
                      "Phones": [
                        {
                          "PhoneType": "DEFAULT",
                          "PhoneNumber": "847-1294",
                          "PhoneAreaCode": "(626)",
                          "PhoneCountryCode": ""
                        },
                        {
                          "PhoneType": "DDI",
                          "PhoneNumber": "",
                          "PhoneAreaCode": "",
                          "PhoneCountryCode": ""
                        },
                        {
                          "PhoneType": "FAX",
                          "PhoneNumber": "",
                          "PhoneAreaCode": "",
                          "PhoneCountryCode": ""
                        },
                        {
                          "PhoneType": "MOBILE",
                          "PhoneNumber": "",
                          "PhoneAreaCode": "",
                          "PhoneCountryCode": ""
                        }
                      ],
                      "UpdatedDateUTC": "/Date(1503348544227+0000)/",
                      "ContactGroups": [],
                      "ContactPersons": [],
                      "HasValidationErrors": false
                    },
                    "DateString": "2019-02-25T00:00:00",
                    "Date": "/Date(1551052800000+0000)/",
                    "Status": "AUTHORISED",
                    "LineAmountTypes": "Inclusive",
                    "LineItems": [
                      {
                        "Description": "Foobar",
                        "UnitAmount": 20.0,
                        "TaxType": "TAX001",
                        "TaxAmount": 1.74,
                        "LineAmount": 20.0,
                        "AccountCode": "400",
                        "Tracking": [],
                        "Quantity": 1.0,
                        "LineItemID": "d2a06879-da49-4d6c-83b5-72a93a523ec6",
                        "AccountID": "ebd06280-af70-4bed-97c6-7451a454ad85",
                        "ValidationErrors": []
                      }
                    ],
                    "SubTotal": 18.26,
                    "TotalTax": 1.74,
                    "Total": 20.0,
                    "UpdatedDateUTC": "/Date(1551213568733+0000)/",
                    "CurrencyCode": "USD"
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "A failed request due to validation error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.transactions"
            ]
          }
        ]
      }
    },
    "/BankTransactions/{BankTransactionID}/Attachments": {
      "get": {
        "description": "Retrieves any attachments from a specific bank transactions",
        "summary": "getBankTransactionAttachments",
        "tags": [
          "Accounting"
        ],
        "operationId": "getBankTransactionAttachments",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "BankTransactionID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Xero generated unique identifier for a bank transaction"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type Attachments array with 0 to n Attachment",
            "schema": {
              "$ref": "#/definitions/Attachments"
            },
            "examples": {
              "application/json": {
                "Id": "c50798e1-29e9-4a30-a452-bb6e42e400c8",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1551303999577)/",
                "Attachments": [
                  {
                    "AttachmentID": "4508a692-e52c-4ad8-a138-2f13e22bf57b",
                    "FileName": "sample5.jpg",
                    "Url": "https://api.xero.com/api.xro/2.0/BankTransactions/db54aab0-ad40-4ced-bcff-0940ba20db2c/Attachments/sample5.jpg",
                    "MimeType": "image/jpg",
                    "ContentLength": 2878711
                  },
                  {
                    "AttachmentID": "45dd3143-9856-42d2-9a6c-53814f67a33e",
                    "FileName": "sample2.jpg",
                    "Url": "https://api.xero.com/api.xro/2.0/BankTransactions/db54aab0-ad40-4ced-bcff-0940ba20db2c/Attachments/sample2.jpg",
                    "MimeType": "image/jpg",
                    "ContentLength": 2878711
                  }
                ]
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.attachments",
              "accounting.attachments.read"
            ]
          }
        ]
      }
    },
    "/BankTransactions/{BankTransactionID}/Attachments/{AttachmentID}": {
      "get": {
        "description": "Retrieves specific attachments from a specific BankTransaction using a unique attachment Id",
        "summary": "getBankTransactionAttachmentById",
        "tags": [
          "Accounting"
        ],
        "operationId": "getBankTransactionAttachmentById",
        "deprecated": false,
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "BankTransactionID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Xero generated unique identifier for a bank transaction"
          },
          {
            "name": "AttachmentID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for Attachment object"
          },
          {
            "name": "contentType",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The mime type of the attachment file you are retrieving i.e image/jpg, application/pdf"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of attachment for BankTransaction as binary data",
            "schema": {
              "type": "string",
              "default": "",
              "format": "binary"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.attachments",
              "accounting.attachments.read"
            ]
          }
        ]
      }
    },
    "/BankTransactions/{BankTransactionID}/Attachments/{FileName}": {
      "get": {
        "description": "Retrieves a specific attachment from a specific bank transaction by filename",
        "summary": "getBankTransactionAttachmentByFileName",
        "tags": [
          "Accounting"
        ],
        "operationId": "getBankTransactionAttachmentByFileName",
        "deprecated": false,
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "BankTransactionID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Xero generated unique identifier for a bank transaction"
          },
          {
            "name": "FileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the attachment"
          },
          {
            "name": "contentType",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The mime type of the attachment file you are retrieving i.e image/jpg, application/pdf"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of attachment for BankTransaction as binary data",
            "schema": {
              "type": "string",
              "default": "",
              "format": "binary"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.attachments",
              "accounting.attachments.read"
            ]
          }
        ]
      },
      "post": {
        "description": "Updates a specific attachment from a specific bank transaction by filename",
        "summary": "updateBankTransactionAttachmentByFileName",
        "tags": [
          "Accounting"
        ],
        "operationId": "updateBankTransactionAttachmentByFileName",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "BankTransactionID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Xero generated unique identifier for a bank transaction"
          },
          {
            "name": "FileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the attachment"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/octet-stream"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "formData",
            "required": true,
            "type": "file",
            "format": "file",
            "description": "Byte array of file in body of request"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of Attachments array of Attachment",
            "schema": {
              "$ref": "#/definitions/Attachments"
            },
            "examples": {
              "application/json": {
                "Id": "572ad2fe-8c23-45aa-82f9-864485327685",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1551286166630)/",
                "Attachments": [
                  {
                    "AttachmentID": "4508a692-e52c-4ad8-a138-2f13e22bf57b",
                    "FileName": "sample5.jpg",
                    "Url": "https://api.xero.com/api.xro/2.0/BankTransactions/db54aab0-ad40-4ced-bcff-0940ba20db2c/Attachments/sample5.jpg",
                    "MimeType": "image/jpg",
                    "ContentLength": 2878711
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "A failed request due to validation error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.attachments"
            ]
          }
        ]
      },
      "put": {
        "description": "Creates an attachment for a specific bank transaction by filename",
        "summary": "createBankTransactionAttachmentByFileName",
        "tags": [
          "Accounting"
        ],
        "operationId": "createBankTransactionAttachmentByFileName",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "BankTransactionID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Xero generated unique identifier for a bank transaction"
          },
          {
            "name": "FileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the attachment"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/octet-stream"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "formData",
            "required": true,
            "type": "file",
            "format": "file",
            "description": "Byte array of file in body of request"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of Attachments array of Attachment",
            "schema": {
              "$ref": "#/definitions/Attachments"
            },
            "examples": {
              "application/json": {
                "Id": "572ad2fe-8c23-45aa-82f9-864485327685",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1551286166630)/",
                "Attachments": [
                  {
                    "AttachmentID": "4508a692-e52c-4ad8-a138-2f13e22bf57b",
                    "FileName": "sample5.jpg",
                    "Url": "https://api.xero.com/api.xro/2.0/BankTransactions/db54aab0-ad40-4ced-bcff-0940ba20db2c/Attachments/sample5.jpg",
                    "MimeType": "image/jpg",
                    "ContentLength": 2878711
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "A failed request due to validation error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.attachments"
            ]
          }
        ]
      }
    },
    "/BankTransactions/{BankTransactionID}/History": {
      "get": {
        "description": "Retrieves history from a specific bank transaction using a unique bank transaction Id",
        "summary": "getBankTransactionsHistory",
        "tags": [
          "Accounting"
        ],
        "operationId": "getBankTransactionsHistory",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "BankTransactionID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Xero generated unique identifier for a bank transaction"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of HistoryRecords array of 0 to N HistoryRecord",
            "schema": {
              "$ref": "#/definitions/HistoryRecords"
            },
            "examples": {
              "application/json": {
                "Id": "cd54cc7b-b721-4207-b11d-7d13c7902f91",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1551311321819)/",
                "HistoryRecords": [
                  {
                    "Changes": "Attached a file",
                    "DateUTCString": "2018-11-08T15:01:21",
                    "DateUTC": "/Date(1541689281470+0000)/",
                    "User": "System Generated",
                    "Details": "Attached the file sample2.jpg through the Xero API using Xero API Partner"
                  },
                  {
                    "Changes": "Credit Applied",
                    "DateUTCString": "2016-10-17T20:46:01",
                    "DateUTC": "/Date(1476737161173+0000)/",
                    "User": "System Generated",
                    "Details": "Bank transfer from Business Wells Fargo to My Savings on November 12, 2016 for 20.00."
                  }
                ]
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.transactions",
              "accounting.transactions.read"
            ]
          }
        ]
      },
      "put": {
        "description": "Creates a history record for a specific bank transactions",
        "summary": "createBankTransactionHistoryRecord",
        "tags": [
          "Accounting"
        ],
        "operationId": "createBankTransactionHistoryRecord",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "BankTransactionID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Xero generated unique identifier for a bank transaction"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "HistoryRecords containing an array of HistoryRecord objects in body of request",
            "schema": {
              "$ref": "#/definitions/HistoryRecords"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type HistoryRecords array of HistoryRecord objects",
            "schema": {
              "$ref": "#/definitions/HistoryRecords"
            },
            "examples": {
              "application/json": {
                "Id": "d7525479-3392-44c0-bb37-ff4a0b5df5bd",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1550899400362)/",
                "HistoryRecords": [
                  {
                    "DateUTCString": "2019-02-23T05:23:20",
                    "DateUTC": "/Date(1550899400362)/",
                    "Details": "Hello World",
                    "ValidationErrors": []
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "A failed request due to validation error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.transactions"
            ]
          }
        ]
      }
    },
    "/BankTransfers": {
      "get": {
        "description": "Retrieves all bank transfers",
        "summary": "getBankTransfers",
        "tags": [
          "Accounting"
        ],
        "operationId": "getBankTransfers",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Only records created or modified since this timestamp will be returned"
          },
          {
            "name": "where",
[...]
