{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Xero OAuth 2.0",
    "description": "Xero Custom Connector",
    "contact": {
      "name": "Phil Stubbington",
      "url": "https://www.henleyridge.co.uk",
      "email": "philstubbington@henleyridge.co.uk"
    }
  },
  "host": "api.xero.com",
  "basePath": "/",
  "schemes":[
    "https"
  ],






  "paths": {
    "/connections": {
      "get": {
        "summary": "Get started",
        "description": "Get details of all the tenants we're authorised to access for subsequent operations.",
        "operationId": "GetStarted",
        "responses": {
          "default": {
            "description": "default",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "title": "id",
                        "type": "string",
                        "description": "id"
                      },
                      "authEventId": {
                        "title": "authEventId",
                        "type": "string",
                        "description": "authEventId"
                      },
                      "tenantId": {
                        "title": "tenantId",
                        "type": "string",
                        "description": "tenantId"
                      },
                      "tenantType": {
                        "title": "tenantType",
                        "type": "string",
                        "description": "tenantType"
                      },
                      "tenantName": {
                        "title": "tenantName",
                        "type": "string",
                        "description": "tenantName"
                      },
                      "createdDateUtc": {
                        "title": "createdDateUtc",
                        "type": "string",
                        "description": "createdDateUtc",
                        "format": "date-time"
                      },
                      "updatedDateUtc": {
                        "title": "updatedDateUtc",
                        "type": "string",
                        "description": "updatedDateUtc",
                        "format": "date-time"
                      }
                    }
                  }
                }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/api.xro/2.0/Invoices": {
      "get": {
        "summary": "Get all invoices",
        "description": "Get all the invoices for the current tenant.",
        "operationId": "Invoices",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type":"string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type",
            "required": true,
            "type":"string",
            "default": "application/json"
          },
          {
            "name": "xero-tenant-id",
            "in": "header",
            "description": "xero-tenant-id",
            "required": true,
            "type":"string",
            "default": "{{xero_tenant_id}}"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
                "schema": {
                  "type": "object",
                  "properties": {
                    "Id": {
                      "type": "string",
                      "description": "Id"
                    },
                    "Status": {
                      "title": "Status",
                      "type": "string",
                      "description": "Status",
                      "x-ms-visibility": "important"
                    },
                    "ProviderName": {
                      "type": "string",
                      "description": "ProviderName"
                    },
                    "DateTimeUTC": {
                      "type": "string",
                      "description": "DateTimeUTC"
                    },
                    "Invoices": {
                      "type": "array",
                      "description": "Invoices",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Type": {
                            "type": "string",
                            "description": "Type"
                          },
                          "InvoiceID": {
                            "type": "string",
                            "description": "InvoiceID"
                          },
                          "InvoiceNumber": {
                            "type": "string",
                            "description": "InvoiceNumber"
                          },
                          "Reference": {
                            "type": "string",
                            "description": "Reference"
                          },
                          "Payments": {
                            "type": "array",
                            "description": "Payments",
                            "items": {
                              "type": "object",
                              "properties": {
                                "PaymentID": {
                                  "type": "string",
                                  "description": "PaymentID"
                                },
                                "Date": {
                                  "type": "string",
                                  "description": "Date"
                                },
                                "Amount": {
                                  "type": "number",
                                  "description": "Amount",
                                  "format": "float"
                                },
                                "Reference": {
                                  "type": "string",
                                  "description": "Reference"
                                },
                                "CurrencyRate": {
                                  "type": "number",
                                  "description": "CurrencyRate",
                                  "format": "float"
                                },
                                "HasAccount": {
                                  "type": "boolean",
                                  "description": "HasAccount"
                                },
                                "HasValidationErrors": {
                                  "type": "boolean",
                                  "description": "HasValidationErrors"
                                },
                                "BatchPaymentID": {
                                  "type": "string",
                                  "description": "BatchPaymentID"
                                }
                              }
                            }
                          },
                          "CreditNotes": {
                            "type": "array",
                            "description": "CreditNotes",
                            "items": {
                              "type": "object",
                              "properties": {
                                "CreditNoteID": {
                                  "type": "string",
                                  "description": "CreditNoteID"
                                },
                                "CreditNoteNumber": {
                                  "type": "string",
                                  "description": "CreditNoteNumber"
                                },
                                "ID": {
                                  "type": "string",
                                  "description": "ID"
                                },
                                "HasErrors": {
                                  "type": "boolean",
                                  "description": "HasErrors"
                                },
                                "AppliedAmount": {
                                  "type": "number",
                                  "description": "AppliedAmount",
                                  "format": "float"
                                },
                                "DateString": {
                                  "type": "string",
                                  "description": "DateString"
                                },
                                "Date": {
                                  "type": "string",
                                  "description": "Date"
                                },
                                "LineItems": {
                                  "type": "array",
                                  "description": "LineItems",
                                  "items": {
                                    "type": "object"
                                  }
                                },
                                "Total": {
                                  "type": "number",
                                  "description": "Total",
                                  "format": "float"
                                }
                              }
                            }
                          },
                          "Prepayments": {
                            "type": "array",
                            "description": "Prepayments",
                            "items": {
                              "type": "object"
                            }
                          },
                          "Overpayments": {
                            "type": "array",
                            "description": "Overpayments",
                            "items": {
                              "type": "object"
                            }
                          },
                          "AmountDue": {
                            "title": "",
                            "type": "number",
                            "description": "AmountDue",
                            "format": "float"
                          },
                          "AmountPaid": {
                            "type": "number",
                            "description": "AmountPaid",
                            "format": "float"
                          },
                          "AmountCredited": {
                            "title": "AmountCredited",
                            "type": "number",
                            "description": "AmountCredited",
                            "format": "float"
                          },
                          "CurrencyRate": {
                            "title": "",
                            "type": "number",
                            "description": "CurrencyRate",
                            "format": "float"
                          },
                          "IsDiscounted": {
                            "type": "boolean",
                            "description": "IsDiscounted"
                          },
                          "HasAttachments": {
                            "type": "boolean",
                            "description": "HasAttachments"
                          },
                          "HasErrors": {
                            "type": "boolean",
                            "description": "HasErrors"
                          },
                          "RepeatingInvoiceID": {
                            "type": "string",
                            "description": "RepeatingInvoiceID"
                          },
                          "Contact": {
                            "type": "object",
                            "properties": {
                              "ContactID": {
                                "type": "string",
                                "description": "ContactID"
                              },
                              "Name": {
                                "type": "string",
                                "description": "Name"
                              },
                              "Addresses": {
                                "type": "array",
                                "description": "Addresses",
                                "items": {
                                  "type": "object"
                                }
                              },
                              "Phones": {
                                "type": "array",
                                "description": "Phones",
                                "items": {
                                  "type": "object"
                                }
                              },
                              "ContactGroups": {
                                "type": "array",
                                "description": "ContactGroups",
                                "items": {
                                  "type": "object"
                                }
                              },
                              "ContactPersons": {
                                "type": "array",
                                "description": "ContactPersons",
                                "items": {
                                  "type": "object"
                                }
                              },
                              "HasValidationErrors": {
                                "type": "boolean",
                                "description": "HasValidationErrors"
                              }
                            },
                            "description": "Contact"
                          },
                          "DateString": {
                            "type": "string",
                            "description": "DateString"
                          },
                          "Date": {
                            "type": "string",
                            "description": "Date"
                          },
                          "DueDateString": {
                            "type": "string",
                            "description": "DueDateString"
                          },
                          "DueDate": {
                            "type": "string",
                            "description": "DueDate"
                          },
                          "Status": {
                            "type": "string",
                            "description": "Status"
                          },
                          "LineAmountTypes": {
                            "type": "string",
                            "description": "LineAmountTypes"
                          },
                          "LineItems": {
                            "type": "array",
                            "description": "LineItems",
                            "items": {
                              "type": "object"
                            }
                          },
                          "SubTotal": {
                            "type": "number",
                            "description": "SubTotal",
                            "format": "float"
                          },
                          "TotalTax": {
                            "type": "number",
                            "description": "TotalTax",
                            "format": "float"
                          },
                          "Total": {
                            "type": "number",
                            "description": "Total",
                            "format": "float"
                          },
                          "UpdatedDateUTC": {
                            "type": "string",
                            "description": "UpdatedDateUTC"
                          },
                          "CurrencyCode": {
                            "type": "string",
                            "description": "CurrencyCode"
                          },
                          "SentToContact": {
                            "type": "boolean",
                            "description": "SentToContact"
                          },
                          "BrandingThemeID": {
                            "type": "string",
                            "description": "BrandingThemeID"
                          },
                          "FullyPaidOnDate": {
                            "type": "string",
                            "description": "FullyPaidOnDate"
                          }
                        }
                      }
                    }
                  }
                }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/connect/token": {
      "post": {
        "summary": "Refresh token",
        "description": "Refresh token",
        "operationId": "RefreshToken",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
              "type": "string",
              "default": "{{client_id}}"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "{{client_secret}}"
            }
          },
          {
            "name": "refresh_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "{{refresh_token}}"
            }
          },
          {
            "name": "grant_type",
            "in": "header",
            "description": "grant_type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "refresh_token"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
                "schema": {
                  "type": "object"
                }
            }
        }
      }
    },
    "/api.xro/2.0/Accounts/": {
      "get": {
        "summary": "Get chart of accounts",
        "description": "Get all accounts in the chart of accounts for the current tenant",
        "operationId": "Accounts",
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "description": "xero-tenant-id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "{{xero_tenant_id}}"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
                "schema": {
                  "type": "object",
                  "properties": {
                    "Id": {
                      "type": "string",
                      "description": "Id"
                    },
                    "Status": {
                      "type": "string",
                      "description": "Status"
                    },
                    "ProviderName": {
                      "type": "string",
                      "description": "ProviderName"
                    },
                    "DateTimeUTC": {
                      "type": "string",
                      "description": "DateTimeUTC"
                    },
                    "Accounts": {
                      "type": "array",
                      "description": "Accounts",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AccountID": {
                            "type": "string",
                            "description": "AccountID"
                          },
                          "Code": {
                            "type": "string",
                            "description": "Code"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "Status": {
                            "type": "string",
                            "description": "Status"
                          },
                          "Type": {
                            "type": "string",
                            "description": "Type"
                          },
                          "TaxType": {
                            "type": "string",
                            "description": "TaxType"
                          },
                          "Class": {
                            "type": "string",
                            "description": "Class"
                          },
                          "EnablePaymentsToAccount": {
                            "type": "boolean",
                            "description": "EnablePaymentsToAccount"
                          },
                          "ShowInExpenseClaims": {
                            "type": "boolean",
                            "description": "ShowInExpenseClaims"
                          },
                          "BankAccountNumber": {
                            "type": "string",
                            "description": "BankAccountNumber"
                          },
                          "BankAccountType": {
                            "type": "string",
                            "description": "BankAccountType"
                          },
                          "CurrencyCode": {
                            "type": "string",
                            "description": "CurrencyCode"
                          },
                          "ReportingCode": {
                            "type": "string",
                            "description": "ReportingCode"
                          },
                          "ReportingCodeName": {
                            "type": "string",
                            "description": "ReportingCodeName"
                          },
                          "HasAttachments": {
                            "type": "boolean",
                            "description": "HasAttachments"
                          },
                          "Attachments": {
                            "type": "array",
                            "description": "Attachments",
                            "items": {
                              "type": "object"
                            }
                          },
                          "UpdatedDateUTC": {
                            "type": "string",
                            "description": "UpdatedDateUTC"
                          },
                          "AddToWatchlist": {
                            "type": "boolean",
                            "description": "AddToWatchlist"
                          }
                        }
                      }
                    }
                  }
                }
          }
        }
      }
    },
    "/api.xro/2.0/Accounts/{account_id}": {
      "get": {
        "summary": "Get a single account in the chart of accounts",
        "description": "Get details of a single account in the chart of accounts for a tenant",
        "operationId": "Account",
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "description": "xero-tenant-id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "{{xero_tenant_id}}"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }

}