{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Xero OAuth 2.0",
    "description": "Xero is an accounting solution for small and medium sized businesses.  This connector enables you to access Xero data from the Power Platform.",
    "contact": {
      "name": "Phil Stubbington / Henley Ridge Management Consulting Limited",
      "url": "https://www.henleyridge.co.uk",
      "email": "philstubbington@henleyridge.co.uk"
    }
  },


  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.henleyridge.co.uk"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.iubenda.com/privacy-policy/27976889"

    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Finance"

    }
  ],

  "host": "api.xero.com",
  "basePath": "/api.xro/2.0",
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "description": "For more information",
      "flow": "accessCode",
      "authorizationUrl": "https://login.xero.com/identity/connect/authorize",
      "tokenUrl": "https://identity.xero.com/connect/token",
      "scopes": {
        "email": "Grant read-only access to your email",
        "openid": "Grant read-only access to your open id",
        "profile": "your profile information",
        "accounting.attachments": "Grant read-write access to attachments",
        "accounting.attachments.read": "Grant read-only access to attachments",
        "accounting.contacts": "Grant read-write access to contacts and contact groups",
        "accounting.contacts.read": "Grant read-only access to contacts and contact groups",
        "accounting.journals.read": "Grant read-only access to journals",
        "accounting.reports.read": "Grant read-only access to accounting reports",
        "accounting.reports.tenninetynine.read": "Grant read-only access to 1099 reports",
        "accounting.settings": "Grant read-write access to organisation and account settings",
        "accounting.settings.read": "Grant read-only access to organisation and account settings",
        "accounting.transactions": "Grant read-write access to bank transactions, credit notes, invoices, repeating invoices",
        "accounting.transactions.read": "Grant read-only access to invoices",
        "paymentservices": "Grant read-write access to payment services",
        "accounting.budgets.read": ""
      }
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Accounts": {
      "get": {
        "description": "Retrieves the full chart of accounts",
        "summary": "getAccounts",
        "tags": [
          "Accounting"
        ],
        "operationId": "getAccounts",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Only records created or modified since this timestamp will be returned"
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by an any element"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Order by an any element"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type Accounts array with 0 to n Account",
            "schema": {
              "$ref": "#/definitions/Accounts"
            },
            "examples": {
              "application/json": {
                "Accounts": [
                  {
                    "AccountID": "ebd06280-af70-4bed-97c6-7451a454ad85",
                    "Code": "091",
                    "Name": "Business Savings Account",
                    "Type": "BANK",
                    "TaxType": "NONE",
                    "EnablePaymentsToAccount": false,
                    "BankAccountNumber": "0209087654321050",
                    "BankAccountType": "BANK",
                    "CurrencyCode": "NZD"
                  },
                  {
                    "AccountID": "7d05a53d-613d-4eb2-a2fc-dcb6adb80b80",
                    "Code": "200",
                    "Name": "Sales",
                    "Type": "REVENUE",
                    "TaxType": "OUTPUT2",
                    "Description": "Income from any normal business activity",
                    "EnablePaymentsToAccount": false
                  }
                ]
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.settings",
              "accounting.settings.read"
            ]
          }
        ]
      },
      "put": {
        "description": "Creates a new chart of accounts",
        "summary": "createAccount",
        "tags": [
          "Accounting"
        ],
        "operationId": "createAccount",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Account object in body of request",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - created new Account and return response of type Accounts array with new Account",
            "schema": {
              "$ref": "#/definitions/Accounts"
            },
            "examples": {
              "application/json": {
                "Id": "11814c9d-3b5e-492e-93b0-fad16bf3244f",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1550793549392)/",
                "Accounts": [
                  {
                    "AccountID": "66b262e2-561e-423e-8937-47d558f13442",
                    "Code": "123456",
                    "Name": "Foobar",
                    "Status": "ACTIVE",
                    "Type": "EXPENSE",
                    "TaxType": "INPUT",
                    "Description": "Hello World",
                    "Class": "EXPENSE",
                    "EnablePaymentsToAccount": false,
                    "ShowInExpenseClaims": false,
                    "ReportingCode": "EXP",
                    "ReportingCodeName": "Expense",
                    "UpdatedDateUTC": "/Date(1550793549320+0000)/"
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Validation Error - some data was incorrect returns response of type Error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": {
                "ErrorNumber": 10,
                "Type": "ValidationException",
                "Message": "A validation exception occurred",
                "Elements": [
                  {
                    "AccountID": "00000000-0000-0000-0000-000000000000",
                    "Code": "123456",
                    "Name": "Foobar",
                    "Type": "EXPENSE",
                    "Description": "Hello World",
                    "ValidationErrors": [
                      {
                        "Message": "Please enter a unique Name."
                      }
                    ]
                  }
                ]
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.settings"
            ]
          }
        ]
      }
    },
    "/Accounts/{AccountID}": {
      "get": {
        "description": "Retrieves a single chart of accounts by using a unique account Id",
        "summary": "getAccount",
        "tags": [
          "Accounting"
        ],
        "operationId": "getAccount",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for Account object"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type Accounts array with one Account",
            "schema": {
              "$ref": "#/definitions/Accounts"
            },
            "examples": {
              "application/json": {
                "Id": "323455cc-9511-4451-a873-248d2983f38e",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1550797359081)/",
                "Accounts": [
                  {
                    "AccountID": "99ce6032-0678-4aa0-8148-240c75fee33a",
                    "Code": "123456",
                    "Name": "FooBar",
                    "Status": "ACTIVE",
                    "Type": "EXPENSE",
                    "TaxType": "INPUT",
                    "Description": "Hello World",
                    "Class": "EXPENSE",
                    "EnablePaymentsToAccount": false,
                    "ShowInExpenseClaims": false,
                    "ReportingCode": "EXP",
                    "ReportingCodeName": "Expense",
                    "UpdatedDateUTC": "/Date(1550797359120+0000)/"
                  }
                ]
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.settings",
              "accounting.settings.read"
            ]
          }
        ]
      },
      "post": {
        "description": "Updates a chart of accounts",
        "summary": "updateAccount",
        "tags": [
          "Accounting"
        ],
        "operationId": "updateAccount",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for Account object"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request of type Accounts array with one Account",
            "schema": {
              "$ref": "#/definitions/Accounts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - update existing Account and return response of type Accounts array with updated Account",
            "schema": {
              "$ref": "#/definitions/Accounts"
            },
            "examples": {
              "application/json": {
                "Id": "9012e75c-ec08-40a9-ae15-153fc1f35c4d",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1550795389340)/",
                "Accounts": [
                  {
                    "AccountID": "99ce6032-0678-4aa0-8148-240c75fee33a",
                    "Code": "654321",
                    "Name": "BarFoo",
                    "Status": "ACTIVE",
                    "Type": "EXPENSE",
                    "TaxType": "INPUT",
                    "Description": "Good Bye World",
                    "Class": "EXPENSE",
                    "EnablePaymentsToAccount": false,
                    "ShowInExpenseClaims": false,
                    "ReportingCode": "EXP",
                    "ReportingCodeName": "Expense",
                    "UpdatedDateUTC": "/Date(1550795389333+0000)/"
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Validation Error - some data was incorrect returns response of type Error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": {
                "ErrorNumber": 10,
                "Type": "ValidationException",
                "Message": "A validation exception occurred",
                "Elements": [
                  {
                    "AccountID": "00000000-0000-0000-0000-000000000000",
                    "Code": "123456",
                    "Name": "Foobar",
                    "Type": "EXPENSE",
                    "Description": "Hello World",
                    "ValidationErrors": [
                      {
                        "Message": "Please enter a unique Name."
                      }
                    ]
                  }
                ]
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.settings"
            ]
          }
        ]
      },
      "delete": {
        "description": "Deletes a chart of accounts",
        "summary": "deleteAccount",
        "tags": [
          "Accounting"
        ],
        "operationId": "deleteAccount",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for Account object"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - delete existing Account and return response of type Accounts array with deleted Account",
            "schema": {
              "$ref": "#/definitions/Accounts"
            },
            "examples": {
              "application/json": {
                "Id": "76bb0543-8efe-4acc-b7f6-67dfcdec37b4",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1550798217216)/",
                "Accounts": [
                  {
                    "AccountID": "7f3c0bec-f3e7-4073-b4d6-cc56dd027ef1",
                    "Code": "123456",
                    "Name": "FooBar",
                    "Status": "DELETED",
                    "Type": "EXPENSE",
                    "TaxType": "INPUT",
                    "Description": "Hello World",
                    "Class": "EXPENSE",
                    "EnablePaymentsToAccount": false,
                    "ShowInExpenseClaims": false,
                    "ReportingCode": "EXP",
                    "ReportingCodeName": "Expense",
                    "UpdatedDateUTC": "/Date(1550798217210+0000)/"
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Validation Error - some data was incorrect returns response of type Error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": {
                "ErrorNumber": 10,
                "Type": "ValidationException",
                "Message": "A validation exception occurred",
                "Elements": [
                  {
                    "AccountID": "00000000-0000-0000-0000-000000000000",
                    "Code": "123456",
                    "Name": "Foobar",
                    "Type": "EXPENSE",
                    "Description": "Hello World",
                    "ValidationErrors": [
                      {
                        "Message": "Please enter a unique Name."
                      }
                    ]
                  }
                ]
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.settings"
            ]
          }
        ]
      }
    },
    "/Accounts/{AccountID}/Attachments": {
      "get": {
        "description": "Retrieves attachments for a specific accounts by using a unique account Id",
        "summary": "getAccountAttachments",
        "tags": [
          "Accounting"
        ],
        "operationId": "getAccountAttachments",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for Account object"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type Attachments array of Attachment",
            "schema": {
              "$ref": "#/definitions/Attachments"
            },
            "examples": {
              "application/json": {
                "Id": "439c1573-3cd8-4697-a9f6-81fa651ee8f3",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1550852630329)/",
                "Attachments": [
                  {
                    "AttachmentID": "52a643be-cd5c-489f-9778-53a9fd337756",
                    "FileName": "sample5.jpg",
                    "Url": "https://api.xero.com/api.xro/2.0/Accounts/da962997-a8bd-4dff-9616-01cdc199283f/Attachments/sample5.jpg",
                    "MimeType": "image/jpg",
                    "ContentLength": 2878711
                  }
                ]
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.attachments",
              "accounting.attachments.read"
            ]
          }
        ]
      }
    },
    "/Accounts/{AccountID}/Attachments/{AttachmentID}": {
      "get": {
        "description": "Retrieves a specific attachment from a specific account using a unique attachment Id",
        "summary": "getAccountAttachmentById",
        "tags": [
          "Accounting"
        ],
        "operationId": "getAccountAttachmentById",
        "deprecated": false,
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for Account object"
          },
          {
            "name": "AttachmentID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for Attachment object"
          },
          {
            "name": "contentType",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The mime type of the attachment file you are retrieving i.e image/jpg, application/pdf"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of attachment for Account as binary data",
            "schema": {
              "type": "string",
              "default": "",
              "format": "binary"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.attachments",
              "accounting.attachments.read"
            ]
          }
        ]
      }
    },
    "/Accounts/{AccountID}/Attachments/{FileName}": {
      "get": {
        "description": "Retrieves an attachment for a specific account by filename",
        "summary": "getAccountAttachmentByFileName",
        "tags": [
          "Accounting"
        ],
        "operationId": "getAccountAttachmentByFileName",
        "deprecated": false,
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for Account object"
          },
          {
            "name": "FileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the attachment"
          },
          {
            "name": "contentType",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The mime type of the attachment file you are retrieving i.e image/jpg, application/pdf"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of attachment for Account as binary data",
            "schema": {
              "type": "string",
              "default": "",
              "format": "binary"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.attachments",
              "accounting.attachments.read"
            ]
          }
        ]
      },
      "post": {
        "description": "Updates attachment on a specific account by filename",
        "summary": "updateAccountAttachmentByFileName",
        "tags": [
          "Accounting"
        ],
        "operationId": "updateAccountAttachmentByFileName",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for Account object"
          },
          {
            "name": "FileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the attachment"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/octet-stream"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "formData",
            "required": true,
            "type": "file",
            "format": "file",
            "description": "Byte array of file in body of request"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type Attachments array of Attachment",
            "schema": {
              "$ref": "#/definitions/Attachments"
            },
            "examples": {
              "application/json": {
                "Id": "c8d6413a-1da2-4faa-9848-21f60443e906",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1550859714477)/",
                "Attachments": [
                  {
                    "AttachmentID": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "FileName": "sample5.jpg",
                    "Url": "https://api.xero.com/api.xro/2.0/Accounts/da962997-a8bd-4dff-9616-01cdc199283f/Attachments/sample5.jpg",
                    "MimeType": "image/jpg",
                    "ContentLength": 2878711
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Validation Error - some data was incorrect returns response of type Error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.attachments"
            ]
          }
        ]
      },
      "put": {
        "description": "Creates an attachment on a specific account",
        "summary": "createAccountAttachmentByFileName",
        "tags": [
          "Accounting"
        ],
        "operationId": "createAccountAttachmentByFileName",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Xero identifier for Tenant"
          },
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for Account object"
          },
          {
            "name": "FileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the attachment"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/octet-stream"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "formData",
            "required": true,
            "type": "file",
            "format": "file",
            "description": "Byte array of file in body of request"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type Attachments array of Attachment",
            "schema": {
              "$ref": "#/definitions/Attachments"
            },
            "examples": {
              "application/json": {
                "Id": "724cdff5-bcd1-4c5c-977e-e864c24258e0",
                "Status": "OK",
                "ProviderName": "Xero API Partner",
                "DateTimeUTC": "/Date(1550856817769)/",
                "Attachments": [
                  {
                    "AttachmentID": "ab95b276-9dce-4925-9077-439818ba270f",
                    "FileName": "sample5.jpg",
                    "Url": "https://api.xero.com/api.xro/2.0/Accounts/da962997-a8bd-4dff-9616-01cdc199283f/Attachments/sample5.jpg",
                    "MimeType": "image/jpg",
                    "ContentLength": 2878711
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "A failed request due to validation error",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "OAuth2": [
              "accounting.attachments"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "AddressForOrganisation": {
      "title": "AddressForOrganisation",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/types"
      },
      "type": "object",
      "properties": {
        "AddressType": {
          "$ref": "#/definitions/AddressType"
        },
        "AddressLine1": {
          "description": "max length = 500",
          "type": "string",
          "maxLength": 500
        },
        "AddressLine2": {
          "description": "max length = 500",
          "type": "string",
          "maxLength": 500
        },
        "AddressLine3": {
          "description": "max length = 500",
          "type": "string",
          "maxLength": 500
        },
        "AddressLine4": {
          "description": "max length = 500",
          "type": "string",
          "maxLength": 500
        },
        "City": {
          "description": "max length = 255",
          "type": "string",
          "maxLength": 255
        },
        "Region": {
          "description": "max length = 255",
          "type": "string",
          "maxLength": 255
        },
        "PostalCode": {
          "description": "max length = 50",
          "type": "string",
          "maxLength": 50
        },
        "Country": {
          "description": "max length = 50, [A-Z], [a-z] only",
          "type": "string",
          "maxLength": 50
        },
        "AttentionTo": {
          "description": "max length = 255",
          "type": "string",
          "maxLength": 255
        }
      }
    },
    "Address": {
      "title": "Address",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/types"
      },
      "type": "object",
      "properties": {
        "AddressType": {
          "$ref": "#/definitions/AddressType1"
        },
        "AddressLine1": {
          "description": "max length = 500",
          "type": "string",
          "maxLength": 500
        },
        "AddressLine2": {
          "description": "max length = 500",
          "type": "string",
          "maxLength": 500
        },
        "AddressLine3": {
          "description": "max length = 500",
          "type": "string",
          "maxLength": 500
        },
        "AddressLine4": {
          "description": "max length = 500",
          "type": "string",
          "maxLength": 500
        },
        "City": {
          "description": "max length = 255",
          "type": "string",
          "maxLength": 255
        },
        "Region": {
          "description": "max length = 255",
          "type": "string",
          "maxLength": 255
        },
        "PostalCode": {
          "description": "max length = 50",
          "type": "string",
          "maxLength": 50
        },
        "Country": {
          "description": "max length = 50, [A-Z], [a-z] only",
          "type": "string",
          "maxLength": 50
        },
        "AttentionTo": {
          "description": "max length = 255",
          "type": "string",
          "maxLength": 255
        }
      }
    },
    "Phone": {
      "title": "Phone",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/types"
      },
      "type": "object",
      "properties": {
        "PhoneType": {
          "$ref": "#/definitions/PhoneType"
        },
        "PhoneNumber": {
          "description": "max length = 50",
          "type": "string",
          "maxLength": 50
        },
        "PhoneAreaCode": {
          "description": "max length = 10",
          "type": "string",
          "maxLength": 10
        },
        "PhoneCountryCode": {
          "description": "max length = 20",
          "type": "string",
          "maxLength": 20
        }
      }
    },
    "Accounts": {
      "title": "Accounts",
      "type": "object",
      "properties": {
        "Accounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Account"
          }
        }
      }
    },
    "Account": {
      "title": "Account",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/accounts/"
      },
      "type": "object",
      "properties": {
        "Code": {
          "description": "Customer defined alpha numeric account code e.g 200 or SALES (max length = 10)",
          "example": "4400",
          "type": "string"
        },
        "Name": {
          "description": "Name of account (max length = 150)",
          "example": "Food Sales",
          "type": "string",
          "maxLength": 150
        },
        "AccountID": {
          "description": "The Xero identifier for an account – specified as a string following  the endpoint name   e.g. /297c2dc5-cc47-4afd-8ec8-74990b8761e9",
          "example": "00000000-0000-0000-0000-000000000000",
          "type": "string",
          "format": "uuid"
        },
        "Type": {
          "$ref": "#/definitions/AccountType"
        },
        "BankAccountNumber": {
          "description": "For bank accounts only (Account Type BANK)",
          "type": "string"
        },
        "Status": {
          "$ref": "#/definitions/Status"
        },
        "Description": {
          "description": "Description of the Account. Valid for all types of accounts except bank accounts (max length = 4000)",
          "type": "string"
        },
        "BankAccountType": {
          "$ref": "#/definitions/BankAccountType"
        },
        "CurrencyCode": {
          "$ref": "#/definitions/CurrencyCode"
        },
        "TaxType": {
          "description": "The tax type from TaxRates",
          "type": "string"
        },
        "EnablePaymentsToAccount": {
          "description": "Boolean – describes whether account can have payments applied to it",
          "type": "boolean"
        },
        "ShowInExpenseClaims": {
          "description": "Boolean – describes whether account code is available for use with expense claims",
          "type": "boolean"
        },
        "Class": {
          "$ref": "#/definitions/Class"
        },
        "SystemAccount": {
          "$ref": "#/definitions/SystemAccount"
        },
        "ReportingCode": {
          "description": "Shown if set",
          "type": "string"
        },
        "ReportingCodeName": {
          "description": "Shown if set",
          "readOnly": true,
          "type": "string"
        },
        "HasAttachments": {
          "description": "boolean to indicate if an account has an attachment (read only)",
          "example": false,
          "readOnly": true,
          "type": "boolean",
          "default": false
        },
        "UpdatedDateUTC": {
          "description": "Last modified date UTC format",
          "example": "/Date(1573755038314)/",
          "readOnly": true,
          "type": "string"
        },
        "AddToWatchlist": {
          "description": "Boolean – describes whether the account is shown in the watchlist widget on the dashboard",
          "type": "boolean"
        },
        "ValidationErrors": {
          "description": "Displays array of validation error messages from the API",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationError"
          }
        }
      }
    },
    "AccountType": {
      "title": "AccountType",
      "description": "See Account Types",
      "type": "string",
      "enum": [
        "BANK",
        "CURRENT",
        "CURRLIAB",
        "DEPRECIATN",
        "DIRECTCOSTS",
        "EQUITY",
        "EXPENSE",
        "FIXED",
        "INVENTORY",
        "LIABILITY",
        "NONCURRENT",
        "OTHERINCOME",
        "OVERHEADS",
        "PREPAYMENT",
        "REVENUE",
        "SALES",
        "TERMLIAB",
        "PAYGLIABILITY",
        "PAYG",
        "SUPERANNUATIONEXPENSE",
        "SUPERANNUATIONLIABILITY",
        "WAGESEXPENSE"
      ]
    },
    "Attachments": {
      "title": "Attachments",
      "type": "object",
      "properties": {
        "Attachments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attachment"
          }
        }
      }
    },
    "Attachment": {
      "title": "Attachment",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/attachments/"
      },
      "type": "object",
      "properties": {
        "AttachmentID": {
          "description": "Unique ID for the file",
          "example": "00000000-0000-0000-0000-000000000000",
          "type": "string",
          "format": "uuid"
        },
        "FileName": {
          "description": "Name of the file",
          "example": "xero-dev.jpg",
          "type": "string"
        },
        "Url": {
          "description": "URL to the file on xero.com",
          "example": "https://api.xero.com/api.xro/2.0/Accounts/da962997-a8bd-4dff-9616-01cdc199283f/Attachments/sample5.jpg",
          "type": "string"
        },
        "MimeType": {
          "description": "Type of file",
          "example": "image/jpg",
          "type": "string"
        },
        "ContentLength": {
          "description": "Length of the file content",
          "type": "integer",
          "format": "int32"
        },
        "IncludeOnline": {
          "description": "Include the file with the online invoice",
          "type": "boolean"
        }
      }
    },
    "BankTransactions": {
      "title": "BankTransactions",
      "type": "object",
      "properties": {
        "BankTransactions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BankTransaction"
          }
        }
      }
    },
    "BankTransaction": {
      "title": "BankTransaction",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/banktransactions/"
      },
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/Type"
        },
        "Contact": {
          "$ref": "#/definitions/Contact"
        },
        "LineItems": {
          "description": "See LineItems",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItem"
          }
        },
        "BankAccount": {
          "$ref": "#/definitions/Account"
        },
        "IsReconciled": {
          "description": "Boolean to show if transaction is reconciled",
          "type": "boolean"
        },
        "Date": {
          "description": "Date of transaction – YYYY-MM-DD",
          "type": "string"
        },
        "Reference": {
          "description": "Reference for the transaction. Only supported for SPEND and RECEIVE transactions.",
          "type": "string"
        },
        "CurrencyCode": {
          "$ref": "#/definitions/CurrencyCode"
        },
        "CurrencyRate": {
          "description": "Exchange rate to base currency when money is spent or received. e.g.0.7500 Only used for bank transactions in non base currency. If this isn’t specified for non base currency accounts then either the user-defined rate (preference) or the XE.com day rate will be used. Setting currency is only supported on overpayments.",
          "type": "number",
          "format": "double"
        },
        "Url": {
          "description": "URL link to a source document – shown as “Go to App Name”",
          "type": "string"
        },
        "Status": {
          "$ref": "#/definitions/Status2"
        },
        "LineAmountTypes": {
          "$ref": "#/definitions/LineAmountTypes"
        },
        "SubTotal": {
          "description": "Total of bank transaction excluding taxes",
          "type": "number",
          "format": "double"
        },
        "TotalTax": {
          "description": "Total tax on bank transaction",
          "type": "number",
          "format": "double"
        },
        "Total": {
          "description": "Total of bank transaction tax inclusive",
          "type": "number",
          "format": "double"
        },
        "BankTransactionID": {
          "description": "Xero generated unique identifier for bank transaction",
          "example": "00000000-0000-0000-0000-000000000000",
          "type": "string",
          "format": "uuid"
        },
        "PrepaymentID": {
          "description": "Xero generated unique identifier for a Prepayment. This will be returned on BankTransactions with a Type of SPEND-PREPAYMENT or RECEIVE-PREPAYMENT",
          "example": "00000000-0000-0000-0000-000000000000",
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        },
        "OverpaymentID": {
          "description": "Xero generated unique identifier for an Overpayment. This will be returned on BankTransactions with a Type of SPEND-OVERPAYMENT or RECEIVE-OVERPAYMENT",
          "example": "00000000-0000-0000-0000-000000000000",
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        },
        "UpdatedDateUTC": {
          "description": "Last modified date UTC format",
          "example": "/Date(1573755038314)/",
          "readOnly": true,
          "type": "string"
        },
        "HasAttachments": {
          "description": "Boolean to indicate if a bank transaction has an attachment",
          "example": false,
          "readOnly": true,
          "type": "boolean",
          "default": false
        },
        "StatusAttributeString": {
          "description": "A string to indicate if a invoice status",
          "type": "string"
        },
        "ValidationErrors": {
          "description": "Displays array of validation error messages from the API",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationError"
          }
        }
      },
      "required": [
        "Type",
        "LineItems",
        "BankAccount"
      ]
    },
    "LineAmountTypes": {
      "title": "LineAmountTypes",
      "description": "Line amounts are exclusive of tax by default if you don’t specify this element. See Line Amount Types",
      "type": "string",
      "enum": [
        "Exclusive",
        "Inclusive",
        "NoTax"
      ]
    },
    "LineItem": {
      "title": "LineItem",
      "externalDocs": {
        "url": "https://developer.xero.com/documentation/api/invoices#post"
      },
      "type": "object",
      "properties": {
        "LineItemID": {
          "description": "LineItem unique ID",
          "example": "00000000-0000-0000-0000-000000000000",
          "type": "string",
          "format": "uuid"
        },
        "Description": {
          "description": "Description needs to be at least 1 char long. A line item with just a description (i.e no unit amount or quantity) can be created by specifying just a <Description> element that contains at least 1 character",
          "type": "string"
        },
        "Quantity": {
          "description": "LineItem Quantity",
          "type": "number",
          "format": "double"
        },
        "UnitAmount": {
          "description": "LineItem Unit Amount",
          "type": "number",
          "format": "double"
        },
        "ItemCode": {
          "description": "See Items",
          "type": "string"
        },
        "AccountCode": {
          "description": "See Accounts",
          "type": "string"
        },
        "AccountID": {
          "description": "The associated account ID related to this line item",
          "example": "00000000-0000-0000-0000-000000000000",
          "type": "string",
          "format": "uuid"
        },
        "TaxType": {
          "description": "The tax type from TaxRates",
          "type": "string"
        },
        "TaxAmount": {
          "description": "The tax amount is auto calculated as a percentage of the line amount (see below) based on the tax rate. This value can be overriden if the calculated <TaxAmount> is not correct.",
          "type": "number",
          "format": "double"
        },
        "Item": {
          "$ref": "#/definitions/LineItemItem"
        },
        "LineAmount": {
          "description": "If you wish to omit either of the <Quantity> or <UnitAmount> you can provide a LineAmount and Xero will calculate the missing amount for you. The line amount reflects the discounted price if a DiscountRate has been used . i.e LineAmount = Quantity * Unit Amount * ((100 – DiscountRate)/100)",
          "type": "number",
          "format": "double"
        },
        "Tracking": {
          "description": "Optional Tracking Category – see Tracking.  Any LineItem can have a  maximum of 2 <TrackingCategory> elements.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItemTracking"
          }
        },
        "DiscountRate": {
          "description": "Percentage discount being applied to a line item (only supported on  ACCREC invoices – ACC PAY invoices and credit notes in Xero do not support discounts",
          "type": "number",
          "format": "double"
        },
        "DiscountAmount": {
          "description": "Discount amount being applied to a line item. Only supported on ACCREC invoices - ACCPAY invoices and credit notes in Xero do not support discounts.",
          "type": "number",
          "format": "double"
        },
        "RepeatingInvoiceID": {
          "description": "The Xero identifier for a Repeating Invoice",
          "example": "00000000-0000-0000-0000-000000000000",
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "LineItemItem": {
      "title": "LineItemItem",
      "type": "object",
      "properties": {
        "Code": {
          "description": "User defined item code (max length = 30)",
          "type": "string",
          "maxLength": 30
        },
        "Name": {
          "description": "The name of the item (max length = 50)",
          "type": "string",
          "maxLength": 50
        },
        "ItemID": {
          "description": "The Xero identifier for an Item",
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "LineItemTracking": {
      "title": "LineItemTracking",
      "externalDocs": {
        "url": "https://developer.xero.com/documentation/api/invoices#post"
      },
      "type": "object",
      "properties": {
        "TrackingCategoryID": {
          "description": "The Xero identifier for a tracking category",
          "example": "00000000-0000-0000-0000-000000000000",
          "type": "string",
          "format": "uuid"
        },
        "TrackingOptionID": {
          "description": "The Xero identifier for a tracking category option",
          "example": "00000000-0000-0000-0000-000000000000",
          "type": "string",
          "format": "uuid"
        },
        "Name": {
          "description": "The name of the tracking category",
          "example": "Region",
          "type": "string",
          "maxLength": 100
        },
        "Option": {
          "description": "See Tracking Options",
          "example": "North",
          "type": "string"
        }
      }
    },
    "BankTransfers": {
      "title": "BankTransfers",
      "type": "object",
      "properties": {
        "BankTransfers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BankTransfer"
          }
        }
      }
    },
    "BankTransfer": {
      "title": "BankTransfer",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/bank-transfers/"
      },
      "type": "object",
      "properties": {
        "FromBankAccount": {
          "$ref": "#/definitions/Account"
        },
        "ToBankAccount": {
          "$ref": "#/definitions/Account"
        },
        "Amount": {
          "description": "amount of the transaction",
          "type": "number",
          "format": "double"
        },
        "Date": {
          "description": "The date of the Transfer YYYY-MM-DD",
          "type": "string"
        },
        "BankTransferID": {
          "description": "The identifier of the Bank Transfer",
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        },
        "CurrencyRate": {
          "description": "The currency rate",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "FromBankTransactionID": {
          "description": "The Bank Transaction ID for the source account",
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        },
        "ToBankTransactionID": {
          "description": "The Bank Transaction ID for the destination account",
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        },
        "FromIsReconciled": {
          "description": "The Bank Transaction boolean to show if it is reconciled for the source account",
          "example": false,
          "type": "boolean",
          "default": false
        },
        "ToIsReconciled": {
          "description": "The Bank Transaction boolean to show if it is reconciled for the destination account",
          "example": false,
          "type": "boolean",
          "default": false
        },
        "Reference": {
          "description": "Reference for the transactions.",
          "type": "string"
        },
        "HasAttachments": {
          "description": "Boolean to indicate if a Bank Transfer has an attachment",
          "example": false,
          "readOnly": true,
          "type": "boolean",
          "default": false
        },
        "CreatedDateUTC": {
          "description": "UTC timestamp of creation date of bank transfer",
          "example": "/Date(1573755038314)/",
          "readOnly": true,
          "type": "string"
        },
        "ValidationErrors": {
          "description": "Displays array of validation error messages from the API",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationError"
          }
        }
      },
      "required": [
        "FromBankAccount",
        "ToBankAccount",
        "Amount"
      ]
    },
    "BatchPayments": {
      "title": "BatchPayments",
      "type": "object",
      "properties": {
        "BatchPayments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BatchPayment"
          }
        }
      }
    },
    "BatchPayment": {
      "title": "BatchPayment",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/BatchPayments/"
      },
      "type": "object",
      "properties": {
        "Account": {
          "$ref": "#/definitions/Account"
        },
        "Reference": {
          "description": "(NZ Only) Optional references for the batch payment transaction. It will also show with the batch payment transaction in the bank reconciliation Find & Match screen. Depending on your individual bank, the detail may also show on the bank statement you import into Xero.",
          "type": "string",
          "maxLength": 255
        },
        "Particulars": {
          "description": "(NZ Only) Optional references for the batch payment transaction. It will also show with the batch payment transaction in the bank reconciliation Find & Match screen. Depending on your individual bank, the detail may also show on the bank statement you import into Xero.",
          "type": "string",
          "maxLength": 12
        },
        "Code": {
          "description": "(NZ Only) Optional references for the batch payment transaction. It will also show with the batch payment transaction in the bank reconciliation Find & Match screen. Depending on your individual bank, the detail may also show on the bank statement you import into Xero.",
          "type": "string",
          "maxLength": 12
        },
        "Details": {
          "description": "(Non-NZ Only) These details are sent to the org’s bank as a reference for the batch payment transaction. They will also show with the batch payment transaction in the bank reconciliation Find & Match screen. Depending on your individual bank, the detail may also show on the bank statement imported into Xero. Maximum field length = 18",
          "type": "string"
        },
        "Narrative": {
          "description": "(UK Only) Only shows on the statement line in Xero. Max length =18",
          "type": "string",
          "maxLength": 18
        },
        "BatchPaymentID": {
          "description": "The Xero generated unique identifier for the bank transaction (read-only)",
          "readOnly": true,
          "type": "string",
          "format": "uuid"
        },
        "DateString": {
          "description": "Date the payment is being made (YYYY-MM-DD) e.g. 2009-09-06",
          "type": "string"
        },
        "Date": {
          "description": "Date the payment is being made (YYYY-MM-DD) e.g. 2009-09-06",
          "type": "string"
        },
        "Amount": {
          "description": "The amount of the payment. Must be less than or equal to the outstanding amount owing on the invoice e.g. 200.00",
          "type": "number",
          "format": "double"
        },
        "Payments": {
          "description": "An array of payments",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Payment"
          }
        },
        "Type": {
          "$ref": "#/definitions/Type6"
        },
        "Status": {
          "$ref": "#/definitions/Status8"
        },
        "TotalAmount": {
          "description": "The total of the payments that make up the batch (read-only)",
          "readOnly": true,
          "type": "string"
        },
        "UpdatedDateUTC": {
          "description": "UTC timestamp of last update to the payment",
          "example": "/Date(1573755038314)/",
          "readOnly": true,
          "type": "string"
        },
        "IsReconciled": {
          "description": "Booelan that tells you if the batch payment has been reconciled (read-only)",
          "readOnly": true,
          "type": "string"
        },
        "ValidationErrors": {
          "description": "Displays array of validation error messages from the API",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationError"
          }
        }
      }
    },
    "BatchPaymentDetails": {
      "title": "BatchPaymentDetails",
      "description": "Bank details for use on a batch payment stored with each contact",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/Contact/"
      },
      "type": "object",
      "properties": {
        "BankAccountNumber": {
          "description": "Bank account number for use with Batch Payments",
          "example": "123-456-1111111",
          "type": "string"
        },
        "BankAccountName": {
          "description": "Name of bank for use with Batch Payments",
          "example": "ACME Bank",
          "type": "string"
        },
        "Details": {
          "description": "(Non-NZ Only) These details are sent to the org’s bank as a reference for the batch payment transaction. They will also show with the batch payment transaction in the bank reconciliation Find & Match screen. Depending on your individual bank, the detail may also show on the bank statement imported into Xero. Maximum field length = 18",
          "example": "Hello World",
          "type": "string"
        },
        "Code": {
          "description": "(NZ Only) Optional references for the batch payment transaction. It will also show with the batch payment transaction in the bank reconciliation Find & Match screen. Depending on your individual bank, the detail may also show on the bank statement you import into Xero.",
          "example": "ABC",
          "type": "string",
          "maxLength": 12
        },
        "Reference": {
          "description": "(NZ Only) Optional references for the batch payment transaction. It will also show with the batch payment transaction in the bank reconciliation Find & Match screen. Depending on your individual bank, the detail may also show on the bank statement you import into Xero.",
          "example": "Foobar",
          "type": "string",
          "maxLength": 12
        }
      }
    },
    "BrandingThemes": {
      "title": "BrandingThemes",
      "type": "object",
      "properties": {
        "BrandingThemes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BrandingTheme"
          }
        }
      }
    },
    "BrandingTheme": {
      "title": "BrandingTheme",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/branding-themes/"
      },
      "type": "object",
      "properties": {
        "BrandingThemeID": {
          "description": "Xero identifier",
          "type": "string",
          "format": "uuid"
        },
        "Name": {
          "description": "Name of branding theme",
          "type": "string"
        },
        "LogoUrl": {
          "description": "The location of the image file used as the logo on this branding theme",
          "type": "string"
        },
        "Type": {
          "$ref": "#/definitions/Type1"
        },
        "SortOrder": {
          "description": "Integer – ranked order of branding theme. The default branding theme has a value of 0",
          "type": "integer",
          "format": "int32"
        },
        "CreatedDateUTC": {
          "description": "UTC timestamp of creation date of branding theme",
          "example": "/Date(1573755038314)/",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "PaymentServices": {
      "title": "PaymentServices",
      "type": "object",
      "properties": {
        "PaymentServices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PaymentService"
          }
        }
      }
    },
    "PaymentService": {
      "title": "PaymentService",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/branding-themes/"
      },
      "type": "object",
      "properties": {
        "PaymentServiceID": {
          "description": "Xero identifier",
          "type": "string",
          "format": "uuid"
        },
        "PaymentServiceName": {
          "description": "Name of payment service",
          "type": "string"
        },
        "PaymentServiceUrl": {
          "description": "The custom payment URL",
          "type": "string"
        },
        "PayNowText": {
          "description": "The text displayed on the Pay Now button in Xero Online Invoicing. If this is not set it will default to Pay by credit card",
          "type": "string"
        },
        "PaymentServiceType": {
          "description": "This will always be CUSTOM for payment services created via the API.",
          "type": "string"
        },
        "ValidationErrors": {
          "description": "Displays array of validation error messages from the API",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationError"
          }
        }
      }
    },
    "Contacts": {
      "title": "Contacts",
      "type": "object",
      "properties": {
        "Contacts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Contact"
          }
        }
      }
    },
    "Contact": {
      "title": "Contact",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/contacts/"
      },
      "type": "object",
      "properties": {
        "ContactID": {
          "description": "Xero identifier",
          "type": "string",
          "format": "uuid"
        },
        "MergedToContactID": {
          "description": "ID for the destination of a merged contact. Only returned when using paging or when fetching a contact by ContactId or ContactNumber.",
          "type": "string",
          "format": "uuid"
        },
        "ContactNumber": {
          "description": "This can be updated via the API only i.e. This field is read only on the Xero contact screen, used to identify contacts in external systems (max length = 50). If the Contact Number is used, this is displayed as Contact Code in the Contacts UI in Xero.",
          "type": "string",
          "maxLength": 50
        },
        "AccountNumber": {
          "description": "A user defined account number. This can be updated via the API and the Xero UI (max length = 50)",
          "type": "string",
          "maxLength": 50
        },
        "ContactStatus": {
          "$ref": "#/definitions/ContactStatus"
        },
        "Name": {
          "description": "Full name of contact/organisation (max length = 255)",
          "type": "string",
          "maxLength": 255
        },
        "FirstName": {
          "description": "First name of contact person (max length = 255)",
          "type": "string",
          "maxLength": 255
        },
        "LastName": {
          "description": "Last name of contact person (max length = 255)",
          "type": "string",
          "maxLength": 255
        },
        "CompanyNumber": {
          "description": "Company registration number (max length = 50)",
          "type": "string",
          "maxLength": 50
        },
        "EmailAddress": {
          "description": "Email address of contact person (umlauts not supported) (max length  = 255)",
          "type": "string",
          "maxLength": 255
        },
        "SkypeUserName": {
          "description": "Skype user name of contact",
          "type": "string"
        },
        "ContactPersons": {
          "description": "See contact persons",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContactPerson"
          }
        },
        "BankAccountDetails": {
          "description": "Bank account number of contact",
          "type": "string"
        },
        "TaxNumber": {
          "description": "Tax number of contact – this is also known as the ABN (Australia), GST Number (New Zealand), VAT Number (UK) or Tax ID Number (US and global) in the Xero UI depending on which regionalized version of Xero you are using (max length = 50)",
          "type": "string",
          "maxLength": 50
        },
        "AccountsReceivableTaxType": {
          "description": "The tax type from TaxRates",
          "type": "string"
        },
        "AccountsPayableTaxType": {
          "description": "The tax type from TaxRates",
          "type": "string"
        },
        "Addresses": {
          "description": "Store certain address types for a contact – see address types",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Address"
          }
        },
        "Phones": {
          "description": "Store certain phone types for a contact – see phone types",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Phone"
          }
        },
        "IsSupplier": {
          "description": "true or false – Boolean that describes if a contact that has any AP  invoices entered against them. Cannot be set via PUT or POST – it is automatically set when an accounts payable invoice is generated against this contact.",
          "type": "boolean"
        },
        "IsCustomer": {
          "description": "true or false – Boolean that describes if a contact has any AR invoices entered against them. Cannot be set via PUT or POST – it is automatically set when an accounts receivable invoice is generated against this contact.",
          "type": "boolean"
        },
        "SalesDefaultLineAmountType": {
          "$ref": "#/definitions/SalesDefaultLineAmountType"
        },
        "PurchasesDefaultLineAmountType": {
          "$ref": "#/definitions/PurchasesDefaultLineAmountType"
        },
        "DefaultCurrency": {
          "$ref": "#/definitions/CurrencyCode"
        },
        "XeroNetworkKey": {
          "description": "Store XeroNetworkKey for contacts.",
          "type": "string"
        },
        "SalesDefaultAccountCode": {
          "description": "The default sales account code for contacts",
          "type": "string"
        },
        "PurchasesDefaultAccountCode": {
          "description": "The default purchases account code for contacts",
          "type": "string"
        },
        "SalesTrackingCategories": {
          "description": "The default sales tracking categories for contacts",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SalesTrackingCategory"
          }
        },
        "PurchasesTrackingCategories": {
          "description": "The default purchases tracking categories for contacts",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SalesTrackingCategory"
          }
        },
        "TrackingCategoryName": {
          "description": "The name of the Tracking Category assigned to the contact under SalesTrackingCategories and PurchasesTrackingCategories",
          "type": "string"
        },
        "TrackingCategoryOption": {
          "description": "The name of the Tracking Option assigned to the contact under SalesTrackingCategories and PurchasesTrackingCategories",
          "type": "string"
        },
        "PaymentTerms": {
          "$ref": "#/definitions/PaymentTerm"
        },
        "UpdatedDateUTC": {
          "description": "UTC timestamp of last update to contact",
          "example": "/Date(1573755038314)/",
          "readOnly": true,
          "type": "string"
        },
        "ContactGroups": {
          "description": "Displays which contact groups a contact is included in",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContactGroup"
          }
        },
        "Website": {
          "description": "Website address for contact (read only)",
          "readOnly": true,
          "type": "string"
        },
        "BrandingTheme": {
          "$ref": "#/definitions/BrandingTheme"
        },
        "BatchPayments": {
          "$ref": "#/definitions/BatchPaymentDetails"
        },
        "Discount": {
          "description": "The default discount rate for the contact (read only)",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "Balances": {
          "$ref": "#/definitions/Balances"
        },
        "Attachments": {
          "description": "Displays array of attachments from the API",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attachment"
          }
        },
        "HasAttachments": {
          "description": "A boolean to indicate if a contact has an attachment",
          "example": false,
          "type": "boolean",
          "default": false
        },
        "ValidationErrors": {
          "description": "Displays validation errors returned from the API",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationError"
          }
        },
        "HasValidationErrors": {
          "description": "A boolean to indicate if a contact has an validation errors",
          "example": false,
          "type": "boolean",
          "default": false
        },
        "StatusAttributeString": {
          "description": "Status of object",
          "type": "string"
        }
      }
    },
    "Budgets": {
      "title": "Budgets",
      "type": "object",
      "properties": {
        "Budgets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Budget"
          }
        }
      }
    },
    "Budget": {
      "title": "Budget",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/budgets/"
      },
      "type": "object",
      "properties": {
        "BudgetID": {
          "description": "Xero identifier",
          "type": "string",
          "format": "uuid"
        },
        "Type": {
          "$ref": "#/definitions/Type7"
        },
        "Description": {
          "description": "The Budget description",
          "type": "string",
          "maxLength": 255
        },
        "UpdatedDateUTC": {
          "description": "UTC timestamp of last update to budget",
          "example": "/Date(1573755038314)/",
          "readOnly": true,
          "type": "string"
        },
        "BudgetLines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BudgetLine"
          }
        },
        "Tracking": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TrackingCategory"
          }
        }
      }
    },
    "BudgetLine": {
      "title": "BudgetLine",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/budgets/"
      },
      "type": "object",
      "properties": {
        "AccountID": {
          "description": "See Accounts",
          "type": "string",
          "format": "uuid"
        },
        "AccountCode": {
          "description": "See Accounts",
          "example": "090",
          "type": "string"
        },
        "BudgetBalances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BudgetBalance"
          }
        }
      }
    },
    "BudgetBalance": {
      "title": "BudgetBalance",
      "type": "object",
      "properties": {
        "Period": {
          "description": "Period the amount applies to (e.g. “2019-08”)",
          "type": "string"
        },
        "Amount": {
          "description": "LineItem Quantity",
          "type": "number",
          "format": "double"
        },
        "UnitAmount": {
          "description": "Budgeted amount",
          "type": "number",
          "format": "double"
        },
        "Notes": {
          "description": "Any footnotes associated with this balance",
          "type": "string",
          "maxLength": 255
        }
      }
    },
    "Balances": {
      "title": "Balances",
      "description": "The raw AccountsReceivable(sales invoices) and AccountsPayable(bills) outstanding and overdue amounts, not converted to base currency (read only)",
      "type": "object",
      "properties": {
        "AccountsReceivable": {
          "$ref": "#/definitions/AccountsReceivable"
        },
        "AccountsPayable": {
          "$ref": "#/definitions/AccountsPayable"
        }
      }
    },
    "AccountsReceivable": {
      "title": "AccountsReceivable",
      "type": "object",
      "properties": {
        "Outstanding": {
          "type": "number",
          "format": "double"
        },
        "Overdue": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "AccountsPayable": {
      "title": "AccountsPayable",
      "type": "object",
      "properties": {
        "Outstanding": {
          "type": "number",
          "format": "double"
        },
        "Overdue": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "CISSettings": {
      "title": "CISSettings",
      "type": "object",
      "properties": {
        "CISSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CISSetting"
          }
        }
      }
    },
    "CISSetting": {
      "title": "CISSetting",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/contacts/"
      },
      "type": "object",
      "properties": {
        "CISEnabled": {
          "description": "Boolean that describes if the contact is a CIS Subcontractor",
          "type": "boolean"
        },
        "Rate": {
          "description": "CIS Deduction rate for the contact if he is a subcontractor. If the contact is not CISEnabled, then the rate is not returned",
          "readOnly": true,
          "type": "number",
          "format": "double"
        }
      }
    },
    "CISOrgSettings": {
      "title": "CISOrgSettings",
      "type": "object",
      "properties": {
        "CISSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CISOrgSetting"
          }
        }
      }
    },
    "CISOrgSetting": {
      "title": "CISOrgSetting",
      "externalDocs": {
        "url": "https://developer.xero.com/documentation/api/organisation"
      },
      "type": "object",
      "properties": {
        "CISContractorEnabled": {
          "description": "true or false - Boolean that describes if the organisation is a CIS Contractor",
          "type": "boolean"
        },
        "CISSubContractorEnabled": {
          "description": "true or false - Boolean that describes if the organisation is a CIS SubContractor",
          "type": "boolean"
        },
        "Rate": {
          "description": "CIS Deduction rate for the organisation",
          "readOnly": true,
          "type": "number",
          "format": "double"
        }
      }
    },
    "ContactPerson": {
      "title": "ContactPerson",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/contacts/"
      },
      "type": "object",
      "properties": {
        "FirstName": {
          "description": "First name of person",
          "type": "string"
        },
        "LastName": {
          "description": "Last name of person",
          "type": "string"
        },
        "EmailAddress": {
          "description": "Email address of person",
          "type": "string"
        },
        "IncludeInEmails": {
          "description": "boolean to indicate whether contact should be included on emails with invoices etc.",
          "type": "boolean"
        }
      }
    },
    "ContactGroups": {
      "title": "ContactGroups",
      "type": "object",
      "properties": {
        "ContactGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContactGroup"
          }
        }
      }
    },
    "ContactGroup": {
      "title": "ContactGroup",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/contactgroups/"
      },
      "type": "object",
      "properties": {
        "Name": {
          "description": "The Name of the contact group. Required when creating a new contact  group",
          "type": "string"
        },
        "Status": {
          "$ref": "#/definitions/Status1"
        },
        "ContactGroupID": {
          "description": "The Xero identifier for an contact group – specified as a string following the endpoint name. e.g. /297c2dc5-cc47-4afd-8ec8-74990b8761e9",
          "type": "string",
          "format": "uuid"
        },
        "Contacts": {
          "description": "The ContactID and Name of Contacts in a contact group. Returned on GETs when the ContactGroupID is supplied in the URL.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Contact"
          }
        }
      }
    },
    "RequestEmpty": {
      "title": "RequestEmpty",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/invoice/"
      },
      "type": "object",
      "properties": {
        "Status": {
          "description": "Need at least one field to create an empty JSON payload",
          "type": "string"
        }
      }
    },
    "CreditNotes": {
      "title": "CreditNotes",
      "type": "object",
      "properties": {
        "CreditNotes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CreditNote"
          }
        }
      }
    },
    "CreditNote": {
      "title": "CreditNote",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/credit-notes/"
      },
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/Type5"
        },
        "Contact": {
          "$ref": "#/definitions/Contact"
        },
        "Date": {
          "description": "The date the credit note is issued YYYY-MM-DD. If the Date element is not specified then it will default to the current date based on the timezone setting of the organisation",
          "type": "string"
        },
        "DueDate": {
          "description": "Date invoice is due – YYYY-MM-DD",
          "type": "string"
        },
        "Status": {
          "$ref": "#/definitions/Status6"
        },
        "LineAmountTypes": {
          "$ref": "#/definitions/LineAmountTypes"
        },
        "LineItems": {
          "description": "See Invoice Line Items",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItem"
          }
        },
        "SubTotal": {
          "description": "The subtotal of the credit note excluding taxes",
          "type": "number",
          "format": "double"
        },
        "TotalTax": {
          "description": "The total tax on the credit note",
          "type": "number",
          "format": "double"
        },
        "Total": {
          "description": "The total of the Credit Note(subtotal + total tax)",
          "type": "number",
          "format": "double"
        },
        "CISDeduction": {
          "description": "CIS deduction for UK contractors",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "CISRate": {
          "description": "CIS Deduction rate for the organisation",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "UpdatedDateUTC": {
          "description": "UTC timestamp of last update to the credit note",
          "example": "/Date(1573755038314)/",
          "readOnly": true,
          "type": "string"
        },
        "CurrencyCode": {
          "$ref": "#/definitions/CurrencyCode"
        },
        "FullyPaidOnDate": {
          "description": "Date when credit note was fully paid(UTC format)",
          "type": "string"
        },
        "CreditNoteID": {
          "description": "Xero generated unique identifier",
          "type": "string",
          "format": "uuid"
        },
        "CreditNoteNumber": {
          "description": "ACCRECCREDIT – Unique alpha numeric code identifying credit note (when missing will auto-generate from your Organisation Invoice Settings)",
          "type": "string"
        },
        "Reference": {
          "description": "ACCRECCREDIT only – additional reference number",
          "type": "string"
        },
        "SentToContact": {
          "description": "boolean to indicate if a credit note has been sent to a contact via  the Xero app (currently read only)",
          "readOnly": true,
          "type": "boolean"
        },
        "CurrencyRate": {
          "description": "The currency rate for a multicurrency invoice. If no rate is specified, the XE.com day rate is used",
          "type": "number",
          "format": "double"
        },
        "RemainingCredit": {
          "description": "The remaining credit balance on the Credit Note",
          "type": "number",
          "format": "double"
        },
        "Allocations": {
          "description": "See Allocations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Allocation"
          }
        },
        "AppliedAmount": {
          "description": "The amount of applied to an invoice",
          "example": 2,
          "type": "number",
          "format": "double"
        },
        "Payments": {
          "description": "See Payments",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Payment"
          }
        },
        "BrandingThemeID": {
          "description": "See BrandingThemes",
          "type": "string",
          "format": "uuid"
        },
        "StatusAttributeString": {
          "description": "A string to indicate if a invoice status",
          "type": "string"
        },
        "HasAttachments": {
          "description": "boolean to indicate if a credit note has an attachment",
          "example": false,
          "type": "boolean",
          "default": false
        },
        "HasErrors": {
          "description": "A boolean to indicate if a credit note has an validation errors",
          "example": false,
          "type": "boolean",
          "default": false
        },
        "ValidationErrors": {
          "description": "Displays array of validation error messages from the API",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationError"
          }
        },
        "Warnings": {
          "description": "Displays array of warning messages from the API",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationError"
          }
        }
      }
    },
    "Allocations": {
      "title": "Allocations",
      "type": "object",
      "properties": {
        "Allocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Allocation"
          }
        }
      }
    },
    "Allocation": {
      "title": "Allocation",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/prepayments/"
      },
      "type": "object",
      "properties": {
        "Invoice": {
          "$ref": "#/definitions/Invoice"
        },
        "Overpayment": {
          "$ref": "#/definitions/Overpayment"
        },
        "Prepayment": {
          "$ref": "#/definitions/Prepayment"
        },
        "CreditNote": {
          "$ref": "#/definitions/CreditNote"
        },
        "Amount": {
          "description": "the amount being applied to the invoice",
          "type": "number",
          "format": "double"
        },
        "Date": {
          "description": "the date the allocation is applied YYYY-MM-DD.",
          "type": "string"
        },
        "StatusAttributeString": {
          "description": "A string to indicate if a invoice status",
          "type": "string"
        },
        "ValidationErrors": {
          "description": "Displays array of validation error messages from the API",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationError"
          }
        }
      },
      "required": [
        "Invoice",
        "Amount",
        "Date"
      ]
    },
    "Currencies": {
      "title": "Currencies",
      "type": "object",
      "properties": {
        "Currencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Currency"
          }
        }
      }
    },
    "Currency": {
      "title": "Currency",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/currencies/"
      },
      "type": "object",
      "properties": {
        "Code": {
          "$ref": "#/definitions/CurrencyCode"
        },
        "Description": {
          "description": "Name of Currency",
          "type": "string"
        }
      }
    },
    "CurrencyCode": {
      "title": "CurrencyCode",
      "description": "3 letter alpha code for the currency – see list of currency codes",
      "type": "string",
      "enum": [
        "AED",
        "AFN",
        "ALL",
        "AMD",
        "ANG",
        "AOA",
        "ARS",
        "AUD",
        "AWG",
        "AZN",
        "BAM",
        "BBD",
        "BDT",
        "BGN",
        "BHD",
        "BIF",
        "BMD",
        "BND",
        "BOB",
        "BRL",
        "BSD",
        "BTN",
        "BWP",
        "BYN",
        "BYR",
        "BZD",
        "CAD",
        "CDF",
        "CHF",
        "CLP",
        "CNY",
        "COP",
        "CRC",
        "CUC",
        "CUP",
        "CVE",
        "CZK",
        "DJF",
        "DKK",
        "DOP",
        "DZD",
        "EGP",
        "ERN",
        "ETB",
        "EUR",
        "FJD",
        "FKP",
        "GBP",
        "GEL",
        "GGP",
        "GHS",
        "GIP",
        "GMD",
        "GNF",
        "GTQ",
        "GYD",
        "HKD",
        "HNL",
        "HRK",
        "HTG",
        "HUF",
        "IDR",
        "ILS",
        "IMP",
        "INR",
        "IQD",
        "IRR",
        "ISK",
        "JEP",
        "JMD",
        "JOD",
        "JPY",
        "KES",
        "KGS",
        "KHR",
        "KMF",
        "KPW",
        "KRW",
        "KWD",
        "KYD",
        "KZT",
        "LAK",
        "LBP",
        "LKR",
        "LRD",
        "LSL",
        "LTL",
        "LYD",
        "MAD",
        "MDL",
        "MGA",
        "MKD",
        "MMK",
        "MNT",
        "MOP",
        "MRU",
        "MUR",
        "MVR",
        "MWK",
        "MXN",
        "MYR",
        "MZN",
        "NAD",
        "NGN",
        "NIO",
        "NOK",
        "NPR",
        "NZD",
        "OMR",
        "PAB",
        "PEN",
        "PGK",
        "PHP",
        "PKR",
        "PLN",
        "PYG",
        "QAR",
        "RON",
        "RSD",
        "RUB",
        "RWF",
        "SAR",
        "SBD",
        "SCR",
        "SDG",
        "SEK",
        "SGD",
        "SHP",
        "SLL",
        "SOS",
        "SPL",
        "SRD",
        "STN",
        "SVC",
        "SYP",
        "SZL",
        "THB",
        "TJS",
        "TMT",
        "TND",
        "TOP",
        "TRY",
        "TTD",
        "TVD",
        "TWD",
        "TZS",
        "UAH",
        "UGX",
        "USD",
        "UYU",
        "UZS",
        "VEF",
        "VND",
        "VUV",
        "WST",
        "XAF",
        "XCD",
        "XDR",
        "XOF",
        "XPF",
        "YER",
        "ZAR",
        "ZMW",
        "ZMK",
        "ZWD"
      ]
    },
    "Employees": {
      "title": "Employees",
      "type": "object",
      "properties": {
        "Employees": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Employee"
          }
        }
      }
    },
    "Employee": {
      "title": "Employee",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/employees/"
      },
      "type": "object",
      "properties": {
        "EmployeeID": {
          "description": "The Xero identifier for an employee e.g. 297c2dc5-cc47-4afd-8ec8-74990b8761e9",
          "type": "string",
          "format": "uuid"
        },
        "Status": {
          "$ref": "#/definitions/Status11"
        },
        "FirstName": {
          "description": "First name of an employee (max length = 255)",
          "type": "string",
          "maxLength": 255
        },
        "LastName": {
          "description": "Last name of an employee (max length = 255)",
          "type": "string",
          "maxLength": 255
        },
        "ExternalLink": {
          "$ref": "#/definitions/ExternalLink"
        },
        "UpdatedDateUTC": {
          "example": "/Date(1573755038314)/",
          "readOnly": true,
          "type": "string"
        },
        "StatusAttributeString": {
          "description": "A string to indicate if a invoice status",
          "example": "ERROR",
          "type": "string"
        },
        "ValidationErrors": {
          "description": "Displays array of validation error messages from the API",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationError"
          }
        }
      }
    },
    "ExpenseClaims": {
      "title": "ExpenseClaims",
      "type": "object",
      "properties": {
        "ExpenseClaims": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExpenseClaim"
          }
        }
      }
    },
    "ExpenseClaim": {
      "title": "ExpenseClaim",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/expense-claims/"
      },
      "type": "object",
      "properties": {
        "ExpenseClaimID": {
          "description": "Xero generated unique identifier for an expense claim",
          "type": "string",
          "format": "uuid"
        },
        "Status": {
          "$ref": "#/definitions/Status12"
        },
        "Payments": {
          "description": "See Payments",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Payment"
          }
        },
        "User": {
          "$ref": "#/definitions/User"
        },
        "Receipts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Receipt"
          }
        },
        "UpdatedDateUTC": {
          "description": "Last modified date UTC format",
          "example": "/Date(1573755038314)/",
          "readOnly": true,
          "type": "string"
        },
        "Total": {
          "description": "The total of an expense claim being paid",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "AmountDue": {
          "description": "The amount due to be paid for an expense claim",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "AmountPaid": {
          "description": "The amount still to pay for an expense claim",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "PaymentDueDate": {
          "description": "The date when the expense claim is due to be paid YYYY-MM-DD",
          "readOnly": true,
          "type": "string"
        },
        "ReportingDate": {
          "description": "The date the expense claim will be reported in Xero YYYY-MM-DD",
          "readOnly": true,
          "type": "string"
        },
        "ReceiptID": {
          "description": "The Xero identifier for the Receipt e.g. e59a2c7f-1306-4078-a0f3-73537afcbba9",
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "HistoryRecords": {
      "title": "HistoryRecords",
      "type": "object",
      "properties": {
        "HistoryRecords": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HistoryRecord"
          }
        }
      }
    },
    "HistoryRecord": {
      "title": "HistoryRecord",
      "externalDocs": {
        "url": "https://developer.xero.com/documentation/api/history-and-notes"
      },
      "type": "object",
      "properties": {
        "Details": {
          "description": "details",
          "type": "string"
        },
        "Changes": {
          "description": "Name of branding theme",
          "type": "string"
        },
        "User": {
          "description": "has a value of 0",
          "type": "string"
        },
        "DateUTC": {
          "description": "UTC timestamp of creation date of branding theme",
          "example": "/Date(1573755038314)/",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Invoices": {
      "title": "Invoices",
      "type": "object",
      "properties": {
        "Invoices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Invoice"
          }
        }
      }
    },
    "Invoice": {
      "title": "Invoice",
      "externalDocs": {
        "url": "http://developer.xero.com/documentation/api/invoices/"
      },
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/Type2"
        },
        "Contact": {
          "$ref": "#/definitions/Contact"
        },
        "LineItems": {
          "description": "See LineItems",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItem"
          }
        },
        "Date": {
          "description": "Date invoice was issued – YYYY-MM-DD. If the Date element is not specified it will default to the current date based on the timezone setting of the organisation",
          "type": "string"
        },
        "DueDate": {
          "description": "Date invoice is due – YYYY-MM-DD",
          "type": "string"
        },
        "LineAmountTypes": {
          "$ref": "#/definitions/LineAmountTypes"
        },
        "InvoiceNumber": {
          "description": "ACCREC – Unique alpha numeric code identifying invoice (when missing will auto-generate from your Organisation Invoice Settings) (max length = 255)",
          "type": "string",
          "maxLength": 255
        },
        "Reference": {
          "description": "ACCREC only – additional reference number",
          "type": "string"
        },
        "BrandingThemeID": {
          "description": "See BrandingThemes",
          "type": "string",
          "format": "uuid"
        },
        "Url": {
          "description": "URL link to a source document – shown as “Go to [appName]” in the Xero app",
          "type": "string"
        },
        "CurrencyCode": {
          "$ref": "#/definitions/CurrencyCode"
        },
        "CurrencyRate": {
          "description": "The currency rate for a multicurrency invoice. If no rate is specified, the XE.com day rate is used. (max length = [18].[6])",
          "type": "number",
          "format": "double"
        },
        "Status": {
          "$ref": "#/definitions/Status3"
        },
        "SentToContact": {
          "description": "Boolean to set whether the invoice in the Xero app should be marked as “sent”. This can be set only on invoices that have been approved",
          "type": "boolean"
        },
        "ExpectedPaymentDate": {
          "description": "Shown on sales invoices (Accounts Receivable) when this has been set",
          "type": "string"
        },
        "PlannedPaymentDate": {
          "description": "Shown on bills (Accounts Payable) when this has been set",
          "type": "string"
        },
        "CISDeduction": {
          "description": "CIS deduction for UK contractors",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "CISRate": {
          "description": "CIS Deduction rate for the organisation",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "SubTotal": {
          "description": "Total of invoice excluding taxes",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "TotalTax": {
          "description": "Total tax on invoice",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "Total": {
          "description": "Total of Invoice tax inclusive (i.e. SubTotal + TotalTax). This will be ignored if it doesn’t equal the sum of the LineAmounts",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "TotalDiscount": {
          "description": "Total of discounts applied on the invoice line items",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "InvoiceID": {
          "description": "Xero generated unique identifier for invoice",
          "type": "string",
          "format": "uuid"
        },
        "RepeatingInvoiceID": {
          "description": "Xero generated unique identifier for repeating invoices",
          "type": "string",
          "format": "uuid"
        },
        "HasAttachments": {
          "description": "boolean to indicate if an invoice has an attachment",
          "example": false,
          "readOnly": true,
          "type": "boolean",
          "default": false
        },
        "IsDiscounted": {
          "description": "boolean to indicate if an invoice has a discount",
          "readOnly": true,
          "type": "boolean"
        },
        "Payments": {
          "description": "See Payments",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Payment"
          }
        },
        "Prepayments": {
          "description": "See Prepayments",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Prepayment"
          }
        },
        "Overpayments": {
          "description": "See Overpayments",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Overpayment"
          }
        },
        "AmountDue": {
          "description": "Amount remaining to be paid on invoice",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "AmountPaid": {
          "description": "Sum of payments received for invoice",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "FullyPaidOnDate": {
          "description": "The date the invoice was fully paid. Only returned on fully paid invoices",
          "readOnly": true,
          "type": "string"
        },
        "AmountCredited": {
          "description": "Sum of all credit notes, over-payments and pre-payments applied to invoice",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "UpdatedDateUTC": {
          "description": "Last modified date UTC format",
          "example": "/Date(1573755038314)/",
          "readOnly": true,
          "type": "string"
        },
        "CreditNotes": {
          "description": "Details of credit notes that have been applied to an invoice",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/CreditNote"
          }
        },
        "Attachments": {
          "description": "Displays array of attachments from the API",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attachment"
          }
        },
        "HasErrors": {
          "description": "A boolean to indicate if a invoice has an validation errors",
          "example": false,
          "type": "boolean",
[...]
