{
  "swagger": "2.0",
  "info": {
    "version": "0.0.1",
    "title": "Xero OAuth 2.0",
    "description": "A connector for the Xero accounting solution for small and medium sized businesses. This connector enables you to access any Xero tenants you are authorised to. Our plan is to support all the Xero API sets, as described in readme.md",
    "contact": {
      "name": "Phil Stubbington",
      "url": "https://henleyridge.co.uk",
      "email": "philstubbington@henleyridge.co.uk"
    }
  },



  "host": "api.xero.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/connections": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id",
                    "title": "id"
                  },
                  "authEventId": {
                    "type": "string",
                    "description": "authEventId",
                    "title": "authEventId"
                  },
                  "tenantId": {
                    "type": "string",
                    "description": "tenantId",
                    "title": "tenantId"
                  },
                  "tenantType": {
                    "type": "string",
                    "description": "tenantType",
                    "title": "tenantType"
                  },
                  "tenantName": {
                    "type": "string",
                    "description": "tenantName",
                    "title": "tenantName"
                  },
                  "createdDateUtc": {
                    "type": "string",
                    "description": "createdDateUtc",
                    "title": "createdDateUtc",
                    "format": "date-time"
                  },
                  "updatedDateUtc": {
                    "type": "string",
                    "description": "updatedDateUtc",
                    "title": "updatedDateUtc",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "summary": "Get started",
        "operationId": "GetStarted",
        "description": "Get details of all the tenants we're authorised to access for subsequent operations.",
        "x-ms-visibility": "important"
      }
    },
    "/api.xro/2.0/Invoices": {
      "get": {
        "summary": "Get all invoices",
        "description": "Get all the invoices for the current tenant.",
        "operationId": "Invoices",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "xero-tenant-id",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "{{xero_tenant_id}}",
            "description": "xero-tenant-id"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "string",
                  "description": "Id"
                },
                "Status": {
                  "type": "string",
                  "description": "Status",
                  "title": "Status",
                  "x-ms-visibility": "important"
                },
                "ProviderName": {
                  "type": "string",
                  "description": "ProviderName"
                },
                "DateTimeUTC": {
                  "type": "string",
                  "description": "DateTimeUTC"
                },
                "Invoices": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Type": {
                        "type": "string",
                        "description": "Type"
                      },
                      "InvoiceID": {
                        "type": "string",
                        "description": "InvoiceID"
                      },
                      "InvoiceNumber": {
                        "type": "string",
                        "description": "InvoiceNumber"
                      },
                      "Reference": {
                        "type": "string",
                        "description": "Reference"
                      },
                      "Payments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "PaymentID": {
                              "type": "string",
                              "description": "PaymentID"
                            },
                            "Date": {
                              "type": "string",
                              "description": "Date"
                            },
                            "Amount": {
                              "type": "number",
                              "format": "float",
                              "description": "Amount"
                            },
                            "Reference": {
                              "type": "string",
                              "description": "Reference"
                            },
                            "CurrencyRate": {
                              "type": "number",
                              "format": "float",
                              "description": "CurrencyRate"
                            },
                            "HasAccount": {
                              "type": "boolean",
                              "description": "HasAccount"
                            },
                            "HasValidationErrors": {
                              "type": "boolean",
                              "description": "HasValidationErrors"
                            },
                            "BatchPaymentID": {
                              "type": "string",
                              "description": "BatchPaymentID"
                            }
                          }
                        },
                        "description": "Payments"
                      },
                      "CreditNotes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "CreditNoteID": {
                              "type": "string",
                              "description": "CreditNoteID"
                            },
                            "CreditNoteNumber": {
                              "type": "string",
                              "description": "CreditNoteNumber"
                            },
                            "ID": {
                              "type": "string",
                              "description": "ID"
                            },
                            "HasErrors": {
                              "type": "boolean",
                              "description": "HasErrors"
                            },
                            "AppliedAmount": {
                              "type": "number",
                              "format": "float",
                              "description": "AppliedAmount"
                            },
                            "DateString": {
                              "type": "string",
                              "description": "DateString"
                            },
                            "Date": {
                              "type": "string",
                              "description": "Date"
                            },
                            "LineItems": {
                              "type": "array",
                              "items": {},
                              "description": "LineItems"
                            },
                            "Total": {
                              "type": "number",
                              "format": "float",
                              "description": "Total"
                            }
                          }
                        },
                        "description": "CreditNotes"
                      },
                      "Prepayments": {
                        "type": "array",
                        "items": {},
                        "description": "Prepayments"
                      },
                      "Overpayments": {
                        "type": "array",
                        "items": {},
                        "description": "Overpayments"
                      },
                      "AmountDue": {
                        "type": "number",
                        "format": "float",
                        "description": "AmountDue",
                        "title": ""
                      },
                      "AmountPaid": {
                        "type": "number",
                        "format": "float",
                        "description": "AmountPaid"
                      },
                      "AmountCredited": {
                        "type": "number",
                        "format": "float",
                        "description": "AmountCredited",
                        "title": "AmountCredited"
                      },
                      "CurrencyRate": {
                        "type": "number",
                        "format": "float",
                        "description": "CurrencyRate",
                        "title": ""
                      },
                      "IsDiscounted": {
                        "type": "boolean",
                        "description": "IsDiscounted"
                      },
                      "HasAttachments": {
                        "type": "boolean",
                        "description": "HasAttachments"
                      },
                      "HasErrors": {
                        "type": "boolean",
                        "description": "HasErrors"
                      },
                      "RepeatingInvoiceID": {
                        "type": "string",
                        "description": "RepeatingInvoiceID"
                      },
                      "Contact": {
                        "type": "object",
                        "properties": {
                          "ContactID": {
                            "type": "string",
                            "description": "ContactID"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "Addresses": {
                            "type": "array",
                            "items": {},
                            "description": "Addresses"
                          },
                          "Phones": {
                            "type": "array",
                            "items": {},
                            "description": "Phones"
                          },
                          "ContactGroups": {
                            "type": "array",
                            "items": {},
                            "description": "ContactGroups"
                          },
                          "ContactPersons": {
                            "type": "array",
                            "items": {},
                            "description": "ContactPersons"
                          },
                          "HasValidationErrors": {
                            "type": "boolean",
                            "description": "HasValidationErrors"
                          }
                        },
                        "description": "Contact"
                      },
                      "DateString": {
                        "type": "string",
                        "description": "DateString"
                      },
                      "Date": {
                        "type": "string",
                        "description": "Date"
                      },
                      "DueDateString": {
                        "type": "string",
                        "description": "DueDateString"
                      },
                      "DueDate": {
                        "type": "string",
                        "description": "DueDate"
                      },
                      "Status": {
                        "type": "string",
                        "description": "Status"
                      },
                      "LineAmountTypes": {
                        "type": "string",
                        "description": "LineAmountTypes"
                      },
                      "LineItems": {
                        "type": "array",
                        "items": {},
                        "description": "LineItems"
                      },
                      "SubTotal": {
                        "type": "number",
                        "format": "float",
                        "description": "SubTotal"
                      },
                      "TotalTax": {
                        "type": "number",
                        "format": "float",
                        "description": "TotalTax"
                      },
                      "Total": {
                        "type": "number",
                        "format": "float",
                        "description": "Total"
                      },
                      "UpdatedDateUTC": {
                        "type": "string",
                        "description": "UpdatedDateUTC"
                      },
                      "CurrencyCode": {
                        "type": "string",
                        "description": "CurrencyCode"
                      },
                      "SentToContact": {
                        "type": "boolean",
                        "description": "SentToContact"
                      },
                      "BrandingThemeID": {
                        "type": "string",
                        "description": "BrandingThemeID"
                      },
                      "FullyPaidOnDate": {
                        "type": "string",
                        "description": "FullyPaidOnDate"
                      }
                    }
                  },
                  "description": "Invoices"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/connect/token": {
      "post": {
        "summary": "Refresh token",
        "description": "Refresh token",
        "operationId": "RefreshToken",
        "parameters": [
          {
            "name": "client_id",
            "default": "{{client_id}}",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "client_secret",
            "default": "{{client_secret}}",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "refresh_token",
            "default": "{{refresh_token}}",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "grant_type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "refresh_token",
            "description": "grant_type"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.xero.com/identity/connect/authorize",
      "tokenUrl": "https://identity.xero.com/connect/token",
      "scopes": {
        "offline_access accounting.transactions openid profile email accounting.contacts accounting.settings": "offline_access accounting.transactions openid profile email accounting.contacts accounting.settings"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "offline_access accounting.transactions openid profile email accounting.contacts accounting.settings"
      ]
    }
  ],
  "tags": []
}

