{
  "swagger": "2.0",
  "info": {
    "title": "iManage Tracker",
    "description": "iManage Tracker connector enables users to automate their tasks and task management processes within the iManage platform while they keep all their files secure in the iManage Work environment.",
    "version": "1.0",
    "contact": {
      "name": "iManage LLC",
      "url": "https://docs.imanage.com",
      "email": "cloudsupport@imanage.com"
    }
  },
  "host": "cloudimanage.com",
  "basePath": "/automate/tracker",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "multipart/form-data"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/getTrackersForWorkspace": {
      "get": {
        "summary": "Get trackers for workspace",
        "description": "Gets a list of trackers associated with a workspace.",
        "tags": [
          "Trackers"
        ],
        "x-im-controller": "getTrackersForWorkspace.controllers",
        "operationId": "GetTrackersForWorkspace",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "in": "query",
            "name": "workspaceId",
            "required": true,
            "type": "string",
            "pattern": "^[^!]+![0-9]+$",
            "x-ms-summary": "Workspace ID",
            "description": "Specifies the ID of the workspace. For example, 'ACTIVE_US!427'.",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTrackersForWorkspaceResponseBody"
          }
        }
      }
    },
    "/getDefaultTracker": {
      "get": {
        "summary": "Get default tracker",
        "description": "Gets the default tracker dynamic option.",
        "tags": [
          "Trackers"
        ],
        "x-im-controller": "getDefaultTracker.controllers",
        "operationId": "GetDefaultTracker",
        "x-ms-visibility": "internal",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "title": "Display Name",
                        "description": "Indicates the display name of default tracker.",
                        "type": "string"
                      },
                      "_id": {
                        "title": "Default Tracker ID",
                        "description": "Indicates the placeholder ID of the default tracker.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "_id"
                    ]
                  }
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/getTimezones": {
      "get": {
        "summary": "Get timezones",
        "description": "Gets a list of timezones.",
        "tags": [
          "General"
        ],
        "x-im-controller": "getTimezones.controllers",
        "operationId": "GetTimezones",
        "x-ms-visibility": "internal",
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of timezones.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "title": "Name",
                        "description": "Indicates the name of the timezone."
                      },
                      "display_name": {
                        "type": "string",
                        "title": "Display Name",
                        "description": "Indicates the display name of the timezone."
                      },
                      "offset": {
                        "type": "integer",
                        "format": "int32",
                        "title": "Offset",
                        "description": "Indicates the offset of the timezone in minutes."
                      }
                    },
                    "required": [
                      "name",
                      "display_name",
                      "offset"
                    ]
                  }
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/getStatusesForATracker": {
      "get": {
        "summary": "Get statuses for a tracker",
        "description": "Gets statuses associated with a tracker.",
        "tags": [
          "Trackers"
        ],
        "x-im-controller": "getStatusesForATracker.controllers",
        "operationId": "GetStatusesForATracker",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "in": "query",
            "name": "workspaceId",
            "required": true,
            "type": "string",
            "pattern": "^[^!]+![0-9]+$",
            "x-ms-summary": "Workspace ID",
            "description": "Specifies the ID of the workspace. For example, 'ACTIVE_US!427'.",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "trackerId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Tracker ID",
            "description": "Specifies the ID of the tracker.",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetDefaultTracker",
              "value-collection": "data",
              "value-title": "name",
              "value-path": "_id"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetDefaultTracker",
              "itemsPath": "data",
              "itemTitlePath": "name",
              "itemValuePath": "_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of statuses.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TrackerTaskStatus"
                  }
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/getLinkableObjectTypes": {
      "get": {
        "summary": "Get linkable object types",
        "description": "Gets a list of object types that can be linked to a task.",
        "tags": [
          "General"
        ],
        "x-im-controller": "getLinkableObjectTypes.controllers",
        "operationId": "GetLinkableObjectTypes",
        "x-ms-visibility": "internal",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/getSystemFields": {
      "get": {
        "summary": "Get system fields",
        "description": "Gets a list of system defined fields.",
        "tags": [
          "Trackers"
        ],
        "x-im-controller": "getSystemFields.controllers",
        "operationId": "GetSystemFields",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "in": "query",
            "name": "field_type",
            "type": "string",
            "x-ms-summary": "Field Type",
            "description": "Specifies type of the fields to include in the response.",
            "x-ms-visibility": "important",
            "required": false,
            "default": ""
          },
          {
            "in": "query",
            "name": "hide_un_erasable_fields",
            "type": "boolean",
            "x-ms-summary": "Hide Un-erasable Fields",
            "description": "Specifies to not return fields that cannot be erased.",
            "x-ms-visibility": "important",
            "required": false,
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "description": "Indicates the list of system defined fields.",
                  "items": {
                    "type": "object",
                    "title": "Each Field",
                    "properties": {
                      "field_id": {
                        "title": "ID",
                        "description": "Indicates the ID of the field.",
                        "type": "string"
                      },
                      "field_title": {
                        "title": "Name",
                        "description": "Indicates the display title of the field.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "field_id",
                      "field_title"
                    ]
                  }
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/addTask": {
      "post": {
        "summary": "Add a task",
        "description": "Adds a task or a sub-task to a tracker. A sub-task can be added by specifying the 'Parent Task ID'.",
        "tags": [
          "Tasks"
        ],
        "x-im-controller": "addTask.controllers",
        "operationId": "AddTask",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "context_work_id": {
                  "title": "Workspace ID",
                  "description": "Specifies the ID of the workspace. For example, 'ACTIVE_US!427'.",
                  "type": "string",
                  "pattern": "^[^!]+![0-9]+$",
                  "x-ms-visibility": "important"
                },
                "context_id": {
                  "title": "Tracker ID",
                  "description": "Specifies the ID of the tracker. Select 'Default Tracker' to add the task to the first tracker of the workspace.",
                  "type": "string",
                  "minLength": 1,
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetDefaultTracker",
                    "value-collection": "data",
                    "value-title": "name",
                    "value-path": "_id"
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetDefaultTracker",
                    "itemsPath": "data",
                    "itemTitlePath": "name",
                    "itemValuePath": "_id"
                  }
                },
                "title": {
                  "title": "Task Name",
                  "description": "Specifies the name for the task.",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "assignee": {
                  "$ref": "#/definitions/AssigneeInRequest"
                },
                "due_date": {
                  "title": "Due Date",
                  "description": "Specifies the due date for the task (in ISO 8601 format).",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "due_time_zone": {
                  "title": "Due Date Time Zone",
                  "description": "Specifies the time zone for the due date.",
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetTimezones",
                    "value-collection": "data",
                    "value-title": "display_name",
                    "value-path": "name"
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetTimezones",
                    "itemsPath": "data",
                    "itemTitlePath": "display_name",
                    "itemValuePath": "name"
                  }
                },
                "work_object": {
                  "$ref": "#/definitions/WorkObjectInRequest"
                },
                "task_status": {
                  "type": "string",
                  "title": "Status",
                  "description": "Specifies the status for the task.",
                  "x-ms-visibility": "important"
                },
                "notes": {
                  "title": "Notes",
                  "description": "Specifies notes for the task.",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "parent_id": {
                  "title": "Parent Task ID",
                  "description": "Specifies the ID of the parent task if you want to add this as a sub-task.",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "context_work_id",
                "context_id",
                "title"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/TaskProfile"
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/updateSingleTaskField": {
      "post": {
        "summary": "Update a task field",
        "description": "Updates a field in an existing task.",
        "tags": [
          "Tasks"
        ],
        "x-im-controller": "updateSingleTaskField.controllers",
        "operationId": "UpdateSingleTaskField",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "context_work_id": {
                  "title": "Workspace ID",
                  "type": "string",
                  "description": "Specifies the ID of the workspace. For example, 'ACTIVE_US!427'.",
                  "minLength": 1,
                  "x-ms-visibility": "important"
                },
                "task_id": {
                  "title": "Task ID",
                  "type": "string",
                  "description": "Specifies the ID of the task to update.",
                  "minLength": 1,
                  "x-ms-visibility": "important"
                },
                "field_type": {
                  "title": "Field Type",
                  "type": "string",
                  "description": "Specifies the type of the field to update.",
                  "minLength": 1,
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCustomFieldTypes",
                    "value-collection": "data",
                    "value-title": "display_name",
                    "value-path": "field_type",
                    "parameters": {
                      "all_field_types": true
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCustomFieldTypes",
                    "itemsPath": "data",
                    "itemTitlePath": "display_name",
                    "itemValuePath": "field_type",
                    "parameters": {
                      "all_field_types": {
                        "value": true
                      }
                    }
                  }
                },
                "field_id": {
                  "title": "Field ID Or Name",
                  "type": "string",
                  "description": "Specifies the ID or name of the field to update.",
                  "minLength": 1,
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetSystemFields",
                    "value-collection": "data",
                    "value-title": "field_title",
                    "value-path": "field_id",
                    "parameters": {
                      "field_type": {
                        "parameter": "field_type"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetSystemFields",
                    "itemsPath": "data",
                    "itemTitlePath": "field_title",
                    "itemValuePath": "field_id",
                    "parameters": {
                      "field_type": {
                        "parameterReference": "body/field_type"
                      }
                    }
                  }
                },
                "field_data": {
                  "x-ms-dynamic-schema": {
                    "operationId": "GetDataSchemaForFieldType",
                    "parameters": {
                      "field_type": {
                        "parameter": "field_type"
                      },
                      "schemaContext": "request"
                    },
                    "value-path": "data"
                  },
                  "x-ms-dynamic-properties": {
                    "operationId": "GetDataSchemaForFieldType",
                    "parameters": {
                      "field_type": {
                        "parameterReference": "body/field_type"
                      },
                      "schemaContext": {
                        "value": "request"
                      }
                    },
                    "itemValuePath": "data"
                  }
                }
              },
              "required": [
                "context_work_id",
                "task_id",
                "field_type",
                "field_id",
                "field_data"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/TaskProfile"
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/createTracker": {
      "post": {
        "summary": "Create a tracker",
        "description": "Creates a new tracker for the specified workspace.",
        "tags": [
          "Trackers"
        ],
        "x-im-controller": "createTracker.controllers",
        "operationId": "CreateTracker",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "context_work_id": {
                  "title": "Workspace ID",
                  "description": "Specifies the ID of the workspace. For example, 'ACTIVE_US!427'.",
                  "type": "string",
                  "pattern": "^[^!]+![0-9]+$",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "title": "Tracker Name",
                  "description": "Specifies the name for the tracker.",
                  "type": "string",
                  "pattern": "^(?!\\s*$)[*()&\\-_|@$%^?:{}!#+<>;=\\/\\s'.`~\",\\]\\[(\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF)|\\w]+$",
                  "x-ms-visibility": "important"
                },
                "tracker_owner": {
                  "title": "Tracker Owner",
                  "description": "Specifies the user ID of the tracker owner.",
                  "type": "string",
                  "minLength": 1,
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "context_work_id",
                "name"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/TrackerProfile"
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/getCustomFieldTypes": {
      "get": {
        "summary": "Get custom field types",
        "description": "Gets the list of types for which a custom field can be created.",
        "tags": [
          "Trackers"
        ],
        "x-im-controller": "getCustomFieldTypes.controllers",
        "operationId": "GetCustomFieldTypes",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "in": "query",
            "name": "all_field_types",
            "type": "boolean",
            "x-ms-summary": "Include All Field Types",
            "description": "Specifies to include all field types.",
            "x-ms-visibility": "internal",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "display_name": {
                        "title": "Display Name",
                        "description": "Indicates the display name of the custom field type.",
                        "type": "string"
                      },
                      "field_type": {
                        "title": "Field Type",
                        "description": "Indicates the type of the custom field.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "display_name",
                      "field_type"
                    ]
                  }
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/getSchemaForFieldType": {
      "get": {
        "summary": "Get schema for field type",
        "description": "Gets the dynamic schema for a custom field type.",
        "tags": [
          "Trackers"
        ],
        "x-im-controller": "getSchemaForFieldType.controllers",
        "operationId": "GetSchemaForFieldType",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "in": "query",
            "name": "field_type",
            "type": "string",
            "x-ms-summary": "Field Type",
            "description": "Specifies the type of the custom field for which to get the schema.",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "schemaContext",
            "required": true,
            "type": "string",
            "enum": [
              "request",
              "response"
            ],
            "default": "request",
            "x-ms-summary": "Custom Fields Schema Context",
            "description": "Specifies the context for which to get the schema.",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/getDataSchemaForFieldType": {
      "get": {
        "summary": "Get data schema for field type",
        "description": "Gets the data schema for a custom field type.",
        "tags": [
          "Trackers"
        ],
        "x-im-controller": "getDataSchemaForFieldType.controllers",
        "operationId": "GetDataSchemaForFieldType",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "in": "query",
            "name": "field_type",
            "type": "string",
            "x-ms-summary": "Field Type",
            "description": "Specifies the type of the custom field for which to get the data schema.",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "schemaContext",
            "required": true,
            "type": "string",
            "enum": [
              "request",
              "response"
            ],
            "default": "request",
            "x-ms-summary": "Custom Fields Schema Context",
            "description": "Specifies the context for which to get the data schema.",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/addCustomField": {
      "post": {
        "summary": "Add a custom field",
        "description": "Adds a custom field to an existing tracker. You must be the owner of the tracker or have full access to it. A field by the same name must not already exist for the tracker.",
        "tags": [
          "Trackers"
        ],
        "x-im-controller": "addCustomField.controllers",
        "operationId": "AddCustomField",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "workspaceId": {
                  "title": "Workspace ID",
                  "description": "Specifies the ID of the workspace. For example, 'ACTIVE_US!427'.",
                  "type": "string",
                  "pattern": "^[^!]+![0-9]+$",
                  "x-ms-visibility": "important"
                },
                "context_id": {
                  "title": "Tracker ID",
                  "description": "Specifies the ID of the tracker. Select 'Default Tracker' to specify the first tracker.",
                  "type": "string",
                  "minLength": 1,
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetDefaultTracker",
                    "value-collection": "data",
                    "value-title": "name",
                    "value-path": "_id"
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetDefaultTracker",
                    "itemsPath": "data",
                    "itemTitlePath": "name",
                    "itemValuePath": "_id"
                  }
                },
                "viewOption": {
                  "title": "View Name",
                  "description": "Specifies where the custom field is visible in the tracker.",
                  "type": "string",
                  "enum": [
                    "Details View",
                    "Table View and Details View"
                  ],
                  "default": "Table View and Details View",
                  "minLength": 1,
                  "x-ms-visibility": "important"
                },
                "field_title": {
                  "title": "Field Name",
                  "description": "Specifies a name for the custom field.",
                  "type": "string",
                  "minLength": 1,
                  "x-ms-visibility": "important"
                },
                "field_type": {
                  "title": "Field Type",
                  "description": "Specifies the type of the custom field.",
                  "type": "string",
                  "minLength": 1,
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCustomFieldTypes",
                    "value-collection": "data",
                    "value-title": "display_name",
                    "value-path": "field_type"
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetCustomFieldTypes",
                    "itemsPath": "data",
                    "itemTitlePath": "display_name",
                    "itemValuePath": "field_type"
                  }
                },
                "field_data": {
                  "x-ms-dynamic-schema": {
                    "operationId": "GetSchemaForFieldType",
                    "parameters": {
                      "field_type": {
                        "parameter": "field_type"
                      },
                      "schemaContext": "request"
                    },
                    "value-path": "data"
                  },
                  "x-ms-dynamic-properties": {
                    "operationId": "GetSchemaForFieldType",
                    "parameters": {
                      "field_type": {
                        "parameterReference": "body/field_type"
                      },
                      "schemaContext": {
                        "value": "request"
                      }
                    },
                    "itemValuePath": "data"
                  }
                }
              },
              "required": [
                "workspaceId",
                "context_id",
                "viewOption",
                "field_title",
                "field_type"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "field_id": {
                      "title": "Field ID",
                      "description": "Indicates the ID of the custom field.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "field_id"
                  ]
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/clearSingleTaskField": {
      "post": {
        "summary": "Clear a task field",
        "description": "Clears a previously set field in an existing task.",
        "tags": [
          "Tasks"
        ],
        "x-im-controller": "clearSingleTaskField.controllers",
        "operationId": "ClearSingleTaskField",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "context_work_id": {
                  "title": "Workspace ID",
                  "type": "string",
                  "description": "Specifies the ID of the workspace. For example, 'ACTIVE_US!427'.",
                  "minLength": 1,
                  "x-ms-visibility": "important"
                },
                "task_id": {
                  "title": "Task ID",
                  "description": "Specifies the ID of the task to update.",
                  "type": "string",
                  "minLength": 1,
                  "x-ms-visibility": "important"
                },
                "field_id": {
                  "title": "Field ID Or Name",
                  "description": "Specifies the ID or name of the field to update.",
                  "type": "string",
                  "minLength": 1,
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetSystemFields",
                    "value-collection": "data",
                    "value-title": "field_title",
                    "value-path": "field_id",
                    "parameters": {
                      "hide_un_erasable_fields": true
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetSystemFields",
                    "itemsPath": "data",
                    "itemTitlePath": "field_title",
                    "itemValuePath": "field_id",
                    "parameters": {
                      "hide_un_erasable_fields": {
                        "value": true
                      }
                    }
                  }
                }
              },
              "required": [
                "context_work_id",
                "task_id",
                "field_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/TaskProfile"
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ShortTrackerProfileInArray": {
      "title": "Each Tracker",
      "type": "object",
      "properties": {
        "_id": {
          "title": "ID",
          "description": "Indicates the ID of the tracker.",
          "type": "string"
        },
        "context_work_id": {
          "title": "Workspace ID",
          "description": "Indicates the ID of the workspace. For example, 'ACTIVE_US!427'.",
          "type": "string"
        },
        "created_at": {
          "title": "Creation Date",
          "description": "Indicates the date and time (in ISO 8601 format) the tracker was created.",
          "type": "string",
          "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$"
        },
        "last_updated_at": {
          "title": "Last Updated Date",
          "description": "Indicates the date and time (in ISO 8601 format) the tracker was last updated.",
          "type": "string",
          "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$"
        },
        "name": {
          "title": "Name",
          "description": "Indicates the name of the tracker.",
          "type": "string"
        },
        "tracker_owner_work_id": {
          "title": "Owner ID",
          "description": "Indicates the ID of the tracker owner.",
          "type": "string"
        },
        "tracker_owner_name": {
          "title": "Owner Name",
          "description": "Indicates the name of the tracker owner.",
          "type": "string"
        }
      },
      "required": [
        "_id",
        "context_work_id",
        "created_at",
        "last_updated_at",
        "name",
        "tracker_owner_work_id",
        "tracker_owner_name"
      ]
    },
    "TaskProfile": {
      "type": "object",
      "description": "Indicates the profile of the task.",
      "properties": {
        "_id": {
          "title": "Task ID",
          "description": "Indicates the ID of the task.",
          "type": "string"
        },
        "context_work_id": {
          "title": "Workspace ID",
          "description": "Indicates the ID of the workspace. For example, 'ACTIVE_US!427'.",
          "type": "string"
        },
        "context_id": {
          "title": "Tracker ID",
          "description": "Indicates the ID of the tracker.",
          "type": "string"
        },
        "title": {
          "title": "Task Name",
          "description": "Indicates the name of the task.",
          "type": "string"
        },
        "assignee": {
          "$ref": "#/definitions/AssigneeInResponse"
        },
        "due_date": {
          "title": "Due Date",
          "description": "Indicates the due date of the task (in ISO 8601 format).",
          "type": "string",
          "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
          "x-ms-visibility": "important"
        },
        "due_time_zone": {
          "title": "Due Date Time Zone",
          "description": "Indicates the time zone of the due date.",
          "type": "string"
        },
        "work_object": {
          "$ref": "#/definitions/WorkObjectInResponse"
        },
        "task_status": {
          "$ref": "#/definitions/TaskStatusInResponse"
        },
        "notes": {
          "title": "Notes",
          "description": "Indicates notes of the task.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "parent_id": {
          "title": "Parent ID",
          "description": "Indicates the parent ID of the task.",
          "type": "string"
        },
        "parent_type": {
          "title": "Parent Type",
          "description": "Indicates the parent type of the task. Possible values are 'tracker', 'task'.",
          "type": "string",
          "enum": [
            "task",
            "tracker"
          ]
        },
        "assigned_at": {
          "title": "Assigned At",
          "description": "Indicates the date and time (in ISO 8601 format) the task was assigned.",
          "type": "string",
          "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$"
        },
        "created_at": {
          "title": "Task Creation Date",
          "description": "Indicates the date and time (in ISO 8601 format) the task was created.",
          "type": "string",
          "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$"
        },
        "last_updated_at": {
          "title": "Last Updated Date",
          "description": "Indicates the date and time (in ISO 8601 format) the task was last updated.",
          "type": "string",
          "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$"
        },
        "task_url": {
          "title": "Task URL",
          "description": "Indicates the sharable link of the task.",
          "type": "string"
        }
      },
      "required": [
        "_id",
        "title",
        "context_id",
        "context_work_id",
        "parent_id",
        "parent_type",
        "task_url",
        "created_at",
        "last_updated_at"
      ]
    },
    "TrackerTaskStatus": {
      "type": "object",
      "title": "Each Status",
      "properties": {
        "value": {
          "type": "string",
          "title": "Value",
          "description": "Indicates the value of the status."
        },
        "state_code": {
          "type": "integer",
          "format": "int32",
          "title": "Code",
          "description": "Indicates the state code of the status."
        }
      },
      "required": [
        "value",
        "state_code"
      ]
    },
    "TaskStatusInResponse": {
      "type": "object",
      "x-ms-visibility": "important",
      "properties": {
        "value": {
          "title": "Status",
          "description": "Indicates the status of the task.",
          "type": "string"
        }
      },
      "required": [
        "value"
      ]
    },
    "AssigneeInRequest": {
      "type": "object",
      "x-ms-visibility": "important",
      "properties": {
        "ty": {
          "title": "Assignee Type",
          "description": "Specifies the type of the assignee.",
          "type": "string",
          "enum": [
            "user",
            "group"
          ]
        },
        "work_id": {
          "title": "Assignee ID",
          "description": "Specifies the ID of the user or group to assign the task.",
          "type": "string"
        }
      },
      "required": [
        "ty",
        "work_id"
      ]
    },
    "AssigneeInResponse": {
      "type": "object",
      "x-ms-visibility": "important",
      "properties": {
        "name": {
          "title": "Assignee Name",
          "description": "Indicates the name of the user assigned to the task. Only applicable when the assignee is a user.",
          "type": "string"
        },
        "work_id": {
          "title": "Assignee ID",
          "description": "Indicates the ID of the user or group assigned to the task.",
          "type": "string"
        },
        "ty": {
          "title": "Assignee Type",
          "description": "Indicates the type of the assignee. Possible values are 'user' or 'group'.",
          "type": "string"
        }
      },
      "required": [
        "ty",
        "work_id"
      ]
    },
    "WorkObjectInRequest": {
      "type": "object",
      "x-ms-visibility": "important",
      "properties": {
        "w_wstype": {
          "title": "Linked Object Type",
          "description": "Specifies the type of the object to link to the task.",
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "GetLinkableObjectTypes",
            "value-collection": "data"
          },
          "x-ms-dynamic-list": {
            "operationId": "GetLinkableObjectTypes",
            "itemsPath": "data"
          }
        },
        "w_id": {
          "title": "Linked Object ID",
          "description": "Specifies the ID of a document or folder to link to the task. An example of a document ID is 'ACTIVE_US!453.1'. An example of a folder ID is 'ACTIVE_US!123'.",
          "type": "string"
        }
      },
      "required": [
        "w_wstype",
        "w_id"
      ]
    },
    "WorkObjectInResponse": {
      "type": "object",
      "x-ms-visibility": "important",
      "properties": {
        "w_wstype": {
          "title": "Linked Object Type",
          "description": "Indicates the type of the object linked to the task. Possible values are 'document' or 'folder'.",
          "type": "string",
          "enum": [
            "DOCUMENT",
            "FOLDER"
          ]
        },
        "w_id": {
          "title": "Linked Object ID",
          "description": "Indicates the ID of the document or folder linked to the task.",
          "type": "string"
        }
      },
      "required": [
        "w_wstype",
        "w_id"
      ]
    },
    "TrackerProfile": {
      "type": "object",
      "properties": {
        "_id": {
          "title": "Tracker ID",
          "description": "Indicates the ID of the tracker.",
          "type": "string"
        },
        "context_work_id": {
          "title": "Workspace ID",
          "description": "Indicates the ID of the workspace. For example, 'ACTIVE_US!427'.",
          "type": "string"
        },
        "created_at": {
          "title": "Creation Date",
          "description": "Indicates the date and time (in ISO 8601 format) the tracker was created.",
          "type": "string",
          "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$"
        },
        "last_updated_at": {
          "title": "Last Updated Date",
          "description": "Indicates the date and time (in ISO 8601 format) the tracker was last updated.",
          "type": "string",
          "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$"
        },
        "name": {
          "title": "Tracker Name",
          "description": "Indicates the name of the tracker.",
          "type": "string"
        },
        "tracker_owner_work_id": {
          "title": "Tracker Owner ID",
          "description": "Indicates the ID of the tracker owner.",
          "type": "string"
        },
        "tracker_owner_name": {
          "title": "Tracker Owner Name",
          "description": "Indicates the name of the tracker owner.",
          "type": "string"
        }
      },
      "required": [
        "_id",
        "context_work_id",
        "created_at",
        "last_updated_at",
        "name",
        "tracker_owner_work_id",
        "tracker_owner_name"
      ]
    }
  },
  "parameters": {},
  "responses": {
    "GetTrackersForWorkspaceResponseBody": {
      "description": "List of trackers.",
      "schema": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "trackers_count": {
                "type": "integer",
                "title": "Tracker Count",
                "description": "Indicates the total number of trackers associated with the workspace."
              },
              "trackers": {
                "type": "array",
                "title": "Trackers",
                "description": "Indicates the list of trackers associated with the workspace.",
                "items": {
                  "$ref": "#/definitions/ShortTrackerProfileInArray"
                }
              }
            },
            "required": [
              "trackers_count",
              "trackers"
            ]
          }
        },
        "required": [
          "data"
        ],
        "additionalProperties": false
      }
    }
  },
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://cloudimanage.com/automate/work/auth/login",
      "tokenUrl": "https://cloudimanage.com/automate/work/auth/token",
      "scopes": {
        "user": "user"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "user"
      ]
    }
  ],
  "tags": [
    {
      "name": "General",
      "description": "General actions."
    },
    {
      "name": "Library",
      "description": "Library related actions."
    },
    {
      "name": "Tasks",
      "description": "Tasks related actions."
    },
    {
      "name": "Trackers",
      "description": "Trackers related actions."
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://imanage.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://imanage.com/about/privacy-notice/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ]
}