{
  "swagger": "2.0",
  "info": {
    "title": "Experlogix CPQ",
    "description": "Experlogix CPQ (Configure, Price, Quote) helps sales teams quickly and accurately build quotes for complex products and services. Using a logic-based rules engine, Experlogix CPQ software guides users through selecting the right configuration options, applies pricing automatically and prevents incompatible variations from being selected — all through deep integration with leading CRM and ERP systems like Microsoft Dynamics 365 and Salesforce.",
    "version": "1.0",
    "contact": {
        "name": "Experlogix Support",
        "url": "https://support.experlogix.com",
        "email": "support@experlogix.com"
    }
  },
  "x-ms-connector-metadata": [
      {
          "propertyName": "Website",
          "propertyValue": "https://www.experlogix.com"
      },
      {
          "propertyName": "Privacy policy",
          "propertyValue": "https://www.experlogix.com/privacy-policy/"
      },
      {
          "propertyName": "Categories",
          "propertyValue": "Communication;Productivity"
      }
  ],
  "host": "cpq.powerapps.experlogix.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/runtime/webhooks/mcp": {
        "post": {
            "summary": "Experlogix CPQ MCP Server",
            "description": "Endpoint for Experlogix CPQ MCP communication.",
            "x-ms-agentic-protocol": "mcp-streamable-1.0",
            "operationId": "InvokeMCP",
            "responses": {
                "200": {
                    "description": "Success"
                }
            }
        }
    },
    "/api/ConfigurationXml": {
      "get": {
        "summary": "Get Configuration Xml",
        "description": "Gets the configuration XML for the provided entity.",
        "operationId": "GetConfigurationXml",
        "parameters": [
          {
              "in": "query",
              "name": "type",
              "description": "The type of the entity.",
              "required": true,
              "type": "string",
              "x-ms-summary": "Type"
          },
          {
              "in": "query",
              "name": "id",
              "description": "The identifier of the entity.",
              "required": true,
              "type": "string",
              "x-ms-summary": "Id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetConfigurationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/CreateConfigurationFromCopy": {
      "post": {
        "consumes": [
            "application/json"
        ],
        "summary": "Create Configuration From Copy",
        "description": "Creates a new configuration from a copy of the provided configuration.",
        "operationId": "CreateConfigurationFromCopy",
        "parameters": [
          {
              "in": "body",
              "name": "req",
              "required": true,
              "schema": {
                  "$ref": "#/definitions/CreateConfigurationFromCopyRequest"
              }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetConfigurationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/UpdateConfiguration": {
      "post": {
        "consumes": [
            "application/json"
        ],
        "summary": "Updates the Configuration",
        "description": "Updates the configuration for the provided entity with the provided configuration XML.",
        "operationId": "UpdateConfiguration",
        "parameters": [
          {
              "in": "body",
              "name": "req",
              "required": true,
              "schema": {
                  "$ref": "#/definitions/UpdateConfigurationRequest"
              }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetConfigurationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/CreateConfiguration": {
      "post": {
        "consumes": [
            "application/json"
        ],
        "summary": "Creates the Configuration",
        "description": "Creates the configuration for the provided entity with the provided configuration XML.",
        "operationId": "CreateConfiguration",
        "parameters": [
          {
              "in": "body",
              "name": "req",
              "required": true,
              "schema": {
                  "$ref": "#/definitions/CreateConfigurationRequest"
              }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetConfigurationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/CreateConfigurationFromChanges": {
      "post": {
        "consumes": [
            "application/json"
        ],
        "summary": "Create Configuration From Changes",
        "description": "Creates a new configuration from the provided changes.",
        "operationId": "CreateConfigurationFromChanges",
        "parameters": [
          {
              "in": "body",
              "name": "req",
              "required": true,
              "schema": {
                  "$ref": "#/definitions/CreateConfigurationFromChangesRequest"
              }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetConfigurationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/UpdateConfigurationFromChanges": {
      "post": {
        "consumes": [
            "application/json"
        ],
        "summary": "Update Configuration From Changes",
        "description": "Updates the configuration from the provided changes.",
        "operationId": "UpdateConfigurationFromChanges",
        "parameters": [
          {
              "in": "body",
              "name": "req",
              "required": true,
              "schema": {
                  "$ref": "#/definitions/UpdateConfigurationFromChangesRequest"
              }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetConfigurationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/ModelMetadata": {
      "post": {
        "consumes": [
            "application/json"
        ],
        "summary": "Get Model Metadata",
        "description": "Gets the model metadata for the project.",
        "operationId": "GetModelMetadata",
        "parameters": [
          {
              "in": "body",
              "name": "req",
              "required": false,
              "schema": {
                  "$ref": "#/definitions/GetModelMetadataRequest"
              }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetModelMetadataResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    }
  },
  "definitions": {
    "GetConfigurationResponse": {
      "type": "object",
      "properties": {
        "configurationXml": {
          "type": "string"
        },
        "configureUrl": {
          "type": "string"
        },
        "lineItemIds": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        },
        "success": {
          "type": "boolean"
        },
        "messages": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GetModelMetadataResponse": {
      "type": "object",
      "properties": {
        "Categories": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "CatID": {
                "type": "string",
                "description": "The category identifier"
              },
              "Description": {
                "type": "string",
                "description": "The category description"
              }
            }
          }
        },
        "CategoryOptions": {
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Description": {
                  "type": "string",
                  "description": "The option description"
                },
                "OptionID": {
                  "type": "string",
                  "description": "The option identifier"
                }
              }
            }
          }
        },
        "CategoryProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Hide": {
                  "type": "boolean",
                  "description": "Whether the property should be hidden"
                },
                "PropID": {
                  "type": "string",
                  "description": "The property identifier"
                },
                "Required": {
                  "type": "boolean",
                  "description": "Whether the property is required"
                }
              }
            }
          }
        },
        "success": {
          "type": "boolean"
        },
        "messages": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CreateConfigurationFromCopyRequest": {
      "type": "object",
      "properties": {
        "targetId": {
          "description": "The identifier of the entity to copy the configuration to.",
          "title": "Target Id",
          "type": "string"
        },
        "sourceId": {
          "description": "The identifier of the entity to copy the configuration from.",
          "title": "Source Id",
          "type": "string"
        },
        "type": {
          "description": "The type of the entity.",
          "title": "Type",
          "type": "string"
        },
        "lineItemIds": {
          "description": "The identifiers of the line items to copy.",
          "title": "Line Item Ids",
          "type": "array",
          "x-ms-visibility": "advanced",
          "items": {
            "type": "integer"
          }
        }
      },
      "required": [
          "targetId",
          "sourceId",
          "type"
      ]
    },
    "UpdateConfigurationRequest": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier of the entity to update the configuration.",
          "title": "Id",
          "type": "string"
        },
        "type": {
          "description": "The type of the entity.",
          "title": "Type",
          "type": "string"
        },
        "configurationXml": {
          "description": "The updated configuration XML.",
          "title": "Configuration XML",
          "type": "string"
        }
      },
      "required": [
          "id",
          "type",
          "configurationXml"
      ]
    },
    "CreateConfigurationRequest": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier of the entity to create the configuration.",
          "title": "Id",
          "type": "string"
        },
        "type": {
          "description": "The type of the entity.",
          "title": "Type",
          "type": "string"
        },
        "configurationXml": {
          "description": "The configuration XML.",
          "title": "Configuration XML",
          "type": "string"
        }
      },
      "required": [
          "id",
          "type",
          "configurationXml"
      ]
    },
    "CreateConfigurationFromChangesRequest": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier of the entity to create the configuration.",
          "title": "Id",
          "type": "string"
        },
        "type": {
          "description": "The type of the entity.",
          "title": "Type",
          "type": "string"
        },
        "seriesId": {
          "description": "The identifier of the series to create the configuration.",
          "title": "Series",
          "type": "string"
        },
        "modelId": {
          "description": "The identifier of the model to create the configuration.",
          "title": "Model",
          "type": "string"
        },
        "changes": {
          "description": "The list of configuration changes to apply.",
          "title": "Changes",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ChangeConfig"
          }
        },
        "saveConfiguration": {
          "description": "Whether the configuration should be saved after creation. Defaults to true if not provided.",
          "title": "Save Configuration",
          "type": "boolean",
          "default": true
        }
      },
      "required": [
          "id",
          "type",
          "seriesId",
          "modelId"
      ]
    },
    "UpdateConfigurationFromChangesRequest": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier of the entity to create the configuration.",
          "title": "Id",
          "type": "string"
        },
        "type": {
          "description": "The type of the entity.",
          "title": "Type",
          "type": "string"
        },
        "changes": {
          "description": "The list of configuration changes to apply.",
          "title": "Changes",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ChangeConfig"
          }
        },
        "saveConfiguration": {
          "description": "Whether the configuration should be saved after the update. Defaults to true if not provided.",
          "title": "Save Configuration",
          "type": "boolean",
          "default": true
        }
      },
      "required": [
          "id",
          "type"
      ]
    },
    "GetModelMetadataRequest": {
      "type": "object",
      "properties": {
        "relevantCategories": {
          "description": "The list of relevant categories to include in the metadata.",
          "title": "Relevant Categories",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ChangeConfig": {
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the configuration change. (e.g., \"setProperty\", \"selection\", \"recalc\")",
          "title": "Type",
          "type": "string"
        },
        "configLineIndex": {
          "description": "The index of the configuration line item to change.",
          "title": "Config Line Index",
          "type": "integer"
        },
        "changeType": {
          "description": "The type of change to apply. (for \"selection\" type changes)",
          "title": "Change Type",
          "type": "string"
        },
        "categoryId": {
          "description": "The identifier of the category to change.",
          "title": "Category Id",
          "type": "string"
        },
        "optionId": {
          "description": "The identifier of the option to change.",
          "title": "Option Id",
          "type": "string"
        },
        "selectionIndex": {
          "description": "The index of the selection to change.",
          "title": "Selection Index",
          "type": "integer"
        },
        "propertyId": {
          "description": "The identifier of the property to change.",
          "title": "Property Id",
          "type": "string"
        },
        "value": {
          "description": "The new value for the property to change.",
          "title": "Value",
          "type": "string"
        }
      },
      "required": [
          "type",
          "categoryId",
          "optionId"
      ]
    }
  },
  "parameters": {},
  "responses": {},
  "tags": []
}