{
  "swagger": "2.0",
  "info": {
    "title": "Experlogix CPQ",
    "description": "Used to manage configurations in Experlogix CPQ.",
    "version": "1.0",
    "contact": {
        "name": "Experlogix Support",
        "url": "https://support.experlogix.com",
        "email": "support@experlogix.com"
    }
  },
  "x-ms-connector-metadata": [
      {
          "propertyName": "Website",
          "propertyValue": "https://www.experlogix.com"
      },
      {
          "propertyName": "Privacy policy",
          "propertyValue": "https://www.experlogix.com/privacy-policy/"
      },
      {
          "propertyName": "Categories",
          "propertyValue": "Communication;Productivity"
      }
  ],
  "host": "cpq.powerapps.experlogix.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/ConfigurationXml": {
      "get": {
        "summary": "Get Configuration Xml",
        "description": "Gets the configuration XML for the provided entity.",
        "operationId": "GetConfigurationXml",
        "parameters": [
          {
              "in": "query",
              "name": "type",
              "description": "The type of the entity.",
              "required": true,
              "type": "string",
              "x-ms-summary": "Type"
          },
          {
              "in": "query",
              "name": "id",
              "description": "The identifier of the entity.",
              "required": true,
              "type": "string",
              "x-ms-summary": "Id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetConfigurationXmlResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/CreateConfigurationFromCopy": {
      "post": {
        "consumes": [
            "application/json"
        ],
        "summary": "Create Configuration From Copy",
        "description": "Creates a new configuration from a copy of the provided configuration.",
        "operationId": "CreateConfigurationFromCopy",
        "parameters": [
          {
              "in": "body",
              "name": "req",
              "required": true,
              "schema": {
                  "$ref": "#/definitions/CreateConfigurationFromCopyRequest"
              }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetConfigurationXmlResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/UpdateConfiguration": {
      "post": {
        "consumes": [
            "application/json"
        ],
        "summary": "Updates the Configuration",
        "description": "Updates the configuration for the provided entity with the provided configuration XML.",
        "operationId": "UpdateConfiguration",
        "parameters": [
          {
              "in": "body",
              "name": "req",
              "required": true,
              "schema": {
                  "$ref": "#/definitions/UpdateConfigurationRequest"
              }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetConfigurationXmlResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/CreateConfiguration": {
      "post": {
        "consumes": [
            "application/json"
        ],
        "summary": "Creates the Configuration",
        "description": "Creates the configuration for the provided entity with the provided configuration XML.",
        "operationId": "CreateConfiguration",
        "parameters": [
          {
              "in": "body",
              "name": "req",
              "required": true,
              "schema": {
                  "$ref": "#/definitions/CreateConfigurationRequest"
              }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetConfigurationXmlResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    }
  },
  "definitions": {
    "GetConfigurationXmlResponse": {
      "type": "object",
      "properties": {
        "configurationXml": {
          "type": "string"
        },
        "configureUrl": {
          "type": "string"
        },
        "lineItemIds": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        },
        "success": {
          "type": "boolean"
        },
        "messages": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CreateConfigurationFromCopyRequest": {
      "type": "object",
      "properties": {
        "targetId": {
          "description": "The identifier of the entity to copy the configuration to.",
          "title": "Target Id",
          "type": "string"
        },
        "sourceId": {
          "description": "The identifier of the entity to copy the configuration from.",
          "title": "Source Id",
          "type": "string"
        },
        "type": {
          "description": "The type of the entity.",
          "title": "Type",
          "type": "string"
        },
        "lineItemIds": {
          "description": "The identifiers of the line items to copy.",
          "title": "Line Item Ids",
          "type": "array",
          "x-ms-visibility": "advanced",
          "items": {
            "type": "integer"
          }
        }
      },
      "required": [
          "targetId",
          "sourceId",
          "type"
      ]
    },
    "UpdateConfigurationRequest": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier of the entity to update the configuration.",
          "title": "Id",
          "type": "string"
        },
        "type": {
          "description": "The type of the entity.",
          "title": "Type",
          "type": "string"
        },
        "configurationXml": {
          "description": "The updated configuration XML.",
          "title": "Configuration XML",
          "type": "string"
        }
      },
      "required": [
          "id",
          "type",
          "configurationXml"
      ]
    },
    "CreateConfigurationRequest": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier of the entity to create the configuration.",
          "title": "Id",
          "type": "string"
        },
        "type": {
          "description": "The type of the entity.",
          "title": "Type",
          "type": "string"
        },
        "configurationXml": {
          "description": "The configuration XML.",
          "title": "Configuration XML",
          "type": "string"
        }
      },
      "required": [
          "id",
          "type",
          "configurationXml"
      ]
    }
  },
  "parameters": {},
  "responses": {},
  "tags": []
}