{
  "swagger": "2.0",
  "info": {
    "title": "Stability.ai",
    "description": "Stability.ai is the world\u2019s leading open source generative AI company. We strongly believe that our open source ethos provides the definitive path for the creation and access of cutting-edge research. Stability AI-backed research communities are currently developing breakthrough AI models applied to imaging, language, code, audio, video, 3D content, design, biotech and other scientific research.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.stability.ai",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/engines/list": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "The description.",
                    "title": "Description"
                  },
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type.",
                    "title": "Type"
                  }
                }
              }
            }
          }
        },
        "summary": "Get engines",
        "description": "Retrieve a list of engines available to your organization.",
        "operationId": "EnginesListGet",
        "parameters": [
          {
            "name": "Organization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Allows for requests to be scoped to an organization other than the user's default. If not provided, the user's default organization will be used.",
            "x-ms-summary": "Organization"
          }
        ],
        "x-ms-visibility": "advanced"
      }
    },
    "/v1/user/account": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "organizations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "role": {
                        "type": "string",
                        "description": "The role.",
                        "title": "Role"
                      },
                      "is_default": {
                        "type": "boolean",
                        "description": "Whether is default.",
                        "title": "Is Default"
                      }
                    }
                  },
                  "title": "Organizations"
                },
                "profile_picture": {
                  "type": "string",
                  "description": "The profile picture.",
                  "title": "Profile Picture"
                }
              }
            }
          }
        },
        "summary": "Get account",
        "description": "Retrieve your Stability.ai account, and view account/organization access.",
        "operationId": "UserAccountGet",
        "x-ms-visibility": "advanced",
        "parameters": []
      }
    },
    "/v1/user/balance": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "credits": {
                  "type": "number",
                  "format": "float",
                  "description": "The credits.",
                  "title": "Credits"
                }
              }
            }
          }
        },
        "summary": "Get balance",
        "description": "Retrieve the credit balance of your account/organization,",
        "operationId": "UserBalanceGet",
        "x-ms-visibility": "advanced",
        "parameters": []
      }
    },
    "/v1/generation/{engine_id}/text-to-image": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "artifacts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "base64": {
                        "type": "string",
                        "description": "The Base64 value.",
                        "title": "Base64"
                      },
                      "seed": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The seed.",
                        "title": "Seed"
                      },
                      "finishReason": {
                        "type": "string",
                        "description": "The finish reason.",
                        "title": "Finish Reason"
                      }
                    }
                  },
                  "title": "Artifacts"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "The content type.",
                "x-ms-summary": "Content Type",
                "type": "string"
              },
              "Finish-Reason": {
                "description": "The finish reason.",
                "x-ms-summary": "Finish Reason",
                "type": "string"
              },
              "Seed": {
                "description": "The seed.",
                "x-ms-summary": "Seed",
                "type": "integer"
              }
            }
          }
        },
        "summary": "Generate image from text",
        "description": "Generate images from text, existing images, or both.",
        "operationId": "GenerationTextImagePost",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "engine_id",
            "in": "path",
            "x-ms-summary": "Engine ID",
            "x-ms-url-encoding": "single",
            "description": "The engine identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "EnginesListGet",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "x-ms-summary": "Content Type",
            "description": "The content type.",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "x-ms-summary": "Accept",
            "description": "The accept type.",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Organization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Allows for requests to be scoped to an organization other than the user's default. If not provided, the user's default organization will be used.",
            "x-ms-summary": "Organization"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The height.",
                  "title": "Height"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The width.",
                  "title": "Width"
                },
                "text_prompts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string",
                        "description": "The text.",
                        "title": "Text"
                      },
                      "weight": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The weight.",
                        "title": "Weight"
                      }
                    },
                    "required": [
                      "text"
                    ]
                  },
                  "title": "Prompts"
                },
                "cfg_scale": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The CFG scale.",
                  "title": "CFG Scale"
                },
                "clip_guidance_preset": {
                  "type": "string",
                  "description": "The clip guidance preset.",
                  "title": "Clip Guidance Preset"
                },
                "sampler": {
                  "type": "string",
                  "description": "The sampler.",
                  "title": "Sampler"
                },
                "samples": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of samples.",
                  "title": "Samples"
                },
                "seed": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The seed.",
                  "title": "Seed"
                },
                "steps": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The steps.",
                  "title": "Steps"
                }
              }
            }
          }
        ]
      }
    },
    "/v1/generation/{engine_id}/image-to-image": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "artifacts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "base64": {
                        "type": "string",
                        "description": "The Base64 value.",
                        "title": "Base64"
                      },
                      "seed": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The seed.",
                        "title": "Seed"
                      },
                      "finishReason": {
                        "type": "string",
                        "description": "The finish reason.",
                        "title": "Finish Reason"
                      }
                    }
                  },
                  "title": "Artifacts"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "The content type.",
                "x-ms-summary": "Content Type",
                "type": "string"
              },
              "Finish-Reason": {
                "description": "The finish reason.",
                "x-ms-summary": "Finish Reason",
                "type": "string"
              },
              "Seed": {
                "description": "The seed.",
                "x-ms-summary": "Seed",
                "type": "integer"
              }
            }
          }
        },
        "summary": "Generate image from image",
        "description": "Modify an image based on a text prompt.",
        "operationId": "GenerationImageImagePost",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "engine_id",
            "in": "path",
            "x-ms-summary": "Engine ID",
            "x-ms-url-encoding": "single",
            "description": "The engine identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "EnginesListGet",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "x-ms-summary": "Content Type",
            "description": "The content type.",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "x-ms-summary": "Accept",
            "description": "The accept type.",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Organization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Allows for requests to be scoped to an organization other than the user's default. If not provided, the user's default organization will be used.",
            "x-ms-summary": "Organization"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "text_prompts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string",
                        "description": "The text.",
                        "title": "Text"
                      },
                      "weight": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The weight.",
                        "title": "Weight"
                      }
                    },
                    "required": [
                      "text"
                    ]
                  },
                  "title": "Prompts"
                },
                "init_image": {
                  "type": "string",
                  "description": "The initial image.",
                  "title": "Initial Image"
                },
                "init_image_mode": {
                  "type": "string",
                  "description": "The initial image mode.",
                  "title": "Initial Image Mode",
                  "enum": [
                    "image_strength",
                    "step_schedule"
                  ]
                },
                "image_strength": {
                  "type": "number",
                  "format": "float",
                  "description": "The image strength.",
                  "title": "Image Strength"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The height.",
                  "title": "Height"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The width.",
                  "title": "Width"
                },
                "cfg_scale": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The CFG scale.",
                  "title": "CFG Scale"
                },
                "clip_guidance_preset": {
                  "type": "string",
                  "description": "The clip guidance preset.",
                  "title": "Clip Guidance Preset"
                },
                "sampler": {
                  "type": "string",
                  "description": "The sampler.",
                  "title": "Sampler"
                },
                "samples": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of samples.",
                  "title": "Samples"
                },
                "seed": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The seed.",
                  "title": "Seed"
                },
                "steps": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The steps.",
                  "title": "Steps"
                }
              },
              "required": [
                "init_image"
              ]
            }
          }
        ]
      }
    },
    "/v1/generation/{engine_id}/image-to-image/upscale": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "artifacts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "base64": {
                        "type": "string",
                        "description": "The Base64 value.",
                        "title": "Base64"
                      },
                      "seed": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The seed.",
                        "title": "Seed"
                      },
                      "finishReason": {
                        "type": "string",
                        "description": "The finish reason.",
                        "title": "Finish Reason"
                      }
                    }
                  },
                  "title": "Artifacts"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "The content type.",
                "x-ms-summary": "Content Type",
                "type": "string"
              },
              "Finish-Reason": {
                "description": "The finish reason.",
                "x-ms-summary": "Finish Reason",
                "type": "string"
              },
              "Seed": {
                "description": "The seed.",
                "x-ms-summary": "Seed",
                "type": "integer"
              }
            }
          }
        },
        "summary": "Upscale image",
        "x-ms-visibility": "important",
        "description": "Create a higher resolution version of an input image. This operation outputs an image with a maximum pixel count of 4,194,304. This is equivalent to dimensions such as 2048x2048 and 4096x1024. By default, the input image will be upscaled by a factor of 2.",
        "operationId": "GenerationUpscalePost",
        "parameters": [
          {
            "name": "engine_id",
            "in": "path",
            "x-ms-summary": "Engine ID",
            "x-ms-url-encoding": "single",
            "description": "The engine identifier.",
            "required": true,
            "type": "string",
            "default": "esrgan-v1-x2plus"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "x-ms-summary": "Content Type",
            "description": "The content type.",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "x-ms-summary": "Accept",
            "description": "The accept type.",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Organization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Allows for requests to be scoped to an organization other than the user's default. If not provided, the user's default organization will be used.",
            "x-ms-summary": "Organization"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "image": {
                  "type": "string",
                  "description": "The image.",
                  "title": "Image"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The height.",
                  "title": "Height"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The width.",
                  "title": "Width"
                }
              },
              "required": [
                "image"
              ]
            }
          }
        ]
      }
    },
    "/v1/generation/{engine_id}/image-to-image/masking": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "artifacts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "base64": {
                        "type": "string",
                        "description": "The Base64 value.",
                        "title": "Base64"
                      },
                      "seed": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The seed.",
                        "title": "Seed"
                      },
                      "finishReason": {
                        "type": "string",
                        "description": "The finish reason.",
                        "title": "Finish Reason"
                      }
                    }
                  },
                  "title": "Artifacts"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "The content type.",
                "x-ms-summary": "Content Type",
                "type": "string"
              },
              "Finish-Reason": {
                "description": "The finish reason.",
                "x-ms-summary": "Finish Reason",
                "type": "string"
              },
              "Seed": {
                "description": "The seed.",
                "x-ms-summary": "Seed",
                "type": "integer"
              }
            }
          }
        },
        "summary": "Mask an image",
        "description": "Selectively modify portions of an image using a mask.",
        "operationId": "GenerationMaskPost",
        "parameters": [
          {
            "name": "engine_id",
            "in": "path",
            "x-ms-summary": "Engine ID",
            "x-ms-url-encoding": "single",
            "description": "The engine identifier.",
            "required": true,
            "type": "string",
            "default": "stable-inpainting-512-v2-0"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "x-ms-summary": "Content Type",
            "description": "The content type.",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "x-ms-summary": "Accept",
            "description": "The accept type.",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Organization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Allows for requests to be scoped to an organization other than the user's default. If not provided, the user's default organization will be used.",
            "x-ms-summary": "Organization"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "text_prompts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string",
                        "description": "The text.",
                        "title": "Text"
                      },
                      "weight": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The weight.",
                        "title": "Weight"
                      }
                    },
                    "required": [
                      "text"
                    ]
                  },
                  "title": "Prompts"
                },
                "init_image": {
                  "type": "string",
                  "description": "The initial image.",
                  "title": "Initial Image"
                },
                "mask_source": {
                  "type": "string",
                  "description": "The mask source.",
                  "title": "Mask Source",
                  "default": "MASK_IMAGE_WHITE",
                  "enum": [
                    "MASK_IMAGE_WHITE",
                    "MASK_IMAGE_BLACK",
                    "INIT_IMAGE_ALPHA"
                  ]
                },
                "mask_image": {
                  "type": "string",
                  "description": "The mask image.",
                  "title": "Mask Image"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The height.",
                  "title": "Height"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The width.",
                  "title": "Width"
                },
                "cfg_scale": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The CFG scale.",
                  "title": "CFG Scale"
                },
                "clip_guidance_preset": {
                  "type": "string",
                  "description": "The clip guidance preset.",
                  "title": "Clip Guidance Preset"
                },
                "sampler": {
                  "type": "string",
                  "description": "The sampler.",
                  "title": "Sampler"
                },
                "samples": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of samples.",
                  "title": "Samples"
                },
                "seed": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The seed.",
                  "title": "Seed"
                },
                "steps": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The steps.",
                  "title": "Steps"
                }
              },
              "required": [
                "init_image",
                "mask_image",
                "mask_source"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://stability.ai/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://stability.ai/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ]
}