{
  "swagger": "2.0",
  "info": {
    "title": "Stability.ai",
    "description": "Stability.ai is the world’s leading open source generative AI company. We strongly believe that our open source ethos provides the definitive path for the creation and access of cutting-edge research. Stability AI-backed research communities are currently developing breakthrough AI models applied to imaging, language, code, audio, video, 3D content, design, biotech and other scientific research.",
    "version": "1.1",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    },
    "x-ms-keywords": [
      "Stability",
      "AI",
      "image generation"
  },
  "host": "api.stability.ai",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/engines/list": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "The description.",
                    "title": "Description"
                  },
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type.",
                    "title": "Type"
                  }
                }
              }
            }
          }
        },
        "summary": "Get engines",
        "description": "Retrieve a list of engines available to your organization.",
        "operationId": "EnginesListGet",
        "parameters": [
          {
            "name": "Organization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Allows for requests to be scoped to an organization other than the user's default. If not provided, the user's default organization will be used.",
            "x-ms-summary": "Organization"
          }
        ],
        "x-ms-visibility": "advanced",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EnginesListGet",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/v1/user/account": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "organizations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "role": {
                        "type": "string",
                        "description": "The role.",
                        "title": "Role"
                      },
                      "is_default": {
                        "type": "boolean",
                        "description": "Whether is default.",
                        "title": "Is Default"
                      }
                    }
                  },
                  "title": "Organizations"
                },
                "profile_picture": {
                  "type": "string",
                  "description": "The profile picture.",
                  "title": "Profile Picture"
                }
              }
            }
          }
        },
        "summary": "Get account",
        "description": "Retrieve your Stability.ai account, and view account/organization access.",
        "operationId": "UserAccountGet",
        "x-ms-visibility": "advanced",
        "parameters": []
      }
    },
    "/v1/user/balance": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "credits": {
                  "type": "number",
                  "format": "float",
                  "description": "The credits.",
                  "title": "Credits"
                }
              }
            }
          }
        },
        "summary": "Get balance",
        "description": "Retrieve the credit balance of your account/organization,",
        "operationId": "UserBalanceGet",
        "x-ms-visibility": "advanced",
        "parameters": []
      }
    },
    "/v1/generation/{engine_id}/text-to-image": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "description": "The content type.",
                  "title": "Content Type"
                },
                "$content": {
                  "description": "The file content.",
                  "title": "File Content"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "The content type.",
                "x-ms-summary": "Content Type",
                "type": "string"
              },
              "Finish-Reason": {
                "description": "The finish reason.",
                "x-ms-summary": "Finish Reason",
                "type": "string"
              },
              "Seed": {
                "description": "The seed.",
                "x-ms-summary": "Seed",
                "type": "integer"
              }
            }
          }
        },
        "summary": "Generate image from text",
        "description": "Generate images from text, existing images, or both.",
        "operationId": "GenerationTextImagePost",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "engine_id",
            "in": "path",
            "x-ms-summary": "Engine ID",
            "x-ms-url-encoding": "single",
            "description": "The engine identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "EnginesListGet",
              "value-path": "id",
              "value-title": "name"
            },
            "default": "stable-diffusion-v1-6"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "x-ms-summary": "Content Type",
            "description": "The content type.",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "x-ms-summary": "Accept",
            "description": "The accept type.",
            "required": true,
            "type": "string",
            "default": "image/png",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Organization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Allows for requests to be scoped to an organization other than the user's default. If not provided, the user's default organization will be used.",
            "x-ms-summary": "Organization"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The height.",
                  "title": "Height"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The width.",
                  "title": "Width"
                },
                "text_prompts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string",
                        "description": "The text.",
                        "title": "Text"
                      },
                      "weight": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The weight.",
                        "title": "Weight"
                      }
                    },
                    "required": [
                      "text"
                    ]
                  },
                  "title": "Prompts"
                },
                "cfg_scale": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The CFG scale.",
                  "title": "CFG Scale"
                },
                "clip_guidance_preset": {
                  "type": "string",
                  "description": "The clip guidance preset.",
                  "title": "Clip Guidance Preset"
                },
                "sampler": {
                  "type": "string",
                  "description": "The sampler.",
                  "title": "Sampler"
                },
                "samples": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of samples.",
                  "title": "Samples"
                },
                "seed": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The seed.",
                  "title": "Seed"
                },
                "steps": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The steps.",
                  "title": "Steps"
                }
              }
            }
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "GenerationTextImagePost",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/v1/generation/{engine_id}/image-to-image": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "description": "The content type.",
                  "title": "Content Type"
                },
                "$content": {
                  "description": "The file content.",
                  "title": "File Content"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "The content type.",
                "x-ms-summary": "Content Type",
                "type": "string"
              },
              "Finish-Reason": {
                "description": "The finish reason.",
                "x-ms-summary": "Finish Reason",
                "type": "string"
              },
              "Seed": {
                "description": "The seed.",
                "x-ms-summary": "Seed",
                "type": "integer"
              }
            }
          }
        },
        "summary": "Generate image from image",
        "description": "Modify an image based on a text prompt.",
        "operationId": "GenerationImageImagePost",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "engine_id",
            "in": "path",
            "x-ms-summary": "Engine ID",
            "x-ms-url-encoding": "single",
            "description": "The engine identifier.",
            "required": true,
            "type": "string",
            "default": "stable-diffusion-v1-6",
            "x-ms-dynamic-values": {
              "operationId": "EnginesListGet",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "x-ms-summary": "Content Type",
            "description": "The content type.",
            "required": true,
            "type": "string",
            "default": "multipart/form-data",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "x-ms-summary": "Accept",
            "description": "The accept type.",
            "required": true,
            "type": "string",
            "default": "image/png",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Organization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Allows for requests to be scoped to an organization other than the user's default. If not provided, the user's default organization will be used.",
            "x-ms-summary": "Organization"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "text_prompts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string",
                        "description": "The text.",
                        "title": "Text"
                      },
                      "weight": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The weight.",
                        "title": "Weight"
                      }
                    },
                    "required": [
                      "text"
                    ]
                  },
                  "title": "Prompts"
                },
                "init_image": {
                  "type": "string",
                  "description": "The initial image.",
                  "title": "Initial Image"
                },
                "init_image_mode": {
                  "type": "string",
                  "description": "The initial image mode.",
                  "title": "Initial Image Mode",
                  "enum": [
                    "image_strength",
                    "step_schedule"
                  ]
                },
                "image_strength": {
                  "type": "number",
                  "format": "float",
                  "description": "The image strength.",
                  "title": "Image Strength"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The height.",
                  "title": "Height"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The width.",
                  "title": "Width"
                },
                "cfg_scale": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The CFG scale.",
                  "title": "CFG Scale"
                },
                "clip_guidance_preset": {
                  "type": "string",
                  "description": "The clip guidance preset.",
                  "title": "Clip Guidance Preset"
                },
                "sampler": {
                  "type": "string",
                  "description": "The sampler.",
                  "title": "Sampler"
                },
                "samples": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of samples.",
                  "title": "Samples"
                },
                "seed": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The seed.",
                  "title": "Seed"
                },
                "steps": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The steps.",
                  "title": "Steps"
                }
              },
              "required": [
                "init_image"
              ]
            }
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "GenerationImageImagePost",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/v1/generation/{engine_id}/image-to-image/upscale": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "description": "The content type.",
                  "title": "Content Type"
                },
                "$content": {
                  "description": "The file content.",
                  "title": "File Content"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "The content type.",
                "x-ms-summary": "Content Type",
                "type": "string"
              },
              "Finish-Reason": {
                "description": "The finish reason.",
                "x-ms-summary": "Finish Reason",
                "type": "string"
              },
              "Seed": {
                "description": "The seed.",
                "x-ms-summary": "Seed",
                "type": "integer"
              }
            }
          }
        },
        "summary": "Upscale image",
        "x-ms-visibility": "important",
        "description": "Create a higher resolution version of an input image. This operation outputs an image with a maximum pixel count of 4,194,304. This is equivalent to dimensions such as 2048x2048 and 4096x1024. By default, the input image will be upscaled by a factor of 2.",
        "operationId": "GenerationUpscalePost",
        "parameters": [
          {
            "name": "engine_id",
            "in": "path",
            "x-ms-summary": "Engine ID",
            "x-ms-url-encoding": "single",
            "description": "The engine identifier.",
            "required": true,
            "type": "string",
            "default": "esrgan-v1-x2plus"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "x-ms-summary": "Content Type",
            "description": "The content type.",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "x-ms-summary": "Accept",
            "description": "The accept type.",
            "required": true,
            "type": "string",
            "default": "image/png",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Organization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Allows for requests to be scoped to an organization other than the user's default. If not provided, the user's default organization will be used.",
            "x-ms-summary": "Organization"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "image": {
                  "type": "string",
                  "description": "The image.",
                  "title": "Image"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The height.",
                  "title": "Height"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The width.",
                  "title": "Width"
                }
              },
              "required": [
                "image"
              ]
            }
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "GenerationUpscalePost",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/v1/generation/{engine_id}/image-to-image/masking": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "description": "The content type.",
                  "title": "Content Type"
                },
                "$content": {
                  "description": "The file content.",
                  "title": "File Content"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "The content type.",
                "x-ms-summary": "Content Type",
                "type": "string"
              },
              "Finish-Reason": {
                "description": "The finish reason.",
                "x-ms-summary": "Finish Reason",
                "type": "string"
              },
              "Seed": {
                "description": "The seed.",
                "x-ms-summary": "Seed",
                "type": "integer"
              }
            }
          }
        },
        "summary": "Mask an image",
        "description": "Selectively modify portions of an image using a mask.",
        "operationId": "GenerationMaskPost",
        "parameters": [
          {
            "name": "engine_id",
            "in": "path",
            "x-ms-summary": "Engine ID",
            "x-ms-url-encoding": "single",
            "description": "The engine identifier.",
            "required": true,
            "type": "string",
            "default": "stable-inpainting-512-v2-0"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "x-ms-summary": "Content Type",
            "description": "The content type.",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "x-ms-summary": "Accept",
            "description": "The accept type.",
            "required": true,
            "type": "string",
            "default": "image/png",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Organization",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Allows for requests to be scoped to an organization other than the user's default. If not provided, the user's default organization will be used.",
            "x-ms-summary": "Organization"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "text_prompts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string",
                        "description": "The text.",
                        "title": "Text"
                      },
                      "weight": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The weight.",
                        "title": "Weight"
                      }
                    },
                    "required": [
                      "text"
                    ]
                  },
                  "title": "Prompts"
                },
                "init_image": {
                  "type": "string",
                  "description": "The initial image.",
                  "title": "Initial Image"
                },
                "mask_source": {
                  "type": "string",
                  "description": "The mask source.",
                  "title": "Mask Source",
                  "default": "MASK_IMAGE_WHITE",
                  "enum": [
                    "MASK_IMAGE_WHITE",
                    "MASK_IMAGE_BLACK",
                    "INIT_IMAGE_ALPHA"
                  ]
                },
                "mask_image": {
                  "type": "string",
                  "description": "The mask image.",
                  "title": "Mask Image"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The height.",
                  "title": "Height"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The width.",
                  "title": "Width"
                },
                "cfg_scale": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The CFG scale.",
                  "title": "CFG Scale"
                },
                "clip_guidance_preset": {
                  "type": "string",
                  "description": "The clip guidance preset.",
                  "title": "Clip Guidance Preset"
                },
                "sampler": {
                  "type": "string",
                  "description": "The sampler.",
                  "title": "Sampler"
                },
                "samples": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of samples.",
                  "title": "Samples"
                },
                "seed": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The seed.",
                  "title": "Seed"
                },
                "steps": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The steps.",
                  "title": "Steps"
                }
              },
              "required": [
                "init_image",
                "mask_image",
                "mask_source"
              ]
            }
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "GenerationMaskPost",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/v2beta/stable-image/generate/core": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "image": {
                  "type": "string",
                  "description": "The generated image, encoded to base64.",
                  "title": "Image"
                },
                "finish_reason": {
                  "type": "string",
                  "description": "The reason the generation finished.",
                  "title": "Finish Reason"
                },
                "seed": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The seed used as random noise for this generation.",
                  "title": "Seed"
                }
              }
            }
          }
        },
        "summary": "Get image with Stable Image Core",
        "description": "Retrieve an image using the Stable Image Core text-to-image generation.",
        "operationId": "StableImageCorePost",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "x-ms-summary": "Content Type",
            "description": "The content type.",
            "required": true,
            "type": "string",
            "default": "multipart/form-data",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "prompt": {
                  "type": "string",
                  "description": "What you wish to see in the output image. A strong, descriptive prompt that clearly defines elements, colors, and subjects will lead to better results.",
                  "title": "Prompt"
                },
                "aspect_ratio": {
                  "type": "string",
                  "description": "The aspect ratio of the generated image.",
                  "title": "Aspect Ratio",
                  "default": "1:1",
                  "enum": [
                    "1:1",
                    "16:9",
                    "21:9",
                    "2:3",
                    "3:2",
                    "4:5",
                    "5:4",
                    "9:16",
                    "9:21"
                  ]
                },
                "negative_prompt": {
                  "type": "string",
                  "description": "A blurb of text describing what you do not wish to see in the output image.",
                  "title": "Negative Prompt"
                },
                "seed": {
                  "type": "integer",
                  "format": "int32",
                  "description": "A specific value that is used to guide the 'randomness' of the generation.",
                  "title": "Seed"
                },
                "style_preset": {
                  "type": "string",
                  "description": "Guides the image model towards a particular style.",
                  "title": "Style Preset",
                  "enum": [
                    "3d-model",
                    "analog-film",
                    "anime",
                    "cinematic",
                    "comic-book",
                    "digital-art",
                    "enhance",
                    "fantasy-art",
                    "isometric",
                    "line-art",
                    "low-poly",
                    "modeling-compound",
                    "neon-punk",
                    "origami",
                    "photographic",
                    "pixel-art",
                    "tile-texture"
                  ]
                }
              },
              "required": [
                "prompt"
              ]
            }
          }
        ],
        "x-ms-visibility": "important",
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "StableImageCorePost",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/v2beta/stable-image/generate/sd3": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "image": {
                  "type": "string",
                  "description": "The generated image, encoded to base64.",
                  "title": "Image"
                },
                "finish_reason": {
                  "type": "string",
                  "description": "The reason the generation finished.",
                  "title": "Finish Reason"
                },
                "seed": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The seed used as random noise for this generation.",
                  "title": "Seed"
                }
              }
            }
          }
        },
        "summary": "Get image with Stable Diffusion 3.0",
        "x-ms-visibility": "important",
        "description": "Retrieve an image using the Stable Diffusion 3.0 text-to-image generation.",
        "operationId": "StableDiffusionPost",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "x-ms-summary": "Content Type",
            "description": "The content type.",
            "required": true,
            "type": "string",
            "default": "multipart/form-data",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "prompt": {
                  "type": "string",
                  "description": "What you wish to see in the output image. A strong, descriptive prompt that clearly defines elements, colors, and subjects will lead to better results.",
                  "title": "Prompt"
                },
                "aspect_ratio": {
                  "type": "string",
                  "description": "The aspect ratio of the generated image.",
                  "title": "Aspect Ratio",
                  "default": "1:1",
                  "enum": [
                    "1:1",
                    "16:9",
                    "21:9",
                    "2:3",
                    "3:2",
                    "4:5",
                    "5:4",
                    "9:16",
                    "9:21"
                  ]
                },
                "mode": {
                  "type": "string",
                  "description": "The text-to-image mode.",
                  "title": "Mode",
                  "default": "text-to-image",
                  "x-ms-visibility": "internal"
                },
                "negative_prompt": {
                  "type": "string",
                  "description": "A blurb of text describing what you do not wish to see in the output image.",
                  "title": "Negative Prompt"
                },
                "model": {
                  "type": "string",
                  "description": "The model to use for generation.",
                  "title": "Model",
                  "default": "sd3",
                  "enum": [
                    "sd3",
                    "sd3-turbo"
                  ]
                },
                "seed": {
                  "type": "integer",
                  "format": "int32",
                  "description": "A specific value that is used to guide the 'randomness' of the generation.",
                  "title": "Seed"
                },
                "style_preset": {
                  "type": "string",
                  "description": "Guides the image model towards a particular style.",
                  "title": "Style Preset",
                  "enum": [
                    "3d-model",
                    "analog-film",
                    "anime",
                    "cinematic",
                    "comic-book",
                    "digital-art",
                    "enhance",
                    "fantasy-art",
                    "isometric",
                    "line-art",
                    "low-poly",
                    "modeling-compound",
                    "neon-punk",
                    "origami",
                    "photographic",
                    "pixel-art",
                    "tile-texture"
                  ]
                }
              },
              "required": [
                "prompt",
                "mode"
              ]
            }
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "StableDiffusionPost",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://stability.ai/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://stability.ai/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ],
  "x-ms-openai-manifest": {
    "humanName": "Stability AI",
    "modelDescription": "This is a Copilot plugin for the Stability.ai image generating service.",
    "contactEmail": "ttaylor@hitachisolutions.com"
  }
}
