{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "INFORMA CALLS",
    "description": "Informa D&B is the CESCE subsidiary that leads in providing Commercial, Financial, Sectorial, and Marketing Information of companies and entrepreneurs to enhance knowledge about clients and suppliers and minimize commercial risk.",
    "termsOfService": "https://www.informa.es/",
    "contact": {
      "name": "Axazure",
      "url": "https://www.axazure.com",
      "email": "contact@axazure.com"
    }
  },
  "host": "services.informa.es",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/get-predictive-companies": {
      "get": {
        "summary": "Get Company Information",
        "description": "This service will enable the retrieval of a JSON document containing a list of companies, related according to the search criteria assigned.",
        "operationId": "InformaGet-predictive",
        "parameters": [
          {
            "name": "denominacion",
            "description":"Designation",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Designation"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "campoCodificadoRespuesta": {
                  "type": "object",
                  "properties": {
                    "valor": {
                      "type": "number",
                      "format": "float",
                      "description": "Value",
                      "title": "Value"
                    },
                    "tablaDecodificacion": {
                      "type": "string",
                      "description": "Decodification Table",
                      "title": "Decodification Table"
                    }
                  },
                  "description": "Response field codify"
                },
                "datosPeticion": {
                  "type": "object",
                  "properties": {
                    "productRequested": {
                      "type": "string",
                      "description": "Product Requested"
                    },
                    "numeroVersionTablasInformacionComercial": {
                      "type": "number",
                      "format": "float",
                      "description": "Version Number of Commercial Information Tables",
                      "title": "Version"
                    },
                    "parametrosCliente": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string",
                          "description": "Username",
                          "title": "User name"
                        },
                        "denominacion": {
                          "type": "string",
                          "description": "Designation",
                          "title": "Designation"
                        }
                      },
                      "description": "parametrosCliente"
                    }
                  },
                  "description": "datosPeticion"
                },
                "datosProducto": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "indice": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Index",
                        "title": "Index"
                      },
                      "cifCodificado": {
                        "type": "string",
                        "description": "Encoded CIF",
                        "title": "Encoded CIF"
                      },
                      "denominacion": {
                        "type": "string",
                        "description": "Designation",
                        "title": "Designation"
                      },
                      "campoCodificadoProvincia": {
                        "type": "object",
                        "properties": {
                          "valor": {
                            "type": "string",
                            "description": "Value",
                            "title": "Value"
                          },
                          "tablaDecodificacion": {
                            "type": "string",
                            "description": "Decoding Table",
                            "title": "Decoding Table"
                          }
                        },
                        "description": "campoCodificadoProvincia"
                      },
                      "municipio": {
                        "type": "string",
                        "description": "Municipality",
                        "title": "Municipality"
                      }
                    }
                  },
                  "description": "datosProducto"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/api/get-product": {
      "get": {
        "summary": "Get Product Information",
        "description": "This service displays a list of the different available products and the product code.",
        "operationId": "InformaGetProduct",
        "parameters": [
          {
            "name": "cif",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "CIF/NIF",
            "description": "Tax Identification Number (CIF) of the company or Tax Identification Number (NIF) of the self-employed individual from whom the information is requested.",
            "x-ms-visibility": "important"
          },
          {
            "name": "product",
            "default": "INFORME_CONECTOR",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "Product",
            "description": "Product ID",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "language",
            "default": "es",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Language",
            "description": "Language in which to receive the decoding of literals.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "campoCodificadoRespuesta": {
                  "type": "object",
                  "properties": {
                    "valor": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code value",
                      "title": "code value"
                    },
                    "tablaDecodificacion": {
                      "type": "string",
                      "description": "Decoding table",
                      "title": "Decoding table"
                    },
                    "literal": {
                      "type": "string",
                      "description": "literal"
                    }
                  },
                  "description": "campoCodificadoRespuesta"
                },
                "datosPeticion": {
                  "type": "object",
                  "properties": {
                    "productoSolicitado": {
                      "type": "string",
                      "description": "Requested product",
                      "title": "Requested product"
                    },
                    "numeroVersionTablasInformacionComercial": {
                      "type": "number",
                      "format": "float",
                      "description": "Commercial information table version number",
                      "title": "Commercial information table version number"
                    },
                    "parametrosCliente": {
                      "type": "object",
                      "properties": {
                        "idioma": {
                          "type": "string",
                          "description": "Language",
                          "title": "Language"
                        },
                        "username": {
                          "type": "string",
                          "description": "Username",
                          "title": "Username"
                        },
                        "formato": {
                          "type": "string",
                          "description": "format",
                          "title": "format"
                        },
                        "cif": {
                          "type": "string",
                          "description": "Client Identifier",
                          "title": "Client Identifier"
                        }
                      },
                      "description": "parametrosCliente"
                    }
                  },
                  "description": "datosPeticion"
                },
                "datosProducto": {
                  "type": "object",
                  "properties": {
                    "informacionComercial": {
                      "type": "object",
                      "properties": {
                        "identificacion": {
                          "type": "object",
                          "properties": {
                            "cif": {
                              "type": "string",
                              "description": "Client CIF",
                              "title": "Client CIF"
                            },
                            "denominacionActual": {
                              "type": "string",
                              "description": "Current Name",
                              "title": "Current Name"
                            },
                            "listaTelefonos": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "listaTelefonos"
                            },
                            "fax": {
                              "type": "string",
                              "description": "Fax Address",
                              "title": "Fax Address"
                            },
                            "email": {
                              "type": "string",
                              "description": "Email",
                              "title": "Email"
                            },
                            "listaUrls": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "listaUrls"
                            }
                          },
                          "description": "identificacion"
                        },
                        "datosGenerales": {
                          "type": "object",
                          "properties": {
                            "campoCodificadoVida": {
                              "type": "object",
                              "properties": {
                                "valor": {
                                  "type": "string",
                                  "description": "Value",
                                  "title": "Value"
                                },
                                "tablaDecodificacion": {
                                  "type": "string",
                                  "description": "Decoding Table",
                                  "title": "Decoding Table"
                                },
                                "literal": {
                                  "type": "string",
                                  "description": "literal"
                                }
                              },
                              "description": "campoCodificadoVida"
                            },
                            "campoCodificadoSubcodigoVida": {
                              "type": "object",
                              "properties": {
                                "valor": {
                                  "type": "string",
                                  "description": "Value",
                                  "title": "Value"
                                },
                                "tablaDecodificacion": {
                                  "type": "string",
                                  "description": "Decoding Table",
                                  "title": "Decoding Table"
                                },
                                "literal": {
                                  "type": "string",
                                  "description": "literal"
                                }
                              },
                              "description": "campoCodificadoSubcodigoVida"
                            },
                            "campoCodificadoVidaEmpresaCompleto": {
                              "type": "object",
                              "properties": {
                                "valor": {
                                  "type": "string",
                                  "description": "Value",
                                  "title": "Value"
                                },
                                "tablaDecodificacion": {
                                  "type": "string",
                                  "description": "Decoding Table",
                                  "title": "Decoding Table"
                                },
                                "literal": {
                                  "type": "string",
                                  "description": "literal"
                                }
                              },
                              "description": "campoCodificadoVidaEmpresaCompleto"
                            },
                            "numeroConsultasTotales": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Total Number of Queries",
                              "title": "Total Number of Queries"
                            },
                            "fechaUltimoDatoIncluidoInforme": {
                              "type": "string",
                              "description": "Last Data Included in Report Date",
                              "title": "Last Data Included in Report Date"
                            },
                            "formaJuridica": {
                              "type": "object",
                              "properties": {
                                "campoCodificadoFormaJuridica": {
                                  "type": "object",
                                  "properties": {
                                    "valor": {
                                      "type": "string",
                                      "description": "Value",
                                      "title": "Value"
                                    },
                                    "tablaDecodificacion": {
                                      "type": "string",
                                      "description": "Decoding Table",
                                      "title": "Decoding Table"
                                    },
                                    "literal": {
                                      "type": "string",
                                      "description": "literal"
                                    }
                                  },
                                  "description": "campoCodificadoFormaJuridica"
                                },
                                "campoCodificadoFormaJuridicaAmpliada": {
                                  "type": "object",
                                  "properties": {
                                    "valor": {
                                      "type": "string",
                                      "description": "Value",
                                      "title": "Value"
                                    },
                                    "tablaDecodificacion": {
                                      "type": "string",
                                      "description": "Decoding Table",
                                      "title": "Decoding Table"
                                    },
                                    "literal": {
                                      "type": "string",
                                      "description": "literal"
                                    }
                                  },
                                  "description": "campoCodificadoFormaJuridicaAmpliada"
                                },
                                "fechaFuente": {
                                  "type": "string",
                                  "description": "Source Date",
                                  "title": "Source Date"
                                }
                              },
                              "description": "formaJuridica"
                            },
                            "capitalSocial": {
                              "type": "object",
                              "properties": {
                                "importeCapitalSocial": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "Capital Stock Amount",
                                  "title": "Capital Stock Amount"
                                },
                                "campoCodificadoTipoCapitalSocial": {
                                  "type": "object",
                                  "properties": {
                                    "valor": {
                                      "type": "string",
                                      "description": "Value",
                                      "title": "Value"
                                    },
                                    "tablaDecodificacion": {
                                      "type": "string",
                                      "description": "Decoding Table",
                                      "title": "Decoding Table"
                                    },
                                    "literal": {
                                      "type": "string",
                                      "description": "literal"
                                    }
                                  },
                                  "description": "campoCodificadoTipoCapitalSocial"
                                },
                                "fechaCapitalSocial": {
                                  "type": "string",
                                  "description": "Capital Stock Date",
                                  "title": "Capital Stock Date"
                                }
                              },
                              "description": "capitalSocial"
                            }
                          },
                          "description": "datosGenerales"
                        },
                        "direcciones": {
                          "type": "object",
                          "properties": {
                            "direccionActual": {
                              "type": "object",
                              "properties": {
                                "campoCodificadoTipoVia": {
                                  "type": "object",
                                  "properties": {
                                    "valor": {
                                      "type": "string",
                                      "description": "Value",
                                      "title": "Value"
                                    },
                                    "tablaDecodificacion": {
                                      "type": "string",
                                      "description": "Decoding Table",
                                      "title": "Decoding Table"
                                    },
                                    "literal": {
                                      "type": "string",
                                      "description": "literal"
                                    }
                                  },
                                  "description": "campoCodificadoTipoVia"
                                },
                                "nombreVia": {
                                  "type": "string",
                                  "description": "Street Name",
                                  "title": "Street Name"
                                },
                                "restoNombreVia": {
                                  "type": "string",
                                  "description": "Remainder of Street Name",
                                  "title": "Remainder of Street Name"
                                },
                                "numeroVia": {
                                  "type": "string",
                                  "description": "Street Number",
                                  "title": "Street Number"
                                },
                                "restoNumeroVia": {
                                  "type": "string",
                                  "description": "Remainder of Street Number",
                                  "title": "Remainder of Street Number"
                                },
                                "codigoPostal": {
                                  "type": "string",
                                  "description": "Postal Code",
                                  "title": "Postal Code"
                                },
                                "municipio": {
                                  "type": "string",
                                  "description": "Munipality",
                                  "title": "Munipality"
                                },
                                "codigoMunicipio": {
                                  "type": "string",
                                  "description": "Munipality Code",
                                  "title": "Munipality Code"
                                },
                                "campoCodificadoProvincia": {
                                  "type": "object",
                                  "properties": {
                                    "valor": {
                                      "type": "string",
                                      "description": "valor"
                                    },
                                    "tablaDecodificacion": {
                                      "type": "string",
                                      "description": "Decoding Table",
                                      "title": "Decoding Table"
                                    },
                                    "literal": {
                                      "type": "string",
                                      "description": "literal"
                                    }
                                  },
                                  "description": "campoCodificadoProvincia"
                                },
                                "campoCodificadoComunidadAutonoma": {
                                  "type": "object",
                                  "properties": {
                                    "valor": {
                                      "type": "string",
                                      "description": "valor"
                                    },
                                    "tablaDecodificacion": {
                                      "type": "string",
                                      "description": "tablaDecodificacion"
                                    },
                                    "literal": {
                                      "type": "string",
                                      "description": "literal"
                                    }
                                  },
                                  "description": "campoCodificadoComunidadAutonoma"
                                },
                                "coordenadaX": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "X Coordinate",
                                  "title": "X Coordinate"
                                },
                                "coordenadaY": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "Y Coordinate",
                                  "title": "Y Coordinate"
                                },
                                "precisionCoordenadas": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Coordinate Accuracy",
                                  "title": "Coordinate Accuracy"
                                }
                              },
                              "description": "direccionActual"
                            }
                          },
                          "description": "direcciones"
                        },
                        "actividad": {
                          "type": "object",
                          "properties": {
                            "campoCodificadoCnae2009": {
                              "type": "object",
                              "properties": {
                                "valor": {
                                  "type": "string",
                                  "description": "Value",
                                  "title": "Value"
                                },
                                "tablaDecodificacion": {
                                  "type": "string",
                                  "description": "Decoding Table",
                                  "title": "Decoding Table"
                                },
                                "literal": {
                                  "type": "string",
                                  "description": "literal"
                                }
                              },
                              "description": "campoCodificadoCnae2009"
                            },
                            "objetoSocial": {
                              "type": "string",
                              "description": "Bussines Purpose",
                              "title": "Bussines Purpose"
                            }
                          },
                          "description": "actividad"
                        },
                        "empleados": {
                          "type": "object",
                          "properties": {
                            "numeroTotalEmpleados": {
                              "type": "number",
                              "format": "float",
                              "description": "Total Number of Employees",
                              "title": "Total Number of Employees"
                            }
                          },
                          "description": "empleados"
                        },
                        "operacionesComerciales": {
                          "type": "object",
                          "properties": {
                            "campoCodificadoOperacionesInternacionales": {
                              "type": "object",
                              "properties": {
                                "valor": {
                                  "type": "string",
                                  "description": "Value",
                                  "title": "Value"
                                },
                                "tablaDecodificacion": {
                                  "type": "string",
                                  "description": "Decoding Table",
                                  "title": "Decoding Table"
                                },
                                "literal": {
                                  "type": "string",
                                  "description": "literal"
                                }
                              },
                              "description": "campoCodificadoOperacionesInternacionales"
                            }
                          },
                          "description": "operacionesComerciales"
                        },
                        "subvenciones": {
                          "type": "object",
                          "properties": {
                            "listaSubvenciones": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "campoCodificadoFuente": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "Value",
                                        "title": "Value"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "Decoding Table",
                                        "title": "Decoding Table"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoFuente"
                                  },
                                  "fechaFuente": {
                                    "type": "string",
                                    "description": "Source Date",
                                    "title": "Source Date"
                                  },
                                  "organismo": {
                                    "type": "string",
                                    "description": "Organization",
                                    "title": "Organization"
                                  },
                                  "campoCodificadoTipoSubvencion": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "Value",
                                        "title": "Value"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "Decoding Table",
                                        "title": "Decoding Table"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoTipoSubvencion"
                                  },
                                  "annoConcesion": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Year of Approval",
                                    "title": "Year of Approval"
                                  },
                                  "importeNominal": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "Nominal Amount",
                                    "title": "Nominal Amount"
                                  }
                                }
                              },
                              "description": "listaSubvenciones"
                            }
                          },
                          "description": "subvenciones"
                        },
                        "datosValorAnnadido": {
                          "type": "object",
                          "properties": {
                            "listaDatosValorAnnadido": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "campoCodificadoDva": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "Value",
                                        "title": "Value"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "Decoding Table",
                                        "title": "Decoding Table"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoDva"
                                  },
                                  "fechaAlta": {
                                    "type": "string",
                                    "description": "Registration Date",
                                    "title": "Registration Date"
                                  },
                                  "fechaFuente": {
                                    "type": "string",
                                    "description": "fechaFuente"
                                  },
                                  "datosDvaTamannoEmpresa": {
                                    "type": "object",
                                    "properties": {
                                      "campoCodificadoTamanno": {
                                        "type": "object",
                                        "properties": {
                                          "valor": {
                                            "type": "string",
                                            "description": "Value",
                                            "title": "Value"
                                          },
                                          "tablaDecodificacion": {
                                            "type": "string",
                                            "description": "Decoding Table",
                                            "title": "Decoding Table"
                                          },
                                          "literal": {
                                            "type": "string",
                                            "description": "literal"
                                          }
                                        },
                                        "description": "campoCodificadoTamanno"
                                      },
                                      "campoCodificadoDatoActivacion": {
                                        "type": "object",
                                        "properties": {
                                          "valor": {
                                            "type": "string",
                                            "description": "Value",
                                            "title": "Value"
                                          },
                                          "tablaDecodificacion": {
                                            "type": "string",
                                            "description": "Decoding Table",
                                            "title": "Decoding Table"
                                          },
                                          "literal": {
                                            "type": "string",
                                            "description": "literal"
                                          }
                                        },
                                        "description": "campoCodificadoDatoActivacion"
                                      }
                                    },
                                    "description": "datosDvaTamannoEmpresa"
                                  }
                                }
                              },
                              "description": "listaDatosValorAnnadido"
                            }
                          },
                          "description": "datosValorAnnadido"
                        }
                      },
                      "description": "informacionComercial"
                    },
                    "riesgoComercial": {
                      "type": "object",
                      "properties": {
                        "rating": {
                          "type": "object",
                          "properties": {
                            "fechaCalculoRating": {
                              "type": "string",
                              "description": "Rating Calculation Date",
                              "title": "Rating Calculation Date"
                            },
                            "ratingInforma": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Informa Rating",
                              "title": "Informa Rating"
                            },
                            "opinionCredito": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Credit Assessment",
                              "title": "Credit Assessment"
                            }
                          },
                          "description": "rating"
                        },
                        "ratingLiquidez": {
                          "type": "object",
                          "properties": {
                            "fechaCalculoRating": {
                              "type": "string",
                              "description": "Rating Calculation Date",
                              "title": "Rating Calculation Date"
                            },
                            "scoreLiquidez": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Liquidity Score",
                              "title": "Liquidity Score"
                            },
                            "probabilidadRetrasoPagos": {
                              "type": "number",
                              "format": "float",
                              "description": "Probability of Payment Delays",
                              "title": "Probability of Payment Delays"
                            }
                          },
                          "description": "ratingLiquidez"
                        },
                        "incidencias": {
                          "type": "object",
                          "properties": {
                            "resumenIncidencias": {
                              "type": "object",
                              "properties": {
                                "resumenIncidenciasJudiciales": {
                                  "type": "object",
                                  "properties": {
                                    "numeroTotalIncidenciasJudiciales": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Total Count of Legal Cases",
                                      "title": "Total Count of Legal Cases"
                                    },
                                    "numeroTotalIncidenciasProcedimientoPreconcursal": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Total Number of Pre-bankruptcy Proceedings Incidents",
                                      "title": "Total Number of Pre-bankruptcy Proceedings Incidents"
                                    },
                                    "numeroTotalIncidenciasProcedimientoConcursal": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Total Number of Cases in Bankruptcy Proceedings",
                                      "title": "Total Number of Cases in Bankruptcy Proceedings"
                                    },
                                    "numeroTotalIncidenciasJuzgadoCivil": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Total Number of Civil Court Cases",
                                      "title": "Total Number of Civil Court Cases"
                                    },
                                    "numeroTotalIncidenciasJuzgadoSocial": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Total Number of Social Court Cases",
                                      "title": "Total Number of Social Court Cases"
                                    }
                                  },
                                  "description": "resumenIncidenciasJudiciales"
                                },
                                "resumenReclamacionesAdministrativas": {
                                  "type": "object",
                                  "properties": {
                                    "numeroTotalReclamacionesAdministrativas": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Total Number of Administrative Claims",
                                      "title": "Total Number of Administrative Claims"
                                    },
                                    "numeroTotalCreditosIncobrables": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Total Number of Uncollectible Credits",
                                      "title": "Total Number of Uncollectible Credits"
                                    },
                                    "numeroTotalReclamacionesConSeguridadSocial": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Total Number of Claims with Social Security",
                                      "title": "Total Number of Claims with Social Security"
                                    },
                                    "numeroTotalReclamacionesConHacienda": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Total Number of Claims with the Tax Office in English",
                                      "title": "Total Number of Claims with the Tax Office in English"
                                    },
                                    "numeroTotalReclamacionesConOtrosOrganismos": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Total Number of Complaints with Other Organizations",
                                      "title": "Total Number of Complaints with Other Organizations"
                                    }
                                  },
                                  "description": "resumenReclamacionesAdministrativas"
                                },
                                "afectadaPorEmpresasEnProcedimientoConcursal": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Affected by companies in bankruptcy proceedings",
                                  "title": "Affected by companies in bankruptcy proceedings"
                                }
                              },
                              "description": "resumenIncidencias"
                            }
                          },
                          "description": "incidencias"
                        }
                      },
                      "description": "riesgoComercial"
                    },
                    "estructuraCorporativa": {
                      "type": "object",
                      "properties": {
                        "accionistas": {
                          "type": "object",
                          "properties": {
                            "totalAccionistasActuales": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Current Total Amount of Shareholders",
                              "title": "Current Total Amount of Shareholders"
                            },
                            "listaAccionistas": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "razonSocial": {
                                    "type": "string",
                                    "description": "Business Name",
                                    "title": "Business Name"
                                  },
                                  "cif": {
                                    "type": "string",
                                    "description": "Client CIF",
                                    "title": "Client CIF"
                                  },
                                  "campoCodificadoPais": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "Value",
                                        "title": "Value"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "Decoding table",
                                        "title": "Decoding table"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoPais"
                                  },
                                  "indicadorRatingMenor7": {
                                    "type": "boolean",
                                    "description": "Minor Indicator Rating",
                                    "title": "Minor Indicator Rating"
                                  },
                                  "campoCodificadoTipoPorcentaje": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "Value",
                                        "title": "Value"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "Decoding Table",
                                        "title": "Decoding Table"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoTipoPorcentaje"
                                  },
                                  "porcentajeParticipacion": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "Participation Percentage",
                                    "title": "Participation Percentage"
                                  },
                                  "fechaFuente": {
                                    "type": "string",
                                    "description": "Source Date",
                                    "title": "Source Date"
                                  },
                                  "campoCodificadoFuente": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "Value",
                                        "title": "Value"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "Decoding table",
                                        "title": "Value"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoFuente"
                                  }
                                }
                              },
                              "description": "listaAccionistas"
                            }
                          },
                          "description": "accionistas"
                        },
                        "administradores": {
                          "type": "object",
                          "properties": {
                            "resumenAdministradores": {
                              "type": "object",
                              "properties": {
                                "totalAdministradoresActuales": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Total Current Amount of Administrators",
                                  "title": "Total Current Amount of Administrators"
                                }
                              },
                              "description": "resumenAdministradores"
                            },
                            "listaAdministradores": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "denominacion": {
                                    "type": "object",
                                    "properties": {
                                      "nombre": {
                                        "type": "string",
                                        "description": "Name",
                                        "title": "Name"
                                      },
                                      "apellido1": {
                                        "type": "string",
                                        "description": "Last Name",
                                        "title": "Last Name"
                                      },
                                      "denominacionCompleta": {
                                        "type": "string",
                                        "description": "Full Name",
                                        "title": "Full Name"
                                      }
                                    },
                                    "description": "denominacion"
                                  },
                                  "campoCodificadoCargo": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "Value",
                                        "title": "Value"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "Decoding table",
                                        "title": "Decoding table"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoCargo"
                                  },
                                  "campoCodificadoTipoCargo": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "Value",
                                        "title": "Value"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "Decoding Table",
                                        "title": "Decoding Table"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoTipoCargo"
                                  },
                                  "fechaNombramiento": {
                                    "type": "string",
                                    "description": "Appointment Date",
                                    "title": "Appointment Date"
                                  }
                                }
                              },
                              "description": "listaAdministradores"
                            },
                            "listaDirectivosFuncionales": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "denominacion": {
                                    "type": "object",
                                    "properties": {
                                      "nombre": {
                                        "type": "string",
                                        "description": "Name",
                                        "title": "Name"
                                      },
                                      "apellido1": {
                                        "type": "string",
                                        "description": "Last Name",
                                        "title": "Last Name"
                                      },
                                      "denominacionCompleta": {
                                        "type": "string",
                                        "description": "Full Name",
                                        "title": "Full Name"
                                      }
                                    },
                                    "description": "denominacion"
                                  },
                                  "campoCodificadoCargo": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "Value",
                                        "title": "Value"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "Decoding Table",
                                        "title": "Decoding Table"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoCargo"
                                  },
                                  "fechaNombramiento": {
                                    "type": "string",
                                    "description": "Appointment Date",
                                    "title": "Appointment Date"
                                  }
                                }
                              },
                              "description": "listaDirectivosFuncionales"
                            }
                          },
                          "description": "administradores"
                        }
                      },
                      "description": "estructuraCorporativa"
                    },
                    "estructuraLegal": {
                      "type": "object",
                      "properties": {
                        "datosConstitucion": {
                          "type": "object",
                          "properties": {
                            "fechaConstitucion": {
                              "type": "string",
                              "description": "Incorporation Date",
                              "title": "Incorporation Date"
                            },
                            "fechaInicioActividad": {
                              "type": "string",
                              "description": "Activity Start Date",
                              "title": "Activity Start Date"
                            }
                          },
                          "description": "datosConstitucion"
                        },
                        "articulosPrensa": {
                          "type": "object",
                          "properties": {
                            "listaArticulosPrensa": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "fechaPublicacion": {
                                    "type": "string",
                                    "description": "Publish Date",
                                    "title": "Publish Date"
                                  },
                                  "campoCodificadoPublicacion": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "valor"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "Decoding Table",
                                        "title": "Decoding Table"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoPublicacion"
                                  },
                                  "campoCodificadoTipoEdicion": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "Value",
                                        "title": "Value"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "Decoding Table",
                                        "title": "Decoding Table"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoTipoEdicion"
                                  },
                                  "campoCodificadoTipoInformacion": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "Value",
                                        "title": "Value"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "Decoding Table",
                                        "title": "Decoding Table"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoTipoInformacion"
                                  },
                                  "campoCodificadoTipoPublicacion": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "Value",
                                        "title": "Value"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "Decoding Table",
                                        "title": "Decoding Table"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoTipoPublicacion"
                                  },
                                  "urlArticulo": {
                                    "type": "string",
                                    "description": "Article URL",
                                    "title": "Article URL"
                                  },
                                  "texto": {
                                    "type": "string",
                                    "description": "Article Summary",
                                    "title": "Article Summary"
                                  }
                                }
                              },
                              "description": "listaArticulosPrensa"
                            }
                          },
                          "description": "articulosPrensa"
                        }
                      },
                      "description": "estructuraLegal"
                    },
                    "informacionFinanciera": {
                      "type": "object",
                      "properties": {
                        "datosGeneralesInformacionFinanciera": {
                          "type": "object",
                          "properties": {
                            "totalBalancesIndividuales": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Total Individual Balances",
                              "title": "Total Individual Balances"
                            },
                            "totalBalancesConsolidados": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Total Consolidated Balances",
                              "title": "Total Consolidated Balances"
                            },
                            "fechaBalanceMasRecienteDisponibleEnInforma": {
                              "type": "string",
                              "description": "Most Recent Balance Available Date in Informa",
                              "title": "Most Recent Balance Available Date in Informa"
                            },
                            "annoUltimoDepositoIndividualDisponibleRegistroMercantil": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Year of the Last Individual Deposit Available in the Commercial Registry",
                              "title": "Year of the Last Individual Deposit Available in the Commercial Registry"
                            },
                            "fechaFuenteUltimoDepositoConsolidadoDisponibleRegistroMercantil": {
                              "type": "string",
                              "description": "Source Date of the Last Consolidated Deposit Available in the Commercial Registry",
                              "title": "Source Date of the Last Consolidated Deposit Available in the Commercial Registry"
                            }
                          },
                          "description": "datosGeneralesInformacionFinanciera"
                        },
                        "listaBalances": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "cabeceraBalance": {
                                "type": "object",
                                "properties": {
                                  "indicadorBalanceIndividual": {
                                    "type": "boolean",
                                    "description": "Individual Balance Indicator",
                                    "title": "Individual Balance Indicator"
                                  },
                                  "campoCodificadoTipoPlantilla": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "valor"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "tablaDecodificacion"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoTipoPlantilla"
                                  },
                                  "fechaCierre": {
                                    "type": "string",
                                    "description": "Closure Date",
                                    "title": "Closure Date"
                                  },
                                  "annoBalance": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Year end Balance",
                                    "title": "Year end Balance"
                                  },
                                  "annoDeposito": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Deposit Year",
                                    "title": "Deposit Year"
                                  },
                                  "campoCodificadoUnidadDivisa": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "valor"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "tablaDecodificacion"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoUnidadDivisa"
                                  },
                                  "duracionMeses": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Monthly Duration",
                                    "title": "Monthly Duration"
                                  },
                                  "campoCodificadoOrigen": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "valor"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "tablaDecodificacion"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoOrigen"
                                  },
                                  "campoCodificadoFuente": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "valor"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "tablaDecodificacion"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoFuente"
                                  },
                                  "numeroTotalEmpleados": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "Total Number of Employees",
                                    "title": "Total Number of Employees"
                                  },
                                  "campoCodificadoCnae2009": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "Value",
                                        "title": "Value"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "Decoding Table",
                                        "title": "Decoding Table"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoCnae2009"
                                  },
                                  "campoCodificadoOpinionAuditoria": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "valor"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "tablaDecodificacion"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoOpinionAuditoria"
                                  },
                                  "denominacionAuditor": {
                                    "type": "string",
                                    "description": "Auditor's Name",
                                    "title": "Auditor's Name"
                                  }
                                },
                                "description": "cabeceraBalance"
                              },
                              "listaPartidasBalanceActivo": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "codigoPartida": {
                                      "type": "string",
                                      "description": "codigoPartida"
                                    },
                                    "campoCodificadoPartidaConPlantilla": {
                                      "type": "object",
                                      "properties": {
                                        "valor": {
                                          "type": "string",
                                          "description": "valor"
                                        },
                                        "tablaDecodificacion": {
                                          "type": "string",
                                          "description": "tablaDecodificacion"
                                        },
                                        "literal": {
                                          "type": "string",
                                          "description": "literal"
                                        }
                                      },
                                      "description": "campoCodificadoPartidaConPlantilla"
                                    },
                                    "valor": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "valor"
                                    }
                                  }
                                },
                                "description": "listaPartidasBalanceActivo"
                              },
                              "listaPartidasBalancePasivo": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "codigoPartida": {
                                      "type": "string",
                                      "description": "codigoPartida"
                                    },
                                    "campoCodificadoPartidaConPlantilla": {
                                      "type": "object",
                                      "properties": {
                                        "valor": {
                                          "type": "string",
                                          "description": "valor"
                                        },
                                        "tablaDecodificacion": {
                                          "type": "string",
                                          "description": "tablaDecodificacion"
                                        },
                                        "literal": {
                                          "type": "string",
                                          "description": "literal"
                                        }
                                      },
                                      "description": "campoCodificadoPartidaConPlantilla"
                                    },
                                    "valor": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "valor"
                                    }
                                  }
                                },
                                "description": "listaPartidasBalancePasivo"
                              },
                              "listaPartidasCuentaPerdidasGanancias": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "codigoPartida": {
                                      "type": "string",
                                      "description": "codigoPartida"
                                    },
                                    "campoCodificadoPartidaConPlantilla": {
                                      "type": "object",
                                      "properties": {
                                        "valor": {
                                          "type": "string",
                                          "description": "valor"
                                        },
                                        "tablaDecodificacion": {
                                          "type": "string",
                                          "description": "tablaDecodificacion"
                                        },
                                        "literal": {
                                          "type": "string",
                                          "description": "literal"
                                        }
                                      },
                                      "description": "campoCodificadoPartidaConPlantilla"
                                    },
                                    "valor": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "valor"
                                    }
                                  }
                                },
                                "description": "listaPartidasCuentaPerdidasGanancias"
                              },
                              "listaRatios": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "campoCodificadoRatio": {
                                      "type": "object",
                                      "properties": {
                                        "valor": {
                                          "type": "string",
                                          "description": "valor"
                                        },
                                        "tablaDecodificacion": {
                                          "type": "string",
                                          "description": "tablaDecodificacion"
                                        },
                                        "literal": {
                                          "type": "string",
                                          "description": "literal"
                                        }
                                      },
                                      "description": "campoCodificadoRatio"
                                    },
                                    "valor": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "valor"
                                    }
                                  }
                                },
                                "description": "listaRatios"
                              }
                            }
                          },
                          "description": "listaBalances"
                        },
                        "listaBalancesConsolidados": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "fechaCierre": {
                                "type": "string",
                                "description": "Closure Date",
                                "title": "Closure Date"
                              },
                              "campoCodificadoFuente": {
                                "type": "object",
                                "properties": {
                                  "valor": {
                                    "type": "string",
                                    "description": "Value",
                                    "title": "Value"
                                  },
                                  "tablaDecodificacion": {
                                    "type": "string",
                                    "description": "Decoding Table",
                                    "title": "Decoding Table"
                                  },
                                  "literal": {
                                    "type": "string",
                                    "description": "literal"
                                  }
                                },
                                "description": "campoCodificadoFuente"
                              },
                              "campoCodificadoUnidadDivisa": {
                                "type": "object",
                                "properties": {
                                  "valor": {
                                    "type": "string",
                                    "description": "Value",
                                    "title": "Value"
                                  },
                                  "tablaDecodificacion": {
                                    "type": "string",
                                    "description": "Decoding Table",
                                    "title": "Decoding Table"
                                  },
                                  "literal": {
                                    "type": "string",
                                    "description": "literal"
                                  }
                                },
                                "description": "campoCodificadoUnidadDivisa"
                              },
                              "importeVentas": {
                                "type": "number",
                                "format": "float",
                                "description": "Sales Amount",
                                "title": "Sales Amount"
                              },
                              "importeResultado": {
                                "type": "number",
                                "format": "float",
                                "description": "Net Income",
                                "title": "Net Income"
                              },
                              "importeTotalActivo": {
                                "type": "number",
                                "format": "float",
                                "description": "Total Asset Value",
                                "title": "Total Asset Value"
                              }
                            }
                          },
                          "description": "listaBalancesConsolidados"
                        },
                        "listaElementosFinancieros": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "cabeceraElementosFinancieros": {
                                "type": "object",
                                "properties": {
                                  "annoDatos": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Data Year",
                                    "title": "Data Year"
                                  },
                                  "fechaCierre": {
                                    "type": "string",
                                    "description": "Closure Date",
                                    "title": "Closure Date"
                                  },
                                  "duracionMeses": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Monthly Duration",
                                    "title": "Monthly Duration"
                                  },
                                  "campoCodificadoUnidadDivisa": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "Value",
                                        "title": "Value"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "Decoding Table",
                                        "title": "Decoding Table"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoUnidadDivisa"
                                  },
                                  "campoCodificadoOrigen": {
                                    "type": "object",
                                    "properties": {
                                      "valor": {
                                        "type": "string",
                                        "description": "Value",
                                        "title": "Value"
                                      },
                                      "tablaDecodificacion": {
                                        "type": "string",
                                        "description": "Decoding Table",
                                        "title": "Decoding Table"
                                      },
                                      "literal": {
                                        "type": "string",
                                        "description": "literal"
                                      }
                                    },
                                    "description": "campoCodificadoOrigen"
                                  }
                                },
                                "description": "cabeceraElementosFinancieros"
                              },
                              "listaPartidasElementosFinancieros": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "campoCodificadoPartidaElementoFinanciero": {
                                      "type": "object",
                                      "properties": {
                                        "valor": {
                                          "type": "string",
                                          "description": "valor"
                                        },
                                        "tablaDecodificacion": {
                                          "type": "string",
                                          "description": "tablaDecodificacion"
                                        },
                                        "literal": {
                                          "type": "string",
                                          "description": "literal"
                                        }
                                      },
                                      "description": "campoCodificadoPartidaElementoFinanciero"
                                    },
                                    "valor": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "valor"
                                    }
                                  }
                                },
                                "description": "listaPartidasElementosFinancieros"
                              }
                            }
                          },
                          "description": "listaElementosFinancieros"
                        },
                        "informacionSectorial": {
                          "type": "object",
                          "properties": {
                            "cabeceraInformacionSectorial": {
                              "type": "object",
                              "properties": {
                                "campoCodificadoCnae2009": {
                                  "type": "object",
                                  "properties": {
                                    "valor": {
                                      "type": "string",
                                      "description": "Value",
                                      "title": "Value"
                                    },
                                    "tablaDecodificacion": {
                                      "type": "string",
                                      "description": "Decoding Table",
                                      "title": "Decoding Table"
                                    },
                                    "literal": {
                                      "type": "string",
                                      "description": "literal"
                                    }
                                  },
                                  "description": "campoCodificadoCnae2009"
                                },
                                "numeroEmpresas": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Number of Companies",
                                  "title": "Number of Companies"
                                },
                                "campoCodificadoTamanno": {
                                  "type": "object",
                                  "properties": {
                                    "valor": {
                                      "type": "string",
                                      "description": "Value",
                                      "title": "Value"
                                    },
                                    "tablaDecodificacion": {
                                      "type": "string",
                                      "description": "Decoding Table",
                                      "title": "Decoding Table"
                                    },
                                    "literal": {
                                      "type": "string",
                                      "description": "literal"
                                    }
                                  },
                                  "description": "campoCodificadoTamanno"
                                }
                              },
                              "description": "cabeceraInformacionSectorial"
                            }
                          },
                          "description": "informacionSectorial"
                        }
                      },
                      "description": "informacionFinanciera"
                    }
                  },
                  "description": "datosProducto"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.informa.es/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.informa.es/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Sales and CRM"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic-auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic-auth": []
    }
  ],
  "tags": []
}