{
  "swagger": "2.0",
  "info": {
    "title": "PagePixels Screenshots",
    "description": "Capture website screenshots with PagePixels. Simulate user actions like clicking links, logging in, or filling out forms before capturing the page. You can also render custom HTML, perfect for screenshotting emails or dynamic reports powered by API data. For localization testing or SERP validation, you can take screenshots from real geographic locations using our global residential IP proxy network.",
    "version": "1.0",
    "contact": {
      "name": "PagePixels",
      "url": "https://www.pagepixels.com",
      "email": "support@pagepixels.com"
    }
  },
  "host": "api.pagepixels.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/snap": {
      "get": {
        "responses": {
          "200": {
            "description": "Screenshot created",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique ID for the screenshot",
                  "x-ms-summary": "Screenshot ID"
                },
                "embed_url": {
                  "type": "string",
                  "description": "Embeddable URL for viewing the screenshot",
                  "x-ms-summary": "Embed URL"
                },
                "is_browser_extension_screenshot": {
                  "type": "boolean",
                  "description": "True if captured via the browser extension",
                  "x-ms-summary": "Browser extension capture"
                },
                "screenshot_configuration_id": {
                  "type": "string",
                  "description": "ID of the configuration used for this screenshot",
                  "x-ms-summary": "Configuration ID"
                },
                "direct_link": {
                  "type": "string",
                  "description": "Direct URL to the screenshot image",
                  "x-ms-summary": "Direct link"
                },
                "direct_thumbnail_link": {
                  "type": "string",
                  "description": "Direct URL to the thumbnail image",
                  "x-ms-summary": "Thumbnail link"
                },
                "taken_at_timestamp": {
                  "type": "string",
                  "description": "Unix timestamp when the screenshot was taken",
                  "x-ms-summary": "Taken at (timestamp)"
                },
                "taken_at": {
                  "type": "string",
                  "description": "ISO8601 time when the screenshot was taken",
                  "x-ms-summary": "Taken at"
                },
                "ai": {
                  "type": "object",
                  "description": "AI analysis metadata (if available)",
                  "x-ms-summary": "AI analysis",
                  "properties": {
                    "ai_analyzed": {
                      "type": "boolean",
                      "description": "Whether the image was analyzed with AI",
                      "x-ms-summary": "AI analyzed"
                    },
                    "ai_prompt": {
                      "type": "string",
                      "description": "Prompt used for AI analysis",
                      "x-ms-summary": "AI prompt"
                    },
                    "ai_response": {
                      "type": "string",
                      "description": "Response returned by the AI analysis",
                      "x-ms-summary": "AI response"
                    }
                  }
                },
                "job_id": {
                  "type": "string",
                  "description": "job_id",
                  "x-ms-summary": "Job ID"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "operationId": "QuickSnap",
        "summary": "Take a Screenshot of a web page",
        "description": "Creates an instant screenshot of a web page from a URL.",
        "parameters": [
          {
            "name": "microsoft",
            "in": "query",
            "type": "boolean",
            "required": true,
            "default": true,
            "x-ms-visibility": "internal",
            "x-ms-summary": "Internal flag"
          },
          {
            "name": "json",
            "in": "query",
            "type": "boolean",
            "required": true,
            "default": true,
            "x-ms-visibility": "internal",
            "x-ms-summary": "Return JSON"
          },
          {
            "name": "url",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The URL you would like to capture. For example https://www.wikipedia.org",
            "x-ms-visibility": "important",
            "x-ms-summary": "Page URL"
          },
          {
            "name": "time_zone",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The time zone used by the website you're capturing. If not specified, GMT will be used. Use a valid ICU/IANA time zone ID (e.g., America/New_York, Europe/Paris).",
            "x-ms-visibility": "important",
            "x-ms-summary": "Time zone ID"
          },
          {
            "name": "multi_step_actions",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Use Multi-Step Actions to complete forms, navigate to different pages, click links and buttons, and log in to websites prior to taking your screenshot. Actions are completed in order. Learn More at https://pagepixels.com/app/screenshots-api-documentation#multi-step-screenshots",
            "x-ms-visibility": "important",
            "x-ms-summary": "Multi-step actions"
          },
          {
            "name": "wait",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Milliseconds to wait before capturing the screenshot. Max is 20000. Useful for pages that take time to load.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Wait (ms)"
          },
          {
            "name": "wait_for",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Provide a CSS selector to wait for before capturing the screenshot.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Wait for selector"
          },
          {
            "name": "incremental_scroll",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Slowly scrolls the page to trigger lazy-loaded content. May take up to 10 seconds.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Incremental scroll"
          },
          {
            "name": "page_width",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "The viewport width in pixels. Default is 1920px.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Viewport width (px)"
          },
          {
            "name": "page_height",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "The viewport height in pixels. Default is 1000px.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Viewport height (px)"
          },
          {
            "name": "fullpage",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Capture the full scrollable page. Default captures only the visible viewport.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Full page"
          },
          {
            "name": "fullpage_advanced",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Capture full page using advanced scrolling. Useful for lazy-loaded content. Takes longer than standard Full Page.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Full page (advanced)"
          },
          {
            "name": "selectors",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Capture only a specific part of the page by providing a CSS selector.",
            "x-ms-visibility": "important",
            "x-ms-summary": "CSS selector"
          },
          {
            "name": "hover_on_selected",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "If a CSS selector is used, this hovers over the element before taking the screenshot.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Hover on selected"
          },
          {
            "name": "image_format",
            "in": "query",
            "type": "string",
            "required": false,
            "enum": [
              "jpeg",
              "png",
              "webp"
            ],
            "description": "Generate screenshots in JPEG, PNG, or WebP format.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Image format"
          },
          {
            "name": "quality",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "JPEG quality (1–100). Ignored if image format is PNG.",
            "x-ms-visibility": "important",
            "x-ms-summary": "JPEG quality"
          },
          {
            "name": "scale_factor",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Scale factor for the screenshot. Set to 2 for Retina-quality images.",
            "default": 1,
            "enum": [
              1,
              2
            ],
            "x-ms-visibility": "important",
            "x-ms-summary": "Scale factor"
          },
          {
            "name": "css_inject",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Inject custom CSS into the page before capture.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Inject CSS"
          },
          {
            "name": "js_inject",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Inject custom JavaScript into the page before capture.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Inject JavaScript"
          },
          {
            "name": "user_agent",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Specify a User-Agent header to emulate different devices.",
            "x-ms-visibility": "important",
            "x-ms-summary": "User-Agent"
          },
          {
            "name": "headers",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Add additional HTTP headers to the request.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Extra HTTP headers"
          },
          {
            "name": "cookies",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Add custom cookies to the request.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Request cookies"
          },
          {
            "name": "ttl",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Time-to-live in milliseconds for cached screenshots. Set to 0 to always generate a new one.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Cache TTL (ms)"
          },
          {
            "name": "accept_language",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Ask the website to display a specific language using the Accept-Language header.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Accept-Language"
          },
          {
            "name": "latitude",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the browser’s latitude geolocation.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Latitude"
          },
          {
            "name": "longitude",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the browser’s longitude geolocation.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Longitude"
          },
          {
            "name": "accuracy",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the accuracy of the browser's geolocation.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Geolocation accuracy"
          },
          {
            "name": "thumb_width",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Width of the thumbnail image in pixels.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Thumbnail width (px)"
          },
          {
            "name": "thumb_height",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Height of the thumbnail image in pixels.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Thumbnail height (px)"
          },
          {
            "name": "no_ads",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to block ads.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Block ads"
          },
          {
            "name": "no_tracking",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to block trackers.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Block trackers"
          },
          {
            "name": "no_cookie_banners",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to hide cookie banners.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Hide cookie banners"
          },
          {
            "name": "disable_js",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to disable all JavaScript on the page.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Disable JavaScript"
          },
          {
            "name": "disable_third_party_js",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to discard JavaScript from third-party domains.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Block third-party JS"
          },
          {
            "name": "custom_title",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Custom name or title to identify the screenshot.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Custom title"
          },
          {
            "name": "custom_description",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Custom note for internal use or teammates.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Custom description"
          }
        ]
      }
    },
    "/snap_html": {
      "get": {
        "responses": {
          "200": {
            "description": "Screenshot created",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique ID for the screenshot",
                  "x-ms-summary": "Screenshot ID"
                },
                "embed_url": {
                  "type": "string",
                  "description": "Embeddable URL for viewing the screenshot",
                  "x-ms-summary": "Embed URL"
                },
                "is_browser_extension_screenshot": {
                  "type": "boolean",
                  "description": "True if captured via the browser extension",
                  "x-ms-summary": "Browser extension capture"
                },
                "screenshot_configuration_id": {
                  "type": "string",
                  "description": "ID of the configuration used for this screenshot",
                  "x-ms-summary": "Configuration ID"
                },
                "direct_link": {
                  "type": "string",
                  "description": "Direct URL to the screenshot image",
                  "x-ms-summary": "Direct link"
                },
                "direct_thumbnail_link": {
                  "type": "string",
                  "description": "Direct URL to the thumbnail image",
                  "x-ms-summary": "Thumbnail link"
                },
                "taken_at_timestamp": {
                  "type": "string",
                  "description": "Unix timestamp when the screenshot was taken",
                  "x-ms-summary": "Taken at (timestamp)"
                },
                "taken_at": {
                  "type": "string",
                  "description": "ISO8601 time when the screenshot was taken",
                  "x-ms-summary": "Taken at"
                },
                "ai": {
                  "type": "object",
                  "description": "AI analysis metadata (if available)",
                  "x-ms-summary": "AI analysis",
                  "properties": {
                    "ai_analyzed": {
                      "type": "boolean",
                      "description": "Whether the image was analyzed with AI",
                      "x-ms-summary": "AI analyzed"
                    },
                    "ai_prompt": {
                      "type": "string",
                      "description": "Prompt used for AI analysis",
                      "x-ms-summary": "AI prompt"
                    },
                    "ai_response": {
                      "type": "string",
                      "description": "Response returned by the AI analysis",
                      "x-ms-summary": "AI response"
                    }
                  }
                },
                "job_id": {
                  "type": "string",
                  "description": "job_id",
                  "x-ms-summary": "Job ID"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "microsoft",
            "in": "query",
            "type": "boolean",
            "required": true,
            "default": true,
            "x-ms-visibility": "internal",
            "x-ms-summary": "Internal flag"
          },
          {
            "name": "json",
            "in": "query",
            "type": "boolean",
            "required": true,
            "default": true,
            "x-ms-visibility": "internal",
            "x-ms-summary": "Return JSON"
          },
          {
            "name": "html_content",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Add the custom HTML content you wish to capture in a screenshot.",
            "x-ms-visibility": "important",
            "x-ms-summary": "HTML content"
          },
          {
            "name": "time_zone",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The time zone used by the website you're capturing. If not specified, GMT will be used. Use a valid ICU/IANA time zone ID (e.g., America/New_York, Europe/Paris).",
            "x-ms-visibility": "important",
            "x-ms-summary": "Time zone ID"
          },
          {
            "name": "multi_step_actions",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Use Multi-Step Actions to complete forms, navigate to different pages, click links and buttons, and log in to websites prior to taking your screenshot. Actions are completed in order. Learn More at https://pagepixels.com/app/screenshots-api-documentation#multi-step-screenshots",
            "x-ms-visibility": "important",
            "x-ms-summary": "Multi-step actions"
          },
          {
            "name": "wait",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Milliseconds to wait before capturing the screenshot. Max is 20000. Useful for pages that take time to load.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Wait (ms)"
          },
          {
            "name": "wait_for",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Provide a CSS selector to wait for before capturing the screenshot.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Wait for selector"
          },
          {
            "name": "incremental_scroll",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Slowly scrolls the page to trigger lazy-loaded content. May take up to 10 seconds.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Incremental scroll"
          },
          {
            "name": "page_width",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "The viewport width in pixels. Default is 1920px.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Viewport width (px)"
          },
          {
            "name": "page_height",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "The viewport height in pixels. Default is 1000px.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Viewport height (px)"
          },
          {
            "name": "fullpage",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Capture the full scrollable page. Default captures only the visible viewport.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Full page"
          },
          {
            "name": "fullpage_advanced",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Capture full page using advanced scrolling. Useful for lazy-loaded content. Takes longer than standard Full Page.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Full page (advanced)"
          },
          {
            "name": "selectors",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Capture only a specific part of the page by providing a CSS selector.",
            "x-ms-visibility": "important",
            "x-ms-summary": "CSS selector"
          },
          {
            "name": "hover_on_selected",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "If a CSS selector is used, this hovers over the element before taking the screenshot.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Hover on selected"
          },
          {
            "name": "image_format",
            "in": "query",
            "type": "string",
            "required": false,
            "enum": [
              "jpeg",
              "png",
              "webp"
            ],
            "description": "Generate screenshots in JPEG, PNG, or WebP format.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Image format"
          },
          {
            "name": "quality",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "JPEG quality (1–100). Ignored if image format is PNG.",
            "x-ms-visibility": "important",
            "x-ms-summary": "JPEG quality"
          },
          {
            "name": "scale_factor",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Scale factor for the screenshot. Set to 2 for Retina-quality images.",
            "default": 1,
            "enum": [
              1,
              2
            ],
            "x-ms-visibility": "important",
            "x-ms-summary": "Scale factor"
          },
          {
            "name": "css_inject",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Inject custom CSS into the page before capture.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Inject CSS"
          },
          {
            "name": "js_inject",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Inject custom JavaScript into the page before capture.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Inject JavaScript"
          },
          {
            "name": "user_agent",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Specify a User-Agent header to emulate different devices.",
            "x-ms-visibility": "important",
            "x-ms-summary": "User-Agent"
          },
          {
            "name": "headers",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Add additional HTTP headers to the request.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Extra HTTP headers"
          },
          {
            "name": "cookies",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Add custom cookies to the request.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Request cookies"
          },
          {
            "name": "ttl",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Time-to-live in milliseconds for cached screenshots. Set to 0 to always generate a new one.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Cache TTL (ms)"
          },
          {
            "name": "accept_language",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Ask the website to display a specific language using the Accept-Language header.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Accept-Language"
          },
          {
            "name": "latitude",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the browser’s latitude geolocation.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Latitude"
          },
          {
            "name": "longitude",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the browser’s longitude geolocation.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Longitude"
          },
          {
            "name": "accuracy",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the accuracy of the browser's geolocation.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Geolocation accuracy"
          },
          {
            "name": "thumb_width",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Width of the thumbnail image in pixels.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Thumbnail width (px)"
          },
          {
            "name": "thumb_height",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Height of the thumbnail image in pixels.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Thumbnail height (px)"
          },
          {
            "name": "no_ads",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to block ads.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Block ads"
          },
          {
            "name": "no_tracking",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to block trackers.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Block trackers"
          },
          {
            "name": "no_cookie_banners",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to hide cookie banners.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Hide cookie banners"
          },
          {
            "name": "disable_js",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to disable all JavaScript on the page.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Disable JavaScript"
          },
          {
            "name": "disable_third_party_js",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to discard JavaScript from third-party domains.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Block third-party JS"
          },
          {
            "name": "custom_title",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Custom name or title to identify the screenshot.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Custom title"
          },
          {
            "name": "custom_description",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Custom note for internal use or teammates.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Custom description"
          }
        ],
        "summary": "Take a Screenshot of custom HTML",
        "description": "Create a screenshot of any custom HTML. This is Perfect for screenshotting new emails, creating custom reports, and more.",
        "operationId": "SnapHtml",
        "x-ms-visibility": "important"
      }
    },
    "/snap_real_location": {
      "get": {
        "responses": {
          "200": {
            "description": "Screenshot created",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique ID for the screenshot",
                  "x-ms-summary": "Screenshot ID"
                },
                "embed_url": {
                  "type": "string",
                  "description": "Embeddable URL for viewing the screenshot",
                  "x-ms-summary": "Embed URL"
                },
                "is_browser_extension_screenshot": {
                  "type": "boolean",
                  "description": "True if captured via the browser extension",
                  "x-ms-summary": "Browser extension capture"
                },
                "screenshot_configuration_id": {
                  "type": "string",
                  "description": "ID of the configuration used for this screenshot",
                  "x-ms-summary": "Configuration ID"
                },
                "direct_link": {
                  "type": "string",
                  "description": "Direct URL to the screenshot image",
                  "x-ms-summary": "Direct link"
                },
                "direct_thumbnail_link": {
                  "type": "string",
                  "description": "Direct URL to the thumbnail image",
                  "x-ms-summary": "Thumbnail link"
                },
                "taken_at_timestamp": {
                  "type": "string",
                  "description": "Unix timestamp when the screenshot was taken",
                  "x-ms-summary": "Taken at (timestamp)"
                },
                "taken_at": {
                  "type": "string",
                  "description": "ISO8601 time when the screenshot was taken",
                  "x-ms-summary": "Taken at"
                },
                "ai": {
                  "type": "object",
                  "description": "AI analysis metadata (if available)",
                  "x-ms-summary": "AI analysis",
                  "properties": {
                    "ai_analyzed": {
                      "type": "boolean",
                      "description": "Whether the image was analyzed with AI",
                      "x-ms-summary": "AI analyzed"
                    },
                    "ai_prompt": {
                      "type": "string",
                      "description": "Prompt used for AI analysis",
                      "x-ms-summary": "AI prompt"
                    },
                    "ai_response": {
                      "type": "string",
                      "description": "Response returned by the AI analysis",
                      "x-ms-summary": "AI response"
                    }
                  }
                },
                "job_id": {
                  "type": "string",
                  "description": "job_id",
                  "x-ms-summary": "Job ID"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "microsoft",
            "in": "query",
            "type": "boolean",
            "required": true,
            "default": true,
            "x-ms-visibility": "internal",
            "x-ms-summary": "Internal flag"
          },
          {
            "name": "json",
            "in": "query",
            "type": "boolean",
            "required": true,
            "default": true,
            "x-ms-visibility": "internal",
            "x-ms-summary": "Return JSON"
          },
          {
            "name": "url",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The URL you would like to capture. For example https://www.wikipedia.org",
            "x-ms-visibility": "important",
            "x-ms-summary": "Page URL"
          },
          {
            "name": "proxy_server",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The real location you would like to take the screenshot from. This is useful for geolocation testing, getting local search and social network results, and ensuring content displays as it really appears in your preferred country, major city, or US State. Retrieve a list of valid locations here https://pagepixels.dev.com/app/screenshots-api-documentation#real-locations-get",
            "x-ms-visibility": "important",
            "default": "USA",
            "x-ms-summary": "Real location",
            "enum": [
              "Afghanistan",
              "Alabama",
              "Alaska",
              "Albania",
              "All",
              "Andorra",
              "Angola",
              "Argentina",
              "Arizona",
              "Arkansas",
              "Armenia",
              "Aruba",
              "Australia",
              "Austria",
              "Azerbaijan",
              "Bahamas",
              "Bahrain",
              "Bangladesh",
              "Belarus",
              "Belgium",
              "Belize",
              "Benin",
              "Berlin",
              "Bhutan",
              "Bolivia",
              "Bosnia and Herzegovina",
              "Brazil",
              "British Virgin Islands",
              "Bulgaria",
              "California",
              "Cambodia",
              "Cameroon",
              "Canada",
              "Chad",
              "Chicago",
              "Chile",
              "China",
              "Colombia",
              "Colorado",
              "Connecticut",
              "Costa Rica",
              "Côte d'Ivoire",
              "Croatia",
              "Cuba",
              "Cyprus",
              "Czech Republic",
              "Delaware",
              "Denmark",
              "Djibouti",
              "Dominica",
              "Ecuador",
              "Egypt",
              "Estonia",
              "Ethiopia",
              "Europe",
              "Fiji",
              "Finland",
              "Florida",
              "France",
              "Gambia",
              "Georgia",
              "Georgia (US)",
              "Germany",
              "Ghana",
              "Great Britain",
              "Greece",
              "Haiti",
              "Hawaii",
              "Honduras",
              "Hong Kong",
              "Houston",
              "Hungary",
              "Iceland",
              "Idaho",
              "Illinois",
              "India",
              "Indiana",
              "Indonesia",
              "Iowa",
              "Iran",
              "Iraq",
              "Ireland",
              "Israel",
              "Italy",
              "Jamaica",
              "Japan",
              "Jordan",
              "Kansas",
              "Kazakhstan",
              "Kentucky",
              "Kenya",
              "Latvia",
              "Lebanon",
              "Liberia",
              "Liechtenstein",
              "Lithuania",
              "London",
              "Los Angeles",
              "Louisiana",
              "Luxembourg",
              "Macedonia",
              "Madagascar",
              "Maine",
              "Malaysia",
              "Maldives",
              "Mali",
              "Malta",
              "Maryland",
              "Massachusetts",
              "Mauritania",
              "Mauritius",
              "Mexico",
              "Miami",
              "Michigan",
              "Minnesota",
              "Mississippi",
              "Missouri",
              "Moldova",
              "Monaco",
              "Mongolia",
              "Montana",
              "Montenegro",
              "Morocco",
              "Moscow",
              "Mozambique",
              "Myanmar",
              "Nebraska",
              "Netherlands",
              "Nevada",
              "New Hampshire",
              "New Jersey",
              "New Mexico",
              "New York",
              "New Zealand",
              "Nigeria",
              "North Carolina",
              "North Dakota",
              "Norway",
              "Ohio",
              "Oklahoma",
              "Oman",
              "Oregon",
              "Pakistan",
              "Panama",
              "Paraguay",
              "Pennsylvania",
              "Peru",
              "Philippines",
              "Poland",
              "Portugal",
              "Puerto Rico",
              "Qatar",
              "Random",
              "Rhode Island",
              "Romania",
              "Russia",
              "Saudi Arabia",
              "Senegal",
              "Serbia",
              "Seychelles",
              "Singapore",
              "Slovakia",
              "Slovenia",
              "South Africa",
              "South Carolina",
              "South Dakota",
              "South Korea",
              "South Sudan",
              "Spain",
              "Sudan",
              "Sweden",
              "Switzerland",
              "Syria",
              "Taiwan",
              "Tennessee",
              "Texas",
              "Thailand",
              "Togo",
              "Trinidad and Tobago",
              "Tunisia",
              "Turkey",
              "Turkmenistan",
              "UAE",
              "Uganda",
              "Ukraine",
              "United Kingdom",
              "Uruguay",
              "US",
              "USA",
              "Utah",
              "Uzbekistan",
              "Vermont",
              "Vietnam",
              "Virginia",
              "Washington",
              "West Virginia",
              "Wisconsin",
              "Wyoming",
              "Yemen",
              "Zambia",
              "Zimbabwe"
            ]
          },
          {
            "name": "time_zone",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The time zone used by the website you're capturing. If not specified, GMT will be used. Use a valid ICU/IANA time zone ID (e.g., America/New_York, Europe/Paris).",
            "x-ms-visibility": "important",
            "x-ms-summary": "Time zone ID"
          },
          {
            "name": "multi_step_actions",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Use Multi-Step Actions to complete forms, navigate to different pages, click links and buttons, and log in to websites prior to taking your screenshot. Actions are completed in order. Learn More at https://pagepixels.com/app/screenshots-api-documentation#multi-step-screenshots",
            "x-ms-visibility": "important",
            "x-ms-summary": "Multi-step actions"
          },
          {
            "name": "wait",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Milliseconds to wait before capturing the screenshot. Max is 20000. Useful for pages that take time to load.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Wait (ms)"
          },
          {
            "name": "wait_for",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Provide a CSS selector to wait for before capturing the screenshot.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Wait for selector"
          },
          {
            "name": "incremental_scroll",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Slowly scrolls the page to trigger lazy-loaded content. May take up to 10 seconds.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Incremental scroll"
          },
          {
            "name": "page_width",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "The viewport width in pixels. Default is 1920px.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Viewport width (px)"
          },
          {
            "name": "page_height",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "The viewport height in pixels. Default is 1000px.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Viewport height (px)"
          },
          {
            "name": "fullpage",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Capture the full scrollable page. Default captures only the visible viewport.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Full page"
          },
          {
            "name": "fullpage_advanced",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Capture full page using advanced scrolling. Useful for lazy-loaded content. Takes longer than standard Full Page.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Full page (advanced)"
          },
          {
            "name": "selectors",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Capture only a specific part of the page by providing a CSS selector.",
            "x-ms-visibility": "important",
            "x-ms-summary": "CSS selector"
          },
          {
            "name": "hover_on_selected",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "If a CSS selector is used, this hovers over the element before taking the screenshot.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Hover on selected"
          },
          {
            "name": "image_format",
            "in": "query",
            "type": "string",
            "required": false,
            "enum": [
              "jpeg",
              "png",
              "webp"
            ],
            "description": "Generate screenshots in JPEG, PNG, or WebP format.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Image format"
          },
          {
            "name": "quality",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "JPEG quality (1–100). Ignored if image format is PNG.",
            "x-ms-visibility": "important",
            "x-ms-summary": "JPEG quality"
          },
          {
            "name": "scale_factor",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Scale factor for the screenshot. Set to 2 for Retina-quality images.",
            "default": 1,
            "enum": [
              1,
              2
            ],
            "x-ms-visibility": "important",
            "x-ms-summary": "Scale factor"
          },
          {
            "name": "css_inject",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Inject custom CSS into the page before capture.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Inject CSS"
          },
          {
            "name": "js_inject",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Inject custom JavaScript into the page before capture.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Inject JavaScript"
          },
          {
            "name": "user_agent",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Specify a User-Agent header to emulate different devices.",
            "x-ms-visibility": "important",
            "x-ms-summary": "User-Agent"
          },
          {
            "name": "headers",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Add additional HTTP headers to the request.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Extra HTTP headers"
          },
          {
            "name": "cookies",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Add custom cookies to the request.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Request cookies"
          },
          {
            "name": "ttl",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Time-to-live in milliseconds for cached screenshots. Set to 0 to always generate a new one.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Cache TTL (ms)"
          },
          {
            "name": "accept_language",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Ask the website to display a specific language using the Accept-Language header.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Accept-Language"
          },
          {
            "name": "latitude",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the browser’s latitude geolocation.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Latitude"
          },
          {
            "name": "longitude",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the browser’s longitude geolocation.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Longitude"
          },
          {
            "name": "accuracy",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the accuracy of the browser's geolocation.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Geolocation accuracy"
          },
          {
            "name": "thumb_width",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Width of the thumbnail image in pixels.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Thumbnail width (px)"
          },
          {
            "name": "thumb_height",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Height of the thumbnail image in pixels.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Thumbnail height (px)"
          },
          {
            "name": "no_ads",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to block ads.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Block ads"
          },
          {
            "name": "no_tracking",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to block trackers.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Block trackers"
          },
          {
            "name": "no_cookie_banners",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to hide cookie banners.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Hide cookie banners"
          },
          {
            "name": "disable_js",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to disable all JavaScript on the page.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Disable JavaScript"
          },
          {
            "name": "disable_third_party_js",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to discard JavaScript from third-party domains.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Block third-party JS"
          },
          {
            "name": "custom_title",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Custom name or title to identify the screenshot.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Custom title"
          },
          {
            "name": "custom_description",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Custom note for internal use or teammates.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Custom description"
          }
        ],
        "summary": "Take a real geolocation screenshot of a web page",
        "description": "Captures a screenshot from a real geolocation. Screenshots are taken through a proxy network of rotating residential IP addresses within the geographical location you specify. Choose from hundreds of countries, cities, and states from around the world.",
        "operationId": "RealLocationScreenshot",
        "x-ms-visibility": "important"
      }
    },
    "/snap_ai_analysis": {
      "get": {
        "responses": {
          "200": {
            "description": "Screenshot created",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique ID for the screenshot",
                  "x-ms-summary": "Screenshot ID"
                },
                "embed_url": {
                  "type": "string",
                  "description": "Embeddable URL for viewing the screenshot",
                  "x-ms-summary": "Embed URL"
                },
                "is_browser_extension_screenshot": {
                  "type": "boolean",
                  "description": "True if captured via the browser extension",
                  "x-ms-summary": "Browser extension capture"
                },
                "screenshot_configuration_id": {
                  "type": "string",
                  "description": "ID of the configuration used for this screenshot",
                  "x-ms-summary": "Configuration ID"
                },
                "direct_link": {
                  "type": "string",
                  "description": "Direct URL to the screenshot image",
                  "x-ms-summary": "Direct link"
                },
                "direct_thumbnail_link": {
                  "type": "string",
                  "description": "Direct URL to the thumbnail image",
                  "x-ms-summary": "Thumbnail link"
                },
                "taken_at_timestamp": {
                  "type": "string",
                  "description": "Unix timestamp when the screenshot was taken",
                  "x-ms-summary": "Taken at (timestamp)"
                },
                "taken_at": {
                  "type": "string",
                  "description": "ISO8601 time when the screenshot was taken",
                  "x-ms-summary": "Taken at"
                },
                "ai": {
                  "type": "object",
                  "description": "AI analysis metadata (if available)",
                  "x-ms-summary": "AI analysis",
                  "properties": {
                    "ai_analyzed": {
                      "type": "boolean",
                      "description": "Whether the image was analyzed with AI",
                      "x-ms-summary": "AI analyzed"
                    },
                    "ai_prompt": {
                      "type": "string",
                      "description": "Prompt used for AI analysis",
                      "x-ms-summary": "AI prompt"
                    },
                    "ai_response": {
                      "type": "string",
                      "description": "Response returned by the AI analysis",
                      "x-ms-summary": "AI response"
                    }
                  }
                },
                "job_id": {
                  "type": "string",
                  "description": "job_id",
                  "x-ms-summary": "Job ID"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "microsoft",
            "in": "query",
            "type": "boolean",
            "required": true,
            "default": true,
            "x-ms-visibility": "internal",
            "x-ms-summary": "Internal flag"
          },
          {
            "name": "json",
            "in": "query",
            "type": "boolean",
            "required": true,
            "default": true,
            "x-ms-visibility": "internal",
            "x-ms-summary": "Return JSON"
          },
          {
            "name": "analyze_image_with_ai",
            "in": "query",
            "type": "boolean",
            "required": true,
            "default": true,
            "x-ms-visibility": "internal",
            "x-ms-summary": "Enable AI analysis"
          },
          {
            "name": "url",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The URL you would like to capture. For example https://www.wikipedia.org",
            "x-ms-visibility": "important",
            "x-ms-summary": "Page URL"
          },
          {
            "name": "ai_prompt",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "A text prompt that guides the AI in analyzing the screenshot image. This prompt should specify what information you want the AI to extract or explain, and can be up to 2000 characters in length.",
            "x-ms-visibility": "important",
            "x-ms-summary": "AI analysis prompt"
          },
          {
            "name": "time_zone",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The time zone used by the website you're capturing. If not specified, GMT will be used. Use a valid ICU/IANA time zone ID (e.g., America/New_York, Europe/Paris).",
            "x-ms-visibility": "important",
            "x-ms-summary": "Time zone ID"
          },
          {
            "name": "multi_step_actions",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Use Multi-Step Actions to complete forms, navigate to different pages, click links and buttons, and log in to websites prior to taking your screenshot. Actions are completed in order. Learn More at https://pagepixels.com/app/screenshots-api-documentation#multi-step-screenshots",
            "x-ms-visibility": "important",
            "x-ms-summary": "Multi-step actions"
          },
          {
            "name": "wait",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Milliseconds to wait before capturing the screenshot. Max is 20000. Useful for pages that take time to load.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Wait (ms)"
          },
          {
            "name": "wait_for",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Provide a CSS selector to wait for before capturing the screenshot.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Wait for selector"
          },
          {
            "name": "incremental_scroll",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Slowly scrolls the page to trigger lazy-loaded content. May take up to 10 seconds.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Incremental scroll"
          },
          {
            "name": "page_width",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "The viewport width in pixels. Default is 1920px.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Viewport width (px)"
          },
          {
            "name": "page_height",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "The viewport height in pixels. Default is 1000px.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Viewport height (px)"
          },
          {
            "name": "fullpage",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Capture the full scrollable page. Default captures only the visible viewport.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Full page"
          },
          {
            "name": "fullpage_advanced",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Capture full page using advanced scrolling. Useful for lazy-loaded content. Takes longer than standard Full Page.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Full page (advanced)"
          },
          {
            "name": "selectors",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Capture only a specific part of the page by providing a CSS selector.",
            "x-ms-visibility": "important",
            "x-ms-summary": "CSS selector"
          },
          {
            "name": "hover_on_selected",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "If a CSS selector is used, this hovers over the element before taking the screenshot.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Hover on selected"
          },
          {
            "name": "image_format",
            "in": "query",
            "type": "string",
            "required": false,
            "enum": [
              "jpeg",
              "png",
              "webp"
            ],
            "description": "Generate screenshots in JPEG, PNG, or WebP format.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Image format"
          },
          {
            "name": "quality",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "JPEG quality (1–100). Ignored if image format is PNG.",
            "x-ms-visibility": "important",
            "x-ms-summary": "JPEG quality"
          },
          {
            "name": "scale_factor",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Scale factor for the screenshot. Set to 2 for Retina-quality images.",
            "default": 1,
            "enum": [
              1,
              2
            ],
            "x-ms-visibility": "important",
            "x-ms-summary": "Scale factor"
          },
          {
            "name": "css_inject",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Inject custom CSS into the page before capture.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Inject CSS"
          },
          {
            "name": "js_inject",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Inject custom JavaScript into the page before capture.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Inject JavaScript"
          },
          {
            "name": "user_agent",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Specify a User-Agent header to emulate different devices.",
            "x-ms-visibility": "important",
            "x-ms-summary": "User-Agent"
          },
          {
            "name": "headers",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Add additional HTTP headers to the request.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Extra HTTP headers"
          },
          {
            "name": "cookies",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Add custom cookies to the request.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Request cookies"
          },
          {
            "name": "ttl",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Time-to-live in milliseconds for cached screenshots. Set to 0 to always generate a new one.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Cache TTL (ms)"
          },
          {
            "name": "accept_language",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Ask the website to display a specific language using the Accept-Language header.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Accept-Language"
          },
          {
            "name": "latitude",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the browser’s latitude geolocation.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Latitude"
          },
          {
            "name": "longitude",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the browser’s longitude geolocation.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Longitude"
          },
          {
            "name": "accuracy",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the accuracy of the browser's geolocation.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Geolocation accuracy"
          },
          {
            "name": "thumb_width",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Width of the thumbnail image in pixels.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Thumbnail width (px)"
          },
          {
            "name": "thumb_height",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Height of the thumbnail image in pixels.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Thumbnail height (px)"
          },
          {
            "name": "no_ads",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to block ads.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Block ads"
          },
          {
            "name": "no_tracking",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to block trackers.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Block trackers"
          },
          {
            "name": "no_cookie_banners",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to hide cookie banners.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Hide cookie banners"
          },
          {
            "name": "disable_js",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to disable all JavaScript on the page.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Disable JavaScript"
          },
          {
            "name": "disable_third_party_js",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to discard JavaScript from third-party domains.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Block third-party JS"
          },
          {
            "name": "custom_title",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Custom name or title to identify the screenshot.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Custom title"
          },
          {
            "name": "custom_description",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Custom note for internal use or teammates.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Custom description"
          }
        ],
        "summary": "Take a Screenshot of a web page and analyze the image with AI",
        "description": "Captures a web page screenshot and runs an AI visual analysis based on your prompt. Useful for extracting data, generating summaries, or querying the website’s content. No OpenAI keys or additional setup required.",
        "operationId": "AiAnalysisScreenshot",
        "x-ms-visibility": "important"
      }
    },
    "/real_locations": {
      "get": {
        "responses": {
          "200": {
            "description": "List of real locations",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Whether the request succeeded",
                  "x-ms-summary": "Success"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Array of available real locations",
                  "x-ms-summary": "Locations"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "summary": "Retrieves real locations for dynamic fields",
        "description": "Retrieves an array of real locations for the proxy server field.",
        "operationId": "ListRealLocations",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://pagepixels.com/oauth/authorize",
      "tokenUrl": "https://pagepixels.com/oauth/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2-auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.pagepixels.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.pagepixels.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Intelligence;Content and Files"
    }
  ]
}