{
  "swagger": "2.0",
  "info": {
    "title": "PagePixels Screenshots",
    "description": "Capture website screenshots with PagePixels. Simulate user actions like clicking links, logging in, or filling out forms before capturing the page. You can also render custom HTML, perfect for screenshotting emails or dynamic reports powered by API data. For localization testing or SERP validation, you can take screenshots from real geographic locations using our global residential IP proxy network.",
    "version": "1.0"
  },
  "host": "api.pagepixels.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/snap": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "embed_url": {
                  "type": "string",
                  "description": "embed_url"
                },
                "is_browser_extension_screenshot": {
                  "type": "boolean",
                  "description": "is_browser_extension_screenshot"
                },
                "screenshot_configuration_id": {
                  "type": "string",
                  "description": "screenshot_configuration_id"
                },
                "direct_link": {
                  "type": "string",
                  "description": "direct_link"
                },
                "direct_thumbnail_link": {
                  "type": "string",
                  "description": "direct_thumbnail_link"
                },
                "taken_at_timestamp": {
                  "type": "string",
                  "description": "taken_at_timestamp"
                },
                "taken_at": {
                  "type": "string",
                  "description": "taken_at"
                },
                "ai": {
                  "type": "object",
                  "properties": {
                    "ai_analyzed": {
                      "type": "boolean",
                      "description": "ai_analyzed"
                    },
                    "ai_prompt": {
                      "type": "string",
                      "description": "ai_prompt"
                    },
                    "ai_response": {
                      "type": "string",
                      "description": "ai_response"
                    }
                  },
                  "description": "ai"
                },
                "job_id": {
                  "type": "string",
                  "description": "job_id"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "operationId": "QuickSnap",
        "summary": "Take a Screenshot of a web page",
        "description": "Creates an instant screenshot of a web page from a URL.",
        "parameters": [
          {
            "name": "microsoft",
            "in": "query",
            "type": "boolean",
            "required": true,
            "default": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "json",
            "in": "query",
            "type": "boolean",
            "required": true,
            "default": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "url",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The URL you would like to capture. For example https://www.wikipedia.org",
            "x-ms-visibility": "important"
          },
          {
            "name": "time_zone",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The time zone used by the website you're capturing. If not specified, GMT will be used. Use a valid ICU/IANA time zone ID (e.g., America/New_York, Europe/Paris).",
            "x-ms-visibility": "important"
          },
          {
            "name": "multi_step_actions",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Use Multi-Step Actions to complete forms, navigate to different pages, click links and buttons, and log in to websites prior to taking your screenshot. Actions are completed in order. Learn More at https://pagepixels.com/app/screenshots-api-documentation#multi-step-screenshots",
            "x-ms-visibility": "important"
          },
          {
            "name": "wait",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Milliseconds to wait before capturing the screenshot. Max is 20000. Useful for pages that take time to load.",
            "x-ms-visibility": "important"
          },
          {
            "name": "wait_for",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Provide a CSS selector to wait for before capturing the screenshot.",
            "x-ms-visibility": "important"
          },
          {
            "name": "incremental_scroll",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Slowly scrolls the page to trigger lazy-loaded content. May take up to 10 seconds.",
            "x-ms-visibility": "important"
          },
          {
            "name": "page_width",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "The viewport width in pixels. Default is 1920px.",
            "x-ms-visibility": "important"
          },
          {
            "name": "page_height",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "The viewport height in pixels. Default is 1000px.",
            "x-ms-visibility": "important"
          },
          {
            "name": "fullpage",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Capture the full scrollable page. Default captures only the visible viewport.",
            "x-ms-visibility": "important"
          },
          {
            "name": "fullpage_advanced",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Capture full page using advanced scrolling. Useful for lazy-loaded content. Takes longer than standard Full Page.",
            "x-ms-visibility": "important"
          },
          {
            "name": "selectors",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Capture only a specific part of the page by providing a CSS selector.",
            "x-ms-visibility": "important"
          },
          {
            "name": "hover_on_selected",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "If a CSS selector is used, this hovers over the element before taking the screenshot.",
            "x-ms-visibility": "important"
          },
          {
            "name": "image_format",
            "in": "query",
            "type": "string",
            "required": false,
            "enum": [
              "jpeg",
              "png",
              "webp"
            ],
            "description": "Generate screenshots in JPEG, PNG, or WebP format.",
            "x-ms-visibility": "important"
          },
          {
            "name": "quality",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "JPEG quality (1–100). Ignored if image format is PNG.",
            "x-ms-visibility": "important"
          },
          {
            "name": "scale_factor",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Scale factor for the screenshot. Set to 2 for Retina-quality images.",
            "default": 1,
            "enum": [
              1,
              2
            ],
            "x-ms-visibility": "important"
          },
          {
            "name": "css_inject",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Inject custom CSS into the page before capture.",
            "x-ms-visibility": "important"
          },
          {
            "name": "js_inject",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Inject custom JavaScript into the page before capture.",
            "x-ms-visibility": "important"
          },
          {
            "name": "user_agent",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Specify a User-Agent header to emulate different devices.",
            "x-ms-visibility": "important"
          },
          {
            "name": "headers",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Add additional HTTP headers to the request.",
            "x-ms-visibility": "important"
          },
          {
            "name": "cookies",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Add custom cookies to the request.",
            "x-ms-visibility": "important"
          },
          {
            "name": "ttl",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Time-to-live in milliseconds for cached screenshots. Set to 0 to always generate a new one.",
            "x-ms-visibility": "important"
          },
          {
            "name": "accept_language",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Ask the website to display a specific language using the Accept-Language header.",
            "x-ms-visibility": "important"
          },
          {
            "name": "latitude",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the browser’s latitude geolocation.",
            "x-ms-visibility": "important"
          },
          {
            "name": "longitude",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the browser’s longitude geolocation.",
            "x-ms-visibility": "important"
          },
          {
            "name": "accuracy",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the accuracy of the browser's geolocation.",
            "x-ms-visibility": "important"
          },
          {
            "name": "thumb_width",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Width of the thumbnail image in pixels.",
            "x-ms-visibility": "important"
          },
          {
            "name": "thumb_height",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Height of the thumbnail image in pixels.",
            "x-ms-visibility": "important"
          },
          {
            "name": "no_ads",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to block ads.",
            "x-ms-visibility": "important"
          },
          {
            "name": "no_tracking",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to block trackers.",
            "x-ms-visibility": "important"
          },
          {
            "name": "no_cookie_banners",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to hide cookie banners.",
            "x-ms-visibility": "important"
          },
          {
            "name": "disable_js",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to disable all JavaScript on the page.",
            "x-ms-visibility": "important"
          },
          {
            "name": "disable_third_party_js",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to discard JavaScript from third-party domains.",
            "x-ms-visibility": "important"
          },
          {
            "name": "custom_title",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Custom name or title to identify the screenshot.",
            "x-ms-visibility": "important"
          },
          {
            "name": "custom_description",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Custom note for internal use or teammates.",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/snap_html": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "embed_url": {
                  "type": "string",
                  "description": "embed_url"
                },
                "is_browser_extension_screenshot": {
                  "type": "boolean",
                  "description": "is_browser_extension_screenshot"
                },
                "screenshot_configuration_id": {
                  "type": "string",
                  "description": "screenshot_configuration_id"
                },
                "direct_link": {
                  "type": "string",
                  "description": "direct_link"
                },
                "direct_thumbnail_link": {
                  "type": "string",
                  "description": "direct_thumbnail_link"
                },
                "taken_at_timestamp": {
                  "type": "string",
                  "description": "taken_at_timestamp"
                },
                "taken_at": {
                  "type": "string",
                  "description": "taken_at"
                },
                "ai": {
                  "type": "object",
                  "properties": {
                    "ai_analyzed": {
                      "type": "boolean",
                      "description": "ai_analyzed"
                    },
                    "ai_prompt": {
                      "type": "string",
                      "description": "ai_prompt"
                    },
                    "ai_response": {
                      "type": "string",
                      "description": "ai_response"
                    }
                  },
                  "description": "ai"
                },
                "job_id": {
                  "type": "string",
                  "description": "job_id"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "microsoft",
            "in": "query",
            "type": "boolean",
            "required": true,
            "default": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "json",
            "in": "query",
            "type": "boolean",
            "required": true,
            "default": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "html_content",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Add the custom HTML content you wish to capture in a screenshot.",
            "x-ms-visibility": "important"
          },
          {
            "name": "time_zone",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The time zone used by the website you're capturing. If not specified, GMT will be used. Use a valid ICU/IANA time zone ID (e.g., America/New_York, Europe/Paris).",
            "x-ms-visibility": "important"
          },
          {
            "name": "multi_step_actions",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Use Multi-Step Actions to complete forms, navigate to different pages, click links and buttons, and log in to websites prior to taking your screenshot. Actions are completed in order. Learn More at https://pagepixels.com/app/screenshots-api-documentation#multi-step-screenshots",
            "x-ms-visibility": "important"
          },
          {
            "name": "wait",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Milliseconds to wait before capturing the screenshot. Max is 20000. Useful for pages that take time to load.",
            "x-ms-visibility": "important"
          },
          {
            "name": "wait_for",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Provide a CSS selector to wait for before capturing the screenshot.",
            "x-ms-visibility": "important"
          },
          {
            "name": "incremental_scroll",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Slowly scrolls the page to trigger lazy-loaded content. May take up to 10 seconds.",
            "x-ms-visibility": "important"
          },
          {
            "name": "page_width",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "The viewport width in pixels. Default is 1920px.",
            "x-ms-visibility": "important"
          },
          {
            "name": "page_height",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "The viewport height in pixels. Default is 1000px.",
            "x-ms-visibility": "important"
          },
          {
            "name": "fullpage",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Capture the full scrollable page. Default captures only the visible viewport.",
            "x-ms-visibility": "important"
          },
          {
            "name": "fullpage_advanced",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Capture full page using advanced scrolling. Useful for lazy-loaded content. Takes longer than standard Full Page.",
            "x-ms-visibility": "important"
          },
          {
            "name": "selectors",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Capture only a specific part of the page by providing a CSS selector.",
            "x-ms-visibility": "important"
          },
          {
            "name": "hover_on_selected",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "If a CSS selector is used, this hovers over the element before taking the screenshot.",
            "x-ms-visibility": "important"
          },
          {
            "name": "image_format",
            "in": "query",
            "type": "string",
            "required": false,
            "enum": [
              "jpeg",
              "png",
              "webp"
            ],
            "description": "Generate screenshots in JPEG, PNG, or WebP format.",
            "x-ms-visibility": "important"
          },
          {
            "name": "quality",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "JPEG quality (1–100). Ignored if image format is PNG.",
            "x-ms-visibility": "important"
          },
          {
            "name": "scale_factor",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Scale factor for the screenshot. Set to 2 for Retina-quality images.",
            "default": 1,
            "enum": [
              1,
              2
            ],
            "x-ms-visibility": "important"
          },
          {
            "name": "css_inject",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Inject custom CSS into the page before capture.",
            "x-ms-visibility": "important"
          },
          {
            "name": "js_inject",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Inject custom JavaScript into the page before capture.",
            "x-ms-visibility": "important"
          },
          {
            "name": "user_agent",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Specify a User-Agent header to emulate different devices.",
            "x-ms-visibility": "important"
          },
          {
            "name": "headers",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Add additional HTTP headers to the request.",
            "x-ms-visibility": "important"
          },
          {
            "name": "cookies",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Add custom cookies to the request.",
            "x-ms-visibility": "important"
          },
          {
            "name": "ttl",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Time-to-live in milliseconds for cached screenshots. Set to 0 to always generate a new one.",
            "x-ms-visibility": "important"
          },
          {
            "name": "accept_language",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Ask the website to display a specific language using the Accept-Language header.",
            "x-ms-visibility": "important"
          },
          {
            "name": "latitude",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the browser’s latitude geolocation.",
            "x-ms-visibility": "important"
          },
          {
            "name": "longitude",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the browser’s longitude geolocation.",
            "x-ms-visibility": "important"
          },
          {
            "name": "accuracy",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the accuracy of the browser's geolocation.",
            "x-ms-visibility": "important"
          },
          {
            "name": "thumb_width",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Width of the thumbnail image in pixels.",
            "x-ms-visibility": "important"
          },
          {
            "name": "thumb_height",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Height of the thumbnail image in pixels.",
            "x-ms-visibility": "important"
          },
          {
            "name": "no_ads",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to block ads.",
            "x-ms-visibility": "important"
          },
          {
            "name": "no_tracking",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to block trackers.",
            "x-ms-visibility": "important"
          },
          {
            "name": "no_cookie_banners",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to hide cookie banners.",
            "x-ms-visibility": "important"
          },
          {
            "name": "disable_js",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to disable all JavaScript on the page.",
            "x-ms-visibility": "important"
          },
          {
            "name": "disable_third_party_js",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to discard JavaScript from third-party domains.",
            "x-ms-visibility": "important"
          },
          {
            "name": "custom_title",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Custom name or title to identify the screenshot.",
            "x-ms-visibility": "important"
          },
          {
            "name": "custom_description",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Custom note for internal use or teammates.",
            "x-ms-visibility": "important"
          }
        ],
        "summary": "Take a Screenshot of custom HTML",
        "description": "Create a screenshot of any custom HTML. This is Perfect for screenshotting new emails, creating custom reports, and more.",
        "operationId": "SnapHtml",
        "x-ms-visibility": "important"
      }
    },
    "/snap_real_location": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "embed_url": {
                  "type": "string",
                  "description": "embed_url"
                },
                "is_browser_extension_screenshot": {
                  "type": "boolean",
                  "description": "is_browser_extension_screenshot"
                },
                "screenshot_configuration_id": {
                  "type": "string",
                  "description": "screenshot_configuration_id"
                },
                "direct_link": {
                  "type": "string",
                  "description": "direct_link"
                },
                "direct_thumbnail_link": {
                  "type": "string",
                  "description": "direct_thumbnail_link"
                },
                "taken_at_timestamp": {
                  "type": "string",
                  "description": "taken_at_timestamp"
                },
                "taken_at": {
                  "type": "string",
                  "description": "taken_at"
                },
                "ai": {
                  "type": "object",
                  "properties": {
                    "ai_analyzed": {
                      "type": "boolean",
                      "description": "ai_analyzed"
                    },
                    "ai_prompt": {
                      "type": "string",
                      "description": "ai_prompt"
                    },
                    "ai_response": {
                      "type": "string",
                      "description": "ai_response"
                    }
                  },
                  "description": "ai"
                },
                "job_id": {
                  "type": "string",
                  "description": "job_id"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "microsoft",
            "in": "query",
            "type": "boolean",
            "required": true,
            "default": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "json",
            "in": "query",
            "type": "boolean",
            "required": true,
            "default": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "url",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The URL you would like to capture. For example https://www.wikipedia.org",
            "x-ms-visibility": "important"
          },
          {
            "name": "proxy_server",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The real location you would like to take the screenshot from. This is useful for geolocation testing, getting local search and social network results, and ensuring content displays as it really appears in your preferred country, major city, or US State. Retrieve a list of valid locations here https://pagepixels.dev.com/app/screenshots-api-documentation#real-locations-get",
            "x-ms-visibility": "important",
            "default": "USA",
            "enum": [
              "Afghanistan",
              "Alabama",
              "Alaska",
              "Albania",
              "All",
              "Andorra",
              "Angola",
              "Argentina",
              "Arizona",
              "Arkansas",
              "Armenia",
              "Aruba",
              "Australia",
              "Austria",
              "Azerbaijan",
              "Bahamas",
              "Bahrain",
              "Bangladesh",
              "Belarus",
              "Belgium",
              "Belize",
              "Benin",
              "Berlin",
              "Bhutan",
              "Bolivia",
              "Bosnia and Herzegovina",
              "Brazil",
              "British Virgin Islands",
              "Bulgaria",
              "California",
              "Cambodia",
              "Cameroon",
              "Canada",
              "Chad",
              "Chicago",
              "Chile",
              "China",
              "Colombia",
              "Colorado",
              "Connecticut",
              "Costa Rica",
              "Côte d'Ivoire",
              "Croatia",
              "Cuba",
              "Cyprus",
              "Czech Republic",
              "Delaware",
              "Denmark",
              "Djibouti",
              "Dominica",
              "Ecuador",
              "Egypt",
              "Estonia",
              "Ethiopia",
              "Europe",
              "Fiji",
              "Finland",
              "Florida",
              "France",
              "Gambia",
              "Georgia",
              "Georgia (US)",
              "Germany",
              "Ghana",
              "Great Britain",
              "Greece",
              "Haiti",
              "Hawaii",
              "Honduras",
              "Hong Kong",
              "Houston",
              "Hungary",
              "Iceland",
              "Idaho",
              "Illinois",
              "India",
              "Indiana",
              "Indonesia",
              "Iowa",
              "Iran",
              "Iraq",
              "Ireland",
              "Israel",
              "Italy",
              "Jamaica",
              "Japan",
              "Jordan",
              "Kansas",
              "Kazakhstan",
              "Kentucky",
              "Kenya",
              "Latvia",
              "Lebanon",
              "Liberia",
              "Liechtenstein",
              "Lithuania",
              "London",
              "Los Angeles",
              "Louisiana",
              "Luxembourg",
              "Macedonia",
              "Madagascar",
              "Maine",
              "Malaysia",
              "Maldives",
              "Mali",
              "Malta",
              "Maryland",
              "Massachusetts",
              "Mauritania",
              "Mauritius",
              "Mexico",
              "Miami",
              "Michigan",
              "Minnesota",
              "Mississippi",
              "Missouri",
              "Moldova",
              "Monaco",
              "Mongolia",
              "Montana",
              "Montenegro",
              "Morocco",
              "Moscow",
              "Mozambique",
              "Myanmar",
              "Nebraska",
              "Netherlands",
              "Nevada",
              "New Hampshire",
              "New Jersey",
              "New Mexico",
              "New York",
              "New Zealand",
              "Nigeria",
              "North Carolina",
              "North Dakota",
              "Norway",
              "Ohio",
              "Oklahoma",
              "Oman",
              "Oregon",
              "Pakistan",
              "Panama",
              "Paraguay",
              "Pennsylvania",
              "Peru",
              "Philippines",
              "Poland",
              "Portugal",
              "Puerto Rico",
              "Qatar",
              "Random",
              "Rhode Island",
              "Romania",
              "Russia",
              "Saudi Arabia",
              "Senegal",
              "Serbia",
              "Seychelles",
              "Singapore",
              "Slovakia",
              "Slovenia",
              "South Africa",
              "South Carolina",
              "South Dakota",
              "South Korea",
              "South Sudan",
              "Spain",
              "Sudan",
              "Sweden",
              "Switzerland",
              "Syria",
              "Taiwan",
              "Tennessee",
              "Texas",
              "Thailand",
              "Togo",
              "Trinidad and Tobago",
              "Tunisia",
              "Turkey",
              "Turkmenistan",
              "UAE",
              "Uganda",
              "Ukraine",
              "United Kingdom",
              "Uruguay",
              "US",
              "USA",
              "Utah",
              "Uzbekistan",
              "Vermont",
              "Vietnam",
              "Virginia",
              "Washington",
              "West Virginia",
              "Wisconsin",
              "Wyoming",
              "Yemen",
              "Zambia",
              "Zimbabwe"
            ]
          },
          {
            "name": "time_zone",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The time zone used by the website you're capturing. If not specified, GMT will be used. Use a valid ICU/IANA time zone ID (e.g., America/New_York, Europe/Paris).",
            "x-ms-visibility": "important"
          },
          {
            "name": "multi_step_actions",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Use Multi-Step Actions to complete forms, navigate to different pages, click links and buttons, and log in to websites prior to taking your screenshot. Actions are completed in order. Learn More at https://pagepixels.com/app/screenshots-api-documentation#multi-step-screenshots",
            "x-ms-visibility": "important"
          },
          {
            "name": "wait",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Milliseconds to wait before capturing the screenshot. Max is 20000. Useful for pages that take time to load.",
            "x-ms-visibility": "important"
          },
          {
            "name": "wait_for",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Provide a CSS selector to wait for before capturing the screenshot.",
            "x-ms-visibility": "important"
          },
          {
            "name": "incremental_scroll",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Slowly scrolls the page to trigger lazy-loaded content. May take up to 10 seconds.",
            "x-ms-visibility": "important"
          },
          {
            "name": "page_width",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "The viewport width in pixels. Default is 1920px.",
            "x-ms-visibility": "important"
          },
          {
            "name": "page_height",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "The viewport height in pixels. Default is 1000px.",
            "x-ms-visibility": "important"
          },
          {
            "name": "fullpage",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Capture the full scrollable page. Default captures only the visible viewport.",
            "x-ms-visibility": "important"
          },
          {
            "name": "fullpage_advanced",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Capture full page using advanced scrolling. Useful for lazy-loaded content. Takes longer than standard Full Page.",
            "x-ms-visibility": "important"
          },
          {
            "name": "selectors",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Capture only a specific part of the page by providing a CSS selector.",
            "x-ms-visibility": "important"
          },
          {
            "name": "hover_on_selected",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "If a CSS selector is used, this hovers over the element before taking the screenshot.",
            "x-ms-visibility": "important"
          },
          {
            "name": "image_format",
            "in": "query",
            "type": "string",
            "required": false,
            "enum": [
              "jpeg",
              "png",
              "webp"
            ],
            "description": "Generate screenshots in JPEG, PNG, or WebP format.",
            "x-ms-visibility": "important"
          },
          {
            "name": "quality",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "JPEG quality (1–100). Ignored if image format is PNG.",
            "x-ms-visibility": "important"
          },
          {
            "name": "scale_factor",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Scale factor for the screenshot. Set to 2 for Retina-quality images.",
            "default": 1,
            "enum": [
              1,
              2
            ],
            "x-ms-visibility": "important"
          },
          {
            "name": "css_inject",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Inject custom CSS into the page before capture.",
            "x-ms-visibility": "important"
          },
          {
            "name": "js_inject",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Inject custom JavaScript into the page before capture.",
            "x-ms-visibility": "important"
          },
          {
            "name": "user_agent",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Specify a User-Agent header to emulate different devices.",
            "x-ms-visibility": "important"
          },
          {
            "name": "headers",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Add additional HTTP headers to the request.",
            "x-ms-visibility": "important"
          },
          {
            "name": "cookies",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Add custom cookies to the request.",
            "x-ms-visibility": "important"
          },
          {
            "name": "ttl",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Time-to-live in milliseconds for cached screenshots. Set to 0 to always generate a new one.",
            "x-ms-visibility": "important"
          },
          {
            "name": "accept_language",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Ask the website to display a specific language using the Accept-Language header.",
            "x-ms-visibility": "important"
          },
          {
            "name": "latitude",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the browser’s latitude geolocation.",
            "x-ms-visibility": "important"
          },
          {
            "name": "longitude",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the browser’s longitude geolocation.",
            "x-ms-visibility": "important"
          },
          {
            "name": "accuracy",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the accuracy of the browser's geolocation.",
            "x-ms-visibility": "important"
          },
          {
            "name": "thumb_width",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Width of the thumbnail image in pixels.",
            "x-ms-visibility": "important"
          },
          {
            "name": "thumb_height",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Height of the thumbnail image in pixels.",
            "x-ms-visibility": "important"
          },
          {
            "name": "no_ads",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to block ads.",
            "x-ms-visibility": "important"
          },
          {
            "name": "no_tracking",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to block trackers.",
            "x-ms-visibility": "important"
          },
          {
            "name": "no_cookie_banners",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to hide cookie banners.",
            "x-ms-visibility": "important"
          },
          {
            "name": "disable_js",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to disable all JavaScript on the page.",
            "x-ms-visibility": "important"
          },
          {
            "name": "disable_third_party_js",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to discard JavaScript from third-party domains.",
            "x-ms-visibility": "important"
          },
          {
            "name": "custom_title",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Custom name or title to identify the screenshot.",
            "x-ms-visibility": "important"
          },
          {
            "name": "custom_description",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Custom note for internal use or teammates.",
            "x-ms-visibility": "important"
          }
        ],
        "summary": "Take a real geolocation screenshot of a web page",
        "description": "Captures a screenshot from a real geolocation. Screenshots are taken through a proxy network of rotating residential IP addresses within the geographical location you specify. Choose from hundreds of countries, cities, and states from around the world.",
        "operationId": "RealLocationScreenshot",
        "x-ms-visibility": "important"
      }
    },
    "/snap_ai_analysis": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "embed_url": {
                  "type": "string",
                  "description": "embed_url"
                },
                "is_browser_extension_screenshot": {
                  "type": "boolean",
                  "description": "is_browser_extension_screenshot"
                },
                "screenshot_configuration_id": {
                  "type": "string",
                  "description": "screenshot_configuration_id"
                },
                "direct_link": {
                  "type": "string",
                  "description": "direct_link"
                },
                "direct_thumbnail_link": {
                  "type": "string",
                  "description": "direct_thumbnail_link"
                },
                "taken_at_timestamp": {
                  "type": "string",
                  "description": "taken_at_timestamp"
                },
                "taken_at": {
                  "type": "string",
                  "description": "taken_at"
                },
                "ai": {
                  "type": "object",
                  "properties": {
                    "ai_analyzed": {
                      "type": "boolean",
                      "description": "ai_analyzed"
                    },
                    "ai_prompt": {
                      "type": "string",
                      "description": "ai_prompt"
                    },
                    "ai_response": {
                      "type": "string",
                      "description": "ai_response"
                    }
                  },
                  "description": "ai"
                },
                "job_id": {
                  "type": "string",
                  "description": "job_id"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "microsoft",
            "in": "query",
            "type": "boolean",
            "required": true,
            "default": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "json",
            "in": "query",
            "type": "boolean",
            "required": true,
            "default": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "analyze_image_with_ai",
            "in": "query",
            "type": "boolean",
            "required": true,
            "default": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "url",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The URL you would like to capture. For example https://www.wikipedia.org",
            "x-ms-visibility": "important"
          },
          {
            "name": "ai_prompt",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "A text prompt that guides the AI in analyzing the screenshot image. This prompt should specify what information you want the AI to extract or explain, and can be up to 2000 characters in length.",
            "x-ms-visibility": "important"
          },
          {
            "name": "time_zone",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The time zone used by the website you're capturing. If not specified, GMT will be used. Use a valid ICU/IANA time zone ID (e.g., America/New_York, Europe/Paris).",
            "x-ms-visibility": "important"
          },
          {
            "name": "multi_step_actions",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Use Multi-Step Actions to complete forms, navigate to different pages, click links and buttons, and log in to websites prior to taking your screenshot. Actions are completed in order. Learn More at https://pagepixels.com/app/screenshots-api-documentation#multi-step-screenshots",
            "x-ms-visibility": "important"
          },
          {
            "name": "wait",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Milliseconds to wait before capturing the screenshot. Max is 20000. Useful for pages that take time to load.",
            "x-ms-visibility": "important"
          },
          {
            "name": "wait_for",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Provide a CSS selector to wait for before capturing the screenshot.",
            "x-ms-visibility": "important"
          },
          {
            "name": "incremental_scroll",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Slowly scrolls the page to trigger lazy-loaded content. May take up to 10 seconds.",
            "x-ms-visibility": "important"
          },
          {
            "name": "page_width",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "The viewport width in pixels. Default is 1920px.",
            "x-ms-visibility": "important"
          },
          {
            "name": "page_height",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "The viewport height in pixels. Default is 1000px.",
            "x-ms-visibility": "important"
          },
          {
            "name": "fullpage",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Capture the full scrollable page. Default captures only the visible viewport.",
            "x-ms-visibility": "important"
          },
          {
            "name": "fullpage_advanced",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Capture full page using advanced scrolling. Useful for lazy-loaded content. Takes longer than standard Full Page.",
            "x-ms-visibility": "important"
          },
          {
            "name": "selectors",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Capture only a specific part of the page by providing a CSS selector.",
            "x-ms-visibility": "important"
          },
          {
            "name": "hover_on_selected",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "If a CSS selector is used, this hovers over the element before taking the screenshot.",
            "x-ms-visibility": "important"
          },
          {
            "name": "image_format",
            "in": "query",
            "type": "string",
            "required": false,
            "enum": [
              "jpeg",
              "png",
              "webp"
            ],
            "description": "Generate screenshots in JPEG, PNG, or WebP format.",
            "x-ms-visibility": "important"
          },
          {
            "name": "quality",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "JPEG quality (1–100). Ignored if image format is PNG.",
            "x-ms-visibility": "important"
          },
          {
            "name": "scale_factor",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Scale factor for the screenshot. Set to 2 for Retina-quality images.",
            "default": 1,
            "enum": [
              1,
              2
            ],
            "x-ms-visibility": "important"
          },
          {
            "name": "css_inject",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Inject custom CSS into the page before capture.",
            "x-ms-visibility": "important"
          },
          {
            "name": "js_inject",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Inject custom JavaScript into the page before capture.",
            "x-ms-visibility": "important"
          },
          {
            "name": "user_agent",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Specify a User-Agent header to emulate different devices.",
            "x-ms-visibility": "important"
          },
          {
            "name": "headers",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Add additional HTTP headers to the request.",
            "x-ms-visibility": "important"
          },
          {
            "name": "cookies",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "description": "Add custom cookies to the request.",
            "x-ms-visibility": "important"
          },
          {
            "name": "ttl",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Time-to-live in milliseconds for cached screenshots. Set to 0 to always generate a new one.",
            "x-ms-visibility": "important"
          },
          {
            "name": "accept_language",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Ask the website to display a specific language using the Accept-Language header.",
            "x-ms-visibility": "important"
          },
          {
            "name": "latitude",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the browser’s latitude geolocation.",
            "x-ms-visibility": "important"
          },
          {
            "name": "longitude",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the browser’s longitude geolocation.",
            "x-ms-visibility": "important"
          },
          {
            "name": "accuracy",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set the accuracy of the browser's geolocation.",
            "x-ms-visibility": "important"
          },
          {
            "name": "thumb_width",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Width of the thumbnail image in pixels.",
            "x-ms-visibility": "important"
          },
          {
            "name": "thumb_height",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Height of the thumbnail image in pixels.",
            "x-ms-visibility": "important"
          },
          {
            "name": "no_ads",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to block ads.",
            "x-ms-visibility": "important"
          },
          {
            "name": "no_tracking",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to block trackers.",
            "x-ms-visibility": "important"
          },
          {
            "name": "no_cookie_banners",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to hide cookie banners.",
            "x-ms-visibility": "important"
          },
          {
            "name": "disable_js",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to disable all JavaScript on the page.",
            "x-ms-visibility": "important"
          },
          {
            "name": "disable_third_party_js",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Set to true to discard JavaScript from third-party domains.",
            "x-ms-visibility": "important"
          },
          {
            "name": "custom_title",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Custom name or title to identify the screenshot.",
            "x-ms-visibility": "important"
          },
          {
            "name": "custom_description",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Custom note for internal use or teammates.",
            "x-ms-visibility": "important"
          }
        ],
        "summary": "Take a Screenshot of a web page and analyze the image with AI",
        "description": "Captures a web page screenshot and runs an AI visual analysis based on your prompt. Useful for extracting data, generating summaries, or querying the website’s content. No OpenAI keys or additional setup required.",
        "operationId": "AiAnalysisScreenshot",
        "x-ms-visibility": "important"
      }
    },
    "/real_locations": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "results"
                }
              }
            }
          }
        },
        "summary": "Retrieves real locations for dynamic fields",
        "description": "Retrieves an array of real locations for the proxy server field.",
        "operationId": "ListRealLocations",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://pagepixels.com/oauth/authorize",
      "tokenUrl": "https://pagepixels.com/oauth/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2-auth": []
    }
  ],
  "tags": []
}