{
  "swagger": "2.0",
  "info": {
    "title": "Fuxsy-ADSKFusionManagePaid",
    "version": "1.0",
    "contact": {}
  },
  "host": "fusionmanagetaskrunnerapimanagement.azure-api.net",
  "basePath": "/plm_paid-clone",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/api/v3/groups": {
      "get": {
        "description": "List of all Groups available in tenant",
        "operationId": "groupsList",
        "summary": "Groups List",
        "tags": [
          "groups"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {
              "Cache-Control": {
                "type": "string"
              },
              "Connection": {
                "type": "string"
              },
              "Content-Encoding": {
                "type": "string"
              },
              "Date": {
                "type": "string"
              },
              "Expires": {
                "type": "string"
              },
              "Pragma": {
                "type": "string"
              },
              "Server": {
                "type": "string"
              },
              "Set-Cookie": {
                "type": "string"
              },
              "Strict-Transport-Security": {
                "type": "string"
              },
              "Transfer-Encoding": {
                "type": "string"
              },
              "Vary": {
                "type": "string"
              },
              "X-Correlation-Id": {
                "type": "string"
              },
              "X-Frame-Options": {
                "type": "string"
              },
              "X-XSS-Protection": {
                "type": "string"
              },
              "x-request-id": {
                "type": "string"
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "__self__": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "groups": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "object",
                          "properties": {
                            "properties": {
                              "type": "object",
                              "properties": {
                                "__self__": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "exclusiveGroup": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "invariantName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "isSystemManaged": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "longName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "mappedToOxygen": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "minUserCount": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "integer"
                                    }
                                  }
                                },
                                "restrictIp": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "shortName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "urn": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "required": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "__self__"
                              },
                              "example": [
                                "__self__",
                                "urn",
                                "shortName",
                                "minUserCount",
                                "exclusiveGroup",
                                "restrictIp",
                                "isSystemManaged",
                                "mappedToOxygen"
                              ]
                            },
                            "type": {
                              "type": "string",
                              "example": "object"
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "array"
                        }
                      }
                    }
                  }
                },
                "type": {
                  "type": "string",
                  "example": "object"
                }
              }
            },
            "examples": {
              "application/json": {
                "type": "object",
                "properties": {
                  "__self__": {
                    "type": "string"
                  },
                  "groups": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "__self__": {
                          "type": "string"
                        },
                        "urn": {
                          "type": "string"
                        },
                        "shortName": {
                          "type": "string"
                        },
                        "longName": {
                          "type": "string"
                        },
                        "minUserCount": {
                          "type": "integer"
                        },
                        "exclusiveGroup": {
                          "type": "boolean"
                        },
                        "restrictIp": {
                          "type": "boolean"
                        },
                        "isSystemManaged": {
                          "type": "boolean"
                        },
                        "mappedToOxygen": {
                          "type": "boolean"
                        },
                        "invariantName": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "__self__",
                        "urn",
                        "shortName",
                        "minUserCount",
                        "exclusiveGroup",
                        "restrictIp",
                        "isSystemManaged",
                        "mappedToOxygen"
                      ]
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/401"
            },
            "examples": {
              "application/json": {
                "errorCode": "SEC_UNAUTHORIZED",
                "message": "The request contains no authorization information.",
                "params": "",
                "url": "",
                "errorClass": "APIError"
              }
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/500"
            },
            "examples": {
              "application/json": {
                "statusCode": 0,
                "message": "string",
                "activityId": "string"
              }
            }
          }
        }
      }
    },
    "/api/v3/groups/{GroupID}": {
      "get": {
        "description": "Get specific Group Details",
        "operationId": "groupDetails",
        "summary": "Groups Details",
        "tags": [
          "groups"
        ],
        "parameters": [
          {
            "name": "GroupID",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {
              "Cache-Control": {
                "type": "string"
              },
              "Connection": {
                "type": "string"
              },
              "Content-Encoding": {
                "type": "string"
              },
              "Content-Length": {
                "type": "string"
              },
              "Date": {
                "type": "string"
              },
              "Expires": {
                "type": "string"
              },
              "Pragma": {
                "type": "string"
              },
              "Server": {
                "type": "string"
              },
              "Set-Cookie": {
                "type": "string"
              },
              "Strict-Transport-Security": {
                "type": "string"
              },
              "Vary": {
                "type": "string"
              },
              "X-Correlation-Id": {
                "type": "string"
              },
              "X-Frame-Options": {
                "type": "string"
              },
              "X-XSS-Protection": {
                "type": "string"
              },
              "x-request-id": {
                "type": "string"
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "__self__": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "exclusiveGroup": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "isSystemManaged": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "mappedToOxygen": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "minUserCount": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "integer"
                        }
                      }
                    },
                    "restrictIp": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "shortName": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "urn": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    }
                  }
                },
                "type": {
                  "type": "string",
                  "example": "object"
                }
              }
            },
            "examples": {
              "application/json": {
                "type": "object",
                "properties": {
                  "__self__": {
                    "type": "string"
                  },
                  "urn": {
                    "type": "string"
                  },
                  "shortName": {
                    "type": "string"
                  },
                  "minUserCount": {
                    "type": "integer"
                  },
                  "exclusiveGroup": {
                    "type": "boolean"
                  },
                  "restrictIp": {
                    "type": "boolean"
                  },
                  "isSystemManaged": {
                    "type": "boolean"
                  },
                  "mappedToOxygen": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/401"
            },
            "examples": {
              "application/json": {
                "errorCode": "SEC_UNAUTHORIZED",
                "message": "The request contains no authorization information.",
                "params": "",
                "url": "",
                "errorClass": "APIError"
              }
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/404_not_found"
            },
            "examples": {
              "application/json": {
                "statusCode": 0,
                "errors": [
                  "string"
                ],
                "message": "string"
              }
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/500"
            },
            "examples": {
              "application/json": {
                "statusCode": 0,
                "message": "string",
                "activityId": "string"
              }
            }
          }
        }
      }
    },
    "/api/v3/groups/{GroupID}/users": {
      "get": {
        "description": "List of Users and details for specific Group",
        "operationId": "usersInGroup",
        "summary": "Users In Group",
        "tags": [
          "groups"
        ],
        "parameters": [
          {
            "name": "GroupID",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {
              "Cache-Control": {
                "type": "string"
              },
              "Connection": {
                "type": "string"
              },
              "Content-Encoding": {
                "type": "string"
              },
              "Date": {
                "type": "string"
              },
              "Expires": {
                "type": "string"
              },
              "Pragma": {
                "type": "string"
              },
              "Server": {
                "type": "string"
              },
              "Set-Cookie": {
                "type": "string"
              },
              "Strict-Transport-Security": {
                "type": "string"
              },
              "Transfer-Encoding": {
                "type": "string"
              },
              "Vary": {
                "type": "string"
              },
              "X-Correlation-Id": {
                "type": "string"
              },
              "X-Frame-Options": {
                "type": "string"
              },
              "X-XSS-Protection": {
                "type": "string"
              },
              "x-request-id": {
                "type": "string"
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "__self__": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "first": {
                      "type": "object",
                      "properties": {
                        "properties": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "integer"
                                }
                              }
                            },
                            "deleted": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "boolean"
                                }
                              }
                            },
                            "link": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            },
                            "title": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "object"
                        }
                      }
                    },
                    "items": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "object",
                          "properties": {
                            "properties": {
                              "type": "object",
                              "properties": {
                                "__self__": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "aboutMe": {
                                  "type": "object"
                                },
                                "active": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "address1": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "address2": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "analyticsId": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "batchNotifyPref": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "cellular": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "city": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "consumeLicense": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "country": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "dashboardCharts": {
                                  "type": "object"
                                },
                                "dateFormat": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "delegations": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "example": "userId"
                                  }
                                },
                                "displayName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "displayNameExtended": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "email": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "enforce2fa": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "entitlement": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "externalAuthReservationToken": {
                                  "type": "object"
                                },
                                "externalAuthUserId": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "fax": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "firstName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "id": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "industry": {
                                  "type": "object"
                                },
                                "interfaceStyle": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "interfaceStyleMandated": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "lastAccessTime": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "lastLicenseTimeIssued": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "lastLoginTime": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "lastMowUpdateDate": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "lastName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "lastRecalculateStarted": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "lastRecalculateUpdate": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "ldapEnabled": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "licenseFeatureId": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "licenseType": {
                                  "type": "object",
                                  "properties": {
                                    "properties": {
                                      "type": "object",
                                      "properties": {
                                        "deleted": {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "example": "boolean"
                                            }
                                          }
                                        },
                                        "description": {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "example": "string"
                                            }
                                          }
                                        },
                                        "link": {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "example": "string"
                                            }
                                          }
                                        },
                                        "title": {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "example": "string"
                                            }
                                          }
                                        },
                                        "type": {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "example": "string"
                                            }
                                          }
                                        },
                                        "urn": {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "example": "string"
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "type": {
                                      "type": "string",
                                      "example": "object"
                                    }
                                  }
                                },
                                "loginName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "mappedToOxygen": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "organization": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "phone": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "plmSearchCrawlerUser": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "postal": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "regularUser": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "reset": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "signupUrl": {
                                  "type": "object"
                                },
                                "stateProv": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "surveyDone": {
                                  "type": "object"
                                },
                                "tenantAdmin": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "thumbnailPref": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "timezone": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "title": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "twoFactorAuthEnabled": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "uomPref": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "urn": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "userActive": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "userId": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "userInactive": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "userNumber": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "integer"
                                    }
                                  }
                                },
                                "userStatus": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "wfNotifyPref": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "required": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "userId"
                              },
                              "example": [
                                "userId",
                                "loginName",
                                "delegations",
                                "dashboardCharts",
                                "displayName",
                                "firstName",
                                "lastName",
                                "active",
                                "reset",
                                "batchNotifyPref",
                                "wfNotifyPref",
                                "thumbnailPref",
                                "licenseType",
                                "title",
                                "phone",
                                "cellular",
                                "fax",
                                "email",
                                "address1",
                                "address2",
                                "city",
                                "stateProv",
                                "country",
                                "postal",
                                "timezone",
                                "organization",
                                "industry",
                                "aboutMe",
                                "uomPref",
                                "surveyDone",
                                "userNumber",
                                "dateFormat",
                                "displayNameExtended",
                                "externalAuthReservationToken",
                                "externalAuthUserId",
                                "plmSearchCrawlerUser",
                                "lastRecalculateUpdate",
                                "lastRecalculateStarted",
                                "lastMowUpdateDate",
                                "interfaceStyle",
                                "interfaceStyleMandated",
                                "entitlement",
                                "analyticsId",
                                "consumeLicense",
                                "licenseFeatureId",
                                "lastLicenseTimeIssued",
                                "enforce2fa",
                                "twoFactorAuthEnabled",
                                "ldapEnabled",
                                "signupUrl",
                                "regularUser",
                                "mappedToOxygen",
                                "tenantAdmin",
                                "userInactive",
                                "userStatus",
                                "userActive",
                                "id",
                                "__self__",
                                "urn"
                              ]
                            },
                            "type": {
                              "type": "string",
                              "example": "object"
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "array"
                        }
                      }
                    },
                    "last": {
                      "type": "object",
                      "properties": {
                        "properties": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "integer"
                                }
                              }
                            },
                            "deleted": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "boolean"
                                }
                              }
                            },
                            "link": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            },
                            "title": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "object"
                        }
                      }
                    },
                    "limit": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "integer"
                        }
                      }
                    },
                    "offset": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "integer"
                        }
                      }
                    },
                    "totalCount": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "integer"
                        }
                      }
                    }
                  }
                },
                "type": {
                  "type": "string",
                  "example": "object"
                }
              }
            },
            "examples": {
              "application/json": {
                "type": "object",
                "properties": {
                  "__self__": {
                    "type": "string"
                  },
                  "offset": {
                    "type": "integer"
                  },
                  "limit": {
                    "type": "integer"
                  },
                  "totalCount": {
                    "type": "integer"
                  },
                  "first": {
                    "type": "object",
                    "properties": {
                      "link": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "deleted": {
                        "type": "boolean"
                      },
                      "count": {
                        "type": "integer"
                      }
                    }
                  },
                  "last": {
                    "type": "object",
                    "properties": {
                      "link": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "deleted": {
                        "type": "boolean"
                      },
                      "count": {
                        "type": "integer"
                      }
                    }
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "userId": {
                          "type": "string"
                        },
                        "loginName": {
                          "type": "string"
                        },
                        "delegations": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "dashboardCharts": {},
                        "displayName": {
                          "type": "string"
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "active": {
                          "type": "string"
                        },
                        "reset": {
                          "type": "string"
                        },
                        "batchNotifyPref": {
                          "type": "string"
                        },
                        "wfNotifyPref": {
                          "type": "string"
                        },
                        "thumbnailPref": {
                          "type": "string"
                        },
                        "licenseType": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "urn": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            },
                            "deleted": {
                              "type": "boolean"
                            },
                            "type": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            }
                          }
                        },
                        "title": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "cellular": {
                          "type": "string"
                        },
                        "fax": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "address1": {
                          "type": "string"
                        },
                        "address2": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "stateProv": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "postal": {
                          "type": "string"
                        },
                        "timezone": {
                          "type": "string"
                        },
                        "organization": {
                          "type": "string"
                        },
                        "industry": {},
                        "aboutMe": {},
                        "uomPref": {
                          "type": "string"
                        },
                        "surveyDone": {},
                        "userNumber": {
                          "type": "integer"
                        },
                        "dateFormat": {
                          "type": "string"
                        },
                        "displayNameExtended": {
                          "type": "string"
                        },
                        "externalAuthReservationToken": {},
                        "externalAuthUserId": {
                          "type": "string"
                        },
                        "plmSearchCrawlerUser": {
                          "type": "boolean"
                        },
                        "lastRecalculateUpdate": {
                          "type": "string"
                        },
                        "lastRecalculateStarted": {
                          "type": "string"
                        },
                        "lastMowUpdateDate": {
                          "type": "string"
                        },
                        "lastLoginTime": {
                          "type": "string"
                        },
                        "lastAccessTime": {
                          "type": "string"
                        },
                        "interfaceStyle": {
                          "type": "string"
                        },
                        "interfaceStyleMandated": {
                          "type": "boolean"
                        },
                        "entitlement": {
                          "type": "string"
                        },
                        "analyticsId": {
                          "type": "string"
                        },
                        "consumeLicense": {
                          "type": "boolean"
                        },
                        "licenseFeatureId": {
                          "type": "string"
                        },
                        "lastLicenseTimeIssued": {
                          "type": "string"
                        },
                        "enforce2fa": {
                          "type": "boolean"
                        },
                        "twoFactorAuthEnabled": {
                          "type": "boolean"
                        },
                        "ldapEnabled": {
                          "type": "boolean"
                        },
                        "signupUrl": {},
                        "regularUser": {
                          "type": "boolean"
                        },
                        "mappedToOxygen": {
                          "type": "boolean"
                        },
                        "tenantAdmin": {
                          "type": "boolean"
                        },
                        "userInactive": {
                          "type": "boolean"
                        },
                        "userStatus": {
                          "type": "string"
                        },
                        "userActive": {
                          "type": "boolean"
                        },
                        "id": {
                          "type": "string"
                        },
                        "__self__": {
                          "type": "string"
                        },
                        "urn": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "userId",
                        "loginName",
                        "delegations",
                        "dashboardCharts",
                        "displayName",
                        "firstName",
                        "lastName",
                        "active",
                        "reset",
                        "batchNotifyPref",
                        "wfNotifyPref",
                        "thumbnailPref",
                        "licenseType",
                        "title",
                        "phone",
                        "cellular",
                        "fax",
                        "email",
                        "address1",
                        "address2",
                        "city",
                        "stateProv",
                        "country",
                        "postal",
                        "timezone",
                        "organization",
                        "industry",
                        "aboutMe",
                        "uomPref",
                        "surveyDone",
                        "userNumber",
                        "dateFormat",
                        "displayNameExtended",
                        "externalAuthReservationToken",
                        "externalAuthUserId",
                        "plmSearchCrawlerUser",
                        "lastRecalculateUpdate",
                        "lastRecalculateStarted",
                        "lastMowUpdateDate",
                        "interfaceStyle",
                        "interfaceStyleMandated",
                        "entitlement",
                        "analyticsId",
                        "consumeLicense",
                        "licenseFeatureId",
                        "lastLicenseTimeIssued",
                        "enforce2fa",
                        "twoFactorAuthEnabled",
                        "ldapEnabled",
                        "signupUrl",
                        "regularUser",
                        "mappedToOxygen",
                        "tenantAdmin",
                        "userInactive",
                        "userStatus",
                        "userActive",
                        "id",
                        "__self__",
                        "urn"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/401"
            },
            "examples": {
              "application/json": {
                "errorCode": "SEC_UNAUTHORIZED",
                "message": "The request contains no authorization information.",
                "params": "",
                "url": "",
                "errorClass": "APIError"
              }
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/500"
            },
            "examples": {
              "application/json": {
                "statusCode": 0,
                "message": "string",
                "activityId": "string"
              }
            }
          }
        }
      }
    },
    "/api/v3/users": {
      "get": {
        "description": "List of all users in tenant within posibilities to filter based status",
        "operationId": "usersList",
        "summary": "Users List",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "activeOnly",
            "in": "query",
            "type": "string"
          },
          {
            "name": "mappedOnly",
            "in": "query",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {
              "Cache-Control": {
                "type": "string"
              },
              "Connection": {
                "type": "string"
              },
              "Content-Encoding": {
                "type": "string"
              },
              "Content-Length": {
                "type": "string"
              },
              "Date": {
                "type": "string"
              },
              "Expires": {
                "type": "string"
              },
              "Pragma": {
                "type": "string"
              },
              "Server": {
                "type": "string"
              },
              "Set-Cookie": {
                "type": "string"
              },
              "Strict-Transport-Security": {
                "type": "string"
              },
              "Vary": {
                "type": "string"
              },
              "X-Correlation-Id": {
                "type": "string"
              },
              "X-Frame-Options": {
                "type": "string"
              },
              "X-XSS-Protection": {
                "type": "string"
              },
              "x-request-id": {
                "type": "string"
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "object",
                          "properties": {
                            "properties": {
                              "type": "object",
                              "properties": {
                                "deleted": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "link": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "title": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "urn": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "required": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "link"
                              },
                              "example": [
                                "link",
                                "urn",
                                "title",
                                "deleted"
                              ]
                            },
                            "type": {
                              "type": "string",
                              "example": "object"
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "array"
                        }
                      }
                    }
                  }
                },
                "type": {
                  "type": "string",
                  "example": "object"
                }
              }
            },
            "examples": {
              "application/json": {
                "type": "object",
                "properties": {
                  "users": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string"
                        },
                        "urn": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "deleted": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "link",
                        "urn",
                        "title",
                        "deleted"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/401"
            },
            "examples": {
              "application/json": {
                "errorCode": "SEC_UNAUTHORIZED",
                "message": "The request contains no authorization information.",
                "params": "",
                "url": "",
                "errorClass": "APIError"
              }
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/500"
            },
            "examples": {
              "application/json": {
                "statusCode": 0,
                "message": "string",
                "activityId": "string"
              }
            }
          }
        }
      }
    },
    "/api/v3/users/{UserID}": {
      "get": {
        "description": "User Details informations\n@me = will be used actual connected user",
        "operationId": "userDetails",
        "summary": "User Details",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "UserID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {
              "Cache-Control": {
                "type": "string"
              },
              "Connection": {
                "type": "string"
              },
              "Content-Encoding": {
                "type": "string"
              },
              "Date": {
                "type": "string"
              },
              "Server": {
                "type": "string"
              },
              "Set-Cookie": {
                "type": "string"
              },
              "Strict-Transport-Security": {
                "type": "string"
              },
              "Transfer-Encoding": {
                "type": "string"
              },
              "Vary": {
                "type": "string"
              },
              "X-Correlation-Id": {
                "type": "string"
              },
              "X-Frame-Options": {
                "type": "string"
              },
              "X-XSS-Protection": {
                "type": "string"
              },
              "x-request-id": {
                "type": "string"
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "__self__": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "aboutMe": {
                      "type": "object"
                    },
                    "active": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "address1": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "address2": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "alerts": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "object",
                          "properties": {
                            "properties": {
                              "type": "object",
                              "properties": {
                                "acknowledged": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "deleted": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "link": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "message": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "priority": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "integer"
                                    }
                                  }
                                },
                                "title": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "type": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "urgent": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "urn": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "required": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "link"
                              },
                              "example": [
                                "link",
                                "urn",
                                "title",
                                "deleted",
                                "type",
                                "urgent",
                                "priority",
                                "message",
                                "acknowledged"
                              ]
                            },
                            "type": {
                              "type": "string",
                              "example": "object"
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "array"
                        }
                      }
                    },
                    "analyticsId": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "batchNotifyPref": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "cellular": {
                      "type": "object"
                    },
                    "city": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "consumeLicense": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "country": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "dashboardCharts": {
                      "type": "object"
                    },
                    "dateFormat": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "delegations": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "displayName": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "displayNameExtended": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "email": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "enforce2fa": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "entitlement": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "externalAuthReservationToken": {
                      "type": "object"
                    },
                    "externalAuthUserId": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "fax": {
                      "type": "object"
                    },
                    "firstName": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "groups": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "object",
                          "properties": {
                            "properties": {
                              "type": "object",
                              "properties": {
                                "link": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "longName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "shortName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "urn": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "required": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "shortName"
                              },
                              "example": [
                                "shortName",
                                "longName",
                                "link",
                                "urn"
                              ]
                            },
                            "type": {
                              "type": "string",
                              "example": "object"
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "array"
                        }
                      }
                    },
                    "id": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "image": {
                      "type": "object",
                      "properties": {
                        "properties": {
                          "type": "object",
                          "properties": {
                            "large": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            },
                            "medium": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            },
                            "small": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "object"
                        }
                      }
                    },
                    "industry": {
                      "type": "object"
                    },
                    "interfaceStyle": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "interfaceStyleMandated": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "lastAccessTime": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "lastLicenseTimeIssued": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "lastLoginTime": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "lastMowUpdateDate": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "lastName": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "lastRecalculateStarted": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "lastRecalculateUpdate": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "ldapEnabled": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "licenseFeatureId": {
                      "type": "object"
                    },
                    "licenseType": {
                      "type": "object",
                      "properties": {
                        "properties": {
                          "type": "object",
                          "properties": {
                            "deleted": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "boolean"
                                }
                              }
                            },
                            "description": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            },
                            "link": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
[...]
