{
  "swagger": "2.0",
  "info": {
    "title": "Fuxsy-ADSKFusionManagePaid",
    "version": "1.0",
    "description": "For more information, visit: www.fuxsy.eu",
    "contact": {
      "name": "Fuxsy s.r.o.",
      "url": "http://fuxsy.eu/",
      "email": "support@fuxsy.eu"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "http://fuxsy.eu/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "http://fuxsy.eu/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;IT Operations"
    }
  ],
  "host": "fusionmanagetaskrunnerapimanagement.azure-api.net",
  "basePath": "/plm_paid-clone",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "Subscription key": {
      "type": "apiKey",
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key"
    }
  },
  "security": [
    {
      "Subscription key": []
    }
  ],
  "paths": {
    "/api/v3/groups": {
      "get": {
        "x-ms-summary": "Retrieves a list of groups.",
        "description": "Retrieves a list of all groups available in the tenant.",
        "operationId": "groupsList",
        "summary": "Groups List",
        "tags": [
          "groups"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Specifies the index to start retrieving items from a paginated result set.",
            "description": "Specifies the starting point or index from which to retrieve items in a paginated result set. Useful for skipping a certain number of items in the list.",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Specifies the maximum number of items to return in the response.",
            "description": "Specifies the maximum number of items to return in the response. This is used to limit the size of the result set.",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sorts the results alphabetically in ascending or descending order.",
            "description": "Sorts the results alphabetically either ascending or descending depending on specified value.",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "__self__": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "groups": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "object",
                          "properties": {
                            "properties": {
                              "type": "object",
                              "properties": {
                                "__self__": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "exclusiveGroup": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "invariantName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "isSystemManaged": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "longName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "mappedToOxygen": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "minUserCount": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "integer"
                                    }
                                  }
                                },
                                "restrictIp": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "shortName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "urn": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "required": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "__self__"
                              },
                              "example": [
                                "__self__",
                                "urn",
                                "shortName",
                                "minUserCount",
                                "exclusiveGroup",
                                "restrictIp",
                                "isSystemManaged",
                                "mappedToOxygen"
                              ]
                            },
                            "type": {
                              "type": "string",
                              "example": "object"
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "array"
                        }
                      }
                    }
                  }
                },
                "type": {
                  "type": "string",
                  "example": "object"
                }
              }
            }
          },
          "204": {
            "description": "204 - No Content"
          },
          "401": {
"description": "401 - No valid bearer token found",
            "examples": {
              "application/json": {
                "errorCode": "SEC_UNAUTHORIZED",
                "message": "The request contains no authorization information.",
                "params": null,
                "url": null,
                "errorClass": "APIError"
              }
            }
          },
          "500": {
            "description": "500 - Internal Server Error",
            "examples": {
              "application/json": {
                "statusCode": 0,
                "message": "string",
                "activityId": "string"
              }
            }
          }
        }
      }
    },
    "/api/v3/groups/{GroupID}": {
      "get": {
        "x-ms-summary": "Retrieve details about a group by GroupID.",
        "description": "Retrieves detailed information about a specific group.",
        "operationId": "groupsDetails",
        "summary": "Groups Details",
        "tags": [
          "groups"
        ],
        "parameters": [
          {
            "name": "GroupID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Specifies the ID of the group to retrieve details.",
            "description": "The ID of the group for which you want to retrieve details can be obtained through the GET Groups List API call.",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "__self__": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "exclusiveGroup": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "isSystemManaged": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "mappedToOxygen": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "minUserCount": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "integer"
                        }
                      }
                    },
                    "restrictIp": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "shortName": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "urn": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    }
                  }
                },
                "type": {
                  "type": "string",
                  "example": "object"
                }
              }
            }
          },
          "401": {
"description": "401 - No valid bearer token found",
            "examples": {
              "application/json": {
                "errorCode": "SEC_UNAUTHORIZED",
                "message": "No valid bearer token found.",
                "params": null,
                "url": null,
                "errorClass": "APIError"
              }
            }
          },
          "404": {
            "description": "404 - Not found",
            "examples": {
              "application/json": {
                "statusCode": 0,
                "errors": [
                  "string"
                ],
                "message": "string"
              }
            }
          },
          "500": {
            "description": "500 - Internal Server Error",
            "examples": {
              "application/json": {
                "statusCode": 0,
                "message": "string",
                "activityId": "string"
              }
            }
          }
        }
      }
    },
    "/api/v3/groups/{GroupID}/users": {
      "get": {
        "x-ms-summary": "Retrieve a list of users in a group by GroupID.",
        "description": "Retrieves a list of users and their details for a specific group.",
        "operationId": "usersInGroup",
        "summary": "Users In Group",
        "tags": [
          "groups"
        ],
        "parameters": [
          {
            "name": "GroupID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Specifies the ID of the group for which to retrieve details.",
            "description": "The ID of the group for which you want to retrieve details can be obtained through the GET Groups List API call.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Specifies the starting index for retrieving items in a paginated result set.",
            "description": "Specifies the starting point or index from which to retrieve items in a paginated result set. Useful for skipping a certain number of items in the list.",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Specifies the maximum number of items to return in the response.",
            "description": "Specifies the maximum number of items to return in the response. This is used to limit the size of the result set.",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "__self__": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "first": {
                      "type": "object",
                      "properties": {
                        "properties": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "integer"
                                }
                              }
                            },
                            "deleted": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "boolean"
                                }
                              }
                            },
                            "link": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            },
                            "title": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "object"
                        }
                      }
                    },
                    "items": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "object",
                          "properties": {
                            "properties": {
                              "type": "object",
                              "properties": {
                                "__self__": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "aboutMe": {
                                  "type": "object"
                                },
                                "active": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "address1": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "address2": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "analyticsId": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "batchNotifyPref": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "cellular": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "city": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "consumeLicense": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "country": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "dashboardCharts": {
                                  "type": "object"
                                },
                                "dateFormat": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "delegations": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "example": "userId"
                                  }
                                },
                                "displayName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "displayNameExtended": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "email": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "enforce2fa": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "entitlement": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "externalAuthReservationToken": {
                                  "type": "object"
                                },
                                "externalAuthUserId": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "fax": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "firstName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "id": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "industry": {
                                  "type": "object"
                                },
                                "interfaceStyle": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "interfaceStyleMandated": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "lastAccessTime": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "lastLicenseTimeIssued": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "lastLoginTime": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "lastMowUpdateDate": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "lastName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "lastRecalculateStarted": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "lastRecalculateUpdate": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "ldapEnabled": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "licenseFeatureId": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "licenseType": {
                                  "type": "object",
                                  "properties": {
                                    "properties": {
                                      "type": "object",
                                      "properties": {
                                        "deleted": {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "example": "boolean"
                                            }
                                          }
                                        },
                                        "description": {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "example": "string"
                                            }
                                          }
                                        },
                                        "link": {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "example": "string"
                                            }
                                          }
                                        },
                                        "title": {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "example": "string"
                                            }
                                          }
                                        },
                                        "type": {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "example": "string"
                                            }
                                          }
                                        },
                                        "urn": {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "example": "string"
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "type": {
                                      "type": "string",
                                      "example": "object"
                                    }
                                  }
                                },
                                "loginName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "mappedToOxygen": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "organization": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "phone": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "plmSearchCrawlerUser": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "postal": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "regularUser": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "reset": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "signupUrl": {
                                  "type": "object"
                                },
                                "stateProv": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "surveyDone": {
                                  "type": "object"
                                },
                                "tenantAdmin": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "thumbnailPref": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "timezone": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "title": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "twoFactorAuthEnabled": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "uomPref": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "urn": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "userActive": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "userId": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "userInactive": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "userNumber": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "integer"
                                    }
                                  }
                                },
                                "userStatus": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "wfNotifyPref": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "required": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "userId"
                              },
                              "example": [
                                "userId",
                                "loginName",
                                "delegations",
                                "dashboardCharts",
                                "displayName",
                                "firstName",
                                "lastName",
                                "active",
                                "reset",
                                "batchNotifyPref",
                                "wfNotifyPref",
                                "thumbnailPref",
                                "licenseType",
                                "title",
                                "phone",
                                "cellular",
                                "fax",
                                "email",
                                "address1",
                                "address2",
                                "city",
                                "stateProv",
                                "country",
                                "postal",
                                "timezone",
                                "organization",
                                "industry",
                                "aboutMe",
                                "uomPref",
                                "surveyDone",
                                "userNumber",
                                "dateFormat",
                                "displayNameExtended",
                                "externalAuthReservationToken",
                                "externalAuthUserId",
                                "plmSearchCrawlerUser",
                                "lastRecalculateUpdate",
                                "lastRecalculateStarted",
                                "lastMowUpdateDate",
                                "interfaceStyle",
                                "interfaceStyleMandated",
                                "entitlement",
                                "analyticsId",
                                "consumeLicense",
                                "licenseFeatureId",
                                "lastLicenseTimeIssued",
                                "enforce2fa",
                                "twoFactorAuthEnabled",
                                "ldapEnabled",
                                "signupUrl",
                                "regularUser",
                                "mappedToOxygen",
                                "tenantAdmin",
                                "userInactive",
                                "userStatus",
                                "userActive",
                                "id",
                                "__self__",
                                "urn"
                              ]
                            },
                            "type": {
                              "type": "string",
                              "example": "object"
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "array"
                        }
                      }
                    },
                    "last": {
                      "type": "object",
                      "properties": {
                        "properties": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "integer"
                                }
                              }
                            },
                            "deleted": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "boolean"
                                }
                              }
                            },
                            "link": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            },
                            "title": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "object"
                        }
                      }
                    },
                    "limit": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "integer"
                        }
                      }
                    },
                    "offset": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "integer"
                        }
                      }
                    },
                    "totalCount": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "integer"
                        }
                      }
                    }
                  }
                },
                "type": {
                  "type": "string",
                  "example": "object"
                }
              }
            }
          },
          "401": {
"description": "401 - No valid bearer token found",
            "examples": {
              "application/json": {
                "errorCode": "SEC_UNAUTHORIZED",
                "message": "No valid bearer token found.",
                "params": null,
                "url": null,
                "errorClass": "APIError"
              }
            }
          },
          "500": {
            "description": "500 - Internal Server Error",
            "examples": {
              "application/json": {
                "statusCode": 0,
                "message": "string",
                "activityId": "string"
              }
            }
          }
        }
      }
    },
    "/api/v3/users": {
      "get": {
        "x-ms-summary": "Retrieve a list of users.",
        "description": "Retrieves a list of all users in the tenant with the option to filter by status.",
        "operationId": "usersList",
        "summary": "Users List",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "activeOnly",
            "in": "query",
            "x-ms-summary": "Indicates whether to show only active users.",
            "description": "If set to true, shows only users who are currently active.",
            "type": "string"
          },
          {
            "name": "mappedOnly",
            "in": "query",
            "x-ms-summary": "mappedOnly",
            "description": "If set to true, shows only users who are mappedOnly",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sorts the results alphabetically in ascending or descending order.",
            "description": "Sorts the results alphabetically either ascending or descending depending on specified value.",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "object",
                          "properties": {
                            "properties": {
                              "type": "object",
                              "properties": {
                                "deleted": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "link": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "title": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "urn": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "required": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "link"
                              },
                              "example": [
                                "link",
                                "urn",
                                "title",
                                "deleted"
                              ]
                            },
                            "type": {
                              "type": "string",
                              "example": "object"
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "array"
                        }
                      }
                    }
                  }
                },
                "type": {
                  "type": "string",
                  "example": "object"
                }
              }
            }
          },
          "401": {
"description": "401 - No valid bearer token found",
            "examples": {
              "application/json": {
                "errorCode": "SEC_UNAUTHORIZED",
                "message": "No valid bearer token found.",
                "params": null,
                "url": null,
                "errorClass": "APIError"
              }
            }
          },
          "500": {
            "description": "500 - Internal Server Error",
            "examples": {
              "application/json": {
                "statusCode": 0,
                "message": "string",
                "activityId": "string"
              }
            }
          }
        }
      }
    },
    "/api/v3/users/{UserID}": {
      "get": {
        "x-ms-summary": "Retrieve user's details By UserID.",
        "description": "Retrieves detailed information about the specified user. If @me is used, the API will return details about the user making the API call.",
        "operationId": "userDetails",
        "summary": "User Details",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "UserID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Specifies the ID of the user to retrieve details.",
            "description": "The ID of the user for which you want to retrieve details can be obtained through the GET Users List API call.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "__self__": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "aboutMe": {
                      "type": "object"
                    },
                    "active": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "address1": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "address2": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "alerts": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "object",
                          "properties": {
                            "properties": {
                              "type": "object",
                              "properties": {
                                "acknowledged": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "deleted": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "link": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "message": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "priority": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "integer"
                                    }
                                  }
                                },
                                "title": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "type": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "urgent": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "urn": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "required": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "link"
                              },
                              "example": [
                                "link",
                                "urn",
                                "title",
                                "deleted",
                                "type",
                                "urgent",
                                "priority",
                                "message",
                                "acknowledged"
                              ]
                            },
                            "type": {
                              "type": "string",
                              "example": "object"
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "array"
                        }
                      }
                    },
                    "analyticsId": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "batchNotifyPref": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "cellular": {
                      "type": "object"
                    },
                    "city": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "consumeLicense": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "country": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "dashboardCharts": {
                      "type": "object"
                    },
                    "dateFormat": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "delegations": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "displayName": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "displayNameExtended": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "email": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "enforce2fa": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "entitlement": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "externalAuthReservationToken": {
                      "type": "object"
                    },
                    "externalAuthUserId": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "fax": {
                      "type": "object"
                    },
                    "firstName": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "groups": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "object",
                          "properties": {
                            "properties": {
                              "type": "object",
                              "properties": {
                                "link": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "longName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "shortName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "urn": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "required": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "shortName"
                              },
                              "example": [
                                "shortName",
                                "longName",
                                "link",
                                "urn"
                              ]
                            },
                            "type": {
                              "type": "string",
                              "example": "object"
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "array"
                        }
                      }
                    },
                    "id": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "image": {
                      "type": "object",
                      "properties": {
                        "properties": {
                          "type": "object",
                          "properties": {
                            "large": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            },
                            "medium": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            },
                            "small": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "object"
                        }
                      }
                    },
                    "industry": {
                      "type": "object"
                    },
                    "interfaceStyle": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "interfaceStyleMandated": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "lastAccessTime": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "lastLicenseTimeIssued": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "lastLoginTime": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "lastMowUpdateDate": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "lastName": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "lastRecalculateStarted": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "lastRecalculateUpdate": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "ldapEnabled": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "licenseFeatureId": {
                      "type": "object"
                    },
                    "licenseType": {
                      "type": "object",
                      "properties": {
                        "properties": {
                          "type": "object",
                          "properties": {
                            "deleted": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "boolean"
                                }
                              }
                            },
                            "description": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            },
                            "link": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            },
                            "title": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            },
                            "type": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            },
                            "urn": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "object"
                        }
                      }
                    },
                    "loginName": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "mappedToOxygen": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "organization": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "phone": {
                      "type": "object"
                    },
                    "plmSearchCrawlerUser": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "postal": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "preferences": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "regularUser": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "reset": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "showEnableFullAccess": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "signupUrl": {
                      "type": "object"
                    },
                    "stateProv": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "surveyDone": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "tenantAdmin": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "thumbnailPref": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "timezone": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "title": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "twoFaEnabled": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "twoFactorAuthEnabled": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "uomPref": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "urn": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "userActive": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "userId": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "userInactive": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "boolean"
                        }
                      }
                    },
                    "userNumber": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "integer"
                        }
                      }
                    },
                    "userStatus": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "wfNotifyPref": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    }
                  }
                },
                "type": {
                  "type": "string",
                  "example": "object"
                }
              }
            }
          },
          "401": {
"description": "401 - No valid bearer token found",
            "examples": {
              "application/json": {
                "errorCode": "SEC_UNAUTHORIZED",
                "message": "No valid bearer token found.",
                "params": null,
                "url": null,
                "errorClass": "APIError"
              }
            }
          },
          "404": {
            "description": "404 - Not found",
            "examples": {
              "application/json": {
                "statusCode": 0,
                "errors": [
                  "string"
                ],
                "message": "string"
              }
            }
          },
          "500": {
            "description": "500 - Internal Server Error",
            "examples": {
              "application/json": {
                "statusCode": 0,
                "message": "string",
                "activityId": "string"
              }
            }
          }
        }
      }
    },
    "/api/v3/users/{UserID}/permissions": {
      "get": {
        "x-ms-summary": "Retrieve a list of user's permissions.",
        "description": "Retrieves a list of all permissions assigned to a specific user.",
        "operationId": "userPermissionsList",
        "summary": "User list of Permissions",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "UserID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Specifies the ID of the user for which to retrieve details.",
            "description": "The ID of the user for which you want to retrieve details can be obtained through the GET Users List API call.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "permissions": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "object",
                          "properties": {
                            "properties": {
                              "type": "object",
                              "properties": {
                                "deleted": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "boolean"
                                    }
                                  }
                                },
                                "link": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "name": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "title": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "urn": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "required": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "link"
                              },
                              "example": [
                                "link",
                                "urn",
                                "name",
                                "title",
                                "deleted"
                              ]
                            },
                            "type": {
                              "type": "string",
                              "example": "object"
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "array"
                        }
                      }
                    }
                  }
                },
                "type": {
                  "type": "string",
                  "example": "object"
                }
              }
            }
          },
          "401": {
"description": "401 - No valid bearer token found",
            "examples": {
              "application/json": {
                "errorCode": "SEC_UNAUTHORIZED",
                "message": "No valid bearer token found.",
                "params": null,
                "url": null,
                "errorClass": "APIError"
              }
            }
          },
          "404": {
            "description": "404 - Not found",
            "examples": {
              "application/json": {
                "statusCode": 0,
                "errors": [
                  "string"
                ],
                "message": "string"
              }
            }
          },
          "500": {
            "description": "500 - Internal Server Error",
            "examples": {
              "application/json": {
                "statusCode": 0,
                "message": "string",
                "activityId": "string"
              }
            }
          }
        }
      }
    },
    "/api/v3/workspaces/{WorkspaceID}/users/{UserID}/permissions/{PermissionID}": {
      "get": {
        "x-ms-summary": "Retrieve user's permission details.",
        "description": "Retrieves the permission details for a specific user within a specific workspace, based on the provided permission ID.",
        "operationId": "userPermissionDetails",
        "summary": "User Permission Detail",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "WorkspaceID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Specifies the ID of the workspace to retrieve details.",
            "description": "The ID of the workspace for which you want to retrieve details can be obtained through the GET Workspace List API call.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "UserID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Specifies the ID of the user to retrieve details.",
            "description": "The ID of the user for which you want to retrieve details can be obtained through the GET Users List API call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "PermissionID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Specifies the ID of the permission to retrieve details.",
            "description": "The ID of the permission for which you want to retrieve details can be obtained through the GET Permission List API call.",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "__self__": {
                      "type": "object",
                      "properties": {
[...]
