{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Rebrandly",
    "description": "Rebrandly is a custom URL shortener and serves as a link management platform to brand, track and share short URLs using a custom domain name.",
    "contact": {
      "name": "Vivek Bavishi",
      "url": "https://thatapiguy.tech",
      "email": "vivekbavishi@thatapiguy.tech"
    }
  },
  "host": "api.rebrandly.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/account": {
      "get": {
        "summary": "Get Account Details",
        "description": "Retrieves your Account Details",
        "operationId": "GetAccountDetails",
        "parameters": [],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Id of the Account"
                },
                "fullName": {
                  "type": "string",
                  "description": "Full Name of the account owner"
                },
                "username": {
                  "type": "string",
                  "description": "User Name of the account owner"
                },
                "email": {
                  "type": "string",
                  "description": "Email address of the account owner"
                },
                "avatarUrl": {
                  "type": "string",
                  "description": "Avatar URL of the account"
                },
                "createdAt": {
                  "type": "string",
                  "description": "Creation date of Account"
                },
                "subscription": {
                  "type": "object",
                  "properties": {
                    "createdAt": {
                      "type": "string",
                      "description": "Date when subscription was started"
                    },
                    "limits": {
                      "type": "object",
                      "properties": {
                        "links": {
                          "type": "object",
                          "properties": {
                            "used": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Number of links created so far"
                            },
                            "max": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Max number of links that can be created"
                            }
                          },
                          "description": "Branded short links are the main Rebrandly resource."
                        },
                        "domains": {
                          "type": "object",
                          "properties": {
                            "used": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Number of domains created so far"
                            },
                            "max": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Max number of domains that can be created"
                            }
                          },
                          "description": "Branded domains allow you to create your custom link shortener."
                        },
                        "workspaces": {
                          "type": "object",
                          "properties": {
                            "used": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Number of workspaces created so far"
                            },
                            "max": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Max number of workspaces that can be created"
                            }
                          },
                          "description": "Rebrandly links, together with tags and retargeting scripts attached to them, exist in a specific Workspace"
                        },
                        "teammates": {
                          "type": "object",
                          "properties": {
                            "used": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Number of teammates created so far"
                            },
                            "max": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Max number of teammates that can be created"
                            }
                          },
                          "description": "Team mates are the users in a workspace."
                        },
                        "tags": {
                          "type": "object",
                          "properties": {
                            "used": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Number of tags created so far"
                            },
                            "max": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Max number of tags that can be created"
                            }
                          },
                          "description": "Tags are used to better organize your branded links collection."
                        },
                        "scripts": {
                          "type": "object",
                          "properties": {
                            "used": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Number of scripts created so far"
                            },
                            "max": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Max number of scripts that can be created"
                            }
                          },
                          "description": "You can run custom scripts at redirection time on your short links. Every time someone clicks on your links, your script will run on his browser."
                        }
                      },
                      "description": "Limits on the account"
                    }
                  },
                  "description": "An account's ubscription"
                }
              }
            }
          }
        }
      }
    },
    "/domains": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Id of the domain"
                  },
                  "fullName": {
                    "type": "string",
                    "description": "Full Name of the domain"
                  }
                }
              }
            }
          }
        },
        "summary": "List Domains",
        "description": "Retrieves a list of Domains",
        "operationId": "ListDomains",
        "parameters": []
      }
    },
    "/links": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "ID of the URL"
                  },
                  "title": {
                    "type": "string",
                    "description": "Title of the URL"
                  },
                  "slashtag": {
                    "type": "string",
                    "description": "URL's slashtag"
                  },
                  "destination": {
                    "type": "string",
                    "description": "Destination of the Short-URL"
                  },
                  "createdAt": {
                    "type": "string",
                    "description": "Creation Date of the URL"
                  },
                  "updatedAt": {
                    "type": "string",
                    "description": "Last update date of the URL"
                  },
                  "shortUrl": {
                    "type": "string",
                    "description": "Short URL"
                  },
                  "domain": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Id of the domain"
                      },
                      "fullName": {
                        "type": "string",
                        "description": "Full Name of the domain"
                      }
                    },
                    "description": "Branded domain"
                  }
                }
              }
            }
          }
        },
        "summary": "List Links",
        "description": "Get a list of links",
        "operationId": "ListLinks",
        "parameters": [
          {
            "name": "domain.id",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListDomains",
              "value-path": "id",
              "value-title": "fullName"
            },
            "description": "Filter branded short links which refer to a specific branded domain",
            "x-ms-summary": "Domain"
          },
          {
            "name": "slashtag",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter branded short links according to their slashtag value.",
            "x-ms-summary": "Slashtag"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sorting criteria to apply to your branded short links collection",
            "x-ms-summary": "Order By",
            "enum": [
              "createdAt",
              "title",
              "slashtag"
            ]
          },
          {
            "name": "orderDir",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sorting direction to apply to your branded short links collection",
            "x-ms-summary": "Sorting Order",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "How many branded short links to load (max: 25)",
            "x-ms-summary": "Limit"
          },
          {
            "name": "Workspace",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspaces",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Workspace",
            "description": "Workspace to filter the links by"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID of the URL"
                },
                "title": {
                  "type": "string",
                  "description": "Title of the URL"
                },
                "slashtag": {
                  "type": "string",
                  "description": "URL's slashtag"
                },
                "destination": {
                  "type": "string",
                  "description": "Destination of the Short-URL"
                },
                "createdAt": {
                  "type": "string",
                  "description": "Creation Date of the URL"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "Last update date of the URL"
                },
                "shortUrl": {
                  "type": "string",
                  "description": "Short URL"
                },
                "domain": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Id of the domain"
                    },
                    "fullName": {
                      "type": "string",
                      "description": "Full Name of the domain"
                    }
                  },
                  "description": "Branded domain"
                }
              }
            }
          }
        },
        "summary": "Create Link",
        "description": "Creates a new link",
        "operationId": "CreateLink",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "destination": {
                  "type": "string",
                  "description": "The destination URL you want your branded short link to point to.",
                  "title": "Destination"
                },
                "slashtag": {
                  "type": "string",
                  "description": "The keyword portion of your branded short link.",
                  "title": "Slashtag"
                },
                "domain": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A reference to the Branded Domain resource for this branded short link.",
                      "title": "Domain",
                      "x-ms-dynamic-values": {
                        "operationId": "ListDomains",
                        "value-path": "id",
                        "value-title": "fullName"
                      }
                    }
                  },
                  "description": "A reference to the Branded Domain resource for this branded short link."
                },
                "title": {
                  "type": "string",
                  "description": "A title you assign to the branded short link in order to remember what's behind it. A random title will be assigned to the link if you do not specify one.",
                  "title": "Title"
                }
              }
            }
          }
        ]
      }
    },
    "/workspaces": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Id of he workspace"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the workspace"
                  },
                  "avatarUrl": {
                    "type": "string",
                    "description": "Avatar Url of the workspace"
                  },
                  "role": {
                    "type": "string",
                    "description": "Role of the workspace"
                  }
                }
              }
            }
          }
        },
        "summary": "List Workspaces",
        "description": "Get all workspaces you either own or participate into as a member",
        "operationId": "ListWorkspaces",
        "parameters": [
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sorting criteria to apply to your workspaces collection",
            "x-ms-summary": "Order By",
            "enum": [
              "createdAt",
              "updatedAt"
            ]
          },
          {
            "name": "orderDir",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sorting direction to apply to your workspaces collection",
            "x-ms-summary": "Sorting Order",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Limit",
            "description": "How many workspaces to load (max: 25)"
          }
        ]
      }
    },
    "/links/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID of the URL"
                },
                "title": {
                  "type": "string",
                  "description": "Title of the URL"
                },
                "slashtag": {
                  "type": "string",
                  "description": "URL's slashtag"
                },
                "destination": {
                  "type": "string",
                  "description": "Destination of the Short-URL"
                },
                "createdAt": {
                  "type": "string",
                  "description": "Creation Date of the URL"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "Last update date of the URL"
                },
                "shortUrl": {
                  "type": "string",
                  "description": "Short URL"
                },
                "domain": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Id of the domain"
                    },
                    "fullName": {
                      "type": "string",
                      "description": "Full Name of the domain"
                    }
                  },
                  "description": "Branded domain"
                }
              }
            }
          }
        },
        "summary": "Get Link",
        "description": "Gets details of a link",
        "operationId": "GetLink",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListLinks",
              "value-path": "id",
              "value-title": "shortUrl"
            },
            "x-ms-summary": "Id",
            "description": "Link to get details of"
          },
          {
            "name": "Workspace",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-summary": "Workspace",
            "description": "Workspace to filter the links by"
          }
        ]
      },
      "delete": {
        "summary": "Delete link",
        "description": "Deletes a link",
        "operationId": "DeleteLink",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListLinks",
              "value-path": "id",
              "value-title": "title"
            },
            "x-ms-summary": "Id",
            "description": "Link to be deleted"
          },
          {
            "name": "Workspace",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspaces",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Workspace",
            "description": "Workspace to filter the links by"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID of the URL"
                },
                "title": {
                  "type": "string",
                  "description": "Title of the URL"
                },
                "slashtag": {
                  "type": "string",
                  "description": "URL's slashtag"
                },
                "destination": {
                  "type": "string",
                  "description": "Destination of the Short-URL"
                },
                "createdAt": {
                  "type": "string",
                  "description": "Creation Date of the URL"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "Last update date of the URL"
                },
                "shortUrl": {
                  "type": "string",
                  "description": "Short URL"
                },
                "domain": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Id of the domain"
                    },
                    "fullName": {
                      "type": "string",
                      "description": "Full Name of the domain"
                    }
                  },
                  "description": "Branded domain"
                }
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID of the URL"
                },
                "title": {
                  "type": "string",
                  "description": "Title of the URL"
                },
                "slashtag": {
                  "type": "string",
                  "description": "URL's slashtag"
                },
                "destination": {
                  "type": "string",
                  "description": "Destination of the Short-URL"
                },
                "createdAt": {
                  "type": "string",
                  "description": "Creation Date of the URL"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "Last update date of the URL"
                },
                "shortUrl": {
                  "type": "string",
                  "description": "Short URL"
                },
                "domain": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Id of the domain"
                    },
                    "fullName": {
                      "type": "string",
                      "description": "Full Name of the domain"
                    }
                  },
                  "description": "Branded domain"
                }
              }
            }
          }
        },
        "summary": "Update Link",
        "description": "Updates an existing link",
        "operationId": "UpdateLink",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListLinks",
              "value-path": "id",
              "value-title": "title"
            },
            "description": "Link that needs to be updated",
            "x-ms-summary": "Link ID"
          },
          {
            "name": "Workspace",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspaces",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Workspace",
            "description": "Workspace to filter the links by"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "destination": {
                  "type": "string",
                  "x-ms-summary": "Destination URL",
                  "description": "The destination URL you want your branded short link to point to."
                },
                "title": {
                  "type": "string",
                  "x-ms-summary": "Title",
                  "description": "A title you assign to the branded short link in order to remember what's behind it."
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "apiKey"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.rebrandly.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.rebrandly.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing;Social Media"
    }
  ]
}