{
  "swagger": "2.0",
  "info": {
    "title": "Airtable Cloud (Independent Publisher)",
    "description": "Airtable is a versatile collaboration platform that combines the familiar layout of a spreadsheet with the power of a database. It allows users to organize information into tables, with each table containing rows and columns similar to a spreadsheet.",
    "version": "1.0"
  },
  "host": "api.airtable.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v0/{baseId}/{tableIdOrName}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "records": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "createdTime": {
                        "type": "string",
                        "description": "createdTime"
                      },
                      "fields": {
                        "type": "object",
                        "properties": {
                          "Address": {
                            "type": "string",
                            "description": "Address"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          }
                        },
                        "description": "fields"
                      }
                    }
                  },
                  "description": "records"
                }
              }
            }
          }
        },
        "summary": "Get Record From Table",
        "description": "This Api is used to get all rows record from your table for this you need to pass base id and table id as a request type.",
        "operationId": "GetTableRecord",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "This parameter indicate that response and request format will be json."
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "records": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "deleted": {
                        "type": "boolean",
                        "description": "deleted"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      }
                    }
                  },
                  "description": "records"
                }
              }
            }
          }
        },
        "summary": "Delete Multiple Records",
        "description": "This action items is used to delete multiple table rows.",
        "operationId": "DeleteMultipleRecords",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "{deleteQueryString}",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "This parameter indicate that response and request format will be json."
          }
        ]
      },
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "records": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "createdTime": {
                        "type": "string",
                        "description": "createdTime"
                      },
                      "fields": {
                        "type": "object",
                        "properties": {
                          "Address": {
                            "type": "string",
                            "description": "Address"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          }
                        },
                        "description": "fields"
                      }
                    }
                  },
                  "description": "records"
                }
              }
            }
          }
        },
        "summary": "Update Multiple Records In Table",
        "description": "This action item is used to update multiple records in table at the same time.",
        "operationId": "UpdateMutipleTableRows",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "This parameter indicate that response and request format will be json.",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ]
      }
    },
    "/v0/meta/bases": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "permissionLevel": {
                    "type": "string",
                    "description": "permissionLevel"
                  }
                }
              }
            }
          }
        },
        "summary": "Get List of Base",
        "description": "Using this action you can get all list of base",
        "operationId": "GetBaseList",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Header Request parameter to get response as a json",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "tables": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "primaryFieldId": {
                        "type": "string",
                        "description": "primaryFieldId"
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "description": {
                              "type": "string",
                              "description": "description"
                            },
                            "options": {
                              "type": "object",
                              "properties": {
                                "icon": {
                                  "type": "string",
                                  "description": "icon"
                                },
                                "color": {
                                  "type": "string",
                                  "description": "color"
                                }
                              },
                              "description": "options"
                            }
                          }
                        },
                        "description": "fields"
                      },
                      "views": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            }
                          }
                        },
                        "description": "views"
                      }
                    }
                  },
                  "description": "tables"
                }
              }
            }
          }
        },
        "summary": "Create workspace base",
        "description": "Base create inside particular workspace. It contain multiple tables to store different category data.",
        "operationId": "CreateWorkSpaceBase",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "This parameter indicate that response and request format will be json.",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ]
      }
    },
    "/v0/meta/bases/{baseId}/tables": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "tables": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "primaryFieldId": {
                        "type": "string",
                        "description": "primaryFieldId"
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "description": {
                              "type": "string",
                              "description": "description"
                            }
                          }
                        },
                        "description": "fields"
                      },
                      "views": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            }
                          }
                        },
                        "description": "views"
                      }
                    }
                  },
                  "description": "tables"
                }
              }
            }
          }
        },
        "summary": "Get Base Tables List",
        "description": "Get all list of table that has been created inside particular base.",
        "operationId": "GetBaseTables",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "primaryFieldId": {
                  "type": "string",
                  "description": "primaryFieldId"
                },
                "fields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      }
                    }
                  },
                  "description": "fields"
                },
                "views": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      }
                    }
                  },
                  "description": "views"
                }
              }
            }
          }
        },
        "summary": "Create table inside base",
        "description": "This action item is used for create a table inside particular base.",
        "operationId": "CreateBaseTable",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "This parameter indicate that response and request format will be json.",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ]
      }
    },
    "/v0/meta/bases/{baseId}/{tableId}": {},
    "/v0/{baseId}/{tableId}": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "records": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "createdTime": {
                        "type": "string",
                        "description": "createdTime"
                      },
                      "fields": {
                        "type": "object",
                        "properties": {
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "Address": {
                            "type": "string",
                            "description": "Address"
                          }
                        },
                        "description": "fields"
                      }
                    }
                  },
                  "description": "records"
                }
              }
            }
          }
        },
        "summary": "Create Table Rows",
        "description": "This action item used to create row into table as a row. You can insert one or more row using this api.",
        "operationId": "CreateTableRows",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "This parameter indicate that response and request format will be json.",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ]
      }
    },
    "/v0/{baseId}/{tableIdOrName}/{recordId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "createdTime": {
                  "type": "string",
                  "description": "createdTime"
                },
                "fields": {
                  "type": "object",
                  "properties": {
                    "Address": {
                      "type": "string",
                      "description": "Address"
                    },
                    "Name": {
                      "type": "string",
                      "description": "Name"
                    }
                  },
                  "description": "fields"
                }
              }
            }
          }
        },
        "summary": "Get Single Record From Table",
        "description": "This action item is used to get single record from table.",
        "operationId": "GetSingleTableRecord",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "This parameter indicate that response and request format will be json."
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "deleted": {
                  "type": "boolean",
                  "description": "deleted"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                }
              }
            }
          }
        },
        "summary": "Delete Single Record",
        "description": "This action item is used to delete single record from airtable base table",
        "operationId": "DeleteSingleRecors",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "This parameter indicate that response and request format will be json.",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "createdTime": {
                  "type": "string",
                  "description": "createdTime"
                },
                "fields": {
                  "type": "object",
                  "properties": {
                    "Address": {
                      "type": "string",
                      "description": "Address"
                    },
                    "Name": {
                      "type": "string",
                      "description": "Name"
                    }
                  },
                  "description": "fields"
                }
              }
            }
          }
        },
        "summary": "Update single row in table",
        "description": "This action is used to update single action items in table.",
        "operationId": "UpdateSingleTableRow",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "This parameter indicate that response and request format will be json.",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ]
      }
    },
    "/v0/{baseId}/{tableIdOrName}/ ": {},
    "/v0/meta/bases/{baseId}/tables/{tableId}/fields": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                }
              }
            }
          }
        },
        "summary": "Create Field(Column) In table",
        "description": "This action item is used to create new column into a table",
        "operationId": "CreateTableColumn",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "x-ms-summary": "",
            "description": "This parameter indicate that response and request format will be json."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ]
      }
    },
    "/v0/meta/bases/{baseId}/tables/{tableId}/fields/{columnId}": {
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                }
              }
            }
          }
        },
        "summary": "Update field(column) In table",
        "description": "This action item is used to update column name into table",
        "operationId": "UpdateTableColumn",
        "parameters": [
          {
            "name": "baseId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "columnId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "This parameter indicate that response and request format will be json.",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "Authorization": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "Authorization": []
    }
  ],
  "tags": []
}