{
  "swagger": "2.0",
  "info": {
    "title": "Infura Ethereum",
    "description": "The Infura Ethereum Connector uses the Infura JSON-RPC API to access the Ethereum Blockchain.",
    "version": "1.0",
    "contact": {
      "name": "Sebastian Zolg",
      "url": "https://sebastianzolg.de",
      "email": "sebastian.zolg@leantify.com"
    }
  },
  "host": "mainnet.infura.io",
  "basePath": "/v3",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/eth_gasPrice": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "integer",
                  "description": "Result",
                  "title": "Result",
                  "x-ms-visibility": "important",
                  "format": "int32"
                }
              }
            }
          }
        },
        "summary": "Get Gas Price",
        "description": "Returns the current price per gas in wei.",
        "operationId": "Eth_gasPrice",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "jsonrpc": {
                  "type": "string",
                  "description": "jsonrpc",
                  "default": "2.0",
                  "x-ms-visibility": "internal"
                },
                "method": {
                  "type": "string",
                  "description": "method",
                  "default": "eth_gasPrice",
                  "x-ms-visibility": "internal"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id",
                  "default": 1,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "id",
                "jsonrpc",
                "method"
              ]
            }
          }
        ]
      }
    },
    "/eth_blockNumber": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "integer",
                  "description": "Result",
                  "title": "Result",
                  "x-ms-visibility": "important",
                  "format": "int64"
                }
              }
            }
          }
        },
        "summary": "Get Block Number",
        "description": "Returns the number of most recent block.",
        "operationId": "Eth_blockNumber",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "jsonrpc": {
                  "type": "string",
                  "description": "jsonrpc",
                  "default": "2.0",
                  "x-ms-visibility": "internal"
                },
                "method": {
                  "type": "string",
                  "description": "method",
                  "default": "eth_blockNumber",
                  "x-ms-visibility": "internal"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id",
                  "default": 1,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "id",
                "jsonrpc",
                "method"
              ]
            }
          }
        ]
      }
    },
    "/eth_getBalance": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "integer",
                  "description": "Result",
                  "title": "Result",
                  "x-ms-visibility": "important",
                  "format": "int64"
                }
              }
            }
          }
        },
        "summary": "Get Balance",
        "description": "Returns the balance of the account of given address.",
        "operationId": "Eth_getBalance",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "jsonrpc": {
                  "type": "string",
                  "description": "jsonrpc",
                  "default": "2.0",
                  "x-ms-visibility": "internal"
                },
                "method": {
                  "type": "string",
                  "description": "method",
                  "default": "eth_getBalance",
                  "x-ms-visibility": "internal"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id",
                  "default": 1,
                  "x-ms-visibility": "internal"
                },
                "params": {
                  "type": "object",
                  "properties": {
                    "Address": {
                      "type": "string",
                      "description": "Address"
                    },
                    "Block": {
                      "type": "string",
                      "description": "Block",
                      "enum": [
                        "latest",
                        "earliest",
                        "pending"
                      ],
                      "default": "latest"
                    }
                  }
                }
              },
              "required": [
                "id",
                "jsonrpc",
                "method",
                "params"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://infura.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://consensys.net/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance;Data"
    }
  ]
}