{
  "swagger": "2.0",
  "info": {
    "title": "ElevenLabs",
    "description": "ElevenLabs is a voice technology research company, developing the most compelling AI speech software for publishers and creators. They provide text-to-speech models which rely on high compression and context understanding to render human speech ultra-realistically.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.elevenlabs.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/text-to-speech/{voice_id}": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The content type.",
                  "title": "Content Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The file content.",
                  "title": "Content"
                }
              }
            }
          }
        },
        "summary": "Convert text to speech",
        "description": "Converts text into speech using a voice of your choice and returns audio.",
        "operationId": "Text2SpeechPost",
        "parameters": [
          {
            "name": "voice_id",
            "in": "path",
            "x-ms-summary": "Voice ID",
            "x-ms-url-encoding": "single",
            "description": "The voice identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "VoicesGet",
              "value-path": "voice_id",
              "value-collection": "voices",
              "value-title": "name"
            }
          },
          {
            "name": "optimize_streaming_latency",
            "in": "query",
            "x-ms-summary": "Streaming Latency",
            "description": "The streaming latency optimization.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "The text.",
                  "title": "Text"
                },
                "model_id": {
                  "type": "string",
                  "description": "The model identifier.",
                  "title": "Model ID",
                  "default": "eleven_monolingual_v1",
                  "x-ms-dynamic-values": {
                    "operationId": "ModelsGet",
                    "value-path": "model_id",
                    "value-title": "name"
                  }
                },
                "voice_settings": {
                  "type": "object",
                  "properties": {
                    "stability": {
                      "type": "number",
                      "format": "float",
                      "description": "The stability.",
                      "title": "Stability"
                    },
                    "similarity_boost": {
                      "type": "number",
                      "format": "float",
                      "description": "The similarity boost.",
                      "title": "Similarity Boost"
                    }
                  },
                  "title": "Voice Settings"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/v1/models": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "model_id": {
                    "type": "string",
                    "description": "The model identifier.",
                    "title": "Model ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "can_be_finetuned": {
                    "type": "boolean",
                    "description": "Whether can be fine-tuned.",
                    "title": "Can Be Fine-tuned"
                  },
                  "can_do_text_to_speech": {
                    "type": "boolean",
                    "description": "Whether can do text to speech.",
                    "title": "Can Do Text To Speech"
                  },
                  "can_do_voice_conversion": {
                    "type": "boolean",
                    "description": "Whether can do voice conversion.",
                    "title": "Can Do Voice Conversion"
                  },
                  "serves_pro_voices": {
                    "type": "boolean",
                    "description": "Whether serves Pro voices.",
                    "title": "Serves Pro Voices"
                  },
                  "token_cost_factor": {
                    "type": "number",
                    "format": "float",
                    "description": "The token cost factor.",
                    "title": "Token Cost Factor"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description.",
                    "title": "Description"
                  },
                  "languages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "language_id": {
                          "type": "string",
                          "description": "The language identifier.",
                          "title": "Language ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        }
                      }
                    },
                    "title": "Languages"
                  }
                }
              }
            }
          }
        },
        "summary": "Get models",
        "description": "Retrieves a list of available models.",
        "operationId": "ModelsGet",
        "parameters": [],
        "x-ms-visibility": "important"
      }
    },
    "/v1/voices": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "voices": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "voice_id": {
                        "type": "string",
                        "description": "The voice identifier.",
                        "title": "Voice ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "samples": {
                        "type": "object",
                        "properties": {
                          "sample_id": {
                            "type": "string",
                            "description": "The sample identifier.",
                            "title": "Sample ID"
                          },
                          "file_name": {
                            "type": "string",
                            "description": "The file name.",
                            "title": "File Name"
                          },
                          "hash": {
                            "type": "string",
                            "description": "The hash.",
                            "title": "Hash"
                          },
                          "mime_type": {
                            "type": "string",
                            "description": "The mime type.",
                            "title": "Mime Type"
                          },
                          "size_bytes": {
                            "type": "string",
                            "description": "The size in bytes.",
                            "title": "Size"
                          }
                        }
                      },
                      "category": {
                        "type": "string",
                        "description": "The category.",
                        "title": "Category"
                      },
                      "fine_tuning": {
                        "type": "object",
                        "properties": {
                          "model_id": {
                            "type": "string",
                            "description": "The model identifier.",
                            "title": "Model ID"
                          },
                          "language": {
                            "type": "string",
                            "description": "The language.",
                            "title": "Language"
                          },
                          "is_allowed_to_fine_tune": {
                            "type": "boolean",
                            "description": "Whether is allowed to fine-tune.",
                            "title": "Is Allowed To Fine-tune"
                          },
                          "fine_tuning_requested": {
                            "type": "boolean",
                            "description": "Whether fine-tuning is requested.",
                            "title": "Fine-tuning Requested"
                          },
                          "finetuning_state": {
                            "type": "string",
                            "description": "The fine-tuning state.",
                            "title": "Fine-tuning State"
                          },
                          "verification_attempts": {
                            "type": "string",
                            "description": "The verification attempts.",
                            "title": "Verification Attempts"
                          },
                          "verification_failures": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The verification failures.",
                            "title": "Verification Failures"
                          },
                          "verification_attempts_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The verification attempts count.",
                            "title": "Verification Attempts Count"
                          },
                          "slice_ids": {
                            "type": "string",
                            "description": "The slice identifiers.",
                            "title": "Slice IDs"
                          },
                          "manual_verification": {
                            "type": "string",
                            "description": "The manual verification.",
                            "title": "Manual Verification"
                          },
                          "manual_verification_requested": {
                            "type": "boolean",
                            "description": "Whether manual verification is requested.",
                            "title": "Manual Verification Requested"
                          }
                        },
                        "title": "Fine Tuning"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "preview_url": {
                        "type": "string",
                        "description": "The preview URL address.",
                        "title": "Preview URL"
                      },
                      "settings": {
                        "type": "string",
                        "description": "The settings.",
                        "title": "Settings"
                      },
                      "sharing": {
                        "type": "string",
                        "description": "The sharing.",
                        "title": "Sharing"
                      }
                    }
                  },
                  "title": "Voices"
                }
              }
            }
          }
        },
        "summary": "Get voices",
        "description": "Retrieve a list of all available voices for a user.",
        "operationId": "VoicesGet",
        "parameters": [],
        "x-ms-visibility": "important"
      }
    },
    "/v1/voices/settings/default": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "stability": {
                  "type": "number",
                  "format": "float",
                  "description": "The stability.",
                  "title": "Stability"
                },
                "similarity_boost": {
                  "type": "number",
                  "format": "float",
                  "description": "The similarity boost.",
                  "title": "Similarity Boost"
                }
              }
            }
          }
        },
        "summary": "Get default voice settings",
        "description": "Retrieves the default settings for voices.",
        "operationId": "VoiceSettingsDefaultGet",
        "parameters": []
      }
    },
    "/v1/voices/{voice_id}/settings": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "stability": {
                  "type": "number",
                  "format": "float",
                  "description": "The stability.",
                  "title": "Stability"
                },
                "similarity_boost": {
                  "type": "number",
                  "format": "float",
                  "description": "The similarity boost.",
                  "title": "Similarity Boost"
                }
              }
            }
          }
        },
        "summary": "Get voice settings",
        "description": "Retrieve the settings for a specific voice.",
        "operationId": "VoiceSettingsGet",
        "parameters": [
          {
            "name": "voice_id",
            "in": "path",
            "x-ms-summary": "Voice ID",
            "x-ms-url-encoding": "single",
            "description": "The voice identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "VoicesGet",
              "value-path": "voice_id",
              "value-collection": "voices",
              "value-title": "name"
            }
          }
        ]
      }
    },
    "/v1/voices/{voice_id}/settings/edit": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "stability": {
                  "type": "number",
                  "format": "float",
                  "description": "The stability.",
                  "title": "Stability"
                },
                "similarity_boost": {
                  "type": "number",
                  "format": "float",
                  "description": "The similarity boost.",
                  "title": "Similarity Boost"
                }
              }
            }
          }
        },
        "summary": "Edit voice settings",
        "description": "Edit your settings for a specific voice.",
        "operationId": "VoiceSettingsPost",
        "parameters": [
          {
            "name": "voice_id",
            "in": "path",
            "x-ms-summary": "Voice ID",
            "x-ms-url-encoding": "single",
            "description": "The voice identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "VoicesGet",
              "value-path": "voice_id",
              "value-collection": "voices",
              "value-title": "name"
            }
          }
        ]
      }
    },
    "/v1/voices/{voice_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "voice_id": {
                  "type": "string",
                  "description": "The voice identifier.",
                  "title": "Voice ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "samples": {
                  "type": "string",
                  "description": "The samples.",
                  "title": "Samples"
                },
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "fine_tuning": {
                  "type": "object",
                  "properties": {
                    "model_id": {
                      "type": "string",
                      "description": "The model identifier.",
                      "title": "Model ID"
                    },
                    "language": {
                      "type": "string",
                      "description": "The language.",
                      "title": "Language"
                    },
                    "is_allowed_to_fine_tune": {
                      "type": "boolean",
                      "description": "Whether is allowed to fine-tune.",
                      "title": "Is Allowed To Fine-tune"
                    },
                    "fine_tuning_requested": {
                      "type": "boolean",
                      "description": "Whether fine-tuning is requested.",
                      "title": "Fine-tuning Requested"
                    },
                    "finetuning_state": {
                      "type": "string",
                      "description": "The fine-tuning state.",
                      "title": "Fine-tuning State"
                    },
                    "verification_attempts": {
                      "type": "string",
                      "description": "The verification attempts.",
                      "title": "Verification Attempts"
                    },
                    "verification_failures": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The verification failures.",
                      "title": "Verification Failures"
                    },
                    "verification_attempts_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The verification attempts count.",
                      "title": "Verification Attempts Count"
                    },
                    "slice_ids": {
                      "type": "string",
                      "description": "The slice identifiers.",
                      "title": "Slice IDs"
                    },
                    "manual_verification": {
                      "type": "string",
                      "description": "The manual verification.",
                      "title": "Manual Verification"
                    },
                    "manual_verification_requested": {
                      "type": "boolean",
                      "description": "Whether manual verification is requested.",
                      "title": "Manual Verification Requested"
                    }
                  },
                  "title": "Fine Tuning"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "preview_url": {
                  "type": "string",
                  "description": "The preview URL address.",
                  "title": "Preview URL"
                },
                "settings": {
                  "type": "object",
                  "properties": {
                    "stability": {
                      "type": "number",
                      "format": "float",
                      "description": "The stability.",
                      "title": "Stability"
                    },
                    "similarity_boost": {
                      "type": "number",
                      "format": "float",
                      "description": "The similarity boost.",
                      "title": "Similarity Boost"
                    }
                  },
                  "title": "Settings"
                },
                "sharing": {
                  "type": "string",
                  "description": "The sharing.",
                  "title": "Sharing"
                }
              }
            }
          }
        },
        "summary": "Get voice",
        "parameters": [
          {
            "name": "voice_id",
            "in": "path",
            "x-ms-summary": "Voice ID",
            "x-ms-url-encoding": "single",
            "description": "The voice identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "VoicesGet",
              "value-path": "voice_id",
              "value-collection": "voices",
              "value-title": "name"
            }
          },
          {
            "name": "with_settings",
            "in": "query",
            "x-ms-summary": "With Settings",
            "description": "The with settings.",
            "required": false,
            "type": "boolean",
            "default": true,
            "enum": [
              true,
              false
            ]
          }
        ],
        "description": "Retrieve metadata about a specific voice.",
        "operationId": "VoiceGet"
      }
    },
    "/v1/voices/{voice_id}/samples/{sample_id}/audio": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The content type.",
                  "title": "Content Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The file content.",
                  "title": "Content"
                }
              }
            }
          }
        },
        "summary": "Get voice sample",
        "description": "Retrieves the audio corresponding to a sample attached to a voice.",
        "operationId": "VoiceSampleGet",
        "parameters": [
          {
            "name": "voice_id",
            "in": "path",
            "x-ms-summary": "Voice ID",
            "x-ms-url-encoding": "single",
            "description": "The voice identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "VoicesGet",
              "value-path": "voice_id",
              "value-collection": "voices",
              "value-title": "name"
            }
          },
          {
            "name": "sample_id",
            "in": "path",
            "x-ms-summary": "Sample ID",
            "x-ms-url-encoding": "single",
            "description": "The sample identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "VoicesGet",
              "value-path": "samples/sample_id",
              "value-collection": "voices",
              "value-title": "samples/file_name"
            }
          }
        ]
      }
    },
    "/v1/history": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "history": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "history_item_id": {
                        "type": "string",
                        "description": "The history item identifier.",
                        "title": "History Item ID"
                      },
                      "request_id": {
                        "type": "string",
                        "description": "The request identifier.",
                        "title": "Request ID"
                      },
                      "voice_id": {
                        "type": "string",
                        "description": "The voice identifier.",
                        "title": "Voice ID"
                      },
                      "voice_name": {
                        "type": "string",
                        "description": "The voice name.",
                        "title": "Voice Name"
                      },
                      "text": {
                        "type": "string",
                        "description": "The text.",
                        "title": "Text"
                      },
                      "date_unix": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The date in Unix.",
                        "title": "Date Unix"
                      },
                      "character_count_change_from": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The character count change from.",
                        "title": "Character Count Change From"
                      },
                      "character_count_change_to": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The character count change to.",
                        "title": "Character Count Change To"
                      },
                      "content_type": {
                        "type": "string",
                        "description": "The content type.",
                        "title": "Content Type"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "settings": {
                        "type": "object",
                        "properties": {
                          "similarity_boost": {
                            "type": "number",
                            "format": "float",
                            "description": "The similarity boost.",
                            "title": "Similarity Boost"
                          },
                          "stability": {
                            "type": "number",
                            "format": "float",
                            "description": "The stability.",
                            "title": "Stability"
                          }
                        },
                        "title": "Settings"
                      },
                      "feedback": {
                        "type": "string",
                        "description": "The feedback.",
                        "title": "Feedback"
                      }
                    }
                  },
                  "title": "History"
                },
                "last_history_item_id": {
                  "type": "string",
                  "description": "The last history item identifier.",
                  "title": "Last History Item ID"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "Whether has more.",
                  "title": "Has More"
                }
              }
            }
          }
        },
        "summary": "Get history",
        "description": "Retrieve metadata about all your generated audio.",
        "operationId": "HistoryGet",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The page size.",
            "required": true,
            "type": "integer",
            "default": 100
          },
          {
            "name": "start_after_history_item_id",
            "in": "query",
            "x-ms-summary": "Start After History Item ID",
            "description": "The start after history item identifier.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/v1/history/{history_item_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "history_item_id": {
                  "type": "string",
                  "description": "The history item identifier.",
                  "title": "History Item ID"
                },
                "request_id": {
                  "type": "string",
                  "description": "The request identifier.",
                  "title": "Request ID"
                },
                "voice_id": {
                  "type": "string",
                  "description": "The voice identifier.",
                  "title": "Voice ID"
                },
                "voice_name": {
                  "type": "string",
                  "description": "The voice name.",
                  "title": "Voice Name"
                },
                "text": {
                  "type": "string",
                  "description": "The text.",
                  "title": "Text"
                },
                "date_unix": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The date in Unix.",
                  "title": "Date Unix"
                },
                "character_count_change_from": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The character count change from.",
                  "title": "Character Count Change From"
                },
                "character_count_change_to": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The character count change to.",
                  "title": "Character Count Change To"
                },
                "content_type": {
                  "type": "string",
                  "description": "The content type.",
                  "title": "Content Type"
                },
                "state": {
                  "type": "string",
                  "description": "The state.",
                  "title": "State"
                },
                "settings": {
                  "type": "object",
                  "properties": {
                    "similarity_boost": {
                      "type": "number",
                      "format": "float",
                      "description": "The similarity boost.",
                      "title": "Similarity Boost"
                    },
                    "stability": {
                      "type": "number",
                      "format": "float",
                      "description": "The stability.",
                      "title": "Stability"
                    }
                  },
                  "title": "Settings"
                },
                "feedback": {
                  "type": "string",
                  "description": "The feedback.",
                  "title": "Feedback"
                }
              }
            }
          }
        },
        "summary": "Get history item",
        "description": "Retrieve information about an history item by its identifier.",
        "operationId": "HistoryItemGet",
        "parameters": [
          {
            "name": "history_item_id",
            "in": "path",
            "x-ms-summary": "History Item ID",
            "x-ms-url-encoding": "single",
            "description": "The history item identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "HistoryGet",
              "value-path": "history_item_id",
              "value-collection": "history",
              "value-title": "text",
              "parameters": {
                "page_size": 100
              }
            }
          }
        ]
      }
    },
    "/v1/history/{history_item_id}/audio": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The content type.",
                  "title": "Content Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The file content.",
                  "title": "Content"
                }
              }
            }
          }
        },
        "summary": "Get audio from history item",
        "description": "Retrieve the audio of an history item.",
        "operationId": "HistoryItemAudioGet",
        "parameters": [
          {
            "name": "history_item_id",
            "in": "path",
            "x-ms-summary": "History Item ID",
            "x-ms-url-encoding": "single",
            "description": "The history item identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "HistoryGet",
              "value-path": "history_item_id",
              "value-collection": "history",
              "value-title": "text",
              "parameters": {
                "page_size": 100
              }
            }
          }
        ]
      }
    },
    "/v1/history/download": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The content type.",
                  "title": "Content Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The file content.",
                  "title": "Content"
                }
              }
            }
          }
        },
        "summary": "Download history items",
        "description": "Retrieve one or more history items as either a single audio file or a packaged .zip file.",
        "operationId": "HistoryItemsDownload",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "history_item_ids": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "",
                    "x-ms-dynamic-values": {
                      "operationId": "HistoryGet",
                      "value-path": "history_item_id",
                      "value-collection": "history",
                      "value-title": "text",
                      "parameters": {
                        "page_size": 100
                      }
                    }
                  },
                  "title": "History Item IDs"
                }
              },
              "required": [
                "history_item_ids"
              ]
            }
          }
        ]
      }
    },
    "/v1/user": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "subscription": {
                  "type": "object",
                  "properties": {
                    "tier": {
                      "type": "string",
                      "description": "The tier.",
                      "title": "Tier"
                    },
                    "character_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The character count.",
                      "title": "Character Count"
                    },
                    "character_limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The character limit.",
                      "title": "Character Limit"
                    },
                    "can_extend_character_limit": {
                      "type": "boolean",
                      "description": "Whether can extend character limit.",
                      "title": "Can Extend Character Limit"
                    },
                    "allowed_to_extend_character_limit": {
                      "type": "boolean",
                      "description": "Whether allowed to extend character limit.",
                      "title": "Allowed To Extend Character Limit"
                    },
                    "next_character_count_reset_unix": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The next character count reset in Unix.",
                      "title": "Next Character Count Reset Unix"
                    },
                    "voice_limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The voice limit.",
                      "title": "Voice Limit"
                    },
                    "professional_voice_limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The professional voice limit.",
                      "title": "Professional Voice Limit"
                    },
                    "can_extend_voice_limit": {
                      "type": "boolean",
                      "description": "Whether can extend voice limit.",
                      "title": "Can Extend Voice Limit"
                    },
                    "can_use_instant_voice_cloning": {
                      "type": "boolean",
                      "description": "Whether can use instant voice cloning.",
                      "title": "Can Use Instant Voice Cloning"
                    },
                    "can_use_professional_voice_cloning": {
                      "type": "boolean",
                      "description": "Whether can use professional voice cloning.",
                      "title": "Can Use Professional Voice Cloning"
                    },
                    "currency": {
                      "type": "string",
                      "description": "The currency.",
                      "title": "Currency"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    }
                  },
                  "title": "Subscription"
                },
                "is_new_user": {
                  "type": "boolean",
                  "description": "Whether is new user.",
                  "title": "Is New User"
                },
                "xi_api_key": {
                  "type": "string",
                  "description": "The API key.",
                  "title": "API Key"
                },
                "can_use_delayed_payment_methods": {
                  "type": "boolean",
                  "description": "Whether can use delayed payment methods.",
                  "title": "Can Use Delayed Payment Methods"
                }
              }
            }
          }
        },
        "summary": "Get user info",
        "parameters": [],
        "description": "Retrieve information about your user account.",
        "operationId": "UserGet"
      }
    },
    "/v1/user/subscription": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "tier": {
                  "type": "string",
                  "description": "The tier.",
                  "title": "Tier"
                },
                "character_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The character count.",
                  "title": "Character Count"
                },
                "character_limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The character limit.",
                  "title": "Character Limit"
                },
                "can_extend_character_limit": {
                  "type": "boolean",
                  "description": "Whether can extend character limit.",
                  "title": "Can Extend Character Limit"
                },
                "allowed_to_extend_character_limit": {
                  "type": "boolean",
                  "description": "Whether allowed to extend character limit.",
                  "title": "Allowed To Extend Character Limit"
                },
                "next_character_count_reset_unix": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The next character count reset in Unix.",
                  "title": "Next Character Count Reset Unix"
                },
                "voice_limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The voice limit.",
                  "title": "Voice Limit"
                },
                "professional_voice_limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The professional voice limit.",
                  "title": "Professional Voice Limit"
                },
                "can_extend_voice_limit": {
                  "type": "boolean",
                  "description": "Whether can extend voice limit.",
                  "title": "Can Extend Voice Limit"
                },
                "can_use_instant_voice_cloning": {
                  "type": "boolean",
                  "description": "Whether can use instant voice cloning.",
                  "title": "Can Use Instant Voice Cloning"
                },
                "can_use_professional_voice_cloning": {
                  "type": "boolean",
                  "description": "Whether can use professional voice cloning.",
                  "title": "Can Use Professional Voice Cloning"
                },
                "currency": {
                  "type": "string",
                  "description": "The currency.",
                  "title": "Currency"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "next_invoice": {
                  "type": "string",
                  "description": "The next invoice.",
                  "title": "Next Invoice"
                },
                "has_open_invoices": {
                  "type": "boolean",
                  "description": "Whether has open invoices.",
                  "title": "Has Open Invoices"
                }
              }
            }
          }
        },
        "summary": "Get user subscription info",
        "description": "Retrieve extended information about your subscription.",
        "operationId": "UserSubscriptionsGet",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "xi-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.elevenlabs.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://beta.elevenlabs.io/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ]
}