{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Bookings",
    "description": "Microsoft Bookings is a scheduling tool and is part of the Microsoft Office family of products. It allows users and organizations to create booking pages and helps their customers book appointments easily.",
    "contact": {
      "name": "Microsoft 365 Support",
      "url": "https://support.microsoft.com/en-us/contactus#"
    },
    "version": "1.0"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://book.ms"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://docs.microsoft.com/en-us/microsoft-365/bookings/bookings-faq?view=o365-worldwide#privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Collaboration"
    }
  ],
  "host": "bookings.office.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/v1.0/bookingBusinesses/{SMTPAddress}/webhooks/AppointmentCreated": {
      "x-ms-notification-content": {
        "description": "Appointment details for webhook",
        "schema": {
          "$ref": "#/definitions/AppointmentData"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthenticated."
          },
          "403": {
            "description": "Access forbidden. Only Bookings Administrators can create webhooks/flows."
          },
          "429": {
            "description": "Resource Exhausted. More than expected number of webhooks created for a calendar."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "summary": "When a appointment is Created",
        "description": "This trigger is used for listening to create of bookings appointments. Enter the SMTP address of Bookings Calendar that you are looking forward to listen for create appointment events.",
        "operationId": "CreateAppointment",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see this trigger work, Create an appointment from bookings page or bookings calendar",
        "parameters": [
          {
            "name": "SMTPAddress",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "This can be found in your booking page URL: ⁠⁠https://book.ms/b/<SMTPAddress>.",
            "x-ms-summary": "Bookings Calendar SMTP Address."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "notificationURL": {
                  "type": "string",
                  "description": "Notification URL where the appointment data will be posted.",
                  "title": "notificationURL",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "resource": {
                  "type": "string",
                  "description": "resource",
                  "title": "Resource",
                  "default": "Appointments",
                  "x-ms-visibility": "internal"
                },
                "changeType": {
                  "description": "Changes to listen on",
                  "x-ms-visibility": "internal",
                  "type": "array",
                  "default": [
                    "Created"
                  ],
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "notificationURL",
                "resource",
                "changeType"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/api/v1.0/bookingBusinesses/{SMTPAddress}/webhooks/AppointmentUpdated": {
      "x-ms-notification-content": {
        "description": "Appointment details for webhook",
        "schema": {
          "$ref": "#/definitions/AppointmentData"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthenticated."
          },
          "403": {
            "description": "Access forbidden. Only Bookings Administrators can create webhooks/flows."
          },
          "429": {
            "description": "Resource Exhausted. More than expected number of webhooks created for a Calendar."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "summary": "When an appointment is Updated",
        "description": "This trigger is used for listening to Updated of bookings appointments. Enter the SMTP address of Bookings Calendar that you are looking forward to listen for Update appointment events.",
        "operationId": "UpdateAppointment",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see this trigger work, Update an existing appointment from bookings page or bookings calendar",
        "parameters": [
          {
            "name": "SMTPAddress",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "This can be found in your booking page URL: ⁠⁠https://book.ms/b/<SMTPAddress>.",
            "x-ms-summary": "Bookings Calendar SMTP Address."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "notificationURL": {
                  "type": "string",
                  "description": "Notification URL where the appointment data will be posted.",
                  "title": "notificationURL",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "resource": {
                  "type": "string",
                  "description": "resource",
                  "title": "Resource",
                  "default": "Appointments",
                  "x-ms-visibility": "internal"
                },
                "changeType": {
                  "description": "Changes to listen on",
                  "x-ms-visibility": "internal",
                  "type": "array",
                  "default": [
                    "Updated"
                  ],
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "notificationURL",
                "resource",
                "changeType"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/api/v1.0/bookingBusinesses/{SMTPAddress}/webhooks/AppointmentDeleted": {
      "x-ms-notification-content": {
        "description": "Appointment details for webhook",
        "schema": {
          "$ref": "#/definitions/AppointmentData"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthenticated."
          },
          "403": {
            "description": "Access forbidden. Only Bookings Administrators can create webhooks/flows."
          },
          "429": {
            "description": "Resource Exhausted. More than expected number of webhooks created for a Calendar."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "summary": "When an appointment is Cancelled",
        "description": "This trigger is used for listening to cancel of bookings appointments. Enter the SMTP address of Bookings Calendar that you are looking forward to listen for cancel appointment events.",
        "operationId": "CancelAppointment",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see this trigger work, cancel an existing appointment from bookings page or bookings calendar",
        "parameters": [
          {
            "name": "SMTPAddress",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "This can be found in your booking page URL: ⁠⁠https://book.ms/b/*SMTPAddress*.",
            "x-ms-summary": "Bookings Calendar SMTP Address."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "notificationURL": {
                  "type": "string",
                  "description": "Notification URL where the appointment data will be posted.",
                  "title": "notificationURL",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "resource": {
                  "type": "string",
                  "description": "resource",
                  "title": "Resource",
                  "default": "Appointments",
                  "x-ms-visibility": "internal"
                },
                "changeType": {
                  "description": "Changes to listen on",
                  "x-ms-visibility": "internal",
                  "type": "array",
                  "default": [
                    "Deleted"
                  ],
                  "items": {
                  "type": "string"
                  }
                }
              },
              "required": [
                "notificationURL",
                "resource",
                "changeType"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/api/v1.0/bookingBusinesses('{SMTPAddress}')/webhooks('{WebhookId}')": {
      "delete": {
        "summary": "Unsubscribe a booking webhook",
        "operationId": "DeleteWebhook",
        "parameters": [
          {
            "name": "SMTPAddress",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "WebhookId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-ms-visibility": "internal",
        "description": "Deletes a bookings webhook."
      }
    }
  },
  "definitions": {
    "AppointmentData": {
      "type": "object",
      "properties": {
        "AdditionalInfo": {
          "type": "string",
          "description": "Additional Info about the booking.",
          "title": "Additional Info"
        },
        "CustomerEmail": {
          "type": "string",
          "description": "Customer Email address in case of 1:1 bookings.",
          "title": "Customer Email"
        },
        "CustomerId": {
          "type": "string",
          "description": "Customer Id in case of 1:1 bookings.",
          "title": "CustomerId"
        },
        "CustomerLocation": {
          "type": "object",
          "properties": {
            "PhysicalAddress": {
              "type": "object",
              "properties": {
                "City": {
                  "type": "string",
                  "description": "City the customer belongs to for 1:1 booking.",
                  "title": "City"
                },
                "CountryOrRegion": {
                  "type": "string",
                  "description": "Country Or Region of the customer for 1:1 booking.",
                  "title": "CountryOrRegion"
                },
                "PostalCode": {
                  "type": "string",
                  "description": "Postal Code of the customer for 1:1 booking.",
                  "title": "PostalCode"
                },
                "State": {
                  "type": "string",
                  "description": "State where the customer belongs to in the 1:1 booking.",
                  "title": "State"
                },
                "Street": {
                  "type": "string",
                  "description": "Street where the customer belongs to in the 1:1 booking.",
                  "title": "Street"
                }
              },
              "description": "PhysicalAddress"
            }
          },
          "description": "Location of customer in 1:1 booking"
        },
        "CustomerName": {
          "type": "string",
          "description": "Customer Name for 1:1 booking.",
          "title": "CustomerName"
        },
        "CustomerNotes": {
          "type": "string",
          "description": "Customer Notes for 1:1 booking.",
          "title": "CustomerNotes"
        },
        "CustomQuestionAnswers": {
          "type": "array",
          "description": "All the custom questions and answers for 1:1 booking.",
          "title": "CustomQuestionAnswers",
          "items": {
            "$ref": "#/definitions/CustomQuestion"
          }
        },
        "CustomerPhone": {
          "type": "string",
          "description": "Customer Phone for 1:1 booking.",
          "title": "CustomerPhone"
        },
        "CustomerTimeZone": {
          "type": "string",
          "description": "Customer Time Zone for 1:1 booking.",
          "title": "CustomerTimeZone"
        },
        "Customers": {
          "type": "array",
          "description": "List of customers in the 1:N booking",
          "title": "Customers",
          "items": {
            "$ref": "#/definitions/CustomerData"
          }
        },
        "Duration": {
          "type": "integer",
          "format": "int32",
          "title": "Duration",
          "description": "Duration of the meeting"
        },
        "EndTime": {
          "type": "string",
          "description": "End Time of the appointment.",
          "title": "EndTime"
        },
        "FilledAttendeesCount": {
          "type": "integer",
          "format": "int32",
          "title": "FilledAttendeesCount",
          "description": "Number of attendees who have booked this appoinment slot."
        },
        "Id": {
          "type": "string",
          "title": "Id",
          "description": "Unique identifier for the bookings appointment."
        },
        "IsSMSNotificationsEnabled": {
          "type": "boolean",
          "title": "IsSMSNotificationsEnabled",
          "description": "Tells if SMS notification is enabled for the appointment."
        },
        "JoinWebURL": {
          "type": "string",
          "title": "JoinWebURL",
          "description": "URL for joining this online appointment."
        },
        "MaxAttendeesCount": {
          "type": "integer",
          "format": "int32",
          "title": "MaxAttendeesCount",
          "description": "Max number of attendees allowed in this appoinment."
        },
        "SelfServiceAppointmentId": {
          "type": "string",
          "title": "SelfServiceAppointmentId",
          "description": "Self service appointment id for the booking appointment."
        },
        "ServiceId": {
          "type": "string",
          "description": "Unique Service Identifier.",
          "title": "ServiceId"
        },
        "ServiceName": {
          "type": "string",
          "description": "Name of the bookings service.",
          "title": "ServiceName"
        },
        "ServiceNotes": {
          "type": "string",
          "description": "Service level notes for the staff and admin.",
          "title": "ServiceNotes"
        },
        "StaffMembers": {
          "type": "array",
          "title": "StaffMembers",
          "description": "List of staff members",
          "items": {
            "$ref": "#/definitions/StaffMemberData"
          }
        },
        "StartTime": {
          "type": "string",
          "description": "Start Time of the appointment.",
          "title": "Start Time"
        },
        "TrackingData": {
          "type": "string",
          "description": "Campaign tracking Data.",
          "title": "Tracking Data"
        },
        "CancelReason": {
          "type": "string",
          "description": "Reason for cancellation of this booking appointment",
          "title": "Cancel Reason"
        }
      }
    },
    "CustomerData": {
      "type": "object",
      "properties": {
        "Email": {
          "type": "string",
          "description": "Email of the customer in the 1:N appointment.",
          "title": "Email"
        },
        "Id": {
          "type": "string",
          "description": "Unique ID of the customer in the 1:N appointment",
          "title": "Id"
        },
        "Location": {
          "type": "object",
          "properties": {
            "PhysicalAddress": {
              "type": "object",
              "properties": {
                "City": {
                  "type": "string",
                  "description": "City the customer belongs to for 1:N booking.",
                  "title": "City"
                },
                "CountryOrRegion": {
                  "type": "string",
                  "description": "Country Or Region of the customer for 1:N booking.",
                  "title": "Country Or Region"
                },
                "PostalCode": {
                  "type": "string",
                  "description": "Postal Code of the customer for 1:N booking.",
                  "title": "Postal Code"
                },
                "State": {
                  "type": "string",
                  "description": "State where the customer belongs to in the 1:N booking.",
                  "title": "State"
                },
                "Street": {
                  "type": "string",
                  "description": "Street where the customer belongs to in the 1:N booking.",
                  "title": "Street"
                }
              },
              "description": "PhysicalAddress"
            }
          },
          "description": "Location of customer in 1:N booking."
        },
        "Name": {
          "type": "string",
          "description": "Display Name of the customer in the 1:N appointment.",
          "title": "Display Name"
        },
        "Notes": {
          "type": "string",
          "description": "Notes of the customer in the 1:N appointment.",
          "title": "Notes"
        },
        "TimeZone": {
          "type": "string",
          "description": "Timezone of the customer in the 1:N appointment.",
          "title": "Timezone"
        },
        "Answers": {
          "type": "array",
          "description": "All the custom questions and answers.",
          "title": "Answers",
          "items": {
            "$ref": "#/definitions/CustomQuestion"
          }
        }
      }
    },
    "StaffMemberData": {
      "type": "object",
      "properties": {
        "DisplayName": {
          "type": "string",
          "description": "Display Name of the staff assigned for this appointment.",
          "title": "DisplayName"
        },
        "EmailAddress": {
          "type": "string",
          "description": "Email Address of the staff assigned to this appointment.",
          "title": "EmailAddress"
        },
        "Id": {
          "type": "string",
          "description": "Unique Staff identifier.",
          "title": "Id"
        }
      }
    },
    "CustomQuestion": {
      "type": "object",
      "properties": {
        "Answer": {
          "type": "string",
          "description": "Answer to this custom question.",
          "title": "Answer"
        },
        "AnswerOptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "All the answer options."
        },
        "IsRequired": {
          "type": "boolean",
          "description": "Tells if answering this question is mandatory."
        },
        "Question": {
          "type": "string",
          "description": "Question to be answered.",
          "title": "Question"
        },
        "QuestionID": {
          "type": "string",
          "description": "Unique Identifier of the Question to be answered.",
          "title": "QuestionID"
        },
        "SelectedOptions": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "All the selected answer options.",
          "title": "SelectedOptions"
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": []
}