{
  "swagger": "2.0",
  "info": {
    "title": "Abstract Holidays",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_abstrholi@gmail.com"
    },
    "description": "Abstract's Public Holidays is a fast, lightweight, modern solution that allows you to get the public, local, religious, and other holidays of a particular country.",
    "version": "1.0"
  },
  "host": "holidays.abstractapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the holiday.",
                    "title": "Name"
                  },
                  "name_local": {
                    "type": "string",
                    "description": "The local name of the holiday.",
                    "title": "Name local"
                  },
                  "language": {
                    "type": "string",
                    "description": "If the name_local is used, then this specifies the language in which it is in.",
                    "title": "Language"
                  },
                  "description": {
                    "type": "string",
                    "description": "A short description or additional details on the holiday, such as whether it is part of a long weekend.",
                    "title": "Description"
                  },
                  "country": {
                    "type": "string",
                    "description": "The country in which the holiday occurs, returned directly from the request.",
                    "title": "Country"
                  },
                  "location": {
                    "type": "string",
                    "description": "The location or region in which the holiday occurs, if the holiday is that specific.",
                    "title": "Location"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of holiday it is (e.g., public holiday, religious holiday, etc).",
                    "title": "Type"
                  },
                  "date": {
                    "type": "string",
                    "description": "The date on which the holiday occurs.",
                    "title": "Date"
                  },
                  "date_year": {
                    "type": "string",
                    "description": "The year in which the holiday occurs.",
                    "title": "Date year"
                  },
                  "date_month": {
                    "type": "string",
                    "description": "The month in which the holiday occurs.",
                    "title": "Date month"
                  },
                  "date_day": {
                    "type": "string",
                    "description": "The day in which the holiday occurs.",
                    "title": "Date day"
                  },
                  "week_day": {
                    "type": "string",
                    "description": "The day of the week on which the holiday occurs (Monday, Tuesday, Wednesday, etc.)",
                    "title": "Week day"
                  }
                }
              }
            }
          }
        },
        "summary": "List holidays",
        "operationId": "ListHolidays",
        "description": "List the public holidays for a specific country.",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Country",
            "description": "The country\u2019s two letter ISO 3166-1 alpha-2 code (e.g., 'SE' for Sweden)."
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The year to get the holiday(s) from. Note that this is optional on paid plans and required on free plans.",
            "x-ms-summary": "Year"
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Month",
            "description": "The month to get the holiday(s) from, in the format of 1-12 (e.g., 1 is January, etc). Note that this is optional on paid plans and required on free plans."
          },
          {
            "name": "day",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The day to get the holiday(s) from, in the format of 1-31. Note that this is optional on paid plans and required on free plans.",
            "x-ms-summary": "Day"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.abstractapi.com/holidays"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.abstractapi.com/legal/dpa"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Business Intelligence"
    }
  ]
}