{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Office 365 Users",
    "description": "Office 365 Users Connection provider lets you access user profiles in your organization using your Office 365 account. You can perform various actions such as get your profile, a user's profile, a user's manager or direct reports and also update a user profile."
  },
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1.0/me": {
      "patch": {
        "summary": "Update my profile",
        "description": "Updates the profile of the current user",
        "operationId": "UpdateMyProfile",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/GraphUserUpdateable_V1"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production"
        }
      }
    },
    "/v1.0/me/photo/$value": {
      "put": {
        "summary": "Update my profile photo",
        "description": "Updates the profile photo of the current user. The size of the photo must be less than 4 MB.",
        "operationId": "UpdateMyPhoto",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "string",
              "format": "binary"
            },
            "required": true,
            "description": "Image content",
            "x-ms-summary": "Image content"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string",
            "default": "image/jpeg",
            "required": true,
            "description": "Image content type (like 'image/jpeg')",
            "x-ms-summary": "Content-Type",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production"
        }
      }
    },
    "/beta/me/insights/trending": {
      "get": {
        "summary": "Get my trending documents",
        "description": "Retrieves the trending documents for the signed in user",
        "operationId": "MyTrendingDocuments",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData filter to filter the resources selected. Filter selected resources on ResourceVisualization/Type or ResourceVisualization/containerType",
            "x-ms-summary": "Filter query"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "description": "List of trending documents",
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/GraphTrending"
                  },
                  "description": "value",
                  "x-ms-summary": "value"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "GraphUserUpdateable_V1": {
      "description": "Updateable parts of user from Graph API",
      "type": "object",
      "properties": {
        "aboutMe": {
          "type": "string",
          "description": "About Me",
          "x-ms-summary": "About Me"
        },
        "birthday": {
          "type": "string",
          "format": "date-time",
          "description": "Birthday",
          "x-ms-summary": "Birthday"
        },
        "interests": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Interests",
          "x-ms-summary": "Interests"
        },
        "mySite": {
          "type": "string",
          "description": "My Site",
          "x-ms-summary": "My Site"
        },
        "pastProjects": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Past Projects",
          "x-ms-summary": "Past Projects"
        },
        "schools": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Schools",
          "x-ms-summary": "Schools"
        },
        "skills": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Skills",
          "x-ms-summary": "Skills"
        }
      }
    },
    "GraphTrending": {
      "description": "Trending documents from Graph API",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of the relationship",
          "x-ms-summary": "Id"
        },
        "weight": {
          "type": "number",
          "format": "float",
          "description": "Value indicating how much the document is currently trending",
          "x-ms-summary": "Weight"
        },
        "resourceVisualization": {
          "type": "object",
          "properties": {
            "title": {
              "type": "string",
              "description": "The item's title text",
              "x-ms-summary": "Title"
            },
            "type": {
              "type": "string",
              "description": "The item's media type (can be used for filtering for a specific file based on a specific type)",
              "x-ms-summary": "Type"
            },
            "mediaType": {
              "type": "string",
              "description": "The items media type (can be used for filtering for a specific type of file based on supported IANA Media MIME types)",
              "x-ms-summary": "Media type"
            },
            "previewImageUrl": {
              "type": "string",
              "description": "A URL leading to the preview image for the item",
              "x-ms-summary": "Preview image URL"
            },
            "previewText": {
              "type": "string",
              "description": "A preview text for the item",
              "x-ms-summary": "Preview text"
            },
            "containerWebUrl": {
              "type": "string",
              "description": "A path leading to the folder in which the item is stored",
              "x-ms-summary": "Container web URL"
            },
            "containerDisplayName": {
              "type": "string",
              "description": "A string describing where the item is stored",
              "x-ms-summary": "Container display name"
            },
            "containerType": {
              "type": "string",
              "description": "Can be used for filtering by the type of container in which the file is stored",
              "x-ms-summary": "Container type"
            }
          },
          "description": "resourceVisualization",
          "x-ms-summary": "Resource visualization"
        },
        "resourceReference": {
          "type": "object",
          "properties": {
            "webUrl": {
              "type": "string",
              "description": "A URL leading to the referenced item",
              "x-ms-summary": "Web URL"
            },
            "id": {
              "type": "string",
              "description": "The item's unique identifier",
              "x-ms-summary": "Id"
            },
            "type": {
              "type": "string",
              "description": "A string value that can be used to classify the item, such as \"microsoft.graph.driveItem\"",
              "x-ms-summary": "Type"
            }
          },
          "description": "resourceReference",
          "x-ms-summary": "Resource reference"
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {
        "Sites.Read.All User.ReadBasic.All User.ReadWrite": "Sites.Read.All User.ReadBasic.All User.ReadWrite"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "Sites.Read.All User.ReadBasic.All User.ReadWrite"
      ]
    }
  ],
  "tags": []
}