{
  "swagger": "2.0",
  "info": {
    "title": "Influenza and Covid-19",
    "description": "Influenza and Covid-19 Tracker provides real-time disease-related statistics accumulated worldwide",
    "version": "1.0",
    "contact": {
      "name": "Kevin Comba Gatimu",
      "url": "https://linktr.ee/kevincomba",
      "email": "kelchospenseworks247@gmail.com"
    }
  },
  "host": "disease.sh",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v3/covid-19/states": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "state": {
                    "type": "string",
                    "description": "state"
                  },
                  "updated": {
                    "type": "integer",
                    "format": "int32",
                    "description": "updated"
                  },
                  "cases": {
                    "type": "integer",
                    "format": "int32",
                    "description": "cases"
                  },
                  "todayCases": {
                    "type": "integer",
                    "format": "int32",
                    "description": "todayCases"
                  },
                  "deaths": {
                    "type": "integer",
                    "format": "int32",
                    "description": "deaths"
                  },
                  "todayDeaths": {
                    "type": "integer",
                    "format": "int32",
                    "description": "todayDeaths"
                  },
                  "recovered": {
                    "type": "integer",
                    "format": "int32",
                    "description": "recovered"
                  },
                  "active": {
                    "type": "integer",
                    "format": "int32",
                    "description": "active"
                  },
                  "casesPerOneMillion": {
                    "type": "integer",
                    "format": "int32",
                    "description": "casesPerOneMillion"
                  },
                  "deathsPerOneMillion": {
                    "type": "integer",
                    "format": "int32",
                    "description": "deathsPerOneMillion"
                  },
                  "tests": {
                    "type": "integer",
                    "format": "int32",
                    "description": "tests"
                  },
                  "testsPerOneMillion": {
                    "type": "integer",
                    "format": "int32",
                    "description": "testsPerOneMillion"
                  },
                  "population": {
                    "type": "integer",
                    "format": "int32",
                    "description": "population"
                  }
                }
              }
            }
          }
        },
        "summary": "Get COVID-19 totals for all US States",
        "description": "Get COVID-19 totals for all US States",
        "operationId": "GetCOVID-19totalsforallUSStates",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important",
            "enum": [
              "cases",
              "todayCases",
              "deaths",
              "active"
            ]
          },
          {
            "name": "yesterday",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-visibility": "important",
            "enum": [
              true,
              false,
              1,
              0
            ]
          },
          {
            "name": "allowNull",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-visibility": "important",
            "enum": [
              true,
              false,
              1,
              0
            ]
          }
        ]
      }
    },
    "/v3/covid-19/states/{states}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "state": {
                  "type": "string",
                  "description": "state"
                },
                "updated": {
                  "type": "integer",
                  "format": "int32",
                  "description": "updated"
                },
                "cases": {
                  "type": "integer",
                  "format": "int32",
                  "description": "cases"
                },
                "todayCases": {
                  "type": "integer",
                  "format": "int32",
                  "description": "todayCases"
                },
                "deaths": {
                  "type": "integer",
                  "format": "int32",
                  "description": "deaths"
                },
                "todayDeaths": {
                  "type": "integer",
                  "format": "int32",
                  "description": "todayDeaths"
                },
                "recovered": {
                  "type": "integer",
                  "format": "int32",
                  "description": "recovered"
                },
                "active": {
                  "type": "integer",
                  "format": "int32",
                  "description": "active"
                },
                "casesPerOneMillion": {
                  "type": "integer",
                  "format": "int32",
                  "description": "casesPerOneMillion"
                },
                "deathsPerOneMillion": {
                  "type": "integer",
                  "format": "int32",
                  "description": "deathsPerOneMillion"
                },
                "tests": {
                  "type": "integer",
                  "format": "int32",
                  "description": "tests"
                },
                "testsPerOneMillion": {
                  "type": "integer",
                  "format": "int32",
                  "description": "testsPerOneMillion"
                },
                "population": {
                  "type": "integer",
                  "format": "int32",
                  "description": "population"
                }
              }
            }
          }
        },
        "summary": "Get COVID-19 totals for specific US State(s)",
        "description": "Get COVID-19 totals for specific US State(s)",
        "operationId": "GetCOVID-19totalsforspecificUSStates",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "states",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "enum": [
              "alabama",
              "alaska",
              "american samoa",
              "arizona",
              "arkansas",
              "california",
              "colorado",
              "connecticut",
              "delaware",
              "diamond princess",
              "district of columbia",
              "florida",
              "georgia",
              "grand princess",
              "guam",
              "hawaii",
              "idaho",
              "illinois",
              "indiana",
              "iowa",
              "kansas",
              "kentucky",
              "louisiana",
              "maine",
              "maryland",
              "massachusetts",
              "michigan",
              "minnesota",
              "mississippi",
              "missouri",
              "montana",
              "nebraska",
              "nevada",
              "new hampshire",
              "new jersey",
              "new mexico",
              "new york",
              "north carolina",
              "north dakota",
              "northern mariana islands",
              "ohio",
              "oklahoma",
              "oregon",
              "pennsylvania",
              "puerto rico",
              "rhode island",
              "south carolina",
              "south dakota",
              "tennessee",
              "texas",
              "utah",
              "vermont",
              "virgin islands",
              "virginia",
              "washington",
              "west virginia",
              "wisconsin",
              "wyoming"
            ]
          },
          {
            "name": "yesterday",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "allowNull",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/v3/covid-19/continents": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "updated": {
                    "type": "integer",
                    "format": "int32",
                    "description": "updated"
                  },
                  "cases": {
                    "type": "integer",
                    "format": "int32",
                    "description": "cases"
                  },
                  "todayCases": {
                    "type": "integer",
                    "format": "int32",
                    "description": "todayCases"
                  },
                  "deaths": {
                    "type": "integer",
                    "format": "int32",
                    "description": "deaths"
                  },
                  "todayDeaths": {
                    "type": "integer",
                    "format": "int32",
                    "description": "todayDeaths"
                  },
                  "recovered": {
                    "type": "integer",
                    "format": "int32",
                    "description": "recovered"
                  },
                  "todayRecovered": {
                    "type": "integer",
                    "format": "int32",
                    "description": "todayRecovered"
                  },
                  "active": {
                    "type": "integer",
                    "format": "int32",
                    "description": "active"
                  },
                  "critical": {
                    "type": "integer",
                    "format": "int32",
                    "description": "critical"
                  },
                  "casesPerOneMillion": {
                    "type": "number",
                    "format": "float",
                    "description": "casesPerOneMillion"
                  },
                  "deathsPerOneMillion": {
                    "type": "number",
                    "format": "float",
                    "description": "deathsPerOneMillion"
                  },
                  "tests": {
                    "type": "integer",
                    "format": "int32",
                    "description": "tests"
                  },
                  "testsPerOneMillion": {
                    "type": "number",
                    "format": "float",
                    "description": "testsPerOneMillion"
                  },
                  "population": {
                    "type": "integer",
                    "format": "int32",
                    "description": "population"
                  },
                  "continent": {
                    "type": "string",
                    "description": "continent"
                  },
                  "activePerOneMillion": {
                    "type": "number",
                    "format": "float",
                    "description": "activePerOneMillion"
                  },
                  "recoveredPerOneMillion": {
                    "type": "number",
                    "format": "float",
                    "description": "recoveredPerOneMillion"
                  },
                  "criticalPerOneMillion": {
                    "type": "number",
                    "format": "float",
                    "description": "criticalPerOneMillion"
                  },
                  "continentInfo": {
                    "type": "object",
                    "properties": {
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "lat"
                      },
                      "long": {
                        "type": "number",
                        "format": "float",
                        "description": "long"
                      }
                    },
                    "description": "continentInfo"
                  },
                  "countries": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "countries"
                  }
                }
              }
            }
          }
        },
        "summary": "Get COVID-19 totals for all continents",
        "description": "Get COVID-19 totals for all continents",
        "operationId": "GetCOVID-19totalsforallcontinents",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "yesterday",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-visibility": "important",
            "enum": [
              true,
              false
            ]
          },
          {
            "name": "twoDaysAgo",
            "in": "query",
            "required": false,
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "cases",
              "todayCases",
              "deaths",
              "recovered",
              "active"
            ]
          },
          {
            "name": "allowNull",
            "in": "query",
            "required": false,
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          }
        ]
      }
    },
    "/v3/covid-19/continents/{continent}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "updated": {
                  "type": "integer",
                  "format": "int32",
                  "description": "updated"
                },
                "cases": {
                  "type": "integer",
                  "format": "int32",
                  "description": "cases"
                },
                "todayCases": {
                  "type": "integer",
                  "format": "int32",
                  "description": "todayCases"
                },
                "deaths": {
                  "type": "integer",
                  "format": "int32",
                  "description": "deaths"
                },
                "todayDeaths": {
                  "type": "integer",
                  "format": "int32",
                  "description": "todayDeaths"
                },
                "recovered": {
                  "type": "integer",
                  "format": "int32",
                  "description": "recovered"
                },
                "todayRecovered": {
                  "type": "integer",
                  "format": "int32",
                  "description": "todayRecovered"
                },
                "active": {
                  "type": "integer",
                  "format": "int32",
                  "description": "active"
                },
                "critical": {
                  "type": "integer",
                  "format": "int32",
                  "description": "critical"
                },
                "casesPerOneMillion": {
                  "type": "number",
                  "format": "float",
                  "description": "casesPerOneMillion"
                },
                "deathsPerOneMillion": {
                  "type": "number",
                  "format": "float",
                  "description": "deathsPerOneMillion"
                },
                "tests": {
                  "type": "integer",
                  "format": "int32",
                  "description": "tests"
                },
                "testsPerOneMillion": {
                  "type": "number",
                  "format": "float",
                  "description": "testsPerOneMillion"
                },
                "population": {
                  "type": "integer",
                  "format": "int32",
                  "description": "population"
                },
                "continent": {
                  "type": "string",
                  "description": "continent"
                },
                "activePerOneMillion": {
                  "type": "number",
                  "format": "float",
                  "description": "activePerOneMillion"
                },
                "recoveredPerOneMillion": {
                  "type": "number",
                  "format": "float",
                  "description": "recoveredPerOneMillion"
                },
                "criticalPerOneMillion": {
                  "type": "number",
                  "format": "float",
                  "description": "criticalPerOneMillion"
                },
                "continentInfo": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "lat"
                    },
                    "long": {
                      "type": "number",
                      "format": "float",
                      "description": "long"
                    }
                  },
                  "description": "continentInfo"
                },
                "countries": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "countries"
                }
              }
            }
          }
        },
        "summary": "Get COVID-19 totals for a specific continent",
        "description": "Get COVID-19 totals for a specific continent",
        "operationId": "GetCOVID-19totalsforaspecificcontinent",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "continent",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "enum": [
              "North America",
              "Asia",
              "Europe",
              "South America",
              "Australia-Oceania",
              "Africa"
            ]
          },
          {
            "name": "yesterday",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "twoDaysAgo",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "strict",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "allowNull",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/v3/covid-19/countries": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "updated": {
                    "type": "integer",
                    "format": "int32",
                    "description": "updated"
                  },
                  "country": {
                    "type": "string",
                    "description": "country"
                  },
                  "countryInfo": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "_id"
                      },
                      "iso2": {
                        "type": "string",
                        "description": "iso2"
                      },
                      "iso3": {
                        "type": "string",
                        "description": "iso3"
                      },
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "lat"
                      },
                      "long": {
                        "type": "number",
                        "format": "float",
                        "description": "long"
                      },
                      "flag": {
                        "type": "string",
                        "description": "flag"
                      }
                    },
                    "description": "countryInfo"
                  },
                  "cases": {
                    "type": "integer",
                    "format": "int32",
                    "description": "cases"
                  },
                  "todayCases": {
                    "type": "integer",
                    "format": "int32",
                    "description": "todayCases"
                  },
                  "deaths": {
                    "type": "integer",
                    "format": "int32",
                    "description": "deaths"
                  },
                  "todayDeaths": {
                    "type": "integer",
                    "format": "int32",
                    "description": "todayDeaths"
                  },
                  "recovered": {
                    "type": "integer",
                    "format": "int32",
                    "description": "recovered"
                  },
                  "todayRecovered": {
                    "type": "integer",
                    "format": "int32",
                    "description": "todayRecovered"
                  },
                  "active": {
                    "type": "integer",
                    "format": "int32",
                    "description": "active"
                  },
                  "critical": {
                    "type": "integer",
                    "format": "int32",
                    "description": "critical"
                  },
                  "casesPerOneMillion": {
                    "type": "integer",
                    "format": "int32",
                    "description": "casesPerOneMillion"
                  },
                  "deathsPerOneMillion": {
                    "type": "integer",
                    "format": "int32",
                    "description": "deathsPerOneMillion"
                  },
                  "tests": {
                    "type": "integer",
                    "format": "int32",
                    "description": "tests"
                  },
                  "testsPerOneMillion": {
                    "type": "integer",
                    "format": "int32",
                    "description": "testsPerOneMillion"
                  },
                  "population": {
                    "type": "integer",
                    "format": "int32",
                    "description": "population"
                  },
                  "continent": {
                    "type": "string",
                    "description": "continent"
                  },
                  "oneCasePerPeople": {
                    "type": "integer",
                    "format": "int32",
                    "description": "oneCasePerPeople"
                  },
                  "oneDeathPerPeople": {
                    "type": "integer",
                    "format": "int32",
                    "description": "oneDeathPerPeople"
                  },
                  "oneTestPerPeople": {
                    "type": "integer",
                    "format": "int32",
                    "description": "oneTestPerPeople"
                  },
                  "activePerOneMillion": {
                    "type": "number",
                    "format": "float",
                    "description": "activePerOneMillion"
                  },
                  "recoveredPerOneMillion": {
                    "type": "number",
                    "format": "float",
                    "description": "recoveredPerOneMillion"
                  },
                  "criticalPerOneMillion": {
                    "type": "number",
                    "format": "float",
                    "description": "criticalPerOneMillion"
                  }
                }
              }
            }
          }
        },
        "summary": "Get COVID-19 totals for all countries",
        "description": "Get COVID-19 totals for all countries",
        "operationId": "GetCOVID-19totalsforallcountries",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "yesterday",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "twoDaysAgo",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "allowNull",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/v3/covid-19/countries/{country}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "updated": {
                  "type": "integer",
                  "format": "int32",
                  "description": "updated"
                },
                "country": {
                  "type": "string",
                  "description": "country"
                },
                "countryInfo": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "_id"
                    },
                    "iso2": {
                      "type": "string",
                      "description": "iso2"
                    },
                    "iso3": {
                      "type": "string",
                      "description": "iso3"
                    },
                    "lat": {
                      "type": "integer",
                      "format": "int32",
                      "description": "lat"
                    },
                    "long": {
                      "type": "integer",
                      "format": "int32",
                      "description": "long"
                    },
                    "flag": {
                      "type": "string",
                      "description": "flag"
                    }
                  },
                  "description": "countryInfo"
                },
                "cases": {
                  "type": "integer",
                  "format": "int32",
                  "description": "cases"
                },
                "todayCases": {
                  "type": "integer",
                  "format": "int32",
                  "description": "todayCases"
                },
                "deaths": {
                  "type": "integer",
                  "format": "int32",
                  "description": "deaths"
                },
                "todayDeaths": {
                  "type": "integer",
                  "format": "int32",
                  "description": "todayDeaths"
                },
                "recovered": {
                  "type": "integer",
                  "format": "int32",
                  "description": "recovered"
                },
                "todayRecovered": {
                  "type": "integer",
                  "format": "int32",
                  "description": "todayRecovered"
                },
                "active": {
                  "type": "integer",
                  "format": "int32",
                  "description": "active"
                },
                "critical": {
                  "type": "integer",
                  "format": "int32",
                  "description": "critical"
                },
                "casesPerOneMillion": {
                  "type": "integer",
                  "format": "int32",
                  "description": "casesPerOneMillion"
                },
                "deathsPerOneMillion": {
                  "type": "integer",
                  "format": "int32",
                  "description": "deathsPerOneMillion"
                },
                "tests": {
                  "type": "integer",
                  "format": "int32",
                  "description": "tests"
                },
                "testsPerOneMillion": {
                  "type": "integer",
                  "format": "int32",
                  "description": "testsPerOneMillion"
                },
                "population": {
                  "type": "integer",
                  "format": "int32",
                  "description": "population"
                },
                "continent": {
                  "type": "string",
                  "description": "continent"
                },
                "oneCasePerPeople": {
                  "type": "integer",
                  "format": "int32",
                  "description": "oneCasePerPeople"
                },
                "oneDeathPerPeople": {
                  "type": "integer",
                  "format": "int32",
                  "description": "oneDeathPerPeople"
                },
                "oneTestPerPeople": {
                  "type": "integer",
                  "format": "int32",
                  "description": "oneTestPerPeople"
                },
                "activePerOneMillion": {
                  "type": "number",
                  "format": "float",
                  "description": "activePerOneMillion"
                },
                "recoveredPerOneMillion": {
                  "type": "number",
                  "format": "float",
                  "description": "recoveredPerOneMillion"
                },
                "criticalPerOneMillion": {
                  "type": "integer",
                  "format": "int32",
                  "description": "criticalPerOneMillion"
                }
              }
            }
          }
        },
        "summary": "Get COVID-19 totals for a specific country",
        "description": "Get COVID-19 totals for a specific country",
        "operationId": "GetCOVID-19totalsforaspecificcountry",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "enum": [
              "Australia",
              "Cook Islands",
              "Fiji",
              "French Polynesia",
              "Kiribati",
              "Marshall Islands",
              "Micronesia",
              "Nauru",
              "New Caledonia",
              "New Zealand",
              "Niue",
              "Palau",
              "Papua New Guinea",
              "Samoa",
              "Solomon Islands",
              "Tonga",
              "Tuvalu",
              "Vanuatu",
              "Wallis and Futuna",
              "Argentina",
              "Bolivia",
              "Brazil",
              "Chile",
              "Colombia",
              "Ecuador",
              "Falkland Islands (Malvinas)",
              "French Guiana",
              "Guyana",
              "Paraguay",
              "Peru",
              "Suriname",
              "Uruguay",
              "Venezuela",
              "Albania",
              "Andorra",
              "Austria",
              "Belarus",
              "Belgium",
              "Bosnia",
              "Bulgaria",
              "Channel Islands",
              "Croatia",
              "Czechia",
              "Denmark",
              "Estonia",
              "Faroe Islands",
              "Finland",
              "France",
              "Germany",
              "Gibraltar",
              "Greece",
              "Holy See (Vatican City State)",
              "Hungary",
              "Iceland",
              "Ireland",
              "Isle of Man",
              "Italy",
              "Latvia",
              "Liechtenstein",
              "Lithuania",
              "Luxembourg",
              "Macedonia",
              "Malta",
              "Moldova",
              "Monaco",
              "Montenegro",
              "Netherlands",
              "Norway",
              "Poland",
              "Portugal",
              "Romania",
              "Russia",
              "San Marino",
              "Serbia",
              "Slovakia",
              "Slovenia",
              "Spain",
              "Sweden",
              "Switzerland",
              "UK",
              "Ukraine",
              "Afghanistan",
              "Armenia",
              "Azerbaijan",
              "Bahrain",
              "Bangladesh",
              "Bhutan",
              "Brunei",
              "Cambodia",
              "China",
              "Cyprus",
              "Georgia",
              "Hong Kong",
              "India",
              "Indonesia",
              "Iran",
              "Iraq",
              "Israel",
              "Japan",
              "Jordan",
              "Kazakhstan",
              "Kuwait",
              "Kyrgyzstan",
              "Lao People's Democratic Republic",
              "Lebanon",
              "Macao",
              "Malaysia",
              "Maldives",
              "Mongolia",
              "Myanmar",
              "N. Korea",
              "Nepal",
              "Oman",
              "Pakistan",
              "Palestine",
              "Philippines",
              "Qatar",
              "S. Korea",
              "Saudi Arabia",
              "Singapore",
              "Sri Lanka",
              "Syrian Arab Republic",
              "Taiwan",
              "Tajikistan",
              "Thailand",
              "Timor-Leste",
              "Türkiye",
              "UAE",
              "Uzbekistan",
              "Vietnam",
              "Yemen",
              "Anguilla",
              "Antigua and Barbuda",
              "Aruba",
              "Bahamas",
              "Barbados",
              "Belize",
              "Bermuda",
              "British Virgin Islands",
              "Canada",
              "Caribbean Netherlands",
              "Cayman Islands",
              "Costa Rica",
              "Cuba",
              "Curaçao",
              "Dominica",
              "Dominican Republic",
              "El Salvador",
              "Greenland",
              "Grenada",
              "Guadeloupe",
              "Guatemala",
              "Haiti",
              "Honduras",
              "Jamaica",
              "Martinique",
              "Mexico",
              "Montserrat",
              "Nicaragua",
              "Panama",
              "Saint Kitts and Nevis",
              "Saint Lucia",
              "Saint Martin",
              "Saint Pierre Miquelon",
              "Saint Vincent and the Grenadines",
              "Sint Maarten",
              "St. Barth",
              "Trinidad and Tobago",
              "Turks and Caicos Islands",
              "USA",
              "Algeria",
              "Angola",
              "Benin",
              "Botswana",
              "Burkina Faso",
              "Burundi",
              "Cabo Verde",
              "Cameroon",
              "Central African Republic",
              "Chad",
              "Comoros",
              "Congo",
              "Côte d'Ivoire",
              "DRC",
              "Djibouti",
              "Egypt",
              "Equatorial Guinea",
              "Eritrea",
              "Ethiopia",
              "Gabon",
              "Gambia",
              "Ghana",
              "Guinea",
              "Guinea-Bissau",
              "Kenya",
              "Lesotho",
              "Liberia",
              "Libyan Arab Jamahiriya",
              "Madagascar",
              "Malawi",
              "Mali",
              "Mauritania",
              "Mauritius",
              "Mayotte",
              "Morocco",
              "Mozambique",
              "Namibia",
              "Niger",
              "Nigeria",
              "Rwanda",
              "Réunion",
              "Saint Helena",
              "Sao Tome and Principe",
              "Senegal",
              "Seychelles",
              "Sierra Leone",
              "Somalia",
              "South Africa",
              "South Sudan",
              "Sudan",
              "Swaziland",
              "Tanzania",
              "Togo",
              "Tunisia",
              "Uganda",
              "Western Sahara",
              "Zambia",
              "Zimbabwe"
            ]
          },
          {
            "name": "yesterday",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "twoDaysAgo",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "strict",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "allowNull",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/v3/covid-19/jhucsse/counties": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "country": {
                    "type": "string",
                    "description": "country"
                  },
                  "province": {
                    "type": "string",
                    "description": "province"
                  },
                  "county": {
                    "type": "string",
                    "description": "county"
                  },
                  "updatedAt": {
                    "type": "string",
                    "description": "updatedAt"
                  },
                  "stats": {
                    "type": "object",
                    "properties": {
                      "confirmed": {
                        "type": "integer",
                        "format": "int32",
                        "description": "confirmed"
                      },
                      "deaths": {
                        "type": "integer",
                        "format": "int32",
                        "description": "deaths"
                      },
                      "recovered": {
                        "type": "string",
                        "description": "recovered"
                      }
                    },
                    "description": "stats"
                  },
                  "coordinates": {
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "type": "string",
                        "description": "latitude"
                      },
                      "longitude": {
                        "type": "string",
                        "description": "longitude"
                      }
                    },
                    "description": "coordinates"
                  }
                }
              }
            }
          }
        },
        "summary": "Get COVID-19 totals for all US counties",
        "description": "Get COVID-19 totals for all US counties",
        "operationId": "GetCOVID-19totalsforallUScounties",
        "parameters": []
      }
    },
    "/v3/covid-19/jhucsse/counties/{county}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "country": {
                    "type": "string",
                    "description": "country"
                  },
                  "province": {
                    "type": "string",
                    "description": "province"
                  },
                  "county": {
                    "type": "string",
                    "description": "county"
                  },
                  "updatedAt": {
                    "type": "string",
                    "description": "updatedAt"
                  },
                  "stats": {
                    "type": "object",
                    "properties": {
                      "confirmed": {
                        "type": "integer",
                        "format": "int32",
                        "description": "confirmed"
                      },
                      "deaths": {
                        "type": "integer",
                        "format": "int32",
                        "description": "deaths"
                      },
                      "recovered": {
                        "type": "string",
                        "description": "recovered"
                      }
                    },
                    "description": "stats"
                  },
                  "coordinates": {
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "type": "string",
                        "description": "latitude"
                      },
                      "longitude": {
                        "type": "string",
                        "description": "longitude"
                      }
                    },
                    "description": "coordinates"
                  }
                }
              }
            }
          }
        },
        "summary": "Get COVID-19 totals for a specific county",
        "description": "Get COVID-19 totals for a specific county",
        "operationId": "GetCOVID-19totalsforaspecificcounty",
        "parameters": [
          {
            "name": "county",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "enum": [
              "Abbeville",
              "Acadia",
              "Accomack",
              "Ada",
              "Adair",
              "Adams",
              "Addison",
              "Aiken",
              "Aitkin",
              "Alachua",
              "Alamance",
              "Alameda",
              "Alamosa",
              "Albany",
              "Albemarle",
              "Alcona",
              "Alcorn",
              "Aleutians East",
              "Aleutians West",
              "Alexander",
              "Alexandria",
              "Alfalfa",
              "Alger",
              "Allamakee",
              "Allegan",
              "Allegany",
              "Allen",
              "Allendale",
              "Alpena",
              "Alpine",
              "Amador",
              "Amelia",
              "Amherst",
              "Amite",
              "Anchorage",
              "Anderson",
              "Andrew",
              "Androscoggin",
              "Angelina",
              "Anne Arundel",
              "Anoka",
              "Anson",
              "Antelope",
              "Antrim",
              "Apache",
              "Appanoose",
              "Bonner",
              "Bonneville",
              "Boone",
              "Borden",
              "Bosque",
              "Bossier",
              "Botetourt",
              "Bottineau",
              "Boulder",
              "Boundary",
              "Bourbon",
              "Bowie",
              "Bowman",
              "Box Butte",
              "Box Elder",
              "Boyd",
              "Boyle",
              "Bracken",
              "Bradford",
              "Bradley",
              "Branch",
              "Brantley",
              "Braxton",
              "Brazoria",
              "Brazos",
              "Breathitt",
              "Breckinridge",
              "Bremer",
              "Brevard",
              "Brewster",
              "Briscoe",
              "Bristol Bay",
              "Bristol",
              "Broadwater",
              "Bronx",
              "Brooke",
              "Brookings",
              "Brooks",
              "Broome",
              "Broomfield",
              "Broward",
              "Brown",
              "Brule",
              "Brunswick",
              "Bryan",
              "Buchanan",
              "Buckingham",
              "Bucks",
              "Buena Vista",
              "Buffalo",
              "Bullitt",
              "Bulloch",
              "Bullock",
              "Buncombe",
              "Bureau",
              "Burke",
              "Burleigh",
              "Burleson",
              "Burlington",
              "Burnet",
              "Burt",
              "Butler",
              "Butte",
              "Butts",
              "Cabarrus",
              "Cabell",
              "Cache",
              "Caddo",
              "Calaveras",
              "Calcasieu",
              "Caldwell",
              "Caledonia",
              "Calhoun",
              "Callahan",
              "Callaway",
              "Calumet",
              "Calvert",
              "Camas",
              "Cambria",
              "Cannon",
              "Caribou",
              "Carroll",
              "Carson City",
              "Carson",
              "Carter",
              "Carteret",
              "Carver",
              "Cascade",
              "Casey",
              "Cass",
              "Cassia",
              "Castro",
              "Caswell",
              "Catahoula",
              "Catawba",
              "Catoosa",
              "Catron",
              "Cattaraugus",
              "Cavalier",
              "Cayuga",
              "Cecil",
              "Cedar",
              "Centre",
              "Cerro Gordo",
              "Chaffee",
              "Chambers",
              "Champaign",
              "Chariton",
              "Charles City",
              "Charles Mix",
              "Charles",
              "Charleston",
              "Charlevoix",
              "Charlotte",
              "Charlottesville",
              "Charlton",
              "Chase",
              "Chatham",
              "Chattahoochee",
              "Chattooga",
              "Chautauqua",
              "Chaves",
              "Cheatham",
              "Cheboygan",
              "Chelan",
              "Chemung",
              "Chenango",
              "Cherokee",
              "Cherry",
              "Chesapeake",
              "Cheshire",
              "Chester",
              "Chesterfield",
              "Cheyenne",
              "Chickasaw",
              "Chicot",
              "Childress",
              "Chilton",
              "Chippewa",
              "Chisago",
              "Chittenden",
              "Choctaw",
              "Chouteau",
              "Chowan",
              "Christian",
              "Chugach",
              "Churchill",
              "Cibola",
              "Cimarron",
              "Citrus",
              "Clackamas",
              "Clallam",
              "Clare",
              "Clarendon",
              "Clarion",
              "Clark",
              "Clarke",
              "Clatsop",
              "Clay",
              "Clayton",
              "Clear Creek",
              "Clearfield",
              "Clearwater",
              "Cleburne",
              "Clermont",
              "Cleveland",
              "Clinch",
              "Cloud",
              "Coahoma",
              "Coal",
              "Cobb",
              "Cochise",
              "Cochran",
              "Cocke",
              "Coconino",
              "Codington",
              "Coffee",
              "Coke",
              "Colbert",
              "Cole",
              "Coleman",
              "Coles",
              "Colfax",
              "Colleton",
              "Collier",
              "Collin",
              "Collingsworth",
              "Colonial Heights",
              "Colorado",
              "Colquitt",
              "Columbia",
              "Columbiana",
              "Columbus",
              "Colusa",
              "Comal",
              "Comanche",
              "Concho",
              "Concordia",
              "Conecuh",
              "Conejos",
              "Contra Costa",
              "Converse",
              "Conway",
              "Cook",
              "Cooke",
              "Cooper",
              "Coos",
              "Coosa",
              "Copiah",
              "Copper River",
              "Corson",
              "Cortland",
              "Coryell",
              "Coshocton",
              "Costilla",
              "Cottle",
              "Cotton",
              "Cottonwood",
              "Covington",
              "Coweta",
              "Cowley",
              "Cowlitz",
              "Craig",
              "Craighead",
              "Crane",
              "Craven",
              "Crawford",
              "Creek",
              "Crenshaw",
              "Crisp",
              "Crittenden",
              "Crockett",
              "Crook",
              "Crosby",
              "Cross",
              "Crow Wing",
              "Crowley",
              "Culberson",
              "Cullman",
              "Culpeper",
              "Cumberland",
              "Cuming",
              "Currituck",
              "Curry",
              "Custer",
              "Cuyahoga",
              "Dade",
              "Daggett",
              "Dakota",
              "Dale",
              "Dallam",
              "Dallas",
              "Dane",
              "Daniels",
              "Danville",
              "Dare",
              "Darke",
              "Darlington",
              "Dauphin",
              "Davidson",
              "Davie",
              "Daviess",
              "Davis",
              "Dawes",
              "Dawson",
              "Day",
              "De Baca",
              "De Soto",
              "De Witt",
              "Deaf Smith",
              "Dearborn",
              "Decatur",
              "Deer Lodge",
              "Defiance",
              "DeKalb",
              "Del Norte",
              "Delaware",
              "Delta",
              "Denali",
              "Dent",
              "Denton",
              "Denver",
              "Des Moines",
              "Deschutes",
              "Desha",
              "DeSoto",
              "Deuel",
              "Dewey",
              "DeWitt",
              "Dickens",
              "Dickenson",
              "Dickey",
              "Dickinson",
              "Dickson",
              "Dillingham",
              "Dillon",
              "Dimmit",
              "Dinwiddie",
              "District of Columbia",
              "Divide",
              "Dixie",
              "Dixon",
              "Doddridge",
              "Dodge",
              "Dolores",
              "Doniphan",
              "Donley",
              "Dooly",
              "Door",
              "Dorchester",
              "Dougherty",
              "Douglas",
              "Drew",
              "Dubois",
              "Dubuque",
              "Duchesne",
              "Dukes",
              "Dundy",
              "Dunklin",
              "Dunn",
              "DuPage",
              "Duplin",
              "Durham",
              "Dutchess",
              "Duval",
              "Dyer",
              "Eagle",
              "Early",
              "East Baton Rouge",
              "East Carroll",
              "East Feliciana",
              "Eastland",
              "Eaton",
              "Eau Claire",
              "Echols",
              "Ector",
              "Eddy",
              "Edgar",
              "Edgecombe",
              "Edgefield",
              "Edmonson",
              "Edmunds",
              "Edwards",
              "Effingham",
              "El Dorado",
              "El Paso",
              "Elbert",
              "Elk",
              "Elkhart",
              "Elko",
              "Elliott",
              "Ellis",
              "Ellsworth",
              "Elmore",
              "Emanuel",
              "Emery",
              "Emmet",
              "Emmons",
              "Emporia",
              "Erath",
              "Erie",
              "Escambia",
              "Esmeralda",
              "Essex",
              "Estill",
              "Etowah",
              "Eureka",
              "Evangeline",
              "Evans",
              "Fairbanks North Star",
              "Fairfax",
              "Fairfield",
              "Fall River",
              "Fallon",
              "Falls Church",
              "Falls",
              "Fannin",
              "Faribault",
              "Faulk",
              "Faulkner",
              "Fayette",
              "Fentress",
              "Fergus",
              "Ferry",
              "Fillmore",
              "Finney",
              "Fisher",
              "Flagler",
              "Flathead",
              "Fleming",
              "Florence",
              "Floyd",
              "Fluvanna",
              "Foard",
              "Fond du Lac",
              "Ford",
              "Forest",
              "Forsyth",
              "Fort Bend",
              "Foster",
              "Fountain",
              "Franklin",
              "Frederick",
              "Fredericksburg",
              "Freeborn",
              "Freestone",
              "Fremont",
              "Fresno",
              "Frio",
              "Frontier",
              "Fulton",
              "Furnas",
              "Gadsden",
              "Gage",
              "Gaines",
              "Galax",
              "Gallatin",
              "Gallia",
              "Galveston",
              "Garden",
              "Garfield",
              "Garrett",
              "Garvin",
              "Garza",
              "Gasconade",
              "Gaston",
              "Gates",
              "Geary",
              "Geauga",
              "Gem",
              "Genesee",
              "Geneva",
              "Gentry",
              "George",
              "Georgetown",
              "Gibson",
              "Gila",
              "Gilchrist",
              "Giles",
              "Gillespie",
              "Gilliam",
              "Gilmer",
              "Gilpin",
              "Glacier",
              "Glades",
              "Gladwin",
              "Glascock",
              "Glenn",
              "Gloucester",
              "Glynn",
              "Gogebic",
              "Golden Valley",
              "Goliad",
              "Gonzales",
              "Goochland",
              "Goodhue",
              "Gooding",
              "Gordon",
              "Goshen",
              "Gosper",
              "Gove",
              "Grady",
              "Grafton",
              "Graham",
              "Grainger",
              "Grand Forks",
              "Grand Isle",
              "Grand Traverse",
              "Grand",
              "Granite",
              "Grant",
              "Granville",
              "Gratiot",
              "Graves",
              "Gray",
              "Grays Harbor",
              "Grayson",
              "Greeley",
              "Green Lake",
              "Green",
              "Greenbrier",
              "Greene",
              "Greenlee",
              "Greensville",
              "Greenup",
              "Greenville",
              "Greenwood",
              "Greer",
              "Gregg",
              "Gregory",
              "Grenada",
              "Griggs",
              "Grimes",
              "Grundy",
              "Guadalupe",
              "Guernsey",
              "Guilford",
              "Gulf",
              "Gunnison",
              "Guthrie",
              "Gwinnett",
              "Haakon",
              "Habersham",
              "Haines",
              "Hale",
              "Halifax",
              "Hall",
              "Hamblen",
              "Hamilton",
              "Hamlin",
              "Hampden",
              "Hampshire",
              "Hampton",
              "Hancock",
              "Hand",
              "Hanover",
              "Hansford",
              "Hanson",
              "Haralson",
              "Hardee",
              "Hardeman",
              "Hardin",
              "Harding",
              "Hardy",
              "Harford",
              "Harlan",
              "Harmon",
              "Harnett",
              "Harney",
              "Harper",
              "Harris",
              "Harrison",
              "Harrisonburg",
              "Hart",
              "Hartford",
              "Hartley",
              "Harvey",
              "Haskell",
              "Hawaii",
              "Hawkins",
              "Hayes",
              "Hays",
              "Haywood",
              "Heard",
              "Hemphill",
              "Hempstead",
              "Henderson",
              "Hendricks",
              "Hendry",
              "Hennepin",
              "Henrico",
              "Henry",
              "Herkimer",
              "Hernando",
              "Hertford",
              "Hettinger",
              "Hickman",
              "Hickory",
              "Hidalgo",
              "Highland",
              "Highlands",
              "Hill",
              "Hillsborough",
              "Hillsdale",
              "Hinds",
              "Hinsdale",
              "Hitchcock",
              "Hocking",
              "Hockley",
              "Hodgeman",
              "Hoke",
              "Holmes",
              "Holt",
              "Honolulu",
              "Hood River",
              "Hood",
              "Hooker",
              "Hoonah-Angoon",
              "Hopewell",
              "Hopkins",
              "Horry",
              "Hot Spring",
              "Houghton",
              "Houston",
              "Howard",
              "Howell",
              "Hubbard",
              "Hudson",
              "Hudspeth",
              "Huerfano",
              "Hughes",
              "Humboldt",
              "Humphreys",
              "Hunt",
              "Hunterdon",
              "Huntingdon",
              "Huron",
              "Hutchinson",
              "Hyde",
              "Iberia",
              "Iberville",
              "Ida",
              "Idaho",
              "Imperial",
              "Independence",
              "Indian River",
              "Indiana",
              "Ingham",
              "Inyo",
              "Ionia",
              "Iosco",
              "Iowa",
              "Iredell",
              "Irion",
              "Iron",
              "Iroquois",
              "Irwin",
              "Isabella",
              "Isanti",
              "Island",
              "Isle of Wight",
              "Issaquena",
              "Itasca",
              "Itawamba",
              "Izard",
              "Jack",
              "Jackson",
              "James City",
              "Jasper",
              "Jay",
              "Jeff Davis",
              "Jefferson Davis",
              "Jefferson",
              "Jenkins",
              "Jennings",
              "Jerauld",
              "Jerome",
              "Jersey",
              "Jessamine",
              "Jewell",
              "Jim Hogg",
              "Jim Wells",
              "Jo Daviess",
              "Johnson",
              "Johnston",
              "Jones",
              "Josephine",
              "Juab",
              "Judith Basin",
              "Juneau",
              "Juniata",
              "Kalamazoo",
              "Kalawao",
              "Kalkaska",
              "Kanabec",
              "Kanawha",
              "Kandiyohi",
              "Kane",
              "Kankakee",
              "Karnes",
              "Kauai",
              "Kaufman",
              "Kay",
              "Kearney",
              "Kearny",
              "Keith",
              "Kemper",
              "Kenai Peninsula",
              "Kendall",
              "Kenedy",
              "Kennebec",
              "Kenosha",
              "Kent",
              "Kenton",
              "Keokuk",
              "Kern",
              "Kerr",
              "Kershaw",
              "Ketchikan Gateway",
              "Kewaunee",
              "Keweenaw",
              "Keya Paha",
              "Kidder",
              "Kimball",
              "Kimble",
              "King and Queen",
              "King George",
              "King William",
              "King",
              "Kingfisher",
              "Kingman",
              "Kings",
              "Kingsbury",
              "Kinney",
              "Kiowa",
              "Kit Carson",
              "Kitsap",
              "Kittitas",
              "Kittson",
              "Klamath",
              "Kleberg",
              "Klickitat",
              "Knott",
              "Knox",
              "Kodiak Island",
              "Koochiching",
              "Kootenai",
              "Kosciusko",
              "Kossuth",
              "Kusilvak",
              "La Crosse",
              "La Paz",
              "La Plata",
              "La Salle",
              "Labette",
              "Lac qui Parle",
              "Lackawanna",
              "Laclede",
              "Lafayette",
              "Lafourche",
              "LaGrange",
              "Lake and Peninsula",
              "Lake of the Woods",
              "Lake",
              "Lamar",
              "Lamb",
              "Lamoille",
              "LaMoure",
              "Lampasas",
              "Lancaster",
              "Lander",
              "Lane",
              "Langlade",
              "Lanier",
              "Lapeer",
              "LaPorte",
              "Laramie",
              "Larimer",
              "Larue",
              "Las Animas",
              "LaSalle",
              "Lassen",
              "Latah",
              "Latimer",
              "Lauderdale",
              "Laurel",
              "Laurens",
              "Lavaca",
              "Lawrence",
              "Le Flore",
              "Le Sueur",
              "Lea",
              "Leake",
              "Leavenworth",
              "Lebanon",
              "Lee",
              "Leelanau",
              "Leflore",
              "Lehigh",
              "Lemhi",
              "Lenawee",
              "Lenoir",
              "Leon",
              "Leslie",
              "Letcher",
              "Levy",
              "Lewis and Clark",
              "Lewis",
              "Lexington",
              "Liberty",
              "Licking",
              "Limestone",
              "Lincoln",
              "Linn",
              "Lipscomb",
              "Litchfield",
              "Little River",
              "Live Oak",
              "Livingston",
              "Llano",
              "Logan",
              "Long",
              "Lonoke",
              "Lorain",
              "Los Alamos",
              "Los Angeles",
              "Loudon",
              "Loudoun",
              "Louisa",
              "Loup",
              "Love",
              "Loving",
              "Lowndes",
              "Lubbock",
              "Lucas",
              "Luce",
              "Lumpkin",
              "Luna",
              "Lunenburg",
              "Luzerne",
              "Lycoming",
              "Lyman",
              "Lynchburg",
              "Lynn",
              "Mackinac",
              "Macomb",
              "Macon",
              "Macoupin",
              "Madera",
              "Madison",
              "Magoffin",
              "Mahaska",
              "Mahnomen",
              "Mahoning",
              "Major",
              "Malheur",
              "Manassas Park",
              "Manassas",
              "Manatee",
              "Manistee",
              "Manitowoc",
              "Marathon",
              "Marengo",
              "Maricopa",
              "Maries",
              "Marin",
              "Marinette",
              "Marion",
              "Mariposa",
              "Marlboro",
              "Marquette",
              "Marshall",
              "Martin",
              "Martinsville",
              "Mason",
              "Massac",
              "Matagorda",
              "Matanuska-Susitna",
              "Mathews",
              "Maui",
              "Maury",
              "Maverick",
              "Mayes",
              "McClain",
              "McCone",
              "McCook",
              "McCormick",
              "McCracken",
              "McCreary",
              "McCulloch",
              "McCurtain",
              "McDonald",
              "McDonough",
              "McDowell",
              "McDuffie",
              "McHenry",
              "McIntosh",
              "McKean",
              "McKenzie",
              "McKinley",
              "McLean",
              "McLennan",
              "McLeod",
              "McMinn",
              "McMullen",
              "McNairy",
              "McPherson",
              "Meade",
              "Meagher",
              "Mecklenburg",
              "Mecosta",
              "Medina",
              "Meeker",
              "Meigs",
              "Mellette",
              "Menard",
              "Mendocino",
              "Menifee",
              "Menominee",
              "Merced",
              "Mercer",
              "Meriwether",
              "Merrick",
              "Merrimack",
              "Mesa",
              "Metcalfe",
              "Miami",
              "Miami-Dade",
              "Middlesex",
              "Midland",
              "Mifflin",
              "Milam",
              "Millard",
              "Mille Lacs",
              "Miller",
              "Mills",
              "Milwaukee",
              "Miner",
              "Mingo",
              "Minidoka",
              "Minnehaha",
              "Missaukee",
              "Mississippi",
              "Missoula",
              "Mitchell",
              "Mobile",
              "Modoc",
              "Moffat",
              "Mohave",
              "Moniteau",
              "Monmouth",
              "Mono",
              "Monona",
              "Monongalia",
              "Monroe",
              "Montague",
              "Montcalm",
              "Monterey",
              "Montezuma",
              "Montgomery",
              "Montmorency",
              "Montour",
              "Montrose",
              "Moody",
              "Moore",
              "Mora",
              "Morehouse",
              "Morgan",
              "Morrill",
              "Morris",
              "Morrison",
              "Morrow",
              "Morton",
              "Motley",
              "Moultrie",
              "Mountrail",
              "Mower",
              "Muhlenberg",
              "Multnomah",
              "Murray",
              "Muscatine",
              "Muscogee",
              "Muskegon",
              "Muskingum",
              "Muskogee",
              "Musselshell",
              "Nacogdoches",
              "Nance",
              "Nantucket",
              "Napa",
              "Nash",
              "Nassau",
              "Natchitoches",
              "Natrona",
              "Navajo",
              "Navarro",
              "Nelson",
              "Nemaha",
              "Neosho",
              "Neshoba",
              "Ness",
              "Nevada",
              "New Castle",
              "New Hanover",
              "New Haven",
              "New Kent",
              "New London",
              "New Madrid",
              "New York",
              "Newaygo",
              "Newberry",
              "Newport News",
              "Newport",
              "Newton",
              "Nez Perce",
              "Niagara",
              "Nicholas",
              "Nicollet",
              "Niobrara",
              "Noble",
              "Nodaway",
              "Nolan",
              "Nome",
              "Norfolk",
              "Norman",
              "North Slope",
              "Northampton",
              "Northumberland",
              "Northwest Arctic",
              "Norton",
              "Nottoway",
              "Nowata",
              "Noxubee",
              "Nuckolls",
              "Nueces",
              "Nye",
              "Oakland",
              "Obion",
              "O'Brien",
              "Ocean",
              "Oceana",
              "Ochiltree",
              "Oconto",
              "Ogemaw",
              "Oglala Lakota",
              "Ogle",
              "Oglethorpe",
              "Ohio",
              "Okaloosa",
              "Okanogan",
              "Okeechobee",
              "Okfuskee",
              "Oklahoma",
              "Okmulgee",
              "Oktibbeha",
              "Oldham",
              "Oliver",
              "Olmsted",
              "Oneida",
              "Onondaga",
              "Onslow",
              "Ontario",
              "Ontonagon",
              "Orange",
              "Orangeburg",
              "Oregon",
              "Orleans",
              "Osage",
              "Osborne",
              "Osceola",
              "Oscoda",
              "Oswego",
              "Otero",
              "Otsego",
              "Ottawa",
              "Otter Tail",
              "Ouachita",
              "Ouray",
              "Outagamie",
              "Overton",
              "Owen",
              "Owsley",
              "Owyhee",
              "Oxford",
              "Ozark",
              "Ozaukee",
              "Pacific",
              "Page",
              "Palm Beach",
              "Palo Alto",
              "Palo Pinto",
              "Pamlico",
              "Panola",
              "Park",
              "Parke",
              "Parker",
              "Parmer",
              "Pasco",
              "Pasquotank",
              "Passaic",
              "Patrick",
              "Paulding",
              "Pawnee",
              "Payette",
              "Payne",
              "Peach",
              "Pearl River",
              "Pecos",
              "Pembina",
              "Pemiscot",
              "Pend Oreille",
              "Pender",
              "Pendleton",
              "Pennington",
              "Penobscot",
              "Peoria",
              "Pepin",
              "Perkins",
              "Perquimans",
              "Perry",
              "Pershing",
              "Person",
              "Petersburg",
              "Petroleum",
              "Pettis",
              "Phelps",
              "Philadelphia",
              "Phillips",
              "Piatt",
              "Pickaway",
              "Pickens",
              "Pickett",
              "Pierce",
              "Pike",
              "Pima",
              "Pinal",
              "Pine",
              "Pinellas",
              "Pipestone",
              "Piscataquis",
              "Pitkin",
              "Pitt",
              "Pittsburg",
              "Pittsylvania",
              "Piute",
              "Placer",
              "Plaquemines",
              "Platte",
              "Pleasants",
              "Plumas",
              "Plymouth",
              "Pocahontas",
              "Poinsett",
              "Pointe Coupee",
              "Polk",
              "Pondera",
              "Pontotoc",
              "Pope",
              "Poquoson",
              "Portage",
              "Porter",
              "Portsmouth",
              "Posey",
              "Pottawatomie",
              "Potter",
              "Powder River",
              "Powell",
              "Power",
              "Poweshiek",
              "Powhatan",
              "Prairie",
              "Pratt",
              "Preble",
              "Prentiss",
              "Presidio",
              "Presque Isle",
              "Preston",
              "Price",
              "Prince Edward",
              "Prince George",
              "Prince George's",
              "Prince of Wales-Hyder",
              "Prince William",
              "Providence",
              "Prowers",
              "Pueblo",
              "Pulaski",
              "Pushmataha",
              "Putnam",
              "Quay",
              "Queen Anne's",
              "Queens",
              "Quitman",
              "Rabun",
              "Racine",
              "Radford",
              "Rains",
              "Raleigh",
              "Ralls",
              "Ramsey",
              "Randall",
              "Randolph",
              "Rankin",
              "Ransom",
              "Rapides",
              "Rappahannock",
              "Ravalli",
              "Rawlins",
              "Ray",
              "Reagan",
              "Real",
              "Red Lake",
              "Red River",
              "Red Willow",
              "Redwood",
              "Reeves",
              "Refugio",
              "Reno",
              "Rensselaer",
              "Renville",
              "Reynolds",
              "Rhea",
              "Rich",
              "Richardson",
              "Richland",
              "Richmond",
              "Riley",
              "Ringgold",
              "Rio Arriba",
              "Rio Blanco",
              "Rio Grande",
              "Ripley",
              "Ritchie",
              "Riverside",
              "Roane",
              "Roanoke",
              "Roberts",
              "Robertson",
              "Robeson",
              "Rock Island",
              "Rock",
              "Rockbridge",
              "Rockcastle",
              "Rockdale",
              "Rockingham",
              "Rockland",
              "Rockwall",
              "Roger Mills",
              "Rogers",
              "Rolette",
              "Rooks",
              "Roosevelt",
              "Roscommon",
              "Roseau",
              "Rosebud",
              "Ross",
              "Routt",
              "Rowan",
              "Runnels",
              "Rush",
              "Rusk",
              "Russell",
              "Rutherford",
              "Rutland",
              "Sabine",
              "Sac",
              "Sacramento",
              "Sagadahoc",
              "Saginaw",
              "Saguache",
              "Salem",
              "Saline",
              "Salt Lake",
              "Saluda",
              "Sampson",
              "San Augustine",
              "San Benito",
              "San Bernardino",
              "San Diego",
              "San Francisco",
              "San Jacinto",
              "San Joaquin",
              "San Juan",
              "San Luis Obispo",
              "San Mateo",
              "San Miguel",
              "San Patricio",
              "San Saba",
              "Sanborn",
              "Sanders",
              "Sandoval",
              "Sandusky",
              "Sangamon",
              "Sanilac",
              "Sanpete",
              "Santa Barbara",
              "Santa Clara",
              "Santa Cruz",
              "Santa Fe",
              "Santa Rosa",
              "Sarasota",
              "Saratoga",
              "Sargent",
              "Sarpy",
              "Sauk",
              "Saunders",
              "Sawyer",
              "Schenectady",
              "Schleicher",
              "Schley",
              "Schoharie",
              "Schoolcraft",
              "Schuyler",
              "Schuylkill",
              "Scioto",
              "Scotland",
              "Scott",
              "Scotts Bluff",
              "Screven",
              "Scurry",
              "Searcy",
              "Sebastian",
              "Sedgwick",
              "Seminole",
              "Seneca",
              "Sequatchie",
              "Sequoyah",
              "Sevier",
              "Seward",
              "Shackelford",
              "Shannon",
              "Sharkey",
              "Sharp",
              "Shasta",
              "Shawano",
              "Shawnee",
              "Sheboygan",
              "Shelby",
              "Shenandoah",
              "Sherburne",
              "Sheridan",
              "Sherman",
              "Shiawassee",
              "Shoshone",
              "Sibley",
              "Sierra",
              "Silver Bow",
              "Simpson",
              "Sioux",
              "Siskiyou",
              "Sitka",
              "Skagit",
              "Skagway",
              "Skamania",
              "Slope",
              "Smith",
              "Smyth",
              "Snohomish",
              "Snyder",
              "Socorro",
              "Solano",
              "Somerset",
              "Somervell",
              "Sonoma",
              "Southampton",
              "Southeast Fairbanks",
              "Spalding",
              "Spartanburg",
              "Spencer",
              "Spink",
              "Spokane",
              "Spotsylvania",
              "St. Bernard",
              "St. Charles",
              "St. Clair",
              "St. Croix",
              "St. Francis",
              "St. Francois",
              "St. Helena",
              "St. James",
              "St. John the Baptist",
              "St. Johns",
              "St. Joseph",
              "St. Landry",
              "St. Lawrence",
              "St. Louis",
              "St. Lucie",
              "St. Martin",
              "St. Mary",
              "St. Mary's",
              "St. Tammany",
              "Stafford",
              "Stanislaus",
              "Stanley",
              "Stanly",
              "Stanton",
              "Stark",
              "Starke",
              "Starr",
              "Staunton",
              "Ste. Genevieve",
              "Stearns",
              "Steele",
              "Stephens",
              "Stephenson",
              "Sterling",
              "Steuben",
              "Stevens",
              "Stewart",
              "Stillwater",
              "Stoddard",
              "Stokes",
              "Stone",
              "Stonewall",
              "Storey",
              "Story",
              "Strafford",
              "Stutsman",
              "Sublette",
              "Suffolk",
              "Sullivan",
              "Sully",
              "Summers",
              "Summit",
              "Sumner",
              "Sumter",
              "Sunflower",
              "Surry",
              "Susquehanna",
              "Sussex",
              "Sutter",
              "Sutton",
              "Suwannee",
              "Swain",
              "Sweet Grass",
              "Sweetwater",
              "Swift",
              "Swisher",
              "Switzerland",
              "Talbot",
              "Taliaferro",
              "Talladega",
              "Tallahatchie",
              "Tallapoosa",
              "Tama",
              "Taney",
              "Tangipahoa",
              "Taos",
              "Tarrant",
              "Tate",
              "Tattnall",
              "Taylor",
              "Tazewell",
              "Tehama",
              "Telfair",
              "Teller",
              "Tensas",
              "Terrebonne",
              "Terrell",
              "Terry",
              "Teton",
              "Texas",
              "Thayer",
              "Thomas",
              "Throckmorton",
              "Thurston",
              "Tift",
              "Tillamook",
              "Tillman",
              "Tioga",
              "Tippah",
              "Tippecanoe",
              "Tipton",
              "Tishomingo",
              "Titus",
              "Todd",
              "Tolland",
              "Tom Green",
              "Tompkins",
              "Tooele",
              "Toole",
              "Toombs",
              "Torrance",
              "Towner",
              "Towns",
              "Traill",
              "Transylvania",
              "Traverse",
              "Travis",
              "Treasure",
              "Trego",
              "Trempealeau",
              "Treutlen",
              "Trigg",
              "Trimble",
              "Trinity",
              "Tripp",
              "Troup",
              "Trousdale",
              "Trumbull",
              "Tucker",
              "Tulare",
              "Tulsa",
              "Tunica",
              "Tuolumne",
              "Turner",
              "Tuscaloosa",
              "Tuscarawas",
              "Tuscola",
              "Twiggs",
              "Twin Falls",
              "Tyler",
              "Tyrrell",
              "Uinta",
              "Uintah",
              "Ulster",
              "Umatilla",
              "Unicoi",
              "Union",
              "Upshur",
              "Upson",
              "Upton",
              "Utah",
              "Uvalde",
              "Val Verde",
              "Valencia",
              "Valley",
              "Van Buren",
              "Van Wert",
              "Van Zandt",
              "Vance",
              "Vanderburgh",
              "Venango",
              "Ventura",
              "Vermilion",
              "Vernon",
              "Victoria",
              "Vigo",
              "Vilas",
              "Vinton",
              "Virginia Beach",
              "Volusia",
              "Wabash",
              "Wabasha",
              "Wabaunsee",
              "Wadena",
              "Wagoner",
              "Wahkiakum",
              "Wake",
              "Wakulla",
              "Waldo",
              "Walker",
              "Walla Walla",
              "Wallace",
              "Waller",
              "Wallowa",
              "Walsh",
              "Walthall",
              "Walton",
              "Walworth",
              "Wapello",
              "Ward",
              "Ware",
              "Warren",
              "Warrick",
              "Wasatch",
              "Wasco",
              "Waseca",
              "Washakie",
              "Washburn",
              "Washington",
              "Washita",
              "Washoe",
              "Washtenaw",
              "Watauga",
              "Watonwan",
              "Waukesha",
              "Waupaca",
              "Waushara",
              "Wayne",
              "Waynesboro",
              "Weakley",
              "Webb",
              "Weber",
              "Webster",
              "Weld",
              "Wells",
              "West Baton Rouge",
              "West Carroll",
              "West Feliciana",
              "Westchester",
              "Westmoreland",
              "Weston",
              "Wetzel",
              "Wexford",
              "Wharton",
              "Whatcom",
              "Wheatland",
              "Wheeler",
              "White Pine",
              "White",
              "Whiteside",
              "Whitfield",
              "Whitley",
              "Whitman",
              "Wibaux",
              "Wichita",
              "Wicomico",
              "Wilbarger",
              "Wilcox",
              "Wilkes",
              "Wilkin",
              "Wilkinson",
              "Will",
              "Willacy",
              "Williams",
              "Williamsburg",
              "Williamson",
              "Wilson",
              "Winchester",
              "Windham",
              "Windsor",
              "Winkler",
              "Winn",
              "Winnebago",
              "Winneshiek",
              "Winona",
              "Winston",
              "Wirt",
              "Wise",
              "Wolfe",
              "Wood",
              "Woodbury",
              "Woodford",
              "Woodruff",
              "Woods",
              "Woodson",
              "Woodward",
              "Worcester",
              "Worth",
              "Wrangell",
              "Wright",
              "Wyandot",
              "Wyandotte",
              "Wyoming",
              "Wythe",
              "Yadkin",
              "Yakima",
              "Yakutat",
              "Yalobusha",
              "Yamhill",
              "Yancey",
              "Yankton",
              "Yates",
              "Yavapai",
              "Yazoo",
              "Yell",
              "Yellow Medicine",
              "Yellowstone",
              "Yoakum",
              "Yolo",
              "York",
              "Young",
              "Yuba",
              "Yukon-Koyukuk",
              "Yuma",
              "Zapata",
              "Zavala",
              "Ziebach"
            ]
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/v3/covid-19/jhucsse": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "country": {
                    "type": "string",
                    "description": "country"
                  },
                  "county": {
                    "type": "string",
                    "description": "county"
                  },
                  "updatedAt": {
                    "type": "string",
                    "description": "updatedAt"
                  },
                  "stats": {
                    "type": "object",
                    "properties": {
                      "confirmed": {
                        "type": "integer",
                        "format": "int32",
                        "description": "confirmed"
                      },
                      "deaths": {
                        "type": "integer",
                        "format": "int32",
                        "description": "deaths"
                      },
                      "recovered": {
                        "type": "integer",
                        "format": "int32",
                        "description": "recovered"
                      }
                    },
                    "description": "stats"
                  },
                  "coordinates": {
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "type": "string",
                        "description": "latitude"
                      },
                      "longitude": {
                        "type": "string",
                        "description": "longitude"
                      }
                    },
                    "description": "coordinates"
                  },
                  "province": {
                    "type": "string",
                    "description": "province"
                  }
                }
              }
            }
          }
        },
        "summary": "Get COVID-19 totals for all countries and their provinces",
        "description": "Get COVID-19 totals for all countries and their provinces",
        "operationId": "GetCOVID-19totalsforallcountriesandtheirprovinces",
        "parameters": [],
        "x-ms-visibility": "important"
      }
    },
    "/v3/covid-19/historical/{country}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string",
                  "description": "country"
                },
                "province": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "province"
                },
                "timeline": {
                  "type": "object",
                  "properties": {
                    "cases": {
                      "type": "object",
                      "properties": {
                        "day-month-year": {
                          "type": "integer",
                          "format": "int32",
                          "description": "day-month-year"
                        }
                      },
                      "description": "cases"
                    },
                    "deaths": {
                      "type": "object",
                      "properties": {
                        "day-month-year": {
                          "type": "integer",
                          "format": "int32",
                          "description": "day-month-year"
                        }
                      },
                      "description": "deaths"
                    },
                    "recovered": {
                      "type": "object",
                      "properties": {
                        "day-month-year": {
                          "type": "integer",
                          "format": "int32",
                          "description": "day-month-year"
                        }
                      },
                      "description": "recovered"
                    }
                  },
                  "description": "timeline"
                }
              }
            }
          }
        },
        "summary": "Get COVID-19 time series data for a specific country",
        "description": "Get COVID-19 time series data for a specific country",
        "operationId": "GetCOVID-19timeseriesdataforaspecificcountry",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "enum": [
              "Australia",
              "Cook Islands",
              "Fiji",
              "French Polynesia",
              "Kiribati",
              "Marshall Islands",
              "Micronesia",
              "Nauru",
              "New Caledonia",
              "New Zealand",
              "Niue",
              "Palau",
              "Papua New Guinea",
              "Samoa",
              "Solomon Islands",
              "Tonga",
              "Tuvalu",
              "Vanuatu",
              "Wallis and Futuna",
              "Argentina",
              "Bolivia",
              "Brazil",
              "Chile",
              "Colombia",
              "Ecuador",
              "Falkland Islands (Malvinas)",
              "French Guiana",
              "Guyana",
              "Paraguay",
              "Peru",
              "Suriname",
              "Uruguay",
              "Venezuela",
              "Albania",
              "Andorra",
              "Austria",
              "Belarus",
              "Belgium",
              "Bosnia",
              "Bulgaria",
              "Channel Islands",
              "Croatia",
              "Czechia",
              "Denmark",
              "Estonia",
              "Faroe Islands",
              "Finland",
              "France",
              "Germany",
              "Gibraltar",
              "Greece",
              "Holy See (Vatican City State)",
              "Hungary",
              "Iceland",
              "Ireland",
              "Isle of Man",
              "Italy",
              "Latvia",
              "Liechtenstein",
              "Lithuania",
              "Luxembourg",
              "Macedonia",
              "Malta",
              "Moldova",
              "Monaco",
              "Montenegro",
              "Netherlands",
              "Norway",
              "Poland",
              "Portugal",
              "Romania",
              "Russia",
              "San Marino",
              "Serbia",
              "Slovakia",
              "Slovenia",
              "Spain",
              "Sweden",
              "Switzerland",
              "UK",
              "Ukraine",
              "Afghanistan",
              "Armenia",
              "Azerbaijan",
              "Bahrain",
              "Bangladesh",
              "Bhutan",
              "Brunei",
              "Cambodia",
              "China",
              "Cyprus",
              "Georgia",
              "Hong Kong",
              "India",
              "Indonesia",
              "Iran",
              "Iraq",
              "Israel",
              "Japan",
              "Jordan",
              "Kazakhstan",
              "Kuwait",
              "Kyrgyzstan",
              "Lao People's Democratic Republic",
              "Lebanon",
              "Macao",
              "Malaysia",
              "Maldives",
              "Mongolia",
              "Myanmar",
              "N. Korea",
              "Nepal",
              "Oman",
              "Pakistan",
              "Palestine",
              "Philippines",
              "Qatar",
              "S. Korea",
              "Saudi Arabia",
              "Singapore",
              "Sri Lanka",
              "Syrian Arab Republic",
              "Taiwan",
              "Tajikistan",
              "Thailand",
              "Timor-Leste",
              "Türkiye",
              "UAE",
              "Uzbekistan",
              "Vietnam",
              "Yemen",
              "Anguilla",
              "Antigua and Barbuda",
              "Aruba",
              "Bahamas",
              "Barbados",
              "Belize",
              "Bermuda",
              "British Virgin Islands",
              "Canada",
              "Caribbean Netherlands",
              "Cayman Islands",
              "Costa Rica",
              "Cuba",
              "Curaçao",
              "Dominica",
              "Dominican Republic",
              "El Salvador",
              "Greenland",
              "Grenada",
              "Guadeloupe",
              "Guatemala",
              "Haiti",
              "Honduras",
              "Jamaica",
              "Martinique",
              "Mexico",
              "Montserrat",
              "Nicaragua",
              "Panama",
              "Saint Kitts and Nevis",
              "Saint Lucia",
              "Saint Martin",
              "Saint Pierre Miquelon",
              "Saint Vincent and the Grenadines",
              "Sint Maarten",
              "St. Barth",
              "Trinidad and Tobago",
              "Turks and Caicos Islands",
              "USA",
              "Algeria",
              "Angola",
              "Benin",
              "Botswana",
              "Burkina Faso",
              "Burundi",
              "Cabo Verde",
              "Cameroon",
              "Central African Republic",
              "Chad",
              "Comoros",
              "Congo",
              "Côte d'Ivoire",
              "DRC",
              "Djibouti",
              "Egypt",
              "Equatorial Guinea",
              "Eritrea",
              "Ethiopia",
              "Gabon",
              "Gambia",
              "Ghana",
              "Guinea",
              "Guinea-Bissau",
              "Kenya",
              "Lesotho",
              "Liberia",
              "Libyan Arab Jamahiriya",
              "Madagascar",
              "Malawi",
              "Mali",
              "Mauritania",
              "Mauritius",
              "Mayotte",
              "Morocco",
              "Mozambique",
              "Namibia",
              "Niger",
              "Nigeria",
              "Rwanda",
              "Réunion",
              "Saint Helena",
              "Sao Tome and Principe",
              "Senegal",
              "Seychelles",
              "Sierra Leone",
              "Somalia",
              "South Africa",
              "South Sudan",
              "Sudan",
              "Swaziland",
              "Tanzania",
              "Togo",
              "Tunisia",
              "Uganda",
              "Western Sahara",
              "Zambia",
              "Zimbabwe"
            ]
          },
          {
            "name": "lastdays",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/v3/covid-19/historical/usacounties": {},
    "/v3/covid-19/historical/usacounties/{state}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "province": {
                    "type": "string",
                    "description": "province"
                  },
                  "county": {
                    "type": "string",
                    "description": "county"
                  },
                  "timeline": {
                    "type": "object",
                    "properties": {
                      "cases": {
                        "type": "object",
                        "properties": {
                          "day-month-year": {
                            "type": "integer",
                            "format": "int32",
                            "description": "day-month-year"
                          }
                        },
                        "description": "cases"
                      },
                      "deaths": {
                        "type": "object",
                        "properties": {
                          "day-month-year": {
                            "type": "integer",
                            "format": "int32",
                            "description": "day-month-year"
                          }
                        },
                        "description": "deaths"
                      }
                    },
                    "description": "timeline"
                  }
                }
              }
            }
          }
        },
        "summary": "Get COVID-19 time series data for all counties in a specified US state",
        "description": "Get COVID-19 time series data for all counties in a specified US state",
[...]
