{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Acronyms",
    "description": "You can use the Microsoft Search service in Microsoft Graph to search, add, and update acronyms in your organization.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "graph.microsoft.com",
  "basePath": "/v1.0/search/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/query": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "hitsContainers": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "hits": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "hitId": {
                                    "type": "string",
                                    "description": "The hit identifier.",
                                    "title": "Hit ID"
                                  },
                                  "rank": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The rank.",
                                    "title": "Rank"
                                  },
                                  "summary": {
                                    "type": "string",
                                    "description": "The summary.",
                                    "title": "Summary"
                                  },
                                  "resource": {
                                    "type": "object",
                                    "properties": {
                                      "@odata.type": {
                                        "type": "string",
                                        "description": "The OData type.",
                                        "title": "OData Type"
                                      },
                                      "id": {
                                        "type": "string",
                                        "description": "The identifier.",
                                        "title": "ID"
                                      },
                                      "displayName": {
                                        "type": "string",
                                        "description": "The display name.",
                                        "title": "Display Name"
                                      },
                                      "webUrl": {
                                        "type": "string",
                                        "description": "The web URL address.",
                                        "title": "Web URL"
                                      },
                                      "standsFor": {
                                        "type": "string",
                                        "description": "The stands for.",
                                        "title": "Stands For"
                                      }
                                    },
                                    "title": "Resource"
                                  }
                                }
                              },
                              "title": "Hits"
                            },
                            "total": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The total number.",
                              "title": "Total"
                            },
                            "moreResultsAvailable": {
                              "type": "boolean",
                              "description": "Whether more results available.",
                              "title": "More Results Available"
                            },
                            "aggregations": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "The aggregations.",
                              "title": "Aggregations"
                            }
                          }
                        },
                        "title": "Containers"
                      }
                    }
                  },
                  "title": "Value"
                },
                "@odata.context": {
                  "type": "string",
                  "description": "The OData context.",
                  "title": "OData Context"
                }
              }
            }
          }
        },
        "summary": "Search acronyms",
        "description": "Retrieve a list of acronyms based on the search query.",
        "operationId": "AcronymSearchPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "requests": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityTypes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The entity types.",
                        "title": "Entity Types",
                        "default": [
                          "acronym"
                        ]
                      },
                      "query": {
                        "type": "object",
                        "properties": {
                          "queryString": {
                            "type": "string",
                            "description": "The query string.",
                            "title": "String"
                          }
                        },
                        "title": "Query"
                      }
                    }
                  },
                  "title": "Requests"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/acronyms": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The OData context.",
                  "title": "OData Context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "standsFor": {
                        "type": "string",
                        "description": "The stands for.",
                        "title": "Stands For"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "The display name.",
                        "title": "Display Name"
                      },
                      "webUrl": {
                        "type": "string",
                        "description": "The web URL address.",
                        "title": "Web URL"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "lastModifiedDateTime": {
                        "type": "string",
                        "description": "The last modified date time.",
                        "title": "Last Modified Date Time"
                      },
                      "lastModifiedBy": {
                        "type": "object",
                        "properties": {
                          "application": {
                            "type": "string",
                            "description": "The application.",
                            "title": "Application"
                          },
                          "device": {
                            "type": "string",
                            "description": "The device.",
                            "title": "Device"
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string",
                                "description": "The display name.",
                                "title": "Display Name"
                              },
                              "id": {
                                "type": "string",
                                "description": "The identifier.",
                                "title": "ID"
                              }
                            },
                            "title": "User"
                          }
                        },
                        "title": "Last Modified By"
                      }
                    }
                  },
                  "title": "Value"
                }
              }
            }
          }
        },
        "summary": "List acronyms",
        "description": "Retrieve a list of the acronym and their properties.",
        "operationId": "AcronymListGet",
        "parameters": [],
        "x-ms-visibility": "important"
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The OData context.",
                  "title": "OData Context"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                }
              }
            }
          }
        },
        "summary": "Create acronym",
        "description": "Creates a new acronym.",
        "operationId": "AcronymPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string",
                  "description": "The display name.",
                  "title": "Display Name"
                },
                "standsFor": {
                  "type": "string",
                  "description": "The stands for.",
                  "title": "Stands For"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "webUrl": {
                  "type": "string",
                  "description": "The web URL address.",
                  "title": "Web URL"
                },
                "state": {
                  "type": "string",
                  "description": "The state.",
                  "title": "State",
                  "default": "published",
                  "enum": [
                    "published",
                    "draft",
                    "excluded",
                    "unknownFutureValue"
                  ]
                }
              },
              "required": [
                "displayName",
                "standsFor"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/acronyms/{acronymsId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The OData context.",
                  "title": "OData Context"
                },
                "state": {
                  "type": "string",
                  "description": "The state.",
                  "title": "State"
                },
                "standsFor": {
                  "type": "string",
                  "description": "The stands for.",
                  "title": "Stands For"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "displayName": {
                  "type": "string",
                  "description": "The display name.",
                  "title": "Display Name"
                },
                "webUrl": {
                  "type": "string",
                  "description": "The web URL address.",
                  "title": "Web URL"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "lastModifiedDateTime": {
                  "type": "string",
                  "description": "The last modified date time.",
                  "title": "Last Modified Date Time"
                },
                "lastModifiedBy": {
                  "type": "object",
                  "properties": {
                    "application": {
                      "type": "string",
                      "description": "The application.",
                      "title": "Application"
                    },
                    "device": {
                      "type": "string",
                      "description": "The device.",
                      "title": "Device"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "displayName": {
                          "type": "string",
                          "description": "The display name.",
                          "title": "Display Name"
                        },
                        "id": {
                          "type": "string",
                          "description": "The identifier.",
                          "title": "ID"
                        }
                      },
                      "title": "User"
                    }
                  },
                  "title": "Last Modified By"
                }
              }
            }
          }
        },
        "summary": "Get acronym",
        "description": "Read the properties and relationships of an acronym.",
        "operationId": "AcronymGet",
        "parameters": [
          {
            "name": "acronymsId",
            "in": "path",
            "x-ms-summary": "Acronym ID",
            "x-ms-url-encoding": "single",
            "description": "The acronym identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-visibility": "important"
      },
      "delete": {
        "responses": {
          "204": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete acronym",
        "description": "Deletes an acronym.",
        "operationId": "AcronymDelete",
        "parameters": [
          {
            "name": "acronymsId",
            "in": "path",
            "x-ms-summary": "Acronym ID",
            "x-ms-url-encoding": "single",
            "description": "The acronym identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "patch": {
        "responses": {
          "202": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Update acronym",
        "description": "Update the properties of an acronym.",
        "operationId": "AcronymPatch",
        "parameters": [
          {
            "name": "acronymsId",
            "in": "path",
            "x-ms-summary": "Acronym ID",
            "x-ms-url-encoding": "single",
            "description": "The acronym identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string",
                  "description": "The display name.",
                  "title": "Display Name"
                },
                "standsFor": {
                  "type": "string",
                  "description": "The stands for.",
                  "title": "Stands For"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "webUrl": {
                  "type": "string",
                  "description": "The web URL address.",
                  "title": "Web URL"
                },
                "state": {
                  "type": "string",
                  "description": "The state.",
                  "title": "State",
                  "default": "published",
                  "enum": [
                    "published",
                    "draft",
                    "excluded",
                    "unknownFutureValue"
                  ]
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2-auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://learn.microsoft.com/en-us/graph/api/resources/search-acronym"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/en-us/privacystatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Business Intelligence"
    }
  ]
}
