{
  "swagger": "2.0",
  "info": {
    "title": "ParishSoft Family Suite",
    "description": "Ministry Brands ParishSOFT Family Suite is an integrated church management software solution that gives you access to everything you need for your ministry to run smoothly.  Pastors, staff, and parish administrators can streamline the behind-the-scenes administrative work.  Rather than having a different software or online platform for membership, online giving, communications, and volunteer management, Ministry Brands ParishSOFT Family Suite cohesively ties all the tasks into one system.",
    "contact": {
      "name": "ParishSOFT Support",
      "url": "https://www.parishsoft.com/support/",
      "email": "support@parishsoft.com"
    },
    "version": "2.0"
  },
  "host": "fsapi2.parishsoft.app",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/v2/constituents/search": {
      "get": {
        "tags": [
          "Constituents"
        ],
        "summary": "Constituent search",
        "description": "This operation performs a search for constituents based on the provided search criteria.",
        "operationId": "ConstituentSearch",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "Limit",
            "description": "Specify number of records per page",
            "required": true,
            "type": "integer",
            "format": "int32",
            "default": 100,
            "x-ms-summary": "Page Size"
          },
          {
            "in": "query",
            "name": "Offset",
            "description": "Specify page number to retrieve",
            "required": true,
            "type": "integer",
            "format": "int32",
            "default": 0,
            "x-ms-summary": "Page Number"
          },
          {
            "in": "query",
            "name": "LastModifiedDate",
            "description": "Filter by date constituent was last modified",
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          },
          {
            "in": "query",
            "name": "SortBy",
            "description": "Specify field name to sort results by",
            "type": "string",
            "default": "HeadLastName",
            "x-ms-summary": "Sort By"
          },
          {
            "in": "query",
            "name": "SortDirection",
            "description": "Specify \"asc\" for ascending and \"desc\" for decending",
            "type": "string",
            "default": "asc",
            "x-ms-summary": "Sort Direction"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Constituents",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ConstituentDetailResponseDto"
              }
            }
          }
        }
      }
    },
    "/api/v2/constituents/detail/{sDioceseId}": {
      "get": {
        "tags": [
          "Constituents"
        ],
        "summary": "Constituent detail",
        "description": "This operation provides information about a single constituent.",
        "operationId": "ConstituentDetail",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sDioceseId",
            "description": "Specify the diocese unique identifier",
            "required": true,
            "type": "string",
            "x-ms-summary": "sDiocese Id (External)",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Requested constituent information",
            "schema": {
              "$ref": "#/definitions/ConstituentDetailResponseDto"
            }
          }
        }
      }
    },
    "/api/v2/families/search": {
      "post": {
        "tags": [
          "Families"
        ],
        "summary": "Family search",
        "description": "This operation performs a search for family records.",
        "operationId": "FamilySearch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Specify the family search options",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FamilySearchRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Families",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FamilySearchResponseDto"
              }
            }
          }
        }
      }
    },
    "/api/v2/families/{familyId}": {
      "get": {
        "tags": [
          "Families"
        ],
        "summary": "Family detail",
        "description": "This operation returns information about a family for the specified family Id",
        "operationId": "FamilyDetail",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "familyId",
            "description": "Specify the unique family diocese identifier",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Family Diocese Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Requested Family Information",
            "schema": {
              "$ref": "#/definitions/FamilySearchResponseDto"
            }
          }
        }
      }
    },
    "/api/v2/families/{familyId}/member/list": {
      "get": {
        "tags": [
          "Families"
        ],
        "summary": "Family member list",
        "description": "This operation returns a list of family members.",
        "operationId": "FamilyMemberList",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "familyId",
            "description": "Specify the unique family diocese identifier",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Family Diocese Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Family Members",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FamilyMemberResponseDto"
              }
            }
          }
        }
      }
    },
    "/api/v2/families/{familyId}/ministry/list": {
      "get": {
        "tags": [
          "Families"
        ],
        "summary": "Family ministry list",
        "description": "This operation returns a list of family ministries.",
        "operationId": "FamilyMinistriesList",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "familyId",
            "description": "Specify the unique family diocese identifier",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Family Diocese Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Family Ministries",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FamilyMinistryResponseDto"
              }
            }
          }
        }
      }
    },
    "/api/v2/families/group/lookup/list": {
      "get": {
        "tags": [
          "Families"
        ],
        "summary": "Family group lookup list",
        "description": "This operation returns all family group lookup values.",
        "operationId": "FamilyGroupLookupList",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "List of Family Group Lookup Values",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FamilyGroupResponseDto"
              }
            }
          }
        }
      }
    },
    "/api/v2/families/workgroup/list": {
      "get": {
        "tags": [
          "Families"
        ],
        "summary": "Family work groups list",
        "description": "This operation returns a list of family work groups.",
        "operationId": "FamilyWorkGroupList",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Specify the page size",
            "type": "integer",
            "format": "int32",
            "default": 100,
            "x-ms-summary": "Page Size"
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Specify the page number",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "x-ms-summary": "Page Number"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Family Work Groups",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FamilyWorkGroupResponseDto"
              }
            }
          }
        }
      }
    },
    "/api/v2/families/{familyId}/contact": {
      "put": {
        "tags": [
          "Families"
        ],
        "summary": "Family Update Contact Info",
        "description": "This operation will update family contact information for a single family.",
        "operationId": "FamilyUpdateContactInfo",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "familyId",
            "description": "Specify the unique family diocese identifier",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Family Diocese Id",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Family Contact Info",
            "schema": {
              "$ref": "#/definitions/FamilyContactUpdateRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact Information Updated",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/v2/families/{familyId}/autofill": {
      "put": {
        "tags": [
          "Families"
        ],
        "summary": "Family update auto fill fields",
        "description": "This operation will update auto fill fields for a single family.",
        "operationId": "FamilyUpdateAutoFill",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "familyId",
            "description": "Specify the unique family diocese identifier",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Family Diocese Id",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Provide the family auto fill information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FamilyAutoFillUpdateRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact Information Updated",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/v2/families/change/list": {
      "get": {
        "tags": [
          "Families"
        ],
        "summary": "Family change list",
        "description": "This operation returns a list of family changes.",
        "operationId": "FamilyChangeList",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "StartDate",
            "description": "Specify the start date",
            "required": true,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Start Date"
          },
          {
            "in": "query",
            "name": "EndDate",
            "description": "Specify the end date",
            "required": true,
            "type": "string",
            "format": "date",
            "x-ms-summary": "End Date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Family Changes",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FamilyChangeListResponseDto"
              }
            }
          }
        }
      }
    },
    "/api/v2/members/search": {
      "post": {
        "tags": [
          "Members"
        ],
        "summary": "Member search",
        "description": "This operation performs a member search based on the provided search filter criteria.",
        "operationId": "MemberSearch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Provide the member search options",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MemberSearchRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Members",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MemberSearchResponseDto"
              }
            }
          }
        }
      }
    },
    "/api/v2/members/{memberId}": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "Member Detail",
        "description": "This operation returns information about a specific member",
        "operationId": "MemberDetail",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "memberId",
            "description": "Member Diocese Id",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Member Diocese Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Requested member information",
            "schema": {
              "$ref": "#/definitions/MemberSearchResponseDto"
            }
          }
        }
      }
    },
    "/api/v2/members/{memberId}/sacrament/{type}/list": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "Member sacrament list",
        "description": "This operation returns a list of sacrament records.",
        "operationId": "MemberSacramentList",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "memberId",
            "description": "Specify the unique member diocese identifier",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Member Diocese Id",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "type",
            "description": "Specify the sacrament type (0 - 9)",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Sacrament Type",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "List of member sacraments",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SacramentDto"
              }
            }
          }
        }
      }
    },
    "/api/v2/members/memberstatus/list": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "Member status lookup list",
        "description": "This operation returns a list of member status lookup values.",
        "operationId": "MemberStatusLookupList",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "List of member status look up values",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MemberStatusListResponseDto"
              }
            }
          }
        }
      }
    },
    "/api/v2/members/membertype/list": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "Member type lookup list",
        "description": "This operation returns a list of member type lookup values.",
        "operationId": "MemberTypeLookupList",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "List of member type lookup values",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/api/v2/members/workgroup/list": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "Member work group lookup list",
        "description": "This operation returns a list of member work group lookup values.",
        "operationId": "MemberWorkGroupLookupList",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "List of member work group lookup values",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/api/v2/members/contact/list": {
      "post": {
        "tags": [
          "Members"
        ],
        "summary": "Member contact information list",
        "description": "This operation returns a list of contact information.",
        "operationId": "MemberContactList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Specify the member contact search options",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MemberContactListRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of member contact information",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MemberContactListResponseDto"
              }
            }
          }
        }
      }
    },
    "/api/v2/members/{memberId}/contact": {
      "put": {
        "tags": [
          "Members"
        ],
        "summary": "Member contact information update",
        "description": "This operation will update contact information for a member.",
        "operationId": "MemberUpdateContact",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "memberId",
            "description": "Specify the unique member diocese identifier",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Member Diocese Id",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Member Contact Information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MemberContactUpdateRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact Information Updated"
          }
        }
      }
    },
    "/api/v2/offering/{organizationId}/funds": {
      "get": {
        "tags": [
          "Offering"
        ],
        "summary": "Offering organization fund list",
        "description": "This operation will return a list of organization funds.",
        "operationId": "OfferingFundList",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "Specify the unique organization identifier",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Organization Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "List of organization funds",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FundListResponseDto"
              }
            }
          }
        }
      }
    },
    "/api/v2/offering/{organizationId}/givers": {
      "get": {
        "tags": [
          "Offering"
        ],
        "summary": "Offering organization giver list",
        "description": "This operation will return a list of givers for a organization.",
        "operationId": "OfferingGiverList",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "Specify the unique organization identifier",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Organization Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "List of organization givers",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GiverListResponseDto"
              }
            }
          }
        }
      }
    },
    "/api/v2/offering/{organizationId}/contribution/summary/list": {
      "post": {
        "tags": [
          "Offering"
        ],
        "summary": "Offering family contribution search",
        "description": "This operation will return a list of family contribution summaries.",
        "operationId": "OfferingFamilyContributionSearch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "Specify the unique organization identifier",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Organization Id",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Provide the family contribution search options",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FamilyContributionSummaryFilterModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of family contribution summaries",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FamilyContributionSummaryResponseDto"
              }
            }
          }
        }
      }
    },
    "/api/v2/organizations/search": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Organization search",
        "description": "This operation will perform an organization search based on the provided criteria.",
        "operationId": "OrganizationSearch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Specify the organization search options",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrganizationSearchRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of organizations",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrganizationDetailResponseDto"
              }
            }
          }
        }
      }
    },
    "/api/v2/organizations/{organizationId}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Organization detail",
        "description": "s\r\n            This operation will return information for a single organization.",
        "operationId": "OrganizationDetail",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "Specify the unique organization identifier",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Organization Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Requested organization information",
            "schema": {
              "$ref": "#/definitions/OrganizationDetailResponseDto"
            }
          }
        }
      }
    },
    "/api/v2/test": {
      "get": {
        "tags": [
          "Test"
        ],
        "summary": "Test API availability",
        "description": "This operation will perform a test to ensure API is available.",
        "operationId": "Test",
        "produces": [
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "Test Success",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ConstituentDetailResponseDto": {
      "type": "object",
      "properties": {
        "parishID": {
          "format": "int32",
          "title": "Organization Id",
          "description": "The family organization unique identifer.",
          "type": "integer",
          "x-ms-summary": "Organization Id"
        },
        "parishName": {
          "title": "Organization Name",
          "description": "The family organization name.",
          "type": "string",
          "x-ms-summary": "Organization Name"
        },
        "familyGroup": {
          "title": "Family Group Name",
          "description": "The name of the family group.",
          "type": "string",
          "x-ms-summary": "Family Group Name"
        },
        "headTitle": {
          "title": "Family Head Title",
          "description": "The title for the head of the family.",
          "type": "string",
          "x-ms-summary": "Family Head Title"
        },
        "headFirstName": {
          "title": "Family Head First Name",
          "description": "The first name for the head of the family.",
          "type": "string",
          "x-ms-summary": "Family Head First Name"
        },
        "headMiddleName": {
          "title": "Family Head Middle Name",
          "description": "The middle name for the head of the family.",
          "type": "string",
          "x-ms-summary": "Family Head Middle Name"
        },
        "headLastName": {
          "title": "Family Head Last Name",
          "description": "The last name for the head of the family.",
          "type": "string",
          "x-ms-summary": "Family Head Last Name"
        },
        "headSuffix": {
          "title": "Family Head Suffix",
          "description": "The suffix for the head of the family.",
          "type": "string",
          "x-ms-summary": "Family Head Suffix"
        },
        "headDateofBirth": {
          "title": "Family Head Birthday",
          "description": "The birthday for the head of the family.",
          "type": "string",
          "x-ms-summary": "Family Head Birthday"
        },
        "headDateofDeath": {
          "title": "Family Head Date of Death",
          "description": "The date of death for the head of the family.",
          "type": "string",
          "x-ms-summary": "Family Head Date of Death"
        },
        "spouseTitle": {
          "title": "Family Spouse Title",
          "description": "The title for the family spouse.",
          "type": "string",
          "x-ms-summary": "Family Spouse Title"
        },
        "spouseFirstName": {
          "title": "Family Spouse First Name",
          "description": "The first name for the family spouse.",
          "type": "string",
          "x-ms-summary": "Family Spouse First Name"
        },
        "spouseMiddleName": {
          "title": "Family Spouse Middle Name",
          "description": "The middle name for the family spouse.",
          "type": "string",
          "x-ms-summary": "Family Spouse Middle Name"
        },
        "spouseLastName": {
          "title": "Family Spouse Last Name",
          "description": "The last name for the family spouse.",
          "type": "string",
          "x-ms-summary": "Family Spouse Last Name"
        },
        "spouseSuffix": {
          "title": "Family Spouse Suffix",
          "description": "The suffix for the family spouse.",
          "type": "string",
          "x-ms-summary": "Family Spouse Suffix"
        },
        "spouseDateofBirth": {
          "title": "Family Spouse Birthday",
          "description": "The birthday for the family spouse.",
          "type": "string",
          "x-ms-summary": "Family Spouse Birthday"
        },
        "spouseDateofDeath": {
          "title": "Family Spouse Date of Death",
          "description": "The date of death for the family spouse.",
          "type": "string",
          "x-ms-summary": "Family Spouse Date of Death"
        },
        "addressLine1": {
          "title": "Family Street Address",
          "description": "The street address for the family.",
          "type": "string",
          "x-ms-summary": "Family Street Address"
        },
        "addressLine2": {
          "title": "Family Street Address 2",
          "description": "The second street address for family.",
          "type": "string",
          "x-ms-summary": "Family Street Address 2"
        },
        "city": {
          "title": "Family Address City",
          "description": "The address city for the family.",
          "type": "string",
          "x-ms-summary": "Family Address City"
        },
        "state": {
          "title": "Family Address State",
          "description": "The address state for the family.",
          "type": "string",
          "x-ms-summary": "Family Address State"
        },
        "zip": {
          "title": "Family Address Postal Code",
          "description": "The address postal code.",
          "type": "string",
          "x-ms-summary": "Family Address Postal Code"
        },
        "phoneType1": {
          "title": "Family Primary Phone Type",
          "description": "The primary phone type for the family.",
          "type": "string",
          "x-ms-summary": "Family Primary Phone Type"
        },
        "phoneNumber1": {
          "title": "Family Primary Phone Number",
          "description": "The primary phone number for the family.",
          "type": "string",
          "x-ms-summary": "Family Primary Phone Number"
        },
        "phoneType2": {
          "title": "Family Alternate Phone Type",
          "description": "The alternate phone type for the family.",
          "type": "string",
          "x-ms-summary": "Family Alternate Phone Type"
        },
        "phoneNumber2": {
          "title": "Family Alternate Phone Number",
          "description": "The alternate phone number for the family.",
          "type": "string",
          "x-ms-summary": "Family Alternate Phone Number"
        },
        "phoneType3": {
          "title": "Family Alternate Phone Type",
          "description": "The alternate phone type for the family.",
          "type": "string",
          "x-ms-summary": "Family Alternate Phone Type"
        },
        "phoneNumber3": {
          "title": "Family Alternate Phone Number",
          "description": "The alternate phone number for the family.",
          "type": "string",
          "x-ms-summary": "Family Alternate Phone Number"
        }
      },
      "additionalProperties": false
    },
    "FamilyAutoFillUpdateRequestModel": {
      "required": [
        "organizationID"
      ],
      "type": "object",
      "properties": {
        "organizationID": {
          "format": "int32",
          "title": "Organization Id",
          "description": "Specify the organization identifier",
          "type": "integer",
          "x-ms-summary": "Organization Id"
        }
      },
      "additionalProperties": false
    },
    "FamilyChangeListResponseDto": {
      "type": "object",
      "properties": {
        "logDate": {
          "format": "date-time",
          "title": "Log Date",
          "description": "The date family was modified.",
          "type": "string",
          "x-ms-summary": "Log Date"
        },
        "family_DUID": {
          "format": "int32",
          "title": "Family Diocese Id",
          "description": "The family diocese unique identifier.",
          "type": "integer",
          "x-ms-summary": "Family Diocese Id"
        },
        "famGroup": {
          "title": "Family Group",
          "description": "The family group name.",
          "type": "string",
          "x-ms-summary": "Family Group"
        },
        "lastName": {
          "title": "Last Name",
          "description": "The family last name.",
          "type": "string",
          "x-ms-summary": "Last Name"
        },
        "tag_name": {
          "title": "First Name",
          "description": "The family first name.",
          "type": "string",
          "x-ms-summary": "First Name"
        },
        "currentAddress": {
          "title": "Current Street Address",
          "description": "The family current street address.",
          "type": "string",
          "x-ms-summary": "Current Street Address"
        },
        "currentAddress2": {
          "title": "Current Street Address 2",
          "description": "The family current street address 2.",
          "type": "string",
          "x-ms-summary": "Current Street Address 2"
        },
        "currentCity": {
          "title": "Current Address City",
          "description": "The family current address city.",
          "type": "string",
          "x-ms-summary": "Current Address City"
        },
        "currentState": {
          "title": "Current Address State",
          "description": "The family current address state.",
          "type": "string",
          "x-ms-summary": "Current Address State"
        },
        "currentPostalCode": {
          "title": "Current Address Postal Code",
          "description": "The family current address postal code.",
          "type": "string",
          "x-ms-summary": "Current Address Postal Code"
        },
        "currentPhone": {
          "title": "Current Phone",
          "description": "The family current phone number.",
          "type": "string",
          "x-ms-summary": "Current Phone"
        },
        "currentEmail": {
          "title": "Current Email Address",
          "description": "The family current email address.",
          "type": "string",
          "x-ms-summary": "Current Email Address"
        },
        "previousAddress": {
          "title": "Previous Street Address",
          "description": "The family previous street address.",
          "type": "string",
          "x-ms-summary": "Previous Street Address"
        },
        "previousAddress2": {
          "title": "Previous Street Address 2",
          "description": "The family previous street address 2.",
          "type": "string",
          "x-ms-summary": "Previous Street Address 2"
        },
        "previousCity": {
          "title": "Previous Address City",
          "description": "The family previous address city.",
          "type": "string",
          "x-ms-summary": "Previous Address City"
        },
        "previousState": {
          "title": "Previous Address State",
          "description": "The family previous address state.",
          "type": "string",
          "x-ms-summary": "Previous Address State"
        },
        "previousPostalCode": {
          "title": "Previous Address Postal Code",
          "description": "The family previous postal code.",
          "type": "string",
          "x-ms-summary": "Previous Address Postal Code"
        },
        "previousPhone": {
          "title": "Previous Phone Number",
          "description": "The family previous phone number.",
          "type": "string",
          "x-ms-summary": "Previous Phone Number"
        },
        "previousEmailAddress": {
          "title": "Previous Email Address",
          "description": "The family previous email address.",
          "type": "string",
          "x-ms-summary": "Previous Email Address"
        },
        "currentParishID": {
          "format": "int32",
          "title": "Current Organization Id",
          "description": "The family current organization identifier.",
          "type": "integer",
          "x-ms-summary": "Current Organization Id"
        },
        "currentRegisteredParish": {
          "title": "Current Registered Organization Id",
          "description": "The family current registered organization identifier.",
          "type": "string",
          "x-ms-summary": "Current Registered Organization Id"
        },
        "address1_Changed": {
          "title": "Address 1 Changed",
          "description": "The family address 1 changed.",
          "type": "string",
          "x-ms-summary": "Address 1 Changed"
        },
        "address2_Changed": {
          "title": "Address 2 Changed",
          "description": "The family address 2 changed.",
          "type": "string",
          "x-ms-summary": "Address 2 Changed"
        },
        "city_Changed": {
          "title": "Address City Changed",
          "description": "The family address city changed.",
          "type": "string",
          "x-ms-summary": "Address City Changed"
        },
        "state_Changed": {
          "title": "Address State Changed",
          "description": "The family address state changed.",
          "type": "string",
          "x-ms-summary": "Address State Changed"
        },
        "postalCode_Changed": {
          "title": "Address Postal Code Changed",
          "description": "The family address postal code changed.",
          "type": "string",
          "x-ms-summary": "Address Postal Code Changed"
        },
        "homePhone_Changed": {
          "title": "Primary Phone Changed",
          "description": "The family primary phone changed.",
          "type": "string",
          "x-ms-summary": "Primary Phone Changed"
        },
        "email_Changed": {
          "title": "Email Address Changed",
          "description": "The family email address changed.",
          "type": "string",
          "x-ms-summary": "Email Address Changed"
        }
      },
      "additionalProperties": false
    },
    "FamilyContactUpdateRequestModel": {
      "type": "object",
      "properties": {
        "firstName": {
          "title": "First Name",
          "description": "Specify the family first name",
          "maxLength": 30,
          "type": "string",
          "x-ms-summary": "First Name"
        },
        "lastName": {
          "title": "Last Name",
          "description": "Specify the family last name",
          "maxLength": 50,
          "type": "string",
          "x-ms-summary": "Last Name"
        },
        "mailingName": {
          "title": "Mailing Name",
          "description": "Specify the family mailing name",
          "maxLength": 100,
          "type": "string",
          "x-ms-summary": "Mailing Name"
        },
        "informalMailingName": {
          "title": "Informal Mailing Name",
          "description": "Specify the family informal mailing name",
          "maxLength": 100,
          "type": "string",
          "x-ms-summary": "Informal Mailing Name"
        },
        "formalSalutation": {
          "title": "Formal Salutation",
          "description": "Specify the family formal salutation",
          "maxLength": 100,
          "type": "string",
          "x-ms-summary": "Formal Salutation"
        },
        "informalSalutation": {
          "title": "Informal Salutation",
          "description": "Specify the family informal salutation",
          "maxLength": 100,
          "type": "string",
          "x-ms-summary": "Informal Salutation"
        },
        "emailAddress": {
          "title": "Email Address",
          "description": "Specify the family email address",
          "type": "string",
          "x-ms-summary": "Email Address"
        },
        "primaryPhone": {
          "title": "Primary Phone",
          "description": "Specify the family primary phone number.",
          "type": "string",
          "x-ms-summary": "Primary Phone"
        },
        "emergencyPhone": {
          "title": "Emergency Phone",
          "description": "Specify the family emergency phone number",
          "type": "string",
          "x-ms-summary": "Emergency Phone"
        },
        "primaryAddress": {
          "title": "Primary Address",
          "description": "Specify the family primary address",
          "type": "string",
          "x-ms-summary": "Primary Address"
        },
        "homeAddressLine1": {
          "title": "Home Street Address",
          "description": "Specify the family home street address",
          "type": "string",
          "x-ms-summary": "Home Street Address"
        },
        "homeAddressLine2": {
          "title": "Home Street Address 2",
          "description": "Specify the family home street address 2",
          "type": "string",
          "x-ms-summary": "Home Street Address 2"
        },
        "homeCity": {
          "title": "Home Address City",
          "description": "Specify the family home address city",
          "type": "string",
          "x-ms-summary": "Home Address City"
        },
        "homeState": {
          "title": "Home Address State",
          "description": "Specify the family home address state",
          "type": "string",
          "x-ms-summary": "Home Address State"
        },
        "homeCountry": {
          "title": "Home Address Country",
          "description": "Specify the family home address country",
          "type": "string",
          "x-ms-summary": "Home Address Country"
        },
        "homePostalCode": {
          "title": "Home Address Postal Code",
          "description": "Specify the family home address postal code",
          "type": "string",
          "x-ms-summary": "Home Address Postal Code"
        },
        "homePostalCodePlus4": {
          "title": "Home Address Postal Code Extension",
          "description": "Specify the family home address postal code extension",
          "type": "string",
          "x-ms-summary": "Home Address Postal Code Extension"
        },
        "homeAddressPhone": {
          "title": "Home Address Phone",
          "description": "Specify the family home address phone",
          "type": "string",
          "x-ms-summary": "Home Address Phone"
        },
        "mailingAddressLine1": {
          "title": "Mailing Street Address",
          "description": "Specify the family mailing street address",
          "type": "string",
          "x-ms-summary": "Mailing Street Address"
        },
        "mailingAddressLine2": {
          "title": "Mailing Street Address 2",
          "description": "Specify the family mailing street address 2",
          "type": "string",
          "x-ms-summary": "Mailing Street Address 2"
        },
        "mailingCity": {
          "title": "Mailing Address City",
          "description": "Specify the family mailing address city",
          "type": "string",
          "x-ms-summary": "Mailing Address City"
        },
        "mailingState": {
          "title": "Mailing Address State",
          "description": "Specify the family mailing address state",
          "type": "string",
          "x-ms-summary": "Mailing Address State"
        },
        "mailingCountry": {
          "title": "Mailing Address Country",
          "description": "Specify the mailing address country",
          "type": "string",
          "x-ms-summary": "Mailing Address Country"
        },
        "mailingPostalCode": {
          "title": "Mailing Address Postal Code",
          "description": "Specify the family mailing address postal code",
          "type": "string",
          "x-ms-summary": "Mailing Address Postal Code"
        },
        "mailingPostalCodePlus4": {
          "title": "Mailing Address Postal Code Extension",
          "description": "Specify the family mailing address postal code extenstion",
          "type": "string",
          "x-ms-summary": "Mailing Address Postal Code Extension"
        },
        "mailingAddressPhone": {
          "title": "Mailing Address Phone",
          "description": "Specify the family mailing address phone number",
          "type": "string",
          "x-ms-summary": "Mailing Address Phone"
        },
        "otherAddressLine1": {
          "title": "Other Street Address",
          "description": "Specify the family other street address",
          "type": "string",
          "x-ms-summary": "Other Street Address"
        },
        "otherAddressLine2": {
          "title": "Other Street Address 2",
          "description": "Specify the family other street address 2",
          "type": "string",
          "x-ms-summary": "Other Street Address 2"
        },
        "otherCity": {
          "title": "Other Address City",
          "description": "Specify the family other address city",
          "type": "string",
          "x-ms-summary": "Other Address City"
        },
        "otherState": {
          "title": "Other Address State",
          "description": "Specify the family other address state",
          "type": "string",
          "x-ms-summary": "Other Address State"
        },
        "otherCountry": {
          "title": "Other Address Country",
          "description": "Specify the family other address country",
          "type": "string",
          "x-ms-summary": "Other Address Country"
        },
        "otherPostalCode": {
          "title": "Other Address Postal Code",
          "description": "Specify the family other address postal code",
          "type": "string",
          "x-ms-summary": "Other Address Postal Code"
        },
        "otherPostalCodePlus4": {
          "title": "Other Address Postal Code Extension",
          "description": "Specify the family other address postal code extension",
          "type": "string",
          "x-ms-summary": "Other Address Postal Code Extension"
        },
        "otherAddressPhone": {
          "title": "Other Address Phone",
          "description": "Specify the family other address phone number",
          "type": "string",
          "x-ms-summary": "Other Address Phone"
        },
        "otherAddressFromDate": {
          "title": "Other Address From Date",
          "description": "Specify the family other address from date",
          "type": "string",
          "x-ms-summary": "Other Address From Date"
        },
        "otherAddressToDate": {
          "title": "Other Address To Date",
          "description": "Specify the family other address to date",
          "type": "string",
          "x-ms-summary": "Other Address To Date"
        },
        "sdiocesanId": {
          "title": "sDiocesan Id",
          "description": "Specify the family sDiocesanId (External Id)",
          "type": "string",
          "x-ms-summary": "sDiocesan Id"
        }
      },
      "additionalProperties": false
    },
    "FamilyContributionSummaryFilterModel": {
      "required": [
        "maximumRows",
        "startRowIndex"
      ],
      "type": "object",
      "properties": {
        "startRowIndex": {
          "format": "int32",
          "title": "Page Number",
          "description": "Specify page number to retrieve",
          "default": 0,
          "type": "integer",
          "example": 0,
          "x-ms-summary": "Page Number"
        },
        "maximumRows": {
          "format": "int32",
          "title": "Page Size",
          "description": "Specify number of records per page",
          "default": 100,
          "type": "integer",
          "example": 100,
          "x-ms-summary": "Page Size"
        },
        "familyDUIDs": {
          "title": "Family Id's",
          "description": "Filter for a list of family id's",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "example": [
            1,
            2,
            3
          ],
          "x-ms-summary": "Family Id's"
        },
        "fundsDUIDs": {
          "title": "Fund Id's",
          "description": "Filter for a list of fund id's",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "example": [
            1,
            2,
            3
          ],
          "x-ms-summary": "Fund Id's"
        },
        "familyGroupId": {
          "format": "int32",
          "title": "Group Id",
          "description": "Filter for a family group id",
          "type": "integer",
          "example": [
            1,
            2,
            3
          ],
          "x-ms-summary": "Group Id"
        },
        "registeredFamilies": {
          "title": "Registered Families",
          "description": "Filter for only registered families.",
          "type": "boolean",
          "x-ms-summary": "Registered Families"
        },
        "postDate_Low": {
          "format": "date",
          "title": "Contribution Start Date",
          "description": "Filter for contribution start date",
          "type": "string",
          "x-ms-summary": "Contribution Start Date"
        },
        "postDate_High": {
          "format": "date",
          "title": "Contribution End Date",
          "description": "Filter for contribution end date",
          "type": "string",
          "x-ms-summary": "Contribution End Date"
        },
        "amount_Low": {
          "format": "double",
          "title": "Contribution Low Amount",
          "description": "Filter for contribution low amount",
          "type": "number",
          "x-ms-summary": "Contribution Low Amount"
        },
        "amount_High": {
          "format": "double",
          "title": "Contribution High Amount",
          "description": "Filter for contribution high amount",
          "type": "number",
          "x-ms-summary": "Contribution High Amount"
        },
        "totalAmount_Low": {
          "format": "double",
          "title": "Total Contribution Low Amount",
          "description": "Filter for family total contribution low amount",
          "type": "number",
          "x-ms-summary": "Total Contribution Low Amount"
        },
        "totalAmount_High": {
          "format": "double",
          "title": "Total Contribution High Amount",
          "description": "Filter for family total contribution high amount",
          "type": "number",
          "x-ms-summary": "Total Contribution High Amount"
        },
        "familyDeleted": {
          "title": "Include Deleted",
          "description": "Specify to include deleted families",
          "type": "boolean",
          "x-ms-summary": "Include Deleted"
        },
        "includeZeroDollarContributions": {
          "title": "Include Zero Contributions",
          "description": "Specify to include zero dollar contibutions",
          "type": "boolean",
          "x-ms-summary": "Include Zero Contributions"
        },
        "includeNonGivers": {
          "title": "Include Non Givers",
          "description": "Specify to include non giver families",
          "type": "boolean",
          "x-ms-summary": "Include Non Givers"
        }
      },
      "additionalProperties": false
    },
    "FamilyContributionSummaryResponseDto": {
      "type": "object",
      "properties": {
        "recordCount": {
          "format": "int32",
          "title": "Record Count",
          "description": "The total number of matching result records.",
          "type": "integer",
          "x-ms-summary": "Record Count"
        },
        "rowNum": {
          "format": "int32",
          "title": "Row Number",
          "description": "The row number.",
          "type": "integer",
          "x-ms-summary": "Row Number"
        },
        "organizationID": {
          "format": "int32",
          "title": "Organization Id",
          "description": "The organization unique identifer.",
          "type": "integer",
          "x-ms-summary": "Organization Id"
        },
        "family_DUID": {
          "format": "int32",
          "title": "Family Diocese Id",
          "description": "The family unique diocese identifer.",
          "type": "integer",
          "x-ms-summary": "Family Diocese Id"
        },
        "famGroupID": {
          "format": "int32",
          "title": "Family Group Id",
          "description": "The family group identifer.",
          "type": "integer",
          "x-ms-summary": "Family Group Id"
        },
        "registrationStatus": {
          "title": "Registration Status",
          "description": "The family registration status.",
          "type": "boolean",
          "x-ms-summary": "Registration Status"
        },
        "envelopeID": {
          "format": "int32",
          "title": "Envelope Id",
          "description": "The envelope identifer.",
          "type": "integer",
          "x-ms-summary": "Envelope Id"
        },
        "lastName": {
          "title": "Last Name",
          "description": "The family last name.",
          "type": "string",
          "x-ms-summary": "Last Name"
        },
        "mailingName": {
          "title": "Mailing Name",
          "description": "The family mailing name.",
          "type": "string",
          "x-ms-summary": "Mailing Name"
        },
        "tag_name": {
          "title": "First Name",
          "description": "The family first name.",
          "type": "string",
          "x-ms-summary": "First Name"
        },
        "address_1": {
          "title": "Street Address",
          "description": "The family street address.",
          "type": "string",
          "x-ms-summary": "Street Address"
        },
        "address_2": {
          "title": "Street Address 2",
          "description": "The family street address 2.",
          "type": "string",
          "x-ms-summary": "Street Address 2"
        },
        "city": {
          "title": "Address City",
          "description": "The family address city.",
          "type": "string",
          "x-ms-summary": "Address City"
        },
        "region": {
          "title": "Address Region",
          "description": "The family address region.",
          "type": "string",
          "x-ms-summary": "Address Region"
        },
        "postalCode": {
          "title": "Address Postal Code",
          "description": "The family address postal code.",
          "type": "string",
          "x-ms-summary": "Address Postal Code"
        },
        "sendNoMail": {
          "title": "Send No Mail",
          "description": "Does the family accept mail.",
          "type": "boolean",
          "x-ms-summary": "Send No Mail"
        },
        "homePhone": {
          "title": "Home Phone",
          "description": "The family Home Phone.",
          "type": "string",
          "x-ms-summary": "Home Phone"
        },
        "membership_Date": {
          "format": "date-time",
          "title": "Membership Date",
          "description": "The membership date.",
          "type": "string",
          "x-ms-summary": "Membership Date"
        },
        "recordDeleted": {
          "title": "Record Deleted",
          "description": "Is the family record deleted.",
          "type": "boolean",
          "x-ms-summary": "Record Deleted"
        },
        "numberOfContributions": {
          "format": "int32",
          "title": "Contribution Count",
          "description": "The total number of contributions for the family.",
          "type": "integer",
          "x-ms-summary": "Contribution Count"
        },
        "totalContributions": {
          "format": "int32",
          "title": "Total Contribution Amount",
          "description": "The total amount of contributions for the family.",
          "type": "integer",
          "x-ms-summary": "Total Contribution Amount"
        },
        "averageContribution": {
          "format": "int32",
          "title": "Average Contribution Amount",
          "description": "The average contribution amount for the family.",
          "type": "integer",
          "x-ms-summary": "Average Contribution Amount"
        }
      },
      "additionalProperties": false
    },
    "FamilyGroupResponseDto": {
      "type": "object",
      "properties": {
        "famGroupID": {
          "format": "int32",
          "title": "Family Group Id",
          "description": "The family group identifer.",
          "type": "integer",
          "x-ms-summary": "Family Group Id"
        },
        "famGroup": {
          "title": "Family Group Name",
          "description": "The family group name.",
          "type": "string",
          "x-ms-summary": "Family Group Name"
        }
      },
      "additionalProperties": false
    },
    "FamilyMemberResponseDto": {
      "type": "object",
      "properties": {
        "displayOrder": {
          "format": "int32",
          "title": "Display Order",
          "description": "The display order.",
          "type": "integer",
          "x-ms-summary": "Display Order"
        },
        "suspenseMemberID": {
          "format": "int32",
          "title": "Suspense Member Id",
          "description": "The suspense member identifier.",
          "type": "integer",
          "x-ms-summary": "Suspense Member Id"
        },
        "memberDUID": {
          "format": "int32",
          "title": "Member Diocese Id",
          "description": "The member unique diocese identifier.",
          "type": "integer",
          "x-ms-summary": "Member Diocese Id"
        },
        "familyDUID": {
          "format": "int32",
          "title": "Family Diocese Id",
          "description": "The family unique diocese identifer.",
          "type": "integer",
          "x-ms-summary": "Family Diocese Id"
        },
        "salutation": {
          "title": "Member Salutation",
          "description": "The member salutation.",
          "type": "string",
          "x-ms-summary": "Member Salutation"
        },
        "suffix": {
          "title": "Member Suffix",
          "description": "The member suffix.",
          "type": "string",
          "x-ms-summary": "Member Suffix"
        },
        "nickName": {
          "title": "Member Nick Name",
          "description": "The member nick name.",
          "type": "string",
          "x-ms-summary": "Member Nick Name"
        },
        "firstName": {
          "title": "First Name",
          "description": "The member first name.",
          "type": "string",
          "x-ms-summary": "First Name"
        },
        "middleName": {
          "title": "Middle Name",
          "description": "The member middle name.",
          "type": "string",
          "x-ms-summary": "Middle Name"
        },
        "lastName": {
          "title": "Last Name",
          "description": "The member last name.",
          "type": "string",
          "x-ms-summary": "Last Name"
        },
        "birthdate": {
          "format": "date-time",
          "title": "Birthday",
          "description": "The member birthday.",
          "type": "string",
          "x-ms-summary": "Birthday"
        },
        "birthPlaceID": {
          "format": "int32",
          "title": "Birth Place Id",
          "description": "The member birth place identifier.",
          "type": "integer",
          "x-ms-summary": "Birth Place Id"
        },
        "birthPlaceText": {
          "title": "Birth Place Description",
          "description": "The member birth place description.",
          "type": "string",
          "x-ms-summary": "Birth Place Description"
        },
        "sex": {
          "title": "Member Gender",
          "description": "The member Gender.",
          "type": "string",
          "x-ms-summary": "Member Gender"
        },
        "homePhone": {
          "title": "Home Phone",
          "description": "The member home phone number.",
          "type": "string",
          "x-ms-summary": "Home Phone"
        },
        "workPhone": {
          "title": "Work Phone",
          "description": "The member work phone number.",
          "type": "string",
          "x-ms-summary": "Work Phone"
        },
        "cellPhone": {
          "title": "Mobile Phone",
          "description": "The member mobile phone number.",
          "type": "string",
          "x-ms-summary": "Mobile Phone"
        },
        "pager": {
          "title": "Pager",
          "description": "The member pager number.",
          "type": "string",
          "x-ms-summary": "Pager"
        },
        "fax": {
          "title": "Fax",
          "description": "The member fax number.",
          "type": "string",
          "x-ms-summary": "Fax"
        },
        "emailAddress": {
          "title": "Email Address",
          "description": "The member email address.",
          "type": "string",
          "x-ms-summary": "Email Address"
        },
        "school": {
          "title": "School Name",
          "description": "The member school name.",
          "type": "string",
          "x-ms-summary": "School Name"
        },
        "gradYear": {
          "title": "Graduation Year",
          "description": "The member granduation year.",
          "type": "string",
          "x-ms-summary": "Graduation Year"
        },
        "educationID": {
          "format": "int32",
          "title": "Education Id",
          "description": "The member education identifier.",
          "type": "integer",
          "x-ms-summary": "Education Id"
        },
        "education": {
          "title": "Education Description",
          "description": "The member education description.",
          "type": "string",
          "x-ms-summary": "Education Description"
        },
        "careerType": {
          "title": "Career Type",
          "description": "The member career type name.",
          "type": "string",
          "x-ms-summary": "Career Type"
        },
        "careerDesc": {
          "title": "Career Type Description",
          "description": "The member career type description.",
          "type": "string",
          "x-ms-summary": "Career Type Description"
        },
        "language": {
          "title": "Language",
          "description": "The member language name.",
          "type": "string",
          "x-ms-summary": "Language"
        },
        "ethnicID": {
          "format": "int32",
          "title": "Ethnic Id",
          "description": "The member ethnic identifier.",
          "type": "integer",
          "x-ms-summary": "Ethnic Id"
        },
        "ethnicOrigin": {
          "title": "Ethnic Origin",
          "description": "The member ethnic origin.",
          "type": "string",
          "x-ms-summary": "Ethnic Origin"
        },
        "memberType": {
          "title": "Member Type",
          "description": "The member type description.",
          "type": "string",
          "x-ms-summary": "Member Type"
        },
        "publish_Photo": {
          "title": "Publish Photo",
          "description": "Does the member allow publishing photos.",
          "type": "boolean",
          "x-ms-summary": "Publish Photo"
        },
        "maritalStatusID": {
          "format": "int32",
          "title": "Marital Status Id",
          "description": "The member marital status identifier.",
          "type": "integer",
          "x-ms-summary": "Marital Status Id"
        },
        "religion": {
          "title": "Religion",
          "description": "The member religion name.",
          "type": "string",
          "x-ms-summary": "Religion"
        },
        "motherMaidenName": {
          "title": "Mother Maiden Name",
          "description": "The member mother's maiden name.",
          "type": "string",
          "x-ms-summary": "Mother Maiden Name"
        },
        "ownerOrganizationID": {
          "format": "int32",
          "title": "Owner Organization Id",
          "description": "The owner organization identifier.",
          "type": "integer",
          "x-ms-summary": "Owner Organization Id"
        },
        "maidenName": {
          "title": "Maiden Name",
          "description": "The member maiden name.",
          "type": "string",
          "x-ms-summary": "Maiden Name"
        },
        "memberStatus": {
          "title": "Member Status",
          "description": "The member status name.",
          "type": "string",
          "x-ms-summary": "Member Status"
        },
        "mapRecordClosed": {
          "title": "Map Closed",
          "description": "Is the member map record closed.",
          "type": "boolean",
          "x-ms-summary": "Map Closed"
        },
        "mappedOrganizationID": {
          "format": "int32",
          "title": "Mapped Organization Id",
          "description": "The member mapped organization identifier.",
          "type": "integer",
          "x-ms-summary": "Mapped Organization Id"
        },
        "memberLastnameFirstName": {
          "title": "Member Last Name First Name",
          "description": "The member last name and first name.",
          "type": "string",
          "x-ms-summary": "Member Last Name First Name"
        },
        "memberCasualName": {
          "title": "Casual Name",
          "description": "The member casual name.",
          "type": "string",
          "x-ms-summary": "Casual Name"
        },
        "memberFullName": {
          "title": "Full Name",
          "description": "The member full name.",
          "type": "string",
          "x-ms-summary": "Full Name"
        },
        "organizationID": {
          "format": "int32",
          "title": "Organization Id",
          "description": "The member organization identifier.",
          "type": "integer",
          "x-ms-summary": "Organization Id"
        },
        "memberTypeOrder": {
          "format": "int32",
          "title": "Member Type Order",
          "description": "The member type order.",
          "type": "integer",
          "x-ms-summary": "Member Type Order"
        }
      },
      "additionalProperties": false
    },
    "FamilyMinistryResponseDto": {
      "type": "object",
      "properties": {
        "recordCount": {
          "format": "int32",
          "title": "Record Count",
          "description": "The total number of matching records in results",
          "type": "integer",
          "x-ms-summary": "Record Count"
        },
        "rowNum": {
          "format": "int32",
          "title": "Row Number",
          "description": "The total row number",
          "type": "integer",
          "x-ms-summary": "Row Number"
        },
        "familyDUID": {
          "format": "int32",
          "title": "Family Diocese Id",
          "description": "The family unique diocese identifier",
          "type": "integer",
          "x-ms-summary": "Family Diocese Id"
        },
        "ministryTypeDUID": {
          "format": "int32",
          "title": "Ministry Type Diocese Id",
          "description": "The ministry type unique diocese identifier.",
          "type": "integer",
          "x-ms-summary": "Ministry Type Diocese Id"
        },
        "ministryTypeID": {
          "format": "int32",
          "title": "Ministry Type Id",
          "description": "The ministry type identifier.",
          "type": "integer",
          "x-ms-summary": "Ministry Type Id"
        },
        "ministryGroupDUID": {
          "format": "int32",
          "title": "Ministry Group Diocese Id",
          "description": "The ministry group unique diocese identifier.",
          "type": "integer",
          "x-ms-summary": "Ministry Group Diocese Id"
        },
        "ministryGroupID": {
          "format": "int32",
          "title": "Ministry Group Id",
          "description": "The ministry group identifier.",
          "type": "integer",
          "x-ms-summary": "Ministry Group Id"
        },
        "ministryRoleDUID": {
          "format": "int32",
          "title": "Ministry Role Diocese Id",
          "description": "The ministry role unique diocese identifier.",
          "type": "integer",
          "x-ms-summary": "Ministry Role Diocese Id"
        },
        "ministryRoleID": {
          "format": "int32",
          "title": "Ministry Role Id",
          "description": "The ministry role identifier.",
          "type": "integer",
          "x-ms-summary": "Ministry Role Id"
        },
        "eventTypeDUID": {
          "format": "int32",
          "title": "Event Type Diocese Id",
          "description": "The event type unique dioces identifier.",
          "type": "integer",
          "x-ms-summary": "Event Type Diocese Id"
        },
        "eventTypeID": {
          "format": "int32",
          "title": "Event Type Id",
          "description": "The event type identifier.",
          "type": "integer",
          "x-ms-summary": "Event Type Id"
        },
        "ministryDescription": {
          "title": "Ministry Description",
          "description": "The ministry description.",
          "type": "string",
          "x-ms-summary": "Ministry Description"
        },
        "ministryGroupDescription": {
          "title": "Ministry Group Description",
          "description": "The ministry group description.",
          "type": "string",
          "x-ms-summary": "Ministry Group Description"
        },
        "ministryRoleDescription": {
          "title": "Ministry Role Description",
          "description": "The ministry role description.",
          "type": "string",
          "x-ms-summary": "Ministry Role Description"
        },
        "eventTypeDescription": {
          "title": "Event Type Description",
          "description": "The event type description.",
          "type": "string",
          "x-ms-summary": "Event Type Description"
        },
        "preferenceType": {
          "title": "Preference Type",
          "description": "The event type preference type",
          "type": "string",
          "x-ms-summary": "Preference Type"
        }
      },
      "additionalProperties": false
    },
    "FamilySearchRequestModel": {
      "required": [
        "pageNumber",
        "pageSize"
      ],
      "type": "object",
      "properties": {
        "pageNumber": {
          "format": "int32",
          "title": "Page Number",
          "description": "Specify page number to retrieve",
          "default": 1,
          "type": "integer",
          "x-ms-summary": "Page Number"
        },
        "pageSize": {
          "format": "int32",
          "title": "Page Size",
          "description": "Specify number of records per page",
          "default": 100,
          "type": "integer",
          "example": 100,
          "x-ms-summary": "Page Size"
        },
        "familyID": {
          "format": "int32",
          "title": "Family Id",
          "description": "Specify a family identifier",
          "type": "integer",
          "x-ms-summary": "Family Id"
        },
        "familyDUID": {
          "format": "int32",
          "title": "Diocese Id",
          "description": "Specify a family unique diocese identifier",
          "type": "integer",
          "x-ms-summary": "Diocese Id"
        },
        "memberShipStatus": {
          "title": "Membership Status",
          "description": "Filter by membership status",
          "type": "boolean",
          "x-ms-summary": "Membership Status"
        },
        "familyGroupID": {
          "format": "int32",
          "title": "Family Group Id",
          "description": "Filter by family group identifier",
          "type": "integer",
          "x-ms-summary": "Family Group Id"
        },
        "organizationIDs": {
          "title": "Organizations",
          "description": "Filter by a list of family organization Identifiers",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "example": [
            1,
            2,
            3
          ],
          "x-ms-summary": "Organizations"
        },
        "firstName": {
          "title": "First Name",
          "description": "Filter by the family first name",
          "type": "string",
          "x-ms-summary": "First Name"
        },
        "lastName": {
          "title": "Last Name",
          "description": "Filter by the family last name",
          "type": "string",
          "x-ms-summary": "Last Name"
        },
        "hasEmail": {
          "title": "Has a Family Email Address",
          "description": "Filter for families with a family email address",
          "type": "boolean",
          "x-ms-summary": "Has a Family Email Address"
        },
        "envelopes": {
          "title": "Send Contribution Envelopes",
          "description": "Filter for only families with Send Contribribution Envelopes selected",
          "type": "boolean",
          "x-ms-summary": "Send Contribution Envelopes"
        },
        "registrationDateFrom": {
          "format": "date",
          "title": "Registration Start",
          "description": "Filter for registration start date",
          "type": "string",
          "example": "2023-01-01",
          "x-ms-summary": "Registration Start"
        },
        "registrationDateTo": {
          "format": "date",
          "title": "Registration End",
          "description": "Filter for registration end date",
          "type": "string",
          "example": "2023-12-31",
          "x-ms-summary": "Registration End"
        },
        "address": {
          "title": "Street Address",
          "description": "Filter for street address",
          "type": "string",
          "x-ms-summary": "Street Address"
        },
        "city": {
          "title": "Address City",
          "description": "Filter for address city",
          "type": "string",
          "x-ms-summary": "Address City"
        },
        "state": {
          "title": "Address State",
          "description": "Filter for address state",
          "type": "string",
          "x-ms-summary": "Address State"
        },
        "postalCode": {
          "title": "Postal Code",
          "description": "Filter for address postal code",
          "type": "string",
          "x-ms-summary": "Postal Code"
        },
        "sendNoMail": {
          "title": "Send No Mail",
          "description": "Filter for only families with send no mail",
          "type": "boolean",
          "x-ms-summary": "Send No Mail"
        },
        "doNotPublish": {
          "title": "Do Not Publish",
          "description": "Filter for only families with do not publish",
          "type": "boolean",
          "x-ms-summary": "Do Not Publish"
        },
        "familiesWithEmail": {
          "title": "Has Email",
          "description": "Filter for families with email",
          "type": "boolean",
          "x-ms-summary": "Has Email"
        },
        "familyGroupName": {
          "title": "Family Group Name",
          "description": "Filter for families by family group",
          "type": "string",
          "x-ms-summary": "Family Group Name"
        },
        "envelopeNumber": {
          "title": "Envelope Number",
          "description": "Filter for envelope number",
          "type": "string",
          "x-ms-summary": "Envelope Number"
        },
        "phone": {
          "title": "Primary Address Phone Number",
          "description": "Filter for primary address phone number",
          "type": "string",
          "x-ms-summary": "Primary Address Phone Number"
        },
        "eMailAddress": {
          "title": "Email Address",
          "description": "Filter for email address",
          "type": "string",
          "x-ms-summary": "Email Address"
        },
        "registeredOrganizationID": {
          "format": "int32",
          "title": "Registered Organization Id",
          "description": "Filter for registered organization identifier",
          "type": "integer",
          "x-ms-summary": "Registered Organization Id"
        },
        "dateModified": {
          "format": "date",
          "title": "Last Modified",
          "description": "Filter for date last modified",
          "type": "string",
          "x-ms-summary": "Last Modified"
        }
      },
      "additionalProperties": false
    },
    "FamilySearchResponseDto": {
      "type": "object",
      "properties": {
        "totalResults": {
          "format": "int32",
          "title": "Total Matching Records",
          "description": "The total number of records matching criteria.",
          "type": "integer",
          "x-ms-summary": "Total Matching Records"
        },
        "mailingName": {
          "title": "Mailing Name",
          "description": "The family mailing name.",
          "type": "string",
          "x-ms-summary": "Mailing Name"
        },
        "firstName": {
          "title": "First Name",
          "description": "The family first name.",
          "type": "string",
          "x-ms-summary": "First Name"
        },
        "lastName": {
          "title": "Last Name",
          "description": "The family last name.",
          "type": "string",
          "x-ms-summary": "Last Name"
        },
        "eMailAddress": {
          "title": "Email Address",
          "description": "The family email address.",
          "type": "string",
          "x-ms-summary": "Email Address"
        },
        "familyHomePhone": {
          "title": "Home Phone",
          "description": "The family home phone number.",
          "type": "string",
          "x-ms-summary": "Home Phone"
        },
        "envelopeNumber": {
          "format": "int32",
          "title": "Envelope Number",
          "description": "The family envelope number.",
          "type": "integer",
          "x-ms-summary": "Envelope Number"
        },
        "diocesanID": {
          "format": "int32",
          "title": "Diocesan Id",
          "description": "The family diocesan identifer.",
          "type": "integer",
          "x-ms-summary": "Diocesan Id"
        },
        "famGroupID": {
          "format": "int32",
          "title": "Group Id",
          "description": "The family group identifer.",
          "type": "integer",
          "x-ms-summary": "Group Id"
        },
        "mapCode": {
          "title": "Map Code",
          "description": "The family map code.",
          "type": "string",
          "x-ms-summary": "Map Code"
        },
        "sDiocesanID": {
          "title": "Diocesan String Id",
          "description": "The family diocesan identifier (string).",
          "type": "string",
          "x-ms-summary": "Diocesan String Id"
        },
        "familyDUID": {
          "format": "int32",
          "title": "Diocese Id",
          "description": "The family diocese identifier.",
          "type": "integer",
          "x-ms-summary": "Diocese Id"
        },
        "familyID": {
          "format": "int32",
          "title": "Family Id",
          "description": "The family identifer.",
          "type": "integer",
          "x-ms-summary": "Family Id"
        },
        "status": {
          "title": "Status",
          "description": "The family status.",
          "type": "boolean",
          "x-ms-summary": "Status"
        },
        "primaryPhone": {
          "title": "Primary Address Phone Number",
          "description": "The family primary address phone number.",
          "type": "string",
          "x-ms-summary": "Primary Address Phone Number"
        },
        "primaryAddressFull": {
          "title": "Primary Full Address",
          "description": "The family primary full address.",
          "type": "string",
          "x-ms-summary": "Primary Full Address"
        },
        "primaryAddress1": {
          "title": "Primary Street Address",
          "description": "The family primary street address.",
          "type": "string",
          "x-ms-summary": "Primary Street Address"
        },
        "primaryAddress2": {
          "title": "Primary Street Address 2",
          "description": "The family primary street address 2.",
          "type": "string",
          "x-ms-summary": "Primary Street Address 2"
        },
        "primaryAddress3": {
          "title": "Primary Street Address 3",
          "description": "The family primary street address 3.",
          "type": "string",
          "x-ms-summary": "Primary Street Address 3"
        },
        "primaryCity": {
          "title": "Primary Address City",
          "description": "The family primary address city.",
          "type": "string",
          "x-ms-summary": "Primary Address City"
        },
        "primaryState": {
          "title": "Primary Address State",
          "description": "The family primary address state.",
          "type": "string",
          "x-ms-summary": "Primary Address State"
        },
        "primaryPostalCode": {
          "title": "Primary Postal Code",
          "description": "The family primary address postal code.",
          "type": "string",
          "x-ms-summary": "Primary Postal Code"
        },
        "primaryZipPlus": {
          "title": "Primary Zip Plus",
          "description": "The family primary zip plus.",
          "type": "string",
          "x-ms-summary": "Primary Zip Plus"
        },
        "familyParticipationStatus": {
          "title": "Participation Status",
          "description": "The family participation status.",
          "type": "string",
          "x-ms-summary": "Participation Status"
        },
        "hasSuspense": {
          "title": "Has Suspense",
          "description": "The family has suspense records.",
          "type": "boolean",
          "x-ms-summary": "Has Suspense"
        },
        "ownedMap": {
          "title": "Has Owned Map",
          "description": "The family has owned map.",
          "type": "boolean",
          "x-ms-summary": "Has Owned Map"
        },
        "registeredOrganizationID": {
          "format": "int32",
          "title": "Registered Organization Id",
          "description": "The family registered organization identifer.",
          "type": "integer",
          "x-ms-summary": "Registered Organization Id"
        },
        "registeredOrganizationNameAndCity": {
          "title": "Registered Organization Name and City",
          "description": "The family registered organization name and city.",
          "type": "string",
          "x-ms-summary": "Registered Organization Name and City"
        },
        "strength": {
          "format": "int32",
          "title": "Family Strength",
          "description": "The family strength.",
          "type": "integer",
          "x-ms-summary": "Family Strength"
        },
        "hasMembers": {
          "format": "int32",
          "title": "Has Active Members",
          "description": "The family has active members.",
          "type": "integer",
          "x-ms-summary": "Has Active Members"
        },
        "publish_Photo": {
          "title": "Publish Photo",
          "description": "The family photo can be published.",
          "type": "boolean",
          "x-ms-summary": "Publish Photo"
        },
        "publish_Email": {
          "title": "Publish Email",
          "description": "The family email can be published.",
          "type": "boolean",
          "x-ms-summary": "Publish Email"
        },
        "publish_Phone": {
          "title": "Publish Phone",
          "description": "The family phone can be published.",
          "type": "boolean",
          "x-ms-summary": "Publish Phone"
        },
        "publish_Address": {
          "title": "Publish Address",
          "description": "The family address can be published.",
          "type": "boolean",
          "x-ms-summary": "Publish Address"
        },
        "sendNoMail": {
          "title": "Send No Mail",
          "description": "The family send no mail.",
          "type": "boolean",
          "x-ms-summary": "Send No Mail"
        },
        "primaryPublishAddress": {
          "title": "Publish Primary Address",
          "description": "The family primary address can be published.",
          "type": "boolean",
          "x-ms-summary": "Publish Primary Address"
        },
        "primaryPublishEMail": {
          "title": "Publish Primary Email",
          "description": "The family primary email can be published.",
          "type": "boolean",
          "x-ms-summary": "Publish Primary Email"
        },
        "primaryPublishPhone": {
          "title": "Publish Primary Phone",
          "description": "The family primary phone can be published.",
          "type": "boolean",
          "x-ms-summary": "Publish Primary Phone"
        },
        "dateModified": {
          "format": "date-time",
          "title": "Last Modified",
          "description": "The date family was last modified.",
          "type": "string",
          "x-ms-summary": "Last Modified"
        },
        "rowNumber": {
          "format": "int32",
          "title": "Row Number",
          "description": "The row number.",
          "type": "integer",
          "x-ms-summary": "Row Number"
        }
      },
      "additionalProperties": false
    },
    "FamilyWorkGroupResponseDto": {
      "type": "object",
      "properties": {
        "recordCount": {
          "format": "int32",
          "title": "Record Count",
          "description": "The total number of matching records.",
          "type": "integer",
          "x-ms-summary": "Record Count"
        },
        "rowNum": {
          "format": "int32",
          "title": "Row Number",
          "description": "The row number.",
          "type": "integer",
          "x-ms-summary": "Row Number"
        },
        "workgroupID": {
          "format": "int32",
          "title": "Work Group Id",
          "description": "The family work group identifer.",
          "type": "integer",
          "x-ms-summary": "Work Group Id"
        },
        "workgroupName": {
          "title": "Work Group Name",
          "description": "The family work group name.",
          "type": "string",
          "x-ms-summary": "Work Group Name"
        },
        "workgroupDescription": {
          "title": "Work Group Description",
          "description": "The family work group description.",
          "type": "string",
          "x-ms-summary": "Work Group Description"
        },
        "workgroupDate": {
          "format": "date-time",
          "title": "Work Group Date",
          "description": "The family work group date.",
          "type": "string",
          "x-ms-summary": "Work Group Date"
        },
        "isDiocesanWorkgroup": {
          "title": "Is Diocesan Work Group",
          "description": "The the work group diocesan.",
          "type": "boolean",
          "x-ms-summary": "Is Diocesan Work Group"
        },
        "ownerOrganizationID": {
          "format": "int32",
          "title": "Owner Organization Id",
          "description": "The owner organization unique identifer.",
          "type": "integer",
          "x-ms-summary": "Owner Organization Id"
        },
        "sourceOrganizationID": {
          "format": "int32",
          "title": "Source Organization Id",
          "description": "The source organization unique identifer.",
          "type": "integer",
          "x-ms-summary": "Source Organization Id"
        },
        "workgroupDUID": {
          "format": "int32",
          "title": "Work Group Diocese Id",
          "description": "The family work group unique diocese identifier.",
          "type": "integer",
          "x-ms-summary": "Work Group Diocese Id"
        }
      },
      "additionalProperties": false
    },
    "FundListResponseDto": {
      "type": "object",
      "properties": {
        "name": {
          "title": "Fund Name",
          "description": "The fund name.",
          "type": "string",
          "x-ms-summary": "Fund Name"
        },
        "fundId": {
          "format": "int32",
          "title": "Fund Id",
          "description": "The fund unique identifier.",
          "type": "integer",
          "x-ms-summary": "Fund Id"
        },
        "accountNumber": {
          "title": "Fund Account Number",
          "description": "The fund account number.",
          "type": "string",
          "x-ms-summary": "Fund Account Number"
        },
        "externalId": {
          "title": "Fund External Id",
          "description": "The fund external Id.",
          "type": "string",
          "x-ms-summary": "Fund External Id"
        },
        "diocesanId": {
          "title": "Fund Diocesan Id",
          "description": "The fund diocesan id.",
          "type": "string",
          "x-ms-summary": "Fund Diocesan Id"
        },
        "revenueAccountId": {
          "format": "int32",
          "title": "Revenue Account Id",
          "description": "The Parishsoft Accounting account ID for revenue account.",
          "type": "integer",
          "x-ms-summary": "Revenue Account Id"
        },
        "revenueAccountDescription": {
          "title": "Revenue Account Description",
          "description": "The ParishSoft Accounting account description for revenue account.",
          "type": "string",
          "x-ms-summary": "Revenue Account Description"
        },
        "revenueAccountShortcut": {
          "title": "Revenue Account Shortcut",
          "description": "The ParishSoft Accounting account shortcut for revenue account.",
          "type": "string",
          "x-ms-summary": "Revenue Account Shortcut"
        },
        "revenueAccountCode": {
          "title": "Revenue Account Code",
          "description": "The Parishsoft Accounting account code for revenue account.",
          "type": "string",
          "x-ms-summary": "Revenue Account Code"
        },
        "fundProjectId": {
          "format": "int32",
          "title": "Fund Project Id",
          "description": "The Parishsoft Accounting project ID for fund project.",
          "type": "integer",
          "x-ms-summary": "Fund Project Id"
        },
        "fundProjectDescription": {
          "title": "Fund Project Description",
          "description": "The Parishsoft Accounting project description for fund project.",
          "type": "string",
          "x-ms-summary": "Fund Project Description"
        },
        "active": {
          "title": "Is Fund Active",
          "description": "Is the fund active?",
          "type": "boolean",
          "x-ms-summary": "Is Fund Active"
        },
        "fundStartDate": {
          "format": "date-time",
          "title": "Fund Start Date",
          "description": "The fund start date.",
          "type": "string",
          "x-ms-summary": "Fund Start Date"
        },
        "fundEndDate": {
          "format": "date-time",
          "title": "Fund End Date",
          "description": "The fund end date.",
          "type": "string",
          "x-ms-summary": "Fund End Date"
        },
        "requiresPledges": {
          "title": "Fund Require Pledges?",
          "description": "Does the fund require a pledge?.",
          "type": "boolean",
          "x-ms-summary": "Fund Require Pledges?"
        },
        "acceptSustainingGifts": {
          "title": "Fund accept sustaining gifts?",
          "description": "Does the fund accept sustaining gifts?.",
          "type": "boolean",
          "x-ms-summary": "Fund accept sustaining gifts?"
        },
        "includesTaxDeductibleGifts": {
          "title": "Fund include tax deductible gifts?",
          "description": "Does the fund include tax deductible gifts?.",
          "type": "boolean",
          "x-ms-summary": "Fund include tax deductible gifts?"
        }
      },
      "additionalProperties": false
    },
    "GiverListResponseDto": {
      "type": "object",
      "properties": {
        "recordCount": {
          "format": "int32",
          "title": "Record Count",
          "description": "The total number of matching result records.",
          "type": "integer",
          "x-ms-summary": "Record Count"
        },
        "rowNum": {
          "format": "int32",
          "title": "Row Number",
          "description": "The row number.",
          "type": "integer",
          "x-ms-summary": "Row Number"
        },
        "family_DUID": {
          "format": "int32",
          "title": "Family Diocese Id",
          "description": "The family unique diocese identifer.",
          "type": "integer",
          "x-ms-summary": "Family Diocese Id"
        },
        "familyName": {
          "title": "Family Name",
          "description": "The family name.",
          "type": "string",
          "x-ms-summary": "Family Name"
        },
        "lastName": {
          "title": "Last Name",
          "description": "The family last name.",
          "type": "string",
          "x-ms-summary": "Last Name"
        },
        "mailingName": {
          "title": "Mailing Name",
          "description": "The family mailing name.",
          "type": "string",
          "x-ms-summary": "Mailing Name"
        },
        "familyEMailAddress": {
          "title": "Email Address",
          "description": "The family email address.",
          "type": "string",
          "x-ms-summary": "Email Address"
        },
        "primaryAddress": {
          "title": "Primary Address",
          "description": "The primary mailing address.",
          "type": "string",
          "x-ms-summary": "Primary Address"
        },
        "envelopeID": {
          "format": "int32",
          "title": "Envelope Id",
          "description": "The envelope identifer.",
          "type": "integer",
          "x-ms-summary": "Envelope Id"
        },
        "organizationID": {
          "format": "int32",
          "title": "Organization Id",
          "description": "The organization unique identifer.",
          "type": "integer",
          "x-ms-summary": "Organization Id"
        },
        "family_TotalContributions": {
          "format": "int32",
          "title": "Total Contribution Amount",
          "description": "The total amount of contributions made by the family.",
          "type": "integer",
          "x-ms-summary": "Total Contribution Amount"
        },
        "numberOfFunds": {
          "format": "int32",
          "title": "Number of Funds",
          "description": "The number of funds.",
          "type": "integer",
          "x-ms-summary": "Number of Funds"
        },
        "fundsDescription": {
          "title": "Fund Description",
          "description": "The fund description.",
          "type": "string",
          "x-ms-summary": "Fund Description"
        }
      },
      "additionalProperties": false
    },
    "MemberContactListRequestModel": {
      "required": [
        "limit",
        "offset"
      ],
      "type": "object",
      "properties": {
        "limit": {
          "format": "int32",
          "title": "Page Size",
          "description": "Specify number of records per page",
          "default": 100,
          "type": "integer",
          "example": 100,
          "x-ms-summary": "Page Size"
        },
        "offset": {
          "format": "int32",
          "title": "Page Number",
          "description": "Specify page number to retrieve",
          "default": 0,
          "type": "integer",
          "example": 0,
          "x-ms-summary": "Page Number"
        },
        "memberFirstName": {
          "title": "Member First Name",
          "description": "Filter for member first name",
          "type": "string",
          "x-ms-summary": "Member First Name"
        },
        "memberLastName": {
          "title": "Member Last Name",
          "description": "Filter for member last name",
          "type": "string",
          "x-ms-summary": "Member Last Name"
        },
        "emailAddress": {
          "title": "Member Email Address",
          "description": "Filter for member email address",
          "type": "string",
          "x-ms-summary": "Member Email Address"
        },
        "cellPhone": {
          "title": "Member Mobile Phone",
          "description": "Filter for member mobile phone",
          "type": "string",
          "x-ms-summary": "Member Mobile Phone"
        },
        "organizationIDs": {
          "title": "Organization Id's",
          "description": "Filter for a list of member organization id's",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "example": [
            1,
            2,
            3
          ],
          "x-ms-summary": "Organization Id's"
        }
      },
      "additionalProperties": false
    },
    "MemberContactListResponseDto": {
      "type": "object",
      "properties": {
        "memberDUID": {
          "format": "int32",
          "title": "Member Id",
[...]
