{
  "swagger": "2.0",
  "info": {
    "title": "Word Cloud by Textvis",
    "description": "Generate great looking word clouds from text. Customize size, color and more.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "textvis-word-cloud-v1.p.rapidapi.com",
  "basePath": "/v1/textToCloud",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": [],
  "paths": {
    "/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "string",
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Create a word cloud",
        "description": "Request a word cloud by sending your text and configuration options.",
        "operationId": "CloudCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "The text from which to generate the word cloud.",
                  "title": "Text"
                },
                "scale": {
                  "type": "number",
                  "format": "float",
                  "description": "The scale to use for the word cloud.",
                  "title": "Scale"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The image width.",
                  "title": "Width"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The image height.",
                  "title": "Height"
                },
                "colors": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "colors"
                },
                "font": {
                  "type": "string",
                  "description": "The font to use.",
                  "title": "Font"
                },
                "use_stopwords": {
                  "type": "boolean",
                  "description": "Whether to use stopwords.",
                  "title": "Use Stopwords"
                },
                "language": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                },
                "uppercase": {
                  "type": "boolean",
                  "description": "Whether to uppercase the words.",
                  "title": "Uppercase"
                }
              },
              "required": [
                "text",
                "scale",
                "width",
                "height"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-rapidapi-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://wordcloudapi.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://wordcloudapi.com/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Communication"
    }
  ]
}