{
  "swagger": "2.0",
  "info": {
    "title": "inQuba Journey",
    "description": "Seamlessly publish data to the inQuba Customer Journey APIs and effectively track your customer journeys.",
    "version": "1.0",
    "contact": {
	"name": "inQuba Support",
	"url": "https://inquba.com",
	"email": "support@inquba.com"	
    }
  },
  "x-ms-connector-metadata":[
    {
      "propertyName": "Website",
      "propertyValue": "https://inquba.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.inquba.com/data-privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Communication"
    }
  ],
  "host": "zaqa.inqubacx.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/x-www-form-urlencoded"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{TenantName}/connect/token": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "access_token": {
                  "type": "string",
                  "description": "Authorization token that will be used for all API interactions.",
                  "title": "Authorization Token"
                }
              }
            }
          }
        },
        "summary": "Acquire Access Token",
        "description": "Authenticate with the inQuba API and receive an authorization token that will be used for all API interactions.",
        "operationId": "AcquireAccessToken",
        "parameters": [
          {
            "name": "TenantName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Tenant Name",
            "description": "Name of Tenant as registered with inQuba."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "description": "Request Content Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "HostURL",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Host of Token endpoint must be supplied without scheme name. Eg. api.inqubacx.com",
            "x-ms-summary": "Host URL"
          },
          {
            "name": "username",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Account Username as supplied by inQuba.",
            "x-ms-summary": "Username"
          },
          {
            "name": "password",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Account Password as supplied by inQuba.",
            "x-ms-summary": "Password"
          },
          {
            "name": "grant_type",
            "in": "formData",
            "required": true,
            "type": "string",
            "default": "password",
            "x-ms-visibility": "internal"
          },
          {
            "name": "client_id",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Client ID as supplied by inQuba.",
            "x-ms-summary": "Client ID"
          },
          {
            "name": "scope",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "openid cx_api"
          },
          {
            "name": "client_secret",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Client Secret as supplied by inQuba.",
            "x-ms-summary": "Client Secret"
          }
        ]
      }
    },
    "/cems/api/Events": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "string",
              "title": "SuccessStatus",
              "format": "string"
	    }
	  }
        },
        "summary": "Create Event",
        "description": "Publish an event record to the inQuba API. A bearer token is required to interact with the API.",
        "operationId": "PublishEvent",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Request Content Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "TenantName",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Name of Tenant as registered with inQuba.",
            "x-ms-summary": "Tenant Name"
          },
          {
            "name": "AuthorizationToken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Authorization Token for authorizing the API request to inQuba.",
            "x-ms-summary": "Authorization Token"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "eventDefinitionCode": {
                  "type": "string",
                  "description": "The event code you are publishing this request for.",
                  "x-ms-summary": "Event Definition Code"
                },
                "isTest": {
                  "type": "boolean",
                  "description": "A flag indicating whether or not this event should be published as test or live.",
                  "x-ms-summary": "Is Test"
                },
                "attributes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "Event Attribute Code",
                        "x-ms-summary": "Code"
                      },
                      "value": {
                        "type": "string",
                        "description": "Event Attribute Value",
                        "x-ms-summary": "Value"
                      }
                    }
                  },
                  "description": "attributes"
                }
              }
            }
          }
        ]
      }
    },
    "/cems/api/Transactions": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "string",
              "title": "SuccessStatus",
              "format": "string"
	    }
	  }
        },
        "summary": "Create Transaction",
        "description": "Publish a transaction to the inQuba Journey API. A bearer token is required to interact with the API.",
        "operationId": "PublishTransaction",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Request Content Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "TenantName",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Name of Tenant as registered with inQuba.",
            "x-ms-summary": "Tenant Name"
          },
          {
            "name": "AuthorizationToken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Authorization Token for authorizing the API request to inQuba.",
            "x-ms-summary": "Authorization Token"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "transactionDefinitionCode": {
                  "type": "string",
                  "description": "The transaction code you are publishing this request for.",
                  "x-ms-summary": "Transaction Definition Code"
                },
                "isTest": {
                  "type": "boolean",
                  "description": "A flag indicating whether or not this transction should be published as test or live.",
                  "x-ms-summary": "Is Test"
                },
                "attributes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "Transaction Attribute Code",
                        "x-ms-summary": "Code"
                      },
                      "value": {
                        "type": "string",
                        "description": "Transaction Attribute Value",
                        "x-ms-summary": "Value"
                      }
                    }
                  },
                  "description": "attributes"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}
