{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Blackbaud RENXT Reports",
    "description": "Blackbaud Raiser's Edge NXT is a comprehensive cloud-based fundraising and donor management software solution built specifically for nonprofits and the entire social good community. Use the Reports connector to manage and execute reports.",
    "contact": {
      "name": "Blackbaud Support",
      "url": "https://www.blackbaud.com/support",
      "email": "skyapi@blackbaud.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.blackbaud.com/products/blackbaud-raisers-edge-nxt"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.blackbaud.com/privacy-shield"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Productivity"
    }
  ],
  "host": "api.sky.blackbaud.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "skyApiOAuth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://oauth2.sky.blackbaud.com/authorization",
      "tokenUrl": "https://oauth2.sky.blackbaud.com/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "skyApiOAuth": []
    }
  ],
  "paths": {
    "/rxr-mngmt/reports/reporttypes": {
      "get": {
        "operationId": "ListReportTypes",
        "summary": "List report types",
        "description": "Lists the report types.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ReportApi.ReportTypeCollection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view report types."
          }
        }
      }
    },
    "/rxr-mngmt/reports/{report_type}/reportinstances": {
      "get": {
        "operationId": "ListReportIntances",
        "summary": "List report instances",
        "description": "Lists the instances for the specified report type.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "report_type",
            "in": "path",
            "description": "The report type.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Report type",
            "x-ms-dynamic-values": {
              "operationId": "ListReportTypes",
              "value-collection": "report_types",
              "value-path": "report_type_id",
              "value-title": "name"
            },
            "x-ms-dynamic-list": {
              "operationId": "ListReportTypes",
              "itemsPath": "report_types",
              "itemValuePath": "report_type_id",
              "itemTitlePath": "name"
            }
          },
          {
            "name": "only_owned_reports",
            "in": "query",
            "description": "Return only owned reports?",
            "type": "boolean",
            "x-ms-summary": "Only owned?"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ReportApi.ReportInstanceCollection"
            }
          },
          "400": {
            "description": "Returned when the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view report instances."
          }
        }
      }
    },
    "/rxr-mngmt/reports/executereport": {
      "post": {
        "operationId": "StartReportExecutionJob",
        "summary": "Start a report execution job",
        "description": "Starts a background job to execute the specified report.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ReportApi.ExecuteReportRequest"
            },
            "description": "An object that represents the report to execute.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully starts the report execution job.",
            "schema": {
              "$ref": "#/definitions/ReportApi.ExecuteReportResponse"
            }
          },
          "400": {
            "description": "Returned when the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to execute the report."
          },
          "404": {
            "description": "Returned when the specified report instance is not found."
          }
        }
      }
    },
    "/rxr-mngmt/reports/reportjobs": {
      "get": {
        "operationId": "ListReportJobs",
        "summary": "List report jobs",
        "description": "Lists recent report jobs executed by the current user in the last 7 days.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ReportApi.ReportJobCollection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view report jobs."
          }
        }
      }
    },    
    "/rxr-mngmt/reports/reportjobs/{job_id}": {
      "get": {
        "operationId": "GetReportJobStatus",
        "summary": "Get report job status",
        "description": "Returns information about a background report execution job.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "The system record ID of the report execution job.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Job ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ReportApi.ReportExecutionJob"
            }
          },
          "400": {
            "description": "Returned when the specified job ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the report execution job."
          },
          "404": {
            "description": "Returned when the specified job is not found."
          }
        }
      }
    }
  },
  "definitions": {
    "ReportApi.ExecuteReportRequest": {
      "type": "object",
      "description": "Describes the request to execute a report.",
      "required": [
        "report_type_id",
        "execution_parameters"
      ],
      "properties": {
        "report_type_id": {
          "type": "integer",
          "format": "int32",
          "description": "The report type.",
          "x-ms-summary": "Report type",
          "x-ms-dynamic-values": {
            "operationId": "ListReportTypes",
            "value-collection": "report_types",
            "value-path": "report_type_id",
            "value-title": "name"
          },
          "x-ms-dynamic-list": {
            "operationId": "ListReportTypes",
            "itemsPath": "report_types",
            "itemValuePath": "report_type_id",
            "itemTitlePath": "name"
          }
        },
        "execution_parameters": {
          "type": "object",
          "description": "Describes the request to execute a report.",
          "required": [
            "report_instance_id",
            "output_format"
          ],
          "properties": {
            "report_instance_id": {
              "type": "integer",
              "format": "int32",
              "description": "The report instance to execute.",
              "x-ms-summary": "Report instance",
              "x-ms-dynamic-values": {
                "operationId": "ListReportIntances",
                "value-collection": "items",
                "value-path": "id",
                "value-title": "name",
                "parameters": {
                  "report_type": {
                    "parameter": "report_type_id"
                  }
                }
              },
              "x-ms-dynamic-list": {
                "operationId": "ListReportIntances",
                "itemsPath": "items",
                "itemValuePath": "id",
                "itemTitlePath": "name",
                "parameters": {
                  "report_type": {
                    "parameterReference": "body/report_type_id"
                  }
                }
              }
            },
            "output_format": {
              "type": "string",
              "description": "Indicates the output format for the report.",
              "default": "CSV",
              "x-ms-summary": "Output format",
              "enum": [
                "PDF",
                "CSV"
              ]
            },
            "time_zone_offset_in_minutes": {
              "type": "integer",
              "format": "int32",
              "description": "The time zone offset expressed in minutes.",
              "x-ms-summary": "Time zone offset"
            },
            "anonymous_option": {
              "type": "string",
              "description": "Indicates how to display anonymous donor names.",
              "x-ms-summary": "Anonymous option",
              "x-ms-visibility": "advanced",
              "enum": [
                "UseAnonymous",
                "UseAsterisk"
              ],
              "x-ms-enum-values": [
                {
                  "value": "UseAnonymous",
                  "displayName": "Use anonymous"
                },
                {
                  "value": "UseAsterisk",
                  "displayName": "Use asterisk"
                }
              ]
            }
          }
        }
      }
    },
    "ReportApi.ExecuteReportResponse": {
      "type": "object",
      "description": "Started report job",
      "properties": {
        "job_ids": {
          "type": "array",
          "description": "The set of report job identifiers created by the report execution.",
          "x-ms-summary": "Job IDs",
          "items": {
            "type": "string"
          }          
        }
      }
    },
    "ReportApi.ReportExecutionJob": {
      "type": "object",
      "description": "Report execution job",
      "properties": {
        "id": {
          "type": "string",
          "description": "The report job identifier.",
          "x-ms-summary": "ID"
        },
        "status": {
          "type": "string",
          "description": "The report job status.",
          "x-ms-summary": "Status",
          "enum": [
            "Created",
            "DataProcessing",
            "DataProcessed",
            "PdfProcessing",
            "PdfProcessed",
            "Completed",
            "Canceled",
            "Failed"
          ]
        },
        "report_view": {
          "type": "object",
          "description": "The report view.",
          "x-ms-summary": "Report instance",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int32",
              "description": "The report instance identifier.",
              "x-ms-summary": "ID"
            },
            "name": {
              "type": "string",
              "description": "The report instance name.",
              "x-ms-summary": "name"
            }
          }
        },
        "sas_uri": {
          "type": "string",
          "description": "The URI for accessing the report results. This URI should be treated as a secure credential to access the report results - the value is considered sensitive, and the URI will expire after 15 minutes.",
          "x-ms-summary": "Report results URI"
        }
      }
    },
    "ReportApi.ReportInstance": {
      "type": "object",
      "description": "Report instance",
      "properties": {
        "id": {
          "type": "string",
          "description": "The report instance identifier.",
          "x-ms-summary": "ID"
        },
        "name": {
          "type": "string",
          "description": "The report instance name.",
          "x-ms-summary": "Name"
        },
        "description": {
          "type": "string",
          "description": "The report instance description.",
          "x-ms-summary": "Description"
        }, 
        "others_may_modify": {
          "type": "boolean",
          "description": "Can other users modify the report instance?",
          "x-ms-summary": "Others can modify?"
        },
        "others_may_execute": {
          "type": "boolean",
          "description": "Can other users execute the report?",
          "x-ms-summary": "Others can execute?"
        },
        "date_last_run": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the report was last run.",
          "x-ms-summary": "Last run"
        },
        "processing_time": {
          "type": "string",
          "description": "The processing time of the last run of the report instance (ex: 00:05:06).",
          "x-ms-summary": "Processing time"
        },
        "date_added": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the report instance was created.",
          "x-ms-summary": "Date created"
        },
        "added_by": {
          "type": "string",
          "description": "The system record ID of the user that created the report instance.",
          "x-ms-summary": "Created by user ID"
        },
        "added_by_user_name": {
          "type": "string",
          "description": "The name of the user that created the report instance.",
          "x-ms-summary": "Created by"
        },
        "date_modified": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the report instance was last changed.",
          "x-ms-summary": "Date changed"
        },
        "modified_by": {
          "type": "string",
          "description": "The system record ID of the user that last changed the report instance.",
          "x-ms-summary": "Changed by user ID"
        },
        "modified_by_user_name": {
          "type": "string",
          "description": "The name of the user that last changed the report instance.",
          "x-ms-summary": "Changed by"
        }        
      }
    },
    "ReportApi.ReportInstanceCollection": {
      "type": "object",
      "description": "Report instances",
      "properties": {
        "items": {
          "type": "array",
          "description": "The set of items included in the response.",
          "items": {
            "$ref": "#/definitions/ReportApi.ReportInstance"
          }
        }
      }
    },
    "ReportApi.ReportJob": {
      "type": "object",
      "description": "Report job",
      "properties": {
        "job_id": {
          "type": "string",
          "description": "The report job identifier.",
          "x-ms-summary": "ID"
        },
        "report_type_id": {
          "type": "integer",
          "format": "int32",
          "description": "The report type identifier.",
          "x-ms-summary": "Report type ID"
        },
        "report_type_name": {
          "type": "string",
          "description": "The report type name.",
          "x-ms-summary": "Report type name"
        },
        "report_name": {
          "type": "string",
          "description": "The report name.",
          "x-ms-summary": "Report name"
        },
        "report_view": {
          "type": "object",
          "description": "The report view.",
          "x-ms-summary": "Report instance",
          "properties": {
            "id": {
              "type": "string",
              "description": "The report instance identifier.",
              "x-ms-summary": "ID"
            },
            "name": {
              "type": "string",
              "description": "The report instance name.",
              "x-ms-summary": "name"
            }
          }
        },
        "status": {
          "type": "string",
          "description": "The report job status.",
          "x-ms-summary": "Status",
          "enum": [
            "Created",
            "DataProcessing",
            "DataProcessed",
            "PdfProcessing",
            "PdfProcessed",
            "Completed",
            "Canceled",
            "Failed"
          ]
        },
        "scheduled": {
          "type": "boolean",
          "description": "Is the report job scheduled?",
          "x-ms-summary": "Is scheduled?"
        },
        "output_format": {
          "type": "string",
          "description": "The output format for the report.",
          "x-ms-summary": "Output format",
          "enum": [
            "PDF",
            "CSV"
          ]
        },
        "total_processing_time": {
          "type": "string",
          "description": "The total processing time of the report job (ex: 00:05:06).",
          "x-ms-summary": "Total processing time"
        },
        "total_processing_time_caption": {
          "type": "string",
          "description": "The friendly caption for the total processing time.",
          "x-ms-summary": "Total processing time caption"
        },
        "date_added": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the report job was created.",
          "x-ms-summary": "Date created"
        },
        "date_completed": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the report job completed.",
          "x-ms-summary": "Date completed"
        }
      }
    },
    "ReportApi.ReportJobCollection": {
      "type": "object",
      "description": "Report jobs",
      "properties": {
        "items": {
          "type": "array",
          "description": "The set of items included in the response.",
          "items": {
            "$ref": "#/definitions/ReportApi.ReportJob"
          }
        }
      }
    },
    "ReportApi.ReportType": {
      "type": "object",
      "description": "Report type",
      "properties": {
        "report_type_id": {
          "type": "integer",
          "format": "int32",
          "description": "The report type identifier.",
          "x-ms-summary": "ID"
        },
        "name": {
          "type": "string",
          "description": "The display name of the report type.",
          "x-ms-summary": "Name"
        },
        "category": {
          "type": "string",
          "description": "The category of the report type.",
          "x-ms-summary": "Category"
        }
      }
    },
    "ReportApi.ReportTypeCollection": {
      "type": "object",
      "description": "Report types",
      "properties": {
        "report_types": {
          "type": "array",
          "description": "The set of items included in the response.",
          "items": {
            "$ref": "#/definitions/ReportApi.ReportType"
          }
        }
      }
    }
  }
}