{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Rencore Code",
    "description": "Analyze SharePoint applications using Rencore Code",
    "termsOfService": "https://dl.rencore.com/files/EULA.pdf",
    "contact": {
      "name": "Rencore Support",
      "url": "https://support.rencore.com/",
      "email": "support@rencore.com"
    }
  },
  "host": "flow-api.rencore.cloud",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/analyze": {
      "post": {
        "summary": "Analyze the contents of the specified file",
        "description": "Analyzes the contents of the specified file. If the analysis request is accepted, returns a 202 Accepted response with a URL to poll to check the analysis status.",
        "operationId": "/api/analyze/post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "analysisRequest",
            "in": "body",
            "description": "Analysis request",
            "required": true,
            "schema": {
              "required": [
                "file",
                "fileName"
              ],
              "type": "object",
              "properties": {
                "file": {
                  "format": "binary",
                  "title": "File contents",
                  "description": "Serialized JSON string with the contents of the file to analyze. The $content property contains base64-encoded contents of the file.",
                  "type": "string",
                  "example": "{\n  \"$content-type\": \"application/octet-stream\",\n  \"$content\": \"UEsDBAoAAAAAAEthx0wAAAAAAAAAAAAAAAAG...\"\n}\n",
                  "x-ms-visibility": "important"
                },
                "fileName": {
                  "title": "File name",
                  "description": "Name of the file to analyze. The extension should match the contents of the file or the analysis will produce invalid results",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "license": {
                  "title": "SPCAF license",
                  "description": "SPCAF license to use with the analysis. If not specified, summary results will be returned",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                }
              }
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Specify valid analysis request"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important"
      }
    },
    "/api/status/{jobId}": {
      "get": {
        "summary": "Check the status of the specified analysis job",
        "description": "Checks the status of the specified analysis job. As long as the analysis is in progress, the API will return a **202 Accepted** response. When the analysis is completed, the API will return a **200 OK** response with the contents of the HTML report in the response body. If there was an error during the analysis, the API will return a **500 Internal Server Error** response with the error message.",
        "operationId": "/api/status/get",
        "produces": [
          "text/html"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "ID of the analysis job to check the status of",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Missing jobId"
          },
          "404": {
            "description": "Analysis job with the specified ID not found"
          },
          "500": {
            "description": "Analysis job failed with an error"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}