{
  "swagger": "2.0",
  "info": {
    "title": "Highspot MCP",
    "description": "The Highspot MCP Connector leverages the Model Context Protocol (MCP) to provide a secure, seamless bridge between Microsoft 365 Copilot and Highspot. By integrating Highspot directly into your AI workflows, your team can access critical sales content, knowledge, insights, and actions without leaving their conversation.",
    "version": "1.0.0",
    "contact": {
      "name": "Highspot Support",
      "url": "https://www.highspot.com/contact/",
      "email": "support@highspot.com"
    }
  },
  "host": "mcp.highspot.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/mcp": {
      "post": {
        "operationId": "InvokeServer",
        "summary": "Invoke Highspot MCP",
        "description": "Invokes the Highspot MCP endpoint.",
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "mcp:read",
              "mcp:write"
            ]
          }
        ],
        "x-ms-agentic-protocol": "mcp-streamable-1.0"
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "description": "Error message."
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.highspot.com/oauth2/v1/authorize",
      "tokenUrl": "https://app.highspot.com/auth/oauth2/v1/token",
      "scopes": {
        "mcp:read": "Read access to Highspot MCP",
        "mcp:write": "Write access to Highspot MCP"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "mcp:read",
        "mcp:write"
      ]
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.highspot.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.highspot.com/privacy/"
    },
    {
      "propertyName": "API License Agreement",
      "propertyValue": "https://www.highspot.com/terms/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Sales and CRM"
    }
  ]
}

