{
  "swagger": "2.0",
  "info": {
    "title": "CognitiveServicesSpeechToText",
    "description": "Azure Cognitive Services for Batch Speech-to-text",
    "version": "1.0",
    "contact": {
      "name": "Cognitive Services - Speech Services",
      "url": "https://docs.microsoft.com/azure/cognitive-services/speech-service/support",
      "email": "speechportalteam@microsoft.com"
    }
  },
  "host": "eastus.api.cognitive.microsoft.com",
  "basePath": "/speechtotext/v3.0",
  "schemes": [
    "https"
  ],
  "paths": {
    "/transcriptions": {
      "get": {
        "tags": [
          "Custom Speech transcriptions:"
        ],
        "description": "Gets a list of transcriptions for the authenticated subscription.",
        "operationId": "TranscriptionsList",
        "summary": "Get transcriptions list",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/skipQueryParameter"
          },
          {
            "$ref": "#/parameters/topQueryParameter"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "A filtering expression for selecting a subset of the available transcriptions.<br/><ul><li><b>Supported properties:</b> displayName, description, createdDateTime, lastActionDateTime, status, locale.</li><li><b>Operators:</b><br/>- eq, ne are supported for all properties.<br/>- gt, ge, lt, le are supported for createdDateTime and lastActionDateTime.<br/>- and, or, not are supported.</li><li><b>Example:</b> ```filter=createdDateTime gt 2022-02-01T11:00:00Z```</li></ul>",
            "type": "string",
            "x-ms-summary": "Filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedTranscriptions"
            },
            "headers": {
              "Retry-After": {
                "description": "The minimum number of seconds to wait for a non terminal operation to complete",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": "{\"values\": [{\"self\": \"https://eastus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9c142230-a9e4-4dbb-8cc7-70ca43d5cc91\", \"contentUrls\": [ \"https://contoso.com/\", \"https://contoso2.com/\"], \"model\": {\"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037\"}, \"links\": {\"files\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9c142230-a9e4-4dbb-8cc7-70ca43d5cc91/files\"}, \"properties\": {\"diarizationEnabled\": false, \"wordLevelTimestampsEnabled\": false, \"channels\": [ 0, 1], \"punctuationMode\": \"DictatedAndAutomatic\", \"profanityFilterMode\": \"Masked\", \"duration\": \"PT42S\"}, \"lastActionDateTime\": \"2019-01-07T11:36:07Z\", \"status\": \"Succeeded\", \"createdDateTime\": \"2019-01-07T11:34:12Z\", \"locale\": \"en-US\", \"displayName\": \"Transcription using adapted model en-US\", \"customProperties\": { \"key\": \"value\"}} ], \"@nextLink\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions?skip=100&top=100\"}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{ \"code\": \"Unauthorized\", \"message\": \"Authentication is required to access the resource.\"}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{ \"code\": \"Forbidden\", \"message\": \"No permission to access this resource.\"}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{ \"code\": \"TooManyRequests\", \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"}"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Custom Speech transcriptions:"
        ],
        "summary": "Create transcription",
        "description": "Creates a new transcription.",
        "operationId": "CreateTranscriptions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "transcription",
            "description": "The details of the new transcription.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Transcription"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The response contains information about the entity as payload and its location as header.",
            "schema": {
              "$ref": "#/definitions/Transcription"
            },
            "headers": {
              "Location": {
                "description": "The location of the created resource.",
                "type": "string",
                "format": "uri"
              }
            },
            "examples": {
              "application/json": "{\"self\": \"https://eastus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9c142230-a9e4-4dbb-8cc7-70ca43d5cc91\", \"contentUrls\": [\"https://contoso.com/\", \"https://contoso2.com/\"], \"model\": {\"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037\"}, \"links\": {\"files\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9c142230-a9e4-4dbb-8cc7-70ca43d5cc91/files\"}, \"properties\": {\"diarizationEnabled\": false, \"wordLevelTimestampsEnabled\": false, \"channels\": [0, 1], \"punctuationMode\": \"DictatedAndAutomatic\", \"profanityFilterMode\": \"Masked\", \"duration\": \"PT42S\" }, \"lastActionDateTime\": \"2019-01-07T11:36:07Z\", \"status\": \"Succeeded\", \"createdDateTime\": \"2019-01-07T11:34:12Z\", \"locale\": \"en-US\", \"displayName\": \"Transcription using adapted model en-US\", \"customProperties\": {\"key\": \"value\"}}"
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully with the specified values.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"InvalidRequest\", \"message\": \"The base model isn't valid for this operation.\", \"innerError\": {\"code\": \"InvalidBaseModel\", \"message\": \"The base model isn't valid for this operation.\"}}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"Unauthorized\", \"message\": \"Authentication is required to access the resource.\"}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"Forbidden\", \"message\": \"No permission to access this resource.\"}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"TooManyRequests\", \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"}"
            }
          }
        }
      }
    },
    "/transcriptions/locales": {
      "get": {
        "tags": [
          "Custom Speech transcriptions:"
        ],
        "description": "Gets a list of supported locales for offline transcriptions.",
        "operationId": "SupportedTranscriptionLocalesList",
        "summary": "Get supported locales",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "examples": {
              "application/json": "[\"en-US\", \"de-DE\"]"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"Unauthorized\", \"message\": \"Authentication is required to access the resource.\"}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"Forbidden\", \"message\": \"No permission to access this resource.\"}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"TooManyRequests\", \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"}"
            }
          }
        }
      }
    },
    "/transcriptions/{id}": {
      "get": {
        "tags": [
          "Custom Speech transcriptions:"
        ],
        "summary": "Get transcriptions",
        "description": "Gets the transcription identified by the given ID.",
        "operationId": "GetTranscriptions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The identifier of the transcription.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Transcription"
            },
            "headers": {
              "Retry-After": {
                "description": "The minimum number of seconds to wait for a non terminal operation to complete.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": "{\"self\": \"https://eastus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9c142230-a9e4-4dbb-8cc7-70ca43d5cc91\", \"contentUrls\": [\"https://contoso.com/\", \"https://contoso2.com/\"], \"model\": {\"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037\"}, \"links\": {\"files\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9c142230-a9e4-4dbb-8cc7-70ca43d5cc91/files\"}, \"properties\": {\"diarizationEnabled\": false, \"wordLevelTimestampsEnabled\": false, \"channels\": [  0, 1], \"punctuationMode\": \"DictatedAndAutomatic\", \"profanityFilterMode\": \"Masked\", \"duration\": \"PT42S\" }, \"lastActionDateTime\": \"2019-01-07T11:36:07Z\", \"status\": \"Succeeded\", \"createdDateTime\": \"2019-01-07T11:34:12Z\", \"locale\": \"en-US\", \"displayName\": \"Transcription using adapted model en-US\", \"customProperties\": {\"key\": \"value\"}}"
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully with the specified values.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"InvalidRequest\", \"message\": \"The base model isn't valid for this operation.\", \"innerError\": {\"code\": \"InvalidBaseModel\", \"message\": \"The base model isn't valid for this operation.\"}}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"Unauthorized\", \"message\": \"Authentication is required to access the resource.\"}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"Forbidden\", \"message\": \"No permission to access this resource.\"}"
            }
          },
          "404": {
            "description": "In case the specified entity doesn't exist",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"NotFound\", \"message\": \"The specified entity cannot be found.\"}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"TooManyRequests\", \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"}"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Custom Speech transcriptions:"
        ],
        "summary": "Delete transcription",
        "description": "Deletes the specified transcription task.",
        "operationId": "DeleteTranscriptions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The identifier of the transcription.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "double"
          }
        ],
        "responses": {
          "204": {
            "description": "The transcription was successfully deleted or did not exist."
          },
          "400": {
            "description": "In case the operation cannot be performed successfully with the specified values.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"InvalidRequest\", \"message\": \"The base model isn't valid for this operation.\", \"innerError\": {\"code\": \"InvalidBaseModel\", \"message\": \"The base model isn't valid for this operation.\"}}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"Unauthorized\", \"message\": \"Authentication is required to access the resource.\"}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"Forbidden\", \"message\": \"No permission to access this resource.\"}"
            }
          },
          "404": {
            "description": "In case the specified entity doesn't exist",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"NotFound\", \"message\": \"The specified entity cannot be found.\"}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"TooManyRequests\", \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"}"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Custom Speech transcriptions:"
        ],
        "summary": "Update transcription",
        "description": "Updates the mutable details of the transcription identified by its ID.",
        "operationId": "UpdateTranscriptions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The identifier of the transcription.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "double"
          },
          {
            "in": "body",
            "name": "transcriptionUpdate",
            "description": "The updated values for the transcription.",
            "required": true,
            "x-ms-summary": "Transcription Update",
            "schema": {
              "$ref": "#/definitions/TranscriptionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Transcription"
            },
            "headers": {
              "Retry-After": {
                "description": "The minimum number of seconds to wait for a non terminal operation to complete.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": "{\"self\": \"https://eastus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9c142230-a9e4-4dbb-8cc7-70ca43d5cc91\", \"contentUrls\": [\"https://contoso.com/\", \"https://contoso2.com/\" ], \"model\": {\"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037\" }, \"links\": {\"files\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9c142230-a9e4-4dbb-8cc7-70ca43d5cc91/files\" }, \"properties\": {\"diarizationEnabled\": false, \"wordLevelTimestampsEnabled\": false, \"channels\": [0, 1], \"punctuationMode\": \"DictatedAndAutomatic\", \"profanityFilterMode\": \"Masked\", \"duration\": \"PT42S\" }, \"lastActionDateTime\": \"2019-01-07T11:36:07Z\", \"status\": \"Succeeded\", \"createdDateTime\": \"2019-01-07T11:34:12Z\", \"locale\": \"en-US\", \"displayName\": \"Transcription using adapted model en-US\", \"customProperties\": {\"key\": \"value\"}}"
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully with the specified values.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{ \"code\": \"InvalidRequest\", \"message\": \"The base model isn't valid for this operation.\", \"innerError\": {\"code\": \"InvalidBaseModel\", \"message\": \"The base model isn't valid for this operation.\" }}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"Unauthorized\", \"message\": \"Authentication is required to access the resource.\"}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"Forbidden\", \"message\": \"No permission to access this resource.\"}"
            }
          },
          "409": {
            "description": "In case the specified entity doesn't exist",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"NotFound\", \"message\": \"The specified entity cannot be found.\"}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"TooManyRequests\", \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"}"
            }
          }
        }
      }
    },
    "/transcriptions/{id}/files": {
      "get": {
        "tags": [
          "Custom Speech transcriptions:"
        ],
        "summary": "Get transcriptions list files",
        "description": "Gets the files of the transcription identified by the given ID.",
        "operationId": "TranscriptionsListFiles",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The identifier of the transcription.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "double"
          },
          {
            "$ref": "#/parameters/sasValidityQueryParameter"
          },
          {
            "$ref": "#/parameters/skipQueryParameter"
          },
          {
            "$ref": "#/parameters/topQueryParameter"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "A filtering expression for selecting a subset of the available files.<br/><ul><li><b>Supported properties:</b> name, createdDateTime, kind.</li><li><b>Operators:</b><br/>- eq, ne are supported for all properties.<br/>- gt, ge, lt, le are supported for createdDateTime.<br/>- and, or, not are supported.</li><li><b>Example:</b> ```filter=name eq 'myaudio.wav.json' and kind eq 'Transcription'```</li></ul>",
            "type": "string",
            "x-ms-summary": "Filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedFiles"
            },
            "headers": {
              "Retry-After": {
                "description": "The minimum number of seconds to wait for a non terminal operation to complete.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": "{\"values\": [{\"self\": \"https://eastus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9c142230-a9e4-4dbb-8cc7-70ca43d5cc91/files/f23e54f5-ed74-4c31-9730-2f1a3ef83ce8\", \"name\": \"Name\", \"kind\": \"Transcription\", \"properties\": {\"size\": 200}, \"createdDateTime\": \"2020-01-13T08:00:00Z\", \"links\": {\"contentUrl\": \"https://customspeech-usw.blob.core.windows.net/artifacts/mywavefile1.wav.json?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=e05d8d56-9675-448b-820c-4318ae64c8d5\"}}, {\"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9c142230-a9e4-4dbb-8cc7-70ca43d5cc91/files/28bc946b-c251-4a86-84f6-ea0f0a2373ef\", \"name\": \"Name\", \"kind\": \"Transcription\", \"properties\": {\"size\": 200}, \"createdDateTime\": \"2020-01-13T08:00:00Z\", \"links\": {\"contentUrl\": \"https://customspeech-usw.blob.core.windows.net/artifacts/mywavefile2.wav.json?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=e05d8d56-9675-448b-820c-4318ae64c8d5\"}}], \"@nextLink\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9891c965-bb32-4880-b14b-6d44efb158f3/files?skip=2&top=2\"}"
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully with the specified values.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"InvalidRequest\", \"message\": \"The base model isn't valid for this operation.\", \"innerError\": {\"code\": \"InvalidBaseModel\", \"message\": \"The base model isn't valid for this operation.\" }}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"Unauthorized\", \"message\": \"Authentication is required to access the resource.\"}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"Forbidden\", \"message\": \"No permission to access this resource.\"}"
            }
          },
          "404": {
            "description": "In case the specified entity doesn't exist",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"NotFound\", \"message\": \"The specified entity cannot be found.\"}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"TooManyRequests\", \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"}"
            }
          }
        }
      }
    },
    "/transcriptions/{id}/files/{fileId}": {
      "get": {
        "tags": [
          "Custom Speech transcriptions:"
        ],
        "summary": "Get transcription file",
        "description": "Gets one specific file (identified with fileId) from a transcription (identified with id).",
        "operationId": "GetTranscriptionsFile",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The identifier of the transcription.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "double"
          },
          {
            "in": "path",
            "name": "fileId",
            "description": "The identifier of the file.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "File Id",
            "x-ms-url-encoding": "double"
          },
          {
            "$ref": "#/parameters/sasValidityQueryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/File"
            },
            "examples": {
              "application/json": "{\"self\": \"https://eastus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9c142230-a9e4-4dbb-8cc7-70ca43d5cc91/files/f23e54f5-ed74-4c31-9730-2f1a3ef83ce8\", \"name\": \"Name\", \"kind\": \"Transcription\", \"properties\": {\"size\": 200 }, \"createdDateTime\": \"2020-01-13T08:00:00Z\", \"links\": {\"contentUrl\": \"https://customspeech-usw.blob.core.windows.net/artifacts/mywavefile1.wav.json?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=e05d8d56-9675-448b-820c-4318ae64c8d5\"}}"
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully with the specified values.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"InvalidRequest\", \"message\": \"The base model isn't valid for this operation.\", \"innerError\": {\"code\": \"InvalidBaseModel\", \"message\": \"The base model isn't valid for this operation.\" }}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"Unauthorized\", \"message\": \"Authentication is required to access the resource.\"}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"Forbidden\", \"message\": \"No permission to access this resource.\"}"
            }
          },
          "404": {
            "description": "In case the specified entity doesn't exist",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"NotFound\", \"message\": \"The specified entity cannot be found.\"}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\"code\": \"TooManyRequests\", \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"}"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "DetailedErrorCode": {
      "title": "DetailedErrorCode",
      "description": "Detailed error code enum.",
      "enum": [
        "InvalidParameterValue",
        "InvalidRequestBodyFormat",
        "EmptyRequest",
        "MissingInputRecords",
        "InvalidDocument",
        "ModelVersionIncorrect",
        "InvalidDocumentBatch",
        "UnsupportedLanguageCode",
        "DataImportFailed",
        "InUseViolation",
        "InvalidLocale",
        "InvalidBaseModel",
        "InvalidAdaptationMapping",
        "InvalidDataset",
        "InvalidTest",
        "FailedDataset",
        "InvalidModel",
        "InvalidTranscription",
        "InvalidPayload",
        "InvalidParameter",
        "EndpointWithoutLogging",
        "InvalidPermissions",
        "InvalidPrerequisite",
        "InvalidProductId",
        "InvalidSubscription",
        "InvalidProject",
        "InvalidProjectKind",
        "InvalidRecordingsUri",
        "OnlyOneOfUrlsOrContainerOrDataset",
        "ExceededNumberOfRecordingsUris",
        "ModelMismatch",
        "ProjectGenderMismatch",
        "ModelDeprecated",
        "ModelExists",
        "ModelNotDeployable",
        "EndpointNotUpdatable",
        "SingleDefaultEndpoint",
        "EndpointCannotBeDefault",
        "InvalidModelUri",
        "SubscriptionNotFound",
        "QuotaViolation",
        "UnsupportedDelta",
        "UnsupportedFilter",
        "UnsupportedPagination",
        "UnsupportedDynamicConfiguration",
        "UnsupportedOrderBy",
        "NoUtf8WithBom",
        "ModelDeploymentNotCompleteState",
        "SkuLimitsExist",
        "DeployingFailedModel",
        "UnsupportedTimeRange",
        "InvalidLogDate",
        "InvalidLogId",
        "InvalidLogStartTime",
        "InvalidLogEndTime",
        "InvalidTopForLogs",
        "InvalidSkipTokenForLogs",
        "DeleteNotAllowed",
        "Forbidden",
        "DeployNotAllowed",
        "UnexpectedError",
        "InvalidCollection",
        "InvalidCallbackUri",
        "InvalidSasValidityDuration",
        "InaccessibleCustomerStorage",
        "UnsupportedClassBasedAdaptation",
        "InvalidWebHookEventKind",
        "InvalidTimeToLive"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "DetailedErrorCode",
        "modelAsString": true,
        "values": [
          {
            "value": "InvalidParameterValue",
            "description": "Invalid parameter value."
          },
          {
            "value": "InvalidRequestBodyFormat",
            "description": "Invalid request body format."
          },
          {
            "value": "EmptyRequest",
            "description": "Empty Request."
          },
          {
            "value": "MissingInputRecords",
            "description": "Missing Input Records."
          },
          {
            "value": "InvalidDocument",
            "description": "Invalid Document."
          },
          {
            "value": "ModelVersionIncorrect",
            "description": "Model Version Incorrect."
          },
          {
            "value": "InvalidDocumentBatch",
            "description": "Invalid Document Batch."
          },
          {
            "value": "UnsupportedLanguageCode",
            "description": "Unsupported language code."
          },
          {
            "value": "DataImportFailed",
            "description": "Data import failed."
          },
          {
            "value": "InUseViolation",
            "description": "In use violation."
          },
          {
            "value": "InvalidLocale",
            "description": "Invalid locale."
          },
          {
            "value": "InvalidBaseModel",
            "description": "Invalid base model."
          },
          {
            "value": "InvalidAdaptationMapping",
            "description": "Invalid adaptation mapping."
          },
          {
            "value": "InvalidDataset",
            "description": "Invalid dataset."
          },
          {
            "value": "InvalidTest",
            "description": "Invalid test."
          },
          {
            "value": "FailedDataset",
            "description": "Failed dataset."
          },
          {
            "value": "InvalidModel",
            "description": "Invalid model."
          },
          {
            "value": "InvalidTranscription",
            "description": "Invalid transcription."
          },
          {
            "value": "InvalidPayload",
            "description": "Invalid payload."
          },
          {
            "value": "InvalidParameter",
            "description": "Invalid parameter."
          },
          {
            "value": "EndpointWithoutLogging",
            "description": "Endpoint without logging."
          },
          {
            "value": "InvalidPermissions",
            "description": "Invalid permissions."
          },
          {
            "value": "InvalidPrerequisite",
            "description": "Invalid prerequisite."
          },
          {
            "value": "InvalidProductId",
            "description": "Invalid product id."
          },
          {
            "value": "InvalidSubscription",
            "description": "Invalid subscription."
          },
          {
            "value": "InvalidProject",
            "description": "Invalid project."
          },
          {
            "value": "InvalidProjectKind",
            "description": "Invalid project kind."
          },
          {
            "value": "InvalidRecordingsUri",
            "description": "Invalid recordings uri."
          },
          {
            "value": "OnlyOneOfUrlsOrContainerOrDataset",
            "description": "Only one of urls or container or dataset."
          },
          {
            "value": "ExceededNumberOfRecordingsUris",
            "description": "Exceeded number of recordings uris."
          },
          {
            "value": "ModelMismatch",
            "description": "Model mismatch."
          },
          {
            "value": "ProjectGenderMismatch",
            "description": "Project gender mismatch."
          },
          {
            "value": "ModelDeprecated",
            "description": "Model deprecated."
          },
          {
            "value": "ModelExists",
            "description": "Model exists."
          },
          {
            "value": "ModelNotDeployable",
            "description": "Model not deployable."
          },
          {
            "value": "EndpointNotUpdatable",
            "description": "Endpoint not updatable."
          },
          {
            "value": "SingleDefaultEndpoint",
            "description": "Single default endpoint."
          },
          {
            "value": "EndpointCannotBeDefault",
            "description": "Endpoint cannot be default."
          },
          {
            "value": "InvalidModelUri",
            "description": "Invalid model uri."
          },
          {
            "value": "SubscriptionNotFound",
            "description": "Subscription not found."
          },
          {
            "value": "QuotaViolation",
            "description": "Quota violation."
          },
          {
            "value": "UnsupportedDelta",
            "description": "Unsupported delta."
          },
          {
            "value": "UnsupportedFilter",
            "description": "Unsupported filter."
          },
          {
            "value": "UnsupportedPagination",
            "description": "Unsupported pagination."
          },
          {
            "value": "UnsupportedDynamicConfiguration",
            "description": "Unsupported dynamic configuration."
          },
          {
            "value": "UnsupportedOrderBy",
            "description": "Unsupported order by."
          },
          {
            "value": "NoUtf8WithBom",
            "description": "No utf8 with bom."
          },
          {
            "value": "ModelDeploymentNotCompleteState",
            "description": "Model deployment not complete state."
          },
          {
            "value": "SkuLimitsExist",
            "description": "Sku limits exist."
          },
          {
            "value": "DeployingFailedModel",
            "description": "Deploying failed model."
          },
          {
            "value": "UnsupportedTimeRange",
            "description": "Unsupported time range."
          },
          {
            "value": "InvalidLogDate",
            "description": "Invalid log date."
          },
          {
            "value": "InvalidLogId",
            "description": "Invalid log id."
          },
          {
            "value": "InvalidLogStartTime",
            "description": "Invalid log start time."
          },
          {
            "value": "InvalidLogEndTime",
            "description": "Invalid log end time."
          },
          {
            "value": "InvalidTopForLogs",
            "description": "Invalid top for logs."
          },
          {
            "value": "InvalidSkipTokenForLogs",
            "description": "Invalid skip token for logs."
          },
          {
            "value": "DeleteNotAllowed",
            "description": "Delete not allowed."
          },
          {
            "value": "Forbidden",
            "description": "Forbidden."
          },
          {
            "value": "DeployNotAllowed",
            "description": "Deploy not allowed."
          },
          {
            "value": "UnexpectedError",
            "description": "Unexpected error."
          },
          {
            "value": "InvalidCollection",
            "description": "Invalid collection."
          },
          {
            "value": "InvalidCallbackUri",
            "description": "Invalid callback uri."
          },
          {
            "value": "InvalidSasValidityDuration",
            "description": "Invalid sas validity duration."
          },
          {
            "value": "InaccessibleCustomerStorage",
            "description": "Inaccessible customer storage."
          },
          {
            "value": "UnsupportedClassBasedAdaptation",
            "description": "Unsupported class based adaptation."
          },
          {
            "value": "InvalidWebHookEventKind",
            "description": "Invalid web hook event kind."
          },
          {
            "value": "InvalidTimeToLive",
            "description": "Invalid time to live."
          }
        ]
      }
    },
    "DiarizationProperties": {
      "title": "DiarizationProperties",
      "required": [
        "speakers"
      ],
      "type": "object",
      "properties": {
        "speakers": {
          "$ref": "#/definitions/DiarizationSpeakersProperties"
        }
      }
    },
    "DiarizationSpeakersProperties": {
      "title": "DiarizationSpeakersProperties",
      "type": "object",
      "properties": {
        "minCount": {
          "format": "int32",
          "description": "A hint for the minimum number of speakers for diarization. Must be smaller than or equal to the maxSpeakers property.",
          "minimum": 1,
          "type": "integer"
        },
        "maxCount": {
          "format": "int32",
          "description": "The maximum number of speakers for diarization. Must be less than 36 and larger than or equal to the minSpeakers property.",
          "minimum": 1,
          "type": "integer"
        }
      }
    },
    "Endpoint": {
      "title": "Endpoint",
      "required": [
        "displayName",
        "locale"
      ],
      "type": "object",
      "properties": {
        "project": {
          "$ref": "#/definitions/EntityReference"
        },
        "links": {
          "$ref": "#/definitions/EndpointLinks"
        },
        "properties": {
          "$ref": "#/definitions/EndpointProperties"
        },
        "self": {
          "format": "uri",
          "description": "The location of this entity.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "The display name of the object.",
          "type": "string"
        },
        "description": {
          "description": "The description of the object.",
          "type": "string"
        },
        "text": {
          "description": "The text used to adapt a language model for this endpoint.",
          "type": "string"
        },
        "model": {
          "$ref": "#/definitions/EntityReference"
        },
        "locale": {
          "description": "The locale of the contained data.",
          "type": "string"
        },
        "customProperties": {
          "description": "The custom properties of this entity. The maximum allowed key length is 64 characters, the maximumallowed value length is 256 characters and the count of allowed entries is 10.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "lastActionDateTime": {
          "format": "date-time",
          "description": "The time-stamp when the current status was entered.The time stamp is encoded as ISO 8601 date and time format(\"YYYY-MM-DDThh:mm:ssZ\", see https://en.wikipedia.org/wiki/ISO_8601#Combined_date_and_time_representations).",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/Status"
        },
        "createdDateTime": {
          "format": "date-time",
          "description": "The time-stamp when the object was created.The time stamp is encoded as ISO 8601 date and time format(\"YYYY-MM-DDThh:mm:ssZ\", see https://en.wikipedia.org/wiki/ISO_8601#Combined_date_and_time_representations).",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EndpointLinks": {
      "title": "EndpointLinks",
      "type": "object",
      "properties": {
        "restInteractive": {
          "format": "uri",
          "description": "The REST endpoint for short requests up to 15 seconds.",
          "type": "string",
          "readOnly": true
        },
        "restConversation": {
          "format": "uri",
          "description": "The REST endpoint for requests up to 60 seconds.",
          "type": "string",
          "readOnly": true
        },
        "restDictation": {
          "format": "uri",
          "description": "The REST endpoint for requests up to 60 seconds, supporting dictation of punctuation marks.",
          "type": "string",
          "readOnly": true
        },
        "webSocketInteractive": {
          "format": "uri",
          "description": "The Speech SDK endpoint for short requests up to 15 seconds with a single final result.",
          "type": "string",
          "readOnly": true
        },
        "webSocketConversation": {
          "format": "uri",
          "description": "The Speech SDK endpoint for long requests with multiple final results.",
          "type": "string",
          "readOnly": true
        },
        "webSocketDictation": {
          "format": "uri",
          "description": "The Speech SDK endpoint for long requests with multiple final results, supporting dictation ofpunctuation marks.",
          "type": "string",
          "readOnly": true
        },
        "logs": {
          "format": "uri",
          "description": "The audio and transcription logs for this endpoint.  See operation \"Endpoints_ListLogs\" for more details.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EndpointProperties": {
      "title": "EndpointProperties",
      "type": "object",
      "properties": {
        "loggingEnabled": {
          "description": "A value indicating whether content logging (audio & transcriptions) is being used for a deployment.",
          "type": "boolean"
        },
        "timeToLive": {
          "description": "How long the endpoint will be kept in the system. Once the endpoint reaches the time to liveafter completion (successful or failed) it will be automatically deleted. Not setting this value or settingto 0 will disable automatic deletion. The longest supported duration is 31 days.The duration is encoded as ISO 8601 duration (\"PnYnMnDTnHnMnS\", see https://en.wikipedia.org/wiki/ISO_8601#Durations).",
          "type": "string"
        },
        "email": {
          "description": "The email address to send email notifications to in case the operation completes.The value will be removed after successfully sending the email.",
          "type": "string"
        },
        "error": {
          "$ref": "#/definitions/EntityError"
        }
      }
    },
    "EntityError": {
      "title": "EntityError",
      "type": "object",
      "properties": {
        "code": {
          "description": "The code of this error.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "The message for this error.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EntityReference": {
      "title": "EntityReference",
      "required": [
        "self"
      ],
      "type": "object",
      "properties": {
        "self": {
          "format": "uri",
          "description": "The location of the referenced entity.",
          "type": "string"
        }
      }
    },
    "Error": {
      "title": "Error",
      "description": "New format which conforms to the new Cognitive Services API guidelines which is available at https://microsoft.sharepoint.com/%3Aw%3A/t/CognitiveServicesPMO/EUoytcrjuJdKpeOKIK_QRC8BPtUYQpKBi8JsWyeDMRsWlQ?e=CPq8ow.This contains an outer error with error code, message, details, target and an inner error with more descriptive details.",
      "type": "object",
      "properties": {
        "code": {
          "$ref": "#/definitions/ErrorCode"
        },
        "details": {
          "description": "Additional supportive details regarding the error and/or expected policies.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "message": {
          "description": "High level error message.",
          "type": "string"
        },
        "target": {
          "description": "The source of the error.For example it would be \"documents\" or \"document id\" in case of invalid document.",
          "type": "string"
        },
        "innerError": {
          "$ref": "#/definitions/InnerError"
        }
      }
    },
    "ErrorCode": {
      "title": "ErrorCode",
      "description": "High level error codes.",
      "enum": [
        "InvalidRequest",
        "InvalidArgument",
        "InternalServerError",
        "ServiceUnavailable",
        "NotFound",
        "PipelineError",
        "Conflict",
        "InternalCommunicationFailed",
        "Forbidden",
        "NotAllowed",
        "Unauthorized",
        "UnsupportedMediaType",
        "TooManyRequests",
        "UnprocessableEntity"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ErrorCode",
        "modelAsString": true,
        "values": [
          {
            "value": "InvalidRequest",
            "description": "Representing the invalid request error code."
          },
          {
            "value": "InvalidArgument",
            "description": "Representing the invalid argument error code."
          },
          {
            "value": "InternalServerError",
            "description": "Representing the internal server error error code."
          },
          {
            "value": "ServiceUnavailable",
            "description": "Representing the service unavailable error code."
          },
          {
            "value": "NotFound",
            "description": "Representing the not found error code."
          },
          {
            "value": "PipelineError",
            "description": "Representing the pipeline error error code."
          },
          {
            "value": "Conflict",
            "description": "Representing the conflict error code."
          },
          {
            "value": "InternalCommunicationFailed",
            "description": "Representing the internal communication failed error code."
          },
          {
            "value": "Forbidden",
            "description": "Representing the forbidden error code."
          },
          {
            "value": "NotAllowed",
            "description": "Representing the not allowed error code."
          },
          {
            "value": "Unauthorized",
            "description": "Representing the unauthorized error code."
          },
          {
            "value": "UnsupportedMediaType",
            "description": "Representing the unsupported media type error code."
          },
          {
            "value": "TooManyRequests",
            "description": "Representing the too many requests error code."
          },
          {
            "value": "UnprocessableEntity",
            "description": "Representing the unprocessable entity error code."
          }
        ]
      }
    },
    "File": {
      "title": "File",
      "type": "object",
      "properties": {
        "kind": {
          "$ref": "#/definitions/FileKind"
        },
        "links": {
          "$ref": "#/definitions/FileLinks"
        },
        "createdDateTime": {
          "format": "date-time",
          "description": "The creation time of this file.The time stamp is encoded as ISO 8601 date and time format(see https://en.wikipedia.org/wiki/ISO_8601#Combined_date_and_time_representations).",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/FileProperties"
        },
        "name": {
          "description": "The name of this file.",
          "type": "string",
          "readOnly": true
        },
        "self": {
          "format": "uri",
          "description": "The location of this entity.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "FileKind": {
      "title": "FileKind",
      "description": "Type of data.",
      "enum": [
        "DatasetReport",
        "Audio",
        "LanguageData",
        "PronunciationData",
        "AcousticDataArchive",
        "AcousticDataTranscriptionV2",
        "Transcription",
        "TranscriptionReport",
        "EvaluationDetails",
        "ModelReport"
      ],
      "type": "string",
      "readOnly": true,
      "x-ms-enum": {
        "name": "FileKind",
        "modelAsString": true,
        "values": [
          {
            "value": "DatasetReport",
            "description": "Type of data is dataset report."
          },
          {
            "value": "Audio",
            "description": "Type of data is audio."
          },
          {
            "value": "LanguageData",
            "description": "Type of data is language data."
          },
          {
            "value": "PronunciationData",
            "description": "Type of data is pronunciation data."
          },
          {
            "value": "AcousticDataArchive",
            "description": "Type of data is acoustic data archive."
          },
          {
            "value": "AcousticDataTranscriptionV2",
            "description": "Type of data is acoustic data transcription v2."
          },
          {
            "value": "Transcription",
            "description": "Type of data is transcription."
          },
          {
            "value": "TranscriptionReport",
            "description": "Type of data is transcription report."
          },
          {
            "value": "EvaluationDetails",
            "description": "Type of data is evaluation details."
          },
          {
            "value": "ModelReport",
            "description": "Type of data is model report."
          }
        ]
      }
    },
    "FileLinks": {
      "title": "FileLinks",
      "type": "object",
      "properties": {
        "contentUrl": {
          "format": "uri",
          "description": "The url to retrieve the content of this file.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "FileProperties": {
      "title": "FileProperties",
      "type": "object",
      "properties": {
        "size": {
          "format": "int64",
          "description": "The size of the data in bytes.",
          "type": "integer",
          "readOnly": true
        },
        "duration": {
          "description": "The duration in case this file is an audio file. The duration is encoded as ISO 8601duration (\"PnYnMnDTnHnMnS\", see https://en.wikipedia.org/wiki/ISO_8601#Durations).",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "InnerError": {
      "title": "InnerError",
      "description": "New Inner Error format which conforms to Cognitive Services API Guidelines which is available at https://microsoft.sharepoint.com/%3Aw%3A/t/CognitiveServicesPMO/EUoytcrjuJdKpeOKIK_QRC8BPtUYQpKBi8JsWyeDMRsWlQ?e=CPq8ow.This contains required properties ErrorCode, message and optional properties target, details(key value pair), inner error(this can be nested).",
      "type": "object",
      "properties": {
        "code": {
          "$ref": "#/definitions/DetailedErrorCode"
        },
        "details": {
          "description": "Additional supportive details regarding the error and/or expected policies.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "message": {
          "description": "High level error message.",
          "type": "string"
        },
        "target": {
          "description": "The source of the error.For example it would be \"documents\" or \"document id\" in case of invalid document.",
          "type": "string"
        },
        "innerError": {
          "$ref": "#/definitions/InnerError"
        }
      }
    },
    "LanguageIdentificationProperties": {
      "title": "LanguageIdentificationProperties",
      "required": [
        "candidateLocales"
      ],
      "type": "object",
      "properties": {
        "candidateLocales": {
          "description": "The candidate locales for language identification (example [\"en-US\", \"de-DE\", \"es-ES\"]). A minimum of 2 and a maximum of 10 candidate locales, including the main locale for the transcription, is supported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "speechModelMapping": {
          "description": "An optional mapping of locales to speech model entities. If no model is given for a locale, the default base model is used.Keys must be locales contained in the candidate locales, values are entities for models of the respective locales.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/EntityReference"
          }
        }
      }
    },
    "PaginatedFiles": {
      "title": "PaginatedFiles",
      "type": "object",
      "properties": {
        "values": {
          "description": "A list of entities limited by either the passed query parameters 'skip' and 'top' or their default values. When iterating through a list using pagination and deleting entities in parallel, some entities will be skipped in the results.It's recommended to build a list on the client and delete after the fetching of the complete list.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/File"
          },
          "readOnly": true
        },
        "@nextLink": {
          "format": "uri",
          "description": "A link to the next set of paginated results if there are more entities available; otherwise null.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PaginatedTranscriptions": {
      "title": "PaginatedTranscriptions",
      "type": "object",
      "properties": {
        "values": {
          "description": "A list of entities limited by either the passed query parameters 'skip' and 'top' or their default values. When iterating through a list using pagination and deleting entities in parallel, some entities will be skipped in the results.It's recommended to build a list on the client and delete after the fetching of the complete list.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Transcription"
          },
          "readOnly": true
        },
        "@nextLink": {
          "format": "uri",
          "description": "A link to the next set of paginated results if there are more entities available; otherwise null.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ProfanityFilterMode": {
      "title": "ProfanityFilterMode",
      "description": "Mode of profanity filtering.",
      "enum": [
        "None",
        "Removed",
        "Tags",
        "Masked"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ProfanityFilterMode",
        "modelAsString": false,
        "values": [
          {
            "value": "None",
            "description": "Disable profanity filtering."
          },
          {
            "value": "Removed",
            "description": "Remove profanity."
          },
          {
            "value": "Tags",
            "description": "Add \"profanity\" XML tags&lt;/Profanity&gt;"
          },
          {
            "value": "Masked",
            "description": "Mask the profanity with * except of the first letter, e.g., f***"
          }
        ]
      }
    },
    "PunctuationMode": {
      "title": "PunctuationMode",
      "description": "The mode used for punctuation.",
      "enum": [
        "None",
        "Dictated",
        "Automatic",
        "DictatedAndAutomatic"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "PunctuationMode",
        "modelAsString": false,
        "values": [
          {
            "value": "None",
            "description": "No punctuation."
          },
          {
            "value": "Dictated",
            "description": "Dictated punctuation marks only, i.e., explicit punctuation."
          },
          {
            "value": "Automatic",
            "description": "Automatic punctuation."
          },
          {
            "value": "DictatedAndAutomatic",
            "description": "Dictated punctuation marks or automatic punctuation."
          }
        ]
      }
    },
    "Status": {
      "title": "Status",
      "description": "Describe the current state of the API",
      "enum": [
        "NotStarted",
        "Running",
        "Succeeded",
        "Failed"
      ],
      "type": "string",
      "readOnly": true,
      "x-ms-enum": {
        "name": "Status",
        "modelAsString": false,
        "values": [
          {
            "value": "NotStarted",
            "description": "The long running operation has not yet started."
          },
          {
            "value": "Running",
            "description": "The long running operation is currently processing."
          },
          {
            "value": "Succeeded",
            "description": "The long running operation has successfully completed."
          },
          {
            "value": "Failed",
            "description": "The long running operation has failed."
          }
        ]
      }
    },
    "Transcription": {
      "title": "Transcription",
      "required": [
        "displayName",
        "locale"
      ],
      "type": "object",
      "properties": {
        "links": {
          "$ref": "#/definitions/TranscriptionLinks"
        },
        "properties": {
          "$ref": "#/definitions/TranscriptionProperties"
        },
        "self": {
          "format": "uri",
          "description": "The location of this entity.",
          "type": "string",
          "readOnly": true
        },
        "model": {
          "$ref": "#/definitions/EntityReference"
        },
        "project": {
          "$ref": "#/definitions/EntityReference"
        },
        "dataset": {
          "$ref": "#/definitions/EntityReference"
        },
        "contentUrls": {
          "description": "A list of content urls to get audio files to transcribe. Up to 1000 urls are allowed.This property will not be returned in a response.",
          "type": "array",
          "items": {
            "format": "uri",
            "type": "string"
          }
        },
        "contentContainerUrl": {
          "format": "uri",
          "description": "A URL for an Azure blob container that contains the audio files. A container is allowed to have a maximum size of 5GB and a maximum number of 10000 blobs.The maximum size for a blob is 2.5GB.Container SAS should contain 'r' (read) and 'l' (list) permissions.This property will not be returned in a response.",
          "type": "string"
        },
        "locale": {
          "description": "The locale of the contained data. If Language Identification is used, this locale is used to transcribe speech for which no language could be detected.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the object.",
          "type": "string"
        },
        "description": {
          "description": "The description of the object.",
          "type": "string"
        },
        "customProperties": {
          "description": "The custom properties of this entity. The maximum allowed key length is 64 characters, the maximumallowed value length is 256 characters and the count of allowed entries is 10.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "lastActionDateTime": {
          "format": "date-time",
          "description": "The time-stamp when the current status was entered.The time stamp is encoded as ISO 8601 date and time format(\"YYYY-MM-DDThh:mm:ssZ\", see https://en.wikipedia.org/wiki/ISO_8601#Combined_date_and_time_representations).",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/Status"
        },
        "createdDateTime": {
          "format": "date-time",
          "description": "The time-stamp when the object was created.The time stamp is encoded as ISO 8601 date and time format(\"YYYY-MM-DDThh:mm:ssZ\", see https://en.wikipedia.org/wiki/ISO_8601#Combined_date_and_time_representations).",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TranscriptionLinks": {
      "title": "TranscriptionLinks",
      "type": "object",
      "properties": {
        "files": {
          "format": "uri",
          "description": "The location to get all files of this entity. See operation \"Transcriptions_ListFiles\" for more details.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TranscriptionProperties": {
      "title": "TranscriptionProperties",
      "type": "object",
      "properties": {
        "diarizationEnabled": {
          "description": "A value indicating whether diarization (speaker identification) is requested. The default valueis `false`.If only this field is set to true and the improved diarization system is not enabled by specifying`DiarizationProperties`, a basic diarization system will distinguish between up to two speakers. Noextra charges are applied in this case. The improved diarization system provides diarization for aconfigurable range of speakers. It can be configured in the `DiarizationProperties` field.           DEPRECATED: The basic diarization system is deprecated and will be removed along with the`diarizationEnabled` setting in the next major version of the API.",
          "type": "boolean"
        },
        "wordLevelTimestampsEnabled": {
          "description": "A value indicating whether word level timestamps are requested. The default value is`false`.",
          "type": "boolean"
        },
        "displayFormWordLevelTimestampsEnabled": {
          "description": "A value indicating whether word level timestamps for the display form are requested. The default value is `false`.",
          "type": "boolean"
        },
        "duration": {
          "description": "The duration of the transcription. The duration is encoded as ISO 8601 duration(\"PnYnMnDTnHnMnS\", see https://en.wikipedia.org/wiki/ISO_8601#Durations).",
          "type": "string",
          "readOnly": true
        },
        "channels": {
          "description": "A collection of the requested channel numbers.In the default case, the channels 0 and 1 are considered.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "destinationContainerUrl": {
          "format": "uri",
          "description": "The requested destination container.### Remarks ###When a destination container is used in combination with a `timeToLive`, the metadata of atranscription will be deleted normally, but the data stored in the destination container, includingtranscription results, will remain untouched, because no delete permissions are required for thiscontainer.<br />To support automatic cleanup, either configure blob lifetimes on the container, or use \"Bring your own Storage (BYOS)\"instead of `destinationContainerUrl`, where blobs can be cleaned up.",
          "type": "string"
        },
        "punctuationMode": {
          "$ref": "#/definitions/PunctuationMode"
        },
        "profanityFilterMode": {
          "$ref": "#/definitions/ProfanityFilterMode"
        },
        "timeToLive": {
          "description": "How long the transcription will be kept in the system after it has completed. Once thetranscription reaches the time to live after completion (successful or failed) it will be automaticallydeleted. Not setting this value or setting it to 0 will disable automatic deletion. The longest supportedduration is 31 days.The duration is encoded as ISO 8601 duration (\"PnYnMnDTnHnMnS\", see https://en.wikipedia.org/wiki/ISO_8601#Durations).",
          "type": "string"
        },
        "diarization": {
          "$ref": "#/definitions/DiarizationProperties"
        },
        "languageIdentification": {
          "$ref": "#/definitions/LanguageIdentificationProperties"
        },
        "email": {
          "description": "The email address to send email notifications to in case the operation completes.The value will be removed after successfully sending the email.",
          "type": "string"
        },
        "error": {
          "$ref": "#/definitions/EntityError"
        }
      }
    },
    "TranscriptionUpdate": {
      "title": "TranscriptionUpdate",
      "type": "object",
      "properties": {
        "project": {
          "$ref": "#/definitions/EntityReference"
        },
        "displayName": {
          "description": "The name of the object.",
          "type": "string"
        },
        "description": {
          "description": "The description of the object.",
          "type": "string"
        },
        "customProperties": {
          "description": "The custom properties of this entity. The maximum allowed key length is 64 characters, the maximumallowed value length is 256 characters and the count of allowed entries is 10.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {
    "Endpoint": {
      "in": "path",
      "name": "Endpoint",
      "description": "Supported Cognitive Services endpoints (protocol and hostname, for example: https://westus.api.cognitive.microsoft.com).",
      "required": true,
      "type": "string",
      "x-ms-skip-url-encoding": true,
      "x-ms-summary": "Endpoint",
      "x-ms-parameter-location": "client",
      "x-ms-url-encoding": "double"
    },
    "skipQueryParameter": {
      "in": "query",
      "name": "skip",
      "description": "Number of datasets that will be skipped.",
      "type": "integer",
      "format": "int32",
      "x-ms-parameter-location": "method",
      "x-ms-summary": "Skip"
    },
    "topQueryParameter": {
      "in": "query",
      "name": "top",
      "description": "Number of datasets that will be included after skipping.",
      "type": "integer",
      "format": "int32",
      "x-ms-parameter-location": "method",
      "x-ms-summary": "Top"
    },
    "sasValidityQueryParameter": {
      "in": "query",
      "name": "sasValidityInSeconds",
      "description": "The duration in seconds that an SAS url should be valid. The default duration is 12 hours. When using BYOS (https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-encryption-of-data-at-rest#bring-your-own-storage-byos-for-customization-and-logging): A value of 0 means that a plain blob URI without SAS token will be generated.",
      "type": "integer",
      "format": "int32",
      "x-ms-parameter-location": "method",
      "x-ms-summary": "Sas Validity In Seconds"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.microsoft.com/azure/cognitive-services/speech-service/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Website"
    }
  ],
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "x-ms-parameterized-host": {
    "hostTemplate": "{Endpoint}/speechtotext/v3.0",
    "useSchemePrefix": false,
    "parameters": [
      {
        "$ref": "#/parameters/Endpoint"
      }
    ]
  }
}