{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Data8 Data Enrichment",
    "description": "Data8 helps you build confidence in your data. We can save you money by cleaning and enriching both your existing data, as well as ensuring only the highest quality data goes in at the point of entry, leaving you to concentrate on targeting and communicating to the right customers.",
    "contact": {
      "name" : "Technical Helpdesk",
      "url" : "https://www.data-8.co.uk",
      "email" : "helpdesk@data-8.co.uk"
    }
  },
  "host": "webservices.data-8.co.uk",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/SalaciousName/IsUnusableName.json": {
      "post": {
        "consumes" : [
          "application/json"
        ],
        "summary": "Check Usable Name",
        "description": "Using this action, you can check if a name is a real usable name or whether it is salacious, random or blank.",
        "operationId": "IsUsableName",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "object",
                  "properties": {
                    "Title": {
                      "type": "string",
                      "description": "The title of the name",
                      "title": "Title"
                    },
                    "Forename": {
                      "type": "string",
                      "description": "The first name of the full name",
                      "title": "First name",
                      "x-ms-visibility": ""
                    },
                    "MiddleName": {
                      "type": "string",
                      "description": "The middle name of the full name",
                      "title": "Middle name"
                    },
                    "Surname": {
                      "type": "string",
                      "title": "Last name",
                      "description": "The last name of the full name"
                    }
                  },
                  "description": "name"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean",
                      "description": "Flag to determine if the request to Data8 succeeded, regardless of result",
                      "title": "Success",
                      "x-ms-visibility": ""
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Returned Error Message, if any",
                      "title": "Error Message",
                      "x-ms-visibility": ""
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Data8 Credits Remaining for the called service",
                      "title": "Credits Remaining",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "Status"
                },
                "Result": {
                  "type": "string",
                  "description": "A blank value indiciates the name is a usable name. If a value is returned it will be one of the following: \"IncompleteName\", \"RandomName\" or \"SalaciousName\"",
                  "title": "Result",
                  "x-ms-visibility": "",
                  "enum": [
                    "",
                    "IncompleteName",
                    "RandomName",
                    "SalaciousName"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/TPS/IsCallable.json": {
      "post": {
        "consumes" : [
          "application/json"
        ],
        "summary": "TPS Check",
        "description": "Checks if a telephone number is registered on the TPS or not.",
        "operationId": "IsCallableTPS",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "string",
                  "description": "The telephone number you want to TPS check",
                  "title": "Telephone Number",
                  "x-ms-visibility": ""
                }
              },
              "required": [
                "number"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "string",
                      "description": "Flag to determine if the request to Data8 succeeded, regardless of result",
                      "title": "Success",
                      "x-ms-visibility": ""
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Returned Error Message, if any",
                      "title": "Error Message",
                      "x-ms-visibility": ""
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Data8 Credits Remaining for the called service",
                      "title": "Credits Remaining",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "Status"
                },
                "Callable": {
                  "type": "boolean",
                  "description": "Returns a boolean value letting you know if it's callable. If false, the number is currently on the TPS.",
                  "title": "Is Callable",
                  "x-ms-visibility": ""
                },
                "TelephoneNumber": {
                  "type": "string",
                  "description": "Returns the telephone number if callable, null if not.",
                  "title": "Telephone Number",
                  "x-ms-visibility": ""
                }
              }
            }
          }
        }
      }
    },
    "/CTPS/IsCallable.json": {
      "post": {
        "consumes" : [
          "application/json"
        ],
        "summary": "CTPS Check",
        "description": "Checks if a telephone number is registered on the CTPS or not.",
        "operationId": "IsCallableCTPS",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "string",
                  "description": "The telephone number you wish to CTPS check",
                  "title": "Telephone Number",
                  "x-ms-visibility": ""
                }
              },
              "required": [
                "number"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "string",
                      "description": "Flag to determine if the request to Data8 succeeded, regardless of result",
                      "title": "Success",
                      "x-ms-visibility": ""
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Returned Error Message, if any",
                      "title": "Error Message",
                      "x-ms-visibility": ""
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Data8 Credits Remaining for the called service",
                      "title": "Credits Remaining",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "Status"
                },
                "Callable": {
                  "type": "boolean",
                  "description": "Returns a boolean value letting you know if it's callable. If false, the number is currently on the CTPS.",
                  "title": "Is Callable",
                  "x-ms-visibility": ""
                },
                "TelephoneNumber": {
                  "type": "string",
                  "description": "If populated, the telephone number is callable and null if not",
                  "title": "Telephone Number",
                  "x-ms-visibility": ""
                }
              }
            }
          }
        }
      }
    },
    "/BankAccountValidation/IsValid.json": {
      "post": {
        "consumes" : [
          "application/json"
        ],
        "summary": "Validate Bank Account Information",
        "description": "Check if a sort code and bank account number are valid.",
        "operationId": "IsValidBankAccount",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "sortCode": {
                  "type": "string",
                  "description": "The sort code you wish to validate",
                  "title": "Sort Code",
                  "x-ms-visibility": ""
                },
                "bankAccountNumber": {
                  "type": "string",
                  "description": "The bank account number you wish to validate",
                  "title": "Bank Account Number",
                  "x-ms-visibility": ""
                }
              },
              "required": [
                "sortCode"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "string",
                      "description": "Flag to determine if the request to Data8 succeeded, regardless of result",
                      "title": "Success",
                      "x-ms-visibility": ""
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Returned Error Message, if any",
                      "title": "Error Message",
                      "x-ms-visibility": ""
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Data8 Credits Remaining for the called service",
                      "title": "Credits Remaining",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "Status"
                },
                "Valid": {
                  "type": "string",
                  "title": "Valid",
                  "description": "Indicates if the incoming sort code and bank account number could be validated."
                },
                "SortCode": {
                  "type": "string",
                  "description": "The sort code that has been validated.",
                  "title": "Sort Code",
                  "x-ms-visibility": ""
                },
                "AccountNumber": {
                  "type": "string",
                  "description": "The account number that has been validated.",
                  "title": "Account Number",
                  "x-ms-visibility": ""
                },
                "BICCode": {
                  "type": "string",
                  "description": "The BIC code of the bank branch indicated by the sort code.",
                  "title": "BIC Code",
                  "x-ms-visibility": ""
                },
                "IBAN": {
                  "type": "string",
                  "title": "IBAN",
                  "description": "The IBAN code of the bank account indicated by the sort code and account number."
                },
                "BranchName": {
                  "type": "string",
                  "description": "The name of the bank branch indicated by the sort code.",
                  "title": "Branch Name",
                  "x-ms-visibility": ""
                },
                "ShortBankName": {
                  "type": "string",
                  "description": "A short name for the bank indicated by the sort code.",
                  "title": "Short Bank Name",
                  "x-ms-visibility": ""
                },
                "FullBankName": {
                  "type": "string",
                  "description": "The full name for the bank indicated by the sort code.",
                  "title": "Full Bank Name",
                  "x-ms-visibility": ""
                },
                "Address": {
                  "type": "object",
                  "properties": {
                    "Address": {
                      "type": "object",
                      "properties": {
                        "Lines": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "title": "Address Lines",
                            "x-ms-visibility": ""
                          },
                          "description": "Lines"
                        }
                      },
                      "title": "Address",
                      "description": "The address of the bank branch indicated by the sort code."
                    }
                  },
                  "description": "Address"
                },
                "AcceptsBACSPayments": {
                  "type": "boolean",
                  "description": "Indicates if the bank branch can accept payments made through the BACS system.",
                  "title": "Accepts BACS Payments",
                  "x-ms-visibility": ""
                },
                "AcceptsDirectDebitTransactions": {
                  "type": "boolean",
                  "description": "Indicates if the bank branch can accept direct debit payments.",
                  "title": "Accepts Direct Debit Transactions",
                  "x-ms-visibility": ""
                },
                "AcceptsDirectCreditTransactions": {
                  "type": "boolean",
                  "description": "Indicates if the bank branch can accept direct credit payments.",
                  "title": "Accepts Direct Credit Transactions",
                  "x-ms-visibility": ""
                },
                "AcceptsUnpaidChequeClaimTransactions": {
                  "type": "boolean",
                  "description": "Indicates if the bank branch can accept claims for unpaid cheques.",
                  "title": "Accepts Unpaid Cheque Claim Transactions",
                  "x-ms-visibility": ""
                },
                "AcceptsBuildingSocietyCreditTransactions": {
                  "type": "boolean",
                  "description": "Indicates if the bank branch can accept credits from building societies.",
                  "title": "Accepts Building Society Credit Transactions",
                  "x-ms-visibility": ""
                },
                "AcceptsDividendInterestPaymentTransactions": {
                  "type": "boolean",
                  "description": "Indicates if the bank branch can accept dividend interest payments.",
                  "title": "Accepts Dividend Interest Payment Transactions",
                  "x-ms-visibility": ""
                },
                "AcceptsDirectDebitInstructionTransactions": {
                  "type": "boolean",
                  "description": "Indicates if the bank branch can accept direct debit instructions.",
                  "title": "Accepts Direct Debit Instruction Transactions",
                  "x-ms-visibility": ""
                },
                "AcceptsCHAPSPayments": {
                  "type": "boolean",
                  "description": "Indicates if the bank branch can accept payments made through the CHAPS system.",
                  "title": "Accepts CHAPS Payments",
                  "x-ms-visibility": ""
                },
                "AcceptsCheques": {
                  "type": "boolean",
                  "description": "Indicates if the bank branch can accept payments made by cheque.",
                  "title": "Accepts Cheques",
                  "x-ms-visibility": ""
                },
                "AcceptsFasterPayments": {
                  "type": "boolean",
                  "description": "",
                  "title": "Accepts Faster Payments"
                }
              }
            }
          }
        }
      }
    },
    "/EmailValidation/IsValid.json": {
      "post": {
        "consumes" : [
          "application/json"
        ],
        "summary": "Validate Email Address",
        "description": "Checks to see if an inputted email address is valid to receive email",
        "operationId": "IsValidEmail",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address you wish to validate",
                  "title": "Email Address",
                  "x-ms-visibility": ""
                },
                "level": {
                  "type": "string",
                  "description": "The level to which you wish to validate - please check https://www.data-8.co.uk/resources/support/service-documentation/email-validation/reference/isvalid for more information",
                  "title": "Validation Level",
                  "x-ms-visibility": "",
                  "enum": [
                    "Syntax",
                    "MX",
                    "Server",
                    "Address"
                  ]
                }
              },
              "required": [
                "email",
                "level"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "string",
                      "description": "Flag to determine if the request to Data8 succeeded, regardless of result",
                      "title": "Success",
                      "x-ms-visibility": ""
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Returned Error Message, if any",
                      "title": "Error Message",
                      "x-ms-visibility": ""
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Data8 Credits Remaining for the called service",
                      "title": "Credits Remaining",
                      "x-ms-visibility": ""
                    }
                  }
                },
                "Result": {
                  "type": "string",
                  "description": "Contains a status code indicating if the email address could be validated. For more information on the possible status code, please read https://www.data-8.co.uk/resources/support/service-documentation/email-validation/reference/isvalid",
                  "title": "Result",
                  "x-ms-visibility": ""
                }
              }
            }
          }
        }
      }
    },
    "/InternationalTelephoneValidation/IsValid.json": {
      "post": {
        "consumes" : [
          "application/json"
        ],
        "summary": "Validate Telephone Number",
        "description": "Checks to see if an inputted email address is valid to receive email",
        "operationId": "IsValidTelephone",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "telephoneNumber": {
                  "type": "string",
                  "description": "The number you want to validate",
                  "title": "Telephone Number",
                  "x-ms-visibility": ""
                },
                "defaultCountry": {
                  "type": "string",
                  "description": "Formatted as numbers i.e. 44 for UK",
                  "title": "Default Country Code",
                  "x-ms-visibility": ""
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "UseLineValidation": {
                      "type": "boolean",
                      "description": "If set to true then the service will use Data8 LandlineValidation on any number it recognises as a UK landline number and InternationalTelephoneValidation on all other numbers. Any validation call will be debited either an InternationalTelephoneValidation credit or a LandlineValidation credit accordingly so please ensure you have LandlineValidation credits available before using this option. The option defaults to false.",
                      "title": "Use Line Validation",
                      "x-ms-visibility": ""
                    },
                    "UseMobileValidation": {
                      "type": "boolean",
                      "description": "If set to true then the service will use Data8 MobileValidation on any number it recognises as a mobile number and InternationalTelephoneValidation on all other numbers. Any validation call will be debited either an InternationalTelephoneValidation credit or a MobileValidation credit accordingly so please ensure you have MobileValidation credits available before using this option. The option defaults to false.",
                      "title": "Use Mobile Validation",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "options"
                }
              },
              "required": [
                "telephoneNumber",
                "defaultCountry"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "string",
                      "description": "Flag to determine if the request to Data8 succeeded, regardless of result",
                      "title": "Success",
                      "x-ms-visibility": ""
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Returned Error Message, if any",
                      "title": "Error Message",
                      "x-ms-visibility": ""
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Data8 Credits Remaining for the called service",
                      "title": "Credits Remaining",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "Status"
                },
                "Result": {
                  "type": "object",
                  "properties": {
                    "TelephoneNumber": {
                      "type": "string",
                      "description": "The inputted telephone number formatted",
                      "title": "Telephone Number",
                      "x-ms-visibility": ""
                    },
                    "ValidationResult": {
                      "type": "string",
                      "description": "The simple result for the validation of the telephone number",
                      "title": "Validation Result",
                      "x-ms-visibility": ""
                    },
                    "ValidationLevel": {
                      "type": "string",
                      "description": "The level of validation found for the phone number.",
                      "title": "Validation Level",
                      "x-ms-visibility": ""
                    },
                    "NumberType": {
                      "type": "string",
                      "description": "Specifies the type of the number provided i.e. Landline or Mobile",
                      "title": "Number Type",
                      "x-ms-visibility": ""
                    },
                    "Location": {
                      "type": "string",
                      "description": "Current location of the telephone number if available",
                      "title": "Location",
                      "x-ms-visibility": ""
                    },
                    "Provider": {
                      "type": "string",
                      "description": "The network provider of the telephone number",
                      "title": "Provider",
                      "x-ms-visibility": ""
                    },
                    "CountryCode": {
                      "type": "string",
                      "description": "Country ISO2 code of the telephone number",
                      "title": "Country Code",
                      "x-ms-visibility": ""
                    },
                    "CountryName": {
                      "type": "string",
                      "description": "Country name of the telephone number",
                      "title": "Country Name",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "Result"
                }
              }
            }
          }
        }
      }
    },
    "/Postcoder/CleanAddress.json": {
      "post": {
        "consumes" : [
          "application/json"
        ],
        "summary": "Clean Address",
        "description": "Formats, verifies and corrects a given address into a full formatted address.",
        "operationId": "CleanAddress",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "object",
                  "properties": {
                    "Lines": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "",
                        "title": "Address Lines",
                        "x-ms-visibility": ""
                      },
                      "description": "Lines"
                    }
                  },
                  "description": "address",
                  "required": [
                    "Lines"
                  ]
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "DefaultCountryCode": {
                      "type": "string",
                      "description": "an ISO 2 character code for the country to assume the address is in unless otherwise specified. This defaults to GB.",
                      "title": "Default Country Code",
                      "x-ms-visibility": ""
                    },
                    "DetectCountry": {
                      "type": "boolean",
                      "description": "Set to true to attempt to automatically detect the country from the provided address information, possibly overriding the default country",
                      "title": "Auto Detect Country",
                      "x-ms-visibility": ""
                    },
                    "Country": {
                      "type": "string",
                      "description": "If DetectCountry is set to true, this is taken as additional user input alongside the address to influence the country detection function. The format of this is not enforced, so could be provided as \"US\", \"USA\" or \"United States\"",
                      "title": "Country",
                      "x-ms-visibility": ""
                    },
                    "IncludeCountry": {
                      "type": "boolean",
                      "description": "Includes the CountryName field in the main part of the result",
                      "title": "Include Country",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "options"
                }
              },
              "required": [
                "address"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "string",
                      "description": "Flag to determine if the request to Data8 succeeded, regardless of result",
                      "title": "Success",
                      "x-ms-visibility": ""
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Returned Error Message, if any",
                      "title": "Error Message",
                      "x-ms-visibility": ""
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Data8 Credits Remaining for the called service",
                      "title": "Credits Remaining",
                      "x-ms-visibility": ""
                    }
                  },
                  "description": "Status"
                },
                "Result": {
                  "type": "object",
                  "properties": {
                    "Address": {
                      "type": "object",
                      "properties": {
                        "Lines": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "title": "Address Lines",
                            "x-ms-visibility": ""
                          },
                          "description": "Lines"
                        }
                      },
                      "description": "Address",
                      "title": "Address Lines"
                    }
                  },
                  "description": "Result"
                },
                "MatchLevel": {
                  "type": "string",
                  "description": "Contains a MatchLevel to indicate how well the address matched to PAF. Possible values are OK_Unchanged, OK_Corrected, NOK_Building, NOK_Street, NOK_Town, NOK_NoMatch",
                  "title": "Match Level",
                  "x-ms-visibility": ""
                },
                "CountryName": {
                  "type": "string",
                  "description": "Contains the name of the country the address is in.",
                  "title": "Country Name",
                  "x-ms-visibility": ""
                }
              }
            }
          }
        }
      }
    },
    "/AddressCapture/GetFullAddress.json": {
      "post": {
        "consumes" : [
          "application/json"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean",
                      "description": "Success"
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Error Message (if applicable)"
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Credits Remaining",
                      "title": ""
                    }
                  },
                  "description": "Status"
                },
                "ResultCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "Contains the number of addresses in the Results field. This field is only populated if the ReturnResultCount option is set to true"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Address": {
                        "type": "object",
                        "properties": {
                          "Lines": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Formatted Address Lines"
                          }
                        },
                        "description": "Formatted Address"
                      },
                      "RawAddress": {
                        "type": "object",
                        "properties": {
                          "Organisation": {
                            "type": "string",
                            "description": "Organisation"
                          },
                          "Department": {
                            "type": "string",
                            "description": "Department"
                          },
                          "AddressKey": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Address Key"
                          },
                          "OrganisationKey": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Organisation Key"
                          },
                          "PostcodeType": {
                            "type": "string",
                            "description": "Postcode Type"
                          },
                          "BuildingNumber": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Building Number"
                          },
                          "SubBuildingName": {
                            "type": "string",
                            "description": "Sub Building Name"
                          },
                          "BuildingName": {
                            "type": "string",
                            "description": "Building Name"
                          },
                          "DependentThoroughfareName": {
                            "type": "string",
                            "description": "Dependent Thoroughfare Name"
                          },
                          "DependentThoroughfareDesc": {
                            "type": "string",
                            "description": "Dependent Thoroughfare Desc"
                          },
                          "ThoroughfareName": {
                            "type": "string",
                            "description": "Thoroughfare Name"
                          },
                          "ThoroughfareDesc": {
                            "type": "string",
                            "description": "Thoroughfare Desc"
                          },
                          "DoubleDependentLocality": {
                            "type": "string",
                            "description": "Double Dependent Locality"
                          },
                          "DependentLocality": {
                            "type": "string",
                            "description": "Dependent Locality"
                          },
                          "Locality": {
                            "type": "string",
                            "description": "Locality"
                          },
                          "Postcode": {
                            "type": "string",
                            "description": "Postcode"
                          },
                          "Dps": {
                            "type": "string",
                            "description": "DPS"
                          },
                          "PoBox": {
                            "type": "string",
                            "description": "PO Box"
                          },
                          "PostalCounty": {
                            "type": "string",
                            "description": "Postal County"
                          },
                          "TraditionalCounty": {
                            "type": "string",
                            "description": "Traditional County"
                          },
                          "AdministrativeCounty": {
                            "type": "string",
                            "description": "Administrative County"
                          },
                          "CountryISO2": {
                            "type": "string",
                            "description": "Country ISO2"
                          },
                          "UniqueReference": {
                            "type": "string",
                            "description": "Unique Reference"
                          },
                          "Location": {
                            "type": "object",
                            "properties": {
                              "Easting": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Easting"
                              },
                              "Northing": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Northing"
                              },
                              "GridReference": {
                                "type": "string",
                                "description": "GridReference"
                              },
                              "Longitude": {
                                "type": "number",
                                "format": "float",
                                "description": "Longitude"
                              },
                              "Latitude": {
                                "type": "number",
                                "format": "float",
                                "description": "Latitude"
                              },
                              "CountyCode": {
                                "type": "string",
                                "description": "CountyCode"
                              },
                              "County": {
                                "type": "string",
                                "description": "County"
                              },
                              "DistrictCode": {
                                "type": "string",
                                "description": "DistrictCode"
                              },
                              "District": {
                                "type": "string",
                                "description": "District"
                              },
                              "WardCode": {
                                "type": "string",
                                "description": "WardCode"
                              },
                              "Ward": {
                                "type": "string",
                                "description": "Ward"
                              },
                              "Country": {
                                "type": "string",
                                "description": "Country"
                              }
                            },
                            "description": "Location"
                          }
                        },
                        "description": "Raw Address"
                      }
                    }
                  },
                  "description": "Results"
                }
              }
            }
          }
        },
        "summary": "Get Full Address",
        "operationId": "GetFullAddress",
        "description": "Searches for an addresses based on input data such as building number and postcode",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "licence": {
                  "type": "string",
                  "description": "As the Royal Mail PAF database can be licensed in multiple ways, this parameter indicates under which license you are accessing the data. This must match the variant you have a license or credits for - if you are unsure which option to choose, please contact your account manager",
                  "title": "License",
                  "enum": [
                    "InternalUserFull",
                    "InternalUserFullArea",
                    "SmallUserFull",
                    "WebClickFull",
                    "WebServerFull",
                    "Lookup",
                    "InternalServerFull",
                    "FreeTrial"
                  ]
                },
                "postcode": {
                  "type": "string",
                  "description": "The full postcode to get addresses for. Formatting of the postcode does not matter so \"ch24ne\", \"CH2 4NE\", \"ch02 4Ne\" are all accepted.",
                  "title": "Postcode"
                },
                "building": {
                  "type": "string",
                  "description": "An optional value to filter the returned addresses by building name, number, sub-premise (e.g. flat number) or company name. If null or \"\" are supplied, all addresses on the postcode are included in the result.",
                  "title": "Building",
                  "x-ms-visibility": "advanced"
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "FixTownCounty": {
                      "type": "boolean",
                      "description": "true to ensure the town and county are returned in the last two address lines, or false if they should appear in the first available line.",
                      "title": "FixTownCounty",
                      "x-ms-visibility": "advanced"
                    },
                    "MaxLines": {
                      "type": "integer",
                      "description": "The number of lines to format the address over. An additional line will be included in the result for the postcode.",
                      "title": "MaxLines",
                      "format": "int32",
                      "default": 6
                    },
                    "MaxLineLength": {
                      "type": "integer",
                      "description": "The maximum number of characters that can appear in each address line.",
                      "title": "MaxLineLength",
                      "format": "int32",
                      "x-ms-visibility": "advanced"
                    },
                    "NormalizeCase": {
                      "type": "boolean",
                      "description": "Converts all text in the address except the town name to proper case.",
                      "title": "NormalizeCase",
                      "x-ms-visibility": "advanced"
                    },
                    "NormalizeTownCase": {
                      "type": "boolean",
                      "description": "Converts the town name to proper case",
                      "title": "NormalizeTownCase",
                      "x-ms-visibility": "advanced"
                    },
                    "ExcludeCounty": {
                      "type": "boolean",
                      "description": "Excludes the county, if any, from the formatted address",
                      "title": "ExcludeCounty",
                      "x-ms-visibility": "advanced"
                    },
                    "UseAnyAvailableCounty": {
                      "type": "boolean",
                      "description": "Uses any available county to populate the formatted address, not just the postal county",
                      "title": "UseAnyAvailableCounty",
                      "x-ms-visibility": "advanced"
                    },
                    "UnwantedPunctuation": {
                      "type": "boolean",
                      "description": "A string containing any punctuation characters to be removed from the formatted address",
                      "title": "UnwantedPunctuation",
                      "x-ms-visibility": "advanced"
                    },
                    "FixBuilding": {
                      "type": "boolean",
                      "description": "Ensures the building name/number is always placed in the first line",
                      "title": "FixBuilding",
                      "x-ms-visibility": "advanced"
                    },
                    "IncludeUDPRN": {
                      "type": "boolean",
                      "description": "Set to true to have the UniqueReference field of each returned address populated with the UDPRN",
                      "title": "IncludeUDPRN",
                      "x-ms-visibility": "advanced"
                    },
                    "IncludeLocation": {
                      "type": "boolean",
                      "description": "Set to true to have the Location field of each returned address populated with the geocoding details for the address",
                      "title": "IncludeLocation",
                      "default": true
                    },
                    "ReturnResultCount": {
                      "type": "boolean",
                      "description": "Indicates if the ResultCount field in the result should be populated with the total number of addresses returned.",
                      "title": "ReturnResultCount",
                      "x-ms-visibility": "advanced"
                    },
                    "IncludeNYB": {
                      "type": "boolean",
                      "description": "Set to true to include addresses from the Not Yet Built database in the results (requires additional licensing)",
                      "title": "IncludeNYB",
                      "x-ms-visibility": "advanced"
                    },
                    "IncludeMR": {
                      "type": "boolean",
                      "description": "Set to true to include addresses from the Multiple Residency database in the results (requires additional licensing)",
                      "title": "IncludeMR",
                      "x-ms-visibility": "advanced"
                    },
                    "Formatter": {
                      "type": "string",
                      "description": "Pick from one of the available formatters to control how the raw address is converted into a human-readable address",
                      "title": "Formatter",
                      "enum": [
                        "DefaultFormatter",
                        "PAFStandardFormatter",
                        "NoOrganisationFormatter"
                      ],
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "options"
                }
              },
              "required": [
                "licence",
                "postcode"
              ]
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata" : [
    {
      "propertyName" : "Website",
      "propertyValue" : "https://www.data-8.co.uk"
    },
    {
      "propertyName" : "Privacy Policy",
      "propertyValue" : "https://www.data-8.co.uk/privacy-policy/"
    },
    {
      "propertyName" : "Categories",
      "propertyValue" : "AI;Website"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}