{
  "swagger": "2.0",
  "info": {
    "version": "1.0.2",
    "title": "Data8 Data Enrichment",
    "description": "Data8 helps you build confidence in your data. We can save you money by cleaning and enriching both your existing data, as well as ensuring only the highest quality data goes in at the point of entry, leaving you to concentrate on targeting and communicating to the right customers.",
    "x-ms-keywords" : [
      "Data8",
      "Data Quality",
      "DataQuality",
      "Data Enrichment",
      "DataEnrichment",
      "IsValidEmail",
      "Email",
      "Email Address",
      "EmailAddress",
      "Email Addresses",
      "EmailAddresses",
      "Valid Email",
      "ValidEmail",
      "Valid Email Address",
      "ValidEmailAddress",
      "Real Email",
      "RealEmail",
      "Real Email Address",
      "RealEmailAddress",
      "Genuine Email",
      "GenuineEmail",
      "Genuine Email Address",
      "GenuineEmailAddress",
      "IsUsableName",
      "Salacious Name",
      "SalaciousName",
      "Real Name",
      "RealName",
      "Usable Name",
      "UsableName",
      "Genuine Name",
      "GenuineName",
      "Persons Name",
      "PersonsName",
      "IsValidPhone",
      "Phone",
      "Phone Number",
      "Phone Number",
      "Valid Phone Number",
      "ValidPhoneNumber",
      "Valid Phone",
      "ValidPhone",
      "Real Phone",
      "RealPhone",
      "Real Phone Number",
      "RealPhoneNumber",
      "Genuine Phone",
      "GenuinePhone",
      "Genuine Phone Number",
      "GenuinePhoneNumber"
    ],
    "contact": {
      "name": "Technical Helpdesk",
      "url": "https://www.data-8.co.uk",
      "email": "helpdesk@data-8.co.uk"
    }
  },
  "host": "webservices.data-8.co.uk",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/SalaciousName/IsUnusableName.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "summary": "Check Usable Name",
        "description": "Check, verify and validate if a provided name is likely a real and usable name or whether it is unusable, salacious, random or blank.",
        "operationId": "IsUsableName",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "object",
                  "properties": {
                    "Title": {
                      "type": "string",
                      "description": "The title of the name",
                      "title": "Title"
                    },
                    "Forename": {
                      "type": "string",
                      "description": "The first name of the full name",
                      "title": "First name"
                    },
                    "MiddleName": {
                      "type": "string",
                      "description": "The middle name of the full name",
                      "title": "Middle name"
                    },
                    "Surname": {
                      "type": "string",
                      "title": "Last name",
                      "description": "The last name of the full name"
                    }
                  },
                  "description": "name"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean",
                      "description": "Flag to determine if the request to Data8 succeeded, regardless of result",
                      "title": "Success"
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Returned Error Message, if any",
                      "title": "Error Message"
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Data8 Credits Remaining for the called service",
                      "title": "Credits Remaining"
                    }
                  },
                  "description": "Status"
                },
                "Result": {
                  "type": "string",
                  "description": "A blank value indiciates the name is a usable name. If a value is returned it will be one of the following: \"IncompleteName\", \"RandomName\" or \"SalaciousName\"",
                  "title": "Result",
                  "enum": [
                    "",
                    "IncompleteName",
                    "RandomName",
                    "SalaciousName"
                  ]
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
         "openai-enabled": true,
          "operations": [
            {
              "operationId": "IsUsableName",
              "x-ms-require-user-confirmation": true,
              "parameters": [
                {
                  "name": "body",
                  "type": "upsert",
                  "properties": [
                    {
                      "name": "required",
                      "value": true,
                      "type": "upsert"
                    },
                    {
                      "name": "x-ms-explicit-input",
                      "value": false,
                      "type": "upsert"
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    },
    "/TPS/IsCallable.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "summary": "TPS Check",
        "description": "Checks if a telephone number is registered on the TPS or not.",
        "operationId": "IsCallableTPS",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "string",
                  "description": "The telephone number you want to TPS check",
                  "title": "Telephone Number"
                }
              },
              "required": [
                "number"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean",
                      "description": "Flag to determine if the request to Data8 succeeded, regardless of result",
                      "title": "Success"
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Returned Error Message, if any",
                      "title": "Error Message"
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Data8 Credits Remaining for the called service",
                      "title": "Credits Remaining"
                    }
                  },
                  "description": "Status"
                },
                "Callable": {
                  "type": "boolean",
                  "description": "Returns a boolean value letting you know if it's callable. If false, the number is currently on the TPS.",
                  "title": "Is Callable"
                },
                "TelephoneNumber": {
                  "type": "string",
                  "description": "Returns the telephone number if callable, null if not.",
                  "title": "Telephone Number"
                }
              }
            }
          }
        }
      }
    },
    "/CTPS/IsCallable.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "summary": "CTPS Check",
        "description": "Checks if a telephone number is registered on the CTPS or not.",
        "operationId": "IsCallableCTPS",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "string",
                  "description": "The telephone number you wish to CTPS check",
                  "title": "Telephone Number"
                }
              },
              "required": [
                "number"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean",
                      "description": "Flag to determine if the request to Data8 succeeded, regardless of result",
                      "title": "Success"
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Returned Error Message, if any",
                      "title": "Error Message"
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Data8 Credits Remaining for the called service",
                      "title": "Credits Remaining"
                    }
                  },
                  "description": "Status"
                },
                "Callable": {
                  "type": "boolean",
                  "description": "Returns a boolean value letting you know if it's callable. If false, the number is currently on the CTPS.",
                  "title": "Is Callable"
                },
                "TelephoneNumber": {
                  "type": "string",
                  "description": "If populated, the telephone number is callable and null if not",
                  "title": "Telephone Number"
                }
              }
            }
          }
        }
      }
    },
    "/BankAccountValidation/IsValid.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "summary": "Validate Bank Account Information",
        "description": "Check if a sort code and bank account number are valid.",
        "operationId": "IsValidBankAccount",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "sortCode": {
                  "type": "string",
                  "description": "The sort code you wish to validate",
                  "title": "Sort Code"
                },
                "bankAccountNumber": {
                  "type": "string",
                  "description": "The bank account number you wish to validate",
                  "title": "Bank Account Number"
                }
              },
              "required": [
                "sortCode"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean",
                      "description": "Flag to determine if the request to Data8 succeeded, regardless of result",
                      "title": "Success"
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Returned Error Message, if any",
                      "title": "Error Message"
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Data8 Credits Remaining for the called service",
                      "title": "Credits Remaining"
                    }
                  },
                  "description": "Status"
                },
                "Valid": {
                  "type": "string",
                  "title": "Valid",
                  "description": "Indicates if the incoming sort code and bank account number could be validated."
                },
                "SortCode": {
                  "type": "string",
                  "description": "The sort code that has been validated.",
                  "title": "Sort Code"
                },
                "AccountNumber": {
                  "type": "string",
                  "description": "The account number that has been validated.",
                  "title": "Account Number"
                },
                "BICCode": {
                  "type": "string",
                  "description": "The BIC code of the bank branch indicated by the sort code.",
                  "title": "BIC Code"
                },
                "IBAN": {
                  "type": "string",
                  "title": "IBAN",
                  "description": "The IBAN code of the bank account indicated by the sort code and account number."
                },
                "BranchName": {
                  "type": "string",
                  "description": "The name of the bank branch indicated by the sort code.",
                  "title": "Branch Name"
                },
                "ShortBankName": {
                  "type": "string",
                  "description": "A short name for the bank indicated by the sort code.",
                  "title": "Short Bank Name"
                },
                "FullBankName": {
                  "type": "string",
                  "description": "The full name for the bank indicated by the sort code.",
                  "title": "Full Bank Name"
                },
                "Address": {
                  "type": "object",
                  "properties": {
                    "Address": {
                      "type": "object",
                      "properties": {
                        "Lines": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "title": "Address Lines"
                          },
                          "description": "Lines"
                        }
                      },
                      "title": "Address",
                      "description": "The address of the bank branch indicated by the sort code."
                    }
                  },
                  "description": "Address"
                },
                "AcceptsBACSPayments": {
                  "type": "boolean",
                  "description": "Indicates if the bank branch can accept payments made through the BACS system.",
                  "title": "Accepts BACS Payments"
                },
                "AcceptsDirectDebitTransactions": {
                  "type": "boolean",
                  "description": "Indicates if the bank branch can accept direct debit payments.",
                  "title": "Accepts Direct Debit Transactions"
                },
                "AcceptsDirectCreditTransactions": {
                  "type": "boolean",
                  "description": "Indicates if the bank branch can accept direct credit payments.",
                  "title": "Accepts Direct Credit Transactions"
                },
                "AcceptsUnpaidChequeClaimTransactions": {
                  "type": "boolean",
                  "description": "Indicates if the bank branch can accept claims for unpaid cheques.",
                  "title": "Accepts Unpaid Cheque Claim Transactions"
                },
                "AcceptsBuildingSocietyCreditTransactions": {
                  "type": "boolean",
                  "description": "Indicates if the bank branch can accept credits from building societies.",
                  "title": "Accepts Building Society Credit Transactions"
                },
                "AcceptsDividendInterestPaymentTransactions": {
                  "type": "boolean",
                  "description": "Indicates if the bank branch can accept dividend interest payments.",
                  "title": "Accepts Dividend Interest Payment Transactions"
                },
                "AcceptsDirectDebitInstructionTransactions": {
                  "type": "boolean",
                  "description": "Indicates if the bank branch can accept direct debit instructions.",
                  "title": "Accepts Direct Debit Instruction Transactions"
                },
                "AcceptsCHAPSPayments": {
                  "type": "boolean",
                  "description": "Indicates if the bank branch can accept payments made through the CHAPS system.",
                  "title": "Accepts CHAPS Payments"
                },
                "AcceptsCheques": {
                  "type": "boolean",
                  "description": "Indicates if the bank branch can accept payments made by cheque.",
                  "title": "Accepts Cheques"
                },
                "AcceptsFasterPayments": {
                  "type": "boolean",
                  "description": "Indicates if the bank branch can accept faster payments.",
                  "title": "Accepts Faster Payments"
                }
              }
            }
          }
        }
      }
    },
    "/EmailValidation/IsValid.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "summary": "Validate Email Address",
        "description": "Check, verify and validate to see if an email address is valid, real and would receive email if it was sent one. This acts as a real time email verification service.",
        "operationId": "IsValidEmail",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address you wish to validate",
                  "title": "Email Address"
                },
                "level": {
                  "type": "string",
                  "description": "The level to which you wish to validate. If unsure, default to Server",
                  "title": "Validation Level",
                  "enum": [
                    "Syntax",
                    "MX",
                    "Server",
                    "Address"
                  ],
                  "default": "Server"
                }
              },
              "required": [
                "email",
                "level"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean",
                      "description": "Flag to determine if the request to Data8 succeeded, regardless of result",
                      "title": "Success"
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Returned Error Message, if any",
                      "title": "Error Message"
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Data8 Credits Remaining for the called service",
                      "title": "Credits Remaining"
                    }
                  }
                },
                "Result": {
                  "type": "string",
                  "description": "Contains a status code indicating if the email address could be validated. For more information on the possible status code, please read https://www.data-8.co.uk/resources/support/service-documentation/email-validation/reference/isvalid",
                  "title": "Result"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
          {
            "operationId": "IsValidEmail",
            "x-ms-require-user-confirmation": true,
            "parameters": [
              {
                "name": "body",
                "type": "upsert",
                "properties": [
                  {
                    "name": "required",
                    "value": true,
                    "type": "upsert"
                  },
                  {
                    "name": "x-ms-explicit-input",
                    "value": false,
                    "type": "upsert"
                  }
                ]
              }
            ]
          }
          ]
        }
      }
    },
    "/InternationalTelephoneValidation/IsValid.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "summary": "Validate Telephone Number (Deprecated)",
        "description": "Checks to see if an inputted email address is valid to receive email - this is deprecated in favour of PhoneValidation",
        "operationId": "IsValidTelephone",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "telephoneNumber": {
                  "type": "string",
                  "description": "The number you want to validate",
                  "title": "Telephone Number"
                },
                "defaultCountry": {
                  "type": "string",
                  "description": "Formatted as numbers i.e. 44 for UK",
                  "title": "Default Country Code"
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "UseLineValidation": {
                      "type": "boolean",
                      "description": "If set to true then the service will use Data8 LandlineValidation on any number it recognises as a UK landline number and InternationalTelephoneValidation on all other numbers. Any validation call will be debited either an InternationalTelephoneValidation credit or a LandlineValidation credit accordingly so please ensure you have LandlineValidation credits available before using this option. The option defaults to false.",
                      "title": "Use Line Validation"
                    },
                    "UseMobileValidation": {
                      "type": "boolean",
                      "description": "If set to true then the service will use Data8 MobileValidation on any number it recognises as a mobile number and InternationalTelephoneValidation on all other numbers. Any validation call will be debited either an InternationalTelephoneValidation credit or a MobileValidation credit accordingly so please ensure you have MobileValidation credits available before using this option. The option defaults to false.",
                      "title": "Use Mobile Validation"
                    }
                  },
                  "description": "options"
                }
              },
              "required": [
                "telephoneNumber",
                "defaultCountry"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean",
                      "description": "Flag to determine if the request to Data8 succeeded, regardless of result",
                      "title": "Success"
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Returned Error Message, if any",
                      "title": "Error Message"
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Data8 Credits Remaining for the called service",
                      "title": "Credits Remaining"
                    }
                  },
                  "description": "Status"
                },
                "Result": {
                  "type": "object",
                  "properties": {
                    "TelephoneNumber": {
                      "type": "string",
                      "description": "The inputted telephone number formatted",
                      "title": "Telephone Number"
                    },
                    "ValidationResult": {
                      "type": "string",
                      "description": "The simple result for the validation of the telephone number",
                      "title": "Validation Result"
                    },
                    "ValidationLevel": {
                      "type": "string",
                      "description": "The level of validation found for the phone number.",
                      "title": "Validation Level"
                    },
                    "NumberType": {
                      "type": "string",
                      "description": "Specifies the type of the number provided i.e. Landline or Mobile",
                      "title": "Number Type"
                    },
                    "Location": {
                      "type": "string",
                      "description": "Current location of the telephone number if available",
                      "title": "Location"
                    },
                    "Provider": {
                      "type": "string",
                      "description": "The network provider of the telephone number",
                      "title": "Provider"
                    },
                    "CountryCode": {
                      "type": "string",
                      "description": "Country ISO2 code of the telephone number",
                      "title": "Country Code"
                    },
                    "CountryName": {
                      "type": "string",
                      "description": "Country name of the telephone number",
                      "title": "Country Name"
                    }
                  },
                  "description": "Result"
                }
              }
            }
          }
        }
      }
    },
    "/Postcoder/CleanAddress.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "summary": "Clean Address",
        "description": "Formats, verifies and corrects a given address into a full formatted address.",
        "operationId": "CleanAddress",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "object",
                  "properties": {
                    "Lines": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "title": "Address Lines"
                      },
                      "description": "Lines"
                    }
                  },
                  "description": "address",
                  "required": [
                    "Lines"
                  ]
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "DefaultCountryCode": {
                      "type": "string",
                      "description": "An ISO 2 character code for the country to assume the address is in unless otherwise specified. This defaults to GB.",
                      "title": "Default Country Code"
                    },
                    "DetectCountry": {
                      "type": "boolean",
                      "description": "Set to true to attempt to automatically detect the country from the provided address information, possibly overriding the default country",
                      "title": "Auto Detect Country"
                    },
                    "Country": {
                      "type": "string",
                      "description": "If DetectCountry is set to true, this is taken as additional user input alongside the address to influence the country detection function. The format of this is not enforced, so could be provided as \"US\", \"USA\" or \"United States\"",
                      "title": "Country"
                    },
                    "IncludeCountry": {
                      "type": "boolean",
                      "description": "Includes the CountryName field in the main part of the result",
                      "title": "Include Country"
                    }
                  },
                  "description": "options"
                }
              },
              "required": [
                "address"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean",
                      "description": "Flag to determine if the request to Data8 succeeded, regardless of result",
                      "title": "Success"
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Returned Error Message, if any",
                      "title": "Error Message"
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Data8 Credits Remaining for the called service",
                      "title": "Credits Remaining"
                    }
                  },
                  "description": "Status"
                },
                "Result": {
                  "type": "object",
                  "properties": {
                    "Address": {
                      "type": "object",
                      "properties": {
                        "Lines": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "title": "Address Lines"
                          },
                          "description": "Lines"
                        }
                      },
                      "description": "Address",
                      "title": "Address Lines"
                    }
                  },
                  "description": "Result"
                },
                "MatchLevel": {
                  "type": "string",
                  "description": "Contains a MatchLevel to indicate how well the address matched to PAF. Possible values are OK_Unchanged, OK_Corrected, NOK_Building, NOK_Street, NOK_Town, NOK_NoMatch",
                  "title": "Match Level"
                },
                "CountryName": {
                  "type": "string",
                  "description": "Contains the name of the country the address is in.",
                  "title": "Country Name"
                }
              }
            }
          }
        }
      }
    },
    "/AddressCapture/GetFullAddress.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean",
                      "description": "Success"
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Error Message (if applicable)"
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Credits Remaining"
                    }
                  },
                  "description": "Status"
                },
                "ResultCount": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Contains the number of addresses in the Results field. This field is only populated if the ReturnResultCount option is set to true"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Address": {
                        "type": "object",
                        "properties": {
                          "Lines": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Formatted Address Lines"
                          }
                        },
                        "description": "Formatted Address"
                      },
                      "RawAddress": {
                        "type": "object",
                        "properties": {
                          "Organisation": {
                            "type": "string",
                            "description": "Organisation"
                          },
                          "Department": {
                            "type": "string",
                            "description": "Department"
                          },
                          "AddressKey": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Address Key"
                          },
                          "OrganisationKey": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Organisation Key"
                          },
                          "PostcodeType": {
                            "type": "string",
                            "description": "Postcode Type"
                          },
                          "BuildingNumber": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Building Number"
                          },
                          "SubBuildingName": {
                            "type": "string",
                            "description": "Sub Building Name"
                          },
                          "BuildingName": {
                            "type": "string",
                            "description": "Building Name"
                          },
                          "DependentThoroughfareName": {
                            "type": "string",
                            "description": "Dependent Thoroughfare Name"
                          },
                          "DependentThoroughfareDesc": {
                            "type": "string",
                            "description": "Dependent Thoroughfare Desc"
                          },
                          "ThoroughfareName": {
                            "type": "string",
                            "description": "Thoroughfare Name"
                          },
                          "ThoroughfareDesc": {
                            "type": "string",
                            "description": "Thoroughfare Desc"
                          },
                          "DoubleDependentLocality": {
                            "type": "string",
                            "description": "Double Dependent Locality"
                          },
                          "DependentLocality": {
                            "type": "string",
                            "description": "Dependent Locality"
                          },
                          "Locality": {
                            "type": "string",
                            "description": "Locality"
                          },
                          "Postcode": {
                            "type": "string",
                            "description": "Postcode"
                          },
                          "Dps": {
                            "type": "string",
                            "description": "DPS"
                          },
                          "PoBox": {
                            "type": "string",
                            "description": "PO Box"
                          },
                          "PostalCounty": {
                            "type": "string",
                            "description": "Postal County"
                          },
                          "TraditionalCounty": {
                            "type": "string",
                            "description": "Traditional County"
                          },
                          "AdministrativeCounty": {
                            "type": "string",
                            "description": "Administrative County"
                          },
                          "CountryISO2": {
                            "type": "string",
                            "description": "Country ISO2"
                          },
                          "UniqueReference": {
                            "type": "string",
                            "description": "Unique Reference"
                          },
                          "Location": {
                            "type": "object",
                            "properties": {
                              "Easting": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Easting"
                              },
                              "Northing": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Northing"
                              },
                              "GridReference": {
                                "type": "string",
                                "description": "GridReference"
                              },
                              "Longitude": {
                                "type": "number",
                                "format": "float",
                                "description": "Longitude"
                              },
                              "Latitude": {
                                "type": "number",
                                "format": "float",
                                "description": "Latitude"
                              },
                              "CountyCode": {
                                "type": "string",
                                "description": "CountyCode"
                              },
                              "County": {
                                "type": "string",
                                "description": "County"
                              },
                              "DistrictCode": {
                                "type": "string",
                                "description": "DistrictCode"
                              },
                              "District": {
                                "type": "string",
                                "description": "District"
                              },
                              "WardCode": {
                                "type": "string",
                                "description": "WardCode"
                              },
                              "Ward": {
                                "type": "string",
                                "description": "Ward"
                              },
                              "Country": {
                                "type": "string",
                                "description": "Country"
                              }
                            },
                            "description": "Location"
                          }
                        },
                        "description": "Raw Address"
                      }
                    }
                  },
                  "description": "Results"
                }
              }
            }
          }
        },
        "summary": "Get Full Address",
        "operationId": "GetFullAddress",
        "description": "Searches for an addresses based on input data such as building number and postcode",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "licence": {
                  "type": "string",
                  "description": "As the Royal Mail PAF database can be licensed in multiple ways, this parameter indicates under which license you are accessing the data. This must match the variant you have a license or credits for - if you are unsure which option to choose, please contact your account manager",
                  "title": "License",
                  "enum": [
                    "InternalUserFull",
                    "InternalUserFullArea",
                    "SmallUserFull",
                    "WebClickFull",
                    "WebServerFull",
                    "Lookup",
                    "InternalServerFull",
                    "FreeTrial"
                  ]
                },
                "postcode": {
                  "type": "string",
                  "description": "The full postcode to get addresses for. Formatting of the postcode does not matter so \"ch24ne\", \"CH2 4NE\", \"ch02 4Ne\" are all accepted.",
                  "title": "Postcode"
                },
                "building": {
                  "type": "string",
                  "description": "An optional value to filter the returned addresses by building name, number, sub-premise (e.g. flat number) or company name. If null or \"\" are supplied, all addresses on the postcode are included in the result.",
                  "title": "Building",
                  "x-ms-visibility": "advanced"
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "FixTownCounty": {
                      "type": "boolean",
                      "description": "true to ensure the town and county are returned in the last two address lines, or false if they should appear in the first available line.",
                      "title": "FixTownCounty",
                      "x-ms-visibility": "advanced"
                    },
                    "MaxLines": {
                      "type": "integer",
                      "description": "The number of lines to format the address over. An additional line will be included in the result for the postcode.",
                      "title": "MaxLines",
                      "format": "int32",
                      "default": 6
                    },
                    "MaxLineLength": {
                      "type": "integer",
                      "description": "The maximum number of characters that can appear in each address line.",
                      "title": "MaxLineLength",
                      "format": "int32",
                      "x-ms-visibility": "advanced"
                    },
                    "NormalizeCase": {
                      "type": "boolean",
                      "description": "Converts all text in the address except the town name to proper case.",
                      "title": "NormalizeCase",
                      "x-ms-visibility": "advanced"
                    },
                    "NormalizeTownCase": {
                      "type": "boolean",
                      "description": "Converts the town name to proper case",
                      "title": "NormalizeTownCase",
                      "x-ms-visibility": "advanced"
                    },
                    "ExcludeCounty": {
                      "type": "boolean",
                      "description": "Excludes the county, if any, from the formatted address",
                      "title": "ExcludeCounty",
                      "x-ms-visibility": "advanced"
                    },
                    "UseAnyAvailableCounty": {
                      "type": "boolean",
                      "description": "Uses any available county to populate the formatted address, not just the postal county",
                      "title": "UseAnyAvailableCounty",
                      "x-ms-visibility": "advanced"
                    },
                    "UnwantedPunctuation": {
                      "type": "boolean",
                      "description": "A string containing any punctuation characters to be removed from the formatted address",
                      "title": "UnwantedPunctuation",
                      "x-ms-visibility": "advanced"
                    },
                    "FixBuilding": {
                      "type": "boolean",
                      "description": "Ensures the building name/number is always placed in the first line",
                      "title": "FixBuilding",
                      "x-ms-visibility": "advanced"
                    },
                    "IncludeUDPRN": {
                      "type": "boolean",
                      "description": "Set to true to have the UniqueReference field of each returned address populated with the UDPRN",
                      "title": "IncludeUDPRN",
                      "x-ms-visibility": "advanced"
                    },
                    "IncludeLocation": {
                      "type": "boolean",
                      "description": "Set to true to have the Location field of each returned address populated with the geocoding details for the address",
                      "title": "IncludeLocation",
                      "default": true
                    },
                    "ReturnResultCount": {
                      "type": "boolean",
                      "description": "Indicates if the ResultCount field in the result should be populated with the total number of addresses returned.",
                      "title": "ReturnResultCount",
                      "x-ms-visibility": "advanced"
                    },
                    "IncludeNYB": {
                      "type": "boolean",
                      "description": "Set to true to include addresses from the Not Yet Built database in the results (requires additional licensing)",
                      "title": "IncludeNYB",
                      "x-ms-visibility": "advanced"
                    },
                    "IncludeMR": {
                      "type": "boolean",
                      "description": "Set to true to include addresses from the Multiple Residency database in the results (requires additional licensing)",
                      "title": "IncludeMR",
                      "x-ms-visibility": "advanced"
                    },
                    "Formatter": {
                      "type": "string",
                      "description": "Pick from one of the available formatters to control how the raw address is converted into a human-readable address",
                      "title": "Formatter",
                      "enum": [
                        "DefaultFormatter",
                        "PAFStandardFormatter",
                        "NoOrganisationFormatter"
                      ],
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "options"
                }
              },
              "required": [
                "licence",
                "postcode"
              ]
            }
          }
        ]
      }
    },
    "/Deceased/IsDeceased.json": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean",
                      "description": "Success"
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Error Message (if applicable)"
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Credits Remaining"
                    }
                  },
                  "description": "Status"
                },
                "Result": {
                  "type": "boolean",
                  "description": "Indicates if the person is found to be deceased",
                  "title": "Is Deceased",
                  "enum": [
                    true,
                    false
                  ]
                }
              }
            }
          }
        },
        "summary": "Is Deceased",
        "consumes": [
          "application/json"
        ],
        "description": "UK - Identify deceased individuals quickly and easily, using credible sources updated on a regular basis.",
        "operationId": "IsDeceased",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "record": {
                  "type": "object",
                  "properties": {
                    "Name": {
                      "type": "object",
                      "properties": {
                        "Title": {
                          "type": "string",
                          "description": "The title of the name to search",
                          "title": "Title"
                        },
                        "Forename": {
                          "type": "string",
                          "description": "The firstname of the name to search",
                          "title": "Forename"
                        },
                        "MiddleName": {
                          "type": "string",
                          "description": "The middle name of the name to search",
                          "title": "Middle Name"
                        },
                        "Surname": {
                          "type": "string",
                          "description": "The surname of the name to search",
                          "title": "Surname"
                        }
                      },
                      "description": "Name",
                      "required": [
                        "Surname"
                      ]
                    },
                    "Address": {
                      "type": "object",
                      "properties": {
                        "Lines": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "description": "A string away of the address elements",
                            "title": "Address Lines"
                          },
                          "description": "Lines"
                        }
                      },
                      "description": "Address",
                      "required": [
                        "Lines"
                      ]
                    }
                  },
                  "description": "record",
                  "required": [
                    "Address",
                    "Name"
                  ]
                },
                "marketing": {
                  "type": "boolean",
                  "description": "A boolean to determine if the search is being done for marketing reasons or not.",
                  "title": "Marketing",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "MatchLevel": {
                      "type": "string",
                      "description": "The minimum match level between the name supplied in the input record and the name in our reference data files. S is Surname, I is Initial and F is Forename",
                      "title": "Match Level",
                      "enum": [
                        "S",
                        "I",
                        "F"
                      ],
                      "default": "I"
                    }
                  },
                  "description": "options"
                }
              },
              "required": [
                "marketing",
                "record"
              ]
            }
          }
        ]
      }
    },
    "/PredictiveAddress/Search.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean",
                      "description": "Flag to determine if the request to Data8 succeeded, regardless of result",
                      "title": "Success"
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Returned Error Message, if any",
                      "title": "Error Message"
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Data8 Credits Remaining for the called service",
                      "title": "Credits Remaining"
                    }
                  },
                  "description": "Status"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "label": {
                        "type": "string",
                        "description": "The value to show to the user.",
                        "title": "Label"
                      },
                      "value": {
                        "type": "string",
                        "description": "value"
                      },
                      "container": {
                        "type": "boolean",
                        "description": "Indicates if this match is a container for other addresses (e.g. a town, street etc.). If this is true, the value should be supplied to the DrillDown endpoint to get the details of the addresses in the container record. If it is false, the value should be supplied to the Retrieve endpoint to get the full details of the address.",
                        "title": "Container"
                      },
                      "items": {
                        "type": "integer",
                        "format": "int32",
                        "description": "A list of possible matches.",
                        "title": "Items"
                      }
                    }
                  },
                  "description": "Results"
                },
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "SessionID": {
                  "type": "string",
                  "description": "A SessionID is also included in the response. This should be included in any subsequent calls to the Search endpoint.",
                  "title": "SessionID"
                }
              }
            }
          }
        },
        "summary": "PredictiveAddress (Search)",
        "description": "Searching with the Data8 PredictiveAddress API - Search for a partial address in our many data sources",
        "operationId": "SearchPredictiveAddress",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string",
                  "description": "The ISO-2 country code in which the address belongs.",
                  "title": "Country"
                },
                "search": {
                  "type": "string",
                  "description": "The partial address entered by the user.",
                  "title": "Search"
                },
                "telephoneNumber": {
                  "type": "string",
                  "description": "An optional parameter, the telephone number associated with the address can be supplied.",
                  "title": "TelephoneNumber"
                },
                "session": {
                  "type": "string",
                  "description": "The session id that was received in the previous response. This improves efficiency and lookup speeds. This should be included in any subsequent calls to the Search endpoint.",
                  "title": "Session"
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "IncludeMR": {
                      "type": "boolean",
                      "description": "Includes addresses from the Multiple Residency database in the results (requires additional licensing).",
                      "title": "IncludeMR"
                    },
                    "IncludeNYB": {
                      "type": "boolean",
                      "description": "Includes addresses from the Not Yet Built database in the results (requires additional licensing).",
                      "title": "IncludeNYB"
                    },
                    "PreferredLanguage": {
                      "type": "string",
                      "description": "Set this to cy to retrieve addresses in Welsh where available, or en to prefer English. Addresses are returned in English when this option is not specified.",
                      "title": "PreferredLanguage",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "options"
                }
              },
              "required": [
                "country",
                "search"
              ]
            }
          }
        ]
      }
    },
    "/PredictiveAddress/DrillDown.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean",
                      "description": "Flag to determine if the request to Data8 succeeded, regardless of result",
                      "title": "Success"
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Returned Error Message, if any",
                      "title": "Error Message"
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Data8 Credits Remaining for the called service",
                      "title": "Credits Remaining"
                    }
                  },
                  "description": "Status"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "label": {
                        "type": "string",
                        "description": "The value to show to the user.",
                        "title": "Label"
                      },
                      "value": {
                        "type": "string",
                        "description": "A unique identifier for the match that can be supplied to the DrillDown or Retrieve endpoints.",
                        "title": "Value"
                      },
                      "container": {
                        "type": "boolean",
                        "description": "Indicates if this match is a container for other addresses (e.g. a town, street etc.). If this is true, the value should be supplied to the DrillDown endpoint to get the details of the addresses in the container record. If it is false, the value should be supplied to the Retrieve endpoint to get the full details of the address.",
                        "title": "Container"
                      },
                      "items": {
                        "type": "integer",
                        "format": "int32",
                        "description": "A list of possible matches.",
                        "title": "Items"
                      }
                    }
                  },
                  "description": "Results"
                },
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of matches found based on the information provided.",
                  "title": "Count"
                },
                "SessionID": {
                  "type": "string",
                  "description": "A SessionID is also included in the response. This should be included in any subsequent calls to the Search endpoint.",
                  "title": "SessionID"
                }
              }
            }
          }
        },
        "summary": "PredictiveAddress (Drilldown)",
        "description": "DrillDown with the Data8 PredictiveAddress API - Drill down further into search results",
        "operationId": "DrilldownPredictiveAddress",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string",
                  "description": "The ISO 2-character country code of the search i.e. \"GB\"",
                  "title": "Country"
                },
                "id": {
                  "type": "string",
                  "description": "The value property from the response of previous requests from either the Search or DrillDown methods should be supplied here.",
                  "title": "Id"
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "IncludeMR": {
                      "type": "boolean",
                      "description": "Includes addresses from the Multiple Residency database in the results (requires additional licensing).",
                      "title": "IncludeMR"
                    },
                    "IncludeNYB": {
                      "type": "boolean",
                      "description": "Includes addresses from the Not Yet Built database in the results (requires additional licensing).",
                      "title": "IncludeNYB"
                    },
                    "PreferredLanguage": {
                      "type": "string",
                      "description": "Set this to cy to retrieve addresses in Welsh where available, or en to prefer English. Addresses are returned in English when this option is not specified.",
                      "title": "Preferred Language",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "options"
                }
              },
              "required": [
                "country",
                "id"
              ]
            }
          }
        ]
      }
    },
    "/PredictiveAddress/Retrieve.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean",
                      "description": "Flag to determine if the request to Data8 succeeded, regardless of result",
                      "title": "Success"
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Returned Error Message, if any",
                      "title": "Error Message"
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Data8 Credits Remaining for the called service",
                      "title": "Credits Remaining"
                    }
                  },
                  "description": "Status"
                },
                "Result": {
                  "type": "object",
                  "properties": {
                    "Address": {
                      "type": "object",
                      "properties": {
                        "Lines": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "description": "All lines of the resulting address",
                            "title": "Address Lines"
                          },
                          "description": "Lines"
                        }
                      },
                      "description": "Address"
                    },
                    "RawAddress": {
                      "type": "object",
                      "properties": {
                        "Organisation": {
                          "type": "string",
                          "description": "The name of the company at the address",
                          "title": "Organisation"
                        },
                        "Department": {
                          "type": "string",
                          "description": "The department within the organisation at the address",
                          "title": "Department"
                        },
                        "AddressKey": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Combines with OrganisationKey and PostcodeType to provide a unique key for this address",
                          "title": "Address Key"
                        },
                        "OrganisationKey": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Combines with AddressKey and PostcodeType to provide a unique key for this address. Will be 0 for residential addresses",
                          "title": "OrganisationKey"
                        },
                        "PostcodeType": {
                          "type": "string",
                          "description": "Indicates if the address is on a \"small user\" (\"S\") or \"large user\" (\"L\"). A large user postcode is one that is allocated to an individual organisation as a heavy mail user, e.g. DVLA",
                          "title": "PostcodeType"
                        },
                        "BuildingNumber": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The house number for the address. Note that this is an integer number only. Building numbers such as 12A will be shown in the BuildingName field",
                          "title": "BuildingNumber"
                        },
                        "SubBuildingName": {
                          "type": "string",
                          "description": "The name of the sub-building for the address. This is typically a flat or apartment number",
                          "title": "SubBuildingName"
                        },
                        "BuildingName": {
                          "type": "string",
                          "description": "The name of the building. May include number information where the number is not a simple integer",
                          "title": "BuildingName"
                        },
                        "DependentThoroughfareName": {
                          "type": "string",
                          "description": "The name of the dependent thoroughfare, i.e. a smaller street off a larger street",
                          "title": "DependentThoroughfareName"
                        },
                        "DependentThoroughfareDesc": {
                          "type": "string",
                          "description": "The descriptor (\"street\", \"road\" etc.) of the dependent thoroughfare",
                          "title": "DependentThoroughfareDesc"
                        },
                        "ThoroughfareName": {
                          "type": "string",
                          "description": "The name of the main street",
                          "title": "ThoroughfareName"
                        },
                        "ThoroughfareDesc": {
                          "type": "string",
                          "description": "The descriptor of the main street",
                          "title": "ThoroughfareDesc"
                        },
                        "DoubleDependentLocality": {
                          "type": "string",
                          "description": "The name of the double-dependent locality - the third-level locality",
                          "title": "DoubleDependentLocality"
                        },
                        "DependentLocality": {
                          "type": "string",
                          "description": "The name of the dependent locality - the second level locality",
                          "title": "DependentLocality"
                        },
                        "Locality": {
                          "type": "string",
                          "description": "The name of the top-level postal town",
                          "title": "Locality"
                        },
                        "Postcode": {
                          "type": "string",
                          "description": "The postcode in a fixed 7-character format",
                          "title": "Postcode"
                        },
                        "Dps": {
                          "type": "string",
                          "description": "The 2-character delivery point suffix that uniquely identifies the address within the postcode",
                          "title": "DPS"
                        },
                        "PoBox": {
                          "type": "string",
                          "description": "The details of the PO Box if the address is a PO Box address",
                          "title": "PoBox"
                        },
                        "PostalCounty": {
                          "type": "string",
                          "description": "The county name that should appear in the address",
                          "title": "PostalCounty"
                        },
                        "TraditionalCounty": {
                          "type": "string",
                          "description": "The county name that was traditionally associated with the address but is not now postally required",
                          "title": "TraditionalCounty"
                        },
                        "AdministrativeCounty": {
                          "type": "string",
                          "description": "The county that the address is in for administrative purposes but is not postally required",
                          "title": "AdministrativeCounty"
                        },
                        "CountryISO2": {
                          "type": "string",
                          "description": "The 2-character ISO country code related to the address. This is not populated by the AddressCapture service",
                          "title": "CountryISO2"
                        },
                        "UniqueReference": {
                          "type": "string",
                          "description": "An alternative unique reference number for the address. This is set to the UDPRN number of the address by supplying the IncludeUDPRN option to the method",
                          "title": "UniqueReference"
                        },
                        "Location": {
                          "type": "object",
                          "properties": {
                            "Easting": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The distance of the postcode east of the OS grid origin to the southwest of Scilly",
                              "title": "Easting"
                            },
                            "Northing": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The distance of the postcode north of the OS grid origin",
                              "title": "Northing"
                            },
                            "GridReference": {
                              "type": "string",
                              "description": "The location of the postcode as a 6-digit OS grid reference",
                              "title": "GridReference"
                            },
                            "Longitude": {
                              "type": "number",
                              "format": "float",
                              "description": "The longitude of the postcode expressed in decimal degrees in the WGS84 datum",
                              "title": "Longitude"
                            },
                            "Latitude": {
                              "type": "number",
                              "format": "float",
                              "description": "The latitude of the postcode expressed in decimal degrees in the WGS84 datum",
                              "title": "Latitude"
                            },
                            "CountyCode": {
                              "type": "string",
                              "description": "The county code that should appear in the address",
                              "title": "CountyCode"
                            },
                            "County": {
                              "type": "string",
                              "description": "The county name that should appear in the address",
                              "title": "County"
                            },
                            "DistrictCode": {
                              "type": "string",
                              "description": "The district code that should appear in the address",
                              "title": "DistrictCode"
                            },
                            "District": {
                              "type": "string",
                              "description": "The district that should appear in the address",
                              "title": "District"
                            },
                            "WardCode": {
                              "type": "string",
                              "description": "The reference code for the ward the postcode is in",
                              "title": "WardCode"
                            },
                            "Ward": {
                              "type": "string",
                              "description": "The name of the electoral ward the postcode is in",
                              "title": "Ward"
                            },
                            "Country": {
                              "type": "string",
                              "description": "The 2-character ISO country code related to the address.",
                              "title": "Country"
                            }
                          },
                          "description": "Location"
                        },
                        "AdditionalData": {
                          "type": "string",
                          "description": "Any additional data returned",
                          "title": "Additional Data"
                        }
                      },
                      "description": "RawAddress"
                    }
                  },
                  "description": "Result"
                }
              }
            }
          }
        },
        "summary": "PredictiveAddress (Retrieve)",
        "description": "Retrieve with the Data8 PredictiveAddress API - Retrieve the full address",
        "operationId": "RetrievePredictiveAddress",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string",
                  "description": "The ISO-2 country code in which the address belongs.",
                  "title": "Country"
                },
                "id": {
                  "type": "string",
                  "description": "The value property from the response of previous requests from either the Search or DrillDown methods, when the container property was false, should be supplied here.",
                  "title": "Id"
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "MaxLineLength": {
                      "type": "integer",
                      "format": "int32",
                      "description": "MaxLineLength",
                      "title": "MaxLineLength",
                      "default": 100
                    },
                    "MaxLines": {
                      "type": "integer",
                      "format": "int32",
                      "description": "MaxLines",
                      "title": "MaxLines",
                      "default": 5
                    },
                    "FixTownCounty": {
                      "type": "boolean",
                      "description": "FixTownCounty",
                      "title": "FixTownCounty",
                      "default": false
                    },
                    "FixPostcode": {
                      "type": "boolean",
                      "description": "FixPostcode",
                      "title": "FixPostcode",
                      "default": false
                    },
                    "FixBuilding": {
                      "type": "boolean",
                      "description": "FixBuilding",
                      "title": "Fix Building",
                      "default": false
                    },
                    "UnwantedPunctuation": {
                      "type": "string",
                      "description": "UnwantedPunctuation",
                      "title": "UnwantedPunctuation"
                    },
                    "Formatter": {
                      "type": "string",
                      "description": "Formatter",
                      "title": "Formatter",
                      "default": "DefaultFormatter",
                      "enum": [
                        "DefaultFormatter",
                        "PAFStandardFormatter",
                        "NoOrganisationFormatter"
                      ]
                    },
                    "IncludeUDPRN": {
                      "type": "boolean",
                      "description": "IncludeUDPRN",
                      "title": "IncludeUDPRN",
                      "default": false
                    },
                    "IncludeUPRN": {
                      "type": "boolean",
                      "description": "IncludeUPRN",
                      "title": "IncludeUPRN",
                      "default": false
                    },
                    "PreferredLanguage": {
                      "type": "boolean",
                      "description": "PreferredLanguage",
                      "title": "PreferredLanguage",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "options"
                }
              },
              "required": [
                "country",
                "id"
              ]
            }
          }
        ]
      }
    },
    "/EmailValidation/CleanseSimple.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean",
                      "description": "Flag to determine if the request to Data8 succeeded, regardless of result",
                      "title": "Success"
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Returned Error Message, if any",
                      "title": "Error Message"
                    },
                    "CreditsRemaining": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Data8 Credits Remaining for the called service",
                      "title": "CreditsRemaining"
                    }
                  },
                  "description": "Status"
                },
                "Result": {
                  "type": "string",
                  "description": "Contains a status code indicating if the email address could be validated.",
                  "title": "Result"
                },
                "OriginalValid": {
                  "type": "boolean",
                  "description": "OriginalValid"
                },
                "EmailType": {
                  "type": "string",
                  "description": "The type of email of the provided and how it's classified",
                  "title": "Email Type"
                },
                "SuggestedEmailAddress": {
                  "type": "string",
                  "description": "A suggested email address to improve this email, if one is provided this should be surfaced so the user has an option to choose to use it.",
                  "title": "Suggested Email Address"
                },
                "Comment": {
                  "type": "string",
                  "description": "A helper comment as to why a recommendation has been made to provide additional context",
                  "title": "Comment"
                },
                "Salutation": {
                  "type": "string",
                  "description": "The salutation that can be used wit this email - i.e. who to address the email to.",
                  "title": "Salutation"
                },
                "StructureUsed": {
                  "type": "string",
                  "description": "StructureUsed"
                },
                "ParsedName": {
                  "type": "string",
                  "description": "ParsedName"
                }
              }
            }
          }
        },
        "summary": "Cleanse Email",
        "description": "Cleanse an email address, validate it to see if it's a real, genuine email but also take additional details such as a name or company name to enrich further",
        "operationId": "CleanseEmail",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Email": {
                  "type": "string",
                  "description": "The email address you wish to validate",
                  "title": "Email Address"
                },
                "Level": {
                  "type": "string",
                  "description": "The level to which you wish to validate. This should always be in the body of the request, never in the url and never in the query parameters. If unsure, default to Server\"",
                  "title": "Level",
                  "enum": [
                    "Syntax",
                    "MX",
                    "Server",
                    "Address"
                  ],
                  "default": "Server"
                },
                "Title": {
                  "type": "string",
                  "description": "The title or salutation of the name entered, used to help determine if the email address is valid and correct",
                  "title": "Title"
                },
                "Forename": {
                  "type": "string",
                  "description": "The first name of the name entered, used to help determine if the email address is valid and correct",
                  "title": "Forename"
                },
                "MiddleName": {
                  "type": "string",
                  "description": "The middle name of the name entered, used to help determine if the email address is valid and correct",
                  "title": "Middle Name"
                },
                "Surname": {
                  "type": "string",
                  "description": "The last name of the name entered, used to help determine if the email address is valid and correct",
                  "title": "Surname"
                },
                "Company": {
                  "type": "string",
                  "description": "The name of the company to help with identifying if the email is correct",
                  "title": "Company"
                }
              },
              "required": [
                "Level",
                "Email"
              ]
            }
          }
        ]
      }
    },
    "/PhoneValidation/IsValid.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "summary": "Validate Telephone Number",
        "description": "Checks to see if a telephone number is valid to receive a phone call. It will check the current status of the phone line in real time and return a response.",
        "operationId": "IsValidPhone",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "telephoneNumber": {
                  "type": "string",
                  "description": "The number you want to validate",
                  "title": "Telephone Number"
                },
                "defaultCountry": {
                  "type": "integer",
                  "description": "The ISO 3166-1-Alpha-2 ISO2 country code to check. If this value isn't provided, use the current users ISO 3166-1-Alpha-2 code",
                  "title": "Default Country Code",
                  "format": "int32",
                  "default": 1
                }
              },
              "required": [
                "telephoneNumber",
                "defaultCountry"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Status": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean",
                      "description": "Flag to determine if the request to Data8 succeeded, regardless of result",
                      "title": "Success"
                    },
                    "ErrorMessage": {
                      "type": "string",
                      "description": "Returned Error Message, if any",
                      "title": "Error Message"
                    },
                    "CreditsRemaining": {
                      "type": "number",
                      "format": "float",
                      "description": "Data8 Credits Remaining for the called service",
                      "title": "Credits Remaining"
                    }
                  },
                  "description": "Status"
                },
                "Result": {
                  "type": "object",
                  "properties": {
                    "TelephoneNumber": {
                      "type": "string",
                      "description": "The inputted telephone number formatted",
                      "title": "Telephone Number"
                    },
                    "ValidationResult": {
                      "type": "string",
                      "description": "The simple result for the validation of the telephone number",
                      "title": "Validation Result"
                    },
                    "ValidationLevel": {
                      "type": "string",
                      "description": "The level of validation found for the phone number.",
                      "title": "Validation Level"
                    },
                    "NumberType": {
                      "type": "string",
                      "description": "Specifies the type of the number provided i.e. Landline or Mobile",
                      "title": "Number Type"
                    },
                    "Location": {
                      "type": "string",
                      "description": "Current location of the telephone number if available",
                      "title": "Location"
                    },
                    "Provider": {
                      "type": "string",
                      "description": "The network provider of the telephone number",
                      "title": "Provider"
                    },
                    "CountryCode": {
                      "type": "string",
                      "description": "Country ISO2 code of the telephone number",
                      "title": "Country Code"
                    },
                    "CountryName": {
                      "type": "string",
                      "description": "Country name of the telephone number",
                      "title": "Country Name"
                    }
                  },
                  "description": "Result"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "IsValidPhone",
              "x-ms-require-user-confirmation": true,
              "parameters": [
                {
                  "name": "body",
                  "type": "upsert",
                  "properties": [
                    {
                      "name": "required",
                      "value": true,
                      "type": "upsert"
                    },
                    {
                      "name": "x-ms-explicit-input",
                      "value": false,
                      "type": "upsert"
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.data-8.co.uk"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.data-8.co.uk/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Website"
    }
  ],
  "x-ms-openai-manifest": {
    "humanName": "Data8 Data Quality plugin for improving data quality",
    "modelDescription": "Plugin to take pieces of data such as but not limited to phone numbers and email addresses and check if they are valid and correct to improve data quality",
    "contactEmail": "helpdesk@data-8.co.uk",
    "legalUrl": "https://www.data-8.co.uk/privacy-policy/"
  }
}