{
  "swagger": "2.0",
  "info": {
    "version": "preview",
    "title": "Azure IoT Central V3",
    "description": "Azure IoT Central makes it easy to connect, monitor, and manage your IoT devices at scale. With the IoT Central V3 connector, you can trigger workflows when a rule has fired, and take actions by executing commands, updating properties, getting telemetry from devices, and more. Use this connector with your Azure IoT Central V3 application.",
    "contact": {
      "name": "Azure IoT Central Technical Support",
      "url": "https://aka.ms/iotcentral-create-technical-support-ticket-trial"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "AAD": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/token",
      "scopes": {}
    }
  },
  "security": [],
  "host": "workflow.azureiotcentral.com",
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://azure.microsoft.com/services/iot-central/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Internet of Things"
    }
  ],
  "paths": {
    "/api/preview/applications": {
      "get": {
        "operationId": "Applications_List",
        "summary": "Get the list of applications accessible to the signed-in user",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApplicationCollection"
            }
          }
        }
      }
    },
    "/api/preview/deviceTemplates": {
      "get": {
        "operationId": "DeviceTemplates_List",
        "summary": "List device templates",
        "description": "Get the list of device templates in an application.",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceTemplateCollection"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          }
        ]
      }
    },
    "/api/v1/deviceTemplates": {
      "get": {
        "operationId": "DeviceTemplates_List_V1",
        "summary": "List device templates",
        "description": "Get the list of device templates in an application.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceTemplateCollectionV1"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          }
        ]
      }
    },
    "/api/v1/deviceTemplates/{template_id}": {
      "get": {
        "operationId": "DeviceTemplates_Get_V1",
        "summary": "Get a device template by ID",
        "description": "Get details about an existing device template by ID.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceTemplateV1"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "path",
            "name": "template_id",
            "x-ms-summary": "Template",
            "description": "Unique ID of the template.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List_V1",
              "value-path": "@id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ]
      },
      "delete": {
        "operationId": "DeviceTemplates_Remove_V1",
        "summary": "Delete a device template",
        "description": "Delete an existing device template by ID.",
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "path",
            "name": "template_id",
            "x-ms-summary": "Template",
            "description": "Unique ID of the template.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List_V1",
              "value-path": "@id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ]
      }
    },
    "/api/preview/devices/{device_id}/cloudProperties": {
      "get": {
        "operationId": "Devices_GetCloudProperties",
        "summary": "Get device cloud properties (deprecated)",
        "description": "Get all cloud property values of a device by device ID (deprecated).",
        "x-ms-visibility": "advanced",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceCloudProperties"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "$ref": "#/parameters/TemplateId"
          }
        ]
      },
      "put": {
        "operationId": "Devices_UpdateCloudProperties",
        "summary": "Update device cloud properties (deprecated)",
        "description": "Update all cloud property values of a device by device ID (deprecated).",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "$ref": "#/parameters/TemplateId"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceCloudProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceCloudProperties"
            }
          }
        }
      }
    },
    "/api/preview/devices/{device_id}/components/{component_name}/commands/{command_name}": {
      "post": {
        "operationId": "Devices_ExecuteComponentCommand",
        "summary": "Execute a device command (deprecated)",
        "description": "Execute a command on a device (deprecated).",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "component_name",
            "x-ms-summary": "Device Component",
            "description": "Name of the device component.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetComponents",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "instanceOf"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "command_name",
            "x-ms-summary": "Device Command",
            "description": "Name of this device command.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "instanceOf"
                },
                "component": {
                  "parameter": "component_name"
                },
                "type": "Command"
              }
            }
          },
          {
            "$ref": "#/parameters/TemplateId"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device command body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceCommand"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceCommand"
            }
          }
        }
      }
    },
    "/api/v1/devices/{device_id}/commands/{command_name}": {
      "get": {
        "operationId": "Devices_GetCommandResponse_V1",
        "summary": "Get device command response",
        "description": "Get the last response for a device command.",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "command_name",
            "x-ms-summary": "Device Command",
            "description": "Name of this device command.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "type": "Command"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceCommandV1"
            }
          }
        }
      },
      "post": {
        "operationId": "Devices_RunCommand_V1",
        "summary": "Run a device command",
        "description": "Run a command on a device.",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "command_name",
            "x-ms-summary": "Device Command",
            "description": "Name of this device command.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "type": "Command"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device command body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceCommandV1"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceCommandV1"
            }
          }
        }
      }
    },
    "/api/v1/devices/{device_id}/components/{component_name}/commands/{command_name}": {
      "get": {
        "operationId": "Devices_GetComponentCommandResponse_V1",
        "summary": "Get component command response",
        "description": "Get the last response for a device component command.",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "component_name",
            "x-ms-summary": "Device Component",
            "description": "Name of the device component.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetComponents_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "command_name",
            "x-ms-summary": "Device Command",
            "description": "Name of this device command.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "component": {
                  "parameter": "component_name"
                },
                "type": "Command"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceComponentCommandV1"
            }
          }
        }
      },
      "post": {
        "operationId": "Devices_RunComponentCommand_V1",
        "summary": "Run a component command",
        "description": "Run a command on a component.",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "component_name",
            "x-ms-summary": "Device Component",
            "description": "Name of the device component.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetComponents_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "command_name",
            "x-ms-summary": "Device Command",
            "description": "Name of this device command.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "component": {
                  "parameter": "component_name"
                },
                "type": "Command"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device command body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceComponentCommandV1"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceComponentCommandV1"
            }
          }
        }
      }
    },
    "/api/v1/devices/{device_id}/modules/{module}/commands/{command_name}": {
      "get": {
        "operationId": "Devices_GetModuleCommandResponse_V1",
        "summary": "Get module command response",
        "description": "Get the last response for a device module command",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "module",
            "x-ms-summary": "Device Module",
            "description": "Name of the device module.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetModules_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "command_name",
            "x-ms-summary": "Device Command",
            "description": "Name of this device command.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "module": {
                  "parameter": "module"
                },
                "type": "Command"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceModuleCommandV1"
            }
          }
        }
      },
      "post": {
        "operationId": "Devices_RunModuleCommand_V1",
        "summary": "Run a module command",
        "description": "Run a command on a module.",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "module",
            "x-ms-summary": "Device Module",
            "description": "Name of the device module.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetModules_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "command_name",
            "x-ms-summary": "Device Command",
            "description": "Name of this device command.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "module": {
                  "parameter": "module"
                },
                "type": "Command"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device command body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceModuleCommandV1"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceModuleCommandV1"
            }
          }
        }
      }
    },
    "/api/v1/devices/{device_id}/modules/{module}/components/{component_name}/commands/{command_name}": {
      "get": {
        "operationId": "Devices_GetModuleComponentCommandResponse_V1",
        "summary": "Get module component command response",
        "description": "Get the last response for a module component command.",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "module",
            "x-ms-summary": "Device Module",
            "description": "Name of the device module.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetModules_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "component_name",
            "x-ms-summary": "Device Component",
            "description": "Name of the device component.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetComponents_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "module": {
                  "parameter": "module"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "command_name",
            "x-ms-summary": "Device Command",
            "description": "Name of this device command.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "component": {
                  "parameter": "component_name"
                },
                "module": {
                  "parameter": "module"
                },
                "type": "Command"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceModuleComponentCommandV1"
            }
          }
        }
      },
      "post": {
        "operationId": "Devices_RunModuleComponentCommand_V1",
        "summary": "Run a module component command",
        "description": "Run a command on a module component.",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "module",
            "x-ms-summary": "Device Module",
            "description": "Name of the device module.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetModules_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "component_name",
            "x-ms-summary": "Device Component",
            "description": "Name of the device component.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetComponents_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "module": {
                  "parameter": "module"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "command_name",
            "x-ms-summary": "Device Command",
            "description": "Name of this device command.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "component": {
                  "parameter": "component_name"
                },
                "module": {
                  "parameter": "module"
                },
                "type": "Command"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device command body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceModuleComponentCommandV1"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceModuleComponentCommandV1"
            }
          }
        }
      }
    },
    "/api/v1/devices": {
      "get": {
        "operationId": "Devices_List_V1",
        "summary": "List devices",
        "description": "Get the list of devices in an application.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceCollectionV1"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          }
        ]
      }
    },
    "/api/preview/devices/{device_id}": {
      "get": {
        "operationId": "Devices_Get",
        "summary": "Get a device by ID (deprecated)",
        "description": "Get details about an existing device by device ID (deprecated).",
        "x-ms-visibility": "advanced",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          }
        ]
      },
      "put": {
        "operationId": "Devices_Set",
        "summary": "Create or update a device (deprecated)",
        "description": "Create a new device or update an existing one by device ID (deprecated).",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Device"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          }
        }
      },
      "delete": {
        "operationId": "Devices_Remove",
        "summary": "Delete a device (deprecated)",
        "description": "Delete an existing device by device ID (deprecated).",
        "x-ms-visibility": "advanced",
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          }
        ]
      }
    },
    "/api/v1/devices/{device_id}": {
      "get": {
        "operationId": "Devices_Get_V1",
        "summary": "Get a device by ID",
        "description": "Get details about an existing device by device ID.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceV1"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          }
        ]
      },
      "put": {
        "operationId": "Devices_Set_V1",
        "summary": "Create or update a device",
        "description": "Create a new device or update an existing one by device ID.",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceV1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceV1"
            }
          }
        }
      },
      "delete": {
        "operationId": "Devices_Remove_V1",
        "summary": "Delete a device",
        "description": "Delete an existing device by device ID.",
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          }
        ]
      }
    },
    "/api/preview/devices/{device_id}/properties": {
      "get": {
        "operationId": "Devices_GetProperties",
        "summary": "Get device properties (deprecated)",
        "description": "Get all property values of a device by device ID (deprecated).",
        "x-ms-visibility": "advanced",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceProperties"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "$ref": "#/parameters/TemplateId"
          }
        ]
      },
      "put": {
        "operationId": "Devices_UpdateProperties",
        "summary": "Update device properties (deprecated)",
        "description": "Update all property values of a device by device ID (deprecated).",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "$ref": "#/parameters/TemplateId"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceProperties"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceProperties"
            }
          }
        }
      }
    },
    "/api/v1/devices/{device_id}/properties": {
      "get": {
        "operationId": "Devices_GetProperties_V1",
        "summary": "Get device properties",
        "description": "Get all property values of a device by device ID.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DevicePropertiesV1"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ]
      },
      "patch": {
        "operationId": "Devices_UpdateProperties_V1",
        "summary": "Update device properties",
        "description": "Update all property values of a device by device ID.",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DevicePropertiesV1"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DevicePropertiesV1"
            }
          }
        }
      }
    },
    "/api/v1/devices/{device_id}/modules/{module}/properties": {
      "get": {
        "operationId": "Devices_GetModuleProperties_V1",
        "summary": "Get module properties",
        "description": "Get all property values of a module.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModulePropertiesV1"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "module",
            "x-ms-summary": "Device Module",
            "description": "Name of the device module.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetModules_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ]
      },
      "patch": {
        "operationId": "Devices_UpdateModuleProperties_V1",
        "summary": "Update module properties",
        "description": "Update all property values of a module.",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "module",
            "x-ms-summary": "Device Module",
            "description": "Name of the device module.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetModules_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModulePropertiesV1"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModulePropertiesV1"
            }
          }
        }
      }
    },
    "/api/preview/devices/{device_id}/components/{component_name}/telemetry/{telemetry_name}": {
      "get": {
        "operationId": "Devices_GetComponentTelemetryValue",
        "summary": "Get device telemetry value (deprecated)",
        "description": "Get the last telemetry value from a device (deprecated).",
        "x-ms-visibility": "advanced",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceTelemetry"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "component_name",
            "x-ms-summary": "Device Component",
            "description": "Name of the device component.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetComponents",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "instanceOf"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "telemetry_name",
            "x-ms-summary": "Device Telemetry",
            "description": "Name of this device telemetry.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "instanceOf"
                },
                "component": {
                  "parameter": "component_name"
                },
                "type": "Telemetry"
              }
            }
          },
          {
            "$ref": "#/parameters/TemplateId"
          }
        ]
      }
    },
    "/api/v1/devices/{device_id}/telemetry/{telemetry_name}": {
      "get": {
        "operationId": "Devices_GetTelemetryValue_V1",
        "summary": "Get device telemetry value",
        "description": "Get the last telemetry value from a device.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceTelemetryV1"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "telemetry_name",
            "x-ms-summary": "Device Telemetry",
            "description": "Name of this device telemetry.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "type": "Telemetry"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v1/devices/{device_id}/components/{component_name}/telemetry/{telemetry_name}": {
      "get": {
        "operationId": "Devices_GetComponentTelemetryValue_V1",
        "summary": "Get component telemetry value",
        "description": "Get the last telemetry value from a component.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceComponentTelemetryV1"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "component_name",
            "x-ms-summary": "Device Component",
            "description": "Name of the device component.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetComponents_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "telemetry_name",
            "x-ms-summary": "Device Telemetry",
            "description": "Name of this device telemetry.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "component": {
                  "parameter": "component_name"
                },
                "type": "Telemetry"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v1/devices/{device_id}/modules/{module}/telemetry/{telemetry_name}": {
      "get": {
        "operationId": "Devices_GetModuleTelemetryValue_V1",
        "summary": "Get module telemetry value",
        "description": "Get the last telemetry value from a module.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceModuleTelemetryV1"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "module",
            "x-ms-summary": "Device Module",
            "description": "Name of the device module.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetModules_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "telemetry_name",
            "x-ms-summary": "Device Telemetry",
            "description": "Name of this device telemetry.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "module": {
                  "parameter": "module"
                },
                "type": "Telemetry"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v1/devices/{device_id}/modules/{module}/components/{component_name}/telemetry/{telemetry_name}": {
      "get": {
        "operationId": "Devices_GetModuleComponentTelemetryValue_V1",
        "summary": "Get module component telemetry value",
        "description": "Get the last telemetry value from a module component.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceModuleComponentTelemetryV1"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "module",
            "x-ms-summary": "Device Module",
            "description": "Name of the device module.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetModules_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "component_name",
            "x-ms-summary": "Device Component",
            "description": "Name of the device component.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetComponents_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "module": {
                  "parameter": "module"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "telemetry_name",
            "x-ms-summary": "Device Telemetry",
            "description": "Name of this device telemetry.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "module": {
                  "parameter": "module"
                },
                "component": {
                  "parameter": "component_name"
                },
                "type": "Telemetry"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v1/roles": {
      "get": {
        "operationId": "Roles_List_V1",
        "summary": "List roles",
        "description": "Get the list of roles in an application.",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RoleCollectionV1"
            }
          }
        }
      }
    },
    "/api/v1/roles/{role_id}": {
      "get": {
        "operationId": "Roles_Get_V1",
        "summary": "Get role",
        "description": "Get a role by ID.",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "path",
            "name": "role_id",
            "x-ms-summary": "Role",
            "description": "Unique ID for the role.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Roles_List_V1",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RoleV1"
            }
          }
        }
      }
    },
    "/api/preview/rules": {
      "get": {
        "operationId": "Rules_List",
        "summary": "Get the list of rules in an application",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RuleCollection"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          }
        ]
      }
    },
    "/api/preview/_internal/workflow/schema/DeviceProperties": {
      "get": {
        "operationId": "Schema_DeviceProperties",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/TemplateId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/_internal/workflow/schema/DeviceProperties": {
      "get": {
        "operationId": "Schema_DeviceProperties_V1",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          },
          {
            "in": "query",
            "name": "module",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetModules_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/preview/_internal/workflow/schema/DeviceCloudProperties": {
      "get": {
        "operationId": "Schema_DeviceCloudProperties",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/TemplateId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/preview/_internal/workflow/schema/DeviceTelemetry": {
      "get": {
        "operationId": "Schema_DeviceTelemetry",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/TemplateId"
          },
          {
            "in": "query",
            "name": "component",
            "type": "string"
          },
          {
            "in": "query",
            "name": "capability",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/_internal/workflow/schema/DeviceTelemetry": {
      "get": {
        "operationId": "Schema_DeviceTelemetry_V1",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          },
          {
            "in": "query",
            "name": "module",
            "type": "string"
          },
          {
            "in": "query",
            "name": "component",
            "type": "string"
          },
          {
            "in": "query",
            "name": "capability",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/preview/_internal/workflow/schema/DeviceCommand": {
      "get": {
        "operationId": "Schema_DeviceCommand",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/TemplateId"
          },
          {
            "in": "query",
            "name": "component",
            "type": "string"
          },
          {
            "in": "query",
            "name": "capability",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/_internal/workflow/schema/DeviceCommand": {
      "get": {
        "operationId": "Schema_DeviceCommand_V1",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          },
          {
            "in": "query",
            "name": "module",
            "type": "string"
          },
          {
            "in": "query",
            "name": "component",
            "type": "string"
          },
          {
            "in": "query",
            "name": "capability",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/preview/_internal/workflow/schema/WebhookActionBody": {
      "get": {
        "operationId": "Schema_WebhookActionBody",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "query",
            "name": "rule",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/_internal/workflow/schema/User": {
      "get": {
        "operationId": "Schema_User_V1",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "query",
            "name": "user_type",
            "type": "string"
          },
          {
            "in": "query",
            "name": "patch",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/preview/_internal/workflow/schema/{type}": {
      "get": {
        "operationId": "Schema_Definition",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "path",
            "name": "type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/api/v1/users": {
      "get": {
        "operationId": "Users_List_V1",
        "summary": "List users",
        "description": "Get the list of users in an application",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserCollectionV1"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          }
        ]
      }
    },
    "/api/v1/users/{user_id}": {
      "get": {
        "operationId": "Users_Get_V1",
        "summary": "Get user",
        "description": "Get a user by ID",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserStaticV1"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "path",
            "name": "user_id",
            "x-ms-summary": "User",
            "description": "Unique ID of the user.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true
          }
        ]
      },
      "put": {
        "operationId": "Users_Create_V1",
        "summary": "Create user",
        "description": "Create a user in the application",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "path",
            "name": "user_id",
            "x-ms-summary": "User",
            "description": "Unique ID of the user.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true
          },
          {
            "$ref": "#/parameters/UserType"
          },
          {
            "name": "body",
            "in": "body",
            "x-ms-summary": "Body",
            "description": "User create body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserV1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserV1"
            }
          }
        }
      },
      "patch": {
        "operationId": "Users_Update_V1",
        "summary": "Update user",
        "description": "Update a user in the application via patch",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "path",
            "name": "user_id",
            "x-ms-summary": "User",
            "description": "Unique ID of the user.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true
          },
          {
            "$ref": "#/parameters/UserType"
          },
          {
            "name": "body",
            "in": "body",
            "x-ms-summary": "Body",
            "description": "User update body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserPatchV1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserPatchV1"
            }
          }
        }
      },
      "delete": {
        "operationId": "Users_Remove_V1",
        "summary": "Delete user",
        "description": "Delete a user",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "path",
            "name": "user_id",
            "x-ms-summary": "User",
            "description": "Unique ID of the user.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/api/preview/_internal/workflow/triggers": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/WebhookActionBody"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          }
        ]
      },
      "post": {
        "operationId": "Workflow_CreateTrigger",
        "summary": "When a rule is fired",
        "description": "Create an action which triggers when a rule is fired in IoT Central.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkflowTrigger"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WorkflowTrigger"
            }
          }
        }
      }
    },
    "/api/preview/_internal/workflow/triggers/{trigger_id}": {
      "get": {
        "operationId": "Workflow_GetTrigger",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WorkflowTrigger"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "path",
            "name": "trigger_id",
            "type": "string",
            "required": true
          }
        ]
      },
      "delete": {
        "operationId": "Workflow_RemoveTrigger",
        "x-ms-visibility": "internal",
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "path",
            "name": "trigger_id",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/api/v1/_internal/workflow/modules": {
      "get": {
        "operationId": "Workflow_GetModules_V1",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DynamicValues"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "query",
            "name": "template",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/api/preview/_internal/workflow/components": {
      "get": {
        "operationId": "Workflow_GetComponents",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DynamicValues"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "query",
            "name": "template",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "module",
            "type": "string"
          }
        ]
      }
    },
    "/api/v1/_internal/workflow/components": {
      "get": {
        "operationId": "Workflow_GetComponents_V1",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DynamicValues"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "query",
            "name": "template",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "module",
            "type": "string"
          }
        ]
      }
    },
    "/api/preview/_internal/workflow/capabilities": {
      "get": {
        "operationId": "Workflow_GetCapabilities",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DynamicValues"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "query",
            "name": "template",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "component",
            "type": "string"
          },
          {
            "in": "query",
            "name": "module",
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "type": "string"
          }
        ]
      }
    },
    "/api/v1/_internal/workflow/capabilities": {
      "get": {
        "operationId": "Workflow_GetCapabilities_V1",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DynamicValues"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "query",
            "name": "template",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "component",
            "type": "string"
          },
          {
            "in": "query",
            "name": "module",
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {
    "Action": {
      "type": "object",
      "properties": {
        "id": {
          "x-ms-summary": "Action ID",
          "description": "Unique ID of the action.",
          "x-ms-visibility": "advanced",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "x-ms-summary": "Action Name",
          "description": "Display name of the action.",
          "type": "string"
        },
        "type": {
          "x-ms-summary": "Action Type",
          "description": "Type of the action.",
          "type": "string",
          "enum": [
            "EmailAction",
            "WebhookAction",
            "PowerAutomateAction",
            "LogicAppsAction",
            "ActionGroupsAction"
          ]
        },
        "rules": {
          "x-ms-summary": "Rules",
          "description": "Unique IDs of the rules that are tied to the action.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "minItems": 1,
          "maxItems": 1
        }
      },
      "required": [
        "type",
        "rules"
      ],
      "discriminator": "type"
    },
    "EmailAction": {
      "type": "object",
      "properties": {
        "id": {
          "x-ms-summary": "Email Action ID",
          "description": "Unique ID of the email action.",
          "x-ms-visibility": "advanced",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "x-ms-summary": "Email Action Name",
          "description": "Display name of the email action.",
          "type": "string"
        },
        "type": {
          "x-ms-summary": "Email Action Type",
          "description": "Type of the email action.",
          "type": "string",
          "enum": [
            "EmailAction"
          ],
          "default": "EmailAction",
          "x-ms-visibility": "internal"
        },
        "rules": {
          "x-ms-summary": "Rules",
          "description": "Unique IDs of the rules that are tied to the email action.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "minItems": 1,
          "maxItems": 1
        }
      },
      "required": [
        "type",
        "rules"
      ],
      "discriminator": "type"
    },
    "WebhookAction": {
      "type": "object",
      "properties": {
        "id": {
          "x-ms-summary": "Webhook Action ID",
          "description": "Unique ID of the webhook action.",
          "x-ms-visibility": "advanced",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "x-ms-summary": "Webhook Action Name",
          "description": "Display name of the webhook action.",
          "type": "string"
        },
        "type": {
          "x-ms-summary": "Webhook Action Type",
          "description": "Type of the webhook action.",
          "type": "string",
          "enum": [
            "WebhookAction"
          ],
          "default": "WebhookAction",
          "x-ms-visibility": "internal"
        },
        "rules": {
          "x-ms-summary": "Rules",
          "description": "Unique IDs of the rules that are tied to the webhook action.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "minItems": 1,
          "maxItems": 1
        },
        "url": {
          "x-ms-summary": "Webhook URL",
          "description": "Callback URL of the webhook.",
          "type": "string",
          "format": "uri"
        }
      },
      "required": [
        "type",
        "rules",
        "url"
      ],
      "discriminator": "type"
    },
    "PowerAutomateAction": {
      "type": "object",
      "properties": {
        "id": {
          "x-ms-summary": "Power Automate Action ID",
          "description": "Unique ID of the Power Automate action.",
          "x-ms-visibility": "advanced",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "x-ms-summary": "Power Automate Action Name",
          "description": "Display name of the Power Automate action.",
          "type": "string"
        },
        "type": {
          "x-ms-summary": "Power Automate Action Type",
          "description": "Type of the Power Automate action.",
          "type": "string",
          "enum": [
            "PowerAutomateAction"
          ],
          "default": "PowerAutomateAction",
          "x-ms-visibility": "internal"
        },
        "rules": {
          "x-ms-summary": "Rules",
          "description": "Unique IDs of the rules that are tied to the Power Automate action.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "minItems": 1,
          "maxItems": 1
        }
      },
      "required": [
        "type",
        "rules"
      ],
      "discriminator": "type"
    },
    "LogicAppsAction": {
      "type": "object",
      "properties": {
        "id": {
          "x-ms-summary": "Logic Apps Action ID",
          "description": "Unique ID of the Logic Apps action.",
          "x-ms-visibility": "advanced",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "x-ms-summary": "Logic Apps Action Name",
          "description": "Display name of the Logic Apps action.",
          "type": "string"
        },
        "type": {
          "x-ms-summary": "Logic Apps Action Type",
          "description": "Type of the Logic Apps action.",
          "type": "string",
          "enum": [
            "LogicAppsAction"
          ],
          "default": "LogicAppsAction",
          "x-ms-visibility": "internal"
        },
        "rules": {
          "x-ms-summary": "Rules",
          "description": "Unique IDs of the rules that are tied to the Logic Apps action.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "minItems": 1,
          "maxItems": 1
        }
      },
      "required": [
        "type",
        "rules"
      ],
      "discriminator": "type"
    },
    "ActionGroupsAction": {
      "type": "object",
      "properties": {
        "id": {
          "x-ms-summary": "Action Groups Action ID",
          "description": "Unique ID of the Action Groups action.",
          "x-ms-visibility": "advanced",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "x-ms-summary": "Action Groups Action Name",
          "description": "Display name of the Action Groups action.",
          "type": "string"
        },
        "type": {
          "x-ms-summary": "Action Groups Action Type",
          "description": "Type of the Action Groups action.",
          "type": "string",
          "enum": [
            "ActionGroupsAction"
          ],
          "default": "ActionGroupsAction",
          "x-ms-visibility": "internal"
        },
        "rules": {
          "x-ms-summary": "Rules",
          "description": "Unique IDs of the rules that are tied to the Action Groups action.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "minItems": 1,
          "maxItems": 1
        }
      },
      "required": [
        "type",
        "rules"
      ],
      "discriminator": "type"
    },
    "Application": {
      "type": "object",
      "properties": {
        "id": {
          "x-ms-summary": "Application ID",
          "description": "Unique ID of the application.",
          "x-ms-visibility": "advanced",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "x-ms-summary": "Application Name",
          "description": "Display name of the application.",
          "type": "string"
        },
        "subdomain": {
          "x-ms-summary": "Subdomain",
          "description": "The URL subdomain of the application.",
          "type": "string"
        },
        "host": {
          "x-ms-summary": "Host",
          "description": "The URL host of the application.",
          "type": "string"
        }
      },
      "required": [
        "subdomain",
        "host"
      ]
    },
    "ApplicationCollection": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The collection of applications.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Application"
          }
        },
        "nextLink": {
          "description": "URL to get the next page of applications.",
          "type": "string"
        }
      },
      "required": [
        "value"
      ]
    },
    "Device": {
      "type": "object",
      "properties": {
        "id": {
          "x-ms-summary": "Device ID",
          "description": "Unique ID of the device.",
          "x-ms-visibility": "advanced",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "x-ms-summary": "Device ETag",
          "description": "ETag used to prevent conflict in device updates.",
          "x-ms-visibility": "internal",
          "type": "string"
        },
        "displayName": {
          "x-ms-summary": "Device Name",
          "description": "Display name of the device.",
          "type": "string"
        },
        "instanceOf": {
          "x-ms-summary": "Device Template",
          "description": "The device template definition for the device.",
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "DeviceTemplates_List",
            "value-path": "id",
            "value-title": "displayName",
            "value-collection": "value",
            "parameters": {
              "application": {
                "parameter": "application"
              }
            }
          }
        },
        "simulated": {
          "x-ms-summary": "Simulated",
          "description": "Whether the device is simulated.",
          "type": "boolean"
        },
        "approved": {
          "x-ms-summary": "Approved",
          "description": "Whether the device has been approved to connect to IoT Central.",
          "type": "boolean"
        },
        "provisioned": {
          "x-ms-summary": "Provisioned",
          "description": "Whether resources have been allocated for the device.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "DeviceV1": {
      "type": "object",
      "properties": {
        "id": {
          "x-ms-summary": "Device ID",
          "description": "Unique ID of the device.",
          "x-ms-visibility": "advanced",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "x-ms-summary": "Device ETag",
          "description": "ETag used to prevent conflict in device updates.",
          "x-ms-visibility": "internal",
          "type": "string"
        },
        "displayName": {
          "x-ms-summary": "Device Name",
          "description": "Display name of the device.",
          "type": "string"
        },
        "template": {
          "x-ms-summary": "Device Template",
          "description": "The device template definition for the device.",
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "DeviceTemplates_List",
            "value-path": "id",
            "value-title": "displayName",
            "value-collection": "value",
            "parameters": {
              "application": {
                "parameter": "application"
              }
            }
          }
        },
        "simulated": {
          "x-ms-summary": "Simulated",
          "description": "Whether the device is simulated.",
          "type": "boolean"
        },
        "enabled": {
          "x-ms-summary": "Enabled",
          "description": "Whether the device connection to IoT Central has been enabled.",
          "type": "boolean"
        },
        "provisioned": {
          "x-ms-summary": "Provisioned",
          "description": "Whether resources have been allocated for the device.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "DeviceCollectionV1": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The collection of devices.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeviceV1"
          }
        },
        "nextLink": {
          "description": "URL to get the next page of devices.",
          "type": "string"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeviceCloudProperties": {
      "x-ms-dynamic-schema": {
        "operationId": "Schema_DeviceCloudProperties",
        "parameters": {
          "application": {
            "parameter": "application"
          },
          "instanceOf": {
            "parameter": "instanceOf"
          }
        },
        "value-path": "properties"
      },
      "x-ms-dynamic-properties": {
        "operationId": "Schema_DeviceCloudProperties",
        "parameters": {
          "application": {
            "parameterReference": "application"
          },
          "instanceOf": {
            "parameterReference": "instanceOf"
          }
        }
      },
      "x-ms-summary": "Device Cloud Properties",
      "description": "Cloud property values associated with the device.",
      "type": "object"
    },
    "DeviceCommand": {
      "x-ms-dynamic-schema": {
        "operationId": "Schema_DeviceCommand",
        "parameters": {
          "application": {
            "parameter": "application"
          },
          "instanceOf": {
            "parameter": "instanceOf"
          },
          "component": {
            "parameter": "component_name"
          },
          "capability": {
            "parameter": "command_name"
          }
        },
        "value-path": "properties"
      },
      "x-ms-dynamic-properties": {
        "operationId": "Schema_DeviceCommand",
        "parameters": {
          "application": {
            "parameterReference": "application"
          },
          "instanceOf": {
            "parameterReference": "instanceOf"
          },
          "component": {
            "parameterReference": "component_name"
          },
          "capability": {
            "parameterReference": "command_name"
          }
        }
      },
      "type": "object",
      "properties": {
        "id": {
          "x-ms-summary": "Device Command Request ID",
          "description": "The request ID of the device command execution.",
          "type": "string",
          "readOnly": true
        },
        "request": {
          "x-ms-summary": "Device Command Request Payload",
          "description": "The payload for the device command."
        },
        "response": {
          "x-ms-summary": "Device Command Response Payload",
          "description": "The payload of the device command response.",
          "readOnly": true
        },
        "connectionTimeout": {
          "x-ms-summary": "Device Command Connection Timeout",
          "description": "Connection timeout in seconds to wait for a disconnected device to come online. Defaults to 0 seconds.",
          "type": "integer",
          "minimum": 0,
          "maximum": 30
        },
        "responseTimeout": {
          "x-ms-summary": "Device Command Response Timeout",
          "description": "Response timeout in seconds to wait for a command completion on a device. Defaults to 30 seconds.",
          "type": "integer",
          "minimum": 5,
          "maximum": 30
        },
        "responseCode": {
          "x-ms-summary": "Device Command Response Status",
          "description": "The status code of the device command response.",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "DeviceCommandV1": {
      "x-ms-dynamic-schema": {
        "operationId": "Schema_DeviceCommand_V1",
        "parameters": {
          "application": {
            "parameter": "application"
          },
          "template": {
            "parameter": "template"
          },
          "capability": {
            "parameter": "command_name"
          }
        },
        "value-path": "properties"
      },
      "x-ms-dynamic-properties": {
        "operationId": "Schema_DeviceCommand_V1",
        "parameters": {
          "application": {
            "parameterReference": "application"
          },
          "template": {
            "parameterReference": "template"
          },
          "capability": {
            "parameterReference": "command_name"
          }
        }
      },
      "type": "object",
      "properties": {
        "id": {
          "x-ms-summary": "Device Command Request ID",
          "description": "The request ID of the device command execution.",
          "type": "string",
          "readOnly": true
        },
        "request": {
          "x-ms-summary": "Device Command Request Payload",
          "description": "The payload for the device command."
        },
        "response": {
          "x-ms-summary": "Device Command Response Payload",
          "description": "The payload of the device command response.",
          "readOnly": true
        },
        "connectionTimeout": {
          "x-ms-summary": "Device Command Connection Timeout",
          "description": "Connection timeout in seconds to wait for a disconnected device to come online. Defaults to 0 seconds.",
          "type": "integer",
          "minimum": 0,
          "maximum": 30
        },
        "responseTimeout": {
          "x-ms-summary": "Device Command Response Timeout",
          "description": "Response timeout in seconds to wait for a command completion on a device. Defaults to 30 seconds.",
          "type": "integer",
          "minimum": 5,
          "maximum": 30
        },
        "responseCode": {
          "x-ms-summary": "Device Command Response Status",
          "description": "The status code of the device command response.",
          "type": "integer",
          "readOnly": true
        }
[...]
