{
  "swagger": "2.0",
  "info": {
    "title": "TRIGGERcmd",
    "description": "To run commands on your computers:\n1 - Create an account at triggercmd.com.\n2 - Install the TRIGGERcmd agent on your computer.\n3 - Setup commands using the agent software.\n4 - Trigger those commands with Microsoft Power Automate.",
    "version": "1.0"
  },
  "host": "www.triggercmd.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": [],
  "produces": [],
  "paths": {
    "/oauth/flow/trigger": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Run command",
        "operationId": "RunCommand",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "computer": {
                  "type": "string",
                  "description": "A computer in your TRIGGERcmd account.",
                  "x-ms-summary": "computer",
                  "title": "Computer",
                  "x-ms-visibility": "important"
                },
                "trigger": {
                  "type": "string",
                  "description": "The name of a command on that computer.",
                  "x-ms-summary": "trigger",
                  "title": "Command",
                  "x-ms-visibility": "important"
                },
                "params": {
                  "type": "string",
                  "description": "Command Parameters (optional)",
                  "x-ms-summary": "params",
                  "title": "Parameters"
                }
              },
              "required": [
                "computer",
                "trigger"
              ]
            }
          }
        ],
        "description": "Run a command on your computer."
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://www.triggercmd.com/oauth/authorize",
      "tokenUrl": "https://www.triggercmd.com/oauth/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": []
}