{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Line Message",
    "description": "The connector allows you to send messages to registered LINE bot and associated users.\n",
    "contact": {
      "name": "Felaray Ho",
      "url": "https://github.com/felaray",
      "email": "Felaray@gmail.com"
    }
  },
  "host": "api.line.me",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v2/bot/message/push": {
      "post": {
        "summary": "Send Text Message",
        "description": "Sends a text message to a user, group, or room.",
        "operationId": "SendTextMessage",
        "x-ms-policies": {
          "SetBearer": {
            "type": "SetHttpHeader",
            "parameters": {
              "x-ms-header-name": "Authorization",
              "x-ms-value": "Bearer @{connectionParameters('api_token')}"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PushBodyWithText"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v2/bot/message/push-sticker": {
      "post": {
        "summary": "Send Sticker Message",
        "description": "Sends a sticker message to a user, group, or room.",
        "operationId": "SendStickerMessage",
        "x-ms-policies": {
          "SetBearer": {
            "type": "SetHttpHeader",
            "parameters": {
              "x-ms-header-name": "Authorization",
              "x-ms-value": "Bearer @{connectionParameters('api_token')}"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PushBodyWithSticker"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v2/bot/message/push-image": {
      "post": {
        "summary": "Send Image Message",
        "description": "Sends an image message to a user, group, or room.",
        "operationId": "SendImageMessage",
        "x-ms-policies": {
          "SetBearer": {
            "type": "SetHttpHeader",
            "parameters": {
              "x-ms-header-name": "Authorization",
              "x-ms-value": "Bearer @{connectionParameters('api_token')}"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PushBodyWithImage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v2/bot/message/push-video": {
      "post": {
        "summary": "Send Video Message",
        "description": "Sends a video message to a user, group, or room.",
        "operationId": "SendVideoMessage",
        "x-ms-policies": {
          "SetBearer": {
            "type": "SetHttpHeader",
            "parameters": {
              "x-ms-header-name": "Authorization",
              "x-ms-value": "Bearer @{connectionParameters('api_token')}"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PushBodyWithVideo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v2/bot/message/push-audio": {
      "post": {
        "summary": "Send Audio Message",
        "description": "Sends an audio message to a user, group, or room.",
        "operationId": "SendAudioMessage",
        "x-ms-policies": {
          "SetBearer": {
            "type": "SetHttpHeader",
            "parameters": {
              "x-ms-header-name": "Authorization",
              "x-ms-value": "Bearer @{connectionParameters('api_token')}"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PushBodyWithAudio"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v2/bot/message/push-location": {
      "post": {
        "summary": "Send Location Message",
        "description": "Sends a location message to a user, group, or room.",
        "operationId": "SendLocationMessage",
        "x-ms-policies": {
          "SetBearer": {
            "type": "SetHttpHeader",
            "parameters": {
              "x-ms-header-name": "Authorization",
              "x-ms-value": "Bearer @{connectionParameters('api_token')}"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PushBodyWithLocation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v2/bot/profile/{userId}": {
      "get": {
        "summary": "Get User Profile",
        "description": "Get user profile information.",
        "operationId": "GetUserProfile",
        "x-ms-policies": {
          "SetBearer": {
            "type": "SetHttpHeader",
            "parameters": {
              "x-ms-header-name": "Authorization",
              "x-ms-value": "Bearer @{connectionParameters('api_token')}"
            }
          }
        },
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "User ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserProfile"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PushBodyWithText": {
      "type": "object",
      "properties": {
        "to": {
          "type": "string",
          "description": "User ID, group ID, or room ID"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TextMessage"
          },
          "description": "Messages to send. Max 5."
        }
      },
      "required": [
        "to",
        "messages"
      ]
    },
    "PushBodyWithSticker": {
      "type": "object",
      "properties": {
        "to": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StickerMessage"
          }
        }
      },
      "required": [
        "to",
        "messages"
      ]
    },
    "PushBodyWithImage": {
      "type": "object",
      "properties": {
        "to": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageMessage"
          }
        }
      },
      "required": [
        "to",
        "messages"
      ]
    },
    "PushBodyWithVideo": {
      "type": "object",
      "properties": {
        "to": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VideoMessage"
          }
        }
      },
      "required": [
        "to",
        "messages"
      ]
    },
    "PushBodyWithAudio": {
      "type": "object",
      "properties": {
        "to": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AudioMessage"
          }
        }
      },
      "required": [
        "to",
        "messages"
      ]
    },
    "PushBodyWithLocation": {
      "type": "object",
      "properties": {
        "to": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LocationMessage"
          }
        }
      },
      "required": [
        "to",
        "messages"
      ]
    },
    "TextMessage": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "default": "text"
        },
        "text": {
          "type": "string"
        }
      },
      "required": [
        "type",
        "text"
      ]
    },
    "StickerMessage": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "default": "sticker"
        },
        "packageId": {
          "type": "string"
        },
        "stickerId": {
          "type": "string"
        }
      },
      "required": [
        "type",
        "packageId",
        "stickerId"
      ]
    },
    "ImageMessage": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "default": "image"
        },
        "originalContentUrl": {
          "type": "string"
        },
        "previewImageUrl": {
          "type": "string"
        }
      },
      "required": [
        "type",
        "originalContentUrl",
        "previewImageUrl"
      ]
    },
    "VideoMessage": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "default": "video"
        },
        "originalContentUrl": {
          "type": "string"
        },
        "previewImageUrl": {
          "type": "string"
        }
      },
      "required": [
        "type",
        "originalContentUrl",
        "previewImageUrl"
      ]
    },
    "AudioMessage": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "default": "audio"
        },
        "originalContentUrl": {
          "type": "string"
        },
        "duration": {
          "type": "integer",
          "format": "int64"
        }
      },
      "required": [
        "type",
        "originalContentUrl",
        "duration"
      ]
    },
    "LocationMessage": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "default": "location"
        },
        "title": {
          "type": "string"
        },
        "address": {
          "type": "string"
        },
        "latitude": {
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "type": "number",
          "format": "double"
        }
      },
      "required": [
        "type",
        "title",
        "address",
        "latitude",
        "longitude"
      ]
    },
    "UserProfile": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "pictureUrl": {
          "type": "string"
        },
        "statusMessage": {
          "type": "string"
        }
      },
      "required": [
        "userId",
        "displayName"
      ]
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [],
  "x-ms-connection-parameters": {
    "api_token": {
      "type": "securestring",
      "uiDefinition": {
        "displayName": "Channel Access Token",
        "description": "LINE Messaging API 的 Channel Access Token (不用加 Bearer)",
        "tooltip": "Enter the Channel Access Token obtained from the LINE Developers Console.",
        "constraints": {
          "required": true
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://developers.line.biz/en/services/messaging-api/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://line.me/en/terms/policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ]
}