{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Line Message",
    "description": "The connector allows you to send messages to registered LINE bot and associated users.",
    "contact": {
      "name": "Felaray Ho",
      "url": "https://github.com/felaray",
      "email": "Felaray@gmail.com"
    }
  },
  "host": "api.line.me",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v2/bot/message/push": {
      "post": {
        "summary": "Send Message To User",
        "description": "Send a message to the associated user ID.",
        "operationId": "SendMessage",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string",
                  "description": "user id"
                },
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "LINE message types",
                        "default": "text",
                        "title": "",
                        "x-ms-visibility": "advanced",
                        "enum": [
                          "text",
                          "sticker",
                          "image",
                          "location"
                        ]
                      },
                      "text": {
                        "type": "string",
                        "title": "Text Type",
                        "description": "hello world"
                      },
                      "packageId": {
                        "type": "string",
                        "title": "Sticker Type",
                        "description": "Ex:446"
                      },
                      "stickerId": {
                        "type": "string",
                        "title": "Sticker Type",
                        "description": "Ex:1988"
                      },
                      "originalContentUrl": {
                        "type": "string",
                        "title": "Image Type",
                        "description": "https://example.com/image.jpg"
                      },
                      "previewImageUrl": {
                        "type": "string",
                        "title": "Image Type",
                        "description": "https://example.com/image.jpg"
                      },
                      "title": {
                        "type": "string",
                        "title": "Location Type",
                        "description": "Ex:My location"
                      },
                      "address": {
                        "type": "string",
                        "title": "Location Type",
                        "description": "Ex:My location"
                      },
                      "latitude": {
                        "type": "string",
                        "title": "Location Type",
                        "description": "Ex:35.687574,"
                      },
                      "longitude": {
                        "type": "string",
                        "title": "Location Type",
                        "description": "Ex:139.72922,"
                      }
                    }
                  },
                  "description": "messages"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful"
          },
          "400": {
            "description": "Problem with the request"
          },
          "401": {
            "description": "Valid channel access token is not specified."
          }
        },
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "Channel Access Token": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "Channel Access Token": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://developers.line.biz/en/services/messaging-api/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://line.me/en/terms/policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ]
}