{
  "paths": {
    "/Excel/CreateExcelFromArray": {
      "post": {
        "operationId": "CreateExcelFromArray",
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Filled out .xlsx file",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        },
        "produces": [
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        ],
        "x-ms-visibility": "important",
        "description": "Creates a new Excel Workbook with table constructed from provided array of objects.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "$properties"
              ],
              "properties": {
                "$properties": {
                  "items": {
                    "additionalProperties": true,
                    "type": "object"
                  },
                  "description": "JSON array of objects with all the properties and their values to fill out",
                  "title": "Properties",
                  "type": "array"
                }
              }
            }
          }
        ],
        "summary": "Create Excel from Array"
      }
    },
    "/Excel/FillExcelRepeaterTemplate": {
      "post": {
        "operationId": "FillExcelRepeaterTemplate",
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Filled out .xlsx file",
            "schema": {
              "format": "byte",
              "type": "string"
            }
          }
        },
        "produces": [
          "text/plain"
        ],
        "x-ms-visibility": "important",
        "description": "Fills provided Base64 encoded .xlsx file with provided array of values",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "document",
                "$properties"
              ],
              "properties": {
                "$properties": {
                  "items": {
                    "additionalProperties": true,
                    "type": "object"
                  },
                  "description": "JSON array of objects with all the properties and their values to fill out",
                  "title": "Properties",
                  "type": "array"
                },
                "document": {
                  "type": "string",
                  "description": "Base64 encoded document value.",
                  "format": "byte",
                  "title": "Document"
                }
              }
            }
          }
        ],
        "summary": "Fill Excel Repeater Template"
      }
    },
    "/Excel/FillExcelTemplate": {
      "post": {
        "operationId": "FillExcelTemplate",
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Filled out .xlsx file",
            "schema": {
              "format": "byte",
              "type": "string"
            }
          }
        },
        "produces": [
          "text/plain"
        ],
        "x-ms-visibility": "important",
        "description": "Fills provided Base64 encoded .xlsx file with provided data object",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "document",
                "data"
              ],
              "properties": {
                "document": {
                  "type": "string",
                  "description": "Base64 encoded document value.",
                  "format": "byte",
                  "title": "Document"
                },
                "data": {
                  "description": "Data to be filled to template.",
                  "type": "object"
                }
              }
            }
          }
        ],
        "summary": "Fill Excel Template"
      }
    }
  },
  "swagger": "2.0",
  "tags": [],
  "info": {
    "contact": {
      "name": "TALXIS",
      "email": "hello@networg.com",
      "url": "https://www.talxis.com"
    },
    "description": "TALXIS Document connector provides multiple methods that enable the user to work with and generate documents",
    "version": "1.0",
    "title": "TALXIS_Connectors_Documents"
  },
  "definitions": {},
  "basePath": "/api",
  "consumes": [],
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "flow": "accessCode",
      "type": "oauth2",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "parameters": {},
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "produces": [],
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyValue": "https://www.talxis.com",
      "propertyName": "Website"
    },
    {
      "propertyValue": "https://www.talxis.com",
      "propertyName": "Privacy policy"
    },
    {
      "propertyValue": "Productivity;Sales and CRM",
      "propertyName": "Categories"
    }
  ],
  "host": "documents.connectors.talxis.com"
}