{
    "swagger": "2.0",
    "info": {
        "description": "The Microsoft 365 Groups Mail connector allows users to work with data located in a Microsoft 365 Group mailbox. The functionality in this connector works independently from a single user's personal mailbox and allows users to work with any Group they can access within their organization. The connector works off the Microsoft Graph API, and uses terminology specified in a Microsoft 365 Groups documentation within the Graph API. Learn more in the connector documentation.",
        "title": "Microsoft 365 Groups Mail",
        "version": "1.0",
        "x-ms-api-annotation": {
            "status": "Preview"
        },
        "contact": {
            "name": "Microsoft"
        }
    },
    "host": "graph.microsoft.com",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "consumes": [],
    "produces": [],
    "paths": {
        "/v1.0/groups/{groupId}/conversations": {
            "get": {
                "operationId": "ListConversations",
                "description": "Get all the conversations in this group.",
                "summary": "List the conversations of a group",
                "parameters": [
                    {
                        "$ref": "#/parameters/groupId__in_path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "@odata.nextLink": {
                                    "description": "Link to get next page of results",
                                    "type": "string",
                                    "x-ms-summary": "Next link",
                                    "x-ms-visibility": "internal"
                                },
                                "value": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Conversation"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Invalid group",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink"
                }
            }
        },
        "/v1.0/groups/{groupId}/conversations/{conversationId}": {
            "get": {
                "operationId": "GetGroupConversation",
                "description": "Retrieves the properties of a particular conversation.",
                "summary": "Get a group conversation",
                "parameters": [
                    {
                        "$ref": "#/parameters/groupId__in_path"
                    },
                    {
                        "name": "conversationId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-url-encoding": "single",
                        "description": "Enter the conversation ID.",
                        "x-ms-summary": "Conversation ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Conversation"
                        }
                    }
                }
            }
        },
        "/v1.0/groups/{groupId}/conversations/{conversationId}/threads": {
            "get": {
                "operationId": "ListConversationThreads",
                "description": "Get all the threads in a group conversation.",
                "summary": "List the conversation threads of a conversation",
                "parameters": [
                    {
                        "$ref": "#/parameters/groupId__in_path"
                    },
                    {
                        "name": "conversationId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-url-encoding": "single",
                        "description": "Enter the conversation ID.",
                        "x-ms-summary": "Conversation ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "@odata.nextLink": {
                                    "description": "Link to get next page of results",
                                    "type": "string",
                                    "x-ms-summary": "Next link",
                                    "x-ms-visibility": "internal"
                                },
                                "@odata.context": {
                                    "type": "string",
                                    "description": "The Odata.context link.",
                                    "x-ms-summary": "OData context",
                                    "x-ms-visibility": "internal"
                                },
                                "value": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/ConversationThread"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink"
                }
            }
        },
        "/v1.0/groups/{groupId}/threads": {
            "get": {
                "operationId": "ListGroupThreads",
                "description": "Get all the threads of a group.",
                "summary": "List the threads of a group",
                "parameters": [
                    {
                        "$ref": "#/parameters/groupId__in_path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "@odata.nextLink": {
                                    "description": "Link to get next page of results",
                                    "type": "string",
                                    "x-ms-summary": "Next link",
                                    "x-ms-visibility": "internal"
                                },
                                "value": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/ConversationThread"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink"
                }
            }
        },
        "/v1.0/groups/{groupId}/threads/{threadId}": {
            "get": {
                "operationId": "GetConversationThread",
                "description": "Get a specific thread that belongs to a group.",
                "summary": "Get a conversation thread",
                "parameters": [
                    {
                        "$ref": "#/parameters/groupId__in_path"
                    },
                    {
                        "name": "threadId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-url-encoding": "single",
                        "description": "Enter the conversation thread ID.",
                        "x-ms-summary": "Thread ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ConversationThread"
                        }
                    }
                }
            },
            "delete": {
                "operationId": "DeleteConversationThread",
                "description": "Deletes the specified conversation thread.",
                "summary": "Delete a conversation thread",
                "parameters": [
                    {
                        "$ref": "#/parameters/groupId__in_path"
                    },
                    {
                        "name": "threadId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-url-encoding": "single",
                        "description": "Enter the conversation thread ID.",
                        "x-ms-summary": "Thread ID"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    }
                }
            }
        },
        "/v1.0/groups/{groupId}/threads/{threadId}/posts": {
            "get": {
                "operationId": "ListThreadPosts",
                "description": "Get all the posts of the specified conversation thread.",
                "summary": "List the posts of a conversation thread",
                "parameters": [
                    {
                        "$ref": "#/parameters/groupId__in_path"
                    },
                    {
                        "name": "threadId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-url-encoding": "single",
                        "description": "Enter the conversation thread ID.",
                        "x-ms-summary": "Thread ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "@odata.nextLink": {
                                    "description": "Link to get next page of results",
                                    "type": "string",
                                    "x-ms-summary": "Next link",
                                    "x-ms-visibility": "internal"
                                },
                                "@odata.context": {
                                    "type": "string",
                                    "description": "The @odata.context link.",
                                    "x-ms-visibility": "internal"
                                },
                                "value": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Post"
                                    },
                                    "description": "Array containing the posts in the specified thread."
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink"
                }
            }
        },
        "/v1.0/groups/{groupId}/threads/{threadId}/posts/{postId}": {
            "get": {
                "operationId": "GetThreadPost",
                "description": "Retrieves a post in a specified thread.",
                "summary": "Get a thread post",
                "parameters": [
                    {
                        "$ref": "#/parameters/groupId__in_path"
                    },
                    {
                        "name": "threadId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-url-encoding": "single",
                        "description": "Enter the conversation thread ID.",
                        "x-ms-summary": "Thread ID"
                    },
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-url-encoding": "single",
                        "description": "Enter the post ID.",
                        "x-ms-summary": "Post ID"
                    },
                    {
                        "$ref": "#/parameters/expand__in_query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Post"
                        }
                    }
                }
            }
        },
        "/v1.0/groups/{groupId}/threads/{threadId}/posts/{postId}/attachments": {
            "get": {
                "operationId": "GetAttachments",
                "description": "Retrieve a list of attachments that belong to a post.",
                "summary": "List the attachments of a post",
                "parameters": [
                    {
                        "$ref": "#/parameters/groupId__in_path"
                    },
                    {
                        "name": "threadId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-url-encoding": "single",
                        "description": "Enter the conversation thread ID.",
                        "x-ms-summary": "Thread ID"
                    },
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-url-encoding": "single",
                        "description": "Enter the post ID.",
                        "x-ms-summary": "Post ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "@odata.nextLink": {
                                    "description": "Link to get next page of results",
                                    "type": "string",
                                    "x-ms-summary": "Next link",
                                    "x-ms-visibility": "internal"
                                },
                                "@odata.context": {
                                    "type": "string",
                                    "description": "The @odata.context link.",
                                    "x-ms-visibility": "internal"
                                },
                                "value": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Attachment"
                                    },
                                    "description": "Array containing the attachments of the post."
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink"
                }
            }
        },
        "/v1.0/me/memberOf/$/microsoft.graph.group": {
            "get": {
                "operationId": "ListGroups",
                "description": "Retrieves all Microsoft 365 Groups the user is part of.",
                "summary": "List user groups",
                "x-ms-visibility": "internal",
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "x-ms-visibility": "internal",
                        "default": "groupTypes/any(c:c eq 'Unified')"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "x-ms-visibility": "internal",
                        "default": "id,displayName"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "x-ms-visibility": "internal",
                        "default": 999
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "value": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "x-ms-summary": "Group ID"
                                            },
                                            "displayName": {
                                                "type": "string",
                                                "x-ms-summary": "Group display name"
                                            },
                                            "visibility": {
                                                "type": "string",
                                                "x-ms-summary": "Group visibility"
                                            }
                                        }
                                    },
                                    "description": "Array with the groups the user is part of."
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Conversation": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "title": "Conversation ID",
                    "x-ms-summary": "Conversation ID",
                    "description": "The conversations's unique identifier."
                },
                "topic": {
                    "type": "string",
                    "title": "Conversation topic",
                    "x-ms-summary": "Conversation topic",
                    "description": "The topic of the conversation."
                },
                "hasAttachments": {
                    "type": "boolean",
                    "title": "Has attachments?",
                    "x-ms-summary": "Has attachments?",
                    "description": "Indicates whether any of the posts within this Conversation has at least one attachment."
                },
                "lastDeliveredDateTime": {
                    "type": "string",
                    "format": "date-time",
                    "title": "Last delivered timestamp",
                    "x-ms-summary": "Last delivered timestamp",
                    "description": "The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time."
                },
                "uniqueSenders": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "title": "Unique senders array",
                    "x-ms-summary": "Unique senders array",
                    "description": "All the users that sent a message to this Conversation."
                },
                "preview": {
                    "type": "string",
                    "title": "Preview",
                    "x-ms-summary": "Preview",
                    "description": "A short summary from the body of the latest post in this Conversation."
                },
                "threads": {
                    "x-ms-visibility": "internal",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ConversationThread"
                    }
                }
            },
            "description": "Conversation object."
        },
        "ConversationThread": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "title": "Conversation thread ID",
                    "x-ms-summary": "Conversation thread ID",
                    "description": "The conversation thread's unique identifier."
                },
                "topic": {
                    "type": "string",
                    "title": "Conversation topic",
                    "x-ms-summary": "Conversation topic",
                    "description": "The topic of the conversation."
                },
                "hasAttachments": {
                    "type": "boolean",
                    "title": "Has attachments?",
                    "x-ms-summary": "Has attachments?",
                    "description": "Indicates whether any of the posts within this Conversation has at least one attachment."
                },
                "lastDeliveredDateTime": {
                    "type": "string",
                    "format": "date-time",
                    "title": "Last delivered timestamp",
                    "x-ms-summary": "Last delivered timestamp",
                    "description": "The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time."
                },
                "uniqueSenders": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "title": "Unique senders array",
                    "x-ms-summary": "Unique senders array",
                    "description": "All the users that sent a message to this Conversation."
                },
                "preview": {
                    "type": "string",
                    "title": "Preview",
                    "x-ms-summary": "Preview",
                    "description": "A short summary from the body of the latest post in this Conversation."
                },
                "isLocked": {
                    "type": "boolean",
                    "title": "Is Locked?",
                    "x-ms-summary": "Is Locked?",
                    "description": "Indicates if the thread is locked."
                },
                "toRecipients": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/EmailAddress"
                    },
                    "description": "The To: recipients for the thread."
                },
                "ccRecipients": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/EmailAddress"
                    },
                    "description": "The Cc: recipients for the thread."
                },
                "posts": {
                    "x-ms-visibility": "internal",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Post"
                    }
                }
            },
            "description": "Conversation thread object."
        },
        "Post": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "title": "Post ID",
                    "x-ms-summary": "Post ID",
                    "description": "The post's unique identifier."
                },
                "createdDateTime": {
                    "type": "string",
                    "format": "date-time",
                    "title": "Created timestamp of the post",
                    "x-ms-summary": "Post created timestamp"
                },
                "lastModifiedDateTime": {
                    "type": "string",
                    "format": "date-time",
                    "title": "Last modified timestamp of the post",
                    "x-ms-summary": "Post last modified timestamp"
                },
                "changeKey": {
                    "type": "string",
                    "title": "Change Key",
                    "x-ms-summary": "Post change Key",
                    "description": "Identifies the version of the post."
                },
                "conversationId": {
                    "type": "string",
                    "title": "Conversation ID",
                    "x-ms-summary": "Post conversation ID",
                    "description": "Unique ID of the conversation the post belongs to."
                },
                "conversationThreadId": {
                    "type": "string",
                    "title": "Conversation thread ID",
                    "x-ms-summary": "Post conversation thread ID",
                    "description": "Unique ID of the conversation thread the post belongs to."
                },
                "categories": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "title": "Categories",
                    "x-ms-summary": "Post categories",
                    "description": "The categories associated with the post."
                },
                "receivedDateTime": {
                    "type": "string",
                    "format": "date-time",
                    "title": "Received timestamp",
                    "x-ms-summary": "Post received timestamp",
                    "description": "Post received timestamp."
                },
                "hasAttachments": {
                    "type": "boolean",
                    "title": "Has attachments?",
                    "x-ms-summary": "Has attachments?",
                    "description": "Indicates whether the post has at least one attachment."
                },
                "newParticipants": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/EmailAddress"
                    },
                    "title": "New participants",
                    "x-ms-summary": "New participants",
                    "description": "Conversation participants that were added to the thread as part of this post."
                },
                "body": {
                    "$ref": "#/definitions/ItemBody"
                },
                "from": {
                    "$ref": "#/definitions/EmailAddress"
                },
                "sender": {
                    "$ref": "#/definitions/EmailAddress"
                },
                "attachments": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Attachment"
                    }
                }
            },
            "description": "Represents an individual Post item within a conversationThread entity."
        },
        "Attachment": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Id of the attachment.",
                    "x-ms-summary": "Attachment ID"
                },
                "name": {
                    "type": "string",
                    "description": "Name of attachment.",
                    "x-ms-summary": "Attachment name"
                },
                "contentType": {
                    "type": "string",
                    "description": "Content type of attachment.",
                    "x-ms-summary": "Attachment content Type"
                },
                "size": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Size of attachment.",
                    "x-ms-summary": "Attachment size"
                },
                "contentBytes": {
                    "type": "string",
                    "format": "byte",
                    "description": "Content of attachment.",
                    "x-ms-summary": "Attachment content bytes"
                }
            }
        },
        "EmailAddress": {
            "type": "object",
            "properties": {
                "emailAddress": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string",
                            "x-ms-summary": "Name of the user"
                        },
                        "address": {
                            "type": "string",
                            "format": "email",
                            "x-ms-summary": "Email address of the user"
                        }
                    },
                    "description": "Represents information about a user in the sending or receiving end of an event, message or group post."
                }
            }
        },
        "ItemBody": {
            "type": "object",
            "properties": {
                "contentType": {
                    "type": "string",
                    "x-ms-summary": "Body content type",
                    "x-ms-visibility": "advanced",
                    "description": "Content type of the body."
                },
                "content": {
                    "type": "string",
                    "x-ms-summary": "Body content",
                    "description": "Content of the body."
                }
            },
            "description": "Represents properties of the body of an item, such as a message, event or group post."
        }
    },
    "parameters": {
        "groupId__in_path": {
            "name": "groupId",
            "in": "path",
            "description": "Pick a group from the drop down or enter group id.",
            "required": true,
            "x-ms-summary": "Group ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
                "operationId": "ListGroups",
                "parameters": {
                    "$filter": "groupTypes/any(c:c eq 'Unified')",
                    "$select": "id,displayName",
                    "$top": 999
                },
                "value-path": "id",
                "value-title": "displayName",
                "value-collection": "value"
            },
            "x-ms-visibility": "important",
            "type": "string"
        },
        "expand__in_query": {
            "name": "$expand",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "attachments",
            "x-ms-visibility": "internal"
        }
    },
    "responses": {},
    "securityDefinitions": {
        "undefined": {
            "type": "oauth2",
            "flow": "accessCode",
            "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
            "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
            "scopes": {}
        }
    },
    "security": [
        {
            "undefined": []
        }
    ],
    "tags": [],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://docs.microsoft.com/en-us/graph/api/resources/groups-overview?view=graph-rest-1.0"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Productivity"
        }
    ]
}