{
  "swagger": "2.0",
  "info": {
    "title": "iManage Work",
    "description": "iManage Work connector enables users to automate repetitive tasks and approval processes while they keep all their files secure in the iManage Work environment.",
    "version": "4.0",
    "contact": {
      "name": "iManage LLC",
      "url": "https://docs.imanage.com",
      "email": "cloudsupport@imanage.com"
    }
  },
  "host": "cloudimanage.com",
  "basePath": "/automate/work",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "multipart/form-data"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/getTrustees": {
      "post": {
        "summary": "Get trustees",
        "description": "Gets a list of trustees with certain permissions for a document, folder or workspace. A trustee can be a user or group.",
        "tags": [
          "Documents, Folders, Workspaces"
        ],
        "x-im-controller": "common.controllers",
        "operationId": "GetTrustees",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "objectType": {
                  "type": "string",
                  "enum": [
                    "document",
                    "folder",
                    "workspace"
                  ],
                  "title": "Object Type",
                  "description": "Specifies the type of object.",
                  "x-ms-visibility": "important",
                  "default": "document"
                },
                "objectId": {
                  "type": "string",
                  "pattern": "^[^!]+![0-9.]*[0-9]+$",
                  "title": "Object ID",
                  "description": "Specifies the ID of the document, folder or workspace. An example of a document ID is 'ACTIVE_US!453.1'. An example of a folder or workspace ID is 'ACTIVE_US!123'.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "objectType",
                "objectId"
              ],
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "full_name": {
                        "type": "string",
                        "title": "Trustee Full Name",
                        "description": "Indicates the full name of the trustee."
                      },
                      "id": {
                        "type": "string",
                        "title": "Trustee ID",
                        "description": "Indicates the ID of the trustee. This can be a group ID or user ID. For example, 'JSMITH' or 'MARKETING'."
                      },
                      "ssid": {
                        "type": "string",
                        "title": "Trustee SSID",
                        "description": "Indicates the unique, system-generated ID of the trustee."
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "user",
                          "group"
                        ],
                        "title": "Trustee Type",
                        "description": "Indicates the type of entity returned. Possible values are 'user' or 'group'."
                      }
                    }
                  }
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/updateDefaultSecurity": {
      "post": {
        "summary": "Update default security",
        "description": "Updates the default security of a document, folder or workspace.",
        "tags": [
          "Documents, Folders, Workspaces"
        ],
        "x-im-controller": "common.controllers",
        "operationId": "UpdateDefaultSecurity",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "objectType": {
                  "type": "string",
                  "enum": [
                    "document",
                    "folder",
                    "workspace"
                  ],
                  "title": "Object Type",
                  "description": "Specifies the type of object.",
                  "x-ms-visibility": "important",
                  "default": "document"
                },
                "objectId": {
                  "type": "string",
                  "pattern": "^[^!]+![0-9.]*[0-9]+$",
                  "title": "Object ID",
                  "description": "Specifies the ID of the document, folder or workspace. An example of a document ID is 'ACTIVE_US!453.1'. An example of a folder or workspace ID is 'ACTIVE_US!123'.",
                  "x-ms-visibility": "important"
                },
                "default_security": {
                  "type": "string",
                  "title": "Default Security",
                  "description": "Specifies the default security for the object.",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetAllowedDefaultSecurity",
                    "value-collection": "data",
                    "value-title": "display_name",
                    "value-path": "id",
                    "parameters": {
                      "objectType": {
                        "parameter": "objectType"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetAllowedDefaultSecurity",
                    "itemsPath": "data",
                    "itemTitlePath": "display_name",
                    "itemValuePath": "id",
                    "parameters": {
                      "objectType": {
                        "parameterReference": "body/objectType"
                      }
                    }
                  }
                }
              },
              "required": [
                "objectType",
                "objectId",
                "default_security"
              ],
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "default_security": {
                      "type": "string",
                      "enum": [
                        "inherit",
                        "public",
                        "view",
                        "private"
                      ],
                      "title": "Default Security",
                      "description": "Indicates the default security of the object. Possible values are 'inherit', 'public', 'view' or 'private'.",
                      "x-ms-visibility": "important"
                    },
                    "acl": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "title": "Trustee ID",
                            "type": "string",
                            "description": "Indicates the ID of the trustee. This can be a user ID or a group ID."
                          },
                          "is_external": {
                            "title": "Is External",
                            "type": "boolean",
                            "description": "Indicates that the entity is an external user or group."
                          },
                          "sid": {
                            "title": "Trustee SID",
                            "type": "string",
                            "description": "Indicates the security identifier of the user or group."
                          },
                          "type": {
                            "title": "Trustee Type",
                            "type": "string",
                            "enum": [
                              "user",
                              "group"
                            ],
                            "description": "Indicates the type of trustee returned. Possible values are 'user' or 'group'."
                          },
                          "access": {
                            "title": "Access",
                            "type": "number",
                            "description": "Indicates the numeric value of the access permission the user or group has on the object. Possible values are 0 (no_access), 1 (read), 2 (read_write) or 3 (full_access)."
                          },
                          "access_level": {
                            "title": "Access Level",
                            "type": "string",
                            "enum": [
                              "no_access",
                              "read",
                              "read_write",
                              "full_access"
                            ],
                            "description": "Indicates the access permission the user or group has on the object. Possible values are 'no_access', 'read', 'read_write' or 'full_access'."
                          }
                        },
                        "required": [
                          "id",
                          "is_external",
                          "sid",
                          "type",
                          "access_level"
                        ]
                      },
                      "description": "Collection of user or group access permissions.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "acl",
                    "default_security"
                  ]
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/updatePermissions": {
      "post": {
        "summary": "Update permissions",
        "description": "Updates permissions of an object.",
        "tags": [
          "Documents, Folders, Workspaces"
        ],
        "x-im-controller": "common.controllers",
        "operationId": "UpdatePermissions",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "objectType": {
                  "type": "string",
                  "enum": [
                    "document",
                    "folder",
                    "workspace"
                  ],
                  "title": "Object Type",
                  "description": "Specifies the type of object.",
                  "x-ms-visibility": "important",
                  "default": "document"
                },
                "objectId": {
                  "type": "string",
                  "pattern": "^[^!]+![0-9.]*[0-9]+$",
                  "title": "Object ID",
                  "description": "Specifies the ID of the document, folder or workspace. An example of a document ID is 'ACTIVE_US!453.1'. An example of a folder or workspace ID is 'ACTIVE_US!123'.",
                  "x-ms-visibility": "important"
                },
                "access_level": {
                  "type": "string",
                  "enum": [
                    "No Access",
                    "Read Only",
                    "Read/Write",
                    "Full Access",
                    "Remove"
                  ],
                  "title": "Access Level",
                  "description": "Specifies the access level.",
                  "x-ms-visibility": "important"
                },
                "users": {
                  "type": "string",
                  "title": "Users",
                  "description": "Specifies one or more users to set the access level, separated by a semicolon.",
                  "x-ms-visibility": "important"
                },
                "groups": {
                  "type": "string",
                  "title": "Groups",
                  "description": "Specifies one or more groups to set the access level, separated by a semicolon.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "objectType",
                "objectId",
                "access_level"
              ],
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "$ref": "#/definitions/UpdatePermissionsResponse"
            }
          }
        }
      }
    },
    "/getPermissions": {
      "post": {
        "summary": "Get permissions",
        "description": "Gets user or group access permission properties of a document, folder or workspace. Response properties can vary with user or group permissions.",
        "tags": [
          "Documents, Folders, Workspaces"
        ],
        "x-im-controller": "common.controllers",
        "operationId": "GetPermissions",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "objectType": {
                  "type": "string",
                  "enum": [
                    "document",
                    "folder",
                    "workspace"
                  ],
                  "title": "Object Type",
                  "description": "Specifies the type of object.",
                  "x-ms-visibility": "important",
                  "default": "document"
                },
                "objectId": {
                  "type": "string",
                  "pattern": "^[^!]+![0-9.]*[0-9]+$",
                  "title": "Object ID",
                  "description": "Specifies the ID of the document, folder or workspace. An example of a document ID is 'ACTIVE_US!453.1'. An example of a folder or workspace ID is 'ACTIVE_US!123'.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "objectType",
                "objectId"
              ],
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The permissions for the object.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "default_security": {
                      "type": "string",
                      "enum": [
                        "inherit",
                        "public",
                        "view",
                        "private"
                      ],
                      "title": "Default Security",
                      "description": "Indicates the default security of the object. Possible values are 'inherit', 'public', 'view' or 'private'.",
                      "x-ms-visibility": "important"
                    },
                    "inherited_default_security": {
                      "type": "string",
                      "enum": [
                        "public",
                        "view",
                        "private"
                      ],
                      "title": "Inherited Default Security",
                      "description": "Indicates the inherited default security of a folder when the default security is set to 'inherit'. Possible values are 'public', 'view' or 'private'.",
                      "x-ms-visibility": "important"
                    },
                    "acl": {
                      "type": "array",
                      "title": "Access Permissions",
                      "description": "Indicates a collection of access permissions for one or more users and/or groups.",
                      "x-ms-visibility": "important",
                      "items": {
                        "type": "object",
                        "title": "Each Access Permission",
                        "description": "Indicates the access permission for one or more users and/or groups.",
                        "properties": {
                          "name": {
                            "type": "string",
                            "title": "Trustee Name",
                            "description": "Indicates the name of the trustee."
                          },
                          "id": {
                            "type": "string",
                            "title": "Trustee ID",
                            "description": "Indicates the ID of the trustee. This can be a user ID or a group ID."
                          },
                          "sid": {
                            "title": "Trustee SID",
                            "type": "string",
                            "description": "Indicates the security identifier of the user or group."
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "user",
                              "group"
                            ],
                            "title": "Trustee Type",
                            "description": "Indicates the type of trustee returned. Possible values are 'user' or 'group'."
                          },
                          "access_level": {
                            "type": "string",
                            "enum": [
                              "no_access",
                              "read",
                              "read_write",
                              "full_access",
                              "change_security"
                            ],
                            "title": "Access Level",
                            "description": "Indicates the access permission the user or group has on the object. Possible values are 'no_access', 'read', 'read_write' or 'full_access'."
                          },
                          "access_level_display_name": {
                            "type": "string",
                            "enum": [
                              "No Access",
                              "Read Only",
                              "Read/Write",
                              "Full Access",
                              "Change Security"
                            ],
                            "title": "Access-level Display Name",
                            "description": "Indicates the human-readable access-level display name assigned to the user or group for this object. Possible values are 'No Access', 'Read Only', 'Read/Write' or 'Full Access'."
                          },
                          "access": {
                            "type": "integer",
                            "title": "Access",
                            "description": "Indicates the numeric value of the access permission the user or group has on the object. Possible values are 0 (no_access), 1 (read), 2 (read_write) or 3 (full_access)."
                          },
                          "is_external": {
                            "type": "boolean",
                            "title": "Is External",
                            "description": "Indicates if the user is an external user, or if the group is restricted to external users."
                          },
                          "allow_logon": {
                            "type": "boolean",
                            "title": "Allow Logon",
                            "description": "Indicates if the user is allowed to logon. Not applicable to groups."
                          },
                          "enabled": {
                            "type": "boolean",
                            "title": "Is Enabled",
                            "description": "Indicates if the group is enabled. Not applicable to users."
                          },
                          "has_restricted_member": {
                            "type": "boolean",
                            "title": "Has Restricted Member",
                            "description": "Indicates if the group has at least one user with access to this object denied by iManage Security Policy Manager."
                          }
                        },
                        "required": [
                          "id",
                          "is_external",
                          "sid",
                          "type",
                          "access_level"
                        ]
                      }
                    },
                    "all_user_ids": {
                      "type": "string",
                      "title": "All User IDs",
                      "description": "Indicates a list of all user IDs, concatenated as a string and separated by semicolons.",
                      "x-ms-visibility": "important"
                    },
                    "all_group_ids": {
                      "type": "string",
                      "title": "All Group IDs",
                      "description": "Indicates a list of all group IDs, concatenated as a string and separated by semicolons.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "acl",
                    "default_security",
                    "all_user_ids",
                    "all_group_ids"
                  ]
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/copyPermissions": {
      "post": {
        "summary": "Copy permissions",
        "description": "Copies the access permissions, and optionally the default security, from one iManage Work object to another. 'Copy Type' gives you options for how to handle the combination of source and destination permissions. 'Overwrite' updates the target object's users, groups, and permission levels to exactly match the source object's. 'Merge' keeps all the users and groups on the destination object and combines them with the source, but in case of a conflict of permission level on an individual or group: 'Merge (Pessimistic)' takes the lower permission, while 'Merge (Optimistic)' takes the higher permission for the conflicting user or group.",
        "tags": [
          "Documents, Folders, Workspaces"
        ],
        "x-im-controller": "common.controllers",
        "operationId": "CopyPermissions",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "sourceObjectType": {
                  "type": "string",
                  "enum": [
                    "document",
                    "folder",
                    "workspace"
                  ],
                  "title": "Source Object Type",
                  "description": "Specifies the type of the source object.",
                  "x-ms-visibility": "important"
                },
                "sourceObjectId": {
                  "type": "string",
                  "pattern": "^[^!]+![0-9.]*[0-9]+$",
                  "title": "Source Object ID",
                  "description": "Specifies the ID of the object from which the permissions are copied. An example of a document ID is 'ACTIVE_US!453.1'. An example of a folder or workspace ID is 'ACTIVE_US!123'.",
                  "x-ms-visibility": "important"
                },
                "targetObjectType": {
                  "type": "string",
                  "enum": [
                    "document",
                    "folder",
                    "workspace"
                  ],
                  "title": "Target Object Type",
                  "description": "Specifies the type of the target object.",
                  "x-ms-visibility": "important"
                },
                "targetObjectId": {
                  "type": "string",
                  "pattern": "^[^!]+![0-9.]*[0-9]+$",
                  "title": "Target Object ID",
                  "description": "Specifies the ID of the object to which the permissions are copied. An example of a document ID is 'ACTIVE_US!453.1'. An example of a folder or workspace ID is 'ACTIVE_US!123'.",
                  "x-ms-visibility": "important"
                },
                "copyType": {
                  "type": "string",
                  "enum": [
                    "Overwrite",
                    "Merge (Pessimistic)",
                    "Merge (Optimistic)"
                  ],
                  "title": "Copy Type",
                  "description": "Specifies to merge the source object permissions with target object permissions or to overwrite target object permissions with source permissions. For details, see the action description.",
                  "x-ms-visibility": "important",
                  "default": "Overwrite"
                },
                "copyDefaultSecurity": {
                  "type": "boolean",
                  "title": "Copy Default Security",
                  "description": "Specifies to copy the default security of the source object to the target object. If the default security of the source object is 'inherit', the inherited default security is copied from the source to the target object.",
                  "x-ms-visibility": "important",
                  "default": true
                }
              },
              "required": [
                "sourceObjectType",
                "sourceObjectId",
                "targetObjectType",
                "targetObjectId",
                "copyType",
                "copyDefaultSecurity"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the permissions of the target object.",
            "schema": {
              "$ref": "#/definitions/UpdatePermissionsResponse"
            }
          }
        }
      }
    },
    "/createWorkspace": {
      "post": {
        "summary": "Create workspace",
        "description": "Creates a new workspace based on the selected template. A workspace template is a predefined workspace whose structure is copied to the new workspace. Restrictions on the workspace template are automatically enforced when creating the new workspace.",
        "tags": [
          "Workspaces"
        ],
        "x-im-controller": "workspace.controllers",
        "operationId": "CreateWorkspace",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "libraryId": {
                  "type": "string",
                  "title": "Library ID",
                  "description": "Specifies the library ID of the target workspace.",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetLibraries",
                    "value-collection": "data",
                    "value-title": "display_name",
                    "value-path": "id"
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetLibraries",
                    "itemsPath": "data",
                    "itemTitlePath": "display_name",
                    "itemValuePath": "id"
                  }
                },
                "templateId": {
                  "type": "string",
                  "title": "Template",
                  "description": "Specifies the workspace template to use for creating the workspace and its children.",
                  "pattern": "^[^!]+![0-9]+$",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetWorkspaceTemplates",
                    "value-collection": "data/results",
                    "value-title": "name",
                    "value-path": "id",
                    "parameters": {
                      "libraryId": {
                        "parameter": "libraryId"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetWorkspaceTemplates",
                    "itemsPath": "data/results",
                    "itemTitlePath": "name",
                    "itemValuePath": "id",
                    "parameters": {
                      "libraryId": {
                        "parameterReference": "body/libraryId"
                      }
                    }
                  }
                },
                "name": {
                  "type": "string",
                  "title": "Name",
                  "maxLength": 254,
                  "pattern": "^(?!\\s*$)[*()&\\-_|@$%^?:{}!#+<>;=\\/\\s'.`~\",\\]\\[(\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF)|\\w]+$",
                  "description": "Specifies the name of the workspace."
                },
                "createChildren": {
                  "type": "string",
                  "enum": [
                    "All Folders",
                    "Only Required Folders"
                  ],
                  "title": "Create Children",
                  "description": "Specifies to create all folders (optional and required) or only the required folders.",
                  "default": "Only Required Folders"
                },
                "owner": {
                  "type": "string",
                  "title": "Workspace Owner",
                  "pattern": "^(?!\\s*$)[*()&\\-_|@$%^?:{}!#+<>;=\\/\\s'.`~\",\\]\\[(\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF)|\\w]+$",
                  "maxLength": 63,
                  "description": "Specifies the owner of the workspace. You must be an iManage Work system administrator to set the owner of a workspace.",
                  "x-ms-visibility": "advanced"
                },
                "default_security": {
                  "type": "string",
                  "enum": [
                    "private",
                    "view",
                    "public"
                  ],
                  "title": "Default Security",
                  "description": "Specifies the default access level. If it is not specified, the default access level of the selected template is used.",
                  "x-ms-visibility": "advanced"
                },
                "description": {
                  "type": "string",
                  "title": "Description",
                  "maxLength": 254,
                  "description": "Specifies additional information about the workspace.",
                  "default": "Created from iManage Work Connector",
                  "x-ms-visibility": "advanced"
                },
                "custom1": {
                  "type": "string",
                  "title": "Custom1",
                  "description": "Specifies the value of custom1 to associate with the newly created workspace. This value overrides the custom1 value of the selected template workspace, if present. If the child folders have a custom1 value set, the custom1 value of those child folders is not overwritten.",
                  "x-ms-visibility": "advanced"
                },
                "custom2": {
                  "type": "string",
                  "title": "Custom2",
                  "description": "Specifies the value of custom2 to associate with the newly created workspace. To specify a value for custom2, you must also specify a value for custom1 in the same request, which is due to their parent-child relationship. This value overrides the custom2 value of the selected template workspace, if present. If the child folders have a custom2 value set, the custom2 value of those child folders is not overwritten.",
                  "x-ms-visibility": "advanced"
                },
                "custom3": {
                  "type": "string",
                  "title": "Custom3",
                  "description": "Specifies the value of custom3.",
                  "x-ms-visibility": "advanced"
                },
                "custom4": {
                  "type": "string",
                  "title": "Custom4",
                  "description": "Specifies the value of custom4.",
                  "x-ms-visibility": "advanced"
                },
                "custom5": {
                  "type": "string",
                  "title": "Custom5",
                  "description": "Specifies the value of custom5.",
                  "x-ms-visibility": "advanced"
                },
                "custom6": {
                  "type": "string",
                  "title": "Custom6",
                  "description": "Specifies the value of custom6.",
                  "x-ms-visibility": "advanced"
                },
                "custom7": {
                  "type": "string",
                  "title": "Custom7",
                  "description": "Specifies the value of custom7.",
                  "x-ms-visibility": "advanced"
                },
                "custom8": {
                  "type": "string",
                  "title": "Custom8",
                  "description": "Specifies the value of custom8.",
                  "x-ms-visibility": "advanced"
                },
                "custom9": {
                  "type": "string",
                  "title": "Custom9",
                  "description": "Specifies the value of custom9.",
                  "x-ms-visibility": "advanced"
                },
                "custom10": {
                  "type": "string",
                  "title": "Custom10",
                  "description": "Specifies the value of custom10.",
                  "x-ms-visibility": "advanced"
                },
                "custom11": {
                  "type": "string",
                  "title": "Custom11",
                  "description": "Specifies the value of custom11.",
                  "x-ms-visibility": "advanced"
                },
                "custom12": {
                  "type": "string",
                  "title": "Custom12",
                  "description": "Specifies the value of custom12.",
                  "x-ms-visibility": "advanced"
                },
                "custom13": {
                  "type": "string",
                  "title": "Custom13",
                  "description": "Specifies the value of custom13.",
                  "x-ms-visibility": "advanced"
                },
                "custom14": {
                  "type": "string",
                  "title": "Custom14",
                  "description": "Specifies the value of custom14.",
                  "x-ms-visibility": "advanced"
                },
                "custom15": {
                  "type": "string",
                  "title": "Custom15",
                  "description": "Specifies the value of custom15.",
                  "x-ms-visibility": "advanced"
                },
                "custom16": {
                  "type": "string",
                  "title": "Custom16",
                  "description": "Specifies the value of custom16.",
                  "x-ms-visibility": "advanced"
                },
                "custom17": {
                  "type": "number",
                  "format": "double",
                  "title": "Custom17",
                  "description": "Specifies the value of custom17.",
                  "x-ms-visibility": "advanced"
                },
                "custom18": {
                  "type": "number",
                  "format": "double",
                  "title": "Custom18",
                  "description": "Specifies the value of custom18.",
                  "x-ms-visibility": "advanced"
                },
                "custom19": {
                  "type": "number",
                  "format": "double",
                  "title": "Custom19",
                  "description": "Specifies the value of custom19.",
                  "x-ms-visibility": "advanced"
                },
                "custom20": {
                  "type": "number",
                  "format": "double",
                  "title": "Custom20",
                  "description": "Specifies the value of custom20.",
                  "x-ms-visibility": "advanced"
                },
                "custom21": {
                  "type": "string",
                  "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
                  "title": "Custom21",
                  "description": "Specifies the value of custom21 in ISO 8601 datetime format.",
                  "x-ms-visibility": "advanced"
                },
                "custom22": {
                  "type": "string",
                  "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
                  "title": "Custom22",
                  "description": "Specifies the value of custom22 in ISO 8601 datetime format.",
                  "x-ms-visibility": "advanced"
                },
                "custom23": {
                  "type": "string",
                  "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
                  "title": "Custom23",
                  "description": "Specifies the value of custom23 in ISO 8601 datetime format.",
                  "x-ms-visibility": "advanced"
                },
                "custom24": {
                  "type": "string",
                  "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
                  "title": "Custom24",
                  "description": "Specifies the value of custom24 in ISO 8601 datetime format.",
                  "x-ms-visibility": "advanced"
                },
                "custom25": {
                  "type": "boolean",
                  "title": "Custom25",
                  "description": "Specifies the value of custom25.",
                  "x-ms-visibility": "advanced"
                },
                "custom26": {
                  "type": "boolean",
                  "title": "Custom26",
                  "description": "Specifies the value of custom26.",
                  "x-ms-visibility": "advanced"
                },
                "custom27": {
                  "type": "boolean",
                  "title": "Custom27",
                  "description": "Specifies the value of custom27.",
                  "x-ms-visibility": "advanced"
                },
                "custom28": {
                  "type": "boolean",
                  "title": "Custom28",
                  "description": "Specifies the value of custom28.",
                  "x-ms-visibility": "advanced"
                },
                "custom29": {
                  "type": "string",
                  "title": "Custom29",
                  "description": "Specifies the value of custom29.",
                  "x-ms-visibility": "advanced"
                },
                "custom30": {
                  "type": "string",
                  "title": "Custom30",
                  "description": "Specifies the value of custom30. To specify a value for custom30, you must also specify a value for custom29 in the same request, which is due to their parent-child relationship.",
                  "x-ms-visibility": "advanced"
                },
                "is_external_as_normal": {
                  "type": "boolean",
                  "title": "Is External As Normal",
                  "description": "Specifies the workspace can be treated as a public workspace. If set to 'true' and 'default_security' is not 'private', sets 'is_external' to 'true'.",
                  "x-ms-visibility": "advanced"
                },
                "project_custom1": {
                  "type": "string",
                  "title": "Project Custom1",
                  "maxLength": 254,
                  "description": "Specifies additional information about the workspace. This field is different than the metadata custom field associated with content items, such as documents, workspaces or folders. This is descriptive text that does not have to be formatted, and is not validated.",
                  "x-ms-visibility": "advanced"
                },
                "project_custom2": {
                  "type": "string",
                  "title": "Project Custom2",
                  "maxLength": 254,
                  "description": "Specifies additional information about the workspace. This field is different than the metadata custom field associated with content items, such as documents, workspaces or folders. This is descriptive text that does not have to be formatted, and is not validated.",
                  "x-ms-visibility": "advanced"
                },
                "project_custom3": {
                  "type": "string",
                  "title": "Project Custom3",
                  "maxLength": 254,
                  "description": "Specifies additional information about the workspace. This field is different than the metadata custom field associated with content items, such as documents, workspaces or folders. This is descriptive text that does not have to be formatted, and is not validated.",
                  "x-ms-visibility": "advanced"
                },
                "subclass": {
                  "type": "string",
                  "title": "Workspace Subclass",
                  "description": "Specifies the subclass of the workspace based on the subclass of the document it contains.",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "libraryId",
                "templateId",
                "name",
                "createChildren"
              ],
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/WorkspaceProfileResponseBody"
          }
        }
      }
    },
    "/updateWorkspace": {
      "post": {
        "summary": "Update workspace",
        "description": "Updates information of the specified workspace. To delete the existing value of a string field, set the value of the field to an empty string wrapped in single or double quotes.",
        "tags": [
          "Workspaces"
        ],
        "x-im-controller": "workspace.controllers",
        "operationId": "UpdateWorkspace",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "title": "Workspace ID",
                  "pattern": "^[^!]+![0-9]+$",
                  "description": "Specifies the ID of the workspace to be updated. For example, 'ACTIVE_US!427'."
                },
                "name": {
                  "type": "string",
                  "title": "Name",
                  "maxLength": 254,
                  "pattern": "^(?!\\s*$)[*()&\\-_|@$%^?:{}!#+<>;=\\/\\s'.`~\",\\]\\[(\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF)|\\w]+$",
                  "description": "Specifies the name of the workspace.",
                  "x-ms-visibility": "advanced"
                },
                "owner": {
                  "type": "string",
                  "title": "Workspace Owner",
                  "pattern": "^(?!\\s*$)[*()&\\-_|@$%^?:{}!#+<>;=\\/\\s'.`~\",\\]\\[(\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF)|\\w]+$",
                  "maxLength": 63,
                  "description": "Specifies the owner of the workspace.",
                  "x-ms-visibility": "advanced"
                },
                "custom1": {
                  "type": "string",
                  "title": "Custom1",
                  "description": "Specifies the value of custom1.",
                  "x-ms-visibility": "important"
                },
                "custom2": {
                  "type": "string",
                  "title": "Custom2",
                  "description": "Specifies the value of custom2. To specify a value for custom2, you must also specify a value for custom1 in the same request, which is due to their parent-child relationship.",
                  "x-ms-visibility": "important"
                },
                "custom3": {
                  "type": "string",
                  "title": "Custom3",
                  "description": "Specifies the value of custom3.",
                  "x-ms-visibility": "advanced"
                },
                "custom4": {
                  "type": "string",
                  "title": "Custom4",
                  "description": "Specifies the value of custom4.",
                  "x-ms-visibility": "advanced"
                },
                "custom5": {
                  "type": "string",
                  "title": "Custom5",
                  "description": "Specifies the value of custom5.",
                  "x-ms-visibility": "advanced"
                },
                "custom6": {
                  "type": "string",
                  "title": "Custom6",
                  "description": "Specifies the value of custom6.",
                  "x-ms-visibility": "advanced"
                },
                "custom7": {
                  "type": "string",
                  "title": "Custom7",
                  "description": "Specifies the value of custom7.",
                  "x-ms-visibility": "advanced"
                },
                "custom8": {
                  "type": "string",
                  "title": "Custom8",
                  "description": "Specifies the value of custom8.",
                  "x-ms-visibility": "advanced"
                },
                "custom9": {
                  "type": "string",
                  "title": "Custom9",
                  "description": "Specifies the value of custom9.",
                  "x-ms-visibility": "advanced"
                },
                "custom10": {
                  "type": "string",
                  "title": "Custom10",
                  "description": "Specifies the value of custom10.",
                  "x-ms-visibility": "advanced"
                },
                "custom11": {
                  "type": "string",
                  "title": "Custom11",
                  "description": "Specifies the value of custom11.",
                  "x-ms-visibility": "advanced"
                },
                "custom12": {
                  "type": "string",
                  "title": "Custom12",
                  "description": "Specifies the value of custom12.",
                  "x-ms-visibility": "advanced"
                },
                "custom13": {
                  "type": "string",
                  "title": "Custom13",
                  "description": "Specifies the value of custom13.",
                  "x-ms-visibility": "advanced"
                },
                "custom14": {
                  "type": "string",
                  "title": "Custom14",
                  "description": "Specifies the value of custom14.",
                  "x-ms-visibility": "advanced"
                },
                "custom15": {
                  "type": "string",
                  "title": "Custom15",
                  "description": "Specifies the value of custom15.",
                  "x-ms-visibility": "advanced"
                },
                "custom16": {
                  "type": "string",
                  "title": "Custom16",
                  "description": "Specifies the value of custom16.",
                  "x-ms-visibility": "advanced"
                },
                "custom17": {
                  "type": "number",
                  "format": "double",
                  "title": "Custom17",
                  "description": "Specifies the value of custom17.",
                  "x-ms-visibility": "advanced"
                },
                "custom18": {
                  "type": "number",
                  "format": "double",
                  "title": "Custom18",
                  "description": "Specifies the value of custom18.",
                  "x-ms-visibility": "advanced"
                },
                "custom19": {
                  "type": "number",
                  "format": "double",
                  "title": "Custom19",
                  "description": "Specifies the value of custom19.",
                  "x-ms-visibility": "advanced"
                },
                "custom20": {
                  "type": "number",
                  "format": "double",
                  "title": "Custom20",
                  "description": "Specifies the value of custom20.",
                  "x-ms-visibility": "advanced"
                },
                "custom21": {
                  "type": "string",
                  "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
                  "title": "Custom21",
                  "description": "Specifies the value of custom21, in ISO 8601 datetime format.",
                  "x-ms-visibility": "advanced"
                },
                "custom22": {
                  "type": "string",
                  "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
                  "title": "Custom22",
                  "description": "Specifies the value of custom22, in ISO 8601 datetime format.",
                  "x-ms-visibility": "advanced"
                },
                "custom23": {
                  "type": "string",
                  "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
                  "title": "Custom23",
                  "description": "Specifies the value of custom23, in ISO 8601 datetime format.",
                  "x-ms-visibility": "advanced"
                },
                "custom24": {
                  "type": "string",
                  "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
                  "title": "Custom24",
                  "description": "Specifies the value of custom24, in ISO 8601 datetime format.",
                  "x-ms-visibility": "advanced"
                },
                "custom25": {
                  "type": "boolean",
                  "title": "Custom25",
                  "description": "Specifies the value of custom25.",
                  "x-ms-visibility": "advanced"
                },
                "custom26": {
                  "type": "boolean",
                  "title": "Custom26",
                  "description": "Specifies the value of custom26.",
                  "x-ms-visibility": "advanced"
                },
                "custom27": {
                  "type": "boolean",
                  "title": "Custom27",
                  "description": "Specifies the value of custom27.",
                  "x-ms-visibility": "advanced"
                },
                "custom28": {
                  "type": "boolean",
                  "title": "Custom28",
                  "description": "Specifies the value of custom28.",
                  "x-ms-visibility": "advanced"
                },
                "custom29": {
                  "type": "string",
                  "title": "Custom29",
                  "description": "Specifies the value of custom29.",
                  "x-ms-visibility": "advanced"
                },
                "custom30": {
                  "type": "string",
                  "title": "Custom30",
                  "description": "Specifies the value of custom30. To specify a value for custom30, you must also specify a value for custom29 in the same request, which is due to their parent-child relationship.",
                  "x-ms-visibility": "advanced"
                },
                "default_security": {
                  "type": "string",
                  "enum": [
                    "private",
                    "view",
                    "public"
                  ],
                  "title": "Default Security",
                  "description": "Specifies the default security access level.",
                  "x-ms-visibility": "important"
                },
                "description": {
                  "type": "string",
                  "title": "Description",
                  "maxLength": 254,
                  "description": "Specifies additional information about the workspace.",
                  "x-ms-visibility": "advanced"
                },
                "is_external_as_normal": {
                  "type": "boolean",
                  "title": "Is External As Normal",
                  "description": "Specifies if the workspace can be treated as a public workspace. If set to 'true' and 'default_security' is not 'private', 'is_external' is set to 'true'.",
                  "x-ms-visibility": "advanced"
                },
                "project_custom1": {
                  "type": "string",
                  "title": "Project Custom1",
                  "maxLength": 254,
                  "description": "Specifies additional information about the workspace. This field is different than the metadata custom field associated with content items, such as documents, workspaces, or folders. This is descriptive text that does not have to be formatted, and is not validated.",
                  "x-ms-visibility": "advanced"
                },
                "project_custom2": {
                  "type": "string",
                  "title": "Project Custom2",
                  "maxLength": 254,
                  "description": "Specifies additional information about the workspace. This field is different than the metadata custom field associated with content items, such as documents, workspaces, or folders. This is descriptive text that does not have to be formatted, and is not validated.",
                  "x-ms-visibility": "advanced"
                },
                "project_custom3": {
                  "type": "string",
                  "title": "Project Custom3",
                  "maxLength": 254,
                  "description": "Specifies additional information about the workspace. This field is different than the metadata custom field associated with content items, such as documents, workspaces, or folders. This is descriptive text that does not have to be formatted, and is not validated.",
                  "x-ms-visibility": "advanced"
                },
                "subclass": {
                  "type": "string",
                  "title": "Workspace Subclass",
                  "description": "Specifies the subclass of the workspace based on the subclass of the document it contains.",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "id"
              ],
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/WorkspaceProfileResponseBody"
          }
        }
      }
    },
    "/getClasses": {
      "get": {
        "summary": "Get classes",
        "description": "Gets the list of document classes available in a library that match the specified criteria.",
        "tags": [
          "Library"
        ],
        "x-im-controller": "common.controllers",
        "operationId": "GetClasses",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "libraryId",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Library ID",
            "description": "Specifies the library ID of the target class.",
            "x-ms-visibility": "important",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetLibraries",
              "value-collection": "data",
              "value-title": "display_name",
              "value-path": "id"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetLibraries",
              "itemsPath": "data",
              "itemTitlePath": "display_name",
              "itemValuePath": "id"
            }
          },
          {
            "name": "alias",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Class ID",
            "description": "Specifies the ID of a class or classes to search for. Can be a comma-separated list. This search is not case-sensitive. The wildcard character (*) and partial matches are supported.",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "name": "default_security",
            "in": "query",
            "type": "string",
            "enum": [
              "private",
              "view",
              "public"
            ],
            "x-ms-summary": "Default Security",
            "description": "Specifies the default security access level.",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "name": "description",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Description",
            "description": "Specifies the text to match in the description field. This search is not case-sensitive. The wildcard character (*) is supported. Partial matches are not supported.",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "name": "echo",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Echo",
            "description": "Specifies if documents of this class can echo documents.",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "name": "hipaa",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "HIPAA",
            "description": "Specifies if documents of this class use HIPAA compliant encryption.",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "name": "indexable",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Indexable",
            "description": "Specifies if documents of this class are indexed by the system's full-text indexer.",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "name": "query",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Query",
            "description": "Specifies the text to match with the ID or description fields. This search is not case-sensitive. The wildcard character (*) and partial matches are supported.",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "name": "subclass_required",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Subclass Required",
            "description": "Specifies if the class has a required subclass.",
            "x-ms-visibility": "advanced",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "List of classes.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "topMatchingId": {
                      "type": "string",
                      "title": "Top Matching Class ID",
                      "description": "Indicates the ID of the top matching class. For example, 'PETITION'."
                    },
                    "topMatchingDescription": {
                      "type": "string",
                      "title": "Top Matching Class Description",
                      "description": "Indicates the description of the top matching class."
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "title": "Class Description",
                            "description": "Indicates additional information about the class."
                          },
                          "hipaa": {
                            "type": "boolean",
                            "title": "Is HIPAA",
                            "description": "Indicates if the document is encrypted."
                          },
                          "id": {
                            "type": "string",
                            "title": "Class ID",
                            "description": "Indicates the ID of the class. For example, 'PETITION'."
                          },
                          "indexable": {
                            "type": "boolean",
                            "title": "Is Indexable",
                            "description": "Indicates if the document is indexed by the system."
                          },
                          "default_security": {
                            "type": "string",
                            "enum": [
                              "private",
                              "view",
                              "public"
                            ],
                            "title": "Default Security",
                            "description": "Indicates the default security access level. Possible values are 'public', 'view', 'private'."
                          },
                          "retain": {
                            "type": "integer",
                            "format": "int32",
                            "title": "Retain",
                            "description": "Indicates the number of days before marking inactive documents of this class as expired."
                          },
                          "required_fields": {
                            "type": "array",
                            "title": "Required Fields",
                            "description": "Indicates the mandatory custom properties to be entered when creating or updating a document of this class.",
                            "items": {
                              "type": "string"
                            }
                          },
                          "shadow": {
                            "type": "boolean",
                            "title": "Is Shadowed",
                            "description": "Indicates if a document of this class is shadowed (retained) on a user's local computer after checking it in."
                          },
                          "subclass_required": {
                            "type": "boolean",
                            "title": "Is Subclass Required",
                            "description": "Indicates if a subclass is required for this class."
                          }
                        },
                        "required": [
                          "id",
                          "description",
                          "default_security",
                          "retain",
                          "shadow",
                          "subclass_required",
                          "hipaa"
                        ]
                      }
                    }
                  }
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/getSubclasses": {
      "get": {
        "summary": "Get subclasses",
        "description": "Gets all the library subclasses that match the specified criteria.",
        "tags": [
          "Library"
        ],
        "x-im-controller": "common.controllers",
        "operationId": "GetSubclasses",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "libraryId",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Library ID",
            "description": "Specifies the library ID of the target subclass.",
            "x-ms-visibility": "important",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetLibraries",
              "value-collection": "data",
              "value-title": "display_name",
              "value-path": "id"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetLibraries",
              "itemsPath": "data",
              "itemTitlePath": "display_name",
              "itemValuePath": "id"
            }
          },
          {
            "name": "classId",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Class ID",
            "description": "Specifies the ID of the Class that is the parent of this subclass. For example, 'PETITION'.",
            "x-ms-visibility": "important",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetClasses",
              "value-collection": "data/results",
              "value-title": "description",
              "value-path": "id",
              "parameters": {
                "libraryId": {
                  "parameter": "libraryId"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetClasses",
              "itemsPath": "data/results",
              "itemTitlePath": "description",
              "itemValuePath": "id",
              "parameters": {
                "libraryId": {
                  "parameterReference": "libraryId"
                }
              }
            }
          },
          {
            "name": "alias",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Subclass ID",
            "description": "Specifies the ID of subclasses to search for. Can be a comma-separated list. The wildcard character (*) is supported. Partial matches are supported when the wildcard character is used.",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "name": "default_security",
            "in": "query",
            "type": "string",
            "enum": [
              "private",
              "view",
              "public"
            ],
            "x-ms-summary": "Default Security",
            "description": "Specifies the default security access level.",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "name": "description",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Description",
            "description": "Specifies the text to match in the description field. The wildcard character (*) is supported. Partial matches are supported when the wildcard character is used.",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "name": "echo",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Echo",
            "description": "Specifies if the subclasses can be echoed to a user's local hard drive. This is to facilitate working offline.",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "name": "hipaa",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "HIPAA",
            "description": "Specifies if HIPAA compliant subclasses are to be returned.",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "name": "query",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Query",
            "description": "Specifies the text to match with the Subclass ID or description fields. The wildcard character (*) is supported. Partial matches are supported.",
            "x-ms-visibility": "advanced",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "List of subclasses.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "topMatchingId": {
                      "type": "string",
                      "title": "Top Matching Subclass ID",
                      "description": "Indicates ID of the top matching subclass."
                    },
                    "topMatchingDescription": {
                      "type": "string",
                      "title": "Top Matching Subclass Description",
                      "description": "Indicates description of the top matching subclass."
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "default_security": {
                            "type": "string",
                            "enum": [
                              "private",
                              "view",
                              "public"
                            ],
                            "title": "Default Security",
                            "description": "Indicates default security access level. Possible values are 'public', 'view', 'private'."
                          },
                          "description": {
                            "type": "string",
                            "title": "Subclass Description",
                            "description": "Indicates additional information about the subclass. Maximum length is 255 characters."
                          },
                          "hipaa": {
                            "type": "boolean",
                            "title": "Is HIPAA",
                            "description": "Indicates if the document is encrypted."
                          },
                          "id": {
                            "type": "string",
                            "title": "Subclass ID",
                            "description": "Indicates the ID of a subclass used to create or modify the document profile information. For example, 'GUARDIANSHIP'."
                          },
                          "parent": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "title": "Parent ID",
                                "description": "Indicates the parent class ID of the subclass."
                              }
                            },
                            "required": [
                              "id"
                            ]
                          },
                          "required_fields": {
                            "type": "array",
                            "title": "Required Fields",
                            "description": "Indicates the mandatory custom properties to be entered when creating or updating a document of this subclass.",
                            "items": {
                              "type": "string"
                            }
                          },
                          "retain": {
                            "type": "integer",
                            "format": "int32",
                            "title": "Retain",
                            "description": "Indicates the number of days before marking inactive documents of this subclass as expired."
                          },
                          "shadow": {
                            "type": "boolean",
                            "title": "Is Shadowed",
                            "description": "Indicates if a document of this subclass is shadowed (retained) on a user's local computer after checking it in."
                          }
                        },
                        "required": [
                          "default_security",
                          "description",
                          "hipaa",
                          "id",
                          "parent",
                          "retain",
                          "shadow"
                        ]
                      }
                    }
                  }
                }
              },
              "required": [
                "data"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/getWorkspaceTemplates": {
      "get": {
        "summary": "Get workspace templates",
        "description": "Gets list of templates available in a library. A workspace template is a predefined workspace whose structure is copied for the new workspace.",
        "tags": [
          "Library"
        ],
        "x-im-controller": "workspaceTemplate.controllers",
        "operationId": "GetWorkspaceTemplates",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "libraryId",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Library ID",
            "description": "Specifies the library ID of the target workspace.",
            "x-ms-visibility": "important",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetLibraries",
              "value-collection": "data",
              "value-title": "display_name",
              "value-path": "id"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetLibraries",
              "itemsPath": "data",
              "itemTitlePath": "display_name",
              "itemValuePath": "id"
            }
          },
          {
            "name": "custom1",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Custom1",
            "description": "Specifies a value to match with custom1 value associated with the workspace template. This search is not case-sensitive. The wildcard character (*) and partial matches are not supported.",
            "x-ms-visibility": "important"
          },
          {
            "name": "custom2",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Custom2",
            "description": "Specifies a value to match with custom2 value associated with the workspace template. This search is not case-sensitive. The wildcard character (*) and partial matches are not supported.",
            "x-ms-visibility": "important"
          },
          {
            "name": "custom3",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Custom3",
            "description": "Specifies a value to match with custom3 value associated with the workspace template. This search is not case-sensitive. The wildcard character (*) and partial matches are not supported.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom4",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Custom4",
            "description": "Specifies a value to match with custom4 value associated with the workspace template. This search is not case-sensitive. The wildcard character (*) and partial matches are not supported.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom5",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Custom5",
            "description": "Specifies a value to match with custom5 value associated with the workspace template. This search is not case-sensitive. The wildcard character (*) and partial matches are not supported.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom6",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Custom6",
            "description": "Specifies a value to match with custom6 value associated with the workspace template. This search is not case-sensitive. The wildcard character (*) and partial matches are not supported.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom7",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Custom7",
            "description": "Specifies a value to match with custom7 value associated with the workspace template. This search is not case-sensitive. The wildcard character (*) and partial matches are not supported.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom8",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Custom8",
            "description": "Specifies a value to match with custom8 value associated with the workspace template. This search is not case-sensitive. The wildcard character (*) and partial matches are not supported.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom9",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Custom9",
            "description": "Specifies a value to match with custom9 value associated with the workspace template. This search is not case-sensitive. The wildcard character (*) and partial matches are not supported.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom10",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Custom10",
            "description": "Specifies a value to match with custom10 value associated with the workspace template. This search is not case-sensitive. The wildcard character (*) and partial matches are not supported.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom11",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Custom11",
            "description": "Specifies a value to match with custom11 value associated with the workspace template. This search is not case-sensitive. The wildcard character (*) and partial matches are not supported.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom12",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Custom12",
            "description": "Specifies a value to match with custom12 value associated with the workspace template. This search is not case-sensitive. The wildcard character (*) and partial matches are not supported.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom17",
            "in": "query",
            "type": "number",
            "format": "double",
            "x-ms-summary": "Custom17",
            "description": "Specifies the value for custom17.",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "name": "custom18",
            "in": "query",
            "type": "number",
            "format": "double",
            "x-ms-summary": "Custom18",
            "description": "Specifies the value for custom18.",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "name": "custom19",
            "in": "query",
            "type": "number",
            "format": "double",
            "x-ms-summary": "Custom19",
            "description": "Specifies the value for custom19.",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "name": "custom20",
            "in": "query",
            "type": "number",
            "format": "double",
            "x-ms-summary": "Custom20",
            "description": "Specifies the value for custom20.",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "name": "custom21",
            "in": "query",
            "type": "string",
            "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
            "x-ms-summary": "Custom21",
            "description": "Specifies the value (in ISO 8601 datetime format) to search for in custom21 associated with the workspace template. This search is not case-sensitive. For workspaces, the use of this property is customized for your iManage Work installation.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom22",
            "in": "query",
            "type": "string",
            "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
            "x-ms-summary": "Custom22",
            "description": "Specifies the value (in ISO 8601 datetime format) to search for in custom22 associated with the workspace template. This search is not case-sensitive. For workspaces, the use of this property is customized for your iManage Work installation.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom23",
            "in": "query",
            "type": "string",
            "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
            "x-ms-summary": "Custom23",
            "description": "Specifies the value (in ISO 8601 datetime format) to search for in custom23 associated with the workspace template. This search is not case-sensitive. For workspaces, the use of this property is customized for your iManage Work installation.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom24",
            "in": "query",
            "type": "string",
            "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
            "x-ms-summary": "Custom24",
            "description": "Specifies the value (in ISO 8601 datetime format) to search for in custom24 associated with the workspace template. This search is not case-sensitive. For workspaces, the use of this property is customized for your iManage Work installation.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom21_from",
            "in": "query",
            "type": "string",
            "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
            "x-ms-summary": "Custom21 (Lower Limit)",
            "description": "Specifies the lower limit of custom21 (in ISO 8601 datetime format) to search. This property is not reserved by iManage Work and is not a validated value. It is intended to be customized for your company's requirements.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom21_to",
            "in": "query",
            "type": "string",
            "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
            "x-ms-summary": "Custom21 (Upper Limit)",
            "description": "Specifies the upper limit of custom21 (in ISO 8601 datetime format) to search. This property is not reserved by iManage Work and is not a validated value. It is intended to be customized for your company's requirements.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom21_relative",
            "in": "query",
            "type": "string",
            "pattern": "^(-)?(\\d)+:(-)?(\\d)+([dmy])$",
            "x-ms-summary": "Custom21 (Relative)",
            "description": "Specifies a date range to search, relative to the current date. This parameter has a format of [begin]:[end][time units (d, m or y)]. For example, -15:1d specifies a date range from 15 days prior to the current date through one day after the current date (one day in the future).",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom22_from",
            "in": "query",
            "type": "string",
            "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
            "x-ms-summary": "Custom22 (Lower Limit)",
            "description": "Specifies the lower limit of custom22 (in ISO 8601 datetime format) to search. This property is not reserved by iManage Work and is not a validated value. It is intended to be customized for your company's requirements.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom22_to",
            "in": "query",
            "type": "string",
            "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
            "x-ms-summary": "Custom22 (Upper Limit)",
            "description": "Specifies the upper limit of custom22 (in ISO 8601 datetime format) to search. This property is not reserved by iManage Work and is not a validated value. It is intended to be customized for your company's requirements.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom22_relative",
            "in": "query",
            "type": "string",
            "pattern": "^(-)?(\\d)+:(-)?(\\d)+([dmy])$",
            "x-ms-summary": "Custom22 (Relative)",
            "description": "Specifies a date range to search, relative to the current date. This parameter has a format of [begin]:[end][time units (d, m or y)]. For example, -15:1d specifies a date range from 15 days prior to the current date through one day after the current date (one day in the future).",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom23_from",
            "in": "query",
            "type": "string",
            "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
            "x-ms-summary": "Custom23 (Lower Limit)",
            "description": "Specifies the lower limit of custom23 (in ISO 8601 datetime format) to search. This property is not reserved by iManage Work and is not a validated value. It is intended to be customized for your company's requirements.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom23_to",
            "in": "query",
            "type": "string",
            "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
            "x-ms-summary": "Custom23 (Upper Limit)",
            "description": "Specifies the upper limit of custom23 (in ISO 8601 datetime format) to search. This property is not reserved by iManage Work and is not a validated value. It is intended to be customized for your company's requirements.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom23_relative",
            "in": "query",
            "type": "string",
            "pattern": "^(-)?(\\d)+:(-)?(\\d)+([dmy])$",
            "x-ms-summary": "Custom23 (Relative)",
            "description": "Specifies a date range to search, relative to the current date. This parameter has a format of [begin]:[end][time units (d, m or y)]. For example, -15:1d specifies a date range from 15 days prior to the current date through one day after the current date (one day in the future).",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom24_from",
            "in": "query",
            "type": "string",
            "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
            "x-ms-summary": "Custom24 (Lower Limit)",
            "description": "Specifies the lower limit of custom24 (in ISO 8601 datetime format) to search. This property is not reserved by iManage Work and is not a validated value. It is intended to be customized for your company's requirements.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom24_to",
            "in": "query",
            "type": "string",
            "pattern": "^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2})(:)(\\d{2})(:)(\\d{2})(\\.\\d+)?(Z|([+-])(\\d{2})(:)?(\\d{2}))$",
            "x-ms-summary": "Custom24 (Upper Limit)",
            "description": "Specifies the upper limit of custom24 (in ISO 8601 datetime format) to search. This property is not reserved by iManage Work and is not a validated value. It is intended to be customized for your company's requirements.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom24_relative",
            "in": "query",
            "type": "string",
            "pattern": "^(-)?(\\d)+:(-)?(\\d)+([dmy])$",
            "x-ms-summary": "Custom24 (Relative)",
            "description": "Specifies a date range to search, relative to the current date. This parameter has a format of [begin]:[end][time units (d, m or y)]. For example, -15:1d specifies a date range from 15 days prior to the current date through one day after the current date (one day in the future).",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom25",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Custom25",
            "description": "Specifies the custom25 value to search for.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom26",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Custom26",
            "description": "Specifies the custom26 value to search for.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom27",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Custom27",
            "description": "Specifies the custom27 value to search for.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom28",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Custom28",
            "description": "Specifies the custom28 value to search for.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom29",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Custom29",
            "description": "Specifies a value to match with custom29. This search is not case-sensitive. The wildcard character (*) and partial matches are not supported.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom30",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Custom30",
            "description": "Specifies a value to match with custom30. This search is not case-sensitive. The wildcard character (*) and partial matches are not supported.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/WorkspaceTemplatesResponseBody"
          }
        }
      }
    },
    "/editNVP": {
      "post": {
        "summary": "Edit name-value pairs",
        "description": "Creates, updates or deletes name-value pair properties of a document, folder or workspace. To delete a name-value pair, set the value of the key to an empty string wrapped in single or double quotes.",
        "tags": [
          "Documents, Folders, Workspaces"
        ],
        "x-im-controller": "common.controllers",
        "operationId": "EditNVP",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "objectType": {
                  "type": "string",
                  "enum": [
                    "document",
                    "folder",
                    "workspace"
                  ],
                  "title": "Object Type",
                  "description": "Specifies the type of object. Possible values are 'document', 'folder', 'workspace'.",
                  "x-ms-visibility": "important",
                  "default": "document"
                },
                "objectId": {
                  "type": "string",
                  "pattern": "^[^!]+![0-9.]*[0-9]+$",
                  "title": "Object ID",
                  "description": "Specifies the ID of the document, folder or workspace. An example of a document ID is 'ACTIVE_US!453.1'. An example of a folder or workspace ID is 'ACTIVE_US!123'.",
                  "x-ms-visibility": "important"
                },
                "nameValuePairs": {
                  "type": "object",
                  "title": "Name-value Pairs",
                  "description": "Specifies the free-form name and value pairs for this document.",
                  "x-ms-visibility": "important",
                  "x-ms-editor": "dictionary",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "objectType",
                "objectId"
              ],
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded."
          }
        }
      }
    },
    "/searchFolders": {
      "post": {
        "summary": "Search for folders",
        "description": "Search for folders.",
        "tags": [
          "Folders"
        ],
        "x-im-controller": "folder.controllers",
        "operationId": "SearchFolders",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "libraryId": {
                  "type": "string",
                  "title": "Library ID",
                  "description": "Specifies the library ID of the target folder.",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetLibraries",
                    "value-collection": "data",
                    "value-title": "display_name",
                    "value-path": "id",
                    "parameters": {
                      "showAllLibraries": true
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetLibraries",
                    "itemsPath": "data",
                    "itemTitlePath": "display_name",
                    "itemValuePath": "id",
                    "parameters": {
                      "showAllLibraries": {
                        "value": true
                      }
                    }
                  }
                },
                "container_id": {
                  "type": "string",
                  "pattern": "^[^!]+![0-9]+$",
                  "title": "Container ID",
                  "description": "Specifies the ID of the workspace or folder from which to return folders. For example, 'ACTIVE_US!987'. If this parameter is provided, it returns folders only from the specified workspace or folder.",
                  "x-ms-visibility": "advanced"
                },
                "description": {
                  "type": "string",
                  "title": "Folder Description",
                  "description": "Specifies a value to be found in the description property of the folder. This search is not case-sensitive. Partial matches are supported.",
                  "x-ms-visibility": "important"
                },
                "email": {
                  "type": "string",
                  "title": "Folder Email Address",
                  "description": "Specifies the email address to match with the folder email address. For example, 'email1234@ajubalaw.com'.",
                  "x-ms-visibility": "advanced"
                },
                "name": {
                  "type": "string",
                  "title": "Folder Name",
                  "description": "Specifies a value to be found in the name property of the folder. This search is not case-sensitive. Partial matches are supported.",
                  "x-ms-visibility": "important"
                },
                "owner": {
                  "type": "string",
                  "title": "Folder Owner",
                  "description": "Specifies the string to match with the owner associated with the folder. This search is not case-sensitive. Partial matches are supported.",
                  "x-ms-visibility": "important"
                },
                "workspace_name": {
                  "type": "string",
                  "title": "Workspace Name",
[...]
