{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Azure AD Risky users",
    "description": "Azure AD Risky users"
  },
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/beta/identityProtection/riskyUsers": {
      "get": {
        "summary": "List Risky users",
        "description": "List all risky users",
        "operationId": "ListRiskyUsers",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "risklevel eq 'high'",
              "risklevel eq 'low'",
              "risklevel eq 'medium'",
              "risklevel ne 'none'"
            ],
            "x-ms-summary": "Select your filter",
            "description": "Select your filter"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id",
                        "title": "",
                        "x-ms-visibility": "important"
                      },
                      "isDeleted": {
                        "type": "boolean",
                        "description": "isDeleted"
                      },
                      "isProcessing": {
                        "type": "boolean",
                        "description": "isProcessing"
                      },
                      "riskLevel": {
                        "type": "string",
                        "description": "riskLevel",
                        "title": "",
                        "x-ms-visibility": "important"
                      },
                      "riskState": {
                        "type": "string",
                        "description": "riskState"
                      },
                      "riskDetail": {
                        "type": "string",
                        "description": "riskDetail",
                        "title": "",
                        "x-ms-visibility": "important"
                      },
                      "riskLastUpdatedDateTime": {
                        "type": "string",
                        "description": "riskLastUpdatedDateTime",
                        "title": "",
                        "x-ms-visibility": "important"
                      },
                      "userDisplayName": {
                        "type": "string",
                        "description": "userDisplayName",
                        "title": "",
                        "x-ms-visibility": "important"
                      },
                      "userPrincipalName": {
                        "type": "string",
                        "description": "userPrincipalName",
                        "title": "",
                        "x-ms-visibility": "important"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        }
      }
    },
    "/beta/riskyUsers/dismiss": {
      "post": {
        "summary": "Dismiss Riksy user",
        "description": "Dismiss user risk",
        "operationId": "DismissRiksyUser",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "userIds": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "userIds",
                    "title": "userIds"
                  },
                  "description": "userIds"
                }
              },
              "default": {
                "userIds": [
                  "{{userID}}"
                ]
              }
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "schema": {}
          }
        }
      }
    },
    "/v1.0/identityProtection/riskyUsers/{riskyUserId}": {
      "get": {
        "summary": "Get Risky user",
        "description": "Get a single risky user",
        "operationId": "GetRiskyUser",
        "parameters": [
          {
            "name": "riskyUserId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "riskyUserId"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "isDeleted": {
                  "type": "boolean",
                  "description": "isDeleted"
                },
                "isProcessing": {
                  "type": "boolean",
                  "description": "isProcessing"
                },
                "riskLevel": {
                  "type": "string",
                  "description": "riskLevel"
                },
                "riskState": {
                  "type": "string",
                  "description": "riskState"
                },
                "riskDetail": {
                  "type": "string",
                  "description": "riskDetail"
                },
                "riskLastUpdatedDateTime": {
                  "type": "string",
                  "description": "riskLastUpdatedDateTime"
                },
                "userDisplayName": {
                  "type": "string",
                  "description": "userDisplayName"
                },
                "userPrincipalName": {
                  "type": "string",
                  "description": "userPrincipalName"
                }
              }
            }
          }
        }
      }
    },
    "/beta/identityProtection/riskyUsers/{filter}": {}
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "undefined": []
    }
  ],
  "tags": []
}