{
  "swagger": "2.0",
  "info": {
    "title": "Readwise",
    "description": "Readwise helps thousands of readers get the most out of their digital highlights. Sync your highlights from Kindle, Instapaper, Pocket, iBooks, and more. Review the best parts easily through a daily email & app.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "readwise.io",
  "basePath": "/api/v2/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/highlights/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "next": {
                  "type": "string",
                  "description": "The next page address.",
                  "title": "Next"
                },
                "previous": {
                  "type": "string",
                  "description": "The previous page address.",
                  "title": "Previous"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "text": {
                        "type": "string",
                        "description": "The text.",
                        "title": "Text"
                      },
                      "note": {
                        "type": "string",
                        "description": "The note.",
                        "title": "Note"
                      },
                      "location": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The location.",
                        "title": "Location"
                      },
                      "location_type": {
                        "type": "string",
                        "description": "The location type.",
                        "title": "Location Type"
                      },
                      "highlighted_at": {
                        "type": "string",
                        "description": "The highlighted at time.",
                        "title": "Highlighted At"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "color": {
                        "type": "string",
                        "description": "The tag color.",
                        "title": "Color"
                      },
                      "updated": {
                        "type": "string",
                        "description": "When updated.",
                        "title": "Updated"
                      },
                      "book_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The book identifier.",
                        "title": "Book ID"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            }
                          }
                        },
                        "title": "Tags"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get specific highlights",
        "description": "Export a specific list of highlights save to your Readwise account.",
        "operationId": "HighlightListGet",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The page size.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "book_id",
            "in": "query",
            "x-ms-summary": "Book ID",
            "description": "The book identifier.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "updated__lt",
            "in": "query",
            "x-ms-summary": "Updated Less Than",
            "description": "The updated before time.",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated__gt",
            "in": "query",
            "x-ms-summary": "Updated Greater Than",
            "description": "The updated after time.",
            "required": false,
            "type": "string"
          },
          {
            "name": "hightlighted_at__lt",
            "in": "query",
            "x-ms-summary": "Highlighted Less Than",
            "description": "The highlighted before time.",
            "required": false,
            "type": "string"
          },
          {
            "name": "highlighted_at__gt",
            "in": "query",
            "x-ms-summary": "Highlighted Greater Than",
            "description": "The highlighted after time.",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "title": {
                    "type": "string",
                    "description": "The title.",
                    "title": "Title"
                  },
                  "author": {
                    "type": "string",
                    "description": "The author.",
                    "title": "Author"
                  },
                  "category": {
                    "type": "string",
                    "description": "The category.",
                    "title": "Category"
                  },
                  "source": {
                    "type": "string",
                    "description": "The source.",
                    "title": "Source"
                  },
                  "num_highlights": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of highlights.",
                    "title": "Num Highlights"
                  },
                  "last_highlight_at": {
                    "type": "string",
                    "description": "When last highlighted at.",
                    "title": "Last Highlight At"
                  },
                  "updated": {
                    "type": "string",
                    "description": "When updated.",
                    "title": "Updated"
                  },
                  "cover_image_url": {
                    "type": "string",
                    "description": "The cover image URL address.",
                    "title": "Cover Image URL"
                  },
                  "highlights_url": {
                    "type": "string",
                    "description": "The highlights URL address.",
                    "title": "Highlights URL"
                  },
                  "source_url": {
                    "type": "string",
                    "description": "The source URL address.",
                    "title": "Source URL"
                  },
                  "asin": {
                    "type": "string",
                    "description": "The ASIN.",
                    "title": "ASIN"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The identifier.",
                          "title": "ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        }
                      }
                    },
                    "title": "Tags"
                  },
                  "modified_highlights": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "description": "The modified highlights.",
                    "title": "Modified Highlights"
                  }
                }
              }
            }
          }
        },
        "summary": "Create a highlight",
        "description": "Saves a highlight to your Readwise account.",
        "operationId": "HighlightSavePost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "highlights": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string",
                        "description": "The text.",
                        "title": "Text"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "author": {
                        "type": "string",
                        "description": "The author.",
                        "title": "Author"
                      },
                      "source_url": {
                        "type": "string",
                        "description": "The source URL address.",
                        "title": "Source URL"
                      },
                      "source_type": {
                        "type": "string",
                        "description": "The source type.",
                        "title": "Source Type"
                      },
                      "category": {
                        "type": "string",
                        "description": "The category.",
                        "title": "Category",
                        "default": "books",
                        "enum": [
                          "books",
                          "articles",
                          "tweets",
                          "podcasts"
                        ]
                      },
                      "note": {
                        "type": "string",
                        "description": "The note.",
                        "title": "Note"
                      },
                      "location": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The location.",
                        "title": "Location"
                      },
                      "location_type": {
                        "type": "string",
                        "description": "The location type.",
                        "title": "Location Type",
                        "default": "page",
                        "enum": [
                          "page",
                          "order",
                          "time_offset"
                        ]
                      },
                      "highlighted_at": {
                        "type": "string",
                        "description": "The highlighted at time.",
                        "title": "Highlighted At"
                      },
                      "highlight_url": {
                        "type": "string",
                        "description": "The highlight URL address.",
                        "title": "Highlight URL"
                      }
                    },
                    "required": [
                      "text"
                    ]
                  },
                  "title": "Highlights"
                }
              },
              "required": [
                "highlights"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/export/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "nextPageCursor": {
                  "type": "string",
                  "description": "The next page cursor.",
                  "title": "Next Page Cursor"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "user_book_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The user book identifier.",
                        "title": "User Book ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "author": {
                        "type": "string",
                        "description": "The author.",
                        "title": "Author"
                      },
                      "readable_title": {
                        "type": "string",
                        "description": "The readable title.",
                        "title": "Readable Title"
                      },
                      "source": {
                        "type": "string",
                        "description": "The source.",
                        "title": "Source"
                      },
                      "cover_image_url": {
                        "type": "string",
                        "description": "The cover image URL address.",
                        "title": "Cover Image URL"
                      },
                      "unique_url": {
                        "type": "string",
                        "description": "The unique URL address.",
                        "title": "Unique URL"
                      },
                      "book_tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The book tags.",
                        "title": "Book Tags"
                      },
                      "category": {
                        "type": "string",
                        "description": "The category.",
                        "title": "Category"
                      },
                      "readwise_url": {
                        "type": "string",
                        "description": "The Readwise URL address.",
                        "title": "Readwise URL"
                      },
                      "source_url": {
                        "type": "string",
                        "description": "The source URL address.",
                        "title": "Source URL"
                      },
                      "asin": {
                        "type": "string",
                        "description": "The ASIN.",
                        "title": "ASIN"
                      },
                      "highlights": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "text": {
                              "type": "string",
                              "description": "The text.",
                              "title": "Text"
                            },
                            "location": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The location.",
                              "title": "Location"
                            },
                            "location_type": {
                              "type": "string",
                              "description": "The location type.",
                              "title": "Location Type"
                            },
                            "note": {
                              "type": "string",
                              "description": "The note.",
                              "title": "Note"
                            },
                            "color": {
                              "type": "string",
                              "description": "The color.",
                              "title": "Color"
                            },
                            "highlighted_at": {
                              "type": "string",
                              "description": "When highlighted at.",
                              "title": "Highlighted At"
                            },
                            "created_at": {
                              "type": "string",
                              "description": "When created at.",
                              "title": "Created At"
                            },
                            "updated_at": {
                              "type": "string",
                              "description": "When updated at.",
                              "title": "Updated At"
                            },
                            "external_id": {
                              "type": "string",
                              "description": "The external identifier.",
                              "title": "External ID"
                            },
                            "end_location": {
                              "type": "string",
                              "description": "The end location.",
                              "title": "End Location"
                            },
                            "url": {
                              "type": "string",
                              "description": "The URL address.",
                              "title": "URL"
                            },
                            "book_id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The book identifier.",
                              "title": "Book ID"
                            },
                            "tags": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "The tags.",
                              "title": "tags"
                            },
                            "is_favorite": {
                              "type": "boolean",
                              "description": "Whether is favorite.",
                              "title": "Is Favorite"
                            },
                            "is_discard": {
                              "type": "boolean",
                              "description": "Whether is discarded.",
                              "title": "Is Discard"
                            },
                            "readwise_url": {
                              "type": "string",
                              "description": "The Readwise URL address.",
                              "title": "Readwise URL"
                            }
                          }
                        },
                        "title": "Highlights"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get highlights",
        "description": "Export a list of highlights save to your Readwise account.",
        "operationId": "HighlightExportGet",
        "parameters": [
          {
            "name": "updatedAfter",
            "in": "query",
            "x-ms-summary": "Updated After",
            "description": "The updated after time.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ids",
            "in": "query",
            "x-ms-summary": "IDs",
            "description": "The identifiers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageCursor",
            "in": "query",
            "x-ms-summary": "Page Cursor",
            "description": "The page cursor.",
            "required": false,
            "type": "string"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/highlights/{highlight id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "text": {
                  "type": "string",
                  "description": "The text.",
                  "title": "Text"
                },
                "location": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The location.",
                  "title": "Location"
                },
                "location_type": {
                  "type": "string",
                  "description": "The location type.",
                  "title": "Location Type"
                },
                "note": {
                  "type": "string",
                  "description": "The note.",
                  "title": "Note"
                },
                "color": {
                  "type": "string",
                  "description": "The color.",
                  "title": "Color"
                },
                "highlighted_at": {
                  "type": "string",
                  "description": "When highlighted at.",
                  "title": "Highlighted At"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "external_id": {
                  "type": "string",
                  "description": "The external identifier.",
                  "title": "External ID"
                },
                "end_location": {
                  "type": "string",
                  "description": "The end location.",
                  "title": "End Location"
                },
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "book_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The book identifier.",
                  "title": "Book ID"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      }
                    }
                  },
                  "title": "Tags"
                },
                "is_favorite": {
                  "type": "boolean",
                  "description": "Whether is favorite.",
                  "title": "Is Favorite"
                },
                "is_discard": {
                  "type": "boolean",
                  "description": "Whether is discarded.",
                  "title": "Is Discard"
                },
                "readwise_url": {
                  "type": "string",
                  "description": "The Readwise URL address.",
                  "title": "Readwise URL"
                }
              }
            }
          }
        },
        "summary": "Get highlight details",
        "description": "Retrieves the details of a specific highlight",
        "operationId": "HightlightDetailGet",
        "parameters": [
          {
            "name": "highlight id",
            "in": "path",
            "x-ms-summary": "Highlight ID",
            "x-ms-url-encoding": "single",
            "description": "The highlight identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-visibility": "important"
      },
      "delete": {
        "responses": {
          "204": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete a highlight",
        "description": "Deletes a specific hightlight.",
        "operationId": "HighlightDelete",
        "parameters": [
          {
            "name": "highlight id",
            "in": "path",
            "x-ms-summary": "Highlight ID",
            "x-ms-url-encoding": "single",
            "description": "The highlight identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "text": {
                  "type": "string",
                  "description": "The text.",
                  "title": "Text"
                },
                "location": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The location.",
                  "title": "Location"
                },
                "location_type": {
                  "type": "string",
                  "description": "The location type.",
                  "title": "Location Type"
                },
                "note": {
                  "type": "string",
                  "description": "The note.",
                  "title": "Note"
                },
                "color": {
                  "type": "string",
                  "description": "The color.",
                  "title": "Color"
                },
                "highlighted_at": {
                  "type": "string",
                  "description": "When highlighted at.",
                  "title": "Highlighted At"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "external_id": {
                  "type": "string",
                  "description": "The external identifier.",
                  "title": "External ID"
                },
                "end_location": {
                  "type": "string",
                  "description": "The end location.",
                  "title": "End Location"
                },
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "book_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The book identifier.",
                  "title": "Book ID"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      }
                    }
                  },
                  "title": "Tags"
                },
                "is_favorite": {
                  "type": "boolean",
                  "description": "Whether is favorite.",
                  "title": "Is Favorite"
                },
                "is_discard": {
                  "type": "boolean",
                  "description": "Whether is discarded.",
                  "title": "Is Discard"
                },
                "readwise_url": {
                  "type": "string",
                  "description": "The Readwise URL address.",
                  "title": "Readwise URL"
                }
              }
            }
          }
        },
        "summary": "Update a highlight",
        "description": "Update an existing highlight.",
        "operationId": "HighlightUpdatePatch",
        "parameters": [
          {
            "name": "highlight id",
            "in": "path",
            "x-ms-summary": "Highlight ID",
            "x-ms-url-encoding": "single",
            "description": "The highlight identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "The text.",
                  "title": "Text"
                },
                "note": {
                  "type": "string",
                  "description": "The note.",
                  "title": "Note"
                },
                "location": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The location.",
                  "title": "Location"
                },
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "color": {
                  "type": "string",
                  "description": "The color.",
                  "title": "Color"
                }
              }
            }
          }
        ]
      }
    },
    "/highlights/{highlight id}/tags": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "next": {
                  "type": "string",
                  "description": "The next page address.",
                  "title": "Next"
                },
                "previous": {
                  "type": "string",
                  "description": "The previous page address.",
                  "title": "Previous"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get highlight's tags",
        "description": "Retrieve a list of a highlight's tags.",
        "operationId": "HighlightTagsGet",
        "parameters": [
          {
            "name": "highlight id",
            "in": "path",
            "x-ms-summary": "Highlight ID",
            "x-ms-url-encoding": "single",
            "description": "The highlight identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The page size.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                }
              }
            }
          }
        },
        "summary": "Create a highlight's tag",
        "description": "Create a new tag on a hightlight.",
        "operationId": "HighlightTagsPost",
        "parameters": [
          {
            "name": "highlight id",
            "in": "path",
            "x-ms-summary": "Highlight ID",
            "x-ms-url-encoding": "single",
            "description": "The highlight identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                }
              },
              "required": [
                "name"
              ]
            }
          }
        ]
      }
    },
    "/highlights/{highlight id}/tags/{tag id}": {
      "delete": {
        "responses": {
          "204": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete a highlight's tag",
        "description": "Deletes a tag on a highlight.",
        "operationId": "HighlightTagsDelete",
        "parameters": [
          {
            "name": "highlight id",
            "in": "path",
            "x-ms-summary": "Highlight ID",
            "x-ms-url-encoding": "single",
            "description": "The highlight identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag id",
            "in": "path",
            "x-ms-summary": "Tag ID",
            "x-ms-url-encoding": "single",
            "description": "The tag identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                }
              }
            }
          }
        },
        "summary": "Update a highlight's tag",
        "description": "Updates a tag's name for a hightlight.",
        "operationId": "HighlightTagsUpdate",
        "parameters": [
          {
            "name": "highlight id",
            "in": "path",
            "x-ms-summary": "Highlight ID",
            "x-ms-url-encoding": "single",
            "description": "The highlight identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag id",
            "in": "path",
            "x-ms-summary": "Tag ID",
            "x-ms-url-encoding": "single",
            "description": "The tag identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                }
              },
              "required": [
                "name"
              ]
            }
          }
        ]
      }
    },
    "/books/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "next": {
                  "type": "string",
                  "description": "The next page address.",
                  "title": "Next"
                },
                "previous": {
                  "type": "string",
                  "description": "The previous page address.",
                  "title": "Previous"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "author": {
                        "type": "string",
                        "description": "The author.",
                        "title": "Author"
                      },
                      "category": {
                        "type": "string",
                        "description": "The category.",
                        "title": "Category"
                      },
                      "source": {
                        "type": "string",
                        "description": "The source.",
                        "title": "Source"
                      },
                      "num_highlights": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of highlights.",
                        "title": "Num Highlights"
                      },
                      "last_highlight_at": {
                        "type": "string",
                        "description": "When last highlighted at.",
                        "title": "Last Highlight At"
                      },
                      "updated": {
                        "type": "string",
                        "description": "When updated.",
                        "title": "Updated"
                      },
                      "cover_image_url": {
                        "type": "string",
                        "description": "The cover image URL address.",
                        "title": "Cover Image URL"
                      },
                      "highlights_url": {
                        "type": "string",
                        "description": "The highlights URL address.",
                        "title": "Highlights URL"
                      },
                      "source_url": {
                        "type": "string",
                        "description": "The source URL address.",
                        "title": "Source URL"
                      },
                      "asin": {
                        "type": "string",
                        "description": "The ASIN.",
                        "title": "ASIN"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            }
                          }
                        },
                        "title": "Tags"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get books",
        "description": "Retrieve a list of saved books.",
        "operationId": "BookListGet",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The page size.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "x-ms-summary": "Category",
            "description": "The category.",
            "required": false,
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "x-ms-summary": "Source",
            "description": "The source.",
            "required": false,
            "type": "string"
          },
          {
            "name": "num_highlights",
            "in": "query",
            "x-ms-summary": "Num Highlights",
            "description": "The number of highlights.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "num_highlights__lt",
            "in": "query",
            "x-ms-summary": "Num Highlights Less Than",
            "description": "The number of highlights less than.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "num_highlights__gt",
            "in": "query",
            "x-ms-summary": "Num Highlights Greater Than",
            "description": "The number of highlights greater than.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "updated__lt",
            "in": "query",
            "x-ms-summary": "Updated Less Than",
            "description": "The updated before time.",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated__gt",
            "in": "query",
            "x-ms-summary": "Updated Greater Than",
            "description": "The updated after time.",
            "required": false,
            "type": "string"
          },
          {
            "name": "last_highlight_at__lt",
            "in": "query",
            "x-ms-summary": "Last Highlight At Less Than",
            "description": "The last highlight at before time.",
            "required": false,
            "type": "string"
          },
          {
            "name": "last_highlight_gt",
            "in": "query",
            "x-ms-summary": "Last Highlight At Greater Than",
            "description": "The last highlight high after time.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/books/{book id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "author": {
                  "type": "string",
                  "description": "The author.",
                  "title": "Author"
                },
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "source": {
                  "type": "string",
                  "description": "The source.",
                  "title": "Source"
                },
                "num_highlights": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of highlights.",
                  "title": "Num Highlights"
                },
                "last_highlight_at": {
                  "type": "string",
                  "description": "When last highlighted at.",
                  "title": "Last Highlight At"
                },
                "updated": {
                  "type": "string",
                  "description": "When updated.",
                  "title": "Updated"
                },
                "cover_image_url": {
                  "type": "string",
                  "description": "The cover image URL address.",
                  "title": "Cover Image URL"
                },
                "highlights_url": {
                  "type": "string",
                  "description": "The highlights URL address.",
                  "title": "Highlights URL"
                },
                "source_url": {
                  "type": "string",
                  "description": "The source URL address.",
                  "title": "Source URL"
                },
                "asin": {
                  "type": "string",
                  "description": "The ASIN.",
                  "title": "ASIN"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      }
                    }
                  },
                  "title": "Tags"
                }
              }
            }
          }
        },
        "summary": "Get a book",
        "description": "Retrieve the details for a specific book.",
        "operationId": "BookGet",
        "parameters": [
          {
            "name": "book id",
            "in": "path",
            "x-ms-summary": "Book ID",
            "x-ms-url-encoding": "single",
            "description": "The book identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/books/{book id}/tags": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "next": {
                  "type": "string",
                  "description": "The next page address.",
                  "title": "Next"
                },
                "previous": {
                  "type": "string",
                  "description": "The previous page address.",
                  "title": "Previous"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get a book's tags",
        "description": "Retrieve a list of tags for a book.",
        "operationId": "BookTagsGet",
        "parameters": [
          {
            "name": "book id",
            "in": "path",
            "x-ms-summary": "Book ID",
            "x-ms-url-encoding": "single",
            "description": "The book identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The page size.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                }
              }
            }
          }
        },
        "summary": "Create a book's tag",
        "description": "Creates a new tag for a book.",
        "operationId": "BookTagsCreate",
        "parameters": [
          {
            "name": "book id",
            "in": "path",
            "x-ms-summary": "Book ID",
            "x-ms-url-encoding": "single",
            "description": "The book identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                }
              },
              "required": [
                "name"
              ]
            }
          }
        ]
      }
    },
    "/books/{book id}/tags/{tag id}": {
      "delete": {
        "responses": {
          "204": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete a book's tag",
        "description": "Deletes a tag for a book.",
        "operationId": "BookTagsDelete",
        "parameters": [
          {
            "name": "book id",
            "in": "path",
            "x-ms-summary": "Book ID",
            "x-ms-url-encoding": "single",
            "description": "The book identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag id",
            "in": "path",
            "x-ms-summary": "Tag ID",
            "x-ms-url-encoding": "single",
            "description": "The tag identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                }
              }
            }
          }
        },
        "summary": "Update a book's tag",
        "description": "Updates a tag for a book.",
        "operationId": "BookTagsUpdate",
        "parameters": [
          {
            "name": "book id",
            "in": "path",
            "x-ms-summary": "Book ID",
            "x-ms-url-encoding": "single",
            "description": "The book identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag id",
            "in": "path",
            "x-ms-summary": "Tag ID",
            "x-ms-url-encoding": "single",
            "description": "The tag identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                }
              },
              "required": [
                "name"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://readwise.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://readwise.io/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment;Productivity"
    }
  ]
}