{
  "swagger": "2.0",
  "info": {
    "title": "Vineforce",
    "description": "Vineforce is a remote workplace tool built for Microsoft 365 users. It transforms the platform into one cohesive toolkit to help you get more done, experience less burnout, and feel more connected with your teammates.",
    "version": "1.0",
	"contact": {
      "name": "Contact",
      "url": "https://www.vineforce.com/contact",
      "email": "contact@vineforce.com"
    }
  },
  "host": "appapi.vineforce.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/services/app/ExternalTask/CreateExternalTask": {
      "post": {
        "responses": {
          "200": {
            "description": "On success creation of task",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "errorMessage"
                    },
                    "message_Info": {
                      "type": "string",
                      "description": "message_Info"
                    },
                    "isError": {
                      "type": "boolean",
                      "description": "isError"
                    },
                    "taskID": {
                      "type": "string",
                      "description": "task ID"
                    },
                    "errorType": {
                      "type": "string",
                      "description": "errorType"
                    },
                    "entityId": {
                      "type": "string",
                      "description": "entityId"
                    },
                    "longTypeEntityId": {
                      "type": "string",
                      "description": "longTypeEntityId"
                    },
                    "responseData": {
                      "type": "integer",
                      "format": "int32",
                      "description": "responseData"
                    },
                    "listOfEntities": {
                      "type": "string",
                      "description": "listOfEntities"
                    },
                    "fieldName": {
                      "type": "string",
                      "description": "fieldName"
                    }
                  },
                  "description": "result"
                },
                "targetUrl": {
                  "type": "string",
                  "description": "targetUrl"
                },
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                },
                "unAuthorizedRequest": {
                  "type": "boolean",
                  "description": "unAuthorizedRequest"
                },
                "__abp": {
                  "type": "boolean",
                  "description": "__abp"
                }
              }
            }
          }
        },
        "summary": "Create Task",
        "description": "Create a new Vineforce task.",
        "operationId": "CreateTask",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "apiKey": {
                  "type": "string",
                  "description": "Api key",
                  "title": "Api Key"
                },
                "fromEmail": {
                  "type": "string",
                  "description": "Email address of user assigning this task",
                  "title": "From Email"
                },
                "toEmail": {
                  "type": "string",
                  "description": "Email address of assigned to user",
                  "title": "To Email"
                },
                "title": {
                  "type": "string",
                  "description": "Title for the task",
                  "title": "Title"
                },
                "description": {
                  "type": "string",
                  "description": "Description for the task",
                  "title": "Description",
                  "format": "html"
                },
                "dueDate": {
                  "type": "string",
                  "description": "Due Date for the task",
                  "title": "Due Date"
                },
                "isImportant": {
                  "type": "boolean",
                  "description": "Set task importance",
                  "title": "Is task important?",
                  "enum": [
                    true,
                    false
                  ]
                },
                "resourceAppName": {
                  "type": "string",
                  "description": "Resource App Name (Power Automate)",
                  "title": "Resource App",
                  "enum": [
                    "Adobe Cloud",
                    "Adobe Sign",
                    "Asana",
                    "Azure DevOps",
                    "Bitbucket",
                    "Contact Manager",
                    "Docusign",
                    "Excel",
                    "HelloSign",
                    "Hubspot",
                    "Jira",
                    "Dataverse",
                    "Dynamics 365",
                    "Forms",
                    "LinkedIn",
                    "List",
                    "To Do",
                    "OneDrive",
                    "OneNote",
                    "Outlook",
                    "Pdf",
                    "Photo",
                    "Planner",
                    "Power Apps",
                    "Power Automate",
                    "PowerPoint",
                    "Teams",
                    "Twitter",
                    "Typeform",
                    "Visio",
                    "Word",
                    "Zendesk"
                  ]
                },
                "resourceAppUrl": {
                  "type": "string",
                  "description": "Resource Url to bind with task",
                  "title": "Resource Url"
                },
                "ResourceAppID": {
                  "type": "string",
                  "description": "ID of resource to bind with task",
                  "title": "Resource App ID"
                },
                "ResourceAppData": {
                  "type": "string",
                  "description": "Data of resource to bind with task",
                  "title": "Resource App Data"
                },
                "projectName": {
                  "type": "string",
                  "description": "Project Name",
                  "title": "Project Name"
                },
                "projectSectionName": {
                  "type": "string",
                  "description": "Project Section Name",
                  "title": "Project Section"
                },
                "checklists": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Title",
                        "title": "Title"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description",
                        "title": "Description"
                      }
                    }
                  },
                  "description": "Checklists",
                  "title": "Checklist"
                },
                "files": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fileName": {
                        "type": "string",
                        "description": "Name",
                        "title": "Name"
                      },
                      "filePath": {
                        "type": "string",
                        "description": "Path",
                        "title": "Path"
                      }
                    }
                  },
                  "description": "Files",
                  "title": "File"
                }
              },
              "required": [
                "apiKey",
                "title",
                "toEmail"
              ]
            }
          }
        ]
      }
    },
    "/api/services/app/ExternalTask/PushNotificationFromExternal": {
      "post": {
        "responses": {
          "200": {
            "description": "On success alerting",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "errorMessage"
                    },
                    "message_Info": {
                      "type": "string",
                      "description": "message_Info"
                    },
                    "isError": {
                      "type": "boolean",
                      "description": "isError"
                    },
                    "errorType": {
                      "type": "string",
                      "description": "errorType"
                    },
                    "entityId": {
                      "type": "string",
                      "description": "entityId"
                    },
                    "longTypeEntityId": {
                      "type": "string",
                      "description": "longTypeEntityId"
                    },
                    "fieldName": {
                      "type": "string",
                      "description": "fieldName"
                    }
                  },
                  "description": "result"
                },
                "targetUrl": {
                  "type": "string",
                  "description": "targetUrl"
                },
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                },
                "unAuthorizedRequest": {
                  "type": "boolean",
                  "description": "unAuthorizedRequest"
                },
                "__abp": {
                  "type": "boolean",
                  "description": "__abp"
                }
              }
            }
          }
        },
        "summary": "Alert",
        "description": "Alert",
        "operationId": "Alert",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "apiKey": {
                  "type": "string",
                  "description": "Api key",
                  "title": "Api key"
                },
                "alertToEmail": {
                  "type": "string",
                  "description": "Alert To Email",
                  "title": "Alert To Email"
                },
                "title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "message": {
                  "type": "string",
                  "description": "Message Text",
                  "title": "Message"
                },
                "ResourceName": {
                  "type": "string",
                  "description": "Name of Resource App",
                  "title": "Name of Resource App"
                },
                "ResourceUrl": {
                  "type": "string",
                  "description": "URL of Resource App",
                  "title": "URL of Resource App"
                }
              },
              "required": [
                "apiKey",
                "alertToEmail",
                "message",
                "title"
              ]
            }
          }
        ]
      }
    },
    "/api/services/app/ExternalTask/CreateExternalProject": {
      "post": {
        "responses": {
          "200": {
            "description": "On success creating project.",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "statuscode": {
                      "type": "integer",
                      "format": "int32",
                      "description": "statuscode"
                    },
                    "targetUrl": {
                      "type": "string",
                      "description": "targetUrl"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "success"
                    },
                    "error": {
                      "type": "string",
                      "description": "error"
                    },
                    "unAuthorizedRequest": {
                      "type": "boolean",
                      "description": "unAuthorizedRequest"
                    },
                    "__abp": {
                      "type": "boolean",
                      "description": "__abp"
                    }
                  },
                  "description": "result"
                },
                "targetUrl": {
                  "type": "string",
                  "description": "targetUrl"
                },
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                },
                "unAuthorizedRequest": {
                  "type": "boolean",
                  "description": "unAuthorizedRequest"
                },
                "__abp": {
                  "type": "boolean",
                  "description": "__abp"
                }
              }
            }
          }
        },
        "summary": "Create Project",
        "description": "Create project with sections, file links in Vineforce App",
        "operationId": "CreateProject",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "projectName": {
                  "type": "string",
                  "description": "Name of project to be created.",
                  "title": "Project Name"
                },
                "creatorEmail": {
                  "type": "string",
                  "description": "Email of project creator.",
                  "title": "Creator Email"
                },
                "dueDate": {
                  "type": "string",
                  "description": "Due date of the project.",
                  "title": "Due Date"
                },
                "members": {
                  "type": "string",
                  "description": "Separate each member's email using \";\" semi colon.",
                  "title": "Members (Email)"
                },
                "sections": {
                  "type": "string",
                  "description": "Separate each section using \";\" semi colon.",
                  "title": "Project Sections"
                },
                "apiKey": {
                  "type": "string",
                  "description": "API Key assigned to company from Vineforce App.",
                  "title": "API Key"
                },
                "files": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fileName": {
                        "type": "string",
                        "description": "Name of file with extension.",
                        "title": "File Name"
                      },
                      "filePath": {
                        "type": "string",
                        "description": "Url link of file.",
                        "title": "File Path"
                      }
                    }
                  },
                  "description": "File Links to associate to the project.",
                  "title": "Files"
                }
              },
              "required": [
                "apiKey",
                "creatorEmail",
                "projectName"
              ]
            }
          }
        ]
      }
    },
    "/api/services/app/ExternalTask/UpdateExternalTask": {
      "put": {
        "responses": {
          "200": {
            "description": "On success updating task.",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "errorMessage"
                    },
                    "message_Info": {
                      "type": "string",
                      "description": "message_Info"
                    },
                    "isError": {
                      "type": "boolean",
                      "description": "isError"
                    },
                    "taskID": {
                      "type": "string",
                      "description": "task ID"
                    },
                    "errorType": {
                      "type": "string",
                      "description": "errorType"
                    },
                    "entityId": {
                      "type": "string",
                      "description": "entityId"
                    },
                    "longTypeEntityId": {
                      "type": "string",
                      "description": "longTypeEntityId"
                    },
                    "responseData": {
                      "type": "integer",
                      "format": "int32",
                      "description": "responseData"
                    },
                    "listOfEntities": {
                      "type": "string",
                      "description": "listOfEntities"
                    },
                    "fieldName": {
                      "type": "string",
                      "description": "fieldName"
                    }
                  },
                  "description": "result"
                },
                "targetUrl": {
                  "type": "string",
                  "description": "targetUrl"
                },
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                },
                "unAuthorizedRequest": {
                  "type": "boolean",
                  "description": "unAuthorizedRequest"
                },
                "__abp": {
                  "type": "boolean",
                  "description": "__abp"
                }
              }
            }
          }
        },
        "summary": "Update Task",
        "description": "Update a task using the TaskID that is returned by Create Task Action.",
        "operationId": "UpdateTask",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "apiKey": {
                  "type": "string",
                  "description": "Api key",
                  "title": "Api Key"
                },
                "taskID": {
                  "type": "string",
                  "description": "Task ID",
                  "title": "Task ID"
                },
                "fromEmail": {
                  "type": "string",
                  "description": "Email address of user assigning this task",
                  "title": "From Email"
                },
                "toEmail": {
                  "type": "string",
                  "description": "Email address of assigned to user",
                  "title": "To Email"
                },
                "TaskStatus": {
                  "type": "string",
                  "description": "Set task status",
                  "title": "Set task status",
                  "enum": [
                    "Completed",
                    "Unfinished"
                  ]
                },
                "title": {
                  "type": "string",
                  "description": "Title for the task",
                  "title": "Title"
                },
                "description": {
                  "type": "string",
                  "description": "Description for the task",
                  "title": "Description",
                  "format": "html"
                },
                "dueDate": {
                  "type": "string",
                  "description": "Due Date for the task",
                  "title": "Due Date"
                },
                "isImportant": {
                  "type": "boolean",
                  "description": "Set task importance",
                  "title": "Is task important?",
                  "enum": [
                    true,
                    false
                  ]
                },
                "resourceAppName": {
                  "type": "string",
                  "description": "Resource App Name (Power Automate)",
                  "title": "Resource App",
                  "enum": [
                    "Adobe Cloud",
                    "Adobe Sign",
                    "Asana",
                    "Azure DevOps",
                    "Bitbucket",
                    "Contact Manager",
                    "Docusign",
                    "Excel",
                    "HelloSign",
                    "Hubspot",
                    "Jira",
                    "Dataverse",
                    "Dynamics 365",
                    "Forms",
                    "LinkedIn",
                    "List",
                    "To Do",
                    "OneDrive",
                    "OneNote",
                    "Outlook",
                    "Pdf",
                    "Photo",
                    "Planner",
                    "Power Apps",
                    "Power Automate",
                    "PowerPoint",
                    "Teams",
                    "Twitter",
                    "Typeform",
                    "Visio",
                    "Word",
                    "Zendesk"
                  ]
                },
                "resourceAppUrl": {
                  "type": "string",
                  "description": "Resource Url to bind with task",
                  "title": "Resource Url"
                },
                "ResourceAppID": {
                  "type": "string",
                  "description": "ID of resource to bind with task",
                  "title": "Resource App ID"
                },
                "ResourceAppData": {
                  "type": "string",
                  "description": "Data of resource to bind with task",
                  "title": "Resource App Data"
                },
                "projectName": {
                  "type": "string",
                  "description": "Project Name",
                  "title": "Project Name"
                },
                "projectSectionName": {
                  "type": "string",
                  "description": "Project Section Name",
                  "title": "Project Section"
                },
                "checklists": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Title",
                        "title": "Title"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description",
                        "title": "Description"
                      }
                    }
                  },
                  "description": "Checklists",
                  "title": "Checklist"
                },
                "files": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fileName": {
                        "type": "string",
                        "description": "Name",
                        "title": "Name"
                      },
                      "filePath": {
                        "type": "string",
                        "description": "Path",
                        "title": "Path"
                      }
                    }
                  },
                  "description": "Files",
                  "title": "File"
                }
              },
              "required": [
                "apiKey",
                "title",
                "toEmail",
                "taskID"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://www.vineforce.com"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://www.vineforce.com/legal"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Collaboration;Productivity"
      }
    ]
}