{
  "swagger": "2.0",
  "info": {
    "title": "Vineforce",
    "description": "Vineforce is a remote workplace tool built for Microsoft 365 users. It transforms the platform into one cohesive toolkit to help you get more done, experience less burnout, and feel more connected with your teammates.",
    "version": "2.0",
    "contact": {
      "name": "Contact",
      "url": "https://www.vineforce.com/contact",
      "email": "contact@vineforce.com"
    }
  },
  "host": "appapi.vineforce.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/services/app/ExternalTask/CreateExternalTask": {
      "post": {
        "responses": {
          "200": {
            "description": "On success creation of task",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "errorMessage"
                    },
                    "message_Info": {
                      "type": "string",
                      "description": "message_Info"
                    },
                    "isError": {
                      "type": "boolean",
                      "description": "isError"
                    },
                    "taskID": {
                      "type": "string",
                      "description": "task ID"
                    },
                    "errorType": {
                      "type": "string",
                      "description": "errorType"
                    },
                    "entityId": {
                      "type": "string",
                      "description": "entityId"
                    },
                    "longTypeEntityId": {
                      "type": "string",
                      "description": "longTypeEntityId"
                    },
                    "responseData": {
                      "type": "integer",
                      "format": "int32",
                      "description": "responseData"
                    },
                    "listOfEntities": {
                      "type": "string",
                      "description": "listOfEntities"
                    },
                    "fieldName": {
                      "type": "string",
                      "description": "fieldName"
                    }
                  },
                  "description": "result"
                },
                "targetUrl": {
                  "type": "string",
                  "description": "targetUrl"
                },
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                },
                "unAuthorizedRequest": {
                  "type": "boolean",
                  "description": "unAuthorizedRequest"
                },
                "__abp": {
                  "type": "boolean",
                  "description": "__abp"
                }
              }
            }
          }
        },
        "summary": "Create Task",
        "description": "Create a new Vineforce task.",
        "operationId": "CreateTask",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "apiKey": {
                  "type": "string",
                  "description": "Api key",
                  "title": "Api Key"
                },
                "fromEmail": {
                  "type": "string",
                  "description": "Email address of user assigning this task",
                  "title": "From Email"
                },
                "toEmail": {
                  "type": "string",
                  "description": "Email address of assigned to user",
                  "title": "To Email"
                },
                "title": {
                  "type": "string",
                  "description": "Title for the task",
                  "title": "Title"
                },
                "description": {
                  "type": "string",
                  "description": "Description for the task",
                  "title": "Description",
                  "format": "html"
                },
                "dueDate": {
                  "type": "string",
                  "description": "Due Date for the task",
                  "title": "Due Date"
                },
                "isImportant": {
                  "type": "boolean",
                  "description": "Set task importance",
                  "title": "Is task important?",
                  "enum": [
                    true,
                    false
                  ]
                },
                "resourceAppName": {
                  "type": "string",
                  "description": "Resource App Name (Power Automate)",
                  "title": "Resource App",
                  "enum": [
                    "Adobe Cloud",
                    "Adobe Sign",
                    "Asana",
                    "Azure DevOps",
                    "Bitbucket",
                    "Contact Manager",
                    "Docusign",
                    "Excel",
                    "HelloSign",
                    "Hubspot",
                    "Jira",
                    "Dataverse",
                    "Dynamics 365",
                    "Forms",
                    "LinkedIn",
                    "List",
                    "To Do",
                    "OneDrive",
                    "OneNote",
                    "Outlook",
                    "Pdf",
                    "Photo",
                    "Planner",
                    "Power Apps",
                    "Power Automate",
                    "PowerPoint",
                    "Teams",
                    "Twitter",
                    "Typeform",
                    "Visio",
                    "Word",
                    "Zendesk"
                  ]
                },
                "resourceAppUrl": {
                  "type": "string",
                  "description": "Resource Url to bind with task",
                  "title": "Resource Url"
                },
                "ResourceAppID": {
                  "type": "string",
                  "description": "ID of resource to bind with task",
                  "title": "Resource App ID"
                },
                "ResourceAppData": {
                  "type": "string",
                  "description": "Data of resource to bind with task",
                  "title": "Resource App Data"
                },
                "projectName": {
                  "type": "string",
                  "description": "Project Name",
                  "title": "Project Name"
                },
                "projectSectionName": {
                  "type": "string",
                  "description": "Project Section Name",
                  "title": "Project Section"
                },
                "checklists": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Title",
                        "title": "Title"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description",
                        "title": "Description"
                      }
                    }
                  },
                  "description": "Checklists",
                  "title": "Checklist"
                },
                "files": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fileName": {
                        "type": "string",
                        "description": "Name",
                        "title": "Name"
                      },
                      "filePath": {
                        "type": "string",
                        "description": "Path",
                        "title": "Path"
                      }
                    }
                  },
                  "description": "Files",
                  "title": "File"
                }
              },
              "required": [
                "apiKey",
                "title",
                "toEmail"
              ]
            }
          }
        ]
      }
    },
    "/api/services/app/ExternalTask/PushNotificationFromExternal": {
      "post": {
        "responses": {
          "200": {
            "description": "On success alerting",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "errorMessage"
                    },
                    "message_Info": {
                      "type": "string",
                      "description": "message_Info"
                    },
                    "isError": {
                      "type": "boolean",
                      "description": "isError"
                    },
                    "errorType": {
                      "type": "string",
                      "description": "errorType"
                    },
                    "entityId": {
                      "type": "string",
                      "description": "entityId"
                    },
                    "longTypeEntityId": {
                      "type": "string",
                      "description": "longTypeEntityId"
                    },
                    "fieldName": {
                      "type": "string",
                      "description": "fieldName"
                    }
                  },
                  "description": "result"
                },
                "targetUrl": {
                  "type": "string",
                  "description": "targetUrl"
                },
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                },
                "unAuthorizedRequest": {
                  "type": "boolean",
                  "description": "unAuthorizedRequest"
                },
                "__abp": {
                  "type": "boolean",
                  "description": "__abp"
                }
              }
            }
          }
        },
        "summary": "Alert",
        "description": "Alert",
        "operationId": "Alert",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "apiKey": {
                  "type": "string",
                  "description": "Api key",
                  "title": "Api key"
                },
                "alertToEmail": {
                  "type": "string",
                  "description": "Alert To Email",
                  "title": "Alert To Email"
                },
                "title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "message": {
                  "type": "string",
                  "description": "Message Text",
                  "title": "Message"
                },
                "resourceAppName": {
                  "type": "string",
                  "description": "Resource App Name (Power Automate)",
                  "title": "Resource App",
                  "enum": [
                    "Adobe Cloud",
                    "Adobe Sign",
                    "Asana",
                    "Azure DevOps",
                    "Bitbucket",
                    "Contact Manager",
                    "Docusign",
                    "Excel",
                    "HelloSign",
                    "Hubspot",
                    "Jira",
                    "Dataverse",
                    "Dynamics 365",
                    "Forms",
                    "LinkedIn",
                    "List",
                    "To Do",
                    "OneDrive",
                    "OneNote",
                    "Outlook",
                    "Pdf",
                    "Photo",
                    "Planner",
                    "Power Apps",
                    "Power Automate",
                    "PowerPoint",
                    "Teams",
                    "Twitter",
                    "Typeform",
                    "Visio",
                    "Word",
                    "Zendesk"
                  ]
                },
                "ResourceUrl": {
                  "type": "string",
                  "description": "URL of Resource App",
                  "title": "URL of Resource App"
                }
              },
              "required": [
                "apiKey",
                "alertToEmail",
                "message",
                "title"
              ]
            }
          }
        ]
      }
    },
    "/api/services/app/ExternalTask/CreateExternalProject": {
      "post": {
        "responses": {
          "200": {
            "description": "On success creating project.",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "statuscode": {
                      "type": "integer",
                      "format": "int32",
                      "description": "statuscode"
                    },
                    "targetUrl": {
                      "type": "string",
                      "description": "targetUrl"
                    },
                    "ProjectId": {
                      "type": "string",
                      "description": "ProjectId"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "success"
                    },
                    "error": {
                      "type": "string",
                      "description": "error"
                    },
                    "unAuthorizedRequest": {
                      "type": "boolean",
                      "description": "unAuthorizedRequest"
                    },
                    "__abp": {
                      "type": "boolean",
                      "description": "__abp"
                    }
                  },
                  "description": "result"
                },
                "targetUrl": {
                  "type": "string",
                  "description": "targetUrl"
                },
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                },
                "unAuthorizedRequest": {
                  "type": "boolean",
                  "description": "unAuthorizedRequest"
                },
                "__abp": {
                  "type": "boolean",
                  "description": "__abp"
                }
              }
            }
          }
        },
        "summary": "Create Project",
        "description": "Create project with sections, file links in Vineforce App",
        "operationId": "CreateProject",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "apiKey": {
                  "type": "string",
                  "description": "API Key assigned to company from Vineforce App.",
                  "title": "API Key"
                },
                "projectName": {
                  "type": "string",
                  "description": "Name of project to be created.",
                  "title": "Project Name"
                },
                "creatorEmail": {
                  "type": "string",
                  "description": "Email of project creator.",
                  "title": "Creator Email"
                },
                "dueDate": {
                  "type": "string",
                  "description": "Due date of the project.",
                  "title": "Due Date"
                },
                "members": {
                  "type": "string",
                  "description": "Separate each member's email using \";\" semi colon.",
                  "title": "Members (Email)"
                },
                "sections": {
                  "type": "string",
                  "description": "Separate each section using \";\" semi colon.",
                  "title": "Project Sections"
                },
                "files": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fileName": {
                        "type": "string",
                        "description": "Name of file with extension.",
                        "title": "File Name"
                      },
                      "filePath": {
                        "type": "string",
                        "description": "Url link of file.",
                        "title": "File Path"
                      }
                    }
                  },
                  "description": "File Links to associate to the project.",
                  "title": "Files"
                }
              },
              "required": [
                "apiKey",
                "creatorEmail",
                "projectName"
              ]
            }
          }
        ]
      }
    },
    "/api/services/app/ExternalTask/UpdateExternalTask": {
      "put": {
        "responses": {
          "200": {
            "description": "On success updating task.",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "errorMessage"
                    },
                    "message_Info": {
                      "type": "string",
                      "description": "message_Info"
                    },
                    "isError": {
                      "type": "boolean",
                      "description": "isError"
                    },
                    "taskID": {
                      "type": "string",
                      "description": "task ID"
                    },
                    "errorType": {
                      "type": "string",
                      "description": "errorType"
                    },
                    "entityId": {
                      "type": "string",
                      "description": "entityId"
                    },
                    "longTypeEntityId": {
                      "type": "string",
                      "description": "longTypeEntityId"
                    },
                    "responseData": {
                      "type": "integer",
                      "format": "int32",
                      "description": "responseData"
                    },
                    "listOfEntities": {
                      "type": "string",
                      "description": "listOfEntities"
                    },
                    "fieldName": {
                      "type": "string",
                      "description": "fieldName"
                    }
                  },
                  "description": "result"
                },
                "targetUrl": {
                  "type": "string",
                  "description": "targetUrl"
                },
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                },
                "unAuthorizedRequest": {
                  "type": "boolean",
                  "description": "unAuthorizedRequest"
                },
                "__abp": {
                  "type": "boolean",
                  "description": "__abp"
                }
              }
            }
          }
        },
        "summary": "Update Task",
        "description": "Update a task using the TaskID that is returned by Create Task Action.",
        "operationId": "UpdateTask",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "apiKey": {
                  "type": "string",
                  "description": "Api key",
                  "title": "Api Key"
                },
                "taskID": {
                  "type": "string",
                  "description": "Task ID",
                  "title": "Task ID"
                },
                "fromEmail": {
                  "type": "string",
                  "description": "Email address of user assigning this task",
                  "title": "From Email"
                },
                "toEmail": {
                  "type": "string",
                  "description": "Email address of assigned to user",
                  "title": "To Email"
                },
                "TaskStatus": {
                  "type": "string",
                  "description": "Set task status",
                  "title": "Set task status",
                  "enum": [
                    "Completed",
                    "Unfinished"
                  ]
                },
                "title": {
                  "type": "string",
                  "description": "Title for the task",
                  "title": "Title"
                },
                "description": {
                  "type": "string",
                  "description": "Description for the task",
                  "title": "Description",
                  "format": "html"
                },
                "dueDate": {
                  "type": "string",
                  "description": "Due Date for the task",
                  "title": "Due Date"
                },
                "isImportant": {
                  "type": "boolean",
                  "description": "Set task importance",
                  "title": "Is task important?",
                  "enum": [
                    true,
                    false
                  ]
                },
                "resourceAppName": {
                  "type": "string",
                  "description": "Resource App Name (Power Automate)",
                  "title": "Resource App",
                  "enum": [
                    "Adobe Cloud",
                    "Adobe Sign",
                    "Asana",
                    "Azure DevOps",
                    "Bitbucket",
                    "Contact Manager",
                    "Docusign",
                    "Excel",
                    "HelloSign",
                    "Hubspot",
                    "Jira",
                    "Dataverse",
                    "Dynamics 365",
                    "Forms",
                    "LinkedIn",
                    "List",
                    "To Do",
                    "OneDrive",
                    "OneNote",
                    "Outlook",
                    "Pdf",
                    "Photo",
                    "Planner",
                    "Power Apps",
                    "Power Automate",
                    "PowerPoint",
                    "Teams",
                    "Twitter",
                    "Typeform",
                    "Visio",
                    "Word",
                    "Zendesk"
                  ]
                },
                "resourceAppUrl": {
                  "type": "string",
                  "description": "Resource Url to bind with task",
                  "title": "Resource Url"
                },
                "ResourceAppID": {
                  "type": "string",
                  "description": "ID of resource to bind with task",
                  "title": "Resource App ID"
                },
                "ResourceAppData": {
                  "type": "string",
                  "description": "Data of resource to bind with task",
                  "title": "Resource App Data"
                },
                "projectName": {
                  "type": "string",
                  "description": "Project Name",
                  "title": "Project Name"
                },
                "projectSectionName": {
                  "type": "string",
                  "description": "Project Section Name",
                  "title": "Project Section"
                },
                "checklists": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Title",
                        "title": "Title"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description",
                        "title": "Description"
                      }
                    }
                  },
                  "description": "Checklists",
                  "title": "Checklist"
                },
                "files": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fileName": {
                        "type": "string",
                        "description": "Name",
                        "title": "Name"
                      },
                      "filePath": {
                        "type": "string",
                        "description": "Path",
                        "title": "Path"
                      }
                    }
                  },
                  "description": "Files",
                  "title": "File"
                }
              },
              "required": [
                "apiKey",
                "title",
                "toEmail",
                "taskID"
              ]
            }
          }
        ]
      }
    },
    "/api/services/app/ExternalContact/CreateContactNotes": {
      "post": {
        "responses": {
          "200": {
            "description": "On success creation of contact note",
            "schema": {}
          }
        },
        "summary": "Create Contact Note",
        "description": "Create note for a contact",
        "operationId": "CreateContactNote",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "apiKey": {
                  "type": "string",
                  "description": "Api Key",
                  "title": "Api Key"
                },
                "ownerEmail": {
                  "type": "string",
                  "description": "Vineforce user email",
                  "title": "User Email"
                },
                "contactEmail": {
                  "type": "string",
                  "description": "Contact email",
                  "title": "Contact Email"
                },
                "notes": {
                  "type": "string",
                  "description": "Notes",
                  "title": "Notes"
                }
              },
              "required": [
                "apiKey",
                "contactEmail",
                "ownerEmail",
                "notes"
              ]
            }
          }
        ]
      }
    },
    "/api/services/app/ExternalCompany/CreateCompanyExternal": {
      "post": {
        "responses": {
          "200": {
            "description": "On success creation of company",
            "schema": {}
          }
        },
        "summary": "Create Company",
        "description": "Create a Vineforce Company",
        "operationId": "CreateCompany",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "apiKey": {
                  "type": "string",
                  "description": "Api Key",
                  "title": "Api Key"
                },
                "companyName": {
                  "type": "string",
                  "description": "Company name",
                  "title": "Company Name"
                },
                "userEmail": {
                  "type": "string",
                  "description": "Vineforce user email",
                  "title": "User Email"
                },
                "street": {
                  "type": "string",
                  "description": "Street",
                  "title": "Street"
                },
                "suite_UnitNumber": {
                  "type": "string",
                  "description": "Suite_UnitNumber",
                  "title": "Suite Unit Number"
                },
                "city": {
                  "type": "string",
                  "description": "City",
                  "title": "City"
                },
                "state": {
                  "type": "string",
                  "description": "State",
                  "title": "State"
                },
                "postalCode": {
                  "type": "string",
                  "description": "Postal code",
                  "title": "Postal Code"
                },
                "countryName": {
                  "type": "string",
                  "description": "Country name",
                  "title": "Country Name"
                },
                "taxId": {
                  "type": "string",
                  "description": "Tax Id",
                  "title": "Tax Id"
                },
                "siteUrl": {
                  "type": "string",
                  "description": "Site Url",
                  "title": "Site Url"
                }
              },
              "required": [
                "apiKey",
                "companyName",
                "userEmail"
              ]
            }
          }
        ]
      }
    },
    "/api/services/app/ExternalContact/CreateContactExternal": {
      "post": {
        "responses": {
          "200": {
            "description": "On success creation of contact",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "statuscode": {
                      "type": "integer",
                      "format": "int32",
                      "description": "statuscode"
                    },
                    "targetUrl": {
                      "type": "string",
                      "description": "targetUrl"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "success"
                    },
                    "error": {
                      "type": "string",
                      "description": "error"
                    },
                    "unAuthorizedRequest": {
                      "type": "boolean",
                      "description": "unAuthorizedRequest"
                    },
                    "__abp": {
                      "type": "boolean",
                      "description": "__abp"
                    },
                    "contactId": {
                      "type": "string",
                      "description": "contactId"
                    }
                  },
                  "description": "result"
                },
                "targetUrl": {
                  "type": "string",
                  "description": "targetUrl"
                },
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                },
                "unAuthorizedRequest": {
                  "type": "boolean",
                  "description": "unAuthorizedRequest"
                },
                "__abp": {
                  "type": "boolean",
                  "description": "__abp"
                }
              }
            }
          }
        },
        "summary": "Create Contact",
        "description": "Create a Vineforce Contact",
        "operationId": "CreateContact",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "apiKey": {
                  "type": "string",
                  "description": "Api Key",
                  "title": "Api Key"
                },
                "ownerEmailAddress": {
                  "type": "string",
                  "description": "Vineforce user email",
                  "title": "User Email"
                },
                "contactEmailAddress1": {
                  "type": "string",
                  "description": "Contacts email address 1",
                  "title": "Email Address 1"
                },
                "contactEmailAddress2": {
                  "type": "string",
                  "description": "Contacts email address 2",
                  "title": "Email Address 2"
                },
                "contactEmailAddress3": {
                  "type": "string",
                  "description": "Contacts email address 3",
                  "title": "Email Address 3"
                },
                "firstName": {
                  "type": "string",
                  "description": "First name",
                  "title": "First Name"
                },
                "lastName": {
                  "type": "string",
                  "description": "Last name",
                  "title": "Last Name"
                },
                "jobTitle": {
                  "type": "string",
                  "description": "Job title",
                  "title": "Job Title"
                },
                "birthDay": {
                  "type": "string",
                  "description": "Birthdate's day (1-31)",
                  "title": "Birthdate (day)"
                },
                "birthMonth": {
                  "type": "integer",
                  "description": "Birthdate's month (1-12)",
                  "title": "Birthdate (month)",
                  "format": "int32"
                },
                "birthYear": {
                  "type": "integer",
                  "description": "Birthdate's year (4 digits)",
                  "title": "Birthdate (year)",
                  "format": "int32"
                },
                "contactType": {
                  "type": "string",
                  "description": "Contact type",
                  "title": "Contact Type"
                },
                "companyID1": {
                  "type": "string",
                  "description": "Company ID 1",
                  "title": "Company ID 1"
                },
                "companyID2": {
                  "type": "string",
                  "description": "Company ID 2",
                  "title": "Company ID 2"
                },
                "companyID3": {
                  "type": "string",
                  "description": "Company ID 3",
                  "title": "Company ID 3"
                },
                "accountNumber": {
                  "type": "string",
                  "description": "Account number",
                  "title": "Account Number"
                },
                "socialSecurityNumber": {
                  "type": "string",
                  "description": "Social security number",
                  "title": "Social Security Number"
                }
              },
              "required": [
                "apiKey",
                "ownerEmailAddress",
                "firstName",
                "contactEmailAddress1"
              ]
            }
          }
        ]
      }
    },
    "/api/services/app/ExternalContact/CreateContactPhoneExternal": {
      "post": {
        "responses": {
          "200": {
            "description": "On success creation of contact phone",
            "schema": {}
          }
        },
        "summary": "Create contact Phone",
        "operationId": "CreateContactPhone",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "apiKey": {
                  "type": "string",
                  "description": "Api Key",
                  "title": "Api Key"
                },
                "contactEmail": {
                  "type": "string",
                  "description": "Contact email",
                  "title": "Contact Email"
                },
                "userEmail": {
                  "type": "string",
                  "description": "Vineforce user email",
                  "title": "User Email"
                },
                "phone": {
                  "type": "string",
                  "description": "Phone number (Add country code infront if outside US)",
                  "title": "Phone Number"
                },
                "phoneType": {
                  "type": "string",
                  "description": "Phone type",
                  "title": "Phone Type",
                  "enum": [
                    "Mobile",
                    "Work",
                    "Home",
                    "Fax",
                    "Other"
                  ]
                },
                "extension": {
                  "type": "string",
                  "description": "Extension number",
                  "title": "Extension Number"
                }
              },
              "required": [
                "apiKey",
                "contactEmail",
                "userEmail",
                "phoneType",
                "phone"
              ]
            }
          }
        ],
        "description": "Create contact phone"
      }
    },
    "/api/services/app/ExternalContact/CreateContactAddressExternal": {
      "post": {
        "responses": {
          "200": {
            "description": "On success creation of contact address",
            "schema": {}
          }
        },
        "summary": "Create contact address",
        "description": "Create contact address",
        "operationId": "CreateContactAddress",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "apiKey": {
                  "type": "string",
                  "description": "Api Key",
                  "title": "Api Key"
                },
                "contactEmail": {
                  "type": "string",
                  "description": "Contact email",
                  "title": "Contact Email"
                },
                "userEmail": {
                  "type": "string",
                  "description": "Vineforce user email",
                  "title": "User Email"
                },
                "addressType": {
                  "type": "string",
                  "description": "Address type",
                  "title": "Address Type",
                  "enum": [
                    "Home",
                    "Physical",
                    "Mailing",
                    "Work",
                    "Other"
                  ]
                },
                "street": {
                  "type": "string",
                  "description": "Street",
                  "title": "Street"
                },
                "suiteUnitNumber": {
                  "type": "string",
                  "description": "Suite unit number",
                  "title": "Suite Unit Number"
                },
                "city": {
                  "type": "string",
                  "description": "City",
                  "title": "City"
                },
                "state": {
                  "type": "string",
                  "description": "State",
                  "title": "State"
                },
                "zipCode": {
                  "type": "string",
                  "description": "Zip code",
                  "title": "Zip Code"
                },
                "countryName": {
                  "type": "string",
                  "description": "Country name",
                  "title": "Country Name"
                }
              },
              "required": [
                "apiKey",
                "contactEmail",
                "userEmail",
                "addressType"
              ]
            }
          }
        ]
      }
    },
    "/api/services/app/ExternalContact/CreateContactFamilyExternal": {
      "post": {
        "responses": {
          "200": {
            "description": "On success creation of contact family",
            "schema": {}
          }
        },
        "summary": "Create contact families",
        "description": "Create contact families",
        "operationId": "CreateContactFamily",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "apiKey": {
                  "type": "string",
                  "description": "Api Key",
                  "title": "Api Key"
                },
                "contactEmail": {
                  "type": "string",
                  "description": "Contact email",
                  "title": "Contact Email"
                },
                "userEmail": {
                  "type": "string",
                  "description": "Vineforce user email",
                  "title": "User Email"
                },
                "firstName": {
                  "type": "string",
                  "description": "First name",
                  "title": "First Name"
                },
                "lastName": {
                  "type": "string",
                  "description": "Last name",
                  "title": "Last Name"
                },
                "relationship": {
                  "type": "string",
                  "description": "Relationship",
                  "title": "Relationship",
                  "enum": [
                    "Spouse",
                    "Son",
                    "Daughter",
                    "Mother",
                    "Father",
                    "Brother",
                    "Sister",
                    "GrandMother",
                    "GrandFather",
                    "GrandSon",
                    "GrandDaughter"
                  ]
                },
                "birthDate": {
                  "type": "string",
                  "description": "Birthdate's day (1-31)",
                  "title": "Birthdate (day)"
                },
                "birthMonth": {
                  "type": "integer",
                  "description": "Birthdate's month (1-12)",
                  "title": "Birthdate (month)",
                  "format": "int32"
                },
                "birthYear": {
                  "type": "integer",
                  "description": "Birthdate's year (4 digits)",
                  "title": "Birthdate (year)",
                  "format": "int32"
                },
                "countryName": {
                  "type": "string",
                  "description": "Country name",
                  "title": "Country Name"
                }
              },
              "required": [
                "apiKey",
                "contactEmail",
                "userEmail",
                "relationship",
                "firstName"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.vineforce.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.vineforce.com/legal"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Productivity"
    }
  ]
}