{
  "swagger": "2.0",
  "info": {
    "title": "Vineforce",
    "description": "Vineforce is a remote workplace tool built for Microsoft 365 users. It transforms the platform into one cohesive toolkit to help you get more done, experience less burnout, and feel more connected with your teammates.",
    "version": "1.0",
	"contact": {
      "name": "Contact",
      "url": "https://www.vineforce.com/contact",
      "email": "contact@vineforce.com"
    }
  },
  "host": "appapi.vineforce.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/services/app/ExternalTask/CreateExternalTask": {
      "post": {
        "responses": {
          "200": {
            "description": "On success creation of task",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "errorMessage"
                    },
                    "message_Info": {
                      "type": "string",
                      "description": "message_Info"
                    },
                    "isError": {
                      "type": "boolean",
                      "description": "isError"
                    },
                    "errorType": {
                      "type": "string",
                      "description": "errorType"
                    },
                    "entityId": {
                      "type": "string",
                      "description": "entityId"
                    },
                    "longTypeEntityId": {
                      "type": "string",
                      "description": "longTypeEntityId"
                    },
                    "responseData": {
                      "type": "integer",
                      "format": "int32",
                      "description": "responseData"
                    },
                    "listOfEntities": {
                      "type": "string",
                      "description": "listOfEntities"
                    },
                    "fieldName": {
                      "type": "string",
                      "description": "fieldName"
                    }
                  },
                  "description": "result"
                },
                "targetUrl": {
                  "type": "string",
                  "description": "targetUrl"
                },
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                },
                "unAuthorizedRequest": {
                  "type": "boolean",
                  "description": "unAuthorizedRequest"
                },
                "__abp": {
                  "type": "boolean",
                  "description": "__abp"
                }
              }
            }
          }
        },
        "summary": "Create Task",
        "description": "This operation is used to create a new task.",
        "operationId": "CreateTask",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "apiKey": {
                  "type": "string",
                  "description": "Key provided by admin.",
                  "title": "Api key"
                },
                "fromEmail": {
                  "type": "string",
                  "description": "Email address of assigning user.",
                  "title": "From Email"
                },
                "toEmail": {
                  "type": "string",
                  "description": "Email address of assigned to user.",
                  "title": "To Email"
                },
                "title": {
                  "type": "string",
                  "description": "Title for the task.",
                  "title": "Title"
                },
                "description": {
                  "type": "string",
                  "description": "Description for the task",
                  "title": "Description",
                  "format": "html"
                },
                "dueDate": {
                  "type": "string",
                  "description": "Due Date of the task.",
                  "title": "Due Date"
                },
                "resourceAppName": {
                  "type": "string",
                  "description": "App Name",
                  "title": "Resource App",
                  "enum": [
                    "Adobe Cloud",
                    "Adobe Sign",
                    "Asana",
                    "Azure DevOps",
                    "Bitbucket",
                    "Contact Manager",
                    "Docusign",
                    "HelloSign",
                    "Hubspot",
                    "Jira",
                    "Dataverse",
                    "Dynamics 365",
                    "Forms",
                    "List",
                    "To Do",
                    "Outlook",
                    "OneDrive",
                    "Planner",
                    "Power Apps",
                    "Power Automate",
                    "Teams",
                    "Twitter",
                    "Typeform",
                    "Zendesk"
                  ]
                },
                "resourceAppUrl": {
                  "type": "string",
                  "description": "External link associated with the resource app",
                  "title": "Resource Url"
                },
                "projectName": {
                  "type": "string",
                  "description": "Project to be associated with the task",
                  "title": "Project Name"
                },
                "projectSectionName": {
                  "type": "string",
                  "description": "Project Section to be associated with the task",
                  "title": "Project Section"
                },
                "checkList": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Title of checklist item.",
                    "title": "Checklist"
                  },
                  "description": "checkList"
                }
              },
              "required": [
                "apiKey",
                "title",
                "toEmail"
              ]
            }
          }
        ]
      }
    },
    "/api/services/app/ExternalTask/PushNotificationFromExternal": {
      "post": {
        "responses": {
          "200": {
            "description": "On success alerting",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string",
                      "description": "errorMessage"
                    },
                    "message_Info": {
                      "type": "string",
                      "description": "message_Info"
                    },
                    "isError": {
                      "type": "boolean",
                      "description": "isError"
                    },
                    "errorType": {
                      "type": "string",
                      "description": "errorType"
                    },
                    "entityId": {
                      "type": "string",
                      "description": "entityId"
                    },
                    "longTypeEntityId": {
                      "type": "string",
                      "description": "longTypeEntityId"
                    },
                    "fieldName": {
                      "type": "string",
                      "description": "fieldName"
                    }
                  },
                  "description": "result"
                },
                "targetUrl": {
                  "type": "string",
                  "description": "targetUrl"
                },
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "error": {
                  "type": "string",
                  "description": "error"
                },
                "unAuthorizedRequest": {
                  "type": "boolean",
                  "description": "unAuthorizedRequest"
                },
                "__abp": {
                  "type": "boolean",
                  "description": "__abp"
                }
              }
            }
          }
        },
        "summary": "Alert a user",
        "description": "This operation is used to alert user.",
        "operationId": "Alert",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "apiKey": {
                  "type": "string",
                  "description": "Key provided by admin.",
                  "title": "Api key"
                },
                "alertToEmail": {
                  "type": "string",
                  "description": "Email address of assigned to user.",
                  "title": "Alert To Email"
                },
                "title": {
                  "type": "string",
                  "description": "Title of the alert.",
                  "title": "Title"
                },
                "message": {
                  "type": "string",
                  "description": "Message of the alert.",
                  "title": "Message"
                }
              },
              "required": [
                "apiKey",
                "alertToEmail",
                "message",
                "title"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://www.vineforce.com"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://www.vineforce.com/legal"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Collaboration;Productivity"
      }
    ]
}