{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Cognizant Automation Center",
    "description": "Cognizant Automation Center I&O is an integrated portfolio of Bots, services IPs, platform and solutions that brings the best of the breed Automated solutions. It is an AIOps platform that integrates with several systems in a complex IT ecosystem and facilitates transition Eliminate-Automation–Modernize using Devops SRE Operate framework. Cognizant Automation Center Integrates systems of engagement, systems of record, systems of monitoring & assurance and systems that execute Automation actions.",
    "contact": {
      "name": "AutomationCenter",
      "url": "https://automationcenter.cognizantgoc.com/portal/boot/signon#",
      "email": "AutomationCenter@cognizant.com"
    }
  },
  "host": "automationcenter.cognizantgoc.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/portal/ino/api/v3/collab/activity/{ActivityID}/actions/{ActivityActionID}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "DateTZConversionColumn": {
                  "type": "array",
                  "items": {},
                  "description": "DateTZConversionColumn"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Status": {
                        "type": "string",
                        "description": "Status"
                      },
                      "Automation Status": {
                        "type": "string",
                        "description": "Automation Status"
                      },
                      "Status Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Status Id"
                      },
                      "Automation Status Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Automation Status Id"
                      },
                      "Output Status Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Output Status Id"
                      }
                    }
                  },
                  "description": "Data"
                },
                "TotalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TotalCount"
                },
                "ColumnMapping": {
                  "type": "array",
                  "items": {},
                  "description": "ColumnMapping"
                },
                "DateColumn": {
                  "type": "array",
                  "items": {},
                  "description": "DateColumn"
                },
                "ComboBox": {
                  "type": "array",
                  "items": {},
                  "description": "ComboBox"
                },
                "ComboSelect": {
                  "type": "array",
                  "items": {},
                  "description": "ComboSelect"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "TransactionKey"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Get the Executed Action Status",
        "description": "Get the Executed Action Status",
        "operationId": "ActivityActionStatus",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "ActivityID",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "Activity id",
            "x-ms-summary": "Activity id in which action is executed"
          },
          {
            "name": "ActivityActionID",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "Executed Activity Action Id",
            "x-ms-summary": "Executed Activity Action Id"
          },
          {
            "name": "ttype",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "ExecutedActionView",
            "x-ms-visibility": "internal",
            "x-ms-summary": "ttype is defaulted to ExecutedActionView"
          }
        ]
      }
    },
    "/portal/ino/api/v3/collab/activity/{ActivityId}/actions": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "ActivityActionId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ActivityActionId"
                },
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "Msg": {
                  "type": "string",
                  "description": "Msg"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "TransactionKey"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation failed"
          }
        },
        "summary": "Trigger Automation Center Derived Action",
        "description": "Trigger Automation Center Derived Action",
        "operationId": "TriggerAction",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "ActivityId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "ActivityId",
            "x-ms-summary": "Activity in which action will be executed"
          },
          {
            "name": "ttype",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "TriggerActionExternal",
            "x-ms-visibility": "internal",
            "x-ms-summary": "set ttype to TriggerActionExternal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "ActionId",
                "CIId",
                "ActivityId"
              ],
              "properties": {
                "ActionId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ActionId"
                },
                "ActivityId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Activityid"
                },
                "CIId": {
                  "type": "string",
                  "description": "CIId",
                  "default": "ActivityCI"
                }
              }
            }
          }
        ]
      }
    },
    "/portal/ino/api/v3/collab/activity/{ActivityId}/attributes": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "DateTZConversionColumn": {
                  "type": "array",
                  "items": {},
                  "description": "DateTZConversionColumn"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Id"
                      },
                      "Key": {
                        "type": "string",
                        "description": "Key"
                      },
                      "Value": {
                        "type": "string",
                        "description": "Value"
                      },
                      "EntityId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "EntityId"
                      },
                      "EntityName": {
                        "type": "string",
                        "description": "EntityName"
                      },
                      "AttributeId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "AttributeId"
                      },
                      "AttributeName": {
                        "type": "string",
                        "description": "AttributeName"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          },
          "default": {
            "description": "Operation failed"
          }
        },
        "operationId": "ReadActivityAttribute",
        "description": "Read Attributes by activity Id",
        "summary": "Read all the attributes of an activity and return in JSON format",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "ActivityId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Activity Id",
            "x-ms-summary": "Technology or Application Activity id"
          },
          {
            "name": "ttype",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "ReadAttributes",
            "x-ms-visibility": "internal",
            "x-ms-summary": "set ttype to ReadAttributes"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "Msg": {
                  "type": "string",
                  "description": "Msg"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "TransactionKey"
                }
              }
            }
          },
          "default": {
            "description": "Operation failed"
          }
        },
        "operationId": "SetActivityAdditionalAttribute",
        "description": "Create AdditionalAttribute",
        "summary": "Create or Update the additional attribute for an activity",
        "parameters": [
          {
            "name": "ActivityId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Activity id",
            "x-ms-summary": "Technology or Application activity id"
          },
          {
            "name": "ttype",
            "in": "query",
            "required": true,
            "default": "InsertUpdate",
            "x-ms-visibility": "internal",
            "type": "string",
            "x-ms-summary": "set ttype to InsertUpdate"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "Pass as Key-Value Pair"
            }
          }
        ]
      }
    },
    "/portal/ino/api/v3/collab/activity/{ActivityId}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "Msg": {
                  "type": "string",
                  "description": "Message"
                },
                "DateTZConversionColumn": {
                  "type": "array",
                  "items": {},
                  "description": "DateTZConversionColumn"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Id"
                      },
                      "IntelligentSequenceStatusId": {
                        "type": "string",
                        "description": "IntelligentSequenceStatusId"
                      }
                    }
                  },
                  "description": "Data"
                },
                "TotalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TotalCount"
                },
                "ColumnMapping": {
                  "type": "array",
                  "items": {},
                  "description": "ColumnMapping"
                },
                "ComboBox": {
                  "type": "array",
                  "items": {},
                  "description": "ComboBox"
                },
                "ComboSelect": {
                  "type": "array",
                  "items": {},
                  "description": "ComboSelect"
                },
                "DateColumn": {
                  "type": "array",
                  "items": {},
                  "description": "DateColumn"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "TransactionKey"
                }
              }
            }
          },
          "default": {
            "description": "Operation failed"
          }
        },
        "summary": "Get IS execution status based on activity id",
        "description": "Get IS execution status based on activity id",
        "operationId": "FetchISExecutionStatus",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "ActivityId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Activity id",
            "x-ms-summary": "Technology or Application activity id"
          },
          {
            "name": "ttype",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "TriggerIsStatusApi",
            "x-ms-visibility": "internal",
            "x-ms-summary": "set ttype to TriggerIsStatusApi"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "Msg": {
                  "type": "string",
                  "description": "Msg"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "TransactionKey"
                }
              }
            }
          },
          "default": {
            "description": "Operation failed"
          }
        },
        "summary": "Trigger IS in activity based on SkillId",
        "description": "Trigger IS in activity based on SkillId",
        "operationId": "TriggerIS",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "ActivityId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Activity id",
            "x-ms-summary": "Technology or Application activity id"
          },
          {
            "name": "ttype",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "TriggerIS",
            "x-ms-visibility": "internal",
            "x-ms-summary": "set ttype to TriggerIS"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "SkillId"
              ],
              "properties": {
                "SkillId": {
                  "type": "string",
                  "description": "SkillId"
                }
              }
            }
          }
        ]
      }
    },
    "/portal/ino/api/v3/collab/activityaction/{ActivityActionId}": {
      "patch": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "Msg": {
                  "type": "string",
                  "description": "Msg"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "TransactionKey"
                }
              }
            }
          },
          "default": {
            "description": "Operation failed"
          }
        },
        "description": "Update Action Output",
        "operationId": "UpdateActionOutput",
        "summary": "Post the result back to Automation center based on activity action id",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "ActivityActionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Executed Activity Action id",
            "x-ms-summary": "Executed Action id"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "output"
              ],
              "properties": {
                "output": {
                  "type": "string",
                  "description": "Output"
                },
                "ActionExecutionStatus": {
                  "type": "integer",
                  "description": "ActionExecutionStatus 1->Success 2->Failure",
                  "enum": [
                    1,
                    2
                  ]
                }
              }
            }
          }
        ]
      }
    },
    "/portal/ino/api/v3/collab/activity/{ActivityId}/v1/link": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "Msg": {
                  "type": "string",
                  "description": "Msg"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "TransactionKey"
                }
              }
            }
          },
          "default": {
            "description": "Operation failed"
          }
        },
        "operationId": "LinkAsChildActivity",
        "description": "Link as Child Activity",
        "summary": "Add activity as child",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "ActivityId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Parent ActivityId",
            "x-ms-summary": "Technology or Application parent activity id"
          },
          {
            "name": "ttype",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "AddChild",
            "x-ms-visibility": "internal",
            "x-ms-summary": "set ttype to AddChild"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "ChildId"
              ],
              "properties": {
                "ChildId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ChildId"
                }
              }
            }
          }
        ]
      }
    },
    "/portal/ino/api/v3/collab/activity": {
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "description": "ActivityId"
                },
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "Msg": {
                  "type": "string",
                  "description": "Msg"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "TransactionKey"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "summary": "Create Activity in Automation Center",
        "description": "Create Activity",
        "operationId": "CreateActivity",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "Name",
                "Description",
                "CIId",
                "CustomerId",
                "SourceId"
              ],
              "properties": {
                "pa_run_id": {
                  "type": "string",
                  "description": "PowerAutomate Workflow RunId add as additional attribute",
                  "default": "@{workflow().run.name}",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Workflow RunId"
                },
                "pa_run_name": {
                  "type": "string",
                  "description": "PowerAutomate Workflow Run URL add as additional attribute",
                  "x-ms-visibility": "advanced",
                  "default": "@{concat('https://india.flow.microsoft.com/manage/environments/',workflow().tags.environmentName,'/flows/',workflow().name,'/runs/',workflow().run.name)}",
                  "x-ms-summary": "Workflow Run URL"
                },
                "SourceId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "SourceId",
                  "default": 11,
                  "x-ms-visibility": "internal",
                  "x-ms-summary": "set sourceid as 11 to create activity under general category"
                },
                "Name": {
                  "type": "string",
                  "description": "Activity Name",
                  "x-ms-summary": "Activity Short Name"
                },
                "Description": {
                  "type": "string",
                  "description": "Activity Description",
                  "x-ms-summary": "Activity Problem Description"
                },
                "CIId": {
                  "type": "string",
                  "description": "CIId",
                  "x-ms-summary": "CI in which problem occured"
                },
                "OwnerId": {
                  "type": "string",
                  "description": "OwnerId",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Activity assignment user id"
                },
                "AssignmentGroup": {
                  "type": "string",
                  "description": "AssignmentGroup",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "AssignmentGroup of an owner"
                },
                "CustomerId": {
                  "type": "string",
                  "description": "CustomerId",
                  "x-ms-summary": "Activity created under which customer",
                  "x-ms-dynamic-values": {
                    "operationId": "FetchCustomerDetails",
                    "value-path": "Id",
                    "value-title": "Data/Id",
                    "value-collection": "Data"
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/portal/base/api/v3/admin/customer": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "Msg": {
                  "type": "string",
                  "description": "Message"
                },
                "DateTZConversionColumn": {
                  "type": "array",
                  "items": {},
                  "description": "DateTZConversionColumn"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string",
                        "description": "customer name"
                      },
                      "Domain": {
                        "type": "string",
                        "description": "domain"
                      },
                      "EmailActionId": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "MailboxEntityId": {
                        "type": "string"
                      },
                      "MailboxCredentialId": {
                        "type": "string"
                      },
                      "UsePersonalCredential": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "SdTransferTypeId": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "Bot": {
                        "type": "string"
                      },
                      "DownloadActionPack": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "AEConfiguration": {
                        "type": "string"
                      },
                      "AskIvaAttachment": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "TokenExpirationDate": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "EventSubscribe": {
                        "type": "boolean"
                      },
                      "AskIvaAutofill": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "ITSMEntityId": {
                        "type": "string"
                      },
                      "MonitoringEntityId": {
                        "type": "string"
                      },
                      "Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Id"
                      }
                    }
                  },
                  "description": "Data"
                },
                "TotalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TotalCount"
                },
                "ColumnMapping": {
                  "type": "array",
                  "items": {},
                  "description": "ColumnMapping"
                },
                "ComboBox": {
                  "type": "array",
                  "items": {},
                  "description": "ComboBox"
                },
                "ComboSelect": {
                  "type": "array",
                  "items": {},
                  "description": "ComboSelect"
                },
                "DateColumn": {
                  "type": "array",
                  "items": {},
                  "description": "DateColumn"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "TransactionKey"
                }
              }
            }
          },
          "default": {
            "description": "Operation failed"
          }
        },
        "summary": "Get Customer information based on API token",
        "description": "Get Customer information based on API token",
        "operationId": "FetchCustomerDetails",
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "ttype",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "Id",
            "x-ms-visibility": "internal",
            "x-ms-summary": "set ttype to string"
          }
        ]
      }
    },
    "/portal/ino/api/v3/collab/activity/0/logs": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "Msg": {
                  "type": "string",
                  "description": "Msg"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "TransactionKey"
                }
              }
            }
          }
        },
        "operationId": "CreateaActivityLog",
        "description": "Create Activity Log",
        "summary": "Create Activity Log",
		"deprecated": false,
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "ttype",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "NewRecord",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ActivityId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ActivityId",
                  "x-ms-summary": "ActivityId"
 
                },
                "Comment": {
                  "type": "string",
                  "description": "Comment",
                  "x-ms-summary": "Comment",
				  "x-ms-visibility": "advanced",
                  "default": "Triggered by PowerAutomate. Run id: @{workflow().run.name} Workflow: @{concat('https://india.flow.microsoft.com/manage/environments/',workflow().tags.environmentName,'/flows/',workflow().name,'/runs/',workflow().run.name)}"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CreatedById",
				  "x-ms-summary": "CreatedById"
                }
              },
              "required": [
                "Comment",
                "ActivityId",
                "CreatedById"
              ]
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.cognizant.com/us/en/automation-center"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.cognizant.com/us/en/privacy-notice"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;AI"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}