{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Cognizant Automation Center",
    "description": "Cognizant Automation Center I&O is an integrated portfolio of Bots, services IPs, platform and solutions that brings the best of the breed Automated solutions. It is an AIOps platform that integrates with several systems in a complex IT ecosystem and facilitates transition Eliminate-Automation–Modernize using Devops SRE Operate framework. Cognizant Automation Center Integrates systems of engagement, systems of record, systems of monitoring & assurance and systems that execute Automation actions.",
    "contact": {
      "name": "AutomationCenter",
      "url": "https://automationcenter.cognizantgoc.com/portal/boot/signon#",
      "email": "AutomationCenter@cognizant.com"
    }
  },
  "host": "automationcenter.cognizantgoc.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/portal/ino/api/v3/collab/activity/{ActivityID}/actions/{ActivityActionID}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "DateTZConversionColumn": {
                  "type": "array",
                  "items": {},
                  "description": "Date Converted Column details"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Status": {
                        "type": "string",
                        "description": "Status"
                      },
                      "Automation Status": {
                        "type": "string",
                        "description": "Automation Status"
                      },
                      "Status Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Status Id"
                      },
                      "Automation Status Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Automation Status Id"
                      },
                      "Output Status Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Output Status Id"
                      }
                    }
                  },
                  "description": "Data"
                },
                "TotalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total Count"
                },
                "ColumnMapping": {
                  "type": "array",
                  "items": {},
                  "description": "Column Mapping details"
                },
                "DateColumn": {
                  "type": "array",
                  "items": {},
                  "description": "List of date column"
                },
                "ComboBox": {
                  "type": "array",
                  "items": {},
                  "description": "ComboBox details"
                },
                "ComboSelect": {
                  "type": "array",
                  "items": {},
                  "description": "ComboSelect details"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "Transaction Key"
                }
              }
            }
          }
        },
        "summary": "Get Action Status",
        "description": "Get the executed action status using activity action id.",
        "operationId": "ActivityActionStatus",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "ActivityID",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "Activity id in which action is executed",
            "x-ms-summary": "Activity Id"
          },
          {
            "name": "ActivityActionID",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Activity Action Id",
            "description": "Executed Activity Action Id"
          },
          {
            "name": "ttype",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "ExecutedActionView",
            "x-ms-visibility": "internal",
            "x-ms-summary": "ttype is defaulted to ExecutedActionView"
          }
        ]
      }
    },
    "/portal/ino/api/v3/collab/activity/{ActivityId}/actions": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "ActivityActionId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Activity Action Id"
                },
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "Msg": {
                  "type": "string",
                  "description": "Message"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "Transaction Key"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Trigger Derived Action",
        "description": "Trigger Automation Center Derived Action.",
        "operationId": "TriggerAction",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "ActivityId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Activity in which action will be executed",
            "x-ms-summary": "Activity Id"
          },
          {
            "name": "ttype",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "TriggerActionExternal",
            "x-ms-visibility": "internal",
            "x-ms-summary": "set ttype to TriggerActionExternal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "ActionId",
                "CIId",
                "ActivityId"
              ],
              "properties": {
                "ActionId": {
                  "type": "integer",
                  "format": "int32",
                  "x-ms-summary": "Action Id",
                  "description": "Derived Action Id"
                },
                "ActivityId": {
                  "type": "integer",
                  "format": "int32",
                  "x-ms-summary": "Activity Id",
                  "description": "Activity Id"
                },
                "CIId": {
                  "type": "string",
                  "description": "CIId",
                  "x-ms-summary": "CIId",
                  "default": "ActivityCI"
                }
              }
            }
          }
        ]
      }
    },
    "/portal/ino/api/v3/collab/activity/{ActivityId}/attributes": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "DateTZConversionColumn": {
                  "type": "array",
                  "items": {},
                  "description": "Date Converted Column details"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Id"
                      },
                      "Key": {
                        "type": "string",
                        "description": "Key"
                      },
                      "Value": {
                        "type": "string",
                        "description": "Value"
                      },
                      "EntityId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Entity Id"
                      },
                      "EntityName": {
                        "type": "string",
                        "description": "Entity Name"
                      },
                      "AttributeId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Attribute Id"
                      },
                      "AttributeName": {
                        "type": "string",
                        "description": "Attribute Name"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "operationId": "ReadActivityAttribute",
        "description": "Read Attributes using activity Id and return in output in JSON format.",
        "summary": "Read Activity Attribute",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "ActivityId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Activity Id",
            "description": "Activity Id"
          },
          {
            "name": "ttype",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "ReadAttributes",
            "x-ms-visibility": "internal",
            "x-ms-summary": "set ttype to ReadAttributes"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "Msg": {
                  "type": "string",
                  "description": "Message"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "Transaction Key"
                }
              }
            }
          }
        },
        "operationId": "SetActivityAdditionalAttribute",
        "description": "Create or update additional attribute of an activity.",
        "summary": "Create Activity Additional Attribute",
        "parameters": [
          {
            "name": "ActivityId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Activity Id",
            "description": "Activity Id"
          },
          {
            "name": "ttype",
            "in": "query",
            "required": true,
            "default": "InsertUpdate",
            "x-ms-visibility": "internal",
            "type": "string",
            "x-ms-summary": "set ttype to InsertUpdate"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-summary": "Attribute",
              "description": "Pass as Key-Value Pair."
            }
          }
        ]
      }
    },
    "/portal/ino/api/v3/collab/activity/{ActivityId}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "Msg": {
                  "type": "string",
                  "description": "Message"
                },
                "DateTZConversionColumn": {
                  "type": "array",
                  "items": {},
                  "description": "Date Converted Column details"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Id"
                      },
                      "IntelligentSequenceStatusId": {
                        "type": "string",
                        "description": "Intelligent Sequence Status Id"
                      }
                    }
                  },
                  "description": "Data"
                },
                "TotalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total Record Count"
                },
                "ColumnMapping": {
                  "type": "array",
                  "items": {},
                  "description": "Column Mapping details"
                },
                "ComboBox": {
                  "type": "array",
                  "items": {},
                  "description": "List of ComboBox"
                },
                "ComboSelect": {
                  "type": "array",
                  "items": {},
                  "description": "List of ComboSelect"
                },
                "DateColumn": {
                  "type": "array",
                  "items": {},
                  "description": "List of Date Column"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "Transaction Key"
                }
              }
            }
          }
        },
        "summary": "Get IS Execution Status",
        "description": "Get IS execution status based on activity id.",
        "operationId": "FetchISExecutionStatus",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "ActivityId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Activity Id",
            "description": "IS Executed Activity Id"
          },
          {
            "name": "ttype",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "TriggerIsStatusApi",
            "x-ms-visibility": "internal",
            "x-ms-summary": "set ttype to TriggerIsStatusApi"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "Msg": {
                  "type": "string",
                  "description": "Message"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "Transaction Key"
                }
              }
            }
          }
        },
        "summary": "Trigger IS",
        "description": "Trigger IS in activity based on SkillId.",
        "operationId": "TriggerIS",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "ActivityId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Activity Id",
            "description": "Activity id"
          },
          {
            "name": "ttype",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "TriggerIS",
            "x-ms-visibility": "internal",
            "x-ms-summary": "set ttype to TriggerIS"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "SkillId"
              ],
              "properties": {
                "SkillId": {
                  "type": "string",
                  "x-ms-summary": "Skill Id",
                  "description": "Standard or Custom Skill Id"
                }
              }
            }
          }
        ]
      }
    },
    "/portal/ino/api/v3/collab/activityaction/{ActivityActionId}": {
      "patch": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "Msg": {
                  "type": "string",
                  "description": "Message"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "Transaction Key"
                }
              }
            }
          }
        },
        "description": "Update action output based on activity action id.",
        "operationId": "UpdateActionOutput",
        "summary": "Update Action Output",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "ActivityActionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Activity Action Id",
            "description": "Executed Activity Action id"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "output"
              ],
              "properties": {
                "output": {
                  "type": "string",
                  "x-ms-summary": "Output",
                  "description": "Output to be Updated"
                },
                "ActionExecutionStatus": {
                  "type": "integer",
                  "x-ms-summary": "Execution Status",
                  "description": "ActionExecutionStatus 1->Success 2->Failure",
                  "enum": [
                    1,
                    2
                  ]
                }
              }
            }
          }
        ]
      }
    },
    "/portal/ino/api/v3/collab/activity/{ActivityId}/v1/link": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "Msg": {
                  "type": "string",
                  "description": "Message"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "Transaction Key"
                }
              }
            }
          }
        },
        "operationId": "LinkAsChildActivity",
        "description": "Link as Child Activity.",
        "summary": "Add activity as child",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "ActivityId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Parent Id",
            "description": "Parent Activity Id"
          },
          {
            "name": "ttype",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "AddChild",
            "x-ms-visibility": "internal",
            "x-ms-summary": "set ttype to AddChild"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "ChildId"
              ],
              "properties": {
                "ChildId": {
                  "type": "integer",
                  "format": "int32",
                  "x-ms-summary": "Child Id",
                  "description": "Child Activity Id"
                }
              }
            }
          }
        ]
      }
    },
    "/portal/ino/api/v3/collab/activity": {
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "description": "ActivityId"
                },
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "Msg": {
                  "type": "string",
                  "description": "Message"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "Transaction Key"
                }
              }
            }
          }
        },
        "summary": "Create Generic Activity",
        "description": "Create Technology or Application Activity.",
        "operationId": "CreateActivity",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "Name",
                "Description",
                "CIId",
                "CustomerId",
                "SourceId"
              ],
              "properties": {
                "pa_run_id": {
                  "type": "string",
                  "x-ms-summary": "Run Id",
                  "description": "PowerAutomate Workflow RunId add as additional attribute",
                  "default": "@{workflow().run.name}",
                  "x-ms-visibility": "advanced"
                },
                "pa_run_name": {
                  "type": "string",
                  "x-ms-summary": "Workflow Run URL",
                  "description": "PowerAutomate Workflow Run URL add as additional attribute",
                  "x-ms-visibility": "advanced",
                  "default": "@{concat('https://india.flow.microsoft.com/manage/environments/',workflow().tags.environmentName,'/flows/',workflow().name,'/runs/',workflow().run.name)}"
                },
                "SourceId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "SourceId",
                  "default": 11,
                  "x-ms-visibility": "internal",
                  "x-ms-summary": "set sourceid as 11 to create activity under general category"
                },
                "Name": {
                  "type": "string",
                  "x-ms-summary": "Name",
                  "description": "Activity Name"
                },
                "Description": {
                  "type": "string",
                  "x-ms-summary": "Description",
                  "description": "Activity Description"
                },
                "CIId": {
                  "type": "string",
                  "x-ms-summary": "CIId",
                  "description": "Entity Id"
                },
                "OwnerId": {
                  "type": "string",
                  "x-ms-summary": "User Id",
                  "description": "Activity Owner",
                  "x-ms-visibility": "advanced"
                },
                "AssignmentGroup": {
                  "type": "string",
                  "x-ms-summary": "AssignmentGroup",
                  "description": "User Assignment Group",
                  "x-ms-visibility": "advanced"
                },
                "CustomerId": {
                  "type": "string",
                  "x-ms-summary": "Customer Id",
                  "description": "Customer Id",
                  "x-ms-dynamic-values": {
                    "operationId": "FetchCustomerDetails",
                    "value-path": "Id",
                    "value-title": "Data/Id",
                    "value-collection": "Data"
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/portal/base/api/v3/admin/customer": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "Msg": {
                  "type": "string",
                  "description": "Message"
                },
                "DateTZConversionColumn": {
                  "type": "array",
                  "items": {},
                  "description": "Date Converted Column details"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string",
                        "description": "customer name"
                      },
                      "Domain": {
                        "type": "string",
                        "description": "domain"
                      },
                      "EmailActionId": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "MailboxEntityId": {
                        "type": "string"
                      },
                      "MailboxCredentialId": {
                        "type": "string"
                      },
                      "UsePersonalCredential": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "SdTransferTypeId": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "Bot": {
                        "type": "string"
                      },
                      "DownloadActionPack": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "AEConfiguration": {
                        "type": "string"
                      },
                      "AskIvaAttachment": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "TokenExpirationDate": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "EventSubscribe": {
                        "type": "boolean"
                      },
                      "AskIvaAutofill": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "ITSMEntityId": {
                        "type": "string"
                      },
                      "MonitoringEntityId": {
                        "type": "string"
                      },
                      "Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Id"
                      }
                    }
                  },
                  "description": "Data"
                },
                "TotalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total Record count"
                },
                "ColumnMapping": {
                  "type": "array",
                  "items": {},
                  "description": "Column Mapping details"
                },
                "ComboBox": {
                  "type": "array",
                  "items": {},
                  "description": "List of ComboBox"
                },
                "ComboSelect": {
                  "type": "array",
                  "items": {},
                  "description": "List of ComboSelect"
                },
                "DateColumn": {
                  "type": "array",
                  "items": {},
                  "description": "List of Date Column"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "Transaction Key"
                }
              }
            }
          }
        },
        "summary": "Get Customer Id",
        "description": "Get Customer information based on API token.",
        "operationId": "FetchCustomerDetails",
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "ttype",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "Id",
            "x-ms-visibility": "internal",
            "x-ms-summary": "set ttype to string for fetching customer information."
          }
        ]
      }
    },
    "/portal/ino/api/v3/collab/activity/0/logs": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "Msg": {
                  "type": "string",
                  "description": "Message"
                },
                "TransactionKey": {
                  "type": "string",
                  "description": "Transaction Key"
                }
              }
            }
          }
        },
        "operationId": "CreateaActivityLog",
        "description": "Create Activity Log.",
        "summary": "Create Activity Log",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "ttype",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "NewRecord",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ActivityId": {
                  "type": "integer",
                  "format": "int32",
                  "x-ms-summary": "Activity Id",
                  "description": "AutomationCenter Activity ID"
                },
                "Comment": {
                  "type": "string",
                  "x-ms-summary": "Log Message",
                  "description": "Comment",
                  "x-ms-visibility": "advanced",
                  "default": "Triggered by PowerAutomate. Run id: @{workflow().run.name} Workflow: @{concat('https://india.flow.microsoft.com/manage/environments/',workflow().tags.environmentName,'/flows/',workflow().name,'/runs/',workflow().run.name)}"
                },
                "CreatedById": {
                  "type": "integer",
                  "format": "int32",
                  "x-ms-summary": "User Id",
                  "description": "Created By"
                }
              },
              "required": [
                "Comment",
                "ActivityId",
                "CreatedById"
              ]
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.cognizant.com/us/en/automation-center"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.cognizant.com/us/en/privacy-notice"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;AI"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}