{
  "swagger": "2.0",
  "info": {
    "title": "DynamicDocs",
    "description": "DynamicDocs provides a quick way to create bespoke PDF documents in bulk with the ability to include graphics and logic in the documents. Not only can you create good looking documents using LaTeX, you can also create custom charts and include conditional logic into the documents with custom built-in functions. This allows you to create truly dynamic documents which only depend on the data payload.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.advicement.io",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/templates/{templateToken}/compile": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "documentStatusUrl": {
                  "type": "string",
                  "description": "The URL address to retrieve the AWS document status.",
                  "title": "Document Status URL"
                }
              }
            }
          }
        },
        "summary": "Create a document from a template",
        "description": "Send dynamic data and receive back a protected URL link to download the document.",
        "operationId": "CompileTemplate",
        "parameters": [
          {
            "name": "templateToken",
            "in": "path",
            "x-ms-summary": "Template Token",
            "x-ms-url-encoding": "single",
            "description": "The template token corresponds to the identifier of the public template you are using or its the template token founds in your template's settings.",
            "required": true,
            "type": "string"
          },
          {
            "name": "doc-delivery-type",
            "in": "query",
            "x-ms-summary": "Delivery Type",
            "description": "The delivery type is a string parameter and can take URL or webhook (currently not available and under development).",
            "required": false,
            "type": "string",
            "default": "url"
          },
          {
            "name": "doc-url-expires-in",
            "in": "query",
            "x-ms-summary": "URL Expires In",
            "description": "The value describes after how many seconds the response URL is available to download the document.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "latex-compiler",
            "in": "query",
            "x-ms-summary": "Latex Compiler",
            "description": "The type of compiler to use. Can take either pdflatex or luatex (currently not available and under development).",
            "required": false,
            "type": "string",
            "default": "pdflatex"
          },
          {
            "name": "latex-runs",
            "in": "query",
            "x-ms-summary": "Latex Runs",
            "description": "The Latex runs is a numerical parameter and can take values of 1, 2 and 3. Note that compiling multiple times may incur additional costs..",
            "required": false,
            "type": "integer",
            "default": "1"
          },
          {
            "name": "main-file-name",
            "in": "query",
            "x-ms-summary": "Main File Name",
            "description": "The main file name is a string parameter which identifies the main file to compile. For example, it can be the following value: mainfile.tex.",
            "required": false,
            "type": "string"
          },
          {
            "name": "doc-file-name",
            "in": "query",
            "x-ms-summary": "Doc File Name",
            "description": "The document file name is a string parameter which determines the name of the file. Note that the extension of the file is not required.",
            "required": false,
            "type": "string"
          },
          {
            "name": "encrypt-type",
            "in": "query",
            "x-ms-summary": "Encrypt Type",
            "description": "The PDF security settings deal with whether the PDF should be encrypted. Can be either na or rc4 (currently not available and under development)",
            "required": false,
            "type": "string",
            "default": "na"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "description": "The JSON object of the template data.",
              "title": "Body",
              "properties": {}
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Adv-Security-Token"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://advicement.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://advicement.io/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files"
    }
  ]
}