{
  "swagger":"2.0",
  "info":{
    "title":"REST Countries",
    "description":"Get information about countries via a RESTful API",
    "version":"1.0",
    "contact":{
      "name":"Siddharth Vaghasia",
      "email":"siddh.vaghasia@gmail.com"
    }
  },
  "host":"restcountries.com",
  "basePath":"/v3.1/",
  "schemes":[
    "https"
  ],
  "consumes":[

  ],
  "produces":[
    "application/json"
  ],
  "paths":{
    "/all":{
      "get":{
        "responses":{
          "200":{
            "description":"200",
            "schema":{
              "type":"array",
              "items":{
                "type":"object",
                "properties":{
                  "name":{
                    "type":"object",
                    "properties":{
                      "common":{
                        "type":"string",
                        "description":"common"
                      },
                      "official":{
                        "type":"string",
                        "description":"official"
                      },
                      "nativeName":{
                        "type":"object",
                        "properties":{
                          "ara":{
                            "type":"object",
                            "properties":{
                              "official":{
                                "type":"string",
                                "description":"official"
                              },
                              "common":{
                                "type":"string",
                                "description":"common"
                              }
                            },
                            "description":"ara"
                          },
                          "sin":{
                            "type":"object",
                            "properties":{
                              "official":{
                                "type":"string",
                                "description":"official"
                              },
                              "common":{
                                "type":"string",
                                "description":"common"
                              }
                            },
                            "description":"sin"
                          },
                          "tam":{
                            "type":"object",
                            "properties":{
                              "official":{
                                "type":"string",
                                "description":"official"
                              },
                              "common":{
                                "type":"string",
                                "description":"common"
                              }
                            },
                            "description":"tam"
                          },
                          "pol":{
                            "type":"object",
                            "properties":{
                              "official":{
                                "type":"string",
                                "description":"official"
                              },
                              "common":{
                                "type":"string",
                                "description":"common"
                              }
                            },
                            "description":"pol"
                          }
                        },
                        "description":"nativeName"
                      }
                    },
                    "description":"name"
                  },
                  "tld":{
                    "type":"array",
                    "items":{
                      "type":"string"
                    },
                    "description":"tld"
                  },
                  "cca2":{
                    "type":"string",
                    "description":"cca2"
                  },
                  "ccn3":{
                    "type":"string",
                    "description":"ccn3"
                  },
                  "cca3":{
                    "type":"string",
                    "description":"cca3"
                  },
                  "cioc":{
                    "type":"string",
                    "description":"cioc"
                  },
                  "independent":{
                    "type":"boolean",
                    "description":"independent"
                  },
                  "status":{
                    "type":"string",
                    "description":"status"
                  },
                  "unMember":{
                    "type":"boolean",
                    "description":"unMember"
                  },
                  "currencies":{
                    "type":"object",
                    "properties":{
                      "MRU":{
                        "type":"object",
                        "properties":{
                          "name":{
                            "type":"string",
                            "description":"name"
                          },
                          "symbol":{
                            "type":"string",
                            "description":"symbol"
                          }
                        },
                        "description":"MRU"
                      },
                      "LKR":{
                        "type":"object",
                        "properties":{
                          "name":{
                            "type":"string",
                            "description":"name"
                          },
                          "symbol":{
                            "type":"string",
                            "description":"symbol"
                          }
                        },
                        "description":"LKR"
                      },
                      "PLN":{
                        "type":"object",
                        "properties":{
                          "name":{
                            "type":"string",
                            "description":"name"
                          },
                          "symbol":{
                            "type":"string",
                            "description":"symbol"
                          }
                        },
                        "description":"PLN"
                      }
                    },
                    "description":"currencies"
                  },
                  "idd":{
                    "type":"object",
                    "properties":{
                      "root":{
                        "type":"string",
                        "description":"root"
                      },
                      "suffixes":{
                        "type":"array",
                        "items":{
                          "type":"string"
                        },
                        "description":"suffixes"
                      }
                    },
                    "description":"idd"
                  },
                  "capital":{
                    "type":"array",
                    "items":{
                      "type":"string"
                    },
                    "description":"capital"
                  },
                  "altSpellings":{
                    "type":"array",
                    "items":{
                      "type":"string"
                    },
                    "description":"altSpellings"
                  },
                  "region":{
                    "type":"string",
                    "description":"region"
                  },
                  "subregion":{
                    "type":"string",
                    "description":"subregion"
                  },
                  "languages":{
                    "type":"object",
                    "properties":{
                      "ara":{
                        "type":"string",
                        "description":"ara"
                      },
                      "sin":{
                        "type":"string",
                        "description":"sin"
                      },
                      "tam":{
                        "type":"string",
                        "description":"tam"
                      },
                      "pol":{
                        "type":"string",
                        "description":"pol"
                      }
                    },
                    "description":"languages"
                  },
                  "translations":{
                    "type":"object",
                    "properties":{
                      "ara":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"ara"
                      },
                      "ces":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"ces"
                      },
                      "cym":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"cym"
                      },
                      "deu":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"deu"
                      },
                      "est":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"est"
                      },
                      "fin":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"fin"
                      },
                      "fra":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"fra"
                      },
                      "hrv":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"hrv"
                      },
                      "hun":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"hun"
                      },
                      "ita":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"ita"
                      },
                      "jpn":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"jpn"
                      },
                      "kor":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"kor"
                      },
                      "nld":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"nld"
                      },
                      "per":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"per"
                      },
                      "pol":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"pol"
                      },
                      "por":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"por"
                      },
                      "rus":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"rus"
                      },
                      "slk":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"slk"
                      },
                      "spa":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"spa"
                      },
                      "swe":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"swe"
                      },
                      "urd":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"urd"
                      },
                      "zho":{
                        "type":"object",
                        "properties":{
                          "official":{
                            "type":"string",
                            "description":"official"
                          },
                          "common":{
                            "type":"string",
                            "description":"common"
                          }
                        },
                        "description":"zho"
                      }
                    },
                    "description":"translations"
                  },
                  "latlng":{
                    "type":"array",
                    "items":{
                      "type":"number",
                      "format":"float"
                    },
                    "description":"latlng"
                  },
                  "landlocked":{
                    "type":"boolean",
                    "description":"landlocked"
                  },
                  "borders":{
                    "type":"array",
                    "items":{
                      "type":"string"
                    },
                    "description":"borders"
                  },
                  "area":{
                    "type":"number",
                    "format":"float",
                    "description":"area"
                  },
                  "demonyms":{
                    "type":"object",
                    "properties":{
                      "eng":{
                        "type":"object",
                        "properties":{
                          "f":{
                            "type":"string",
                            "description":"f"
                          },
                          "m":{
                            "type":"string",
                            "description":"m"
                          }
                        },
                        "description":"eng"
                      },
                      "fra":{
                        "type":"object",
                        "properties":{
                          "f":{
                            "type":"string",
                            "description":"f"
                          },
                          "m":{
                            "type":"string",
                            "description":"m"
                          }
                        },
                        "description":"fra"
                      }
                    },
                    "description":"demonyms"
                  },
                  "flag":{
                    "type":"string",
                    "description":"flag"
                  },
                  "maps":{
                    "type":"object",
                    "properties":{
                      "googleMaps":{
                        "type":"string",
                        "description":"googleMaps"
                      },
                      "openStreetMaps":{
                        "type":"string",
                        "description":"openStreetMaps"
                      }
                    },
                    "description":"maps"
                  },
                  "population":{
                    "type":"number",
                    "format":"float",
                    "description":"population"
                  },
                  "gini":{
                    "type":"object",
                    "properties":{
                      "2014":{
                        "type":"number",
                        "format":"float",
                        "description":"2014"
                      },
                      "2016":{
                        "type":"number",
                        "format":"float",
                        "description":"2016"
                      },
                      "2018":{
                        "type":"number",
                        "format":"float",
                        "description":"2018"
                      }
                    },
                    "description":"gini"
                  },
                  "fifa":{
                    "type":"string",
                    "description":"fifa"
                  },
                  "car":{
                    "type":"object",
                    "properties":{
                      "signs":{
                        "type":"array",
                        "items":{
                          "type":"string"
                        },
                        "description":"signs"
                      },
                      "side":{
                        "type":"string",
                        "description":"side"
                      }
                    },
                    "description":"car"
                  },
                  "timezones":{
                    "type":"array",
                    "items":{
                      "type":"string"
                    },
                    "description":"timezones"
                  },
                  "continents":{
                    "type":"array",
                    "items":{
                      "type":"string"
                    },
                    "description":"continents"
                  },
                  "flags":{
                    "type":"object",
                    "properties":{
                      "png":{
                        "type":"string",
                        "description":"png"
                      },
                      "svg":{
                        "type":"string",
                        "description":"svg"
                      }
                    },
                    "description":"flags"
                  },
                  "coatOfArms":{
                    "type":"object",
                    "properties":{
                      "png":{
                        "type":"string",
                        "description":"png"
                      },
                      "svg":{
                        "type":"string",
                        "description":"svg"
                      }
                    },
                    "description":"coatOfArms"
                  },
                  "startOfWeek":{
                    "type":"string",
                    "description":"startOfWeek"
                  },
                  "capitalInfo":{
                    "type":"object",
                    "properties":{
                      "latlng":{
                        "type":"array",
                        "items":{
                          "type":"number",
                          "format":"float"
                        },
                        "description":"latlng"
                      }
                    },
                    "description":"capitalInfo"
                  },
                  "postalCode":{
                    "type":"object",
                    "properties":{
                      "format":{
                        "type":"string",
                        "description":"format"
                      },
                      "regex":{
                        "type":"string",
                        "description":"regex"
                      }
                    },
                    "description":"postalCode"
                  }
                }
              }
            }
          }
        },
        "summary":"ALL",
        "description":"ALL",
        "operationId":"ALL",
        "parameters":[

        ]
      }
    }
  },
  "definitions":{

  },
  "parameters":{

  },
  "responses":{

  },
  "securityDefinitions":{

  },
  "security":[

  ],
  "tags":[

  ],
  "x-ms-connector-metadata":[
    {
      "propertyName":"Website",
      "propertyValue":"https://restcountries.com/"
    },
    {
      "propertyName":"Privacy Policy",
      "propertyValue":"https://restcountries.com/#license"
    },
    {
      "propertyName":"Categories",
      "propertyValue":"Data"
    }
  ]
}