{
  "swagger": "2.0",
  "info": {
    "title": "Cloud BOT",
    "description": "Cloud BOT is a new web browser automation tool born in Japan. Create and run your own robots easily and safely without any installation.",
    "version": "1.0",
    "contact": {
      "name": "Cloud BOT Support",
      "url": "https://www.c-bot.pro/en/contact",
      "email": "support@c-bot.pro"
    }
  },
  "host": "powerautomate-api.c-bot.pro",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/services/contracts": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "contracts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "public_id": {
                        "type": "string",
                        "description": "public_id"
                      },
                      "public_path": {
                        "type": "string",
                        "description": "public_path"
                      },
                      "plan": {
                        "type": "string",
                        "description": "plan"
                      },
                      "owner": {
                        "type": "string",
                        "description": "owner"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "timezone"
                      },
                      "country": {
                        "type": "string",
                        "description": "country"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "organization": {
                        "type": "string",
                        "description": "organization"
                      },
                      "postcode": {
                        "type": "string",
                        "description": "postcode"
                      },
                      "address": {
                        "type": "string",
                        "description": "address"
                      },
                      "phone": {
                        "type": "string",
                        "description": "phone"
                      },
                      "department": {
                        "type": "string",
                        "description": "department"
                      },
                      "username": {
                        "type": "string",
                        "description": "username"
                      }
                    }
                  },
                  "description": "contracts"
                }
              }
            },
            "headers": {
              "content-type": {
                "description": "content-type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Index of Contracts",
        "description": "Get Index of Contracts",
        "operationId": "IndexOfContracts",
        "parameters": [
          {
            "name": "x-cbot-content-language",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "ja",
            "enum": [
              "ja",
              "en"
            ],
            "x-ms-visibility": "important",
            "x-ms-summary": "Language"
          },
          {
            "name": "properties",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "plan,owner,name,organization",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-cbot-content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/{public_id}/bots": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "bots": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "icon": {
                        "type": "string",
                        "description": "icon"
                      },
                      "created": {
                        "type": "string",
                        "description": "created"
                      },
                      "last_modified": {
                        "type": "string",
                        "description": "last_modified"
                      },
                      "creator": {
                        "type": "string",
                        "description": "creator"
                      }
                    }
                  },
                  "description": "bots"
                }
              }
            },
            "headers": {
              "content-type": {
                "description": "content-type",
                "type": "string"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-cbot-content-language",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "ja",
            "enum": [
              "ja",
              "en"
            ],
            "x-ms-visibility": "important",
            "x-ms-summary": "Language"
          },
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "IndexOfContracts",
              "value-path": "public_id",
              "value-collection": "contracts",
              "value-title": "name",
              "parameters": {
                "x-cbot-content-language": {
                  "parameter": "x-cbot-content-language"
                },
                "properties": "plan,owner,name,organization",
                "x-cbot-content-type": "application/json"
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Contract"
          },
          {
            "name": "properties",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "icon,created,last_modified,creator",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-cbot-content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "summary": "Index Of Bots",
        "description": "Get Index of Bots",
        "operationId": "IndexOfBots",
        "x-ms-visibility": "internal"
      }
    },
    "/{public_id}/bots/{bot_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "icon": {
                  "type": "string",
                  "description": "icon"
                },
                "created": {
                  "type": "string",
                  "description": "created"
                },
                "last_modified": {
                  "type": "string",
                  "description": "last_modified"
                },
                "creator": {
                  "type": "string",
                  "description": "creator"
                },
                "input": {
                  "type": "object",
                  "description": "input"
                },
                "output": {
                  "type": "object",
                  "description": "output"
                }
              }
            },
            "headers": {
              "content-type": {
                "description": "content-type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get BOT Details",
        "description": "Get BOT Details",
        "operationId": "BotDetail",
        "parameters": [
          {
            "name": "x-cbot-content-language",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "ja",
            "enum": [
              "ja",
              "en"
            ],
            "x-ms-visibility": "important",
            "x-ms-summary": "Language"
          },
          {
            "name": "properties",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "icon,created,last_modified,creator,input,output",
            "x-ms-visibility": "internal"
          },
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "IndexOfContracts",
              "value-path": "public_id",
              "value-collection": "contracts",
              "value-title": "name",
              "parameters": {
                "x-cbot-content-language": {
                  "parameter": "x-cbot-content-language"
                },
                "properties": "plan,owner,name,organization",
                "x-cbot-content-type": "application/json"
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Contract"
          },
          {
            "name": "bot_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "IndexOfBots",
              "value-path": "id",
              "value-collection": "bots",
              "parameters": {
                "public_id": {
                  "parameter": "public_id"
                },
                "properties": "icon,created,last_modified,creator",
                "x-cbot-content-type": "application/json",
                "x-cbot-content-language": {
                  "parameter": "x-cbot-content-language"
                }
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "BOT"
          },
          {
            "name": "x-cbot-content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/{public_id}/bots/{bot_id}/jobs": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "x-ms-summary": "code"
                },
                "job_id": {
                  "type": "string",
                  "x-ms-summary": "job_id"
                },
                "bot_id": {
                  "type": "string",
                  "x-ms-summary": "bot_id"
                },
                "bot_name": {
                  "type": "string",
                  "x-ms-summary": "bot_name"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "x-ms-summary": "status"
                },
                "start_time": {
                  "type": "string",
                  "x-ms-summary": "start_time"
                },
                "elapsed_time": {
                  "type": "integer",
                  "format": "int32",
                  "x-ms-summary": "elapsed_time"
                },
                "output": {
                  "type": "object",
                  "properties": {
                    "data1": {
                      "type": "string",
                      "x-ms-summary": "Data1"
                    },
                    "data2": {
                      "type": "string",
                      "x-ms-summary": "Data2"
                    },
                    "data3": {
                      "type": "string",
                      "x-ms-summary": "Data3"
                    },
                    "data4": {
                      "type": "string",
                      "x-ms-summary": "Data4"
                    },
                    "data5": {
                      "type": "string",
                      "x-ms-summary": "Data5"
                    },
                    "data6": {
                      "type": "string",
                      "x-ms-summary": "Data6"
                    },
                    "data7": {
                      "type": "string",
                      "x-ms-summary": "Data7"
                    },
                    "data8": {
                      "type": "string",
                      "x-ms-summary": "Data8"
                    },
                    "data9": {
                      "type": "string",
                      "x-ms-summary": "Data9"
                    },
                    "data10": {
                      "type": "string",
                      "x-ms-summary": "Data10"
                    },
                    "output_json": {
                      "type": "string",
                      "x-ms-summary": "OutputJSON"
                    }
                  },
                  "description": "output"
                },
                "callback": {
                  "type": "boolean",
                  "description": "callback"
                },
                "message": {
                  "type": "string",
                  "x-ms-summary": "message"
                }
              }
            },
            "headers": {
              "content-type": {
                "description": "content-type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Execute BOT",
        "description": "Execute your BOT. (The API must be enabled and the BOT must be published on Cloud BOT website.)",
        "operationId": "ExecuteBot",
        "parameters": [
          {
            "name": "x-cbot-content-language",
            "description": "Language",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "ja",
            "enum": [
              "ja",
              "en"
            ],
            "x-ms-visibility": "important",
            "x-ms-summary": "Language"
          },
          {
            "name": "public_id",
            "description": "Contract",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Contract",
            "x-ms-dynamic-values": {
              "operationId": "IndexOfContracts",
              "value-path": "public_id",
              "value-collection": "contracts",
              "value-title": "name",
              "parameters": {
                "x-cbot-content-language": {
                  "parameter": "x-cbot-content-language"
                },
                "properties": "plan,owner,name,organization",
                "x-cbot-content-type": "application/json"
              }
            }
          },
          {
            "name": "bot_id",
            "description": "BOT",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "BOT",
            "x-ms-dynamic-values": {
              "operationId": "IndexOfBots",
              "value-path": "id",
              "value-collection": "bots",
              "value-title": "name",
              "parameters": {
                "x-cbot-content-language": {
                  "parameter": "x-cbot-content-language"
                },
                "public_id": {
                  "parameter": "public_id"
                },
                "properties": "icon,created,last_modified,creator",
                "x-cbot-content-type": "application/json"
              }
            }
          },
          {
            "name": "x-cbot-content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "async": {
                  "type": "boolean",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Async",
                  "enum": [
                    true,
                    false
                  ],
                  "description": "Async"
                },
                "data1": {
                  "type": "string",
                  "x-ms-summary": "Data1",
                  "x-ms-visibility": "important",
                  "description": "Data1"
                },
                "data2": {
                  "type": "string",
                  "x-ms-summary": "Data2",
                  "x-ms-visibility": "important",
                  "description": "Data2"
                },
                "data3": {
                  "type": "string",
                  "x-ms-summary": "Data3",
                  "x-ms-visibility": "important",
                  "description": "Data3"
                },
                "data4": {
                  "type": "string",
                  "x-ms-summary": "Data4",
                  "x-ms-visibility": "important",
                  "description": "Data4"
                },
                "data5": {
                  "type": "string",
                  "x-ms-summary": "Data5",
                  "x-ms-visibility": "important",
                  "description": "Data5"
                },
                "data6": {
                  "type": "string",
                  "x-ms-summary": "Data6",
                  "x-ms-visibility": "important",
                  "description": "Data6"
                },
                "data7": {
                  "type": "string",
                  "x-ms-summary": "Data7",
                  "x-ms-visibility": "important",
                  "description": "Data7"
                },
                "data8": {
                  "type": "string",
                  "x-ms-summary": "Data8",
                  "x-ms-visibility": "important",
                  "description": "Data8"
                },
                "data9": {
                  "type": "string",
                  "x-ms-summary": "Data9",
                  "x-ms-visibility": "important",
                  "description": "Data9"
                },
                "data10": {
                  "type": "string",
                  "x-ms-summary": "Data10",
                  "x-ms-visibility": "important",
                  "description": "Data10"
                },
                "api_parameters": {
                  "type": "string",
                  "x-ms-summary": "API Parameters",
                  "x-ms-visibility": "important",
                  "description": "API Parameters"
                }
              },
              "required": [
                "async"
              ],
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/{public_id}/bots/{bot_id}/subscriptions": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "code": {
              "type": "integer",
              "format": "int32",
              "description": "code",
              "title": "",
              "x-ms-visibility": "important"
            },
            "job_id": {
              "type": "string",
              "description": "job_id",
              "title": "",
              "x-ms-visibility": "important"
            },
            "bot_id": {
              "type": "string",
              "description": "bot_id",
              "title": "",
              "x-ms-visibility": "important"
            },
            "bot_name": {
              "type": "string",
              "description": "bot_name",
              "title": "",
              "x-ms-visibility": "important"
            },
            "status": {
              "type": "integer",
              "format": "int32",
              "description": "status",
              "title": "",
              "x-ms-visibility": "important"
            },
            "start_time": {
              "type": "string",
              "description": "start_time",
              "title": "",
              "x-ms-visibility": "important"
            },
            "elapsed_time": {
              "type": "integer",
              "format": "int32",
              "description": "elapsed_time",
              "title": "",
              "x-ms-visibility": "important"
            },
            "output": {
              "type": "object",
              "properties": {
                "data1": {
                  "type": "string",
                  "x-ms-summary": "Data1"
                },
                "data2": {
                  "type": "string",
                  "x-ms-summary": "Data2"
                },
                "data3": {
                  "type": "string",
                  "x-ms-summary": "Data3"
                },
                "data4": {
                  "type": "string",
                  "x-ms-summary": "Data4"
                },
                "data5": {
                  "type": "string",
                  "x-ms-summary": "Data5"
                },
                "data6": {
                  "type": "string",
                  "x-ms-summary": "Data6"
                },
                "data7": {
                  "type": "string",
                  "x-ms-summary": "Data7"
                },
                "data8": {
                  "type": "string",
                  "x-ms-summary": "Data8"
                },
                "data9": {
                  "type": "string",
                  "x-ms-summary": "Data9"
                },
                "data10": {
                  "type": "string",
                  "x-ms-summary": "Data10"
                },
                "output_json": {
                  "type": "string",
                  "x-ms-summary": "OutputJSON"
                }
              },
              "description": "output"
            },
            "message": {
              "type": "string",
              "x-ms-summary": "message"
            }
          }
        },
        "headers": {
          "content-type": {
            "description": "content-type",
            "type": "string"
          }
        },
        "description": "BOT Done"
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "subscribe_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "subscribe_id"
                },
                "unsubscribe_endpoint": {
                  "type": "string",
                  "description": "unsubscribe_endpoint"
                }
              }
            },
            "headers": {
              "content-type": {
                "description": "content-type",
                "type": "string"
              },
              "location": {
                "description": "location",
                "type": "string"
              }
            }
          }
        },
        "summary": "When BOT execution is completed",
        "description": "Triggers when a BOT at the end of execution. (The API must be enabled and the BOT must be published on Cloud BOT website.)",
        "operationId": "BotDone",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "x-cbot-content-language",
            "description": "Language",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "ja",
            "enum": [
              "ja",
              "en"
            ],
            "x-ms-visibility": "important",
            "x-ms-summary": "Language"
          },
          {
            "name": "public_id",
            "description": "Contract",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Contract",
            "x-ms-dynamic-values": {
              "operationId": "IndexOfContracts",
              "value-path": "public_id",
              "value-collection": "contracts",
              "value-title": "name",
              "parameters": {
                "x-cbot-content-language": {
                  "parameter": "x-cbot-content-language"
                },
                "properties": "plan,owner,name,organization",
                "x-cbot-content-type": "application/json"
              }
            }
          },
          {
            "name": "bot_id",
            "description": "BOT",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "IndexOfBots",
              "value-path": "id",
              "value-collection": "bots",
              "value-title": "name",
              "parameters": {
                "public_id": {
                  "parameter": "public_id"
                },
                "properties": "icon,created,last_modified,creator",
                "x-cbot-content-type": "application/json",
                "x-cbot-content-language": {
                  "parameter": "x-cbot-content-language"
                }
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "BOT"
          },
          {
            "name": "x-cbot-content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "event": {
                  "type": "string",
                  "description": "event",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "onended"
                },
                "callback_endpoint": {
                  "type": "string",
                  "description": "callback_endpoint",
                  "x-ms-notification-url": true,
                  "title": "",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callback_endpoint",
                "event"
              ],
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/{public_id}/bots/{bot_id}/subscriptions/{subscribe_id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                }
              }
            }
          }
        },
        "operationId": "UnsubscribeOfTrigger",
        "parameters": [
          {
            "name": "public_id",
            "description": "public_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "bot_id",
            "description": "bot_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscribe_id",
            "description": "subscribe_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "summary": "Unsubscribe the Trigger",
        "description": "Unsubscribe the Trigger",
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://console.c-bot.pro/oauth/authorize",
      "tokenUrl": "https://console.c-bot.pro/oauth/token",
      "scopes": {
        "execute": "execute",
        "refer": "refer",
        "suspend": "suspend"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "execute",
        "refer",
        "suspend"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.c-bot.pro/en"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.c-rise.co.jp/en/privacy/policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations"
    }
  ]
}