{
  "swagger": "2.0",
  "info": {
    "title": "NCEI Climate Data",
    "description": "National Centers for Environmental Information (NCEI) provides access to an extensive archive of environmental data through several platforms. We deliver the climate, coastal, oceanographic, and geophysical data you need.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "www.ncei.noaa.gov",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/cdo-web/api/v2/datasets": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "resultset": {
                      "type": "object",
                      "properties": {
                        "offset": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The offset.",
                          "title": "Offset"
                        },
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The count.",
                          "title": "Count"
                        },
                        "limit": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The limit.",
                          "title": "Limit"
                        }
                      },
                      "title": "Result Set"
                    }
                  },
                  "title": "Metadata"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "UID"
                      },
                      "mindate": {
                        "type": "string",
                        "description": "The minimum date.",
                        "title": "Min Date"
                      },
                      "maxdate": {
                        "type": "string",
                        "description": "The maximum date.",
                        "title": "Max Date"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "datacoverage": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The data coverage.",
                        "title": "Data Coverage"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get datasets",
        "description": "Retrieve a list of available datasets.",
        "operationId": "DatasetsGet",
        "parameters": [
          {
            "name": "datatypeid",
            "in": "query",
            "x-ms-summary": "Data Type ID",
            "description": "The data type identifier.",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "TypesGet",
              "value-path": "id",
              "value-collection": "results",
              "value-title": "name"
            }
          },
          {
            "name": "locationid",
            "in": "query",
            "x-ms-summary": "Location ID",
            "description": "The location identifier.",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "LocationsGet",
              "value-path": "id",
              "value-collection": "results",
              "value-title": "name"
            }
          },
          {
            "name": "stationid",
            "in": "query",
            "x-ms-summary": "Station ID",
            "description": "The station identifier.",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "StationsGet",
              "value-path": "id",
              "value-collection": "results",
              "value-title": "name"
            }
          },
          {
            "name": "startdate",
            "in": "query",
            "x-ms-summary": "Start Date",
            "description": "The start date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "enddate",
            "in": "query",
            "x-ms-summary": "End Date",
            "description": "The end date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortfield",
            "in": "query",
            "x-ms-summary": "Sort Field",
            "description": "The sort field.",
            "required": false,
            "type": "string",
            "enum": [
              "id",
              "name",
              "mindate",
              "maxdate",
              "datacoverage"
            ]
          },
          {
            "name": "sortorder",
            "in": "query",
            "x-ms-summary": "Sort Order",
            "description": "The sort order.",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer",
            "default": 25,
            "maximum": 1000
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer",
            "default": 0
          }
        ]
      }
    },
    "/cdo-web/api/v2/datasets/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "mindate": {
                  "type": "string",
                  "description": "The minimum date.",
                  "title": "Min Date"
                },
                "maxdate": {
                  "type": "string",
                  "description": "The maximum date.",
                  "title": "Max Date"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "datacoverage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The data coverage.",
                  "title": "Data Coverage"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                }
              }
            }
          }
        },
        "summary": "Get dataset",
        "description": "Retrieve the specific dataset.",
        "operationId": "DatasetGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DatasetsGet",
              "value-path": "id",
              "value-collection": "results",
              "value-title": "name"
            }
          }
        ]
      }
    },
    "/cdo-web/api/v2/datacategories": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "resultset": {
                      "type": "object",
                      "properties": {
                        "offset": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The offset.",
                          "title": "Offset"
                        },
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The count.",
                          "title": "Count"
                        },
                        "limit": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The limit.",
                          "title": "Limit"
                        }
                      },
                      "title": "Result Set"
                    }
                  },
                  "title": "Metadata"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get data categories",
        "description": "Retrieve a list of data categories.",
        "operationId": "CatagoriesGet",
        "parameters": [
          {
            "name": "datatsetid",
            "in": "query",
            "x-ms-summary": "Dataset ID",
            "description": "The dataset identifier.",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DatasetsGet",
              "value-path": "id",
              "value-collection": "results",
              "value-title": "name"
            }
          },
          {
            "name": "locationid",
            "in": "query",
            "x-ms-summary": "Location ID",
            "description": "The location identifier.",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "LocationsGet",
              "value-path": "id",
              "value-collection": "results",
              "value-title": "name"
            }
          },
          {
            "name": "stationid",
            "in": "query",
            "x-ms-summary": "Station ID",
            "description": "The station identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "startdate",
            "in": "query",
            "x-ms-summary": "Start Date",
            "description": "The start date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "enddate",
            "in": "query",
            "x-ms-summary": "End Date",
            "description": "The end date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortfield",
            "in": "query",
            "x-ms-summary": "Sort Field",
            "description": "The sort field.",
            "required": false,
            "type": "string",
            "enum": [
              "id",
              "name",
              "mindate",
              "maxdate",
              "datacoverage"
            ]
          },
          {
            "name": "sortorder",
            "in": "query",
            "x-ms-summary": "Sort Order",
            "description": "The sort order.",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer",
            "default": 25,
            "maximum": 1000
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer",
            "default": 0
          }
        ]
      }
    },
    "/cdo-web/api/v2/datacategories/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                }
              }
            }
          }
        },
        "summary": "Get data category",
        "description": "Retrieve a specific data category.",
        "operationId": "CategoryGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "CatagoriesGet",
              "value-path": "id",
              "value-collection": "results",
              "value-title": "name"
            }
          }
        ]
      }
    },
    "/cdo-web/api/v2/datatypes": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "resultset": {
                      "type": "object",
                      "properties": {
                        "offset": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The offset.",
                          "title": "Offset"
                        },
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The count.",
                          "title": "Count"
                        },
                        "limit": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The limit.",
                          "title": "Limit"
                        }
                      },
                      "title": "Result Set"
                    }
                  },
                  "title": "Metadata"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "mindate": {
                        "type": "string",
                        "description": "The minimum date.",
                        "title": "Min Date"
                      },
                      "maxdate": {
                        "type": "string",
                        "description": "The maximum date.",
                        "title": "Max Date"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "datacoverage": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The data coverage.",
                        "title": "Data Coverage"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get data types",
        "description": "Retrieve a list of data types.",
        "operationId": "TypesGet",
        "parameters": [
          {
            "name": "datatsetid",
            "in": "query",
            "x-ms-summary": "Dataset ID",
            "description": "The dataset identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "locationid",
            "in": "query",
            "x-ms-summary": "Location ID",
            "description": "The location identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "stationid",
            "in": "query",
            "x-ms-summary": "Station ID",
            "description": "The station identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "datacategoryid",
            "in": "query",
            "x-ms-summary": "Data Category ID",
            "description": "The data category identifier.",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "CatagoriesGet",
              "value-path": "id",
              "value-collection": "results",
              "value-title": "name"
            }
          },
          {
            "name": "startdate",
            "in": "query",
            "x-ms-summary": "Start Date",
            "description": "The start date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "enddate",
            "in": "query",
            "x-ms-summary": "End Date",
            "description": "The end date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortfield",
            "in": "query",
            "x-ms-summary": "Sort Field",
            "description": "The sort field.",
            "required": false,
            "type": "string",
            "enum": [
              "id",
              "name",
              "mindate",
              "maxdate",
              "datacoverage"
            ]
          },
          {
            "name": "sortorder",
            "in": "query",
            "x-ms-summary": "Sort Order",
            "description": "The sort order.",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer",
            "default": 25,
            "maximum": 1000
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer",
            "default": 0
          }
        ]
      }
    },
    "/cdo-web/api/v2/datatypes/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "mindate": {
                  "type": "string",
                  "description": "The minimum date.",
                  "title": "Min Date"
                },
                "maxdate": {
                  "type": "string",
                  "description": "The maximum date.",
                  "title": "Max Date"
                },
                "datacoverage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The data coverage.",
                  "title": "Data Coverage"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                }
              }
            }
          }
        },
        "summary": "Get data type",
        "description": "Retrieve a specific data type.",
        "operationId": "TypeGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "TypesGet",
              "value-path": "id",
              "value-collection": "results",
              "value-title": "name"
            }
          }
        ]
      }
    },
    "/cdo-web/api/v2/locationcategories": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "resultset": {
                      "type": "object",
                      "properties": {
                        "offset": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The offset.",
                          "title": "Offset"
                        },
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The count.",
                          "title": "Count"
                        },
                        "limit": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The limit.",
                          "title": "Limit"
                        }
                      },
                      "title": "Result Set"
                    }
                  },
                  "title": "Metadata"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get location categories",
        "description": "Retrieve a list of location categories.",
        "operationId": "LocationCategoriesGet",
        "parameters": [
          {
            "name": "datasetid",
            "in": "query",
            "x-ms-summary": "Dataset ID",
            "description": "The dataset identifier.",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DatasetsGet",
              "value-path": "id",
              "value-collection": "results",
              "value-title": "name"
            }
          },
          {
            "name": "startdate",
            "in": "query",
            "x-ms-summary": "Start Date",
            "description": "The start date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "enddate",
            "in": "query",
            "x-ms-summary": "End Date",
            "description": "The end date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortfield",
            "in": "query",
            "x-ms-summary": "Sort Field",
            "description": "The sort field.",
            "required": false,
            "type": "string",
            "enum": [
              "id",
              "name",
              "mindate",
              "maxdate",
              "datacoverage"
            ]
          },
          {
            "name": "sortorder",
            "in": "query",
            "x-ms-summary": "Sort Order",
            "description": "The sort order.",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer",
            "default": 25,
            "maximum": 1000
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer",
            "default": 0
          }
        ]
      }
    },
    "/cdo-web/api/v2/locationcategories/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                }
              }
            }
          }
        },
        "summary": "Get location category",
        "description": "Retrieve a specific location category.",
        "operationId": "LocationCategoryGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "LocationCategoriesGet",
              "value-path": "id",
              "value-collection": "results",
              "value-title": "name"
            }
          }
        ]
      }
    },
    "/cdo-web/api/v2/locations": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "resultset": {
                      "type": "object",
                      "properties": {
                        "offset": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The offset.",
                          "title": "Offset"
                        },
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The count.",
                          "title": "Count"
                        },
                        "limit": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The limit.",
                          "title": "Limit"
                        }
                      },
                      "title": "Result Set"
                    }
                  },
                  "title": "Metadata"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "mindate": {
                        "type": "string",
                        "description": "The minimum date.",
                        "title": "Min Date"
                      },
                      "maxdate": {
                        "type": "string",
                        "description": "The maximum date.",
                        "title": "Max Date"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "datacoverage": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The data coverage.",
                        "title": "Data Coverage"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get locations",
        "description": "Retrieve a list of locations.",
        "operationId": "LocationsGet",
        "parameters": [
          {
            "name": "datatypeid",
            "in": "query",
            "x-ms-summary": "Data Type ID",
            "description": "The data type identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "locationcategoryid",
            "in": "query",
            "x-ms-summary": "Location Category ID",
            "description": "The location category identifier.",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "LocationCategoriesGet",
              "value-path": "id",
              "value-collection": "results",
              "value-title": "name"
            }
          },
          {
            "name": "datacategoryid",
            "in": "query",
            "x-ms-summary": "Data Category ID",
            "description": "The data category identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "startdate",
            "in": "query",
            "x-ms-summary": "Start Date",
            "description": "The start date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "enddate",
            "in": "query",
            "x-ms-summary": "End Date",
            "description": "The end date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortfield",
            "in": "query",
            "x-ms-summary": "Sort Field",
            "description": "The sort field.",
            "required": false,
            "type": "string",
            "enum": [
              "id",
              "name",
              "mindate",
              "maxdate",
              "datacoverage"
            ]
          },
          {
            "name": "sortorder",
            "in": "query",
            "x-ms-summary": "Sort Order",
            "description": "The sort order.",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer",
            "default": 25,
            "maximum": 1000
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer",
            "default": 0
          }
        ]
      }
    },
    "/cdo-web/api/v2/locations/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "mindate": {
                  "type": "string",
                  "description": "The minimum date.",
                  "title": "Min Date"
                },
                "maxdate": {
                  "type": "string",
                  "description": "The maximum date.",
                  "title": "Max Date"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "datacoverage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The data coverage.",
                  "title": "Data Coverage"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                }
              }
            }
          }
        },
        "summary": "Get location",
        "description": "Retrieve a specific location.",
        "operationId": "LocationGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "LocationsGet",
              "value-path": "id",
              "value-collection": "results",
              "value-title": "name"
            }
          }
        ]
      }
    },
    "/cdo-web/api/v2/stations": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "resultset": {
                      "type": "object",
                      "properties": {
                        "offset": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The offset.",
                          "title": "Offset"
                        },
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The count.",
                          "title": "Count"
                        },
                        "limit": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The limit.",
                          "title": "Limit"
                        }
                      },
                      "title": "Result Set"
                    }
                  },
                  "title": "Metadata"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "elevation": {
                        "type": "number",
                        "format": "float",
                        "description": "The elevation.",
                        "title": "Elevation"
                      },
                      "mindate": {
                        "type": "string",
                        "description": "The minimum date.",
                        "title": "Min Date"
                      },
                      "maxdate": {
                        "type": "string",
                        "description": "The maximum date.",
                        "title": "Max Date"
                      },
                      "latitude": {
                        "type": "number",
                        "format": "float",
                        "description": "The latitude.",
                        "title": "Latitude"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "datacoverage": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The data coverage.",
                        "title": "Data Coverage"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "elevationUnit": {
                        "type": "string",
                        "description": "The elevation unit.",
                        "title": "Elevation Unit"
                      },
                      "longitude": {
                        "type": "number",
                        "format": "float",
                        "description": "The longitude.",
                        "title": "Longitude"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get stations",
        "description": "Retrieves a list of stations.",
        "operationId": "StationsGet",
        "parameters": [
          {
            "name": "datasetid",
            "in": "query",
            "x-ms-summary": "Dataset ID",
            "description": "The dataset identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "locationid",
            "in": "query",
            "x-ms-summary": "Location ID",
            "description": "The location identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "datacategoryid",
            "in": "query",
            "x-ms-summary": "Data Category ID",
            "description": "The data category identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "datatypeid",
            "in": "query",
            "x-ms-summary": "Data Type ID",
            "description": "The data type identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "extent",
            "in": "query",
            "x-ms-summary": "Extent",
            "description": "The extent.",
            "required": false,
            "type": "string"
          },
          {
            "name": "startdate",
            "in": "query",
            "x-ms-summary": "Start Date",
            "description": "The start date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "enddate",
            "in": "query",
            "x-ms-summary": "End Date",
            "description": "The end date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortfield",
            "in": "query",
            "x-ms-summary": "Sort Field",
            "description": "The sort field.",
            "required": false,
            "type": "string",
            "enum": [
              "id",
              "name",
              "mindate",
              "maxdate",
              "datacoverage"
            ]
          },
          {
            "name": "sortorder",
            "in": "query",
            "x-ms-summary": "Sort Order",
            "description": "The sort order.",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer",
            "default": 25,
            "maximum": 1000
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer",
            "default": 0
          }
        ]
      }
    },
    "/cdo-web/api/v2/stations/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "elevation": {
                  "type": "number",
                  "format": "float",
                  "description": "The elevation.",
                  "title": "Elevation"
                },
                "mindate": {
                  "type": "string",
                  "description": "The minimum date.",
                  "title": "Min Date"
                },
                "maxdate": {
                  "type": "string",
                  "description": "The maximum date.",
                  "title": "Max Date"
                },
                "latitude": {
                  "type": "number",
                  "format": "float",
                  "description": "The latitude.",
                  "title": "Latitude"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "datacoverage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The data coverage.",
                  "title": "Data Coverage"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "elevationUnit": {
                  "type": "string",
                  "description": "The elevation unit.",
                  "title": "Elevation Unit"
                },
                "longitude": {
                  "type": "number",
                  "format": "float",
                  "description": "The longitude.",
                  "title": "Longitude"
                }
              }
            }
          }
        },
        "summary": "Get station",
        "description": "Retrieve a specific station.",
        "operationId": "StationGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "StationsGet",
              "value-path": "id",
              "value-collection": "results",
              "value-title": "name"
            }
          }
        ]
      }
    },
    "/cdo-web/api/v2/data": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "resultset": {
                      "type": "object",
                      "properties": {
                        "offset": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The offset.",
                          "title": "Offset"
                        },
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The count.",
                          "title": "Count"
                        },
                        "limit": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The limit.",
                          "title": "Limit"
                        }
                      },
                      "title": "Result Set"
                    }
                  },
                  "title": "Metadata"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "description": "The date.",
                        "title": "Date"
                      },
                      "datatype": {
                        "type": "string",
                        "description": "The datatype.",
                        "title": "Datatype"
                      },
                      "station": {
                        "type": "string",
                        "description": "The station.",
                        "title": "Station"
                      },
                      "attributes": {
                        "type": "string",
                        "description": "The attributes.",
                        "title": "Attributes"
                      },
                      "value": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The value.",
                        "title": "Value"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get data",
        "x-ms-visibility": "important",
        "description": "Retrieves specific data.",
        "operationId": "DataGet",
        "parameters": [
          {
            "name": "datasetid",
            "in": "query",
            "x-ms-summary": "Dataset ID",
            "description": "The dataset identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DatasetsGet",
              "value-path": "id",
              "value-collection": "results",
              "value-title": "name"
            }
          },
          {
            "name": "datatypeid",
            "in": "query",
            "x-ms-summary": "Data Type ID",
            "description": "The data type identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "locationid",
            "in": "query",
            "x-ms-summary": "Location ID",
            "description": "The location identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "stationid",
            "in": "query",
            "x-ms-summary": "Station ID",
            "description": "The station identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "startdate",
            "in": "query",
            "x-ms-summary": "Start Date",
            "description": "The start date.",
            "required": true,
            "type": "string"
          },
          {
            "name": "enddate",
            "in": "query",
            "x-ms-summary": "End Date",
            "description": "The end date.",
            "required": true,
            "type": "string"
          },
          {
            "name": "units",
            "in": "query",
            "x-ms-summary": "Units",
            "description": "The units.",
            "required": false,
            "type": "string",
            "enum": [
              "standard",
              "metric"
            ]
          },
          {
            "name": "sortfield",
            "in": "query",
            "x-ms-summary": "Sort Field",
            "description": "The sort field.",
            "required": false,
            "type": "string",
            "enum": [
              "id",
              "name",
              "mindate",
              "maxdate",
              "datacoverage"
            ]
          },
          {
            "name": "sortorder",
            "in": "query",
            "x-ms-summary": "Sort Order",
            "description": "The sort order.",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer",
            "default": 25,
            "maximum": 1000
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "includemetadata",
            "in": "query",
            "x-ms-summary": "Include Metadata",
            "description": "Whether to include metadata.",
            "required": false,
            "type": "boolean",
            "default": true,
            "enum": [
              true,
              false
            ]
          }
        ]
      }
    },
    "/access/services/search/v1/data": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "dataTypes": {
                  "type": "object",
                  "properties": {
                    "docCountError": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The document count error.",
                      "title": "Doc Count Error"
                    },
                    "buckets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "docCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The document count.",
                            "title": "Doc Count"
                          },
                          "key": {
                            "type": "string",
                            "description": "The key.",
                            "title": "Key"
                          }
                        }
                      },
                      "title": "Buckets"
                    },
                    "sumOfOtherDocCounts": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The sum of other document counts.",
                      "title": "Sum of Other Doc Counts"
                    }
                  },
                  "title": "Data Types"
                },
                "endDate": {
                  "type": "string",
                  "description": "The end date.",
                  "title": "End Date"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "bounds": {
                  "type": "object",
                  "properties": {
                    "bottomRight": {
                      "type": "object",
                      "properties": {
                        "lat": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The latitude.",
                          "title": "Latitude"
                        },
                        "lon": {
                          "type": "number",
                          "format": "float",
                          "description": "The longitude.",
                          "title": "Longitude"
                        },
                        "geohash": {
                          "type": "string",
                          "description": "The geohash.",
                          "title": "Geohash"
                        },
                        "fragment": {
                          "type": "boolean",
                          "description": "Whether a fragment.",
                          "title": "Fragment"
                        }
                      },
                      "title": "Bottom Right"
                    },
                    "topLeft": {
                      "type": "object",
                      "properties": {
                        "lat": {
                          "type": "number",
                          "format": "float",
                          "description": "The latitude.",
                          "title": "Latitude"
                        },
                        "lon": {
                          "type": "number",
                          "format": "float",
                          "description": "The longitude.",
                          "title": "Longitude"
                        },
                        "geohash": {
                          "type": "string",
                          "description": "The geohash.",
                          "title": "Geohash"
                        },
                        "fragment": {
                          "type": "boolean",
                          "description": "Whether a fragment.",
                          "title": "Fragment"
                        }
                      },
                      "title": "Top Left"
                    }
                  },
                  "title": "Bounds"
                },
                "totalFileSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total file size.",
                  "title": "Total File Size"
                },
                "stations": {
                  "type": "object",
                  "properties": {
                    "docCountError": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The document count error.",
                      "title": "Doc Count Error"
                    },
                    "buckets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "docCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The document count.",
                            "title": "Doc Count"
                          },
                          "key": {
                            "type": "string",
                            "description": "The key.",
                            "title": "Key"
                          }
                        }
                      },
                      "title": "Buckets"
                    },
                    "sumOfOtherDocCounts": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The sum of other document counts.",
                      "title": "Sum of Other Doc Counts"
                    }
                  },
                  "title": "Stations"
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total count.",
                  "title": "Total Count"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "tar": {
                        "type": "string",
                        "description": "The tar.",
                        "title": "Tar"
                      },
                      "endDate": {
                        "type": "string",
                        "description": "The end date.",
                        "title": "End Date"
                      },
                      "boundingPoints": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "point": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "float"
                              },
                              "description": "The point.",
                              "title": "Point"
                            }
                          }
                        },
                        "title": "Bounding Points"
                      },
                      "filePath": {
                        "type": "string",
                        "description": "The file path.",
                        "title": "File Path"
                      },
                      "stations": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "dataTypes": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "coverage": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The coverage.",
                                    "title": "Coverage"
                                  },
                                  "endDate": {
                                    "type": "string",
                                    "description": "The end date.",
                                    "title": "End Date"
                                  },
                                  "dateRange": {
                                    "type": "object",
                                    "properties": {
                                      "start": {
                                        "type": "string",
                                        "description": "The start.",
                                        "title": "Start"
                                      },
                                      "end": {
                                        "type": "string",
                                        "description": "The end.",
                                        "title": "End"
                                      }
                                    },
                                    "title": "Date Range"
                                  },
                                  "searchWeight": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The search weight.",
                                    "title": "Search Weight"
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "The identifier.",
                                    "title": "ID"
                                  },
                                  "startDate": {
                                    "type": "string",
                                    "description": "The start date.",
                                    "title": "Start Date"
                                  }
                                }
                              },
                              "title": "Data Types"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            }
                          }
                        },
                        "title": "Stations"
                      },
                      "dataTypes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "dateRange": {
                              "type": "object",
                              "properties": {
                                "start": {
                                  "type": "string",
                                  "description": "The start.",
                                  "title": "Start"
                                },
                                "end": {
                                  "type": "string",
                                  "description": "The end.",
                                  "title": "End"
                                }
                              },
                              "title": "Date Range"
                            },
                            "searchWeight": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The search weight.",
                              "title": "Search Weight"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            }
                          }
                        },
                        "title": "Data Types"
                      },
                      "fileSize": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The file size.",
                        "title": "File Size"
                      },
                      "centroid": {
                        "type": "object",
                        "properties": {
                          "point": {
                            "type": "array",
                            "items": {
                              "type": "number",
                              "format": "float"
                            },
                            "description": "The point.",
                            "title": "Point"
                          }
                        },
                        "title": "Centroid"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "location": {
                        "type": "object",
                        "properties": {
                          "coordinates": {
                            "type": "array",
                            "items": {
                              "type": "number",
                              "format": "float"
                            },
                            "description": "The coordinates.",
                            "title": "Coordinates"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          }
                        },
                        "title": "Location"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "dataTypesCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The data types count.",
                        "title": "Data Types Count"
                      },
                      "startDate": {
                        "type": "string",
                        "description": "The start date.",
                        "title": "Start Date"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startDate": {
                  "type": "string",
                  "description": "The start date.",
                  "title": "Start Date"
                }
              }
            }
          }
        },
        "summary": "Search datasets",
        "description": "Retrieve the results of a dataset search.",
        "operationId": "DatasetsSearchGet",
        "parameters": [
          {
            "name": "dataset",
            "in": "query",
            "x-ms-summary": "Dataset",
            "description": "The dataset.",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DatasetsGet",
              "value-path": "id",
              "value-collection": "results",
              "value-title": "name"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "x-ms-summary": "Start Date",
            "description": "The start date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "x-ms-summary": "End Date",
            "description": "The end date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "boundingBox",
            "in": "query",
            "x-ms-summary": "Bounding Box",
            "description": "The bounding box.",
            "required": false,
            "type": "string"
          },
          {
            "name": "keywords",
            "in": "query",
            "x-ms-summary": "Keywords",
            "description": "The keywords.",
            "required": false,
            "type": "string"
          },
          {
            "name": "text",
            "in": "query",
            "x-ms-summary": "Text",
            "description": "The text.",
            "required": false,
            "type": "string"
          },
          {
            "name": "dataTypes",
            "in": "query",
            "x-ms-summary": "Data Types",
            "description": "The data types.",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "TypesGet",
              "value-path": "id",
              "value-collection": "results",
              "value-title": "name"
            }
          },
          {
            "name": "stations",
            "in": "query",
            "x-ms-summary": "Stations",
            "description": "The stations.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "available",
            "in": "query",
            "x-ms-summary": "Available",
            "description": "Whether available.",
            "required": false,
            "type": "boolean"
          }
        ]
      }
    },
    "/access/homr/services/station/{stationid}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "stationCollection": {
                  "type": "object",
                  "properties": {
                    "definitions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "defType": {
                            "type": "string",
                            "description": "The definition type.",
                            "title": "Def Type"
                          },
                          "abbr": {
                            "type": "string",
                            "description": "The abbreviation.",
                            "title": "Abbreviation"
                          },
                          "fullName": {
                            "type": "string",
                            "description": "The full name.",
                            "title": "Full Name"
                          },
                          "displayName": {
                            "type": "string",
                            "description": "The display name.",
                            "title": "Display Name"
                          },
                          "description": {
                            "type": "string",
                            "description": "The description.",
                            "title": "Description"
                          },
                          "cssaName": {
                            "type": "string",
                            "description": "The CSSA name.",
                            "title": "CSSA Name"
                          },
                          "ghcndName": {
                            "type": "string",
                            "description": "The GHCND name.",
                            "title": "GHCND Name"
                          }
                        }
                      },
                      "title": "Definitions"
                    },
                    "stations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ncdcStnId": {
                            "type": "string",
                            "description": "The NCDC Station ID.",
                            "title": "NCDC Station ID"
                          },
                          "header": {
                            "type": "object",
                            "properties": {
                              "preferredName": {
                                "type": "string",
                                "description": "The preferred name.",
                                "title": "Preferred Name"
                              },
                              "latitude_dec": {
                                "type": "string",
                                "description": "The latitude decimal.",
                                "title": "Latitude Decimal"
                              },
                              "longitude_dec": {
                                "type": "string",
                                "description": "The longitude decimal.",
                                "title": "Longitude Decimal"
                              },
                              "precision": {
                                "type": "string",
                                "description": "The precision.",
                                "title": "Precision"
                              },
                              "por": {
                                "type": "object",
                                "properties": {
                                  "beginDate": {
                                    "type": "string",
                                    "description": "The begin date.",
                                    "title": "Begin Date"
                                  },
                                  "endDate": {
                                    "type": "string",
                                    "description": "The end date.",
                                    "title": "End Date"
                                  }
                                },
                                "title": "Point of Record"
                              }
                            },
                            "title": "Header"
                          },
                          "names": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "nameType": {
                                  "type": "string",
                                  "description": "The name type.",
                                  "title": "Name Type"
                                },
                                "date": {
                                  "type": "object",
                                  "properties": {
                                    "beginDate": {
                                      "type": "string",
                                      "description": "The begin date.",
                                      "title": "Begin Date"
                                    },
                                    "endDate": {
                                      "type": "string",
                                      "description": "The end date.",
                                      "title": "End Date"
                                    }
                                  },
                                  "title": "Date"
                                }
                              }
                            },
                            "title": "Names"
                          },
                          "identifiers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "idType": {
                                  "type": "string",
                                  "description": "The identifier type.",
                                  "title": "ID Type"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "The identifier.",
                                  "title": "ID"
                                },
                                "date": {
                                  "type": "object",
                                  "properties": {
                                    "beginDate": {
                                      "type": "string",
                                      "description": "The begin date.",
                                      "title": "Begin Date"
                                    },
                                    "endDate": {
                                      "type": "string",
                                      "description": "The end date.",
                                      "title": "End Date"
                                    }
                                  },
                                  "title": "Date"
                                }
                              }
                            },
                            "title": "Identifiers"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "ncdcstnId": {
                                "type": "string",
                                "description": "The NCDC station identifier.",
                                "title": "NCDC Stn ID"
                              },
                              "descriptions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "description": {
                                      "type": "string",
                                      "description": "The description.",
                                      "title": "Description"
                                    },
                                    "date": {
                                      "type": "object",
                                      "properties": {
                                        "beginDate": {
                                          "type": "string",
                                          "description": "The begin date.",
                                          "title": "Begin Date"
                                        },
                                        "endDate": {
                                          "type": "string",
                                          "description": "The end date.",
                                          "title": "End Date"
                                        }
                                      },
                                      "title": "Date"
                                    }
                                  }
                                },
                                "title": "Descriptions"
                              },
                              "latitudes": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "latitude_dec": {
                                      "type": "string",
                                      "description": "The latitude decimal.",
                                      "title": "Latitude Dec"
                                    },
                                    "precision": {
                                      "type": "string",
                                      "description": "The precision.",
                                      "title": "Precision"
                                    },
                                    "date": {
                                      "type": "object",
                                      "properties": {
                                        "beginDate": {
                                          "type": "string",
                                          "description": "The begin date.",
                                          "title": "Begin Date"
                                        },
                                        "endDate": {
                                          "type": "string",
                                          "description": "The end date.",
                                          "title": "End Date"
                                        }
                                      },
                                      "title": "Date"
                                    }
                                  }
                                },
                                "title": "Latitudes"
                              },
                              "longitudes": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "longitude_dec": {
                                      "type": "string",
                                      "description": "The longitude decimal.",
                                      "title": "Longitude Dec"
                                    },
                                    "precision": {
                                      "type": "string",
                                      "description": "The precision.",
                                      "title": "Precision"
                                    },
                                    "date": {
                                      "type": "object",
                                      "properties": {
                                        "beginDate": {
                                          "type": "string",
                                          "description": "The begin date.",
                                          "title": "Begin Date"
                                        },
                                        "endDate": {
                                          "type": "string",
                                          "description": "The end date.",
                                          "title": "End Date"
                                        }
                                      },
                                      "title": "Date"
                                    }
                                  }
                                },
                                "title": "Longitudes"
                              },
                              "latLonPairs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "latitude_rptd": {
                                      "type": "string",
                                      "description": "The latitude RPTC.",
                                      "title": "Latitude RPTD"
                                    },
                                    "longitude_rptd": {
                                      "type": "string",
                                      "description": "The longitude RPTC.",
                                      "title": "Longitude RPTD"
                                    },
                                    "latitude_dec": {
                                      "type": "string",
                                      "description": "The latitude decimal.",
                                      "title": "Latitude Dec"
                                    },
                                    "longitude_dec": {
                                      "type": "string",
                                      "description": "The longitude decimal.",
                                      "title": "Longitude Dec"
                                    },
                                    "latitude_dms": {
                                      "type": "string",
                                      "description": "The latitude DMS.",
                                      "title": "Latitude DMS"
                                    },
                                    "longitude_dms": {
                                      "type": "string",
                                      "description": "The longitude DMS.",
                                      "title": "Longitude DMS"
                                    },
                                    "precision": {
                                      "type": "string",
                                      "description": "The precision.",
                                      "title": "Precision"
                                    },
                                    "datum_horiz": {
                                      "type": "string",
                                      "description": "The datum horizontal.",
                                      "title": "Datum Horizontal"
                                    },
                                    "source": {
                                      "type": "string",
                                      "description": "The source.",
                                      "title": "Source"
                                    },
                                    "date": {
                                      "type": "object",
                                      "properties": {
                                        "beginDate": {
                                          "type": "string",
                                          "description": "The begin date.",
                                          "title": "Begin Date"
                                        },
                                        "endDate": {
                                          "type": "string",
                                          "description": "The end date.",
                                          "title": "End Date"
                                        }
                                      },
                                      "title": "Date"
                                    }
                                  }
                                },
                                "title": "Lat Lon Pairs"
                              },
                              "elevations": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "elevationType": {
                                      "type": "string",
                                      "description": "The elevation type.",
                                      "title": "Elevation Type"
                                    },
                                    "elevationFeet": {
                                      "type": "string",
                                      "description": "The elevation feet.",
                                      "title": "Elevation Feet"
                                    },
                                    "elevationMeters": {
                                      "type": "string",
                                      "description": "The elevation meters.",
                                      "title": "Elevation Meters"
                                    },
                                    "date": {
                                      "type": "object",
                                      "properties": {
                                        "beginDate": {
                                          "type": "string",
                                          "description": "The begin date.",
                                          "title": "Begin Date"
                                        },
                                        "endDate": {
                                          "type": "string",
                                          "description": "The end date.",
                                          "title": "End Date"
                                        }
                                      },
                                      "title": "Date"
                                    },
                                    "groundElevDatum": {
                                      "type": "string",
                                      "description": "The ground elevation datum.",
                                      "title": "Ground Elev Datum"
                                    }
                                  }
                                },
                                "title": "Elevations"
                              },
                              "topography": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "description": {
                                      "type": "string",
                                      "description": "The description.",
                                      "title": "Description"
                                    },
                                    "date": {
                                      "type": "object",
                                      "properties": {
                                        "beginDate": {
                                          "type": "string",
                                          "description": "The begin date.",
                                          "title": "Begin Date"
                                        },
                                        "endDate": {
                                          "type": "string",
                                          "description": "The end date.",
                                          "title": "End Date"
                                        }
                                      },
                                      "title": "Date"
                                    }
                                  }
                                },
                                "title": "Topography"
                              },
                              "obstructions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "description": {
                                      "type": "string",
                                      "description": "The description.",
                                      "title": "Description"
                                    },
                                    "date": {
                                      "type": "object",
                                      "properties": {
                                        "beginDate": {
                                          "type": "string",
                                          "description": "The begin date.",
                                          "title": "Begin Date"
                                        },
                                        "endDate": {
                                          "type": "string",
                                          "description": "The end date.",
                                          "title": "End Date"
                                        }
                                      },
                                      "title": "Date"
                                    }
                                  }
                                },
                                "title": "Obstructions"
                              },
                              "geoInfo": {
                                "type": "object",
                                "properties": {
                                  "ncdcstnId": {
                                    "type": "string",
                                    "description": "The NCDC station identifier.",
                                    "title": "NCDC Station ID"
                                  },
                                  "countries": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "country": {
                                          "type": "string",
                                          "description": "The country.",
                                          "title": "Country"
                                        },
                                        "date": {
                                          "type": "object",
                                          "properties": {
                                            "beginDate": {
                                              "type": "string",
                                              "description": "The begin date.",
                                              "title": "Begin Date"
                                            },
                                            "endDate": {
                                              "type": "string",
                                              "description": "The end date.",
                                              "title": "End Date"
                                            }
                                          },
                                          "title": "Date"
                                        }
                                      }
                                    },
                                    "title": "Countries"
                                  },
                                  "stateProvinces": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "stateProvince": {
                                          "type": "string",
                                          "description": "The state or province.",
                                          "title": "State/Province"
                                        },
                                        "date": {
                                          "type": "object",
                                          "properties": {
                                            "beginDate": {
                                              "type": "string",
                                              "description": "The begin date.",
                                              "title": "Begin Date"
                                            },
                                            "endDate": {
                                              "type": "string",
                                              "description": "The end date.",
                                              "title": "End Date"
                                            }
                                          },
                                          "title": "Date"
[...]
