{
  "openapi": "3.0.1",
  "info": {
    "title": "PlumoAi API",
    "version": "1.0.0",
    "description": "Swagger definition for PlumoAi Power BI connector (Independent Publisher)"
  },
  "servers": [
    {
      "url": "https://api.plumoai.com/v1",
      "description": "PlumoAi API base URL"
    }
  ],
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.plumoai.com/auth/oauth/authorize",
            "tokenUrl": "https://api.plumoai.com/auth/oauth/token",
            "scopes": {
              "read": "Read access to resources",
              "write": "Write access to resources",
              "offline_access": "Refresh token access"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "OAuth2": ["read", "write", "offline_access"]
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "summary": "Get list of projects",
        "operationId": "GetProjects",
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "workspace": { "type": "string" },
                      "workspace_id": { "type": "string" },
                      "project_id": { "type": "string" },
                      "project_name": { "type": "string" },
                      "project_description": { "type": "string" },
                      "template_name": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/tables": {
      "get": {
        "summary": "Get tables for a project",
        "operationId": "GetProjectTables",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tables",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "table_id": { "type": "string" },
                      "table_name": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/records": {
      "get": {
        "summary": "Get records from a table",
        "operationId": "GetRecords",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "table_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Records from table",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fields": {
                      "type": "array",
                      "items": { "type": "object" }
                    },
                    "records": {
                      "type": "array",
                      "items": { "type": "object" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
