{
  "swagger": "2.0",
  "info": {
    "title": "Recorded Future",
    "description": "Recorded Future Connector enables access to the Recorded Future Intelligence. The connector has dedicated actions for pulling Recorded Future indicators (IP, Domain, URL, Hash) and associated context (Risk Score, Risk Rules, Intelligence Card Link and Related Entities) , Vulnerabilities, Recorded Future Alerts and enables access to Recorded Future SOAR API and Fusion Files",
    "contact": {
      "name": "Recorded Future Support",
      "url": "https://support.recordedfuture.com",
      "email": "support@recordedfuture.com"
    },
    "version": "1.0"
  },
  "host": "api.recordedfuture.com",
  "basePath": "/v2/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/ip/{ip}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "intelCard": {
                      "type": "string",
                      "description": "Recorded Future Intelligence Card Link",
                      "title": "intelCard",
                      "x-ms-visibility": "important"
                    },
                    "risk": {
                      "type": "object",
                      "properties": {
                        "criticalityLabel": {
                          "type": "string",
                          "description": "Recorded Future Indicator Criticality Level",
                          "title": "criticalityLabel",
                          "x-ms-visibility": "important"
                        },
                        "score": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Recorded Future Indicator Risk Score",
                          "title": "score",
                          "x-ms-visibility": "important"
                        },
                        "evidenceDetails": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "mitigationString": {
                                "type": "string",
                                "description": "mitigationString",
                                "x-ms-visibility": "internal"
                              },
                              "timestamp": {
                                "type": "string",
                                "description": "timestamp",
                                "x-ms-visibility": "internal"
                              },
                              "criticalityLabel": {
                                "type": "string",
                                "description": "criticalityLabel",
                                "x-ms-visibility": "internal"
                              },
                              "evidenceString": {
                                "type": "string",
                                "description": "Recorded Future Risk Rules Evidence Details",
                                "title": "evidenceString",
                                "x-ms-visibility": "advanced"
                              },
                              "rule": {
                                "type": "string",
                                "description": "Recorded Future Indicator Risk Rules",
                                "title": "rule",
                                "x-ms-visibility": "important"
                              },
                              "criticality": {
                                "type": "integer",
                                "format": "int32",
                                "description": "criticality",
                                "x-ms-visibility": "internal"
                              }
                            }
                          },
                          "description": "evidenceDetails"
                        },
                        "riskString": {
                          "type": "string",
                          "description": "riskString",
                          "x-ms-visibility": "internal"
                        },
                        "rules": {
                          "type": "integer",
                          "format": "int32",
                          "description": "rules",
                          "x-ms-visibility": "internal"
                        },
                        "criticality": {
                          "type": "integer",
                          "format": "int32",
                          "description": "criticality",
                          "x-ms-visibility": "internal"
                        },
                        "riskSummary": {
                          "type": "string",
                          "description": "Recorded Future Risk Rules Summary",
                          "title": "a",
                          "x-ms-visibility": "advanced"
                        }
                      },
                      "description": "risk"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "IP Enrichment",
        "description": "IP Enrichment with Recorded Future data",
        "operationId": "IP_E",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The IP address to lookup. Must be a single IP address",
            "x-ms-summary": "IP input",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "intelCard,risk",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/ip/{ip}/extension/{extension}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "IP Extension Enrichment",
        "operationId": "IP_E_E",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The IP address to lookup. Must be a single IP address",
            "x-ms-summary": "Input IP",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "extension",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "enum": [
              "Censys",
              "GreyNoiseIntelligence",
              "SentinelOne",
              "alienvault",
              "cisco_umbrella",
              "deepsight_extension",
              "domaintools_iris",
              "dragos",
              "dt",
              "facebookte",
              "farsight",
              "isight",
              "multirbl",
              "nucleon",
              "panw",
              "phishme",
              "reversinglabs",
              "riskiq",
              "servicenow_poc",
              "shodan",
              "virustotal",
              "xforce"
            ],
            "description": "Extension to call",
            "x-ms-summary": "Extension to call",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "IP Enrichment with Recorded Future Extension Partner data"
      }
    },
    "/fusion/files/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Recorded Future RiskLists and SCF Download",
        "description": "Recorded Future RiskList & Security Control Feeds Download",
        "operationId": "R_List_D",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "enum": [
              "/public/MicrosoftAzure/ip_default.json",
              "/public/MicrosoftAzure/ip_gt_90.json",
              "/public/MicrosoftAzure/ip_active_c2.json",
              "/public/MicrosoftAzure/ip_current_c2.json",
              "/public/MicrosoftAzure/ip_botnet.json",
              "/public/MicrosoftAzure/ip_insikt.json",
              "/public/MicrosoftAzure/ip_phishing.json",
              "/public/MicrosoftAzure/domain_default.json",
              "/public/MicrosoftAzure/domain_gt_90.json",
              "/public/MicrosoftAzure/domain_c2_dns.json",
              "/public/MicrosoftAzure/domain_ransomware_payment.json",
              "/public/MicrosoftAzure/domain_recent_weaponized.json",
              "/public/MicrosoftAzure/domain_insikt.json",
              "/public/MicrosoftAzure/domain_covid_lure.json",
              "/public/MicrosoftAzure/domain_phishing.json",
              "/public/MicrosoftAzure/url_gt_90.json",
              "/public/MicrosoftAzure/url_c2.json",
              "/public/MicrosoftAzure/url_ransomware_distribution.json",
              "/public/MicrosoftAzure/url_compromised.json",
              "/public/MicrosoftAzure/url_insikt.json",
              "/public/MicrosoftAzure/url_malware_verdict.json",
              "/public/MicrosoftAzure/hash_targeting_vulns.json",
              "/public/MicrosoftAzure/hash_observed_testing.json",
              "/public/MicrosoftAzure/hash_malware_ssl.json",
              "/public/MicrosoftAzure/vuln_default.json",
              "/public/MicrosoftAzure/vuln_gt_90.json",
              "/public/MicrosoftAzure/vuln_recent_active_malware.json",
              "/public/MicrosoftAzure/vuln_recent_exploit_kit.json",
              "/public/MicrosoftAzure/vuln_recent_ransomware.json",
              "/public/MicrosoftAzure/vuln_recent_rat.json",
              "/public/MicrosoftAzure/vuln_recent_poc_remote.json",
              "/public/MicrosoftAzure/vuln_recent_exploit_dev_itw.json",
              "/public/MicrosoftAzure/vuln_exploited_itw_malware.json",
              "/public/MicrosoftAzure/vuln_critical_cyber_signal.json",
              "/public/prevent/c2_communicating_ips.json",
              "/public/prevent/weaponized_domains.json",
              "/public/prevent/weaponized_urls.json"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "IP - Default RiskList",
                "value": "/public/MicrosoftAzure/ip_default.json"
              },
              {
                "displayName": "IP - 90+ (Very Malicious) RiskList",
                "value": "/public/MicrosoftAzure/ip_gt_90.json"
              },
              {
                "displayName": "IP - Actively Communicating C&C Server",
                "value": "/public/MicrosoftAzure/ip_active_c2.json"
              },
              {
                "displayName": "IP - Current C&C Server",
                "value": "/public/MicrosoftAzure/ip_current_c2.json"
              },
              {
                "displayName": "IP - Recent Botnet Traffic",
                "value": "/public/MicrosoftAzure/ip_botnet.json"
              },
              {
                "displayName": "IP - Recently Reported by Insikt Group",
                "value": "/public/MicrosoftAzure/ip_insikt.json"
              },
              {
                "displayName": "IP - Phishing Host",
                "value": "/public/MicrosoftAzure/ip_phishing.json"
              },
              {
                "displayName": "DOMAIN - Default RiskList",
                "value": "/public/MicrosoftAzure/domain_default.json"
              },
              {
                "displayName": "DOMAIN - 90+ (Very Malicious) RiskList",
                "value": "/public/MicrosoftAzure/domain_gt_90.json"
              },
              {
                "displayName": "DOMAIN - C&C DNS Name",
                "value": "/public/MicrosoftAzure/domain_c2_dns.json"
              },
              {
                "displayName": "DOMAIN - Ransomware Payment DNS Name",
                "value": "/public/MicrosoftAzure/domain_ransomware_payment.json"
              },
              {
                "displayName": "DOMAIN - Recently Active Weaponized Domain",
                "value": "/public/MicrosoftAzure/domain_recent_weaponized.json"
              },
              {
                "displayName": "DOMAIN - Recently Reported by Insikt Group",
                "value": "/public/MicrosoftAzure/domain_insikt.json"
              },
              {
                "displayName": "DOMAIN -  Recent COVID-19-Related Domain Lure: Malicious",
                "value": "/public/MicrosoftAzure/domain_covid_lure.json"
              },
              {
                "displayName": "DOMAIN -  Recent Phishing Lure: Malicious",
                "value": "/public/MicrosoftAzure/domain_phishing.json"
              },
              {
                "displayName": "URL - 90+ (Very Malicious) RiskList",
                "value": "/public/MicrosoftAzure/url_gt_90.json"
              },
              {
                "displayName": "URL - C&C URL",
                "value": "/public/MicrosoftAzure/url_c2.json"
              },
              {
                "displayName": "URL - Ransomware Distribution URL",
                "value": "/public/MicrosoftAzure/url_ransomware_distribution.json"
              },
              {
                "displayName": "URL - Compromised URL",
                "value": "/public/MicrosoftAzure/url_compromised.json"
              },
              {
                "displayName": "URL - Recently Reported by Insikt Group",
                "value": "/public/MicrosoftAzure/url_insikt.json"
              },
              {
                "displayName": "URL - Positive Malware Verdict",
                "value": "/public/MicrosoftAzure/url_malware_verdict.json"
              },
              {
                "displayName": "HASH - Recently Active Targeting Vulnerabilities in the Wild",
                "value": "/public/MicrosoftAzure/hash_targeting_vulns.json"
              },
              {
                "displayName": "HASH - Observed in Underground Virus Testing Sites  ",
                "value": "/public/MicrosoftAzure/hash_observed_testing.json"
              },
              {
                "displayName": "HASH - Malware SSL Certificate Fingerprint",
                "value": "/public/MicrosoftAzure/hash_malware_ssl.json"
              },
              {
                "displayName": "(SCF) Security Control Feed: Command and Control IPs",
                "value": "/public/prevent/c2_communicating_ips.json"
              },
              {
                "displayName": "(SCF) Security Control Feed: Weaponized Domains",
                "value": "/public/prevent/weaponized_domains.json"
              },
              {
                "displayName": "(SCF) Security Control Feed: Weaponized URLs",
                "value": "/public/prevent/weaponized_urls.json"
              },
              {
                "displayName": "VULNERABILITY - Default RiskList",
                "value": "/public/MicrosoftAzure/vuln_default.json"
              },
              {
                "displayName": "VULNERABILITY - 90+ (Very Malicious) RiskList",
                "value": "/public/MicrosoftAzure/vuln_gt_90.json"
              },
              {
                "displayName": "VULNERABILITY - Exploited in the Wild by Recently Active Malware",
                "value": "/public/MicrosoftAzure/vuln_recent_active_malware.json"
              },
              {
                "displayName": "VULNERABILITY - Recently Linked to Exploit Kit",
                "value": "/public/MicrosoftAzure/vuln_recent_exploit_kit.json"
              },
              {
                "displayName": "VULNERABILITY - Recently Linked to Ransomware",
                "value": "/public/MicrosoftAzure/vuln_recent_ransomware.json"
              },
              {
                "displayName": "VULNERABILITY - Recently Linked to Remote Access Trojan",
                "value": "/public/MicrosoftAzure/vuln_recent_rat.json"
              },
              {
                "displayName": "VULNERABILITY - Recent Verified Proof of Concept Available Using Remote Execution",
                "value": "/public/MicrosoftAzure/vuln_recent_poc_remote.json"
              },
              {
                "displayName": "VULNERABILITY - Recently Observed Exploit/Tool Development in the Wild",
                "value": "/public/MicrosoftAzure/vuln_recent_exploit_dev_itw.json"
              },
              {
                "displayName": "VULNERABILITY - Exploited in the Wild by Malware",
                "value": "/public/MicrosoftAzure/vuln_exploited_itw_malware.json"
              },
              {
                "displayName": "VULNERABILITY - Cyber Exploit Signal: Critical",
                "value": "/public/MicrosoftAzure/vuln_critical_cyber_signal.json"
              }
            ],
            "description": "Path to file",
            "x-ms-summary": "Path to file"
          }
        ]
      }
    },
    "/domain/{domain}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "intelCard": {
                      "type": "string",
                      "description": "Recorded Future Intelligence Card Link",
                      "title": "intelCard",
                      "x-ms-visibility": "important"
                    },
                    "risk": {
                      "type": "object",
                      "properties": {
                        "criticalityLabel": {
                          "type": "string",
                          "description": "Recorded Future Indicator Criticality Level",
                          "title": "criticalityLabel",
                          "x-ms-visibility": "important"
                        },
                        "score": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Recorded Future Indicator Risk Score",
                          "title": "score",
                          "x-ms-visibility": "important"
                        },
                        "evidenceDetails": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "mitigationString": {
                                "type": "string",
                                "description": "mitigationString",
                                "x-ms-visibility": "internal"
                              },
                              "timestamp": {
                                "type": "string",
                                "description": "timestamp",
                                "x-ms-visibility": "internal"
                              },
                              "criticalityLabel": {
                                "type": "string",
                                "description": "criticalityLabel",
                                "x-ms-visibility": "internal"
                              },
                              "evidenceString": {
                                "type": "string",
                                "description": "Recorded Future Risk Rules Evidence Details",
                                "title": "evidenceString",
                                "x-ms-visibility": "advanced"
                              },
                              "rule": {
                                "type": "string",
                                "description": "Recorded Future Indicator Risk Rules",
                                "title": "rule",
                                "x-ms-visibility": "advanced"
                              },
                              "criticality": {
                                "type": "integer",
                                "format": "int32",
                                "description": "criticality",
                                "x-ms-visibility": "internal"
                              }
                            }
                          },
                          "description": "evidenceDetails"
                        },
                        "riskString": {
                          "type": "string",
                          "description": "riskString",
                          "x-ms-visibility": "internal"
                        },
                        "rules": {
                          "type": "integer",
                          "format": "int32",
                          "description": "rules",
                          "x-ms-visibility": "internal"
                        },
                        "criticality": {
                          "type": "integer",
                          "format": "int32",
                          "description": "criticality",
                          "x-ms-visibility": "internal"
                        },
                        "riskSummary": {
                          "type": "string",
                          "description": "Recorded Future Risk Rules Summary",
                          "title": "riskSummary",
                          "x-ms-visibility": "advanced"
                        }
                      },
                      "description": "risk"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Domain Enrichment",
        "description": "Domain Enrichment with Recorded Future data",
        "operationId": "D_E",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The domain to lookup. Must be a single domain",
            "x-ms-summary": "Domain input",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "intelCard,risk",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/domain/{domain}/extension/{extension}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Domain Extension Enrichment",
        "description": "Domain Enrichment with Recorded Future Extension Partner data",
        "operationId": "D_E_E",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The domain to lookup. Must be a single domain",
            "x-ms-summary": "Domain input",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "extension",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "enum": [
              "Censys",
              "alienvault",
              "cisco_umbrella",
              "deepsight_extension",
              "domaintools_iris",
              "dragos",
              "dt",
              "facebookte",
              "farsight",
              "isight",
              "phishme",
              "report_website",
              "reversinglabs",
              "riskiq",
              "servicenow_poc",
              "shodan",
              "virustotal",
              "xforce"
            ],
            "description": "Extension to call",
            "x-ms-summary": "Extension to call",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/url/{url}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "risk": {
                      "type": "object",
                      "properties": {
                        "criticalityLabel": {
                          "type": "string",
                          "description": "Recorded Future Indicator Criticality Level",
                          "title": "criticalityLabel",
                          "x-ms-visibility": "important"
                        },
                        "score": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Recorded Future Indicator Risk Score",
                          "title": "score",
                          "x-ms-visibility": "important"
                        },
                        "evidenceDetails": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "mitigationString": {
                                "type": "string",
                                "description": "mitigationString",
                                "x-ms-visibility": "internal"
                              },
                              "timestamp": {
                                "type": "string",
                                "description": "timestamp",
                                "x-ms-visibility": "internal"
                              },
                              "criticalityLabel": {
                                "type": "string",
                                "description": "criticalityLabel",
                                "x-ms-visibility": "internal"
                              },
                              "evidenceString": {
                                "type": "string",
                                "description": "Recorded Future Risk Rules Evidence Details",
                                "title": "evidenceString",
                                "x-ms-visibility": "advanced"
                              },
                              "rule": {
                                "type": "string",
                                "description": "Recorded Future Indicator Risk Rules",
                                "title": "rule",
                                "x-ms-visibility": "important"
                              },
                              "criticality": {
                                "type": "integer",
                                "format": "int32",
                                "description": "criticality",
                                "x-ms-visibility": "internal"
                              }
                            }
                          },
                          "description": "evidenceDetails"
                        },
                        "riskString": {
                          "type": "string",
                          "description": "riskString",
                          "x-ms-visibility": "internal"
                        },
                        "rules": {
                          "type": "integer",
                          "format": "int32",
                          "description": "rules",
                          "x-ms-visibility": "internal"
                        },
                        "criticality": {
                          "type": "integer",
                          "format": "int32",
                          "description": "criticality",
                          "x-ms-visibility": "internal"
                        },
                        "riskSummary": {
                          "type": "string",
                          "description": "Recorded Future Risk Rules Summary",
                          "title": "riskSummary",
                          "x-ms-visibility": "advanced"
                        }
                      },
                      "description": "risk"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "URL Enrichment",
        "description": "URL Enrichment with Recorded Future data",
        "operationId": "U_E",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The URL to lookup. Must be a single URL",
            "x-ms-summary": "URL input",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "intelCard,risk",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/url/{url}/extension/{extension}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "URL Extension Enrichment",
        "description": "URL Enrichment with Recorded Future Extension Partner data",
        "operationId": "U_E_E",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The URL to lookup. Must be a single URL",
            "x-ms-summary": "URL input",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "extension",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "enum": [
              "alienvault",
              "deepsight_extension",
              "facebookte",
              "phishme",
              "report_website",
              "servicenow_poc",
              "shodan"
            ],
            "description": "Extension to call",
            "x-ms-summary": "Extension to call",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/hash/{hash}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "intelCard": {
                      "type": "string",
                      "description": "Recorded Future Intelligence Card Link",
                      "title": "intelCard",
                      "x-ms-visibility": "important"
                    },
                    "risk": {
                      "type": "object",
                      "properties": {
                        "criticalityLabel": {
                          "type": "string",
                          "description": "Recorded Future Indicator Criticality Level",
                          "title": "criticalityLabel",
                          "x-ms-visibility": "important"
                        },
                        "score": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Recorded Future Indicator Risk Score",
                          "title": "score",
                          "x-ms-visibility": "important"
                        },
                        "evidenceDetails": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "mitigationString": {
                                "type": "string",
                                "description": "mitigationString",
                                "x-ms-visibility": "internal"
                              },
                              "timestamp": {
                                "type": "string",
                                "description": "timestamp",
                                "x-ms-visibility": "internal"
                              },
                              "criticalityLabel": {
                                "type": "string",
                                "description": "criticalityLabel",
                                "x-ms-visibility": "internal"
                              },
                              "evidenceString": {
                                "type": "string",
                                "description": "Recorded Future Risk Rules Evidence Details",
                                "title": "evidenceString",
                                "x-ms-visibility": "advanced"
                              },
                              "rule": {
                                "type": "string",
                                "description": "Recorded Future Indicator Risk Rules",
                                "title": "rule",
                                "x-ms-visibility": "important"
                              },
                              "criticality": {
                                "type": "integer",
                                "format": "int32",
                                "description": "criticality",
                                "x-ms-visibility": "internal"
                              }
                            }
                          },
                          "description": "evidenceDetails"
                        },
                        "riskString": {
                          "type": "string",
                          "description": "riskString",
                          "x-ms-visibility": "internal"
                        },
                        "rules": {
                          "type": "integer",
                          "format": "int32",
                          "description": "rules",
                          "x-ms-visibility": "internal"
                        },
                        "criticality": {
                          "type": "integer",
                          "format": "int32",
                          "description": "criticality",
                          "x-ms-visibility": "internal"
                        },
                        "riskSummary": {
                          "type": "string",
                          "description": "Recorded Future Risk Rules Summary",
                          "title": "riskSummary",
                          "x-ms-visibility": "advanced"
                        }
                      },
                      "description": "risk"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Hash Enrichment",
        "description": "Hash Enrichment with Recorded Future data",
        "operationId": "H_E",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The HASH to lookup. Must be a single HASH",
            "x-ms-summary": "HASH input",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "intelCard,risk",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/hash/{hash}/extension/{extension}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Hash Extension Enrichment",
        "description": "Hash Enrichment with Recorded Future Extension Partner data",
        "operationId": "H_E_E",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The HASH to lookup. Must be a single HASH",
            "x-ms-summary": "HASH input",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "extension",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "enum": [
              "Censys",
              "SentinelOne",
              "active_reversinglabs",
              "alienvault",
              "cisco_umbrella",
              "deepsight_extension",
              "dragos",
              "facebookte",
              "pan_autofocus",
              "phishme",
              "reversinglabs",
              "servicenow_poc",
              "virustotal",
              "xforce"
            ],
            "description": "Extension to call",
            "x-ms-summary": "Extension to call",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/vulnerability/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "intelCard": {
                      "type": "string",
                      "description": "Recorded Future Intelligence Card Link",
                      "title": "intelCard",
                      "x-ms-visibility": "important"
                    },
                    "risk": {
                      "type": "object",
                      "properties": {
                        "criticalityLabel": {
                          "type": "string",
                          "description": "Recorded Future Vulnerability Criticality Level",
                          "title": "criticalityLabel",
                          "x-ms-visibility": "important"
                        },
                        "score": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Recorded Future Vulnerability Risk Score",
                          "title": "score",
                          "x-ms-visibility": "important"
                        },
                        "evidenceDetails": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "mitigationString": {
                                "type": "string",
                                "description": "mitigationString",
                                "x-ms-visibility": "internal"
                              },
                              "timestamp": {
                                "type": "string",
                                "description": "timestamp",
                                "x-ms-visibility": "internal"
                              },
                              "criticalityLabel": {
                                "type": "string",
                                "description": "criticalityLabel",
                                "x-ms-visibility": "internal"
                              },
                              "evidenceString": {
                                "type": "string",
                                "description": "Recorded Future Risk Rules Evidence Details",
                                "title": "evidenceString",
                                "x-ms-visibility": "advanced"
                              },
                              "rule": {
                                "type": "string",
                                "description": "Recorded Future Vulnerability Risk Rules",
                                "title": "rule",
                                "x-ms-visibility": "important"
                              },
                              "criticality": {
                                "type": "integer",
                                "format": "int32",
                                "description": "criticality",
                                "x-ms-visibility": "internal"
                              }
                            }
                          },
                          "description": "evidenceDetails"
                        },
                        "riskString": {
                          "type": "string",
                          "description": "riskString",
                          "x-ms-visibility": "internal"
                        },
                        "rules": {
                          "type": "integer",
                          "format": "int32",
                          "description": "rules",
                          "x-ms-visibility": "internal"
                        },
                        "criticality": {
                          "type": "integer",
                          "format": "int32",
                          "description": "criticality",
                          "x-ms-visibility": "internal"
                        },
                        "riskSummary": {
                          "type": "string",
                          "description": "Recorded Future Risk Rules Summary",
                          "title": "riskSummary",
                          "x-ms-visibility": "advanced"
                        }
                      },
                      "description": "risk"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Vulnerability Enrichment",
        "description": "Vulnerability Enrichment with Recorded Future data",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The Vulnerability ID (CVE, name) to lookup. Must be a single Vulnerability ID (CVE, name)",
            "x-ms-summary": "Vulnerability ID (CVE, name) input",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "intelCard,risk",
            "x-ms-visibility": "internal"
          }
        ],
        "operationId": "Vuln_E",
        "x-ms-visibility": "advanced"
      }
    },
    "/vulnerability/{id}/extension/{extension}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Vulnerability Extension Enrichment",
        "description": "Vulnerability Enrichment with Recorded Future Extension Partner data",
        "operationId": "Vuln_E_E",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The Vulnerability ID (CVE, name) to lookup. Must be a single Vulnerability ID (CVE, name)",
            "x-ms-summary": "Vulnerability ID (CVE, name) input",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "extension",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "enum": [
              "RBS",
              "alienvault",
              "bit_sight",
              "facebookte",
              "reversinglabs",
              "shodan",
              "xforce"
            ],
            "description": "Extension to call",
            "x-ms-summary": "Extension to call",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/alert/rule": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "title",
                            "title": "Alert Rule Title",
                            "x-ms-visibility": "advanced"
                          },
                          "id": {
                            "type": "string",
                            "description": "id",
                            "title": "Alert Rule ID",
                            "x-ms-visibility": "important"
                          }
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "data"
                },
                "counts": {
                  "type": "object",
                  "properties": {
                    "returned": {
                      "type": "integer",
                      "format": "int32",
                      "description": "returned",
                      "title": "Returned Number of Alert Rules",
                      "x-ms-visibility": "advanced"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total",
                      "title": "Total Number of Alert Rules",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "counts"
                }
              }
            }
          }
        },
        "summary": "Search Alert Rules",
        "description": "Search Recorded Future UI Alert Rules",
        "operationId": "Alert_Rules_Search",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "freetext",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Freetext search for Alert Rule Name",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Freetext search"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "advanced",
            "description": "Maximum number of records",
            "x-ms-summary": "Maximum number of records"
          }
        ]
      }
    },
    "/alert/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Search Alert Notifications",
        "operationId": "Alert_Not_Search",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "triggered",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "All Elasticsearch compatible date formats are valid.",
            "x-ms-summary": "Triggered",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "alertRule",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Alert Rule ID",
            "x-ms-visibility": "important",
            "x-ms-summary": "Alert Rule ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "advanced",
            "description": "Maximum number of records",
            "x-ms-summary": "Maximum number of records"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Records from offset",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Records from offset"
          }
        ],
        "description": "Search Alert Notifications"
      }
    },
    "/alert/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Lookup Alert Notification",
        "description": "Lookup Alert Notification",
        "operationId": "Alert_Not_Lookup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Alert Notification ID",
            "x-ms-visibility": "important",
            "x-ms-summary": "Alert Notification ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "x-ms-visibility": "advanced"
      }
    },
    "/soar/enrichment": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "SOAR API - Look up multiple entities",
        "description": "SOAR API - Look up multiple entities (Specific Access is Required)",
        "operationId": "Soar_Bulk_Lookup",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "ip": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "An IP or array of IPs: array[string]",
                    "title": "IP",
                    "x-ms-visibility": "important"
                  },
                  "description": "ip"
                },
                "url": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "An URL or array of URLs: array[string]",
                    "title": "URL",
                    "x-ms-visibility": "important"
                  },
                  "description": "url"
                },
                "domain": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "A domain or array of domains: array[string]",
                    "title": "Domain",
                    "x-ms-visibility": "important"
                  },
                  "description": "domain"
                },
                "hash": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "A hash or array of hashes: array[string]",
                    "title": "HASH",
                    "x-ms-visibility": "advanced"
                  },
                  "description": "hash"
                },
                "vulnerability": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "A vulnerability ID or an array of vulnerability IDs: array[string]",
                    "title": "Vulnerability",
                    "x-ms-visibility": "advanced"
                  },
                  "description": "vulnerability"
                }
              }
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.recordedfuture.com"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.recordedfuture.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Data"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-RFToken"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}