{
  "swagger": "2.0",
  "info": {
    "version": "1.1.0",
    "title": "Mockaroo",
    "description": "Harness the Mockaroo API https://www.mockaroo.com/ to generate realistic  sample data instrumental for application testing and development.",
    "contact": {
      "name": "Richard Wilson",
      "email": "richard.a.wilson@microsoft.com",
      "url": "https://www.richardawilson.com/"
    }
  },
  "host": "api.mockaroo.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/generate.json": {
      "post": {
        "summary": "Generate Data",
        "description": "Facilitates the generation of data either by specifying the name of a saved schema on the Mockaroo website or by directly supplying the schema  in JSON format. It is imperative to provide either the schema name or  schema JSON but not both.",
        "operationId": "GenerateDataFromExistingSchema",
        "parameters": [
          {
            "$ref": "#/parameters/array"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "schema": {
                  "type": "string",
                  "x-ms-summary": "Schema Name",
                  "description": "Enter the name of a schema saved on Mockaroo to fetch data. Ensure the schema exists on the Mockaroo platform for accurate  data generation. Do not use this if you're providing Schema JSON.",
                  "x-ms-visibility": "important",
                  "title": "Schema Name"
                },
                "fields": {
                  "type": "string",
                  "x-ms-summary": "Schema JSON",
                  "description": "Input the JSON definition of your schema directly here. This bypasses the need for the schema to be saved on Mockaroo. Avoid  using this property if you've specified the Schema Name.",
                  "x-ms-visibility": "important",
                  "title": "Schema JSON"
                },
                "count": {
                  "type": "integer",
                  "x-ms-summary": "Record Count",
                  "format": "int32",
                  "description": "Define the number of records you wish to generate. If left unspecified and you're using the Schema Name, the output will depend on the record count defined in the saved schema. If unspecified and using Schema JSON, a single record will be returned.",
                  "x-ms-visibility": "important",
                  "title": "Record Count"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    }
},
  "definitions": {},
  "parameters": {
    "array": {
      "in": "query",
      "name": "array",
      "type": "boolean",
      "default": true,
      "x-ms-visibility": "internal",
      "required": true
    }
  },
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.mockaroo.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.mockaroo.com/help/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}