{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Mockaroo",
    "description": "Mockaroo can be used to generate realistic sample data to help test applications.",
    "contact": {
      "name": "Richard Wilson",
      "email": "richard.a.wilson@microsoft.com",
      "url": "https://www.richardawilson.com/"
    }
  },
  "host": "api.mockaroo.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/generate.json": {
      "post": {
        "summary": "Generate data from existing schema",
        "description": "This action returns data generated from an existing schema defined in Mockaroo.",
        "operationId": "GenerateDataFromExistingSchema",
        "parameters": [
          {
            "$ref": "#/parameters/array"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "schema": {
                  "type": "string",
                  "x-ms-summary": "Schema Name",
                  "description": "Enter the name of the Mockaroo schema",
                  "x-ms-visibility": "important"
                },
                "count": {
                  "type": "integer",
                  "x-ms-summary": "Record Count",
                  "format": "int32",
                  "description": "Enter the number of records to return or leave blank to return the number defined in the schema",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "schema"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {
    "array": {
      "in": "query",
      "name": "array",
      "type": "boolean",
      "default": true,
      "x-ms-visibility": "internal",
      "required": true
    }
  },
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.mockaroo.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.mockaroo.com/help/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}