{
  "swagger": "2.0",
  "info": {
    "title": "Datamuse",
    "description": "Datamuse is a word-finding query engine for developers. You can use it in your apps to find words that match a given set of constraints and that are likely in a given context. You can specify a wide variety of constraints on meaning, spelling, sound, and vocabulary in your queries, in any combination.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.datamuse.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/words": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "word": {
                    "type": "string",
                    "description": "The matching vocabulary entry.",
                    "title": "Word"
                  },
                  "score": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The word score or rank.",
                    "title": "Score"
                  },
                  "numSyllables": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of syllables.",
                    "title": "Syllables"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The tags.",
                    "title": "Tags"
                  }
                }
              }
            }
          }
        },
        "summary": "Get words",
        "description": "Retrieves a list of words (and multi word expressions) from a given vocabulary that match a given set of constraints.",
        "operationId": "Words",
        "parameters": [
          {
            "name": "ml",
            "in": "query",
            "x-ms-summary": "Means Like",
            "description": "The results have a meaning related to this string value, which can be any word or sequence of words.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sl",
            "in": "query",
            "x-ms-summary": "Sounds Like",
            "description": "The results are pronounced similarly to this string of characters.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sp",
            "in": "query",
            "x-ms-summary": "Spelled Like",
            "description": "The results are spelled similarly to this string of characters, or that they match a wildcard pattern.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rel_jja",
            "in": "query",
            "x-ms-summary": "Related Words - Adjective",
            "description": "The popular nouns modified by the given adjective.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rel_jjb",
            "in": "query",
            "x-ms-summary": "Related Words - Noun",
            "description": "The predefined lexical relationship noun.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rel_syn",
            "in": "query",
            "x-ms-summary": "Related Words - Synonyms",
            "description": "The predefined lexical relationship synonym.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rel_trg",
            "in": "query",
            "x-ms-summary": "Related Words - Triggers",
            "description": "The predefined lexical relationship triggers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rel_ant",
            "in": "query",
            "x-ms-summary": "Related Words - Antonyms",
            "description": "The predefined lexical relationship antonyms.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rel_spc",
            "in": "query",
            "x-ms-summary": "Related Words - Kind Of",
            "description": "The predefined lexical relationship direct hypernyms.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rel_gen",
            "in": "query",
            "x-ms-summary": "Related Words - More General Than",
            "description": "The predefined lexical relationship direct hyponyms.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rel_com",
            "in": "query",
            "x-ms-summary": "Related Words - Comprises",
            "description": "The predefined lexical relationship direct holonyms.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rel_par",
            "in": "query",
            "x-ms-summary": "Related Words - Part Of",
            "description": "The predefined lexical relationship direct meronyms.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rel_bga",
            "in": "query",
            "x-ms-summary": "Related Words - Frequent Followers",
            "description": "The predefined lexical relationship frequent followers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rel_bgb",
            "in": "query",
            "x-ms-summary": "Related Words - Frequent Predecessors",
            "description": "The predefined lexical relationship frequent predecessors.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rel_rhy",
            "in": "query",
            "x-ms-summary": "Related Words - Rhymes",
            "description": "The predefined lexical relationship perfect rhymes.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rel_nry",
            "in": "query",
            "x-ms-summary": "Related Words - Approximate Rhymes",
            "description": "The predefined lexical relationship approximate rhymes.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rel_hom",
            "in": "query",
            "x-ms-summary": "Related Words - Homophones",
            "description": "The predefined lexical relationship homophones.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rel_cns",
            "in": "query",
            "x-ms-summary": "Related Words - Consonant Match",
            "description": "The predefined lexical relationship consonant match.",
            "required": false,
            "type": "string"
          },
          {
            "name": "v",
            "in": "query",
            "x-ms-summary": "Identifier",
            "description": "The identifier for the vocabulary to use.",
            "required": false,
            "type": "string"
          },
          {
            "name": "topics",
            "in": "query",
            "x-ms-summary": "Topics",
            "description": "The optional hint to the system about the theme of the document being written.",
            "required": false,
            "type": "string"
          },
          {
            "name": "lc",
            "in": "query",
            "x-ms-summary": "Left Context",
            "description": "The optional hint to the system about the word that appears immediately to the left of the target word in a sentence.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rc",
            "in": "query",
            "x-ms-summary": "Right Context",
            "description": "The optional hint to the system about the word that appears immediately to the right of the target word in a sentence.",
            "required": false,
            "type": "string"
          },
          {
            "name": "max",
            "in": "query",
            "x-ms-summary": "Max",
            "description": "The maximum number of results to return, not to exceed 1000 (default: 100).",
            "required": false,
            "type": "integer",
            "default": 100
          },
          {
            "name": "md",
            "in": "query",
            "x-ms-summary": "Metadata",
            "description": "The list of single-letter codes (no delimiter) requesting that extra lexical knowledge be included with the results.",
            "required": false,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.datamuse.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.datamuse.com/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}