{
  "swagger": "2.0",
  "info": {
    "title": "T.LY",
    "description": "Links are the fundamental building blocks that connect the vast expanse of information on the internet. T.LY makes them shorter and easier to share.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.t.ly",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1/link/pixel": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "pixel_id": {
                    "type": "string",
                    "description": "The pixel identifier.",
                    "title": "Pixel ID"
                  },
                  "pixel_type": {
                    "type": "string",
                    "description": "The pixel type.",
                    "title": "Pixel Type"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "When created at.",
                    "title": "Created At"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "When updated at.",
                    "title": "Updated At"
                  }
                }
              }
            }
          }
        },
        "summary": "List pixels",
        "description": "Retrieve a list of all pixels.",
        "operationId": "PixelsGet",
        "parameters": []
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "pixel_id": {
                  "type": "string",
                  "description": "The pixel identifier.",
                  "title": "Pixel ID"
                },
                "pixel_type": {
                  "type": "string",
                  "description": "The pixel type.",
                  "title": "Pixel Type"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                }
              }
            }
          }
        },
        "summary": "Create pixel",
        "description": "Creates a new pixel.",
        "operationId": "PixelPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "pixel_id": {
                  "type": "string",
                  "description": "The pixel identifier.",
                  "title": "Pixel ID"
                },
                "pixel_type": {
                  "type": "string",
                  "description": "The pixel type.",
                  "title": "Pixel Type"
                }
              },
              "required": [
                "name",
                "pixel_id",
                "pixel_type"
              ]
            }
          }
        ]
      }
    },
    "/api/v1/link/pixel/{pixel_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "pixel_id": {
                  "type": "string",
                  "description": "The pixel identifier.",
                  "title": "Pixel ID"
                },
                "pixel_type": {
                  "type": "string",
                  "description": "The pixel type.",
                  "title": "Pixel Type"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                }
              }
            }
          }
        },
        "summary": "Get pixel",
        "description": "Retrieve a pixel.",
        "operationId": "PixelGet",
        "parameters": [
          {
            "name": "pixel_id",
            "in": "path",
            "x-ms-summary": "Pixel ID",
            "x-ms-url-encoding": "single",
            "description": "The pixel identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "202": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete pixel",
        "description": "Deletes a pixel.",
        "operationId": "PixelDelete",
        "parameters": [
          {
            "name": "pixel_id",
            "in": "path",
            "x-ms-summary": "Pixel ID",
            "x-ms-url-encoding": "single",
            "description": "The pixel identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "pixel_id": {
                  "type": "string",
                  "description": "The pixel identifier.",
                  "title": "Pixel ID"
                },
                "pixel_type": {
                  "type": "string",
                  "description": "The pixel type.",
                  "title": "Pixel Type"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                }
              }
            }
          }
        },
        "summary": "Update pixel",
        "description": "Updates a pixel.",
        "operationId": "PixelPut",
        "parameters": [
          {
            "name": "pixel_id",
            "in": "path",
            "x-ms-summary": "Pixel ID",
            "x-ms-url-encoding": "single",
            "description": "The pixel identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "pixel_id": {
                  "type": "string",
                  "description": "The pixel identifier.",
                  "title": "Pixel ID"
                },
                "pixel_type": {
                  "type": "string",
                  "description": "The pixel type.",
                  "title": "Pixel Type"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v1/link/shorten": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "short_url": {
                  "type": "string",
                  "description": "The short URL address.",
                  "title": "Short URL"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "long_url": {
                  "type": "string",
                  "description": "The long URL address.",
                  "title": "Long URL"
                },
                "domain": {
                  "type": "string",
                  "description": "The domain.",
                  "title": "Domain"
                },
                "short_id": {
                  "type": "string",
                  "description": "The short identifier.",
                  "title": "Short ID"
                },
                "expire_at_views": {
                  "type": "string",
                  "description": "The expire at views.",
                  "title": "Expire At Views"
                },
                "expire_at_datetime": {
                  "type": "string",
                  "description": "The expire at date-time.",
                  "title": "Expire At Date-time"
                },
                "public_stats": {
                  "type": "boolean",
                  "description": "Whether stats are public.",
                  "title": "Public Stats"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "smart_urls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          }
                        }
                      },
                      "title": "Smart"
                    }
                  },
                  "title": "Meta"
                }
              }
            }
          }
        },
        "summary": "Create short link",
        "description": "Creates a new short link.",
        "operationId": "LinkPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "long_url": {
                  "type": "string",
                  "description": "The long URL address.",
                  "title": "Long URL"
                },
                "domain": {
                  "type": "string",
                  "description": "The domain.",
                  "title": "Domain"
                },
                "expire_at_datetime": {
                  "type": "string",
                  "description": "The expire at date-time.",
                  "title": "Expire At Date-time"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "public_stats": {
                  "type": "boolean",
                  "description": "Whether stats are public.",
                  "title": "Public Stats"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "smart_urls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          }
                        }
                      },
                      "title": "Smart"
                    }
                  },
                  "title": "Meta"
                }
              },
              "required": [
                "long_url"
              ]
            }
          }
        ]
      }
    },
    "/api/v1/link": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "short_url": {
                  "type": "string",
                  "description": "The short URL address.",
                  "title": "Short URL"
                },
                "long_url": {
                  "type": "string",
                  "description": "The long URL address.",
                  "title": "Long URL"
                },
                "domain": {
                  "type": "string",
                  "description": "The domain.",
                  "title": "Domain"
                },
                "short_id": {
                  "type": "string",
                  "description": "The short identifier.",
                  "title": "Short ID"
                },
                "expire_at_views": {
                  "type": "string",
                  "description": "The expire at views.",
                  "title": "Expire At Views"
                },
                "expire_at_datetime": {
                  "type": "string",
                  "description": "The expire at date-time.",
                  "title": "Expire At Date-time"
                },
                "public_stats": {
                  "type": "boolean",
                  "description": "Whether stats are public.",
                  "title": "Public Stats"
                },
                "qr_code_url": {
                  "type": "string",
                  "description": "The QR code URL address.",
                  "title": "QR Code URL"
                },
                "qr_code_base64": {
                  "type": "string",
                  "description": "The QR code Base64.",
                  "title": "QR Code Base64"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The tag."
                  },
                  "title": "Tag"
                },
                "pixels": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The pixel."
                  },
                  "title": "Pixel"
                }
              }
            }
          }
        },
        "summary": "Get short link",
        "description": "Retrieve the details of a short link.",
        "operationId": "LinkGet",
        "parameters": [
          {
            "name": "short_url",
            "in": "query",
            "x-ms-summary": "Short URL",
            "description": "The short URL address.",
            "required": false,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "202": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete short link",
        "description": "Deletes a short link.",
        "operationId": "LinkDelete",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "short_url": {
                  "type": "string",
                  "description": "The short URL address.",
                  "title": "Short URL"
                }
              }
            }
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "short_url": {
                  "type": "string",
                  "description": "The short URL address.",
                  "title": "Short URL"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "long_url": {
                  "type": "string",
                  "description": "The long URL address.",
                  "title": "Long URL"
                },
                "domain": {
                  "type": "string",
                  "description": "The domain.",
                  "title": "Domain"
                },
                "short_id": {
                  "type": "string",
                  "description": "The short identifier.",
                  "title": "Short ID"
                },
                "expire_at_views": {
                  "type": "string",
                  "description": "The expire at views.",
                  "title": "Expire At Views"
                },
                "expire_at_datetime": {
                  "type": "string",
                  "description": "The expire at date-time.",
                  "title": "Expire At Date-time"
                },
                "public_stats": {
                  "type": "boolean",
                  "description": "Whether stats are public.",
                  "title": "Public Stats"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "smart_urls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          }
                        }
                      },
                      "title": "Smart"
                    }
                  },
                  "title": "Meta"
                }
              }
            }
          }
        },
        "summary": "Update short link",
        "description": "Updates the details of a short link.",
        "operationId": "LinkPut",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "short_url": {
                  "type": "string",
                  "description": "The short URL address.",
                  "title": "Short URL"
                },
                "long_url": {
                  "type": "string",
                  "description": "The long URL address.",
                  "title": "Long URL"
                },
                "domain": {
                  "type": "string",
                  "description": "The domain.",
                  "title": "Domain"
                },
                "short_id": {
                  "type": "string",
                  "description": "The short identifier.",
                  "title": "Short ID"
                },
                "expire_at_views": {
                  "type": "string",
                  "description": "The expire at views.",
                  "title": "Expire At Views"
                },
                "expire_at_datetime": {
                  "type": "string",
                  "description": "The expire at date-time.",
                  "title": "Expire At Date-time"
                },
                "public_stats": {
                  "type": "boolean",
                  "description": "Whether stats are public.",
                  "title": "Public Stats"
                },
                "qr_code_url": {
                  "type": "string",
                  "description": "The QR code URL address.",
                  "title": "QR Code URL"
                },
                "qr_code_base64": {
                  "type": "string",
                  "description": "The QR code Base64.",
                  "title": "QR Code Base64"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The tag."
                  },
                  "title": "Tag"
                },
                "pixels": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The pixel."
                  },
                  "title": "Pixel"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v1/link/expand": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "long_url": {
                  "type": "string",
                  "description": "The long URL address.",
                  "title": "Long URL"
                },
                "expired": {
                  "type": "boolean",
                  "description": "Whether expired.",
                  "title": "Expired"
                }
              }
            }
          }
        },
        "summary": "Expand short link",
        "description": "Retrieve the long link address from a short link.",
        "operationId": "LinkExpandPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "short_url": {
                  "type": "string",
                  "description": "The short URL address.",
                  "title": "Short URL"
                },
                "password": {
                  "type": "string",
                  "description": "The password.",
                  "title": "Password"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v1/link/list": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "current_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page.",
                  "title": "Current Page"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "long_url": {
                        "type": "string",
                        "description": "The long URL address.",
                        "title": "Long URL"
                      },
                      "short_url": {
                        "type": "string",
                        "description": "The short URL.",
                        "title": "Short URL"
                      },
                      "domain": {
                        "type": "string",
                        "description": "The domain.",
                        "title": "Domain"
                      },
                      "short_id": {
                        "type": "string",
                        "description": "The short identifier.",
                        "title": "Short ID"
                      },
                      "user_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The user identifier.",
                        "title": "User ID"
                      },
                      "team_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The team identifier.",
                        "title": "Team ID"
                      },
                      "domain_id": {
                        "type": "string",
                        "description": "The domain identifier.",
                        "title": "Domain ID"
                      },
                      "expire_at_datetime": {
                        "type": "string",
                        "description": "The expired at date-time.",
                        "title": "Expire At Date-time"
                      },
                      "expire_at_views": {
                        "type": "string",
                        "description": "The expire at views.",
                        "title": "Expire At Views"
                      },
                      "public_stats": {
                        "type": "boolean",
                        "description": "Whether the stats are public.",
                        "title": "Public Stats"
                      },
                      "meta": {
                        "type": "object",
                        "properties": {
                          "smart_urls": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "description": "The smart URL address."
                            },
                            "title": "Smart URL"
                          }
                        },
                        "title": "Meta"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "has_password": {
                        "type": "boolean",
                        "description": "Whether has password.",
                        "title": "Has Password"
                      },
                      "user": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address.",
                            "title": "Email"
                          }
                        },
                        "title": "User"
                      },
                      "qr_code": {
                        "type": "string",
                        "description": "The QR code.",
                        "title": "QR Code"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The tag."
                        },
                        "title": "Tag"
                      },
                      "pixels": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The pixel."
                        },
                        "title": "Pixel"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "List short links",
        "description": "Retrieve a list of all short links.",
        "operationId": "LinksGet",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "The search query.",
            "required": false,
            "type": "string"
          },
          {
            "name": "tag_ids",
            "in": "query",
            "x-ms-summary": "Tag IDs",
            "description": "The tag identifiers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pixel_ids",
            "in": "query",
            "x-ms-summary": "Pixel IDs",
            "description": "The pixel identifiers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "start_date",
            "in": "query",
            "x-ms-summary": "Start Date",
            "description": "The start date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "x-ms-summary": "End Date",
            "description": "The end date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "domains",
            "in": "query",
            "x-ms-summary": "Domains",
            "description": "The domains.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/api/v1/link/bulk": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Bulk import short link",
        "description": "Starts a bulk import of links. Will return true if successful.",
        "operationId": "LinkBulkPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "The domain.",
                  "title": "Domain"
                },
                "links": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "LongUrl": {
                        "type": "string",
                        "description": "The long URL.",
                        "title": "Long URL"
                      },
                      "Backhalf": {
                        "type": "string",
                        "description": "The backhalf.",
                        "title": "Backhalf"
                      },
                      "Password": {
                        "type": "string",
                        "description": "The password.",
                        "title": "Password"
                      },
                      "Description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      }
                    }
                  },
                  "title": "Links"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The tag."
                  },
                  "title": "Tag"
                },
                "pixels": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The pixel."
                  },
                  "title": "Pixel"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v1/link/stats": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "clicks": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of clicks.",
                  "title": "Clicks"
                },
                "unique_clicks": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of unique clicks.",
                  "title": "Unique Clicks"
                },
                "browsers": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "The browser."
                  },
                  "title": "Browser"
                },
                "countries": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "The country."
                  },
                  "title": "Country"
                },
                "referrers": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "The referrer."
                  },
                  "title": "Referrer"
                },
                "platforms": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "The platform."
                  },
                  "title": "Platform"
                },
                "daily_clicks": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "The daily click."
                  },
                  "title": "Daily Click"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "long_url": {
                      "type": "string",
                      "description": "The long URL address.",
                      "title": "Long URL"
                    },
                    "short_url": {
                      "type": "string",
                      "description": "The short URL address.",
                      "title": "Short URL"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get short link stats",
        "description": "Retrieve the stats for a short link.",
        "operationId": "StatGet",
        "parameters": [
          {
            "name": "short_link",
            "in": "query",
            "x-ms-summary": "Short Link",
            "description": "The short link.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/api/v1/link/tag": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "tag": {
                    "type": "string",
                    "description": "The tag.",
                    "title": "Tag"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "When created at.",
                    "title": "Created At"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "When updated at.",
                    "title": "Updated At"
                  }
                }
              }
            }
          }
        },
        "summary": "List tags",
        "description": "Retrieve a list of tags.",
        "operationId": "TagsGet",
        "parameters": []
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "tag": {
                  "type": "string",
                  "description": "The tag.",
                  "title": "Tag"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                }
              }
            }
          }
        },
        "summary": "Create tag",
        "description": "Creates a new tag.",
        "operationId": "TagPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "tag": {
                  "type": "string",
                  "description": "The tag.",
                  "title": "Tag"
                }
              },
              "required": [
                "tag"
              ]
            }
          }
        ]
      }
    },
    "/api/v1/link/tag/{tag_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "tag": {
                  "type": "string",
                  "description": "The tag.",
                  "title": "Tag"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                }
              }
            }
          }
        },
        "summary": "Get tag",
        "description": "Retrieve the details of a tag.",
        "operationId": "TagGet",
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "x-ms-summary": "Tag ID",
            "x-ms-url-encoding": "single",
            "description": "The tag identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "202": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete tag",
        "description": "Deletes an existing tag.",
        "operationId": "TagDelete",
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "x-ms-summary": "Tag ID",
            "x-ms-url-encoding": "single",
            "description": "The tag identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "tag": {
                  "type": "string",
                  "description": "The tag.",
                  "title": "Tag"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                }
              }
            }
          }
        },
        "summary": "Update tag",
        "description": "Updates an existing tag.",
        "operationId": "TagPut",
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "x-ms-summary": "Tag ID",
            "x-ms-url-encoding": "single",
            "description": "The tag identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "tag": {
                  "type": "string",
                  "description": "The tag.",
                  "title": "Tag"
                }
              },
              "required": [
                "tag"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://t.ly"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://t.ly/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website"
    }
  ]
}