{
  "swagger": "2.0",
  "info": {
    "title": "tyntec SMS Business",
    "description": "Allows SMS communication channel using the tyntec Conversations API to expand your outreach potential",
    "contact": {
      "name": "tyntec support",
      "url": "https://www.tyntec.com/get-help-support",
      "email": "support@tyntec.com"
    },

    "version": "1.1"
  },
  "host": "api.tyntec.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/chat-api/v2/messages": {
      "post": {
        "responses":  {
          "default": {
            "description": "Returned when the operation successfully connects to Conversations API",

            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId",
                  "x-ms-visibility": "important"
                }
              }
            }
          },
          "400": {
            "description": "There was an issue with your channel."
          },
          "401": {
            "description": "The Viber Service ID or WhatsApp Business Account Number is not authorized with used API key."
          }
        },
        "summary": "Send a custom SMS",
        "description": "Send a custom SMS",
        "operationId": "SendSMS",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string",
                  "description": "Receiver's phone number",
                  "title": "to"
                },
                "channels": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "channels key item",
                    "description": "Connector channel",
                    "default": "sms",
                    "x-ms-visibility": "internal"
                  },
                  "description": "channels"
                },
                "sms": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "Your phone number",
                      "title": "from"
                    },
                    "contentType": {
                      "type": "string",
                      "description": "contentType",
                      "title": "contentType",
                      "default": "text",
                      "x-ms-visibility": "internal"
                    },
                    "text": {
                      "type": "string",
                      "description": "Your SMS message text",
                      "title": "text"
                    }
                  },
                  "description": "sms",
                  "required": [
                    "from",
                    "text",
                    "contentType"
                  ]
                }
              },
              "required": [
                "channels",
                "sms",
                "to"
              ]
            }
          }
        ]
      }
    },
    "/chat-api/v2/messages/{id}/status": {
      "get": {
        "responses": {
          "default": {
            "description": "Returned when the operation successfully connects to Conversations API",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId",
                  "x-ms-visibility": "important"
                },
                "deliveryChannel": {
                  "type": "string",
                  "description": "deliveryChannel",
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-visibility": "important"
                },
                "timestamp": {
                  "type": "string",
                  "description": "timestamp",
                  "x-ms-visibility": "important"
                }
              }
            }
          },
          "404":{
            "description": "No message was found on given ID"
          },
          "403":{
            "description": "Invalid authentication credentials"
          }
        },
        "summary": "Status Check",
        "description": "Check for status of your message",
        "operationId": "StatusCheck",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of your message",
            "x-ms-summary": "ID of your message",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "apikey"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tyntec.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tyntec.com/data-privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Marketing"
    }
  ]
  
}