{
  "swagger": "2.0",
  "info": {
    "title": "tyntec-SMS",
    "description": "Send a custom SMS message using the tyntec conversation API. You can also use Status_check to check status (accepted/delivered/failed)",
    "contact": {
      "name": "tyntec support",
      "url": "https://www.tyntec.com/get-help-support",
      "email": "support@tyntec.com"
    },
    "version": "1.0"
  },
  "host": "api.tyntec.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/chat-api/v2/messages": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId"
                }
              }
            }
          }
        },
        "summary": "Send a custom SMS using tyntec Conversation API.",
        "description": "To send a custom SMS, you need to populate the body of your request. Set contentType to text, channels-key-item to sms, from holds the value of your phone number, to populate with receivers phone number, and text holds the text of your message.",
        "operationId": "Send_SMS",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "This field holds the value of your tyntec Conversation API key received from https://my.tyntec.com/api-settings.",
            "x-ms-summary": "The API key for Conversation API"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string",
                  "description": "Receiver's phone number",
                  "title": "to"
                },
                "channels": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "channels key item",
                    "description": "Connector channel (sms)",
                    "default": "sms"
                  },
                  "description": "channels"
                },
                "sms": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "Your phone number",
                      "title": "from"
                    },
                    "contentType": {
                      "type": "string",
                      "description": "contentType",
                      "title": "contentType",
                      "default": "text"
                    },
                    "text": {
                      "type": "string",
                      "description": "Your SMS message text",
                      "title": "text"
                    }
                  },
                  "description": "sms",
                  "required": [
                    "from",
                    "text",
                    "contentType"
                  ]
                }
              },
              "required": [
                "channels",
                "sms",
                "to"
              ]
            }
          }
        ]
      }
    },
    "/api.tyntec.com/v2/messages/{id}/status": {},
    "/chat-api/v2/messages/{id}/status": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId"
                },
                "deliveryChannel": {
                  "type": "string",
                  "description": "deliveryChannel"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "timestamp": {
                  "type": "string",
                  "description": "timestamp"
                }
              }
            }
          }
        },
        "summary": "Status_Check",
        "description": "Check for status of your Message for given MessageID. Returned response holds the status (delivered/accepted/failed) in the status field.",
        "operationId": "Status_Check",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "To check the status of your message, you need to provide tyntec Conversation API with ID",
            "x-ms-summary": "ID of your message",
            "x-ms-url-encoding":"single"
          },
          {
            "name": "apikey",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Your tyntec API key",
            "description": "Your tyntec Conversation API key received from https://my.tyntec.com/api-settings."
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tyntec.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tyntec.com/data-privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Marketing"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}